[2020-05-11 23:06] markjjo commented on #1832
@music727 As per what you cited about the cases you opened with MS Support, 100K items per day is the limit, which is a limit in the ingestion pipeline. At this time, there are no alternative workarounds. Here's a list of the type of Instant Bloomberg items/elements that may be ingested to O365. I assume an instance of one of these types would be considered "an item" and there can be one or more o

[2020-05-11 23:06] #1832 closed

[2020-05-12 01:06] #1657 closed

[2020-05-12 06:21] hwkwicre opened #1883 "Typo"
"Microsoft 365 compliance enter" in two places

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 643cb341-cf88-69d6-561a-04f0eff3fe3e
* Version Independent ID: fe07a988-a832-92d8-9852-9956ecb2f655
* Content: [Close, reopen, and delete Core eDiscovery cases - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/micro

[2020-05-12 06:28] hwkwicre opened #1884 "Link issue"
I believe that the eDiscovery hold link provided is not exactly right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4119f918-a0b2-4bdc-535e-11d2c476f675
* Version Independent ID: 1520175d-398b-4df1-86db-8ba6b26260df
* Content: [How to identify the type of hold placed on an Exchange Online mailbox - Microsoft 365 Comp

[2020-05-12 08:18] music727 commented on #1832
@musiq787 I believe the above reply was meant for you.

Kind regards,
Milda

[2020-05-12 10:22] musiq787 commented on #1832
Thanks guys. This means that companies should not make investments on O365 Compliance products. Features like Advanced eDiscovery & Communications Compliance are rendered useless if customers wish to unify their data from all sources to meet governance standards.. and all this because a connector like Bloomberg's has an import limit. Complete nonsense.

[2020-05-12 11:25] philstubbington opened #1887 "Should differentiate more clearly between link for Chinese customers and ROW"
The structure of the top of the page is a little confusing, the first link appears to be for the rest of the world, followed by a link specific to Chinese customers.

Should make this clearer, probably with a reference to Vianet.

[2020-05-12 12:01] xNiklasJern commented on #1725
I can just add to this as well. Before it was a good indicator. but now more and more relevant information is removed from the tenant that it less and less attractive to use.
first Devices was removed, now data. soon there is nothing left to score

[2020-05-12 12:31] kmanoliadis commented on #1880
Hi Mark

I’m getting an error on the destination, as it creates the share, it fails after it cannot create the rest of the path, (or because it does not create the rest of the path)

Thanks

[cid:image001.png@01D62837.B27AE880]<http://eepurl.com/UcO71>
_________________________________________
Kosta Manoliadis
Spécialiste de systèmes
[cid:image002.png@01D62837.B27AE880]<http://www.procontact.ca/>

[2020-05-12 12:48] MischaR opened #1888 "No recommendation tip for sensitivity labels is shown in the office apps and iOS"
I set up sensitivity labels according to the documentations and I experience a strange behavior. I think that it is setup correctly as it is working as expected in the web app. In the office app it isn't working. Only when I close the app I see that the recommendation tip is shown. In iOS it isn't shown at all.

Already checked failure sources:
- The file or email already has a sensitivity label t

[2020-05-12 13:04] robidog opened #1889 "Redundant information"
The paragraph after Step 6 ("How the import process works") is somewhat redundant as it merely repeats what was the main topic of the article. It adds no value to the text because by the time I reach it, I have already competed process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c86b2796-06fa-dfa7-bc0b-1a5760a396a0

[2020-05-12 15:22] matstocks opened #1890 "Cannot delist IP"
I have been making repeated attempts to delist our IP for our web/mail server but without success. Who do we contact to escalate this?

[2020-05-12 16:29] markjjo commented on #1889
@robidog Thanks for the feedback. Will take a look. This is added more for "nice to know" information rather than in the sequence of the stepped implementation process, which is why it's at the end.

[2020-05-12 16:29] #1889 closed

[2020-05-12 16:30] markjjo commented on #1883
@hwkwicre Fixed and will be live by EOD. Thanks for heads up.

[2020-05-12 16:30] #1883 closed

[2020-05-12 16:31] markjjo commented on #1884
@hwkwicre Fixed and will be live by EOD. Thanks for heads up.

[2020-05-12 16:31] #1884 closed

[2020-05-12 16:40] Breaker119 commented on #1632
Unfortunately, support via the Service Ticket (Case#19793769) is not providing satisfactory guidance – they have fallen to the “The user needs Global Admin role”. I’ve looped in our TAM now…hopefully we’ll get a resolution either to updating RBAC or a directive to update documentation.

Jason Heiser
about.me<https://about.me/jheiser>

From: Joyce Y. <notifications@github.com>
Sent: Saturday, May 9

[2020-05-12 16:40] markjjo commented on #1832
@musiq787 Would suggest you provide this feedback to engineering team at https://office365.uservoice.com/forums/289138-office-365-security-compliance

[2020-05-12 16:56] markjjo commented on #1880
@kmanoliadis Sorry, I can only point you to the documentation. From the errors you're getting, it looks like a permissions issue to me. From Step 3:

CopyLocation | Specifies the collection location where you want to copy the PST files to. You can copy files to a file server, a network file share, or a hard drive. **_The location must exist before you run the tool in the Collect mode._** The tool

[2020-05-12 18:27] chrisda commented on #1875
@JeroenDronkers, could you clarify?

The two available options are:

- Send a copy of suspicious outbound email messages to specific people.
- Notify specific people if a sender is blocked due to sending outbound spam.

Are you saying that one or both of these settings are only honored in the default outbound spam policy and ignored in any other custom policies? And where does the alert policy 'Us

[2020-05-12 19:33] denisebmsft commented on #1887
Hello @philstubbington! To which article(s) does your feedback apply? This will help us route the issue correctly.

[2020-05-12 19:56] JeroenDronkers commented on #1875
Hello Chris,

The option “Send a copy of suspicious outbound email messages to specific people” only works for the default outbound spam policy.
Any customer outbound spam policy will not generate spam notifications although the “notifications” option is there.
I have raised a bug for this earlier but this is apparently not going to be fixed and causes confusion with customers.
These notifications

[2020-05-12 19:58] JeroenDronkers commented on #1875
Hello Chris,

Sorry for the typo in previous email:
Any customer outbound spam policy will not generate spam notifications although the “notifications” option is there.

This needs to be: Any custom outbound spam policy will not generate spam notifications although the “notifications” option is there.

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services a

[2020-05-12 20:02] mypil commented on #1890
@matstocks - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

[2020-05-12 20:02] #1890 closed

[2020-05-12 20:33] gmi-dsmith opened #1893 "Broken Link for create-safe-sender-lists-in-office-365.md"
The markdown is incomplete:
* Use the available safe sender lists: For information, see [Create safe sender lists](create-safe-sender-lists-in-office-365.md.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bbab747e-1a43-037e-09ca-9c402deec602
* Version Independent ID: 1c6d8e28-034d-24d6-5732-b96475411d6b
* Content: [Ant

[2020-05-12 22:11] get-itips commented on #1861
Hello @ddaanniieell9
Thanks for noticing and reporting.
I checked and could reproduce.
I created a small fix to the script to use a different parameter to get the exact group by name, this is reflected on a pull request, if it gets approval, it will be published.
Thank you!

[2020-05-12 23:02] get-itips commented on #1835
Hello @alexthedude66
Thanks for reporting.
I could reproduce, expect an article update soon.

[2020-05-12 23:02] chrisda commented on #1893
@gmi-dsmith, fixed.

In the future, you, too can make simple updates like this without opening a GitHub issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2020-05-12 23:02] #1893 closed

[2020-05-12 23:26] get-itips commented on #1837
Hello @alexthedude66
To see if we need to update the article, tried to reproduce however I could not reproduce.
I ran the same cmdlets as you and I did not receive any error and could Start the IB.

[2020-05-12 23:29] mypil commented on #1772
@eino-makitalo - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-12 23:29] #1772 closed

[2020-05-12 23:30] owenshaupt opened #1897 "macOS notifications integration"
I really really wish Teams noifications were integrated through my OS. I can't use Do Not Disturb on my computer to control Do Not Disturb in Teams and Slack has supported this well before I ever even used it. This is a wel- known judging by the amount of forum discussion found online, I think this should be standard by now. Updates on timeline for this feature?

---
#### Document Details

⚠ *Do n

[2020-05-12 23:32] mypil commented on #1831
@N4M4 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-12 23:32] #1831 closed

[2020-05-12 23:35] chrisda commented on #1726
@dkotars, fixed and rationalized everywhere. What I found was, this topic was the only place where we got really specific about what end-users can do to their fishing messages.

Thanks for the feedback.

Closing

[2020-05-12 23:35] #1726 closed

[2020-05-13 00:01] bitn-rc opened #1899 "Need further information - Windows 10 upgrade from 7/8 Pro"
This feature of the plan, needs more info about how one goes about using the upgrade with this plan, using the previous key:

"If you have devices that are licensed for Windows 7, 8, and 8.1 Professional, Microsoft 365 Business Premium provides an upgrade to Windows 10 Pro, which is the prerequisite for deploying Windows 10 Business.

 Important
You need to supply the original product key when you

[2020-05-13 00:17] chrisda commented on #1875
@JeroenDronkers, I added notes calling out that notification settings only work in the default policy.

Thank for the feedback.

Closing

[2020-05-13 00:17] #1875 closed

[2020-05-13 05:35] qingsj commented on #1852
Dear All;
if i could know any new update for this ticket please?
thanks

[2020-05-13 05:38] ddaanniieell9 commented on #1861
Thank you, please let me know when this gets published so that I can let the customer that raised this issue know about the update.

Regards,
Daniel Portal

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Tuesday, May 12, 2020 5:12 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Daniel Portal <dportal@microsoft.com>; Mention <mention@noreply.gith

[2020-05-13 09:58] Hamspanner commented on #1781
I guess there has been no response to this question.  I have the same question!  We have lots of clients on E plans that we want to migrate to 365 Business plans

[2020-05-13 10:59] harryboyne commented on #1781
I've spent time with the (MS) Technical Presales team and we're all in agreement that it's possible - it's just the documentation that needs to back it. We're starting to test with clients now.

These were the steps the PTC did to confirm this would work:

1.	Removed Office completely from the VM I was testing on, as to start fresh.
2.	Gave a user in my tenant an Office 365 E3 license.
3.	This use

[2020-05-13 12:25] Dentaky opened #1901 "Проблема со страницей"
Добрый день, на странице техподдержки для России нет адреса электронной почты, куда я могу написать по своей проблеме. Это очень плохо, прошу добавить.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a889f632-ec82-b908-95b1-757f32d31ea2
* Version Independent ID: a1bb913b-5bcb-bb85-919e-e6c8ad98a731
* Content: [Support i

[2020-05-13 13:21] philstubbington commented on #1887
Hi @denisebmsft - that certainly would have helped, wouldn't it? ;)

I meant to add [this link](https://docs.microsoft.com/en-gb/microsoft-365/admin/microsoft-365-admin-center-preview?view=o365-worldwide#participate-in-the-new-admin-center).

[2020-05-13 13:22] UoEMacManagement opened #1902 "Where's the command line?"
"The following command line syntax can be used to silently execute a compatibility scan and find out whether or not Windows Setup assesses the device as ready for upgrade."  A command line should follow, but doesn't.  Please could you add what it should be?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0237c547-b170-9

[2020-05-13 13:34] D-Jeffrey opened #1903 "Please add a note for Network Shared"
Please add a note that the Network Share can not be on a none Windows server (such as a SMB Appliance).  In order to work with such appliance, use a drive mapping to the NetShare instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af5cf2ac-3328-4c0f-486a-20975ae1f2f7
* Version Independent ID: 3d7aaf0f-7da3-c06b-565

[2020-05-13 14:40] nayar34 opened #1904 "Downgrade Office Apps"
There is no guidance on how to downgrade the users from Apps for Enterprise to Apps for Business.  From what I can tell you need to go into an Office app like Outlook and go to your Office Account.  In the Office Account, you can choose Change License and then Update Office.  From my experience though this isn't always working.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-05-13 15:39] JGruszczyk commented on #1902
Hi - the command line would look like: Setup.EXE /Auto Upgrade /Quiet /NoReboot /Compat ScanOnly

Thanks for the comment, will get this added in

[2020-05-13 15:39] #1902 closed

[2020-05-13 15:57] get-itips commented on #1827
Please see https://github.com/MicrosoftDocs/microsoft-365-docs/issues/1835

[2020-05-13 16:55] sbacon17a4 opened #1905 "OAuth on endpoint: https://office365ingestionsvc.gble1.protection.outlook.com/service/ThirdPartyIngestionService.svc"
Does the endpoint, https://office365ingestionsvc.gble1.protection.outlook.com/service/ThirdPartyIngestionService.svc, support OAuth?  It does not appear to support it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d168aa8-f335-f879-d12f-d0b198f2a339
* Version Independent ID: 049d4291-2fd8-c80b-18a8-31e5ecb5fc88
* Con

[2020-05-13 17:12] RAJU2529 commented on #1904
@nayar34. You already experienced in this case,let wait for some days to getting advanced office 365  expert users will reply to you.
Keep waiting.

[2020-05-13 17:14] RAJU2529 commented on #1846
@haggisbreath . I think it depends upon the  internet connection speed, proper DNS server, also contents of the mail attachments and size of the mails

[2020-05-13 17:18] RAJU2529 commented on #1847
@tjk123456789 . Group link is working , first it asks to sign in with company e-mail address.

[2020-05-13 17:51] Kiran21500 opened #1906 "Integration with other domains gmail or non azure ad domains"
When i share files with sensitivity label to other domains rnd user could not open it.

[2020-05-13 17:54] dsaul commented on #592
I go to the site, it tells me my IP is not banned, even though I get a bounce back when emailing office 365. I submit the form, microsoft emails me telling me to use the site that doesn't work. I reply to them telling them it doesn't work, I get a bouceback stating I am banned. This is a Kafka nightmare.

[2020-05-13 18:34] markjjo commented on #1880
@kmanoliadis Please take a look at this github issue that was just opened: https://github.com/MicrosoftDocs/microsoft-365-docs/issues/1903

Not sure if this will fix your issue, but you might try mapping the destination share to a drive letter. I plan on updating the copylocation description and add an example/tip about mapping drive letter.

[2020-05-13 18:37] cmcatee-MSFT commented on #1852
@qingsj Here's the guidance on OneDrive data storage for your Microsoft 365 Home or Personal subscription. The article is [OneDrive storage plan and billing questions](https://support.office.com/en-us/article/OneDrive-storage-plan-and-billing-questions-989fce19-ade6-4e2f-81fb-941eabefee28). Click "I want to uninstall or cancel OneDrive" to find it.

**What happens to my data if I cancel my subscri

[2020-05-13 19:06] TronPhung commented on #1583
I just attempted to use this module and also noticed that MFA is not supported.  It appears to only allow basic authentication.

[2020-05-13 19:28] D-Jeffrey commented on #1880
_We don't mind the "AS IS" part of this, but then give us the source code so we can fix the bugs in the code to make it work correctly._

[2020-05-13 19:30] selleny opened #1908 "Too many commas"
There are way too many commas in these paragraphs. For example: "in a system" does not need to be between commas in this sentence: In cases where the customer would like to use Microsoft Online Services, in a system, that qualifies as PDIS through its architecture and types of information processed, Microsoft invites its customers to consider amongst other things available solutions, specified bel

[2020-05-13 20:05] alehaa commented on #592
For my IP, the [delist portal](https://sender.office.com) tells me, that it's not listed, too. However, it also states for delisting the IP for Outlook.com, Hotmail and Live, you need to use [another form](https://support.microsoft.com/en-us/supportrequestform/8ad563e3-288e-2a61-8122-3ba03d6b8d75). I tried this form and got the response, my IP does "not qualify for mitigation". The reply asks me t

[2020-05-13 20:16] markjjo commented on #1880
@D-Jeffrey Ask here: https://office365.uservoice.com/forums/289138-office-365-security-compliance?category_id=379531

[2020-05-13 20:41] mypil commented on #1906
@Kiran21500 - May we know which Microsoft document link you used in reference to this issue? Or are you having some technical issues which requires technical support?

If you have some issues with a particular doc, we would really appreciate it if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2020-05-13 20:53] joloco commented on #592
I run a server which has very little mail activity (a dozen emails a day would be busy) yet Microsoft's algorithm has somehow decided that there is suspicious activity coming from my IP address.

Entering my server's IP into block-list checking sites shows nobody else is flagging it, and I've even searched through the logs, which show that there are hardly any emails to Microsoft domains, and thos

[2020-05-13 22:00] markjjo commented on #1903
@D-Jeffrey Thanks for the heads up and the suggestion. I updated the CopyLocation parameter description with your suggested fix.

https://docs.microsoft.com/en-us/microsoft-365/compliance/find-copy-and-delete-pst-files-in-your-organization?view=o365-worldwide#step-3-copy-the-pst-files-to-a-collection-location

[2020-05-13 22:00] #1903 closed

[2020-05-13 23:55] mypil commented on #1820
@richard-bf1 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/26225b5ff1eb7c3a6b679cd49c7555166a4549ae.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-13 23:55] #1820 closed

[2020-05-13 23:58] mypil commented on #1626
@challengelogic - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @get-itips so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-13 23:58] #1626 closed

[2020-05-14 00:05] mypil commented on #1782
@Markus-Hanisch  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @get-itips so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-14 00:05] #1782 closed

[2020-05-14 00:13] mypil commented on #1741
@mickday - You can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this issue can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

[2020-05-14 00:17] mypil commented on #1838
@DeanGross - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-14 00:17] #1838 closed

[2020-05-14 03:15] joesuffceren opened #1912 "Note about Outlook sync behavior/impact"
I am piloting adding delete-only policies for Exchange. I've noticed that after the policy is applied and start-managedfolderassistant is run, there is a great deal of sync activity that negatively impacts Outlook performance.

Policy: do not retain. Delete after 3 years
Client: Outlook Pro Plus Semi-Annual 1908
Client setting: cached mode, keep most recent 1 year offline

Even though none of the

[2020-05-14 03:26] Kiran21500 commented on #1906
Hi joyce,

Thanks for your mail.

https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files?view=o365-worldwide

I am refering to above site where i have applied sestivity labels with all neccessary permissions to files and sharing with non azure domains and public domains still the end users are getting they dont have permission to open and could not o

[2020-05-14 03:29] maxw3l opened #1913 "Region Limitations - Again"
I would hazard a guess that the ongoing region limitation on Cortana is one of the reasons for its demise as a personal assistant platform.

Even now, with the revised Cortana, most features are nerfed for anyone who does not live in the United States.

I cannot begin to understand this decision making. Cortana should either be switched off completely in Windows 10 if it can't be used fully, or ma

[2020-05-14 04:22] shamst commented on #1623
Hi,

I was trying to use report messages add-in via outlook client 2016 but couldn't find the add-in in the client application.

I am able to see the report messages add-in in office 365 web app but most of our users use only outlook client app.
Any suggestion of help would me much appreciated.

[2020-05-14 06:57] qingsj commented on #1852
Dear Catee, thanks for the reply, may i know for the "If you continue to exceed your storage limit for an extended period of time, your account will be frozen. For info about bringing a frozen account back into good standing", how long will be the “extended period of time” please~? thx

[2020-05-14 08:12] hwkwicre opened #1917 "Typo?"
"Retention label names are immutable, which means that they and cannot be edited after they're created."
They and what?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ad620-438b-dae8-26df-258406e97152
* Version Independent ID: 6850f86a-00b4-cc5d-b1eb-ae48d5f7025a
* Content: [Overview of retention labels - Microsoft

[2020-05-14 10:25] MaratMussabekov commented on #1712
Hello, @SteveMinar
it is now located at Settings-> Settings
![image](https://user-images.githubusercontent.com/48041687/81923379-04e81200-95f7-11ea-8a13-90ab35398341.png)
I will create a PR to add this info to the article
Thank you

[2020-05-14 10:59] SMillerIT commented on #1493
Hi sorry for crashing the party, but I am in the same position.
@cmcatee-MSFT I think the original post was asking - if its not there what do we do. Your closing reply stating that its not available via CSP or VL misses a solution. How do we add more storage?

[2020-05-14 11:18] PrasadKasireddy commented on #1917
Thanks for reporting - this extra word "and" has been fixed in PR https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1856, Microsoft team needs to merge

[2020-05-14 13:06] mccollek commented on #1493
Sorry, we could have both been clearer.  You have to ask your CSP to add
it; you can't do it on your own.

On Thu, May 14, 2020 at 7:00 AM SMillerIT <notifications@github.com> wrote:

--
Karl McCollester
1122 Lady St #1050
Columbia, SC 29201
www.udhaa.com
803-250-1301
PGP Public Key
<https://keys.mailvelope.com/pks/lookup?op=get&search=0xD56377DBEABAC39E>
Need to meet?: https://calendly.com/mckarl

[2020-05-14 14:14] msbemba commented on #1803
@neeksnz  Thank you for your feedback. We have modified the doc via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1919

Thanks
Sri

[2020-05-14 16:26] curtrobinson106 commented on #1905
A little more info from the 17a-4, llc (our company) side.

Using the

We have a solution that writes to the Third-Party-Endpoint using Basic Authentication without issue. I have a method in our application that will create an OAuth token, which works successfully against the regular Office365 EWS endpoint (https://outlook.office365.com/ews/exchange.asmx) without issue. However, when I attempt to

[2020-05-14 17:02] stevelee101 commented on #1082
@mypil - in the meantime can we clarify and add msbemba's details because it continues to cause confusion with customers.

[2020-05-14 17:04] markjjo commented on #1905
@sbacon17a4 @curtrobinson106

From engineering: "This does not support OAuth. The user has to use the credentials to authenticate."

From Step 4 in article, these credentials are "The sign-in credentials (Microsoft 365 user ID and password) of the third-party data mailbox that you created in Step 2."

Since you are from one of the third-party partners listed in the topic, I would suggest you conta

[2020-05-14 17:04] #1905 closed

[2020-05-14 17:08] kmthrush opened #1921 "Receiving Data Source Error (Table: TenantOfficeLicenses)"
https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide

Step 7:  I am able to successfully login, but when I attempt to connect to my data, I receive the following error:

Data source error{"error":{"code":"ModelRefresh_ShortMessage_ProcessingError","pbi.error":{"code":"ModelRefresh_ShortMessage_ProcessingError","parameters":{},"details":[{"

[2020-05-14 17:15] kmthrush opened #1922 "Data source error - Table: TenantOfficeLicenses - The column 'Any' of the table wasn't found"
https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide

Step 7: I am able to successfully login, but when I attempt to connect to my data, I receive the following error:

Data source error{"error":{"code":"ModelRefresh_ShortMessage_ProcessingError","pbi.error":{"code":"ModelRefresh_ShortMessage_ProcessingError","parameters":{},"details":[{"c

[2020-05-14 17:19] lkuhn65 opened #1923 "Network Connectivity points"
This article needs to provide more detail about how points are earned for the Network connectivity score.  There is not a clear explanation about what specific steps can be taken to improve it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411cc9ec-3de2-9aaf-00b8-d923d2b02f37
* Version Independent ID: c1a0daec-33a1-eb

[2020-05-14 18:32] #1698 closed

[2020-05-14 18:40] chrfox commented on #1717
@dotnick365 investigating if this where these questions should be answered

[2020-05-14 18:46] chrfox commented on #1827
PR with fix merged

[2020-05-14 18:46] #1827 closed

[2020-05-14 19:27] ryanfog opened #1924 "Verifying a message was Zapped"
The page states that message headers are not altered when a message is zapped. I see the following

![image](https://user-images.githubusercontent.com/25650327/81976445-28f32580-95ee-11ea-9982-fe9591fda9e0.png)

This "TimeTravelToQuarantine" seems to align with being zapped.

In addition, I would like the status changed when doing message traces to reflect it being zapped over delivered and then b

[2020-05-14 19:47] cabailey commented on #1917
Thank you for flagging this - this page had had substantial updates that do not include the original typo.

[2020-05-14 19:47] #1917 closed

[2020-05-14 22:10] mypil commented on #1763
@robmacf - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/1f830ffc6d9f9557e1b342e04571bb4baf948d67.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-14 22:10] #1763 closed

[2020-05-14 22:27] denisebmsft commented on #1924
Hello @ryanfog. Thank you for the feedback! Can you please confirm to which article(s) this applies? It will help us route this to the correct writer. Thanks!

[2020-05-14 22:29] ryanfog commented on #1924
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/zero-hour-auto-purge?view=o365-worldwide#feedback

From: Denise Vangel-MSFT <notifications@github.com>
Sent: Thursday, May 14, 2020 5:28 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Ryan Fogle <ryan.fogle@rfogle.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/mi

[2020-05-14 22:35] mypil commented on #1921
Closing this issue as it is a duplicate to issue #1922

[2020-05-14 22:35] #1921 closed

[2020-05-14 22:50] mypil commented on #1705
@dewaltk - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/fd8094b094be99beb0dc3748f85e05867ad6c10e.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-14 22:50] #1705 closed

[2020-05-14 23:07] mypil commented on #1835
@alexthedude66 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/11cd176b7fbb49955e75bb3b69aa5042ddc86762.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-14 23:07] #1835 closed

[2020-05-15 01:48] chienmaboys opened #1928 "Quên mật khẩu quản trị khi chưa đăng ký Reset password"
Hi Support team

Tôi là người quản trị của tài khoản datnt@qnu.edu.vn. Tôi quên mật khẩu đăng nhập vào tài khoản này, và đã cố gắng lấy lại mật khẩu trên trang đăng nhập của Office 365 nhưng không thành công. Lý do được hệ thống báo về là tôi chưa đăng ký thiết lập Reset password. Nhờ Team hướng dẫn xử lý giúp tôi để tôi có thể sử dụng lại tài khoản này bình thường.

Cảm ơn.
Nguyễn Thành Đạt

---

[2020-05-15 03:29] MaratMussabekov commented on #1740
Hello @Emmity ,
**Mail(iOS/MAC) -** iOS/iPadOS/MacOS X native mail client
**Outlook (Mobile)** - Outlook for Mobile
**Mobile** - Any other EAS client

Also, the screenshot is outdaed, I will create a PR to replace it.

[2020-05-15 03:35] MaratMussabekov commented on #1740
Hello @Sirkkuw ,
it looks like I do not have the permission to create a PR here.
When I fork the repository I do not see the "Media" folder, where I need to replace the screenshot.
Original repository:
![image](https://user-images.githubusercontent.com/48041687/82008570-863ab580-9686-11ea-9366-20acb2a56764.png)
My fork:
![image](https://user-images.githubusercontent.com/48041687/82008595-95b9fe80-

[2020-05-15 03:56] Jimnar opened #1929 "Can I confirm step 2 is correct for Search-UnifiedAuditLog?"
Can I confirm the Search-UnifiedAuditLog PowerShell command is accurate for step 2? It produces no results, but I get results for the same user and timeframe for the Search-MailboxAuditLog command.

Search-UnifiedAuditLog -StartDate 01/06/2020 -EndDate 02/20/2020 -UserIds &lt;user1,user2&gt; -Operations MailItemsAccessed -ResultSize 1000 | Where {$_.AuditData -like '\*"MailAccessType","Value":"Syn

[2020-05-15 05:16] Tin-Bui opened #1931 "Australian Tax File Number"
"No keyword from Keyword_Australia_Tax_File_Number or Keyword_number_exclusions is found."
Do you meant "A keyword from Keyword_Australia_Tax_File_Number and No Keyword_number_exclusions is found."?
Otherwise

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c16b548-1fc9-2765-3e8a-7559be41fd9d
* Version Independent ID: 7

[2020-05-15 07:36] richard-artes opened #1933 "Why don't messages disappear from Quarantine after they have been released?"
Why don't messages disappear from Quarantine after they have been released?
Please explain why messages stay in the Quarantine, even after you have clicked on Release and released the message. Do you have to go back and Remove From Quarantine too? Thanks, Richard Artes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c

[2020-05-15 13:48] sbacon17a4 commented on #1905
Hi Mark, thank you for the responses.  We have contacted Microsoft for additional information.  Thanks.

[2020-05-15 14:29] msbemba commented on #1694
@jopgommans THank you for your feedback. We have modified the doc adding a reference to change 2fa settings Via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1935

Thanks
Sri

[2020-05-15 14:31] msbemba commented on #1694
@shereen-yong  Thank you for your feedback. This document refers to every new Microsoft 365 subscription. In your case, I would still recommend you to contact Dynamics Support to get clarity. @mypil  Would you be able to help @shereen-yong  On how to open a Dynamics support case?

Thanks
Sri

[2020-05-15 14:34] jwojan opened #1936 "Instructions for anonymizing data is not accurate"
The steps under "Make the collected data anonymous" points to locations/settings that no longer exist in the current Office 365 Admin Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65732911-21e9-0902-51fa-0d3ae0caaa7a
* Version Independent ID: 3682fff5-36fc-1d69-96ef-88f7f73225d5
* Content: [Enable Microsoft 36

[2020-05-15 14:36] msbemba commented on #1792
@adrianwells Sorry about the confusion. I have a new PR # https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1937 which will modify this document to reference Onedrive as Onedrive for business.

Thanks
Sri

[2020-05-15 14:41] msbemba commented on #1082
@stevelee101 Thank you for your feedback. We have made changes to the doc via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1938

Thanks
Sri

[2020-05-15 14:46] jwojan commented on #1936
It looks like the current mapping to this setting in the UI is under:

Settings, Org Settings, and then Reports.

[2020-05-15 15:44] Jimnar commented on #1929
Perhaps the issue is related to backslashes in this portion of the string? -like '\*"MailAccessType","Value":"Sync"\*' It seems to work when those characters are removed.

[2020-05-15 16:28] wingers999 commented on #1532
@MarkInPA13 - did you ever get this resolved as I am facing exactly the same problem?

[2020-05-15 16:45] elpinto007 opened #1939 "No note about Hybrid scenarios or On prem Synced groups"
Hi

I came across this article and we are having issues with our implementation where we cannot share with Mail Enabled Security groups that are synced from our On Prem AD. I thought this was an issue and raised a ticket with Microsoft. However, I have been informed this is the intended design where mail enabled security groups synced to AAD from On Prem AD do not work.

Could someone please add t

[2020-05-15 16:52] msbemba commented on #1792
@adrianwells Once again thank you for the feedback. As you have seen the author mentioned that our context is M365 rather than home use,  Sp we've made sure all references on this page use "OneDrive", which also matches the current UI in the Microsoft 365 compliance center.

Thanks
Sri

[2020-05-15 16:57] MarkInPA13 commented on #1532
I did not resolve the issue.

[2020-05-15 16:59] wingers999 commented on #1532
Okay thanks for replying, can I ask did you contact Microsoft Support via service ticket or not?

[2020-05-15 17:03] MarkInPA13 commented on #1532
@wingers999 - I did not.  I try to avoid that 5th ring of hell unless it is something absolutely critical.

[2020-05-15 17:05] wingers999 commented on #1532
fair enough, I will give it a try and report back here if any success

[2020-05-15 17:10] denisebmsft commented on #1928
Xin chào Nguyễn thanh đạt! Đây không phải là một cái gì đó chúng tôi có thể giúp bạn với. Vui lòng liên hệ với nhóm hỗ trợ kỹ thuật của chúng tôi để họ có thể hỗ trợ bạn đặt lại mật khẩu.

[2020-05-15 17:11] #1928 closed

[2020-05-15 17:40] dewaltk commented on #1837
I get the same issue, with block policies I have bi-directional policies and they work fine. With allow I only have one policy to allow communication from segment 1 to itself and segment 2.

[2020-05-15 17:43] arourke opened #1940 "Bypassing ATP Safe Links"
We know we can set up black list domains we always want to block, we also know we can exempt domains from being rewritten. Our problem is we have domains that are being picked up as "phish" and "ZapPhish" in AIR that are legitimate. We can of course choose not to act on the AIR investigations that are triggered, but these false positives are clogging up the investigation panel and making it diffic

[2020-05-15 18:41] BerengarEnterprises commented on #1747
I would like to confirm that this information is indeed incorrect. Both phone numbers provide a step by step menu, even stating "we've got more call than usual so waiting times might be higher".

Once every part of the menu has been followed through and "technical support" is selected an English voice states that the offices are now closed and asks to call back during business hours, 7am to 7pm CE

[2020-05-15 18:51] EricaToelle opened #1941 "Please remove mention of SharePoint in Step 2"
In step #2, it says, "will be mapped to a hidden managed property in SharePoint named ComplianceAttribute." I realize on the backend SharePoint and OneDrive are the same, but this wording makes it seem like the ComplianceAttribute will be synced to SharePoint sites, which is not true. ComplianceAttribute is only available in OneDrive accounts.

Can you please update the language to remove the ment

[2020-05-15 19:00] markjjo commented on #1929
@Jimnar Thanks for the heads up and following back with the fix. The backslash is an escape character in markdown, though it looks like it doesn't work in the cmdlet syntax code block. Not sure why it's there in the first place. Anyway, I will remove all backslashes. Thanks again!

[2020-05-15 19:00] #1929 closed

[2020-05-15 19:05] markjjo commented on #1941
@EricaToelle Will do. Thanks for the heads up. Change (remove reference to SharePoint) should be published by end of day.

[2020-05-15 19:05] #1941 closed

[2020-05-15 20:28] chrfox commented on #1717
HI @dotnick365
These are great questions and I will take them as items to be worked into the content over the next few months. Thanks for asking them

[2020-05-15 20:28] #1717 closed

[2020-05-15 20:34] chrfox commented on #1718
@dotnick365  thanks for the great questions, I have taken them as work items to be added to updated content over the next few months.

[2020-05-15 20:34] #1718 closed

[2020-05-15 20:42] chrfox commented on #1724
Hi @katrakovic
Thanks for your comment. Can you please clarify what you mean by 'external policies'.

Thanks

[2020-05-15 20:54] andrewpong commented on #1621
I thought I was doing something wrong — will using PowerShell cut the time needed for permissions to take effect?

[2020-05-15 21:13] chrfox commented on #1779
Hi @katrakovic
Those are just the names of sample polices that were created for the purposes of illustration.

[2020-05-15 21:13] #1779 closed

[2020-05-15 23:24] gavinmckay opened #1942 "Records Management compliance statement"
Can we please include which Records Management standard this functionality is compliant with? It doesn't comply with ISO 15489 or ISO 16175 which are applicable to Australia, New Zealand and the United Kingdom. It does comply with US Federal Records Management.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc52e4d6-63

[2020-05-16 00:13] P-padre opened #1943 "Hello Micro soft there are couple issues in help with one"
I received a message for providing a new method of payment. the system has a glitch for the
 can you send me a link where i can change the method of payment for my email  account puerto.

Also how do i get register as customer Microsoft products trading products at wholesale please advise thank you?   I get orders for electronic products and they often time ask for price quotes at wholesale.
Let m

[2020-05-16 00:20] mypil commented on #1815
@Lorenbain - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @joinimran  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-16 00:20] #1815 closed

[2020-05-16 00:24] mypil commented on #1847
@tjk123456789 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @joinimran & @RAJU2529  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-16 00:24] #1847 closed

[2020-05-16 07:33] ludwigs82 opened #1944 "Link not working"
"Download the ISO/IEC 27001:2013" https://go.microsoft.com/fwlink/p/?linkid=2100068

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea391196-6a78-34ac-becb-be7622c9f423
* Version Independent ID: 8e34eedc-30bf-aa9f-60d3-e678fcb13411
* Content: [ISO/IEC 27001:2013 Information Security Management Standards - Microsoft Comp

[2020-05-16 07:33] #1944 closed

[2020-05-16 10:43] cedwards-telis commented on #1621
@andrewpong  Unfortunately it will not.

[2020-05-16 15:08] mypil commented on #1908
@selleny  - Thank you for pointing this out.

I will get this issue over to the Microsoft 365 writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-05-16 15:10] mypil commented on #1908
@JohanFreelancer9 - As discussed, please assist to do a copy/edit review to this doc and create a PR to resolve this issue. Thank you!

[2020-05-16 15:26] DeanGross opened #1945 "Baseline concept"
Putting Information Protection and Threat Protection in the M365 silo implies that they don't apply to Azure and Power Platform which is not good. These are not services that are limited to M365 tenants, We need to plan to protect all the services. Adding another layer between AAD and the Subscription and Instance layer would help make this clear

---
#### Document Details

⚠ *Do not edit this sec

[2020-05-16 18:32] bali0014 opened #1946 "Broken Link"
The hyperlink / redirect to Download the ISO/IEC 27001:2013 -  to is broken
Link: https://go.microsoft.com/fwlink/p/?linkid=2100068
Redirect: http://download.microsoft.com/download/1/2/9/12926039-8F90-4BAF-AC8F-7124D48F400B/ISOIEC_27001_Compliance_Backgrounder.pdf

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea391196

[2020-05-16 21:01] mypil commented on #1792
@adrianwells - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-16 21:01] #1792 closed

[2020-05-16 21:19] mypil commented on #1712
@SteveMinar - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/1b4f6f7a2916e3d973a650a93f69ff0be59d074c.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-16 21:19] #1712 closed

[2020-05-17 06:06] win-prac opened #1949 "SCCM LAB Kit Hyper-v server virtual machine won't turn on."
Hello Team,

I installed Hyper-v on my windows 10 machine. Downloaded the SCCM lab kit and ran the setup. I got all the virtual machines and its switches created in the hyper. The windows 7 machines are working fine, but the servers are not turning on. In the event log got the following error, "'HYD-DC1' was reset because an unrecoverable error occurred on a virtual processor that caused a triple

[2020-05-17 06:14] win-prac commented on #1949
Hello Team,

I installed Hyper-v on my windows 10 machine. Downloaded the SCCM lab kit and ran the setup. I got all the virtual machines and its switches created in the hyper. The windows 7 machines are working fine, but the servers are not turning on. In the event log got the following error, "'HYD-DC1' was reset because an unrecoverable error occurred on a virtual processor that caused a triple

[2020-05-17 10:21] GiantCrocodile opened #1950 "Mention delay between activity happened and email notification is sent"
Hello,

with activity alerts there were some hours of delay between the moment when an activity happened and when the email notification is sent. If this is the same for alert policies, this delay should be mentioned as it's important to know about. This seems to be a known limitation of this feature and doesn't seem to be a bug. Please verify if alert policies have the same kind of delay and if y

[2020-05-17 11:26] ryanharnwell commented on #1781
This is a very common scenario and needs to be part of the documentation.

[2020-05-18 01:42] Eddieyc opened #1951 "M365E1"
[Enter feedback here]
there is no Microsoft 365E1, please rectify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24e97a56-f8f5-3725-cfda-954ec3ba71f6
* Version Independent ID: 0626a65e-d55d-48c7-90fe-1f982a18d729
* Content: [Get started with core eDiscovery cases in Microsoft 365 - Microsoft 365 Compliance](https://doc

[2020-05-18 02:28] SeCossio opened #1952 "Licensing Information"
Please include the license SKU required to take advantage of this feature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c09539c9-e275-d939-4142-22778724fa31
* Version Independent ID: f11a5861-65ed-ecb8-5bff-a4cbb1602c0a
* Content: [Overview of Data Investigations (Preview) in Microsoft 365 - Microsoft 365 Compliance](

[2020-05-18 03:47] IrolPinto opened #1954 "Step 3 (optional): Set up groups for communication compliance"
As per the chart, We cannot add groups yet in communication compliance for reviewers.

 In the policy, you'll use email addresses to identify individuals or groups of people. To simplify your setup, you can create groups for people who have their communication reviewed and **groups for people** who review those communications. If you're using groups, you may need several.

[2020-05-18 10:05] bloodytourists opened #1955 "Cannot use Delete with ReviewerEmail"
The document states that you can enter a value for ReviewerEmail if the outcome is Delete of KeepAndDelete. This is incorrect, as a Reviewer can only be specified for KeepAndDelete. If you try and add a Reviewer to Delete then it will fail validation

"Validation failed in the provided CSV at row 1 column "ReviewerEmail". Error: ReviewerEmail can only be applied when retention action is KeepAndDel

[2020-05-18 10:11] Moshe-RA opened #1956 "Capitalization?"
The new names for MS 365 Apps for "business" and MS 365 Apps for "enterprise" are conspicuously lowercase. Is this intentional?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76d2d2b9-6658-1cb2-68f7-8fc7b20babb9
* Version Independent ID: ac7218d6-3d3f-6297-d3ca-e80c04ad525d
* Content: [Office 365 is now Microsoft 365 -

[2020-05-18 12:12] ThijsLecomte opened #1957 "Junk email settings for EOP/ATP"
Can we have some more clarification that the safe sender lists only have effect on EOP policies and not on ATP policies (such as Anti Phishing, Safe Attachments etc)

It's confusing and it's not clearly labeled in this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bec871b-790f-6826-b8f8-d1b7830c49ab
* Version

[2020-05-18 12:46] GiantCrocodile opened #1958 "Migrate UserLoggedIn Activity Alerts to Alert Policies"
Hello,

according to the documentation Activity Alerts are deprecated. They should be migrated to Alert Policies. How can Office 365 E3 tenants convert activities that are missing in Alert Policies from Activity Alerts? E. g. UserLoggedIn activity exists in Activity Alerts but doesn't exist in Alert Policies.

1st and 2nd level Support doesn't have a solution beside buying a higher/additional lice

[2020-05-18 15:13] PrasadKasireddy commented on #1956
@Moshe-RA  - Yes, these names are lowercase.
Please refer the Announcement from Microsoft  - https://www.microsoft.com/en-us/microsoft-365/blog/2020/03/30/new-microsoft-365-offerings-small-and-medium-sized-businesses/

Office 365 Business and Office 365 ProPlus will both become Microsoft 365 Apps. Where necessary we will use the “for business” and “for enterprise” labels to distinguish between the

[2020-05-18 15:25] mbender-ith opened #1959 "Licensing for Archive"
Could this article please elaborate more clearly whether a (paid) license is required in order to be able to maintain and restore mailbox (and mailbox archive) for an employee which has left the company. Imagine the user with an active EXO P2 had retention policies in place which moved "all" e-mails to the archive with a hold time of 2years. Now the employee leaves the company, but for compliance

[2020-05-18 16:13] DeanGross opened #1960 "Sign in risk evaluation"
In the require MFA based on Sign-in risk section, the table shows "Highly regulated	Leave all options unchecked to always enforce MFA". How does this provide more protection than "Sensitive	High, medium, low	Check all three"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0edb16f-03bd-e6f8-87e1-7fc713db726d
* Version

[2020-05-18 16:22] denisebmsft commented on #1954
Hello @IrolPinto! To which article(s) does your feedback apply? It'll help us route the issue correctly.

[2020-05-18 16:46] bbeasley-opg opened #1961 "We need more specifics for drilldown reporting"
All the metrics and reporting provided are wonderful but we are trying to push adoption in a specific area with specific set of users.  There is not a way to track this it seems.  I have looked at built in reports both at site and O365 Admin Center.  Even the Microsoft 365 Analytics data does not seem to have the detail.  We need to track a specific folder or file after pushing announcement/policy

[2020-05-18 16:49] robmazz commented on #1908
PR merged - resolving

[2020-05-18 16:49] #1908 closed

[2020-05-18 16:51] robmazz commented on #1901
From Bing Translator:

Good afternoon, there is no email address on the technical support page for Russia, where I can write on my problem. That's very bad, please add.

[2020-05-18 16:57] robmazz commented on #1850
Associated PR merged - resolving

[2020-05-18 16:57] #1850 closed

[2020-05-18 17:20] alexshte commented on #1945
Agree with your comment, but see my statement right after the picture "When you learn to swim it's better to start in the pool and not in the middle of the ocean. I am not trying to be technically accurate with this diagram. It's a model to discuss some basic concepts."

LMK if you think that explains the intention.

[2020-05-18 17:32] #1945 closed

[2020-05-18 18:00] cmcatee-MSFT commented on #1901
@Dentaky Customer support for business subscriptions is only available online via the Microsoft 365 admin center, or by telephone. If you are a Microsoft 365 admin, please use one of those options. If you do not have a business account, please contact consumer support by using [this form](https://support.office.com/home/chat?ContactUsExperienceEntryPointAssetId=S.HP.Main).

[2020-05-18 18:00] #1901 closed

[2020-05-18 18:17] BobbyVillela opened #1963 "OneNote Account"
I briefly used the login information from work to open TEAMS on my personal PC and now I can't sign in to ONENOTE with my personal email.  It still has my work email and it will not allow me to "switch" emails.
Keep getting this error: Error: "an unexpected host was loaded when attempting to perform silent auth"
Date: 2020-05-18T15:16:18.230Z
Session ID: fb9de8ef-e57b-440a-acb2-34026335547b

[2020-05-18 18:38] alehaa commented on #592
Apparently my IP got delistet without any notice, even if I was told my server doesn't qualify ...  I really think this process needs a little bit more transparency.

[2020-05-18 19:35] markjjo commented on #1959
@mbender-ith After the mailbox is made inactive, you have the option to recover it (convert it to an active mailbox) or restore it (copy contents from inactive mailbox to a different active mailbox). Please see:

- Recover - https://docs.microsoft.com/en-us/microsoft-365/compliance/recover-an-inactive-mailbox

- Restore - https://docs.microsoft.com/en-us/microsoft-365/compliance/restore-an-inactiv

[2020-05-18 19:35] #1959 closed

[2020-05-18 20:04] #1951 closed

[2020-05-18 20:13] markjjo commented on #1950
@GiantCrocodile For activity alerts (which as you know are deprecated) the delay may be due to the same SLA when events are ingested to unified audit log after they occur (30 minutes or 24 hours) See https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#before-you-begin). I also imagine there could be an intermittent delays in

[2020-05-18 20:13] #1950 closed

[2020-05-18 20:29] denisebmsft commented on #1940
Hello @arourke, and thank you for posting this question. I am looking into this, and I'll post an update here as soon as I have an answer for you.

[2020-05-18 20:30] mypil commented on #1963
@BobbyVillela - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-05-18 21:36] CarissaB117 opened #1964 "Columns in OneDrive"
Regarding this comment: You can also create a view of the library that contains the Labels column or Item is a Record column, so that you can see at a glance the retention labels assigned to all items and which items are records. Note, however, that you can't filter the view by the Item is a Record column.

Is this only available on the Admin side? I can't see that there is any column available to

[2020-05-18 21:42] markjjo commented on #1958
@GiantCrocodile As I'm sure you know,  in the UI, you can create custom alert policies only for the activities in the Activities Is dropdown list. You might try using the [New-ProtectionAlert](https://docs.microsoft.com/en-us/powershell/module/exchange/policy-and-compliance/new-protectionalert?view=exchange-ps) cmdlet; see Example 1.

As you point out in the link to the Office Voice, this feedback

[2020-05-18 21:42] #1958 closed

[2020-05-18 21:54] GiantCrocodile commented on #1958
@markjjo I will check out that cmdlet. Thank you for this information!

Is it correct that when Activitiy Alerts are removed, the Activity Alerts created via the button in the Audit Log Search page are still working and that the Activity Alerts of the Cloud App Security panel are independent from the deprecated ones or are all of these policies with the same name being based on the deprecated feat

[2020-05-18 22:01] Air-Git opened #1965 "Clarification"
This page refers to special characters: "Prefixes and suffixes can contain special characters supported in group name and group alias".
I am unable to find any reference to define what special characters are supported in a group name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbd68ed6-8c0c-3605-1179-b5d2e3b7f20a
*

[2020-05-19 00:13] markjjo commented on #1958
@ Apologies, this is confusing. IMO, the "New alert policy" button on the audit log search page should have been removed a long time ago. This button does not create alert policies (New-ProtectionAlert). It lets you create an activity alert (New-ActivityAlert), which are being deprecated as you cited. I imagine existing activity alerts alerts will continue to work until they don't, but at some poi

[2020-05-19 00:52] burma-shave opened #1966 "Save problems after GA"
The doc describes a limitation when saving using the desktop and mobile apps:
"Users can experience save problems after going offline or into a sleep mode when instead of using Office for the web, they use the desktop and mobile apps for Word, Excel, or PowerPoint. For these users, when they resume their Office app session and try to save changes, they see an upload failure message with an option

[2020-05-19 00:56] cabailey commented on #1830
@jreyes4949  Did you get an answer from Support?  It's the "timer job" documented as running "periodically" and for SharePoint/OneDrive it can take up to 7 days.  So, worst case scenario, 7 days for content to be deleted after the retention period expires.  I'm looking to make this clarification in the docs now.

[2020-05-19 01:29] cabailey commented on #1966
@burma-shave  Yes, this is still a potential issue at G and it is specific to labels that apply encryption, but changes mentioned could be content changes, or label changes.  You can track the issue by monitoring this section because I delete items when I get confirmation from engineering that they are resolved. Alternatively, you might like to start a new UserVoice entry to register your interest

[2020-05-19 01:29] #1966 closed

[2020-05-19 01:53] cabailey commented on #1888
MischaR  Looks like you've done your homework on this although this capability isn't supported on iOS, as per the tables: https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-office-apps?view=o365-worldwide#support-for-sensitivity-label-capabilities-in-apps

Seeing the recommended tooltip after closing the app (all apps - Word, Excel, PowerPoint, and Outlook?) does sounds l

[2020-05-19 01:53] #1888 closed

[2020-05-19 01:56] jspa711 opened #1967 "ReadCount parameter is part of Get-Content not New-DlpSensitiveDataTypeRulePackage"
New-DlpSensitiveInformationTypeRulePackage -FileData (Get-Content -Path "PathToUnicodeXMLFile" -Encoding Byte) -ReadCount 0

Should be:

New-DlpSensitiveInformationTypeRulePackage -FileData (Get-Content -Path "PathToUnicodeXMLFile" -Encoding Byte -ReadCount 0)

[2020-05-19 02:05] cabailey commented on #1906
@Kiran21500  Authenticating users from a social provider isn't support for encrypted documents that reside in SharePoint.  What you might be able to do here, is add them as guest accounts to your tenant in Azure AD or they use a Microsoft account with the email address of their choice - currently checking to see if this authenticated is accepted for this scenario.  However, a browser without Offic

[2020-05-19 02:06] faoquong commented on #1933
@chrisda
If end users do not want messages to remain in their quarantine, they can delete the messages. otherwise, the messages will expire from quarantine after 30 days.

[2020-05-19 05:19] mbender-ith commented on #1959
@markjjo Thank you very much for your elaborate response. Please allow for one further clarification question:

Imagine that the mailbox had EXO P2, retention policies enabled. Now mailbox is set to inactive and license is re-assigned to another user. I still do not understand how long the contents of the mailbox (and particularly its archive mailbox) will be restorable / recoverable.

In other wo

[2020-05-19 06:23] eduardosantos1989 opened #1969 "Microsoft 365 API query"
Dear All,

Is there any way to run advanced queries via API on the new Microsoft 365 Security Center platform, which means that for example specific EmailEvents or AlertInfo are available to be collected to third party systems.
Thank you.
Edmond

[2020-05-19 09:05] win-prac commented on #1949
Hi @denisebmsft

I am closing this issue. It was for "https://docs.microsoft.com/en-us/microsoft-365/enterprise/modern-desktop-deployment-and-management-lab?view=o365-worldwide".
I created new virtual machines using the lab kit vhd files and it works fine now.

Thanks and Best Regards.

[2020-05-19 09:05] #1949 closed

[2020-05-19 11:35] ChongAlan opened #1970 "Video and the text content publish is not match"
The page title is Remove a former employee, the steps listed do not match the steps in the video - Delete a user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Version Independent ID: 702f2dc1-46f8-508a-68bc-b5d033c56a9a
* Content: [Remove a former employee - Microsoft 365 admin]

[2020-05-19 12:04] joloco commented on #592
My IP was removed from the block list, after a bit of back-and-forth with actual humans (as opposed to auto-reply bots) at Microsoft. Took about 5 days in total.

I told that I wouldn't be informed why it was put on the block list in the first place (something to do with privacy reasons). None of Microsoft's own tools ever gave me any information about why it was added in the first place.

So yes,

[2020-05-19 12:23] lefodnes commented on #1652
Well, there is only the *.onmicrosoft.com address to select. I wanted to change to my real address, but I do not want to have microsoft host my email. I have my own email server. Problem now, is that all my contacts on teams believe I have this onmicrosoft.com address. This article gave me hope there was a solution, but turns out it did not give any solution to this.

[2020-05-19 13:33] vwethan opened #1971 "ATP Safe Links licensing requirements"
Please be more specific in this line: "ATP is included in subscriptions, such as Microsoft 365 Enterprise, Microsoft 365 Business Premium, Office 365 Enterprise E5, Office 365 Education A5, etc."  It's confusing.  Microsoft 365 Enterprise E5 is the only M365 Enterprise is the only one that includes O365/M365 ATP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-05-19 14:59] BobbyVillela commented on #1963
Thank you for replying @mypil - When I attempt to send a page (or anything) from my email, I click on the three dots on the upper right and select ONENOTE, this is where my work email is still there.  If I try to SWITCH accounts, I get the error mentioned above.  It will not let me switch accounts.
We
![OneNote 1](https://user-images.githubusercontent.com/60328520/82342595-6c1b1300-99b7-11ea-8475-

[2020-05-19 15:42] GiantCrocodile commented on #1958
Thanks for the great details @markjjo! This helped with better understanding the other information from the ongoing service request. When we find a feasible solution, I will post it here for other people with the same requirement. Right now, Cloud App Security isn't working as expected so I can't say more at the moment.

[2020-05-19 16:26] denisebmsft commented on #1969
Hello @eduardosantos1989. Can you please tell us to which article(s) your question applies? This information will help us route the issue to the correct writer/team. Thanks!

[2020-05-19 16:59] markjjo commented on #1952
@SeCossio Because Data investigations is in public preview, there is no SKU requirement. When it's eventually released to General Availability, I assume it will require an E5 subscription because many of the features in Data investigations are similar to those in [Advanced eDiscovery](https://docs.microsoft.com/microsoft-365/compliance/get-started-with-advanced-ediscovery?view=o365-worldwide).

[2020-05-19 16:59] #1952 closed

[2020-05-19 17:29] markjjo commented on #1959
@mbender-ith The short answer is "no", no license is required to prevent data from being deleted before the date an any hold applied to the mailbox.

An inactive mailbox will persist indefinitely (dare I say forever) **or** until you [remove the holds](https://docs.microsoft.com/en-us/microsoft-365/compliance/delete-an-inactive-mailbox?view=o365-worldwide) that are placed on the mailbox. As long a

[2020-05-19 18:07] cyanogenmod890 opened #1973 "..."
!;:'B"?/^[@

---
#### Pojedinosti o dokumentu

⚠ *Nemojte uređivati ovu sekciju. Obavezno za docs.microsoft.com ➟ problem s povezivanjem na repozitoriju GitHub.*

* ID: cae455d4-6bc8-e72a-90d0-08c6ed0ef578
* Version Independent ID: 8fa768f4-f150-8fb8-cc02-d9028db6a913
* Content: [Install Office applications - Microsoft 365 admin](https://docs.microsoft.com/hr-hr/microsoft-365/admin/setup/install-a

[2020-05-19 18:38] toddjohnson39 opened #1974 "Web Only Access - Reduce your attack surface and ease administration"
Can you please provide specifics on how the CA policy restricting access to Web Only is able to  "reduce your attack surface and ease administration"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4945844-0f8f-2691-1092-0025cc19c683
* Version Independent ID: adc60afc-fb2a-dd5c-9217-6e074abc8dc0
* Content: [Create a s

[2020-05-19 20:25] mypil commented on #1967
@jspa711 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-05-19 20:26] mypil commented on #1973
@cyanogenmod890 - We would like to get some details from you. Can you please share what specific issue you have and for which doc? Kindly provide the doc link so we can investigate.

Thank you.

[2020-05-19 20:47] bakerm00 opened #1978 "in ability to feedback on product via uservoice on "this product""
because some calculations are plainly wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ebdb9f0-76a5-eebc-4cd7-95f5407ed029
* Version Independent ID: 05abf201-e31c-08c0-a7fc-8fd46202e8b0
* Content: [Microsoft 365 usage analytics - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analy

[2020-05-19 21:19] cabailey commented on #1942
@gavinmckay  Thanks for your feedback. These technical docs focus on how to use the records management solution in Microsoft 365.  When implemented, this feature can help you be compliant with the regulations you need to follow. Certifications for our products are typically documented in the Service Trust Portal (https://servicetrust.microsoft.com/).  If you can't find what you're looking for ther

[2020-05-19 21:19] #1942 closed

[2020-05-19 21:52] cabailey commented on #1912
@joesuffceren  Hi, thanks for trying out retention policies for Exchange.  I asked engineering for advice about your post and I was told that there are too many variables for different environments to include anything meaningful in the docs about expected network traffic.  However, to provide more information about what's going on in the background, you might find it helpful to read this deep-dive

[2020-05-19 21:52] #1912 closed

[2020-05-19 23:15] mypil commented on #1803
@neeksnz - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/35619fe621711f219ab69649a5bef04d3c847815.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-19 23:15] #1803 closed

[2020-05-19 23:18] mypil commented on #1753
@adrwh - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/f9d9ddbe9da33cf5dbf712537f3a405b50401f67.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-19 23:18] #1753 closed

[2020-05-19 23:20] mypil commented on #1633
@Remi007 - Thank you for submitting feedback.

Please see the response from the author based on this https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1868#issuecomment-626675416. We will close this issue now.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-19 23:20] #1633 closed

[2020-05-19 23:27] cabailey commented on #1964
@CarissaB117  In SharePoint, you're looking for the "Add column" > "Show/Hide columns" option.  Documented here: https://support.microsoft.com/en-us/office/show-or-hide-columns-in-a-list-or-library-b820db0d-9e3e-4ff9-8b8b-0b2dbefa87e2

[2020-05-19 23:31] mypil commented on #1963
@BobbyVillela - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution

[2020-05-19 23:31] #1963 closed

[2020-05-20 01:45] Jimnar opened #1983 "Is internet-message-id correct?"
Should this text say InternetMessageID instead of internet-message-id?

Access or collect all email messages the attacker accessed by using the internet-message-id to find them and then checking to see if any of those messages contains sensitive information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cea44342-2111-

[2020-05-20 02:53] MikeAms opened #1984 "Hover.com pages are not up to date"
These are not the current DNS record screens from Hover.com. for adding SRV records. We're having trouble reconciling the two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2e4e45-6ad7-eb79-aecb-0d7a89b06a03
* Version Independent ID: 1059223e-5759-b130-41ac-5ea98cb5367e
* Content: [Create DNS records at Hover for Mi

[2020-05-20 06:01] eduardosantos1989 commented on #1969
Dear @denisebmsft,
I think this question is related to security/mtp platform.
Thank you!

[2020-05-20 12:54] msbemba commented on #1781
Thank you, Everyone, for the feedback. We have modified the document with more information via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1985

Thanks
Sri

[2020-05-20 13:43] crankedguy commented on #740
Hi,

sorry for opening this again but I cannot see that the issue from the OP has been solved. He was talking about enumerations for the SFS headers specifically. No one knows what the numbers mean. And since one of your latest updates all MS Exchange servers I send an email to classify my private and corporate mails as spam. Somehow ridiculous depending on the fact that I am managing email server

[2020-05-20 13:54] cabailey commented on #1955
@bloodytourists  Thanks for flagging this.  Yes, you must have a retain setting for disposition review, not supported for delete-only.  Fixing in the docs and should be live later today.

[2020-05-20 14:45] mbender-ith commented on #1959
Thank you very much for your elaborate response

[2020-05-20 15:56] ericorman opened #1986 "Please add link to the security and compliance portal"
Step #1 of turning on Audit should be to navigate to the security and compliance portal, could you please provide link to url https://protection.office.com/unifiedauditlog as step #1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6aa9c0c-c1ba-a464-3724-2060b61df19b
* Version Independent ID: 1d2e74f1-d2b8-6cdf-a9ea-e5

[2020-05-20 16:53] Jimnar opened #1988 "OperationsProperties or OperationProperties?"
Should references to OperationsProperties actually be OperationProperties, without the 's'?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cea44342-2111-160b-9806-d03e3ee00b1b
* Version Independent ID: ec9c9bc5-cfab-420a-c4c3-20184a7112ad
* Content: [Use Advanced Audit to investigate compromised accounts - Microsoft 36

[2020-05-20 16:54] markjjo commented on #1983
@Jimnar Thanks for heads up. I'll change to InternetMessageId, which is the property name in the MailItemsAccessed audit record.

[2020-05-20 16:54] #1983 closed

[2020-05-20 17:50] bloodytourists commented on #1620
I fell foul of the same issue, before I read this closed comment. The examples above still reference https intead of http. Changing these to http resolved my issue. Thanks

[2020-05-20 19:08] cabailey commented on #1620
@bloodytourists  Apologies - seems somebody with good intentions reverted the change.  I'll look into it.

[2020-05-20 19:59] GPUpdate commented on #689
So is ATP required or not? It would be nice for it to state this because if SPO out of the box actually requires an E5 license just to get ATP/anti-virus...

[2020-05-20 20:06] markjjo commented on #1988
@Jimnar Fixed (topic will be updated later today) Also, since it looks like you are Microsoft vendor (or working as one) please feel free to fix these types of issues directly and submit a PR. Thanks in advanced.

[2020-05-20 20:06] #1988 closed

[2020-05-20 20:10] markjjo commented on #1986
@ericorman Will do. In the future, since you are internal Microsoft, please go ahead and make the fix directly in the topic and then submit a PR. Ping me internally if you need instructions.

[2020-05-20 20:10] #1986 closed

[2020-05-20 20:12] cabailey commented on #1964
@CarissaB117  I double-checked, you can't add columns in OneDrive.  Updated the page to make this clear and added the how-to instructions reference.  Thanks for your feedback!  Closing.

[2020-05-20 20:12] #1964 closed

[2020-05-20 20:23] chrfox commented on #1931
Hi @Tin-Bui
I'm not sure what you are asking, but the entire topic received a massive update today. Hopefully that will help.

[2020-05-20 20:23] #1931 closed

[2020-05-20 22:33] DuncThePunk opened #1994 "Typo on first word"
"IIf you're an admin..."
Should read "If you're an admin..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 24188a20-2483-27c4-ca55-b40fb218231b
* Version Independent ID: efa9becc-4220-ea8c-3783-2e3b43226ee6
* Content: [Submit malware and non-malware to Microsoft for analysis - Office 365](https://docs.microsoft.com/en

[2020-05-20 23:36] joesuffceren commented on #1912
Carol,
The article you linked to includes the below snippet, which tells me definitively that applying a "delete after N days" policy will force an OST regeneration for every mailbox like I feared. That's not the answer I wanted, but I'm glad to have definitive documentation. Thank you. You are welcome to re-close this feedback item.

"Another important point that you should understand is that if

[2020-05-21 00:55] mypil commented on #1994
@DuncThePunk - Thank you for pointing this out.

PR #1997 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-05-21 02:03] chrisda commented on #1994
@DuncThePunk, I would add that you, too, can make simple fixes like this directly in the topic; no need to open a GitHub issue first. For more information, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks again for the feedback.

[2020-05-21 02:03] #1994 closed

[2020-05-21 06:16] Jimnar commented on #1988
@Markjjo, thank you for the guidance and prompt response to my inquiries.

[2020-05-21 06:45] MaratMussabekov commented on #1724
Hello @chrfox ,
I believe it was a misprint and @katrakovic meant that the notifications are being sent to external senders. It looks like some other users are having the same problem - https://office365.uservoice.com/forums/928576-microsoft-information-protection-mip/suggestions/33729211-dlp-notifications-on-incoming-external-email

However, I wasn't able to reproduсe the issue and in my test env

[2020-05-21 10:30] katrakovic commented on #1724
Thank you @MaratMussabekov , it was indeed a typo. I meant to say that those external parties sending us sensitive information are being notified by the DLP tool.

[2020-05-21 11:13] GiantCrocodile opened #1998 "Issue #876 stuck"
Hello,

the issue #876 has no progress since the issue was locked due to a spammer. I can't reach @dstrome via email or Microsoft Teams. It would be great if someone can continue to work on the issue as I think it has been forgotten due to the lock.

Best Regards,

[2020-05-21 15:08] Infinitecupcakes commented on #1852
The documentation states that when a subscription expires, Microsoft 365 admins will still have access to the admin center and applications.

The article then goes on to state that when the subscription is disabled, the admin can’t assign licenses to users.

What the article does not clarify is: will the admin be able to assign licenses to users when the subscription is expired?

[2020-05-21 15:33] mitchsprague opened #1999 "Expired License on DC"
It looks like the license has expired on the DC in the current download package which suggests the vm's are good until July.  Would it be possible to change the name of the download package to reflect the expiration date perhaps?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a

[2020-05-21 15:36] mitchsprague commented on #1999
It was expired but now appears to have updated itself.  All good.  Changing the download package name would still be useful I think.

[2020-05-21 15:36] #1999 closed

[2020-05-21 17:11] avisuj opened #2001 "Microsoft Translator should be included as an ISO 27001 covered product"
per this blog Microsoft Translator should be included as a covered product: https://www.microsoft.com/en-us/translator/blog/2019/02/06/microsoft-translator-is-now-certified-compliant-to-meet-your-needs/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea391196-6a78-34ac-becb-be7622c9f423
* Version Independent ID: 8e34eed

[2020-05-21 17:58] cmcatee-MSFT commented on #1852
Yes, admins can assign licenses while the subscription is in the expired state, but not after it moves into the disabled state (see table above).

[2020-05-21 18:06] cmcatee-MSFT commented on #1852
@qingsj I don't have further information about how data for non-business subscriptions is handled. I have made the consumer content team aware of the gap in their documentation, and they will work to address it.

[2020-05-21 18:06] #1852 closed

[2020-05-21 18:51] chrfox commented on #1724
hi @katrakovic
- Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

[2020-05-21 18:51] #1724 closed

[2020-05-21 18:52] chrfox commented on #1837
Hi @alexthedude66

- Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

[2020-05-21 18:52] #1837 closed

[2020-05-21 18:55] chrfox commented on #1864
Hi @SinghGurd

that topic has been replaced with [Sensitive Information Type Entity Definitions](https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitive-information-type-entity-definitions?view=o365-worldwide)

I believe that only content/body and unencrypted attachments can be searched

[2020-05-21 18:55] #1864 closed

[2020-05-21 19:21] cmcatee-MSFT commented on #1747
@BerengarEnterprises We are currently investigating this issue. Please send an email directly to me at cmcatee@microsoft.com and provide the following information (do not post this information here):

Country and Number being called:
Country and City of person calling to test:
Number tester is calling from:
Landline or Mobile Phone?
What Carrier does this number belong to?
Date and time of test ca

[2020-05-21 19:28] cmcatee-MSFT commented on #1897
@owenshaupt Please use the [Microsoft Teams User Feedback Forum](https://microsoftteams.uservoice.com/) to give feedback specific to Microsoft Teams. Thanks.

[2020-05-21 19:28] #1897 closed

[2020-05-21 19:34] cmcatee-MSFT commented on #1798
@rickvanderzwet The content has been updated to clarify who can use which payment methods and when.

[2020-05-21 19:34] #1798 closed

[2020-05-21 19:51] mister-dj opened #2007 "Organizational Relationships Setting Moved"
"Organizational relationships" has been moved to Dashboard &gt; External Identities &gt; External collaboration settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147fb47a-99b2-f8ef-9ca6-35696d49c3fb
* Version Independent ID: b2f1b521-f231-48c2-b61f-f71bf9248d1c
* Content: [Collaborate with guests in a team](https

[2020-05-21 21:33] Moshe-RA commented on #1956
Thank you for responding!

Moshe Armel – משה ארמל

Cell:     053-313-1716 :נייד

From US:  011-972-53-313-1716

moshearmel@gmail.com

On Mon, 18 May 2020 at 18:14, Prasad Kasireddy <notifications@github.com>
wrote:

[2020-05-21 21:57] rbplatt commented on #592
I use SendGrid.  Used their shared IP in the past, but just upgraded to private IP.  Put all the security measures in place including Reverse DNS.  We only use this for two-factor authentication.  As soon we enabled the private IP, Office 365 put's it on the block list (we're Office 365 subscribers).  I agree with "DNied" above--we seem to be doing Microsoft's work for them.  Still trying to get d

[2020-05-21 22:44] mypil commented on #1861
@ddaanniieell9 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/b3d740d1d2e62c4ba86976b1fcfabd2560eb644d.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-21 22:44] #1861 closed

[2020-05-21 23:21] mypil commented on #1722
@O365scripts - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/b2112dd6cdcc27a5a9ea34b26077a424582185c9.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-21 23:21] #1722 closed

[2020-05-21 23:22] #1759 closed

[2020-05-21 23:26] mypil commented on #1652
@ApeironThanatos @lefodnes - According to the author @pebaum, this article is being decommissioned and incorporated into another as indicated on this https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1767#issuecomment-631616048.

We will close this issue now. Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-21 23:26] #1652 closed

[2020-05-21 23:44] mypil commented on #1906
@Kiran21500 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @cabailey  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-21 23:44] #1906 closed

[2020-05-22 00:04] cabailey commented on #1906
@Kiran21500 To confirm - Microsoft accounts are supported, and you can use these for guest access.  You can expect more information about this in the docs soon.

[2020-05-22 07:28] zlDev opened #2010 "Please expand section on Actions Menu"
Hi, it looks like the Actions menu section could be expanded. The screenshot is outdated as new actions have been added. Would be great if you could explain what each action does. For example, what will happen if I select "Report clean" action?

![image](https://user-images.githubusercontent.com/8972968/82642837-74b55880-9c06-11ea-84b0-9eb9ee479b2a.png)

---
#### Document Details

⚠ *Do not edit t

[2020-05-22 07:44] chongsunlim opened #2011 "How is Meetings derived?"
Is it the number of Teams meeting the user organized or joined? I have some users, their data shows zero but they have been participating in many Teams meeting that month.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dae2c12c-f665-1fda-c80e-ae49f613a1b6
* Version Independent ID: d57d0fff-3011-b2d3-e385-1ba0068d400d
*

[2020-05-22 08:20] zlDev opened #2012 "Reject action"
When I Reject incorrectly identified emails (false positives), does the system capable of learning and excluding the rejected emails from future investigations. Or is there a way to do this in a manual way.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2a98cd34-0725-fea7-fecf-d235cd12ada5
* Version Independent ID: e8d

[2020-05-22 10:00] kennethvs commented on #1957
I have a similar question, we had the situation where ATP Safe Links determined after delivery that a URL was malicious. The message itself had a SCL of -1, which I didn't understand. After creating a support call (case #20117105) the outcome was that EOP is skipped if an end-user adds someone to the safe senders list. If that is true, and we want to make sure that each message goes through EOP, d

[2020-05-22 13:14] Larryngolog opened #2014 "DLP within code snippets."
Hello. Looks like code snippets in Teams chat are not being analyzed by Teams DLP. Is this by design? If so can it be documented here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebaab3f7-d1d4-c649-efe8-f24913da4f3e
* Version Independent ID: c5710ebf-0ca5-ab46-c490-64ebc308defe
* Content: [Data loss prevention and M

[2020-05-22 13:19] PrasadKasireddy commented on #2007
@mister-dj  - Thanks for reporting issue.
yes, "Organizational relationships settings " has been moved  & renamed as External collaboration settings
Two ways you can set the External collaboration settings

a) Azure Active Directory > External Identities > External collaboration settings
b) Azure Active Directory > user settings  > External collaboration settings

Update the changes through PR.

[2020-05-22 14:15] JM-Probado opened #2015 "incorrect syntax on page"
Syntax in example should be Get-AntiPhishPolicy not Get-PhishFilter under "Use the Security & Compliance Center to configure spoof intelligence"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1c0cbdb-062e-08e1-7c7c-cedab550f01b
* Version Independent ID: 2791a840-3284-bc0d-7b9e-026b852797e6
* Content: [Configure spoof

[2020-05-22 14:17] JM-Probado commented on #2015
* Get-PhishFilterPolicy apologies

[2020-05-22 14:55] browningb opened #2016 "Admin role needed to view "Reports""
Which admin role is needed to be able to view Reports within the Admin Center?

[2020-05-22 15:56] James-MCT opened #2017 "Valid license add-ons"
I am working with a tenant that has Microsoft 365 E3 subscription + the Microsoft 365 E5 Insider Risk Management add-on as stated in the "Before You Begin" section, but get license error messages when trying to create or manage Communication Compliance policies in the Compliance center. We are a CSP but cannot find the E5 Compliance add-on listed to add to the tenant instead, can the license requi

[2020-05-22 16:45] pctsltd commented on #555
Hi there - it should be noted that if you don't have E3/E5 then you can just buy Azure Information Protection P1 or P2 which should also work.

[2020-05-22 16:50] pctsltd opened #2018 "Create policy wording"
It should be made clear in this document that to create a label policy you have to press the "publish labels" button in the compliance centre which then brings you into the create policy wizard. The wording is confusing as there is no "create/add policy" button like there was in Azure.  There is nothing in the document that tells you "how to create a label policy". Publishing a label - in fact cre

[2020-05-22 16:54] pctsltd opened #2019 "Classic vs Unified features in Compliance centre"
In the new compliance centre for unified labelling
- there is no option to hide a label in the compliance centre like there was in Azure.
- there is also no functionality to enable "custom permissions" like there was in Azure.
- there is also no functionality to "show the bar" like there was in Azure.

Was this functionality removed from the compliance centre? If this is by design this should be d

[2020-05-22 18:14] cabailey commented on #2019
@pctsltd  It can be confusing when you're moving from one implementation to another, I know.  I'll see if I can help to unravel these in turn.

1. There is no option to hide a label in the compliance centre like there was in Azure.

By hide, do you mean disable? This option isn't needed in the compliance center because labels are not assigned to all users by default - as they are in the Azure port

[2020-05-22 18:22] cabailey commented on #2018
@pctsltd  The scope of this article is high-level conceptual information to help explain what sensitivity labels are and how to use them.  How-to instructions for creating labels and publishing their policies are in the following article: https://docs.microsoft.com/en-us/microsoft-365/compliance/create-sensitivity-labels

If you need other how-to instructions to support specific scenarios, use the

[2020-05-22 18:22] #2018 closed

[2020-05-22 18:26] chrisda commented on #2015
@JM-Probado, it's confusing, but spoof intelligence uses a combination of *-AntiPhishPolicy cmdlets (to enable/disable the feature entirely, enable/disable Unauthenticated Sender, and to set the MoveToJmf/Quarantine action) and *-PhishFilterPolicy cmdlets (identify the spoofed senders to allow or block).

I checked carefully through the topic, and all of the cmdlet references are OK. I cleaned up

[2020-05-22 18:26] #2015 closed

[2020-05-22 18:28] chrisda commented on #2016
@browningb, have you tried Security reader? And are you talking about a specific topic?

[2020-05-22 19:22] cabailey commented on #1955
Fix is live now, closing.

[2020-05-22 19:22] #1955 closed

[2020-05-22 19:43] cabailey commented on #2019
Questions are addressed, so closing. However, let me know if you have clarifying questions about the information provided, or open a new GitHub Issue for new documentation feedback.

[2020-05-22 19:43] #2019 closed

[2020-05-22 20:23] GiantCrocodile commented on #1958
Microsoft provided a solution for which you need an extra license as it's a standalone product: Activity Policies of Cloud App Security. It works.

[2020-05-22 20:27] pushsos opened #2023 "Broken link on FFIEC Blueprint"
[Enter feedback here]
https://servicetrust.microsoft.com/ViewPage/FFIECBlueprint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e126d243-a1d7-60f5-41d1-584e0cf18400
* Version Independent ID: aa844477-2721-df47-afd5-4793944c618c
* Content: [Federal Financial Institutions Examination Council (FFIEC) - Microsoft Complianc

[2020-05-22 21:44] Xcel1 opened #2027 "Update Page to reflect Microsoft Endpoint Manager"
Since Intune and Config Manager are now call Microsoft Endpoint Manager, can this reflect the new product naming?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea391196-6a78-34ac-becb-be7622c9f423
* Version Independent ID: 8e34eedc-30bf-aa9f-60d3-e678fcb13411
* Content: [ISO/IEC 27001:2013 Information Security Managem

[2020-05-23 00:01] mypil commented on #1704
@scottsa-msft - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/1d9c243c5bd0642821da8d733aac28de06dd0864.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-23 00:01] #1704 closed

[2020-05-23 06:55] michevnew opened #2029 "Incorrect/incomplete information"
Can you please clarify how exactly can we enforce password history in Azure AD? The link provided in the article is for on-premises AD, not relevant to the current article, or at the very least it should be clarified it applies only to PTA/ADFS scenarios. And if I'm wrong and there is actually a way to play with password history settings in Azure AD, please provide the instructions.

Next, can you

[2020-05-23 11:59] mypil commented on #1913
@maxw3l - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.

You might find others have made a similar request that you can

[2020-05-23 11:59] #1913 closed

[2020-05-23 12:01] mypil commented on #1922
@kmthrush - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so w

[2020-05-23 12:01] #1922 closed

[2020-05-23 12:08] mypil commented on #1933
@richard-artes - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @faoquong so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-23 12:08] #1933 closed

[2020-05-23 12:11] mypil commented on #1936
@jwojan - Thank you for pointing this out.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/f2d7c8b.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-23 12:11] #1936 closed

[2020-05-23 12:16] mypil commented on #1943
@P-padre - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so we

[2020-05-23 12:16] #1943 closed

[2020-05-23 12:25] mypil commented on #1946
@bali0014 -- Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/3047e3a5f0a9742caf5ee187cf0bcd41b9562e4f.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-23 12:25] #1946 closed

[2020-05-23 12:30] mypil commented on #1954
@IrolPinto - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-05-23 12:30] #1954 closed

[2020-05-23 13:21] mypil commented on #1956
@Moshe-RA - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @PrasadKasireddy so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-23 13:21] #1956 closed

[2020-05-23 13:38] mypil commented on #1961
@bbeasley-opg - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.

You might find others have made a similar request that yo

[2020-05-23 13:38] #1961 closed

[2020-05-23 13:45] mypil commented on #1967
@jspa711 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-05-23 13:45] #1967 closed

[2020-05-23 13:46] mypil commented on #1969
@eduardosantos1989 - May we know which specific Microsoft document link you used in reference to this issue?

Please share it with us so we can investigate further. Thank you.

[2020-05-23 13:55] mypil commented on #1973
@cyanogenmod890 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page.

Thank you.

[2020-05-23 13:55] #1973 closed

[2020-05-23 14:29] mypil commented on #1978
@bakerm00 - Thank you for engaging with the community here for the docs.

Please follow this link to add your feedback via UserVoice:

[https://office365.uservoice.com](https://office365.uservoice.com)

You might find others have made a similar request that you can add to, or you can open a new one.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-23 14:29] #1978 closed

[2020-05-23 14:44] ThijsLecomte commented on #1957
@chrisda  looks good to me, thank you!

[2020-05-23 14:44] #1957 closed

[2020-05-23 20:17] Moshe-RA commented on #1956
My pleasure!

Moshe Armel – משה ארמל

Cell:     053-313-1716 :נייד

From US:  011-972-53-313-1716

moshearmel@gmail.com

On Sat, 23 May 2020 at 16:21, Joyce Y. <notifications@github.com> wrote:

[2020-05-24 01:03] P-padre commented on #1943
Thank you Mypil  we resolved the computer glitches issue

[2020-05-24 19:19] mypil commented on #1739
@Emmity - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-05-24 19:19] #1739 closed

[2020-05-24 19:34] mypil commented on #1694
@shereen-yong  - You can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so they can help resolve your technical issue.  Thank you!

[2020-05-25 05:25] ManuInNZ opened #2031 "Links to be reviewed"
Link to the Microsoft IT Showcase goes nowhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4308bf55-eadb-767d-6aaa-21190669c1ef
* Version Independent ID: d3e1731f-9f86-efba-4369-b0399cd99172
* Content: [Phase 2: Identity - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/identity-

[2020-05-25 19:16] ingepepe opened #2032 ""Understand licenses" section doesn't even list licenses"
Could you please add the available licenses, descriptions and if possible comparison chart, please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 805a04c5-96c4-ee47-7746-3105e0b7fc45
* Version Independent ID: 9efa7447-6731-6435-d4fc-8ba81344e85a
* Content: [Understand subscriptions and licenses in Microsoft 365 for bu

[2020-05-25 23:28] EricaToelle opened #2033 "Add new communication role to this page"
A new role called "communication" was added to eDiscovery permissions. It can manage all communications with the custodians identified in an Advanced eDiscovery case. Please add that role to this page. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94e0469-2c5c-2063-8c3e-7722ceb53577
* Version Independent I

[2020-05-25 23:45] fishcharlie commented on #1897
@cmcatee-MSFT Normally that is a great solution. But considering how the team basically provides next to no updates on UserVoice, you have to expect people to start reaching out on other platforms (ie GitHub Issues).

Alex said in April 2019 that they hope to have it released by the end of the quarter. That didn’t happen. Microsoft has claimed to be working on this issue for over 2 years. This isn

[2020-05-25 23:53] mypil commented on #1969
@eduardosantos1989 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page.

Thank you.

[2020-05-25 23:53] #1969 closed

[2020-05-26 09:37] cyanogenmod890 opened #2034 "Mmm"
ulica ije Šiloboda Bolšića 19

[2020-05-26 13:06] PrasadKasireddy commented on #2034
@cyanogenmod890  - could you please brief your issue that would be help us to help you on this

[2020-05-26 13:13] o365geek opened #2035 "Unable to update customized help desk info"
I made mistake with the information e.g email address typo. I have updated the detail from admin>seetings>org wide settings>help desk but still showing incorrect details . Please help

[2020-05-26 14:57] DeanGross opened #2036 "Instructions for OneDrive"
[Enter feedback here]

What syntax must be used to add a users OneDrive to an Auto-label policy. Everything I try give me an error.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6564bdaa-d66b-42ba-85bd-7c8f9989093d
* Version Independent ID: 33be52f1-d233-9c5d-abb3-140a9c6a0d74
* Content: [Apply a sensitivity label to c

[2020-05-26 15:11] jordanjones98 opened #2037 "Integrate with MacOS Notifications"
Microsoft Teams should really integrate with MacOS Notifications. It causes awkward moments when you have do not disturb on and you get a message anyways. Also, when someone has a full screen window open it does not show the notifications. I know there is the user voice ticket open, but this is a ridiculous issue that has been in "working on" status for years. Something that the "User's Voice" has

[2020-05-26 17:03] James-MCT opened #2038 "Insider Risk Management add-on license"
I am currently working with a tenant that has Microsoft 365 E3 licenses and we added Microsoft 365 E5 Insider Risk Management add-on licenses, but I cannot create a communication compliance policy or manage a policy without getting license error messages. Can you please confirm the Risk Management add-on is still valid for this feature?

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-05-26 17:08] kagw69 opened #2039 "Manage Microsoft 365 Apps for enterprise (device) In Azure"
This page address assigning the Microsoft 365 Apps for enterprise (device) license to a group created in azure.  However, after assignment, will Azure show a tally of license being used/available? Or will the customer have to mange this from the Microsoft 365 admin center portal?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-05-26 17:18] robmacf opened #2040 "Mysterious registry edits should be explained"
The page would be improved if you could change this:
"From the desktop of APP1, open an administrator-level Windows PowerShell command prompt, and then run these commands:"

To this:
"From the desktop of APP1, open an administrator-level Windows PowerShell command prompt, and then run these commands to disable Internet Explorer Enhanced Security:"

---
#### Document Details

⚠ *Do not edit this se

[2020-05-26 17:57] JoeDavies-MSFT commented on #2031
@ManuInNZ This link URL has been corrected and published. Thanks so much for letting us know.

[2020-05-26 17:57] #2031 closed

[2020-05-26 18:38] robmacf opened #2042 "Azure AD connect configuration fails"
The steps to enable trust for the self-signed certificate need to be repeated on APP1 prior to reconfiguring Azure AD connect. If the server running Azure AD Connect does not trust the self-signed certificate, Azure AD connect will not allow the federation configuration to complete.

(The steps are documented under "Next, use these steps to install the self-signed certificate and configure PROXY1.

[2020-05-26 18:38] JoeDavies-MSFT commented on #2040
@robmacf You are correct on all counts! Updated and published. Thanks so much for letting us know.

[2020-05-26 18:38] #2040 closed

[2020-05-26 19:58] DeanGross opened #2043 "Lack of updates"
[Enter feedback here]
This page is supposed to be showing us What's New, but it does not get updated very often, only 2 times in the past year. I'm quite sure that there have been many more updates. Please put updating this page into some type of automated process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac42403

[2020-05-26 20:12] mypil commented on #2035
@o365geek - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-05-26 20:13] mypil commented on #2037
@jordanjones98 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-05-26 21:48] mypil commented on #2034
@cyanogenmod890 - Možemo li znati koju ste Microsoftovu vezu dokumenta koristili u vezi s ovim problemom? Ili je ovo pitanje otvoreno greškom?

Ako imate problem s određenim dokumentom, mi bi stvarno poštovati ako ste u mogućnosti pomoći pružanjem više detalja. Hvala ti!

[Can we know which Microsoft document link you used in reference to this issue? Or did you open this issue by mistake?

If you

[2020-05-26 23:05] markjjo commented on #2033
@EricaToelle Thanks for the heads up. Added info about Communication and Custodian roles.

[2020-05-26 23:05] #2033 closed

[2020-05-27 00:15] carljohngabato opened #2044 "Forwarding email outside organization"
This section only applies to mailbox rules. How do you apply it on "Forwarding"?
![image](https://user-images.githubusercontent.com/45403903/82962173-0c91b880-9ff2-11ea-96f9-85c1e82bb94e.png)
https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/secure-your-business-data?view=o365-worldwide#6-stop-auto-forwarding-for-email
I followed what was instructed in the article, it wo

[2020-05-27 00:26] get-itips commented on #1887
Hello @philstubbington Phil, how are you?
Thanks for noticing and reporting.
Will investigate and create a pull request to fix the article.
Thank you again

[2020-05-27 01:38] cabailey commented on #2036
@DeanGross You might be running into a known permissions issue.  Nir's recommendation on Yammer to contact Support is good advice so they can check this.

[2020-05-27 06:22] dcbrown16 opened #2047 "Missing from ToC"
This document isn't shown in the table of contents. Please review where it would fit best so it can be discovered easily.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fa19cef-7bad-ac40-1370-4a9b4f8474a8
* Version Independent ID: 42979548-8fc0-596b-b7d6-d79f4f0d734e
* Content: [Search the audit log for user and admin

[2020-05-27 06:23] dcbrown16 commented on #2047
Also, if I'm understanding correctly Power Platform Apps like Dynamics should be included in the list.
The Power Platform docs like the one below point to this page.
https://docs.microsoft.com/en-us/power-platform/admin/logging-powerapps

[2020-05-27 08:16] philstubbington commented on #1887
This still looks odd in step 2 as it refers to the .CN domain name?

[2020-05-27 09:45] get-itips commented on #1887
Hello! PR has not been reviewed and merged yet.

[2020-05-27 10:22] lightupdifire opened #2049 "To include or exclude an entire location such as all Exchange email"
Hello,

I think this part should be changed:
"To include or exclude an entire location such as all Exchange email or all OneDrive accounts, switch the Status of that location on or off";
We can't select a specific mailbox, only the Distribution group(s).
And I hope that members of the Distribution group will be only users to whom the policy is targeted?

![image](https://user-images.githubusercont

[2020-05-27 12:37] get-itips commented on #1860
Hello @jdemaree
To my understanding, when you use the "Replace" action and based on [this](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-atp-safe-attachments-policies?view=o365-worldwide)

the attachment is removed and you will not find it in quarantine, as you said, as using the Replace option, the message is still delivered, and you can redirect the attachmen

[2020-05-27 12:57] get-itips commented on #1843
Hello @r-wink Ryan, how are you?

I understand that you are not using Microsoft 365 and send emails to customers using 365.
I do not have the specifics on the "blocks" or "issues with the files" that your customers, using Microsoft 365, are experiencing, besides that, you could recommend your customers [to enable notifications when messages are quarantined](https://docs.microsoft.com/en-us/microso

[2020-05-27 13:00] jdemaree commented on #1860
Apologies I forgot this was outstanding.  It does appear in quarantine as a
category of Safe Attachment Policy.

Apparently I just didnt have any in my search at the time.

I do think some clarification in the docs would be good.

On Wed, May 27, 2020, 7:37 AM Andres Mariano Gorzelany <
notifications@github.com> wrote:

[2020-05-27 13:02] get-itips commented on #1860
Thanks for getting back and share that feedback. Will test to see if we can improve the article.

[2020-05-27 13:40] kennethvs opened #2050 "About the SCL -1"
[Enter feedback here]
In the following github issue we discussed the safe senders list; https://github.com/MicrosoftDocs/microsoft-365-docs/issues/1957#event-3367113669

This was updated in the document as followed:

[!NOTE]
Messages from senders that users have added to their own Safe Senders lists will skip EOP filtering (the SCL is -1). To prevent users from adding entries to their Safe Senders

[2020-05-27 14:39] JoeDavies-MSFT commented on #2042
@robmacf I have updated the procedure to include APP1. Thanks so much for letting me know.

[2020-05-27 14:39] #2042 closed

[2020-05-27 14:53] hora7ce opened #2051 "broken link to download NEN7510"
[Enter feedback here]
link to download file is broken -

https://protection.office.com/DownloadFile/ServiceAssurance/Document/compliance/Azure%20and%20Office%20365%20NEN7510-2011%20Standard%20Coverage/pdf

![image](https://user-images.githubusercontent.com/57032729/83036050-dfb9c180-a042-11ea-9059-b6892898dfae.png)

please check.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-05-27 16:16] jordanjones98 commented on #2037
@mypil the user voice link is https://microsoftteams.uservoice.com/forums/555103-public/suggestions/16941685-integrate-with-macos-notifications

[2020-05-27 16:22] markjjo commented on #2047
@dcbrown16 Thanks for heads up. This topic hasn't been updated for two years and is deprecated and not indexed for search, so not sure how you accessed it. I'm going to unpublish it and redirect to topic on searching unified audit log. This topic contains link to power apps doc. Dynamics has a single activity and is not currently listed.

[2020-05-27 16:22] #2047 closed

[2020-05-27 20:07] RyanSmith-00 opened #2052 "Set the spam confidence level (SCL) to..."
The document says: "Bypass spam filtering: This sets the SCL to -1, which means the messages will skip spam filtering."

When you use https://outlook.office365.com/ecp/ and create a rule there is no -1 option, the dropdown now says "Bypass spam filtering".

![image](https://user-images.githubusercontent.com/64505593/83067149-61015c00-a023-11ea-9ebd-9e750a7a9e5a.png)

---
#### Document Details

⚠ *

[2020-05-27 20:19] ryanmck-msft opened #2053 "Missing "More external sharing settings""
An enterprise customer of mine just pointed out that this Docs page is missing any documentation on a portion of this SharePoint Admin Center form - the "More external sharing settings" once you dial up permissions a bit and that section shows up.  Would be great to add that section to this docs page.  Thanks.
![Sharing Docs](https://user-images.githubusercontent.com/65685971/83067970-243a6280-a02

[2020-05-27 20:30] chrisda commented on #2052
Behind the scenes, the SCL is -1, but I can see how that would be confusing, so I fixed it.

Thanks for the feedback.

Closing

[2020-05-27 20:30] #2052 closed

[2020-05-27 20:41] MikePlumleyMSFT commented on #2053
@ryanmck-msft that info is covered in [Manage sharing settings](https://docs.microsoft.com/sharepoint/turn-external-sharing-on-or-off). We can add a link to this article.

[2020-05-27 20:59] AveryBaker commented on #1483
@chrfox

Did this get reverted back? I noticed today the doc still incorrectly says at the top there is a 100,000 term limit.

"Keyword dictionaries provide simpler management of keywords and at a much larger scale, supporting up to 100,000 terms per dictionary."

https://docs.microsoft.com/en-us/microsoft-365/compliance/create-a-keyword-dictionary?view=o365-worldwide

[2020-05-28 10:47] aavdberg opened #2056 "Are there send out RUA reports by Microsoft Office 365?"
[Enter feedback here]

Are there send out RUA reports by Microsoft Office 365?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7861a800-7643-dca5-1046-232a51d6e61e
* Version Independent ID: d78fc416-516b-15ab-4719-068f7d13ecca
* Content: [Use DMARC to validate email - Office 365](https://docs.microsoft.com/en-us/microso

[2020-05-28 11:49] get-itips commented on #1879
Hello @mhendric Mike how are you?
Would you be so kind sharing an example where you saw differences between the Owner property of SPOSite (returned by Get-SPOSite) and the Site Owners list (expanded) from the UI?
This is to better understand your scenario as I could not repro.
Thank you

[2020-05-28 13:17] imzahahs opened #2057 "Typo "findinformation""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ddcac62-5092-efa7-4fed-4fdcc8145bba
* Version Independent ID: 648df366-a665-0a8f-4945-4eb7b4b1b4af
* Content: [Find your partner or reseller - Microsoft 365 admin](https://docs.microsoft.com/en-my/microsoft-365/admin/manage/find-your-partner-or-resel

[2020-05-28 14:27] cabailey commented on #2036
@DeanGross I've added into the instructions the standard syntax, an example, and a link how to get URLs for OneDrive accounts that you can then copy/paste.  Admittedly, this would be a lot easier if you could select from a list rather than having to type in, and engineering is looking into this. However, it would help to add a UserVoice post for this request to help bump priority - use this link:

[2020-05-28 14:27] #2036 closed

[2020-05-28 14:58] pamelamontes01 opened #2058 "No Settings > Settings > Microsoft 365 Groups in M 365 Admin Center"
[I'm not able to find Settings > Settings > Microsoft 365 Groups in the Microsoft 365 Admin Center. This navigation does not exist in either the new admin center or the old.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f5592e2-3fee-9034-5b33-2d1687d60ba2
* Version Independent ID: 5b8dee58-e383-9a26-570a-47f5c81121c

[2020-05-28 15:03] Larryngolog opened #2059 "Assigning users an EXO license without EX hybrid"
Hello!

I would like to verify what is the process for users who have AAD sync but do not have Exchange Hybrid.

We are assigning E3 licenses but without EXO to avoid mailbox being created. In such case are the cloud mailboxes created in the background to store Teams data?
If not will EXO license assignment not cause creation of full-features mailbox that will be accessible to the users?
If mailbo

[2020-05-28 15:18] erik-wahlstrom commented on #1736
Hi @christianarg ,
You are spot on about the new model and the lack of an API. It's something we're actively working on and we expect to make some announcements soon. In the mean time I can offer a little advice:
1) The current API will be available for an extended period, but will not be update
2) The update API will use the 0-10 based scoring

We are in the process of reaching out to our develop

[2020-05-28 15:45] christianarg commented on #1736
hi @erik-wahlstrom ,

Thanks for taking your time to answer. When you say "the current API... will not be update" what do you mean? More specifically this is our concern:

1. A tenant (ex: one of our customers, we're CSP Parnter) gets updated to the new secure score
2. Customer completes one improvement action (ex: mfa for privilege roles)
3. The next day new secure score shows action as completed

[2020-05-28 16:14] erik-wahlstrom commented on #1736
Hi @christianarg

When I say "will not be updated" I mean that we will not be adding any new features. It will continue to work for new and existing tenants. The driver here is the new scoring model. In the old version there was no clear definition of max points. We made a breaking change to the scoring model to define the maximum possible points of any control. It will now be 10 points.

However

[2020-05-28 17:45] erik-wahlstrom commented on #1736
@christianarg, would love to talk. Can you please use the "feedback" button within the Microsoft Secure Score UX and we'll be in touch.

[2020-05-28 18:51] tom-smith00 opened #2061 "linked info incorrect"
The reference to step 8 in the linked content at the bottom of the page takes you to a page that only has 4 steps and does not have information on how to access a core ediscovery case from advanced ediscovery.  section copied below:

Step 3: Go a case in Advanced eDiscovery
After you create an eDiscovery case and add members, you (or any member of the case) can access the corresponding case in Adv

[2020-05-28 19:09] Canis-Lupis opened #2063 "Can I run all steps in a script together?"
Can I put Start-ComplianceSearch in a script and then immediately run New-ComplianceSearchAction -Purge right after?  What I'm worried about is the Search still running to find items when the SearchAction -Purge also runs but fails to purge all items because the Search hasn't completed yet.

If you need the Search to finish first before the SearchAction runs, is there a way have the SearchAction h

[2020-05-28 19:23] johnaweiss opened #2064 "Per User: Why and How?"
You don't say why per-user MFA isn't recommended. and you don't tell how to do it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1e6c9a-9644-6d86-3962-d36bf1efd656
* Version Independent ID: 96142d6c-71de-6ea9-0361-dbec82647b15
* Content: [Set up multi-factor authentication for users - Microsoft 365 admin](https://do

[2020-05-28 19:26] markjjo commented on #2061
@tom-smith00 Thanks for the heads up. I will update the topic later today to point to this: https://docs.microsoft.com/en-us/microsoft-365/compliance/quick-setup-for-advanced-ediscovery?view=o365-worldwide#accessing-a-case-in-advanced-ediscovery

[2020-05-28 19:26] #2061 closed

[2020-05-28 20:39] mypil commented on #2057
@imzahahs - Thank you for pointing this out.

PR #2065 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-05-28 21:00] markjjo commented on #2063
@Canis-Lupis Scripting really isn't supported in this forum and not really relevant to the topic that you logged this github issue against. But, I would suggest a few things:

1. Test it. I wonder if New-CSA cmdlet will return an error saying the search is still in progress. I think that running the New-CSA cmdlet reruns the compliance search that you create with New-CS. So not sure if this is an

[2020-05-28 21:00] #2063 closed

[2020-05-28 21:30] markjjo commented on #2059
@Larryngolog I'll try to parse and answer your questions. The topic that you logged this against is about on-premises users, which I don't think maps to your scenario.

1. I assume you are assigning E3 licenses to cloud-based users. Therefore these users will have an identity in the cloud and 1xN Teams chat data will be discoverable. I assume that you will still have to submit a support request to

[2020-05-28 21:30] #2059 closed

[2020-05-28 21:44] WaynePal commented on #2032
Very much needed

[2020-05-28 22:32] mypil commented on #1377
@neeksnz - We were informed by the writing team that this has been fixed and the changes should now be reflected in the doc. Thank you.

[2020-05-28 22:52] markjjo commented on #2063
FYI - Here's another example of Start-Sleep (for 10 seconds)

$search = new-compliancesearch
start-compliancesearch $search.name
do{Start-sleep 10} while{{get-compliancesearch $search.name}.status -ne "Completed"}}
new-compliancesearchaction -Purge

[2020-05-28 22:56] cmcatee-MSFT commented on #1897
@fishcharlie I've made the product team aware of your feedback. They emphasize that they do monitor UserVoice constantly, and provide updates when they get them. So continuing to use that site is the correct way to share your input and concerns about Microsoft Teams. Thanks.

[2020-05-29 05:52] Larryngolog commented on #2059
Hello @markjjo . I thinks You misunderstood me. In the first sentence I mentioned that users are AAD synced. Let me rephrase my question and describe the situation in details:

- Organization just wants to use Teams, without EXO, mail is on-prem in EX Srv
- Organization is using federated identity - ADFS + AAD Connect
- Organization is just synchronizing attributed required for S4B/Teams as descri

[2020-05-29 12:19] LeonardoFelippine opened #2067 "Multiple maximum possible secure scores"
Hello.

I work at a CSP, and as such, I have access to several client tenants, and I observed that the maximum possible secure score changes across different tenants. In my understanding, this is contrary to what the documentation states: "We show you the full set of possible improvements, regardless of license, so you can understand security best practices and improve your score. Your absolute se

[2020-05-29 13:12] Canis-Lupis commented on #2063
Yes, thank you. I was curious if the commands as listed in the document needed one to complete before the other ran as it wasn't clarified.
________________________________
From: Mark Johnson - MSFT <notifications@github.com>
Sent: Thursday, May 28, 2020 5:53 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: David Tessmann <dtessmann@OmegaWulf.dog>; Mention <menti

[2020-05-29 14:38] wil16098 opened #2068 "Baseline Policies Deprecated?"
My Azure implementation indicates:
![image](https://user-images.githubusercontent.com/35205628/83271384-68de0f00-a18f-11ea-9c6a-42e271767bc2.png)
"Baseline policies... are no longer enforced, can't be enabled, and will disappear"
But this page, with an 05/27/2020 update stamp, discusses implementation of baseline policies.
This is confusing, because I am looking for Conditional Access guidance for

[2020-05-29 14:45] MisterBendo commented on #589
Our team had similar questions and concerns.  After opening a ticket with Microsoft support I was able to ascertain the following information.  Enabling the Intelligent Mailbox Protection will identify three categories of impersonation and change the CAT stamp in the mailbox header from CAT:NONE to CAT:DIMP (domain impersonation,) CAT:GIMP (graphic impersonation,) or CAT:UIMP (user impersonation.)

[2020-05-29 15:28] klawrawkz opened #2069 ""Manage" User Templates Means "Delete?""
The term _"manage"_ is misleading when the only actual functionality is _**"delete."**_ I know that this is 365 functionality. The term "manage" is used in the 365 admin UI. It would be _helpful to know up front that the only way to _"manage"_ a template in 365 is to _**"delete"**_ it._ Three different ways to "delete" but not a single means of "editing?" Why? **_Can we_** edit a custom user templ

[2020-05-29 16:48] tcfinney opened #2070 "GCC Availability"
Hello,

The [About usage analytics page](https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/usage-analytics?view=o365-worldwide) has a note at the top stating that M365 Usage Analytics **isn't** available for GCC.

The note at the top of [this page](https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide) states that it **is

[2020-05-29 18:25] christianarg commented on #1736
@erik-wahlstrom Sorry I missed that last message. I'll contact you via the feedback button next week. Thanks in advance

[2020-05-29 18:42] levinec commented on #2067
@erik-wahlstrom

[2020-05-29 19:20] DeanGross opened #2071 "Update Page"
[Enter feedback here]

I'm quite sure that there have been items released since February. Please update this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e5d5245-ece6-6430-9221-efa0d80b9f6e
* Version Independent ID: 2ad2ab98-14c8-4f5c-70de-6c809f9d8933
* Content: [What's new in the compliance center - Microsof

[2020-05-29 19:48] Robright opened #2072 "Query based holds language inaccurate"
The following is inaccurate: "To create a query-based hold with conditions, complete the following. Otherwise, to preserve all content in the specified content locations, click Next"

The hold is applied at the site level regardless of any attempt in the query to narrow it down to specific items. The query box has no effect in applying granular holds.

---
#### Document Details

⚠ *Do not edit thi

[2020-05-29 20:04] Larryngolog commented on #2059
Ok will do. I'll follow up with the findings.

[2020-05-29 21:24] Mlavieri opened #2073 "Retained Phantom Mailboxes do not show up in Active Mailboxes"
Unlike online mailboxes when a retention policy is applied to a Phantom Mailbox and the account is deleted the mailbox does not appear in the Inactive Mailbox section in the Compliance Center. Additionally, these accounts are no available to place on Holds or resolve using Content Search.

In Content Search you can use the participant action to return Teams Chats however there is now way to put a

[2020-05-30 09:02] geeksonline commented on #592
I can confirm that Microsoft do in fact block EVERYONE using smtp relay - even if all connector / spf records are same. What I can also say is their delisting doesn't work, you almost always have to raise a ticket and even if you manage to get delisted, your address will get banned again. This is absolutely ridiculous from Microsoft. Business systems stop running (like helpdesk ticket systems). Su

[2020-05-30 18:18] normand-MSFT opened #2074 "Is this syntax correct?"
Isn't there an extra single quote in this example after group2@contoso.com

New-OrganizationSegment -Name "Segment2" -UserGroupFilter "MemberOf -eq 'group2@contoso.com'' -or MemberOf -ne 'group3@contoso.com'"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2baec804-4a76-95ac-3595-985629448fd9
* Version Independent ID: c

[2020-05-30 21:23] sujitnaray opened #2075 "Typo - "user principle name""
Please change "user principle name" to "user principal name"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115cfe0b-c8b5-193d-19da-a6f9c03fdfc0
* Version Independent ID: 4a90cb9e-ce2a-a3f6-4b67-32f45c975323
* Content: [Manage holds in Advanced eDiscovery - Microsoft 365 Compliance](https://docs.m

[2020-05-30 21:40] mypil commented on #2075
@sujitnaray - Thank you for pointing this out.

PR #2076 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-05-31 06:18] paul-rich opened #2077 "multi-user edit in Preview"
[Enter feedback here]
Hi folks! It is my understanding that co-authoring using the Office Web Apps is already available, either in Preview or GA. This document says that it is still under consideration as a feature, I believe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6564bdaa-d66b-42ba-85bd-7c8f9989093d
* Version

[2020-05-31 12:45] GiantCrocodile opened #2078 "Dismissed messages no longer exists"
This page must be updated regarding terms and screenshots. There are no longer 'dismissed' messages. I think this has been replaced with term 'Archive' and 'Archived messages'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f3771a-247c-4f85-992a-e671285c70bd
* Version Independent ID: f3c2890a-2470-9349-ff77-924cf8566

[2020-05-31 17:58] cabailey commented on #2077
@paul-rich Hi Paul!  Yes, co-authoring is now GA when you enable this capability, but I can't find on this page where it says otherwise.  Can you please quote the actual text?

[2020-06-01 00:21] GiantCrocodile opened #2079 "What does happen if Record versioning is not available?"
Hello,

what does happen if Record versioning is not available (e. g. no E5 license assigned) but records will be edited and thus a new version gets created? Will be the previous version lost? Is editing just not possible without Record versioning?

Thank you for clarifying!

Best Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-06-01 00:52] GiantCrocodile opened #2080 "Add info about mailbox limit < 10 MB"
Hello,

I got this warning in 'Publish labels' wizard in Microsoft 365 compliance panel and found no documentation about this limitation:

Please add this information to the docs and an explanation for this limitation.

Best Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57908eea-077f-363c-8d51-3b8335914f4c
*

[2020-06-01 03:38] glenlewis opened #2081 "Instructions are outdated based on existing interface"
Where the phrase

In the admin center, go to the Settings > Settings page.

It should be replaced with

In the admin center, go to the Settings > Org settings page.

As this is what appears on the page as of 1st June 2020.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad408574-36cc-9b96-f092-58a68708d3a0
* Version Ind

[2020-06-01 09:13] PrasadKasireddy commented on #2081
@glenlewis  - Thanks for reporting the issue, I will update the change through PR.

[2020-06-01 12:43] acmcg opened #2084 "Keyword 'tfn' mssing from Australian Tax File Number definition"
Keyword 'tfn' mssing from Australian Tax File Number definition documentation, but is in the policy definition:
<code>
   <Keyword id="Keyword_Australia_Tax_File_Number">
      <Group matchStyle="word">
        <Term>australian business number</Term>
        <Term>marginal tax rate</Term>
        <Term>medicare levy</Term>
        <Term>portfolio number</Term>
        <Term>service veterans</Term>

[2020-06-01 12:46] acmcg opened #2085 "Add content for keywords"
Documentation should include instructions on how copy keywords from the original rule definitions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1391cf1-588f-a4a9-8692-8c07cf1e459a
* Version Independent ID: d57337a5-d0f3-de26-2259-6b7fa7613d05
* Content: [Customize a built-in sensitive information type - Microsoft 36

[2020-06-01 13:33] FindsTheLost opened #2086 "Can this be updated for MFA"
I used this fine till this year now its failing on adding sharepoint. I have to connect to everything prior to running and # comment out the connect to exchange as it doesn't use MFA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b759021-39d7-0383-2f50-b5b813217f97
* Version Independent ID: 5f5dfeab-1160-3994-2cb8-1c

[2020-06-01 15:07] cabailey commented on #2079
@GiantCrocodile Thank you for drawing my attention to the fact that this article had a licensing statement in it - will be removed in line with the other documentation pages for retention and records management.  Instead, use the link at the top of the page for a single and authoritative source of information for the latest updates.

If you follow this licensing link at the top of the page, you wi

[2020-06-01 15:07] #2079 closed

[2020-06-01 15:37] #2075 closed

[2020-06-01 15:38] markjjo commented on #2075
PR merged

[2020-06-01 15:41] cabailey commented on #2080
@GiantCrocodile  We've documented the 24 hours wait in many places - for example, on this page "Typically, users see the labels in their Office apps within a couple of hours. However, allow up to 24 hours for your label policies and any changes to them to replicate to all users and services."

The limitation of 10 MB for Exchange is something I wasn't aware of for sensitivity labels and will inves

[2020-06-01 15:43] markjjo commented on #2086
@FindsTheLost Thanks for heads up. I'll look into updating script as per your suggestion or adding a note. Did you just comment out the lines related to connecting to SCC PowerShell? Did you have to comment out lines related to SPO PowerShell?

[2020-06-01 15:43] #2086 closed

[2020-06-01 16:49] tjsawyer opened #2088 "Roles assignments unclear or don't work"
The roles needed for this feature do not make any sense.  The documentation is too vague and it seems the minimal level of access needed to grant someone reviewer rights basically gives them admin capabilities to all the Communications Compliance capabilities.  There are also several "Communications Compliance" roles available now in the permissions screen that have no documentation whatsoever.

W

[2020-06-01 16:50] GiantCrocodile commented on #2079
Hi @cabailey! Thank you for fixing the license info.

I'm aware that bypassing a license requirement isn't legal nor supported. That's now what I'm asking. I'm asking what will happen in case of an user doing this by being unaware of the license requirements: Does he/she get a proper error message or will this end in a license violation which an admin can't prevent?

[2020-06-01 17:08] cabailey commented on #2079
@GiantCrocodile  We can't answer questions on what will happen if a feature is used without correct licensing.  As with all unsupported scenarios, you're welcome to test but the results might change later down the line.  There have been requests for improvements in the product around licensing enforcement and information, and this is something that engineering is looking into so I encourage you to

[2020-06-01 17:17] GiantCrocodile commented on #2079
@cabailey I see. Thank you for your help and feel free to handle this issue as resolved.

[2020-06-01 17:54] cabailey commented on #2080
@GiantCrocodile Can you confirm you definitely saw this message for sensitivity labels, and not retention labels?  You filed the issue on the page for sensitivity labels and when I create a sensitivity label policy I see only "Your sensitivity label policy has been created."

For retention labels, we have documented the 10 MB limitation, but say it can take up to 7 days for Exchange: https://docs.

[2020-06-01 18:08] Mlavieri opened #2090 "Infite/Query Based Holds with no location"
When working with a query based hold no results are returned when a location is not specified.

Could you please provide clarification where the docs states:

Does the functionality to place a Hold on all content based on criteria exist or should this read something along the lines of 'a query based hold where only the content _in the specified locations_ that matches a search query'

Thanks

---

[2020-06-01 18:22] GiantCrocodile commented on #2080
@cabailey Actually I saw this message during the creation of a label policy. I wasn't able to find a label policy dedicated article but only mentions about it in this and other articles. As an admin, I would read this page and do use the suggested policy wizard which afterwards suggest to use a label policy to publish the label so your freshly created label is available to users. That's why I was

[2020-06-01 18:58] BrianLevenson opened #2091 "Supported countries limit?"
The list of countries where the M365 Admin Center supports third party subscriptions is a small subset of where customers can purchase SaaS subscriptions from Microsoft AppSource. Can the team please verify that list and provide guidance on what to do if the customer has purchased from a country where this experience is not available?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-06-01 19:04] markjjo commented on #2090
@Mlavieri Not sure I understand. You have to select content locations to apply holds to. In the workflow of the holds wizard, you have to select locations before you specify a query. I guess I can see some confusion in this statement: "You create an infinite hold where all content is placed on hold." That is all content in the specified locations. The point of that sentence is that by not specifyi

[2020-06-01 19:04] #2090 closed

[2020-06-01 19:11] cabailey commented on #2080
@GiantCrocodile  But what type of label policy when you saw this message - were you in the "Information protection" solutions section in the compliance center where they have label policies for sensitivity labels (the documentation for this page), or were you in the "Information governance" or "Records management" sections where they have label policies for retention labels?

The documentation for

[2020-06-01 19:11] Mlavieri commented on #2090
Thanks Mark. Part of the reason I needed some clarification is that In both Core and Advanced eDiscovery the wizard does allow you to progress without specifying a location, just no data will be returned.

![image](https://user-images.githubusercontent.com/1187519/83444908-b2d62780-a411-11ea-97df-a783850e773e.png)

[2020-06-01 19:20] markjjo commented on #2090
@Mlavieri Thanks for follow up. Though not great wizard design, no content on hold would be the expected behavior if no content locations are selected. You will also note that there is no org-wide toggle switch to include all mailboxes or all sites (the toggle is present in the search wizard), which also implies you have to specify individual mailboxes/sites to place on hold.

I can add something

[2020-06-01 19:28] Mlavieri commented on #2090
That makes sense and agreed that the difference between the experiences would imply that a location would have to be specified but just wanted to confirm it wasn't all by default.

I've created a user voice to force a location be entered for anyone else who may see this: https://office365.uservoice.com/forums/289138-office-365-security-compliance/suggestions/40561987-force-specifying-at-least-one-

[2020-06-01 19:40] GiantCrocodile commented on #2080
@cabailey I was here: https://security.microsoft.com/retention?viewid=retentionlabelpolicies doing records management. I think I might have found only the first paragraph about the 10 MB limit on the page you linked to and just missed the 2nd paragraph about it. I might have discarded the first paragraph as relevant bec. I wasn't doing auto labeling.

[2020-06-01 19:56] cabailey commented on #2080
@GiantCrocodile  Thanks for the update.  I'm going to close this then, because it's filed against the documentation for creating sensitivity labels and their policies, and these labels don't have this 10 MB limitation for Exchange. It is documented where we have instructions for retention labels and their policies, but I will flag to engineering about the 1 day message, which seems correct for Sha

[2020-06-01 19:56] #2080 closed

[2020-06-01 22:07] Sirkkuw commented on #1874
@shereen-yong  this is a bit out of what I know. Here is a link to Azure content;
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-howitworks
Hopefully that helps.

[2020-06-01 22:07] #1874 closed

[2020-06-01 22:09] joelbyford commented on #1457
Link appears broken again.  I'll submit a PR, but I believe the link should be pointing to: https://docs.microsoft.com/en-us/azure/governance/blueprints/samples/nist-sp-800-53-rev4/

[2020-06-01 22:30] #2057 closed

[2020-06-01 22:55] mypil commented on #1879
@mhendric - We appreciate any feedback you can provide to make the content in the Microsoft docs better. However, we did not get any response from you so we will close this issue.

Please feel free to re-open this issue if there is a specific area of the docs that we can improve or make better.

Thank you.

[2020-06-01 22:59] mypil commented on #1843
@r-wink - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @get-itips so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-01 22:59] #1843 closed

[2020-06-01 23:02] mypil commented on #1694
@jopgommans - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/06e83da680a325f0c3222bb395a9882d68a5b1cd.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-01 23:02] #1694 closed

[2020-06-01 23:05] mypil commented on #1781
@harryboyne @Hamspanner - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/00c8ce48a1daa9195b2cf626e09330e94a2da106.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-01 23:05] #1781 closed

[2020-06-01 23:07] mypil commented on #1819
@adamfowlerit - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author based on this https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1871#issuecomment-634072500 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-01 23:07] #1819 closed

[2020-06-01 23:26] mypil commented on #2016
@browningb - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-06-01 23:26] #2016 closed

[2020-06-01 23:34] mhendric commented on #1879
Hi @mypil and @get-itips , sorry for the late response, was on vacation last week. Here's a couple examples. I don't have the ability to reopen this though. Can one of you do that for me?

Example 1:
![image](https://user-images.githubusercontent.com/11970059/83464323-65fc4c00-a425-11ea-8725-c9d76e91f52d.png)
![image](https://user-images.githubusercontent.com/11970059/83464347-7a404900-a425-11ea-9

[2020-06-01 23:41] chrisda commented on #2050
@kennethvs, OK. Done.

Thanks for the feedback.

Closing

[2020-06-01 23:41] #2050 closed

[2020-06-01 23:56] browningb commented on #2016
Thanks for the updates. I found out that Reports are not visible to admins within admin console for the DoD M365 environment yet.

[2020-06-02 02:02] SergGu commented on #584
Can you please include new BDM link to the old 30-90-beyond roadmap? I suggest to do it in **BOLD** on the top of the document. That is because I'm concerned about great BDM document being overlooked.

New link - https://docs.microsoft.com/en-us/microsoft-365/security/microsoft-365-security-for-bdm
Old roadmap - https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/security-r

[2020-06-02 08:32] NikhilMhatre09 opened #2093 "API's for Office 365 ATP are not updated."
Hello,

The API's mentioned in this document are not updated. I am not able to see any API which are related to Office 365 ATP.

BR,
Nikhil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1245b43f-721b-0bd0-b081-5307b5537e57
* Version Independent ID: d9ffc009-5576-9174-cc7c-b7caef1bb82b
* Content: [SIEM integration with

[2020-06-02 15:50] challengelogic opened #2094 "Rule priority"
[Enter feedback here]

Regarding section:
"When content is evaluated against rules, the rules are processed in priority order. If content matches multiple rules, the rules are processed in priority order and the most restrictive action is enforced. For example, if content matches all of the following rules, **Rule 3** is enforced because it's the highest priority, most restrictive rule:"

.. Shoul

[2020-06-02 18:08] markjjo commented on #2073
@Mlavieri First of all I think you should open a ticket with MS Support to investigate these issues/questions.

Having said that, engineering says that an inactive mailbox would be created if you deleted the on-premises user (and that deletion is synced to AAD). They also said that on-premises users whose identities are synced to AAD should be returned in the user picker to assign a retention poli

[2020-06-02 18:08] #2073 closed

[2020-06-02 18:39] cabailey commented on #2077
@paul-rich I found one reference that still had "preview" in the title for enabling sensitivity labels for SharePoint and removed this - is this what you meant?  Good example of why I don't like including the release status in the actual title because too easy to miss updating them.  But I still can't find any references to "under consideration as a feature".  Can you let know?

[2020-06-02 20:51] Mlavieri commented on #2073
Thanks again Mark, there may have been a licensing issue when we were testing this all out but the tenant has EXO Plan 2, I'll follow up with a ticket if we see that issue again. With regards to your other notes:

1. I was not aware that an Inactive Mailbox could not be placed on hold which in all honestly renders the less of my questions moot. The scenario that I was attempting to solve for is wh

[2020-06-02 21:07] mypil commented on #1496
@swhite-strath - We would like to follow up. Do you have any updates on this?

[2020-06-02 21:19] swhite-strath commented on #1496
Hi @mypil I was made the close my original ticket and open a new one as it was opened for too long. I have sent logs and step files of the issue and awaiting a response.

[2020-06-02 21:44] Sirkkuw commented on #1583
I am following up with PG.

[2020-06-02 22:17] emardee opened #2095 "Suggestion: Add Spam bypass for spam emails being reported & BCC'd onsite"
Hi. I have just followed these instructions to create a rule to add a BCC redirect to a spam monitoring shared mailbox for any emails that my staff send to Microsoft for spam reclassification purposes. However it struck me that letting such messages pass unhindered through the spam filter might also be important to make sure they definitely arrive correctly. Therefore I suggest adding the followin

[2020-06-03 04:08] ranabanerjee15 opened #2098 "no precise information on enabling office 365 user based MFA settings"
No Precise Information on how and where to navigate to enable/enforce Office 365 MFA for user-based setting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1e6c9a-9644-6d86-3962-d36bf1efd656
* Version Independent ID: 96142d6c-71de-6ea9-0361-dbec82647b15
* Content: [Set up multi-factor authentication for users - Micros

[2020-06-03 06:28] lytao opened #2099 "Please clarify the sender scope in the page"
Hello,

I am a bit confused about the sender mentioned in the page. It can be envelope sender (5321.MailFrom), or the From header (5322.From).

I did tests couple of years ago and seems the blocked sender list in policy just work for 5321.MailFrom only. I did same kinds of test these days:
- If 5322.From is matched by the block list, the messages got blocked with SFV:BLK, so that means it works fo

[2020-06-03 17:06] get-itips commented on #1879
@mhendric Mike
Do you refer to the fact that, according to the admin panel, CommSite3 has no Owners (but admins) ?

[2020-06-03 17:31] mhendric commented on #1879
Hi @get-itips , I'm specifically calling out that depending on where you look within the service and available tools, Site Owner can show completely different things. This documentation talks about Site Owners, but that is clearly ambiguous at this point. In the context of these reports (and the dataset behind them), I'd like to clarify what a Site Owner actually is. Where do you look to see what

[2020-06-03 17:39] justadakaje opened #2102 "Very confusing link in the "Turn on Targeted release" section"
The "Turn on Targeted release" section, step 2 appears to be a repeat of the first step, but appears to be a Chinese link? I think this section of the page needs to be edited with the appropriate regional URLs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: efd08ca2-db5b-898f-8702-49698e7fe4b2
* Version Independent ID:

[2020-06-03 19:46] deividfoggi opened #2103 "Unable to assign a specific Teams channel to a communication compliance policy"
Consider the following statement:

"For Teams Channel communications: Assign every Microsoft Teams channel or Microsoft 365 group you want to scan that contains a specific user to the communication compliance policy. If you add the same user to other Microsoft Teams channels or Microsoft 365 groups, be sure to add these new channels and groups to the communication compliance policy."

But when you

[2020-06-03 21:57] chrisda commented on #2099
@lytao, OK. I added the similar information from the safe sender lists topic.

Is this satisfactory?

[2020-06-03 22:02] chrisda commented on #2095
@emardee, it depends on the reporting method, but in most cases, the good/bad/suspect message is sent to Microsoft as an attachment in a new email message to preserve the original message headers, so I don't think there's a requirement for the message to bypass spam filtering. It probably won't hurt, but I don't think it's required.

[2020-06-03 22:09] emardee commented on #2095
Fair enough. You are probably right. I wasn’t sure… but I thought since we know the attachment is probably spam, and we are trying to let it through, why risk the spam filter possibly blocking it. 😊

Thanks for responding.

Mike

From: Chris Davis <notifications@github.com>
Sent: Thursday, 4 June 2020 10:02 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: emardee

[2020-06-04 00:21] cupidchan opened #2104 "The instruction is not working"
I follow the exact same instruction but found out that Cmdlet provided in the Step 2 are not working. For example, Connect-AzureAD and Get-AzureADDirectorySetting just not there in module AzureADPreview. I also tried AzureAD.Standard.Preview but it also doesn't work. My PowerShell version is 7.0.1. Can you please confirm that the script provided in Step 2 is still valid?

Thanks,
Cupid

---
#### D

[2020-06-04 01:35] VShrubowich opened #2105 "Number of day messages are quarantined is slightly off"
In the "How long are messages kept in the quarantine?" section, it states that messages are kept in quarantine for 30 days before being deleted automatically.  In reality, the messages are kept about 28 or 29 days, depending on the time of day they were quarantined.

If looking at the Expires and Received dates and times in the Security & Compliance Center, the difference between them ranges from

[2020-06-04 02:09] mypil commented on #1887
@philstubbington - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/1fd8a0a66bb5011eda769301bc7fed4dacf372d5.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-04 02:09] #1887 closed

[2020-06-04 02:23] VigilanteWang opened #2106 "Multiple custom domains CNAME records host name"
In this [part](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#publish-two-cname-records-for-your-custom-domain-in-dns), it provides an example that:

`Host name:            selector1._domainkey
Points to address or value:    selector1-cohovineyard-com._domainkey.cohovineyardandwinery.onmicrosoft.com
TTL:

[2020-06-04 02:43] lytao commented on #2099
Thank you for the quick response. I am still not quite sure 5321.MailFrom is inspected because the header SFV:SPM appear instead of SFV:BLK, but I can try to dig further. The document is clear enough.
You can close the issue. Thanks again.

[2020-06-04 06:03] VigilanteWang commented on #2106
sorry, it's solved

[2020-06-04 06:03] #2106 closed

[2020-06-04 09:08] EricSMurphy opened #2108 "What are the default EOP Outbound Spam Policy limits?"
When configuring the Outbound Spam Policy in the Office 365 Security and Compliance portal, the section for setting recipient limits (i.e. external hourly limit, internal hourly limit and daily limit, etc.) isn't clear as to what the default of 0 means, it just says "specify 0 to use defaults or a value between 0 and 10,000." [The doc guidance ](https://docs.microsoft.com/en-us/microsoft-365/secur

[2020-06-04 10:41] kennethvs opened #2109 "Exclusions"
[Enter feedback here]
Based on a MS support case (#20321033) where emails from noreply@email.teams.microsoft.com ended up in the Junk because of ATP anti-phish impersonation. Microsoft recommends to add the noreply@email.teams.microsoft.com email address to the Excluded Senders list in the ATP anti-phishing policy.

Is there a official MS documentation page, which lists the email addresses Microso

[2020-06-04 12:45] msbemba commented on #1846
@haggisbreath  Thank you for your feedback. While It takes immediate effect, I would suggest giving it 2-5 minutes as it does not take more time than that.

Hope this helps!

Thanks
Sri

[2020-06-04 13:05] bartbilliet commented on #1842
@Sirkkuw can you help here? Thank you! :)

[2020-06-04 13:34] hobbsenigma opened #2110 "Customer Lockbox settings moved"
The instructions to turn on the Customer Lockbox are no longer accurate.  Please update!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52aa5-3876-1854-0fcc-279d694cb45d
* Version Independent ID: bfa3001d-e71a-705c-3492-5add564d131d
* Content: [Customer Lockbox Requests - Microsoft 365 Compliance](https://docs.micro

[2020-06-04 16:22] #2099 closed

[2020-06-04 21:29] mypil commented on #2034
@cyanogenmod890 -  Cijenimo sve povratne informacije koje poboljšavaju sadržaj u Microsoft docs, ali nismo imali bilo koji odgovor od vas, tako da ćemo zatvoriti ovaj problem.

Ako postoji određeno područje dokumenata na kojem možemo poboljšati, slobodno otvorite novi problem klikom na odjeljak Povratne informacije na određenom Microsoftovu dokumentu koji se nalazi pri dnu stranice. Hvala ti.

[We

[2020-06-04 21:29] #2034 closed

[2020-06-04 22:43] #2081 closed

[2020-06-04 23:59] LauraWi commented on #1786
Hi -- We've reported this issue to the marketing team that periodically updates this download so that it can be addressed when they next update.

[2020-06-04 23:59] #1786 closed

[2020-06-05 10:04] ArttuArstila opened #2114 "More detail needed on licensing"
Is this in Office 365 ATP Plan 1 or Plan 2?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ac8b1f-a7cf-3487-9a3c-8eff53e4adb5
* Version Independent ID: 63773389-8a4f-926f-8430-8c80b19ff2da
* Content: [Safe Documents in Office 365 ATP - Office 365](https://docs.microsoft.com/en-us/microsoft-365/s

[2020-06-05 11:31] rpremuz opened #2115 "examples of X-Forefront-Antispam-Report and X-Microsoft-Antispam headers needed"
The article should give a few examples of X-Forefront-Antispam-Report and X-Microsoft-Antispam headers with some fields and values explained here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e47e11dd-53ab-5f62-ac6c-59dbc00eed0d
* Version Independent ID: 362ad038-3b64-f342-2f8e-111635c4337d
* Content: [Anti-spam mess

[2020-06-05 12:55] taasakur opened #2116 "A part of the page is still saying "EDM is currently not supported in SharePoint""
To my understanding [the latest change](https://github.com/MicrosoftDocs/microsoft-365-docs/commit/518f3c76d31f87b05ce4c04cf4534d6d55ccc083#diff-6e4ac536d0718658c738e0a00495efa4) was aimed at reflecting the recent addition of EDM support for SharePoint Online. However, the following part still says it is NOT supported, which makes the whole page pretty much confusing.

Could you please fix this? T

[2020-06-05 16:27] HarrisburgUSysAdmin opened #2117 "Results/Reporting"
I have a Microsoft O365 Ambassador from a support ticket telling me that attack simulation results will NOT show up (in attack history) until the end of the 30 days.  This doesn't sound correct and I would like to get feedback from someone who works directly with this product.

He is quoting the sentence, "Phishing campaigns will collect and process events for 30 days. Historical campaign data wil

[2020-06-05 17:16] macosmin opened #2118 "Authenticator QR code can't be obtained any more?"
[Enter feedback here]
How am I suppose to get the QR code again, in case I've uninstalled Authenticator from my mobile phone (because Teams on Android had trouble connecting and instructed me to reinstall Authenticator)?
As seen in the video on the page, there was a step where it should have asked for my mobile phone number -- this step I don't remember doing... maybe I did...
Now I'm moving back

[2020-06-05 17:17] kshi-docs commented on #2114
This is not using the Office 365 ATP plans - from the licensing perspective, this feature is only available for Microsoft 365 E5 and Microsoft 365 E5 Security SKUs.

[2020-06-05 18:03] cabailey commented on #2077
@paul-rich  Will leave open until Monday and then close if I don't hear from you.

[2020-06-05 19:11] bholzmmc opened #2119 "Clarify encryption label limits"
Near the end of the 'What label policies can do' section, just before "Label policy priority (order matters)" section  it reads, "There is no limit to the number of sensitivity labels that you can create and publish, with one exception: If the label applies encryption, there is a maximum of 500 labels".
It's not clear to what the maximum applies:

Is that 500 labels total as long as at least one h

[2020-06-05 19:14] moditpro365 opened #2120 "Mapping file has a 500 item limit"
I ran into this issue today and it should be noted here or on the FAQ page. When using this process, there is a limit of 500 items per mapping file. I have automated the collection of PSTs across our enterprise as well as the mapping file creation due to the number of files we have. Knowing this info would be beneficial to others as well.

---
#### Document Details

⚠ *Do not edit this section. It

[2020-06-05 19:40] cabailey commented on #2119
@bholzmmc  Thanks for the question, I'll clarify in the docs. The 500 limit is for creating and storing the backend protection templates that get automatically created when you configure a label for encryption.  So you can have 500 labels that include encryption and use these labels repeatedly in different policies. There is no limit to the number of labels without encryption because these don't c

[2020-06-05 19:40] #2119 closed

[2020-06-05 20:04] markjjo commented on #2120
@moditpro365 Thanks for the heads up. I'll look into updating documentation. Curious, when did the error surface in the workflow? When the csv is validated when you're creating the import job or after the import job was created and the import process started? If the latter, were PST file for the first 500 users in the csv file imported? And I assume the fix is to create multiple csv files/import j

[2020-06-05 20:08] moditpro365 commented on #2120
Post upload during the mapping file validation. And yes, I ended up splitting the file contents up into two files. Once I did that, both mapping files validated successfully.

From: Mark Johnson - MSFT <notifications@github.com>
Sent: Friday, June 5, 2020 1:05 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Stephen Morgan <stephen@blackbearlab.com>; Mention <men

[2020-06-05 20:12] markjjo commented on #2120
@moditpro365 Ok, thanks for following up. I will add this limit to the documentation, probably in Step 4 and maybe in Step 5 where the csv file is validated.

[2020-06-05 20:12] #2120 closed

[2020-06-05 20:19] bholzmmc commented on #2119
Hi Carol,

A follow-up question, are ‘Archived’ templates counted as well as Published ones toward the 500 limit.

Thanks,

Brian

Brian Holzman, Storage Engineer
Marsh & McLennan Companies
Global Technology Infrastructure (MGTI) | Enterprise Systems Engineering
121 River Street, Hoboken, NJ 07030, USA
+1 201 284 3076 | Fax +1 201 256 8076 | brian.m.holzman@mmc.com<mailto:brian.m.holzman@mmc.com>

[2020-06-05 20:56] bluestarcs opened #2121 "Custodian licensing"
Do all custodians need to have an E5 license in order to send and track legal hold notices? Is there a way to send hold notices to external email addresses and track their acknowledgments?

[2020-06-05 21:04] paul-rich commented on #2077
Hi Carol,
Sorry for slow reply. You corrected the reference I came across. Thank you!

From: Carol Bailey <notifications@github.com>
Sent: Friday, June 5, 2020 11:04 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: paul-rich <paulrich@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] multi-user edit in Preview (#20

[2020-06-05 21:53] chrisda commented on #2105
@VShrubowich, at this point, your best course of action is to open a support request.

[2020-06-05 22:10] mypil commented on #2121
@bluestarcs - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-06-05 22:56] bluestarcs commented on #2121
here you go!

https://docs.microsoft.com/en-us/microsoft-365/compliance/add-custodians-to-case?view=o365-worldwide
________________________________
From: Joyce Y. <notifications@github.com>
Sent: Friday, June 5, 2020 3:11 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Sarah Thompson <sthompson@bluestarcs.com>; Mention <mention@noreply.github.com>
Subject: Re: [

[2020-06-05 23:14] markjjo commented on #2121
@bluestarcs Thanks for following up.

1. To add and manage users as custodians in an AeD case (including managing all aspects of hold notifications), the user/custodian must be assigned an E5 license.
2. No, external users can't be managed as custodians in an AeD case and they can't be sent hold notifications.

[2020-06-05 23:14] #2121 closed

[2020-06-05 23:40] cabailey commented on #2119
@bholzmmc  Yes.  Very few customers hit this limit but if you do, evaluate whether you really need old templates and if not, delete them.  But do an export first, as a backup.  More info: https://docs.microsoft.com/en-us/azure/information-protection/configure-templates-with-powershell

[2020-06-05 23:42] cabailey commented on #2077
Thanks for the update!  Closing.

[2020-06-05 23:42] #2077 closed

[2020-06-06 00:20] mypil commented on #2105
@VShrubowich - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution s

[2020-06-06 00:20] #2105 closed

[2020-06-06 00:50] mypil commented on #1601
@DaveJB21 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so w

[2020-06-06 00:50] #1601 closed

[2020-06-06 16:49] msbemba commented on #1842
@bartbilliet  Thank you for the feedback. I'm discussing this with the author internally and will update you shortly.

Thanks
Sri

[2020-06-06 19:33] fylo5 opened #2123 "fylo5"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: d5caf38e-e511-0763-55c8-0f54dcc6abee
* Version Independent ID: 05e41f24-433e-7535-8434-b4d51995ae0c
* Content: [What is a domain? - Microsoft 365 admin](https://docs.microsoft.com/ar-sa/microsoft-365/admin/get-help-with-domains/what-is-a-domain?redirectSourcePath=%252farti

[2020-06-07 13:42] mypil commented on #2123
@fylo5 - هل يمكنك مشاركة ما هي المشكلة المحددة التي لديك مع هذه الوثيقة؟ أم أنك فتحت هذا السؤال عن طريق الخطأ؟

إذا كان لديك أي مشاكل مع هذه الوثيقة، ونحن نقدر ذلك إذا كنت يمكن أن توفر لنا المزيد من التفاصيل حول ما يجب تحريرها و / أو تضمينها. شكرا!

[Can you please share what specific issue you have with this document? Or did you open this issue by mistake?

If you have any issues with this docume

[2020-06-07 20:19] mypil commented on #2068
@wil16098 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.

You might find others have made a similar request that you ca

[2020-06-07 20:19] #2068 closed

[2020-06-07 20:20] mypil commented on #2035
@o365geek - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-06-07 20:20] #2035 closed

[2020-06-07 20:58] mypil commented on #2037
@jordanjones98 - Thank you for engaging with the community here for the docs.

We greatly encourage collaboration from the readers and get constructive criticism, containing suggestions of what would improve the documentation. However, our work is restricted to making specific changes to docs so your suggestion and feedback might get more traction in the UserVoice channel.

Please feel free to ope

[2020-06-07 20:58] #2037 closed

[2020-06-07 22:14] mypil commented on #1846
@haggisbreath - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @RAJU2529 and @msbemba  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-07 22:14] #1846 closed

[2020-06-07 22:17] mypil commented on #2095
@emardee - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @chrisda so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-07 22:17] #2095 closed

[2020-06-08 05:54] WeiPinChai opened #2124 "The default maximum number of Microsoft 365 groups that an organization can have is 500,000, but can be increased by request."
"The default maximum number of Microsoft 365 groups that an organization can have is 500,000, but can be increased by request."

the documentation did not specify how/where to submit request.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 809bcea7-ebd6-58bc-9ff0-e764a459016d
* Version Independent ID: f86ecf79-7095-772a

[2020-06-08 06:11] ArttuArstila commented on #2114
Hi, and thanks for the reply! Perhaps good to clarify that also in the text (not included in Office 365 ATP plans), as the technology has O365 ATP in its name.

[2020-06-08 07:10] bwinkler-draeger opened #2125 "Clarify scope of sensitivity labels with site and group settings enabled"
Can you please clarify what is meant by "_You're now ready to create or edit sensitivity labels that **you want to be available** for sites and groups._".
From my understanding only sensitivity labels with site and group settings configured should be available when creating / editing a group. But after enabling the preview, all sensitivity labels available to a user (even the ones without any site

[2020-06-08 13:43] James-MCT commented on #2017
Is there any update available for this issue please - I have tenants that cannot go ahead with Teams until this is clearly understood. (PS, apologies for the double posting)

[2020-06-08 14:24] cabailey commented on #2125
@bwinkler-draeger Yes, this goes back to the statement in the Important callout "Gradually rolling out to tenants: Only labels with the site and group settings will be available to select when users create teams, groups, and sites. If you can currently apply a label to a container when the label doesn't have the site and group settings enabled, only the label name is applied to the container."

It

[2020-06-08 14:24] #2125 closed

[2020-06-08 15:58] Sirkkuw commented on #1879
This should probably go to @kaarins

[2020-06-08 17:17] imanboukly opened #2126 "MS Teams files Retention - info review"
Hi,
As I understand to retain MS Teams files we should apply SPO retention.
as per
https://docs.microsoft.com/en-us/microsoftteams/retention-policies

https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-teams?view=o365-worldwide

what do you mean by saying: ( when do we apply Office 365 group instead? Is the following correct?

Your retention policy can retain content in S

[2020-06-08 18:52] kaarins commented on #1879
I understand this and can add this.

[2020-06-08 19:51] HarrisburgUSysAdmin opened #2127 "Phishing campaigns will collect and process events for 30 days. Results may not be available for up to 30 days."
Opened a ticket with Microsoft about reports not showing accurate data. Their response was that phishing campaigns will collect and process events for 30 days.  You will need to wait 30 days for results. The full set of data won't be available until 30 days are up. Please clarify your instruction to reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-06-08 21:41] chaguile opened #2129 "Missing Org setting in configuration location"
In

Step 2: Enable privileged access
In the Microsoft 365 Admin Center
Sign into the Microsoft 365 Admin Center using credentials for an admin account in your organization.

In the Admin Center, go to Settings > Settings > Security & Privacy > Privileged access.

Should be

Step 2: Enable privileged access
In the Microsoft 365 Admin Center
Sign into the Microsoft 365 Admin Center using credentials

[2020-06-09 11:10] csoc-mo opened #2131 "ServiceNow Integration Doc"
I wanted to clarify if this integration will automatically open Alerts that have triggered policies from either Cloud App Security or Security & Compliance within my ServiceNow instance or just show what tickets I have created within the ServiceNow in the MS Security portal?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-09 11:10] #2131 closed

[2020-06-09 11:12] MO-LWB opened #2132 "ServiceNow Integration Doc"
I wanted to clarify if this integration will automatically open Alerts that have triggered policies from either Cloud App Security or Security & Compliance within my ServiceNow instance or just show what tickets I have created within the ServiceNow in the MS Security portal?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-06-09 12:37] bholzmmc commented on #2119
Do labels that have encryption but have the permission set to “Let users assign when they apply label”  count in any way ?
What about OME ?

And if not, why ?

Thanks,

Brian

From: Carol Bailey <notifications@github.com>
Sent: Friday, June 05, 2020 7:40 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Holzman, Brian <Brian.M.Holzman@mmc.com>; Mention <mention@no

[2020-06-09 14:42] tonydavies opened #2133 "Key vs Value"
in the text
_To enable modern authentication for any devices running Windows (for example on laptops and tablets), that have Microsoft Office 2013 installed, you need to set the following registry keys._

Do you mean value?

the example is

HKCU\SOFTWARE\Microsoft\Office\15.0\Common\Identity\EnableADAL

I thought EnableADAL is a value in the key KCU\SOFTWARE\Microsoft\Office\15.0\Common\Identity ?

[2020-06-09 16:31] Sirkkuw commented on #1583
The answer from the product group is: MFA is not currently supported.
The plan to implement the support is added to the product backlog pipeline

[2020-06-09 16:31] #1583 closed

[2020-06-09 19:11] get-itips commented on #1879
Thanks @kaarins

[2020-06-09 22:00] mypil commented on #2007
@mister-dj - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @MikePlumleyMSFT based on this https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2013#issuecomment-634064837 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-09 22:00] #2007 closed

[2020-06-09 22:16] msbemba commented on #1965
@Air-Git  Thank you for your feedback. We have added a note to the document on what Special characters are allowed.

This can be tracked via PR # https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2135

Thanks
Sri

[2020-06-09 22:20] vector-sigma opened #2136 "missing details of the MDATP portal integration in step 5"
A screenshot of the integration option for step 5. for MDATP, or at least the the name of the integration that its called in the MDATP portal would help. The documentations says Office 365 ATP but in MDATP the options are "Office 365 Threat Intelligence connection" (assuming this is indeed the correct integration option)

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-06-09 22:28] msbemba commented on #1971
@vwethan  Thank you for your feedback. We have made changes to the documnet via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2137

Thanks
Sri

[2020-06-10 05:09] MaratMussabekov commented on #1645
Hello @mtwelve ,
 **requires more detail regarding the 'special environment'** - "special environment" here - is a dedicated VM where attachment is opened. After that, ATP checks whether anything was changed in the system of that VM.
**Is the 'special environment' isolated per customer?** - it is a black box isolated from everything
**How long are attachments retained for within the 'special envir

[2020-06-10 07:06] BlueOdyssey opened #2139 "Cannot connect as partner"
When attempting to connect as a partner, we get a generic error. Do you have any further info on how this process is meant to work?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ebdb9f0-76a5-eebc-4cd7-95f5407ed029
* Version Independent ID: 05abf201-e31c-08c0-a7fc-8fd46202e8b0
* Content: [Microsoft 365 usage analytics

[2020-06-10 07:16] EricSMurphy commented on #2108
Hello, any update/answer here? Wanted to get this answered for a customer. Feel free to ping me offline if that's easier "ericsco". Thanks!

[2020-06-10 07:29] Air-Git commented on #1965
I found a reference to the allowed special characters in aliases. It is in [New-UnifiedGroup](https://docs.microsoft.com/en-us/powershell/module/exchange/new-unifiedgroup?view=exchange-ps). I didn't find a reference to special characters allowed in display names.
The proposed amendment mentions dash and underscore, but this seems to be a qualification to an unstated condition.

[2020-06-10 07:33] MaratMussabekov commented on #1833
Hello @akb0ss ,
**is autopilot hybrid domain join supported** - yes, more details are [here](https://docs.microsoft.com/en-us/windows/deployment/windows-autopilot/user-driven#user-driven-mode-for-hybrid-azure-active-directory-join)
**can we deploy on-prem group policies to the clients** - no, you cannot do it using autopilot. To deploy on-prem group policies you need client PC to be able to access

[2020-06-10 09:40] MaratMussabekov commented on #1863
Hello @SLeuthold ,
according to [FedRAMP portal](https://marketplace.fedramp.gov/#/products?sort=productName&productNameSearch=microsoft), both Office 365 Commercial Cloud and Azure  Commercial Cloud are FedRAMP Authorized
Thank you

[2020-06-10 10:47] JustinBarker77 opened #2140 "Typo in Baseline table"
Typo in the Baseline sections (Public and Private). Default sharing link type should say Only, not Ony

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4734515e-5940-7ddd-48ac-807a1515d7f5
* Version Independent ID: 22873fc9-27f2-35b2-7441-044a7e00372c
* Content: [Configure Teams with three tiers of protection](https://do

[2020-06-10 19:28] alevere opened #2144 "New OME for Mobile"
I would like to see new OME behave the same regardless of platform. It seems to me the feature should not just be available on Outlook for Windows/Mac and OWA, but also for outlook for mobile/smartphones.

"What email client do I need to use in order to create an OME encrypted message? What applications are supported for sending protected messages?
You can create protected messages from Outlook 20

[2020-06-10 23:24] mypil commented on #1794
@D-Jeffrey - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/78d1f20578eaa842ed8861199c96157020c40de8.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-10 23:24] #1794 closed

[2020-06-10 23:30] mypil commented on #1971
@vwethan - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/3f085182f8a5d980876e51f186af3d8d64117f18.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-10 23:30] #1971 closed

[2020-06-11 01:19] mattgaspar opened #2147 "eDiscovery search - Prevent recipient expansion not working"
The third note on this page that describes "recipient expansion" says to append an asterisk to prevent this.  It doesn't appear to work.  With the asterisk included as shown in the example, the results still include messages from a different account with the same Display Name.  The results returned do not contain the address that was being searched.

---
#### Document Details

⚠ *Do not edit this

[2020-06-11 06:09] limjianan opened #2148 "endpoint.microsoft.com or devicemanagement.microsoft.com"
do microsoft change the endpoint.microsoft.com from devicemanagement.microsoft.com?
Currently both of them looks identical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87804d7-c76b-509d-eaa0-18b91b0563bd
* Version Independent ID: 7dc288f3-939a-590b-fe8b-31a266795fa3
* Content: [Microsoft security portals and admin

[2020-06-11 06:35] bharav opened #2149 "Errror while adding custodian or hold with one drive location"
Hi Team

I am always getting the below issue as soon as i add location as one drive for both custodian and hold
![image](https://user-images.githubusercontent.com/13413188/84352889-c59fe780-abdb-11ea-8a5d-f9fc82e161aa.png)

[2020-06-11 09:16] freeat22 opened #2150 "Certificate expired for https://sender.office.com/"

[2020-06-11 09:27] forester123 opened #2151 "Admin roles to manage add-ins in admin center"
In below docs
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/centralized-deployment-faq?view=o365-worldwide

It says only Global admin can manage and deploy add-ins in admin center. However, per my test, **License admin** and **User admin** can also manage and deploy add-ins. I

[2020-06-11 12:42] elrod-johnson opened #2152 "change-membership-type-for-a-group-powershell"
[change-membership-type-for-a-group-powershell](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-change-type#change-membership-type-for-a-group-powershell)
verbatim code from this page doesn't work

[code]

[code]

see [317](https://github.com/Azure/azure-docs-powershell-azuread/issues/317)
**317 was closed one year ago.**

is this not fixed yet?
i don't want to un

[2020-06-11 14:53] christianarg commented on #1736
@erik-wahlstrom I used the feedback feature you mention last week but did not get any response.

[2020-06-11 16:57] markjjo commented on #2147
@mattgaspar You might try adding the asterisk to the alias or LegacyExchangeDN for the user that you are trying to search. Otherwise, please open a ticket with MS Support to investigate.

[2020-06-11 16:57] #2147 closed

[2020-06-11 17:06] markjjo commented on #2149
@bharav I assume you're trying to create a hold or add location to a hold in Core eDiscovery or Advanced eDiscovery v2, correct? Assuming the URL is correct and the OneDrive accounts exist, it's possible (as per the error) that a search permissions filter might be preventing you from doing this or other permissions related issues. See [this topic](https://docs.microsoft.com/en-us/microsoft-365/com

[2020-06-11 17:06] #2149 closed

[2020-06-11 17:18] MaratMussabekov commented on #1899
Hello @bitn-rc ,
Windows 7/8.1 product keys could still be used to activate Windows 10. However, doing that would be illegal, if you do not have appropriate Microsoft 365 subscription that provides an upgrade to Windows 10.

So you need both Microsoft 365 subscription and original product key to perform an upgrade.

Thank you

[2020-06-11 17:35] cmcatee-MSFT commented on #1762
@JayPenney I need more information to troubleshoot this. Can you please provide the following information:
- Exact name of the subscription you're trying to add extra file storage to
- How you bought your subscription (from the web, through a CSP, or through volume licensing)

[2020-06-11 17:52] JayPenney commented on #1762
the new menu is up. I can find it now.
Under Billing -> Purchase Services -> select the account type we have - check the add-on's page
This now shows the per GB billing/month ($0.26/gb/month)

[2020-06-11 17:53] cmcatee-MSFT commented on #1762
Great! I'll close this thread, then. Thanks!

[2020-06-11 17:53] #1762 closed

[2020-06-11 19:04] bartvermeersch opened #2153 "EXO license for on-prem users"
The info says:
_To store Teams chat data for an on-premises user in a cloud-based mailbox, the user must be assigned a Microsoft Teams license and an Exchange Online Plan license in Office 365_

If a new user is given an EXO license before an on-prem mailbox is provisioned, wont this be an issue? What if the new user goes to http://outlook.office365.com/ before an on-prem mailbox is provisioned? A

[2020-06-11 19:22] myusrn opened #2154 "where is the referenced security center & compliance accessed"
This walkthrough instructs user to access the "security & compliance center in your tenant" which i don't see in my m365 admin.microsoft.com portal or azure portal.azure.com environments.

It presumably is part of m365 suite but no details are given as to what subscription or subscription addon needs to be purchased in order to light it up.

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-11 20:31] mypil commented on #2150
@freeat22 - May we know which Microsoft document link you used in reference to this issue? Or are you having some technical issues which requires technical support?

If you have some issues with a particular doc, we would really appreciate it if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2020-06-11 22:04] cmcatee-MSFT commented on #2039
@kagw69 You should use the Microsoft 365 admin center for managing device licenses. You'll be able to see the counts of device licenses used & available there.

[2020-06-11 22:04] #2039 closed

[2020-06-12 00:58] Padavid opened #2157 "Add link to Limitation section"
It would be good to have a link on this page in the limitation section to the Known issues with sensitivity labels so it is easier to find. - https://support.microsoft.com/en-us/office/known-issues-with-sensitivity-labels-in-office-b169d687-2bbd-4e21-a440-7da1b2743edc#ID0EBBAAA=Online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-06-12 04:02] data-model opened #2158 "Wrong License information"
When I export the list of users, I get wrong license information for some users. They are showing as NOT having an O365 license, when in fact they are licensed. The 'Activations' report seems to be driving the LicensedForXXXX columns in Active Users. The Activations Product Licenses column is only showing one product, MICROSOFT 365 APPS FOR ENTERPRISE for most users, but there are some showing PRO

[2020-06-12 07:32] MaratMussabekov commented on #1970
Hello @ChongAlan ,
You are right, the part "To remove an employee" in the article is actually about the preventing user from logging in. I will create a PR to fix that.

The video shows the steps from the [section about the removing of the user account](https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee?view=o365-worldwide#delete-a-former-employees-user-account).

[2020-06-12 13:12] Strick1969 opened #2160 "The location here is incorrect"
it says:
Sharing
Navigation: Microsoft 365 admin center > Settings > Settings > Security & privacy tab > Sharing

it should say:
Sharing
Navigation: Microsoft 365 admin center > Settings > Org Settings> Security & privacy tab > Sharing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 030743fd-0c22-025b-f190-f637a2772506

[2020-06-12 14:21] JeroenDronkers opened #2161 "Article not up to date"
This is regarding the statement: "You need to be assigned permissions before you can perform these procedures. To add, modify, and delete anti-spam policies, you need to be a member of the Organization Management or Security Administrator role groups."

This is not complete since you can do the same actions with the Rbac Hygiene Management role group as per Product group investigation:
https://o36

[2020-06-12 17:21] NRClay opened #2163 "Possibly Incorrect Information referencing Phone System avaiability on Microsoft 365 Business Premium in FAQ Page"
Hello team,

Can we verify that the following statement is updated to reflect the availability of Microsoft 365 Business Voice service?

Page:
microsoft-365-docs/microsoft-365/business/support/microsoft-365-business-faqs.md
Statement:
----------------------------------------------
Can I add Phone System and Calling Plans to Microsoft 365 Business Premium?

No, Phone System and Calling Plan are res

[2020-06-12 17:55] msbemba commented on #2017
@James-MCT  Thank you for your feedback. I have double-checked and the license requirements are correct (Microsoft 365 E3 subscription + the Microsoft 365 E5 Insider Risk Management add-on). I would recommend contacting support for this issue. @mypil  can you provide @James-MCT  with the support contact information?

Thanks
Sri

[2020-06-12 18:43] trajano opened #2164 "Put a note whether switching between group types is allowed"
Put a note whether switching between group types is allowed or not.  I presume no, but it would be preferable to have it written down here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a37b2d3-f63b-a719-565b-a46f2b1f2e96
* Version Independent ID: e267656e-4bda-f03b-4d9c-d5149ec0a227
* Content: [Compare groups - Micr

[2020-06-12 20:04] anyITsolution opened #2165 "Is this article outdated?"
Hi,

can you get this article up to date? so the product is not even called AIP any more so I think tis time this article gets updated? isn't AIP now called MIP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21613e57-8909-5adc-26ea-14e0a4771d3b
* Version Independent ID: dcd08c8d-4786-abbd-bd9d-47ad6d2117e6
* Content:

[2020-06-12 23:47] chrisda commented on #2161
@JeroenDronkers, confirmed. The Hygiene Management role group wasn't even documented in the Exchange Online permissions topic. That role group has the Transport Hygiene management role, which basically gives you access to any/app anti-spam/anti-virus protection features. I updated this topic, and a bunch of other related topics.

Thanks for the feedback.

Closing

[2020-06-12 23:47] #2161 closed

[2020-06-12 23:58] chrisda commented on #2154
@myusrn, I added the link to the step.

Thanks for the feedback.

Closing

[2020-06-12 23:58] #2154 closed

[2020-06-13 01:04] myusrn commented on #2154
Hi Folks thanks for adding that clarification.  When i visit that link, https://protection.office.com/, in my corporate m365 environment i only see Home | Records Mgmt | Threat Mgmt | Service Assurance.  I don't see a way to follow the next step that says "2. Navigate to Search and select Audit log search.".  Perhaps this is because i'm an end user in my tenant and not user with whatever m365 subs

[2020-06-13 10:32] BakkerJan opened #2166 "Audit log enabled?"
Maybe this is a stupid question, but I could not find the answer in de docs: Do you need to enable Office 365 audit in order to audit Customer Lockbox requests ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52aa5-3876-1854-0fcc-279d694cb45d
* Version Independent ID: bfa3001d-e71a-705c-3492-5add564d131d
* Content:

[2020-06-13 14:34] mypil commented on #1496
@swhite-strath - Thank you for engaging with the community here for the docs.

This git issues channel is for documentation changes only. For now, we will have to close this issue. Please open a new issue if you get any feedback from your support ticket with some information that can be added to make this doc better or if there are any documentation errors found so we can help to update the doc as

[2020-06-13 14:34] #1496 closed

[2020-06-13 15:54] cabailey commented on #2157
@Padavid  While I understand the request, the known issue you ran into for Excel is a (hopefully temporary) problem with the app rather than a limitation of the service support for sensitivity labels  - the focus of this page and the scope of the limitations section.

There are links to the known issues for sensitivity labels from the page "Use sensitivity labels in Office apps" (https://docs.micr

[2020-06-13 15:54] #2157 closed

[2020-06-13 18:45] mypil commented on #2053
@ryanmck-msft - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @MikePlumleyMSFT so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-13 18:45] #2053 closed

[2020-06-13 19:17] msbemba commented on #2001
@avisuj  Thank you for your feedback. We have made changes to the doc via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2167

Thanks
Sri

[2020-06-13 19:19] msbemba commented on #1965
@Air-Git Thank you for the feedback. In general dash and underscore are allowed for username or group name in office 365. The below document talks more in detail.

https://docs.microsoft.com/en-us/office/troubleshoot/office-suite-issues/username-contains-special-character

Hope this helps!

Thanks
Sri

[2020-06-13 19:51] mypil commented on #1650
@SeCossio - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/fc1c74023d69ef221d7ffe2743e1178b1e702612.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-13 19:51] #1650 closed

[2020-06-13 20:10] msbemba commented on #1960
@DeanGross  Thank you for the feedback. The sensitive protection enforces MFA on On low or above sign-in risk whereas the Highly regulated protection Forces MFA on On all-new sessions.

The below document has more information.

https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-policies-configurations?view=o365-worldwide#applying-these-capabilities-across-the-three-tiers-of-pr

[2020-06-13 20:47] mypil commented on #1651
@SeCossio - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/be2fd6aa1c61a93cb21625450d23fb0daffc462d.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-13 20:47] #1651 closed

[2020-06-13 20:51] mypil commented on #1475
@Disorganise - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/9f17bf28974bf588be3a0763870b516a93bef119.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-13 20:51] #1475 closed

[2020-06-13 21:06] mypil commented on #1899
@bitn-rc - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @MaratMussabekov so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-13 21:06] #1899 closed

[2020-06-13 21:10] mypil commented on #1863
@SLeuthold - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @MaratMussabekov  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-13 21:10] #1863 closed

[2020-06-13 22:36] Air-Git commented on #1965
The context of my comment is the use of special characters when creating ""teams" or Office 365 Unified Groups. By default, users can create groups. By default, these show in the GAL. This would be chaotic without a naming policy. We use special characters in the prefix of the naming policy to indicate user-created groups. However, the group has two visible names: one is the display name of the gr

[2020-06-13 23:55] msbemba commented on #1965
@Air-Git  I'll check with the author and confirm if have an explicit list of special characters allowed for unified groups.

Thanks
Sri

[2020-06-14 10:54] mypil commented on #1965
@MikePlumleyMSFT - Can you please share your insights on this issue?

Thank you.

[2020-06-14 11:40] mypil commented on #1833
@akb0ss - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @MaratMussabekov so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-14 11:40] #1833 closed

[2020-06-14 17:18] msbemba commented on #2011
@chongsunlim Thank you for your feedback. We are discussing this with the author and will provide you an update shortly.

Thanks
Sri

[2020-06-14 18:20] win-prac opened #2168 "SCCM LAB KIT Server Internet Connectivity Issue"
Dear Team,

I have downloaded the lab kit provided in the link and ran the setup to create the Hyper-V virtual machines for the SCCM Lab. The lab machines does not get internet connectivity. Do i need to setup any additional configuration for machines to get the internet connectivity?

Thanks and Best Regards.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is re