[2021-08-04 11:11] yogkumgit commented on #5833
@rhoward9416 Considering the nature of the issue,  please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that

[2021-08-04 11:11] #5833 closed

[2021-08-04 11:23] yogkumgit commented on #5806
@msbemba Thank you very much for the contribution and sharing this explanation. @jmmowrer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:24] #5806 closed

[2021-08-04 11:25] yogkumgit commented on #5807
@msbemba Thank you very much for the contribution and sharing this explanation. @jmmowrer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:26] #5807 closed

[2021-08-04 11:27] yogkumgit commented on #5808
@msbemba Thank you very much for the contribution and sharing this explanation. @jmmowrer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:27] #5808 closed

[2021-08-04 11:43] yogkumgit commented on #5809
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:43] #5809 closed

[2021-08-04 11:47] yogkumgit commented on #5810
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:48] #5810 closed

[2021-08-04 11:49] yogkumgit commented on #5812
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:50] #5812 closed

[2021-08-04 11:51] yogkumgit commented on #5813
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:52] #5813 closed

[2021-08-04 11:57] yogkumgit commented on #5773
@msbemba Thank you very much for the contribution and sharing this explanation. @IfEyeOnlyKnew Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 11:58] #5773 closed

[2021-08-04 12:04] yogkumgit commented on #5769
@msbemba Thank you very much for the contribution and updating the documentation with PR. @turnma Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 12:05] #5769 closed

[2021-08-04 12:11] yogkumgit commented on #5800
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 12:11] #5800 closed

[2021-08-04 12:13] yogkumgit commented on #5802
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 12:13] #5802 closed

[2021-08-04 12:19] yogkumgit commented on #5787
@msbemba Thank you very much for the contribution and updating the documentation with PR. @loosus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 12:20] #5787 closed

[2021-08-04 12:37] yogkumgit commented on #5772
@chuckedmonson Please help us in resolving this issue. Thanks

[2021-08-04 12:38] yogkumgit commented on #5771
@chuckedmonson Please help us in resolving this issue. Thanks

[2021-08-04 12:39] yogkumgit commented on #5759
@mjcaparas Please help us in resolving this issue. Thanks

[2021-08-04 12:41] yogkumgit commented on #5758
@markjjo Please help us in resolving this issue. Thanks

[2021-08-04 12:50] yogkumgit commented on #5786
@msbemba Thank you very much for the contribution and sharing this explanation. @NovaWorksr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 12:50] #5786 closed

[2021-08-04 12:54] yogkumgit commented on #5785
@msbemba Thank you very much for the contribution and updating the documentation with PR. @loosus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-04 12:54] #5785 closed

[2021-08-04 13:08] deividfoggi opened #5841 "Information about how the retention impacts Sharepoint quota is missing"
It is not clear in this article how the retention of information by using retention policies will impact the storage quotas in Sharepoint and which quota will be consumed: site quota or tenant`s total storage quota?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b54827-f642-4c77-7cfe-64e8c2a1d1d9
* Version Independen

[2021-08-04 13:12] andydlayton opened #5842 "Confusion about the Note around CDN availability for government cloud"
I have had some confusion from GCC customers (they are in the commercial cloud, but a logically separated data enclave).  Can we call out in the note that the CDN is available for Commercial and GCC customers to distinguish.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8cfe2b0-c14d-1083-7c88-a91e58593cfa
*

[2021-08-04 14:08] yogkumgit commented on #3801
@MSFTTracyP Please merge the PR #3854

[2021-08-04 14:09] yogkumgit commented on #5362
@MSFTTracyP Please merge the PR #5405

[2021-08-04 14:14] yogkumgit commented on #2622
@Bertug We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2021-08-04 14:38] msbemba commented on #5778
@jonwbstr Thank you for your feedback. I was not able to execute the script using the AZ module. it still expects to connect to AzureAD.

I will work with the team internally and update you shortly.

Thanks
Sri

[2021-08-04 15:00] cabailey commented on #5841
@deividfoggi  Yes, this is important information so we put it on the main page, where we introduce the concept of retention in place and explain "For SharePoint and OneDrive sites: The copy is retained in the Preservation Hold library."(https://docs.microsoft.com/microsoft-365/compliance/retention#how-retention-settings-work-with-content-in-place):

The Preservation Hold library consumes storage t

[2021-08-04 15:10] deividfoggi commented on #5841
It may be clear in english but it is not in portuguese and I don't think it is a matter of automatic translation. More than one customer asked me about it because it is not a direct sentence. They wonder if it is going to impact only the tenant's total quota or the site quota which means it will prevent users from saving files because the respective site quota is reached. If the site quota is impa

[2021-08-04 15:40] cabailey commented on #5841
OK, will look into making this clearer - thanks for your feedback!

[2021-08-04 16:40] Breaker119 opened #5843 "Large Case Functionality & Limits"
My apologies if I am misunderstanding the preview state of large-format cases. Based on my experience trying out the option, Indexing of custodians does not work (jobs never complete) and the review set option to export "Loose files and PSTs" is always greyed out.

If these are expected behaviors they should be added to the documentation.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-08-04 17:41] cabailey commented on #5841
Updated now - I think it was because the original wording was expressed negatively ("isn't exempt") instead of a positive statement that made it harder to understand/translate.  I've changed this & condensed the two sentences:

Because the Preservation Hold library is included in the site's storage quota, you might need to increase your storage when you use retention settings for SharePoint and Mi

[2021-08-04 18:22] cabailey commented on #5841
Closing - thanks for your feedback that helps to make the docs better for everybody!

[2021-08-04 18:22] #5841 closed

[2021-08-04 19:21] rzhangongit commented on #5829
Hi Yogkumgit, Thank you for reaching out. The document is for "Cross-tenant mailbox migration" published at https://docs.microsoft.com/en-us/microsoft-365/enterprise/cross-tenant-mailbox-migration?view=o365-worldwide

We are following the instructions to perform cross-tenant mailbox migration, but could not get through the step 6.

Sorry this is the first time I posted a question on the feedback l

[2021-08-04 19:36] mjcaparas commented on #5759
Checking with team.

[2021-08-04 19:52] chuckedmonson commented on #5771
@seansquires -- Can you please advise sparkitect about the inquiry above? Thank you.

[2021-08-04 19:54] chuckedmonson commented on #5772
@seansquires -- Can you please advise sparkitect on another issue in the inquiry above? Thank you.

[2021-08-04 20:21] markjjo commented on #5843
@Breaker119 Thanks for the heads up. I checked with engineering, and exporting PST files from large cases is not yet supported, but it will be in the near future. I will add that info to the article in a known issues section. The advanced indexing issue is not expected behavior. Would suggest that you contact MS Support if it continues to be stuck. They might ask for for the job ID of the indexing

[2021-08-04 20:21] #5843 closed

[2021-08-04 20:24] chrfox commented on #4965
this article is hidden from the TOC and being deprecated

[2021-08-04 20:24] #4965 closed

[2021-08-04 20:26] #5567 closed

[2021-08-04 20:26] markjjo commented on #5755
@DarkMatterFlow Not sure how you are verifying how the hard delete is not working. If the mailbox is on any type of hold, items will not be purged. Here is article on deleting items from mailbox on hold: https://docs.microsoft.com/en-us/microsoft-365/compliance/delete-items-in-the-recoverable-items-folder-of-mailboxes-on-hold

Also, the cmdlet will only delete 10 items at a time, so not sure if th

[2021-08-04 20:27] mattdreher opened #5849 "Link broken"
The link for "How to migrate AD RMS to Azure RMS in Exchange Online" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f151cf2f-052a-67be-8d89-b58b9f2a3058
* Version Independent ID: d06a9563-5a46-e8cf-2833-6fe6df3798cf
* Content: [Message Encryption (OME) version comparison - Microsoft 365 Compliance](https://d

[2021-08-04 20:27] chrfox commented on #5663
Thanks for this, I'll approach the PG for examples

[2021-08-04 20:30] DarkMatterFlow commented on #5755
Thanks for getting back to me. This makes sense on restrictions on number of items.

I had use "-force" and run it multiple times to make it work. Without this switch, on my case, it wasn't deleting the email.

𝔸𝕟𝕒𝕟𝕕, 𝕥𝕙𝕖 𝔸𝕨𝕖𝕤𝕠𝕞𝕖
https://anandthearchitect.com
https://tipsfromanand.wordpress.com

-------- Original message --------
From: Mark Johnson - MSFT ***@***.***>
Date: 8/4/21 1:26 PM (GMT-08:

[2021-08-05 00:01] markjjo commented on #5843
@Breaker119 I also just found out that advanced indexing isn't turned on/supported for large cases. So, the fact that indexing of custodians doesn't work/complete is expected behavior. Eventually, this will be turned on, but until then I will also add this info to the topic. Sorry for suggestion to contact support. I'll try to remember to follow up in this github when PST export and advanced index

[2021-08-05 00:06] cabailey commented on #5756
Thanks for the screenshot - yes, that's the same notification on emails I see when I assign Microsoft 365 retention policies to a mailbox, and the experience is documented here: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-exchange#user-notification-of-expiry-date  If you weren't seeing this for your retention policy, it might be a timing delay and you should ask th

[2021-08-05 00:06] #5756 closed

[2021-08-05 00:12] Breaker119 commented on #5843
Awesome! Thanks for the response. Not a huge deal and I didn't even realize Large Case format was preview when I chose it. I had more custodians than normal so I thought that would be safe. I ended up recreating the case several times and it worked with a normal case. Turns out I only had about 400GB of content.

Jason Heiser

________________________________
From: Mark Johnson - MSFT ***@***.***>

[2021-08-05 00:20] markjjo commented on #5843
@Breaker119 Thanks for understanding. PST export and advanced indexing will be eventually be supported when large case format is released to general availability. Other than the increased limits, one other reason to try or test the large case format preview is the new and imported HTML transcript for conversation threading for Teams chats (which is also in preview). Here's an overview to the Teams

[2021-08-05 02:32] techangelsau opened #5854 "Update with licensing requirements"
Please update this documentation at the beginning to specify what 365 license is required for Communications Compliance. (365 E5).
https://compliance.microsoft.com/supervisoryreviewtrial

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd283c0e-1421-d45d-83de-db7210a43936
* Version Independent ID: 33f52f1e-86e1-8b07-5420

[2021-08-05 07:25] yogkumgit commented on #5799
@msbemba Thank you very much for the contribution and updating the documentation with PR. @29039 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-05 07:26] #5799 closed

[2021-08-05 10:04] yogkumgit commented on #5814
@msbemba Thank you very much for the contribution and updating the documentation with PR. @m8r1us Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-05 12:04] konstruktoid commented on #5540
@mroussel is correct, I suggest using `systemctl edit --full` as an example in the docs instead.
I can submit a PR shortly.

[2021-08-05 12:50] danmyhre opened #5856 "Incorrect Role"
There is no role called "IB Compliance Management"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b34b5c8-b67e-72f2-0eba-d98b760f1d16
* Version Independent ID: adcd41fb-ffd1-f6d0-96ad-0036c0a677a7
* Content: [Permissions - Security & Compliance Center - Office 365](https://docs.microsoft.com/en-us/microsoft-365/securi

[2021-08-05 14:15] msbemba commented on #5849
@mattdreher Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5857

Thanks
Sri

[2021-08-05 14:17] msbemba commented on #5829
@rzhangongit Thank you for your feedback. Unfortunately, It doesn't work with a visual studio subscription. You need to have an Azure subscription to use for creating resources.

Hope this helps!

Thanks
S\ri

[2021-08-05 14:25] msbemba commented on #5854
@techangelsau Thank you for your feedback. The Document is only an overview of what one can do with communication compliance. The next Page on the document ( Plan for communication compliance) has all details about permissions needed. The following document (get started with communication compliance ) has details about subscriptions and licensing.

Reference :- https://docs.microsoft.com/en-us/mic

[2021-08-05 14:28] msbemba commented on #5811
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5858

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-05 14:35] msbemba commented on #5804
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5859

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-05 14:36] msbemba commented on #5803
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5860

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-05 14:44] msbemba commented on #5805
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5861

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-05 16:28] chrisda commented on #5856
@danmyhre, I checked in two different E5 tenants. They both have it:

[code]

The [info barriers topic](https://docs.microsoft.com/microsoft-365/compliance/information-barriers) mentions the following licensing requirements:

The **rolling out now** language makes me think the feature might not be available everywhere yet?

[2021-08-05 16:35] msbemba commented on #5706
@FC-EricWeller Thank you for your feedback. We have fixed the feedback widget on the page. It will now route users to the O365 admin center feedback widget.

@kwekuako Thank you for your help.

@yogkumgit  This can be closed.

Thanks
Sri

[2021-08-05 16:59] msbemba commented on #5832
@gonz-kelv Thank you for your feedback. I'll work with the author internally and update you.

Thanks
Sri

[2021-08-05 17:05] msbemba commented on #5778
@jonwbstr I can confirm that currently, the script only works with the  Legacy Azure AD module. When we have steps for the new AZ module the document will be updated.

Hope this helps!

@yogkumgit  There are no changes to the document for now. Once the script is updated in the backend to work with the AZ module, this would automatically get fixed.

Thanks
Sri

[2021-08-05 17:26] wdiggleCANCOM opened #5862 "Typo in content"
There appears to be a mistake in the content...

In the hairpin section it reads...  (such as security stack, cloud access broker, of cloud-based web gateway)

Should it instead read... (such as security stack, cloud access broker, or cloud-based web gateway)

Thanks...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c

[2021-08-05 17:29] wybesmits opened #5863 "URL not working"
[Enter feedback here]
URL not working on: "For configuration steps, see **Use Microsoft OneDrive LTI with Canvas.**"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 699da01d-e317-390b-cdb6-67ce21b80d30
* Version Independent ID: eeb105a1-d032-fdd5-3bef-6972fb2919f6
* Content: [An Overview to LTI Apps](https://docs.micros

[2021-08-05 17:32] msbemba commented on #5699
@Andywareaus Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5864

Thanks
Sri

[2021-08-05 17:35] dmland commented on #5647
Thanks, but perhaps another "gentle reminder" is needed: 16 days later, it still links to the video.

[2021-08-05 17:55] pgoldweic opened #5865 "Is there a way to customize the login attribute mapping (required for the Admin installation)"
The login attribute selection is limited, and it does not work for institutions where the Azure Active Directory identities do not correspond to any of the provided options. Is there a way to customize this identity mapping? If not, is this feature in the Microsoft roadmap?

[2021-08-05 18:35] #5540 closed

[2021-08-05 19:04] mjcaparas commented on #5007
openSUSE is not supported.

For list of supported Linux server distributions see:

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux?view=o365-worldwide#system-requirements

[2021-08-05 19:04] #5007 closed

[2021-08-05 19:20] mjcaparas commented on #5759
To use our public APIs (via user context or app context) you'll need to create your own app.

While taking the portal token works for some APIs today, this method may not work in the long term.

[2021-08-05 19:20] #5759 closed

[2021-08-05 19:57] danmyhre commented on #5856
You are right @chrisda , I checked a few tenants and I have it too...not sure what happened earlier, must have missed it. Thanks for the quick response!

[2021-08-05 19:57] #5856 closed

[2021-08-05 20:22] jrhi opened #5866 "Update doc to include info on Office 365 Threat Intelligence connection"
[Enter feedback here]
In the M365 Defender portal, Settings > Endpoint > Advanced Features, there is a slider for turning on/off "Office 365 Threat Intelligence connection" and the link redirects to this page.  However this page has no mention of that setting or this integration at all.  Please update this doc with a description of what that integration does.

---
#### Document Details

⚠ *Do not

[2021-08-06 06:30] yogkumgit commented on #5865
@pgoldweic Please indicate which document you are referring to and what is your feedback . Thanks

[2021-08-06 07:02] yogkumgit commented on #5811
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-06 07:02] #5811 closed

[2021-08-06 07:06] yogkumgit commented on #5804
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-06 07:06] #5804 closed

[2021-08-06 07:08] yogkumgit commented on #5803
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-06 07:09] #5803 closed

[2021-08-06 07:10] yogkumgit commented on #5805
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-06 07:17] yogkumgit commented on #5706
@msbemba Thank you very much for the contribution and sharing this explanation. @FC-EricWeller Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-06 07:28] yogkumgit commented on #5458
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nhogarth86 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-06 07:31] #5458 closed

[2021-08-06 07:58] aldoug opened #5869 "Mention of cover for non-wrapped links in Outlook"
Was just referring a customer to this document when describing how it can protect against links not appropriately wrapped in Transport (but instead being turned into clickable links by the Outlook client). Would it be worth adding something in this doc which can detail that prtection?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-08-06 11:53] Rvvhub opened #5870 "Broken links..."
Links to detailed information on this page are broken.
Eg:
https://docs.microsoft.com/en-us/defender-endpoint/overview-endpoint-detection-response
https://docs.microsoft.com/en-us/defender-endpoint/overview-attack-surface-reduction
https://docs.microsoft.com/en-us/defender-endpoint/behavioral-blocking-containment
https://docs.microsoft.com/en-us/defender-endpoint/automated-investigations
https://d

[2021-08-06 12:28] DeanGross opened #5871 "Missing information"
The permissions page in my M365 Compliance Center includes a "Data Investigator " role, which is not described on the page. Please add it and any other roles that may be missing. the documentation needs to be comprehensive.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b34b5c8-b67e-72f2-0eba-d98b760f1d16
* Version Ind

[2021-08-06 13:47] t3chn1ckmo opened #5872 "Broken links throughout page"
Most links on this page are broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17553211-2782-9631-14f7-728ed0bdb5ab
* Version Independent ID: 2badff24-1d2e-9902-3d32-493fd6ebe967
* Content: [Cloud-delivered protection Microsoft Defender Antivirus sample submission](https://docs.microsoft.com/en-us/microsoft-365/secu

[2021-08-06 14:35] awaneet opened #5873 "Incorrect examples"
Incorrect examples

On the page https://docs.microsoft.com/en-us/microsoft-365/compliance/keyword-queries-and-search-conditions?view=o365-worldwide at very bottom in Search tips and tricks section it is mentioned "You can use only prefix searches; for example, \cat* or \set*. Suffix searches (*cat), infix searches (c*t), and substring searches (*cat*) are not supported." But the examples in bracke

[2021-08-06 15:23] MastaDisasta opened #5874 "Advanced hunting API page missing limit on max query result size in bytes"
If a query result is too large (in byte size, not rows), it will return HTTP 400 Bad Request with the message "Query execution has exceeded the allowed result size. Optimize your query by limiting the amount of results and try again". This value is not documented, but it appears to be limited to approximately 130 million bytes or 124MB. Please ensure all limitations with the advanced hunting API q

[2021-08-06 15:23] MastaDisasta opened #5875 "Batch update alerts does not show in left panel"
In the page content, one of the Alert methods is "Batch update alerts"; however, this does not show in the panel on the left side of the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f71b65fe-28c7-42c1-ec6c-cffb63014eb9
* Version Independent ID: e23e1eac-de5e-7c99-2e46-89b4ffd32d4b
* Content: [Get alerts API](ht

[2021-08-06 15:23] MastaDisasta opened #5876 "Alert properties list not complete"
The list under the Alert "Properties" section does not include "rbacGroupName", "mitreTechniques", and "relatedUser"; however, these all show in the example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f71b65fe-28c7-42c1-ec6c-cffb63014eb9
* Version Independent ID: e23e1eac-de5e-7c99-2e46-89b4ffd32d4b
* Content: [Get

[2021-08-06 15:45] chuckedmonson commented on #5771
@sparkitect -- Can you please provide more details, such as the URL you were trying to apply the model to? Thank you.

[2021-08-06 15:55] MastaDisasta opened #5877 "Assessment export property lists not complete and not in the right case"
All properties on the main page and each specific assessment export page with the API calls are shown in the wrong case (upper vs. lowercase). The JSON response returns properties like "configurationCategory" and "osPlatform" rather than "ConfigurationCategory" and "OSPlatform". The file exports; however, do appear to use the case shown (starting with uppercase letter).

The list under the "Export

[2021-08-06 15:57] MastaDisasta opened #5878 "Investigation properties list shows wrong field"
The "Properties" section shows a field "investigationState"; however, the real value in actual results from the API call (and in the example on the page) is "state".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20c31d3b-fd0b-46b7-5c3a-6ac0478bcbd4
* Version Independent ID: 521aeb41-4406-fd9d-441a-06b9361e91d5
* Conte

[2021-08-06 16:07] MastaDisasta opened #5879 "List investigations OData options not complete"
The OData's $filter query is also supported on the "id" field; however, that is not listed. Additionally, $top and $skip are supported but not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a3e1789-673f-3c48-0663-9f2ae8e2380c
* Version Independent ID: 8c5c0bd0-2a2c-c167-199a-11a5584e8803
* Content: [List Inves

[2021-08-06 16:13] MastaDisasta opened #5880 "Domain alerts response incorrect"
The "Response" section shows "If domain does not exist - 404 Not Found"; however, it appears to return 200 OK with an empty set. This was tested by using registered domains not in any alerts on the tenant, unregistered domains that could be legitimate if registered, and domains that had TLDs that are invalid. All returned 200 OK.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-08-06 16:16] MastaDisasta opened #5881 "Domain machines response incorrect"
The "Response" section shows "If domain do not exist - 404 Not Found"; however, it appears to return 200 OK with an empty set. This was tested by using registered domains not in any alerts on the tenant, unregistered domains that could be legitimate if registered, and domains that had TLDs that are invalid. All returned 200 OK.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-08-06 16:17] MastaDisasta opened #5882 "Domain statistics response incorrect"
The "Response" section shows "If domain does not exist - 404 Not Found"; however, it appears to return 200 OK with an prevalence of 0 and first and last seen null. This was tested by using registered domains not in any alerts on the tenant, unregistered domains that could be legitimate if registered, and domains that had TLDs that are invalid. All returned 200 OK.

---
#### Document Details

⚠ *Do

[2021-08-06 16:18] MastaDisasta opened #5883 "Domain statistics lookBackHours limitation not documented"
The documentation does not show a maximum for "lookBackHours"; however, it appears to be 720 hours (30 days).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2eae16f9-5929-ae70-8356-4bcea2380be0
* Version Independent ID: a8c5ee2a-6c0c-0e1d-18e1-471fa7b37085
* Content: [Get domain statistics API](https://docs.microsoft.c

[2021-08-06 16:24] MastaDisasta opened #5884 "File alerts limitations not documented, response incorrect"
In the API description, this shows "Retrieves a collection of alerts related to a given file hash." However, it does not specify the hash type. It appears only SHA-1 is supported (not MD5 or SHA-256).

The "Response" section shows "If file does not exist - 404 Not Found"; however, it appears to return 200 OK with an empty set. This was tested by using random hash values like "111111111111111111111

[2021-08-06 16:25] MastaDisasta opened #5885 "File machines limitations not documented, response incorrect"
In the API description, this shows "Retrieves a collection of Machines related to a given file hash." However, it does not specify the hash type. It appears only SHA-1 is supported (not MD5 or SHA-256).

The "Response" section shows "If file does not exist - 404 Not Found"; however, it appears to return 200 OK with an empty set. This was tested by using random hash values like "1111111111111111111

[2021-08-06 16:31] MastaDisasta opened #5886 "File statistics lookBackHours limitation not documented, duplicate fields"
The documentation does not show a maximum for "lookBackHours"; however, it appears to be 720 hours (30 days).

There appear to be duplicate fields for org and global prevalence. The "organizationPrevalence" and "orgPrevalence" fields appear to both show how many devices the file was seen on within the tenant. The "globalPrevalence" and "globallyPrevalence" fields appear to both show how many devic

[2021-08-06 16:37] MastaDisasta opened #5887 "Indicator properties incomplete"
Under the indicator "Properties" section:
- Incomplete list of valid values for "indicatorType". At least "FileMd5" and "CertificateThumbprint" are valid but not documented. Unsure of other possible values.
- Incomplete list of valid values for "action". At least "Warn", "Block", "Audit", and "BlockAndRemediate" are valid but not documented. Unsure of other possible values.
- The "sourceType" fiel

[2021-08-06 16:38] chrisda commented on #5871
@DeanGross, I go through that topic pretty regularly. The problem is, I make the topic match currently reality in a regular, stock tenant, and then later I get a frantic email that says, "OMG! That role/role group isn't supposed to be available yet!"

So are we convinced that this "Data Investigator" role is alive, well, and functioning?

[2021-08-06 16:47] chrisda commented on #5869
@aldoug, do you have more information about the causes/conditions for links to "not [be] appropriately wrapped in Transport?"

[2021-08-06 16:48] IanWatkinson opened #5888 "azcopy commands are incorrect"
The newer version of azcopy uses the following:

azcopy copy [source] [destination] [flags]

please include how to rate-limit:
--cap-mbps=[int]

Thanks
Ian

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4271558-62a9-db3c-078c-13b5e5fe99da
* Version Independent ID: 813d7002-20a2-b1be-2771-975a0b1cfd48
* Content: [Use n

[2021-08-06 16:57] denisebmsft commented on #5727
@yogkumgit @B-starboy

There's another issue that was opened, and it said this:

It would be far easier to instruct users to puppet module install a module or add it to their Puppetfile than to laboriously walk them through creating a manifest to deploy. And it comes with the benefit that the user can just update the module when you make changes to it!

[2021-08-06 16:57] markjjo commented on #5888
@IanWatkinson Thanks for feedback. Azcopy v8 is only supported version for PST Import because it is the version that can be downloaded from within the network upload workflow of the PST Import tool. You can use v10, but it's unsupported. Please see https://github.com/MicrosoftDocs/microsoft-365-docs/issues/5817 for more info.

[2021-08-06 16:57] #5888 closed

[2021-08-06 17:43] sparkitect commented on #5771
I fail to see how the URL of the library is relevant, as you wouldn't have access to it.

I applied the model to a Document Library that already had other Content Types allowed - you should be able to reproduce this with _any_ library.

Expected behavior: Columns which are added to the library, by way of publishing a Document Understanding model to the library, should **only** be added to the Cont

[2021-08-06 17:51] MastaDisasta opened #5889 "List indicators OData options not complete"
The OData's $filter query is also supported on the "application", "createdByDisplayName", "expirationTime", "generateAlert", "title", "rbacGroupNames", and "rbacGroupIds" fields; however, those are not listed. Additionally, $top and $skip are supported but not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e30

[2021-08-06 19:05] MastaDisasta opened #5890 "Submit/update indicator options"
The "Response body" section does not have a complete list of supported parameters and values. See https://github.com/MicrosoftDocs/microsoft-365-docs/issues/5887 for related info.

- Incomplete list of valid values for "indicatorType". At least "FileMd5" and "CertificateThumbprint" are valid but not documented. Unsure of other possible values.
- Incomplete list of valid values for "action". At lea

[2021-08-06 19:13] MastaDisasta opened #5891 "IP address alerts"
The response shows "If IP do not exist - 404 Not Found." However, if the IP address is unknown but valid, it will return an empty set. If the IP address is invalid, e.g. 256.x.x.x, it will return HTTP 400.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6acd9b19-5308-1fb5-9e40-8d7d94e3b16f
* Version Independent ID: 1a25

[2021-08-06 19:16] MastaDisasta opened #5892 "IP address statistics lookBackHours limitation not documented, duplicate fields, incorrect response"
The documentation does not show a maximum for "lookBackHours"; however, it appears to be 720 hours (30 days).

There appear to be duplicate fields for org prevalence. The "organizationPrevalence" and "orgPrevalence" fields appear to both show how many devices the IP address was seen on within the tenant.

The response shows "IP do not exist - 404 Not Found." However, if the IP address is unknown b

[2021-08-06 20:06] MastaDisasta opened #5893 "Machine properties incorrect"
The "Properties" show "exposureScore"; however, that field does not actually exist. The correct field is "exposureLevel". Additionally, there is a field "rbacGroupName" but not "rbacGroupId" even though when using the list machines API call, it is filterable on ID but not name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-08-06 20:19] MastaDisasta opened #5894 "List machines OData options not complete"
The OData's $filter query is also supported on the "id", "version", "lastIpAddress", "exposureLevel", "deviceValue", "aadDeviceId", and "machineTags" fields; however, those are not listed. Additionally, $top and $skip are supported but not listed.

Also, the field "rbacGroupId" is filterable even though it is not a field in the Machine output. The field in the output is "rbacGroupName" which is no

[2021-08-06 20:26] MastaDisasta opened #5895 "Update machine incorrect limitation and response"
Under "Limitations", this shows "Update machine only appends tags to the tag collection" and under "Response", this shows "If machine tags collection in body doesn't contain existing machine tags - 400 Invalid Input and a message informing of the missing tag/s." However, the API call does not return HTTP 400 error or append the tags. It replaces all tags with the tags provided in the request body.

[2021-08-06 20:35] MastaDisasta opened #5896 "Machine actions incomplete properties"
The documentation shows the list of possible values for "type"; however, the value "Live Response" is not documented but shows in real output. Unsure if other undocumented values exist.

The documentation shows the list of possible values for "status"; however, "Canceled" is not a valid status, the correct value is "Cancelled" (two L's).

The value "lastUpdateTimeUtc" is documented, but it does no

[2021-08-06 20:44] MastaDisasta opened #5899 "List machine actions OData options not complete"
The OData's $filter query is also supported on the "id" field; however, it is not listed. Additionally, $top and $skip are supported but not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a592758-861c-92ee-e2bf-a1c7fd4773f0
* Version Independent ID: 9a44a6f5-58eb-0df5-b572-bd1c318cce9d
* Content: [List machine

[2021-08-06 20:46] MastaDisasta opened #5900 "Collect investigation package incorrect response"
This will return a 400 Bad Request if a collection is already running, but this limitation/response is not documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab25f12f-c60d-609f-ed7e-4ae0c3457189
* Version Independent ID: d6899a59-0f2a-e111-7c77-43b05f5100aa
* Content: [Collect investigation package API](https:/

[2021-08-06 20:51] MastaDisasta opened #5901 "Get investigation package URL undocumented limitation/response"
If the machine action for the collection exists but is not complete, this will return 404 Not Found, but that response is not documented.

Additionally, there is no API call limit specified, but it appears to be 2 calls per minute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a8946a2-a2ea-1dc7-a6ce-13c56d11b485
* Ve

[2021-08-06 20:54] MastaDisasta opened #5902 "Get live response result incorrect reponse"
The documentation shows the response will include "name" and "script_error"; however, the real values are "script_name" and "script_errors".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcdd8827-66cd-625d-a992-d42ec38ce0d6
* Version Independent ID: 67e04899-ef6e-20d3-8aec-d1765349bc32
* Content: [Get live response re

[2021-08-06 21:15] MastaDisasta opened #5903 "Isolate device incorrect response"
The following is not documented as a limitation or response:
When you send multiple API calls to isolate the same device, there are inconsistent results. It may depend on how much time has passed since you last issued an isolate API call. Some duplicate calls returned the pending machine action instead of a new machine action and some duplicate calls returned HTTP 400 with the message "Action is a

[2021-08-06 21:23] MastaDisasta opened #5904 "Remove isolation incorrect limitations/response"
The following is not documented as a limitation or response:
When you send multiple API calls to remove isolation for the same device, there are inconsistent results. It may depend on how much time has passed since you last issued the associated API call. Some duplicate calls returned the pending machine action instead of a new machine action and some duplicate calls returned HTTP 400 with the mes

[2021-08-06 21:25] MastaDisasta opened #5905 "Restrict app execution incorrect limitations/response"
The following is not documented as a limitation or response:
When you send multiple API calls to restrict app execution for the same device, there are inconsistent results. It may depend on how much time has passed since you last issued the associated API call. Some duplicate calls returned the pending machine action instead of a new machine action and some duplicate calls returned HTTP 400 with t

[2021-08-06 21:26] MastaDisasta opened #5906 "Remove app restriction incorrect limitations/response"
The following is not documented as a limitation or response:
When you send multiple API calls to remove app restriction for the same device, there are inconsistent results. It may depend on how much time has passed since you last issued the associated API call. Some duplicate calls returned the pending machine action instead of a new machine action and some duplicate calls returned HTTP 400 with t

[2021-08-06 21:30] MastaDisasta opened #5907 "Run antivirus scan incorrect limitations/response"
The following is not documented as a limitation or response:
When you send multiple API calls to run an antivirus scan for the same device, there are inconsistent results. It may depend on how much time has passed since you last issued the associated API call. Some duplicate calls returned the pending machine action instead of a new machine action and some duplicate calls returned HTTP 400 with th

[2021-08-06 21:38] MastaDisasta opened #5908 "Run live response incorrect limitations/response"
When you send multiple API calls to run different live response commands for the same device, it returns HTTP 400 with the message "Action is already in progress". It should be documented that live response commands cannot be queued up and can only be executed one at a time (the documented workaround is to include multiple commands in a single API call, but that has the limitation of if one comman

[2021-08-06 21:46] MastaDisasta opened #5909 "Offboard incorrect results"
When submitting an API call to offboard a device, the agent appears to go offline, but the device continues to show as "Onboarded" in the machine list even though the last item in the timeline is "Event of type [OffboardDevice] observed on device".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05007b38-2a58-d34a-6afb-

[2021-08-06 21:53] MastaDisasta opened #5910 "Recommendation properties incomplete"
The list under the "Properties" section does not include "recommendedVendor" and "recommendedProgram"; however, these show in actual output.

Additionally, a field is documented as "exposureImpacte", but the correct field appears to be "exposureImpact".

Also, the possible values for "recommendationCategory" includes "SecurityStack", but the correct value appears to be "Security controls".

---
##

[2021-08-06 22:18] chuckedmonson commented on #5771
Hi, @sparkitect -- Thank you for the reply. Because the actual behavior is different than expected, we would like to analyze the probable cause. It could be that the taxonomy field in the content center is corrupted. Can you tell me whether this is the source URL: "lacombecounty.sharepoint.com"? Thank you.

[2021-08-06 22:41] sparkitect commented on #5771
Though I am working with a customer in that tenant, we haven't yet made it to this step over there.

I found this in our own tenant "sharesquared.sharepoint.com"

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chuck Edmonson ***@***.***>
Sent: Friday, August 6, 2021 3:19:09 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Jim Duncan ***@***.***>; Men

[2021-08-06 23:02] markjjo commented on #5873
@awaneet Thanks for feedback. But [earlier in this same topic](https://docs.microsoft.com/en-us/microsoft-365/compliance/keyword-queries-and-search-conditions?view=o365-worldwide#search-operators), we define prefix searches (also call prefix matching) and use the same examples as the ones you cite. AFAIK, these are correct. Here is link to section in SPO KQL documentation about prefix matching, wh

[2021-08-06 23:02] #5873 closed

[2021-08-07 00:54] apexdigitalmedia opened #5911 "This site is broken and never works - have tried repeatedly to use it and it always fails"
I have a legit IP / Email that has been spoofed and spammed with or something because I get these types of messages every so often when I reply to people who have emailed me:

--- start message ---

A message that you sent could not be delivered to one or more of its recipients. This is a permanent error. The following address(es) failed:

 a_person@email.com
   host email.com.mail.protection.outl

[2021-08-07 14:11] Jeberoni opened #5912 "Error after copying links to consent URI"
Hi Team,

I have the exact same issue the following as the following that was raised previously -

https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3836#issue-779128086

The script crashes at with the "Send-AdminConsentUri : Could not retrieve a token for invitation manager api call" error and appears to be failing when attempting to send the email
Removing the -UseAppAndCertGeneratedFor

[2021-08-08 02:29] clix5cash opened #5913 "Failed to change payment method"
I have an email purchased via Godaddy and have purchased the SharePoint which has not used for months after a month testing and need to be unsubscribed. The issue is I could not access to the Microsoft 365 admin center to change the subscription as it alway to redirect to Godaddy site when click to admin tab to change the payment method as guidance.
Redirect page link: https://productivity.godaddy

[2021-08-08 14:04] Tosh30 opened #5914 "This info is old. The screens in this section look different and do not have the same settings."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b44b643a-8eb6-1ff9-dc2a-d78bc278b51a
* Version Independent ID: 7a496319-b49a-bc5f-c7f0-ac03d142413e
* Content: [Set up anti-phishing protection](https://docs.microsoft.com/en-us/microsoft-365/business-video/setup-anti-phishing?view=o365-worldwide)
* C

[2021-08-08 16:34] matuhinal opened #5915 "@matuhinal Thank you for your feedback. I reviewed the document and could not find anything incorrect or needs modification. DNS records help the Internet send emails to the right place so let us know how we can help you modify or explain this document?"
@matuhinal Thank you for your feedback. I reviewed the document and could not find anything incorrect or needs modification. DNS records help the Internet send emails to the right place so let us know how we can help you modify or explain this document?

Thanks
Sri

_Originally posted by @msbemba in https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3324#issuecomment-721387872_

[2021-08-08 16:38] matuhinal commented on #5915
Все же требуется объяснение для подключения новых доменных имен на портале техподдержки M365

[2021-08-09 07:20] hkusulja opened #5917 "Update Prerequisites, additional intune license is needed"
It seems that prerequisites are:
 * if you add to intune, automatic user cloudpc is create and needs to purchase and assign intune license to it also, so the cloudpc can be enrolled.

Clarify with product group and update docs please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 948c0bd4-e387-2530-5c20-de54a4964f01
*

[2021-08-09 07:58] andikrueger commented on #799
At the moment there is no official supported way to be able to use credentials. I did some digging for a solution and came across the fact, that there was a change in the Assembly `Microsoft.IdentityModel.Clients.ActiveDirector`. This change was made in August 2017. They moved the authentication methods, that support credentials into extension methods, so that the authflow with credentials can onl

[2021-08-09 12:42] yogkumgit commented on #5014
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DanWeinstock909 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-09 12:42] #5014 closed

[2021-08-09 12:54] yogkumgit commented on #5727
@B-starboy As this is a duplicate of #4989 . We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-09 12:55] #5727 closed

[2021-08-09 14:59] MastaDisasta opened #5921 "List recommendations OData options not complete"
The OData's $filter query is not documented for the list recommendations API call, but it is supported on the following fields:
- id
- productName
- vendor
- recommendedVersion
- recommendationCategory
- subCategory
- severityScore
- remediationType
- status
- recommendedVendor
- recommendedProgram

Additionally, $top and $skip are supported but not listed.

Also, with other API calls that support

[2021-08-09 15:09] ryancanfield opened #5922 "Page does not match"
The description on the page does not match the current version of https://compliance.microsoft.com/info.

There is no "show all", there is no "content search". I do have limited permissions on this page, so that might be part of the problem.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04e514aa-9f04-5cc9-93f6-9f5f2f6

[2021-08-09 15:14] MastaDisasta opened #5923 "Misleading title of Get recommendation by software"
The title of the API call makes it seem like you search for a particular software and get the associated recommendations, but it is the other way around. A better title would be List software by recommendation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d40092e-27fb-b586-8257-afa3ccd6c17a
* Version Independent ID:

[2021-08-09 15:34] MastaDisasta opened #5924 "List remediation activity OData options not complete"
The OData's $filter query is not documented for the list remediation activity API call, but it is supported on the following fields:
- createdOn
- status

Additionally, $top and $skip are not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef23eda-5f78-cdcf-ec94-ea5db4734a84
* Version Independent ID: 8b5f28a6-e

[2021-08-09 15:35] MastaDisasta opened #5925 "Score properties incomplete"
The list under the "Properties" section does not include "rbacGroupId"; however, it shows in actual output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34a2a1df-c601-eb2b-66c6-2dcfcd6bee54
* Version Independent ID: 80180d1e-8d1c-2091-bde9-96b3fae9b51f
* Content: [Score methods and properties](https://docs.microsoft.

[2021-08-09 15:36] MastaDisasta opened #5926 "List exposure score incorrect description"
The description says "Retrieves a collection of alerts related to a given domain address."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b03ca33-d760-68fe-15d0-13de7deb27fd
* Version Independent ID: c1df280f-d9e5-975c-e231-ace08a3023d4
* Content: [List exposure score by device group](https://docs.microsoft.com/en-us/

[2021-08-09 15:42] MastaDisasta opened #5927 "Get user related alerts incorrect response"
The "Response" section shows "If the user does not exist - 404 Not Found." However, it appears if the user does not exist, it will return 200 OK with an empty set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa8aa7cc-c6e3-4233-dba1-ce65ab92e9cb
* Version Independent ID: 7af0a421-72ca-a339-eab3-b2e2cb7bd139
* Content

[2021-08-09 15:43] MastaDisasta opened #5928 "Get user related machines incorrect response"
The "Response" section shows "If user does not exist - 404 Not Found." However, it appears if the user does not exist, it will return 200 OK with an empty set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5cbc01b5-168e-49ca-7f54-892b97ffbc6a
* Version Independent ID: 2cdc8944-2005-4162-a873-893c31f4ccb5
* Content: [G

[2021-08-09 15:44] MastaDisasta opened #5929 "Vulnerabilities incomplete properties"
The "Properties" section shows the possible values for "exploitTypes"; however, the value of "Local" was observed in actual output but not documented. Unsure if other undocumented values exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fde81ac4-accc-9a93-90fb-62bbe9a66326
* Version Independent ID: 130d79fe-73d0-14

[2021-08-09 15:50] MastaDisasta opened #5930 "Vulnerabilities incomplete methods"
The "Methods" section does not include "List vulnerabilities by machine and software" even though it is in the left panel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fde81ac4-accc-9a93-90fb-62bbe9a66326
* Version Independent ID: 130d79fe-73d0-14f6-3b44-e9cbae763837
* Content: [Vulnerability methods and properties](

[2021-08-09 15:53] MastaDisasta opened #5931 "List vulnerability by machine and software OData options not complete"
It states the "The OData $filter is supported on all properties." However, this API call actually has a different set of returned properties than the base "list all vulnerabilities" properties, and these properties are not specifically documented (other than the example result on this page). Additionally, $top and $skip are supported but not documented.

---
#### Document Details

⚠ *Do not edit t

[2021-08-09 16:35] markjjo commented on #5922
@ryancanfield Thanks for the heads up about Show all. This used to be the navigation path when the Microsoft 365 compliance center was initially released, but looks to be updated. I'll update the article. Until then, you could also try the direct URL: https://compliance.microsoft.com/contentsearch

You are correct to assume that you need to be assigned the Compliance Search role in the compliance

[2021-08-09 16:35] #5922 closed

[2021-08-09 16:43] markjjo commented on #5922
@ryancanfield Correction: direct URL is https://compliance.microsoft.com/contentsearchv2

[2021-08-09 17:08] denisebmsft commented on #5915
Translated @matuhinal's comment:

Still requires an explanation to connect the new domain names in the M365 support portal

[2021-08-09 17:30] jmmowrer opened #5932 "Remove the SIEM mention under note for Mac and Linux"
The "Note" under Mac and Linux that mentions "SIEM" should be removed.  SIEM is supported as all data that flows into MDE can be sent to a SIEM.  Confirmed with Helen Allas.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e914c02a-e905-fc32-439c-feb1fafa09b8
* Version Independent ID: 1a6a15e9-717a-33c1-b90e-969

[2021-08-09 17:30] MastaDisasta opened #5933 "List vulnerabilities OData options not complete"
The OData's $filter query is not documented for the list vulnerabilities API call, but it is supported on the following fields:
- id
- name
- description
- severity
- cvssV3
- publishedOn
- updatedOn

Additionally, $top and $skip are not listed but are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fa36594-

[2021-08-09 17:37] MastaDisasta opened #5934 "List software OData options not complete"
The OData's $filter query is not documented for the list software API call, but it is supported on the following fields:
- id
- name
- vendor

Additionally, $top and $skip are not listed but are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aabaf97f-4313-dc71-8fdb-69349dd08ed1
* Version Independent ID: c17b

[2021-08-09 17:57] ayan-b opened #5935 "Repeated Instructions for Steps to Cancel Your Subscription"
The highlighted part is repeated (point 3 to 5).

![image](https://user-images.githubusercontent.com/29725587/128751720-83f8148a-4a22-4460-b49a-06a8c7f02a51.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a91e3ae5-842c-fb3d-8c27-d8001122aee8
* Version Independent ID: ddccec72-7088-4207-60cb-986a35becb67
* Content:

[2021-08-09 19:03] MastaDisasta opened #5937 "List alerts OData options not complete"
The OData's $filter query is also supported on the "id", "asssignedTo", "detectionSource", and "lastEventTime" fields; however, those are not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c484780-4288-59e1-d30a-ab4460a34537
* Version Independent ID: d347c3bd-6e5f-b22b-4e30-eb4588f6bda2
* Content: [List alerts

[2021-08-09 19:04] hb-webdev opened #5938 "How2 configure blocking non-compliant emails? How to drill down DLP activity?"
Why does my DLP Activity Explorer successfully show a bar graph of offenses, but I can't drill down to see specifics? (Below the bar graph it says "No data available".)
![image](https://user-images.githubusercontent.com/85006632/128758626-f8498bf2-22cf-4342-9b8e-6d730bd7e9e2.png)

I still don't understand how to determine if a DLP policy is configured to block emails from going through or where to

[2021-08-09 21:20] robmazz commented on #2593
@383apps - thanks for your patience on this, circling back to let you know this has been updated. The original topic on this request has been deleted, please see the EU model clauses topic - https://docs.microsoft.com/compliance/regulatory/offering-eu-model-clauses. Thanks!

[2021-08-09 21:20] #2593 closed

[2021-08-10 10:29] yogkumgit commented on #5744
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jasonfritts Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-10 10:30] #5744 closed

[2021-08-10 12:20] ckhordiasma opened #5942 "IPv6 Capable?"
Just wanted to make sure, is Microsoft Defender for endpoint ipv6 compatible?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4b36b3a-e292-e035-ab94-895c56b46c76
* Version Independent ID: 2e02900f-f545-a199-8d1c-b6a7958ee1df
* Content: [Minimum requirements for Microsoft Defender for Endpoint](https://docs.microsoft.co

[2021-08-10 13:09] msbemba commented on #5932
@jmmowrer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5943

Once the author approves the PR, the change will be live.

Thanks
Sri

[2021-08-10 13:43] msbemba commented on #5935
@ayan-b Thank you for your feedback. We have made changes to the document via pR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5944

Thanks
Sri

[2021-08-10 16:53] annferre opened #5945 "Update the DLP Licensing for Microsoft Teams"
Can you update the [DLP Licensing for Microsoft Teams](https://docs.microsoft.com/en-us/microsoft-365/compliance/dlp-microsoft-teams?view=o365-worldwide#dlp-licensing-for-microsoft-teams)
From:
Office 365 E5/A5
Microsoft 365 E5/A5
Microsoft 365 Information Protection and Governance
Office 365 Advanced Compliance
To:
•	Office 365 E5/A5/G5
•	Microsoft 365 E5/A5/G5
•	Microsoft 365 E5/A5/G5 Informatio

[2021-08-10 17:45] HarrisburgUSysAdmin opened #5946 "notification from trainingassignment@microsoft.com saying they have not completed the training."
I have raised a support case with Microsoft (Case #:26254527). The case was closed and resolved as a bug thus why I'm posting this here.

To summarize, we have users who have completed all their assigned training but still constantly get the email notification from trainingassignment@microsoft.com saying they have not completed the training.

Any help to fix this issue would be great appreciated.

[2021-08-10 17:58] markjjo commented on #5758
@MubDubs Thanks for the heads up. I updated the export section in this article by linking to the AeD export article, which is up to date.

https://docs.microsoft.com/en-us/microsoft-365/compliance/conversation-review-sets?view=o365-worldwide#exporting-conversations

[2021-08-10 17:58] #5758 closed

[2021-08-10 21:12] epinto opened #5947 "404 on Microsoft Defender for Endpoint link at the top"
The "Microsoft Defender for Endpoint" at the top of the document isn't found. Error message:

<Error>
<Code>ResourceNotFound</Code>
<Message>The specified resource does not exist. RequestId:6eb4e705-d01e-0070-402b-8e64e3000000 Time:2021-08-10T21:09:18.9076096Z</Message>
</Error>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-08-10 21:52] MonstarSuperS opened #5948 "How to request a move post-deadline?"
The site does not show how you're supposed to request data residency move after the deadline. What if our company missed the opportunity to have your data migrated during that deadline? At least provide an option to know that more opportunities will come down the line, because not being able to request a move is a bit odd.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-08-11 00:12] rsirwaturai opened #5949 "Moving an auto-expanded archive folder"
Can I move an auto-expanded archive folder to another location?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e08cf1-3ef1-7d22-122e-ef0f45c26215
* Version Independent ID: e9677dc3-580d-0a66-80ac-30a8aabdd45f
* Content: [Overview of unlimited archiving - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/micr

[2021-08-11 02:41] msbemba commented on #5862
@wdiggleCANCOM Thank you for your feecback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5953

Thanks
Sri

[2021-08-11 02:46] msbemba commented on #5870
@Rvvhub Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5954

Thanks
Sri

[2021-08-11 02:49] msbemba commented on #5872
@t3chn1ckmo Thank you for your feedback. I'm able to access all the links on this page. Could you please point out which link is broken?

Thanks
Sri

[2021-08-11 02:58] msbemba commented on #5923
@MastaDisasta Thank you for your feedback. The API Retrieves a security recommendation related to specific software so I do not think there are any changes required to the title.

For example, below is the response that we receive when searching for recommendations against google chrome

{
    "@odata.context": "https://api.securitycenter.microsoft.com/api/$metadata#Analytics.Contracts.PublicAPI.P

[2021-08-11 03:42] msbemba commented on #5926
@MastaDisasta Thank you for your feedback. We have made changes to the document via pR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5955

Thanks
Sri

[2021-08-11 04:29] msbemba commented on #5930
@MastaDisasta Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5956

Thanks
Sri

[2021-08-11 04:34] yogkumgit commented on #5829
@msbemba Thank you very much for the contribution and sharing this explanation. @rzhangongit Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-11 04:35] #5829 closed

[2021-08-11 04:39] yogkumgit commented on #5854
@msbemba Thank you very much for the contribution and sharing this explanation. @techangelsau Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-11 04:39] #5854 closed

[2021-08-11 04:43] msbemba commented on #5915
Thank you @denisebmsft

@matuhinal Thank you for your feedback. This document talks only about DNS Basics. For more information on how to connect new domain names in M365 Admin center/ Admin portal - Please follow -https://docs.microsoft.com/en-us/microsoft-365/admin/setup/add-domain?view=o365-worldwide

Follow these steps to add, set up, or continue setting up a domain.

Go to the admin center at

[2021-08-11 04:47] msbemba commented on #5913
@clix5cash Thank you for your feedback. If the Subscription was purchased through Go-daddy, You will not have access to manage payment methods nor the m365 admin center to access the payment section.

If the subscription was purchased through Go daddy, they will be able to help unsubscribe or remove the subscription.

Hope this helps!

Thanks
Sri

[2021-08-11 04:53] msbemba commented on #5911
@apexdigitalmedia Thank you for your feedback. I was able to test the service and receive the email from Microsoft.

![image](https://user-images.githubusercontent.com/45987684/128971528-e5f56a54-b325-48cf-8ff6-c2b0b5f20e87.png)

In your case, I'd recommend you to contact Microsoft support via the need help Icon on the Admin center so that the Technical support team can fix this in the backend.

H

[2021-08-11 04:59] yogkumgit commented on #5932
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-11 05:01] #5932 closed

[2021-08-11 05:09] msbemba commented on #5902
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5957

Thanks
Sri

[2021-08-11 05:16] MastaDisasta commented on #5923
@msbemba - thank you for the reply. However, in your example, you did not search for a software "google chrome", you searched for a recommendation "va-_-google-_-chrome" which is the recommendation "Update Google Chrome" and the API returned the software entry for Google Chrome.

It is easier to see the difference when choosing a recommendation ID that is not similar to the software name, such as

[2021-08-11 05:17] msbemba commented on #5878
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5958

Thanks
Sri

[2021-08-11 05:23] MastaDisasta commented on #5926
@msbemba - thank you for the reply. However, I believe the correct description should be "Retrieves the exposure score for each machine group" rather than retrieves alerts. Here is example output from the API call. I only have one RBAC group, but I imagine this would have multiple entries if I had more RBAC groups.

[code]

[2021-08-11 05:49] msbemba commented on #5926
@MastaDisasta I have updated the PR. Thanks again.

[2021-08-11 08:54] J-a-k-o-b opened #5960 "Exchange Litigation Hold and Teams Chat Retention"
Hi,
in the article is described that Exchange Retention Policies don't handle Teams Conversations which were stored in the participating users mailbox. What happens if a mailbox is set to litigation hold:
Set-Mailbox abc@qwe.com -LitigationHoldEnabled:$true
Will the messages form the mailbox also if a user delets them from the chat client? And if a modern Retention Policy handles the expiry of cha

[2021-08-11 09:26] bvdsande opened #5961 "webhelp shared mailbox not working"
hi,

trying to create a shared mailbox, it is going well in the web app but the outlook app does not work yet(deliverable message).
on the webhelp the links below mentioned are not working.
they might hold some crucial explaination to get it fixed.

https://docs.microsoft.com/en-us/microsoft-365/admin/email/create-a-shared-mailbox?view=o365-worldwide

![image](https://user-images.githubusercontent

[2021-08-11 10:25] #5814 closed

[2021-08-11 10:32] yogkumgit commented on #5839
@LauraWi Please help us in resolving this issue. Thanks

[2021-08-11 10:34] yogkumgit commented on #5842
@LauraWi Please help us in resolving this issue. Thanks

[2021-08-11 12:45] MubDubs commented on #5758
Thank you for the update! It is much appreciated and will help many others.

Kyle Jones

On Tue, Aug 10, 2021, 13:58 Mark Johnson - MSFT ***@***.***>
wrote:

[2021-08-11 13:26] msbemba commented on #5872
@t3chn1ckmo Thank you for conforming and taking the time to submit feedback.

Thanks
Sri

[2021-08-11 13:38] msbemba commented on #5793
@yogkumgit This has been merged via different PR. The document is updated and the issue can be closed.

Thanks
Sri

[2021-08-11 14:04] MastaDisasta commented on #5878
@msbemba - thank you for the update, this appears to address the issue.

[2021-08-11 14:07] MastaDisasta commented on #5902
@msbemba - thank you for the reply and fixing the property value for "script_name". However, the property "script_error" should be "script_errors" (with an 's' at the end) as well. Thank you.

[2021-08-11 14:17] jreinhardtproarch opened #5962 "Missing URLs specific to Azure AD"
In an article about Azure AD Connect (https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-ports#table-2---azure-ad-connect-and-azure-ad), it refers back to this page to get specific URLs that need to be open for Azure AD Connect to Azure AD traffic. However, no specific categories on this list mention Azure Active Directory. Therefore, it seems there's a gap in the doc

[2021-08-11 16:30] msbemba commented on #5902
@MastaDisasta Thank you. I have updated the PR.

[2021-08-11 19:06] cabailey commented on #5960
Hi @J-a-k-o-b  Litigation holds & eDiscovery holds work differently from retention policies - they do preserve the copied messages for Teams that are stored in a mailbox.  If the mailbox is subject to a litigation hold or eDiscovery hold, the first principle of retention applies: permanent deletion is suspended.

[2021-08-11 21:11] SeanTGeoghegan opened #5968 "Default Label Policy - Existing Documents and Office Online"
Documentation states that when using the AIP Unified Labeling Client, that existing documents will receive a default sensitivity label (if configured). While this is true of Office Client Applications, this does not work with Office Online. This may cause confusion to some admins, not understanding that AIP does not influence Office Online apps.

![image](https://user-images.githubusercontent.com/

[2021-08-11 22:23] cabailey commented on #5968
@SeanTGeoghegan  Yes, we do see some people confused about which platforms the AIP client supports - I suspect AIP customers who equate that client with sensitivity labels.  For example, references to "the AIP client for Mac" is actually quite common (there has never been an AIP client for Mac!)  This is a tricky one for docs, because even if we said "the AIP client for Windows", that could be inc

[2021-08-11 22:40] LauraWi commented on #5839
Hi @alfimasing Are you MS internal? Can you find me on email so I can connect you with the engineering folks who drive this guidance. Thanks.

[2021-08-11 22:40] #5839 closed

[2021-08-12 00:04] clix5cash commented on #5913
Thanks. The subscription sharepoint was purchased from MS, only my e-mail account was purchased from GDD so they could not help to solve this issue.

[2021-08-12 00:42] sparkitect commented on #5771
I can’t remember when it happened, so I’ve just reproduced it (8/11/2021 ~5:35pm Pacific).

Before:
***@***.***

After:
***@***.***
(green is expected, red is not and should be “Used In” Scope of Work)

Also, the first TWO times I clicked the Add button, I got this error message:
***@***.***

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Chuck ***@***.***>
Sent:

[2021-08-12 00:46] sparkitect commented on #5771
I can’t remember when it happened, so I’ve just reproduced it (8/11/2021 ~5:35pm Pacific).

Before:
![image](https://user-images.githubusercontent.com/9206808/129121327-ce5c2390-7076-4b79-a584-e8237c502928.png)

After:
![image](https://user-images.githubusercontent.com/9206808/129121342-69539348-b656-4646-b2ba-4538c87e1e6b.png)
(green is expected, red is not and should be “Used In” Scope of Work)

[2021-08-12 03:54] msbemba commented on #5874
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5970

Thanks
Sri

[2021-08-12 04:05] msbemba commented on #5891
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5972

Thanks
Sri

[2021-08-12 04:15] msbemba commented on #5908
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5973

Thanks
Sri

[2021-08-12 04:40] yogkumgit commented on #5872
@msbemba Thank you very much for the contribution and sharing this explanation. @t3chn1ckmo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-12 04:41] #5872 closed

[2021-08-12 04:43] J-a-k-o-b commented on #5960
Thank you for the fast answer @cabailey. Maybe you can make an Info-Box in the docs somewhere that contain this information.

[2021-08-12 04:48] yogkumgit commented on #5793
@msbemba Thank you very much for the contribution and updating the documentation with PR. @timhaintz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-12 04:48] #5793 closed

[2021-08-12 04:53] yogkumgit commented on #5923
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-12 04:56] yogkumgit commented on #5878
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-12 04:57] #5878 closed

[2021-08-12 04:59] #5902 closed

[2021-08-12 05:11] yogkumgit commented on #5862
@msbemba Thank you very much for the contribution and updating the documentation with PR. @wdiggleCANCOM Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-12 05:11] #5862 closed

[2021-08-12 05:14] yogkumgit commented on #5870
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Rvvhub Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-12 05:14] #5870 closed

[2021-08-12 05:17] yogkumgit commented on #5960
@J-a-k-o-b Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-12 05:17] #5960 closed

[2021-08-12 05:21] J-a-k-o-b opened #5974 "Doc clarification"
Hi,

this important information: https://github.com/MicrosoftDocs/microsoft-365-docs/issues/5960
should be stated out in the docs somewhere. E.g. in an Info Box.

Regards
Jakob

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147f081a-c235-3400-23c9-8b4de7c9bbbc
* Version Independent ID: 0d8958fb-247e-c05b-999e-3cbd93e94

[2021-08-12 05:23] schmurky commented on #5820
@Rvvhub They are not available right now but it is currently being worked on to be available in the next couple of months. Kindly check back with us then.

[2021-08-12 06:22] msbemba commented on #5929
@MastaDisasta Thank you for your feedback. We have added removed repeated words in exploit types (denial of service) and added Local as an Exploit type. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5976

Thanks
Sri

[2021-08-12 06:25] msbemba commented on #5928
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5977

Thanks
Sri

[2021-08-12 06:35] msbemba commented on #5879
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5978

Thanks
Sri

[2021-08-12 15:06] cabailey commented on #5974
Yes, we already have this called out: "Because of the first principle of retention, permanent deletion is always suspended if the same item must be retained because of another retention policy, or it is under eDiscovery holds for legal or investigative reasons."

In articles that explain how retention policies work, it's off topic to explain how other features work - what's included in a Litigatio

[2021-08-12 15:06] #5974 closed

[2021-08-12 17:36] msbemba commented on #5885
@MastaDisasta Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5979

Once the author approves the document will be live.

Thanks
Sri

[2021-08-12 17:41] msbemba commented on #5884
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5980

Thanks
Sri

[2021-08-12 17:44] msbemba commented on #5883
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5981

Thanks
Sri

[2021-08-12 17:54] msbemba commented on #5892
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5982

Once the author approves, the document will be live.

Thanks
Sri

[2021-08-12 20:25] robmazz commented on #5481
@danmyhre - thanks for the feedback, but I'm not sure I understand your concern. Can you clarify? Thanks!

[2021-08-12 20:30] robmazz commented on #5480
@danmyhre - thanks for the feedback. Currently, information barriers do not apply to email communications. Only Microsoft Teams, SharePoint Online, and OneDrive for Business support information barriers. Thanks!

[2021-08-12 20:30] #5480 closed

[2021-08-12 20:33] robmazz commented on #4923
@danmyhre - thanks for your feedback. This workbook is being deprecated, please use the example scenario guidance in the Define information barrier policies topic (https://docs.microsoft.com/en-us/microsoft-365/compliance/information-barriers-policies). Thanks!

[2021-08-12 20:33] #4923 closed

[2021-08-12 20:49] danmyhre commented on #5480
@robmazz  I know it doesn't cover mail transport, but much of how it is implemented is based on Exchange Online address book policies. It **does** have an impact on the OAB.

[2021-08-12 20:51] robmazz commented on #5329
@lmarianko - thanks for the feedback, Have you checked the Microsoft 365 Government - how to buy topic (https://docs.microsoft.com/office365/servicedescriptions/office-365-platform-service-description/office-365-us-government/microsoft-365-government-how-to-buy)? The Microsoft 365 Government G5 plan includes support for insider risk management.

[2021-08-12 21:01] robmazz commented on #5480
@danmyhre - thanks for the feedback. Yes, IB is based on ABPs and the focus of this topic is an overview of the IB feature at a higher level. I'll discuss your feedback about this impact with the PG during our upcoming documentation review and where it may fit in the guidance. Thanks again for your input.

[2021-08-12 23:06] EbonyKnight opened #5984 "Unable to add a DNS record"
[Enter feedback here]
I am unable to add a new DNS record to point to my new website. Microsoft 365 support tells me that I can't add a new record since I didn't purchase my domain from Microsoft. They insist that I make the change at the hosting site which will halt my email flow. After the A record is added to the hosting domain the point the MX records back to Microsoft. I don't understand why

[2021-08-13 04:45] msbemba commented on #5934
@MastaDisasta Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5986

Thanks
Sri

[2021-08-13 04:50] msbemba commented on #5933
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5987

Thanks
Sri

[2021-08-13 04:54] msbemba commented on #5927
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5988

Thanks
Sri

[2021-08-13 04:58] msbemba commented on #5925
@MastaDisasta Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5989

Thanks
Sri

[2021-08-13 05:01] msbemba commented on #5924
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5990

Thanks
Sri

[2021-08-13 05:05] msbemba commented on #5910
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5991

Thanks
Sri

[2021-08-13 05:16] msbemba commented on #5907
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5992

Thanks
Sri

[2021-08-13 05:22] msbemba commented on #5906
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5993

Thanks
Sri

[2021-08-13 05:24] msbemba commented on #5905
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5994

Thanks
Sri

[2021-08-13 07:22] yogkumgit commented on #5820
@Rvvhub Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:22] #5820 closed

[2021-08-13 07:25] yogkumgit commented on #5937
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:25] #5937 closed

[2021-08-13 07:30] yogkumgit commented on #5928
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:30] #5928 closed

[2021-08-13 07:33] yogkumgit commented on #5879
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:33] #5879 closed

[2021-08-13 07:36] yogkumgit commented on #5885
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:37] #5885 closed

[2021-08-13 07:40] yogkumgit commented on #5884
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:40] #5884 closed

[2021-08-13 07:42] yogkumgit commented on #5883
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:42] #5883 closed

[2021-08-13 07:45] yogkumgit commented on #5892
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:45] #5892 closed

[2021-08-13 07:53] yogkumgit commented on #5329
@lmarianko Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:53] #5329 closed

[2021-08-13 07:59] yogkumgit commented on #5930
@msbemba Thank you very much for the contribution and sharing this explanation. @MastaDisasta Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 07:59] #5930 closed

[2021-08-13 08:06] yogkumgit commented on #5908
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 08:06] #5908 closed

[2021-08-13 08:11] yogkumgit commented on #5915
@msbemba Thank you very much for the contribution and sharing this explanation. @matuhinal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-13 08:11] #5915 closed

[2021-08-13 08:14] yogkumgit commented on #5911
@msbemba  Thank you very much for the contribution and sharing this explanation. @apexdigitalmedia
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can shar

[2021-08-13 08:14] #5911 closed

[2021-08-13 09:12] msbemba commented on #5904
@MastaDisasta Thank you for your feedback. We have made changes to the document  via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5995

Thanks
Sri

[2021-08-13 09:19] msbemba commented on #5901
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5996

Thanks
Sri

[2021-08-13 09:21] msbemba commented on #5900
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5997

Thanks
Sri

[2021-08-13 09:25] msbemba commented on #5899
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5998

Thanks
Sri

[2021-08-13 09:30] msbemba commented on #5947
@epinto Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5999

Thanks
Sri

[2021-08-13 09:34] msbemba commented on #5961
@bvdsande Thank you for your feedback. The links under the section Add a shared mailbox to outlook seems to be working. Could you please elaborate on which part of the documents needs modification and what exactly happens when you add a shared mailbox to outlook?

Thanks
Sri

[2021-08-13 09:36] msbemba commented on #5865
@pgoldweic Are you referring to https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom ?

Thanks
Sri

[2021-08-13 12:07] ssmiller60 opened #6001 "Phrasing not clear"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-endpoints-vdi?view=o365-worldwide#for-windows-10-or-windows-server-2019

The use of a negative in the wording for item 2. a is confusing and almost caused me to open a support ticket, please change to:

a. If you are implementing multiple entries for each device - one for each session, copy WindowsDefenderATPOnboar

[2021-08-13 12:23] JonesMikael opened #6002 "When a user is deleted, can recipients still read the e-mail addition to the FAQ"
Here is a question suitable to add to this FAQ which I have a hard time finding an answer for. If User A in a tenant sends an e-mail that is encrypted with Message Encryption to user B in the same tenant and user C in another tenant. A few weeks later, user A leaves the company and his account is deleted. Will user B and C still be able to open the encrypted e-mail or is this gone since it was act

[2021-08-13 12:33] maartenk99 opened #6003 "logon UPN match their primary SMTP address recommendations are blocking deployment"
[Enter feedback here]
can you share more background on the remark at the bottom of the page " It is best practice, however, to have the person's logon UPN match their primary SMTP address."?  Is this just for user convenience or are there technical requirements? I have several customers that are confused about this statement that is a deployment blocker for them.

Thanks
maartenk@microsoft.com

--

[2021-08-13 12:40] msbemba commented on #5889
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6004

Thanks
Sri

[2021-08-13 12:41] ssmiller60 opened #6005 "Clarify what is meant by "Downlevel SKUs""
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-endpoints-vdi?view=o365-worldwide#for-downlevel-skus

Clarify what is meant by "Downlevel SKUs" this wording is confusing, should be more specific

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5b23fe-37ce-e3b0-

[2021-08-13 13:06] helgeklein opened #6007 "Advanced HTTP level monitoring: questions"
The documentation states: _Defender for Endpoint supports advanced HTTP level monitoring through network protection. When turned on, a new type of event is surfaced which exposes the real target domain names._

That leaves the following **questions regarding advanced HTTP level monitoring**:

* Does it work with HTTPS encryption between the endpoint and the proxy?
* Does it work with HTTPS encrypt

[2021-08-13 14:10] pgoldweic commented on #5865
Hi,
Thanks for replying. I was actually referring to the Canvas-specific install documents, wrote just a week or two before I posted (and the state of the software at that time) – sorry I did not mention Canvas in the comment-. However, since I wrote the comment, Microsoft released an update to the software that is now accepting some ‘custom’ mappings (by adding a suffix to the login attribute), w

[2021-08-13 17:23] ssmiller60 opened #6008 "Incorrect text formatting - confusing"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-endpoints-vdi?view=o365-worldwide#for-windows-10-or-windows-server-2019

for 2. Copy the files from the WindowsDefenderATPOnboardingPackage folder extracted from the .zip file into the golden/master image under the path C:\WINDOWS\System32\GroupPolicy\Machine\Scripts\Startup.

The words "golden/master" should not h

[2021-08-13 17:23] OverengineeredNetwork commented on #4462
Good afternoon,

While re-testing our custom mail flow rule designed to block autoforwarding emails out of our organization I received the expected NDR message.

Would others in this thread (@supportguy) be able to re-test to see if it is resolved for you?

[2021-08-13 17:55] EthanRodz opened #6009 "Adding of Giphy.com"
Giphy.com is the provider of GIFs to Microsoft Teams. This requires the Teams client to directly reach out to Giphy.com to retrieve and surface those GIFs in Teams. Giphy.com should be listed on the required optional URLs for Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5de1e69c-aee8-2cd4-3f69-5288253d9b2a
* V

[2021-08-13 20:21] danmyhre commented on #5481
@robmazz Hi - IBs will limit the information shown on the people search and contact card in Bing for work (https://www.bing.com/work/search?q=usernamehere&form=HDRMSB#Person-people)

[2021-08-13 20:35] MastaDisasta commented on #5890
One additional item is that the documentation says "rbacGroupNames" is of type String; however, in the example and through testing the API, it appears this field should be submitted as a list of strings rather than a single string separated by commas.

[2021-08-13 21:23] MastaDisasta commented on #5877
An additional item, in the "Export software inventory assessment" properties, it shows "id" as a valid field. However, this field does not appear to be in the actual output of the API call.

[2021-08-14 20:14] noAlvaro opened #6013 "Topic Groups"
How could I cluster or cascade a number of Topics within one "Topic Group"?
A feature like this might be important to allow linear exploration of correlated Topics.
_- How about it?_

[2021-08-15 21:10] testitwithme opened #6014 "Minor correction on usage of switch EnableLitigationHoldForMigration"
In the "Prepare target user objects for migration"/Prerequisites section of the Cross-tenant mailbox migration document at the 3rd part, the command "Set-MailUser -EnableLitigationHoldForMigration $TRUE" doesn't require the $TRUE swith, correctly it should be:
"Set-MailUser -EnableLitigationHoldForMigration"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-08-16 06:23] msbemba commented on #5948
@MonstarSuperS Thank you for your feedback. We have a set of general questions like these added to the FAQ Section - vhttps://docs.microsoft.com/en-us/microsoft-365/enterprise/data-move-faq?view=o365-worldwide#what-happens-if-i-do-not-request-a-move-before-the-deadline-

We cannot accept requests for migration after the open enrollment period.

Hope this helps!

Thanks
Sri

[2021-08-16 06:27] msbemba commented on #5984
@EbonyKnight Thank you for your feedback. You don't have to purchase the domain from Microsoft to be able to add a A record. If you are using Microsoft Name servers (NS records) then you will be able to add additional records via Settings > Domains --> DNS records --> Add records.

If your domain was purchased outside of Microsoft and you are using the third-party service to add DNS records, then

[2021-08-16 06:30] msbemba commented on #5942
@ckhordiasma Thank you for your feedback. Yes, Microsoft Defender for endpoint is  ipv6 compatible.

Thanks
Sri

[2021-08-16 06:34] msbemba commented on #5945
@annferre Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6015

Once the author approves, the changes will be live.

Thanks
Sri

[2021-08-16 06:34] msbemba commented on #5865
@pgoldweic Thank you.

@yogkumgit This issue can be closed.

Thanks
Sri

[2021-08-16 07:50] yogkumgit commented on #6013
@noAlvaro Please indicate the the document you are referring to and wish to give the feedback for its improvement. Thanks

[2021-08-16 08:13] yogkumgit commented on #5904
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 08:14] #5904 closed

[2021-08-16 08:16] yogkumgit commented on #5901
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 08:16] #5901 closed

[2021-08-16 08:18] yogkumgit commented on #5900
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 08:18] #5900 closed

[2021-08-16 08:20] yogkumgit commented on #5899
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 08:21] #5899 closed

[2021-08-16 08:27] #5865 closed

[2021-08-16 08:30] yogkumgit commented on #5889
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 08:30] #5889 closed

[2021-08-16 10:07] yogkumgit commented on #5947
@msbemba Thank you very much for the contribution and updating the documentation with PR. @epinto Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:07] #5947 closed

[2021-08-16 10:20] yogkumgit commented on #5874
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:20] #5874 closed

[2021-08-16 10:24] yogkumgit commented on #5886
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:24] #5886 closed

[2021-08-16 10:28] yogkumgit commented on #5891
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:28] #5891 closed

[2021-08-16 10:31] yogkumgit commented on #5905
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:31] #5905 closed

[2021-08-16 10:32] yogkumgit commented on #5906
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:32] #5906 closed

[2021-08-16 10:34] yogkumgit commented on #5907
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:34] #5907 closed

[2021-08-16 10:40] yogkumgit commented on #5925
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:40] #5925 closed

[2021-08-16 10:44] yogkumgit commented on #5927
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:44] #5927 closed

[2021-08-16 10:48] yogkumgit commented on #5934
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 10:49] #5934 closed

[2021-08-16 11:04] yogkumgit commented on #5778
@msbemba Thank you very much for the contribution and sharing this explanation. @jonwbstr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 11:04] #5778 closed

[2021-08-16 11:32] yogkumgit commented on #5893
@mjcaparas Please help us in resolving this issue. Thanks

[2021-08-16 11:33] yogkumgit commented on #5894
@mjcaparas Please help us in resolving this issue. Thanks

[2021-08-16 11:34] yogkumgit commented on #5909
@mjcaparas Please help us in resolving this issue. Thanks.

[2021-08-16 11:35] yogkumgit commented on #5917
@efrene Please help us in resolving this issue. Thanks

[2021-08-16 11:36] yogkumgit commented on #5921
@DulceMontemayor Please help us in resolving this issue. Thanks

[2021-08-16 11:38] yogkumgit commented on #5938
@chrfox Please help us in resolving this issue. Thanks

[2021-08-16 11:40] yogkumgit commented on #5962
@LauraWi Please help us in resolving this issue. Thanks

[2021-08-16 11:41] yogkumgit commented on #5968
@SeanTGeoghegan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-16 11:42] #5968 closed

[2021-08-16 13:44] iboettcher opened #6016 "Download of prod.list for Ubuntu fails"
The document says to run

curl -o microsoft.list https://packages.microsoft.com/ubuntu/20.04/prod.list

to download the current package list. This was working before, but now fails with http 404 error. There is no such file in any of the other Ubuntu subfolders, too. Can someone explain, what the reason is? Thx!

[2021-08-16 14:19] D4m4 opened #6017 "Client Analyzer URL is outdated"
The URL to download the client analyzer is outedated. The updated link for downloading client analyzer for linux/macOS is https://aka.ms/XMDEClientAnalyzer

<img width="626" alt="linux CA" src="https://user-images.githubusercontent.com/86731035/129578346-af002636-f97d-4d01-b8ff-043ea4b0947e.png">

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-08-16 14:44] itguysocal opened #6018 "W365 Business prerequisites"
Please consider updating the prerequisites section that currently states "There are no prerequisites to set up Windows 365 Business” to state that the following are prerequisites:
1. The cloudbprt user needs to be excluded from any CA policies that require MFA
2. in Device settings, toggle the require MFA to off for Azure AD join
3. If Intune is used, the cloudbprt user needs to be added to the in

[2021-08-16 15:28] msbemba commented on #6014
@testitwithme Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6020

Thanks
Sri

[2021-08-16 15:34] msbemba commented on #6008
@ssmiller60 Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6021

Thanks
Sri

[2021-08-16 15:36] msbemba commented on #6001
@ssmiller60 Thank you for your feedback. We have made changes to the document via  PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6022

Once the author approves, the changes will be live.

Thanks
Sri

[2021-08-16 15:40] jonwbstr commented on #3212
Hi all, I noticed the uservoice entry is no longer valid, is there a new location for this feedback or does it need to be recreated somewhere?

[2021-08-16 15:40] msbemba commented on #5882
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6023

Thanks
Sri

[2021-08-16 16:05] msbemba commented on #5881
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6025

Thanks
Sri

[2021-08-16 16:07] msbemba commented on #5880
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6026

Thanks
Sri

[2021-08-16 16:31] chrisda commented on #3212
@jonwbstr, no new location.

[2021-08-16 16:59] LauraWi commented on #5962
Azure AD endpoints should be with Azure docs and would be out of scope for the O365 article.https://www.microsoft.com/en-us/download/details.aspx?id=56519

[2021-08-16 16:59] #5962 closed

[2021-08-16 17:02] denisebmsft commented on #6016
Hello @iboettcher! Thank you for the feedback. Can you please tell us to which article(s) your feedback applies? This information will help us route the issue correctly. Thanks!

[2021-08-16 17:17] iboettcher commented on #6016
Sorry, I thought that there is an automatic referral to the right article.

Thats the article:
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-install-manually?view=o365-worldwide

The line in the article is:
curl -o microsoft.list https://packages.microsoft.com/ubuntu/18.04/prod.list

This will fail to download anything, since https://packages.microsoft.com/ubuntu/

[2021-08-16 17:17] chuckedmonson commented on #5771
@sparkitect -- We looked into this, here’s what we see:
In terms of the fields, each of these are required by all models, and is added to the library instead of a specific content type: _ModelId , Classification Date, confident score, Corrected, ModelUrl, ModelVersion.
Columns that are specific to an individual model are added to the specific content type, like “Business Unit, Document Owner, Docu

[2021-08-16 17:21] chuckedmonson commented on #5772
@sparkitect -- The reason you see an error is you have a managed metadata field “Document Type” whose term set can’t be found, you’ll want to look into this (perhaps it has been deleted).
We absolutely acknowledge that the error message isn’t helpful. We will change that to be more explicit about not being able to find the term set, we’ll get that updated. Thanks for the feedback.

[2021-08-16 17:21] #5772 closed

[2021-08-16 17:28] jonwbstr opened #6027 "Update reference to classic EAC"
Hi Chris,

I noticed the "Recommended Content" section for this article references the classic EAC
https://docs.microsoft.com/en-us/exchange/monitoring/trace-an-email-message/run-a-message-trace-and-view-results,

and earlier in the page is a reference to the modern EAC

The article currently references both the classic and modern EAC.

I propose replacing the classic reference with the modern ref

[2021-08-16 18:07] sparkitect commented on #5772
I just checked and can verify that the column wasn't bound to a Term Set at all.
My bad 😊

[2021-08-16 18:09] chuckedmonson commented on #5772
@sparkitect -- thanks!

[2021-08-16 18:09] sparkitect commented on #5771
Ok, I understand now.
As long as the non-extractor columns are hidden from the forms it should be fine.

[2021-08-16 18:09] #5771 closed

[2021-08-16 18:22] chrisda commented on #6027
@jonwbstr, OK. Be my guest.

[2021-08-16 18:29] mjcaparas commented on #5894
@msbemba - I believe this is similar to the other issues. Can you help?

[2021-08-16 18:29] mjcaparas commented on #5893
@msbemba - I believe this is similar to the other issues. Can you help?

[2021-08-16 18:46] #5880 closed

[2021-08-16 19:10] msbemba commented on #5893
Yes, I can handle this.

[2021-08-16 19:10] msbemba commented on #5894
Yes, I can handle this.

[2021-08-16 19:45] jonwbstr commented on #6027
Hehehe, okay. Do what you want with this, I only wanted to share the observation so I'm good to close if that's what you're thinking.

[2021-08-16 20:47] EbonyKnight commented on #5984
That is how we solved the problem. The issue was no one, including me, understood the custom software interface. This was a prime time for a training exercise.

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sriraman M S ***@***.***>
Sent: Monday, August 16, 2021 2:27:26 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc:

[2021-08-16 21:12] markjjo commented on #5949
@rsirwaturai We're looking into your question, and I will follow up on this issue when I have an answer. In the mean time, you might want to open a request with MS Support. Are you trying to move a folder to another auto-expanded storage area or are you trying to move it to the main archive? Note that you can't delete folders in the archive. That includes folder in the main archive and folders in

[2021-08-17 05:42] testitwithme commented on #6014
Hello Sriraman,

I can see the change, thank you.
I really like this very detailed document, which answered a couple of my
questions and helped me a lot during the migration of mailboxes.
I would have another comment: On the source tenant only the accept the
permission requires Global Admin right. I would add it to 1. on the
"Step-by-step instructions for the source tenant admin" section as it is

[2021-08-17 05:46] msbemba commented on #5893
@MastaDisasta Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6031

Thanks
Sri

[2021-08-17 05:52] msbemba commented on #5894
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6032

Thanks
Sri

[2021-08-17 05:55] msbemba commented on #5895
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6033

Once the author approves the PR, the changes will be live.

Thanks
Sri

[2021-08-17 06:17] msbemba commented on #5896
@MastaDisasta Thank you for your feedback. We have created a PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6034 for the same.

Once the author approves, the changes will be live.

Thanks
Sri

[2021-08-17 06:29] msbemba commented on #5877
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6035

Once the author approves, the changes will be live.

Thanks
Sri

[2021-08-17 06:34] msbemba commented on #5876
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6036

Thanks
Sri

[2021-08-17 06:39] msbemba commented on #5912
@Jeberoni Thank you for your feedback. The previous issue reported was due to a connection to the Azure ad before the script was run.

We are here to take your feedback and improve docs.microsoft.com, but we do not have the option to provide you support. If you still have problems I have to suggest you that open a support ticket.
If you wish to know how to open the service ticket, please follow th

[2021-08-17 07:22] DracinschiG opened #6037 "More guidance needed on registration numbers"
We need to have additional guidance for specific countries, such as: Armenia, Belarus, Kazakhstan, Kyrgyzstan, Moldova, South Africa, Tajikistan, Ukraine, Uzbekistan, Venezuela.
There is only reference as to what the registration number means and not where to find it, such as what we have for Turkey.

Thank you!

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-17 07:24] msbemba commented on #5866
@jrhi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6038

Thanks
Sri

[2021-08-17 07:25] msbemba commented on #6002
@JonesMikael Thank you for your feedback. The account deletion does not impact the encryption as does not depend on the mailbox instead depends on the label. I was able to test and confirm the same as well.

Hope this helps!

Thanks
Sri

[2021-08-17 07:30] msbemba commented on #6003
@maartenk99 Thank you for your feedback. Ideally, Users will need to understand what their UPN is and that it is the login for all things Office 365 related. There are some prompts that will say “enter your email” but they will in fact need to use their UPN.

Office ProPlus, the iOS versions of Office and OneDrive will prompt the user for their email address for login or activation, they really me

[2021-08-17 07:33] msbemba commented on #6005
@ssmiller60 Thank you for your feedback. Downlevel SKU's include Windows Server 2008R2/2012R2/2016.  I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6039

Thanks
Sri

[2021-08-17 07:46] msbemba commented on #5914
@Tosh30 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6040

Thanks
Sri

[2021-08-17 07:49] JitenderPrasad opened #6041 "Migration from Symantec to Microsoft Defender"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e795a9bd-0d5a-ab4d-4f44-c1e365dce162
* Version Independent ID: 429ebad4-c2ab-e481-0984-301a8900c14d
* Content: [Make the switch from non-Microsoft endpoint protection to Microsoft Defender for Endpoint](https://docs.microsoft.com/en-us/microsoft-365/s

[2021-08-17 08:44] yogkumgit commented on #6014
@msbemba

[2021-08-17 08:47] yogkumgit commented on #6008
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssmiller60 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-17 08:47] #6008 closed

[2021-08-17 08:49] yogkumgit commented on #6001
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssmiller60 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-17 08:49] #6001 closed

[2021-08-17 08:53] yogkumgit commented on #5882
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-17 08:53] #5882 closed

[2021-08-17 08:58] yogkumgit commented on #5881
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-17 08:58] #5881 closed

[2021-08-17 09:02] hudish opened #6042 "SecureScore links won't open, need an update."
Please update all SecureScore links to point to Microsoft 365 Defender (https://security.microsoft.com/securescore)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b680bb5-de3b-ee83-3764-91695bab77ed
* Version Independent ID: 9c770adf-a66e-ed32-25aa-ffbc46eaef82
* Content: [Microsoft 365 security roadmap - Top prioritie

[2021-08-17 12:23] D1Ck3n opened #6044 "Please check the URLs in your Article"
Good day,

i found some dead URLs in this Documentation as i tried to install MS Defender on linux:

https://packages.microsoft.com/[distro]/[version]/[channel].list -> Error 404
https://packages.microsoft.com/config/[distro]/[version]/[channel].list -> works!

i hope i could help

best regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-08-17 13:50] DeanGross opened #6045 "ediscovery legal holds?"
Please add information about How a legal hold affect this decision process?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b58a7e8c-acc0-df60-1563-8ac667096826
* Version Independent ID: 770a3929-18b7-3655-be8d-5c3eb7462df2
* Content: [Flowchart to determine when an item will be retained or permanently deleted - Microsof

[2021-08-17 14:10] yogkumgit commented on #5699
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Andywareaus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-17 14:10] #5699 closed

[2021-08-17 14:52] #5481 closed

[2021-08-17 15:17] enfo opened #6046 "Unclear wording in regards to permanent deletion of OneDrive Data"
I believe the wording about OneDrive content beeing permanantly deleted is a bit misleading. It says: _If you don't move the files within the retention period after deleting the user, the OneDrive content will be permanently deleted._

However, as documented here https://docs.microsoft.com/en-us/onedrive/retention-and-deletion#the-onedrive-deletion-process, content will still be recoverable from t

[2021-08-17 15:18] majorshelton opened #6047 "Out of date"
The multi-select option on content search is no longer available.  This article is no longer relevant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73897547-4dce-3d3e-8189-dc09c27e89b8
* Version Independent ID: bf6f8886-c2aa-9fbb-7769-d55253aa1a3b
* Content: [Bulk edit Content Searches - Microsoft 365 Compliance](http

[2021-08-17 18:23] markjjo commented on #6047
@majorshelton Thanks for the heads up. I will retire the article.

[2021-08-17 18:23] #6047 closed

[2021-08-17 18:24] cabailey commented on #6045
Thanks for looking this over, Dean!  I don't think adding eDiscovery holds into the flowchart itself would add much value (if applied, always retain) and we have comprehensively addressed this in the main section that explains the principles of retention:

"Items subject to eDiscovery hold also fall under the first principle of retention; they cannot be permanently deleted by any retention policy

[2021-08-17 18:28] MastaDisasta opened #6048 "Alerts queue in Microsoft 365 Defender not related to API"
This page shows up in the left panel under API schema, but it has nothing to do with the API. It should be moved somewhere more relevant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38752963-c20d-e7e3-b6ac-5c5af1a2cd8c
* Version Independent ID: 32934083-229f-f294-3d73-26c8a679d80b
* Content: [Alerts queue in Microso

[2021-08-17 18:31] MastaDisasta opened #6049 "Create alert incorrect permission"
The application permissions show as "Alerts.ReadWrite.All"; however, the true permission is "Alert.ReadWrite.All" (without the 's').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8ee49d7e-aa5b-d448-a602-6ae9987f6798
* Version Independent ID: 645d063c-91a0-7998-2778-71f43ba969d9
* Content: [Create alert from event API]

[2021-08-17 18:32] MastaDisasta opened #6050 "Batch update alert incorrect permission"
The application permissions show as "Alerts.ReadWrite.All"; however, the true permission is "Alert.ReadWrite.All" (without the 's').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff057342-8179-720d-35ac-ff57db76df0c
* Version Independent ID: ecd62fbc-1e03-3e01-b692-6d7fc94f097a
* Content: [Batch Update alert entities

[2021-08-17 18:37] MastaDisasta opened #6051 "Get missing KBs by device missing permissions"
This page does not show the required application permissions. It appears to be "Software.Read.All".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d43426f-11d0-0cb3-5003-1d4e58c77678
* Version Independent ID: 48e15168-7127-1c42-1c03-56bca11208fd
* Content: [Get missing KBs by device ID](https://docs.microsoft.com/en-u

[2021-08-17 18:39] MastaDisasta opened #6052 "Get package SAS URI incorrect permission"
The application permissions show as "Machine.CollectForensics"; however, the true permission is "Machine.Read.All" or "Machine.ReadWrite.All".

'code': 'Forbidden', 'message': 'The application does not have any of the required application permissions (Machine.Read.All, Machine.ReadWrite.All) to access the resource.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-08-17 18:40] MastaDisasta opened #6053 "Get live response results incorrect permission"
The application permissions show as "Machine.LiveResponse"; however, the true permission is "Machine.Read.All" or "Machine.ReadWrite.All".

'code': 'Forbidden', 'message': 'The application does not have any of the required application permissions (Machine.Read.All, Machine.ReadWrite.All) to access the resource.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-08-17 18:42] MastaDisasta opened #6054 "Run live response commands undocumented limitation"
If the machine that you are trying to run this API call on is in an RBAC device group that does not have an automated remediation level assigned to it, you receive the following error message:

'code': 'DisallowedOperation', 'message': "This device has no automation level assigned to it. You'll need to at least enable the minimum Remediation Level for a given Device Group."

---
#### Document Deta

[2021-08-17 18:45] MastaDisasta opened #6055 "Stop and quarantine file incorrect permission"
The application permissions show as "Machine.StopAndQuarantine"; however, it appears you also need "Machine.Read.All" or "Machine.ReadWrite.All".

If you only have Machine.StopAndQuarantine, you get the following error message:
'code': 'Forbidden', 'message': 'The application does not have any of the required application permissions (Machine.Read.All, Machine.ReadWrite.All) to access the resource.

[2021-08-17 18:52] MastaDisasta opened #6056 "List software by recommendation incorrect permission"
The application permissions show as "SecurityRecommendation.Read.All"; however, the true permission is "Software.Read.All".

'code': 'Forbidden', 'message': 'The application does not have any of the required application permissions (Software.Read.All) to access the resource.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-08-17 18:53] MastaDisasta opened #6057 "List vulnerabilities by recommendation incorrect permissions"
The application permissions show as "SecurityRecommendation.Read.All"; however, the true permission is "Vulnerability.Read.All".

'code': 'Forbidden', 'message': 'The application does not have any of the required application permissions (Vulnerability.Read.All) to access the resource.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-08-17 18:54] MastaDisasta opened #6058 "Get one remediation activity incorrect permissions"
The application permissions show as "RemediationTask.Read.All"; however, the true permission is "RemediationTasks.Read.All" (with an 's').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eff8fa05-2ca9-fd79-e5d1-27b91e27ef50
* Version Independent ID: 1028f35f-e819-38a1-6fe7-28a67b501aeb
* Content: [Get one remediation ac

[2021-08-17 18:54] MastaDisasta opened #6059 "List all remediation activities incorrect permission"
The application permissions show as "RemediationTask.Read.All"; however, the true permission is "RemediationTasks.Read.All" (with an 's').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef23eda-5f78-cdcf-ec94-ea5db4734a84
* Version Independent ID: 8b5f28a6-e988-e992-a49e-1d99b3d3687e
* Content: [List all remediation a

[2021-08-17 18:55] MastaDisasta opened #6060 "List exposed devices of remediation activity incorrect permission"
The application permissions show as "RemediationTask.Read.All"; however, the true permission is "RemediationTasks.Read.All" (with an 's').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44e33302-15ec-ba50-03a1-242537ba57d2
* Version Independent ID: 96b05779-a59b-9c6e-8cd8-5f0bb10a9033
* Content: [List exposed devices o

[2021-08-17 18:56] MastaDisasta opened #6061 "List vulnerabilities by software incorrect permission"
The application permissions show as "Software.Read.All"; however, the true permission is "Vulnerability.Read.All".

'code': 'Forbidden', 'message': 'The application does not have any of the required application permissions (Vulnerability.Read.All) to access the resource.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-08-17 19:35] MastaDisasta opened #6062 "Cancel machine action incorrect permission"
The application permissions show as "Machine.CollectForensic"; however, that permission does not work. It might be an API coding error, as the correct permission is "Machine.CollectForensics" (with an 's'). **This is not simply a typo on the documentation page, the actual API code is incorrect, too.** Using any of the other listed permissions does work.

When only using the Machine.CollectForensic

[2021-08-17 20:07] #6005 closed

[2021-08-17 20:08] #5984 closed

[2021-08-17 20:09] porterkim opened #6063 "What does SDS stand for?"
What does SDS stand for in the Prerequisites Before Deployment section?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b696e622-361b-0be8-0b1f-b2ad9708c877
* Version Independent ID: 18403e7b-adb6-2828-54c6-ddd410eacadd
* Content: [Use Microsoft Teams classes with Canvas](https://docs.microsoft.com/en-us/microsoft-365/l

[2021-08-17 20:52] denisebmsft commented on #5399
Hello @nhogarth86. Thank you so much for filing this issue. Please use the "Device health and compliance report" (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/machine-reports?view=o365-worldwide). I have updated our content accordingly. Appreciate you letting us know about this so we could correct it.

[2021-08-17 21:27] denisebmsft commented on #5492
Hello @jonwbstr and thank you so much for your feedback. Apologies for the inconvenience of having to hunt for the rule IDs. I have added a link to this article (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules?view=o365-worldwide), and the changes will be live later today. Thank you again for your helpful suggestion!

[2021-08-17 21:29] #5492 closed

[2021-08-17 21:30] #5399 closed

[2021-08-17 22:27] chrisda commented on #6027
Closing.

[2021-08-17 22:27] #6027 closed

[2021-08-17 22:28] chrisda commented on #5710
Closing due to lack of activity.

Thanks for the feeback.

[2021-08-17 22:28] #5710 closed

[2021-08-18 03:02] denisebmsft commented on #5163
Opened task 5351236

[2021-08-18 04:46] kahosoka opened #6064 "Request for correction of typographical error when reading in Japanese"
[Enter feedback here]
Hello Team,

MDE on Linux repository configuration needs to be modified.
When I checked the item for specifying the channel in Ubuntu, "config" which was originally included in the path, disappeared on the Japanese site.

-------------------------------
excerpt from an English article
-------------------------------
Note your distribution and version, and identify the closest

[2021-08-18 06:17] yogkumgit commented on #5876
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 06:17] #5876 closed

[2021-08-18 06:26] yogkumgit commented on #5893
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 06:27] #5893 closed

[2021-08-18 06:31] yogkumgit commented on #5734
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ceaton001 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 06:32] #5734 closed

[2021-08-18 06:36] yogkumgit commented on #5733
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ceaton001 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 06:36] #5733 closed

[2021-08-18 06:40] yogkumgit commented on #5752
@msbemba Thank you very much for the contribution and updating the documentation with PR. @danmyhre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 06:41] #5752 closed

[2021-08-18 06:46] yogkumgit commented on #5310
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JetzeMellema Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 06:46] #5310 closed

[2021-08-18 07:03] yogkumgit commented on #5757
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lwolf-sagetechs Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 07:04] #5757 closed

[2021-08-18 07:26] yogkumgit commented on #5894
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 07:27] #5894 closed

[2021-08-18 07:29] yogkumgit commented on #5942
@msbemba Thank you very much for the contribution and sharing this explanation. @ckhordiasma Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 07:29] #5942 closed

[2021-08-18 07:31] yogkumgit commented on #5948
@msbemba Thank you very much for the contribution and sharing this explanation. @MonstarSuperS Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 07:32] #5948 closed

[2021-08-18 07:34] yogkumgit commented on #5961
@msbemba Thank you very much for the contribution and sharing this explanation. @bvdsande Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 07:34] #5961 closed

[2021-08-18 07:39] yogkumgit commented on #5912
@msbemba  Thank you very much for the contribution and sharing this explanation. @Jeberoni
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2021-08-18 07:39] #5912 closed

[2021-08-18 07:46] yogkumgit commented on #5895
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-18 07:47] #5895 closed

[2021-08-18 07:54] XixiHuang333 opened #6065 "DLP email notification does not trigger for Teams sensitive message sending."
Hi Team,

Here is a issue for DLP email notification for Teams.
Issue repro steps:
1) In DLP policy, configure customize the email text in User notifications.
![image](https://user-images.githubusercontent.com/40224592/129845694-612e8006-79ea-48cd-9c89-4795c6695823.png)

User send sensitive message in Teams chat, then warning or flag message shows up as expected.

Repro Results:  However user did

[2021-08-18 07:57] yogkumgit commented on #6013
@noAlvaro We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2021-08-18 07:57] #6013 closed

[2021-08-18 08:01] yogkumgit commented on #5949
@rsirwaturai Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wi

[2021-08-18 08:02] #5949 closed

[2021-08-18 08:31] rsirwaturai commented on #5949
Dear Mark,
Apologize for the late reply. I've been studying Exchange Online archive mailbox and found that archived items will be stored inside a folder with the same name as the master folder with an additional year number as a suffix. 
My question is the archive folder movable to another folder inside the Outlook folder tree?  
    Pada Selasa, 17 Agustus 2021 04.12.28 WIB, Mark Johnson - MSFT *

[2021-08-18 13:31] msbemba commented on #5931
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6068

Thanks
Sri

[2021-08-18 13:32] msbemba commented on #5903
@MastaDisasta Thank you for your feedback. I'm working with the author on this.

Thanks
Sri

[2021-08-18 14:22] leighannfletcher opened #6069 "Available for GCC or not??"
[Enter feedback here]
On this page you say this is available for GCC tenants.  Here, https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide

you say it is not.  Is Microsoft 365 Usage Analytics available for GCC or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-08-18 14:38] denisebmsft commented on #6064
Hi @TinaMcN! Can you please take a look at this? Thank you!

[2021-08-18 14:45] JoanneHendrickson commented on #5278
section & link to the Scheduler pricing/licensing page is now included at the top of the article (will go live shortly).

[2021-08-18 14:45] #5278 closed

[2021-08-18 16:04] cmcatee-MSFT commented on #4429
This information is included at the very top of the article:

**IMPORTANT**
As of January 26, 2021, new bank accounts are no longer supported for customers in Belgium, France, Italy, Luxembourg, Portugal, Spain, and the United States. If you’re an existing customer in one of those countries, you can continue paying for your subscription with an existing bank account, and you can add new subscripti

[2021-08-18 16:04] #4429 closed

[2021-08-18 16:47] msbemba commented on #6046
@enfo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6070

Thanks
Sri

[2021-08-18 16:50] msbemba commented on #6049
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6071

Thanks
Sri

[2021-08-18 16:54] msbemba commented on #6051
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6072

Thanks
Sri

[2021-08-18 16:57] msbemba commented on #6052
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6073

Thanks
Sri

[2021-08-18 17:02] msbemba commented on #6054
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6075

Thanks
Sri

[2021-08-18 17:06] msbemba commented on #6056
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6077

Thanks
Sri

[2021-08-18 17:08] msbemba commented on #6058
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6078

Thanks
Sri

[2021-08-18 17:12] msbemba commented on #6063
@porterkim Thank you for your feedback. School Data Sync (SDS) is a free service in Office 365 for Education that reads the school and roster data from a school's Student Information System (SIS). It creates Office 365 Groups for Exchange Online and SharePoint Online, class teams for Microsoft Teams and OneNote Class notebooks, school groups for Intune for Education, and rostering and SSO integrat

[2021-08-18 17:34] efrene commented on #6069
@leighannfletcher - Thanks so much for the feedback. Sorry for the confusion.  This article will be updated today to link to the article that describes how to use the Usage Analytics report in a Microsoft 365 GCC tenant.  Viewing Usage Analytics data in a Microsoft 365 GCC tenant is supported, but your need to download a Power BI template that is not available in the Power BI Marketplace (describe

[2021-08-18 17:34] #6069 closed

[2021-08-18 17:56] efrene commented on #5917
@hkusulja, Thank you so much for providing this feedback. I'll check with our product team on your suggestions.

[2021-08-18 18:21] mjcaparas commented on #4668
At this point - out of scope.

[2021-08-18 18:21] #4668 closed

[2021-08-18 18:44] TinaMcN commented on #6064
@kahosoka thank you for reporting the issue.  The Japanese article is machine translated which is probably causing the problem.  I sent it for human translation, hopefully that will fix it.  It should be completed within a week.

[2021-08-18 19:47] JPCortesP opened #6081 "Licensing requirement expansion."
Most of my customers are very confused by the requirement of having Server licenses in the tenant, but no way of Assign them; I'm requesting a note to be expanded which contains the information that the licenses won't be assign as normal user licences, but they are still required to be in compliance.
If more information is required, I have a very recent case. My MSAlias is jocorts

---
#### Docume

[2021-08-19 05:04] TGBX opened #6083 "No more Fixed mode"
Fixed mode has been removed from the admin console, but is still mentioned in the doco and should be removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d688bc03-7d86-46d8-ffe7-3fad3974d4cf
* Version Independent ID: 7482cca5-faac-3276-8481-e6323cafef31
* Content: [Centralized Deployment FAQ](https://docs.microsoft.

[2021-08-19 06:14] yogkumgit commented on #6049
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-19 06:15] #6049 closed

[2021-08-19 06:21] yogkumgit commented on #6052
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-19 06:21] #6052 closed

[2021-08-19 06:23] yogkumgit commented on #6053
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-19 06:24] #6053 closed

[2021-08-19 06:26] yogkumgit commented on #6054
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-19 06:26] #6054 closed

[2021-08-19 06:36] yogkumgit commented on #6063
@msbemba Thank you very much for the contribution and updating the documentation with PR. @porterkim Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-19 06:36] #6063 closed

[2021-08-19 06:55] msbemba commented on #5913
@clix5cash This needs to be addressed by the billing team. I'd recommend you contact Microsoft Billing support via the need help section on the admin center.

@yogkumgit  There are no changes required in this document.

Thanks
Sri

[2021-08-19 07:07] msbemba commented on #6014
@testitwithme I have made the changes via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6084

Thanks
Sri

[2021-08-19 09:20] orandev opened #6089 "variable referenced but not created anywhere"
Hello,
In the "Managing large numbers of users" section, there is the following line:

Invoke-Command -Session $s [...]

But the $s variable is not mentioned anywhere else on the page, so we don't know what is inside and how to create it.

I think you should add the following line at the top of the code block:

**$s = Get-PSSession | Where-Object { ($_.ComputerName -like '*.online.lync.com' -or $_

[2021-08-19 11:57] hkusulja commented on #5917
@yogkumgit This is not suggestion, it is mandatory, please do not close, until this is not updated and fixed

[2021-08-19 14:53] msbemba commented on #6050
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6090

Thanks
Sri

[2021-08-19 14:55] msbemba commented on #6059
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6091

Thanks
Sri

[2021-08-19 14:56] yogkumgit commented on #6002
@msbemba Thank you very much for the contribution and sharing this explanation. @JonesMikael Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-19 14:56] #6002 closed

[2021-08-19 14:58] yogkumgit commented on #6003
@msbemba Thank you very much for the contribution and sharing this explanation. @maartenk99 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-19 14:59] #6003 closed

[2021-08-19 15:00] msbemba commented on #6060
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/6060

Thanks
Sri

[2021-08-19 15:01] yogkumgit commented on #5913
@msbemba  Thank you very much for the contribution and sharing this explanation. @clix5cash Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2021-08-19 15:02] msbemba commented on #6061
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6093

Thanks
Sri

[2021-08-19 15:03] msbemba commented on #6057
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6094

Thanks
Sri

[2021-08-19 15:05] #5913 closed

[2021-08-19 15:06] msbemba commented on #6055
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6095

Thanks
Sri

[2021-08-19 15:08] msbemba commented on #6062
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6096

We will also work with the team to fix this API bug internally.

Thanks
Sri

[2021-08-19 15:49] hkusulja commented on #5917
i do not see update on docs yet, it still states "There are no licensing prerequisites to set up Windows 365 Business." , which is not correct, you need to have purchase and assign additional Intune license to CloudPCBPRT user that is used as a service account. I hope honestly, that they will fix the product (Intune) to work better, instead using Azure AD users, as "service accounts" ...

[2021-08-19 16:39] adamgourd opened #6098 "Change "Discovery Mangers" to "Discovery Managers" :)"
Change "Discovery Mangers" to "Discovery Managers" :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffb84a4-0c98-3fc2-8963-4c809efaa149
* Version Independent ID: 305dd7b2-382e-a0da-40b5-1457e6b625bd
* Content: [Set up compliance boundaries for eDiscovery investigations - Microsoft 365 Compliance](https://docs.microso

[2021-08-19 16:42] markjjo commented on #6098
@adamgourd Thanks for catching this. I will fix.

[2021-08-19 16:42] #6098 closed

[2021-08-19 17:13] jgriff500 opened #6100 "Point 5a is incorrect - Run this script as"
Run this script using the logged on credentials -- should be NO since most users do not have (or should not have ) local admin on their computer.  Setting to YES causes this script to fail.   Setting to NO an allowing to run as System allows the script to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbdd3c-a3

[2021-08-19 19:41] ThatMicrosoftGuy opened #6102 "Request to restore the original version of this page"
Hello Team,

I was curious to find that this links page used to advise admins on how to migrate from Office 365 E3 to Microsoft 365 Business Premium. It would include the comparison table found [https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/licensing-microsoft-365-in-smb#feature-comparison-microsoft-365-business-premium-and-office-365-e3](url) an

[2021-08-19 20:41] cmcatee-MSFT commented on #4123
No change needed at this time.

[2021-08-19 20:41] #4123 closed

[2021-08-19 21:57] mjcaparas commented on #4989
The team has received the suggestion and will put for consideration.

[2021-08-19 21:57] #4989 closed

[2021-08-19 21:58] mjcaparas commented on #4901
Checking with relevant team.

[2021-08-19 22:01] mjcaparas commented on #5875
Checking with team. Thanks.

[2021-08-19 22:02] mjcaparas commented on #5903
This sounds like there's a required programmatic change. Please submit feedback through the portal using the frown button.

[2021-08-19 22:02] #5903 closed

[2021-08-20 09:29] yogkumgit commented on #6014
@msbemba Thank you very much for the contribution and updating the documentation with PR. @testitwithme Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 09:29] #6014 closed

[2021-08-20 09:33] yogkumgit commented on #6051
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 09:33] #6051 closed

[2021-08-20 09:43] yogkumgit commented on #6050
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 09:43] #6050 closed

[2021-08-20 09:48] yogkumgit commented on #6059
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 09:49] #6059 closed

[2021-08-20 09:50] yogkumgit commented on #6060
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 09:51] #6060 closed

[2021-08-20 09:57] yogkumgit commented on #6055
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 09:58] #6055 closed

[2021-08-20 10:01] yogkumgit commented on #6062
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 10:01] #6062 closed

[2021-08-20 10:10] yogkumgit commented on #2681
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GitRomney Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-20 10:11] #2681 closed

[2021-08-20 13:14] MikePlumleyMSFT commented on #1965
@ArunMSFT can you help with this question?

[2021-08-20 14:44] msbemba commented on #6016
@iboettcher Thank you for your feedback. I was able to download the current package list after the URL has been updated to https://packages.microsoft.com/config/ubuntu/20.04/prod.list. The config part was missing which was fixed,

Hope this helps!

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-08-20 14:47] msbemba commented on #6017
@D4m4 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6105

Thanks
Sri

[2021-08-20 14:51] clifblanchard opened #6106 "Error in script under "Find user's OneDrive account URL using email address""
When Validating the email addresses the script takes a list in a variable called $emailaddresses creates two variables, one called $finallist and one called $excludedlist.

The excluded list needs to be excluded from processing later, so the script should use $finallist from that point onward, however just 11 lines later  the code calls
foreach($emailAddress in $emailAddresses)

When it should in

[2021-08-20 14:52] msbemba commented on #6018
@itguysocal Thank you for your feedback.

The document now states there are no licensing prerequisites and has a link to the setup troubleshooting guide(https://docs.microsoft.com/en-us/microsoft-365/admin/setup/troubleshoot-windows-365-business?view=o365-worldwide) to make sure your environment preferences are optimized for Windows 365 Business.

The setup t/s guide talks about these and a few mo

[2021-08-20 14:55] msbemba commented on #6041
@JitenderPrasad Thank you for your feedback.

The migration from Symantec to Microsoft defender is carried out in Three phases

1) Preparation for your migration. (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/switch-to-microsoft-defender-prepare?view=o365-worldwide)

2) Set up defender for endpoint (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpo

[2021-08-20 14:58] msbemba commented on #6042
@hudish Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6107

Thanks
Sri

[2021-08-20 15:00] msbemba commented on #6044
@D1Ck3n Thank you for your feedback. The document currently has the URL which works (https://packages.microsoft.com/config/%5Bdistro%5D/%5Bversion%5D/%5Bchannel%5D.list)

Note that multiple URLs had this issue and all have been fixed recently.

Hope this helps!

@yogkumgit There are no changes needed in the document.

Thanks
Sri

[2021-08-20 15:06] msbemba commented on #6083
@TGBX Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6108

Once the author approves, the changes will be live.

Thanks
Sri

[2021-08-20 15:09] msbemba commented on #6089
@orandev Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6109

Thanks
Sri

[2021-08-20 18:29] denisebmsft commented on #6106
Hello @clifblanchard! Can you please tell us to which article your feedback applies? This information will help us route the issue correctly. Thank you!

[2021-08-20 18:34] clifblanchard commented on #6106
https://docs.microsoft.com/en-us/microsoft-365/compliance/use-a-script-to-add-users-to-a-hold-in-ediscovery?view=o365-worldwide

[2021-08-20 20:58] porterkim opened #6110 "LTI is not publicly available yet"
At the LTI Office hours it was announced that Microsoft OneDrive LTI is not publicly released yet and won't be until December 2021.  It is only available in preview mode and we must sign an agreement in order to install the LTI.  It would be most helpful to make note of this on this page.  I spent a few hours trying to install the tool only to find out the authorization error we were getting was d

[2021-08-21 11:12] castellcoch opened #6113 "File share security requirements"
What are the Share and NTFS permissions required on the VDI security intelligence update file share?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87fa68a-a881-7ab7-97df-5da73dc56692
* Version Independent ID: 0c031441-cc26-903a-4d53-c044ea790d2d
* Content: [Microsoft Defender Antivirus Virtual Desktop Infrastructure

[2021-08-22 20:16] 16015299 opened #6115 "Microsoft 365"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3369738b-f096-6c2e-22d4-ee79057997c7
* Version Independent ID: d3fce773-a1e8-193a-b4fa-7f71b9ac3ea4
* Content: [Office 365 Security including Microsoft Defender for Office 365 and Exchange Online Protection - Office 365](https://docs.microsoft.com/en-

[2021-08-22 20:16] #6115 closed

[2021-08-22 20:48] 16015299 opened #6116 "Smotshigo@ccbagroup.com"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3369738b-f096-6c2e-22d4-ee79057997c7
* Version Independent ID: d3fce773-a1e8-193a-b4fa-7f71b9ac3ea4
* Content: [Office 365 Security including Microsoft Defender for Office 365 and Exchange Online Protection - Office 365](https://docs.microsoft.com/en-

[2021-08-22 20:51] 16015299 commented on #6116
Pls open the Test is two day imstriklyng

[2021-08-23 05:45] yogkumgit commented on #6017
@msbemba Thank you very much for the contribution and updating the documentation with PR. @D4m4 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 05:49] #6017 closed

[2021-08-23 05:53] yogkumgit commented on #6042
@msbemba Thank you very much for the contribution and updating the documentation with PR. @hudish Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 05:54] #6042 closed

[2021-08-23 05:55] yogkumgit commented on #6083
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TGBX Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 05:57] #6083 closed

[2021-08-23 05:59] yogkumgit commented on #6089
@msbemba Thank you very much for the contribution and updating the documentation with PR. @orandev Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 05:59] #6089 closed

[2021-08-23 06:02] yogkumgit commented on #5945
@msbemba Thank you very much for the contribution and updating the documentation with PR. @annferre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-23 06:03] #5945 closed

[2021-08-23 06:51] yogkumgit commented on #5832
@mjcaparas Please help us in resolving this issue. Thanks

[2021-08-23 06:53] yogkumgit commented on #5157
@KCCross Please help us in resolving this issue. Thanks

[2021-08-23 07:14] yogkumgit commented on #6065
@chrfox Please help us in resolving this issue. Thanks

[2021-08-23 07:15] yogkumgit commented on #6037
@cmcatee-MSFT Please help us in resolving this issue. Thanks

[2021-08-23 08:50] iboettcher commented on #6016
Thank you, I can confirm it is working now.

[2021-08-23 10:53] kefujino opened #6117 "Office 365 CDN for media/video file"
There are two articles about office 365 CDNs, both of which have architecture diagrams for Office 365 CDNs.

Content Delivery Networks (CDNs)
https://docs.microsoft.com/en-us/microsoft-365/enterprise/content-delivery-networks?view=o365-worldwide#the-office-365-cdn

Use the Office 365 Content Delivery Network (CDN) with SharePoint Online
https://docs.microsoft.com/en-us/microsoft-365/enterprise/use

[2021-08-23 13:12] CallumCrowley opened #6118 "SharePoint Syntex not synchronising content types within a few minutes"
**Issue**

When many sites are associated with a Hub at the same time, SharePoint Syntex does not synchronise content types with those sites within a few minutes (as described in the documentation).

This is a problem for situations where a number of users create different sites and associate those sites with the Hub.

**Steps to reproduce**

1. Ensure you have a content type already pushed to a H

[2021-08-23 13:12] jjtrinquet opened #6119 "Getting a mailbox not found error in Outlook on the web"
Hi,
I have this message when trying to sign in to email web, Office Business Standard 365.
There is a license assigned to this user.
The email address is a custom domain name jj-trinquet.com. The email address is avocat@jj-trinquet.com
Any help with this will be greatly appreciated.
Yours kindly JJ Trinquet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-08-23 14:40] BrianLeFlem opened #6120 "How does teams manage blocked users?"
Would be good if the page described how people are removed from the team.  We blocked a user while they were on holiday, and they got removed from the team.  When they unblocked them today, they did not automatically get added back into the team.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c674715-5bd3-7e2c-6689-7c

[2021-08-23 14:55] hudish commented on #6042
not sure if fixed? still seeing the old links.

alex

From: Yogesh Kumar ***@***.***>
Sent: Monday, August 23, 2021 12:54 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Alex Hudish ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] SecureScore links won't open, need an update. (#6042)

Closed #6042<https://nam06.safelinks.protection.outlook.com/?url=https%

[2021-08-23 15:30] msbemba commented on #6042
@hudish I see the changes have not been reflected in the Document, however, the PR is merged. This should be live shortly.

[2021-08-23 17:22] stackorama opened #6122 "This does not seem to be working yet"
[Enter feedback here]
I am just wondering if this is working for anyone.  I have turned on Sharing externally via the Microsoft 365 admin center per the article and created a policy in exchange and assigned it to myself.  Currently it is still not working about 1/2hr later.  Anyone know how long it takes to kick in? - Christine
![image](https://user-images.githubusercontent.com/12790368/130489994-

[2021-08-23 18:01] hudish opened #6123 "Add info about Outlook.com (Consumer Sender Support)"
[Enter feedback here]
Please add a section in the very end of the doc that the filtering and delisting process for **Outlook.com** - our consumer service - is different. Please ask to follow the link https://sendersupport.olc.protection.outlook.com/pm/troubleshooting.aspx where the process is described for all senders to our consumer service.

---
#### Document Details

⚠ *Do not edit this section

[2021-08-23 18:36] sveinungre opened #6124 "Convert all targeted devices to Autopilot must be set to NO for autopilot test to succeed"
Please update documentation to state that if you have an existing autopilot deployment profile (even if its not assigned), the setting "Convert all targeted devices to Autopilot" must be set to "No" for the managed desktop readiness test for autopilot to succeed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30588070-

[2021-08-23 19:23] ckhordiasma opened #6125 "Error: [object Object]"
When I try to use the live response capability with a simple command, like `processes`, i just get the error response:

Error: [object Object]

Any reason why this is happening??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5bbb2f7d-1aa5-4536-d22b-8b5b1f94f5b3
* Version Independent ID: 8878dc91-fdb6-349f-a0c2-5d4717f

[2021-08-23 19:36] 16015299 opened #6126 "Thank microsoft-365"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de70c835-f408-83a6-3cc7-885756bd7152
* Version Independent ID: 076708dd-80e4-39d7-7e23-42730c106900
* Content: [How automated investigation and response works in Microsoft Defender for Office 365 - Office 365](https://docs.microsoft.com/en-gb/microsof

[2021-08-23 19:54] shollist commented on #6119
I've hit this error with two accounts today. Both have recently been updated, both have licenses, both have had email addresses and mailboxes in 365 for a while now.

[2021-08-24 02:57] weshieone opened #6130 "Wrong image on page"
[Enter feedback here]

In the section " how to create an EDiscovery hold"  item 7  choose locations wizard. There is an image of Choose locations, that is wrong. It shows the locations wizard  for creating a search not a hold. In a search if you turn on exchange  mailboxes this shows under the included  heading as All. But in an Ediscovery hold you  have to select specific mailboxes therefore unde

[2021-08-24 05:41] Paul-Lo opened #6133 "is there GA timeline?"
is there any GA timeline for this feature?

Quite a few customers are asking GA for this. Without this feature GA, AIP has huge negative impact on productivity and on their willing to purchase more user licenses.

thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bed8ccbd-b955-4a11-f4dd-3a70b549a5f7
* Version Inde

[2021-08-24 07:49] #6016 closed

[2021-08-24 07:52] yogkumgit commented on #5896
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 07:53] #5896 closed

[2021-08-24 08:01] yogkumgit commented on #6058
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 08:01] #6058 closed

[2021-08-24 08:03] yogkumgit commented on #5877
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 08:04] #5877 closed

[2021-08-24 08:09] yogkumgit commented on #6018
@msbemba Thank you very much for the contribution and sharing this explanation. @itguysocal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 08:10] #6018 closed

[2021-08-24 08:12] yogkumgit commented on #6041
@msbemba Thank you very much for the contribution and sharing this explanation. @JitenderPrasad Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 08:12] #6041 closed

[2021-08-24 08:15] yogkumgit commented on #6044
@msbemba Thank you very much for the contribution and sharing this explanation. @D1Ck3n Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 08:15] #6044 closed

[2021-08-24 08:42] glr0221 opened #6135 "Inquiry on how we can configure successful sending of malicious/suspicious attachments to a pre-configured end user."
Hello Microsoft,

I would just like to inquire if there is a way for us to bypass the anti-malware mechanism and to be able to successfully send/receive emails with malicious or suspicious attachments to a particular email address.

The use-case for which is when we are sending such samples to our own internal security team who may want a copy of the said attachment for further analysis.

Thank yo

[2021-08-24 10:36] yogkumgit commented on #6057
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:37] #6057 closed

[2021-08-24 10:39] yogkumgit commented on #6061
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:40] #6061 closed

[2021-08-24 10:42] yogkumgit commented on #5933
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:42] #5933 closed

[2021-08-24 10:45] yogkumgit commented on #5931
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:45] #5931 closed

[2021-08-24 10:47] yogkumgit commented on #5929
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:47] #5929 closed

[2021-08-24 10:49] yogkumgit commented on #5924
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:49] #5924 closed

[2021-08-24 10:51] yogkumgit commented on #5926
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:52] #5926 closed

[2021-08-24 10:55] yogkumgit commented on #5910
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-24 10:55] #5910 closed

[2021-08-24 14:16] Vikings-Ivar opened #6137 "Advanced Hunting API - Error with urlopen function"
Hello

I ran the following script provide by MS: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/run-advanced-query-sample-python?view=o365-worldwide

But I have an issue on the urllib.request.urlopen() call:

[code]

Regards

[2021-08-24 14:16] yogkumgit commented on #6126
@16015299 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any feedback from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2021-08-24 14:16] #6126 closed

[2021-08-24 14:22] #6137 closed

[2021-08-24 14:23] Vikings-Ivar commented on #6137
Hello
Mistake, wrong AppID

[2021-08-24 15:11] dagroll opened #6138 "Dead Link"
Under "Type of Monitoring" the link for the description of "Use System Center to Monitor Microsoft 365" is no longer active and should be updated or removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f903b4-8b86-70f6-8495-e8a9905ceb03
* Version Independent ID: 57fd3cc7-af0e-8d08-40c7-a5e070c1a237
* Content: [Mon

[2021-08-24 15:56] karmicsynergy opened #6139 "Migration Permanent Exception Error"
this does not work, i spent time setting up the PowerShell parts witch eventual worked after updated discontinued commands
but the actual migration part fails with one of the two below errors

1. MigrationPermanentException: Target user ‎'USER' already has a primary mailbox. --> Target user ‎'USER' already has a primary mailbox.

2. MigrationRecipientNotFoundException: A recipient wasn‎'t found fo

[2021-08-24 16:18] markjjo commented on #6130
@weshieone Thanks for the heads up. Appreciate it. I will update the screenshot.

[2021-08-24 16:18] #6130 closed

[2021-08-24 16:27] designandsolutions opened #6140 "Page needs updating to new EAC UI"
[Enter feedback here]
This page needs updating to relate to the new Exchange Admin Center" UI, when converting a shared user to a regular user the s
Click recipients > Mailboxes > User > More Actions > Convert to regular mailbox
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b3fbbe-fde3-fd52-f9cd-d8fca56a1494
* Versio

[2021-08-24 17:10] mjcaparas commented on #5875
Added to TOC via pr: #10199

[2021-08-24 17:10] #5875 closed

[2021-08-24 17:18] Paul-Lo commented on #6133
thanks for someone who see this request.
My customer asks if they enable this "AIP encrypted file co-authoring" preview feature in their production tenant, can the encrypted files still be opened and edited after GA? Customer is afraid that their company important files that work in the Preview phase won't be able to be opened after GA.

This customer is Microsoft Premier support customer and open

[2021-08-24 17:39] chrisda commented on #6135
@glr0221, advanced delivery to SecOps mailboxes is what you want:

<https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-advanced-delivery>

[2021-08-24 17:58] sverasch opened #6141 "Client-based Authentication does not work on modern Macs"
Outlook does not currently support CTK for authentication, it still utilizes the deprecated tokend framework. As a consequence, client certificates and SmartCards cannot be used for client certificates for authentication.

see https://answers.microsoft.com/en-us/msoffice/forum/all/emptyblank-certificate-after-launching-outlook-for/2fcfc2ac-023b-4529-b02b-4333c92a1279

---
#### Document Details

⚠

[2021-08-24 19:18] cabailey commented on #6133
We can't give release timelines in the technical docs - the Microsoft 365 roadmap is the go-to place for this information.  For this feature, they have September as the expected GA date, so very soon!  https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=82112

[2021-08-24 19:18] #6133 closed

[2021-08-24 21:13] tiburd commented on #4752
@yogkumgit - I closed the related PR because the link is updated.

[2021-08-24 21:13] #4752 closed

[2021-08-24 21:23] tiburd commented on #4753
@J-a-k-o-b and @yogkumgit - [this related PR](https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4819) hasn't been merged yet, but to me, it looks like recent changes to the article might address the concerns is this issue:
- [Service encryption with Customer Key](https://docs.microsoft.com/microsoft-365/compliance/customer-key-overview)

@J-a-k-o-b - can you please review the article and le

[2021-08-24 21:43] tiburd commented on #4754
@alschneiter and @yogkumgit

To me, it looks like this information might be incorporated in [the article](https://docs.microsoft.com/microsoft-365/compliance/double-key-encryption) now:
![image](https://user-images.githubusercontent.com/54688693/130693317-25d9ada7-3056-47a7-98c8-93bf76e8f211.png)

@alschneiter - can you please confirm whether your issue is now resolved? If it is, we can close [thi

[2021-08-25 00:08] tiburd commented on #4968
@denisebmsft - any chance you can help with this issue?

Thank you!!

[2021-08-25 05:25] teraco opened #6145 "Please update us on the changes made by MC275344."
Microsoft 365 admin center: Reports in the Admin Center - user information pseudonymized by default
According to MC275344, the default value is "cannot be able to see user identifiable information" and you need to go to the Settings > Org Settings > Services page to see the user information.

The page says "In the Reports pane, select the options you want, and then save your changes." Could you pl

[2021-08-25 09:35] Nyffe-Noob opened #6147 "Missing IP Range in ID12 for *.teams.microsoft.com"
[Enter feedback here]
The ip range for monitoringplatform.teams.microsoft.com ist missing in ID12 (*.teams.microsoft.com)
![image](https://user-images.githubusercontent.com/84561268/130766492-a8786cce-b92e-43bd-a3b5-0ff6e5ee6142.png)

The URL "https://monitoringplatform.teams.microsoft.com/api/v1/mta/rule" is used in the Teams Admin Center - Notifications&Alerts - Rules Page
![image](https://user-

[2021-08-25 10:59] BenMartinBaur opened #6148 "Update Links from Windows Virtual Desktop to Azure Virtual Desktop"
Hi, the article is referring to "Windows Virtual Desktop" what is now "Azure Virtual Desktop".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87fa68a-a881-7ab7-97df-5da73dc56692
* Version Independent ID: 0c031441-cc26-903a-4d53-c044ea790d2d
* Content: [Microsoft Defender Antivirus Virtual Desktop Infrastructure deploy

[2021-08-25 12:38] msbemba commented on #6116
@16015299 Thank you for your feedback.  Could you please elaborate on the issue that you are facing or what changes would like to see in the document?

Thanks
Sri

[2021-08-25 13:38] DanMan32 opened #6149 "Shared Mailbox Licensing"
O365 admin portal does not show shared mailbox user accounts, licensed or not.

I could not find any current instructions on how to add a license to a shared mailbox.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8b6d7d-1a95-d263-595e-78649069275f
* Version Independent ID: bacc64b9-916b-bb3d-a885-46fe5d096826
* Cont

[2021-08-25 13:54] itguysocal opened #6150 "Correction on "Microsoft Teams (currently in TAP Preview)" is now GA as of 7/27/2021"
Please update the 2nd bullet to reflect that Teams is now in GA no longer "TAP Preview"
"Microsoft Teams (currently in TAP Preview): Safe Links protection for links in Teams conversations, group chats, or from channels is also controlled by Safe Links policies. There is no default Safe Links policy, so to get the protection of Safe Links in Teams, you need to create one or more Safe Links policies

[2021-08-25 14:03] yogkumgit commented on #6135
@glr0221 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-25 14:03] #6135 closed

[2021-08-25 14:08] yogkumgit commented on #6056
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-25 14:08] #6056 closed

[2021-08-25 16:43] chrisda commented on #6150
@itguysocal, thanks. I also found some other references to fix in the following topics:

 - <https://docs.microsoft.com/microsoft-365/security/office-365-security/set-up-safe-links-policies>
- <https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office>

Thanks for the feedback.

Closing

[2021-08-25 16:43] #6150 closed

[2021-08-25 17:59] 16015299 opened #6154 "Smotshigo@ccbagroup.com"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3369738b-f096-6c2e-22d4-ee79057997c7
* Version Independent ID: d3fce773-a1e8-193a-b4fa-7f71b9ac3ea4
* Content: [Office 365 Security including Microsoft Defender for Office 365 and Exchange Online Protection - Office 365](https://docs.microsoft.com/en-

[2021-08-25 18:50] Blake-nisius opened #6157 "‎Manage mailbox auditing"
This article states:

Does this still have to be done if at the organizational level we have mailbox auditing enabled as per this section?:

It seems contradictory to state that its enabled for all organizations by default, yet action is required on my part to enable as a non E5 customer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-08-25 20:04] sparkitect opened #6158 "Typos in Sample code"
In the Permanently delete a Microsoft 365 group section, the PowerShell scripts include opening and closing quotes, which is an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18c17598-3ade-528a-922d-1904f194b931
* Version Independent ID: a9561e0d-3247-58bd-654b-41898affc6ea
* Content: [Manage a group in the admi

[2021-08-25 20:19] jmmowrer opened #6159 "Small typo"
Hi-

Small typo in this line:
deb [arch=amd64] https://packages.microsoft.com/**cofig**/ubuntu/18.04/prod bionic main

it should be

deb [arch=amd64] https://packages.microsoft.com/**config**/ubuntu/18.04/prod bionic main

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab0b894-0199-7515-b060-a6724e2c9b9e
* Version Inde

[2021-08-25 23:37] richrundmsft opened #6161 "Document should also link to doc describing how to enable external e-mail forwarding"
The current document doesn't describe the steps need to configure external e-mail forwarding.

I think it would be beneficial to link to the following document which describes steps needed to allow e-mail to be forwarded externally:
https://docs.microsoft.com/microsoft-365/security/office-365-security/external-email-forwarding?view=o365-worldwide

The default behavior seems to be for Defender to p

[2021-08-26 07:57] jwspo opened #6167 "Expiration policy for archived Teams"
Hi Team,
the expiration policy also applies to teams that have been archived. Is there a way to avoid this?

[2021-08-26 11:43] ArttuArstila opened #6171 "First Contact safety tip & user privacy?"
One of the notifications of First Contact safety tip is: "Some people who received this message don't often get e-mail from xxx". Is that a potential privacy issue, as if there are not many recipients, the user learns about the communication patterns of the user's colleagues? This needs to be documented in detail.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-08-26 15:01] aalejandroaraujo opened #6174 "Peer to peer Traffic between to VPN endpoints must be also considered as part of the split tunnel traffic"
[This article is great, but lacks of an explicit explanation about how should P2P traffic behave in case there're two clients connected to the VPN (which should be directly between them, using local Internet breakout). If it is somewhere mentioned, it's not clearly documented and references to "peer to peer" or "endpoint to endpoint" or "P2P"  traffic for two clients on the VPN network must be con

[2021-08-27 05:49] ArttuArstila opened #6179 "Using SafeDocs license to control the rollout?"
Enabling the feature is a global setting, which is bit problematic for large organizations. Now there is "Office 365 SafeDocs" license in E5 plans. Can enabling/disabling this license be used to control the deployment? If so, would be good to mention in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ac8b

[2021-08-27 07:37] toinevl opened #6180 "If "com.microsoft.scmx" isn't listed, select "Microsoft Defender for Endpoint""
the process "com.microsoft.scmx" isn't listed on my device (Poco F3, MIUI 12.5.3) - you need to select "Microsoft Defender for Endpoint" as the App in order to make this work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3c4a1d-a030-0d30-cce5-d12337fcfdd4
* Version Independent ID: dca55864-acee-0617-218a-efd08eae46e

[2021-08-27 08:39] teomonda opened #6181 "Licensing"
according to this, also business Standard users have the right to use bookings:
https://docs.microsoft.com/en-us/microsoftteams/bookings-app-admin#prerequisites-for-using-the-bookings-app-in-teams

the current article only lists Business Premium.

Not to mention that the licensing tables that we can download from here:
https://transform.microsoft.com/modernwork/download?assetname=assets%2FModern_W

[2021-08-27 12:53] Jmartinez589 opened #6185 "Reporting"
I have a client who reports that if they simulate an attack, and is his test, if the client forwards but does not open the e-mail (i.e. forward to the admin), the report indicates that that user is potentially compromised. Is that by design or a bug?

[2021-08-27 15:36] jitterbox opened #6188 "Guest user capabilities incomplete..."
Guest users can also access their plans/tasks in **Planner** (but only via mobile app), which is not noted.
And for Teams access, they can use their "guest context" by switching organizations, but only via mobile and desktop apps (not web apps).

The "organization switcher" is only available in a handful of places, none of which involve the core Office 365 web apps where guest access is supported

[2021-08-27 16:36] Wh00T opened #6190 "Required roles for activity explorer"
Hi,

you recently removed the roles "Reports reader" & "Security reader" for access to the Activity explorer:
https://github.com/MicrosoftDocs/microsoft-365-docs/commit/1421931300959b540ef9753daf4375fb76782621

"Changing the roles required for viewing Activity explorer. The reader roles no more have access to activity explorer(tested and verified)"
Small mistake here: security reader still has acc

[2021-08-27 17:57] DeanGross opened #6192 "old info"
This page is 3 years old and I know that many things in DLP have changed. Please update as appropriate.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bec12506-ca29-0a03-3b01-699cb22b7ab7
* Version Independent ID: 6dc6083d-fcde-3622-5653-61c5be4bb5db
* Content: [View the reports for data loss prevention - Microsoft 365

[2021-08-28 05:44] 16015299 opened #6195 "Motshigo@mhluzi.com"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de70c835-f408-83a6-3cc7-885756bd7152
* Version Independent ID: 076708dd-80e4-39d7-7e23-42730c106900
* Content: [How automated investigation and response works in Microsoft Defender for Office 365 - Office 365](https://docs.microsoft.com/en-gb/microsof

[2021-08-28 12:00] mendrinos opened #6196 "I need to change country of the organization"
It's unbelievable I cannot change country.
My organization shutted down in the UK many years ago, and now I want to use a new country as the billing address and **I am not allowed.**

There should be a streight forward way to change country on your account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecea09f5-957a-4

[2021-08-28 17:39] hudish commented on #6123
Beg to differ: many issues in the comments of this article are about outlook.com deliverability. Mentioning the right article reference will provide self-guidance to resolve those issues.

Please reconsider?

Alex

From: Sriraman M S ***@***.***>
Sent: Thursday, August 26, 2021 3:48 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Alex Hudish ***@***.***>; Mention ***@***.***>
Subject: Re:

[2021-08-29 16:31] msbemba commented on #5364
@born-slippy Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6198

Thanks
Sri

[2021-08-29 16:43] msbemba commented on #5348
@MikePlumleyMSFT Or @AdwoodMicrosoft  Could you please confirm &, " /  \ : * - are the restricted characters? I can update the document once I get the confirmation.

Thanks
Sri

[2021-08-29 16:49] msbemba commented on #5170
@schbrownie Thank you for your feedback. While there is no separate article for disabling users in the Active directory. As an Admin once the employee leaves the company, he is usually disabled and Moved to an OU which does not sync with M365.

The "restore a user link" in the document can be used to restore the user (which then makes the account just an M365 account) and the rest of the steps rem

[2021-08-29 16:53] msbemba commented on #5075
@Nyffe-Noob Thank you for your feedback. We try to provide all required information (IP and URL) in the document so that it makes it easy for readers and admins.

@yogkumgit  There are no immediate changes required in the document.

Hope this helps!

Thanks
Sri

[2021-08-29 17:03] msbemba commented on #5890
@MastaDisasta Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6199

There are other changes that will be made once the author gets more information from the engineering team.

Thanks
Sri

[2021-08-29 17:07] msbemba commented on #6081
@JPCortesP Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6200

Once the author approves the PR, the document will be live.

Thanks
Sri

[2021-08-29 17:08] msbemba commented on #6110
@porterkim Thank you for your feedback. I'm working with the author on this one and will update you soon.

Thanks
Sri

[2021-08-29 17:13] msbemba commented on #6118
@CallumCrowley Thank you for your feedback. This seems to be a technical issue and we recommend you to contact Microsoft support via the need help link to resolve the issue or report it as a bug.

Hope this helps!

Thanks
Sri

[2021-08-29 17:18] msbemba commented on #6120
@BrianLeFlem Thank you for your feedback. Are you referring to Blocking the users on teams or on the M365 admin center?

Thanks
Sri

[2021-08-29 17:26] msbemba commented on #6124
@yogkumgit Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6201

Once the author approves the PR, the changes will be live.

Thanks
Sri

[2021-08-29 19:15] msbemba commented on #6123
@hudish Thank you for the response. The documents are related to Microsoft 365 and its customers. If this is a repository centered on all Microsoft products, I'll be the first one to relate it to the document. But unfortunately, that is not the case.

Hope you understand!

Thanks
Sri

[2021-08-30 03:14] BLTTEST opened #6204 "Confused about the description of differences"
Hi Teams,

Some descriptions in the section of "Differences between AIP for Office 365 operated by 21Vianet and commercial offerings" make me confused.

1. IRM is supported only for Microsoft 365 Apps for enterprise. You use IRM rather than AIP here. I'm not sure if it's because you use IRM to specifically refer to the encryption part of AIP. If this is true, are you meaning the classification-onl

[2021-08-30 14:01] Nosferatu-Dk opened #6205 "Advanced hunting past 30 day retention"
Is it possible to have advance hunting queries go back more than 30 days ?

If not possible, would Azure Sentinel be able to increase the data retention ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2bcd1e2-1c90-7d98-e930-e59a5425fbfa
* Version Independent ID: bd223ebe-79e8-bab6-fae7-9a2fec2872dd
* Content: [Overvi

[2021-08-30 14:03] msbemba commented on #6065
@XixiHuang333 I was able to test this and I did not receive the Customized email notification. I'll wait for another 24 hours and test again. Meanwhile, you can report this as a bug to the product team via the feedback section on the admin center or Contact Microsoft support to report the bug if the issue still exists.

Thanks
Sri

[2021-08-30 14:21] msbemba commented on #5717
@SeanTGeoghegan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6206

Once the author approves, changes will be live.

Thanks
Sri

[2021-08-30 16:24] KaushikDell opened #6208 "Its not clear whether we can use this icons or not."
[Enter feedback here]
Its not clear whether we can use this icons or not.
what do you mean by permitted use ? how do you define that.
can i copy those icons and use them in my powerbi reports (prod) or not..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65739277-0243-0728-8216-523656c94435
* Version Independent ID: c7

[2021-08-30 16:33] samanro commented on #6208
You may use them in architectural diagrams, training materials, or documentation about Microsoft 365. I would not use them in a PowerBI report.

[2021-08-30 16:44] msbemba commented on #5588
@JustinGrote Thank you for your feedback. I'm currently working with the author on the script and will update you shortly.

Thanks
Sri

[2021-08-30 16:53] junterpfe commented on #5336
Any ideas when this might be updated? many of our customers won't even consider unblocking something if it isn't in this list.

[2021-08-30 16:57] LauraWi commented on #5336
This is still sitting with engineering. I will ping them again. This topic is autogenerated and cannot be updated manually by writers, so updated info needs to flow through an internal process/tool.

[2021-08-30 16:58] junterpfe commented on #5336
Thanks for the update @LauraWi let me know if there is anything i can do to help.