[2020-06-14 20:04] mypil commented on #1645
@mtwelve - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @MaratMussabekov so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-14 20:04] #1645 closed

[2020-06-14 20:24] mypil commented on #1879
@kaarins - Do you have any updates on this?

Thank you.

[2020-06-14 20:53] mypil commented on #2123
@fylo5 - نحن نقدر أي ملاحظات تحسن المحتوى في مستندات Microsoft ولكن لم يكن لدينا أي استجابة منك لذلك نحن ذاهبون إلى إغلاق هذه المشكلة.

إذا كان هناك مجال معين من المستندات التي يمكننا تحسين على، لا تتردد في فتح قضية جديدة من خلال النقر على قسم الملاحظات على وثيقة مايكروسوفت محددة التي وجدت في الجزء السفلي من الصفحة. شكرا.

[We appreciate any feedback that improves the content in the Microsoft docs

[2020-06-14 20:53] #2123 closed

[2020-06-15 01:59] hwkwicre opened #2169 "Question"
In the "Set up multi-factor authentication for guests" section:
I was not able to find Conditional Access Policies in Azure Active Directory.
Is an admin supposed to purchase Microsoft Azure separately for this to work in SharePoint?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4945844-0f8f-2691-1092-0025cc1

[2020-06-15 02:16] hwkwicre opened #2170 "Wrong navigation?"
Navigation: Azure Active Directory admin center > Azure Active Directory > Organizational relationships > Settings
This navigation doesn't seem to be right.
Instead I tried Azure Active Directory admin center > Azure Active Directory > External Identities > External collaboration settings, and that worked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-06-15 04:50] MaratMussabekov commented on #1740
Dear @Sirkkuw ,
thank you for uploading of the file, I added link to in the PR.

[2020-06-15 06:34] MaratMussabekov commented on #1924
Hello @ryanfog ,
it seems like if you change the action for phishing/spam messages in the anti-spam policy to **Quarantine**, this header is added. Otherwise, message header is not altered.

Dear @chrisda,
could you please confirm?

Thank you

[2020-06-15 11:50] thomasbinder opened #2173 "One directional barriers"
On https://docs.microsoft.com/en-us/microsoft-365/compliance/information-barriers?view=o365-worldwide it is stated: "Information barriers only supports two way restrictions. One way restrictions, such as marketing can communicate with day traders, but day traders cannot communicate with marketing is not supported."

However the example of this page shows a one way restriction: Manufacturing should

[2020-06-15 12:28] ceaton001 opened #2174 "Link to Security Baselines for Windows 10 is out of date"
[Enter feedback here]
In the Default Policies table the Security Baseline section contains a link "For more information, see Security baselines for Windows 10." The link goes to a page for the 1709 baselines & on a page that is no longer maintained.
Security Baselines info has moved to this link - https://techcommunity.microsoft.com/t5/microsoft-security-baselines/bg-p/Microsoft-Security-Baselines

[2020-06-15 12:42] MikePlumleyMSFT commented on #1965
@mikemcleanlive, do you have info on special characters allowed in group names vs. group email addresses?

[2020-06-15 13:06] elrod-johnson commented on #2152
i need some help here, please!
IMO this is the same issue as above, or very closely related:
can i create a **mail-enabled dynamic membership group** using powershell?
if so, how do i do it?

i do NOT want to create a security group. i know that works.

i have BOTH azuread and azureadpreview loaded.
latest versions for both as of today.

i did NOT have azureadpreview installed for my first post ab

[2020-06-15 16:36] metc commented on #2115
I had the same issue has you. I finally used this tool (https://mha.azurewebsites.net/) as mentioned in the documentation. This tool decoded the Forefront Antispam Report Header field for me. For instance, information like Spam Confidence Level or Spam Filtering Verdict are extracted for you.

[2020-06-15 17:47] markjjo commented on #2166
@BakkerJan Yes, you need to enable auditing. For steps, see https://docs.microsoft.com/en-us/microsoft-365/compliance/turn-audit-log-search-on-or-off?view=o365-worldwide

[2020-06-15 17:47] #2166 closed

[2020-06-15 18:01] markjjo commented on #2153
@bartvermeersch I assume system will enable a shadow mailbox (and not regular user mailbox) for on-premises user (because the scenario should support both Exchange hybrid deployments and hybrid deployments without on-premises Exchange; the key prerequisite for the Teams scenario is that on-premises user is sync'd to the cloud).  But I would suggest that you test this and if results are different t

[2020-06-15 18:01] #2153 closed

[2020-06-15 23:21] mypil commented on #1865
@DevinSysAdmin - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/26e9583eea1e41302f6eddf8b3bd07b54ce3dd7b.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-15 23:21] #1865 closed

[2020-06-15 23:26] mypil commented on #1960
@DeanGross - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-15 23:26] #1960 closed

[2020-06-15 23:36] chrisda commented on #2115
@rpremuz, I jumped in and prepared to update the topic, yet, there are tons of header values documented for [X-Forefront-Antispam-Report](https://docs.microsoft.com/microsoft-365/security/office-365-security/anti-spam-message-headers#x-forefront-antispam-report-message-header-fields) and the one and only value that's present for [X-Microsoft-Antispam](https://docs.microsoft.com/microsoft-365/secur

[2020-06-15 23:49] mypil commented on #2017
@James-MCT - You can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so they can help resolve your technical issue.

Thank you for engaging with the community here for the docs.

[2020-06-15 23:49] #2017 closed

[2020-06-16 00:00] chrisda commented on #1924
@ryanfog, I removed the offending Q and A from the topic.

Thanks for the feedback.

Closing

[2020-06-16 00:00] #1924 closed

[2020-06-16 00:04] chrisda commented on #2114
@ArttuArstila, done. Thanks for the feedback.

Closing

[2020-06-16 00:04] #2114 closed

[2020-06-16 01:39] nogeekleftbehind opened #2176 "Broken URL on this page"
This URL is broken (404):

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/secure-sharepoint-online-sites-and-files

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bf71804-c91b-2464-3313-57b973ee5583
* Version Independent ID: b7803227-625d-9354-ef0e-1fb94407e835
* Content: [Recommended secur

[2020-06-16 08:17] Rainmaker52 opened #2177 "S/MIME Certificates setup according to the documentation are not trusted by external recipients"
I've just read the page below, after receiving an email from someone setting up message signing, very likely according to this method.

As the page only mentions the fact that an internal CA needs to be created, an external user gets an email signed by some private CA. Which means that Outlook (correctly) warns me (as an external recipient) that the certificate's root is not trusted.

The page sho

[2020-06-16 09:04] DeanGross opened #2178 "Retention labels don't travel with files"
[Enter feedback here]
This page does not state that when a file is moved from O365, it will no longer have a retention label. Please add this information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 315ad620-438b-dae8-26df-258406e97152
* Version Independent ID: 6850f86a-00b4-cc5d-b1eb-ae48d5f7025a
* Content: [Learn a

[2020-06-16 10:12] rpremuz commented on #2115
I asked for examples of X-Forefront-Antispam-Report and X-Microsoft-Antispam headers because the article does not explain how header fields are combined together in the header.
In the meanwhile I found some emails in my inbox that have X-Forefront-Antispam-Report line in its header - here is a section of such header line:
`x-forefront-antispam-report: CIP:255.255.255.255;CTRY:;LANG:hr;SCL:1;SRV:;I

[2020-06-16 11:17] LeonardoFelippine commented on #2067
Hello, @mypil
Would you have any updates on this?

Regards.

[2020-06-16 15:56] ecegopi opened #2179 "Seems this is article is not valid, kindly remove it if it is not valid, this is confusing people like me."
[Enter feedback here]
Seems this article is no more valid, kindly remove it if it is not valid, this is confusing people like me.

https://docs.microsoft.com/en-us/microsoft-365/commerce/add-storage-space?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version I

[2020-06-16 16:41] cmcatee-MSFT commented on #2179
@ecegopi Can you be more specific about what's not valid? Also, please tell us what subscription you have. Thanks.

[2020-06-16 16:52] tcfinney commented on #2070
Hello - just wanted to get an idea on next steps on this request, please. Thank You.

[2020-06-16 16:56] ecegopi commented on #2179
We have E3 and E5 licenses, when I follow the below steps, I dont see "Office 365 Extra File Storage" service/ add on there. I also searched, but could not find the option. Basically, Im trying to find how much costs to get 1TB additional Sharepoint storage for one year in USD?

Add storage to your subscription
If you haven't yet purchased extra storage for your subscription, you can do that.
In t

[2020-06-16 17:33] cmcatee-MSFT commented on #2179
@ecegopi The add-ons aren't listed in alphabetical order. Did you scroll all the way to the bottom of the add-ons list?

[2020-06-16 17:40] chrisda commented on #2115
@rpremuz, I understand. That I can do. And I did.

Thanks for the feedback.

Closing

[2020-06-16 17:40] #2115 closed

[2020-06-16 17:46] ecegopi commented on #2179
I checked all the services listed on Add-On, I could not find Office 365 Extra File Storage.

[2020-06-16 18:54] chrisda commented on #1564
Confirmed that values are no longer listed in the topic.

Closing

[2020-06-16 18:54] #1564 closed

[2020-06-16 19:35] cmcatee-MSFT commented on #2179
@ecegopi Did you buy through a CSP or volume licensing? Traditional add-ons (of which Office 365 Extra File Storage is one example) aren't available if you bought through a CSP or VL.

[2020-06-16 20:18] chrisda commented on #2109
@kennethvs, what was the specific recommendation? Where are you supposed to add that email address as an exception?

[2020-06-16 20:40] ferringer opened #2184 "Why are SPO sites connected to M365 Groups not supported for retention via the SPO location?"
From a technical perspective, there is nothing that prohibits me from adding an SPO site connected to an M365 Group to a retention policy by listing it using the SharePoint site location option instead of the O365 Group location option in the policy creation wizard. I am able to create the policy, and it appears that the site's content are now being retained by that policy.

But this article expli

[2020-06-16 20:40] chrisda commented on #2108
@EricSMurphy, [The doc guidance](https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-the-outbound-spam-policy#use-the-security--compliance-center-to-create-outbound-spam-policies) that you mentioned says this:

Also, the parent conceptual topic about [outbound spam](https://docs.microsoft.com/microsoft-365/security/office-365-security/outbound-spam-controls#how-eop-cont

[2020-06-16 20:40] #2108 closed

[2020-06-16 21:19] Sirkkuw commented on #2011
Following up with the PG.

[2020-06-16 21:22] mjcaparas commented on #2043
This page gets updated when features go GA.
In general, we update the Preview features topic with capabilities that go into public preview.
After completing the public preview phase, it goes into GA.

[2020-06-16 21:22] #2043 closed

[2020-06-16 21:25] erik-wahlstrom commented on #2067
Hi Leonado,

There are a couple possibilities here. I cannot be sure, but I suspect this is due to a phased rollout of the new scoring model.  The new scoring model standardized the maximum possible score to 10 points.  In the previous version this number was undefined.

The new model was rollout out slowly to different customers.  Last week we finally transitioned to 100% on the new model. So now

[2020-06-16 23:04] mypil commented on #2150
@freeat22 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-06-16 23:04] #2150 closed

[2020-06-16 23:09] levinec commented on #2132
Hi @MO-LWB, thanks for your question. It surfaces the tickets you have created within ServiceNow in the Microsoft 365 security center, and you can create ServiceNow tickets from the Microsoft 365 security center. But it will not automatically open alerts.

[2020-06-16 23:09] #2132 closed

[2020-06-16 23:21] cabailey commented on #2178
@DeanGross  Thanks for the feedback!  Added now.

[2020-06-16 23:21] #2178 closed

[2020-06-17 05:45] kennethvs commented on #2109
@chrisda, the MS Support Engineer advised us to add the noreply@email.teams.microsoft.com to the ATP anti-phish safe senders list. From this point forward, emails were delivered to the Inbox of the users again.

[2020-06-17 07:45] MO-LWB commented on #2132
Hi @levinec Just to clarify the alerts generated within either Security & Compliance or Cloud App Security won't open Servicenow tickets, this will still need to be manually opened?

[2020-06-17 10:07] AndyTuke opened #2185 "There's a typo in the limits section " Real-word deployments""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb0c964d-2d1b-601a-c8a2-14378fc24fb8
* Version Independent ID: ee549bd1-0652-2167-0f23-d22a58cf895b
* Content: [Learn about sensitivity labels - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels?vie

[2020-06-17 11:50] DeanGross opened #2187 "Inaccurate information"
[Enter feedback here]

There have been many changes in the Compliance Center since February 2020, but the are not listed on this page. Please update the content.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8e5d5245-ece6-6430-9221-efa0d80b9f6e
* Version Independent ID: 2ad2ab98-14c8-4f5c-70de-6c809f9d8933
* Content: [

[2020-06-17 12:23] HarrisburgUSysAdmin commented on #2127
Any update on this? We are dead in the water until we can get a resolution.

[2020-06-17 16:03] cabailey commented on #2185
@AndyTuke Thank you!  I'll fix this.

[2020-06-17 16:49] dijitald opened #2189 "Broken link to implmentation guidance"
this link is dead

Azure HIPAA implementation guidance
https://aka.ms/azure-hipaa-guide

[2020-06-17 17:34] cabailey commented on #2185
Live now, closing.

[2020-06-17 17:34] #2185 closed

[2020-06-17 17:44] jaimeo commented on #2174
Fixed.

[2020-06-17 17:44] cabailey commented on #2184
@ferringer I've asked about this - the key thing is, although there's nothing in the product that prevents you from adding these sites for the SharePoint location and it might work, it's not supported.  You'll welcome to use it on the understanding that it might not work and you wouldn't be able to open a support ticket for a not-supported configuration.  We've had reports from customers that it d

[2020-06-17 17:44] #2184 closed

[2020-06-17 17:48] cabailey commented on #2126
@imanboukly I've checked that the statement is correct and looking into making clarifications in the docs when to use the Office 365 groups option.

[2020-06-17 18:13] levinec commented on #2132
That is correct @MO-LWB

[2020-06-17 20:10] mypil commented on #2189
@dijitald - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-06-17 22:17] andypituch opened #2190 "Replace TBD with the correct App ID/SPN for SPO/OneDrive"
Under the section "For example, for SharePoint Online and OneDrive for Business:" it has the APP ID as "TBD" instead of the correct value when setting the key vault access policy. The correct app ID is shown earlier on the page, but is not in the example.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58b6670c-3ed1-97f9

[2020-06-17 22:49] mypil commented on #2174
@ceaton001 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/99f63ae.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-17 22:49] #2174 closed

[2020-06-17 23:18] chrisda commented on #2109
@k7shanmugam, so under the **Impersonation** \> **Add trusted senders and domains** settings, you added noreply@email.teams.microsoft.com as a trusted sender? That's about the only place I can see within the ATP anti-phishing policy where you can add something like this.

[2020-06-17 23:21] k7shanmugam commented on #2109
@chrisda , did you add me by mistake?

[2020-06-17 23:36] chrisda commented on #2109
@kennethvs, so under the **Impersonation** \> **Add trusted senders and domains** settings, you added noreply@email.teams.microsoft.com as a trusted sender? That's about the only place I can see within the ATP anti-phishing policy where you can add something like this.

I'm afraid that if I bury this fact in the Impersonation settings of the topic, it will get lost or unnoticed. To answer your ori

[2020-06-17 23:53] dijitald commented on #2189
on this page at the bottom
https://docs.microsoft.com/en-us/microsoft-365/compliance/offering-hipaa-hitech?ranMID=24542&ranEAID=msYS1Nvjv4c&ranSiteID=msYS1Nvjv4c-xtQ9G3jXV.5ci8D5E1w2bw&epi=msYS1Nvjv4c-xtQ9G3jXV.5ci8D5E1w2bw&irgwc=1&OCID=AID2000142_aff_7593_1243925&tduid=(ir__ptitw0dhr9kfthyjkk0sohznxm2xn92rjt2qzxk600)(7593)(1243925)(msYS1Nvjv4c-xtQ9G3jXV.5ci8D5E1w2bw)()&irclickid=_ptitw0dhr9kfthyj

[2020-06-18 01:44] get-itips commented on #2104
Hello @cupidchan Cupid how are you?
That's maybe because you are using PowerShell Core (7.0.1) and not Windows PowerShell, can you try running the AzureADPreview module [from Windows PowerShell](https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0)?

I tried and had no issues.

Thanks

[2020-06-18 05:21] kennethvs commented on #2109
Hi @chrisda, that is the correct location indeed.

Perhaps it's an idea to use case as an example (with different color) of an exclusion people should consider adding when using teams within their organization.

[2020-06-18 10:20] DeanGross opened #2191 "Some templates not listed"
[Enter feedback here]
My tenant has more templates than those listed on this page, i.e, I see EU GDPR (Intune) EU GDPR (O365), Please update this page to include all of the available templates with some text that describes the differences when there are multiple versions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-06-18 10:52] cupidchan commented on #2104
Hello:

I am using MacOS. Is Windows PowerShell only for Windows OS? I thought PowerShell is now cross-OS.

Thanks,
Cupid

On Jun 17, 2020, at 9:44 PM, Andres Mariano Gorzelany <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @cupidchan<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcupidchan&data=02%7C01%7C%7C2b1a69a5db624a77f3b608d813291f0

[2020-06-18 11:13] Alex-Catalin opened #2192 "Activity alerts of Type ElevationOfPrivilege are being retired"
Please work with Engineering and update this article as it seems that the Activity Alerts of type ElevationOfPrivilege are being retired.

I tried creating one in the portal and it will not show up after that, then I created one with Powershell (which also doesn't show up in the portal) that I can see it only if I specify it's Identity, otherwise running only the Get-ActivityAlert cmdlet is not re

[2020-06-18 11:18] #2192 closed

[2020-06-18 11:19] Alex-Catalin commented on #2192
Wrong page for the feedback, it should be on this page instead: https://docs.microsoft.com/en-us/powershell/module/exchange/new-activityalert?view=exchange-ps

[2020-06-18 11:59] get-itips commented on #2104
@cupidchan Cupid

PowerShell 7+ is cross OS like you say, however, AzureADPreview is still not ready for that version and you have to use Windows PowerShell (that only runs on Windows)
You can see [here](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/module-compatibility?view=powershell-7) the list of modules that are now ready to be used on PowerShell 7.

Hope this information he

[2020-06-18 12:13] sagy opened #2193 "Instructions do not match UI"
On section 10: Protect against phishing attacks with ATP Safe **Links**, the steps described do not match the UI.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea79921a-7f83-58f1-c0a4-6eb0efce0d26
* Version Independent ID: b60110ef-71ad-9962-74de-734062708ff8
* Content: [Top 10 ways to secure Mic

[2020-06-18 12:27] get-itips commented on #2058
@pamelamontes01
Pamela, how are you?

The current navigation is

**Show all** \> **Settings** \> **Org settings** and on the **Services** tab, select **Office 365 groups**.

The name change from Office 365 Groups to Microsoft 365 Groups is rolling out and maybe you won't be able to see it just yet in your tenant.

Besides that, I will propose adding the Show all option to the article.

Thank you

[2020-06-18 12:45] get-itips commented on #2152
Hello @elrod-johnson How are you?

I checked the script to see if we had to correct the article and I was able to run it successfully. I recommend checking if you have the latest version of the AzureADPreview module, which you can run side-by-side with the AzureAD module.

Hope this info helps you

[2020-06-18 14:01] DeanGross opened #2196 "Old Poster"
[Enter feedback here]

The link to the Information Protection poster points to a file that is 3 years old. Can this be updated to include some of the new functionality?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2650327-5996-2155-2b0f-b646be7752c7
* Version Independent ID: 859bf570-6c39-50ed-009a-e79262954247
* Con

[2020-06-18 14:50] Gassela opened #2197 "Export a Content Search report"
Hi, I think there is an error in https://docs.microsoft.com/en-us/microsoft-365/compliance/export-a-content-search-report?view=o365-worldwide page.

I report the bad sentence:

This role is assigned to the built-in eDiscovery Manager and Organization Management role groups. It isn't assigned by default to the Organization Management role group.

How can a role to be assigned to built-in role group

[2020-06-18 15:44] MrsKay007 opened #2199 "ZAP instructions need clarification"
Step by step user instructions should be provided to instruct how to identify a delivered email as malicious/phishing/etc.

Does the Outlook Add-In Report Phishing tool deploy the ZAP removal of delivered email across the organization when they identify an email as malicious?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-06-18 16:29] chrisda commented on #2109
I'm following up with some Teams folks to see if there's a good place to add a note like this in their content:

**Note**: The service might incorrectly identify Teams system messages from noreply@email.teams.microsoft.com as phishing messages. You can add this email address as an exception to Advanced Thread Protection (ATP) anti-phishing policies (**Impersonation** > **Add trusted senders and do

[2020-06-18 16:32] markjjo commented on #2197
@Gassela Thanks for the heads up. The Compliance Search role is assigned by default to both the eDiscovery Manager and Organization Management role groups. I will fix the document.

[2020-06-18 16:32] #2197 closed

[2020-06-18 16:54] win-prac commented on #2168
Hey Guys,

Any update on this?

[2020-06-18 19:25] JuanZQ opened #2200 "Include note about mailbox permissions with external users (even M365 users)"
Please include a note in this section, intended to make clear about mailbox permissions with out of tenant users, even those users from others 365 tenants. Some people need to know this is not possible. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b9d613a-f990-4045-f0d3-273ecc827db7
* Version Independent ID:

[2020-06-18 19:33] cabailey commented on #2126
This section is now updated: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-sharepoint?view=o365-worldwide#how-to-configure-a-retention-policy-for-sharepoint-and-onedrive

Because Teams can contain files, the retention behavior for this content is handled by SharePoint and OneDrive.  However, when you configure the retention policy, if your site is backed by a Microso

[2020-06-18 19:33] #2126 closed

[2020-06-18 19:42] chvukosw commented on #2191
Hello - the templates list shows the data protection and compliance standards for which there are pre-built templates for assessments. Thanks for your feedback, we'll keep it in mind as we publish updates to the templates list view and increase the number of templates offered. Note also that if you're seeing additional templates in your tenant beyond just an Intune or Office 365 variation, that wo

[2020-06-18 19:42] #2191 closed

[2020-06-18 20:02] jrhammo opened #2201 "Changelog"
Is there a changelog or some sort of update page that describes what has changed recently? I noticed this page was just updated two days ago, on the 16th.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e935bd03-8b2a-2271-b886-5643f5c7ea51
* Version Independent ID: 82a7b468-c1b6-ac74-3600-e96f274bbe89
* Content: [Manage

[2020-06-18 20:45] get-itips commented on #2074
Thanks for reporting @normand-MSFT

[2020-06-18 22:48] mypil commented on #2023
@pushsos - Thank you for pointing this out.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/72f8fd072d0cd3bbc693edba6e80ee44e8fe2685.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-18 22:48] #2023 closed

[2020-06-18 22:50] mypil commented on #2051
@hora7ce - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/7b8b987311a1f1095d62e15c5500524bc1745510.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-18 22:50] #2051 closed

[2020-06-18 23:18] DeanGross commented on #2191
What is the difference between the Intune and O365 version of a template?

[2020-06-19 00:24] mypil commented on #2001
@avisuj - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/d7f2650091f5a06f69ffa13611fb72ace2d97ff7.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-19 00:24] #2001 closed

[2020-06-19 05:48] MaratMussabekov commented on #1904
Hello @nayar34 ,
I have tested it, to downgrade, you need to uninstall the office, change the user license and install the office back. I think it should be added to the article as a note. The option to Change License and then Update Office didn't work for me (may be it need more time to be applied, I am not sure)

Dear @Sirkkuw,
could you please confirm?

Thank you

[2020-06-19 12:30] ii-batman opened #2203 "Role - permissions to be able to "Initiate Sign-out"?"
Hi - which permission is required to be able to "initiate sign-out" from O365 Admin console?
https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee?view=o365-worldwide#sign-out-now
**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Version Independent

[2020-06-19 15:03] #2168 closed

[2020-06-19 16:28] webstaff opened #2204 "Ok so how to delete found content."
As teams is missing the ability to delete things a number of forum posts point towards this page.
So I figured out IM as per the skype section pertains to teams also so maybe you should update that section as I thought teams was the new favorite.

However now having confirmed the search will find the team IM message I need to delete there is no option to delete them from within the page only an op

[2020-06-19 16:36] markjjo commented on #2204
@webstaff You can run the New-ComplianceSearchAction -Purge PowerShell command. Please see https://docs.microsoft.com/en-us/microsoft-365/compliance/search-for-and-delete-messages-in-your-organization?view=o365-worldwide

Also, more info about searching for content in Teams in the content search topic: https://docs.microsoft.com/en-us/microsoft-365/compliance/content-search?view=o365-worldwide#sea

[2020-06-19 16:36] #2204 closed

[2020-06-19 17:38] webstaff commented on #2204
Yeah I had already stumbled over that article but unfortunately I need to clean the whole mailbox or team chats.

So:
"A maximum of 10 items per mailbox can be removed at one time. Because the capability to search for and remove messages is intended to be an incident-response tool, this limit helps ensure that messages are quickly removed from mailboxes. This feature isn't intended to clean up use

[2020-06-20 02:48] cupidchan commented on #2104
Thanks! Do you have any timeline for getting AzureADPreview ready for PowerShell 7+?

Regards,
Cupid

[2020-06-20 10:29] bartbilliet commented on #1842
@msbemba Kindly checking in to see if you could already share something on this? Thanks you!

[2020-06-20 20:34] get-itips commented on #2104
I don't, sorry, However, I recommend monitoring https://techcommunity.microsoft.com/ and https://www.powershellgallery.com/packages/AzureADPreview/ for updates.

[2020-06-21 01:12] mypil commented on #1747
@patrickvandenbulcke @BerengarEnterprises - We will close this issue now. If you still have problems calling our support hotline and need help to troubleshoot your telephony issue, please send an email directly to  cmcatee@microsoft.com.

Thank you.

[2020-06-21 01:12] #1747 closed

[2020-06-21 09:26] MaratMussabekov commented on #1845
Hello @jmvalente,
It looks like in terms of EOP, all spoofed emails considered as phishing.
For example, if you go **Treat protection status** report in Office 365 Security and Compliance center, and select **Email > Phish** view, you can clearly see that antispoofing detection is used as one of the reasons for emails to be marked as phishing.
![image](https://user-images.githubusercontent.com/480

[2020-06-21 11:58] MaratMussabekov commented on #1939
Hello @elpinto007 ,
could you please provide more details?
What kind of sharing you weren't able to set?
Thank you

[2020-06-21 12:11] MaratMussabekov commented on #1758
Hello @boomalator ,
I just checked in my subscription (both old and new portal versions) and in **Settings > Partner relationships** page, there is no option to remove relationships (neither greyed out nor active). I can only see the option to delete partners from the subscription (as described [here](https://docs.microsoft.com/en-us/microsoft-365/admin/misc/add-partner?view=o365-worldwide#delete-

[2020-06-21 13:46] ragnarokas opened #2210 "WHERE IS DNS SETTINGS ?????????????? WHERE ????????"
On the Domains page, in the list of domains, select the domain you're using for your website, and then select DNS settings in the management panel

WHERE IS DNS SETTINGS ?????????????? WHERE ????????

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f087dd43-183d-08bb-37d7-d893bede6efb
* Version Independent ID: be429837-0

[2020-06-21 14:19] msbemba commented on #1842
@bartbilliet There has been an ongoing discussion on this. Rest assured you will have an update shortly.

Thanks
Sri

[2020-06-22 01:47] JakeMoe opened #2211 "Screenshots need updating"
The screenshots in this article don't appear to match up to what my Content search page looks like.  I get a "Search query" section where I can add different conditions, each of which pops up in it's own box, where I can select what type of condition it is (equals, not equals, contains, etc), and then value(s) to match.  The screenshots seem to show a "keywords" box on it's own, then rows of condi

[2020-06-22 02:07] JakeMoe commented on #2210
Looks like they changed it from DNS Settings to DNS records, perhaps? When I go there, the rest of the instructions seem fine.

The only other thing I can think of for your problem is you clicked the tick mark next to the domain rather than actually clicking the domain to get into the domain's DNS settings?

[2020-06-22 05:00] msbemba commented on #1259
@andypituch Thank you for your feedback. We have made the changes via PR # https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2212

Thanks
Sri

[2020-06-22 05:07] msbemba commented on #1621
@cedwards-telis Thank you for your feedback. This permission isn’t always granted immediately. It could be instant, but it could also take up to 2 hours. We have added a note to the document to reflect the time it could take for the permissions to take effect. tracking PR # https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2213

Thanks
Sri

[2020-06-22 05:10] msbemba commented on #2027
@Xcel1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2214

Thanks
Sri

[2020-06-22 05:17] msbemba commented on #2032
@ingepepe  Thank you for your feedback. We have added a link on this page to another doc ( https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/licensing-microsoft-365-in-smb) which talks about different licensing options

This can be tracked via PR # https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2215

Thanks
Sri

[2020-06-22 05:28] msbemba commented on #2044
@carljohngabato Thank you for your feedback. Step 6 that you are referring to explains how to Stop auto-forwarding via Transport rule. This should help in forwarding scenarios as well. Meanwhile, The other way to stop forwarding is to set up the remote domain option through the Exchange Online Admin Center > Mail Flow > Remote Domains and select the default remote domain. Uncheck the “allow automa

[2020-06-22 05:33] msbemba commented on #2056
@aavdberg Thank you for your feedback. A DMARC record invites DMARC reporting organizations to send DMARC aggregate report to the email address mentioned in RUA. It is not sent by Microsoft office 365.

Hope this helps!

Thanks
Sri

[2020-06-22 05:40] msbemba commented on #2064
@johnaweiss Thank you for your feedback. We have added a note to the document on why it is innt recommended and link to enable it per-user if need be. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2216

Thanks
Sri

[2020-06-22 07:33] LeonardoFelippine commented on #2067
Hello, Erik.

Sorry for the delay.

Below you will see screenshots from two different tenants. Both of them have hybrid identities and pretty much the same licenses:
[cid:e74c79b9-bb61-4f9d-8ed9-2f1f0e482b21]

[cid:2e94dbb8-859f-4f21-b01f-a16060ac1e8c]

As you can see, one of them has pretty much twice as many possible points as the other.

And here you will see the secure score for a demo tenant

[2020-06-22 11:43] lightupdifire opened #2217 "Preview vs GA"
Hello,

Received info from Office 365 message center, that it is no longer Preview... This document is ready for GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d40ac52-6f02-b0f3-0c45-9f359473703b
* Version Independent ID: 108355a9-05a3-4d17-c417-c4d5664a4506
* Content: [Use sensitivity labels with Microsoft Teams,

[2020-06-22 14:10] mtwelve commented on #1645
Thank you @MaratMussabekov for the explanation. This is really helpful information to have.

[2020-06-22 14:57] cabailey commented on #2217
@lightupdifire  No, it is currently still preview and this page will be updated when it goes GA.  Where exactly in the message does it say that it's no longer preview?  The wording I see for when this will happen is "We will begin rolling this out in late June and expect the rollout to be complete in early July".  So, soon - but not today!

[2020-06-22 15:09] CalvinQuark opened #2218 "After upgrading to Windows 10 Pro, option to choose between personal use and organizational use not presented"
I just purchased a new Surface Book 3 from the online Microsoft store. The machine came configured for personal use with a Windows 10 Home version. I upgraded to Windows 10 Pro. However, the option to choose between setting up the machine for personal use versus organizational use was never presented. And it's not clear how to subsequently reconfigure the device for organizational use. Multiple te

[2020-06-22 15:26] erik-wahlstrom commented on #2067
@LeonardoFelippine
Some how your screen shots aren't coming through, all I see is a cid: tag. Ant chance you can retry?

[2020-06-22 15:32] LeonardoFelippine commented on #2067
Hello, Erik.

Sure, here they are:
- Tenant 1:
![image](https://user-images.githubusercontent.com/40198251/85305734-611b3d00-b4a5-11ea-97f9-09cc59068b57.png)

- Tenant 2:
![image](https://user-images.githubusercontent.com/40198251/85306004-c7a05b00-b4a5-11ea-9dee-8e083641fce8.png)

- Demo tenant:
![image](https://user-images.githubusercontent.com/40198251/85306073-e141a280-b4a5-11ea-8f7c-7c0cf1363

[2020-06-22 15:45] erik-wahlstrom commented on #2067
Got them. OK for the Demo Tenant, I'm guessing your have MDATP integration enabled. Right now the bulk of our controls are Device controls which are integrated with MDATP.

For no. 2, I'm guessing you have MCAS. If you are comfortable posting your email address here, I'll contact you offline and can get a little more diagnostic offline.

--Erik

[2020-06-22 17:20] markjjo commented on #2211
@JakeMoe Thanks for the heads up. Will look into updating these screenshots. The functionality is the same, with keywords box (same as box under "what do you want us to look for") and the ability to add conditions.

[2020-06-22 17:20] #2211 closed

[2020-06-23 01:20] mypil commented on #1621
@cedwards-telis @andrewpong - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/fd8c2f5c4a7c2778e2b89e8e8a27b0e634a3dc47.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-23 01:20] #1621 closed

[2020-06-23 01:42] mypil commented on #2032
@ingepepe @WaynePal - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/840cfc7fdce8599f354fdb213f8536e29b9a7262.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-23 01:42] #2032 closed

[2020-06-23 01:50] mypil commented on #1970
@ChongAlan - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/50c3b7ea1f7beaec43ba6b76b526916091f93e03.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-23 01:50] #1970 closed

[2020-06-23 06:27] lightupdifire commented on #2217
Hello Carol,
Thank you for input, I see my colleagues pass the message to me incorrectly. Sorry for bothering you.

[2020-06-23 06:27] #2217 closed

[2020-06-23 09:03] bartvermeersch opened #2221 "Audting creation of message"
The document states:

"An item was created in the Calendar, Contacts, Notes, or Tasks folder in the mailbox (for example, a new meeting request is created). **Creating, sending, or receiving a message isn't audited**. Also, creating a mailbox folder is not audited."

Based on our findings, the creation of messages does get audited and can be retrieved using the audit log search and MCAS.

---
####

[2020-06-23 09:40] lightupdifire opened #2222 "Access from unmanaged devices combination with users OneDrive"
Hello,

Can you please help to understand the possible combination of settings using policies, or PowerShell for:

1. Without Sensitivity labeling for SharePoint sites, we used SharePoint Access Control policy: if device not compliant (unmanaged) - then limit access apply, no download option;

2. Now when Sensitivity labeling for SPO will become available, we want to use it for some "truly Public

[2020-06-23 09:52] RNalivaika commented on #1553
@chrisda I think your comment makes no sense. If the link is to something outdated, just get it removed. Reference to an outgoing feature should be removed. Also, the text suggests using an unsecure method of "safelisting" and should absolutely be removed to not confuse, not learn users/admins insecure practices and not to contradict documentation. This should be checked by somebody else.

[2020-06-23 10:18] lightupdifire commented on #2222
Hello,

I have found one possible solution, but this one requires to have Scheduled PowerShell script to run:

a) SharePoint Admin->Access Control->Unmanaged devices: Allow Full access
b) After 1st option **disabled**, this will disable Conditional Access policies for SharePoint access, those Conditional Access policies must be turned back ON
c) Run PowerShell:
Connect-SPOService -Url https://{ten

[2020-06-23 11:22] teomonda opened #2223 "Alert policies with Business subscriptions"
From my tests, i saw the alert policies are available also for Business subscribers, even if not the "advanced" section, and around half of the default policies are there.
However the current article only includes Enterprise subscriptions. I cannot find the Alert Policies included in the security and compliance service descriptions to understand if they are really included or not. Could you please

[2020-06-23 11:27] teomonda opened #2224 "Alert policies for Small Business subscribers?"
From my tests, i saw the alert policies are available also for Business subscribers, even if not the "advanced" section, and around half of the default policies are there.
However the current article only includes Enterprise subscriptions. I cannot find the Alert Policies included in the security and compliance service descriptions to understand if they are really included or not. Could you please

[2020-06-23 11:55] LeonardoFelippine commented on #2067
Hello, Erik.

You are correct on both assumptions, and that brings me to the question I asked on the original post: based on the documentation, I should see the same maximum possible score, independent of licensing, should I not?

I can contact you through other means (LinkedIn, maybe) and send you my email address.

Regards.
________________________________
De: Erik Wahlstrom <notifications@githu

[2020-06-23 12:31] #2058 closed

[2020-06-23 12:59] DavidTaig opened #2225 "File types for auto-labeling policies for SharePoint, OneDrive, and Exchange"
[Enter feedback here]
https://docs.microsoft.com/en-us/microsoft-365/compliance/apply-sensitivity-label-automatically?view=o365-worldwide#how-to-configure-auto-labeling-policies-for-sharepoint-onedrive-and-exchange

It is not clear what file types are supported for auto-labeling policies for SharePoint, OneDrive, and Exchange

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-06-23 13:04] waltgithub opened #2226 "Missing Information for DeviceTvmSecureConfiguratonAssessment Table"
Hi, it looks like this page is missing a description and information for the "Context" column, which contains important information related to the Antivirus Signature. When will it be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37d8aa7f-0e71-9d55-7b6a-7097675f73d6
* Version Independent ID: dea5d670-3e02-4ae

[2020-06-23 13:22] qubika opened #2227 "Be explicit about which items are included in retention policy?"
[Enter feedback here]
Re: "Excluding specific types of Exchange items from a retention policy", can you be explicit about the items which are included in the retention policy?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1c2e44-357c-8096-5bdf-40e205778ded
* Version Independent ID: 19c7b5d9-1e0c-501b-7b70-df5aab48b3

[2020-06-23 15:05] sukhrehal opened #2228 "Can this policy be scoped to specific users?"
Typically we need to test impact of any policy changes before enabling. Is there any way to scope it to specific users\groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ac8b1f-a7cf-3487-9a3c-8eff53e4adb5
* Version Independent ID: 63773389-8a4f-926f-8430-8c80b19ff2da
* Content: [Safe Documents in Office 365 ATP -

[2020-06-23 15:43] chrisda commented on #2228
@sukhrehal, I'm told that currently, there's no way to scope the feature to specific users or groups.

Thanks for the feedback.

Closing

[2020-06-23 15:43] #2228 closed

[2020-06-23 15:44] msbemba commented on #2027
@Xcel1 Thank you for the feedback. I have feedback from the author that the endpoint Manager includes Intune service (among others) and is not a 1:1 rebranding for Intune in all cases. The author will confirm the broader strategy for including Endpoint Manager in the compliance offering topics.

Thanks
Sri

[2020-06-23 15:52] erik-wahlstrom commented on #2067
I can't answer this w/o getting the tenant Id.  If you can send them to me I can verify things.

Linkedin is fine.

[2020-06-23 16:38] Sirkkuw commented on #1842
According to the product group:
Yes it contains all the other actions a user could perform in the Teams client.

[2020-06-23 16:49] bartbilliet commented on #1842
@Sirkkuw hehe, I get that. But could you list some examples of what these types of actions include?
When we add "OtherActions" to our stats, the usage increase by 100% compared to the total of all other named actions (ChatMessages, ChannelMessage, CallParticipate, MeetingParticipate). So we are eager to understand which type of actions "other actions" include, and if these actions are relevant to

[2020-06-23 16:53] markjjo commented on #2224
@teomonda Thanks for question. Which Business subscription do you have? Also, can you send a list of the default alert policies that are available? Are they the same ones that are only available in E1? Since Business subscriptions also support basic auditing, I assume they also support the basic alert policies. I would also assume the the *ProtectionAlert cmdlets are also available in SCC PowerShe

[2020-06-23 16:55] Sirkkuw commented on #1842
@bartbilliet  - sending the question back to product group.

[2020-06-23 17:13] cabailey commented on #2225
@DavidTaig  For SharePoint and OneDrive, the information is included in "Maximum of 25,000 automatically labeled files (Word, PowerPoint, or Excel) in your tenant per day." but to make the file types supported more obvious, I'll split this out into two separate bullets.

For Exchange, included in "Unlike manual labeling or auto-labeling with Office apps, Office attachments and PDF attachments are

[2020-06-23 17:27] cabailey commented on #2222
@lightupdifire I checked with engineering - no, the product doesn't currently support what you want to do and the PowerShell option is a viable workaround but please do post this request to UserVoice.  There's a new category specifically created for sensitivity labels and containers: https://office365.uservoice.com/forums/928576-microsoft-information-protection-mip?category_id=385024

[2020-06-23 17:27] #2222 closed

[2020-06-23 17:30] cabailey commented on #2225
Live now, closing. Thanks for your feedback!

[2020-06-23 17:30] #2225 closed

[2020-06-23 17:51] mypil commented on #2223
@teomonda - Closing this issue as it is a duplicate to issue #2224.

[2020-06-23 17:51] #2223 closed

[2020-06-23 21:55] mypil commented on #1904
@Sirkkuw - We would like to follow up. Can you please share your insights on this issue?

Thank you.

[2020-06-23 23:16] jose-camacaro opened #2231 "Can you please confirm that this great, new feature is "all or nothing"? In other words, there is no way to turn it on for a limited set of users to pilot it first, before blasting it out to all Office client users in an organisation?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ac8b1f-a7cf-3487-9a3c-8eff53e4adb5
* Version Independent ID: 63773389-8a4f-926f-8430-8c80b19ff2da
* Content: [Safe Documents in Office 365 ATP - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/safe-docs?view=o

[2020-06-23 23:18] #2231 closed

[2020-06-23 23:19] chrisda commented on #2231
@jose-camacaro, yes, currently the feature is on or off for the whole organization.

[2020-06-24 00:50] bilal-docusign opened #2232 "unable to locate sharepoint library"
as O365 admin, unable to locate the site for which i want to export the site usage report in O365 admin

[2020-06-24 07:35] teomonda commented on #2224
hello @markjjo , thanks a lot for the quick reply!
I have M365 Business Standard in my test tenant. Definitively they are less default alerts compared to the E5 i have (11 versus 22).
![Business_standard](https://user-images.githubusercontent.com/43137999/85515582-f6cdde00-b605-11ea-9a41-2f01a208411f.jpg)

I have not actually double checked Powershell as well. My confusion or actually the Microsof

[2020-06-24 08:12] eDiscoFever opened #2233 "Please use 'Concepts' instead of 'Themes'"
Non-standard terms inject unnecessary confusion in the legalese-techspeak discussion that's already difficult.  The issue of confusion that arose with the 'InPlace' term similarly occurs here with the term 'Themes'.

No one in the eDiscovery industry uses this term.  It's concept searching ... just call it 'Concepts'. Here, from the EDRM, "Alternative search tools, such as **concept searching** an

[2020-06-24 11:24] vinsonw opened #2234 "Domain setting location typo"
On

I suppose it should be "Show all > **Setup** > Domains"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc42d030-189c-a877-a431-f9c0d167414a
* Version Independent ID: 89079123-8860-ba7b-c707-5d4af1da59db
* Content: [Add DNS records to connect your domain - Microsoft 365 admin](https://docs.microsoft.com/en-us/micros

[2020-06-24 14:47] sep2li opened #2235 "E5 not required, E1 is sufficient"
Communications Credits, Domestic Calling Plan, International Calling Plan do not require Office 365 Enterprise E5 but only E1. And that is good - E1 should be all that is needed, otherwise phone system will only work for a fraction of people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 903e8a02-dbce-4f9c-a397-f2c549

[2020-06-24 16:54] Sirkkuw commented on #1904
@mypil - I  have sent this to the PG as a question and will update here once I hear.

[2020-06-24 17:22] MacKender opened #2236 "Link redirection does'nt work for one link"
[Enter feedback here]
The link for "Note that we won't discuss enabling guest sharing settings in this article. See [Collaborating with people outside your organization](https://docs.microsoft.com/en-us/Office365/Enterprise/collaborate-with-people-outside-your-organization) for details about enabling guest sharing for different scenarios." doesn't work, there's no redirection so the visitor gets a

[2020-06-24 17:32] MikePlumleyMSFT commented on #2236
Thanks for catching that, @MacKender. I've submitted a pull request to update the link to point [here](https://docs.microsoft.com/microsoft-365/solutions/collaborate-with-people-outside-your-organization).

[2020-06-24 18:08] jawboston opened #2237 "M365 SKU Changes not reflected."
The new(ish) M365 Business Premium now includes all the E3 stuff listed in this article.
Please update to reflect changes made in the last 4 months.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb38c4a-21b3-4906-267f-79d7d9e31ac6
* Version Independent ID: 42d74946-a041-f05d-d909-c14c981000f3
* Content: [Prerequisites

[2020-06-24 21:31] jgrisham opened #2238 "WIX doesn't support MX for subdomains"
Recommend adding a note to the following effect:

WIX does not appear to support DNS entries for subdomains, at least as of June 2020.

If you want to use a subdomain (e.g. www.sales.contoso.com), you will need to manage your DNS somewhere other than at WIX.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3200297-3

[2020-06-24 22:00] mypil commented on #2232
@bilal-docusign - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-06-25 01:50] tenmilez opened #2242 "Where's the instructions for non-outlook using users?"
I have users that want to add shared mailboxes to the iPhone using the default mail app. Where's the instructions for that? Or at least say it's not possible. I know Outlook is your product, but get with the times.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db2dbb29-38c4-afe4-bc0d-3bbc195f6288
* Version Independent

[2020-06-25 13:38] cabailey commented on #2227
Looking into this & waiting confirmation from engineering

[2020-06-25 14:00] DeepRaj98 commented on #937
Hello Team,

Wanted to follow up on this. :)

DeepRaj

On Sat, Jan 11, 2020 at 2:20 AM Carol Bailey <notifications@github.com>
wrote:

[2020-06-25 14:21] cabailey commented on #937
@DeepRaj98  On request from the team who manages licensing, we have removed all ad-hoc licensing statements from this page (and others for retention) and replaced them with a link at the top of the pages to a single, authoritative source. From that page, you'll find links to a supplemental spreadsheet to download (PDF or Excel) with individual statements per feature.  If you have feedback about th

[2020-06-25 15:34] npherson opened #2243 "Include info/link on encryption for Stream"
Can we include some info and a link to the encryption information for Microsoft Stream?

"[When you upload] a new video or creates a live event, that video is transcoded, encrypted with AES-128 encryption, and stored in Azure Media Services. This means the videos are encrypted both in transit and at rest."
https://docs.microsoft.com/en-us/stream/network-overview#video-level-encryption-and-playback

[2020-06-25 16:45] JLambEJG opened #2244 "Office 365 Extra File Storage is not an available add-in"
[Enter feedback here]
Our O365 E3 licenses are apparently eligible for extra file storage. However, in step 3, the "Office 365 Extra File Storage" add-on is not an available option in the tenant.
![2020-06-25_9-44-42](https://user-images.githubusercontent.com/57106905/85762419-8f2c9700-b6c8-11ea-99cd-ffda69d14818.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-06-25 17:24] Jared-Harrington-Gibbs opened #2245 "Unclear control overlap."
The [documentation ](https://docs.microsoft.com/en-us/powershell/module/msonline/set-msolcompanysettings?view=azureadps-1.0#parameters) for AllowAdHocSubscriptions states that it controls "whether to allow users to sign up for email based subscriptions" That sounds very similar to the intent of AllowSelfServicePurchase and the overlap, if there is any, between the two is unclear.

Are these compli

[2020-06-25 17:59] markjjo commented on #2224
@teomonda Thanks again for following up. I've sent this issue to both engineering and product marketing to try to resolve. I will update the service descriptions according if alert policies should be include for Business subscriptions.

I'm not sure how you would disable alert policies (other than to use RBAC permissions to prevent a user from accessing the page in the SCC. However, if it's availa

[2020-06-25 17:59] #2224 closed

[2020-06-25 18:01] cfizz34 opened #2247 "There should be a better way to ensure a group has access over all OneDrive accounts"
[I do not want to click on a link to grant myself access, I as a global admin always want full control over the OneDrive accounts]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ca63bae-95f1-3248-ed6e-1bfbe0d7e9ff
* Version Independent ID: a56fc5c1-7ffd-0829-b5a4-9297ce2873ac
* Content: [Get access to and back up a fo

[2020-06-25 18:01] markjjo commented on #2233
@eDiscoFever Thanks for your feedback. I have forwarded it to the eDiscovery program management team.

[2020-06-25 18:01] #2233 closed

[2020-06-25 18:34] Sirkkuw commented on #1904
It’s supposed to happen on it’s own.  Within 72 hours, Office will detect the subscription change and download a new license.  Once the new license is downloaded, Office is supposed to see it and convert.
However the conversion might not always happen - this is getting fixed, or has been fixed.

[2020-06-25 19:46] cmcatee-MSFT commented on #2244
@JLambEJG  Did you buy your subscription through a CSP or VL? Traditional add-ons, of which Extra File Storage is one, aren't available if you purchases through a CSP or VL.

[2020-06-25 19:53] JLambEJG commented on #2244
It seems that this is critical information that should be in the "is my plan eligible" section. Text searching the document for "VL" or "CSP" returns no results. As it is written, our tenant is eligible, but these instructions are inaccurate in our situation. Please update the document so that it is clear that VL/CSP customers need to acquire the add-on through other means.

[2020-06-25 20:59] cmcatee-MSFT commented on #2245
@Jared-Harrington-Gibbs They control separate areas:

**AllowAdHocSubscriptions** covers the free subscriptions that users can sign up for, and applies across all products. You can read more about that here: [Manage self-service sign-up subscriptions](https://docs.microsoft.com/en-us/microsoft-365/commerce/subscriptions/manage-self-service-signup-subscriptions).

**AllowSelfServicePurchase** lets

[2020-06-25 21:02] Jared-Harrington-Gibbs commented on #2245
Awesome, I thought that might be the case.
Thanks!

[2020-06-25 21:02] #2245 closed

[2020-06-25 22:29] msbemba commented on #1693
@it-cairnmillar I'm discussing this with the author and will get back to you shortly.

[2020-06-25 22:43] msbemba commented on #2012
@zlDev Thank you for your feedback. It does not exclude the rejected(false positive/negative) emails unless you report it to Microsoft. More information on that is available here - https://docs.microsoft.com/en-us/microsoft-365/security/mtp/mtp-autoir-report-false-positives-negatives?view=o365-worldwide#report-a-false-positivenegative-to-microsoft-for-analysis

In general, admins can use the Submi

[2020-06-25 22:58] msbemba commented on #2049
@lightupdifire  Thank you for the update. You are correct the members of the distribution group will be the only users to whom the policy is targeted or excluded based on the selection. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2252

Thanks
Sri

[2020-06-25 23:05] msbemba commented on #2069
@klawrawkz  Thank you for your feedback. You are correct, there is no way to edit the template at the moment and the only option is to delete or create a new one. I have updated the document accordingly and this can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2253

Once we have an option to edit a template, the document will be updated accordingly. Unfortunately, the

[2020-06-25 23:07] msbemba commented on #2071
@DeanGross  Thank you for your feedback. I'm working with the author to publish the missing information.

Thanks
Sri

[2020-06-25 23:13] cmcatee-MSFT commented on #2244
@JLambEJG I've updated the article so that information is at the top. Thanks for the feedback!

[2020-06-25 23:13] #2244 closed

[2020-06-25 23:17] msbemba commented on #2078
@GiantCrocodile Thank you for your feedback. We have made changes to the document accordingly and the same can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2254

Thanks
Sri

[2020-06-25 23:25] msbemba commented on #2084
@acmcg Thank you for your feedback. We have added tfn to the keywords via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2257

Thanks
Sri

[2020-06-25 23:29] msbemba commented on #2091
@BrianLevenson Thank you for your feedback. Unfortunately, this feature of activating/managing third party applications is only supported in certain countries as mentioned here -  https://docs.microsoft.com/en-us/microsoft-365/commerce/manage-saas-apps?view=o365-worldwide#supported-regions

Customer's who purchased M365 from a country that is not supported will have to wait. The document will be u

[2020-06-27 00:03] mypil commented on #1693
@cmcatee-MSFT @Sirkkuw - Can you please share your insights on this issue?

Thank you.

[2020-06-27 00:04] mypil commented on #2071
@brendonb - Can you please share your insights on this issue?

Thank you.

[2020-06-27 00:15] mypil commented on #2232
@bilal-docusign - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-06-27 00:15] #2232 closed

[2020-06-27 13:53] mypil commented on #2104
@cupidchan - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @get-itips  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 13:53] #2104 closed

[2020-06-27 13:56] mypil commented on #2152
@elrod-johnson - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @get-itips  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 13:56] #2152 closed

[2020-06-27 14:45] get-itips commented on #2193
Hello @sagy thanks for your report, a fix is on the way.

[2020-06-27 21:00] mypil commented on #2091
@BrianLevenson - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 21:00] #2091 closed

[2020-06-27 23:05] mypil commented on #1477
@iryanjan18 - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/7ee01586d764c941a4a38a5cc915dc1e4122adc8.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 23:05] #1477 closed

[2020-06-27 23:05] mypil commented on #1552
@cyrilleB - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/7ee01586d764c941a4a38a5cc915dc1e4122adc8.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 23:05] #1552 closed

[2020-06-27 23:19] mypil commented on #1904
@nayar34 - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @Sirkkuw and @MaratMussabekov so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-27 23:19] #1904 closed

[2020-06-28 13:06] OritOrlanczyk opened #2266 "Add a section containing Microsoft 365 groups location"
[Enter feedback here]
I would add a comment that you can include group mailbox and site using Microsoft 365 groups location.
There is a section that explains Files in Teams but no comment or section that include both Exchange and SPO location like in the article: https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide

"Configuration information for

[2020-06-28 14:47] cabailey commented on #2227
This section needs to clarity that this PowerShell option is only if the retention action is retain-only (not retain and then delete, or delete-only) and I'm told that by default, retention for Exchange includes all items in a user mailbox with these exceptions: Contacts, calendar and tasks with no end date, documents, and distribution lists. I'll add this clarification to the documentation.

Is t

[2020-06-28 17:02] mypil commented on #2236
@MacKender - Thank you for submitting feedback.

From our understanding, the issue you raised has been resolved by the author @MikePlumleyMSFT so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-28 17:02] #2236 closed

[2020-06-28 17:06] mypil commented on #2179
@ecegopi - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author @cmcatee-MSFT so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-28 17:06] #2179 closed

[2020-06-28 17:21] mypil commented on #2144
@alevere  - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com/forums/289138-office-365-security-compliance)**.
You might find ot

[2020-06-28 17:21] #2144 closed

[2020-06-28 18:53] mypil commented on #1860
@jdemaree - Thank you for submitting feedback.

We have already engaged the author @MSFTTracyP about your feedback for their consideration on future updates of this doc.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-28 18:53] #1860 closed

[2020-06-28 19:30] mypil commented on #2012
@zlDev - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-28 19:30] #2012 closed

[2020-06-28 19:32] mypil commented on #2027
@Xcel1  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-28 19:32] #2027 closed

[2020-06-28 19:34] mypil commented on #2044
@carljohngabato  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-28 19:34] #2044 closed

[2020-06-28 19:42] mypil commented on #2056
@aavdberg  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by @msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-06-28 19:42] #2056 closed

[2020-06-28 21:12] benfdc opened #2267 "Multiple licenses for one Office installation"
An employee has a family copy of office at home. Can one copy of Office have to subscriptions so that the employee can use it for work while the rest of the household can use it for student and personal?

Does it make a difference if each user has their own login on the computer?

This is important practical information that ought to be in the FAQ.

---
#### Document Details

⚠ *Do not edit this s

[2020-06-29 18:44] kevinblumenfeld opened #2277 "BCC:user@contoso yields no results"
The documentation clearly outlines the use of bcc: All my tests show this is not the case.  To: and CC: work fine.
Thank you for having a look at why this is occurring.

https://protection.office.com/contentsearchbeta?ContentOnly=1
Same with New-ComplianceSearch and the old gui experience https://protection.office.com/contentsearch

![image](https://user-images.githubusercontent.com/28877715/86045

[2020-06-29 18:46] jaimeo commented on #2237
@DHB-MSFT can you assist with this?

[2020-06-29 18:50] haider392 opened #2278 "Admin role requirements"
Under admin role requirements, it is mentioned it needs the following roles - global administrator, report reader, Exchange administrator, Skype for Business administrator, or SharePoint administrator.

But "report reader" role doesn't exist in Office 365. Can you please confirm how to get report reader role.  Please see the attached screenshot for all the admin roles available in Office 365 and y

[2020-06-29 19:21] markjjo commented on #2277
@kevinblumenfeld Please see this topic: https://docs.microsoft.com/en-us/microsoft-365/compliance/preserve-bcc-and-expanded-distribution-group-recipients-for-ediscovery?view=o365-worldwide

"Recipients addressed using the Bcc field of a message: Bcc recipients are stored in the message in the sender's mailbox, but not included in headers of the message delivered to recipients." I'll look into addi

[2020-06-29 19:21] #2277 closed

[2020-06-29 21:26] billspeers opened #2279 "The most important type of alert is missing. How do you configure and get alerts for failed login attempts?"
The most important type of alert is missing. How do you configure and get alerts for failed login attempts and lock outs.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2879ba-e58e-cd47-f488-10d153c31418
* Version Independent ID: 391a2c05-d63d-e84e-7c7d-80c3b3518419
* Content: [Alert policies i

[2020-06-29 22:32] markjjo commented on #2279
@billspeers Thanks for feedback. Currently, this functionality isn't in alert policies. Please provide this feedback at https://office365.uservoice.com/forums/289138-office-365-security-compliance?category_id=137187

Also, you might look in AAD sign-in reports: https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins Note sure if there is a notification functiona

[2020-06-29 22:32] #2279 closed

[2020-06-30 01:22] hwkwicre opened #2280 "Clarifying"
"a SharePoint Online global administrator"
Does that mean a SharePoint Online admin or a global admin?

**The same issue happens with many, many articles.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b759021-39d7-0383-2f50-b5b813217f97
* Version Independent ID: 5f5dfeab-1160-3994-2cb8-1ca7c67e3ff2
* Content: [Use

[2020-06-30 03:00] mustaphaarakji opened #2281 "Inaccurate statement"
Hi,
I'm following this guide to export the list of resources shared with external users. At the end of the document at step number 5, there's this statement:

"Now Excel displays the rows for sharing events AND where the target user is outside of your organization, because external users are identified by the value TargetUserOrGroupType:Guest."

This is not accurate, as when I did an export, I not

[2020-06-30 11:12] richardjgreen opened #2285 "Comparison of Retention Labels vs. Retention Policies"
The documentation doesn't make it super clear to people when they should use Retention Labels vs. Retention Policies. For manual scenarios where labelling is being published to the user to apply it is clear, however, as both Labels and Policies have the option to auto-apply based on either Sensitive Info or Words and Phrases, I think clarity is needed.

A simple page that lists the features of Lab

[2020-06-30 16:11] markjjo commented on #2280
@hwkwicre Thanks for question. You have to be a SPO admin to create the holds on sites. I will clarify in the topic.

[2020-06-30 16:11] #2280 closed

[2020-06-30 16:14] markjjo commented on #2281
@mustaphaarakji Thanks for the heads up. We'll look into it. If this is an issue for you, would suggest you open a ticket with MS Support to investigate.

[2020-06-30 16:14] #2281 closed

[2020-06-30 16:17] MikePlumleyMSFT commented on #2201
@jrhammo the only change log available it the [GitHub history](https://github.com/MicrosoftDocs/microsoft-365-docs/commits/public/microsoft-365/admin/create-groups/manage-creation-of-groups.md).

[2020-06-30 16:17] #2201 closed

[2020-06-30 16:19] robmazz commented on #2189
@dijitald - thanks for the feedback, link has been corrected and published - give it 15 minutes or so to render live. Thanks!

[2020-06-30 16:19] #2189 closed

[2020-06-30 16:34] robmazz commented on #2129
@chaguile - thanks for the feedback, topic updated - give it 15 minutes or so to render live. Thanks!

[2020-06-30 16:34] #2129 closed

[2020-06-30 16:38] Sirkkuw commented on #1693
I think this might not be for either of us. This is more for the Exchange team. Try @SerdarSoysal - someone on his group should be able to help.

[2020-06-30 16:39] robmazz commented on #2038
@James-MCT - yes, both insider risk management and communication compliance are included in the Microsoft 365 E5 Insider Risk Management add-on license. Make sure you've configured license correctly and it is displayed in Admin center > Billing . Licenses, and confirm that you've assigned the license to the users you included in these policies.

[2020-06-30 16:39] #2038 closed

[2020-06-30 16:48] matziq opened #2287 "Examples Do Not Appear to Work as Expected"
Using this script gleaned from this article:
$Group = "Office Users"
$GroupId = (Get-AzureADGroup -SearchString $Group).ObjectId
$Setting = Get-AzureADObjectSetting -TargetObjectId $GroupId -TargetType Groups
$Setting["AllowGuestToAccessGroups"] = $False
$Id = (Get-AzureADObjectSetting -TargetObjectId $GroupId -TargetType Groups).Id
Set-AzureADObjectSetting -TargetType Groups -TargetObjectId $Grou

[2020-06-30 17:03] robmazz commented on #1825
@nanoonan538 - thanks for the feedback. I'll include this feedback with our documentation updates included with upcoming feature enhancements this month. Thanks!

[2020-06-30 17:03] #1825 closed

[2020-06-30 17:03] robmazz commented on #1826
@nanoonan538 - thanks for the feedback. I'll include this feedback with our documentation updates included with upcoming feature enhancements this month. Thanks!

[2020-06-30 17:03] #1826 closed

[2020-06-30 17:09] robmazz commented on #2103
@deividfoggi - thanks for the feedback, I'll make this is clearer that you need to make sure you select "Teams" in the Location page in the policy wizard to support Teams channels. Check back for feature and documentation updates later this month!

[2020-06-30 17:09] #2103 closed

[2020-06-30 17:12] robmazz commented on #2088
@tjsawyer - thanks for this feedback. The roles and permissions for communication compliance are currently being updated to address these issues. As the feature role improvements are released later in July, the documentation will also be updated. Please check back at the end of July for these improvements.

[2020-06-30 17:12] #2088 closed

[2020-06-30 17:25] #2193 closed

[2020-06-30 21:54] iaasazure opened #2288 "There are certain scenarios in which Dynamic Delivery is not supported."
The page states
There are certain scenarios in which Dynamic Delivery is not supported. These include the following:
Should this read "There are certain scenarios in which Safe attachments including Dynamic Delivery are not supported"?
Also the list of limitations should be on the safe attachments page adjacent to this page in the hierarchy.

I think these are limitations of Safe Attachments gener

[2020-06-30 22:37] erroltuparker opened #2290 "ZAP Bypass procedure doesn't work"
"Safe sender lists, mail flow rules (also known as transport rules), Inbox rules, or additional filters take precedence over ZAP. Similar to what happens in mail flow, this means that even if the service determines the delivered message needs ZAP, the message is not acted on because of the the safe senders configuration. This is another reason to be careful about configuring messages to bypass fil

[2020-06-30 23:58] cmcatee-MSFT commented on #2267
@benfdc Yes, the single installation of Office can be used with mixed accounts (Family vs a work or school account). It also makes a difference if each user has their own Windows login. If that's the case, Office will automatically use that login to authenticate, and they will use the correct license.

If the computer is a shared computer with only one Windows login, then each user must log in to

[2020-07-01 00:11] v-kydela commented on #1933
This does not seem to be resolved from my perspective. If messages are indeed supposed to remain in quarantine after they are released then the message we get when releasing them is misleading:

![image](https://user-images.githubusercontent.com/41968495/86188768-8ab31480-baf4-11ea-9f36-1465716d4514.png)

If messages stay in quarantine when released then there's no reason to refresh the query to s

[2020-07-01 02:14] faoquong commented on #1933
@v-kydela
"If messages stay in quarantine when released then there's no reason to refresh the query to see updated results."

before a message is released, if you check the "Released" column for that message it will say "No"
only after the message has been released and you refresh the quarantine grid view will you see the "Released" column of the message update to "Yes"

Thanks

[2020-07-01 03:40] USAGonzo00 opened #2291 "Subscription count reduction"
Would like to see further clarification on what happens when the count is reduced but not expiring.  Example.  300 licenses is updated to 250 through renewal.   What happens if there are 300 licenses assigned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5e656ac-5f86-6f46-55fc-5ea2cef0b51c
* Version Independent ID:

[2020-07-01 03:45] USAGonzo00 opened #2292 "Gov cloud applicability?"
Any word on the applicability for GCC?  timelines or roadmap?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6564bdaa-d66b-42ba-85bd-7c8f9989093d
* Version Independent ID: 33be52f1-d233-9c5d-abb3-140a9c6a0d74
* Content: [Apply a sensitivity label to content automatically - Microsoft 365 Compliance](https://docs.microso

[2020-07-01 07:13] nwsn opened #2293 "Unclear on the minimum role of the person that can create Custom app launcher tiles"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9488caf7-b791-3002-8749-7fdc4b2ec8b3
* Version Independent ID: 08e61eb0-7bcd-f449-46ef-17e209138a8e
* Content: [Add custom tiles to the app launcher - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/customize-the-app-l

[2020-07-01 12:16] lightupdifire opened #2294 "Conditional Access"
Hello,

Is it possible that Conditional Access policies required for this setup?
If yes, can u please help to understand where it is documented for this solution and is it possible to explain how Conditional Access policies created if we build a new Label, as an example with "limited access" and apply this new label to the SharePoint site.

What I see, if run Get-SPOSite, when the label is applied

[2020-07-01 15:27] cabailey commented on #2292
@USAGonzo00  We know customers are eagerly waiting for this but we can't comment on future releases in the documentation and notifications/announcements will be sent out using standard communication channels.  We have a Note callout in "Learn about sensitivity labels" (https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels) that sensitivity labels aren't yet available in US G

[2020-07-01 15:27] #2292 closed

[2020-07-01 16:40] groves226 opened #2296 "Requirement for Invoiced Account"
This write up, along with all the other pages that go over Customer Key(CK) do not mention that the setup of CK for Exchange requires an invoiced account. Not having this information up front has set my organization back over a month, and anyone else trying to work this on their own NEEDS to have this information up front.

"
**Mark Severson (DIGITAL INTELLIGENCE SYSTEMS L) <v-markse@microsoft.com

[2020-07-01 19:35] qubika commented on #2227
The clarification is definitely useful, but for completeness I think it still needs to be explicit about the excludeditemclasses which can be used.

The reference page which is linked shows all of the classes, but I presume not all values are valid.

[2020-07-01 19:59] #2074 closed

[2020-07-01 20:25] #2049 closed

[2020-07-01 20:28] chrfox commented on #2084
queried PM for accuracy

[2020-07-01 20:28] #2084 closed

[2020-07-01 20:29] chrfox commented on #2085
Hi @acmcg  - Thank you for your comment, this is the first time this has been requested.  If more requests come in for this we'll consider the change.

[2020-07-01 20:29] #2085 closed

[2020-07-01 21:18] chrfox commented on #2094
Hi @challengelogic
Thanks for your comment.  Rule three is higher priority than rule 6 and they are equally restictive, so the highest priority, most restrictive rule is applied, which is rule 3

[2020-07-01 21:18] #2094 closed

[2020-07-01 21:34] chrfox commented on #2116
HI @taasakur

Great catch! you are right, document updated and re-published.  Thank you!

[2020-07-01 21:34] #2116 closed

[2020-07-01 22:03] chrfox commented on #2014
Hi @Larryngolog
This is not expected behavior, please open a ticket with Microsoft support.

- Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called ou

[2020-07-01 22:03] #2014 closed

[2020-07-01 22:09] chrfox commented on #2173
Hi @thomasbinder Sales and Research cannot communicate with Manufacturing

[2020-07-01 22:09] #2173 closed

[2020-07-01 23:29] chrisda commented on #2290
@erroltuparker, why do you say that statement is incorrect? I asked, and this is what I was told:

Please advise.

[2020-07-01 23:32] MSFTTracyP commented on #1220
@rednoah My thanks for the error message you dropped here. I'm looking at delist issues again. I appreciate the information!

[2020-07-01 23:35] MSFTTracyP commented on #592
Looking into issues with delist portal. Thank you to everyone contributing to this thread.

[2020-07-02 00:09] MSFTTracyP commented on #689
I'm updating the article with a More information section that points to Protect against threats and Turn on ATP for SharePoint, OneDrive, and Microsoft Teams. This should help users to turn on Anti-virus for SharePoint / know to use ATP. Thank you all for your work on this!

[2020-07-02 00:09] #689 closed

[2020-07-02 00:13] MSFTTracyP commented on #2010
Closing this out. Thank you for letting me know.

[2020-07-02 00:13] #2010 closed

[2020-07-02 00:41] erroltuparker commented on #2290
The whole statement is incorrect.

There is currently a user voice asking for a more direct desire to bypass zap because it doesn't work, to which you guys refer to that article on how to bypass, which doesn't work - https://office365.uservoice.com/forums/289138-office-365-security-compliance/suggestions/38237416-bypass-zap-feature-for-some-senders

I know that's how it is suppose to work, but it

[2020-07-02 00:44] chrisda commented on #2290
@erroltuparker, if it doesn't work as described, I would recommend that you open a support case.

[2020-07-02 04:11] adamfowlerit opened #2300 "Microsoft 365 vs Office 365 references"
Still several references to Office 365, looks like some have been changed to Microsoft 365 but not all.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a6e20438-8387-bf21-297c-9feb5efe1f1c
* Version Independent ID: ee6a90dd-4050-fa9f-70f4-795f8e7bc3ca
* Content: [Load non-Microsoft 365 data into a

[2020-07-02 06:54] michelangelobottura opened #2301 "Missing IP from SPF"
Outgoing emails get bounced for SPF fail. The IP is
40.95.66.59

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed62cce4-7497-d557-8ee9-1e9d65dfc408
* Version Independent ID: 58739750-4fee-52d1-be71-9d379f59ee91
* Content: [Set up SPF to help prevent spoofing - Office 365](https://docs.microsoft.com/en-us/microsoft-365/

[2020-07-02 07:24] lightupdifire commented on #2049
@msbemba
Thanks!

[2020-07-02 07:47] jason-ra opened #2302 "Safe Documents"
Hi Team - this page needs an update to include Safe Documents. Specifically, can you add to the table that confirms whether its O365 ATP P1 or P2?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a177ba2-5cff-b0a0-6afa-717689db2884
* Version Independent ID: 802f6c49-9a14-e76f-6cf3-67862b40f18d
* Content: [Office

[2020-07-02 09:27] PrasadKasireddy commented on #2302
The safe document feature is only available to users with the Microsoft 365 E5 or Microsoft 365 E5 Security license (**not included in Office 365 ATP plans**).

Refer - https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/safe-docs?view=o365-worldwide under section 'What do you need to know before you begin?'

[2020-07-02 09:52] PrasadKasireddy commented on #2302
@jason-ra  - to avoid the confusion on this, I have added a additional point that the safe document feature details with respective licence. the PR is submitted.

[2020-07-02 12:55] auroraeosrose opened #2304 "Why is there no "total storage available""
This report does NOT let you see the total usage because it does not tell you how much is actually available

Usage is more than just "this person has this much stored" but also "out of xGB you have yGB stored"

Please give us a total on the report  or explicitly state in the documentation that this report does NOT tell you total usage but rather a snapshot of individual usage with no percentage o

[2020-07-02 16:31] YasirJawad opened #2305 "Misspelled word - no biggie"
[Enter feedback here]

In the section "SRV record feild restrictions and workarounds", the word "field" is misspelled.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc42d030-189c-a877-a431-f9c0d167414a
* Version Independent ID: 89079123-8860-ba7b-c707-5d4af1da59db
* Content: [Add DNS records to connect your domain - Mi

[2020-07-02 17:05] PrasadKasireddy commented on #2305
@YasirJawad  - thanks for reporting, I will correct that

[2020-07-02 18:33] markjjo commented on #2300
@adamfowlerit Thanks for the heads up. Documentation will eventually make transition from O365 to M365 as the service transitions.

[2020-07-02 18:33] #2300 closed

[2020-07-02 22:23] #2302 closed

[2020-07-03 07:28] NiteshSharma2K19 opened #2308 "Incomplete information"
Hello Team,

The page is incomplete for the "Can I pilot Office 365 with just a few email ....". We're missing the steps to configure the connectors. Without connectors, the pilot will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a11050-b442-7a48-0d37-9bce8908fc14
* Version Independent ID: 5456e564-2629-c

[2020-07-03 08:31] maramraghavendra opened #2309 "Promote the tile to App Launcher"
Promote the tile to App Launcher removed in new version so could you please remove this line in the KB.
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/customize-the-app-launcher?view=o365-worldwide

PG team confirm on this option

[2020-07-03 08:37] obhayes opened #2310 "Clarity around what applications targetted release applies to"
Hi,
Could you add some clarity please around how targeted releases affects teams and OneDrive, is it just the web version of these products that first release updates? i.e. the client version of OneDrive, its updates are linked to GPO and update ring you set, however what about the MS Teams client though as that always updates on a more regular basis? Ive seen a few discussion threads asking the s

[2020-07-03 15:15] cabailey commented on #2285
@richardjgreen I agree and have documentation in progress for this that I hope to publish soon.

[2020-07-03 15:26] g7cnp opened #2311 "Policies can't be disabled as described in the text"
This document states that the Policy option can be set to 'off' for trusted senders such as scanners, and fax machines yet policies can only be applied based on rules that depend on the recipient!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0be929ba-8bef-b75c-0475-041bb6ec441a
* Version Independent ID: 358f9e1a-1900

[2020-07-03 17:06] SergGu opened #2312 "Security Center Hunting vs Microsoft 365 security Advanced Hunting - list of the reasons there are two"
I realized there are TWO separate GUI for hunting:
1. https://securitycenter.windows.com/hunting
2. https://security.microsoft.com/advanced-hunting

Both look very similar, but the second one has more event types. Can you please address this discrepancy (for example explain why there is a difference) somewhere in documentation? "Frequently asked questions when turning on Microsoft Threat Protectio

[2020-07-06 07:13] AndrewJolly opened #2316 "Maximum site collections and policies typo and question"
I noticed a typo in the first section of the information, but I also wanted to confirm that the documentation is correct.

Maximum of 10 sites collections across all policies. (Recommendation is to edit this to say '10 site collections' rather than 'sites'
Maximum of 10 policies across your tenant.

The other question I is on the accuracy of these two points. Does this mean the following scenarios

[2020-07-06 11:57] R1ckH opened #2317 "Customer Lockbox not visible."
The site shows where to change the Customer Lockbox settings but as of today I don't see this in the admin portal. Even switching back to the 'old admin center interface' I don't see this
Where can I make the adjustment? (This is for point of Secure Score.

Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52a

[2020-07-06 12:00] sfilinto commented on #2210
Step 2 in the link is wrong. You need to click on the domain name (not just select), then click on DNS Records tab. The next step 3 is correct.

additionally this page is hard to find. it should be linked to the page where you change your DNS Name server (https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/change-nameservers-at-any-domain-registrar?view=o365-worldwide) as th

[2020-07-06 12:05] sfilinto opened #2318 "On the Domains page, select a domain."
"On the Domains page, select a domain."
this step seems to have changed & the documentation needs to be updated. its now 2 clicks. refer to https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2210

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c52d59a-7466-a5a8-7031-e4ea7b782f57
* Version Independent ID: e02a33

[2020-07-06 16:18] laughingman42 opened #2319 "Column for DataSource"
[Enter feedback here]
It would be good to have a column added  that described datasource(s) for each Table.
AlertInfo - MCAS, D-ATP, O365 ATP
IdentityInfo - AzureAD, Azure ATP(?)
IdentityLogonEvents - MFA(?), ADFS(?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9f0472-a1fe-8d1e-f081-fd3c97bbfc92
* Version Independe

[2020-07-06 16:25] Sirkkuw commented on #2278
Assigning to @kwekuako

[2020-07-06 17:48] kwekuako commented on #2278
@haider392 you have to expand the See all roles option on the roles page to get to the reader report role.
![image](https://user-images.githubusercontent.com/35539435/86623277-240b7c00-bf76-11ea-9ab4-5cb043613581.png)

[2020-07-06 17:52] #2278 closed

[2020-07-06 18:27] pebaum commented on #1984
looking into this.

[2020-07-06 18:29] pebaum commented on #2102
looks like this issue is resolved. cant repro.

[2020-07-06 18:29] #2102 closed

[2020-07-06 18:55] #2305 closed

[2020-07-07 04:27] Peter-CH-NZ commented on #1757
I have a similar problem but I have a monthly subscription but can't find anywhere how to change this to yearly. I do NOT have a trial version. The Microsoft doc on this subject appears to be incorrect as I do not have an option to change to yearly (only to cancel the subscription).

[2020-07-07 05:03] kazukiy-MS opened #2324 "Groups object limit"
[Enter feedback here]
"Groups an admin can create | Up to default tenant limit of 500K"
It seems the above limit refers to the below Azure AD limits, so it should be 300K now.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#active-directory-limits
*A maximum of 50,000 Azure AD resources can be created in a single directory by users of the

[2020-07-07 11:51] PrasadKasireddy commented on #2324
Duplicate request - https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2124

[2020-07-07 11:54] PrasadKasireddy commented on #2324
related to https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2124

[2020-07-07 12:25] PrasadKasireddy commented on #2317
Thanks a reporting, Settings & policy option is moved to Org Settings - please refer the below screen, I will update the document.

![image](https://user-images.githubusercontent.com/11626905/86780717-ac734500-c07a-11ea-9969-804c56f19e63.png)

[2020-07-07 12:42] R1ckH commented on #2317
Hi PrasadKasireddy,

Thank you for your response.

I don't see this option:

![image](https://user-images.githubusercontent.com/67906230/86782883-eb47d180-c05f-11ea-8a94-15e48a40254e.png)

I'm checking the setting with a Global Administrator account.

Best Regards,

[2020-07-07 21:22] GiantCrocodile commented on #2317
It's only shown if you have a proper license e. g. Microsoft 365 E5 Compliance add-on or Microsoft 365 E5.

[2020-07-07 22:54] cabailey commented on #2227
@qubika  For the Exchange locations, I've got confirmation that mail messages (includes drafts) with any attachments, tasks and calendar items when they have an end date, and notes are included.  I've added this to the page.  I'll follow up separately for a list of items that can be excluded by using PowerShell - the documentation for the ExcludedItemClasses parameter is not at all clear (https://

[2020-07-07 22:54] #2227 closed

[2020-07-07 23:00] cabailey commented on #2294
@lightupdifire  I think your question is covered with the following text and link on this page for the Unmanaged devices option, but double-checking in anything is missing:

- Unmanaged devices: For unmanaged devices (https://docs.microsoft.com/sharepoint/control-access-from-unmanaged-devices), allow full access, web only access, or block access completely. If you have configured this setting at t

[2020-07-08 07:42] R1ckH commented on #2317
Thanks for the clarification.
Does this apply with only 1 E5 license or do all users require this?

[2020-07-08 07:48] lightupdifire commented on #2294
@cabailey
We have implemented for a long period already Unmanaged devices policy.
The issue here is that the SharePoint Sensitivity label, when you want to use it to limit download data from the site, requires Conditional Access policy. And **Unmanaged devices: For unmanaged devices (https://docs.microsoft.com/sharepoint/control-access-from-unmanaged-devices)** must be set to "allow full access";

[2020-07-08 20:21] cabailey commented on #2266
@OritOrlanczyk  Thanks for your feedback - good point and now expanded that section we had about files so it includes when to select Office 365 Groups vs SharePoint sites "https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-teams?view=o365-worldwide#additional-retention-policies-needed-to-support-teams"

[2020-07-08 20:21] #2266 closed

[2020-07-08 21:29] cabailey commented on #2294
@lightupdifire  This page contains the reference for the dependency and I see your other GitHub Issue was closed.  If your question is now about the product design and you're in communication with Sanjoyan, I'll close this issue.  He'll alert me if anything needs changing on this page.

[2020-07-08 21:29] #2294 closed

[2020-07-08 21:38] pebaum commented on #2158
Thanks, @data-model .

I think support should get involved here and take a look.

[Contact Support](https://docs.microsoft.com/en-us/microsoft-365/admin/contact-support-for-business-products)

[2020-07-08 21:38] #2158 closed

[2020-07-08 21:48] denisebmsft commented on #2136
Hello @vector-sigma. Thank you so much for your helpful feedback. I have updated the article to include the additional details, and the changes will be live later today.

[2020-07-08 22:38] chrfox commented on #2196
HI @DeanGross - There are no plans to update this poster. I've redirected the link to point to more current content

[2020-07-08 22:38] #2196 closed

[2020-07-09 02:14] denisebmsft commented on #1940
No updates yet but i am working on this.

[2020-07-09 12:31] mburcke27 opened #2335 "PowerShell Script Error"
Running the commands posted on this page, results in a script error but it looks like the command took successfully.

i.e.

PS C:\WINDOWS\system32> $settingsCopy = Get-AzureADDirectorySetting -Id $settingsObjectID
PS C:\WINDOWS\system32> $settingsCopy["EnableGroupCreation"] = $AllowGroupCreation
PS C:\WINDOWS\system32>
PS C:\WINDOWS\system32> if($GroupName)

PS C:\WINDOWS\system32>  else {

**else

[2020-07-09 12:40] mburcke27 commented on #2335
If you save the script as a PS1 file and run it, the error doesn't happen. Closing.

[2020-07-09 12:40] #2335 closed

[2020-07-09 13:24] joloco commented on #592
Thank you Tracy! Anything which could provide us with a clue as to why our IP was blocked would be useful – even just a date and time of when these apparent spam emails were sent, so we can check our logs. Because at the moment we have no idea what is said to have happened, or when!

[2020-07-09 18:46] Canis-Lupis opened #2337 "Why can both Send As and Send On Behalf be set at the same time?"
Per the document, "You can configure Send as or Send on behalf for a given user, but not both. If you configure both, it will default to Send as."  So why does Exchange (specifically O365 Exchange) allow you to assign both at the same time?

Seems more logical to only allow one set at a time.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-07-09 20:22] denisebmsft commented on #2316
Hello @AndrewJolly! To which article(s) does your feedback apply? This information will help us route your issue to the correct writer/team.

[2020-07-10 09:37] heymybru opened #2341 "Document conflict"
Conflict

https://docs.microsoft.com/en-us/microsoft-365/compliance/classifier-getting-started-with?view=o365-worldwide

"Where can you use trainable classifiers" section  states that "Trainable Classifiers" can be used as a condition in  Auto Labeling. The table in the following page - contradicts this statement.

https://docs.microsoft.com/en-us/microsoft-365/compliance/apply-sensitivity-label-a

[2020-07-10 09:47] ChrisParrBIE opened #2342 "Criteria for searching email body unclear"
There's plenty of information on how to search particular email message fields, but nothing that states clearly how to simply search for emails containing a particular string or even if that's possible.

e.g. I can easily search for emails set to or from a particular email address with the participants property, but can't see anything describing how to search for that email address in the message

[2020-07-10 14:03] bholzmmc opened #2343 "Verifying label synchronization with SPO"
The section "Schedule roll-out after you create or change a sensitivity label" recommends
" 2.Wait for at least 24 hours after initial publication. Verify that the label has fully synchronized."

Please provide instructions or guidance on how to verify that the label has synchronized.    Include guidance for multi-Geo tenants.

Consider that the administrator who can create/manage labels may NOT b

[2020-07-10 16:50] markjjo commented on #2342
@ChrisParrBIE Thanks for the question. There isn't a searchable "body" mail property. You would just search for keywords without specifying a property:value pair. In other words, in the search UI, you would type keyword, string, email address in the Keywords box. If an email address returns too many items with that address in the to, from, fields, you might try to exclude those with something like

[2020-07-10 16:50] #2342 closed

[2020-07-10 21:14] pear7777 opened #2345 "WHY"
1) this is regardin a MICROSOFT product WHY do I get KICKED into m* UN-USEABLE GITHUB
GITHUB IS SOMTHING LIKE A SECRET SECT IN USER LAND
DON'T MAKE SUPPORT ANY HARDER TO GET

SECOND

THE DOWNLOADER DOES NOT DOWNLOAD anyting.

THANK YOU

[Voer hier feedback in]

---
#### Documentdetails

⚠ *Dit gedeelte niet bewerken. Het is vereist om problemen te koppelen tussen docs.microsoft.com en GitHub.*

*

[2020-07-11 20:04] ka24dime opened #2346 "Unable to edit billing frequency per documentation"
The page referenced indicates that there should be a link to edit the billing frequency between monthly and yearly, but my page does not have this.  Edit is only available for the card and whether or not the subscription should renew:

Billing
$15.00 (excluding tax)
Billed monthly
Visa ****XXXX Edit
Renews on 7/25/20 Edit
View last bill

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-07-12 23:59] qaehtesh opened #2347 "[Document update Request] outbound spam notification alerts been deprecated and replaced by Alerts in SCC"
Need help to update this documentation that outbound spam notification alerts been deprecated and replaced by Alerts in SCC.
This is been confirmed here under issue
Issue 1553788: [Customer Escalation] Issue Severity: 2 Online: [JPN] Outbound spam notification is not working as expected.

--
Excerpt from above escalation-
This notification is a legacy / deprecated setting and is going to be remove

[2020-07-13 00:04] qaehtesh opened #2348 "[Update or Remove Document Request] Safety tips is deprecated and removed"
Need to help to update / remove this documentation on safety tips as it seems to be deprecated and removed as per below work item.
Task 1336827: Antispoof: Remove safety tip feature for spoof

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1daade0-c937-6daf-cdc5-e6e23214426d
* Version Independent ID: 49836613-b9a3-fc37

[2020-07-13 00:05] GaneshPrabuBaburaj opened #2349 "Number of Groups a user member of"
In this article it was mentioned, user can be member of 1000 groups. However the below article says a user can be part of any number of groups. Which one is correct?

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#active-directory-limits

[2020-07-13 00:35] shivtorov opened #2350 "IB license requirements"
In "Required licenses and permissions" section, the article lists the following licenses:

- Microsoft 365 E5
- Office 365 E5
- Office 365 Advanced Compliance
- Microsoft 365 Compliance E5

But another [article](https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-li

[2020-07-13 09:41] christianarg commented on #1736
@erik-wahlstrom I'll insist one more time as you seemed to be willing to help but never got a response using the feedback feature.

[2020-07-13 14:27] erik-wahlstrom commented on #1736
Hi Christian,

Try firstname dot last name at microsoft.com

--Erik

On Mon, Jul 13, 2020 at 2:41 AM Christian Rodriguez <
notifications@github.com> wrote:

[2020-07-13 15:39] cabailey commented on #2227
@qubika  As a follow-up, the PowerShell description has now been updated to add a link to the message classes for Exchange but also discovered there is no validation on the values entered because it allows for customization.  That's why it can only talk about "examples".  Everything I've learned about this parameter (retain-only, no set list of values, no validation) leads me to conclude that this

[2020-07-13 16:46] markjjo commented on #2345
no actionable feedback

[2020-07-13 16:46] #2345 closed

[2020-07-13 18:18] cabailey commented on #2343
Brian, I'm going to level with you:  When I took ownership of this article, this section was already written and I had similar questions  and proposed a reword, based on my understanding.  I'll revisit that with the PM but my understanding is there is no way for an admin (global or site admin) to verify the synchronization status of sensitivity labels other than wait for the prescribed period of t

[2020-07-13 20:00] bholzmmc commented on #2343
So to carry-out that process my understanding is that it would mean a user has to connect to each multi-geo SPO site and then:

-          access some sub-site or page that allows them to create or modify a document

-          Open an aforesaid document in the browser

-          Observe that the Sensitivity button appears with the expected labels and/or underlying functionality ?

Seems a lot of

[2020-07-13 20:06] 12Knocksinna opened #2354 "Teams Chat Records are not stored in Exchange mailboxes"
The statement that Teams chat messages are stored in user mailboxes is incorrect. These are compliance records, not the actual Teams chat messages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab0bb4d7-d9fa-ae92-d3ca-246147d1434a
* Version Independent ID: 7ba20db3-55e2-3d29-2d6c-6f68a6b577a8
* Content: [Searching clo

[2020-07-13 21:23] dmatranga opened #2355 "MS record details not available"
Hit a wall on step 4 when trying to create the TXT record in DNS at GoDaddy. When I go to the Domains section in O365, the remainder of the record information is masked by "...". There's no way to expand the entry so I can see the full information, as far as I can tell.

![image](https://user-images.githubusercontent.com/75672/87354977-2a28cc00-c525-11ea-84a2-21d6fc451c40.png)

---
#### Document D

[2020-07-13 21:35] cabailey commented on #2343
When there's something specific required for Multi-Geo, we call that out - as we do on this page for enabling sensitivity labels.  But the replication latency time applies to all geos so testing on a single geo should be sufficient.  The key thing here, is wait the prescribed period of time between before rolling out a newly published label to all users because it might appear in desktop
 apps bef

[2020-07-14 01:29] ProKrob opened #2358 "The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet"
PS Script failed with msg: The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e935bd03-8b2a-2271-b886-5643f5c7ea51
* Version Independent ID: 82a7b468-c1b6-ac74-3600-e96f274bbe89
* Content: [Manage who can create groups -

[2020-07-14 12:29] JeroenDronkers opened #2359 "Outbound spam notifications"
This article should mention that outbound spam notifications only work when configured on the default outbound spam policy.
They are not generated when enabled on any custom outbound spam policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c27660-0f0b-3002-7183-854e4fb8716b
* Version Independent ID: 3f436862-e6b3-

[2020-07-14 18:56] denisebmsft commented on #2349
Hello @GaneshPrabuBaburaj! Thank you for the feedback. Can you please tell us to which article(s) your question applies? This will help us route the issue to the correct writer/team.

[2020-07-14 19:10] GaneshPrabuBaburaj commented on #2349
Hi @denisebmsft , The question is belong to the below article
https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/office-365-groups?view=o365-worldwide#group-limits

[2020-07-14 20:19] MichelvanVliet opened #2360 "Wrong info: TargetedUserProtectionAction should be TargetedDomainProtectionAction"
The following information is incorrect:
_Protected domains: If email is sent by an impersonated domain
_TargetedUserProtectionAction__
The command should be: **TargetedDomainProtectionAction**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c77e1cb-1509-83cc-7c2a-564d5e3e91ea
* Version Independent ID: 9f07278c-37ab-bea

[2020-07-14 21:32] cabailey commented on #2285
This comparison table is live now: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention?view=o365-worldwide#compare-capabilities-for-retention-policies-and-retention-labels

Let me know if this and the newly added information on this page is helpful!

[2020-07-14 21:32] #2285 closed

[2020-07-15 00:16] 0842854175 opened #2361 "RichShops-Mic"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: ad8e657e-2aa7-230d-0d9d-675c0200ac18
* Version Independent ID: 2028f003-2624-2bd3-34ea-6022d495e2c6
* Content: [Set up Windows devices for Microsoft 365 Business Premium users - Microsoft 365 Business](https://docs.microsoft.com/th-th/microsoft-365/business/set

[2020-07-15 10:33] yvesrosius opened #2362 "Unclear which language would be used to display end-user notifications."
The default value is Default, which means end-user quarantine notifications use the **default language of the EOP organization**.

What does this mean???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed2861d-860e-5d27-9259-fb9db2187f4b
* Version Independent ID: 09ef5622-3a7e-30f9-00f9-4c5578f8e1ca
* Content: [Configu

[2020-07-15 14:40] robmazz commented on #2361
Closing, no actionable question or request.

[2020-07-15 14:40] #2361 closed

[2020-07-15 14:54] GaneshPrabuBaburaj commented on #2349
Hi @denisebmsft , Hope you are in track of this question.

[2020-07-15 15:06] PrasadKasireddy commented on #2360
Thanks @MichelvanVliet for reporting this issue, I will correct that through PR.

[2020-07-15 15:06] PrasadKasireddy commented on #2360
@robmazz  - please assign this request to my queue

[2020-07-15 15:45] PrasadKasireddy commented on #2358
Please let me know what is version of Azure Active Directory PowerShell, it seems to be issue with AzureAD poweshell manger  - please refer the following article - https://github.com/Azure/azure-docs-powershell-azuread/issues/189

[2020-07-15 15:47] PrasadKasireddy commented on #2360
sorry @robmazz  - it is accidentally removed as a assignment.   please reassign.

[2020-07-15 17:57] jose-camacaro opened #2364 "Any other way to test "Safe Documents" functionality from the end user side?"
Hello,

I have enabled Safe Documents and I have downloaded a few office documents from the internet, but I still do not see ATP being mentioned in the yellow banner of Protected View. Is there any other way to test "Safe Documents" functionality from the end user side?

-Jose
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-07-15 19:13] #2360 closed

[2020-07-16 08:25] MPenny-nCipher opened #2369 "Modify references to "Thales nShield HSMs" to be "nCipher nShield HSMs""
Hello

Thales sold the nCipher business to Entrust Datacard some months back. The text on this page should therefore be modified to  show the "nCipher nShield HSMs" as opposed to "Thales nShield HSMs".

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58b6670c-3ed1-97f9-b728-79bb77106206
* Version Independent ID:

[2020-07-16 09:44] Alex-Catalin opened #2370 "Session creation is throttled. Max value of MaxCountOfSuccessfulSessions is 2 when using EDM Upload Agent"
Please consult with Engineering and document in this article the limit of uploading data into the same data store, which is at max twice per day.

If I try to upload data using the EDM Agent into the same data store, for a 3rd time in the same day, I will get this nice throttling message:

_"Session creation is throttled. Max value of MaxCountOfSuccessfulSessions is 2."_

---
#### Document Details

[2020-07-16 10:24] steadrosa opened #2371 "What happens to Online Archive is missing"
It shoud be detailed what happens to an Online Archive attached to a Office 365 mailbox when converted to Shared Mailbox, and what the best available solutions to this are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b3fbbe-fde3-fd52-f9cd-d8fca56a1494
* Version Independent ID: 73d71ee8-579d-78b5-a8cd-48d7ec51ebb8

[2020-07-16 17:02] #2136 closed

[2020-07-16 17:03] denisebmsft commented on #2093
Greetings! Thank you @NikhilMhatre09 for raising this question. I have reached out to the product team for an update here. Will post an update as soon as i know more.

[2020-07-16 17:05] denisebmsft commented on #1940
Still waiting on some input from our product team. Stay tuned.

[2020-07-17 00:19] mevenega opened #2374 "Steps changed"
Hello,

Please review as the way you update your contact information changed recently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecf0dbf6-b2f8-5370-fd04-f7a13073835a
* Version Independent ID: 8b58ecef-f957-4360-08a5-80d6fe8886e3
* Content: [Update your admin phone number and email address - Microsoft 365 admin](ht

[2020-07-17 15:05] JDMEXOPRO opened #2376 "Article Not reflecting required permissions."
When in O365 Admin Center as a Groups Admin role selecting an O365 Group there is warning on group pane.
Warning in yellow:  'You don't have permission to save changes'

The only way to make changes to an O365 Group in the O365 Admin Center is to have Groups Admin Role assigned and retain Ownership AND Membership. When those are met is when this warning goes away and an admin is able to modify gro

[2020-07-17 16:49] Chandyno opened #2377 "Manage who can create Groups"
Instead can we do Manage who can't create Groups ?
https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/manage-creation-of-groups?view=o365-worldwide

[2020-07-17 21:29] SeCossio opened #2380 "Need to add information to handle SPO and ODfB"
Is it possible to include guidance for SPO and ODfB (and possibly Teams as well?) Spillage management is not relegated to email only

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9eab6813-2ac7-7ab4-50f1-454a350163ba
* Version Independent ID: f63bf91f-494a-dbb1-2262-35d44e586519
* Content: [eDiscovery solution series D

[2020-07-17 22:23] TinaMcN commented on #1513
@GiantCrocodile I just wanted to let you know that the issue you noticed with the 404 from the avatar on German pages has finally been fixed, it took a lot of investigation to figure out what was going wrong.  Thanks again for bringing it to my attention.

[2020-07-18 20:55] GiantCrocodile commented on #1513
@TinaMcN Great to hear and thank you for the update!

[2020-07-19 16:13] GaneshPrabuBaburaj commented on #2349
Hi @yogkumgit , Hope we are in track of this question. Could you please update, which article is correct?

[2020-07-19 18:54] GaneshPrabuBaburaj opened #2382 "Number of Groups a user member of"
In this article it was mentioned, user can be member of 1000 groups. However the below article says a user can be part of any number of groups. Which one is correct?

https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-service-limits-restrictions
https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/azure-subscription-service-limits#active-direct

[2020-07-19 19:01] GaneshPrabuBaburaj commented on #2382
Issue raised here as well #2349. Please update any one of the issue.
cc: @yogkumgit

[2020-07-20 13:33] andytuke-jisc opened #2384 "Strangely US centric wording in the datacentre paragraph"
The paragraph

"In the Americas, all Exchange Online mailboxes are located in U.S. datacenters, with the exception of South America where datacenters in Brazil and Chile are used and in Canada where datacenters in Canada are used"

So when you say "In the Americas, all Exchange mailboxes are located in U.S datacenters", you actually mean only about 20% by land mass of the Americas, and all the rem

[2020-07-20 14:15] miguelvidex opened #2385 "Volume Licensing and CSP add-on availability"
Hi Team,
I would like to mention that the following sentence is not clear:
_If you bought your subscription through Volume Licensing or a CSP, you can't buy Office 365 Extra File Storage for your organization. Contact your representative or partner for help._

Because it's not true that if a customer bought his subscriptions through Volume Licensing or a CSP, he can't buy Office 365 Extra File Sto

[2020-07-20 14:17] yogkumgit commented on #2290
@chrisda  Thank you very much for sharing this explanation. @erroltuparker hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
https://docs.microsoft.com/en-us/microsoft-365/admin/contact-support-for-business-products?view=o365-worldwide&tabs=online

[2020-07-20 14:17] #2290 closed

[2020-07-20 14:22] yogkumgit commented on #2267
@cmcatee-MSFT  Thank you very much for sharing this explanation. @benfdc hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-20 16:00] milesgratz opened #2386 "Broken hyperlinking for bulleted lists"
Content after [Step 1: Complete your technical planning](https://docs.microsoft.com/en-us/microsoft-365/enterprise/sharepoint-online-onedrive-workload?view=o365-worldwide#step-1-complete-your-technical-planning) is not hyperlinking correctly.

![image](https://user-images.githubusercontent.com/17114534/87959010-e0396c00-ca77-11ea-8b92-9bf2f8992041.png)

---
#### Document Details

⚠ *Do not edit th

[2020-07-20 16:18] chrisda commented on #2347
@qaehtesh, OK information added/updated.

Thanks for the feedback.

Closing

[2020-07-20 16:18] #2347 closed

[2020-07-20 16:21] chrisda commented on #2348
@qaehtesh, I'm closing this as a duplicate of #736.

Thanks for the feedback.

[2020-07-20 16:21] #2348 closed

[2020-07-20 18:58] chrisda commented on #2359
@JeroenDronkers, it kind of does already: <https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-the-outbound-spam-policy?view=o365-worldwide#use-the-security--compliance-center-to-create-outbound-spam-policies>:

![image](https://user-images.githubusercontent.com/33166947/87975254-390d0280-ca80-11ea-80d0-35badf6873c2.png)

![image](https://user-images.githubusercontent.c

[2020-07-20 22:27] chrisda commented on #2384
@andytuke-jisc, perhaps the original intent was to keep everything on one line like the others? I don't suffer from that, so I made the statement longer and more clear.

Thanks for the feedback.

Closing

[2020-07-20 22:27] #2384 closed

[2020-07-21 00:52] markoshea1212 opened #2390 "Defender ATP information in Compatibility section"
There are a couple of issues here - it should be Microsoft Defender Advanced Threat Protection, and now it is available as a standalone add-on to other SKUs, not only through Windows 10 Enterprise E5 or M365 E5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ed7e43-7ec8-01f6-8cf0-6fd77519840e
* Version Independent ID

[2020-07-21 02:33] jose-camacaro opened #2391 "Any quick way to check/test the functionality on the end user side (device)?"
[Enter feedback here]

Any quick way to check/test the functionality on the end user side (device)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ac8b1f-a7cf-3487-9a3c-8eff53e4adb5
* Version Independent ID: 63773389-8a4f-926f-8430-8c80b19ff2da
* Content: [Safe Documents in Office 365 ATP - Office 365](https://docs.m

[2020-07-21 05:56] yogkumgit commented on #2078
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GiantCrocodile
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-21 05:56] #2078 closed

[2020-07-21 06:41] lukewegener opened #2392 "Email address incorrect?"
In the section: https://docs.microsoft.com/en-us/microsoft-365/compliance/customer-key-set-up?view=o365-worldwide#register-azure-subscriptions-to-use-a-mandatory-retention-period it says to email spock@microsoft.com

Is this address valid? I am working through this process with a customer and the email bounces with 'recipient address rejected'. We've tried from a couple of different sources

---
#

[2020-07-21 07:13] andytuke-jisc commented on #2384
Thank you,  there's probably not many big tech companies that have such a responsive way of handling issues with huge document libraries like this. 😁

[2020-07-21 07:56] yogkumgit commented on #1740
@MaratMussabekov  Thank you very much for the contribution and updating the documentation with PR. @Emmity
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-21 07:56] #1740 closed

[2020-07-21 07:56] yogkumgit commented on #1758
@MaratMussabekov  Thank you very much for the contribution and updating the documentation with PR. @boomalator
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-21 07:56] #1758 closed

[2020-07-21 07:57] nlepagnez opened #2393 "The document needs more details on MDATP Requirements"
It is not very clear if Microsoft Defender ATP is a prerequisite on the workstations, or if only the Cloud version is used and if MDATP configuration is necessary.

In the article, MDATP is mentioned several times, suggesting that if the workstation does not have MDATP installed, Safe Documents cannot work. In only one small place is it mentioned that it would be MDATP Cloud that would be used.

I

[2020-07-21 12:02] PrasadKasireddy commented on #2386
@yogkumgit  - Can I pick this, please assign it to me

[2020-07-21 12:58] msbemba commented on #2386
@milesgratz  Thank you for your feedback. We have made changes to the document via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2394

Thanks
Sri

[2020-07-21 13:35] bholzmmc commented on #2343
Carol,

Thank you very much for remembering my concern and making me aware of this.  I did add a vote to it.
I  also created a UserVoice entry relating to the PowerShell equivalent of this
https://office365.uservoice.com/forums/928576-microsoft-information-protection-mip/suggestions/40957477-make-the-get-labelpolicy-command-distributionstatu

You might be interested in a couple of others I’ve crea

[2020-07-21 15:49] aszalacinski opened #2395 "The mail flow comment midway through the page doesn't link to anywhere specific. Just goes to microsoft.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc96d989-29fd-363e-82b6-0dc3807be297
* Version Independent ID: 2a7ffa92-86b1-919d-6f97-ed0df2310bcd
* Content: [Find and fix issues after adding your domain or DNS records - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/get

[2020-07-21 16:20] msbemba commented on #2390
@markoshea1212  Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2396

Thanks
Sri

[2020-07-21 16:27] cabailey commented on #2343
@bholzmmc  I support your vote :)  We can document only what's implemented and supported.

The new (renamed) section is now live: https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files?view=o365-worldwide#publishing-and-changing-sensitivity-labels that clarifies the current procedure is to wait the prescribed period of time.  You might be pleased to

[2020-07-21 16:27] #2343 closed

[2020-07-21 17:00] chrisda commented on #2391
@jose-camacaro, we're looking into it.

[2020-07-21 17:39] faoquong commented on #2362
@yvesrosius it simply means that end user spam notification will use the the default language of the cloud-based organization.

[2020-07-21 18:53] get-itips commented on #2304
Hello @auroraeosrose Elizabeth, how are you?
Thanks for your feedback.
I will propose to state that in the article thru a pull request, also, for your request to improve the report to reach the product team, I recommend opening a suggestion in https://office365.uservoice.com/
Thank you again.
Andrés

[2020-07-21 19:53] robmazz commented on #2187
@DeanGross  - thanks for the feedback. There has been some recent process reorganization and this topic will be updated soon. Please check back in a few weeks.

[2020-07-21 19:53] #2187 closed

[2020-07-21 19:54] robmazz commented on #2071
@DeanGross  - thanks for the feedback. There has been some recent process reorganization and this topic will be updated soon. Please check back in a few weeks.

[2020-07-21 19:54] #2071 closed

[2020-07-21 20:24] dariomws commented on #2319
Hi @laughingman42, thank you for your feedback and help us to improve docs.microsoft.com.

For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/.
There, your suggestion will reach the product team. Here we are limited to documentation issues and improvements.

[2020-07-21 23:38] LouMercuri opened #2402 "Device onboarding section referencing the wrong portal"
The instructions at https://docs.microsoft.com/en-us/microsoft-365/compliance/endpoint-dlp-getting-started?view=o365-worldwide#onboarding-devices refer to the "Microsoft Compliance Center" settings page and provides a screen shot. This is the wrong console. It should be referencing the "Microsoft Defender Security Center" and the settings page there.

---
#### Document Details

⚠ *Do not edit this

[2020-07-21 23:41] msbemba commented on #2385
@miguelvidex  Thank you for your feedback. We have updated the note in the document to reflect your feedback. This can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2403

Thanks
Sri

[2020-07-21 23:56] msbemba commented on #2382
@GaneshPrabuBaburaj Thank you for your feedback. The limitation of 1000 groups applies only to office365 groups. There is no limitation on being a part of Azure AD groups which includes security groups as well as O365 groups. For example,  a user can be a part of 10000 security groups and 1000 office365 groups but he cannot exceed the limit of 1000 w.r.t office365 groups.

I don't see a roadmap to

[2020-07-21 23:59] msbemba commented on #2377
@Chandyno Thank you for your feedback. I find the information on the document to be accurate. Are you referring to change the Title of the document? If yes, I think it means the same as the document covers both the topics. The security group used in the script to enable office 365 group is the key, If the user is a part of the group they can create groups, if they are not they don't get an option

[2020-07-22 00:04] msbemba commented on #2376
@JDMEXOPRO Thank you for your feedback. We have added a note to the document which talks about admin roles needed to make changes to an o365 group. This can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2404

Thanks
Sri

[2020-07-22 00:15] msbemba commented on #2358
@ProKrob  Thank you for your feedback. I have tested with both Azure AD and Azure AD preview module and this is a known issue with  AzureAd module, you will have to Install-Module AzureADPreview to run this cmdlet as mentioned in the document.

Hope this helps!

Thanks
Sri

[2020-07-22 00:19] msbemba commented on #2355
@dmatranga Thank you for your feedback. I was able to get to the record by clicking on the type (in your case TXT)

![image](https://user-images.githubusercontent.com/45987684/88119784-0b8a9b00-cbdf-11ea-89cb-9271e9684a43.png)

Hope this helps!

Thanks
Sri

[2020-07-22 00:55] Chandyno commented on #2377
Hello Sri,

Thanks,
The security group used in the script to enable office 365 group is the key,
==> Agreed.
 If the user is a part of the group they can create groups, if they are not they don't get an option to create a group.
=+>Agreed

But lets take below example:-
Out of 5000user, I got 4800 user who are allowed to create O365 groups but only 200 users not allowed to create group.
So as per y

[2020-07-22 07:45] mohanse opened #2405 "Video is missing"
The following video shows how Double Key Encryption works to secure your content.

Video is missing , seeing video could not be found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484b1a6d-dfd0-1da6-5405-7826ed4c088f
* Version Independent ID: 6e0ba9d2-aaa6-528a-daab-0e75c80f7135
* Content: [Double Key Encryption (DKE)

[2020-07-22 08:28] hwkwicre opened #2406 "Is a link missing?"
"If you can't find a role, go to the bottom of the list and select See more roles."
But I don't see that "See more roles"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f18d8345-78f3-0b16-f585-1e53f49d138f
* Version Independent ID: 015e98be-2db5-11a3-9abc-6f89b44c3f96
* Content: [About admin roles in the Microsoft 365

[2020-07-22 11:13] tcfinney opened #2407 "Revised Timeline for TLS 1.0 and 1.1 deprecation in Office 365 - October 15, 2020"
Hello,

This [article](https://docs.microsoft.com/en-us/microsoft-365/compliance/prepare-tls-1.2-in-office-365?view=o365-worldwide) does not reflect the updated deprecation timeline for TLS 1.0 and 1.1 as stated in [TLS 1.0 and 1.1 deprecation for Office 365](https://docs.microsoft.com/en-us/microsoft-365/compliance/tls-1.0-and-1.1-deprecation-for-office-365?view=o365-worldwide).

Please update th

[2020-07-22 11:42] get-itips commented on #2301
Hello @michelangelobottura Michelangelo, how are you? Hope you are doing good.
Do you happen to have the e-mails headers showing the SPF fail, so I can analyze if we need to adjust any documentation?
Thank you

[2020-07-22 11:47] get-itips commented on #2308
Hello @NiteshSharma2K19 how are you?
Can you please expand your explanation of what you think needs to be improved in the article ?
Thanks

[2020-07-22 12:04] dustygooden opened #2408 "Windows Analytics Deprecated"
Windows Analytics has been retired and replaced by Desktop Analytics. The section referencing Windows Analytics this should be updated to reflect the changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49affecb-7a8a-87fd-7a41-fe244dee06a6
* Version Independent ID: 57d75d53-f22e-42b7-a46c-814429f3308a
* Content: [Wi

[2020-07-22 12:18] PrasadKasireddy commented on #2405
Thanks for sharing feedback, I will update the correct URL

[2020-07-22 12:26] get-itips commented on #2309
Hello @maramraghavendra how are you?
I was able to promote the custom tile created to app launcher without issues. Can you specify what you mean with "new version" ?
Thank you

[2020-07-22 14:04] NiteshSharma2K19 commented on #2308
Hello @get-itips ,

I think someone removed the entire section from this page. There was a section, "Can I pilot Office 365 with just a few email ...." which is no longer available on this page. The information provided in that section was incomplete.

[2020-07-22 14:13] get-itips commented on #2308
Thanks for returning, yes you are right, reviewed the history of the document and that section was removed.

[2020-07-22 14:15] ramuvr opened #2409 "Error when running script"
[Enter feedback here]

When running the script .\Get-AllTenantRulesAndForms.ps1 received the below error (see screenshot)
![image](https://user-images.githubusercontent.com/27629864/88187230-dcb90700-cc68-11ea-9c2f-32dff4bc15de.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82d82939-8b5a-2d4c-6cc9-5a3443ee5b99
* V

[2020-07-22 15:09] yogkumgit commented on #2386
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @milesgratz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-22 15:10] #2386 closed

[2020-07-22 15:19] mvg73 opened #2410 ""a record" not "an record""
[Enter feedback here]
It's "a record" not "an record"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae5f811-9551-ea95-b113-9175a6f08d7e
* Version Independent ID: e1eb8d3d-d439-e814-4a05-aa5bbc11f33e
* Content: [Learn about records - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/r

[2020-07-22 15:35] yogkumgit commented on #2319
@laughingman42  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-07-22 15:43] yogkumgit commented on #2382
@msbemba Thank you very much for the contribution and sharing this explanation. @GaneshPrabuBaburaj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-22 15:46] yogkumgit commented on #2349
Closing via #2382

[2020-07-22 15:53] yogkumgit commented on #2358
@msbemba Thank you very much for the contribution and sharing this explanation. @ProKrob Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-22 15:53] #2358 closed

[2020-07-22 16:20] GaneshPrabuBaburaj commented on #2382
Hi @yogkumgit , As per the ticket with MS #20721418, they confirmed this limitation is not accurate and it is needs to be corrected.

[2020-07-22 16:24] GaneshPrabuBaburaj commented on #2382
Hi @yogkumgit , As per the ticket with MS #20721418, they confirmed this limitation is not accurate and it is needs to be corrected. They also confirmed user can be part of any number of groups irrespective of group type. Have give the ticket ID FYR as well. Please let me know, if you want me to create a new issue for this again.

[2020-07-22 16:27] msbemba commented on #2382
@GaneshPrabuBaburaj NO need to create a new issue. We don't have access to the ticket, But can confirm the same with the author. I'll provide you an update shortly.

[2020-07-22 16:29] GaneshPrabuBaburaj commented on #2382
Thank you @msbemba . Waiting for your reply.!

[2020-07-22 16:59] chrfox commented on #2402
Hi @LouMercuri
Thanks for your comment. I have reviewed the procedures and the reference to the portal is correct.

[2020-07-22 16:59] #2402 closed

[2020-07-22 17:35] PatrickBraam opened #2411 "Incorrect information regarding s/mime considerations for chromium edge?"
I'm wondering if the text is correct in that Domain Joined computers are a prerequisite, as I am successfully able to load the S/MIME extension on AAD joined devices using a Intune Administrative Template, configuring the Edge setting: Control which extensions are installed silently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-07-22 19:55] dariomws commented on #2337
Hi @Canis-Lupis, thank you for your feedback.

My apologies but I don't have this information. For feature requests, I need to kindly redirect you to this resource https://office365.uservoice.com/. There, your suggestion will reach the product team.

[2020-07-22 20:13] cabailey commented on #2410
@mvg73 Hi, thanks for flagging this typo.  Now fixed.

[2020-07-22 20:13] #2410 closed

[2020-07-22 20:20] dariomws commented on #2346
Hi @ka24dime, thank you for your feedback.

I can see the option as available:
![image](https://user-images.githubusercontent.com/33589238/88224485-6fdd4700-cc3f-11ea-9902-3398b010eb96.png)

I don't know how you adquired your license, but if you cannot change the payment frequency I need to kindly suggest opening a support ticket directly from your tenant's administration, they will be able to hel

[2020-07-22 20:27] Canis-Lupis commented on #2337
That wasn't a feature request.
________________________________
From: Dario Woitasen <notifications@github.com>
Sent: Wednesday, July 22, 2020 2:55 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: David Tessmann <dtessmann@OmegaWulf.dog>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Why can both Send As and Send On Behalf b

[2020-07-22 20:48] dariomws commented on #2337
Thanks @Canis-Lupis, I don't have an explanation about why we can set both. Here we are limited to documentation issues and improvements.

[2020-07-22 21:34] ntw2 opened #2413 "Conflicting 'Set-OrganizationConfig' advice"
This assertion:

Seems to conflict with this statement:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a7c1600-c310-fb7f-7976-2025ee9256f3
* Version Independent ID: 9241081b-eabb-78a8-af86-2c0f27e7e671
* Content: [Enable unlimited archiving — Admin Help - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/micr

[2020-07-22 21:50] markjjo commented on #2413
@ntw2 The point the second statement is trying to make is if you enable auto-expanding archiving for your entire org, the setting on the mailbox is ignored (in otherwords, the mailbox property isn't set to True). So if AutoExpandingArchive  is set to True for the org, it's enabled for all mailboxes, auto-expanding archiving is enabled even if the AutoExpandArchive mailbox property (Get-Mailbox | F

[2020-07-22 21:50] #2413 closed

[2020-07-22 22:47] msbemba commented on #2377
@Chandyno  Thank you for the detailed requirement. Unfortunately, the attributes available are minimal at the moment (Group creation allowed Group ID and Enable group creation) and you can only Manage who can create the groups and not the other way around.

![image](https://user-images.githubusercontent.com/45987684/88236654-1b67b500-cc9b-11ea-92af-53e96cbda47b.png)

If there are more attributes a

[2020-07-22 22:51] Chandyno commented on #2377
Thank You for taking time to confirm the same. Appreciate.

[2020-07-22 22:51] #2377 closed

[2020-07-22 22:58] msbemba commented on #2369
@MPenny-nCipher  Thank you for your feedback. We have made changes to the doc via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2414

Thanks
Sri

[2020-07-22 23:05] msbemba commented on #2370
@Alex-Catalin  Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2415

Thanks
Sri

[2020-07-22 23:10] msbemba commented on #2371
@steadrosa Thank you for your feedback. I have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2416

Note states Shared mailboxes don’t require a separate license. However, if you want to enable In-Place Archive or put an In-Place Hold or a Litigation Hold on a shared mailbox, you must assign an Exchange Online Plan 1 with Exchange Online Archiving or E

[2020-07-22 23:24] msbemba commented on #2392
@lukewegener Thank you for your feedback. We are checking with the engineering team and will update you shortly.

Thanks
Sri

[2020-07-22 23:30] chrisda commented on #2362
@yvesrosius, I've been told that the value Default means English. I've updated the topic accordingly.

Thanks for the feedback.

Closing.

[2020-07-22 23:30] #2362 closed

[2020-07-22 23:52] lukewegener commented on #2392
I have just been told that there was an issue with the spock email alias
and that it has been fixed

On Thu, 23 Jul 2020, 8:54 am Sriraman M S, <notifications@github.com> wrote:

[2020-07-23 00:13] msbemba commented on #2392
@lukewegener Thank you. I was able to test this from my side as well and the emails are getting delivered.

Thanks
Sri

[2020-07-23 00:46] LouMercuri commented on #2402
Yep, I realised after hitting send that my tenant is not yet onboarded and so I don’t see the Settings option yet.

From: Chris Fox MSFT<mailto:notifications@github.com>
Sent: Thursday, 23 July 2020 2:59 AM
To: MicrosoftDocs/microsoft-365-docs<mailto:microsoft-365-docs@noreply.github.com>
Cc: LouMercuri<mailto:lou.mercuri@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Micro

[2020-07-23 00:58] imanboukly opened #2418 "Teams dependent services architecture diagram"
Hi,
Please replace Office 365 group with Microsoft 365 group name under Teams dependent services architecture illustration diagram. Thank you, Iman Boukly

[2020-07-23 02:36] maramraghavendra commented on #2309
Hi Andres,

I am good, thanks for asking!

According to the official document, there will be an option to pin to launcher. https://docs.microsoft.com/en-us/microsoft-365/admin/manage/customize-the-app-launcher?view=o365-worldwide<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fmicrosoft-365%2Fadmin%2Fmanage%2Fcustomize-the-app-launcher%3Fview%3Do365-w

[2020-07-23 04:52] MaratMussabekov commented on #2310
Hello @obhayes ,
This article is about update channels for services. You can read about feature updates for client apps [here](https://docs.microsoft.com/en-us/deployoffice/overview-update-channels).
Thank you

[2020-07-23 07:04] yogkumgit commented on #2385
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @miguelvidex Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 07:04] #2385 closed

[2020-07-23 07:30] AndrewJolly commented on #2316
Sorry i forgot to put the link in:
https://docs.microsoft.com/en-us/microsoft-365/compliance/apply-sensitivity-label-automatically?view=o365-worldwide

[2020-07-23 07:47] yogkumgit commented on #2346
@dariomws  Thank you very much for the contribution and sharing this explanation. @ka24dime Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 07:47] #2346 closed

[2020-07-23 08:07] yogkumgit commented on #2392
@msbemba  Thank you very much for the contribution and sharing this explanation. @lukewegener Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 08:08] #2392 closed

[2020-07-23 08:56] yogkumgit commented on #2355
@msbemba  Thank you very much for the contribution and sharing this explanation. @dmatranga Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-23 08:57] #2355 closed

[2020-07-23 09:47] ksgopal4 opened #2421 "500 limit for encryption labels"
Hi, great article, but I was wondering if the limit of 500 encryption label is due for increase at any time. We potentially need encryption labels per project (ie each label defines a project specific set of who is allowed to access). We will probably very soon run out of labels in this case. Any thoughts welcome.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-07-23 12:53] get-itips commented on #2309
Hello @maramraghavendra
I do have the pin to launcher option

![image](https://user-images.githubusercontent.com/36666927/88288426-21c15580-ccca-11ea-9dfd-96bff9be66e3.png)

But this is an action every user has to perform.

[2020-07-23 13:41] Kpapadak1 opened #2422 "Connection limit error if script run more than a couple times"
[Enter feedback here]
The script does not disconnect from tenant after running. If you need to run the script more than a couple times you will hit a connection throttling limit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b759021-39d7-0383-2f50-b5b813217f97
* Version Independent ID: 5f5dfeab-1160-3994-2cb8-1ca7c67

[2020-07-23 13:53] #2124 closed

[2020-07-23 13:53] #2324 closed

[2020-07-23 13:59] dariomws commented on #2324
@kazukiy-MS I got the confirmation that the limit is 500k, to go beyond that limit you must contact Microsoft Support.

Thanks you for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-07-23 14:00] dariomws commented on #2124
@WeiPinChai to go beyond that limit you must contact Microsoft Support.

Thanks you for taking out some time to open the issue. I appreciate and encourage you to do the same in the future also.

[2020-07-23 14:54] bubhat opened #2423 "Can you explain more on how to perform the relevance training in Advanced edisocvery? This article is not very clear and all links lead to classic advanced edisocvery portal"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b333a4bc-5d18-e680-636f-19da864cbaa6
* Version Independent ID: 2878aac9-73a3-2037-ec78-494534262ba7
* Content: [Use the Relevance module to analyze data in Advanced eDiscovery - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/

[2020-07-23 15:28] patrichard opened #2424 "Missing step"
The doc says to give the policy a name and specify the URLs not to rewrite. But you can't enter URLs unless you turn on at least one of the features:
**On - URLs will be rewritten and checked against a list of known malicious links when user clicks on the link.**
Once that's checked, you can enter the URLs in the list.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-07-23 16:41] jesslyn-omm opened #2425 "Incorrect Instructions for Admin page"
The settings under "Microsoft 365 Groups guest settings" for settings are obsolete.  The settings mentioned are no longer applicable for the Microsoft 365 admin page.
Steps in error
To set Microsoft 365 Groups guest settings

In the Microsoft 365 admin center, in the left navigation, expand Settings.
Click Services & add-ins.
In the list, click Microsoft 365 Groups.
Ensure that the Let group membe

[2020-07-23 16:52] 1trevor opened #2426 "Not enough information"
This article contains steps on how to enable the feature, but does not explain at all what the feature does or how it works. This appears to be the only article on this feature, so there is effectively no documentation explaining what the feature is or does.

Does it require the endpoint is enrolled in MDATP?
When/how are documents uploaded to the "MDATP cloud"?
Where does the document need to res

[2020-07-23 17:52] LFAdmin opened #2428 "Broken link"
This link is broken
https://docs.microsoft.com/en-us/azure/information-protection/faqs.md#whats-the-difference-between-the-azure-information-protection-classic-and-unified-labeling-clients

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484b1a6d-dfd0-1da6-5405-7826ed4c088f
* Version Independent ID

[2020-07-23 17:59] markjjo commented on #2422
@Kpapadak1 Thanks for the feedback. Are you hitting the connecting limit for EXO PowerShell, SPO PowerShell, or both? I'll look into adding something to the before you begin section (similar to what we have documented [here](https://docs.microsoft.com/en-us/microsoft-365/compliance/use-content-search-for-targeted-collections?view=o365-worldwide#before-you-use-content-search).

Until then, as you p

[2020-07-23 17:59] #2422 closed

[2020-07-23 19:01] laughingman42 commented on #2319
I am not sure this is a feature request. The data is already coming in. What's not clear in the documentation is where is the data coming from. Like For IdentityInfo the corresponding entry is: Account information from various sources, including Azure Active Directory
Is it not possible to define "various sources". And whether the data comes via Azure ATP or Defender ATP, or O365.

[2020-07-23 19:32] markjjo commented on #2423
@bubhat Thanks for feedback. The reason we point to the classic AeD documentation is also because we redirect to the actual classic AeD Relevance experience and UI. We're working to update the Relevance experience in AeD v2 and when we do the documentation will be updated accordingly. I'll try to remember to comment on this issue when the roadmap is updated with this work.

[2020-07-23 19:32] #2423 closed

[2020-07-23 19:45] cabailey commented on #2421
@ksgopal4  No, this technical restriction has been there for a while now and I'm not aware of any plans to increase it.  If this is becoming problematic for you, I suggest you raise this with your Microsoft Technical Account Manager and/or raise it on the MIP UserVoice site - probably this category for rights management (since it's not limitation of sensitivity labels but the backend rights manage

[2020-07-23 19:45] #2421 closed

[2020-07-23 20:19] denisebmsft commented on #2418
Hello @imanboukly. Can you please tell us to which article(s) your feedback applies? This information will help us route the issue to the correct writer/team. Thanks!

[2020-07-23 20:29] msbemba commented on #2064
@johnaweiss  We have had a facelift to the document and the options have changed. Hope this helps!

[2020-07-23 20:39] msbemba commented on #2374
@mevenega Thank you for your feedback. We have made changes to the doc via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2429

Thanks
Sri

[2020-07-23 22:26] chrisda commented on #2199
@MrsKay007, I'm not sure I understand the request. You don't need to identify a message as malicious in order for ZAP to work. How to recognize phishing/malicious messages is important, but I'm not sure it belongs in this topic.

To answer your second question, you could say that the Report Message add-in (or any method of reporting malicious messages/files) can influence ZAP. For example, message

[2020-07-23 22:31] chrisda commented on #2221
@bartvermeersch, we need some more clarification:

- What report type and operation name values are returned in the audit record? Feel free to attach a sanitized snippet from the unified audit log.

- When you say "creation of a message does get audited" do you mean created and saved to Drafts, but not sent, or composed and sent?

- What subscription level do you have (E3, E5, etc.).

Thanks!

[2020-07-23 23:03] cmcatee-MSFT commented on #2291
@USAGonzo00 If you have 300 licenses and try to reduce to 250, that action is blocked and you will be told to unassign licenses from users until you're at or below 250.

[2020-07-24 01:31] thecathcart opened #2430 "Link to "Secure SharePoint Online sites and files" is broken"
The link to **Secure SharePoint Online sites and files** at the bottom of the page is broken are returns a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4bf71804-c91b-2464-3313-57b973ee5583
* Version Independent ID: b7803227-625d-9354-ef0e-1fb94407e835
* Content: [Recommended secure document policies - Micr

[2020-07-24 02:11] maramraghavendra commented on #2309
I am not sure how you have this option, but I checked with more than 4-tenant don’t have same option so I raised bug to PG and confirm same.

[cid:image001.png@01D661A2.B888FD30]

Regards,
Raghu

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Thursday, July 23, 2020 8:54 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Raghavendra Rao Maram <ragm

[2020-07-24 11:55] Alex-Catalin opened #2434 "Step 5: Delete items in the Recoverable Items folder does not contain proper information"
Step 5 is not really very accurate, since the article is about deleting items from Recoverable Items folder specifically in a mailbox, the reference made to the article https://docs.microsoft.com/en-us/microsoft-365/compliance/search-for-and-delete-messages-in-your-organization?view=o365-worldwide is not really helpful.

The customer needs to know how to use New-ComplianceSearch and New-Compliance

[2020-07-24 13:30] yogkumgit commented on #2371
@msbemba Thank you very much for the contribution and updating the documentation with PR. @steadrosa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 13:30] #2371 closed

[2020-07-24 14:49] yogkumgit commented on #2064
@msbemba  Thank you very much for the contribution and sharing this explanation. @johnaweiss Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-24 14:49] #2064 closed

[2020-07-24 14:52] dbetlow opened #2435 "Forward phone number?"
What about users with Office 365 Phone plans?  How do we forward their phone number without retaining their existing phone license?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Version Independent ID: 702f2dc1-46f8-508a-68bc-b5d033c56a9a
* Content: [Remove a former employee - Mi

[2020-07-24 14:59] SLeuthold opened #2436 "What languages are supported?"
What languages/locales are supported for keyword dictionary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 196b87de-20ff-37ea-79b8-beb37a1361e0
* Version Independent ID: d3aa9f91-0cec-b9df-6fc7-415242393e3f
* Content: [Create a keyword dictionary - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-3

[2020-07-24 16:15] dariomws commented on #2319
@laughingman42 Now I understand, you're talking about add a new column to the table here:
https://docs.microsoft.com/microsoft-365/security/mtp/advanced-hunting-schema-tables#schema-tables
This column should have information about the source of the data.

I cannot provide this information but I'll forward your feedback. Thank you!

[2020-07-24 16:36] dariomws commented on #2337
@Canis-Lupis Thank you again for taking the time to open this issue. My apologies again but I don't have the detail you are asking for.

My personal opinion is that in different systems you can apply a lot of permissions and always the most restrictive permission wins, and the same applies here.

[2020-07-24 17:19] markjjo commented on #2434
@Alex-Catalin Thanks for the feedback and the suggested solution. Using targeted collection and FolderID is a good solution to lack of "search dumpster" parameter for Content Search. I will add this to my backlog of work. I assume that you're internal Microsoft and that you have tested your proposed solution. If so, please ping me offline and follow up with your test results.

[2020-07-24 17:19] #2434 closed

[2020-07-24 19:00] r-milne opened #2437 "Change on premises"
Hi folks,

can we change  "on premises" to on-premises please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a7c1600-c310-fb7f-7976-2025ee9256f3
* Version Independent ID: 9241081b-eabb-78a8-af86-2c0f27e7e671
* Content: [Enable unlimited archiving — Admin Help - Microsoft 365 Compliance](https://docs.microsoft.com/en-

[2020-07-24 19:09] markjjo commented on #2437
@r-milne Thanks for heads up. Next time, please fix typos like this by submitting a pull request. Here's how: https://review.docs.microsoft.com/en-us/office-authoring-guide/contribute-get-started-setup-quick-update?branch=master

[2020-07-24 19:09] #2437 closed

[2020-07-24 19:23] get-itips commented on #2309
If you have communication with PG please ask is this is going to be removed soon.
I can not reproduce so I can not remove that information yet.
Thank you

[2020-07-24 20:38] chrfox commented on #2341
@heymybru
After talking this through with the owner of the other topic and going through the UI we can confirm that both articles are correct.  I think perhaps a closer reading of the statement in https://docs.microsoft.com/en-us/microsoft-365/compliance/classifier-getting-started-with?view=o365-worldwide  will show that it is referring to **_retention_** label policies.

Where you can use trainab

[2020-07-24 20:38] #2341 closed

[2020-07-24 20:54] chrfox commented on #2350
hi @shivtorov thanks for catching this, I have updated the IB document

[2020-07-24 20:54] #2350 closed

[2020-07-24 20:57] chrfox commented on #2370
hi @Alex-Catalin thanks for pointing this out, a correction has been added and published

[2020-07-24 20:57] #2370 closed

[2020-07-24 21:04] chrfox commented on #2436
@sleuthold - thanks for asking, I am checking with the engineering team

[2020-07-24 21:49] faoquong commented on #1646
@SusanBradley it is a little hard to repro the spelling issues you are referring. can you share snapshots of the actual report that has this issue?

[2020-07-24 22:59] cmcatee-MSFT commented on #1757
@Peter-CH-NZ Can you please send me the name of your domain in email (do not post it here): cmcatee@microsoft.com
Thanks!

[2020-07-25 14:48] mcantin opened #2444 "Exclusion list for Targeted Release"
If Microsoft Teams is excluded, can we add that to the first note, and/or be more specific to which services targeted release affects? This article was a little confusing since Microsoft Teams and SharePoint Online are joined at the hip.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd43f78a-7c74-5c56-c1f0-24deb342455

[2020-07-26 05:23] yogkumgit commented on #2311
@MaratMussabekov  Thank you very much for the contribution and updating the documentation with PR. @g7cnp
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-26 05:23] #2311 closed

[2020-07-26 05:32] yogkumgit commented on #2337
@dariomws  Thank you very much for the contribution and sharing this explanation. @Canis-Lupis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-26 05:32] #2337 closed

[2020-07-27 12:43] edwardclau opened #2445 "The warning is confusing."
Your warning regarding setting passwords to never expire is confusing.  I believe you mean that if you set a password to never expire then change it back to "none" or a number of days - the password age count still remains at the place it was when the password policy was set to not expire.  NOT the password set to never expire - expires in 90 days as it appears to read.  The wording isn't clear.

[2020-07-27 13:02] Alex-Catalin opened #2446 "The ENS certificate is expired since April 23 2020"
The certificate available for download here: https://docs.microsoft.com/en-us/microsoft-365/compliance/offering-ens-spain?view=o365-worldwide#azure and here https://docs.microsoft.com/en-us/microsoft-365/compliance/offering-ens-spain?view=o365-worldwide#office-365 has expired.

The certificate comes in the form of a PDF file, it's not an SSL certificate. I believe the document should be updated.

[2020-07-27 13:50] msbemba commented on #2317
@R1ckH THank you for your feedback. The customer lockbox is included with the Microsoft 365 or Office 365 E5 subscriptions and can be added to other plans with an Information Protection and Compliance or an Advanced Compliance add-on subscription.

This has been added to the document and all users who need to use the customer lockbox feature should have the license added.

Hope this helps!

Thanks

[2020-07-27 14:29] get-itips commented on #2301
Hello @michelangelobottura did you have chance to see my question? Thanks

[2020-07-27 14:32] get-itips commented on #2309
Hello @maramraghavendra how are you? Could you get more information about this? As I said, I can not reproduce on several tenants, on my side. Thank you

[2020-07-27 16:46] jbrysonMSFT opened #2447 "GCC Availability for Report Message Add-In"
With the updated "user submission" policy in GCC, the report message add-in now works.  Verified in a test and customer tenant.  The submission policy disables the option to send the reported message to Microsoft.

This screen shot is from a GCC (demo) tenant.

![Report-Message-Add-In_GCC](https://user-images.githubusercontent.com/54324805/88568518-ba274500-cffe-11ea-8505-327a0b161901.png)

![GCC-

[2020-07-27 19:56] msbemba commented on #2428
@LFAdmin Thank you for your feedback. We have fixed the link in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2448

Thanks
Sri

[2020-07-27 19:58] chrisda commented on #2447
@jbrysonMSFT, fixed.

Thanks for the feedback.

Closing

[2020-07-27 19:58] #2447 closed

[2020-07-27 20:09] msbemba commented on #2430
@thecathcart Thank you for your feedback. The referencing document was an old one and does not exist anymore. So that has been removed now via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2449

Thanks
Sri

[2020-07-27 20:15] msbemba commented on #2425
@jesslyn-omm Thank you for your feedback. The steps have changed and we have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2450

Thanks
Sri

[2020-07-27 20:32] msbemba commented on #2318
@sfilinto Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2451

Thanks
Sri

[2020-07-27 20:38] msbemba commented on #2296
@groves226 Thank you for your feedback. Sorry that you had to go through this. We have made changes in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2452

Thanks
Sri

[2020-07-27 20:42] msbemba commented on #2288
@iaasazure Thank you for your feedback. The limitations are specifically for including Dynamic delivery so we will leave it here. We have made changes to the Document  to reflect your requests via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2453

Thanks
Sri

[2020-07-27 20:53] msbemba commented on #2287
@matziq  Thank you for your feedback. I was able to test the below script in the document and it works as expected. Maybe the document was updated after you entered this issue. But let us know if you need any changes in the document.

$GroupName = "<GroupName>"

Connect-AzureAD

$template = Get-AzureADDirectorySettingTemplate | ? {$_.displayname -eq "group.unified.guest"}
$settingsCopy = $template

[2020-07-27 20:58] msbemba commented on #2395
@aszalacinski Thank you for your feedback. We have got the correct link updated in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2454

Thanks
Sri

[2020-07-27 21:01] msbemba commented on #2405
@mohanse Thank you for your feedback. The Microsoft video was removed and instead, we have added another link to that via Youtube (https://youtu.be/vDWfHN_kygg)

Hope this helps!

Thanks
Sri

[2020-07-27 21:03] GaneshPrabuBaburaj commented on #2382
@dariomws , I understood the changes are waiting for approval. However, Could you please provide some tentative date.

[2020-07-27 21:05] msbemba commented on #2406
@hwkwicre Thank you for your feedback. The see more is now replace by show all categories on your admin center when you manage roles for a user. I have updated the same via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2455

Hope this helps!

Thanks
Sri

[2020-07-27 21:07] msbemba commented on #2407
@tcfinney  Thank you for your feedback. The document now updated with the correct date of October 15, 2020, as stated in  TLS 1.0 and 1.1 deprecation for Office 365.

Hope this helps!

Thanks
Sri

[2020-07-27 21:10] msbemba commented on #2408
@dustygooden Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2456

Thanks
Sri

[2020-07-27 21:13] msbemba commented on #2418
@imanboukly  Thank you for your feedback. Can you provide us the Article which needs to be updated?

Thanks
Sri

[2020-07-27 21:18] msbemba commented on #2382
@GaneshPrabuBaburaj Sorry about the delay. The approval usually takes between 1-14 days depending on the issue. We will keep you updated.

Thanks
Sri

[2020-07-27 21:49] msbemba commented on #1727
@pawp81 Thank you for your feedback. We have added a section which talks about required permissions (https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/office-365-air?view=o365-worldwide#required-permissions-to-use-air-capabilities)

You need to be a - Global Administrator or a - Security Administrator to start an investigation.

Hope this helps!

Thanks
Sri

[2020-07-27 21:52] msbemba commented on #1434
@handattu Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2457

Thanks
Sri

[2020-07-27 21:57] msbemba commented on #1839
@analogitguy Thank you for your feedback. We have added a reference to the document to Stating that the records should "This value MUST end with a period (.)" instead of explicitly mentioning it only for Cname. the other request to update SPF records has been changed in the document. The combine records mean to add the required Microsoft values to the current record so that you have a single SPF r

[2020-07-27 22:05] msbemba commented on #1974
@toddjohnson39 Thank you for your feedback. Allowing guests to use web-only means the customer session token is revoked after they are done and they need to log in every time they access the services. This is safe if the customer's computer is infected and tries to use applications use the existing token which doesn't expire for 90 days if using a desktop client that supports modern auth (Mainly b

[2020-07-27 22:09] msbemba commented on #2070
@tcfinney Thank you for your feedback. The usage analytics is not yet available for GCC. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2458

Thanks
Sri

[2020-07-27 22:13] msbemba commented on #2110
@hobbsenigma Thank you for your feedback. We have made changes to the document with the updated steps. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2459

Thanks
Sri

[2020-07-27 22:18] msbemba commented on #2118
@macosmin Thank you for your feedback. The Microsoft Authenticator app backs up your account credentials and related app settings, such as the order of your accounts, to the cloud. After backup, you can also use the app to recover your information on a new device, potentially avoiding getting locked out or having to recreate accounts. The instructions can be found here -https://docs.microsoft.com/

[2020-07-27 22:21] msbemba commented on #2133
@tonydavies Thank you for your feedback. You are correct. The Enable ADAL is the Regdword that needs to be created in the Identity folder and the value 1 or 0 decides whether modern auth is enabled or disabled.

Hope this helps!

Thanks
Sri

[2020-07-27 22:27] msbemba commented on #2139
@BlueOdyssey Thank you for your feedback. As a partner, if you have delegated admin rights then you connect to the template app on behalf of your customer.

 If the access is present, Then I would start which checking if Microsoft usage analytics is enabled and the Template app is initiated in power BI. More information can be found in the document -https://docs.microsoft.com/en-AU/microsoft-365/a

[2020-07-27 22:35] msbemba commented on #2148
@limjianan Thank you for your feedback. I have checked and this is correct, both the URL's will take you the Microsoft endpoint manager admin center. The URL has not been officially changed and you will see the document updated if it happens.

Hope this helps!

Thanks
Sri

[2020-07-27 22:43] msbemba commented on #2170
@hwkwicre Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2170

Thanks
Sri

[2020-07-27 22:49] msbemba commented on #2169
@hwkwicre Thank you for your feedback. Using this conditional access required Azure AD Premium P1 license. I have added a note in the document about the same via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2462

[2020-07-27 23:10] #2139 closed

[2020-07-27 23:35] Dongiftedgh opened #2463 "It's not a crime to be blessed by God Almighty"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5caf38e-e511-0763-55c8-0f54dcc6abee
* Version Independent ID: 05e41f24-433e-7535-8434-b4d51995ae0c
* Content: [What is a domain? - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/what-is-a-domain?redire

[2020-07-27 23:35] Dongiftedgh commented on #2463
Hello

[2020-07-28 01:16] qaehtesh opened #2464 "Update request on "Phish messages can be reviewed and released by users"
Update request on "Phish messages can be reviewed and released by users

We updated our content saying Phish cannot be released by user as below,
-----------------------------
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages?view=o365-worldwide
Release: For spam (not phish) messages, you can release the me

[2020-07-28 04:34] yogkumgit commented on #2317
@msbemba  Thank you very much for the contribution and sharing this explanation. @R1ckH Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 04:34] #2317 closed

[2020-07-28 04:38] MaratMussabekov commented on #2312
Hello @serggu,
https://securitycenter.windows.com/hunting - this one is for Microsoft Defender Advanced Threat Protection. See [here](https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/advanced-hunting-overview)
https://security.microsoft.com/advanced-hunting - this one is for Microsoft Threat Protection. See [here](https://docs.microsoft.com/en-us/microsoft

[2020-07-28 04:51] yogkumgit commented on #2301
@get-itips  Thank you very much for the contribution and digging deep into it.  @michelangelobottura We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update

[2020-07-28 04:51] #2301 closed

[2020-07-28 05:45] yogkumgit commented on #2425
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jesslyn-omm Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 05:45] #2425 closed

[2020-07-28 05:48] maramraghavendra commented on #2309
No I confirm with PG on this.(attached ICM)

Still I can see same error for new tenant so pls create new tenant and check again.

If you want I can share my test account to you.

https://icm.ad.msft.net/imp/v3/incidents/details/192694225/home

Regards,
Raghu

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Monday, July 27, 2020 10:32 PM
To: MicrosoftDocs/microsoft-365-docs <microso

[2020-07-28 06:02] yogkumgit commented on #2288
@msbemba Thank you very much for the contribution and updating the documentation with PR. @iaasazure Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 06:02] #2288 closed

[2020-07-28 06:05] yogkumgit commented on #2287
@msbemba Thank you very much for the contribution and sharing this explanation. @matziq Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 06:05] #2287 closed

[2020-07-28 06:11] yogkumgit commented on #2405
@msbemba Thank you very much for the contribution and sharing this explanation. @mohanse Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 06:11] #2405 closed

[2020-07-28 06:21] yogkumgit commented on #2407
@msbemba Thank you very much for the contribution and sharing this explanation. @tcfinney Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 06:21] #2407 closed

[2020-07-28 06:57] LFAdmin commented on #2428
Welcome.

Regards,
Prabhat Nigam | Microsoft MVP

On Jul 27, 2020, at 12:56, Sriraman M S <notifications@github.com> wrote:

﻿

@LFAdmin<https://github.com/LFAdmin> Thank you for your feedback. We have fixed the link in the document via PR##2448<https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2448>

Thanks
Sri

—
You are receiving this because you were mentioned.
Reply to this email direc

[2020-07-28 07:08] yogkumgit commented on #1727
@msbemba  Thank you very much for the contribution and sharing this explanation. @pawp81 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 07:08] #1727 closed

[2020-07-28 07:14] jseerden opened #2466 "Docs refer to Intune Azure Portal experience that is being retired on August 1, 2020."
Referring to: "1. Verify MDM Authority in Intune
Go to portal.azure.com and on the top of the page search for Intune. On the Microsoft Intune page, select Device enrollment, and on the Overview page make sure MDM authority is Intune.

If MDM authority is None, click the MDM authority to set it to Intune.
If MDM authority is Microsoft Office 365, go to Devices > Enroll devices and use the Add MDM a

[2020-07-28 07:15] yogkumgit commented on #1839
@msbemba Thank you very much for the contribution and sharing this explanation. @analogitguy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 07:15] #1839 closed

[2020-07-28 07:17] sebhe opened #2467 "max number of entries seems to be 500"
The custom list of blocked URLs seems to have a limit of 500. This limit is not yet mentioned on the page, can you please add?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 393afc64-7cf4-1a2c-33b5-8cb818f8c7fd
* Version Independent ID: 82fbfb15-1e17-7bfc-9a6b-bfff3e97a0bb
* Content: [Set up a custom blocked URLs list

[2020-07-28 07:18] yogkumgit commented on #1974
@msbemba Thank you very much for the contribution and sharing this explanation. @toddjohnson39 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 07:18] #1974 closed

[2020-07-28 07:25] yogkumgit commented on #2118
@msbemba Thank you very much for the contribution and sharing this explanation. @macosmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 07:25] #2118 closed

[2020-07-28 07:27] yogkumgit commented on #2133
@msbemba Thank you very much for the contribution and sharing this explanation. @tonydavies Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 07:27] #2133 closed

[2020-07-28 07:32] yogkumgit commented on #2148
@msbemba Thank you very much for the contribution and sharing this explanation. @limjianan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-28 07:32] #2148 closed

[2020-07-28 11:26] chloegilbert opened #2468 "Content search reference page - feedback column on right hand side"
On this page the feedback column on the right hand side flows over the content in the middle column and you cant close the feedback tab to see the text. Even zooming out on the page just makes the right hand column wider.
Happens in Chrome and in Edge.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e83b77e5-e3ec-6a5f-1

[2020-07-28 12:55] get-itips commented on #2309
@twernermsft Tom, can you kindly step in and help us confirm if the functionality to promote a custom tile to app launcher has been or is next to be removed?
I can not reproduce what @maramraghavendra kindly shares here, but he says he confirmed with PG.
I appreciate.

[2020-07-28 14:42] GitRomney opened #2469 "Link leads to a 404 error."
The link at the bottom of the page, "Use Centralized Deployment PowerShell cmdlets to manage add-ins" leads to "404 - Page not found"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62dfa25-e420-38e4-ff47-05cca62d14ec
* Version Independent ID: 5ea03ce0-38b9-e005-a430-e98442e2ec83
* Content: [Deploy add-ins in the admin

[2020-07-28 14:46] steadrosa commented on #2371
Thanks so much guys.  Amazed this made it in to the live KB!  The provided solution makes sense.  Thank you so much.

[2020-07-28 16:22] Sirkkuw commented on #1842
I got this from PG
in the Teams user activity report, the definition of metric "Other activity" should be: the user is considered active but has a zero value for the Chat Messages, 1:1 calls, Channel Messages, Total Meetings, and Meetings organized. Examples actions are when the Microsoft Teams client is activated to the foreground, actions were taken in the compose message area, toasts appeared i

[2020-07-28 16:32] tcfinney commented on #2070
Many thanks, @msbemba!  I'll monitor the document for the update :)

[2020-07-28 16:58] DeanGross opened #2471 "Required Build"
[Enter feedback here]
what build of Windows 10 is required? please add this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 820cb23f-f33d-241d-5ce2-1d824bcd3747
* Version Independent ID: 36d24f60-27b6-f2c1-ccda-1b49a1d4f073
* Content: [Learn about Microsoft 365 Endpoint data loss prevention (preview) - Microsoft 365 Com

[2020-07-28 17:06] markjjo commented on #2468
@chloegilbert Thanks for feedback, but not sure I understand, and can't seem to repro. Some of the tables in this topic have horizontal scroll bars, which is a result of column-width do to non-breaking lines. But not sure if that is what you're referring to. Maybe you could attach a screenshot, but I may not be about to do much if its related to the browser chrome.

[2020-07-28 17:39] msbemba commented on #2176
@nogeekleftbehind Thank you for your feedback. The referencing document was an old one and does not exist anymore. So that has been removed now via PR##2449

Thanks
Sri

[2020-07-28 20:27] msbemba commented on #2160
@Strick1969 Thank you for your feedback. We have made the change on the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2473

Thanks
Sri

[2020-07-28 20:30] msbemba commented on #2098
@radiantspace Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2472

Thanks
Sri

[2020-07-28 20:41] msbemba commented on #2163
@NRClay Thank you for your feedback. You are correct, Business voice subscription can be added to M365 business premium. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2474

Thanks
Sri

[2020-07-28 20:49] msbemba commented on #2164
@trajano Thank you for your feedback. It is possible to upgrade DL to M365 groups and we have added a section to this document explaining this. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2475

Thanks
Sri

[2020-07-28 21:00] msbemba commented on #2190
@andypituch Thank you for your feedback. We have made changes in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2476

Thanks
Sri

[2020-07-28 21:06] msbemba commented on #2200
@JuanZQ Thank you for your feedback. We have added a note to the document. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2477

Thanks
Sri

[2020-07-28 21:06] jwojan opened #2478 "Step 3 to enroll in a Trial does not work."
Step 3 from this doc for selecting a Trial is not an option, at least in my tenant. I only have a Buy option:

On the next page, select Get free trial, which gives you 25 user licenses for a one-month term, or you can Buy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3893a86c-51f0-48cf-ff7c-9b4a0eff6ccc
* Version Ind

[2020-07-28 21:16] andypituch opened #2479 "Give an example for creating DEP in SPO/OneDrive Geo"
Hello!

The documentation for Register-SPODataEncryptionPolicy does not list an example nor does this documentation. The instructions for a DEP in Exchange online provided an example/sample values and I'd like to see the same for SPO.

SPO is different since it asks for 3 pieces of information versus using the URI for the key like it does in EXO...  So displaying how that breaks down would be help

[2020-07-28 21:39] Sirkkuw commented on #2011
It should be meetings participated in.

[2020-07-28 21:39] #2011 closed

[2020-07-28 22:16] msbemba commented on #2411
@PatrickBraam Thank you for your feedback. It works on AAD joined devices as well. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2480

Thanks
Sri

[2020-07-28 22:19] msbemba commented on #2424
@patrichard Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2481

Thanks
Sri

[2020-07-28 22:39] msbemba commented on #2203
@ii-batman  Thank you for your feedback. You need to be a Global Administrator to initiate sign-out. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2482

Thanks
Sri

[2020-07-28 22:52] msbemba commented on #2151
@forester123 Thank you for your feedback. I was able to test this and looks like all other admin roles have access to deploy add-ins at the moment. I'll review this with the author and fix this in the backend or update the document accordingly.

Thanks
Sri

[2020-07-29 05:21] egdeeptha opened #2483 "Enabling Customer Lockbox for Office 365 from Graph API or Powershell"
Hi,
Is it possible to enable the customer lockbox feature through Graph API or through Powershell. ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52aa5-3876-1854-0fcc-279d694cb45d
* Version Independent ID: bfa3001d-e71a-705c-3492-5add564d131d
* Content: [Customer Lockbox Requests - Microsoft 365 Compliance](https:

[2020-07-29 05:38] maramraghavendra commented on #2309
@Allen Talidro (Shanghai Wicresoft Co,.Ltd.)<mailto:v-alltal@microsoft.com>: pls help me to share PSR.

Regards,
Raghu

From: Andres Mariano Gorzelany <notifications@github.com>
Sent: Tuesday, July 28, 2020 8:56 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Raghavendra Rao Maram <ragma@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsof

[2020-07-29 05:50] maramraghavendra commented on #2309
Hi Raghu,

The customer created a customer tile called "PitchBook" . It successfully shows in the landing page but when you click on ellipsis, there is no option to "Pin to launcher" . Please see screenshots below:
[cid:image001.png@01D665AE.422F7690]

[cid:image002.png@01D665AF.27680920]

As per this article, https://docs.microsoft.com/en-us/microsoft-365/admin/manage/customize-the-app-launcher?v

[2020-07-29 10:47] yogkumgit commented on #2170
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 10:47] #2170 closed

[2020-07-29 11:14] yogkumgit commented on #2390
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @markoshea1212 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 11:14] #2390 closed

[2020-07-29 11:21] yogkumgit commented on #2310
@MaratMussabekov  Thank you very much for the contribution and updating the documentation with PR. @obhayes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 11:21] #2310 closed

[2020-07-29 11:26] yogkumgit commented on #2070
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @tcfinney Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-29 11:26] #2070 closed

[2020-07-29 11:42] shervin-sa commented on #1385
Why was this closed? I have downloaded the same kit, and these VM's are still missing.

[2020-07-29 14:55] Sokarpi opened #2484 "custodian-based hold is not supported to be edited in SCC."
It is not explicitly stated in this document that Custodial Holds can not be turned ON or OFF from the UI. They can only be enabled and disabled by Admin via PowerShell:
Admin should be able to use Set-CaseHoldPolicy -Enabled $True to make the change.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115cfe0b-c8b5-193d-19

[2020-07-29 14:58] Sirkkuw commented on #1842
I got this clarification: the User is considered active but has a zero value for the Chat Messages, 1:1 calls, Channel Messages, Total Meetings, and Meetings organized metric values. Examples actions are when a user opens a Channel Message post but does not reply or when a Private message is received and it is read but not responded to.

[2020-07-29 15:21] JGruszczyk commented on #1385
Hi - we have tested and validated the VMs are there, please ensure that you have adequate resource space available for the full kit. We have independently verified the kit hydrates in two different instances

[2020-07-29 15:23] andrePKI opened #2485 "Minimum required version (Windows Desktop)"
I don't get these minimum required versions for Windows Desktop, e.g. Word/Excel/PowerPoint.
The table lists "1910+" as a minimum level for even the most basic features like "Manually apply, change, or remove label".
I (my enterprise) have Office 365 ProPlus, 1908 (build 11929.20904). But no issue here - things work as expected.
Or is it because I have installed the AIP Unified Labeling Client? Do

[2020-07-29 15:38] DeanGross opened #2486 "What's New listing"
[Enter feedback here]
Please add a What's New/Change Log page to  make it easier to keep track of changes to the Sensitive Info Types

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba098f73-3ad2-9850-d2f4-6667e15a7be2
* Version Independent ID: e171ad34-39a5-82d1-b3ac-716b1ae3dd7e
* Content: [Sensitive information type

[2020-07-29 15:40] cabailey commented on #2485
@andrePKI  Yes, the minimum versions are for built-in labeling and not relevant if you're using the Azure Information Protection unified labeling client.  See the section https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-office-apps?view=o365-worldwide#office-built-in-labeling-client-and-the-azure-information-protection-client

Even if you have the minimum version for Wi

[2020-07-29 15:40] #2485 closed

[2020-07-29 16:08] shervin-sa commented on #1385
I've downloaded the kit twice.

I have installed it, and HYD-CLIENT1,2,3,4,5,6,7 are missing. The VHDX files for each of the corresponding clients are 4MB in size. All the servers install and import fine.

As for the environment, I am running this on a windows 10 machine with 32GB ram, and 1TB HD, with over 500GB free.

[2020-07-29 16:19] tfurstms opened #2487 "Great article! Please update its title."
Thanks so much for the content on this page and keeping it up to date! My ask is if you can update the title of the page to include the word/phase "deprovision", "remove" or "delete" users.  I am asking because Bing searches for these words did not find this article.  Thank you!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-07-29 17:00] #2291 closed

[2020-07-29 20:09] msbemba commented on #2464
@qaehtesh Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2489

Thanks
Sri

[2020-07-29 20:11] msbemba commented on #2463
@Dongiftedgh  Thank you for your feedback. Could you please provide us more information on what needs to be updated in the document or if you have any questions?

Thanks
Sri

[2020-07-29 20:30] msbemba commented on #2445
@edwardclau Thank you for your feedback. I'll explain the warning

Change made on 07/29/2020 for Org Wide to 90 days(All users)
Change made on 08/29/2020 for a user "John Smith" to never expire

John's passwords will expire on 10/29/2020, 90 days from the date when the org-wide setting was updated.

1) In the meantime, if John changed his passwords, then the passwords will never expire from the da

[2020-07-29 20:36] msbemba commented on #2444
@mcantin Thank you for your feedback. We have moved the Important note to the top of the page and added teams to the exclusion list. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2490

Thanks
Sri

[2020-07-29 20:44] msbemba commented on #2436
@SLeuthold Thank you for your feedback. Keyword dictionaries support up to 100,000 terms per dictionary and support any language. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2492

Thanks
Sri

[2020-07-29 20:52] msbemba commented on #2467
@sebhe Thank you for your feedback. We have added a note to the document to mention this fact. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2493

Thanks
Sri

[2020-07-29 21:00] SLeuthold commented on #2436
@msbemba @chrfox What languages are supported was the original ask. Is there a list of languages supported somewhere?

[2020-07-29 21:33] msbemba commented on #2436
@SLeuthold  I don't see a list of languages mentioned anywhere. I will wait for @chrfox to see if he can get that. But from my last interaction and testing, it supports all languages.

Thanks
Sri

[2020-07-29 21:36] msbemba commented on #2469
@GitRomney Thank you for your feedback. We have corrected the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2494

Thanks
Sri

[2020-07-29 21:49] msbemba commented on #2478
@jwojan Thank you for your feedback. I tested this and See we no longer have this option from o365 E3, But Trial is available for M365 E3 and E5. I have also made these changes on the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2495

[2020-07-29 21:59] markjjo commented on #1693
@it-cairnmillar We checked with Support and Product Marketing and they said that this scenario is not in violation of the license because the mailbox is not hosted on premises but is migrated back and forth. This has to be done because the on-premises is the "source of authority" in terms of the directory service. Moving the mailbox back to on-premises, making a config change and then moving it ba

[2020-07-29 21:59] #1693 closed

[2020-07-29 22:24] msbemba commented on #2483
@egdeeptha Thank you for your feedback. Enabling Customer lockbox is available only on the GUI as mentioned the document. However, Approve/Deny can be done via Powershell. I have added a note to the doc via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2496

Thanks
Sri

[2020-07-29 22:30] msbemba commented on #2471
@DeanGross Thank you for your feedback. We have added the minimum required build (Version 10.0.17134.1) to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2497

Thanks
Sri

[2020-07-29 23:53] Murdos-AU opened #2498 "Document missing information on excluding SharePoint sites from Retention Policy"
There is the option in Retention Policy under SharePoint to exclude specified sites from the policy. This capability is not mentioned or detailed in this document. Getting this feature to work is problematic at best.

Please create some detailed instructions on how to exclude a SharePoint site from the policy. Also include information and steps on how to investigate known errors (eg when exclusion

[2020-07-30 01:15] cabailey commented on #2498
@Murdos-AU  Thank you for your feedback.  This page focuses to how retention works for SharePoint and OneDrive.  For instructions to configure a retention policy, see https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide.

Specifically for configuring the SharePoint and OneDrive locations, see https://docs.microsoft.com/en-us/microsoft-365/complian