[2020-10-08 11:26] msbemba commented on #3084
@kangdu Thank you for your feedback. I tested it in two tenants and It is visible on both. The other requirement is that you should have an Exchange Online mailbox assigned to you and you've signed into your mailbox at least once. These steps are required for custom tiles in Microsoft 365.

Thanks
Sri

[2020-10-08 11:33] yogkumgit commented on #2973
@chrisda Please help us resolving this issue. Thanks.

[2020-10-08 11:35] yogkumgit commented on #3022
@chrfox Please help us resolving this issue. Thanks

[2020-10-08 11:37] yogkumgit commented on #3066
@MikePlumleyMSFT Please help us resolving this issue. Thanks.

[2020-10-08 11:39] yogkumgit commented on #3085
@kelleyvice-msft Please help us resolving this issue. Thanks.

[2020-10-08 11:41] msbemba commented on #3079
@s3kumar6 Thank you for the feedback, Sudhakar.

I think there is some confusion of terms here. So I’ll use the term studio definitions as that’s what we rely on publicly.
End support – “The date when Microsoft no longer provides automatic fixes, updates, or online technical assistance.”
Deprecate – “The stage of the product lifecycle when a feature or functionality is no longer in active developm

[2020-10-08 11:46] msbemba commented on #3075
@robmazz We have a Financial services blog -https://techcommunity.microsoft.com/t5/financial-services-blog/bg-p/FinancialServicesBlog which was last updated in 2018, is this still relevant/updated or can we remove the reference from this page?

Thanks
Sri

[2020-10-08 11:54] msbemba commented on #3064
@larryrst Thank you for your feedback. I hear what you are saying, but is that not covered under the section - Forward a former employee's email to another employee or convert to a shared mailbox? - https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee?view=o365-worldwide#forward-a-former-employees-email-to-another-employee-or-convert-to-a-shared-mailbox

Let me kno

[2020-10-08 12:02] msbemba commented on #3062
@Rob-ab Thank you for your feedback. This is more of a support query and needs to be answered by our Billing team. You can raise a support request from the need help option on the admin center.

@yogkumgit There are no changes required in this document and the issue can be closed.

Thanks
Sri

[2020-10-08 12:13] msbemba commented on #3056
@srchauhan29 Thank you for your feedback. I tested this and you are correct. the automatic option does not block automatic external forwarding instead it is  System-controlled meaning it allows outbound spam filtering to control automatic external email forwarding. We have made the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3097

Thanks
Sri

[2020-10-08 13:13] DeanGross opened #3098 "Inappropriate recommendation"
[Enter feedback here]

Task 5 is recommending that we use PAM for the Compliance Center admin roles. This does not currently  appear to be possible because PAM is limited to Exchange and does not work with the roles used in the Compliance Center. Please replace task 5 with something that can actually be performed. (or enhance the functionality of PAM to include a broader set of services)
---
####

[2020-10-08 13:19] Somu76 opened #3099 "Duplicate paragraphs"
There seem to be duplicate paragraphs in this section:
https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/difference-between-document-understanding-and-form-processing-model?view=o365-worldwide#where-they-are-created

**Form processing models are created in PowerApps AI Builder, but the creation is initiated directly from a SharePoint document library. Form processing model creati

[2020-10-08 13:27] yogkumgit commented on #2890
@kelleyvice-msft Thank you very much for sharing this explanation. @arunkumar4003 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-08 13:28] #2890 closed

[2020-10-08 14:04] srchauhan29 commented on #3056
It is still showing the same old in below link. Please check https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/external-email-forwarding?view=o365-worldwide Sent from Mail for Windows 10 From: Sriraman M SSent: Thursday, October 8, 2020 5:43 PMTo: MicrosoftDocs/microsoft-365-docsCc: Snehal Chauhan; MentionSubject: Re: [MicrosoftDocs/microsoft-365-docs] clarification requi

[2020-10-08 14:15] msbemba commented on #3056
@srchauhan29 We have now submitted the changes via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3097 and it takes 48 hours to show up live after the author merges it.

Thanks
Sri

[2020-10-08 14:23] DanielBirmingham opened #3100 "Invalid character update"
Under section '2. Directory object and attribute preparation', bullet point 'userPrincipalName', it states 'An umlaut is also an invalid character.'  While that is true, other diacritical marks are also not supported, such as tildes and accents, and this has led to customer confusion.  It would be ideal to update the sentence to something along the lines of:

Letters with diacritical marks are inv

[2020-10-08 14:42] larryrst commented on #3064
Hi Sri,

No, I don’t think that it is, or more accurately, it is wrong in its statement implications.  That article states that “Email forwarding requires that the former employee's account has a license.”  This is wrong.  I can (and should) forward the email of a shared mailbox to another user after terminating a valuable employee, after converting them to a shared mailbox.  This is done without

[2020-10-08 15:23] cabailey commented on #3080
The issue is not with this page, but n the Sensitive Information Type documentation, so assigning to @chrfox

[2020-10-08 16:06] ewensell opened #3101 "js.live.net"
js.live.net required for "Save As" -> "Save to another folder" in Excel for the web (at least that is where we discovered it).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP address ran

[2020-10-08 16:09] rmda opened #3102 "Requirements for S/MIME Extension in Microsoft Edge"
Hello,

The documentation here is useful but it should perhaps elaborate more on the two required components for Microsoft Edge to successfully use S/MIME in OWA. Specifically:

1) The Microsoft Edge S/MIME Extension available here: https://microsoftedge.microsoft.com/addons/detail/microsoft-smime/gamjhjfeblghkihfjdpmbpajhlpmobbp
2) SmimeOutlookWebChrome.msi (or at least my understanding is that t

[2020-10-08 17:13] cmcatee-MSFT commented on #3062
@Rob-ab Can you please send me your tenant id and an invoice id so we can investigate? [Here are steps to find your tenant id](https://docs.microsoft.com/onedrive/find-your-office-365-tenant-id). Please send directly to me: cmcatee@microsoft.com
Thanks!

[2020-10-08 20:55] ctryphon opened #3104 "Create an Audit Log retention policy in Compliance Center"
[Can you please update the documentation on this page (https://docs.microsoft.com/en-us/microsoft-365/compliance/audit-log-retention-policies?view=o365-worldwide&viewFallbackFrom=o365-worldwide%22) and let users know the "Audit retention policies" tab on the Audit page (https://compliance.microsoft.com/auditlogsearch) is not yet available.  I attempted to create a report using the "Create audit re

[2020-10-08 21:14] chrisda commented on #2619
UI has been updated.

Thanks for the feedback.

Closing

[2020-10-08 21:14] #2619 closed

[2020-10-08 21:19] chrisda commented on #2391
@jose-camacaro, the download locations for files that you can use to test Safe Documents have been added to the topic. These files are harmless, but will trigger a Safe Documents response, similar to the EICAR.TXT file for testing anti-malware/virus solutions.

Thanks for the feedback.

Closing.

[2020-10-08 21:19] #2391 closed

[2020-10-08 21:21] markjjo commented on #3104
@ctryphon Thanks for the heads up/feedback. I will remove the bit about the tab. As per the section on viewing audit retention policies, youshould be able to get info about your policies by running the following command in EXO PowerShell:

Get-UnifiedAuditLogRetentionPolicy | Sort-Object -Property Priority -Descending | FL Priority,Name,Description,RecordTypes,Operations,UserIds,RetentionDuration

[2020-10-08 21:21] #3104 closed

[2020-10-08 21:26] markjjo commented on #3104
Correction: you run the Get-UnifiedAuditLogRetentionPolicy in Security & Compliance Center PowerShell.

[2020-10-08 21:27] chrisda commented on #644
@aldoug, @mymebenha, this issue is quite old, and the topic has been substantially updated.

Is the topic still lacking?

[2020-10-08 23:14] JoeDavies-MSFT commented on #3101
@ewensell I have forwarded your request to the product team who manages these endpoints for their consideration in a future update. Thanks for letting us know.

[2020-10-08 23:14] #3101 closed

[2020-10-08 23:44] #3072 closed

[2020-10-09 02:20] bt101 commented on #3041
@yobougaz Thank you for confirming it's a product bug.  Given that you are a member of Microsoft and that this is a Microsoft Product bug I'm a bit surprised that you closed the issue and asked me to open an issue with the product team. Given you write the documents to support the product I would expect you would have a close relationship with the team and have an ability to pass the issue to the

[2020-10-09 02:30] SLeuthold commented on #1096
Looping in @ryancairnes for visibility

[2020-10-09 05:56] yobougaz commented on #3041
@bt101
Hello bt101,

I apologize but I am not following you, was your message supposed to go to me or @yogkumgit ?

Thank you 😊

[2020-10-09 07:21] yogkumgit commented on #3088
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AlexCesarini Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-09 07:22] #3088 closed

[2020-10-09 07:26] yogkumgit commented on #3079
@msbemba Thank you very much for the contribution and sharing this explanation. @s3kumar6 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-09 07:26] #3079 closed

[2020-10-09 07:29] yogkumgit commented on #3075
@robmazz Please help us resolving this issue. Thanks.

[2020-10-09 07:32] yogkumgit commented on #3062
@msbemba Thank you very much for the contribution and sharing this explanation. @Rob-ab Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-09 07:32] #3062 closed

[2020-10-09 07:43] yeezus24 opened #3110 "typo ('were' instead of 'where')"
[Enter feedback here]

Fourth line of the Message Submission Format block should start with 'where'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e53205b5-8850-42b6-0b0c-8a61b7ef7776
* Version Independent ID: 0a9e7903-ce3c-e877-e6b3-b45d09642308
* Content: [User submissions policies - Office 365](https://docs.microsof

[2020-10-09 08:00] aldoug commented on #644
Hi Chris, thanks for coming back to me

It still lacks any information on the Rescan verdict, which is the key part as it tells the user whether their submission has done anything

I think it would be beneficial for the original creators to detail the possible results and their meanings, as I only know a couple, and whilst I think I understand them I cant say for certain

Alisdair Douglas
Support

[2020-10-09 08:07] michelangelobottura commented on #2301
Dear yogumgit,
I had seen your question but I cannot answer it because SPF does not work this way. SPF errors do not cause SMTP protocol errors nor get bounced . Mails which fail SPF checks are filed as spam or discarded silently depending on the SPF policy on the receiving end. Our users which send emails with recipient organization which implement SPF hard fail report their email are not receive

[2020-10-09 12:23] get-itips commented on #2301
Hello @michelangelobottura how are you?
I think that, for your scenario, the best will be to open a support ticket from your Tenant, they will be able to help you with your specific situation as here we are limited to documentation fixes and updates. Thank you

[2020-10-09 13:55] msbemba commented on #3065
@DragosC21 Thank you for your feedback. For now, I see only Global and Billing Admins have access to the module. However, There is a UserVoice created for this feature and can be tracked here -https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/40751890-allow-read-only-access-to-mscommerce-module

You can vote for the idea with your email address and will be intimated when t

[2020-10-09 14:04] msbemba commented on #3071
@Mr-K07  Thank you for your feedback. I tested this and it works for me in multiple tenants/groups. This could be more of a support related query and request you to contact Microsoft support via the need help section on the m365 admin center.

![image](https://user-images.githubusercontent.com/45987684/95592462-4a095680-0a66-11eb-830e-ad11d30040b6.png)

Thanks
Sri

[2020-10-09 14:09] cachave opened #3112 "Current page does not reflect the correct view"
Hello,

I am from the data protection department for office 365 and we use this link on a daily basis to send our customers the link for them to make sure they can enable self service password reset for their business accounts

this information is incorrect and incomplete with the current view  we now have no link to share to our customers

please asssit

---
#### Document Details

⚠ *Do not edit

[2020-10-09 17:24] chrisda commented on #3110
@yeezus24, I fixed it. But in the future, you can make updates like this directly without opening a GitHub issue first. For more information, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2020-10-09 17:24] #3110 closed

[2020-10-09 18:08] msbemba commented on #3077
@SvenBell Thank you for your feedback. We have added a note to the document to mention that this works only without MFA. This can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3115

Please note this feature is still under discussion and can be found here in UserVoice -https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/36561154-enable-mfa-on-cen

[2020-10-09 18:18] msbemba commented on #3078
@SvenBell Thank you for your feedback. This document is intended to determine is Centralized deployment works for your organization. For information about Managing your add-ins, Please visit -https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-addins-in-the-admin-center?view=o365-worldwide

If for a reason you are not able to see the add-in after deploying them, I'd recommend you co

[2020-10-09 18:25] msbemba commented on #3082
@lomayor We see that the option to Turn Off or Opt-out has been removed from the admin center.

I just wanted to confirm with you that it is indeed removed so that we can make the changes accordingly to the document.

Thanks
Sri

[2020-10-09 18:34] msbemba commented on #3083
@Katerine459 Thank you for your feedback. The first listing implies to Microsoft professional services that are available to medium and enterprise businesses. To answer your question yes, M365 for Small, Medium and Enterprise business are all in-scope.

I have renamed O365 to M365 in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3116

Thanks
Sri

[2020-10-09 19:12] msbemba commented on #3091
@Michael-Ashe Thank you for your feedback. That is a valid point that you bring up. My suggestion would be to use the below two options

1) Setup email communication under preferences so that you can receive email notifications about the service health, which can be forwarded to your staff(note that only two addresses can be added here)
2) You can also use the Microsoft 365 Admin app on your mobil

[2020-10-09 19:17] msbemba commented on #3092
@dzirnhelt Thank you for your feedback. It may take up to 24 hours or results can vary widely before restrictions are removed. After the IP address is removed from the blocked sender's list, email messages from that IP address will be delivered to recipients who use Microsoft 365. So, make sure you're confident that email sent from that IP address won't be abusive or malicious; otherwise, the IP a

[2020-10-09 19:25] msbemba commented on #3076
@flowl Thank you for your feedback. I tested it now and was able to enable DKIM with the two steps mentioned in the document. Could you please elaborate on what happens when you follow the two steps?

1) Publish Cname
2)Enable DKIm from EAC

Thanks
Sri

[2020-10-09 19:37] msbemba commented on #3083
@Katerine459 Just received an update from the author that the changes need to be cleared and synced with supporting PDF download and the same is Currently in discussions about updates and reformatting of this download. You will see changes to this soon.

@yogkumgit Author is currently in discussion about updates and reformatting of this download and will be fixing this in the backend. PR has been

[2020-10-09 20:13] Michael-Ashe commented on #3091
To be clear, my feedback wasn't that the document needed changing, but that there were no workable alternatives. Authentication wasn't working for me, so I'm not sure how I could have accessed those other resources. In the middle of an outage, getting information quickly is what would be helpful.

[2020-10-09 20:14] dzirnhelt commented on #3092
Thanks very much Sri.
ᐧ

On Fri, Oct 9, 2020 at 12:17 PM Sriraman M S <notifications@github.com>
wrote:

[2020-10-09 20:57] chrisda commented on #2597
@ArttuArstila, the Phish reason includes messages quarantined by anti-phishing protection (spoof settings or impersonation protection). I've updated the topic accordingly.

Thanks for the feedback.

Closing

[2020-10-09 20:57] #2597 closed

[2020-10-10 01:28] O365scripts opened #3117 "authenication"
Can we update the url and add the missing T?
Thanks!

https://docs.microsoft.com/en-us/microsoft-365/campaigns/m365-campaigns-multifactor-**authentication**?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae5f3d8d-c63f-d4ca-c310-36d9b91cd936
* Version Independent ID: c8b33fd1-75de-d2bf-27cc-6a9aa8f78

[2020-10-11 09:24] GiantCrocodile opened #3118 "List of countries is unsorted in German"
Hello,

the list of countries in this article is unsorted for the German translation of this article. This make it difficult to find your country without using your browser's search function. Please make sure that the list is correctly sorted in translations as it is in the original English article.

Best Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2020-10-11 13:14] flowl commented on #3076
@msbemba there is no "Enable DKIM" button until the keys have been generated on the server... it is impossible it worked for you but I think you have the keys already generated.

This is a screenshot of a domain without generated keys, **no** enable/disable button available:

![Screenshot 2020-10-11 at 15 12 20](https://user-images.githubusercontent.com/4543262/95679618-58758080-0bd4-11eb-870d-072

[2020-10-11 13:24] flowl commented on #3076
@msbemba I found there is actually a way to add keys with the webinterface: https://protection.office.com/dkimv2

1. This page is not mentioned or linked from the above how-to or the DKIM page in mail protection. This is actually step 2 of 3 and DKIM cannot be enabled with only "2 steps" like you claim. DNS, Keys, Enable, 3 steps on completely different pages.

2. The method is buggy and doesnt wo

[2020-10-12 02:38] yogkumgit commented on #3065
@msbemba Thank you very much for the contribution and sharing this explanation. @DragosC21 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 02:38] #3065 closed

[2020-10-12 02:40] yogkumgit commented on #3071
@msbemba Thank you very much for the contribution and sharing this explanation. @Mr-K07 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 02:40] #3071 closed

[2020-10-12 02:47] yogkumgit commented on #3078
@msbemba Thank you very much for the contribution and sharing this explanation. @SvenBell Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 02:47] #3078 closed

[2020-10-12 02:50] yogkumgit commented on #3082
@lomayor Please reply to this query. Thanks.

[2020-10-12 02:51] #3083 closed

[2020-10-12 02:56] yogkumgit commented on #3091
@msbemba  Thank you very much for the contribution and sharing this explanation. @Michael-Ashe. Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this docu

[2020-10-12 02:56] #3091 closed

[2020-10-12 02:59] yogkumgit commented on #3092
@msbemba Thank you very much for the contribution and sharing this explanation. @dzirnhelt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 02:59] #3092 closed

[2020-10-12 03:07] yogkumgit commented on #3084
@msbemba Thank you very much for the contribution and sharing this explanation. @kangdu Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 03:07] #3084 closed

[2020-10-12 03:11] yogkumgit commented on #3064
@msbemba Thank you very much for the contribution and sharing this explanation. @larryrst Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 03:14] yogkumgit commented on #3056
@msbemba Thank you very much for the contribution and updating the documentation with PR. @srchauhan29 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 03:14] #3056 closed

[2020-10-12 03:19] yogkumgit commented on #3026
@denisebmsft @chrisda @msbemba Thank you very much for the contribution and sharing this explanation. @noraisk Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 03:20] #3026 closed

[2020-10-12 04:30] yogkumgit commented on #2901
@JoeDavies-MSFT and @msbemba Thank you very much for the contribution and sharing this explanation. @ingepepe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 04:30] #2901 closed

[2020-10-12 04:41] yogkumgit commented on #3068
@andybergen Thank you very much for sharing this explanation. @GiantCrocodile Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 04:41] #3068 closed

[2020-10-12 05:12] seansquires commented on #3066
Thanks for the feedback. SharePoint Syntex uses the same service credits as if you used AI Builder separately, but we include 1M/month if you have 300 or more licenses (otherwise you'd have to purchase additional licenses or these credits separately). Like the other license add-ons, these service credits are pooled at the tenant level, there is no roll-over to the next month, and their consumption

[2020-10-12 05:28] yogkumgit commented on #3069
@chrisda Thank you very much for sharing this explanation. @Scribliotech Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 05:28] #3069 closed

[2020-10-12 05:34] msbemba commented on #3076
@flowl Thank you for your feedback. I just tried to do it for a test tenant and did not have to create a key.

![image](https://user-images.githubusercontent.com/45987684/95708653-74336200-0c7a-11eb-82cb-3d59f893fd96.png)

 I hit the enable Button and get the below screen tp publish DNS records

![image](https://user-images.githubusercontent.com/45987684/95708715-94632100-0c7a-11eb-866c-f6cce501ec

[2020-10-12 05:38] msbemba commented on #3076
@MSFTTracyP Could you please help with these steps? I have tried to enable DKIM on a couple of tenants and it works without me creating a key pair. Which means Just publishing CName (wait for 10 minutes) and then enable DKIM from EAC. However,  @flowl Has posted screenshots of it asking for Keypair creation(above). Let us know if the creation of keypair is required so that we can add that to the d

[2020-10-12 05:44] yogkumgit commented on #3076
@MSFTTracyP Please help us in resolving this issues. Thanks

[2020-10-12 05:46] msbemba commented on #3064
@larryrst That is correct. You don't need a license to set up forwarding on a shared mailbox. I have made both the changes in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3120

Thanks
Sri

[2020-10-12 06:24] SvenBell commented on #3078
Thanks for adding the extra Note to the page about the Updating of deployment experience 👍
The old Add-In's menu option has gone missing for us, it was there a few weeks ago, Settings>Integrated apps is also not a menu option for our tenancy yet...

[2020-10-12 06:31] SvenBell commented on #3077
Thanks for adding note about the O365CompatibilityChecker tool only working without MFA.

I have voted on UserVoice link provided. I note that it has been 21+ months of no progress on enabling MFA for this essential tool, ideally this should have been resolved before the new Deployment experience begun rolling out and effecting production tenancies. MFA is now default for Admin's so bit disappoint

[2020-10-12 06:37] msbemba commented on #3077
Agree with you that this should not be delayed. I have voted as well, hopefully, we will have this feature resolved as soon as possible.

[2020-10-12 06:39] msbemba commented on #3078
@SvenBell The Menu options are rolled out in a phased manner. Hopefully, you will see the new options soon. If you don't see either of the options, I'd recommend contacting the Support team to ensure that the settings and configurations are up to date on the tenant.

Thanks
Sri

[2020-10-12 06:54] yogkumgit commented on #1845
@MaratMussabekov  Thank you very much for the contribution and sharing this explanation. @jmvalente Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 06:54] #1845 closed

[2020-10-12 07:10] yogkumgit commented on #2611
@msbemba Thank you very much for the contribution and sharing this explanation. @elenaost as author is taking looking into it, We proceed here to close it. If you see a documentation update is required, please feel free to open an issue for the same.  Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-12 07:10] #2611 closed

[2020-10-12 08:11] GiantCrocodile commented on #3066
I see @seansquires. So what do we actually pay the 5$/M for for SharePoint Syntex? It looks like that I can do the very same with other Office 365 services or Azure sertvices with the same expenses and the same or nearly the same afford without needing the SharePoint Syntex license on top. I noticed that other customers feel the same regarding unclear benefits of this license.

[2020-10-12 08:32] bakerm00 opened #3121 "Disable access to office store blocks sideload for devs"
please make a note that disabling users from accessing the office store will also affect any developers within "your company" who publish using appcentre from testing by "Side Loading" files.  (https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins)

central deployment methods are of no help in this scenario; developers

[2020-10-12 17:26] TinaMcN commented on #3118
@GiantCrocodile thank you for letting us know about this.  We are investigating how to fix this sort order issue.  FYI @OfficeGlobal

[2020-10-12 20:00] UrmasO opened #3125 "Wrong ISO"
ISO/IEC 27701 for security techniques requirements.
ISO/IEC 27001 for privacy management requirements.

Are you sure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac42bb5-3204-4839-6fcb-5a5052a0d9cb
* Version Independent ID: 57cde474-a2e7-fc4b-339d-3e28377ae035
* Content: [Accountability readiness checklist for the

[2020-10-12 21:17] seancorryio opened #3126 "Documentation Outdated - References Resource Quota which is deprecated in SP Shell"
Hi, this documentation is not correct.

When running the provided script I get an error message WARNING: The parameter ResourceQuota is obsolete.

Would really appreciate update to documentation and powershell script as current documentation does not work!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad800da8-dcea-57

[2020-10-12 22:52] davidslight opened #3127 "E-mail on UPDATES"
We need to have emails on UPDATED status - for example the date on 67138 just went back by two weeks but there was no email sent to alert us. I guess it will be in the weekly digest but that is not sufficient.
Please add option to get alerts when items are UPDATED
David
REFER TO: [Case #:22312909] - Teams meeting recordings to OneDrive for Business

---
#### Document Details

⚠ *Do not edit this s

[2020-10-13 01:14] jose-camacaro opened #3128 "ATP Safe Attachment counter in dashboard remains blank, while the feature is actively working?"
Greetings,

Over a month ago, we enabled "ATP Safe Attachments" feature in Office 365 Security & Compliance. We also configured it to send notice of attachment blocks to an email address to monitor its effectiveness, and we have seen thousands of legitimate blocks (malicious attachments, no false positives). We were expecting these numeous occurances to show up as a rolling weekly sum in the "Thre

[2020-10-13 03:26] jennifer-eilers opened #3130 "Misspelled word"
At the end of these steps, your domain will stay registered with the host that you purchased the domain from, but Microsoft 365 can use it for you email addresses (like user@yourdomain.com) and other services.

You should be your
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2e4e45-6ad7-eb79-aecb-0d7a89b06a03
* Versi

[2020-10-13 07:04] yogkumgit commented on #3090
@msbemba Thank you very much for the contribution and updating the documentation with PR. @softwarecraft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-13 07:04] #3090 closed

[2020-10-13 07:10] yogkumgit commented on #3064
@msbemba Thank you very much for the contribution and updating the documentation with PR. @larryrst Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-13 07:10] #3064 closed

[2020-10-13 07:22] yogkumgit commented on #1757
@cmcatee-MSFT Thank you very much for sharing this explanation. @lbradshaw27 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-13 07:22] #1757 closed

[2020-10-13 07:26] yogkumgit commented on #2235
@sep2li Team confirmed that they are working on the issue and soon will update the documentation. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-13 07:26] #2235 closed

[2020-10-13 10:39] Alex-Catalin opened #3131 "Old instructions about how to use eDiscovery"
The article still contains instructions about how to use eDiscovery in Exchange Online, instead of Security and Compliance. The article should be updated, to contain the same detailed instructions, but adapted for eDiscovery/Content Search in SCC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce9d3d55-537e-52f4-72f6-c

[2020-10-13 10:56] hetzbh opened #3132 "images with links"
Although the content on this page is useful, the screenshots are tiny and they are not linked to a full size screenshots. Any chance that you could fix it please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b58981cc-c653-509e-2bbf-3d2d0231b18c
* Version Independent ID: 7aa12d46-4f12-e06a-407d-7916e1748b69
* Content:

[2020-10-13 12:37] elrod-johnson opened #3133 "error in regex"
`<img height="?1"? width="?1"? sr\c=.?http\://`

do you really want `sr\c=` in the above line?
i don't think so, it should be `src=`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37115a33-d073-cf0d-1506-2d2571cf1007
* Version Independent ID: 07dd4b19-c5a5-1fba-cbad-3650922d357f
* Content: [Use mail flow rules to filter

[2020-10-13 13:37] michaelvgibson opened #3134 "Certificates on Hardware Tokens"
Hello, could you please add a section discussing whether or not medium security certificates, or certs tied to a hardware device such as USB, can be used (or not used) with the online product versions?  Thanks so much, Mike

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 132dea81-d2ff-4438-dcf1-e3be2972d00e
* Version In

[2020-10-13 16:26] wmassingham-tnn opened #3135 "Broken links"
The "How to deal with situations like a new smart phone" and "Troubleshoot MFA sign-ins" links under Next Steps point to the same page, which does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1e6c9a-9644-6d86-3962-d36bf1efd656
* Version Independent ID: 96142d6c-71de-6ea9-0361-dbec82647b15
* Content: [Set

[2020-10-13 21:18] cmcatee-MSFT commented on #2986
This has been escalated internally. Closing this issue since no documentation change is needed.

[2020-10-13 21:18] #2986 closed

[2020-10-13 21:31] GiantCrocodile opened #3137 "Add information for GoBD in Germany"
Hello,

it would be great if Microsoft provides information like an overview or instructions to work on to become compliant with German gov guidance 'Grund­sät­ze zur ord­nungs­mä­ßi­gen Füh­rung und Auf­be­wah­rung von Bü­chern, Auf­zeich­nun­gen und Un­ter­la­gen in elek­tro­ni­scher Form so­wie zum Da­ten­zu­griff (GoBD)' as like as it does for other compliance or certification topics. For deta

[2020-10-13 21:38] Sirkkuw commented on #2966
I don't know. I will ask someone on the PG.

[2020-10-13 22:21] msbemba commented on #3130
@jennifer-eilers Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3138

Thanks
Sri

[2020-10-13 22:23] msbemba commented on #3127
@davidslight Thank you for your feedback. I have this turned on my tenant and receive an Email notification for major updates. If you want to receive email notices about major updates, verify that Send me emails for major updates is ON.

Hope this helps!

Thanks
Sri

[2020-10-13 22:27] msbemba commented on #3126
@JoeDavies-MSFT I was able to test the resource quota on modern sites and it doesn't work, but for classic sites, it works. Could you please confirm so that I can add a note to the document?

Thanks
Sri

[2020-10-13 22:33] msbemba commented on #3125
@UrmasO Thank you for your feedback. We have made changed to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3139

Thanks
Sri

[2020-10-13 22:37] msbemba commented on #3117
@O365scripts Thank you for your feedback. I have checked and don't find this broken URL in this document. Could you please help where the URL is missing T?

Thanks
Sri

[2020-10-13 22:41] msbemba commented on #3100
@DanielBirmingham Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3140

Thanks
Sri

[2020-10-13 22:43] msbemba commented on #3099
@Somu76 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3141

Thanks
Sri

[2020-10-13 22:51] markburland opened #3142 "Admin -> Settings -> Settings"
Admin -> Settings -> Settings

Doesn't exist!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba164b8e-a574-0744-ce02-23bda994e505
* Version Independent ID: 05018469-d6f8-0eb5-956c-730991912f8b
* Content: [Turn Microsoft Bookings on or off](https://docs.microsoft.com/en-us/microsoft-365/bookings/turn-bookings-on-or-off?

[2020-10-14 00:12] davidslight commented on #3127
I also have this turned on for my many tenants. I am very familiar.
But I want another update when a “major update” is updated as was the case for MC222640
David

(Updated) Microsoft Teams: meeting recordings saved to OneDrive and SharePoint
MC222640, Plan For Change, Published date: Sep 22, 2020
Admin impact, New feature, User impact

From: Sriraman M S <notifications@github.com>
Sent: Tuesday, O

[2020-10-14 02:00] TomTurkington opened #3143 "Blocking Senders In Quarantine"
I keep clicking block sender in quarantine and the same senders keep showing up in my quarantine email.  If I click block sender that should mean don't quarantine them, kill them instead, so I don't understand why they keep showing up in the quarantine email/why blocking them isn't really working.  Otherwise, Outlook had a wonderful feature where you could just block domains and not just individua

[2020-10-14 04:02] yogkumgit commented on #3030
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kerbos Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-14 04:02] #3030 closed

[2020-10-14 04:13] yogkumgit commented on #2969
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cuthbertnibbles Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-14 04:13] #2969 closed

[2020-10-14 04:17] yogkumgit commented on #2991
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dahifi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-14 04:17] #2991 closed

[2020-10-14 04:20] mbrancato opened #3144 "Incorrect Operation values for Azure AD operations"
Most of the audit log Operations do not have whitespace. In the section for Azure AD, however, the Operation values are a bit different. Seeing as this seems to be the official documentation for possible values, there seems to be a slight inaccuracy to the possible event values.

For example there is an Operation value listed in the documentation as:
[code]

However, the actual value returned from

[2020-10-14 04:23] mbrancato commented on #3144
I looked and the same goes for events in the "Application administration activities" section. There may be more. If this documentation is not the correct source for the audit log values, please let me know where the primary source is located.

[2020-10-14 07:53] msbemba commented on #3127
@davidslight Thank you for the feedback.

@Sirkkuw This could be a one-off issue as well as I can confirm I received other updates but not on this one. Could you please check and let us know if this bug needs to be reported to the product group?

Thanks
Sri

[2020-10-14 08:50] mshaheen75 opened #3145 "SIEM is standing for Security Information and Event Management not Security Incident and Event Management"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1245b43f-721b-0bd0-b081-5307b5537e57
* Version Independent ID: d9ffc009-5576-9174-cc7c-b7caef1bb82b
* Content: [SIEM integration with Advanced Threat Protection - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/

[2020-10-14 12:19] cachave commented on #3112
any updates?

[2020-10-14 14:53] dkotars opened #3146 "How to check on the status of retention labels published to Exchange - Is third command correct?"
The command shows:

" $xmlprops.Properties.MailboxTable.Property | ? {$_.Name -like "ELC*"}   ```"

That generates an error (yes ran the 2 pervious commands):

Where-Object : A positional parameter cannot be found that accepts argument '``'.

Should the command be:

" $xmlprops.Properties.MailboxTable.Property | ? {$_.Name -like "ELC*"}"

---
#### Document Details

⚠ *Do not edit this section. It

[2020-10-14 15:16] webstaff opened #3147 "Add a link to more info on controlling the feature referenced."
There is a couple of locations to include in my case it was the https://security.microsoft.com/antispam default outbound policy not allowing double forwarding which was trail and error to find as there is no info on the definition of automatic vs enable setting. was only a mention on a blog article that tipped me off.
but some basic inclusion of there to look next would still be a great start,
[En

[2020-10-14 16:48] rconiv opened #3148 "Service and Add-In's link doesn't go to page specified if new interface is enabled."
If I go to https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/enable-the-report-message-add-in?view=o365-worldwide and then https://admin.microsoft.com/AdminPortal/Home#/Settings/ServicesAndAddIns, it doesn't take me to the service and add-on page, since I have the new interface enabled.  It takes me to Org settings, which doesn't have an add-on option as mentioned in the

[2020-10-14 19:07] dotnick365 opened #3152 "Auto-labeling for SharePoint Online"
"Maximum of 25,000 automatically labeled files in your tenant per day."
"Maximum of 10 auto-labeling policies per tenant, each targeting up to 10 sites (SharePoint or OneDrive)."

Can we clarify the following related to these limits.
1) Can these limits be increased/modified on request for large customer tenants? (e.g. 100,000 users+?)
2) Is that 10 auto-label policies per sensitivity label per te

[2020-10-14 21:47] markjjo commented on #3144
@mbrancato In general, I think you are correct in that the operation name for all **Azure** activities (at least ones where RecordType=8) end with a period. This is not the case for activities in other services. Not sure what you mean "equality operators", but I assume you're referring to something that is scripted or in PowerShell. I will add the period to operation names in the article you cited

[2020-10-14 21:47] #3144 closed

[2020-10-14 23:38] klishb opened #3154 "Repeated Configure"
Current document contains the following:

_"Never configure configure mail flow rules"_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900a9d1-897d-f7e9-6c58-a510edf56a9b
* Version Independent ID: bc59ac94-233b-e558-4455-a4c7166d4023
* Content: [Create safe sender lists - Office 365](https://docs.microsoft.com/en-us/m

[2020-10-15 03:49] yogkumgit commented on #3099
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Somu76 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-15 03:49] #3099 closed

[2020-10-15 03:53] yogkumgit commented on #3077
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SvenBell Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-15 03:53] #3077 closed

[2020-10-15 03:57] #2825 closed

[2020-10-15 04:05] yogkumgit commented on #3038
@msbemba  Thank you very much for the contribution and sharing this explanation. @jasonseatosky  Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation upda

[2020-10-15 04:05] #3038 closed

[2020-10-15 04:12] yogkumgit commented on #3100
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DanielBirmingham Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-15 04:12] #3100 closed

[2020-10-15 04:18] jasonseatosky commented on #3038
Hello,

I have opened the following ticket numbers with Office 365 support and they are not actioning my reques
t to have the customer data moved to Canada.

22109347
22045204
22108981
22109070
22109173
22063336
22109218
22109246
22109366

Jason Bristow
Managing Partner
t: 604.628.6970 | d: 604.628.6973 |
 tf: 1.877.662.2759
a:
2554 Vine St., Vancouver, BC, V6K 3L1
From: Yogesh Kumar <notification

[2020-10-15 07:17] lightupdifire opened #3157 "Guid should contain 32 digits with 4 dashes (xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)."
Hello,
Creating label for SharePoint labeling gives error:
![image](https://user-images.githubusercontent.com/39700914/96089448-25c6d300-0ec7-11eb-8fee-d4cb5e52047c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d40ac52-6f02-b0f3-0c45-9f359473703b
* Version Independent ID: 108355a9-05a3-4d17-c417-c4d5664a4506
* C

[2020-10-15 07:22] lightupdifire commented on #3157
Hello,
Seems the page refresh and process restart fix the issue :) case close.

[2020-10-15 07:22] #3157 closed

[2020-10-15 10:49] Larryngolog opened #3160 "This document is hard to find - not available in navigation"
Please link this document to this article  https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption?view=o365-worldwide and this article https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption?view=o365-worldwide as well as put it on the navigation in the encryption section.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2020-10-15 10:51] Larryngolog opened #3161 "Missing information about keys for at-rest encryption"
Information about at rest and in transit is in this article https://docs.microsoft.com/en-us/microsoft-365/compliance/office-365-encryption-risks-and-protections?view=o365-worldwide but this article is not liked anywhere in this section. Please concatenate information from both of these articles or at least link them toghether.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this

[2020-10-15 10:57] Larryngolog opened #3162 "AES128 for EXO"
Hi! Is this up to date information that AES128 is still used by EXO? This article do not mention use of AES128 https://docs.microsoft.com/en-us/microsoft-365/compliance/office-365-bitlocker-and-distributed-key-manager-for-encryption?view=o365-worldwide
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-10-15 11:26] msbemba commented on #3038
@jasonseatosky We understand your situation, but our team handles documentation and for support related queries you will have to contact the support team. If they are not actioning due to missing the deadline then I'm afraid it might not be possible to move the data.

Thanks
Sri

[2020-10-15 11:27] msbemba commented on #2966
@RKD993 Thank you for your feedback. We have checked with the product group and we do not have this capability today.

@yogkumgit No changes required in the document, please close this issue.

Thanks
Sri

[2020-10-15 12:46] Tolle3000 opened #3163 "However, the admin can modify these settings for all, or some, users in the organization."
Please provide link or how-to on this page how to do this for all or some users in the organization.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43299e41-87fe-d6f1-20f7-83791d8ef90b
* Version Independent ID: e5e69845-7040-f5b7-b922-e2d2fd9a7d5e
* Content: [Configuring and controlling external email forwarding, Autom

[2020-10-15 12:51] s3kumar6 commented on #3079
Thanks for the response. Is there a way we can get some regular updates on the status. How can we determine that TLS 1.0 or 1.1 has been deprecated. Any response will be greatly appreciated.

[2020-10-15 14:43] sk1tt1sh opened #3164 "Undoing an accidental submission is not covered"
I had a user report a phish on accident and I can see the submission but can't undo that. Please provide guidance. Where can the user retrieve the email (it's not in quarantine) and where can I revert it, there's no option in the user submissions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162f11ad-8add-952e-fd64-4

[2020-10-15 14:53] msbemba commented on #3154
@klishb Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3165. Once this is approved and merged the document will be live in 24-48 hours.

Thanks
Sri

[2020-10-15 15:10] msbemba commented on #3148
@rconiv Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3166. Once the author approves this it could take 24 to 48 hours for the changes to be live.

Thanks
Sri

[2020-10-15 15:21] msbemba commented on #3146
@dkotars Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3146. Once this approved and merged by the author, the document will be live in 24 to 48 hours.

Thanks
Sri

[2020-10-15 15:28] msbemba commented on #3145
@mshaheen75 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3168. Once the author approves the change, it could take 24-48 hours for the changes to reflect in the document.

Thanks
Sri

[2020-10-15 15:51] cabailey commented on #3146
Yes, the erroneous ``` seems to be a formatting error used in Markdown for end of code block, and shouldn't be included in the actual command.  Thanks for flagging!  The actual PR to delete these characters are in https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3167 that I'll approve.

[2020-10-15 15:51] #3146 closed

[2020-10-15 16:29] dawholl opened #3169 "Typos and dupe info"
Missing spaces and content with typos is duped

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92701183-1413-9e14-3109-53c2debe7d8b
* Version Independent ID: c1b54dbd-ac96-4582-b577-f09e8beba365
* Content: [Manage Industry news - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-ind

[2020-10-15 16:35] JoeDavies-MSFT commented on #3126
@msbemba Confirmed. Please add the note. Thanks.

[2020-10-15 18:17] msbemba commented on #3126
@seancorryio Thank you for your feedback. We have added a note that this parameter has been deprecated on modern sites but works only with classic sites. The same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3126

Thanks
Sri

[2020-10-15 18:41] msbemba commented on #3003
@scottsa-msft The Changes have been updated. Thank you again for your feedback.

@yogkumgit The PR has been merged, the issue can be closed now.

Thanks
Sri

[2020-10-15 18:46] msbemba commented on #3142
@markburland Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3172

The correct navigation path to Bookings would be Admin-->Settings-->Org Settings

Hope this helps!

Thanks
Sri

[2020-10-15 18:51] msbemba commented on #3143
@TomTurkington Thank you for your feedback. It is by design that when you block a sender or domain, the blocked person can still send you mail, but if anything from his or her email address makes it to your email account, it’s immediately moved to the end-user quarantine.

If you are looking to delete the email without notifying anyone, you may have to use mail flow rules to accomplish that. For m

[2020-10-15 19:17] TomTurkington commented on #3143
Thanks, but am not sure why the quarantine email says 'Block Sender' – it would be clearer if instead it said 'Always Quarantine' because apparently that's what it means.  Having the same spam senders show up in the quarantine email daily is a waste of my time as I have to check it to see if there are senders I don't want quarantined; I'd rather not get a quarantine email if all it contains is ema

[2020-10-15 19:45] rfcomp opened #3175 "This link is dead"
https://github.com/MicrosoftDocs/OfficeDocs-Enterprise/raw/live/Enterprise/media/maintain-group-membership-with-microsoft-365-powershell/GroupMaintPowerShellGenerator.xlsx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78793749-293c-d077-758a-8153b7c66e65
* Version Independent ID: 6b0c4055-ab10-5b9c-e3fa-ea7e447516ae
*

[2020-10-15 19:54] fixx-er opened #3176 "Doc needs updating"
It was very hard to find and took some time, but the dash board can be found here:
- https://protection.office.com/datamanagement/dashboard

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe34f7ee-fa7e-f023-1d3f-9049cdde25a2
* Version Independent ID: f251bf03-1d6e-6755-8a00-bcf6bcddfaee
* Content:

[2020-10-15 20:00] msbemba commented on #3133
@elrod-johnson Thank you for your feedback. We have made necessary changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3177

The changes will reflect in the document once the author approves and merges the above PR.

Thanks
Sri

[2020-10-15 20:04] msbemba commented on #3135
@wmassingham-tnn Thank you for your feedback. I worked with the author and found that the two links have been removed at the source. We have removed their references from the document as well to avoid confusion. Hope this helps!

@yogkumgit There are no changes required in the document and the issue can be closed.

Thanks
Sri

[2020-10-15 20:06] msbemba commented on #3137
@robmazz I have checked and found that the references are legit. However, I feel these need to be added/referenced only on the german version of the document(if there is one) and not required for the global audience. I would like to know your feedback before I make any changes to it.

Thanks
Sri

[2020-10-15 20:16] GiantCrocodile commented on #3137
@msbemba I just opened this issue for this article as it was the most fitting article I could open an issue for. I'm aware that this shouldn't be in the global audience article. I think an article dedicated to German businesses would be great as we have other articles about national regulations/laws/standards too. That would fit there.

[2020-10-15 20:40] robmazz commented on #3137
@msbemba - very unlikely that references can be added to the topic and only displayed in the de-de instance, but I'll double-check with the localization team to confirm.

[2020-10-15 20:45] seancorryio commented on #3126
Thank you very much for the quick response and for sharing the info to begin with!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sriraman M S <notifications@github.com>
Sent: Thursday, October 15, 2020 11:17:30 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: seancorryio <sean.corry@outlook.com>; Mention <mention@noreply.

[2020-10-16 01:43] yogkumgit commented on #2966
@msbemba Thank you very much for the contribution and sharing this explanation. @RKD993 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-16 01:43] #2966 closed

[2020-10-16 01:46] yogkumgit commented on #3017
@msbemba Thank you very much for the contribution and updating the documentation with PR. @StereoRocker Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-16 01:46] #3017 closed

[2020-10-16 02:02] yogkumgit commented on #3003
@msbemba Thank you very much for the contribution and updating the documentation with PR. @scottsa-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-10-16 02:02] #3003 closed

[2020-10-16 02:10] yogkumgit commented on #3135
@msbemba Thank you very much for the contribution and sharing this explanation. @wmassingham-tnn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-16 02:10] #3135 closed

[2020-10-16 02:21] yogkumgit commented on #3086
@msbemba Thank you very much for the contribution and sharing this explanation. @LeeMin-Z Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-16 02:21] #3086 closed

[2020-10-16 09:20] MarkDarwin opened #3183 "Spelling correction"
[Enter feedback here]
Although you trust the sender, the sender **_cans_** still be compromised

I believe it should read:
Although you trust the sender, the sender **_can_** still be compromised
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900a9d1-897d-f7e9-6c58-a510edf56a9b
* Version Independent ID: bc59ac94-233b-e

[2020-10-16 09:35] fvhemert opened #3185 "Custom Senstive Information types NOT supported for content search."
Since moving to substrate creating a search using CUSTOM sensitive information types does no longer work. Please remove the line below from the documentations and add a note saying SensitiveType only works for out-of-box classifiers.

You can also use the SensitiveType property to search for the name of a custom sensitive information type that you (or another administrator) created for your organi

[2020-10-16 11:42] Rusty666 opened #3186 "Password Retention Moved"
It says in this article that you can set password retention

https://docs.microsoft.com/en-us/microsoft-365/admin/manage/set-password-expiration-policy?view=o365-worldwide

By going to settings > org settings > security and privacy yet the option is no longer in security and privacy.

[2020-10-16 12:07] Rusty666 commented on #3186
seems to be my own access, it;s ok for other tenants, closing issue.

[2020-10-16 12:07] #3186 closed

[2020-10-16 15:23] npherson opened #3189 "Limits - admins need to be able to measure"
The limits section says a user can create up to 250 groups.
https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/office-365-groups?view=o365-worldwide#group-limits

Can this section include instructions (or a link to relevant information) for determining which/how many groups a user has created? Or from the other direction, which user created the group? I'm only able to find this inf

[2020-10-16 17:25] emmanhaider opened #3191 "Information is repeated two times in the last part of the document."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed89413a-e385-a12a-a32b-43d8cbd990d4
* Version Independent ID: a0c4c5c0-9a12-c20a-68c0-3a694e5d2521
* Content: [Form processing overview](https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/form-processing-overview?view=o365-worldwide)

[2020-10-16 17:55] Raj-MCITP opened #3192 "Information on this page not applicable for files in MSFT Teams ?"
[Enter feedback here]

If I select SharePoint as a location, will my Teams SPO site will inherit the auto labelling option ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6564bdaa-d66b-42ba-85bd-7c8f9989093d
* Version Independent ID: 33be52f1-d233-9c5d-abb3-140a9c6a0d74
* Content: [Apply a sensitivity label to content

[2020-10-16 18:38] artAlexion opened #3193 "Errors (typos) on the scripts on the page"
For, example the script start with GGet- instead of Get-
I also see both -isLicensed filtered as false though the second one should probably be $True

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bde00c3a-d106-76a1-1dc4-ad2306497187
* Version Independent ID: 27e87ec9-9ff3-333f-32fe-b45a4ee3d3fb
* Content: [View licens

[2020-10-16 18:55] msbemba commented on #3029
@ecomsetters Thank you for your feedback. We worked with the author and the product group and found that we are no longer supporting Booking's connection to Facebook. So we have informed the product group to get the button removed from the bookings page to avoid any confusion. Thank you again for the feedback.

@yogkumgit  There are no changes to the document  and we can proceed with closing the i

[2020-10-16 19:42] msbemba commented on #3121
@bakerm00 Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3194

Please note that once the author approves the change, it could take 24-48 hours for the document to reflect the changes.

Thanks
Sri

[2020-10-16 20:41] jasonfritts opened #3195 "Only Global administrators can view\assign device based licenses"
Section https://docs.microsoft.com/en-us/microsoft-365/commerce/licenses/manage-licenses-for-devices?view=o365-worldwide#assign-licenses-to-devices should be updated to reflect that you must be an AAD Global Administrator to see\assign device based licensing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bca3d86-2b5b-

[2020-10-16 21:29] JST1MOteKILLya opened #3196 "Out of date"
This guide needs to be updated, as it still references using EAC for searches when this has been depreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce9d3d55-537e-52f4-72f6-c0879a1b595a
* Version Independent ID: ea130146-6bd6-348a-bc8f-4e65ad1ae987
* Content: [Recover deleted items in a user mailbox - Microsoft

[2020-10-17 11:18] brucelaing opened #3201 "Services & add-ins now Integrated Apps"
On newer tenancies the "Services & add-ins" option isn't available and you need to follow a different work flow. To roll out the Report Message for an organisation use "Integrated Apps", find the Report Message Add-in and it takes you through a new wizard to enable to the entire organisation or just certain users.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-10-17 21:58] Amudhan-GitHub opened #3202 "Microsoft Learning Azure / 365 - Incorrect page loading"
[Enter feedback here]
I was going through Microsoft Azure Learning material for
Examine privacy, compliance, and data protection standards.
On page 5, under Access Azure compliance documentation, within this sub heading
'Examine PCI DSS compliance' , I navigated to 'Azure compliance documentation' page, specifically to PCIDSS sectin under Audit Reports.

After reaching the PCIDSS page ( which I be

[2020-10-18 09:41] msbemba commented on #3112
@cachave Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3203.

Once the Author approves the PR, it will take 24-48 hours for the document to go live.

Thanks
Sri

[2020-10-18 09:46] msbemba commented on #3102
@rmda Thank you for your feedback. We are testing this and will confirm shortly.

Thanks
Sri

[2020-10-18 09:48] msbemba commented on #3098
@DeanGross Thank you for your feedback. I'll confirm with the author and make changes accordingly.

Thanks
Sri

[2020-10-18 09:49] msbemba commented on #3098
@robmazz Currently PAM is available only for Exchange and not beyond that. However, I see from the roadmap that Privileged access management will be available in other Office 365 workloads soon. Can I remove the task 5 to avoid confusion? or Do you think we should add a note that this feature will be added soon?

Thanks
Sri

[2020-10-18 10:08] msbemba commented on #3147
@webstaff Thank you for your feedback. We have made changes to the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3204

Thanks
Sri

[2020-10-18 10:17] msbemba commented on #3143
@TomTurkington Thank you for the feedback. I have added a note to the document regarding the same. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3205.

Please note that once the author approves it takes 24-48 hours for the document to get updated.

Thanks
Sri

[2020-10-18 16:05] TheITguy666 opened #3206 "Confusing/mismatched information?"
On this page you mention:

but on the previous page that I came (https://docs.microsoft.com/en-us/microsoft-365/compliance/information-barriers) it mentions:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2baec804-4a76-95ac-3595-985629448fd9
* Version Independent ID: c0a5fb9d-93be-b448-5bf2-4c3bdd787b8e
* Content: [Def

[2020-10-19 02:58] ChrisSweeneyMSFT opened #3207 "End User Documentation"
Hey All, Chris from MMD CAT - These used to be links to end user PDF's (getting started with your new mmd device) at this page but they have been removed. Can we have these reinstated? Thanks heaps - Chris

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 265113b7-c487-368f-d158-64579b855eb0
* Version Independent ID: 9c06

[2020-10-19 03:33] msbemba commented on #3102
@rmda Thank you for your feedback. From the testing, I see that all I to do was to go to  Settings > Mail > S/MIME to install the S/Mime control (Edge and Chrome).

@robmazz Is the S/Mime extension available here: https://microsoftedge.microsoft.com/addons/detail/microsoft-smime/gamjhjfeblghkihfjdpmbpajhlpmobbp a required component? Could you please confirm so I can update the document accordingly

[2020-10-19 04:41] arunkumar4003 commented on #3085
Hello Team,

Could you please give update to the query?

Regards,
Arun.

[2020-10-19 04:59] zoelkarnain opened #3208 "I got alert "A high-severity alert has been triggered" , what should i do ?"
I got alert "A high-severity alert has been triggered" , what should i do ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2879ba-e58e-cd47-f488-10d153c31418
* Version Independent ID: 391a2c05-d63d-e84e-7c7d-80c3b3518419
* Content: [Alert policies in the security and compliance centers - Microsoft 365 Compliance](htt

[2020-10-19 09:01] yogkumgit commented on #3117
@msbemba Thank you very much for the contribution and digging deep into it.  @O365scripts  appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2020-10-19 09:01] #3117 closed

[2020-10-19 09:09] yogkumgit commented on #3082
@lomayor Gentle reminder, Please reply to this query. Thanks.

[2020-10-19 12:39] GiantCrocodile opened #3209 "Which group types are instantly finally deleted?"
Hello,

according to the Office 365 page at https://admin.microsoft.com/Adminportal/Home#/deletedgroups there are groups which are instantly and finally deleted thus no restore after 30 days is possible. Please mention which group types exist and which are non-restorable within 30 days.

Thank you!

Best Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-10-19 13:18] svijayababu81 opened #3210 "DLP is blocking Internal Also for MS Teams"
I have configured DLP for Teams in our environment. we configured  blocked only for External. But its blocking Internal also.

[2020-10-19 14:44] jreinhardtiv4 opened #3211 "M365 Apps for Business vs. M365 Apps for Enterprise"
This article isn't explicit in saying whether M365 Apps for Enterprise is required for the built-in labeling client. Put differently, will the built-in client be available to M365 Apps for Business clients running at the required build numbers? I've had difficulty finding an answer to this elsewhere, and this article seems to be a good place to explain this. Any thoughts?

---
#### Document Detail

[2020-10-19 15:34] jonwbstr opened #3212 "Edge/Perimeter Blocking appears to be missing"
Before messages reach connection filtering, the message is scanned at the perimeter. Messages blocked at the perimeter have historically been trackable using the "Get-PerimeterMessageTrace" command. This command has been depricated with no alternative being made available.

Case #:19578907
* A method for tracking down delivery failures from the recipient side (o365) without asking the sender for t

[2020-10-19 15:45] jaimeo commented on #3207
OH dear! I'm investigating....

[2020-10-19 15:57] r-milne opened #3213 "Update to state preview policies are not used"
Hi folks,

can this be updated to say that the old preview policies are not EOL and should not be used.  Customers are to create their own.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d1d2f-81dd-8057-5a13-4f75cfe0c1f7
* Version Independent ID: 7bd2fc7a-93dd-9081-6d98-3e28fdebe342
* Content: [Set up conditional ac

[2020-10-19 16:10] jaimeo commented on #3207
@ChrisSweeneyMSFT are you talking about the 4 versions of downloadable PDFs in this article? https://docs.microsoft.com/en-us/microsoft-365/managed-desktop/get-started/get-started-devices?view=o365-worldwide . All 4 downloaded for me just fine.

I don't think we've ever had a downloadable in microsoft-365/managed-desktop/working-with-managed-desktop/end-user-support.md ....

[2020-10-19 16:32] markjjo commented on #3208
@zoelkarnain If you're an admin in your org you might consider opening a ticket with [MS Support](https://docs.microsoft.com/microsoft-365/admin/contact-support-for-business-products?view=o365-worldwide) and let them know what alert policy triggered the alert. If you're not an admin, you might consider contacting an admin in your organization.

[2020-10-19 16:32] #3208 closed

[2020-10-19 18:21] christia53 commented on #3207
thank you so much

[2020-10-19 18:50] markjjo commented on #3185
@fvhemert Thanks for the heads up. I've updated this info, adding a new section about limitations of searching for sensitive info types. In the future, as you are internal MSFT, you can contact me directly about changes to this topic. Revised topic will be published by end of day.

[2020-10-19 18:50] #3185 closed

[2020-10-19 21:36] chrisda commented on #3183
@MarkDarwin, I fixed it. In the future, you can too without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2020-10-19 21:36] #3183 closed

[2020-10-19 21:50] chrisda commented on #3212
@jonwbstr, are you a Microsoft employee? If so, can we continue this discussion over email? Thanks.

[2020-10-19 21:54] chrisda commented on #3201
@brucelaing, it appears that this was fixed in PR #3166 based on related Issue #3148

Thanks for the feedback,

Closing.

[2020-10-19 21:54] #3201 closed

[2020-10-19 22:13] ChrisSweeneyMSFT commented on #3207
Yep got my wires crossed, Sorry Jamie. Thanks heaps.

[2020-10-19 22:13] #3207 closed

[2020-10-20 03:16] yogkumgit commented on #3210
@svijayababu81 Please provide the name of the document you are referring to. Thanks.

[2020-10-20 03:27] yogkumgit commented on #3126
@msbemba Thank you very much for the contribution and updating the documentation with PR. @seancorryio Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 03:27] #3126 closed

[2020-10-20 04:02] yogkumgit commented on #3133
@msbemba Thank you very much for the contribution and updating the documentation with PR. @elrod-johnson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:02] #3133 closed

[2020-10-20 04:06] yogkumgit commented on #3154
@msbemba Thank you very much for the contribution and updating the documentation with PR. @klishb Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:06] #3154 closed

[2020-10-20 04:08] yogkumgit commented on #3148
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rconiv Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:08] #3148 closed

[2020-10-20 04:12] yogkumgit commented on #3145
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mshaheen75 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:12] #3145 closed

[2020-10-20 04:22] yogkumgit commented on #3147
@msbemba Thank you very much for the contribution and updating the documentation with PR. @webstaff Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:22] #3147 closed

[2020-10-20 04:29] yogkumgit commented on #3143
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TomTurkington Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-20 04:29] #3143 closed

[2020-10-20 08:15] mnkii opened #3217 ""To force a sync between Intune and Microsoft Store for Business" refers to old Intune portal"
The 'To force a sync between Intune and Microsoft Store for Business' section refers to Intune in portal.azure.com. Intune is no longer in Azure, but at https://endpoint.microsoft.com.

I am unable to locate 'force sync' in the new portal.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93e0cf16-3

[2020-10-20 08:57] andrewrsww opened #3218 "Label Analytics not working in M365 Security or Compliance centre"
I can see label analytics within the Azure Information Protection portal but nothing showing in M365 Security or M365 Compliance center portals. Says Preview, is this feature working?
Configure analytics button just takes me to Azure Information Protection configure analytics pane, which is enabled, as demonstrated by information present in the AIP Usage report

[2020-10-20 10:45] nikki-c opened #3219 "In the Set up web-only access for guest users - Client App feature is no longer in preview"
The Set up web-only access for guest users section needs updating as the Clients app feature is no longer in preview. The steps and screenshot needs to be updated as the process is now different

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4945844-0f8f-2691-1092-0025cc19c683
* Version Independent ID: adc60afc-fb2a-d

[2020-10-20 10:56] yogkumgit commented on #3218
@andrewrsww Please mention the document you are referring to. Thanks.

[2020-10-20 11:38] andrewrsww commented on #3218
sorry thought it linked from the page
https://docs.microsoft.com/en-us/microsoft-365/compliance/label-analytics?view=o365-worldwide

[2020-10-20 12:09] Alex-Catalin opened #3220 "Update the e-Discovery instructions from EAC to SCC usage"
The article contains the instructions on how to perform an e-Discovery from Exchange Admin Center when we are pushing for the usage of the same feature from Security and Compliance Center.

The article should be updated to contain the same steps, but done from Security and Compliance Center, not from EAC.

The documentation can be updated, starting from these 3 articles:

https://docs.microsoft.co

[2020-10-20 12:38] tajaber opened #3221 "CRL d-trust.net need to be added"
As per doc https://docs.microsoft.com/en-us/azure/security/fundamentals/tls-certificate-changes  the list of CRLs includes following 2 CRLs which are not listed under any required category
http://www.d-trust.net
http://root-c3-ca2-2009.ocsp.d-trust.net
Can you update this doc if both are required?

[2020-10-20 13:25] msbemba commented on #3098
@DeanGross We have removed that task 5 as PAM is not available for compliance admin roles.  This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3222

Thanks
Sri

[2020-10-20 14:22] bakerm00 opened #3223 "minimum versions of office 365 pro that this will work in need to be listed"
minimum versions of office 365 pro that this will work in need to be listed

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72ac8b1f-a7cf-3487-9a3c-8eff53e4adb5
* Version Independent ID: 63773389-8a4f-926f-8430-8c80b19ff2da
* Content: [Safe Documents in Office 365 ATP - Office 365](https://docs.microsoft.com/en-gb/micro

[2020-10-20 14:35] msbemba commented on #3169
@dawholl Thank you for your feedback. We have made corrections to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3224

Thanks
Sri

[2020-10-20 14:44] msbemba commented on #3211
@jreinhardtiv4 Thank you for your feedback. To use sensitivity labels that are built into Office desktop apps for Windows and Mac, you must use a subscription edition of Office (M365 Apps for Business or M365 Apps for Enterprise).

We have added it to the document and also made a note that this labeling client doesn't support standalone editions of Office, such as Office 2016 or Office 2019 but wo

[2020-10-20 15:51] ahamin01 opened #3225 "Invalid Link"
This link "Export or delete user data using Business center privacy portal" is invalid and not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 632c11fa-8975-afd4-a050-7ff42ca3eb33
* Version Independent ID: 2b736015-0f61-4159-e102-77a056f8abec
* Content: [Office 365 Data Subject Requests Under the GDPR and CCPA -

[2020-10-20 18:21] BayJayRakes opened #3226 "MFA"
Can this be updated to work with MFA?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5315da9-9aa3-c091-04fd-1b3dd42b975c
* Version Independent ID: 13f78819-03d0-adf2-2cf8-33b924469d96
* Content: [Search the mailbox & OneDrive for Business site for a list of users with Content Search - Microsoft 365 Compliance](https://

[2020-10-20 18:49] dpardpar opened #3227 "Can you add PowerApps to the IL4 certified list of SaaS services?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c79f14a-7b76-26cf-b97d-e8f2a922bb75
* Version Independent ID: e73e89a7-a122-67ce-154f-6cee9d6f41c5
* Content: [US Department of Defense (DoD) Provisional Authorization - Microsoft Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/

[2020-10-20 19:15] eddierocky opened #3228 "Disappointment"
[Enter feedback here]
Tried calling support which clearly stated that technical support is provide 24x7 on your website.
To my disappointment, no one pick the phone up. Then a machine voice says that to call back tomorrow
during working hours.
If that is the case, why don't you just says so on your website.

Being a highly successful corporation, such a disappointment in purchasing your product.

[2020-10-20 20:19] cmcatee-MSFT commented on #3228
@eddierocky I'm sorry you had a poor experience trying to contact support. Would you please send the following information to me directly at cmcatee@microsoft.com so I can troubleshoot the problem?

•	ANI (Caller's telephone number)
•	Date of call
•	Time of call with time zone
•	Options, selected if any
•	Experience of call (no answer, got recording then disconnected, etc.)

[2020-10-20 21:56] chrfox commented on #3080
@DeanGross
This will be removed soon

[2020-10-20 21:56] #3080 closed

[2020-10-20 22:05] chrfox commented on #2870
fixed

[2020-10-20 22:05] #2870 closed

[2020-10-20 22:13] markjjo commented on #3226
@BayJayRakes Scripts won't work with MFA. Please see github issue #1428 for a possible work around using trusted IPs. Here is another alternative: https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps

You can also try to remove the connection steps from the script, then connect to EXO powershell or SharePoint powershell and then run the script.

[2020-10-20 22:13] #3226 closed

[2020-10-21 12:12] msbemba commented on #3192
@Raj-MCITP Thank you for your feedback. Teams SPO site will not inherit the auto labeling option when you choose SP as a location. Instead one needs to select the sensitivity label for the new team during creation. Once it is selected the service automatically applies the same sensitivity label to the Microsoft 365 group and the connected SharePoint team site.

Apply Sensitivity Label to a new tea

[2020-10-21 12:20] msbemba commented on #3193
@artAlexion Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3233

Thanks
Sri

[2020-10-21 12:29] msbemba commented on #3195
@jasonfritts Thank you for your feedback. You are correct to Manage licenses for devices you need to be a Global Admin and an Important Note has been added to the document stating that You must be a Global admin to complete the tasks in this article.

Hope this helps!

@yogkumgit The issue can now be closed.

Thanks
Sri

[2020-10-21 15:12] replyxf opened #3234 "typo Remediation means taking a proscribed action . should be prescribed"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badda2b8-bdb2-0518-18e4-35940e506c9b
* Version Independent ID: b7045ea1-ca2a-5bd3-0149-f7baed6fe6cf
* Content: [Remediate malicious email that was delivered in Office 365 - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365

[2020-10-21 16:22] msbemba commented on #3163
@Tolle3000 Thank you for your feedback. Ideally, an admin would create multiple spam policies based on the requirement to apply to selected internal senders. I have added more information and link to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3235

Thanks
Sri

[2020-10-21 16:44] msbemba commented on #3164
@sk1tt1sh Thank you for your feedback. Did the user report it via the report message add-in? I tested it now and the admin can only view what the user reported and cannot revert the user submission, however, the user can undo it by restoring it from Junk/deleted folder. I'll do a few more testing and add more details on this feature to the document.

Hope this helps!

Thanks
Sri

[2020-10-21 16:47] msbemba commented on #3175
@rfcomp Thank you for your feedback. The Excel file is no longer valid so the Tip has been removed from the document.

@yogkumgit This issue can be closed as there are no changes required in the document.

Thanks
Sri

[2020-10-21 16:50] msbemba commented on #3191
@emmanhaider Thank you for your feedback. The repeated information has been removed from the document.

@yogkumgit The issue can be closed as this was merged via Commit #https://github.com/MicrosoftDocs/microsoft-365-docs/commit/66d4647c408867db85f905a59aab1ed43909059d

Thanks
Sri

[2020-10-21 16:56] msbemba commented on #3202
@Amudhan-GitHub Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3236

Thanks
Sri

[2020-10-21 17:00] msbemba commented on #3209
@GiantCrocodile Thank you for your feedback. This document pertains to M365 groups and it will be retained for 30 days by default unless force deleted. The groups that are nonrestorable or permanently deleted are Non M365 groups like a distribution group or a  security group which do not have data attached to them.

Hope this helps!

Thanks
Sri

[2020-10-21 18:22] TinaMcN commented on #3118
@GiantCrocodile the sort order in the German article is fixed now, thanks again for reporting it.

[2020-10-21 19:00] GiantCrocodile commented on #3118
Thank you for your work and the work of your team @TinaMcN!

[2020-10-21 19:00] #3118 closed

[2020-10-21 19:02] GiantCrocodile commented on #3209
@msbemba That did help! Would be great if this is mentioned in a short paragraph/note or if this information is linked to from some other article where this is mentioned. It may make sense to adjust the wording of the relevant sentence in the admin panel as it's somehow misleading then if you just can't restore those kind of groups simply because there's no content to restore.

[2020-10-21 21:58] zwiddoss commented on #3043
@msbemba @yogkumgit I am circling back on this - the article shows how to use the logic app to send data to azure sentinal, but i do not use azure sentinal.  Is there anything on sending this to an Azure sql database?

[2020-10-21 22:22] msbemba commented on #3219
@nikki-c Thank you for your feedback. We have made changes to the document accordingly and the same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3237. Please note that once the author approves the PR it could take 24-48 hours for the document to go live.

Thanks
Sri

[2020-10-21 22:41] msbemba commented on #3213
@r-milne Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3238. Please note that once the author approves it could take 24-48 hours for the document to go live.

Thanks
Sri

[2020-10-21 22:46] msbemba commented on #3189
@npherson Thank you for your feedback. Unfortunately, there is no place in the admin center to view the number of groups a user has created. This has been added to Microsoft user voice as feature request and hopefully, this feature will be added soon.

User Voice -https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/33485983-office-365-group-owner

@yogkumgit There are no cha

[2020-10-21 22:51] msbemba commented on #3176
@fixx-er Thank you for your feedback. We have added a Hyperlink to the document for easy access to the dashboard. The same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3239

Thanks
Sri

[2020-10-21 22:55] msbemba commented on #3162
@Larryngolog Thank you for the feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3240. Once the author approves the PR it could take 24-48 hours for the document to go live.

Thanks
Sri

[2020-10-21 22:59] msbemba commented on #3161
@Larryngolog Thank you for your feedback. It makes sense to relate both the topics. We have added a reference in the related topics section. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3241

Thanks
Sri

[2020-10-21 23:13] msbemba commented on #3160
@Larryngolog Thank you for the feedback. We have added Encryption Risks and protections to the Related topics on the Encryption document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3242. I'll also check with the author to see if this can be added to the navigation in the encryption section.

Thanks
Sri

[2020-10-21 23:19] msbemba commented on #3209
@GiantCrocodile Thank you for your feedback. We have added a note to the document stating that this describes restoring only M365 groups and not any other type of group. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3243

Thanks
Sri

[2020-10-21 23:24] msbemba commented on #3043
@zwiddoss This document pertains only to Email activity reports via the O365 Admin center. I'd recommend you contact Azure Support to see if there is a way to sync or pull the required data. You can contact them via the Need help section on the M365 Admin center.

Thanks
Sri

[2020-10-22 06:19] yogkumgit commented on #3192
@msbemba Thank you very much for the contribution and sharing this explanation. @Raj-MCITP Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 06:19] #3192 closed

[2020-10-22 06:23] yogkumgit commented on #3193
@msbemba Thank you very much for the contribution and updating the documentation with PR. @artAlexion Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 06:24] #3193 closed

[2020-10-22 06:26] yogkumgit commented on #3195
@msbemba Thank you very much for the contribution and sharing this explanation. @jasonfritts Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 06:26] #3195 closed

[2020-10-22 06:39] yogkumgit commented on #3175
@msbemba Thank you very much for the contribution and sharing this explanation. @rfcomp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 06:39] #3175 closed

[2020-10-22 06:42] yogkumgit commented on #3191
@msbemba Thank you very much for the contribution and sharing this explanation. @emmanhaider Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 06:42] #3191 closed

[2020-10-22 07:05] yogkumgit commented on #3189
@msbemba Thank you very much for the contribution and sharing this explanation. @npherson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 07:05] #3189 closed

[2020-10-22 07:32] yogkumgit commented on #3098
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-22 07:32] #3098 closed

[2020-10-22 11:45] aldoug opened #3245 "Change request"
Can we change

Allowed Sender DomainsAllowedSenderDomains | None | None | None | Adding domains **that you own (accepted domains)** to the allowed senders list is a very bad idea. Attackers would be able to send you email that would otherwise be filtered out.
-- | -- | -- | -- | --

to

Allowed Sender DomainsAllowedSenderDomains | None | None | None | Adding domains to the allowed senders list is

[2020-10-22 12:11] sayanghosh123 opened #3246 "In-scope cloud services - does that include Power Platform"
[Enter feedback here]

The "Microsoft in-scope cloud services" mentions Dynamics 365. We are curious to understand if that includes the Power Platform services (given under the hood there are many common denominators). We have a customer ask this question so any feedback will be much helpful.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-10-22 13:07] useyourblinker opened #3247 "No Reports dropdown in Reports > Usage"
The M365 reports page shows no such drop-down to let you choose reports.

I'm not sure if it did at some point - but it certainly doesn't now.

Can this page be updated to reflect the Reports > Usage page properly? I can't find the Exchange usage of the users.

The proper way to get to this seems to be to actually click on a report first with the 'View more' button.

THEN at the upper left, you ca

[2020-10-22 13:48] jsavage8 opened #3248 "Additional Info Needed for Admins Retiring On-Prem Active Directory"
Like many before me (probably), I came to this article because I'm helping a client retire their on-premise Active Directory environment and move fully into Azure and I could use a little more info on what other steps to take to clean up Azure when you intend to retire Azure AD Connect permanently.  For example, if I simply follow these steps to disable directory synchronization, I'll still receiv

[2020-10-22 15:25] SOM-Scott opened #3249 "Outdated Exchange Connection Information"
Connecting to exchange needs to be updated to Exchange Online V2 https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa612c0e-c089-8b3e-8e2e-dd12b6fc382c
* Version Independent ID: fa014ea6-7aa2-b2bd-d913-165c3241675f
* Conten

[2020-10-22 15:35] rmda commented on #3102
@msbemba  What application are you seeing that? I can't go to Settings > Mail > S/MIME in Windows

[2020-10-22 15:52] jaimeo commented on #3217
@aczechowski or @StuEwen or @ChristopherTulip can any of you advise on this?

[2020-10-22 16:09] rmda commented on #3102
Why is the public facing extension this build? "20.20.514.1" https://microsoftedge.microsoft.com/addons/getproductdetailsbycrxid/gamjhjfeblghkihfjdpmbpajhlpmobbp?hl=en-US&gl=US

But the one delivered through Outlook's handler later? "20.20.729.1" https://outlook.office.com/owa/SmimeCrxUpdate.ashx

I'm only able to get the older public facing extension working but the newer one doesn't seem to work

[2020-10-22 16:53] liamdou opened #3250 "Out of date documentation?"
Can you guys update this documentation? There are a lot of features across 365 being changed without appropriate up to date documentation.  These roles seems to have been changed on Oct. 14th, but the doc is from Sept. 22nd.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center?view=o365-worldwide

---
#### Document Details

[2020-10-22 17:11] artAlexion commented on #3193
Thank you for acting so quickly!

[2020-10-22 17:16] chrisda commented on #3250
@liamdou, are there specific changes you'd like to see?

[2020-10-22 17:49] jonwbstr commented on #3212
For reference, the correct term for filtering at the perimeter is "Domain Based Edge Blocking" or DBEB

[2020-10-22 18:03] aczechowski commented on #3217
@jaimeo what little I know of the topic, I think this article should help: https://docs.microsoft.com/en-us/mem/intune/apps/windows-store-for-business#configure-synchronization

CC @Erikre

[2020-10-22 18:49] msbemba commented on #3102
@chrisda This sounds more like a Support issue to me. However, I would like to get your feedback on whether but S/Mime extension available here: https://microsoftedge.microsoft.com/addons/detail/microsoft-smime/gamjhjfeblghkihfjdpmbpajhlpmobbp a required component.

@rmda Meanwhile, The best way to reach out to the OWA team and troubleshoot would be to open a support ticket via the need help optio

[2020-10-22 18:50] msbemba commented on #3193
@artAlexion Thank YOU for providing timely feedback and making our documents look better.

Thanks
Sri

[2020-10-22 19:38] VinnyBenfanti opened #3251 "Clarity on apostrophe in userPrincipalName"
Under userPrincipalName in section 2. Directory object and attribute preparation, we list the apostrophe as both an Invalid character and Character allowed.

Invalid characters: \ % & * + / = ? { } | < > ( ) ; : , [ ] " '
Characters allowed: A – Z, a - z, 0 – 9, ' . - _ ! # ^ ~

[2020-10-22 19:53] QuickBASIC opened #3252 "Import User template in documentation is incorrect. Does not match headers listed in 'Import_User_Template_en.csv' downloaded from tenant. (Additional 'Fax' column.)"
**Columns from 'Import_User_Template_en.csv' example downloaded from Portal:**

    User Name,First Name,Last Name,Display Name,Job Title,Department,Office Number,Office Phone,Mobile Phone,Fax,Address,City,State or Province,ZIP or Postal Code,Country or Region

**Columns provided in documentation.**

    User Name,First Name,Last Name,Display Name,Job Title,Department,Office Number,Office Phone,Mo

[2020-10-22 23:46] cmcatee-MSFT commented on #2738
@Mister-Edward and @LeonardPeris I've talked to the product team and have confirmed the following:

- Billing profiles are only available if you bought your subscription directly through Microsoft Sales. They aren't available for customers who bought their subscription through the products web site or on the **Purchase services** page in the Microsoft 365 admin center.
- Also, billing profiles are

[2020-10-23 03:24] yogkumgit commented on #3251
@VinnyBenfanti Please mention which document you are referring to. Thanks

[2020-10-23 03:31] yogkumgit commented on #3209
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GiantCrocodile Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-23 03:31] #3209 closed

[2020-10-23 03:34] yogkumgit commented on #3219
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-23 03:34] #3219 closed

[2020-10-23 03:41] yogkumgit commented on #3102
@msbemba  Thank you very much for the contribution and sharing this explanation. @rmda Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is requ

[2020-10-23 03:41] #3102 closed

[2020-10-23 03:47] yogkumgit commented on #3176
@msbemba Thank you very much for the contribution and updating the documentation with PR. @fixx-er Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-23 03:47] #3176 closed

[2020-10-23 03:51] yogkumgit commented on #3212
@chrisda Thank you very much for the contribution and sharing this explanation. @jonwbstr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-23 07:12] yogkumgit commented on #3206
@chrfox Please add your comment and help us resolving this issue. Thanks.

[2020-10-23 07:14] yogkumgit commented on #3152
@cabailey Please add your comment and help us, resolving this issue. Thanks.

[2020-10-23 07:16] yogkumgit commented on #3134
@chrisda  Please add your comment and help us in resolving this issue. Thanks.

[2020-10-23 07:17] yogkumgit commented on #3132
@MSFTTracyP  Please add your comment and help us in resolving this issue. Thanks.

[2020-10-23 07:18] yogkumgit commented on #3131
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-10-23 07:19] yogkumgit commented on #3128
@denisebmsft  Please add your comment and help us in resolving this issue. Thanks.

[2020-10-23 07:21] yogkumgit commented on #3094
@cabailey Please add your comment and help us in resolving this issue. Thanks.

[2020-10-23 10:23] GiantCrocodile commented on #3209
@msbemba @yogkumgit I think the new note doesn't help that much. It just tells you that some groups are instantly deleted but it doesn't provide the reason for this. This information was given by the admin control panel of Office 365 already so that's no new information to the reader; the important part was which groups ain't restorable and that it is caused because they don't have data attached a

[2020-10-23 11:20] msbemba commented on #3209
@GiantCrocodile I get it. However, there are other data groups available in the power platforms (which cannot be accessed through this section) and it would only create confusion to add something like that. This document pertains only to M365 groups and the note mentions that other groups cannot be retrieved, So my opinion is to leave it as it is. I'll check with the author as well.

@MikePlumleyM

[2020-10-23 12:00] Kajt90 opened #3255 "Problem with a column in one place"
Hello!

The document needs a small change to the formatting in this part:

SFV:SFEFiltering was skipped and the message was allowed because it was sent from an address in a user's Safe Senders list.
For more information about how admins can manage a user's Safe Senders list, see Configure junk email settings on Exchange Online mailboxes.

The text needs to be moved to the next cell.

---
#### Docu

[2020-10-23 12:34] MikePlumleyMSFT commented on #3209
@GiantCrocodile, I agree with @msbemba. The article is meant to provide simple task instructions. I think the note is a useful add, and definitely appreciate your input, but we wouldn't go into details around the behaviors of different group types in this article.

[2020-10-23 13:26] msbemba commented on #3196
@JST1MOteKILLya Thank you for your feedback. Please see this current version of the content of the article you reference above: https://docs.microsoft.com/en-us/Exchange/recipients-in-exchange-online/manage-user-mailboxes/recover-deleted-messages

We intend to delete the older version of the article and redirect its URL to the current version. Please let us know if the more current version of the

[2020-10-23 13:33] msbemba commented on #3217
@mnkii Thank you for your feedback. To Force sync you need to follow the below instructions

1. Sign in to the [Microsoft Endpoint Manager admin center](https://go.microsoft.com/fwlink/?linkid=2109431).
2. Select **Tenant administration** > **Connectors and tokens** > **Microsoft Store for Business**.
3. Click **Sync** to get the apps you've purchased from the Microsoft Store into Intune.

I have

[2020-10-23 13:39] GiantCrocodile commented on #3209
@msbemba @MikePlumleyMSFT Maybe this discussion should be forwarded to the internal team at Microsoft who manages the texts in the user interface in admin cp of Office 365 as the text is misleading there: The text tells you that you won't get 100 % of data recovered which is bad and as an admin you want to read more about the details of that in the article that they refer to but the article doesn'

[2020-10-23 13:43] MikePlumleyMSFT commented on #3209
@GiantCrocodile I can follow up on that. Do you have a screenshot of the UI that you're referring to?

[2020-10-23 13:46] VinnyBenfanti commented on #3251
@yogkumgit Here is a link to the document [Prepare for directory synchronization to Microsoft 365](https://docs.microsoft.com/en-us/microsoft-365/enterprise/prepare-for-directory-synchronization?view=o365-worldwide#2-directory-object-and-attribute-preparation)

[2020-10-23 13:52] GiantCrocodile commented on #3209
@MikePlumleyMSFT I refer to this page https://admin.microsoft.com/Adminportal/Home#/deletedgroups with this paragraph:

[code]

The last sentence (Learn more ...) refers to this article.

[2020-10-23 14:00] MikePlumleyMSFT commented on #3209
Thanks, @GiantCrocodile. Can you clarify what you mean by "The text tells you that you won't get 100 % of data recovered"? Are you referring to other types of groups being permanently deleted?

[2020-10-23 14:16] GiantCrocodile commented on #3209
@MikePlumleyMSFT Yes, that's what I mean. The last sentence is that other groups are being permanently deleted and thus non-recoverable. For details you shall read the article so you expect the article to not provide only information about how to delete M365 Groups but also why other groups won't be recoverable as it might be important to know as an admin.

[2020-10-23 14:51] pk091990 opened #3257 "SharePoint Syntex: Managed Metadata entity extractor not fetching values in document library"
I've set up SharePoint Syntex on my sharepoint online tenant and attach model to another site document library.
I'm getting values of Single line of text field in my document library but not for managed metadata field.

In the below image: BChannel is a Managed metadata field which is attached to a global termset and BChannelText is Single line of text field.

![image](https://user-images.githubus

[2020-10-23 16:12] chrisda commented on #3255
@Kajt90, I fixed it: `|`SFV:SFE`Filtering...` to `|`SFV:SFE`|Filtering...`.

Thanks for the feedback.

Closing

[2020-10-23 16:12] #3255 closed

[2020-10-23 16:33] Kajt90 commented on #3255
Thx, have a great one!

pt., 23 paź 2020, 19:12 użytkownik Chris Davis <notifications@github.com>
napisał:

[2020-10-23 16:41] jebeckham opened #3258 "Table in "Step 3 (optional): Set up groups for communication compliance" seems incomplete"
In the first row, M365 Groups are mentioned but not in the second row.  In the second row, Mail-enabled security groups are mentioned but not in the first row.  Are M365 Groups supported to assign reviewers and are Mail-enabled security groups supported to apply the policy to supervised users?

[2020-10-23 16:47] MikePlumleyMSFT commented on #3209
Thanks, @GiantCrocodile. There isn't much additional information we can include. As far as I know, the other group types have never had a recycle bin capability. I'll talk to the UI writer to see if we can add clarity to the delete process for the other group types. I think that experience can be improved. If recycle bin for other group types is a feature that you'd like to see, I encourage you to

[2020-10-23 22:33] cabailey commented on #3152
@dotnick365:  You must specify individual sites for SharePoint (and OneDrive) and cannot currently specify "an entire organization".  We are aware that these limitations in this first release are too restrictive for many customers.  Please open a support ticket to see if they can extend these limits for you.  Alternatively, (and I encourage you do this anyway) provide this product feedback on the

[2020-10-23 22:33] #3152 closed

[2020-10-23 22:47] cabailey commented on #3094
I'm adding some clarification to the section for a default label that each item will be retained/deleted separately, although I haven't heard this of being a point of confusion before.  The request to clarify OneNote is very valid if you don't realize that each OneNote section is a separate file - so I added a new section specifically for this: https://docs.microsoft.com/en-us/microsoft-365/compli

[2020-10-23 22:56] chrisda commented on #3134
@michaelvgibson, I'm told that S/MIME in Outlook (Windows) and Outlook on the web support hardware based s/mime encryption certificates like on a smartcard, yubikey, or others.

Whether or not your medium-assurance certificate is S/MIME capable, and whether or not your machine is configured to use a hardware based encryption certificate is up to your admin.

[2020-10-23 22:57] KCCross commented on #876
potentially = one or more. data synced over multiple datacenters for geo.

[2020-10-23 22:58] #876 closed

[2020-10-23 23:00] KCCross commented on #1189
Forwarding to Samson - I believe the retention limit changed. Getting final #s.

[2020-10-23 23:02] KCCross commented on #1998
resolved 876

[2020-10-23 23:02] #1998 closed

[2020-10-23 23:03] KCCross commented on #2296
Resolved - PR merged. CK does require an invoiced account.

[2020-10-23 23:03] #2296 closed

[2020-10-23 23:04] KCCross commented on #2545
Forwarding to product team. I don't know of any limitations.

[2020-10-23 23:04] lomayor commented on #3082
@yogkumgit ... I'll need to verify this with the PM. Please wait for a little bit.

[2020-10-23 23:08] lomayor commented on #2226
@yogkumgit I'll get back to you after I confirm this change with the product team.

[2020-10-23 23:11] KCCross commented on #2787
The file is there. You're looking in the wrong folder.
src\customer-key-store\scripts\key_store_tester.ps1

[2020-10-23 23:11] #2787 closed

[2020-10-24 05:53] pbinksma commented on #3094
The past few years we had our own, custom retention/deletion job to implement retention policy for our on premise team sites on Sharepoint 2010 and later 2013. That job did not touch lists and some dedicated libraries like the site assets. With our move to SPO this retention behavior obviously change. It would be helpful to have more clarity especially on the retention/deletion behavior on lists,

[2020-10-24 14:53] DeanGross opened #3261 "Please update"
[Enter feedback here]

It is almost the end of October and there is still nothing about the new items that were added in September. Ignite was done 4 week ago and I know that there were a lot of new things announced. It would be helpful to have them summarized on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-10-25 13:31] msbemba commented on #3234
@replyxf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3263

Thanks
Sri

[2020-10-25 13:39] msbemba commented on #3247
@useyourblinker Thank you for your feedback. We have modified the document to reflect the correct steps. The same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3264

Thanks
Sri

[2020-10-25 13:42] msbemba commented on #3249
@SOM-Scott Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3265

Thanks
Sri

[2020-10-25 13:46] msbemba commented on #3252
@QuickBASIC Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3266

Thanks
Sri

[2020-10-25 14:35] tajaber opened #3267 "missing endpoint *.servicebus.windows.net"
Following 2 endpoints need to be added explicitly in the table of "Microsoft 365 Common and Office Online"

*.passwordreset.microsoftonline.com
*.servicebus.windows.net

For *.passwordreset.microsoftonline.com , it is already under *.microsoftonline.com ID 59, but still better to add another row for Password Writeback and SSPR

For *.servicebus.windows.net it is not in the doc, even it is required

[2020-10-25 14:41] grzegorz-silarski opened #3268 "Couldn't find Delete directory option in Azure Active Directory admin center"
Couldn't find **Delete directory** option on Azure Active Directory admin center page.
I found **Delete tenant** instead that i believe is the right option here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8adb403b-fded-7b9c-c093-915ca9bb348d
* Version Independent ID: df08fc6b-a752-084b-448a-a253db2a40d5
* Content:

[2020-10-26 04:57] yogkumgit commented on #2852
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mchibams Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 04:57] #2852 closed

[2020-10-26 05:00] yogkumgit commented on #3160
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Larryngolog Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 05:00] #3160 closed

[2020-10-26 05:03] yogkumgit commented on #3161
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Larryngolog Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 05:03] #3161 closed

[2020-10-26 05:05] yogkumgit commented on #3162
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Larryngolog Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 05:05] #3162 closed

[2020-10-26 05:10] yogkumgit commented on #2479
@msbemba Thank you very much for the contribution and updating the documentation with PR. @andypituch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 05:11] #2479 closed

[2020-10-26 05:34] msbemba commented on #3225
@robmazz The LInk to Export or delete user data using Business center privacy portal is broken and there are no other replacement documents. Could you please check internally to see if the site is down temporarily or can we remove the invalid link from this document?

Invalid Link:- https://support.office.com/article/export-or-delete-user-data-using-business-center-privacy-portal-eb48e2c1-4c91-442

[2020-10-26 05:38] msbemba commented on #3227
@dpardpar Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3269

Please note that once the author approves this PR it could take 24-48 hours for the document to go live.

Thanks
Sri

[2020-10-26 05:45] msbemba commented on #3245
@aldoug Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3270. Please note that once the Author approves these changes it could take 24-48 hours for the document to go live.

Thanks
Sri

[2020-10-26 05:48] msbemba commented on #3246
@robmazz On the ARPA Document, We have Microsoft In-scope cloud services and it mentions Azure, O365, and Dynamics 365. In my research, I found that the power platform and flow are included in Dynamics 365. Would you be able to confirm the same?

Thanks
Sri

[2020-10-26 05:55] msbemba commented on #3223
@chrisda I was able to test Safe documents with multiple versions of O365 Pro plus./ M365 apps for enterprise, Is there is a minimum version required, or does it work with all versions of O365 Pro plus./ M365 apps for enterprise? Based on your feedback I shall update the document.

Thanks
Sri

[2020-10-26 06:05] yogkumgit commented on #3225
@robmazz Please reply to this query. Thanks

[2020-10-26 06:07] bobsun0917 opened #3271 "max simultaneous ps sessions that can be opened by a single admin"
[Enter feedback here]

Could you please share the exact number for max simultaneous ps sessions that can be opened by a single admin? How to check the current open sessions? I've searched the documents but not able to find the answers.

"A default PowerShell throttling policy is assigned to each tenant at tenant creation. These settings affect other items, such as the maximum number of simultaneou

[2020-10-26 08:09] Larryngolog commented on #3162
Hi! Thanks for updating the document. Please also update the "FIPS 140-2 Validated" column for EXO in the table for MultiTenant - since all servers will be using 256 bit key, then I understand that the annotation "Yes, for servers that use AES 256-bit**" is no longer needed and the column for EXO should just say "Yes" like it does for SPO and S4BO. And this would mean that the footnote "**Most ser

[2020-10-26 08:10] Larryngolog commented on #3160
Thanks!

[2020-10-26 12:46] yogkumgit commented on #1765
@MaratMussabekov Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-26 12:46] #1765 closed

[2020-10-26 13:19] toskr opened #3273 "Note on Point 125 in the list of common endpoints to whitelist"
What is currently listed in point 125of this document:

"*.entrust.net, *.geotrust.com, *.omniroot.com, *.public-trust.com, *.symcb.com, *.symcd.com, *.verisign.com, *.verisign.net, apps.identrust.com, cacerts.digicert.com, cert.int-x3.letsencrypt.org, crl.globalsign.com, crl.globalsign.net, crl.identrust.com, crl.microsoft.com, crl3.digicert.com, crl4.digicert.com, isrg.trustid.ocsp.identrust.com

[2020-10-26 14:16] tanmoy1338 opened #3274 "In proper information."
![97183644-092e7300-17c4-11eb-9d48-6e8c9a04beca](https://user-images.githubusercontent.com/30682809/98816852-4430d780-244f-11eb-879b-3996881fd1d3.png)
This site does not provide real information to users where the Personal OneDrive data are stored. After going through this [site](https://docs.microsoft.com/en-in/microsoft-365/enterprise/o365-data-locations?view=o365-worldwide) it seems that my Per

[2020-10-26 14:17] tanmoy1338 commented on #3274
![Untitled](https://user-images.githubusercontent.com/30682809/97183644-092e7300-17c4-11eb-9d48-6e8c9a04beca.png)

[2020-10-26 15:02] denisebmsft commented on #3128
Adding @chrisda who now owns Office 365 ATP Safe Attachments.

[2020-10-26 15:37] jaimeo commented on #3217
Fixed in PR 3256

[2020-10-26 15:46] lomayor commented on #3082
@yogkumgit, confirmed. Please remove this section:

**Turn off Microsoft Threat Protection**
To stop using Microsoft Threat Protection, go to Settings > Microsoft Threat Protection > Opt-in / Opt-out in the Microsoft 365 security center. Unselect Turn on Microsoft Threat Protection and apply the changes.

Corresponding features will be removed from the Microsoft 365 security center.

[2020-10-26 15:48] lomayor commented on #2226
@yogkumgit I'll update this article today to add three columns. Will close when done. Thanks.

[2020-10-26 16:02] DeanGross commented on #1765
Thanks, but I'm not seeing anything on that page that describes what happens when an email is encrypted if the attachment is protected with a sensitivity label.  It would be helpful to know about scenarios like this.

[2020-10-26 17:09] samschan-ms commented on #1189
There is no retention limit for E3 or E5 customers.  the mail content are stored inside the sending organization's mailbox.

The E5 feature allows to set access expiration through the OME portal.  The mail is still resides in the organization after expiration.

[2020-10-26 20:10] lomayor commented on #2226
Updates merged. Closing.

[2020-10-26 20:10] #2226 closed

[2020-10-26 21:31] msbemba commented on #3082
@lomayor Thank you for your feedback. We have removed this section and the same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3082

Thanks
Sri

[2020-10-26 21:43] mcmpistachio opened #3277 "Adding a Group Bookings Service at the Calendar Level"
I'm trying to build a training schedule for our business services company. We have the Services (course) built out and are able to only use the group scheduling one way. Each course has to be given a 'Not Bookable' as a general distinction then the individual dates and times for the allowed class time has to be entered as an additional time.

We have been able to add classes under the Calendar vie

[2020-10-26 21:45] #3277 closed

[2020-10-26 21:55] msbemba commented on #3162
@Larryngolog Thank you. We have created a new PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3162 to update the document.

Thanks
Sri

[2020-10-26 21:57] InspireCloudTech commented on #3066
I agree with @GiantCrocodile I am unsure why tenants with less than 300 licensed Syntex Users would need to pay $5PM? Are we paying to have the buttons available, but no AI Credits to actually use the Forms Processing service, which this service needs to work?

Also, should the note about the AI Builder Credits being required be included at the top level of the documentation for Syntex, not the la

[2020-10-26 22:14] kshi-docs commented on #3223
Minimum Version is Office Pro Plus Version 2004+.

[2020-10-26 22:41] msbemba commented on #3251
@VinnyBenfanti Thank you for your feedback. The apostrophe is a valid character and we have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3279

Thanks
Sri

[2020-10-26 22:47] msbemba commented on #3261
@DeanGross Thank you for your feedback. I'll work with the author and get details to update the document.

[2020-10-26 22:50] msbemba commented on #3261
Hello @btbennett, I reached out to you earlier for August updates, and thank you for the details and for updating the document.
Could you please provide the list of items and updates that are new in M365 compliance in the last couple of months (Septemeber and October)

Thanks
Sri

[2020-10-26 22:58] msbemba commented on #3268
@grzegorz-silarski Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3280

You are correct the option is changed to Delete tenant now.

Thanks
Sri

[2020-10-26 23:02] msbemba commented on #3271
@JoeDavies-MSFT I tested this and It works for three connections Simultaneously. However, wanted to get a confirmation from you before making edits to the document. Could you please confirm the max simultaneous PS sessions that can be opened by a single admin?

Thanks
Sri

[2020-10-26 23:04] msbemba commented on #3220
@Alex-Catalin Thank you for your feedback. Please see this current version of the content of the article you reference above: https://docs.microsoft.com/en-us/Exchange/recipients-in-exchange-online/manage-user-mailboxes/recover-deleted-messages

We intend to delete the older version of the article and redirect its URL to the current version. Please let us know if the more current version of the ar

[2020-10-26 23:17] msbemba commented on #3223
@kshi-docs Thank you for the input.

@bakerm00 The minimum version is Office pro plus Version  2004+ and we have updated the same in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3281

Thanks
Sri

[2020-10-27 04:43] VinnyBenfanti commented on #3251
Thanks Sri.

Vinny Benfanti, CISSP<mailto:vinny.benfanti@microsoft.com>
Security Architect
Customer Experience & Success
Worldwide Commercial Business

[cid:image001.png@01D6ABFA.25FF4B70]

From: Sriraman M S <notifications@github.com>
Sent: Monday, October 26, 2020 6:41 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Vinny Benfanti <Vinny.Benfanti@microsoft.com

[2020-10-27 05:15] pk091990 commented on #3257
Any update on this ?

[2020-10-27 05:47] Alex-Catalin commented on #3220
Hey,

Actually I see this part in the article, still mentioning that article that I want to be modified:

https://docs.microsoft.com/en-us/Exchange/recipients-in-exchange-online/manage-user-mailboxes/recover-deleted-messages#more-information

As previously explained, you can also use the In-Place eDiscovery tool to find and export deleted items to a PST file. The user will use this PST file to res

[2020-10-27 05:54] vpatton777 opened #3282 "SPO file types scanned"
Can you please elaborate on the statement "Heuristics determine the files to scan". Which file types are scanned for malware?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9cd0ac5-2049-7e80-302e-e0f08857f6b4
* Version Independent ID: 7ca74c37-9929-bfc2-8a27-046457d2f67a
* Content: [Built-in virus protection in ShareP

[2020-10-27 11:02] GiantCrocodile commented on #3209
@MikePlumleyMSFT Thank you!

[2020-10-27 11:18] yogkumgit commented on #3223
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bakerm00 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 11:18] #3223 closed

[2020-10-27 11:26] yogkumgit commented on #3128
@chrisda Please add your explanation and help us resolving this issue. Thanks

[2020-10-27 11:27] yogkumgit commented on #3217
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mnkii Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 11:27] #3217 closed

[2020-10-27 11:39] yogkumgit commented on #3163
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Tolle3000 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 11:39] #3163 closed

[2020-10-27 12:00] yogkumgit commented on #3234
@msbemba Thank you very much for the contribution and updating the documentation with PR. @replyxf Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-27 12:00] #3234 closed

[2020-10-27 14:06] DeanGross opened #3283 "Roles for read only"
Global reader is not listed as a role that can read the preset policies, is that an oversite, or is that role really not eligible to see these items?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6f1cf3-a121-3c6e-9380-79440f4c6671
* Version Independent ID: 9b1bc5d1-8ecc-d0f9-092e-325c6acff4fe
* Content: [Preset secur

[2020-10-27 15:46] dkotars opened #3284 "Result of automatic forwarding"
There may be some value to note what the result is of setting automatic forwarding. For external senders sending to as mailbox that has forwarding in place but policy is to disable, the recipient will get an NDR that they are not allowed to forward. For internal senders the sender will get the NDR.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-10-27 18:56] msbemba commented on #3220
@JoeDavies-MSFT I think what Alex says makes sense. Can I proceed with making changes to this article to reflect Security and compliance steps instead of the old EAC method?

Thanks
Sir

[2020-10-27 21:16] tabriggs commented on #2545
@KCCross - I'd probably work with Brijesh Desai on AKV network settings. I have no history configuring Key Vault settings for Customer Key. Sumedh Barde might also be able to opine on best practices.

[2020-10-27 21:32] msbemba commented on #3258
@jebeckham Thank you for your feedback. I guess you are referring to the document:- https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-configure?view=o365-worldwide

1)Reviewers are be assigned individually and no groups are supported.
2)mail enabled security groups are not supported to apply the policy to supervised users.

I have made a change to the document via

[2020-10-27 21:39] msbemba commented on #3248
@jsavage8 Thank you for your feedback. This document pertains only to Turning Off Directory synchronization. I have searched and could not find a Microsoft blog that talks about retiring on-prem AD.  The closest I could find was for Common use-cases and scenarios for Azure Active Directory Domain Services - https://docs.microsoft.com/en-us/azure/active-directory-domain-services/scenarios

@JoeDavi

[2020-10-27 21:48] msbemba commented on #3211
@yogkumgit This issue can be closed as there are no changes required in the document.

[2020-10-28 04:15] yogkumgit commented on #3251
@msbemba Thank you very much for the contribution and updating the documentation with PR. @VinnyBenfanti Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-28 04:25] yogkumgit commented on #3196
@msbemba Thank you very much for the contribution and sharing this explanation. @JST1MOteKILLya Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-28 04:25] #3196 closed

[2020-10-28 04:27] yogkumgit commented on #3211
@msbemba Thank you very much for the contribution and sharing this explanation. @jreinhardtiv4 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-28 04:27] #3211 closed

[2020-10-28 04:43] yogkumgit commented on #3267
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-10-28 04:45] yogkumgit commented on #3257
@efrene  Please add your comment and help us in resolving this issue. Thanks.

[2020-10-28 04:55] yogkumgit commented on #3210
@svijayababu81 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some t

[2020-10-28 04:55] #3210 closed

[2020-10-28 04:57] yogkumgit commented on #3134
@chrisda Thank you very much for sharing this explanation. @michaelvgibson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-28 04:57] #3134 closed

[2020-10-28 06:27] mitanabe opened #3293 "Chromium Edge should be added to SharePoint-Compatible PDF readers"
Chromium Edge should be added as a supported viewer for windows 10 in this page (https://docs.microsoft.com/en-us/microsoft-365/compliance/sp-compatible-pdf-readers-for-irm).
The following page shows Chromium Edge is supported for SharePoint IRM.

https://docs.microsoft.com/en-us/azure/information-protection/rms-client/protected-pdf-readers
Support for previous formats

---
#### Document Details

[2020-10-28 08:57] SabRom opened #3294 "outdated"
Hello,

This page seems outdated as those menus were replaced by the microsoft endpoint manager admin center.

I can't find a GUI feature to assign an autopilot profile to a new, csv imported device.

Regards,

Romain

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74814ff4-77e8-71eb-e78a-fa90cdc37c2c
* Version Independ

[2020-10-28 09:06] danialonso commented on #2842
Hi again,
This article talks about retention for only 30 days, not 90:
https://docs.microsoft.com/en-us/microsoft-365/compliance/in...

but this article talks about 90 days:
https://docs.microsoft.com/en-us/microsoft-365/commerce/subs...

Are the retention periods different for Exchange Online? I see a major conflict between both specs! :-(

[2020-10-28 13:23] xaven15 commented on #2990
So I am having an issue with the first script: setupcrosstenantrelationshipfortargettenant

I believe I have the correct parameters in but obviously something isnt quite right.  I get all the way to the actual creation of the migration endpoint and the following occurs:
![image](https://user-images.githubusercontent.com/73595396/97441455-2451cd80-18ff-11eb-8d4c-cffea2603dac.png)

Thoughts or sugge

[2020-10-28 13:45] xaven15 commented on #2990
Nevermind above.  I figured it out.  Was actually powershell connected to the resource when running the script for target domain.

[2020-10-28 13:45] jackwghugheslm opened #3295 "It is not clear to me what log information is available under an E3 licence."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 027a1632-76a4-9e87-8376-c10ddfc3e116
* Version Independent ID: 10c72509-5d4a-25d3-caf8-361474f68cd8
* Content: [Advanced Audit in Microsoft 365 - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/advanced-audit?view=o

[2020-10-28 13:47] jermwormza commented on #2990
Based purely on the grammar of error message I'm thinking you have specified the same tenant as both source(resource) and target (accessing). Just my 2c worth.

[2020-10-28 14:36] matuhinal opened #3296 "Подключение к сети"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e748ed-63fe-0d00-6b60-c1a778797afa
* Version Independent ID: 3cd66c90-ed09-7c28-7dbb-0a11769f8033
* Content: [Network connectivity in the Microsoft 365 Admin Center (preview) - Microsoft 365 Enterprise](https://docs.microsoft.com/en-US/microsoft-365

[2020-10-28 14:55] MaratMussabekov commented on #1189
Hello,
as there are not retention limits, I believe no change is required for the article and the issue could be closed.
Dear @Larryngolog , what do you think?
Thank you

[2020-10-28 15:43] MikePlumleyMSFT commented on #3257
@seansquires can you help?

[2020-10-28 17:20] markjjo commented on #3295
@jackwghugheslm The only differences between E3- and E5-licensed users are these:

1) Audit records for activities performed by E3 users are retained only for 90 days.
2) The 4 crucial events that are documented in the Advanced Audit topic **are not** logged for E3 users.
3) Audit log retention policies **do not** apply to E3 users.

Otherwise, any information logged in audit records for E3 and E5

[2020-10-28 17:20] #3295 closed

[2020-10-28 18:35] DeanGross opened #3299 "update to include info about Planner Syncing"
[Enter feedback here]
Please update these instructions to include information about the ability to sync the message center with Planner

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f3771a-247c-4f85-992a-e671285c70bd
* Version Independent ID: f3c2890a-2470-9349-ff77-924cf8566365
* Content: [Manage messages in Messag

[2020-10-28 18:42] widget31too opened #3300 "Redirect loop on HIPAA/HITECH blueprint sample document"
The link to the Azure HIPAA HITRUST blueprint sample (https://docs.microsoft.com/en-us/azure/governance/blueprints/samples/hipaa-hitrust/) seems to have a redirect loop - goes between this and same path without trailing slash

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b545aa0d-ba68-3113-413b-0c0b176b08bd
* Version

[2020-10-28 18:56] gemmadev opened #3301 "Last link on page is broken -Monitor for breaches of personal data."
the following link at bottom of page brings you to 404 page
Monitor for breaches of personal data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32fd9ddd-5a5d-ab6a-b999-540a8f84614f
* Version Independent ID: d4bbbd4b-99d3-d7b5-e4b8-0ef63421bae2
* Content: [Overview of Office 365 Information Protection for GDPR - Micro

[2020-10-29 00:52] L1ttl3J1m opened #3303 "Clarity: Add-UnifiedGroupLinks"
Add-UnifiedGroupLinks |  Add hundreds or thousands of users

What about if I only want to add a dozen or so? Is it a different command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8db9afe-21ec-9ab9-12ef-14decd05c84b
* Version Independent ID: 5ccc9689-83e2-c090-6a13-4472c5476dbc
* Content: [Manage Microsoft 365 Grou

[2020-10-29 04:51] yogkumgit commented on #3296
@matuhinal Please add the description in English. Thanks

[2020-10-29 05:18] yogkumgit commented on #3268
@msbemba Thank you very much for the contribution and updating the documentation with PR. @grzegorz-silarski Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-29 05:19] #3268 closed

[2020-10-29 08:50] gvggvg opened #3305 "Missing Microsoft 365 usage analytics tile on https://admin.microsoft.com/Adminportal/Home?#/reportsUsage"
Hi,
On https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/usage-analytics-errors?view=o365-worldwide#:~:text=To%20fix%20this%20error%3A%20Go,connecting%20to%20the%20template%20app. you explain how to deal with error code 404. However I can not locate the Microsoft 365 usage analytics tile on https://admin.microsoft.com/Adminportal/Home?#/reportsUsage ?

---
#### Document Details

[2020-10-29 11:39] bloodytourists opened #3306 "Automate Event Generation"
Could you please provide more information on how you can automate Event Generation using REST APIs over HTTPS for companies which are using MFA (as Basic Auth will not work). Also, provide permissions required to generate events.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ad33cc1-dc5f-d9f9-ee8e-b103839945ef
* Vers

[2020-10-29 12:09] nikki-c opened #3307 "Typo - mult-geo spelt wrong"
I have noticed a type in the following paragraph of text ( mult-geo is spelt wrong)
Read User experience in a mult-geo environment for details about your end users' experience in a multi-geo environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0f648e8f-a784-82d1-9495-f470330014ca
* Version Independent ID: 01a84e

[2020-10-29 14:00] pbnet opened #3308 "Doubled information and unclear statement"
[Enter feedback here]

Duplicate lines:

https://docs.microsoft.com/en-us/microsoft-365/enterprise/ipv6-support?view=o365-worldwide#sharepoint-online-and-ipv6

_Office 365 Government G1/G3/G4/K1 If the program that you use to connect to SharePoint Online supports IPv6, it will attempt to use IPv6 by default._ is listed twice

If a company's DNS server is just forwarding requests to Google's DNS or

[2020-10-29 19:34] itguysocal opened #3309 ""Convert a user's mailbox in a hybrid environment" is outdated"
The guidance listed in the section "Convert a user's mailbox in a hybrid environment" is outdated. Specifically the entire section is no longer accurate. Since October 11th, 2018, Exchange Hybrid now supports creating remote shared mailboxes starting in Cumulative Update 21 for Exchange Server 2013 and Cumulative Update 10 for Exchange Server 2016 in an on-premises Exchange Server environment, you

[2020-10-29 21:29] cabailey commented on #3306
After checking with engineering, I'm told we support basic auth only at the moment but looking at integrating with MS Graph in the future. It would be very helpful to raise this request by submitting it to UserVoice - this category: https://office365.uservoice.com/forums/289138-office-365-security-compliance?category_id=379531

The permissions required to use the REST APIs are the same as manually

[2020-10-29 21:29] #3306 closed

[2020-10-30 03:04] msbemba commented on #3248
@jsavage8 Unfortunately there are no documents in M365 or Azure which talk about retiring  On-prem AD and moving to AAD. If you have any other questions or modifications that need to be done on this document, let us know.

@yogkumgit There are no changes required in this document at the moment. Please close the issue.

Thanks
Sri

[2020-10-30 03:29] msbemba commented on #3300
@widget31too Thank you for your feedback. We have fixed the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3312

Thanks
Sri

[2020-10-30 03:31] msbemba commented on #3301
@gemmadev Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3313

Thanks
Sri

[2020-10-30 03:54] msbemba commented on #3303
@L1ttl3J1m Thank you for your feedback. We have changed the description to reflect that this cmdlet is used to add members, owners, and subscribers to an existing  Microsoft 365 Group.

This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3314

Thanks
Sri

[2020-10-30 04:01] msbemba commented on #3299
@DeanGross Thank you for your feedback. We have added this information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3315

Thanks
Sri

[2020-10-30 04:10] msbemba commented on #3293
@mitanabe Thank you for your feedback. We have added Chromium Edge to the list and the same can be tracked viaPR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3316

Thanks
Sri

[2020-10-30 04:18] msbemba commented on #3284
@dkotars Thank you for the feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3317

Thanks
Sri

[2020-10-30 04:23] msbemba commented on #3283
@DeanGross Global reader is eligible to see these items. I have added it to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3318

Thanks
Sri

[2020-10-30 06:36] yogkumgit commented on #3164
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sk1tt1sh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-30 06:36] #3164 closed

[2020-10-30 06:41] yogkumgit commented on #3245
@msbemba Thank you very much for the contribution and updating the documentation with PR. @aldoug Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-30 06:41] #3245 closed

[2020-10-30 10:32] spuninst opened #3321 "May need to update IP range."
[Enter feedback here]
I'm receiving traffic from outside 52.96.0.0/14 but within 52.96.0.0/12.
IP address: 52.98.77.213

should we update the documentation? thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content

[2020-10-30 15:45] scottyv opened #3323 "Clarity on who needs to be licensed for SPO and ODfB"
Can the portion of this page that refers to only one DEP for SPO/ODfB/Teams, be updated to reflect that any users that need to access any SPO site, ODfB or Teams needs to be licensed for Customer Key?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a585eca1-dad6-3afd-43ce-8c4b11102dd3
* Version Ind

[2020-10-30 16:58] matuhinal opened #3324 "my domen"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf8d18e-b7d0-1f46-ac91-9f4ccc0ff25f
* Version Independent ID: cc2f1946-8911-c82f-81ae-aeae7f81ec92
* Content: [DNS basics - Microsoft 365 admin](https://docs.microsoft.com/en-US/microsoft-365/admin/get-help-with-domains/dns-basics?WT.mc_id=365AdminCS

[2020-10-30 17:07] matuhinal opened #3325 "Подключение"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdf8d18e-b7d0-1f46-ac91-9f4ccc0ff25f
* Version Independent ID: cc2f1946-8911-c82f-81ae-aeae7f81ec92
* Content: [DNS basics - Microsoft 365 admin](https://docs.microsoft.com/en-US/microsoft-365/admin/get-help-with-domains/dns-basics?WT.mc_id=365AdminCS

[2020-11-02 00:06] dougyoda opened #3327 "WDATP"
WDATP is what exactly? I'm assuming it means Windows Defender for ATP, but that term is long gone. I find numerous assumed acronyms in Microsoft Docs that are confusing to the reader.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58031ac6-a7d2-59ac-59c1-b3e03fbc8f13
* Version Independent ID: 82c2a515-4f33-1771-a175-4e

[2020-11-02 04:10] yogkumgit commented on #3325
@matuhinal Please describe your feedback in English. Thanks.

[2020-11-02 04:59] yogkumgit commented on #3248
@msbemba Thank you very much for the contribution and sharing this explanation. @jsavage8 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-02 04:59] #3248 closed

[2020-11-02 19:52] bryhall opened #3332 "Flow chart is illegible"
The flow chart near the end of the article is too small to read, and no link to the full size diagram is directly available.  It might be available through a linked article, but I believe it is more beneficial to provide the direct link to the image from this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7861

[2020-11-02 20:25] bobfrankly opened #3333 "Header string documentation for focused inbox needs the header string in text in addition to screenshot."
https://docs.microsoft.com/en-us/microsoft-365/admin/setup/configure-focused-inbox?view=o365-worldwide#use-the-ui-to-create-a-transport-rule-to-direct-email-messages-to-the-focused-view-for-all-your-users

Please document the header string properly, instead of in a small blurry screenshot where we can't copy/paste it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-11-02 21:10] DeanGross opened #3334 "Incomplete instructions"
Please add information about choosing Microsoft Cloud App Security as a location for a policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ac1028-da5c-2f6b-a8ef-ae21b0b4b858
* Version Independent ID: 22cdcee5-fb52-f07e-5d63-d925cb84915d
* Content: [Overview of data loss prevention - Microsoft 365 Compliance](https

[2020-11-02 21:13] MarcLaf opened #3335 "Managing External Domain spoofing"
Under the section for legitimate External domain spoofing you mention this scenario:

The sender is on a mailing list (also known as a discussion list), and the mailing list relays email from the original sender to all the participants on the mailing list.

Are there any examples on how to remedy issues with this? If there are many members of the discussion list, that's a lot of individual "allow

[2020-11-02 21:42] chrisda commented on #3335
@MarcLaf, the other option is to [use PowerShell](https://docs.microsoft.com/microsoft-365/security/office-365-security/learn-about-spoof-intelligence#use-powershell-to-manage-spoofed-senders). The important information is in a CSV file.

[2020-11-03 00:18] DeanGross opened #3338 "Incorrect Licensing instructions"
When I try to enable Syntex, i see SharePoint Syntex and the apps are Common data services for SP Syntex, SharePoint Syntex, and SharePOint Syntex - SPO type. I think that the documentation needs to be updated to reflect the actual name instead of the code names
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 215aae2b-de

[2020-11-03 04:28] yogkumgit commented on #3303
@msbemba Thank you very much for the contribution and updating the documentation with PR. @L1ttl3J1m Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-03 04:28] #3303 closed

[2020-11-03 04:33] yogkumgit commented on #3283
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-03 04:33] #3283 closed

[2020-11-03 04:35] yogkumgit commented on #3284
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dkotars Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-03 04:36] #3284 closed

[2020-11-03 10:36] dfife opened #3342 "The sample in the section "Prepare for the new Exchange Online certificate" is not longer valid."
[Enter feedback here]

The sample in the section "Prepare for the new Exchange Online certificate" is not longer valid. Please update the command and needed certificate list to point to valid URLs. The listed command:

certutil -URL https://crl.globalsign.com/gsorganizationvalsha2g3.crl

 is no longer valid and fails 100% of the time.
---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-11-03 14:51] MarcLaf commented on #3335
Right I see that option but again, that's a lot of manual combing through and adding to the allow list. Was just looking for an alternate solution or suggestions on how to deal with it.

[2020-11-03 16:27] pjrcdf opened #3343 "Feedback"
It would be helpful to amend the instructions for creating the DEP policy for SharePoint Online to include the -identity parameter and include this in your stated example to illustrate what value you need to enter, as you are immediately prompted for this value when you run the command as currently listed.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-11-03 18:57] #2738 closed

[2020-11-03 21:37] msbemba commented on #3327
@dougeby Thank you for your feedback. The Term WDATP is now Microsoft Defender ATP (MDATP). The references on this document reflect the same.

Hope that helps!

@yogkumgit There are no changes required in this document and the issue can be closed.

Thanks
Sri

[2020-11-03 21:38] msbemba commented on #3324
@matuhinal Thank you for your feedback. I reviewed the document and could not find anything incorrect or needs modification. DNS records help the Internet send emails to the right place so let us know how we can help you modify or explain this document?

Thanks
Sri

[2020-11-03 21:44] msbemba commented on #3323
@scottyv Thank you for your feedback. We have added a line to the paragraph saying that all accounts need to have the appropriate licenses to assign DEP. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3347

Thanks
Sri

[2020-11-03 21:54] msbemba commented on #3305
@gvggvg Thank you for your feedback. The usage analytics tile is on the bottom right corner of the usage page under reports

![image](https://user-images.githubusercontent.com/45987684/98044595-24952000-1e4d-11eb-93e0-4ffb9e8014bd.png)

Hope this helps!

Thanks
Sri

[2020-11-03 21:56] msbemba commented on #3220
@Alex-Catalin I have got a confirmation that we will be deleting the older version of the article and redirect its URL to the current version. All references to this document will be modified as well.

Hope this helps!

@yogkumgit I have got a confirmation that this will be deleted soon and will replace it with another document. Please close this issue.

Thanks
Sri

[2020-11-03 21:56] msbemba commented on #3225
@robmazz Do you know if the Invalid URL can be fixed? or Can we remove the invalid URL from the document?

[2020-11-03 21:57] msbemba commented on #3246
@robmazz Could you also please check these In-scope cloud services So that we can update the issue and the document.

Thanks
Sri

[2020-11-03 21:59] msbemba commented on #3271
@JoeDavies-MSFT I can confirm that it worked on three sessions simultaneously on Powershell. Could you please confirm this limit with engineering so that I can update the document?

Thanks
Sri

[2020-11-04 05:30] Alex-Catalin commented on #3220
Thank you Sriraman!

Alexandru Cazacu
Sr. Support Escalation Engineer
Exchange Online
M365 EMEA Customer Service & Support
alexandru.cazacu@microsoft.com<mailto:alexandru.cazacu@microsoft.com>
9 AM - 6 PM (GMT+3)
[cid:image001.png@01D6B27C.52088FF0]

From: Sriraman M S <notifications@github.com>
Sent: Tuesday, November 3, 2020 11:56 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@norep

[2020-11-04 11:56] yogkumgit commented on #3327
@msbemba Thank you very much for the contribution and sharing this explanation. @dougyoda Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-04 11:57] #3327 closed

[2020-11-04 12:10] yogkumgit commented on #3307
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-04 12:10] #3307 closed

[2020-11-04 12:17] yogkumgit commented on #2842
@msbemba Thank you very much for the contribution and updating the documentation with PR. @danialonso Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-04 12:17] #2842 closed

[2020-11-04 12:32] yogkumgit commented on #3220
@msbemba Thank you very much for the contribution and sharing this explanation. @Alex-Catalin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-04 12:32] #3220 closed

[2020-11-04 12:54] new-kirte opened #3348 "What is Facebook Business?"
What kind of product is Facebook Business? Is it Facebook or Workplace by Facebook?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d67ad4c-6a94-9d9a-672c-eb29861206ec
* Version Independent ID: 4d4ad232-7a70-21a5-7f84-cfba6d732c25
* Content: [Deploy a connector to archive Facebook Business pages data - Microsoft 365 Co

[2020-11-04 13:17] sabarivasanN opened #3349 "Wait period to enable the Directory synchronization"
The wait time of 72 hours to enable back the directory sync once disabled is a worse thing. Admin turn off this particularly when they issues on their environment and separate from on-prem but this wait period makes it worse than the exact issue. This wait period should be reduced to the least.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-11-04 14:03] sigurd-de opened #3350 "access URI w/ proxy authentication"
If a company has proxy authentication is place it is critical to understand if the URI access is in user or machine context.
Pls. add this information to the listed URIs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* C

[2020-11-04 15:36] msbemba commented on #3294
@SabRom Thank you for your feedback. We have made changes to the document and the same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3352. Note that once the changes are approved by the author it takes 48 hours for the document to go live.

Thanks
Sri

[2020-11-04 15:43] msbemba commented on #3309
@itguysocal Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3353

Thanks
Sri

[2020-11-04 17:41] DeanGross opened #3354 "Screen Shots"
I noticed the Data Category in the secure score images, does not contain any values. I am seeing the same thing in my tenant. Is this a known limitation? i.e., should there be a value from Microsoft Information Protection or is this still a future item? The explanation at the top of the page makes it clear that Infrastructure should not have any points, but I'm expecting to see points in the Data

[2020-11-04 17:57] markjjo commented on #3348
@new-kirte I believe Facebook Business and Workplace by Facebook are two different Facebook products. Would suggest you follow up with Facebook.

https://www.facebook.com/business
https://www.workplace.com/

Microsoft does offer a data connector for each: https://docs.microsoft.com/en-us/microsoft-365/compliance/archiving-third-party-data?view=o365-worldwide#third-party-data-connectors

[2020-11-04 17:57] #3348 closed

[2020-11-04 19:11] JoeDavies-MSFT commented on #3271
@bobsun0917 @msbemba The maximum number of simultaneous sessions is 5. The articles that describe the limit of 3 are being updated.

[2020-11-04 19:39] kwekuako commented on #3333
Hi @bobfrankly can you clarify? Do you mean the "set message header" part? Put the text in the doc as well as the screenshot?

[2020-11-04 20:59] bobfrankly commented on #3333
@kwekuako  Exactly. Similarly to the powershell code blocks above and below, in a form that makes copy/paste an optional alternative to the screen cap. The screen cap is useful as a point of reference, but when dealing with "use this string exactly" scenarios, every admin appreciates copy/paste.

[2020-11-04 23:14] levinec commented on #3354
@DeanGross you are correct, there are actually no values for Microsoft Information Protection currently. I'll update the doc today.

[2020-11-04 23:14] #3354 closed

[2020-11-05 13:16] DeanGross commented on #3354
OMG, I have been arguing with the Support team for weeks about this. They were insistent that it was not showing up because of licensing. I was adamant that the docs said it would work. This has caused me to waste a tremendous of time. Do you have timeline for when the Data category score will be usable?

[2020-11-05 14:36] softwarecraft opened #3356 "Make clearer the need/benefit to signing in before starting the test"
It is preferable to be signed in to your M365 tenant before starting the test so the results will be uploaded to the tenant and available to the tenant admin. This doc page mentions this only at the end of the first section "Once the tests are completed..." Instead please make it one of the first points that folks should sign in before starting the test.

[Enter feedback here]

---
#### Document d

[2020-11-05 14:37] andrePKI opened #3357 "Enabling the feature - how long does that take?"
How long does it normally take to enable sensitivity labels for SharePoint and OneDrive?
My Global Admin went to the compliance portal, saw the "yellow box" on the information protection tab (which I did not see as Compliance Administrator) and clicked "turn on now".
Immediately the yellow notification disappeared, but still we see the notice "first complete these steps to enable the feature."
Doe

[2020-11-05 14:48] andrePKI opened #3358 "How long does it take to enable the feature? Permissions not clear"
How long does it normally take to enable sensitivity labels for SharePoint and OneDrive?
My Global Admin went to the compliance portal, saw the "yellow box" on the information protection tab (which I did not see as Compliance Administrator) and clicked "turn on now".
Immediately the yellow notification disappeared, but still we see the notice "first complete these steps to enable the feature."
Doe

[2020-11-05 14:58] andrePKI opened #3359 "Assign labels to AAD groups??"
This documentation is a maze. I get lost the whole time.
"1. Because this feature uses Azure AD functionality, follow the instructions from the Azure AD documentation to enable sensitivity label support: Assign sensitivity labels to Microsoft 365 groups in Azure Active Directory."
Now, do I just need to execute the one step to enable label support? Or do I also need to create groups (use existing)

[2020-11-05 15:14] 3novsan opened #3360 "Additional Retention Policy for Yammer"
"To retain and delete **email messages for your Yammer network**, configure an additional retention policy that includes any Microsoft 365 groups that are used for Yammer, by using the Microsoft 365 Groups location."

Can you please describe what these "email messages for your Yammer network" means here?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-11-05 18:06] cabailey commented on #3360
For example, notification emails that contain requests to join a Yammer network or posts that get sent to your inbox.

[2020-11-05 18:06] #3360 closed

[2020-11-05 19:22] cabailey commented on #3357
@andrePKI  Thanks for bringing this to my attention.  After checking, yes it seems being a global admin is required to see this yellow bar & "Turn on" because behind the scenes, it's making a SharePoint reconfiguration at the tenant-level.  I'm updating the docs today to reflect this requirement.

It should take effect fairly quickly but I'm also adding it can take up to 15 minutes.

I suspect the

[2020-11-05 19:22] #3357 closed

[2020-11-05 19:41] cabailey commented on #3359
@andrePKI Yes, this is a challenge because to use the feature in Microsoft 365, you must first enable a setting in Azure AD.  We link over to the Azure AD documentation because they own this and can change their instructions.  In fact, this happened in the past when we copied their instructions for an easier end-to-end procedure to follow, and didn't realize when they made technical changes and of

[2020-11-05 19:41] #3359 closed

[2020-11-05 19:45] andrePKI commented on #3357
@cabailey Carol thank you for your prompt and clear responses!

[2020-11-05 20:19] chrfox commented on #3022
investigating

[2020-11-05 20:20] chrfox commented on #2871
@softwarecraft
thanks for this. I am investigating this issue

[2020-11-05 20:21] chrfox commented on #3206
The information is correct

[2020-11-05 20:21] #3206 closed

[2020-11-05 20:22] chrfox commented on #3334
still in preview

[2020-11-05 20:22] #3334 closed

[2020-11-05 22:21] naps1saps opened #3368 "Usage reports page missing dropdown"
The dropdown is missing in 365 admin center since several months ago.  I believe there was a UI update.  Please update documentation for viewing mailbox usage reports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e612a4e4-d051-27a7-e54a-bb1ac3fe0849
* Version Independent ID: 653be32f-e4e8-8a72-98b3-a629238ecbd5
* Con

[2020-11-06 01:28] seansquires commented on #3257
Apologies for the delayed reply - thank you for reporting the issue @pk091990 - you did all the right steps and uncovered a code regression. The team has already identified and submitted a fix. It's rolling out now and should be working as advertised (against a global term set) next week. Thanks for reporting - and your patience!

[2020-11-06 03:47] yogkumgit commented on #3257
@seansquires Thank you very much for the contribution and sharing this explanation. @pk091990 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-06 03:47] #3257 closed

[2020-11-06 04:58] Astartes74 opened #3372 "Missing information or link"
Team, why does this page not link to information about the cost of adding additional storage to SharePoint?  This is fundamental to what the page is discussing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-aced-e2f3-f52d-034e14fe1aee
* Content: [

[2020-11-06 08:20] uhoefner opened #3374 "Admin consent - Replace Connect-AzureAD with Connect-AzAccount"
Within the admin consent it seems that the command 'Connect-AzureAD' needs to be replaced with 'Connect-AzAccount'

---
Connect-AzureAD
$appId="bcf62038-e005-436d-b970-2a472f8c1982"
$sp=Get-AzADServicePrincipal -ServicePrincipalName $appId
if ($sp -eq $null) { New-AzADServicePrincipal -ApplicationId $appId }
Start-Process  "https://login.microsoftonline.com/common/adminconsent?client_id=$appId"
--

[2020-11-06 09:40] DennisGaida opened #3375 "Link to Exchange Online PowerShell is wrong"
The link for "Connect to Exchange Online PowerShell" is wrong and should be https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-online-powershell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba164b8e-a574-0744-ce02-23bda994e505
* Version Independent ID: 05018469-d6f8-0eb5-956c-730991912f8b
* Cont

[2020-11-06 11:39] Raj-MCITP opened #3377 "What will happen, if a matching Keyword removed from Auto labelled document"
If I remove a matching keyword from a autolabelled document.. will the auto label get removed automatically?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6564bdaa-d66b-42ba-85bd-7c8f9989093d
* Version Independent ID: 33be52f1-d233-9c5d-abb3-140a9c6a0d74
* Content: [Apply a sensitivity label to content automatically -

[2020-11-06 14:04] dkotars opened #3378 "Grammar"
"Communication compliance is a insider risk solution in Microsoft 365 that helps minimize communication risks by helping you detect, capture, and act on inappropriate messages in your organization. Pre-defined and custom policies allow you to scan internal and external communications for policy matches so they can be examined by designated reviewers. Reviewers can investigate scanned email, Micros

[2020-11-06 21:16] peter-stratis opened #3381 "Potential improvement on docs"
I'm wondering if...

b. A message header > includes any of these words > Header name: <CustomHeaderName> Header value: <CustomHeaderValue>.
![image](https://user-images.githubusercontent.com/67962002/98415407-45c35f80-204b-11eb-9569-e3142394a1ab.png)

Should be modified to...

Modify the message properties >> set a message header >> Set the message header <CustomHeaderName> to the value <CustomHea

[2020-11-06 21:24] msbemba commented on #3273
@toskr Thank you for your feedback.  We will work internally and get this note added to the document.

[2020-11-06 21:26] msbemba commented on #3273
@JoeDavies-MSFT I'm not able to add a note to this document on point 125. This links to another file that I don't have access to. Could you please help us in adding a note that the endpoints mentioned in 125 are required for certificate validation?

Thanks
Sri

[2020-11-06 21:29] msbemba commented on #3271
@JoeDavies-MSFT Thank you for the update.

[2020-11-06 21:38] SquirrelAssassin opened #3382 "Tenant Allow/Block List link doesn't work"
https://protection.office.com/tenantAllowBlockList doesnt link to anything, and the powershell command is not there.

1. update or remove the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manag

[2020-11-06 22:05] dgordonb opened #3383 "Outlook Customer Manager is deprecated"
Outlook Customer Manager has been deprecated.  Please remove the reference to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61c960c-f5c3-76f7-ac18-dfeaf30230e4
* Version Independent ID: 3dc607b2-869e-976f-80da-d73cfb1210e5
* Content: [Cross-tenant mailbox migration - Microsoft 365 Enterprise](https://docs.microso

[2020-11-06 22:10] dgordonb opened #3384 "Outlook Customer Manager has been deprecated. Please remove the reference to it."
Outlook Customer Manager has been deprecated.  Please remove the reference to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83d1bfdf-f250-d2a1-17dc-36a8a305b82a
* Version Independent ID: a8d0892a-dfc9-e115-d77b-a191bf5423fc
* Content: [Migrate from Microsoft 365 Business to Microsoft 365 E3 - Microsoft 365 Busines

[2020-11-06 22:14] dgordonb opened #3385 "Outlook Customer Manager has been deprecated. Please remove the reference to it."
Outlook Customer Manager has been deprecated.  Please remove the reference to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 632c11fa-8975-afd4-a050-7ff42ca3eb33
* Version Independent ID: 2b736015-0f61-4159-e102-77a056f8abec
* Content: [Office 365 Data Subject Requests Under the GDPR and CCPA - Microsoft GDPR](http

[2020-11-07 00:24] chrisda commented on #3382
@SquirrelAssassin, as it states at the top of the topic:

If the link doesn't work for you, then you likely aren't part of the Preview.

[2020-11-07 00:50] chrisda commented on #3381
@peter-stratis, OK. Done.

Thanks for the feedback.

Closing

[2020-11-07 00:50] #3381 closed

[2020-11-07 03:51] maximumdave opened #3387 "Temporary licensing backfill issue"
This document references "temporary licensing backfill issue" but I cannot find out what this exactly means. It also reference the "previous FAQ" but again it is not clear on which FAQ it is referring to. Please update this article with more clarification on these two issues. The 10 year audit license becomes available in early 2021 so it would be great to have this clarification as soon as possib

[2020-11-07 14:11] SquirrelAssassin commented on #3382
Use a different area of documentation for prod and preview documentation, y’all gotta start thinking more.

[2020-11-07 14:11] #3382 closed

[2020-11-07 14:24] SquirrelAssassin commented on #3382
Let me re iterate a consulting company Microsoft owns created tickets on our side about permissions out side did not give them and wasted life hours.  Use a preview documentation url.  If you don’t have (a site to show) don’t show any site at all. Once it hits google it’s scripture and obviously it already burned real human life hours.  Be responsible for what you show and how you show it.

[2020-11-08 11:47] GiantCrocodile opened #3388 "Which Office 365 or Azure features are limited or no longer available in Office 365 region Germany?"
Hello,

I seek for information in the documentation which Office 365 or Azure features are not available or limited regarding performance/functionalities if you migrate from the EU datacenters to the new Office 365 region Germany (Berlin, Frankfurt).

According to this article from an expert (https://www.rakoellner.de/2020/10/neue-dienste-der-microsoft-kommen-nun-aus-deutschland-und-die-migration-

[2020-11-09 05:30] lachlanmd opened #3391 "Azure Resource Manager Control & Data Plane & ExpressRoute"
Currently, the documentation under the "Microsoft 365 Common and Office Online" subsection lists "management.azure.com", part of ID 59, as not routable by ExpressRoute.

According to [this docs page](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing#service-to-bgp-community-value), the BGP community **12076:5070** _can_ route Azure Resource Manager requests, including reques

[2020-11-09 05:37] yogkumgit commented on #3271
@msbemba Thank you very much for the contribution and sharing this explanation. @bobsun0917 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-09 05:37] #3271 closed

[2020-11-09 05:42] yogkumgit commented on #3075
@robmazz Gentle reminder, please review the comment and help us in resolving this issue. Thanks.

[2020-11-09 05:47] yogkumgit commented on #3305
@msbemba Thank you very much for the contribution and sharing this explanation. @gvggvg Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-09 05:47] #3305 closed

[2020-11-09 05:52] yogkumgit commented on #3324
@msbemba Thank you very much for the contribution and sharing this explanation. @matuhinal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-09 05:52] #3324 closed

[2020-11-09 05:57] yogkumgit commented on #3333
@cmcatee-MSFT Please help us resolving this issue. Thanks

[2020-11-09 06:02] yogkumgit commented on #3321
@JoeDavies-MSFT Please help us resolving this issue. Thanks

[2020-11-09 06:08] #3325 closed

[2020-11-09 06:16] yogkumgit commented on #3250
@liamdou We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2020-11-09 06:16] #3250 closed

[2020-11-09 06:18] yogkumgit commented on #3228
@cmcatee-MSFT Can this issue be resolved. Please confirm. Thanks.

[2020-11-09 06:23] yogkumgit commented on #3212
@chrisda Can this issue be resolved. Please confirm. Thanks

[2020-11-09 06:24] yogkumgit commented on #3132
@MSFTTracyP gentle reminder please help us resolving this issue. Thanks.

[2020-11-09 06:25] yogkumgit commented on #3131
@JoeDavies-MSFT gentle reminder, please help us resolving this issue. Thanks

[2020-11-09 06:28] yogkumgit commented on #3094
@cabailey Thank you very much for sharing this explanation. @pbinksma Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-09 06:28] #3094 closed

[2020-11-09 06:33] yogkumgit commented on #3032
@cabailey Thank you very much for digging deep into it.  @joemccla We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valua

[2020-11-09 06:33] #3032 closed

[2020-11-09 06:35] yogkumgit commented on #2973
@DaniHalfin Gentle reminder, please add your comment and help us resolving this issue. Thanks

[2020-11-09 06:38] yogkumgit commented on #2861
@chrisda Please add your comment and help us resolving this issue. Thanks

[2020-11-09 13:44] dennis131 opened #3393 "Duplicate row 7.2.3"
Determine when consent is to be obtained (7.2.3) row is listed twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac42bb5-3204-4839-6fcb-5a5052a0d9cb
* Version Independent ID: 57cde474-a2e7-fc4b-339d-3e28377ae035
* Content: [Accountability readiness checklist for the GDPR - Microsoft GDPR](https://docs.microsoft.co

[2020-11-09 16:47] prontohostau opened #3394 "Enquiries about support option availibility"
[Could some one check that above statement is still valid. This will be life saving help.
"Microsoft support staff can help provision or deprovision the service and related resources on your tenant" ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7f625c-f3ef-882d-231f-6fef18e14137
* Version Independent ID: 3f335d54-

[2020-11-09 16:49] prontohostau commented on #3394
Note

Microsoft Defender for Endpoint automatically provisions in European Union (EU) data centers when turned on through Azure Defender. Microsoft 365 Defender will automatically provision in the same EU data center for customers who have provisioned Defender for Endpoint in this manner.

[2020-11-09 19:57] cmcatee-MSFT commented on #3228
Received no response to my request for further info, closing this issue.

[2020-11-09 19:57] #3228 closed

[2020-11-09 20:00] markjjo commented on #3387
@maximumdave Thanks for catching this. We will remove the references to previous FAQ and licensing backfill issue. It's not applicable anymore and doesn't impact an organization's ability to plan for the 10-yr retention of audit records. For 10-yr audit log retention, you just need to make sure that the users whose audit records you want to retain for 10 yrs are appropriately licensed, and to impl

[2020-11-09 20:00] #3387 closed

[2020-11-09 20:54] mntorq opened #3395 "Page design has changed, cannot locate information"
Looking for section on creating tags.  Due to the new Compliance Management page I cannot follow the guide as presented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e9c1f9-d22d-8c83-25bb-637f3121ef33
* Version Independent ID: b6c1f57d-978f-c959-ef0a-00ef1b9d9cab
* Content: [Set up an archive and deletion policy fo

[2020-11-09 20:57] mntorq commented on #3395
Nevermind, missed a step.
The Exchange portal is important, but I don't know why it's controlled here and not under Compliance Management, etc as these are the new portals that MS is recommending to use for everything.

[2020-11-09 22:34] markjjo commented on #3395
@mntorq At this time, the only way to move items to the archive mailbox (e.g. by creating an archive policy) is to use MRM retention tags and retention policies in Exchange Online (there is no way to do this in the new portals). For this article, maybe the best thing would be to change Step 2, and navigate directly to the the EAC (e.g. 1: Go to the Exchange admin center at https://outlook.office.c

[2020-11-09 22:34] #3395 closed

[2020-11-10 02:58] lethinh0510 opened #3396 "SPO can NOT scan virus when upload by Microsoft Graph API"
Hi,

I have a problem in SPO scan virus.
When I upload virus file to SPO in browser. It scan OK.
But when I using Microsoft Graph API upload in FE. It didn't detected it virus.

Thank you
![tempsnip](https://user-images.githubusercontent.com/10781387/98622084-3e49d200-233b-11eb-91b3-4903bdb5989b.png)

[2020-11-10 03:23] GLComputing opened #3397 "Link for How Domain Rename Works goes to old version"
Under "Change your Primary Domain", the link for How Domain Rename Works goes to a page with info on Server 2003/2008 with the note: "We're no longer updating this content regularly."
While the "Applies to" section includes 2012, the content makes no references to that version

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-11-10 07:13] DaniHalfin commented on #2973
Hi @DeanGross ,
Information about the Attack simulation training experience currently in public preview on the Microsoft 365 security center is available as follows:

- [Simulate a phishing attack](https://docs.microsoft.com/microsoft-365/security/office-365-security/attack-simulation-training)
- [Create a custom payload for Attack simulation training](https://docs.microsoft.com/microsoft-365/secu

[2020-11-10 07:13] #2973 closed

[2020-11-10 07:23] GLComputing opened #3398 "Another option for third-party servers"
In the section "Set up DKIM so that a third-party service can send, or spoof, email on behalf of your custom domain," another possibility is that the third-party server can have it's own CNAME records with different selectors.

EG:
customdkim._domainkey.domain.com   CNAME   customdkim._domainkey.customserver.com
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-11-10 08:37] arnauvc opened #3399 "Activities on items missing"
It seems like there're 2 activities missing in the documentation that are already available in Endpoint DLP:

- copy to clipboard
- modify a file

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 820cb23f-f33d-241d-5ce2-1d824bcd3747
* Version Independent ID: 36d24f60-27b6-f2c1-ccda-1b49a1d4f073
* Content: [Learn about Mic

[2020-11-10 13:08] DeanGross commented on #2973
Sorry, i was not very clear. It would be helpful if this page, which currently describes the old version, that is being replaced contained some information about the new version or a link to the documentation you reference. @DaniHalfin

[2020-11-10 15:27] kirknall opened #3403 "ATP Anti-Phishing Policy 'Users to protect' Limit Change"
Hello M365 Docs,

Referencing https://github.com/MicrosoftDocs/OfficeDocs-o365seccomp/issues/364 and several meetings, including PFE configuration and security audits.

This documentation page now states that the 60 'Users to protect' limit is **per tenant** and not **per policy** as it had been in the past,

This config received Microsoft's blessing as recently as July of this year.

When did thi

[2020-11-10 16:43] jonwbstr commented on #3212
I haven't seen any changes to the behavior or to the article yet so hopefully not :)

[2020-11-10 16:44] chrisda commented on #3403
@kirknall, I'm pretty sure the '60 users' limit has been mentioned in the UI for some time, but it's unclear if anything has changed. In other words, the '60 users' limit might have always been 60 users for all policies in the organization. It's only recently that we've clarified.

[2020-11-10 16:45] JoeDavies-MSFT commented on #3267
@tajaber *.windows.net is listed in https://docs.microsoft.com/en-us/azure/azure-portal/azure-portal-safelist-urls?tabs=public-cloud. Adding subdomains of the *.microsoftonline.com endpoint can become a Microsoft and customer administrative burden. Thanks for your suggestions.

[2020-11-10 16:45] #3267 closed

[2020-11-10 17:01] kirknall commented on #3403
It is mentioned in the UI, in each of the 9 policies we have. There is no indication anywhere that entering users into subsequent policies are basically useless.  The documentation also did not mention this until relatively recently.

We have had 2 different field engineers review this and confirm it should work as configured.

"Oh sorry, you've only been protecting 60 of those 560 user for the pa

[2020-11-10 17:05] JoeDavies-MSFT commented on #3321
@spuninst The address 52.98.77.213 is within the 52.96.0.0/14 range, which includes 52.96.0.0 - 52.99.255.255. Thanks for your question.

[2020-11-10 17:05] #3321 closed

[2020-11-10 17:07] DaniHalfin commented on #2973
Hi again @DeanGross ,
Thanks for clarifying. I've submitted a change to link off to the public preview content from this page. Hope this fully addresses this issue.

[2020-11-10 17:21] chrisda commented on #3212
Issue is being worked. Nothing to report.

[2020-11-10 17:59] eblackbird opened #3407 "Please Update This Article on Upgrading Distribution Lists to Office 365 Groups"
Please Update [This Article](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/upgrade-distribution-lists?redirectSourcePath=%252fen-us%252farticle%252fupgrade-distribution-lists-to-office-365-groups-in-outlook-787d7a75-e201-46f3-a242-f698162ff09f&view=o365-worldwide#which-distribution-lists-cannot-be-upgraded) on Upgrading Distribution Lists to Office 365 Groups

I really appreciate the

[2020-11-10 18:19] TANSHUAI1993 opened #3408 "little ambiguity"
Modern Authentication is a method of identity management that offers more secure user authentication and authorization. It's available for Office 365 hybrid deployments of Skype for Business server on-premises and Exchange server on-premises,
Mean is Modern Authentication support Exchange server on-premises. And looks like Azure AD Connect is unnecessary.
But in General prerequisites part say:

-Y

[2020-11-10 21:59] chrisda commented on #3403
@kirknall, I've just been informed that the recent 'max 60 protected users' updates are incorrect. The correct maximum is 60 protected users per policy, but you can't specify the same protected user in more than one policy.

I've updated the topic accordingly

[2020-11-11 03:38] FlorentReynal opened #3412 "Security issue"
[Enter feedback here]
The powershell command ask the user to run powershell -ExecutionPolicy Unrestricted but does not indicate to set it back to its default value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05581e98-a835-1277-3cef-aea6221d9065
* Version Independent ID: e2b54d7d-8f38-5118-ef85-ce9b16da291f
* Content

[2020-11-11 07:27] yogkumgit commented on #3218
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 07:30] yogkumgit commented on #3221
@msmbaldwin  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 07:32] yogkumgit commented on #3274
@dmwmsft  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 07:35] yogkumgit commented on #3282
@MSFTTracyP  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 07:36] yogkumgit commented on #3308
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 08:25] cshailaja opened #3415 "Auto Labeling not working in outlook web"
We are using auto labeling capability though label settings and as per the condition its suppose to auto label the email/file if US SSN number is found in it.
AIP service is auto labeling the mails sent through Outlook client but when I send any SSN in email using outlook on web, it does not auto label it.

Any help would be appreciated.

[2020-11-11 11:02] yogkumgit commented on #3415
@cshailaja Please mention which document you are referring to. Thanks

[2020-11-11 11:18] yogkumgit commented on #3388
@andybergen Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 11:20] yogkumgit commented on #3377
@cabailey Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 11:20] yogkumgit commented on #3358
@cabailey Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 11:21] yogkumgit commented on #3350
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 11:23] yogkumgit commented on #3343
@KCCross  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 11:24] yogkumgit commented on #3338
@MikePlumleyMSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-11 12:08] cshailaja commented on #3415
I am sending sensitive info (SSN) in the mail body, not using any document.

[2020-11-11 12:38] kirknall commented on #3403
Excellent. Thank you!

[2020-11-11 12:38] #3403 closed

[2020-11-11 13:35] MikePlumleyMSFT commented on #3338
@DeanGross @yogkumgit  The article has been updated to show the latest experience.

[2020-11-11 14:02] MGamil-MSFT opened #3416 "Cannot find the same configuration in my test tenants !!"
Checked this configuration in 2 of my test tenants and it is totally different from the configuration located in this article!!

Not sure if I need to enable something in my test tenants or this article need to be updated ?

![image](https://user-images.githubusercontent.com/39204008/98820754-425b1a00-2437-11eb-94b6-1fd3747f5dfd.png)

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-11-11 15:13] davidsrhans opened #3417 "Setting Up Syntex is in "Settings" > "Organizational Knowledge", not Files and Content"
the document at this section:

https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/set-up-content-understanding#to-set-up-sharepoint-syntex

should say organisational knowledge, and not Files and Content, when you are about to setup Automate content understanding

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-11 15:43] cabailey commented on #3358
Same issue as https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3357 - resolved

[2020-11-11 15:43] #3358 closed

[2020-11-11 16:13] JoeDavies-MSFT commented on #3131
@Alex-Catalin Sorry for the extended delay. I will be removing this article today and redirecting it to its new version here: https://docs.microsoft.com/Exchange/recipients-in-exchange-online/manage-user-mailboxes/recover-deleted-messages

[2020-11-11 16:13] #3131 closed

[2020-11-11 18:25] andybergen commented on #3388
Migration of Office 365 core customer data at rest to Germany is a data residency change for Exchange Online, SharePoint Online, OneDrive for Business, and Teams chat service data.  There is no impact to feature availability as part of the broader global service.

[2020-11-11 18:47] GiantCrocodile commented on #3388
Hi @andybergen! I appreciate your quick response. Does this mean the mentioned article is wrong, especially the mentioned features which will be unavailable or limited, e. g. no live events? I'm surprised by your statement as the article is quite precise and the author (who's quite known for his Office 365 competence) mentioned somewhere else that there's other stuff to keep in mind that's not lis

[2020-11-11 18:53] andybergen commented on #3388
I am not commenting on the article.  I am stating that in migrating customer data we will not cause features to be unavailable.  Note that the committed date for migrations to Germany to complete is spring 2023.

From: Clemens Prill <notifications@github.com>
Sent: Wednesday, November 11, 2020 10:48 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Andy Bergen <an

[2020-11-11 19:12] jbize opened #3420 "Page is out of date"
It's November 2020... will you meet the "December 31, 2017, compliance deadline" for CDI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c79f14a-7b76-26cf-b97d-e8f2a922bb75
* Version Independent ID: e73e89a7-a122-67ce-154f-6cee9d6f41c5
* Content: [US Department of Defense (DoD) Provisional Authorization - Microsoft Co

[2020-11-11 19:18] GiantCrocodile commented on #3388
I see @andybergen. It's a bit difficult now as we have two completely different statements and a tenant core data move can't be cancelled or reverted.

[2020-11-11 20:06] CPapas opened #3427 "404 Not Found Error"
Trying to access the Azure HIPAA HITRUST blueprint sample fails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b545aa0d-ba68-3113-413b-0c0b176b08bd
* Version Independent ID: bb2ce8e1-7f40-e5ed-60c4-f8bb0912661d
* Content: [Health Insurance Portability and Accountability (HIPAA) & HITECH Acts - Microsoft Compliance](ht

[2020-11-12 03:25] msbemba commented on #3385
@dgordonb Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3431

Thanks
Sri

[2020-11-12 03:27] msbemba commented on #3384
@dgordonb Thank you for your feedback. We have made changes to the document via PR##https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3432

Thanks
Sri

[2020-11-12 03:32] msbemba commented on #3383
@dgordonb Thank you for your feedback. We have made changes to the document via PR##https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3433

Thanks
Sri

[2020-11-12 03:34] msbemba commented on #3393
@dennis131 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3434

Thanks
Sri

[2020-11-12 05:25] #3338 closed

[2020-11-12 10:19] Pixa1 opened #3437 "Link to Revoke-AzureADUserAllRefreshToken throws 404"
To use PowerShell to sign out a user immediately, see Revoke-AzureADUserAllRefreshToken cmdlet.

the link points to https://docs.microsoft.com/hr-hr/powershell/azuread/v2/revoke-azureaduserallrefreshtoken which throws 404 - page not found

it should point to :
https://docs.microsoft.com/en-us/powershell/module/azuread/revoke-azureaduserallrefreshtoken?view=azureadps-2.0

---
#### Document Details

[2020-11-12 15:13] msbemba commented on #3412
@FlorentReynal Thank you for your feedback. We have added a note about the same and it can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3438

Thanks
Sri

[2020-11-12 15:21] msbemba commented on #3349
@sabarivasanN Thank you for your feedback. The 72 hours mentioned in the document is the maximum wait time before you can enable Directory synchronization. This at the moment cannot be decreased as other factors contributing to the delay like the number of Cloud accounts in the subscriptions etc.

Hope this helps!

@yogkumgit  There are no changes required in the document at the moment. Please clo

[2020-11-12 15:25] msbemba commented on #3356
@softwarecraft Thank you for your feedback. We have added a note to the document to log in before running the tests. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3439

Thanks
Sri

[2020-11-12 15:30] msbemba commented on #3368
@naps1saps Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3440

Thanks
Sri

[2020-11-12 15:51] msbemba commented on #3372
@Astartes74 Thank you for your feedback. This page is accessed globally and the price differs for every region. If the Admin navigates as per the steps provided in the document, they will be able to view the exact price for their tenant/region.

Hope this helps!

@yogkumgit There are no changes required in the document and the issue can be closed.

Thanks
Sri