[2022-06-28 17:55] DMoenks commented on #9036
As much as I welcome the feature announcement, from an administrative point of view I would rather prefer to not directly have the result called **nesting** in the documentation, at least as long as the feature is still in preview. My reasons would be the following:

1. Based on the feature description, users of group X and Y would be made direct members of group A. Although the usability of membe

[2022-06-28 20:28] #8968 closed

[2022-06-28 20:32] mjcaparas commented on #8316
Please contact support.

[2022-06-28 20:32] #8316 closed

[2022-06-28 20:54] andrePKI commented on #8968
No mention of Arc?

[2022-06-28 20:56] andrePKI commented on #8968
And no change to the original doc. So how does this help?

[2022-06-28 21:35] JayWCotton commented on #8936
any update here?

[2022-06-29 00:01] FrederickEngelhardt opened #9047 "microsoft defender endpoint development machine configuration"
Question: How do I configure security policies for real-time protection on development computers using a ton modern technologies.

Use case:
A Company needs to secure machines but there a 1000 plus difference processes that defender can scan that are development only.

**Is there a policy or a recommended config template that can be documented for microsoft defender endpoint security for macs?**

[2022-06-29 04:52] msbemba commented on #8996
@PehDeh Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9048

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-29 04:58] msbemba commented on #9016
@MartinVokurek Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9049

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-29 05:04] msbemba commented on #9023
@Francesco219 Thank you for your feedback. Are you referring to Microsoft Flow? This registration is not specific to any services Flow, but for the entire Office Subscription.

Hope this helps!

Thanks
Sri

[2022-06-29 05:08] msbemba commented on #9028
@Lemmingh Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9050

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-29 05:37] koike-a opened #9051 "Are these activities (create an I) Auditable\ restrictable"
<html>
<body>

<h2 id="activities-that-can-be-restricted-on-macos">Activities that can be restricted on macOS</h2>
<p>Once a macOS device is onboarded into Microsoft Purview solutions, you can monitor and restrict these actions with data loss prevention (DLP) policies.</p>
<p><strong>Copy to a USB removable media</strong> – when enforced, this action blocks, warns or audits the copying or moving o

[2022-06-29 07:40] diecknet opened #9052 "Clarify Conditional Access controls"
Please clarify on the Conditional Access Policy Controls. The article states

But there are no further details below regarding "not triggering on managed devices". Instead the following paragraph is about "Idle session timeout on **unmanaged** devices".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccb07d88-8193-95d8-

[2022-06-29 08:54] CL20220101 opened #9053 "Remove 1607 Version"
[Enter feedback here]
1607 does not work and is already EOS. Could you correct it? Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8690a332-f672-8db8-1552-5ee16e78746f
* Version Independent ID: 3df5b553-4e29-da25-c0e4-10686c5fed20
* Content: [Microsoft Defender for Endpoint](https://docs.microsoft.com/en-us/m

[2022-06-29 09:31] rucam opened #9054 "Requirement clarification regarding MDE"
In the section **Requirements for managing tamper protection in Endpoint Manager** is states that _Your devices must be onboarded to Microsoft Defender for Endpoint_.  This implies that MDAV (or maybe even MDB) customers can't use TP over MEM. Is this the case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f31e7b39-b7

[2022-06-29 15:32] yogkumgit commented on #8705
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ChristianW-GKGAB Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-29 15:32] #8705 closed

[2022-06-29 15:34] yogkumgit commented on #8793
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @BlakeMsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-29 15:34] #8793 closed

[2022-06-29 15:37] #8838 closed

[2022-06-29 15:39] yogkumgit commented on #8843
@msbemba Thank you very much for the contribution and sharing this explanation. @koike-a Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-29 15:39] #8843 closed

[2022-06-29 15:41] #8833 closed

[2022-06-29 16:35] KCCross commented on #8907
We use the word 'some' as services upgrade. There is no static list of services that support TLS 1.3. Instead, TLS 1.3 is the eventual goal.

[2022-06-29 18:08] FrederickEngelhardt commented on #9047
Does microsoft have recommendations regarding **process/folder exclusions related to Real-Time protection** for developers using the MacOS platform?

I see a bunch of documentation regarding android development for windows defender but microsoft defender Endpoint does not cover exclusions.

The docs would need to be gear towards security team JAMF deployment exclusions for Mac OS.

Something like

[2022-06-29 18:53] kelleyvice-msft commented on #9018
Thanks for reaching out. I am contacting the appropriate engineering resources and will reply back when I have information. -Kelley

[2022-06-29 19:44] scotttromley opened #9059 "Needs pricing information"
This page is great, except there is no information about the cost of licenses once the trial expires, and no link to a page that indicates that pricing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a75292aa-c461-5df8-af9d-1876c97c15ff
* Version Independent ID: d80dc3cd-95f9-cc52-7d4d-4151c1e5617d
* Content: [About th

[2022-06-29 21:14] chrisda commented on #9059
@scotttromley, OK, fixed.

Thanks for the feedback.

Closing

[2022-06-29 21:14] #9059 closed

[2022-06-30 01:15] cabailey commented on #9015
Hi @stevensarginson

The authentication fields are available when you select "Show advanced options" in the connector and are the equivalent to signing into Security & Compliance PowerShell from a PowerShell session. If you have permissions to create events in the compliance portal, that's all the permissions you need but if you need a specific reference: https://docs.microsoft.com/en-us/microsoft

[2022-06-30 03:22] GeoffWalsh opened #9060 "Out of date instructions"
Following documentation "$RMSConfig = Get-AadrmConfiguration"
Looking up Get-AadrmConfiguration it is part of the "AADRM" module which states "the AADRM module is now deprecated" and "only as an alias to its replacement in the AIPService module.".

It would be so much easier if we didn't have to follow so many different page look-ups.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-06-30 09:16] Obbydin opened #9061 "API call no longer available"
Hello

I'm unsure if Microsoft did something - but I cant seem to get "GET /api/machines/SoftwareVulnerabilitiesByMachine" to work anymore. A call I relied heavily on for Power BI reports.

Do you know anything?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1cd44de-59a3-d257-c195-980adc7460fc
* Version Independent ID

[2022-06-30 10:06] yogkumgit commented on #8996
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PehDeh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-30 10:07] #8996 closed

[2022-06-30 12:59] BenjiSec opened #9063 "KQL for DLP have error when running in Sentinel"
When you run KQL for raw data enrichment, it throws errors
https://docs.microsoft.com/en-us/microsoft-365/security/defender/investigate-dlp?view=o365-worldwide#dlp-investigation-experience-in-microsoft-sentinel

If we change it like before, it works then

let Alert = SecurityAlert
| where TimeGenerated  > ago(30d)
| where SystemAlertId == ""; // insert the systemAlertID here
CloudAppEvents
| exten

[2022-06-30 13:23] tdo365 opened #9064 "Hard to read to find out how to change the global settings for the frequency"
Because in this section things are listed as steps it is very hard to know that at the very bottom step 6 there is a way to change the frequency in days. There is also no visual to accompany this.

I would also like the disclaimer that the global setting controls all of the quarantine settings themselves you can't change one of them.

Please also on the step 1 and step 2 include a screenshot of wh

[2022-06-30 13:26] Obbydin commented on #9061
It seems this API call is functioning again and all data comes as expected. Thanks for resolving it. :)

However another API call seems to have some issues. This is regards to "https://api.securitycenter.microsoft.com/api/Recommendations" - the table 'machineReferences' contain Null value. Similar to what happened in the SoftwareVulnerabilitiesByMachine.

It may just resolve itself. Unsure what go

[2022-06-30 21:17] #9023 closed

[2022-07-01 07:51] #9061 closed

[2022-07-01 08:02] ctahok opened #9072 "The deployment tools table is duplicated"
The same table is given twice at https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-install-with-ansible?view=o365-worldwide#step-2-select-deployment-method

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e457d022-6b68-137b-5723-098c6d301af6
* Version Independent ID: df9dc070-ee8b-3cc5-8ea7-

[2022-07-01 08:22] msbemba commented on #9013
@BMORT17 Thank you for your feedback. I tested it in multiple tenants and the Edit service usage address tab appears. If it does not appear, I'd first check if you have global admin rights and if it is present I recommend you to contact Microsoft support via the need help option in the admin center as this looks more like a bug or a permissions issue on your tenant.

Hope this helps!

Thanks
Sri

[2022-07-01 08:33] msbemba commented on #9020
@justinjbird Thank you for your feedback. The Bookings calendar is a mailbox in Exchange Online so you delete the corresponding user account through the admin center to delete the booking calendar. This has been updated in the document to reduce ambiguity.

Hope this helps!

Thanks
Sri

[2022-07-01 08:43] msbemba commented on #9021
@PehDeh Thank you for your feedback. I'm currently checking with the author and will update you shortly.

Thanks
Sri

[2022-07-01 08:47] msbemba commented on #9036
@nikki-c Thank you for your feedback. I have made changes via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9074

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-01 11:11] OzmeisterO commented on #9011
Thanks for replying Sri, I really appreciate it.  This seems like a massive gap in functionality so I've already added a feedback request: Contact attendees via email · Community (microsoft.com)<https://feedbackportal.microsoft.com/feedback/idea/9393768f-2bf9-ec11-a81b-6045bd864d4f>.

If you know anyone else who might like to upvote it then that would be appreciated!

Thanks again.

Oz Oscroft
___

[2022-07-01 14:49] yogkumgit commented on #9021
@mjcaparas Please help us in resolving this issue. Email sent. Thanks

[2022-07-01 15:24] gunterda opened #9076 "Message submission format example incorrect"
"Both of these messages are being reported as Not Junk based on Subject." is probable not correct, because the first example starts with 3| which is the number for Phish.

Cheers,
Gunter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e53205b5-8850-42b6-0b0c-8a61b7ef7776
* Version Independent ID: 0a9e7903-ce3c-e877-e6b3

[2022-07-01 15:40] arielf-mn opened #9077 "Installing Windows Defender on Server 2016"
In the documentation, it states to use this command when installing via a Task Sequence:

c:\windows\**sysnative**\cmd.exe /c Dism /online /Enable-Feature /FeatureName:Windows-Defender-Features
c:\windows\**sysnative**\cmd.exe /c Dism /online /Enable-Feature /FeatureName:Windows-Defender

Should it be:

c:\windows\**System32**\cmd.exe /c Dism /online /Enable-Feature /FeatureName:Windows-Defender-F

[2022-07-01 16:41] dloder0 opened #9078 "ProcMon 3.60 no longer available"
This page says to download procmon version 3.60, and provides a link to the general procmon download page.  3.60 was superseded many releases ago and is no longer available for download on the linked page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a08b6ae-6445-ab2b-d380-627df46cf3d5
* Version Independent ID: c855

[2022-07-01 17:12] mjcaparas commented on #9021
Checking with the team.

[2022-07-01 20:37] chrisda commented on #9076
OK. Fixed.

Thanks for the feedback.

Closing

[2022-07-01 20:37] #9076 closed

[2022-07-03 13:09] jongross4 opened #9081 "Please add an applies to section to define which clouds have this capability"
As with all features, a section should exist to say if the feature is available in government, china, germany clouds.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccb07d88-8193-95d8-0e19-aa96f2d1668c
* Version Independent ID: ccb07d88-8193-95d8-0e19-aa96f2d1668c
* Content: [Idle session timeout for Microsoft 365 - Mi

[2022-07-04 01:25] thomasjsweet opened #9082 "Please consider adding the licensing level needed for this feature."
[Enter feedback here]
Please consider adding the licensing level needed.  I have Microsoft 365 Business Premium. It has some of the Purview features, but not all.  I know this feature is new.  In some screens in the M365 portal, it shows me has having an E3 license.  I cannot access the "devices" feature listed in this article with my M365 Business Premium license - it does not show.

thx

---
###

[2022-07-05 03:31] hudish opened #9084 "Message Header Analyzer URL Outdated"
In the linked article for the Message Header Analyzer, there are instructions which are outdated (for older clients, and do not include a working link to the Message Header Analyzer).

Please either link to [here](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/anti-spam-message-headers?view=o365-worldwide#:~:text=You%20can%20copy%20and%20paste%20the%20contents%20of%20a

[2022-07-05 06:41] adamfowlerit opened #9085 "Contradictory statement"
"Group owners will only be notified via email. If the group was created via Planner, SharePoint, or any other app, the expiration notifications will always come via email. If the group was created via Teams, the group owner will receive a notification to renew through the activity section."

This paragraph contradicts itself.
This section states that group owners will only be notified by email, bu

[2022-07-05 08:20] LennartaeHoefer opened #9086 "Explanation pattern type was substituted by regular expressions"
(https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/explanation-types-overview#phrase-list)
Patterns are named here but not possible to select them any longer. Only phrase list and regular expressions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bea6e11b-2884-3ae0-9416-be51af65ecaf
* Version Indepen

[2022-07-05 09:30] TonnyWildeman opened #9087 "Missing state for subscription: LockedOut"
Hello there,

I was trying to delete a tenant. And 1 of the requirements is that there are no longer "License Based Subscription"s active. In my case this was the only requirement that wasn't met. But I could not find a subscription in any of the portals.
So I was stumped. Being a programmer, I resorted to using Powershell. In particular the [Get-MgSubscribedSku](https://docs.microsoft.com/en-us/p

[2022-07-05 14:18] msbemba commented on #8882
@ScottBeeson  Thank you for your feedback. I will update the document with updated screenshots.

Thanks
Sri

[2022-07-05 14:55] securityprivateers opened #9090 "how to we whitelist an url?"
when MS gets it wrong, how do we whitelist a URL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1541da6f-af9a-05d5-fa34-b1a5df61424f
* Version Independent ID: 88e111ed-67f7-41bc-d823-863ee7ea2a2e
* Content: [Set up Safe Links policies in Microsoft Defender for Office 365 - Office 365](https://docs.microsoft.com/en-us/

[2022-07-05 15:25] TadaoMachida opened #9091 "Teams search is calling 'business.bing.com'."
Japanese customer told us Teams search box is calling 'business.bing.com'.
Can anyone verify and add it in the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP address ranges - Micr

[2022-07-05 15:57] KvnSearle opened #9093 "POST /groups specifying creator"
Hi,

I have inherited a system to maintain whereby groups and teams are created using calls to the API at https://graph.microsoft.com/v1.0.

I need to adapt it to include a preferred data location

Looking at the information at [https://docs.microsoft.com/en-us/graph/api/group-post-groups?view=graph-rest-1.0&tabs=http](https://docs.microsoft.com/en-us/graph/api/group-post-groups?view=graph-rest-1.

[2022-07-05 16:38] chrisda commented on #9090
@securityprivateers, use the Tenant Allow/Block List:

<https://docs.microsoft.com/microsoft-365/security/office-365-security/allow-block-urls>

You should also report the URL as not bad:

<https://docs.microsoft.com/microsoft-365/security/office-365-security/admin-submission>

[2022-07-05 17:23] mbrown19465 opened #9097 "This whole article contradicts Microsoft 365 Defender Recommendations"
If this is what Microsoft is recommending then why is my secure score at security.microsoft.com is taking a hit because of these 4 settings:
1. Set 'Maximum password age' to '60 or fewer days, but not 0'
2. Set 'Maximum password age' to '90 or fewer days, but not 0' in macOS
3. Set 'Minimum password length' to '14 or more characters'
4. Set minimum password length to 15 or more characters in macOS

[2022-07-05 21:45] chuckedmonson commented on #9086
@yogkumgit -- Thank you for pointing that out, and the article has been updated. Changes should be live shortly. Thanks again.

[2022-07-05 21:45] #9086 closed

[2022-07-05 23:38] CAT-hs opened #9100 "Exclusion wildcard details out of date?"
Is this statement still accurate?

We migrated to Defender for AV beginning last November, managing configuration using Endpoint Protection policies in CM and the exclusions with wildcard that we copied from our previous AV appear to be working fine. CM did not give an error, and the exclusions are showing up in the output of get-mppreference on endpoints.

---
#### Document Details

⚠ *Do not edi

[2022-07-05 23:58] sally-chenn opened #9101 "Change Request; May I know whether we can add the Note about what the Rule Frequency based on?"
[Enter feedback here]
As the Rule Frequency is based on the Event Timestamp, not the Ingestion Time. Is it possible to add an additional note about this information？

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbf510e0-742e-fce6-787e-18eb8a22f42d
* Version Independent ID: 23b77843-cf19-aacb-47af-1f51792c76a0
* Conte

[2022-07-06 00:40] dgalvinau opened #9102 "RSS feed issue"
The RSS feed for the updates released on the 29th June 2022 is only showing two brackets [] the details of the URL and IP changes is not showing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs

[2022-07-06 03:12] cakriwut opened #9103 "Transfer domain is not available"
[Enter feedback here]
The **transfer domain** link is not available anywhere. Is the functionality still exist or has been replaced?
Suggest to add screenshot or RBAC prerequisites if any.

Thx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f82907a2-5f0a-b909-0e15-f7b90768664b
* Version Independent ID: 33c36d45-0ec6-32

[2022-07-06 04:02] SpitFire-666 opened #9104 ""Manage Settings" > "Manage Providers""
"Under Virus & threat protection settings, choose Manage settings."

I think "Manage providers" would be a more accurate way to check what AV is running? Just a suggestion! Cheers

![image](https://user-images.githubusercontent.com/38451588/177465609-026c8500-e837-4780-88d4-00a46cb20c7d.png)

![image](https://user-images.githubusercontent.com/38451588/177465639-426f8f08-55fa-4527-aa64-63a5b10d394f

[2022-07-06 07:33] dn7 commented on #7941
[This document](https://docs.microsoft.com/en-us/microsoft-365/admin/misc/password-policy-recommendations?view=o365-worldwide) has conflicting length recommendations:

- 14 characters: https://docs.microsoft.com/en-us/microsoft-365/admin/misc/password-policy-recommendations?view=o365-worldwide#password-guidelines-for-administrators
- 8 characters: https://docs.microsoft.com/en-us/microsoft-365/adm

[2022-07-06 11:09] Phildo76 opened #9105 "Defender for Cloud Licensing Query"
I'm a little confused about the licensing requirement for this feature - Security Configuration via Endpoint Manager when integrated with Defender for Cloud. Does this feature work with server endpoints onboarded via Defender for Cloud. If so which licensing model do i need to follow

Note exception says: : _If you have access to Microsoft Defender for Endpoint as part of a Microsoft Defender for

[2022-07-06 12:34] BullDawg21 opened #9106 "Enabling Sensitivity Labels"
[Enter feedback here]
Does not say how to enable the features despite pointing to it multiple times.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c0f895e-4e0c-642b-3d74-f31512e555bc
* Version Independent ID: 2e6549c9-35d2-aa32-a03a-fb2ced91e54c
* Content: [Enable sensitivity labels for Office files - Microsoft Purvi

[2022-07-06 14:36] jrpa259 opened #9107 "Comments on Idle Session Timeout Post"
Hi, the details under "Users won't get signed out in these cases" seem contradictory and unclear. See comments below. Can you clarify with the accurate facts?

If they get single sign-on (SSO) into the web app from the device joined account ** JR Comment: This is referring to an Azure AD Joined scenario?**
or
selected Stay signed in at the time of sign-in. **JR Comment: Should this be a separate b

[2022-07-06 14:48] yogkumgit commented on #9093
@KvnSearle Thanks for your feedback. Please indicate which document you are referring to. Thanks

[2022-07-06 15:07] yogkumgit commented on #7941
@msbemba

[2022-07-06 15:17] cabailey commented on #9106
@BullDawg21 Not sure I'm following - we have "How to enable sensitivity labels for SharePoint and OneDrive (opt-in): (https://docs.microsoft.com/microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files#how-to-enable-sensitivity-labels-for-sharepoint-and-onedrive-opt-in). That section explains there are two ways to do this - via the compliance portal or PowerShell.  And the next two ch

[2022-07-07 06:43] msbemba commented on #7941
@dn7  Thank you for your feedback. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9115

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-07 09:49] cdowling1971 commented on #8649
@larsser this issue is now fixed thanks again for reporting the problem.
FYI @TinaMcN

[2022-07-07 10:08] andrePKI opened #9116 "AMRunningMode = EDR in Block mode | Not Running | Normal"
I don't understand what is written about the AMRunningMode. Is it correct?
We set the registry key, and see `Not running` , but after a short while (<1 hr) MDE kicks in and  the status is changed to `EDR Block Mode`. We do have the M365 Defender for Endpoint Advanced Setting `Enable EDR in block mode` set to On

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-07-07 10:38] peterdiaz33 opened #9117 "Hidden files"
[Enter feedback here]

Does the table in the article apply to hidden files?

Thanks a million.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 820cb23f-f33d-241d-5ce2-1d824bcd3747
* Version Independent ID: 36d24f60-27b6-f2c1-ccda-1b49a1d4f073
* Content: [Learn about Endpoint data loss prevention - Microsoft Purview (com

[2022-07-07 10:55] fcsbnuesteaua opened #9118 "EDLP applies to hidden files?"
Hello,
I am using EDLP to prevent data leakage, we are blocking Microsoft’s built-in file types and files that contain any text.

Once we hide those files behind other allowed files like jpg, link, etc., the mechanism can not see the hidden file, so actually any file can be leaked.

How we can solve this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-07-07 15:14] yogkumgit commented on #9106
@BullDawg21 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-07 15:14] #9106 closed

[2022-07-07 15:23] yogkumgit commented on #8751
@msbemba Thank you very much for the contribution and updating the documentation with PR. @glennschmidt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-07 15:32] yogkumgit commented on #8649
@cdowling1971 Thank you very much for the contribution. @larsser Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-07 15:39] msbemba commented on #9053
@CL20220101 Thank you for your feedback. You are right the Version is EOS. I'm not able to locate that information on this document. Could you please confirm if this is the URL for the document - https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-endpoint?view=o365-worldwide ?

Thanks
Sri

[2022-07-07 19:51] denisebmsft commented on #9116
Hello @andrePKI and thank you for posting your question here. Is the device in question onboarded to Defender for Endpoint? And are you using a non-Microsoft antivirus product on the device? It sounds like the capabilities are working correctly. I just want to make sure I understand your question and scenario correctly.

[2022-07-07 20:12] gsiler opened #9120 "Step 3 does not work"
[Enter feedback here]

I just added some entries to the Exchange Online GAL using these instructions. Step 3 did not work. It took a while, but I figured out the solution. The command that worked was the following:

   Import-Csv .\ExternalContacts.csv|%{Set-Contact -Identity $_.Name -StreetAddress $_.StreetAddress <etc.>}

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-07-07 21:22] andrePKI commented on #9116
Yes, the device is onboarded into Defender for Endpoint (through integration with MDC, using unified onboarding method - the machine is connected through Azure Arc and the rest is automatic). We are using McAfee on the device too (and for now we would like to keep it)

[2022-07-07 21:24] andrePKI commented on #9116
O, and yes we have a number of support cases (!) open too, but I would like to know whether the documentation is right and complete in this subject.

[2022-07-08 00:33] SpitFire-666 opened #9121 "Exclusions for folder and its subfolders?"
Came across this, however it's not clear if there's a way to make an exclusion for all subfolders.

Eg for AppLocker, you'd use C:\Windows\* to allow anything/everything in the Windows folder and its subfolders

The line below is a bit confusing to me, especially as it says to use "multiple instances of *\" but the example shows "**\".

"`If you want to exclude more than one folder, in a path, use

[2022-07-08 01:23] koike-a commented on #9051
Thank you for reviewing and replying to my request.
I am waiting for the changes to be reflected in the document.

[2022-07-08 07:17] msbemba commented on #9063
@BenjiSec Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9122

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-08 07:29] msbemba commented on #9100
@CAT-hs Thank you for your feedback. We have made changes to the document via pR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9123

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-08 07:32] msbemba commented on #9101
@sally-chenn  Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9124

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-08 10:57] msbemba commented on #9103
@cakriwut Thank you for your feedback. The Transfer domain option is available when you had initially purchased our domain through Microsoft and it is more than 60days after you purchase the domain. Only a global admin can add, manage and transfer domains. I have added this to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9126

If you are a global administrator and s

[2022-07-08 12:12] NuAlex opened #9128 "Endpoints for AADConnect Health agent missing"
This page is missing the endpoints for AADConnect Health agent which is part of Azure AD Connect Classic Sync (ADSync) product.
AADConnect Health agent is a very important tool for supportability of Azure AD Connect, lack of connectivity will cause the health agent to not be able to upload important metrics that Microsoft can use for better support Customers.

Please add the URLs for Connect Healt

[2022-07-08 13:26] VladilenK commented on #8448
Hit the same just recently.
For me it happened to be a permissions issue.
SharePoint admin, Teams admin or Group admin roles: cannot configure Ownerless Groups Policy (but it worked before).
Global admin: yes, can configure Ownerless Microsoft 365 Groups Policy.
What is the minimum role required?

[2022-07-08 13:38] yogkumgit commented on #9077
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @arielf-mn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-08 13:39] #9077 closed

[2022-07-08 13:43] yogkumgit commented on #9091
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-07-08 13:49] yogkumgit commented on #9047
@mjcaparas Please help us in resolving this issue. Thanks

[2022-07-08 13:56] yogkumgit commented on #9053
@msbemba

[2022-07-08 14:02] yogkumgit commented on #8939
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JanicVerboon Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-07-08 14:05] yogkumgit commented on #9116
@denisebmsft

[2022-07-08 14:06] #7941 closed

[2022-07-08 14:07] yogkumgit commented on #8967
@yogkumgit Thank you very much for the contribution and updating the documentation with PR. @adamfowlerit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-07-08 14:19] yogkumgit commented on #9102
@kelleyvice-msft Please help us in resolving this issue. Thanks. Email sent.

[2022-07-08 15:13] Rykimaruh opened #9129 "Downloading onboarding package process is different"
I tried following to download the onboarding package, but I think they may be outdated.

**_In Microsoft 365 Defender portal, go to Settings > Endpoints > Device management > Onboarding_**

When I go to settings in the Defender Portal I get the following:

![image](https://user-images.githubusercontent.com/5460795/178020518-053b7357-33cc-4717-9c8b-b15342838990.png)

I do not see Endpoint mentioned

[2022-07-08 19:58] JasenHicks7 opened #9130 "Need added info about quarantine"
In Message Center post MC373880 we state the following:
"Note: Any entry migrated from the Safe Links Block List to the Tenant Allow/Block List will adopt the behavior of TABL. This means that any message with the URL present will be moved to Quarantine. "

Our documentation doesn't seem to have any mention about what exactly is happening to the messages nor any reference to quarantine that I can

[2022-07-08 22:29] chrisda commented on #9130
@JasenHicks7, I added the following note:

OK?

[2022-07-09 12:39] BigAndini commented on #7857
Which additional information is required to be able to document the X-Microsoft-Antispam-Mailbox-Delivery header and the possible values the different fields within this header have and which action they trigger? I would be happy to provide the information needed to have this documentation online.

[2022-07-09 14:16] DMoenks commented on #9093
On a second thought, this might better be discussed in the [Microsoft Graph](https://github.com/microsoftgraph/microsoft-graph-docs/issues) repository. Although the preferred data location "inheritance" seems to apply independent of group creation method (e.g. Azure AD, Exchange, SharePoint, etc.), the use almost exclusively refers to Graph API calls and any matching example would probably be loca

[2022-07-09 17:53] TobiasAT commented on #8448
@VladilenK I would say at least a Groups Admin role should be able to modify the settings (in theory). But as I still have the configuration failure in multiple tenants (with Global Admin) nothing is a normal expectation.

[2022-07-11 05:35] yogkumgit commented on #9015
@stevensarginson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:35] #9015 closed

[2022-07-11 05:46] matsimon commented on #7857
The issue is that somebody outside of Microsoft is quite unlikely in possession of the full specification of all values of X-Microsoft-Antispam-Mailbox-Delivery. You likely need to be working for Microsoft's Exchange team or in a position pretty close to Microsoft.

It's a pretty longstanding issue and in practise it makes debugging decisions of Exchange Online spam filter difficult for customers

[2022-07-11 05:48] yogkumgit commented on #9002
@msbemba Thank you very much for the contribution and sharing this explanation. @VincentXu2021 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:48] #9002 closed

[2022-07-11 05:49] #9011 closed

[2022-07-11 05:50] yogkumgit commented on #9013
@msbemba Thank you very much for the contribution and sharing this explanation. @BMORT17 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-07-11 05:50] #9013 closed

[2022-07-11 05:51] yogkumgit commented on #9014
@msbemba

[2022-07-11 05:52] yogkumgit commented on #9016
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MartinVokurek Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:52] #9016 closed

[2022-07-11 05:55] yogkumgit commented on #9020
@msbemba Thank you very much for the contribution and sharing this explanation. @justinjbird Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:55] #9020 closed

[2022-07-11 05:56] yogkumgit commented on #9021
@mjcaparas Please comment. Thanks

[2022-07-11 05:56] yogkumgit commented on #9024
@msbemba

[2022-07-11 05:57] yogkumgit commented on #9025
@msbemba

[2022-07-11 05:58] yogkumgit commented on #9028
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Lemmingh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 05:58] #9028 closed

[2022-07-11 06:00] yogkumgit commented on #9039
@msbemba

[2022-07-11 06:01] yogkumgit commented on #8926
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cronq Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 06:01] #8926 closed

[2022-07-11 06:02] yogkumgit commented on #8933
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mcasaz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 06:02] #8933 closed

[2022-07-11 06:04] yogkumgit commented on #8957
@msbemba

[2022-07-11 06:11] yogkumgit commented on #8800
@msbemba Gentle reminder. Thanks

[2022-07-11 06:12] yogkumgit commented on #8832
@msbemba Please comment. thanks

[2022-07-11 06:13] yogkumgit commented on #8734
@mjcaparas Please comment. Thanks

[2022-07-11 06:16] yogkumgit commented on #8541
@Dansimp Please comment. Thanks

[2022-07-11 06:19] yogkumgit commented on #8332
@schmurky Please comment. Thanks

[2022-07-11 06:20] yogkumgit commented on #8351
@kelleyvice-msft Gentle reminder. Thanks

[2022-07-11 06:22] yogkumgit commented on #8256
@msbemba Please comment.

[2022-07-11 06:23] yogkumgit commented on #8144
@Dansimp Please comment. Thanks

[2022-07-11 06:24] yogkumgit commented on #8149
@kwekuako Please comment. Thanks

[2022-07-11 06:26] msbemba commented on #9052
@diecknet Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9132

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-11 06:26] yogkumgit commented on #7886
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tillasx Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-11 06:27] #7886 closed

[2022-07-11 06:30] msbemba commented on #9053
@CL20220101 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/memdocs/pull/2925

Once the author approves, the document will be updated.

Thanks
Sri

[2022-07-11 06:31] msbemba commented on #9053
@yogkumgit  The author is "mestew "

[2022-07-11 06:49] msbemba commented on #9054
@rucam Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9133

Even with Microsoft Endpoint Manager Tamper Protection enabled, your admins need to have the ability to continually review your security posture. Otherwise, you won’t fully benefit if you cannot see the tamper attempts or report them. Since this is not a mu

[2022-07-11 07:06] msbemba commented on #9081
@jongross4 Thank you for your feedback. Idle session timeout isn't available for Microsoft 365 operated by 21Vianet, or Microsoft 365 Germany. This has been added as an important note to the top of the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9134

Once the author approves, the  changes will be live.

Thanks
Sri

[2022-07-11 07:12] msbemba commented on #9082
@thomasjsweet Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9135 and would like to have the author review and approve before the changes go live.

Thanks
Sri

[2022-07-11 07:18] msbemba commented on #9085
@adamfowlerit Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9136

Once the author reviews and approves, the changes will be live.

Thanks
Sri

[2022-07-11 07:21] dcaddick commented on #8051
Hi @ahuisentruit,
I am very keen to understand this in more depth, as what you saying makes very good sense, and I'd like to get to the bottom of this for my own sanity. I'm specifically looking at this section/paragraph:
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/grant-access-to-the-security-and-compliance-center?view=o365-worldwide#what-do-you-need-to-know-before

[2022-07-11 07:46] msbemba commented on #9097
@mbrown19465 Thank you for your feedback. I will work with the author and check the contradictions.

Thanks
Sri

[2022-07-11 08:04] adamlavery commented on #7857
I raised this instance with M$ Support and after several weeks of investigation they were finally able to answer why this sample got rejected. Someone accidentally blocked the address on the shared mailbox! Result of this was that M$ were going to look at making the header more informative. Of course they don't want to give away how the filters work but in this case a clear indication it was a blo

[2022-07-11 08:16] msbemba commented on #8832
@wege4rt34 Thank you for your feedback. I was not able to find locations on hold in an eDiscovery standard case. however, it is available in premium and more information can be found here -https://docs.microsoft.com/en-us/microsoft-365/compliance/managing-holds?view=o365-worldwide

Hope this helps!

Thanks
Sri

[2022-07-11 08:26] msbemba commented on #8800
@hitem Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9138

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-11 08:30] msbemba commented on #9039
@a-gbusuioc Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9139

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-11 08:46] J-Rey opened #9140 "Clarifications on full DMARC enforcement & emphasing careful implementation"
I believe the last sentence of the blue alert in section 7 should be

This better explains the need to have DMARC at full enforcement (indicating that should reject unauthenticated messages) for almost all unless they are undergoing initial deployment or have known issues causing DMARC validation failures that have yet to be resolved.

Also, there should be a gradual transition from monitoring onl

[2022-07-11 08:48] msbemba commented on #9024
@Kazzan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9141

Once the author reviews and approves, the changes will be live.

Thanks
Sri

[2022-07-11 08:53] alexlushsevernunival opened #9142 "Confilicting/Different information on licensing requirements"
The two references to licensing on this page quote different requirements (https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md#licensing) states M365 E3 but (https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/security/defender-endpoint/mde-device-control-device-installation.md#

[2022-07-11 12:23] CL20220101 commented on #9053
Thanks a lot!

Christina

[2022-07-11 12:27] KJ2256 opened #9143 "PUA default settings"
[Enter feedback here]
Does this mean that the PUA setting will be enabled by default?
If there are any conditions under which the PUA setting will be enabled, please let me know.

PUA protection is supported on Windows 10, Windows 11, Windows Server 2019, Windows Server 2022, and Windows Server 2016. In Windows 10 (version 2004 and later), Microsoft Defender Antivirus blocks apps that are consider

[2022-07-11 15:59] BhargavPrasadGorakanti opened #9144 "Unable to load dataset from Microsoft 365 usage analytics template (v 1.0)"
Hi, I'm trying to customize the reports and datasets from Microsoft 365 usage analytics template. Following the instructions from this documentation - https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/customize-reports?view=o365-worldwide, I tried to load the dataset but received this error below. Can anyone help resolve this? It appears to be an issue at the oData feed from API

[2022-07-11 16:26] chrisda commented on #9140
@J-Rey, OK. Fixed.

Thanks for the feedback.

Closing

[2022-07-11 16:26] #9140 closed

[2022-07-11 18:13] mjcaparas commented on #8332
I think the reference to it being and AD role is incorrect.

I think the accurate term is "View data" permissions as per: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/user-roles?view=o365-worldwide#permission-options

[2022-07-12 02:31] ahuisentruit commented on #8051
Hi David,

@Liz ***@***.***> may be able to answer your question. She was working with Robert Lyon and Bill Anderson on this topic.

Thanks,
Ann Marie
ASMS Documentation PgM
Upcoming OOF: July 15-22

From: David Caddick ***@***.***>
Sent: Monday, July 11, 2022 12:22 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Ann Marie Huisentruit ***@***.***>; Mention ***@***.***>
Subject: Re: [Micro

[2022-07-12 04:38] yogkumgit commented on #7857
@KCCross Please comment, if the document update is required? Thanks

[2022-07-12 04:44] yogkumgit commented on #9054
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rucam Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-12 04:44] #9054 closed

[2022-07-12 04:50] yogkumgit commented on #9085
@msbemba Thank you very much for the contribution and updating the documentation with PR. @adamfowlerit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-12 04:50] #9085 closed

[2022-07-12 05:02] yogkumgit commented on #8800
@msbemba Thank you very much for the contribution and updating the documentation with PR. @hitem Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-12 05:02] #8800 closed

[2022-07-12 05:17] yogkumgit commented on #9036
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-12 05:17] #9036 closed

[2022-07-12 05:18] yogkumgit commented on #8332
@msbemba

[2022-07-12 05:27] yogkumgit commented on #9100
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CAT-hs Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-12 05:27] #9100 closed

[2022-07-12 05:29] yogkumgit commented on #9104
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SpitFire-666 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-12 05:29] #9104 closed

[2022-07-12 07:19] schneika commented on #5063
can we expect a Viva Topics API this year 2022? Also we need Viva Topic Pages Templates for Reusability

[2022-07-12 07:50] adamlavery commented on #7857
Document will need updating but I think best wait until the new "source of truth" is implemented then update the doc with definitive information. Bear in mind that the document must answer the question: why is genuine mail being blocked/filtered and what do we do to fix it.

[2022-07-12 10:08] BhargavPrasadGorakanti commented on #9144
Looks like it was an issue with the version of Power BI Desktop app I was using. Upgrading from 2.9 to 2.10 seems to have fixed it :)

[2022-07-12 10:08] #9144 closed

[2022-07-12 10:11] o365tatsuyan opened #9152 "Update request for KB "https://docs.microsoft.com/en-us/microsoft-365/compliance/apply-irm-to-a-list-or-library?view=o365-worldwide#apply-irm-to-a-list-or-library""
Customer's Request: Customer thinks this documention should be noted that these "credentials" are for AIP and not for SharePoint Online.

Current docoment
![image](https://user-images.githubusercontent.com/33974498/178466608-6cd7c685-f8a9-4fed-9606-9e3f7b192466.png)

The following explanation should be added to this description
* These caching credentials are not SharePoint Online permissions, but

[2022-07-12 11:36] brolifen opened #9153 "Incomplete features due to Business Premium + MDI license"
It seems like the new defender portal is missing some features when you have a Business Premium + MDI addon license only. For instance the Assets->Identities section described in the doc is not present. Additionally when creating custom detection rules the "user action" section is also not present (which should allow you to disable users onprem with MDI), I think the new portal assumes that if you

[2022-07-12 13:18] salauddin99 opened #9155 "point 3 under the GUI option is misleading, should say 'chose the name of the booking and not users' instead"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa612c0e-c089-8b3e-8e2e-dd12b6fc382c
* Version Independent ID: fa014ea6-7aa2-b2bd-d913-165c3241675f
* Content: [Delete a booking calendar](https://docs.microsoft.com/en-us/microsoft-365/bookings/delete-calendar?view=o365-worldwide)
* Content Source: [

[2022-07-12 15:26] denisebmsft commented on #9116
Hello again @andrePKI, and thank you for clarifying your question. The procedure about AMRunningMode is intended to whether Microsoft Defender Antivirus is running on an endpoint. It isn't intended to be used to stop Microsoft Defender Antivirus from running. The behavior you are seeing seems correct -- if the endpoint is onboarded to Defender for Endpoint, it will enable Microsoft Defender Antivi

[2022-07-12 15:26] #9116 closed

[2022-07-12 17:04] denisebmsft commented on #9143
Hello @KJ2256 and thank you for posting your question here. I can see how that section is confusing, and I have revised the article. You'll see the updates render live later today. Essentially, if an organization's subscription includes Defender for Endpoint, then PUA protection is enabled by default.

[2022-07-12 17:04] #9143 closed

[2022-07-12 17:42] denisebmsft commented on #9039
Thank you @a-gbusuioc for posting your question here, and thank you @msbemba for the pull request. It's now merged. Please let us know if you have any other questions.

[2022-07-12 17:42] #9039 closed

[2022-07-12 21:10] sgarmon opened #9157 "Update parameter list"
The parameter list includes rbacGroupNames but the default sample csv file from the MDE portal lists Scope/DeviceGroups as a parameter instead of rbacGroupNames. Please update the doc. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03d3a25-4ee0-0c3a-4fde-c6f9ef7a3773
* Version Independent ID: b08640a7-7e66-265

[2022-07-13 07:57] PremMS-MDE opened #9158 "Do we have a roadmap to add other Operating systems in Supported area? Is there any OS in pipeline to support Network Assessment jobs?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afc92823-9277-c291-049c-0ac74542a403
* Version Independent ID: b6eadab9-51b1-23d4-224e-f9a59cde87a7
* Content: [Network device discovery and vulnerability management](https://review.docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/net

[2022-07-13 09:50] joergrenn opened #9159 "Get Information about license expiration date and purchase channel"
Hello,
I am looking to access the information for a license when it expires, what the billing frequency is and how it was purchased via powershell.
The information is available in the admin center:
<img width="649" alt="grafik" src="https://user-images.githubusercontent.com/62641471/178705158-9991e512-1a85-4503-bdb3-f7cbc8d080ea.png">
Is it possible to access this information via powershell as wel

[2022-07-13 14:03] yogkumgit commented on #5063
@TracyGH @cjtancortex Please comment.

[2022-07-13 14:16] yogkumgit commented on #9053
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CL20220101 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-13 14:23] yogkumgit commented on #9097
@kwekuako Please help us in resolving this issue. Email sent.

[2022-07-13 14:35] yogkumgit commented on #9060
@msbemba

[2022-07-13 14:37] yogkumgit commented on #9087
@msbemba

[2022-07-13 14:38] yogkumgit commented on #9093
@msbemba

[2022-07-13 14:39] yogkumgit commented on #9105
@msbemba

[2022-07-13 14:40] yogkumgit commented on #9117
@msbemba

[2022-07-13 14:41] yogkumgit commented on #9118
@msbemba

[2022-07-13 16:02] myfope opened #9161 "URL to Azure AD Data Map does not work"
Hi,

maybe the link should not be there at all, but it is not working as it references to msit.powerbi.com

https://go.microsoft.com/fwlink/p/?linkid=2092972 which references to: https://msit.powerbi.com/view?r=eyJrIjoiYzEyZTc5OTgtNTdlZS00ZTVkLWExN2ItOTM0OWU4NjljOGVjIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9

Please update the link or remove it - Thanks!

---
#### Documen

[2022-07-13 16:03] denisebmsft commented on #7991
Hello @yogkumgit! I have opened a work item (6246506) for our team. I don't know the exact timing on this but will track it. I'll post an update here as soon as I know more.

[2022-07-13 16:10] #9091 closed

[2022-07-13 16:31] denisebmsft commented on #7339
The current article is located here: [https://docs.microsoft.com/microsoft-365/business-premium/m365bp-secure-windows-devices](https://docs.microsoft.com/microsoft-365/business-premium/m365bp-secure-windows-devices)

Thanks again!

[2022-07-13 16:31] #7339 closed

[2022-07-13 16:54] kelleyvice-msft commented on #9161
Thanks for reaching out! Updated link, fixed in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/15124 -Kelley

[2022-07-13 17:19] Phyktion opened #9163 "PowerShell Code Error on https://docs.microsoft.com/en-us/microsoft-365/enterprise/configure-user-account-properties-with-microsoft-365-powershell?view=o365-worldwide"
[Enter feedback here]
I am having problems with this code: Get-AzureADUser | Set-AzureADUser -UsageLocation "FR"

The code doesn't work as-is for 2 reasons.
1.) "FR" gets input exactly as "FR", which violates the max characters. The max is 3. "FR" is 4. It should not have quotes. I have verified and tested this myself today, because it wreaked havoc on our system. We were getting this error:

Unab

[2022-07-13 17:35] kelleyvice-msft commented on #8972
@kinshasha, thanks for reaching out. I believe the reason this training series was removed is because we are deemphasizing ExpressRoute for Microsoft 365. I'll remove the link from the article. Thanks, Kelley

[2022-07-13 17:35] #8972 closed

[2022-07-13 17:39] DerickJMarshall opened #9164 "Update\Add the new Power Automate portal URL"
[Enter feedback here]
This is in reference to Message Center ID MC386412.  Can we list the new "make.powerautomate.com" URL in the Microsoft 365 Common and Office Online required IP/URLs, ID #153

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-

[2022-07-13 21:16] HandyAndyOnGitHub opened #9167 "Can a Yammer Group be selected to be a Power BI Pro (New) Workspace?"
Simple question: Can a Yammer Group be selected to be a Power BI Pro (New) Workspace?

If not, perhaps a note could be added to highlight this (similar to what's been noted for Teams and Yammer Groups).

Cheers
Andy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2f4a6d6-56b1-7cc0-a3cd-6a2bd96b2a23
* Version Independen

[2022-07-14 00:34] LuxsonicAdmin opened #9169 "Triplicate nav menu entries for Allow or block URLs using the Tenant Allow/Block List"
[Enter feedback here]
Was on the page for 'Allow or block URLs using the Tenant Allow/Block List'. Noticed that in the sidebar menu, in the drop-down subsection of Tenant Allow/Block List, there are triplicate entries for the page 'Allow or block URLs using the Tenant Allow/Block List.' Right under 'Manage the Tenant Allow/Block list'. Screenshot attached!

---
#### Document Details

⚠ *Do not edi

[2022-07-14 02:30] CL20220101 commented on #9053
Hi,

I still see it written 1607. No changes. Please check again, thanks.

https://docs.microsoft.com/zh-tw/mem/configmgr/protect/deploy-use/defender-advanced-threat-protection
[image: image.png]

On Wed, Jul 13, 2022 at 10:17 PM Yogesh Kumar ***@***.***>
wrote:

[2022-07-14 05:11] DMoenks commented on #9169
According to the titles and content of those three articles, each describes a very distinct use case:

- allowing/blocking email addresses and domains for email handling purposes
- allowing/blocking IP addresses, domains and URLs for link handling purposes
- allowing/blocking file hashes for file handling purposes

Each article is also quite long on its own, with descriptions and usage/configurati

[2022-07-14 05:54] yogkumgit commented on #9053
@msbemba

[2022-07-14 06:23] msbemba commented on #9053
@CL20220101 The main document is updated https://docs.microsoft.com/en-us/mem/configmgr/protect/deploy-use/defender-advanced-threat-protection

The other locale files like zh-tw will get updated soon.

Thanks
Sri

[2022-07-14 06:31] CL20220101 commented on #9053
Could you inform me when it has been updated? Thank you.

On Thu, Jul 14, 2022 at 2:23 PM Sriraman M S ***@***.***>
wrote:

[2022-07-14 06:33] dcurwin commented on #9153
This isn't a documentation issue and requires further investigation. The best way to get help is to open a support ticket.

[2022-07-14 06:33] #9153 closed

[2022-07-14 07:04] Jcodaar opened #9170 "Remove domein"
Goodmorning,

I am trying to remove my domein with the steps. But I don't see de remove optie in my panel (settings -> domeins). I selected the domein but no button appears.

Kind regards,

Jcodaar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 780db236-9235-2ce7-acbb-953fd997215b
* Version Independent ID: a5b80ea1-fb9

[2022-07-14 10:39] msbemba commented on #8957
@PayneCeeva Thank you for your feedback. I was able to follow the steps in the document and import PST. If there is any step in particular that you think is incorrect, please let us know.

Hope this helps!

Thanks
Sri

[2022-07-14 10:49] msbemba commented on #8882
@ScottBeeson Thank you for your feedback. I was able to follow the document and navigate without any issues. The options do exist.

![image](https://user-images.githubusercontent.com/45987684/178965806-94323f2d-0f53-4017-a08c-6732a42963d5.png)

If you are still having any issues locating these options, I recommend contacting Microsoft support via the need help section in the Admin center. That way

[2022-07-14 11:50] msbemba commented on #9093
@KvnSearle Thank you for your feedback. The Owner and the creator need not be the same. However, you post it in the Microsoft Graph repository -https://github.com/microsoftgraph/microsoft-graph-docs/issues so that the author can help you out with more information.

Hope this helps!

Thanks
Sri

[2022-07-14 11:56] msbemba commented on #8332
Thank you @mjcaparas. I have created a PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9173 to remove the AD part from that role.

Thanks
Sri

[2022-07-14 15:46] amscsamdev opened #9176 "Power Platform"
Since Power Platform is a seeded license with M365 could there be url references added on this page to these additional required domains needing to be made available to end user access points in order for those products to function properly.  Ex. https://docs.microsoft.com/en-us/power-platform/admin/powerapps-us-government

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-07-15 07:59] nbsol1 opened #9181 "Support for Windows Server 2019 and 2022"
For adding device tags by setting a registry key value, is there a plan to add support for Windows Server 2019 and 2022? And is there any other way to set the tag for these devices without having to do it manually?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51c29286-b601-4dad-0e65-227c8d045ee4
* Version Independent

[2022-07-15 11:11] yogkumgit commented on #9105
@mjcaparas Please help us in resolving this issue. Thanks

[2022-07-15 11:12] yogkumgit commented on #9107
@kwekuako Please help us in resolving this issue. Thanks

[2022-07-15 11:18] #9053 closed

[2022-07-15 11:20] yogkumgit commented on #9153
@brolifen Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-07-15 11:31] yogkumgit commented on #9078
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @dloder0 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-15 11:32] #9078 closed

[2022-07-15 11:38] yogkumgit commented on #8957
@msbemba Thank you very much for the contribution and sharing this explanation. @PayneCeeva Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-15 11:38] #8957 closed

[2022-07-15 11:41] yogkumgit commented on #8882
@msbemba Thank you very much for the contribution and sharing this explanation. @ScottBeeson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-15 11:41] #8882 closed

[2022-07-15 11:49] yogkumgit commented on #9064
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tdo365 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-15 11:50] #9064 closed

[2022-07-15 11:51] yogkumgit commented on #9093
@msbemba Thank you very much for the contribution and sharing this explanation. @KvnSearle Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-15 11:52] #9093 closed

[2022-07-15 11:57] yogkumgit commented on #9118
@msbemba Thank you very much for the contribution and sharing this explanation. @fcsbnuesteaua Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2022-07-15 11:57] #9118 closed

[2022-07-15 11:58] yogkumgit commented on #9117
@msbemba Thank you very much for the contribution and sharing this explanation. @peterdiaz33 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-15 11:58] #9117 closed

[2022-07-15 13:12] blakebourgeois commented on #9052
This still does not make sense with the new PR.

The changed section still refers to "for this feature to **not trigger** on an unmanaged device...a specific Conditional Access policy is required. See below for further details."

The next section, "Idle session timeout on unmanaged devices" reads "for idle session timeout to get triggered on unmanaged devices, you'll need to add a Conditional Acce

[2022-07-15 22:24] KCCross commented on #7620
Please contact me internally, thank you!

[2022-07-15 22:24] #7620 closed

[2022-07-15 22:31] KCCross commented on #7277
Forwarding this one to Samson Chan.

[2022-07-15 22:44] KCCross commented on #7277
@samschan-ms - The ediscovery decryption content states that "Any rights-protected (RMS-protected) email messages included in the results of a Content search will be decrypted when you export them. Additionally, any file that's encrypted with a [Microsoft encryption technology](https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption?view=o365-worldwide) and is attached to an email mes

[2022-07-16 10:26] weyCC81 opened #9185 "Add Information about User Management (Fallback Domain)"
* Make your new onmicrosoft.com domain your fallback domain
Where can I find a guide, to change all User to this new Fallback Domain?
Would it be possible to Link or Add that here?
_(User with *.onmicrosoft .comDomain as Primary E-Mail)_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a66bd91-6de1-5128-0f77-df1573b7f80

[2022-07-17 20:32] BigAndini commented on #7857
Is there already a date when the new "source of truth" will be implemented?

[2022-07-17 22:57] IanMos opened #9187 "Modern OA2 Authentication"
This document says NOTHING about Office / Outlook 2021.

So, is Office / Outlook 2021 impacted by this coming update??
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd3a343-4140-e63d-5197-06cafdab4639
* Version Independent ID: 12cf7dda-2caf-0fe2-1564-a14dea00d46f
* Content: [How modern authentication works for Office

[2022-07-18 04:39] yunuschrome opened #9188 "Audit Retention Policy not Make any Effects after applied"
Hi,

My company subscribed Business Premium only, the trials of PureVeiew Premium are already finished, yesterday i set the audit retention policy to 90 days at maximum, but when this morning i check the audit log for the specified record & activities from Februari are still generated.  Any one can help me on this issue? When the audit log rentention policy applies after the config submitted?

Reg

[2022-07-18 05:11] yogkumgit commented on #9052
@msbemba

[2022-07-18 05:35] yogkumgit commented on #9024
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Kazzan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-18 05:35] #9024 closed

[2022-07-18 05:38] yogkumgit commented on #9063
@msbemba Thank you very much for the contribution and updating the documentation with PR. @BenjiSec Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-18 05:38] #9063 closed

[2022-07-18 05:40] yogkumgit commented on #8958
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ruicovelo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-18 05:40] #8958 closed

[2022-07-18 05:45] yogkumgit commented on #8332
@msbemba Thank you very much for the contribution and updating the documentation with PR. @eric-jenouvrier Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-18 05:45] #8332 closed

[2022-07-18 20:47] mikenri commented on #7277
My experience was that I had an administrator account in Tenant A but any encrypted messages were not present in an eDiscovery export.

[2022-07-18 22:43] samschan-ms commented on #7277
@ninacchen can you comment on whether current behavior or documentation is correct, for exporting encrypted mail?

[2022-07-18 22:45] ninacchen commented on #7277
Export should decrypt content if the user has RMS decrypt role, did we confirm the encrypted item is in the result of the search first?

[2022-07-18 22:48] XXLMandalorian013 opened #9192 "Request"
[Enter feedback here]

I was looking for info on adding an external user a Office MS 365 business standard license, would of been nice to see a link at the bottom or details on this page.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29fdeb34-ed9f-ebb9-0173-a9d3b3449221
* Version Independent ID: 4a552838-a850-b0d6-bb7c

[2022-07-19 06:15] razpopescuMS opened #9194 "offline scan results location"
Feedback:
The part at the end, where it says the offline scan results will be listed in the scan history is incorrect, the offline scan results are not listed anywhere (I am from the Defender for Endpoint team)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecec1e6a-ee1c-5f8b-6251-71cf1aea1f35
* Version Independent ID:

[2022-07-19 09:31] mariammorgan opened #9195 "command used to view or managed preset security policy not available on MS article"
The command used to view or manage the preset security setting is not available in any MS article,
however other public article like http://www.powershellgeek.com/2020/12/15/microsoft-365-preset-security-policies/
 So the article needs to be updated with the command Get-EOPProtectionPolicyRule

[2022-07-19 19:02] itishnitsa opened #9198 "custom mailbox configuration"
The documentation for setting a mailbox as SecOps mailbox states that Safe Attachments doesn't detonate attachments and Safe Links doesn't block or detonate the URLs (URLs are still wrapped but they aren't blocked). Are the steps for creating designated Safe Links and Safe Attachment policies to bypass processing still needed as a custom mailbox prerequisite when it's already configured as SecOps

[2022-07-19 20:50] shwag opened #9200 "Scenario example or clarification needed"
Under **Example for users to override automatic deletion**:

Scenario: By default, SharePoint items are automatically retained and then deleted after five years, but documents in specific libraries must be retained for ten years.

1. You create and configure a retention policy that automatically retains and then deletes content after five years, and apply the policy to all SharePoint and Microsoft

[2022-07-20 01:25] VShrubowich opened #9201 "'New domains being forwarded' should be 'New users forwarding'"
The second paragraph starts with "The **New domains being forwarded** email insight" but should start with "The **New users forwarding** email insight".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02d59f1c-25fd-4ee7-af8b-7ffef8dd3578
* Version Independent ID: eb0ca0ed-44f3-e1d6-6e6c-2f79a791d4f5
* Content: [New user

[2022-07-20 05:19] Firewaters opened #9202 "permissive permissions "bookings with me""
"bookings with me" has prerequisites for "Anonymous:CalendarSharingFreeBusyReviewer", this seems like a rather permissive permission for Anonymous.

Microsoft support indicates that you can use any of the following with Booking with me, should the documentation be updated around what permissions are required and the impacts.
- CalendarSharingFreeBusySimple: Share free/busy hours only
- CalendarSha

[2022-07-20 07:17] Steltek opened #9203 "Missing reference afd.hosting.portal.azure.net"
The page does not seem to reference afd.hosting.portal.azure.net as a URL that needs to be bypassed on proxies. This is causing issues when accessing Azure AD in the Azure portal etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d

[2022-07-20 12:03] foss4ever opened #9205 "Getting Exec format error when attempting to run XMDEClientAnalyzerBinary"
Enviroment: a minimal Debian 10 VM

So I've downloaded the XMDEClientAnalyzerBinary to my home dir and try to execute this binary file with:
./XMDEClientAnalyzerBinary
However this just gets me an error:
-bash: ./XMDEClientAnalyzerBinary: cannot execute binary file: Exec format error

And if trying with sudo it fails with:

./XMDEClientAnalyzerBinary: 1: ./XMDEClientAnalyzerBinary: P{��T�x�_d���MD

[2022-07-20 13:10] lightupdifire opened #9206 "Disabling the policy"
Hello,

It would be good if you explain what is happening when set to None (disable policy),
Because not clear what will happen with groups that are "expired today", pending for verification (expired and waiting for user action), or have the last hour of expiration as an example...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-07-20 14:25] foss4ever commented on #9205
My own mistake...

[2022-07-20 14:25] #9205 closed

[2022-07-20 15:01] NeighborGeek opened #9208 "Add more info to the "Do not rewrite the following URLs" note"
With respect to the note about the "Do not rewrite the following URLs" setting in safe-links policies, please consider adding some guidance.  The note explains what the setting does, and then says "Instead of using this list, you can now create allow URL entries in the Tenant Allow/Block List.".  It makes no recommendation as to which option we should use, nor does it offer any indication of why w

[2022-07-20 17:13] chrisda commented on #9208
@NeighborGeek, the "Block the following URLs" list is definitely going away the same article:

I haven't heard of a similar path for "Do not rewrite the following URLs". I'll see what I can find out.

[2022-07-20 17:58] h3xplore opened #9211 "Mistype of reference to Phishing simulation in SecOps section"
Section: Use the Microsoft 365 Defender portal to configure SecOps mailboxes in the advanced delivery policy

Step two refers to phishing simulations. This is incorrect as its talking about SecOps as the next section goes into phishing simulations

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17ce75e-79ba-0acd-066c-a

[2022-07-20 19:19] chrisda commented on #9211
@h3xplore, fixed. In the future, you too can make changes like this yourself. For instructions, see [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md).

Thanks for the feedback.

Closing

[2022-07-20 19:19] #9211 closed

[2022-07-20 20:29] Marweis opened #9214 "Can you delete the current geo location while using that geo's admin center?"
Document should clarify which admin center to use. The default or if any will work, including the admin center for the geo you want to delete.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1747e6f1-9e14-a778-e1f2-fabd6c9ca329
* Version Independent ID: 66ac3bb7-661a-2c61-3b24-78dfd3e10a3a
* Content: [Delete a satellite

[2022-07-20 20:57] ericsayles opened #9215 "Page information needs updating."
Needs updating. The option to download keys no longer exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f67ebee8-4451-c7d4-2c00-720e1886ea12
* Version Independent ID: 60e9e39f-3906-150a-f455-375dbdfe119d
* Content: [Download perpetual software and product license keys bought through the Cloud Solution Provider (CS

[2022-07-21 00:14] cabailey commented on #9200
@shwag You're quite right - you can't publish retention labels to specific users, it's location-based. I'll reword so it's clearer the SPO admin reference is the example of who might apply the exception label in this way.

[2022-07-21 00:14] #9200 closed

[2022-07-21 01:13] danmyhre opened #9217 "Email domains"
This part is wrong - you can only block, there is no allow option

"Sender emails or domains to allow."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows and blocks in the Tenant Allow/Block L

[2022-07-21 01:17] danmyhre opened #9218 "Sender Block List vs AntiSpam Policy Block List"
Please add details on recommendations of which to use as well as the net result of entries being in 1 vs the other or if entries are in both.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows

[2022-07-21 08:36] yogkumgit commented on #9082
@msbemba Thank you very much for the contribution and updating the documentation with PR. @thomasjsweet Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 08:37] #9082 closed

[2022-07-21 08:39] yogkumgit commented on #9051
@msbemba Thank you very much for the contribution and updating the documentation with PR. @koike-a Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 08:39] #9051 closed

[2022-07-21 08:41] yogkumgit commented on #8878
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kathleenlgo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 08:41] #8878 closed

[2022-07-21 08:44] yogkumgit commented on #8539
@msbemba Thank you very much for the contribution and updating the documentation with PR. @thewrabbit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-21 08:45] #8539 closed

[2022-07-21 09:22] schrx1964 opened #9219 "what are the tamperprotectionsources?"
I see with the powershell command get-mpcomputerstatus tamperprotectionsource = signatures, sometimes ATP and sometimes E5 transitioning.
Is there any documentation about the the different sources?
Other point is that my AVD devices getting a greyed out option on the tamperprotection with tamperprotection off once it is onboarded in defender for endpoint. When i try to turn it on through MEM i get

[2022-07-21 10:30] morrow233 opened #9222 "RSS Feed of update on this page"
[Enter feedback here]

My customer would like to know the URL ASAP if required URL is changed, as MDAV security intelligence update is affected seriously.

The Docs for O365 URLs and IPs, there is a RSS feed function so that customer actively know the change.

Office 365 URLs and IP address ranges
https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldw

[2022-07-21 13:13] msbemba commented on #8299
@yogkumgit This can be closed.

[2022-07-21 13:17] msbemba commented on #8832
@yogkumgit This can be closed.

[2022-07-21 14:43] sbacon17a4 opened #9224 "Will EWS to the 365 Third-Party-Data endpoint work after EWS end-of-life"
[Hello, Will Microsoft's third-party-data endpoint to the Azure service in Microsoft 365 work after EWS end-of-life?

EWS end of life:  [Deprecation of Basic authentication in Exchange Online | Microsoft Docs](https://urldefense.com/v3/__https:/docs.microsoft.com/en-us/exchange/clients-and-mobile-in-exchange-online/deprecation-of-basic-authentication-exchange-online__;!!AKgNyAfk550h-spHnEo!ZhdjKet

[2022-07-21 15:00] msbemba commented on #9129
@Rykimaruh Thank you for your feedback. I was able to see the endpoints section in Settings.

![image](https://user-images.githubusercontent.com/45987684/180246402-cfcefbf0-32a8-4b70-9032-cfc327fab581.png)

If this continues to be a problem, I'd recommend you contact Microsoft support via the need help link in the admin center.

Hope this helps!

Thanks
Sri

[2022-07-21 15:25] msbemba commented on #9142
@alexlushsevernunival Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9225

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-21 15:29] msbemba commented on #9152
@o365tatsuyan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9226

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-21 15:40] msbemba commented on #9155
@salauddin99 Thank you for your support. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9227

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-21 17:21] tofergus opened #9228 "Bad guidance"
The correct method is here:

[https://docs.microsoft.com/en-us/mem/configmgr/protect/deploy-use/defender-advanced-threat-protection#bkmk_uplevel](url)
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d0bace4-46dc-8b93-8731-71ad5e98e298
* Version Independent ID: 1d0bace4-46dc-8b93-8731-71ad5e98e298
* Content: [Onboard Win

[2022-07-21 18:02] #8832 closed

[2022-07-21 19:36] anton612 opened #9229 "eDiscovery script throws errors when it gets to eDiscovery (Premium)"
The following error comes up when running this script against cases in eDiscovery Premium:

[code]
It looks like a parameter and variable are swapped on line 94 so I'll submit a pull request (my first ever on someone else's code!) to fix.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 170c3a0d-4a77-211f-8ef4-21da97042c

[2022-07-22 04:58] yogkumgit commented on #9142
@msbemba Thank you very much for the contribution and updating the documentation with PR. @alexlushsevernunival Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-22 04:58] #9142 closed

[2022-07-22 07:03] atiedemann opened #9232 "Remediation exception methods and properties"
Good morning Microsoft Team,
I am working on a project for a client to display a dashboard around tvm information, and one goal is to show the remediation exceptions that we can configure in the portal. Unfortunately there is no API endpoint for displaying these exceptions.
Is this correct, if so when is an API endpoint planned for this.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-07-22 13:15] WillMartin58 opened #9233 "This article doesn't show the block options"
While this article goes through the other actions available in Exchange Online, it doesn't include the two major ones available in all of Office 365 - **Block delivery** and **Encrypt using label**.  It would be useful if these were added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28be949f-8589-8f7c-8e08-c029389a1

[2022-07-22 13:54] txasman opened #9234 "XMDEClientAnalyzer.zip sha256 hash"
[Enter feedback here]
Hi, I think the sha256 hash of the file is no longer valid and it might be a good idea to update it.

Just downloaded the file from the link provided in this article and this is the hash calculation I get:

$ sha256sum XMDEClientAnalyzer.zip
ac086d65202d31ebcf9dc76f7ca29a5b8b355cd6f78d31bbf89289eb7aa2b67d  XMDEClientAnalyzer.zip
$ openssl sha256 XMDEClientAnalyzer.zip
SHA256(

[2022-07-22 13:59] msbemba commented on #9157
@sgarmon Thank you for your feedback. I see RbacGroups instead of Rbacgroupnames. I will update the same in the document shortly.

![image](https://user-images.githubusercontent.com/45987684/180454938-aae3d515-7a81-4bf4-8ef8-49fc40f5ded9.png)

Thanks
Sri

[2022-07-22 15:06] mcsorleym opened #9236 "Latest Change Log is showing empty"
Latest Change Log showing empty.
https://endpoints.office.com/changes/Worldwide/2022062900?singleVersion=true&clientRequestId=b10c5ed1-bad1-445f-b386-b919946339a7

2022062900
https://endpoints.office.com/changes/Worldwide/2022062900?singleVersion=true&clientRequestId=b10c5ed1-bad1-445f-b386-b919946339a7
2022062900 - Worldwide
Version 2022062900 includes 3 changes. IPs: 50 added and 0 removed. URLs

[2022-07-22 15:11] msbemba commented on #9158
@PremMS-MDE Thank you for your feedback. I don't see them in the roadmap. You may be able to post this question directly to our Dev/PG via the main feedback portal https://feedbackportal.microsoft.com/  and they will be able to answer your query.

Hope this helps!

Thanks
Sri

[2022-07-22 15:21] msbemba commented on #9169
@LuxsonicAdmin Thank you for your feedback. All three are different as they are for Files, URls and Emails.

Hope this helps!

Thanks
Sri

[2022-07-22 15:24] msbemba commented on #9170
@Jcodaar Thank you for your feedback. There could be multiple reasons for your not being able to locate the domains.

1) Domain does not exist in the tenant.
2)You do not have Global Admin permissions to remove the domain.

If it is not the above two, it is better to reach out to Microsoft support for help. You can do that via the need help section of the Admin center.

Hope this helps!

Thanks
Sr

[2022-07-22 15:33] msbemba commented on #9188
@yunuschrome Thank you for your feedback. Ideally, this should not happen, However Since it is a technical glitch, I'd recommend you to contact Microsoft support via the need help section on the admin center, so that a Support representative can assist you with this technical issue/bug.

Hope this helps!

Thanks
Sri

[2022-07-22 21:22] idontknowwhattocallit opened #9237 "Changes to safe-links and the TABL"
Recent changes to safe-links to move blocked URLs into the TABL have changed the way safe-links functions.  If a user is sent an email that contains a blocked URL, the email itself will be blocked with the email categorized as high-confidence phishing.  The intended recipient will not be able to release the email nor click on any links in the email.  The email section of this page should be re-wri

[2022-07-24 00:14] franklesniak commented on #9219
A value of 3 = "E3 transition", whatever that means :)

[2022-07-25 03:57] yogkumgit commented on #8576
@chrfox Please help us in resolving this issue. Thanks

[2022-07-25 04:08] yogkumgit commented on #9129
@msbemba Thank you very much for the contribution and sharing this explanation. @Rykimaruh Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-07-25 04:08] #9129 closed

[2022-07-25 04:14] yogkumgit commented on #9157
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sgarmon Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-25 04:15] #9157 closed

[2022-07-25 04:16] yogkumgit commented on #9158
@PremMS-MDE Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-07-25 04:16] #9158 closed

[2022-07-25 04:20] yogkumgit commented on #9169
@msbemba Thank you very much for the contribution and sharing this explanation. @LuxsonicAdmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-25 04:20] #9169 closed

[2022-07-25 04:21] yogkumgit commented on #9170
@msbemba Thank you very much for the contribution and sharing this explanation. @Jcodaar Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-07-25 04:21] #9170 closed

[2022-07-25 04:23] yogkumgit commented on #9188
@msbemba Thank you very much for the contribution and sharing this explanation. @yunuschrome Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-07-25 04:23] #9188 closed

[2022-07-25 04:54] yogkumgit commented on #8879
@jweston-1 Please comment, if you an update. Thanks

[2022-07-25 04:55] yogkumgit commented on #8899
@RatulaC Please comment. Thanks

[2022-07-25 04:56] yogkumgit commented on #8914
@kelleyvice-msft Please comment. Thanks

[2022-07-25 05:01] yogkumgit commented on #9090
@securityprivateers Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-07-25 05:01] #9090 closed

[2022-07-25 05:05] yogkumgit commented on #9130
@JasenHicks7 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-25 05:05] #9130 closed

[2022-07-25 11:27] msbemba commented on #9185
@weyCC81 Thank you for your feedback. Fallback domains are for the entire organization. So the document talks about changing it to a new onmicrosoft.com domain if you create one (it has steps to do that ).

Let's say you have contoso.onmicrosoft.com as your current fallback domain, you can change it to the new one contoso1.onmicrosoft.com so in case your custom domain is no longer active or has be

[2022-07-25 11:29] msbemba commented on #9187
@IanMos Thank you for your feedback. I have checked and OA2 is supported on office 2021. The impact will be on the earlier versions of office only and not on 2021.

Hope this helps!

Thanks
Sri

[2022-07-25 11:38] msbemba commented on #9163
@Phyktion Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9241

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-25 11:43] msbemba commented on #9192
@XXLMandalorian013 Thank you for your feedback. With the instructions on the page I was able to send an invite to an external user

In the Microsoft 365 admin center, select Invite people to Microsoft 365.

Add the usernames and email addresses for the people you want to invite and choose Send. An invite email will be sent to all the users you selected to add their user account information to Micr

[2022-07-25 11:44] msbemba commented on #9194
@razpopescuMS Thank you for your feedback. I'm currently testing this and will update the document if need be.

Thanks
Sri

[2022-07-25 14:14] RAJU2529 commented on #9234
@mjcaparas , i too downloaded and verified SHA-256 , i received below
**AC086D65202D31EBCF9DC76F7CA29A5B8B355CD6F78D31BBF89289EB7AA2B67D**

![Screenshot 2022-07-25 194452](https://user-images.githubusercontent.com/3296790/180798377-f270422a-c54c-4415-9ff1-778d843b7613.jpg)

[2022-07-25 14:40] LuisEmilioR opened #9243 "Missing serviceplans"
We faced a similar issue to "Issue: MailUser objects with "external" primary SMTP addresses are modified / reset to "internal" company claimed domains" and it turns out that the list on the KB needs to be updated. Below is the list of serviceplans we've identified as causing this problem:

Information Protection for Office 365 - Premium
Information Protection for Office 365 - Standard
Information

[2022-07-25 15:49] Mohamedmouniranwar opened #9244 "Change from Google workspace"

[2022-07-25 16:52] denisebmsft commented on #9244
Hello @Mohamedmouniranwar. It looks like your feedback didn't come through fully. Can you please tell us to which article it applies, and tell us what's needed? Thank you!

[2022-07-25 18:46] abrouster opened #9245 ""Let user assign permission" option for Word, PowerPoint, Excel Below image, do you know timeline for "Under review" iOS, Android and web?"
"Let user assign permission" option for Word, PowerPoint, Excel Below image, do you know timeline for "Under review" iOS, Android and web?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0836a95-d3b7-3c43-d56b-5fb4ceeb4765
* Version Independent ID: 8a0d366b-5ff7-22de-7aba-6adbe0ea94ea
* Content: [Manage sensitivity lab

[2022-07-25 18:58] RayGHeld opened #9246 "Permissions listed on this page produce the wrong aud claim in the access token, which results in a 403"
Following the steps in this document ( which it is not clear at all which api these permissions come from anyway ) and using the Defender API permissions, this results in a token that does not have the proper audience claim in it ( aud ) and so the api returns a 403.  The API added to the permissions is the WindowsDefenderATP and the permissions are the ones listed on this document.  The aud claim

[2022-07-25 19:17] jweston-1 commented on #8879
Per the product team response from Sujit (in separate thread of this mail), Yogesh, Please resolve as "won't fix."

From: Yogesh Kumar ***@***.***>
Sent: Tuesday, June 14, 2022 12:43 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Brit Weston (Aquent LLC) ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Warn mode removes audit unless user blocks (Issue #88

[2022-07-25 20:34] cabailey commented on #9245
@abrouster Unfortunately, these don't have an immediate timeline for implementation.  The priority is parity with the AIP Add-in, which means support for organization-wide custom permissions for Windows, and Mac to follow. Also, the ability for SharePoint to process documents that have been encrypted with custom permissions (initial support won't include triggering the dialog box).

If this is som

[2022-07-25 20:34] #9245 closed

[2022-07-25 22:44] gh0stwalker opened #9249 "Information on password protected and encrypted attachments"
There is no information here on what occurs when the attachment is password protected or encrypted and how Safe Attachments deals with those documents.. Please add this information to the document.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5966b7b-cbaa-eaa2-c9d6-5c6e7218df74
* Version Indep

[2022-07-26 03:36] BassamAlHassan opened #9250 "Istanbul"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Version Independent ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Content: [Get support - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-support?view=o365-worldwide)
* Content Sou

[2022-07-26 03:39] #9250 closed

[2022-07-26 03:39] BassamAlHassan commented on #9250
شركه امازون

[2022-07-26 03:40] BassamAlHassan commented on #9250
![received_1027362344638139](https://user-images.githubusercontent.com/110006856/180918058-839dd734-13ee-4bae-a3b6-c30ce93f4e5f.jpeg)
![received_1102252794051096](https://user-images.githubusercontent.com/110006856/180918062-ae785a18-b523-4cc5-8475-34d05a735591.jpeg)
![received_3186804168227170](https://user-images.githubusercontent.com/110006856/180918065-d01d7b0c-94c3-4426-a179-ae8f7e91acdd.jpeg

[2022-07-26 03:42] BassamAlHassan opened #9251 "Istanbul"
Client AppsIstanbul

GitHub Mobile, GitHub CLI, and GitHub Desktop

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Version Independent ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Content: [Get support - Microsoft 365 admin](https://docs.microsoft.com/en-us/mic

[2022-07-26 04:05] yogkumgit commented on #9251
@BassamAlHassan  Can you please tell us what is your feedback Thank you!

[2022-07-26 04:48] #8879 closed

[2022-07-26 04:58] yogkumgit commented on #9128
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-07-26 05:00] yogkumgit commented on #9164
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-07-26 05:02] yogkumgit commented on #9176
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-07-26 05:09] yogkumgit commented on #9087
@cmcatee-MSFT Please help us in resolving this issue. Email sent. Thanks

[2022-07-26 06:48] yogkumgit commented on #9229
@anton612 Thank you very much for the contribution and updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-26 06:48] #9229 closed

[2022-07-26 07:35] yogkumgit commented on #8017
@badsector-82 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-26 07:35] #8017 closed

[2022-07-26 07:36] #8023 closed

[2022-07-26 07:37] yogkumgit commented on #8096
@dataCollegechurch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-26 07:37] #8096 closed

[2022-07-26 07:38] yogkumgit commented on #8507
@joergrenn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-26 07:38] #8507 closed

[2022-07-26 07:39] yogkumgit commented on #8661
@andrewpEntag Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-26 07:40] #8661 closed

[2022-07-26 08:16] joergrenn commented on #8507
Hello @yogkumgit,
thanks for providing the update.
However even with the update it is still not clear what means "Default" Language.
The text now says:

However there is the default setting and also an English setting. If default means English why are there two settings?
Also they are not the same. If I enter something in default it does not show up in the English setting:
<img width="673" alt="im

[2022-07-26 09:17] max-power15 opened #9252 "Typo"
In step 4 under the following [section](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants?view=o365-worldwide#steps-for-finding-signs-of-this-attack). I believe it should be IsAdminConsent not IsAdminContent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-26 11:29] jonwbstr commented on #3212
@yogkumgit I don't see any updates to the article addressing this issue, what was the reason for closure?

[2022-07-26 11:54] jonwbstr commented on #3212
Morning, I am not sure how notifications on closed issues works so mentioning you both.

* Did perimeter blocking get removed or changed?
* Are failures due to perimeter blocking surfaced through message tracking or by another means?

@chrisda, @yogkumgit If the answer to the above questions is "no" where is the current behavior documented if not this article. Thanks!

For clarity, I understand th

[2022-07-26 12:35] #9244 closed

[2022-07-26 13:13] BiggsSkeedR opened #9255 "Table data incorrect"
Error in table;
![image](https://user-images.githubusercontent.com/72827021/181014321-13b81fbd-4b4d-4746-bcf9-c84dba6266d9.png)
Last row should probably be "No | No | etc" rather than "No | Yes | etc"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 506a8799-0002-3db2-215d-7fdbb679619d
* Version Independent ID: 312dc4ff-

[2022-07-26 13:14] msbemba commented on #9201
@VShrubowich Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9254

Once the author approves, the document will be live.

Thanks
Sri

[2022-07-26 13:18] msbemba commented on #9202
@Firewaters  Thank you for your feedback. I will be testing these today and will update the document if need be.

Thanks
Sri

[2022-07-26 15:16] msbemba commented on #9217
@danmyhre Thank you for your feedback. You are correct, the allow option does not exist for all options. It is available only for spoofed senders. I have updated the document to reflect the same via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9256

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-26 15:22] mjcaparas commented on #9105
Please contact support.

[2022-07-26 15:22] #9105 closed

[2022-07-26 15:23] mjcaparas commented on #9047
Please contact support.

[2022-07-26 15:23] #9047 closed

[2022-07-26 15:41] msbemba commented on #9232
@atiedemann Thank you for your feedback. I was not able to find API endpoint for displaying these exceptions. Having said that you can provide this feedback directly to our Developers/Product group via the main feedback portal:- https://feedbackportal.microsoft.com/ and they will be able to provide more information on when this is planned(if it is planned).

Hope this helps!

Thanks
Sri

[2022-07-26 16:44] kelleyvice-msft commented on #9236
Thanks for reaching out. I'm talking to the endpoints web service team about this.

[2022-07-26 16:52] kelleyvice-msft commented on #9236
According to the engineering team, there were some internal-only changes that resulted in version increment. Since the changes were internal only, querying for changes returns nothing. The next update later this week will contain public changes. Thanks - Kelley

[2022-07-26 16:52] #9236 closed

[2022-07-26 17:08] waded opened #9258 "Article regarding adding licenses using a product key seems to be missing context or is outdated"
I was reading https://docs.microsoft.com/en-us/microsoft-365/commerce/licenses/add-licenses-using-product-key?view=o365-worldwide (actually, an article similar to it within Admin Center's support system, but then I later found this URL outside Admin Center.)

This article states that to use a product key to add licenses "On the subscription details page, in the Licenses section, select Add more li

[2022-07-26 17:22] chrisda commented on #3212
Reopening.

[2022-07-26 17:52] denisebmsft commented on #7991
@yogkumgit the work item is assigned, and the writer needs some help from the PM. We're waiting on that.

[2022-07-26 17:58] denisebmsft commented on #9219
@yogkumgit I have opened a work item (6329673) for this issue. Will update this issue when I know more.

[2022-07-26 18:07] denisebmsft commented on #9255
Opened work item (6329697) to be assigned.

[2022-07-26 18:33] chrisda commented on #8507
@joergrenn, unless you can prove to the contrary, I still contend that English and Default are equivalent. It's just a quirk of the UI design that you can select both.

[2022-07-26 22:57] namitgup commented on #9107
@jrpa259: Thank you for the feedback. I understand your point of view. Will it help if we reword to something like this:

// Proposed text begins
Users won’t get signed out in these cases.
- If they get single sign-on (SSO) into the web app from the device joined account
- If they selected **Stay signed in** at the time of sign-in. For more info on hiding this option for your organization, see [Ad

[2022-07-26 23:58] ghadirim opened #9263 "update to mssp-list.md request"
microsoft-365/security/defender-endpoint/mssp-list.md please update BlueVoyant's offer to what is listed below.

![BV_Logo_216x216](https://user-images.githubusercontent.com/13265035/181131659-420d2942-5990-4119-a46c-69e3bd9c7664.png)| [BlueVoyant](https://www.bluevoyant.com/platform/mdr/mdr-for-microsoft) |  MDR services that deliver comprehensive threat data analytics and advanced technology sol

[2022-07-27 02:14] yogkumgit commented on #9234
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @txasman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 02:14] #9234 closed

[2022-07-27 02:18] jrpa259 commented on #9107
Thanks for your reply. It seems a little bit better, thanks for your work on this.

[2022-07-27 02:49] yogkumgit commented on #9201
@msbemba Thank you very much for the contribution and updating the documentation with PR. @VShrubowich Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-07-27 02:49] #9201 closed

[2022-07-27 03:01] yogkumgit commented on #9232
@atiedemann Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-07-27 03:01] #9232 closed

[2022-07-27 03:03] yogkumgit commented on #9249
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gh0stwalker Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 03:03] #9249 closed

[2022-07-27 03:05] yogkumgit commented on #9163
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Phyktion Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 03:05] #9163 closed

[2022-07-27 03:07] yogkumgit commented on #8978
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CHITOM04 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 03:07] #8978 closed

[2022-07-27 03:09] yogkumgit commented on #9052
@msbemba Thank you very much for the contribution and updating the documentation with PR. @diecknet Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 03:09] #9052 closed

[2022-07-27 03:11] yogkumgit commented on #9081
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jongross4 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 03:11] #9081 closed

[2022-07-27 03:15] yogkumgit commented on #8948
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Air-Git Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 03:15] #8948 closed

[2022-07-27 03:21] yogkumgit commented on #9155
@msbemba Thank you very much for the contribution and updating the documentation with PR. @salauddin99 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-27 03:21] #9155 closed

[2022-07-27 06:45] joergrenn commented on #8507
Hello @chrisda ,
its not just that you can select both, as you can see in my screenshots. The text that you can enter in Display Name and Disclaimer it stored differently.
If it were just the UI, it would still store the text in the same place an show the same in both selections.
But I also don't understand why we have to guess about it or I have to proof something.
You are a Microsoft employee an

[2022-07-27 11:00] andrePKI opened #9264 "Permissions required"
Please make a habit of describing the permissions/roles required to perform the actions in the article. Not everybody has the global admin role....
Specific to this page: what role or permission is required and where do you configure this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e4b5c5a-10ba-3e0c-af47-c51fa5a7c

[2022-07-27 11:02] andrePKI opened #9265 "Permissions required"
Please make a habit of describing the permissions/roles required to perform the actions in the article. Not everybody has the global admin role....
Specific to this page: what role or permission is required and where do you configure this (e.g. to download on- and offboarding packages)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-07-27 11:07] andrePKI commented on #9264
sorry for the duplicate

[2022-07-27 11:07] #9264 closed

[2022-07-27 11:37] msbemba commented on #9195
@mariammorgan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9266

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-27 11:49] mariammorgan commented on #9195
great , thank you

[2022-07-27 11:57] msbemba commented on #9194
@razpopescuMS Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9267

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-27 12:14] msbemba commented on #9228
@tofergus Thank you for your feedback. I tested it using both the options and they are different because this document talks about onboarding devices using the [Microsoft Purview compliance portal](https://compliance.microsoft.com/) and the document you have provided talks about [Microsoft Defender Security Center](https://securitycenter.windows.com/) for Microsoft defender for the endpoint.

Both

[2022-07-27 12:50] anwarmahmood1 opened #9268 "please provide an example to get all unlicensed synchronised users"
This benefits your readers who are migrating from 'msonline' to Microsoft Graph.

With 'msonline', the command is...

`Get-MsolUser -UnlicensedUsersOnly -Synchronized -all`

The Microsoft Graph equivalent appears to be

`Get-MgUser -Filter 'assignedLicenses/$count eq 0 and OnPremisesSyncEnabled eq true' -ConsistencyLevel eventual -CountVariable unlicensedUserCount -All`

You may also wish to notif

[2022-07-27 12:58] tofergus commented on #9228
Right, but step #3 at https://docs.microsoft.com/en-us/microsoft-365/compliance/device-onboarding-sccm refers to a deployment method choice label that is no longer available, now that ConfigMgr 2012 is EOL.

Also, step #5 mentions a .cmd file within the .zip that does not exist when selecting the current ConfigMgr choice, is not needed for Win10+, and confused our customer.

Then step #6 says to u

[2022-07-27 16:10] msbemba commented on #9215
@ericsayles Thank you for your feedback. The option exists if you have purchased the perpetual software through the CSP program(Via Partner). If you still do not see the option to download keys, I'd recommend you to contact Microsoft support via the need help section on the admin center so they can fix it.

Hope this helps!
Thanks
Sri

[2022-07-27 16:12] msbemba commented on #9206
@lightupdifire Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9269

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-27 16:16] msbemba commented on #9214
@Marweis Thank you for your feedback. I tested it and If you are a Geo Administrator, you can log in to only that Geo admin center and will not have an option to delete or view the geo-locations tab.

The document states, that you need to log in as a global admin and once you access Sharepoint admin center-->Geo locations-->You can delete the location that you want to delete.

So if you are a geo

[2022-07-27 16:21] msbemba commented on #9202
@Firewaters  Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9270

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-27 16:47] msbemba commented on #9198
@itishnitsa Thank you for your feedback. You are right, We need to create safe links and safe attachment policies for the customer mailbox.

The section that you read about safe links and Safe attachments doesn't detonate, is specifically for third-party phishing simulations.

Hope this helps!

Thanks
Sri

[2022-07-27 16:55] msbemba commented on #9181
@nbsol1 Thank you for your feedback.

You can add device tags using API -https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/add-or-remove-machine-tags?view=o365-worldwide

I don't see the plan to add support for Windows Server 2019 and 2022 in the roadmap. I'd recommend you post this question in our main feedback portal - https://feedbackportal.microsoft.com , So that our De

[2022-07-27 16:59] msbemba commented on #9167
@HandyAndyOnGitHub Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9271

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-27 19:39] christoph-werker opened #9272 "The english Hotline is closed right now and not 27/7 open."
The english Hotline is closed right now and not 27/7 open.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8f3ef4b-93c4-d855-d3b8-f1bfe1c4896a
* Version Independent ID: 48d2bd58-df61-abb4-64ce-f5901d94b241
* Content: [Support information for Germany - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/

[2022-07-27 20:26] chrisda commented on #8507
@joergrenn, my apologies. I did not mean to imply that you need to prove anything. I just thought you might have the results of your testing that would show what's actually happening.

- According to old correspondence that I found but apparently never implemented, Default means the [default language of the Microsoft 365 organization](https://docs.microsoft.com/office365/troubleshoot/access-manage

[2022-07-27 20:30] ToddMaxey commented on #9017
Love you guys! Thanks a million.

[2022-07-27 20:47] derekateam commented on #6531
@KCCross Any update I have client going thru CJIS Audit and simply showing it in the production information will not suffice for the auditor. He needs the actual certification numbers.

[2022-07-28 00:43] MikeCleary-SEC opened #9273 "Documentation Errors?"
Several items unless I'm doing something wrong....

Step 4
- IsArchive default behavior for blank appears to be TRUE not FALSE
- TargetRootFolder doesn't appear to work as documented either.  Blank and  "/" create a folder at the same level as Inbox and the std folder called "user@contoso.com" (old / incoming PST file) then has several subfolders one of which is "Top of Information Store" and unde

[2022-07-28 01:26] qaehtesh opened #9274 "Add Microsoft Business Basic for [User requested to release a quarantined message] Default alert"
Add Microsoft Business Basic for [User requested to release a quarantined message] Default alert
The documentation only includes  following E1/F1/G1, E3/F3/G3, or E5/G5 however the alert is included in Microsoft Business Basic and works and also seems to work
===========
User requested to release a quarantined message | Generates an alert when a user requests release for a quarantined message. To

[2022-07-28 02:36] yogkumgit commented on #9194
@msbemba Thank you very much for the contribution and updating the documentation with PR. @razpopescuMS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 02:37] #9194 closed

[2022-07-28 02:41] yogkumgit commented on #9228
@msbemba Please review it thoroughly. Thanks

[2022-07-28 02:47] yogkumgit commented on #9215
@msbemba Thank you very much for the contribution and sharing this explanation. @ericsayles Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-07-28 02:47] #9215 closed

[2022-07-28 02:49] yogkumgit commented on #9206
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lightupdifire Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 02:49] #9206 closed

[2022-07-28 02:56] yogkumgit commented on #9198
@msbemba Thank you very much for the contribution and sharing this explanation. @itishnitsa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 02:56] #9198 closed

[2022-07-28 02:59] yogkumgit commented on #9181
@nbsol1 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-07-28 02:59] #9181 closed

[2022-07-28 03:02] yogkumgit commented on #9167
@msbemba Thank you very much for the contribution and updating the documentation with PR. @HandyAndyOnGitHub Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 03:02] #9167 closed

[2022-07-28 03:15] yogkumgit commented on #9203
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-07-28 03:17] yogkumgit commented on #9218
@chrisda Please help us in resolving this issue. Thanks

[2022-07-28 03:18] yogkumgit commented on #9222
@denisebmsft Please help us in resolving this issue. Thanks

[2022-07-28 03:19] yogkumgit commented on #9233
@chrfox Please help us in resolving this issue. Thanks

[2022-07-28 03:21] yogkumgit commented on #9246
@mjcaparas please help us in resolving this issue. Thanks

[2022-07-28 03:22] yogkumgit commented on #9251
@BassamAlHassan We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2022-07-28 03:22] #9251 closed

[2022-07-28 03:30] yogkumgit commented on #9185
@msbemba Thank you very much for the contribution and sharing this explanation. @weyCC81 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 03:30] #9185 closed

[2022-07-28 03:31] yogkumgit commented on #9187
@msbemba Thank you very much for the contribution and sharing this explanation. @IanMos Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 03:31] #9187 closed

[2022-07-28 03:33] yogkumgit commented on #9192
@msbemba Thank you very much for the contribution and sharing this explanation. @XXLMandalorian013 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-28 03:33] #9192 closed

[2022-07-28 12:53] MikeCleary-SEC commented on #9273
Just to be clear - regarding the PST mapping file, the "blank" option does work as defined - sort of, I guess (it creates the Imported folder at the top level, then a subfolder under that named as the email address of the incoming data, then under that all the standard folders)

What's not working as defined is the "/" option.  It essentially does the same thing as the blank except instead of star

[2022-07-28 14:14] joergrenn commented on #8507
@chrisda, I am also sorry I apparently took the reply the wrong way.

That definitively makes more sense then: default equals English.
But I still don't really understand what this default setting is for, because I agree with you that it makes little sense to select default and another language which might be the same as the default.

[2022-07-28 15:43] joel-cooptimize opened #9276 "What about Dynamics 365 and Azure?"
Can the documentation include how (or if) the Microsoft popups can be turned off for Dynamics 365, Power Platform, and Azure?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d2ba49-5e22-3373-5034-bb2fde743762
* Version Independent ID: 3a02dcf2-1310-561d-4106-d495eaec63b7
* Content: [Manage Microsoft feedback for your

[2022-07-28 16:09] denisebmsft commented on #9255
https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/15338

Waiting for PM to confirm.

[2022-07-28 16:13] SeanTGeoghegan opened #9277 "Quarantine Action Event List"
https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#quarantine-activities

This section does not include some Audited events like "QuarantineRequestReleaseMessage", which trigger when a request is sent. Could this section be updated with the most up-to-date events that quarantine actions trigger?

---
#### Document Details

[2022-07-28 16:26] chrisda commented on #9218
Assigning to Ratula, who does TABL

[2022-07-28 20:20] reticentnz opened #9278 "Where is the definitive place to find the latest version?"
I can see version 4.18.2207.2 is available on SCCM, yet there is no mention of this version on this page as being available. If it's not here, where can I see information on this version?

[2022-07-28 20:57] Jlouden9 opened #9279 "Page out of Date"
Hi,

After the setting Zero-hour auto purge (ZAP) for malware, this page isn't in line with the portal. It should be asking for Quarantine Policy, and there is a different notification section

Regards
John

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b89afa39-ea8f-bfa3-d600-0bb5fda0805f
* Version Independent ID: 8b0

[2022-07-29 00:59] puppleStar77 opened #9280 "Change a user's display name hasn't taken effect in 24 hours to Teams apps."
[Enter feedback here]
Change has taken effect to azure active directory and Office admin center, Teams admin center.
But It still not updated Teams web app and windows client app.
My office 365 business plan is 365 Business standard.
How long time does it take to the changes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-07-29 01:09] chrisda commented on #9195
Updates made in a separate PR that should publish F 7/29 ~11:00AM GMT-7.

Also, related cmdlet reference topics published in the PowerShell repo per [9374](https://github.com/MicrosoftDocs/office-docs-powershell/pull/9734).

Thanks for the feedback.

Closing

[2022-07-29 01:09] #9195 closed

[2022-07-29 01:24] dgalvinau commented on #9102
Same issue with the most recent updates on the 28th July 2022 updates - Version 2022072800

[2022-07-29 04:15] yogkumgit commented on #9278
@reticentnz Please indicate which document you are referring to. Thanks

[2022-07-29 04:20] reticentnz commented on #9278
Apologies, it is this page I'm referring to - [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/security/defender-endpoint/manage-updates-baselines-microsoft-defender-antivirus.md)

[2022-07-29 04:31] yogkumgit commented on #9084
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @hudish Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-29 04:32] #9084 closed

[2022-07-29 05:03] yogkumgit commented on #9214
@msbemba Thank you very much for the contribution and sharing this explanation. @Marweis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-29 05:03] #9214 closed

[2022-07-29 05:26] yogkumgit commented on #9252
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @max-power15 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-29 05:26] #9252 closed

[2022-07-29 06:57] petersonal2 opened #9281 "Unclear if we can use wildcard in sending infrastructure"
[Enter feedback here]
At  [Tenant allow/blocklist page](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/allow-block-email-spoof?view=o365-worldwide#domain-pair-syntax-for-spoofed-sender-entries) there is a "Domain pair syntax for spoofed sender entries" topic. At Sending infrastructure the valid values are listed, but there is not mentioning wildcard characters. However

[2022-07-29 14:04] msbemba commented on #8256
@ElfNeedsFood  Sorry about the delay. I have been working with the product group, Could you please provide the snip or screenshot of what the New prompt looks like to your users? As they would like to understand why the user to opt-out option is missing.

Thanks
Sri

[2022-07-29 14:25] msbemba commented on #9258
@waded Thank you for your feedback. I was able to find the Options in the Products section.

![image](https://user-images.githubusercontent.com/45987684/181780450-0cfc7088-222c-49f2-9978-5acf75a1a17f.png)

However, there are some minute changes to the navigation. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9282

If you still do not see the op

[2022-07-29 14:28] msbemba commented on #9263
@ghadirim Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9283

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-29 14:34] msbemba commented on #9265
@andrePKI Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9284

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-29 14:34] waded commented on #9258
@msbemba From your screenshot perhaps the nuance missing in the article is that this *requires an existing prepaid subscription*? (Your screenshot shows the existing Billing Frequency is "Prepaid" - I think if existing Billing Frequency is e.g. "Monthly" then this entire screen is quite different than the article's describing.)

[2022-07-29 14:39] msbemba commented on #9268
@anwarmahmood1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9285

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-29 14:41] msbemba commented on #9272
@christoph-werker Thank you for your feedback. I'll test this outside of business hours and update the document if need be.

Thanks
Sri

[2022-07-29 16:31] weyCC81 commented on #9185
Hi @msbemba

I have added one as we have a spelling error in the initial one and would like to switch sharepoint in the future.

It is still not clear to me what action could start such a fallback, and/or what do you mean with "no longer active".
I thought you can not remove them if you have added them once (up to 5 max)?

[2022-07-29 16:37] msbemba commented on #9121
@SpitFire-666 Thank you for your feedback. Sorry about that, it should be read as

If you want to exclude more than one folder, in a path, use multiple instances of \*\ to indicate multiple nested folders (for example, c:\Folder\*\*\Test)

We will get the document updated in the backend.

Hope this helps!

Thanks
Sri

[2022-07-29 16:51] msbemba commented on #9185
@weyCC81 That is correct. You cannot remove onmicrosoft.com domain, however the custom domains like contoso.com can be removed leaving just the onmicrosoft.com.

Once you add another onmicrosoft.com domain to the tenant using https://docs.microsoft.com/en-us/microsoft-365/admin/setup/add-or-replace-your-onmicrosoftcom-domain?view=o365-worldwide#add-a-new-onmicrosoftcom-domain

You can make that on

[2022-07-29 17:58] briettaeasterlin opened #9286 "The links on this page go to strange locations"
[Enter feedback here]
https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-overview?view=o365-worldwide#components

These links:

"Additional Microsoft 365 products
[Microsoft 365 Business Premium](https://docs.microsoft.com/en-us/microsoft-365/admin/?view=o365-worldwide)

Bring together the best-in-class productivity and collaboration capabilities with device management and sec

[2022-07-29 18:04] chrisda commented on #9279
@Jlouden9, confirmed. The two issues were:

- Remove Recipient Notifications
- Add Quarantine Policy after ZAP and before Admin Notifications

Updates should publish F 7/20 ~4:00PM GMT-7

OK?

[2022-07-29 23:36] chrisda commented on #9208
Topic updated on 7/20:

<https://github.com/MicrosoftDocs/microsoft-365-docs/commit/53ad182badc455fd8b0b16fb90e186a473106475>

Thanks for the feedback.

Closing

[2022-07-29 23:36] #9208 closed

[2022-07-30 14:07] alexbleicker opened #9288 "Path to find add-ins has changed"
It is called integrated apps now, not add-ins

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62dfa25-e420-38e4-ff47-05cca62d14ec
* Version Independent ID: 5ea03ce0-38b9-e005-a430-e98442e2ec83
* Content: [Deploy add-ins in the admin center - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/mana

[2022-07-30 23:53] daniel-ayers opened #9289 "Microsoft 365 DNS records for Cloudflare docs - _sipfederationtls SRV record (Skype for Business) is wrong"
[Enter feedback here]

The table shown in step 5 of the Skype for Business section of page https://docs.microsoft.com/en-gb/microsoft-365/admin/dns/create-dns-records-at-cloudflare?view=o365-worldwide#add-the-two-required-srv-records is wrong.

The 2nd, 3rd and 4th columns of the second row of the table are in the wrong order.  This leads to nonsensical values being shown.

The 4th column value ("

[2022-07-31 21:12] msbemba commented on #9120
@gsiler Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9290

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-31 21:34] msbemba commented on #9159
@joergrenn  Thank you for your feedback. I have tested and these options are not available in this module yet. You can provide this feedback on our main feedback portal - https://feedbackportal.microsoft.com/ So that one of the Dev/Product engineers can help you with information on when this will be available in PS.

Hope this helps!

Thanks
Sri

[2022-07-31 22:40] msbemba commented on #9272
@christoph-werker  Thank you for your feedback. I was able to call this English Hotline on Sunday at  9PM. I see it connects to the Global English hotline which is 24/7. The German Hotline though is closed and available only between M-F  8AM- 9PM.

Hope this helps!

Thanks
Sri

[2022-07-31 22:45] msbemba commented on #9274
@qaehtesh Thank you for your feedback. We have made changes to the document via pR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9291

Once the author approves, the changes will be live.

Thanks
Sri

[2022-07-31 22:48] robinpoulose1 opened #9292 "Purchase services is now Market Place ."
I was not able to find the purchase subscription Tab on one of the tab and the link now redirects to  new location called Market Pace.
Please confirm Market place and purchase subscription are same. If there is name change then please update the article

In the admin center, go to the Billing > [Purchase services](https://go.microsoft.com/fwlink/p/?linkid=868433) page.

---
#### Document Details

[2022-07-31 23:35] msbemba commented on #9278
@reticentnz Thank you for your feedback. The latest update from the catalog still shows 1.18.2205.7

The definitive place to get the latest version is https://www.catalog.update.microsoft.com/search.aspx?q=antimalware

The author will update the document once more information is available about this.

CC :  @denisebmsft

Hope this helps!

Thanks
Sri

[2022-08-01 09:34] Hindy-UK opened #9293 "Table not showing links correctly"
The table listing the tools and deployment options contains a lot of random brackets and incomplete sentences. I believe these are meant to be links to other articles.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: af205543-b539-a7e8-a66c-f9365241fec9
* Version Independent ID: b9d4b071-f501-51a8-8565-859df13b7fa7
* Con

[2022-08-01 11:55] ramus82 opened #9294 "The published hash does not match"
Hi,
the hash published on the site does not match with hash produced when the file "xmde_client_analyzer.zip" is downloaded.
Regards
M.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95ba8ed0-8234-d514-f06e-3ce69e60bfec
* Version Independent ID: 51d6d3ae-6100-7acb-af46-e8ec6b9fe84f
* Content: [Run the client analyzer o

[2022-08-01 13:15] yogkumgit commented on #9276
@kwekuako Please help us in resolving this issue. Thanks

[2022-08-01 13:16] yogkumgit commented on #9277
@v-tophillips Please help us in resolving this issue. Thanks

[2022-08-01 13:27] yogkumgit commented on #9121
@martyav Please help us in resolving this issue. Thanks

[2022-08-01 14:00] yogkumgit commented on #9258
@msbemba

[2022-08-01 14:04] yogkumgit commented on #9263
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ghadirim Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-01 14:06] yogkumgit commented on #9265
@msbemba Thank you very much for the contribution and updating the documentation with PR. @andrePKI Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-01 14:07] #9265 closed

[2022-08-01 14:07] #9263 closed

[2022-08-01 14:16] yogkumgit commented on #9279
@Jlouden9 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-01 14:16] #9279 closed

[2022-08-01 14:18] yogkumgit commented on #8920
@msbemba Thank you very much for the contribution and updating the documentation with PR. @pax8-jfoye Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-01 14:18] #8920 closed

[2022-08-01 14:20] yogkumgit commented on #9152
@msbemba Thank you very much for the contribution and updating the documentation with PR. @o365tatsuyan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-01 14:20] #9152 closed

[2022-08-01 14:21] DPIZee opened #9295 "Security Operations Center"
Security Operations Dashboard [no longer exists](https://docs.microsoft.com/en-us/microsoft-365/security/defender/microsoft-365-security-center-mde?view=o365-worldwide), but is documented on this and many other pages.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52cf9eaa-c236-18f7-1a55-9707b953

[2022-08-01 14:22] yogkumgit commented on #9060
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GeoffWalsh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-01 14:22] #9060 closed

[2022-08-01 14:28] yogkumgit commented on #9159
@joergrenn Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-08-01 14:28] #9159 closed

[2022-08-01 14:32] yogkumgit commented on #9278
@msbemba Thank you very much for the contribution and sharing this explanation. @reticentnz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-01 14:32] #9278 closed

[2022-08-01 17:21] thiagobeier opened #9296 "**playbook** provided has a broken link"
hi there the **playbook** provided has a broken link

https://download.microsoft.com/download/9/c/1/9c167271-8209-492e-acc2-38a39d1834c2/m365bp-cybersecurity-playbook.pdf

under **Protect All Email **section
the link [https://aka.ms/M365BP-email](https://aka.ms/M365BP-email) goes to  [https://docs.microsoft.com/en-us/microsoft-365/business-premium/avoid-phishing-and-attacks?view=o365-worldwide](ht

[2022-08-01 19:15] denisebmsft commented on #9296
Hello @thiagobeier! Thank you so much for letting us know about the link issue. It's fixed! I appreciate your calling this to our attention. Have a great day!

[2022-08-01 19:15] #9296 closed

[2022-08-01 20:18] v-tophillips commented on #9277
This amount of work will have to be planned and scheduled. This is not something I can do immediately, but will add to my queue.

[2022-08-01 20:18] #9277 closed

[2022-08-02 00:26] o365tatsuyan commented on #9152
Thank you @yogkumgit for your prompt support!  Your update help our support and our customer. Perfect!

[2022-08-02 07:27] aldoug opened #9302 "Built-In Protection and MS Teams"
Built-In Protection covering MS Teams needs verification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c77e1cb-1509-83cc-7c2a-564d5e3e91ea
* Version Independent ID: 9f07278c-37ab-beac-a5dd-fa4f4825b3a4
* Content: [Microsoft recommendations for EOP and Defender for Office 365 security settings - Office 365](https://d

[2022-08-02 10:56] yogkumgit commented on #9120
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gsiler Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-02 10:56] #9120 closed

[2022-08-02 11:02] yogkumgit commented on #9274
@msbemba Thank you very much for the contribution and updating the documentation with PR. @qaehtesh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-02 11:02] #9274 closed

[2022-08-02 11:09] yogkumgit commented on #7397
@BobbyFlayva Author replied that please open support request in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable informatio

[2022-08-02 11:09] #7397 closed

[2022-08-02 11:13] yogkumgit commented on #9258
@msbemba Gentle reminder

[2022-08-02 12:00] rfellmann opened #9303 "Advanced Hunting queries are wrong (- instead of | character used). Copy/paste won't work"
[Enter feedback here]

In the Advanced Hunting query examples, replace '-' with the pipe character '|'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 395141e8-be91-e226-24d7-dc136b8f9c5e
* Version Independent ID: 012beed4-1fdb-4f59-9cc4-53ba5e2c8ea2
* Content: [Use network protection to help prevent connections to bad

[2022-08-02 13:47] zinkco22 opened #9304 "The commands for New-TenantAllowBlockListItems don't work. They say Allow and ListType aren't valid"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17ce75e-79ba-0acd-066c-a0120a29d65d
* Version Independent ID: 14673b1c-8489-0abc-90a0-42f35d516424
* Content: [Configure the delivery of third-party phishing simulations to users and unfiltered messages to SecOps mailboxes - Office 365](https://docs.

[2022-08-02 15:57] katlim-br opened #9306 "Needs to show api permissions required to query AlertEvidence and AlertInfo"
This page needs to show the Azure Active Directory/App Registration permissions needed. I can't seem to make it work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c882661-62c9-213d-efd1-23ffcf4fcc4a
* Version Independent ID: 1498f182-802c-5b87-1a83-3341b75eb48e
* Content: [AlertInfo table in the advanced hunting sche

[2022-08-02 16:33] simonkurtz-MSFT opened #9307 "Populated custom fields not displayed for staff"
I added two required custom fields that, when booking, must be filled out before submitting the request. This works; however, on the staff side - regardless of whether I am using the new or old booking UI - I cannot see the meeting agenda and customer organization anywhere. The absence of this essentially has me guessing as to what the meeting is about and whom I am meeting with (organizationally)

[2022-08-02 17:19] chrisda commented on #9304
@zinkco22, I copied the New-TenantAllowBlockListItems commands from Step 3 in an E5 nothing special test tenant as a Global admin, and it worked fine for me.

- What version of the EXO V2 PowerShell module are you using? v2.0.5 is the latest general release, and v2.0.6-Preview6 is the latest Preview release. Make sure you're up to date. If you're using v2.0.6, try using the `-UseRPPSSession` switc

[2022-08-02 17:24] chrisda commented on #9302
@aldoug, from [this article](https://docs.microsoft.com/microsoft-365/security/office-365-security/preset-security-policies#preset-security-policies-in-exchange-online-powershell), this command:

[code]

In my organization shows `EnableSafeLinksForTeams       : True` for the Safe Links policy.

[2022-08-02 17:36] zinkco22 commented on #9304
I’m running it with Business Premium and trying to run it in the Security and Compliance PowerShell since I want to add a set of URLs to the PhishingSimulation “Simulation URLs to allow”
For reference this is the script I’m trying to use.
New-TenantAllowBlockListItems -Allow -ListType Url -ListSubType AdvancedDelivery -Entries "*.com-token-auth.com/*","*.com-onlinebanking.com/*","*.password.land/*

[2022-08-03 00:33] brink668 opened #9311 "ASR - Behavior Changes - Blocking under User Context Now?"
### Under the Section "How do ASR rules exclusions work?"
It states "ASR rules run under **NT AUTHORITY\SYSTEM account**, so environmental variables are limited to machine variables."

### **Since 7-27-2022**
I have been seeing around 40 of 1800 machines in my work environment that are showing blocks under %userprofile% or usercontext for .dll blocks.  This is new behavior and is recent.

ASR Rule

[2022-08-03 00:54] msbemba commented on #9258
@waded Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9312

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-03 01:35] rpodric opened #9313 ""Idle session timeout on unmanaged devices" policy doesn't seem to be necessary"
Delete

[2022-08-03 01:37] #9313 closed

[2022-08-03 01:40] rpodric opened #9314 "Idle session timeout on unmanaged devices policy doesn't seem to be needed"
There must be something else you intended to say there, some other condition, because I can confirm that idle session timeout triggers for unmanaged devices without the policy. I didn't even notice the part in the article about the policy until today, so accordingly the policy does not exist in my tenant. I've had idle session timeout, however, enabled and working for a month.

None of our devices

[2022-08-03 14:53] Wittkie opened #9316 "DeviceAlertEvents No Longer Provided"
[Enter feedback here]

As per : https://docs.microsoft.com/en-us/microsoft-365/security/defender/advanced-hunting-migrate-from-mde?view=o365-worldwide

"The AlertInfo and AlertEvidence tables replace the DeviceAlertEvents table in the Microsoft Defender for Endpoint schema."

Microsoft Alias: jwittkie

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-08-03 15:11] Chephic opened #9317 "Telephony"

[2022-08-03 15:59] denisebmsft commented on #9317
Hello @Chephic. Any feedback for us?

[2022-08-03 17:37] NukaEv opened #9318 "Misspelling"
Before you get started, **yu** need to configure Exchange Online Protection and Defender for Office 365 so user reported messages are delivered to the user submissions mailbox without being filtered as described in the following steps:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e53205b5-8850-42b6-0b0c-8a61b7ef7776

[2022-08-03 17:38] NukaEv commented on #9318
Just happen to see it figured I would shout it out.

[2022-08-03 17:58] jwgarrett opened #9319 "Step 3: Create a search permission filter, users sub instruction mislabel"
Howdy,

If you search for this
Users: Specifies the users or groups who get this filter applied to the search actions they perform. For compliance boundaries, this parameter specifies the role groups (that you created in Step 3) in the agency that you're creating the filter for. Note this is a multi-value parameter so you can include one or more role groups, separated by commas.

It should be "Ste

[2022-08-03 21:23] chrisda commented on #9318
@NukaEv, fixed. In the future, you too can make fixes like this yourself without opening an Issue first. Instructions are [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md).

Thanks for the feedback.

Closing

[2022-08-03 21:23] #9318 closed

[2022-08-04 06:28] msft-benbenton opened #9325 "The page is confusing for Windows Server licensing"
Please clarify licensing requirements for Windows Servers under, https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/minimum-requirements?view=o365-worldwide

Make a call out that Windows Server operating systems require Defender for Server Plan 1 or Plan 2, as it only mentions "applies to Defender for Endpoint Plan 2 or Microsoft 365 Defender" and no mention for "Defender fo

[2022-08-04 15:57] timurengin opened #9327 "Spelling mistake on Event ID 5013"
The description of the event for Event ID 5013 has an _if_ instead of an **is**:

I think the _if_ should be an **is** here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 102c5c34-0c04-cc14-8e9c-74ff42e1fdc2
* Version Independent ID: 6a06016e-6ac1-ab00-5a33-1d1226e2e45d
* Content: [Microsoft Defender Antivirus event I

[2022-08-04 16:29] denisebmsft commented on #9327
Hello @timurengin. Thank you so much for letting us know about this issue. I've updated the doc, and the updates will render live later today.

[2022-08-04 16:29] #9327 closed

[2022-08-04 18:55] chrisda commented on #8558
@JrothSKV, I finally got a response from a knowledgeable party, and he doesn't see anything wrong with what you're saying, but he also doesn't see anything wrong with the current content in the topic.

Can you please edit the existing text from the topic below to add/remove/clarify?

------------------------------------------------------------------------

The Dynamic Delivery action in Safe Attac

[2022-08-04 20:48] drdenson opened #9331 "Update addIn removal timeframe from 72 to 24 hours"
Hi Team - per a recent interaction with the Centralized Deployment engineering team, it was relayed that the SLA for removing an addIn from a user should be 24 hours, not the 72 hour time frame that is documented in this article.  Please can this be updated accordingly?

https://docs.microsoft.com/en-us/microsoft-365/admin/manage/centralized-deployment-faq?view=o365-worldwide#how-long-does-it-take

[2022-08-04 22:11] bcihak commented on #6754
Any update on this request

[2022-08-05 06:50] sanketshah11 opened #9332 "Video not working "Failed to download error message""
(https://docs.microsoft.com/en-us/microsoft-365/compliance/classifier-get-started-with?view=o365-worldwide)
This link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f3c5c98-9f47-9512-b932-2f72822796d2
* Version Independent ID: fd477cf9-4ee0-544f-10c6-f3dfccb10186
* Content: [Get started with trainable classifiers - Mi

[2022-08-05 08:14] Saki-Yufu opened #9333 "PQMT: Lacking of the information about new endpoint *.powerautomate.com"
[Description]
Lacking of the information about new endpoint *.powerautomate.com.

The following URL indicates that there will be a change in June-July 2022, when the domain of Power Automate portal will be moved from *.flow.microsoft.com to *.powerautomate.com.

However, since the following page does not mention *.powerautomate.com as an Office 365 endpoint, we assume that users have no control ov

[2022-08-05 09:37] RInfoSec-Alerts opened #9334 "Still shows Skype Data"
Is Skype still available? this template still shows Skype, shouldn't this be removed now?

[2022-08-05 09:52] triumfas opened #9335 "Ip address missing for streaming.realtimetelemetry.teams.microsoft.com"
Hi,

streaming.realtimetelemetry.teams.microsoft.com resolves to 20.40.202.5 and that IP or IP range is missing in O365 endpoint list.
When this IP is blocked - Teams meetings live data is not showing up in admin.teams.microsoft.com and also Teams client application cannot send live data info to the cloud.

[2022-08-05 10:10] triumfas commented on #9236
2022072800 update is also empty. Is it another internal-only change?

[2022-08-05 11:17] msbemba commented on #9325
@msft-benbenton Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9336

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 11:19] msbemba commented on #9319
@jwgarrett Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9337

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 11:25] msbemba commented on #9316
@Wittkie Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9338

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 11:28] msbemba commented on #9311
@brink668 Thank you for your feedback. There have been no changes recently on ASR. This sounds more like a bug and I'd recommend you to report it to Support via the need help section on the admin center so that our product group can fix this.

Hope this helps!

Thanks
Sri

[2022-08-05 11:30] msbemba commented on #9307
@simonkurtz-MSFT Thank you for your feedback. We have had another customer report a similar issue and this sounds more like a bug. This needs to be handled by the product group, so I'd recommend you create a support ticket via the need help section and report the issue to the support engineer who can take this forward.

Hope this helps!

Thanks
Sri

[2022-08-05 11:36] msbemba commented on #9306
@katlim-br Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9339

Once the author approve, the changes will be live.

Thanks
Sri

[2022-08-05 11:40] msbemba commented on #9303
@rfellmann Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9340

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 11:56] msbemba commented on #9293
@Hindy-UK Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9341

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 12:00] brink668 commented on #9311
I have a support ticket open. Thank you for your reply.

[2022-08-05 12:00] #9311 closed

[2022-08-05 12:01] msbemba commented on #9292
@robinpoulose1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9342

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 12:05] msbemba commented on #9289
@daniel-ayers Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9343

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 12:09] msbemba commented on #9288
@alexbleicker Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9344

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-05 12:13] msbemba commented on #9280
@puppleStar77 Thank you for your feedback. These changes are usually reflected within 24 hours. If it does not reflect, I'd recommend you to contact support via the need help section on the admin center so that they can help you fix this.

Hope this helps!

Thanks
Sri

[2022-08-05 13:01] simonua commented on #9307
Thank you, @msbemba. I just filed the bug. Let's keep this issue open here until a resolution is found, please, in case it requires changes to the documentation.

[2022-08-05 14:09] m-hanisch opened #9345 "Non-existant domains: <tenant>-files.sharepoint.com, <tenant>-myfiles.sharepoint.com"
We performed the [Microsoft 365 network connectivity test](https://connectivity.office.com/)
The report stated in section *TCP connections* that the following URLs shall be unblocked:
- `<tenant>-files.sharepoint.com`
- `<tenant>-myfiles.sharepoint.com`

So I had a look at [https://aka.ms/o365ip](https://aka.ms/o365ip). The Addresses are categorized as _Default Required_ in section [SharePoint Onl

[2022-08-05 14:57] yogkumgit commented on #9334
@RInfoSec-Alerts Please let us know which document you are referring to. Thanks

[2022-08-05 14:58] yogkumgit commented on #9335
@triumfas Please let us know which document you are referring to. Thanks

[2022-08-05 15:34] SeanTGeoghegan opened #9347 "Limitations for Header Matches Patterns"
We'd like to request updates to call out specific limitations for DLP Conditions such as "Header matches patterns". Currently there are errors that occur when you try go go outside of the bounds of the tool, but these are not documented anywhere (that I have seen).

1. "You cannot configure a pattern that begins with a wildcard like (.*, .+, .{0,n} or .{1,n}). You must remove the wildcard from the

[2022-08-05 15:46] yogkumgit commented on #9307
@msbemba Thank you very much for the contribution and sharing this explanation. @simonua Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-08-05 15:46] #9307 closed

[2022-08-05 15:55] yogkumgit commented on #9280
@msbemba Thank you very much for the contribution and sharing this explanation. @puppleStar77 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-08-05 15:55] #9280 closed

[2022-08-05 15:59] meliss0215 commented on #8695
Hi @kelleyvice-msft do you have an update on this? This request has been open since May. Thanks!

[2022-08-05 18:15] #9317 closed

[2022-08-05 18:23] LuxsonicAdmin commented on #9169
@yogkumgit apologies for the oversight and unnecessary issue creation!

[2022-08-05 19:40] triumfas commented on #9335
Referring to this document: https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide
It should fall under ID 12 which includes "*.teams.microsoft.com"

[2022-08-05 20:15] drewroengoogle opened #9348 "The video on this page is private"
Hello! I just wanted to point out the video on this page is marked private and cannot be viewed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c45c0e1f-4b28-041d-e344-cda813ce81c5
* Version Independent ID: c45c0e1f-4b28-041d-e344-cda813ce81c5
* Content: [Supply chain attacks](https://docs.microsoft.com/en-us/microsoft

[2022-08-07 11:27] rafalfitt-mptv opened #9353 "confusing explanation"
<html>
<body>

Enabled in Program settings | Enabled in System settings | Behavior
-- | -- | --
Yes | No | As defined in Program settings
Yes | Yes | As defined in Program settings
No | **Yes** | As defined in System settings
No | **Yes** | Default as defined in Use default option

</body>
</html>

IMHO the last row should be No | **No** | Default as defined in Use default option

---
#### Documen

[2022-08-08 11:23] yogkumgit commented on #9293
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Hindy-UK Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-08 11:24] #9293 closed

[2022-08-08 11:28] yogkumgit commented on #9319
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jwgarrett Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-08 11:28] #9319 closed

[2022-08-08 11:44] Hindy-UK opened #9355 "One link still broken"
This is a follow-up to my previous issue #9293, which was closed following pull request #9341. There are still three links that are not correctly entered in the table:

- PowerShell -> Management options: Set-MpPreference and Update-MpSignature.
-  Microsoft Azure -> Reporting options: after “…SIEM tool to report on “.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2022-08-08 11:54] WillMartin58 opened #9356 "Poor Grammar"
Early on this page, we read that "When these intermediary services, perform such actions, they can use ARC can be used to provide details of the original authentication before the modifications occurred, which your organization can then trust to help with authenticating the message."  Beyond being a very long sentence, it is grammatically ambiguous.  The phrase "they can use ARC can be used to pro

[2022-08-08 12:01] yogkumgit commented on #7092
@msbemba Please update.

[2022-08-08 12:02] yogkumgit commented on #9243
@msbemba Please update. Thanks

[2022-08-08 12:04] yogkumgit commented on #8256
@msbemba Thank you very much for the contribution and digging deep into it.  @ElfNeedsFood We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docum

[2022-08-08 12:04] #8256 closed

[2022-08-08 12:35] pamvee opened #9357 "Control score doesnt have testing status"
There is wording under the control score saying:

"This sum is applied in its entirety to your overall compliance score when the control meets both of the following conditions:

Implementation Status equals Implemented or Alternative Implementation, and
Test Result equals Passed."

This is essentially how 'Improvement Action' score is calculated not at control level. Controls dont have testing sta

[2022-08-08 12:46] petersonal2 commented on #9281
I opened an MS ticket, a 2nd level engineer told to the 1st level who told me, it is not possible to use a wildcard. Still it should be updated in the docs.

[2022-08-08 13:44] msbemba commented on #9281
@petersonal2 Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9358

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-08 13:54] msbemba commented on #9286
@briettaeasterlin  Thank you for your feedback.  We have made changes to the M365 Business premium link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9359

[2022-08-08 14:03] msbemba commented on #9294
@ramus82 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9360

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-08 14:04] MattAlberga opened #9361 "missing information on enabling shared channel access"
For the Shared channel to work, the "M365 groups" setting needs to have "Let group owners add people from outside your organization to Microsoft  365 groups as guests."

This setting is to be enabled for shared channels to work.
It is missing from all documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a95f60

[2022-08-08 15:09] msbemba commented on #9243
@LuisEmilioR Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9362

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-08 15:23] msbemba commented on #9228
@tofergus Thank you for the detailed explanation. I'll need to check with the author to see if we can implement these changes in the document.

We will update you shortly.

Thanks
Sri

[2022-08-08 17:56] davekallenborn opened #9363 "M365 Defender event hub verification hunting query formatting not formatted correctly"
On the Microsoft 365 Defender docs for configuring event hub for streaming page, there is a section for verifying the data export is flowing: https://docs.microsoft.com/en-us/microsoft-365/security/defender/configure-event-hub?view=o365-worldwide#verify-that-the-events-are-being-exported-to-the-event-hubs

There is a section to run an Advanced Hunting query for verifying the event hub.  The screen

[2022-08-08 21:04] atrainSaaS opened #9364 "External Users in Shared Channel Keep Getting Disconnected from SharePoint Site"
- Setup Azure B2B as per article (allowed everything for both internal and external)
- Invited first external user into shared channel
- External user can post to channel, create, upload and edit files from "Files" tab in channel
- External user can open SharePoint site from "Files" tab
- External user gets disconnected from SharePoint site after a few moments of navigating SharePoint Site ("Home"

[2022-08-09 04:19] Lionhart91 opened #9368 "Insider risk - excel"
Does Microsoft insider risk management track moving Excel tabs to a new Excel sheet, or copying and pasting contents in Excel sheet to a blank Excel sheet not located in OneDrive?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b230596-3cff-a5b9-e9b6-09297a52796e
* Version Independent ID: e51c4653-7d8a-6090-baa8-3558a2

[2022-08-09 07:34] kathleenlgo opened #9371 "Suggestion to add a note to clarify that the HR connector is expecting UPN instead of email address"
Hi!

May I suggest please that we add a note to clarify that the HR connector is expecting the UPN instead of email address (even if the column name says Email Address)?  In most cases, the UPN is the same as the email address.  However, there are some orgs wherein the user has a different email address from the UPN.  When we tried to import HR data with email address, we get this error message:

[2022-08-09 09:18] nikki-c opened #9372 "Missing links on page"
In the Additional Resources section of the page there are missing links for

- Take training for adoption specialist
- Join the adoption community
- Use the Microsoft 365 adoption tools

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee1fd644-5b27-ea28-2844-7a0ee0fa95f9
* Version Independent ID: e

[2022-08-09 09:25] nikki-c opened #9373 "Only available for tenants with 20,000 plus seats"
This page does not mention that Experience insights is only available for organizations with 20,000 plus seats. This is information provided in the blog post https://techcommunity.microsoft.com/t5/microsoft-365-blog/introducing-preview-of-experience-insights-for-microsoft-365/ba-p/3574383

Update to say

Experience insights is optimized for organizations with higher volumes of data so is only avai

[2022-08-09 09:53] steve-prentice commented on #8235
Hey @o-l-a-v / @kelleyvice-msft, we have the same thing here. The "files" or "myfiles" URLs don't exist and appear to be spurious on three (i.e. all) of the tenants I manage.

[2022-08-09 09:58] ab-ny opened #9374 ""Add custom questions to your services" does not reflect product"
Hi, when following the "Add custom questions to your services" step in the documentation, step 4 reads:

Choose the Custom fields section.

There is no custom fields section, however there is a "customised fields" section

This looks slightly different to the documented UI
![image](https://user-images.githubusercontent.com/105717253/183619957-05452787-e1cd-4701-8cc3-e8344e4dca2e.png)

Critically,

[2022-08-09 14:01] yogkumgit commented on #9281
@msbemba Thank you very much for the contribution and updating the documentation with PR. @petersonal2 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-09 14:01] #9281 closed

[2022-08-09 14:07] yogkumgit commented on #9316
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Wittkie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-09 14:07] #9316 closed

[2022-08-09 14:11] yogkumgit commented on #9228
@chrfox Please help us in resolving this issue. Thanks

[2022-08-09 14:12] yogkumgit commented on #9288
@msbemba Thank you very much for the contribution and updating the documentation with PR. @alexbleicker Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-09 14:13] #9288 closed

[2022-08-09 14:14] yogkumgit commented on #9303
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rfellmann Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-09 14:14] #9303 closed

[2022-08-09 14:29] yogkumgit commented on #9295
@mjcaparas Please help us in resolving this issue. Thanks

[2022-08-09 14:30] yogkumgit commented on #9314
@kwekuako Please help us in resolving this issue. Thanks

[2022-08-09 14:35] yogkumgit commented on #7133
@KCCross this is similar to #7092

[2022-08-09 14:50] rpodric commented on #9314
@yogkumgit The answer is a typo in the article:

"The intent of that statement is to limit the policy trigger **only** on unmanaged devices. By default, the policy triggers for all device types (managed or unmanaged), but if you want to restrict it only to unmanaged devices, then you need to configure the CA policy as well. "

[2022-08-09 15:09] yogkumgit commented on #9334
@RInfoSec-Alerts We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2022-08-09 15:09] #9334 closed

[2022-08-09 16:11] jhuettner opened #9377 "Need PowerShell info for anti-spam settings"
We really could use some information on the powershell equivalents to get and set anti-spam settings on this page.  For example, how to export and import blocked domains.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52e7d6c9-1a05-440e-730b-ed1dff89c7e4
* Version Independent ID: 4ebfc3af-bad1-bc19-1977-a529eeb5d0c6
*

[2022-08-09 16:46] dkotars opened #9378 "Guidance on Common Attachments filter"
Can we provide guidance on new common attachments filter notification settings? The 2 options are 1) Reject the message with NDR, 2) Quarantine the message.

My assumption is Quarantine with policy to Admin Only which best reflects previous recommendations, but would like confirmation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-08-09 17:18] msbemba commented on #9331
@drdenson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9379

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-09 17:19] drdenson commented on #9331
Thank you!

From: Sriraman M S ***@***.***>
Sent: Tuesday, August 9, 2022 10:19 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Dean Denson ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Update addIn removal timeframe from 72 to 24 hours (Issue #9331)

@drdenson<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdrdenson&data

[2022-08-09 17:21] msbemba commented on #9332
@sanketshah11 Thank you for your feedback. The video in the document is working currently. Please use an incognito window as there could be a browser issue on your end.

![image](https://user-images.githubusercontent.com/45987684/183716649-4fa84d18-30b4-4c3a-9e20-b348627726f7.png)

Hope this helps!

Thanks
Sri

[2022-08-09 17:28] v-tophillips commented on #9371
I am not persuaded that we need a separate note for each table when each description column has (UPN) as a descriptor for the email address. I agree it would be more clear if the column name was UPN instead of EmailAddress, but that would require a change to the product.

[2022-08-09 17:28] #9371 closed

[2022-08-09 17:37] msbemba commented on #9374
@ab-ny Thank you for your feedback.

I have tested it in two tenants and I could see the Options say Custom Fields in both new and old Bookings experience

![image](https://user-images.githubusercontent.com/45987684/183721511-f4ed781c-5841-44ed-a6f2-9cd1eef8dcf3.png)

If the wordings are still showing up as Customised fields then there could be an issue or bug with a set of tenants. I'd recommend

[2022-08-09 17:41] msbemba commented on #9373
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9381

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-09 17:44] chrisda commented on #9377
@jhuettner, I would contend that much of that is already covered in the companion procedural topic to this conceptual topic: [Configure anti-spam policies in EOP](https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-your-spam-filter-policies).

Granted, the specific example of importing/exporting blocked domains is not present in that topic.

We could also add such examp

[2022-08-09 17:49] chrisda commented on #9378
@dkotars, the quarantine policy AdminOnlyAccessPolicy does not have quarantine notifications turned on, so you would need a custom quarantine policy assigned to the anti-malware policy that duplicates AdminOnlyAccessPolicy, but with recipient notifications turned on.

[2022-08-09 17:54] msbemba commented on #9372
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9382

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-09 18:11] msbemba commented on #9364
@atrainSaaS Thank you for your feedback. This certainly sounds like a bug in this tenant. I'd recommend you to contact Microsoft support via need help so that a support engineer can file a bug and get this resolved.

Hope this helps!

Thanks
Sri

[2022-08-09 18:20] dkotars commented on #9378
Thanks for the quick response.  I was wondering if we had Standard/Strict Recommendations regarding the common attachment type notifications:

***@***.***

I think in the past, prior to quarantine policies and this change, the behavior was to quarantine, and our recommendation was to not notify sender or recipient (maybe my memory is hazy).

Just curious if we have updated guidance on this change

[2022-08-09 18:22] msbemba commented on #9356
@WillMartin58 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9383

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-09 18:24] msbemba commented on #9353
@rafalfitt-mptv Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9384

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-09 19:47] chrisda commented on #9378
@dkotars, Using the [PowerShell procedures that I recently documented for preset security policies](https://docs.microsoft.com/microsoft-365/security/office-365-security/preset-security-policies#use-powershell-to-view-individual-security-policies-for-preset-security-policies), and the [recommended settings](https://docs.microsoft.com/microsoft-365/security/office-365-security/recommended-settings-

[2022-08-09 19:55] atrainSaaS commented on #9364
Unfortunately, this issue is not exclusive to a single tenant.

I have two test users from 'Tenant A' . One is 'Tenant B' and the other in 'Tenant C'.

Both Tenants B and C have the exact same issue with external users from Tenant A.

I have already opened a ticket with Microsoft support.  That is how we discovered that the external users were missing from Azure > Users.

I'm not sure how else to

[2022-08-09 20:20] msbemba commented on #9357
@pamvee Thank you for your feedback.  The control score is the sum of points earned by completing improvement actions within the control.

So when IA is implemented and passed it adds up to the control score as it is the sum of points earned by completing IA.

Hope this helps!

CC: @chvukosw

Thanks
Sri

[2022-08-09 20:27] msbemba commented on #9361
@MattAlberga Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9385

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-09 20:29] msbemba commented on #9363
@davekallenborn Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9386

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-09 20:39] jhuettner commented on #9377
Chris,

   Thank you for responding!  My specific goal was to backup our anti-spam filter policies, particularly permitted email addresses and domains and blocked email addresses and domains.  As you know, there is no way to do that through the web GUI.  Also, the way the web GUI is implemented, you cannot highlight all the records and cut/paste to notepad/CSV either.  So I figured PowerShell was

[2022-08-09 20:44] denisebmsft commented on #9255
Thank you @BiggsSkeedR for posting this issue, and thank you @yogkumgit and team for your help! The article has been updated, and you'll see the changes on the live site later today.

[2022-08-09 20:44] #9255 closed

[2022-08-09 21:17] msbemba commented on #9364
@atrainSaaS  Thank you for your response. You are on the right track. Microsoft support will be able to file a bug with the product group to take this forward. We make modifications to the document if there are any changes to the design.

Hope this helps!

Thanks
Sri

[2022-08-09 21:24] chrisda commented on #9377
@jhuettner, does this work?

[code]

[2022-08-09 21:49] jonwbstr opened #9389 "ćóntoso.com?"
Yes that is the spelling used in this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b8f651-9d8e-a34b-8dde-2b6a9448f875
* Version Independent ID: 20e96426-627d-9973-8303-a43a114c7b61
* Content: [Anti-phishing policies - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-

[2022-08-09 22:12] chrisda commented on #9389
@jonwbstr, the text looks OK to me. Isn't ćóntoso.com a sneaky way of impersonating contoso.com?

Or is it an allowed ASCII characters in email addresses thing where the example bad domain should be something like cont0s0.com?

[2022-08-09 23:06] jonwbstr commented on #9389
Apologies I neglected to read the sentence, that is a perfect example of
phishing.

On any other article it would be a typo 😉. Closing as pebcak

On Tue, Aug 9, 2022, 6:12 PM Chris Davis ***@***.***> wrote:

[2022-08-09 23:06] #9389 closed

[2022-08-10 02:21] sthorley commented on #8115
This exact issue caused problems for my org signing into OdfB. If you put:

you can't also have:

Without disclosing it. Why not just put a footnote in saying (specified URLs below maybe be excluded from ER)

[2022-08-10 06:33] pamvee commented on #9357
Hello @Christie ***@***.***>,

I agree. But the wording says "This sum is applied in its entirety to your overall compliance score when the control meets both of the following conditions:". Shouldn't that be ....when each of the Improvement Actions meets....", because both the conditions mentioned are only attributes at the IA level and not at the control level.

Regards,
Prameela Veeramachaneni (

[2022-08-10 10:23] KENJISHIRAKI opened #9392 "How to enable network protection in Windows Server 2019"
[Enter feedback here]
I ran the command "Set-MpPreference -EnableNetworkProtection Enabled" on Windows Server 2019 to enable network protection.
However, when I accessed the demo site (https://smartscreentestratings2.net ) it was not blocked. all the requirements for real-time protection, cloud-delivered protection, etc. are met.

Network protection also worked on Windows Server 2019 by running th

[2022-08-10 12:37] dkotars commented on #9378
Hi Chris,

Personally I agree with the common sense notion, default settings will come into play for the common attachments, and the default behavior will be just keep the identified attachments out of site out of mind.

My customer reached out because we added the NDR option (as I understand, by some customers request). I explained to him that we stuck with the default behavior of quarantining, b

[2022-08-10 12:57] SeanTGeoghegan opened #9393 "Add consideration for Policy Tips in older versions of Outlook"
Older versions of Outlook are not compatible with all types of Custom SITs - due to their MCE.dll version vs the minimum required version of custom SITs. Any custom SIT, depending on its elements, is not necessarily compatible with any Outlook version (specifically Perpetual 2019 and below).

We would like a callout to this, either within, or replacing the following lines:

"_Please note that cust

[2022-08-10 14:31] chvukosw commented on #9357
Hi Prameela - thanks for bringing attention to this. I think that is correct, but let confirm that with Elliot before making the update. I'll provide an update here before closing out.

[2022-08-10 14:54] vboyev-MSFT opened #9394 ""Web Protection" term is not entirely true...."
[Enter feedback here]
MTD presently contextually defines Web Protection as "Anti-phishing, blocking unsafe network connections, and support for custom indicators" and then refers to the main MDE Web Protection article that has a different definition: "Web protection in Microsoft Defender for Endpoint is a capability made up of Web threat protection, Web content filtering, and Custom indicators. We

[2022-08-10 14:59] yogkumgit commented on #9333
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-08-10 15:02] kurtvanbalen opened #9395 "Setting SelfPurchase policy to OnlyTrialsWithoutPaymentMethod not working."
When trying to set the policy value for SelfPurchase to OnlyTrialsWithoutPaymentMethod I encounter the following error. It is possible to set the value to either Enabled or Disabled but not to OnlyTrialsWithoutPaymentMethod. Can it be that this functionality was not yet enabled from MS their side?
![image](https://user-images.githubusercontent.com/28528957/183934321-82bbaf3e-d517-41e4-875d-0d8d293

[2022-08-10 15:03] yogkumgit commented on #9335
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-08-10 15:06] yogkumgit commented on #9347
@chrfox Please help us in resolving this issue. Thanks

[2022-08-10 15:07] yogkumgit commented on #9348
@Dansimp Please help us in resolving this issue. Thanks

[2022-08-10 15:09] yogkumgit commented on #9368
@robmazz Please help us in resolving this issue. Thanks

[2022-08-10 15:17] teomondaPT opened #9396 "Please remove text in Custom email notification for SharePoint and OneDrive"
The custom email notification that we can configure for Sharepoint / Onedrive automatically contains reference to the document link and Sensitive information types included, which makes the email very long and hard to read in some situations.
I would expect, since the docs article shows options/tokens to include when customizing email notifications, that it would not show anything else, but only w

[2022-08-10 15:25] yogkumgit commented on #9332
@msbemba Thank you very much for the contribution and sharing this explanation. @sanketshah11 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-10 15:25] #9332 closed

[2022-08-10 15:28] yogkumgit commented on #9374
@msbemba Thank you very much for the contribution and sharing this explanation. @ab-ny Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcom

[2022-08-10 15:28] #9374 closed

[2022-08-10 15:34] yogkumgit commented on #9364
@msbemba Thank you very much for the contribution and sharing this explanation. @atrainSaaS Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-08-10 15:34] #9364 closed

[2022-08-10 15:39] yogkumgit commented on #9353
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rafalfitt-mptv Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-10 15:39] #9353 closed

[2022-08-10 15:39] yogkumgit commented on #9294
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ramus82 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-10 15:40] #9294 closed

[2022-08-10 15:41] yogkumgit commented on #9325
@msbemba Thank you very much for the contribution and updating the documentation with PR. @msft-benbenton Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-10 15:41] #9325 closed

[2022-08-10 15:44] yogkumgit commented on #9357
@msbemba Thank you very much for the contribution and sharing this explanation. @pamvee Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-10 15:45] #9357 closed

[2022-08-10 15:49] yogkumgit commented on #8115
@kelleyvice-msft Gentle reminder.

[2022-08-10 16:49] chrisda commented on #9378
@dkotars, be advised that a [pull request]() just came from the PM that says the new default for reject with NDR vs. quarantine for the common attachments filter is now reject with NDR.

In my testing in a plain E5 tenant, the Default anti-malware policy was still Quarantine for me, but new policies that I created had reject with NDR selected by default. I also checked the Standard and Strict pres

[2022-08-11 09:44] defendable-isnes opened #9403 "Endpoint does not support url encoded odata queries"
[Enter feedback here]

Endpoint https://api.securitycenter.microsoft.com/api/incidents does not support url encoded odata queries...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53a61a50-f7f2-f09a-a008-759c3afba97b
* Version Independent ID: 872c0e23-c626-3e22-efea-d4ef4ad7f32b
* Content: [Advanced Hunting API](https:

[2022-08-11 11:30] yogkumgit commented on #9361
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MattAlberga Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-11 11:30] #9361 closed

[2022-08-11 11:41] yogkumgit commented on #9107
@jrpa259 Thank you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-11 12:30] wdburgdorf opened #9404 "Where are the email settings?"
"there are email settings"

I totally believe that there are settings. But WHERE are they? I cannot find them.
Can you please specify? Maybe add a screenshot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1a56d4e-5b63-a2b8-5225-abf9d91aaf90
* Version Independent ID: 467e8269-ef0c-ee69-0c3b-74221ab06e39
* Content: [Us

[2022-08-11 16:05] cpinotossi opened #9409 "Microsoft Defender for Endpoint for WSL"
Does defender support wsl?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Version Independent ID: 6c49c1c5-a178-0c9d-4768-fef1507b1a55
* Content: [Microsoft Defender for Endpoint on Linux](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender

[2022-08-11 16:52] vboyev-MSFT opened #9410 "Need guidance on managing MDAV in Azure - Azure Antimalware is not MDAV"
[Enter feedback here]
There is a lack of clarity and information for managing MDAV on Azure VM's as well as on ARC connected servers that are not managed via MEM/MECM or GPO.

Azure Antimalware - as I understand it is related to the IAAS Antimalware extension (https://docs.microsoft.com/en-us/azure/security/fundamentals/antimalware) and is not equivalent protection that the MDE Unified Agent provi

[2022-08-11 20:34] slylabs13 opened #9412 "What do you mean Forwarded messages may not be encrypted"
I think the statement that if a message is forwarded it isn't necessarily encrypted is misleading. ANY message sent via a TLS encrypted channel is encrypted, whether forwarded or not. I think you need to clarify what that means.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f032f4f-c4b0-9133-aaa

[2022-08-11 20:53] VNJoe opened #9413 "Block Group Creation script doesn't work"
The block group creation script here doesn't work

https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups?view=o365-worldwide

I attempted to install AzureADPreview, then attempted to run the script but it came back all red:

Get-AzureADDirectorySetting : The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet,
function, script file, or operable

[2022-08-12 09:05] PehDeh opened #9417 "Sense can´t be stopped with "sc query sense""
hi,

there is a flaw in the documentation
`sc query sense`
**only querries the service**
and we can´t stop the service with `stop-service sense`
![grafik](https://user-images.githubusercontent.com/24938476/184323241-480def9d-c203-414e-ae07-8b6b4e812860.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5b23fe-37ce-e

[2022-08-12 12:33] PehDeh commented on #9417
mistake

[2022-08-12 12:33] #9417 closed

[2022-08-12 12:43] yogkumgit commented on #9363
@msbemba Thank you very much for the contribution and updating the documentation with PR. @davekallenborn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-12 12:43] #9363 closed

[2022-08-12 13:07] msbemba commented on #9392
@KENJISHIRAKI Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9419

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-12 13:20] msbemba commented on #9393
@SeanTGeoghegan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9420

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-12 13:39] msbemba commented on #9395
@kurtvanbalen Thank you for your feedback. **OnlyTrialsWithoutPaymentMethod** is currently not available and the same has been removed from the document. We will update the document once the parameter is made available.

Hope this helps!

Thanks
Sri

[2022-08-12 13:42] msbemba commented on #9396
@teomondaPT Thank you for your feedback. That makes sense. However, this needs to go to the dev/product team so that they can look at it and make changes. I'd request you to provide this valuable feedback on our Main feedback portal -https://feedbackportal.microsoft.com/ , So that one of our dev team members can respond back to you.

Hope this helps!

Thanks
Sri

[2022-08-12 13:50] msbemba commented on #9404
@wdburgdorf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9421

Once the author approves, the changes will be live.

Thanks
Sri

[2022-08-12 13:55] msbemba commented on #9409
@cpinotossi Thank you for your feedback. As of now, the Microsoft defender for endpoint is not supported in WSL. However, you can leave your feedback on our main feedback portal - https://feedbackportal.microsoft.com/ so that one of our dev/product group engineers will be able to provide more information on whether this is in pipeline.

Hope this helps!

Thanks
Sri

[2022-08-12 14:04] msbemba commented on #9412
@slylabs13 Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9422

The statement is now changed to - If you forward a message that was sent through a TLS-encrypted connection to a recipient organization that doesn't support TLS encryption, that message isn't necessarily encrypted. TLS doesn't encrypt the message, just t

[2022-08-12 14:30] msbemba commented on #9413
@VNJoe Thank you for your feedback. I tested the cmdlets on a couple of tenants and they seem to work properly.

![image](https://user-images.githubusercontent.com/45987684/184375654-e0c9a02e-f58d-452f-804b-bfe2d0db67c5.png)

If this continues to be a problem, I'd recommend you to contact Microsoft support via the need help section on the admin center, so that a support engineer can help you fix t

[2022-08-12 14:38] msbemba commented on #9394
@vboyev-MSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9423

Added a statement that WCF is not supported on mobile platforms.

Once the author approves, the changes will be live.

Thanks
Sri