[2021-10-13 22:06] danmyhre commented on #5348
Sounds good, those rules should be added to the doc

[2021-10-13 22:19] rconiv opened #6595 "Turn Off Legacy MFA Listed twice"
The instructions for turning off legacy MFA is listed twice, once near the top of the page, and a second time near the bottom.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1e6c9a-9644-6d86-3962-d36bf1efd656
* Version Independent ID: 96142d6c-71de-6ea9-0361-dbec82647b15
* Content: [Set up multifactor authentication

[2021-10-14 03:11] msbemba commented on #6553
@desinnic I have updated it via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6596

Thanks for the feedback.

Thanks
Sri

[2021-10-14 03:53] #6553 closed

[2021-10-14 04:00] yogkumgit commented on #6559
@tiburd Please help here. Thanks

[2021-10-14 04:03] yogkumgit commented on #4810
@msbemba Thank you very much for the contribution and sharing this explanation. @jgriff500 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-14 04:03] #4810 closed

[2021-10-14 04:20] yogkumgit commented on #4520
@yaniv-intlock Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-14 04:20] #4520 closed

[2021-10-14 04:24] yogkumgit commented on #2854
@sujitnaray suggested it is @nickjrobinson to answer this. Thanks

[2021-10-14 08:55] sringler opened #6599 "license requirements for Microsoft Defender for Endpoint on Mac"
In the license requirements section for Microsoft Defender for Endpoint on Mac states "Windows 11". I guess it should mean "Windows 11 E5"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e9b530-4f11-0483-ed65-42b23082f9f6
* Version Independent ID: 38263c08-7cab-7d52-552d-e724ede401aa
* Content: [Microsoft Defender fo

[2021-10-14 15:18] joshfolcik opened #6600 "needs a little extra explanation on retention"
If items in the mailbox are held by a retention policy, such as a record label, or mailbox retention policy from compliance center policies - retention - when the license is removed is that data still retained? Or does the account need to be "deleted" instead of unlicensing it as a way to make sure that data is retained for the length of the retention period or record label policy?

---
#### Docum

[2021-10-14 16:10] fabiotelesMS opened #6602 "Outdated Instructions and Video"
I would like to point out that the instruction video on this site is still using the old Azure Portals and names, so it harder to follow up the instructions.

The **Registering AD Application and Permissions** it different right know. Made my own personal notes on this and the steps where:

![image](https://user-images.githubusercontent.com/92537712/137355634-d24b940b-98bf-4477-beb6-9104e46b5731.p

[2021-10-14 17:06] markjjo commented on #5352
@ryeguy637 Thanks for feedback. Not sure what you mean by "shouldn't that be shown in the specific ediscovery section". The documents you site seem to be consistent, for example, for ediscovery locations for UAE. If you are experiencing a different behavior with multi-geo configuration with respects to eDiscovery, would suggest you contact Microsoft Support.

[2021-10-14 23:51] DontNeedNoGit opened #6604 "Information is Missing"
I need to rename our organziation due to character length issues with OneDrive.
Maybe it's me, but I'm septical that the list of impacts is complete, especially considering that there is incomplete information of what you provided.

For example, it says that it doesn’t update for already configured clients. Okay... so what happens to them? Will it stop syncing new files/file changes? What about sh

[2021-10-15 06:24] desinnic commented on #6553
Many Thanks Sri

From: Sriraman M S ***@***.***>
Sent: Thursday, October 14, 2021 7:21 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Dean Sinnick ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Command-Lines in the document appear to have incorrect charaters (#6553)

@desinnic<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com

[2021-10-15 15:37] tiburd commented on #6559
@ScottSchnoll
Hi, you can create a PR in the private repo, [microsoft-365-docs-pr](https://github.com/MicrosoftDocs/microsoft-365-docs-pr), to submit that change.

For information, you can review the [MARVEL Authoring Guide for Docs](https://review.docs.microsoft.com/en-us/office-authoring-guide/office-docs-authoring-overview?branch=master).

If you need additional assistance, you can post your qu

[2021-10-15 15:37] #6559 closed

[2021-10-17 06:57] netaneladar opened #6613 "So how do we truly whitelist exceptions (i.e. phishing simulations, mail to SecOps)"
Hello,

The last section in the article refers to Exceptions. How do we add true whitelisting for those exact use cases that are exceptions like making sure the phishing simulation emails are not blocked? We cannot report to Microsoft as a false positive each time we run an automated phishing simulation.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-10-17 20:29] oliverhuslid opened #6616 "Page should include how to extend subscriptions with existing licenses"
There needs to be some mention about using "added licenses" from a key to apply to subscriptions to extend them. Or if this can't be done, it should be mentioned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be84d189-037d-409b-c777-9c1edaf7a758
* Version Independent ID: 7927ab5c-3bb5-e9ee-8f29-283238669f35
* Content:

[2021-10-18 11:45] #6566 closed

[2021-10-18 12:05] yogkumgit commented on #6527
@msbemba Thank you very much for the contribution and sharing this explanation. @JitenderPrasad Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-18 12:21] #6554 closed

[2021-10-18 12:45] yogkumgit commented on #6583
@LauraWi Please help us in resolving this issue. Thanks

[2021-10-18 12:47] yogkumgit commented on #6584
@LauraWi Please help us in resolving this issue. Thanks

[2021-10-18 13:40] peterzdovc opened #6622 "PDF render problem"
I'm trying to download a PDF version of '**microsoft-365-docs**'. Whatever I do, the PDF render stops converting content on page 195 and only shows white pages afterwards. Tried with Edge and Chrome. Result is the same.

Is there a repository with already rendered PDF docs for all MicrosoftDocs repositories over an API?

Best regards, Peter Zdovc

---
#### Document Details

⚠ *Do not edit this sec

[2021-10-18 18:26] LauraWi commented on #6509
Tagging endpoints and assigning to @kelleyvice-msft for assessment.

[2021-10-18 18:31] LauraWi commented on #6584
Assigning to @kelleyvice-msft for assessment.

[2021-10-18 23:51] nitin-gan opened #6629 "Update in ip subnet requested"
It has been found that few IP Subnets are not added in this list for Teams device and MS 365 updates which is required for error-free working of Teams meeting rooms and MS 365 feature and services updates.

Please add them to this list so that other EDL providers can update their list as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2021-10-19 10:02] yogkumgit commented on #6562
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nyflash Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-19 10:02] #6562 closed

[2021-10-19 15:49] elegault opened #6637 "Issues using Remove-OrganizationAddIn with SSO-enabled Outlook add-in"
The `Remove-OrganizationAddIn` cmdlet doesn't work when attempting to remove an SSO-enabled Outlook add-in.  If I run this command:

`Remove-OrganizationAddIn -ProductId 309aa6a5-85a4-4910-a9a2-4eb5fb3f6e41`

This error is output:
[code]

I also tried deleting the associated App Registration in Azure first, but I got this error the first time (the second time I tried, I got the error above):

[cod

[2021-10-20 08:46] rsoakford commented on #6568
@msbemba , thank you for updating me - it seems the changes to the document have not been merged - is that because the message center announcement regarding availability of Information Barriers feature for Microsoft 365 A1 and A3 licenses is no longer current?

[2021-10-20 13:35] yogkumgit commented on #5348
@msbemba

[2021-10-20 13:55] THANAWIWAT opened #6644 "microsoft"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 0735069a-c3cd-f230-52a5-01b093c2dc3d
* Version Independent ID: 32eb9da0-b2d6-d9d3-f37c-6610db9406e2
* Content: [Support information for Thailand - Microsoft 365 admin](https://docs.microsoft.com/th-th/microsoft-365/admin/support/thailand?view=o365-worldwide)
*

[2021-10-20 16:39] chrisshilt opened #6650 "Interactive guide outdated"
The interactive guide is outdated. The product name is incorrect, and the portal is the old portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a541e5c3-8a8d-d766-918e-f53091e32294
* Version Independent ID: 44e9ef9e-1355-8ded-f79d-7683fadaec0c
* Content: [Overview of Microsoft Defender Security Center](https://docs.

[2021-10-20 19:45] msbemba commented on #6568
@rsoakford Thank you for your feedback. The Author will verify the changes with the Product group and merge changes once it is approved. it could take 24-48 hours after the PR is merged.

Thanks
Sri

[2021-10-20 19:54] RyanTetzlaff opened #6654 "Clarification on Onboarding"
In the FAQ, there is a question as to whether or not machines can be onboarded through device discovery. (Can I onboard unmanaged devices that were found?) The answer implies machines that are discovered can be automatically onboarded.... I'm guessing this isn't true and that discovered machines still need to be manually onboarded through Intune, Group Policy, SCCM, etc. Can this FAQ question be c

[2021-10-20 23:16] gregbnz opened #6661 "Update impersonation section to mention protection against lookalike "Display Name" attacks (not just domain names)"
Hi there, Impersonation Settings only mentions protection against lookalike Domain Names - but I have read elsewhere that it protects against lookalike Display Names as well (which is an increasingly common method of attack). Can you please confirm this and update the page if so?

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-anti-phishing-policies#impersonatio

[2021-10-21 06:11] PortableTech opened #6662 "Missing Step (Settings)"
Between steps 1 and 2 you need to add a step to select Settings.  The Device Onboarding is under settings while this page implies it is at the top level which it is not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0ac0e1-6f08-2f8b-10c7-a967e53886f8
* Version Independent ID: f510237f-0ec9-d266-3ec6-0ad6b49e2522
* C

[2021-10-21 06:11] yogkumgit commented on #6644
@THANAWIWAT We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-10-21 06:11] #6644 closed

[2021-10-21 07:37] PsychoData opened #6664 "Is CloudFlare a supported DNS Provider/Registrar"
The DNS Providers list does not include CloudFlare, but I think they support all the required record types?

They are who is hosting DNS for all of my domains, and Registrar for most of them - Is CloudFlare supported to use this with Office 365? Should it be added to the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-10-21 16:49] clckr24 opened #6667 "Expired Lab"
I am getting an error message that the SQL Server has expired.

[2021-10-21 21:44] langjtl opened #6669 "Update manual submission process to reflect new policies in effect for spam report processing"
The Microsoft Security Research Spam Analysis team replied to a manually submitted spam report saying their automation cannot process spam reports sent without Abuse Reporting Formatting standards. Outlook does not add ARF when a message is sent with the offending email attached. The documentation for manual submission does not reflect this requirement. According to the spam analyst who informed t

[2021-10-22 04:23] #6667 closed

[2021-10-22 04:35] yogkumgit commented on #6484
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mrjasonm Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-10-22 04:35] #6484 closed

[2021-10-22 04:38] #6453 closed

[2021-10-22 04:40] #6430 closed

[2021-10-22 04:51] yogkumgit commented on #6188
@kwekuako Thanks for your reply in the email. Will wait for the update.

[2021-10-22 08:56] quickclix75 opened #6673 "Prerequisite KB missing reference numbers"
In Prerequisites under the section the Endpoint data loss prevention (Endpoint DLP) the following KB reference is appears to be missing some of the number ? Please can this be corrected ? thanks
Windows 10 2004 with KB **46013**

[2021-10-22 15:16] ryeguy637 opened #6677 "Validating the Environment status"
It would be very helpful if the Validating the Environment section gave additional detail on what the ComatibilityStatus messages "Warning" and "Incompatible" mean (and what the administrator can do for mitigation).

For example, on 10/15/21, I received this

![image](https://user-images.githubusercontent.com/37934378/138479743-516052b2-a03b-4ebe-b781-ab100ea7a183.png)

On 10/22/21, I received thi

[2021-10-22 16:19] nanoonan538 opened #6678 "Templates List - grouping by functional area + full names"
Could we include some of these types of updates to help customers navigate what templates are available and what applies to them? It is hard for a customer to know what some of these are without taking other steps to look them up. It is also hard to know which align with each discipline (e.g. what a privacy officer what a records manager, what info security team might use to navigate their program

[2021-10-26 04:44] THANAWIWAT opened #6692 "356 off"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b25a9f3-ff11-7b5a-a485-060ef6246abd
* Version Independent ID: aceda4b9-d6df-2dff-bd46-209b48f9aa75
* Content: [Manage Windows 10 Pro device policies with Microsoft 365 Business Premium](https://docs.microsoft.com/en-US/microsoft-365/business-video/se

[2021-10-26 10:24] benpaul4u opened #6697 "Amend article to show details on "Antivirus status" and its various values"
Please amend article to show details on "Antivirus status" and its various values similar to Onboarding Status.

We see "Not supported", "Not updated", "Updated" and "Uknown" values when export Device Inventory.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d401bb34-5a2e-7f66-8fcd-28a395c62a99
* Version Independent ID

[2021-10-26 13:50] import-au opened #6700 "mdatp binary supports --output switch"
The mdatp binary for macos (and Linux) supports the `--output` switch. I know it supports json, not sure what other output types are allowed. Would be nice to have this documented.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9240d179-335e-1031-d077-6bc0dbc8d5a7
* Version Independent ID: b3a7140b-d37e-e27f-d973-2cf6f

[2021-10-26 15:56] WarrenTR65 opened #6701 "RHEL repo links return 404"
The links for RHEL packages  in the section https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-install-manually?view=o365-worldwide#rhel-and-variants-centos-fedora-oracle-linux-and-amazon-linux-2
result in a 404 response.

The bash example for Centos is incorrect.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-10-26 21:18] StuBeck32 opened #6703 "Step 6 is ambiguous"
Step 6 says to select the user. This isn't clear as what you need to do is double click the user to get to the next page where you can assign a license. Simply clicking the check box or single clicking the user does not give you the option of assigning a license.

It would be helpful in the next step to indicate a page would open as well.
[Enter feedback here]

---
#### Document Details

⚠ *Do not

[2021-10-26 23:41] dimmthewitted opened #6704 "Hybrid envrionment. Can't add external contacts to o365 groups. global admin. Can't see group settings."
Hybrid envrionment.  Can't add external contacts to o365 groups.  global admin.  Can't see group settings.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f5592e2-3fee-9034-5b33-2d1687d60ba2
* Version Independent ID: 5b8dee58-e383-9a26-570a-47f5c81121cb
* Content: [Manage guest access in Microsoft

[2021-10-27 02:55] qaehtesh opened #6707 "Document Update Request | Email attachments file name currently does not work for Exchange Events"
[Enter feedback here]
The documentation says DLP  Exchange Event alerts  includes name of the attachment however that does not seems to be the case. Have confirmed this in repro environment and there seems to be active feature request /DCR in progress.
So requesting to update/remove following section that email attachment name are not included in Exchange events as if now.

--------------

Email a

[2021-10-27 07:13] grabery opened #6710 "redirect configuration not available anymore"
Hello all
It seems, that the redirect configuration is not available anymore. In compliance.microsoft.com > Settings, there is no "compliance center redirection". Protection.microsoft.com is also not reachable anymore, so I guess the redirection can't be set anymore. I checked it with two tenants and with the appropriate rights to do so (global admin & compliance admin) and it's the same for both

[2021-10-27 20:55] blakebourgeois opened #6716 "install_mdatp_dnf.yml 'enable repo' not working"
To get the code in 'install_mdatp_dnf.yml' to work, I first had to swap "dnf" to "yum" on CentOS. I am not sure if the difference between dnf and yum caused an issue with the enablerepo value.

In the commands provided in the 'install_mdatp_dnf.yml' section, the enablerepo value is "packages-microsoft-com-prod-[channel]"

Using yum with this value, ansible fails to install mdatp.

Setting the valu

[2021-10-28 04:09] KENJISHIRAKI opened #6717 "Could you Please add that when setting "Action" to "Audit", GenerateAlert needs to be specified."
[Enter feedback here]
A customer of mine was having trouble creating an indicator from the API explorer, because setting 'Audit' in the action resulted in an error.
The reason was that the API was missing a setting called "GenerateAlert": "TRUE".
"GenerateAlert" is an item that must be set to "TRUE" when creating an action with "Audit".
I have received a request to improve it as it is not mentione

[2021-10-28 15:57] ferringer opened #6723 "Note referencing shared computer activations needs to be re-added to this article..."
This article used to contain a note stating "You must be a global administrator, global reader or reports reader in Microsoft 365 or an Exchange, SharePoint, or Skype for Business administrator to see reports. Shared computer activations are not included in this report."

It appears that the entire note containing that quoted text was removed as a part of a batch update to these report articles ta

[2021-10-28 19:25] DontNeedNoGit opened #6728 "Change this setting via web?"
How can I change this setting using the web GUI interface instead of poewrshell scripts?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac69-134d-0198-fcb9-e19d1ed44d4b
* Content: [Manage who can create Microsoft 365 Groups](https://docs.microsoft.com/e

[2021-10-28 19:25] Camelonian opened #6729 "Page doesn't address scenario for M365 Business Premium users"
This scenario works for someone who does not have Windows 10 Pro license at all and needs to purchase a license. This does not work for an Azure AD user with Windows 10 Home device that has a M365 Business Premium subscription that includes Windows 10 Pro licensing. Users would end up paying $99 to upgrade when the license they already have should cover this.  Clicking Buy while logged in to the M

[2021-10-28 20:39] idefy opened #6730 "Wrong title, this is not demonstrating what the title says"
This is not how to create A shared calendar. This is creating a group to view SEVERAL calendars together side by side.
Expected: A shared calendar is a single calendar where multiple people contribute too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a466b2e-2dbf-41c2-1f4d-f31522752389
* Version Independent ID: 9ec6

[2021-10-29 11:41] quickclix75 opened #6733 "missing KB numbers"
The Windows KB Prerequisite section appears to have missing numbers on one of the KB references..

Endpoint data loss prevention (Endpoint DLP):

Windows 10 1809 with KB 4601383
Windows 10 1903 and 1909 with KB 4601380
**Windows 10 2004 with KB 46013**

Please can this be updated

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-10-29 16:44] huntjr1 opened #6738 "Text Notifications in Microsoft Booking"
Any known issues with the text reminders from Microsoft booking? I have clients setting up appointments for 140 pm (for example) and they will get a text that their appointment is confirmed for 840 am.  I've looked through the set up and can't find any issues.  Any help would be appreciated!  Below are screen shots:

Received by client
![image](https://user-images.githubusercontent.com/93398373/13

[2021-10-29 18:51] mjcaparas commented on #6650
At this time, the interactive guide is not slated for an immediate update but it’s on the radar.

[2021-10-29 18:51] #6650 closed

[2021-10-29 20:45] ms-jamesholt opened #6741 "Performance analyzer for Microsoft Defender Antivirus - Hangs using PS ISE"
found that if you run the command in a non ISE PowerShell window the command works as expected, BUT if you run it in PowerShell ISE it fails and hangs.

![image](https://user-images.githubusercontent.com/93407309/139499189-4e04fe22-8694-4419-9626-99006cceeaa4.png)

![image](https://user-images.githubusercontent.com/93407309/139499217-dc49a440-4a8d-495a-b2ab-ab79d828aa20.png)

---
#### Document Det

[2021-10-30 12:11] DarrenBennett opened #6744 "“Formally Intune”"
[Enter feedback here]

Why does this article state Endpoint Manager is “formally Intune”?

The Microsoft docs for Endpoint Manager clearly state Intune is a feature of Endpoint Manager. Endpoint Manager is not “formally Intune”, it’s a suite of solutions that include Intune.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2021-10-30 14:20] flavorlabadmin opened #6745 "Why not add a few examples?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd851389-130d-f800-f73d-b7561ccff612
* Version Independent ID: 58ee1cc9-d047-da22-0f56-865643d10d7c
* Content: [Use the command line to manage Microsoft Defender Antivirus](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/comm

[2021-11-01 02:18] sanand0 opened #6747 "Last successful sync at... not visible on Admin Center - Viva Learning settings"
On the Admin Settings, I don't see the "Last successful sync at ..." message. If there are any conditions under which it's displayed, or if it's an upcoming/retired feature, could you please document that?

This is what my screen looks like:
![image](https://user-images.githubusercontent.com/63734/139612398-cbb694ce-976c-4560-b35c-819b2a14e7f4.png)

---
#### Document Details

⚠ *Do not edit this s

[2021-11-01 11:09] Air-Git opened #6748 "Error for User"
This setting seems not to work in Intune: "./Vendor/MSFT/Policy/Config/Printers/EnableDeviceControlUser". It gives an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0131f7d-e811-d9bc-c372-c56b19b4a091
* Version Independent ID: 0fc6d8db-b125-3985-b9d7-c97587d4ebd2
* Content: [Microsoft Defender for Endpoint Devi

[2021-11-01 11:51] yogkumgit commented on #6729
@cmcatee-MSFT Please help us in resolving this issue. Thanks

[2021-11-01 11:52] yogkumgit commented on #6707
@chrfox Please help us in resolving this issue. Thanks

[2021-11-01 11:54] yogkumgit commented on #6678
@jmgriffee Please help us in resolving this issue. Thanks

[2021-11-01 11:58] yogkumgit commented on #6677
@ryeguy637 Hope this comment is helpful for you. If you see any other documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-01 11:58] #6677 closed

[2021-11-01 12:43] yogkumgit commented on #6730
@msbemba Thank you very much for the contribution and sharing this explanation. @idefy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-01 12:43] #6730 closed

[2021-11-01 12:46] yogkumgit commented on #6728
@msbemba Thank you very much for the contribution and sharing this explanation. @DontNeedNoGit Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-01 12:47] #6728 closed

[2021-11-01 12:53] yogkumgit commented on #6704
@msbemba  Thank you very much for the contribution and sharing this explanation. @dimmthewitted
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share t

[2021-11-01 12:53] #6704 closed

[2021-11-01 14:30] JGehl99 opened #6750 "InPrivate Window Shortcut Changed"
Keyboard shortcut to open InPrivate window in Edge has been changed to Ctrl+Shift+N instead of Ctrl+Shift+P, website has not been updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent ID: fa4bca98-3975-23dd-dfac-f23049c71d01
* Content: [Search the audit log i

[2021-11-01 15:02] jmgriffee commented on #6678
Hi. I think I found this issue in GitHub, but this is going to take some time to review. This is a massive list and I don't have all of the info requested. Is this blocking the push request I made for this morning? I need to get those out today and there's no way I can edit the template list per this request that soon.

Thanks,

  *   jenny

From: Yogesh Kumar ***@***.***>
Sent: Monday, November 1

[2021-11-01 15:17] jmgriffee commented on #6678
As it happens, I'm being asked to wait to push my other edits live, but my question still stands about the issue: is this going to block any other publishing requests? I'm going to need some time to review, and want to be sure this isn't a blocker for other day-to-day changes in the section. Thank you!

  *   jenny

From: Jenny Griffee (Robert Half International)
Sent: Monday, November 1, 2021 8:0

[2021-11-01 15:46] nanoonan538 commented on #6678
From my perspective this is simply a recommendation/enhancement on how to make this page more usable for our customers, as it can be difficult for them to find which assessments apply to them. There is not a specific blocker or other indicator of priority. It may just help customers more quickly find/use what is relevant to their programs.

[2021-11-01 15:57] jmgriffee commented on #6678
Okay, thank you. Sorry for my concern there -- this morning's been a bit of a fire drill. :) I'll review the issue in more detail and discuss it with the rest of the team.

[2021-11-01 15:58] bcihak opened #6751 "What Protocols can Access an In-Place Archive"
[Enter feedback here]
Can a section be added to clearly define what Clients and/or Protocols can access an In-place archive.  Would also like to know which Client/Protocols would allow access or even syncing of the In-Place Archive to occur if at all.

Also what are the security ramifications or risk to data if un an unauthorized user were to access an M365 account that had an In-Place Archive ena

[2021-11-01 17:29] markjjo commented on #6750
@JGehl99 Thanks for the heads up and the correct keyboard shortcut. I will update the article.

[2021-11-01 17:29] #6750 closed

[2021-11-01 18:22] cabailey commented on #6733
@quickclix75  Apologies the KB number got truncated - should be KB 4601382 and updated in the article now.  Thanks for flagging this.  Closing.

[2021-11-01 18:22] #6733 closed

[2021-11-01 18:26] MSFTTracyP commented on #6459
All right. This issue is resolved. Closing now. Thanks!

[2021-11-01 18:26] #6459 closed

[2021-11-01 21:15] bcihak opened #6754 "In-Place Archive Doc Request"
[Enter feedback here]
Can a section be added to clearly define what Clients and/or Protocols can access an In-place archive.  Would also like to know which Client/Protocols would allow access or even syncing of the In-Place Archive to occur if at all.

Also what are the security ramifications or risk to data if un an unauthorized user were to access an M365 account that had an In-Place Archive ena

[2021-11-01 21:16] bcihak commented on #6754
duplicate request

[2021-11-01 23:28] shanajira opened #6756 "How to use Email Related APIs"
Email related events are not query-able with API
is there a Limitation for programmatically extracting Email related events?

I tried polling the EDR endpoints for these events:

EmailAttachmentInfo
EmailEvents
EmailPostDeliveryEvents
EmailUrlInfo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2083c132-17ab-50a8-bbe2-0

[2021-11-02 00:41] shanajira commented on #6756
![emailimage](https://user-images.githubusercontent.com/67111632/139766979-a34e936d-dc7b-417f-b477-fcd941f8363f.jpg)

[2021-11-02 01:33] janeannilagan opened #6758 "Update replication time for Single Item Recovery"
PS C:\temp> Set-Mailbox $mbx -SingleItemRecoveryEnabled $false
WARNING: The single item recovery setting may take up to 240 minutes to take effect.

The documentation needs an update from 60 minutes to 240 minutes for proper expectation and change window.
Step 2 - Item 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a

[2021-11-02 03:40] yogkumgit commented on #6678
@jmgriffee When you complete the review and plan an update, please close this issue. Thanks

[2021-11-02 04:27] schmurky commented on #6756
Not sure if this is related but I see a public preview/prerelease note on the doc for EmailAttachmentInfo. Are you able to access the tables inside the product/not via API?

[2021-11-02 10:18] ahmetarslan2020 opened #6759 "How an Owner of the group can add/remove members from a Distiri"
[Enter feedback here]
I added a regular user to the owners of a distribution list. How owners of a distribution list can add/remove members from a distribution list?  Is this possible without giving access to Exchange admin center?

Please advice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ccf354ec-86a0-ab68-1403-b

[2021-11-02 14:52] Raj-MCITP opened #6761 "Block senders via AntiSpam Policy"
If the block list reached the 1000 limit on the Anti-Spam policy1, creating the new Anti-Spam policy and add the new block list for the same set of the Policy1 applied users.. will work right?

I have a new Anti-Spam Policy and configured few blocked senders list. Email from One blocked sender reached users mailbox. Searched, Junk email configuration, connection filtering Transport rules etc to fi

[2021-11-02 15:24] shanajira commented on #6756
@schmurky  Yes. I was able to login to EDR Console at security.microsoft.com and was able to write a small query and pull meta data on EmailAtttachmentInfo table.
no problems there.
Problem seems to be only in API way of extracting the these tables.
I tried via my Python application as well as using API explorer -both ways fails.
Error message in both cases are different though

[2021-11-02 16:04] angusmclean11 opened #6762 "Duplicate Paragraph"
The following paragraph is written twice:

If you are looking for a pre-made simulation, you can use our "Do It Yourself" attack scenarios. These scripts are safe, documented, and easy to use. These scenarios will reflect Defender for Endpoint capabilities and walk you through investigation experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-11-02 16:24] BlakeMsft opened #6763 "IOC import via csv is 500"
Need to add a Note section that states there is a 500 indicator limit in a csv file when importing.

![image](https://user-images.githubusercontent.com/93606977/139905175-c9530eb1-8a4d-4e5f-b402-922d68c6f5bc.png)

Thanks, Blakemo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03d3a25-4ee0-0c3a-4fde-c6f9ef7a3773
* Vers

[2021-11-02 16:37] chrisda commented on #6761
@Raj-MCITP, regarding your first question, you can create another anti-spam policy, but only one anti-spam policy (or any type of of policy) is applied to a user/recipient. After the first user/recipient match in the policy, processing stops for that type of policy (no other policies of that type are applied). For more information, see [Order and precedence of email protection](https://docs.micros

[2021-11-02 16:56] markjjo commented on #6758
@janeannilagan Thanks for the heads up. I confirmed as well and will update the doc. Thanks again!

[2021-11-02 16:56] #6758 closed

[2021-11-02 17:31] exactmike opened #6764 "Clarify the Limits for number of mailbox holds and site holds in a single case."
In regard to the maximum number of Mailboxes in a case hold, can the meaning be clarified further?  Specifically, if an Advanced eDiscovery user has more than 1000 custodians in a case can we understand that an additional case hold can be created in the same case for additional custodians over 1000?  If so, could the wording be changed to say:

"Maximum number of mailboxes in a single case hold. T

[2021-11-02 17:35] stlccjmixen commented on #6282
Wanted to bump this and see if any update was available?

[2021-11-02 17:44] exactmike opened #6765 "Hold experience clarification when importing more than 1000 custodians or 100 OneDrive for Business Sites"
In the first Note on this page the Note advises concerning the mailbox limit (1000) and site limit (100) per case hold and that a user can add more than 1000 custodians to a case using the CSV import process.  What it doesn't say is how the import will behave if importing more than 1000 custodians.  Can the note be extended to include this information?   For example, if the first 1000 will be plac

[2021-11-02 17:47] shanajira commented on #6756
@yogkumgit any ETA on fixing this issue?

[2021-11-02 18:13] markjjo commented on #6575
@Wh00T Thanks for reaching out. These other groups can be associated to a custodian in Advanced eDiscovery. So, if the group can be resolved (that is, displayed in the picker list ) it can be associated with the custodian. We will update the documentation.

[2021-11-02 18:13] #6575 closed

[2021-11-02 20:53] robmazz commented on #6710
@grabery - thanks for the feedback, this has been updated in the topic.

[2021-11-02 20:53] #6710 closed

[2021-11-02 21:41] LauraWi commented on #6369
@kelleyvice-msft  -- note related PR I just assigned to you.

[2021-11-03 02:40] zszabo2000 opened #6772 "Instructions under "Use Group Policy to configure folder or file extension exclusions" lack clarity"
- This feedback is regarding the information contained here: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus?view=o365-worldwide
- Step 4.d begins with "If you are specifying a file..." and ends with "Enter 0 in the Value column." Since this step begins with a conditional, it is not clear whether '0' is to b

[2021-11-03 04:28] Raj-MCITP commented on #6761
Hi Chris, I understood how this works now. Thank you very much for the detailed explanation.

[2021-11-03 04:28] #6761 closed

[2021-11-03 06:50] toggenation opened #6774 "Run Tests: DKIM button lead nowhere useful"
There is a button on this document labelled "Run Tests: DKIM" which point to https://aka.ms/diagdkim when I click and log into my tenant It places "Diag: DKIM" in a field under "How can we help?" heading on a pane to the right and then returns "no solutions found"

Button goes no-where useful. Would be better if it lead to an actual DKIM setup testing form.

---
#### Document Details

⚠ *Do not ed

[2021-11-03 07:55] yogkumgit commented on #6756
@schmurky Thank you very much for the contribution and sharing this explanation. @shanajira Hope this comment is helpful for you. Here, we are limited to documentation changes only. If you see a documentation update is required, please feel free to open an issue for the same else contact support. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encoura

[2021-11-03 08:08] yogkumgit commented on #6282
@Dansimp Gentle reminder

[2021-11-03 08:25] yogkumgit commented on #6568
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rsoakford Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-03 08:25] #6568 closed

[2021-11-03 09:37] mshalev commented on #6756
@shanajira - Email events are part of Microsoft 365 Defender - you are calling the Microsoft Defender for Endpoint endpoint (//api.securitycenter.windows.com/) instead of the M365 Defender endpoint (//api.security.microsfot.com/).
See [Microsoft 365 Defender Advanced Hunting API](https://docs.microsoft.com/en-us/microsoft-365/security/defender/api-advanced-hunting?view=o365-worldwide#:~:text=Advan

[2021-11-03 09:44] schmurky commented on #6756
Hi @yogkumgit perhaps we can remove the doc-enhancement label as the issue doesn't seem to be in need of a doc update. Thank you!

[2021-11-03 09:45] #6756 closed

[2021-11-03 10:41] harshdamaniahd commented on #6470
any update on this

[2021-11-03 12:55] ildjarnisdead opened #6780 "Documentation error: app registrations should be Enterprise applications"
Looks like there's a small error in the documentation:

Prepare the target (destination) tenant by creating the migration application and secret
3. On the left navigation bar, select App registrations.
4. Select New application
5. Select Create your own application

New application / Create your own application is part of Enterprise Applications, not of 'App registrations'.

---
#### Document Deta

[2021-11-03 14:14] mapoitras opened #6781 "Could you expand on data collected from an end user's privacy perspective."
Wondering if you could expand on what data is collected by Defender for endpoint.  For example, when you say "Information collected includes file data (such as file names, sizes, and hashes)"  Does this mean it collects the name of all the files on a user's laptop.  What happens when this is a personal device that is enrolled using Intune and Defender is pushed to this personal device.  What perso

[2021-11-03 14:22] KieryBUK opened #6782 "Defender AV randomisation time incorrect"
Incorrect value in table "Group Policy settings for scheduling scans"

"In Microsoft Defender Antivirus, randomize the start time of the scan to any interval from 0 to 4 hours."

should read

"In Microsoft Defender Antivirus, randomize the start time of the scan to any interval from 0 to 23 hours."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-11-03 15:37] jreyes4949 opened #6783 "Retention policy known configuration issues question"
https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide#known-configuration-issues

Does this mean that selecting "last modified" does not work at all or does this only relate to edited exchange messages? I read that sentence to mean "last modified" does not work even though it is an option. if it doesn't work at all, why is it an option?

[2021-11-03 15:43] mikerobyn opened #6784 "Where is Defender Security Center Dashboard""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52cf9eaa-c236-18f7-1a55-9707b953859c
* Version Independent ID: 59ee1886-914c-1d7d-ab5c-241efe9e2724
* Content: [Microsoft Defender Security Center Security operations dashboard](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint

[2021-11-03 15:43] #6784 closed

[2021-11-03 15:49] mikerobyn opened #6785 "Cannot find SecOps Dashboard in Defender (as described here)"
Is the "Defender Security Center Dashboard" still current? Cannot find in security.microsoft.com Portal.
In my opinion, URLs of the respective Portals described in MS Docs should always be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a541e5c3-8a8d-d766-918e-f53091e32294
* Version Independent ID: 44e9ef9e-1355-

[2021-11-03 16:04] ChrisAtMAF opened #6786 "Is second 'Windows "temp.edb" files entry correct?"
Hi,

Under the first section, 'Windows "temp.edb" files', the second entry is:

`%ProgramData%\Microsoft\Search\Data\Applications\Windows\*\*.log`

Based on the section heading, this seems incorrect. I can't find any *.log files in this entry. I can't even find 'temp.edb'. However I can find 'Windows.edb'. Which files does Defender exclude?

---
#### Document Details

⚠ *Do not edit this section.

[2021-11-03 16:26] ChrisAtMAF opened #6787 "Is '%systemroot%\System32\dfsr.exe' entry correct?"
Hi,

Under the section 'Process exclusions', is the following entry correct?

`%systemroot%\System32\dfsr.exe`

I do not believe this is a Windows system file. Is it referring to `%systemroot%\System32\dfssvc.exe` instead?

Many thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1664d524-cf0b-a4d4-695a-114f5df1d33e

[2021-11-03 16:26] daisyfell commented on #6747
@sanand0 I'm checking with the team to confirm and will adjust the documentation accordingly. Thanks for bringing this to my attention!

[2021-11-03 16:54] kelleyvice-msft commented on #6369
Merged. I will make sure the related .p7b file is updated to match both this topic and the DoD topic.

[2021-11-03 16:54] #6369 closed

[2021-11-03 19:19] StuBeck32 opened #6788 "Missing steps in Endpoint section"
Between the following two steps, selecting platform and profile type is missing to see Endpoint Protection.

Go to Devices > Configuration profiles > Create profile.

In the Create a profile flyout, select Endpoint protection from the list of templates, and then select Create.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-11-03 19:45] rushifaldu opened #6789 "Update this page"
Can we please update this page as it is referring to old classic AIP portal and some old UI from MDE settings as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dfe25bce-8af4-4326-f256-aa287b4c40df
* Version Independent ID: 3b6435b3-eba4-bb45-99b5-806b52bb4fe3
* Content: [Information protection in Windows overview

[2021-11-03 21:32] msbemba commented on #6673
@quickclix75 Thank you for your feedback. I can confirm that the missing reference numbers are  Windows 10 2004 - KB4568831, KB4577063. This has been updated in https://docs.microsoft.com/en-us/microsoft-365/compliance/endpoint-dlp-getting-started?view=o365-worldwide.

Do you see any other document which is missing this information?

Thanks
Sri

[2021-11-03 21:35] msbemba commented on #6738
@huntjr1 Thank you for your feedback. This looks like a bug on the tenant as I'm not able to reproduce this issue. We recommend you to contact Microsoft support via the need help section on the admin center to report this issue and have them fix.

Hope this helps!

Thanks
Sri

[2021-11-03 22:59] tanjoht commented on #6581
Hi @yogkumgit and @msbemba. Are EML and MSG format? We have an existing outlook addon that takes the email attachment (EML) and zips it up.

Then it sends the zip to phish@office365.microsoft.com but it does not appear to be getting processed and sent to our "Submissions" page in the Microsoft 365 Defender portal.

[2021-11-03 23:29] tanjoht opened #6793 "Third party reporting tools in compressed format"
Hi I have a third party reporting tool that compresses the EML into a zip file and then forwards the mail. Is there any way to have this show up in the User Submission page for our admins to review? Or will this format not be parsed properly? We aren't looking for MS defender to parse it or do any post processing - just want it to show up under user submission.

**The only requirement is that the

[2021-11-04 02:08] danmyhre opened #6794 "App Type in MEM Intune"
Why wouldn't you use the Microsoft 365 App type in Intune instead of a Win32 app?

There are also no details on the install process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2725620-2c67-d5a7-00d0-4fb297a9c16b
* Version Independent ID: 7585c72b-82c2-48aa-930f-f6111824f4bc
* Content: [Install Microsoft Project or

[2021-11-04 05:22] yogkumgit commented on #6756
@schmurky This for internal reporting purpose only. :)

[2021-11-04 08:07] schmurky commented on #6756
Got it! :)

[2021-11-04 08:42] quickclix75 commented on #6733
Thanks @cabailey I have advised our client as appropriate

[2021-11-04 09:08] srinivasa247 opened #6795 "one question is mentioned twice, with two slightly different answers."
The below FAQ is mentioned twice in the article.
"How long does it take to import a PST file to a mailbox?"

Answer1:
It depends on the capacity of your network, but it typically takes several hours for each terabyte (TB) of data to be uploaded to the Azure Storage area for your organization. After the PST files are copied to the Azure Storage area, a PST file is imported to a Microsoft 365 mailbo

[2021-11-04 09:16] CristianDEA opened #6796 "Broken link "Use mail flow rules to filter bulk email""
[Broken link]
In section "Define spam and bulk user experiences" you have broken link in "Use mail flow rules to filter bulk email.".

https://docs.microsoft.com/en-us/exchange/security-and-compliance/mail-flow-rules/use-rules-to-filter-bulk-mail.md

It works fine removing the .md at the end.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-11-04 09:38] srinivasa247 commented on #6795
The phrase "rate of at least 24 GB per day" in the second answer is not realistic. and the Answer1 is more realistic in describing the rate of data transfer

[2021-11-04 10:03] srinivasa247 commented on #6795
The phrase "rate of at least 24 GB per day" in the second answer is not realistic. and the Answer1 is more realistic in describing the rate of data transfer

[2021-11-04 15:44] jaimeo commented on #6794
@AlexBlain does this article need an update?

[2021-11-04 16:53] chrisda commented on #6796
@CristianDEA, fixed. In the future, you too can make fixes like this yourself; no need to open an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2021-11-04 16:53] #6796 closed

[2021-11-04 16:58] kwekuako commented on #6470
Hi @harshdamaniahd, can you give us some more context on this? What documentation is missing?

[2021-11-04 17:13] ckey1 opened #6799 "Quarantine release request alerts missing"
The section "System alerts for quarantine release requests" refers to alerts that do not exist. Perhaps because this feature is new and still rolling out, but there is not currently a default alert policy called "User requested to release a quarantined message".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf5c5df-c

[2021-11-04 17:33] chrisda commented on #6799
@ckey1, just like you said, the feature is new and still rolling out (as indicated at the very top of the topic).

Out of curiosity, do you have quarantine policies, but not the "User requested to release a quarantined message" alert policy? Or do you have neither?

The E5 tenant that I have access to has both.

[2021-11-04 17:41] ckey1 commented on #6799
I have the new quarantine policy just rolled out to us yesterday. But no requested release alert policy. I've been eagerly waiting for this feature ever since it was announced many months ago.

When I tested it yesterday the "Request Release" button did not send me (Global Administrator) any alert or notification. It did change the message in quarantine to the new status of "Release requested".

U

[2021-11-04 18:03] chrisda commented on #6799
I would say give it a couple of days.

I know that _end-user spam notifiations_ (now called quarantine notifications) are disabled in the DefaultFullAccessPolicy that's basically used everywhere (except malware and high confidence phishing). It sounds like admin notifications are disabled, too.

Yes, but you would also need to create a new anti-spam, anti-malware, anti-phishing or whatever policy:

[2021-11-04 18:09] ckey1 commented on #6799
Since we had end-user notifications on, we don't use the DefaultFullAccessPolicy but instead use the NotificationEnabledPolicy. I configured the settings I wanted before the notification emails were sent last night so I was able to test. The notification emails were sent, but the Request Release button was not sending admin notifications. I'll give it a few more days.

Brilliant idea. Thanks!

Las

[2021-11-04 18:09] adettenb opened #6800 "Missing URLs"
I noticed a couple URLs that I see using my personal Microsoft account were missing.
For example:
* onedrive.live.com
* outlook.live.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP a

[2021-11-04 18:41] chrisda commented on #6799
I don't think so. Review is what takes you into quarantine.

[2021-11-04 18:56] ckey1 commented on #6799
Right, we want everything to be done through admin requests, with end users not accessing the quarantine at all.  That's how we have it set up currently (via a complex combination of redirect mail flow rules and VBA code). Can I submit this as a feature request to the development team?

Thanks again for all your help!

[2021-11-04 20:38] AlexBlain commented on #6794
@jaimeo no it does not need an update. MMD built custom Project and Visio Win32 app to improve the reliability of the deployment compared to the default Microsoft 365 app in Intune.

[2021-11-04 21:20] #6794 closed

[2021-11-04 22:06] kelleyvice-msft commented on #6800
@adettenb, thanks for reaching out. I believe this is by design, as the endpoints referenced in this topic are specific to M365 for enterprises for whom access to personal live.com features are likely not part of their network considerations. Certainly enterprises can choose to add these endpoints to their allow lists if they choose, but either way it will not impact their enterprise M365 features

[2021-11-04 22:06] #6800 closed

[2021-11-04 22:26] PaulRNewell opened #6802 "The "Action" parameter is required for New-ComplianceSecurityFilter"
Hi there,
Reviewing this article ([Configure permissions filtering for eDiscovery](https://docs.microsoft.com/en-us/microsoft-365/compliance/permissions-filtering-for-content-search)) I see that the instruction and example cmdlets are incomplete. The "Action" parameter is required. I'm recommending that the example cmdlets (and explanations) be updated to include that, for the sake of completeness

[2021-11-04 22:30] PaulRNewell opened #6803 "The "Action" parameter is required for New-ComplianceSecurityFilter (part 2)"
Hi there,
Reviewing this article ([Set up compliance boundaries for eDiscovery investigations](https://docs.microsoft.com/en-us/microsoft-365/compliance/set-up-compliance-boundaries)) I see that the instruction and example cmdlets are incomplete. The "Action" parameter is required. I'm recommending that the example cmdlets (and explanations) be updated to include that, for the sake of completeness

[2021-11-05 04:27] yogkumgit commented on #6723
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ferringer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-05 04:27] #6723 closed

[2021-11-05 05:25] msbemba commented on #6748
@Air-Git Thank you for your feedback. This seems to be working.

Hope you are using the setting

OMA-URI setting
Name: Provide a name for the OMA-URI setting to distinguish it from other similar settings
Description: (Optional) Provide a description for the OMA-URI setting to further differentiate settings
OMA-URI: Specify ./Vendor/MSFT/Policy/Config/Printers/EnableDeviceControl as value
Data type

[2021-11-05 05:58] msbemba commented on #6745
@flavorlabadmin Thank you for your feedback. The example on the document explains how to  the utility and perform a full scan

Example:
MpCmdRun.exe -Scan -ScanType 2

The commands and their description are mentioned in the document as well. let me know if you need more information.

Hope this helps!
Thanks
Sri

[2021-11-05 06:01] msbemba commented on #6744
@DarrenBennett Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6805

Thanks
Sri

[2021-11-05 06:06] DarrenBennett commented on #6744
@msbemba Thanks for the update of the document and for updating me.

[2021-11-05 06:11] msbemba commented on #6700
@import-au Thank you for your feedback. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6806

Once the author approves or adds new output to the PR, the document will be live.

Thanks
Sri

[2021-11-05 06:12] NiteshSharma2K19 opened #6807 "Hi Author,"
Hi Author,

We tested the send as an alias from Office 365 mailboxes and it works like charm but the problem now we are facing is that the Display Name on the recipient's side is only showing email address (alias) in place of Display Name. We have tested with multiple domains and users and OS, it seems to be only happening when we are using OWA, the desktop outlook seems to be working fine.

Pleas

[2021-11-05 06:16] msbemba commented on #6701
@WarrenTR65 Thank you for your feedback. The link is restored now. Could you please elaborate on which example is incorrect?

Thanks
Sri

[2021-11-05 06:23] msbemba commented on #6716
@blakebourgeois Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6808

Once the author approves, the document will be live.

Thanks
Sri

[2021-11-05 06:26] msbemba commented on #6717
@KENJISHIRAKI Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6809

Once the author approves, the document will be live.

Thanks
Sri

[2021-11-05 06:29] msbemba commented on #6741
@ms-jamesholt Thank you for your feedback. I'm able to reproduce the issue and this happens only on ISE. We handle the documentation part, so I'd recommend you report the issue as a bug to the Product group.

Hope this helps!

Thanks
Sri

[2021-11-05 06:34] msbemba commented on #6511
@Breid125 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6810

"Mark as and Notify" does not kick off any Phishing Zap or remediation. The reported message will be marked as either false positive or false negative, and an email will be automatically sent from within the portal notifying the user who reported the mes

[2021-11-05 06:36] Breid125 commented on #6511
Thank you so much!

And now the Review interface changed again! Can’t get ahead on these things lol.

-Brendan

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sriraman M S ***@***.***>
Sent: Thursday, November 4, 2021 11:34:17 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Brendan Reid ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/micro

[2021-11-05 07:54] Air-Git commented on #6748
Yes, the device setting works. The user setting does not.

The settings are unusual because normally a device setting would be: "./Device/Vendor..." and a user setting would be "./User/Vendor....". A setting like "./Vendor..." is interpreted as the default "./Device/Vendor..."

But in this case the "User" part has been added at the end. And it does not work.

[2021-11-05 08:28] Nosferatu-Dk opened #6811 "Bussines Premium Licens missing from requirements"
[Needs update with recent licens changes :)]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4b36b3a-e292-e035-ab94-895c56b46c76
* Version Independent ID: 2e02900f-f545-a199-8d1c-b6a7958ee1df
* Content: [Minimum requirements for Microsoft Defender for Endpoint](https://docs.microsoft.com/en-us/microsoft-365/security/de

[2021-11-05 14:37] frndlyy opened #6813 "Advanced Audit benefits for Stream, Teams, Yammer and Forms"
Hey folks,
The following services generate audit logs with basic audit. What special events, from these services, will we miss without Advanced Audit? Thanks

https://docs.microsoft.com/en-us/microsoft-365/compliance/advanced-audit?view=o365-worldwide#other-advanced-audit-events-in-microsoft-365

[2021-11-05 16:27] stanley-samuel opened #6814 "Mail flow report - noticed that the numbers in th report keeps changing"
I tried downloading the report for the same period (month of Oct) on different dates in Nov and I happen to get different numbers. Can you help us understand why we see this variance?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041a2c32-e0b9-77e9-766c-3b4f5b07ff3a
* Version Independent ID: 597960ea-f734-09c7-eea8-aa

[2021-11-05 16:52] mattdreher opened #6815 "Link Broken"
The link under "Use mail flow rules to set the SCL in messages." pointing to https://docs.microsoft.com/en-us/exchange/security-and-compliance/mail-flow-rules/use-rules-to-set-scl.md is a 404 page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17ce75e-79ba-0acd-066c-a0120a29d65d
* Version Independent ID: 14673b1c-848

[2021-11-05 17:05] chrisda commented on #6814
@stanley-samuel, it sounds like your issue would be best handled by opening a support ticket.

[2021-11-05 17:25] chrisda commented on #6815
@mattdreher, it was that extra '.md' at the end. I removed it.

Thanks for the feedback.

Closing

[2021-11-05 17:25] #6815 closed

[2021-11-05 18:15] davebirr opened #6816 "eDiscovery subscription comparison has incorrect minimum subscription requirements for Content search & Core eDiscovery"
https://docs.microsoft.com/en-us/microsoft-365/compliance/ediscovery?view=o365-worldwide#ediscovery-subscription-comparison

Microsoft 365 Business Premium also includes Content Search & Core eDiscovery

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562b6b1d-b0fd-0d65-9db8-37df67bd7035
* Version Independent ID: 92c4403

[2021-11-05 19:10] markjjo commented on #6795
@srinivasa247 Thanks for the feedback. I will update the drive shipping FAQ (the second answer).

[2021-11-05 19:10] #6795 closed

[2021-11-05 20:56] expta opened #6817 "Finish the sentence"
we created the policy named NotificationEnabledPolicy to use in place of DefaultFullAccessPolicy for those organizations that needed it (organizations where end-user spam notifications were turned **on**).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf5c5df-c3ab-8448-aef0-af05977db9b9
* Version Independent ID: adad

[2021-11-05 21:50] chrisda commented on #6817
@expta, fixed. In the future, your too can make updates like this directly to topics; no need to open a GitHub issue first. For instructions, go [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md).

Thanks for the feedback.

Closing

[2021-11-05 21:50] #6817 closed

[2021-11-05 21:55] gxtaillon opened #6818 "Windows Defender Event ID 1127 is not documented"
Event ID 1127 is not documented.

This seems to correspond to "Protected memory access blocked" in Protection History.

FYI - Windows Defender is triggering itself with this repeatedly (sometimes 5 times per hour).

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 102c5c34-0c04-cc14-8e9c-74ff42e1fdc2
* Version Ind

[2021-11-05 22:32] chrfox commented on #5342
keep this open I am tracking this here

[2021-11-05 22:56] jaredburnett opened #6819 "Cannot use Headers to designate an Internal Sender as a Safe Sender"
Hey Team,

Can we get the article update to denote that internal senders cannot be made Safe Senders via message flow/headers due to security concerns?
Obviously PowerShell would still work, but I had a Premier Support ticket go long due to this lack of information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900a9

[2021-11-06 01:22] chrisda commented on #6819
Removing support links (this repo is public).

[2021-11-06 02:23] danmyhre commented on #6794
@AlexBlain This sounds like it really needs to be brought up with the Intune team then. This sort of thing causes a lot of problems. Intune is the modern management platform that MSFT wants us using and that we have invested in. The native deployment in that tool should have been improved instead of building yet another way that office components are installed and managed. That increases complexit

[2021-11-06 12:13] dltmurphy opened #6820 "Compliance DLP Template - Inconsistent High Volume"
After my PR (#6725) was rejected that fixed the `Min` and `Max` count (assuming so MS can keep the credit of fixing?), the GDPR template is now inconsistent with the rest of the page. All of the `High Volume` templates have `Max count any` except for GDPR which has `Max count 500`

[2021-11-07 05:07] yogkumgit commented on #6820
@chrfox please help us in resolving this issue. Thanks

[2021-11-07 05:43] yogkumgit commented on #6662
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PortableTech Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-07 05:43] #6662 closed

[2021-11-07 13:34] msbemba commented on #6762
@angusmclean11 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6821

Thanks
Sri

[2021-11-07 13:46] msbemba commented on #6782
@KieryBUK Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6822

Thanks
Sri

[2021-11-07 21:55] Yuelin-Liang opened #6823 "Upgrade from Teams Exploratory Trial to Microsoft 365 Business Standard..."
Hi,
I am currently on a one year trial of Teams Exploratory. With this trial version I have stored data on OneDrive, set up domain and customised email address, and created Teams channels etc.
I will buy a product key of Microsoft 365 Business Standard from a Microsoft Partner Company. Given that I have already set up the Trial version, how should I activate the product key? Will I lose the set up

[2021-11-08 00:51] Grassyhopper commented on #6799
I also do not have the default alert policy.

[2021-11-08 13:05] msbemba commented on #6807
@NiteshSharma2K19 Thank you for your feedback. This sounds more like a support issue as it works in outlook. We recommend you contact Microsoft support via the need help link on the admin center.

Hope this helps!
Thanks
Sri

[2021-11-08 13:09] yogkumgit commented on #6818
@denisebmsft Please help us in resolving this issue. Thanks

[2021-11-08 13:11] msbemba commented on #6811
@Nosferatu-Dk Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6825

Thanks
Sri

[2021-11-08 13:12] yogkumgit commented on #6813
@markjjo Please help us in resolving this issue. Thanks

[2021-11-08 13:17] yogkumgit commented on #6783
@cabailey Please help us in resolving this issue. Thanks

[2021-11-08 13:17] msbemba commented on #6774
@toggenation Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6827

The correct link is  https://admin.microsoft.com/AdminPortal/?searchSolutions=DKIM#/homepage

Thanks
Sri

[2021-11-08 13:19] yogkumgit commented on #6781
@mjcaparas Please help us in resolving this issue. Thanks

[2021-11-08 13:22] msbemba commented on #6759
@ahmetarslan2020 Thank you for your feedback. Yes, Once the user is added as an owner, they can add and remove members to a group.

The owner needs to login to outlook web app (outlook.office365.com) and Select Settings Settings icon > Options > Groups > Distribution groups I own.

In the dialog box, select the group you want to edit. You can search for a group by typing all or part of its name in

[2021-11-08 14:34] daisyfell commented on #6747
@sanand0 and @yogkumgit This is a GA feature. You should be able to see this anytime after 1 November.

[2021-11-08 15:47] Fysiks97 opened #6828 "Missing description"
Hi,

I was redirected to this page via [Hybrid Identity Required Ports and Protocols](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/reference-connect-ports). I have a customer who requires URLs and IPs for whitelisting on their firewall. However, they requested a description of  what each URL/IP is used for, which the current document is missing. Also, this document does not clear

[2021-11-08 16:17] rhelanor opened #6829 "Quality Updates in the table - are we using 3 days not 7 days now?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63d4e59b-1326-1d3f-a3b0-40e3b9f5f7af
* Version Independent ID: 31fad9a8-65f2-cd7d-42f0-2252bb62d7ed
* Content: [How updates are handled in Microsoft Managed Desktop - Microsoft Managed Desktop](https://docs.microsoft.com/en-us/microsoft-365/managed-de

[2021-11-08 16:26] jaimeo commented on #6829
@sh783 can you review and update if needed?

[2021-11-08 16:36] msbemba commented on #6763
@BlakeMsft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6830

Thanks
Sri

[2021-11-08 16:41] msbemba commented on #6772
@zszabo2000 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6831

Thanks
Sri

[2021-11-08 16:48] cabailey commented on #6783
@jreyes4949  This option is not currently filtered out according to whether the location (or content) can support it or not.  Starting the retention period based on when the content is modified is supported for files with the SharePoint, OneDrive, and Microsoft 365 Groups locations.  More information: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-settings?view=o365-worldwide#

[2021-11-08 16:53] rcmpgi opened #6833 "Can you force the timer job to run?"
For example, can you use Start-ManagedFolderAssistant to make items in SubstrateHolds get purged sooner than 7 days?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147f081a-c235-3400-23c9-8b4de7c9bbbc
* Version Independent ID: 0d8958fb-247e-c05b-999e-3cbd93e943c9
* Content: [Learn about retention for Teams - Microsoft

[2021-11-08 17:31] jreyes4949 commented on #6783
Got it. So I guess my confusion is that while the comment does talk about exchange it doesn’t explicitly say this limitation only applies to Exchange. Thanks for the clarification.

Thanks,
José Reyes
Information Security

From: Carol Bailey ***@***.***>
Date: Monday, November 8, 2021 at 8:48 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Reyes, Jose ***@***.***>, Mention ***@***.***>
Su

[2021-11-08 18:10] markjjo commented on #6813
@frndlyy If you click on each of the links in the [Other Advanced Audit events](https://docs.microsoft.com/en-us/microsoft-365/compliance/advanced-audit?view=o365-worldwide#other-advanced-audit-events-in-microsoft-365) section, they will take you to a list of audited events for those services. Advanced Audit events are identified with an asterisk. Also, these events were highlighted in this Ignite

[2021-11-08 18:10] #6813 closed

[2021-11-08 18:25] AlexJerabek opened #6834 "Broken link to German M365 sign-in portal"
Under the [General information](https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/learn-about-office-365-germany?view=o365-germany#general-information) section of the article, the link given for the sign-in portal (https://portal.office.de) is not working. It links to an unsecure page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-11-08 18:37] chrisda commented on #6799
@Grassyhopper, I would wait a few days. 100% World Wide roll-out of quarantine polices was announced on Friday.

[2021-11-08 18:57] frndlyy commented on #6813
@markjjo That really helps, thank you. I'd recommend making that clear on the page too. Thanks again.

[2021-11-08 18:59] msbemba commented on #6786
@ChrisAtMAF Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6836

Once this is approved by the author, you will see the changes live.

Thanks
Sri

[2021-11-08 19:12] ckey1 commented on #6799
@chrisda can you please confirm that this alert will be available to our Microsoft 365 Business tenant? I hope that this isn't one of the "Enterprise" alerts that require an Enterprise license.

[2021-11-08 19:52] msbemba commented on #6788
@StuBeck32 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6837

Once the author approves the PR, the document will be live.

Thanks
Sri

[2021-11-08 20:04] msbemba commented on #6802
@PaulRNewell Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6838

Once the author approves the PR, the document will be live.

Thanks
Sri

[2021-11-08 20:16] msbemba commented on #6803
@PaulRNewell Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6839

Once the author approves, the changes will be live

Thanks
Sri

[2021-11-08 21:51] chrisda commented on #6799
@ckey1, @Grassyhopper, alert policies aren't my area, but the main [Alert policies topic](https://docs.microsoft.com/microsoft-365/compliance/alert-policies) says this near the top:

So, I guess you need Enterprise.

[2021-11-08 22:02] Grassyhopper commented on #6799
Alright so a Microsoft 365 E3 license should cover that then, hopefully the alert policy shows up soon! Thanks for your help @chrisda

[2021-11-08 22:38] DontNeedNoGit commented on #6604
I do think you should update the documentation with these three things as it relates to the Organization name:

1. After you rename the organization, there is a 24 hour delay before new clients signing into OneDrive will receive the new name. I assume the same for its update in other places, but didn't clarify that with MS support.
2. Currently logged in OneDrive clients will not be impacted, but

[2021-11-08 22:45] chrisda commented on #6819
@jaredburnett, OK. Fixed.

Thanks for the feedback.

Closing

[2021-11-08 22:45] #6819 closed

[2021-11-08 22:49] ckey1 commented on #6799
I saw that too but 365 Business does have access to many of those alerts including the default alert policy. So the documentation is likely not accurate. Since this alert is an integral part of the Quarantine workflow, I very much hope this will be released for Business as well.

I think I will submit feedback on that page asking to clarify which policies and alerts apply to 365 Business tenants.

[2021-11-09 00:28] chrisda commented on #6799
I'm told that if you see <https://quarantine.microsoft.com/quarantine>, you'll have the "User requested to release a quarantined message" alert policy.

I'm also told that it will take up to ~3 weeks from 10/31 (so ~11/21) for you to see the alert policy.

[2021-11-09 00:31] ckey1 commented on #6799
Sounds good, thanks for the update! I assume the link should say https://**security**.microsoft.com/quarantine

[2021-11-09 00:48] chrisda commented on #6799
Yes. Sorry, fixed.

[2021-11-09 01:42] dcaddick opened #6840 "link below "Next Steps" at bottom of page incorrect"
link below "Next Steps" at bottom of page incorrect

Currently shows:
Proceed to Phase 1: Setup.

Should read:
Proceed to Phase 1: Prepare

NOTE - link works correctly and proceed to 1:Prepare

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71fea5e3-4515-b0a0-2db7-94f320343509
* Version Independent ID: 71fea5e3-4515-b0a

[2021-11-09 05:11] ShawnHag opened #6841 "Comparing Secure Score with other organizations"
Hi, I have a quick question about the comparison feature of secure score.

As written in Docs, I rememeber being able to customize the comparison details by industry, company size, and so on.

However, the "Manage comparisons" tab dissapeared in my environment.
Is this just for my environment? Or is it going under some maintanece, updates, etc?

Heres a screenshot of my envrionment ↓
![image](http

[2021-11-09 05:36] #6747 closed

[2021-11-09 05:55] yogkumgit commented on #6783
@jreyes4949 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-11-09 05:55] #6783 closed

[2021-11-09 06:00] yogkumgit commented on #6799
@ckey1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-11-09 06:00] #6799 closed

[2021-11-09 06:17] yogkumgit commented on #6788
@denisebmsft Please merge this PR. Thanks

[2021-11-09 06:32] yogkumgit commented on #6814
@stanley-samuel Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We

[2021-11-09 06:32] #6814 closed

[2021-11-09 06:40] yogkumgit commented on #6701
@msbemba Thank you very much for the contribution and sharing this explanation. @WarrenTR65 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-09 06:40] #6701 closed

[2021-11-09 06:43] yogkumgit commented on #6673
@msbemba Thank you very much for the contribution and sharing this explanation. @quickclix75 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-09 06:43] #6673 closed

[2021-11-09 06:47] yogkumgit commented on #6748
@msbemba  Thank you very much for the contribution and sharing this explanation. @Air-Git
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the out

[2021-11-09 06:47] #6748 closed

[2021-11-09 06:51] #6745 closed

[2021-11-09 06:55] yogkumgit commented on #6741
@ms-jamesholt Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. If you would please open a service ticket the support engineers will be able to identify if there is a bug (highly likely) and escalate to the appropriate product team. We proceed here to close it. Thanks for taking ou

[2021-11-09 06:55] #6741 closed

[2021-11-09 06:58] yogkumgit commented on #6738
@msbemba Thank you very much for the contribution and sharing this explanation. @huntjr1
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2021-11-09 06:58] #6738 closed

[2021-11-09 07:02] yogkumgit commented on #6807
@msbemba  Thank you very much for the contribution and sharing this explanation. @NiteshSharma2K19
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can shar

[2021-11-09 07:03] #6807 closed

[2021-11-09 07:09] yogkumgit commented on #6759
@msbemba Thank you very much for the contribution and sharing this explanation. @ahmetarslan2020 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-09 07:09] #6759 closed

[2021-11-09 09:43] Nosferatu-Dk opened #6842 "Missing 2 options for licensing"
[The are 2 licensing options missing for the requirements part - The M365 E3 Combined with the Enterprise Mobility + Security E5. Or alternativly the M365 Bussines Premium - Source https://www.itpromentor.com/introducing-mdb/ ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4b36b3a-e292-e035-ab94-895c56b46c76
* Versio

[2021-11-09 10:26] ahmetarslan2020 commented on #6759
Thank you @msbemba and @yogkumgit! This was super helpful and quick.

[2021-11-09 14:18] dkotars opened #6844 "Conflicting information in documentation"
In this article you state:

But, in this artiicle:

<https://docs.microsoft.com/microsoft-365/security/office-365-security/anti-spam-message-headers>

It states:

Need clarity on MarkAsSpamBulkMail whether it sets SCL to 6 or 9.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed2861d-860e-5d27-9259-fb9db2187f4b
* Versi

[2021-11-09 14:53] virtualcomputerguy opened #6845 "New version yet?"
The old version expired on the 6th of November. Is there an update for the next release?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows 10 and Office 365 deployment lab kit - Microsoft 365 Enterprise]

[2021-11-09 14:55] virtualcomputerguy commented on #6845
Please use a broad bandwidth to download this content to enhance your downloading experience. Lab expires November 6, 2021. A new version will be published prior to expiration.

[2021-11-09 16:55] Technoman01 opened #6846 ""Onboarding is simple...""
How about a link to the downloads? That would be simple...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7f625c-f3ef-882d-231f-6fef18e14137
* Version Independent ID: 3f335d54-6d65-d49a-e517-2c3a9a95e44d
* Content: [Turn on Microsoft 365 Defender](https://docs.microsoft.com/en-us/microsoft-365/security/defender/m365d

[2021-11-09 17:08] npatellumeta opened #6847 "Requesting info for port and protocol"
For any CVE info that we get from this end point, how do we get port and protocol information related to CVEs? Do we not get any network vulnerabilities from this end point?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fde81ac4-accc-9a93-90fb-62bbe9a66326
* Version Independent ID: 130d79fe-73d0-14f6-3b44-e9cbae763837

[2021-11-09 17:12] chrisda commented on #6840
@dcaddick, fixed.

Thanks for the feedback.

Closing

[2021-11-09 17:12] #6840 closed

[2021-11-09 17:48] jrhi opened #6848 "Need to validate statements on fallback order"
there is conflicting info on line about fallback order.  This article says we go immediately to the next in fallback order if one source is not available.  Other docs and my understanding is that we only go to hte next in the list when signatures are considered "out of date."
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/manage-outdated-endpoints-microsoft-defender-anti

[2021-11-09 17:59] chrisda commented on #6844
@dkotars, based on a detailed email thread I found from last year (which resulted in the content you quoted in the anti-spam policies topic), I believe SCL=6 is correct. I changed the headers topic to match (SCL=6).

Thanks for the feedback.

Closing

[2021-11-09 17:59] #6844 closed

[2021-11-09 18:12] gkneale opened #6849 "Missing list of Bluetooth Apps"
The tooltips within "Add or edit unallowed Bluetooth apps" refer to this page, citing "When turned on, recommended Bluetooth apps will be included in the list by default.
Learn which apps are included​.". However, this page seems to be missing the list of apps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76da4eda-4c

[2021-11-09 18:32] TiloGit opened #6850 "option to use Email alias on new receiver"
Does the option with FW means we need to keep paying license for the former employee?

Can we add an email alias for the new target recipient?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2bdb60-b559-ddf3-0eec-be4943fc94fd
* Version Independent ID: 5b176c0f-6c35-a187-2ccb-53a23e154978
* Content: [Step 3 - Forward a

[2021-11-09 18:41] chrfox commented on #6820
Hi @dltmurphy
The max count of 500 is what is in the UI. I tried to edit your PR to make that change, but I did not have permissions to do so. The only option was to work your feedback in through a different PR so that everyone could benefit from it. I am grateful that you pointed this issue out and I was not trying to take credit away from you.
I'll look into all the max counts in the templates i

[2021-11-09 18:41] #6820 closed

[2021-11-09 20:05] rhelanor commented on #6829
I have checked and was seeing 0-0-0-3 referred to in a customer presentation - which I'm told is awaiting updating by marketing and should now reflect the 0-0-0-7...

Apologies for the confusion

From: sh783 ***@***.***>
Sent: 08 November 2021 18:33
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Rachael Helanor ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs

[2021-11-09 20:14] CAT-hs opened #6851 "Can MECM/SCCM manage Defender AV on Server 2012R2 after new unified solution install?"
Apologies if this is not the best place for this, but it is my first time providing feedback on any documentation and I'm not sure if this is the best place for this, but we are having difficulty and there didn't seem to be a better way to provide feedback on the documentation and get answers.

We have Server 2012R2 systems managed with SCEP, used the helper script with the new modern unified solu

[2021-11-09 20:15] cabailey commented on #6783
Yes, I'll look at updating the documentation for a clarification but the section you quoted was actually in the context of a retention policy for Teams (not Exchange) - where most customers expect this setting to work because you can edit a Teams message but it doesn't reset the retention period.  For retention policies for Exchange, the start of retention is when the message is sent (you can't ed

[2021-11-09 20:22] cabailey commented on #6833
@rcmpgi  After asking about this, I was told we don't recommend doing this. The system is already scheduled to run the assistant daily and when it takes more than a day, it's because more important operations (like sending and receiving email) are working on the mailbox or it could be busy. Manually running the assistant to run will cause the system to try to override this and could overwhelm the

[2021-11-09 20:43] rcmpgi commented on #6833
Ok thanks for the info. Was just wondering how long it'd take to remove >6000 items from a SubstrateHolds folder now that there's no retention policy assigned to the user. There's zero holds of any sort and yet 48hrs later not a single item has been deleted. Maybe time for another support ticket?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________

Robin Clive-Matthew

[2021-11-09 21:39] cabailey commented on #6833
@rcmpgi  We can't offer technical support through this channel, so yes, I recommend you open a support ticket so they can look into this specific case for you.  Closing.

[2021-11-09 21:39] #6833 closed

[2021-11-09 21:49] dltmurphy commented on #6820
Hi @chrfox

`any` is a catch all which allows any max limit to be reached. Changing from `any` to `500` will mean if the volume limit is ever increased beyond 500, administrators who explicitly set `500` rather than `any` will have to update their policies to capture the higher volume alerts. It will increase the workload of administrators for something that can be avoided by keeping it as I had i

[2021-11-10 00:10] faboo opened #6854 "Includes instructions for retired EAC"
It looks like the portal instructions are for the old Exchange Admin Center, which has a banner stating "This feature has been retired." The retention policy creation process in the new Compliance Manager is quite different and it's not clear if/how policies made in the retired product carry over to the current one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-11-10 02:03] iovex opened #6855 "can not see office 2021 ltsc product key referring official documents"
https://docs.microsoft.com/en-us/microsoft-365/admin/setup/download-software-licenses-csp?view=o365-worldwide

I can not see my office 2021 LTSC product key which is from CSP program referring to this document ,why ?

[2021-11-10 09:07] davidkench opened #6857 "Error in text"
The section

Notify recipients when messages are quarantined as malware:

If you select this option, the message is quarantined with no notification to the intended recipients.

If you don't select this option, the message is quarantined. A copy of the message is delivered to the recipients, but all attachments (not just the detected ones) are replaced with a single text file named Malware Alert T

[2021-11-10 09:50] asdcristi opened #6858 "Dates on page are outdated - 2019-2020 - changes required"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87cb379c-82ae-0a6e-8dd5-0c41b09364ab
* Version Independent ID: a15c3919-e63e-f0dc-bd6b-45f311b387b5
* Content: [How to request your data move - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/request-your-data-move?

[2021-11-10 10:01] Princetimber opened #6859 "AH Query for SmartScreen is incorrect"
I noticed that the AH Query is incorrect on the last line

DeviceEvents 
| where ActionType == "SmartScreenUrlWarning"
| extend ParsedFields=parse_json(AdditionalFields)
| project DeviceName, ActionType, Timestamp, RemoteUrl, InitiatingProcessFileName, Experience=tostring(ParsedFields.Experience)
| where Experience == "CustomPolicy"
---

The correct parameter should be | where Experience == "Custo

[2021-11-10 11:39] OffColour opened #6860 "Feedback on product doesn't work"
The Feedback on product link just goes to the help page for the Feeback Hub and Feeback hub is for issues with Windows.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 714cac5e-2051-7334-99d1-ea81e4a81442
* Version Independent ID: da7969b7-bf27-c829-a9e6-2dca090a5ce0
* Content: [Add SharePoint as a learning content sour

[2021-11-10 11:40] #6860 closed

[2021-11-10 11:55] yogkumgit commented on #6780
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ildjarnisdead Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-10 11:55] #6780 closed

[2021-11-10 12:01] yogkumgit commented on #6816
@yogkumgit Thank you very much for the contribution and updating the documentation with PR. @davebirr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-10 12:02] #6816 closed

[2021-11-10 14:40] yogkumgit commented on #5805
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-10 14:41] #5805 closed

[2021-11-10 14:50] annerajb opened #6861 "apt-key deprecated and debian list file should use `signed-by`"
The documents still suggest using apt-key which has been deprecated for security reasons.
https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html

the repo .list file should use the signed-by notation to reference the dearmor microsoft asc / gpg key.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba

[2021-11-10 16:14] CAT-hs commented on #6851
Update: The first time we installed the defender package we did not reboot after it completed, and SCEP reinstalled during the maintenance window that evening and broke Defender AV. We set the "install endpoint protection client" back to Yes, uninstalled everything from that first system, then went through the install process for Defender again and rebooted, and during the maintenance window SCEP

[2021-11-10 17:31] chrisda commented on #6307
@CitizenSnipsX, I tested and confirmed that the toggle is not available if you selected **Malware attachment** or **Link in attachment** on the **Select technique** page, but is available for everything else. I added the following text to the description:

[2021-11-10 17:57] kelleyvice-msft commented on #3541
Fixed broken link in PR #11478. The other items in this issue appear to have been resolved by other writers since this issue was created.

[2021-11-10 17:57] #3541 closed

[2021-11-10 18:12] chrisda commented on #6857
@davidkench, thanks for the correction. The issue that's a bit strange is the "notification" isn't really a notification in the traditional sense (for example, a separate email message that states, "you received a message that has been quarantined"). Instead, it's the delivery of a copy of original message, but with all attachments stripped out and replaced by a notification text file.

The quaran

[2021-11-10 18:31] kelleyvice-msft commented on #3815
Checking this with the PG.

[2021-11-10 18:52] kelleyvice-msft commented on #3961
The line referenced (7) explicitly states that it only applies to inbound traffic from the service to the on-premises Exchange server. It is correct as is. Also, the requirement for outbound 443 is not covered in this topic; it is not an exception, but applies to every organization. Closing the issue.

[2021-11-10 18:52] #3961 closed

[2021-11-10 18:57] kelleyvice-msft commented on #3999
Issue resolved by another writer 2 months ago, updated guidance specifies that it is possible and links to relevant content. Closing.

[2021-11-10 18:57] #3999 closed

[2021-11-10 18:59] markjjo commented on #6854
@faboo First, if you're having issues with the procedures in this topic, please contact Microsoft Support. That said, I'm pretty sure the classic version of the EAC is still available to use to implement the solution outlined in this topic. The underlying PowerShell cmdlets are still available. So suggest you continue to use the classic EAC. I can't explain why the new EAC doesn't let you manage E

[2021-11-10 18:59] #6854 closed

[2021-11-10 19:18] kelleyvice-msft commented on #4091
Checking with the PG.

[2021-11-10 19:28] kelleyvice-msft commented on #4189
@ivanmaria, sorry for the delay; I've been on a leave of absence since March. I'm sure you've figured out how to resolve your issue by now, but if not, here's some information that should help.

The article you reference only contains endpoints that are not already provided by the IP and URL web service. To get the most current list of endpoints you'll need to add to your allow list, you can eithe

[2021-11-10 19:28] #4189 closed

[2021-11-10 20:17] msbemba commented on #6793
@tanjoht Thank you for your feedback. Ideally, this should show up on the user submission page for review. However, this falls under our support request category and we request you to get in touch with Microsoft Support via the need help section on the admin center.

Post contacting Support, If there are any changes needed in the document do let us know.

Hope this helps!
Thanks
Sri

[2021-11-10 23:19] #6793 closed

[2021-11-11 04:12] davidkench commented on #6857
Hi Chris,

Thanks very much.  That's very helpful to understand that they are different and separate notifications.

Kind regards,

David Kench
M365 Engineer | Intelligent Workspace

501 Ann Street, Fortitude Valley, QLD 4006, Australia
Email: ***@***.******@***.***> | Mobile: +61 435 160 796
www.datacom.com.au<http://www.datacom.com.au/>

***@***.***

From: Chris Davis ***@***.***>
Sent: Thursday

[2021-11-11 10:57] over2under3 opened #6866 "Dead Link"
[Enter feedback here]

Hello...

The link for download ".NET Framework 3.5.1 (KB315418)" shows a 404 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d3985e3b-6df1-892c-be7c-8b1f079b4053
* Version Independent ID: 61fee405-9ccd-cf53-4aa1-4c5e98f09cf7
* Content: [Onboard previous versions of Windows on Microsoft Def

[2021-11-11 11:03] quekmc opened #6867 "Old Product name used in video image."
This video
![image](https://user-images.githubusercontent.com/89065520/141287104-90f9fa8b-81bc-403a-ac97-759f92f063c0.png)
is still referring to the old product name in the slide still.  Check out 36 to 43 second of the video, the image still says Microsoft Defender Advanced Threat Protection.  It should be Microsoft Defender for Endpoint.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-11-11 12:09] joaogpinto opened #6868 "The documentation and procedure to Onboard windows server 2016 are not correct or up to date."
Hi
I'm João Pinto a Support Engineer from Microsoft Defender for Endpoint team and spotted some incorrect information.
The documentation and procedure to Onboard windows server 2016 are not correct or up to date.
It says to download the installation package, but for this type o OS the onboarding is by setting the OMS on the MMA by the Workspace ID adn Key, this is confusing the customer because on

[2021-11-11 13:21] yogkumgit commented on #6788
@msbemba Thank you very much for the contribution and updating the documentation with PR. @StuBeck32 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-11 13:21] #6788 closed

[2021-11-11 13:23] yogkumgit commented on #6786
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ChrisAtMAF Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-11 13:23] #6786 closed

[2021-11-11 13:26] yogkumgit commented on #6772
@msbemba Thank you very much for the contribution and updating the documentation with PR. @zszabo2000 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-11 13:26] #6772 closed

[2021-11-11 13:28] yogkumgit commented on #6782
@msbemba Thank you very much for the contribution and updating the documentation with PR. @KieryBUK Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-11 13:28] #6782 closed

[2021-11-11 13:31] yogkumgit commented on #6762
@msbemba Thank you very much for the contribution and updating the documentation with PR. @angusmclean11 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-11 13:31] #6762 closed

[2021-11-11 13:34] yogkumgit commented on #6744
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DarrenBennett Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-11 13:34] #6744 closed

[2021-11-11 13:37] #6307 closed

[2021-11-11 13:40] yogkumgit commented on #6857
@davidkench Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-11 13:41] #6857 closed

[2021-11-11 13:56] henricstromgren opened #6870 "Remove roles button not available"
[Enter feedback here]

Hi, there is no hint on what to do if the "remove roles" function is unavailable for a partner. I.e. the button does not exist.
Can you please add this information, thanks.

regards
Henric

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c01048d4-36ad-9241-10c7-dcab6dcc2d52
* Version Independent ID

[2021-11-11 13:57] yogkumgit commented on #6789
@msbemba

[2021-11-11 13:58] yogkumgit commented on #6787
@msbemba

[2021-11-11 13:58] yogkumgit commented on #6785
@msbemba

[2021-11-11 13:59] yogkumgit commented on #6765
@msbemba

[2021-11-11 13:59] yogkumgit commented on #6764
@msbemba

[2021-11-11 14:01] yogkumgit commented on #6602
@mjcaparas Please help us in resolving this issue. Thanks

[2021-11-11 14:34] aktifit opened #6871 "Preferences in Message Center missing"
I don't know if the guide is wrong/outdated or if it's a permission thing, but me and my colleague have access to the message center but the preferences button is missing. Can you update the guide to reflect this behavior?

![messagecenter](https://user-images.githubusercontent.com/26491534/141315758-c5f7dde4-d5c6-46db-805a-9178452a28b3.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do

[2021-11-11 14:34] robinpoulose1 opened #6872 "unable to delete policy created under communication compliance, stuck in deleting status"
[Communication compliance.docx](https://github.com/MicrosoftDocs/microsoft-365-docs/files/7521095/Communication.compliance.docx)

When trying to delete the policy it is stuck on deleting status. Tried on different browser chrome , edge but it is stuck on deleting status.
after page refresh it returns .

Any powershell command to delete the policy will be helpful.
attached screenhsot

[2021-11-11 14:36] robinpoulose1 commented on #6872
More About the Comm compliance portal:
https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/compliance/communication-compliance-policies.md

[2021-11-11 14:43] lightsabregl opened #6873 "Lab expired"
Hi
do you know when the deployment kit will be updated, as it expired on the 6th of Nov

Thanks

Gareth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows 10 and Office 365 deployment lab kit - Microsoft

[2021-11-11 15:59] RAJU2529 commented on #6415
@yogkumgit Please verify this PR #6874

[2021-11-11 17:09] jaredburnett opened #6875 "PowerShell errors when running Automate hash and upload script"
I am getting a series of PowerShell errors when trying to use the script provided in the "Automate hash and upload" steps. It seems that there is a series of unneeded backslashes in the script provided, my hunch being they were added by GitHub automatically.

![image](https://user-images.githubusercontent.com/76020255/141339873-c015a7ae-efea-44e6-ba75-637f4c790b5f.png)

---
#### Document Details

[2021-11-11 17:22] chrisda commented on #6857
And just to be clear, my updated description is accurate as of now. It's always possible that the current malware "notification" method of delivering the message with stripped out attachments will be removed in favor of quarantine policy notifications only. If/when that happens, we'll update the documentation again (that would involve lots of settings removal in the UI).

[2021-11-11 17:56] LauraWi commented on #4735
Platform team has declined to fix.

[2021-11-11 17:56] #4735 closed

[2021-11-11 19:22] cablechewer opened #6880 "List of Attributes or properties supported is incomplete"
The list of properties supported in a filter currently shows:
First Name
Last name
Display name
Job title
Department
Office
Street address
City
State or province
Postal code
Country or region
Email addresses
Alias
Exchange custom attributes: CustomAttribute1 - CustomAttribute15

However this is out of sync with Microsoft's presentation located here:
https://mipc.eventbuilder.com/event/52683/occurr

[2021-11-11 19:57] annferre opened #6881 "Microsoft 365 Compliance Licensing Comparison XLS"
Hi there, the Microsoft 365 Compliance Licensing Comparison sheet is out of date. Can you replace with https://aka.ms/M365EnterprisePlans. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8eca8dc5-c382-f624-7d0c-affe1c864744
* Version Independent ID: 076f6f2e-559f-386e-6d49-490c4121b45f
* Content: [Microsoft 365

[2021-11-11 20:03] markjjo commented on #6881
@annferre Will do. Thanks for heads up. In the future, you can update the article directly with these type of changes. Here's how: https://review.docs.microsoft.com/en-us/office-authoring-guide/contribute-get-started-setup-quick-update?branch=master

[2021-11-11 20:03] #6881 closed

[2021-11-11 20:04] cabailey commented on #6880
@cablechewer Thank you for your feedback.  Since you are a Microsoft employee, you can always contact me directly through internal channels.  I don't see Company listed as a selectable attribute in the simple query builder, so I will ask about this. We don't currently have documentation for a full list of properties for KQL queries, although this has been requested.

[2021-11-11 23:15] dimachernov opened #6885 "Add app launcher tiles to the navigation bar"
The "Learn More" link under Next Steps doesn't have details on how to add app launcher tiles to the navigation bar.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9488caf7-b791-3002-8749-7fdc4b2ec8b3
* Version Independent ID: 08e61eb0-7bcd-f449-46ef-17e209138a8e
* Content: [Add custom tiles to the app launcher - Micros

[2021-11-12 00:29] Miracle-bot-creator opened #6886 "useless"
[Enter feedback here]

this can't work if you have 2FA and lost it
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9fe16db-f502-6d93-8e0a-d4b892064416
* Version Independent ID: 1ecf27fd-ed6c-f387-b56a-80673117e480
* Content: [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?vie

[2021-11-12 05:30] emilyann211 opened #6888 "Feedack no problems"
Self explanation is great

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad5f5551-f0c1-823e-13aa-c91451036421
* Version Independent ID: 6fac8230-f342-df51-bc96-5bf820033697
* Content: [How to sign up - Admin Help - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/sign-up-for-offi

[2021-11-12 05:31] #6888 closed

[2021-11-12 11:29] FinnErpff opened #6889 "Book Meeting Rooms"
Hello,
we have the issue, that MS Bookings is lacking to provide a proper connection to resources, like a meeting room.
One of our cases is that the manual scheduling of product presentations should be made easier with bookings. Therefor we need the sales rep as a staff member and also a meeting room as the location for the booking. It is possible to link a meeting room in the location section, bu

[2021-11-12 12:20] msbemba commented on #6859
@Princetimber Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6890

Once the author approves, the document will be live.

Thanks
Sri

[2021-11-12 12:30] msbemba commented on #6855
@iovex  Thank you for your feedback. Office LTSC 2021 is available only via volume licensing, so it is not included in this article. We have an end to end deployment guide for LTSC 2021 which can be found here -  https://docs.microsoft.com/en-us/deployoffice/ltsc2021/overview

It includes deployment, update, and activation.

Hope this helps!

Thanks
Sri

[2021-11-12 12:33] msbemba commented on #6850
@TiloGit Thank you for your feedback.

You don't need to pay for the license as the mailbox would already be converted to a shared mailbox before you set up email forwarding (if you are following the article). You can also add it is an alias to the target recipient, however not when the account is active as a user or a shared mailbox. The email address or alias needs to be unique.

Hope this helps

[2021-11-12 12:38] ChrisAtMAF opened #6891 "Does not include enabling DisallowInfectedFileDownload parameter in SharePoint Online PowerShell"
Hi,

This document includes various recommended security settings for EOP and Defender for Office 365 - but it does not include the recommended action to run the Set-SPOTenant cmdlet with DisallowInfectedFileDownload parameter set to $true.

This is described as recommended for configuring 'Safe Attachments policies in Microsoft Defender for Office 365' here:

https://docs.microsoft.com/microsoft-

[2021-11-12 14:22] yogkumgit commented on #6886
@cmcatee-MSFT Please help us in resolving this issue. Thanks

[2021-11-12 14:24] yogkumgit commented on #6889
@FinnErpff Please indicate which document you are referring to. Thanks

[2021-11-12 14:35] FinnErpff commented on #6889
@yogkumgit Maybe I am too new to this platform, but how do you link this to a document and also where to find a document?

[2021-11-12 14:51] FinnErpff commented on #6889
@yogkumgit My request does not refer to any document. It is a customer request for a feature, to either:

Book a staff member and a resource together.

enable the setting, that multiple staff members are required for one booking.

This way a sales rep could be booked together with the meeting room that is required to perform his online product presentation.

[2021-11-12 15:20] msbemba commented on #6823
@Yuelin-Liang Thank you for your feedback. Ideally, when you replace a trail license with a Purchased one, the services are not impacted. However, I'd recommend you to contact Microsoft via the need help section to be sure that the services in the trial are covered in the new license that you are purchasing.

Hope this helps!

Thanks
Sri

[2021-11-12 15:22] msbemba commented on #6834
@AlexJerabek Thank you for your feedback. I'm able to repro the issue too.

@LoreenLa Could you please confirm if I can change this link to portal.office.com or Is this a known bug with portal.office.de?

CC: @yogkumgit

Thanks
Sri

[2021-11-12 17:02] kelleyvice-msft commented on #4242
Back from leave of absence. I'll look into this with the PG.

[2021-11-12 17:37] kelleyvice-msft commented on #4317
Looking into this.

[2021-11-12 17:47] LindaCicero opened #6895 "Placeholder text for ". add screenshot.""
Hello - if you search this page for ". add screenshot." you'll see that there's some placeholder text that was left behind.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46b5bfd1-3aea-0a87-1057-4e06a6fd4c00
* Version Independent ID: 46b5bfd1-3aea-0a87-1057-4e06a6fd4c00
* Content: [Learn about how to provide feedback t

[2021-11-12 22:48] chrisda commented on #6669
@langjtl, so it sounds like manually reporting messages by sending them to email addresses is effectively no longer supported. I removed the topic and any references to it, and redirected it to the main [Report messages and files to Microsoft](https://docs.microsoft.com/microsoft-365/security/office-365-security/report-junk-email-messages-to-microsoft).

Thanks for the feedback.

Closing

[2021-11-12 22:48] #6669 closed

[2021-11-12 23:05] chrisda commented on #6891
@ChrisAtMAF, interesting observation.  The intent of that topic is effectively to state our recommended Standard and Strict values for policies within Exchange Online Protection and Microsoft Defender for Office 365. The majority of the settings are also use by the Standard and Strict [preset security policies](https://docs.microsoft.com/microsoft-365/security/office-365-security/preset-security-p

[2021-11-12 23:05] #6891 closed

[2021-11-12 23:57] chrisda commented on #6427
@rodsmsft, fundamentally, "secure by default" means "regardless of configured overrides, high confidence phishing email is now always handled by the action for high confidence phishing verdict in anti-spam policies (Quarantine message or Redirect message to email address; Move message to Junk Email folder is no longer available)."

The "always quarantine malware" behavior is not new; you've never

[2021-11-13 00:04] chrisda commented on #6277
Fixed in msemba's PR.

Closing

[2021-11-13 00:04] #6277 closed

[2021-11-13 00:21] chrisda commented on #6661
OK. Done.

Thanks for the feedback.

Closing

[2021-11-13 00:21] #6661 closed

[2021-11-13 00:27] chrisda commented on #6613
msbemba's pull request contains the update.

Closing

[2021-11-13 00:27] #6613 closed

[2021-11-13 00:28] chrisda commented on #6291
@arhoads76, your best path forward is to open a support case.

[2021-11-13 00:39] chrisda commented on #5647
Topic updated, but in a different PR than msbemba's.

Thanks for the feedback.

Closing.

[2021-11-13 00:39] #5647 closed

[2021-11-13 07:40] msbemba commented on #6842
@Nosferatu-Dk Thank you for your feedback.We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6898

Once the author approves, the document will be live.

Thanks
Sri

[2021-11-13 07:50] msbemba commented on #6787
@ChrisAtMAF Thank you for your feedback. I believe the entry is correct.  Dfsr.exe runs the Distributed File System Replication program that replicates data across servers. This is used for synchronizing multiple devices connected over a network. This is a critical Windows component.

Hope this helps!

Thanks
Sri

[2021-11-14 06:42] yogkumgit commented on #6889
@FinnErpff Considering the nature of the issue, as observed, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation

[2021-11-14 06:42] #6889 closed

[2021-11-14 07:07] yogkumgit commented on #6291
@arhoads76 Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation w

[2021-11-14 07:08] #6291 closed

[2021-11-14 07:17] yogkumgit commented on #6787
@msbemba Thank you very much for the contribution and sharing this explanation. @ChrisAtMAF Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-14 07:18] #6787 closed

[2021-11-14 07:25] yogkumgit commented on #6858
@andybergen Please help us in resolving this issue. Thanks

[2021-11-14 07:28] yogkumgit commented on #6828
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2021-11-14 07:31] #6829 closed

[2021-11-14 07:33] yogkumgit commented on #6847
@DulceMontemayor Please help us in resolving this issue. Thanks

[2021-11-14 07:35] yogkumgit commented on #6848
@denisebmsft Please help us in resolving this issue. Thanks

[2021-11-14 07:39] yogkumgit commented on #6851
@mjcaparas Please help us in resolving this issue. Thanks

[2021-11-14 07:53] yogkumgit commented on #6764
@markjjo Please help us in resolving this issue. thanks

[2021-11-14 07:54] yogkumgit commented on #6765
@markjjo Please help us in resolving this issue. Thanks

[2021-11-14 08:00] yogkumgit commented on #6823
@msbemba  Thank you very much for the contribution and sharing this explanation. @Yuelin-Liang Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2021-11-14 08:00] #6823 closed

[2021-11-14 08:06] yogkumgit commented on #6834
@TinaMcN Please help us in resolving this issue. Thanks

[2021-11-14 08:24] yogkumgit commented on #6697
@msbemba

[2021-11-14 08:49] msbemba commented on #6866
@over2under3 Thank you for your feedback. The links are restored now, Please check again and let us know if you are still receiving a 404 error.

Thanks
Sri

[2021-11-14 09:16] msbemba commented on #6895
@LindaCicero Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6899

Thanks
Sri

[2021-11-14 09:26] msbemba commented on #6868
@joaogpinto Thank you for your feedback. I could locate the download installation package when selecting Server 2012 R2 and 2016.

![image](https://user-images.githubusercontent.com/45987684/141675233-71947e8b-820b-4b34-aa42-5e0d6a7b2780.png)

Let me know if you see that option.

Thanks
Sri

[2021-11-14 09:39] msbemba commented on #6697
@benpaul4u Thank you for your feedback. I'm currently working with the author to get more information on these statuses.

Thanks
Sri

[2021-11-14 09:40] msbemba commented on #6692
@THANAWIWAT Please let us know what is your feedback, regarding improving this documentation.

[2021-11-14 22:27] robmacf opened #6900 "SignInOptions in Office blocks modern authentication on Outlook"
The following item should be added to prerequisites.

When the SignInOptions setting in Microsoft Office is configured to its most restrictive setting, Outlook will be blocked from using modern authentication. When SignInOptions is set to its most restrictive setting, the error message described on the following page will be presented by Outlook after modern authentication is enabled: https://docs

[2021-11-14 23:45] TinaMcN commented on #6834
@yogkumgit this is an issue on the English page. @LoreenLa let me know if you need help finding someone knowledgeable about  Office 365 Germany and I can see if I can find someone in the German subsidiary.

[2021-11-15 05:44] yogkumgit commented on #6697
@mjcaparas Please help us in resolving this issue. Thanks

[2021-11-15 05:57] yogkumgit commented on #6834
@LoreenLa Kindly help. Thanks

[2021-11-15 11:13] CallumCrowley opened #6901 "Folder content types being pushed to lists"
**Issue**

SharePoint Syntex only distinguishes content types that need to be pushed to libraries and those that need to be pushed to lists by those content types derived from the "Document" content type. However, this means that content types derived from the "Folder" content type are pushed to lists. Users only use folder content types in document libraries, therefore this appears to be an overs

[2021-11-15 12:54] joaogpinto commented on #6868
Hi @msbemba  Thank you for your reply.
I understand that in some particular endpoints like test tenants this package still available there, but for Microsoft, customers don't.
As you can see in the print I provide in the beginning only have the Workspace Key and ID to onboard a device and it is by MMA.
So at least update the page, if there is another way to onboard a device please add those two op

[2021-11-15 13:33] MikePlumleyMSFT commented on #6901
@seansquires fyi

[2021-11-15 15:01] ShaXam-King opened #6903 "Broken link on this page"
Greetings!

This article has a broken link in this sentence "If you haven't already done so, integrate Microsoft Defender for Office 365 with Microsoft Defender for Endpoint.". The link there points to https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/integrate-office-365-ti-with-wdatp.

I get a 404 error when clicking that link.

Also, I searched for that term and got ba

[2021-11-15 15:10] nielsvdGH opened #6904 "Set behavior monitoring in Linux configuration file"
What is the correct key name to configure behavior monitoring through a configuration profile?
In the documentation the key is referred to as "name".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ef0d15-6735-bb94-0d86-d57ffbaa05f7
* Version Independent ID: 52e516b5-b365-4950-334a-c4797333093d
* Content: [Set prefere

[2021-11-15 15:41] CAT-hs commented on #6851
I just found the note in https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/server-migration?view=o365-worldwide which indicates that Configuration Manager 2111 is recommended with 2107 being the minimum required for using the Endpoint Protection node for configuration. We are currently on 2010 with an internal Change Request submitted to upgrade as soon as possible. Would i

[2021-11-15 16:38] cabailey commented on #6880
@cablechewer That presentation is for the advanced query builder, which explains why you don't see Company listed as an attribute for the simple builder query - it would be impractical to list every supported attribute in that table. I've clarified that the attributes in the table aren't exhaustive and link to the presentation if using the advanced query builder.

The feature is newly released in

[2021-11-15 16:38] #6880 closed

[2021-11-15 16:55] msbemba commented on #6872
@robinpoulose1 Thank you for your feedback. I was not able to repro the issue, Is it happening to all the policies? I'd recommend you to contact Microsoft support using the need help link on the admin center, to identify if this is an issue with your tenant or file a bug.

Hope this helps!

Thanks
Sri

[2021-11-15 17:01] msbemba commented on #6870
@henricstromgren Thank you for your feedback. Ideally you would be contacting support if the option does not show up, I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6905

Once the author approves, the document will be live.

Thanks
Sri

[2021-11-15 17:22] msbemba commented on #6871
@aktifit Thank you for your feedback. I have tested in multiple tenants across different regions and I'm able to view the "Preferences" option.

![image](https://user-images.githubusercontent.com/45987684/141825959-dbf97ad4-3f6d-424e-8d3d-6070cb645431.png)

Not sure, if it was a glitch while you submitted this feedback. If you continue to not see the preferences option, I'd recommend you to contac

[2021-11-15 17:38] msbemba commented on #6873
@lightsabregl Thank you for your feedback. I'm currently checking this with the author and will update you shortly.

Thanks
Sri

[2021-11-16 07:37] yogkumgit commented on #6859
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Princetimber Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-16 07:37] #6859 closed

[2021-11-16 11:06] msbemba commented on #6845
@virtualcomputerguy Thank you for your feedback. I'm currently checking with the team in the backend to update the new version.

Thanks
Sri

[2021-11-16 13:53] msbemba commented on #6785
@mikerobyn Thank you for your feedback. I was not able to locate the security operations dashboard as well. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6914

Once the author verifies and approves, the document will be live.

Thanks
Sri

[2021-11-16 13:54] EAWerner opened #6915 "Adding the Swedish Region in the list."
[Enter feedback here]
I'm sure it's in the works but it seems like it should be time to add details about the Swedish region here.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87cb379c-82ae-0a6e-8dd5-0c41b09364ab
* Version Independent ID: a15c3919-e63e-f0dc-bd6b-45f311b387b5
* Content: [How to request your data move -

[2021-11-16 14:08] aktifit commented on #6871
@msbemba
It seems there is an issue when accessing the Service Health page as a guest user, I can see that it appears if I log in as a regular admin that is homed in the same tenant. I'll open a support ticket, thanks for the hint though.

[2021-11-16 14:08] #6871 closed

[2021-11-16 14:25] msbemba commented on #6841
@ShawnHag Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6916 as the manage comparisons are no longer available to customize.

Once the author approves, the document will be live.

Thanks
Sri

[2021-11-16 14:47] msbemba commented on #6846
@Technoman01 Thank you for your feedback. The link to download the document is available on the bottom left. If you are referring to the onboarding package that is available in Microsoft defender for endpoint, that is here -https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/onboard-configure?view=o365-worldwide

Hope this helps!

Thanks

Sriraman

[2021-11-16 14:58] msbemba commented on #6849
@gkneale Thank you for your feedback. I'm trying to get more information from the team to update the document.

Thanks
Sri

[2021-11-16 15:02] msbemba commented on #6868
@joaogpinto I see what you are saying.

This document has a note stating the below

While this method of onboarding Windows Server 2012 R2 and Windows Server 2016 is in preview, you can choose to continue to use the previous onboarding method using Microsoft Monitoring Agent (MMA). For more information, see Install and configure endpoints using MMA - https://docs.microsoft.com/en-us/microsoft-365/

[2021-11-16 15:10] msbemba commented on #6885
@dimachernov Thank you for your feedback. I don't see the option to add it to the navigation bar exists anymore.  We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6917

Once the author verifies and approves, the document will be live.

Thanks
Sri

[2021-11-16 15:14] joaogpinto commented on #6868
Hi Sri

yes, that is great.
just have a note that the onboarding process can be done by MMA with the Workspace ID and Key from M365D or if available by downloading and installing the onboarding package.

Thanks.

[2021-11-16 15:15] DeanGross opened #6918 "Out of date"
Please provide information about the new features that have been added since July,  I am quite sure that there have been some ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a000fe-4f18-dae2-ae48-1ce63336e238
* Version Independent ID: 8e6afd9c-0d67-718a-e93b-b7e57f9b5b38
* Content: [What's new in Microsoft Secure S

[2021-11-16 15:43] msbemba commented on #6868
@joaogpinto That is correct. The note states the different options that are available

![image](https://user-images.githubusercontent.com/45987684/142017309-8f8a089e-cabe-4af9-8057-62af5971a839.png)

Thanks
Sri

[2021-11-16 16:19] andreasdeschka opened #6920 "Add session timeout for Office Mobile Apps for iOS and android devices"
In the current version there is just the session timeout for SharePoint and OneDrive listed for iOS.

It would be nice to add also "Office Mobile Apps".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e1c6c9c-c519-379c-80ef-fa562391bd45
* Version Independent ID: 4623f118-a29c-0a32-9f68-92f3c9f92546
* Content: [Session

[2021-11-16 16:59] mvdicecca112 opened #6921 "Registry key location for Network Protection Wrong"
[Enter feedback here]

Location of the registry key created is incorrect, it should be

HKLM\SOFTWARE\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection\

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 673970ca-2f79-a288-978c-ceb4845c5062
* Version Independent ID: 2a58449f-b0d4-bf17-1209-d7b8ec

[2021-11-16 22:01] ok2play opened #6922 "Hint, show us where things are in your documentation."
The biggest problem with Microsoft documentation is it seems we are expected to know where this shit is. Please point me in this page to where I find this Microsoft Defender Security Center Security operations dashboard.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52cf9eaa-c236-18f7-1a55-9707b

[2021-11-17 06:40] yogkumgit commented on #6875
@chrfox Please help us in resolving this issue. Thanks

[2021-11-17 06:44] yogkumgit commented on #6867
@mjcaparas Please help us in resolving this issue. Thanks

[2021-11-17 06:46] yogkumgit commented on #6861
@Dansimp Please help us in resolving this issue. Thanks

[2021-11-17 06:56] yogkumgit commented on #6866
@msbemba Thank you very much for the contribution and sharing this explanation. @over2under3 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-17 06:56] #6866 closed

[2021-11-17 07:14] yogkumgit commented on #6872
@msbemba  Thank you very much for the contribution and sharing this explanation. @robinpoulose1 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share t

[2021-11-17 07:14] #6872 closed

[2021-11-17 08:24] Nosferatu-Dk opened #6923 "Licensing requirement not correct"
[
![Licensing requirements](https://user-images.githubusercontent.com/39123128/142162653-2d66910a-f8fa-4f11-936b-792c151d4cf1.png)
The M365 E3 + EMS E5 Security Add on is missing as licensing option. Source here : https://docs.microsoft.com/en-us/microsoft-365/security/defender/prerequisites?view=o365-worldwide#licensing-requirements
And also listed here at Page 3 - https://aka.ms/M365EnterprisePl

[2021-11-17 14:21] chrcoluk commented on #592
I will be blunt, I think simply put the Microsoft filtering system is broken.  It is as simple as that.

There is a number of flaws I have identified.

1 - They wont provide technical information as to how the filtering got triggered, they probably do this as they believe they dont want to help spammers get round their systems, but the problem with this approach is that legitimate emails wont get

[2021-11-17 15:01] netaneladar opened #6926 "question about connection filter whiteliting"
Does the connection filter whitelist (by IP) also whitelist the anti-malware engine malware checks? or do whitelisted IPs in the connection filter only whitelist the reputation?

[2021-11-17 16:44] paulaustin-automutatio opened #6927 "ISO dates in search"
[Enter feedback here]
What formats are there for dates in the sent field.

Dates should be the ISO standard YYYY-MM-DD as it is non ambiguous. USA style dates MM/DD/YYYY are just confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e83b77e5-e3ec-6a5f-1f09-e232e2dda483
* Version Independent ID: 0b263c72-95a2-d111-2

[2021-11-17 17:08] chrisda commented on #6926
@netaneladar, any sort of whitelisting in Office 365 (see [this topic](https://docs.microsoft.com/microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365), including connection filtering by IP, does not skip filtering for malware or (as of very recently) high confidence phishing messages from anti-spam policies.

[2021-11-17 18:24] kelleyvice-msft commented on #6369
Related PR merged and closed.

[2021-11-17 18:57] markjjo commented on #6927
@paulaustin-automutatio Thanks for feedback. I will update examples in this article to use YYYY-MM-DD format.

[2021-11-17 18:57] #6927 closed

[2021-11-17 19:56] n0nexistence opened #6932 "New changes appear to have flipped un-intended policies."
It appears that this change may have flipped our default policy from send emails to Junk instead to go to quarentine in our GCCH anti-spam policy. I know high-confidence spam is required now, but I didn't see anything about flipping the other values.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472b3a0c-7ad8-8245-9b5

[2021-11-17 20:47] seansquires commented on #6901
Thanks for the feedback, @CallumCrowley. Folder content types can be added to standard lists (noting that the option to add from the new item menu is off by default), but we are missing a check to prevent these from being added to event lists. Thank you for catching this. We are working on a code fix and will update the documentation accordingly.

[2021-11-17 22:06] bizdevguy opened #6935 "Can't save change in email mailbox permissions."
This page has no save button. The help topic says there is a save button.

![image](https://user-images.githubusercontent.com/10223197/142289991-374cd1df-89a0-4273-b711-88807e1d9c01.png)

[Enter feedback here]

Help
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b9d613a-f990-4045-f0d3-273ecc827db7
* Version Independent

[2021-11-18 06:37] deejerydoo opened #6936 "Suggestion for clarification"
It is unclear from this page as to what the difference is between "Send email from another user's mailbox" and "Send email on behalf of another user".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b9d613a-f990-4045-f0d3-273ecc827db7
* Version Independent ID: ef031919-5994-8d21-1f62-ee0db6f235b0
* Content: [Give mailb

[2021-11-18 09:07] martin-rojahn commented on #4539
Any progress on making this available for the new Security Portal?

[2021-11-18 09:32] yogkumgit commented on #6895
@msbemba Thank you very much for the contribution and updating the documentation with PR. @LindaCicero Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-18 09:32] #6895 closed

[2021-11-18 09:37] yogkumgit commented on #6774
@msbemba Thank you very much for the contribution and updating the documentation with PR. @toggenation Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-18 09:37] #6774 closed

[2021-11-18 09:41] yogkumgit commented on #6511
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Breid125 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-18 09:41] #6511 closed

[2021-11-18 09:45] yogkumgit commented on #6901
@CallumCrowley Hope this comment is helpful for you.  We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-18 09:45] #6901 closed

[2021-11-18 10:12] sbaron858 opened #6937 "מספר הטלפון שאתם מציגים לתמיכה בישראל (1800344179) איננו מחובר !!!"
מספר הטלפון שאתם מציגים לתמיכה בישראל (1800344179) איננו מחובר !!!

---
#### פרטי המסמך

⚠ *אין לערוך מקטע זה. פעולה זו נדרשת עבור קישור לנושאים ב- docs.microsoft.com ← GitHub.*

* ID: 88b50cb4-3243-6395-ee10-c60531d6b214
* Version Independent ID: 01e32c73-f641-ab7b-599d-f279a008a4ea
* Content: [Support information for Israel - Microsoft 365 admin](https://docs.microsoft.com/he-il/microsoft-365/ad

[2021-11-18 10:21] CallumCrowley commented on #6901
Thanks for the quick response and resolution @seansquires :)

Also, thanks for the great work on SharePoint Syntex, some really useful new features!

[2021-11-18 13:14] netaneladar opened #6939 "Does it work on Office applications on Macs?"
The version requirement of 2004 or higher is for Windows.

My Macs are at version 16.55 - will they be supported with this feature?

[2021-11-18 13:31] yogkumgit commented on #6937
@sbaron858 What is your feedback to improve the documentation. Please share it in English. Thanks

[2021-11-18 13:33] yogkumgit commented on #6939
@netaneladar Which document you are referring to. What is your feedback to improve it. Thanks

[2021-11-18 13:56] msbemba commented on #6903
@ShaXam-King Thank yu for your feedback. we have fixed the broken link in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6940

Thanks
Sri

[2021-11-18 13:59] msbemba commented on #6904
@nielsvdGH Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6941

Thanks
Sri

[2021-11-18 14:20] netaneladar commented on #6939
"63773389-8a4f-926f-8430-8c80b19ff2da"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/safe-docs?view=o365-worldwide

[2021-11-18 18:56] bledMS82 opened #6943 "Add info about supported versions"
We need to add the following information about linux version support if we are following the same as windows platform N-2 . This should be noted in each Section related to MDE client platform ie MAC OS, Linux, Android IOS, etc.

Previous version updates: Technical upgrade support only
After a new package version is released, support for the previous two versions is reduced to technical support onl

[2021-11-18 20:32] jevreni opened #6944 "Please do not forget about the "New Exchange Admin version""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34c90550-34c3-c6de-81d4-6d85a8bc3f90
* Version Independent ID: 151fb754-7bea-f489-5115-e3551db0f303
* Content: [Step 5 - Wipe and block a former employee's mobile device - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/add-u

[2021-11-18 20:52] DulceMontemayor commented on #6847
@yogkumgit, i'll ask some of the PMs here to provide the reply, Thanks!

[2021-11-18 22:17] frankchen76 opened #6945 "the PS to apply label to SPO site used wrong cmdlet"
Hi for code sample below to apply label to all SPO sites, we should use Set-SPOSite instead of Set-SPOTenant.
$sites | ForEach-Object {**Set-SPOTenant** $_.url -SensitivityLabel $Id}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d40ac52-6f02-b0f3-0c45-9f359473703b
* Version Independent ID: 108355a9-05a3-4d17-c417-c4d

[2021-11-18 22:22] cabailey commented on #6945
@frankchen76  Why did you conclude that we should use Set-SPOSite instead of Set-SPOTenant - did you try as documented and it didn't work?  See similarly posted issue https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4611 and the response from the PM owner.

[2021-11-19 07:15] frankchen76 commented on #6945
that's interesting. When I looked at the PS, the script was trying to enumerate all site collections. $sites | ForEach-Object {Set-SPOTenant $_.url -SensitivityLabel $Id}. It looks like we need to use **Set-SPOSite** $.url -SensitivityLabel $Id to apply the label for each site instead of Set-SPOTenant. When I checked [Set-SPOTenant](https://docs.microsoft.com/en-us/powershell/module/sharepoint-onl

[2021-11-19 10:50] dan-snelson opened #6948 "Set up the Microsoft Defender for Endpoint on macOS policies in Jamf Pro: Step 2.2"
First, thank you for the detailed documentation.

For [Set up the Microsoft Defender for Endpoint on macOS policies in Jamf Pro: Step 2.2](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mac-jamfpro-policies?view=o365-worldwide#step-2-create-a-configuration-profile-in-jamf-pro-using-the-onboarding-package), please consider changing …

… to:

---
#### Document Details

⚠ *

[2021-11-19 10:57] dan-snelson opened #6949 "Set up the Microsoft Defender for Endpoint on macOS policies in Jamf Pro: Step 2.4"
The documentation for [Set up the Microsoft Defender for Endpoint on macOS policies in Jamf Pro, Step 2.4](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mac-jamfpro-policies?view=o365-worldwide#step-2-create-a-configuration-profile-in-jamf-pro-using-the-onboarding-package) is outdated when using Jamf Pro 10.33.0.

**Current:**
4. In **Application & Custom Settings** sel

[2021-11-19 11:03] zbraiterman opened #6950 "Capitalize the “y” in “you”, directly following “-“ in the 3rd item, “Choose the conditions that must be matched for a policy to be applied to an item” under “DLP policy configuration overview”."
This will improve upon grammatical consistency.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adedbe4e-fdfa-473e-6f55-4f0247658472
* Version Independent ID: ee52c4d5-6588-215c-ef92-035211cb302f
* Content: [Learn about data loss prevention - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compl

[2021-11-19 13:31] d3s3rtf0x opened #6951 "Compat issues? Or maybe lack of features"
[Enter feedback here]

I'm having some issues managing the VOIP for my company. With the recent move to force the Teams PowerShell connector I have found a sudden lack for certain features I have used with the Skype for business connector (LyncOnlineConnector). More specifically, I can't seem to find a way to do issue these cmdlets with the new connector.

Set-CsUser -identity {UserMail} -Enterpri

[2021-11-19 14:29] joshfolcik opened #6952 "inactive mailbox and archive"
The statement here, seems very vague and misleading:
https://docs.microsoft.com/en-us/microsoft-365/compliance/inactive-mailboxes-in-office-365?view=o365-worldwide#inactive-mailboxes-and-auto-expanding-archives

Because if I then read this, it looks like any worry I had reading the first part, is negated by the following which says the opposite, that an inactive mailbox with an online archive can

[2021-11-19 14:47] cj8686 opened #6953 "Order of policy precedence clarification"
https://docs.microsoft.com/microsoft-365/security/office-365-security/preset-security-policies#order-of-precedence-for-preset-security-policies-and-other-policies

in the above section the behaviour described is per-setting processing, i.e. all policies that are applicable to a given user are applied, in reverse order of precedence (much like windows group policy). the resulting set of policy will

[2021-11-19 17:13] ChrisAtMAF opened #6954 "'We don't recommend the built-in reporting experience in Outlook because it can't use the user submission policy. We recommend using the Report Message add-in or the Report Phishing add-in instead.'"
Under 'What do you need to know before you begin?' the following Information box appears:

'We don't recommend the built-in reporting experience in Outlook because it can't use the user submission policy. We recommend using the Report Message add-in or the Report Phishing add-in instead.'

Is it worth providing the following PowerShell for Set-OwaMailboxPolicy where the built-in experience can be

[2021-11-19 17:16] ChrisAtMAF opened #6955 "Disabling reporting in Outlook on the web"
Under the main heading there is the text with the link:

'If reporting has been **disabled in Outlook on the web**, enabling user reported messages here will override that setting and enable users to report messages in Outlook on the web again.'

However the link does not describe how to disable reporting in Outlook on the Web. I am not sure but this may be how you do it?

Set-OwaMailboxPolicy -Id

[2021-11-19 17:19] ChrisAtMAF opened #6956 "If you have disabled junk email reporting in Outlook on the web using Outlook on the web mailbox policies"
Again, there is a Caution text here with a link: 'If you have **disabled junk email reporting in Outlook on the web** using Outlook on the web mailbox policies, but you configured any of the previous settings to report messages to Microsoft, users will be able to report messages to Microsoft in Outlook on the web using the Report Message add-in or the Report Phishing add-in.'

But the linked page

[2021-11-19 17:21] ChrisAtMAF opened #6957 "Disabling built-in junk email reporting"
The important warning reads as follows:

'The built-in experience for reporting junk or phishing in Outlook can't use the user submission policy. We recommend using the Report Message add-in or the Report Phishing add-in instead.'

Is it worth providing the following PowerShell for Set-OwaMailboxPolicy where the built-in experience can be disabled?

Set-OwaMailboxPolicy -Identity OwaMailboxPolicy-

[2021-11-19 18:09] chrisda commented on #6953
@cj8686, you've touched on the current weakness of preset security policies: super-easy to configure, impossible to customize.

Sorry, that's incorrect. If you look at the example in the "order of precedence" topic, Policy A is applied, and Policy B is skipped. There is never a blending of policies of the same type. ALL settings in the first policy that hits (user is defined) are applied, and then

[2021-11-19 19:19] rebrec commented on #6873
also waiting for this Labkit👍

[2021-11-19 22:53] lightsabregl commented on #6873
I can see the page hasn't updated, but the download now has an expiry of Feb 2022 so I assume the lab ha been updated?

[2021-11-20 04:30] Lovygoogle opened #6960 "Liungle"
https://https://g.dev/Ira/liungle

[2021-11-21 06:37] yogkumgit commented on #6960
@Lovygoogle Which document you are referring to and what is your feedback. Thanks

[2021-11-21 06:41] yogkumgit commented on #6903
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ShaXam-King Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-21 06:42] #6903 closed

[2021-11-21 06:57] yogkumgit commented on #6926
@netaneladar  Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-21 06:57] #6926 closed

[2021-11-21 07:01] yogkumgit commented on #6922
@mjcaparas Please help us in resolving this issue. Thanks

[2021-11-21 07:04] yogkumgit commented on #6920
@MSFTTracyP Please help us in resolving this issue. Thanks

[2021-11-21 07:06] yogkumgit commented on #6918
@Dansimp Please help us in resolving this issue. Thanks

[2021-11-21 10:11] yogkumgit commented on #6868
@msbemba Thank you very much for the contribution and sharing this explanation. @joaogpinto Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-21 10:11] #6868 closed

[2021-11-21 10:29] yogkumgit commented on #6834
@LoreenLa Gentle reminder

[2021-11-21 10:34] yogkumgit commented on #6789
@mjcaparas Please help us in resolving this issue. Thanks

[2021-11-21 10:38] yogkumgit commented on #6845
@msbemba

[2021-11-21 10:39] yogkumgit commented on #6846
@msbemba Thank you very much for the contribution and sharing this explanation. @Technoman01 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-21 10:39] #6846 closed

[2021-11-21 10:43] netaneladar commented on #6939
is there an update on this?

Does the Safe Documents feature work on Office apps in Mac?

[2021-11-21 10:43] yogkumgit commented on #6849
@btbennett Email sent on 11-16-2021

[2021-11-21 10:44] yogkumgit commented on #6850
@msbemba Thank you very much for the contribution and sharing this explanation. @TiloGit Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-21 10:44] #6850 closed

[2021-11-21 10:49] yogkumgit commented on #6855
@msbemba Thank you very much for the contribution and sharing this explanation. @iovex Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-21 10:50] #6855 closed

[2021-11-21 10:54] Lovygoogle commented on #6960
يتم ترحيل المستندات تلقائيا

[2021-11-21 10:56] netaneladar commented on #6926
Thank you. I see in the article that you sent that "Messages that are identified as malware or high confidence phishing are always quarantined, regardless of the safe sender list option that you use."

This answers my question.

[2021-11-21 11:03] netaneladar commented on #6613
Thank you very much

[2021-11-21 11:22] netaneladar opened #6961 "How to make exceptions for 3rd-party mailbox email filtering solutions that DON'T require MX changes?"
The article addresses 3rd party vendors that MX record points to them (also known as SEG secure email gateway) and that secure by defaults does not apply to them...

But what about 3rd party filtering solution that don't work with MX (i.e. that. MX record still points to Office 365, but the emails are filtered via API, connectors, or journaling??? How do we whitelist them to skip the high-confiden

[2021-11-22 00:31] deejerydoo opened #6962 "Delegate access/permissions ambiguity..."
When setting these permissions in the MS 365 console, we are given the following three access permissions:
1. Read and manage permissions
2. Send as permissions
3. Send on behalf of permissions

Your article explains "Read" permissions but says nothing about what the "manage" part means in "Read and manage". If the permission goes so far as to explicitly state "read AND MANAGE" then why would you

[2021-11-22 00:44] Jlouden9 opened #6963 "Update required"
Hi,

Pretty sure this is just a doco that needs updating by the listed O\S under the sub section called Block executable content from email client and webmail are currently listed as

Windows 10, version 1709
Windows Server, version 1809
Windows Server 2019
Microsoft Endpoint Manager CB 1710
Windows Server 2016
Windows Server 2012 R2

Is Windows 11 included in this, and or later editions of Window

[2021-11-22 11:17] ErnieBot opened #6965 "Name difference between documentation and actual alert policy name."
In the ‘Alert policies in Microsoft 365’ documentation there is a reference to an alert policy named: “Email messages from a campaign were delivered and later removed”.
When looking at the alert policies & rules in Microsoft 365, there does not appear to be a match for this exact name. However, there does appear to be a similar named policy called: “Email messages from a campaign removed after del

[2021-11-22 14:26] DesertBear opened #6966 "Documentation Does Not Provide Any Information on "Protected Memory Access Blocked" / "Sector Write Block Event""
The documentation needs to be updated to provide information on the below Controlled Folder Access events, which can be found listed [HERE](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/event-views?view=o365-worldwide#list-of-attack-surface-reduction-events).

**Event ID 1127** - Blocked Controlled folder access _sector write block event_
**Event ID 1128** - Audited Con

[2021-11-22 15:01] #6960 closed

[2021-11-22 16:04] yogkumgit commented on #6937
@sbaron858 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-11-22 16:04] #6937 closed

[2021-11-22 16:08] annferre opened #6967 "Office for Germany has been deprecated"
Requested change:
Office 365 Endpoints for Germany - Remove Germany endpoints from traversing across our other clouds
When you access the Offce365 URL's and IP ranges, you are able to traverse across these endpoints for our different cloud options.  Please remove the "Office 365 endpoints for Germany - Microsoft 365 Enterprise"
The web page for URL and endpoints for MS at 21Vianet is available at

[2021-11-22 16:42] LoreenLa commented on #6834
Just remove the entire row with the sign-in link, please. As an FYI - I have not owned this article for several years.

[2021-11-22 16:56] msbemba commented on #6935
@bizdevguy Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6968

Thanks
Sri

[2021-11-22 17:19] annferre opened #6970 "Office 365 Germany has been deprecated"
Requested change:
Remove all sections related to "Migration from Microsoft Cloud Deutschland..."
The Office 365 Germany cloud has now been deprecated and all Office 365 Migrations have been completed.  Remove service description page "Migration from Microsoft Cloud Deutschland to Office 365 services in the new German datacenter regions" and it's sub pages:  What will change; Opt-In for Migration;

[2021-11-22 17:34] annferre opened #6971 "Office 365 Germany has been deprecated"
Note: adding "review" to the URL gave an error message.
Requested change: Please remove "Learn about Office 365 Germany" service description page as it's no longer valid. Link is:  https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/learn-about-office-365-germany?view=o365-germany
The entire page can be removed.
forward link to: https://aka.ms/germanymigrateassist.

---
#### Docume

[2021-11-22 17:52] annferre opened #6972 "Office 365 Germany has been deprecated"
Requested change:
Remove the "Get Support"  service description
This Get Support article is no longer required as the Office 365 Germany support group has been disbanded
forward link to: https://aka.ms/germanymigrateassist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c43de2b3-424b-47c1-15d9-726921cfdd26
* Version Ind

[2021-11-22 18:10] annferre opened #6973 "Office 365 Germany has been deprecated"
Requested change:
Within the Office 365 Germany Endpoints section.  There is an area where you can traverse between different cloud endpoints.  Please remove "Office 365 Germany"  from this endpoint list

forward link to: https://aka.ms/germanymigrateassist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c43de2b3-424b-4

[2021-11-22 18:18] annferre opened #6974 "Office 365 Germany has been deprecated"
Requested change:
Please remove this service description "Office 365 Germany endpoints"
This entire page needs to be removed as Black Forest has now been deprecated

forward link to: https://aka.ms/germanymigrateassist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c43de2b3-424b-47c1-15d9-726921cfdd26
* Version Indepe

[2021-11-22 18:42] mjcaparas commented on #6922
It's literally the landing page once you log into securitycenter.windows.com.

[2021-11-22 18:42] #6922 closed

[2021-11-22 18:57] itguysocal opened #6975 "Broken Link"
Under the "See Also" section at the bottom, this is a broken link:
Automated investigation and response in Microsoft 365 Defender

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54ebc792-00f8-b204-f5c1-579a037d2d06
* Version Independent ID: 53f7089f-6783-1866-d116-5f461c125fca
* Content: [Use automated investigations to

[2021-11-22 19:08] msbemba commented on #6936
@deejerydoo Thank you for your feedback.

Send as permissions: Your message will appear to have come from the user that granted you this permission.
Send on behalf of permissions: The "From" address in any message sent by you will indicate that the message was sent by you on behalf of the user that granted you this permission.

Hope this helps!

Thanks
Sri

[2021-11-22 20:09] mjcaparas commented on #6602
Thank you for the feedback. Currently not slated for immediate update but will add to radar for future update.

[2021-11-22 20:09] #6602 closed

[2021-11-22 20:09] cabailey commented on #6945
@frankchen76  We document "by design" and after it's tested/confirmed by engineering. What we document has support implications. If you can't get the documented command with Set-SPOTenant to work, you're guaranteed support from Microsoft - they will investigate and help you get it working, or report a bug to engineering to fix. If you use Set-SPOSite instead for this single command to apply a sens

[2021-11-22 21:47] SquirrelAssassin opened #6976 "Is the Example Incorrect?"
In your example you show https:\\support.microsoft.com/office .... should it be https://support.microsoft.com/office because we tried it as the example shows and it comes back as a invalid URL.

Could you also provide a example for a normal website or just null your url?  We are unsure if we need https://www.domain.com/something ... or www.domain.com/something ... or domain.com/something or if all

[2021-11-22 22:34] mjcaparas commented on #5832
The sheet was updated last September to address this.

[2021-11-22 22:34] #5832 closed

[2021-11-22 22:35] mjcaparas commented on #6007
Response from team:
- Yes
- Yes
- No need to turn on anything besides enabling network protection.

[2021-11-22 22:35] #6007 closed

[2021-11-22 22:36] Ryu-Syrius opened #6977 "Update Disconnect code"
I am fairly certain the Skype For Business modules is deprecated.

https://docs.microsoft.com/en-us/microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-powershell-window?view=o365-worldwide#close-the-powershell-window

You can remove `Remove-PSSession $sfboSession ; ` from the code block.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section.

[2021-11-22 22:37] mjcaparas commented on #6867
Will add in the radar for future updates.

[2021-11-22 22:37] #6867 closed

[2021-11-22 23:40] msbemba commented on #6923
@Nosferatu-Dk Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6978

We will add M365 business premium once it is available on the public preview.

Thanks
Sri

[2021-11-22 23:54] msbemba commented on #6948
@dan-snelson Thank you for the feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6979

Thanks
Sri

[2021-11-22 23:57] msbemba commented on #6949
@dan-snelson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6980

Thanks
Sri

[2021-11-22 23:59] msbemba commented on #6950
@zbraiterman Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6981

Thanks
Sri

[2021-11-23 00:18] msbemba commented on #6834
@LoreenLa  I have made the changes on PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6982

[2021-11-23 03:01] michaelhambe opened #6983 "Client configuration test fails"
Hi,

I've successfully installed mdatp on a Fedora 34 system.
However, step 5 of the client configuration states we should use curl to download a suspect file and check that Defender quarantines the file.

When I run "mdatp thread list" after downloading the file, I get "No threats"

mdatp health reports
healthy = true
licenced = true
real_time_protection_enabled = true
and my org_id is present

T

[2021-11-23 05:43] frankchen76 commented on #6945
@cabailey, thank you so much for your note. I'll close this issue and info my customer to use Set-SPOTenant to follow the document.

[2021-11-23 05:43] #6945 closed

[2021-11-23 06:10] yogkumgit commented on #6717
@msbemba Thank you very much for the contribution and updating the documentation with PR. @KENJISHIRAKI Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-23 06:10] #6717 closed

[2021-11-23 06:13] yogkumgit commented on #6811
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Nosferatu-Dk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-23 06:13] #6811 closed

[2021-11-23 06:18] yogkumgit commented on #6763
@msbemba Thank you very much for the contribution and updating the documentation with PR. @BlakeMsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-23 06:18] #6763 closed

[2021-11-23 06:24] yogkumgit commented on #6842
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Nosferatu-Dk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-23 06:24] #6842 closed

[2021-11-23 06:27] yogkumgit commented on #6785
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mikerobyn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-23 06:27] #6785 closed

[2021-11-23 08:40] ArttuArstila opened #6984 "Viva components missing"
Could you update this to include Viva compontents as it is now in GA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c6fa7b-7e9e-21a5-40da-adbd35040ec1
* Version Independent ID: 530df3b2-2048-8351-2f09-59e604aedf5b
* Content: [Microsoft 365 data locations - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/m

[2021-11-23 14:59] MattITMan opened #6985 "The 2 links that I needed from this page do not work"
One of the links gives a 404 error and the other just goes to a general Blog page and not the actual Blog that I need. They are in the paragraph shown below.

Other entitlements:

Microsoft 365 Business Premium customers also have access to Windows Virtual Desktop and Office Shared Computer Activation capabilities. Read the Microsoft 365 Business Premium blog to learn more. See also the Microsoft

[2021-11-23 15:07] ok2play commented on #6922
Mjcaparas, thank you for the literal link.

The link you provide just redirects to security.microsoft.com so not able to get to securitycenter.microsoft.com

And for those that don't know what securitycenter I'd please go to admin.microsoft.com and tell me where security center is? Oh, not a freaking thing on the page says security center.

[2021-11-23 15:33] ScottManning1 opened #6986 "incorrect example?"
Is this SharePoint example still accurate?  My understanding is that this behavior was changed so that it will no longer send the content to the preservation hold library.   Now the delete process is simply blocked by the retention policy & the content remains in place.  Same with other apps.

Retention wins over deletion. Content won't be permanently deleted when it also has retention settings to

[2021-11-23 17:27] cabailey commented on #6986
@ScottManning1  This is still the behavior for SharePoint retention policies.  I see you're a Microsoft employee - feel free to contact me using internal channels.

[2021-11-23 18:32] markjjo commented on #6965
@ErnieBot Thanks for the heads up. You're correct that this same alert policy has a new name. I will update the documentation with "Email messages from a campaign removed after delivery".

[2021-11-23 18:32] #6965 closed

[2021-11-23 19:53] kelleyvice-msft commented on #6977
Thanks, @Ryu-Syrius. I'll fix that.

[2021-11-23 20:20] kelleyvice-msft commented on #6977
Updated in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/11664.

[2021-11-23 20:20] #6977 closed

[2021-11-23 20:22] mjcaparas commented on #6789
This feature has been deprecated. Will deprecate page as well.

[2021-11-23 20:22] #6789 closed

[2021-11-23 20:31] kelleyvice-msft commented on #6974
@annferre, I will coordinate with the relevant PMs to roll all related work up, including updating the endpoints web service. This may take a few days.

[2021-11-23 21:20] annferre commented on #6974
Thanks! I'll really appreciate it!

[2021-11-23 21:32] tiburd commented on #6974
@kelleyvice-msft - can we close these issues so that our freelancers don't duplicate your work?

Thanks!

[2021-11-23 21:37] tiburd commented on #6974
@yogkumgit - this issue is being worked on internally; don't assign to a freelancer. Thanks!

[2021-11-23 21:37] tiburd commented on #6973
@yogkumgit - this issue is being worked on internally; don't assign to a freelancer. Thanks!

[2021-11-23 21:38] tiburd commented on #6972
@yogkumgit - this issue is being worked on internally; don't assign to a freelancer. Thanks!

[2021-11-23 21:39] tiburd commented on #6970
@yogkumgit - this issue is being worked on internally; don't assign to a freelancer. Thanks!

[2021-11-23 21:39] tiburd commented on #6967
@yogkumgit - this issue is being worked on internally; don't assign to a freelancer. Thanks!

[2021-11-23 21:40] tiburd commented on #6974
@annferre @kelleyvice-msft - Please submit your PR(s) via the private repo. Thanks!

[2021-11-23 21:40] tiburd commented on #6973
@annferre @kelleyvice-msft - Please submit your PR(s) via the private repo. Thanks!

[2021-11-23 21:40] tiburd commented on #6972
@annferre @kelleyvice-msft - Please submit your PR(s) via the private repo. Thanks!

[2021-11-23 21:41] tiburd commented on #6971
@yogkumgit - this issue is being worked on internally; don't assign to a freelancer. Thanks!

[2021-11-23 21:41] tiburd commented on #6971
@annferre @kelleyvice-msft - Please submit your PR(s) via the private repo. Thanks!

[2021-11-23 21:41] tiburd commented on #6970
@annferre @kelleyvice-msft - Please submit your PR(s) via the private repo. Thanks!

[2021-11-23 21:41] tiburd commented on #6967
@annferre @kelleyvice-msft - Please submit your PR(s) via the private repo. Thanks!

[2021-11-23 22:00] Dburke225 opened #6989 "Email Forwarding is really Email Redirecting"
You should really change the name from Email Forwarding to Email Redirecting.

It changes the To field to the user's mailbox that it is forwarding to, rather than keeping the original recipient. That is redirecting, your changing the intended recipient. This confused us when we had to trace and investigate emails and hurt our reporting numbers.

---
#### Document Details

⚠ *Do not edit this secti

[2021-11-24 08:57] jotheman0303 opened #6990 "Reference to ATP"
In the article there is still a reference to ATP "Click Windows components and then Windows Defender ATP." for selecting the proper GPO tree location. Is that still correct? For the looks of things all the settings are in difference containers. Not sure if they need updating.
Additionally, would be nice to also update the .ADMX and language-files to reflect Defender instead of ATP to avoid confusi

[2021-11-24 11:07] MazenGhazal commented on #4256
this article was not updated because of name changes from ATP.
you should update this ASAP

[2021-11-24 11:18] Matt-C22 commented on #6921
@mvdicecca112 not really as when configuring via GPO the registry key called "EnableNetworkProtection" is created under:

`HKLM\SOFTWARE\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection`

[2021-11-24 11:25] yogkumgit commented on #6834
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AlexJerabek Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 11:25] #6834 closed

[2021-11-24 11:55] yogkumgit commented on #6935
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bizdevguy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 11:55] #6935 closed

[2021-11-24 12:02] yogkumgit commented on #6904
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nielsvdGH Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 12:02] #6904 closed

[2021-11-24 12:07] yogkumgit commented on #6936
@msbemba Thank you very much for the contribution and sharing this explanation. @deejerydoo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 12:07] #6936 closed

[2021-11-24 12:54] msbemba commented on #6975
@itguysocal Thank you for your feedback. The article is not available now, I have removed the broken link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6991

Once the author approves, the document will be live.

Thanks
Sri

[2021-11-24 13:51] dborchers-gc opened #6992 "partnerID in SAP SuccessFactors / Viva Learning Doc"
What means partnerID in this DOC? The Tenant-Name or CompanyID from SAP is longer than 10 Charachters and the Tenant-ID vom M365-Tenant is longer than 10 charcters too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19287016-f48c-d381-a098-d78aab1c968a
* Version Independent ID: 19287016-f48c-d381-a098-d78aab1c968a
* Co

[2021-11-24 15:26] JeremyTBradshaw commented on #1486
@chrisda sorry to call on you directly, but I'm thinking you'll likely know the answer.  If I'm solely assigned the Exchange Service Administrator role in AAD, which is automatically a member of EXO's Organization Management, is that good enough to satisfy the "Organization Management or Security Reader" requirement advertised here?  Where I'm working from, it's not working, but I'm trying to figu

[2021-11-24 16:39] smedin4 opened #6994 "Include M365 Business Premium license in this docs page"
Licensing requirements doesn't include the new Microsoft 365 Business Premium license which includes support for Microsoft Defender for Endpoint for SMB customers (<300 seats in the tenant).

According to the following article, macOS devices are also covered by the threat protection from MDE:
https://www.microsoft.com/en-us/security/business/threat-protection/microsoft-defender-business
Reference

[2021-11-24 17:23] RichAcevedo1 opened #6995 "Cross-tenant mailbox migration"
i have read through this document and tried to follow it and boy do you guys make it difficult.
so many missing pieces. has anyone that has actually written an article tried to follow these directions on a fresh Tenant?
will the future of this be to run it all via PowerShell?
 will there be a way to monitor the migration via the EAC?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-11-24 22:34] HavardOveras opened #6997 "Student licensing"
It is unclear if Information Barriers also have been included in M365 A5 Student Use Benefit. Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a69504d-a89f-5545-3f8f-0573c928d67f
* Version Independent ID: 2f42eaa3-a159-31de-a9d5-19762d34bc5a
* Content: [Learn about information barriers in Microso

[2021-11-25 01:21] xuefeli opened #6998 "No information about package dependencies"
[Enter feedback here]

It's confusing because there is no information about the mdatp package dependencies.
It takes time for the customer to check the package dependencies while actually installing.

I want you to post information about packages that have specific dependencies with the mdatp package.
If that's difficult, I would appreciate if you can add a ”!note" that the mdatp installation may

[2021-11-25 08:37] #6961 closed

[2021-11-25 08:38] netaneladar commented on #6939
Any update?

[2021-11-25 08:56] netaneladar commented on #6939
I've deployed this across the organization and applied all the Microsoft 365 E5 licenses BUT only the windows users have the feature (office apps version 2102), and Macs don't seem to get the safe documents scans (office apps version 16.55)

[2021-11-25 09:00] netaneladar commented on #6939
![Screen Shot 2021-11-25 at 10 59 07](https://user-images.githubusercontent.com/43445138/143411037-6e9b0b27-06c6-4003-9c69-ca7052672c79.png)

[2021-11-25 09:19] Surajbudhani1994 opened #6999 "Despite changing the password policy user is prompted with the default suggestion"
We have create and assigned new password policy for the user however they still get the default suggections when resetting the password. Can you please ass a clarity on this

![image](https://user-images.githubusercontent.com/15276380/143413746-368848de-4d9d-4720-9bdd-c61cab7392fa.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-11-25 12:09] yogkumgit commented on #6985
@efrene Please help us in resolving this issue. Thanks

[2021-11-25 12:12] yogkumgit commented on #6984
@dmwmsft Please help us in resolving this issue. Thanks

[2021-11-25 12:23] yogkumgit commented on #6966
@denisebmsft Please help us in resolving this issue. Thanks

[2021-11-25 12:35] yogkumgit commented on #6975
@msbemba Thank you very much for the contribution and updating the documentation with PR. @itguysocal Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-25 12:36] #6975 closed

[2021-11-25 12:57] msbemba commented on #6939
@netaneladar Thank you for your feedback. This feature is only available in the Windows version of Microsoft 365 Apps for enterprise.

Hope this helps!

Thanks
Sri

[2021-11-25 13:09] msbemba commented on #6944
@jevreni Thank you for your feedback. I tested and found that the Wipe option is not available in the new Exchange admin center.
Once the option is made available the document will be updated.

Also, If you are looking for other ways to do a remote wipe -here are the options

https://docs.microsoft.com/en-us/microsoft-365/admin/basic-mobility-security/wipe-mobile-device?view=o365-worldwide#:~:text

[2021-11-25 13:13] msbemba commented on #6951
@d3s3rtf0x Thank you for your feedback. This looks more like a support issue, we recommend you contact Microsoft support to fix this issue. You can use the need help option on the admin center to reach out to the support team.

Thanks
Sri

[2021-11-25 13:24] msbemba commented on #6954
@ChrisAtMAF Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7000

Once the author approves the changes will be live.

Thanks
Sri

[2021-11-25 13:32] msbemba commented on #6956
@ChrisAtMAF Thank you for your feedback. We have updated the linking document -https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/report-false-positives-and-false-negatives?view=o365-worldwide#disable-or-enable-junk-email-reporting-in-outlook-on-the-web

via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7001

Once the author approves, the document will be liv

[2021-11-25 13:32] msbemba commented on #6955
@ChrisAtMAF Thank you for your feedback. We have updated the linking document -https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/report-false-positives-and-false-negatives?view=o365-worldwide#disable-or-enable-junk-email-reporting-in-outlook-on-the-web

via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7001

Once the author approves, the document will be liv

[2021-11-25 13:34] msbemba commented on #6957
@ChrisAtMAF Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7001

Thanks
Sri

[2021-11-25 13:42] msbemba commented on #6962
@deejerydoo Thank you for your feedback.

Read and Manage permission allows the assigned user mailbox(es) to read as well as manage emails in the user mailbox on which the permission is assigned. Manage could be anything that you can do with full access( Create a rule, move emails in the mailbox, create a new folder, etc).

I have made a change to the document via PR#https://github.com/MicrosoftDo

[2021-11-25 13:44] msbemba commented on #6963
@Jlouden9 Thank you for your feedback. You are correct, Windows 11 is included in this.

The page reflects correctly now

Windows 10, version 1709 (RS3, build 16299) or greater, or Windows 11
Windows Server 2016
Windows Server 2012 R2

@yogkumgit  There are no changes needed in this document and the issue can be closed.

Thanks
Sri

[2021-11-25 13:45] msbemba commented on #6983
@michaelhambe Thank you for your feedback. Since this is a support query, I'd recommend you contact Microsoft support via the need help section on the admin center.

Hope this helps!

Thanks
Sri

[2021-11-25 13:49] msbemba commented on #6989
@Dburke225  Thank you for your feedback.

If you use redirect, your email will be redirected to another email address specified by the user. This will redirect the emails as if they came directly from the original sender's email address.

If you use forward, your email will be forwarded to another email address, but you will not be able to reply to the original sender. Forwarded emails will arrive

[2021-11-25 17:53] Smithenstein opened #7004 "Video and instructions do not match navigation in Compliance Center"
The content on this page and the video do not match the current UI.  There is no classification navigation item with sub items underneath it.  Clicking on Data Classification does not match this in any way.  Very confusing
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70377d79-7c97-fca0-c357-1b52

[2021-11-26 04:03] vTa47 opened #7005 "Policy "Turn on script scanning" missing"
Hello,

I downloaded the latest security baseline for Windows Server 2022. In the Group Policy Report for the MSFT Defender Antivirus Server 2022, there is a parameter "Turn on script scanning" (supported from Server 2012/Win8) in the Real-time Protection section which is missing from the latest WindowsDefender.admx version. This parameter is added in Security Baseline for server 2022 but was not

[2021-11-26 05:32] yogkumgit commented on #6939
@msbemba Thank you very much for the contribution and sharing this explanation. @netaneladar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-26 05:32] #6939 closed

[2021-11-26 05:36] yogkumgit commented on #6944
@msbemba Thank you very much for the contribution and sharing this explanation. @jevreni Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-26 05:36] #6944 closed

[2021-11-26 05:40] yogkumgit commented on #6951
@msbemba  Thank you very much for the contribution and sharing this explanation. @d3s3rtf0x Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.

We will be very happy if you can share the

[2021-11-26 05:40] #6951 closed

[2021-11-26 05:51] yogkumgit commented on #6963
@msbemba Thank you very much for the contribution and sharing this explanation. @Jlouden9 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-26 05:51] #6963 closed

[2021-11-26 05:53] yogkumgit commented on #6983
@msbemba  Thank you very much for the contribution and sharing this explanation. @michaelhambe Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2021-11-26 05:53] #6983 closed

[2021-11-26 05:57] yogkumgit commented on #6989
@msbemba Thank you very much for the contribution and sharing this explanation. @Dburke225 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-26 05:57] #6989 closed

[2021-11-26 05:57] michaelhambe commented on #6983
Dear All,

The issue was with me.
Perhaps we can add a note in the documentation to give the installation enough time to complete before downloading the test virus file.

Thanks
Mike

Michael Hambe
DevOps Engineer

The Weir Group PLC
1 Marden Street
Artarmon, NSW 2164
Australia

T +61 2 8081 7452
M +61 437 936 604
***@***.******@***.***>
global.weir<http://global.weir>
Twitter <https://nam06.safel

[2021-11-26 06:01] yogkumgit commented on #6986
@ScottManning1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-26 06:01] #6986 closed

[2021-11-26 06:05] yogkumgit commented on #6932
@msbemba

[2021-11-26 06:07] yogkumgit commented on #6921
@msbemba

[2021-11-26 06:07] yogkumgit commented on #6915
@msbemba

[2021-11-26 06:09] yogkumgit commented on #6900
@msbemba

[2021-11-26 07:20] msbemba commented on #6900
@robmacf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7008

Thanks
Sri

[2021-11-26 07:27] msbemba commented on #6915
@EAWerner Thank you for your feedback. The data on the sheet is handled by the product group and it will be available on the document once they have this worked out for the Swedish region. You can also submit feedback on our main feedback portal- https://feedbackportal.microsoft.com/feedback/ to get status updates on this particular query.

Hope this helps!
Thanks
Sri

[2021-11-26 07:36] msbemba commented on #6921
@mvdicecca112 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7009

Also, note that it is located HKLM\SOFTWARE\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection when configuring via GPO as @Matt-C22  mentioned.

Thanks
Sri

[2021-11-26 07:42] msbemba commented on #6932
@n0nexistence Thank you for your feedback. Email with suspected malware will automatically be quarantined and Email identified as high confidence phishing will be handled according to the anti-spam policy action. Enabling security defaults will override your anti-spam policy in case of suspected malware.

Hope this helps!

Thanks
Sri

[2021-11-26 07:47] msbemba commented on #6943
@bledMS82 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7010

Thanks
Sri

[2021-11-26 07:56] netaneladar commented on #6939
Thank you. Can this please be added to the documentation?

[2021-11-26 08:10] msbemba commented on #6976
@SquirrelAssassin Thank you for your feedback. I have made the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7011

Ideally, all 3 would work across the board.

Thanks
Sri

[2021-11-26 11:57] LeoGoGarcia opened #7012 "edit connections phrase"
[Enter feedback here]

Hello,

in the phrase "Once a user confirms their connection to a topic, the user can make edits to the topic page to curate their connection. For example, they can provide more information about their connection to the topic." we suppose a READER can curate (edit his/her connection) once he/she validates the connection itself. It's not true (or I'm not getting it done).

Ca

[2021-11-27 17:55] nikki-c opened #7014 "Guests Shadow mailbox experience"
Can you add a new section to make it clearer about guests having a shadow mailbox and what their experience is.
It is mentioned under meeting and external user that
'If an external user joins by using a guest account in your tenant, this user has a shadow mailbox that can be subject to your organization's retention policy for Teams. Any messages from the meeting are stored in both your users' mail

[2021-11-27 18:12] nikki-c opened #7015 "What happens if a Microsoft 365 group is deleted via an expiration policy and has a retention policy applied"
Can I confirm the behaviour for What happens if a Microsoft 365 group is deleted after a policy is applied when the Azure AD Group Expiration policy is applied.

With the Group expiration policy if the group is not renewed within the time period the group is deleted.
If the group is not subject to a retention policy then it is soft deleted and can be restored for 30 days.

However if the group has

[2021-11-28 13:49] lukmangrd opened #7016 "770663"

[2021-11-28 16:02] ChristopheLux opened #7017 "Discrepancies for Service Encryption Key"
Hello

in this page mentioned here https://docs.microsoft.com/en-us/microsoft-365/compliance/office-365-encryption-risks-and-protections?view=o365-worldwide you are saying that Service Encryption is on the roadmap for Exchange

AND in this one
https://docs.microsoft.com/en-us/microsoft-365/compliance/office-365-service-encryption?view=o365-worldwide

You are saying it is used for Exchange Online..

[2021-11-29 07:52] #7016 closed

[2021-11-29 08:39] gaborvar opened #7018 "Links to OST"
[Enter feedback here]
This page is a key reference point for key discussions on Cloud security and compliance. Thx!

Links in the article to various licensing and compliance documents of Microsoft are broken. E.g. Online Services Terms docu has moved to Product Terms site. Can you update the links accordingly? E.g. https://go.microsoft.com/fwlink/p/?linkid=862403 or https://go.microsoft.com/fwlink

[2021-11-29 10:53] CallumCrowley opened #7019 "Document Library default view changed by SharePoint Syntex during push to libraries"
**Issue**

When content types are pushed to document libraries in a hub or associated sites, a series of views are created in the library (one for each content type pushed to the library).

SharePoint Syntex is changing the library's default view to one of these automatically created views. This is not described in the documentation. A user for example may want the "All documents" view to be the d

[2021-11-29 12:26] yogkumgit commented on #6915
@msbemba Thank you very much for the contribution and sharing this explanation. @EAWerner Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-29 12:27] #6915 closed

[2021-11-29 12:33] yogkumgit commented on #6932
@msbemba Thank you very much for the contribution and sharing this explanation. @n0nexistence Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-29 12:33] #6932 closed

[2021-11-29 14:21] EAWerner commented on #6915
Thank you everyone. I also noticed the page have been updated now so case closed!

From: Yogesh Kumar ***@***.***>
Sent: den 29 november 2021 13:27
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Erik Werner (HE/HIM) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Adding the Swedish Region in the list. (Issue #6915)

@msbemba<https://nam06.safelinks.protect

[2021-11-29 18:18] tnordin opened #7020 "Unable to Edit or Remove Custom Tile"
Per the instructions on this page to Edit or Delete a Custom Tile, I should

"On the Organization profile page, next to Add custom tiles for your organization, select Edit."

I do not see Edit option, I only see Add Custom Tile.

Also, do not see where I have the ability to delete a custom tile.

Thank you!
![Custom App Tile Launcher](https://user-images.githubusercontent.com/94127847/143921517-d0

[2021-11-29 19:09] markjjo commented on #6952
@joshfolcik Thanks for inquiring about this. I think a note should be added to the second article you cite saying that an inactive mailbox can't restored (or recovered) if auto-expanding archiving was enabled on the mailbox before it was made inactive.

Background is that there are two archive mailbox states. 1. You can enable the archive mailbox for a user's primary mailbox. When you do this, the

[2021-11-29 19:09] #6952 closed

[2021-11-29 23:38] chrisda commented on #1486
@JeremyTBradshaw, if the cmdlets for a feature are available in Exchange Online PowerShell (and most of the security/protection related cmdlets are), you're in luck; you can use the procedures in [this topic](https://docs.microsoft.com/powershell/exchange/find-exchange-cmdlet-permissions). If the cmdlet is available in Security & Compliance Center PowerShell (most compliance-related features), no

[2021-11-30 01:41] dmennis opened #7022 "Incorrect info in purple note regarding certificate-based authentication on iOS"
The purple box Note about Edge for iOS and Android are incorrect as of iOS 14.2. Third-party apps CAN access client-certificates from the keychain and have access to the public key in the keychain that points to an external smart card. Native Apple apps,  and any third-party app implementing SFSafariViewController,  ASWebAuthenticationSession, or WKWebView (requires a few lines of code) all have a

[2021-11-30 01:45] dmennis commented on #7022
https://developer.apple.com/documentation/cryptotokenkit/using_cryptographic_assets_stored_on_a_smart_card

[2021-11-30 02:21] brownivy commented on #6847
Hi @DulceMontemayor - this request is in support of a mutual customer of ours. Is there any chance we could connect with someone familiar with the data available from Defender Endpoint? If network port and protocol data is not available, that would be incredibly helpful to know so that we can go back and work with our customer on alternatives. Thank you!

[2021-11-30 08:04] shivtorov opened #7023 "Microsoft 365 Multi-Geo Licensing"
Hi team

Could you please more explicitly document Microsoft 365 Multi-Geo licensing requirements for resource (room/equipment) and shared mailboxes?

[This 3 years old blog post](https://techcommunity.microsoft.com/t5/security-compliance-and-identity/multi-geo-in-exchange-online-and-onedrive/ba-p/182710) says we must license resource and shared mailboxes

"Licensing" section in this article says

[2021-11-30 08:50] yogkumgit commented on #6921
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mvdicecca112 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-30 08:51] #6921 closed

[2021-11-30 09:10] kishan729g opened #7024 "No Audit option available"
In compliance manager I don't have a 'Audit' option on left menu - even if I do show all. Below is what I see:

![image](https://user-images.githubusercontent.com/95279430/144018089-9ff472ea-4022-405f-b230-bded5f33bbd8.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5432a60a-d95c-eafc-bed8-9b

[2021-11-30 09:29] Ian-Hawk-Hawkins opened #7025 "SharePoint list items with retention label applied are not being deleted"
Hi,

We have applied automatic retention labels to SharePoint lists to automatically delete list items 6 months after they are created.  The list items are showing they have the retention label applied to them.

However, the items older than 6 months are not being deleted.  We have left it over 10 days, in case there was any issues with the scheduled job that runs, but they are not being deleted.

[2021-11-30 11:29] richardbranson opened #7026 "What an utter joke MS is!!!"
So your admin has to change / check about 20 different things in 10 different places just to allow users outside an organisation to chat. Seriously MS employ some user experience people!!! FFS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147fb47a-99b2-f8ef-9ca6-35696d49c3fb
* Version Independent ID: b2f1b521-f231-48c

[2021-11-30 13:21] MikePlumleyMSFT commented on #7023
@WayneEwington can you help?

[2021-11-30 17:08] DGG-IT opened #7028 "Actionable Release Notes for Microsoft Defender for Endpoint on Linux"
The Microsoft Defender for Endpoint for Linux Version release notes here do not provide much useful information to teams which need to closely track changes to their environment, head off potential issues, track resolution of previously noted issues, etc.

Please provide more meaningful release beyond "Performance improvements & bug fixes".

---
#### Document Details

⚠ *Do not edit this section.

[2021-11-30 22:14] lemondave opened #7031 "Report button greyed out."
[Enter feedback here]

I've gone through the steps in this document and my users can now see the Add-ins in Outlook (latest O365 version, 2110, Build 14527.20276).  However, when they attempt to report a message as either Phishing or Junk the report button is not available.
We have the correct licensing and both a coworker and I have run through the doc several times to see if I missed a step.  St

[2021-11-30 22:27] WayneEwington commented on #7023
@Brian ***@***.***> This looks like an exchange question - Can you help answer/clarify this?

Thanks, Wayne

From: Mike Plumley ***@***.***>
Sent: Tuesday, November 30, 2021 5:21 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Wayne Ewington ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Microsoft 365 Multi-Geo Licensing (Issue #7023)

@WayneEwington<ht

[2021-11-30 22:57] shivtorov commented on #7023
This question is about "Multi-Geo Capabilities in Office 365" license SKU. Specifically, this docs article does not outline Multi-Geo licensing requirements for resource accounts. Thus, the request to update the article.

1. Do we have to assign "Multi-Geo Capabilities in Office 365" license SKU to Azure AD user accounts (that represent resource/shared mailboxes in Exchange Online) in order to hav

[2021-12-01 00:23] nikki-c opened #7034 "You can also create groups in a local geo via Graph API Create Group"
In addition to creating groups in a specific using the SharePoint Admin Center or PowerShell you can also create a unified Group in a specific geo using Graph API Create Group
Then in the HTTP Request body set the preferredDataLocation to the relevant geo location code

Example

POST https://graph.microsoft.com/v1.0/groups
Content-type: application/json

{
  "description": "Multi-geo-group name",