[2021-04-14 09:17] #4653 closed

[2021-04-14 09:22] yogkumgit commented on #3734
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dgordonb Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-14 09:22] #3734 closed

[2021-04-14 12:04] mostverydoge opened #4693 "Policy stacking ambiguos"
The meaning of "protection type" seems to change in the middle of this page, so it's not quite clear how the actual combining process works.  The table of priorities lists 8 categories. Below the table, the paragraph "For each protection type (anti-spam, anti-malware, anti-phishing, etc.), " implies that the categories are broader, and there are fewer of them, reflecting the visible divisions in t

[2021-04-14 14:28] fthorild opened #4694 "Clarification when disabling co-authoring for encrypted files."
If turning it off it says co-authoring will not work. Does that mean across the board in the tenant or does it mean it will not work for encrypted docs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bed8ccbd-b955-4a11-f4dd-3a70b549a5f7
* Version Independent ID: 257024d1-afb3-954f-c848-21549cb64fac
* Content: [Enable c

[2021-04-14 15:31] mjmelone opened #4695 "404 from navigation"
This page has a link in navigation, but the page it refers to is a 404.

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/get-recommendation-by-id?view=o365-worldwide

I can see the page appears to exist, not sure the issue.  Link is in navigation here:
Docs / Microsoft Defender for Endpoint / Reference / Management and APIs / Microsoft Defender for Endpoint API / Microsof

[2021-04-14 16:02] JordanTheITGuy opened #4696 "Clarity Request."
"The discovery engine distinguishes between network events that are received in the corporate network versus outside of the corporate network. By correlating network identifiers across all tenant's clients, events are differentiated between ones that were received from private networks and corporate networks. Private network devices will not be listed in the inventory and will not be actively prob

[2021-04-14 16:13] jmeddy opened #4697 "Add information on checking for Delay Holds"
I experienced an issue where I went through the steps to remove an In-Place Hold from a few mailboxes with a "full (100 GB in size) Recoverable Items folder, and was still not seeing a size decrease until I found this:

https://docs.microsoft.com/en-us/microsoft-365/compliance/identify-a-hold-on-an-exchange-online-mailbox?view=o365-worldwide#managing-mailboxes-on-delay-hold

Set-Mailbox <username>

[2021-04-14 16:56] chrisda commented on #4693
@mostverydoge, I agree, it's unlear. I changed the offending sentence:

To

The point of that sentence is: for each particular type of policy, the first policy that's applied to the user (determined by Priority) is the only policy of that type that's applied to the user. So, different policies with different settings that could potentially apply to the same user aren't applied concurrently or comb

[2021-04-14 16:56] #4693 closed

[2021-04-14 17:40] cabailey commented on #4694
@fthorild  It means "..... will no longer work in your tenant for labeled and encrypted documents".  Now added this clarification.  Thanks for the question!

[2021-04-14 17:40] #4694 closed

[2021-04-14 18:47] msbemba commented on #4278
@markquinnuk Thank you for your feedback. Unfortunately, the attribute Enable group creation can either be set to False or true and the attribute GroupCreationAllowedGroupId is the only option available to lock the creation of groups at the moment. If the option to allow except users from a certain group becomes available we will update the document. But for now this is the only option available.

[2021-04-14 18:56] msbemba commented on #4661
@andrePKI Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4700

Thanks
Sri

[2021-04-14 19:00] msbemba commented on #4664
@mguja-fcc Thank you for your feedback.

Below are the Supported Linux server distributions and versions as of now:

Red Hat Enterprise Linux 7.2 or higher
CentOS 7.2 or higher
Ubuntu 16.04 LTS or higher LTS
Debian 9 or higher
SUSE Linux Enterprise Server 12 or higher
Oracle Linux 7.2 or higher

Currently, there is no support for Amazon Linux Distro.

Hope this helps!

@yogkumgit There are no chan

[2021-04-14 19:04] msbemba commented on #4665
@jp-costa Thank you for your feedback. A specific requirement for enabling the ASR rule is that Microsoft defender must be active and cannot be in passive mode.

You can find more information about  Demystifying attack surface reduction rules here-https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/demystifying-attack-surface-reduction-rules-part-1/ba-p/1306420

Hope this helps!

[2021-04-14 19:06] msbemba commented on #4667
@bradw2k Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4701

Thanks
Sri

[2021-04-14 19:13] msbemba commented on #4669
@gb5757870 Thank you for your feedback. I was able to test this and the option is available. Since this is under preview not all tenants might have not this option. Once this is out of preview and live, you should be able to see this option on insider risk management settings.

![image](https://user-images.githubusercontent.com/45987684/114765890-56f36380-9d83-11eb-930e-425ca90a86df.png)

Hope thi

[2021-04-14 19:20] msbemba commented on #4670
@TheMasterPrawn Thank you for your feedback. I understand the ambiguity here, but I have tested and can confirm that the X-MS-Exchange-Organization-BypassFocusedInbox should be set to true for it to bypass the Other folder and land in the focused inbox.

Hope this helps!

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-04-14 19:24] msbemba commented on #4671
@chbreakthrough Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4702

Thanks
Sri

[2021-04-14 19:48] msbemba commented on #4660
@jgc4q Thank you for your feedback. I have checked and currently, we do not have an option to subscribe to email alerts or have RSS feeds. However, if you are signed in to the documents using your account, you will see an option to bookmark.

Hope this helps!

Thanks
Sri

[2021-04-14 20:49] denisebmsft commented on #4695
Hello @mjmelone. Thanks for posting your feedback. I checked, but I can't find a broken link. The article renders, and the navigation links work as well. Can you confirm that whatever might have been broken is now fixed?

[2021-04-14 21:47] msbemba commented on #4639
@kyouells I have added a note on the ticket about the badges showing up on the widget. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4704. Once the author approves this you will see the changes on the document.

Thanks
Sri

[2021-04-15 06:33] fthorild commented on #4694
Thanks @cabailey!

[2021-04-15 08:10] andrePKI commented on #4661
Excellent, thank you!

[2021-04-15 08:10] #4661 closed

[2021-04-15 08:27] Bjarlkram opened #4709 "Mac with M1 processors not supported"
The Prerequisites and system requirements sections fails to mention that systems with M1 processors are not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e9b530-4f11-0483-ed65-42b23082f9f6
* Version Independent ID: 38263c08-7cab-7d52-552d-e724ede401aa
* Content: [Microsoft Defender for Endpoint on Mac](ht

[2021-04-15 09:52] yogkumgit commented on #4278
@msbemba Thank you very much for the contribution and sharing this explanation. @markquinnuk Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 09:52] #4278 closed

[2021-04-15 09:55] yogkumgit commented on #4664
@msbemba Thank you very much for the contribution and sharing this explanation. @mguja-fcc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 09:55] #4664 closed

[2021-04-15 09:57] yogkumgit commented on #4665
@msbemba Thank you very much for the contribution and sharing this explanation. @jp-costa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 09:57] #4665 closed

[2021-04-15 09:59] yogkumgit commented on #4669
@msbemba Thank you very much for the contribution and sharing this explanation. @gb5757870 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 09:59] #4669 closed

[2021-04-15 10:01] yogkumgit commented on #4670
@msbemba Thank you very much for the contribution and sharing this explanation. @TheMasterPrawn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 10:01] #4670 closed

[2021-04-15 10:02] yogkumgit commented on #4671
@msbemba Thank you very much for the contribution and updating the documentation with PR. @chbreakthrough Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 10:02] #4671 closed

[2021-04-15 10:04] yogkumgit commented on #4660
@msbemba Thank you very much for the contribution and sharing this explanation. @jgc4q Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 10:04] #4660 closed

[2021-04-15 10:09] yogkumgit commented on #4639
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kyouells Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-15 10:09] #4639 closed

[2021-04-15 11:08] yogkumgit commented on #4662
@MSFTTracyP Please help us in resolving this issue. Thanks

[2021-04-15 11:11] yogkumgit commented on #4668
@Dansimp Please help in resolving this issue. Thanks.

[2021-04-15 14:50] KeepSloanWeird opened #4710 "Misleading/confusing guidance regarding shared mailbox support"
[Enter feedback here]
The statement "Users can open protected mails in a shared mailbox where the shared mailbox received a protected mail as part of a distribution group." is not proving true when attempted in a real-world scenario. So far we have only been able to open encrypted/protected messages when the shared mailbox and direct recipients are in the same Distribution Group, as suggested in t

[2021-04-15 17:27] Esaggese commented on #4657
Hi. The information should be included in https://docs.microsoft.com/en-us/microsoft-365/compliance/data-loss-prevention-policies?view=o365-worldwide#how-it-works, or in a separate page linked from there. Currently that page has a link to a page that lists the formats supported in SPS, not SPO, and adds some clarification about the differences in SPO. Also, the linked article is named "default fil

[2021-04-15 17:53] vsmusic2000 opened #4711 "Repeating word typo"
[Enter feedback here]
Typo: word seeing is repeated twice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c49609d-3a62-b9be-24bf-f8fa6948d390
* Version Independent ID: df547c86-fbc7-4f87-e893-49d07b045373
* Content: [Learn about retention policies & labels to automatically retain or delete content - Microsoft 365 Comp

[2021-04-15 21:15] funkadelic91 opened #4714 "Update to section of: Error/issue: Downloaded export shows no results"
The last section for "Error/issue: Downloaded export shows no results" ;

We've had the issue here at KeyBank - one of the things that fixed our issue after months of dealing with this was to use the PowerShell script for removing the exports and searches directly from ExchangeOnline.  The delete script provided in another section worked perfectly.  I would put some explanation in there about how

[2021-04-15 23:12] cabailey commented on #4711
Thanks for flagging this, now fixed.

[2021-04-15 23:12] #4711 closed

[2021-04-16 03:21] hyoshioka0128 opened #4715 "[LOC]Back-Translation " 電源自動化"→"Power Automate" (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/microsoft-365/commerce/subscriptions/self-service-purchase-faq?view=o365-worldwide"
![self-service-purchase-faq_j](https://user-images.githubusercontent.com/40815708/114966751-307e1700-9eae-11eb-9ff3-6dee71060b9f.png)

en-us:"https://docs.microsoft.com/en-us/microsoft-365/commerce/subscriptions/self-service-purchase-faq?view=o365-worldwide"
![self-service-pu

[2021-04-16 08:29] konstruktoid commented on #4676
Related: https://github.com/MicrosoftDocs/windows-itpro-docs/issues/8000

[2021-04-16 10:56] lightupdifire opened #4718 "Inherit the labels"
Hello,

We have 2x labels for groups&sites, they work fine, we use more for unmanaged/managed device access control.

But when we change the sensitivity label in the MS Teams app or via Outlook for MS Teams group (Edit Team, change label), then the label changes and we see a new label applied, but if we go to the SharePoint site, it is not changing in SharePoint site, is it the normal behavior or

[2021-04-16 17:03] markjjo commented on #4697
@jmeddy Thanks for the feedback. To be clear, you're suggesting that steps/cmdlets to determine if delay hold is applied should be moved to Step 1 (Get- cmdlets). And Step 4 would be about removing those delay holds (Set- cmdlets). Is that correct?

[2021-04-16 17:11] SanjoyanM commented on #4718
@lightupdifire : Please open a ticket with Microsoft support. We need a deeper investigation. Also provide the URL to the site in your ticket. Are you able to consistently repro?

[2021-04-16 17:15] SanjoyanM commented on #4611
@Sherd21 this syntax should work perfectly and is correct. I believe the "set-spotenant" may be confusing but its by design --> $sites | ForEach-Object {Set-SPOTenant $_.url -SensitivityLabel $Id}

After running it if you face specific error message let us know and open a ticket. Our engineers will do an investigation.

[2021-04-16 17:33] TinaMcN commented on #4715
@hyoshioka0128 this is caused by machine translation overlocalization.  I sent the topic to be human translated.

[2021-04-16 18:18] chrisda commented on #4662
@DeanGross, does the explanation of what the setting does over at  [Safe Links settings for Office 365 apps](https://docs.microsoft.com/microsoft-365/security/office-365-security/safe-links#safe-links-settings-for-office-365-apps).

Even though the setting is turned on by default, if you have no Safe Links policies, then the protection is not applied to anyone.

The setting only applies to links i

[2021-04-17 02:31] ChaosTheorX opened #4719 "Sign In"

[2021-04-17 03:37] ChaosTheorX opened #4720 "terms of use for organization team"

[2021-04-17 05:13] tshinkle opened #4721 "Inaccurate statement - "A single retention policy can be set to apply to Microsoft 365 Groups, Teams chat, and Teams channel messages.""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be4f3e5c-7dd7-ca98-8cd1-21177e7fe26d
* Version Independent ID: 083f0f2c-8c72-582d-3e13-1679684ea88c
* Content: [Compliance options for Microsoft 365 groups, Teams, and SharePoint collaboration](https://docs.microsoft.com/en-us/microsoft-365/solutions/

[2021-04-17 14:19] rafaelcastrocouto opened #4722 "Cannot Disable Antimalware Service Executable"
Despite turning everything off in the security settings (real time protection, cloud-delivery, auto sample submission and tamper protection), the windows defender antivirus keeps running and taking device memory (and sometimes a lot of CPU as well). There's no guides on the Microsoft support on how to disable the service or kill the process and security policies prevent even Admins from turning of

[2021-04-17 15:17] DeanGross commented on #4662
yes that does help, but I am not seeing anything about where the clicks are reported or any guidance about what should be done with the data. Am I missing something?

[2021-04-18 12:56] msbemba commented on #4676
@Field5555 Thank you for the feedback. Linux and mac are not currently supported by threat and vulnerability management.  We have added a note on the document that The supported systems and platforms for threat and vulnerability management may be different from the Minimum requirements for Microsoft Defender for Endpoint list.

Hope this helps!

@yogkumgit  There are no changes required in the doc

[2021-04-18 15:11] bsfinkel opened #4725 "Why Was Defender Scan Terminated?"
I received a Defender EventID 1002 during a full scan.  All this documentation tells me is that the scan was terminated before it completed.  I was not at the computer when the scan terminated, so I was not the one who terminated the scan.  I want more information as to why the full Defender scan was terminated.  This is Windows 10 professional 20H2 64-bit.  Thanks.

---
#### Document Details

⚠ *

[2021-04-18 18:17] Daddy2200 opened #4726 "Me.gov"
@Daddy2200

[2021-04-18 18:17] #4726 closed

[2021-04-19 01:14] junecastillote opened #4728 "Maximum number of members per group"
According to [Group Limits](https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/office-365-groups?view=o365-worldwide#group-limits):
| Number of members | **More than 1,000** |
-- | --

Is there any specific maximum number of members that you can provide aside from "more than 1,000"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-04-19 09:06] fl0mb opened #4729 "Customer Lockbox details"
Does Customer Lock-box also work for other Microsoft Services like Teams? Description is inaccurate.
Or does Teams data reside in OneDrive/Exchange/Sharepoint ?

https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/compliance/customer-lockbox-requests.md

[2021-04-19 11:59] NiteshSharma2K19 commented on #4597
Hello Team,
Is there any update on this request?

[2021-04-19 12:03] lightupdifire commented on #4718
@SanjoyanM
I will proceed with the MS case. We can repro the issue, we were waiting for 24 hours, just in case will do one more test and test 48, will come back in 2x days.

[2021-04-19 14:46] yogkumgit commented on #4597
@MikePlumleyMSFT Please help us in resolving this issue. Thanks

[2021-04-19 22:59] TinaMcN commented on #4715
@hyoshioka0128 the article is now human translated.  Please close if it looks ok now.  Thanks for reporting it.

[2021-04-20 03:23] EricKY26 opened #4735 "Downloaded pdf is blank after page 83"
So I Click 'Download PDF' on the webpage of this Microsoft 365 Docs,
![image](https://user-images.githubusercontent.com/19644162/115332439-654ddf00-a1ca-11eb-81fe-bd4a43fe9db1.png)
But when I open the downloaded pdf on my computer(surface pro 7), it shows blank after page 83 (Title: Use the Office365 Content Delivery Network (CDN) with SharePoint Online), no matter which software I use, (Microsoft

[2021-04-20 04:12] GarySurati opened #4736 "PDL"
[Enter feedback here]
It might be good idea to write "Preferred Data Location (PDL)" if you going to use PDL as short form in same article. Instead of just writing "When users in a multi-geo environment create a Microsoft 365 Group, the group preferred data location is automatically set to that of the user." it would be better to write "When users in a multi-geo environment create a Microsoft 365

[2021-04-20 07:06] anvascon opened #4737 "Proxy related settings incorrectly stated as "Not used""
Several proxy related settings are marked as "Not used" when this is completely incorrect. Please fix this to add at least a minimum description, as it is available in the GPO settings.

These are the ones:
1. "Define addresses to bypass proxy server"
2. "Define proxy autoconfig (.pac) for connecting to the network"
3. "Define proxy server for connecting to the network"

Thank you for your attenti

[2021-04-20 07:20] msbemba commented on #4632
@Larryngolog Thank you for your feedback. The user activity reports will show details of all users in the tenant. The report does have columns such as "Is licensed" and "Last activity date" for you to sort it and find out the inactive users.

Hope this helps!

Thanks
Sri

[2021-04-20 07:31] msbemba commented on #4709
@Bjarlkram Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4738

Thanks
Sri

[2021-04-20 07:39] msbemba commented on #4710
@KeepSloanWeird Thank you for your feedback. Outlook and the Azure Information Protection unified labeling client require the user to have full access permissions and have automapping enabled. So if the shared mailbox is auto mapped to outlook or if the user Uses the Open another mailbox option to open the message in OWA, they can open protected emails.

This part is added to the document "We don'

[2021-04-20 07:47] msbemba commented on #4721
@tshinkle Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4739

Thanks
Sri

[2021-04-20 07:56] msbemba commented on #4722
@rafaelcastrocouto Thank you for your feedback. You are right, If you are enrolled in Microsoft Defender for Endpoint and you are using a third-party antimalware product, then the passive mode is enabled which cannot be disabled (unless you are on windows server 2016). But this tabular column gives you details about Microsoft Defender Antivirus state - https://docs.microsoft.com/en-us/microsoft-36

[2021-04-20 08:58] hyoshioka0128 commented on #4715
@TinaMcN | @yogkumgit - Fixed. Thanks!
Closed #4715 .

[2021-04-20 08:58] #4715 closed

[2021-04-20 10:35] mitanabe commented on #4606
@yogkumgit Thank you for your triage.

[2021-04-20 11:30] yogkumgit commented on #4429
@cmcatee-MSFT Please help us in resolving this issue.

[2021-04-20 11:47] yogkumgit commented on #4676
@msbemba Thank you very much for the contribution and sharing this explanation. @Field5555 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-20 11:47] #4676 closed

[2021-04-20 11:57] KeepSloanWeird commented on #4710
Based on your reply there's a pretty critical piece of information missing in this section of the FAQ then:

No where in the Shared Mailbox supported config section is the AIP UL client mentioned. I understand that the UL client is a prerequisite for a number of OME scenarios, but within the context of the shared mailbox specific section that prerequisite isn't referenced. That requires that an as

[2021-04-20 12:07] rafaelcastrocouto commented on #4722
Thanks for the response @msbemba

I did NOT enrolled into Microsoft Defender Endpoint, my machine is a Samsung notebook that has the default windows 10 installation. I do not use or want to use any type of third-party product nor do I want to use the Microsoft Defender. I just want to turn it off and keep my machine resources for my needs.
If a user is able to turn it off on windows server 2016, s

[2021-04-20 13:22] LiDamon opened #4741 "SharePoint Search about Sensitive Data"
Can we use SharePoint Search about Sensitive Type? We used ClassificationType instead of SensitiveType in Sharepoint search was worked, but we did not found any introduction about ClassificationType .

The Sample Like:
**ClassificationType:a44669fe-0d48-453d-a9b1-2cc83f2cba77**
Same as eDiscovery Search
**SensitiveType: U.S. Social Security Number (SSN)**

---
#### Document Details

⚠ *Do not edit

[2021-04-20 13:34] MikePlumleyMSFT commented on #4597
@ArunMSFT can you confirm the license requirements?

[2021-04-20 14:06] msbemba commented on #4504
@pamcdo I don't have access to PR#7621. Do you know if this was merged as the live document has not been updated?

Thanks
Sri

[2021-04-20 14:06] msbemba commented on #4504
@pamcdo I don't have access to PR#7621. Do you know if this was merged as the live document has not been updated?

Thanks
Sri

[2021-04-20 14:44] Larryngolog commented on #4632
Thanks a lot! This clarifies my question.

[2021-04-20 15:00] JoeDavies-MSFT commented on #4502
@georgiahuggins, Can you help with this issue? Thanks

[2021-04-20 17:13] seymourdixongais opened #4744 "Clarification on M365 Reports Dashboard Information"
Hi everyone, I'm trying to wrap my head around the meaning of a couple of these reports - specifically the "Active Users - M365 Services" and "Active Users - M365 Apps". I figure asking this might be useful in case anyone else is wondering the same thing.

https://docs.microsoft.com/en-us/microsoft-365/admin/activity-reports/activity-reports?view=o365-worldwide

Firstly.. what is the difference be

[2021-04-20 19:32] denisebmsft commented on #4737
Hello @yogkumgit. I am working on this as well.

[2021-04-20 19:33] denisebmsft commented on #4744
Hello @seymourdixongais and thanks for posting your question. Can you please tell us to which article(s) this applies? This information will help us route the issue correctly. Thank you!

[2021-04-20 20:39] seymourdixongais commented on #4744
Sure thing, thanks for looking into this @denisebmsft!

The main page where this graphic was sourced from comes from [here](https://docs.microsoft.com/en-us/microsoft-365/admin/activity-reports/activity-reports?view=o365-worldwide)

For "Active Users - Microsoft 365 Services" graph, [this](https://docs.microsoft.com/en-us/microsoft-365/admin/activity-reports/active-users-ww?view=o365-worldwide) is

[2021-04-20 20:42] useyourblinker opened #4747 "Branding portal page does not list how to log into Powershell."
[Enter feedback here]

Microsoft -

Just a suggestion here - on any of these pages, maybe there should be a little section at the top listing which Powershell module should be used while connecting.

While you have ones for Sharepoint, Exchange Online, and a dozen others - this page does not list that you need to first connect to Connect-IPPSSession before you do this portal branding.

While someo

[2021-04-20 21:08] useyourblinker commented on #4747
Microsoft - Sorry as I was already connecting to the wrong thing in frustration here - but I actually meant to direct that at Connect-ExchangeOnline instead of Connect-IPPSSession. It's been a long week.

But anyway, my point is the same - the document doesn't even list which module you should be connecting to in order to start with!

[2021-04-20 21:16] SetTrend opened #4748 "Set up your domain (host-specific instructions) ... contains no instructions"
The mentioned page is supposed to provide host-specific instructions ‒ but it's quite empty.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34ecaa80-9bd4-0f65-ea64-3bcf9d4d0acb
* Version Independent ID: 6575fb2b-3e43-8095-c541-5860d2513f02
* Content: [Set up your domain (host-specific instructions) - Microsoft 365 admi

[2021-04-20 21:40] rylcode opened #4749 "Managing individual users' signatures"
This document lacks information on managing individual users' mail signatures. An administrator may be tasked with ensuring all users' signatures are formatted in a unified way, while ensuring the information is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a984a46-1f7b-6ef1-71f3-c5df6c142c01
* Version Indep

[2021-04-20 22:17] denisebmsft commented on #4744
Thank you @seymourdixongais

[2021-04-21 00:42] cabailey commented on #4581
@AveryBaker Haven't heard back from you but please see the response by the PM owner for https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4611.  If the command as documented isn't working for you, I recommend you file a support ticket for investigation and you're welcome to reference this thread for the support engineer to contact me.

[2021-04-21 00:42] #4581 closed

[2021-04-21 04:45] campbellkerr opened #4750 "How to segregate subscriptions?"
[Enter feedback here]
We would like to deploy Defender to our prod and non-prod environments. We have an Azure subscription for both environments. It would be good to know how to configure Defender to report in to the corresponding security center for each environment, or at least know if this is possible or not?

Some other agents get deployed with a special string or config that tells them about

[2021-04-21 08:25] lightupdifire commented on #4718
@SanjoyanM
Quite interesting result, used 2x Teams, for one team the label was changed at SharePoint site, but for another not... I will do one more test with another 2x Teams and then will go for support.

[2021-04-21 08:54] J-a-k-o-b opened #4752 "wrong Link"
The link in the section:
https://docs.microsoft.com/en-us/microsoft-365/compliance/office-365-service-encryption?view=o365-worldwide#customer-key named " See Enhancing transparency and control for Office 365 customers for the original announcement." redirects to a not existent site. The right one seems to be:
https://www.microsoft.com/en-us/microsoft-365/blog/2015/04/21/enhancing-transparency-and-

[2021-04-21 09:10] J-a-k-o-b opened #4753 "Clarify encryption Scope"
Hi,

Here the Product Group shared that Customer KEy now supports MSFT Teams:
https://techcommunity.microsoft.com/t5/microsoft-teams-blog/customer-key-support-for-microsoft-teams-now-in-public-preview/ba-p/1999893

In this doc https://docs.microsoft.com/en-us/microsoft-365/compliance/customer-key-overview?view=o365-worldwide#customer-key-encrypts-data-at-rest-in-office-365
is listed what is encryp

[2021-04-21 10:52] #4559 closed

[2021-04-21 11:00] yogkumgit commented on #4721
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tshinkle Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-21 11:00] #4721 closed

[2021-04-21 11:01] yogkumgit commented on #4709
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Bjarlkram Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-21 11:01] #4709 closed

[2021-04-21 11:04] alschneiter opened #4754 "Clarify URL when creating the lable"
Please update the documentation when creating the label itself in the compliance portal.
You need to include the KEY name you have provided within "TestKeys" section of the **appsettings.json** into the url. For example:
https://pocdke1.azurewebsites.net/**KEYNAME**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484b1a

[2021-04-21 11:07] yogkumgit commented on #4632
@msbemba  Thank you very much for the contribution and sharing this explanation. @Larryngolog Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-21 11:07] #4632 closed

[2021-04-21 12:03] seymourdixongais commented on #4744
Additional information for the second question's Teams example: I noticed my tenant also has a number 'Microsoft Teams Exploratory' licenses assigned out. In addition to the Office 365 E3 licenses, could these licenses also play a role into the total count of the active + inactive users?

[2021-04-21 15:33] JimKCode opened #4755 "Grammar in Step 2"
The NOTE in Step 2 is missing the word "if" in the second sentence.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac0819e-2ed8-d57f-35f5-cfa5210210a9
* Version Independent ID: 61bf03a8-091b-9a33-a7eb-a4a25e8452f3
* Content: [Delete items in the Recoverable Items folder of cloud mailbox's on hold - Microsoft 365 Compl

[2021-04-21 17:18] cjkeist opened #4756 "CPU core requirements"
[Requirements section doesn't specify a minimum of 2CPU cores, only memory. ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Version Independent ID: 6c49c1c5-a178-0c9d-4768-fef1507b1a55
* Content: [Microsoft Defender for Endpoint on Linux](https://docs.microsoft.com/en-us/microsof

[2021-04-21 17:30] CraigJahnke opened #4757 "are Files considered Data?"
The first line says data is removed after 30 days if the license is removed, but the second line says Files aren't deleted unless the user is the user is deleted.  Are Files considered data?

•	When a license is removed from a user**, data that is associated with that account is held for 30 days**. After the 30-day grace period, the data is deleted and can't be recovered.
•	**Files saved in OneDri

[2021-04-21 17:51] markjjo commented on #4755
@JimKCode Thanks for the heads up.  I will fix. Note that in future you can also fix issues like these by signing into to your msft-connected github account, clicking the Edit button on the topic, and submitting a pull request. See: https://review.docs.microsoft.com/office-authoring-guide/contribute-get-started-setup-quick-update?branch=master

[2021-04-21 17:51] #4755 closed

[2021-04-22 00:03] markjjo commented on #4697
@jmeddy Fixed. Added step about getting delayhold info in step 1 on gathering information and then focused step 4 on removing delay holds. Thanks again for feedback.

[2021-04-22 00:03] #4697 closed

[2021-04-22 03:42] msbemba commented on #4722
@rafaelcastrocouto Thank you for your feedback. This issue looks unique since you don't have Defender endpoint enfolled. I'd recommend you contact our Microsoft Support line or raise a support ticket via the need help option on the M365 admin center.

@yogkumgit  There are no changes in the document as this document applies only to Microsoft defender for endpoint.

Thanks
Sri

[2021-04-22 03:46] msbemba commented on #4641
@myfope Thank you for your feedback. We are checking this internally with the author and will provide an update shortly.

Thanks
Sri

[2021-04-22 03:52] msbemba commented on #4725
@bsfinkel Thank you for your feedback. Per the Event Id, it looks the scan was canceled by the user, If your computer was still turned ON when you returned to it, then I would recommend you contact support to investigate this further. Post contacting support, if you think information is missing on the document, do let us know.

@yogkumgit There are no changes required on the document.

Thanks
Sri

[2021-04-22 03:53] msbemba commented on #4728
@junecastillote Thank you for your feedback. We haven’t documented it as a single limit for Groups because the limits apply differently based on the experience i.e. the limit is different when using a Group in Yammer or Teams or SharePoint or Outlook/Email.

Hope this helps!

@yogkumgit There are no changes required in the document as of now.

Thanks
Sri

[2021-04-22 04:00] msbemba commented on #4729
@fl0mb Thank you for your feedback. Customer Lockbox supports requests to access data in Exchange Online, SharePoint Online, and OneDrive when Microsoft engineers need to access customer content to determine the root cause and fix an issue. It is not available for MS Teams yet.

Hope this helps!

Thanks
Sri

[2021-04-22 05:22] mitanabe commented on #4606
@kelleyvice-msft Could you let us know the current status?

[2021-04-22 08:00] mchibams opened #4761 "Some FQDNs are not routable to ER even the ER column is Yes"
In ID 46 row, ER column of *.officeapps.live.com is Yes.
But the following sub FQDNs are advertised to Internet circuits only (see https://docs.microsoft.com/en-us/microsoft-365/enterprise/routing-with-expressroute?view=o365-worldwide)

nexusRules.officeapps.live.com
nexus.officeapps.live.com
cdn.odc.officeapps.live.com
ols.officeapps.live.com
ocsredir.officeapps.live.com
ocws.officeapps.live.com

[2021-04-22 09:49] WoodneyUK opened #4762 "404 error on hyperlink"
Link to https://docs.microsoft.com/en-us/collect-diagnostic-data.md is not valid

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a08b6ae-6445-ab2b-d380-627df46cf3d5
* Version Independent ID: c855d3af-002e-aff2-b2d6-8c6e549850a2
* Content: [Troubleshoot performance issues](https://docs.microsoft.com/en-us/microsoft-365/

[2021-04-22 11:20] yogkumgit commented on #4561
@msbemba Thank you very much for the contribution and updating the documentation with PR. @hekessel Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-22 11:20] #4561 closed

[2021-04-22 11:46] yogkumgit commented on #4696
@mjcaparas Please help us in resoling this issue. Thanks

[2021-04-22 11:54] lightupdifire commented on #4718
@SanjoyanM
What I did is:
Edit General policy under protection.office.com that applies sensitivity labels to all users, click on next-next-save, then it worked for all sites, but indeed 24 hours sync required. pfeewwww :) case close.

[2021-04-22 11:54] #4718 closed

[2021-04-22 12:13] yogkumgit commented on #4611
@SanjoyanM Thank you very much sharing this explanation. @Sherd21 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-22 12:13] #4611 closed

[2021-04-22 12:15] yogkumgit commented on #4599
@alphanimal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-22 12:15] #4599 closed

[2021-04-22 12:19] yogkumgit commented on #4509
@DeanGross If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-22 12:19] #4509 closed

[2021-04-22 15:41] nikki-c opened #4764 "Safe links for Teams is in GA"
Hi This page needs to be updated ad it mentions that Safelinks for Teams is in Preview. This is out of date as Safe links for Teams is now GA. I wold also link to the following page https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-safe-links-policies?view=o365-worldwide

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-04-22 15:59] #4764 closed

[2021-04-22 16:22] Sherd21 commented on #4611
thank you for explanation and apologize for slow response. I had some problems with running the cmdlets but they were due to slow replication of labels in my tenant.
I think confusion on my side was related to Set-SPOTenant cmdlet usually used to set global/tenant settings where Set-SPOSite is to set settings for individual site.  Thank you

[2021-04-22 16:32] bsfinkel commented on #4725
Simple question - How do I contact support?

[2021-04-22 20:58] jwojan opened #4765 "Link to Linux documentation 404s."
If you click the link to Linux documentation, it is a dead end that results in a 404 notification. The URL it points to that fails is:

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-atp-linux

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e914c02a-e905-fc32-439c-feb1fafa09

[2021-04-22 21:01] jwojan commented on #4765
It looks like all of the links to documentation for Linux, MacOS, Android and IOS are ALL BROKEN.

[2021-04-22 21:03] mjcaparas commented on #4765
PR already checked in to fix this.

[2021-04-22 21:03] #4765 closed

[2021-04-22 23:29] nikki-c opened #4768 "It would recommend including a section on data residency"
It would recommend including a section on data residency and the option for multi-geo be able to store Teams, SharePoint, OneDrive and  Exchange online content in a local geo to comply with local regulations.  I find this is a key question that I am asked as a Gold Partner.
Microsoft Docs reference pages
Multi geo in teams https://docs.microsoft.com/en-us/microsoftteams/teams-experience-o365odb-sp

[2021-04-22 23:57] denisebmsft commented on #4762
Hello @WoodneyUK and thank you for letting us know about this. We have fixed the link, and the changes will be live tomorrow, April 23.

[2021-04-22 23:57] #4762 closed

[2021-04-23 03:05] schmurky commented on #4762
Thank you @denisebmsft!

[2021-04-23 09:01] MarzelLaning42 opened #4772 "clarification needed"
[Enter feedback here]
"Your subscription directory must either be in, or federated to Azure Active Directory"
and
"An on-premises directory service"

'subscription directory' is a vague term. There is an Azure Active Directory where accounts live and subscription are also referenced as license plans, sometimes called subscription. But azure subscriptions are something totally different and have a

[2021-04-23 12:00] SetTrend opened #4778 "Peculiarities of different group types not getting clear"
From the list of different group types it's not getting clear which features come along with each type. The different paragraphs barely describe their peculiarities but not their similarities.

May I suggest to provide an intersection diagram to the page, depicting the peculiarities as well as the similarities of each of the different group types, like in this sketch:

![Group Features](https://us

[2021-04-23 13:13] yogkumgit commented on #4725
@msbemba

[2021-04-23 13:39] Galbadrah opened #4779 "Outlook issue"
I have an issue with outlook. We got office 365  education for our school. Almost all apps work but outlook did not work. It displays error 500.

Error 500 says "Something went wrong.
We couldn't find a mailbox for this account. Either they don't have a mailbox or don't have a license assigned.

To fix it, contact your Email Admins and ask them to assign a valid license to your user account using

[2021-04-23 14:50] SetTrend opened #4780 "Change nameservers to set up Microsoft 365 breaks website - no instructions for remedy in the docs"
The steps to remedy the fact that an existing website won't be reached after adding Microsoft NS records to the original provider's DNS records end with ... no information:

I don't want to add anything. I just want to get my website running back again. What's precisely required here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-04-23 15:04] mgetzem opened #4782 "Associated Log File"
Reviewing microsoft-365/security/office-365-security/external-email-forwarding.md page - trying to find the log file that would be associated with this change. Would someone be able to provide either a sample log file generated, or how to search for this change log?

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/external-email-forwarding

[2021-04-23 15:11] denisebmsft commented on #4779
Hello @Galbadrah. Sorry to hear you are having issues with Outlook. You need to contact support. See who in your school can help, and see this page, too. https://support.microsoft.com/home/contact?ContactUsExperienceEntryPointAssetId=S.HP.education

[2021-04-23 15:11] #4779 closed

[2021-04-23 16:35] rafaelcastrocouto commented on #4722
After 2 hours talking to Microsoft support, I was NOT able to make this process stop.
They indicated me to do the following but none worked:

- Kill the process in task manager (not allowed)
- Add a registry with DisableAntiSpyware in hklm\software\policies\microsoft\windows defender (don't work)
- Disable scans in windows scheduler (don't work)
- Stop the windows defender services (not allowed)
-

[2021-04-23 17:03] markjjo commented on #4741
@LiDamon Thanks for your inquiry. Your comment seems to imply that you are using SharePoint Search and not an eDiscovery tool (Content search, Core eDiscovery, and Advanced eDiscovery). The topic that you opened this github issue against is about queries in these eDiscovery tools (and not SharePoint Search).

I checked with the engineering team and for eDiscovery searches, you should use Sensitive

[2021-04-23 17:03] #4741 closed

[2021-04-23 19:18] mrstephenson2142 opened #4784 "End User Spam Notification only Showing Email for the Date Delivered."
We have the end user spam notification enabled and reporting every seven days. The notification is only showing email for that day and not all email received since the last notification. Is that by design or should we be seeing all email since the last notification was sent? The documentation does not specify. If this is by design could that notion be added somewhere? We want to keep the number of

[2021-04-23 21:09] anaguile opened #4785 "This document recommends a different setting for “Turn off Microsoft Defender Antivirus.” than what other document suggest (the latter actually fixed issue for customer)"
[Please reference previous feedack: https://github.com/MicrosoftDocs/windows-itpro-docs/issues/9341

From RAVE case 24527130 https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mcafee-to-microsoft-defender-setup?view=o365-worldwide#enable-microsoft-defender-antivirus-on-your-windows-client-devices recommends “Turn off Microsoft Defender Antivirus.” to be set to "Disabled" .

[2021-04-23 23:39] LauraWi commented on #4606
Hi  -- This topic is autogenerated from an internal tool used to maintain endpoint data. It cannot be manually edited. I will follow up to see if this is a gap.

[2021-04-23 23:42] LauraWi commented on #4578
Tagging @pandrew1 for comment.

[2021-04-23 23:47] LauraWi commented on #4386
@BhargaviAnnadevara-MSFT  -- I don't think this endpoint is actually appropriate for the M365 URLS and IP ranges topic. At any rate, this article is autogenerated from an internal tool and info cannot be manually added to the article (or it will be overwritten). Follow up with me via internal email if you need info about onboarding to the M365 endpoints process.

[2021-04-23 23:47] #4386 closed

[2021-04-23 23:48] LauraWi commented on #4420
Tagging @pandrew1 for comment.

[2021-04-23 23:51] LauraWi commented on #4367
@pandrew1  -- not sure if this URL should be in scope for this topic.

[2021-04-24 14:31] Awesomecat713 opened #4786 "This is useless yes"
I don't know what the point of this is.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Version Independent ID: 6c49c1c5-a178-0c9d-4768-fef1507b1a55
* Content: [Microsoft Defender for Endpoint on Linux](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/micro

[2021-04-25 11:30] FrogThomas opened #4788 "Incorrect statement on the availability of archive data"
It seems like it can take up to 24 hours until the archived data is available.

As my message traces with extended reports would regularly not find any messages, I opened a service request (Case #:23552915) in order to fix this issue. The resolution to the problem was a Microsoft engineer who stated, that it might take up to 24 hours, instead of four hours, until the data is available.

[2021-04-25 21:55] pandrew1 commented on #4367
I am not familiar with identity governance. I did find this one reference to the URL in a web search which implies you could forward this to the Teams org for review. https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/39756391-terms-of-use-agent-string

[2021-04-25 21:57] pandrew1 commented on #4420
The additional endpoints page is not currently generated by my teams portal. To find the ports required to be opened customers have to click the link to the Exchange Hybrid docs page to learn more

[2021-04-25 22:02] pandrew1 commented on #4578
We do not provide details on the doc page as to the difference between URL parameters and QUERY parameters. Instance is a URL parameter and the others are all QUERY parameters. andyprinceuk assumes that they are all QUERY parameters and therefore the Instance documentation is incorrect. You could add additional documentation to clarify the difference between these two if needed

[2021-04-25 22:50] andyprinceuk commented on #4578
Within the context of several parameters that are _query_ parameters, along with using formatting indicative of URL parameters:
`ServiceAreas=<Common | Exchange | SharePoint | Skype>
TenantName=<tenant_name>
NoIPv6=<true | false>
Instance=<Worldwide | China | Germany | USGovDoD | USGovGCCHigh>`
It is, in my opinion, not a stretch to interpret the _Instance_ parameter as a _query_ parameter as it i

[2021-04-26 01:17] natpascual1027 opened #4789 "M365 Endpoint DLP block settings not applying"
Hi,

I'm testing M365 Endpoint DLP on a virtual machine in my local device. My DLP policy  is configured to detect sensitive information types and all actions (e.g. copy to clipboard, transfer through bluetooth, etc) are set to **block** except for remote desktop services set to **audit only**. My policy is already turned on for 3 days now. But I don't seem to see the block settings taking effect.

[2021-04-26 08:46] ArBixD opened #4791 "Link changed"
Hi, the first Link directs one to the Azure Portal. When i search for Intunes there, and click the icon, it tells me the page was moved to https://endpoint.microsoft.com/. Can you adjust the Page so you land directly there? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8387555-2aea-a843-2e8f-e831629fc004
* Ve

[2021-04-26 11:21] yogkumgit commented on #4788
@FrogThomas Please let us know which document you are referring to. Thanks.

[2021-04-26 11:30] yogkumgit commented on #4722
@msbemba  Thank you very much for the contribution and sharing this explanation. @rafaelcastrocouto  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here we are limited to documentation issues and improvements.
We will be very happy if you can share the outcome or resolution with us

[2021-04-26 11:30] #4722 closed

[2021-04-26 12:00] yogkumgit commented on #4578
@pandrew1 Please guide.

[2021-04-26 12:06] yogkumgit commented on #4367
@LauraWi

[2021-04-26 12:08] yogkumgit commented on #4420
@LauraWi

[2021-04-26 12:12] yogkumgit commented on #4710
@msbemba

[2021-04-26 12:14] yogkumgit commented on #4728
@msbemba Thank you very much for the contribution and sharing this explanation. @junecastillote Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-26 12:14] #4728 closed

[2021-04-26 12:16] yogkumgit commented on #4729
@msbemba Thank you very much for the contribution and sharing this explanation. @fl0mb Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-26 12:19] yogkumgit commented on #4657
@msbemba

[2021-04-26 14:03] msbemba commented on #4710
@KeepSloanWeird Thank you for the feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4795

Thanks
Sri

[2021-04-26 14:07] msbemba commented on #4725
@bsfinkel You can use one of the support options mentioned here- https://docs.microsoft.com/en-us/defender-for-identity/support#support-options-and-community-resources

Hope this helps!

Thanks
Sri

[2021-04-26 14:21] msbemba commented on #4657
@Esaggese Thank you for your feedback. SharePoint in Microsoft 365 supports the same file name extensions as in the table, except for .eml or .mht files. In addition, SharePoint in Microsoft 365 also supports the following: .xlt .xlc .xlb. This has been added as a note on the document.

Hope this helps!

Thanks
Sri

[2021-04-26 14:31] msbemba commented on #4685
@kortamon Thank you for your feedback. The O365CompatibilityChecker module works with Legacy and modern authentication but does not support multi-factor authentication as of now(tested). Once that feature gets updated the note will be removed.

Hope this helps!

@yogkumgit There are no changes required in this document.

Thanks
Sri

[2021-04-26 15:27] DeanGross opened #4796 "Add Licensing information"
Please add something to identify which licenses are required to get this functionality. I have a customer that is not seeing this and I'm not sure if its a bug or a licensing issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d55651b-e677-6784-78ec-043f3368da2e
* Version Independent ID: afc4b465-6f0f-cc78-cbe1-b104

[2021-04-26 16:35] vboyev-MSFT opened #4797 "Please address forced tunnel VPN with Isolate Machine and add recommendation for split tunneling for MDE"
[Enter feedback here]
Please add disclaimer to Isolate Machine section (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#isolate-devices-from-the-network)

IMPORTANT!
When isolating a device, only certain processes and destinations are allowed. Therefore, devices that are behind a full VPN tunnel won't be able to reach the Microso

[2021-04-26 16:36] Jordanndahl commented on #4597
@ArunMSFT @MikePlumleyMSFT

[2021-04-26 16:41] npherson opened #4798 "Need info on new role, what it can do"
A "Usage summary reports reader" role was added to AAD with a description of "Can see only tenant level aggregates in M365 Usage Analytics and Productivity Score."

The FAQ needs to be updated with information about what this role can actually see/do, and when orgs would use it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-04-26 16:44] ArunMSFT commented on #4597
Confirmed with Jordan that the admin doesn't need to have the license.

[2021-04-26 16:56] LauraWi commented on #4420
Customers are encouraged to use the Exchange Deployment Assistant (linked in topic) for this info. https://docs.microsoft.com/en-us/exchange/exchange-deployment-assistant?view=exchserver-2019

[2021-04-26 16:56] #4420 closed

[2021-04-26 17:44] rconiv opened #4799 "Access retention area in the M365 interface."
How is this done in the new interface?  Under Information Governance, there isn't a retention option, just dashboard and archive.

View a list of inactive mailboxes
To view a list of the inactive mailboxes in your organization:

Go to https://protection.office.com and sign in using the credentials for an administrator account in your organization.

Click Information governance > Retention.

On the

[2021-04-26 18:18] markjjo commented on #4799
@rconiv Thanks for inquiry. In the M365 compliance center (MCC), the inactive mailbox button is basically in the same place: Information governance > Retention > Inactive mailbox (see screenshot below). You might also try the direct URL: https://compliance.microsoft.com/informationgovernance/retention/inactivemailbox. Of course, you can also use Get-Mailbox -InactiveMailboxOnly command in EXO Powe

[2021-04-26 18:18] #4799 closed

[2021-04-26 18:25] rconiv commented on #4799
Thanks, it could be a permissions thing.  I don’t have complete admin rights in M365.  This is all I see when I go to Home - Security & Compliance (office.com)<https://protection.office.com/homepage> from the link in Create and manage inactive mailboxes - Microsoft 365 Compliance | Microsoft Docs<https://docs.microsoft.com/en-us/microsoft-365/compliance/create-and-manage-inactive-mailboxes?view=o3

[2021-04-26 20:46] msbemba commented on #4714
@funkadelic91 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4802

Once the author approves, you will see the update on the live document.

Thanks
Sri

[2021-04-26 21:04] chbreakthrough opened #4803 "In the Check if Network protection enabled section the wrong regkey is present"
Team,

the wrong regkey is present in the top section it should mirror the one in the bottom of the page.

This
"Navigate through the nested menus to SOFTWARE > Policies > Microsoft > Windows Defender > Windows Defender Exploit Guard > Network Protection"

should be this
"Navigate through the nested menus to SOFTWARE > Policies > Microsoft  > Windows Defender > Policy Manager > EnableNetworkProtec

[2021-04-26 21:25] toddalbers opened #4804 "How to Delete Preset Policies?"
I chose the option to use Preset Policies (Strict).  Now I don't want them.  I can disable them, but can't remove\delete them under each section.  Why can't I delete them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6f1cf3-a121-3c6e-9380-79440f4c6671
* Version Independent ID: 9b1bc5d1-8ecc-d0f9-092e-325c6acff4fe
*

[2021-04-26 21:29] martillodecampo opened #4805 "Incorrect instructions for adding an email alias"
This sentence is incorrect: "On the Active Users page, select the user > Manage email aliases. "

Instead what I had to do was:

- Select auser in the list of Active Users
- In the header row at the top of the list of users, I clicked on _Manage username and email_
- This opened up a flyout where I was able to manage the email aliases for the user

---
#### Document Details

⚠ *Do not edit this se

[2021-04-26 22:50] sevenok opened #4807 "Doesn't tell you what to do if the delist is denied."
This doc is fairly good until the page tells you that your delist is denied for whatever reason.

Example: [Screenshot](https://prnt.sc/123zvff)

Here, as you can see there is no info about what to do next. In my case I've been waiting for more than 2 months for a message from the Microsoft Support and nothing has came through.

What should I do next then? I've followed the steps over and over aga

[2021-04-27 00:04] chrisda commented on #4804
@toddalbers, do you see the "Recommended Settings" policies under their respective policy types at <https://protection.office.com/threatpolicy>?

- [Anti-phishing policies](https://protection.office.com/antiphishing)
- [Anti-spam policies](https://protection.office.com/antispam)
- [Anti-malware policies](https://protection.office.com/antimalwarev2)
- [Safe Attachments policies](https://protection.

[2021-04-27 01:36] ghgit opened #4808 "Ansible syntax for key add incorrect and apt source filename shouldn't include .list"
When adding the microsoft key (- name: Add Microsoft APT key)
keyserver is using https url so it should be the [url syntax](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_key_module.html#examples) and specify the key name:
`    keyserver: https://packages.microsoft.com/`
change to
`    url: https://packages.microsoft.com/keys/microsoft.asc`

Also in the adding the apt repo

[2021-04-27 04:35] Esaggese commented on #4657
I know it's documented, but SharePoint Online is Microsoft's primary platform, and SharePoint Server is a legacy platform. Microsoft should not document SharePoint Online by making references to the SPO documentation and highlighting the differences, SPO should be documented directly since otherwise it puts an extra burden on SPO administrators and it potentially causes confusion when this documen

[2021-04-27 08:04] konstruktoid commented on #4808
Thanks for opening this issue @ghgit, submitted PR https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4809

[2021-04-27 08:08] konstruktoid commented on #4786
@Awesomecat713, is this a general comment regarding Microsoft Defender for Endpoint on Linux or is there an error on the page?

[2021-04-27 08:36] konstruktoid commented on #4756
Hi @cjkeist, is there a 2 cores minimum?
Can you point me in the right direction on where you found this information so I can add it via a PR?

[2021-04-27 10:18] jgriff500 opened #4810 "No Custom App Launcher Tiles"
There is no No Custom App Launcher Tiles under Org Settings / Organization Profile as this article states.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9488caf7-b791-3002-8749-7fdc4b2ec8b3
* Version Independent ID: 08e61eb0-7bcd-f449-46ef-17e209138a8e
* Content: [Add custom tiles to the app laun

[2021-04-27 11:09] kortamon commented on #4685
I am not sure that's entirely correct.
Could you please double check this?

I had tested it: Create a new authentication policy in EXO and block legacy PowerShell. Assign that policy to the user and try to use this tool. You will get an access denied with no further information anywhere.
Adding this limitation to the document will help people in this situation to find the cause

Thank you in advan

[2021-04-27 13:12] yogkumgit commented on #4657
@msbemba

[2021-04-27 13:13] yogkumgit commented on #4685
@msbemba

[2021-04-27 13:18] yogkumgit commented on #4597
@ArunMSFT Thank you very much for sharing this explanation. @NiteshSharma2K19 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-27 13:18] #4597 closed

[2021-04-27 13:23] yogkumgit commented on #4714
@msbemba Thank you very much for the contribution and updating the documentation with PR. @funkadelic91 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-27 13:23] #4714 closed

[2021-04-27 13:38] ryanfog opened #4812 "MailboxMovePublishedScopes"
It appears the new security model does not play well with the Organizational Relationship command. I have created a security group in Azure AD both mail enabled and non mail enabled and neither work and give the same error message.

Set-OrganizationRelationship -Identity targettenant_sourcetenant01_3370 -MailboxMovePublishedScopes MailboxesInscope
WARNING: Access scope specified 'MailboxesInscope'

[2021-04-27 14:57] cjkeist commented on #4756
Hello,
   It’s in the mde_installer.sh script. It checks number of cores and fails if only one core is found. Along with number of cores it also checks for minimum of 2GB of RAM free and disk space.

--
CJ Keist
Assistant Director, CoSINe IT Services
Division of Arts and Sciences
Oregon State University
541-737-1066 | Strand Ag Hall 062C

From: Thomas Sjögren ***@***.***>
Reply-To: MicrosoftDocs/m

[2021-04-27 16:50] chrisda commented on #4662
@DeanGross, probably the best place to see the results of Safe links is the [URL threat protection report](https://docs.microsoft.com/microsoft-365/security/office-365-security/view-reports-for-mdo#url-threat-protection-report).

[2021-04-27 18:51] MSFTEfeedback opened #4816 "Typo on this page "producvitivy score""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfe3e20f-ec8b-1c49-2fb8-25a900533ade
* Version Independent ID: ed13a2a7-ef92-bc3c-d051-c2cfa22b2415
* Content: [Microsoft 365 Network Insights (preview) - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/office-365-n

[2021-04-27 19:11] msbemba commented on #4657
@Esaggese The document states that it applies to 2013, 2016, 2019, and SharePoint in Microsoft 365 and there is no alternate document currently available for just SPO.

CC: @chrfox

@yogkumgit

Thanks
Sri

[2021-04-27 19:12] msbemba commented on #4685
@kortamon Thank you. I'll test and make changes to the document accordingly.

[2021-04-27 19:15] msbemba commented on #4736
@GarySurati Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4817

Thanks
Sri

[2021-04-27 19:18] msbemba commented on #4752
@J-a-k-o-b Thank you for your feedback. We have made changes tot he document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4818

Thanks
Sri

[2021-04-27 19:25] msbemba commented on #4747
@useyourblinker Thank you for your feedback. The document has that information and it says you need to connect to Exchange Online PowerShell before executing the cmdlet. I tested and it works after connecting to Exchange online module, So I don't think there are any changes needed in the document at this time.

Hope this helps!

Thanks
Sri

[2021-04-27 19:31] msbemba commented on #4753
@J-a-k-o-b Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4819

Thanks
Sri

[2021-04-27 19:40] msbemba commented on #4757
@CraigJahnke Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4820

It should read  "• When a license is removed from a user**, The Exchange online data that is associated with that account is held for 30 days**. After the 30-day grace period, the data is deleted and can't be recovered.

Hope this helps!

Thanks
Sri

[2021-04-27 19:41] JoeDavies-MSFT commented on #4457
@georgiahuggins Can you help with this issue? Thanks

[2021-04-27 19:47] msbemba commented on #4772
@MarzelLaning42 Thank you for your feedback. Centralized deployment of add-ins works on a Hybrid identity scenario as long as the mailbox is hosted in Exchange online.

Hope this helps!

Thanks
Sri

[2021-04-27 19:53] konstruktoid commented on #4756
Yeah, that script doesn't really follow the memory requirements either.

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux?view=o365-worldwide:
Disk space: 1GB
Memory: 1GB
No CPU requirements.

https://github.com/microsoft/mdatp-xplat/blob/master/linux/installation/mde_installer.sh#L17-L19
Cores: 2
Memory: 2048
Disk space: 1024

[2021-04-27 21:11] ssmiller60 opened #4822 "Missing information"
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/assign-licenses-to-users?view=o365-worldwide#assign-licenses-to-multiple-users

In the section "Assign licenses to multiple users" it should be mentioned that the "Active users" page has a limit of 40 users at a time and if you need to assign licenses for a large number of users, such as hundreds or thousands of users, use Powershell or g

[2021-04-27 21:21] josuvil opened #4823 "Are single quotes ['] characters valid for proxyaddress"
Hello,

According to this article, UPNs may contain a single quote ['] as a valid character. However, under proxy addresses heading, it states that single quotes are _invalid_. When creating user accounts, primary SMTP addresses are derived by UPNs. In my testing, I see that UPNs with single quotes also have a valid proxy address with a single quote.

The following Office 365 article shows ['] as

[2021-04-28 02:35] toddalbers opened #4831 "Enabling "Preset Security Policy" (Either Strict or Standard) creates a new Policy in each of the 3 sections that can not be deleted. Why?"
Why is it non-reversible?  You can disable it.  But, why can't you delete it?  If you make the mistake of "Enabling" one of these options, should you be forever committed to having it listed in each of the policy sections forever, even if you don't want it?

Or is something wrong with the "Delete" button on these 3 new "Strict" policies?  I try to delete them, and it lets me try in some cases, but

[2021-04-28 04:00] J-a-k-o-b commented on #4753
Thank you @msbemba for updating it. So, every components of Teams supports customer key encryption?

[2021-04-28 06:19] msbemba commented on #4753
@J-a-k-o-b That is correct. More information can be found here -https://docs.microsoft.com/en-us/microsoft-365/compliance/customer-key-tenant-level?view=o365-worldwide

[2021-04-28 09:12] FamousBern opened #4832 "GRAMMAR ERROR IN DELETING LABEL SECTION"
Kindly help clarify and correct the following sentence under "removing and deleting label"

Attached is the snip of the section.

![label](https://user-images.githubusercontent.com/32365949/116378477-d7ea3a80-a81a-11eb-9416-a9d8c74af497.PNG)

[2021-04-28 11:50] Rkhan-ms opened #4834 "Safe Docs - test malicous files"
Hi,

Can someone verify that the files included in this article will actually show up as malicous? I've set this up in my tenant as has my customer and in both instances we are seeing the same resulst. We can open the files even theough the article suggests that they shoul dbe highlighted as malicous.

Thanks in advance,

Ray

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-04-28 12:57] yogkumgit commented on #4756
@Dansimp Please share your opinion and help us in resolving the issue and PR. Thanks

[2021-04-28 14:11] AndersRask commented on #3450
@cabailey the command still is not showing at the documentation. It would be nice if it was added!
Also it is a bit of a mystery what the first default parameter is, since the parameter is not specified and documentation is not updated:

`$sites | ForEach-Object {Set-SPOTenant **$_.url** -SensitivityLabel $Id}`

By checking the definition of the cmdlet (`gcm set-spotenant | select -expand paramete

[2021-04-28 14:19] yogkumgit commented on #4753
@J-a-k-o-b I will close the issue, after PR is merged. Reopening.

[2021-04-28 14:19] yogkumgit commented on #4752
@J-a-k-o-b I will close the issue, after PR is merged. Reopening.

[2021-04-28 15:19] cabailey commented on #3450
@AndersRask  After more investigation, it seems the PowerShell cmdlet documentation won't be updated because this is considered a feature rather than a new parameter for Set-SPOTenant.  Instead, this page is the authoritative reference.  Please see the comment from the PM owner (SanjoyanM ) in https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4611 : "this syntax should work perfectly and

[2021-04-28 15:49] AndersRask commented on #3450
The code works, but it was unclear what parameter was used for Url, so I clarified this and showed a better and simpler syntax using pipe bind 😊

Regarding

That makes no sense whatsoever. If it is an available parameter it should be documented both in Docs and in cmdlet itself (using Get-Help)?

[2021-04-28 16:22] chrisda commented on #4834
@Rkhan-ms, you have the required Microsoft 365 E5 or Microsoft 365 E5 Security licenses, and one of those licenses is assigned to the user that you are testing? And you're testing in Microsoft 365 Apps for enterprise version 2004 or later?

[2021-04-28 17:54] chrisda commented on #4831
@toddalbers, this is already being discussed in #4804. Let's continue the discussion there. Feel free to jump in and comment on the steps I outlined there.

Thanks,

Closing

[2021-04-28 17:54] #4831 closed

[2021-04-28 19:57] msbemba commented on #4735
@EricKY26 Thank you for your feedback. I'm able to replicate this at my end. We will fix this in the backend and let you know.

Thanks
Sri

[2021-04-28 20:02] msbemba commented on #4780
@SetTrend Thank you for your feedback. When you change you nameservers to Microsoft it will break the other dependencies, like website. So you need to follow the below steps mentioned in the document.

Additional steps that might be required for email and website hosting:

Move all email addresses that use your domain to Microsoft 365 before you change your NS records.

Want to add a domain that's

[2021-04-28 20:04] msbemba commented on #4782
@mgetzem Thank you for your feedback. There are no such log files that get generated. Are you referring to an Admin audit log that confirms this change being made on the tenant?

Thanks
Sri

[2021-04-28 20:15] msbemba commented on #4788
@FrogThomas Thank you for your feedback. Based not the issue, I think you are referring to the document -https://docs.microsoft.com/en-us/exchange/monitoring/trace-an-email-message/message-trace-modern-eac

@yogkumgit I have created a PR#https://github.com/MicrosoftDocs/OfficeDocs-Exchange/pull/2583 for the same.

Thanks
Sri

[2021-04-28 20:16] msbemba commented on #4789
@natpascual1027 Thank you for your feedback. I shall test and update the document if needed.

Thanks
Sri

[2021-04-28 20:22] msbemba commented on #4791
@ArBixD Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4835

Thanks
Sri

[2021-04-28 20:26] msbemba commented on #4797
@vboyev-MSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4836

Thanks
Sri

[2021-04-28 20:30] msbemba commented on #4803
@chbreakthrough Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4837

Thanks
Sri

[2021-04-28 20:34] msbemba commented on #4805
@martillodecampo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4839

Thanks
Sri

[2021-04-28 20:37] msbemba commented on #4807
@sevenok Thank you for your feedback. Ideally, the Microsoft support team reaches out within 24 hours if the Delist is denied. If that did not happen, Please open a support ticket directly with Microsoft support via the need help section on the administrator to get this sorted.

Thanks
Sri

[2021-04-29 01:27] natpascual1027 commented on #4789
@msbemba Hi. I'm specifically having trouble on the scenario of detecting a custom sensitive info type on my endpoint. My setting is to block all actions (print, copy to clipboard, etc). Activity explorer sometimes show that the action with the document containing the sensitive info is detected but only audited. Not blocked.

[2021-04-29 01:28] sevenok commented on #4807
Hi @msbemba thanks for answering. I'll keep it in mind. I think it will be great to add this to the doc, that way everyone knows how to proceed in case this happens.

[2021-04-29 07:08] SetTrend commented on #4780
Hello @msbemba,

thank you for replying.

Actually, that is of no informational use. _"Select the type of DNS record you want to add"_ ... I do not "want to add" anything. I have no knowledge of what to add at all. I just followed the Microsoft 365 domain migration wizard's instructions.

Microsoft cannot expect everyone willing to migrate to Microsoft 365 to become a DNS expert.

The Microsoft 36

[2021-04-29 07:29] joegoerlich opened #4842 "Rollout the S/MIME Control at system level to make it work with Microsoft Edge"
While the Microsoft's Security Baseline for MS Edge recommends to set the policy 'NativeMessagingUserLevelHost" (Allow user-level native messaging hosts (installed without admin permissions)) to "Disabled", in order to MS Edge can only use native messaging hosts when they are installed at the system level.
The msi installer seems to not support installing the S/MIME Control on system level but onl

[2021-04-29 08:47] msbemba commented on #4780
@SetTrend Got it! Microsoft cannot provide that information as it depends on the type of website. So that is why the document states If you're not familiar with DNS, contact support at the domain registrar. Meanwhile, A and CNAME records for the website are the common ones that are used. So you may want to try that first to see if it works.

Thanks
Sri

[2021-04-29 11:19] SetTrend commented on #4780
Thank you, @msbemba.

Although I'm not a DNS expert, I believe there is a delimited set of rules in DNS configuration that must apply for a website to be reachable.

I would suppose the migration wizard to initially query the currently configured DNS server first before starting the migration and then suggest correct settings as a final step for finalize the migration.

[2021-04-29 12:27] yogkumgit commented on #4842
@joegoerlich Please indicate which document you are referring to. Thanks

[2021-04-29 12:47] joegoerlich commented on #4842
Im referring to the Microsoft Security baseline for MS Edge which is part of the Microsoft Security Compliance Toolkit. You can find the latest announcement here: https://techcommunity.microsoft.com/t5/microsoft-security-baselines/security-baseline-for-microsoft-edge-version-90/ba-p/2275943

[2021-04-29 15:01] anaguile commented on #4785
@yogkumgit , please put a hold on this request.

actually it appears the problem may be related to a different thing and that would mean that our documentation is fine.

I will report back.

[2021-04-29 15:18] jamilhaddadin opened #4846 "Adding Teams.live.com to the list"
It might be a good idea to add teams.live.com to the list of Urls, this links is needed when an MS Teams Consumer user creates a meeting and Office 365 Teams users wants to join.
I totally understand that MS Teams consumer is a different product, but you have already added a list of optional URLs for other products (outlook.com) so it might be acceptable to add teams.live.com here.

---
#### Docum

[2021-04-29 15:44] SetTrend commented on #4780
I removed the `NS` records from our DNS now, and everything seems to run smoothly now.

I don't understand why the domain migration wizard recommends setting `NS` servers to microsoft servers if that's not necessary.

I believe the usability of the wizard should be greatly overhauled.

And the documentation should explain the edge cases when to update `NS` DNS records - and when to leave them as-i

[2021-04-29 17:55] msbemba commented on #4798
@npherson Thank you for your feedback. We have added a question to the FAQs via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4847 and once it is approved by the author the document will be updated.

Thanks
Sri

[2021-04-29 17:58] msbemba commented on #4789
@natpascual1027 Thank you for the update. I was able to test this on a high level, Since you have issues with detecting a custom sensitive info type, we suggest you get in touch with Microsoft support via the Need help section on the admin center. If you think there are any changes required in the document post you communicate with support.

@yogkumgit  There are no changes required in the documen

[2021-04-29 17:59] msbemba commented on #4786
@yogkumgit This document seems to be up to date. No changes needed as of now.

[2021-04-29 18:05] Sherd21 opened #4848 "minimum Office version information"
suggestion is to add minimum supported Office version/build. it is not clearly stated in the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0ac0e1-6f08-2f8b-10c7-a967e53886f8
* Version Independent ID: f510237f-0ec9-d266-3ec6-0ad6b49e2522
* Content: [Get started with Microsoft 365 Endpoint data loss preventio

[2021-04-29 18:33] msbemba commented on #4796
@DeanGross Threat Analytics applies to Microsoft defender for office 365. No other specific License requirements as such. If the customer is not able to view Threat Analytics on the Microsoft Defender security center, Please have them log a case with Microsoft support via the need help option on the admin center.

Thanks
Sri

[2021-04-29 18:38] msbemba commented on #4785
@anaguile Thank you for your feedback. This document pertains more to Switching from Mcafee to Microsoft defender for Endpoint. So not sure if this change in required in this document. But as per your comment, we will wait for you to report back.

Thanks
Sri

[2021-04-29 18:39] funkadelic91 commented on #4714
Thank you for taking the time to update as well!  I appreciate it.  I'll be on the lookout for more areas over time

[2021-04-29 18:43] msbemba commented on #4778
@SetTrend Thank you for your feedback. Below is the description of groups in the document. I think it does explain precisely on what the groups can be used for, Is there any feature or group that you think is missing or creating ambiguity?

Microsoft 365 groups (formerly Office 365 groups) are used for collaboration between users, both inside and outside your company.
Distribution groups are used

[2021-04-29 18:49] msbemba commented on #4748
@SetTrend Thank you for your feedback. I'm working with the author to get the data updated.

Thanks
Sri

[2021-04-29 19:14] nikki-c opened #4850 "Highlight the section of what is not covered by retention"
Can the following section be highlighted as a purple note so it stands out. I am finding that clients are not aware that private channels are not covered by retention policies.

Teams messages in private channels are currently not supported for retention policies. Code snippets, recorded voice memos from the Teams mobile client, thumbnails, announcement images, and reactions from others in the for

[2021-04-29 19:21] nikki-c opened #4851 "Add more information about retention limitations for private channels"
In the section called 'Retention Polices for Teams section' there is a brief mention in point 3 that mentions that retention policies do not apply to private channels. Please add the following information to provide more details

Teams messages in private channels are currently not supported for retention policies. Code snippets, recorded voice memos from the Teams mobile client, thumbnails, annou

[2021-04-29 19:30] FrankMcGovern opened #4852 "Sensitivity Label Domain Limit"
Is there an upper limit to how many domains can be added to a sensitivity label's assigned permissions?

If not count limit, is there a size limit to the label itself by adding a ton of domains?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dd3497a-c02a-5fd6-12db-3a093f0fe17c
* Version Independent ID: 2ef81556-61b0-4

[2021-04-29 19:41] banhao opened #4853 "Before the 'filter' should insert '`'"
** Before the 'filter' should insert '`' **

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 72110011-1fc5-4e78-8e54-e43bc181b860
* Version Independent ID: c974e3d8-983a-02d4-d9dc-9603a3f8b510
* Content: [OData queries with Microsoft Defender for Endpoint](https://docs.microsoft.com/en-us/microsoft-365/security/defender-

[2021-04-29 20:34] msbemba commented on #4796
@yogkumgit There are no changes required in the document.

[2021-04-29 22:04] leifdavisson opened #4854 "Constancy in time quoted for restricted users documentation."
I have seen several different time amount given 1 hour, 3-4 hours. What is the amount of time it takes to unblock a user? Can we update the restricted dialog and documentation to match on the time? Can we just change them all to 24 hours that way the user knows not to send mass email from their mailbox.

Protection>Restricted Users said 1 hour

Admin Center>Get Help said 3-4 hours
![image](https:/

[2021-04-29 23:13] MHCLV opened #4855 "HOW Does One "Send As""
This article omits any reference or link on how one actually uses "Send As" of "Send on Behalf Of".   Put another way, now that I have permission to do this, how do I actually do it?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b725ac58-0fa5-9f7d-84fa-a8541477fe0e
* Version Independent ID: f2ac

[2021-04-29 23:32] cabailey commented on #4852
@FrankMcGovern  When you apply the label to a document or email, the encryption service creates a policy ("publishing license") for that piece of content, based on the domains/groups/users and the permissions you have specified for them. There is a size limit to what's supported but it doesn't nicely map to the number of domains/groups/users - there are other factors such as the length of these na

[2021-04-30 02:57] alareed opened #4858 "Set up multi-factor authentication"
Not a big deal although maybe see if what got me is something that could be a problem, could have just been one of thosee dys for me also. LOL.

Having these two paragraphs

- [Link](https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication?view=o365-worldwide#turn-on-modern-authentication-for-your-organization)
- [Link](https://docs.microsoft.

[2021-04-30 07:42] dana23746 opened #4859 "Teams powershell cmlet does not include all skype cmlets : New-CsOnlineVoiceRoute / Set-CsUse"
Hey,

Facing issue while trying to set up SBC within teams.
As i am no longer able to download the skype module, i've tryed to do it directly from teams, but cmlets are missing.

module version :
2.3.0      MicrosoftTeams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289b637a-ad53-2710-3b6e-7f4ac15916fa
* Version Inde

[2021-04-30 13:08] SetTrend commented on #4778
Thank you for replying.

Well, that's the peculiarities - but what are the similarities?

- Which of the group types can be addressed by e-mail?
- Which of the group types can be added to a Teams channel?
- ...

[2021-04-30 13:19] AndrewWarriner opened #4860 "Identify new/modified/removed entries"
[Enter feedback here]
Can this page with URL list be modified to highlighting (or some other method) to make it clear which entries are new/modified/removed - highlighting them in some way would make it easier/quicker to identify changes.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-e

[2021-04-30 13:34] #4736 closed

[2021-04-30 14:04] #4785 closed

[2021-04-30 14:22] yogkumgit commented on #4789
@msbemba Thank you very much for the contribution and sharing this explanation. @natpascual1027 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:22] #4789 closed

[2021-04-30 14:24] yogkumgit commented on #4786
@msbemba Thank you very much for the contribution and sharing this explanation. @Awesomecat713 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:26] yogkumgit commented on #4796
@msbemba Thank you very much for the contribution and sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 14:26] #4796 closed

[2021-04-30 14:32] #4805 closed

[2021-04-30 15:40] supportguy commented on #4462
Hello:

I'm trying to use the steps outlined in this doc, and I am having the same issue.

Mail is getting block but no report is being send to the sender.

Is there any updates on this?

[2021-04-30 16:51] #4504 closed

[2021-04-30 16:53] #4657 closed

[2021-04-30 16:57] yogkumgit commented on #4725
@msbemba  Thank you very much for the contribution and sharing this explanation. @bsfinkel  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update th

[2021-04-30 16:57] #4725 closed

[2021-04-30 16:59] SquirrelAssassin opened #4861 "How do I tag meeting invites?"
Yall have alot of good stuff. but where are the labels for meeting invites? its just as sensitive as literally anything.

Example:
Meeting invite:
Subject: were selling our company

no tags .... OH NOOOOOOOOOOOOOOOOOOOOOOOOOOOO

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d40ac52-6f02-b0f3-0c45-9f359473703b
* Versio

[2021-04-30 16:59] #4772 closed

[2021-04-30 17:07] yogkumgit commented on #4747
@msbemba Thank you very much for the contribution and sharing this explanation. @useyourblinker Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-30 17:07] #4747 closed

[2021-04-30 18:12] msbemba commented on #4462
@efrene We have escalated it to the author/product group. For immediate assistance, we request you to contact support via the need help section on the admin center.

Thanks
Sri

[2021-04-30 18:34] mjcaparas commented on #4696
adding some clarification.

[2021-04-30 18:34] #4696 closed

[2021-04-30 19:18] NiteshSharma2K19 commented on #4597
Hi @yogkumgit

Thanks for the information and confirmation. Can you please update that in the document? This will help others as well.

Regards

[2021-04-30 21:00] efrene commented on #4462
@msbemba  Can you let me know who you escalated this to on the product team side?   I want to verify with them if any changes are needed to the article.  Thanks!

[2021-04-30 22:45] bilginbaldji opened #4863 "CSV Import for LAN subnet office locations"
[Enter feedback here]
4 b. CSV import fails if value is entered in the Name column with error "Location id/name can't be edited.". The article defines the column as required.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e748ed-63fe-0d00-6b60-c1a778797afa
* Version Independent ID: 3cd66c90-ed09-7c28-7dbb-0a11769f803

[2021-05-01 16:29] cabailey commented on #4861
@SquirrelAssassin   Thanks for your feedback!  Meeting invites don't support sensitivity labels at this time, which is why you won't find this as a documented scenario. In Office apps, sensitivity labels are supported by files and emails, and for Teams these labels are supported for the team site. I agree applying sensitivity labels to meetings would be great addition and while we're transitioning

[2021-05-01 16:29] #4861 closed

[2021-05-01 17:04] artemterentyev opened #4864 "Shifted columns"
It looks like values in sub-category rows of the subscription table should be shifted one column to the right.
![image](https://user-images.githubusercontent.com/83510751/116789605-7c12f200-aa64-11eb-82be-91fdcec00437.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a802bdc-9d61-ea4e-6161-46e67fa78681
* Version Ind

[2021-05-02 07:40] sandeepmzc opened #4865 "Screenshots are not clear"
It would be helpful If these screenshots have a zoom option. Currently, it's difficult to see it clear unless I Zoom the full page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6713dbeb-b6cf-eaf3-58a9-ffb8a9b5e858
* Version Independent ID: 858c0b49-3ffa-7bb0-9a0c-4b81b89b08c9
* Content: [Microsoft Compliance Manager

[2021-05-02 08:56] friek108 opened #4867 "Required DNS Settings (Can't find MX records) doesn't exist"
There is no option: "Required DNS settings" - doesn't exist anywhere or it's impossible to find.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 854cbadf-a802-0782-5a3a-b839995ff7fd
* Version Independent ID: b511466a-2505-4e90-548c-3fa5b6f2aedc
* Content: [Gather the information you need to create DNS records - Microsof

[2021-05-02 16:28] mifurm opened #4869 "~/Downloads/eicar.com.txt will not find a path on most Linux distros"
[Enter feedback here]

In the manual you will command to download eicar file like:
curl -o ~/Downloads/eicar.com.txt https://www.eicar.org/download/eicar.com.txt
It wont work as the path ~/Downloads/eicar.com.txt does not exists on most Linux distros.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab0b894-0199-7515-b06

[2021-05-03 06:20] msbemba commented on #4462
@efrene This was escalated to the author/PG thru @yogkumgit  and we do not have information on who is working on it from PG.

Thanks
Sri

[2021-05-03 06:37] msbemba commented on #4780
@SetTrend The document is for people who want Microsoft 365 to manage your DNS records for you. (If you prefer, you can manage your own DNS records (Link with instructions are provided. The document also has been updated with the below Caution

"When you change your domain's NS records to point to the Microsoft 365 nameservers, all the services that are currently associated with your domain are af

[2021-05-03 06:37] msbemba commented on #4778
@SetTrend That's a valid point. I'll add the information to the document shortly.

[2021-05-03 07:15] msbemba commented on #4778
@SetTrend I have made changes to the document via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4872

[2021-05-03 07:29] msbemba commented on #4754
@alschneiter Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4873. Once the author approves, the document will be udpated.

Thanks
Sri

[2021-05-03 07:38] prashant1380 opened #4874 "Is it possible to create a label only for Outlook"
I am looking for a confirmation if it is possible to create a label only for Outlook and not for other office apps (work, excel etc.)?

[2021-05-03 07:47] msbemba commented on #4744
@seymourdixongais Thank you for your feedback.

* Service consists of different services. For example, Exchange Online, Sharepoint Online, Teams, etc.
* Apps include Applications like Word, Outlook, Excel, Teams, etc.
* The active  + inactive users include all paid and Free licenses like Teams Exploratory licenses assigned out.

Hope this information helps!

Thanks
Sri

[2021-05-03 08:28] Balamurugan-dot opened #4875 "There is no clear information about licensing requirments for Cortana"
There is no clear information  about licensing requirements for Cortana, also no detailed information about activating Cortana in Outlook and Teams clients

[2021-05-03 08:28] #4875 closed

[2021-05-03 08:29] Balamurugan-dot opened #4876 "There is no clear information about licensing requirements for Cortana"
There is no clear information  about licensing requirements for Cortana, also no detailed information about activating Cortana in Outlook and Teams clients

[2021-05-03 08:42] SetTrend commented on #4778
Thank you, @msbemba, your expertise is very much appreciated.

[2021-05-03 08:42] #4778 closed

[2021-05-03 08:53] SetTrend commented on #4780
Well, it's rather the missing information about _when_ to setup `NS` records and when to rather refrain from doing so. The documentation (as well as the wizard itself) lacks this information.

When you're looking for information on what's required to migrate your domain from a custom provider to Microsoft 365, this (misleading) content is found:

### (1)
[Set up your domain (host-specific instruct

[2021-05-03 08:56] SetTrend commented on #4780
Do you know, is there a repository for the domain setup wizard? I'd like to add an issue there and cross-reference to this issue here, so they have a change to amend the domain setup wizard, too.

[2021-05-03 09:20] msbemba commented on #4780
@SetTrend This document -https://docs.microsoft.com/en-us/microsoft-365/admin/dns/update-dns-records-to-retain-current-hosting-provider?view=o365-worldwide talks about updating DNS Records in the admin center.

I'll add these steps to the document and hopefully, that should help customers.

Thanks
Sri

[2021-05-03 11:32] Floriszz opened #4878 "Unclear about Office 365"
[Enter feedback here]
The url below shows in the left menu; 'MFA for Office 365', which is linked to this page. But on this page there is no mentioning about 'Office 365', only 'Microsoft 365'.
https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-mfa-licensing

https://docs.microsoft.com/en-us/office365/admin/security-and-compliance/set-up-multi-factor-authentication
is r

[2021-05-03 12:10] gbriem opened #4879 "Check for EvoSts Auth server powershell line is not correct"
Hi !,

It states to check the authserver with command:

Get-AuthServer | where {$_.Name -eq "EvoSts"}

Which returns nothing even when it's correctly implemented.

It should be:

Get-AuthServer | where {$_.Name -like "EvoSts*"}

[2021-05-03 12:12] gbriem commented on #4879
Maybe even better:
Get-AuthServer | where {$_.Name -like "EvoSts*"} | ft Name,IsDefaultAuthorizationEndpoint,Enabled

[2021-05-03 12:42] yogkumgit commented on #4874
@prashant1380 Please suggest which document you are referring to and having improvement feedback.

[2021-05-03 12:44] yogkumgit commented on #4876
@Balamurugan-dot Please indicate which document you are referring to and having improvement feedback. Thanks

[2021-05-03 12:45] yogkumgit commented on #4879
@gbriem  Please indicate which document you are referring to and having improvement feedback. Thanks

[2021-05-03 12:59] yogkumgit commented on #4768
@MikePlumleyMSFT  Please add your comment and help us in resolving this issue. Thanks.

[2021-05-03 13:16] msbemba commented on #4816
@MSFTEfeedback Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4880

Thanks
Sri

[2021-05-03 13:29] yogkumgit commented on #4749
@twernermsft  Please add your comment and help us in resolving this issue. Thanks.

[2021-05-03 13:30] yogkumgit commented on #4750
@mjcaparas  Please add your comment and help us in resolving this issue. Thanks.

[2021-05-03 13:33] yogkumgit commented on #4761
@kelleyvice-msft and @LauraWi  Please add your comment and help us in resolving this issue. Thanks.

[2021-05-03 13:35] yogkumgit commented on #4808
@Dansimp Please share your opinion and help us in resolving the issue and PR. Thanks

[2021-05-03 13:41] msbemba commented on #4641
@myfope Thank you for the feedback. We have removed the Classification on the file in the backend. The PDF does not contain the header now.

@yogkumgit The issue can be closed.

Thanks
Sri

[2021-05-03 13:53] yogkumgit commented on #4641
@msbemba Thank you very much for the contribution and sharing this explanation. @myfope Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-03 13:53] #4641 closed

[2021-05-03 14:28] yogkumgit commented on #4462
@efrene I sent the email/escalated to you only. :)

[2021-05-03 14:41] yogkumgit commented on #3715
@kwekuako Gentle reminder, please resolve this. Thanks

[2021-05-03 14:53] yogkumgit commented on #4052
@kwekuako Please add your comment and help us in resolving this issue. Thanks.

[2021-05-03 15:26] staylor130 opened #4881 "Page does not contain information as listed from another page."
[Enter feedback here]
This page is referenced by page:
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dmarc-to-validate-email?view=o365-worldwide
to learn how to "Create DNS records for Microsoft 365 when you manage your DNS records."  However this page does not provide information on how to create the DMARC record and even points back to referenced page.

---
####

[2021-05-03 15:50] Balamurugan-dot commented on #4876
Hi Yogesh,

I'm talking about this documentation<https://docs.microsoft.com/en-us/microsoft-365/admin/misc/cortana-integration?view=o365-worldwide>.

Thanks!

Regards,
B.G

From: Yogesh Kumar ***@***.***>
Sent: Monday, May 3, 2021 6:14 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Balamurugan Ganesan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Ther

[2021-05-03 16:56] gbriem commented on #4879
Hi,

Document:
https://docs.microsoft.com/en-us/microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication?view=o365-worldwide

I think my suggestion is applicable if the oauth config is done by the Exchange hybrid wizard.

​Met vriendelijke groet / With kind regards / Mit freundliche Grüssen,

Guido Briem
Noorderpoort 69, 5916 PJ Venlo - Postbus 213, 5900 AE Venlo
t: +31

[2021-05-03 17:29] mjcaparas commented on #4750
Please contact support.

[2021-05-03 17:29] #4750 closed

[2021-05-03 18:07] mgetzem commented on #4782
Yes, i apologize. I meant which admin audit log would capture this change

[2021-05-03 18:30] msbemba commented on #4850
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4885

Thanks
Sri

[2021-05-03 18:35] msbemba commented on #4832
@FamousBern Thank you for your feedback. We have made changes to the document:-https://docs.microsoft.com/microsoft-365/compliance/create-sensitivity-labels  via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4886

Thanks
Sri

[2021-05-03 18:50] msbemba commented on #4851
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4887

Thanks
Sri

[2021-05-03 18:51] FC-EricWeller opened #4888 "Product feedback wrong link?"
The link for feedback about the product leads to the general info page for the Windows 10 feedback hub app.  That app is for providing feedback on Windows 10.  How can we provide feedback about Bookings?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7484dd4-5d94-dd6c-0dbe-551c852677c1
* Version Independent ID: 257d60

[2021-05-03 19:02] msbemba commented on #4782
@mgetzem You can view the admin audit log from the EAC. You can find the steps here -https://docs.microsoft.com/en-us/exchange/security-and-compliance/exchange-auditing-reports/view-administrator-audit-log#use-the-eac-to-view-the-administrator-audit-log

The specific cmdlet that you need to look for in the Log would be Set-HostedOutboundSpamFilterPolicy

Hope this helps!

Thanks
Sri

[2021-05-04 03:39] mattsmacblog opened #4891 ""Onboarding Status" filter option on the Device Group pages"
Can we please have a "Onboarding Status" filter option on the Device Group pages? In the "Specify the matching rule that determines which devices belong to this group." section.

With this new device scouring, I have over 1000 devices mixed in with my 36 onboarded devices...  I want to be able to separate them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-05-04 06:15] prashant1380 commented on #4874
I was referring to this document https://docs.microsoft.com/en-us/microsoft-365/compliance/create-sensitivity-labels?view=o365-worldwide. I tried to look for this information but could not find it, so it would be good if you can provide the clarification within this document?

[2021-05-04 08:16] EricKY26 commented on #4735
@msbemba Thank you. Then I'll wait for the good news :)

[2021-05-04 09:33] turnma opened #4893 "Link to uservoice no longer accurate"
Page links to uservoice for making suggestions about future Lockbox product scope.  However, uservoice page now states that is is effectively no longer active.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52aa5-3876-1854-0fcc-279d694cb45d
* Version Independent ID: bfa3001d-e71a-705c-3492-5add564d131d
* Content: [C

[2021-05-04 10:32] yogkumgit commented on #4846
@kelleyvice-msft and @LauraWi Please help us in resolving this issue

[2021-05-04 11:02] yogkumgit commented on #4782
@msbemba Thank you very much for the contribution and sharing this explanation. @mgetzem Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-04 11:02] #4782 closed

[2021-05-04 12:34] SDkempf94 opened #4895 "Article misleading - received further information from engineering team"
Hi Team

We've received feedback from a customer that they wanted to have more explicitly clear in this documentation under the unsupported browsers section.
During troubleshooting we discovered that DLP policies only work with Microsoft Edge Chromium and it's the only supported browser - please can you make this explicitly clear in the documentation?

Even if you configure the policy on Chromium

[2021-05-04 13:07] yogkumgit commented on #4662
@chrisda Thank you very much for sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-04 13:07] #4662 closed

[2021-05-04 13:10] msbemba commented on #4810
@jgriff500 Thank you for your feedback. I have not been able to locate the Customer app launcher as well.  We are internally checking with the Author to confirm if this feature has been removed. Based on the update I shall update the document.

Thanks
Sri

[2021-05-04 13:55] yogkumgit commented on #4426
@billvolt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-04 13:55] #4426 closed

[2021-05-04 13:58] yogkumgit commented on #4549
@dreeves14 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-04 13:58] #4549 closed

[2021-05-04 13:59] yogkumgit commented on #4804
@toddalbers Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-04 14:00] #4804 closed

[2021-05-04 14:14] yogkumgit commented on #2638
@LaPhi Hope you are following the given advise. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-04 14:14] #2638 closed

[2021-05-04 17:32] chvukosw commented on #4865
Thank you for this feedback. We currently don't have a zoom option but we will look into creating the size of these screenshots.

[2021-05-04 17:32] #4865 closed

[2021-05-04 18:26] LauraWi commented on #4846
Following up with @jamilhaddadin via internal channels regarding the process for updating this article and getting teams onboarded to the endpoint process.

[2021-05-04 18:26] #4846 closed

[2021-05-04 18:51] FrankMcGovern commented on #4852
@cabailey - Thank you for the insight. I think it would be wise to discuss this on the Docs page.

[2021-05-04 19:03] dcccpavitras opened #4897 "Booking Link Availability Incorrect"
Using the custom availability option, I set specific hours, but they are not appearing in the booking link.

![image](https://user-images.githubusercontent.com/83669459/117055961-c48f1180-ace9-11eb-8ce4-3abfae61f562.png)

![image](https://user-images.githubusercontent.com/83669459/117056020-d40e5a80-ace9-11eb-9b23-027ddf2308b2.png)

[2021-05-04 20:48] LauraWi commented on #3623
PR merged

[2021-05-04 20:48] #3623 closed

[2021-05-04 20:58] LauraWi commented on #4893
Current experience is intentional. In the meantime, the page customers are taken to for product feedback does provide other channels they can use to provide feedback.

[2021-05-04 20:58] #4893 closed

[2021-05-04 20:58] cabailey commented on #4852
@FrankMcGovern  This limitation impacts very few customers and we're looking at creating a KB for it. One argument I've heard against entering so many addresses is that "a secret shared with so many people is no longer a secret" and you might find the "any authenticated user" setting is a better option. For further advice, I recommend posting your requirement on the MIP Yammer group: https://www.y

[2021-05-04 20:58] #4852 closed

[2021-05-04 21:08] LauraWi commented on #4273
@pandrew1 Please advise if Teams org needs to onboard this endpoint.

[2021-05-04 21:09] LauraWi commented on #4188
I am following up to determine whether Stream requires onboarding to the tool that generates this article.

[2021-05-04 22:57] kwekuako commented on #4052
Hi can you help me understand? Does a link need a redirect or the whole topic?

From: Yogesh Kumar ***@***.***>
Sent: Thursday, March 18, 2021 7:09 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Kweku Ako-Adjei ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Topic is orphaned. Not in TOC. (#4052)

Assigned #4052<https://nam06.safelinks.protection.outlook

[2021-05-04 23:04] kwekuako commented on #3715
@yogkumgit, looks like its been resolved. I don't see that text in the topic anymore.

[2021-05-05 00:51] LauraWi commented on #3634
PR now merged

[2021-05-05 00:51] #3634 closed

[2021-05-05 08:37] PhilStollery opened #4899 "Missing information"
This page seems to be incomplete: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/prepare-deployment?view=o365-worldwide#environment

There is a description column in the table, but no description provided for each entry.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c20ab25-de01-7794-8025-4

[2021-05-05 09:13] JeroenDronkers opened #4900 "ATP SA Dynamic Delivery with inbox rules to move messages to other mailbox folder"
This article needs an update it seems in regards to the part about the limitations of Dynamic Delivery. It says that it won't work when emails are forwarded out of the cloud mailbox but according to previous escalation Dynamic Delivery also doesn't work when inbox rules move the email to a different folder than the inbox. See: [link redacted]. Receiving cases about this in support

---
#### Docume

[2021-05-05 12:39] yogkumgit commented on #4832
@msbemba Thank you very much for the contribution and updating the documentation with PR. @FamousBern Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-05 12:39] #4832 closed

[2021-05-05 12:55] yogkumgit commented on #4816
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MSFTEfeedback Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-05 12:55] #4816 closed

[2021-05-05 13:08] yogkumgit commented on #3715
@msbemba Thank you very much for the contribution and sharing this explanation. @ScottBeeson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-05 13:08] #3715 closed

[2021-05-05 13:52] #4729 closed

[2021-05-05 14:01] fergusstrachan opened #4901 "Deploying Defender without user interaction"
The deployment instructions include adding file and VPN permissions to the app, but the app itself asks also for the "Display over other apps" permission, and apparently won't work without the user manually opening Defender and granting this right.

Isn't there a way to assign all the rights etc administratively so the user doesn't have to do anything at all?

[Enter feedback here]

---
#### Docum

[2021-05-05 15:20] SquirrelAssassin opened #4902 "10 auto labeling policies will not be enough by any means"
We want to make labels that are restricted to <mycompany.com and yourcompany.com> and auto label EVERYTHING that goes into a SharePoint site.  Then block all attachments from going to yourcompany.com through email rules.  We will have 100+ of these auto labeling requirements (one per vendor).  How can I request a increase for this for our tenant?

We all know that DLP has generally failed as a too

[2021-05-05 15:43] cabailey commented on #4902
@SquirrelAssassin  If your request for auto-labeling is about scaling rather than functionality, this is currently under development and if you have an immediate need to unblock deployments, open a ticket with Microsoft Support.  If your request is to change or add functionality, use the following form: https://customervoice.microsoft.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRxOwaHW_l8dC

[2021-05-05 15:43] #4902 closed

[2021-05-05 16:18] chrisda commented on #4900
@JeroenDronkers, I updated the topic.

Thanks for the feedback.

Closing

[2021-05-05 16:18] #4900 closed

[2021-05-05 16:37] msbemba commented on #4853
@banhao Thank you for your feedback.I see other issues in the document which I will be fixing shortly, Can you elaborate on which example  "`"  is missing?

Thanks
Sri

[2021-05-05 17:38] banhao commented on #4853
@msbemba In the online document, the example is like following:
'''
HTTP GET  https://api.securitycenter.microsoft.com/api/machines?$filter=startswith(computerDnsName,'mymachine')
'''

But when I used PowerShell to test it, the URL is like following:
'''
$url = "https://api.securitycenter.microsoft.com/api/machines?`$filter=startswith(computerDnsName,'$ComputerName')"
'''

I spent lots of time to

[2021-05-05 17:39] msbemba commented on #4842
@joegoerlich Thank you for your feedback. This sounds more like a support-related query. We request you to contact Support via the need help section on your M365 admin center.

@yogkumgit The issue can be closed as this is a support-related question.

Thanks
Sri

[2021-05-05 17:39] chrisda commented on #4784
@mrstephenson2142, based on research and contacting people, it sounds like the next notification should contain all email since the last notification.

Your best course of action is to open a support case about this. Report back here with the final result, which may or may not require an update to the documentation.

[2021-05-05 18:41] msbemba commented on #4823
@josuvil Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4904

Thanks
Sri

[2021-05-05 18:53] msbemba commented on #4822
@ssmiller60 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4905

Thanks
Sri

[2021-05-05 18:58] msbemba commented on #4854
@leifdavisson Thank you for your feedback. The document has been updated with a note stating that it could up to 24 hours for all restrictions to be removed from the user. While we see Majority of the time it takes less than 4 hours for the user to start sending emails, so the get-help numbers cannot be changed.

Thanks
Sri

[2021-05-05 19:05] msbemba commented on #4855
@MHCLV Thank you for your feedback. We have added a related article to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4906

The document - https://docs.microsoft.com/en-us/microsoft-365/admin/manage/send-email-as-distribution-list?view=o365-worldwide has instructions to send as a Distribution list.

Hope this helps!

Thanks
Sri

[2021-05-05 19:35] MHCLV opened #4907 "Remember Outlook The Program??"
This article is only half complete because it offers no information on how to accomplish the subject task from Outlook the program.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ce15c00-cd78-c0d9-985f-bd17206e1d50
* Version Independent ID: e958aac9-a604-6ff6-acc5-e2e172b821c2
* Content: [Send email as a distribution

[2021-05-05 19:57] sinnamingrrl opened #4908 "Is it possible to list all potential safety tips that could be exposed to users based on Malware, Phishing and Spam on this page?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1daade0-c937-6daf-cdc5-e6e23214426d
* Version Independent ID: 49836613-b9a3-fc37-ffc8-3589dda16d45
* Content: [Safety tips in email messages - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/safety-tips-in-offi

[2021-05-05 20:08] msbemba commented on #4858
@alareed Thank you for your feedback. Ideally, the Turn off Legacy per-user MFA should be a part of the Before you being section (linked). I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4909

Thanks
Sri

[2021-05-05 20:13] msbemba commented on #4860
@AndrewWarriner Thank you for your feedback. I have looked at the document and this is a VERY highly structured reference topic that is to be used as a dictionary and is maintained by the engineering team. This cannot be modified at this point in time.

@yogkumgit There are no changes required in the document at this point in time.

Thanks
Sri

[2021-05-05 20:22] msbemba commented on #4864
@artemterentyev Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4911

Thanks
Sri

[2021-05-05 20:22] chrisda commented on #4908
@sinnamingrrl, I'm already in the process of trying to track this down now..

[2021-05-05 20:33] msbemba commented on #4867
@friek108 Thank you for your feedback. The options have changed and we have made those changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4912

Thanks
Sri

[2021-05-05 20:41] MikePlumleyMSFT commented on #4768
Thanks, @nikki-c, @yogkumgit. I added a data residency section to the doc.

[2021-05-05 20:51] msbemba commented on #4878
@Floriszz Thank you for your feedback. As of April 21, 2020, the official branding of Microsoft's productivity suite has changed from Office 365 to just Microsoft 365. The new naming convention reflects Microsoft's strategy of providing a single complete productivity platform for its customers. So there are no changes required in the document - https://docs.microsoft.com/en-us/office365/admin/secu

[2021-05-05 21:00] msbemba commented on #4879
@gbriem Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4914

Thanks
Sri

[2021-05-05 21:01] leifdavisson commented on #4854
Thanks #Close

On Wed, May 5, 2021 at 11:58 AM Sriraman M S ***@***.***>
wrote:

[2021-05-05 21:08] msbemba commented on #4897
@dcccpavitras Thank you for your feedback. Let me test this and update you. Meanwhile, do you have a document that refers to these steps that you are following?

Thanks
Sro

[2021-05-05 21:10] dcccpavitras commented on #4897
I do not have a document other than the screenshots I attached

From: Sriraman M S ***@***.***>
Sent: Wednesday, May 5, 2021 5:09 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Pavitra Abraham ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Booking Link Availability Incorrect (#4897)

@dcccpavitras<https://nam02.safelinks.protection.outlook.com/?url=htt

[2021-05-05 21:15] mlamberty opened #4915 "Need information about the Update Type in Improvement actions for secure score"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 75a2c77d-f8c2-b663-57a1-1b1ec8565e89
* Version Independent ID: 69cc2b0f-d0d0-d4b1-8cb9-13c246d67e70
* Content: [Assess your security posture through Microsoft Secure Score](https://docs.microsoft.com/en-us/microsoft-365/security/defender/microsoft-sec

[2021-05-05 22:56] chrisda commented on #2684
@TimAbmgf, apologies for the delay.

Can you confirm or deny if there is some type of automatic URL redirection going on that forces HTTP requests to HTTPS (i.e., 302 error redirection)?

I'm told that if there is no automatic redirection, then HTTP and HTTPS entries are treated separately. People with domains that don't automatically redirect don't experience the automatic replacement swap as you

[2021-05-06 00:30] SquirrelAssassin commented on #4902
Did you say yammer?  Can I get a adult in here?

[2021-05-06 05:29] flodorf1 opened #4917 "Change SAS Key"
Please add details if the SAS key can be changed or manually expired... For migrations between providers it would be great to let a 3rd party upload directly to a customers Azure ingestion storage... After the upload the access key should be revoked ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4271558-62a9-db3c-

[2021-05-06 07:46] AndrewWarriner commented on #4860
Thanks for your response anyway, appreciate it.

[2021-05-06 07:46] #4860 closed

[2021-05-06 11:59] Balamurugan-dot opened #4920 "There is no clear information about licensing requirements for Cortana, also no detailed information about activating Cortana in Outlook and Teams clients"
There is no clear information about licensing requirements for Cortana, also no detailed information about activating Cortana in Outlook and Teams clients

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fad4b3d3-b509-c6c6-e842-b53c68100c4e
* Version Independent ID: ec63705a-7ce3-abf6-5f4f-fe5bc95bc9b8
* Content: [Cortan

[2021-05-06 12:15] geo2mac opened #4921 "URL issue"
The page references a URL with German TLD. See highlighted pic

![image](https://user-images.githubusercontent.com/54373200/117296611-421a6500-ae43-11eb-9250-c96627a91685.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 83719909-241b-2902-5ff1-496934da24e3
* Version Independent ID: d05e079d-f0d6-11ac-577c-f407cc49fc

[2021-05-06 12:43] danmyhre opened #4923 "Bad Link in Referenced Workbook"
The excel workbook references an internal domain (https://review.docs.microsoft.com/). This results in a forbidden error for users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2baec804-4a76-95ac-3595-985629448fd9
* Version Independent ID: c0a5fb9d-93be-b448-5bf2-4c3bdd787b8e
* Content: [Define information barrier po

[2021-05-06 12:55] Floriszz commented on #4878
Dear,
Does that mean there is no difference between Office 365 E3 and Microsoft 365 E3 subscription!? According to other resources there is a difference exactly in regards to EMS included or not and of course the pricing.
So just renaming is not the case, is it?
________________________________
From: Sriraman M S ***@***.***>
Sent: Wednesday, May 5, 2021 10:51:20 PM
To: MicrosoftDocs/microsoft-365

[2021-05-06 13:24] yogkumgit commented on #4842
@msbemba  Thank you very much for the contribution and sharing this explanation. @joegoerlich Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2021-05-06 13:24] #4842 closed

[2021-05-06 13:32] yogkumgit commented on #4784
@mrstephenson2142 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable

[2021-05-06 13:32] #4784 closed

[2021-05-06 14:12] yogkumgit commented on #4854
@msbemba Thank you very much for the contribution and sharing this explanation. @leifdavisson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-06 14:12] #4854 closed

[2021-05-06 14:22] yogkumgit commented on #4864
@msbemba Thank you very much for the contribution and updating the documentation with PR. @artemterentyev Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-06 14:22] #4864 closed

[2021-05-06 14:27] yogkumgit commented on #4768
@nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-06 14:28] #4768 closed

[2021-05-06 14:31] yogkumgit commented on #4878
@msbemba

[2021-05-06 14:39] msbemba commented on #4878
@Floriszz Office 365 as a service has been rebranded as MIcrosoft 365.

[2021-05-06 14:44] msbemba commented on #4878
@Floriszz Thank you for your feedback. That is a good question. Office 365 as a service has been rebranded as Microsoft 365. Below are the changes you will see in the name of the subscriptions

Some Office 365 subscriptions automatically become Microsoft 365 subscriptions. No action required if you had older licenses.

Office 365 Personal becomes Microsoft 365 Personal.
Office 365 Home becomes Mic

[2021-05-06 15:05] msbemba commented on #4855
@MHCLV Thank you for your feedback. The author confirmed that a Tip has now been added to the document which talks about how to Send as a group.

@yogkumgit There are no more changes required in this document and the issue can be closed.

Thanks
Sri

[2021-05-06 16:05] #4869 closed

[2021-05-06 16:30] vboyev-MSFT opened #4926 "Clarification - if endpoint is already onboarded to MDE - you do not need to re-onboard"
Can we update the onboarding section to reflect if the endpoint is already onboarded to MDE - you don't have to redeploy MDE - you just need to turn on the service integration?

https://docs.microsoft.com/en-us/microsoft-365/compliance/endpoint-dlp-getting-started?source=docs&view=o365-worldwide#with-devices-onboarded-into-microsoft-defender-for-endpoint

Maybe something like:
If the endpoint is a

[2021-05-06 16:49] markjjo commented on #4917
@flodorf1 Thanks for the feedback. Altering in any way the SAS key that is generated by network upload wizard is not supported. The SAS key is generated to upload PST files to a Microsoft-provided Azure Storage area. When a corresponding PST Import job is created, the service looks for the uploaded PST files in the storage area specified by the SAS key. Import job would fail because PST files woul

[2021-05-06 16:49] #4917 closed

[2021-05-06 16:51] Floriszz commented on #4878
Thank you. I left my feedback as suggested to the first document url. As it is unclear what level of MFA is included in 'Office 365'.

[2021-05-06 16:51] #4878 closed

[2021-05-06 17:24] sanderdewit opened #4927 "missing code to update IOC"
The page describes how to add IOCs and this works perfectly.
However updating van Indicator seems to be not possible, it will always create a new one.

Please provide some examples if updating is possible.
if updating is not possible, please change the page name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ea229ca-

[2021-05-06 17:59] chrisda commented on #2684
@TimAbmgf, the original topic is now gone and redirects to  <https://docs.microsoft.com/microsoft-365/security/office-365-security/safe-links#do-not-rewrite-the-following-urls-lists-in-safe-links-policies>, so I added the following text there:

Thanks for the feedback.

Closing

[2021-05-06 18:36] cmcatee-MSFT commented on #4921
This was a due to a markdown error, which I have fixed.

[2021-05-06 18:36] #4921 closed

[2021-05-06 19:18] syntaxbearror opened #4930 "Outdated Information in Section "Learn how to get a new client secret""
To obtain a new secret, the section in the menu has changed from Keys to Certificates & Secrets. Then there is a section on that page specifically for Client Secrets, where you can issue a new secret, or delete existing ones.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86d8f68c-8e4e-e4e7-4bb4-ab50b7f509b6
* Version

[2021-05-06 19:53] CJScott88 commented on #4033
Hello @efrene any progress on this? We have another customer that is using an older legacy version of this report that is no longer working properly and would like to update.

[2021-05-06 20:08] efrene commented on #4033
@CJScott88 Sorry,  I got a bit delayed in addressing this. I will make sure to make time for this over the next few days.

[2021-05-06 20:58] #2684 closed

[2021-05-06 21:45] nikki-c opened #4932 "Teams chats an be reconstructed in Advanced eDiscovery"
This statement needs updating to include the functionality for conversation threading in Advanced eDiscovery.
(Items found in eDiscovery searches can be exported, however there no context or structure from their original source remains – they are simply individual messages.)

Using advanced eDiscovery you can reconstruct a Teams chat conversations see this link for more info https://docs.microsoft

[2021-05-06 22:53] LauraWi commented on #4188
After conferring with the engineering SMEs for Office 365 endpoints, I have determined that it would not be appropriate to add these Stream endpoints to the O365 article. Guidance in Stream-specific article may need to be updated. This has been flagged to that team.

[2021-05-06 22:53] #4188 closed

[2021-05-07 02:22] nsrderooy opened #4933 "add --no-pager to journalctl command"
The following does not work;
`sudo journalctl | grep 'microsoft-mdatp'`
use
`sudo journalctl --no-pager | grep 'microsoft-mdatp'`

[add --no-pager to journalctl command]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a63da4df-5398-2a7f-3cd0-a5069cfe53c5
* Version Independent ID: 6ae07a13-f053-0793-c140-b1c56f9ab285
* C

[2021-05-07 05:56] pandrew1 commented on #4273
I made a request to the Teams engineering team regarding this

[2021-05-07 09:02] msbemba commented on #4897
@dcccpavitras Thank you for your feedback. This sounds more like a support issue as per my testing it works accurately on other tenants. You can create a support ticket via the need help option on the admin center and a Microsoft support representative will be able to take this forward.

@yogkumgit  There are no changes required, We can proceed with closing the issue.

Thanks
Sri

[2021-05-07 09:12] msbemba commented on #4888
@FC-EricWeller Thank you for your feedback. The current Product feedback link is common for all Microsoft documents. We have added a related link to the document to submit feedback via the user voice section. You can use this for providing product feedback till the feedback hub starts accepting feedback for all Microsoft products.

![image](https://user-images.githubusercontent.com/45987684/117426

[2021-05-07 09:22] msbemba commented on #4874
@prashant1380 Thank you for your feedback. A label cannot be created specifically for outlook. But if your questions are about applying/enforcing restrictions in outlook, then you can use Do not forward and Encrypt only restrictions. You can find more information in https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption-sensitivity-labels?view=o365-worldwide#:~:text=Outlook%20restric

[2021-05-07 09:32] konstruktoid commented on #4756
Hi again @cjkeist, could you verify the shell script after the code merge?

[2021-05-07 09:38] msbemba commented on #4881
@staylor130 Thank you for your feedback. You are right, The link does not help in adding a DMARC record on your DNS host, I'll proceed with removing the statement, however, there are instructions to create a DMARC record (https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dmarc-to-validate-email?view=o365-worldwide#best-practices-for-implementing-dmarc-in-microsoft-365

[2021-05-07 13:00] yogkumgit commented on #4855
@msbemba Thank you very much for the contribution and sharing this explanation. @MHCLV Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:00] #4855 closed

[2021-05-07 13:02] yogkumgit commented on #4823
@msbemba Thank you very much for the contribution and updating the documentation with PR. @josuvil Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:08] yogkumgit commented on #4879
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gbriem Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:08] #4879 closed

[2021-05-07 13:14] yogkumgit commented on #4822
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssmiller60 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:14] #4822 closed

[2021-05-07 13:27] yogkumgit commented on #4897
@msbemba Thank you very much for the contribution and sharing this explanation. @dcccpavitras Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:27] #4897 closed

[2021-05-07 13:29] yogkumgit commented on #4888
@FC-EricWeller  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-05-07 13:33] yogkumgit commented on #4874
@msbemba Thank you very much for the contribution and sharing this explanation. @prashant1380 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:36] yogkumgit commented on #4756
Changes will be reflected within 24 hours. @cjkeist Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:36] #4756 closed

[2021-05-07 13:41] yogkumgit commented on #4788
@msbemba Thank you very much for the contribution and updating the documentation with PR. @FrogThomas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 13:52] #4744 closed

[2021-05-07 13:55] guyhorn1964 opened #4937 "detection Script fault."
Remmove the '=' from the Powershell script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d716f82-0a0f-49b8-587e-589d166e602e
* Version Independent ID: 2c91a5fb-0567-f267-29f9-4f2660742f6a
* Content: [Run a detection test on a newly onboarded Microsoft Defender for Endpoint device](https://docs.microsoft.com/en-us/mi

[2021-05-07 14:04] yogkumgit commented on #4502
@georgiahuggins Gentle reminder, Please help us. Thanks

[2021-05-07 14:11] yogkumgit commented on #4834
@Rkhan-ms Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-07 14:15] yogkumgit commented on #4901
@Dansimp Please help us in resolving this issue. Thanks

[2021-05-07 14:16] yogkumgit commented on #4899
@mjcaparas Please help us in resolving this issue. Thanks

[2021-05-07 14:18] yogkumgit commented on #4895
@chrfox Please help us in resolving this issue. Thanks

[2021-05-07 14:21] yogkumgit commented on #4891
@mjcaparas Please help us in resolving the issue. Thanks

[2021-05-07 14:25] yogkumgit commented on #4876
@kwekuako Please help us in resolving this issue. Thanks

[2021-05-07 14:30] yogkumgit commented on #4859
@dana23746 Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. As we can address here only the issues, pertaining to document update. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with

[2021-05-07 14:32] #4859 closed

[2021-05-07 14:42] cjkeist commented on #4756
Yes, I see the changes have been made. Thanks!

--
CJ Keist
Assistant Director, CoSINe IT Services
Division of Arts and Sciences
Oregon State University
541-737-1066 | Strand Ag Hall 062C

From: Thomas Sjögren ***@***.***>
Reply-To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Date: Friday, May 7, 2021 at 2:32 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: "Keist, CJ" ***@***.***>, Ment

[2021-05-07 14:42] Rkhan-ms commented on #4834
Hi Chrisda and Yogkumgit.

I have the required M365 E5 as does my customer. And we are testing with M365 Apps version 2004 and later. They are still expereincing the same issue. Can you re-open this case and work further on it with me please?

Thanks,

Ray

[2021-05-07 14:47] Rkhan-ms opened #4938 "Following up on Previous case Safe Docs - test malicous files #4834"
Hi,

Can someone verify that the files included in this article will actually show up as malicous? I've set this up in my tenant as has my customer and in both instances we are seeing the same resulst. We can open the files even theough the article suggests that they shoul dbe highlighted as malicous.

Thanks in advance,

Ray

FAO -Chrisda and Yogkumgit.

I have the required M365 E5 as does my cus

[2021-05-07 16:15] chrfox commented on #4895
HI @SDkempf94
Thanks for your comment. For your customers information, all the requirements are clearly stated in Prepare your Endpoints  https://docs.microsoft.com/en-us/microsoft-365/compliance/endpoint-dlp-getting-started?view=o365-worldwide#prepare-your-endpoints

[2021-05-07 16:15] #4895 closed

[2021-05-07 16:36] chrfox commented on #4472
HI @DeanGross  Please refer to this topic https://docs.microsoft.com/en-us/microsoft-365/compliance/dlp-policy-tips-reference?view=o365-worldwide

[2021-05-07 16:36] #4472 closed

[2021-05-07 17:44] mjcaparas commented on #4899
Thank you for the feedback. Will update the page with the missing info.

[2021-05-07 17:44] #4899 closed

[2021-05-07 18:10] mjcaparas commented on #4505
Typically notifications are added on top of a page with deprecation notices to inform customers in advance. Thanks.

[2021-05-07 18:10] #4505 closed

[2021-05-07 18:22] klishb opened #4940 "broken link for education blog"
The "education availability" link on this page is broken.  It's currently pointing to:
https://educationblog.microsoft.com/2019/08/attention-it-administrators-announcing-office-365-proplus-device-based-subscription-for-education

This is the correct location:
https://educationblog.microsoft.com/en-us/2019/08/attention-it-administrators-announcing-office-365-proplus-device-based-subscription-for-ed

[2021-05-07 19:39] Nfortini commented on #4316
If customer is asking if Teams supports On-prem or Online mailboxes, we already have this info in the documentation that this is supported.

[2021-05-07 20:18] robmazz commented on #4433
@chiners68 - thanks for your feedback. Some policy templates have prerequisites that must be configured for the policy to generate relevant alerts, so it's not easy to give you a specific time frame. Please see this topic about policies if you're not seeing users or device in-scope for your policy (https://docs.microsoft.com/microsoft-365/compliance/insider-risk-management-policies#policy-health-p

[2021-05-07 20:18] #4433 closed

[2021-05-07 20:18] chrfox commented on #4316
hi @DeanGross

This scenario is supported.

[2021-05-07 20:18] #4316 closed

[2021-05-07 21:05] mymebenha opened #4943 "How long do you have to wait after making permission changes?"
When you make changes to a group that was used to assign permissions, it takes over 24 hours for the changes to become effective.  It should mention how long we have to wait.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb0c964d-2d1b-601a-c8a2-14378fc24fb8
* Version Independent ID: ee549bd1-0652-2167-0f23-d22a58cf895

[2021-05-08 16:10] cabailey commented on #4943
@mymebenha  Hi, thanks for your feedback.  Can you clarify when you say "changes to a group that was used to assign permissions", you're referring to configuring encryption for a label, and are the changes a different group or the same group but group membership changes?

[2021-05-08 17:34] #4695 closed

[2021-05-09 17:09] useyourblinker commented on #4747
I'm 100% sure I left this feedback on the wrong page here so I am circling back to try to figure out which page I actually meant to leave that feedback on. Thank you.

[2021-05-10 05:34] yogkumgit commented on #4243
Closing. Referring the comment  in 4246.

[2021-05-10 05:34] #4243 closed

[2021-05-10 06:41] yogkumgit commented on #4640
@lightupdifire Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-10 08:25] msbemba commented on #4937
@guyhorn1964 Thank you for your feedback.  $ErrorActionPreference = 'silentlycontinue' is correct, There was a missing space there which has been added to the script via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4949

ErrorActionPreference variable in PowerShell is to control the non-terminating errors by converting them to terminating errors. Error handling depends upon which va

[2021-05-10 08:32] msbemba commented on #4940
@klishb Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4950

Thanks
Sri

[2021-05-10 10:16] Balamurugan-dot commented on #4876
Do we have any updates on this please?

Regards,
B.G

From: Balamurugan Ganesan
Sent: Monday, May 3, 2021 9:21 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>; MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [MicrosoftDocs/microsoft-365-docs] There is no clear information about licensing requirements for Cortana (#4876)

Hi Yogesh,

I'm talking about this d

[2021-05-10 13:14] lightupdifire opened #4951 "Default sensitivity label to apply"
Hello,

We have applied a policy that requires a sensitivity label when creating a new site or group and removed the option to select None, but in the MS Teams App it is possible to create Team using Template, as an example one of the defaults available "Manage a Project", when creating that, the Default sensitivity label or any label not visible at all to select during creation wizard...

![image

[2021-05-10 14:20] ps959 opened #4952 "broken url on this page"
This url  on this page is dead. . Is there an updated url ? https://docs.microsoft.com/en-us/microsoft-365/enterprise/monitor-connectivity?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f903b4-8b86-70f6-8495-e8a9905ceb03
* Version Independent ID: 57fd3cc7-af0e-8d08-40c7-a5e070c1a237
* Content: [Mo

[2021-05-10 15:44] scottvalentine opened #4953 "Incorrect Platform Version"
The [published version](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/manage-updates-baselines-microsoft-defender-antivirus?view=o365-worldwide#monthly-platform-and-engine-versions) of this document has the platform minor version of "19" beginning in February rather than 18, e.g. 4.19.2102.3 rather than 4.18.2102.3.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-05-10 16:18] fixx-er opened #4954 "Needs update to Get-EXO... commands"
Trying to use the EXO V2 module of exchange and cant get commands to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac0819e-2ed8-d57f-35f5-cfa5210210a9
* Version Independent ID: 61bf03a8-091b-9a33-a7eb-a4a25e8452f3
* Content: [Delete items in the Recoverable Items folder of cloud mailbox's on hold - Microsoft 36

[2021-05-10 16:38] #4954 closed

[2021-05-10 17:11] markjjo commented on #4954
@fixx-er Thanks for following up. Glad you fixed it.

[2021-05-10 17:18] msbemba commented on #4930
@syntaxbearror Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4955

Thanks
Sri

[2021-05-10 17:45] denisebmsft commented on #4953
Hello @scottvalentine and thank you so much for the feedback. This is now resolved.

[2021-05-10 17:45] #4953 closed

[2021-05-10 18:25] msbemba commented on #4907
@MHCLV Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4960

Thanks
Sri

[2021-05-10 18:28] chrisda commented on #4834
@Rkhan-ms, check the following items:

1. SafeDocs must be present in the list services included:
   a. At <https://myaccount.microsoft.com/?ref=MeControl>
   b: And enabled as described in the topic:

     ![image](https://user-images.githubusercontent.com/33166947/117705805-5df27380-b181-11eb-89a6-477cc7faf135.png)

2.  Next, close Word, Excel, and PowerPoint and do these steps:
   a. Go to `%lo

[2021-05-10 18:49] chrisda commented on #4938
@Rkhan-ms, no need to open another Issue. Closing, because the original issue is still open (#4834).

[2021-05-10 18:49] #4938 closed

[2021-05-10 19:09] SKjerland commented on #4063
@yogkumgit - I merged PR#4160. Thanks! Closing this issue.

[2021-05-10 19:09] #4063 closed

[2021-05-10 19:13] SKjerland commented on #4170
@msbemba  - This issue was just assigned to me for follow-up, since pebaum is out of the office. What's the status of this issue? Thanks!

[2021-05-10 20:10] georgiahuggins commented on #4457
Hello Solosan,
Here is an example of a .CSV file in Notepad. The easiest way to do this is to just enter the details into Notepad and save as .csv.

EmailAddress
User1@targettenantdomain.onmicrosoft.com
User2@targettenantdomain.onmicrosoft.com
User3@targettenantdomain.onmicrosoft.com
User4@targettenantdomain.onmicrosoft.com

[2021-05-10 20:54] lhcole commented on #4749
@rylcode Thanks for your feedback. I've forwarded your comments to the writing team. They evaluate whether to include these changes in the next round of revisions in this feature area content.

[2021-05-10 20:54] #4749 closed

[2021-05-10 21:03] xiaoweiwu12701 opened #4962 "Can I view all the schema and tables in one big spreadsheet?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf2518c0-9184-479d-5f39-755f8a10cddc
* Version Independent ID: 9d76fac7-5f54-abbb-d860-fb1723d2149d
* Content: [Advanced hunting schema reference](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/advanced-hunting-schema-refere

[2021-05-10 23:29] jonwbstr commented on #4502
I don't follow, you have an internal repro of the switch not working as
intended. Do with that info what you want. I have a separate issue looking
into the situation. I thought someone over here might be in a good position
to help fix both articles. If not, that's okay.

On Mon, May 10, 2021, 4:16 PM Georgia Huggins ***@***.***>
wrote:

[2021-05-11 01:45] andrewn2000 opened #4964 "Azure ActiveDirectory(MSOline) being deprecated but nothing on this page shows that"
[https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-msonlinev1?view=azureadps-1.0](url)

Please note that we will begin to deprecate this module when the functionality of this module is available in the newer Azure Active Directory PowerShell for Graph module. We advise customers who are creating new PowerShell scripts to use the newer module instead of this module.

This n

[2021-05-11 07:02] AlexPan0310 opened #4965 "Can we make a clarification about condition "Content is shared with people inside your organization" as it actually cannot be used to judge if a file is actually shared or not within the organization?"
Currently, when user upload file to OneDrive(not sure for SharePoint Online but I assume they are same), even user didn't share it with anyone(the file status shows private), DLP will still consider it as shared inside the organization. This is a current by design behavior according to PG. So can we make some clarification in this article in case other customers thought that DLP can judge if a fil

[2021-05-11 07:37] msbemba commented on #4812
@ryanfog Thank you for your feedback. I have been able to test this successfully with a mail-enabled security group. It is strange that you are receiving the warning in spite of the group being a mail-enabled SG. This sounds more like a support issue to me and we request you to contact Microsoft support via the need help button on the Admin center. Post interaction with support, if you feel there

[2021-05-11 08:10] msbemba commented on #4685
@kortamon Thank you for your feedback. Seems like this works only with basic auth and I have made an update to the note on the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4966

Meanwhile, After checking roadmap I do not see an item for compatibility checker working in new EXO PS module(s). So this could take longer.

Thanks
Sri

[2021-05-11 08:48] Rkhan-ms commented on #4834
Thanks Chris - Checking with my customer today. Will update you later.

[2021-05-11 12:09] #4937 closed

[2021-05-11 12:17] #4605 closed

[2021-05-11 12:19] #4791 closed

[2021-05-11 12:25] yogkumgit commented on #4930
@msbemba Thank you very much for the contribution and updating the documentation with PR. @syntaxbearror Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-11 12:25] #4930 closed

[2021-05-11 12:44] yogkumgit commented on #4457
@solosan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-11 12:55] yogkumgit commented on #4812
@msbemba Thank you very much for the contribution and sharing this explanation. @ryanfog Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-11 12:55] #4812 closed

[2021-05-11 12:57] yogkumgit commented on #4848
@msbemba Thank you very much for the contribution and sharing this explanation. @Sherd21 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-11 13:00] #4853 closed

[2021-05-11 13:07] Sherd21 commented on #4848
@msbemba, @yogkumgit thank you for the reply. my comment was more a suggestion/feedback to clearly state minimum version of Office required along with specific pre-reqs for 2016 and M365 Apps mentioned above.

[2021-05-11 13:10] yogkumgit commented on #4932
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-11 13:10] #4932 closed

[2021-05-11 13:22] danmyhre commented on #4923
Yes, in the workbook you can download from github (https://github.com/MicrosoftDocs/OfficeDocs-O365SecComp/raw/public/SecurityCompliance/media/InfoBarriers-PowerShellGenerator.xlsx)

The link for "See this article for the list of attributes:" points to https://**review**.docs.microsoft.com/en-us/Office365/SecurityCompliance/information-barriers-attributes?branch=infobarriers-working

[2021-05-11 14:25] andrew-harris opened #4968 "No mention of support or limitations for Public Folders mailboxes"
I encountered an issue with one of our users recently and after I was able to consistently replicate that issue through testing, I'm led to believe that there are significant limitations with using Message Encryption with Public Folder mailboxes. The FAQ discusses limitations when using Shared Mailboxes but makes no mention of Public Folder mailboxes. It would be helpful to include a section on th

[2021-05-11 15:51] axelrv opened #4969 "Broken Images"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 506a8799-0002-3db2-215d-7fdbb679619d
* Version Independent ID: 312dc4ff-d20c-fb66-01d7-bc14170ae5a4
* Content: [Turn on exploit protection to help mitigate against attacks](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/enab

[2021-05-11 16:15] jonwbstr opened #4972 "Related article"
Hello,

The following document shows how to add exclusions for Microsoft Defender using Powershell.

Consider adding a link to that page to make it easier to find, and even including the powershell example in this article. Don't need it in two places obviously.

https://docs.microsoft.com/en-us/azure/architecture/example-scenario/wvd/windows-virtual-desktop-fslogix#add-exclusions-for-windows-defen

[2021-05-11 17:35] chrisda commented on #4834
@Rkhan-ms: One other thing to try:  when you open the test file does it open in protected view or not? If the file is has been trusted (e.g. no longer considered ‘from the internet’) it won’t open into protected view and thus SafeDocs doesn’t kick in. We've confirm that the test files work in triggering as malicious. Can you manually open the file into protected view: SHIFT+RightClick on the file

[2021-05-11 18:53] FuryoftheStars opened #4975 "Needs more notations and/or breaking up the listed categories more"
This document could benefit from more notes on what services are affected from each group of URLs and/or splitting everything up more.  For example, in my case, I'm trying to setup a web filter on our company's firewall that blocks everything except for very specific services for certain user groups.  In the case of Microsoft services, we only need them to be able to access their webmail via the O

[2021-05-11 20:31] Bievens opened #4976 "Recoverable Items folder operation"
“For Exchange mailboxes: The copy is retained in the Recoverable Items folder.”
Requesting an addition of clarifying information: Which subfolder in the Recoverable Items folder is being used and preserved? Or are all items in the Recoverable item’s subfolders preserved?

How does this interact with items preserved by the in-place hold, eDiscovery hold, and litigation holds? Example if you have re

[2021-05-11 21:52] #4969 closed

[2021-05-11 21:54] denisebmsft commented on #4968
Hello @andrew-harris and thank you for the feedback. Can you please tell us to which article(s) this applies? That information will help us route this issue to the correct writer/team.

[2021-05-11 22:07] andrew-harris commented on #4968
Hi @denisebmsft Sorry, I just assumed that info came through when I clicked the link. The page in question was:

https://docs.microsoft.com/en-us/microsoft-365/compliance/ome-faq?view=o365-worldwide

[2021-05-11 23:03] LauraWi commented on #4637
cc'ing @pandrew1 for consideration.

[2021-05-11 23:07] LauraWi commented on #4578
Will monitor for additional customer confusion on this point and possible updates.

[2021-05-11 23:07] #4578 closed

[2021-05-12 03:23] mikesierra2 opened #4977 "block-persistence-through-wmi-event-subscription -- Intune?"
I see that most of these settings have an Intune name for setting through Intune. This one does not:
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction?view=o365-worldwide#block-persistence-through-wmi-event-subscription

I need to set that through Intune. Can you please give me feedback on:
1) The doco is wrong, there is an option in Intune, we will

[2021-05-12 06:25] pandrew1 commented on #4637
@LauraWi I believe this is published here: https://docs.microsoft.com/en-us/stream/network-overview#general-microsoft-stream-endpoints

[2021-05-12 09:54] Rodgers254 opened #4980 "Bookings Page Not able to Publish"
I am trying to set up a bookings publishing page but It's telling me your request cannot be completed right now, please try later.Can someone help me?

[2021-05-12 11:45] yogkumgit commented on #4980
@Rodgers254 Considering the nature of the issue, we advise, please open a service ticket in your tenant and follow with them for the resolution as here we are limited to document update only. We proceed to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable inf

[2021-05-12 11:45] #4980 closed

[2021-05-12 11:48] yogkumgit commented on #4923
@msbemba

[2021-05-12 11:58] yogkumgit commented on #4667
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bradw2k Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 11:58] #4667 closed

[2021-05-12 12:03] yogkumgit commented on #4780
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SetTrend Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:03] #4780 closed

[2021-05-12 12:08] yogkumgit commented on #4940
@msbemba Thank you very much for the contribution and updating the documentation with PR. @klishb Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:08] #4940 closed

[2021-05-12 12:10] yogkumgit commented on #4907
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MHCLV Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:10] #4907 closed

[2021-05-12 12:13] yogkumgit commented on #4269
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jamesamayes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:13] #4269 closed

[2021-05-12 12:16] yogkumgit commented on #4177
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Linas08 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:16] #4177 closed

[2021-05-12 12:21] yogkumgit commented on #4637
@davidjfriedman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:21] #4637 closed

[2021-05-12 12:25] yogkumgit commented on #4850
@msbemba Thank you very much for the contribution and sharing this explanation. @nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:25] #4850 closed

[2021-05-12 12:27] yogkumgit commented on #4851
@msbemba Thank you very much for the contribution and sharing this explanation. @nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:27] #4851 closed

[2021-05-12 12:51] yogkumgit commented on #4858
@msbemba Thank you very much for the contribution and updating the documentation with PR. @alareed Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-12 12:51] #4858 closed

[2021-05-12 13:45] Rkhan-ms commented on #4834
Hi Chris,

Thanks for this - We have tried the steps you suggested below and still we are not seeing anything being flagged as malicious.

Can you confirm the expected behaviour we should see when we open the file in protected mode? I also don't see any errors when opening up the .ppt file on my Microsoft corp account.

Should we be observing the kinds of warnings observed in the following link?

[2021-05-12 16:20] chrisda commented on #4834
@Rkhan-ms, the test files should work as described, so it's time to open a support case and ask why they don't.

[2021-05-12 16:21] AlphaXD001 opened #4981 "Intune Documentation for Enable Controlled Folder Access is out-dated / completely incorrect"
The documentation for configuring Controlled folder access is wrong - there is no way to follow the path provided to enable.
The proper path as of May 12, 2021 (since Microsoft keeps everything in Intune a moving target):
endpoint.microsoft.com > Endpoint Security > Attack Surface Reduction > Create Policy ... Windows 10 and later - Attack Surface reduction rules - then at the very bottom:
 - Enab

[2021-05-12 16:31] jmmowrer opened #4982 "Add API permission list"
Could we have the individual permissions for the Defender API added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d4287b-0207-5c4f-ae5b-9b0fc33d36a9
* Version Independent ID: 53fdc584-5530-cf5e-fb2c-75591bb082bf
* Content: [Access the Microsoft Defender for Endpoint APIs](https://docs.microsoft.com/en-us/microsoft-

[2021-05-12 17:19] npiasecki opened #4984 "I'm so confused as how to buy Microsoft Defender for Endpoint"
I have a warehouse with more machines than users, but I'd like to run Microsoft Defender for Endpoint on the machines. They're logged in as a shared kiosk-type user.

It seems like there should be some kind of device license in addition to user licenses? Does just one user need to be Microsoft 365 E5 to enable access to the tool?

So I'm not sure if it is unclear documentation, or just a difficult

[2021-05-12 18:53] Rkhan-ms commented on #4834
Thanks Chris,

Will do. Thanks for your assistance.

Kind Regards,

Ray

From: Chris Davis ***@***.***>
Sent: 12 May 2021 17:21
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Rayman Khan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Safe Docs - test malicous files (#4834)

@Rkhan-ms<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub

[2021-05-13 00:04] lof747 opened #4986 "Anchor to "Can Microsoft 365 Business Premium customers use Microsoft Defender for Endpoint?" is incorrect"
[Enter feedback here]
The anchor link to "Can Microsoft 365 Business Premium customers use Microsoft Defender for Endpoint?" subsection points to "Where can I learn more about the opportunities and benefits in becoming a Microsoft Partner?" instead of the correct section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-05-13 00:14] seansquires commented on #3066
Apologies - thought this item had been closed per separate email threads. Yes, the Syntex license cost includes the rest of the feature set (content center, document understanding models, model analytics, add'l MMS features, and yes, the AI Builder form processing integration w/ SharePoint libraries). The service credit addendum is based on the seat count minimum and appreciate the feedback that t

[2021-05-13 00:37] mikesierra2 commented on #4977
To clarify this, all other items on this page have an "Intune name". This one does not, and there is no information on why that is the case. Defender for Endpoint is stating that we should set this option on, and does not give any advice on how to do so, neither does this documentation page. Any advice on how to make-it-so is greatly appreciated.

[2021-05-13 00:48] msbemba commented on #4920
@Balamurugan-dot Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4987

Thanks
Sri

[2021-05-13 00:58] msbemba commented on #4923
@danmyhre Thank you for the information. We are looking into this and will test and update the URL.

Thanks
Sri

[2021-05-13 08:56] AlexPan0310 commented on #4965
Hi @yogkumgit , I mean this article https://docs.microsoft.com/en-us/microsoft-365/compliance/data-loss-prevention-policies?view=o365-worldwide , the condition part.

[2021-05-13 13:25] yogkumgit commented on #3066
@GiantCrocodile Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-13 13:25] #3066 closed

[2021-05-13 13:44] yogkumgit commented on #4803
@msbemba Thank you very much for the contribution and updating the documentation with PR. @chbreakthrough Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-13 13:44] #4803 closed

[2021-05-13 15:00] Boledy opened #4988 "Office 365 URLs and IP address ranges"
I'm realy glad I found this article.  So many people giving me more and more stuff to do fills my day.  Working from home means that there is so much more time to get that stuff done that never gets done at work because someone always needs you do do thier stuff.

I just thought I'd start a full sync to OneDrive of all the users Home folders before we get ransomwared.  Shouldnt take long. Change t

[2021-05-13 19:30] binford2k opened #4989 "This should be a module published at forge.puppet.com"
It would be far easier to instruct users to `puppet module install` a module or add it to their `Puppetfile` than to laboriously walk them through creating a manifest to deploy. And it comes with the benefit that the user can just update the module when you make changes to it!

Happy to help make that happen if you need assistance.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-05-13 23:47] msbemba commented on #4986
@lof747 Thank you for your feedback. The URL https://partner.microsoft.com/en-US/membership/cloud-solution-provider/find-a-provider points to a page to Find an indirect provider.

The next topic has a link  https://partner.microsoft.com/membership/cloud-solution-provider which points to  Where can I learn more about the opportunities and benefits in becoming a Microsoft Partner

Both the URL's are

[2021-05-13 23:57] msbemba commented on #4972
@jonwbstr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4991

Thanks
Sri

[2021-05-14 00:00] msbemba commented on #4964
@andrewn2000 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4992

Thanks
Sri

[2021-05-14 00:09] msbemba commented on #4962
@xiaoweiwu12701 Thank you for your feedback. As the Advanced hunting data schema changes very often there is no spreadsheet that is available as such to view all schema in one place.

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-05-14 00:13] msbemba commented on #4952
@ps959 Thank you for your feedback. We have removed the broken URL on this document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4993 as the blog is no longer active.

There is no replacement URL available, however, the guide is available when you download the System center management Pack for o365.

Hope this helps!

Thanks
Sri

[2021-05-14 00:23] cabailey commented on #4951
@lightupdifire  Templates aren't supported yet and you'll find this on the list of limitations, here: https://docs.microsoft.com/en-us/microsoftteams/sensitivity-labels#limitations   When they are supported, we'll remove them from this list.

[2021-05-14 01:57] xiaoweiwu12701 commented on #4962
I do have a need to systematically download all the attributes, and its descriptions for documentation purposes. Doing a copy and paste line by line doesn’t seem to efficient.
Would you really consider this in the near future?

From: Sriraman M S ***@***.***>
Sent: Thursday, May 13, 2021 8:10 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Wu, Xiaowei (CGI Federal) ***@***.***>; Mention *

[2021-05-14 02:47] B-starboy commented on #4989
I would like to take you up on the offer of instruction on puppet module install or add to puppetfile ?

[2021-05-14 02:47] B-starboy commented on #4989
@binford2k

[2021-05-14 07:57] yogkumgit commented on #4920
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Balamurugan-dot Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 07:57] #4920 closed

[2021-05-14 08:00] yogkumgit commented on #4986
@msbemba Thank you very much for the contribution and sharing this explanation. @lof747 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 08:00] #4986 closed

[2021-05-14 08:04] yogkumgit commented on #4951
@lightupdifire Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-14 08:04] #4951 closed

[2021-05-14 08:55] Jones-Bones opened #4994 "Wrong operation for AddMailboxPermissions"
Hi,

Operation for "Added delegate mailbox permissions" is wrong. It is Add-MailboxPermission instead of AddMailboxPermissions. Add-MailboxPermission shows up in both GUI and Search-UnifiedAuditLog output. Operation for delegation removal is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-339

[2021-05-14 11:59] yogkumgit commented on #4962
@msbemba Thank you very much for the contribution and sharing this explanation. @xiaoweiwu12701 we do understand what you saying but in the current scenario scope is limited to this document only.  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage yo

[2021-05-14 11:59] #4962 closed

[2021-05-14 12:42] dkotars opened #4995 "Use PowerShell to manage spoofed senders"
In Step 2: "Edit the CSV file to add or modify the SpoofedUser (email address) and AllowedToSpoof (Yes or No) values. Save the file, read the file, and store the contents as a variable named $UpdateSpoofedSenders", can we change this to represent what we really need to add to the CSV: Sender, SpoofedUser, AllowedtoSpoof and SpoofType?

Just adding SpoofedUser and AllowedtoSpoof for a new line will

[2021-05-14 17:23] markjjo commented on #4994
@Jones-Bones Thanks for the heads up. Looks like the cmdlet name is displayed as the operation value. I will update the documentation.

[2021-05-14 17:23] #4994 closed

[2021-05-14 19:21] mariuszo-at-microsoft-com opened #4999 "correction in "Onboard to the service" section"
The **Onboard to the service** section says to:

In the portal these items are not located in the **_Endpoints_** section, but in "main", unnamed section, just under _Home_ item.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7f625c-f3ef-882d-231f-6fef18e14137
* Version Independent ID: 3f335d54-6d65-d49a-e517-2c3a9a9

[2021-05-14 20:53] binford2k commented on #4989
@B-starboy to install like that, the authors of this code should put it into a module and publish it on the Forge or in a git repository.

[2021-05-14 21:04] B-starboy commented on #4989
Thanks for your response Ben . I will go check out the site .Don’t know much about puppets module , but sounds like a good way to automate .
Thanks again !

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Ben ***@***.***>
Sent: Friday, May 14, 2021 4:53 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] This shoul

[2021-05-14 22:01] fergusstrachan commented on #4901
Anyone?

[2021-05-14 22:08] lhcole commented on #2309
Because we haven't gotten an answer about this from the product team and this is months old, I'm closing this issue. Please reopen with updated comments and screenshots if this is still a problem and I'll shepherd the updates personally.

[2021-05-14 22:08] #2309 closed

[2021-05-14 22:12] lhcole commented on #4402
@bhawthorne @yogkumgit I'm happy to take care of any article updates but I'm not following what needs to be updated. Is there a section that should be removed? A path that should be added? You'll have to help me out here. Feel free to reopen with particulars. Thanks.

[2021-05-14 22:12] #4402 closed

[2021-05-14 23:39] cmcatee-MSFT commented on #4748
@SetTrend We no longer maintain a list of steps for other DNS providers, so the links were removed. I've removed "(host-specific instructions)" from the title, and the article will be retired shortly. For instructions, see [Change nameservers to set up Microsoft 365 with any domain registrar](https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/change-nameservers-at-any-domai

[2021-05-14 23:39] #4748 closed

[2021-05-15 14:40] alexey-zhel opened #5007 "MDATP package is missing in https://packages.microsoft.com/opensuse/15/prod/"
As per article we are supposed to use following command to configure repository: "sudo zypper addrepo -c -f -n microsoft-prod https://packages.microsoft.com/config/opensuse/15/prod.repo", however mdatp package is missing in that repository. IT is only available in https://packages.microsoft.com/opensuse/42.3/prod/.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-05-15 16:58] ab-aayers opened #5008 ""Block Office communication application from creating child processes" Prevents Tooltips and DLP warnings in Outlook"
It appears enabling the Mentioned ASR (GUID:26190899-1602-49e8-8b27-eb1d0a1ce869) Blocks outlook from displaying tooltips or DLP override options from displaying in outlook.
When attaching a document that would trigger a DLP rule (configured within 365 security) the user recieves a "defender blocked an action" and the outlook window does not display the mentioned tooltips and override toolbars wit

[2021-05-15 23:30] msbemba commented on #4807
@sevenok Were you able to get this resolved after contacting Support?

Thanks
Sri

[2021-05-15 23:45] msbemba commented on #4977
@mikesierra2 Thank you for your feedback. The ASR Rule "Block persistence through WMI event subscription" can not be configured via Intune., However, we have a UserVoice section where the request has been added. You can Upvote this idea here- https://microsoftintune.uservoice.com/forums/291681-ideas/suggestions/40862476-asr-rule-block-persistence-through-wmi-event-subs and receive an email once th

[2021-05-16 00:19] msbemba commented on #4984
@npiasecki Thank you for your feedback. The licensing requirements include Microsoft defender for endpoint(Standalone). As long as you have the supported Operating system version you can purchase the Standalone Microsoft Defender for Endpoint from your M365 Admin center. If you still need assistance to purchase, navigate to the need help section on your Admin center and contact Support.

Hope this

[2021-05-16 01:19] msbemba commented on #4981
@AlphaXD001 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5010

Thanks
Sri

[2021-05-16 01:30] msbemba commented on #4982
@jmmowrer Thank you for your feedback. We have added a link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5011 to create an AAD APP which talks about the permissions list.

Thanks
Sri

[2021-05-16 01:45] msbemba commented on #4863
@bilginbaldji Thank you for your feedback. I was able to test and import the file with the name field. Make sure that the userenetered value is set to 1. If you still have issues, I would recommend contacting Microsoft support via the need help link in the admin center.

![image](https://user-images.githubusercontent.com/45987684/118382789-6bdb4500-b616-11eb-8f75-b89b9795e852.png)

![image](https:

[2021-05-16 01:56] msbemba commented on #4976
@Bievens Thank you for your feedback.

1) If In-Place Hold, Litigation Hold, or a Microsoft 365 or Office 365 retention policy is enabled, The "versions" folder contains the original copy of the item, and also if the item is modified multiple times, a copy of the item before modification is saved.

2)There are no conflicts between retention policies and Hold. In this scenario, the retention policy

[2021-05-16 02:05] msbemba commented on #4915
@mlamberty Thank you for your feedback. There are two types of "Update Type" In improvement actions

1)Microsoft added Actions
2)Microsoft Updated action points

1) Microsoft added actions mean that Microsoft has added an improvement action for a service - For example https://docs.microsoft.com/en-us/microsoft-365/security/defender/microsoft-secure-score-whats-new?view=o365-worldwide#added-six-acc

[2021-05-16 09:53] BLTTEST opened #5012 "This article is still using legacy OME information"
Hi Teams,

I think this article hasn't been updated after new OME published: [https://docs.microsoft.com/en-us/microsoft-365/compliance/ome-version-comparison?view=o365-worldwide
](url)

It says “OME doesn't let you apply usage restrictions to messages. For example, you can't use it to stop a recipient from forwarding or printing an encrypted message.” However, new OME has supported encryption and

[2021-05-16 10:01] BLTTEST opened #5013 "PDF encryption initiated from iOS/Android Outlook"
Hi Teams,

Under the question "Are PDF file attachments supported?", it says: "For Outlook on the web, Outlook for iOS, and Outlook for Android, you can encrypt PDFs you send without any more steps. These clients natively support PDF encryption."

However, under the question "How is this feature related to legacy Office 365 Message Encryption (OME) and Information Rights Management (IRM) features?

[2021-05-16 18:44] DanWeinstock909 opened #5014 "The screenshots are not showing for the event viewer components"
Within the below web site;
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/event-views?view=o365-worldwide#feedback

The screenshots are not showing for the event viewer components, this is in steps below;
import an existing XML custom view
step 3

Copy the XML directly
step 2

List of attack surface reduction events
step 3

---
#### Document Details

⚠ *Do not edit this

[2021-05-17 07:30] lightupdifire commented on #4951
Thanks for the info! Will be waiting for update, going back to the script :p

[2021-05-17 10:08] yogkumgit commented on #4952
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ps959 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-17 10:08] #4952 closed

[2021-05-17 10:27] mariuszo-at-microsoft-com opened #5016 "The "Use the compliance center to turn on audit log search" should be updated to compliance.microsoft.com"
Guidance in "Use the compliance center to turn on audit log search" section should be updated to experience in compliance.microsoft.com (including URL in step 1, descriptions in step 2&3, and screenshot in step 3

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6aa9c0c-c1ba-a464-3724-2060b61df19b
* Version Independent I

[2021-05-17 10:30] M1KK3Lz opened #5017 "Link to MS Mechanics YoutTube video not working"
Link does not work:
Watch this video for an introduction to Encryption in Office 365.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21613e57-8909-5adc-26ea-14e0a4771d3b
* Version Independent ID: dcd08c8d-4786-abbd-bd9d-47ad6d2117e6
* Content: [Email encryption in Microsoft 365 - Microsoft 365 Compliance](https://docs.

[2021-05-17 10:31] yogkumgit commented on #4807
@msbemba  Thank you very much for the contribution and sharing this explanation. @sevenok  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update thi

[2021-05-17 10:31] #4807 closed

[2021-05-17 10:34] yogkumgit commented on #4977
@msbemba Thank you very much for the contribution and sharing this explanation. @mikesierra2 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-17 10:34] #4977 closed

[2021-05-17 10:37] yogkumgit commented on #4984
@msbemba Thank you very much for the contribution and sharing this explanation. @npiasecki Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-17 10:37] #4984 closed

[2021-05-17 10:44] yogkumgit commented on #4863
@msbemba Thank you very much for the contribution and sharing this explanation. @bilginbaldji Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-17 10:47] yogkumgit commented on #4976
@msbemba Thank you very much for the contribution and sharing this explanation. @Bievens Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-17 10:47] #4976 closed

[2021-05-17 10:50] yogkumgit commented on #4915
@msbemba Thank you very much for the contribution and sharing this explanation. @mlamberty Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-17 10:50] #4915 closed

[2021-05-17 12:38] core2lord opened #5018 "Duplicate Category"
Duplicate Found: Line #189 & #204.
- question: Why do I have an "onmicrosoft.com" domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35470cb5-bb30-146d-ae76-719079861c5f
* Version Independent ID: 5456e564-2629-cfc2-dfc9-2b7934fcf43a
* Content: [Domains Frequently Asked Questions](https://docs.microsoft.com/en-us/mi

[2021-05-17 14:00] rudischenck opened #5020 "PowerShell Advanced Delivery"
Will the powershell exchange online module be updated to allow these settings/rules to be edited/created via powershell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17ce75e-79ba-0acd-066c-a0120a29d65d
* Version Independent ID: 14673b1c-8489-0abc-90a0-42f35d516424
* Content: [Configure the delivery of third-party ph

[2021-05-17 14:41] scottmurdock opened #5021 "In the troubleshooting section, the article says "If the */clientsideassets origin is missing, SharePoint Framework solutions will fail, and no warning or error messages are generated." But it's not clear if this means you cannot use SPFx solutions if you haven't enabled the public CDN or if it means you can use SPFx solutions without a public CDN but if you DO enable the public CDN it must have */clientsideassets as an origin. I suspect it's the latter but need to confirm. Thanks!"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8cfe2b0-c14d-1083-7c88-a91e58593cfa
* Version Independent ID: 2d15076c-0dcd-6bd6-e0fb-f8ac5ffd0091
* Content: [Use Office 365 Content Delivery Network (CDN) with SharePoint Online - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft

[2021-05-17 16:12] Mhudson97 opened #5022 "text issue on page"
top of the page appears as such:

If you're using version 2006 of Configuration Manager, you can manage tamper protection settings on Windows 10, Windows Server 2016, and Windows Server 2019 by using a method called tenant attach. Tenant attach enables you to sync your on-premises-only Configuration Manager devices into the Microsoft Endpoint Manager admin center, and then deliver endpoint securit

[2021-05-17 16:15] denisebmsft commented on #5022
Thank you @Mhudson97 for letting us know about this! I'll get this fixed today.

[2021-05-17 21:51] jdravet opened #5025 "missing GPO settings"
Under Other recommended configuration settings, Update endpoint protection configuration, I can see the GPO settings for \Windows Components\Windows Defender ATP but \Windows Components\Windows Defender Antivirus does not exist.  I have been following the directions until this point.  My deployment zip file only contained a 3KB AtpConfiguration.admx file.  The server is Windows 2019 with all updat

[2021-05-17 22:37] konstruktoid commented on #5007
I'm not a SSSE user myself but it seems only the SUSE Linux Enterprise Server packages (https://packages.microsoft.com/sles/) are up-to-date.
The OpenSUSE releases are all end-of-life, https://en.opensuse.org/Lifetime#Discontinued_distributions:
    openSUSE Leap 15.1 - Feb 2nd 2021
    openSUSE Leap 15.0 - Dec 3rd 2019
    openSUSE Leap 42.3 - Jul 1st 2019
    openSUSE Leap 42.2 - Jan 26th 2018

[2021-05-18 04:39] sravenscroft opened #5027 "Typo on page"
There is a typo on the page - "Related articles" section header.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43d8d111-4435-5ae1-af2a-a27da62f16ef
* Version Independent ID: ceb9434d-0f1e-9ed6-b3c5-437cc5aa2ac6
* Content: [Use PowerShell to create reports for Microsoft 365 - Microsoft 365 Enterprise](https://docs.micr

[2021-05-18 07:03] Anoni-Mouse opened #5028 "Block process creations originating from PSExec and WMI commands"
[Enter feedback here]

Block process creations originating from PSExec and WMI commands
This rule blocks processes created through PsExec and WMI from running. **Both PsExec and WMI** can remotely execute code, so there is a risk of malware abusing this functionality for command and control purposes, or to spread an infection throughout an organization's network.

 Warning

**Only use this rule if

[2021-05-18 10:40] robbonnema opened #5029 "Adjustment in script"
I had to remove the _-Type Spam_ after the Get-QuarantineMessage command in the script. Otherwise I didn't get the Quarantine results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aee91306-ef26-a762-844b-c3f70e8f0722
* Version Independent ID: 2ec32405-bc7a-60f2-782b-b527a2746b11
* Content: [Quarantined messages FAQ](

[2021-05-18 11:31] FrogThomas opened #5030 "Limitations of Safe Links for Public Folders"
The "Safe Links" feature, which is part of Microsoft Defender for Office 365, does not work for email enabled public folders. Unfortunately, this restriction is not documented.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/safe-links?view=o365-worldwide

[2021-05-18 12:13] yogkumgit commented on #4926
@chrfox Please help us in resolving this issue. Thanks

[2021-05-18 12:18] yogkumgit commented on #4927
@mjcaparas Please help us in resolving this issue. Thanks

[2021-05-18 12:20] yogkumgit commented on #4943
@mymebenha Kindly answer Carol's query. Thanks

[2021-05-18 12:21] yogkumgit commented on #4964
@msbemba Thank you very much for the contribution and updating the documentation with PR. @andrewn2000 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-18 12:21] #4964 closed

[2021-05-18 12:31] yogkumgit commented on #4968
@KCCross Please help us in resolving this issue. Thanks

[2021-05-18 12:33] yogkumgit commented on #4975
@LauraWi Please help us in resolving this issue. Thanks

[2021-05-18 12:42] yogkumgit commented on #4797
@msbemba Thank you very much for the contribution and updating the documentation with PR. @vboyev-MSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-18 12:42] #4797 closed

[2021-05-18 12:45] yogkumgit commented on #4982
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-18 12:45] #4982 closed

[2021-05-18 12:55] DeanGross opened #5031 "Clarify permissions"
please add some information that defines all of the different roles that can create/edit DLP policies. It is not clear if compliance admins, security admins or others can do this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ac1028-da5c-2f6b-a8ef-ae21b0b4b858
* Version Independent ID: 22cdcee5-fb52-f07e-5d63-d925cb8

[2021-05-18 12:57] yogkumgit commented on #4735
@LauraWi Please help us in resolving this issue. Thanks

[2021-05-18 13:40] msbemba commented on #5027
@sravenscroft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5032

Thanks
Sri

[2021-05-18 15:55] #5022 closed

[2021-05-18 16:34] loaderladdy opened #5035 "Add new "Type" parameter value to output a PAC file that excludes URLs detailed in O365 Tenant Restrictions"
[code]

Type 2 includes URLs that feature in the Microsoft article on configuring tenant restrictions  here [https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/tenant-restrictions](url)

As manual configuration of Get-PacFile.ps1 PowerShell script output could lead to a security incident for an organisation that relies on tenant restrictions to reduce the attack surface of their e

[2021-05-18 16:41] chrisda commented on #5029
@robbonnema, a couple of questions:

1. Are you saying the _Type_ parameter isn't available (resulting in errors in the script), or that `-Type Spam`  was returning zero results?
2. There appears to be a _QuarantineTypes_ parameter on Get-QuarantineMessage that does the same thing as the _Type_ parameter. My tenants appear to have both parameters. How does the _QuarantineTypes_ parameter work for

[2021-05-18 18:09] sullcromenterprise opened #5036 "Azure AD Connect Servers - narrower domain list."
It would be really nice if Microsoft could provide more details on the necessary ports and domains/URLs that are required for Azure AD Connect Servers > to MS Cloud Service.  The absolute mininum required ports/domains/urls should be listed.

The current list is to broad and is not narrowly scoped enough for Microsoft Azure AD Connect Servers.  Especially when these servers have a very specific ro

[2021-05-18 18:17] shAFXr opened #5037 "Shared Inbox app functionality"
Documentation states that attachments sent within an encrypted email to a shared inbox, cannot be viewed when using the mobile Outlook apps. Testing against this document, it seems the statement is incorrect and encrypted messages and their attachments sent to shared inboxes, **can** be viewed on Outlook for iOS. If the docs team could clarify the functionality table, it'd be great.

---
#### Docu

[2021-05-18 19:39] shung818 opened #5038 "Some of the download links return a 404 not found."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddbbbdfb-c916-be79-2a91-5576d58a30e1
* Version Independent ID: 793f2f73-6fbc-04e5-fa8a-54908d74d860
* Content: [Microsoft 365 productivity illustrations](https://docs.microsoft.com/en-us/microsoft-365/solutions/productivity-illustrations?view=o365-wor

[2021-05-18 20:59] hughburns-ccl opened #5040 "Links are wrong in article"
The links to fulldisk.mobileconfig, netfilter.mobileconfig, notif.mobileconfig all incorrectly point to kext.mobileconfig.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd66a255-36e5-29dc-7610-d50ef8bca3f3
* Version Independent ID: 17375473-bc07-f8e5-a85f-d732bbba3d71
* Content: [Intune-based deployment for Microsoft