[2022-11-02 02:54] lizw85 opened #10118 "Network device discovery"
[What version of SNMP is used?  Is it V2?  My ITSA wants to know]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: afc92823-9277-c291-049c-0ac74542a403
* Version Independent ID: b6eadab9-51b1-23d4-224e-f9a59cde87a7
* Content: [Network device discovery and vulnerability management](https://learn.microsoft.com/en-us/micro

[2022-11-02 04:48] VigneshMitsume opened #10119 "Incorrect Japanese translation"
This page and the child pages for eDiscovery has lot of incorrect/inconsistent Japanese translation for custodian management.
Japanese customers cannot understand correctly about the product. Especially "non-custodial" is translated into 6 patterns as far as I found. Each of those translated word has totally different meaning For ex. custodian: "カストディアン" "保管担当者"
custodial: "保管"
non-custodial: "非 親

[2022-11-02 05:36] DMoenks commented on #10117
As `$_` should be the variable representing the current object in the scriptblock of a [ForEach-Object](https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.core/foreach-object?view=powershell-5.1) call, that example is most probably incorrect. The error message likely points to some different issue, as the ampersand is possibly interpreted as part of the site URL, which makes

[2022-11-02 05:56] fzbm commented on #10092
Hi @msbemba and @yogkumgit,

thanks for your fast responses. There was a holiday yesterday in my country and I additionally took a day off to extend my weekend by two days. Therefore, the late response from my site.

Anyway ... I tested it again and it looks like the problem fixed "itself". 😉 Sadly, I cannot find an entry about this in the message center, or the problem was fixed during fixing ano

[2022-11-02 09:00] microsoftchihsieh opened #10121 "Another group policy "Define file shares for downloading security intelligence updates" is not mentioned in this document."
[Enter feedback here]

In this document, nothing about the group policy **Define file shares for downloading security intelligence updates** is mentioned.
According to [this article](https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/configuring-microsoft-defender-antivirus-for-non-persistent-vdi/ba-p/1489633), both **Define file shares for downloading security intelligence upd

[2022-11-02 09:04] yowsa opened #10122 "Antivirus export via files"
Is there any information on when "1.3 Export device antivirus health details API properties (via files)" will be officially released?

Also curious is there is a way to get the associated user when requesting device health?

Thank you!! 🙏🏻

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9849a2ea-ad01-d8ab-f03a-6f8b256c

[2022-11-02 09:10] yowsa opened #10123 "Default page size for user related devices"
What are the default page size for this endpoint? And what is the max page size we can request for?

Thank you 🙏🏻

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9849a2ea-ad01-d8ab-f03a-6f8b256c22bb
* Version Independent ID: 9849a2ea-ad01-d8ab-f03a-6f8b256c22bb
* Content: [Microsoft Defender Antivirus export device ant

[2022-11-02 09:20] yowsa opened #10124 "Are rate limits application level or application+tenant?"
Are the rate limits for the Defender Endpoint APIs per combination of **application+tenant_id** or per **application** only? Haven't been able to find details on this in the docs.

Thank you
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 881f771d-1eb6-96ac-5652-53ba7183d9e0
* Version Independent ID: 881f771d-1eb6-96ac-

[2022-11-02 11:29] yogkumgit commented on #10119
@tiburd Please help us in resolving this issue. Thanks

[2022-11-02 11:39] yogkumgit commented on #10094
@bluestarcs We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2022-11-02 11:39] #10094 closed

[2022-11-02 12:07] Elgwada01 opened #10126 "Clearer information about DNS required"
There are no "clear" explanation of the reason why local DNS server is recommended. As a result, I still see many compagnies setting up their DNS in one Physical location instead of having it in local network egress location. It is important to mention how the Microsoft 365 front doors use multicast so depending on where the user query is emitted, the result will be different. Not having a local D

[2022-11-02 12:50] idontknowwhattocallit commented on #9237
Email delivery.  Emails are blocked if they contain a URL listed in the TABL.  Microsoft has assured me over the last four months that this is intentional behavior and not a bug.

[2022-11-02 16:13] theonlybrand opened #10127 "Microsoft GPG key does not get checked"
[Enter feedback here]

Microsoft GPG key does not get recognised on clean Ubuntu 20.04 install.
Had to do the following to get the installation of mdatp to work:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bab0b894-0199-7515-b060-a6724e2c9b9e
* Version Independent ID: 988ff83c-c4b5-d2f3-023e-2d8dd191b7ae
*

[2022-11-02 16:22] jt980 opened #10128 "Please add better steps"
Your instructions say "in the admin center" go to settings.  What admin center - Azure, Office, other?  Neither Azure nor Office have a "Settings" blade.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b13e4c14-5b0a-a4f6-1e65-7c79e49a0f10
* Version Independent ID: ec4223f2-8127-7605-07a0-306c4d41

[2022-11-02 18:03] chrisda commented on #9237
@dhairyya, I'm having trouble parsing both what needs to be changed/added and where to do it. If you can, please make whatever changes you see fit directly in the topic and @ include me in the comments of the PR.

@idontknowwhattocallit, you, too, are free to directly modify the topic with whatever changes you want. Super-easy instructions are [here](https://github.com/MicrosoftDocs/microsoft-365-

[2022-11-02 18:05] lovetherager opened #10129 "URI Not Working"
The URI "https://webhook.ingestion.office.com/api/signals" that is used in the powershell script and the powerautomate does not work. When attempting to access. A 401 or a 403 error is served. Can you please update the document with a functioning URI?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d6b68cfa-058a-8536-f

[2022-11-02 18:21] chrisda commented on #9589
I added some clarification statements about the Outlook Safe Senders list (bolded for emphasis):

Thanks for the feedback.

Closing

[2022-11-02 18:21] #9589 closed

[2022-11-02 18:24] chrisda commented on #9218
I added the following note to the domains and email addresses bullet:

Thanks for the feedback.

Closing

[2022-11-02 18:24] #9218 closed

[2022-11-02 18:30] DMoenks commented on #10128
I would guess "admin center" refers to the [Microsoft 365 admin center](https://admin.microsoft.com), due to...

- the article being part of the documentation for **Microsoft 365 admin center**
- the link provided in the [Turning user consent on or off](https://learn.microsoft.com/en-us/microsoft-365/admin/misc/user-consent?view=o365-worldwide#turning-user-consent-on-or-off) section linking to the

[2022-11-02 19:00] chrisda commented on #8724
I added the following bullet to the What do you need to know before you begin? section. Feel free to modify:

Thanks for the feedback.

Closing

[2022-11-02 19:00] #8724 closed

[2022-11-03 04:31] msbemba commented on #10093
@born-slippy Thank you for your feedback. We have removed the link as the page has been removed. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10089

Once the page is backup and running the document will be updated accordingly.

Thanks
Sri

[2022-11-03 04:38] msbemba commented on #10095
@sergioandreslq Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10133

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-03 04:57] msbemba commented on #10117
@connor-berry Thank you for your feedback. The correct cmdlet would be

Get-SPOSite | ForEach {Get-SPOSiteGroup –Site $_.Url} | ForEach {Remove-SPOUser -LoginName $user@$tenant.com -Site $_.Url}

Looks like a typo and has been fixed in PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10120

Hope this helps!

Thanks
Sri

[2022-11-03 08:21] JeroenDronkers opened #10135 "Invalid email addresses"
Invalid email addresses should also mention spaces in the email address. When an Email address contains a space, EOP will mark the email as junk

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd8eda3-422f-0ca5-328c-cf049daf296e
* Version Independent ID: 24a28789-1473-dc1f-aa94-67015c1ff12d
* Content: [How EOP validat

[2022-11-03 09:33] JeroenDronkers opened #10136 "Invalid FROM address"
Invalid from Address should include email addresses containing a space like <firstname secondname@contoso.com>

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd8eda3-422f-0ca5-328c-cf049daf296e
* Version Independent ID: 24a28789-1473-dc1f-aa94-67015c1ff12d
* Content: [How EOP validates the From address to prevent phi

[2022-11-03 10:01] yogkumgit commented on #10038
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mh-mnc11 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-03 10:01] #10038 closed

[2022-11-03 10:34] yogkumgit commented on #10088
@msbemba Thank you very much for the contribution and updating the documentation with PR. @andyrobbins Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-03 10:34] #10088 closed

[2022-11-03 10:35] yogkumgit commented on #9964
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RaphaelUlysses Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-03 10:36] #9964 closed

[2022-11-03 10:40] yogkumgit commented on #9926
@msbemba Thank you very much for the contribution and updating the documentation with PR. @justinasval Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-03 10:40] #9926 closed

[2022-11-03 10:42] yogkumgit commented on #9960
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DShirk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-03 10:43] #9960 closed

[2022-11-03 10:44] yogkumgit commented on #9992
@msbemba Thank you very much for the contribution and updating the documentation with PR. @robgeach Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-03 10:44] #9992 closed

[2022-11-03 10:45] yogkumgit commented on #9972
@msbemba Thank you very much for the contribution and updating the documentation with PR. @unearthnz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-03 10:45] #9972 closed

[2022-11-03 12:43] msbemba commented on #10122
@yowsa Thank you for your feedback. The release date is not available yet. However, you can enter this feedback on our main feedback portal ( https://feedbackportal.microsoft.com/ ) so that a dev/product engineer can provide more information on when this will be live.

Hope this helps!

Thanks
Sri

[2022-11-03 12:50] msbemba commented on #10123
@yowsa Thank you for your feedback. The maximum page size is  200,000. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10139

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-03 12:53] msbemba commented on #10124
@yowsa Thank you for your feedback. The rate limitations are always on the combination of application+tenant.

Hope this helps!

Thanks
Sri

[2022-11-03 13:49] WhiskeyTFox opened #10140 "Not Updated for New Commerce Experience"
[Enter feedback here]
This page and the instructions do not seem to apply to the "new commerce experience". The options to manage "add-ons" in a parent subscription is no longer available.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-aced-e2f3-f

[2022-11-03 16:24] chrisda commented on #10136
I'm closing this as a duplicate of #10135

[2022-11-03 16:24] #10136 closed

[2022-11-03 16:30] JeroenDronkers commented on #10136
Hello Chris,

Yes I had to create another one because the first one seemed to have failed.

The issue is that we don’t support Email addresses with spaces like <email ***@***.******@***.***>>

It would be nice to have this added to the article so that we can refer customer to it.

Many thanks!

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services and Suppo

[2022-11-03 16:40] chrisda commented on #10135
OK. Added:

Thanks for the feedback.

Closing

[2022-11-03 16:40] #10135 closed

[2022-11-03 16:49] JeroenDronkers commented on #10135
Hello Chris,

Should that be visible already? I don’t see the change yet…

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services and Support
Office: +44 (118) 9095507
***@***.******@***.***>

[abc]
﻿
Team Manager | Frances Early ***@***.******@***.***>) +44 (20) 34251539

Did you know? You can submit your feedback for this Support ticket from the Navigation

[2022-11-03 17:09] VincentXu2021 opened #10142 "Observation in data doesn't match the retention period END date time for Delete policy."
In this example, it says "typically 1-7 days after the start of the retention period on day 2"
https://learn.microsoft.com/en-us/microsoft-365/compliance/retention-policies-teams?view=o365-worldwide#example-3-delete-only-after-1-day
from above document, my understanding in "1-day delete policy" is like this:
Message sent: 2022-11-01T02:30:00 (UTC)
Retention period start: 2022-11-02T00:00:00(UTC)
R

[2022-11-03 19:35] obsoletenewyork opened #10143 "Order of operations for block/allow"
Can you add documentation here that specifies the order of operations for the block/allow actions?

Example:
An admin creates a manual block entry for a URL. Later on, that same URL is submitted via the submissions portal to create an allow entry. Does the block always take precedence?

[2022-11-03 20:36] vxSpctr opened #10146 "Indicator Import requires PascalCase for Category strings."
Attempting to import Indicators with specific categories requires the string to be written on Pascal Case convention and only accepts the category list available at the portal:

![image](https://user-images.githubusercontent.com/92767117/199828282-5b0e500c-a86f-4336-a9fe-cf60c32af5ac.png)

If you try "Suspicious Activity" with or without quotes will pop up an error while importing, however, "Suspi

[2022-11-04 01:04] Shisho2022 opened #10148 "Lack of examples"
Please provide more examples on this article so that comparison can made for better understanding of how wildcards work. One example is not enough.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a52d23d2-1b6b-b0ed-dddf-6e4596adcbac
* Version Independent ID: b69c1c07-1bbc-7a18-efaa-d0d34de70cd9
* Content: [Configure ex

[2022-11-04 04:47] vishnookumar commented on #7601
@msbemba This link is redirecting again. Could you please check?

[2022-11-04 05:13] maccaoz opened #10149 "Required version of Office needs correcting"
Docs currently state:

"A supported version of Microsoft Office is installed"

This is leading customers to erroneously believe Perpetual Office is supported.   Consider changing to "A supported version of Microsoft 365 Apps is installed", or perhaps adding a note to indicate that Perpetual is not supported.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2022-11-04 07:08] morrow233 opened #10150 "Japanese localization issue on the content"
[Enter feedback here]
There is a localization issue on ja-jp page for this contents.

https://learn.microsoft.com/ja-jp/microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection?view=o365-worldwide

https://learn.microsoft.com/ja-jp/microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection?view=o365-worldwide#how

[2022-11-04 08:32] msbemba commented on #10111
@shadcollins Thank you for your feedback. The document talks about how to block, and there is another section that explains different use cases and the outcome in detail.

![image](https://user-images.githubusercontent.com/45987684/199928112-46e2e530-12a0-4efd-943f-065a68dfc11c.png)
Hope this helps!

@yogkumgit  There are no changes required in the document as of now.
Thanks
Sri

[2022-11-04 10:49] ChrisRitson opened #10151 "Debugging mdatp_managed.json"
I've just spent too long debugging a rookie error in /etc/opt/microsoft/mdatp/managed/mdatp_managed.json.

My error was specifying a path for an excludedFileName when I should have specified a name. Two things would have made this a lot easier. Either:

- A tool to output the current state or exclusions which had been entered on the command line as a .json file for use elsewhere; or
- An error or

[2022-11-04 12:42] yogkumgit commented on #10143
@obsoletenewyork Can you please tell us to which article(s) your question applies? This will help us route this issue to the correct writer/team.

[2022-11-04 12:46] yogkumgit commented on #10150
@tiburd please help us in resolving this issue. Thanks

[2022-11-04 13:16] yogkumgit commented on #10109
@Dansimp Please help us in resolving this issue. Thanks

[2022-11-04 13:18] yogkumgit commented on #10116
@chrfox Please help us in resolving this issue. Thanks

[2022-11-04 13:19] yogkumgit commented on #10118
@levinec Please help us in resolving this issue. Thanks

[2022-11-04 13:22] #10122 closed

[2022-11-04 13:24] yogkumgit commented on #10123
@msbemba Thank you very much for the contribution and updating the documentation with PR. @yowsa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-04 13:24] #10123 closed

[2022-11-04 13:25] yogkumgit commented on #10124
@msbemba Thank you very much for the contribution and sharing this explanation. @yowsa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-04 13:25] #10124 closed

[2022-11-04 13:27] yogkumgit commented on #10101
@msbemba Thank you very much for the contribution and sharing this explanation. @skowronp1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-04 13:27] #10101 closed

[2022-11-04 14:05] yogkumgit commented on #10111
@msbemba Thank you very much for the contribution and sharing this explanation. @shadcollins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-04 14:06] #10111 closed

[2022-11-04 14:27] msbemba commented on #7601
@vishnookumar  Looks like the link is not active anymore. We will check with the author to find if there is a replacement link.

[2022-11-04 17:00] obsoletenewyork commented on #10143
@yogkumgit

Article is here - thank you:
https://learn.microsoft.com/en-us/microsoft-365/security/office-365-security/manage-tenant-allow-block-list?view=o365-worldwide

[2022-11-04 17:09] njpl3 opened #10152 "Edits and date/time issues"
I was just figuring out how to configure this and I found this page. Thank you for the detailed information. I have just a couple of edits and questions/clarifications...

**Under "schedule a quick scan", change**
2. Save the file as com.microsoft.wdav.schedquickscan.plist.
to
2. Save the file as com.microsoft.wdav.schedquickscan.plist to the /Library/LaunchDaemons directory

**Under "schedule a f

[2022-11-04 19:12] joholmes123 opened #10153 "No more free trials?"
Making people enter credit card information and then needing to cancel in order to not be billed is really not cool.

As a consultant, I frequently have people start a trial to get practice and introduced to the application and this is going to leave a bad taste in people's mouths.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linkin

[2022-11-04 19:22] KCCross commented on #7601
Fixed in the private repo.

[2022-11-04 22:40] WilfridBlanc opened #10154 "Include CVSS vector in API responses related to vulnerabilities"
Hello!

Using the MDE API, we can see that only the numeric cvss3 score is provided as part of the API responses. For example, for the `get-vulnerability-by-id` endpoint, the answer contains the numeric value of the CVSS score, and not the related vector (https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/get-vulnerability-by-id?view=o365-worldwide#response-example)

Having

[2022-11-05 15:01] Masonta1976 opened #10155 "Mas7894"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: c4f0934a-bc5e-9516-ec42-082faed4675d
* Version Independent ID: c4f0934a-bc5e-9516-ec42-082faed4675d
* Content: [Microsoft 365 admin center - Overview - Microsoft 365 admin](https://learn.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-ce

[2022-11-05 16:00] famxiang opened #10156 "SharePoint File Access Policies Feedback"
For the diagram illustrates, under Azure AD Conditional Access policies, it show require approved apps doesn't highlight showing pair with the "or App protection policy".

https://learn.microsoft.com/azure/active-directory/conditional-access/howto-policy-approved-app-or-app-protection#require-approved-client-apps-or-app-protection-policy-with-mobile-devices

---
#### Document Details

⚠ *Do not ed

[2022-11-06 22:16] paulaustin-automutatio opened #10158 "typo: fourthcoffeecorp.onmicrsoft.com"
[Enter feedback here]
typo in the following domain

fourthcoffeecorp.onmicrsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 46a11050-b442-7a48-0d37-9bce8908fc14
* Version Independent ID: 5456e564-2629-cfc2-dfc9-2b7934fcf43a
* Content: [Domains Frequently Asked Questions](https://learn.microsoft.com/en-us/micros

[2022-11-07 07:46] sryze opened #10160 "Type in Group Policy section"
It seems like "WIndow Defender Exploit Guard" should be chagned to "Microsoft Defender Exploit Guard". This is a screenshot from my WIndows 10 system:

![image](https://user-images.githubusercontent.com/4525736/200253847-bf05a9be-6b2c-4d8b-bc1b-59aa63677b0b.png)

I'm not sure if that node is named differently in other versions of Windows. If not, I think the docs should be updated.

---
#### Docum

[2022-11-07 10:49] yogkumgit commented on #10110
@chrisda Please comment

[2022-11-07 13:47] nickbrownapollo opened #10161 "Guest Web-Only Access"
I think that the section "Set up web-only access for guests" is slightly misleading.

I believe that the intention of this rule is to effectively force guests to use a Web Browser by denying access using all other clients. The most logical approach would have been to use a "Block" grant control, but I understand this can cause unintended side effects, so this isn't the approach taken.

Instead, th

[2022-11-07 14:30] jrhi opened #10162 "API Limits are incorrect"
[Enter feedback here]
I believe the limits are incorrect -- for the API, we should return 100k results, not 10k.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 53a61a50-f7f2-f09a-a008-759c3afba97b
* Version Independent ID: 872c0e23-c626-3e22-efea-d4ef4ad7f32b
* Content: [Advanced Hunting API](https://learn.microsoft.c

[2022-11-07 15:30] tiburd commented on #10119
Thank you for submitting this localization issue.

I submitted a translation bug: [240347](https://dev.azure.com/GlobalCollaborationService/Global%20Collaboration%20Service%20Project/_workitems/edit/240347)

I'm closing this issue because the Global Services team will handle it from here.

cc: @yogkumgit

[2022-11-07 15:30] #10119 closed

[2022-11-07 15:31] coleefy opened #10163 "Add domains up to 900 OR up to 5,000?"
[Enter feedback here]

What is the correct number of domains we can add on an M365 tenant?

ON THIS PAGE: It says

`Typically, you can add up to 900 domains to your Microsoft 365 subscription.`

BUT on other MS Learn pages, it says "up to 5,000":

- https://learn.microsoft.com/en-us/microsoft-365/admin/m365-feature-descriptions?view=o365-worldwide&tabs=Domains
- https://learn.microsoft.com/en-us/o

[2022-11-07 17:35] jbrysonMSFT opened #10165 "Update to reflect Defender Vulnerability Management with Defender for Servers P2"
A linked Azure subscription with Defender for Servers Plan 2 will grant the full Defender for Vulnerability Management

![image](https://user-images.githubusercontent.com/54324805/200376981-c672d12c-bbbb-468f-8f0a-b71558a8f6cd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: fa2cb7af-a9ea-41cf-60ec-b33ff122b058
* V

[2022-11-07 17:38] chrisda commented on #10110
Nothing new to add. For more clarification, you can try opening a support ticket and reporting back here with any information that can help improve the documentation.

[2022-11-07 18:33] cabailey commented on #10142
@VincentXu2021 I don't see how this is actionable for the documentation as a GitHub Issue, but I can share that the explanation and example went through careful review and signoff by the engineering team that owns the code. If your observations don't match the documentation, you can open a support ticket for investigation.  They can contact us if they think any changes are needed.

[2022-11-07 18:33] #10142 closed

[2022-11-07 19:05] chrislehr opened #10166 "How many users are protected?"
This page shows 301.  The Admin UI shows 350.  Can this discrepancy be cleared up?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: f0b8f651-9d8e-a34b-8dde-2b6a9448f875
* Version Independent ID: 20e96426-627d-9973-8303-a43a114c7b61
* Content: [Anti-phishing policies - Office 365](https://learn.microsoft.com/en-us/micros

[2022-11-07 19:19] siosulli commented on #10165
Hi @jbrysonMSFT

Just so I'm clear - are you requesting to update this page:
 https://learn.microsoft.com/en-us/microsoft-365/security/defender-vulnerability-management/get-defender-vulnerability-management?view=o365-worldwide

with the information that if you sign up for Defender for Servers Plan 2 you'll get Microsoft Defender Vulnerability Management?

If so, I might just send an email to give

[2022-11-07 19:26] chrisda commented on #10166
@chrislehr, you should open a support ticket about this. Right or wrong, the maximum value is currently 301 per [this other GitHub issue](https://github.com/MicrosoftDocs/microsoft-365-docs/issues/10028).

Whether that's by design or a temporary problem is unknown at this point, which is why a support ticket is the best way forward. Plus, changing that 350 to 301 in the Microsoft 365 Defender port

[2022-11-07 19:39] msbemba commented on #10128
@jt980 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10167

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-07 19:49] chrislehr commented on #10166
Is there a QA department that works somewhere between development and technical writing any more?

![image](https://user-images.githubusercontent.com/10875667/200401038-8c14f04b-78d1-42c1-a236-b7fa989fe5e1.png)

My AntiPhishing policy holds 350 items before it errors in PowerShell.  It seems 350 (the setting in the UI) is what it is limited to and that the documentation might be incorrect.

Please

[2022-11-07 19:50] chrislehr commented on #10166
![image](https://user-images.githubusercontent.com/10875667/200401413-1413edc7-0ed9-45c7-8a34-07ca206adfde.png)

[2022-11-07 20:09] msbemba commented on #10149
@maccaoz Thank you for your feedback. WE have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10168

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-07 20:13] msbemba commented on #10155
@Masonta1976 Thank you for your feedback. I'm not sure if your entire feedback was entered. Could you please provide us with more information on the question or changes you need on this document?

Thanks
Sri

[2022-11-07 20:16] Soolkiki commented on #10110
Please review ticket Case #:33459984. I tried bringing up that our CEO was being impersonated by some random email from an IP in another country. Microsoft marked the email as spoofing because it wasn't from a "valid" domain. Here was their explanation:

_According to the Article, it states that:
Domain impersonation is different from domain spoofing, because the impersonated domain is typically a

[2022-11-07 20:19] msbemba commented on #10158
@paulaustin-automutatio Thank you for your feedback. The changes have been made by @DMoenks via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10159

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-07 20:22] msbemba commented on #10160
@sryze Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10170

Once the author approves the changes will be live.

Thanks
Sri

[2022-11-07 21:10] chrisda commented on #10166
I changed the number back to 350.

Thanks for the feedback.

Closing

[2022-11-07 21:10] #10166 closed

[2022-11-07 21:28] chrisda commented on #9911
Definitely a good idea, but monumental in scope and time, and not really trackable via a GitHub issue.

[2022-11-07 22:51] chrisda commented on #10143
@obsoletenewyork, I added the following note:

OK?

[2022-11-08 07:55] yogkumgit commented on #10047
@msbemba Thank you very much for the contribution and updating the documentation with PR. @LS16395762 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-08 07:55] #10047 closed

[2022-11-08 08:41] #9911 closed

[2022-11-08 08:43] yogkumgit commented on #10143
@obsoletenewyork Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-08 08:43] #10143 closed

[2022-11-08 09:25] thecristidima opened #10173 "Missing documentation link in comment"
Documentation link is missing at line 9 `Read more about other query options and filters at   Https://TBD-`

I assume it's supposed to point to this link: https://learn.microsoft.com/microsoft-365/security/defender-endpoint/get-alerts

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 965899f9-b7bd-363e-1f79-f44594add183

[2022-11-08 10:15] msbemba commented on #10151
@ChrisRitson Thank you for your feedback. You are right, this is product feedback and should be routed to the dev/product group. I'd recommend you post this directly on our main feedback protal - https://feedbackportal.microsoft.com/  so that a dev/product engineer can review and respond.

Hope this helps!

Thanks
Sri

[2022-11-08 11:21] MrMozbe opened #10175 "Windows 10 lab download is corrupted"
[Enter feedback here]

the Windows 10 lab download is corrupted
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office 365 deployment lab kit - Microsoft 365 Enterprise](https://learn.microsoft.com

[2022-11-08 12:39] jgrangier opened #10176 "Wrong %LOCALAPPDATA% value"
https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-extension-file-exclusions-microsoft-defender-antivirus?view=o365-worldwide#system-environment-variables

The value of the variable "%LOCALAPPDATA%" should be "C:\WINDOWS\system32\config\systemprofile\AppData\Local" and not "C:\Users\USERNAME\AppData\Local".

---
#### Document Details

⚠ *Do not edit this section.

[2022-11-08 13:16] ChrisAt2at opened #10177 "'Link to 'Get access to and back up a former user's data' is incorrect."
Page https://learn.microsoft.com/en-us/microsoft-365/admin/add-users/delete-a-user?view=o365-worldwide is referring to '[Get access to and back up a former user's data](https://learn.microsoft.com/en-us/microsoft-365/admin/add-users/get-access-to-and-back-up-a-former-user-s-data?view=o365-worldwide).', but the link goes to https://learn.microsoft.com/en-us/microsoft-365/admin/add-users/remove-form

[2022-11-08 15:04] catarinamarto opened #10178 "Typo on "Note""
[I would suggest to change this typo "If you have a billing profile, you **con** only change the billing frequency when you buy or upgrade a subscription. To find out if you have a billing" to "you **can**"]
Thanks
Catarina

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 49d66f21-cff3-bb96-df38-6f67d95eb6cf
* Version I

[2022-11-08 15:36] gh-andrem opened #10179 "Output missing for Defender for Antivirus mode via sc query windefend"
Looking at the documentation on how to check if MDAV is in passive mode I've noticed that it is not described what the expected output of [[Method | Command Prompt]](https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/switch-to-mde-phase-3?view=o365-worldwide#confirm-that-microsoft-defender-antivirus-is-in-passive-mode-on-your-endpoints) should look like.

I've ran the comma

[2022-11-08 17:00] #10158 closed

[2022-11-08 17:17] dpshutts opened #10180 "Use Intune to turn on cloud protection - guidance no longer accurate"
_Use Intune to turn on cloud protection_

The guidance in this section is no longer accurate and appears to relate to an older version of endpoint.microsoft.com

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 77bcfc10-a6b2-04a9-180e-7e0ffa230c36
* Version Independent ID: 8ed5bf92-9816-fb44-ca16-8d6fd8b1e37f
* Content:

[2022-11-08 18:02] chrislehr opened #10181 "Zero documentation on PowerShell cmdlets for this"
Can we get some documentation on:
Get-ReportSubmissionPolicy
Get-ReportSubmissionRule

Had a customer in GCC recently find their UI was broken and that there was ZERO powershell guidance.  This is really needed, especially when a single UI change (add a reporting mailbox) touches this many settings:

![image](https://user-images.githubusercontent.com/10875667/200641156-43f254fb-7908-4ba1-8295-f564

[2022-11-08 19:03] msbemba commented on #10146
@vxSpctr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10183

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 19:09] mantis opened #10184 "Licensing information is not accurate"
_Required subscriptions and permissions
Before you get started with IB, you should confirm your Microsoft 365 subscription and any add-ons. To access and use IB, your organization must have one of the following subscriptions or add-ons:

Microsoft 365 E5/A5 subscription (paid or trial version)
Office 365 E5/A5/A3/A1 subscription (paid or trial version)
Office 365 Advanced Compliance add-on (no lon

[2022-11-08 19:24] msbemba commented on #10140
@WhiskeyTFox Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10185

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-08 19:25] msbemba commented on #10129
@lovetherager Thank you for your feedback. I'll check with the author and update the latest URL shortly.

Thanks
Sri

[2022-11-08 19:38] slgsperry opened #10186 "Syntex Setup Process Doesn't Ask for Environment"
I went through the setup process in my tenant today. It never asked me what environment to use, it set it to the Default environment.

The doc is incorrect, it should also include steps on how to change the environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 215aae2b-deef-07f9-03cf-009006b8cabb
* Version Indep

[2022-11-08 20:28] manderson97 opened #10188 "TLS 1.1/1.0 expiration info is out-of-date"
The page still states "We began disabling TLS 1.0 and 1.1 for Worldwide and GCC environments beginning on **October 15, 2020** and will continue with roll-out **over the next weeks and months**."

Is the rollout complete?  If so, we should make it clear that we've removed TLS 1.0 and 1.1...

If the rollout _isn't yet_ complete, we should provide an update on when we expect it to be done...

---
##

[2022-11-08 20:34] manderson97 opened #10190 "Update on TLS 1.0/1.1 retirement?"
The "latest" update states: "We have already disabled TLS 1.0 and 1.1 for most Microsoft 365 services in the world wide environment. **Rollout will continue over the following weeks and months.**"

But there is no context for "when this started" or _more importantly_, when it is expected to be completed...

A different page https://learn.microsoft.com/en-us/microsoft-365/compliance/technical-refer

[2022-11-08 20:59] chrisda commented on #10181
@chrislehr, the state of the feature and cmdlets is in flux. I had PowerShell content complete and published back in late July, but I was soon asked to remove it. You can see what it looked like [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/d3d307fa1559ea18320af678502f8705cfe758ae/microsoft-365/security/office-365-security/user-submission.md#use-exchange-online-powershell-to-conf

[2022-11-09 08:03] iftikhariqbal opened #10192 "October 2022 - DLP Links"
The links mentioned under the October 2022 update of Data Loss Prevention are not working

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 89486ebd-f4fa-9d07-ee93-d04fd8d41027
* Version Independent ID: 667019d9-aac6-f466-1605-651a800fc212
* Content: [What's new in Microsoft Purview risk and compliance solutions - Micros

[2022-11-09 09:18] #10151 closed

[2022-11-09 09:22] yogkumgit commented on #10153
@joholmes123 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-11-09 09:22] #10153 closed

[2022-11-09 09:24] #10160 closed

[2022-11-09 10:24] yogkumgit commented on #10121
@denisebmsft Please help us in resolving this issue. Thanks

[2022-11-09 10:27] yogkumgit commented on #10126
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-11-09 10:34] yogkumgit commented on #10127
@Dansimp Please help us in resolving this issue. Thanks

[2022-11-09 10:36] yogkumgit commented on #10148
@denisebmsft Please help us in resolving this issue. Thanks

[2022-11-09 10:37] yogkumgit commented on #10154
@DulceMontemayor Please help us in resolving this issue. Thanks

[2022-11-09 10:38] yogkumgit commented on #10156
@Dansimp Please help us in resolving this issue. Thanks

[2022-11-09 10:53] ShawnHag opened #10193 "Defender for endpoint bandwidth"
Hi,
On this page it says that the Defender for endpoint sensor can use a daily average bandwidth of 5 MB to communicate with the Defender for Endpoint cloud service.

Is there any chance of this bandwidth to significantly increase? (ex: when a device is compromised by a malware)
If there is, in what kind of situation and approximately how much will the bandwidth increase?

I would like to know abo

[2022-11-09 11:13] yogkumgit commented on #10075
@msbemba

[2022-11-09 11:38] williamcolbert opened #10194 "Windows 10 Lab Link Broken"
Hello,

The [Windows 10 lab environment](https://download.microsoft.com/download/b/7/6/b7696d5b-940e-4af6-ba8b-32cfa3532e6e/Windows10_21H2_2022-10-19.zip) link in the table at the top of the page leads to a 404 Not Found page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Versio

[2022-11-09 11:43] hibbyskuss opened #10195 "Forming PS Script to find SITs stored in SPO Sites"
Hi team, I am currently working on a project in which I try to create a PS script that allows me to create a new compliance search (which I did), but in this search, I would like to include which Sensitive Information Type the search is supposed to look for. So, I have defined the location etc., but the operator that I struggle with including is basically the ones mentioned [here](https://learn.mi

[2022-11-09 13:20] msbemba commented on #10161
@nickbrownapollo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10196

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 13:22] msbemba commented on #10162
@jrhi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10197

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 13:24] msbemba commented on #10163
@coleefy Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10198

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 13:40] msbemba commented on #10175
@MrMozbe Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10200

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 13:43] msbemba commented on #10176
@jgrangier Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10201

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 13:49] msbemba commented on #10177
@ChrisAt2at Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10202

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 13:50] msbemba commented on #10178
@catarinamarto Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10203

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 13:56] msbemba commented on #10179
@gh-andrem Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10204

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 14:09] msbemba commented on #10180
@dpshutts Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10205

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 14:13] msbemba commented on #10184
@mantis Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10206

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 14:18] msbemba commented on #10186
@slgsperry Thank you for your feedback. If you have multiple environments configured, you can choose which one to configure.  This option will not appear if you only have one environment.

Hope this helps!

Thanks
Sri

[2022-11-09 14:21] msbemba commented on #10188
@manderson97 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10207

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 14:24] slgsperry commented on #10186
I have 20 environments. Option still did not appear.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sriraman M S ***@***.***>
Sent: Wednesday, November 9, 2022 9:18:39 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Steven Perry ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Syntex Setup Process Doesn't Ask for E

[2022-11-09 14:27] msbemba commented on #10190
@manderson97 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10208

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 14:35] msbemba commented on #10192
@iftikhariqbal Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10209

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-09 15:47] desinnic opened #10210 "Page Amendments to include updated features and screenshots"
[can we add the following missing details to this page:

Attack Story | Users | Mailboxes | Apps | Evidence and Response | Summary

<img width="997" alt="image" src="https://user-images.githubusercontent.com/64973243/200875776-77cee93f-cf93-439e-9135-8c94b25a09a8.png">

Adding a subsection and description for each of the missing fields

 ]

---
#### Document Details

⚠ *Do not edit this section. I

[2022-11-09 16:52] hudish opened #10211 "Update See Also section"
Under "See Also" section, please link to another article in this series, on how to detect and remediate illicit consent grants. Thanks.

https://learn.microsoft.com/microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 073882cd-36d0-b95a-7

[2022-11-09 18:19] sinnamingrrl opened #10212 "This page needs to be updated for GCC Functionality."
GCC cusotmers are not allowed to submit via the process described in this page.  if they do they get the following pop up.  for appropriate content PG should provide context for GCC and for that matter DOJ tenants where it relates to sumissions.

![GovSubmissionError](https://user-images.githubusercontent.com/47158090/200909478-02a74b45-87ea-4830-a26a-c5a391352f44.png)

⚠ *Do not edit this section

[2022-11-09 18:19] chrisda commented on #10211
OK. Done.

Thanks for the feedback.

Closing

[2022-11-09 18:19] #10211 closed

[2022-11-09 19:32] mantis commented on #10184
@msbemba  and should Office 365 E5/A5/**A3/A1** be removed?

[2022-11-09 19:35] msbemba commented on #10184
@mantis Thank you. It has been updated now.

[2022-11-09 20:11] trevorNgo opened #10213 "Update AllowList Urls With 1DS For Office365"
js.monitor.azure.com
Required to ensure partners allow 1ds telemetry for account manager control brought in from header.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP address ranges -

[2022-11-09 20:48] trevorNgo commented on #10213
Closing #10214

[2022-11-09 21:47] EllaBeans opened #10216 "Under Third-party reporting tools options when setting is 'off' Docs options don't match up with options in the M365D portal"
(https://learn.microsoft.com/en-us/microsoft-365/security/office-365-security/user-submission?view=o365-worldwide#third-party-reporting-tools-options) In this section it says:

When Microsoft Outlook Report Message button is Off Toggle off. the following settings are available on the User submissions page:

- Microsoft and my organization's mailbox: In the box that appears, enter the email address

[2022-11-09 22:19] chrisda commented on #10212
@sinnamingrrl, does that error appear when _admins_ or _end-users_ attempt to submit messages to Microsoft for analysis? And using which method on that page (there are 5 rows in that table...).

[2022-11-09 23:08] Chadwell89 opened #10217 "> I exported a vcard from contacts.google.com (see picture)."
_Originally posted by @Chadwell89 in https://github.com/cozy/cozy-vcard/issues/28#issuecomment-1280042871_```
- []()****
[code]

[2022-11-10 00:15] jsimsmsft opened #10218 "article refers to old azcopy version 8.1 which is no longer available"
article references requiring azcopy 8.1 which is no longer available.  download link is dead.
currently the latest azcopy 10.16.2 works, but requires different command syntax; ie "--recursive" instead of "/s", no more /source or /dest switches etc

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a6e20438-8387-bf21-297c-

[2022-11-10 05:45] yogkumgit commented on #10152
@msbemba Thank you very much for the contribution and updating the documentation with PR. @njpl3 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-10 05:45] #10152 closed

[2022-11-10 06:11] yogkumgit commented on #10186
@msbemba

[2022-11-10 09:01] azvise opened #10227 "Add link to improve clarity - Intune manage ATP vulnerability"
I think 'd be helpful to link the following article under "**Remediation request steps**" **point 5**. for better clarity (Notify your IT Administrator about the new request and have them log into Intune to approve or reject the request and start a package deployment.):

https://learn.microsoft.com/en-us/mem/intune/protect/atp-manage-vulnerabilities

Thanks

---
#### Document Details

⚠ *Do not ed

[2022-11-10 09:54] naitmare01 commented on #10084
I'm also actively looking for some clarity on this license add-on.

[2022-11-10 12:01] lightupdifire opened #10228 "Microsoft Purview solutions trial"
Hello,

I see that in almost every document here and there is added text with info about "getting trial for 90 days, etc",
But what if a customer has currently Microsoft 365 E3, they still have included and created services like:
Azure Information Protection Plan 1;
Manual, default, and mandatory sensitivity labeling in Office 365;
Manual labeling with the AIP app and plugin;
Sensitivity labeling

[2022-11-10 14:05] myfope commented on #10084
FYI: Details were already released: https://learn.microsoft.com/en-us/microsoft-365/enterprise/cross-tenant-onedrive-migration?view=o365-worldwide#licensing
License is only available for Enterprise Agreement (EA) customers. Talk to your EA representative to get the valid price for the license. Listprice is EUR 12.60/approx.. $12.60

From: David Berndtsson ***@***.***>
Sent: Thursday, November 10,

[2022-11-10 14:17] NiteshSharma2K19 opened #10229 "Assign any M365 license to a User with Disabled plan not working"
Hi Author,

I tried to assign an M365 E5 license to a user in my tenant and the script failed (https://learn.microsoft.com/en-us/microsoft-365/enterprise/assign-licenses-to-user-accounts-with-microsoft-365-powershell?view=o365-worldwide#assigning-licenses-to-user-accounts). This account has some other existing subscriptions with a few disabled services.

The script you have above works fine but on

[2022-11-10 14:50] naitmare01 commented on #10084
Thanks for the update @myfope! The price looks like it aligns pretty well with current third party products that performs the same tasks.

[2022-11-10 14:51] myfope commented on #10084
Hi,

if MSFT does not Migrate Teams and other stuff it is very expensive. Currently only Exchange & OneDrive is supported.

From: David Berndtsson ***@***.***>
Sent: Thursday, November 10, 2022 3:51 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Peter Forster ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Cross Tenant User Data Migration license (Issue

[2022-11-10 14:59] naitmare01 commented on #10084
It is the same for the entry level tiers for the big third party providers. If you want to migrate Teams and other stuff the price will increase pretty fast.

[2022-11-10 16:49] JonesMikael opened #10230 "License requirement for Inactive Mailboxes?"
Please clarify the license requirement for ”Inactive Mailboxes”. The article gives you the inpression as long as you are licensed for Retention Policies hold you are fine.

However, the Modern Work Comparison PDF (https://aka.ms/M365EnterprisePlans) show that ”Inactive Mailboxes” is not available for Microsoft 365 F5 Compliance (which has Retention Policies and Litigation Hold).

---
#### Document

[2022-11-10 17:22] cabailey commented on #10230
@JonesMikael  I'm not following how this article gives you the impression as long as you are licensed for retention policies you are fine - I couldn't find the word "license" anywhere on this page and because of the complications of licensing and how often they can change with new options, we have removed these references to ensure we don't inadvertently provide out of date information. Instead, t

[2022-11-10 17:22] #10230 closed

[2022-11-10 19:23] msbemba commented on #10075
@Kaypyosh Thank you for your feedback. Let me know if these steps help -https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-server-endpoints?view=o365-worldwide#apply-the-microsoft-defender-for-endpoint-installation-and-onboarding-packages-using-group-policy.

Hope this helps!

Thanks
Sri

[2022-11-10 19:28] msbemba commented on #10186
@slgsperry I'm testing this currently and will update the steps shortly.

Thanks
Sri

[2022-11-10 19:31] msbemba commented on #10186
@slgsperry Yes, I'll do that.

[2022-11-10 20:30] sinnamingrrl commented on #10212
Looks good Chris!

[2022-11-10 21:05] btl512 opened #10232 "Section 6 - ping-pong option for desktop app"
Is the ping-pong behavior of Outlook on the web on the roadmap for the Outlook desktop app? If so, any projection on availability?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 94754a91-ac3b-9b1c-ded9-3fdab2dd229c
* Version Independent ID: 517f9726-1861-8b1c-fe9d-6c50047e16d3
* Content: [Add ano

[2022-11-10 21:42] chrisda commented on #10212
OK.

Thanks for the feedback.

Closing

[2022-11-10 21:42] #10212 closed

[2022-11-10 22:57] kstat opened #10233 "Can a KQL Query with multiple property value conditions or wildcard matching be used as an Asset ID condition in an Event Trigger for SPO or OneDrive?"
Per Step 7 in referenced guidance below, if triggering an Event for SharePoint documents, a property:value pair is used (AssetID, or an equivalent field from your Content Type).

Does the AssetID condition leverage KQL, and can this be a KQL query, or does it only need to be a single property:value pair?

[Step 7: Enter keywords or a query, or asset ID for SharePoint and OneDrive](https://learn.mi

[2022-11-10 22:59] kstat opened #10234 "Do taxonomy fields need to be published through the Content Type Hub to be leveraged within auto-apply policy KQL conditions?"
Mentioned in bullet #6 in reference here: [Important things to know](https://learn.microsoft.com/en-us/microsoft-365/community/auto-apply-retention-labels-in-office-365-using-content-types-and-metadata#important-things-to-know)

Do Taxonomy site columns need to be published through the Content Type Hub (CTH) in SPO to be able to map their resulting Search Crawled properties to Search Managed Prope

[2022-11-10 23:02] kstat opened #10235 "How many records labels can you have in a single tenant?"
The maximum # of retention labels per tenant is 1000 as per the link below. Is this specific to just the 'retention labels' (i.e., which do not mark a document as a record), or applies to any kind of label (i.e., inclusive of Record or Regulatory Record)?

[Maximum number of retention labels per tenant
](https://learn.microsoft.com/en-us/microsoft-365/compliance/retention-limits?view=o365-worldwid

[2022-11-10 23:04] kstat opened #10236 "How is retention period for record versions determined for record labels that are configured to start retention based on 'When Item was Labeled' or 'When an Event Occurs'?"
Link does not detail how this works for labels configured to start retention based on when 'Items are labeled' or 'Based on Event' (i.e., only speaks to 'When item was Created', or 'When item was Last Modified').

[How retention works with document versions
](https://learn.microsoft.com/en-us/microsoft-365/compliance/retention-policies-sharepoint?view=o365-worldwide#how-retention-works-with-docume

[2022-11-10 23:20] kstat opened #10237 "Do record versions in the Preservation Hold Library undergo disposition review?"
Documentation indicates a timer job looks after any 'versions' of records tracked within the Preservation Hold Library (PHL) and progresses them to the 2nd stage Recycle Bin at the end of their retention period as per the documented logic/process.

Question - If using a record label configured to require disposition review - do any versions stored in the PHL route through the defined disposition r

[2022-11-10 23:26] kstat opened #10238 "Is it possible to back date when a retention label was applied to a document in SPO?"
Apologies if this is not the right forum to ask this question - please direct me to the correct forum in case it is not.

When applying a retention label to a document in SharePoint Online through the UI, Compliance specific properties are automatically assigned, one of which includes 'Retention label Applied', or internally known as 'ComplianceTagWrittenTime'.

Is it possible to overwrite this va

[2022-11-10 23:31] kstat opened #10240 "Container definition seems inaccurate"
Per table footnote in referenced article below - Records shouldn't be allowed to cross a Document Library boundary if it has been unlocked at-least once. In our tests, records were able to be moved to other libraries within the same site after they had already been unlocked (and then left in that state, or re-locked again). We tested using record retention labels.

Should the container definition

[2022-11-11 15:09] curious-condor opened #10241 "At a loss"
Have no idea what any of this means.  Update my client?  What is or who is that?  I have an old email that I still use and there is some kind of problem with it on Dec1.  That's what I got.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec089a7-8f7b-d4d9-a763-e8abd73fb2c9
* Version Independent ID: 41ba8999-f0ea-5847-

[2022-11-11 16:03] luisafrancoj opened #10243 "Access Customer Data of Microsoft Bookings power platform connector"
Hi there !
I have checked the documentation and I see that all triggers return AppointmentData, however, I need to access to CustomerData because I need to read through power automate the custom questions and answers.

How can I get the customer data when the appointment is created?

[2022-11-11 21:16] woiim opened #10245 "TLS"
This change to TLS instruction is too technical for the average home user of Office 365.
Please advise if Office 365 updates automatically changes your TLS

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec089a7-8f7b-d4d9-a763-e8abd73fb2c9
* Version Independent ID: 41ba8999-f0ea-5847-afad-8620dd83492a
* Content: [Disa

[2022-11-11 21:18] woiim opened #10246 "TLS Changes to Office 365 Home"
This change to TLS instruction is too technical for the average home user of Office 365.
Please advise if Office 365 updates automatically changes your TLS

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec089a7-8f7b-d4d9-a763-e8abd73fb2c9
* Version Independent ID: 41ba8999-f0ea-5847-afad-8620dd83492a
* Content: [Disa

[2022-11-12 07:59] RAJU2529 commented on #10246
@yogkumgit , close this issue #10246 because this is duplicate

[2022-11-12 12:23] DeanGross opened #10248 "Very Helpful - request for more"
This is very helpful and a nice, concise discussion. Please create similar documentation for all of the Defender products

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6e32e2ed-5ae3-d1c6-6a5b-25b225647dbf
* Version Independent ID: 3f5d0ae5-a9b0-f755-c2f6-c38c75e3e485
* Content: [Step-by-step threat protection stack i

[2022-11-12 16:17] mcantin opened #10249 "Manage discovery for private teams"
[Manage discovery of private teams in Microsoft Teams](https://learn.microsoft.com/en-us/microsoftteams/manage-discovery-of-private-teams)

At the top of the page there is a link to 'Manage discovery of private teams'. This link URL is 'https://learn.microsoft.com/en-us/microsoftteams/manage-discovery-of-private-teams', but the URL resolves to 'https://learn.microsoft.com/en-us/microsoftteams/team

[2022-11-13 10:55] ishuns opened #10250 "About the Structure of the Document"
[Enter feedback here]
I would like the explanation section on how to set up the system to be easier to understand.

For example, I would like an explanation to go along with the screen captures.
As for the text description, it would be nice to have a method that allows the text to unfold from its folded state.

I don't know how to write the URL and validity period, nor do I know if wildcards can b

[2022-11-14 10:33] theonlybrand commented on #10127
Same scenario on RHEL 8.7

![image](https://user-images.githubusercontent.com/37296780/201638322-331a680d-297b-4cd8-86b1-94d649c73bf0.png)

[2022-11-14 10:41] theonlybrand commented on #10127
Had a similar issue today on RHEL 8.7. Maybe add a note to the docs that you need to have the system-wide crypto policies set to default (update-crypto-policies --set DEFAULT)

![image](https://user-images.githubusercontent.com/37296780/201640040-fe551fbc-4a04-4541-8f6e-4c939ab4b7a4.png)

[2022-11-14 12:44] basbax opened #10254 "Screensize change for F plans not changed to 10.9""
Screensize hasn't been changed to 10.9" for F plans on this site.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a66e2933-c8de-0ae5-c6a4-bb83d7152b56
* Version Independent ID: a66e2933-c8de-0ae5-c6a4-bb83d7152b56
* Content: [Changing from a Microsoft 365 E plan to a Microsoft 365 F plan - Microsoft 365 for frontline w

[2022-11-14 13:06] yogkumgit commented on #10161
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nickbrownapollo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-14 13:06] #10161 closed

[2022-11-14 13:19] yogkumgit commented on #10178
@msbemba Thank you very much for the contribution and updating the documentation with PR. @catarinamarto Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-14 13:19] #10178 closed

[2022-11-14 13:21] yogkumgit commented on #10192
@msbemba Thank you very much for the contribution and updating the documentation with PR. @iftikhariqbal Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-14 13:21] #10192 closed

[2022-11-14 13:24] yogkumgit commented on #10075
@msbemba Thank you very much for the contribution and sharing this explanation. @Kaypyosh Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-14 13:32] msbemba commented on #10194
@williamcolbert Thank you for your feedback. We have made the changes in another PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10200

Once the author approves, the changes will be live.

You can try to download it from https://go.microsoft.com/fwlink/p/?linkid=2194898&clcid=0x4009

Hope this helps!

Thanks
Sri

[2022-11-14 13:46] dvbnl opened #10255 "Cross Tenant Feature is not Enabled (OneDrive)"
I've tested the Mailbox Cross Tenant migration (preview) and everything works fine. While testing the OneDrive cross tenant migration I'm getting the following error:

`Set-SPOCrossTenantRelationship : The Cross-Tenant content move feature is not enabled for this tenant.`

The prerequisites say:
Turn off service encryption with Customer Key enabled. Confirm that the source OneDrive tenant doesn't

[2022-11-14 13:49] msbemba commented on #10195
@hibbyskuss Thank you for your feedback. Since this is a technical query and needs assistance with PowerShell scripting, I'd recommend you contact Microsoft support via the need help section on the admin center so that the support engineer can assist you with the above query.

Hope this helps!

Thanks
Sri

[2022-11-14 13:54] msbemba commented on #10217
@Chadwell89 Thank you for your feedback. Could you please provide us with the Microsoft document you follow to do this export from Google? Also, this could be a bug, I'll recommend you contact the support team, via the need help section on the admin center so that they can help you fix this.

Hope this helps!

Thanks
Sri

[2022-11-14 14:06] msbemba commented on #10232
@btl512 Thank you for your feedback. It is not available in the roadmap yet, however you can post the feedback on main feedback portal( https://feedbackportal.microsoft.com/ ), so that our dev/product engineers will be able to review and respond with accurate information.

Hope this helps!

Thanks
Sri

[2022-11-14 14:11] msbemba commented on #10235
@kstat Thank you for your feedback. Great question, it is specific to just the retention labels and does not include any other records.

Hope this helps!

Thanks
Sri

[2022-11-14 14:15] msbemba commented on #10245
@woiim Thank you for your feedback. The effect on end-users is minimal. the change is basically to deprecate the protocol and start using the latest version. In case, if you have issues connecting to Exchange or any of the Microsoft services using applications like outlook, teams, etc, feel free to open a support case via the need help section in the M365 admin center and the support team will be

[2022-11-14 14:34] Alslinet opened #10258 "Does it update automatically or not?"
If you need to how do you control updates of the client and the definitions?
If you cannot please make this clearer.
If you onboard to defender for endpoint how do you control the updates for client and definitions respectively?

The page should as a minimum describe the scenario where you want full controll and the scenario where you want to leave everything up to MDE.

---
#### Document Details

[2022-11-14 14:36] Alslinet commented on #9882
Is anyone working on this?

[2022-11-14 14:38] Agla3 opened #10259 "Bookings creating meetings automatically."
Hello people!

I hope you can help me, for one user, Bookings is creating a meeting every Friday, between 9 - 9:30 am.

The email comes from the address created by Bookings when this calendar was enabled. There are no Rules set that might make these meetings, and the requester's information is the affected user name and email. We also checked the Exchange server and it just shows it as a regular r

[2022-11-14 14:50] msbemba commented on #10194
@yogkumgit  The Lab environment link has been fixed. The issue can be closed.

Thanks
Sri

[2022-11-14 15:31] williamcolbert commented on #10194
Thank You Sri, All working now.

[2022-11-14 18:11] chrisda commented on #10248
Good idea. But not directly actionable as an item to track in a GitHub issue.

[2022-11-14 22:17] posixltd opened #10265 "Contradictory information"
This page says "A higher value indicates the message is less desirable (more likely to resemble spam)"
However, Office 365 admin page https://security.microsoft.com/antispam
says "A higher bulk email threshold means more bulk email will be delivered"
That's contradictory.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-11-14 22:20] chrisda commented on #10265
@posixltd, that is my subject area, but text on UI pages is a code thing, which we can't fix here. I'll attempt to clarify, but the UI sounds wrong (that other description has been in content for a really long time (years)).

[2022-11-14 22:32] chrisda commented on #10265
Actually, on second look, the two statements aren't contradictory. In fact, there's a third place that talks about this, which is the info flyout next to **Bulk email** threshold title in the same UI:

![image](https://user-images.githubusercontent.com/33166947/201780793-c5257227-48c3-4dd6-89b9-9b504c9256f3.png)

A higher BCS score indicates a greater likelihood that the message is bad. So, if you

[2022-11-14 22:40] posixltd commented on #10265
Hi Chris,

Thank you for your quick and helpful reply.  I had to read it several
times, but now I think you are correct!

I wonder if there is a way to make it clearer.  I doubt I'm the only one
confused by that.

Kind regards,

Richard
--

Posix Limited
http://www.posix.uk
0753 717 3877

On Mon, 14 Nov 2022 at 14:32, Chris Davis ***@***.***> wrote:

[2022-11-15 05:51] Gbadmaster opened #10266 "Master Github"

[2022-11-15 07:06] msbemba commented on #10254
@basbax Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10267

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 07:07] msbemba commented on #10249
@mcantin Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10260

Thanks
Sri

[2022-11-15 07:11] msbemba commented on #10243
@luisafrancoj Thank you for your feedback. I was not able to find a document that refers to accessing Customer Data of the Microsoft Bookings power platform connector. I'd recommend you provide this feedback on our Main feedback portal (https://feedbackportal.microsoft.com/), so that our Dev/Prodcut engineers will be able to review and respond with more information related to your query.

Hope thi

[2022-11-15 07:13] msbemba commented on #10241
@curious-condor Thank you for your feedback. The effect on end-users is minimal. the change is basically to deprecate the protocol and start using the latest version. In case, if you have issues connecting to Exchange or any of the Microsoft services using applications like outlook, teams, etc, feel free to open a support case with our technical support team and the support engineerwill be able to

[2022-11-15 07:26] msbemba commented on #10240
@kstat Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10268

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-15 07:43] msbemba commented on #10238
@kstat Thank you for your feedback. Looks like the document in question does not have a feedback option. However, you can post this feedback on our main sharepoint feedback portal[SharePoint · Community (microsoft.com)](https://feedbackportal.microsoft.com/feedback/forum/06735c62-321c-ec11-b6e7-0022481f8472) and our dev/product engineer will be able to answer your query.

Hope this helps!

Thanks

[2022-11-15 07:46] flmihai91 opened #10269 "Add information about the expected outcome when encryption is added at a later stage"
[Enter feedback here]
In the section below, it is documented what is the expected result when encryption settings are changed for a label for existing documents.
However, nowhere in our documentation we state what happens when encryption is introduced at a later stage (for a label that did not have any previous protection defined):
 - https://learn.microsoft.com/en-us/microsoft-365/compliance/encr

[2022-11-15 08:44] msbemba commented on #10229
@NiteshSharma2K19 Thank you for your feedback. We shall update and add a new script to the document for this scenario if need be.

Thanks
Sri

[2022-11-15 11:17] #10266 closed

[2022-11-15 11:27] yogkumgit commented on #10210
@mjcaparas Please help us in resolving this issue. Thanks

[2022-11-15 11:29] yogkumgit commented on #10213
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-11-15 11:30] yogkumgit commented on #10228
@chvukosw Please help us in resolving this issue. Thanks

[2022-11-15 12:01] kstat commented on #10238
Thank you. I've posted the question there as suggested.

[2022-11-15 12:09] yogkumgit commented on #10233
@cabailey Please help us in resolving this issue. Thanks

[2022-11-15 12:12] yogkumgit commented on #10234
@daisyfell Please help us in resolving this. Thanks

[2022-11-15 12:15] yogkumgit commented on #10237
@cabailey Please help us in resolving this issue. Thanks

[2022-11-15 12:16] #10246 closed

[2022-11-15 12:17] yogkumgit commented on #10248
@DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-15 12:17] #10248 closed

[2022-11-15 12:23] hishikitetsuya opened #10270 "Is UDP endpoint really REQUIRED?"
I raised an [issue #6584](https://github.com/MicrosoftDocs/microsoft-365-docs/issues/6584) that proposes to add UDP requirement. Now I confirmed the table on this page includes the UDP requirement on ID 1 as below.

![image](https://user-images.githubusercontent.com/6519947/201915330-0f5b5a42-5f7e-44bc-800c-9196cb35ce49.png)

However, it is confusing for customers since the endpoint is categorized

[2022-11-15 12:28] yogkumgit commented on #10195
@msbemba Thank you very much for the contribution and sharing this explanation. @hibbyskuss Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-11-15 12:28] #10195 closed

[2022-11-15 12:30] yogkumgit commented on #10217
@msbemba Thank you very much for the contribution and sharing this explanation. @Chadwell89 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-11-15 12:30] #10217 closed

[2022-11-15 12:32] yogkumgit commented on #10227
@msbemba Thank you very much for the contribution and updating the documentation with PR. @azvise Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-15 12:32] #10227 closed

[2022-11-15 12:33] yogkumgit commented on #10232
@btl512 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-11-15 12:33] #10232 closed

[2022-11-15 12:35] yogkumgit commented on #10235
@msbemba Thank you very much for the contribution and sharing this explanation. @kstat Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-15 12:35] #10235 closed

[2022-11-15 12:37] #10245 closed

[2022-11-15 12:48] yogkumgit commented on #10249
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mcantin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-15 12:48] #10249 closed

[2022-11-15 12:49] yogkumgit commented on #10243
@luisafrancoj Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-11-15 12:49] #10243 closed

[2022-11-15 12:50] yogkumgit commented on #10241
@msbemba Thank you very much for the contribution and sharing this explanation. @curious-condor Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share t

[2022-11-15 12:50] #10241 closed

[2022-11-15 12:54] #10238 closed

[2022-11-15 13:03] tolive-csti commented on #10255
Following this issue :
Same issue when trying to get CrossTenant URL when running Get-SPOCrossTenantHostURL :

`Set-SPOCrossTenantRelationship : The Cross-Tenant content move feature is not enabled for this tenant.`

[2022-11-15 13:05] kstat opened #10272 "Clarify Record Retention statement"
Please clarify what is meant by: Only when the Record status property is set to Locked is a new version of the record retained.

The word 'retained' is ambiguous or the definition is overloaded or unclear in this context? Does it imply 'prevent edits' or does it relate to how the retention period for the version is determined?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-11-15 14:00] dvbnl commented on #10255
The Get-SPOCrossTenantHostURL is working for me. My error occurs at the next command:

`Set-SPOCrossTenantRelationship -Scenario MnA -PartnerRole Target -PartnerCrossTenantHostUrl $url`

I've also made a ticket at Microsoft. All prerequisites and licenses are correct.

[2022-11-15 14:03] crankyroadkill opened #10273 "prerequisite endpoints"
This page lists only the following endpoints as required:

enterpriseregistration.windows.net - For Azure AD registration.
login.microsoftonline.com - For Azure AD registration.
*.dm.microsoft.com - The use of a wildcard supports the cloud-service endpoints that are used for enrollment, check-in, and reporting, and which can change as the service scales.

What about all the other endpoints require

[2022-11-15 14:37] DeanGross opened #10275 "Link to old Video"
the link to the video points to something that is no longer accurate because the UI has changed, this is confusing. Please remove the link or update the video.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0b680bb5-de3b-ee83-3764-91695bab77ed
* Version Independent ID: 9c770adf-a66e-ed32-25aa-ffbc46eaef82
* Content: [

[2022-11-15 14:51] Yarkane opened #10276 "Content Search with Sensitive Information Types in Exchange and Teams"
Hey there.

In this article, it is described that we can:
- Search "for sensitive data types and custom sensitive data types in SharePoint and OneDrive for Business".
- Return "documents on SharePoint and OneDrive for Business sites that contain a" given Sensitive Data Type.

But it does not specify clearly that **you CAN'T** search sensitive data types in Exchange Online or Teams 1:1 messages.

I

[2022-11-15 19:07] tarrzan33 opened #10280 "Broken links"
Your links to the json on github are broken and return page not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3d10d24d-490f-f943-f8f0-4c3817812d59
* Version Independent ID: 91ae55bd-0673-f709-336b-7825ce9b9027
* Content: [Step 2. Use Microsoft Teams to create your contract management channel - Microsoft Syntex

[2022-11-15 19:35] daisyfell commented on #10234
Per Marc Anderson:

The short answer is no.

Any Site Column you create - of any type - becomes a Crawled Property once there is content with values in that column. (The crawling may lag a bit, but it will be crawled.) The decision about whether to create a Site Column at the site level or the tenant level (CTH) should be based on how widely it will be used and where it should be managed.

Somethi

[2022-11-15 19:50] sympmarc commented on #10234
If there are additional questions here about the policy side of the question, @joannecklein may be able to help.

[2022-11-15 20:04] kelleyvice-msft commented on #5695
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:04] #5695 closed

[2022-11-15 20:04] kelleyvice-msft commented on #8008
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:04] kelleyvice-msft commented on #8029
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:04] #8029 closed

[2022-11-15 20:05] kelleyvice-msft commented on #8068
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:05] #8068 closed

[2022-11-15 20:06] kelleyvice-msft commented on #8115
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:06] #8115 closed

[2022-11-15 20:07] kelleyvice-msft commented on #8373
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:07] #8373 closed

[2022-11-15 20:07] kelleyvice-msft commented on #8695
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:07] #8695 closed

[2022-11-15 20:08] #8822 closed

[2022-11-15 20:08] #8914 closed

[2022-11-15 20:08] joannecklein commented on #10234
I tested applying a retention label via a KQL condition with different column data types a few years ago and at the time the limitation I found with a managed metadata column was although the column itself didn't need to be published thru a content type from the tenant-level content type gallery, the term set the column referred to needed to be defined at the tenant-level (as opposed to the site c

[2022-11-15 20:08] kelleyvice-msft commented on #9018
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:08] #9018 closed

[2022-11-15 20:09] kelleyvice-msft commented on #9102
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:09] #9102 closed

[2022-11-15 20:09] kelleyvice-msft commented on #9128
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:09] #9128 closed

[2022-11-15 20:09] kelleyvice-msft commented on #9164
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:09] #9164 closed

[2022-11-15 20:09] kelleyvice-msft commented on #9176
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:09] #9176 closed

[2022-11-15 20:10] kelleyvice-msft commented on #9203
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:10] kelleyvice-msft commented on #9333
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:10] #9333 closed

[2022-11-15 20:10] kelleyvice-msft commented on #9335
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:10] #9335 closed

[2022-11-15 20:11] #9345 closed

[2022-11-15 20:11] sympmarc commented on #10234
That makes some sense, @joannecklein. The Term Set is a separate entity from the Site Columns which may point to it (as you well know). Site level Term Sets often have different permissions than the tenant level ones, too.

[2022-11-15 20:11] #9645 closed

[2022-11-15 20:12] kelleyvice-msft commented on #9666
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:12] #9666 closed

[2022-11-15 20:12] kelleyvice-msft commented on #9668
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:12] kelleyvice-msft commented on #9765
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:12] #9765 closed

[2022-11-15 20:12] kelleyvice-msft commented on #9878
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:13] kelleyvice-msft commented on #9893
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:13] #9893 closed

[2022-11-15 20:13] #9993 closed

[2022-11-15 20:14] kelleyvice-msft commented on #10085
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:14] #10085 closed

[2022-11-15 20:14] kelleyvice-msft commented on #10213
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.

We recommend that you contact your organization’s TAM (Technical Account Manager) to escalate your inquiry to the e

[2022-11-15 20:14] #10213 closed

[2022-11-15 20:20] dgalvinau commented on #9102
OK so it took you four months to respond with that…On 16 Nov 2022, at 7:09 am, Kelley Vice ***@***.***> wrote:﻿
Thanks for reaching out to the Microsoft 365 Enterprise content team. Because all Microsoft 365 endpoints data displayed in learn.microsoft.com articles is autogenerated by the Microsoft 365 endpoints web service, the content team cannot resolve issues directly related to this data.
We r

[2022-11-15 20:40] sthorley commented on #8115
This is a very unsatisfactory response. Why would we as paying MS customers have to escalate this via our TAM when you are employed at the same company and could escalate this issue with the team responsible for this service directly.

[2022-11-15 22:59] chrislehr opened #10281 "Any details on MC467231?"
How is BCL SCORING changing?  Or is this also being kept secretive?  Seeing a LOT more UCE type emails that pass Sender Auth, aren't spam, but are getting through at MULTIPLE customer tenants despite any BCL settings (said another way they are scoring a 0 today)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5942c743-

[2022-11-15 23:24] chrisda commented on #10281
I'm not sure that BCL scoring is changing. You should open a support ticket and ask.

[2022-11-15 23:33] chrislehr commented on #10281
The message center says this:

"We are rolling out several changes in how we allocate BCL scores to messages to provide more accurate scoring and coverage for bulk messages."  MC467231

Ill open a ticket shortly.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Chris Davis ***@***.***>
Sent: Tuesday, November 15, 2022 3:24:24 PM
To: MicrosoftDocs/microsoft-365-doc

[2022-11-16 00:10] FMCUSystemAdmins opened #10282 "Adding Superuser without adding as Staff automap parameter"
The Add-MailboxPermission command does not include "-AutoMapping:$false", causing the Booking mailbox to show in the user's Outlook. This is undesirable for us, so we've included the parameter, but unsure if other use cases need the mailbox mapped to Outlook.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4fcbd22b-e14

[2022-11-16 00:22] chuckedmonson commented on #10280
@tarrzan33 -- Thank you so much for letting us know about the broken link. We are looking into it and trying to see what needs to be done to fix it. Again, thank you.

[2022-11-16 00:55] chrisda commented on #10265
@posixltd, would it help if we flipped that text in the UI around to say:

[2022-11-16 02:07] posixltd commented on #10265
Hi Chris,

Yes that is clearer to me.

Thank you!

Richard

--

Posix Limited
http://www.posix.uk
0753 717 3877

On Tue, 15 Nov 2022 at 16:55, Chris Davis ***@***.***> wrote:

[2022-11-16 02:30] BondiChris commented on #5695
Hi Kelley,

The original issue is not resolved. I reported missing SPF coverage for an email from quarantine@messaging.microsoft.com(mailto:quarantine@messaging.microsoft.com) that originated from IPv6 address 2603:10c6:10:e::17 - it's not a Microsoft 365 Enterprise customer issue, it's a Microsoft corporate problem.

You may want to check out the report from this service:

[https://www.spf-record

[2022-11-16 04:18] chrislehr commented on #10281
‎33878442‎ opened in my tenant.

[2022-11-16 07:04] taikuli opened #10283 "MEM is missing along the valid values for ServiceAreas parameter in Endpoints web method"
Good Morning!

According to https://learn.microsoft.com/en-us/mem/intune/fundamentals/intune-endpoints there seems to be another valid value for the parameter **ServiceAreas** in the endpoints web method: **MEM**

Please add it here and double check for other changes to the webservice that might require changes to this documentation.

Thanks

Martin

---
#### Document Details

⚠ *Do not edit this

[2022-11-16 08:39] kash1064 opened #10284 "Missing informations about Released/Published date in mac-whatsnew page."
Hello Experts.

Could you add Release/Publish date informations to each build on this page?

I found these informations is lack after "Aug-2022 (Build: 101.75.90 | Release version: 20.122071.17590.0)".

These are important informations especially for many users.
It can very help us to maintain environments.

So please add Release/Publish date informations to each build on this page.
Best regards.

[2022-11-16 12:39] #10173 closed

[2022-11-16 13:04] JonesMikael opened #10286 "New search does not have the possibility to Filter for Set-Mailbox"
You mention:

However, it's not possible to filter on **Set-Mailbox** in the Filter.

![image](https://user-images.githubusercontent.com/32098920/202188042-3603bd87-5e66-4a60-b5bd-32aa6891c453.png)

I think this might be related to the implementation of **New Search** but it's not even available in **Classic search**.

---
#### Document Details

⚠ *Do not edit this section. It is required for lear

[2022-11-16 13:41] yogkumgit commented on #10179
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gh-andrem Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-16 13:41] #10179 closed

[2022-11-16 13:42] yogkumgit commented on #10176
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jgrangier Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-16 13:42] #10176 closed

[2022-11-16 13:45] #10240 closed

[2022-11-16 16:05] ddaanniieell9 opened #10287 "Incorrect steps for OneDrive "Create and run a search""
[Enter feedback here]

Documentation states for OneDrive that you use an account to search, see below:

SharePoint sites: Set the toggle to On and then select Choose sites to specify SharePoint sites **and OneDrive accounts to search**. Enter the URL for each site that you want to search. You can also add the URL for the SharePoint site for a Microsoft Team, Microsoft 365 Group, or Yammer Group.

[2022-11-16 16:11] cskujawa opened #10288 "URL Rendering Issue In "Allow or block URLs using the Tenant Allow/Block List" Article"
The document located at the link below appears to be auto-formatting URLs with the "www" subdomain. This poses a potential issue as the subdomains may not be blocked or allowed and some examples conflict with each other. In cases where the URL contoso.com and www.contoso.com have the same functionality they appear as duplicates.

https://learn.microsoft.com/microsoft-365/security/office-365-securi

[2022-11-16 16:36] cskujawa opened #10289 "Docs For "Scenario: Left wildcard subdomain and right wildcard suffix" Do Not Explicitly Detail Multiple Sub-Directories For Tilde"
In the docs located at the link below it is not explicitly mentioned whether a left and right tilde would match or not match multiple sub-directories as in the example cases below. These examples are included for the left and right wildcard.

- abc.xyz.contoso.com/a/b/c
- contoso.com/b/a/c

https://learn.microsoft.com/microsoft-365/security/office-365-security/allow-block-urls#url-syntax-for-the-t

[2022-11-16 18:54] chrislehr opened #10290 "tuning bulk updates needed (and questions too)"
The KQL here is pretty good - I ended up scoping out the things detected as spam/phish already and ensure only inbound emails were recorded using this:

EmailEvents
| where ConfidenceLevel == "" and isnull(BulkComplaintLevel) and EmailDirection == "Inbound"
| summarize count() by SenderFromAddress, RecipientEmailAddress

However, your article states:
_Once you have identified wanted and unwanted s

[2022-11-16 19:02] eketo-msft opened #10291 "Broken link on group limitations"
The link "See AAD service limits and restrictions" on https://learn.microsoft.com/en-us/microsoft-365/admin/create-groups/office-365-groups?view=o365-worldwide is broken.  The link should go to https://learn.microsoft.com/en-us/azure/active-directory/enterprise-users/directory-service-limits-restrictions.

[2022-11-16 22:10] chuckedmonson commented on #10280
@tarrzan33 -- This issue has been resolved. Thanks again for letting us know.

[2022-11-16 22:10] #10280 closed

[2022-11-16 22:32] Jlouden9 opened #10293 "Clear as Mud"
The statement "Defender Vulnerability Management add-on Additional capabilities for Defender for Endpoint Plan 2"  in the top table.Doesn't make sense. When you click on all of the links under that section then all of those components are included in of DFE Plan 2. What is the difference? Would be good to have a simple table that has the tick and cross per component starting with DFE P2 then map o

[2022-11-16 23:16] jonwbstr opened #10294 "What license includes this feature?"
I'm looking for a comprehensive list of licenses that will enable the Attack simulation training feature. Finding that list involved clicking multiple links and scanning multiple pages before I found the information. One or no clicks and zero scanning is preferred.

I've shared the entire experience at the bottom to help explain where the suggestions are coming from. Because my journey started on

[2022-11-16 23:45] chrisda commented on #10294
Any plan that includes "Microsoft Defender for Office 365 (Plan 2)" includes attack simulation training. You can search in the following topic:

<https://learn.microsoft.com/azure/active-directory/enterprise-users/licensing-service-plan-reference>

[2022-11-17 00:00] chvukosw commented on #10228
Will look into this and get back to you, thanks.

[2022-11-17 01:38] mattsmacblog commented on #9971
Thanks, any plans to get it rolled into the Normal ADMX packs that get distributed though?
i.e. the 22H2 pack came out 3 weeks ago but it doesn't have these github updated versions - https://www.microsoft.com/en-us/download/confirmation.aspx?id=104677

[2022-11-17 09:22] hibbyskuss commented on #10195
Hi @msbemba & @yogkumgit, thanks for your kind responses, I appreciate it. I will let you know if there's anything that might need an update as soon as I have resolved the issue from my end! :)

Thanks and all best,
Nadya

[2022-11-17 09:35] siosulli commented on #10293
@Jlouden9 Thank you for your feedback. For the features listed in the section:

Defender Vulnerability Management add-on
_Additional capabilities for Defender for Endpoint Plan 2_

They are only available if you install the Defender Vulnerability Management add-on on top of MDE P2. They are not in Defender for Endpoint Plan 2.

This table focuses on Defender Vulnerability Management capabilities.

[2022-11-17 09:35] #10293 closed

[2022-11-17 12:47] pjrcdf opened #10298 "Confusing wording in article"
Within the table under Quick scan, full scan and custom scan in the full scan column there is text that reads

"When the full scan is complete, new security intelligence is available, and a new scan is then required to make sure that no other threats are detected with the new security intelligence."

Can this be reworded to something clearer - something along the lines of:

"When a full scan begin

[2022-11-17 14:16] yogkumgit commented on #10294
@jonwbstr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-17 14:16] #10294 closed

[2022-11-17 14:17] #10265 closed

[2022-11-17 14:38] #10234 closed

[2022-11-17 15:44] mrbelchior opened #10301 "Missing Technical Support for Partners Plan"
In the "Support, help and training" tab, the technical partner support plans are missing. Where it says "Partner" below "Elevated support options" and "Additional Support Services", there should be something mentioning these. Example:

"Partners: You can select a Microsoft partner and delegate administrative functions, including creating service request tickets. For more information, see the [Part

[2022-11-17 15:54] aledeniz opened #10302 "Power Query in first example is fragile"
The PowerQuery of the first example, the one demonstrating how to connect Power BI to Advanced Hunting API, should be changed, as it is too fragile (it doesn't remove duplicate rows in the schema).

This line of code:
`TypedSchema = Table.Join(Table.SelectColumns(Schema, {"Name", "Type"}), {"Type"}, TypeMap , {"Type"}),`

should be changed in:
`TypedSchema = Table.Distinct(Table.Join(Table.SelectC

[2022-11-17 17:07] #10281 closed

[2022-11-17 18:43] aledeniz commented on #10302
@yogkumgit we can close this.

The example is fine, I had not understood that the TypeMap was meant to be used as is, e.g., always as:

[code]

[2022-11-17 18:43] #10302 closed

[2022-11-17 18:54] chrisda commented on #10290
I detected no specific documentation update suggestions. A support ticked is your best way forward.

[2022-11-17 19:23] chrisda commented on #10288
@cskujawa, I don't think there's any auto-formatting going on. Someone must have literally removed the www from those entries. I added them back throughout.

Thanks for the feedback.

Closing

[2022-11-17 19:23] #10288 closed

[2022-11-17 19:28] chrisda commented on #10289
@cskujawa is this the same 'missing www' problem from your [other issue](https://github.com/MicrosoftDocs/microsoft-365-docs/issues/10288)? If so, I added the www entries back per the same related PR.

[2022-11-17 19:35] kstat opened #10303 "Incorrect statement about regulatory record?"
In the next to last paragraph, it suggests you can auto-apply retention labels for regulatory records, which I believe is un-true? The restictions around auto-label for regulatory record is clarified further below in the Important note in the blue background.

[Records](https://learn.microsoft.com/en-us/microsoft-365/compliance/records-management?view=o365-worldwide#records)

---
#### Document Det

[2022-11-17 19:42] chrisda commented on #9568
Issue is more subtle. It's more about 'Move to JMF' vs 'Quarantine'. Everything explained in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/17670.

Thanks for the feedback.

Closing

[2022-11-17 19:42] #9568 closed

[2022-11-17 19:52] cabailey commented on #10303
@kstat Yes, thanks for flagging this.  The statement is half right - you can auto-apply labels for records, but not regulatory records.  I'll make a tweak to the wording for accuracy.

[2022-11-17 21:20] cabailey commented on #10303
Fixed now, closing

[2022-11-17 21:20] #10303 closed

[2022-11-17 21:51] cskujawa commented on #10289
Hello Chris, thanks for taking a look into this, in regards to this one I just noticed it hadn't mentioned a few examples of cases where entries with a ~ would be matched, but they were mentioned in the wildcard examples. Specifically multiple directories in the file path.

So it doesn't say that with an entry for ~contoso.com~ these would also match:

- abc.xyz.contoso.com/a/b/c
- contoso.com/b/a

[2022-11-17 21:54] mjcaparas commented on #9751
Links work

[2022-11-17 21:54] #9751 closed

[2022-11-17 21:56] mjcaparas commented on #9829
The whats new pages underwent recent changes which include version numbers etc,

[2022-11-17 21:56] #9829 closed

[2022-11-17 21:56] mjcaparas commented on #9857
pls contact support

[2022-11-17 22:17] chrisda commented on #10289
@cskujawa, I would encourage you to make any changes you like directly in the topics themselves. It's super-easy. Instructions are [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md). Just @ include me in the comments, and I'll review your pull request and publish.

[2022-11-17 22:30] cskujawa commented on #10289
Done, thank you for your assistance @chrisda, closing this out.

There's also an erroneous newline at 416, didn't catch it until looking at the side by side, unfortunately I can't edit the commit to fix it.

[2022-11-17 22:30] #10289 closed

[2022-11-18 00:58] dnetoa opened #10305 "Must clarify about roadmap 101515 (Junk/Phishing reporting actions integrated with Microsoft Defender for Office 365)"
Hi,

I hope docs must to clarify what is the recommendation of MSFT since now we have a Built-in button for report junk and phishing on Outlook Web. They're reporting as same way to admin and be controlled by choices of admin?

[Roadmap 101515](https://www.microsoft.com/en-us/microsoft-365/RoadmapFeatureRSS/101515)

[2022-11-18 03:02] msbemba commented on #10255
@dvbnl Thank you for your feedback. You need to disable Service encryption with Microsoft Purview Customer Key. If that is already complete and you meet the prerequisites, I recommend you continue working with the support engineer you are currently working with to resolve the issue.

Hope this helps!

Thanks
Sri

[2022-11-18 03:05] msbemba commented on #10259
@Agla3 Thank you for your feedback. That's strange and this is not a known issue with Microsoft bookings. Since this is a technical issue and could be a bug, I'd recommend you open a support ticket via the need help section of the admin center.
So that a support engineer will work with you to resolve the issue.

Hope this helps!

Thanks
Sri

[2022-11-18 03:28] msbemba commented on #10298
@pjrcdf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10306

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-18 03:31] msbemba commented on #10291
@eketo-msft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10307

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-18 03:38] msbemba commented on #10287
@ddaanniieell9 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10308

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-18 03:42] msbemba commented on #10286
@JonesMikael Thank you for your feedback. The Activities section should be blank so that the search returns audit records for all activities. Once the results are available, you can filter with the set-mailbox cmdlet to see if audit records are related to the Set-Mailbox.

Hope this helps!

Thanks
Sri

[2022-11-18 03:54] msbemba commented on #10282
@FMCUSystemAdmins Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10309

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-18 04:07] msbemba commented on #10275
@DeanGross Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10310

Once the author approves, the old video will be removed.

Thanks
Sri

[2022-11-18 06:05] CharlesYeomans opened #10311 "Transfer Subscription payments to a non Admin person"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 805a04c5-96c4-ee47-7746-3105e0b7fc45
* Version Independent ID: 9efa7447-6731-6435-d4fc-8ba81344e85a
* Content: [Understand subscriptions and licenses in Microsoft 365 for business](https://learn.microsoft.com/en-us/microsoft-365/commerce/licenses/sub

[2022-11-18 06:07] CharlesYeomans commented on #10311
I am admin and have been using my card in the company to pay for subscription.  Now I want to transfer that to our accountants card, but they are not Admin, is there a way to do this, I have searched and I cannot find any answer.

[2022-11-18 07:02] msbemba commented on #10301
@mrbelchior Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10312

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-18 07:08] dvbnl commented on #10255
Hi Sri,

Thanks for your answer! Customer Key is disabled in both tenants right now so I'll request and configure it first.

[2022-11-18 07:10] msbemba commented on #10284
@kash1064 Thank you for your feedback. We have updated dates for Nov and Oct via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10313c

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-18 07:19] msbemba commented on #10272
@kstat Thank you for your feedback. When the file is locked, the latest version of the document is a record. When the file is unlocked, a reference to this version (preserved as a record) is added to the version history.

Subsequent edits to the document, when it is unlocked, create versions that are not declared as a record. To declare the latest version, you will need to lock the file, which wil

[2022-11-18 07:21] msbemba commented on #10186
@slgsperry Thank you for your feedback. This seems to be working in the test tenant. I'd recommend you open a ticket via the need help section on the admin center so that the support engineer can file a bug and escalate it to the concerned team.

Hope this helps!

Thanks
Sri

[2022-11-18 07:31] msbemba commented on #10229
@NiteshSharma2K19 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10314

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-18 11:46] msbemba commented on #10002
@yogkumgit This can be closed.

[2022-11-18 11:47] msbemba commented on #10076
@yogkumgit This can be closed.

[2022-11-18 11:47] msbemba commented on #10093
@yogkumgit This can be closed.

[2022-11-18 11:48] msbemba commented on #10146
@yogkumgit This can be closed.

[2022-11-18 11:48] msbemba commented on #10155
@yogkumgit This can be closed.

[2022-11-18 11:48] msbemba commented on #10162
@yogkumgit This can be closed.

[2022-11-18 11:51] msbemba commented on #10175
@yogkumgit This can be closed.

[2022-11-18 11:52] msbemba commented on #10193
@yogkumgit There are no changes required in this document and can be closed.

Thanks
Sri

[2022-11-18 11:55] mcteufelms opened #10315 "add info that Auto Update channel names have changed from "External" to "Preview""
[Enter feedback here]
Hello,

in our command that shows the customer how to get access to preview features of MDE we mention the channel name "External":

"defaults write com.microsoft.autoupdate2 ChannelName -string External"

However, according to this article, the channel name has been changed from "External" to "Preview" in recent versions of MS Auto-Update:

https://learn.microsoft.com/en-us/

[2022-11-18 14:11] andrePKI opened #10316 "Remark about Automatic exclusions not clear"
Under "Important" in the section "Recommendations for defining exclusions" it is stated  "includes many automatic exclusions based on known operating system behaviors and typical management files, such as those used in enterprise management, database management, and other enterprise scenarios and situations."
This I interpreted that not only the Windows OS and additional server roles are covered b

[2022-11-18 14:16] andrePKI opened #10317 "How can Automatic exclusions be displayed?"
This article states at the top "These exclusions do not appear in the standard exclusion lists that are shown in the Windows Security app". Are these Automatic exclusions listed from the PowerShell cmdlet `Get-MpPreference`? Or are there other ways as well to discover the active exclusions?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub iss

[2022-11-18 14:19] FMCUSystemAdmins commented on #10282
Thank you

[2022-11-18 14:22] andrePKI opened #10318 "Things to keep in mind"
Maybe is it good to add a point that this applies to the OS and Server roles only, and that additional Software (like SQLServer) is not subject to Automatic exclusions - to date it was not clear to me.... (I just assumed this list was not listing _all_ Automatic exclusions and that other lists could exist for e.g. SQLServer)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-11-18 14:59] sengle312 opened #10319 "Unable to sort by exposureImpact"
`exposureImpact` is not a sortable field for the List Vulnerabilities endpoint, but it is an extremely useful field to sort on via the API. Additionally, this field IS sortable in the Vulnerability Recommendations table in the Security Center console.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 839aff5a-5f31-8453-2c

[2022-11-18 15:54] yogkumgit commented on #10290
@chrislehr Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2022-11-18 16:00] yogkumgit commented on #10146
@msbemba Thank you very much for the contribution and updating the documentation with PR. @vxSpctr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:00] #10146 closed

[2022-11-18 16:02] yogkumgit commented on #10162
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jrhi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:02] #10162 closed

[2022-11-18 16:13] yogkumgit commented on #10255
@msbemba  Thank you very much for the contribution and sharing this explanation. @dvbnl Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outco

[2022-11-18 16:13] #10255 closed

[2022-11-18 16:14] yogkumgit commented on #10259
@msbemba Thank you very much for the contribution and sharing this explanation. @Agla3 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcom

[2022-11-18 16:22] yogkumgit commented on #10286
@msbemba Thank you very much for the contribution and sharing this explanation. @JonesMikael Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:23] #10286 closed

[2022-11-18 16:39] yogkumgit commented on #10276
@msbemba Thank you very much for the contribution and sharing this explanation. @Yarkane Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:39] #10276 closed

[2022-11-18 16:40] yogkumgit commented on #10272
@msbemba Thank you very much for the contribution and sharing this explanation. @kstat Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:40] #10272 closed

[2022-11-18 16:42] yogkumgit commented on #10186
@msbemba Thank you very much for the contribution and sharing this explanation. @slgsperry Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-11-18 16:42] #10186 closed

[2022-11-18 16:47] yogkumgit commented on #10002
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rgkey9000 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:48] yogkumgit commented on #10076
@msbemba Thank you very much for the contribution and updating the documentation with PR. @theonlybrand Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:48] #10076 closed

[2022-11-18 16:50] yogkumgit commented on #10093
@msbemba Thank you very much for the contribution and updating the documentation with PR. @born-slippy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-18 16:50] #10093 closed

[2022-11-18 16:52] #10193 closed

[2022-11-18 17:03] yogkumgit commented on #10258
@Dansimp Please help us in resolving this issue. thanks

[2022-11-18 17:04] yogkumgit commented on #10269
@cabailey Please help us in resolving this issue. thanks

[2022-11-18 17:05] yogkumgit commented on #10270
@kelleyvice-msft Please help us in resolving this issue. thanks

[2022-11-18 17:10] yogkumgit commented on #10283
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-11-18 17:53] cabailey commented on #10269
That's a fair comment - I'll look at adding this because it's a common label deployment strategy to add encryption to existing labels later on. Like most label settings though, the behavior is no different in that it applies going forward (newly labeled items) and not retrospectively (to existing labeled items). To apply encryption to already labeled items, you would need to remove the label and r

[2022-11-18 17:53] #10269 closed

[2022-11-18 20:44] davi-cruz opened #10321 "Update Docs with new Intune Endpoint Security > Attack Surface Reduction > Device Control UX"
I have noticed that Device Control UI has changed recently in Intune, to include settings described in this article which is great!
An update of this article, keeping this for customers that eventually might use a third-party MDM provider would be beneficial, simplifying their journey on Device Control while using Microsoft Defender for Endpoint.

Associated resources to this change like [Reusable

[2022-11-18 20:45] chvukosw commented on #10228
Hello - the the trial will enable customers to see E5 features in addition to their existing services. Once the trial ends, they go back to what they had prior to the trial; nothing will change for them. Thanks.

[2022-11-18 20:45] #10228 closed

[2022-11-18 21:22] ktaylor-ascent opened #10322 "No information for "mdatp definition set path" functionality introduced in version 101.85.27"
I noticed that the latest Linux version (101.85.27), introduced an option to set a definition path.  Where are the details on command use and can it be set within the preferences json?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 6f88efa4-ff30-7f9d-bc89-22ee1c94098b
* Version Independent ID: 028b68d0-f721-bafd-5a7c-

[2022-11-18 21:29] fixx-er opened #10323 "Wrong wait time for user remove"
The wait time needs to be changed from 1 hour to 24 hours.  One user has waited over 6 hours now.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4c17e50d-aa8f-bd30-66af-ef4d63f02402
* Version Independent ID: 92cbda3f-c3a9-ed20-2038-7e966f491934
* Content: [Remove blocked users from the Restricted users portal - Office

[2022-11-19 00:17] cabailey commented on #10269
Live now: https://learn.microsoft.com/en-us/microsoft-365/compliance/encryption-sensitivity-labels#editing-labels-to-newly-apply-encryption-or-change-existing-encryption-settings

[2022-11-19 15:08] omahivade commented on #10321
Mene payment Kiya 550 fir bhi app open nahi huaa

[2022-11-19 20:31] mbressman opened #10325 "Incorrect Page Title"
https://support.microsoft.com/en-us/office/set-up-an-outlook-account-in-the-ios-mail-app-b2de2161-cc1d-49ef-9ef9-81acd1c8e234

This support article is clearly about the iOS Outlook app, and yet the page title, URL link title portion, and header in the page are incorrect and this causes confusion.  I've reported this multiple times to Microsoft via support ticket and feedback on that page (over man

[2022-11-20 05:59] GraemeNZ opened #10326 "Why can't I pay by a method other than credit card?"
My credit card has been hacked and has been blocked by my bank. They are issuing me a new credit card, which may take up to 2 weeks to arrive. Coincidentally, the day that my card was blocked, was the day my 365 bill fell due. I have money to pay, I just can't use a credit card. Why can't I pay by bank deposit? It seems you don't want your money...?

[Enter feedback here]

---
#### Document Detail

[2022-11-20 09:39] DMoenks opened #10327 "Which object types are protected by Defender for Office?"
In conjunction with [OfficeDocs-O365ServiceDescriptions/#764](https://github.com/MicrosoftDocs/OfficeDocs-O365ServiceDescriptions/issues/764) I'm currently wondering if users actually need to be Exchange Online recipients to be protected by Defender for Office.

For example, if a user is only licensed for _Microsoft 365 Apps_ and _SharePoint Online_, but not _Exchange Online_, to solely be able to

[2022-11-20 16:41] cabailey commented on #10233
Yes, although not indicated in the UI, you can use keywords and a query for both workloads. That's why the documentation says:

"Now you narrow the scope of the content. You do this by specifying keywords or a query [applicable for both workloads]. For SharePoint and OneDrive content, you can also [= in addition to keywords & a query] do this by specifying asset IDs."

[2022-11-20 16:41] #10233 closed

[2022-11-21 05:20] #10291 closed

[2022-11-21 05:27] yogkumgit commented on #10140
@WhiskeyTFox Closing as per author's Input. Thanks

[2022-11-21 05:27] #10140 closed

[2022-11-21 12:20] asdcristi opened #10328 "Supported group types not documented"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

In the Target Users section, the below is specified however there is no description of which groups we're accepting:

"Include only specific users and groups: Choose one of the following options:

Add users icon. Add users: In the Add users flyout that appears, you can find users and grou

[2022-11-21 12:27] asdcristi opened #10329 "Alignment of events time + correction of table reference"
🚨 Looks like you arrived from the internal review site
🚨 Do not enter Microsoft confidential information here

In the FAQ section, the below is detailed:

Most auditing data is available within 30 minutes but it may take up to 24 hours after an event occurs for the corresponding audit log entry to be displayed in the search results. See the table in the [Before you search the audit log](https://le

[2022-11-21 13:00] phenixita opened #10330 "Worst 2015 passwords broken link"
Hi team,
at the bottom of the page the link to the 2015 worst passwords [is broken](https://go.microsoft.com/fwlink/p/?linkid=861020)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 523758d0-17ea-7061-d9ce-8f5a31a76b4c
* Version Independent ID: 545fd950-8ef0-837b-8839-8aa21da0c6eb
* Content: [Password policy recommenda

[2022-11-21 15:32] robinpoulose1 opened #10331 "How do I report a message as Spam without opening the message and reading pane is off"
The report button is greyed out if reading pane is off,
How do I report a message as Spam without opening the message and reading pane is off
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 445892a6-5948-33e4-ce60-72670829d8ef
* Version Independent ID: a7407a6f-6563-9a4b-4a95-7ed908ab322b
* Content: [Enable the Report M

[2022-11-21 17:19] denisebmsft commented on #10325
Hello @mbressman and thank you for the feedback. Issues logged here are technically for content published on learn.microsoft.com, and the article in question is actually published to support.microsoft.com. No worries, though. I'm contacting the article's owner to ask them to fix it. Thank you for helping us improve our documentation by letting us know about things like this!! Have a great day!

[2022-11-21 17:22] #10325 closed

[2022-11-21 17:23] denisebmsft commented on #10325
I wrote the article owners and asked them to look into this issue. Thanks again!

[2022-11-21 23:53] cabailey commented on #10236
The behavior for these is the same as "when created"- now added.

[2022-11-21 23:53] #10236 closed

[2022-11-22 02:24] Jodiski78 opened #10334 "CEO"

[2022-11-22 02:31] Jodiski78 opened #10335 "Email"
__Originally posted by @Jodiski78 in https://github.com/MicrosoftDocs/microsoft-365-docs/issues/10334__

[2022-11-22 08:27] khbafl opened #10337 "Missing video link"
This documentation page mentions a video without including the link :

"This article and the deployment video use Azure as the deployment destination for the DKE service. If you're deploying to another location, you'll need to provide your own values."

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 484b1a6d-dfd0-1da6-

[2022-11-22 11:07] RobAaldijk opened #10338 "Behavior of edit new menu function is different from what is documented"
If I open the Edit new menu function, The edit published or draft template menu is not displayed, instead, if I choose Edit from the context menu on a template, the contenttype associated with the template is displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: d958029d-52d6-41e7-9054-9500f2e02e48
* Version Indep

[2022-11-22 12:00] msbemba commented on #10175
@yogkumgit
The Lab environment link is fixed.

The issue can be closed

[2022-11-22 12:04] msbemba commented on #10311
@CharlesYeomans Thank you for your feedback. You cannot assign Subscription payments to a non-Admin person. In order to handle payments for a subscription one needs to be at least a Billing administrator. more details about the role can be found here - https://learn.microsoft.com/en-us/microsoft-365/admin/add-users/about-admin-roles?view=o365-worldwide#commonly-used-microsoft-365-admin-center-role

[2022-11-22 12:08] msbemba commented on #10315
@mcteufelms Thank your for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10339

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-22 12:15] msbemba commented on #10323
@fixx-er Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10340

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-22 12:17] msbemba commented on #10326
@GraemeNZ Thank you for your feedback. The availability of payment options depends on the country your tenant is hosted. I'd recommend you contact the support team via the need help section on the admin center so that our billing team can assist you with this query.

Hope this helps!

Thanks
Sri

[2022-11-22 12:23] msbemba commented on #10328
@asdcristi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10341

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-22 12:28] msbemba commented on #10330
@phenixita Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10342

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-22 13:09] MithunRathinam opened #10344 "Forwarded message Option in Threat explorer"
Under the Threat explorer -> Advanced filter, we have an option "Forwarded Message" .There are many queries from  customer on what type of forwarding information can be seen there. Hence need to include the below information to provide more clarity.

The "Forwarded message" Option in Threat explorer covers only external forwarding on below scenarios..

1) Mailbox forwarding via "Forwardingaddress"

[2022-11-22 14:21] CharlesYeomans commented on #10311
Thanks
Actually I finally figured it out, but didn't know how to cancel my feedback.
Sorry for wasting you time.
Brilliant that you respond so well, thanks
Charles

From: Sriraman M S ***@***.***>
Sent: Tuesday, 22 November 2022 20:05
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Charles Yeomans ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Transfer Sub

[2022-11-22 14:43] msbemba commented on #10305
@dnetoa Thank you for your feedback. This feature that you are reporting is under development and most probably released soon. Once it is Launched and available to the general audience, the author and the PM will be able to update the documents.

Hope this helps!

Thanks
Sri

[2022-11-22 16:03] msbemba commented on #10319
@sengle312 Thank you for your feedback.  Currently, exposure impact is not a sortable field for the List Vulnerabilities endpoint, If you would like to have that feature added, I'd recommend you provide feedback directly to our prodcut/Dev team via the main feedback portal ( https://feedbackportal.microsoft.com/) so that they can look into it and provide you more information.

Hope this helps!

Th

[2022-11-22 17:38] msbemba commented on #10321
@davi-cruz Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10350

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-22 17:58] msbemba commented on #10316
@andrePKI Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10351

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-22 18:13] msbemba commented on #10317
@andrePKI Thank you for your feedback. Automatic exclusions apply only to Windows Server 2016 and later. These exclusions are not visible in the Windows Security app and in PowerShell. The list is available here - https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-server-exclusions-microsoft-defender-antivirus?view=o365-worldwide#automatic-exclusions-on-windows-se

[2022-11-23 09:51] MasterBlaster4 opened #10355 "Missing details related to Web Protection"
There is an undocumented but relevant difference on Web Protection behavior between supervised vs. unsupervised devices that should be on the public documentation:

1.	On Supervised devices with the configuration profile (control filter profile), Defender can access the full URL. If the full URL is phishing, then it will be blocked.
2.	On an Unsupervised device, Defender has access to the domain n

[2022-11-23 10:34] yogkumgit commented on #10327
@chrisda Please help us in resolving this issue. Thanks

[2022-11-23 10:35] yogkumgit commented on #10322
@Dansimp Please help us in resolving this issue. Thanks

[2022-11-23 10:37] #10175 closed

[2022-11-23 10:39] #10311 closed

[2022-11-23 10:41] #10315 closed

[2022-11-23 10:43] yogkumgit commented on #10323
@msbemba Thank you very much for the contribution and updating the documentation with PR. @fixx-er Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-23 10:43] #10323 closed

[2022-11-23 10:44] yogkumgit commented on #10326
@msbemba Thank you very much for the contribution and sharing this explanation. @GraemeNZ Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-23 10:45] Redbaron13 opened #10356 "Spelling or Grammar Error ...took "effect" not "a fact""
Add your Google Workspace domain to Microsoft 365
Article
10/26/2022
2 minutes to read

...6. Open the record type drop-down, choose TXT, paste the TXT value you copied then select Add. The update usually takes **~~a fact~~**`effect` within a few minutes but may take up to 48 hours.
7. Return to the admin center, select Verify,and then Close.

[2022-11-23 10:47] yogkumgit commented on #10330
@msbemba Thank you very much for the contribution and sharing this explanation. @phenixita Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-23 10:47] #10330 closed

[2022-11-23 10:49] yogkumgit commented on #10305
@msbemba Thank you very much for the contribution and sharing this explanation. @dnetoa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-23 10:50] #10305 closed

[2022-11-23 10:51] yogkumgit commented on #10319
@sengle312 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-11-23 10:51] #10319 closed

[2022-11-23 10:58] yogkumgit commented on #10317
@andrePKI Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-11-23 14:18] Interface007 opened #10357 "Definition of "Conflict" is not clear"
The documentation here is "When two or more policies have conflicting settings, the conflicting settings are not added to the combined policy, while settings that don't conflict are added to the superset policy that applies to a device.". To me it's not clear whether two settings with the same effect are a conflict.
Example:
Policy 1: Attack surface reduction policies "Block all Office application

[2022-11-23 14:34] PMLIO opened #10358 "Missing Features"
Hi, the Printer, Removable Storage and Network share groups are missing in my EndPoint DLP Settings (M365 E5). Are these preview features where we need to opt-in?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 34f25ec8-d5a8-4a9d-ca72-bd61eacd9dbc
* Version Independent ID: 34f25ec8-d5a8-4a9d-ca72-bd61eacd9dbc
* Content

[2022-11-23 14:47] kstat commented on #10236
Sorry, @cabailey - doesn't the 'when labeled' definition based on this revision above conflict with what the 'tip' on this page below suggests? If the 'tip' is accurate, then presumably the 'when labeled' works similarly to how 'last modified' worked before July 2022?

https://learn.microsoft.com/en-us/microsoft-365/compliance/record-versioning?view=o365-worldwide

[2022-11-23 17:05] paulohanlon opened #10359 "Case Action - Turn off pseudonymize"
Under Case Actions there's no mention of the option to "Manage pseudonymize" which gives IRM Investigators the ability to turn off for the case, if enabled at the tenant level.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 44c1982d-931d-e5d9-6f54-8b63050932d5
* Version Independent ID: 30c21178-f013-4649-59ae-4b9f75e1

[2022-11-23 17:08] paulohanlon opened #10360 "List All Policy Indicators"
Customers often ask for a list of all available policy indicators. Today the only way to see this list is to open the IRM Settings within the portal. We should document the full list either on this page or another which is linked to from this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 5147f5e8-a267-ee55-de12

[2022-11-23 18:28] GraemeNZ commented on #10326
Hi

Actually I do see a need for a documentation change. These instructions:

 Sriraman M S Wednesday, 23 November, 1:18 am
"contact the support team via the need help section on the admin center so that our billing team can assist you with this query."

Clicking on the need help section on the admin center took me to GitHub, where you've told me to click on the help section ion the admin center .

[2022-11-24 11:15] yogkumgit commented on #10356
@Redbaron13 Please indicate which document you are referring to. Thanks

[2022-11-24 11:27] yogkumgit commented on #10326
@msbemba

[2022-11-24 11:52] baardhermansen opened #10365 "Removal or migration of page into existing configure-server-endpoints.md"
The majority of the info on this page is a repetition of the information on the page configure-server-endpoints.md (titled "Onboard Windows servers to the Microsoft Defender for Endpoint service").
It seems it would be better to migrate the little content that's unique on this page, into the above mentioned, to simplify the content.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-11-24 15:33] greenchevy65 opened #10367 "Please update "How to search for and view eDiscovery activities" instructions"
The section "How to search for and view eDiscovery activities" needs to be updated for actual directions.  there is no "Audit" in the left column in the Microsoft Purview admin portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3fd2a2b6-1f32-a990-2c15-9958eecc40aa
* Version Independent ID: c1ba6194-05cf-dd00-e973-

[2022-11-24 15:36] greenchevy65 commented on #10367
Ok, well that was weird.  I waited on that page long enough and all the other items on the left column finally appeared.  Strange slow load.  You may close this.

[2022-11-24 16:16] terryhugill opened #10368 "Contrdicting information"
These contradictory statements are in this document. If the differences are for different policy types, this could be made clearer.

![image](https://user-images.githubusercontent.com/24670663/203828812-bd08eae0-1672-4e12-ab38-fdef50064eeb.png)

![image](https://user-images.githubusercontent.com/24670663/203828912-28a8aa72-2fb0-4774-98a9-6504c286b9b4.png)

---
#### Document Details

⚠ *Do not edit

[2022-11-24 19:26] chrisda commented on #10327
@DMoenks, Safe Links or Safe Attachments protection requires a Microsoft Defender for Office 365 Plan 1 or Plan 2 license.

So what exactly is the ask here for this topic?

[2022-11-24 20:56] robmacf opened #10369 "Add "Don't exclude the URL *.blob.core.windows.net from any kind of network inspection""
This page is recommending to customers that they should exclude from HTTPS inspection all of the FQDNs in the spreadsheet. That spreadsheet includes entries with *.blob.core.windows.net, which is Azure Blob Storage.

It's a bad idea to exclude Azure Blob Storage from network inspection. Attackers have in the past used Azure Blob Storage to host malware. This has been an effective tactic because so

[2022-11-24 22:21] DMoenks commented on #10327
The question is not regarding licensing for Defender for Office, as the license need for that product would rather be the topic of the other issue I linked above. The question is, if users need to be Exchange Online **recipients** to actually be protected by Defender for Office from a technical perspective or if it's sufficient if they're Exchange Online **users**.

The example I provided above (l

[2022-11-25 00:17] yepitsausername opened #10370 "The table does not make sense under roles and permissions"
You have 4 columns advising "One of the following roles are required... " for each defender. But it is not clear what each row references to.

![image](https://user-images.githubusercontent.com/119018808/203877139-7eeaa8c8-8801-41fe-86e0-25ee8e37113b.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: e6a41905-15a0-c1

[2022-11-25 06:20] microsoft-github-policy-service[bot] opened #10372 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-25 09:20] Phurba2123 commented on #10255
Hi @yogkumgit ,

How can we disable Service encryption with Microsoft Purview Customer Key? I could not get how to disable it?
Please let me know. It will be very helpfull.

[2022-11-25 13:27] DeanGross opened #10374 "Request for more details"
Please provide some more information about how the choices made when configuring a policy will affect the devices evaluated. e.g. will choosing a specific windows edition automatically exclude the devices that don't have that version? do we need to have a policy for every version of windows 10?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub

[2022-11-25 14:04] kstat commented on #10236
@cabailey Since the issue is marked closed, not sure if the comment above might have fallen by the wayside, or if you've received a notification re: it? Assuming this gets through, let me know if you need me to create a separate issue for this.

Much appreciated! Thanks!!

[2022-11-25 16:46] cabailey commented on #10236
Although the issue is closed I still get notified and agree we seem to have introduced a contradiction, here. I'm investigating & will update this thread (no need to open a new one) and the documentation as needed, but most people are out this week for US Thanksgiving holiday.

[2022-11-26 03:04] jsclary opened #10375 "Bad idea to hide support inside something that could be the problem."
[Enter feedback here]
If you are having technical issues with Microsoft 365, logging in to the admin console may be part of the problem so putting the support options there is a terrible idea.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Version Independent ID: 1ed50e50-a3c1-1f

[2022-11-26 07:28] IyaadDev opened #10376 "s"
s

[2022-11-26 07:29] #10376 closed

[2022-11-26 14:27] ThijsLecomte opened #10378 "Missing tables"
[Enter feedback here]
There are quite a few MDVM tables missing in this schema:
- DeviceBaselineComplianceAssessment
- DeviceBaselineComplianceAssessmentKB
- DeviceBaselineComplianceProfiles
- DeviceTvmCertificateInfo (Available as separate page, but not in table)
- DeviceTvmInfoGatheringKB (Available as separate page, but not in table)
- DeviceTvmSoftwareEvidenceBeta (Available as separate page,

[2022-11-26 14:27] ThijsLecomte opened #10379 "Missing tables"
[Enter feedback here]
Premium add-on tables are missing:
- DeviceBaselineComplianceAssessment
- DeviceBaselineComplianceAssessmentKB
- DeviceBaselineComplianceProfiles
- DeviceTvmCertificateInfo
- DeviceTvmInfoGatheringKB
- DeviceTvmSoftwareEvidenceBeta
- DeviceTvmBrowserExtensions
- DeviceTvmBrowserExtensionsKB

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.micr

[2022-11-26 23:08] chrisda commented on #10327
You should open a support ticket and ask. Report back here with any improvements to the documentation (the Safe Links or Safe Attachments topics, not the Service Description).

[2022-11-27 06:47] Franky-74 opened #10380 "Customize name field in booking page"
How can I customize name field in the booking page like splitting in first name and last name?

[2022-11-27 07:54] Franky-74 opened #10381 "MS Bookings: I’d like to customize the Subject Line in Confirmation Email"
Is it possible to customize the automated email that is sent when a booking is made online? I see that I can add text to the email that is generated but I need to remove the CONFIRMED part as our appointments must be accepted before they are truly confirmed. I would like to make it more like "Your Appointment Request has Been Submitted"?

[2022-11-27 08:36] TheITguy666 opened #10382 "Text page points to himself"
the paragraph:
"This capability is similar to [advanced hunting in Microsoft Defender for Endpoint](https://learn.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/advanced-hunting-overview) and supports queries that check a broader data set coming from"
point to himself page

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com

[2022-11-27 22:28] technion opened #10384 "Invalid values in field"
Hi,

This document describes the "action" field as an enum with values:

`The action that will be taken if the indicator will be discovered in the organization. Possible values are: "Alert", "AlertAndBlock", and "Allowed"`

AlertAndBlock is not valid, if you try to use it you will get this error:

`Failed to parse CSV file. Invalid line: 2, Reason: Error in parsing field Action, value: AlertAndBlo

[2022-11-28 00:02] deFRAGerNZ opened #10385 "TrackUserClicks Incorrect"
Command for tracking user clicks in the documentation is incorrect - Documentation is 'TrackUserClicks', while command in New/Set/Get-SafeLinksPolicy is 'TrackClicks', without the 'User'.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 0c77e1cb-1509-83cc-7c2a-564d5e3e91ea
* Version Independent ID: 9f07278c-37ab-beac-a5

[2022-11-28 03:50] deFRAGerNZ commented on #10356
@yogkumgit  answering for @Redbaron13 - Probably this one: https://learn.microsoft.com/en-us/microsoft-365/admin/moveto-microsoft-365/add-google-domain?view=o365-worldwide

[2022-11-28 04:20] yogkumgit commented on #10327
@DMoenks Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will c

[2022-11-28 04:20] #10327 closed

[2022-11-28 04:29] yogkumgit commented on #10331
@msbemba

[2022-11-28 04:30] #10155 closed

[2022-11-28 04:37] yogkumgit commented on #10344
@MSFTTracyP Please help.

[2022-11-28 07:18] binUmmer opened #10386 "Minor grammar check"
[Enter feedback here]
I think the notes sections on top needs a minor update

Trusted ARC sealers is an admin-created list of intermediary domains who have implemented ARC sealing. When an email is routed to Office 365 through and ARC trusted intermediary of the Office 365 tenant, Microsoft validates the ARC signature, and, based on the ARC results, can honor authentication details provided.

it s

[2022-11-28 09:10] unknowndpi opened #10387 "Explorer does not exist"
https://learn.microsoft.com/microsoft-365/security/office-365-security/remediate-malicious-email-delivered-office-365

Discusses links to 'Explorer' which no longer exist

[2022-11-28 09:18] unknowndpi commented on #10387
Not only does 'Explorer' not exist (probably now called Real-Time detections), none of the remediation options are available as per the screenshots/documentation.

[2022-11-28 10:26] joergrenn opened #10388 "Global Quarantine notification settings documentation outdated"
Hello,

the documentation for the Quarantine notification settings is outdated.
There are two new settings which are not documented here yet:
"Specify sender address"
and "Subject".
Could you please update your documentation to keep up with the product?
best regards
joerg

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-11-28 10:34] schmurky commented on #10382
Addressed in this PR. Thank you so much for the catch. https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/17767

[2022-11-28 11:30] groove200 opened #10389 "Where are the tables?"
No tables or error codes listed ?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 102c5c34-0c04-cc14-8e9c-74ff42e1fdc2
* Version Independent ID: 6a06016e-6ac1-ab00-5a33-1d1226e2e45d
* Content: [Microsoft Defender Antivirus event IDs and error codes](https://learn.microsoft.com/en-us/microsoft-365/security/defender-endp

[2022-11-28 12:33] siosulli commented on #10365
Hi @baardhermansen and @yogkumgit

As there is a plan to refresh the onboarding content in the near future this is really helpful information.

I will make sure this included as part of the documentation refresh.

Thanks,
Sinead

[2022-11-28 13:41] rfellmann opened #10392 "Links not working in 'November 2022' paragraph"
None of the links in the 'November 2022' paragraph are correct. They all point to the same URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 8c5eb6e9-4010-6077-4746-ec9f93148f9e
* Version Independent ID: 8c5eb6e9-4010-6077-4746-ec9f93148f9e
* Content: [What's new in Microsoft Defender for Endpoint](https://learn.mic

[2022-11-28 13:44] pjrcdf opened #10393 "Wording in article - supported OS's."
In the section entitled "what is controlled folder access?" - https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/controlled-folders?view=o365-worldwide#what-is-controlled-folder-access

the text states

"Supported on Windows Server 2019, Windows Server 2022, Windows 10, and Windows 11 clients"

In the "Why controlled folder access is important" section - https://learn.micro

[2022-11-28 16:39] digitalzomb opened #10394 "Issue with Kusto Example"
The second query example under here https://learn.microsoft.com/en-gb/microsoft-365/security/defender-endpoint/network-protection?view=o365-worldwide#advanced-hunting is invalid and does not work when pasting, due to the ":". It should be:

DeviceEvents
|where ActionType contains "ExploitGuardNetworkProtection"
|extend ParsedFields=parse_json(AdditionalFields)
|project DeviceName, ActionType, Time

[2022-11-28 17:21] chrisda commented on #10385
Fixed.

Thanks for the feedback.

Closing

[2022-11-28 17:21] #10385 closed

[2022-11-28 17:58] ElfNeedsFood opened #10395 "Check if user has an archive mailbox"
[Enter feedback here]
Section on "if user is not on legal hold", the first check should be if the user has an archive mailbox.

Also, the solution to use New-ComplianceSearchAction is unfeasible since that command is limited to removing 10 messages per run and anyone in this situation is going to have too many messages to purge for that to be viable.  Either fix New-ComplianceSearchAction to allow

[2022-11-28 18:13] chrisda commented on #10388
OK. Fixed. Updates should be visible ~11:00AM M 11/28 PST (GMT-7)

[2022-11-28 18:53] denisebmsft commented on #10389
Hi @groove200. Are you not seeing information like this in the article?

![image](https://user-images.githubusercontent.com/18405051/204357475-687f0a1a-084f-4b4d-9d1f-3600baa8d37d.png)

I'm seeing all the content rendering correctly. Can you check again?

[2022-11-28 19:46] joergrenn commented on #10388
I don't think that's correct. Could you ask engineering to provide the correct information and confirm?
I think it just needs to be an address from an organization domain. A mailbox does not need to exist for that address.
Also I think the email address cannot be different for different languages, i can only be one sender for all.

[2022-11-28 20:19] omegagx opened #10396 "documentation on new feature "ASR Only Per Rule Exclusions" is wrong and is contradictory on different documentation pages"
This sentence on this page is wrong: "You can specify individual files or folders (using folder paths or fully qualified resource names), but you can't specify which rules the exclusions apply to." It's directly contradicted on this page: https://learn.microsoft.com/en-us/mem/intune/protect/endpoint-security-asr-policy#exclusions-for-attack-surface-reduction-rules because it says "To avoid having

[2022-11-28 20:46] cabailey commented on #10237
Investigating

[2022-11-28 21:07] chrisda commented on #10388
It does need to be an existing recipient (I never said 'mailbox'), but it appears to prefer mailboxes. Mail contacts, distribution groups, dynamic distribution groups, mail-enabled security groups, or Microsoft 365 Groups are not available in the pick list. Mail users, room mailboxes, and equipment mailboxes are available in the pick list

Apparently, you can *select* a different sender for each l

[2022-11-29 01:50] AndNovian opened #10398 "Group Policy Server Onboarding for unified agent / non unified agent"
**Customer Feedback from CSS Ticket:**
Deploying Onboarding Script through Group Policy does not make clear distinction of the difference between Windows 10 / Server 2012R2 2016 / Server 2019++, this causes customer who had experience in deploying unified agent for 2012R2/2016 to be confused when they wish to onboard Server 2019++, since there are no unified agent need to be installed. Please upda

[2022-11-29 05:40] msbemba commented on #10326
@GraemeNZ  Thank you for your feedback.

The link to the admin center is https://admin.microsoft.com/Adminportal/Home?source=applauncher#/homepage

You can see the Help and support option in the right corner, Click on that to open a support ticket.

![image](https://user-images.githubusercontent.com/45987684/204447782-bea7ac3d-e143-4994-8544-56a482c5f14b.png)

Hope this helps!

Thanks
Sri

[2022-11-29 05:45] msbemba commented on #10337
@khbafl Thank you for your feedback. We have added the video link to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10401

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-29 05:49] msbemba commented on #10356
@deFRAGerNZ and @Redbaron13  Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10402

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-29 05:57] msbemba commented on #10368
@terryhugill Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10403

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-29 06:01] msbemba commented on #10369
@robmacf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10404

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-29 06:06] msbemba commented on #10375
@jsclary Thank you for your feedback. The option to create a support ticket via the need help section is one of the ways to contact  Microsoft support and users can always use the other support option if they have trouble getting into the admin center.
It is not always that a technical issue stops admins from accessing the admin center.

Hope this helps!

Thanks
Sri

[2022-11-29 06:28] msbemba commented on #10380
@Franky-74 Thank you for your feedback. This sounds like a technical question and needs to be routed to our Microsoft support team. You can create a support ticket via the help and support option on the Admin center so that a support engineer will be able to assist you.

Hope this helps!

Thanks
Sri

[2022-11-29 06:29] msbemba commented on #10381
@Franky-74 Thank you for your feedback. This sounds like a technical question and needs to be routed to our Microsoft support team. You can create a support ticket via the help and support option on the Admin center so that a support engineer will be able to assist you.

Hope this helps!

Thanks
Sri

[2022-11-29 06:33] msbemba commented on #10384
@technion Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10405

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-29 06:37] msbemba commented on #10367
@greenchevy65 Thank you for your feedback. Ideally, it should show up immediately, It still doesn't show the audit option on my end. I'll test with other roles and update the document if needed.

Thanks
Sri

[2022-11-29 06:49] msbemba commented on #10357
@Interface007 Thank you for your feedback. Great question, If both the policies are set to block then it would not become a conflict. However  below settings will be a conflict

Policy 1: Attack surface reduction policies "Block all Office applications from creating child processes = Allow"
Policy 2: Devices | Configuration profiles "Office apps launching child processes = Block"

Hope this helps!

[2022-11-29 07:46] Redbaron13 commented on #10356
@msbemba you're welcome. @deFRAGerNZ  @yogkumgit thanks for the help  @denisebmsft - Thank you all for the help in updating this webpage.

All, I must admit this was my first time using GitHub, so I apologize if I did not reference the specific webpage or proposed my change correctly. I still learning. - Any advice on what I should do next time to improve my proposed correction/change in the futur

[2022-11-29 09:35] terryhugill commented on #10368
Thank you.

On Tue, 29 Nov 2022 at 05:57, Sriraman M S ***@***.***> wrote:

[2022-11-29 11:25] yogkumgit commented on #10382
@schmurky PR link does not work. Kindly check.

[2022-11-29 11:27] yogkumgit commented on #10365
@siosulli Thank you very much for sharing this information. @baardhermansen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-29 11:27] #10365 closed

[2022-11-29 11:28] schmurky commented on #10382
The PR has been published, public doc now reflects the change: https://learn.microsoft.com/en-us/microsoft-365/security/defender/advanced-hunting-overview?view=o365-worldwide

![image](https://user-images.githubusercontent.com/66350491/204517506-16cef1d2-e786-489e-b88a-fe4f0dccba59.png)

[2022-11-29 11:40] yogkumgit commented on #10316
@msbemba Thank you very much for the contribution and updating the documentation with PR. @andrePKI Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-29 11:40] #10316 closed

[2022-11-29 11:53] #10326 closed

[2022-11-29 12:02] yogkumgit commented on #10375
@msbemba Thank you very much for the contribution and sharing this explanation. @jsclary Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-11-29 12:02] #10375 closed

[2022-11-29 12:03] #10380 closed

[2022-11-29 12:04] yogkumgit commented on #10381
@msbemba Thank you very much for the contribution and sharing this explanation. @Franky-74 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-11-29 12:04] #10381 closed

[2022-11-29 12:11] #10382 closed

[2022-11-29 12:51] msbemba commented on #10370
@yepitsausername Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10406

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-29 12:59] msbemba commented on #10355
@MasterBlaster4 Thank you for your feedback. We have a different document that details about web protection and I have added this information to it - https://learn.microsoft.com/en-us/microsoft-365/security/defender-endpoint/ios-configure-features

This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10407

Thanks
Sri

[2022-11-29 13:08] msbemba commented on #10359
@paulohanlon Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/10408

Once the author approves, the changes will be live.

Thanks
Sri

[2022-11-29 13:11] msbemba commented on #10331
@robinpoulose1 Thank you for your feedback. I tested it with multiple accounts and this is by design. If you would like to have a change in the way it works(design change), I'd recommend you provide feedback directly on our main feedback portal ( https://feedbackportal.microsoft.com/ ). Our dev and product team reviews the feedback and will be able to provide you more information.

Hope this helps

[2022-11-29 14:55] yogkumgit commented on #10358
@chrfox Please help us in resolving this issue. Thanks

[2022-11-29 14:56] yogkumgit commented on #10360
@robmazz Please help us in resolving this issue. Thanks

[2022-11-29 14:58] yogkumgit commented on #10372
@tiburd Your action please. Thanks

[2022-11-29 14:59] yogkumgit commented on #10374
@siosulli Please help us in resolving this issue. Thanks

[2022-11-29 15:00] yogkumgit commented on #10378
@schmurky Please help us in resolving this issue. Thanks

[2022-11-29 15:09] yogkumgit commented on #10338
@msbemba

[2022-11-29 16:07] #10372 closed

[2022-11-29 17:07] martinshiels opened #10411 "Instructions for purchasing extra storage are incorrect."
The document doesn't provide clear and correct instruction on how to purchase the Extra Storage. When following the instructions, there is no Extra Storage item under Add-ons.

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-aced-e2f3-f52d-034e14fe1

[2022-11-29 18:03] dduffy101021 opened #10412 "Link to Syntex Contract Sample Repository"
The link to the Contracts Management Solutions Assets Repository link does not work. No sample contracts are found in the GitHub repositories.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bea6e11b-2884-3ae0-9416-be51af65ecaf
* Version Independent ID: 3393bb9c-317d-4338-7048-a28fe5d34858
* Content: [Step 1. Use Micro

[2022-11-29 19:37] chuckedmonson commented on #10412
@dduffy101021 -- Thank you for letting us know about the broken link. We're sorry about that. It has been fixed and you should now be able to access the sample files. Thanks again.

[2022-11-29 20:45] omegagx opened #10413 "Documentation on feature "ASR Only Per Rule Exclusion" in Attack Surface Reduction is missing in the "Learn more" page"
![image](https://user-images.githubusercontent.com/19207488/204643306-c1986238-ae36-4e35-ab73-4d811118a7b1.png)
This link "Learn more" doesn't have any information on the feature "ASR Only Per Rule Exclusion".  I searched the whole page but it doesn't mention it at all. It needs to describe how it works and how conflicts with "Attack Surface Reduction Only Exclusions" feature and how to resolve th

[2022-11-29 20:56] Daiannec opened #10414 "Organizational Theming in Microsoft 365 admin center"
Hello time,

Could you clarify if the theme and dark mode is applied only to Portal M365 (www.office.com) and not to other services, for example - Outlook web, Onedrive.

Outlook web does not change main bar
Onedrive changes the main bar

Which raises questions when using dark mode.

https://techcommunity.microsoft.com/t5/microsoft-365-blog/updates-to-organizational-theming-in-microsoft-365-admin-

[2022-11-30 00:54] MelQL opened #10415 "Avanced Hunting example incorrectly using DeviceNetworkEvents"
Under Advanced Hunting, it correctly states that audit events for Network Protection are found in DeviceEvents.  However, the example shows:

DeviceNetworkEvents
|where ActionType in ('ExploitGuardNetworkProtectionAudited','ExploitGuardNetworkProtectionBlocked')

and should instead be:

DeviceEvents
|where ActionType in ('ExploitGuardNetworkProtectionAudited','ExploitGuardNetworkProtectionBlocked'

[2022-11-30 01:54] cabailey commented on #10237
I have some useful updates from an authoritative source & making corresponding edits to the docs.  They should be live tomorrow but, in the meantime, sharing here:

Any item that's configured for disposition review is exempt from the timer's cleanup process.  Effectively, they behave as "retain forever" until disposition is approved, and then they go straight to the 2nd stage recycle bin.  As the

[2022-11-30 01:54] #10237 closed

[2022-11-30 02:02] cabailey commented on #10236
This technology is full of exceptions (and variations) - and this is a good example where both statements are true but missing the glue to explain how. The new single file behavior doesn't apply to record versions.  These remain independent files, which can therefore expire independently of each other.  I'll be making updates to clarify this as well - good catch!

[2022-11-30 07:31] MatiLag opened #10419 "Possible typo in the article"
[Enter feedback here]
At the end of the article under Auto-expanding archiving and other compliance features->Import service
It says: "Import service: You can use the Office 365 Import service to import PST files to a user's auto-expanded archive. You can import up to 100 GB of data from PST files to the user's archive mailbox"

I believe the right sentence should be:
"Import service: You **can't*

[2022-11-30 12:51] yogkumgit commented on #10331
@robinpoulose1 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-11-30 12:51] #10331 closed

[2022-11-30 12:55] yogkumgit commented on #10356
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Redbaron13 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-11-30 12:55] #10356 closed

[2022-11-30 13:43] kgoldman opened #10420 "What's new"
The title is 'what's new', but it just has a set of version numbers.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 38276f58-2d15-9f05-cd4a-87646ec11b27
* Version Independent ID: 12f1b3df-123f-7005-9f68-38ab20df09cd
* Content: [What's new in Microsoft Defender for Endpoint on Linux](https://learn.microsoft.com/en-us/m

[2022-11-30 13:46] kgoldman opened #10421 "Missing overview"
This links from Overview in navigation pane, but there is no overview.  It never says what the product is or does, just how to install and debug it.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Version Independent ID: 6c49c1c5-a178-0c9d-4768-fef1507b1a55
* Content: [Microsoft D

[2022-11-30 15:34] bitcras opened #10422 "Alexsio nau"
``
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce65739-6428-fc57-012c-a6741a051c6b
* Version Independent ID: 3341ac81-3e21-4e71-e4f7-3eff41db05b8
* Content: [About the Microsoft 365 admin mobile app - Microsoft 365 admin](https://learn.microsoft.com/en-us/microsoft-365/admin/admin-overview/ad

[2022-11-30 16:33] Velochic opened #10423 "This helped me diagnose an immediate problem"
Regarding how OneDrive is managed, and how much space it should be taking up within an enterprise user's account.
Short version - if you have multiple users on one computer, all using OneDrive for all their files, local storage is consumed very, very quickly!

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3e9ad983-1df

[2022-11-30 19:14] denisebmsft commented on #10422
Hello @bitcras. Do you have a question or issue with our article? Please let us know.

[2022-11-30 22:05] bweston-8 commented on #10396
I've engaged with the product team for this issue.