[2021-08-30 17:10] msbemba commented on #6009
@EthanRodz Thank you for your feedback. I'm currently working with the author to update the giphy.com URL. I shall update you shortly.

Thanks
Sri

[2021-08-30 17:10] msbemba commented on #5632
@Strick1969  Thank you for your feedback. I'm currently working with the author to update the giphy.com URL. I shall update you shortly.

Thanks
Sri

[2021-08-30 17:22] msbemba commented on #5842
@andydlayton Thank you for your feedback. There is already a note which states The Office 365 CDN is only available to tenants in the Production (worldwide) cloud - This is the commercial cloud.
Tenants in the US Government, China, and Germany clouds do not currently support the Office 365 CDN.

Hope this helps!
Thanks
Sri

[2021-08-30 17:42] rondfw opened #6209 "Bookings doesn't appear on Admin Center/Settings/Org Settings https://admin.microsoft.com/#/Settings/Services"
[Enter feedback here]
Bookings doesn't appear on Admin Center/Settings/Org Settings    https://admin.microsoft.com/#/Settings/Services

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba164b8e-a574-0744-ce02-23bda994e505
* Version Independent ID: 05018469-d6f8-0eb5-956c-730991912f8b
* Content: [Turn Microsoft Bookings on

[2021-08-30 22:29] chrisda commented on #6171
@ArttuArstila, I'm told that the system does not learn communication patters of the user's colleagues. It only learns the patterns of the user themselves.

When multiple protected recipients receive the same message AND if most of those recipients have never received a message from that sender, THEN those recipients will receive the first contact safety tip.

Does this make sense?

[2021-08-30 22:35] chrisda commented on #6179
It's true that Safe Documents is enabled or disabled globally, but only the users who (as described in the topic) have Microsoft 365 E5 or Microsoft 365 E5 Security licenses assigned get the protection.

I would presume that if Office 365 SafeDocs licenses can be assigned or removed without affecting other E5 features, then yeah, you can use that to control who has it.

If you want a definitive an

[2021-08-31 00:35] ehalsey opened #6212 "Incorrect Reference"
Option #2 has an invalid link.  Should be a link to step 4.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b2ba944-52a9-1dc9-eebe-e16111a8ccc4
* Version Independent ID: 22f2b1ec-a287-b315-ae6c-caeabc86beba
* Content: [Step 2 - Save the contents of a former employee's mailbox - Microsoft 365 admin](https://docs.microso

[2021-08-31 01:51] anthonynz opened #6213 "Report Message Add-in vs "Report as Junk""
I may have missed it, but I cannot see any mention of the exisitng "Report as Junk" functionality.

Is this add-in a replacement to the built-in Junk email handling?

![image](https://user-images.githubusercontent.com/1064418/131428697-80742844-3ec7-4ce8-a451-1172638a171e.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-08-31 05:26] ArttuArstila commented on #6171
Thanks for the reply! Let me explain the concern with an example. We hade an incoming mail where there were three internal recipients. One of them saw this tip: "Some people who received this message don't often get e-mail from xxx". Now the recipient who got the tip knows that the other two internal recipients do not regularly communicate with the sender - which means he learns about the communic

[2021-08-31 05:27] ArttuArstila commented on #6179
Thanks for replying! I started my own test on this, and preliminarily it looks that the user-level license control would work. I know it is not mandatory for documentation, but considering that very large end user organizations want to roll this out, they naturally want to pilot it and roll out gradually. And if there is a method for that, it would be useful for it to be documented.

[2021-08-31 07:09] ArunMSFT commented on #1965
In general we only list unsupported characters, here since we haven't called out any; we believe all characters listed in these docs are supported.
Character set (0 - 127) - https://docs.microsoft.com/en-us/office/vba/language/reference/user-interface-help/character-set-0127
Character set (128 - 255) - https://docs.microsoft.com/en-us/office/vba/language/reference/user-interface-help/character-set

[2021-08-31 07:59] yogkumgit commented on #6081
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JPCortesP Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-31 08:00] #6081 closed

[2021-08-31 08:27] yogkumgit commented on #5890
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-31 08:28] #5890 closed

[2021-08-31 08:32] pjrcdf opened #6215 "Typo in article"
Typo in the following text

"As a recipient of a quarantined message, what you can do to the message as an ordinary use (not an admin) is described in the following table:"

I believe this should read

"As a recipient of a quarantined message, what you can do to the message as an ordinary user (not an admin) is described in the following table:"

---
#### Document Details

⚠ *Do not edit this sect

[2021-08-31 08:38] BrianLeFlem commented on #6120
M365 Admin Center.  Cheers

[2021-08-31 09:13] yogkumgit commented on #5935
@ayan-b Author confirmed, issue is fixed. If you see any other documentation update, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-31 17:16] msbemba commented on #6120
@BrianLeFlem Thank you for the response. I tested it and don't see the users getting removed from MS teams when they are blocked.

Blocking someone prevents anyone from signing in as this user, and is a good idea when you think their password or username may have been compromised. When you block someone, it immediately stops any new sign-ins for that account, and if they’re signed in, they’ll be a

[2021-08-31 17:20] msbemba commented on #6158
@sparkitect Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6216

Thanks
Sri

[2021-08-31 17:22] msbemba commented on #6159
@jmmowrer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6217

Thanks
Sri

[2021-08-31 17:28] msbemba commented on #6195
@16015299 Thank you for your feedback. Could you please let us know what modifications or questions you have on the document?

Thanks
Sri

[2021-08-31 17:31] msbemba commented on #6212
@ehalsey Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6219

Thanks
Sri

[2021-08-31 17:44] msbemba commented on #6145
@teraco Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6221

Thanks
Sri

[2021-08-31 17:47] msbemba commented on #6148
@BenMartinBaur Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6222

Thanks
Sri

[2021-08-31 17:50] msbemba commented on #6149
@DanMan32 Thank you for your feedback. I was able to test this on my lab and can view the details under users-->Active users. All mailboxes are listed here and usually shared mailboxes that are not licensed show up as unlicensed.

![image](https://user-images.githubusercontent.com/45987684/131551693-b5c42285-5805-47e2-ad70-da39338737a1.png)

Hope this helps!

Thanks
Sri

[2021-08-31 17:53] msbemba commented on #6161
@richrundmsft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6223

Thanks
Sri

[2021-08-31 18:02] msbemba commented on #6181
@teomonda Thank you for your feedback. Both the documents now includes Business standard. The reviewed the license table that is available at https://transform.microsoft.com/modernwork/download?assetname=assets%2FModern_Work_Licensing_Deck.pptx&download=1&download=1 and this is not a part of our Document repository. So I have left feedback on that page so that the concerned team can update.

Hope

[2021-08-31 18:04] msbemba commented on #6190
@Wh00T Thank you for your feedback. I have been assigned the role for over an hour and still do not have access to activity explorer. I'll wait for another 24 hours to test and update.

CC : @chrfox

Thanks
Sri

[2021-08-31 18:06] msbemba commented on #6196
@mendrinos Thank you for your feedback. You are right, You can't change the country or region for your subscription. That's because the country or region where your organization is headquartered determines which services are available to you, the taxes and billing currency, and the location of the data center.

To change your organization's country in  M365, sign up for a new account, choose the d

[2021-08-31 18:10] msbemba commented on #6209
@rondfw Thank you for your feedback. I was able to test this in the lab and cannot repro the issue. I can view bookings under Org settings-->Services

![image](https://user-images.githubusercontent.com/45987684/131553996-ef257455-f5bb-40da-88ab-bfee372fb1f0.png)

If you have any of the below subscriptions and being a global administrator you still cannot view the bookings app, Please contact Micro

[2021-08-31 18:30] chrisda commented on #6215
@pjrcdf, fixed. In the future, you too can make fixes like this yourself without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing.

[2021-08-31 18:30] #6215 closed

[2021-08-31 18:56] rondfw commented on #6209
I don't doubt that it appears for you but please know that it doesn't appear for me.  Our license is E3 for education (but others available; see below).  As you suggested, I opened support ticket #:  27257081

![Screen Shot 2021-08-31 at 1 52 04 PM](https://user-images.githubusercontent.com/40880140/131559745-d55aad13-bac8-473c-a0ab-d1a7add4abc5.png)

![Screen Shot 2021-08-31 at 1 54 05 PM](https:

[2021-08-31 18:59] rondfw commented on #6209
![Screen Shot 2021-08-31 at 1 56 46 PM](https://user-images.githubusercontent.com/40880140/131560606-cb30f4d9-837d-404e-98b6-368cd2b8ad39.png)

[2021-09-01 05:52] yogkumgit commented on #6120
@msbemba  Thank you very much for the contribution and sharing this explanation. @BrianLeFlem Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-09-01 05:52] #6120 closed

[2021-09-01 06:00] yogkumgit commented on #6158
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sparkitect Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-01 06:01] #6158 closed

[2021-09-01 06:05] yogkumgit commented on #6159
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-01 06:06] #6159 closed

[2021-09-01 06:17] yogkumgit commented on #6148
@msbemba Thank you very much for the contribution and updating the documentation with PR. @BenMartinBaur Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-01 06:18] #6148 closed

[2021-09-01 07:42] wobblewobble opened #6226 "URL redirect expired"
In the initial section the url directing you to the attack simulator **see Get started using Attack simulation training.** is redirecting you to https://protection.office.com/attacksimulator which has expired.
Needs to redirect to https://security.microsoft.com/attacksimulator?viewid=overview

Attack simulation training in Microsoft Defender for Office 365 lets you run benign cyberattack simulatio

[2021-09-01 08:09] yogkumgit commented on #5842
@msbemba Thank you very much for the contribution and sharing this explanation. @andydlayton Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-01 08:10] #5842 closed

[2021-09-01 08:17] teomonda commented on #6181
thank you for the quick intervention!

[2021-09-01 08:18] yogkumgit commented on #6118
@msbemba  Thank you very much for the contribution and sharing this explanation. @CallumCrowley Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share t

[2021-09-01 08:23] desinnic opened #6227 "Updates to screenshots and commands"
[Would it be possible to update this page with the following changes

**Current**
Run MDELiveAnalyzer.ps1
GetFile "C:\ProgramData\Microsoft\Windows Defender Advanced Threat Protection\Downloads\MDEClientAnalyzerResult.zip"

**Requested**
Run MDELiveAnalyzerAV.ps1 <This is the script from the download link on the page>

**Requested**

GetFile "C:\ProgramData\Microsoft\Windows Defender Advanced Thre

[2021-09-01 08:24] yogkumgit commented on #6122
@msbemba  Thank you very much for the contribution and sharing this explanation. @stackorama Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-09-01 08:25] #6122 closed

[2021-09-01 08:34] yogkumgit commented on #6123
@msbemba Thank you very much for the contribution and sharing this explanation. @hudish Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-01 08:44] yogkumgit commented on #6125
@msbemba  Thank you very much for the contribution and sharing this explanation. @ckhordiasma Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-09-01 08:44] #6125 closed

[2021-09-01 08:47] yogkumgit commented on #6154
@16015299 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2021-09-01 08:48] #6154 closed

[2021-09-01 09:00] yogkumgit commented on #6167
@jwspo We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to o

[2021-09-01 09:00] #6167 closed

[2021-09-01 14:09] msbemba commented on #6209
@rondfw Thank you for your response. This could be an issue with the tenant, you have done the right thing by contacting support.

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-09-01 15:06] jrhi opened #6230 "Need to add onboardingStatus to list of Properties"
onboardingStatus was added as a filterable property of Machines earlier this year  Need to add that to the list of properties on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71010864-b3f8-23e1-33fe-496f136bf2b7
* Version Independent ID: e4c58cda-d42f-4445-3a03-6f4c8c1e6460
* Content: [Machine resource type]

[2021-09-01 15:20] jrhi opened #6231 "Update Properties that support $filter - Machine - to include onboardingStatus"
this section needs to include that onboardingStatus is a filterable property for Machines API:

Properties that support $filter
Alert: alertCreationTime, lastUpdateTime, incidentId,InvestigationId, status, severity and category.
Machine: ComputerDnsName, LastSeen, HealthStatus, OsPlatform, RiskScore and RbacGroupId
MachineAction: Status, MachineId, Type, Requestor and CreationDateTimeUtc.
Indicato

[2021-09-01 16:26] chrisda commented on #6226
@wobblewobble, clarification, please. In the topic in question, I see the sentence you're talking about and the link you're talking about, but that "Get started using Attack simulation training" link goes to [Get started using Attack simulation training](https://docs.microsoft.com/microsoft-365/security/office-365-security/attack-simulation-training-get-started).

Neither of these topics contain a

[2021-09-01 20:27] kwekuako commented on #6209
Hi @rondfw, I'm seeing Bookings in my test organization. Couple of questions:
1. Are you in the Microsoft 365 admin center on the Dashboard view or the Simplified view? If you're in Simplified view, use the navigation menu on top left of the screen or search for Bookings in the search bar.

2. Make sure that you're using a Microsoft 365 subscription that supports Bookings. Bookings is supported in

[2021-09-01 20:27] #6209 closed

[2021-09-01 20:28] deividfoggi opened #6233 "Review regarding how to block consumer apps"
I think the following statement should be reviewed because now we have a save way to allow customers to block consumer services when the request come from behind a firewall:

![image](https://user-images.githubusercontent.com/39340082/131740144-e8602d6e-c27c-40e5-b227-0cc018ebc7fd.png)

Recommendation to block consumer access when the request to login.live.com came from behind a firewall capable o

[2021-09-01 22:01] chrisda commented on #6179
@ArttuArstila, OK I added some information to the topic. Have a look, and make any updates that you see fit as described in <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

[2021-09-02 05:10] ArttuArstila commented on #6179
I did not dare to make this update myself as I was not certain that individual access can be configured this way. Good to have it in the docs now, thank you!

[2021-09-02 05:10] #6179 closed

[2021-09-02 06:18] Wh00T commented on #6190
Some more info: I tested with a new user and the AAD role "Security reader". I access the Activity Explorer via:
- Data Classification > Activity Explorer
OR
- Data Loss Prevention > Activity Explorer

Using the first way, there is an error message popping up that I don't have permission once I click on Data Classification. I just acknowledge the popup with OK and switch to the Activity Explorer t

[2021-09-02 07:26] galdalali opened #6235 "Cannot forward email for some reason"
**Trying to configure email forwarding, enabled the forwarding and added remote domain according to the [documentation ](https://docs.microsoft.com/en-us/microsoft-365/admin/email/configure-email-forwarding?view=o365-worldwide) but I get the following error when my Microsoft work mailbox try's to forward a mail to my personal mailbox:**

Remote Server returned '550 5.7.520 Access denied, Your orga

[2021-09-02 07:54] wobblewobble commented on #6226
It appears to be fixed now! Apologies, but when I reported it, it was redirecting to the https://protection.office.com/attacksimulator page

[2021-09-02 07:54] #6226 closed

[2021-09-02 09:47] a-mafrancu opened #6236 "Note modification"
[Enter feedback here]
Please change text in the note to :
'To access a shared mailbox, a user must have an Exchange Online license, but the shared mailbox doesn't require a separate license. Without a license, shared mailboxes are limited to 50 GB. To increase the size limit to 100 GB, the shared mailbox must be assigned an Exchange Online Plan 2 license. The Exchange Online Plan 1 license with an

[2021-09-02 10:57] yogkumgit commented on #6235
@galdalali  Please indicate which document you are referring to and what is your feedback. Thanks

[2021-09-02 11:00] yogkumgit commented on #6181
@msbemba Thank you very much for the contribution and sharing this explanation. @teomonda Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-02 11:01] #6181 closed

[2021-09-02 11:12] yogkumgit commented on #5863
@wybesmits Closing as the PR comment. Thanks

[2021-09-02 11:12] #5863 closed

[2021-09-02 12:54] deividfoggi opened #6237 "Broken link - aka.ms/tsstools"
Under the section _Additional support logs_, the link https://aka.ms/TssTools seems to be broken and it is opening bing,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61b783ee-9449-56db-3abd-f17dcf6b5d54
* Version Independent ID: d2146ff5-4248-12ec-a873-c951220aaa14
* Content: [Implementing VPN split tunneling for Off

[2021-09-02 13:42] maharumman opened #6238 "Threat Experts - Documentation update"
information about how to activate or apply for Targeted attack notifications is incorrect. the steps need to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e312ba4d-6340-52f0-1290-7e5505f7a9c0
* Version Independent ID: f7d45e69-56d2-01c5-898c-2e039edafe04
* Content: [Microsoft Threat Experts](https://docs.m

[2021-09-02 14:24] codylc opened #6239 "Links lead to 404 page"
Both hyperlinks for "Windows Defender Application Guard" and "Windows Defender System Guard" lead to a 404. Drop the markdown extension (.md) from the URL and the pages load correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f92f5322-fcf5-f9af-6ba8-692225b1b042
* Version Independent ID: ee810b60-b5b8-9355-b5bc-b

[2021-09-02 15:59] chrisda commented on #6179
@ArttuArstila, I basically guessed about how to do it (although it was an educated guess). Typically, you turn whatever it is on globally, then turn it off individually. In this case, the other way around didn't make any sense. By asking you to make updates, I was merely deferring to your hands-on knowledge and testing experience to see if I missed anything, and to make *slight* modifications as r

[2021-09-02 16:00] sullcromenterprise opened #6240 "Domain Does not Resolve, is this accurate?"
[Enter feedback here]

The domain notify.windows.com does not resolve to anything is this the correct domain or has it changed?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ebbedca-b2ed-d094-bb51-739116c32497
* Version Independent ID: 75b0a1ca-b956-d04c-3626-ce700003aebf
* Content: [Troubleshoot Microsoft Defender fo

[2021-09-02 19:20] galdalali commented on #6235
Updated the issue

[2021-09-02 23:18] msbemba commented on #6065
@XixiHuang333 I'm able to reproduce the issue. We recommend you to contact Microsoft support via the need help button on the admin center to report this issue.

Thanks
Sri

[2021-09-02 23:21] msbemba commented on #5170
@yogkumgit This can be closed as there are no additional changes to the document.

[2021-09-03 09:38] Stricnis opened #6251 "Impacts on changing the default domain"
In the section "How do I set or change the default domain in Microsoft 365?", that would be very useful to add a note detailing the implications of such a change in Exchange Online, OneDrive, Sharepoint Online, Dynamics etc...
Once all these apps are setup, this change is not so obvious and a few comments can be found on the internet, often contradictory (harmless vs dangerous).
According to your

[2021-09-03 11:44] anze-brvar-cookie opened #6253 "Sharepoint site usage page does not list correct site URLs"
I am having some troubles reading out the [Sharepoint site usage page](https://portal.office.com/adminportal/home?#/reportsUsage/SharePointSiteUsageV1). The list of sites in the bottom of the page contains `Site URL` and `Site owner principal name`, but the values are looking to be some sort of UUID or hashed value.

Looking at [the docs](https://docs.microsoft.com/en-US/microsoft-365/admin/activi

[2021-09-03 13:29] SeanTGeoghegan opened #6254 "SharePoint Admins & Published Site Sensitivity Labels"
After doing some tests in multiple tenants, it seems that the SharePoint Site Labels that are published do not respect the Label Policy scope that pushes them out. After speaking with a SME on the topic, it was determined that this is by design, however this documentation does not call it out specifically.

Can this document be updated to include a callout that any Site Label that is created is ab

[2021-09-03 14:38] pagejustin opened #6256 "Bullet 5 is not showing the email address. It is a 32-character string."
Bullet 5 is not showing the email address. It is a 32-character string. Is there an error somewhere?

5. Username is the email address of the user who connected to Microsoft 365 services using Microsoft browsers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f954abb9-d978-b70d-c136-623a76317ddc
* Version Independent I

[2021-09-03 17:41] csritchie opened #6257 "Spelling Error"
Typo within "Get an access token using PowerShell" section of this page.
$clientId variable is misspelled within the $response variable " -ClientId $cleintId "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb191c54-e48e-c031-5310-e2fd584dc412
* Version Independent ID: 201b65d3-a983-8746-3e02-631e5c77a792
* Content: [C

[2021-09-03 20:05] denisebmsft commented on #6235
@yogkumgit https://docs.microsoft.com/en-us/microsoft-365/admin/email/configure-email-forwarding?view=o365-worldwide

[2021-09-03 20:05] #6212 closed

[2021-09-03 20:06] #6196 closed

[2021-09-03 20:06] #6208 closed

[2021-09-03 20:10] #6195 closed

[2021-09-03 20:12] #6118 closed

[2021-09-03 22:59] SanjoyanM commented on #6254
@SeanTGeoghegan: SharePoint service works as following:

1. User mode: So when a user (including admin user) goes to create a site from SharePoint home page then he/she can see only the labels published to him.

2. Admin Mode: When the same Admin user goes to SPO admin portal and tries to create a site from there then he/she can see ALL labels in the Organization. This is by design as SPO admin ca

[2021-09-04 20:55] artekartian opened #6259 "Missing People API"
Hello,
The doc provides insufficient info in the section - Enable API usage for the project, Point 4.
Missing item “**People API**”. Without enabling People API, the migration always ends with an error to be find below.

Suggestion – change to point 4 to: “4. Repeat this process for Google Calendar API, **People API** and Contacts API.”

Error: TooManyTransientFailureRetriesPermanentException: The

[2021-09-06 03:30] EricKY26 opened #6265 "The Content after 'The Office 365 CDN' section (after page 195) can not be shown in downloaded PDF."
So I Click 'Download PDF' on the webpage of this Microsoft 365 Docs,
The Content after 'The Office 365 CDN' section (after page 195) can not be shown in downloaded PDF.
![PDF](https://user-images.githubusercontent.com/19644162/132156689-0e6392da-894d-4f83-bc81-3c0beb893b04.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-09-06 06:24] yogkumgit commented on #6119
@msbemba  Thank you very much for the contribution and sharing this explanation. @jjtrinquet Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2021-09-06 06:25] #6119 closed

[2021-09-06 06:27] yogkumgit commented on #6116
@16015299 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2021-09-06 06:28] #6116 closed

[2021-09-06 06:32] yogkumgit commented on #6102
@msbemba Thank you very much for the contribution and sharing this explanation. @ThatMicrosoftGuy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 06:32] #6102 closed

[2021-09-06 06:36] yogkumgit commented on #6065
@msbemba  Thank you very much for the contribution and sharing this explanation. @XixiHuang333 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2021-09-06 06:36] #6065 closed

[2021-09-06 06:42] yogkumgit commented on #5170
@msbemba Thank you very much for the contribution and sharing this explanation. @schbrownie Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 06:43] #5170 closed

[2021-09-06 07:12] yogkumgit commented on #6149
@msbemba Thank you very much for the contribution and sharing this explanation. @DanMan32 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-06 07:12] #6149 closed

[2021-09-06 07:26] yogkumgit commented on #6204
@SKjerland Please help us in resolving this issue. Thanks

[2021-09-06 07:29] yogkumgit commented on #6192
@chrfox Please help us in resolving this issue. Thanks

[2021-09-06 07:30] yogkumgit commented on #6188
@kwekuako Please help us in resolving this issue. Thanks

[2021-09-06 07:32] yogkumgit commented on #6174
@LauraWi Please help us in resolving this issue. Thanks

[2021-09-06 07:34] yogkumgit commented on #6141
@sverasch  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation w

[2021-09-06 07:35] #6141 closed

[2021-09-06 11:12] new-kirte opened #6266 "Lack of clarity"
[Enter feedback here]
This version is a step back. As an owner of Microsoft Defender product in the FIS organisation I need to know  exactly what data is stored in Azure, so I can communicate it to a regulator. These details were available in the previous version of this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-09-06 14:50] msbemba commented on #6239
@codylc Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6267

Thanks
Sri

[2021-09-06 18:39] msbemba commented on #6253
@anze-brvar-cookie Thank you for your feedback. I'll test it with reports and update it accordingly.

[2021-09-06 20:31] msbemba commented on #6251
@Stricnis Thank you for your feedback. I have made changes to the document via pR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6268

Thanks
Sri

[2021-09-06 20:32] msbemba commented on #6256
@pagejustin Thank you for your feedback. I'll test the reports and update the document if need be.

Thanks
Sri

[2021-09-06 20:42] msbemba commented on #6238
@maharumman Thank you for your feedback. I'm able to follow the steps (Settings > Endpoints > General > Advanced features > Microsoft Threat Experts - Targeted Attack Notifications to apply) in our lab.

![image](https://user-images.githubusercontent.com/45987684/132259407-e991c129-1dcc-44f8-86bb-8d18f5cf0931.png)

If this is not the case in your tenant, the issue could be related to your tenant a

[2021-09-06 20:51] MacWinMan commented on #3446
Issue still here with AMD CPU with this lab kit. I am using AMD Ryzen 7 4800H CPU with 64 GB memory and two M.2 disk. Since Oct 2000, I have been using trying to install SCCM deployment lab and it failed on every new 3 month-release. It is the same issue that I can't start DC1 or any virtual machines. It started but it immediately turned off.   The same Hyper-V manager can install other win2019, w

[2021-09-06 20:51] msbemba commented on #6236
@a-mafrancu Thank you for your feedback. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6269

Thanks
Sri

[2021-09-06 20:59] msbemba commented on #6235
@galdalali Thank you for your feedback. There are outbound spam filter policies that need to be configured.  This feature independence allows you to (for example) allow automatic forwarding in outbound spam filter policies, but use remote domains to control the external domains that users can forward messages to.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/external

[2021-09-06 21:11] msbemba commented on #6233
@deividfoggi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6271

Thanks
Sri

[2021-09-06 21:15] msbemba commented on #6231
@jrhi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6272

Thanks
Sri

[2021-09-06 21:23] msbemba commented on #6227
@desinnic Thank you for your feedback. There are two scripts and you need to choose the appropriate one, 1) Microsoft Defender for Endpoint client sensor logs only and 2)Microsoft Defender for Endpoint client sensor and Antivirus logs. This document has steps and screenshots for 1). The only change for AV is that you would use a different Script to upload and run, the remaining instructions are th

[2021-09-06 21:28] msbemba commented on #6213
@anthonynz Thank you for your feedback. I'm on the latest build but don't see this option anymore. Could you please provide me more information on the version of the office?  I shall test and update the document accordingly.

Thanks
Sri

[2021-09-06 21:33] msbemba commented on #6205
@Nosferatu-Dk Thank you for your feedback. Hunting data in Microsoft Defender ATP is only available for 30 days. Two new built-in methods of storing the data for an extended period are:

Azure Storage Account (https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview)
Azure Event Hub(https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-about)

I have added both the art

[2021-09-06 21:36] msbemba commented on #6138
@dagroll Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6274

Thanks
Sri

[2021-09-06 21:39] msbemba commented on #6185
@Jmartinez589 Thank you for your feedback. I was able to reproduce the issue, this looks like this is by design as it says potentially compromised as a phish was delivered to the mailbox.

Hope this helps!

Thanks
Sri

[2021-09-06 21:40] msbemba commented on #6190
@Wh00T Thank you for your response. I'm able to reproduce the issue. I'll work with the author and update accordingly.

Thanks
Sri

[2021-09-06 21:40] virtualcomputerguy commented on #3446
Sure wish they would fix it. Some people are not able to run out and build a new intel system just to run a lab. Not really glad that somebody else is having the same issue I was.. but at least I know I was not doing something wrong.

[2021-09-06 22:06] Jmartinez589 commented on #6185
Thanks for the update. I was siding with 'by design' and your clarification helps.
________________________________
From: Sriraman M S ***@***.***>
Sent: Monday, September 6, 2021 2:40 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Jmartinez589 ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Reporting (#6185)

@Jmartinez589<https://na01.safelinks.protec

[2021-09-06 23:02] virginia3930 opened #6275 "authenticator"
I mistakenly delete my email from authenticator, how can i retrieve my email?

[2021-09-06 23:03] virginia3930 commented on #6275
If any one can explain how i can retrieve the email.

[2021-09-06 23:59] farshadt2019 opened #6276 "The image for Phase 4 is wrong"

[2021-09-07 00:01] farshadt2019 opened #6277 "ZAP for Phishing seem to be the same as Auto ZAP"
What is the difference in Phase 4 between following items, they seem to be the same?

2. Zero-Hour Auto-purge (ZAP) for phishing retroactively detects and neutralizes malicious phishing messages that have already been delivered to Exchange Online mailboxes.

4. AP for phishing retroactively detects and neutralizes malicious spam messages that have already been delivered to Exchange Online mailboxe

[2021-09-07 00:13] #6276 closed

[2021-09-07 01:53] MS-Fraser opened #6278 "Incorrect - MDE for Linux Limitation"
The following capabilities are not currently supported on Linux endpoints:

Data loss prevention
Live response
SIEM

This section around SIEM limitation is incorrect. MDE Agents on Linux will generate alerts into the MDE Tenant which can be suck up via a SIEM using the API.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-09-07 04:51] yogkumgit commented on #6275
@virginia3930 Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that

[2021-09-07 04:51] #6275 closed

[2021-09-07 05:28] yogkumgit commented on #6185
@msbemba Thank you very much for the contribution and sharing this explanation. @Jmartinez589 If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-07 05:28] #6185 closed

[2021-09-07 09:05] gallafent opened #6279 "Which type of admin can edit payment methods?"
It would be useful if this page told me which type of admin access is required to add / edit / delete a payment method. The full list of admin roles is long! I need to give access to a particular member of the team to do this, but clearly don't want to make them a global admin … I'm _guessing_ it is the “Billing admin” role, but it would be good to know for sure (and not have to “try it out” and r

[2021-09-07 11:14] TheS0upDrag0n opened #6280 "DKIM setup - which elements are mandatory and how to validate"
I have been trying to enable DKIM for a new O365 domain. I am not a system admin - just a volunteer with some tech knowledge trying to manage email for a voluntary organization. I have completed the tasks in "Steps to Create, enable and disable DKIM from Microsoft 365 Defender portal" but it does not seem to have worked.

It is not clear to me whether that is all I need to do and how to validate t

[2021-09-07 13:12] pagejustin commented on #6256
@msbemba Thank you. I opened a ticket with Miscrosoft and they walked me through the following instructions: https://docs.microsoft.com/en-us/office365/troubleshoot/miscellaneous/reports-show-anonymous-user-name

[2021-09-07 13:23] loukkis opened #6281 "Event URL's have extra characters in Defender Endpoint Arcsight configuration documentation"
Events URL's seems to have extra characters in it: `"<i></i>".`
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97959c89-9504-ec6d-5a47-f90b5b12a992
* Version Independent ID: 08382ab8-34a7-c11c-23a4-2e37c7f2f36f
* Content: [Configure Micro Focus ArcSight to pull Microsoft Defender for Endpoint detections](https://docs.mi

[2021-09-07 15:22] stlccjmixen opened #6282 "404 error when adding yum repos to RHEL 8"
The add_apt_repo.yml playbook gets 404 errors when trying to navigate / add the yum repository to RHEL8. Also the following in the playbook for the RedHat block is not accurate:

- name: Add Microsoft DNF/YUM key
  rpm_key:
    state: present
    key: https://packages.microsoft.com/keys/microsoft.asc
  when: ansible_os_family == "RedHat"

- name: Add  Microsoft yum repository for MDATP
  yum_repos

[2021-09-07 18:07] Steltek opened #6283 "Link to "Scheduler for Microsoft 365 licensing" leads nowhere."
Link to "Scheduler for Microsoft 365 licensing" (https://www.microsoft.com/microsoft-365/meeting-scheduler-pricing) leads nowhere. (target page is 404)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e510e72-fe28-afda-6b12-a51fb0c0f36b
* Version Independent ID: 2a420c61-a348-b61c-aa80-a90d5ce0410d
* Content: [Scheduler

[2021-09-07 19:51] almacho opened #6285 "74 testconnectivity.microsoft.com - IP-Addresses"
For restricted customers, it would be required to know the Source-IP-Addresses in use by testconnectivity.microsoft.com to test against the local Exchange-Servers. So if customer is blocking every incoming traffic except O365 ip-ranges, the test-traffic would also be blocked.
In the past, following ips were used: 65.55.150.61, 65.55.150.158, 65.55.150.160, 207.46.14.52, 207.46.14.62, 207.46.14.63

[2021-09-08 07:57] yogkumgit commented on #6239
@msbemba Thank you very much for the contribution and updating the documentation with PR. @codylc Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 07:57] #6239 closed

[2021-09-08 08:04] yogkumgit commented on #6257
@Jwaegebaert Thank you very much for the contribution and updating the documentation with PR. @csritchie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 08:04] #6257 closed

[2021-09-08 08:06] yogkumgit commented on #6237
@Jwaegebaert Thank you very much for the contribution and updating the documentation with PR. @deividfoggi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 08:06] #6237 closed

[2021-09-08 08:11] yogkumgit commented on #6256
@pagejustin If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-08 08:11] #6256 closed

[2021-09-08 09:25] matopablo opened #6287 "Wrong licensing"
This article https://docs.microsoft.com/en-us/microsoft-365/admin/email/about-shared-mailboxes?view=o365-worldwide says that shared mailboxes without a license are limited to 50GB, and if needed, you can expand it to 100GB by assigning P2 or P1+Archiving, but it does not specify the folder that is expanded to 100GB.

Going to the 2nd article https://docs.microsoft.com/en-us/office365/servicedescri

[2021-09-08 09:29] matopablo commented on #6287
Another PR was done to perform this change https://github.com/MicrosoftDocs/microsoft-365-docs/issues/6236

[2021-09-08 09:29] #6287 closed

[2021-09-08 09:30] astaykov opened #6288 "Missing HRConnector.ps1 reference"
The documentation makes a couple of references to PowerShell script named HRConnector.ps1, but there is no reference to the actual script.
Funny enough, if one take the steps inside the Compliance portal to actually create a connector, on the very last step, there is a link to PowerShell script. However that sample is actually named `upload_termination_records.ps1` and not `HRConnector.ps1`. The a

[2021-09-08 10:08] zlDev opened #6289 "Incorrect screenshots"
The documentation references the new compliance portal, but the screenshots are from the old security and compliance portal.
UI no longer looks like it is referenced in the documentation.
Also, there are more locations available (on-prem & devices).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b0e7f42-60d0-1f95-57e9

[2021-09-08 10:10] zlDev opened #6290 "Missing content"
Missing content for steps 13, 14, 15, 16, 17

![image](https://user-images.githubusercontent.com/8972968/132490808-6055d5e6-186f-4650-b49f-0973e4ad9378.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b0e7f42-60d0-1f95-57e9-6a24a5d87c2b
* Version Independent ID: 0080b139-e35b-b302-b38c-07a2e2e8c1ef
* Content: [Crea

[2021-09-08 12:02] arhoads76 opened #6291 "Incomplete Description"
This page describes the first part of the process, but does not describe how to complete the process once the delisting request is initially denied and a request for escalation has been initiated.  There doesn’t seem to be any mention of how to follow-up on the escalation request.  As the owner of an IP which was abused by a previous owner, there doesn’t seem to be a path forward to clean this IP

[2021-09-08 16:26] jrhi opened #6293 "correct inaccuracies on passive mode and rtp"
Following statement says "For example, real-time protection works when Microsoft Defender Antivirus is in active or passive mode, but not when Microsoft Defender Antivirus is disabled or uninstalled." but then in the table below that text, it says that RTP is not available in passive mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-09-08 17:37] markjjo commented on #6288
@astaykov Thanks for feedback. You can download the script as per Step 8.b or download it after the HR script is created, as per the screenshot in Step 8. You can change name of script or leave it as it. HRConnector.ps1 is just an example, as per the topic.

I will add a link to download the script from here: https://github.com/microsoft/m365-hrconnector-sample-scripts/blob/master/upload_terminati

[2021-09-08 17:37] #6288 closed

[2021-09-08 17:56] JoeMSFT opened #6295 "MDE for Mac -- Missing License after initial deployment"
[Enter feedback here]

This error/event can also occur when the MDE Mac agent isn't up-to date.   For example; if you do not configure Jamf to use AutoUpdate for MDE, after several releases, you will encounter the same 'missing license' error.

The solution is to update your pkg/agent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-09-08 19:57] laurapa63 opened #6296 "Partners requesting a wider variety of admin roles when managing customer O365 tenants"
From one of our largest global MS partners, they really need the ability to have more admin roles available to them when they are managing multiple customer tenants. Is the ability for customers to assign different admin roles other than just global and helpdesk admin to the partner they are working with already available, or will this be a new feature for a future version?  If the latter, what ca

[2021-09-08 20:25] #5935 closed

[2021-09-08 21:49] msbemba commented on #6139
@karmicsynergy Thank you for your feedback. I'm currently testing this and will update the document if need be.

[2021-09-08 21:52] msbemba commented on #6259
@artekartian Thank you for your feddback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6297

Thanks
Sri

[2021-09-08 22:31] artekartian commented on #6259
Great to hear, thanks Sri.
seb

From: Sriraman M S ***@***.***>
Sent: środa, 8 września 2021 23:53
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Arte Kartian ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Missing People API (#6259)

@artekartian<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fartekartian&data=04%7C01%7C%7Cd1

[2021-09-09 05:13] yogkumgit commented on #6100
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jgriff500 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-09 05:13] #6100 closed

[2021-09-09 05:25] yogkumgit commented on #6238
@msbemba Thank you very much for the contribution and sharing this explanation. @maharumman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-09 05:25] #6238 closed

[2021-09-09 05:28] yogkumgit commented on #6235
@msbemba Thank you very much for the contribution and updating the documentation with PR. @galdalali Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-09 05:28] #6235 closed

[2021-09-09 05:32] yogkumgit commented on #6231
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jrhi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-09 05:32] #6231 closed

[2021-09-09 05:34] yogkumgit commented on #6227
@msbemba Thank you very much for the contribution and sharing this explanation. @desinnic Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-09 05:34] #6227 closed

[2021-09-09 05:37] yogkumgit commented on #6138
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dagroll Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-09 05:37] #6138 closed

[2021-09-09 05:39] yogkumgit commented on #6205
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Nosferatu-Dk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-09 05:39] #6205 closed

[2021-09-09 13:45] msbemba commented on #6281
@loukkis Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6303

Thanks
Sri

[2021-09-09 13:50] msbemba commented on #6283
@Steltek Thank you for your feedback. I'm able to access the link now.

![image](https://user-images.githubusercontent.com/45987684/132698139-de724940-9b07-4b3e-b17f-f906cc86df70.png)

What is the locale that you see on the URL, Like you see en-us in this URL "https://www.microsoft.com/en-us/microsoft-365/meeting-scheduler-pricing?rtc=1" ?

Thanks
Sri

[2021-09-09 14:05] Stricnis commented on #6251
You're welcome, thanks for the modifications!

[2021-09-09 14:26] Steltek commented on #6283
https://www.microsoft.com/microsoft-365/meeting-scheduler-pricing just worked once for me now.

I'm coming from https://docs.microsoft.com/en-GB/microsoft-365/scheduler/scheduler-overview?view=o365-worldwide#pricing-and-licensing and the "Learn more" link redirects me to https://www.microsoft.com/fr-ww/microsoft-365/meeting-scheduler-pricing?rtc=1 first and finally results in an error https://www.

[2021-09-09 19:39] samrobillard opened #6306 "Instructions for Ansible repo add are wrong"
[Enter feedback here]
The baseUrl in the repo configuration section should be https://packages.microsoft.com/[distro]/[version]/[channel]/ and name should be packages-microsoft-[channel] instead of packages-microsoft-prod-[channel]. At least, this is what I had to modify to deploy MDATP Prod via Ansible. There might be other parts to review.
---
#### Document Details

⚠ *Do not edit this section.

[2021-09-09 19:42] CitizenSnipsX opened #6307 "Cannot determine what enables the toggle 'replace all links in the email message with the phishing link.'"
We cannot seem to find any working examples across multiple tenants of this Tip mentioned: To save time, toggle on the option to replace all links in the email message with the phishing link.
Are they any other requirements for this toggle that are not mentioned?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40d7729b-

[2021-09-09 19:50] SKjerland commented on #6204
@yogkumgit - I've reached out to a PM on the product team for a response. I'll follow up here once I hear back from him. Thanks!

[2021-09-09 21:41] extremetray opened #6308 ""Open XML" reference too general given lack of support for some Open XML formats?"
Per a colleague (Mike Farran), while this doc section (https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-office-apps?view=o365-worldwide#office-file-types-supported) refs "Open XML" format, some of the formats (non-docx, xlsx, pptx) formats in the listing in this article (https://support.microsoft.com/en-us/office/open-xml-formats-and-file-name-extensions-5200d93c-3449-4

[2021-09-10 05:33] yogkumgit commented on #6236
@msbemba Thank you very much for the contribution and updating the documentation with PR. @a-mafrancu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-10 05:33] #6236 closed

[2021-09-10 07:50] galdalali commented on #6235
Thanks that's clarifying things

[2021-09-10 07:58] KONIKPK opened #6309 "Brute force and pasword spray"
we are redirected to security.microsoft.com when try run any of atack.
On this page i cant find this atacks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fbdcbd5-7bd2-6b55-b72c-cbedfdea776c
* Version Independent ID: 1e6198f8-6ef1-6227-c9e8-f31944a5d1db
* Content: [Attack Simulator in the Security & Compliance Center

[2021-09-10 09:20] Darrelo365 opened #6310 "Do you have a better example for understanding domain allow or deny?"
Hi, I don't have hands-on expereince of sensitivity labels so I'm not sure if what my org is asking me is possible.

We have some content that can only be shared with Org 123. When creating a sensitivity label for a container, it looks like you can apply it to a particular domain, presumably my org + Org 123 for example. Does it always add your org with access or do you have to add it? And Org 123

[2021-09-10 10:54] yogkumgit commented on #6240
@mjcaparas Please help us in resolving this issue. Thanks

[2021-09-10 10:56] yogkumgit commented on #6254
@cabailey Please help us in resolving this issue. Thanks

[2021-09-10 10:58] yogkumgit commented on #6265
@LauraWi Please help us in resolving this issue. Thanks

[2021-09-10 10:59] yogkumgit commented on #6266
@mjcaparas Please help us in resolving this issue. Thanks

[2021-09-10 11:00] yogkumgit commented on #6282
@Dansimp Please help us in resolving this issue. Thanks

[2021-09-10 11:01] yogkumgit commented on #6285
@LauraWi Please help us in resolving this issue. Thanks

[2021-09-10 11:03] yogkumgit commented on #6291
@MSFTTracyP Please help us in resolving this issue. Thanks

[2021-09-10 11:04] yogkumgit commented on #6295
@Dansimp Please help us in resolving this issue. Thanks

[2021-09-10 11:13] yogkumgit commented on #4710
@KCCross PR merge request pending. Thanks

[2021-09-10 11:15] yogkumgit commented on #5037
@KCCross PR merge request pending. Thanks

[2021-09-10 11:16] yogkumgit commented on #5217
@KCCross PR merge request pending. Thanks

[2021-09-10 11:16] yogkumgit commented on #5362
@KCCross PR merge request pending. Thanks

[2021-09-10 11:18] yogkumgit commented on #5486
@pebaum  PR merge request pending. Thanks

[2021-09-10 11:18] yogkumgit commented on #5576
@MSFTTracyP  PR merge request pending. Thanks

[2021-09-10 11:19] yogkumgit commented on #5647
@MSFTTracyP  PR merge request pending. Thanks

[2021-09-10 11:20] yogkumgit commented on #5645
@pebaum  PR merge request pending. Thanks

[2021-09-10 11:20] yogkumgit commented on #5849
@KCCross PR merge request pending. Thanks

[2021-09-10 11:21] yogkumgit commented on #5866
@MSFTTracyP  PR merge request pending. Thanks

[2021-09-10 11:22] yogkumgit commented on #6046
@kwekuako  PR merge request pending. Thanks

[2021-09-10 11:22] yogkumgit commented on #5921
@DulceMontemayor  PR merge request pending. Thanks

[2021-09-10 11:23] yogkumgit commented on #5364
@cichur  PR merge request pending. Thanks

[2021-09-10 11:23] yogkumgit commented on #6124
@jaimeo  PR merge request pending. Thanks

[2021-09-10 11:24] yogkumgit commented on #5717
@KCCross PR merge request pending. Thanks

[2021-09-10 11:24] yogkumgit commented on #6145
@kwekuako  PR merge request pending. Thanks

[2021-09-10 11:25] yogkumgit commented on #6161
@kwekuako  PR merge request pending. Thanks

[2021-09-10 11:25] yogkumgit commented on #6251
@pebaum  PR merge request pending. Thanks

[2021-09-10 11:27] yogkumgit commented on #6233
@pandrew1  PR merge request pending. Thanks

[2021-09-10 11:27] yogkumgit commented on #6259
@twernermsft  PR merge request pending. Thanks

[2021-09-10 13:41] anze-brvar-cookie commented on #6253
@msbemba I dig out the [troubleshooting page](https://docs.microsoft.com/en-us/office365/troubleshoot/miscellaneous/reports-show-anonymous-user-name) describing the same error. This is actually a feature, anonymising the user IDs and site URLs and can be turned off in Microsoft 365 admin center unselecting the `In all reports, display de-identified names for users, groups, and sites`.

It would be

[2021-09-10 15:00] msbemba commented on #6253
@anze-brvar-cookie Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6311

Thanks
Sri

[2021-09-10 15:18] jaimeo commented on #6124
@hathin can you confirm this is accurate?

[2021-09-10 16:13] mjcaparas commented on #6266
Looking at the history of this page - it hasn't gone through major updates apart from rebranding. Not sure what exact Azure info is being sought for.

[2021-09-10 16:13] #6266 closed

[2021-09-10 16:15] mjcaparas commented on #6240
Please reach out to support.

[2021-09-10 16:15] #6240 closed

[2021-09-10 16:30] exactmike opened #6312 "typo - missing word"
Under the header:

"Working with partially indexed items"

There is a missing word

"In cases when you need to examine partially items to validate that they don't contain relevant information,"

should read

"In cases when you need to examine partially indexed items to validate that they don't contain relevant information,"

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-09-10 16:36] LauraWi commented on #6265
Update: platform bug. This is currently sitting with the dev team for the docs platform.

[2021-09-10 16:42] chrisda commented on #6309
@KONIKPK, clarification please.

The topic in question is for the old v1 Attack Simulator, which is retired and can't be used anymore.

The newer Attack Simulation Training is available in the Microsoft 365 Defender portal (security.microsoft.com) at <https://security.microsoft.com/attacksimulator>. There are 4-6 topics about this (for example <https://docs.microsoft.com/microsoft-365/security/off

[2021-09-10 17:00] markjjo commented on #6312
@exactmike Thanks for catching this. I will fix it today.

[2021-09-10 17:00] #6312 closed

[2021-09-10 18:20] pvenkatkrishna opened #6313 "Option to customise the auto generated email when new account setup or password reset email trigged"
Hello,
I am not sure if this is already possible but it would be nice to have an option to customize the 'Account information for new or modified users' email draft, which is now Microsoft default template.

Kind Regards,
Krishna.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1021a231-6649-4d53-4b6a-ae333b144f1e
* Ver

[2021-09-10 19:11] copenhaus opened #6315 "embedding logo"
[Enter feedback here]
Hi...with the video shown, it pulls the logo from a public website.  When I send an email with this method to a user who opens the email in Outlook, the logo is not displayed.

How do I make the change so the logo is inclusive within the HTML code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a

[2021-09-10 19:17] cabailey commented on #6254
@SeanTGeoghegan  Can you confirm the answer is because you were using the SharePoint admin center, rather than an end user app?

[2021-09-10 20:29] Flansuel commented on #3836
After running the script, the error below appears:

Send-AdminConsentUri : Could not retrieve a token for invitation manager api call
No D:\Downloads\cross-tenant\SetupCrossTenantRelationshipForTargetTenant.ps1:278 caractere:9
+         Send-AdminConsentUri $TargetTenantDomain $ResourceTenantDomai ...
+         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo

[2021-09-11 01:07] cabailey commented on #6310
Hi @Darrelo365!  You asked this question from the page that covers restricting access by using encryption, which is for documents and emails.  But then you mention labels for containers, which maps to https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-teams-groups-sites

From what you've said, it does sound like you want to encrypt documents so all users in another organi

[2021-09-11 01:09] cabailey commented on #6254
We added the following clarification, does this cover it?

When you use admin centers that support sensitivity labels, you see all sensitivity labels for your tenant. In comparison, user apps and services that filter sensitivity labels according to publishing policies can result in you seeing a subset of those labels.

[2021-09-11 01:17] SeanTGeoghegan commented on #6254
Hi Carol, sorry for the late response, yes that covers our question - they
were seeing differing behavior between SPO and Teams admin centers.

Thank you

Sean G
***@***.***

On Fri, Sep 10, 2021, 9:10 PM Carol Bailey ***@***.***> wrote:

[2021-09-11 03:09] cabailey commented on #6254
Great, pleased this covers it - closing this issue, Thanks for confirming, Sean!

[2021-09-11 03:09] #6254 closed

[2021-09-11 07:53] Darrelo365 commented on #6310
Thanks Carol. Sounds like I've some reading to do 👍

On Sat, 11 Sep 2021, 02:07 Carol Bailey, ***@***.***> wrote:

[2021-09-12 13:27] yogkumgit commented on #6290
@msbemba Thank you very much for the contribution and updating the documentation with PR. @zlDev Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-12 13:27] #6290 closed

[2021-09-12 13:29] yogkumgit commented on #6253
@msbemba Thank you very much for the contribution and updating the documentation with PR. @anze-brvar-cookie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-12 13:31] #6253 closed

[2021-09-12 13:34] yogkumgit commented on #6281
@msbemba Thank you very much for the contribution and updating the documentation with PR. @loukkis Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-12 13:35] #6281 closed

[2021-09-12 13:41] yogkumgit commented on #6259
@msbemba Thank you very much for the contribution and updating the documentation with PR. @artekartian Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-12 13:41] #6259 closed

[2021-09-12 13:48] #6265 closed

[2021-09-12 13:54] #6310 closed

[2021-09-13 06:10] AnsKuo opened #6319 "ASR rules supported by GPO and PowerShell"
[Enter feedback here]
Hi Team,

I have a question for the table under [Supported configuration management systems](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules?view=o365-worldwide#supported-configuration-management-systems). GPO and PowerShell are actually can configure ASR rules by its GUID and not only one rule is supported. Why this ta

[2021-09-13 07:30] Paxxi opened #6320 "Outdated information"
This section says to use Update Compliance but on this page https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/troubleshoot-reporting?view=o365-worldwide it says that Update Compliance stopped supporting defender on march 31 2020.
`
Microsoft Operations Management Suite has an Update Compliance add-in that reports on key Microsoft Defender Antivirus issues, including protect

[2021-09-13 08:35] mmangiante opened #6321 "Better indent of row"
Please indent better the row AddRemoveProgramsWOW64.csv: it seems that it is a folder and the following rows seems to are files stored in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b85d3bb-8af3-87d5-27fb-65b81c1b9721
* Version Independent ID: 031c833c-7a05-c54b-fe83-62ca80efd3ad
* Content: [Run the client analyze

[2021-09-13 11:11] yogkumgit commented on #5750
@frantademo We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-09-13 11:11] #5750 closed

[2021-09-13 11:26] #5706 closed

[2021-09-13 11:45] netaneladar commented on #2393
@chrisda I am confused myself as well. The article says that "Safe Documents sends files to the Microsoft Defender for Endpoint cloud for analysis" which sounds like the Microsoft Defender for Endpoint agent is NOT needed. Nevertheless, why not just explicitly say if the agent is or isn't required? Further, someone opened the question, so why not just answer the question explicitly instead of just

[2021-09-13 14:08] D4m4 opened #6322 "Link not working"
Hi,

The link to "See **take response actions on a machine**  for more information about response actions functionality via Microsoft Defender for Endpoint." is not working:
![image](https://user-images.githubusercontent.com/86731035/133098616-a3b2f8eb-25e9-4d03-9d44-48e375583e1a.png)
![image](https://user-images.githubusercontent.com/86731035/133098653-34ab5308-f61c-424b-a867-86591568c4a1.png)

T

[2021-09-13 16:09] msbemba commented on #6293
@jrhi Thank you for your feedback. We have it tagged for the reason why it is No. In general, when Microsoft Defender Antivirus is in passive mode, real-time protection does not provide any blocking or enforcement, even though it is enabled and in passive mode.

Hope this helps!
Thanks
Sri

[2021-09-13 16:12] msbemba commented on #6296
@laurapa63 Thank you for your feedback. For Partners, there are only two roles available and I don't see anything changing per roadmap.

Admin Agent - Equivalent to Globa Admin
Helpdesk Agent - Equivalent to Helpdesk Admin.

https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/about-admin-roles?view=o365-worldwide#delegated-administration-for-microsoft-partners

Hope this helps!

Thanks

[2021-09-13 16:15] jrhi commented on #6293
Can we possibly clarify/expand on that in the docs?  It is terribly confusing for customers.

From: Sriraman M S ***@***.***>
Sent: Monday, September 13, 2021 12:10 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Joanie Rhine ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] correct inaccuracies on passive mode and rtp (#6293)

@jrhi<https://nam06.safelink

[2021-09-13 16:17] msbemba commented on #6280
@TheS0upDrag0n Thank you for your feedback. If you have enabled DKIM on the M365 Admin center, you can test it by sending an external email.  For example, Send it to your gmail.com or outlook.com account and check the headers to see if DKIM is Signed. If not, there could be an issue with the keys and you may have to contact Microsoft support from the need help option on the admin center.

Hope thi

[2021-09-13 16:18] jaimeo commented on #6124
@hathin can you confirm this is accurate?

[2021-09-13 16:19] msbemba commented on #6279
@gallafent Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6323

Thanks
Sri

[2021-09-13 16:23] msbemba commented on #6278
@MS-Fraser Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6324

Thanks
Sri

[2021-09-13 16:26] msbemba commented on #6277
@farshadt2019 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6325

Thanks
Sri

[2021-09-13 16:29] TheS0upDrag0n commented on #6280
Thanks. My point is that it is not very clear which topics in this page are mandatory. My issue has been resolved thanks to some support from MS - one key OK therefore passed by the GUI but other key hada  minor typo.

[2021-09-13 16:29] #6280 closed

[2021-09-13 16:33] pebaum commented on #5645
this rename feature is not generally available at this time. will update this article once it is.

[2021-09-13 16:33] #5645 closed

[2021-09-13 16:47] RoCkaZ opened #6327 "No "To" field when scheduling meeting in newest Outlook App (outdated help)"
Outdated - no "To" field when scheduling meeting in newest Outlook App.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c6a9c81-eca7-9f41-8872-93da50e2ebe0
* Version Independent ID: a2a6044c-8c52-e4d2-e0ff-939a07af21a7
* Content: [Room and equipment mailboxes - Microsoft 365 admin](https://docs.microsoft.com/en-us/micr

[2021-09-13 16:52] msbemba commented on #6230
@jrhi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6328

Thanks
Sri

[2021-09-13 16:53] sveinungre commented on #6124
You can refer to Microsoft support case 27126560 for confirmation.

[2021-09-13 16:55] jaimeo commented on #6124
W/o a direct link, I have not way to access that support case. And I still want confirmation from the product SME.

[2021-09-13 16:58] msbemba commented on #6180
@toinevl Thank you for your feedback. I was able to test this. It shows Microsoft defender for endpoint, which you need to locate and select Don’t Optimize. We have that updated in our document.

@yogkumgit There are no changes required in this document.

Thanks
Sri

[2021-09-13 16:59] msbemba commented on #6139
@karmicsynergy Thank you for your feedback. Sorry about the delay, I was able to test the scripts and migrate using my lab tenant. If this continues to be an issue, please contact Microsoft support via the need help option in the M365 admin center.

Thanks
Sri

[2021-09-13 17:17] chrisda commented on #2393
@netaneladar, @nlepagnez fair enough. I updated the topic to be much more specific.

[2021-09-13 17:20] msbemba commented on #6140
@designandsolutions Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6330

Thanks
Sri

[2021-09-13 17:26] laurapa63 commented on #6296
Hi Sri!  Thank you for the response and confirmation, next question:  how can this partner (or myself on behalf of the partner), submit a feature request for more partner admin role types?

Thank you,

-Laura Payne

From: Sriraman M S ***@***.***>
Sent: Monday, September 13, 2021 9:12 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Laura Payne (SHE/HER) ***@***.***>; Mention ***@***.***>

[2021-09-13 17:47] tiburd commented on #5092
@silbermano - it looks like [the article](https://docs.microsoft.com/microsoft-365/compliance/endpoint-dlp-getting-started?view=o365-worldwide) has been updated to include "AAD Registered" for question 4:

I am closing this issue. If you find that your concern still exists, please open a new issue.

Thank you!

[2021-09-13 17:47] #5092 closed

[2021-09-13 18:22] #6327 closed

[2021-09-13 20:45] tiburd commented on #5671
@efrene - thank you for helping resolve this issue.

[2021-09-13 20:50] efrene commented on #5671
@anthonynz Thanks so much for your comments and detailed information. I am taking ownership of this content area from Sirkku, and will follow up on updating the article as soon as I am able to. Sorry for the inconvenience.

[2021-09-13 21:42] Lady-MCSE opened #6333 "Possible spelling error"
In the green "tip" area, there is reference to backscatter.org and later an actual link to a site with backscatterER.org in its address. Therefore I think the first reference is a typo missing the second ER at the end.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 955d52db-5da8-5845-28ea-f78b2a85b688
* Version Indepen

[2021-09-13 21:52] efrene commented on #4033
Closing issue.

[2021-09-13 21:52] #4033 closed

[2021-09-13 21:54] efrene commented on #5534
Thanks. The old article has been swapped out for the newer one in the Switch from Google Workspace to Microsoft 365 set.  We hope to have an accompanying video in the near future. Thanks,

[2021-09-13 21:54] #5534 closed

[2021-09-13 21:56] mjcaparas commented on #6322
Thank you for your feedback. Fixed link.

[2021-09-13 21:56] #6322 closed

[2021-09-13 22:05] msbemba commented on #6296
@laurapa63 You can provide feedback via the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365) so that your feedback gets routed to the appropriate team.

Hope this helps!
Thanks
Sri

[2021-09-13 22:09] msbemba commented on #6293
Sorry about that. I think I was not clear. We have tagged it with point no:5) so that people can understand why it is a NO while the earlier statement says it works when it is in passive mode.

![image](https://user-images.githubusercontent.com/45987684/133163011-bd534f47-469c-40fe-b37e-12c2330ca56c.png)

Thanks
Sri

[2021-09-13 22:47] mjcaparas commented on #6321
Thank you for your feedback. Page updated.

[2021-09-13 22:47] #6321 closed

[2021-09-14 01:08] oscargsune opened #6336 "Data Process and Storage"
The Data process and storage section has a repeated sentence, one with hyperlinks and one without. Suggest to delete the sentence without the hyperlinks

https://docs.microsoft.com/en-us/microsoft-365/managed-desktop/service-description/privacy-personal-data?view=o365-worldwide#microsoft-managed-desktop-data-process-and-storage

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-09-14 02:10] AndrewBlumhardt opened #6337 "App Guard and System Guard links are broken."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f92f5322-fcf5-f9af-6ba8-692225b1b042
* Version Independent ID: ee810b60-b5b8-9355-b5bc-b26e983f9fd7
* Content: [Hardware-based isolation (Windows 10)](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/overview-hardware-based-is

[2021-09-14 02:37] JeanSaint-Elme opened #6338 "ctofp.network"
I felt that something was wrong but I was afraid to say it since I am new to the system. I still do not know what went wrong because I placed and I am still placing 100% trust on Google. I became a little sceptic when I could not get access to my email saintelmejean3@gmail.com. I would never forget the password of this email address. I feel more comfortable with Microsoft  mostly with with the one

[2021-09-14 05:13] yogkumgit commented on #6338
@JeanSaint-Elme Do you have any feedback to improve the documentation? Which document you are referring to. Thanks

[2021-09-14 05:42] yogkumgit commented on #6278
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MS-Fraser Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-14 05:42] #6278 closed

[2021-09-14 05:44] yogkumgit commented on #6277
@MSFTTracyP PR merge request is pending. Thanks

[2021-09-14 05:46] yogkumgit commented on #5486
@msbemba Thank you very much for the contribution and updating the documentation with PR. @pebaum Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-14 05:46] #5486 closed

[2021-09-14 05:51] yogkumgit commented on #6161
@msbemba Thank you very much for the contribution and updating the documentation with PR. @richrundmsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-14 05:52] #6161 closed

[2021-09-14 05:54] yogkumgit commented on #6251
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Stricnis Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-14 05:55] #6251 closed

[2021-09-14 05:57] yogkumgit commented on #6145
@msbemba Thank you very much for the contribution and updating the documentation with PR. @teraco Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-14 05:57] #6145 closed

[2021-09-14 06:00] yogkumgit commented on #6046
@msbemba Thank you very much for the contribution and updating the documentation with PR. @enfo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-14 06:00] #6046 closed

[2021-09-14 06:04] yogkumgit commented on #6230
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jrhi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-14 06:04] #6230 closed

[2021-09-14 08:36] msbemba commented on #6123
@yogkumgit I can confirm that Tracy has added the information in the document - https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-the-delist-portal-to-remove-yourself-from-the-office-365-blocked-senders-lis?view=o365-worldwide#more-information

Thanks
Sri

[2021-09-14 10:35] new-kirte commented on #6266
The exact information on what Defender data is stored on Azure, can the Azure integration be disabled, what would be the implication?

[2021-09-14 12:00] SDkempf94 opened #6340 "Incorrect IBAN Info?"
[Hi please can you check the published IBAN and confirm if this is correct?

IBAN: GB31CITI18500812510049  is stated here but we believe that it is meant to be GB95CITI18500812510049 - please can you verify this as soon as possible?
 ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afea22ca-c974-f0ef-07f1-4a44a390c058

[2021-09-14 12:39] glr0221 commented on #6135
Sorry for the late response @yogkumgit @chrisda.

I had been a bit busy for some time. Our team will surely look into thiis.
Thank you so very much!!!

[2021-09-14 14:17] Dburke225 opened #6341 "yh"
Can you link to the actual service you're talking about. Everytime I find a doc of something useful but have no clue how to actually get or use the tool....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 334e743d-c929-c74a-c996-2b8e0b68a46b
* Version Independent ID: 91c4563c-72c1-4655-72f7-d467b6098540
* Content: [Get

[2021-09-14 15:25] netaneladar commented on #2393
Thanks again Chris. We have all the requirements in our large tenants, but don't have Defender. It is important for us to understand the requirements before rolling out a global setting.

[2021-09-14 15:52] TomoharuMisawa opened #6343 "感度ラベルでは通じない"
sensibility labelは感度ラベルではなく、他と平仄を合わせて秘密度ラベルと翻訳してほしい。

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb9b8b7d-34a8-efa3-b6e5-6ebaf62ae6a9
* Version Independent ID: 0973ec85-80b4-a110-0e30-0d0435e4d682
* Content: [Labeling actions reported in Activity explorer - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/

[2021-09-14 16:02] chrisda commented on #6333
@Lady-MCSE, fixed. In the future, you too can make fixes like this directly without opening an Issue first. Instructions are [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md).

Thanks for the feedback.

Closing

[2021-09-14 16:02] #6333 closed

[2021-09-14 17:56] cabailey commented on #6308
Closing - progressing through internal thread

[2021-09-14 17:56] #6308 closed

[2021-09-14 18:24] #6140 closed

[2021-09-14 18:45] annemaarie opened #6344 "QRadar Link does not work anymore."
Integration SIEM to QRadar link does not work anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36bbd71-ef7b-e08f-d565-d2b1e8b9deed
* Version Independent ID: 60fad392-2d82-84ca-6b0b-671122738b38
* Content: [Enable SIEM integration in Microsoft Defender for Endpoint](https://docs.microsoft.com/en-us/microsoft-365

[2021-09-14 19:54] Dburke225 opened #6345 "Why?!?!"
Why was this a thing and not made a bigger deal about annoucing? I thought my domain was broken because my reports were showing this shit.

If they're accounts we own and pay for, privacy laws have no effect, if it did we shouldn't even be allowed to run reports. Why get data for users you dont know...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-09-14 20:25] denisebmsft commented on #6343
The translated feedback says: is not a sensitivity label, but should be translated with a secret label.

[2021-09-14 23:02] msbemba commented on #6336
@oscargsune Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6346

Thanks
Sri

[2021-09-14 23:05] msbemba commented on #6337
@AndrewBlumhardt Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6347

Thanks
Sri

[2021-09-15 00:42] hathin commented on #6124
Hi all,

Confirming that this is accurate and we need to add this language to the docs.

Thanks,
Harman

From: Jaime Ondrusek ***@***.***>
Sent: Monday, September 13, 2021 9:19 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Harman Thind ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Convert all targeted devices to Autopilot must be set to NO for autopi

[2021-09-15 07:50] lightupdifire opened #6348 "Deleting Office 365 group | Guest user experience"
Hello,

Would be great to add documentation about deleting the Office 365 group and especially what will happen with Guest users that are members of this group and maybe Members of another group.
So as an example:

1. Guest user Andrew
2. User is a member of Group A
3. User is a member of Group B
4. We delete Group A
5. What will happen with the user account?

Asking because if remove a Guest user

[2021-09-15 11:28] yogkumgit commented on #6279
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gallafent Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-15 11:28] #6279 closed

[2021-09-15 11:37] #6123 closed

[2021-09-15 11:41] oscargsune commented on #6336
Awesome! Glad I could help :)

Oscar Gonzalez
Technical Specialist- Security and Compliance
0430 845 111
________________________________
From: Sriraman M S ***@***.***>
Sent: Wednesday, September 15, 2021 9:03:03 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: oscargsune ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Data Process and Storage (#6336)

@

[2021-09-15 11:52] yogkumgit commented on #6124
@msbemba

[2021-09-15 12:44] markkristian88 opened #6349 "my domain name forgotten"
i need help .  i cant access my outlook account and account i use to work and school .  i sisnt know who made a 25digits recovery code from my account . please help me

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 758b21fa-24c1-8c68-259f-daac0caf35ae
* Version Independent ID: bce80397-ee03-cacf-55cb-09b169e96e70
* Con

[2021-09-15 15:23] jaimeo commented on #6124
I don't have a button to merge this directly, but please go ahead and merge.

[2021-09-15 15:51] pmcslabs opened #6350 "Elaborate on Allowing Microsoft URLs"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/troubleshoot-onboarding-error-messages?view=o365-worldwide#data-currently-isnt-available-on-some-sections-of-the-portal

The line simply reads:
You'll need to allow the security.windows.com and all subdomains under it. For example, *.security.windows.com.

Can you please elaborate on this? Allow through what? Thank you for y

[2021-09-15 16:03] lkchild opened #6351 "Microsoft Viva"
The table is missing the data locations for Microsoft Viva

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c6fa7b-7e9e-21a5-40da-adbd35040ec1
* Version Independent ID: 530df3b2-2048-8351-2f09-59e604aedf5b
* Content: [Microsoft 365 data locations - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-36

[2021-09-15 17:34] W0GER opened #6353 "Setting up OME by following documentation is not possible due to deprecated Microsoft functionality"
In the section "Create mail flow rules to encrypt email messages with the new OME capabilities", it states that templates must be setup in Azure Information Protection; however, that feature of Microsoft Azure was deprecated in March 31, 2021.  This page was supposedly updated on 9/10/2021.

1. Links point to "Configuring and managing templates for Azure Information Protection"
2. Navingating to t

[2021-09-15 17:39] zebulonsmith opened #6354 "This doc seems to be missing a section for "Folder Protection""
When configuring ASR from Intune, one of the last items available is "Enable Folder Protection." What enabling this does is not made clear anywhere, from what I can see.

The 'Learn More' link from the Intune configuration page takes us to the Policy CSP page for the same, but that only tells us how to turn it on, not what it actually does.

---
#### Document Details

⚠ *Do not edit this section.

[2021-09-15 19:34] RobvanB opened #6355 "Links / UI layout that is referenced is outdated"
The UI for the Exchange admin center has changed and the page no longer reflects the proper steps

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db2dbb29-38c4-afe4-bc0d-3bbc195f6288
* Version Independent ID: bcfee113-ecfe-e358-974e-6f9cd76b8d35
* Content: [Create a shared mailbox - Microsoft 365 admin](https://docs.mic

[2021-09-15 21:01] seliyyah opened #6356 "Uninstall Defender for Endpoint MacOS"
Can you provide uninstall documentation for MacOS?

[2021-09-16 07:26] migoboy2001 opened #6358 "Label with Encrypt Only does not display in Mac outlook client"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0836a95-d3b7-3c43-d56b-5fb4ceeb4765
* Version Independent ID: 8a0d366b-5ff7-22de-7aba-6adbe0ea94ea
* Content: [Manage sensitivity labels in Office apps - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-

[2021-09-16 08:24] Dusted1969 opened #6359 "Licensing Update Required?"
[Enter feedback here]

This section doesn't note that an F1 or F3 is now licensed for using bookings as per major change announcement MC266481.

https://docs.microsoft.com/en-us/microsoft-365/bookings/bookings-faq?view=o365-worldwide#how-do-end-users-access-the-bookings-app-

Correct licensing requirements appear here later in the FAQ.  This could be confusing for customers:

https://docs.microsof

[2021-09-16 09:28] yogkumgit commented on #6349
@markkristian88  Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with th

[2021-09-16 09:29] #6349 closed

[2021-09-16 09:32] yogkumgit commented on #6356
@seliyyah Please indicate which document you are referring and what improvements you suggest. Here, we are limited to documentation fixes and improvements.

[2021-09-16 09:38] yogkumgit commented on #6336
@msbemba Thank you very much for the contribution and updating the documentation with PR. @oscargsune Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-16 09:38] #6336 closed

[2021-09-16 09:42] yogkumgit commented on #6124
@tiburd Kindly help.

[2021-09-16 09:55] simonburbery opened #6360 "Conditional Access"
Hi, it would be good to list here what happens with Conditional Access with regards to geo-blocking if both 4 and 6 are enabled on the client.  If we create a an allow rule for a country based location without allowing unknown locations (which includes IPv6 addresses), the preferred IPv6 connection would fail authentication.  Does the client then retry the connection using IPv4 automatically so th

[2021-09-16 13:49] andrePKI opened #6362 "MCAS/Conditional access may break..."
Why is  `*.cas.ms` and `*.mcas.ms` and` *.mcas-gov.us` not included?
As per [this doc](https://docs.microsoft.com/en-us/cloud-app-security/troubleshooting-proxy-url) it may be required.
Our network guys say it is not part of this list, so will not include it, and things have broke.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-09-16 14:17] andrePKI opened #6363 "CA/MCAS missing?"
Shouldn't `*.cas.ms`, `*.mcas.ms` and `*.mcas-gov.us` be added to the list?
As per[ this link](https://docs.microsoft.com/en-us/cloud-app-security/troubleshooting-proxy-url)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b

[2021-09-16 14:29] andrePKI opened #6364 "URL (web) service?"
[Product question but UserVoice is unavailable]
The article lists a spreadsheet with the URLs that must be allowed through the proxy. Once configured this requires periodic checks for changes, which is inconvenient.
Perhaps it is possible to create a webservice like [described for Office365](http://aka.ms/ipurlws) ? Please?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-09-16 14:38] caerphilly opened #6365 "Intune section is out of date"
There have been updates to the portals since this was written and they no longer reflect accurately.

[2021-09-16 15:11] #6365 closed

[2021-09-16 19:27] tiburd commented on #6124
Merged PR. Closing issue. Thanks!

[2021-09-16 19:27] #6124 closed

[2021-09-16 22:38] seliyyah commented on #6356
I was just referring to any documentation around uninstalling Defender for Endpoint on MacOS.  I haven’t been able to find official documentation, so technically it’s not a documentation improvement request.  Apologies for any confusion.  Thank you.

[2021-09-17 03:25] bt101 opened #6368 "Grammar/Spelling: Too go directly to the Restricted users page, use https://security.microsoft.com/restrictedusers."
I believe the sentence should read "To go directly to the Restricted users page, use https://security.microsoft.com/restrictedusers."  It wouldn't hurt to have someone proof read the pages for grammar, spelling and accuracy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c17e50d-aa8f-bd30-66af-ef4d63f02402
* Version I

[2021-09-17 03:38] hishikitetsuya opened #6369 "Is ISRG Root X1 missing on the list?"
This page includes DST Root CA X3, which will be expired on this month.

I guess the root certificate is listed because Let's Encrypt depends on it.

However, Let's Encrypt changed its root CA from _DST Root CA X3_ to _ISRG Root X1_ (ref: [here](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/)).

If you still use certificates issued by Let's Encrypt in any M365 services, I t

[2021-09-17 07:49] Nosferatu-Dk commented on #6205
Thanks Sri, it's appreciated.

Den man. 6. sep. 2021 kl. 23.33 skrev Sriraman M S ***@***.***

[2021-09-17 12:33] Oppedijk opened #6370 "Offboarding non windows is wrong"
Offboarding is about removing an enterprise application, it should be about how to offboard a linux or mac device

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c3fac0f-491e-111a-fb08-dc5bdfe83f64
* Version Independent ID: 81d397de-3964-e515-f41b-4aa772f3e5b7
* Content: [Onboard non-Windows devices to the Microsoft De

[2021-09-17 13:12] luamcortez opened #6371 "Citing Security and Compliance page as one"
Security and Compliance are now two different pages. It'd be nice to indicate which one this feature refers to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e391a3b9-fc52-bedf-353a-3564752240dd
* Version Independent ID: 89376ace-9c00-7c45-3771-a9a913f81bed
* Content: [Search for and delete email messages in your orga

[2021-09-17 13:50] jrhi opened #6372 "need to add onboardingStatus as odata filter"
onboarding status is supported as an odata filter for the API and should be reflected in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07828149-8c9b-2b6f-b5f6-9558cfcfa650
* Version Independent ID: 2101b098-7da1-86ca-6a31-fddfa7a5cb62
* Content: [List machines API](https://docs.microsoft.com/en-us/microsoft-

[2021-09-17 14:21] deco1974 commented on #4077
sender.office.com is still down.. the service is just not working.

[2021-09-17 14:30] deco1974 opened #6373 "Office 365 Anti-Spam IP Delist Portal"
The service sender.office.com is down.
It keeps saying "Step 1: Our messaging service has experienced a temporary issue, please resubmit your information below."

[2021-09-17 16:23] chrisda commented on #6368
@bt101, fixed. In the future, you too can make fixes like this yourself without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2021-09-17 16:23] #6368 closed

[2021-09-17 20:23] robinpoulose1 opened #6374 "Work with your account team to add the Multi-Geo Capabilities and Multi-Geo feature is available to EA customers - what does this mean ?"
Who are Account Team and what does EA customer mean here ?
I am global Admin how  to connect with Account team

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32b41c7e-29cd-eb5b-36b2-738b3babd08f
* Version Independent ID: 22eda3f7-1c04-b3b0-95fd-3474b3f991b2
* Content: [Microsoft 365 Multi-Geo - Microsoft 365 Enterprise

[2021-09-19 04:04] riwmat opened #6375 "Aplicação Tarefas Repetivas"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1feb89e6-c5e0-693e-425e-8fd8b0198001
* Version Independent ID: 7b683879-67a9-299a-73e9-6e3654846fdf
* Content: [Set up file storage and sharing - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/setup/set-up-file-storage-and-s

[2021-09-19 14:41] yogkumgit commented on #6356
@seliyyah Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valu

[2021-09-19 14:41] #6356 closed

[2021-09-19 23:22] cabailey commented on #6358
Hi @migoboy2001  Sorry to hear this label configuration isn't working for you in Outlook for Mac.  If per the information on this page you're running the minimum supported version (16.48+) and mode known as "the new Outlook for Mac", and you've waited at least 24 hours for the label to display, please open a support ticket for investigation.  It would be helpful to confirm that the same label conf

[2021-09-20 04:35] yogkumgit commented on #6283
@msbemba Thank you very much for the contribution and sharing this explanation. @Steltek Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-20 04:35] #6283 closed

[2021-09-20 04:39] yogkumgit commented on #6293
@msbemba Thank you very much for the contribution and sharing this explanation. @jrhi Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-20 04:39] #6293 closed

[2021-09-20 04:43] yogkumgit commented on #6296
@msbemba Thank you very much for the contribution and sharing this explanation. @laurapa63 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-20 04:43] #6296 closed

[2021-09-20 04:46] yogkumgit commented on #6139
@msbemba Thank you very much for the contribution and sharing this explanation. @karmicsynergy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-20 04:46] #6139 closed

[2021-09-20 04:51] yogkumgit commented on #6147
@LauraWi Please help us in resolving this issue. Thanks

[2021-09-20 04:53] yogkumgit commented on #6180
@msbemba Thank you very much for the contribution and sharing this explanation. @toinevl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-20 04:53] #6180 closed

[2021-09-20 04:56] yogkumgit commented on #6213
@msbemba Thank you very much for the contribution and digging deep into it.  @anthonynz We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this document

[2021-09-20 05:40] unboundadam opened #6377 "Couldn't make it work without offline access"
We followed the instructions and deployed the sample service.
It all works as long as the label "Offline access" is set to "Always" - in this state, the "Decrypt" method is not called at all.
When changing it to "Never" it stops working - on save we get a Login dialog and eventually a "You don't have permissions to view this document" message box. This happens as Office tries to use the Decrypt me

[2021-09-20 07:09] anarii opened #6378 "App governance MCAS policies listing issue"
In the **Step 3: Add integration with MCAS** section there seems to be additional review actions after enabling MCAS integration wrongly listed as newly created policies.

These are the policies that will be created after the MCAS app governance integration has been enabled:

Microsoft 365 OAuth app Reputation
Microsoft 365 OAuth Phishing Detection
Microsoft 365 OAuth App Governance

These are not

[2021-09-20 08:22] msbemba commented on #6354
@zebulonsmith Thank you for your feedback.
 You can find information about Enable folder protection from SR Profile settings page -https://docs.microsoft.com/en-us/mem/intune/protect/endpoint-security-asr-profile-settings

CSP: EnableControlledFolderAccess

Not configured (default) - This setting returns to its default, which is no read or writes are blocked.
Enable - For untrusted apps, Defender

[2021-09-20 08:26] msbemba commented on #6355
@RobvanB Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6379

[2021-09-20 08:30] msbemba commented on #6359
@Dusted1969 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6380

[2021-09-20 08:37] msbemba commented on #6351
@lkchild Thank you for your feedback. I'm working with the author and will update this shortly.

Thanks
Sri

[2021-09-20 08:49] msbemba commented on #6315
@copenhaus Thank you for your feedback. If you would like to use a logo on the signature, you need to use a publicly available image. I was able to test it and the image is available on Outlook, outlook web app, or Mobile app. However,  if you continue to have this problem I'd recommend you to contact support who can help sort this out.

Hope this helps!

Thanks
Sri

[2021-09-20 08:53] msbemba commented on #6313
@pvenkatkrishna Thank you for your feedback. I have verified that there are no templates or editable options available for these automatically generated emails. You can provide feedback via the Microsoft 365 Q&A portal so that your feedback gets routed to the appropriate team.

Hope this helps!
Thanks
Sri

[2021-09-20 08:58] msbemba commented on #6306
@Dansimp Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6381

Thanks
Sri

[2021-09-20 09:00] msbemba commented on #6289
@zlDev Thank you for your feedback. I'm working on updating the document with latest UI.

[2021-09-20 10:53] Petri-X opened #6382 "How the Power BI data location matches to Office 365?"
Hi,
When looking for the services list, I could not found Power BI from here. Is that expected, or how it should be? At least when following this: [Find the default region for your organization](https://docs.microsoft.com/en-us/power-bi/admin/service-admin-where-is-my-tenant-located) I could see we have different location for Power BI compared of our company info on O365 admin center.

---
#### Do

[2021-09-20 13:21] copenhaus commented on #6315
Sri, thank you for your suggestion...sorry, don't to be mean, but why do you think Microsoft has this "feature" where the images via links are not downloaded automatically (Default settings) and why is the setting to undo it is buried under "Trust Center setting"?

In order for your suggestion to work, that means you have turned off "Don't download pictures automatically" in Trust Center and it po

[2021-09-20 22:17] anthonynz commented on #6213
Hi guys, sorry I completely missed the email notification for this one.

I'm running the lastest patched release of Outlook.
Microsoft® Outlook® for Microsoft 365 MSO (16.0.14326.20384) 64-bit

The report as junk option has existed for a very long time, it just seems like the "report message" add-in is unnecessary, or does it provide additional functionality over and beyond the built-in functional

[2021-09-20 22:48] mealiffe opened #6385 "Extraneous item in list of supported clients"
In the list of supported email clients under Organization-level scenarios, the e-mail client "Open Outlook on the web" seems to be an error. "Outlook on the web" is listed earlier, and there isn't such a thing as "Open Outlook on the web".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c476abb1-28db-ffe7-bd2f-3a9fa2505

[2021-09-21 06:54] pinaki-intellify opened #6388 "This document needs to mention which kind of admin access is needed to create the Alias"
This document needs to mention which kind of admin access is needed to create the Alias. User Admin access is not sufficient and Global Admin access is needed to create an Alias. This page just links to the admin page which has no mention of an Alias. So user cannot the information they need on this page. I had to fetch for this information from a reddit link that you need global admin access to c

[2021-09-21 11:09] KONIKPK commented on #6309
OK where can i find Brute force password and Password spray attack ?

[2021-09-21 11:39] Nortstaright opened #6389 "Syntax of testing is includes MS domain and rogue apostropies"
[Enter feedback here]

testing steps need any mention of <cortana>@microsoft.com removed and the article has rogue apostrophies in one of the commands that breaks the syntax
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d33f8e34-9baa-3efd-b1cc-03f3e3ab44f0
* Version Independent ID: 201878c7-a0d7-a744-c60c-d65f714d2a9d

[2021-09-21 12:41] yogkumgit commented on #6358
@migoboy2001  Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentatio

[2021-09-21 12:42] #6358 closed

[2021-09-21 12:50] yogkumgit commented on #6355
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RobvanB Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-21 12:56] #6359 closed

[2021-09-21 13:08] yogkumgit commented on #6313
@pvenkatkrishna  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as advised. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-09-21 13:12] yogkumgit commented on #6306
@msbemba Thank you very much for the contribution and updating the documentation with PR. @samrobillard Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-21 13:13] #6306 closed

[2021-09-21 13:18] yogkumgit commented on #5364
@msbemba Thank you very much for the contribution and updating the documentation with PR. @born-slippy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-21 13:29] yogkumgit commented on #6309
@chrisda

[2021-09-21 14:31] exactmike opened #6390 "Incorrect English in the Core eDiscovery bullet under eDiscovery solutions heading"
The phrase "Core eDiscovery builds on the basic search and export functionality of Content search enabling you to create eDiscovery cases and eDiscovery managers who can only access the case their members of. " should read something like "Core eDiscovery builds on the basic search and export functionality of Content search enabling you to create eDiscovery cases and eDiscovery managers who can onl

[2021-09-21 16:46] chrisda commented on #6309
@KONIKPK, Attack simulation training is different than the original Attack Simulator. The topic in question describes the available attack techniques:

- **Credential harvest**
- **Malware attachment**
- **Link in attachment**
- **Link to malware**
- **Drive-by URL**

If you think something is missing, your best course of action is to open a support case. All we do here is update documentation.

[2021-09-21 17:14] markjjo commented on #6371
@luamcortez Thanks for feedback. Not sure I understand what you are referencing. This topic mostly references Security & Compliance PowerShell, which is still the correct name, as it contains cmdlets related to both security and compliance features. You are right that we now have separate security and compliance admin portals, but I don't see reference to those. If you use an admin portal to perfo

[2021-09-21 20:31] tomresing commented on #4085
@vigneshvdm you can [request support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide) the standard way. There's full support for SharePoint Syntex in that model.

[2021-09-21 21:30] SKjerland commented on #6204
@BLTTEST - I apologize for the delayed response. We just now heard back from the product team. Here is their response:

Question >> IRM is supported only for Microsoft 365 Apps for enterprise. You use IRM rather than AIP here. I'm not sure if it's because you use IRM to specifically refer to the encryption part of AIP. If this is true, are you meaning the classification-only labels can be used on

[2021-09-21 21:32] SKjerland commented on #6204
@BLTTEST - I'm going to go ahead and close your issue. If you need further clarification, please post a new comment. Thanks!

[2021-09-21 21:54] bcihak opened #6393 "Forwarding Report is no longer working and is missing from dashboard"
The Forwarding Report is missing from Reports->Dashboards.  Also the direct URL (https://protection.office.com/reportv2?id=MailFlowForwarding) no longer works.  Has this been relocated in M365, if so where?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 041a2c32-e0b9-77e9-766c-3b4f5b07ff3a
* Version Independent ID: 597

[2021-09-21 23:39] chrisda commented on #6393
@bcihak, the topic in question says this:

## Forwarding report

The main reporting page in the EAC is <https://admin.exchange.microsoft.com/#/reports/mailflowreportsmain>.

The direct Auto forwarded messages report is <https://admin.exchange.microsoft.com/#/reports/autoforwardedmessages>

[2021-09-22 07:42] HansonITTechies opened #6394 "issue with restricting users from creating Teams"
I have encountered an issue with the script, when running there is a syntax error on line 22. else { is no longer recognized as the name of a cmdlet, function, script file or operable program.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac69-134d-019

[2021-09-22 07:44] richard-artes opened #6395 "Mention non-ascii characters also not supported. EG Aarsø will not sync to AzureAD"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b05a56d-f714-2d99-747e-b3150f581f38
* Version Independent ID: e8924d3f-20e7-6ce2-2279-cec010e7d3f3
* Content: [Prepare for directory synchronization to Microsoft 365 - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterpris

[2021-09-22 09:36] BorisKornienko opened #6397 "the page you requested cannot be found"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules?view=o365-worldwide#block-abuse-of-exploited-vulnerable-signed-drivers
In Note block, the third link "Submit a driver for analysis" appear to nothing

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c664e229-9294-6515

[2021-09-22 10:58] programify opened #6398 "Too many admin roles."
16 Admin Roles ! Sixteen! Well done Micro$oft for making life 16 times more complicated than it needs to be.

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f18d8345-78f3-0b16-f585-1e53f49d138f
* Version Independent ID: 015e98be-2db5-11a3-9abc-6f89b44c3f96
* Content: [About admin roles in the Micr

[2021-09-22 12:05] yogkumgit commented on #5849
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mattdreher Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-22 14:17] bcihak commented on #6393
Thank you for the updated link!  When will the online docs get updated?

[2021-09-22 15:53] badsector-82 opened #6401 "Bug with selecting the domain to which a policy applies"
I have a tenant with several domains. Their names are like this - domain.com, another.domain.com, yetanother.domain.com, etc. If in the policy I put "domain.com" it applies to all other domains in the tenant as well. As if the filter is "recipientAddress -like '*domain.com'" instead of "recipientAddress -like '*@domain.com'".

---
#### Document Details

⚠ *Do not edit this section. It is required

[2021-09-22 17:23] chrisda commented on #6393
@bcihak, I see. My mistake. The information I provided was from this topic <https://docs.microsoft.com/microsoft-365/security/office-365-security/view-email-security-reports>, which was converted to the Microsoft 365 Defender portal. The topic in question for this issue was not converted from the Security & Compliance Center (SCC) on purpose.

I thought the reports in the SCC would remain static u

[2021-09-22 17:23] #6393 closed

[2021-09-22 20:04] mkwiley opened #6402 "Inconsistency in the Preservation Hold Library documentation"
Regarding this verbiage:
_You can view this library on the Site contents page in the top-level site of the site collection. Most users can't view the Preservation Hold library because it's visible only to site collection administrators._

There is no documentation on how to find the PHL through the GUI.  I was able to document how to navigate through the GUI, and also by changing the URL.  These t

[2021-09-22 21:08] collinjc opened #6404 "Fedora Linux Support"
Fedora is not listed as a supported operating system, despite the existence of the necessary packages and repositories for Fedora. Is there a reason it is absent?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Version Independent ID: 6c49c1c5-a178-0c9d-4768-fef1507b1a55
* Content:

[2021-09-22 21:54] chrisda commented on #6401
@badsector-82, I presume your talking about the Allowed Domains list or the Blocked Domains list? That behavior could be by design. Your best bet is to open a support case to see what they say.

[2021-09-22 23:26] #6371 closed

[2021-09-23 06:47] hedbergtech opened #6409 "Documentations uses old product names."
The document describing "Common attacks and Microsoft capabilities that protect your organization" you are referring to "Advanced Threat Analytics" when it comes to protecting and monitoring on-premises Active Directory for lateral movements etc. Since the product is replaced by MDI, wouldn´t it be better to have MDI represented here instead? :)

---
#### Document Details

⚠ *Do not edit this sect

[2021-09-23 06:48] hedbergtech commented on #6409
https://docs.microsoft.com/en-us/microsoft-365/solutions/cloud-architecture-models?view=o365-worldwide

[2021-09-23 11:41] msbemba commented on #6213
@anthonynz Thank you for your feedback. The Built-in function is not available on all office suites. You are correct, Both the options are available for people to report false negatives (bad email allowed) to Microsoft and its affiliates for analysis. The report Message Add-in does the same job as the built-in tool.

Hope this helps!

Thanks
Sri

[2021-09-23 13:09] sullcromenterprise opened #6413 "ASR Rules are working against Server 2016"
[Enter feedback here]
The documentation for ASR Rules on "Supported operating systems" is wrong.  I can attest that ASR Rules are working against Server 2016 (at least with September 2021 updates).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c664e229-9294-6515-f586-12a1f0348308
* Version Independent ID: a97f107c-fd3

[2021-09-23 16:00] sullcromenterprise opened #6415 "The path examples for variables for "%userprofile" are wrong"
[Enter feedback here]
%userprofile% = c:\users\JohnDoe

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87906607-83fd-8dc8-facb-89719390f824
* Version Independent ID: 92f3359d-84ac-90c3-33d5-513feffc4173
* Content: [Configure and validate exclusions based on extension, name, or location](https://docs.microsoft.com/en-us/

[2021-09-23 18:00] badsector-82 commented on #6401
No, I'm not talking about Allowed Domains list, or the Blocked Domains list. I'm talking about the list of domains, that the policy should be applied to. That's the first thing after the name, you have to choose when creating a new policy. Here's a screenshot to be more clear - https://i.imgur.com/vV4DdWB.png

[2021-09-23 18:18] markjjo commented on #6390
@exactmike Thanks for the heads up. I will fix this.

[2021-09-23 18:18] #6390 closed

[2021-09-23 18:45] olthomps opened #6416 "M365 F5 Licenses missing"
Kindly include the M365 F5 Compliance or Security & Compliance SKU in the eDiscovery Subscription comparison list. These are currently missing.
https://docs.microsoft.com/en-us/microsoft-365/compliance/ediscovery?view=o365-worldwide#ediscovery-subscription-comparison

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562b6

[2021-09-23 20:06] markjjo commented on #6416
@olthomps Thanks for feedback. I have added this info and updated articles will be published tomorrow.

[2021-09-23 20:06] #6416 closed

[2021-09-23 21:19] chrisda commented on #6401
@badsector-82, OK. That "Applies to" logic for domains should be the same for any/all types of policies.

If it's only working the way you describe for anti-spam policies, or it works the same for all types of policies, but you don't think it should work that way, then your best course of action is to open a support case.

[2021-09-23 23:06] sslawter opened #6420 "Invalid hunt query"
This is not a valid hunt query.

DeviceAlertEvents|where Title == "Tamper Protection bypass"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f31e7b39-b7c3-188a-0b2a-02ff10a5be6d
* Version Independent ID: 44940a13-0a2d-e281-560b-cb4d8a5d1ccf
* Content: [Protect security settings with tamper protection](https://docs.micro

[2021-09-24 01:42] ssccaavvookk opened #6421 "Device Control UI exists now"
The documentation says "This capability (in Microsoft Endpoint Manager admin center (https://endpoint.microsoft.com/) > Devices > Configuration profiles > Create profile > Platform: Windows 10 and later & Profile: Device Control) is not yet available."

Device Control is now available in Intune -> Endpoint Security -> Attack surface reduction -> Device control policy type.

It would be great to ha

[2021-09-24 07:11] jtsveigdalen opened #6422 ""<UndesirableService1>", "<UndesirableService2>"..."
Step 1, powershell:  This should probably read "UndesiredService" rather than Undesire_**able**_Service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e0c0537-bbc1-02c8-7ae2-78646b2a2e98
* Version Independent ID: a9becd2e-5989-da88-8b6c-0e51476a21c7
* Content: [Disable access to Microsoft 365 services with PowerShell

[2021-09-24 10:56] msbemba commented on #6398
@programify Thank you for your feedback. These admin roles are unique in their own way. Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

Hope this helps!

Thanks
Sri

[2021-09-24 11:05] msbemba commented on #6397
@BorisKornienko Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6423

Thanks
Sri

[2021-09-24 11:24] yogkumgit commented on #5921
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MastaDisasta Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-24 11:24] #5921 closed

[2021-09-24 11:30] #6213 closed

[2021-09-24 11:32] yogkumgit commented on #6401
@badsector-82 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-24 11:33] #6401 closed

[2021-09-24 12:52] MaratMussabekov opened #6424 "Teams service admin"
Hello team, there is no such role as "Teams service admin"

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f18d8345-78f3-0b16-f585-1e53f49d138f
* Version Independent ID: 015e98be-2db5-11a3-9abc-6f89b44c3f96
* Content: [About admin roles in the Microsoft 365 admin center - Microsoft 365 admin](https://docs.mic

[2021-09-24 13:10] MaratMussabekov commented on #6424
just figured it out, it is old name of Teams Administrator

[2021-09-24 13:10] #6424 closed

[2021-09-24 15:03] samanro commented on #6409
Thank you for flagging this! We'll check into it.

[2021-09-24 17:13] rodsmsft opened #6427 "Bypass ETRs (SCL -1) and Enhanced Filtering for Connectors versus Secure by Default"
I believe it would be clearer to explicitly call out the effects of Exchange Transport Rules (ETRs) set with SCL -1 and Enhanced Filter for Connectors versus Secure by Default (which configurations are honored), when the MX is **not** pointing to EOP.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472b3a0c-7ad8-8245-9b

[2021-09-24 22:31] TinaMcN commented on #6064
@kahosoka the article has been human translated now.  Can you please check if the issue is fixed ok now?
https://docs.microsoft.com/ja-jp/microsoft-365/security/defender-endpoint/linux-install-manually?view=o365-worldwide#ubuntu-and-debian-systems
You may close this issue if it's fixed.  Thanks again for reporting the problem.

[2021-09-25 18:01] cabailey commented on #6402
I will follow up on this.

[2021-09-26 13:15] RAJU2529 commented on #6415
@sullcromenterprise . I am investigating this

[2021-09-27 06:28] yogkumgit commented on #6364
@Dansimp Please help us in resolving this issue. Thanks

[2021-09-27 06:30] yogkumgit commented on #6363
@LauraWi Please help us in resolving this issue. Thanks

[2021-09-27 06:32] yogkumgit commented on #6362
@LauraWi Please help us in resolving this issue. Thanks

[2021-09-27 06:34] yogkumgit commented on #6360
@LauraWi Please help us in resolving this issue. Thanks

[2021-09-27 06:36] yogkumgit commented on #6353
@KCCross Please help us in resolving this issue. Thanks

[2021-09-27 06:37] yogkumgit commented on #6338
@JeanSaint-Elme We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2021-09-27 06:37] #6338 closed

[2021-09-27 06:45] yogkumgit commented on #6319
@jweston-1 Pleas help us in resolving this issue. Thanks

[2021-09-27 06:47] yogkumgit commented on #6309
@KONIKPK Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 06:47] #6309 closed

[2021-09-27 06:50] yogkumgit commented on #6291
@MSFTTracyP Gentle reminder

[2021-09-27 06:51] yogkumgit commented on #6192
@chrfox Gentle reminder

[2021-09-27 07:02] yogkumgit commented on #6337
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AndrewBlumhardt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 07:02] #6337 closed

[2021-09-27 07:05] yogkumgit commented on #6350
@msbemba

[2021-09-27 07:10] clavx opened #6430 "Centralized Deployment requirements"
We are aware that Microsoft 365 E3/E5/F3 and Office 365 E1/E3/E5 are different plans.

https://www.microsoft.com/en-us/microsoft-365/enterprise/compare-office-365-plans
https://www.microsoft.com/en-us/microsoft-365/compare-microsoft-365-enterprise-plans

We have confirmed that the developer license for the Office 365 E3 plan can be used the Centralized Deployment.

The document does not indicate w

[2021-09-27 07:21] yogkumgit commented on #6354
@msbemba Thank you very much for the contribution and sharing this explanation. @zebulonsmith Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-27 07:21] #6354 closed

[2021-09-27 07:28] yogkumgit commented on #5832
@mjcaparas Gentle reminder

[2021-09-27 08:42] clavx opened #6431 "Time required to reflect Centralized Deployment"
From the following text, it reads as if the reflection will be completed within 24 hours.

The following operations seemed to be reflected within 24 hours.
(1) Add or Remove users
(2) Turn add-ins On or Off
(3) Remove add-ins

However, the following operations seemed to be reflected in about a week.
(4) Update the manifest by version up (change the `<Version>1.0.0.0</Version>`)
(5) Update the mani

[2021-09-27 12:12] rafaelborter opened #6432 "(Recommended) Use mail flow rules / Secure by default in Office 365"
Because Microsoft wants to keep our customers secure by default, some tenants overrides are not applied for malware or high confidence phishing. These overrides include:
- Allowed sender lists or allowed domain lists (anti-spam policies)
- Outlook Safe Senders
- IP Allow List (connection filtering)
- Exchange mail flow rules (also known as transport rules)
This information are documented [here](ht

[2021-09-27 13:16] arhoads76 commented on #6291
Well, I’m not sure how to help. I don’t have any knowledge of the internal workings of MS. The page says to do one thing, but that doesn’t work. In the end I got a new IP address because nothing would work to “clean” the inherited mess I got with the original IP address.

[2021-09-27 16:01] mohanse opened #6433 "DEP for multiple Microsoft 365 workloads - Unified Audit log stirage"
[Enter feedback here]

Hi - I believe "DEP for multiple Microsoft 365 workloads" - now encrypts the Unified Audit log storage. If so, can the documentation be updated with relevant details pls

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a585eca1-dad6-3afd-43ce-8c4b11102dd3
* Version Independent ID: a1d708a7-774f-0c2

[2021-09-27 17:22] msbemba commented on #6394
@HansonITTechies Thank you for your feedback. I was able to run the script and test it in the lab without issues.

![image](https://user-images.githubusercontent.com/45987684/134956144-0c698faa-85ef-4971-971a-aea0a2c261e0.png)

If you are still having issues with the script, I'd recommend opening a support ticket via the need help option in the admin center.

Thanks
Sri

[2021-09-27 17:34] msbemba commented on #6388
@pinaki-intellify Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6435

Thanks
Sri

[2021-09-27 17:36] msbemba commented on #6385
@mealiffe Thank you for your feedback. We have made changes the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6436

Thanks
Sri

[2021-09-27 17:41] msbemba commented on #6382
@Petri-X Thank you for your feedback. The region you select during sign-up determines where data is stored. This region will be the same location for all users in your organization, no matter where they are. If a different location shows up for users' powerBI data, I'd request you to contact Microsoft support from the need help section on the admin center.  Also Note that Customers that have purch

[2021-09-27 17:46] msbemba commented on #6377
@unboundadam Thank you for your feedback. I can confirm that this works in a test tenant. However, In your case we recommend you to contact Microsoft support via the need help section so that a dedicated engineer can look at this and fix it (if this is a bug or a configuration issue).

Hope this helps!

Thanks
Sri

[2021-09-27 17:49] msbemba commented on #6375
@riwmat Thank you for your feedback. Are you referring to automating these repetitive tasks? If this was related to the Sync client, yes The data upload is automatic once you set that up.

Hope this helps!
Thanks
Sri

[2021-09-27 17:51] msbemba commented on #6374
@robinpoulose1 Thank you for your feedback. Microsoft 365 Multi-Geo is only available for customers who have an Enterprise Agreement(EA) with Microsoft. All customers who have an enterprise agreement are aligned to an account manager.

Hope this helps!
Thanks
Sri

[2021-09-27 17:53] msbemba commented on #6373
@deco1974 Thank you for your feedback. I see that you are referring to the document - https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-the-delist-portal-to-remove-yourself-from-the-office-365-blocked-senders-lis?view=o365-worldwide

Btw, The service  sender.office.com is up and running now. If you continue to have a problem with the site or with delisting, Please con

[2021-09-27 17:55] msbemba commented on #6372
@jrhi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6437

Thanks
Sri

[2021-09-28 05:37] HedgieTheHedgehog opened #6443 "Perhaps the term OST should be replaced - as contract structure has changed"
I think one should rewrite (and perhaps find correct linkt) when referring to the OST - the are no more anline services terms as the changes done in 15th of September.

BR,

Emmi Stubin
Client Technology Lead
Microsoft

---
#### Asiakirjan tiedot

⚠ *Älä muokkaa tätä osiota. Sitä tarvitaan kohteessa docs.microsoft.com GitHub-ongelmien linkityksessä.*

* ID: 61c6fa7b-7e9e-21a5-40da-adbd35040ec1
* V

[2021-09-28 06:20] Petri-X commented on #6382
Hi @msbemba
Thank you for your reply, but my question was actually is the location of Power BI without any links to Office 365 tenant?

Also what you wrote; "_If a different location shows up for users' powerBI data,_" brings a question to my head, is it possible for me as admin to review and confirm users data location somehow per user?

[2021-09-28 11:52] MacKender opened #6444 "Teams Guest Settings - Missing/wrong navigation step"
The section on "Teams Guest Settings" is missing/has a wrong navigation step; One needs to expand 'Users' on the left and then select 'Guest access' as 'Org-Wide Settings' is gone from the left navigation pane.

i. e.:
To set Teams guest access settings

Step 4 should read **4. In the Teams admin center, in the left navigation pane select Users > Guest access.**

---
#### Document Details

⚠ *Do n

[2021-09-28 13:36] dagroll opened #6445 "ER advertisement"
[Can you edit this article to add clarity or additional context to what this statement means specifically?  "However, it should not be assumed that no routes are advertised for an endpoint set where ER is No."   It appears under the ER bullet in the article.

Does this mean that it IS possible for non-ExpressRoute traffic to be routed through the ER circuit even though it is not advertised for spe

[2021-09-28 14:26] yogkumgit commented on #6397
@msbemba Thank you very much for the contribution and updating the documentation with PR. @BorisKornienko Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-28 14:26] #6397 closed

[2021-09-28 16:52] chrisda commented on #4461
@DaveVernon, I finally got an answer. It's one email address per line. I updated the topic accordingly.

Thanks for the feedback.

Closing

[2021-09-28 16:52] #4461 closed

[2021-09-28 16:57] msbemba commented on #6382
@Petri-X Thank you for your response. I meant different regions showing up for users in Select Help & Support (?) > About Power BI. (West US, East US, etc). But powerBI location does not have links with Office 365 tenant.

Hope this helps!

Thanks
Sri

[2021-09-28 23:13] chrisda commented on #6432
@rafaelborter, I added the information to the topic.

Thanks for the feedback.

Closing

[2021-09-28 23:13] #6432 closed

[2021-09-28 23:28] chrisda commented on #6171
@ArttuArstila, I added the following Note to the first contact safety tip section:

[2021-09-28 23:29] #6171 closed

[2021-09-28 23:38] chrisda commented on #3801
PR merged.

Closing

[2021-09-28 23:38] #3801 closed

[2021-09-29 00:09] #6398 closed

[2021-09-29 00:10] #6394 closed

[2021-09-29 00:10] #6389 closed

[2021-09-29 00:11] #6388 closed

[2021-09-29 00:11] #6385 closed

[2021-09-29 00:12] #6377 closed

[2021-09-29 00:13] denisebmsft commented on #6363
@scotvidican - can you please take a look at this.

[2021-09-29 00:14] denisebmsft commented on #6362
@scotvidican - can you please take a look?

[2021-09-29 00:14] #6362 closed

[2021-09-29 00:15] denisebmsft commented on #6360
@scotvidican, can you take a look? FYI to @yogkumgit, Scot has taken this content area over on his team.

[2021-09-29 02:23] JazzyAtWork opened #6451 "Does Safe Links scanning on inbound emails spoils staff phishing test results?"
This sentence: "Safe Links is a feature in Defender for Office 365 that provides URL scanning and rewriting of inbound email messages in mail flow, and time-of-click verification of URLs and links in email messages and other locations."

  Does this mean: Safe Links will scan the URL on inbound emails AND scan again at time-of-click?

If so, does this mean that all my staff phishing tests (from an

[2021-09-29 05:19] ArttuArstila commented on #6171
Thank you, this is good! The note is not yet visible, but I assume it will be soon.

[2021-09-29 06:30] andrePKI opened #6452 "MCAS/Conditional access may break..."
Why is *.cas.ms and *.mcas.ms and *.mcas-gov.us not included?
As per this doc it may be required.
Our network guys say it is not part of this list, so will not include it, and things have broke.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8

[2021-09-29 06:33] andrePKI commented on #6362
Too bad an explanation for the closure is missing. I now think I commented on the wrong page - I have entered a new issue at [https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide](url)
#6452

[2021-09-29 08:09] synesthesia opened #6453 "Bookings: Instructions for adding a non-bookable admin do not work on the new Bookings experience"
The method described on this page (to add an Administrator who is not shown as bookable to clients) only works on the legacy Bookings experience. If you switch to the new Bookings Experience when logged in as such a user, all settings screens become read-only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fcbd22b-e14

[2021-09-29 08:11] yogkumgit commented on #6372
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jrhi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-09-29 08:11] #6372 closed

[2021-09-29 12:57] bhaidacher opened #6454 "Information inaccurate."
We have Microsoft 365 Business Standard but there is no product like Office 365 Extra File Storage.  1TB is too little for a team of 12 people, there is not possibility to purchase additional space.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-ac

[2021-09-29 13:12] lsteinbat opened #6455 "In-Place Holds Instructions no longer accurate"
[In-place holds instructions](https://docs.microsoft.com/en-us/microsoft-365/compliance/identify-a-hold-on-an-exchange-online-mailbox?view=o365-worldwide#in-place-holds), URL below, is out of date and the Get-MailboxSearch has been [deprecated ](https://docs.microsoft.com/en-us/powershell/module/exchange/get-mailboxsearch?view=exchange-ps)as of [October 2020](https://docs.microsoft.com/en-us/micro

[2021-09-29 13:51] stalks opened #6456 "License requirements for ASR"
``
On page https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/enable-attack-surface-reduction it is stated that Microsoft Business gives "the entire feature-set".

![image](https://user-images.githubusercontent.com/1316058/135281798-6516dfeb-4603-41f3-98fe-d9dc1adfc42f.png)

However on this page, it says "Using ASR without an enterprise license isn't officially supported"
![

[2021-09-29 15:02] apurva-rustagi opened #6458 "Wrong threshold information of 50,000"
The page says that every time the script is run we have limit of 50000 results, but the threshold applies to cmdlet used in the script. The script itself can return more than 50k results as we are running the cmdlet for 1 hour each time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ec0b4030-1bf8-c9ee-2710-b6fd3a38a38

[2021-09-29 15:38] hudish opened #6459 "Information is incorrect for stopping forwarding (doesn't list all the ways forwarding can be set up and stopped)."
Information is incorrect for stopping forwarding (doesn't list all the ways forwarding can be set up and stopped). Article should point to the steps here.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/external-email-forwarding?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-09-29 16:08] chrisda commented on #6451
@JazzyAtWork, in short, yes. You need to identify the source email domain, source IP addresses, and optionally, the simulation URLs as described in [Use the Microsoft 365 Defender portal to configure third-party phishing simulations in the advanced delivery policy](https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-advanced-delivery#use-the-microsoft-365-defender-porta

[2021-09-29 16:24] rywaters opened #6460 "XMDE Client Analyzer for Linux - Two user experience problems need correcting."
1st Error:
User goes to run the extracted xmdeclientanalyzer.  If they run as non-root/non-sudo, installation of dependencies work fine, but if they run with "performance" flag at the end of the command as the script tool tip suggests:
./mde_support_tool.sh performance

Tthe command will install dependancies fine, but will fail with:  __main__.py:  error:  perf is not installed.  Obviously this is

[2021-09-29 18:28] chrisda commented on #6171
Yeah, I forgot to merge my changes yesterday. The update is visible now.

[2021-09-29 22:52] jaredburnett opened #6464 "Incorrect Example Provided"
In article, under section "The work flow at a glance" in Part 2: Hash and upload the sensitive data
After Step #5, the example given is incorrect according to https://o365exchange.visualstudio.com/DefaultCollection/IP%20Engineering/_workitems/edit/2373969
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2025905a-4c94-a7bd

[2021-09-29 23:50] cabailey commented on #6402
@mkwiley  Thanks for flagging that the navigation instructions no longer worked for SharePoint.  Always a challenge when they move things around!  But after discussing this with engineering, rather than update the navigation instructions, we've removed them.  The Preservation Hold library is designed for automatic processes for compliance requirements rather than interactive use, and you can expec

[2021-09-29 23:50] #6402 closed

[2021-09-30 10:39] lightupdifire opened #6467 "Onboarding with Microsoft 365 E5 Security and existing Azure Security Center"
Hello,

We have:

1. Azure Security Center - so it enables the Windows Defender Security Center platform and we can on-board into Defender ATP the Windows 10 device using Intune MDM onboarding step -> but then this gives price ~10 Euro per device
2. Intune MDM via Microsoft 365 E3
3. We have bought Microsoft 365 E5 Security per User licenses (~10Euro per user), now to onboard, do we follow the sam

[2021-09-30 11:27] lightupdifire opened #6468 "For more information on Microsoft Intune policy settings see, Windows 10 policy settings in Microsoft Intune."
Hello,

Hyperlink not found for this place
"For more information on Microsoft Intune policy settings see, **Windows 10 policy settings in Microsoft Intune**."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c75cd7f-3cba-ac55-e8fb-809e64e7ce36
* Version Independent ID: 9085cbcc-a241-14aa-47f6-6714d5475a23
* Content: [On

[2021-09-30 11:59] mkwiley commented on #6402
Thanks for the info!

From: Carol Bailey ***@***.***>
Sent: Wednesday, September 29, 2021 7:51 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: mkwiley ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Inconsistency in the Preservation Hold Library documentation (#6402)

@mkwiley <https://github.com/mkwiley>  Thanks for flagging that the navigation instruct

[2021-09-30 13:28] pcbona opened #6469 "how to set endpoint office should use"
There is alot of documentation on what domains and ports are needed to open up the firewall for the 5 endpoints. But how can i configure office to use endpoint Germany or endpoint Worldwide? This information is not in the document.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c035177-42c5-f350-

[2021-09-30 14:44] harshdamaniahd opened #6470 "Is there an option to add logo to high contrast blue theme"
[Missing documentation on high contrast theme logo]

![image](https://user-images.githubusercontent.com/11780473/135477535-2a91438f-5b39-46da-87e6-73af84b11fec.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6c85cc-1680-588e-f520-bcafb1383d53
* Version Independent ID: ea446e6b-e094-dacd-54cc-e597b2f1354d
* Conten

[2021-09-30 15:30] Mnlaura1 opened #6471 "Proofing"
There are four (4) typos/errors on this page.    Find and fix?    I would be happy to show their locations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562b6b1d-b0fd-0d65-9db8-37df67bd7035
* Version Independent ID: 92c4403b-0d6b-88aa-74f4-ba3b7640ad00
* Content: [Microsoft 365 eDiscovery solutions - Microsoft 365 Co

[2021-09-30 15:48] rpodric commented on #4242
I'm not sure what the activity in this thread since Feb 24 means, but it looks like there hasn't been any progress.

The OP's point stands to this day. The doc saying this...

"These DNS records also apply to Teams, especially in a hybrid Teams and Skype for Business scenario, where certain federation issues could arise."

...is misleading and vague. The **4 specific ones** in that section of the

[2021-09-30 17:11] DeanGross opened #6473 "Table Description fields"
The sample file I exported contains a GenerateAlert field which is not shown as a supported parameter. Please update

Please add information about the acceptable values for the IpAddress. I just learned that CIDR notation is not supported, but this does not appear to be documented

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-09-30 18:28] jarvisington opened #6474 "No Power BI button?"
In the [Enable the Template app](https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/enable-usage-analytics?view=o365-worldwide#enable-the-template-app) section it says "The data collection process will complete in two to 48 hours depending on the size of your tenant. The Go to Power BI button will be enabled (no longer gray) when data collection is complete."

I don't see a Go to

[2021-09-30 20:56] mordyort commented on #5353
it seems the video is completely out of date for new tenants can we get an updated video

[2021-10-01 11:25] yogkumgit commented on #6373
@msbemba Thank you very much for the contribution and sharing this explanation. @deco1974 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-01 11:25] #6373 closed

[2021-10-01 11:31] yogkumgit commented on #6374
@msbemba  Thank you very much for the contribution and sharing this explanation. @robinpoulose1 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share t

[2021-10-01 11:31] #6374 closed

[2021-10-01 11:34] yogkumgit commented on #6375
@msbemba Thank you very much for the contribution and sharing this explanation. @riwmat Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-01 11:35] #6375 closed

[2021-10-01 11:38] yogkumgit commented on #6382
@msbemba Thank you very much for the contribution and sharing this explanation. @Petri-X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-01 11:38] #6382 closed

[2021-10-01 12:37] alexhass opened #6480 ""else" need to be in closing curly bracket line"
Script has a bug

[code]

and need to be changed to:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac69-134d-0198-fcb9-e19d1ed44d4b
* Content: [Manage who can create Microsoft 365 Groups](https://docs.microsoft.com/en-us/microsoft-365/solutions

[2021-10-01 16:15] inmamede opened #6481 "In the section "Example for this first principle", for the example made for Exchange items, would it be possible to clarify that after the three-year period the items continue to be retained, but in the RecoverableItems of the mailbox? Thank you."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c49609d-3a62-b9be-24bf-f8fa6948d390
* Version Independent ID: df547c86-fbc7-4f87-e893-49d07b045373
* Content: [Learn about retention policies & labels to automatically retain or delete content - Microsoft 365 Compliance](https://docs.microsoft.com/en

[2021-10-01 17:09] cabailey commented on #6481
Hi @inmamede, I see you are a Microsoft employee.  I'll contact you internally.

[2021-10-01 17:21] BrendaCarter commented on #6409
Hi, Thank you Viktor. You are right and this has been fixed in the poster.

[2021-10-01 17:21] #6409 closed

[2021-10-01 18:00] markjjo commented on #6471
@Mnlaura1 Thanks for the heads up.

[2021-10-01 18:00] #6471 closed

[2021-10-02 16:21] SteveSmallwood opened #6483 "AAD Connector"
The 21H1 Lab Guide (p30) gives intsructions to run the PS cmdlet Import-Module -Name “C:\Program Files\Microsoft Azure Active Directory Connect\ADPrep\ADSyncPrep.psm1” this does not exist on the DC1 server.

[2021-10-03 00:10] mrjasonm opened #6484 "Office 365 Admin Settings ARE A NIGHTMARE"
In all of my 25+ years of using computers, I have literally never had a worse experience than I have with using the Office 365 admin and settings pages. Just trying to track down one little setting has taken over an hour, each and every time.

Add to this experience the fact that this page references options that don't even exist on the pages described and linked to in this article.

It says:
In t

[2021-10-03 01:09] jonomynard opened #6485 "Assign license to Guest User (web instructions out of date?)"
I am trying to assign a license to a Guest User. I am following the instructions here:

https://docs.microsoft.com/en-us/microsoft-365/admin/manage/assign-licenses-to-users?view=o365-worldwide#assign-a-license-to-a-guest-user

However, I get stuck at step 7 ("Under Manage, select Licenses"), as there is no "Manage" button/option.

Thanks,

Jonathan.

---
#### Document Details

⚠ *Do not edit this

[2021-10-03 11:39] desinnic opened #6486 "Policy ID and Entry ID GUIDS"
[Hello, I was wondering if there is any information (clarity) on how the Policy IDs and Entry IDs get created? In the document it highlights you can have multiple Entry IDs but it does not specifically confirm how you would generate the GUIDS.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b7a5c17-1358-990b-968d-432a

[2021-10-04 09:23] yogkumgit commented on #6483
@SteveSmallwood  Please indicate which document you are referring to and what is your feedback. Thanks

[2021-10-04 10:20] alapie opened #6487 "Powershell example for SPO is not correct"
Hi, the powershell cmdlet and example are not correct

Register-SPODataEncryptionPolicy  https://contoso.sharepoint.com

command "Register-SPODataEncryptionPolicy" sowan't require the URL

Regards
Alan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bbe84f4-e076-750f-62b7-842c9cd03736
* Version Independent ID: 3380a064

[2021-10-04 10:53] dylanwb opened #6488 "Incorrect UI screenshot and steps"
Incorrect UI screenshot and steps - UI no longer presents the same options via Exchange admin center > mail flow>new rule>Do the following
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88a29483-a070-ccc1-b064-176dfa49d5e9
* Version Independent ID: bad082c0-9ca2-0ade-6b1f-0ba5ac26017b
* Content: [

[2021-10-04 11:04] msbemba commented on #6422
@jtsveigdalen Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6489

Thanks
Sri

[2021-10-04 12:08] Alex-Catalin opened #6490 "Encryption sensitivity labels and compatibility between clients (desktop and online)"
In this paragraph https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption-sensitivity-labels?view=o365-worldwide#let-users-assign-permissions, we say right below the table of supported options _"When both settings are selected, the label is therefore visible in both Outlook and in Word, Excel, and PowerPoint."_

This is not the case apparently, as it can create issues with the online

[2021-10-04 12:24] msbemba commented on #6430
@clavx Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6492

Thanks
Sri

[2021-10-04 14:58] ThomasBIDAULT opened #6493 "Incomplete Subscription"
Content search seams available to **Office 365** Ex plan as well

Core eDiscovery seems available to **Office 365** E3 plan as well

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562b6b1d-b0fd-0d65-9db8-37df67bd7035
* Version Independent ID: 92c4403b-0d6b-88aa-74f4-ba3b7640ad00
* Content: [Microsoft 365 eDiscovery solu

[2021-10-04 15:11] ThomasBIDAULT commented on #6493
Additional license to be provided that support ediscovery solutions

[2021-10-04 15:57] CasperNLD opened #6494 "How to prevent triggering 'Advanced protection against ransomware' rule"
Hi,
I have several older programs in C.
Since my company rolled the Advanced Surface Reduction Rules out, my programs are refused by the "Advanced protection against Ransomware". To test them, these programs are copied to the %temp%-folder to see if they work properly. All of these test fail now.

I rather not want to exclude the %temp% folder from de  defender scans and for the usual work I would

[2021-10-04 17:14] denisebmsft commented on #6494
Hello @CasperNLD! Can you please tell us to which article your feedback applies? This information will help us route the issue to the correct writer/team.

[2021-10-04 18:32] 12Knocksinna opened #6496 "No backup APIs for many Microsoft 365 apps"
The "best practice" recommendation to use third party backups doesn't fly because many Microsoft 365 workloads don't have a supported backup API. You can backup Exchange Online and SharePoint Online, but what about workloads like Teams, Planner, and Whiteboard?

You should make it clearer that any such recommendation can only extend to workloads with supported backup APIs (even EXO is marginal bec

[2021-10-04 19:04] vikassou opened #6497 "Regarding Error tags & Error Properties column in unindexeditems.csv file"
Testing shows that the Error tags & Error Properties column is always blanks and doesn't show the error why these items could not be indexed.
Yes, Using the PowerShell script PartiallyIndexedItems.ps1, it possible to find these items.

Information in the docs states "When you export eDiscovery search results or a search report using one of these options, the export includes a report named Unindexe

[2021-10-04 19:36] cabailey commented on #6481
Closing as discussed & agreed internally.  The principles of retention focus on whether an item will be retained or permanently deleted, not where the item is stored.  The text before the example covers this:

"While this principle ensures that content is preserved for compliance reasons, the delete process is still initiated and can remove the content from user view and searches. For SharePoint,

[2021-10-04 19:36] #6481 closed

[2021-10-04 22:10] msbemba commented on #6421
@ssccaavvookk Thank you for your feedback. We have updated the changes via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6499

Thanks
Sri

[2021-10-04 22:11] msbemba commented on #6420
@sslawter Thank you for your feedback. I'm currently testing this and will update the document if need be.

Thnaks
Sri

[2021-10-04 22:15] msbemba commented on #6415
@sullcromenterprise Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6500

Thanks
Sri

[2021-10-04 22:20] msbemba commented on #6413
@sullcromenterprise Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6501

Thanks
Sri

[2021-10-04 22:22] msbemba commented on #6404
@collinjc Thank you for your feedback. I'm currently checking this with the team and will update the document if need be.

Thanks
Sri

[2021-10-04 22:23] msbemba commented on #6431
@clavx Thank you for your feedback. I'm currently testing this and will update you shortly. If there are changes needed, I'll ensure that the document is updated.

Thanks
Sri

[2021-10-04 22:26] msbemba commented on #6433
@mohanse Thank you for your feedback. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6502

Once the author approves, the changes will be live.

Thanks
Sri

[2021-10-04 22:31] msbemba commented on #6443
@HedgieTheHedgehog Thank you for your feedback. I'm currently checking this internally with the team and will update the document shortly.

Thanks
Sri

[2021-10-04 22:34] msbemba commented on #6444
@MacKender Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6503

Thanks
Sri

[2021-10-04 22:36] msbemba commented on #6307
@CitizenSnipsX Thank you for your feedback. I have not been able to test this successfully. I'll alert the author and Product team about this.

Thanks
Sri

[2021-10-04 22:40] msbemba commented on #6395
@richard-artes Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6504

Thanks
Sri

[2021-10-04 22:50] msbemba commented on #6370
@Oppedijk Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6505

Once the author approves, the changes will be live.

Thanks
Sri

[2021-10-05 05:01] OzmeisterO opened #6506 "Simple instructions, but doesn't mention the delay to apps appearing"
Great instruction page, thank you.  It would help users to change the last instruction which says "Your app will now appear ..." to highlight that the app will appear after a delay.  For me it took about 10 minutes before the new app appeared.

Thanks, Oz
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-10-05 06:34] #4710 closed

[2021-10-05 06:49] clavx commented on #6430
@msbemba Thank you for your reply.

I see that there was also the Office 365 F3 plan.
https://www.microsoft.com/en-us/microsoft-365/enterprise/frontline#office-SKUChooser-0dbn8nt

I also saw "Microsoft 365 Enterprise SKUs: E3/E5/F3" listed in the "Office Requirements" section just below.

Thanks.

[2021-10-05 06:59] vianeyhm opened #6507 "DLP for on-prem File Servers"
Hello team;

I see that based on this documentation DLP for on-prem File Servers is on GA, and when I go to the DLP wizard to create a policy, it shows a message saying that DLP for on-prem File Servers and SharePoint on-prem is in Preview. Could you please confirm if to is GA or not? I have to ensure this info to one of our partners working with a customer who is looking for this capability.
I wa

[2021-10-05 08:03] o365tatsuyan opened #6509 "Need to update the URL link which written in "Change Log subscription" in "Office 365 URLs and IP address ranges" KB"
[Enter feedback here]
URL links which written in "Change Log subscription" in "Office 365 URLs and IP address ranges" KB (https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide) should be updated to the correct link.

Repro Steps
----------------
1. Click Change Log subscription in "Office 365 URLs and IP address ranges" KB (https://docs.microsoft.

[2021-10-05 08:41] yogkumgit commented on #6343
@TinaMcN Please help. Thanks

[2021-10-05 09:18] yogkumgit commented on #6445
@LauraWi Please help us in resolving this issue. Thanks

[2021-10-05 09:21] yogkumgit commented on #6452
@LauraWi Please help us in resolving this issue. Thanks

[2021-10-05 11:43] clavx commented on #6431
Thank you for your reply.
Here is some additional information.

The information I wrote above is based on when I tried to install an Outlook add-in from "Upload custom apps".
I have not tried it with any other add-ins (Excel‎, ‎PowerPoint‎, ‎Word‎).

Procedure for (4).
1. Upload the manifest of the Outlook add-in from "Upload custom apps" and register it by specifying the users to be applied.
2. A

[2021-10-05 15:51] TinaMcN commented on #6343
@TomoharuMisawa この問題を報告していただきありがとうございます。機械翻訳ツールの問題のようです。  私は人間の翻訳のために記事を送った。(Thank you for reporting this issue. It appears to be a problem with our machine translation tool. I sent the article to be human translated.)

[2021-10-05 16:29] Breid125 opened #6511 "Information about the "Mark as and Notify" and what it does"
Please update this documentation to cover the new "Mark as and Notify" feature.

Does this kick off any Phish Zap or remediation if we flag a message as Phishing?

-Brendan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162f11ad-8add-952e-fd64-488e8e3f3b14
* Version Independent ID: addf14d5-f1c1-662d-9844-6888df0349bd

[2021-10-05 17:21] cabailey commented on #6490
@Alex-Catalin  The design is that when both options are selected, the label is visible in Outlook, Word, Excel, and PowerPoint.
 However, not all platforms support this yet - always check the capabilities table to verify support across platforms.  For this one, see "Let users assign permissions: - Prompt users" from  https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-offi

[2021-10-05 17:26] LauraWi commented on #6452
@kelleyvice-msft  -- I have added this to the endpoints queue

[2021-10-05 17:29] cabailey commented on #6490
Checking the text on this page, in this section - it begins with "Important: Not all labeling clients support all the options that let users assign their own permissions. Use this section to learn more." and then for "In Word, PowerPoint, and Excel, a user is prompted to select their own permissions for specific users, groups, or organizations" we have the text "To check which apps that use built-

[2021-10-05 17:29] #6490 closed

[2021-10-05 21:35] LauraWi commented on #6445
@kelleyvice-msft I have added this to the endpoints queue.

[2021-10-05 21:51] junterpfe commented on #5336
@LauraWi any news?

[2021-10-05 22:02] proximityeffect opened #6513 "Bad Link (404 error)"
[Connect to the Security & Compliance Center using remote PowerShell](https://docs.microsoft.com/en-us/powershell/exchange/connect-to-scc-powershell&clcid=0x409)  <-bad link

Good link?
https://docs.microsoft.com/en-us/powershell/exchange/connect-to-scc-powershell?view=exchange-ps

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-10-06 05:15] Alex-Catalin commented on #6490
Hi Carol,

Regarding “If you need a single label to apply encryption across Word, Excel, PowerPoint, Excel, Outlook - and across all platforms - use the Assign permissions now option.”, do we say this anywhere in the document 😊?

We should be as clear and as transparent as possible with our documentation, so that our customers can actually understand what steps they need to follow to get their des

[2021-10-06 09:07] christophesiebert opened #6516 "A distribution group is not really added to a team in Teams, is it ?"
Hi, it's written that "Distribution groups can be added to a team in Microsoft Teams". As a team in Teams is a based on a M365 group and as M365 groups do not support nested groups, it would be clearer to specify that it is actually the members of the distribution groups that are added in the team and not the group itself as an object. Indeed, the reference to the original distribution group is lo

[2021-10-06 11:12] msbemba commented on #6468
@lightupdifire Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6519

Thanks
Sri

[2021-10-06 11:16] msbemba commented on #6467
@lightupdifire Thank you for your feedback. Regarding licenses and whether you would get a bill from the Azure security center, I'd recommend you contact Microsoft support via the need help Icon on the admin center as they can check your existing licenses and future invoice to confirm if you will receive an extra bill for Azure security center.

Hope this helps!

Thanks
Sri

[2021-10-06 11:26] msbemba commented on #6344
@annemaarie Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6520

Thanks
Sri

[2021-10-06 11:27] msbemba commented on #6341
@Dburke225 Thank you for your feedback. You can find information on How to use content explorer from the below link :- https://docs.microsoft.com/en-us/microsoft-365/compliance/data-classification-content-explorer?view=o365-worldwide#how-to-use-content-explorer

Hope this helps!
Thanks
Sri

[2021-10-06 11:31] msbemba commented on #6494
@CasperNLD Thank you for your feedback. This is a support request about how to safely execute self-made programs, I'd recommend you contact the Microsoft Support team via the need help button on your admin center, This will ensure that the engineer can review your case and provide a suitable answer.

Hope this helps!

Thanks
Sri

[2021-10-06 11:32] msbemba commented on #6509
@o365tatsuyan Thank you for your feedback. I'm currently able to view the correct log in JSON format and it points to https://endpoints.office.com/version/worldwide?allversions=true&format=rss&clientrequestid=b10c5ed1-bad1-445f-b386-b919946339a7

Hope this helps!
Thanks
Sri

[2021-10-06 11:35] #6467 closed

[2021-10-06 12:11] yogkumgit commented on #6421
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssccaavvookk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 12:16] msbemba commented on #6289
@zlDev Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6521

Thanks
Sri

[2021-10-06 12:20] msbemba commented on #6350
@pmcslabs Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6522

This is about allowing the Microsoft URLs on the web browser.

Thanks
Sri

[2021-10-06 12:27] yogkumgit commented on #6444
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MacKender Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 12:27] #6444 closed

[2021-10-06 12:29] msbemba commented on #6378
@anarii Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6523

Once the author approves, you will see the changes live.

Thanks
Sri

[2021-10-06 12:31] o365tatsuyan commented on #6509
hi @msbemba, thank you for responding to this subject. But as far as I can see it still contains "& amp;" in the URL.
https://endpoints.office.com/version/worldwide?allversions=true&format=rss&clientrequestid=b10c5ed1-bad1-445f-b386-b919946339a7

![image](https://user-images.githubusercontent.com/33974498/136202376-57e1827b-9e17-4385-856b-7198f56eff98.png)

[2021-10-06 12:36] msbemba commented on #6315
@copenhaus Thank you for the additional information. I understand your situation. We maintain the documents,  if you have issues/ bug / Support requests/Feedback on the product, I'd recommend you contact Microsoft support via the need help link who can help troubleshoot the issue.

If you feel there are changes needed post working with the support, Let us know.

Thanks
Sri

[2021-10-06 12:36] yogkumgit commented on #6415
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sullcromenterprise Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 12:36] #6415 closed

[2021-10-06 12:41] msbemba commented on #6506
@OzmeisterO Thank you for your feedback. The delay depends on the number of users in the organization. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6524

[2021-10-06 12:41] yogkumgit commented on #6422
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jtsveigdalen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 12:41] #6422 closed

[2021-10-06 12:47] msbemba commented on #6493
@ThomasBIDAULT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6525

Thanks
Sri

[2021-10-06 12:49] JitenderPrasad opened #6527 "MDE installation scrip for all Mac"
[I need MDE installation scrip for all Mac]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f274b95e-a8b5-711b-7d7c-435510bfa22b
* Version Independent ID: b0374203-6177-686d-9814-e1192c6ec1cf
* Content: [Manual deployment for Microsoft Defender for Endpoint on macOS](https://docs.microsoft.com/en-us/microsoft-365/securi

[2021-10-06 12:56] msbemba commented on #6484
@mrjasonm Thank you for your feedback. I have updated the document to reflect that it is not the right pane, but the user properties page that appears when you click on a user.  The changes can be tracked via pR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6528

![image](https://user-images.githubusercontent.com/45987684/136206568-a3c3708e-cec2-45d6-b5a8-3c7e386ca22b.png)

Thanks
Sri

[2021-10-06 12:58] yogkumgit commented on #6341
@msbemba Thank you very much for the contribution and sharing this explanation. @Dburke225 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-06 12:58] #6341 closed

[2021-10-06 12:58] msbemba commented on #6480
@alexhass Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6529

Thanks
Sri

[2021-10-06 13:00] yogkumgit commented on #6494
@msbemba  Thank you very much for the contribution and sharing this explanation. @CasperNLD Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2021-10-06 13:24] somedowntime opened #6530 "Clarification on 1000 tags"
Hi Microsoft,

I currently have a ticket open with Microsoft (Case 27710113), and I need clarification on what "Maximum number of tags per case. | 1000" means.

I would have thought "Maximum number of tags per case. = 1000" means that you can have 1000 different tags. The Microsoft engineer I currently have has suggested that this means we can only tag 1,000 items in a review set. As it is common

[2021-10-06 13:47] yogkumgit commented on #6458
@markjjo Please help us in resolving this issue. Thanks

[2021-10-06 13:49] yogkumgit commented on #6464
@chrfox Please help us in resolving this issue. Thanks

[2021-10-06 13:53] MikePlumleyMSFT commented on #6348
@ArunMSFT can you comment?

[2021-10-06 14:01] krlrp commented on #4128
عليق
تعليقات
تضمين التغريدة stephenc01 علق on 11 Feb
تتعارض هذه الأمثلة حول كيفية تمكين الأرشيف في هذه الصفحة مع الصفحة أدناه.

يجب ألا تستخدم قيمة خاصية ArchiveStatus للتحقق من حالة الأرشيف
https://docs.microsoft.com/en-us/office365/troubleshoot/archive-mailboxes/archivestatus-set-none

تفاصيل المستند
⚠ لا تقم بتحرير هذا القسم. وهو مطلوب من أجل docs.microsoft.com ➟ GitHub ربط المشكلة.

المعرف: 1f

[2021-10-06 14:03] yogkumgit commented on #6486
@Dansimp Please help us in resolving this issue. Thanks

[2021-10-06 14:04] yogkumgit commented on #6507
@chrfox Please help us in resolving this issue. Thanks

[2021-10-06 15:32] npherson opened #6531 "Needs specifics - list the FIPS validation certificate numbers"
Any customer with compliance requirements for FIPS encryption will have to demonstrate to an auditor that FIPS verified cryptographic modules are used. While this article lists 'Yes', it doesn't list the FIPS validation certificate number, and the Microsoft and NIST webpages listing all the certificates can't be mapped back to these features (like Office 365 Message Encryption).

Please update the

[2021-10-06 16:13] cabailey commented on #6490
@Alex-Catalin  Having reviewed the documentation, I think it's very clear and we're very transparent about these options that aren't available across all platforms.  The section starts off with the note to this effect "Not all labeling clients support all the options that let users assign their own permissions" and the previous section for "Assign permissions to specific users or groups" does not.

[2021-10-06 18:06] ThorGoLucky opened #6534 "Multiple domains, not just subdomains?"
Hi, could you please emphasize whether or not multiple domains (not subdomains) can be added? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a11050-b442-7a48-0d37-9bce8908fc14
* Version Independent ID: 5456e564-2629-cfc2-dfc9-2b7934fcf43a
* Content: [Domains Frequently Asked Questions](https://docs.microsoft.

[2021-10-06 18:35] markjjo commented on #6530
@somedowntime Thanks for reaching out. I'm verifying with engineering and will follow up with more info and document updates. Is your support ticket just about clarity of this limit or have you actually hit this limit by tagging documents?

[2021-10-06 19:15] v-tophillips commented on #6378
This was already addressed as part of normal documentation updates.

[2021-10-06 19:15] #6378 closed

[2021-10-06 19:19] cmcatee-MSFT commented on #6340
@SDkempf94, please download your invoice from the [Microsoft 365 admin center](https://admin.microsoft.com), and check the payment instructions shown on the PDF.

[2021-10-06 19:19] #6340 closed

[2021-10-07 03:36] yogkumgit commented on #6468
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lightupdifire Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-07 03:36] #6468 closed

[2021-10-07 03:41] yogkumgit commented on #6395
@msbemba Thank you very much for the contribution and updating the documentation with PR. @richard-artes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-07 03:41] #6395 closed

[2021-10-07 04:22] lightupdifire commented on #6468
Thank you!

[2021-10-07 04:53] Alex-Catalin commented on #6490
Hi Carol,

Thanks for replying. I hope our customers will be able to understand all the information.

Alex

From: Carol Bailey ***@***.***>
Sent: Wednesday, October 6, 2021 7:14 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Alexandru Cazacu ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Encryption sensitivity labels and compatibility between clients (

[2021-10-07 05:49] bityob opened #6536 "Typo between "application" context and "user" context"
![image](https://user-images.githubusercontent.com/20026896/136326974-a9fdba4b-92ab-40c0-a93b-a02d782ac8b9.png)

The marked word should be `user` instead of `application`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d4287b-0207-5c4f-ae5b-9b0fc33d36a9
* Version Independent ID: 53fdc584-5530-cf5e-fb2c-75591bb082bf
*

[2021-10-07 07:29] SDkempf94 commented on #6340
It says GB95CITI18500812510049 and it seems to be the same for other Saudi Arabia tenants too - if this is the case, will you update this public facing documentation?

[2021-10-07 17:58] #6344 closed

[2021-10-07 21:19] barlan opened #6542 "page not linked in TOC"
This page doesn't have a link in the TOC, though I assume it should populate underneath the "Troubleshoot" node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00421a8e-42cf-c393-f91d-da1b7d7cc7da
* Version Independent ID: de00b816-762d-2171-eb7f-1ce6a55ec189
* Content: [Getting a mailbox not found error in Outlook on

[2021-10-08 00:18] vianeyhm opened #6545 "DLP for on-prem file servers continue in preview??"
[Enter feedback here]

Hello team;
Sorry for bothering you; any update about it please, the  #partner is looking for the official Microsoft answer to define if they can offer it to the customer or not yet based on the fact that they would not have support if any issue arises during the implementation if it continues in preview. Thanks in advance.
---
#### Document Details

⚠ *Do not edit this sect

[2021-10-08 03:13] msbemba commented on #6345
@Dburke225 Thank you for your feedback.  Starting September 1, 2021, we are hiding user information by default for all reports as part of our ongoing commitment to help companies support their local privacy laws.

Global administrators can revert this change for their tenants and show identifiable user information if their organization's privacy practices allow it. It can be achieved in the Micros

[2021-10-08 03:29] msbemba commented on #6427
@rodsmsft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6547
Once the author approves, the change will be live.

Thanks
Sri

[2021-10-08 03:37] msbemba commented on #6431
@clavx Thank you for your detailed feedback. From the details we have, it can only take up to 24 hours for an add-in to show up for all users.  This is the same when there is an updated manifest.  I'm not certain if it is the add-in that is causing an issue, But the recommended way to fix or escalate this issue would be to contact Microsoft support via the need help icon on the admin center.

If y

[2021-10-08 03:50] msbemba commented on #6488
@dylanwb Thank you for your feedback. I'm able to test and the data in the screenshot matches what I see in the UI.

![image](https://user-images.githubusercontent.com/45987684/136495372-2c76d5da-bc45-48ea-9976-a1b3eae1b1c5.png)

Let us know what differences you see on your end.

Thanks
Sri

[2021-10-08 04:43] msbemba commented on #6420
@sslawter Thank you for your feedback. It should be AlertInfo|where Title == "Tamper Protection bypass". The changes are updated in the document.

Hope this helps!
Thanks
Sri

[2021-10-08 04:48] msbemba commented on #6456
@stalks Thank you for your feedback. The full set of ASR rules and features is only supported if you have an enterprise license for Windows 10.
We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6548 to reflect the same

Thanks
Sri

[2021-10-08 04:56] msbemba commented on #6453
@synesthesia Thank you for your feedback. We have added a note stating the same while the product team fixes the new bookings experience. The changes can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6550

Thanks
Sri

[2021-10-08 06:27] msbemba commented on #6369
@hishikitetsuya Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6551

Once the author approves, the changes will be live.

Thanks
Sri

[2021-10-08 06:33] msbemba commented on #6443
@HedgieTheHedgehog Thank you for your feedback. We have updated OST to Online Services Data Protection Addendum (DPA). The changes can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6552

Thanks
Sri

[2021-10-08 07:26] clavx commented on #6431
Okay, I will contact Microsoft support.

Thanks for your support.

[2021-10-08 07:26] #6431 closed

[2021-10-08 08:02] desinnic opened #6553 "Command-Lines in the document appear to have incorrect charaters"
[I recently used some of the commands documented here with a customer that did not work

wget --quiet -O XMDEClientAnalyzer.zip https://aka.ms/XMDEClientAnalyzer * <The Asterix here causes the download of the tool to fail>

unzip -q XMDEClientAnalyzer.zip

cd XMDEClientAnalyzer

chmod +x mde_support_tool.sh" <The addition of the " on this command-line means that the command does not run>

]

---
#

[2021-10-08 11:11] linx-collin opened #6554 "Exchange Admin Centre in Exchange Online"
This page details the steps for the Exchange Admin Center (EAC) then at the bottom there's a link entitled "Exchange admin center in Exchange Online" but when you go to that link, the resulting page doesn't explain how to do what the previous page was attempting to explained for EAC?

When you click on the 'Exchange' option under 'Admin centers' on the 'Microsoft 365 admin center' page, it takes y

[2021-10-08 13:44] msbemba commented on #6536
@bityob Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6557

Thanks
Sri

[2021-10-08 18:59] ScottSchnoll opened #6559 "Need to update link to NPP page"
We need to change the NPP page link from https://www.microsoft.com/microsoft-365/partners/O365networkingpartners to https://cloudpartners.transform.microsoft.com/m365networkingpartners.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b8fb78a-6077-98ec-af2c-10eead8c6d93
* Version Independent ID: 728fd5ea-8e57-ea6f-3230-

[2021-10-10 06:24] yogkumgit commented on #6513
@msbemba Thank you very much for the contribution and updating the documentation with PR. @proximityeffect Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-10 06:25] #6513 closed

[2021-10-10 06:44] yogkumgit commented on #6289
@msbemba Thank you very much for the contribution and updating the documentation with PR. @zlDev Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-10 06:44] #6289 closed

[2021-10-10 06:50] yogkumgit commented on #6315
@msbemba  Thank you very much for the contribution and sharing this explanation. @copenhaus Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2021-10-10 06:59] yogkumgit commented on #6420
@msbemba Thank you very much for the contribution and sharing this explanation. @sslawter Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-10 07:02] #6404 closed

[2021-10-10 07:07] yogkumgit commented on #6509
@msbemba

[2021-10-10 07:15] yogkumgit commented on #6485
@ Thank you very much for the contribution and sharing this explanation. @ Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-10 07:19] yogkumgit commented on #6474
@msbemba Thank you very much for the contribution and sharing this explanation. @jarvisington Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-10 07:19] #6474 closed

[2021-10-10 07:21] #6469 closed

[2021-10-10 07:25] yogkumgit commented on #6460
@rywaters Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-10-10 07:25] #6460 closed

[2021-10-10 07:27] yogkumgit commented on #6459
@msbemba Thank you very much for the contribution and sharing this explanation. @hudish Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-10 07:33] #6454 closed

[2021-10-10 14:00] bhaidacher commented on #6454
I have talked with our MS Distributor. He told me that in order to increase space we need to upgrade from Business Standard to E3. There are no space options.

 Un abrazo, Berni IPMA Level B IPMA Delta Assessor IPMA Assessor Asociación Project Management de Guatemala www.apmgt.org Gran Industria de Muebles Ambientes Creativos www.ambientes-creativos.com Facultare www.facultare.com Mobile: +502 557

[2021-10-11 04:37] nyflash opened #6562 "WVD to AVD"
[Enter feedback here]
should be azure virtual desktop, not windows virtual desktop.. the chart is also a bit confusing.. maybe the question should be "launch/access application from laptop" with AVD, the customer still has to have an Laptop/device to run the AVD client on.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-10-11 06:52] yogkumgit commented on #6542
@pebaum Please help us in resolving this issue. Thanks

[2021-10-11 06:55] yogkumgit commented on #6531
@KCCross Please help us in resolving this issue. Thanks

[2021-10-11 07:03] yogkumgit commented on #6157
@Blake-nisius Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-11 07:03] #6157 closed

[2021-10-11 07:07] #6064 closed

[2021-10-11 07:20] dylanwb commented on #6488
@yogkumgit - Can you please re-open?

[2021-10-11 13:03] ArchePrime opened #6566 "ASR rule blocks built-in Outlook functionality"
#### The ASR rule "Block Office communication application from creating child processes" prevents the user from opening "Indexing Options" under Options / Search in Outlook with the following notification:
#### Is this intentional?
![Screenshot 2021-10-11 150136](https://user-images.githubusercontent.com/20758397/136794489-900d2a84-5cfb-4424-bd59-8aeed63b2f6f.png)
---
#### Document Details

⚠ *Do

[2021-10-11 14:47] msbemba commented on #6454
@bhaidacher  If you bought your subscription from a CSP you cannot buy Office 365 Extra file storage from Microsoft. Your distributor will be able to add the add-on. Please find below screenshot for a tenant which has business basic

![image](https://user-images.githubusercontent.com/45987684/136810464-0db8ad44-d10e-4751-a438-49dc075db1f4.png)

Thanks
Sri

[2021-10-11 15:38] rsoakford opened #6568 "Information Barriers, as part of Office 365 and Microsoft 365 A1, A3 or A5 faculty and student licensing"
I read at https://admin.microsoft.com/AdminPortal/home#/MessageCenter/:/messages/MC290063 (Published Oct 8, 2021) that  "You will also see a new service plan, Information Barriers, as part of your Office 365 and Microsoft 365 A1, A3 or A5 faculty and student licensing details."

I assume that means the license requirements are changing - perhaps this documentation could be updated to reflect those

[2021-10-11 16:06] bhaidacher commented on #6454
Thank you.

Only this is in Ruppies an Indian site where not all policies apply.

Thanks you for the feedback.

What I have learned is that the only way to add space is to migrate to the
E3 Office 365 licence.

Cheers,

Bernhard

From: Sriraman M S ***@***.***>
Sent: Monday, October 11, 2021 8:48 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: bhaidacher ***@***.***>; Mention
***@***.***

[2021-10-11 18:13] markjjo commented on #6455
@lsteinbat Thanks for feedback. As per my testing, Get-MailboxSearch is still available in EXO PowerShell (it's a read-only cmdlet) to get info about In-Place Holds that may have been created before they were deprecated. Only write-able action would be remove the hold using Remove-MailboxSearch. Primarily a scenario for managing inactive mailboxes that were made inactive by using In-Place Holds. Y

[2021-10-11 18:14] #4259 closed

[2021-10-12 10:45] Wh00T opened #6575 "Mail-enabled security groups as data locations?"
The docs state that only individual mailboxes and distribution groups are supported as data locations:
_Type into the search box the name or alias (a minimum of three characters) of user mailboxes or distribution groups_

The wizard allows me to select mail-enabled security groups & M365 groups as well, I'm curious if they are supported and just missing in this documentation?

---
#### Document De

[2021-10-12 11:19] yogkumgit commented on #6536
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bityob Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-10-12 12:44] msbemba commented on #6553
@desinnic Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/6578

Thanks
Sri

[2021-10-12 12:53] msbemba commented on #6554
@linx-collin Thank you for your feedback. When you click on Admincenters-->Exchange, You should ideally be redirected to https://admin.exchange.microsoft.com/ as this is the new Exchange admin center, If you are still seeing the classic admin center, you can click on New Exchange admin center and follow the instructions. The classic admin center should no longer be the default page when you click

[2021-10-12 12:56] msbemba commented on #6545
@vianeyhm Thank you for your feedback. The DLP for on-prem file servers is no longer in Preview and is available for GA. The corrections have been made in the document and should not reflect as a preview anymore.

Thanks
Sri

[2021-10-12 14:45] elegault opened #6579 "Issues using New-OrganizationAddIn with SSO-enabled Outlook add-in"
The `New-OrganizationAddIn` cmdlet doesn't work reliably when attempting to deploy an SSO-enabled Outlook add-in:

1. After the `New-OrganizationAddIn` cmdlet is run, the following text is sometimes not output to the console and the script appears to hang until the ENTER key is hit multiple times:

2. The page that is launched in a browser (/ServicesAndAddIns) appears to be incorrect

What is expe

[2021-10-12 21:20] tanjoht opened #6581 "Manually submit false negative phishing email timelines"
How long does it take for a user reported email sent to phish@office365.microsoft.com before the email shows up under the "Submissions" page in the Microsoft 365 Defender portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b12c078-eccb-7786-dec6-ea1bdb91d088
* Version Independent ID: aa1e8002-a8db-383e-cbeb-abf92c0

[2021-10-12 22:34] #2618 closed

[2021-10-13 00:19] rbishop-etq opened #6583 "Please separate out the section for skype from teams"
Please separate the Skype for Business and Teams section. We are trying to move AWAY from skype and ensure all employees are on teams, so it would be very helpful if you indicated the differences so we can block the skype-only domains to ensure nobody is using that product anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-10-13 00:29] hishikitetsuya opened #6584 "Missing UDP requirement for Exchange Online"
There are no UDP requirements for Exchange Online. The current table is below.

    ID | Category | ER | Addresses | Ports
    --- | --------------------------------------------------------------- | --- | ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2021-10-13 02:53] TinaMcN commented on #6343
@TomoharuMisawa 記事は現在、人間によって翻訳されています。 問題が解決したかどうか確認してください。(The article is now translated by a human.  Can you please check to see if the problem is fixed now? )

[2021-10-13 06:28] desinnic commented on #6553
Hi Sriraman

I have just reviewed the updated document but I still see the Asterix on the command below which seemed to cause the download to fail.

Without it the Asterix it worked

wget --quiet -O XMDEClientAnalyzer.zip https://aka.ms/XMDEClientAnalyzer *

Kind Regards

Dean

Dean Sinnick
Support Escalation Engineer | Apps & Infra | Security - Microsoft Defender for Endpoint
Customer Service & S

[2021-10-13 15:09] msbemba commented on #4810
@twernermsft  I'm able to locate the "Custom app launcher tiles".

![image](https://user-images.githubusercontent.com/45987684/137161100-32f53025-b1e5-4d17-b0a2-84f717051bf4.png)

@jgriff500 I'm able to look at the option currently. Could you please check again? If it does not show up, I'd recommend you contact Microsoft support via the need help link on the admin center to check if there is an is

[2021-10-13 21:10] MathameticaKen opened #6592 "KB4645768 is not available"
On Windows Server 2012 R2, Network Events may not populate in the timeline. This issue requires a Windows Update KB4645768 released as part of the October 12th patch Tuesday.

This Patch is not available or at least I cannot retrieve from Windows Update Catalog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77c40dd-e