[2021-06-25 19:46] msbemba commented on #5377
@michaelvgibson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5452

Thanks
Sri

[2021-06-25 19:47] msbemba commented on #5380
@Atreidae Thank you for your feedback. We have fixed the link internally and it routes to the correct page now.

Hope this helps!
Thanks
Sri

[2021-06-25 19:49] msbemba commented on #5385
@MrAzureAD Thank you for your feedback. You are correct! The document has been updated and does not state the global admin requirement anymore.

Hope this helps!
Thanks
Sri

[2021-06-25 20:09] msbemba commented on #5373
@redmondChris Thank you for your feedback. I have added  Office 365 A3 and A5(Faultly) to the document as i can see the option to Purchase extra file storage on them. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5454

Once the author verifies and approves, the changes will be live.

Thanks
Sri

[2021-06-25 20:51] haydanbarry opened #5456 "Cloud Teams"
This page needs information about which of the 3 location options includes Teams chat data? (Teams person to person chat data). Its unclear if content search can be used to retrieve this information. Can it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04e514aa-9f04-5cc9-93f6-9f5f2f614c2a
* Version Independent ID: de

[2021-06-25 21:13] markjjo commented on #5456
@haydanbarry Yes you can. Information about searching Teams in is this topic: https://docs.microsoft.com/en-us/microsoft-365/compliance/content-search-reference?view=o365-worldwide#searching-microsoft-teams-and-microsoft-365-groups

1:1 and 1:N Teams chat data is stored in the mailboxes of the chat participants. Teams channel chat messages are store in the mailbox associated with the Team.

To ret

[2021-06-25 21:13] #5456 closed

[2021-06-25 22:01] nhogarth86 commented on #5400
Sorry you can close this. I was referring to the wrong doc. I meant https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/control-usb-devices-using-intune?view=o365-worldwide#use-microsoft-defender-for-endpoint-baseline-settings

[2021-06-25 22:04] nhogarth86 opened #5458 "Old screenshot of Microsoft Defender Baseline in Intune"
The screenshot under the "Use Microsoft Defender for Endpoint baseline settings" section is old. The new baseline does not contain "Device control"

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/control-usb-devices-using-intune?view=o365-worldwide#use-microsoft-defender-for-endpoint-baseline-settings

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-06-25 23:16] MarkF26 commented on #5398
Thanks, that helps.

[2021-06-26 02:19] chrisbues opened #5464 "Instructions and screenshots still show the old Security and Compliance Center."
Content needs to be updated to reflect the new experience customers are being prompted to switch to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad1c5a0b-ea21-d3bb-f1e7-6d0c199734a3
* Version Independent ID: 1d2b5a8f-cf03-2f92-051e-a9cb24c91040
* Content: [Configure Microsoft 365 Defender pillars for the trial lab o

[2021-06-26 08:34] Babygitzy100 opened #5469 "micrisoft"
I love how Microsoft has how to videos. they are so easy to understand.  thank you Microsoft!
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f18d8345-78f3-0b16-f585-1e53f49d138f
* Version Independent ID: 015e98be-2db5-11a3-9abc-6f89b44c3f96
* Content: [About admin roles in the Microsoft 365 admin

[2021-06-28 05:04] j1151300783 opened #5470 "How to set the max page size to 1000?"
Maximum page size of the API Request(such as List Machines) is 10,000.
How to set the max page size to 1000?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 07828149-8c9b-2b6f-b5f6-9558cfcfa650
* Version Independent ID: 2101b098-7da1-86ca-6a31-fddfa7a5cb62
* Content: [List machines API](https://docs.microsoft.com/en-us/

[2021-06-28 07:54] schmurky commented on #4211
I checked TVM and according to [this](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/tvm-supported-os?view=o365-worldwide ) you should be able to see server 2016 and 2019. PM advised opening a support case so it can be investigated.

[2021-06-28 10:50] siosulli commented on #5450
This looks to be a duplicate of
https://github.com/MicrosoftDocs/microsoft-365-docs/issues/5262

If not, please re-open with more details!

Thanks,
Sinead

[2021-06-28 10:50] #5450 closed

[2021-06-28 12:05] yogkumgit commented on #5408
@msbemba Thank you very much for the contribution and sharing this explanation. @sebhe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 12:05] #5408 closed

[2021-06-28 12:07] yogkumgit commented on #5402
@msbemba Thank you very much for the contribution and sharing this explanation. @GeorgHue Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 12:07] #5402 closed

[2021-06-28 12:09] #5400 closed

[2021-06-28 12:11] ssmiller60 opened #5471 "Microsoft Defender Antivirus OR Microsoft Defender for Endpoint"
Microsoft Defender Antivirus and Microsoft Defender for Endpoint are 2 **separate** products as mentioned here:
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/why-use-microsoft-defender-antivirus?view=o365-worldwide

This article says, Applies to: Microsoft Defender for Endpoint
BUT
Isn't it actually an article about: Microsoft Defender Antivirus

The "Applies to" sectio

[2021-06-28 12:21] yogkumgit commented on #5398
@msbemba Thank you very much for the contribution and sharing this explanation. @MarkF26 If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 12:21] #5398 closed

[2021-06-28 12:25] yogkumgit commented on #5380
@msbemba Thank you very much for the contribution and sharing this explanation. @Atreidae Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 12:25] #5380 closed

[2021-06-28 12:29] yogkumgit commented on #5385
@msbemba Thank you very much for the contribution and sharing this explanation. @MrAzureAD Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-28 12:29] #5385 closed

[2021-06-28 12:35] yogkumgit commented on #4211
@johnB007 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We

[2021-06-28 12:35] #4211 closed

[2021-06-28 15:46] jaimeo commented on #5418
@mertenar has a whole set of updates and articles coming to address this.

[2021-06-28 15:46] #5418 closed

[2021-06-28 15:46] jaimeo commented on #5417
@mertenar has a whole set of updates and articles coming to address this.

[2021-06-28 15:46] #5417 closed

[2021-06-28 16:34] new-kirte opened #5475 "Wrong URL config.office.com"
[Enter feedback here]

URL config.office.com does not exist in https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?redirectSourcePath=%252farticle%252fOffice-365-URLs-and-IP-address-ranges-8548a211-3fe7-47cb-abb1-355ea5aa88a2&view=o365-worldwide. The correct URL is ***.config.office.net** and is included in the rule 128.
---
#### Document Details

⚠ *Do not edit th

[2021-06-28 17:56] SengU87 opened #5476 "Additional info that doesn't get affected by password expiration policy"
It seems that password expiration is not enforced if you use a FIDO2 key or the Microsoft Authenticator app to log in instead of typing the password, it completely bypass the password change screen that enforces the password expiration. There are probably other ways that are affected if users do not type in their password.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-06-28 18:30] FlynnLives opened #5477 "365 group creation management script does not work"
When running the script after installing the powershell module azureadpreview

https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups?view=o365-worldwide

` Get-AzureADDirectorySetting : The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included,

[2021-06-28 18:40] FlynnLives commented on #5477
Similar issue, but same issue after trying to force the preview module to load instead of the non preview module

[2021-06-28 21:51] danmyhre opened #5480 "Outlook"
This page is not complete. It doesn't mention the impact on the address book in Outlook desktop and OWA. Both are inconsistent in how they hide / show the policy blocked users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a69504d-a89f-5545-3f8f-0573c928d67f
* Version Independent ID: 2f42eaa3-a159-31de-a9d5-19762d34b

[2021-06-28 21:54] danmyhre opened #5481 "Missing details on impact on Bing search for work"
People search on bing is also impacted and not mentioned in this article

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a69504d-a89f-5545-3f8f-0573c928d67f
* Version Independent ID: 2f42eaa3-a159-31de-a9d5-19762d34bc5a
* Content: [Learn about information barriers in Microsoft 365 - Microsoft 365 Compliance](https://do

[2021-06-29 10:14] heikobischoff opened #5486 "Verify vanity domain with MX record - misleading recommendation"
Feedback for this section:
https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider?view=o365-worldwide#verify-with-an-mx-record

The MX records priority must be the highest value to avoid mail routing issues as stated.

The article recommends the following values for the MX record:

Record Type: MX
Priority: Set to the highest value

[2021-06-29 14:33] yogkumgit commented on #5377
@msbemba Thank you very much for the contribution and updating the documentation with PR. @michaelvgibson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-29 14:33] #5377 closed

[2021-06-29 14:36] yogkumgit commented on #5409
@msbemba Thank you very much for the contribution and updating the documentation with PR. @michaelvgibson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-29 14:36] #5409 closed

[2021-06-29 14:38] yogkumgit commented on #5369
@msbemba Thank you very much for the contribution and updating the documentation with PR. @VDMT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-29 14:38] #5369 closed

[2021-06-29 14:41] yogkumgit commented on #5356
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Beschorr Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-29 14:41] #5356 closed

[2021-06-29 15:16] ahmetarslan2020 opened #5490 "Bookings is stuck on a deleted booking calendar"
[Enter feedback here]

We deleted the bookings calendar but user still sees it when logins into the bookings web app. Also, the User cannot add a new bookings calendar. Notting comes out from the search when trying to open a new calendar.  It looks like is stuck on a deleted booking calendar. Tried with a private/incognito browser nothing comes out from the search.

Please advice.
---
#### Documen

[2021-06-29 16:24] ggarruba opened #5491 "Product Naming"
"Microsoft 365 Defender architecture" section has a few inconsistencies in product naming.
In this illustration: "Microsoft 365 Defender for Office 365" should be "Microsoft Defender for Office 365"

Two instances of "Microsoft Defender" should be "Microsoft 365 Defender" unless you are including references to Azure Defender, which I didn't see.

[Enter feedback here]

---
#### Document Details

⚠

[2021-06-29 16:39] jonwbstr opened #5492 "Group Policy requires ASR Guids"
Hello,

I found the instructions in the "[Group Policy](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/enable-attack-surface-reduction#group-policy)" section, then had to go back to my search engine to find the GUIDs needed to configure the policy. Please add a link to this list of Attack Surface Reduction rules. Thanks!

https://docs.microsoft.com/en-us/microsoft-365/se

[2021-06-29 18:32] nalhemyariirexorg commented on #5490
I would love to hear the resolution, we're facing the same issue in my tenant?

[2021-06-29 18:33] nalhemyariirexorg commented on #5490
Also I hope the answer won't be create a new booking to get out of the stuck deleted one!

[2021-06-30 00:33] alanbmhs opened #5497 "This isn't clear enough"
Hi,

In the manually upgrading the key section, I'm not sure how to proceed. We have the default DKIM setup, i.e. we chose to do nothing (Tip You can choose to do nothing about DKIM for your custom domain too...), so does that translate to 'we already have DKIM configured' and should follow commands for that scenario as in:

Rotate-DkimSigningConfig -KeySize 2048 -Identity {Guid of the existing Si

[2021-06-30 03:54] mengpinhung opened #5498 "This is very unclear on license part"
Hello team,
please kindly make below statement CLEAR.
"Configuring and using the expiration policy for Microsoft 365 groups requires you to possess but not necessarily assign Azure AD Premium licenses for the members of all groups to which the expiration policy is applied."
It is very confused -> Do i need AADP license or not?

Please make it clear enough as a official document reference.

thanks!

[2021-06-30 08:07] thevon opened #5499 "Incorrect URL provided for mailbox import process"
This article incorrectly states the URL for importing mailboxes as "https://compliance.microsoft.com", however the correct URL to use for this process is actually "https://protection.office.com/"

The remainder of the instructions appear to be correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4271558-62a9-db3c-0

[2021-06-30 08:14] #5499 closed

[2021-06-30 09:25] yogkumgit commented on #5419
@soupman98 Please indicate which document you are referring to. Thanks

[2021-06-30 09:30] yogkumgit commented on #5433
@rconiv Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it as here, we are limited to documentation fixes and improvements only. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-30 09:30] #5433 closed

[2021-06-30 14:30] digitalzomb opened #5500 "Defender for Endpoint onboarding might be innaccurate"
On this page...
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/switch-to-microsoft-defender-onboard?view=o365-worldwide#onboard-devices-to-microsoft-defender-for-endpoint
...there appears to be some discrepancy.

On this section for Windows Server 2019 and later, Windows Server 2019 core edition, Windows Server version 1803 and later it does not mention Azure Defender /

[2021-06-30 14:32] #5500 closed

[2021-06-30 14:32] digitalzomb commented on #5500
Closing for submitting incorrectly

[2021-06-30 14:32] digitalzomb opened #5501 "Possible Onboarding Methods missing"
On this section for Windows Server 2019 and later, Windows Server 2019 core edition, Windows Server version 1803 and later it does not mention Azure Defender / Security Center as a way to onboard these server version, I would assume that if these are available in Azure, they would be available to onboarded on the Azure Defender / Security Center methods.

Also, it is quite unclear which methods wo

[2021-06-30 14:38] dodge1350-frp opened #5502 "Connection to what to run the powershell example provided?"
I can't tell you how disappointed I am to view the powershell examples provided in absolutely every powershell example that requires a connection to something before the powershell can be performed.  In each and every case, the connection to use the powershell is ommitted, as if everyone is supposed to know organically what the connection should be to for the powershell to run.  With all the diffe

[2021-06-30 14:55] D4m4 opened #5503 "Add a note to the table of capabilities per supported operating systems"
While TMV covers a wide range of features in down-level OS it is also not clear from the table in (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/tvm-supported-os?view=o365-worldwide#capabilities-per-supported-operating-systems-os-and-platforms) that there are certain features that are not supported in down-level OS.

For ex.  scid-2012 as per the MDE portal "This securi

[2021-06-30 16:02] msbemba commented on #5428
@ekston Thank you for your feedback. We have updated the document with the correct rss feed URL -https://docs.microsoft.com/api/search/rss?search=%22features+are+generally+available+%28GA%29+in+the+latest+release+of+Microsoft+Defender+for+Endpoint%22&locale=en-us&facet=

This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5504

Thanks
Sri

[2021-06-30 16:10] rtpHarry commented on #1521
OK I thought I was being dumb but having to set up powershell and start messing with that sucks. I normally use Google Workspace and its a few clicks to get the DNS records I have to add. This needs to make it into the new security admin panel asap.

[2021-06-30 16:30] ceaton001 opened #5505 "Update text on CSV file"
[Enter feedback here] In the section about the CSV it would be worth highlighting that the file should never be edited with Excel as it may corrupt the file data. Also, to make sure that any leading zeroes are preserved in the device serial numbers.
(I have had several customers trip up on these points).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-06-30 16:32] ceaton001 opened #5506 "Update CSV file guidance"
[Enter feedback here] In the section about the CSV it would be worth highlighting that the file should never be edited with Excel as it may corrupt the file data. Also, to make sure that any leading zeroes are preserved in the device serial numbers.
(I have had several partners trip up on these points).

Also, the comment about using a different Get-AutopilotInfo.ps1 is no longer true as csv forma

[2021-06-30 16:41] testad opened #5507 "Akamai now replaced by Azure for O365 Private CDN?"
M365 Admin Message Center Post MC236026 "Changes to private Content Delivery Networks (CDN)", confirmed that Akamai was expected to be replaced by Azure CDN for Office 365 (Private CDN only). The timeline in the message center post confirmed completion by June.

Would be great if someone can confirm that if this is completed and update the CDN origins on this page.

Many thanks!

---
#### Document

[2021-06-30 16:42] denisebmsft commented on #5501
Hello @digitalzomb and thank you so much for your feedback. I am looking into this and will post an update here soon. Appreciate you raising this to our attention!

[2021-06-30 16:54] markjjo commented on #5502
@dodge1350-frp Thanks for feedback. Auditing article makes it clear that cmdlets are run in EXO powershell. I will look into adding link to the connection topic. We try to avoid including the  actual connection steps in topic and just [link to topic with the connection steps](https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-online-powershell?view=exchange-ps). This allows u

[2021-06-30 16:54] #5502 closed

[2021-06-30 17:23] dodge1350-frp commented on #5502
Great, since this isn't going to be addressed, who should I create a ticket with for each event I encounter so I can get results quicker than I am today?  I don't have the luxury of spending boatloads of time trying to figure out how to connect to something via powershell when it should be readily provided in the powershell example.

[2021-07-01 01:49] cmcatee-MSFT commented on #5203
@yogkumgit I've been working with internal support and with @simionea directly to get this resolved. Investigation is still ongoing.

[2021-07-01 02:43] meahesachin opened #5511 "I have followed the instructions and continue to receive the error."
[Enter feedback here]

I have followed the instructions and continue to receive the error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00421a8e-42cf-c393-f91d-da1b7d7cc7da
* Version Independent ID: de00b816-762d-2171-eb7f-1ce6a55ec189
* Content: [Getting a mailbox not found error in Outlook on the web - Microsoft 36

[2021-07-01 09:13] bowlerma opened #5521 "Allow setting password expiration policy on other platforms"
Is there a way of setting the password expiration policy that doesn't rely on a Windows only PowerShell module?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f52c6916-7e79-9a9c-b7a6-47041ddb81e3
* Version Independent ID: 43c9b873-d354-d814-3065-1e8832361b86
* Content: [Set an individual user's password to never expire

[2021-07-01 09:26] PehDeh opened #5522 ""Define the maximum size of downloaded files and attachments to be scanned" Max Filesize missing"
What is the Defaultsze if you do not configure this setting. It´s missing on the website and in the ADMX-Template
"Define the maximum size of downloaded files and attachments to be scanned"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88462853-9de7-d95d-37bc-a34cb58d45ba
* Version Independent ID: 495ad6de-ff5b-ea4b-e

[2021-07-01 11:31] yogkumgit commented on #5373
@msbemba Thank you very much for the contribution and sharing this explanation. @redmondChris Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-01 11:31] #5373 closed

[2021-07-01 11:37] yogkumgit commented on #4867
@msbemba Thank you very much for the contribution and sharing this explanation. @friek108 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-01 11:37] #4867 closed

[2021-07-01 22:27] TinaMcN opened #5529 "Guest Sharing article includes incomplete sentence."
The localization vendors noticed that this sentence appears to be incomplete:
"For each specified group, you can choose of those users can share with Anyone links."

Should it include "which" or some other alteration so the sentence makes sense?
"For each specified group, you can choose **which** of those users can share with Anyone links."

![image](https://user-images.githubusercontent.com/53281

[2021-07-01 22:33] MikePlumleyMSFT commented on #5529
@TinaMcN, yes, it should include "which."

[2021-07-02 12:42] yogkumgit commented on #5481
@robmazz Please help us in resolving this issue. Thanks

[2021-07-02 12:44] yogkumgit commented on #5480
@robmazz Please help us in resolving this issue. Thanks

[2021-07-02 12:45] yogkumgit commented on #5431
@KCCross Please help us in  resolving this issue. Thanks

[2021-07-02 12:46] yogkumgit commented on #5412
@cabailey Please help us in resolving this issue. Thanks

[2021-07-02 22:06] tomresing opened #5534 "Switch from Google Workspace should consider using SharePoint Migration Manager"
Migrate [Google files to Microsoft 365 for business](https://docs.microsoft.com/en-us/microsoft-365/business-video/moveto-microsoft-365/mover-migrate-files?view=o365-worldwide) in the Switch from Google Workspace to Microsoft 365 might need an update. I see that it was authored in January. [Migrate Google Workspace to Microsoft 365 with Migration Manager](https://docs.microsoft.com/en-us/sharepoin

[2021-07-03 21:06] nakamae1983 opened #5535 "audit log was not enabled by default."
[Enter feedback here]
I get some new tenants, but the audit log was not enabled by default.

Is the explanation reversed?

Auditing must be enabled as in "Turn on auditing".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f6aa9c0c-c1ba-a464-3724-2060b61df19b
* Version Independent ID: 1d2e74f1-d2b8-6cdf-a9ea-e5d9f67a35b0

[2021-07-05 07:47] msbemba commented on #5395
@neumarke You will have to sign in to Canvas and then integrate it with Azure using the steps mentioned here -https://docs.microsoft.com/en-us/microsoft-365/lti/teams-classes-with-canvas?view=o365-worldwide#microsoft-office-365-admin

It is not an enterprise application that is available to add in the Azure, If at all you are searching for this application directly on Azure.

Hope this helps!

[2021-07-05 07:58] msbemba commented on #5475
@new-kirte Thank you for your feedback. You are right, the correct URL is present in Rule 128 and the document does not refer to config.office.com.

Hope this helps!

Thanks
Sri

[2021-07-05 08:07] msbemba commented on #5486
@heikobischoff Thank you for your feedback. When the validation MX record is set to 0, it has the highest priority so there should not be any mail routing issues. I don't think it is misleading as the Microsoft recommended priority for MX record is 0.

Hope this helps!

Thanks
Sri

[2021-07-05 08:08] msbemba commented on #5490
@ahmetarslan2020 Thank you for your feedback. I was not able to reproduce the problem and this seems like a bug in the tenant. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide).

[2021-07-05 14:23] ahmetarslan2020 commented on #5490
Hello Sri,

Thanks for checking that!. I have submitted a service ticket to Microsoft Office 365 Team.

Ahmet Arslan

[2021-07-05 14:39] msbemba commented on #5498
@mengpinhung Thank you for your feedback. As an Admin, when you set up the Expiration policy for groups you will need AADP licenses, however, it is not needed for all members of the group.

Hope this helps!

Thanks
Sri

[2021-07-05 15:58] msbemba commented on #5497
@alanbmhs Thank you for your feedback.

You are correct, we have changed the ps cmdlet to reflect -enabled to $true. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5539

Meanwhile for your custom domain, you dont need to do either of Rotate-DkimSigningConfig  or New-DkimSigningConfig. Microsoft 365 creates a private and public key pair, enables DKIM signing, an

[2021-07-05 16:04] msbemba commented on #5477
@FlynnLives Thank you for your feedback. Once the module is installed, Can you try to Connect-AzureAD and then try to execute Get-AzureADDirectorySetting? This could also happen if the connect-azureAd cmdlet did not execute as a part of the script.

Hope this helps!

Thanks
Sri

[2021-07-05 16:10] msbemba commented on #5419
@soupman98  Thank you for your feedback. From the information provided, I assume you are referring to https://docs.microsoft.com/en-us/microsoft-365/managed-desktop/intro/roles-and-responsibilities?view=o365-worldwide
There is a whole set of articles and updates coming to this document.

@yogkumgit There are no changes required at the moment.

Thanks
Sri

[2021-07-05 16:15] mroussel opened #5540 "Incorrect method of configuring static proxy for Microsoft Defender for Endpoint on Linux"
This issue relates to an improvement in the documentation to the URL:
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-static-proxy-configuration?view=o365-worldwide#post-installation-configuration

To configure the proxy, the documentation asks to set the HTTPS_PROXY environment variable in the Defender for Endpoint service file. Concretely, the documentation ask to

[2021-07-05 19:56] #5428 closed

[2021-07-05 19:57] ekston commented on #5428
Awesome news. Thank you for the update.

[2021-07-06 00:24] mengpinhung commented on #5498
Please update the article if possible

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Sriraman M ***@***.***>
Sent: Tuesday, July 6, 2021 12:39 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] This is very unclear on license part (#5498)

@mengpinhung<https://na01.safelinks.protection.outlook.com/?url=https%3A%

[2021-07-06 03:16] hyoshioka0128 opened #5542 "[LOC]Fixed inappropriate japanese "「セキュリティ Connectコンプライアンス センター PowerShell &」"→"セキュリティ & コンプライアンス センター PowerShell に接続する" (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/microsoft-365/enterprise/cmdlet-references-for-microsoft-365-services?&view=o365-worldwide#sharepoint-online-powershell-cmdlets"
![cmdlet-references-for-microsoft-365-services_j](https://user-images.githubusercontent.com/40815708/124536745-79ad8980-de53-11eb-9190-8f60e6c61db7.png)

en-us:"https://docs.microsoft.com/en-us/microsoft-365/enterprise/cmdlet-refer

[2021-07-06 07:19] heikobischoff commented on #5486
@msbemba I do not agree. Setting the priority for MX record to 0 for the validation record will definitively break your mail routing.

Additionally, the admin center team do not recommend to set the value to 0 as well:
![image](https://user-images.githubusercontent.com/34372415/124558708-30e9d680-de3b-11eb-92b2-c0665d560aa0.png)

[2021-07-06 07:26] msbemba commented on #5432
@motoki1 Thank you for your feedback. The document now states the outlook desktop app instead of the outlook web app(which was incorrect). Hope that helps!

Thanks
Sri

[2021-07-06 07:28] msbemba commented on #5436
Changed from Enter the file name and location of the shared WindowsDefenderATPOnboardingScript.cmd file.

TO: Enter the NetBIOS path to the shared WindowsDefenderATPOnboardingScript.cmd file.

[2021-07-06 07:29] msbemba commented on #5436
@JohanFreelancer9 please copy review

[2021-07-06 07:30] msbemba commented on #5436
@Rodwhite Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5543

Thanks
Sri

[2021-07-06 07:59] msbemba commented on #5486
@heikobischoff Thank you for your feedback. There was confusion on my end about the MX priority for email routing. Looks like we are talking about verifying the domain, so you are definitely right. I'll make the changes accordingly.

[2021-07-06 08:19] D4m4 opened #5545 "Offboarding server 2019 (ASC Integration)"
Clearer instructions for **offboarding Server 2019 which has been onboarded using the ASC integration.** The information there is vague and does not clarify that for servers onboarded via the ASC integration the offboarding method is the same as win10 - local script, there is nothing that suggest otherwise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-07-06 08:20] yogkumgit commented on #5542
@TinaMcN Please help us in resolving this issue. Thanks

[2021-07-06 08:25] AndersMaletzki opened #5546 "The requirements is not correct any more"
Hello

The requirements is not correct any more. They package name is now Microsoft E5 Securtiy
![ms](https://user-images.githubusercontent.com/43332520/124567342-339cf980-de44-11eb-86f9-318277babbdf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba0e285e-07c9-e98f-d96b-668a82b4b9fa
* Version Independent ID: 52fde

[2021-07-06 09:12] yogkumgit commented on #5490
@msbemba  Thank you very much for the contribution and sharing this explanation. @ahmetarslan2020 thanks for opening a service ticket in please follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We

[2021-07-06 09:13] #5490 closed

[2021-07-06 09:39] yogkumgit commented on #5399
@denisebmsft Please help us in resolving this issue. Thanks

[2021-07-06 12:23] BenMartinBaur opened #5547 "Update the content from WVD to AVD"
The article is written for Windows Virtual Desktop and the product got renamed to Azure Virtual Desktop.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38e59489-cf97-ea8b-40b6-0ab7c299ea17
* Version Independent ID: 9fe50747-84c3-aabb-f98a-ef0a77721136
* Content: [Onboard Windows 10 multi-session devices in Windows Virt

[2021-07-06 12:29] Ronsss opened #5548 "Duplicate entries in the product list"
the product list has duplicate entries for:
.  *  Office 365 A3
.  *  Office 365 A5
.  *  Office 365 E3
.  *  Office 365 E5

Are you missing some products?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 805a04c5-96c4-ee47-7746-3105e0b7fc45
* Version Independent ID: 9efa7447-6731-6435-d4fc-8ba81344e85a
* Content: [Under

[2021-07-06 14:24] msbemba commented on #5425
@koulchi Thank you for your feedback. According to the roadmap the feature is supposed to be released in July 2021. I have updated the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5549

More information about the roadmap can be found here -https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=Sending%2Cemail%2Cfrom%2Calias

Thanks
Sri

[2021-07-06 15:18] TinaMcN commented on #5542
@hyoshioka0128 thanks for reporting the issue.  I sent the article for human translation.

[2021-07-06 15:42] cabailey commented on #5412
Yes, looking into this

[2021-07-06 16:08] healthrage opened #5552 "No Roles in JWT"
[Enter feedback here]
Hello! I am running the code block as written to generate a token to use for Defender API's but it is not being generated with roles or a scope so I can't run any commands with the token. I am have no idea what I could be missing since I followed the exact directions from the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2021-07-06 16:52] cmcatee-MSFT commented on #5548
@Ronsss Which duplicates are you referring to? Are you interpreting Microsoft 365 E3 and Office 365 E3 as being the same? If so, they're not. The products named Office 365 are separate from the ones named Microsoft 365, this includes A3 & A5, and E3 & E5.

[2021-07-06 16:52] #5548 closed

[2021-07-06 17:12] twernermsft commented on #5534
@Efren ***@***.***> something to think about with the Google Workspace > M365 migration content?

From: Tom Resing ***@***.***>
Sent: Friday, July 2, 2021 3:07 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Tom Werner ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/microsoft-365-docs] Switch from Google Workspace should consider using SharePoint Migration Manager (#5534)

Migr

[2021-07-06 19:18] #5552 closed

[2021-07-06 21:06] msbemba commented on #5470
@j1151300783 Thank you for your feedback. I looked into this issue for you, and it seems like there isn't currently a way to do this. To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365) and the product team (if this looks like a good idea) will implement a way to achieve this.

[2021-07-06 21:10] msbemba commented on #5471
@ssmiller60 Thank you for your feedback. We have added Microsoft defender antivirus to the applied to section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5557

Thanks
Sri

[2021-07-06 21:15] msbemba commented on #5448
@gigabit-jack Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5559

Once the author approves the PR, the document will be live.

Thanks
Sri

[2021-07-06 21:19] msbemba commented on #5439
@grryf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5560

Once the author approves, you will see the changes reflect in the document.

Thanks
Sri

[2021-07-06 21:21] msbemba commented on #5438
@Burn907 Thank you for your feedback.  I looked into this issue for you, and it seems like there isn't currently a way to do this. To make sure that your feedback gets routed to the appropriate team, please post it on the Microsoft 365 Q&A portal and the product team (if this looks like a good idea) will implement a way to achieve this.

Hope this helps!

Thanks
Sri

[2021-07-06 21:25] msbemba commented on #5427
@DeanGross Thank you for your feedback. There is another document that talks about Configuring Vulnerability email notifications -https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-vulnerability-email-notifications?view=o365-worldwide

I have added this to the related topics via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5562

Thanks
Sri

[2021-07-06 22:43] Ronsss commented on #5548
Right you are.  Blame marketing ...
.
 I foolishly ass-umed that when MS (dis)"improved"  the bundle name from
"Office" to "Microsoft" they were consistent and did it for all bundles.
Silly me. (stupid change, I have a whole rant about using the name
"Mircosoft 365...")

Now that you pointed it out I found this page that shows Office 365 E3 is
still offered
https://www.microsoft.com/en-us/microsof

[2021-07-07 08:11] yogkumgit commented on #5425
@msbemba Thank you very much for the contribution and updating the documentation with PR. @koulchi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-07 08:11] #5425 closed

[2021-07-07 08:22] yogkumgit commented on #5534
@efrene Please help us in resolving this issue. Thanks

[2021-07-07 08:25] yogkumgit commented on #5436
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Rodwhite Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-07 08:25] #5436 closed

[2021-07-07 08:27] yogkumgit commented on #5302
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AlexJerabek Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-07 08:27] #5302 closed

[2021-07-07 12:57] Rodwhite commented on #5436
It looks like the change was made under the Offboarding section but NOT under the Onboarding process.
Step 8 on both processes:

Onboarding states:  (Still wrong)
Enter the file name and location of the shared WindowsDefenderATPOnboardingScript.cmd file.

Offboarding states:  (Corrected)
Enter the NetBIOS path of the shared WindowsDefenderATPOffboardingScript_valid_until_YYYY-MM-DD.cmd file.

From

[2021-07-07 13:45] thiboog opened #5567 "Requirements for Endpoint DLP"
Hi,

It seems AD joined is sufficient for Endpoint DLP to work. Why is it listed the device need to be Hybrid Azure AD Joined or Azure AD joined for Endpoint DLP to work ?

We should indicate AD joined device is enough, if not explain why.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0ac0e1-6f08-2f8b-10c7-a967e5388

[2021-07-07 13:48] TobiasAT opened #5568 "Preferred contact method Email is missing"
I recently saw for a new support request the preferred contact method Email is missing for a specific account. The account can just select phone. The account is Global Admin. Other accounts see both options. I have no clue why Email is missing just for one account. Any ideas?

Regards
Tobias

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-07-07 21:18] jreyes4949 opened #5572 "Policy Tip shown for rule with no policy tip"
We have a policy that alerts users and blocks access when 5 or PII is found, we have a low severity rule that covers 0-4. User alerts are not enabled in our 0-4 policy. when crafting an email with 5 or more unique instances of PII we get the policy tip as expected, but if we craft an email with 5 instances of 1 unique PII our users get the policy tip even though the policy it triggers is the low s

[2021-07-07 21:23] msbemba commented on #5371
@lars-whta Thank you for your feedback. I'm working internally with the team and will update you shortly.

Thanks
Sri

[2021-07-07 21:39] msbemba commented on #5436
@Rodwhite Thank you for the feedback. I have updated the onboarding steps as well now via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5573

Thanks
Sri

[2021-07-08 00:09] ckssaas opened #5574 "Critical information missing regarding Microsoft 365 Group member types"
Hello,

I hope the documentation team will take this request seriously. There is some VERY important information missing from Microsoft 365 Group aka Unified Group documentation:

There are limitations about which recipient type can be members of Unified Groups. There is also a restriction that keeps Unified Groups from being members of traditional security and distribution groups. This is REALLY

[2021-07-08 05:30] yogkumgit commented on #5427
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-08 05:30] #5427 closed

[2021-07-08 05:33] yogkumgit commented on #5448
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gigabit-jack Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-08 05:33] #5448 closed

[2021-07-08 05:36] yogkumgit commented on #5439
@msbemba Thank you very much for the contribution and updating the documentation with PR. @grryf Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-08 05:36] #5439 closed

[2021-07-08 05:43] yogkumgit commented on #5371
@kwekuako Please help us in resolving this issue. Thanks

[2021-07-08 08:11] CristianDEA opened #5576 "Picutre still show old naming convention ATP P1 and P2"
[Enter feedback here]
Please update the picture reference design with MDO P1 and MDO P2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3369738b-f096-6c2e-22d4-ee79057997c7
* Version Independent ID: d3fce773-a1e8-193a-b4fa-7f71b9ac3ea4
* Content: [Office 365 Security, Microsoft Defender for Office 365, EOP, MSDO - Offic

[2021-07-08 12:18] akamarvin opened #5578 "missing tasks.office.com , to open Planner in Teams"
[Enter feedback here]
Hi,
I think this helpful list of endpoints list is missing
  tasks.office.com:443
which is accessed whenever you try to open a Planner view from a Teams channel.
And for that same important matter (Planner) ,
   dc.services.visualstudio.com:443
also seems not so optional, as entry 75 would let you believe.

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this se

[2021-07-08 14:28] MartaRosaGomes opened #5579 "Please review "To update your phone number and email address" section of the article"
Hi team,

In the section "To update your phone number and email address"  the steps to change the phone number and email address don't replicate on Support's side in CMAT and thus sometimes it's difficult to entitle an Admin due to this.
The way an Admin can edit any User's info in the admin center in a way that would be replicated on Support's side in CMAT are:

To change the alternative email ad

[2021-07-08 14:37] Bievens opened #5580 "Schema ActionType AmsiContent"
Unable to locate ActionType "AmsiContent" in the schema. Is this actiontype not available to advanced hunting?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc9f0472-a1fe-8d1e-f081-fd3c97bbfc92
* Version Independent ID: ddc56801-5d2f-cef2-c6fe-3360368088fa
* Content: [Data tables in the Microsoft 365 Defender advanced

[2021-07-08 19:08] tapanm-MSFT opened #5582 "Ported from https://github.com/MicrosoftDocs/powerapps-docs/issues/2480"
feedback from: https://github.com/MicrosoftDocs/powerapps-docs/issues/2480

------------------------------
Could you please add the blue "Important" or purple "Note" tag to the following paragraph on this page:

"If a user is defined in multiple policies of the same type, only the policy with the highest priority is applied to them. Any remaining policies of that type are not evaluated for the use

[2021-07-08 22:12] mimikantor opened #5586 "Add ability to set increments based on the top of the hour and the 30 minute mark"
I have bookings set to display meetings in 30 minute increments with no buffer. Someone else has put a meeting on my calendar that ends at 10:25 which then throws off the rest of the meetings until the next one that ends at 1:30. In this image you see the 10:25 and then each 30 minute period is off by 5 minutes until it's reset based on my calendar. This isn't what I want to have happen. I want pe

[2021-07-08 23:09] JustinGrote opened #5588 "Use modern Mg Graph cmdlets"
Azure AD API will be end of support in 1 year.
https://techcommunity.microsoft.com/t5/azure-active-directory-identity/update-your-applications-to-use-microsoft-authentication-library/ba-p/1257363

The example should be updated to both:
1. Use the Microsoft Graph Powershell SDK
1. Teach the user to build a function so that they can reuse the function easier later

Here is a function to simplify thi

[2021-07-09 09:36] msbemba commented on #5437
@AndrewRobinsonSKEDA Thank you for your feedback. To edit the SPF record, click on the domain instead of selecting Manage DNS-->You can then right-click on the ellipse next to TXT and edit the record

![image](https://user-images.githubusercontent.com/45987684/125057776-39eed800-e0c7-11eb-9da4-1d2dd9d383ad.png)

Hope this helps!
Thanks
Sri

[2021-07-09 09:39] msbemba commented on #5476
@SengU87 Thank you for your feedback. We are working on this internally and will update you shortly.

Thanks
Sri

[2021-07-09 14:05] AlexanderSaad-Crayon opened #5591 "Incorrect text"
Under the section "Azure External collaboration settings" the screenshot of the available Azure collaboration settings -> "Guest Invite settings" shows the actual options in the portal. However, the instructions bellow are incorrect:

_Click External identities.
On the Get started screen, in the left navigation pane, click External collaboration settings.
Ensure that Admins and users in the guest

[2021-07-09 16:00] msbemba commented on #5572
@jreyes4949 Thank you for your feedback. Could you please provide the Document that you are referring to, so we can investigate and update the information?

Thanks
Sri

[2021-07-09 19:35] markjjo commented on #4372
@Ofer-Gal Added RBAC roles required to view and manage alert policies. Updated article will be published by end of day.

[2021-07-09 19:35] #4372 closed

[2021-07-09 19:40] markjjo commented on #5535
@nakamae1983 The documentation is up-to-date. For new tenants, would suggest that you verify that auditing is enabled.

We've added a section in the topic about doing this: https://docs.microsoft.com/en-us/microsoft-365/compliance/turn-audit-log-search-on-or-off?view=o365-worldwide#verify-the-auditing-status-for-your-organization

[2021-07-09 19:40] #5535 closed

[2021-07-11 02:40] AndrewRobinsonSKEDA commented on #5437
Yes, thanks, I worked it out eventually but the documentation could be improved, hence my feedback

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sriraman M S ***@***.***>
Sent: Friday, July 9, 2021 7:37:00 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Andrew Robinson ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-do

[2021-07-11 16:56] Ronsss opened #5594 "How many devices for business users?"
Please clarify the number of devices business users can install on. The way this page is written suggests either 10 or 15 devices.
This video implies 10 devices https://www.youtube.com/watch?v=ahhajwWQtUw  Video: 1min

Do business users have same 5 device limit as consumers?
Or do they have the right to install on 5 devices in each of 2 classes?
ie 5 PC / Macs / Tablets and 5 phones
Or do they hav

[2021-07-11 18:15] msbemba commented on #5586
@mimikantor Thank you for your feedback. Since you have 30 minutes increments with no buffer then it would start showing options from 10:25. The best way is to update the meeting to 30 minutes instead of 25 so that the rest of the slots show up as expected.

Hope this helps!

Thanks
Sri

[2021-07-11 18:20] msbemba commented on #5582
@tapanm-MSFT Thank you for the feedback. The document has been updated via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5595. Once the author approves this change, you will be able to see the updates in the document.

Thanks
Sri

[2021-07-11 18:27] msbemba commented on #5437
@AndrewRobinsonSKEDA Thank you for the response. This document has only technical information about How SPF prevents Spoofing, so we could not add information about how to add or edit SPF records on the admin center.

Hope this helps!

@yogkumgit  There are no changes required in this document.

Thanks
Sri

[2021-07-11 18:31] msbemba commented on #5371
@lars-whta Thank you for your feedback. We worked with author or the engineering team and the changes have been made to the admin center. This could take a week or two to reflect in the M365 admin center.

Thanks again for providing your valuable feedback.

@yogkumgit You can close the issue as the updates have been pushed in the backend to the Admin center by the author.

Thanks
Sri

[2021-07-11 18:52] mimikantor commented on #5586
It’s not my meeting so I can’t update it. I was invited it to it. Seems like a use case worth looking at for you. Many people schedule their meetings to have 5 minutes left at the end.

Mimi Kantor | she/her(s)

Digital Project Manager, Customer Experience | Mass.gov<http://mass.gov/>

1 Ashburton Place, 8th Floor, Boston, MA 02108<x-apple-data-detectors://1/0>

Cell: (646) 554-9965<tel:(646)%2055

[2021-07-12 10:52] StobR opened #5599 "Spelling mistake"
Point 3 under 'Set strong passwords' should read:

You can turn **OFF** strong password requirements for specific users with this command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be4677b-4f4c-5447-4af6-bd773b485051
* Version Independent ID: 0fc99a74-53c8-d9c7-b4ae-58adee1d48db
* Content: [Turn off strong passwor

[2021-07-12 13:05] yogkumgit commented on #4123
@cmcatee-MSFT Please merge this PR. Thanks

[2021-07-12 13:08] yogkumgit commented on #4367
@LauraWi Gentle reminder, please reply.

[2021-07-12 13:09] yogkumgit commented on #4429
@cmcatee-MSFT Gentle reminder, please reply. Thanks

[2021-07-12 13:11] yogkumgit commented on #4572
@KCCross Please help us in resolving this issue. Sent a request through email also. Thanks

[2021-07-12 13:13] yogkumgit commented on #4735
@LauraWi Gentle reminder. Please.

[2021-07-12 13:14] yogkumgit commented on #4810
@twernermsft Gentle reminder, please reply. Thanks

[2021-07-12 13:23] yogkumgit commented on #5100
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2021-07-12 13:29] MikePlumleyMSFT commented on #5574
@ckssaas the limitations for migrating to Microsoft 365 groups are covered in [Upgrade distribution lists to Microsoft 365 Groups in Outlook](https://docs.microsoft.com/microsoft-365/admin/manage/upgrade-distribution-lists). Let us know if you find that anything's missing there. @kwekuako fyi.

I'll note in [Compare groups](https://docs.microsoft.com/microsoft-365/admin/create-groups/compare-group

[2021-07-12 13:31] yogkumgit commented on #5262
@Dansimp  Gentle reminder, please reply. Thanks

[2021-07-12 13:32] yogkumgit commented on #5278
@AshaIyengar21 Gentle reminder, please reply. Thanks

[2021-07-12 13:52] msbemba commented on #5579
@MartaRosaGomes Thank you for your feedback. The document pertains to adding an alternate phone number or email address and these are the methods to contact admin when they reset the password. I can confirm that this is the right way to do it, I would request you to check internally to see why the details are not syncing with CMAT.

Hope this helps!

Thanks
Sri

[2021-07-12 13:53] yogkumgit commented on #5395
@msbemba Thank you very much for the contribution and sharing this explanation. @neumarke Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 13:53] #5395 closed

[2021-07-12 13:57] yogkumgit commented on #5371
@msbemba Thank you very much for the contribution and sharing this explanation. @lars-whta Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 13:57] #5371 closed

[2021-07-12 14:01] yogkumgit commented on #5497
@msbemba Thank you very much for the contribution and sharing this explanation. @alanbmhs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 14:01] #5497 closed

[2021-07-12 14:06] yogkumgit commented on #5477
@msbemba Thank you very much for the contribution and sharing this explanation. @FlynnLives Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 14:06] #5477 closed

[2021-07-12 14:08] msbemba commented on #5522
@PehDeh Thank you for your feedback. We have made the changes in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5600

Thanks
Sri

[2021-07-12 14:09] msbemba commented on #5572
@jreyes4949  Thank you for your feedback. You are correct  DLP policy looks at unique counts and not instances when determining the sensitive info threshold. Could you please provide the document that you are referring to so we can ensure it is up to date?

Thanks
Sri

[2021-07-12 14:13] yogkumgit commented on #5470
@msbemba Thank you very much for the contribution and sharing this explanation. @j1151300783 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 14:13] #5470 closed

[2021-07-12 14:14] msbemba commented on #5547
@BenMartinBaur Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5601

Thanks
Sri

[2021-07-12 14:15] yogkumgit commented on #5438
@msbemba Thank you very much for the contribution and sharing this explanation. @Burn907 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 14:15] #5438 closed

[2021-07-12 14:21] yogkumgit commented on #5437
@msbemba Thank you very much for the contribution and sharing this explanation. @AndrewRobinsonSKEDA Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 14:21] #5437 closed

[2021-07-12 14:24] yogkumgit commented on #5432
@msbemba Thank you very much for the contribution and sharing this explanation. @motoki1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 14:24] #5432 closed

[2021-07-12 14:26] yogkumgit commented on #5419
@msbemba Thank you very much for the contribution and sharing this explanation. @soupman98 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-12 14:26] #5419 closed

[2021-07-12 14:33] ckssaas commented on #5574
Hi @MikePlumleyMSFT,

After re-reading both the articles you have linked I still disagree that the Microsoft 365 Group group nesting limitations have been made explicitly clear.

I agree that the limitations of upgrading groups is very clear in the Upgrade article. However, I would argue that the topic of "upgrading groups" vs. the topic of "group limitations" are independent topics. Without descr

[2021-07-12 14:35] msbemba commented on #5546
@AndersMaletzki Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5602

Thanks
Sri

[2021-07-12 14:40] msbemba commented on #5498
@mengpinhung Thank you for your feedback. The below statement in the document is very clear.

Configuring and using the expiration policy for Microsoft 365 groups requires you to possess but not necessarily assign Azure AD Premium licenses for the members of all groups to which the expiration policy is applied.

Hope this helps!

Thanks
Sri

[2021-07-12 14:44] msbemba commented on #5491
@ggarruba Thank you for your feedback.  The Evaluation document has been merged with the overview document here- https://docs.microsoft.com/en-us/microsoft-365/security/defender/overview-security-center?view=o365-worldwide

Hope this helps!

@yogkumgit The document has been merged with the overview document and the issue can be closed.
Thanks
Sri

[2021-07-12 15:02] msbemba commented on #5511
@meahesachin Thank you for your feedback. The issue could happen if there are any objects or aliases blocking the mailbox from being provisioned. Generally, if it is a new user, assigning the license should take care of the provisioning. However, in your case if it still has not been solved and if you are continuing to receive the error in the outlook web app, I'd recommend contacting Microsoft Su

[2021-07-12 15:20] msbemba commented on #5529
@TinaMcN Thank you for your feedback. We have made changes to the document via PR#5603

Thanks
Sri

[2021-07-12 15:38] msbemba commented on #5521
@bowlerma Thank you for your feedback. Yes, you can set the policy from the M365 Admin center but if you would like to use the never expire attribute on the policy it can be only performed via powershell.

If you would like to setup a password expiration policy via the M365 admin center, Below are the steps

Follow the steps below if you want to set user passwords to expire after a specific amount

[2021-07-12 15:41] msbemba commented on #5568
@TobiasAT Thank you for your feedback. I was able to test it with/without a license assigned to a Global and could not replicate the issue. DId you get a chance to test it via another browser or maybe in-private mode?

Hope this helps!

Thanks
Sri

[2021-07-12 15:54] MikePlumleyMSFT commented on #5574
@ckssaas I've submitted updates to [Compare groups](https://docs.microsoft.com/microsoft-365/admin/create-groups/compare-groups) to call out the nesting limitations and link to the upgrade article. They should be published in the next day or so. [Learn about Microsoft 365 Groups](https://support.microsoft.com/office/b565caa1-5c40-40ef-9915-60fdb2d97fa2) is aimed at end users rather than admins, so

[2021-07-12 15:55] JoeDavies-MSFT commented on #5100
@jpringle03 The link in that section is for https://download.microsoft.com/download/7/1/E/71EF1D05-A42C-4A1F-8162-96494B5E615C/msoidcli_32bit.msi, which is a valid download. Can you clarify? Thanks

[2021-07-12 16:37] msbemba commented on #5576
@CristianDEA THank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5604

Once the author approves the changes will reflect in the document.

Thanks
Sri

[2021-07-12 17:49] LauraWi commented on #4735
Issue opened with docs platform team.

[2021-07-12 17:49] msbemba commented on #5503
@D4m4 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5605

Thanks
Sri

[2021-07-12 18:56] chrisda commented on #5582
PR approved.

Thanks for the feedback.

Closing

[2021-07-12 18:56] #5582 closed

[2021-07-13 06:45] AlexPan0310 commented on #4965
Hi @yogkumgit  and @chrfox Any update for this request?

[2021-07-13 07:10] yogkumgit commented on #5507
@LauraWi Please help us in resolving this issue. Thanks

[2021-07-13 07:14] yogkumgit commented on #5540
@Dansimp Please help us in resolving this issue. Thanks

[2021-07-13 07:16] yogkumgit commented on #5545
@mjcaparas Please help us in resolving this issue. Thanks.

[2021-07-13 07:17] yogkumgit commented on #5578
@LauraWi Please help us in resolving this issue. Thanks

[2021-07-13 07:19] yogkumgit commented on #5588
@MikePlumleyMSFT Please help us in resolving this issue. Thanks

[2021-07-13 07:39] yogkumgit commented on #5546
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AndersMaletzki Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-13 07:39] #5546 closed

[2021-07-13 07:44] #5491 closed

[2021-07-13 07:49] #5529 closed

[2021-07-13 07:59] yogkumgit commented on #5503
@msbemba Thank you very much for the contribution and updating the documentation with PR. @D4m4 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-13 07:59] #5503 closed

[2021-07-13 14:06] msbemba commented on #5100
@JoeDavies-MSFT Looks like the link has been updated now. Thank you.

@yogkumgit The document has been updated in the backend. Please close the issue.

[2021-07-13 14:08] msbemba commented on #5586
@mimikantor Thank you for your response. I'll test this in the lab and provide an update.

[2021-07-13 14:21] msbemba commented on #5580
@Bievens Thank you for the feedback. I was not able to locate "AmsiContent" in the schema and I don't see them in any of the reference documents for advanced hunting. So, I'd say this action type is not available for advanced hunting. If you'd like to see this action type in the schema,  you can provide feedback to help improve a Microsoft product! To make sure that your feedback gets routed to th

[2021-07-13 16:26] jreyes4949 commented on #5572
I was in this article originally but not sure if that's the right place. https://docs.microsoft.com/en-us/office365/troubleshoot/data-loss-prevention/data-loss-prevention-policy-tips

essentially in my testing i'm finding that policy tips are appearing for duplicate instances of sensitive info types we check instead of just unique counts and requires users to report before being allowed to send th

[2021-07-13 16:40] JustinGrote opened #5610 "Out of dATE"
This information appears out of date, there is no "Products" tab on the cost management + billing pane anymore and thus I cannot find how to delete a subscription
https://docs.microsoft.com/en-us/microsoft-365/commerce/close-your-account?view=o365-worldwide#step-3-delete-all-disabled-subscriptions
![image](https://user-images.githubusercontent.com/15258962/125491908-94417ef4-4f7e-4927-9db7-67326e6

[2021-07-13 19:30] mjcaparas commented on #5545
added links to offboarding.

[2021-07-13 19:30] #5545 closed

[2021-07-13 20:09] TinaMcN commented on #5529
@msbemba @yogkumgit thanks very much for your help!

[2021-07-14 01:19] cabailey commented on #5412
This isn't as simple as it first sounds - technically, only the Name property is required for import.  Then there are some conditional dependencies (if you specify one optional property, another becomes required), and in one case there's a cascading dependency.  I've addressed these with both a new Required column and additional text in the description.  Let me know if this is helpful!

[2021-07-14 01:30] anthonynz opened #5617 "Threat Explorer link does not work"
The instructions under [View details about spoofed messages](https://docs.microsoft.com/microsoft-365/security/office-365-security/learn-about-spoof-intelligence#view-details-about-spoofed-messages) fail to work.

Following this link takes you to the security.microsoft.com "Explorer" page, which only shows Malware and Phish options, and displays no spoofed messages.

<https://security.microsoft.co

[2021-07-14 05:19] yogkumgit commented on #5100
@msbemba Thank you very much for the contribution and sharing this explanation. @jpringle03 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 05:19] #5100 closed

[2021-07-14 05:26] yogkumgit commented on #5471
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssmiller60 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 05:27] #5471 closed

[2021-07-14 05:32] yogkumgit commented on #5522
@PehDeh Changes are not approved by PM, closing this issue. Thanks. @msbemba Let the PM to decide, they have the big picture. Thanks for your contribution.

[2021-07-14 05:35] #5522 closed

[2021-07-14 05:43] yogkumgit commented on #5412
@nanoonan538 Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 05:43] #5412 closed

[2021-07-14 05:51] yogkumgit commented on #5498
@msbemba Thank you very much for the contribution and sharing this explanation. @mengpinhung Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 05:51] #5498 closed

[2021-07-14 05:54] yogkumgit commented on #5475
@msbemba Thank you very much for the contribution and sharing this explanation. @new-kirte Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 05:55] #5475 closed

[2021-07-14 06:02] yogkumgit commented on #5359
@siosulli Please help us in resolving this issue. Thanks

[2021-07-14 06:57] yogkumgit commented on #5476
@kwekuako Please help us in resolving this issue. Thanks

[2021-07-14 07:03] yogkumgit commented on #5580
@msbemba Thank you very much for the contribution and sharing this explanation. @Bievens Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:05] yogkumgit commented on #5579
@msbemba Thank you very much for the contribution and sharing this explanation. @MartaRosaGomes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:05] #5579 closed

[2021-07-14 07:07] yogkumgit commented on #5568
@msbemba Thank you very much for the contribution and sharing this explanation. @TobiasAT Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:08] #5568 closed

[2021-07-14 07:10] yogkumgit commented on #5521
@msbemba Thank you very much for the contribution and sharing this explanation. @bowlerma Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:10] #5521 closed

[2021-07-14 07:12] yogkumgit commented on #5511
@msbemba Thank you very much for the contribution and sharing this explanation. @meahesachin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-14 07:12] #5511 closed

[2021-07-14 07:19] MiyukiAmino opened #5618 "Would be nice if you could add a table describing the differences."
Hello, teams. This page is very useful and our CSS teams often refer the customer to this page.
Could you please add the information in a table format so that we can see the difference at a glance?

This is very simple sample:

|  |Microsoft 365 groups |Distribution groups|Security groups | Mail-enabled security groups| Shared mailboxes|
|---|---|---|---|---|---|
| Mail available |true|true|false|

[2021-07-14 07:23] TobiasAT commented on #5568
I still have the issue (was busy for the last days). Private mode does not help. It's also just in one tenant.

![image](https://user-images.githubusercontent.com/7470044/125580470-0e36e921-e92b-406d-8ca4-83d5ac8cb493.png)

[2021-07-14 09:37] msbemba commented on #5568
@TobiasAT Thank you for the response. I'd recommend you contact Microsoft support and have them check in the backend. I have tested multiple tenants and could not reproduce the issue, so this could be an issue related to the account/tenant.

If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-vi

[2021-07-14 10:08] schmurky commented on #5580
@bievens for additional guidance, not all ActionTypes are documented, only tables and column names are. Kindly check inside the portal under DeviceEvents for AmsiContent.

[2021-07-14 10:09] #5580 closed

[2021-07-14 10:35] siosulli commented on #5359
Hi @yogkumgit

Just to confirm - is this a duplicate of https://github.com/MicrosoftDocs/microsoft-365-docs/issues/5262?

I will take a look and see if we can resolve this so we can close both issues.

Thanks
Sinead

[2021-07-14 10:55] msbemba commented on #5359
@siosulli That is correct. It is a duplicate of 5262.

Thanks
Sri

[2021-07-14 13:53] nanoonan538 commented on #5412
Thank you! This was a request on behalf of a customer and will help reduce time/avoid error. We appreciate your quick response!

[2021-07-14 13:53] bubhat opened #5619 "Clarification needed"
In the below article it says Defender for Office 365 is available in G5 licenses
https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licensing-guidance#which-licenses-provide-the-rights-for-a-user-to-benefit-from-the-service-3

But in this article it says Microsoft

[2021-07-14 18:16] wbach82 opened #5622 "Clarification needed * Auto-labeling isn't currently available in all regions."
https://docs.microsoft.com/en-us/microsoft-365/compliance/apply-sensitivity-label-automatically?view=o365-worldwide#compare-auto-labeling-for-office-apps-with-auto-labeling-policies

regarding "* **Auto-labeling isn't currently available in all regions**. If your tenant can't support this functionality, the Auto-labeling tab isn't visible in the admin labeling center."

Can you please describe in

[2021-07-14 19:18] surje23 commented on #5316
Any progress?

Thank you,
Stephen Jordan

From: Denise Vangel-MSFT ***@***.***>
Sent: Monday, June 14, 2021 11:09 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: S Jordan ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [MicrosoftDocs/microsoft-365-docs] How to put Windows Defender Antivirus in Passive Mode on Server 2019 (#5316)

Hello @surje23<https://url.emailprotection.link/

[2021-07-15 00:10] LauraWi commented on #4273
Engineering has been engaged.

[2021-07-15 00:10] #4273 closed

[2021-07-15 00:17] LauraWi commented on #3701
Engineering initiated updates are pending.

[2021-07-15 00:17] #3701 closed

[2021-07-15 07:09] s-ACS opened #5625 "Commands not available in linked Exchange Online PowerShell module"
Hi Team,
The PS commands
 New-DkimSigningConfig
and
 Get-DkimSigningConfig
mentioned in the "Manual Custom Domain Setup  - Publish two CNAME records for your custom domain in DNS" section are not included in the ExchangeOnlineManagement module per "Connect to Exchange Online PowerShell".

How can we execute these PS commands to generate the selector records?
 New-DkimSigningConfig
 Get-DkimSigning

[2021-07-15 08:11] wbach82 commented on #5622
@cabailey you have added the footnote. maybe you can give some insights? Thanks

https://github.com/MicrosoftDocs/microsoft-365-docs/commit/0267f1705924ac79f894e8131de73423a662c60e#diff-f3dbfc61c7742bb4929275af8c9951049f73a4db10a77121c2ea3ead7d32a59e

[2021-07-15 08:34] andreasvogt89 opened #5626 "Example URI 3 & 4 does not work"
Hello guys,

 I just tried to use the example URL 3 & 4 and run in:
`Invalid Instance string specified or ClientRequestId not specified in the Url. Documentation is available at http://aka.ms/ipurlws`

I removed `amp;` from the URI and it worked properly. So I gues this is a mistake :)
![image](https://user-images.githubusercontent.com/30302212/125755441-43f983c2-9c8c-4deb-8c5e-1b13fc7588e8.png)

[2021-07-15 12:31] linx-collin opened #5628 "Where's the "Initiate Sign-out" section?"
[Enter feedback here]
The instructions on this page doesn't mention signing the user out of all the products. When you block the account, if they happen to be logged in to Teams or something they can still use it for some time. If it's a disgruntled employee this can be quite contentious. In the Old admin console, you could go into the OneDrive settings and initiate a Sign-out which would disconne

[2021-07-15 12:36] siosulli commented on #5359
Thank you reporting this issue!

This link is no longer a valid link. The Junk Email Reporting add-in is now an Outlook native experience.

The article with this link has now been removed.  It will redirect to https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/enable-the-report-message-add-in?view=o365-worldwide which is the recommended method for reporting messages.

@yog

[2021-07-15 14:10] joergrenn opened #5631 "Comprehensive List when license is needed"
As a customer I am having a hard time to figure out when a Shared mailbox needs a license.
Can you provide, or refer to ,a comprehensive list when a shared mailbox in O365 needs a license.
The note on this page saying:

Is too unclear.

Could you also clarify what means: "automatic" retention policies
Where is the difference between an automatic retention policy and a (regular) retention policy I

[2021-07-15 15:53] chrisda commented on #4908
@sinnamingrrl, that safety tips topic has been removed, since there is overwhelming evidence that the "Enable safety tips" setting in anti-spam policies (which this topic was based on back in 2017) apparently does nothing anymore, and there basically are no more safety tips as described in the topic.

However, in anti-phishing policies, there are specific safety tips that are alive and well, and e

[2021-07-15 15:53] #4908 closed

[2021-07-15 17:52] Strick1969 opened #5632 "Giphy not listed in urls"
[There should be a listing for giphy.com under the URL section for Microsoft Teams. If the customer has this url blocked they will not be able to use them.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Offi

[2021-07-15 18:12] msbemba commented on #5572
@jreyes4949 Thank you for the response. I was not able to reproduce this in my test lab as the "5 unique" works. This could be a bug on the tenant or a widespread issue with a subset of tenants, so the best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en

[2021-07-15 18:16] jreyes4949 commented on #5572
5 unique works, but 5 instances of a single unique value also triggers the policy tips.

So for example we expect this to trigger policy tip:
A
B
C
D
E

But we’re also seeing this trigger a policy tip.
A
A
A
A
A

Hope that makes sense. I can open a ticket but I wonder if it’s just a logic bug across the board.

Thanks,
José Reyes
Information Security

From: Sriraman M S ***@***.***>
Date: Thursday

[2021-07-15 19:37] jonwbstr opened #5634 "Update how to enable litigation hold"
The current steps say to use the classic exchange admin center (eac). Is that still the recommended approach or should we be using the new compliance center (https://compliance.microsoft.com)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff3e4302-c038-67aa-eb29-8b01c7fc4ed6
* Version Independent ID: 680317f5-19be-726

[2021-07-15 21:45] msbemba commented on #5464
@chrisbues Thank you for the feedback. We are working on updating the document with new screenshots and navigation steps.

Thanks
Sri

[2021-07-16 00:25] LauraWi commented on #5626
PR merged.

[2021-07-16 00:25] #5626 closed

[2021-07-16 06:27] yogkumgit commented on #5359
@anthonynz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-16 06:27] #5359 closed

[2021-07-16 06:32] yogkumgit commented on #5262
Duplicate #5359

[2021-07-16 06:32] #5262 closed

[2021-07-16 08:03] msbemba commented on #5599
@StobR Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5637

Thanks
Sri

[2021-07-16 08:08] msbemba commented on #5594
@Ronsss Thank you for your feedback. Each person can install Office on up to five PCs or Mac, five tablets, and five phones. They cannot exceed 5 on any of the classes mentioned above.

I.e  5 PC / Macs and 5 Tablets and 5 phones

Hope this helps!

Thanks
Sri

[2021-07-16 08:19] msbemba commented on #5591
@AlexanderSaad-Crayon Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5638

Once the PR is approved by the author the document will be live.

Thanks
Sri

[2021-07-16 08:23] msbemba commented on #5610
@JustinGrote Thank you for your feedback. I was able to navigate to the products page on the M365 admin center to cancel M365 subscriptions. Looks like you are on the Azure Page trying to cancel an Azure subscription, If that is the case Please follow the document which talks in detail about Cancelling subscription in the Azure portal -https://docs.microsoft.com/en-us/azure/cost-management-billing

[2021-07-16 08:30] msbemba commented on #5619
@bubhat Thank you for your feedback. As mentioned in this document Microsoft  Defender for 365 is not available for GCC customers yet.  We will work internally to fix the documentation on the other document -https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licens

[2021-07-16 08:37] msbemba commented on #5625
@s-ACS Thank you for your feedback. I have been able to test the cmdlets on the new module, as the document states Once you are connected to the Exchange online module, you should be able to run the New-DkimSigningConfig and Get-DkimSigningConfig cmdlets.

Hope this helps!

@yogkumgit There are no changes required in the document for now.

Thanks
Sri

[2021-07-16 08:50] msbemba commented on #5506
@ceaton001 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5639

Once the author approves PR, the changes will be live.

Thanks
Sri

[2021-07-16 08:53] msbemba commented on #5505
@ceaton001 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5640

Thanks
Sri

[2021-07-16 09:18] msbemba commented on #5572
@jreyes4949 Yes, I mean 5 unique works and 5 instances regardless of unique count does not trigger the tip. I'd recommend you contact Microsoft Support and if you feel there are changes required in the document post the support experience, let us know.

Thanks
Sri

[2021-07-16 09:25] msbemba commented on #5586
@mimikantor Thank you for your feedback. I was able to reproduce the issue, so it looks like it is by design since you have 30 minutes increments with no buffer.

 We handle the documentation part and if you feel there are modifications required in this document, we will be glad to make those changes. But this is more of a support/Design request to Microsoft and The best way to get your issue reso

[2021-07-16 09:32] msbemba commented on #5458
@nhogarth86 Thank you for your feedback. We have removed the Old screenshot from the document as the option is no longer available in Baseline settings. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5641

Thanks again for your valuable feedback.

Thanks
Sri

[2021-07-16 10:13] msbemba commented on #5464
@chrisbues Thank you for your feedback. This document has been removed and more details about setting up defender can be found here - https://docs.microsoft.com/en-us/microsoft-365/security/defender/?view=o365-worldwide

Thanks
Sri

[2021-07-16 10:25] Ronsss commented on #5594
Thank you for the confirmation of what I thought.

Now can you get MS to update all of the MS documentation to reflect what
you just said?  Particularly the sales pages, since they are the first
place users look. This is a significant difference from 365 consumer, so
the "natural" assumption is that both 365 consumer and business is the
same.

On Fri, Jul 16, 2021 at 3:08 AM Sriraman M S ***@***.*

[2021-07-16 11:00] msbemba commented on #5594
@Ronsss Thank you for the quick response. Would you be able to help us with the link where it says this incorrectly? This channel is to fix issues with this particular document, however, if you can provide the URL for documents that have incorrect information I shall try to route it to the correct team.

Thanks
Sri

[2021-07-16 11:03] yogkumgit commented on #4515
@MSFTTracyP Please help us in resolving this issue. Thanks

[2021-07-16 11:06] yogkumgit commented on #5618
@MikePlumleyMSFT Please help in resolving this issue. Thanks

[2021-07-16 12:41] Ronsss commented on #5594
Start with this search:
https://duckduckgo.com/?t=ffab&q=buy+365+business&ia=web
most of the links have the vague info.
.
Do the net searches for the search string I identified in the original
report.
I've identified an issue for free, you are paid to fix it ...

This is up to you, try using Bing search ... right Bing is useless

On Fri, Jul 16, 2021 at 6:00 AM Sriraman M S ***@***.***>
wrote:

[2021-07-16 13:00] msbemba commented on #5594
@Ronsss Thank you for the quick response. As mentioned earlier, we handle issues or modifications only on this repository and I'll update the concerned team about fixing the vague information on other support/sales documents.

Thanks
Sri

[2021-07-16 13:47] JustinGrote commented on #5610
@msbemba I think you're right, my bad! Apologies

[2021-07-16 13:47] #5610 closed

[2021-07-16 14:07] natlims18 opened #5642 "Import PST files to mailbox"
Could you explain to me if when I upload PST files to users mailbox, the pst files use the size of mailbox available? For example, I have an user that have 30 GB available in size mailbox, if I upload a pst file of 20GB the user will be mailbox size available 10GB?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f9f87

[2021-07-16 16:31] msbemba commented on #5586
@mimikantor Thank you for the response. You are right, we handle the documentation part, so Support would be the best point of contact for bugs or for configuration help.

Thanks
Sri

[2021-07-16 16:32] markjjo commented on #5634
@jonwbstr  Thanks for the heads up. There's not a way to enable lithold in the M365 compliance center. But you can still use classic EAC, the new EAC, the M365 admin center, or EXO PowerShell. I'll update this topic with instructions for using the M365 admin center. In short, go to Users > Active users in the admin center, select a user, and then click the Mail tab on the user properties flyout pa

[2021-07-16 16:32] #5634 closed

[2021-07-16 17:10] Ronsss commented on #5594
Thank you I appreciate that. MS should have a clear and consistent message
to users. Hopefully the other areas will act on the suggestion.

On Fri, Jul 16, 2021 at 8:00 AM Sriraman M S ***@***.***>
wrote:

[2021-07-16 18:24] isaacgandalf opened #5645 "Cannot change URL"
This article states that:
"You can't rename your team site URL. Your team site URL is based on your onmicrosoft.com domain name. Unfortunately, because of the way SharePoint Online architecture works, you can't rename the team site."

However, I saw this article: https://docs.microsoft.com/en-us/sharepoint/tenant-rename

"It's now possible to change the SharePoint domain name for your organization

[2021-07-16 20:56] dmland opened #5647 ""Send us your feedback" link goes to a video, not to feedback"
In the section "[Send us your feedback](https://docs.microsoft.com/en-us/microsoft-365/security/defender/overview-security-center?view=o365-worldwide#send-us-your-feedback)" on the page [Microsoft 365 Defender overview](https://docs.microsoft.com/en-us/microsoft-365/security/defender/overview-security-center?view=o365-worldwide), the link clearly labeled "[send us your Microsoft 365 Defender feedb

[2021-07-17 14:05] jwbqv opened #5654 "On the subscription details page, under Partner information, select Remove."
[There' no "Remove" button where the doc says there should be.   Where is it?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 897c41b0-dbc7-d20f-38df-4fa682c35f6f
* Version Independent ID: a45c19e4-b070-afd1-084b-0f2c2b4b6c9c
* Content: [Add, change, or delete a subscription advisor partner - Microsoft 365 admin](https

[2021-07-18 16:04] ThaungHtaikZan opened #5655 "This app is blocked This app tried to access sensitive info in your Google Account. To keep your account safe, Google blocked this access."
When i Try authorize , I get this error message .
![image](https://user-images.githubusercontent.com/54620266/126074162-33b50f01-6a36-47b0-8f66-9172e4841482.png)

[2021-07-18 16:06] #5655 closed

[2021-07-18 16:08] ThaungHtaikZan opened #5656 "This app is blocked This app tried to access sensitive info in your Google Account. To keep your account safe, Google blocked this access."
When I try authorize the mover app . I get this error message "This app is blocked.This app tried to access sensitive info in your Google Account. To keep your account safe, Google blocked this access"

![image](https://user-images.githubusercontent.com/54620266/126074290-725ed45e-e5fa-4639-980b-dc59da0014cd.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-07-19 05:12] yogkumgit commented on #5594
@msbemba Thank you very much for the contribution and sharing this explanation. @Ronsss Your feedback is passed on to the backend team, they will take an appropriate action. Thank you very much for your active participation. We proceed here to close it. Thanks again for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-19 05:12] #5594 closed

[2021-07-19 05:22] yogkumgit commented on #5586
@msbemba  Thank you very much for the contribution and sharing this explanation. @mimikantor Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you can shar

[2021-07-19 05:22] #5586 closed

[2021-07-19 13:21] Nuclearoption opened #5659 "error in Link"
There is an error in the embedded link as shown in the attached screen shot.  Funny enough, microsoft is misspelled.

![2021-07-19 09_16_29-Set up file storage and sharing - Microsoft 365 admin _ Microsoft Docs](https://user-images.githubusercontent.com/87654084/126166249-5abf0c5f-8bc6-447f-a1bc-75d4b79d1083.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-07-19 15:44] stukey opened #5660 "Please document RBAC permissions required to manage alerts"
Please update the "Managing Alerts" section to document which RBAC permissions are required to manage alerts, e.g. to assign a status to an alert or mark alerts as resolved. The documentation covers the RBAC permissions required to view alerts but it doesn't document the permissions required to manage alerts.

[2021-07-19 16:53] andy-guillen opened #5661 "Confusing information"
Hello!

In the document is stated the below under section "URL syntax for the Tenant Allow/Block List":

"All subpaths are not implied by a right wildcard.
For example, contoso.com/* does not include contoso.com/a."

I assume the dot after the "a" is because the sentence ended, correct?

Later in the article is stated the below under section "URL entry scenarios, Scenario: Right wildcard suffix":

[2021-07-19 17:15] shungite opened #5662 "Typo in link ..."
[Enter feedback here]

There is a typo in this link ...

[Screen.pdf](https://github.com/MicrosoftDocs/microsoft-365-docs/files/6842756/Screen.pdf)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1feb89e6-c5e0-693e-425e-8fd8b0198001
* Version Independent ID: 7b683879-67a9-299a-73e9-6e3654846fdf
* Content: [Set up file s

[2021-07-19 17:25] Eric-Hacker opened #5663 "Service Domain docs are inadequate"
The brief section on Service Domains does not include any information on how the domains should be formatted or what is necessary to match a particular domain. There is not even an example. Based on a prior comment asking for more info, it was noted that wildcards are not supported and that has been added to the page, but there is still no other information.

For instance, if I need to block file

[2021-07-19 19:22] guarismo opened #5664 "Syntax errors in cron jobs"
All crontab entries are wrong and won't work in any of the Linux flavours described
Please correct to:

#!RHEL and variants (CentOS and Oracle Linux)

0 6 * * sun [ $(date +\%d) -le 15 ] && sudo yum update mdatp >> ~/mdatp_cron_job.log

#!SLES and variants

0 6 * * sun [ $(date +\%d) -le 15 ] && sudo zypper update mdatp >> ~/mdatp_cron_job.log

#!Ubuntu and Debian systems

0 6 * * sun [ $(date +\%

[2021-07-19 21:32] ClintSwiney opened #5667 "Need to include scripts for Enabling and Disabling Guest Access as well"
After using the script to disable all groups for Teams there needs to be a way to toggle the setting $true or $false.

I worked with MS to develop the following 2 helper scripts that perform this function:

Enable-TeamsGuestAccess:

[code]

Disable-TeamsGuestAccess:

[code]
IMHO this should be integrated into the documentation for this process.

---
#### Document Details

⚠ *Do not edit this secti

[2021-07-19 21:34] MikePlumleyMSFT commented on #5618
@yogkumgit I added a table to the article and called out that Power Automate can use all of the different group types.

[2021-07-19 21:41] anthonynz commented on #5359
@yogkumgit
Thanks for the update Yogesh,  Can you also please provide a link to the roadmap article about deprecating the old method?

This doesn't seem to have been communicated at all.

[2021-07-19 22:17] MSFTTracyP commented on #592
@Jolco, the only other advice I can give you is to go through Support for these situations. It's a technical issue that  honestly needs a support ticket, and, optionally, a Tech Community thread, rather than to raise this as feedback change needed to the documentation. Unfortunately, the writing team cannot address your issue.

[2021-07-19 22:22] MSFTTracyP commented on #2622
For what?

[2021-07-19 22:28] cabailey commented on #5622
Unfortunately, I don't have insights into the details, because it's an external dependency.  I'm trying to find out if this information is available to customers, in which case I'll add a link for details.  Otherwise, the most accurate statement to publish is what we already have - if your region isn't supported, you won't see the Auto-labeling tab.

[2021-07-20 00:17] chrisda commented on #5661
@andy-guillen, I tried to account for that by using codeInline formatting (shaded gray) to indicate the values. Anything that's not shaded gray is not part of the value:

![image](https://user-images.githubusercontent.com/33166947/126243266-278b3dda-0673-476a-a086-c7730893f2f7.png)

![image](https://user-images.githubusercontent.com/33166947/126243359-827f65e9-32b2-4abd-ab2f-22badd084a4a.png)

Doe

[2021-07-20 01:55] andy-guillen commented on #5661
Hi Chris. Thank you very much for your response. Then the information is confusing because it states

[image]<https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fuser-images.githubusercontent.com%2F33166947%2F126243266-278b3dda-0673-476a-a086-c7730893f2f7.png&data=04%7C01%7Candy%40miami.edu%7C2f04cbe63914478cb97108d94b13bdec%7C2a144b72f23942d48c0e6f0f17c48e33%7C0%7C0%7C63762337045049

[2021-07-20 03:41] anthonynz opened #5671 "Legacy deprecated Per-User MFA clarification required"
Hi there,

Your documentation does not explain per-user MFA deprecation, or why it is referenced as Legacy MFA on some articles and not others.  There is no consistent message and this makes it difficult to explain to our customers that Conditional MFA is the preferred method when your articles don't clearly explain why.

These two issues mention that Per-user MFA (also commonly referred to as Mic

[2021-07-20 05:38] yogkumgit commented on #5660
@stukey Please indicate which document you are referring to. Thanks

[2021-07-20 05:59] stukey commented on #5660
Sorry, I thought that when I clicked "submit and view feedback for this page" button on the doc, it would have automatically included which document I was referring to. The document is "[Alert policies in the Microsoft 365 compliance center](https://docs.microsoft.com/en-us/microsoft-365/compliance/alert-policies?view=o365-worldwide)". Specifically the "Managing Alerts" section of the doc. Thanks.

[2021-07-20 05:59] yogkumgit commented on #5591
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AlexanderSaad-Crayon Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-20 05:59] #5591 closed

[2021-07-20 06:03] yogkumgit commented on #5599
@msbemba Thank you very much for the contribution and updating the documentation with PR. @StobR Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-20 06:03] #5599 closed

[2021-07-20 06:07] yogkumgit commented on #5547
@msbemba hank you very much for the contribution and updating the documentation with PR. @BenMartinBaur Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-20 06:07] #5547 closed

[2021-07-20 06:19] yogkumgit commented on #5618
@MiyukiAmino Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-20 06:26] yogkumgit commented on #2622
@Bertug Please confirm if the issue is still valid else let us know what specifically you expect to be updated? Thanks

[2021-07-20 07:00] MiyukiAmino commented on #5618
Appreciate for your excellent work, @yogkumgit , @MikePlumleyMSFT !
It has become a very useful page, thanks!

[2021-07-20 09:01] wbach82 commented on #5622
thanks a lot @cabailey .. also asked here but got no satisfyingly answer... https://www.yammer.com/askipteam/#/Threads/show?threadId=1285686020857856

[2021-07-20 13:46] msbemba commented on #5662
@shungite Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5674

Thanks
Sri

[2021-07-20 13:49] chrisbuetti-dp commented on #1521
This shouldn't be closed.

[2021-07-20 13:51] msbemba commented on #5664
@guarismo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5675

Once the author approves the PR you will see the changes live in the document.

Thanks
Sri

[2021-07-20 14:07] msbemba commented on #5659
@Nuclearoption Thank you for your feedback.  We have made changes to the document Via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5674

Thanks
Sri

[2021-07-20 14:19] msbemba commented on #5656
@ThaungHtaikZan THank you for your feedback. I was able to test it in the lab and it works without any issues. There are chances that your google settings are blocking any third-party apps- You can view more information here at https://support.google.com/a/answer/7281227?hl=en#zippy=%2Cblock-all-third-party-api-access and allow access to the app.

Hope this helps!

Thanks
Sri

[2021-07-20 14:24] msbemba commented on #5654
@jwbqv Thank you for your feedback. You will not see the delete option you are trying to remove a reseller relationship. If you are trying to remove a reseller, you will have to ask your reseller partner to follow instructions here- https://docs.microsoft.com/en-us/partner-center/remove-a-relationship

If you are trying to remove a partner with the below type and still don't see the delete button,

[2021-07-20 14:29] msbemba commented on #5647
@dmland Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5676

Once the author approves the PR, the document will be live.

Thanks
Sri

[2021-07-20 14:58] msbemba commented on #5645
@isaacgandalf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5678

Once the author approves the PR, the changes will be live.

Thanks
Sri

[2021-07-20 15:05] msbemba commented on #5642
@natlims18 Thank you for your feedback. That is correct, If you have a user that has30 GB storage space available and you upload a pst file of 20GB, the user will have 10GB of free space if the mailbox import is 100% successful. There are chances that there are corrupted or duplicate items in the PST which might fail during the import stage, so there is a chance that the mailbox size could be more

[2021-07-20 15:15] JDFlannery opened #5679 "How do we get access to this?"
I appreciate that this is in preview and isn't available in tenants everywhere but is there an option to opt in to it? We started a Phish security test and I'd love to use the Advanced option to not have to filter out the incidents\alarms this is producing.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17

[2021-07-20 15:15] msbemba commented on #5631
@joergrenn Thank you for your feedback.

1) Shared mailbox (without a license) has a default mailbox size of 50GB, If you would like to increase this limit an Exchange online plan 2 license is required.
2) Microsoft Defender for Office 365, Advanced eDiscovery, or automatic retention policies are a part of the subscription. So If the shared mailbox needs to be used for any of these features you ne

[2021-07-20 15:18] msbemba commented on #5628
@linx-collin Thank you for your feedback. The initiate sign-out is moved to the account tab under users. Click on the Users-->Account tab- Sign out all sessions.

![image](https://user-images.githubusercontent.com/45987684/126350095-f5b7a30f-635d-4359-8eb8-10771215e869.png)

Hope this helps!

Thanks
Sri

[2021-07-20 15:22] linx-collin commented on #5628
Thanks, apologies, I was trying to initiate a sign-out after the user had already been blocked. Hence why the sign-out feature was not showing.

Regards

Collin

________________________________
From: Sriraman M S ***@***.***>
Sent: 20 July 2021 16:19
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Collin Willis ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-doc

[2021-07-20 15:27] msbemba commented on #5628
@linx-collin Thank you for the quick response. Have a nice day.

Thanks
Sri

[2021-07-20 16:23] chrisda commented on #5661
@andy-guillen, OK, I see now. I removed that statement (the first one) because it clearly conflicts with the second statement with multiple examples.

Thanks for the feedback.

Closing

[2021-07-20 16:23] #5661 closed

[2021-07-20 16:40] chrisda commented on #5679
@JDFlannery, I have no real insight into the process, but it is truly a case of "don't call us, we'll call you". Microsoft will approach the tenants that they want to be part of the preview based on some specific criteria (size, industry, use of specific features, previous support cases, etc.).

[2021-07-20 16:45] pmckinstryholyfamilycs opened #5683 "Please explain the "selected" option, not just the "All" option"
The Docs say to select "All" when enabling Self Serve Password Reset". Please describe the other option "Selected". If I specify a group, can that group have groups as members, or does this only apply to direct members of the specified group as in some other areas of Microsoft's products?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-07-20 16:45] theokou opened #5684 "Typos in Page"
A:
Note

Activity alerts are being deprecated. We recommend that you start using alert policies in the security and compliance center instead of creating new activity alerts. Alert policies provide addition functionality such as the ability to create an alert policy that triggers an alert when any user performs a specified activity, and displaying alerts on the View alerts page in the security and

[2021-07-20 17:27] denisebmsft commented on #5684
Hello @theokou! Can you please tell us to which article(s) your feedback applies? I suspect it's in our compliance content, but to be sure, and to route it to the correct writer, it would help to know which article we need to address. Thanks!

[2021-07-20 17:33] theokou commented on #5684
Hi Denise,

I am referring to article "Create activity alerts",  https://docs.microsoft.com/en-us/microsoft-365/compliance/create-activity-alerts?view=o365-worldwide

[2021-07-20 19:08] #2677 closed

[2021-07-20 19:49] MSFTTracyP commented on #4469
It's not possible for us to include steps for every DNS provider in this article, but this is a technical issue and will need a case opened with Cloudflare. You should ask them if they need TXT records or CNAME records in their case. And to spell out the full steps so that you can keep them for your records. Failing that, you may want to open a ticket with Microsoft Support and ask if they can rea

[2021-07-20 19:49] #4469 closed

[2021-07-20 20:56] banhao opened #5688 ""ReportId" in Schema "DeviceAlertEvents" doesn't match "ReportId" in Schema "DeviceFileEvents""
[Enter feedback here]
"ReportId" in Schema "DeviceAlertEvents" doesn't match "ReportId" in Schema "DeviceFileEvents"
Seems they are used to save different Events, but use the same name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9fd21fa-e367-78d4-bc86-80f2b75a64b8
* Version Independent ID: 97a42f10-ba7f-f2d4-6c5c-

[2021-07-20 21:57] Leicham commented on #5683
"Selected" means you can set up SSPR for members of particular Azure AD groups.  You are able to nest the groups, so if you have a main group with a sub-group beneath it, the policy applied to the main group will apply to those in the sub-group as well.

[2021-07-20 22:49] denisebmsft commented on #5316
Hello @surje23. Yes, I have an update. The docs have been updated to do a better job of explaining passive mode on Windows Server and how to set it as such. Please see https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-antivirus-on-windows-server?view=o365-worldwide#need-to-set-microsoft-defender-antivirus-to-passive-mode. Thank you!

[2021-07-20 22:49] #5316 closed

[2021-07-20 22:52] #5664 closed

[2021-07-21 00:15] chrisda commented on #5617
@anthonynz, I updated the statement in the topic to say:

The information is there, but you need to change the view to View \> Phish.

Also, most (virtually all?) of the topics under <https://docs.microsoft.com/microsoft-365/security/office-365-security> were converted/updated from Security & Compliance Center procedures to Microsoft 365 Defender portal procedures by the end of June. Some topics w

[2021-07-21 02:43] BondiChris opened #5695 "Microsoft IPv6 ranges missing from spf.protection.outlook.com"
I am getting compliance issues for messages originating from SYCPR01CA0029.ausprd01.prod.outlook.com (2603:10c6:10:e::17).

None of the 2603:10c6:10::/48 range is included.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dce215c7-f61f-44c5-43c1-2fa1f2a39220
* Version Independent ID: d65a9513-432a-d0fe-1431-da5ad2e631eb

[2021-07-21 03:27] BarryBo opened #5696 "Can I configure Cortana to schedule meetings that start on the :05 and :10?"
My org has standardized on 30 minute meetings starting on the :05, and longer ones on the :10.  Outlook now supports this, and it's great.  Does Cortana?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f868289-23b3-1f57-c698-6e90c71d3a1a
* Version Independent ID: 3fb0cb3a-714c-351c-58dd-acbed8371636
* Content: [Using S

[2021-07-21 07:11] yogkumgit commented on #5662
@msbemba Thank you very much for the contribution and updating the documentation with PR. @shungite Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-21 07:11] #5662 closed

[2021-07-21 07:12] yogkumgit commented on #5659
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Nuclearoption Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-21 07:13] #5659 closed

[2021-07-21 07:22] joergrenn commented on #5631
Hello @msbemba,
thanks for your reply.
Everywhere I look or ask I am told some things that require a license.
What a am looking for is not a summary in a nutshell, I am looking for a comprehensive and complete list of all features that require a shared mailbox to have a license.
best regards
Joerg

[2021-07-21 07:29] adonm opened #5697 "Software Inventory missing certain software like QGIS"
We noted that the DeviceTvmSoftwareInventory in advanced hunting doesn't appear to capture all the software listed on the device > software inventory page (such as QGIS below):

![image](https://user-images.githubusercontent.com/121014/126448895-18694c3f-0058-49ba-8e16-3f3d7f043264.png)

Is there another inventory table or equivalent with Advanced Hunting that includes that information / full soft

[2021-07-21 07:57] matuhinal opened #5698 "No work 2FA"

[2021-07-21 08:00] Andywareaus opened #5699 "Enabled and disabled pictures are the same."
Enabled and disabled pictures are the same.   Disabling the defender interface should change what icons appear.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9870c42b-eede-b869-3d4d-cd2c53be82ed
* Version Independent ID: 8ae67d57-bb69-1e7c-92df-2960e2a2f152
* Content: [Hide the Microsoft Defender Antivirus interface](

[2021-07-21 09:49] BondiChris commented on #5695
I also noticed that the microsoft.com SPF seems to be a mess. The original message purported to have been sent by <quarantine@messaging.microsoft.com> to my O365 mailbox.

[2021-07-21 10:50] teomonda opened #5700 "O365 Storage Add'on no longer visibile in my portal"
I have a test tenant, no CSP or Volume licensing involved and I used to see this license type in Billing.
now it's absent and i was wondering if something may have changed with it.

thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-aced-e2f3-f

[2021-07-21 11:46] schmurky commented on #5688
Can you give me more information @banhao? what do you mean by they are used to save different events but use the same name? DeviceAlertEvents is only available in MDE (if that helps).

[2021-07-21 12:54] yogkumgit commented on #5671
@kwekuako Please help us in resolving this issue. Thanks

[2021-07-21 12:56] yogkumgit commented on #5663
@chrfox Please help us in resolving this issue. Thanks

[2021-07-21 12:57] yogkumgit commented on #5632
@LauraWi Please help us in resolving this issue. Thanks

[2021-07-21 12:58] yogkumgit commented on #5622
@wbach82 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-21 12:58] #5622 closed

[2021-07-21 13:00] yogkumgit commented on #5617
@anthonynz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-21 13:00] #5617 closed

[2021-07-21 13:02] yogkumgit commented on #5574
@ckssaas Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-21 13:02] #5574 closed

[2021-07-21 13:03] yogkumgit commented on #5588
@MikePlumleyMSFT Gentle reminder.

[2021-07-21 13:04] yogkumgit commented on #5578
@LauraWi Gentle reminder.

[2021-07-21 13:05] yogkumgit commented on #5540
@Dansimp Gentle reminder.

[2021-07-21 13:06] yogkumgit commented on #5542
@TinaMcN

[2021-07-21 13:06] yogkumgit commented on #5534
@efrene Gentle reminder.

[2021-07-21 13:07] yogkumgit commented on #5507
@LauraWi Gentle reminder.

[2021-07-21 13:07] yogkumgit commented on #5481
@robmazz Gentle reminder

[2021-07-21 13:07] yogkumgit commented on #5480
@robmazz Gentle reminder.

[2021-07-21 13:08] yogkumgit commented on #5431
@KCCross Gentle reminder

[2021-07-21 13:08] yogkumgit commented on #5382
@LauraWi Gentle reminder

[2021-07-21 13:09] yogkumgit commented on #5364
@cichur Gentle reminder

[2021-07-21 13:09] yogkumgit commented on #5352
@AdwoodMicrosoft Gentle reminder.

[2021-07-21 13:10] yogkumgit commented on #5348
@AdwoodMicrosoft Gentle reminder.

[2021-07-21 13:13] yogkumgit commented on #5347
@BrendaCarter Is the issue resolved and can be closed? Please reply. Thanks

[2021-07-21 13:14] yogkumgit commented on #5342
@chrfox can we proceed and close it? Thanks

[2021-07-21 13:15] yogkumgit commented on #5336
@LauraWi Gentle reminder.

[2021-07-21 13:15] yogkumgit commented on #5331
@LauraWi Gentle reminder.

[2021-07-21 13:15] yogkumgit commented on #5329
@robmazz Gentle reminder.

[2021-07-21 13:18] yogkumgit commented on #5263
@JoeDavies-MSFT Do you have this information? Please reply and resolve. Thanks

[2021-07-21 13:20] yogkumgit commented on #5203
@simionea as Cern is working with you internally, so we proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-21 13:20] #5203 closed

[2021-07-21 13:21] yogkumgit commented on #5170
@kwekuako Gentle reminder.

[2021-07-21 13:22] yogkumgit commented on #5163
@denisebmsft Gentle reminder.

[2021-07-21 13:23] yogkumgit commented on #5092
@lizap Gentle reminder.

[2021-07-21 13:23] yogkumgit commented on #5082
@JoeDavies-MSFT Gentle reminder.

[2021-07-21 13:26] yogkumgit commented on #5063
@cjtancortex Please reply and resolve. Thanks

[2021-07-21 13:26] yogkumgit commented on #5007
@Dansimp Gentle reminder.

[2021-07-21 13:27] yogkumgit commented on #4989
@Dansimp Gentle reminder.

[2021-07-21 13:27] yogkumgit commented on #4965
@chrfox Gentle reminder.

[2021-07-21 13:28] yogkumgit commented on #4901
@Dansimp Gentle reminder.

[2021-07-21 13:28] yogkumgit commented on #4876
@kwekuako Gentle reminder.

[2021-07-21 14:43] JoeDavies-MSFT commented on #5082
@aandrew129 Sorry for delayed response. I have forwarded your request to the product team for their future consideration. Thanks for letting us know about this.

[2021-07-21 14:43] #5082 closed

[2021-07-21 15:54] surje23 commented on #5316
Hi Denise,

I have reviewed the article at the link you provided, and tough it is clearly explained, that process for putting Microsoft Defender Antivirus in passive mode on Server 2019, namely that registry change, does not work.  However, if my reaching out to others in the industry hasn't lead me down an incorrect path, I believe what might be missing from this article is the process others are

[2021-07-21 15:55] TinaMcN commented on #5542
@hyoshioka0128 the article is human translated now.  Can you please check it and see if it looks ok now?

[2021-07-21 16:29] cichur commented on #5364
Hi @yogkumgit I've reached out to the SME. He's currently on vacation, but I'll get a response once he's back.

[2021-07-21 16:39] MathiasAaron opened #5701 "Broken links in the MDE Section"
[Enter feedback here]
Seems to have a couple of broken links in the MDE Section.
Might help if the hyperlink for "supported Tools and methods"
pointed to
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/onboard-configure?view=o365-worldwide#in-this-section
instead of
https://docs.microsoft.com/en-us/defender-endpoint/onboard-configure

Also if "minimum requirements" which

[2021-07-21 18:29] wuqiany2 opened #5702 "The API documentation has no description on the idempotency for "stop and quarantine file""
Hi,

Could you add a section that describes the idempotency of the API? E.g. what happens when the same request was posted multiple times in a short time range, while the first machine action is still pending.

My experience so far is that the API will return HTTP 400 code when the same request gets submitted multiple times while the first machine action is still pending, which makes little sense

[2021-07-21 21:32] #5347 closed

[2021-07-21 22:13] markjjo commented on #5660
@stukey Thanks for feedback. The topic does state the permissions to create and update alert policies (Manage alerts) in this section: https://docs.microsoft.com/en-us/microsoft-365/compliance/alert-policies?view=o365-worldwide#alert-policy-settings

But I will add it to section on managing alerts. By the way, the same role.

[2021-07-21 22:13] #5660 closed

[2021-07-21 22:15] markjjo commented on #5684
@leicham Thanks for submitting PR with fixes for these issues. I merged that PR.

[2021-07-21 22:15] #5684 closed

[2021-07-21 22:29] FC-EricWeller opened #5706 "Feedback Link Misdirects"
The "Feedback for this product" link still points at the reference page for the Windows 10 Feedback Hub.  Bookings is not a Windows 10 product and there's no facility to provide Bookings feedback via the Windows 10 Feedback hub

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 764ebef6-2c8d-54b1-42e7-8d79cd7dff3c
* Versio

[2021-07-21 22:56] arkayenro opened #5708 "id and autodiscover question"
Hi,

in the description of the id field could you state if it will remain constant or not.  ie we include some of the sets based on id, so can we rely on id 74 always being the remote connectivity data set? or could microsoft change it at some point?

would it also be possible to update id 154 to include `"autodiscover.*.mail.onmicrosoft.com"`?
this set has `autodiscover.*.onmicrosoft.com` which w

[2021-07-22 03:12] anthonynz commented on #5617
Thanks guys, adding the note in documentation is fine as it explains we need to change the view to "phish".

But this means there's a product bug...

The shortcut from the new spoof intelligence view for should take us directly to a view in Threat Explorer that is filtered as "Phish" with the "Sender Domain" populated.

Currently it sends us to threat explorer with the "Malware" view selected, and

[2021-07-22 06:06] walidelmorsy opened #5709 "Outlook on iOS minimum supported version number"
Hi there,

in this article (https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-office-apps?view=o365-worldwide#sensitivity-label-capabilities-in-outlook), for the "Dynamic markings with variables" under the Outlook on iOS version number , it says "4.7.1+", however just noticed that the latest version in the App Store for Outlook is 4.2128.0, wondering if the "4.7.1" is st

[2021-07-22 08:08] hyoshioka0128 commented on #5542
@TinaMcN  - Thanks! Fixed.
Closed #5542 .

[2021-07-22 08:08] #5542 closed

[2021-07-22 08:56] stukey commented on #5660
Thanks @markjjo. Just to clarify... my report was about documenting the permissions that are required in order to take action against a generated alert in the security & compliance portal (e.g. mark the alert as resolved) - it was not about managing the alert policies themselves. It doesn't seem to be documented anywhere what RBAC permissions are required for a user to be able to update/close aler

[2021-07-22 09:20] KioNax opened #5710 "Please document SFTY code 9.25"
[Enter feedback here]
The SFTY code 9.25 is being used in mail headers, but not documented. We are seeing legitimate business emails quarantined as phishing, despite passing other safety checks, which have this code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e47e11dd-53ab-5f62-ac6c-59dbc00eed0d
* Version Independe

[2021-07-22 13:01] daliokas7 opened #5712 "removing licenses from migrated mailboxes"
After removing license from migrated source tennant user mailbox(which no longer a mailbox, but a Mail user pointer), Mail user pointer with external address is deleted. How to correctly remove licence from migrated user? There ir no reason to use license for a pointer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c6

[2021-07-22 15:18] JoeDavies-MSFT commented on #5263
Researching this now...

[2021-07-22 16:20] msbemba commented on #5667
@ClintSwiney Thank you for your feedback. While this document only pertains to blocking guest access, I'm sure users who read this would also want to know how to toggle back to allow guest access. So, I have added the script to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5713

Once the author approves the PR, the document will be live.

Thanks again for taking time

[2021-07-22 16:41] msbemba commented on #5631
@joergrenn Thank you for the response. The reason why you don't have a complete list is that it is no different from a user mailbox license requirement. A shared mailbox comes with a 50GB mail size, for anything and everything beyond that you need a license. You can refer to -https://docs.microsoft.com/en-us/office365/servicedescriptions/office-365-platform-service-description/office-365-plan-opti

[2021-07-22 16:51] markjjo commented on #5660
@stukey Sorry, I should have read your question closer as you were specific about managing alerts. The [section on the RBAC permissions required to view alerts](https://docs.microsoft.com/en-us/microsoft-365/compliance/alert-policies#rbac-permissions-required-to-view-alerts) and access the Alerts page in the compliance center touches on this: "This design (based on RBAC permissions) lets you deter

[2021-07-22 16:58] Mike-Crowley opened #5714 "DMARC and DKIM records are missing"
This article should mention DKIM and DMARC records.

i.e.
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dmarc-to-validate-email?view=o365-worldwide#what-is-a-dmarc-txt-record

i.e.
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dmarc-to-validate-email?view=o365-worldwide#step-4-form-the-dmarc-txt-record-for-your-domain

---
#### Do

[2021-07-22 18:49] buckett opened #5715 "You are missing the step to enable the developer key for the Teams LTI Tool"
Before you can add the Teams LTI tool using the Client ID as an admin you need to go to the Developer Key listing in the main account, switch to the inherited keys, load all the keys and then enable the Teams one.

Otherwise when adding the App you get a message about the Client ID being disabled.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-07-22 20:27] SeanTGeoghegan opened #5717 "Customer Lockbox Approval Alerts"
Certain regulatory bodies require events like Customer Lockbox to be alerted on, any time a request has been approved. However, alert policies for this event are not available in the Unified Audit Log.

I've set up alerts for this via MCAS, and wondered if it is worth adding a callout to creating Alert Policies for Customer Lockbox Requests somewhere on this page.

---
#### Document Details

⚠ *Do

[2021-07-22 21:46] cabailey commented on #5709
Hi @walidelmorsy!  4.7.1 is a very old build of the app (the support for dynamic markings was server-side, not client-side). For easier comparison, read 4.7.1+ (no leading zeros) as 4.0007.1+, (not 4.7000.1). The version you quoted of 4.2128.0 is obviously higher than 4.0007.1, so this latest version supports dynamic markings.

[2021-07-22 23:00] banhao commented on #5688
yes, I'm still using "https://securitycenter.windows.com/hunting"

I use the following query to get all the AlertEvents from a machine.
`DeviceAlertEvents | where DeviceName contains "machine_hostname"`

So I tried to use the following query to get the File Information that causes the alerts. But seems the "ReportId" in schema "DeviceAlertEvents" and "DeviceFileEvents" are totally different.

`let

[2021-07-23 04:51] yogkumgit commented on #5698
@matuhinal Please indicate which document you are referring to. Thanks

[2021-07-23 07:07] joergrenn commented on #5631
@msbemba  sorry but it is not true that it is not different from a user mailbox license requirement.
Lets just take advanced eDiscorvery as an example. On the documentation https://docs.microsoft.com/en-us/microsoft-365/compliance/overview-ediscovery-20?view=o365-worldwide#subscriptions-and-licensing

It says per user licensing, no mention of a shared mailbox licensing requirement.
This documentat

[2021-07-23 08:53] msbemba commented on #5631
@joergrenn  The shared mailbox needs the same licensing as a user mailbox to use any of the features. That is why I  said it is no different than a user mailbox. Whatever license you would assign a user mailbox, you will have to assign the same license for a shared mailbox to use the feature.

Thanks
Sri

[2021-07-23 08:58] msbemba commented on #5701
@MathiasAaron Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5720

Thanks
Sri

[2021-07-23 09:02] msbemba commented on #5698
@matuhinal Thank you for your feedback. Are you referring to this page - https://docs.microsoft.com/en-us/azure/active-directory/authentication/howto-mfa-userstates?

If yes, could you please tell us what happens when you enable 2fa?

Thanks
Sri

[2021-07-23 09:05] msbemba commented on #5700
@teomonda Thank you for your feedback. What are the other licenses that exist in your tenant? Note that  If you don't see the Office 365 Extra File Storage in the list of available add-ons, it means your plan is not eligible.

Thanks
Sri

[2021-07-23 09:40] joergrenn commented on #5631
@msbemba  nevermind, I should stop trying to help improve MS documentation.

[2021-07-23 09:40] #5631 closed

[2021-07-23 10:54] jadesolis opened #5721 "Clarification on retention with Microsoft 365 groups"
"_When you choose the SharePoint sites location, the retention policy can retain and delete documents in SharePoint communication sites, team sites that aren't connected by Microsoft 365 groups, and classic sites. Team sites connected by Microsoft 365 groups aren't supported with this option and instead, use the Microsoft 365 Groups location that applies to content in the group's mailbox, site, an

[2021-07-23 15:24] denisebmsft commented on #5721
@jadesolis, you are referring to this article, yes? https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide

[2021-07-23 15:24] Erick-Michael opened #5722 "Incorrect Example"
The code for the example "To check the blocked status of a user account use the following command:" does not work because -UserPrincipalName is not a working command for Get-AzureADUser.

Get-AzureADUser -UserPrincipalName <UPN of user account> | Select DisplayName,AccountEnabled

This code can be corrected by changing -UserPrincipalName to -ObjectID.

Thank you,
Erick

---
#### Document Details

[2021-07-23 21:32] GRCAINC opened #5724 "nonprofit Microsoft problem with domain email name, subscription for Microsoft 365 small business premier"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db386473-5b1f-7cee-c094-802bc5f491c5
* Version Independent ID: 50c3acf6-b285-3b3b-619a-163525a826f4
* Content: [Sign up for Microsoft 365 Business Premium subscription](https://docs.microsoft.com/en-us/microsoft-365/business-video/sign-up?redirectSour

[2021-07-25 02:02] Vertigo12 opened #5726 "W niczym nie pomaga"
Kompletnie niezrozumiałe, dostępne tylko dla specjalistów. w ogóle nie rozwiązuje problemu.  Potrzebna jest jasna i czytelna instrukcja, jak włączyć dodatki.

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft.com ➟ Dołączanie problemu w usłudze GitHub.*

* ID: 66ace7ce-d26f-68d0-2206-525acc513322
* Version Independent ID: 19e8d325-8074-2878-b864-cf0802e23

[2021-07-25 15:13] B-starboy opened #5727 "@binford2k"
@binford2k

_Originally posted by @B-starboy in https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4989#issuecomment-840969263_

[2021-07-25 15:14] B-starboy commented on #5727
Justifying my internet security system and the information I have had to go on is my only issue with the project.

[2021-07-26 00:54] qaehtesh opened #5728 "Document Update Request - Items moved across Non Indexed folder to Indexed folder does not get indexed."
Could we help to include following note in the documentation that when we move an item from a folder that is not part of Indexing, to a folder that is part of Indexing,
we do not reset certain flags and so the item may still remain unindexed and non searchable.
We confirmed this with engineering and is by design currently.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-07-26 01:33] jadesolis commented on #5721
yes

[2021-07-26 03:50] LordBoBCUP opened #5730 "Add warning regarding PowerShell only works with 5.1 not 7"
With regards to the section "Use the Azure Active Directory PowerShell for Graph module" please add a warning that is doesn't work with Powershell Version 7, it however does work ok with 5.1. Better yet work on fixing the errors when running version 7
`Set-AzureADUserLicense -ObjectId xxxx -AssignedLicenses $LicensesToAssign

Set-AzureADUserLicense: Cannot bind parameter 'AssignedLicenses'. Cannot

[2021-07-26 04:19] mattsmacblog opened #5731 "More techy details"
Can we get some detailed techy style info on how Defender for Endpoint gets Data from its Clients?  Win10, Server 2012 R2, 2016, 2019 etc...

Do clients Push their logs to Defender for Endpoint (via a ScheduledTask, the Microsoft Monitoring Agent or something else) or does Azure Pull the data via its API into the Cloud?

It would be great to have a "Run full Device Scan Now" option aka Collect all

[2021-07-26 06:56] yogkumgit commented on #5701
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MathiasAaron Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 06:56] #5701 closed

[2021-07-26 07:07] yogkumgit commented on #5628
@msbemba Thank you very much for the contribution and sharing this explanation. @linx-collin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 07:07] #5628 closed

[2021-07-26 07:10] yogkumgit commented on #5642
@msbemba Thank you very much for the contribution and sharing this explanation. @natlims18 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 07:10] #5642 closed

[2021-07-26 07:12] yogkumgit commented on #5654
@msbemba Thank you very much for the contribution and sharing this explanation. @jwbqv Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 07:12] #5654 closed

[2021-07-26 07:14] yogkumgit commented on #5656
@msbemba Thank you very much for the contribution and sharing this explanation. @ThaungHtaikZan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 07:14] #5656 closed

[2021-07-26 07:18] yogkumgit commented on #5619
@msbemba Thank you very much for the contribution and sharing this explanation. @bubhat Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-07-26 07:19] #5619 closed

[2021-07-26 07:20] yogkumgit commented on #5625
@msbemba Thank you very much for the contribution and sharing this explanation. @s-ACS Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2021-07-26 07:20] #5625 closed

[2021-07-26 07:24] yogkumgit commented on #5572
@msbemba  Thank you very much for the contribution and sharing this explanation. @jreyes4949 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you can shar

[2021-07-26 07:24] #5572 closed

[2021-07-26 07:32] yogkumgit commented on #5464
@msbemba Thank you very much for the contribution and sharing this explanation. @chrisbues Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-26 07:32] #5464 closed

[2021-07-26 07:37] yogkumgit commented on #5695
@LauraWi Please help us in resolving this issue. Thanks

[2021-07-26 07:40] yogkumgit commented on #5697
@Dansimp Please help us in resolving this issue. Thanks

[2021-07-26 07:41] yogkumgit commented on #5702
@mjcaparas Please help us in resolving this issue. Thanks

[2021-07-26 07:42] yogkumgit commented on #5708
@LauraWi Please help us in resolving this issue. Thanks

[2021-07-26 07:43] yogkumgit commented on #5717
@KCCross Please help us in resolving this issue. Thanks

[2021-07-26 09:32] ceaton001 opened #5733 "Incorrect web link"
The web link for "Shop Windows 10 Pro Business Devices" is invalid. Page does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d81fad33-84ec-9554-b0bf-b56ff062146c
* Version Independent ID: 03daf255-ebff-3b79-dce7-8ad996b99219
* Content: [Validate new devices - Microsoft Managed Desktop](https://docs.microsoft

[2021-07-26 09:33] ceaton001 opened #5734 "Incorrect web link"
The web link for "Shop Windows 10 Pro Business Devices" is invalid. Page does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a9af2d6-5aa8-d3be-24cf-56e61a8f5817
* Version Independent ID: 5905b5c1-2e87-205a-7bae-2b5760b5180f
* Content: [Device requirements - Microsoft Managed Desktop](https://docs.microsoft.

[2021-07-26 11:26] heyvoon opened #5736 "The help page is OUTDATED!"
The instructions on the help page is outdated and folowing it doesn't lead to the right place.

[2021-07-26 13:48] denisebmsft commented on #5736
Hello @heyvoon. Can you please tell us to which page your feedback applies? This information will help us route the issue to the correct writer/team. Thanks!

[2021-07-26 13:51] denisebmsft commented on #5727
Hello @B-starboy! Does this issue also apply to this article? https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-install-with-puppet?view=o365-worldwide

[2021-07-26 14:38] rawIce opened #5738 "Authentication-results message header: dmarc bestguesspass - explanation incomplete"
hello,
under the section "Authentication-results message header fields" under the field "dmarc" the different results of DMARC checks are explained.

For "bestguesspass" it says the following:

This is true.

Then it continues with:

This is only true in case the DMARC check has passed with SPF-alignment only.
However an email can also pass DMARC validation with DKIM alignment alone or SPF and DKI

[2021-07-26 14:39] matuhinal commented on #5698
Yes, there is a security issue. The request is open in M 365, but has not been resolved yet

[2021-07-26 14:52] matuhinal commented on #5698
2FA problem with work account Can't change phone number to another

[2021-07-26 14:59] msbemba commented on #5698
@matuhinal Thank you for the quick response. Since you have a support ticket open with the M365 support team, I'd let you continue working with them. This channel is specifically created for updates in documentation(Microsoft docs).

Hope this helps!

Thanks
Sri

[2021-07-26 15:27] msbemba commented on #5683
@pmckinstryholyfamilycs Thank you for your feedback. Since this document talks about turning on SSPR for everyone in your business, it does not have details about Selected.

The Selected option can be used to add groups which will enable the option to all members within the group.

Hope this helps!

Thanks
Sri

[2021-07-26 15:38] msbemba commented on #5714
@Mike-Crowley Thank you for your feedback. We have a note in the document which talks about DKIm and DMARC and references are in place to route users to the document pointed out.

Hope this helps!
Thanks
Sri

[2021-07-26 15:51] dreadn0ught opened #5739 "Incorrect definition of a Zero Day"
Hi

Your definition of a zero day is incorrect. A zero day is an exploit for a vulnerability that has not been publicly disseminated. Your definition implies it is a publicly known vulnerability with no patch. This is not the case, your definition actually refers to a vulnerability for which there is no patch.

Example citations:
[https://en.wikipedia.org/wiki/Zero-day_(computing)](url)
[https://w

[2021-07-26 16:00] msbemba commented on #5696
@BarryBo Thank you for your feedback. Nope, Cortona does not do that automatically now, Unless you specify the timing stating scheduled a 30-minute meeting start at 9:05 AM. Having said that, Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microso

[2021-07-26 16:19] geektbee opened #5740 "The client ID 170000000000570 is disabled"
On Page: https://docs.microsoft.com/en-us/microsoft-365/lti/teams-classes-with-canvas?view=o365-worldwide

... there's a section labeled "Canvas Admin". Before Step 1, there's a Client ID given to us. Upon going through the motions to Step 4, an error message returns "The client ID 170000000000570 is disabled."

Also, when going through the steps, Step 1 seems to need an additional piece of the pr

[2021-07-26 16:27] chrisda commented on #5738
@rawIce, you state the paragraph that you want added, and I'll add it.

Or, you can add it directly as described in <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>

[2021-07-26 17:24] rawIce commented on #5738
I have created this PR #5741

[2021-07-26 20:25] jm15502 opened #5742 "Attack simulation training limits question"
More than a year ago, i started sending emails to 3000 users as part of a phishing campaign but had to do it in separate groups because there was a 500 sending limit that was applied, multiplying my work by 6. Is that limit still in place?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b480c7ad-d444-b167-6c3c-80a8e8fb7

[2021-07-27 01:44] jasonfritts opened #5744 "Password Expiration Notifications Retired per MC219002"
This doc should be updated to reflect the fact that Password Expiration Notifications are no longer supported in Office Portal or any Office apps. See Message Center MC219002: Retirement of notifications functionality in all Office 365 web apps except Outlook.  Email notifications do not seem to be functional any longer either.  It's not clear in this article's "Set password expiration policy" sec

[2021-07-27 06:52] rupamcc opened #5745 "o365-solutions"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab55fc7e-f0eb-684a-cf8f-dd89990937c5
* Version Independent ID: 6d7e6627-cc17-853c-6563-420e02f87f45
* Content: [Desktop Deployment Center - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/desktop-deployment-center-h

[2021-07-27 09:43] grzegorzwierzbicki opened #5747 "PowerShell and Graph APIs"
This article should cover how to perform each task with PowerShell and Graph APIs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ca63bae-95f1-3248-ed6e-1bfbe0d7e9ff
* Version Independent ID: a56fc5c1-7ffd-0829-b5a4-9297ce2873ac
* Content: [Step 4 - Give another employee access to OneDrive and Outlook data - Microsoft

[2021-07-27 12:51] matuhinal commented on #5698
Здравствуйте Не помогает)

[2021-07-27 14:20] dyerseve opened #5749 "More examples"
Can we see an example for adding a group to the addin?
I've added one deployment through the web and trying to replicate that success using powershell and I'm coming up short. Not sure if it's the tools or me.

[2021-07-27 15:27] frantademo opened #5750 "Scope of DLP protection"
I do not understand at all the scope of DLP protection table... could you clarify it please, add more examples?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebaab3f7-d1d4-c649-efe8-f24913da4f3e
* Version Independent ID: c5710ebf-0ca5-ab46-c490-64ebc308defe
* Content: [Data loss prevention and Microsoft Teams - Micros

[2021-07-27 15:52] msbemba commented on #5698
@matuhinal Thank you for the response. The issue needs to be addressed by the support team and we do not troubleshoot technical issues in the forum. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support

[2021-07-27 16:24] jmmowrer opened #5751 "Add clarification for which URLs to open on firewall"
There is some confusion about what URLs to open on the firewall in terms of opening all the URLs or just the ones for your data location.   I think this doc edit will help clarify:

In this section:
Enable access to Microsoft Defender for Endpoint service URLs in the proxy server

This statement:
_The following downloadable spreadsheet lists the services and their associated URLs that your network

[2021-07-27 17:10] danmyhre opened #5752 "Licensing"
Licensing section needs rework. It says it is an add-on, but then also says it is typically through a Microsoft 365 license.

This section:
https://docs.microsoft.com/en-us/microsoft-365/scheduler/scheduler-setup?view=o365-worldwide#scheduler-end-user-license-requirements

Doesn't even mention it is an add-on, so it sounds like it is included with all of the plans in the bulleted list.

This secti

[2021-07-27 17:49] vboyev-MSFT opened #5753 "404 link to MDE URL XLSX is dead"
https://download.microsoft.com/download/8/a/5/8a51eee5-cd02-431c-9d78-a58b7f77c070/mde-urls.xlsx

results in a 404 error
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28a4997c-0029-be57-24a3-7aa10dadda53
* Version Independent ID: 98227b02-39e2-03f6-c947-23317abb818f
* Content: [Configure device p

[2021-07-27 18:25] mjcaparas commented on #5702
There is some engineering action required to address this. Not a simple doc fix.

[2021-07-27 18:25] #5702 closed

[2021-07-27 20:19] denisebmsft commented on #5749
Hello @dyerseve. Can you please tell us to which article your feedback applies? This information will help us route the issue correctly. Thank you!

[2021-07-27 20:20] denisebmsft commented on #5745
Hello @rupamcc. Can you please give us a little more information in your feedback?

[2021-07-27 21:50] DarkMatterFlow opened #5755 "Is this page instructions correct?"
New-ComplianceSeachAction -Purge -Purge HardDelete is NOT working at all. I can preview the compliance search results, but I can't delete the emails at all.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e391a3b9-fc52-bedf-353a-3564752240dd
* Version Independent ID: 89376ace-9c00-7c45-3771-a9a913f81bed
* Content: [Sear

[2021-07-27 23:04] rconiv opened #5756 "Retention Creation Confusion"
I created a ticket about this, and talked to a support tech (Case# 26731025).

If I go in to information governance, retention, and create a retention policy, and assign a mailbox to it for testing, after enabling archiving, I don't see a message in the inbox stating it has a policy setup on it (did the generic retain for 7 years, and then delete).  When I deleted the account, it did not show up a

[2021-07-27 23:20] #5667 closed

[2021-07-28 07:25] yogkumgit commented on #5698
@msbemba  Thank you very much for the contribution and sharing this explanation. @matuhinal Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.

We will be very happy if you can shar

[2021-07-28 07:25] #5698 closed

[2021-07-28 08:27] teomonda commented on #5700
Hello Sri, I do have eligible plans in my tenant, it is very difficult not to I would say, considering the long list with plans that we have here: https://docs.microsoft.com/en-us/microsoft-365/commerce/add-storage-space?view=o365-worldwide#is-my-plan-eligible-for-office-365-extra-file-storage
![image](https://user-images.githubusercontent.com/43137999/127290215-a9e13d24-310c-4989-ad04-02c03968bc4

[2021-07-28 12:45] lwolf-sagetechs opened #5757 "Example script to disable AllowSelfServicePurchase (Additional note)"
When the script command
`Update-MSCommerceProductPolicy -PolicyId AllowSelfServicePurchase -ProductId $product.ProductID -Enabled $false`
is run, it will fail if $product contains multiple values.

When there are multiple products, you can run the command individually for each value like this.
`Update-MSCommerceProductPolicy -PolicyId AllowSelfServicePurchase -ProductId $product[0].ProductID -Enab

[2021-07-28 13:10] MubDubs opened #5758 "Export options differ between Docs and real-time export in Advanced eDiscovery"
The export options for conversation threading of 1:1 Teams messaging differ between what is seen in the docs vs what we see in Advanced eDiscovery on the compliance.microsoft.com platform. We need the documentation updated to reflect the different UI and export options as some of the options shown in the documentation are no longer there.

The export options now shown are what is seen in this docu

[2021-07-28 15:22] SquirrelAssassin opened #5759 "api access"
All the connection information says you need a bearer token and they all point to using an App.  This has to be incorrect.

I can use my browsers bearer token I get from my web browser by just pressing F12 going to the header and Microsoft defender api calls work just fine.

Is there anywhere that shows me from PowerShell how to get a bearer token interactively with only my account?

The whole pro

[2021-07-28 17:42] jm15502 commented on #5742
Hi Yogesh, any update?
Thanks

[2021-07-28 18:06] msbemba commented on #5706
@FC-EricWeller Thank you for your feedback. We are working internally to fix this. We shall update you once this is complete.

Thanks
Sri

[2021-07-28 18:14] msbemba commented on #5753
@vboyev-MSFT Thank you for your feedback. I was able to download the XLS file using the link. Could you please confirm if the problem exists?

Thanks
Sri

[2021-07-28 18:16] msbemba commented on #5734
@ceaton001 Thank you for your feedback. We have fixed the link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5761

Once the author approves this the changes will be live.

Thanks
Sri

[2021-07-28 18:18] msbemba commented on #5733
@ceaton001 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5762

Once the author approves the changes the document will be live.

Thanks
Sri

[2021-07-28 18:19] msbemba commented on #5726
@Vertigo12 Thank you for your feedback. This document pertains only to determine if centralized deployment works for the user/admin. To know more about deploying add-ins, please visit -https://docs.microsoft.com/pl-pl/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide

Thanks
Sri

[2021-07-28 18:22] msbemba commented on #5730
@LordBoBCUP Thank you for your feedback. We have added a note in the document which talks about this module not working in powershell core.

 "Note

PowerShell Core does not support the Microsoft Azure Active Directory Module for Windows PowerShell module and cmdlets with Msol in their name. To continue using these cmdlets, you must run them from Windows PowerShell."

Hope this helps!

Thanks
Sri

[2021-07-28 18:24] msbemba commented on #5724
@GRCAINC Thank you for your feedback. This document pertains to details about signing up for the M365 business premium subscription. If you are looking for details about signing up for this service for non profit, please visit -https://www.microsoft.com/en-us/nonprofits/microsoft-365

Thanks
Sri

[2021-07-28 18:26] msbemba commented on #5722
@Erick-Michael Thank you for your feedback. We have made the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5763

Once the author approves the PR, document will be live.

Thanks
Sri

[2021-07-28 18:30] msbemba commented on #5742
@jm15502 Thank you for your feedback. The limit was recently updated to 1000 via our roadmap# 55025.

Currently, you can only change the recipient limits via PowerShell, but the corresponding UI bits are also rolling out and should be available at some point in the EAC. Here are some examples on how you can utilize this. First, if you want to change the recipient limit for a single mailbox, you ca

[2021-07-28 18:38] msbemba commented on #5752
@danmyhre Thank you for your feedback. I have made changes to the document clearly stating the add-on requirement via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5764

Once the author approves the PR, you will see changes in the document.

Thanks
Sri

[2021-07-28 18:45] msbemba commented on #5712
@daliokas7 Thank you for your feedback. We have added this to the Known issues section

MailUser objects are pointers to non-local mailboxes. In the case of cross-tenant mailbox migrations, we use MailUser objects to represent either the source mailbox (from the target organization’s perspective) or the target mailbox (from the source organization’s perspective). The main users will have an Extern

[2021-07-28 18:49] msbemba commented on #5715
@buckett Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5765

Once the author approves the PR, document will be live.

Thanks
Sri

[2021-07-28 18:52] msbemba commented on #5740
@geektbee Thank you for your feedback.

Before you can add the Teams LTI tool using the Client ID as an admin you need to go to the Developer Key listing in the main account, switch to the inherited keys, load all the keys and then enable the Teams one.

Otherwise, when adding the App you get a message about the Client ID being disabled.

We have added this to the document via PR  https://github.c

[2021-07-28 19:42] danmyhre commented on #5752
sounds good, thanks much!

[2021-07-28 20:53] JoeDavies-MSFT commented on #5263
Based on current information, quarantine is the only available action to undo. I will update the article. Thanks for your question.

[2021-07-28 20:53] #5263 closed

[2021-07-28 23:22] MisterBendo opened #5766 "Typo"
In the section called "About junk email settings in Outlook", in the second paragraph, it says...
When the Outlook Junk Email Filter is set to the default value No automatic filtering in Home > Junk > Junk E-Mail Options > Options, Outlook doesn't attempt to classify **massages** as spam

Outlook doesn't attempt to classify messages, not massages.

---
#### Document Details

⚠ *Do not edit this se

[2021-07-28 23:41] chrisda commented on #5766
@MisterBendo, Fixed.

In the future, you, too can make changes like this without opening a GitHub Issue first. Instructions are [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md).

Thanks for the feedback.

Closing

[2021-07-28 23:41] #5766 closed

[2021-07-28 23:44] MisterBendo commented on #5766
Thanks.  I was unaware I could make fixes myself.  I will read the instructions and correct any future mistakes per the article.

Michael Donovan |  ***@***.******@***.***>
Senior Systems Engineer - Microsoft 365 Communication Services
T. +01 (303) 471 3457 | M. +01 (303) 726 2139

From: Chris Davis ***@***.***>
Sent: Wednesday, July 28, 2021 5:42 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.**

[2021-07-28 23:45] cabailey commented on #5756
Looking into this

[2021-07-29 02:28] BondiChris commented on #5695
**microsoft.com**: "v=spf1 include:_spf-a.microsoft.com include:_spf-b.microsoft.com include:_spf-c.microsoft.com include:_spf-ssg-a.microsoft.com include:spf-a.hotmail.com include:_spf1-meo.microsoft.com -all"

**_spf-a.microsoft.com**: "v=spf1 ip4:216.99.5.67 ip4:216.99.5.68 ip4:202.177.148.100 ip4:203.122.32.250 ip4:202.177.148.110 ip4:213.199.128.139 ip4:213.199.128.145 ip4:207.46.50.72 ip4:20

[2021-07-29 08:00] yogkumgit commented on #5506
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ceaton001 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 08:00] #5506 closed

[2021-07-29 08:14] #5722 closed

[2021-07-29 08:16] yogkumgit commented on #5505
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ceaton001 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 08:16] #5505 closed

[2021-07-29 08:24] yogkumgit commented on #5715
@msbemba Thank you very much for the contribution and updating the documentation with PR. @buckett Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 08:24] #5715 closed

[2021-07-29 08:26] yogkumgit commented on #5740
@msbemba Thank you very much for the contribution and sharing this explanation. @geektbee Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-29 08:26] #5740 closed

[2021-07-29 09:32] schmurky commented on #5688
Hi @banhao sorry for the delay. ReportID always means the unique identifier of the event. In DeviceAlertEvents, it is the identifier of the event that triggered the alert, and it should exist in device tables.

Hopefully this doc can help: https://docs.microsoft.com/en-us/microsoft-365/security/defender/advanced-hunting-migrate-from-mde?view=o365-worldwide

Let me know what error you are encounter

[2021-07-29 10:07] Hoegimator opened #5767 "Verify Registry Key is wrong"
When I verify with Powershell if network Protection is enabled (Get-MpPreference | ft EnableNetworkProtection), it tells me "Yes it is enabled".
When I try to verify the Registry Key (HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection\EnableNetworkProtection), then that Key is missing.

Thanks for your consideration

---
#### Document Details

[2021-07-29 11:49] turnma opened #5769 "Clarification needed on what "administrator account" means"
Page states
"sign in using the credentials _for an administrator account_ in your organization."

This needs clarification on exactly which RBAC roles can achieve this task.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7108464d-597a-c79d-cac8-94e35d9dd3d0
* Version Independent ID: ba0d3744-707d-c506-47f4-835

[2021-07-29 14:21] sparkitect opened #5771 "Columns added to wrong Content Type"
I created a Model for an _existing_ "Scope of Work" content type and applied it to a library. The columns that were included in the "Scope of Work" content type were added correctly (highlighted green), but the Syntex-specific columns (yellow highlight) are added to the **default content type** in the library, "Project Document", rather than the actual content type.

![image](https://user-images.g

[2021-07-29 14:55] rawIce commented on #5738
PR has already been merged. Issue closed.

[2021-07-29 14:55] #5738 closed

[2021-07-29 15:31] daliokas7 commented on #5712
@msbemba thank you for an answer.

I did not tried removing license from powershell, however, after removing license from Source tennant Admin Center, Mailuser(pointer) with External Address disappeared together with ability to receive emails(i.e. emails sent to Source user returned error 'user not found'). After license removal from a Source user I couldn't create pointer again and therefore dele

[2021-07-29 16:02] sparkitect opened #5772 "Error applying Model to a library"
When applying a Model to a Document Library, an error message is displayed upon clicking Add button:

![image](https://user-images.githubusercontent.com/9206808/127525374-82ca5c3c-706b-4d14-804a-bac7488c3fba.png)

Usually works the _third_ time...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3000f1d8-7c81-d9c2-adfc-f

[2021-07-29 16:35] IfEyeOnlyKnew opened #5773 "Number of forms created"
[Enter feedback here] - On the page can you distinguish that the "Number of forms created" is any time/date and not just the 30 to 180 days reporting?  Or is the count from the last 30 - 180 days?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cc03c59-64a6-950b-adbd-bf5e1b5c59b3
* Version Independent ID: 7479ae58-d00e

[2021-07-29 18:46] jonwbstr opened #5778 "How about steps for doing this with Powershell Az module?"
With the push to stop using the legacy AzureAD module, can this be done with the Az module instead? I already uninstalled the older module we are supposed to stop using.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/detect-and-remediate-illicit-consent-grants?view=o365-worldwide#steps-for-doing-this-with-powershell

---
#### Document Details

⚠ *Do not edit this sect

[2021-07-29 22:13] rpopatia commented on #5767
The documentation needs to be updated to reflect the correct key. In the https://docs.microsoft.com/en-gb/microsoft-365/security/defender-endpoint/enable-network-protection?view=o365-worldwide#group-policy

The correct location to check the Registry key is 'Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection'
which is accuratel

[2021-07-30 05:10] yogkumgit commented on #5714
@msbemba Thank you very much for the contribution and sharing this explanation. @Mike-Crowley Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:10] #5714 closed

[2021-07-30 05:15] yogkumgit commented on #5700
@msbemba Thank you very much for the contribution and sharing this explanation. @teomonda Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:16] #5700 closed

[2021-07-30 05:21] yogkumgit commented on #5696
@msbemba Thank you very much for the contribution and sharing this explanation. @BarryBo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:21] #5696 closed

[2021-07-30 05:24] yogkumgit commented on #5683
@msbemba Thank you very much for the contribution and sharing this explanation. @pmckinstryholyfamilycs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:24] #5683 closed

[2021-07-30 05:26] yogkumgit commented on #5753
@msbemba Thank you very much for the contribution and sharing this explanation. @vboyev-MSFT Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:27] #5753 closed

[2021-07-30 05:34] yogkumgit commented on #5742
@msbemba Thank you very much for the contribution and sharing this explanation. @jm15502 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:34] #5742 closed

[2021-07-30 05:36] yogkumgit commented on #5730
@msbemba Thank you very much for the contribution and sharing this explanation. @LordBoBCUP Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:36] #5730 closed

[2021-07-30 05:39] yogkumgit commented on #5726
@msbemba Thank you very much for the contribution and sharing this explanation. @Vertigo12 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:40] yogkumgit commented on #5724
@msbemba Thank you very much for the contribution and sharing this explanation. @GRCAINC Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-07-30 05:40] #5724 closed

[2021-07-30 05:43] yogkumgit commented on #5749
@dyerseve We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-07-30 05:44] #5749 closed

[2021-07-30 05:45] yogkumgit commented on #5745
@rupamcc We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2021-07-30 05:45] #5745 closed

[2021-07-30 05:49] yogkumgit commented on #5736
@heyvoon We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2021-07-30 05:49] #5736 closed

[2021-07-30 05:52] yogkumgit commented on #5750
@chrfox Please help us in resolving this issue. Thanks

[2021-07-30 05:53] yogkumgit commented on #5747
@kwekuako Please help us in resolving this issue. Thanks

[2021-07-30 05:55] yogkumgit commented on #5739
@Dansimp Please help us in resolving this issue. Thanks

[2021-07-30 05:56] yogkumgit commented on #5731
@mjcaparas Please help us in resolving this issue. Thanks

[2021-07-30 05:57] yogkumgit commented on #5728
@markjjo Please help us in resolving this issue. Thanks

[2021-07-30 11:22] JoranSlingerland opened #5780 "Wrong powershell command"
in the documentation at [Confirm the EvoSTS Auth Server Object is Present](https://docs.microsoft.com/en-us/microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication?view=o365-worldwide#confirm-the-evosts-auth-server-object-is-present) it shows the command:
[code]
Only i think the command should be:
[code]
This because the output for the authserver will be EvoSts - {GUID}

[2021-07-30 17:04] chrisda commented on #5679
@JDFlannery, this is live and available for everyone as of Wednesday July 28.

[Feature ID 72207](https://www.microsoft.com/microsoft-365/roadmap?filters=&searchterms=72207)

Thanks for the feedback.

Closing

[2021-07-30 17:04] #5679 closed

[2021-07-30 17:40] loosus opened #5785 "Add a step in onboarding steps"
The onboarding steps indicate how to create a scheduled task.  However, Windows requires that you provide a name for the scheduled task before changing tabs.  Therefore, change the following steps from:

8. Select **Run whether user is logged on or not** and check the **Run with highest privileges** check box.

9. Go to the **Actions** tab and click **New...** Ensure that **Start a program** is se

[2021-07-30 17:40] NovaWorksr opened #5786 "script error ?"
The script is currently throwing errors
Get-AzureADDirectorySetting : The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet,
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac69-134d-0198-fcb9-e19d1ed44d4b

[2021-07-30 17:49] loosus opened #5787 "Indicate to use UNC path and FQDN rather than NetBIOS name"
The following is one of the steps:

However, as enterprises start disabling NetBIOS and NTLM, the following may be more precise going forward:

In fact, in environments that have fully or partially disabled NTLM, using what has been called the "NetBIOS name" won't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52

[2021-07-30 18:17] mjcaparas commented on #5731
This sounds like feature request rather than a documentation issue.  Please use the smiley button and provide in-product feedback.

[2021-07-30 18:17] #5731 closed

[2021-07-30 19:13] cabailey commented on #5709
@walidelmorsy - can we close this now?

[2021-07-31 05:19] dcaddick opened #5791 "RSS Feed link incomplete"
RSS Feed link incomplete

Reads
/api/search/rss?search=%22Lists+the+new+features+and+functionality+in+Microsoft+365+defender%22&locale=en-us
Shouldn't this have https://docs.microsoft.com in front of this?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac42403c-4226-bec2-986d-2e8a67e7c66d
* Versi

[2021-07-31 09:01] msbemba commented on #5744
@jasonfritts Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5781

Once the author approves the PR the document will be live.

Thanks
Sri

[2021-07-31 09:14] msbemba commented on #5751
@jmmowrer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5792.

Once the author approves the PR, the document will be live.

Thanks
Sri

[2021-08-02 03:18] timhaintz opened #5793 "Link to Get-AzureADPSPermissions.ps1 is different than 'App consent grant investigation' docs article"
Hello, the link for Get-AzureADPSPermissions.ps1 references the repo and script [Get-AzureADPSPermissions.ps1](https://gist.github.com/psignoret/41793f8c6211d2df5051d77ca3728c09)

In the Docs article [App consent grant investigation](https://docs.microsoft.com/en-us/security/compass/incident-response-playbook-app-consent) the link to the script is: https://aka.ms/getazureadpermissions. Which links

[2021-08-02 05:03] yogkumgit commented on #5731
@mattsmacblog Thank you very much for your kind feedback. 😊

[2021-08-02 05:06] yogkumgit commented on #5709
@cabailey Thank you very much for sharing this explanation. @walidelmorsy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-02 05:10] #5709 closed

[2021-08-02 05:12] walidelmorsy commented on #5709
Thanks very much @cabailey! I think this makes much more sense, the only suggestion I would have is to specify the (0007) bit in the article itself, otherwise we will have more questions about it moving forward :), just my 2 cents :). Thanks once again!

[2021-08-02 10:34] msbemba commented on #5712
@daliokas7 Thank you for your feedback. When you use the PS script, I have noticed that the mail user's PrimarySMTPAddress(External address) is no longer scrubbed. The Target domain is not owned by the Source tenant and will persist as the primary SMTP address shown in the directory.

If the proxy addresses continue to get scrubbed, I would recommend you contact Microsoft support via the need help

[2021-08-02 10:39] msbemba commented on #5791
@dcaddick Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5794

Thanks
Sri

[2021-08-02 10:46] msbemba commented on #5793
@timhaintz Thank you for your feedback. We have made changes to the document via PR#
https://github.com/MicrosoftDocs/security/pull/52

Once the author approves the PR the document will be live.

Thanks
Sri

[2021-08-02 10:52] msbemba commented on #5787
@loosus Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5796

Once the author approves the PR, the document will be live.

Thanks
Sri

[2021-08-02 10:57] msbemba commented on #5786
@NovaWorksr Thank you for your feedback. This could happen if you have not connected to Azure AD or check if you are using PowerShell core. PowerShell Core does not support the Microsoft Azure Active Directory Module for Windows PowerShell module and cmdlets with Msol in their name. To continue using these cmdlets, you must run them from Windows PowerShell.

Hope this helps!

Thanks
Sri

[2021-08-02 11:03] msbemba commented on #5785
@loosus Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5796

Thanks
Sri

[2021-08-02 11:05] msbemba commented on #5780
@JohanFreelancer9 Please copy review

[2021-08-02 11:05] msbemba commented on #5780
Issue#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5797

[2021-08-02 11:06] msbemba commented on #5780
@JoranSlingerland Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5797

Thanks
Sri

[2021-08-02 11:10] msbemba commented on #5769
@turnma Thank you for your feedback.AFAIK, compliance and global administrators can perform this action. I'm currently testing this with different admin roles and will update the document shortly.

Thanks
Sri

[2021-08-02 11:13] msbemba commented on #5767
@Hoegimator Thank you for your feedback. We have verified and updated the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5798

The correct registry key is HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection

Hope this helps!

Thanks
Sri

[2021-08-02 12:03] 29039 opened #5799 "Mapping File"
Where is it? I am on the step where I am to tick "I have access to the mapping file", but I actually don't. I don't see it on the companion guide linked: https://go.microsoft.com/fwlink/?linkid=544944#BKMK_NetworkUpload / https://docs.microsoft.com/en-gb/microsoft-365/compliance/importing-pst-files-to-office-365?view=o365-worldwide#BKMK_NetworkUpload and using CTRL+F word "mapping".  Perhaps the l

[2021-08-02 14:19] jmmowrer opened #5800 "Need notation for system requirements"
Can we add a link to the minimum endpoint OS requirements for this AutoIR API to work against?  Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/automated-investigations?view=o365-worldwide#requirements-for-air

---
#### Document Details

⚠ *D

[2021-08-02 14:22] trkrdy1 opened #5801 "Misinformation"
I always hear customers say "how do we put MDE in passive mode?" And after seeing this page I get why they ask, MDE does not get put into passive mode. MDAV does, can we please correct this page to reflect this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e795a9bd-0d5a-ab4d-4f44-c1e365dce162
* Version Independent ID

[2021-08-02 14:29] jmmowrer opened #5802 "Important notated section needs updated wording"
This statement:
 _Important

These response actions are only available for devices on Windows 10, version 1703 or later.
For non-Windows platforms, response capabilities (such as Device isolation) are dependent on the third-party capabilities._

This is indicates MSFT doesn't have a first party offering for response actions.  Can this be updated to add a note for this?  Something like "For Microso

[2021-08-02 14:35] jmmowrer opened #5803 "Need notation for supported OS'"
Can we add a link that refers to this document for the minimum device OS requirements for this feature to work?

Here's the link that should have the min requirements.  It doesn't now but I will add another doc issue for that.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#collect-investigation-package-from-devices

---
#### Doc

[2021-08-02 14:38] jmmowrer opened #5804 "Add minimum OS requirements to investigation package section"
Can we add the minimum OS requirements that support an investigation package to this section:
"Collect investigation package from devices"

Today, collect investigation package is not supported on Mac and Linux.  I believe this is the min supported OS but check me please:
Windows 10, version 1703 or higher.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2021-08-02 14:41] jmmowrer opened #5805 "Need notation for supported OS'"
Can we add a link that refers to this document for the minimum device OS requirements for this feature to work?

Here's the link that should have the min requirements. It doesn't now but I will add another doc issue for that.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#collect-investigation-package-from-devices

---
#### Docu

[2021-08-02 14:44] jmmowrer opened #5806 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this LIve Response API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/live-response?view=o365-worldwide#before-you-begin

---
#### Document Details

⚠ *Do not edi

[2021-08-02 14:46] jmmowrer opened #5807 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this Isolate Machine API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's where we should probably link to:
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#isolate-devices-from-the-network

---
#### D

[2021-08-02 14:48] jmmowrer opened #5808 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this Release isolation API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#isolate-devices-from-the-network

---
#### Do

[2021-08-02 14:49] jmmowrer opened #5809 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this Restrict code execution API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#restrict-app-execution

---
#### Docume

[2021-08-02 14:51] jmmowrer opened #5810 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this unrestrict code execution API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts?view=o365-worldwide#restrict-app-execution

---
#### Docu

[2021-08-02 14:54] jmmowrer opened #5811 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this Run AV scan API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/run-av-scan?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-08-02 14:56] jmmowrer opened #5812 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this Live Response API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/live-response?view=o365-worldwide#before-you-begin

---
#### Document Details

⚠ *Do not edi

[2021-08-02 14:58] jmmowrer opened #5813 "Need notation for supported OS"
Can we add a link to the minimum endpoint OS requirements for this Stop and Quarantine API to work against? Right now it doesn't say anything about the fact that this won't work against Mac and Linux.

Here's the link the min requirements.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-file-alerts?view=o365-worldwide#stop-and-quarantine-files-in-your-network

---

[2021-08-02 15:11] m8r1us opened #5814 "Query "Check if files from a known malicious sender are on your devices" has semantic errors"
Query "Check if files from a known malicious sender are on your devices" is not correct.

Fixed version adding DeviceName and DeviceId to DeviceFileEvents query to receive the values in the last project statement.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7512859a-b097-af0b-e298-65933353c5ac
* Version Inde

[2021-08-02 17:36] cabailey commented on #5709
@walidelmorsy Yes, we're monitoring this and so far, only got a couple of inquiries.  We considered updating all references of 4.7.1 to 4.0007.1 but this has other repercussions, and the app wasn't released as 4.0007.1.  If you still had that version installed it would show 4.7.1 (common to drop leading zeros for software versions)  It's such an old version, I'm not even sure Apple would support i

[2021-08-02 17:46] chrfox commented on #5750
@frantademo thanks for your comment.  What dont you understand?

[2021-08-02 19:15] dab-vie opened #5817 "AzCopy commands outdated"
The command in the "Upload" section of this article is no longer correct. The use of "/Source:<path>" and "/Destination:"<path>" is no longer feasible. Instead, it's the following:

**AzCopy.exe cp "<sourcepath>" "<destinationpath>" --recursive=true**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4271558-62a9-db3c-07

[2021-08-02 22:28] denisebmsft commented on #5801
Hello @trkrdy1 and thank you so much for the feedback! I have a work item in the queue to get the diagram corrected. Really appreciate your taking the time to let us know about this!

[2021-08-02 23:03] rconiv commented on #5756
@yogkumgit what writer-input-required are you all needing, to warrant the tag?  I haven't seen any questions, just @cabailey  looking in to it 5 days ago.

[2021-08-03 04:04] yogkumgit commented on #5751
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-03 04:08] yogkumgit commented on #5712
@msbemba  Thank you very much for the contribution and sharing this explanation. @daliokas7 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.

We will be very happy if you can shar

[2021-08-03 04:08] #5712 closed

[2021-08-03 04:12] yogkumgit commented on #5791
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dcaddick Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-03 04:12] #5791 closed

[2021-08-03 04:22] yogkumgit commented on #5780
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JoranSlingerland Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-03 04:22] #5780 closed

[2021-08-03 04:28] yogkumgit commented on #5767
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Hoegimator Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-08-03 04:29] #5767 closed

[2021-08-03 04:31] #5751 closed

[2021-08-03 07:12] Hoegimator commented on #5767
Hi Team

On top of that documentation there is still the wrong registry key.

Thanks
Joerg

________________________________
From: Yogesh Kumar ***@***.***>
Sent: Tuesday, August 3, 2021 06:29
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Hoegimator ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Verify Registry Key is wrong (#5767)

@msbemba<https://emea

[2021-08-03 07:17] msbemba commented on #5767
@Hoegimator good catch. That is also being fixed on PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5819

[2021-08-03 13:25] Rvvhub opened #5820 "ActionType - NamedPipeEvents"
Product group tells me MDE collects of ActionType "**NamedPipeEvents**" - this type of events is not mentioned in docs or in the portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c292f6dc-0eca-e5d1-04f3-d29adeb5c77f
* Version Independent ID: f75be752-3169-cf4f-3e9b-9d5115d2c352
* Content: [DeviceEvents table in th

[2021-08-03 17:08] msbemba commented on #5806
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5822

Once author approves the PR, the document will be live.

Thanks
Sri

[2021-08-03 17:12] msbemba commented on #5807
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5823

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-03 17:14] msbemba commented on #5808
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5824

Once the author approves  PR, the document will be live.

Thanks
Sri

[2021-08-03 17:24] msbemba commented on #5809
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5825

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-03 17:28] msbemba commented on #5810
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5826

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-03 17:34] rzhangongit opened #5829 "Does the scripts support Visual Studio Subscription as the Source tenant/subscription?"

[2021-08-03 17:34] msbemba commented on #5813
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5828

Once author approves the PR, the document will be live.

Thanks
Sri

[2021-08-03 17:37] msbemba commented on #5814
@m8r1us Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5830

Thanks
Sri

[2021-08-03 17:42] msbemba commented on #5817
@dab-vie Thank you for your feeback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5831

Once the author approves, the document will be live.

Thanks
Sri

[2021-08-03 17:44] gonz-kelv opened #5832 "Proxy Service URLs confirmation"
Hi,

Was reviewing the Firewall Proxy URL Defender for Endpoint Sensor needs to communicate. Saw theres one entry row 73 in Defender for Endpoints sheet where it says
Current
*download.windowsupdate.com
Should there be a period after the wildcard?
*.download.windowsupdate.com

Thanks,
Kelvin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2021-08-03 17:54] rhoward9416 opened #5833 "After consent is granted - receive a token not found error"
When executing the SetupCrossTenantRelationshipForTargetTenant.ps1, after granting consent using both URL's for the target and resource domain, the following error occurs.  We are running the script using 2 test tenants, one as the source and the other as the target.

<img width="387" alt="tokenNotFound" src="https://user-images.githubusercontent.com/88398440/128061887-59c79ebb-7b31-4465-bf3d-b904

[2021-08-03 17:54] msbemba commented on #5773
@IfEyeOnlyKnew Thank you for your feedback. By default, it displays 30 days date. But if you click on the drop-down at the top of the page, you can switch either 7, 90, or 180 days. The data does not go beyond 180 days.

![image](https://user-images.githubusercontent.com/45987684/128062871-bb564d5e-cc02-457a-a5dd-b0962ea9e2e9.png)

Hope this helps!
Thanks
Sri

[2021-08-03 17:59] markjjo commented on #5817
@dab-vie @msbemba @yogkumgit The PST Import tool supports only AzCopy v8. This is the version of azcopy that can be download via the link in the network upload workflow of the PST import tool. That's why we document the v8 syntax. You can use azcopy v10 to upload PST files, but documentation only supports v8.

For more info, see this issue: https://github.com/MicrosoftDocs/microsoft-365-docs/issue

[2021-08-03 17:59] #5817 closed

[2021-08-03 17:59] msbemba commented on #5757
@lwolf-sagetechs Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5834

Once the author approves, the document will be live.
Thanks
Sri

[2021-08-03 18:02] msbemba commented on #5769
@turnma I was able to test this with only global and compliance admin roles. I have made changes to the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5835

Thank you again for your valuable feedback.

Thanks
Sri

[2021-08-03 18:03] msbemba commented on #5799
@29039 Thank you for your feedback. The step by step instructions are available here at https://docs.microsoft.com/en-us/microsoft-365/compliance/use-network-upload-to-import-pst-files?view=o365-worldwide

Hope this helps!

Thanks
Sri

[2021-08-03 18:06] msbemba commented on #5800
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5836

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-03 18:09] msbemba commented on #5802
@jmmowrer Thank you for your feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5837

Once the author approves PR, the document will be live.

Thanks
Sri

[2021-08-03 18:47] B-starboy commented on #5727
I am not sure what you’re saying about this article and how it applies to the issue?

[2021-08-03 18:48] #5728 closed

[2021-08-03 23:09] cabailey commented on #5756
@rconiv  Thanks for your patience while I reviewed the case notes and made inquiries from the support team.  There are just 2 scenarios where you might need to continue to use the older retention policies: For an archiving policy (applicable to you) to move emails from the primary mailbox to the archive mailbox, and to automatically apply different retention settings to different Outlook folders (

[2021-08-03 23:25] rconiv commented on #5756
Thanks, what we are needing it for is when someone leaves the company, and I delete their M365 Office license, the mailbox will go to inactive.  If I enable archiving, and have everyone in the company or just the person tied to the policy I created under the M365 Admin\compliance\information governance\retention policies, and delete the account (did on test account), it doesn't show up under inact

[2021-08-03 23:43] #5801 closed

[2021-08-03 23:48] denisebmsft commented on #5801
Hello @trkrdy1 and @yogkumgit! Just wanted to let you know that I fixed the diagram today. You will see the updates render live a little later this afternoon. Thank you again for the helpful feedback!

[2021-08-03 23:53] cabailey commented on #5756
Yes, what you're requesting for an inactive mailbox is documented here: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-exchange#when-a-user-leaves-the-organization

"If a user leaves your organization and the user's mailbox is included in a policy for retention, the mailbox becomes an inactive mailbox when the user's Microsoft 365 account is deleted. The contents of a

[2021-08-04 00:07] rconiv commented on #5756
I found that if I didn't enable archiving, I could pick either retention option, and and when the mailbox was deleted in M365, it didn't go to inactive mode.  If I did activate it, and enable the retention in classic mode, it would go inactive.  I though could enable archive, and retention in the modern M365, wait a day or 3, and delete the account, and it wouldn't go to inactive mode.

The suppor

[2021-08-04 00:28] 29039 commented on #5799
Thanks Sri, I had eventually found that link, but it should have been part of the overview instructions as it's a critical step which can't be guessed.

[2021-08-04 00:32] qaehtesh commented on #5728
Thank you Mark, I created the below PR Document Update Request - Items moved across Non Indexed folder to In... by qaehtesh * Pull Request #9859 * MicrosoftDocs/microsoft-365-docs-pr (github.com)<https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/9859>

From: Mark Johnson - MSFT ***@***.***>
Sent: Wednesday, August 4, 2021 3:49 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Qazi

[2021-08-04 10:55] alfimasing opened #5839 "Change the line 12 to Optimize to make emergency calling in teams available for remote users."
Hi Team,

I would request a change in Category for line 12 in the table for TEAMS and SFB from "Allow" to "Optimize".
All our docs regarding Networking are stating that at least the Optimize category should bypass customers onprem security environment as much as possible. For VPN we are recommending using Split tunnel and excluding at least Optimize category. This is not enough for emergency calli

[2021-08-04 11:06] msbemba commented on #5799
@29039 I have added the download link to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5840

Once the author approves the change, the PR will be live.

Thanks
Sri

[2021-08-04 11:07] msbemba commented on #5799
@yogkumgit  The document we are updating is https://docs.microsoft.com/en-gb/microsoft-365/compliance/importing-pst-files-to-office-365?view=o365-worldwide#BKMK_NetworkUpload

[2021-08-04 11:07] yogkumgit commented on #5829
@rzhangongit Please indicate which document you are referring to and what is your feedback. Thanks