[2021-03-09 16:06] #4026 closed

[2021-03-09 16:22] yogkumgit commented on #4233
@msbemba Thank you very much for the contribution and sharing this explanation. @jshimota01 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-09 16:23] #4233 closed

[2021-03-09 16:26] yogkumgit commented on #4282
@msbemba Thank you very much for the contribution and sharing this explanation. @nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-09 16:26] #4282 closed

[2021-03-09 16:39] msbemba commented on #4144
Thank you @danmyhre  for the feedback.

@yogkumgit  The document has been updated and the issue can be closed.

Thanks
Sri

[2021-03-09 17:44] markjjo commented on #4362
@Alex-Catalin Thx. The topic has been updated. for example: https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#azure-ad-group-administration-activities

[2021-03-09 17:46] robmazz commented on #4055
@deeksha-microsoft - thanks for your feedback. New updates are coming in both the feature UI and documentation about this, please look for updates in the next few weeks. Thanks!

[2021-03-09 17:46] #4055 closed

[2021-03-10 06:15] cabailey commented on #4326
@LukeAllinson-NS  In the context of the principles of retention, where we're addressing how conflicts get resolved, delete means eligible for permanent deletion (so not searchable by eDiscovery), regardless of where that content currently is.  So for Exchange, that content could be in the Recoverable Items folder but won't be permanently deleted from there while it is subject to retention from ano

[2021-03-10 09:58] LukeAllinson-NS commented on #4326
Great, thanks.
As I said, it is clear from my testing/experience what "delete" means in the context of Exchange, but it would be super to see a note somewhere about the "move to recoverable items" action (i.e. Exchange hard-delete) occurring even if a retention is applied.

[2021-03-10 11:15] yogkumgit commented on #4144
@msbemba Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-10 11:15] #4144 closed

[2021-03-10 11:23] yogkumgit commented on #4359
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AndreasNilssonSWE Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-10 11:23] #4359 closed

[2021-03-10 14:45] Varstahl commented on #592
I've lost count of how many times I've been directed to https://sender.office.com/, last of which today, just to get blocked by a "temporary" error.

![image](https://user-images.githubusercontent.com/284077/110646360-1e2a0280-81b7-11eb-9423-a2f82429a62e.png)

Either I'm the unluckiest admin on the planet, or that service crumbles more than a cookie. The no-auth mails are just the cherry on top. A

[2021-03-10 15:01] PaulMoore-PaymentsFoundry commented on #592
Same error here for last 2 days.  Immensely frustrating and support were absolutely useless.

[2021-03-10 17:46] msbemba commented on #4277
@plecavalier Thank you for the update. Did you create a TXT record? Let us know if there is any update required in this document.

Thanks
Sri

[2021-03-10 17:49] msbemba commented on #3011
@yogkumgit There are no changes required in this document and this can be closed.

 The PowerShell team will need to update this in the PowerShell gallery as it is the right place to document the versions required for its modules.

Thanks
Sri

[2021-03-10 17:56] msbemba commented on #4223
@Pher0ah Thank you for the feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4398

Thanks
Sri

[2021-03-10 17:56] plecavalier commented on #4277
I did yes. And only then did it work.

On Wed, Mar 10, 2021, 12:46 Sriraman M S <notifications@github.com> wrote:

[2021-03-10 17:59] msbemba commented on #4277
Thank you for the feedback. Could you provide more information on the TXt record you created so that we can test and update the document.

Thanks,

Sri

From: Philippe LeCavalier <notifications@github.com>
Sent: Wednesday, March 10, 2021 11:27 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Sriraman M S <msbemba@gmail.com>; Comment <comment@noreply.github.com>
S

[2021-03-10 18:07] plecavalier commented on #4277
Yes gladly. Here you go.

Host
selector1-pauktuutit-ca._domainkey.pauktuutit.ca

Value
v=DKIM1; k=rsa;
p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDeZCMz9p4lU22AjEbhFa0bO/ikP1kAPFeBTJK4pm8nfhQnLMQerS5D3RhQTt1hvU/KYsT+VLTMXaXm1oJ/me/JlWd6T7SRYJm8xmKBiA0RVTIrN3FH6GhZXgoa4+WljO6wIztA32fBPWlRu0LpNV9gQFAAe42Ar+KicMiEidLGgwIDAQAB;
n=1024,1450512990,1466324190

Host
selector2-pauktuutit-onmicrosoft-com._doma

[2021-03-10 18:31] AndreasNilssonSWE commented on #4359
Thanks @msbemba and @yogkumgit! Take care and be safe.

[2021-03-10 19:14] markjjo commented on #4295
Fixed

https://docs.microsoft.com/en-us/microsoft-365/compliance/use-network-upload-to-import-pst-files?view=o365-worldwide#optional-step-3-view-a-list-of-the-pst-files-uploaded-to-office-365

[2021-03-10 19:14] #4295 closed

[2021-03-10 19:14] markjjo commented on #4247
Closing

[2021-03-10 19:14] #4247 closed

[2021-03-10 19:56] RandomGitHubFL opened #4400 "Wrong parameter in example of cmdlet"
The command:

 New-HostedOutboundSpamFilterRule -Name "Contoso Executives" -HostedOutboundSpamFilterPolicy "Contoso Executives" -SentToMemberOf "Contoso Executives Group"

is wrong. "SentToMemberOf" is NOT a parameter of the "New-HostedOutboundSpamFilterRule" cmdlet.

I believe "-FromMemberOf" is the parameter that is meant to be here.

https://docs.microsoft.com/en-us/powershell/module/exchange/n

[2021-03-10 22:09] bhawthorne opened #4402 "Adjustment to [Revoke admin access to a user's OneDrive] section"
In the Revoke section, the steps outlined require an elevation of permissions (and steps) which is not required. The same steps for the [Grant] section will get you to where you need to be to revoke admin access. Adding that path as an option for someone with access to the address book, but not to the SharePoint Admin center, would be helpful.

---
#### Document Details

⚠ *Do not edit this sectio

[2021-03-10 22:46] chrisda commented on #4400
@RandomGitHubFL, fixed. In the future, you too can make updates like this yourself without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2021-03-10 22:46] #4400 closed

[2021-03-10 23:02] KCCross commented on #4266
This link works for me after a redirect. The new URL is https://csrc.nist.gov/projects/cryptographic-module-validation-program/validated-modules/search. Updating.

[2021-03-10 23:06] KCCross commented on #4266
https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4404

[2021-03-10 23:06] #4266 closed

[2021-03-10 23:34] Ronsss opened #4405 "Is "Insider" the same as "targetted" Release. Please explain where they both fit in release strategy"
Where does the Office Insider program fit in the corporate setting. I was under the impression that Insider "channel" access comes before "Targeted" Channel / track.

Please add a note to the page explaining if the  Office Insider channel applies in a corporate setting and where it fits in the tracks diagrammed on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2021-03-11 03:25] sumitvalecha commented on #4247
Sorry for not responding quick.  We have e5 license. I got your point that logs are retained for 10 yrs since the day we create it but my question was more about searching the Audit logs from compliance.microsoft.com or protection.microsoft.com UI. Documentation doesn't mentions it clearly that UI will support the capability to search the backdated logs upto 10yrs So i need confirmation on that an

[2021-03-11 03:32] ramire-cc opened #4407 "Deleting unlicensed user after shared mailbox is created"
Hi, this is more of a question,
What happens if I delete the user after the shared mailbox has been created after a month?
Will the shared mailbox still be there?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Version Independent ID: 702f2dc1-46f8-508a-68bc-

[2021-03-11 04:04] vladcatrinescu opened #4408 "Get-MSCommerceProductPolicies -PolicyId AllowSelfServicePurchase Does Not Work"
Unfortunately either the documentation is wrong, or the product does not work as advised.

When running the following cmdlet:
`Get-MSCommerceProductPolicies -PolicyId AllowSelfServicePurchase`  I get the error in the screenshot below.

![2021-03-10 23-01-38](https://user-images.githubusercontent.com/16143190/110733904-c7dbb480-81f4-11eb-9598-cef36491fa94.png)

---
#### Document Details

⚠ *Do not

[2021-03-11 07:44] AidarKydyrbekov opened #4409 "Error dot(.) in URL list"
Good day,

I just want to show you typo or misprint in official docunentation:
we have detected that in documentation of O365 you provided URLs  ".onenote.com"  and ".secure.skypeassets.com", but in real system it trying to connect to "https://onenote.com"  and "https://secure.skypeassets.com"  WITHOUT dot (.)
For URL filtering its a big different between "https://onenote.com" and "https://.onenot

[2021-03-11 11:50] SilviuTanasescu opened #4411 "Multifactor authentication should be supported when using the Central Deployment PowerShell module"
in the article:
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/centralized-deployment-of-add-ins?view=o365-worldwide
we provide Centralized Deployment Compatibility Checker.

This tool is not compatible with Multifactor authentication - which means admins need to assume a security risk to use it:
 Note - Multifactor authentication is not supported when using the Central Deployment Pow

[2021-03-11 11:57] msbemba commented on #4333
@foyinb Thank you for your feedback. Yes, you are correct. Anyone with the write admin role can create m365 groups.
Office 365 Global admins can create Groups via any means, such as the Microsoft 365 admin center, Planner, Teams, Exchange, and SharePoint Online. Other roles can create Groups via limited means, listed below.

Exchange Administrator: Exchange Admin center, Azure AD
Partner Tier 1 Su

[2021-03-11 12:03] msbemba commented on #4346
@RomanNG Thank you for your feedback.  The locations where customer data may be stored can change within
Hong Kong, Japan, Malaysia, Singapore and, South Korea. Using PDL the admins can choose only APC and Microsoft will store within these 5 locations mentioned.

While Exo,SPO, and Onedrive store in APC there are other services that will still be stored in the US.

![image](https://user-images.git

[2021-03-11 12:07] msbemba commented on #4358
@itishnitsa Thank you for your feedback. I shall test this and update the document if required.

Thanks
Sri

[2021-03-11 12:10] msbemba commented on #4364
@StephanGa Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4412

Thanks
Sri

[2021-03-11 12:14] msbemba commented on #3927
@sksumner Thank you for your feedback. We have received confirmation from the author and reviewers that Power BI regions are not related to Microsoft 365 Multi-Geo.

@yogkumgit Please proceed with closing the case as there are no changes required in the document.

Thanks
Sri

[2021-03-11 12:33] yogkumgit commented on #4201
@msbemba Thank you very much for the contribution and sharing this explanation. @panovattack Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 12:33] #4201 closed

[2021-03-11 12:39] yogkumgit commented on #4327
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Josverl Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 12:39] #4327 closed

[2021-03-11 12:48] yogkumgit commented on #3011
@msbemba Thank you very much for the contribution and sharing this explanation. @richard-artes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 12:48] #3011 closed

[2021-03-11 12:51] yogkumgit commented on #4223
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Pher0ah Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 12:51] #4223 closed

[2021-03-11 13:04] yogkumgit commented on #3927
@msbemba Thank you very much for the contribution and sharing this explanation. @sksumner Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 13:04] #3927 closed

[2021-03-11 13:17] yogkumgit commented on #4322
@msbemba Thank you very much for the contribution and updating the documentation with PR. @david-ps Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 13:17] #4322 closed

[2021-03-11 13:21] yogkumgit commented on #4311
@msbemba Thank you very much for the contribution and sharing this explanation. @andrewhellyer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 13:21] #4311 closed

[2021-03-11 13:35] yogkumgit commented on #4089
@msbemba Thank you very much for the contribution and updating the documentation with PR. @richard-artes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-11 13:35] #4089 closed

[2021-03-11 14:41] ZWislerVTG opened #4413 "Anti-Spam IP Delist Portal is down"
After trying to delist my IP, I get the following message from the sender.office.com site:

Step 1: Our messaging service has experienced a temporary issue, please resubmit your information below.

This happens every time after submitting. I have tried numerous browsers as well, along with 2 separate devices and networks.

[2021-03-11 18:08] twernermsft commented on #4402
Hi Brent – what is this in regards to? Is there action required by me? I’m currently reassigning topics that were assigned to me to our vendor for updates.

From: Brent Hawthorne ***@***.***>
Sent: Wednesday, March 10, 2021 2:10 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Tom Werner ***@***.***>; Mention ***@***.***>
Subject: [MicrosoftDocs/microsoft-365-docs] Adjustment to [Revoke ad

[2021-03-11 18:54] tictag opened #4417 "Typo"
"Content impace" should read "Content Impact" in section "What's the user and device impact?"

HTH

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90e5b93e-9372-b489-55f4-ac6dd72fa2e3
* Version Independent ID: b3f1e27e-655b-63d2-b42d-94994fec2370
* Content: [Wipe a mobile device in Basic Mobility and Security - Microsof

[2021-03-11 19:23] foyinb commented on #4333
Yes it does. Many thanks Sri.

On Thu, Mar 11, 2021 at 11:57 AM Sriraman M S ***@***.***>
wrote:

[2021-03-11 19:39] vladcatrinescu commented on #4408
I will close the issue as I Microsoft has been aware of the issue and should be solved shortly. This was a product issue not a docs issue so this can be considered closed! Thank you!

[2021-03-11 19:39] #4408 closed

[2021-03-11 19:43] vladcatrinescu commented on #4387
Hey there @desmondgc ,  I was in the same boat and managed to connect with someone at Microsoft who said they're aware of the issue and should be fixed shortly . In case you're blocked, here is a workaround that would work.

Check using the
Product | ProductId
-- | --
Power   Apps per user | CFQ7TTC0KP0P
Power   Automate per user | CFQ7TTC0KP0N
Power   BI Pro | CFQ7TTC0L3PB
Project   Plan 1 | CFQ7

[2021-03-11 22:39] lhcole commented on #1984
We removed the Hover.com article and we're now pointing to general DNS records instructions: [Create DNS records at Hover for Microsoft - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider).

[2021-03-11 22:39] #1984 closed

[2021-03-11 22:46] lhcole commented on #2604
We are in the process of retiring the Bluehost article and redirecting to this topic: [Add DNS records to connect your domain]https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider

[2021-03-11 22:46] #2604 closed

[2021-03-11 22:56] lhcole commented on #3127
This looks like it might have been a one-off issue and we'll be monitoring to see if this happens again.

[2021-03-11 22:56] #3127 closed

[2021-03-11 23:44] ZWislerVTG commented on #4413
The site appears to have returned to an operational state.

[2021-03-11 23:44] #4413 closed

[2021-03-11 23:51] bhawthorne commented on #4402
The link for feedback on the documentation page took me to that location. The particular section on revoking admin access seems out of date, per my included comment.

[2021-03-12 04:04] PM735 opened #4420 "Source IP and ports are not specified for Hybrid connections"
The rows that refer to Hybrid servers (row 7 and row 8) do not indicate ports and source IP addresses.
Please add **destination on-premise ports** and **O365 source IP addresses** for these rows.
Customers do not expect to allow ANY source to their on-premise Hybrid servers, especially in the context of the recent Exchange bugs and compromises.

---
#### Document Details

⚠ *Do not edit this secti

[2021-03-12 04:09] PM735 commented on #4373
Can the table be reowrked to clearly specify **O365 source IPs** and **on-premise destination ports** required for on-premise Hybrid servers.

We have hard time understanding this table, as it does not contain this important information for customers that want to propely manage their firewalls.

[2021-03-12 07:17] TomoharuMisawa opened #4421 "missing in the explanation of ExpressRoute"
Hello

I feel that the explanation of ExpressRoute is different.
In No46, officeapps.live.com is supposed to go through a fast route.
In No81, only odc.officeapps.live.com does not go through ExpressRoute.
However, cdn.odc.officeapps.live.com does not follow the fast route.
Therefore, I think cdn.odc.officeapps.live.com should be listed in No81.

how is it?

__
[Enter feedback here]

---
#### Docu

[2021-03-12 07:22] yogkumgit commented on #4284
@msbemba Thank you very much for the contribution and updating the documentation with PR. @steve-novanex Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-12 07:22] #4284 closed

[2021-03-12 07:25] yogkumgit commented on #4163
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sebhe Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-12 07:25] #4163 closed

[2021-03-12 07:33] yogkumgit commented on #4333
@msbemba Thank you very much for the contribution and sharing this explanation. @foyinb Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-12 07:33] #4333 closed

[2021-03-12 07:46] yogkumgit commented on #3725
@msbemba Thank you very much for the contribution and updating the documentation with PR. @trudolf-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-12 07:46] #3725 closed

[2021-03-12 08:28] msbemba commented on #4417
@tictag Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4422

Thanks
Sri

[2021-03-12 20:37] cabailey commented on #4326
Noted - created a work item to incorporate this clarification into the docs.  Although you're asking for it in the context of Exchange, it will need adding for all workloads, so not a quick fix.

[2021-03-12 20:37] #4326 closed

[2021-03-12 22:09] billvolt opened #4426 "EOP inbound port-25 SMTP IP address list has been removed, but is still needed"
Step 4 of the document states:  "Following this, restrict inbound port-25 SMTP traffic on your firewall or mail servers to accept mail only from the EOP datacenters, specifically from the IP addresses listed at Exchange Online Protection IP addresses."  In this a link is provided to the following URL:

<https://docs.microsoft.com/microsoft-365/enterprise/urls-and-ip-address-ranges>

The document a

[2021-03-12 23:59] lhcole commented on #3574
@DiavoloRosso Thanks for reaching out. Would you give me a few more details about your request? Are you asking that I remove a specific link from the Get started page? Can you identify which one should be removed?

[2021-03-13 00:40] chrisda commented on #4426
@billvolt, I hear you. This same issue was brought up in a different repo (officedocs-exchange). A decision out of our control was made to remove those IP address ranges from the aforementioned urls-and-ip-address-ranges topic (which is apparently automatically generated).

<https://github.com/MicrosoftDocs/OfficeDocs-Exchange/issues/1559>

As you can see, it got rather nasty at times.

Does anyth

[2021-03-13 11:58] leenana365888 opened #4427 "Converted View"
The article mentioned "Converted view" but there is no section / explanation for it.  Is it the same as "Dashboard View", which has its own section in the article?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c6d3a9d-3f70-cdda-df68-a16533f611ae
* Version Independent ID: 0e774242-8db0-8c0b-ee4f-8e03dfca2487

[2021-03-14 22:44] DavidCouzens opened #4428 "Spelling Mistake"
[Enter feedback here]

Microsoft is spelt incorectly half way down the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ac69fb3-1a2f-cb6d-8a0b-1bbc6169e50d
* Version Independent ID: 2b9e64b6-023f-41ca-c774-c8e51e85802c
* Content: [Create DNS records at 123-reg.co.uk for Microsoft - Microsoft 365 admin](https://doc

[2021-03-15 02:44] walvis79 opened #4429 "Paying by bank account is not available in some countries or regions."
[Enter feedback here]
Hello team, could you please update this article with more details about "where exactly bank accounts are not available as payment method option"
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82583c48-08e6-9acb-657b-ce1fe44e76a5
* Version Independent ID: cbdcf652-3a68-4fa3-9f3b-92c518e0b71

[2021-03-15 06:11] josh-at-tally opened #4430 "Need support for PowerShell 6+ to get license information."
How am I suppose to adopt using PowerShell Core/ Pwsh 7 when I can't see licenses available before creating a new user.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc797a9a-7bdf-4fbc-92db-b1dc5d54eda9
* Version Independent ID: d6907c1a-08ff-e881-37cb-a206f8bffc3d
* Content: [View Microsoft 365 account license and se

[2021-03-15 08:05] yogkumgit commented on #4377
@markjjo  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-15 08:06] yogkumgit commented on #4373
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-15 08:07] yogkumgit commented on #4409
@kelleyvice-msft Please add your comment and help us in resolving this issue. Thanks.

[2021-03-15 08:08] yogkumgit commented on #4420
@kelleyvice-msft Please add your comment and help us in resolving this issue. Thanks.

[2021-03-15 08:08] yogkumgit commented on #4421
@kelleyvice-msft Please add your comment and help us in resolving this issue. Thanks.

[2021-03-15 08:25] yogkumgit commented on #4417
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tictag Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-15 08:25] #4417 closed

[2021-03-15 08:46] yogkumgit commented on #4387
@vladcatrinescu Thank you very much for the contribution and sharing this explanation. @desmondgc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-15 08:46] #4387 closed

[2021-03-15 12:53] michevnew opened #4431 "Password reset"
Can you please clarify why a password reset is needed (forced)? This is certainly not something that is required, and neither PowerShell or the Azure AD blade will require you to reset the password.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c346b60d-9c8e-2b49-fa69-a6525978f5fc
* Version Independent ID: 519bb4de-62

[2021-03-15 14:07] chraymu opened #4432 "Please add personas to the baseline policies table"
It would be really helpful to have personas added as a column in the table to help with the protection level.

![image](https://user-images.githubusercontent.com/50723702/111165990-a6b8f200-856d-11eb-84bc-cf981670d501.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77aedd2-47a9-fcf5-3cc3-b46fe8548314
* Version Ind

[2021-03-15 14:46] chiners68 opened #4433 "timescales"
Hi, I am testing insider risk. Everything is setup, have craeated and uplaoded my leaver. I have actioned copying files to USB and cloud etc. how long does it take for a device to report any violations to the console? timescales dont appear to be listed in the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-03-15 18:43] msbemba commented on #4385
@DeanGross Thank you for your feedback. We had few issues with Github PR merges and that is why you see the inconsistency in the date. Once we update the document next you should see consistent Dates on the document.

@yogkumgit There are no changes in the document, The date mismatch was due to merge issues with GitHub and this will get fixed in the subsequent update.

Thanks
Sri

[2021-03-15 18:48] webstaff opened #4437 "You can no longer do this via exchange admin center."
No longer able to change this via classic exchange admin center and if you follow the links to the security center when accessing the admin center as a partner it says f off..
Another example of you not caring about partners :'(

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 249c059f-c3ce-a382-b9

[2021-03-15 18:51] msbemba commented on #4371
@OskarNet Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4438

Thanks
Sri

[2021-03-15 19:07] robmazz commented on #3374
@uhoefner and @msbemba - thanks for the feedback, associated PR merged with update.

[2021-03-15 19:07] #3374 closed

[2021-03-15 19:20] msbemba commented on #4379
@septst Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4439

Thanks
Sri

[2021-03-15 19:31] msbemba commented on #4407
@ramire-cc Thank you for your feedback. The Shared mailbox gets purged as soon as the linked unlicensed user account is deleted from the admin center. They are linked and the user when deleted can still be retrieved for the next 30 days.

Hope this helps!

Thanks
Sri

[2021-03-15 19:34] robmazz commented on #3225
@ahamin01 and @msbemba - thanks for your patience. No responses from resources, updating link to https://businessaccount.microsoft.com/ for now. Will update if it needs to be changed.

[2021-03-15 19:34] #3225 closed

[2021-03-15 19:45] robmazz commented on #2863
@Rkhan-ms  and @msbemba - Thanks for you patience. I only answers I've been able to get so far is that unless, specified (like India, et al), the common configuration is four database copies in four datacenters for geos. However, this topic is up for a review and I'll make a note to try to amplify this for clarity in the upcoming updates.

[2021-03-15 19:45] #2863 closed

[2021-03-16 00:40] ramire-cc commented on #4407
Hi Sri,

Thank you for the response.

So to confirm, if the user is deleted from admin center, so as the shared mailbox’s contents?

I have a shared mailbox on my desktop outlook that I set-up when an employee left. The user is already unlicensed and I don’t see new emails coming in.

Now I want to delete the user completely from admin center but want to keep the shared mailbox contents.

Can I pr

[2021-03-16 04:56] #4379 closed

[2021-03-16 05:16] yogkumgit commented on #4283
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CherokeeBoose Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-16 05:16] #4283 closed

[2021-03-16 05:23] yogkumgit commented on #4272
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Beschorr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-16 05:23] #4272 closed

[2021-03-16 15:00] jeffangama opened #4441 "How to search for Forms using Ediscovery ?"
Hi,
I found no explaination how to search for Forms from ediscovery, to find if a form is capturing somebody's name for example (GDPR) ?

I want to look for Forms using "Jeff ANGAMA" in the data collected by any user that has creating a form. If I search "Jeff ANGAMA" across everything, I have too many results from email for example, and i can't filter down to Forms results.

Ediscovery is usable

[2021-03-16 15:37] PM735 commented on #4373
Any update?

[2021-03-16 15:37] PM735 commented on #4420
Any update?

[2021-03-16 18:03] msbemba commented on #4255
@hilari0n Thank you for your feedback. Looks like Microsoft will be moving away from UserVoice feedback sites throughout the 2021 calendar year.

https://support.microsoft.com/en-us/topic/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a

Note there is a design change needed, you will need to provide feedback through one of our channels

1)https://support.microsoft.com/en-us/topic/uservoice-pag

[2021-03-16 18:05] msbemba commented on #4277
Adding @MSFTTracyP for visibility

[2021-03-16 18:11] msbemba commented on #4321
@yogkumgit There are no changes required on the document as of now and this can be closed.

[2021-03-16 18:13] msbemba commented on #4346
@yogkumgit There are no changes required in the document and the issue can be closed.

[2021-03-16 18:15] msbemba commented on #4358
@itishnitsa Thank you for your feedback. Upon testing this works on my test tenant. If this is still an issue, I'd recommend you contact the support team(to raise a bug of fix this in the backend)  via the need help section in the admin center.

If there are still any changes required in the document, Please let us know.

@yogkumgit There are no changes required in the document and the issue can b

[2021-03-16 18:19] msbemba commented on #4384
@bakerm00 Thank you for your feedback. I'm working with the author in the backend and will update the document if need be.

Thanks
Sri

[2021-03-16 18:21] msbemba commented on #4407
@ramire-cc While that is possible, the approach needs to be a little different. I'd suggest you to contact Microsoft support via the need help section so that they can help you sort this out.

Thanks
Sri

[2021-03-16 18:26] brolifen opened #4448 "Clarify that owa/ecp and activesync are not supported"
Should add a note on the page somewhere to clarify that Exchange Active Sync and OWA/ECP are not supported for HMA. To be more precise this sort of information should be added.

EAS: Is "partially" supported if you meet all prereqs but there is also no reference to this document:
https://docs.microsoft.com/en-us/exchange/clients/outlook-for-ios-and-android/use-hybrid-modern-auth?view=exchserver-20

[2021-03-16 18:28] msbemba commented on #4411
@SilviuTanasescu Thank you for your feedback. Unfortunately at the moment, the compatibility checker is not compatible with MFA and the same has been updated in the document accordingly. We keep the documents up to date, but cannot make design changes as such. However, if you would like to leave feedback to the Product group you can do it via the User voice section - https://officespdev.uservoice.

[2021-03-16 19:50] obsoletenewyork opened #4450 "Error in MS Bookings deletion PowerShell"
"Get-EXOMailbox -RecipientTypeDetails Scheduling" doesn't return the Bookings mailboxes.

Returns following error:
ErrorMessage={"error":{"code":"BadRequest","message":"Scheduling is not valid value of
Microsoft.Exchange.Data.Directory.Recipient.RecipientTypeDetails"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa612

[2021-03-16 20:24] useyourblinker opened #4451 "This document contradicts another document in Azure documentation"
[Enter feedback here]

https://azure.microsoft.com/en-us/pricing/details/information-protection/

This seems to list that Microsoft 365 Business includes AIP P1, but the document I am leaving this feedback for does not. Which is it?

I find conflicting information all over the web, but one of these documents has to be incorrect!

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-03-16 20:34] geektbee opened #4452 "Little Typo"
Under the question "How can Bookings-associated mailboxes in Exchange be identified?", there's a nice little PowerShell script. The "Where-Object" data needs to have a wildcard on each side of the @ symbol, so that it's:
`Where-Object {($_.User -like '*@*')}`

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f748

[2021-03-16 20:52] soutchilin opened #4453 "No mentions about encryption of file and log data"
Hi,

As Dataverse and based on that D365 store attachments in a App Files storage and store logs also outside of the database this article is not complete. Please add description about encryption of these two non-SQL-DB storages.

Thanks.
Alexander

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 869cdad4-a8e0-09f1-081d-

[2021-03-16 21:22] greggcyrus opened #4454 "Instructions don't match"
The instructions say to go to "Explorer" under "Threat Management" but I don't have the same options. Under "Threat Management", I see

- Dashboard
- Submissions
- Real-time Detections
- Review
- Policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58031ac6-a7d2-59ac-59c1-b3e03fbc8f13
* Version Independent ID: 82c2a51

[2021-03-16 23:13] LauraWi commented on #3907
@rickjewell-msft Please find me on Teams and I will explain the internal process for these updates. This info cannot be manually updated.

[2021-03-16 23:13] #3907 closed

[2021-03-16 23:20] LauraWi commented on #3085
Hi @arunkumar4003 Writers are not able to troubleshoot scenarios like this in the context of documentation feedback. Your best bet is to open a case with support. Thanks.

[2021-03-16 23:20] #3085 closed

[2021-03-16 23:22] LauraWi commented on #3873
Looping in @pandrew1 for possible clarification on this question and recommendation with respect to any doc updates.

[2021-03-16 23:35] LauraWi commented on #3684
More information is provided in the linked topics at the bottom of the article.

[2021-03-16 23:35] #3684 closed

[2021-03-16 23:37] LauraWi commented on #3699
Thanks for the feedback. As this is an aesthetic issue that does not negatively impact the technical accuracy of the article it is a low priority for a fix. I am closing the issue.

[2021-03-16 23:37] #3699 closed

[2021-03-16 23:44] mgalhouse opened #4455 "How can these logs be automatically exported to a SIEM?"
I would like to see instructions here for how to get these audit logs automatically sent to a SIEM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1aac99b-5c65-74d3-7610-b7ba4fcac493
* Version Independent ID: a0b2ab87-7d52-3429-630e-6b7a316b5f23
* Content: [Manage mailbox auditing - Microsoft 365 Compliance](https://d

[2021-03-17 01:35] pandrew1 commented on #3873
The answer to the customers question would depend on their network perimeter configuration. They have to allow the network traffic from their users to Microsoft. They say their configuration is just a firewall and no proxy server. If their firewall is configured with FQDNs then they can just use the FQDNs we publish and they don't need to use the IP Addresses. If they have a firewall which require

[2021-03-17 04:35] solosan opened #4457 "Cross Tenant Migration CSV upload"
[Enter feedback here]
I spent hours to set up the migration following this guide. Great job by the team btw.

However, I did not see anywhere where the format of the CSV file was included. I tried to follow different references to CSV files but nothing works.

Please, can you upload or at least show a specific columns or format the CSV file should be. Not even on the video which I watched did the

[2021-03-17 11:17] yogkumgit commented on #4321
@msbemba Thank you very much for the contribution and sharing this explanation. @huzzeytech Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-17 11:17] #4321 closed

[2021-03-17 11:34] yogkumgit commented on #4346
@msbemba Thank you very much for the contribution and sharing this explanation. @RomanNG Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-17 11:34] #4346 closed

[2021-03-17 11:39] yogkumgit commented on #4358
@msbemba Thank you very much for the contribution and sharing this explanation. @itishnitsa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-17 11:39] #4358 closed

[2021-03-17 11:42] yogkumgit commented on #4407
@msbemba  Thank you very much for the contribution and sharing this explanation. @ramire-cc Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-03-17 11:43] #4407 closed

[2021-03-17 11:48] yogkumgit commented on #4411
@SilviuTanasescu Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-03-17 11:48] #4411 closed

[2021-03-17 12:01] yogkumgit commented on #3873
@pandrew1 Thank you very much for the contribution and sharing this explanation. @ShadowSamauri Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-17 12:01] #3873 closed

[2021-03-17 13:39] Rudolf112 opened #4460 "QR code on-demand"
How and when are these notifications displayed? How can a user view this QR code on-demand?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 749a8389-eda6-3059-b713-5d0b3755fe9c
* Version Independent ID: 53000b70-b561-ec33-0b94-f0c26650548b
* Content: [Use a QR code to sign-in to the Outlook mobile apps - Microsoft 365 a

[2021-03-17 16:23] DaveVernon opened #4461 "CSV specifications"
The docs say "Import from CSV allows you to import a predefined set of users for this simulation."

What format does the CSV expect?  Email addresses?  Any headers?  Please don't make me guess :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c312fd69-72cd-bc86-4fe1-993b60b97bc6
* Version Independent ID: b7887ba6-4775-

[2021-03-17 18:46] OverengineeredNetwork opened #4462 "Mail flow rule does not operate as expected"
### Issues
- I never received the verbiage I populated in the _reject the message and include an explanation_ settings. I pulled a message trace for the two organizational email addresses I used for testing and neither of them showed any sign of an attempted/failed messages.
- It seems that the **Sender: Inside the organization** is unnecessary or at least less necessary than the **Recipient: Outs

[2021-03-17 21:13] chrisda commented on #4455
@mgalhouse, although admins and others have access to the content in the logs, there's no way to provide the logs to anyone. To view/search the logs, I'm told you have these options:

- Use the [Office 365 Management API](https://docs.microsoft.com/office/office-365-management-api/office-365-management-activity-api-reference).

- [Use a PowerShell script to search the audit log](https://docs.micro

[2021-03-17 23:52] nikki-c opened #4465 "Details missing on how to request this feature to be enabled"
Throughout this article it mentions about this feature needs to be switched on/ enabled. However this article does not mention how to switch on the ability for users with on premise mailboxes to have their chat data store in the online mailbox.
I had previously read that it was a support ticket to Microsoft. Can this article confirm the process to enable this feature.

Also can this article confir

[2021-03-17 23:54] itguysocal opened #4466 "Difference between "Mailbox intelligence" and "Mailbox intelligence based impersonation protection""
Please update this page to better explain the difference between "Mailbox intelligence" and "Mailbox intelligence based impersonation protection"
For example the former says is is based on user email patterns with their frequent contacts, and the latter says it is based on "each user's individual sender map." That sounds a lot like "user email patterns" and so we are seeking a better description o

[2021-03-17 23:55] nikki-c commented on #4465
Here is the link to the Microsoft article that mentions contacting Microsoft to enable this feature https://techcommunity.microsoft.com/t5/microsoft-teams-blog/microsoft-teams-supports-ediscovery-for-teams-users-in-a/ba-p/200009

[2021-03-18 00:11] markjjo commented on #4465
@nikki-c Thanks for the feedback. This feature is now enabled by default for all organizations. Previously, as per the blog post (from 2018) you had to open a support request to have this enabled. That is no longer the case. I removed this requirement from the article, but not all the references to "having to enable" or "after you enable". Good catch and bad on me. I will fix this.

What happened

[2021-03-18 00:11] #4465 closed

[2021-03-18 00:20] mgalhouse commented on #4455
Thank you, @chrisda. The Office 365 Management API looks promising. Our SIEM vendor has a built-in connection for Office 365 logging. If the audit logs are not already captured by that, I hope they can include it in a feature request.

[2021-03-18 00:20] #4455 closed

[2021-03-18 00:21] nikki-c commented on #4465
Mark
Thanks for the speedy response. Can you add a statement to say this is now enabled by default. As I was not aware of the change and actions like this are not often added to the roadmap or message centre. Or if it did it passed me by

So just to confirm that now it is enabled by default all the chat data has been retrospectively added to the cloud mailboxes back to 31 Jan 2018. So the organisa

[2021-03-18 11:18] yogkumgit commented on #4255
@msbemba Thank you very much for the contribution and sharing this explanation. @hilari0n Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-18 11:18] #4255 closed

[2021-03-18 11:23] yogkumgit commented on #4258
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Splish70 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-18 11:23] #4258 closed

[2021-03-18 11:41] yogkumgit commented on #4331
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Beschorr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-18 11:41] #4331 closed

[2021-03-18 11:43] yogkumgit commented on #4344
@georgiahuggins Please help us in resolving this issues. Thanks

[2021-03-18 11:44] yogkumgit commented on #4348
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmsmtn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-18 11:45] #4348 closed

[2021-03-18 11:46] yogkumgit commented on #4364
@msbemba Thank you very much for the contribution and updating the documentation with PR. @StephanGa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-18 11:47] #4364 closed

[2021-03-18 11:50] HarrisburgUSysAdmin opened #4469 "Cloudflare CNAME Records"
In regards to setting up multiple domains.  Cloudflare will not let you enter duplicate CNAME records.  I can only have selector1._domainkey and selector2._domainkey listed once.  Once I go to add a selector1 or selector2 for the other domain we get the error "CNAME record with that host already exists. (Code: 81053)"

Not sure if you can recommend steps for Cloudflare in this document?

[Enter fe

[2021-03-18 11:54] yogkumgit commented on #4385
@msbemba Thank you very much for the contribution and sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-18 11:55] #4385 closed

[2021-03-18 15:07] msbemba commented on #4428
@DavidCouzens Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4470

Thanks
Sri

[2021-03-18 17:10] chrisda commented on #4378
@jreyes4949 , use the *-HostedOutboundSpamFilterPolicy cmdlets as explained here: <https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-the-outbound-spam-policy#use-exchange-online-powershell-or-standalone-eop-powershell-to-configure-outbound-spam-policies>.

[2021-03-18 17:16] chrisda commented on #4236
@DeanGross, in most cases, P2 licenses are purchased and assigned per user. But, there are also rare instances where the P1 or P2 license is org-wide and can't be assigned to individual users. The only example I know of is ATP_ENTERPRISE_FACULTY, but there *might* be others. If you try to install a license to a user in that type of environment, you'll get an error stating that you can't assign ind

[2021-03-18 17:20] chrisda commented on #4179
@JeroenDronkers, the other option is to suggest this as a feature request at <https://office365.uservoice.com>. From a documentation perspective, there's nothing more we can do.

[2021-03-18 17:25] chrisda commented on #4230
For posterity, [this topic](https://docs.microsoft.com/en-us/officeupdates/update-history-office-for-mac) describes the Office (and presumably Outlook) for Mac version history.

[2021-03-18 17:26] #4230 closed

[2021-03-18 17:26] JeroenDronkers commented on #4179
Hello Chris,

Thanks but Uservoice is gone 😊

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services and Support
Office: +44 (118) 9095507
***@***.******@***.***>

[abc]
﻿
Team Manager | Frances Early ***@***.******@***.***>) +44 (20) 34251539

Did you know? You can submit your feedback for this Support ticket from the Navigation menu in the Microsoft 365 ad

[2021-03-18 17:34] chrisda commented on #3993
@iovex, the 3 test files should work. But, even if you don't have the correct licenses for Safe Documents, you can still 'enable' the feature (see [this issue](https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4179)). So, could we be dealing with a licensing issue here?

Also, the EICAR.TXT file is caught by basic anti-malware filtering in the service, so those 3 test files are the only w

[2021-03-18 18:43] chrisda commented on #3739
@myfope, I'm told that 9.25 is related to first contact by that sender as part of [impersonation protection and mailbox intelligence](https://docs.microsoft.com/microsoft-365/security/office-365-security/set-up-anti-phishing-policies#impersonation-settings-in-anti-phishing-policies-in-microsoft-defender-for-office-365). It's not that the message is necessarily phishing, it's just that this was the

[2021-03-18 18:43] #3739 closed

[2021-03-18 18:46] georgiahuggins commented on #4344
Hello - Yes, we are aware the sample script to populate the attributes on the target mail user object is incorrect. We are working to post an updated (and working) sample script to the docs article shortly. If you are unable to manually update the target mail user object with the correct X500 proxies, please send email to crosstenantmigrationpreview@service.microsoft.com for additional assistance

[2021-03-18 20:06] ararag opened #4471 "Instructions for adding storage do not work"
The instructions for adding storage direct the reader to buy an add-on named "Office 365 Extra File Storage", but there is no such add-on in M365 admin center, under "purchase services". Where can I find it, or alternatively, how can I buy extra file storage?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84

[2021-03-18 20:12] DeanGross opened #4472 "I am totally confused"
There is a big long discussed about how policy tips are supported in OWA and Outlook 2013, but then in https://docs.microsoft.com/en-us/microsoft-365/compliance/use-notifications-and-policy-tips?view=o365-worldwide#outlook-2013-and-later-supports-showing-policy-tips-for-only-some-conditions, it says

"Currently, Outlook 2013 and later **supports showing policy tips** only for these conditions:

-

[2021-03-18 21:28] cmcatee-MSFT commented on #4471
@ararag Which product do you have? Is it one of the ones listed in [Is my plan eligible for Office 365 Extra File Storage?]( https://docs.microsoft.com/en-us/microsoft-365/commerce/add-storage-space?view=o365-worldwide#is-my-plan-eligible-for-office-365-extra-file-storage)

[2021-03-18 22:42] markjjo commented on #4441
@jeffangama Here is a little more information about where Forms content is saved in a user's mailbox from [this topic](https://docs.microsoft.com/en-us/microsoft-365/compliance/what-is-stored-in-exo-mailbox?view=o365-worldwide):

Microsoft 365 app | Description |  
-- | -- | --
Forms | Forms and responses to a form are stored in files that are attached to email messages and stored in a hidden fold

[2021-03-18 22:42] #4441 closed

[2021-03-18 23:05] webash commented on #4249
Nicely done. Thanks :)

[2021-03-18 23:05] #4249 closed

[2021-03-19 12:09] yogkumgit commented on #4344
@georgiahuggins Thank you very much for sharing this explanation. @hkusulja Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-19 12:09] #4344 closed

[2021-03-19 12:35] hkusulja commented on #4344
Please reopen this issue, since documentation is not updated with new script and information, once this is resolved, i suggest closing it then. In mean time, i will send also email to this email address asking for temporary workaround.

[2021-03-19 12:39] IFramesGames opened #4473 "Microsoft Bookings Duplicate Page"
Business Closure is posted twice. It is the same exact page with the same exact title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 487eeebe-1112-6c09-ea92-f991efb93409
* Version Independent ID: 1117edc2-ce3d-7bfc-3254-1f5660b3ae5b
* Content: [Schedule business closures, time off, and vacation time](https://docs.micr

[2021-03-19 13:24] msbemba commented on #4367
@Tomtom10000 Thank you for your feedback. We will work with the author and Update the document as needed.

Thanks
Sri

[2021-03-19 13:46] Gassela opened #4474 "Build and manage assessments in Compliance Manager"
Hi,
this page reports the following Note:

_Only users who hold a Global Administrator or Compliance Manager Administration role can create and modify assessments. Learn more about roles and permissions_.

The following page (https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center?view=o365-worldwide) reports:

- **Create assess

[2021-03-19 13:48] msbemba commented on #4378
@jreyes4949 Thank you for your feedback. You had mentioned that you don't see the default policy or the custom one that is created when you run Get-HostedConnectionFilterPolicy?

What exactly is the output that you are receiving? Meanwhile, I tested and it shows the Custom as well as the Default policy

![image](https://user-images.githubusercontent.com/45987684/111790123-e1ad8380-88e7-11eb-99b3-5

[2021-03-19 14:02] msbemba commented on #4405
@Ronsss Thank you for your feedback.  Office Insider for Windows is available for those with a Microsoft 365 subscription in two levels: Beta Channel and Current Channel (Preview).

Beta Channel (Ring 2)

Formerly called Insider channel (or Insider Fast), this level is best for those who want to use the latest builds to identify issues and provide feedback about new features still in development,

[2021-03-19 14:15] msbemba commented on #4429
@walvis79  Thank you for your feedback. I'm checking this information with the author and will update the document accordingly.

Thanks
Sri

[2021-03-19 14:24] msbemba commented on #4430
@josh-at-tally Thank you for your feedback. Currently, the MSOL module does not work with Powershell core/ pwsh 7 and the same has been updated in the document.

The workaround If you are using PowerShell 7 is you can load the module in compatibility mode

import-module AzureAD -usewindowspowershell

We will update the document once the module is available in Powershell core.

Hope this helps!

Th

[2021-03-19 14:48] msbemba commented on #4450
@obsoletenewyork Thank you for your feedback. The correct recipient type is Schedulingmailbox.

You can run Get-EXOMailbox -RecipientTypeDetails SchedulingMailbox

I have corrected the document as well via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4476

Thanks
Sri

[2021-03-19 14:58] msbemba commented on #4451
@useyourblinker Thank you for your feedback. AIP P1 is a part of M365 Business premium . It is available as an add-on on M365 business standard and basic *(needs to be purchased separately).

The document  https://docs.microsoft.com/en-us/microsoft-365/compliance/ome-faq?view=o365-worldwide#what-subscriptions-do-i-need-to-use-the-new-ome-capabilities is accurate.

We will work internally to see if

[2021-03-19 15:59] msbemba commented on #4452
@geektbee Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4477

Thanks
Sri

[2021-03-19 16:25] chrisda commented on #4378
To clarify:

- Get-HostedConnectionFilterPolicy = [connection filter policies](https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-the-connection-filter-policy) (IP Allow List and IP Block List)
- Get-HostedContentFilterPolicy = [anti-spam policies](https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-your-spam-filter-policies)
- Get-HostedOut

[2021-03-19 16:30] msbemba commented on #4454
@greggcyrus Thank you for your feedback. I tested that and see Real-time detections only. Later released that you may have Microsoft defender for Office 365 plan 1.

If you have Microsoft Defender for Office 365 Plan 2, then you have Explorer.
If you have Microsoft Defender for Office 365 Plan 1, then you have real-time detections.

Hope this helps!

Thanks
Sri

[2021-03-19 19:03] chrisda commented on #4466
@chrisda, everyone agrees that the interactions between those two settings are confusing. I'll attempt to explain:

The **Mailbox intelligence** setting turns mailbox intelligence on or off. Mailbox intelligence is the AI that learns your contact history.

The **Mailbox intelligence based impersonation protection** setting, **when turned on**, allows you to specify an action for mailbox intelligen

[2021-03-19 19:04] cupntea opened #4479 "Description doesn't match reality"
Hi,
When we specified the path with subfolder as described in the document:

The PST file was imported into /ingestiondata and renamed from "outlook.pst" to "PSTFiles". It actually took us a while to understand what's wrong because we couldn't validate CSV file. When we entered "/" after PSTFiles, then we got the following error:
`"Transfer from a file to a directory path is not supported. Please

[2021-03-19 19:19] markjjo commented on #4479
@cupntea Thanks for feedback. Were you able to resolve this issue and get the PST files uploaded to the subfolder? If so, what was your fix? I'll also forward this to engineering team and try to repro/troubleshoot in my test tenant.

As to your other comment, the article does include a note about only using the version of azcopy that can be downloaded in the new import job wizard. https://docs.mic

[2021-03-19 21:17] cupntea commented on #4479
@markjjo you are right about the correct version, apologies.

Regarding subfolder no, we couldn't find the way to do that. We essentially named our PST files after user plus incremental. I would like to also note, that files with the same name cannot co-exist in Azure Storage, the last one uploaded replaces the existing one, so they have to be named differently, that's where that fake subfolder ca

[2021-03-19 21:25] GitRandyAZ opened #4481 "Set-Content -Encoding"
I was unable to export the XML of the current rules using PowerShell Core v7.1.3 as it appears that Byte type encoding is not supported.

Error message:
Set-Content: Cannot process argument transformation on parameter 'Encoding'. 'Byte' is not a supported encoding name. For information on defining a custom encoding, see the documentation for the Encoding.RegisterProvider method. (Parameter 'name')

[2021-03-19 22:14] markjjo commented on #4479
@cupntea Thanks for info. Your response reminds me that PST files with the same filename is a core scenario of ingesting to subfolders. But I would think that PST files with identical names would need to be uploaded to different subfolders in the Azure blob. If I understand your reply, I assume you solved this by using unique names for the PST files. I'm not sure how the tool/process can support P

[2021-03-19 22:29] cupntea commented on #4479
@markjjo you are right, the same name is a very common scenario for PST import, I wonder why no one complained about it so far, though. You assumed correct, we solved it by assigning a unique name for each imported PST _(we added a variable to ".../ingestiondata/'$variable'.pst?sv=..." path)_.
I wasn't familiar with Azure Blobs and I thought it creates a unique subfolder for every import, but turn

[2021-03-19 22:46] chrisda commented on #3949
Topic updated with relevant information about Outlook dependencies on EWS, and options for reducing the attack surface if you can't globally disable EWS.

Thanks for the feedback.

Closing

[2021-03-19 22:46] #3949 closed

[2021-03-19 22:50] markjjo commented on #4479
@cupntea Thanks for the responses, and back and forth. And you're right that I don't recall a customer citing this issue before. I think I should go ahead and add to documentation that PST file names need to be unique (otherwise, how would the import service know which PST file to ingest into a specific mailbox?)  Thanks again.

[2021-03-19 22:50] #4479 closed

[2021-03-20 21:43] xNiklasJern opened #4487 "What will happen to OME when AIP reaches end of life?"
Looking for information on what will happen to OME when AIP classic reaches its end of life the 1st of april? got any information / resources on this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4c75d7b-eec1-720b-bc4d-91d3dfe72889
* Version Independent ID: 0382d4b5-3fe2-f353-ce73-5d437d80b7bf
* Content: [Message En

[2021-03-20 21:50] nikki-c opened #4488 "Information about chats not being retained for on premises users is incorrect"
The statement below is incorrect.

Organisations with hybrid exchange have shadow Exchange online mailboxes created to hold copies of the chat compliance records. Historically you needed to ask Microsoft to enable this feature but now it is enabled by default.

 The Add Office app content for on-premises users checkbox is added under the Locations in Content Search. This allows eDiscovery to searc

[2021-03-21 01:54] VelvetLounger opened #4489 "Outlook online white list"
Im trying to receive a code to set up Microsoft Verify. It is suggested to add @accountprotection.microsoft.com to my outlook white list. Now I have to use Google to figure out how  to do this. This should not be so difficult.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900a9d1-897d-f7e9-6c58-a510edf56a9b
* Version

[2021-03-21 16:16] nikki-c opened #4490 "Search query section is out of date"
The text and diagram in the Search query section is out of date. It now includes the option to search for Teams chats stored in the online mailboxes created for on on-premises users and guest guests see article https://docs.microsoft.com/en-gb/microsoft-365/compliance/search-cloud-based-mailboxes-for-on-premises-users?view=o365-worldwide
![image](https://user-images.githubusercontent.com/69439002/

[2021-03-21 22:08] nikki-c opened #4491 "spelling mistake"
There is a spelling mistake in the follow paragraph (highlighted in bold):  massages should say messages
The following table identifies the supported tasks that can be performed in Microsoft 365 eDiscovery tools on encrypted files attached to email **massages** and encrypted documents in SharePoint and OneDrive. These supported tasks can be performed on encrypted files that match the criteria of a

[2021-03-22 04:41] yogkumgit commented on #4452
@msbemba Thank you very much for the contribution and updating the documentation with PR. @geektbee  Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-22 04:41] #4452 closed

[2021-03-22 16:44] chrisda commented on #4489
@VelvetLounger, I'm sorry you were having troubles. Ideally, Microsoft Verify would have simply linked to the  proper 'configure your Outlook safe senders topic: <https://support.microsoft.com/office/overview-of-the-junk-email-filter-5ae3ea8e-cf41-4fa0-b02a-3b96e21de089>, which is suitable for regular users.

The topic you opened this issue against is not meant for regular users; it's for admins,

[2021-03-22 18:36] msbemba commented on #4462
@OverengineeredNetwork Thank you for your feedback. I'll test this and update the document if required.

Thanks
Sri

[2021-03-22 18:43] msbemba commented on #4460
@Rudolf112 Thank you for your feedback.

. If users use outlook/owa, This will soon be available on they will see notifications about using this on their mobile devices.  . This is not an option that can be requested on-demand currently. This option is currently available only on targeted release tenants (You can set your tenant to revive targeted release as well -https://docs.microsoft.com/en-us/

[2021-03-22 19:21] VelvetLounger commented on #4489
Thanks very much for your response. I will review the link you sent me and
see if I can solve my issue.

Keir

On Mon, Mar 22, 2021 at 9:44 AM Chris Davis ***@***.***>
wrote:

--
Keir Briscoe
***@***.***

[2021-03-22 19:36] csbescos opened #4494 "Step 4 does not work. Please update the command to be Get-EXOMailbox -RecipientTypeDetails SchedulingMailbox"
Update the command in step 4 to be Get-EXOMailbox -RecipientTypeDetails SchedulingMailbox

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa612c0e-c089-8b3e-8e2e-dd12b6fc382c
* Version Independent ID: fa014ea6-7aa2-b2bd-d913-165c3241675f
* Content: [Delete a booking calendar](https://docs.microsoft.com/en-us/microsoft-3

[2021-03-22 20:51] markjjo commented on #4491
@nikki-c Thanks for heads up. Fixed. Should be live by end of day.

[2021-03-22 20:51] #4491 closed

[2021-03-23 08:00] glr0221 opened #4498 "Some submitted emails are not being processed."
Hello Microsoft,

A great day to all of you.

I have manually reported several emails but I was a bit surprised that some of the emails were not being processed/reflected in the User-reported messages. Here is what I found out :

1. Dragging an email as an attachment to the report email works perfectly, and is reflected in the user-reported messages.
2. Using the MSReport button also works 100%.
3

[2021-03-23 09:37] jeffangama commented on #4441
Hello,

1/ I've still a lot of results (a lot of email), when I set the keywords as :
![image](https://user-images.githubusercontent.com/6776269/112125360-a222b800-8bc3-11eb-9476-9a92699ae50f.png)

2/ In the Excel results, can we see the Forms data (question asked, answered provided by users) or do we have to take ownership of the form for that (we need to know the person's email who created the f

[2021-03-23 10:33] turnma opened #4499 "Page still refers to UserVoice, which is no longer available for feedback"
Page still refers to UserVoice for requesting Lockbox for other products, but UserVoice is not being used any more for such requests.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52aa5-3876-1854-0fcc-279d694cb45d
* Version Independent ID: bfa3001d-e71a-705c-3492-5add564d131d
* Content: [Customer Lockbox Requests -

[2021-03-23 13:59] JeroenDronkers opened #4501 "URL threat protection report "Clicked through during scan""
[In regards to the part of this article about the URL threat protection report, there is mentioned: "Clicked through during scan", but it is not explained what this means. Nobody will understand this and we will get questions from customers about this in support. Can this article be adjusted with an explanation for: "Clicked through during scan" ?

Thanks,]

---
#### Document Details

⚠ *Do not ed

[2021-03-23 14:39] yogkumgit commented on #4450
@msbemba Thank you very much for the contribution and updating the documentation with PR. @obsoletenewyork Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-23 14:40] #4450 closed

[2021-03-23 14:44] yogkumgit commented on #4405
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Ronsss Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-23 14:44] #4405 closed

[2021-03-23 14:48] yogkumgit commented on #4263
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Kazzan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-23 14:48] #4263 closed

[2021-03-23 15:40] jonwbstr opened #4502 "Feedback and support for PermanentlyClearPreviousMailboxInfo switch"
The feedback is that I am very interested in a first-party tenant to tenant migration option. The information here is a great resource. My perfect possible future for this article is for it to contain a script that does everything for me aside from authenticate to the endpoints needed to run the script, after I populate a few variables, or as close to that as possible within reason (no need to spe

[2021-03-23 17:10] chi-ltd opened #4503 "Is this a thing..?"
Shadow IT at its finest.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5082f7ed-ad40-04c1-5c6c-59e67b253257
* Version Independent ID: 3d8b109d-285c-952f-2fa4-9fa244c2a3f9
* Content: [Use AllowSelfServicePurchase for the MSCommerce PowerShell module](https://docs.microsoft.com/en-gb/microsoft-365/commerce/subscriptions

[2021-03-23 18:35] AdamGrossTX opened #4504 "Please clarify the minimum requirements for Azure AD Connect Configuration"
We recently attempted to describe how to configure Azure AD Connect using this document on our video
 https://youtu.be/dUJnIakSPkA. However we believe that the documents don't provide a clear set of minimum requirements for Azure AD Connect.  The docs simply discuss the options available in the link through on step 1, but it doesn't clarify what's minimally required to make this work.

---
#### Do

[2021-03-23 19:07] therealsterk opened #4505 "End of support information missing."
Currently there is a list of supported operating systems, but no indication of when an operating system may drop out of support. For example, if an OS goes “end of support”, does it cease to be supported in MDE as well? Without this information provided, how does someone have any advanced warning of future deprecation of support?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-03-23 19:21] #4503 closed

[2021-03-23 19:23] markjjo commented on #4441
@jeffangama Here's some info about deleting Forms content in response to a GDPR deletion request: https://docs.microsoft.com/en-us/compliance/regulatory/gdpr-dsr-office365#forms

I assume deleting the form will also delete the responses file (or that owner can delete the response file). Not sure if deleting the form or the response in Forms will delete the compliance record in the ApplicationDataR

[2021-03-23 19:55] Ronsss commented on #4405
That is better.
What I would like to see added to the update release options page is description of how MS uses hidden (registry?) "feature flags" to further provide control for "phased roll out". That is the big question I keep seeing, ie someone asks something along line "I have exactly the same version:build:channel as this guy sitting next to me, but he has a new feature that I don't ... WHY?!

[2021-03-24 03:26] arhoads76 commented on #592
I'm having the same issue as well.  Tried the https://sender.office.com/ portal too many times to count.  Tried an online chat session with Microsoft Support, but they kept insisting that they needed to start a screen share and look at my Outlook settings.  Is there a better way to contact support to get a human?

[2021-03-24 07:05] gitmarecki opened #4507 "time zone change in Microsoft 365 Defender not possible to change same as in MDE."
applies to Defender for Endpoint - yes, but Microsoft 365 Security - these settings are not available (any more?) and it is not possible to change display time zone.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23a7695c-722d-22af-662c-e8680a492899
* Version Independent ID: b607ed60-729a-0dac-44

[2021-03-24 10:35] DeanGross opened #4509 "Guidance for Testing"
Can you please provide some more detailed guidance for creating a test environment. Some information about the pros/cons of each approach listed on this page would be helpful. e.g., when can we use a subdomain instead of a separate tenant, etc.

----

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a4f6b67-85ac-ef6e-5260-6ae160cfd6d8
* Version In

[2021-03-24 11:50] mickhowarth opened #4510 "Untrusted Repos"
Following both install instructions in this document give an "Untrusted Repo" warning in MS Powershell.

`Install-Module -Name AzureAD   `

_Untrusted repository
You are installing the modules from an untrusted repository. If you trust this repository, change its InstallationPolicy value by running the Set-PSRepository cmdlet. Are you sure
 you want to install the modules from 'PSGallery'?
[Y] Yes

[2021-03-24 13:11] jrutkowskiIII opened #4511 "Where is the Allow?"
The O365 Policy is Block\Allow List.

There is only Blocking on the Policy page. Where's the Allow capability?
We get a lot of false positives with Known Phishing, from Microsoft's Announcement and other vendors updates which have no element of phishing in them. I need to be able to add to the Allow list for the domains. To at least skip the phishing analysis.

---
#### Document Details

⚠ *Do not

[2021-03-24 14:09] bbollaer opened #4513 "Install the MicrosoftTeams module does not work"
I m on a MAC Big Sur
I ve installed homebrew.
I ve installed powershell, I ve tested it (pwsh command)

Now trying to install the MicrosoftTeams module through the following command :
**Import-Module MicrosoftTeams
$userCredential = Get-Credential
Connect-MicrosoftTeams -Credential $userCredential**

Here is the error message  I have :
Import-Module MicrosoftTeams
Import-Module: The specified modu

[2021-03-24 16:27] Beschorr opened #4514 "Broken images"
Both of the images/screenshots on this article are showing as broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 696edac6-9f06-ca79-5969-ef1e30ad0817
* Version Independent ID: a5a5fad9-5fbb-014a-f628-610fdbfe1ddf
* Content: [Customize controlled folder access](https://docs.microsoft.com/en-us/microsoft-365/security

[2021-03-24 17:38] chrisda commented on #4511
@jrutkowskiIII, the feature is still in Preview and evolving.

[2021-03-24 19:48] denisebmsft commented on #4514
Thanks @Beschorr

[2021-03-24 20:00] mromp-swc opened #4515 "DMARC bestguesspass is not requiring domain alignment"
According to the documentation, DMARC domain alignment checks must still pass in order to receive a "bestguesspass" result. However, we are seeing phishing attempts off of the Amazon SES platform where this is clearly not the case.

From the documentation:

Example Authentication-Results header:

`spf=pass (sender IP is 54.240.27.50) smtp.mailfrom=us-west-2.amazonses.com; victim.example.com; dkim=

[2021-03-24 20:12] denisebmsft commented on #4514
This issue has been fixed, and the changes will render live later today. Closing for now.

[2021-03-24 20:12] #4514 closed

[2021-03-25 01:56] ekdegerman commented on #4091
In addition to file links not being rewritten in SharePoint, there seem to be a size limitation in effect. If I try to manually create a URL for an asset in my public CDN origin and call it (testing with exe files), I seem to get a http error like the one below for anything larger than 50GB. This makes the statement about using it for large files like executables and installation files seem even m

[2021-03-25 03:52] abrookewood opened #4516 "MFA does not work as expected based on the information in this document."
It is not very well explained that setting up MFA using this document will **not** result in all users being forced to provide an MFA token when logging on. In order to do that, you either need to use Conditional Access Policy, or you need to enable Legacy MFA on a per-user basis which the document explicitly suggests that you turn off. This page has further information: https://docs.microsoft.com

[2021-03-25 05:10] glr0221 commented on #4498
I just want to update this with my reproduction steps which are as follows :

1.  Using MAC-Outlook, save an email as an eml file.
2. Open a browser and open Outlook on the web.
2. Using OWA, create a draft email for phish/junk/not_junk@office365.microsoft.com with a valid subject and an empty body.
3. Click on the attach button (DO NOT DRAG THE EML FILE.) and attach the eml file saved using MAC-f

[2021-03-25 11:42] DeanGross opened #4518 "Clarification of what can be done with E3 license"
The section describes what can not be done without E5, but it is not clear to me what can actually be done with E3. The statement about Advanced features, is rather vague. Could you please add a table that lists all of the features with columns for e3 and e5 and checkmarks in the columns as appropriate. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2021-03-25 13:36] yogkumgit commented on #3715
@kwekuako Please help us in resolving this issue. Thanks

[2021-03-25 13:41] yogkumgit commented on #3746
@lomayor Gentle reminder, please help us in resolving this issue. Thanks

[2021-03-25 15:25] AlliJM opened #4519 "Pulling additional information with the report"
Is there a way to export additional data when pulling the TSV file report on Bookings?

[2021-03-25 16:34] yaniv-intlock opened #4520 "SharePoint Multi-Geo for ISV development-testing environment"
Can you advise how [SharePoint Multi-Geo](https://docs.microsoft.com/en-us/microsoft-365/enterprise/multi-geo-capabilities-in-onedrive-and-sharepoint-online-in-microsoft-365?view=o365-worldwide) can be used and tested by ISVs, particularly in a developer subscription tenant where the number of seats is much lower than the minimum required.

[2021-03-25 18:05] alexmags opened #4523 "Please link to doc about Additional endpoints not included"
Please link to this document about "additional endpoints not listed on this page".  It lists Office365 and Azure URLs required by IT admins.  https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls

[2021-03-25 18:18] alexmags opened #4525 "additional endpoints not listed on this page"
Please link to this document about "additional endpoints not listed on this page".  It lists Office365 and Azure URLs required by IT admins.  https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls

[2021-03-25 18:21] alexmags opened #4526 "please link to other doc about urls not on this page"
Please link to this additional document covering endpoint URLs required by IT admins that are not listed on this page
https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Indepen

[2021-03-25 18:21] #4525 closed

[2021-03-25 18:22] alexmags commented on #4525
duplicate

[2021-03-25 18:22] #4523 closed

[2021-03-25 18:22] alexmags commented on #4523
duplicate

[2021-03-25 19:56] DeanGross opened #4527 "Confusing title"
The title is misleading. the article is not about creating a custom sensitive information type, it is about creating a rule package. Please change the title to decrease confusion.

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d6af897-cba3-dc5c-beb1-4a650fadbaea
* Version Independent ID: 12d1e00e-36c2-71a1-0632

[2021-03-25 21:22] genghisCr0n opened #4528 "type "Deserialized.Microsoft.Open.AzureAD.Model.AssignedLicenses" to type "Microsoft.Open.AzureAD.Model.AssignedLicenses""
When executing the example Powershell code I am receiving the following exception:

Set-AzureADUserLicense: Cannot bind parameter 'AssignedLicenses'. Cannot convert value "class AssignedLicenses {
  AddLicenses: System.Collections.Generic.List`1[Microsoft.Open.AzureAD.Model.AssignedLicense]
  RemoveLicenses: System.Collections.Generic.List`1[System.String]
}
" to type "Microsoft.Open.AzureAD.Model

[2021-03-26 01:16] osirisx3 opened #4530 "FAQ about importing PST files - this articel is unclear and ambiguous in respect of large messages and duplicate imports"
[Enter feedback here]
"How does the PST import process handle duplicate email items?

The PST import process checks for duplicate items and doesn't copy the items from a PST file to the mailbox or archive if a matching item exists in the target folder in the target mailbox or target archive. If you reimport the same PST file and specify a different target folder (using the TargetRootFolder propert

[2021-03-26 05:41] msbemba commented on #4431
@michevnew Thank you for your feedback. I'm working with the author or this one and will update you shortly.

[2021-03-26 05:53] msbemba commented on #4218
@CarolWangMS We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4533

[2021-03-26 05:59] msbemba commented on #3856
@msbemba I don't have an update yet. But will circle back with the concerned team.

[2021-03-26 06:02] msbemba commented on #3993
@chrisda Thank you for the help!

@yogkumgit There are no changes required in the document and the issue can be closed.

Thanks
Sri

[2021-03-26 06:09] msbemba commented on #4168
@yogkumgit The Deadlink is now fixed and the issue can be closed.
Thanks
Sri

[2021-03-26 06:10] msbemba commented on #4176
@rajatbhasin Thank you for your feedback. We are currently checking with PG/Author to confirm the same and will update the document accordingly.

Thanks
Sri

[2021-03-26 06:19] msbemba commented on #4378
@chrisda Thank you for a detailed explanation.

@yogkumgit There are no changes required in the document as of now. Please close the issue.

Thanks
Sri

[2021-03-26 06:20] msbemba commented on #4384
@bakerm00 Thank you for your feedback. I can now see the test option on the page. Let us know if you still have an issue.

[2021-03-26 06:22] msbemba commented on #4511
@jrutkowskiIII LIke Chris mentioned this is under preview. We have added a note on the document to avoid any confusion.

The features described in this article are in Preview, are subject to change, and are not available in all organizations.

You can't configure allowed items in the Tenant Allow/Block List at this time.

Hope this helps!

@yogkumgit There are no changes required in the document a

[2021-03-26 06:30] msbemba commented on #4510
@mickhowarth Thank you for your feedback. I'm going to assume that this issue is about the prompt that is popped when installing a module from the PowerShell Gallery -- the PowerShell Gallery is set as an "untrusted repository" by default to prevent users from installing any module or script from this open gallery without first verifying that they are sure they want to install the given module or

[2021-03-26 06:34] msbemba commented on #4504
@AdamGrossTX Thank you for your feedback. We have added Prerequisites for Azure AD Connect
 via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4534.

Thanks
Sri

[2021-03-26 06:37] msbemba commented on #4499
@turnma Thank you for your feedback. The page now redirects to https://support.microsoft.com/en-us/topic/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a where you have options to submit feedback.

Hope this helps!

Thanks
Sri

[2021-03-26 06:37] AdamGrossTX commented on #4504
Sorry but I don't believe your change answers my issue. I want to know the minimum configuration within AAD Connect that will enable on-prem access. I don't need the pre-reqs for installing AAD Connect.

[2021-03-26 06:41] msbemba commented on #4494
@csbescos Thank you for the feedback.

Tried with Get-EXOMailbox -RecipientTypeDetails Scheduling and it failed, we have made changes to the document to reflect the correct cmdlet

Get-EXOMailbox -RecipientTypeDetails SchedulingMailbox

Hope this helps!

Thanks again for your feedback.

@yogkumgit The document reflects the correct cmdlet now and this issue can be closed.

Thanks
Sri

[2021-03-26 06:47] msbemba commented on #4488
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4535

Thanks
Sri

[2021-03-26 06:57] msbemba commented on #4473
@IFramesGames Thank you for your feedback. Could you please provide the link for the duplicate page?

Or Are you referring to the steps on this page? If yes, The first one is to Schedule ad hoc business closures which are for All staff members, whereas Schedule employee time off is for one or more staff members.

Thanks
Sri

[2021-03-26 07:01] msbemba commented on #4428
@yogkumgit This can be closed.

[2021-03-26 10:12] yogkumgit commented on #4519
@AlliJM Please mention the document you are referring to. Thanks.

[2021-03-26 10:13] yogkumgit commented on #4520
@yaniv-intlock Please mention the document you are referring to. Thanks.

[2021-03-26 10:27] yaniv-intlock commented on #4520
https://docs.microsoft.com/en-us/microsoft-365/enterprise/multi-geo-capabilities-in-onedrive-and-sharepoint-online-in-microsoft-365?view=o365-worldwide

[2021-03-26 10:37] mickhowarth commented on #4510
Hi @msbemba

You're correct, this is what popped up when I was installing a the module as per the instructions in the doc (I put the commands I typed in my comment!).

It's up to you guys if you want to adjust the document, however I can tell you from being a user here with little to no prior experience with Powershell and attempting an early/simple step here it did take **_a lot_** of extra searc

[2021-03-26 10:52] glr0221 commented on #4498
@yogkumgit

Any updates on this matter?

Thank you.

[2021-03-26 11:31] yogkumgit commented on #3993
@msbemba Thank you very much for the contribution and sharing this explanation. @iovex Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-26 11:31] #3993 closed

[2021-03-26 11:34] yogkumgit commented on #4168
@msbemba Thank you very much for the contribution and sharing this explanation. @LaumanK Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-26 11:43] yogkumgit commented on #4378
@chrisda Thank you very much for sharing this explanation. @jreyes4949 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-26 11:43] #4378 closed

[2021-03-26 11:45] yogkumgit commented on #4384
@msbemba Thank you very much for the contribution and sharing this explanation. @bakerm00 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-26 11:45] #4384 closed

[2021-03-26 12:13] yogkumgit commented on #4511
@chrisda Thank you very much for sharing this explanation. @jrutkowskiIII Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-26 12:13] #4511 closed

[2021-03-26 12:22] yogkumgit commented on #4428
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DavidCouzens Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-26 12:22] #4428 closed

[2021-03-26 13:10] LaumanK commented on #4168
No problem at all.  Glad to help.  No concerns about closing.

Thanks,
Kristin Lauman
Email & Calendar Architect and Technical Lead
c  630-849-3985

From: Yogesh Kumar ***@***.***>
Sent: Friday, March 26, 2021 6:35 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Kristin Lauman ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Dead link: Use Centralized Dep

[2021-03-26 13:30] JeroenDronkers opened #4537 "Condensed directory structure exported to your Azure Storage account"
[This article should be updated with a detailed description of how to use "Condensed directory structure exported to your Azure Storage account". Apparently this was available previously but was removed(?). Now customers have to trial and error to make this work and we receive support cases about it in CSS'
In order for it to work, an SAS token for the storage account and NOT the container needs t

[2021-03-26 16:38] AlliJM commented on #4519
On the home page of the bookings page, the admin has the option to download a TSV file with bookings data. Is there a way to change what gets pulled when that tsv file is downloaded?

[2021-03-26 17:02] LindaCicero opened #4538 "Targeted release terminology"
Hello! Just wanted to confirm that "Targeted release" is still being used (vs Preview, which I see everywhere else). TY. :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dd43f78a-7c74-5c56-c1f0-24deb342455f
* Version Independent ID: f7ed9828-2580-1b50-d126-003d222abb5e
* Content: [Set up the Standard or Targeted relea

[2021-03-26 17:06] thommck opened #4539 "How to do this on the new Security portal"
How do we replicate this on the new security.microsoft.com portal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d8db0f60-99aa-1da5-6174-702349863a5f
* Version Independent ID: 24834977-8b8c-0baf-d1d4-4d979afaeaf1
* Content: [Access the Microsoft Defender Security Center MSSP customer portal](https://docs.microsoft.com

[2021-03-26 17:19] chrisda commented on #4509
@DeanGross, I think the domain vs. subdomain is more about whether you have an active EOP organization or not. If mail is actively flowing through EOP, you'll likely want to use a new, never used subdomain to test settings before rolling them out globally to recipients/senders in the main domain.

The main takeaway from that point should be go slowly and test settings with a small group of users f

[2021-03-26 17:58] jbrysonMSFT opened #4540 "Add note specific to Advanced Hunting data retention"
Can we add a note on #how-long-will-microsoft-store-my-data-what-is-microsofts-data-retention-policy specific to Advanced Hunting data?

This raw data is only retained for 30 days.  It's a bit confusing as reading this page you'd think it's retained along with other day for the 30-180 days you select when you onboard the service.  You can find this information on the Advanced Hunting page, but whe

[2021-03-26 20:42] osirisx3 commented on #4530
Hello and thanks for your response, very much appreciated.

The documents you referred to are the ones I pasted the extracts from and don't appear to answer the question I posed. I wonder is there a PowerShell script that can remove duplicate messages etc. in a mailbox where a PST import has created duplicates?

How about importing messages bigger than 150MB?  How can we import those to the mailbo

[2021-03-26 20:42] osirisx3 commented on #4530
As above

[2021-03-26 21:17] markjjo commented on #4530
@osirisx3 Thanks for feedback. Firstly, 150MB is the message size limit for Exchange Online (see https://docs.microsoft.com/en-us/office365/servicedescriptions/exchange-online-service-description/exchange-online-limits#message-limits). That is why it is the stated limit for PST Import. I think adding this bit (max message size) to the FAQ would help address the ambiguity. We say item is skipped bu

[2021-03-26 21:17] #4530 closed

[2021-03-26 21:28] osirisx3 commented on #4530
Thanks for the excellent and very helpful feedback, Mark.

At least now we know that 150MB is the largest that can be stored, we can look at alternative storage methods for compliance reasons. Just the addition of that one piece of information to the documentation would have saved hours of searching and directed us along alternate paths!

I did already check out the "New-MailboxImportRequest cmdle

[2021-03-26 22:23] markjjo commented on #4530
@osirisx3 Sorry, I missed that bit about the cmdlet not being supported in EXO. Yes, that would still apply in Microsoft 365. We want you to use the PST import feature in the compliance center UI to import PST files.

If you do contact support, and the documentation about duplicates needs to be updated based on your case, support can contact me to request a document update. Thanks!

[2021-03-26 22:35] #3494 closed

[2021-03-26 23:07] osirisx3 commented on #4530
No worries, mate, your responses were most helpful in steering me in the right direction. Thanks and cheers  Dave

[2021-03-27 15:11] dreeves14 opened #4549 ""Delete the message before it's delivered: Silently deletes the entire message, including all attachments." mechanic"
Does this place it in the user's deleted items or is it DELETED aka not delivered aka blown away, no retrievable. **This matters** because I had a question on the MS-101 referencing these exact mechanics and there were 2 answers. One stated it was DELETED and NOT delivered, the other that it was placed in the mailbox deleted folder. You can't expect people to use your own material to study and the

[2021-03-28 11:05] yogkumgit commented on #4499
@msbemba Thank you very much for the contribution and sharing this explanation. @turnma Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 11:05] #4499 closed

[2021-03-28 11:20] yogkumgit commented on #4494
@msbemba Thank you very much for the contribution and sharing this explanation. @csbescos Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 11:20] #4494 closed

[2021-03-28 11:26] yogkumgit commented on #4473
@msbemba Thank you very much for the contribution and sharing this explanation. @IFramesGames Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 11:26] #4473 closed

[2021-03-28 11:38] yogkumgit commented on #4371
@msbemba Thank you very much for the contribution and updating the documentation with PR. @OskarNet Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 11:38] #4371 closed

[2021-03-28 11:42] yogkumgit commented on #3769
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ACarlockAKA Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 11:42] #3769 closed

[2021-03-28 12:02] yogkumgit commented on #4430
@msbemba Thank you very much for the contribution and sharing this explanation. @josh-at-tally Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 12:02] #4430 closed

[2021-03-28 12:08] yogkumgit commented on #4454
@msbemba Thank you very much for the contribution and sharing this explanation. @greggcyrus Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 12:08] #4454 closed

[2021-03-28 12:11] yogkumgit commented on #4460
@msbemba Thank you very much for the contribution and sharing this explanation. @Rudolf112 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 12:11] #4460 closed

[2021-03-28 12:18] yogkumgit commented on #4240
@chrisda Thank you very much for sharing this explanation. @gfard Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 12:18] #4240 closed

[2021-03-28 12:19] yogkumgit commented on #4236
@chrisda Thank you very much for sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 12:19] #4236 closed

[2021-03-28 12:24] yogkumgit commented on #4179
@chrisda Thank you very much for sharing this explanation. @JeroenDronkers this is the best help we can provide here . We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-28 12:24] #4179 closed

[2021-03-28 12:26] yogkumgit commented on #3574
@lhcole Thank you very much for the contribution and digging deep into it.  @DiavoloRosso We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2021-03-28 12:26] #3574 closed

[2021-03-28 21:50] DeanGross commented on #4509
yes, it does and that makes sense, but when I was reviewing this with a client, they had a lot of questions and we got caught up in wide ranging discussion about testing in O365. Any additional guidance that could be provided to help orgs get comfortable with safe ways to make changes in their production environment would be helpful

[2021-03-28 23:00] josh-at-tally commented on #4430
Okay thanks, but licensing info is still unable in PowerShell 6+

[2021-03-28 23:14] dogborne opened #4550 "get-spoofmailreport shows that it can get data for 90 days - differs to other doco."
[The page shows that the "The Get-SpoofMailReport shows data for up to 90 days". When you go to the specific page about Get-SpoofMailReport it shows that data is only available from the last 10 days. Which is true? https://docs.microsoft.com/en-us/powershell/module/exchange/get-spoofmailreport?view=exchange-ps]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-03-29 07:23] Rudolf112 commented on #4460
My question was 'how' and 'when', neither of those questions were answered. You just re-stated what was already in the documentation.

We switched to targeted release on the tenant, but those notifications haven't shown up anywhere and its been a few weeks.

[2021-03-29 11:12] glr0221 commented on #4498
@chrisda  @andypunt

I sincerely apologize for having to mention you on this comment. I checked the history of the document and found several commits by both of you. Again I apologize profusely for having to mention you in this ticket.

As you can see, we have been trying to integrate our solution with the Microsoft solution. Unfortunately, we have seen little to virtually zero progress. This tick

[2021-03-29 14:18] msbemba commented on #4460
@Rudolf112 Thank you for your feedback. If you are in the targetted release you should see the option on outlook and OWA. If it is not showing up then this is probably an issue in the backend and should be resolved by our support team. Please use the Need help option in the admin center to open a support ticket. Based on the outcome, If you think this document still needs an update, do let us know

[2021-03-29 14:21] msbemba commented on #4430
@josh-at-tally Thank you for your feedback. you are correct. It works only with windows powershell.

Thanks
Sri

[2021-03-29 14:25] msbemba commented on #4510
@mickhowarth Thank you for your feedback.
 I have added that information on the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4552

Thanks
Sri

[2021-03-29 14:27] msbemba commented on #4504
@AdamGrossTX Sorry about that. Are you referring to Cloud provisioning agent requirements? If yes, then this should help https://docs.microsoft.com/en-us/azure/active-directory/cloud-sync/how-to-prerequisites#cloud-provisioning-agent-requirements

Thanks
Sri

[2021-03-29 14:32] AdamGrossTX commented on #4504
No. I specifically want to know what the MINIMUM requirements are to enable access to on-premises resources when configuring Azure AD connect. We thought that Password Hash Sync was needed but have heard from MS that this is not the case, but the actual MINIMUM configuration for Azure AD Connect isn't documented in this doc. This doc simply points to the general setup procedure for Azure AD Connec

[2021-03-29 14:47] bt101 opened #4553 "Teams > Send copies of conversations to group members' inboxes -- note that it does not send a copy to the sender's inbox"
In the "Send copies of conversations to group members' inboxes" section (https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/manage-groups?view=o365-worldwide#send-copies-of-conversations-to-group-members-inboxes), I believe it is important to note that the member sending the message to the group will not receive a copy of the message, only all other members.  This feature leads one

[2021-03-29 15:06] msbemba commented on #4504
@AdamGrossTX There are multiple sign-on method's and at least one of those option needs to be selected. For step by step custom installation, this document should help -https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-custom

CC : @Sirkkuw

Thanks
Sri

[2021-03-29 15:37] andypunt commented on #4498
You should open a case with support to get help on this. This path should only be used for help for things like clarity on documentation.

[2021-03-29 17:18] msbemba commented on #4501
@JeroenDronkers Thank you for your feedback. We have added more information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4501

**Blocked** (the user was blocked from navigating to the URL)
 **Blocked and clicked through** (the user choose to continue navigating to the URL)
 **Clicked through during scan** (the user clicks on the URL before the scan is complete)

[2021-03-29 17:22] msbemba commented on #4513
@bbollaer Thank you for your feedback. What version of Powershell are you using? There are known issues with PowerShell 7 and Teams PowerShell. For the best experience, we recommend that you use PowerShell 5.1.- For more information about teams module, Visit  https://docs.microsoft.com/en-us/microsoftteams/teams-powershell-install

Thanks
Sri

[2021-03-29 17:24] msbemba commented on #4498
@glr0221 Thank you for your feedback. This sounds like an issue with your tenant and we recommend you open a support ticket with Microsoft (via the need help section on the admin center).

After consulting, If you think there are changes required in the document, let us know.

Thanks
Sri

[2021-03-29 19:55] kwekuako commented on #4176
Hi, I removed the part about the password expiry in the topic. I couldn't confirm with PM that this is still supported so I removed until we can confirm that this is correct. Thanks.

From: Yogesh Kumar ***@***.***>
Sent: Monday, March 1, 2021 4:58 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Kweku Ako-Adjei ***@***.***>; Assign ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-do

[2021-03-29 20:28] lhcole commented on #3526
Hi @joehanna At this time the Admin mobile team is accepting feedback only via email, which is why the This product link goes to a generic Windows 10 topic at this time. If you want to submit feedback feel free to use one of the links in the topic or send email here: If you're having issues using the Admin mobile app on iOS or Android, email us at feedback365@microsoft.com to let us know. Thank yo

[2021-03-29 20:28] #3526 closed

[2021-03-29 20:49] RedVortex opened #4557 "Intune Kernel extensions settings cannot be applied to Mac with Apple M1 - Results in failure"
I had to completely remove the kernel extensions settings and only keep the system extensions for Apple device running Big Sur that have the new M1 CPU (Intel devices are not affected by this). The custom extensions profile was not applying to M1 devices and was ending in error because of the Kernel extension part and thus, Defender ATP couldn't run properly and did not have full access to disk an

[2021-03-29 21:02] pamcdo commented on #4504
Hey there @msbemba,

The question that is really being asked here is what is required to be configured to sync to AAD in order for SSO to on-premises resources to work.

This article has been in need of some technical clarification for a while - We're basically saying that it just works as long as you have AADConnect installed and syncing users and, while that is true, it is an over-simplification

[2021-03-29 21:03] RedVortex commented on #4557
I think this explain the behaviour for Apple devices with Mac Silicon chip (M1 / Arm CPU)

https://support.apple.com/en-us/HT211860

Especially the last part about "Additional requirements for Mac computers with Apple silicon": https://support.apple.com/en-us/HT211860#silicon

This is probably what prevents the profile from loading at all. It is only applicable to Apple Silicon and not Intel for B

[2021-03-29 21:06] RedVortex commented on #4557
Seems there is also an article written to explain this by the Intune support team: https://techcommunity.microsoft.com/t5/intune-customer-success/support-tip-kernel-extensions-on-macs-running-apple-silicon-are/ba-p/2238727

[2021-03-29 21:15] chrfox commented on #4270
HI @jwojan
Thanks for your comment. As I am sure you already know, the answer is going to be "it depends" how much content you have, where it is network wise etc.  I can ping the PG to ask them about the frequency of jobs.

Chris

[2021-03-29 21:15] #4270 closed

[2021-03-29 21:24] chrfox commented on #4481
Hi @GitRandyAZ
Thanks for your comment.  You should contact Microsoft Support to help you with your question.

[2021-03-29 21:24] #4481 closed

[2021-03-29 21:25] chrfox commented on #4527
Hi @DeanGross
Thanks for your comment, I'll keep it in mind as the DLP content set is refined.

[2021-03-29 21:25] #4527 closed

[2021-03-29 22:03] jwojan commented on #4270
Hey Chris, that would be helpful, as you might imagine, we get questions from customers asking “what can I expect” WRT the ability of this to crawl through data? Anything that can help frame that conversation will be an improvement.

-Jon

From: Chris Fox ***@***.***>
Sent: Monday, March 29, 2021 4:15 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs

[2021-03-29 22:07] chrfox commented on #4286
HI @paul-rich
Windows server 2016 is not a supported endpoint for Endpoint DLP.

[2021-03-29 22:07] #4286 closed

[2021-03-29 22:26] maximvelichko commented on #4557
@RedVortex , thanks for reporting it!
I'd advise to install [individual profiles](https://github.com/microsoft/mdatp-xplat/tree/master/macos/mobileconfig/profiles) for the time being. Let's see what to do with the combined profile, as far as I know configuration profiles are natively supported by MDM (i.e. Intune relies on built in OS functionality to deliver them), I wish Apple would make it more

[2021-03-29 22:37] markjjo commented on #4537
@JeroenDronkers Thanks for flagging this. I've reached out to you and PM internally to discuss.

[2021-03-29 23:08] josh-at-tally commented on #4430
Okay, so how am I supposed to adopt this platform without this feature?

This seems to be an issue, why was it closed?

[2021-03-30 03:15] kefujino opened #4559 "Mis-translating public CDNs in Japanese article"
Hello,

Public CDNs should generally avoid handling sensitive data. However, a Japanese article recommends that we store the sensitive data on the Public CDN due to a mistranslation.

-Original

https://docs.microsoft.com/en-us/microsoft-365/enterprise/content-delivery-networks?view=o365-worldwide&source=docs#is-my-data-safe

-Japanese

https://docs.microsoft.com/ja-jp/microsoft-365/enterprise/con

[2021-03-30 06:59] Sharifa91 opened #4560 "Reports > Usage > Email Activity"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 503354ca-16f1-3cbb-17a6-f9c13b62a1c0
* Version Independent ID: 2cbba84e-a317-dd00-8e48-de2115d59bd9
* Content: [Microsoft 365 Reports in the admin center - Email activity - Microsoft 365 admin](https://docs.microsoft.com/en-US/microsoft-365/admin/acti

[2021-03-30 10:21] yogkumgit commented on #4510
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mickhowarth Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-30 10:21] #4510 closed

[2021-03-30 10:40] yogkumgit commented on #4176
@kwekuako Thank you very much for sharing this explanation. @rajatbhasin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-30 10:40] #4176 closed

[2021-03-30 11:14] mickhowarth commented on #4510
Thank you guys. If not me, I think it will help others.

[2021-03-30 11:29] hekessel opened #4561 "Enable the template app - steps are wrong"
[Enable the template app -> Org Settings tab Serivces Reports "Make data available to Microsoft 365 usage analytics for Power BI"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65732911-21e9-0902-51fa-0d3ae0caaa7a
* Version Independent ID: 3682fff5-36fc-1d69-96ef-88f7f73225d5
* Content: [Enable Microsoft 365 usage ana

[2021-03-30 13:18] Larryngolog opened #4562 "Grace period not sufficiently explained"
I'm missing information that grace period is the expired period, during which (also for trials) users retain access to data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5e656ac-5f86-6f46-55fc-5ea2cef0b51c
* Version Independent ID: 74553c8e-e34c-8f5b-c2c2-95100c357d74
* Content: [What happens to my data and access w

[2021-03-30 16:03] msbemba commented on #4365
@leenana365888 Thank you for your feedabck. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4564

[2021-03-30 16:25] msbemba commented on #4490
@nikki-c Thank you for your feedback. We have made changes to the diagram via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4565

Thanks
Sri

[2021-03-30 16:31] chrisda commented on #4549
@dreeves14, it's deleted, as in it never reaches the user's mailbox aka blown away. The only protection/security scenario where you have a delivered message moving around in a mailbox after delivery is related to [zero-hour auto purge (ZAP)](https://docs.microsoft.com/microsoft-365/security/office-365-security/zero-hour-auto-purge). But even then, a message is only moved to the Junk Email folder o

[2021-03-30 16:33] dreeves14 commented on #4549
Perfect, thank you for clarifying.

    Dalton Reeves
    IT Infrastructure Support Analyst
    P (314) 655-5523 | F (314) 309-3103
    ***@***.*** | anderscpa.com
    800 Market Street, Suite 500 | St. Louis, MO 63101

    ANDERS CPAs + ADVISORS
From: Chris Davis ***@***.***>
Sent: Tuesday, March 30, 2021 11:31 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Dalton Reeves ***@***.***>; M

[2021-03-30 16:39] chrisda commented on #4550
@dogborne, the statement in the spoof intelligence topic is accurate (I tested it a few weeks ago):

I'll update the corresponding cmdlet reference topics.

[2021-03-30 16:54] msbemba commented on #4507
@gitmarecki Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4566

[2021-03-30 16:59] msbemba commented on #4502
@jonwbstr Thank you for your feedback. The switch is available in exchange online. I tested it a few minutes ago.

PS C:\WINDOWS\system32> Set-User test1 -PermanentlyClearPreviousMailboxInfo

Confirm
Are you sure you want to perform this action?
Delete all existing information about user "test1"?. This operation will clear existing values from Previous home MDB
and Previous Mailbox GUID of the use

[2021-03-30 17:03] msbemba commented on #3856
@hazemembaby Thank you for your feedback. I have checked with the PM and the Author, It is not possible to add a script at this time but we'll look at the details and see if we can add it later.

CC : @yogkumgit  @kwekuako
Thanks
Sri

[2021-03-30 17:27] RedVortex commented on #4557
@maximvelichko I think they are already aware of this issue according to this article that seems to have been written by them: https://techcommunity.microsoft.com/t5/intune-customer-success/support-tip-kernel-extensions-on-macs-running-apple-silicon-are/ba-p/2238727

I think for now, we should probably do the same thing as they did, that is: tell people in the 365 Docs or in the combined profile r

[2021-03-30 17:27] chrisda commented on #4550
Updated cmdlet ref topics, so Closing.

Thanks for the feedback.

[2021-03-30 17:27] #4550 closed

[2021-03-30 17:31] msbemba commented on #4474
@Gassela Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4568

Thanks
Sri

[2021-03-30 17:34] msbemba commented on #4432
@chraymu  Thank you for your feedback. What exactly are the changes that you are looking for? The policies can be assigned to different personas based on the organization's requirement.

Thanks
Sri

[2021-03-30 17:39] msbemba commented on #4437
@webstaff Thank you for your feedback. This is the expected behavior unfortunately and fixing this needs to start from the RABC roles assigned to delegated administrators. I would recommend you contact Support for partners and provide feedback.

Hope this helps!

Thanks
Sri

[2021-03-30 17:49] msbemba commented on #4427
@leenana365888 Thank you for your feedback. Converted view does not exist anymore and the same has been removed from the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4569

Thanks
Sri

[2021-03-30 17:53] msbemba commented on #4462
@OverengineeredNetwork Thank you for your feedback. This sounds more like a support issue and we recommend you to contact Support from the need help option on the M365 admin center. If you feel there are any changes required in the document post your support experience, let us know.

Hope this helps!

@yogkumgit No changes required in the document as of now.
Thanks
Sri

[2021-03-30 18:05] maximvelichko commented on #4557
@RedVortex , unfortunately, I see no easy way to deploy a config profile conditionally (i.e. profile A to those with version >= 11, and profile B with version <11, or profile A for Intel, and profile B for M1). Maintaining a group with explicit list of machines is prone to errors (think about an owner of a bring-your-own-device machine who decided to upgrade to Big Sur). It could be solved on Intu

[2021-03-30 18:56] msbemba commented on #4474
@Gassela I have applied the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4568

The changes will only reflect post-approval from the author. It reflects exactly what you had said.

Thanks
Sri

[2021-03-30 19:42] rezabj opened #4572 "Obsolete information in the article"
In the section "TLS certificate information for Exchange Online" are obsolet information. Current certificate is issued by the intermediate authority "DigiCert Cloud Services CA-1", not by "GlobalSign Root CA – R1". The intermediate authority "DigiCert Cloud Services CA-1" is subordinate to root authorit "DigiCert Global Root CA". Current certificate validity is from 6.2.2021 to 6.2.2022.

So ther

[2021-03-30 20:20] TGatTheCDC opened #4573 "What does Security Group refer to? SharePoint Groups, M365 groups? AD groups?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2033ca4a-ada3-e874-bc6d-46acfe2079be
* Version Independent ID: 808886b3-8bb2-7dd8-73f6-6466b55c24d5
* Content: [SharePoint Online modern portal site limits - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/Enterprise/modern-po

[2021-03-30 20:23] GitRandyAZ commented on #4481
I don't need technical support. I was just pointing out the Microsoft documentation could be better to annotate the task can't use powershell core v7.x as the called out export option is not available in that version.

[2021-03-30 20:25] msbemba commented on #4487
@xNiklasJern Thank you for your feedback. This depreciation does not affect OME. For more details, visit https://techcommunity.microsoft.com/t5/microsoft-security-and/azure-aip-portal-label-amp-policy-management-admin-experience/ba-p/2182678

Thanks
Sri

[2021-03-30 20:51] fuzailm opened #4574 "Domain Setting Location has changed"
[Enter feedback here]

Domain registration settings on admin.microsoft.com have moved to **Setup>Domains** do not live under **Settings>Domains**.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0012093-49ca-c2f6-a3f3-4e4252fca609
* Version Independent ID: 22784dda-ff03-971b-4d6e-5b0152f62942
* Content: [Add a domain to

[2021-03-30 22:08] jonwbstr commented on #4502
I'm not denying that the command does stuff. But it does not work as
intended when working with an online only mailbox.

I created an online mailbox, checked the 3xchange guide, next i removed the
license and ran this command, then readded the license and checked the
exchange guid. It matched the original guid and the mailbox content was
back.

As you noticed the command ran successfully and said

[2021-03-30 23:04] roberts2727 opened #4575 "ips for Exchange online seem out of date."
we saw connections coming from 194.147.140.57 && 45.147.77.48
when migrating mailboxes to exchange online which are not outlined in the Exchange Online section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [O

[2021-03-31 00:15] #4575 closed

[2021-03-31 00:23] OverengineeredNetwork commented on #4462
@msbemba I completely disagree.

The steps in the documentation do not produce the stated outcome and should either be updated to reflect the fact that the _reject the message and include an explanation_ verbiage does not work OR whatever team is involved with this functionality should be looped in to fix the underlying issue.

Also, this article should be updated to reflect which settings are ess

[2021-03-31 09:54] nikki-c opened #4576 "Information on Teams users with hybrid mailboxes is incorrect"
The following paragraph needs to be updates as users with a Exchange hybrid with on premises mailboxes now get a Exchange online mailbox allocated just fort her storage of the eDiscovery Teams chat, meeting and call records. See page with details  https://docs.microsoft.com/en-us/microsoft-365/compliance/search-cloud-based-mailboxes-for-on-premises-users?view=o365-worldwide

Important
In a cloud-b

[2021-03-31 12:02] #4365 closed

[2021-03-31 12:07] #4490 closed

[2021-03-31 12:12] #4507 closed

[2021-03-31 12:16] yogkumgit commented on #3856
@msbemba Thank you very much for the contribution and sharing this explanation. @hazemembaby Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-31 12:16] #3856 closed

[2021-03-31 12:27] yogkumgit commented on #4427
@msbemba Thank you very much for the contribution and updating the documentation with PR. @leenana365888 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-31 12:36] DeanGross opened #4577 "Outlook for IoS version information"
The table shows that version 4.7.1 or higher is needed. When I look in the Apple App store, the current version is 4.2112. Is this table correct? if so how do we get that version? If not, please correct the table.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0836a95-d3b7-3c43-d56b-5fb4ceeb4765
* Version Independent

[2021-03-31 13:44] andyprinceuk opened #4578 "Office 365 IP Address and URL web service documentation incorrect for endpoint instance type parameter"
The Office 365 IP Address and URL web service documentation available [here](https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-ip-web-service?view=o365-worldwide#endpoints-web-method) incorrectly notes that the Instance of endpoints (the specific set: Worldwide vs China vs Germany etc) to fetch is provided as a URL parameter, for example
`https://endpoints.office.com/endpoint

[2021-03-31 14:40] cabailey commented on #4577
@DeanGross  Hi Dean, this is the version I've been given by engineering.  I'll look into it.  Thanks for flagging.

[2021-03-31 17:26] cabailey commented on #4577
I have the answer, but not sure yet how to clarify this in the table. They changed the versioning format - 4.7.1 is a very old version that using their current numbering format is effectively 4.0007.1. But when it released, it released as 4.7.1 so the number in the table is accurate, but hard to understand when you view the current versions and history that uses the new format. The versioning form

[2021-03-31 17:46] markjjo commented on #4576
Hi @nikki-c  isn't this issue a duplicate of https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4488? If so, I'm going to close issue 4488. Regardless, I will update this note as per your request (so that it aligns with topic on searching for teams chats for on-premises users.

[2021-03-31 17:47] markjjo commented on #4488
@nikki-c Closing this issue as dupe of https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4576 that you recently opened. I will also review/update PR#4535. The changes in the PR aren't quite accurate.

[2021-03-31 17:47] #4488 closed

[2021-03-31 17:54] markjjo commented on #4246
Closing. Info about removing inactive mailboxes from both org-wide and explicit retention policies added to this topic on deleting inactive mailboxes.

[2021-03-31 17:54] #4246 closed

[2021-03-31 18:08] maximvelichko commented on #4557
Thank you @RedVortex!

I've added https://github.com/microsoft/mdatp-xplat/blob/master/macos/mobileconfig/combined/mdatp-nokext.mobileconfig to support M1 deployment, will update the documentation later

[2021-03-31 18:08] markjjo commented on #4377
@drdenson Engineering is working on adding support for DoD, which is coming soon. You can ping me internally for more info.

[2021-03-31 18:57] msbemba commented on #4574
@fuzailm Thank you for your feedback. I can confirm that the add a domain setting is still under settings-->Domains.

![image](https://user-images.githubusercontent.com/45987684/113196301-f6433180-9280-11eb-81ca-c27d0baeaacc.png)

Thanks
Sri

[2021-03-31 21:36] HoCGeek opened #4579 "Required roles to view service health?"
This article says that "People who are assigned the global admin or service administrator role can view service health", but there is no "service administrator" role.  Is this referring to the Service Support Administrator role?

This article also links to the page "About admin roles" (https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/about-admin-roles?preserve-view=true&view=o365-wor

[2021-03-31 22:53] AveryBaker opened #4581 "Incorrect cmdlet in PowerShell example."
In the PowerShell example this cmdlet is used to change the site sensitivity label.

**$sites | ForEach-Object {Set-SPOTenant $_.url -SensitivityLabel $Id}**

Set-SPOSite needs to be used so the example should read:

**$sites | ForEach-Object {Set-SPOSite $_.url -SensitivityLabel $Id}**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-03-31 23:03] cabailey commented on #4581
Hi @AveryBaker  Have you tried the command as documented and it didn't work, or are you going by the PowerShell documentation that I'm told needs updating?

[2021-04-01 00:09] cabailey commented on #4577
Thinking about this some more, I'm inclined to leave it as it's currently documented. It's not untypical to miss off leading zeros and to change it now might look like the version information has changed when it hasn't. When this version released, that was the version number/format they used.

[2021-04-01 04:20] UKayo opened #4583 "Max character lengh for domain name"
Upon signing up for a new tenant, the lengh of the *.onmicrosoft.domain seems to be 43 characters at max. (the "*" portion can contain up to 27 characters)

![image](https://user-images.githubusercontent.com/49895263/113242711-98e4ca00-92ec-11eb-8f71-745b69d8eb34.png)

However, this content says domain can be 48 characters long.
Please confirm and edit the content as needed.

![image](https://user

[2021-04-01 05:49] saado9 opened #4587 "Adding payment method with th"
Hi , I was paying for my Microsoft Power BI Pro subscription through my credit card and the county was Saudi arabia.
Now I need to add my new credit card from the same bank, but I am getting the country as Jordan and cant be changed.
I know its is linked to the tenant country, but how i was able to add my visa card in SAudi arabia the first time!!
My subscription is due to renew in 8/4/2021.

[Ent

[2021-04-01 12:20] Jmartinez589 opened #4588 "What is the upper limit of this mailbox?"
The article implies that there is an expansion of the mailbox the is unlimited, but is there a upper limit of 140GB?

Please be more specific on what the client can expect when they enable this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69e08cf1-3ef1-7d22-122e-ef0f45c26215
* Version Independent ID: e9677dc

[2021-04-01 12:26] JaceyBennett opened #4589 "Tenants"
"For SaaS cloud offerings, the tenant is the regional location that houses the servers providing cloud services. For example, the Contoso Corporation chose the European region to host its Microsoft 365, EMS, and Dynamics 365 tenants for the 15,000 workers in their Paris headquarters."

Should that read "...and Dynamics 365 subscriptions" instead? The first sentence says that "tenant" is the region

[2021-04-01 14:07] msbemba commented on #4487
@yogkumgit No changes required on this document.

Thanks
Sri

[2021-04-01 14:34] gnerd opened #4590 "no FAQ section"
See the FAQ section for tips on putting Microsoft 365 Groups and Microsoft Teams on hold.

There isnt an FAQ section...and I would like to know about this topic..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115cfe0b-c8b5-193d-19da-a6f9c03fdfc0
* Version Independent ID: 4a90cb9e-ce2a-a3f6-4b67-32f45c975323
* Content:

[2021-04-01 14:57] MSilcox1 opened #4592 "Typo in Spoofing description"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-anti-phishing-policies?view=o365-worldwide#spoof-settings

"Spoofing is when the From address in an email message (the sender **address that's show** in email clients)"

Typo: Should be "shown".

😄

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-04-01 15:23] dneto-ame opened #4593 "Better explanation about correlation with embedded security reporting option on Outlook Web vs Report Add-In"
Hi there,

I hope you can improve documentation on how this add-in can be confusing for end-user, since Outlook Web already has the standard option to mark as Junk or Phishing.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/report-junk-email-and-phishing-scams-in-outlook-on-the-web-eop?view=o365-worldwide

We should able to remove the standard option in favor of Add-I

[2021-04-01 15:52] msbemba commented on #4168
@yogkumgit The issue can be closed.

[2021-04-01 15:56] msbemba commented on #4498
@yogkumgit There are no changes required in the document and the issue can be closed.

[2021-04-01 16:10] msbemba commented on #4516
@abrookewood Thank you for your feedback. After users complete Multi-Factor Authentication registration, they'll be prompted for additional authentication whenever necessary. Users will be prompted primarily when they authenticate using a new device or application, or when performing critical roles and tasks.  We have linked the document - https://docs.microsoft.com/en-us/azure/active-directory/fu

[2021-04-01 16:14] msbemba commented on #4519
@AlliJM Thank you for your feedback. As of April 1 2020, You can export only up to 120 days of recent data as a TSV file. Additional data is not available.

We have a document that explains this in detail -https://docs.microsoft.com/en-us/microsoft-365/bookings/reporting-info?view=o365-worldwide#:~:text=You%20can%20now%20see%20a,spreadsheet%20program%2C%20such%20as%20Excel.

Hope this helps!

@yog

[2021-04-01 16:17] msbemba commented on #4526
@alexmags Thank you for your feedback. We have added the additional document to the related links. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4594

Thanks
Sri

[2021-04-01 16:30] msbemba commented on #4528
@genghisCr0n Thank you for your feedback. The PowerShell code is correct as I'm able to test this at my end. For support-related queries, we recommend you contact Microsoft support via the need help link on your m365 admin center.

![image](https://user-images.githubusercontent.com/45987684/113325100-935fa200-9335-11eb-9673-96d7ced17008.png)

@yogkumgit There are no changes required in the documen

[2021-04-01 16:37] msbemba commented on #4538
@LindaCicero Thank you for your feedback. It used to be the First Release, now it’s usually called Targeted Release or Preview Channel. Since the Admin center still says Targeted release and Standard release, we will stick to that in this document.

Hope this helps!

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-04-01 16:39] DeanGross commented on #4577
@cabailey  my confusion is being caused by the version number I see in the Apple Store and in the About setting . I don't have anything close to 4.7. It appears to me that a much newer versions is required, but its not available.

[2021-04-01 16:53] cabailey commented on #4577
Yes, 4.7.1 is a very old build and no longer showing in the history version in the Apple store. For easier comparison, read 4.7.1+ (no leading zeros) as 4.0007.1+, (not 4.7000.1).  As your version of 4.2112 is higher than 4.0007, you're good to go.

[2021-04-01 17:21] msbemba commented on #4540
@jbrysonMSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4595

Thanks
Sri

[2021-04-01 17:34] msbemba commented on #4553
@bt101 Thank you for your feedback. When you send a message to a group, you will no longer receive a copy of the message in your inbox by default. If you want to get a copy of messages you send to the group in your inbox follow these steps: -https://support.microsoft.com/en-us/topic/i-m-not-receiving-a-copy-of-messages-i-send-to-a-group-in-my-inbox-07567cda-f5ce-4e52-b278-4c63dfdd6617

Hope the ab

[2021-04-01 17:36] msbemba commented on #4560
@Sharifa91 Thank you for your feedback.

 To access email activity,

In the admin center, go to the Reports > Usage page.
Select View More under Email activity.
From the Email activity drop-down list, select Exchange > Email activity.

![image](https://user-images.githubusercontent.com/45987684/113332481-d96d3380-933e-11eb-8563-98d77c2eadb9.png)

Hope this helps!

@yogkumgit There are no changes r

[2021-04-01 17:40] chrisda commented on #4592
@MSilcox1, fixed. In the future, you too can make updates like this without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2021-04-01 17:40] #4592 closed

[2021-04-01 18:35] msbemba commented on #4561
@hekessel Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4596

Thanks
Sri

[2021-04-01 18:49] NiteshSharma2K19 opened #4597 "Do we need Azure AD Premium license for Global Admin or not???"
Hi Team,

Thanks for the article. I have a feedback and a request. The wording in this document is little confusing to me.
![image](https://user-images.githubusercontent.com/49910457/113339817-072f8980-92f9-11eb-8c70-fc3e361e2c7a.png)

I understand that the steps in the article if performed will not affect my Global Admin Account. Irrespective of the license assigned, but the later under license r

[2021-04-01 21:55] markjjo commented on #4588
@Jmartinez589 Thanks for feedback. Auto-expanding archiving will continue to provision additional archive storage space as necessary. If your customers get to a point where additional archive storage is no longer provisioned, then they should contact Microsoft Support. Another important aspect of auto-expanding archiving is that customers adhere to proper use of archive mailboxes as described in t

[2021-04-01 21:55] #4588 closed

[2021-04-01 22:06] markjjo commented on #4590
@gnerd Thanks for the heads up. Will remove reference to FAQ (which doesn't exist). Here are a few articles that discussing placing sites and team on hold. The basics will be applicable to hold in Advanced eDiscovery.

https://docs.microsoft.com/en-us/microsoft-365/compliance/create-ediscovery-holds

https://docs.microsoft.com/en-us/microsoftteams/legal-hold

[2021-04-01 22:06] #4590 closed

[2021-04-02 05:40] alphanimal opened #4599 "Green safety tips inside message body can be fake"
How do I know a malicios sender did not just add their own green "This message is from a trusted sender." box into their fake message? If the message would be displayed in the email client GUI independent of the message body, it would be more trustworthy and not lead users to believe things that could easily be faked.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-04-02 10:45] yogkumgit commented on #4487
@msbemba Thank you very much for the contribution and sharing this explanation. @xNiklasJern Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-02 10:45] #4487 closed

[2021-04-02 10:53] #4168 closed

[2021-04-02 10:54] yogkumgit commented on #4498
@msbemba Thank you very much for the contribution and sharing this explanation. @glr0221 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-02 10:54] #4498 closed

[2021-04-02 11:14] yogkumgit commented on #4513
@msbemba Thank you very much for the contribution and sharing this explanation. @bbollaer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-02 11:15] #4513 closed

[2021-04-02 15:08] cabailey commented on #4577
No doc updates needed here, closing.

[2021-04-02 15:08] #4577 closed

[2021-04-02 17:37] cmcatee-MSFT commented on #4587
@saado9 I spoke with the product team, and there haven't been any changes to how credit cards are processed. Your best option is to contact support through the admin center and open a support ticket to have this investigated.

[2021-04-02 17:37] #4587 closed

[2021-04-02 18:28] v-jaskee opened #4600 "Latency"
The current Docs article provides for a NOTE at the top re: latency.  Then further below an additional NOTE re: once a day and/or reboot.  Overall this seems a bit confusing, as the first seems to relate to usage in the Portal, while the other relates to the endpoint "registering" itself.

Certainly if the below needs to go towards support or an Insight let me know....happy to reroute.

Also, in m

[2021-04-02 19:01] markjjo commented on #4576
@nikki-c FYI that the note in this article has been updated.

[2021-04-02 19:01] #4576 closed

[2021-04-03 19:20] jeffangama commented on #4441
Assuming a customer ask you, please delete my data under the name "ANGAMA Jeff".
I assume we'll use ediscovery to find where are the forms with this name. Then take the ownership of the form and then delete it indeed.

[2021-04-04 03:40] aldo-ipo opened #4603 "Teams installation problem"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9a020c1-2f9f-26e7-5221-25b802bbc570
* Version Independent ID: 199e13d2-1b21-0b57-325f-91121b8f104d
* Content: [Support information for Malaysia - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/support/malaysia?view=o365-wor

[2021-04-04 03:44] aldo-ipo opened #4604 "Teams problem"
Purchased Office package yesterday. Installed on the computer. Teams cannot launch. First ask account, then phone number, after send a verification code. Code inserted correctly. Error several times. Now cannot even today try again because of too many codes inserted yesterday. Asked to microsoft helpdesk to solve the issue, they forward me to Teams-Skype support, that forward me to Malaysia suppor

[2021-04-05 03:52] AaronDinnage opened #4605 "Microsoft Defender for Endpoint for Mac is included in Windows E5 / MDE stand-alone"
As per this conversation on Yammer (https://web.yammer.com/main/threads/eyJfdHlwZSI6IlRocmVhZCIsImlkIjoiOTAxMTU2ODYwMDU5NjQ4In0) the product marketing manager has confirmed the current description of Microsoft Defender for Endpoint Mac licensing on this page is incorrect and the licensing list should also include Windows E5 and Microsofty Defender for Endpoint stand-alone license types.

---
####

[2021-04-05 04:52] mitanabe opened #4606 "Endpoints of Microsoft Whiteboard should be added to the Office 365 URLs and IP address ranges"
The following endpoints should be added to the Office 365 URLs and IP address ranges for Microsoft Whiteboard.

whiteboard.microsoft.com
wbd.ms
*.whiteboard.microsoft.com
whiteboard.ms

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3

[2021-04-05 08:28] msbemba commented on #4430
@josh-at-tally Thank you for your feedback.  You are requesting a design change/ Feature request. Unfortunately, we only handle the documentation part. You can provide you feedback through one of our channels regarding the feature requests - https://support.microsoft.com/en-us/topic/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a and the product group/engineering team will look into the feedb

[2021-04-05 09:34] msbemba commented on #4448
@brolifen Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4607

Thanks
Sri

[2021-04-05 12:54] yogkumgit commented on #4604
@aldo-ipo Sorry for the inconvenience. The issues section of this repository is intended for product documentation problems, not support. If you have any feedback with respect to a document, please mention the document name here and let us know what improvements you expect. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also for document up

[2021-04-05 13:48] msbemba commented on #4432
@yogkumgit The issue can be closed as there are no changes required in the document.

[2021-04-05 13:50] msbemba commented on #4474
@yogkumgit Author has updated the document. The document is now live and the issue can be closed.

Thanks
Sri

[2021-04-05 14:06] msbemba commented on #4572
@rezabj Thank you for your feedback. I'm internally working with the author to confirm and update the document.

Thanks
Sri

[2021-04-05 14:16] msbemba commented on #4562
@Larryngolog Thank you for your feedback. We have made changes to the document  via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4609

Thanks
Sri

[2021-04-05 14:26] msbemba commented on #4573
@TGatTheCDC Thank you for your feedback. The Security group that is referred to includes all types of security groups that can be granted access to a  SharePoint modern site (SP groups& AD security groups etc). Again, this is just a recommendation and not a hard limit.

Hope this helps!

Thanks
Sri

[2021-04-05 14:34] msbemba commented on #4539
@thommck Thank you for your feedback. At this point, only access to the customer's Microsoft Defender Security Center is available via https://securitycenter.Microsoft.com/?tid=<CustomerTenantId>

We will update when there is an option for MSSP to access the new security portal.

Hope this helps!

@yogkumgit  There are no changes required in the document.

Thanks
Sri

[2021-04-05 14:35] msbemba commented on #4437
@yogkumgit There are no changes required in this document.

[2021-04-05 14:36] yogkumgit commented on #4437
@msbemba Thank you very much for the contribution and sharing this explanation. @webstaff Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-05 14:36] #4437 closed

[2021-04-05 14:50] yogkumgit commented on #4471
@cmcatee-MSFT Thank you very much for digging deep into it.  @ararag We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that val

[2021-04-05 14:50] #4471 closed

[2021-04-05 15:05] yogkumgit commented on #4432
@msbemba Thank you very much for the contribution and sharing this explanation. @chraymu Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-05 15:05] #4432 closed

[2021-04-05 15:07] yogkumgit commented on #4474
@msbemba Thank you very much for the contribution. @Gassela Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-05 15:07] #4474 closed

[2021-04-05 15:45] msbemba commented on #4574
@yogkumgit There are no changes in the document and the issue can be closed.

[2021-04-05 16:22] #4604 closed

[2021-04-05 16:43] cmcatee-MSFT commented on #4603
@aldo-ipo If you're having trouble installing Teams, please see [Troubleshoot Microsoft Teams installation and update issues on Windows](https://docs.microsoft.com/microsoftteams/troubleshoot-installation). If you continue to have problems, please contact a support agent  using [Support information for Malaysia](https://docs.microsoft.com/en-us/microsoft-365/admin/support/malaysia)

[2021-04-05 16:43] #4603 closed

[2021-04-05 17:06] chrisda commented on #4599
@alphanimal, you could very well be correct. However, this is the place for documentation updates, not feature requests. If you want to get serious traction on this issue, I would recommend opening up a support case.

[2021-04-05 18:01] markjjo commented on #4537
@JeroenDronkers New topic on exporting to custom-owned Azure Storage account has been published.

https://docs.microsoft.com/en-us/microsoft-365/compliance/download-export-jobs?view=o365-worldwide

[2021-04-05 18:01] #4537 closed

[2021-04-05 18:53] chrisda commented on #4593
@dneto-ame, I agree that this is confusing. The Report Message add-in or the Report Phishing add-in are definitely the preferred way to go.

In looking at the ReportJunkEmailEnabled parameter in the [Set-OwaMailboxPolicy](https://docs.microsoft.com/powershell/module/exchange/set-owamailboxpolicy) cmdlet, the parameter is described correctly, but does nothing to help remove/hide the built-in report

[2021-04-05 19:50] ssmiller60 opened #4610 "Typo in PS command at step 5 #steps-for-doing-this-with-powershell"
The command is incorrect, it should be .\Get-AzureADPSPermissions.ps1 | Export-Csv -Path "permissions.csv" -NoTypeInformation

.\ is missing and it will not run without that

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d66854a7-7556-9b2a-0a33-886e3d881047
* Version Independent ID: 7ce3d8d5-cece

[2021-04-05 20:04] Sherd21 opened #4611 "Typo in PowerShell example"
Section "[Use PowerShell to apply a sensitivity label to multiple sites](https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-teams-groups-sites?view=o365-worldwide#use-powershell-to-apply-a-sensitivity-label-to-multiple-sites)"
Step 5: Run the following command to apply the label to these sites. Using our examples:

There is a typo in the PowerShell example.

instead of:

[2021-04-05 20:54] cabailey commented on #4611
@Sherd21 Are you saying you tried the command as documented, and it didn't work?

[2021-04-05 21:03] Sherd21 commented on #4611
No, it didn't. The different command should be used, Set-SPOTenant. It even specified under code example in a next sentence: To apply different labels to different sites, repeat the following command for each site: **Set-SPOSite** -Identity <URL> -SensitivityLabel "<labelguid>"

[2021-04-05 21:40] cabailey commented on #4611
If it's not working as documented, please open a support ticket for investigation.  I'm told the command as documented should be used to apply a sensitivity label across multiple sites in your tenant (no need to specify the site), and to use Set-SPOSite only if you need to apply different sensitivity labels to different sites (so need to specify the site).

[2021-04-06 06:52] siosulli commented on #4593
@dneto-ame I have checked and I will update the documentation so it is similar to the iOS and Android article where the Report Message add-in and the Report Phishing add-ins are recommended.

As @Chrisda said though, in terms of being able to remove the standard option you could open a support case for this.

[2021-04-06 12:09] DeanGross opened #4614 "What features are part of Targeted release"
Please provide more information about which compliance features are part of the targeted release process. We need to be able to tell out people in that ring what to expect so that we can properly evaluate the new functionality.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89486ebd-f4fa-9d07-ee93-d04fd8d41027
* Version

[2021-04-06 13:56] mjmelone opened #4616 "Need to add limit of 1500 calls per hour"
Need to also note that there is a limit of 1500 API calls per hour
`
{
  "error": {
    "code": "429",
    "message": "API calls quota exceeded! maximum allowed 45 per 00:01:00",
    "target": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"  }
}
{
  "error": {
    "code": "429",
    "message": "API calls quota exceeded! maximum allowed 1500 per 01:00:00",
    "target": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

[2021-04-06 14:40] yogkumgit commented on #4516
@msbemba Thank you very much for the contribution and sharing this explanation. @abrookewood Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 14:40] #4516 closed

[2021-04-06 14:42] yogkumgit commented on #4519
@msbemba Thank you very much for the contribution and sharing this explanation. @AlliJM Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 14:42] #4519 closed

[2021-04-06 14:44] yogkumgit commented on #4526
@msbemba Thank you very much for the contribution and updating the documentation with PR. @alexmags Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 14:44] #4526 closed

[2021-04-06 14:45] yogkumgit commented on #4528
@msbemba Thank you very much for the contribution and sharing this explanation. @genghisCr0n Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 14:46] #4528 closed

[2021-04-06 14:47] yogkumgit commented on #4538
@msbemba Thank you very much for the contribution and sharing this explanation. @LindaCicero Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 14:47] #4538 closed

[2021-04-06 14:48] yogkumgit commented on #4539
@msbemba Thank you very much for the contribution and sharing this explanation. @thommck Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 14:48] #4539 closed

[2021-04-06 14:52] yogkumgit commented on #4553
@msbemba Thank you very much for the contribution and sharing this explanation. @bt101 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 14:52] #4553 closed

[2021-04-06 14:54] yogkumgit commented on #4560
@msbemba Thank you very much for the contribution and sharing this explanation. @Sharifa91 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 15:01] yogkumgit commented on #4573
@msbemba Thank you very much for the contribution and sharing this explanation. @TGatTheCDC Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 15:01] #4573 closed

[2021-04-06 15:02] yogkumgit commented on #4574
@msbemba Thank you very much for the contribution and sharing this explanation. @fuzailm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 15:02] #4574 closed

[2021-04-06 15:42] yogkumgit commented on #4448
@msbemba Thank you very much for the contribution and updating the documentation with PR. @brolifen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-06 15:42] #4448 closed

[2021-04-06 15:56] msbemba commented on #4502
@jonwbstr I tested this and the Guid Remains after cleaning the mailbox info. I will work with the author and provide you an update.

[2021-04-06 16:03] coproyer opened #4618 "Incorrectly iterated bullets"
Within the section 'Use the Security & Compliance Center to configure the user submissions mailbox' (https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/user-submission?view=o365-worldwide#use-the-security--compliance-center-to-configure-the-user-submissions-mailbox) for the second level bullets of the section, both the first and second bullets are "a".

![User submissions

[2021-04-06 16:14] philipzloh opened #4619 "New section necessary in the Focused Inbox config page"
The page we'd like to update is this one: https://docs.microsoft.com/en-us/microsoft-365/admin/setup/configure-focused-inbox?view=o365-worldwide#use-the-ui-to-create-a-transport-rule-to-direct-email-messages-to-the-focused-view-for-all-your-users

In the "Use PowerShell to create a transport rule to direct email messages to the Focused view for all your users", could we add the below section under

[2021-04-06 16:31] msbemba commented on #4618
@coproyer Thank you for your feedback. We have created a PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4621 to fix this.

Thanks
Sri

[2021-04-06 16:33] msbemba commented on #4610
@ssmiller60 Thank you for your feedback. We have added the missing information in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4621

Thanks
Sri

[2021-04-06 16:44] msbemba commented on #4589
@JaceyBennett Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4624

Thanks
Sri

[2021-04-06 18:12] pamcdo commented on #4504
@msbemba - I have submitted a PR on the internal repo for this article, #7621

[2021-04-06 18:51] david-tap commented on #3069
Is the Junk Reporting Addon officially deprecated?

[2021-04-06 20:37] d3sysint opened #4625 "I need how to use API of threat-explorer (https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/threat-explorer)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c67966fc-41a2-d368-3ec9-e74768984af4
* Version Independent ID: e2b8c076-e23b-4141-dbe1-62d984e6a87a
* Content: [Threat Explorer and Real-time detections - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/threat-e

[2021-04-06 22:50] chrisda commented on #3069
Not deprecated. As long as it's available at the Download Center, it's supported. Based on age and the information on the download page, I doubt it was ever tested in Outlook 2019, but it does seem to install and work.

I purposefully left the information for the Junk Email Reporting Add-in for Microsoft Outlook not as encouragement for people to start using it. Instead, I left it there for large

[2021-04-07 06:40] msbemba commented on #4583
@UKayo Thank you for your feedback. The Custom domain name will need to be at least 4 and a maximum of 48 characters. The limit for an onmicrosoft.com domain is 27 but a custom domain can have 48 characters,

![image](https://user-images.githubusercontent.com/45987684/113821640-ff109780-9799-11eb-84e6-531bf54def85.png)

Hope this helps!

Thanks
Sri

[2021-04-07 06:49] msbemba commented on #4605
@AaronDinnage Thank you for your feedback. We have made the changes in document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4629

thanks
Sri

[2021-04-07 06:57] msbemba commented on #4579
@HoCGeek Thank you for your feedback. I can confirm that the service support admin role does have the ability to view and monitor service health. We have made changes on both the documents to reflect the same. This can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4631 and PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4630

Thanks
Sri

[2021-04-07 06:59] msbemba commented on #4616
@mjmelone Thank you for your feedback.
We have the document updated to reflect the same

The number of executions is limited per tenant:
   - API calls: Up to 45 calls per minute, up to 1500 calls per hour.
   - Execution time: 10 minutes of running time every hour and 3 hours of running time a day.

Hope this helps!

Thanks
Sri

[2021-04-07 07:01] msbemba commented on #4562
@yogkumgit Cern confirmed that this has been addressed in another PR and the issue can be closed.

[2021-04-07 07:22] msbemba commented on #4462
@OverengineeredNetwork I have tested this mail flow rule and it doesn't work for me as well. This sounds more like a bug in the backend. I will check internally on how to proceed with this.

Thanks
Sri

[2021-04-07 07:54] Larryngolog commented on #4562
Thanks!

[2021-04-07 09:22] Larryngolog opened #4632 "Which users are shown in the report"
I would like to know which users are going to be shown in the table view of the user activity report and exported data. Will it show only users that were using the service in any way, all users licensed with Teams license or all users present in given tenant?

We are looking for a way to find inactive users.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2021-04-07 09:40] OverengineeredNetwork commented on #4462
@msbemba thank you very much. I look forward to your findings.

[2021-04-07 10:19] yogkumgit commented on #4501
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JeroenDronkers Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-07 10:19] #4501 closed

[2021-04-07 10:46] yogkumgit commented on #4589
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JaceyBennett Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-07 10:46] #4589 closed

[2021-04-07 10:57] yogkumgit commented on #4562
@msbemba Thank you very much for the contribution and sharing this explanation. @Larryngolog Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-07 10:57] #4562 closed

[2021-04-07 11:05] yogkumgit commented on #4616
@msbemba Thank you very much for the contribution and sharing this explanation. @mjmelone Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-07 11:05] #4616 closed

[2021-04-07 15:27] rfoust opened #4636 "License clarification"
I believe the license requirement listed is not correct? From my understanding, A1 licenses (which include Exchange Plan 1) support litigation hold, based on what is documented at this link:

https://docs.microsoft.com/en-us/office365/servicedescriptions/office-365-platform-service-description/office-365-education

Just search for "In-Place Hold and Litigation Hold" on that page. The differences b

[2021-04-07 18:07] davidjfriedman opened #4637 "Suggest to provide guidance specific to Live Events"
Suggest to include networking guidance for Live Events, potentially sourcing some of that content from the following blog post:

https://techcommunity.microsoft.com/t5/office-365-blog/how-to-optimize-stream-amp-live-events-traffic-in-a-vpn-scenario/ba-p/1439767

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4fd73b-96

[2021-04-07 19:28] siosulli commented on #4593
Hi @dneto-ame to address your first point, I have the updated the article to be in-line with the iOS and Android article and to recommend the use of the Report Message and the Report Phishing add-ins over the other options.

For the second point to remove the standard option in favor of Add-In, this would need to be dealt with in a support ticket.

Thank you for your feedback on this!

[2021-04-07 19:28] #4593 closed

[2021-04-07 20:37] kyouells opened #4639 "Please add more detail to this page for Premier Support. What are the steps a Premier/Unified Customer must take to log a case. This page is very vague."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceca7593-5fc2-7088-d2c3-90bacbbbed9a
* Version Independent ID: 7af76ee9-424d-1809-c8b9-d074c95f9b2f
* Content: [Contact Microsoft Defender ATP support](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/contact-support?view=o365

[2021-04-08 08:06] lightupdifire opened #4640 "How to Report"
Hello,

I try to find in documents action like "how to report usage of the sensitivity labels" for unified labeling solution, but can't find it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb0c964d-2d1b-601a-c8a2-14378fc24fb8
* Version Independent ID: ee549bd1-0652-2167-0f23-d22a58cf895b
* Content: [Learn about sens

[2021-04-08 09:46] myfope opened #4641 "Microsoft Highly Confidential PDF Download?"
Hi,

maybe the security of the document is no longer "Microsoft Strictly Confidential" or someone shared a document that should not be publicly available.
The article has a link to Validation Instructions for Data-at-rest Encryption for Microsoft 365 which points to https://aka.ms/CustomerKey/PublicPreviewValidation
This ends in a PDF file download which is classified as "Classified as Microsoft H

[2021-04-08 11:45] uzef1x opened #4643 "A little fix is needed"
[Enter feedback here]

The menu link is correct but the link name is wrong:

![image](https://user-images.githubusercontent.com/75022360/114021101-fa6ee080-9878-11eb-8040-7da4af218a68.png)

Cheers!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c01048d4-36ad-9241-10c7-dcab6dcc2d52
* Version Independent ID: c38e975b-296

[2021-04-08 13:33] bledMS82 opened #4644 "Invalid link 404 for DeviceEvents"
DeviceEvent link in schema fails 404

Invalid link 404
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/advanced-hunting-deviceevents-table.md?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9fd21fa-e367-78d4-bc86-80f2b75a64b8
* Version Independent ID: 97a42f10-ba7f-f2d4-6c5

[2021-04-08 13:34] KitSkin opened #4645 "Missing 'Learn the advanced hunting query language page'"
At the bottom of the page is the link to the [Learn the advanced hunting query language page](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/advanced-hunting-query-language); this is also the same link and address on the left menu.  However, if you go to that [link](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/advanced-hunting-query-language)

[2021-04-08 14:54] msbemba commented on #4186
@yogkumgit The changes have been made to the document.

[2021-04-08 14:59] msbemba commented on #4504
@pamcdo  Thank you.

[2021-04-08 15:08] cabailey commented on #4640
On this page we don't list all the scenarios for sensitivity labels but have a link to them that includes reporting: https://docs.microsoft.com/en-us/microsoft-365/compliance/get-started-with-sensitivity-labels#common-scenarios-for-sensitivity-labels

Look for "Monitor and understand how sensitivity labels are being used in my organization" (two articles)

[2021-04-08 15:37] yogkumgit commented on #4610
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssmiller60 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-08 15:37] #4610 closed

[2021-04-08 15:40] yogkumgit commented on #4618
@msbemba Thank you very much for the contribution and updating the documentation with PR. @coproyer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-08 15:40] #4618 closed

[2021-04-08 15:48] yogkumgit commented on #4540
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jbrysonMSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-08 15:48] #4540 closed

[2021-04-08 15:49] msbemba commented on #3857
New PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4647 Created

[2021-04-08 15:55] yogkumgit commented on #4186
@msbemba Thank you very much for the contribution. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-08 15:55] #4186 closed

[2021-04-08 16:01] yogkumgit commented on #4504
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AdamGrossTX Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-08 16:08] yogkumgit commented on #4579
@msbemba Thank you very much for the contribution and updating the documentation with PR. @HoCGeek Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-08 16:08] #4579 closed

[2021-04-08 16:10] yogkumgit commented on #4583
@msbemba Thank you very much for the contribution and sharing this explanation. @UKayo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-08 16:10] #4583 closed

[2021-04-08 16:46] KeithP-Microsoft opened #4648 "Poorly worded Docs site for Advanced Audit functionality"
[ This document is out-of-date. It references February 2021 like it's a date in the future, when in reality, it's from nearly 2 months in the past. Also, the term who's (which means who is) should really be "whose" (wrong version of 2 words that are similar but not the same meaning. All of this occurs in the bottom section of the page labelled as "FAQs for Advanced Audit". ]

---
#### Document Det

[2021-04-08 23:05] cygnetix opened #4653 "What value can be used to enable "warn mode" using group policy?"
This page shows how to configure ARS using a GPO with the following rule values:
Disable = 0
Block (enable ASR rule) = 1
Audit = 2

But this doesn't include how to enable "warn mode" as per: https://techcommunity.microsoft.com/t5/core-infrastructure-and-security/attack-surface-reduction-rules-warn-mode-with-mem-m365-defender/ba-p/2211653

Am I correct in thinking this would be `Rule = 3`? If so, c

[2021-04-08 23:18] cygnetix commented on #4653
Actually, from a bit of trial and error, I believe the Id for WarnMode is `6` and the parameter to pass via PowerShell is `Warn` (rather than WarnMode like I'd originally assumed).

It'd be good to have this added in the doco to clear up any confusion.

[2021-04-08 23:51] AdamGrossTX commented on #4504
I'm confused. What was updated? Have the changes from the internal PR that @pamcdo referenced been published?

[2021-04-09 01:08] schmurky commented on #4645
I had a redirections and TOC edit PR yesterday that did not push through because of GH issues. But now it's up and this issue and hopefully others of a similar nature is resolved.

[2021-04-09 01:08] #4645 closed

[2021-04-09 09:44] Esaggese opened #4657 "SPO DLP support for file extensions points to SPS list minus and plus some formats"
The SPO documentation should be self-contained wherever possible. Currently, on the topic of file formats supported by SPO DLP, the documentation says "DLP evaluates any content that can be indexed." and then points to the SharePoint *server* documentation, which in turns says "SPO is the same, plus these formats and minus these formats". Since SPO is Microsoft's primary platform, this is not how

[2021-04-09 14:34] yogkumgit commented on #3857
@msbemba Thank you very much for the contribution and updating the documentation with PR. @s4parke Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 14:34] #3857 closed

[2021-04-09 14:37] yogkumgit commented on #4504
@msbemba

[2021-04-09 14:41] rbreneman opened #4658 "Please add instructions for generating the QR code"
Please add instructions for existing users to generate the QR code. For example if I've had an active mailbox for 2 years but get a new phone, I'd like to know how to generate a QR code from Outlook (desktop) or OWA and use that code to setup Outlook on a brand new iOS device.

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-04-09 15:01] yogkumgit commented on #4218
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CarolWangMS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 15:01] #4218 closed

[2021-04-09 15:29] yogkumgit commented on #4578
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2021-04-09 15:31] yogkumgit commented on #4600
@mjcaparas Please help us in resolving this issue. Thanks

[2021-04-09 15:32] yogkumgit commented on #4606
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2021-04-09 15:36] yogkumgit commented on #4614
@brendonb Please help us in resolving this issue. Thanks.

[2021-04-09 15:44] yogkumgit commented on #4559
@TinaMcN and @samanro  Kindly suggest, who can help here to resolve this translation issue. Thanks

[2021-04-09 15:45] jgc4q opened #4660 "RSS feed or email subscription for page changes"
The "What's new in Microsoft Defender for Endpoint for Mac" page has useful information that is fast changing.  I would like an RSS feed or a way to subscribe to email alerts when the page changes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00948177-b26b-c26c-8ff3-7ad66f388623
* Version Independent ID: f370db23-e9e

[2021-04-09 15:47] yogkumgit commented on #4557
@maximvelichko When documentation is updated then please close this issue. Thanks

[2021-04-09 15:49] yogkumgit commented on #4520
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2021-04-09 15:50] yogkumgit commented on #4518
@denisebmsft Please help us in resolving this issue. Thanks

[2021-04-09 15:53] yogkumgit commented on #4505
@mjcaparas Please help us in resolving this issue. Thanks.

[2021-04-09 15:55] yogkumgit commented on #4489
@VelvetLounger Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 15:55] #4489 closed

[2021-04-09 15:58] yogkumgit commented on #4472
@chrfox Please help us in resolving this issue. Thanks

[2021-04-09 15:59] yogkumgit commented on #4466
@itguysocal Hope this comment is helpful for you. If you see any other  documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 15:59] #4466 closed

[2021-04-09 16:01] yogkumgit commented on #4457
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2021-04-09 16:02] yogkumgit commented on #4453
@KCCross Please help us in resolving this issue. Thanks

[2021-04-09 16:03] yogkumgit commented on #4433
@robmazz Please help us in resolving this issue. Thanks

[2021-04-09 16:06] yogkumgit commented on #4402
@twernermsft Please help us in resolving this issue. Thanks

[2021-04-09 16:07] yogkumgit commented on #4329
@SeanTGeoghegan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 16:07] #4329 closed

[2021-04-09 16:09] yogkumgit commented on #4316
@chrfox Gentle reminder, Please help us here. Thanks

[2021-04-09 16:11] yogkumgit commented on #4307
@drewjames1234  as the issue is not related with this article, We proceed here to close it.  If you see a documentation update is required, please feel free to open an issue for the same.  Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 16:12] #4307 closed

[2021-04-09 16:13] yogkumgit commented on #4288
@andybergen Gentle reminder, please help us here. Thanks

[2021-04-09 16:14] yogkumgit commented on #4259
@markjjo do we have any additional input on this issue. Please update. Thanks

[2021-04-09 16:16] yogkumgit commented on #4252
@rezwansarker We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some ti

[2021-04-09 16:16] #4252 closed

[2021-04-09 16:19] yogkumgit commented on #4243
@markjjo Please help us in resolving this issue. Thanks

[2021-04-09 16:21] yogkumgit commented on #4225
@markjjo Any update, can this issue be closed? Thanks

[2021-04-09 16:21] yogkumgit commented on #4211
@lomayor Gentle reminder, Need your help here, please.

[2021-04-09 16:23] yogkumgit commented on #4085
@seansquires Thank you very much for the contribution and sharing this explanation. @vigneshvdm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 16:23] #4085 closed

[2021-04-09 16:25] yogkumgit commented on #4033
@cmcatee-MSFT Please help us here. Thanks

[2021-04-09 16:28] TinaMcN commented on #4559
@kefujino thank you for reporting this, it appears to be a machine translation issue.  I sent the article to be human translated and it should be completed in approx. 3 business days.

[2021-04-09 16:28] yogkumgit commented on #3446
@virtualcomputerguy Thank you very much for your comment. If you see any other documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-09 16:28] #3446 closed

[2021-04-09 16:30] yogkumgit commented on #3388
@andybergen Please help us here. Thanks

[2021-04-09 16:32] yogkumgit commented on #3212
@chrisda Can this be resolved? Thanks

[2021-04-09 16:34] yogkumgit commented on #3066
@seansquires We need your help here. Thanks

[2021-04-09 16:35] yogkumgit commented on #2854
@AdwoodMicrosoft Gentle reminder, we need your help here. Thanks

[2021-04-09 16:36] jonwbstr commented on #3212
Hello,

Are those issues something I can follow?

I'm actively interested in the resolution of those issues. Closing a ticket
where the resolution is 'i opened separate issue that you can't track' puts
me in a slightly awkward position.

Thoughts?

On Fri, Apr 9, 2021, 12:32 PM Yogesh Kumar ***@***.***> wrote:

[2021-04-09 16:48] chrisda commented on #3212
No need to close

[2021-04-09 16:50] virtualcomputerguy commented on #3446
Still was never able to figure out why the lab would not work on my older
AMD systems. But when I built the new Intel system it worked fine. Seems
odd to me, but nobody really listened to the issue.

Thanks,
Matt Sample

On Fri, Apr 9, 2021, 10:29 AM Yogesh Kumar ***@***.***> wrote:

[2021-04-09 17:36] mjcaparas commented on #4600
Please contact support.

[2021-04-09 17:36] #4600 closed

[2021-04-09 18:07] andrePKI opened #4661 "Azure Security Center/Defender for Servers and Arc"
"Option 2: Onboard Windows servers through Azure Security Center" is not accurate if one is using Azure ARC.
Instead of "Microsoft Defender for Endpoint with Azure Security Center" one should follow the instructions in [Enabling the Microsoft Defender for Endpoint integration](https://docs.microsoft.com/en-us/azure/security-center/security-center-wdatp#enabling-the-microsoft-defender-for-endpoint-

[2021-04-09 19:22] DeanGross opened #4662 "Global Setting for Safe Links"
Please provide some additional discussion about why "tracks user clicks in supported Office 365 apps." is set to true for the Standard and Strict categories and what an organization is supposed to do with the generated data.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c77e1cb-1509-83cc-7c2a-564d5e3e91ea
* Version I

[2021-04-09 20:07] cmcatee-MSFT commented on #4033
@yogkumgit I've assigned this to @efrene to look into. He now owns most of sirkkuw's old topics.

[2021-04-09 20:44] mguja-fcc opened #4664 "It seems there is no support for Amazon Linux distro"
It seems there is no support for Amazon Linux distro. Are there any plans to support it ? Are there any workarounds for now ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab0b894-0199-7515-b060-a6724e2c9b9e
* Version Independent ID: 988ff83c-c4b5-d2f3-023e-2d8dd191b7ae
* Content: [Deploy Microsoft Defender for Endpo

[2021-04-09 21:38] jp-costa opened #4665 "ASR with defender in passive mode?"
Can ASR be used in audit mode, if Windows Defender is in passive mode?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ad81808-0605-037f-364e-9d061d593078
* Version Independent ID: 62044527-8d7e-3dea-d872-83638fe7b14c
* Content: [Attack surface reduction frequently asked questions (FAQ)](https://docs.microsoft.com/en-u

[2021-04-10 05:43] msbemba commented on #4504
@yogkumgit  The internal Merge from @pamcdo  is still pending. Once it merges the document will be updated.

[2021-04-10 17:07] s4parke commented on #3857
Thanks all, I really appreciate it!

[2021-04-10 18:42] bradw2k opened #4667 "confusing directions"
"Select the name of the user whose email you want to forward to open the properties page."

The placement of "to" in this sentence is very confusing! Should NOT select user "you want to forward to" ... instead should select the user whose email should be forwarded.

You might try:

"Select the name of the user whose email you want forwarded, then open the properties page.

---
#### Document Detail

[2021-04-10 21:50] DeanGross opened #4668 "Provide feature info"
Please provide some information about which Defender for Endpoint features are actually available for MacOS

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82e9b530-4f11-0483-ed65-42b23082f9f6
* Version Independent ID: 38263c08-7cab-7d52-552d-e724ede401aa
* Content: [Microsoft Defender for Endpoint for Mac](https://docs

[2021-04-12 06:08] gb5757870 opened #4669 "Insider risk settings > Analytics missing"
This settings is no longer available under settings:
Insider risk settings > Analytics

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5147f5e8-a267-ee55-de12-d80ab29804c2
* Version Independent ID: 945fc70f-1861-d2e9-4d46-f56eafb53766
* Content: [Insider risk management settings - Microsoft 365 Compliance](https://docs.

[2021-04-12 09:57] TheMasterPrawn opened #4670 "X-MS-Exchange-Organization-BypassFocusedInbox uses the term bypass"
[Enter feedback here]

I don't understand in this doc that X-MS-Exchange-Organization-BypassFocusedInbox = true If I want to "Use the UI to create a transport rule to direct email messages to the Focused view for all your users" . By definition the value should be false if I did not want the mail to Bypass the Focused Inbox. In this instruction, all mail matching this rule should end up in other.

[2021-04-12 10:56] yogkumgit commented on #4033
@efrene Please reply and resolve this issue. Thanks.

[2021-04-12 12:32] yogkumgit commented on #4296
@siunies Please help us in resolving this issue. Thanks

[2021-04-12 12:34] chbreakthrough opened #4671 "Incorrect Reg Key to enable via GPO"
The Reg Key is
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Policy Manager\EnableNetworkProtection
not
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Windows Defender\Windows Defender Exploit Guard\Network Protection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 673970ca-2f79-a288-978c-ceb4845c5062

[2021-04-12 12:46] yogkumgit commented on #4451
@msbemba Thank you very much for the contribution and sharing this explanation. @useyourblinker Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-12 12:46] #4451 closed

[2021-04-12 15:08] efrene commented on #4033
@npherson, Thanks for your patience. I have recently taken over this task as will be looking into your suggested changes this week.

[2021-04-12 16:07] WorkShay commented on #4177
Hi Yogesh,

@***@***.***> owns the comms for TLS. I no longer work on this project and my new PM counterpart is @***@***.***>.

Best,
Shayna

Pronouns: they/them<https://www.mypronouns.org/they-them#:~:text=A%20person%20who%20goes%20by%20%E2%80%9C%20they%20%E2%80%9D,theirs.%20I%20like%20both%20them%20and%20their%20ideas.%E2%80%9D> || she/her<https://www.mypronouns.org/she-her#:~:text=A%20person%20

[2021-04-12 16:15] franklesniak opened #4675 "Bad hyperlink in "Microsoft Defender Antivirus configuration requirement" section"
In the "Microsoft Defender Antivirus configuration requirement" section, there is a hyperlink "Manage Microsoft Defender Antivirus updates and apply baselines." that points to https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-antivirus/manage-updates-baselines-microsoft-defender-antivirus

Visiting this URL results in a 404 error. The hyperlink should be correc

[2021-04-12 16:29] Field5555 opened #4676 "Can you update this page for Defender for Linux?"
Page still claims Linux is "Unsupported". Can you add info for Defender for Linux here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1f5402-b627-d205-8e88-ca3fe609ef5f
* Version Independent ID: 0c91f8eb-368a-681a-209c-b03ff823945a
* Content: [Supported operating systems and platforms for threat and vulnerability ma

[2021-04-12 16:39] franklesniak opened #4678 "Make the "Other supported operating systems" section more specific, or add link to supplemental doc"
In the "Other supported operating systems" section, the page vaguely references that Android, iOS, macOS, and Linux are supported, but is not specific about the versions/distributions that are supported. This information should be added - or a link to a supplemental page that contains this information should be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-04-12 16:40] franklesniak commented on #4678
For example, this page lists the requirements for Linux: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-linux?view=o365-worldwide#system-requirements

[2021-04-12 16:46] denisebmsft commented on #4675
Hello @franklesniak and THANK YOU for letting us know about this. A fix is in and you'll see the updates live later this morning (at around 11 AM Pacific Time). In the meantime, here's the correct URL: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/manage-updates-baselines-microsoft-defender-antivirus?view=o365-worldwide

[2021-04-12 16:46] #4675 closed

[2021-04-12 17:17] mjcaparas commented on #4678
Thanks for the feedback. Will add links in.

[2021-04-12 17:17] #4678 closed

[2021-04-12 19:16] msbemba commented on #4643
@uzef1x Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4679

[2021-04-12 19:21] msbemba commented on #4644
@bledMS82 Thank you for your feedback. The link in the document for the device event does work. Could you please clarify which page has this broken link?

Thanks
Sri

[2021-04-12 19:29] markjjo commented on #4648
@KeithP-Microsoft Thanks for feedback. We have updated the FAQ and retained the bit about preserving 10-yr retention policies that were created before the add-on license was made available.

[2021-04-12 19:29] #4648 closed

[2021-04-12 19:31] markjjo commented on #4636
@rfoust Thanks for feedback. I've added note about lithold support in Office 365 EDU A1 subscriptions, and added link to the service description.

[2021-04-12 19:31] #4636 closed

[2021-04-12 20:28] bledMS82 commented on #4644
This looks to be corrected as it was the link shown here .
***@***.***D72FB0.74808BD0]

TJ Bledsoe
Cyber Security Technical Advisor | Azure Security
Customer Service & Support | Microsoft Corporation
* TJ.Bledsoe@Microsoft.com<mailto:TJ.Bledsoe@Microsoft.com>

From: Sriraman M S ***@***.***>
Sent: Monday, April 12, 2021 2:22 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: TJ Bledsoe ***@*

[2021-04-12 21:14] #4643 closed

[2021-04-13 12:24] yogkumgit commented on #4644
@msbemba Thank you very much for the contribution and sharing this explanation. @bledMS82 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-13 12:24] #4644 closed

[2021-04-13 13:30] msbemba commented on #4296
@tomek-wday I just got the confirmation that we haven’t documented it as a single limit for Groups because the limits apply differently based on the experience i.e. the limit is different when using a Group in Yammer or Teams or SharePoint or Outlook/Email.

For Teams -https://docs.microsoft.com/en-us/microsoftteams/limits-specifications-teams%C2%A0

@yogkumgit  I have checked with the author and

[2021-04-13 13:37] msbemba commented on #4658
@rbreneman Thank you for your feedback. This feature is not on public preview yet, If your organization has turned on Targeted release, users will see notifications informing them that they can use outlook on mobile( This shows up even if they have another device configured). Like mentioned in the document " If users choose to send themselves an SMS text message to download the app on their mobile

[2021-04-13 13:39] msbemba commented on #4639
@kyouells Thank you for your feedback. The steps to open ticket for premier/unified/advanced/Concierge support all remains the same. Clicking on the need help? the section lets customers/admins open a support ticket with Microsoft and the ticket gets routed to the correct Microsoft team depending on the support contract.

Hope this helps!

Thanks
Sri

[2021-04-13 13:42] kyouells commented on #4639
I get the steps to create the case is the same, but the tenant must be matched with Premier in order to even get into Premier.  That is what is not clear, so can we note that if you are a Premier/Unified Support Customer you must see the "Premier" or "Unified Support" badge at the top.  If you do not, reach out to your Customer Success Account Manager.

Kelly Youells | Sr. Customer Success Account

[2021-04-13 13:51] msbemba commented on #4625
@d3sysint Thank you for your feedback. We have another document that talks about access Microsoft 365 Defender APIs -https://docs.microsoft.com/en-us/microsoft-365/security/defender/api-access?view=o365-worldwide and https://docs.microsoft.com/en-us/microsoft-365/security/defender/api-overview?view=o365-worldwide

You have multiple options to use the APIs, Like APplication context, User context, a

[2021-04-13 14:02] msbemba commented on #4653
@cygnetix Thank you for your feedback.
The values to enable (Block), disable, warn, or enable in audit mode are added in the document. You are correct the parameter is not warn mode, Just warn.

0 : Disable (Disable the ASR rule)
1 : Block (Enable the ASR rule)
2 : Audit (Evaluate how the ASR rule would impact your organization if enabled)
6 : Warn (Enable the ASR rule but allow the end-user to by

[2021-04-13 15:43] kortamon opened #4685 "Compatibility Checker using EXO PS legacy authentication module"
Hello, I was wondering if the tool published in this article will be updated to use the new EXO PS module.
I can see the warning related to MFA not supported but, IMO, the limitations are beyond this.
As there are many ways to block Basic Auth to EXO right now, I believe the information in the article is incomplete

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-04-13 16:01] JoeDavies-MSFT commented on #4520
@MikePlumleyMSFT Mike, Can you help here? Thanks

[2021-04-13 16:02] MikePlumleyMSFT commented on #4520
@AdwoodMicrosoft can you help?

[2021-04-13 18:18] TinaMcN commented on #4559
@kefujino the article is now human translated.  Can you please check if the translation is ok now and close if it is.  Thanks again for reporting it.

[2021-04-13 19:55] denisebmsft commented on #4518
@yogkumgit we have a work item in the queue for this. Allow a couple of weeks for the assigned writer to review, draft content, and get it reviewed. Thank you so much for your help!

[2021-04-13 21:52] msbemba commented on #4657
@Esaggese Thank you for your feedback. Could you please point us to the document which you think needs to be updated?

Thanks
Sri

[2021-04-14 09:07] yogkumgit commented on #4296
@msbemba Thank you very much for the contribution and sharing this explanation. @tomek-wday Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-14 09:07] #4296 closed

[2021-04-14 09:11] yogkumgit commented on #4658
@msbemba Thank you very much for the contribution and sharing this explanation. @rbreneman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-14 09:11] #4658 closed

[2021-04-14 09:14] yogkumgit commented on #4639
@msbemba

[2021-04-14 09:15] yogkumgit commented on #4625
@msbemba Thank you very much for the contribution and sharing this explanation. @d3sysint Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-04-14 09:15] #4625 closed

[2021-04-14 09:17] yogkumgit commented on #4653
@msbemba Thank you very much for the contribution and sharing this explanation. @cygnetix Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.