[2021-05-18 21:03] vikassou opened #5041 "Need confirmation of deduplication"
Document states that "if you choose the de-duplication option is that all Exchange items are exported in a single PST file and the folder structure from the source mailboxes isn't preserved. " But actually testing deduplication shows that the folder structure is preserved while exporting to PST.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-05-18 21:25] AESAdmin-JD opened #5042 "Mailbox getting this error and it has an E3 license"
I realize the error says it has no license but in the portal it is shown with an E3 office license

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00421a8e-42cf-c393-f91d-da1b7d7cc7da
* Version Independent ID: de00b816-762d-2171-eb7f-1ce6a55ec189
* Content: [Getting a mailbox not found error in Outlook on the web - Micr

[2021-05-18 22:57] msbemba commented on #5016
@mariuszo-at-microsoft-com Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5043

Thanks
Sri

[2021-05-18 23:02] msbemba commented on #5017
@M1KK3Lz Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5044. Please note that the video link is removed as it is unavailable/private at the moment.

Thanks
Sri

[2021-05-18 23:10] msbemba commented on #4999
@mariuszo-at-microsoft-com Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5045

Thanks
Sri

[2021-05-18 23:17] msbemba commented on #5018
@core2lord Thank you for your feedback. Both are different as it talks about "onmicrosoft.com"  and "onmicrosoft.de" domain. The .de tenants are created for users in Germany.

Hope this helps!

@yogkumgit There are no changes required in this document and the issue can be closed.

Thanks
Sri

[2021-05-18 23:32] msbemba commented on #5014
@DanWeinstock909 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5046

Thanks
Sri

[2021-05-18 23:37] msbemba commented on #5008
@ab-aayers Thank you for your feedback.  I shall test this and update the document if need be.

Document :- https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction?view=o365-worldwide#block-office-communication-application-from-creating-child-processes

Thanks
Sri

[2021-05-19 06:13] user0604 opened #5048 "Outdated info"
[Enter feedback here]
The information on this page is outdated and therefore giving incorrect instructions
1. In Exchange admin center there is no longer "Recipients > Groups", instead you can directly access "Groups"
2. In "Group > Edit" there is no longer "Group delegation"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-05-19 07:12] robbonnema commented on #5029
Now I see what's happening. The *-Type Spam* is resulting nothing because
the reason of Quarantine is High Confidence Phish, so I had to use *-Type
HighConfPhish*
Lesson learned for next time. Released the messages yesterday. Thanks.

Op di 18 mei 2021 om 18:42 schreef Chris Davis ***@***.***>:

[2021-05-19 07:34] yogkumgit commented on #5027
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sravenscroft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-19 07:34] #5027 closed

[2021-05-19 07:43] yogkumgit commented on #5029
@robbonnema Thanks. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-19 07:43] #5029 closed

[2021-05-19 07:56] yogkumgit commented on #5018
@msbemba Thank you very much for the contribution and sharing this explanation. @core2lord Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-19 07:56] #5018 closed

[2021-05-19 15:37] mark-wilson opened #5049 "These illustrations have nothing to do with Enterprise Architecture"
Please remove references to Enterprise Architect on this page. The information is great for Architects, but nothing to do with Enterprise Architecture.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91837ba8-f6f2-3c52-2d89-c8f4c4bce09c
* Version Independent ID: eb3c1fd8-9143-0dc1-77e7-e664ccaefc33
* Content: [Microsoft

[2021-05-19 15:39] nikki-c opened #5050 "Update page as the site sharing options can now be configures with sensitivity labels"
In the Site guest sharing settings section it mentions than an additional step needs to be undertaken after creating the team to change the default SharePoint site sharing permissions to restrict access.

The configuration for the sensitivity labels for groups now allows you to also set the SharePoint site sharing permissions. This means if you create a new team and you select a sensitivity label

[2021-05-19 15:45] MikePlumleyMSFT commented on #5050
Thanks, @nikki-c. I actually just updated that section this morning and it should be live later today. I removed the additional step of setting the sharing setting in SharePoint, and just left it as updating the default sharing link type.

[2021-05-19 16:15] chrisda commented on #5029
@robbonnema, thanks for checking. Be advised that the false positive rate for high confidence phishing should be quite low (if not virtually zero), so use extreme caution when releasing those messages.

[2021-05-19 16:42] givilleneuve opened #5051 "Exclusion List - Preference"
[Enter feedback here]

Hi,

Excellent documentation, just the extension exclusion in the sample file requires the "." extensions instead of just the extension.
Example - If managed json is set to "pdf" (as shown in the sample), it will not exclude PDFs. The proper way would be ".pdf".

Thank you,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2021-05-19 17:09] bledMS82 opened #5052 "requirements and function of web content filtering"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/web-content-filtering?view=o365-worldwide#prerequisites - Section needs updated to reflect that WCF requires network protection enabled with Defender RTP enabled as Primary AV to work on 3rd party browsers. Will work with Defender in passive mode on browsers supported by smartscreen.

include link to Network Protection requi

[2021-05-19 17:19] gourken opened #5053 "Following instructions for forwarding does not address error"
When I am setting up my users (in this case myself) to automatically forward their e-mail to an external address, I get the following error message:

![image](https://user-images.githubusercontent.com/84468348/118856089-8e828d80-b8a4-11eb-8363-f52ecc8e2010.png)

The message indicates that my organization does not allow external forwarding (which it does, but I may have implemented it incorrectly).

[2021-05-19 17:31] MSCM-GitHub opened #5054 "'Submit Message' option not in Exchange Admin Centre"
In 'Office 365 Security & Compliance', on performing a 'Message Trace', there is an option to Submit an email that was not filtered to be evaluated. However, in Exchange Admin Centre (where the 'Message Trace' feature is to be moved to) that option is not given. Will it be added before the removal of the feature from O365S&C?

[2021-05-19 17:54] oliver27b opened #5055 "please develop way to disable WPAD entirely"
[Enter feedback here]
WPAD is huge huge security risk.  Win10 now no longer allows you to disable the service.

we DO NOT want to _access the internet through someone else's proxy_  we do not know their intentions

actually we do know their intentions.  they want to hack every computer in the friggen world

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2021-05-19 18:03] floeff commented on #592
Same here.

SNDS shows all IP are clean, http://sender.office.com shows the same, all other blacklists don't yield any results for that particular IP either. DKIM and SPF are configured properly, so are A and PTR records.

The error message is: "550 5.7.511 Access denied, banned sender[xxx]. To request removal from this list please forward this message to delist@messaging.microsoft.com. For more i

[2021-05-19 19:57] cabailey commented on #4943
@mymebenha  Thanks for the clarification - important because there is a difference in whether you're changing the group specified in the label, or keeping the same group but changing the group membership.  The changes shouldn't take that long, so you might want to open a support ticket for investigation.  The way this works is that when you configure a sensitivity label for encryption, it creates

[2021-05-19 21:40] geeksonline commented on #592
Keep chasing them up, that's all you can do. Unless your sending emails through Microsoft Outlook, you will almost definitely be blacklisted for relaying - even with everything set up 100% correctly (like it sounds you have done).

From: Florian Effenberger ***@***.***>
Sent: Thursday, 20 May 2021 4:04 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: John Greenfield ***@***.***>; Comment *

[2021-05-19 21:40] jonnunez opened #5057 "Confusion with the 10-year add-on license requirement for logs longer than 1 year."
I am confused with the following statement from the documentation:

"To retain an audit log for longer than 90 days (and up to 1 year), the user who generates the audit log (by performing an audited activity) must be assigned an Office 365 E5 or Microsoft 365 E5 license or have a Microsoft 365 E5 Compliance or E5 eDiscovery and Audit add-on license. **To retain audit logs for 10 years, the user wh

[2021-05-19 22:15] Varstahl commented on #592
That's absolutely normal. In my case they replied with maximum times of up to 2 weeks, but I think it went past that. But, truth be told, they did follow it up and resolve it, so just give them time to address it. It's weird times for everyone, after all.

[2021-05-19 23:25] denisebmsft commented on #5054
Hello @MSCM-GitHub and thank you for posting your question here. Can you please tell us to which article(s) this applies? This information will help us route the issue to the correct writer/team.

[2021-05-20 05:53] core2lord commented on #5018
Oh my gosh...I'm so embarrassed to have wasted your time on this
matter and sincerely apologize for my mistake. This was my first
submission in this regard and that was likely a lot to do with the
confidence I felt for being such an easy fix(so I had hoped for
anyhow) - I could have sworn that I looked over those two questions 10
different times, but I guess i'll take it for what it is and learn
f

[2021-05-20 07:13] harshdamaniahd opened #5060 "The settings mentioned for industry news doesn't match"
[The News Settings doesn't have a general tab, to get company based news feed.]

![image](https://user-images.githubusercontent.com/11780473/118935271-a4975900-b94b-11eb-9a42-1056c0bbf735.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92701183-1413-9e14-3109-53c2debe7d8b
* Version Independent ID: c1b54dbd-ac96-458

[2021-05-20 11:14] yogkumgit commented on #5050
@nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-20 11:15] #5050 closed

[2021-05-20 11:28] yogkumgit commented on #4757
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CraigJahnke Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-20 11:33] yogkumgit commented on #5017
@msbemba Thank you very much for the contribution and updating the documentation with PR. @M1KK3Lz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-20 11:33] #5017 closed

[2021-05-20 14:46] TurnerMarshall opened #5061 "Other products"
[Enter feedback here]
Is there anyway we can get the rest of the the M/O 365 applications added in here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d45a2f60-4f5f-2ee3-5a2a-aeccf6c8b767
* Version Independent ID: 2335370f-07a5-0ef1-1c9d-54c1c36e449b
* Content: [Office 365 US Government DOD endpoints - Microsoft 365 E

[2021-05-20 15:26] msbemba commented on #5030
@FrogThomas Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5062
Once this is approved by the author you will see the changes reflect on the document.

Thanks
Sri

[2021-05-20 15:28] TracyGH opened #5063 "API Endpoints for Viva Topics?"
Any ETA on API endpoints for Viva Topics?  I see lots of items on the [roadmap](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Microsoft%20Viva), but nothing API related.  To really make an impact with these technologies for my clients, I need the ability to programmatically create, edit, and delete them.

[2021-05-20 15:38] msbemba commented on #5028
@Anoni-Mouse Thank you for your feedback.I agree with you that this could be separated. I have created a user voice /design change request - https://microsoftintune.uservoice.com/forums/291681-ideas/suggestions/43467372-separate-wmi-and-psexec-commands-from-the-block-pr

This design change request usually takes a few weeks for review and execution.  You can upvote this request to receive an update

[2021-05-20 15:42] denisebmsft commented on #5063
Hello @TracyGH! Can you please tell us to which article(s) this applies? This information will help us route the issue to the correct writer/team.

[2021-05-20 15:45] TracyGH commented on #5063
@denisebmsft - I edited to include the article info above, let me know if that helps!

[2021-05-20 15:59] chuckedmonson commented on #5063
@cjtancortex - Are you able to answer Tracy's question about API endpoints please? Thank you.

[2021-05-20 18:24] msbemba commented on #5021
@scottmurdock Thank you for your feedback. You are correct! If you have CDN enabled, it must have the */clientsideassets as an origin. Sharepoint Framework solutions work without CDN.

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-05-20 20:43] waydaws opened #5069 "TABL comment"
Besides the tilde not working as advertised, I'm wondering why ports are allowed in urls. We've had several malware events where the urls used something other than 443/tcp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658

[2021-05-20 21:02] csruane opened #5070 "Clarify roles required to run the online readiness assessment tool"
Suggest to change the text
"Anyone with at least the Global Reader or Intune Administrator role will be able to run this tool, but two of the checks (Conditional access policies and Multifactor authentication require additional permissions."

to:

"The Intune Administrator role is required to run this tool, with Global Reader required for two of the checks (Conditional access policies and Multifac

[2021-05-20 21:40] scottmurdock commented on #5021
Thanks Sri!

[2021-05-20 21:43] chrisda commented on #5069
@waydaws, for the ~ not working, you should open a support case.

[2021-05-20 22:07] jpcast88 opened #5073 "Splunk Supported?"
Per this article
https://techcommunity.microsoft.com/t5/microsoft-defender-for-endpoint/microsoft-defender-atp-third-party-solution-integrations/ba-p/532042

Splunk is listed as an available 3rd Party SIEM integration tool, However it's not listed in this doc. Does this doc need to be updated to reflect this capability?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-05-21 07:01] MSCM-GitHub commented on #5054
Hi. This is not a reference to a document. It is regarding the '365 admin center'. If I need to post the suggestion to another system, please advise which one.

[2021-05-21 07:19] ahmetarslan2020 opened #5074 "Factory Reset on Microsoft 365 Admin Center"
[Enter feedback here]

Hello,

We want to learn more about the Factory Reset Feature available on Microsoft 365 Admin Center.
If we hit the Factory Reset button for a Windows 10 Pro device, what exactly happens on the background? What happens to the Bitlocker hard drive encryption after factory reset?
Is Factory Reset same process as Intune Wipe? Or Intune Fresh Start?
Does it fully clean the hard

[2021-05-21 07:37] Nyffe-Noob opened #5075 "IP4 addresses for "Allow" and "Optimize" categories"
[Enter feedback here]
Hi. Will you still provide all the required IP addresses for the "allow" and "optimize" category in the future? Our firewall can't process URLs and we've noticed that you removed the required ip adresses from a "allow" category some days ago (ID:65 / URL www.office.com). It seems that the problem is fixed now, (www.office.com was moved to a "default" category) but we are unsu

[2021-05-21 08:42] qaehtesh opened #5076 "Feedback | Start scoring user section - csv import, in case of regional language such as Japanese needs correction"
[Enter feedback here]

For the start scoring user section - csv import, in case of regional language such as Japanese,
the csv file paramter [user principal name] also needs to be in regional language such as 「ユーザー プリンシパル名」 otherwise this throws error.
Could you help updating public documentation to reflect this accordingly as non-english customer may get confused.

---
#### Document Details

⚠ *D

[2021-05-21 08:51] MSCM-GitHub commented on #5054
I have submitted the same comment via the Feedback feature on the '365 admin center'.

[2021-05-21 09:22] lyndon678 opened #5078 "End user usability impact"
This is often a huge topic and high threshold when Active Directories with .local namespaces as primary
It would be really helpful to learn about the consequences and possible impacts to end user experience with sign-in scenarios on-prem when changes are done to user accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-05-21 10:41] yogkumgit commented on #5030
@msbemba Thank you very much for the contribution and updating the documentation with PR. @FrogThomas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-21 10:41] #5030 closed

[2021-05-21 10:45] yogkumgit commented on #5028
@msbemba Thank you very much for the contribution and sharing this explanation. @Anoni-Mouse Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-21 10:45] #5028 closed

[2021-05-21 10:48] yogkumgit commented on #5008
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ab-aayers Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-21 10:49] #5008 closed

[2021-05-21 10:51] yogkumgit commented on #5025
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jdravet Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-21 10:51] #5025 closed

[2021-05-21 10:55] yogkumgit commented on #5021
@msbemba Thank you very much for the contribution and sharing this explanation. @scottmurdock Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-21 10:55] #5021 closed

[2021-05-21 11:47] JeroenDronkers opened #5079 "OneDrive sync clients will not download files that contain viruses"
[The statement in this article : "OneDrive sync clients will not download files that contain viruses. The sync client will display a notification that the file can't be synced" is wrong.
The behaviour is: When a malicious file is uploaded to Onedrive it will be synced to the local machine already before it is even marked as malware in the service. After it is marked as malware in O365, the end use

[2021-05-21 12:56] JeroenDronkers opened #5080 "Sharing malware in SPO"
[The following statement in this article is incorrect: "By default, users can't open, move, copy, or share malicious files that are detected by ATP. However, they can delete and download malicious files."
--> Users can still share malware by going to the "manage access" option where the Share option is still available. This really looks like a bug]

---
#### Document Details

⚠ *Do not edit this s

[2021-05-21 13:52] aandrew129 opened #5081 "Broken Link"
The second section of the document contains a broken link for "System requirements for Microsoft 365."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0ecc06-296e-5d4b-437f-6fb2b334783f
* Version Independent ID: 50e394a4-0da6-cc94-74bd-6e06493c7ce6
* Content: [Microsoft 365 Client App Support: Single Sign-On - Microso

[2021-05-21 13:57] aandrew129 opened #5082 "Enhancement request - guide access for non-commercial users"
I'm super jealous of these configuration guides on this page. It would be amazing if they were made available to people in tenants other than commercial, such as GCCH and DoD, for instance.

[2021-05-21 14:47] hempux opened #5083 "Escape characters before angle-brackets"
[Enter feedback here]

Powershell-examples with the angle-brackets (< > ) . (such as the [Upgrade multiple DLs in a batch](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/upgrade-distribution-lists?view=o365-worldwide#upgrade-multiple-dls-in-a-batch) example) seems to have unintentional escape-characters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-05-21 15:39] pjsfonseca69 opened #5085 "When are you going to update the releasing-a-policy-for-retention section to reflect MC244318?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c49609d-3a62-b9be-24bf-f8fa6948d390
* Version Independent ID: df547c86-fbc7-4f87-e893-49d07b045373
* Content: [Learn about retention policies & labels to automatically retain or delete content - Microsoft 365 Compliance](https://docs.microsoft.com/en

[2021-05-21 15:56] prejedj opened #5086 "Update the resources a user can't create when limited"
The list of resources a user can't create when restricted by the group creation is very short. According to this article that I've confirmed there are at least 3-4 other resources they can't create. https://sharepointmaven.com/20-ways-to-create-an-office-365-group/

Specifically where it says a user can't create SharePoint sites, Teams, or Planners needs to have the following added:
1. Outlook gro

[2021-05-21 15:57] stelladew opened #5087 "Article does not really tell how you can give another standard user, or staff member access to a former employees OneDrive data."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ca63bae-95f1-3248-ed6e-1bfbe0d7e9ff
* Version Independent ID: a56fc5c1-7ffd-0829-b5a4-9297ce2873ac
* Content: [Step 4 - Give another employee access to OneDrive and Outlook data - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/ad

[2021-05-21 17:54] cabailey commented on #5085
Investigating the status of this nice update & when confirmed, will update the docs.

[2021-05-21 20:01] nikki-c opened #5088 "Guests terminology has multiple meetings"
The guest terminology has multiple meaning and is unclear

Guests is most often used when you add a guest to Teams.. in this scenario they get a B2b account. However this article about inviting a guest to a meeting without adding them to a team. In this scenario a guest does not mean a guest with a B2B account. It means an external user.

Is it possible to have consistent terminology
[Enter feedba

[2021-05-22 20:17] silbermano opened #5092 "DLP Endpoint Protection"
All devices must be Azure Active Directory (Azure AD) joined, AD joined, Hybrid Azure AD joined, or **AAD registered**.

AAD registered devices are not support according to "https://docs.microsoft.com/en-us/learn/modules/m365-compliance-information-prevent-data-loss/knowledge-check" in question 4

Please verify and correct

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2021-05-24 10:10] yogkumgit commented on #5082
@aandrew129 Please indicate which document you are referring to and proposing improvements. Thanks

[2021-05-24 10:17] afscrome opened #5099 "Inconsistent filenames"
The file in the github repo is `MDAV.wprp`, but the docs recommend you download it and save it locally as `WD.wprp`.  It would be clearer if the same filename was used consistently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a08b6ae-6445-ab2b-d380-627df46cf3d5
* Version Independent ID: c855d3af-002e-aff2-b2d6-8c6e

[2021-05-24 10:35] schmurky commented on #5099
Thank you very much for this feedback. You are correct. I have updated the doc to change all instances of WD.wprp to MDAV.wprp.

[2021-05-24 14:26] jpringle03 opened #5100 "Link to Microsoft Online Services Sign-in Assistant for IT Professionals RTW is broken"
https://docs.microsoft.com/en-us/microsoft-365/enterprise/connect-to-microsoft-365-powershell?view=o365-worldwide#step-1-install-the-required-software-1

Under step 1 there is a link to "Microsoft Online Services Sign-in Assistant for IT Professionals RTW" which goes to https://www.microsoft.com/Download/details.aspx?id=28177. This download has apparently been removed?

---
#### Document Details

[2021-05-24 16:29] hhainesms opened #5101 "Data usage"
What about device cellular data usage when this app is deployed on iOS devices?  From looking at data usage indicators on the iOS device, it appears to double the cellular data usage on the device when Defender is deployed to run VPN on the device.   This has negative impact to anyone with cellular data caps or who would be subjected to throttling when data usage exceed a certain amount per period

[2021-05-24 17:45] cabailey commented on #5085
@pjsfonseca69  Confirmed - this behavior change is now complete for all tenants & the docs are updated to match.  Thanks for your question!

[2021-05-24 17:45] #5085 closed

[2021-05-24 18:13] markjjo commented on #5057
@jonnuenez Sorry for the confusion. In your scenario, it would be per user licensing. So, to retain audit logs for activities that *you* perform, then you would need to be assigned an E5 license + an 10-year add-on (or an E3 + E5 Compliance + 10-year add on). The key point is that to retain audit records for up to 10 years, users have to be assigned the 10 year add on in addition to their E5 licen

[2021-05-24 18:13] #5057 closed

[2021-05-24 18:37] jonnunez commented on #5057
So to understand what I read from your post:

To retain activities for the entire organization, the option would be to assign the 10-year retention add-on to all the users in said organization. This 10 year feature works the moment you turn it on and it is not retroactive meaning that any files deleted after 90 days will remain as such. This feature will retain files deleted **after** activating t

[2021-05-24 19:05] markjjo commented on #5057
@jonnunez You're not really generating a 10 yr audit log. The system will retain audit records for 10 years after the audit record is generated/triggered by some user activity.

What happens if a user who was in scope for a 10 yr audit retention policy didn't have the correct license? I'm not sure if the system checks licensing when you create an audit retention policy (and returns an error or not

[2021-05-24 19:19] jonnunez commented on #5057
Don't worry I didn't encounter any odd behavior, just trying to understand how the system would work in such scenario. Do let me know what engineering says about that.

As to the documentation update, I think modifying that last sentence in bold would help. Adding details that for any user who you want to retain for 10 years and generate a report on their activities, they too need to have this add

[2021-05-24 19:41] markjjo commented on #5057
@jonnunez Thanks for doc suggestion. I will look at updating. Also, to be clear, in addition to the 10 yr add on, the user would also need to be assigned an E5 license or and E3 + upgrade license. In other words, user would have to be assigned licensing that supports Advanced Audit. Those licensing options are listed here: https://docs.microsoft.com/en-us/microsoft-365/compliance/auditing-solution

[2021-05-24 21:51] christinamorillo opened #5104 "Anti-Malware URL in this article points to old experience (Ex Admin), and not the new SCC experience. Please update the URL in this article."
The _https://protection.office.com/antimalware_ URL in this article is now outdated and does not redirect to the updated experience. The correct URL (as of Dec 2020, and as per the M365 portal*) is **https://protection.office.com/antimalwarev2**

Screen capture attached for current URL redirect message when one goes to the currently listed URL.
![GH-Issue-Docs-URL](https://user-images.githubuserco

[2021-05-24 22:11] chrisda commented on #5104
@christinamorillo, funny you should ask.

The Microsoft 365 security center became globally available (not just in Preview) only a few weeks ago. We've just started our effort to convert any/all procedures/click paths/UI references under <https://docs.microsoft.com/microsoft-365/security/office-365-security/> from Security & Compliance Center to Microsoft 365 security center. That will be a rollin

[2021-05-24 22:11] #5104 closed

[2021-05-25 06:14] pstutzinger opened #5106 "Enable HMA with newer Versions "domain name" question"
Hi.
the article states that with newer exchange hybrids we should use:
Set-AuthServer -Identity "EvoSTS - {GUID}" -Domain "Tenant Domain" -IsDefaultAuthorizationEndpoint $true

i know that this is because of the GUID change in newer HCW setups. But what is with this "Domain" Parameter? First there is only the Parameter "DomainName", second, currently in our setup this Value is Emty, and HMA is wor

[2021-05-25 10:46] msbemba commented on #5070
@csruane Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5109

Thanks
Sri

[2021-05-25 10:52] msbemba commented on #5061
@TurnerMarshall  Thank you for your feedback. The endpoints are grouped into four service areas. The first three service areas can be independently selected for connectivity. The fourth service area is a common dependency (called Microsoft 365 Common and Office) and must always have network connectivity. When checked with the author previously, it was determined that it would not be appropriate to

[2021-05-25 10:52] yogkumgit commented on #4988
@LauraWi Please help us in resolving this issue. Thanks

[2021-05-25 10:56] msbemba commented on #5060
@harshdamaniahd Thank you for your feedback. We have tested and found the options remain intact. If you are still not able to view the General tab under News, Please contact the Microsoft support team via the need help section on the admin center.

![image](https://user-images.githubusercontent.com/45987684/119486344-c773a400-bd75-11eb-995f-a2bb86e1916b.png

Hope this helps!

@yogkumgit There are

[2021-05-25 10:57] yogkumgit commented on #5013
@KCCross Please help us in resolving this issue. Thanks

[2021-05-25 10:59] yogkumgit commented on #5036
@LauraWi Please help us in resolving this issue. Thanks

[2021-05-25 11:07] msbemba commented on #5053
@gourken Thank you for your feedback.

When users configure automatic forwarding to recipients on a remote domain, the remote domain settings override users' automatic forwarding settings (messages are blocked if automatic forwards are disabled for the remote domain).

For more information on configuring remote domains -https://docs.microsoft.com/en-us/exchange/mail-flow-best-practices/remote-doma

[2021-05-25 11:08] terryhugill opened #5111 "Unclear licensing descriptions"
It is unclear if settings global policies would apply to all or only licensed users. In the case of a customer, they have two different licensing strategies. One for frontline workers with M365 F3 licenses and one for office workers with M365 E3 and E5 Security add-ons. What is not clear is if a global settings is configured would the F3 users be in breach of licensing or simply ignored?

---
####

[2021-05-25 11:22] msbemba commented on #5052
@bledMS82 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5112
Thanks
Sri

[2021-05-25 11:35] msbemba commented on #5048
@user0604 Thank you for your feedback. I'm able to access group delegation in the classic admin center. The link in the document points to the classic exchange admin center (https://outlook.office365.com/ecp/)

![image](https://user-images.githubusercontent.com/45987684/119490383-66020400-bd7a-11eb-8be5-c16561b9b19b.png)

Hope this helps!

Thanks
Sri

[2021-05-25 11:41] msbemba commented on #5040
@hughburns-ccl Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5113

Thanks
Sri

[2021-05-25 11:43] msbemba commented on #5038
@shung818 Thank you for your feedback. I was able to download PDF from all the downloadable links in the document. Could you please check and provide the link that is returning a 404 error?

Thanks
Sri

[2021-05-25 12:35] cwidhelm opened #5114 "21Vianet?"
What is up with the reference to 21Vianet on this page in the menu?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1feb89e6-c5e0-693e-425e-8fd8b0198001
* Version Independent ID: 7b683879-67a9-299a-73e9-6e3654846fdf
* Content: [Set up file storage and sharing - Microsoft 365 admin](https://docs.microsoft.com/en-us/micro

[2021-05-25 14:03] phlr2020 opened #5115 "Lab Kit 20H2 guides v2"
Deveriam publicar também em português de Portugal.
[Escreva aqui os seus comentários]

---
#### Detalhes do Documento

⚠ *Não edite esta secção. É necessário para a ligação de problemas docs.microsoft.com ➟ GitHub.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office deployment lab kit - Microsoft 365 Enterprise]

[2021-05-25 16:03] chrisda commented on #5111
@terryhugill, the protection would only apply to licensed E5 Security users. From the topic:

[2021-05-25 17:05] LauraWi commented on #5036
I have followed up with engineering to understand if this addition would be appropriate/in scope.

[2021-05-25 19:01] markjjo commented on #5041
@vikassou Thanks for the heads up. Your testing is correct; the folder structure is preserved. I have also tested and confirmed. The documentation was out of date and was describing old behavior from In-Place eDiscovery searches in Exchange Online. I have updated the documentation. This doc change will be live by end of day. Thanks again for the raising this issue.

[2021-05-25 19:01] #5041 closed

[2021-05-25 19:14] limp15000 opened #5119 "Difference between documentation and guidance in compliance portal."
Hi
Documentation states : Priority: This value determines the order in which audit log retention policies in your organization are processed. A higher value indicates a higher priority. For example, a policy with a priority value of 5 would take priority over a policy with a priority value of 0. As previously explained, any custom audit log retention policy takes priority over the default policy f

[2021-05-25 22:31] msbemba commented on #5031
@DeanGross By default, Global admin,Compliance admin  and security admin have access to create and modify a DLP policy. I have added that to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/5031. Once the author approves, the changes will be available in the document.

Thanks
Sri

[2021-05-25 22:34] msbemba commented on #5042
@AESAdmin-JD Thank you for your feedback. The error that you receive could be due to an issue in the backend while provisioning a mailbox. If this is a new mailbox and the issue persists over 24 hours, it is recommended to contact the support team via the need help option on the admin center.

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-05-25 22:39] msbemba commented on #5054
@MSCM-GitHub Thank you for your feedback. In the new Exchange admin center(https://admin.exchange.microsoft.com/), when you perform a message trace, you should see an option to report the message, which handles the submissions to Microsoft.

![image](https://user-images.githubusercontent.com/45987684/119577289-f9b5ed80-bdd7-11eb-949d-3473b9f49b8f.png)

This option Is not available in the Classic E

[2021-05-25 22:42] markjjo commented on #5016
@mariuszo-at-microsoft-com Updated topic will be published by end of today. Thanks again for the heads up.

[2021-05-25 22:42] #5016 closed

[2021-05-25 22:55] msbemba commented on #5055
@oliver27b Thank you for your feedback. We understand the security risks with WPAD, however, Microsoft ensures that regular security patches are made available to the said service.

If you wish to leave feedback on the design, we recommend you provide it in the feedback section in the M365 admin center. We handle the document and do not have access to make design-level changes.

Hope this helps!

[2021-05-25 23:02] msbemba commented on #5049
@mark-wilson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5122.

Once the author approves, the change will be live.

Thanks
Sri

[2021-05-25 23:31] msbemba commented on #5037
@shAFXr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5124

Thanks
Sri

[2021-05-26 02:13] na632 opened #5125 "fixit"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d95a0fa6-453a-a8b5-f2a7-7024ea9778c5
* Version Independent ID: 38afe7ff-42d5-5f4f-df64-c16633919733
* Content: [Customize exploit protection](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/customize-exploit-protection?view=o

[2021-05-26 04:43] yogkumgit commented on #5061
@msbemba Thank you very much for the contribution and sharing this explanation. @TurnerMarshall Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 04:43] #5061 closed

[2021-05-26 04:47] yogkumgit commented on #5060
@msbemba Thank you very much for the contribution and sharing this explanation. @harshdamaniahd Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 04:47] #5060 closed

[2021-05-26 04:55] yogkumgit commented on #5048
@msbemba Thank you very much for the contribution and sharing this explanation. @user0604 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 04:55] #5048 closed

[2021-05-26 05:16] yogkumgit commented on #5042
@msbemba Thank you very much for the contribution and sharing this explanation. @AESAdmin-JD Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 05:16] #5042 closed

[2021-05-26 05:19] yogkumgit commented on #5055
@msbemba Thank you very much for the contribution and sharing this explanation. @oliver27b Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-26 05:19] #5055 closed

[2021-05-26 08:56] terryhugill commented on #5111
Thank you for clearing that up. The wording left a slight doubt over
whether these global settings could be applied without breaching licensing
agreements. That's great.

On Tue, 25 May 2021 at 17:04, Chris Davis ***@***.***> wrote:

--
Best regards,
Terry Hugill

[2021-05-26 11:43] mattbalzan opened #5127 "Grammatical error"
The Note shows a grammatical error:

You'll need to confirm the Linux distributions and versions of Android, iOS and macOS **you've are** compatible with Defender for Endpoint for the integration to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4b36b3a-e292-e035-ab94-895c56b46c76
* Version Independent ID: 2e029

[2021-05-26 14:42] Baryczka commented on #5053
I'm having very similar problems, Antispam outbound policies are set, remote domain is keep default(which allows forwarding) and I receive the same message, what is surprising it was working for one whole day.
@gourken  Any news?

[2021-05-26 15:10] gourken commented on #5053
My problem turned out to have been that I hadn't adjusted the antispam rules correctly and when I corrected then it worked as planned. The documents could be made clearer on the prerequisites for setting up email forwarding. I hope you find a solution for your problem.

[2021-05-26 15:23] kimoppalfens opened #5131 "Assign to me no longer available."
The screenshot at the top and the section around assignment references an 'Assign to Me' option in the portal in the Alerts Queue. After verifying multiple environments I can only conclude the option is no longer there.

Kim

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e663245-4894-4edc-032f-5f21568c007a
* Version I

[2021-05-26 15:28] kimoppalfens commented on #5131
The screenshot at the top and the section around assignment references an 'Assign to Me' option in the portal in the Alerts Queue. After verifying multiple environments I can only conclude the option is no longer there.

Kim

[2021-05-26 16:20] shung818 commented on #5038
Hello Sri,

I had just checked today and they all are valid with no errors.

Thanks for checking in, I can relay this to my customer who had brought up the issue.

From: Sriraman M S ***@***.***>
Sent: Tuesday, May 25, 2021 7:44 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Sharilyn Ung ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Some of the downlo

[2021-05-26 16:27] ssmiller60 opened #5132 "Are "recipients" or "mailboxes" protected, there is a huge difference between the two?"
Please clarify, when creating an exchange retention policy, in GUI it shows to be assigned to "recipients" not "mailboxes".

Is the GUI incorrect?
Is the full mailbox retained, including sent items, or only emails that are sent to a particular recipient identified in the policy?

This issue MUST be clarified in the documentation.

Thanks!

[Enter feedback here]

---
#### Document Details

⚠ *Do no

[2021-05-26 16:44] msbemba commented on #5038
@shung818  Thank you for the update.

@yogkumgit  There are no changes required in the document.
Thanks
Sri

[2021-05-26 18:18] mjcaparas commented on #5131
Thank you for your feedback. You're right! The screenshot needs to be updated.

The option however, has been modified to Manage alerts > Assign to.

[2021-05-26 18:28] kimoppalfens commented on #5131
Do you have more details as to where to find this option?
The 2 tenants I have access to don't have that option in the Securitycenter.microsoft.com portal. The option 'Manage alerts' is available but there's no 'assign to' option.

[2021-05-26 18:35] joe-wee opened #5134 "Page Links for Step Numbers 4-7 are all Mismatched"
Step 1, 2, and 3 all link to the appropriate external page, but step 4 links to the step 6 article, 5 goes to 4, etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Version Independent ID: 702f2dc1-46f8-508a-68bc-b5d033c56a9a
* Content: [Remove a former employee - Overview - Micro

[2021-05-27 05:18] yogkumgit commented on #5111
@terryhugill Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-27 05:18] #5111 closed

[2021-05-27 05:26] yogkumgit commented on #5070
@csruane SMEs are checking and update .If you see ant other documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-27 05:26] #5070 closed

[2021-05-27 05:31] yogkumgit commented on #5038
@msbemba Thank you very much for the contribution and sharing this explanation. @shung818 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-27 05:31] #5038 closed

[2021-05-27 05:36] yogkumgit commented on #5099
@afscrome Thanks you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-27 05:36] #5099 closed

[2021-05-27 06:12] Lucas-mn opened #5138 "It should be 249 users instead of 250"
"How small or large can the spreadsheet be? The spreadsheet must have at least two rows. One is for the column headings (the user data column label) and one for the user. You cannot have more than 251 rows. If you need to import more than **250** users,  you can create more than one spreadsheet."

The first row would always be the headings.

---
#### Document Details

⚠ *Do not edit this section.

[2021-05-27 06:18] yogkumgit commented on #5115
@TinaMcN Please help us in resolving this issue. Thanks

[2021-05-27 06:25] yogkumgit commented on #5076
@TinaMcN Please help us in resolving this issue. Thanks

[2021-05-27 06:27] yogkumgit commented on #5078
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2021-05-27 06:27] yogkumgit commented on #5092
@chrfox Please help us in resolving this issue. Thanks

[2021-05-27 06:29] yogkumgit commented on #5101
@mjcaparas Please help us in resolving this issue. Thanks

[2021-05-27 06:30] yogkumgit commented on #5075
@LauraWi Please help us in resolving this issue. Thanks

[2021-05-27 06:55] sunasing commented on #5101
Hi @hhainesms, Thanks for sharing this feedback. Since Microsoft Defender for Endpoint (MDE) uses a VPN, iOS inaccurately accounts data usage to Microsoft Defender for Endpoint. The actual data usage is not as high as seen in the Settings app. Having said that, we are working on further data usage optimization on our side to ensure MDE uses as less data as possible to provide all the functionaliti

[2021-05-27 08:54] Baryczka commented on #5053
@gourken  Apparently there was global outage/incident yesterday in the MS Exchange infra which was the cause. Now is working again 👍

[2021-05-27 09:01] raaghavvv opened #5139 "Outdated article mentioned to use rules to automatically forward messages"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5885a586-76b8-83ae-161b-6c9c8793b42d
* Version Independent ID: 681fe343-6272-a75a-ed00-dc7ef4355e67
* Content: [Configure email forwarding - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/email/configure-email-forwarding?vie

[2021-05-27 09:04] raaghavvv commented on #5139
In https://docs.microsoft.com/en-us/microsoft-365/admin/email/configure-email-forwarding?view=o365-worldwide#:~:text=To%20forward%20to%20multiple%20email,rules%20to%20automatically%20forward%20messages.

<img width="498" alt="Outdated article inbox rules" src="https://user-images.githubusercontent.com/61713813/119798223-92438f00-bef8-11eb-9bae-734eda30d736.PNG">

[2021-05-27 11:20] msbemba commented on #5081
@aandrew129 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5141

Thanks
Sri

[2021-05-27 11:23] msbemba commented on #5083
@hempux Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5142

Thanks
Sri

[2021-05-27 11:30] msbemba commented on #5119
@limp15000 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5143

Once the author approves, the document will be updated.

Thanks
Sri

[2021-05-27 11:58] msbemba commented on #5106
@pstutzinger Thank you for your feedback. The parameter is called Domainname and the same has been updated in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5144 . The domain name parameter is needed when your Exchange  is in hybrid with multiple tenants.

Thanks
Sri

[2021-05-27 12:57] gourken commented on #5053
Thanks for your response. In my case it seems that I had misconfigured the Anti-spam options which caused the problem. I hope Microsoft takes the time to update the documentation to give all of the prerequisites necessary for forwarding to occur, including adjusting the anti-spam options. It would have saved me a bunch of time.

[2021-05-27 12:59] gourken commented on #5053
My problem seems to have been longer term. I had never successfully been able to get any auto-forwarding to work. Once I fixed my configuration for the anti-spam the problem resolved itself. It is good to know that there was a general outage though, and I thank you for that information.

[2021-05-27 12:59] #5053 closed

[2021-05-27 13:04] mgrote03 opened #5145 "PUA Events query not working"
The query to detect PUA events with Advanced Hunting does not seem to work. I am getting the following error:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 277950a2-8ece-d717-b02b-29dbe579b85b
* Version Independent ID: 9efa9a6f-519c-c3ca-f2e3-a902280231d9
* Content: [Block potentially unwanted applications wit

[2021-05-27 17:24] markjjo commented on #5119
@limp15000 Please contact me via internal MSFT email and I can provide status on this. I am also following up with engineering.

[2021-05-27 17:33] TinaMcN commented on #5115
Olá @phlr2020 ,
Estou a gerir a tradução destes conteúdos mas, infelizmente, os conteúdos técnicos do Microsoft 365 não estão traduzidos para Português de Portugal.  Segue aqui o artigo em Português do Brasil, caso possa ajudar: https://docs.microsoft.com/pt-br/microsoft-365/enterprise/modern-desktop-deployment-and-management-lab.
Cumprimentos,
Tina

[2021-05-27 17:46] TinaMcN commented on #5076
@qaehtesh thank you very much for highlighting this issue.   I sent this article to be human translated for all languages which should be complete in 3 business days.  If it's not fixed then I'll follow up with the translators to use the approved translation for "user principal name"

[2021-05-27 18:36] #5054 closed

[2021-05-27 21:40] msbemba commented on #5114
@cwidhelm Thank you for your feedback. We are working with the author to find out and fix the Menu.

Thanks
Sri

[2021-05-27 21:59] msbemba commented on #5100
@jpringle03 Thank you for your feedback. We are working with the author to fix this.

Thanks
Sri

[2021-05-27 22:30] msbemba commented on #5086
@prejedj Thank you for your feedback. I have made changes to the document, Once it is approved by the author you will see the updated document.

PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5151 for tracking

Thanks
Sri

[2021-05-27 22:37] msbemba commented on #5074
@ahmetarslan2020 Thank you for your feedback. The Factory reset action returns the device to its factory default settings. This removes all personal and company data and settings from this device including the encryption.  It is very similar to intune Wipe or Fresh start, as the action cannot be reverted.

Hope this helps!

Thanks
Sri

[2021-05-27 22:45] msbemba commented on #5073
@jpcast88 Thank you for your feedback.

Defender for Endpoint currently supports the following specific SIEM solution tools through a dedicated SIEM integration model:

IBM QRadar
Micro Focus ArcSight

Other SIEM solutions (such as Splunk, RSA NetWitness) are supported through a different integration model based on the new Alert API that is why you don't see more information about Splunk. The deta

[2021-05-27 22:54] msbemba commented on #5088
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/5088

Thanks
Sri

[2021-05-27 23:22] ianwright-msft opened #5153 "Ambiguity on Apps coverage by policy"
The page is not clear on whether Safe Links protection for O365 apps applies to all users or just licensed users or just users who are in active policies.  We have conflicting statements:

"Safe Links protection for Office 365 apps is applied to all users in the organization who are licensed for Defender for Office 365, regardless of whether the users are included in active Safe Links policies or

[2021-05-27 23:24] msbemba commented on #5087
@stelladew Thank you for your feedback. We have added steps to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5154

Thanks
Sri

[2021-05-28 00:35] rezwansarker opened #5155 "VITSL"
r.sarker@outlook.com

[2021-05-28 00:37] chrisda commented on #5153
@ianwright-msft, the update for stating that Safe Links for Office aps works for all licensed users (not just members of Safe Links polices) was added recently.

I thought I scrubbed the topic for conflicting references, but it looks like I missed one. That offending statement now says:

Basically, what happening is Safe Links for Office 365 apps is all licensed users. The "Block the following URL

[2021-05-28 03:23] davidslight opened #5156 "Privacy"
[Enter feedback here]
Looking for guidance on privacy for Topics - I see a page for Insights with useful information but this page does not actually have the word privacy mentioned apart from the title.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2fa2fdc1-25c2-cf11-9466-0182c55f6e8b
* Version Independent ID: 17a436f

[2021-05-28 04:22] yogkumgit commented on #5155
@rezwansarker Please indicate which document you are referring to. Thanks.

[2021-05-28 04:28] yogkumgit commented on #5101
@sunasing Thank you very much for the contribution and sharing this explanation. @hhainesms Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-28 04:28] #5101 closed

[2021-05-28 04:39] yogkumgit commented on #5083
@msbemba Thank you very much for the contribution and updating the documentation with PR. @hempux Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-28 04:39] #5083 closed

[2021-05-28 04:47] yogkumgit commented on #5106
@msbemba Thank you very much for the contribution and updating the documentation with PR. @pstutzinger Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-28 04:47] #5106 closed

[2021-05-28 05:02] yogkumgit commented on #5074
@msbemba Thank you very much for the contribution and sharing this explanation. @ahmetarslan2020 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-28 05:02] #5074 closed

[2021-05-28 05:03] yogkumgit commented on #5073
@msbemba hank you very much for the contribution and sharing this explanation. @jpcast88 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-28 05:03] #5073 closed

[2021-05-28 05:05] yogkumgit commented on #5088
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-05-28 05:05] #5088 closed

[2021-05-28 10:26] janekbaj opened #5157 "CBC ciphersuites not supported by Office365"
Based on report from sslscan only Ciphers below are supported:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14a729bb-ad0e-27bf-b119-beb99f1df9f4
* Version Independent ID: bc005f28-aa37-f52d-c328-ff547c1eb7b3
* Content: [Technical reference details about encryption - Microsoft 365 Compliance](https://docs.micr

[2021-05-28 14:38] kdillaway opened #5158 "US Address function does not work on zips that start with 0"
Currently any zip code that starts with 0 is not detected by the function and this needs to be added AND added to the documentation found here: https://docs.microsoft.com/en-us/microsoft-365/compliance/what-the-dlp-functions-look-for?view=o365-worldwide

This has to be updated so that customers know the limitation clearly which is pretty huge since it will not pick up any zip code associated with

[2021-05-28 15:26] aandrew129 commented on #5082
Apologies, I must not have created the ticket in the correct place. Below is information from another ticket from the same doc I was referring to:

"Version Independent ID: 7f19f87a-79cf-33b6-c64f-4449b1add0d9
Content: [Setup guides for Microsoft 365 and Office 365 services - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/setup-guides-for-microsoft-365?view=o36

[2021-05-28 20:05] franklesniak opened #5163 "Clarify which ASR rules generate alerts and which ones don't - and whether this is configurable"
The Notifications and Alerts section (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction?view=o365-worldwide#notifications-and-alerts) vaguely indicates that some ASR rules trigger alerts and others don't ("when certain attack surface reduction rules are triggered, alerts are generated").

It'd be helpful if this was more specific. Which ASR rules tr

[2021-05-28 21:55] AntoniaBlume opened #5165 "Fix steps to be from simplified view"
In the Get Business Assist section, modify the steps to show how you get there in Simplified view. Since you have to have fewer than 5 users, high likelihood that they are using simplified view.
1. In the simplified view of Microsoft 365 admin center, on the Subscriptions tab, select Add products.
2. On the Purchase services page, select Other services, and then select Details for Business Assist

[2021-05-29 10:28] beerisgood opened #5168 "To enable ASR Block abuse of exploited vulnerable signed drivers, use the following cmdlet"
The code for "To enable ASR Block abuse of exploited vulnerable signed drivers, use the following cmdlet":
`"& {&'Add-MpPreference' -AttackSurfaceReductionRules_Ids 56a863a9-875e-4185-98a7-b882c64b5ce5 -AttackSurfaceReductionRules_Actions Enabled"}`
doesn't work.

I get
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-05-30 18:07] schbrownie opened #5170 "Suggestion for additional content"
Excellent Article!  I was looking for something exactly like this earlier this year.  Thank you

However, this does not completely address our tennant....  we were originally an on-premise AD and now have a Hybrid AD environment.  Can you please either add (or link to existing articles) content about recommended steps for completely removing someone including from either an on-premise AD, Hybrid A

[2021-05-31 01:20] johnwc opened #5171 "Suggested that best practice to keep UPN and email the same"
Can you explain why you say this is best practice. When working with security of organizations, it has always been best practice to keep these different to keep hackers from trying to brute force login via known email addresses. When the UPN is not the same, along with using a sub-domain for the UPN, the brute force attacks drop to zero.

---
#### Document Details

⚠ *Do not edit this section. It

[2021-05-31 11:06] #5155 closed

[2021-05-31 11:36] yogkumgit commented on #5082
@JoeDavies-MSFT

[2021-05-31 13:01] teomonda opened #5175 "SharePoint IRM versus Sensitivity labels (AIP)"
Is SharePoint IRM still updated and therefore recommended by Microsoft?
OR shall we move to sensitivity labels?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29df28b-0065-a059-f22d-3433c1dd65a0
* Version Independent ID: 83b44475-2a39-5747-fc3c-2a92d0d958f2
* Content: [Set up Information Rights Management (IRM) in Sha

[2021-05-31 16:01] AlexPan0310 commented on #4965
@yogkumgit Any ideas?

[2021-05-31 19:05] giterdn opened #5176 "Not all roles are listed and described"
[Enter feedback here]

The Message center reader is referenced in this article, but not explicitly listed or described.  Can you add this role, and any other roles that are missing?  Otherwise, can you advise what article is the definitive list of M365 admin roles?

Thank you,

Steve
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-05-31 19:50] msbemba commented on #5134
@joe-wee Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5177

Thanks
Sri

[2021-05-31 19:54] msbemba commented on #5138
@Lucas-mn Thank you for your feedback. I was able to test with 250 users. Ideally, the spreadsheet cannot have more than 251 rows, Out of which one is for the column headings, and you are left with 250 more rows for the users.

Hope this helps!

@yogkumgit There are no changes required in the document.

Thanks
Sri

[2021-05-31 20:01] msbemba commented on #5139
@raaghavvv Thank you for your feedback. Using Inbox rules to forward to multiple email addresses is correct. The option to forward to one email address is available from the admin center, however, you cannot add more than one address.

![image](https://user-images.githubusercontent.com/45987684/120236054-083d5280-c279-11eb-8d58-9e0088a60d17.png)

Hope this helps!

@yogkumgit There are no changes r

[2021-05-31 20:56] msbemba commented on #5165
@AntoniaBlume Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5178

Thanks
Sri

[2021-05-31 20:59] msbemba commented on #5168
@beerisgood Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5179

Thanks
Sri

[2021-05-31 21:06] msbemba commented on #5171
@johnwc Thank you for your feedback. While the Brute force attack can be dropped to zero, In some environments, it’s just not feasible to change the UPN due to user confusion.

1. Users will need to understand what their UPN is and that it is the login for all things Office 365 related. There are some prompts that will say “enter your email” but they will in fact need to use their UPN (for example

[2021-05-31 21:34] msbemba commented on #5132
@ssmiller60 Thank you for your feedback. The Exchange email location supports retention for users' email, calendar, and other mailbox items, by applying retention settings at the level of a mailbox.

When you see the option recipients, it means it can be applied to Mailboxes, Shared mailboxes, O365 groups, resources, etc. All of these together are called recipients.

![image](https://user-images.g

[2021-05-31 21:40] msbemba commented on #5157
@janekbaj Thank you for your feedback. I'm currently checking with the author and will update the document.

Thanks
Sri

[2021-06-01 05:45] raaghavvv commented on #5139
Thanks for the response, I am talking about the article "Use rules to automatically forward messages" here which is integrated with this article. I mean this is a Microsoft 365 article (as mentioned in the article "Configure email forwarding in Microsoft 365") not applicable on Exchange Server 2013 or 2010 obviously then why do we reference article for inbox rule which is outdated and only applica

[2021-06-01 06:34] johnwc commented on #5171
Every organization that we've worked with viewed the simple things you pointed out as a employee education issue. The security issue on the other hand was always a higher concern than teaching users how to login with their UPN.

Best practices usually do not prioritize user education issues over security issues.

[2021-06-01 11:15] lightupdifire opened #5181 "Office built-in labeling client and the Azure Information Protection client"
Hello,

About "If users have the Azure Information Protection client installed, by default, the built-in labeling client is turned off in their Office apps." it looks like there is an issue with it and the built-in labeling not being disabled, as an example, we install AIP UL on the device, and when user try to send email FROM Shared mailbox, the Justification prompt appear that label change appea

[2021-06-01 11:33] yogkumgit commented on #5138
@msbemba Thank you very much for the contribution and sharing this explanation. @Lucas-mn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-01 11:33] #5138 closed

[2021-06-01 15:00] msbemba commented on #5139
@raaghavvv Thank you for your feedback. I have removed the Link and added steps to create an inbox rule to set up forwarding. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5182

Thanks
Sri

[2021-06-01 15:48] #5127 closed

[2021-06-01 16:29] ssmiller60 commented on #5132
Great info, thank you!  How do we get it added to the documentation?

On Mon, May 31, 2021, 5:34 PM Sriraman M S ***@***.***> wrote:

[2021-06-01 18:35] cabailey commented on #5132
@ssmiller60  "Recipients" is a Exchange term that has a broad range.  Not everything listed in the previous response is included in an Exchange retention policy for email and in the article you referenced, we list the Exchange items that are included in this policy location.  What do you think is missing that would make this clearer?

[2021-06-01 18:41] ssmiller60 commented on #5132
My thoughts are that since the exchange definition of "recipients" varies
from the commonly accepted English definition of the word in this context,
that should be noted specifically.  Especially since the two different
definitions result in a different understanding of the way the
functionality would work.

Possibly a note like:  "Note, the use of the word recipient is referencing
the exchange de

[2021-06-01 23:27] cabailey commented on #5181
@lightupdifire Are you referring to this issue that we documented on the same page:

If you use the Group Policy setting Use the Sensitivity feature in Office to apply and view sensitivity labels and set this to 1, there are some situations where the Azure Information Protection client might still load in Office apps. Blocking the add-in from loading in each app prevents this happening.

[2021-06-02 02:35] aakrol opened #5187 "Missing URL {Tenant}-admin.sharepoint.com"
Hi

In the KB article and in the tenant specific JSON there is a missing URL to access the admin portal.

{Tenant}-admin.sharepoint.com

Can the KB be updated and the tenant specific admin up dated.

Regards
AK
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID:

[2021-06-02 03:59] raaghavvv commented on #5139
Thanks @msbemba it looks good now, However it's Outlook client app steps you've mentioned
you could also update OWA steps as below. (this will be convenient for the end-users)

Idea is to make this document user friendly, Outlook and OWA steps would give them better clarity (that's my two cents).

OWA:
---------------------------------

Go to https://outlook.office.com/mail/options/mail/rules/inbo

[2021-06-02 04:18] mariuszo-at-microsoft-com opened #5188 ""DLP Settings" section is missing descriptions for "Unallowed Bluetooth apps" and "Always audit file activity for devices" settings."
The "DLP Settings" section is missing descriptions for "Unallowed Bluetooth apps" and "Always audit file activity for devices" settings.  Please add them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76da4eda-4ccf-ff34-6a48-d9c5553c2ed6
* Version Independent ID: 7e887aff-1b85-1651-2bff-63425c54ae63
* Content: [Using

[2021-06-02 04:23] mariuszo-at-microsoft-com commented on #4789
@natpascual1027 check "Always audit file activity for devices" setting under Data loss prevention > Endpoint DLP settings.  If it is turned on, then it might be overriding your active DLP policy.  Try to turn it off.

[2021-06-02 05:45] yogkumgit commented on #5139
@msbemba Thank you very much for the contribution and updating the documentation with PR. @raaghavvv Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-02 05:46] #5139 closed

[2021-06-02 06:02] yogkumgit commented on #5081
@msbemba Thank you very much for the contribution and sharing this explanation. @aandrew129 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-02 06:02] #5081 closed

[2021-06-02 06:07] yogkumgit commented on #5134
@msbemba Thank you very much for the contribution and updating the documentation with PR. @joe-wee Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-02 06:09] yogkumgit commented on #5087
@msbemba Thank you very much for the contribution and updating the documentation with PR. @stelladew Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-02 06:09] #5087 closed

[2021-06-02 06:26] #5040 closed

[2021-06-02 07:21] lightupdifire commented on #5181
@cabailey
What if we don't use the Group Policy setting? And we want to use the Azure Information Protection client installed and not the other way around.
Why then it is saying in the doc "If users have the Azure Information Protection client installed, by default, the built-in labeling client is turned off in their Office apps." so it is not true?

[2021-06-02 09:54] yogkumgit commented on #5158
@chrfox Please help us in resolving this issue. Thanks

[2021-06-02 09:55] yogkumgit commented on #5163
@denisebmsft Please help us in resolving this issue. Thanks

[2021-06-02 10:04] yogkumgit commented on #4502
@jonwbstr  Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable informa

[2021-06-02 10:04] #4502 closed

[2021-06-02 10:08] #4557 closed

[2021-06-02 10:16] yogkumgit commented on #4810
@twernermsft Please help us in resolving this issue. Thanks

[2021-06-02 10:17] #4863 closed

[2021-06-02 10:25] yogkumgit commented on #4989
@Dansimp Please help us in resolving this issue. Thanks

[2021-06-02 10:28] yogkumgit commented on #5007
@Dansimp Please confirm and help us in resolving this issue. Thanks

[2021-06-02 10:32] yogkumgit commented on #5012
@KCCross Please help us in resolving this issue. Thanks

[2021-06-02 10:36] yogkumgit commented on #5035
@loaderladdy Please indicate which document you are referring to. Thanks

[2021-06-02 11:04] yogkumgit commented on #4834
@Rkhan-ms Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable informat

[2021-06-02 11:04] #4834 closed

[2021-06-02 11:09] yogkumgit commented on #4995
@dkotars Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-02 11:09] #4995 closed

[2021-06-02 11:12] yogkumgit commented on #5069
@waydaws Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2021-06-02 11:12] #5069 closed

[2021-06-02 11:15] yogkumgit commented on #5153
@ianwright-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-02 11:15] #5153 closed

[2021-06-02 14:24] ilyapozharsky opened #5191 "Documentation bug"
The documentation for running the local scripts on this page still refers to the old package name (WindowsDefenderATPOnboardingPackage.zip) in multiple places.

The command to run the script also refers to the old script name.

Documentation says to run
%userprofile%\Desktop\WindowsDefenderATPOnboardingScript.cmd

Current script name is:
DeviceComplianceLocalOnboardingScript.cmd

---
#### Document

[2021-06-02 14:29] cabailey commented on #5181
As documented, "there are some situations where the Azure Information Protection client might still load in Office apps. Blocking the add-in from loading in each app prevents this happening."  If you still experience this problem after following the guidance to disable the add-in for the Office apps, please open a Support case: https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-

[2021-06-02 15:45] jeffreyoliver opened #5193 "There is no "Organization Theme" link"
I'm logged in with my Global Admin account and browse to Settings --> Org Settings. Then I click on the "Organization Profile" tab. There is no Organization Theme link here. The only thing I see is "Custom Themes"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6c85cc-1680-588e-f520-bcafb1383d53
* Version Independent

[2021-06-02 16:18] denisebmsft commented on #5145
Thank you @mgrote03 for letting us know about this issue. My apologies for the query not working correctly. And thank you @yogkumgit for your help. I have reached out to a PM on the product team to help get this resolved. It might take a few more days but I will update the content as soon as I get a response. Will post an update here soon.

[2021-06-02 18:57] MikeMorawski commented on #4520
Any update on this? There are a lot of nuances I see coming out of this when developing solutions for this type of setup

[2021-06-02 19:35] yashbhilware opened #5195 "No update on the changes over New Exchange Admin center"
I certainly enjoy the change but few thing they are considering that compliance portal can handle but i guess they are far behind to give that feature available through changes.

One of the important feature i am considering here is Retention tags, and I strongly believe this feature should not be remove.

![image](https://user-images.githubusercontent.com/80253684/120541215-394b8d80-c407-11eb-958

[2021-06-02 23:01] denisebmsft commented on #5145
@mgrote03, please try this query:

DeviceEvents
| where ActionType == "AntivirusDetection"
| project Timestamp, DeviceName, FolderPath, FileName, SHA256, x = parse_json(AdditionalFields)
| evaluate bag_unpack(x)
| where ThreatName startswith_cs 'PUA:'
| project Timestamp, DeviceName, FolderPath, FileName, SHA256, ThreatName, WasExecutingWhileDetected, WasRemediated

I have updated the content, and

[2021-06-02 23:01] #5145 closed

[2021-06-02 23:42] msbemba commented on #5132
@ssmiller60 Thank you for your feedback. I have updated the information to a document which talks in detail about configuring retention policy - https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide#configuration-information-for-exchange-email-and-exchange-public-folders

This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-doc

[2021-06-03 02:33] thr0nes opened #5200 "Word Repetition"
In the sentence:

Advanced eDiscovery provides an end-to-end workflow to preserve, collect, analyze, review, analyze, and export content that's responsive to your organization's internal and external investigations.

Analyze is repeated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd695b47-a713-a904-9f2e-9c6c3e27bb1

[2021-06-03 06:43] himasusan90 opened #5201 "Indexing not implemented on keywordQuery["EnableMultiGeoSearch"]"
**keywordQuery["EnableMultiGeoSearch"] = true;** this line errors out saying KeywordQuery cannot be indexed. This has to be changed to **keywordQuery.Properties["EnableMultiGeoSearch"] = true;**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42ae5faa-8153-2236-7df4-a648388c5952
* Version Independent ID: 9c9a95de-76d6-1

[2021-06-03 08:30] lightupdifire commented on #5181
@cabailey
We want to use the Azure Information Protection client, we require that this client is loaded in the Office apps.

[2021-06-03 10:08] lombardialess opened #5202 "wrong apt keyserver parameter"
In the "Add the Defender for Endpoint repository and key, add_apt_repo.yml:" section the apt key source is wrong:

WRONG:
- name: Add Microsoft APT key
  apt_key:
    keyserver: https://packages.microsoft.com/
    id: BC528686B50D79E339D3721CEB3E94ADBE1229CF
  when: ansible_os_family == "Debian"

CORRECT:
- name: Add Microsoft APT key
  apt_key:
    keyserver: https://packages.microsoft.com/keys/m

[2021-06-03 10:27] yogkumgit commented on #5049
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mark-wilson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-03 10:27] #5049 closed

[2021-06-03 10:51] simionea opened #5203 "Phone number invalid"
The phone support number is not valid. Upon calling it hangs up right away.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8479060-e7dd-9d7f-6cd2-9954bdd59551
* Version Independent ID: d8abccbe-2b92-c1e0-b38b-7956b988ac41
* Content: [Support information for Moldova - Microsoft 365 admin](https://docs.microsoft.com/en-

[2021-06-03 11:32] yogkumgit commented on #5165
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AntoniaBlume Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-03 11:32] #5165 closed

[2021-06-03 11:32] Marius-M7 opened #5204 "Use sensitivity labels as conditions in DLP policies Outlook bit versions"
By "Outlook win 32" you mean Outlook 32bit version?
It's going to work on Outlook 64bit versions?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c2bb05c-4f7c-58cf-6b72-22af2b0377b1
* Version Independent ID: 184b8cb5-327a-41c5-6e61-1cae40965994
* Content: [Use sensitivity labels as conditions in DLP policies - Microsof

[2021-06-03 11:44] yogkumgit commented on #5168
@msbemba Thank you very much for the contribution and updating the documentation with PR. @beerisgood Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-03 11:45] #5168 closed

[2021-06-03 12:05] raaghavvv opened #5205 "Download link is not available. Please update the article"
Hi Team,

I've found that the link in this article for " Microsoft Online Services Sign-in Assistant for IT Professionals RTW" is no longer available. Please update.

When you go to **Step 1: Install the required software**
There is point number 1 there is a download link associated  which give below error

![image](https://user-images.githubusercontent.com/61713813/120642138-216d1b80-c492-11eb-92

[2021-06-03 12:22] mgrote03 commented on #5145
Hi, no problem!
This query works fine, thanks!

[2021-06-03 12:35] beerisgood commented on #5168
Thanks!

[2021-06-03 13:52] danmyhre opened #5206 "Data location for information that spans people in multiple geos"
Please add details on how Teams handles chats that involve people from multiple geos - is it stored in both? Is it stored only in the geo of the person that started the chat? Is a conversation split between geos based on who posted the message?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 279b8e5a-103f-087b-97f1-bc89

[2021-06-03 15:15] cabailey commented on #5181
@lightupdifire  In that case, use the same configuration procedure, but with the setting of 1: The add-in is always enabled, as documented here: https://docs.microsoft.com/en-us/azure/information-protection/rms-client/reqs-ul-client#configure-your-group-policy-to-prevent-disabling-aip

[2021-06-03 16:06] PascalStil opened #5208 "Localized article not having localized phone number"
The article is available in several localized languages, but the numbers under phone support still only show United States, Australia, Canada and United Kingdom, which doesn't really make sense in localized versions

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9fe16db-f502-6d93-8e0a-d4b892064416
* Version Independen

[2021-06-03 19:42] cmcatee-MSFT commented on #5208
@PascalStil We don't have a way to put the locale-specific support numbers in the localized pages. Please use the drop-down list that's included in the article to find support numbers for your locale or region.

[2021-06-03 19:42] #5208 closed

[2021-06-03 23:33] pyoungberg opened #5212 "Permissions no longer listed in S&C"
I'm not sure where they were moved to, but the steps in this page no longer work - 'Permissions' must have been moved to the new Compliance center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94e0469-2c5c-2063-8c3e-7722ceb53577
* Version Independent ID: e99eb8aa-b3b7-8791-aba4-998e209694b5
* Content: [Assign eDisco

[2021-06-03 23:40] markjjo commented on #5212
@pyoungberg Thanks for heads up. Permissions have been moved to the M365 compliance center. You can go to https://compliance.microsoft.com, click on Permissions in the left nav, and then click Roles under Compliance center. UI is very similar to the one in SCC. I will update the topic.

[2021-06-03 23:40] #5212 closed

[2021-06-04 04:15] lightupdifire commented on #5181
@cabailey
But the Azure Information Protection client installed well and the add-in is there on all 1000 PCs.
The thing is we want to use the Azure Information Protection client and not the Office 365 built-in.
Then for us, this "If users have the Azure Information Protection client installed, by default, the built-in labeling client is turned off in their Office apps." would be the perfect scenar

[2021-06-04 07:42] loaderladdy commented on #5035
@yogkumgit hi, get-pacfile is maintained by @pandrew1 and @michael.carrillo and is found at [https://www.powershellgallery.com/packages/Get-PacFile/1.0.4](url)

the "Project Site" info link for Get-PacFile refers to this page [https://docs.microsoft.com/en-gb/microsoft-365/enterprise/microsoft-365-ip-web-service?view=o365-worldwide](url) on Microsoft Docs

[2021-06-04 09:47] ccwb-102 opened #5217 "Clarification to "Can I open encrypted messages sent to another user's mailbox with Fullaccess?""
In the entry for "Can I open encrypted messages sent to another user's mailbox with Fullaccess?" it basically says that it should not be possible to open an encrypted mail with fullaccess permissions to the mailbox if the permission is assigned using a mail-enabled security group.

According to our tests this seems to **not hold true** if the access is through **Outlook on the Web** (or OWA in leg

[2021-06-04 09:47] yogkumgit commented on #4881
@msbemba Thank you very much for the contribution and updating the documentation with PR. @staylor130 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-04 09:47] #4881 closed

[2021-06-04 09:57] yogkumgit commented on #5171
@msbemba Thank you very much for the contribution and sharing this explanation. @johnwc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-04 09:57] #5171 closed

[2021-06-04 09:58] msbemba commented on #5200
@thr0nes Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5218

Thanks
Sri

[2021-06-04 11:28] msbemba commented on #5201
@himasusan90 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5219

Thanks
Sri

[2021-06-04 11:42] msbemba commented on #5202
@lombardialess Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5220

Thanks
Sri

[2021-06-04 12:27] msbemba commented on #5193
@jeffreyoliver Thank you for your feedback. Yes, It has been changed to custom themes. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5221

Thanks
Sri

[2021-06-04 12:31] msbemba commented on #5191
@ilyapozharsky Thank you for your feedback. I downloaded the package from Defender Security center and still see WindowsDefenderATPOnboardingPackage.zip

![image](https://user-images.githubusercontent.com/45987684/120801518-e2f16280-c55e-11eb-8e07-6a69d12abd78.png)

Thanks
Sri

[2021-06-04 14:10] gianlucadardia opened #5224 "Broken link"
[Enter feedback here]

Link
Learn more about Microsoft 365 Defender
https://docs.microsoft.com/en-us/microsoft-365/security/defender/microsoft-threat-protection

doesn't work
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881d6a41-be6c-430e-d4f3-26e08fa1bb50
* Version Independent ID: 5bb5aaaa-8d13-f3e1-52b1-3a043f7ff4fe

[2021-06-04 14:33] #5200 closed

[2021-06-04 16:52] fmokren opened #5225 "PowerShell command not working"
I'm able to set the EnableControlledFolderAccess value to any value using the Group Policy Editor.
When I try to do it using PowerShell, 'Set-MpPreference -EnableControlledFolderAccess Disabled' for example, the property is not getting set.

I'm trying this on Windows 10 OS Build 19041.985. How can I report this to the product team?

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-06-04 17:31] cmcatee-MSFT commented on #5203
@simionea I'm sorry you had trouble reaching customer support for your location. Please send me the following information I can investigate this further:

	• ANI (Caller's number)
	• Support # called
	• Date of call
	• Time of call with time zone
	• IVR options selected if any
	• Call results (description of the caller experience after calling)

Do not post this information here. Please send the i

[2021-06-04 17:41] cmcatee-MSFT commented on #5114
@msbema I believe @cwidhelm is asking why "Office 365 operated by 21Vianet is showing up in the left nav (TOC). This issue isn't specific to this article, as that navigation is displayed for every article on the site. It should only display when "Office 365 operated by 21Vianet (China)" is selected in the Version drop-down list. I will investigate this and try to resolve it. However, this more a n

[2021-06-04 17:41] #5114 closed

[2021-06-04 21:06] hudish opened #5228 "ATP Rebranded to MDO - fix link"
[Please consider changing the Roadmap link from pointing to "Advanced Threat Protection" query to "Defender" (or similar?) - since the old "ATP" verbiage doesn't return all results for Defender for Office anymore after the rebrand on the Roadmap.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a86153a-3d20-abef-8525-c

[2021-06-04 21:22] MSFTTracyP commented on #592
I tracked down some pros inside of the company for the final word on this complex thread (thank you for the time you put in and your comments on this topic). I asked them to collect together some of the main questions in this thread and answer them. Here's what they had to say (and another strong reason to go to support if / when Strange Things Happen).

Can you tell why my IP is on your block lis

[2021-06-04 21:23] #592 closed

[2021-06-04 22:12] TinaMcN commented on #5076
@qaehtesh an update on this issue.  Even after the article is human translated the string "user principal name" is not translated.  I asked the translators to fix it and they should complete it within a few days.

[2021-06-06 02:32] johnwc commented on #5171
@yogkumgit the comment is not helpful because it does not exhibit best practice. It exhibits a better user experience recommendation. It should be updated and made clear what the best practice is for secure accounts, but is MS recommendation to keep the UPN and email address the same for better user experience.

[2021-06-06 06:02] msbemba commented on #5195
@yashbhilware Thank you for your feedback.

1. You should continue using MRM to move messages to archive mailboxes as the feature is not available yet in the New exchange admin center or compliance center. Once the feature if available, you will see that added to the document.

2. Retention labels can be applied on folder level in outlook -https://docs.microsoft.com/en-us/microsoft-365/compliance/

[2021-06-06 06:05] msbemba commented on #5204
@Marius-M7 Thank you for your feedback. I'm confirming this with the author and will update shortly.

Thanks
Sri

[2021-06-06 06:07] msbemba commented on #5175
@teomonda Thank you for your feedback.

While the option to use IRM in Sharepoint admin center is still available, Office 365 sensitivity labels are the preferred way to protect content stored in SharePoint Online and OneDrive for Business. They are more flexible and powerful than the traditional approach of protecting SharePoint libraries with IRM.

Hope this helps!

Thanks
Sri

[2021-06-06 06:17] msbemba commented on #5188
@mariuszo-at-microsoft-com Thank you for your feedback. We have added the missing information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5232. Once the author approves, the changes will be available on the live document.

Thanks
Sri

[2021-06-06 08:02] yogkumgit commented on #5086
@msbemba Thank you very much for the contribution and updating the documentation with PR. @prejedj Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-06 08:02] #5086 closed

[2021-06-06 08:15] yogkumgit commented on #4685
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kortamon Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-06 08:15] #4685 closed

[2021-06-07 01:33] msbemba commented on #5176
@giterdn Thank you for your feedback. We have added Message center reader role and a few other roles in the document. The same can be tracked via  PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5234

Thanks
Sri

[2021-06-07 09:17] konstruktoid commented on #5202
[code]

This isn't actually correct, since `https://packages.microsoft.com/keys/microsoft.asc` isn't a keyserver. See https://docs.ansible.com/ansible/latest/collections/ansible/builtin/apt_key_module.html and a the PR https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4809/files

@msbemba @yogkumgit

[2021-06-07 10:10] teomonda commented on #5175
Thanks for your info, Sri.
Does it make sense that we add a note or something in the article, pointing out to the sensitivity labels?

[2021-06-07 10:26] Taha1308 opened #5235 "lists requirements for connectivity from a user's machine to Office 365"
“Endpoint data below lists requirements for connectivity from a user's machine to Office 365. It does not include network connections from Microsoft into a customer network, sometimes called hybrid or inbound network connections.”

“Endpoint data below lists requirements for connectivity from a user's machine AND NETWORK CONNECTIONS to Office 365.”

[Enter feedback here]

---
#### Document Details

[2021-06-07 10:37] gpriest-github opened #5236 "Incorrect / Missing Documentation"
We have an Exchange 2016 CU19 on premises environment, with Hybrid Services enabled for Exchange Online and also has HMA (Hybrid Modern Auth) enabled. What we are finding is, as we begin to turn on services like Microsoft Teams users are accessing the Calendar in the MSTeams app it was showing a blank AND creating MS Teams enabled meetings in through delegate calendars it was showing the following

[2021-06-07 12:19] joloco commented on #592
Thanks for tracking down this issue deeper within MS, Tracy – but I'm sorry to say that this doesn't answer many of our questions at all!

My situation – and that of many others – is a long-existing server with no evidence of spam (and in my case, very light email use overall) suddenly gets blocked by MS for abuse, and users (or, on my server, my single user) can no longer send emails to Hotmail o

[2021-06-07 14:40] msbemba commented on #5175
@teomonda Thank you for your feedback. We have now added documents relating to sensitivity labels to the recommended content section of this document.

Hope this helps!
Thanks
Sri

[2021-06-07 15:07] yoshiband opened #5240 "Revision request for platform version number"
[Enter feedback here]
Hello, whom it may concern,

I found the following description for the platform version 4.18.1911.3 in this page

However, we can see that the jump package version is "4.18.2001.10" at [Microsoft Update Catalog site](https://www.catalog.update.microsoft.com/Search.aspx?q=KB4052623).
By searching with "KB4052623", it shows as follows.

Update for Windows Defender Antivirus ant

[2021-06-07 15:37] dougsbaker opened #5241 "Audit Delegate Send is not supported in EXO."
If you try to run the update command it errors with this code.
Invalid audit operation specified. Supported audit operations for Delegate are None, Create, FolderBind, SendAs, SendOnBehalf, SoftDelete, HardDelete, Update, Move, MoveToDeletedItems and UpdateFolderPermissions.
    + CategoryInfo          : NotSpecified: (Microsoft.Excha...asks.SetMailbox:SetMailbox) [], RecipientTaskException
    +

[2021-06-07 16:14] giterdn commented on #5176
Thank you.  I don't the see the changes so I will wait a few days and check back.

Steve
STEVE KISH | Manager - Desktop, Mobility, Telecom & Audio-visual

CITY OF SURREY
Corporate Services, IT Division
13450 104 Ave, Surrey, BC, Canada V3T 1V8
T 604.591.4878 | C 604.345.0288  www.surrey.ca<http://www.surrey.ca/>

From: Sriraman M S ***@***.***>
Sent: June 6, 2021 6:34 PM
To: MicrosoftDocs/microsof

[2021-06-07 16:20] chrisda commented on #5241
@dougsbaker, which command are we talking about?

[2021-06-07 16:54] MSFTTracyP commented on #1220
@rednoah, I realize this happened quite some time back, but are you or others still experiencing this issue? Where are you seeing it precisely, and would you happen to have a sample of the non-compliance, such as Header info? If you do, please let me know. This is certainly something you've probably headed to Support with some time ago, and if so, please feel free to let us know if a solution was

[2021-06-07 17:00] msbemba commented on #5176
@giterdn Yes, The request needs to be approved and merged by the author. You will receive an update when that is complete.

[2021-06-07 17:15] SeanTGeoghegan opened #5243 "Add-in Deployment: Prerequisite Roles"
Need clarification on the following, as there's no documentation found that relate to "Other Admin roles" and add-in deployment:

Is there anything that specifies which roles (other than Global Admin) can perform which actions with add-in deployment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 32aaf301-bc79-ea37-f3f

[2021-06-07 19:28] dougsbaker commented on #5241
Sorry about that, I think this is just my lack of understanding on how the commands to set are supposed to work.

Set-Mailbox doug@dougsbaker.com -AuditDelegate @{add="Send"}

Invalid audit operation specified. Supported audit operations for Delegate are None, Create, FolderBind, SendAs, SendOnBehalf, SoftDelete, HardDelete, Update, Move, MoveToDeletedItems and UpdateFolderPermissions.

[2021-06-07 20:29] paulaustin-automutatio opened #5244 "Change of Organization Name"
[Enter feedback here]

Somehow are organization name got changed we don't know how. It ended up being the name of the user rather than the company name.

Contrary to the following.

`Currently, updating the organization name does not update it for configured clients.`

I ended up with older directories synced using the old name, new synced directories with the new name.

Changing it back didn't re

[2021-06-07 20:49] denisebmsft commented on #5240
Hello @yoshiband, and thank you for letting us know about this issue. I have updated the article and you'll see the changes live on the site soon. In the meantime, you are correct:  "4.10.2001.10" should be "4.18.2001.10" in the November 2019 platform release "Known issues" section. Thanks again for posting about this!

[2021-06-07 20:51] chrfox commented on #4926
the article already states this

[2021-06-07 20:51] #4926 closed

[2021-06-07 20:53] chrfox commented on #5092
Hi @silbermano - I am forwarding this to the proper team

[2021-06-07 21:01] chrfox commented on #5158
Hi @kdillaway forwarding this to the product team.  The documentation follows the product code, so if this needs to be fixed, it must be fixed in the product first.

[2021-06-07 21:01] #5158 closed

[2021-06-07 21:06] #5188 closed

[2021-06-07 21:12] kdillaway commented on #5158
Ok, I just want to make sure that it is updated so that it clearly states that any zip that starts with ) will not be picked up by the function.  Besides being documented, this should be fixed as it seems pretty crazy that it would be by design to not catch millions of addresses in the Northeast US.

How can we track that this is fixed?

Kevin

From: Chris Fox MSFT ***@***.***>
Sent: Monday, June

[2021-06-07 23:25] Rykimaruh opened #5246 "Information regarding adding all recordtypes using powershell?"
I noticed that the documentation doesn't talk about what type of value to use as a parameter for RecordType. In the event that we would require to retain all RecordTypes for 1 year, is there a particular value that could be used?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e52e1877-191e-5dbe-b805-e755c736b985
* Vers

[2021-06-07 23:31] markjjo commented on #5246
@Rykimaruh From documentation: "The audit record type the policy applies to. If you leave this property blank, you must select a user in the Users box. You can select a single record type or multiple record types:"

So you could retain all audit records to specified users. To retain all audit records for all record types, you might have to enter each records type in this field. List of record type

[2021-06-07 23:31] #5246 closed

[2021-06-07 23:36] Rykimaruh commented on #5246
But in the GUI, I was able to do some tests and it let me choose all of them without specifying a user.

I'm looking to replicate this

![image](https://user-images.githubusercontent.com/5460795/121100291-86dd4700-c7c7-11eb-96ee-97235e4dfbfd.png)

[2021-06-08 02:52] glenrmag16 opened #5247 "DLs with membership approvals set to CLOSED can still be upgraded to M365 group"
The article states:

Distribution lists where MemberJoinRestriction and/or MemberDepartRestriction is Closed = not eligible for upgrade.

However upon testing, it actually works.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb1e873-a684-ba18-21b4-33c2c4cf5aeb
* Version Independent ID: badad26e

[2021-06-08 09:10] JamieWilsonCC opened #5249 "Licences"
What are the licence requirements for custom sensitive information types? Can this be done within E3? “sensitive information types with Exact Data Match” has a Required licenses and permissions section however this page does not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcb7953e-5257-2578-4607-2d93940d6845
* Vers

[2021-06-08 13:19] yogkumgit commented on #5176
@msbemba Thank you very much for the contribution and updating the documentation with PR. @giterdn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-08 13:19] #5176 closed

[2021-06-08 13:25] yogkumgit commented on #5193
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jeffreyoliver Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-08 13:25] #5193 closed

[2021-06-08 14:54] #5240 closed

[2021-06-08 16:20] TinaMcN commented on #5076
@qaehtesh this has been fixed for all languages now.  Thanks again for reporting this issue.

[2021-06-08 16:56] #5195 closed

[2021-06-08 17:02] markjjo commented on #5119
@limp15000 Confirmed with engineering that lower values take priority. Updated documentation will be published. We also updated the corresponding *UnifiedAuditLogRetentionPolicy cmdlet reference topics. Thanks again for heads up.

[2021-06-08 17:02] #5119 closed

[2021-06-08 18:01] #5191 closed

[2021-06-08 18:01] mjcaparas commented on #5191
Addressed by msbemba pr 5222

[2021-06-08 18:11] #4808 closed

[2021-06-08 18:48] msbemba commented on #5202
@konstruktoid Thank you for the feedback. We have merged #4809 and the document is now updated.

[2021-06-08 22:46] chrisda commented on #5241
@dougsbaker, check out the description in the table for the Send value:

So could we be dealing with a licensing issue here?

[2021-06-08 22:54] ITSourcePro opened #5259 "Broken Link to UserVoice Page"
Under Shared Mailboxes:
Currently it's not possible to migrate a shared mailbox to a Microsoft 365 group. Is this something you want? Let us know. **Vote here**

The Vote here link goes to a link that no longer exist as Microsoft no longer uses UserVoice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a37b2d3-f63b-a71

[2021-06-09 00:02] #5051 closed

[2021-06-09 02:36] rednoah commented on #1220
Sorry, I forgot the details. I think it was in the context of `*.hotmail.com` email addresses not accepting email from me, and me filling out some online form to say I'm not a spammer. I did switch service provider / outgoing IP though since then, and things have resolved itself. No issues right now.

[2021-06-09 02:36] #1220 closed

[2021-06-09 06:23] MichaelRyan87 opened #5261 "Permissions for viewing Activity Explorer"
Hello,

Should this:

Data from Endpoint DLP can be viewed in Activity explorer. There are four roles that grant permission to activity explorer, the account you use for accessing the data must be a member of any one of them.

Global admin
Compliance admin
Security admin
Compliance data admin
Global reader
Security reader
Reports reader

Be this:

Data from Endpoint DLP can be viewed in Activity e

[2021-06-09 08:04] hakenbeck opened #5262 "Download Link for Junk E-Mail Reporting Add-in is dead"
Hi,
the link provided in the "Install" section no longer works.
https://www.microsoft.com/download/details.aspx?id=18275

Kind regards
Alex

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9d71dab-a58d-fbd9-c30f-14f5884f094e
* Version Independent ID: 13e0112c-213d-b462-7833-9d0fe30fc99c
* Content: [Install and use the J

[2021-06-09 08:21] DanielYusteAroca opened #5263 "List of remediation actions that can be undone"
This article states that "In some cases, you can undo a remediation action." but does not list which remediation actions can be undone.

The article https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/manage-auto-investigation?view=o365-worldwide#undo-completed-actions is having a list of the actions on devices or files that can be undone in Microsoft Defender for Endpoint.

[2021-06-09 13:45] adagioajanes opened #5265 "License Assignment Questions"
Does the scheduler license get assigned to users, or to the Cortana account?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db644b10-3e07-35eb-9f68-f0bf184e4c27
* Version Independent ID: 6c17de36-8318-651c-35a4-afa31fe4b84f
* Content: [Scheduler for Microsoft 365 FAQs](https://docs.microsoft.com/en-us/microsoft-365/sch

[2021-06-09 15:13] #5076 closed

[2021-06-09 15:31] yogkumgit commented on #5202
@lombardialess Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-09 15:31] #5202 closed

[2021-06-09 15:36] yogkumgit commented on #5125
@msbemba Thank you very much for the contribution and updating the documentation with PR. @na632 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-09 15:39] yogkumgit commented on #5052
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bledMS82 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-09 15:44] yogkumgit commented on #4972
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jonwbstr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-09 15:45] #4972 closed

[2021-06-09 15:49] yogkumgit commented on #4981
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AlphaXD001 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-09 15:49] #4981 closed

[2021-06-09 17:06] msbemba commented on #5224
@gianlucadardia Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5267

Thanks
Sri

[2021-06-09 18:44] RichardSwart opened #5269 "Query not working"
If you copy and paste the query into the advanced editor and try and run it, it says Semantic error

Error message
'where' operator: Failed to resolve table or column expression named 'EmailPostDeliveryEvents'
How to resolve
Fix semantic errors in your query

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0df69e1b-b972-

[2021-06-09 20:36] chrisda commented on #5241
@dougsbaker, I confirmed that Send is not available for AuditDelegate even in an E5 organization with the correct licenses. I updated the topic accordingly.

What I don't know is whether this is by design or just some unintentional problem. I'm seeking guidance from experts.

[2021-06-10 01:26] dougsbaker commented on #5241
Sorry, yes this was for an E5 subscription I was testing.

[2021-06-10 08:11] suriyanarayanangk opened #5272 "DLP Disclaimer Exclusion"
Hi there,

I created a DLP Custom Rule Pack to identify the below keywords by the DLP Policy.

- Internal Use
- Confidential
- Client Confidential
- Restricted

I want to exclude my organization disclaimer in the custom DLP Policy for that purpose I have created the below code but it is not working fine.

 <Any  maxMatches="0" minMatches="0">
        <Match idRef="Organization_Disclaimer"/>
 </Any

[2021-06-10 08:18] suriyanarayanangk commented on #5272
`<Any  maxMatches="0" minMatches="0">
        <Match idRef="Organization_Disclaimer"/>
  </Any>`

[2021-06-10 13:20] yoshiband commented on #5240
Thank you very much for revising this.
I have confirmed. Thank you so quick response!!

[2021-06-10 14:15] bholzmmc opened #5277 "Label change replication expectations"
There are a couple of places that describe the need to wait for changes to replicate.  In the Section "Publish sensitivity labels by creating a label policy" it has different expectations for Office app built in labeling and Office on the Web.  Please add an explicit statement regarding the Unified Labelling client, especially if the expectation is similiar to built-in or Web.

Also, it woudl be u

[2021-06-10 14:37] choccieman opened #5278 "link for licencing information is not found"
as title, link next to licencing goes to page not found.

[2021-06-10 15:31] denisebmsft commented on #5278
Hello @choccieman, and thank you for posting your question here. Can you please tell us to which article(s) your feedback applies?

[2021-06-10 16:33] cabailey commented on #5277
As more apps & services adopt sensitivity labels, it gets tricky to document in one place all the different timings and ensure accuracy when different engineering teams own them.  In this case, the general advice of wait for 24 hours should be the catch-all (for example, also applies to Azure Purview).  If apps/services other than the ones listed have shorter timelines, their documentation can inc

[2021-06-10 17:21] msbemba commented on #5205
@raaghavvv Thank you for your feedback. The option to download to the Microsoft Online services Sign -in assistant is no longer available. We have removed that part from the document.

Hope this helps!

@yogkumgit There are no changes required in this document.

Thanks
Sri

[2021-06-10 17:27] msbemba commented on #5206
@danmyhre Thank you for your feedback. Conversations in chats, channel messages, and meeting IM notes/chats within the Teams experience aren't Multi-Geo-aware and are all kept only inside the central location of the tenant. Typically, chat conversations aren’t applied to data residency needs.

I have added a related link to this document which talks in detail about Teams experience in a Microsoft

[2021-06-10 17:33] msbemba commented on #5217
@ccwb-102 Thank you for your feedback. I tested and it works in OWA, For outlook, you need the automapping to be turned ON. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5283

Thanks
Sri

[2021-06-10 17:36] msbemba commented on #5225
@fmokren Thank you for your feedback. I'm currently testing this and will update you shortly.

[2021-06-10 18:19] msbemba commented on #5228
@hudish Thank you for your feedback. I have made changes to the link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5285

Thanks
Sri

[2021-06-10 18:38] msbemba commented on #5244
@paulaustin-automutatio Thank you for your feedback. Ideally, when you sign out and sign back into one drive it should sync with the new organization name. This sounds more like a cached setting that gets fixed after 24-48 hours. Do you still see the old organization name in file explorer ?

Thanks
Sri

[2021-06-10 18:39] msbemba commented on #5247
@glenrmag16 Thank you for your feedback. I shall test this and update the document.

Thanks
Sri

[2021-06-10 18:57] msbemba commented on #5249
@JamieWilsonCC Thank you for your feedback. As mentioned in the document,  Your organization must have a subscription, such as Office 365 Enterprise, that includes Data Loss Prevention (DLP).  Yes, Office 365 E3 and E5 include DLP. This is a broader list as any subscription with DLP in it can get started with custom-sensitive information types.

For more information, you can view feature availabil

[2021-06-10 18:58] paulaustin-automutatio commented on #5244
@msbemba I have tried disconnecting the accounts, uninstalling and then installing OneDrive, deleting registry entries and on a different machine that wasn't currently syncing.

Plus on a number of web apps (e.g. Bing company home) it sometimes showed up the wrong organization name.

So it looks like services at MS are caching the organization name and not propagating the change quickly enough or

[2021-06-10 19:01] msbemba commented on #5259
@ITSourcePro Thank you for your feedback. We will be moving away from UserVoice feedback sites on a product-by-product basis throughout the 2021 calendar year. So the link is no longer available and the same has been removed from the document. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5286

Thanks
Sri

[2021-06-11 01:38] dm3942 opened #5289 "Is Python still required after mdatp is installed?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab0b894-0199-7515-b060-a6724e2c9b9e
* Version Independent ID: 988ff83c-c4b5-d2f3-023e-2d8dd191b7ae
* Content: [Deploy Microsoft Defender for Endpoint on Linux manually](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-i

[2021-06-11 02:15] haiderim opened #5290 "Installation log file path is wrong in the doc"
It should be /var/log/microsoft/mdatp/install.log not /var/log/microsoft/mdatp_install.log.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f88efa4-ff30-7f9d-bc89-22ee1c94098b
* Version Independent ID: 028b68d0-f721-bafd-5a7c-4ab2303081eb
* Content: [Microsoft Defender for Endpoint on Linux resources](https://docs.micr

[2021-06-11 05:41] msbemba commented on #5261
@MichaelRyan87 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5291

Thanks
Sri

[2021-06-11 05:46] msbemba commented on #5225
@fmokren  I was able to test and verify that it works. We recommend you contact Microsoft support via the need help section on the admin center.

![image](https://user-images.githubusercontent.com/45987684/121637034-6f8fa980-caa6-11eb-9ef4-55115f6f8d57.png)

Thanks
Sri

[2021-06-11 05:57] msbemba commented on #5247
@glenrmag16 Thank you for your feedback. I was able to test it as well. The document is now updated via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5292

Thanks
Sri

[2021-06-11 06:13] msbemba commented on #5243
@SeanTGeoghegan Thank you for your feedback. Earlier, Exchange and Office apps admin used to have limited access to deploying add-in. However, the options are no longer available after the change to integrated apps. I have updated the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5293

Thanks
Sri

[2021-06-11 07:16] glenrmag16 commented on #5247
Hi, it still says "NO" where it should be "YES" under the "Eligible?" column. Which update are you talking about?

[2021-06-11 08:10] konstruktoid commented on #5290
Thanks for opening this issue @haiderim, PR submitted.

[2021-06-11 08:13] konstruktoid commented on #5289
Hi @dm3942, you don't specify which distribution you are using but, even if python isn't required by mdatp after installation, removing python would surely cause a lot of other issues.

[2021-06-11 08:20] msbemba commented on #5247
@glenrmag16 Sorry about the confusion. It takes 24-48 hours after the PR has been approved by the Author. So ee will update you when that is complete.

[2021-06-11 10:56] choccieman commented on #5278
apologies - i didn't realise that using the page link didn't include the url. It's on the new scheduler docs https://docs.microsoft.com/en-us/microsoft-365/scheduler/scheduler-setup?view=o365-21vianet

[2021-06-11 11:55] msbemba commented on #5175
@yogkumgit This issue can be closed.

[2021-06-11 13:17] yogkumgit commented on #5031
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-11 13:19] #5031 closed

[2021-06-11 13:23] yogkumgit commented on #5206
@msbemba Thank you very much for the contribution and updating the documentation with PR. @danmyhre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-11 13:24] #5206 closed

[2021-06-11 13:50] yogkumgit commented on #5259
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ITSourcePro Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-11 13:51] #5259 closed

[2021-06-11 14:04] yogkumgit commented on #5175
@msbemba Thank you very much for the contribution and sharing this explanation. @teomonda Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-11 14:04] #5175 closed

[2021-06-11 14:10] yogkumgit commented on #5263
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2021-06-11 14:12] yogkumgit commented on #5236
@LauraWi Please help us in resolving this issue. Thanks

[2021-06-11 14:13] yogkumgit commented on #5235
@LauraWi Please help us in resolving this issue. Thanks

[2021-06-11 14:18] yogkumgit commented on #5187
@LauraWi Please help us in resolving this issue. Thanks

[2021-06-11 15:10] Taha1308 commented on #5235
1.	Documentation only states outbound settings
2.	Documentation only states requirements on clients, not servers
3.	Documentation only states hybrid configuration for Exchange Online <-> Exchange On Premise
4.	Concerns are we are going to open several subnet ranges bi-directional on multiple ports to key on premise services

[2021-06-11 18:08] VShrubowich opened #5300 "Typo in the first Note in "How retention works with Microsoft Teams" section"
The first Note in the "How retention works with Microsoft Teams" section has an extra "a" in the first sentence.  It should read "and you delete a mailbox" instead of "and you a delete a mailbox".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147f081a-c235-3400-23c9-8b4de7c9bbbc
* Version Independent ID: 0d8958fb-247e

[2021-06-11 18:51] VShrubowich opened #5301 "Can minimum and maximum timing be clarified for "Delete-only after 1 day"?"
In [Example 3: Delete-only after 1 day](https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-teams?view=o365-worldwide#example-3-delete-only-after-1-day), it states that "a delete action after 1 day could take 16 days before the message is permanently deleted".  Can it be clarified how the 16 days is calculated?  It seems like it should be 15 days:  7 days max for retention

[2021-06-11 18:54] danmyhre commented on #5206
@msbemba this is actually going to be out of date soon with the release of multi-geo for Teams, which is why I posted the feedback. Thoughts on this?

[2021-06-11 19:33] #5290 closed

[2021-06-11 21:25] cabailey commented on #5300
Thanks for flagging!  Getting this fixed today.

[2021-06-11 21:25] #5300 closed

[2021-06-11 21:32] cabailey commented on #5277
I've added a note & link for the unified labeling client & confirmed with engineering that there is currently no customer-supported method to confirm policy distribution/update,  I recommend you use the MIP UserVoice request form for this: https://aka.ms/MIP/uservoice

[2021-06-11 21:32] #5277 closed

[2021-06-11 21:47] cabailey commented on #5181
The docs have instructions how to ensure the Azure Information Protection add-in remains loaded (or unloaded) in Office apps. By default, built-in labeling is turned off when the Azure Information Protection client is installed because the Azure Information Protection add-in takes precedence.  But there are some scenarios where the add-in can unload, so built-in labeling becomes active instead. Fr

[2021-06-11 21:47] #5181 closed

[2021-06-11 21:49] cabailey commented on #4943
Closing.

[2021-06-11 21:49] #4943 closed

[2021-06-11 22:36] AlexJerabek opened #5302 "Add note about disabling add-in acquisition from the ribbon for recommended features"
Add-ins such as Visio Data Visualizer, Bing Maps, and People Graph will still show up in the ribbon, even if an admin has disabled the Store. Users will be unable to download those add-ins, as expected, but may still wish to remove their display. To remove these links, admins must disable the store through GPO.

Internal ADO item and discussion [here](https://office.visualstudio.com/OC/_workitems/

[2021-06-12 11:57] softwarecraft opened #5304 "broken link for Standalone EOP"
Link at start of article for standalone EOP is https://docs.microsoft.com/en-us/exchange/standalone-eop/standaonline-eop but should be https://docs.microsoft.com/en-us/exchange/standalone-eop/standalone-eop

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8878304-7f4b-15c3-d2b6-8a5583930199
* Version Independent ID: 329

[2021-06-13 05:29] alex--thomas opened #5306 "An additional video of the Guest experience where MFA is mandatory for guest accounts"
[Enter feedback here]
It would be a very useful enhancement of this content to also have a video of the Guest user experience where the guest account policy includes a MFA experience.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ace0390-915a-9b19-83cb-19d4aaffbb02
* Version Independent ID: d8d29213-a347-922a-c1d4-9d

[2021-06-13 06:12] msbemba commented on #5206
@danmyhre That is correct. The roadmap item for Teams Multi-geo support is still in development. The changes will be made on the document on the design change is live.

Thanks
Sri

[2021-06-13 08:41] 0xThiebaut opened #5307 "Microsoft 365 Defender REST API Internal Server Error and OData Protocol $filter System Query Option"
When interacting with the [Microsoft 365 Defender API](https://docs.microsoft.com/en-us/microsoft-365/security/defender/api-error-codes?view=o365-worldwide), an internal server error occurs if the OData Service Model is requested in the JSON format, as specified in the [OData v4.01 URL Conventions section 4.1](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec

[2021-06-14 01:55] danmyhre commented on #5206
It has already been announced in the admin center. We need to get the information posted prior to release for us admins!! :)

[2021-06-14 10:08] JetzeMellema opened #5310 "Update PowerShell samples"
1. Correctly capitalize Set-Mailbox and Get-Mailbox.
2. Add -Identity parameter for consistency with other docs.
3. Get-Mailbox returns only 1000 items by default and will fail to give result if the Scheduler Assistant mailbox is not included in the first 1000 mailboxes, add -ResultSize Unlimited to search all mailboxes.

Now:
Set-mailbox cortana@contoso.com -SchedulerAssistant:$true

Should be:
S

[2021-06-14 10:50] yogkumgit commented on #5228
@msbemba Thank you very much for the contribution and updating the documentation with PR. @hudish Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 10:51] #5228 closed

[2021-06-14 11:21] Kvikku opened #5311 "Error "4029:Multiple notification settings layout payloads" when deploying Defender for endpoint config to iOS"
I get the following error when deploying the Defender for endpoint config profile to iOS devices

4029:Multiple notification settings layout payloads

And the devices do not appear in Security center as onboarded devices.

Thoughts/help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9d7718e-f707-9e4d-8583-4a6385b9b40

[2021-06-14 12:39] yogkumgit commented on #5241
@dougsbaker Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 12:40] #5241 closed

[2021-06-14 12:42] yogkumgit commented on #5203
@cmcatee-MSFT Please update, if it was further investigated. Thanks

[2021-06-14 12:44] yogkumgit commented on #5170
@kwekuako Please update. Thanks

[2021-06-14 12:45] yogkumgit commented on #5156
@MikePlumleyMSFT Please help us in resolving this issue. Thanks

[2021-06-14 12:49] yogkumgit commented on #5115
@TinaMcN Thank you very much for the contribution and sharing this explanation. @phlr2020 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 12:49] #5115 closed

[2021-06-14 12:53] yogkumgit commented on #5092
@lizap Please update. Thanks

[2021-06-14 12:55] MikePlumleyMSFT commented on #5156
@cjtancortex  can you help?

[2021-06-14 12:56] yogkumgit commented on #5079
@MSFTTracyP Please help us in resolving this issue. Thanks

[2021-06-14 12:56] yogkumgit commented on #5080
@MSFTTracyP Please help us in resolving this issue. Thanks

[2021-06-14 12:58] yogkumgit commented on #5063
@cjtancortex Please help us in resolving this issue. Thanks

[2021-06-14 13:03] yogkumgit commented on #4927
@mjcaparas Gentle reminder. Please.

[2021-06-14 13:05] yogkumgit commented on #5205
@msbemba Thank you very much for the contribution and sharing this explanation. @raaghavvv Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 13:08] yogkumgit commented on #5224
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gianlucadardia Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 13:09] #5224 closed

[2021-06-14 13:11] yogkumgit commented on #5225
@msbemba  Thank you very much for the contribution and sharing this explanation. @fmokren Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is r

[2021-06-14 13:12] #5225 closed

[2021-06-14 13:17] yogkumgit commented on #5265
@msbemba Thank you very much for the contribution and sharing this explanation. @adagioajanes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 13:18] #5265 closed

[2021-06-14 13:20] adagioajanes commented on #5265
I believe this should be added to the documentation. It is not clear on any of the Scheduler documentation what account needs to be licensed. Please add that the license must be assigned to the end user, not the Cortana account.

[2021-06-14 13:45] sumitmodi84 opened #5313 "Powershell or Graph API for Activity Explorer"
[Do you have any graph api or powershell commands to query activities. Could not find any documentation for the same.
https://docs.microsoft.com/en-us/microsoft-365/compliance/data-classification-activity-explorer?view=o365-worldwide]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 824cab2c-6c02-7661-745a-75f555576067
*

[2021-06-14 13:55] yogkumgit commented on #5035
@LauraWi Please help us in resolving this issue. Thanks

[2021-06-14 13:57] yogkumgit commented on #5249
@msbemba Thank you very much for the contribution and sharing this explanation. @JamieWilsonCC Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-14 13:57] #5249 closed

[2021-06-14 14:00] yogkumgit commented on #5262
@siosulli Please us in resolving this issue. Thanks

[2021-06-14 14:11] msbemba commented on #5244
@paulaustin-automutatio Thank you for your feedback. I could not reproduce this issue, This could be an issue with your tenant. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide)

[2021-06-14 14:39] msbemba commented on #5304
@softwarecraft Thank you for your feedback. We have made changes to the document  via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5315

Thanks
Sri

[2021-06-14 14:53] cjtancortex commented on #5063
Hi Tracy, I don't have an ETA for the availability of our 3rd party API's yet, but do understand the need for them. For now, extensibility in Topics is through the customization of Topic Center and Topic Pages.

[2021-06-14 14:58] TracyGH commented on #5063
Hi @cjtancortex - Thanks for the response!  What about non-3rd party API's?  I've heard several Microsoft folks mention that Viva Topics use the MS Graph, implying that programmatic operations should be available via the Graph API's.  Is that not the case?

[2021-06-14 15:02] JoeDavies-MSFT commented on #5263
@DanielYusteAroca The article and section has a list of remediation actions that can be undone in the Microsoft Security Center. Can you clarify? Thanks

[2021-06-14 15:03] cabailey commented on #5301
If it's helpful, here's an example with hours - we didn't add this to the documentation because it felt like too much information for most people:

Message is sent 4/13 9:15 am

Message is considered expired starting 4/14 12:00 am

The typical time frame is this happens between 4/14 and 4/21, let's say 4/21 8 pm - at this point the message is soft-deleted and goes into SubstrateHolds folder

The m

[2021-06-14 15:31] surje23 opened #5316 "How to put Windows Defender Antivirus in Passive Mode on Server 2019"
I'm running Windows Server 2019 Standard Version 10.0.17763 Build 17763, and I tried the registry entry you provided to put Windows Defender Antivirus in Passive Mode, but even after adding that key and restarting, when I run the Get-MpComputerStatus PowerShell cmdlet the AMRunningMode line still shows Normal.  Do you have any other directions on how to put Windows Defender Antivirus in Passive Mo

[2021-06-14 16:08] denisebmsft commented on #5316
Hello @surje23. Thank you for posting this question. I will look into this issue and will post an update here soon.

[2021-06-14 16:31] chrisda commented on #5304
@softwarecraft, in the future, you, too can make fixes like this yourself directly; no need to open a GitHub Issue first. For instructions, see <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks again for the feedback.

Closing (related PR approved)

[2021-06-14 16:31] #5304 closed

[2021-06-14 16:46] paulaustin-automutatio commented on #5244
I’ve been trying it through Microsoft Support but haven’t found anyone who can actually look at the problem.

From: Sriraman M S ***@***.***>
Sent: June 14, 2021 7:12 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Paul Austin ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Change of Organization Name (#5244)

@paulaustin-automutatio<https://github.com/p

[2021-06-14 18:05] msbemba commented on #5307
@0xThiebaut Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5318

Thanks
Sri

[2021-06-14 18:08] msbemba commented on #5310
@JetzeMellema Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5319

The changes will reflect once the author approves the PR.

Thanks
Sri

[2021-06-14 18:45] MikePlumleyMSFT commented on #5156
@davidslight I added a section noting that users' personal data (email and OneDrive) is not included in topic discovery. Let me know if there's other information that you're looking for.

[2021-06-14 18:48] LauraWi commented on #5035
@loaderladdy  -- Can you clarify that the ask is to update the package on the Powershell gallery? That's not actionable for the tech docs team, but I can route the request if that's the case.

[2021-06-14 19:20] mjcaparas commented on #4927
Checking with team

[2021-06-14 19:33] loaderladdy commented on #5035
Hi @LauraWi, your spot on with your assessment. It was a circular reference I guess. The landing page for Get-PacFile.ps1' on PowershellGallery references Microsoft Docs, so although this particular Microsoft Docs page refers to the workings of Get-PacFile PowerShell script, my issue is basically a suggestion back to Get-PacFile's authors. As a suggestion it can be routed to our friendly devs that

[2021-06-14 23:15] chrisda commented on #5080
@JeroenDronkers, I updated the topic to mention this.

Closing

[2021-06-14 23:15] #5080 closed

[2021-06-14 23:18] chrisda commented on #5079
@JeroenDronkers. Topic updated.

Closing

[2021-06-14 23:18] #5079 closed

[2021-06-14 23:44] LauraWi commented on #5035
Suggested update forwarded to engineering owners of file at issue.

[2021-06-14 23:44] #5035 closed

[2021-06-15 05:25] mattsmacblog commented on #4891
I have as well but the Docs Team seems to have more influence on changes.

[2021-06-15 10:30] jdcc2 opened #5327 "Several GPO options are wrong in the documentation"
In the "Update endpoint protection configuration" section the "Enable sample collection on machines" policy option Is not located at "\Windows Components\Windows Defender SmartScreen*" but at "\Windows Components\Windows Defender ATP/".

Furthermore, the policy location " \Windows Components\Microsoft Defender AntivirusScan" does not exist an should probably be  \Windows Components\Microsoft Defen

[2021-06-15 10:39] yogkumgit commented on #5156
@davidslight Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-15 10:39] #5156 closed

[2021-06-15 10:44] yogkumgit commented on #5244
@msbemba  Thank you very much for the contribution and sharing this explanation. @paulaustin-automutatio Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if

[2021-06-15 10:45] #5244 closed

[2021-06-15 10:54] yogkumgit commented on #5307
@msbemba Thank you very much for the contribution and updating the documentation with PR. @0xThiebaut Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-15 10:55] #5307 closed

[2021-06-15 11:09] yogkumgit commented on #5247
@msbemba Thank you very much for the contribution and updating the documentation with PR. @glenrmag16 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-15 11:09] #5247 closed

[2021-06-15 11:11] yogkumgit commented on #5243
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SeanTGeoghegan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-15 11:13] #5243 closed

[2021-06-15 12:56] msbemba commented on #5313
@sumitmodi84 Thank you for your feedback. There is no Graph API or PowerShell at the moment, we will update the document once it is made available.

Hope this helps!

Thanks
Sri

[2021-06-15 13:01] msbemba commented on #5272
@suriyanarayanangk Thank you for your feedback. The customer DLP Rule structure needs to evaluated to troubleshoot and advise next steps or find out the root cause as to why it is not working. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/m

[2021-06-15 13:17] suriyanarayanangk commented on #5272
Thank you so much @msbemba for your assistance.

I already reached out to them and I didn't get solutions for my issue.

[2021-06-15 13:29] msbemba commented on #5272
@suriyanarayanangk Thank you for your response. This Channel is specifically created for Documentation updates and we do not troubleshoot issues. I'd recommend you to try contacting support again as that's the right channel.

Thanks
Sri

[2021-06-15 13:32] suriyanarayanangk commented on #5272
Hi Sri,

Thank you so much.

I will try to contact the support again.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Sriraman M S ***@***.***>
Sent: Tuesday, June 15, 2021 7:00:11 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Suriya Narayanan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] DLP Disclaimer Exclusi

[2021-06-15 13:33] sumitmodi84 commented on #5313
@msbemba Thanks for the update.
Cany you also help me with the following
- Is it in Roadmap?
- Is there any way i can listen to sensitivity events in real time like webhooks

[2021-06-15 14:38] lmarianko opened #5329 "License Required for Insider Risk Management in Government - GCC"
Insider Risk Management license states that this license is required: Microsoft 365 G5 subscription (paid or trial version)
Be aware that this license is not an active SKU in government clouds yet.    There is only still Office 365 G5 and Enterprise Mobility and Security E5.  What license do you need in GCC for using Insider Risk Management?  I assume you also need the Compliance add on?  The only

[2021-06-15 15:06] 0xThiebaut opened #5330 "Document Microsoft 365 Defender API OData Protocol Version"
The documentation states the following:

Could you extend the documentation to specify which OData protocol the API uses? According to the API's `$metadata` endpoint it would be `4.0` which I'd like confirmation of.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baf3971a-9371-bd6b-6848-9c0564dbd4db
* Version Independen

[2021-06-15 15:07] jjpb-github-work opened #5331 "Presence of IP addresses means that they are the *only* IP addresses for listed FQDNs, right?"
Something isn't made explicit that is extremely important to know: if, for a particular ID, FQDNs and IP addresses are specified, does that mean that the FQDNs are guaranteed to resolve to an IP address in the given list?

Here's what I mean.

For ID 1, there is a single FQDN:  outlook.office365.us .
There are man IP address blocks listed below it.    I think it's safe to assume that this means th

[2021-06-15 16:59] TomoharuMisawa opened #5333 "日本語訳でX-MS-Exchange-EnableFirstContactSafetyTipの値が分からなくなっている。"
値が有効な X-MS-Exchange-EnableFirstContactSafetyTip という名前のメッセージヘッダーをメッセージに追加することをお勧めします。
と表示されているが、ヘッダーにはNameとValueを設定する必要がある。
よって以下のような記述が正しくなる。
X-MS-Exchange-EnableFirstContactSafetyTip という名前のメッセージヘッダーを作成して値にEnableと設定し、メッセージに追加することをお勧めします。

English translation:

But the header must be set to Name and Value.

Therefore, the following description becomes correct:

Topic in question is [Anti-phishing p

[2021-06-15 18:03] DeanGross opened #5335 "Cloud Shell Information"
Please add some information about how to use the Cloud Shell editor in the M365 Admin Center to this documentation. This is a big gap
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2917486-3681-3696-9358-a569d19b8cd9
* Version Independent ID: 4b1b7859-a4c7-0a14-f80e-2012ed0eaf10
* Content: [Get started with PowerShell

[2021-06-15 18:35] junterpfe opened #5336 "GCC specific urls for endpoints"
now that PowerAutomate/Apps has has it's split for GCC they land here
gov.flow.microsoft.us
make.gov.powerapps.us
apps.gov.powerapps.us
do we need to update the doc to reflect this since it is still showing GCC/Worldwide or should we split them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6

[2021-06-15 18:49] jurjenoskam opened #5337 "Enabling Security Defaults does not award full points for an improvement action mentioned on this page"
Under the heading "Security Defaults", the following is stated:

In a tenant I manage, this is not the case. Security Defaults is enabled, but the improvement action only gets some of the points awarded, not all. I have submitted a Support Request, and received the reply stating that this was working as designed.

Could this paragraph be updated to not mention that full points will be awarded for

[2021-06-15 21:09] chrisda commented on #5333
@TomoharuMisawa, I updated the text as you described.

Thanks for the feedback.

Closing

[2021-06-15 21:09] #5333 closed

[2021-06-15 22:15] cabailey commented on #5132
After discussing with the PM, I'm going to close this and the linked PR with two action items: First, look at the word "Recipient" to see if we need to find an alternative but more likely, add a clarifying explanation into the UI. It's not accurate to replace with "Mailboxes" because when you select users, they often have multiple mailboxes. But it's not accurate to replace it with "Users" either

[2021-06-15 22:15] #5132 closed

[2021-06-16 01:17] pieterhancke opened #5341 "Automation options"
Is there any way to create / manage roles outside of the UI, for example PowerShell?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 796818f1-67d6-9a20-9498-94baf03276d6
* Version Independent ID: a9293050-acc0-7710-52cf-5cf64689d719
* Content: [Create and manage roles for role-based access control](https://docs.microsof

[2021-06-16 07:03] yogkumgit commented on #5272
@msbemba  Thank you very much for the contribution and sharing this explanation. @suriyanarayanangk Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you c

[2021-06-16 07:03] #5272 closed

[2021-06-16 07:08] suriyanarayanangk commented on #5272
Hi @msbemba,

I want to know whether the code that I used for the exclusion of content is correct or not.

I am sharing the link for your reference.

https://docs.microsoft.com/en-us/microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell?view=o365-worldwide

My actual motive is to exclude a Disclaimer part from the DLP Rule will be picked up.

Please help me with the

[2021-06-16 10:40] siosulli commented on #5262
@Dansimp the issue I sent you on yesterday. Thanks!

[2021-06-16 12:57] dkotars opened #5342 "Policy Tips and conditions for overrride"
We may want to consider updating the documentation to indicate when the user will get an override justification window.

we were advised by support that the behavior is as follows:

<meta name="ProgId" content="Word.Document">
<meta name="Generator" content="Microsoft Word 15">
<meta name="Originator" content="Microsoft Word 15">
<link rel="File-List" href="file:///C:/Users/dakotars/AppData/Local/

[2021-06-16 17:54] mjcaparas commented on #4927
@sanderdewit
According to the team:

If you submit a 2nd indicator with the same: IndicatorValue, IndicatorType, action and rbacGroups. It will edit the same indicator.

If you change one of those properties, it will create a new one.

[2021-06-16 17:54] #4927 closed

[2021-06-16 19:38] doug-strother opened #5347 "Common Attacks and Microsoft Capabilities That Protect Your Organization Last Rev 2017 - Need Update or Removal?"
Greetings,

The Cloud Architecture Model referenced herein is from 2017.

Many features have been renamed or evolved. The branding should be updated.

Content is lagging behind - example, attack concepts such as APT should be added and existing attack concepts freshened up.

Or if a better poster exists anywhere else on docs.microsoft.com. perhaps that can be leveraged or used as replacement.

I r

[2021-06-16 21:12] rudischenck commented on #5020
Is there any update on this?

[2021-06-16 21:29] danmyhre opened #5348 "Geo Naming"
please add details on the naming restrictions for geos in this section:
https://docs.microsoft.com/en-us/microsoft-365/enterprise/multi-geo-tenant-configuration?view=o365-worldwide#add-satellite-locations-to-your-tenant

For example, you can't use "-" but you can use "_". It is unclear what the restrictions are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-06-16 22:01] chrisda commented on #5020
@rudischenck, the cmdlet reference topics published just yesterday 6/16/21:

- <https://docs.microsoft.com/powershell/module/exchange/get-phishsimoverridepolicy>
- <https://docs.microsoft.com/powershell/module/exchange/new-phishsimoverridepolicy>
- <https://docs.microsoft.com/powershell/module/exchange/remove-phishsimoverridepolicy>
- <https://docs.microsoft.com/powershell/module/exchange/set-phis

[2021-06-17 12:13] yogkumgit commented on #5306
@efrene Please help us in resolving this issue. Thanks.

[2021-06-17 13:08] msbemba commented on #5311
@Kvikku Thank you for your feedback. I could not reproduce this issue, so this is most likely not a bug or a common issue, moreover this section of this repository is intended for product documentation only.

The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.micro

[2021-06-17 13:50] msbemba commented on #5302
@AlexJerabek Thank you for your feedback. We have added a note on the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5351

Thanks
Sri

[2021-06-17 13:59] msbemba commented on #5289
@dm3942 Thank you for your feedback. It is recommended not to remove python as it could cause a lot of other issues as suggested by Thomas.

Hope this helps!
Thanks
Sri

[2021-06-17 14:07] ryeguy637 opened #5352 "Multi-Geo Location vs eDiscovery Location"
The information relating to the location of data when using Multi-Geo is confusing.

For example, the United Arab Emirates is shown to be using **Southeast or East Asia datacenters** on [https://docs.microsoft.com/en-us/microsoft-365/enterprise/plan-for-multi-geo?view=o365-worldwide] and on [https://docs.microsoft.com/en-us/microsoft-365/enterprise/multi-geo-tenant-configuration?view=o365-worldwid

[2021-06-17 14:23] MikePlumleyMSFT commented on #5352
@AdwoodMicrosoft can you comment?

[2021-06-17 14:55] artur-gawrych opened #5353 "MFA Setup guide is not consistent."
In the video user is asked to select **"Receive notifications for verification"**, but at the end of the video he's asked to take a note of the code displayed on a mobile device and enter the code manually rather than use the notification option.

I was hoping to share this video with my clients but it would cause more problems and confusion than help.

---
#### Document Details

⚠ *Do not edit th

[2021-06-17 15:11] haydanbarry opened #5354 "Incorrect selection Name"
[Enter feedback here]
Step 4 on this page is:
4. Select the user's name to go to their properties pane, and on the Account tab, select Initiate sign-out.

Please change "select Initiate sign-out" to "Sign out of all sessions".  This is what is actually displayed on the Accounts section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-06-17 16:16] Beschorr opened #5356 "Steps out of date?"
The set of steps on this page don't appear to be accurate anymore. In Step 2 there isn't any "Increase protection from advanced threats" on the Setup page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43be63d8-b28e-1a2c-e2d5-7e0e55919553
* Version Independent ID: 56399ab7-cd7f-bd65-afe0-a8724ae28b60
* Content: [Manag

[2021-06-17 16:40] lomayor commented on #4211
@schmurky @Dansimp, since this table is simply pulling info from TVM, I believe this needs to be addressed in TVM docs. Can you please help check if we have sufficient info in TVM docs indicating whether or not we have Windows Server coverage for secure configurations?

[2021-06-17 16:45] lomayor commented on #3746
@Dansimp, do we have someone who can take over this doc? I'm actually not sure if this is a support issue, i.e. M365D is failing to ingest IDP alerts from MCAS or this is an actual limitation that needs to be documented. If it is the latter, I think a this should be discussed in detail where we provide instructions on how to integrate the IDP alerts:

https://docs.microsoft.com/en-us/cloud-app-sec

[2021-06-17 16:54] msbemba commented on #5269
@RichardSwart Thank you for your feedback. I was able to test the query and it seems to be working fine.

![image](https://user-images.githubusercontent.com/45987684/122440863-9bd18b80-cfba-11eb-90b4-3b75cf43a71c.png)

This could be more of an issue for your tenant, The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the infor

[2021-06-17 19:25] efrene commented on #4033
@npherson - Just checking to see if you had a chance to review the draft yet. Thanks.

[2021-06-17 19:32] npherson commented on #4033
Thank you so much for the ping - I had completely lost track of this!!! I'll try to get you notes quick.

[2021-06-17 19:42] efrene commented on #4256
Added links in this article to others for more information.

[2021-06-17 19:42] #4256 closed

[2021-06-17 19:45] efrene commented on #5306
@alex--thomas - Thank you so much for this great feedback.  I'll look into the possibility of doing this. Thanks again!

[2021-06-17 19:45] #5306 closed

[2021-06-17 19:51] efrene commented on #4462
Forwarded the information of this issue to engineering. Thanks!

[2021-06-17 19:51] #4462 closed

[2021-06-18 01:06] anthonynz opened #5359 "Junk email reporting add-in tool broken."
The link to download the Report Junk Email add-in is dead.

On this page:
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/junk-email-reporting-add-in-for-microsoft-outlook?view=o365-worldwide#install-the-junk-email-reporting-add-in

The download link:
https://www.microsoft.com/download/details.aspx?id=18275

And actually, the add-in sends junk reports to abuse@messaging

[2021-06-18 01:09] anthonynz commented on #5262
+1

If I use the version that was available earlier this year, it results in an NDR for every junk message reported.

"Your message to abuse@messaging.microsoft.com couldn't be delivered"

[2021-06-18 08:08] mediaguycouk opened #5361 "Typo in consent URL"
The consent URL has a backslash, which should not be present
`adminconsent?client\_id=2d94989f-457a-47c1-a637-e75acdb11568`
`adminconsent?client_id=2d94989f-457a-47c1-a637-e75acdb11568`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac2edeec-b96d-f265-d676-f16177d13d2d
* Version Independent ID: a975c834-52f2-4e9c-8486-

[2021-06-18 08:12] myfope opened #5362 "Customer information within screenshot"
Hi,

within the screenshot directly beneath the URL [https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/threat-explorer?view=o365-worldwide#threats-in-urls](url) we can see a customer name. Should be removed, I think. Visible in the URL samples and the MessageID

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-06-18 09:35] MatteoC5 opened #5363 "Attach Surface Reduction rules number"
Hello,

the section
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction?view=o365-worldwide#attack-surface-reduction-rules
says the wrong number of total rules present.

The table below contains 16 rules, while the text indicates 15 rules

Thank you

[2021-06-18 10:47] yogkumgit commented on #4999
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mariuszo-at-microsoft-com Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-18 10:48] #4999 closed

[2021-06-18 14:51] born-slippy opened #5364 "Approving Azure App"
This documentation appears to be missing information on how to approve the Azure app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b696e622-361b-0be8-0b1f-b2ad9708c877
* Version Independent ID: 18403e7b-adb6-2828-54c6-ddd410eacadd
* Content: [Use Microsoft Teams classes with Canvas](https://docs.microsoft.com/en-us/m

[2021-06-18 16:52] #5201 closed

[2021-06-18 16:52] tklarsen commented on #5201
closed

[2021-06-18 19:20] denisebmsft commented on #5363
Hello @MatteoC5. Thank you for the feedback. I have updated the article, and the changes will render live later today. Thank you again!

[2021-06-18 19:20] #5363 closed

[2021-06-18 20:43] LauraWi commented on #5187
I believe this issue was resolved via internal email on 6/2 with the following explanation from engineering: Why does the HTML web page show FQDNs like <tenant>.sharepoint.com but the web service returns *.sharepoint.com?
The HTML web page at  http://aka.ms/o365ip shows <tenant> as a convenience to the reader to indicate that this token should be replaced by the customers tenant name such as conto

[2021-06-18 20:43] #5187 closed

[2021-06-18 20:45] LauraWi commented on #4975
This issue is autogenerated as human-readable reference info from the same source as the web service, so we're limited in our ability to insert editorial copy that won't be overwritten.

[2021-06-18 20:45] #4975 closed

[2021-06-18 20:48] LauraWi commented on #5078
Thank you for the suggestion. We will monitor for additional customer demand on this topic. At this time, we're not resourced to support this content request.

[2021-06-18 20:48] #5078 closed

[2021-06-18 20:53] LauraWi commented on #4214
Hi @robgarrett Can you follow up via internal channels so we can have confirmation via engineering owners? Tested & works is not always the same as supported.

[2021-06-18 20:54] #4214 closed

[2021-06-18 21:10] LauraWi commented on #2762
These workloads haven't been onboarded to the service that populates this table. Does the information in this article help:
https://docs.microsoft.com/en-us/power-automate/limits-and-config#ip-addresses

[2021-06-18 21:10] #2762 closed

[2021-06-18 21:19] LauraWi commented on #3308
Updates queued/

[2021-06-18 21:19] #3308 closed

[2021-06-18 21:30] LauraWi commented on #4049
Is your firewall able to use/validate the versions included in the Web service? This article is provided for human reference. Recommendation is to access them directly from the service. https://docs.microsoft.com/en-us/microsoft-365/enterprise/managing-office-365-endpoints?view=o365-worldwide

[2021-06-20 03:30] msbemba commented on #5361
@mediaguycouk Thank you for your feedback. We have removed the backslash from the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5367

Thanks
Sri

[2021-06-20 20:14] VDMT opened #5369 "Incorrect reference to 'Reports reader'"
There is an incorrect reference to 'Reports reader' under section titled ["Commonly used Microsoft 365 admin center roles"](https://docs.microsoft.com/en-NZ/microsoft-365/admin/add-users/about-admin-roles?WT.mc_id=365AdminCSH_inproduct&view=o365-worldwide#commonly-used-microsoft-365-admin-center-roles) under admin role: Power Platform admin

---
#### Document details

⚠ *Do not edit this section.

[2021-06-21 04:40] #4049 closed

[2021-06-21 04:57] yogkumgit commented on #5348
@MikePlumleyMSFT Please help us in resolving this issue. Thanks

[2021-06-21 05:01] yogkumgit commented on #5347
@samanro Please help us in resolving this issue. Thanks

[2021-06-21 05:02] yogkumgit commented on #5342
@chrfox Please help us in resolving this issue. Thanks

[2021-06-21 05:04] yogkumgit commented on #5336
@LauraWi Please help us in resolving this issue. Thanks

[2021-06-21 05:06] yogkumgit commented on #5335
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2021-06-21 05:07] yogkumgit commented on #5331
@LauraWi Please help us in resolving this issue. Thanks

[2021-06-21 05:10] yogkumgit commented on #5329
@robmazz Please help us in resolving this issue. Thanks

[2021-06-21 05:44] yogkumgit commented on #5301
@VShrubowich Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-21 05:44] #5301 closed

[2021-06-21 05:51] yogkumgit commented on #4965
@chrfox Please help us in resolving this issue. Thanks

[2021-06-21 05:53] yogkumgit commented on #5269
@msbemba Thank you very much for the contribution and sharing this explanation. @RichardSwart Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-21 05:53] #5269 closed

[2021-06-21 05:58] yogkumgit commented on #5278
@AshaIyengar21 Please help us in resolving this issue. Thanks

[2021-06-21 06:02] yogkumgit commented on #5289
@msbemba Thank you very much for the contribution and sharing this explanation. @dm3942 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-21 06:02] #5289 closed

[2021-06-21 06:05] yogkumgit commented on #5311
@msbemba  Thank you very much for the contribution and sharing this explanation. @Kvikku Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2021-06-21 06:05] #5311 closed

[2021-06-21 07:00] schmurky commented on #4211
I am checking now.

[2021-06-21 10:45] lars-whta opened #5371 "The logotype resolution is not consistent between documentation and the office admin portal."
According to the admin portal:

"Must be at least 200x30 pixels or larger. May be scaled to fit in that size. Highly suggested for tenant branding."

According to this page:

"Default logo: Add a URL location that points to your logo. Make sure that the URL uses HTTPS. Add a HTTPS image url that allows anonymous access and doesn't require authentication. For default theme, you also have an option

[2021-06-21 12:29] mediaguycouk commented on #5361
Thank you

[2021-06-21 12:29] #5361 closed

[2021-06-21 12:48] MikePlumleyMSFT commented on #5348
@AdwoodMicrosoft can you help?

[2021-06-21 17:13] redmondChris opened #5373 "Extra File Storage for academic service plans"
Academic service plans are not listed on the eligible list. If M365 A* SKUs are not eligible for the extra file storage described here, please add a note and if possible, provide a link to a page about extra file storage for academic plans.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1c

[2021-06-21 18:53] JoeDavies-MSFT commented on #5335
@DeanGross Hi Dean! I have updated the article for the Cloud Shell editor in the M365 Admin Center. Thanks for letting us know!

[2021-06-21 18:53] #5335 closed

[2021-06-21 20:17] michaelvgibson opened #5377 "Last section needs updated to reflect the New Exchange Admin Center."
The Exchange Online section of this tutorial needs updated to reflect the steps to take inside the New Exchange admin center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ecd4f58-0a50-05f2-426d-6bc8ca8f5940
* Version Independent ID: b3344450-204e-3bb4-54ad-5fa4f85a2695
* Content: [Step 1 - Stop an employee from logg

[2021-06-21 21:11] DanielYusteAroca commented on #5263
Sorry @yogkumgit and @JoeDavies-MSFT but in the article  [Review and manage remediation actions in Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/air-review-approve-pending-completed-actions?view=o365-worldwide) I can not find the list of remediation actions for email that can be undone.  Could you please share the link for such a list?

I have the list in

[2021-06-21 22:44] msbemba commented on #5337
@jurjenoskam Thank you for your feedback. I have tested and the Secure score does increase when the recommendations like Security defaults are enabled. If you have waited for over 24 hours, The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/micr

[2021-06-21 22:47] msbemba commented on #5359
@anthonynz Thank you for your feedback. We are working internally on this matter and will update the document if need be.

Thanks
Sri

[2021-06-21 23:14] msbemba commented on #5354
@haydanbarry Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5379

Thanks
Sri

[2021-06-21 23:31] msbemba commented on #5330
@0xThiebaut Thank you for the feedback. You are correct, the API uses Open Data Protocolversion 4.0.

Hope this helps!

Thanks
Sri

[2021-06-21 23:39] msbemba commented on #5313
@sumitmodi84 Thank you for your feedback. We do not have it in the roadmap yet and don't have a way to listen to sensitive events. Thank you for providing feedback to help improve a Microsoft product! To make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/topics/microsoft-graph-compliance.html).

[2021-06-21 23:44] msbemba commented on #5204
@Marius-M7 This refers to the 32-bit outlook client. It works on 64-bit outlook clients.

Thanks
Sri

[2021-06-22 01:45] Atreidae opened #5380 "Link for Scheduler licencing goes to a 404"
Hi Team,  The link for more information on the Scheduler licencing in the table at the top of the page goes to a 404
The link points here: https://www.microsoft.com/microsoft-365/meeting-scheduler-pricing
When it should probably point here: https://www.microsoft.com/en-us/microsoft-365/meeting-scheduler-pricing

This table is what I'm referring to
<html>
<body>

What do I need? | Description
-- |

[2021-06-22 04:11] leco36 opened #5382 "Eventhub blocking graph change notifications confirmation of Graph API IP Address Range"
Turning the Allow access from Selected Networks on is causing the eventhub to reject Microsoft Graph Change Notifications. We have specified the addresses in 23 on https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls?view=o365-worldwide.

Does anyone know if the address range is the most up to date or if there is any other ip addresses needed?

---
#

[2021-06-22 06:55] MrAzureAD opened #5385 "Review global admin requirement"
Typically, office policy configuration does not require Global Admin, but also works with Office Apps Admin.
Details: https://docs.microsoft.com/en-us/deployoffice/overview-office-cloud-policy-service

This document however does not offer any alternative permissions and requires Global Admin.
I am quite sure Office Apps Admin will also work here, so kindly review the permission statement.

---
###

[2021-06-22 12:39] DeanGross opened #5388 "How can we view the lists"
How can we see the lists that have been created for the IOCs? where is the data stored, and how can it be reviewed? Please add some documentation for this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e04266df-a692-ddef-5f05-ea40d82a0eed
* Version Independent ID: d0ac62e7-498f-399d-c701-d7cbeb85cced
* Content: [Creat

[2021-06-22 15:23] chrfox commented on #5342
Hi @dkotars - This is great information. Can you share with me (chrfox@microsoft.com) who in support gave you this table?  I want to include it in upcoming documentation.

[2021-06-22 15:59] dkotars commented on #5342
Ravi Sharma - ***@***.***

Respectfully,

Dan Kotarski

Customer Engineer
Messaging/Security and Compliance
Microsoft Services

Upcoming PTO:
June 18 , 2021
July 15 (Afternoon), 2021
July 21-27, 2021
Office: +1 (518) 292-2983
***@***.******@***.***>
[Twitter]<https://twitter.com/Microsoft>    [Facebook] <https://www.facebook.com/Microsoft>     [Linkedin] <https://www.linkedin.com/company/microsoft

[2021-06-22 16:25] samanro commented on #5347
@BrendaCarter - do we have this page on the list to update with our vendors?

[2021-06-22 18:04] neumarke opened #5395 "Where is the Microsoft-Teams-Sync-for-Canvas Azure app?"
Would appreciate more detail in how to find and approve the "Microsoft-Teams-Sync-for-Canvas Azure app" which is a prerequisite for the steps on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b696e622-361b-0be8-0b1f-b2ad9708c877
* Version Independent ID: 18403e7b-adb6-2828-54c6-ddd410eacadd
* Content: [Use M

[2021-06-22 23:51] MarkF26 opened #5398 "Explain Differences between Retention Policies"
Consider the following document:
https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide

Can you please explain the difference between the following retention policies?
choice A is when you select the **“Retention for a specific period**” https://docs.microsoft.com/en-us/microsoft-365/compliance/create-retention-policies?view=o365-worldwide#retainin

[2021-06-23 00:25] nhogarth86 opened #5399 "Where is the device control report?"
Where is the device protection report in https://security.microsoft.com/securityreports ? Mine isn't listed. Under Reports and Endpoints all I can see is Thread protection, Device health and compliance, Vulnerable devices an Web protection reports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac8deee5-bb2d-24da-0a31-

[2021-06-23 03:32] nhogarth86 opened #5400 "Old screenshot of Microsoft Defender Baseline in Intune"
The screenshot under the "Use Microsoft Defender for Endpoint baseline settings" section is old. The new baseline does not contain "Device control"

[2021-06-23 08:27] msbemba commented on #5327
@jdcc2 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5401

Thanks
Sri

[2021-06-23 08:29] msbemba commented on #5341
@pieterhancke Thank you for your feedback. You can use PowerShell to assign basic permissions to access the portal. The document -https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/basic-permissions?view=o365-worldwide talks about this in detail.

We don't have options to assign more granular or RBAC roles via PowerShell yet.

Hope this helps!

Thanks
Sri

[2021-06-23 08:44] msbemba commented on #5353
@artur-gawrych Thank you for your feedback. At the end of the video, the option to use a verification code to contact was selected at 0.42

That is why you notice the narrator asking to copy the verification code.

Hope this helps!

Thanks
Sri

[2021-06-23 09:22] GeorgHue opened #5402 "Difference between Install-Module and Import-Module?"
Hi,

what is the difference between
`Install-Module -Name O365CentralizedAddInDeployment`
and
`Import-Module -Name O365CentralizedAddInDeployment`
?
Which command is recommended in the article's context?

Greetings, Georg

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a092120-6209-1c44-8bc1-f989f62f37b7
* Version Inde

[2021-06-23 09:29] msbemba commented on #5356
@Beschorr Thank you for your feedback. We have made changes to the steps via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5403

Meanwhile, Steps 1 and 2 still remain the same. If you have the Microsoft Defender ATP license, you should be able to see the options.

Thanks
Sri

[2021-06-23 09:45] msbemba commented on #5362
@myfope Thank you for your feedback. We have removed customer information from the screenshot. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5405

Thanks
Sri

[2021-06-23 10:18] artur-gawrych commented on #5353
You're right, my bad.

[2021-06-23 10:18] #5353 closed

[2021-06-23 11:58] sebhe opened #5408 "Encryption - what kind of encryption?"
Can you please provide more details on the encryption chapter? What kind of encryption (OME, AIP/sensitivity labels, S/MIME) are you referring to?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289f2440-9c44-7d93-20e3-baa9e9892cd9
* Version Independent ID: abc4e209-a071-d28a-cb01-aa72bbaee7c0
* Content: [About

[2021-06-23 12:08] michaelvgibson opened #5409 "Possible modification for Section 2 above."
I think a How-To for section 2 above is warranted.  Not sure if it is possible to export a PST from the web version of the Outlook portal.  There could be a link to "Add an email account to Outlook"   https://support.microsoft.com/en-us/office/add-an-email-account-to-outlook-6e27792a-9267-4aa4-8bb6-c84ef146101b

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-06-23 14:19] yogkumgit commented on #5261
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MichaelRyan87 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-23 14:19] #5261 closed

[2021-06-23 14:24] yogkumgit commented on #5354
@msbemba Thank you very much for the contribution and updating the documentation with PR. @haydanbarry Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-23 14:25] #5354 closed

[2021-06-23 14:25] UnexpectedLemon opened #5411 "PST Max File Size Clarification"
The documentation notes: As previously stated, each PST file that you upload to the Azure Storage location should be no larger than 20 GB. PST files larger than 20 GB may impact the performance of the PST import process that you start in Step 6.

What does this actually mean, is this a hard limit, or do we just need to wait and should consider submitting large PSTs in their own job?

1) We submitt

[2021-06-23 14:56] nanoonan538 opened #5412 "import file required fields"
[Enter feedback here]
To assist customers with building their import files, it would be helpful to include which fields/attributes are required vs. optional in our documentation for easy reference.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4465ca1-9ee2-e551-aff2-9fc8e4a5eae3
* Version Independent ID: 2cbc9375-d05

[2021-06-23 15:41] Beschorr commented on #5356
Thanks Sri. I was looking at an M365 Business Premium admin center when it appeared that the steps were different. Perhaps we need some note for customers using that SKU that their steps may appear slightly different?

Ben Schorr (he/him)
Senior Content Designer | Experiences + Devices | Microsoft 365 Cybersecurity
https://support.microsoft.com/security
[Microsoft Logo]
___________________________

[2021-06-23 15:57] markjjo commented on #5411
@UnexpectedLemon The article states the 20GB limit. Would suggest you continue working with support on this issue and to answer these questions. Seems that you could also test some of your suggested workarounds. You could also try using the New-MailboxImportRequest cmdlet in Exchange Online PowerShell for the large PST, but that cmdlet **is not** supported in Exchange Online. Not sure if doing tha

[2021-06-23 15:57] #5411 closed

[2021-06-23 17:42] #5327 closed

[2021-06-23 18:33] msbemba commented on #5369
@VDMT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5414

Thanks
Sri

[2021-06-23 19:30] jebalert opened #5416 "Request for review of the following statement "Audit logging is turned on by default for Microsoft 365 and Office 365 enterprise organizations. This includes organizations with E3/G3 or E5/G5 subscriptions.""
Please confirm the accuracy of the following statement in the documentation "Audit logging is turned on by default for Microsoft 365 and Office 365 enterprise organizations. This includes organizations with E3/G3 or E5/G5 subscriptions."

I have not found this to be accurate in enterprise tenants (E3, **G3**, E5, **G5** (or dev tenants). Requires admin to turn the logging feature on.

---
#### Doc

[2021-06-23 19:42] soupman98 opened #5417 "MMD Docs R&R - User Support is out of date"
With the deprecation of 1st party support the User Support section (Microsoft) is no longer accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84224d97-478e-9bf6-85af-a74d0bbfe382
* Version Independent ID: ee3d7788-67a1-8cd0-9326-84248a858703
* Content: [Microsoft Managed Desktop roles and responsibilities - Micr

[2021-06-23 19:48] soupman98 opened #5418 "MMD R&R -"
With the deprecation of 1st party support the User Support section (Microsoft) is no longer accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84224d97-478e-9bf6-85af-a74d0bbfe382
* Version Independent ID: ee3d7788-67a1-8cd0-9326-84248a858703
* Content: [Microsoft Managed Desktop roles and responsibilities - Micr

[2021-06-23 19:50] soupman98 opened #5419 "MMD R&R - Device/peripherals"
with the deprecation of 1PS, and in general.... This document should more clearly call out that device support and hardware support  at a hardware level is the responsibility of the customer. Repair or warranty work for Surface devices and peripherals, monitors, keyboards, cameras, printers, docking stations beyond driver deployment via Windows Update (MMD) is the responsibility of the customer.

[2021-06-23 19:58] UnexpectedLemon commented on #5411
Thanks @markjjo -- I don't read this as a hard 20GB service limit if it only states "PST files larger than 20 GB may impact the performance of the PST import process." Same for this quote earlier in on this page "Large PST files may impact the performance of the PST import process. So we recommend that each PST file you upload to the Azure Storage location in Step 2 should be no larger than 20 GB.

[2021-06-24 01:52] jianhsieh opened #5422 "eDiscovery "Review" permission confusion"
[Enter feedback here]

For document Assign eDiscovery permissions in the Microsoft 365 compliance center, the only mention about "Review" permission is to let users access review sets in "Advanced eDiscovery". Customer had the impression that they do not need "Review" for "Core" eDiscovery, therefore removed review. We need "Review" for eDiscovery without a doubt, but there is no document that sta

[2021-06-24 10:04] yogkumgit commented on #5382
@LauraWi Please help us in resolving this issue. Thanks

[2021-06-24 10:04] yogkumgit commented on #5388
@mjcaparas Please help us in resolving this issue. Thanks

[2021-06-24 10:05] yogkumgit commented on #5364
@cichur Please help us in resolving this issue. Thanks

[2021-06-24 10:16] yogkumgit commented on #5020
@rudischenck Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-24 10:16] #5020 closed

[2021-06-24 11:00] #5052 closed

[2021-06-24 11:02] #5125 closed

[2021-06-24 11:06] yogkumgit commented on #5204
@msbemba Thank you very much for the contribution and sharing this explanation. @Marius-M7 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-24 11:06] #5204 closed

[2021-06-24 11:08] #5205 closed

[2021-06-24 11:11] yogkumgit commented on #5313
@msbemba Thank you very much for the contribution and sharing this explanation. @sumitmodi84 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-24 11:11] #5313 closed

[2021-06-24 11:17] yogkumgit commented on #5330
@msbemba Thank you very much for the contribution and sharing this explanation. @0xThiebaut  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-24 11:17] #5330 closed

[2021-06-24 11:19] yogkumgit commented on #5337
@msbemba  Thank you very much for the contribution and sharing this explanation. @jurjenoskam
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it as here, we are limited to documentation fixes and improvements only.
We will be very happy if you can sha

[2021-06-24 11:20] #5337 closed

[2021-06-24 11:22] yogkumgit commented on #5341
@msbemba Thank you very much for the contribution and sharing this explanation. @pieterhancke Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-06-24 11:22] #5341 closed

[2021-06-24 11:44] koulchi opened #5425 "'Sending email from the proxy address easily' : Easy, but not working yet"
Hello,
It would be nice to update the following section, which states:

But this is not true. Even with `-SendFromAliasEnabled $true`, the recipient receives email from the primary SMTP.

Today the only way to achieve is with shared mailbox and forwarding rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94754a91-a

[2021-06-24 11:47] jurjenoskam commented on #5337
@yogkumgit @msbemba I already have gone through a Support Request, the number of which I can send you if you like. They saw the same thing as what I and @msmemba above saw: the Secure Score for the improvement point "Ensure all users complete multi-factor authentication for secure access" did indeed _increase_ when Security Defaults is enabled, but **the documentation says something else**:

(Emph

[2021-06-24 11:57] oshezaf opened #5426 "Missing column from the reference table"
The column name InitiatingProcessFolderPath is missing in the table. As a reference, it is similar to InitiatingProcessFolderPath in the [DeviceProcessEvent](https://docs.microsoft.com/en-us/microsoft-365/security/defender/advanced-hunting-deviceprocessevents-table?view=o365-worldwide) doc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-06-24 12:13] DeanGross opened #5427 "Missing Instructions - Vulnerabilities Notification rules"
I cannot find any instructions about configuring the Notification Rules for Vulnerabilities on https://security.microsoft.com/preferences2/email_notifications/vulnerabilities.

Please add this to the documentation
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f066b4c-ef35-cb0a-50af-8d8cfd381790
* Version Independent I

[2021-06-24 12:23] oshezaf commented on #5426
My bad. Missed it.

[2021-06-24 12:23] #5426 closed

[2021-06-24 13:10] ekston opened #5428 "RSS link not complete?"
[Enter feedback here]

The RSS feed starts with /api/ and it is unclear to which URL this must be added to.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3c8fbe3-a993-4685-e747-fbee780bc661
* Version Independent ID: 1dfaaf75-255d-af48-b240-a4314e91bf3a
* Content: [What's new in Microsoft Defender for Endpoint](https:/

[2021-06-24 13:45] msbemba commented on #5337
@jurjenoskam I'll verify this internally and update the document if need be.

Thanks
Sri

[2021-06-24 15:53] markjjo commented on #5416
@jebalert Can you please clarify what exact subscriptions require that auditing be enabled? Are you saying that auditing has to be enabled in G3 and G5. Also, what is a dev tenant? Not sure this would be in-scope. Mote details would be helpful.

[2021-06-24 16:42] ispoole commented on #4177
1.	Is there a specific date at which it will no longer be possible to connect to Microsoft 365’s SMTP service with TLS 1.0/1.1? Documentation we’ve found online indicates that deprecation began on September 2020, but it is still ‘working’ and we have found no references to an end-of-service date past which connections will be refused.
2.	If the rollout is progressive, is there a way to tag this pa

[2021-06-24 16:59] WorkShay commented on #4177
@Fasheng ***@***.***>

Best,
Shayna

Pronouns: they/them<https://www.mypronouns.org/they-them#:~:text=A%20person%20who%20goes%20by%20%E2%80%9C%20they%20%E2%80%9D,theirs.%20I%20like%20both%20them%20and%20their%20ideas.%E2%80%9D> || she/her<https://www.mypronouns.org/she-her#:~:text=A%20person%20who%20goes%20by%20%E2%80%9C%20she%20%E2%80%9D,hers.%20I%20like%20both%20her%20and%20her%20ideas.%E2%80%9D

[2021-06-24 17:36] mjcaparas commented on #5388
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/indicator-manage?view=o365-worldwide

[2021-06-24 17:36] #5388 closed

[2021-06-24 17:48] jebalert commented on #5416
Hey Mark,

Not saying there's a need, I'm saying the documentation says it's on by default but that's not been the case for me. I've always had to turn it on. Was looking to make sure the statement in the documentation is accurate.

Thanks

[2021-06-24 18:07] varunaggar opened #5431 "KeyVaults and Multi-geo"
What are the best practices for AKV when the tenant is multi-geo ?

Should there be only two AKV close to the default geo or should there be two AKV for each geo ?

If the AKV's are in default geo, then does it impact on the data stored in satellite geo's ?
If the AKV's in default geo are down or unreachable due to any reason does it mean that data in satellite geo is un-accessible

---
#### Docum

[2021-06-24 18:16] markjjo commented on #5416
@jebalert The statement is accurate. Auditing was not always enabled by default, but it is now. Not sure why or in what situations you are having to turn if on. Not sure if this extends to dev tenants (we typically don't call dev tenant behavior if it is different from other subscriptions). You might consider opening a ticket with MS Support for G3/G5 tenants. I will also follow up with engineerin

[2021-06-24 18:16] #5416 closed

[2021-06-24 18:28] motoki1 opened #5432 "Download PST using OWA?"
"...Outlook web app, and then export the data to a .pst file"
Can't export to PST in OWA/outlook.com, but that would be a great feature to have. Please let me know if I'm wrong about that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b2ba944-52a9-1dc9-eebe-e16111a8ccc4
* Version Independent ID: 22f2b1ec-a287-b315-ae

[2021-06-24 18:39] mjcaparas commented on #5131
@kimoppalfens sounds like a role restriction: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/user-roles?view=o365-worldwide#permission-options

[2021-06-24 18:39] #5131 closed

[2021-06-24 18:48] rconiv opened #5433 "Assigning Retention Policy Issue"
It would be handy if there were instructions on how to do this process in the modern environment that they have been pushing us to go to, though for some reason in Edge Chromium, if I go to the classic exchange mode, and go to mailbox, I get an error to try again later.  Works fine in other browsers.

My main issue is, that I go to the mailbox, pick a user, and go to the area where I can pick rete

[2021-06-24 18:53] rconiv commented on #5398
If I read it right, in one of the many documents I have been grinding through to find information about retention, say you modified a document 6 years ago.  A year from now, it will be deleted, since that will be the 7 year mark since it was modified.  If you had modified it 8 years ago, it would be deleted immediately since it was modified more then 7 years ago.

Myself, I wish there was an optio

[2021-06-24 19:18] cabailey commented on #5433
@rconiv  Are you using messaging records management (MRM)? (https://docs.microsoft.com/exchange/security-and-compliance/messaging-records-management/messaging-records-management) rather than retention policies for Microsoft 365 information governance?  If you are, it looks like the following page is the right one to leave this feedback: https://docs.microsoft.com/en-us/exchange/security-and-compli

[2021-06-24 19:49] markjjo commented on #5422
@jianhsieh Thanks for reaching out. Engineering confirmed the the Review role is not used or does to provide access to Core eDiscovery cases. So the existing documentation is correct, in that Review role is only relevant for Advanced eDiscovery. Since you are internal MSFT support, I would suggest you reach to the eDiscovery escalation team with any more questions.

[2021-06-24 19:49] #5422 closed

[2021-06-24 20:06] rconiv commented on #5433
MRM is the default.  So might be.

[2021-06-24 20:53] BrendaCarter commented on #5347
Hi Doug, Thank you for this request! I'm working with a partner to update this poster. If you would like to be included in the review, please email me -- bcarter @ micrsoft.com

[2021-06-24 23:11] DeanGross commented on #5388
Thanks, but what about the list that stores acceptable IP addresses? When we are investigating an incident that has a suspicous IP address, we can add it to an Allowed list rule. How can we view addresses that were added by other soc analysts?

[2021-06-24 23:47] Rodwhite opened #5436 "Step 8 is incorrect."
Since we're attempting to tell the Endpoints where to find the file within the GPO we need to change it from:

-  Enter the file name and location of the shared WindowsDefenderATPOnboardingScript.cmd file.

    TO:

-  Enter the NetBIOS path to the shared WindowsDefenderATPOnboardingScript.cmd file.
    (i.e. \\Servername\Shared_folder\WindowsDefenderATPOnboardingScript.cmd)

---
#### Document Det

[2021-06-25 00:28] MarkF26 commented on #5398
I am sorry, but I am asking the difference between the two options. I am not sure which options you are explaining.

[2021-06-25 03:31] AndrewRobinsonSKEDA opened #5437 "Unclear how to change the spf"
The document describes how the spf record works and how to format it with various examples, but I was simply trying to edit my spf record (hosted on MS DNS). I was going into my domains in Office365 and clicking ... Manage DNS, and it made me jump through the original dns setup sequence when I had already setup the DNS a long time ago. What I needed to know was to modify the existing spf record in

[2021-06-25 08:25] Burn907 opened #5438 "Report Export"
In large organisations using a single tenant, it is required to be able to export and filter the excellent data in the Business Continuity & Productivity reports. There appears to be no option to do this

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411cc9ec-3de2-9aaf-00b8-d923d2b02f37
* Version Independent ID: c1a0da

[2021-06-25 10:21] grryf opened #5439 "Only passwords for user accounts that are not synchronized through directory synchronization can be configured to not expire."
Below sentence doesn't seem to be true because: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-password-hash-synchronization#enforcecloudpasswordpolicyforpasswordsyncedusers

"Only passwords for user accounts that are not synchronized through directory synchronization can be configured to not expire. For more information about directory synchronization, see Connect A

[2021-06-25 13:11] frankie567 commented on #1521
Definitely agree here. Having to use PowerShell to enable DKIM is completely crazy. You can't reasonably expect small business customers with limited tech knowledge (and no dedicated IT employees) to achieve this.

This is something that can be done in minutes with Google Workspace or e-mailing providers.

[2021-06-25 14:59] Radiergummi commented on #1521
@mypil not responding at all is one way to handle customer feedback. This issue is still standing - the admin center doesn't provide any way to change DKIM keys, and the docs don't even reflect the UI change.

[2021-06-25 17:26] msbemba commented on #5409
@michaelvgibson Thank you for your feedback. It should have been  outlook desktop application instead of web app. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/5441

Thanks
Sri

[2021-06-25 17:32] msbemba commented on #5408
@sebhe Thank you for your feedback. The encryption topic refers to all types of encryptions supported in Microsoft 365. While, you can still encrypt if a shared mailbox has a license assigned, however, members might not be able to read the email (depending on which public key the email was encrypted with).

Hope this helps!

Thanks
Sri

[2021-06-25 17:34] msbemba commented on #5402
@GeorgHue Thank you for your feedback. You will have to install the module only once (for the first time) as mentioned in https://www.powershellgallery.com/packages/O365CentralizedAddInDeployment. However, you will import the module every time you try to use the Centralized Deployment PowerShell cmdlets.

Hope this helps!
Thanks
Sr

[2021-06-25 17:37] msbemba commented on #5400
@nhogarth86 Thank you for your feedback. I do not see a device control option in the screenshot  in the Microsoft defender for endpoint baseline document -https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-machines-security-baseline?view=o365-worldwide

Could you please provide the document that you are referring to?

Thanks
Sri

[2021-06-25 18:28] msbemba commented on #5398
@MarkF26 Thank you for your feedback.
Choice A is to retain, No matter who deletes the data, it will be retained in the organization (retention hold) (more of Information governance-  if there is a requirement to retain data for a certain period of time)

Choice B is to delete after a specific age if the users delete them manually, the data is not retained ( More of a cleanup process).

Thanks
Sri

[2021-06-25 18:32] gigabit-jack opened #5448 "GPO Instructions Reference SmartScreen instead of ATP"
On Step <span>#</span>5 of the section **Additional Defender for Endpoint configuration settings** it references selecting Windows Defender SmartScreen, but should be Windows Defender ATP.

[Direct Link](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-endpoints-gp?view=o365-worldwide#additional-defender-for-endpoint-configuration-settings)

---
#### Document Det

[2021-06-25 18:42] korggy opened #5450 "Download link no longer works."
Download link no longer works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9d71dab-a58d-fbd9-c30f-14f5884f094e
* Version Independent ID: 13e0112c-213d-b462-7833-9d0fe30fc99c
* Content: [Install and use the Junk Email Reporting add-in for Microsoft Outlook - Office 365](https://docs.microsoft.com/en-us/microsoft-365