[2022-04-21 06:55] Russel-Thomas opened #8374 "Grammar correction"
Grammar correction:
In this article, we'll walk you through the steps of adding an existing domain **your** already own or buying a new one.
In this article, we'll walk you through the steps of adding an existing domain _**you**_ already own or buying a new one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc903dd4-9

[2022-04-21 11:19] MikePlumleyMSFT commented on #8084
@nettyham, @msbemba, I checked on this and if you change the expiration time, existing links will keep their current expiration time if the new setting is longer, or be updated to the new setting if the new setting is shorter. I added this to the article.

[2022-04-21 11:22] pjrcdf opened #8375 "Contradicting information re: Exclusions in EDR Block Mode"
In a section marked "Important" this page states

_Microsoft Defender Antivirus exclusions don't apply to other Microsoft Defender for Endpoint capabilities, including [**endpoint detection and response (EDR)**](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/overview-endpoint-detection-response), [attack surface reduction (ASR) rules](https://docs.microsoft.com/en-us/mic

[2022-04-21 12:41] #4572 closed

[2022-04-21 14:15] mntorq opened #8376 "Step 10, missing info"
For Step 10, "The user will now be able to access the former employee's OneDrive using the OneDrive URL"
Where do we find this URL to provide to a user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34c90550-34c3-c6de-81d4-6d85a8bc3f90
* Version Independent ID: 151fb754-7bea-f489-5115-e3551db0f303
* Content: [Step 5 -

[2022-04-21 16:01] RAJU2529 commented on #8374
@Russel-Thomas , Thanks for pointout.

[2022-04-21 19:44] omegagx opened #8380 "Unable to add members when searching by last name"
when following these steps https://docs.microsoft.com/en-us/microsoft-365/compliance/insider-risk-management-configure?view=o365-worldwide#add-users-to-an-insider-risk-management-role-group under step 5 I am unable to search for users by last name. I have to type the first name and searching just by last name when trying to add members produces no results. Documentation should mention that as only

[2022-04-22 00:58] dilipdivgi commented on #8337
Sorry, I should have added ithttps://docs.microsoft.com/en-us/microsoft-365/security/microsoft-365-zero-trust?view=o365-worldwide

-------- Original Message --------
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Missing pages in PDF
document (Issue #8337)
From: VARADHARAJAN K ***@***.***>
Date: Tue, April 19, 2022 6:09 am
To: MicrosoftDocs/microsoft-365-docs
***@***.***>
Cc: dilipdivgi ***@***.*

[2022-04-22 01:50] chungweijian opened #8385 "Nobody from tech support is picking up"
Hi, I've tried calling 3 times, but all 3 times i was waiting in the silence, and then the line just got cut off.

• ANI (Caller's telephone number) - +6 03 4145 6279
• Date of call - 22/04/2022
• Time of call with time zone - between 9.30am - 9.50am
• Options, selected if any - chose the option where i need tech support for emails linked to my organisation's domain
• Experience of call (no answer

[2022-04-22 09:14] fvhemert opened #8386 "The <Manage automated testing settings> has changed, docs need update"
The <Manage automated testing settings> has changed, for example the menu option "Select Automated testing from the left navigation." is no longer available and been replaced by "Testing source"

Please update to align with new menu structure,

Francois
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69f424cd-302d-5845-3

[2022-04-22 09:45] JonesMikael opened #8387 "Clarify what will actually occur when you choose "Allow messages like this""
When you choose "Allow messages like this" for X days, this article gives me the impression that this will be added automatically to the Tenant Allow/Block List here:
https://security.microsoft.com/tenantAllowBlockList

However, that does not seem to be the case. Are these "Allow messages like this" for X days added as hidden or where can they be found during those X days? Can you confirm if this

[2022-04-22 10:03] yogkumgit commented on #8084
@nettyham Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-22 10:03] #8084 closed

[2022-04-22 10:18] yogkumgit commented on #8337
@BrendaCarter Please help us in resolving this issue. Thanks

[2022-04-22 10:19] yogkumgit commented on #7022
@dmennis Author confirmed that this topic is deprecated. Closing

[2022-04-22 10:19] #7022 closed

[2022-04-22 11:29] yogkumgit commented on #8279
@mjcaparas Please help us in resolving this issue. Thanks

[2022-04-22 11:30] yogkumgit commented on #8271
@chrfox Please help us in resolving this issue. Thanks

[2022-04-22 11:31] yogkumgit commented on #8270
@mjcaparas Please help us in resolving this issue. Thanks

[2022-04-22 11:33] yogkumgit commented on #8268
@KCCross Please help us in resolving this issue. Thanks

[2022-04-22 11:34] yogkumgit commented on #8267
@Zvonimir-Maros We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2022-04-22 11:35] #8267 closed

[2022-04-22 11:43] yogkumgit commented on #8149
@zaicnupagadi Author is checking with Product team

[2022-04-22 11:49] yogkumgit commented on #7760
@msbemba

[2022-04-22 11:50] yogkumgit commented on #7493
@rbishop-etq Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-22 11:50] #7493 closed

[2022-04-22 11:54] yogkumgit commented on #8262
@msbemba

[2022-04-22 11:58] yogkumgit commented on #8264
@msbemba Thank you very much for the contribution and sharing this explanation. @Srinivasu9900 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2022-04-22 11:58] #8264 closed

[2022-04-22 12:01] #8265 closed

[2022-04-22 12:02] #8266 closed

[2022-04-22 12:03] yogkumgit commented on #8276
@msbemba Thank you very much for the contribution and updating the documentation with PR. @1024-Kibibytes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-22 12:03] #8276 closed

[2022-04-22 12:04] yogkumgit commented on #8280
@ypae Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-22 12:04] #8280 closed

[2022-04-22 12:07] yogkumgit commented on #8289
@msbemba Thank you very much for the contribution and sharing this explanation. @mcteufelms Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-22 12:07] #8289 closed

[2022-04-22 12:08] yogkumgit commented on #8293
@msbemba Thank you very much for the contribution and sharing this explanation. @zorbag Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outco

[2022-04-22 12:08] #8293 closed

[2022-04-22 12:11] yogkumgit commented on #8296
@msbemba Thank you very much for the contribution and sharing this explanation. @aaronnavratil Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2022-04-22 12:11] #8296 closed

[2022-04-22 12:25] yogkumgit commented on #8323
@erohner55 Considering the nature of the issue please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valu

[2022-04-22 12:25] #8323 closed

[2022-04-22 14:59] nitvit610 opened #8388 "Purview left pane description wrong"
Document mentions to go to Information governance > Import however it is now Data lifecycle management > Import.
The purple information box below also mentions to be assigned the required permissions as mentioned in the Before you begin section, however this does not mention what permissions are required to access the Data lifecycle management tab (if any?).

---
#### Document Details

⚠ *Do not e

[2022-04-22 16:34] dbrewer89 opened #8389 "Unable to change settings"
[Enter feedback here]
Following the directions in the MS Doc page I get the below msg and changes are not saved.
You must use ‎Microsoft Edge‎ version 87.0 or newer to change settings for the ‎Microsoft Edge‎ new tab page.

MS Edge version installed is: Version 100.0.1185.36 (Official build) (64-bit)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-04-22 17:55] kingsgatelogistics opened #8391 "Is this documentation accurate?"
[Enter feedback here]

I would challenge anyone to try to accomplish what is explained under the heading "Understand access to billing accounts" and try to a) find the three roles listed, or b) assign those roles which appear to be nonexistent to a user in the Microsoft 365 admin center. It appears only the owner of the payment method can access the payment method. It would be nice if this were up

[2022-04-22 18:03] Jaymoon85 opened #8392 "Calendar & Contacts instructions are unclear"
The final step says:

So...  How? What in this instruction page was specific to just email, if all 3 APIs are enabled in the Google Admin Console?

By following the instruction page from top to bottom, does this include migrating calendar and contacts? Or are those two separate actions I have to "repeat" later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-04-22 18:06] asdcristi opened #8393 "Retention labels applied on Microsoft 365 Group"
This is now working in OWA - documentation may be updated to reflect this. No ETA for outlook at this time.
https://docs.microsoft.com/en-us/microsoft-365/compliance/create-apply-retention-labels?view=o365-worldwide#applying-retention-labels-using-microsoft-365-groups
![image](https://user-images.githubusercontent.com/47151300/164770172-37bb66c1-8811-4d2e-86d3-f179bbf3c619.png)

---
#### Document

[2022-04-22 18:27] chvukosw commented on #8386
Thanks, this will be corrected today.

[2022-04-22 18:27] #8386 closed

[2022-04-22 18:28] cabailey commented on #8393
@asdcristi If you're a Microsoft employee, please contact me internally.

[2022-04-23 00:47] cabailey commented on #8333
Investigating

[2022-04-23 01:23] cabailey commented on #8359
If Preservation Lock isn't suitable for your organization, then don't use it - it's an entirely optional feature that's designed to meet the requirements of strict regulations, such as SEC 17a-4(f). It's purposely configurable only by PowerShell so admins can't accidentally enable it in the UI.  Kudos for reading and understanding the implications!

[2022-04-23 08:36] yogkumgit commented on #8370
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @v-sashig Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-04-23 08:36] #8370 closed

[2022-04-23 08:38] yogkumgit commented on #8374
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @Russel-Thomas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-04-23 08:39] #8374 closed

[2022-04-23 08:41] yogkumgit commented on #8094
@msbemba Thank you very much for the contribution and updating the documentation with PR. @oliviacostisanu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-04-23 08:42] #8094 closed

[2022-04-23 08:43] yogkumgit commented on #8132
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JonesMikael Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-04-23 08:43] #8132 closed

[2022-04-24 08:38] XiaoliangHuang opened #8398 "no more battery optimization in xiaomi MIUI 13"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c3c4a1d-a030-0d30-cce5-d12337fcfdd4
* Version Independent ID: dca55864-acee-0617-218a-efd08eae46eb
* Content: [Troubleshoot issues on Microsoft Defender for Endpoint on Android](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoin

[2022-04-25 04:22] msbemba commented on #8308
@Cobber57 Thank you for your feedback. Some DNS registrar expect you to add a trailing period at the end of the hostname or the record. Are you referring to the DKIm record- *._domainkey.SubDomainThatShouldntSendMail.contoso.com. TXT "v=DKIM1; p="  ?

[2022-04-25 04:25] msbemba commented on #8309
@Heymattman Thank you for your feedback. To delete a Booking calendar, generally we needn’t to delete user account. When we create a Booking calendar, for example, name it “Test ”, it creates a user in Admin center, and we can just remove that identity.

That is exactly what is explained in the document.

Hope this helps!

Thanks
Sri

[2022-04-25 04:29] msbemba commented on #8310
@msternbergh Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8399

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-25 04:33] msbemba commented on #8311
@edwardverweij Thank you for your feedback. This document pertains to "Enable the Report Message or the Report Phishing add-ins" and there is no mention on Powershell cmd to Set-OwaMailboxPolicy. If you are referring to a different document, please do let us know.

Thanks
Sri

[2022-04-25 04:35] msbemba commented on #8312
@Degies Thank you for your feedback. I agree and that is a very good idea. Since this needs to go to the product/dev team I'd recommend you add such feedback directly on our feedback portal -https://feedbackportal.microsoft.com/ so one of our Dev/product engineers will be able to handle new feature or design requests.

Hope this helps!

Thanks
Sri

[2022-04-25 04:39] msbemba commented on #8315
@crcarley Thank you for your feedback. The correct link would be https://docs.microsoft.com/en-us/compliance/assurance/assurance-microsoft-365-isolation-controls

I'll work with the author and get this fixed in the backed.

Thanks
Sri

[2022-04-25 04:45] msbemba commented on #8317
@Alex-Catalin Thank you for your feedback. This section has been removed from the document as it is no longer relevant.

Hope this helps!

Thanks
Sri

[2022-04-25 04:50] msbemba commented on #8319
@bodekf Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8400

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-25 04:56] msbemba commented on #8327
@RisticRile Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8401

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-25 05:00] Runs-info opened #8402 "A sample file no longer available for download?"
[Enter feedback here]
This page states that you can download the Demo file from aka.ms/ioavtest.
However, when I actually try to download it, it returns a 403 error. This has been happening for the last week.
Is the test file download site already closed? If so, please update the Docs to include an annotation stating that it cannot be downloaded.
Best regards,

---
#### Document Details

⚠ *Do not

[2022-04-25 05:04] msbemba commented on #8339
@nokite Thank you for your feedback. Could you please provide us with the URL of the document that you are referring to?

Thanks
Sri

[2022-04-25 05:09] msbemba commented on #8340
@allenhsiaoMS Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8403

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-25 05:13] msbemba commented on #8345
@NoahsMyBro Thank you for your feedback. I understand your requirement of getting this information via Powershell. However, this document pertains only to Microsoft 365 Reports in the admin center. I'm not able to find another document that talks about getting this information via Powershell. I'd recommend you check with the support team to see if it is possible to get the Email apps usage report

[2022-04-25 05:16] msbemba commented on #8347
@DMac-hmc Thank you for your feedback. I'm able to locate these options in two different tenants.

![image](https://user-images.githubusercontent.com/45987684/165024877-430d8dc4-566d-4955-96d3-3d21b1c29402.png)

I'd recommend you contact the support team via the need help section on the admin center, so that can fix the issue on your admin center/tenant.

Hope this helps!

Thanks
Sri

[2022-04-25 05:22] msbemba commented on #8354
@cworkmani21 Thank you for your feedback. You only need the Exchange Role Management role assigned to accounts that manage privileged access in Office 365. By default Global admin and exchange admin role includes this role by default and can manage privileged access. We have added this information to the document via  FAQ -https://docs.microsoft.com/en-us/microsoft-365/compliance/privileged-access

[2022-04-25 05:24] msbemba commented on #8356
@bledMS82 Thank you for your feedback. We have added a note to the document stating that "The following steps are only applicable to devices running previous versions of Windows using the MMA-based solution".

Once it is available for other OS, the document will be updated.

Hope this helps!

Thanks
Sri

[2022-04-25 06:17] msbemba commented on #8357
@WRMussatto Thank you for your feedback. You are correct. This document focuses on how an Office365 customer can report a problem and get support from Microsoft. I suggest you to try and get support via https://support.serviceshub.microsoft.com/supportforbusiness

You may need to create a Microsoft account (Free or paid) to be able to raise a support ticket.

Hope this helps!

Thanks
Sri

[2022-04-25 06:24] msbemba commented on #8365
@Balamurugan-dot Thank you for your feedback. I was able to test and I could not access anything apart from cases that I create or use eDiscovery search tools to search content locations. There are chances that there could be other permissions or roles assigned to this user. I'd recommend you contacting Microsoft support via the need help option on the admin center to have a Microsoft support engi

[2022-04-25 06:35] msbemba commented on #8376
@mntorq Thank you for your feedback. The URL of the user can be found in the one drive usage report or the URL for a user's OneDrive is usually in the following format: https://<tenant name>-my.sharepoint.com/personal/<user principal name>.  I have added information about this to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8404

Once the author approves, the change

[2022-04-25 06:43] msbemba commented on #8380
@omegagx Thank you for your feedback. I was able to test with the last name and it works

![image](https://user-images.githubusercontent.com/45987684/165033875-a74c25ad-78a0-4d92-9e50-108c1a049a0a.png)

If this issue continues, please click on need help on your admin center and report this issue to the Microsoft support team, so that one of the engineers can work with you.

Hope this helps!

Thank

[2022-04-25 06:44] msbemba commented on #8385
@chungweijian Thank you for your feedback. I'm sorry to hear that. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket at [Microsoft Su

[2022-04-25 06:51] msbemba commented on #8387
@JonesMikael Thank you for your feedback. Admins can't add allows directly to the Tenant Allow/Block List. When you choose "Allow messages like this" for X days, Microsoft will review the information and senders will be added to the Tenant Allow/Block List.  If this is not the case with your tenant, a support case may be needed to help determine why. You can create a support case via the need help

[2022-04-25 06:52] #8385 closed

[2022-04-25 06:53] Russel-Thomas commented on #8374
Always a pleasure, thanks for the quality response everyone 👍

[2022-04-25 06:57] msbemba commented on #7760
@AlexJerabek The document https://docs.microsoft.com/en-us/legal/microsoft-365/ios-terms?view=o365-worldwide is already updated with the wordings - "Microsoft Defender for Endpoint on iOS application license terms"

Hope this helps!

Thanks
Sri

[2022-04-25 07:02] msbemba commented on #8262
@ma261065 Thank you for your feedback. I will fix the document shortly.

[2022-04-25 07:06] msbemba commented on #8302
@yogkumgit This can be closed.

[2022-04-25 07:10] msbemba commented on #7955
@yogkumgit This can be closed.

[2022-04-25 08:14] Balamurugan-dot commented on #8365
Thank you very much Sri, for the inputs.

[2022-04-25 09:53] edwardverweij commented on #8311
Hi Sri,
Thank you for your response, the latest version of the document is already updated and the Powershell command is removed.
Best regards,
Edward

[2022-04-25 09:53] #8311 closed

[2022-04-25 09:59] blue-ken opened #8405 "Potentially incorrect wording"
I think it should be made clear in the below wording that your can search for Teams chat messages if the users mailbox is on-premise.

"In an Exchange hybrid deployment, you can't use the Content search tool to search on-premises mailboxes. You can only use the tool to search cloud-based mailboxes."

see here

https://docs.microsoft.com/en-us/microsoft-365/compliance/search-cloud-based-mailboxes-f

[2022-04-25 10:32] mcteufelms opened #8406 "file size limit for "fileinfo" in MDE Live Response: 10GB or 30GB?"
There are two different infos mentioned for MDE Live Response limitations on "file info": one line on the page mentions 30GB size limit, another line on the page mentions 10GB file size limit for file info:

![image](https://user-images.githubusercontent.com/89206976/165072257-d6319933-331e-41e1-aefb-15a2a68d4613.png)
![image](https://user-images.githubusercontent.com/89206976/165072331-3996ef30-8

[2022-04-25 11:13] yogkumgit commented on #8363
@markjjo Please help us in resolving this issue. thanks

[2022-04-25 11:17] ThreshTheRed opened #8407 "MDATP - Privacy Preferences Policy Control won't work"
Hey

We're in the process of testing MDATP across Apple Devices - Macs.
We follow an instruction from this page https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mac-sysext-policies?view=o365-worldwide

Previously, we did everything in MacOS jamf pro onboarding, step by step, but since it was just a short test I have no info about that.

Everything works fine, until one poi

[2022-04-25 11:18] yogkumgit commented on #8324
@kelleyvice-msft Please help us in resolving this issue. Thanks.

[2022-04-25 11:20] yogkumgit commented on #8316
@mjcaparas Please help us in resolving this issue. thanks

[2022-04-25 11:22] yogkumgit commented on #8307
@robmazz Please help us in resolving this issue. Thanks

[2022-04-25 11:23] yogkumgit commented on #8304
@Dansimp Please help us in resolving this issue. Thanks

[2022-04-25 11:24] lightupdifire commented on #8363
@yogkumgit @markjjo
Thanks for the action! I have verified with MS Support, and they confirm no audit applies when View File in Explorer is used. So I would recommend updating the doc.

[2022-04-25 11:33] yogkumgit commented on #8309
@msbemba Thank you very much for the contribution and sharing this explanation. @Heymattman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-25 11:33] #8309 closed

[2022-04-25 11:37] yogkumgit commented on #8312
@Degies Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-25 11:37] #8312 closed

[2022-04-25 11:47] yogkumgit commented on #8345
@msbemba Thank you very much for the contribution and sharing this explanation. @NoahsMyBro Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-04-25 11:47] #8345 closed

[2022-04-25 11:48] yogkumgit commented on #8347
@msbemba Thank you very much for the contribution and sharing this explanation. @DMac-hmc Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the out

[2022-04-25 11:48] #8347 closed

[2022-04-25 11:50] yogkumgit commented on #8354
@msbemba Thank you very much for the contribution and sharing this explanation. @cworkmani21 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-25 11:50] #8354 closed

[2022-04-25 11:52] yogkumgit commented on #8356
@msbemba Thank you very much for the contribution and sharing this explanation. @bledMS82 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-25 11:52] #8356 closed

[2022-04-25 11:53] yogkumgit commented on #8357
@msbemba Thank you very much for the contribution and sharing this explanation. @WRMussatto Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-04-25 11:53] #8357 closed

[2022-04-25 11:55] #8365 closed

[2022-04-25 11:57] yogkumgit commented on #8380
@msbemba Thank you very much for the contribution and sharing this explanation. @omegagx Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-04-25 11:57] #8380 closed

[2022-04-25 11:59] yogkumgit commented on #8387
@msbemba Thank you very much for the contribution and sharing this explanation. @JonesMikael Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-04-25 12:04] yogkumgit commented on #7760
@msbemba Thank you very much for the contribution and sharing this explanation. @Helix-DB3 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-25 12:04] #7760 closed

[2022-04-25 12:06] yogkumgit commented on #8302
@msbemba Thank you very much for the contribution and updating the documentation with PR. @StefanZGit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-25 12:06] #8302 closed

[2022-04-25 12:08] yogkumgit commented on #7955
@msbemba Thank you very much for the contribution and sharing this explanation. @dogborne Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-25 12:08] #7955 closed

[2022-04-25 14:18] Cobber57 commented on #8308
Yes exactly, took me a while to work out the problem.

[2022-04-25 16:11] quickclix75 opened #8411 "Person creating Trainable Classifier needs to be member of seed SharePoint Site."
Please can you add prerequisite / tip to advise that the admin creating a new custom trainable classifier needs to be listed as a **member** of the seed SharePoint site otherwise the site with the seed content does not get listed in the **Choose sites** flyout list.

Thanks !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-04-25 18:38] Wittkie opened #8413 "Add Documentation Or Link to Documentation for Onboarding Via Arc"
Can the Microsoft Defender for Endpoint deployment documentation for Linux be updated to include, or link to the onboarding documentation via Azure Arc?

---
#### Document Details⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.** ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Version Independent ID: 6c49c1c5-a178-0c9d-4768-fef1507b1a55
* Content: [Microsoft De

[2022-04-25 19:27] omegagx commented on #8380
I opened case 30771406 and the support engineer Abayomi Fowe confirmed that we can't search by last name. Additionally, I just tried it again and I couldn't look up by last name as the screenshot shows and when using the full name, it worked.

![image](https://user-images.githubusercontent.com/19207488/165159924-4a74e11e-956d-4fed-bc57-e95ae2cc0a6a.png)

![image](https://user-images.githubusercont

[2022-04-26 05:25] mnttnm opened #8416 "Properties not available for User Resource type"

[2022-04-26 07:34] yogkumgit commented on #8308
@msbemba Thank you very much for the contribution and sharing this explanation. @Cobber57 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-26 07:35] #8308 closed

[2022-04-26 07:39] yogkumgit commented on #8310
@msbemba Thank you very much for the contribution and updating the documentation with PR. @msternbergh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-26 07:40] #8310 closed

[2022-04-26 07:55] yogkumgit commented on #8315
@kelleyvice-msft replied that he will inform who can resolve.

[2022-04-26 07:56] yogkumgit commented on #8317
@msbemba Thank you very much for the contribution and sharing this explanation. @Alex-Catalin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-04-26 07:56] #8317 closed

[2022-04-26 08:21] yogkumgit commented on #8216
@Jmartinez589 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-26 08:21] #8216 closed

[2022-04-26 08:22] yogkumgit commented on #8215
@MilanKrocek Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-04-26 08:22] #8215 closed

[2022-04-26 08:23] #8211 closed

[2022-04-26 08:25] yogkumgit commented on #8201
@msbemba Thank you very much for the contribution and digging deep into it.  @dianagrig03 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2022-04-26 08:25] #8201 closed

[2022-04-26 08:26] yogkumgit commented on #8193
@msbemba Thank you very much for the contribution and digging deep into it.  @rmanjoney We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this document

[2022-04-26 08:26] #8193 closed

[2022-04-26 08:29] yogkumgit commented on #8185
@msbemba Thank you very much for the contribution and sharing this explanation. @SauliusMy Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-04-26 08:29] #8185 closed

[2022-04-26 08:31] #8156 closed

[2022-04-26 08:33] yogkumgit commented on #8141
@msbemba Thank you very much for the contribution and sharing this explanation. @homotechsual Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-26 08:33] #8141 closed

[2022-04-26 08:35] yogkumgit commented on #8136
@msbemba Thank you very much for the contribution and digging deep into it.  @dlepel We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentati

[2022-04-26 08:35] #8136 closed

[2022-04-26 11:04] #6847 closed

[2022-04-26 11:06] SpangleIT opened #8418 "bulk add Alias email address"
I was hoping this pasge would also include how to bulk add alias email adresses for a single user, or at least a link of where this can be done

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99474cca-d2bc-d602-71ba-5c20e894429a
* Version Independent ID: 5aa17d74-a77f-82ed-48db-ff10413784bb
* Content: [Add several users

[2022-04-26 14:12] RHooijer opened #8419 "Azure Event Hub Data Receiver should be Azure Event Hubs Data Receiver"
The role Azure Event Hub Data Receiver should be Azure Event Hub Data Receiver, this is a typo I believe.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1302a36-d75f-2c77-0da1-333f81689805
* Version Independent ID: 8fd7095a-926c-6b12-07b4-0e50094bfba1
* Content: [Configure your Event Hub](https://docs.microsoft.com/en

[2022-04-26 15:00] kelleyvice-msft commented on #8315
Fixed with PR https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/13793. Changes may take a few hours to go live.

[2022-04-26 15:00] #8315 closed

[2022-04-26 15:13] cabailey commented on #8367
@PayneCeeva   Yes, when they changed the name of "Information governance" to "Data lifecycle management" there was a lot of documentation to change!  We did our best to scoop up all the references but inevitably some will be missed, some will take a bit longer, and some might be accidentally overwritten - so we appreciate your patience. This one is now fixed.

In case you missed it, this renaming

[2022-04-26 18:39] cabailey commented on #8393
Closing - continuing this discussion internally.  A report of a feature working is not the same as supported.  When retention label support for Microsoft 365 Groups using OWA is approved by engineering stakeholders, I'll update the documentation to match.

[2022-04-26 18:39] #8393 closed

[2022-04-26 21:53] MrV8Rumble opened #8422 "AzureAD Module is deprecated"
Azure AD module for Graph is being deprecated, please update for PS7 / Graph SDK
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac69-134d-0198-fcb9-e19d1ed44d4b
* Content: [Manage who can create Microsoft 365 Groups](https://docs.m

[2022-04-26 22:30] paisleyborg opened #8423 "Cant find "Use the Sensitivity feature in Office to apply and view sensitivity labels""
Hi,

This article talks about disabling the AIP add-in to use built-in labeling for Office apps:
https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-aip?view=o365-worldwide#how-to-disable-the-aip-add-in-to-use-built-in-labeling-for-office-apps

We followed this article to enable this feature: https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-offi

[2022-04-27 04:25] sarahmcm opened #8425 "No "Applies To""
does not tell us what licenses are needed at a Tenant to be able to apply these settings

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb0c964d-2d1b-601a-c8a2-14378fc24fb8
* Version Independent ID: ee549bd1-0652-2167-0f23-d22a58cf895b
* Content: [Learn about sensitivity labels - Microsoft Purvie

[2022-04-27 10:02] msbemba commented on #8339
@yogkumgit  There has been no response to this issue. This can be closed.

[2022-04-27 11:19] msbemba commented on #8262
@ma261065 Thank you for your feedback. We have fixed the diagram to match the portal. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8429

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-27 12:29] PayneCeeva commented on #8367
Any predictions on when the name Purview will be replaced with a different unrelated word? Or when the resources the site contains will be moved to another set of websites? I just want to keep on top of these fast-paced technology changes. Moving several email specific features out of the email server application into a reporting application was a “bold” move that I know I wouldn’t have made. It’s

[2022-04-27 13:54] quickclix75 opened #8430 "string correction"
Link under Overall Workflow reads

see [Process flow for creating **customer** trainable classifiers](https://docs.microsoft.com/en-us/microsoft-365/compliance/classifier-learn-about?view=o365-worldwide#process-flow-for-creating-custom-classifiers).

should read

see [Process flow for creating **custom** trainable classifiers](https://docs.microsoft.com/en-us/microsoft-365/compliance/classifier-le

[2022-04-27 13:56] andrewn2000 opened #8431 "remove (Preview) in Procedure 3"
[Enter feedback here]
OLD
Under Procedure 3: Turn on Endpoint Security Profile settings in Microsoft Endpoint Manager, remove the (Preview)

UPDATED
Under Endpoint Security Profile Settings, set Allow Microsoft Defender for Endpoint to enforce Endpoint Security Configurations to On

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-04-27 14:42] cabailey commented on #8425
@sarahmcm  There is no blanket "Applies to" for sensitivity labels - licensing depends on the scenario, so it's a bit more complicated. At the top of this page, and all pages for sensitivity labels, there's a link to the licensing page that has the relevant details and the "Get started with sensitivity labels" page has a section specifically for licensing: https://docs.microsoft.com/en-us/microsof

[2022-04-27 15:57] onsite-insights opened #8432 "I am a Global admin and there are no Security settings here."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d322ca91-2125-7486-887f-7c313f2fbcf9
* Version Independent ID: a139620d-3330-a687-709a-35bb270101e4
* Content: [Set the password expiration policy for your organization - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/manage

[2022-04-27 15:57] rramoscabral opened #8433 "'Microsoft 365 licensing guidance for security & compliance' removed"
At retention-regulatory-requirements.md (`https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/compliance/retention-regulatory-requirements.md`) the link  >*[Microsoft 365 licensing guidance for security & compliance](/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-lic

[2022-04-27 16:13] yogkumgit commented on #7846
@msbemba Thank you very much for the contribution and updating the documentation with PR. @vazome Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-27 16:13] #7846 closed

[2022-04-27 16:15] #8077 closed

[2022-04-27 16:16] yogkumgit commented on #8241
@msbemba Thank you very much for the contribution and updating the documentation with PR. @exactmike Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-27 16:16] #8241 closed

[2022-04-27 16:19] debaxtermsft opened #8434 "Command to find guest users will not find guests changed to member status"
This command will find only users with userType = Guest, not members
Get-AzureADUser -Filter "userType eq 'Guest'"
This will find all users (not the first 100) and with a CreationType -eq "Invitation", all external users

get-azureaduser -all $true | ?{$_.CreationType -eq "Invitation"}

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2022-04-27 16:25] yogkumgit commented on #8376
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mntorq Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-27 16:25] #8376 closed

[2022-04-27 16:49] #8339 closed

[2022-04-27 18:30] coproyer opened #8438 "Incorrect table headers"
The first two tables in this document include incorrect headers for the table columns, especially the second column reflecting the content of the prior paragraph rather than describing the content of the table column. The incorrect heading makes the table content difficult to understand for anyone who is not already versed in creating a mail flow rule. The first column header should read "Setting

[2022-04-27 19:24] jas8522 commented on #1067
Any updates here? That UserVoice was apparently shut down. I've now seen numerous cases of Microsoft servers filtering legit messages to spam/junk without any known cause and because of the reasons identified above, we have no recourse.

[2022-04-27 22:39] chenxizhang opened #8440 "When a person in the group replies to a message sent to the shared mailbox, the email appears to be from the shared mailbox, not from the individual user."
Hi there

How can I understand the statement in the document as below?

**"When a person in the group replies to a message sent to the shared mailbox, the email appears to be from the shared mailbox, not from the individual user."**

My experience is when I reply a message sent to one shared mailbox, I still need to choose the shared mailbox from the "From" field, it can't be automated.

Is that c

[2022-04-27 22:47] SKjerland commented on #8440
@chenxizhang - That is correct. If you choose the shared mailbox in the "From" field, the email will show as coming from the shared mailbox--not from you.

[2022-04-27 22:47] #8440 closed

[2022-04-27 22:51] chenxizhang commented on #8440
@SKjerland Thanks for the quick response. How can I reply to the email from the shared mailbox account directly instead to need me to select the account manually?

Is that possible?

[2022-04-27 23:03] SKjerland commented on #8440
@chenxizhang - Shared mailboxes aren't designed for direct logon. There's really no reason why you would need to log in to the shared mailbox directly. Here's another article that provides more info: [Open and use a shared mailbox](https://support.microsoft.com/office/d94a8e9e-21f1-4240-808b-de9c9c088afd)

[2022-04-27 23:10] chenxizhang commented on #8440
@SKjerland I don't want to logon with shared mailbox. let me describe the scenario here a little bit.

 1. I am a member of a shared mailbox.
 2. when a customer send mail to the shared mailbox, I will also receive the mail in my inbox.
 3. I click the reply button, the default setting of "From" is my personal account, not the shared mailbox account. of course, I can   select it from the list manu

[2022-04-27 23:34] SKjerland commented on #8440
@chenxizhang - Thanks, I understand now. As far as I know, there's no way to automate which account gets populated in the From field. I would expect it to auto-populate with the shared mailbox account if you're replying to an email that was sent to the shared mailbox (and the article I gave you a link to also suggests that should be happening), but it sounds like that's not the case for you. The o

[2022-04-28 01:30] rramoscabral commented on #8433
The links is working. The Maybe it was a temporary issue, as per the feedback from Carol Bailey.

[2022-04-28 01:30] #8433 closed

[2022-04-28 05:29] JuergMeier-CH opened #8441 "FileMD5 missing"
Even from the old day. MD5 is missing on the   List of supported hashes

[2022-04-28 07:23] nokite commented on #8339
Closing this ticket shows that your ream does not care about this, and assigns the responsibility of following up to me.

Who am I? Nobody really. I don't have a stake at Defender, and also no responsibility for it.
I just sent feedback and hoped someone would care to pick it up

Check this out:

<img width="915" alt="image" src="https://user-images.githubusercontent.com/2574061/165699022-d5b07b4b

[2022-04-28 07:25] nokite commented on #8339
And this is not a "question", it's criticism.

[2022-04-28 11:15] sarahmcm commented on #8425
great tx - now please go shoot the lawyers who made it so bloody complicated

ngā mihi
Sarah McM

***@***.***<http://www.gtb.co.nz/>
Sarah McMurray
Senior Tech, Director
04 297 1040 ext 704   |   027 697 1040
GTB IT Solutions<http://www.gtb.co.nz/>

Quality Work  |  Care for People  |  Ongoing improvement  | since 1999
Information where you need it, when you need it - safe and secure

Get our eboo

[2022-04-28 11:16] sarahmcm commented on #8425
if it is not clear “how to buy” then how are people supposed to buy this service?

cheers

From: Carol Bailey ***@***.***>
Sent: Thursday, 28 April 2022 2:43 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Sarah McMurray ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] No "Applies To" (Issue #8425)

@sarahmcm<https://github.com/sarahmcm> There is no blank

[2022-04-28 12:48] msbemba commented on #8350
@PremMS-MDE Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8444

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-28 12:51] msbemba commented on #8339
@nokite Thank you for your response. Sorry about the confusion. We handle modifications to Microsoft docs and Would like to understand which document needs to be fixed here. If you are requesting a new document (to fix missing information) or have general feedback, you can provide feedback to Microsoft via the main feedback portal - https://feedbackportal.microsoft.com/

Hope this helps and sorry

[2022-04-28 13:03] nokite commented on #8339
@msbemba I see. Sorry for the confusion as well.
I opened this issue via some button on your site and wrongly assumed that the article would be linked to the issue automatically.

I don't remember which page I was on, so I'll have to guess it was one of these, or similar:

https://support.microsoft.com/en-us/windows/help-protect-my-pc-with-microsoft-defender-offline-9306d528-64bf-4668-5b80-ff533f1

[2022-04-28 13:51] DMac-hmc commented on #8347
Thanks.

I see it now, so the most likely explanation is that I was in a hurry and was looking past an option that existed.

[2022-04-28 14:42] omegagx commented on #8380
@yogkumgit - please re-open

[2022-04-28 15:08] cabailey commented on #8425
@sarahmcm  I agree the licensing for sensitivity labels isn't simple, which is why an "Applies to" wouldn't work for this page and instead, we link to the relevant information that's owned and maintained by the team who are responsible for this area of the product. For feedback about the licensing itself, I recommend you use GitHub Issues on that licensing page itself or use the "This product" but

[2022-04-28 15:08] #8425 closed

[2022-04-28 15:43] denisebmsft commented on #8441
Hello @JuergMeier-CH. Can you please tell us to which article your feedback applies? This information will help us route the issue to the correct writer/team. Thanks!

[2022-04-28 15:51] msbemba commented on #8190
@azmat111 Thank you for your feedback. Are you referring to the Sensor Health state?If yes, it has been added. I do not see a health column in the Device inventory.

![image](https://user-images.githubusercontent.com/45987684/165793256-8c07ca9f-c2ab-48ce-955a-5d22a80a0738.png)

Hope this helps!

Thanks
Sri

[2022-04-28 15:55] msbemba commented on #8295
@drksilenc Thank you for your feedback. I was able to locate the reports in[Office 365 Security & Compliance](https://protection.office.com/)

Could you specify which report is not available in the security and compliance center?

![image](https://user-images.githubusercontent.com/45987684/165794008-e2b50c59-8e6b-4269-96e8-01678ba05d81.png)

Thanks
Sri

[2022-04-28 16:06] chrisda commented on #8295
@drksilenc, that mail flow reports topic is on life support. All of the reports within it now exist in the Microsoft 365 Defender portal or the Exchange admin center (EAC) as reflected in the topic.

Furthermore. changes to the reports in the Defender portal are reflected in the Security & Compliance Center, except for the 'widgets' themselves.

I contend that topic is current and up-to-date Feel

[2022-04-28 16:08] drksilenc commented on #8295
I dont have security and compliance i have 2 different sections. 1 is security 1 is compliance neither show that view.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sriraman M S ***@***.***>
Sent: Thursday, April 28, 2022 11:56:11 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: drksilenc ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/mi

[2022-04-28 16:25] msbemba commented on #8351
@ThomasBIDAULT Thank you for your feedback. I'm working with the author internally to check and update the document.

Thanks
Sri

[2022-04-28 16:29] msbemba commented on #8364
@adelaldabbas Thank you for your feedback. The Sheet is hosted in a different site, I will be working with the author to add the URL's to the sheet.

Thanks
Sri

[2022-04-28 16:38] msbemba commented on #8299
@saraporter Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8446

Once the author approves, the changes will be live.

Thanks
Sri

[2022-04-28 16:40] msbemba commented on #8256
@ElfNeedsFood Thank you for your feedback. I'll be updating the new screenshots shortly.

Thanks
Sri

[2022-04-28 16:57] msbemba commented on #8380
@omegagx I can confirm that it is working when you search by the last name. I have three different screenshots below that shows it works. Sorry that you are having to go back and forth with support. You can share this information with the support and let them know it works for other tenants.

![image](https://user-images.githubusercontent.com/45987684/165804700-b588035e-4c9f-44dd-ab6c-d4cbd566d61c

[2022-04-28 17:02] chrisda commented on #8295
So, it looks like that topic can now be eliminated, because none of the reports mentioned within it have widgets on the Dashboard page anymore:

- Connector report
- Exchange transport rule report
- Forwarding report
- Mailflow status report
- Sent and received email report
- Top senders and recipients report

Note that this topic isn't meant to be an overview of the Dashboard; that's covered in [

[2022-04-28 18:58] cabailey commented on #8367
@PayneCeeva  For your feedback about the changes to get to the right people, you can use the "This product" button in the Feedback section.  GitHub Issues that get generated when you select "This page" are designed for documentation changes that are now addressed, so closing this issue.  Feel free to open another issue for any other missed references you come across and once again, we appreciate y

[2022-04-28 18:58] #8367 closed

[2022-04-28 19:42] msbemba commented on #7628
@yogkumgit I'm currently waiting for the correct phone number from the author.

[2022-04-28 22:41] alanbmhs opened #8448 "Ownerless Group management policy"
Creation of policy failed at the first attempt ( and second and third... )

![image](https://user-images.githubusercontent.com/45055386/165858255-7e910827-73c2-466a-beca-4245a014d9de.png)

There's no helpful info about troubleshooting this. I guess this is an issue with the 'product' rather than this page, but clicking that option assumes I have an issue with Admin Centre generally.

Alan.

---
##

[2022-04-28 23:22] bubhat opened #8449 "PAM Roadmap"
This article says :Privileged access management will be available in other Office 365 workloads soon. Visit the [Microsoft 365 Roadmap](https://www.microsoft.com/microsoft-365/roadmap) for more details
When I check roadmap - there is nothing related to PAM for other O365 workloads.....One of my customers is asking about roadmap details.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-04-28 23:28] Daiannec opened #8450 "Link wrong"
The link is wrong.

Ways to manage MFA settings
There are two ways to manage MFA settings.

In the Azure portal, you can:

Enable and disable security defaults
Configure Conditional Access policies
In the Microsoft 365 admin center, you can configure per-user and service **[MFA settings](https://go.microsoft.com/fwlink/p/?linkid=2169174).**
[Enter feedback here]

---
#### Document Details

⚠ *Do n

[2022-04-29 09:32] danielfawcett1 opened #8454 "Outdated CSP reference"
Under "Use MDM CSPs to allow specific apps" there is a reference to [./Vendor/MSFT/Policy/Config/Defender/GuardedFoldersAllowedApplications](https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-defender#defender-guardedfoldersallowedapplications).

I believe that this should be updated to reference [./Vendor/MSFT/Policy/Config/Defender/ControlledFolderAccessAllowedApplications

[2022-04-29 09:54] #8322 closed

[2022-04-29 09:56] #7094 closed

[2022-04-29 10:01] yogkumgit commented on #8423
@paisleyborg Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We wi

[2022-04-29 10:02] #8423 closed

[2022-04-29 10:07] yogkumgit commented on #8188
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ThijsLecomte Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-29 10:08] #8188 closed

[2022-04-29 11:52] yogkumgit commented on #8364
@mjcaparas Please help. Email sent. Thanks

[2022-04-29 13:52] dkotars opened #8455 "clarification - Can I open encrypted messages sent to a shared mailbox?"
I believe we should provide clarification here that the win32 inline experience applies only to encrypted messages sent internally within the same tenant.  Delegates to a shared mailbox getting AME/OME encrypted messages sent from an external org will need to use Outlook on the web to sign in as the shared mailbox to read these messages.

---
#### Document Details

⚠ *Do not edit this section. It

[2022-04-29 16:04] #8359 closed

[2022-04-29 16:08] bethaniekendwa opened #8456 "DLP alert time"
[I would like to see in this page if the time frame for the DLP alert is 30 days and we cannot move it up to 90 days for example]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9eefa14-0e47-cf04-6f00-4bab24b4b858
* Version Independent ID: ff141977-2b63-e839-6252-84c6787972ea
* Content: [Get started with the DLP Alerts

[2022-04-30 11:41] yogkumgit commented on #8441
@JuergMeier-CH We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some t

[2022-04-30 11:41] #8441 closed

[2022-04-30 11:42] yogkumgit commented on #8294
@ine74 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to o

[2022-04-30 11:42] #8294 closed

[2022-04-30 11:46] yogkumgit commented on #8375
@denisebmsft Please update. Thanks

[2022-04-30 11:49] yogkumgit commented on #8363
@markjjo Please reply. Thanks

[2022-04-30 11:53] yogkumgit commented on #8295
@drksilenc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-04-30 11:54] #8295 closed

[2022-04-30 11:54] yogkumgit commented on #8282
@RatulaC Gentle reminder. Thanks

[2022-04-30 11:56] yogkumgit commented on #8431
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @andrewn2000 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-30 11:57] #8431 closed

[2022-04-30 12:02] yogkumgit commented on #8262
Closing us per Author's input. Thanks

[2022-04-30 12:02] #8262 closed

[2022-04-30 12:04] yogkumgit commented on #8256
@msbemba

[2022-04-30 12:05] yogkumgit commented on #8234
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @PhilippEisenmann Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-30 12:06] #8234 closed

[2022-04-30 12:08] yogkumgit commented on #8190
@msbemba Thank you very much for the contribution and sharing this explanation. @azmat111 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-04-30 12:08] #8190 closed

[2022-04-30 12:10] yogkumgit commented on #8182
@RatulaC Gentle reminder. Thanks

[2022-04-30 12:11] yogkumgit commented on #8117
@msbemba

[2022-04-30 15:28] ine74 commented on #8294
It’s fine 

Sent from Yahoo Mail for iPhone

On Wednesday, April 13, 2022, 7:41 AM, Yogesh Kumar ***@***.***> wrote:

@ine74 Please indicate which document you are referring to for the improvement and feedback. Thanks

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-04-30 16:56] stlccjmixen commented on #6282
It appears at some point or in another issue that my issue has been resolved. The repository pointers in the current documentation dated 03/25/2022 work for Ansible playbooks. Also noticed a few other changes where made to the playbooks as well on Microsoft's side.

[2022-04-30 16:56] #6282 closed

[2022-05-01 10:07] Darrelo365 opened #8462 "Can I buy a single SharePoint Syntex licence?"
Hi, can I buy a single Syntex licence if I wanted to do document metadata capture at scale - millions of documents?

I might have misunderstood the product and what I can do with a single user licence. Can I create apx 20-25 models and apply them to one or more libraries and it will process what's currently in there (millions of docs) and the what's added (tens of thousands per month)? Thanks

---

[2022-05-01 11:22] TobiasAT commented on #8448
Same issue here

[2022-05-02 08:25] hmuchaku opened #8466 ""myaccount.microsoft.com" is required for Microsoft365"
"myaccount.microsoft.com" is not included in the list of "required" URLs.
Therefore, we cannot access "my account" page to change our password under a proxy environment.
https://endpoints.office.com/endpoints/worldwide?clientrequestid=b10c5ed1-bad1-445f-b386-b919946339a7

Previously, "my account" page was following URL.
https://portal.office.com/account

[2022-05-02 08:33] msbemba commented on #8117
@forester123 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8467

Thanks
Sri

[2022-05-02 08:36] msbemba commented on #8327
@SRE93 Thank you. I have updated the PR with the parameter.

[2022-05-02 08:53] slueders-bag opened #8468 "Programatic setup for ownerless Office 365 groups"
Hey,
is there an option for programatic setup like PowerShell, Graph API, etc.?
Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c73a40-30f1-78f4-9130-37790d58fcda
* Version Independent ID: 44c73a40-30f1-78f4-9130-37790d58fcda
* Content: [Manage ownerless Microsoft 365 groups and teams - Microsoft 365 admin](htt

[2022-05-02 09:55] weyCC81 opened #8469 "Reports for Network connectivity (API/Reports)"
I am not able to find the API on which i can pull the "Points" or "Teams UDP packet loss (%)",
would it be possible to add that here?

I searched in here and in "https://docs.microsoft.com/en-us/graph/api/resources/report?view=graph-rest-beta"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e748ed-63fe-0d00-6b60-c1a77

[2022-05-02 12:41] andersnese opened #8471 "File size limit in LiveResponse Library - API vs portal upload"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/upload-library indicates that the maximum file size for files being added to the library is 20mb using the API. However, using the portal the limit is 250mb (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/live-response).

Will the file size limit using the API be increased in the near-term future?

[2022-05-02 15:46] yogkumgit commented on #8466
@hmuchaku Please indicate which document you are referring to for your feedback. Thanks

[2022-05-02 15:50] kelleyvice-msft commented on #8373
I will look into this.

[2022-05-02 16:28] kelleyvice-msft commented on #8351
Looking into this.

[2022-05-02 17:07] TBSJordanNash opened #8472 "First query - too specific"
This first tutorial query needs to be much broader, so that the learner doesn't get "No results found in the specified time frame." on their first try.

This query is a little better:
`
union DeviceProcessEvents, DeviceNetworkEvents
| where Timestamp > ago(7d)
| project Timestamp, DeviceName, InitiatingProcessFileName, InitiatingProcessCommandLine,
FileName, ProcessCommandLine, RemoteIP, RemoteUrl

[2022-05-02 17:27] denisebmsft commented on #8438
Hello @coproyer and thank you so much for your feedback. We have revised the content quite a bit and I think this issue is resolved. Please see the new article: https://docs.microsoft.com/en-US/microsoft-365/business-premium/m365bp-security-overview

[2022-05-02 17:28] #8438 closed

[2022-05-02 18:14] denisebmsft commented on #7414
Hello @lightupdifire and thank you for posting this excellent question. We understand that this is an issue, and we are working on it at priority.

[2022-05-02 18:24] #7414 closed

[2022-05-02 18:38] denisebmsft commented on #8108
Hello @HJKUTR. Thank you so much for the feedback. We have retired the original article and it's now redirecting to the more up-to-date content. I appreciate your taking the time to post this issue.

[2022-05-02 18:38] #8108 closed

[2022-05-02 19:41] denisebmsft commented on #7520
Hello again @lightupdifire @svinusje. I just wanted to let you know that our product team is working on this issue at priority.

[2022-05-02 19:41] #7520 closed

[2022-05-03 05:00] msbemba commented on #8350
@yogkumgit  I can confirm that the images are rendered correctly after the PR merge. The issue can be closed.

[2022-05-03 05:05] msbemba commented on #8010
@yogkumgit The changes are live. This can be closed.

[2022-05-03 05:06] msbemba commented on #7915
@yogkumgit The changes are live and the issue can be closed.

[2022-05-03 09:35] maxbaldt opened #8476 "Clarify what "most active members" are..."
[Enter feedback here]

Hi @MikePlumleyMSFT,

regarding this part: "You can create a policy what automatically asks the most active members or an ownerless group or team if they'll accept ownership. When a member accepts the invitation to become an owner, the action is logged in the compliance center audit log. Guests are never invited to be owners."

can we please clarify the measurements we use t

[2022-05-03 10:31] MikePlumleyMSFT commented on #8476
@ArunMSFT can you help?

[2022-05-03 10:58] yogkumgit commented on #8299
@msbemba Thank you very much for the contribution and updating the documentation with PR. @saraporter Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-03 11:01] yogkumgit commented on #8430
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @quickclix75 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-03 11:08] yogkumgit commented on #8350
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PremMS-MDE Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-03 11:31] yogkumgit commented on #8259
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gamory Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-03 11:31] #8259 closed

[2022-05-03 11:35] yogkumgit commented on #8288
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mcteufelms Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-03 11:35] #8288 closed

[2022-05-03 11:41] #8350 closed

[2022-05-03 11:42] yogkumgit commented on #8010
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jadesolis Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-03 11:42] #8010 closed

[2022-05-03 11:44] yogkumgit commented on #7915
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-03 11:44] #7915 closed

[2022-05-03 12:46] PremMS-MDE opened #8477 "Add Amazon Linux 2 support?"
Can we add Amazon linux 2 in Capabilities per supported operating systems (OS) and platforms? Amazon Linux 2 is supported for having MDATP for linux. Do we support TVM in Amazon linux 2? if we don't can we add an column providing the data that we don't support?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd1f5402-b6

[2022-05-03 12:50] #8430 closed

[2022-05-03 16:40] LoGlenn opened #8478 "Sharing Submissions to 3rd parties typo"
Microsoft treats your feedback as your organization's permission for us to analyze all of the previously described information and to work to fine tune the message hygiene algorithms. We hold your message in our secure audited datacenters in the USA until we delete your submission no later than 30 days after you provided it to us. Personnel at Microsoft may read your submitted message and attachme

[2022-05-03 17:29] trkrdy1 opened #8479 "Page additions"
[We need to explain why for some of these entries, why it's bad to add these as exclusions. There needs to be a shock factor. I see these all the time on DART engagements.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 864c454f-e0d9-fb1d-6090-5982eb733eb0
* Version Independent ID: ca1abacc-22e4-688d-370b-e34d827fde76

[2022-05-03 19:36] chrisda commented on #8478
Fixed.

Thanks for the feedback.

Closing

[2022-05-03 19:36] #8478 closed

[2022-05-03 20:54] fitzgeezy opened #8480 "There is no "Permissions" tab on the left side of the Compliance admin center"
It appears that these instructions are no longer valid? There is no Permissions tab in the Compliance admin portal. Has everything moved to AAD RBAC roles?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a94e0469-2c5c-2063-8c3e-7722ceb53577
* Version Independent ID: e99eb8aa-b3b7-8791-aba4-998e209694b5
* Content

[2022-05-03 22:52] gbms311 opened #8481 "Compliance portal screenshot is outdated"
The screenshot of Microsoft Purview Compliance Center is showing a very outdated image labeled "Security & Compliance"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5821435a-93ce-3ba9-312d-fb61a9dae127
* Version Independent ID: aaf49dab-bbdc-4c84-f9ef-a768da673279
* Content: [How DLP works with Security & Compliance C

[2022-05-04 02:26] drasco commented on #8299
Why is this marked as updated. There is zero advice that the AzureAD and Msol modules will be depreciated. Navigating these documents even as someone familar with Azure is a complete nightmare.

[2022-05-04 06:27] msbemba commented on #8388
@nitvit610 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8482

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-04 06:53] msbemba commented on #8392
@Jaymoon85 Thank you for your feedback. The last step is only about verification. So you can repeat the verification process to check if the calendar and contacts were successfully migrated.

When you follow the instructions on this page, it migrates emails, contacts, and calendar items.

Hope this helps!

Thanks
Sri

[2022-05-04 07:03] msbemba commented on #8405
@blue-ken Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8483

once the author approves, the changes will be live.

Thanks
Sri

[2022-05-04 07:05] msbemba commented on #8406
@mcteufelms Thank you for your feedback. The document has been updated to reflect the correct information now.

The fileinfo limit is 30 GB.

Hope this helps!

Thanks
Sri

[2022-05-04 07:08] msbemba commented on #8407
@ThreshTheRed Thank you for your feedback. This sounds more like a technical issue or a bug. I'd recommend you contact Microsoft support via the need help section on the admin center to get this resolved or escalated to the product group(in case this is a bug or a known issue).

Hope this helps!

Thanks
Sri

[2022-05-04 07:18] msbemba commented on #8418
@SpangleIT Thank you for your feedback. The document pertains to adding users in bulk to M365, so that is why you do not see information about adding aliases.

Adding aliases via the M365 admin center cannot be performed in bulk. Here is the document that talks about adding aliases -https://docs.microsoft.com/en-us/microsoft-365/admin/email/add-another-email-alias-for-a-user?view=o365-worldwide#ad

[2022-05-04 07:21] msbemba commented on #8419
@RHooijer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8484

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-04 07:25] msbemba commented on #8432
@onsite-insights Thank you for your feedback.  The option is under the security and privacy tab-->Password expiration policy.

![image](https://user-images.githubusercontent.com/45987684/166638202-d5213f7a-cd41-488a-a142-77dda0747b8d.png)

I have tested this in multiple tenants and the options are intact.

Hope this helps!

Thanks
Sri

[2022-05-04 07:29] msbemba commented on #8448
@alanbmhs Thank you for your feedback. I was able to reproduce the issue as well. However, this needs to be reported to the support/product team via the need help section on the admin center as this feedback section is only for modifying documents.

Hope this helps!

Thanks
Sri

[2022-05-04 07:32] msbemba commented on #8449
@bubhat Thank you for your feedback. I could not find the details in the roadmap either. If you'd like to get more information on this from the product/dev team you can leave feedback on our main feedback portal -https://feedbackportal.microsoft.com/ and one of our product/dev team members will be able to provide you an update or exact dates if they are available.

Hope this helps!

Thanks
Sri

[2022-05-04 07:36] msbemba commented on #8450
@Daiannec Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8485

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-04 07:39] msbemba commented on #8454
@danielfawcett1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8486

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-04 07:46] SpangleIT commented on #8418
Thank you for you feedback

I will give admin centre a try, I have found a few help pages but they assume a certain level. Where I probably need a little more detailed (worked examples).

I have about 200 aliases to add to a single email account

Kind regards
Malcolm
Spangle IT

Phone: 01708 700817      DDI 01621 838050
Spangle.it
SpanglePICS.co.uk
Spangleit.co.uk

From: Sriraman M S ***@***.***>

[2022-05-04 12:29] MichaelRyan87 opened #8488 "WebApp Limitations with desktop labeled documents"
From my testing there is a limitation with accessing label encrypted documents on a SPO site where the file has been encrypted from the desktop apps with an admin defined encryption label. Attempting to open the file will result in the following error:

![image](https://user-images.githubusercontent.com/37851228/166680864-26fb16c2-0b57-4aac-a069-5d8505f869ce.png)

Opening with a desktop app then c

[2022-05-04 13:15] barn4k opened #8489 "Defender for endpoint REST API issue"
Hello,

when I'm trying to use [list_machines](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/get-machines?view=o365-worldwide) or [list_alerts](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/get-alerts?view=o365-worldwide) methods with **$top** property, there are no **odata.nextLink** in the results. Thus, it is impossible to page results les

[2022-05-04 13:24] vtwwe opened #8490 "missing endport for Azure portal"
afd.hosting.portal.azure.net hosting log resources of Azure Portal is not listed (probably *.hosting.portal.azure.net).
In case proxy blocks this URL Azure Portal is unusable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb2

[2022-05-04 13:26] vtwwe commented on #8466
@hmuchaku is referring: https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges

[2022-05-04 14:45] saraporter commented on #8299
I also do not see where in this doc it indicates that the AzureAD module is being replaced by powershell graph SDK - there should be a line about this at the top of the document so new adopters can choose to utilize the newer methods for powershell.  Please update the top of the document- I suggest something like

Note: The AzureAD module is being replaced by Powershell graph SDK.

Get started wit

[2022-05-04 15:48] Mike-Crowley opened #8491 "Start-ADSyncCycle should be Start-ADSyncSyncCycle"
The Azure AD Connect cmdlet is incorrect. Start-ADSyncCycle should be Start-ADSyncSyncCycle
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61c960c-f5c3-76f7-ac18-dfeaf30230e4
* Version Independent ID: 3dc607b2-869e-976f-80da-d73cfb1210e5
* Content: [Cross-tenant mailbox migration - Microsoft 365 Enterprise](https://doc

[2022-05-04 17:16] jweston-1 commented on #7343
@MatthewWhiteMoJ  the PM would like to known if you are asking how to “Block specific removable storage class but allow specific media”? if that is the case, he suggests "you can use ‘IncludedIdList a group through PrimaryId and ExcludedIDList a group through DeviceId/HardwareId/etc.’ "
If this is not what you are inquiring about, please provide additional details, perhaps with a basic example.

[2022-05-04 18:43] enrikd13 opened #8494 "Links for the deployment lab kit not working"
So the links to the  deployment lab kit seem to be down and just redirect to the main Microsoft downloads page (microsoft.com/en-us/download) constantly from different browsers and both in incognito too , so I'm guessing its not an issue with my browser.
Would really appreciate if someone could follow through and have a solution soon.

## Update :

It seems every https://www.microsoft.com/en-us/ev

[2022-05-04 19:34] colorenz opened #8495 "com.microsoft.wdav.tunnelext is still described in the docs. It is probably no longer necessary."
Please Update the Docs. com.microsoft.wdav.tunnelext is still described in the docs. It is probably no longer necessary.

![image](https://user-images.githubusercontent.com/16665557/166812701-8ce71474-38be-4c2d-8dc3-037fb684a935.png)

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 680cec4a-027f-5aa8-b56a-85410d2

[2022-05-05 04:16] yogkumgit commented on #8392
@msbemba Thank you very much for the contribution and sharing this explanation. @Jaymoon85 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-05 04:16] #8392 closed

[2022-05-05 04:20] yogkumgit commented on #8416
@mjcaparas Please help us in resolving this issue. Thanks

[2022-05-05 04:21] yogkumgit commented on #8411
@chrfox Please help us in resolving this issue. Thanks

[2022-05-05 04:26] yogkumgit commented on #8405
@msbemba Thank you very much for the contribution and updating the documentation with PR. @blue-ken Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-05 04:27] #8405 closed

[2022-05-05 04:29] yogkumgit commented on #8406
@msbemba Thank you very much for the contribution and sharing this explanation. @mcteufelms Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-05 04:29] #8406 closed

[2022-05-05 04:30] yogkumgit commented on #8407
@msbemba Thank you very much for the contribution and sharing this explanation. @ThreshTheRed Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-05-05 04:30] #8407 closed

[2022-05-05 04:31] yogkumgit commented on #8418
@msbemba Thank you very much for the contribution and sharing this explanation. @SpangleIT Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-05-05 04:31] #8418 closed

[2022-05-05 04:35] yogkumgit commented on #8432
@msbemba Thank you very much for the contribution and sharing this explanation. @onsite-insights Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share

[2022-05-05 04:35] #8432 closed

[2022-05-05 04:36] yogkumgit commented on #8448
@msbemba Thank you very much for the contribution and sharing this explanation. @alanbmhs Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the out

[2022-05-05 04:36] #8448 closed

[2022-05-05 04:37] yogkumgit commented on #8449
@bubhat  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-05-05 04:37] #8449 closed

[2022-05-05 04:40] yogkumgit commented on #8454
@msbemba Thank you very much for the contribution and updating the documentation with PR. @danielfawcett1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-05 04:40] #8454 closed

[2022-05-05 04:59] yogkumgit commented on #8299
@msbemba

[2022-05-05 06:44] Acen opened #8496 "NZ Technical support 24/7 incorrect"
Documentation stated as 24/7 technical support is incorrect - phone response responded with saying that technical support was offline then hung up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 138f83a0-e9ee-a568-941c-d77cbf8ed6f8
* Version Independent ID: 350faaee-9070-b1dd-e7f7-71275f610434
* Content: [Support infor

[2022-05-05 16:43] danmyhre opened #8499 "Permission Requirements"
Add details on the required permissions for managing services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08f1236b-050e-d7b5-ea59-3de650155607
* Version Independent ID: fc058c80-e7c4-1a26-cbc3-d33fc2282e13
* Content: [Define your Bookings service offerings](https://docs.microsoft.com/en-us/microsoft-365/bookings/de

[2022-05-05 18:17] kelleyvice-msft commented on #8491
Revised in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/13948

[2022-05-05 18:17] #8491 closed

[2022-05-05 18:30] kelleyvice-msft commented on #8490
The Office 365 endpoints web service only includes endpoints specific to Office 365. The Azure portal is out of scope, which is why it is not listed.
Thanks for reaching out.
Kelley

[2022-05-05 18:30] #8490 closed

[2022-05-05 19:15] msbemba commented on #8299
@saraporter I have moved the SDK module to the note at the top of the article. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8500

Thanks
Sri

[2022-05-05 19:28] chadmando opened #8501 "Change code block from inline to a PowerShell formatted block"
In the linked section, the configuration options are written with inline code blocks.  It doesn't allow for the easy copy/paste option or formatting like a language specific code block.  I would be happy to make this change.

Creating the issue first in the case this was done on purpose.

[change default setting link](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/en

[2022-05-05 20:42] aingber opened #8502 "Error in documentation"
In the File Plan, the 'SubCategory' field also has a 64 character limit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4465ca1-9ee2-e551-aff2-9fc8e4a5eae3
* Version Independent ID: 2cbc9375-d055-edf8-0f89-b5794f7aa7a7
* Content: [Use file plan to manage retention labels - Microsoft Purview](https://docs.microsoft.com

[2022-05-06 00:03] boltsa commented on #8494
I'm having the same issue. Please fix the links.

[2022-05-06 03:48] yogkumgit commented on #8501
@chadmando Please indicate which document you are referring to for this feedback. Thanks

[2022-05-06 04:22] yogkumgit commented on #8419
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RHooijer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-06 04:22] #8419 closed

[2022-05-06 06:52] janvonr opened #8504 "Limitations for OCR"
In the documentation there's no information regarding the limitations of OCR and also no information regarding the Azure Cognitve Services on which the feature relies.

We have some customers requesting this information, so it would be very helpful if this information could be added to the documentation.

For the customers it is very important to understand what information they can expect to be f

[2022-05-06 09:19] jackson-yang-microsoft opened #8505 "Add "applies to MDE P1" on this page"
It's a bit confusing while "Create indicators for files" display applies to MDE P1&P2, but this page only applies to MDE P2

![image](https://user-images.githubusercontent.com/101696604/167103969-603128a0-8413-4516-a4ce-1efcb2bb1b6e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e04266df-a692-ddef-5f05-ea40d82a0ee

[2022-05-06 11:43] MasterBlaster4 opened #8506 "Block execution of potentially obfuscated scripts"
The information provided is not accurate since the PS scripts were removed from the scope of this ASR according to the WD Response Request ID: 39392159

"The Powershell scripts have been excluded from the "Block execution of potentially obfuscated scripts" rule [5beb7efe-fd9a-4556-801d-275e5ffc04cc] due to the large scale FP issues faced in the past."

---
#### Document Details

⚠ *Do not edit thi

[2022-05-06 13:17] joergrenn opened #8507 "Create better description of quarantine notification settings"
https://docs.microsoft.com/microsoft-365/security/office-365-security/quarantine-policies#configure-global-quarantine-notification-settings-in-the-microsoft-365-defender-portal

I read the documentation and tried to configure the quarantine notification settings but it is poorly described.

Could you please improve the description?

What does the setting "Default" for language mean?

This is not c

[2022-05-06 13:29] mntorq opened #8508 "Convert to shared mailbox steps need to be updated"
At section: https://docs.microsoft.com/en-us/microsoft-365/admin/email/convert-user-mailbox-to-shared-mailbox?view=o365-worldwide#use-the-new-exchange-admin-center-to-convert-a-mailbox

Step 3, it indicates: _Select the user mailbox. In the Mailbox tab, under More Actions, select Convert to shared mailbox._

As of 5/6/22, this is under **Others** tab, not **Mailbox** tab

---
#### Document Details

[2022-05-06 13:32] chadmando commented on #8501
The document path is: MicrosoftDocs/microsoft-365-docs/microsoft-365/enterprise/manage-microsoft-365-groups-with-powershell.md

Link: https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/enterprise/manage-microsoft-365-groups-with-powershell.md#change-the-default-setting-of-microsoft-365-groups-for-outlook-to-public-or-private

The section of the document is:
## Change the

[2022-05-06 16:12] samkellyd opened #8509 "change .py to .sh"
changed .py to .sh, recent change on downloading onboarding script.  https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mac-jamfpro-policies?view=o365-worldwide#step-1-get-the-microsoft-defender-for-endpoint-onboarding-package

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3e6e51c-592a-ed20-2340

[2022-05-06 18:56] chrisda commented on #8507
@joergrenn, thanks for the feedback. It appears that the UI has changed in that Global Settings flyout of quarantine policies. I updated it to match currently reality, and clarified it based on your suggestions. See the pull request linked to this issue.

I'll notify the product team about the string change from "should" to "must" in that dialog box.

After you've verified that you like the change

[2022-05-06 19:39] cabailey commented on #8502
I'm checking if this is by design or a bug - seems a strange field to have this old limitation when it was removed for the others.

[2022-05-06 19:57] PayneCeeva opened #8512 "Multiple Errors on Page"
I'll list the errors I ran into before I had to stop due to issues with Azure AD "Sync," which is not in the purview of this page.

-Step 2, Note insert: "Should be less than 20 GB" indicates more than 20 will work but is not recommended. In fact, a file larger than 20GB causes the application to crash.
-Step 2, part 3: The command given is [azcopy.exe copy "<Source location of PST files>" "<SAS U

[2022-05-06 20:42] ReadingMo123 opened #8513 "Script to restrict O365Group creation and Yammer"
Has anyone processed this script to restrict yammer community/group creations?
The article says it should work for Yammer. We ran the script successfully but I am still able to create communities in Yammer with an account that is not part of main group that can do the group creation.
It does work as described in the article for Planner
Any feedback would be appreciated.
Thank you

Document Details

[2022-05-06 20:58] chrisp1992 opened #8514 "High Confidence Phishing not included in table"
Is there a reason that High Confidence Phishing isn't listed in the non-configurable priority table? Is it just part of Phishing? It's hard to tell since High Confidence Spam is there along with Spam.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4194fdd-c5de-d424-319a-5e83774b36c2
* Version Independent ID: 83997ad4-

[2022-05-06 21:28] chrisda commented on #8514
The high confidence phishing verdict is part of spam. Did something new come along?

[2022-05-06 21:48] MSFTEfeedback opened #8515 "Typo on page... "essage Encryption""
There is a typo on this page, instead of "Message Encryption" it says "essage Encryption".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed881955-a2ba-6482-cb1b-8443909c4d52
* Version Independent ID: 57679a1a-7501-40fe-c1c4-5aff9a45c792
* Content: [Encryption in Microsoft 365 - Microsoft Purview](https://docs.microsof

[2022-05-07 20:43] Mike-Crowley opened #8520 "invalid powershell: $dehydrated=Get-OrganizationConfig | fl isdehydrated"
this should be "`select`" `isdehydrated`, not `FL`, which is an alias for a formatted list. the list is not going to satisfy the next line
`($dehydrated -eq $true) `
because a list is not a boolean.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61c960c-f5c3-76f7-ac18-dfeaf30230e4
* Version Independent ID: 3dc607b2-86

[2022-05-07 21:17] waydaws opened #8521 "It's not clear whether this comes with our license or is an additional cost"
To me, on reading this page, it looks like this is something that is not covered in our E5 license since it says "contact your account team".   After having to shell out for and E5 license, you wouldn't expect to get Nickle and Dimed for extra services.  Targeted Attack Notifications should be automatically covered, while Threat Experts only should be extra.

---
#### Document Details

⚠ *Do not e

[2022-05-08 09:45] aryasenna opened #8522 "Unnecessary whitespace on EwsAllowList modification"
There's an unnecessary whitespace character for this command:

`Set-OrganizationConfig - EwsAllowList @{Remove="MicrosoftOWSPersonalBookings"}`

Should be `-EwsAllowList` not `- EwsAllowList`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Version Independent ID: 7bad8864-5f08-90ae

[2022-05-08 14:40] DavidRBailey opened #8523 "Microsoft 365 Family with DKIM"
This page gives instructions on how to set up DKIM, but fails to mention how this is achieved for Microsoft 365 Family.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 249c059f-c3ce-a382-b99e-795a0c1f646a
* Version Independent ID: 5656c114-ae16-6194-cd9f-353b33f4a1e1
* Content: [How to use DKIM for email in your custom

[2022-05-08 20:40] gringogreen opened #8524 "Download links are dead"
Both links (to download the kit for Windows 10 & 11) are invalid.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office 365 deployment lab kit - Microsoft 365 Enterprise](https://docs.microsoft.co

[2022-05-09 05:24] msbemba commented on #8391
@kingsgatelogistics Thank you for your feedback. I'm currently working with the author on this and will update you shortly.

Thanks
Sri

[2022-05-09 05:42] msbemba commented on #8398
@XiaoliangHuang Thank you for your feedback. This issue occurs only on Android 11 as Xiaomi changed the battery optimization permissions in Android 11. If you still have the same issue on Xiaomi MIUI 13 I'd recommend raising a bug with the product group to resolve the issue.

The document is updated with the information stating it applies to Xiaomi with Android 11

Hope this helps!

Thanks
Sri

[2022-05-09 05:46] msbemba commented on #8402
@Runs-info Thank you for your feedback. I was able to reproduce the issue. I'm correctly working with the author and will fix this shortly.

Thanks
Sri

[2022-05-09 05:57] msbemba commented on #8413
@Wittkie Thank you for your feedback. We have made changes to the document by adding related articles via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8525

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-09 06:14] msbemba commented on #8422
@MrV8Rumble Thank you for your feedback. I'm checking with the author to see if there is an extension in the date of deprecation and also to see if a script is available for PS7 / Graph SDK. I'll update the document shortly.

Thanks
Sri

[2022-05-09 06:20] msbemba commented on #8434
@debaxtermsft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8526

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-09 06:26] msbemba commented on #8455
@dkotars Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8527

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-09 09:37] thommck opened #8528 "Why are some URLs missing in get-pacfile"
This is probably a question to add to the FAQ section.
If I look at the Office 365 URLs and IP address ranges page (https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges) it has a lot of URLs that are missing from the Get-Pacfile automated script.
For example the URL page has these
"enterpriseregistration.windows.net"
"*.aria.microsoft.com"

I discovered myself that

[2022-05-09 10:52] yogkumgit commented on #8391
@cmcatee-MSFT Email is sent. Waiting for reply. Thanks

[2022-05-09 10:56] yogkumgit commented on #8402
@denisebmsft Email sent, please reply. Thanks

[2022-05-09 10:57] yogkumgit commented on #8422
@MikePlumleyMSFT Email sent, kindly reply. Thanks

[2022-05-09 11:02] yogkumgit commented on #8334
@denisebmsft Please help us in resolving this issue. Thanks

[2022-05-09 11:04] yogkumgit commented on #8332
@mjcaparas Email sent, please reply. Thanks

[2022-05-09 11:07] yogkumgit commented on #8256
@kwekuako Email sent, please reply. Thanks

[2022-05-09 11:57] yogkumgit commented on #8434
@msbemba Thank you very much for the contribution and updating the documentation with PR. @debaxtermsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-09 12:01] yogkumgit commented on #8388
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nitvit610 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-09 15:37] ahmedbadawy80 opened #8529 "Should we or Should we not perform full scan"
Hi,
The full scan is really a challenge for me to understand if we should schedule on weekly/monthly basis specially for servers or nor?
The Microsoft Architects we work with aren't sure also. Some say yes perform the scans for Tier0 servers only, others aren't on board of full scanning.
nevertheless, none agreed on performing a full scan on all all tiering model.

Any idea or recommendation or de

[2022-05-09 16:24] D4m4 opened #8530 "ASR Rule Block execution of potentially obfuscated scripts does not block PS scripts"
It appears that at this moment the rule "Block execution of potentially obfuscated scripts" (https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference?msclkid=b6b286d8cf8211ecab768e3d7d5d8c4b&view=o365-worldwide#block-execution-of-potentially-obfuscated-scripts) does not detect PS scripts due to high impacting FPs. It would be useful to add

[2022-05-09 16:50] rmcgarry opened #8531 "Question on logic"
While technically correct, the intent implied by this document is not going to be satisfied by the crontab entry presented.

As written, the "update command" will occur on every Sunday where the calendar day is less than or equal to 15.  This will happen at least twice in every month.  If the month begins on a Sunday, the conditions will be satisfied 3 times - on the 1st, the 8th, and the 15th.

T

[2022-05-09 17:30] alialhammad1992 opened #8532 "IOS"
Please-support-the-application-in-Arabic IOS

[2022-05-09 18:28] ramoriusvt opened #8533 "Not Useful"
Not useful.

After logging in, The Help and Support option isn't there. Neither is Contact Support.

So, not useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Version Independent ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Content: [Get support - Microsoft 365 admin](https://d

[2022-05-09 19:58] BrianMcNeese opened #8534 "Add Instructions to Change Geo Location of a Team"
Although admins may be able to read between the lines, it would be beneficial to add a section containing step-by-step instructions for moving a team's geo location (i.e. change the pdl of the underlying group using cmd below, then move the spo site using cmd below, etc).

Add this info either to this page, or link to a new page called "Move a team" under the "Manage" section of docs.

---
#### Do

[2022-05-09 21:50] MichaelBishopMN opened #8536 "Download Links for Deployment Lab Kit not working"
The links to download the Deployment Lab Kit just redirect to https://www.microsoft.com/en-us/download with no option to download the lab kit.

Windows 11 with Office 365 deployment lab kit:
https://www.microsoft.com/evalcenter/evaluate-windows-11-office-365-lab-kit

Windows 10 with Office 365 deployment lab kit:
https://www.microsoft.com/evalcenter/evaluate-lab-kit

---
#### Document Details

⚠ *

[2022-05-09 22:17] denisebmsft commented on #8532
Hello @alialhammad1992. Thank you for posting your request here. Can you please tell us to which article this issue applies? This information will help us route the issue to the correct writer/team. Thank you!

[2022-05-09 22:28] alialhammad1992 commented on #8532
I want to support IOS application in Arabic language

احصل على Outlook لـ iOS<https://aka.ms/o0ukef>
________________________________
من: Denise Vangel-MSFT ***@***.***>
‏‏تم الإرسال: Tuesday, May 10, 2022 1:17:27 AM
إلى: MicrosoftDocs/microsoft-365-docs ***@***.***>
نسخة: alialhammad1992 ***@***.***>; Mention ***@***.***>
‏‏الموضوع: Re: [MicrosoftDocs/microsoft-365-docs] IOS (Issue #8532)

Hello

[2022-05-10 04:27] jwu56 opened #8537 "CmdLet name - small issue"
The cmdlet name for getting the Organization Config is not in the right case. It should be `Get-OrganizationConfig
 ` and not `Get-Organizationconfig`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Version Independent ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Content: [Bookings i

[2022-05-10 05:13] yogkumgit commented on #7686
@msbemba Thank you very much for the contribution and updating the documentation with PR. @porterkim Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-10 05:13] #7686 closed

[2022-05-10 05:37] yogkumgit commented on #8456
@msbemba

[2022-05-10 05:38] yogkumgit commented on #8398
@msbemba Thank you very much for the contribution and sharing this explanation. @XiaoliangHuang Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-10 05:38] #8398 closed

[2022-05-10 06:41] AiHirano opened #8538 "Is "ListItemViewed" event in SharePoint list available?"
[Enter feedback here]

This audit event for SharePoint lists was available until the on-premises days, but has long been unavailable in SharePoint Online. I checked the audit log entry for my tenant to see if this information is now available and found that this entry does not exist. Is this info correct? Or is this a new update?
---
#### Document Details

⚠ *Do not edit this section. It is requir

[2022-05-10 07:07] #6841 closed

[2022-05-10 07:18] yogkumgit commented on #7277
@markjjo Kindly update. Thanks

[2022-05-10 08:02] yogkumgit commented on #8223
@msbemba

[2022-05-10 09:19] thewrabbit opened #8539 "Educational Licensing and Alerts"
Educational licenses are not listed for configuring alerts in the DLP Alert management Dashboard.

Please also see issue https://github.com/MicrosoftDocs/OfficeDocs-O365ServiceDescriptions/issues/668

A1 and A3 have access to Sharepoint/OneDrive and Exchange DLP
A5 has access to Teams DLP in addition to files and e-mail.

However alert configuration options do not list academic licenses in the ale

[2022-05-10 10:43] birdmn opened #8540 "Microsoft Defender Linux, nfs scanning/real-time protection"
Hello,
we're running Microsoft Defender on Ubuntu 20.04 computers (version 101.65.77) and experiencing strange behavior with NFSv3 and NFSv4 mounts. Mounts are done with sec=krb5p or krb5i.

NFSv4 with krb5p or krb5i: mdatp is not able to do real-time scans while reading or executing known malicious files (e.g. eicar testfile).

NFSv3 with krb5p or krb5i: on some computers mdatp is able to detect

[2022-05-10 11:42] kotras opened #8541 "Misleading information on the script extension on the german version. Its python script, not bash"
Please change on the German version the onboard script extension, should be MicrosoftDefenderATPOnboardingLinuxServer.py and not MicrosoftDefenderATPOnboardingLinuxServer.sh. This is in multiple places, here is one:
![image](https://user-images.githubusercontent.com/96786608/167620358-b2808945-703c-40d7-b6b1-5736b43452e2.png)

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-05-10 12:02] ahamin01 opened #8542 "Typos in commands"
You have typos in commands. Whereas, it won't work if you have whitespace between - and EwsAllowList. This whitespace has to be removed.

Wrong Command Example:
Set-OrganizationConfig - EwsAllowList @{Add="MicrosoftOWSPersonalBookings"}

Correct Command Example:
Set-OrganizationConfig -EwsAllowList @{Add="MicrosoftOWSPersonalBookings"}

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-05-10 12:03] inagrawalru opened #8543 "Role Required to implement the policy and limitation on number of groups"
Hi Team,
Please specify the role or license required to configure the policy as the information is missing from the page.

Also, please confirm (maximum) how many groups can be added if policy is configured for specific groups in the tenant.

Regards
Rupali Agrawal

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c73a4

[2022-05-10 12:20] Will-Riach opened #8544 "powershell cmdlet does not work"
In the section "Use PowerShell as an alternative method to enable ASR rules".

The powershell cmdlet did not work for me.
`(Get-MpPreference).AttackSurfaceReductionRules_Ids | Foreach {Add-MpPreference -AttackSurfaceReductionRules_Ids $_ -AttackSurfaceReductionRules_Actions AuditMode}`

If I run `(Get-MpPreference).AttackSurfaceReductionRules_Ids` in isolation nothing is returned so nothing is bei

[2022-05-10 14:36] import-au opened #8546 "Behavior Monitoring section has both values set to default"
[Behavior Monitoring](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-preferences?view=o365-worldwide#enabledisable-behavior-monitoring)

Both values are default? Can we get this corrected? I believe it depends on version as to whether it's default enabled or disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-05-10 15:33] juergsteiger opened #8547 "Download links not valid"
The download links are not valid anymore. Please provide the new links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office 365 deployment lab kit - Microsoft 365 Enterprise](https://docs.micros

[2022-05-10 16:02] JMCA2 opened #8549 "Spain support hours"
According to Tech Support from Spain, they work until 6pm.

On this page it says they work until 9pm

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a6210f0-1f53-aa78-7cbf-16bffbbd67f2
* Version Independent ID: 87fd841d-8f82-d5d0-a769-a99c3eb8ad6e
* Content: [Support information for Spain - Microsoft 365 admin](https:/

[2022-05-10 17:30] chrfox commented on #6849
closing this per guidance from product team

[2022-05-10 17:30] #6849 closed

[2022-05-10 18:56] cabailey commented on #8333
@michevnew  Apologies this has taken awhile because we investigated all scenarios for deleted labels (vs removed from policy).  It seems it can take SharePoint longer than our usual 24hrs to stop enforcing the settings from the now deleted label and this information is now added to the section: https://docs.microsoft.com/en-us/microsoft-365/compliance/create-sensitivity-labels?view=o365-worldwide#

[2022-05-10 19:34] RAJU2529 commented on #8544
@Will-Riach , you have not used IDs, in the command, so nothing will happened

example command
### Block Adobe Reader from creating child processes
**Add-MpPreference -AttackSurfaceReductionRules_Ids 7674BA52-37EB-4A4F-A9A1-F0F9A1619A2C -AttackSurfaceReductionRules_Actions Audit**

[2022-05-10 19:47] Will-Riach commented on #8544
Apologies.
I had misread the previous line "To enable all the **added**" implying I had manually added the ID's in the previous cmdlet.

[2022-05-10 19:47] #8544 closed

[2022-05-10 21:02] cmcatee-MSFT commented on #7628
The numbers shown on the page for Switzerland are the only #s I have.

[2022-05-10 21:25] OleksiiH opened #8555 "Extra space in command"
[Enter feedback here]
Extra space here "- EwsAllowList" in this command:
Set-CASMailbox -Identity adam@contoso.com - EwsAllowList @{Add="MicrosoftOWSPersonalBookings"}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Version Independent ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Con

[2022-05-10 22:02] ryanmonson opened #8556 "Command syntax is incorrect"
Several of the commands on this page include '- EwsAllowList' when it should instead be '-EwsAllowList' (no space after the dash).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Version Independent ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Content: [Bookings in Outlook](https://d

[2022-05-10 22:39] alanbmhs opened #8557 "Could be clearer"
I get EwsEnabled : False for the Get-Organization command, so what do I do now?
For individual users, I get EwsEnabled : True, so how can it be False for the Org but True for individuals?

I also get blanks on this response for both the Org and individuals -
EwsApplicationAccessPolicy :
EwsAllowList               :
EwsBlockList               :

Not really sure what it means. I just want to turn th

[2022-05-10 22:44] JrothSKV opened #8558 "Change in behavior of safe attachments preview feature?"
Up until recently, the preview feature of deliver but only show preview used to show a placeholder in the email until scanning was done.  Now it appears to be delivered immediately to the users mailbox, but opens in protected mode until the ATP scan completes.  Is this change in behavior by design?

[2022-05-11 02:59] paisleyborg commented on #8423
Hi @cabailey

We are using this version of MS Office (pls see screenshot), which I believe is a supported version of Office? - but still no AIP capability based on this new built-in AIP functionality/client.

Thank you

<img width="410" alt="MSOfficeVersion" src="https://user-images.githubusercontent.com/19217163/167760020-1258b40d-a945-4095-b570-851d1f8673f7.PNG">

[2022-05-11 04:34] yogkumgit commented on #8558
@JrothSKV please indicate the name of the document, your feedback is related to. Thanks

[2022-05-11 04:48] #7628 closed

[2022-05-11 05:01] yogkumgit commented on #8476
@ArunMSFT Gentle reminder

[2022-05-11 06:48] morrow233 opened #8562 "Download quarantined files feature seems to be GAd already"
Download quarantined files
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-file-alerts?view=o365-worldwide#download-quarantined-files

===========
Files that have been quarantined by Microsoft Defender Antivirus or your security team will be saved in a compliant way according to your [sample submission configurations](https://docs.microsoft.com/en-us/microsoft-365

[2022-05-11 06:55] michevnew commented on #8333
Thanks Carol.

[2022-05-11 06:55] #8333 closed

[2022-05-11 07:33] OleksiiH opened #8563 "Error in step 1 for individual users"
[Enter feedback here]
This step (for individual users):
1. Check individual’s EwsApplicationAccessPolicy by running the following command:
Get-CASMailbox -Identity adam@contoso.com | Format-List EwsEnabled

Should be changed to:
1. Check individual’s EWS control access by running the following command.
Get-CASMailbox -Identity adam@contoso.com | Format-List EwsEnabled

---
#### Document Details

⚠

[2022-05-11 10:05] Iterambere commented on #4722
Thank you very much for this.....

[2022-05-11 10:59] msbemba commented on #8462
@Darrelo365 Thank you for your feedback. Yes, you can purchase 1 SharePoint syntex license. Since it is an add-on license it requires the user to have a license for M365.  This information has been added to the document.

As long as you have the license, you can create models and apply them to multiple document libraries.

If you have further queries regarding the licensing, I'd recommend you cont

[2022-05-11 11:04] msbemba commented on #8471
@andersnese Thank you for your feedback. Since this question needs to be directed to our Dev/product group, I'd recommend you post the question on our main feedback portal - https://feedbackportal.microsoft.com/

So that one of our Dev/product engineers will be able to review the roadmap and provide you with the information.

Hope this helps!

Thanks
Sri

[2022-05-11 11:23] msbemba commented on #8508
@mntorq Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8565

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-11 11:34] ArunMSFT commented on #8476
@Rahul ***@***.***> from our team will look into this soon. Thanks for the reminder.

From: Yogesh Kumar ***@***.***>
Sent: Wednesday, May 11, 2022 10:32 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Arunkumaran Varadharajan ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Clarify what "most active members" are... (Issue #8476)

@ArunMSFT<https://nam06.

[2022-05-11 11:38] msbemba commented on #8520
@Mike-Crowley Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8566

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-11 12:33] SmuSmu opened #8567 "Windows and Office 365 deployment lab kit"
Download Links are not working anymore

[2022-05-11 13:04] angusmclean11 opened #8568 "Error in PS Commands"
I found there is an issue with two commands listed in the document where there is a space " " after the dash and before the attribute:

Invalid commands:
Set-OrganizationConfig - EwsAllowList @{Remove="MicrosoftOWSPersonalBookings"}
Set-OrganizationConfig - EwsAllowList @{Add="MicrosoftOWSPersonalBookings"}

Corrected commands:
Set-OrganizationConfig -EwsAllowList @{Remove="MicrosoftOWSPersonalBoo

[2022-05-11 13:51] msbemba commented on #8522
@aryasenna Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8569

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-11 15:16] RAJU2529 commented on #8568
@angusmclean11 . Issue is fixed. It will be reflected within two days in published page.

[2022-05-11 15:32] Yarli opened #8571 "Out of date"
The option to convert mailbox to shared doesn't exist anymore in the new exchange admin interface where it's stated.
It's now on the toolbar at the top and not on the action pane on the right.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b3fbbe-fde3-fd52-f9cd-d8fca56a1494
* Version Independent ID: 73d71ee8-579d-78b

[2022-05-11 16:42] elenazvarici opened #8575 "Removing exclusions when using managed configuration profile"
If AV exclusions were added through the managed configuration profile, they can only be removed through this. The command line works for exclusions that were added locally.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04ef0d15-6735-bb94-0d86-d57ffbaa05f7
* Version Independent ID: 52e516b5-b365-4950-334a-c4797333093d

[2022-05-11 17:05] JrothSKV commented on #8558
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/safe-attachments?view=o365-worldwide#dynamic-delivery-in-safe-attachments-policies

The behavior now seems to be no placeholder/preview, it simply opens in protected mode with an ATP banner until scanning is finished.

[2022-05-11 17:09] rahulnayakmicrosoft commented on #8476
@maxbaldt we do have multiple signals which indicate activity. Unfortunately we can't share those signals. If customers want to include signals, they can reach out to us. We check internally if it makes sense to add them to our roadmap.

[2022-05-11 18:25] SwiftOnSecurity opened #8576 "Missing information on Microsoft Edge extension"
Cannot find any mention of Microsoft Edge on several pages, implying Chrome is the only browser supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 77fbdd3c-a33c-84ef-082a-df4a483e3201
* Version Independent ID: 58d81554-45f9-192a-04a9-e0a6b92fe11f
* Content: [Get started with the Microsoft Purview Extension - Micr

[2022-05-11 18:30] #7446 closed

[2022-05-11 19:38] kelleyvice-msft commented on #7503
This is going to require the owner of the endpoints to update them in the web service database. I'm working on finding out who that is so I can notify them.

[2022-05-11 20:04] SeanTGeoghegan opened #8577 "Remove an inactive mailbox from a specific location retention policy"
Remove an inactive mailbox from a specific location retention policy - cmdlet is incorrect:

Explicit location policies cannot also have exceptions, you must use the following instead of what is currently documented:

_Set-RetentionCompliancePolicy -Identity <retention policy GUID without prefix or suffix> -RemoveExchangeLocation <identity of inactive mailbox>_

---
#### Document Details

⚠ *Do no

[2022-05-11 20:58] PhilippEisenmann opened #8579 "Empty machineTags array response with InvalidRequestBody"
From the documentation there is stated:

IMHO this should include an empty array to remove all tags.

Request is:
`{"machineTags": []}`

But the Response states that this in not possible in a weird error:
`{
    "error": {
        "code": "InvalidRequestBody",
        "message": "Currently supporting only update of: 'tags' and 'deviceValue'",
.....
`

---
#### Document Details

⚠ *Do not edit this

[2022-05-11 23:41] aczechowski commented on #8547
Thanks @juergsteiger for filing the feedback. We're aware of the issue. I'm investigating next steps.

[2022-05-12 00:09] cabailey commented on #8577
@SeanTGeoghegan  Thank you for flagging the incorrect parameter - now fixed.

[2022-05-12 00:09] #8577 closed

[2022-05-12 03:38] yogkumgit commented on #8567
@SmuSmu Please indicate which document you are referring to. Thanks

[2022-05-12 03:41] yogkumgit commented on #8579
@PhilippEisenmann Please indicate which document you are referring to. Thanks

[2022-05-12 03:45] yogkumgit commented on #8534
@MikePlumleyMSFT Please help us in resolving this issue. Thanks.

[2022-05-12 03:47] yogkumgit commented on #8531
@Dansimp Please help us in resolving this issue. Thanks.

[2022-05-12 03:49] yogkumgit commented on #8528
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-05-12 03:53] yogkumgit commented on #8512
@v-tophillips Please help us in resolving this issue. Thanks

[2022-05-12 03:56] yogkumgit commented on #8504
@v-tophillips Please help us in resolving this issue. Thanks

[2022-05-12 03:58] yogkumgit commented on #8489
@mjcaparas Please help us in resolving this issue. Thanks

[2022-05-12 04:00] yogkumgit commented on #8479
@denisebmsft Please help us in resolving this issue. thanks

[2022-05-12 04:06] yogkumgit commented on #8469
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-05-12 04:17] yogkumgit commented on #8542
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @ahamin01 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-12 04:17] #8542 closed

[2022-05-12 04:29] yogkumgit commented on #8522
@msbemba Thank you very much for the contribution and updating the documentation with PR. @aryasenna Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-12 04:29] #8522 closed

[2022-05-12 06:35] birdmn commented on #8540
As an addition: Defender does not react to malicious files even with sec=sys using NFSv4.

[2022-05-12 07:03] PhilippEisenmann commented on #8579
@yogkumgit  Sorry for that, I updated the original post.

[2022-05-12 08:10] placido-iv opened #8582 "Link for personal bookings"
Hi,

The link to access personal bookings was removed " **https://outlook.office.com/bookwithme/me**".

Also, I am having permission error after I enable personal bookings org wide commands. I have waited for almost 1 day and still I am having this issue.
![image](https://user-images.githubusercontent.com/105418731/168025350-3c486a0a-f1b1-4fe6-8ca2-88312525a322.png)

Any advise would help.

Thank

[2022-05-12 12:09] AndersMaletzki opened #8583 "Zero-touch onboarding of Microsoft Defender for Endpoint"
[Enter feedback here]
Hello

I was looking trough the documentation, and try to set up "Zero-touch onboarding of Microsoft Defender for Endpoint"
When I get to "Select Add for On Demand Rules and select I want to do the following = Establish VPN, I want to restrict to = All domains."

I don´t see "Establish VPN" in Endpoint Manager. But I see "Connect VPN" my guess is that is the same.
But not tes

[2022-05-12 13:54] jonasUMI opened #8584 "Missing navigation step in documentation"
Missing navigation step between
"2. In the navigation pane, choose Settings." and "3. In the General section, select Advanced features."  there should be _Choose endpoints_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0afc1f-2112-050d-2db6-40b14c2149b9
* Version Independent ID: 559af624-9032-7d66-670b-081ce8ac9d44

[2022-05-12 14:41] Alberto15002 opened #8585 "Documentation not updated"
Hello,

According the point 5 of this article https://docs.microsoft.com/en-us/microsoft-365/admin/manage/set-password-expiration-policy?view=o365-worldwide#set-password-expiration-policy, the Admin can choose a number of days to notify the users before the password expires, but I think that this box and feature are deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-05-12 16:45] chrisda commented on #8537
PR merged. Closing

[2022-05-12 16:45] #8537 closed

[2022-05-12 17:59] chrisda commented on #8514
Got it. Now attempting to find the answer.

[2022-05-12 19:47] Kazzan opened #8588 "Better licensing table"
Hi, can you please make the table clear to understandard? Like move the name of features on left column and make a checkbox markers in each license suite? Thanks.

[2022-05-12 22:59] jebeckham opened #8589 "TABL Block Action?"
Can we please document the action taken when something is blocked via TABL?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows and blocks in the Tenant Allow/Block List - Office 365](https://do

[2022-05-13 03:03] aczechowski commented on #8547
See https://techcommunity.microsoft.com/t5/windows-11/accessing-trials-and-kits-for-windows-eval-center-workaround/m-p/3361125

We'll update this and other articles soon.

[2022-05-13 03:15] RAJU2529 commented on #8576
@SwiftOnSecurity same  extension canbe installed in  microsoft edge browser. ,
open edge browser , navigate to below  address
**https://chrome.google.com/webstore/detail/microsoft-compliance-exte/echcggldkblhodogklpincgchnpgcdco**
click  add to chrome, extension will be added to edge browser

[2022-05-13 03:18] aczechowski commented on #8547
This article is updated

[2022-05-13 03:18] #8547 closed

[2022-05-13 03:18] yogkumgit commented on #8588
@Kazzan Please indicate which document you are referring to for the feedback. Thanks

[2022-05-13 04:50] Kazzan commented on #8588
Hi, sorry. GitHub Mobile somehow do not create the request with all the headers as usual. It is the https://docs.microsoft.com/en-us/microsoft-365/security/defender-vulnerability-management/defender-vulnerability-management-capabilities?view=o365-worldwide page.

[2022-05-13 09:39] PremMS-MDE commented on #8477
any update on this?

[2022-05-13 09:44] PremMS-MDE opened #8592 "If we run API explorer to offboard a machine it returns code 200 for success. But the document says its 201 for success. I have checked in lab and the result is same as 200. Customers are getting confused as the article says "If the script runs successfully it will give 201 but the actual success result is 200" can we get this document updated?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05007b38-2a58-d34a-6afb-838e2ddd380e
* Version Independent ID: d0e699b6-abe7-e8f6-a093-ecec52559dec
* Content: [Offboard machine API](https://review.docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/offboard-machine-api?view=o365-world

[2022-05-13 10:31] yogkumgit commented on #8567
@SmuSmu We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2022-05-13 10:31] #8567 closed

[2022-05-13 10:37] yogkumgit commented on #8568
@RAJU2529

[2022-05-13 11:09] SirdiJ opened #8593 "Prerequisites correct?"
Hi,

Are the Prerequisites correct for this page ? Defender for business states you can use Web protection, but the prerequisites on this page suggest otherwise as it does not include the Microsoft 365 Business Premium SKU ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbaaa90e-6975-ee29-335a-545cb6a55986
* V

[2022-05-14 07:29] RAJU2529 commented on #8592
@PremMS-MDE . If possible will you share screenshot of success status code

[2022-05-14 07:48] RAJU2529 commented on #8592
@mjcaparas  Why i couldn't able to view the documentation article page, when i click that page , i received the error, you don't have access to this page.

[2022-05-14 14:25] noname2282 opened #8598 "Хакер пидор"
Они же хуже пидорасов Хакер пидор Этот чел из мелкомягких он же хуже пидораса

[2022-05-14 17:11] TobiasAT commented on #8448
Just to note, in my tenant the change was retracted and the option for ownerless group management is no longer available.

[2022-05-15 05:26] #8598 closed

[2022-05-15 19:54] eliaskaplanbromberg commented on #8557
To disable 'Bookings in outlook' for all users: use the steps described in 'Turn Bookings in Outlook on or off for your organization using PowerShell', sections 1 and 2.C.
The individual settings, set with set-CASMailbox or default CASMailbox, override the organization wide settings, so EwsEnabled is true, need to add EnforceBlockList and EwsApplicationAccessPolicy  to turn off.
You can use the co

[2022-05-15 21:33] mikequ-taggysoft opened #8605 "Undocumented "automated" Defender for Endpoint onboarding method and applicable products confusions"
Two major confusion points after going through a recent deployment:

1.  Doc says it applies to:
Microsoft Defender for Endpoint Plan 2
Microsoft 365 Defender

First of all, what about "Microsoft Defender for Endpoint Plan 1" which is included with M365 E3? Does Plan 1 not need onboarding? I don't think that's the case because the [setup guide for Plan 1](https://docs.microsoft.com/en-us/microsoft

[2022-05-16 03:22] alanbmhs commented on #8448
As per @TobiasAT it appears to have been removed for me too now. In fact if I click on M365 Groups in Org Settings it just throws me out to the main admin page. The last response to my ticket was that the support engineer was checking if this behaviour was by design!

[2022-05-16 07:06] msbemba commented on #8540
@birdmn Thank you for your feedback. By design, NFS is a supported files system. This looks like a bug and can be reported directly to our support team via the need help option in the admin center.

We handle only document changes, hence the support team will be able to fix it, if it is found as a bug it will be escalated internally to the product group.

Hope this helps!

Thanks
Sri

[2022-05-16 07:06] ivassallo19 opened #8606 "One SKU has a SkuPartNumber with an issue"
Hi, not sure where else to post this.
In our tenancy, we are using a particular SKU:
SkuPartNumber: "CPC_E_2C_8GB_128GB"
SkuId: e2aebe6c-897d-480f-9d62-fff1381581f7
Which is the "Windows 365 Enterprise 2 vCPU 8 GB 128 GB" product.

When processing this SKU in PowerShell, The SkuPartNumber has a character at the end, which causes its default Format-Table output on screen to move the PrepaidUnits va

[2022-05-16 07:15] ivassallo19 commented on #8606
I tracked down the character.
It's a Unicode character 8203, which is ZERO WIDTH SPACE, or also referenced as U+200B.

[2022-05-16 07:15] msbemba commented on #8546
@import-au Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8607

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-16 07:19] msbemba commented on #8555
@OleksiiH Thank you for your feedback. The document is up to date and I do not see extra space anymore in Set-CASMailbox -Identity adam@contoso.com -EwsAllowList @{Remove="MicrosoftOWSPersonalBookings"}

Hope this helps!

Thanks
Sri

[2022-05-16 07:31] msbemba commented on #8557
@alanbmhs Thank you for your feedback. While the organization settings are disabled, you are still allowed to override it for specific users if need be. If you would like to disable this for users you can run the below PS script for individual users

Set-CASMailbox -Identity Adam -EwsApplicationAccessPolicy EnforceBlockList -EWSBlockList @{Add="MicrosoftOWSPersonalBookings"}

This is updated in do

[2022-05-16 07:34] msbemba commented on #8562
@morrow233 Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8608

Once the author approves,  the changes will be live.

Thanks
Sri

[2022-05-16 07:53] msbemba commented on #8563
@OleksiiH Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8609

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-16 07:56] msbemba commented on #8571
@Yarli Thank you for your feedback. I will test and update the document accordingly.

Thanks
Sri

[2022-05-16 08:10] msbemba commented on #8582
@placido-iv Thank you for your feedback. This seems to be an issue either with the tenant or the associated mailbox. I'd recommend you contact Microsoft support so the support engineer can fix the issue.

You can reach out to the support team via the need help section on the M365 Admin center.

Hope this helps!

Thanks
Sri

[2022-05-16 08:19] msbemba commented on #8584
@jonasUMI Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8610

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-16 08:24] msbemba commented on #8585
@Alberto15002 Thank you for your feecback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8611

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-16 08:27] msbemba commented on #8588
@Kazzan Thank you for your feedback. I'll modify the table and provide you an update.

Thanks
Sri

[2022-05-16 08:31] msbemba commented on #8592
@PremMS-MDE Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8612

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-16 14:41] v-tophillips commented on #8512
The statement "should be less than 20 GB" was written as: each PST file that you upload to the Azure Storage location should be **no larger** than 20 GB.

[2022-05-16 14:41] #8512 closed

[2022-05-16 14:58] DrLippert opened #8615 "minor error in danish translation"
just a minor error in the Danish translation in the first paragraph it says 13:1 chats instead of 1:1
![image](https://user-images.githubusercontent.com/29140398/168622463-6b66b12c-6c68-48e1-9dba-8b635e9bb2e4.png)

---
#### Dokumentoplysninger

⚠ *Undlad at redigere denne sektion. Det er påkrævet til docs.microsoft.com ➟ GitHub-problemlinkning.*

* ID: eb41d287-f954-dc84-782c-de8fa3c1ea0d
* Versio

[2022-05-16 15:57] obhayes commented on #8151
II just wondered when we can expect an update on this one please, as been approx 6 weeks, thanks

[2022-05-16 16:41] StuartHutchison opened #8618 "Step 3 Important note ambiguity"
Section "(Optional) Step 3: View a list of the PST files uploaded to Microsoft 365". The Important note regarding importing and deleting PST files doesn't make sense.

PST files cannot be deleted by Storage Explorer, AZCopy, or both?

Under what circumstances do PST files get deleted? Only the ones imported to the AZCopy target? All PST files in the blob container?
---
#### Document Details

⚠ *Do

[2022-05-16 16:45] denisebmsft commented on #8615
@TinaMcN Can you take a look?

[2022-05-16 17:26] v-tophillips commented on #8618
As the note says, PST files cannot be deleted. It doesn't state anything about using a tool, it says they can't be deleted.

[2022-05-16 17:26] #8618 closed

[2022-05-16 18:43] TinaMcN commented on #8615
@v-tophillips logged a bug for the translation vendors to fix.  The article is currently machine translated and it's being sent now for human translation which should fix the problem.  @DrLippert thank you for reporting the issue and please let us know if you notice any translation issues in other Danish articles.

[2022-05-16 18:45] RAJU2529 commented on #8615
@TinaMcN i conformed with english article , and i found
**Teams 1:1 chats** is mentioned, but i could not able to edit danish article.

[2022-05-16 19:32] Stealth7777 commented on #8004
The sensitivity labels documentation will be updated as CDN supports both Sensitivity labels and site classifications. @SanjoyanM as the owner for Sensitivity Labels.

[2022-05-16 19:54] alanbmhs commented on #8557
Thanks @ekaplanb and @msbemba for giving me the confidence to do this. I've now turned this off for the tenant.

[2022-05-16 19:54] #8557 closed

[2022-05-16 20:01] cchambers-cap opened #8624 "Questions about MRM and subfolder retention policies"
Hi and thanks for writing this document, it was very helpful!

I was wondering if you could provide details on how the inactive mailbox function works on retention policies assigned at the subfolder level in Exchange (are folder level retention policies only assignable via Exchange MRM?)

As an example, an account has a one year retention policy assigned to the entire mailbox (via Purview or MRM)

[2022-05-16 20:15] cabailey commented on #8004
@Stealth7777  Let's cover this with internal processes rather than public GitHub Issues.

[2022-05-16 20:16] Stealth7777 commented on #8004
Sure thing. Just wanted to clarify the response here as it was out of date.

[2022-05-16 21:52] cabailey commented on #8624
@cchambers-cap  I think you'll find the answers to your questions in the section for inactive mailboxes and MRM (https://docs.microsoft.com/en-us/microsoft-365/compliance/inactive-mailboxes-in-office-365?view=o365-worldwide#inactive-mailboxes-and-exchange-mrm-retention-policies):

1. The mailbox would be converted into an active mailbox because of Purview retention. MRM doesn't result in an inacti

[2022-05-16 22:22] cchambers-cap commented on #8624
In this case (and I should have been more specific) the policy deletes email after a year but doesn’t prevent people from deleting email before then. It is in effect "Delete any email older than a year except email that is in the archive folder. Any email can be deleted sooner if desired."

To restate: a Purview retention policy is configured to “only delete items when they reach a certain age” an

[2022-05-16 22:25] TinaMcN commented on #7855
@TomoharuMisawa  フィードバックをお寄せいただき、ありがとうございます。どの翻訳が正しいと考えられ、どの翻訳が正しくないかを具体的に教えていただけますか?

リンク先のコンプライアンス センターを表示するアクセス許可がありません
Classifiers の現在の訳語は `分類器` ではないでしょうか?
コンプライアンス センターでの翻訳が間違っていると思われる場合は、より多くのコンテキストを示すスクリーンショットを提供していただけますか?

さまざまなコンテキストに基づいて "Classifier" には、いくつかの異なる翻訳があります:
"分類器" の定義:クラス、データ型、インターフェイス サブクラスを含むスーパークラス。すべての分類子サブクラスは同じ構文を共有するため、それらはすべて同じ四角形モデル要素で表現されます。
"分類器" の定義:機械学習を通じてトレーニング

[2022-05-16 22:40] Korbyn72 opened #8625 "OMG"
I wont use the expletives I want to, but you need to highlight a few things on this page:

a) Bookings is enabled by default in probably most environments, and NOTHING needs to be done.
b) IF you run the command to add MicrosoftOWSPersonalBookings to the EwsAllowList, it ALSO sets the EwsApplicationAccessPolicy to EnforceAllowList, and with it being the ONLY item in the list, other things will bre

[2022-05-16 23:16] SKjerland commented on #7339
@yogkumgit - This article is slated to move to a new doc library owned by someone else. I assume it will be reworked and/or updated in the process. @denisebmsft, do you want to field this one? Thanks!

[2022-05-17 00:48] cabailey commented on #8624
Oh, a delete-only retention policy changes everything - that configuration won't result in an inactive mailbox:

The retention settings must be configured to retain content, or retain and then delete content. If the retention action is configured to only delete content, the mailbox won't become inactive when the user account is deleted.

[2022-05-17 02:57] yogkumgit commented on #8540
@msbemba Thank you very much for the contribution and sharing this explanation. @birdmn Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outco

[2022-05-17 02:57] #8540 closed

[2022-05-17 03:08] yogkumgit commented on #8555
@msbemba Thank you very much for the contribution and sharing this explanation. @OleksiiH Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-17 03:08] #8555 closed

[2022-05-17 03:13] yogkumgit commented on #8582
@msbemba Thank you very much for the contribution and sharing this explanation. @placido-iv Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-05-17 03:13] #8582 closed

[2022-05-17 03:15] #8584 closed

[2022-05-17 03:21] yogkumgit commented on #8536
@msbemba Thank you very much for the contribution and sharing this explanation. @MichaelBishopMN Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-17 03:21] #8536 closed

[2022-05-17 04:17] yogkumgit commented on #8462
@msbemba Thank you very much for the contribution and sharing this explanation. @Darrelo365 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-17 04:17] #8462 closed

[2022-05-17 04:19] yogkumgit commented on #8466
@msbemba

[2022-05-17 04:19] yogkumgit commented on #8468
@msbemba

[2022-05-17 04:21] yogkumgit commented on #8471
@andersnese Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-05-17 04:21] #8471 closed

[2022-05-17 04:22] yogkumgit commented on #8472
@msbemba

[2022-05-17 04:23] yogkumgit commented on #8477
@msbemba

[2022-05-17 04:24] yogkumgit commented on #8480
@msbemba

[2022-05-17 04:24] yogkumgit commented on #8481
@msbemba

[2022-05-17 04:25] yogkumgit commented on #8488
@msbemba

[2022-05-17 04:26] yogkumgit commented on #8494
@msbemba

[2022-05-17 04:26] yogkumgit commented on #8495
@msbemba

[2022-05-17 04:27] yogkumgit commented on #8496
@msbemba

[2022-05-17 04:28] yogkumgit commented on #8499
@msbemba

[2022-05-17 04:29] yogkumgit commented on #8501
@msbemba Thank you very much for the contribution and updating the documentation with PR. @chadmando Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-17 04:29] #8501 closed

[2022-05-17 04:29] yogkumgit commented on #8505
@msbemba

[2022-05-17 04:30] yogkumgit commented on #8506
@msbemba

[2022-05-17 04:33] yogkumgit commented on #8509
@msbemba

[2022-05-17 04:33] yogkumgit commented on #8513
@msbemba

[2022-05-17 04:35] yogkumgit commented on #8521
@msbemba

[2022-05-17 04:36] yogkumgit commented on #8523
@msbemba

[2022-05-17 04:36] yogkumgit commented on #8524
@msbemba

[2022-05-17 04:37] yogkumgit commented on #8530
@msbemba

[2022-05-17 04:37] yogkumgit commented on #8533
@msbemba

[2022-05-17 04:38] yogkumgit commented on #8538
@msbemba

[2022-05-17 04:38] yogkumgit commented on #8539
@msbemba

[2022-05-17 04:39] yogkumgit commented on #8541
@msbemba

[2022-05-17 04:39] yogkumgit commented on #8543
@msbemba

[2022-05-17 04:40] yogkumgit commented on #8549
@msbemba

[2022-05-17 04:40] yogkumgit commented on #8556
@msbemba

[2022-05-17 04:41] yogkumgit commented on #8575
@msbemba

[2022-05-17 04:42] yogkumgit commented on #8579
@msbemba

[2022-05-17 04:42] yogkumgit commented on #8583
@msbemba

[2022-05-17 04:44] yogkumgit commented on #8389
@msbemba

[2022-05-17 08:27] Turbo974 opened #8628 "There is no lab guides available anymore for W10"
Lab Guides seems to have been replaced by lab files (VM etc) when it was updated last week.

[2022-05-17 08:58] ChristianJBergstrom opened #8629 "Conditional access support for shared channels"
[Hey folks! I'm a bit confused about the conditional access headline here https://docs.microsoft.com/en-us/microsoft-365/solutions/plan-external-collaboration?view=o365-worldwide#conditional-access

More specifically this:

"The following types of conditional access policies are supported with shared channels:

- Policies that are scoped to all guests, external participants, and SharePoint Online

[2022-05-17 09:35] amanmcse opened #8630 "Inconsistent EDM SIT test results"
Test results for EDM SIT are not consistent.

1. Uploaded a file and got "No sensitive content was found in data.txt" on the Match results blade.
2. Uploaded the same file and got the below match results:
![image](https://user-images.githubusercontent.com/33834131/168779353-ba5ccae4-d010-4c24-802b-5b0c1eb63cb8.png)
3. Uploaded the same file again, and got "No sensitive content was found in data.tx

[2022-05-17 11:47] sysadmininator commented on #8628
There also seems to be two separate lab file downloads per environment (Win10 and Win11). One file with a date at the end and another without. They are different sizes as well, so without downloading both and extracting/running each, I am unable to determine which one is the refreshed lab.

[2022-05-17 11:57] sysadmininator opened #8631 "Deployment lab kit downloads appear to be incorrect"
Duplicate of #8628 , but I noticed that issue is missing the required footer/linking details.

Essentially the issue is that the download links on the page appear to be incorrect. Each pair of lab links now downloads lab files, instead of one for files and one for documents. The two lab downloads are also different sizes and one of them has a date appended to the end of the file name. Without down

[2022-05-17 12:03] Turbo974 commented on #8628
I had tested for Windows 10 Lab. The Windows 10 lab environnment https://download.microsoft.com/download/3/3/a/33a3c7d7-b393-4f78-9b90-2d5eb7fd98e8/Win10_21H1_lab.zip was created in February. The Windows 10 lab Guides https://download.microsoft.com/download/2/9/9/29952cdb-b98d-4f9b-9d6e-9fb49644b0a0/Win10_21H1_Lab_05.12.zip was updated on 11/05. From my understanding, the second linked I provided

[2022-05-17 13:42] msbemba commented on #8480
@yogkumgit  This can be closed.

[2022-05-17 14:06] msbemba commented on #8533
@ramoriusvt Thank you for your feedback. I have tested and the help and support option is available in the admin center.

![image](https://user-images.githubusercontent.com/45987684/168830113-472bcd45-982e-4802-87a3-16d2fb841ccd.png)

If you continue to have this problem, please use the phone support option (https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-support?view=o365-worldwide#

[2022-05-17 14:20] cchambers-cap commented on #8624
Ah, I was so close to finally having a solution that isn't manually exporting the Archive folder before we delete the account. :)

Thanks for your help and the clarifications!

Craig
________________________________
From: Carol Bailey ***@***.***>
Sent: Monday, May 16, 2022 8:48 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Craig Chambers ***@***.***>; Mention ***@***.***>
Subject: Re:

[2022-05-17 14:24] msbemba commented on #8521
@waydaws Thank you for your feedback. I'd recommend you post this feedback on our Main feedback portal - https://feedbackportal.microsoft.com/ so one of our Product/Dev team members can help you with the details on why you are being asked to contact the account manager.

This feedback section is for any modifications to the document.

Hope this helps!

Thanks
Sri

[2022-05-17 14:25] RAJU2529 commented on #8524
@yogkumgit , PLease close this issue #8524,because new   links are added and working fine

[2022-05-17 14:27] RAJU2529 commented on #8494
@yogkumgit , PLease close this issue #8494, because new   links are added and working fine

[2022-05-17 14:27] msbemba commented on #8513
@ReadingMo123 Thank you for your feedback. I was able to test and the script does restrict users from creating groups in yammer.

Note that the steps in this article won't prevent members of certain roles from creating Groups. If you continue to have the problem, I'd recommend you contact Microsoft support via the need help option on the admin center.

Hope this helps!

Thanks
Sri

[2022-05-17 14:29] RAJU2529 commented on #8556
@yogkumgit , PLease close this issue #8556, because the issue has been fixed by me. Please cross-check it

[2022-05-17 14:42] ReadingMo123 commented on #8513
Thank you Sri for taking the time to review it.
I found out with further testing that the script will only restrict regular users (except those in the specified security group and network/global admins) from creating O365 yammer groups but it will not prevent from creating non O365 yammer groups. Everyone will still be able to create yammer groups (that is by design), It will just depend whether i

[2022-05-17 14:49] msbemba commented on #8481
@gbms311 Thank you for your feedback. I'll update the document with the latest screenshot.

Thanks
Sri

[2022-05-17 15:03] msbemba commented on #8477
@PremMS-MDE Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8634

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-17 15:51] msbemba commented on #8556
@yogkumgit The document is up to date and the issue can be closed.

Thanks
Sri

[2022-05-17 16:15] kelleyvice-msft commented on #4242
Searching for SME to provide answers for this.

[2022-05-17 16:16] kelleyvice-msft commented on #4317
I've requested information from the product group about this, and will update when I get a response.

[2022-05-17 16:55] MWPatterson2000 opened #8636 "Get-SafeLinksPolicy | Format-Table Name,IsEnabled"
When I use the new version of the module, IsEnabled is no longer working.

PS C:\Temp\> Get-SafeLinksPolicy | Format-Table Name,IsEnabled,IsDefault

Name                                         IsEnabled IsDefault
----                                         --------- ---------
Customer_Safe_Links
Safe Links
Built-In Protection Policy
Strict Preset Security Policy1637335373227
Standard Preset Secu

[2022-05-17 17:57] shanecribbs opened #8637 "Not accessible"
This article mentions going to "Evaluation Labs" but doesn't say what site/URL that can be found.  The answer is Microsoft Defender Security Center, but it doesn't appear that site is available any longer as you are immediately redirected to security.microsoft.com and I don't see the Evaluation Lab there.  The instructions to disable redirect don't work either.  Essentially, it appears this featur

[2022-05-17 18:03] boivinx7 opened #8638 "Which role is Needed to this ?"
I would love to give some admins the roles to manage those without them being Global admin.
But i cannot find the information anywhere.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61e46dd-c1ff-dfec-5e0e-9f2e7251a5c1
* Version Independent ID: 49f69fa9-33e8-373f-a7f9-26b828510fda
* Content: [Man

[2022-05-17 19:29] nickp85 opened #8639 "*.svc.ms shouldn't be Default"
Based on recent changes to MS Whiteboard storing data in OneDrive and the involvement of a web socket connection from the Whiteboard over to OneDrive to access the data, the URL *.svc.ms under the SPO/ODB section of this document is should be updated. The URL is currently listed as "Default" so no special handling should be required however because of the use of web sockets, a proxy bypass is requ

[2022-05-17 22:28] cabailey commented on #8624
Closing & we'll have a look at updating that MRM section for other actions (noted)

[2022-05-17 22:28] #8624 closed

[2022-05-18 00:18] irarras opened #8643 "Changing the sort order of solutions"
Hello,

This feedback is targeted at the index that contains the various eDiscovery solutions and topics in the left pane.  Currently, the structure is:

Manage eDiscovery
 Microsoft Purview eDiscovery solutions

 Retirement of legacy eDiscovery tools

Can we please change the sort order so the premium solutions are listed first?

Manage eDiscovery
 Microsoft Purview eDiscovery solutions

 Retirem

[2022-05-18 03:42] RAJU2529 commented on #8643
@v-tophillips, I can able to rearrange the order, as per @irarras feedback. But I need your opinion in this regard.

[2022-05-18 04:01] ituff opened #8646 "Are there any wrong in the doucument?"
https://docs.microsoft.com/en-us/microsoft-365/compliance/auditing-solutions-overview?view=o365-worldwide#audit-standard-1
Audit (Standard)
- Microsoft Purview Business Basic subscription
- Microsoft Purview Apps for Business subscription
- Microsoft Purview Enterprise E3 subscription
- Microsoft Purview Business Premium
- Microsoft Purview Education A3 subscription
- Microsoft Purview Government

[2022-05-18 04:17] #8480 closed

[2022-05-18 04:53] yogkumgit commented on #8533
@msbemba Thank you very much for the contribution and sharing this explanation. @ramoriusvt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-18 04:53] #8533 closed

[2022-05-18 04:55] #8524 closed

[2022-05-18 04:59] yogkumgit commented on #8523
@msbemba Thank you very much for the contribution and sharing this explanation. @DavidRBailey Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-18 04:59] #8523 closed

[2022-05-18 05:03] yogkumgit commented on #8521
@waydaws Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-05-18 05:08] yogkumgit commented on #8513
@msbemba Thank you very much for the contribution and sharing this explanation. @ReadingMo123 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-18 05:08] #8513 closed

[2022-05-18 05:09] #8556 closed

[2022-05-18 05:16] yogkumgit commented on #8495
@msbemba Thank you very much for the contribution and sharing this explanation. @colorenz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-18 05:17] #8495 closed

[2022-05-18 05:18] #8494 closed

[2022-05-18 05:34] yogkumgit commented on #8468
@slueders-bag Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-05-18 05:34] #8468 closed

[2022-05-18 05:43] yogkumgit commented on #8538
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AiHirano Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-18 05:43] #8538 closed

[2022-05-18 05:45] yogkumgit commented on #8508
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mntorq Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-18 05:46] #8508 closed

[2022-05-18 05:54] yogkumgit commented on #8585
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Alberto15002 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-18 05:54] #8585 closed

[2022-05-18 06:48] larsser opened #8649 "Administration > af datalivscyklusArkivér. -> Løsninger > Administration af datalivscyklus ???"
[Angiv feedback her]
If you need this in English please let me know and I'll translate.
I punkt 2 under ```Aktivér en arkivpostkasse``` står der ```I venstre rude på overholdelsesportalen skal du vælge Administration > af datalivscyklusArkivér.```
Det ser ud som om man skal gå under en overskrift der hedder ```Administration``` og derefter ```af datalivscyklusArkivér``` (af en eller anden grund er

[2022-05-18 07:06] adelaldabbas commented on #8364
Hello @msbemba ,
Just checking the status here, are you planning to implement the change?

Thank you,
Adel

[2022-05-18 09:15] tfunatani opened #8650 "Regarding Two Incorrect Descriptions on This Page"
Hi experts,
I'm CSS engineer in Japan Azure Security Team.
I found two incorrect descriptions on this page.

1. Network Protection feature is available to users without Microsoft 365 E5 license.
   However on this page, the following statement is included.
   "customers with E5 licenses"

2. "HKLM\Software\Microsoft\Windows Defender" is accessible with only system authority.
   So user cannot edit

[2022-05-18 10:53] MikePlumleyMSFT commented on #8629
@ChristianJBergstrom there is a typo in the article - the setting is actually called **All guests and external users**. You can find more details about conditional access for external identities in [Authentication and Conditional Access for External Identities](https://docs.microsoft.com/azure/active-directory/external-identities/authentication-conditional-access).

[2022-05-18 11:54] ChristianJBergstrom commented on #8629
@MikePlumleyMSFT Hey Mike, yeah I kind of understood that but thanks for confirming. My concern though is more about that particular sentence (and in the article you linked to) that you get the impression that one can use any conditional access policy with direct connect users.

_"Organizations can enforce Conditional Access policies for external B2B collaboration and B2B direct connect users in t

[2022-05-18 13:58] LethalRabbit opened #8652 "Adjustment to advanced hunting queries"
The advanced hunting queries provided in the articles don't seem to work to detect devices going into Troubleshooting mode.

The issue is in the following line:
`| where _tsmodeproperties.TroubleshootingStateChangeReason == "Troubleshooting mode started"`

This results in 0 detections. Detections do work when changing the line to
`| where _tsmodeproperties.TroubleshootingStateChangeReason contains

[2022-05-18 15:01] cybernerd2014 opened #8653 "Set up device groups"
The instructions for set up device groups does not appear to be correct.
Settings > Endpoint > Permissions does not exist in my tenant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e0afc1f-2112-050d-2db6-40b14c2149b9
* Version Independent ID: 559af624-9032-7d66-670b-081ce8ac9d44
* Content: [Configure automated invest

[2022-05-18 15:05] cabailey commented on #8649
It looks like something has gone wrong with the Danish translation - can we get this checked, please?  The English version has "In the left pane of the compliance portal, select Data lifecycle management > Archive." and the Danish page "I venstre rude på overholdelsesportalen skal du vælge Administration > af datalivscyklusArkivér."

[2022-05-18 15:27] jrohrich opened #8654 "Onboarding instructions are confusing"
There is no mention on this page of Azure Arc, which, as I understand it, is the preferred recommended way of onboarding Windows Servers. I did find another page that was more helpful at https://docs.microsoft.com/en-us/azure/defender-for-cloud/quickstart-onboard-machines?pivots=azure-arc, but overall these instructions seem confusing as they refer to onboarding through Cmd line, scripts or GPO wh

[2022-05-18 17:19] TinaMcN commented on #8649
@cdowling1971 can you please arrange to get this article human translated which will hopefully fix this issue.

[2022-05-18 18:31] denisebmsft commented on #8530
I have opened a work item that will be assigned to a writer ASAP. We'll get the docs updated soon.

[2022-05-18 19:18] cabailey commented on #7744
@yogkumgit  According to the PM, there is no doc enhancement needed here because these settings are independent, so removing that label.

[2022-05-18 19:19] cabailey commented on #7779
@yogkumgit  The requested information is already on the page - no doc enhancement needed here.

[2022-05-18 19:21] MikePlumleyMSFT commented on #8629
Thanks, @ChristianJBergstrom. I made some updates to clarify that it's only the supported settings listed.

[2022-05-18 20:52] kelleyvice-msft commented on #6174
Thanks for reaching out. This question is addressed in a new article here: https://docs.microsoft.com/microsoft-365/enterprise/microsoft-365-vpn-securing-teams.

[2022-05-18 20:52] #6174 closed

[2022-05-18 21:04] kelleyvice-msft commented on #6360
Thanks for reaching out. My understanding is that if both ipV4 and V6 are enabled on the client, ipV4 would be used to authenticate by default in the scenario you describe. You can see https://techcommunity.microsoft.com/t5/azure-active-directory-identity/conditional-access-policy-amp-ipv6/m-p/1737586 for additional discussion. I will work with the product group to confirm and add information to t

[2022-05-18 21:04] #6360 closed

[2022-05-18 21:10] kelleyvice-msft commented on #6622
This issue is related to https://github.com/MicrosoftDocs/microsoft-365-docs/issues/8337. I will investigate the status and update this issue.

[2022-05-18 21:31] kelleyvice-msft commented on #7260
In my understanding, documentation for Teams Shared Channels across tenants isn't available at this time as the feature is still in Public Preview. Additional information about Shared Channels is available here: https://docs.microsoft.com/en-us/MicrosoftTeams/shared-channels. You can check https://techcommunity.microsoft.com/t5/microsoft-teams-blog/bg-p/MicrosoftTeamsBlog or subscribe to the RSS f

[2022-05-18 21:31] #7260 closed

[2022-05-18 21:34] sparkitect opened #8656 "Clarification needed: Maximum number of items for disposition"
The article mentions a limit of 16,000,000 items but doesn't indicate what heppens to/with item number 16,000,001.
As the limit is approached, is anyone notified?
What is the suggested action to take as the limit approaches or is reached?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd1c8027-2370-524b-ccce-e5cca06006

[2022-05-18 21:34] kelleyvice-msft commented on #7950
Thanks for reaching out. I agree that these diagrams can be confusing, and I'm working with the product team to improve them. -Kelley

[2022-05-18 21:34] #7950 closed

[2022-05-18 22:06] kelleyvice-msft commented on #8224
Thanks for reaching out. The security implications of allowing direct connectivity to Office 365 endpoints are addressed with great detail in https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-network-connectivity-principles?view=o365-worldwide. We try to balance the density of these complex topics by providing appropriate cross-links in all of our networking articles to enabl

[2022-05-18 22:06] #8224 closed

[2022-05-18 22:26] TheLegacyKiwi opened #8657 "Potential correction for P2 license requirement if using Defender for o365."
So, I've been researching the MSFT documentation and from as far as I can see, the requirement for a P2 license or any exchange license to be attached to a shared mailbox has been dropped with the only exception being this page. I've also tested this in a lab Env where we used to be required to add 'any' o365 license in order to be able to apply the Defender license, and can confirm that we can no

[2022-05-18 23:47] cybernerd2014 commented on #8653
This is a permission issue so can be closed.

[2022-05-18 23:47] #8653 closed

[2022-05-19 03:48] yogkumgit commented on #8629
@ChristianJBergstrom Thanks for the feedback. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-19 03:48] #8629 closed

[2022-05-19 04:00] RAJU2529 commented on #8650
@denisebmsft .  Network protection is enabled without a Microsoft E5 license,  I enable it on windows 11 enterprise.

Also when I try to add a proxy server address, I received   access denied error
**reg add "HKLM\Software\Microsoft\Windows Defender" /v ProxyServer /d "145.124.489.155:2332" /f**

![Screenshot 2022-05-19 092738](https://user-images.githubusercontent.com/3296790/169201489-6d67fed4-1

[2022-05-19 04:14] mrmcpowned opened #8659 "Page is improperly linked"
The link to the admin center overview is improperly linked

![image](https://user-images.githubusercontent.com/5028527/169202823-50e00cfa-a89b-4e43-b3d9-413320dedb8f.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fa4f7db9-4faf-03f9-516c-7bb1f6dbac92
* Version Independent ID: 0a2f9a24-76e7-b889-3a75-3e2bbb5aba96
*

[2022-05-19 05:25] RAJU2529 commented on #8659
@mrmcpowned I will investigate and fix if possible.

[2022-05-19 07:14] andrewpEntag opened #8661 "Add Quarantine Policy Type to recommended actions for strict and standard recommendations"
It is not clear what Quarantine policy Microsoft recommends for a number of email spam actions. For example:

If message is detected as an impersonated user  -----> Recommended action is Quarantine the message. It would be helpful to know what policy would be applied in security presets and what is the recommended quarantine policy. For example AdminOnlyAccessPolicy or DefaultFullAccessPolicy.

It

[2022-05-19 10:21] RAJU2529 commented on #8659
@KwekuA, Please verify PR #8662  and merge if it is correct.

[2022-05-19 11:46] tran-master opened #8663 "Typo: "trcaked" (should be "tracked")"
Typo: "All these actions can be **_trcaked_** under the Actions & Submissions > Action center -> History tab (public preview)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: badda2b8-bdb2-0518-18e4-35940e506c9b
* Version Independent ID: b7045ea1-ca2a-5bd3-0149-f7baed6fe6cf
* Content: [Remediate malicious email that was

[2022-05-19 11:54] AndrewBlumhardt opened #8664 "Resource requirements unclear"
The prerequisites for CPU and RAM are not clearly stated. Is this minimum for the server or is this minimum allocation for MDAV alone?

Cores: 2 minimum, 4 preferred

Memory: 1 GB minimum, 4 preferred

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Version Independent ID: 6c49c1c5-

[2022-05-19 11:54] PremMS-MDE opened #8665 "Is it possible to add list of ConfigurationId and ConfigurationName? like Scid 2010 is Turn On MDAV, likewise can we add all the Scid's number and definition for it. Customers have hard time in writing their own queries."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4fe829d-1049-f4fc-5238-792d86f33126
* Version Independent ID: c52c503e-3fd2-9324-8fd2-ad05b91b1930
* Content: [DeviceTvmSecureConfigurationAssessment table in the advanced hunting schema](https://docs.microsoft.com/en-us/microsoft-365/security/defend

[2022-05-19 12:01] pensivepaddle opened #8666 "Bad path in example"
Wrong path in "Issue: Tamper protection is reported as disabled" section

`$ sudo grep -F '\[{tamperProtection}\]: Feature state:' /Library/Logs/Microsoftmdatpmicrosoft_defender_core.log \| tail -n 1`

should probably be
`$ sudo grep -F '\[{tamperProtection}\]: Feature state:' /Library/Logs/Microsoft/mdatp/microsoft_defender_core.log | tail -n 1`

---
#### Document Details

⚠ *Do not edit this sec

[2022-05-19 12:39] RAJU2529 commented on #8663
@MSFTTracyP , Please verify PR #8667 and merge if correct.

[2022-05-19 12:45] RAJU2529 commented on #8664
@AndrewBlumhardt , i think  minimum system requirements for the Linux server OS

[2022-05-19 12:56] RAJU2529 commented on #8666
@mjcaparas Please verify PR #8668  and merge if correct.

[2022-05-19 15:34] kelleyvice-msft commented on #4317
I have updated this information in the article, and also removed the obsolete domain *.acompli.net.

[2022-05-19 15:34] #4317 closed

[2022-05-19 15:52] vboyev-MSFT opened #8669 "Path to MSUPDATE should be included here (otherwise it wont work)"
./msupdate does not work unless you follow the initial sequence:
Open the Terminal application
Enter cd /Library/Application\ Support/Microsoft/MAU2.0/Microsoft\ AutoUpdate.app/Contents/MacOS

after you complete those steps, ./msupdate will work.

I believe providing the path to msupdate should be included in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-05-19 16:09] kelleyvice-msft commented on #4367
Thanks for reaching out. I'm discussing a proposed solution to this issue with the product group.

[2022-05-19 16:09] msbemba commented on #8506
@MasterBlaster4 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8670

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-19 16:16] msbemba commented on #8571
@Yarli Thank you for your feedback.

The options is moved as below, We have made changes to the document and it is reflecting correctly now.

Select Recipients > Mailboxes.

Select the user mailbox. In the Others tab, select Convert to shared mailbox.

@yogkumgit  There are no changes and the issue can be closed.

Thanks
Sri

[2022-05-19 16:17] msbemba commented on #8549
@JMCA2 Thank you for your feedback. We will check this internally and update the document if need be.

Thanks
Sri

[2022-05-19 16:20] msbemba commented on #8543
@inagrawalru Thank you for your feedback. Only global administrators can implement the policy. There are no such limitations for the number of groups. We have made changes to this document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8672 to reflect the same

Thanks
Sri

[2022-05-19 16:27] msbemba commented on #8541
@kotras Thank you for your feedback. I could not locate the german version to correct it. Would you be able to provide us the URL you are using to access the german version of the document?

Thanks
Sri

[2022-05-19 16:30] msbemba commented on #8509
@samkellyd Thank you for your feedback. You are correct, it is python script, not bash. However, I'm unable to locate that in this document. COuld you please help with the URL of the document you are referring to?

Thanks
Sri

[2022-05-19 16:36] msbemba commented on #8539
@thewrabbit Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8674

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-19 16:39] samkellyd commented on #8509
Step 10 under Mac, should be bash not .py

https://docs.microsoft.com/en-us/microsoft-365/security/defender-business/mdb-onboard-devices?view=o365-worldwide&tabs=macOSdevices

Samantha Dominguez

Technical Advisor  | Defender for Endpoint | Azure Security
 • ***@***.******@***.***>

My Office Hours: Mon-Fri 8am - 5pm EST

Microsoft Premier Online: https://premier.microsoft.com<https://nam06.safeli

[2022-05-19 16:45] msbemba commented on #8389
@dbrewer89 Thank you for your feedback. I was able to test and save. This looks like a bug with the particular version or may be with your browser. I'd recommend you contact Microsoft support via the need help section so that a support engineer will be able to help you or file a bug to escalate it to the product group.

Hope this helps!

Thanks
Sri

[2022-05-19 17:08] kelleyvice-msft commented on #4409
Corrected in a previous update by prepending * to these URLs.

[2022-05-19 17:08] #4409 closed

[2022-05-19 17:12] kelleyvice-msft commented on #4421
This issue has been resolved in a previous update.

[2022-05-19 17:12] #4421 closed

[2022-05-19 17:23] jweston-1 commented on #8506
Approved. Please publish.

From: Sriraman M S ***@***.***>
Sent: Thursday, May 19, 2022 9:10 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Brit Weston (Aquent LLC) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Block execution of potentially obfuscated scripts (Issue #8506)

@MasterBlaster4<https://nam06.safelinks.protection.outlook.com/?url=https%3A%

[2022-05-19 17:59] kelleyvice-msft commented on #4606
Thanks for reaching out. I have informed the appropriate engineering team of this issue and requested that they go through the process of adding their endpoints to the web service. Once they complete this process, the endpoints should be included in future updates. -Kelley

[2022-05-19 17:59] #4606 closed

[2022-05-19 18:32] #4367 closed

[2022-05-19 18:47] jweston-1 commented on #7343
@yogkumgit Is it possible to contact the customer for additional information (posted above)? The PM needs some clarification in order to proceed with a response or revisions to the documentation.

[2022-05-19 18:50] chrisda commented on #8661
@andrewpEntag, fortunately I had a very new E5 tenant, so I was able to check.

Standard and Strict preset security policies use the default quarantine tags that you would expect (AdminOnlyAcessPolicy for malware, Safe Attachments, and high confidence phishing);  DefaultFullAccessPolicy for everything else) as described in the table [here](https://docs.microsoft.com/microsoft-365/security/office-3

[2022-05-19 18:51] kelleyvice-msft commented on #5036
Thanks for reaching out. The Office 365 endpoints web service is only designed to include endpoints that are specific to Office 365 services and features. The services you mentioned are not part of Office 365 and are therefore outside the scope of endpoints we can include in the database. -Kelley

[2022-05-19 18:51] #5036 closed

[2022-05-19 19:03] msbemba commented on #8539
@thewrabbit The PR is updated with just A5 now. Once the author approves, the changes will be live.

[2022-05-19 19:04] kelleyvice-msft commented on #5235
Thanks for reaching out. This issue was resolved in the article **[Other endpoints not included in the Office 365 IP Address and URL Web service](https://aka.ms/o365otherips)**, which lists hybrid endpoints and other related information. -Kelley

[2022-05-19 19:04] #5235 closed

[2022-05-19 19:07] msbemba commented on #8509
@samkellyd We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8676

Thanks
Sri

[2022-05-19 19:16] kelleyvice-msft commented on #5236
Thanks for reaching out. I'm sorry this issue has caused problems for you. It appears that the specific items you mention have been resolved in recent updates to the guidance in the article **[Other endpoints not included in the Office 365 IP Address and URL Web service](https://aka.ms/o365otherips)**. Please reply back if you need further clarification or feel that more specific guidance is neede

[2022-05-19 19:16] #5236 closed

[2022-05-19 19:39] gringogreen commented on #8524
The issue is NOT resolved. Are you actually getting paid for this quality of work?
________________________________
From: Yogesh Kumar ***@***.***>
Sent: Tuesday, May 17, 2022 9:55 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: gringogreen ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Download links are dead (Issue #8524)

Closed #8524<https://github.

[2022-05-19 19:45] kelleyvice-msft commented on #5331
@jjpb-github-work, thanks for reaching out, and apologies for the delay. I'll take your points in order.

- When a URL is listed with IPs, the URL will always resolve to one of the listed IPs. And yes, listed IPs may change in future web service updates, which will be reflected here.
- In the case of ID 5 (the same URL as ID 1), since it is the same URL, it will resolve to the same IPs. The URL is

[2022-05-19 19:45] #5331 closed

[2022-05-19 19:59] kelleyvice-msft commented on #5336
Thanks for reaching out. It appears that all of the endpoints you mentioned have been removed from the web service entirely. I will follow up with the engineering team to find out why, and they will have to determine whether this is an actual issue or the result of a deliberate decision. In the meantime, I am closing this issue as we cannot resolve it directly. -Kelley

[2022-05-19 19:59] #5336 closed

[2022-05-19 20:06] kelleyvice-msft commented on #5382
Thanks for reaching out. Is this still happening, or has it been resolved?

[2022-05-19 20:10] kelleyvice-msft commented on #5578
Thanks for reaching out. The reason tasks.office.com is not listed is because it is covered by *.office.com. Also, dc.services.visualstudio.com is optional because it only applies to certain environments and is not required by all Office 365 configurations. -Kelley

[2022-05-19 20:10] #5578 closed

[2022-05-19 21:18] msbemba commented on #8524
@gringogreen please test and let me know the erro message you receive.

[2022-05-19 21:36] kelleyvice-msft commented on #5632
Thanks for reaching out. The Office 365 endpoints web service is only designed to include endpoints that are specific to Office 365 services and features. The services you mentioned are not part of Office 365 and are therefore outside the scope of endpoints we can include in the database. -Kelley

[2022-05-19 21:36] #5632 closed

[2022-05-19 21:36] andrewpEntag commented on #8661
Hi Chris, thanks for confirming that - I suspected that was the case.

Some feature feedback for the preset settings would be to allow admins to turn on spam notifications for the DefaultFullAccessPolicy when applying the preset.

Currently, I don't see a way that I could apply the security presets and turn on spam notifications for end users. For some customers it's necessary that they receive da

[2022-05-19 22:50] TinaMcN commented on #8615
@DrLippert The Danish article has been fixed now.  Thanks again for telling us about the problem.
![image](https://user-images.githubusercontent.com/53281468/169416898-d026e960-30dd-4974-9a66-61f286d40aaf.png)
https://docs.microsoft.com/da-dk/microsoft-365/compliance/teams-workflow-in-advanced-ediscovery?view=o365-worldwide#where-teams-content-is-stored
Please close this issue if it looks ok for y

[2022-05-19 22:55] chrisda commented on #8661
You are correct. You can't modify the built-in quarantine policies, and you can't modify the individual settings in preset security policies to assign a custom quarantine policy where notifications are enabled.

[2022-05-19 23:50] chrfox commented on #8456
Hi @bethaniekendwa
Please refer to the note at this link  https://docs.microsoft.com/en-us/microsoft-365/compliance/dlp-alerts-dashboard-get-started?view=o365-worldwide#dlp-alert-configuration

[2022-05-19 23:50] #8456 closed

[2022-05-20 01:53] AiHirano commented on #8538
I am really sad that it isn't available on SharePoint Online.

Thanks all. @yogkumgit @msbemba

[2022-05-20 01:54] RAJU2529 commented on #8615
@TinaMcN . I too checked  now , issue is fixed

[2022-05-20 03:46] yogkumgit commented on #8666
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @pensivepaddle Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-20 03:46] #8666 closed

[2022-05-20 04:00] yogkumgit commented on #8571
@msbemba Thank you very much for the contribution and sharing this explanation. @Yarli Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-20 04:00] #8571 closed

[2022-05-20 04:08] yogkumgit commented on #8509
@msbemba Thank you very much for the contribution and updating the documentation with PR. @samkellyd Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-20 04:09] #8509 closed

[2022-05-20 04:13] yogkumgit commented on #8389
@msbemba Thank you very much for the contribution and sharing this explanation. @dbrewer89 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-05-20 04:13] #8389 closed

[2022-05-20 04:20] yogkumgit commented on #8506
@msbemba

[2022-05-20 04:27] yogkumgit commented on #7343
@MatthewWhiteMoJ Please respond to our query. Thanks

[2022-05-20 04:37] #8615 closed

[2022-05-20 06:01] #8543 closed

[2022-05-20 06:16] RAJU2529 commented on #8568
@yogkumgit close this issue #8568, issue is fixed changes are reflected in article. Please cross it

[2022-05-20 10:52] timnottom opened #8678 "Check tamper protect status command is incorrect"
The command in the Section is not correct: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/tamperprotection-macos?view=o365-worldwide#troubleshooting-configuration-issues

It is now:
`sudo grep -F '\[{tamperProtection}\]: Feature state:' /Library/Logs/Microsoftmdatpmicrosoft_defender_core.log \| tail -n 1`

It should be:
`sudo grep -F '[{tamperProtection}]: Feature state:

[2022-05-20 11:51] bryannso opened #8680 "Step 1.5"
[Enter feedback here]
After clicking -> Solutions -> Information Protection, click on the "Labels" heading at the top.   THEN you will be presented with the message "Your organization has not turned on the ability"....

Appears content / steps in this document have not been updated for the latest "juice" offered by the Compliance Center ... oops...I mean the "Purview".

---
#### Document Details

[2022-05-20 12:20] kotras commented on #8541
You can find it here https://docs.microsoft.com/de-de/microsoft-365/security/defender-endpoint/linux-install-manually?view=o365-worldwide#download-the-onboarding-package

[2022-05-20 13:49] msbemba commented on #8541
@kotras Thank you for the response. I'm working with the author to get this sorted.

Thanks
Sri

[2022-05-20 13:57] kelemvor33 opened #8681 "Menu options don't exist"
I don't see any of these options when I log into my admin account.

Sign in to the [Microsoft 365 admin center](https://admin.microsoft.com/) and choose DirSync Status on the home page.
    Alternately, you can go to Users > Active users, and on the Active users page, choose More > Directory synchronization. On the Directory Synchronization pane, choose Go to DirSync management.

---
#### Document

[2022-05-20 14:31] contributor-luis opened #8682 "GCCH o DoD"
Hey Team, can we add more information about Safe Link in Microsoft Team is available in GCCH o DoD.

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8112b7a9-8f21-18b3-03da-f8c02b05f239
* Version Independent ID: a441f1d1-5844-ecb9-ba44-95b94714e4e8
* Content: [Complete Safe Links overview for Microsoft Defender f

[2022-05-20 15:11] kelleyvice-msft commented on #5708
Thanks for reaching out, @arkayenro. You should expect that changes to Office 365 endpoints, both URLs and IP addresses, may take place as services are updated. To find out how to get notifications of updates, see https://docs.microsoft.com/microsoft-365/enterprise/managing-office-365-endpoints#change-management-for-office-365-ip-addresses-and-urls.

With regards to autodiscover.*.mail.onmicrosoft

[2022-05-20 15:11] #5708 closed

[2022-05-20 15:20] kelleyvice-msft commented on #6147
Thanks for reaching out. It appears that the IP addresses for the URL monitoringplatform.teams.microsoft.com have been changed to the 52.112.0.0/14 CIDR block, which is included in ID 12. -Kelley

[2022-05-20 15:20] #6147 closed

[2022-05-20 15:35] kelleyvice-msft commented on #6285
Thanks for reaching out. In this case, the IP address is not published because the URL _testconnectivity.microsoft.com_ is covered under _*.microsoft.com_ as an optional **Default** category endpoint that can be routed with normal internet traffic. -Kelley

[2022-05-20 15:35] #6285 closed

[2022-05-20 15:39] kelleyvice-msft commented on #6363
Thanks for reaching out. The Office 365 endpoints web service is only designed to include endpoints that are specific to Office 365 services and features. The URLs you mentioned are not part of Office 365 and are therefore outside the scope of endpoints we can include in the database. See https://docs.microsoft.com/en-us/defender-cloud-apps/troubleshooting-proxy-url for more information about thes

[2022-05-20 15:49] danwdavey opened #8683 "UK Driving Licence SIT Definition"
[On the definitions page UK Driving Licence is listed as a "Combination of 18 letters and digits in the specified format" however UK Driving Licences are 16 in length?]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05ee68f4-0bb5-5e3f-27d2-cf71047d600c
* Version Independent ID: 05ee68f4-0bb5-5e3f-27d2-cf71047d600c
* Co

[2022-05-20 15:51] RAJU2529 commented on #8678
@mjcaparas , I already fixed this issue in #8666.   it will be reflected within two days.  So please close this issue  #8678,.

[2022-05-20 15:55] #8683 closed

[2022-05-20 15:55] danwdavey commented on #8683
18 relates to the issue of the licence as well as the actual licence no.

[2022-05-20 16:09] kelleyvice-msft commented on #6445
Thanks for reaching out. I agree that this sentence is confusing, and I will revise it for clarification. My understanding is that it is possible that some routes may be advertised in more than one BGP community, making it possible for certain endpoints within the IP range to traverse the ER circuit, but still be unsupported for reasons related to performance or latency. In all cases, the value of

[2022-05-20 16:09] #6445 closed

[2022-05-20 16:33] andrePKI commented on #6363
Ok, thank you @kelleyvice-msft. Too bad we found out the hard way. I was trying to protect others from the same. But at least we know now.

[2022-05-20 17:33] kelleyvice-msft commented on #6452
Thanks for reaching out. The Office 365 endpoints web service is only designed to include endpoints that are specific to Office 365 services and features. The services you mentioned are not part of Office 365 and are therefore outside the scope of endpoints we can include in the database. Users of services such as Microsoft Defender for Cloud Apps must follow the guidance for that service to ensur

[2022-05-20 17:33] #6452 closed

[2022-05-20 17:39] kelleyvice-msft commented on #6509
All links in the article have been corrected.

[2022-05-20 17:39] #6509 closed

[2022-05-20 17:48] chrisda commented on #8682
@contributor-luis, typically we only call out if something is NOT available in a particular environment (like GCC High are DoD). So you're saying that Safe Links for Teams is (now?) in GCC High and DoD?

[2022-05-20 17:54] contributor-luis commented on #8682
What I am saying is that Safe Link in Microsoft Team is not available for GCCH and DoD at this moment so, I was working with Product Group on a case about Safe Link in Microsoft Team for GCCH and PG confirms that it is not available yet.

[2022-05-20 17:59] kelleyvice-msft commented on #6579
@elegault, thanks for reaching out. Since this is a technical problem, not a content issue, I cannot help you directly. I have contacted the listed owners of the [O365CentralizedAddInDeployment](https://www.powershellgallery.com/packages/O365CentralizedAddInDeployment/1.5.0.3) module to ask for the best way for you to report the issue and get help. I will update this issue when I get a response.

[2022-05-20 17:59] #6579 closed

[2022-05-20 18:00] SeanTGeoghegan opened #8684 "Confirm Collection Age-Out Time"
Per discussions with the engineering team, we had confirmed that the Age-Out period of the Azure Blobs that store eDiscovery Premium Collections is 1 year. Meaning any collection created a year ago may no longer be accessible. Can this be confirmed and documented?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b49b5b9f

[2022-05-20 18:00] kelleyvice-msft commented on #6637
See related issue https://github.com/MicrosoftDocs/microsoft-365-docs/issues/6579 for more information about what I've done to try and find help for you. Closing this issue as it is a technical problem, not a content issue.

[2022-05-20 18:00] #6637 closed

[2022-05-20 18:05] kelleyvice-msft commented on #6583
I have notified the engineering team of this request, and they are aware of the problem. My understanding is that they are working on a resolution, but that there may be some overlap in IP address ranges between the two services, at least in certain configurations. Hopefully, we will see these services separated in a future update. -Kelley

[2022-05-20 18:05] #6583 closed

[2022-05-20 18:20] chrisda commented on #8682
OK. I added a note to the affected topics.

Thanks for the feedback.

Closing

[2022-05-20 18:20] #8682 closed

[2022-05-20 18:25] kelleyvice-msft commented on #6584
Thanks for reaching out. The endpoints data in this article is autogenerated by the Office 365 endpoints web service and cannot be manually edited. I have informed the appropriate engineering team of this issue and requested that they go through the process of adding the UDP port information for their endpoints to the web service. Once they complete this process, the endpoints should be included i

[2022-05-20 18:25] #6584 closed

[2022-05-20 19:05] kelleyvice-msft commented on #8337
Thanks for reaching out. This appears to be an issue with our PDF build system. The engineering team has been notified and are working on resolving the issue. I'll update and close this issue when that happens. -Kelley

[2022-05-20 19:05] kelleyvice-msft commented on #6622
Thanks for reaching out. This appears to be an issue with our PDF build system. The engineering team has been notified and are working on resolving the issue. I'll update and close this issue when that happens. -Kelley

[2022-05-20 19:08] kelleyvice-msft commented on #6629
@nitin-gan, thanks for reaching out. Can you confirm whether this is still a problem? There have been several updates to the endpoints web service since this issue was opened. If you are still having problems, please let me know and provide some examples of missing subnets, and I will reopen the issue and investigate.

[2022-05-20 19:08] #6629 closed

[2022-05-20 19:20] kelleyvice-msft commented on #6828
Thanks for reaching out. Currently, we do not have descriptions of the purpose of each endpoint. The endpoints data in this article is autogenerated by the Office 365 endpoints web service and originates from the engineering team for each service area. It is often not possible to separate IP addresses by specific purpose or type of traffic (other than ports, which are noted). Future improvements t

[2022-05-20 19:20] #6828 closed

[2022-05-20 19:34] dilipdivgi commented on #8337
Great, glad to help out

-------- Original Message --------
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Missing pages in PDF
document (Issue #8337)
From: Kelley Vice ***@***.***>
Date: Fri, May 20, 2022 3:05 pm
To: MicrosoftDocs/microsoft-365-docs
***@***.***>
Cc: dilipdivgi ***@***.***>,  Mention
***@***.***>

 Thanks for reaching out. This appears to be an issue with our PDF build system. Th

[2022-05-20 19:41] #8678 closed

[2022-05-20 20:00] kelleyvice-msft commented on #7140
Thanks for reaching out. I've confirmed that the data in these articles is out of sync. Note that the endpoints data in this article is autogenerated by the Office 365 endpoints web service and cannot be manually edited. I am informing the appropriate engineering team of this issue and requesting that they go through the process of updating their endpoints in the web service. Once they complete th

[2022-05-20 20:14] kelleyvice-msft commented on #7299
Was added to the TOC

[2022-05-20 20:14] #7299 closed

[2022-05-20 20:23] denisebmsft commented on #6848
Thank you @jrhi for the feedback. I have updated the article, and the changes will be live later today. Please let me know if there are any other issues.

[2022-05-20 20:23] #6848 closed

[2022-05-20 20:42] kelleyvice-msft commented on #7458
Thanks for reaching out. The AIA and OSCP endpoints listed in the table were mistakenly left in place when their related certificates were removed from the article. I am removing them as part of a broader update to the article. Thanks! -Kelley

[2022-05-20 20:42] #7458 closed

[2022-05-20 21:14] denisebmsft commented on #7519
Hello @jotheman0303 and @yogkumgit. Our writer updated the article and published the changes about a week ago. Please let us know if you still have any questions.