[2022-01-10 20:38] sambellbraze commented on #7313
Hey @chrisda - no worries. Last question - does signing up prior to IP warming through MS SNDS and JMRP (junk mail reporting program) help with reputation prior to commencing IP warm?

Thanks,
Andrew

[2022-01-10 21:14] MSFTTracyP commented on #6920
I'm confused.

_**SharePoint and OneDrive mobile apps for Android, iOS, and Windows 10**_ | The default lifetime for the access token is 1 hour. The default max inactive time of the refresh token is 90 days.

[2022-01-10 22:15] kelemvor33 opened #7349 "Custom Org-Wide Signatures?"
Is there any way to pull from User Fields to insert that person's actual email address, phone number, etc instead of the same one for everyone?  I don't see this mentioned on the page I was looking at or the ones linked to it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a984a46-1f7b-6ef1-71f3-c5df6c142c01
* Version

[2022-01-10 22:46] Breaker119 opened #7350 "Create auto-apply label policies KQL for pre-defined managed property"
I've had a support case open on this topic for almost a month now with no resolution so I thought I'd try here.

I have mapped a crawled property (ows_PromotedState) to a RefinableString as outlined in the documentation (I've also tried RefinableInt00) and the KQL search works as expected in SharePoint (e.g. RefinableString110=2) - all published news posts are returned. However, when building the

[2022-01-10 23:36] jmgriffee commented on #6678
In the near term, I'm adding a note to the template list page that you can view individual templates in CM to see a description. (I think we want to avoid duplicating that info into the docs, since A; it's an ongoing maintenance challenge and B: would make the page very long and unwieldy very quickly.) Later this month, engineering is also adding a wizard to CM to aid in selecting templates that a

[2022-01-10 23:36] #6678 closed

[2022-01-10 23:47] rajivmeh opened #7352 "Time zone location is moved to new blade"
[Enter feedback here]
Location to Change the time zone is outdated in this doc.

New Location - Settings > Security Cetner > Time Zone

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 23a7695c-722d-22af-662c-e8680a492899
* Version Independent ID: b607ed60-729a-0dac-4464-dbc116531b40
* Content: [Microsoft 365 Defender tim

[2022-01-11 00:17] cabailey commented on #7350
@Breaker119 Yes, per https://docs.microsoft.com/en-us/microsoft-365/compliance/apply-retention-labels-automatically?view=o365-worldwide#auto-apply-labels-to-content-with-keywords-or-searchable-properties: " .. you can use mappings at the tenant level with the predefined managed properties that are enabled as refiners by default (RefinableDate00-19, RefinableString00-99, RefinableInt00-49, Refinabl

[2022-01-11 00:44] grimaldispizzeria commented on #5695
I have opened a support ticket to try to get this resolved and it's a miserable process. Hoping this route will actually get to somebody competent enough to understand the issue.

2603:10b6:a03:::  is another range that is not included in the SPF record but MS is still sending from addresses in that range.

2603:10b6:a02:c3::15
2603:10b6:a03:2d8::16

are two examples.

Here's [a thread](https://te

[2022-01-11 00:50] grimaldispizzeria commented on #5695
Please @kelleyvice-msft if you could also let someone in support know that they have an absolute terrible response to this problem, see case 29043035 for an example.

Multiple rounds of back and forth where I'm being asked for extensive details that are not required to fix a problem that is on MS' side. Assurances of being understood followed by demonstrations to the contrary.

I recognize this is

[2022-01-11 03:02] stchien opened #7353 "How to link Azure subscription to Intune Trial payment?"
Hi team,
We have the Azure subscription in Azure portal from our team, which cannot link to Intune trial payment. Do you know how?
We tried "Replace payment method", which cannot be found in the product tab of M365 portal.
Any suggestion is appreciated!

Azure Subscription: WER China Engineering
Resource Groups:
Resource Group Owner
WER_Hailey Steven

---
#### Document Details

⚠ *Do not edit this

[2022-01-11 06:24] ArunMSFT commented on #6348
This is being discussed internally with Mike. We are not able to reproduce the problem. I would suggest raising a ticket with the respective product group via support. @MikePlumleyMSFT  is also a part of the discussions and can advise.

[2022-01-11 07:01] Breaker119 commented on #7350
Ah - yes...very astute observation on 110! However, I started my experiment out by using RefineableInt01 and then moved on to RefinableString when that didn't work. I've now tried again with RefinableInt10 and unfortunately get Potential error: "Unknown property name: RefinableInt10=" in red text

When pushing through, though, and ignoring the error, I do appear to get the correct results. More te

[2022-01-11 07:44] aquiros17 commented on #7344
@denisebmsft yes, my feedback is product related. Please, could you say me anything about our problem ASAP?

[2022-01-11 09:26] robwesterby opened #7354 "Clarify that "Defender for Endpoint Lite" is the same as "Plan 1""
Under [Review the requirements](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mde-p1-setup-configuration?view=o365-worldwide#review-the-requirements) the Licensing requirements row lists "Defender for Endpoint Plan 1".

However in the Azure AD Portal > Licenses > Microsoft 365 A3 > Service plan details, the product SKU appears as "Microsoft Defender for Endpoint Lite".

[2022-01-11 09:55] holoholo808 opened #7355 "Operation failed with the following error: 0x%1!x!"
Hi,

If I set following options for network protection:
Set-MpPreference -EnableNetworkProtection Enabled
Set-MpPreference -AllowNetworkProtectionOnWinServer 1
Set-MpPreference -AllowNetworkProtectionDownLevel 1
Set-MpPreference -AllowDatagramProcessingOnWinServer 1

I receive the following error message:
Set-MpPreference : Operation failed with the following error: 0x%1!x!

Maybe because of the t

[2022-01-11 11:49] yogkumgit commented on #2854
@nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-11 11:49] #2854 closed

[2022-01-11 11:55] thommck opened #7356 "UserVoice link"
This doc still has a link to UserVoice in the first paragraph. I'm not sure if there is an alternative new service available yet or if the link should just be removed
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52aa5-3876-1854-0fcc-279d694cb45d
* Version Independent ID: bfa3001d-e71a-705c-3492-5add564d131d
* Conte

[2022-01-11 12:03] yogkumgit commented on #6348
@lightupdifire Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentati

[2022-01-11 12:03] #6348 closed

[2022-01-11 12:11] #7350 closed

[2022-01-11 12:17] yogkumgit commented on #7344
@aquiros17 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised as here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-01-11 12:17] #7344 closed

[2022-01-11 13:43] andreasdeschka commented on #6920
I do not know, if that is the case.

OneDrive and SharePoint are separate apps in iOS. I am interested in the Office Apps (Word, Excel, Powerpoint).

When this section of the table also applies for them, then one should  write it differently in my opinion:
"SharePoint, OneDrive and other Office mobile apps"

[2022-01-11 14:49] MarcErland opened #7357 "IdentityDirectoryEvents moved, renamed or removed?"
Hello! Has the table "IdentityDirectoryEvents" changed name or been moved/removed? I cannot find it anywhere in our tenant. The table "Apps & Identities" in our advanced hunting schema only contains "IdentityInfo" and nothing else. It is also not possible to run a query involving "IdentityDirectoryEvents".

Regards,
M

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-01-11 15:09] TVdVelHuve opened #7359 "Can't see bill online"
[Enter feedback here]
Whenever I get a bill, there is a link for more details (https://admin.microsoft.com/Adminportal/Home#/billoverview/invoice-list/G007740367).
When I click on it, I get the message "Something failed at our end. Try again later.

I get this for over a month now,

Many thanks for looking into this.

Regards,
   Tom

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-01-11 15:14] msbemba commented on #7320
@AndrewBryson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7360

Thanks
Sri

[2022-01-11 16:34] Phildo76 opened #7361 "MECM 2011 Support"
Page states 'During preview, full Microsoft Endpoint Configuration Manager automation and integration to perform an automated upgrade will be available in the 2111 release of MECM' However I can't see how the Modern Unified Solution is configurable any differently in MECM 2111 after upgrading too it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-01-11 17:43] AlexJPawlak opened #7364 "Web Protection and Timeline included?"
Hello!
Comparison charts dont show that clearly, but is device timeline and web protection included? I have onboarded Defender for Business, yet Device Timeline is missing, and Web Protection reports shows as if I'm missing correct license. (https://security.microsoft.com/webprotection )  whereas accessing https://security.microsoft.com/machines/machineID/timeline redirects me to homepage . Could

[2022-01-11 18:54] rafalfitt opened #7365 "3 policies are listed, but text says "these two policies""
"these two policies" in https://docs.microsoft.com/en-us/microsoft-365/security/top-security-tasks-for-remote-work?view=o365-worldwide#1-enable-azure-ad-multi-factor-authentication-mfa should be changed to "these **three** policies", as 3 policies are listed:
- Require MFA when sign-in risk is medium or high
- Block clients that don't support modern authentication
- High risk users must change pas

[2022-01-11 21:07] denisebmsft commented on #7365
Thank you @rafalfitt for raising this to our attention. I have updated the article and you will see the update live later today. Thank you for helping us improve the quality of our documentation!

[2022-01-11 21:09] denisebmsft commented on #7364
Hello @AlexJPawlak and thank you for your questions. I am working on getting the answers for you.

[2022-01-11 21:15] cmcatee-MSFT commented on #6886
@Miracle-bot-creator The article in question has since been moved and updated. If you're not able to log in due to having lost your 2FA credentials, you can use the numbers listed in the [Phone support](https://docs.microsoft.com/microsoft-365/admin/get-help-support?view=o365-worldwide) section of the article.

[2022-01-11 21:15] #6886 closed

[2022-01-11 21:37] #5342 closed

[2022-01-11 22:08] shieldsmicah opened #7370 "What about the other standard Cnames such as enterprise enrollment?"
What about the other standard Cnames such as enterprise enrollment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1a8b9e7-32c2-9e42-5f9d-8824bd15ab8e
* Version Independent ID: 4e4ba710-bb50-569d-34a6-8ef122d57aa6
* Content: [DNS records for Office 365 GCC High - Microsoft 365 Enterprise](https://docs.microsoft.com/en

[2022-01-11 22:14] chrisda commented on #7313
@sambellbraze, I'm sorry, I don't know.

[2022-01-11 23:40] CyberTech71 opened #7372 "Spelling error in one code block"
The word "Scop" is used in one of the code blocks instead of "Scope" as it's meant to be.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d40ac52-6f02-b0f3-0c45-9f359473703b
* Version Independent ID: 108355a9-05a3-4d17-c417-c4d5664a4506
* Content: [Use sensitivity labels with Microsoft Teams, Microsoft 365 groups, and

[2022-01-12 00:23] cabailey commented on #7372
@CyberTech71   I see it!  Thanks for flagging.  Will be fixed with our next publishing run.

[2022-01-12 00:23] #7372 closed

[2022-01-12 01:09] markjjo commented on #7335
@cablechewer Thanks for the feedback. I will update the documentation as you suggest. Adding @SeunginLyu  for visibility.

[2022-01-12 02:07] sambellbraze commented on #7313
No worries :) Will log a support ticket.

[2022-01-12 02:07] #7313 closed

[2022-01-12 09:12] AlexJPawlak commented on #7364
Thanks Denise! I have also filed a feedback from the portal, suggesting even a limited timeline of 7 days - this could help customers trace events on the device and draw some reports from device activity or pinpoint false positives that can be actioned / exceptioned

[2022-01-12 10:57] yogkumgit commented on #7342
@denisebmsft Please help us in resolving this Issue. Thanks

[2022-01-12 10:59] yogkumgit commented on #7343
@denisebmsft Please help us in resolving this issue. Thanks

[2022-01-12 11:03] yogkumgit commented on #7320
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AndrewBryson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-12 11:04] #7320 closed

[2022-01-12 12:59] msbemba commented on #7322
@Tad1011 Thank you for your feedback. Both options are available under self-service programs. We recommend you contact Microsoft support via the need help section on the admin center, so an engineer can work with you to investigate why these options don't show up.

Thanks
Sri

[2022-01-12 13:04] msbemba commented on #7355
@holoholo808 Thank you for your feedback.  The cmdlet Set-MpPreference -AllowDatagramProcessingOnWinServer 1 is correct. Since you are receiving an error, I would recommend you to contact Microsoft support via the need help section on the admin center to get this issue resolved.

Thanks
Sri

[2022-01-12 13:05] msbemba commented on #7353
@stchien Thank you for your feedback. This is a support request and needs to be routed to the Support team. We recommend you contact Microsoft support via the need help section on the admin center to get this resolved.

Thanks
Sri

[2022-01-12 13:23] msbemba commented on #7354
@robwesterby Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7374

Thanks
Sri

[2022-01-12 13:53] msbemba commented on #7349
@kelemvor33 Thank you for your feedback. I tested and looks like this is currently a limitation. To gain these and other capabilities to manage email signatures, use a third-party tool. Please do an internet search for email signature software. A number of these providers are Microsoft Gold Partners and their software provides these capabilities.

Hope this helps!

Thanks
Sri

[2022-01-12 15:12] f-casas opened #7377 "Misleading content (screenshots, icons, labels)"
Content is this document is a misleading since the screenshots, icons and labels used are in many cases for the **Microsoft Defender Security Portal** instead for the new unified **Microsoft 365 Defender portal**.
But yet according to the title the document refers to the new unified portal.

Please review it and update accordingly.

Thanks.

---
#### Document Details

⚠ *Do not edit this section.

[2022-01-12 18:06] JamesMasonRC opened #7378 "Inverted description for DeviceLogonEvents RemoteIP field"
The documentation says the field contains `IP address that was being connected to`, but the actual data returned is the IP address the connection is coming `from`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4287f831-8d71-6b0f-1221-7d2c34f86a87
* Version Independent ID: 773e0455-189d-11d4-6f8b-af7874f03ff6
* Content

[2022-01-12 18:30] ms-smithch opened #7379 "Define StartCalendarInterval values more clearly"
Apple documentation doesn't clarify the values for StartCalendarInterval or does so behind a paywall. Suggest updating docs to include the following

Minute <Integer>
Range 0-59

Hour <Integer>
Range 0-24

Day <Integer>
Range 1-31
Note: This represents the calendar date

Weekday <Integer>
Range 0-7
Note: 0 and 7 represent Sunday

Ref: https://developer.apple.com/library/archive/documentation/MacOS

[2022-01-12 20:04] SeunginLyu commented on #7335
@cablechewer @markjjo thanks for the feedback, I'll also bring this to our UX team to add the warning.

[2022-01-12 22:11] anthonynz opened #7381 "Error results from admin submissions"
Hi there,

This seems like it's partially revisiting [issue 644](https://github.com/MicrosoftDocs/microsoft-365-docs/issues/644) because the rescan results are still ambiguous.

We have a customer who is experiencing an error response when performing Admin Submissions.
I have found nothing about this error when searching, and have never seen it before.

Previous submissions have completed successf

[2022-01-13 01:13] cashxx opened #7382 "Both links are the same and don't think they are supposed to be."
Right under the heading "Complete deployment for supervised devices" in the first step is to download a file and this is the same link as later in the next section.  Are you supposed to continue to the next section, little confusing as it says Next, and acts as if you should continue on.  But seems to be the same steps further down the page.  https://docs.microsoft.com/en-us/microsoft-365/security

[2022-01-13 01:15] cashxx commented on #7333
Agree with WolfgangSauer.  Whole page is confusing to me.

[2022-01-13 04:18] TinaMcN commented on #7270
@andreaseliasnts the translation has been fixed and changed to "Neue Verschlüsselung der Bezeichnung wird angewendet". https://docs.microsoft.com/de-de/microsoft-365/compliance/encryption-sensitivity-labels?view=o365-worldwide#how-to-configure-a-label-for-encryption   Thanks again for letting us know about this.

[2022-01-13 06:07] BrewskiBill opened #7383 ""View, manage, and install add-ins in Office programs""
How about you guys in Redmond (or whereever) actually TEST your help recommendations before you post them? I have a single user, standalone PC to which -I- am the ONLY user/adminstrator, yet Outlook is gleefully telling me that add-ins can only be disconnected by the administrator, and won't remove them. Where's the help instruction page to correspond, why isn't it directly linked to that bloody d

[2022-01-13 08:45] andreaseliasnts commented on #7270
@TinaMcN translation is now ok, thanks for the fast fix :) !

[2022-01-13 08:45] #7270 closed

[2022-01-13 08:54] 0xThiebaut opened #7384 "Document `Detection name` and `Alert title` uniqueness requirement."
Would it be possible to document the `Detection name` and `Alert title` uniqueness requirements? I've been attempting to create two rules (one hourly, the other daily) with a different `Detection name` but similar `Alert title` to ensure it only gets raised once per (`Timestamp`, `ReportId`) tuple. While the documentation does not discuss uniqueness, MDE raises the `A detection rule with this name

[2022-01-13 11:02] AJ-Gov opened #7385 "Typo on page"
[At the top of your document approx 4 lines down, you state "Microsoft Defender for Endpoint Device Control Removable **Storage Access Control** enables you to do the following task:"....
But the title of the document is not **Storage Access Control** it shows Device Installation, so the correct title as well as in the description should match to Microsoft Defender for Endpoint Device Control Devi

[2022-01-13 11:23] holoholo808 commented on #7355
@msbemba
Hello Sri,
Yes I know that the cmdlet is correct.
The question is, is there also a qpo or a registry key as alternativ configuration method available?

Thanks
Michael

[2022-01-13 12:49] yogkumgit commented on #7297
@msbemba

[2022-01-13 14:26] msbemba commented on #7385
@AJ-Gov Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7386

Thanks
Sri

[2022-01-13 14:32] msbemba commented on #7341
@fabiotelesMS Thank you for your feedback. We have added a statement to the requirements section of the document which states Your devices must be onboarded to Microsoft Defender for Endpoint.

Hope this helps!
Thanks
Sri

[2022-01-13 15:02] itguysocal opened #7388 "why disable built-in labels?"
Why is there guidance on disabling built-in labels in Office apps when the AIP unified labeling client is installed?
I don't understand the use case for this. For example, if you don't want built-in labels enabled, why not just avoid assigning a policy to the user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0836a9

[2022-01-13 15:06] msbemba commented on #7338
@lccctemp Thank you for your feedback. Both the options are safe

The "Send File samples when further analysis is required " should be set to 1 (Send safe samples) or 3(Send all samples). Setting to 0 and 2 will not lower the protection state of the device.

Hope this helps!

Thanks
Sri

[2022-01-13 15:42] v-videba opened #7389 "Sync users restrictions"
[Enter feedback here]

When trying to add a alias or other details on synced users, its not possible and this message is shown

This user is synchronized with your local ‎Active Directory‎. Some details can be edited only through your local ‎Active Directory‎.

Would be a good idea to put this information also on this page to let know this restriction

---
#### Document Details

⚠ *Do not edit thi

[2022-01-13 15:43] v-videba commented on #7389
![imagen](https://user-images.githubusercontent.com/43179021/149361778-bcb7a70d-4d69-49b9-b855-60570228f905.png)

[2022-01-13 15:59] msbemba commented on #7334
@Gregor-Weertman Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7390

Thanks
Sri

[2022-01-13 16:29] msbemba commented on #7333
@WolfgangSauer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7391

Thanks
Sri

[2022-01-13 20:21] philtapp opened #7393 "Section URL category lookup incorrect with recent changes to the M365 security portal"
With a recent change to the M365 Security Portal with searching moving from a blade under Endpoint to the title bar you can no longer pick what you want to search for (such as URL) and the results don't include a URL section. How do you accomplish this now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbaaa90e-6975-e

[2022-01-13 21:12] bmansf opened #7394 "Option does not exist"
[Enter feedback here]
The step "Under Sign-in and security, choose View under Sync users from your org's directory." is not accurate.  There is no option listed to "Sync users from your org's directory".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3fec6b1a-892f-4717-02d4-6ceaaabf6222
* Version Independent ID: f1c841

[2022-01-13 23:15] chrisda commented on #7272
@dataCollegechurch, I looked into this closely, and I made some updates:

- Outbound spam policies are not affected by preset security policies. No specific policy is created for Standard or Strict, so only the default outbound spam policy and any custom outbound spam policies are in play. I added the following note to the section:

- In impersonation settings for MDO anti-phishing policies, I add

[2022-01-13 23:27] chrisda commented on #6957
Pull request related to this issue was merged, so closing.

Thanks for the feedback.

[2022-01-13 23:27] #6957 closed

[2022-01-13 23:28] chrisda commented on #6956
Related pull request merged, topic updated, so closing.

Thanks for the feedback.

[2022-01-13 23:28] #6956 closed

[2022-01-13 23:29] chrisda commented on #6955
Topic updated per reference pull request.

Thanks for the feedback.

Closing

[2022-01-13 23:29] #6955 closed

[2022-01-13 23:30] chrisda commented on #6954
Topic updated per referenced pull request.

Thanks for the feedback.

Closing

[2022-01-13 23:30] #6954 closed

[2022-01-13 23:36] rdiazMS opened #7395 "Use of Accent marks in ProxyAddresses"
[Enter feedback here]
Upon testing in a lab with my colleagues, we see the proxy Address has an issue with accent mark or tildes
This is mentioned for the UPN but not for proxyAddresses. No errors are returned in the Export step in AD Connect, but these updates do not synchronize. Can you confirm if that is the case and maybe the doc requires an update on that part? Thanks

_Letters with diacritic

[2022-01-13 23:40] markjjo commented on #7335
@cablechewer , @SeunginLyu Article has been updated; added note in this section: https://docs.microsoft.com/en-us/microsoft-365/compliance/create-ediscovery-holds?view=o365-worldwide#how-to-create-an-ediscovery-hold

Thanks again for the help.

[2022-01-13 23:40] #7335 closed

[2022-01-14 03:42] dataCollegechurch commented on #7272
Thanks much. I appreciate you looking into this.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Chris Davis ***@***.***>
Sent: Thursday, January 13, 2022 5:15:34 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: datacollegechurch ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Recommended vs Configured Feature Values (Is

[2022-01-14 05:01] BobbyFlayva opened #7397 "Provided Method for finding Consent to Application Activity is not reliable"
I guess this is more an issue that's inherent to the current state of the Audit Log but the provided direction is not feasible for organizations that generate even a moderate amount of activity lots. The Audit Log only loads the first 250 entries by default which my not capture any Consent to Application activities. A user can not be expected to load the entire log set manually by scrolling infini

[2022-01-14 11:50] AJ-Gov commented on #7385
OFFICIAL

Hi,

I don't see the change, see yellow highlight below, still showing Removable Storage Access Control:

***@***.***

Cheers

Amjad Naseer (Contractor)
Digital Workplace Architect | Digital, Data & Technology Services | Department for Environment, Food and Rural Affairs

From: Sriraman M S ***@***.***>
Sent: 13 January 2022 14:27
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Nas

[2022-01-14 13:42] msbemba commented on #7385
@AJ-Gov The author will review the PR and Approve/Reject. once that is complete, you will see the document updated.

Thanks
Sri

[2022-01-14 13:46] msbemba commented on #7332
@Saraquin Thank you for your feedback. The Note has been removed to avoid ambiguity and the added link to another document which talks about the requirements

For information licensing requirements for Microsoft Defender for Endpoint, see Microsoft Defender for Endpoint licensing information (https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsof

[2022-01-14 13:53] msbemba commented on #7298
@jmmowrer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7398

Once the author approves, the document will be updated.

Thanks
Sri

[2022-01-14 13:58] msbemba commented on #7319
@amanmcse Thank you for your feedback. I tested this and could not locate the device group as well. Later, I found that the document states  This list covers much of the same information as the Alerts queue, **except** for the device group, if any, the affected device belongs to.

Hope this helps!

Thanks
Sri

[2022-01-14 14:03] msbemba commented on #7345
@craigreilly Thank you for your feedback. I'm currently working with the author to confirm the above.

Thanks
Sri

[2022-01-14 14:10] msbemba commented on #7339
@josephgruber Thank you for your feedback. I'm not able to locate the Secure options as well.  I will work with the author and update the document accordingly.

Thanks
Sri

[2022-01-14 14:19] msbemba commented on #7359
@TVdVelHuve Thank you for your feedback. The link should ideally take you to the invoice. In your case, since it is not happening, we recommend you to contact Microsoft support via the need help section on the admin center.

Thanks
Sri

[2022-01-14 14:21] msbemba commented on #7361
@Phildo76 Thank you for your feedback. You are right, the changes were not made in the 2111 release and are expected to be available in a later release.  We have edited the document to reflect that "full Microsoft Endpoint Configuration Manager automation and integration to perform an automated upgrade will be available in a later release of MECM".

Hope this helps!
Thanks
Sri

[2022-01-14 14:36] msbemba commented on #7383
@BrewskiBill Thank you for your feedback. Outlook States that you should be contacting your administrator to make changes in the O365 admin portal. The Steps to be followed on your admin center are here -https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-addins-in-the-admin-center?view=o365-worldwide#delete-an-add-in

Hope this helps!

Thanks
Sri

[2022-01-14 14:40] msbemba commented on #7384
@0xThiebaut Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7401

Once the author approves, the changes will be live.

Thanks
Sri

[2022-01-14 14:51] msbemba commented on #5348
@MikePlumleyMSFT Could you please help us in contacting the AAD team for M365 tenant naming rules?

Thanks
Sri

[2022-01-14 14:53] BrewskiBill commented on #7383
Still not getting it: I AM THE ADMINISTRATOR FOR THIS SINGLE STANDALONE PC! And, oh, by the way, I have been to the Admin Center, and the add-in(s) in question DO NOT APPEAR.

![image](https://user-images.githubusercontent.com/42098822/149535223-ded57ecf-3392-4401-8012-4063475e3b43.png)

![image](https://user-images.githubusercontent.com/42098822/149535567-33a69fe9-045a-4083-b2f6-6f701a13838d.png)

[2022-01-14 14:53] #7383 closed

[2022-01-14 15:54] sgreenlee11 opened #7402 "Add Outlook to the list of client requirements"
Hello,

As Outlook for Windows can be used to open file types like EML and MSG, I think it makes sense include it in the list of client requirements. This will make it clear that Outlook for Windows will use the safe links API to check unwrapped links in these types of files when attached to messages, or when opened directly in Outlook from the file system.

---
#### Document Details

⚠ *Do not ed

[2022-01-14 16:12] amanmcse commented on #7319
@msbemba It states other information on **Alerts queue** is same as **Alerts tab under the file page** except the device group. This indicates that the Alerts queue has device groups as an extra piece of information.

[2022-01-14 16:19] msbemba commented on #7319
@amanmcse Got it! I don't see it either. I'll work with the author internally and update the document if need be.

Thanks
Sri

[2022-01-14 16:29] pgdrews opened #7403 "Enable-OrganizationCustomization is needed on new target tenant"
In step 3 of the "Prepare the source (current mailbox location) tenant by accepting the migration application and configuring the organization relationship"

I found that when I did the step 3, I got the following error:

**The command you tried to run isn't currently allowed in your organization. To run this command, you first need to run the command: Enable-OrganizationCustomization.
    + Categ

[2022-01-14 17:10] msbemba commented on #7382
@cashxx Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7404

Once it is approved the changes will be live.

[2022-01-14 17:15] msbemba commented on #7352
@rajivmeh Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7405

Thanks
Sri

[2022-01-14 17:16] msbemba commented on #7297
@chasman157 Thank you for your feedback. I see multiple changes to be made on this document and will be making those changes shortly.

Thanks
Sri

[2022-01-14 18:32] chrisda commented on #7272
You're welcome.

Closing

[2022-01-14 18:32] #7272 closed

[2022-01-14 19:08] chasman157 commented on #7297
Thank You!

Chuck VanDeweel
1+(469) 713-7393

From: Sriraman M S ***@***.***>
Sent: Friday, January 14, 2022 11:17 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Chuck VanDeweel (Insight Global, Inc) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Stale Content in Setup Guide (Issue #7297)

@chasman157<https://nam06.safelinks.protection.outlook.com/?url

[2022-01-15 01:53] Saraquin commented on #7332
Thanks, that makes it clearer from the eligibility aspect, the licensing is still confusing but that is a separate issue :)

Cheers

[2022-01-15 01:53] #7332 closed

[2022-01-15 06:32] yogkumgit commented on #7357
@schmurky Please help us in resolving this issue. Thanks

[2022-01-15 06:40] yogkumgit commented on #7381
@Dansimp Please help us in resolving this issue. Thanks

[2022-01-15 07:11] yogkumgit commented on #7334
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Gregor-Weertman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-15 07:11] #7334 closed

[2022-01-15 07:23] yogkumgit commented on #7385
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AJ-Gov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-15 07:23] #7385 closed

[2022-01-15 07:38] yogkumgit commented on #7345
@Dansimp Please help. Sent you an email with query. Thanks

[2022-01-15 07:43] yogkumgit commented on #7339
@SKjerland Please help. Sent you an email with a query. Thanks

[2022-01-15 08:08] yogkumgit commented on #7354
@msbemba Thank you very much for the contribution and updating the documentation with PR. @robwesterby Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-15 08:08] #7354 closed

[2022-01-15 10:04] amanmcse opened #7407 "Include new tabs in the document."
Please update the document as it includes only 3 tabs - Overview, Analyst report, and Mitigations but there are a lot more tabs available now, as highlighted below:

![image](https://user-images.githubusercontent.com/33834131/149617735-83bdad16-9165-427e-aae8-c1abef45e36d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-01-15 14:52] danmyhre opened #7408 "Need migration details"
Please add details on how organizations should migrate from older MRM to new retention tags / policies. For example, MRM has been in use for years. How to transfer all of the items that are tagged with existing MRM tags to new retention tags from the compliance center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c4

[2022-01-16 00:20] cabailey commented on #7388
@itguysocal  The guidance on this page isn't to disable built-in labels in Office apps when the AIP unified labeling client is installed, but the other way around because "If users have the Azure Information Protection client installed on their Windows computers, by default, built-in labels are turned off in Office apps that support them."  There are many advantages of using built-in labeling rath

[2022-01-16 14:45] frankbj57 opened #7410 "What happens to my Words .docx files and my Excel .xlsx files when my subscription expires?"
The page is very unclear, as it does not give any examples. It is all high level legal gibberish.
If I have created a Word document with a subscription version of Microsoft 365 - will it then eventually disappear or become useless if my subscription ends?
What exactly is Customer Data - is that my documents? Where are they residing? Will I loose my work?
This confusion is the biggest reason I do n

[2022-01-17 04:58] yogkumgit commented on #7322
@msbemba Thank you very much for the contribution and sharing this explanation. @Tad1011 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-17 04:58] #7322 closed

[2022-01-17 05:07] yogkumgit commented on #7338
@msbemba Thank you very much for the contribution and sharing this explanation. @lccctemp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-17 05:07] #7338 closed

[2022-01-17 05:13] yogkumgit commented on #7341
@msbemba Thank you very much for the contribution and sharing this explanation. @fabiotelesMS Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-17 05:13] #7341 closed

[2022-01-17 05:19] yogkumgit commented on #7349
@msbemba Thank you very much for the contribution and sharing this explanation. @kelemvor33 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-17 05:19] #7349 closed

[2022-01-17 05:22] yogkumgit commented on #7353
@msbemba  Thank you very much for the contribution and sharing this explanation. @stchien Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the out

[2022-01-17 05:22] #7353 closed

[2022-01-17 05:26] yogkumgit commented on #7359
@msbemba  Thank you very much for the contribution and sharing this explanation. @TVdVelHuve Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-01-17 05:26] #7359 closed

[2022-01-17 05:29] yogkumgit commented on #7361
@msbemba Thank you very much for the contribution and sharing this explanation. @Phildo76 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-17 05:29] #7361 closed

[2022-01-17 05:36] yogkumgit commented on #7250
@markjjo Please help us in resolving this issue. Thanks

[2022-01-17 06:17] yogkumgit commented on #7355
@msbemba

[2022-01-17 06:20] yogkumgit commented on #7377
@msbemba

[2022-01-17 08:06] ptrsny opened #7412 "Advanced command -> "scan" - wrong description"
In the table under "Advanced commands" the command "scan" has the same description as "isolate" witch seems to be wrong.

![screenshot-22-01-17T09-04-02](https://user-images.githubusercontent.com/14097379/149730962-69452987-c570-4e08-8b34-c5dc2f2aede2.png)

![screenshot-22-01-17T09-04-09](https://user-images.githubusercontent.com/14097379/149730991-e68f9a61-9e1f-4a37-8e97-aea2a6c260ea.png)

---
##

[2022-01-17 09:09] AJ-Gov commented on #7385
OFFICIAL

Thank you for updating and have a great week

Cheers
Amjad

From: Yogesh Kumar ***@***.***>
Sent: 15 January 2022 07:24
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Naseer, Amjad ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Typo on page (Issue #7385)

@msbemba<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmsb

[2022-01-17 10:45] TheBrookman opened #7413 "Thresholds for Geo Location moves"
[when starting a SharePoint geo location move I ran into a threshold limit error because the site that I was trying to move was bigger than 1 TB, I ran into a second error from a different site where the list threshold was reached not allowing me to geo locate a site with more than 1 million items in a list. Can you please document all thresholds when geo locating sites, what would be the workarou

[2022-01-17 11:17] lightupdifire opened #7414 "Defender Plan 1 vs Defender Plan 2 vs Defender Azure vs Onboarding"
Hello,

Some time ago we have enabled the full Azure Security Center (Defender for Azure), this activated Defender ATP's old platform that is now migrated to the Microsoft 365 Defender (security.microsoft.com), then later we enabled Microsoft 365 E5 security for some users, then enabled Defender Plan 2 and we onboarded those users devices to Microsoft 365 Defender using Endpoint, now all users wit

[2022-01-17 13:43] 0xThiebaut opened #7415 "Document requirements to apply a custom detection to "All devices""
The "Create and manage custom detections rules"  documentation mentions the following under the "Set the rule scope" section:

We have however observed instances where the "All devices" option is not available. Could you document which requirements have to be met for that option to be presented?

#### Expected layout:
![image](https://user-images.githubusercontent.com/46688461/149778954-1cfafe0a-4

[2022-01-17 16:06] ParaGlideRocks opened #7416 "Cannot convert value to type System.String."
Update-MSCommerceProductPolicy -PolicyId AllowSelfServicePurchase -ProductId $product.ProductID -Enabled $false
Update-MSCommerceProductPolicy : Cannot process argument transformation on parameter 'ProductId'. Cannot convert value
to type System.String.
At line:1 char:78
+ ... licyId AllowSelfServicePurchase -ProductId $product.ProductID -Enable ...
+

[2022-01-18 00:49] MikePlumleyMSFT commented on #7413
@WayneEwington can you help?

[2022-01-18 10:13] schmurky commented on #7357
This is a permissions issue. Kindly check if you have all required permissions to access these tables.

[2022-01-18 10:54] ShawnHag opened #7420 "Trial for Microsoft Defender for Office 365 Plan 1"
Hello,
I have a question about the free trial of defender for office.

On this article, I saw that a free trial for defender for office plan 2 is available.

From the admin portal, I saw the "free trial" button for plan 2.
But there was no "free trial" button for the plan 1 license.

Is there any way to try the defender for office plan 1 for free?

Thank you in advace,
Shawn

---
#### Document Det

[2022-01-18 16:29] fussytroll opened #7421 "Please fix the link to the Webinar."
[Enter feedback here]
Link to the Webinar is resulting in 404, Please fix the link

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ae5f811-9551-ea95-b113-9175a6f08d7e
* Version Independent ID: e1eb8d3d-d439-e814-4a05-aa5bbc11f33e
* Content: [Records Management in Microsoft 365 - Microsoft 365 Compliance](https://docs.m

[2022-01-18 17:08] chrisda commented on #7420
@ShawnHag, in the context of the admin portal and the content of the topic in question, no there's no way to do a Plan 1 trial; everything is about Plan 2.

In the greater world of Microsoft 365 at <https://www.microsoft.com/microsoft-365/>, is it possible to get a Defender for Office 365 Plan 1 trial? Maybe. But it won't be tightly integrated as described in the topic.

[2022-01-18 17:12] cabailey commented on #7421
@fussytroll   Thanks for flagging this.  The link is taken from the blog post https://techcommunity.microsoft.com/t5/security-compliance-and-identity/records-management-webinar/ba-p/1456654, and it's not working from there.  I'm trying to find out if it's moved or no longer available.

[2022-01-18 17:50] jweston-1 commented on #5163
In progress - a few issues still to be resolved.

[2022-01-18 18:16] jamesaepp opened #7423 "How to globally disable self-service? What happens when new products are added?"
My feedback applies to the entire article and self-service ability as a whole, but I'll try to narrow down my scope of inquiry somewhat:

I was playing around with the cmdlets in the MSCommerce module today and I think the product team/group is missing the forest for the trees here.

YES, there is a way to disable self-service purchases for individual products one by one.

BUT there is no way (tha

[2022-01-18 19:46] WayneEwington commented on #7413
Adding @chhaya-sharma9 who should be able to assist with documenting these restrictions

[2022-01-18 20:56] mbrown19465 opened #7424 "Text in this section has repeating words"
On the Logos page, **you can you can** add your logos, and specify the URL where users will navigate to, when they select the logo.

https://docs.microsoft.com/en-us/microsoft-365/admin/setup/customize-your-organization-theme?WT.mc_id=365AdminCSH_inproduct&view=o365-worldwide#logos-specify-your-theme-logos

[2022-01-19 00:29] chhaya-sharma9 commented on #7413
Hello, the size limit of 1TB is captured as a limitation in the documentation to move a OneDrive - https://review.docs.microsoft.com/en-us/microsoft-365/enterprise/move-onedrive-between-geo-locations?view=o365-worldwide&branch=main#scheduling-onedrive-site-moves
The limitation applies equally for SharePoint site moves as well.
Required gaps in documentation would be bridged.
Thanks

[2022-01-19 00:34] deejerydoo opened #7426 ""Submit and view feedback for This product"- still broken on your entire website..."
Microsoft has been planning and moving, over the last couple of years, to your new Q&A site. Why are we still getting redirects to "This UserVoice instance is no longer available" when clicking on "Submit and view feedback for This product"?

Please update this link in your website templates to at least drop us in your Q&A home page.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2022-01-19 00:47] ShawnHag commented on #7420
@chrisda , Hello
Thank you for your reply.

I`ve seen few people (including myself) wanting to see the difference between Plan 1 and Plan 2 through an actual environment.
It`ll be great if there will be a free trial for the Plan 1 in the future.

Thanks for your time and the great products.

Best regards,

[2022-01-19 00:50] tathmann opened #7427 "Delegate rather than Full control"
In Outlook you can designate someone as delegate rather than Full Control, is that possible to do with this powershell command?  Can Can I substitute Delegate for Full Control in the command arguments?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fcbd22b-e14b-fe97-7b7f-eb672e84d382
* Version Independent ID: f9a024d7

[2022-01-19 01:14] tamiyatxt1 opened #7428 "more step needed"
[Enter feedback here]
Within step 11, need to create a profile for this file as well.

**sysext.mobileconfig**

If this profile is not created, following bundle will not be identified.

6. Under Bundle identifier and Team identifier, set these values
Bundle identifier | Team identifier
**com.microsoft.wdav.epsext | UBF8T346G9**

---
#### Document Details

⚠ *Do not edit this section. It is require

[2022-01-19 01:37] chrisda commented on #7420
Sure. In some respects, there isn't much different, but in other respects, there's a lot of details that are different.

From [this topic](https://docs.microsoft.com/microsoft-365/security/office-365-security/defender-for-office-365), the main additions from P1 to P2 are:

- [Threat Trackers](threat-trackers.md)
- [Threat Explorer](threat-explorer.md)
- [Automated investigation and response](offic

[2022-01-19 06:47] yogkumgit commented on #7413
@TheBrookman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-19 06:47] #7413 closed

[2022-01-19 07:24] TheBrookman commented on #7413
understand your point but I was not looking to move one drive I was looking to move a SharePoint site, therefore it needs to be documented in the SharePoint documentation, correct, or a least linked to the documentation, anyway however you do it the thresholds need to be mentioned in that SP article.
thanks!

[2022-01-19 09:52] fipe-ch opened #7430 "feedback link dont' working"
Hi

Feedback Link https://aka.ms/mdagoffice-fb don't working.

Kind Regards,

Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8cc5310-e03b-d538-e741-09be5f32ab13
* Version Independent ID: 6f56df92-3eb1-56ff-efc9-a4d269efd7aa
* Content: [Application Guard for Office 365 for admins - Office 365](https://docs.micros

[2022-01-19 13:14] Thisissowicandownloadgoanimate opened #7432 "i cant download this to my pc :("
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62dfa25-e420-38e4-ff47-05cca62d14ec
* Version Independent ID: 5ea03ce0-38b9-e005-a430-e98442e2ec83
* Content: [Deploy add-ins in the admin center - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-

[2022-01-19 13:16] Thisissowicandownloadgoanimate commented on #7432
someoen help

[2022-01-19 14:48] KhaaliTurbo opened #7434 "Configure alert notifications: what's the PowerShell way?"
Been looking everywhere to get the proper API endpoint in order to retrieve the [configured] email alert|vulnerability notification settings, but am unable to find this. Please advise whether this is programmatically possible. Asking for an MSSP friend.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f066b4c-ef35-cb0a-

[2022-01-19 14:50] yogkumgit commented on #7397
@MSFTTracyP Please help us in resolving this issue. Thanks

[2022-01-19 14:52] yogkumgit commented on #7408
@cabailey Please help us in resolving this issue. Thanks

[2022-01-19 15:08] andrePKI opened #7435 "Registry key and Server 2019 and up"
(Can't go to UserVoice - that link is dead when I click the Product button: "This UserVoice instance is no longer available.")

Server 2019 and up are not supported for device tagging through the registry. Does that leave us to only _manually_ adding tags through the portal? That doesn't scale for an enterprise environment. Also we have a chicken-and-egg issue here: We use the tag to put servers i

[2022-01-19 15:24] andrePKI opened #7436 "Tip: not supported for Server 2019 and up"
You cannot add tags via the registry for other OS versions than those listed [here](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/machine-tags?view=o365-worldwide#add-device-tags-by-setting-a-registry-key-value).
E.g. Server2019 is not supported

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-01-19 16:53] tx5westmt opened #7438 "Hyper-V Server Support Note"
Would it be possible to put a note explicitly indicating "hyper-v server is not currently supported in any version" (assuming it is not supported)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77c40dd-e4d2-90f5-d70a-b0ee4b430136
* Version Independent ID: f0ec110b-7938-5e22-d39e-6ded935a9ced
* Content: [Onboard Windo

[2022-01-19 19:19] cabailey commented on #7421
@fussytroll  Unfortunately, that recording is no longer available.  I've updated the page accordingly.

[2022-01-19 20:36] #7028 closed

[2022-01-19 21:33] msbemba commented on #7389
@v-videba Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7440

Thanks
Sri

[2022-01-19 21:36] msbemba commented on #7393
@philtapp Thank you for your feedback. I tested in multiple tenants and the feature to search URL  is still available

![image](https://user-images.githubusercontent.com/45987684/150217681-0b0797f6-a287-4c7a-a954-ad55cd2affe6.png)

Thanks
Sri

[2022-01-19 21:42] msbemba commented on #7394
@bmansf Thank you for your feedback. I see the options have changed. It is now under ***Add or sync users to your Microsoft account***. I have made the necessary changes in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7441

Thanks
Sri

[2022-01-19 21:44] msbemba commented on #7395
@rdiazMS Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7442

Thanks
Sri

[2022-01-19 21:47] msbemba commented on #7402
@sgreenlee11 Thank you for your feedback. I have added outlook for windows to the requirements section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7443

Once the author approves, the changes will be live.

Thanks
Sri

[2022-01-19 21:53] msbemba commented on #7410
@frankbj57 Thank you for your feedback.

If they are located on your computer, you will still be able to open them, but will not be able to edit them or create new documents.

If you have them saved on OneDrive, and your subscription has not yet expired, you should download them from OneDrive to your computer as I understand that you will no longer be able to access documents on the OneDrive accou

[2022-01-19 21:58] msbemba commented on #7407
@amanmcse Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7407

Thanks
Sri

[2022-01-19 23:19] chrisda commented on #7402
Be advised that the current list was based on the UI from 2-3 years ago that went into excruciating detail about supported apps. Granted, that was a while ago.

[2022-01-19 23:30] denisebmsft commented on #6113
The share and NTFS permissions required are included in the section, [Download and unpackage the latest updates](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/deployment-vdi-microsoft-defender-antivirus?view=o365-worldwide#download-and-unpackage-the-latest-updates).

[2022-01-19 23:30] #6113 closed

[2022-01-19 23:31] denisebmsft commented on #6818
The information about Event ID 1127 is now included in the article. Thank you for the feedback!

[2022-01-19 23:31] #6818 closed

[2022-01-19 23:32] denisebmsft commented on #6848
Greetings! We are working on this. Expect an update soon.

[2022-01-19 23:34] denisebmsft commented on #6966
@yogkumgit pinged the PM again.

[2022-01-20 05:08] yogkumgit commented on #7379
@msbemba Thank you very much for the contribution and sharing this explanation. @ms-smithch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 05:08] #7379 closed

[2022-01-20 05:13] yogkumgit commented on #7095
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jerryabo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 05:13] #7095 closed

[2022-01-20 05:16] yogkumgit commented on #6716
@msbemba Thank you very much for the contribution and updating the documentation with PR. @blakebourgeois Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 05:18] #6716 closed

[2022-01-20 05:23] yogkumgit commented on #6700
@msbemba Thank you very much for the contribution and updating the documentation with PR. @import-au Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 05:23] #6700 closed

[2022-01-20 05:31] yogkumgit commented on #7389
@msbemba Thank you very much for the contribution and updating the documentation with PR. @v-videba Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 05:31] #7389 closed

[2022-01-20 05:36] yogkumgit commented on #7402
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sgreenlee11 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 05:37] #7402 closed

[2022-01-20 05:51] yogkumgit commented on #7294
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SegersIan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 05:51] #7294 closed

[2022-01-20 05:54] #7304 closed

[2022-01-20 09:21] jordi-j opened #7446 "Add Azure IP ranges needed for Azure AD Connect."
Please add Azure IP ranges needed for Azure AD Connect (AADC). O365 customers frequently deploy AADC, and having the Azure AD and O365 ranges together will make their deployment easier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-

[2022-01-20 09:47] fussytroll commented on #7421
Thanks @Carol Bailey

Regards
Talwar
________________________________
From: Carol Bailey ***@***.***>
Sent: Wednesday, January 19, 2022 7:19:23 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: fussytroll ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Please fix the link to the Webinar. (Issue #7421)

@fussytroll<https://emea01.safelinks.protection.outloo

[2022-01-20 10:22] msbemba commented on #7424
@mbrown19465 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7447

Thanks
Sri

[2022-01-20 13:02] tommylux opened #7448 "DKIM instructions no longer valid."
This page appears to be out of date:
on https://security.microsoft.com/dkimv2
there is no option to generate the CNAMES. Only an option to 'sign messages for this domain with DKIM signatures'. The following error message then says that the CNAME is not set up in DNS.

There doesn't appear to be a way to see what CNAME needs to be set up as depicted in this guide.

---
#### Document Details

⚠ *Do

[2022-01-20 13:11] msbemba commented on #7432
@Thisissowicandownloadgoanimate Thank you for your feedback. The add-ins will be automatically added to your outlook profile if the requirements are met. If they are not showing up, we recommend you contact Microsoft support via the need help Icon on the M365 Admin center.

Hope this helps!

Thanks
Sri

[2022-01-20 13:15] msbemba commented on #7436
@andrePKI Thank you for your feedback. The Document has a tip on how to create and manage device tags which leads to the next page which talks about the limitations. I don't think an explicit tip on not supported versions is needed for now.

Hope this helps!

Thanks
Sri

[2022-01-20 13:28] msbemba commented on #7416
@ParaGlideRocks Thank you for your feedback. This looks like the variable $ product did not get captured correctly.

before you run the command, please capture the value for the variable, Below is an example

$product = Get-MSCommerceProductPolicies -PolicyId AllowSelfServicePurchase | where {$_.ProductName -match 'Power Automate'}

Once the variable is captured, you can run the cmdlet

Update-MSC

[2022-01-20 13:37] msbemba commented on #7423
@jamesaepp Thank you for your feedback. You are right, if you are using the commerce module and updating the commerce policy, it allows you to manage whether members of your organization can buy specified products using self-service purchasing. You can set this policy only on a per-product basis.

Having said that, this can be controlled via Azure AD

If you want to disable all self-service sign-u

[2022-01-20 13:42] msbemba commented on #7427
@tathmann Thank you for your feedback. Since your question is more on Outlook,  this can be done directly on the application.

Full access is granted via the admin center. However, if you would like to grant different delegate permissions, You can click on File-->Account settings-->Deleegate access-->Add to select the person you want to delete and you will see the window to grant different levels

[2022-01-20 13:49] msbemba commented on #7428
@tamiyatxt1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7449

Thanks
Sri

[2022-01-20 15:16] Karr opened #7453 "Mispelling - directly > directory"
Step 5
On the Register an application page, under Supported account types, Select Accounts in any organizational directly (Any Azure AD directory - Multitenant).

after organizational .... the word directly needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61c960c-f5c3-76f7-ac18-dfeaf30230e4
* Versio

[2022-01-20 15:22] Karr opened #7454 "Wrong words - Application setup area"
Step 5
On the Register an application page, under Supported account types, Select Accounts in any organizational directly (Any Azure AD directory - Multitenant).

after organizational .... the word directly needs to be updated.

Step 13
In the Request API permissions windows, select APIs my organization users, and search for office 365 exchange online, select it.

after the word organization > use

[2022-01-20 16:10] fxlite opened #7455 "Multi-geo data residency for eDiscovery must be wrong"
Surely this page is incorrect? The table suggests that eDiscovery data (assuming this is blob storage that holds the report/content exports for download) is NOT homed in the geo that the export was triggered in? This article suggests that a company utilising multi-geo (the main reason for which is to home data in specific countries for compliance/regulatory reasons) can never use the eDiscovery co

[2022-01-20 17:26] tathmann commented on #7427
No, this is for Bookings. This is from the page of how to setup someone to manage bookings but not be on the list of people to book meetings with. The example was only to give someone full control, I want to know if it could be done with "delegate", instead. The form seemed to give the page I was submitting from so I didn't think I had to spell all that out

Troy Athmann
__________________________

[2022-01-20 22:12] philtapp commented on #7393
Thanks. My portal experience has reverted back to the previous behaviour and matches what you are showing in the screenshot above. When I was having the issue the search blade was no longer present in the endpoint section and the search bar was up in the header bar with no dropdown. Let's close this and I'll open a new issue with some screenshots if it reoccurs.

[2022-01-20 22:13] #7393 closed

[2022-01-21 02:24] Amplify101 opened #7457 "Microsoft Endpoint link leading to 404 error"
[Hi @JoeDavies-MSFT, https://docs.microsoft.com/en-us/microsoft-365/security/defender/integrate-microsoft-365-defender-secops-services?view=o365-worldwide on this page, there is a list of our Defender products as links and I found the **MDE link** didn't work.  Just wanted to bring to your attention.  Thank you for everything! Great article! - Respectfully, Avani]

---
#### Document Details

⚠ *Do

[2022-01-21 03:16] vhpang opened #7458 "startssl.com"
[Enter feedback here]

Why stiil consider *.startssl.com which ceasing operations by 2018 and with Mozilla, Google and Apple distrusting their certificates?
https://blog.mozilla.org/security/2016/10/24/distrusting-new-wosign-and-startcom-certificates/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f283e6d-8054-3abf-be

[2022-01-21 03:36] sinnermark opened #7459 "Instructions do not match screen reality"
[Enter feedback here]
Instructions say' Step 2: Click on Create DKIM keys.'

It is not obvious that you have to click on the grey are of the domain name to open the dialogue that contains the button.  It is not intuitive.

That you are pushing users to f$%king git hub in the same windo when trying to provide feedback is a nightmare.

I pay for microsft products as I expect a seemless user friendly

[2022-01-21 09:25] andrePKI commented on #7435
Thank you for the pointer. However, no Defender for Endpoint forum is
available at present....To be honest, User Voice was much better and this
feedback portal is only rudimentary, mostly focused on end user tools.
Requests to add topics are not honoured (although many are requested...)

Op do 20 jan. 2022 om 14:19 schreef Sriraman M S ***@***.***>:

--
Met vriendelijke groet,
André Hoekstra

[2022-01-21 09:35] andrePKI commented on #7436
Sri,

Yes, in the end the information is there. But like many documents, you are
redirected back and forth all over the place to get all the bits and pieces
of information.
And this doc explicitly mentions "configure the registry key for the group
affiliation" in the tip, while the document referred to lists 2 of the
three possibilities (Portal, Registry (consider that deprecated) and MDE
API).
So

[2022-01-21 11:01] ig-tr opened #7461 "Microsoft Defender Event ID: 5013 is not documented"
Hello, i see eventid 5013, but i not find documentation about this event.
`Tamper Protection Blocked a change to Microsoft Defender Antivirus.
 	Value: HKLM\SOFTWARE\Microsoft\Windows Defender\Real-Time Protection\DisableRealtimeMonitoring = (Current)
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 102c5c34-0c04-cc14-

[2022-01-21 12:26] robertofan opened #7462 "Monitored files should include archives (zip)"
Hi,
based on what's written on [this post](https://techcommunity.microsoft.com/t5/security-compliance-and-identity/announcing-expanded-dlp-coverage-to-new-file-and-content-types/ba-p/2902869#:~:text=Protect%20sensitive%20files,inappropriate%20file%20transfer.) I believe that archives (zip, ...) should be included among the file types listed on the page in the section [Monitored files](https://docs

[2022-01-21 13:09] #7421 closed

[2022-01-21 13:13] msbemba commented on #7430
@fipe-ch Thank you for your feedback. Feedback Hub is an application and when click on the link you will see a pop up window like below to open it with the application installed on your computer

![image](https://user-images.githubusercontent.com/45987684/150532870-73eac8d0-0261-42e8-8c54-1482277f1a8d.png)

I was able to test the link on multiple computers and it seems to be working now.

Thanks
S

[2022-01-21 13:17] msbemba commented on #7435
@andrePKI  Thank you for the response. “Due to recent policy updates within Microsoft across all products, Microsoft Information Protection product group is discontinuing the usage of UserVoice and starting to use other methods to stay connected to customers and collect product feedback. Hopefully we will have a Forum for Defender for endpoint, till then you can post it in the main forum https://f

[2022-01-21 13:21] yogkumgit commented on #7414
@denisebmsft Please help us in resolving this issue. Thanks

[2022-01-21 13:23] #7420 closed

[2022-01-21 13:27] yogkumgit commented on #7434
@mjcaparas Please help us in resolving this issue. Thanks

[2022-01-21 13:38] yogkumgit commented on #7432
@msbemba  Thank you very much for the contribution and sharing this explanation. @Thisissowicandownloadgoanimate
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy i

[2022-01-21 13:38] #7432 closed

[2022-01-21 13:40] msbemba commented on #7436
@andrePKI Thank you for your feedback. I have made the changes to the tip via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7463

Thanks
Sri

[2022-01-21 13:42] ConfigConfused opened #7464 "Does not align with Plan 1"
Plan 1 customers do not have access to all of the features mentioned yet page states it is applicable to Plan 1.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96cedf2c-e6fa-bbfb-61f0-ab4bcaae1479
* Version Independent ID: 45ca9ffb-55e9-7721-3433-017a513a59be
* Content: [Use attack surface reduction rules to prevent ma

[2022-01-21 13:47] yogkumgit commented on #7427
@msbemba

[2022-01-21 13:54] msbemba commented on #7427
@tathmann Thank you for the feedback. The available permissions is just full access for now. If there are any new access levels introduced, we will update the document.

Hope this helps!

Thanks
Sri

[2022-01-21 15:56] michaeljonathanparish opened #7465 "Assigning Multi-Geo Licensing to Shared Mailboxes"
Could this page be updated with details of applying Multi-Geo licensing to Shared Mailboxes? Is it required? how is it done?

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 289f2440-9c44-7d93-20e3-baa9e9892cd9
* Version Independent ID: abc4e209-a071-d28a-cb01-aa72bbaee7c0
* Content: [About shared mailboxes -

[2022-01-21 17:24] lkchild opened #7466 "Dead end on Microsoft FastTrack"
The instructions rely on Microsoft FastTrack, but FastTrack is not available unless you have added over 150 seats.  There is no way to continue after registering with the FastTrack portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58b6670c-3ed1-97f9-b728-79bb77106206
* Version Independent ID: 50934005-9e01-e6ea-21

[2022-01-21 17:32] lkchild commented on #7466
I found it - you need to navigate to the "Deploy" tab.

[2022-01-21 18:20] Alfredox911 opened #7467 "the location of conversation is not located in exchange anymore its located elsewhere."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb41d287-f954-dc84-782c-de8fa3c1ea0d
* Version Independent ID: 0081aa8b-87dd-aef2-aaeb-61caa8f20351
* Content: [Teams workflow in Advanced eDiscovery - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/teams-workflow-

[2022-01-21 18:21] Alfredox911 commented on #7467
https://support.microsoft.com/en-us/office/export-or-delete-your-teams-data-1ed6ac68-5fb4-41be-9861-1a4127fecf68

Users and request the export of conversations here.. Where is the data located ?

[2022-01-21 19:40] msbemba commented on #7262
@kwekuako The option in the admin center still exists. Is this something that needs to be escalated to the Product team for removal?

Thanks
Sri

[2022-01-21 19:45] msbemba commented on #7356
@thommck Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7373

Updated user voice link to Feedback portal (https://feedbackportal.microsoft.com)

Thanks
Sri

[2022-01-21 19:56] msbemba commented on #7426
@deejerydoo Thank you for your feedback. I'm working with the author to get this corrected on the documents.

Thanks
Sri

[2022-01-21 21:17] cabailey commented on #7408
@danmyhre   We don't have guidance or tools for this yet, but yes, it is something I would expect to see later

[2022-01-21 21:17] #7408 closed

[2022-01-21 22:14] mjcaparas commented on #7434
Not aware of ability to do it programmatically but here are some links for notification guidance:

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-mssp-notifications?view=o365-worldwide
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-email-notifications?view=o365-worldwide#create-rules-for-alert-notifications

[2022-01-21 22:14] #7434 closed

[2022-01-22 05:44] SteveCuriously opened #7468 "Does this sentence make sense?"
Dear Microsoft,

Does this sentence make sense?

"Opening the file and help the attacker compromise the target's device."

I wonder if this is a typo and the word 'and' should be replaced by a word such as 'will'?

Regards,
Steve

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c312fd69-72cd-bc86-4fe1-993b60b97bc6
* Vers

[2022-01-22 15:11] boelters opened #7469 "Typo in first bullet -- url with misspelled 'microsoft'"
"In the Microsoft 365 Defender portal at **https://security.microsofot.com**"

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/preset-security-policies?view=o365-worldwide#use-the-microsoft-365-defender-portal-to-assign-standard-and-strict-preset-security-policies-to-users

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-01-22 20:40] danmyhre commented on #7408
That is a pretty big deal / miss in functionality. Hopefully Microsoft will think through this and come up with a solution.

[2022-01-22 22:03] chuck-milyli opened #7470 "Need more troubleshooting options"
I have an M365 E3 license associated with my account and have for days.

I still receive the error that there is no mailbox associated with my account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00421a8e-42cf-c393-f91d-da1b7d7cc7da
* Version Independent ID: de00b816-762d-2171-eb7f-1ce6a55ec189
* Content: [Getting a

[2022-01-23 17:24] jamesaepp commented on #7423
That does help, but why on earth is that global setting documented under the Power BI documentation and not the article I opened this ticket under? I'd recommend to add a section or paragraph with a link to instructions for the Set MsolCompanySettings cmdlet or even better, move the section from Power BI under the MS365 docs and then modify the Power BI documentation with a link.

[2022-01-24 07:11] yogkumgit commented on #7427
@msbemba Thank you very much for the contribution and sharing this explanation. @tathmann Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-24 07:11] #7427 closed

[2022-01-24 07:15] yogkumgit commented on #7424
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mbrown19465 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-24 07:16] #7424 closed

[2022-01-24 07:24] yogkumgit commented on #7426
@Dansimp

[2022-01-24 07:35] yogkumgit commented on #7423
@msbemba

[2022-01-24 07:56] #7289 closed

[2022-01-24 07:57] yogkumgit commented on #7194
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jerryabo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-24 07:58] #7194 closed

[2022-01-24 08:02] yogkumgit commented on #7147
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RichardvanNuland Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-24 08:02] #7147 closed

[2022-01-24 08:14] yogkumgit commented on #7410
@msbemba Thank you very much for the contribution and sharing this explanation. @frankbj57 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-24 08:14] #7410 closed

[2022-01-24 08:16] yogkumgit commented on #7412
@msbemba

[2022-01-24 08:17] yogkumgit commented on #7415
@msbemba

[2022-01-24 08:18] yogkumgit commented on #7416
@msbemba Thank you very much for the contribution and sharing this explanation. @ParaGlideRocks Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-24 08:18] #7416 closed

[2022-01-24 08:21] yogkumgit commented on #7430
@msbemba Thank you very much for the contribution and sharing this explanation. @fipe-ch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-24 08:22] #7430 closed

[2022-01-24 08:23] #7435 closed

[2022-01-24 08:27] yogkumgit commented on #7438
@msbemba

[2022-01-24 13:59] msbemba commented on #7454
@Karr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7472

Thanks
Sri

[2022-01-24 17:15] denisebmsft commented on #7364
Hello @AlexJPawlak. Thanks again for the feedback, both here and in the portal. I have confirmed that web protection capabilities are included in Defender for Business, but not the device timeline view or detailed reports about blocked websites. And I have passed your feedback along to the product team as well. As this isn't necessarily a documentation issue, I am going to close it at this time, b

[2022-01-24 17:15] #7364 closed

[2022-01-24 17:33] kelleyvice-msft commented on #4356
@FMCUSystemAdmins, thanks for reaching out. Sorry for the delayed response.
The M365 endpoints web service doesn't provide a mechanism for updating firewall rules. Network administrators must either update firewall rules manually or implement their own automation to update rules when changes to endpoints are published through the web service.

[2022-01-24 17:33] #4356 closed

[2022-01-24 17:56] chrisda commented on #7469
@boelters, Yikes! Thanks for catching that. In the future, you can make fixes like this directly (no need to open an Issue first). For instructions, see [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md).

Thanks for the feedback.

Closing

[2022-01-24 17:56] #7469 closed

[2022-01-24 19:00] msbemba commented on #7468
@SteveCuriously Thank you for your feedvack. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7476

Thanks
Sri

[2022-01-24 19:02] msbemba commented on #4288
@erik365online Thank you for your feedback. The author has confirmed that in migrating M365 core customer data at rest we will not cause features to be unavailable. Note that the committed date for migrations to Germany to complete is spring 2023.  https://aka.ms/move

CC : @yogkumgit

Thanks
Sri

[2022-01-24 19:04] msbemba commented on #3388
@GiantCrocodile We have a confirmation from the author that I continue to affirm that in migrating M365 core customer data at rest we will not cause features to be unavailable. Note that the committed date for migrations to Germany to complete is spring 2023.  https://aka.ms/move

CC : @yogkumgit @andybergen

Thanks
Sri

[2022-01-24 19:09] msbemba commented on #7438
@tx5westmt Thank you for your feedback. I was not able to confirm this from the docset that is available. I will be verified with the author and make changes accordingly.

Thanks
Sri

[2022-01-24 19:13] chrisda commented on #7468
PR approved.

Thanks for the feedback.

Closing

[2022-01-24 19:15] msbemba commented on #7355
@holoholo808 Thank you for your feedback. I could not find the exact registry key involved with AllowDatagramProcessingOnWinServer. I'm currently checking with the author and will update/make changes accordingly.

Thanks
Sri

[2022-01-24 19:22] msbemba commented on #7412
@ptrsny Thank you for your feedback. The description for Scan is - "Runs an antivirus scan to help identify and remediate malware."

The same has been updated in the document. Thank you for pointing it out.

CC : @yogkumgit This can be closed.
Thanks
Sri

[2022-01-24 19:27] msbemba commented on #7415
@0xThiebaut Thank you for your feedback. The required permissions are Security Administrator or Security operator (will need the manage security settings permission in Microsoft Defender for Endpoint if RBAC is turned on.)

If the permissions are still intact and you still have a problem viewing all devices section, I'd recommend you to contact Microsoft support via the need help section in the M3

[2022-01-24 19:29] holoholo808 commented on #7355
@msbemba Thank you Sri. This would help to manage this setting with a gpo.

[2022-01-24 19:43] FMCUSystemAdmins commented on #4356
Thank you

From: Kelley Vice ***@***.***>
Sent: Monday, January 24, 2022 11:34 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: System Administrators ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Have a question that I didn't see in the FAQ (#4356)

@FMCUSystemAdmins<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FFMCUSyst

[2022-01-24 19:49] belqesghrama opened #7477 "Add instructions to find machine id from defender portal."
For this http request " POST https://api.securitycenter.microsoft.com/api/machines/{id}/offboard "

Kindly add how to find the machine id as I was not able to find it anywhere until I had to ask many of my coworkers to get it, it's nearly impossible to spot it, It will be so useful and stright forward if you added how to find the machine id from device inventory page , from the URL on the top and

[2022-01-24 20:07] msbemba commented on #7403
@pgdrews Thank you for your feedback. I was able to execute the cmdlet without Running Enable-OrganizationCustomization.
In the Microsoft datacenters, certain objects are consolidated to save space, and very rarely the tenant is dehydrated, which is when you will need to run Enable-OrganizationCustomization. I think that was the case with your tenant.

To check tenant status, you can run Get-Organ

[2022-01-24 20:23] msbemba commented on #7470
@chuck-milyli Thank you for your feedback.

M365 E3 has multiple services associated with it, there is a good chance that Exchange online plan2 is unchecked or not assigned.

Could you please Open the Microsoft 365 admin center and go to Active users under the Users section, and select your account.
In the user page that opens, go to the Licenses and Apps section, select the appropriate Location v

[2022-01-24 20:31] msbemba commented on #7465
@michaeljonathanparish Thank you for your feedback. I have added information about Multi geo to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7478

In a multi-geo environment, Shared mailboxes need to be licensed the same way a user mailbox is licensed. Note that cross-geo mailbox auditing is not supported. For example, if a user is assigned permissions to access a s

[2022-01-24 20:35] msbemba commented on #7464
@ConfigConfused Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7481

Once the author approves, the changes will be live.

Thanks
Sri

[2022-01-24 20:54] kelleyvice-msft commented on #7403
Perhaps we could add the following to the script:

# Enable customization if tenant is dehydrated
$dehy=Get-OrganizationConfig | fl isdehydrated
if ($dehy -eq $true) {Enable-OrganizationCustomization}

Sound reasonable?

[2022-01-24 21:21] SquirrelAssassin opened #7482 "end user revoking does not work"
We have tried every version of sending a encrypted message to external parties and not a single time have we seen from OWA a way to revoke any message sent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10cd0b42-9f8f-265f-1f4b-f5b73f811cfc
* Version Independent ID: f400b434-c016-7ee5-ef38-b57b90dcab95
* Content: [Revo

[2022-01-25 00:33] CharlieDiesel opened #7485 "Missing description for "View-Only Case""
In analysing role risk for implementing an RBAC model for a government entity, I have yet to come across any documentation that decsribes what "View-Only Case". I can make assumptions of course, but a description of this role would be much appreciated.

Thank you :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b34b5

[2022-01-25 01:22] chrisda commented on #7485
@CharlieDiesel, from what I can tell, the View-Only Case role only gives access to the [Get-ComplianceCase](/powershell/module/exchange/get-compliancecase) cmdlet (and the corresponding features in the UI). Access to the UI often depends on multiple roles, so creating a custom role group with only View-Only Case assigned might not work.

According to the CaseType parameter description, the followi

[2022-01-25 05:58] yogkumgit commented on #7455
@MikePlumleyMSFT Please help us in resolving this issue. Thanks

[2022-01-25 05:59] yogkumgit commented on #7458
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-01-25 06:19] yogkumgit commented on #7395
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rdiazMS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 06:19] #7395 closed

[2022-01-25 06:30] yogkumgit commented on #7468
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SteveCuriously Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 06:30] #7468 closed

[2022-01-25 06:40] yogkumgit commented on #4288
@msbemba Thank you very much for the contribution and sharing this explanation. @erik365online Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 06:40] #4288 closed

[2022-01-25 06:42] yogkumgit commented on #3388
@msbemba Thank you very much for the contribution and sharing this explanation. @GiantCrocodile Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 06:43] #3388 closed

[2022-01-25 06:51] yogkumgit commented on #7438
@mjcaparas Please help us in resolving this issue. Email sent. Thanks

[2022-01-25 06:53] yogkumgit commented on #7355
@mjcaparas Please help us in resolving tis issue. Email sent. Thanks

[2022-01-25 06:56] yogkumgit commented on #7412
@msbemba Thank you very much for the contribution and sharing this explanation. @ptrsny Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 06:56] #7412 closed

[2022-01-25 06:58] yogkumgit commented on #7415
@msbemba  Thank you very much for the contribution and sharing this explanation. @0xThiebaut
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-01-25 06:59] #7415 closed

[2022-01-25 07:02] yogkumgit commented on #7394
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bmansf Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:03] #7394 closed

[2022-01-25 07:06] yogkumgit commented on #7403
@msbemba

[2022-01-25 07:12] yogkumgit commented on #7464
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ConfigConfused Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:12] #7464 closed

[2022-01-25 07:15] yogkumgit commented on #7318
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AndrewBryson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:15] #7318 closed

[2022-01-25 07:18] yogkumgit commented on #7314
@msbemba Thank you very much for the contribution and updating the documentation with PR. @o-l-a-v Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:18] #7314 closed

[2022-01-25 07:21] yogkumgit commented on #7305
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:21] #7305 closed

[2022-01-25 07:21] CharlieDiesel commented on #7485
Thank you so much for your detailed response @chrisda, it has provided that extra insight I was after but did not know how to get to myself.

[2022-01-25 07:24] yogkumgit commented on #7333
@msbemba Thank you very much for the contribution and updating the documentation with PR. @WolfgangSauer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:24] #7333 closed

[2022-01-25 07:27] yogkumgit commented on #7382
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cashxx Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:27] #7382 closed

[2022-01-25 07:30] yogkumgit commented on #7352
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rajivmeh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:30] #7352 closed

[2022-01-25 07:32] yogkumgit commented on #7436
@msbemba Thank you very much for the contribution and updating the documentation with PR. @andrePKI Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-25 07:33] #7436 closed

[2022-01-25 08:19] SRE93 opened #7487 "information about limitations incorrect"
regarding this part of the document:
![image](https://user-images.githubusercontent.com/39616319/150938233-4520ecda-3be5-4823-b2a7-3d337cc44bd9.png)

I checked this functionality and all of those limitations are working in our environment. Could you please investigate if these limitations are still apply?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-01-25 11:46] MikePlumleyMSFT commented on #7455
@WayneEwington can you help?

[2022-01-25 13:23] mohanse commented on #6433
Thanks. I still dont see the updates. when is this going live ?

[2022-01-25 14:08] msbemba commented on #7377
@f-casas Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7488

Thanks
Sri

[2022-01-25 14:21] msbemba commented on #7448
@tommylux Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7489

Thanks
Sri

[2022-01-25 14:24] msbemba commented on #7459
@sinnermark Thank you for your feedback. You are right, the steps have changed recently. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7489

Instead of Clicking on  Create DKIM keys, You need to toggle the button to enable DKIM. The pop-up window that appears will provide the CNMAE records that need to be added.

Sorry for the confusion.

Thanks
Sri

[2022-01-25 14:56] IngoGege opened #7490 "policy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows and blocks in the Tenant Allow/Block List - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-3

[2022-01-25 14:56] #7490 closed

[2022-01-25 16:12] WayneEwington commented on #7455
Unfortunately I'm no longer directly involved with Multi-Geo. Adding @chhaya-sharma9 to help.

[2022-01-25 18:30] rbishop-etq opened #7493 "Provide Feedback on product button is broken"
The button to provide feedback on "THIS PRODUCT" is broken. It only leads to old UserVoice page which is no longer functioning.
Please update that to the correct place to provide feedback on this product

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b8f651-9d8e-a34b-8dde-2b6a9448f875
* Version Independent ID: 20e964

[2022-01-25 20:09] paul-rich opened #7497 "this page desperately needs information about DLP roles"
[Enter feedback here]
I find it virtually impossible to find out the specific rights that are granted to an identity as a result of being assigned the role "View-Only DLP Compliance Management". Likewise with the "DLP Compliance Management" role. It is criminal that Microsoft ships role groups and roles without documenting what permissions they grant.

---
#### Document Details

⚠ *Do not edit thi

[2022-01-25 22:16] msbemba commented on #7462
@robertofan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7499

Once the author approves, the changes will be live.

Thanks
Sri

[2022-01-26 00:07] cabailey commented on #7487
Checking with engineering

[2022-01-26 00:28] polks71 opened #7502 "Remote Wipe Not Possible"
[Enter feedback here]
[Step Three](https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee-step-3?view=o365-worldwide) says to convert the mailbox to a Shared Mailbox. If the mailbox is converted in step 3 doing a remove wipe in step 5 is not possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-01-26 07:41] andrePKI commented on #7436
Interesting to see: the [device tagging article](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/machine-tags) has received an update? It now states "Windows Server, version 1803 or later"

[2022-01-26 09:03] sakikokawasato opened #7503 "we can access login.live.com via ER"
[Enter feedback here]
The document describes that login.live.com doesn't support ER.
Now we can access login.live.com via ER.
I have heard about this from Derek Chauran at IDM AD Ops COGS team.
Please update this point.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Indepe

[2022-01-26 09:36] msbemba commented on #7403
@pgdrews We have added cmdlet to the script to enable customization if the tenant is dehydrated. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7504

Thank you @kelleyvice-msft

Thanks
Sri

[2022-01-26 09:42] msbemba commented on #7423
@jamesaepp We have updated the article with the steps. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7505

Thanks
Sri

[2022-01-26 11:15] yogkumgit commented on #7485
@CharlieDiesel If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-26 11:16] #7485 closed

[2022-01-26 11:18] #7454 closed

[2022-01-26 11:20] yogkumgit commented on #7453
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Karr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-26 11:20] #7453 closed

[2022-01-26 13:33] chuck-milyli commented on #7470
Sorry, the GitHub forum might not have been the best place to post that.

I thought I was just responding to why the information on the help page wasn't useful to me.

We ended up opening a ticket with Microsoft.

Turns out my account and several others had orphaned, on-prem exchange email accounts associated with them from a test exchange server that had been setup and decommissioned extremely in

[2022-01-26 15:31] msbemba commented on #7470
Thank you for the update. We are glad that the issue got sorted out.

Thanks
Sri

[2022-01-26 16:20] Canis-Lupis opened #7506 "Clarification on what blocks SMTP forwarding vs mailbox rule auto-forwarding"
[Enter feedback here]

Can you please clarify this item? "Disabling automatic forwarding disables any Inbox rules (users) or mailbox forwarding (admins) that redirect messages to external addresses."  Does this apply to only to the outbound spam policy or also to mail flow rules as well?  I'm trying to understand how SMTP forwarding can be allowed while preventing mailbox rule forwarding.
---
####

[2022-01-26 18:49] MikeBreenMSFT opened #7507 "Microsoft Docs contributor guide - broken link"
Contribute to Microsoft 365 documentation
Did you know that you could edit the content on docs.microsoft.com yourself? If you do so, not only will our documentation improve, but you'll also be credited as a contributor to the page. To get started, see:

**Microsoft Docs contributor guide** <link goes to 403 error>

[2022-01-26 18:52] MikeBreenMSFT commented on #7507
...and it's working now.

[2022-01-26 18:52] #7507 closed

[2022-01-26 19:08] dawholl opened #7509 "Docs article (or even better in the admin center UX) should include expected timeframe to see default theme changes in product UX. In a test tenant changes to the default theme took more than a day to see in user UX."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f6c85cc-1680-588e-f520-bcafb1383d53
* Version Independent ID: ea446e6b-e094-dacd-54cc-e597b2f1354d
* Content: [Customize the theme for your organization - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/setup/customize-your-

[2022-01-26 19:09] #7509 closed

[2022-01-26 19:40] joshfolcik opened #7510 "out of date page"
This page is out of date from the very top at least. To get to the place to start this you have to go to security.microsoft.com not securitycenter.microsoft.com (it redirects you to security.microsoft.com today)
then go to settings -> endpoints -> then scroll way down to device management -> onboarding.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-01-26 22:42] morobinson opened #7513 "Partner, BDO, concern that https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mssp-list?view=o365-worldwide&WT.mc_id=email isn't working properly"
[Enter feedback here]
Hello.  My partner, BDO, informed me that it looks as if this Microsoft webpage isn’t working consistently (mixed results on iPhone and Android phone browsers, too.  Was there an issue today with the site or is this a known problem?  Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56e74fd4-8

[2022-01-26 22:46] joshkyh opened #7514 "If real-time protection is not enabled, the command is...."
If upon running ```mdatp health --field real_time_protection_enabled```, we get false. One can run ```mdatp config real-time-protection --value enabled``` to enable real time protection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab0b894-0199-7515-b060-a6724e2c9b9e
* Version Independent ID: 988ff83c-c4b5-d2f3-023e

[2022-01-27 02:13] terry-citrix opened #7516 "Even with specific MS package source there is no package named "mdatp" for Ubuntu 18.04 in "prod" channel"
**Repro**
* Install Ubuntu 18.04
* Follow all steps about setting up Microsoft's package repo for the "prod" channel.
* Confirm that Microsoft's package repo is present by running `cat /etc/apt/sources.list.d/*` and seeing this line: `deb [arch=amd64] https://packages.microsoft.com/ubuntu/18.04/prod bionic main`
* Note that it's for `https://packages.microsoft.com/ubuntu/18.04/prod` unlike the exa

[2022-01-27 08:01] yogkumgit commented on #7470
@msbemba Thank you very much for the contribution and sharing this explanation. @chuck-milyli Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-27 08:01] #7470 closed

[2022-01-27 08:11] yogkumgit commented on #7403
@msbemba Thank you very much for the contribution and updating the documentation with PR. @pgdrews Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-27 08:11] #7403 closed

[2022-01-27 08:20] yogkumgit commented on #7132
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kennethvs Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-27 08:20] #7132 closed

[2022-01-27 08:54] theartofweb opened #7518 "What if your IP address is block for no reason?"
On or around December 22, 2022 Microsoft appear to have black-listed the entire Linode network from sending emails.  As of January 27, 2022 several Outlook mail servers are still refusing to accept emails from Linode network addresses.  None of the suggested delisting procedures are of any use as they only result in "your IP address is not currently blocked".

More details: https://www.theregister

[2022-01-27 09:09] jotheman0303 opened #7519 "Enabling Network Protection via GPO - Must be forced, or GPO-setting enough?"
The article states that to enable Network Protection via GPO you must set the "Prevent users and apps from accessing dangerous websites" to Enabled, but that you should "verify" Network Protection is enabled on the machine (by checking the registry setting). This makes it unclear what is required to enable Network Protection.
In a rollout we are using the new Unified/Preview rollout that does not

[2022-01-27 10:42] svinusje opened #7520 "P1 vs P2 plan deployment"
how is the difference made between a plan P1 and a P2 deployment. Assuming you want to use both plans in one tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f58c48-23a1-29e6-4358-7733b12668c8
* Version Independent ID: 27f7f229-ae73-3cd0-287f-8592aaa3928b
* Content: [Set up and configure Microsoft Defender for

[2022-01-27 12:05] gvnshtn opened #7521 "AAD Portal"
Under portals for other workloads it would be useful to have the aad.portal.azure.com for Azure Active Directory.
Have created an aka.ms link for this page: https://aka.ms/securityportals - please advise if ownership needs aligning.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87804d7-c76b-509d-eaa0-18b91b0563bd
* V

[2022-01-27 14:09] Phildo76 opened #7522 "Apply Attack Surface Reduction (ASR) rules via MECM for Modern Unified Solution"
Query - WIll Attack Surface Reduction (ASR) rules by configurable via MECM for 2016 & 2012 R2 servers utilising the Modern Unified Solution? Or is ASRs just configurable Windows server 1803+ via MECM?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77c40dd-e4d2-90f5-d70a-b0ee4b430136
* Version Independent ID: f0ec110b-

[2022-01-27 14:24] techlogik opened #7523 "Riduculous that there are no links to these products"
As usual Microsoft has moved products to new locations and admin pages...but none of the docs have direct links to get to them. I know what the products do, I just need to get to them.  Endemic with MS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed2861d-860e-5d27-9259-fb9db2187f4b
* Version Independent ID: 09ef562

[2022-01-27 16:33] procradminator opened #7524 "Link not correct"
The link on the menu to managing Exchange for partners takes you to the generic managing Exchange with MFA page and is not specific to or containing anything relevant to a partner wishing to manage a delegated tenancy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 215632a5-7e92-8f85-3b3e-76ed25ff69c4
* Version Indepen

[2022-01-27 16:36] ashleyspurlin opened #7525 "Create an Event without a Date"
Detail on this page include the following: "Deleting an event doesn't cancel the retention settings that are now in effect for the content that's already labeled. To do that, create a new event with the same details, but leave the date blank."
In practice, there does not appear to be a way to create an event without specifying a date.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-01-27 16:46] chrisda commented on #7523
@techlogik, I'm not sure I understand. The topic is full of general and direct links to the feature in the Microsoft 365 Defender portal:

In the "What do you need to know before you begin?" section:

Step 1 of every procedure:

[2022-01-27 17:46] msbemba commented on #7461
@ig-tr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7527

Once the author approves, the changes will be live.

Thanks
Sri

[2022-01-27 18:03] msbemba commented on #7514
@joshkyh Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7529

Thanks
Sri

[2022-01-27 18:51] Karr opened #7530 "Need updates to the Prepare Target Relationship"
The section:
Prepare the target tenant by creating the Exchange Online migration endpoint and organization relationship

Step 3:
Running the Relationship script creates an error.
The command you tried to run isn't currently allowed in your organization. To run this command, you first need to run
the command: Enable-OrganizationCustomization.

Attempting to runn the Enable-OrganizationCustomization

[2022-01-27 23:34] cabailey commented on #7525
Investigating.  I confirm you can't do this in the UI (not sure about PowerShell) and not sure if this is a UX design issue or by design.  In the meantime, as an alternative, you could use search to find items with the relevant retention label and then remove/relabel the items.   I'll update when I hear from engineering.

[2022-01-28 00:00] Karr opened #7531 "How do I know this worked - Fails"
Alls steps performed and rechecked and recreated multiple times.  Nothing done finds the mailbox in the Test-MigrationServerAvailability.  No other errors with any parts or steps.  All GUID's and permissions double checked and verified.
This solution did not work.

Source Tenant was created by GoDaddy if that matters.
Destination Tenant was created by Microsoft (Non-Profit).

Thanks for trying.  S

[2022-01-28 07:12] yogkumgit commented on #7461
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ig-tr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-28 07:12] #7461 closed

[2022-01-28 09:36] annemaarie opened #7533 "Update Windows SErver Support AIR"
AIR support for WinServer 2016 / 2012 R2

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54ebc792-00f8-b204-f5c1-579a037d2d06
* Version Independent ID: 53f7089f-6783-1866-d116-5f461c125fca
* Content: [Use automated investigations to investigate and remediate threats](https://docs.microsoft.com/en-us/microsoft-365/securi

[2022-01-28 13:56] msbemba commented on #7466
@lkchild Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7534

You are correct, it is now changed to Deploy

![image](https://user-images.githubusercontent.com/45987684/151559120-08f07ba1-2c2d-480a-9eb7-9f9aacaa38f9.png)

Thanks
Sri

[2022-01-28 15:06] GuidanceImp opened #7535 "MS Booking delete calendar incomplete"
When deleting the User Associated with the MS Bookings page this does not remove the Bookings Calendar from the system entirely.  My best guess is that the calendar will be removed from the system when the user is permanently removed from the "deleted users" hold.

This should be included in the notes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2022-01-28 16:18] teomonda opened #7538 "Dismiss reccomandations in Configuration Analyzer"
I do not see any possibility to dismiss some recommendations that are not applicable to a certain organization or that may be duplicated in another policy rather than the default one. Is this planned?

Can we please mention in the docs that this is not available at the moment?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-01-28 16:20] teomonda opened #7539 "Dynamic delivery supportability status"
In the portal Dynamic Delivery is still listed as PREVIEW whereas i do not see this marked in this article. Can you please highlight it here as well whether it is still in preview or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5966b7b-cbaa-eaa2-c9d6-5c6e7218df74
* Version Independent ID: cfcc8772-be5d-009a-080

[2022-01-28 18:54] JeremyTBradshaw opened #7542 "Please add www.msftconnecttest.com/13.104.7.52 as 100% required"
After a ~7-hour Severity A ticket with MS Support, we've come to find that www.msftconnecttest.com (13.107.4.52) is extremely critical for M365 Apps to be functional.

We found that this URL is not published nor is the IP, in any of the O365 URL/IP ranges publications.  I did find that this URL is mentioned in Windows 10/11 documentation:

https://docs.microsoft.com/en-us/windows/privacy/manage-wi

[2022-01-28 19:01] JeremyTBradshaw commented on #7542
[Case #:29468771] - Office activation connectivity issue

^^ for reference.

[2022-01-28 19:07] kelleyvice-msft commented on #7542
Thanks for reaching out, @JeremyTBradshaw. I'll discuss this with the folks responsible for the endpoints web service and get back to you with an update.

[2022-01-28 20:17] kelleyvice-msft commented on #7542
@JeremyTBradshaw - The key issue is that Network Connection Status Indicator is a Windows feature, not an Office 365 feature. While there are certainly non-O365 endpoints that are critical to its function, we can only include O365-specific endpoints in the web service. This is partly because there are so many factors outside the scope of O365 services that can affect functionality, there is no way

[2022-01-28 20:17] #7542 closed

[2022-01-28 20:22] JeremyTBradshaw commented on #7542
@kelleyvice-msft you have made fair points in your explanation.  In the end, I cannot dispute that logic and agree it would set an unmaintainable precedent if you went ahead and made an exception for this.

Maybe I will put in a PR that puts a purple note stating to be mindful of other network dependencies, and I could refer to Windows 10/11 endpoints Docs.

That seems like a fair middle ground si

[2022-01-28 21:04] mattsmacblog opened #7544 "So how do we delete teams chat messages that you can find with New-ComplianceSearch"
Are you able to post a link or some info around this paragraph at the top as to how you do find and delete teams chat messages?

"The search and purge workflow described in this article doesn't delete chat messages or other content from Microsoft Teams. If the Content search that you create in Step 2 returns items from Microsoft Teams, those items won't be deleted when you purge items in Step 3."

[2022-01-28 21:15] mattsmacblog opened #7545 "Purge or Delete"
So you've done the eDiscovery search, found the message you want, how do you then Purge or Delete the message?  (Your boss has asked you to remove a rant from a disgruntled employee in a teams meeting channel yet even the Organizer of that meeting has no delete ability etc...?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-01-28 21:38] chrisda commented on #7539
@teomonda, I know exactly what you are talking about, and I thought the same thing when I saw it.

In this topic:

<https://docs.microsoft.com/microsoft-365/security/office-365-security/set-up-safe-attachments-policies>

One of the selections for **Safe Attachments unknown malware response** is **Dynamic Delivery (Preview feature)**.

**(Preview feature)** is not supposed to mean Dynamic Delivery

[2022-01-28 22:07] denisebmsft commented on #7414
@yogkumgit I have reached out to PMs for help with this issue and will respond here soon.

[2022-01-28 22:41] terry-citrix commented on #7516
**Notes**
Once I tried with the amd64 architecture install of Ubuntu then everything worked flawlessly.  So it seems that this issue is just limited to trying to install MDATP on a 32-bit Ubuntu.  If that is not supported (is it?), then we can close this ticket as "not supported".

[2022-01-29 00:32] thavidu opened #7546 ""bulk" should not have changed "by default" to Quarantine"
While I'm sure this change was well intentioned, its causing real problems for real businesses-- I had no idea my mail settings had changed and that this quarantine area even existed, have been using this Exchange 365 for 9+ years now.
I only found out after calling up the support line at Brex because I could not get any verification emails from them (literally all their emails were landing in thi

[2022-01-29 01:20] rajmandalia opened #7547 "If successful, the detection test will be marked as completed"
the document states that "If successful, the detection test will be marked as completed". Where will I see it marked completed?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d716f82-0a0f-49b8-587e-589d166e602e
* Version Independent ID: 2c91a5fb-0567-f267-29f9-4f2660742f6a
* Content: [Run a dete

[2022-01-30 05:56] msbemba commented on #7467
@Alfredox911 Thank you for your feedback. For channel conversations, messages are journaled to the group mailbox in Exchange Online, where they're available for eDiscovery.

Personal chats including group chats are stored in the mailboxes of the users. However, these are not accessible immediately and are in hidden folders. - https://docs.microsoft.com/en-us/microsoftteams/ediscovery-investigation

[2022-01-30 23:10] dogborne opened #7550 "Azure AD Connect change results in Server 2012 R2 being marked as cloudfiltered=TRUE"
I'm testing the change to the Azure AD Connect Inbound sync rule (Inbound from AD). I have copied the rule and the server is in scope for synchronisation. The cloudfiltered property is set to TRUE however meaning that the object does not sync to Azure AD.
I'm not sure how to modify the rule further to enable to Server object to sync to AAD. Would you be able to validate that this is the correct se

[2022-01-31 05:56] yogkumgit commented on #7298
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-31 05:56] #7298 closed

[2022-01-31 05:59] yogkumgit commented on #7307
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rmrosen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-31 05:59] #7307 closed

[2022-01-31 06:47] yogkumgit commented on #7503
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-01-31 06:50] yogkumgit commented on #7516
@Dansimp Please help us in resolving this issue. Thanks

[2022-01-31 09:29] LaPhi opened #7552 "How retention works with OneNote content - Modified date OneNote file"
_
**How retention works with OneNote content**
When you apply a retention policy to a location that includes OneNote content, or a retention label to a OneNote folder, behind the scenes, the different OneNote sections are individual files that inherit the retention settings. This means that each section will be individually retained and deleted, according to the retention settings you specify._

I

[2022-01-31 10:13] reuvygroovy opened #7553 "Export user data from Project Server 2019"
https://docs.microsoft.com/en-us/project/export-user-data-in-project-server-2019

I found an issue in the code.

In the file common.ps1 you guys have a comment about Kerberos:
        #TO DO: figure out kerberos part maybe use Windows, not NTLM

I couldn't get the code to work in my environment until I commented out line 83:
#$binding.Security.Mode = [System.ServiceModel.BasicHttpSecurityMode]::Tr

[2022-01-31 10:50] Geeksagar opened #7554 "Please add phone numbers to billing support from third world countries like Nepal as well."
We need Educational tools like Microsoft 365 A1 more than anywhere in world. Please help schools in Nepal by adding support via calls. Lot of educational institutions are struggling to get support. We're not getting verified as School since 3 months and our classes are paused because of this. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-01-31 11:04] jdgregson opened #7555 "MEM section says to refer to MEM section for information not found in MEM section"
Spent about 10 minutes going in circles trying to figure this one out.

I am implementing the same rule used in the MEM example, "Block abuse of exploited vulnerable signed drivers." The example provides a link to find the required GUID, which I found fairly easily. However, for the required OMA-URI, it says to "Refer to the MEM section earlier in this article for the OMA-URI to use for this examp

[2022-01-31 12:55] JeremyTBradshaw opened #7556 "What does "ZAP not enabled" mean and where is anything else ZAP-related"
ZAP is proving to be difficult to see if/when it worked, or I just can't seem to understand the Threat Protection report.  The only mention of ZAP on the actual report and here is "ZAP not enabled".  Well definitely ZAP is enabled for all recipients in the org where I'm working, and there's nothing other than "ZAP not enabled"  Then I come here to try and get help but it's just a verbatim reading

[2022-01-31 14:33] msbemba commented on #7297
@chasman157 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7557

Once the author approves the changes will be live.

Thanks
Sri

[2022-01-31 14:37] msbemba commented on #7482
@SquirrelAssassin Thank you for your feedback.

You can revoke a mail that you sent to a single recipient that uses a social account such as gmail.com or yahoo.com. In other words, you can revoke an email sent to a single recipient that received the link-based experience.

You cannot revoke a mail that you sent to a recipient that uses a work or school account from Office 365 or Microsoft 365 or a

[2022-01-31 14:56] ghexp opened #7558 "Modify proxy setting example with 'do not use' warning"
Proxy setting `"proxy": "http://proxy.server:port/"` example jsons (Sample and Full profile) should also include `<EXAMPLE DO NOT USE>` like "allowedThreats"

as `"proxy": "<EXAMPLE DO NOT USE> http://proxy.server:port/" `warning to avoid naive copy-paste.

Running mdatp with "http://proxy.server:port/" will 'work' but will fail to update definitions by attempting to use http://canonicalizer.ucsur

[2022-01-31 15:38] theartofweb commented on #7518
If I was a Microsoft user, and the only one affected, perhaps that would
work.  Instead it is our clients' websites and businesses you are
affecting.

Details:

 	https://www.theregister.com/2022/01/17/linode_microsoft_email/

Discussions:

 	https://docs.microsoft.com/en-us/answers/questions/674558/550-57511-access-denied-banned-sender.html
 	https://techcommunity.microsoft.com/t5/office-365/tryi

[2022-01-31 15:42] msbemba commented on #7518
@theartofweb Thank you for your response. I understand your situation, but from the docs team, we are not able to verify or troubleshoot this issue. This needs to go to Microsoft support whether it is a bug or an issue with a specific network.

Thanks
Sri

[2022-01-31 15:44] msbemba commented on #7513
@morobinson Thank you for your feedback. The website is working on the phone as well as the browser on desktops. This is not a known issue, Please provide us screenshots in case the issue persists.

Hope this helps!

Thanks
Sri

[2022-01-31 15:49] msbemba commented on #7546
@thavidu Thank you for your feedback. The product feedback link on the document will be fixed soon. In the meantime to make sure that your feedback gets routed to the appropriate team, please post it on the [Microsoft 365 Q&A portal](https://docs.microsoft.com/en-us/answers/products/m365).

Thanks
Sri

[2022-01-31 17:08] FrankGlez opened #7560 "Link doesnt lead anywhere"
The link
aka.ms/SecureO365M365
does not lead to any relevant resources or information, it simply redirects to Bing.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c378129-a842-aa6b-c348-c43b52dbc018
* Version Independent ID: 055ab120-9a74-0cad-0414-a504f71e62dc
* Content: [Security guide for sma

[2022-01-31 17:30] JeremyTBradshaw opened #7561 "ZAP reporting - non-existent other than one single spot which shows high level tally"
I'm calling out that this FAQ entry is false:

Neither suggested place actually helps to find anything about ZAP.  In the Threat Protection Status report, the closest thing you will find about ZAP is the presence of the "ZAP not enabled" which is one of the "Detection Technology"'s.  It's pretty much always 0 and nowhere in the world has anyone explained what "ZAP not enabled" is supposed mean in

[2022-01-31 18:08] JeremyTBradshaw commented on #7542
@kelleyvice-msft Except that page is not editable by non-Microsoft people....

[2022-01-31 18:13] JeremyTBradshaw opened #7562 "Windows 10/11 Connection Endpoints"
I would do a pull request but those seem to be disabled for this page.  Please add a row to the table for:

www.mstfconnecttest.com / 13.107.4.52 - Used by Windows 10 and 11 to determine if the computer is connected to the internet.  When this URL cannot be reached, Windows will deem itself "Not connected to the Internet" and M365 Apps for Enterprise will not try to verify activation status, inste

[2022-01-31 18:13] JeremyTBradshaw commented on #7562
Referenceable links:

https://docs.microsoft.com/en-us/windows/privacy/manage-windows-11-endpoints
https://docs.microsoft.com/en-us/windows/privacy/manage-windows-21h2-endpoints

[2022-01-31 18:14] SquirrelAssassin commented on #7482
I don't know what link-based experience is, please define.  Are you saying if I send a link to a attachment and not a attachment?

Also your saying I can revoke a email to a non-microsoft account but not a microsoft ... the company that made these.  So the company that made this cannot revoke emails to the same company that made this?

And are you saying that I get more value using a free account

[2022-01-31 18:22] kelleyvice-msft commented on #7562
Thanks, @JeremyTBradshaw. I will check with the product group, but I don't think that will be a problem.

[2022-01-31 19:43] chrisda commented on #7556
@JeremyTBradshaw, that TPS report reference is incorrect as you mentioned, because the only ZAP information it contains is **ZAP not enabled** as you said.

It's the [Mailflow view for the Mailflow status report](https://docs.microsoft.com/microsoft-365/security/office-365-security/view-email-security-reports#mailflow-view-for-the-mailflow-status-report) that contains **ZAP removed** information.

[2022-01-31 19:43] #7556 closed

[2022-01-31 19:52] chrisda commented on #7561
Reference to TPS report removed and replaced by Mailflow status report in Issue #7556.

[2022-01-31 20:12] SeanTGeoghegan opened #7563 "Add Callout for Publishing Requirements between AAD/Teams/SPO"
I'd like to ask if there can be a callout for the current behavior of labels between M365 Groups/Teams/SharePoint Online.

Current behavior:

- SPO for Admins: Requires that a label exist and be scoped for Sites/Groups.
- SPO for Users, M365 Groups, and Teams: Requires that the label exist, be scoped for Sites/Groups, and be published to the users via Label Policy.

This may make sense to add afte

[2022-01-31 20:50] cabailey commented on #7563
@SeanTGeoghegan  We have already documented that these labels must be scoped to sites & groups, and published for users to apply.  What you might be missing is the following sentence in the SharePoint admin center section (https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-teams-groups-sites?view=o365-worldwide#view-and-manage-sensitivity-labels-in-the-sharepoint-admin-ce

[2022-01-31 20:53] SeanTGeoghegan commented on #7563
@cabailey you are right - I did miss that part! Thank you for the clarification.

[2022-01-31 21:43] cabailey commented on #7563
Use the page's list of admin centers vs user apps - and which ones support sensitivity labels for sites & groups: https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-teams-groups-sites?view=o365-worldwide#support-for-sensitivity-labels   For example, the Azure portal for group management lets you assign the labels as admins, Teams admin center doesn't yet support these lab

[2022-01-31 21:44] chasman157 commented on #7297
Thank you so much!!

Chuck VanDeweel
1+(469) 713-7393

From: Sriraman M S ***@***.***>
Sent: Monday, January 31, 2022 8:34 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Chuck VanDeweel (Insight Global, Inc) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Stale Content in Setup Guide (Issue #7297)

@chasman157<https://nam06.safelinks.protection.outlook.

[2022-01-31 22:41] arethk opened #7565 "No error discription for: Unable to start Microsoft Defender for Endpoint Service. Error message: The service name is invalid"
There is no error description for the error: "Unable to start Microsoft Defender for Endpoint Service. Error message: The service name is invalid" on this link https://go.microsoft.com/fwlink/p/?linkid=822807

Full error from command line:
[Error Id: 15, Error Level: 1] Unable to start Microsoft Defender for Endpoint Service. Error message: The service name is invalid.
For more information, visit:

[2022-01-31 22:48] kelleyvice-msft commented on #7562
I've added a row as requested. Revisions should be live this afternoon. Thanks!

[2022-01-31 22:48] #7562 closed

[2022-01-31 22:52] SeanTGeoghegan commented on #7563
Thank you for that,

The Azure AD M365 Group Management interface requires that Sensitivity Labels be published to the user creating the group, even though it is an admin center - any admin creating groups that does not have them published will not be shown the Sensitivity Drop down.

[2022-01-31 23:27] chrisda commented on #7561
@JeremyTBradshaw, I clarified the description in the ZAP topic:

OK?

[2022-01-31 23:30] arethk commented on #7565
My system info:

Processor	Intel(R) Core(TM) i7-2670QM CPU @ 2.20GHz   2.20 GHz
Installed RAM	8.00 GB (7.90 GB usable)
System type	64-bit operating system, x64-based processor
Pen and touch	No pen or touch input is available for this display

Edition	Windows 10 Home
Version	21H2
Installed on	‎6/‎17/‎2020
OS build	19044.1466
Experience	Windows Feature Experience Pack 120.2212.3920.0

[2022-02-01 00:09] cabailey commented on #7563
Thanks, let me check these with engineering.

[2022-02-01 01:17] JeremyTBradshaw commented on #7561
Hi @chrisda , thank you and yes that looks great to me.  Concise and accurate.  Much appreciated.

[2022-02-01 01:19] chrisda commented on #7561
Cool. Thanks. Closing.

[2022-02-01 01:19] #7561 closed

[2022-02-01 04:11] larryb821 commented on #7031
@lemondave thank you. your solution worked for me too!

[2022-02-01 04:42] yogkumgit commented on #7482
@msbemba

[2022-02-01 04:46] yogkumgit commented on #7519
@denisebmsft Please help us in resolving this issue. Thanks.

[2022-02-01 10:09] jamesn-jisc opened #7566 "Safe Links on URIs"
We have a number of users who receive emails that reference SAML entityIDs. entityIDs usually take the form of a secure URI but almost always need to be treated as a string.

These are not links to be followed, and they are not access URLs. They are entityIDs, and entityIDs are identifier strings that must not be altered during communication. Our concern is that most entityIDs have the same format

[2022-02-01 11:00] tommylux opened #7567 "Incomplete instructions for DKIM"
Regarding page:
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#steps-to-create-enable-and-disable-dkim-from-microsoft-365-defender-portal

There doesn't appear to be an option on the portal corresponding to the instruction:
"Step 2: Click on Create DKIM keys".

Therefore, I do not know how you can create DKIM keys

[2022-02-01 11:27] tommylux opened #7568 "PowerShell output is different for DKIM"
Regarding page:
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#publish-two-cname-records-for-your-custom-domain-in-dns

The instructions suggest that the PowerShell output would provide the hostname and value for DNS records:
![image](https://user-images.githubusercontent.com/19841675/151959422-0d13495e-65ea-47bf-

[2022-02-01 13:13] albgen opened #7569 "Albania org number is called VAT number"
[Enter feedback here]
Albania org number is called VAT number

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e2ac78-e08b-d7c8-5eec-baf9e9c13b62
* Version Independent ID: 66014f69-00c9-0e9b-fe0a-d0e10f2ca5eb
* Content: [About registration numbers and under review notifications](https://docs.microsoft.com/en-us/microso

[2022-02-01 13:47] msbemba commented on #7482
@SquirrelAssassin Thank you for the response

Accounts in any other domain: Messages sent to these recipients can be revoked because the actual message is not delivered to their mailboxes. Instead, they receive a notification directing them to the OME portal. These notifications are called link-based messages. Recipients must authenticate with the OME portal by signing in or using a one-time passc

[2022-02-01 14:44] treyandersoncode opened #7570 "ccccccrjtndeilrujrethtuluhidcgugvvifhibihdkk"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48adda3-8f2e-b13d-fbd7-b556d295bf85
* Version Independent ID: 46daacb8-1def-6af5-ccf1-61505bcedad4
* Content: [Address false positives/negatives in Microsoft Defender for Endpoint](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endp

[2022-02-01 15:18] mymebenha opened #7571 "How does the blocking work?"
I've tried the block list and the messages that were going to quarantine are still going to quarantine.  If by "block" you mean block from the inbox and send to quarantine then the article should mention that.  I've had to use a mail rule instead to actually block the message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-02-01 16:18] uowdaniel opened #7575 "Typo - wrong product"
In this para:

I believe the first sentence should actually read "Microsoft Defender for Office 365 safeguards your organization against malicious threats posed by email messages..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9afb9bd-0d73-62ef-a10b-2942f16370c2
* Version Independent ID: ce228ca6-001d-24a0-7c5f-3ef

[2022-02-01 16:27] msbemba commented on #7530
@Karr Thank you for your feedback. It ideally works right away after running the Enable-OrganizationCustomization. We have added this to Step2 so that users don't get stuck.

# Enable customization if tenant is dehydrated
  $dehydrated=Get-OrganizationConfig | fl isdehydrated
  if ($dehy -eq $true) {Enable-OrganizationCustomization}

Hope this helps!

Thanks
Sri

[2022-02-01 16:44] bubhat opened #7576 "Clarification required on retention settings"
This article says:
_"Because of the principles of retention, you can use retention labels to supplement a retention policy for specific SharePoint, OneDrive, or Exchange items that need to be retained longer, or deleted sooner than the specified settings in a retention policy for the same location."
Wanted clarification if we can delete items with labels sooner, if retention policy is already set

[2022-02-01 17:02] markjjo commented on #7545
@mattsmacblog Closing as a duplicate of the other github issue opened about the same issue. As per the search and purge article you cited, you can't use eDiscovery tools to delete Teams content. I would suggest you contact Microsoft Support concerning this issue.

[2022-02-01 17:02] #7545 closed

[2022-02-01 17:03] markjjo commented on #7544
@mattsmacblog As per the article, you can't use eDiscovery tools to delete Teams content. Please contact Microsoft Support; they might be able to provide guidance.

[2022-02-01 17:05] chrisda commented on #7571
@mymebenha, yes. Block or Allow means "interrupt/override the results of the protection stack and block or allow delivery of the message to the intended recipient". The results of the block could be "deliver to quarantine" or "deliver to the Junk Email folder".

So what are you trying to do?

[2022-02-01 17:08] #7570 closed

[2022-02-01 17:13] mymebenha commented on #7571
Thanks for the info, it wasn't clear from the article.  Several users have the same email going to their quarantine everyday and we want to completely block it so they don't need to review it everyday.  Doesn't sound like there's an option here so I'll try using exchange mail rules instead.  Thanks

[2022-02-01 17:29] cabailey commented on #7576
@bubhat   You don't say what the configured retention action is in the retention policy for your example, just the time period  ("... a retention policy of 5 years"). If the configured action is to retain, then yes, that always takes priority (the first principle of retention).  But if the configured action of the retention policy is delete-only, a retention label that deletes will take priority o

[2022-02-01 17:37] chrisda commented on #7571
@mymebenha, ah, got it. You want an Allow. Do you know why the messages are being quarantined? That will determine the best way to do the allow. If the block is due to spoofing, you can use the Tenant Allow/Block List and/or the [Spoof intelligence insight](https://docs.microsoft.com/en-/microsoft-365/security/office-365-security/learn-about-spoof-intelligence). If the block is due to user/domain

[2022-02-01 17:57] arethk commented on #7565
My fault guys, I didn't have Windows Pro isntalled. I found this link https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/minimum-requirements?view=o365-worldwide

It would be nice if you added to that table a link to that min requirment page. Thanks.

[2022-02-01 18:39] chrisda commented on #7571
@mymebenha, OK, so you do want a Block. Anti-spam policies allow you to silently delete messages as the action for all spam filtering verdicts except high confidence phishing. But you would need to be very careful about scoping the policy to specific users and specific messages so you don't throw out good messages with bad. As you say, transport rules might work best.

But honestly, what's wrong w

[2022-02-01 18:54] denisebmsft commented on #7519
Opened work item 5766834 to be assigned to a writer.

[2022-02-01 18:58] denisebmsft commented on #7343
I have opened work item 5731624 to be assigned to a writer.

[2022-02-01 19:16] denisebmsft commented on #6966
Work is assigned to a writer and scheduled for this month.

[2022-02-01 19:28] msbemba commented on #7477
@belqesghrama Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7577.

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-01 19:34] msbemba commented on #7497
@paul-rich Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7578

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-01 19:41] msbemba commented on #7506
@Canis-Lupis Thank you for your feedback. One question we encounter frequently is, how all these techniques work together? What if auto-forward is blocked in one of the above methods but allowed in another?

**Let’s say you have the following requirements:**

By default, automatic forwarding should be blocked.
Automatic forwarding to an external domain contoso.com should be allowed for all users.

[2022-02-01 19:46] mbigus opened #7579 "Threat Analytics?"
The comparison chart for Plan 2 here doesn't show Threat Analytics as part of anything listed.
This: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/threat-analytics?view=o365-worldwide says threat analytics is part of plan 2.

I have to say - you need some sort of visual or master layout to more easily explain these products and sub/product fetaures. I have spent 2 days

[2022-02-01 19:56] msbemba commented on #7521
@gvnshtn Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7580

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-01 20:05] msbemba commented on #7522
@Phildo76 Thank you for your feedback.  We have added it to the Known issues and limitations as not all Attack Surface Reduction rules are available on all operating systems.  The minimum Windows Server build is version is 1809 or later for ASR.

You can find more information here- https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference?vi

[2022-02-01 21:21] JeremyTBradshaw commented on #7562
@kelleyvice-msft thanks, I see the addition and appreciate the quick help you have me here and on the other page.

[2022-02-01 22:14] msbemba commented on #7524
@procradminator Thank you for your feedback. The menu for Exhange powershell takes you   to --https://docs.microsoft.com/en-us/powershell/exchange/connect-to-exchange-online-powershell?view=exchange-ps&viewFallbackFrom=o365-worldwide#connect-to-exchange-online-powershell-using-modern-authentication-with-or-without-mfa

The section takes about connecting to PS by following the below command

Connec

[2022-02-01 22:30] dferraiolo commented on #6841
Hi @msbemba, can you share the reason why this feature (manage comparisons, customized to select industry to compare etc.) has been removed? Who can I ask to know this? I have a customer asking this question. Thank you

[2022-02-02 02:11] cabailey commented on #7552
@LaPhi  Thanks for the tip, now added.  Please note, because you are a Microsoft employee, feel free to ping me direct with customer feedback for the docs.

[2022-02-02 02:11] #7552 closed

[2022-02-02 03:46] SquirrelAssassin commented on #7482
I don’t allow offline access.  Every time they open the email don’t they have to hit a rms server to open the item.  Just revoke the ability at the rms side.

[2022-02-02 06:30] yogkumgit commented on #6841
@msbemba

[2022-02-02 08:34] theartofweb commented on #7518
I would just like to point out that it's absolution #$%^ impossible to
open a support ticket at
https://support.serviceshub.microsoft.com/supportforbusiness for this
issue when we are not using any particular Product.

So my point remains.  Your documentation is inadequate in that it doesn't
provide for the situation where a Microsoft snafu has arbitrarily blocked
a large range of ip addresses bel

[2022-02-02 09:58] andreyshihov opened #7585 "404 Error when clicked on the poster"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f236aabf-0e00-b921-b97a-e8a0ff46a2fd
* Version Independent ID: 91933073-7e46-5a1d-23fa-7864effb6a12
* Content: [Set up your infrastructure for hybrid work with Microsoft 365](https://docs.microsoft.com/en-us/microsoft-365/solutions/empower-people-to-w

[2022-02-02 10:57] msbemba commented on #7531
@Karr Thank you for your feedback. The steps outlined are for direct Microsoft tenant to tenant migration. I'd request you to work with the Microsoft support team(via the need help icon on the Admin center to convert the go daddy tenant to a Microsoft tenant(steps need to be done in the backend by Microsoft/go daddy support to de federate the go daddy tenant).

Hope this helps!

Thanks
Sri

[2022-02-02 11:09] msbemba commented on #7533
@annemaarie Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7588

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-02 11:15] msbemba commented on #7535
@GuidanceImp Thank you for your feedback. The Bookings calendar is a mailbox in Exchange Online so you delete the corresponding user account to delete the booking calendar. it is not required to hard delete the user from the deleted users container.

If you have already deleted the user associated with the booking calendar and still see the booking calendar active, I'd suggest reaching out to Micr

[2022-02-02 11:22] msbemba commented on #7547
@rajmandalia Thank you for your feedback. I was able to test and do not see it getting marked as completed. However, If successful, a new alert does appear in a few minutes. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7589

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-02 12:00] msbemba commented on #7482
@SquirrelAssassin This is a new feature request or we can call it product feedback. I request you to please provide feedback on our Main feedback portal -  https://feedbackportal.microsoft.com so that one of our Product engineers can review and provide you feedback on whether this can be implemented.

Thanks
Sri

[2022-02-02 12:02] msbemba commented on #6841
@dferraiolo Thank you for your feedback. Of course, you can Provide your feedback or ask a question on our feedback portal -https://feedbackportal.microsoft.com

The concerned team will be able to provide you with more details on why this feature was removed.

Thanks
Sri

[2022-02-02 12:06] msbemba commented on #7518
@theartofweb Thank you for the response. The documentation we have are the only steps available for an admin/user to remove from the blocked list. Anything outside of this is handled by the support team as there could be different reasons for the block. You can reach out to the support team via phone as well -https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-support?view=o365-worldwide

[2022-02-02 12:22] mhollaus commented on #6486
Hello,
you can use the powershell command: **New-Guid** _for creating a new_ **GroupId, EntryId or PolicyRuleId**.
For more details about creating a new GUID´s have a look a this documentation page: https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/new-guid?view=powershell-7.2
I hope I could help you with that information.
br, Markus

[2022-02-02 13:20] msbemba commented on #7502
@polks71 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7591

once the author approves, the changes will be live.

Thanks
Sri

[2022-02-02 13:32] theartofweb commented on #7518
Support. Won't. Talk. To. Us. Because. We. Are. Not. Customers.

https://techcommunity.microsoft.com/t5/office-365/trying-to-find-help-for-550-5-7-511-access-denied-banned-sender/m-p/3044467

--
  Duncan Crombie                                    Chirp Internet S.R.L.
  ***@***.***>                  https://www.chirpinternet.eu

On Wed, 2 Feb 2022, Sriraman M S wrote:

[2022-02-02 13:51] yogkumgit commented on #7550
@mjcaparas Please help us in resolving this issue. Thanks

[2022-02-02 13:55] yogkumgit commented on #7520
@denisebmsft Please help us in resolving this issue. Thanks

[2022-02-02 14:21] NTPanaccio opened #7592 "Correct/update the share permissions required for Defender's intelligence updates"
Can Microsoft update the share permissions required for the intelligence updates share? It only mentioned "Everyone" having read access, but "Domain Computers" definitely needs to have access to that share or it will never actually pull the updates into the image.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87fa68a

[2022-02-02 15:22] yogkumgit commented on #7357
@MarcErland Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-02 15:22] #7357 closed

[2022-02-02 16:17] kelleyvice-msft commented on #7503
Discussing with the product group.

[2022-02-02 16:18] DSDrewry opened #7595 "Create safe sender lists - Office 365 Recommendations and Explanations are Incorrect"
The recommendations order and explanations for IP Allow List and Allowed Senders List/Allowed Domains List are reversed.  IP Allow List aka Connection Filter bypasses everything, including malware and phishing scanning.  Allowed Senders List/Allowed Domains List does not bypass malware or phishing scanning.  Please fix this page.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It

[2022-02-02 16:33] msbemba commented on #7554
@Geeksagar Thank you for your feedback. Very sorry to hear about the situation. For Nepal currently, Telephone support is not available and only online support is available

We do not have access to set up phone numbers, however, I recommend you leave feedback on our main portal which is https://feedbackportal.microsoft.com, so someone can look into this request.

Hope this helps!

Thanks
Sri

[2022-02-02 16:38] msbemba commented on #7555
@jdgregson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7596

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-02 16:41] msbemba commented on #7558
@ghexp Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7597

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-02 16:50] msbemba commented on #7565
@arethk Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7598

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-02 16:59] msbemba commented on #7566
@jamesn-jisc Thank you for your feedback. Each Safe Links policy contains a Do not rewrite the following URLs list that you can use to specify URLs that are not rewritten by Safe Links scanning. Having said that,  If Safe Links scanning is unable to complete(Like the entity id, where the link doesn't have anything reachable at the other end), Safe Links protection does not trigger. In-Office deskt

[2022-02-02 17:06] msbemba commented on #7575
@uowdaniel Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7599

Once the author approves, the changes will be live.

thanks
Sri

[2022-02-02 17:07] bubhat commented on #7576
Thanks.

Thanks,
Bhavana Bhatia

________________________________
From: Carol Bailey ***@***.***>
Sent: Tuesday, February 1, 2022 11:30:11 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Bhavana Bhatia ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Clarification required on retention settings (Issue #7576)

@bubhat<https://na01.safelinks.protection.outl

[2022-02-02 17:19] chrisda commented on #7595
@DSDrewry, this topic and the order it describes is several years old. The intent of the order of recommended solutions isn't about functionality or power; it's about our recommended methods for blocking messages based all criteria, like "safety" and reducing the number of false positives and false negatives.

I'm seeking clarification if the order should be changed. Also, I didn't think it was po

[2022-02-02 17:22] mymebenha commented on #7571
Normally quarantining bad messages is what we want but in this particular case a spammy email is going to several users in the organization almost daily so I was looking for a way to stop it from appearing in their quarantine \ junk on a daily basis.  If there were a way to only show the message in quarantine online for admins, that would be sufficient.  They've tried the block button on the quara

[2022-02-02 17:53] Jimbolino commented on #7493
https://support.microsoft.com/en-us/office/uservoice-pages-430e1a78-e016-472a-a10f-dc2a3df3450a

still waiting for the "1st party solutions for customer feedback" :)

[2022-02-02 18:21] SquirrelAssassin commented on #7482
I’m going to go with recall is a feature of outlook you have to support throughout all items you add.  You added labels and didn’t think it through and now I’m giving you a option to fix it.

[2022-02-02 18:22] cabailey commented on #7576
Issue addressed & made minor wording change for clarity. Closing.

[2022-02-02 18:22] #7576 closed

[2022-02-02 18:41] DSDrewry commented on #7595
@chrisda Thank you for your quick reply.  Not to sound preachy, but as a Microsoft Partner we leverage content such as this as the basis for our work as well as the guidance we provide to our customers. I had a customer question me on this article just yesterday, and I had to assure them the content required an update.  There's a very recent review date at the top, so we must take this as the late

[2022-02-02 19:37] leehoward-eng commented on #7381
Hi,
We are have the same issue, is this an New Zealand only problem as I see the first posted is from New Zealand.
Thanks,
Lee

[2022-02-02 19:59] stanalek opened #7601 "Dead link to https://blogs.office.com/2015/04/21/enhancing-transparency-and-control-for-office-365-customers/"
The text
 Enhancing transparency and control for Office 365 customers for the original announcement.)
contains a dead link:

https://blogs.office.com/2015/04/21/enhancing-transparency-and-control-for-office-365-customers/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2f2581-292d-a72b-0683-897eaac0adb0
* Version Inde

[2022-02-02 23:26] mjcaparas commented on #7319
From the Alerts queue, try selecting the Choose columns, scroll down to Device group.

[2022-02-02 23:26] #7319 closed

[2022-02-03 03:03] yogkumgit commented on #7553
@efrene Please help us in resolving this issue. Thanks

[2022-02-03 03:05] yogkumgit commented on #7560
@SKjerland Please help us in resolving this issue. Thanks

[2022-02-03 03:10] yogkumgit commented on #7569
@cmcatee-MSFT Please help us in resolving this issue. Thanks

[2022-02-03 03:15] yogkumgit commented on #7592
@denisebmsft Please help us in resolving this issue. Thanks

[2022-02-03 03:19] yogkumgit commented on #7585
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2022-02-03 03:24] yogkumgit commented on #7297
@msbemba Thank you very much for the contribution and updating the documentation with PR. @chasman157 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 03:25] #7297 closed

[2022-02-03 03:28] yogkumgit commented on #7555
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jdgregson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 03:29] #7555 closed

[2022-02-03 03:50] yogkumgit commented on #7377
@msbemba Thank you very much for the contribution and updating the documentation with PR. @f-casas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 03:50] #7377 closed

[2022-02-03 03:51] yogkumgit commented on #7514
@msbemba Thank you very much for the contribution and updating the documentation with PR. @joshkyh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 03:52] #7514 closed

[2022-02-03 03:53] yogkumgit commented on #7477
@msbemba Thank you very much for the contribution and updating the documentation with PR. @belqesghrama Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 03:53] #7477 closed

[2022-02-03 03:56] yogkumgit commented on #7533
@msbemba Thank you very much for the contribution and updating the documentation with PR. @annemaarie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 03:57] #7533 closed

[2022-02-03 03:58] yogkumgit commented on #7547
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rajmandalia Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 03:58] #7547 closed

[2022-02-03 04:09] yogkumgit commented on #7522
@msbemba Thank you very much for the contribution and sharing this explanation. @Phildo76 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:09] #7522 closed

[2022-02-03 04:11] yogkumgit commented on #7524
@msbemba Thank you very much for the contribution and sharing this explanation. @procradminator Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:11] #7524 closed

[2022-02-03 04:12] yogkumgit commented on #7530
@msbemba Thank you very much for the contribution and sharing this explanation. @Karr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:12] #7530 closed

[2022-02-03 04:14] yogkumgit commented on #7531
@msbemba  Thank you very much for the contribution and sharing this explanation. @Karr Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcom

[2022-02-03 04:14] #7531 closed

[2022-02-03 04:17] yogkumgit commented on #7535
@msbemba Thank you very much for the contribution and sharing this explanation. @GuidanceImp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:17] #7535 closed

[2022-02-03 04:18] #7546 closed

[2022-02-03 04:20] yogkumgit commented on #7554
@msbemba Thank you very much for the contribution and sharing this explanation. @Geeksagar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:20] #7554 closed

[2022-02-03 04:22] yogkumgit commented on #7566
@msbemba Thank you very much for the contribution and sharing this explanation. @jamesn-jisc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:22] #7566 closed

[2022-02-03 04:25] yogkumgit commented on #7467
@msbemba Thank you very much for the contribution and sharing this explanation. @Alfredox911 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:25] #7467 closed

[2022-02-03 04:27] yogkumgit commented on #7506
@msbemba Thank you very much for the contribution and sharing this explanation. @Canis-Lupis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:27] #7506 closed

[2022-02-03 04:31] yogkumgit commented on #7513
@msbemba Thank you very much for the contribution and sharing this explanation. @morobinson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-03 04:31] #7513 closed

[2022-02-03 04:38] ryeborja opened #7604 "Add-on stated is not on the list"
[Enter feedback here]
To add/increase the Sharepoint Storage of a Business Standard subscription, the organization must purchase "Office 365 Extra File Storage" as stated in this page. However, the option/item seems to be missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Ver

[2022-02-03 04:55] tfunatani opened #7605 "Regarding "Application installation" Title"
[Enter feedback here]
Supportable version of Mac OS is 10.15 or higher on MDE, so I believe that "Regarding "Application installation" Title () should be changed as following.

**Before**: Application installation (macOS 10.15 and older versions)
**After**: Application installation (macOS 10.15)

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/mac-install-manually?view=o3

[2022-02-03 06:36] jdgregson commented on #7555
Awesome, thanks for the quick update! Glad to help whenever I can.

[2022-02-03 09:42] procradminator commented on #7524
@msbemba OK, now you've pointed it out and I've trawled down the page and read through I can see it.

However, my point remains valid. The page title in the menu is not the same as the page title you are redirected to. This is not intuitive. The menu item gives the impression you are being redirected to a specific page for connecting to a tenant.

If it was my decision, there would be a page expla

[2022-02-03 09:56] diecknet opened #7606 "Steps to enable DKIM are incorrect"
The listed steps/screnshots to enable DKIM are incorrect. There is no option to first create DKIM keys and then publish CNAMEs.
Instead it's only possible to immediately enable "Sign messages for this domain with DKIM signatures", which then fails because the CNAMEs don't exist yet.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2022-02-03 10:07] diecknet commented on #7606
Apparently only for some domains the option is missing. I guess I got older keys there, eventhough I've never setup DKIM.
So maybe this is a non-issue. I close it.

[2022-02-03 10:07] #7606 closed

[2022-02-03 14:00] hittensa opened #7607 "Legacy URL confirmation"
The article highlights that there is a "requirement" to configure the following URL's on your firewall:

**ID39**
%tenant%-files.sharepoint.com   Port 80,443
%tenant%-myfiles.sharepoint.com  Port 80,443

When testing these URL's on any existing or newly provisioned tenancy they don't seem to exist. Therefore on some firewalls it's not possible to create an object that matches this URL, associated

[2022-02-03 16:30] thommck opened #7609 "P1 vs P2"
It's not clear hear (or any other docs I've looked at) if Defender for Endpoint is needed to be at Plan 1 or Plan 2 to use the non-Windows features

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e914c02a-e905-fc32-439c-feb1fafa09b8
* Version Independent ID: 1a6a15e9-717a-33c1-b90e-96925c680228
* Content: [Microsoft Def

[2022-02-03 18:49] xehoa13 opened #7612 "0"
[Nhập phản hồi vào đây]

---
#### Chi tiết tài liệu

⚠ *Không chỉnh sửa phần này. Điều này là bắt buộc cho docs.microsoft.com ➟ Vấn đề khi liên kết GitHub.*

* ID: 3642a091-493e-3807-7eaa-6a4c533ee49f
* Version Independent ID: 2e514a6e-2ae1-ccea-f566-324cf81dab52
* Content: [Enable block at first sight to detect malware in seconds](https://docs.microsoft.com/vi-vn/microsoft-365/security/defend

[2022-02-03 21:04] Totentanz1980 opened #7615 "Instructions on how to turn off spam filter are missing"
For some inexplicable reason, this page doesn't provide information on how to disable the spam filter for the massive amount of clients who use a different email threat protection platform.  It can't be because this capability does not exist, because that would just be madness to not allow us to turn off the spam filtering so we can do our own spam filtering.  So why the oversight in not providing

[2022-02-03 22:17] icgaff opened #7616 "Ambiguous"
[Enter feedback here]

This page is less clear than iOS enrollment.

There is an Auto Setup of Always-on VPN section here without explanation of what it is needed for. Is it optional? Is it required? What for?

There is also no information about whether the onboarding process requires user interaction.

I've followed this guide but the device isn't enrolled, the app prompts users to sign in and th

[2022-02-03 23:34] cabailey commented on #7487
@SRE93 Have you enabled co-authoring for your tenant?

[2022-02-03 23:39] cabailey commented on #7388
Seems this can be closed now?

[2022-02-03 23:44] itguysocal commented on #7388
yes thanks again for the helpful clarification.

[2022-02-03 23:53] chrisda commented on #7615
@Totentanz1980, the three high-level anti-spam articles are:

- [Anti-spam protection](https://docs.microsoft.com/microsoft-365/security/office-365-security/anti-spam-protection): High-level overview about spam protection technologies. This is the topic you are referring to, and I contend is the least interesting or practical location for 'how to turn off/bypass' information.
- [Configure anti-spa

[2022-02-03 23:53] #7615 closed

[2022-02-04 00:02] #7388 closed

[2022-02-04 00:04] AlexJerabek opened #7620 "Why was microsoft-365/enterprise/office-add-ins-wip.md removed?"
Recently, some Office Add-ins customers needed the information from an old article called "Use WIP and Intune to protect enterprise data in documents running Office Add-ins". We used to link to it from our docs, but the link broke in 2019 and someone quietly removed it. I went digging through this repo's history and found the file was removed as part of [this commit](https://github.com/MicrosoftDo

[2022-02-04 01:44] denisebmsft commented on #7123
Hello @DuncanClay and thank you for the feedback. We have looked into this issue and have updated the article.

[2022-02-04 01:44] #7123 closed

[2022-02-04 05:42] SRE93 commented on #7487
@cabailey yes we have

[2022-02-04 07:51] yogkumgit commented on #7607
@hittensa Please indicate which document you are referring to. Thanks

[2022-02-04 07:53] yogkumgit commented on #7612
@xehoa13 Please share what is your feedback to improve this document. Thanks

[2022-02-04 08:19] yogkumgit commented on #7510
@msbemba Thank you very much for the contribution and updating the documentation with PR. @joshfolcik Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-04 08:20] #7510 closed

[2022-02-04 08:23] yogkumgit commented on #7169
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Frankrebel Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-04 08:23] #7169 closed

[2022-02-04 08:55] hittensa commented on #7607
https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide

[2022-02-04 10:39] Yan-Son opened #7621 "Organization Management is not a role"
1) "Organization Management" is not a role, it is a permission or role GROUP.
2) Global Administrator can do all Attack Simulation related things so it is better to ad this role to list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c87455-77af-093a-6fb6-286049aad15a
* Version Independent ID: b2690e98-781d-4a27-a9bc

[2022-02-04 11:08] danone1985 opened #7622 "Info on Timer job purging PHL or moving data to Second-stage recycle bin ?"
Hello,

In chapter ''How retention works for SharePoint and OneDrive'', it says :

_A timer job periodically runs on the Preservation Hold library. For content that has been in the Preservation Hold library for more than 30 days, this job compares the content to all queries used by the retention settings for that content. Content that is older than their configured retention period is then deleted

[2022-02-04 14:27] cabailey commented on #7622
@danone1985 The difference is the word "permanent", and is clearer when you look at the diagram.  It's deleted from the Preservation Hold library (you will no longer see it there) and moved to the second-stage Recycle Bin where it will be permanently deleted (no longer recoverable).

[2022-02-04 16:05] JoeDavies-MSFT commented on #7585
Resolved/

[2022-02-04 16:45] dusmar62 opened #7624 "dusanbos@outlook.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: baae4150-3aa3-a44f-1dc4-5e02c5849de4
* Version Independent ID: 175060b1-fc3a-8842-f34c-b0945dd03489
* Content: [Change your contact preferences for communications from Microsoft - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/adm

[2022-02-04 16:52] #7624 closed

[2022-02-04 17:42] Nicokirr opened #7625 "Doc to update : Power Apps is now available in 21vianet"
As you can see here : https://docs.microsoft.com/en-us/power-platform/admin/business-applications-availability-china
The service is now available in 21vianet, even if some limitations apply
So the table on this page should be updated on PowerApps line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6ec9d22a-5645-f235-22

[2022-02-04 17:55] chrisda commented on #7621
@Yan-Son, yes. I replaced Organization Management with Global Administrator. Only Global Administrator makes sense in the context of Azure AD roles.

Thanks for the feedback.

Closing

[2022-02-04 17:55] #7621 closed

[2022-02-04 19:22] tiburd commented on #7518
This is not a Docs issue. However, the Docs team is following up with the product group. IP de-listings are a long-standing issue that they are working on.

I'll update when I have more info.

[2022-02-05 00:43] cabailey commented on #7487
@SRE93  Confirmed from engineering, if you've enabled co-authoring, you get these fixes "for free" :-)   Still a problem if you haven't.  I've updated the section accordingly.  Thanks for flagging!

[2022-02-05 00:43] #7487 closed

[2022-02-05 00:54] cabailey commented on #7525
@ashleyspurlin  It seems PowerShell will let you create an event without a date .... but it doesn't work, even though we were previously told an event with no date was an official workaround (and the UI used to support this).  Engineering has accepted this as a future work item & in the meantime, I've updated the documentation to reflect our findings.

Thanks for flagging this!

[2022-02-05 00:54] #7525 closed

[2022-02-05 01:25] TinaMcN commented on #7296
@SabRom an alternative way to provide translation feedback about the product is in the Microsoft Tech Community: https://techcommunity.microsoft.com/t5/localization-feedback/bd-p/LocFeecback

[2022-02-05 07:41] theartofweb commented on #7518
Thank you.  We are exploring all channels to have this resolved by
Microsoft.  Unfortunately, only the Docs team has responded in any way.

We understand that Linode has been working on this with the Microsoft
'back end' team since the incident occurred on 22 December and has had
some success in de-listing some ip ranges.

But at least two of our servers are still blocked from sending to many
Outl

[2022-02-05 08:44] EdwardCaulfield opened #7628 "English Number"
[On your page you indicate that English language technical support is available 24/7, but the numbers provided are not for English language support.  Please provide the local numbers for English language support.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c333804-3f9b-c44d-74d7-22400a3c7558
* Version Independent

[2022-02-05 16:02] jgscherber opened #7629 "More recent videos"
The videos linked have more recent versions posted on YouTube (1 year ago vs. 3 months)

I think it'd be better if the more recent videos were used as they probably have updated information

More recent video: https://youtu.be/G2D9PFUulRo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f43b53d9-6415-946c-2f34-3d63becdba

[2022-02-06 12:49] msbemba commented on #7567
@tommylux Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7489. However, the author is reviewing it. the document will be updated once the change is approved.

You can follow the below steps to enable DKIM

Step 1: Click on the domain you wish to configure DKIM on DKIM page

DKIM page in the Microsoft 365 Defender po

[2022-02-06 12:54] msbemba commented on #7568
@tommylux Thank you for your feedback. I was able to test and see the same output. So what you are seeing is the correct output. The selector1CNAMe is the value that you need to add CNAME record i.e. use it instead of the points to address or value the example provided in the document.

Hope this helps!

Thanks
Sri

[2022-02-06 16:24] cyberstuff66 opened #7630 "Broken link"
This link on the page no longer works https://docs.microsoft.com/en-us/windows/security/threat-protection//windows-defender-security-center/wdsc-customize-contact-information.md

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3642a091-493e-3807-7eaa-6a4c533ee49f
* Version Independent ID: 2e514a6e-2ae1-ccea-f566-324cf81d

[2022-02-06 16:24] ailaG opened #7631 "404 and other login issues"
1. The link for feedback on the product at the bottom gets to a 404
2. Most other links point to Microsoft365, which asks you to log in, and promptly - even if you signed up on that very page - rejects your login with an unfriendly error message regarding Azure.

3. It would be nice if we had a link that didn't require all that, just to submit a URL we control for reconsideration. Microsoft falsel

[2022-02-06 16:43] corinaf1 opened #7632 "Content of page confusing"
I find it awkward that the title of the page is "alert grading playbooks" and then inside we go on to describe MDO & MDA?? Looks like the wrong place to be presenting products, and also why these two and not others in M365D?
Also, it is unclear that "playbooks" refers to content here in the documentation as opposed to in-product content (and pretty soon we will have these available in-product whic

[2022-02-07 04:23] morrow233 opened #7633 "Adding release date and expiration date"
[Enter feedback here]
My customer is requesting us to add "release date" and "expiration date" for each released versions for planning version up purpose.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38276f58-2d15-9f05-cd4a-87646ec11b27
* Version Independent ID: 12f1b3df-123f-7005-9f68-38ab20df09cd
* Content: [What's

[2022-02-07 05:50] yogkumgit commented on #7579
@msbemba

[2022-02-07 05:56] #7612 closed

[2022-02-07 07:03] joernheissler opened #7635 "dead link, broken email server"
Dear Microsoft,

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-the-delist-portal-to-remove-yourself-from-the-office-365-blocked-senders-lis?view=o365-worldwide contains a dead link to https://office365.uservoice.com/forums/289138-office-365-security-compliance (Submit and view feedback for ... this product).

So, here's my feedback:
I tried to send an email to one

[2022-02-07 08:46] VinodSP1980 opened #7636 "Please provide RSS Link to get updates"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fe9020-6803-bee8-7fcc-fae3971e6feb
* Version Independent ID: 480b994c-7d3f-d234-8847-e415360c6bf7
* Content: [What's new in the Microsoft 365 admin center? - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/whats-new-in-prev

[2022-02-07 10:37] soutchilin commented on #4453
Any progress on that?

[2022-02-07 11:12] msbemba commented on #7601
@stanalek Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7637

The correct link is https://www.microsoft.com/en-us/microsoft-365/blog/2015/04/21/enhancing-transparency-and-control-for-office-365-customers/
Thanks
Sri

[2022-02-07 11:19] msbemba commented on #7604
@ryeborja Thank you for your feedback. I'm able to locate the extra file storage add-on under products-->add-ons.
![image](https://user-images.githubusercontent.com/45987684/152778483-4bc3b8d5-ccf7-4d1f-b13a-2780e8fe2955.png)

Please note that this option is only available for customers who directly purchase licenses from Microsoft. If you are purchasing licenses from a CSP partner, you need to co

[2022-02-07 11:22] msbemba commented on #7605
@tfunatani Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7638

Thanks
Sri

[2022-02-07 11:30] msbemba commented on #7609
@thommck Thank you for your feedback.
Support for Windows (client and server) and non-Windows platforms (macOS, iOS, Android, and Linux) is available only on Defender for Endpoint Plan 2

You can find the comparison here -https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/defender-endpoint-plan-1-2?view=o365-worldwide#compare-defender-for-endpoint-plans and also in the docum

[2022-02-07 11:38] msbemba commented on #7625
@Nicokirr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7639

Thanks
Sri

[2022-02-07 11:41] thommck commented on #7609
That link you shared says Plan 1 does support mobile.
The root reason I need this info is that we have frontline workers with
M365 F3 subscriptions. They will either use a shared android device (for
warehouse operations) or a shared windows desktop PC. I want to protect
those devices with Defender for endpoint  but it's not clear what features
in would require for those frontline worker use cases

[2022-02-07 11:41] msbemba commented on #7628
@EdwardCaulfield Thank you for your feedback. I'll test this and update you shortly.

Thanks
Sri

[2022-02-07 11:45] msbemba commented on #7629
@jgscherber Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7640

Once the author approves, the document will be live.

Thanks
Sri

[2022-02-07 12:02] msbemba commented on #7630
@cyberstuff66 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7641

The correct link is https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-defender-security-center/wdsc-customize-contact-information

Thanks
Sri

[2022-02-07 12:10] msbemba commented on #7609
@thommck Thank you for your response. Since the comparison table mentions IOS and android, It sure does support it. I will make changes to https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/non-windows?view=o365-worldwide and include what Plan 1/2 supports .

[2022-02-07 15:21] yogkumgit commented on #7585
@andreyshihov Thank you very much for the feedback. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-07 15:30] #7585 closed

[2022-02-07 15:37] yogkumgit commented on #7568
@msbemba Thank you very much for the contribution and sharing this explanation. @tommylux Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-07 19:41] dkotars opened #7644 "Clarification of Admin Assignments"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ace7ce-d26f-68d0-2206-525acc513322
* Version Independent ID: 19e8d325-8074-2878-b864-cf0802e23cb0
* Content: [Determine if Centralized Deployment of add-ins works for your organization - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsof

[2022-02-07 19:45] dkotars commented on #7644
Under "Admin requirements" it is stated:

"In order to deploy an add-in via Centralized Deployment, you need to be either a Global admin or an Exchange admin in the organization.

 Note

An Exchange admin can deploy an add-in only if the App Registrations property is set to true in Azure Active Directory admin center as shown in the following image:"

I believe if you add the "Application Administ

[2022-02-08 01:53] jrhi opened #7646 "doc refers to bad URL"
[Enter feedback here]
The doc refers to the following URL which is not valid:  https://api-luna.securitycenter.windows.com/api/remediationtasks/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aef23eda-5f78-cdcf-ec94-ea5db4734a84
* Version Independent ID: 8b5f28a6-e988-e992-a49e-1d99b3d3687e
* Content: [List all remedia

[2022-02-08 08:42] MikeAtETI opened #7648 "needs updating for the anti-spam policy pages moving to quarantine policy pages"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c27660-0f0b-3002-7183-854e4fb8716b
* Version Independent ID: 3f436862-e6b3-2a9d-70b5-f7eee02eec2e
* Content: [Configure outbound spam filtering - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/configure-the-o

[2022-02-08 09:24] tommylux commented on #7567
Thanks Sri, I think I see this message if the keys were already enabled previously, but a new error indicates the CNAMEs to add anyway, so I think it's all ok.

[2022-02-08 10:54] msbemba commented on #7567
@tommylux That is correct. It should be OK and will let you enable DKIM.

Thanks
Sri

[2022-02-08 12:49] yogkumgit commented on #7616
@Dansimp Please help us in resolving this issue. Thanks

[2022-02-08 12:50] yogkumgit commented on #7607
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-02-08 12:53] yogkumgit commented on #7620
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2022-02-08 12:56] yogkumgit commented on #7632
@JoeDavies-MSFT Please help us in resolving this issue. Thanks

[2022-02-08 12:58] yogkumgit commented on #7633
@Dansimp Please help us in resolving this issue. Thanks

[2022-02-08 13:03] yogkumgit commented on #7628
@cmcatee-MSFT Question sent in the email. Thanks

[2022-02-08 13:07] #7604 closed

[2022-02-08 13:12] yogkumgit commented on #7625
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Nicokirr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-08 13:12] #7625 closed

[2022-02-08 13:15] yogkumgit commented on #7630
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cyberstuff66 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-08 13:20] #7631 closed

[2022-02-08 13:24] yogkumgit commented on #7579
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mbigus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-08 13:24] #7579 closed

[2022-02-08 13:59] lelduayen opened #7649 "Link for supported cihper suites is broken"
The link for supported cihper suites is broken: [What are the current cipher suites supported by Azure Front Door?](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-faq#what-are-the-current-cipher-suites-supported-by-azure-front-door-).
I thinks that this is the new location: https://docs.microsoft.com/en-us/azure/frontdoor/concept-end-to-end-tls#supported-cipher-suites

---
#### Docume

[2022-02-08 14:10] bencorley opened #7650 "In the navigation pane, choose Device configuration. ???"
Hi,

Can you elaborate about this :
**In the navigation pane, choose Device configuration.**
WHERE IS THIS on the portal there's no SUCH THING AT ALL !

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a6e4ee4-97f2-9d40-5a92-4580fa0d25ac
* Version Independent ID: 7a6e4ee4-97f2-9d40-5a92-4580fa0d25ac
* Content: [Device gr

[2022-02-08 14:29] danboid opened #7651 "Microsoft Defender for Endpoint on Linux - no ZFS support?"
I am looking into our options for AV software for our Ubuntu 20.04 based LTSP server.

The /home directories on this server are stored on ZFS but ZFS isn't listed as a supported filesystem for real-time protection using Defender. Is ZFS not supported?

If ZFS is not currently supported by Defender, do you plan to add support for it? Can Defender still be used without realtime protection on all mou

[2022-02-08 14:35] yogkumgit commented on #3915
@jonwbstr comment added by author in 3914 is must be helpful. Hence we proceed here to close this issue. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-08 14:35] #3915 closed

[2022-02-08 14:39] yogkumgit commented on #5469
Thanks

[2022-02-08 14:39] #5469 closed

[2022-02-08 14:43] #5726 closed

[2022-02-08 15:10] #6486 closed

[2022-02-08 15:12] yogkumgit commented on #6600
@msbemba

[2022-02-08 16:03] hittensa commented on #7607
Hi, I'm sorry I'm not sure what you need from me, could you be more specific.

Are you indicating that you've flagged the articles documentation to be updated and that there's nothing further that can be done in this thread?

[2022-02-08 20:19] tiburd commented on #7518
Thanks again for your feedback about this. Because this isn't specifically a documentation issue, we've followed up with the product and support teams to help improve this situation. As a result, we've added additional information about the 5.7.511 error code and added specific links and email aliases to follow up in the event of an de-listing. This should result in a more expedient response from

[2022-02-08 20:19] #7518 closed

[2022-02-08 20:27] dkotars opened #7652 "Create a DLP policy to remove guest access to highly sensitive files - Clarification"
Wondering if you need to clarify the statement under this section that states:

"It's important to note that this policy doesn't remove access if the guest is a member of the site or team as a whole. If you plan to have highly sensitive documents in a site or team with guest members, consider using [private channels in Teams](https://support.microsoft.com/office/de3e20b0-7494-439c-b7e5-75899ebe6a0

[2022-02-09 10:53] yogkumgit commented on #7607
@hittensa your question is forwarded to Author of this document. No action on you. Thanks

[2022-02-09 10:53] #7607 closed

[2022-02-09 10:53] yogkumgit commented on #6664
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PsychoData Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-09 10:54] #6664 closed

[2022-02-09 10:55] yogkumgit commented on #6885
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dimachernov Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-09 10:56] #6885 closed

[2022-02-09 11:01] yogkumgit commented on #5037
@msbemba Thank you very much for the contribution and updating the documentation with PR. @shAFXr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-09 11:02] #5037 closed

[2022-02-09 11:04] yogkumgit commented on #6443
@msbemba Thank you very much for the contribution and updating the documentation with PR. @HedgieTheHedgehog Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-09 11:04] #6443 closed

[2022-02-09 13:36] msbemba commented on #7636
@VinodSP1980 Thank you for your feedback. I'll work with the author and update the document with an RSS feed.

Thanks
Sri

[2022-02-09 13:58] msbemba commented on #7649
@lelduayen Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7656

Thanks
Sri

[2022-02-09 14:18] msbemba commented on #7651
@danboid Thank you for your feedback. You are correct,  ZFS is currently not supported. However, you can use Defender without real-time protection on these systems. Regarding details for Support on ZFS, you can leave product feedback at https://feedbackportal.microsoft.com/ and one of our Product team members will be able to provide accurate information.

The solution currently provides real-time

[2022-02-09 14:22] msbemba commented on #7635
@joernheissler Thank you for your feedback. The product feedback link in the document is broken and this has been escalated to the concerned team. We will fix this shortly.

Meanwhile, you can product feedback directly on our Main feedback portal: https://feedbackportal.microsoft.com/

Hope this helps!

Thanks
Sri

[2022-02-09 16:09] mvanvli1 opened #7657 "Subscribe ability"
[Enter feedback here]
Would very much like to see a subscribe ability similar to that of what is used within the Azure Admin area for news and updates. This would be so we can be kept up to date on changes released for these specific platforms rather than having to come back to the site occasionally to check. An automated email with these changes would be very helpful.

---
#### Document Details

[2022-02-09 19:56] rconiv opened #7658 "Not able to run PS script"
I am running it in Powershell 7.

I created the GroupCreators.ps1 in PS ISE, and then tried to run it as admin in PS7, and all the commands fail saying unrecognized.

PS C:\powershell> Install-Module AzureADPreview
PS C:\powershell> .\groupcreators.ps1
Connect-AzureAD: C:\powershell\GroupCreators.ps1:4
Line |
   4 |  Connect-AzureAD
     |  ~~~~~~~~~~~~~~~
     | The term 'Connect-AzureAD' is not

[2022-02-09 22:22] lelduayen commented on #7649
Hi Sri, good to hear!
Thank you 🙏

On Wed, Feb 9, 2022 at 10:58 AM Sriraman M S ***@***.***>
wrote:

--
Luciano Elduayen | Software Engineer
Address: Mercedes 1232, Ap. 401
Montevideo, Uruguay
Mobile: +598 99 446921

[2022-02-10 06:25] Nguyen281 opened #7660 "Attack simulation training in Microsoft Defender for Business (preview)?"
Does Microsoft Defender for Business (preview) (Microsoft 365 Business Premium) include Attack simulation training in Threat investigation and response like Microsoft Defender for Office 365 Plan 2?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 587ea70a-04b9-bdc8-f774-419607a07c47
* Version Independent ID: 587ea70a-04

[2022-02-10 07:35] lightupdifire opened #7661 "Microsoft 365 Defender prerequisites | Licensing requirements"
Hello,

Somehow not clear, now when Defender Plan 1 is a part of Microsoft 365 E3,
Is it really needed to have any add-on like Security E5 to get Microsoft 365 Defender?

Same for the "Threat and Vulnerability management", which exactly license cover it since Defender Plan 1 is a part of Microsoft 365 E3? As we do see the Vulnerability management section in the security.microsoft.com...

---
####

[2022-02-10 08:06] lightupdifire commented on #7520
Hello,
Same question from my side on this topic: https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7414
We do have multiple licenses Plan 1 and Plan 2 and Defender Azure and now it is full mess, what is supported? how to stay license compliant? completely unclear :)

[2022-02-10 09:10] yogkumgit commented on #7650
@msbemba Thank you very much for the contribution and sharing this explanation. @bencorley Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-10 09:10] #7650 closed

[2022-02-10 09:12] yogkumgit commented on #7651
@msbemba Thank you very much for the contribution and sharing this explanation. @danboid Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-10 09:12] #7651 closed

[2022-02-10 09:13] yogkumgit commented on #7635
@msbemba Thank you very much for the contribution and sharing this explanation. @joernheissler Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-10 09:13] #7635 closed

[2022-02-10 09:17] edrandall opened #7662 "Does this apply to "Personal" or "Family" Office365?"
[Enter feedback here]
Combining information from this page and other sources, it remains ambiguous and unclear whether it's possible to use a domain name with the Personal or Family offerings.
Please add a clear statement as to which edition(s) this applies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a11050-b442-

[2022-02-10 09:41] SabRom commented on #7296
@TinaMcN Thank you, I'll try my luck here as the support ticket is going nowhere.

[2022-02-10 10:32] danboid commented on #7651
I opened a few tickets on the MS feedback site last night including one for adding ZFS support to Defender.

[2022-02-10 13:49] ssmiller60 opened #7664 "Step 6 incorrect and should be removed"
For step 6 in the article:
"Step 6 - Remove and delete the Microsoft 365 license from a former employee"

This is incorrect to remove licensing from a user before deletion, this will cause both Litigation hold and Compliance Retention policies to fail.  They require licensing to be **intact** upon deletion so an inactive mailbox can be created:
https://docs.microsoft.com/en-us/microsoft-365/compli

[2022-02-10 15:26] jweston-1 commented on #7646
I should be able to get to this today.

From: Yogesh Kumar ***@***.***>
Sent: Thursday, February 10, 2022 1:01 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Brit Weston (Aquent LLC) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] doc refers to bad URL (Issue #7646)

@jweston-1<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com

[2022-02-10 17:18] cabailey commented on #7622
Issue addressed, closing.

[2022-02-10 17:18] #7622 closed

[2022-02-10 18:28] jmmowrer opened #7666 "Add Non-Persistent to this article"
Typically this guidance is applicable for non-persistent VDI but the article title does not reflect what type of VDI.  Can we add Non-Persistent in front of all mentions of VDI in this article?
--
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87fa68a-a881-7ab7-97df-5da73dc56692
* Version Independent ID: 0c031441-cc26-903a