[2020-09-09 11:41] mrapoc opened #2786 "Cannot email feedback email"
Hi - when I email about my issue using my Office 365 address I get the following bounceback:

Your message to edindCSEengAdm@microsoft.com couldn't be delivered.
--
The group edindCSEengAdm   only accepts messages from people in its organization or on its allowed   senders list, and your email address isn't on the list.

---
#### Document details

⚠ *Do not edit this section. It is required for do

[2020-09-09 13:28] yogkumgit commented on #2744
@msbemba Thank you very much for the contribution and updating the documentation with PR. @groves226 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-09 13:28] #2744 closed

[2020-09-09 13:43] yogkumgit commented on #2644
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Ronsss Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-09 13:43] #2644 closed

[2020-09-09 13:48] martin-rublik opened #2787 "teste"
src\customer-key-store\scripts\key_store_tester.ps1 is missing in github repo https://github.com/Azure-Samples/DoubleKeyEncryptionService/ could you please update the repo or the documentation?

Martin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 484b1a6d-dfd0-1da6-5405-7826ed4c088f
* Version Independent ID: 6e0ba9d2

[2020-09-09 13:58] cabailey commented on #2694
We took this offline so closing this GitHub Issue. But in summary, we determined the best workaround for your scenario was to exclude files you didn't want to retain in the Site Assets library and other default document libraries by using a KQL query such as NOT(DocumentLink:"<URL to Site Assets library>")  You're going to follow up with your TAM to file a DCR for a neater solution and I'll look t

[2020-09-09 13:58] #2694 closed

[2020-09-09 14:51] Ronsss commented on #2644
Right, thanks.

[2020-09-09 17:25] robert-bunch opened #2788 "Block clients that don't support modern auth question"
[Enter feedback here]

This section is a little confusing to me. "Block clients that don't support modern authentication" yet the directions say to choose _**Mobile apps and desktop clients**_ which is listed under "Modern Authentication Clients" in the CA policy. Is this accurate? To me it seems as if we check "Mobile apps and desktop clients" under modern authentication and then we set Block acc

[2020-09-09 18:09] JoeDavies-MSFT commented on #2788
@robert-bunch You are correct. This instruction has been corrected and will be published today. Thanks so much for letting us know.

[2020-09-09 18:09] #2788 closed

[2020-09-10 01:00] Staja opened #2791 "Default behavior for DKIM and Microsoft 365 - "period of time""
Under "Default behavior for DKIM and Microsoft 365" it states:

How long is that period of time?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 249c059f-c3ce-a382-b99e-795a0c1f646a
* Version Independent ID: 5656c114-ae16-6194-cd9f-353b33f4a1e1
* Content: [How to use DKIM for email in your custom domain - Office 365](ht

[2020-09-10 08:31] pedossan opened #2792 "Update needed for SharePoint URLs"
For SharePoint this page shows:
tenant.sharepoint.com, tenant-my.sharepoint.com

But JSON lists:

"urls": [
      "*.sharepoint.com"
    ],

Page update needed.

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* C

[2020-09-10 08:37] #2792 closed

[2020-09-10 08:38] pedossan commented on #2792
creating a PR instead

[2020-09-10 12:06] yogkumgit commented on #2722
@msbemba Thank you very much for the contribution and digging deep into it.  @LaiClaudio We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2020-09-10 12:06] #2722 closed

[2020-09-10 12:09] yogkumgit commented on #2728
@msbemba Thank you very much for the contribution and sharing this explanation. @sebhe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-10 12:09] #2728 closed

[2020-09-10 12:11] msbemba commented on #2758
@ianjmiller64 Thank you for your feedback.  The deprecation is set to start on October 15 2020. We donot have a date when this will be disabled completely. The consequences are mentioned in the document - https://docs.microsoft.com/en-us/microsoft-365/compliance/tls-1-2-in-office-365-gcc?view=o365-worldwide

If you do not update to TLS version 1.2 (or a later version) by January 15, 2020, you will

[2020-09-10 12:15] msbemba commented on #2755
@ckssaas Thank you for your feedback. The licensing requirements are added to the previous page - (Get started with Core eDiscovery) -  as this page is exclusively created to highlight steps to create an eDiscovery hold.
https://docs.microsoft.com/en-us/microsoft-365/compliance/get-started-core-ediscovery?view=o365-worldwide

Hope this helps!

@yogkumgit There are no changes required in the docume

[2020-09-10 12:21] msbemba commented on #2752
@scsiwuzzy Thank you for your feedback. Microsoft Monitoring and Self-healing approach helps take humans out of the recovery equation.  Managed availability specifically provides a native health checking and recovery solution that monitors and protects the end user's experience through recovery-oriented action. So as a Customer, you are not required to take any action.

Hope this helps!

@yogkumgi

[2020-09-10 12:25] msbemba commented on #2742
@sdickson02 Thank you for your feedback. Per testing CM1 works (Unpack and register) and is available after the installation. I'd recommend you contact support via the need help option in the M365 admin center to fix the issue. If you think there are any modifications needed in the document(post troubleshooting) Please let us know.

@yogkumgit Per my testing this works so no changes are required i

[2020-09-10 12:28] ianjmiller64 commented on #2758
thanks Sri, although I was asking about standard O365 - not GCC High or DoD.
I understand from 15th October it will begin for commercial customers of standard O365 and that by 'Deprecate' you actually mean 'Disable'.
Taking the consequences as being the same for standard version & that you are actually disabling TLS1.0/1.1 we will have to be connecting using TLS1.2 or higher by 15th October 2020 t

[2020-09-10 12:34] msbemba commented on #2759
@Divya-RP Thank you for your feedback. We have added this to the related topics section of the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2795

Thank you
Sri

[2020-09-10 13:36] andytuke-jisc opened #2796 "The page appears to have been half updated to use Content Types but the changes not completed"
In the information architecture section the columns used for the label auto assignment are of the type Managed Metadata.  The page suddenly pivots to talking about Content Types, which to be fair would be a better way to design the example solution in my opinion, before reverting back to using Managed Metadata columns in the described implementation.  Content types aren't actually used at all

---

[2020-09-10 14:31] drmarkrwarnes opened #2797 "Missing screenshot"
[Enter feedback here]

Under Step 3, list item 7, it states:

_For example, the following screenshot shows the parameter names from the sample CSV file for the employee resignation HR scenario shown in Step 1._

However, the screenshot is not present in the document.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b68

[2020-09-10 15:21] whoiskevinrich opened #2798 "Links to MS365 Controls please."
Page offers no direction on where to set options. A clear link at the top of the page would be helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd1ebad6-d8d1-8973-7595-71cb8a50b833
* Version Independent ID: d1d565cb-2f31-c847-860e-513dcaefa123
* Content: [Email authentication in Microsoft 365 - Office 365](https:

[2020-09-10 15:49] sdickson02 commented on #2742
@msbemba Thank you for your help! I'm afraid that I'm not an administrator for our organization, so I don't have access to our M365 admin center. I just have to use SCCM to deploy applications to lab computers, so I was installing this lab kit in order to test them. Is there another way to contact someone for help besides through the admin center? (Or maybe I'm misunderstanding what is required to

[2020-09-10 16:55] chrfox commented on #2667
HI @Sizzl

Thanks for your comment. MDATP licensing is not required for Endpoint DLP.

[2020-09-10 16:55] #2667 closed

[2020-09-10 18:17] msbemba commented on #2742
Thank you for your feedback. Only administrators can create a ticket and receive support. @yogkumgit  Do you have details on how to contact support via Phone/email?

[2020-09-10 19:05] WorkShay commented on #2758
What Sri has said is applicable to standard O365 with the exception of start date being Oct 15, not Jan 1.

I think there is some confusion of terms here. So I’ll use the term studio definitions as that’s what we rely on publicly.
End support – “The date when Microsoft no longer provides automatic fixes, updates, or online technical assistance.”
Deprecate – “The stage of the product lifecycle when

[2020-09-10 21:23] msbemba commented on #2737
@carloreggiani Thank you for your feedback. I tested this and The Microsoft account option is no longer available, Instead, you need to use OAuth2. I have updated the document accordingly via PR #https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2802

Thanks
Sri

[2020-09-10 23:01] JoeDavies-MSFT commented on #2725
@khilker15 I have forwarded this issue to the product team that maintains the endpoints for this section of the article for their consideration of a future update. Thanks so much for letting us know.

[2020-09-10 23:01] #2725 closed

[2020-09-10 23:07] JoeDavies-MSFT commented on #2662
@abdielnino Sorry for my delayed reply. The differences in IDs 5, 6, and 8 for the *.outlook.office.com endpoint are the destination TCP ports. Ports 143, 993, and 995 are optional and ER. Ports 443 and 80 are default and not ER. Hope this helps. Thanks for your question.

[2020-09-10 23:07] #2662 closed

[2020-09-11 06:29] ianjmiller64 commented on #2758
Thank you very much Shayna - that makes things much clearer for me.
Regards, Ian

[2020-09-11 06:29] #2758 closed

[2020-09-11 09:19] Staja opened #2808 "Missing License Type in Prerequisites"
Prerequisites section should also include A5 license as per
https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licensing-guidance#information-protection
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-09-11 10:34] paweber8 opened #2809 "Reference to proxycalc missing and its trigger after domain change"
Would it be possible to add in the troubleshooting guide for the domain verifications a reference to the fact that a change on a domain triggers the proxycalc process for the complete directory and users will see massive numbers of updates. Currently this is only described under [Reports and Monitoring](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/troubleshoot-audit-d

[2020-09-11 11:56] wbach82 opened #2810 "What service plan is really needed for Endpoint DLP?"
So i have a Tenant (O365 Developer) with 25 Microsoft E5 Developer which includes Service Plans for Information protection 1+ 2:

![image](https://user-images.githubusercontent.com/41477614/92922595-62219200-f436-11ea-9abf-e850062c7590.png)
 but Endpoint DLP rules are not possible/visible.

![image](https://user-images.githubusercontent.com/41477614/92922645-72397180-f436-11ea-9701-73866e74fe3c.pn

[2020-09-11 13:03] yogkumgit commented on #2755
@msbemba Thank you very much for the contribution and sharing this explanation. @ckssaas Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-11 13:03] #2755 closed

[2020-09-11 13:07] yogkumgit commented on #2752
@msbemba Thank you very much for the contribution and sharing this explanation. @scsiwuzzy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-11 13:07] #2752 closed

[2020-09-11 13:12] yogkumgit commented on #2742
@msbemba  Thank you very much for the contribution and sharing this explanation. @sdickson02 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update i

[2020-09-11 13:12] #2742 closed

[2020-09-11 13:23] yogkumgit commented on #2759
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Divya-RP Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-11 13:23] #2759 closed

[2020-09-11 13:55] tabularjon opened #2811 "Adding user"
Hello,

I am new to 365 and am administering users.

I added a new user xxx@mathsnoproblem.onmicrosoft.com.

I allowed the system to generate a password.

How do I send an invite?

I would expect to have found somewhere to enter the user’s email address for the invite, but this was not there. So how is this achieved?

The documentation on this page does not address this very basic how to. Other sy

[2020-09-11 14:12] Kickball opened #2812 "Use PowerShell to view outbound spam filter rules - Markdown missing quotation mark"
The first code block under the Use PowerShell to view outbound spam filter rules heading is missing a closing quotation mark for the -identity parameter example.

`Get-HostedOutboundSpamFilterRule [-Identity "<RuleIdentity>] [-State <Enabled | Disabled]`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c27660-0f0b-3002

[2020-09-11 15:31] Canis-Lupis opened #2814 "More info required for parameters, please."
[Enter feedback here]
We have a former employee returning to our organization, JSmith.  He has been gone over 30 days but we put a retention on his mailbox and it does show up as an inactive mailbox.  So, we re-enabled his AD account (we have a hybrid environment) and his account has synced to O365.  O365 will not create a new mailbox for him because his ExchangeGUID is already in use on his old i

[2020-09-11 16:54] #2812 closed

[2020-09-11 16:57] chrisda commented on #2812
@Kickball, thanks for the feedback. In the future, you can fix issues like this directly without opening a GitHub Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks again.

[2020-09-11 18:52] abdielnino commented on #2662
@JoeDavies-MSFT , the difference is with the **ID 1:** *.outlook.office.com under 80 and 443 ports with **ER=Yes** and the ID 8: *.outlook.office.com under 80 and 443 ports with ER=No.
I'm Customer engineer (former PFE) in Microsoft, and one customer ask me these because they are implementing an Proxy PAC, obviously under our web services everything it is OK, but if we look these list is not prett

[2020-09-11 19:00] abdielnino commented on #2662
@JoeDavies-MSFT , the difference is with the ID 1: outlook.office.com under 80 and 443 ports with ER=Yes and the ID 8: *.outlook.office.com under 80 and 443 ports with ER=No.
I'm Customer engineer (former PFE) in Microsoft, and one customer ask me these because they are implementing an Proxy PAC, obviously under our web services everything it is OK, but if we look these list is not pretty clear if

[2020-09-12 03:46] omidhdp opened #2820 "Not complete info"
This page doesn't have any info on how to add storage using CSP, I was with Microsoft Tech call for 2 hours after I added the product through our CSP D&H, so we found out by ourself that it is per GB for each license and for 500GB we need to add 500 license from CSP,

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-09-12 18:52] DeanGross opened #2821 "Archiving a team"
[Enter feedback here]

Please provide some information about what happens to whiteboards, other apps and tabs when a team is archived.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6824f30e-ded2-dbcc-8fa0-ce4f4af64509
* Version Independent ID: cc94e220-315d-756b-ffe6-a5eb548aa931
* Content: [End of lifecycle options fo

[2020-09-12 19:38] DeanGross commented on #2756
I have not used this but I do have  several projects in my pipeline that are expected to need to be NIST compliant. I was doing some research and found this document. As an Elite Partner, We have been meeting with the MS Compliance Center/Compliance Manager Team to discuss collaboration.  We may be able to help get this updated if necessary

[2020-09-13 01:45] msbemba commented on #2783
@sysadmin-scs Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2822

MDATP is indeed a prerequisite to Provide detection, monitoring, alerting, and response to threats.

Hope this helps!

Thanks
Sri

[2020-09-13 01:53] msbemba commented on #2782
@Arkthos Thank you for your feedback. We have added the licensing requirements to this page as per your request and can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2823

There is a link that has been added to the document for Azure Active Directory Entitlement Management -https://docs.microsoft.com/en-us/azure/active-directory/governance/entitlement-management-overv

[2020-09-13 02:03] msbemba commented on #2775
@abulooz Thank you for your feedback.Are you on the new Exchange admin center or M365 Admin center? If we access https://admin.microsoft.com/AdminPortal/Home#/homepage --> Users-->Active Users-->User Templates are available

![image](https://user-images.githubusercontent.com/45987684/93008524-5a2b3480-f593-11ea-805c-a685df074521.png)

Hope this helps!

Thanks
Sri

[2020-09-13 02:06] msbemba commented on #2767
@stuart2155 Thank you for your feedback. We will test this and update the document accordingly.

Thanks
Sri

[2020-09-13 04:38] twigbranch opened #2825 "No ClickOnce option on Mac"
Unlike what the documentation shows, there is no ClickOnce option/flag on Edge for the Mac.  How does one get it to work?

[2020-09-14 07:07] yogkumgit commented on #2825
@twigbranch Please tell us which document you are referring to.Thanks

[2020-09-14 07:53] yogkumgit commented on #2750
@jeffangama We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2020-09-14 07:53] #2750 closed

[2020-09-14 09:19] LeonardPeris commented on #2738
Unfortunately, the PR doesn't state that Billing Profiles are **unavailable for Microsoft Direct Customers**, neither does the messaging/micro-copy in the admin-portal say the same.

[2020-09-14 10:54] msbemba commented on #2738
@LeonardPeris Billing Profiles are available for Microsoft Direct customers. What type of account do you have? Is it Home or commercial?

Thanks
Sri

[2020-09-14 11:08] JohanssonMarkus opened #2827 "Change text in teams app when group creation has been disabled."
When disable the M365 group creation. The label in Teams app. is still "Join or create a team"
It must be changed to "Join a team" right?
![image](https://user-images.githubusercontent.com/32453241/93078692-39dea100-f68b-11ea-9b13-86e814f3dd46.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-

[2020-09-14 11:15] Divya-RP commented on #2759
@yogkumgit , kindly add a reference in https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide#skype-for-business-online-and-microsoft-teams to the article: O365: https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption-office-365-certificate-chains?view=o365-worldwide.

 if using 3rd party application, recommended to download the Root C

[2020-09-14 14:28] Larryngolog opened #2829 "Source IP addresses for the incoming traffic"
Hello, for regulated organizations it is required to restrict access for incoming traffic to the end points only to only specific IP ranges. What are the IP ranges that the calls from MS DCs to customer endpoints are coming from - for example in rows 7 and 8 (Exchange hybrid free-busy) or 14 (S4B hybrid)?

---
#### Szczegóły dokumentu

⚠ *Nie edytuj tej sekcji. Jest ona wymagana dla docs.microsoft

[2020-09-14 15:19] MarcLaf opened #2830 "Conflicting information for Recommended"
The recommendation on this page is to create a mail flow rule yet when you are creating the Bypass Spam Filtering rule in the EAC, the info text reads "_You don't need to create a transport rule to bypass spam filtering or mark email as spam for a sender or domain. Click here to use an allow or block list in the spam filter._"

On this page it says using the allow list is the "_least desirable_" o

[2020-09-14 15:52] orbis-ming-chang opened #2831 "page body typo"
[Enter feedback here]
typo this line:

\<img height\="?1"? width\="?1"? sr\c=.?http\://

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37115a33-d073-cf0d-1506-2d2571cf1007
* Version Independent ID: 07dd4b19-c5a5-1fba-cbad-3650922d357f
* Content: [Use mail flow rules to filter bulk email - Office 365](https://docs.micro

[2020-09-14 16:31] chrisda commented on #2831
@orbis-ming-chang, fixed as you described. In the future, you too can make fixes like this directly without opening a GitHub Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2020-09-14 16:31] #2831 closed

[2020-09-14 16:42] chrisda commented on #2830
@MarcLaf, you are correct. The recommendations in the topic are the most current. From the topic:

And

I'll see about getting that text removed from the EAC.

Thanks for the feedback.

Closing

[2020-09-14 16:42] #2830 closed

[2020-09-14 17:19] markjjo commented on #2814
@Canis-Lupis As per the topic, I assume that you are using either the DN or Exchange GUID to recover the inactive mailbox. If so, and you're still having issues, I would suggest that you open a ticket with MS Support.

[2020-09-14 17:19] #2814 closed

[2020-09-14 17:39] markjjo commented on #2797
@drmarkrwarnes Thanks for the heads up. I'll look into this. Until then, the screenshot would look something like the below. The point is that you have to map your csv column names to the required properties.

![HRConnectorWizard3](https://user-images.githubusercontent.com/36746813/93119264-5b815d80-f676-11ea-9a4b-5f4d18697222.png)

[2020-09-14 17:39] #2797 closed

[2020-09-14 17:51] cvanelli-ducks opened #2833 ""convert to shared mailbox" is NOT on page as described."
The link for "convert to shared mailbox is not under mail>more actions as stated on the page. It is not anywhere on Office 365 site. It has been there before and I am a global administrator. How is it possible that this page was updated less than 2 months ago and already it is incorrect!!!!! Microsoft documentation for Azure/O365 S U C K S!!!!!

Chris

[2020-09-14 18:11] denisebmsft commented on #2833
Hello @cvanelli-ducks, and thank you for the feedback. Just to confirm, does your feedback apply to this article: https://docs.microsoft.com/en-us/microsoft-365/admin/email/convert-user-mailbox-to-shared-mailbox?

[2020-09-14 18:17] cvanelli-ducks commented on #2833
Yes, that is correct. On the page under the heading 'Use the Microsoft 365 admin center to convert a mailbox', step #4

Chris

[2020-09-14 18:19] markjjo commented on #2785
@Enigma102083 Thanks for heads up. Scripts won't work with MFA. Please see github issue #1428 for a possible work around using trusted IPs. Here is another alternative: https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2?view=exchange-ps

You can also try to remove the connection steps from the script, then connect to EXO powershell (to search for Exchange folder IDs)

[2020-09-14 18:19] #2785 closed

[2020-09-14 21:10] msbemba commented on #2762
@Matt-Mueller-MSFT Thank you for your feedback. We are currently checking with the author and will update you shortly.

Thanks
Sri

[2020-09-14 21:14] msbemba commented on #2766
@Rodrigo30Horas Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2834

Thanks
Sri

[2020-09-14 21:19] msbemba commented on #2768
@dtbullock Thank you for your feedback. This looks more like a feature request/gap. This section of the document is to modify or edit Microsoft documents in general. To provide product feedback to the product group you can either use the Feedback channel on the M365 admin center or the Uservoice forum. (https://office365.uservoice.com/)

@yogkumgit There are no changes required pertaining to Micro

[2020-09-14 21:24] msbemba commented on #2769
@timkittelberger-sits Thank you for your feedback. The prerequisite is to install .NET Core 3.1 SDK. Are you having trouble installing that? Could you please elaborate more on which part of the document needs modification?

Thanks
Sri

[2020-09-14 21:39] msbemba commented on #2773
@Bertug Thank you for the feedback. The option to Turn on Office365 ATP is still available In the Security & Compliance Center, in the left navigation pane, under Threat management, choose Policy > Safe Attachments.

While there are multiple ways to achieve it, this option is still accurate to date.

@yogkumgit There are no changes required in the document. Please close this issue.

Thanks
Sri

[2020-09-14 21:40] msbemba commented on #2775
@yogkumgit  There are no changes required to the document. Please close this issue.

Thanks
Sri

[2020-09-14 21:46] msbemba commented on #2776
@samuelleung83 Thank you for your feedback. This document pertains only to finding and investigating Malicious email, Hence the wordings have been corrected via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2835.

Meanwhile for remediation, Please refer to https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/remediate-malicious-email-delivered-office-365?view=

[2020-09-14 21:49] omarelanis commented on #2775
Sorry I was using Azure portal rather than the 365 admin center, confusing as it doesn't mention in the article which one to use but I should have noticed it was in the parent directory of office 365 admin center for this article https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/create-and-use-a-template-to-add-users?view=o365-worldwide

The link I was using:
https://portal.azure.com/

[2020-09-14 21:51] msbemba commented on #2777
@ianalderman Thank you for your feedback. The Technet document has been migrated indeed, We have updated the same via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2777

The new link is https://azure.microsoft.com/en-in/resources/azure-standard-response-to-rfi-on-security-privacy-and-compliance/

Thanks
Sri

[2020-09-14 22:03] msbemba commented on #2780
@haneef95 Thank you for your feedback. The version information is unfortunately not available on the reports/usage page. The way to install Office and Track the version of Office installed on each device is to manage it through intune - https://docs.microsoft.com/en-us/mem/intune/apps/apps-add-office365

Hope this helps!

@yogkumgit There are no changes required in the document and this issue can

[2020-09-14 22:09] msbemba commented on #2784
@greganth1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2837

Thanks
Sri

[2020-09-14 22:10] msbemba commented on #2786
@mrapoc Thank you for your feedback. I'm currently working with the author and the engineering team to fix this.

Thanks
Sri

[2020-09-14 22:15] msbemba commented on #2786
@mrapoc The feedback emails need to be sent to feedback365@microsoft.com. I tested and it works.

Hope this helps!

Thanks
Sri

[2020-09-14 22:20] msbemba commented on #2791
@Staja Thank you for your feedback. I'm currently testing this and will update the document accordingly.

Thanks
Sri

[2020-09-15 06:20] yogkumgit commented on #2766
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Rodrigo30Horas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 06:21] #2766 closed

[2020-09-15 06:23] yogkumgit commented on #2768
@msbemba Thank you very much for the contribution and sharing this explanation. @dtbullock Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 06:23] #2768 closed

[2020-09-15 06:29] yogkumgit commented on #2773
@msbemba Thank you very much for the contribution and sharing this explanation. @Bertug Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 06:29] #2773 closed

[2020-09-15 06:31] yogkumgit commented on #2775
@msbemba Thank you very much for the contribution and sharing this explanation. @abulooz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 06:31] #2775 closed

[2020-09-15 06:41] yogkumgit commented on #2780
@msbemba Thank you very much for the contribution and sharing this explanation. @haneef95 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-15 06:41] #2780 closed

[2020-09-15 07:41] timkittelberger-sits commented on #2769
@msbemba: Thx for the reply. The error is coming if I try to open the root page localhost:5001 but if I open the key website it is showing the key so maybe the error is not relevant. The error message look like some of the commands need the old net core libs. I installed the 3.1 SDK and I will test further.

[2020-09-15 11:04] danialonso opened #2842 "An important mention!"
Hi,
It is essential to clarify that these cycles are only possible in direct subscriptions, not by reseller via CSP (for example). When it comes to a subscription via CSP, these licenses will go from active to directly suspended without a grace period.

Thank you very much, greetings.
Daniel Alonso [MSFT]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-09-15 13:21] Mister-Edward commented on #2738
HI @msbemba, I'm here because I was just told by Microsoft Support that Billing Profiles are only available to those who have an Azure subscription.   I was not told what  @LeonardPeris was told at all.   I have a commercial non-profit account, I buy licenses for Office365 and other add-on licenses including communication credits and calling plans.  I came to this page to try to find a way to comb

[2020-09-15 13:31] paulypoteat opened #2843 "The section/instructions about ensuring use of the OME portal is not clear"
Section:
https://docs.microsoft.com/en-us/microsoft-365/compliance/manage-office-365-message-encryption?view=o365-worldwide#ensure-all-external-recipients-use-the-ome-portal-to-read-encrypted-mail

The steps provided, specifically the powershell command below, just create a transport rule that references the one template you already have.  It doesn't mention or consider that you want to force OME

[2020-09-15 13:43] yogkumgit commented on #2829
@JoeDavies-MSFT  Please help us in resolving this issue. Thanks

[2020-09-15 19:54] msbemba commented on #2787
@martin-rublik Thank you for your feedback. I'm currently working with the author and will update this shortly.

Thanks
Sri

[2020-09-15 19:56] khilker15 opened #2845 "Giphy URL requirements"
The firewall URL requirements to support Giphy are not documented in this article.

Per another article: https://docs.microsoft.com/en-us/microsoftteams/location-of-data-in-teams
Giphy GIFs are stored as a reference link to the original Giphy service URL. Giphy is a non-Microsoft service.

For this feature of Teams to work, our customers need to know what URLs are required to communicate with the

[2020-09-15 20:17] msbemba commented on #2779
@Canis-Lupis Thank you for your feedback. These are two places where you could create retention policies (EAC and Security& Compliance). In EAC you can only create policies pertaining to Exchange, whereas in Security and compliance you have options to create retention policies for more than one service like Exchange, SharePoint, Teams, etc. It's possible or even likely that content might have seve

[2020-09-15 20:30] markjjo commented on #2779
@Canis-Lupis Also, as per a primary goal outlined in the topic, you have to use MRM retention policies in the EAC to move items to archive mailboxes.

[2020-09-15 20:30] #2779 closed

[2020-09-15 21:11] msbemba commented on #2842
@danialonso Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2846

Thanks
Sri

[2020-09-15 21:24] msbemba commented on #2833
@cvanelli-ducks Thank you for your feedback. The option to convert a shared mailbox is still available under Users-->active users-->Select the account-->Mail Tab-->Under More actions-->Convert to shared mailbox

![image](https://user-images.githubusercontent.com/45987684/93266326-83cca180-f7c7-11ea-90a4-54caf2a7dcc8.png)

Let us know what you see on your end.

Hope this Helps!

Thanks
Sri

[2020-09-15 21:33] msbemba commented on #2820
@omidhdp Thank you for your feedback. I verified both on CSP and Direct Microsoft,  You are correct the license count is per GB for Extra storage space and as mentioned in the document you need to enter the number of GBs of storage space that you want for the subscription.

The Addition of license using CSP is handled specifically by the partner using their internal tool and this document pertains

[2020-09-15 21:37] msbemba commented on #2811
@tabularjon Thank you for your feedback. This document pertains to only adding users and assigning licenses Via M365 Admin center.

If you referring to Sending the user his password - We have it covered on the below document

https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/resend-user-password?view=o365-worldwide#resend-user-password

Hope this helps!

Thanks
Sri

[2020-09-15 21:44] msbemba commented on #2809
@paweber8  Thank you for your feedback. We have added a reference to Proxy calc to the related content section of this document. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2847

Thanks
Sri

[2020-09-15 22:01] cvanelli-ducks commented on #2833
Here’s what I see:

https://ducio-my.sharepoint.com/:i:/g/personal/cvanelli_ducks_org/Ec3WMzbraR9KlWjPzjM54-EBkrukqQ3GSxJgSDTCr8P0lw?e=Q0WiOi

----------------------------------------------------
Chris Vanelli
Sr. Systems Engineer II - NHQ
Ducks Unlimited, Inc.
One Waterfowl Way
Memphis TN 38120
mobile: 901-378-7518
office: 901-758-3885
www.ducks.org<http://www.ducks.org/>

From: Sriraman M S <not

[2020-09-15 22:01] msbemba commented on #2808
@Staja Thank you for your feedback. We have made changes to the prerequisites section of the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2808

Once the Author approves the changes will be merged.

Thanks
Sri

[2020-09-15 22:10] msbemba commented on #2798
@whoiskevinrich Thank you for your feedback. Configure email authentication (with steps) are available in the document (https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/email-validation-and-authentication?view=o365-worldwide#configure-email-authentication-for-domains-you-own) to set up DKIM, DMARC, and SPF. You need to access the link individually to configure.

Hope thi

[2020-09-15 22:58] stephendt opened #2850 ""Organisational Relationships" no longer exists in Azure AD."
The video on this page is out of date and needs updating. It asks people to view "organisational relationships", but that option does not exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb311ed9-a649-8f67-51ea-3789ad914b00
* Version Independent ID: 165a9d7e-25e6-d5e5-d960-acaa675e4400
* Content: [Collaborate with

[2020-09-16 01:33] mchibams opened #2852 "Add Office applications to list of session lifetimes"
I think all Office applications (Such as Outlook, Excel, Word, PowerPoint and Teams) should be included in the list of session lifetimes.

These are the same as "SharePoint and OneDrive mobile apps for Android, iOS, and Windows 10"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e1c6c9c-c519-379c-80ef-fa562391bd45
* Ve

[2020-09-16 06:27] desmondgc opened #2853 "Delete an inactive mailbox with org-wide holds"
The "Delete an inactive mailbox" page only mentions litigation holds and in-place holds. But there's another way that a mailbox can be made inactive: using org-wide holds (retention policies). Could you extend this documentation with official guidance how to delete an inactive mailbox which is inactive due to org-wide holds?

(In simple cases it's possible to use `Set-Mailbox <identity> -ExcludeFr

[2020-09-16 08:06] nikki-c opened #2854 "No mention of eDiscovery search for Exchange online in multi geo"
How does multi geo eDiscovery search work for Exchange online as the data is also stored in PDL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebaed282-c3c5-1814-f61c-16505f0925f3
* Version Independent ID: bb9a0fdd-e96d-584e-9298-1f42307c4d7c
* Content: [Configure Microsoft 365 Multi-Geo eDiscovery - Microsoft 365 Ente

[2020-09-16 11:50] bloodytourists opened #2855 "Auto-labelling based on mapped properties"
It is not clear from this document whether the mapped property used in the KQL query for auto-applying a label needs to be configured at the tenant SPO search level or at the Site Collection search level (as this can be configured in both places). Does the auto-label policy reference both when applying automation? Could this be clarified please.

---
#### Document Details

⚠ *Do not edit this sect

[2020-09-16 12:26] jhonbike opened #2856 "Incorrect Information"
It shows 4 name servers but repeated:

ns1.bdm.microsoftonline.com
ns2.bdm.microsoftonline.com
ns2.bdm.microsoftonline.com
ns2.bdm.microsoftonline.com

It should be:

ns1.bdm.microsoftonline.com
ns2.bdm.microsoftonline.com
ns3.bdm.microsoftonline.com
ns4.bdm.microsoftonline.com

The section is:
https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/change-nameservers-at-any-dom

[2020-09-16 12:46] malidgi opened #2857 "internal screenshots"
hey team,

this doc contains internal screenshots- the engineering tools at the navbar and the Diagnostic orange box indicate it.

Thanks,
Matika

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5147f5e8-a267-ee55-de12-d80ab29804c2
* Version Independent ID: 945fc70f-1861-d2e9-4d46-f56eafb53766
* Content: [Insider risk ma

[2020-09-16 13:14] yogkumgit commented on #2782
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Arkthos Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-16 13:14] #2782 closed

[2020-09-16 13:33] yogkumgit commented on #2820
@msbemba Thank you very much for the contribution and sharing this explanation. @omidhdp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-16 13:33] #2820 closed

[2020-09-16 13:42] yogkumgit commented on #2798
@msbemba Thank you very much for the contribution and sharing this explanation. @whoiskevinrich Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-16 13:42] #2798 closed

[2020-09-16 13:51] RayJDM opened #2859 "Expired lab"
Is the new version available? Webpage says it is valid till 12th of september and a new one will be added prior - seems like that is not the case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Of

[2020-09-16 13:55] DeanGross opened #2860 "Gov clouds?"
[Enter feedback here]
Is this available to government cloud tenants? please add information to help us understand where we can expect to find this functionality

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6fbce796-0aec-3236-d505-607ae8371773
* Version Independent ID: 473cdc81-dc01-f7fd-d570-73e9a07cb972
* Content: [

[2020-09-16 14:22] DeanGross opened #2861 "For read-only access to preset security policies"
The Global Reader role is not listed as being allowed to view these policies. Is this correct or does this role need to be added?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f6f1cf3-a121-3c6e-9380-79440f4c6671
* Version Independent ID: 9b1bc5d1-8ecc-d0f9-092e-325c6acff4fe
* Content: [Preset security policies - Offi

[2020-09-16 15:24] tabularjon commented on #2811
Hi Sri,

Okay, great — thanks.
Kind regards,

Jon

Jonathan Bearman
Head of IT
Maths — No Problem!

Office: 01892 537706  Direct: 01892 577101  Mobile: 07958 663493
www.mathsnoproblem.com <http://mathsnoproblem.com/>
 <https://twitter.com/MathsNoProblem>  <https://www.instagram.com/mathsnoproblem_/>  <https://www.facebook.com/MathsNoProblem/>  <https://linkedin.com/company/maths-no-problem>
Proud

[2020-09-16 15:24] Rkhan-ms opened #2863 "M365 Datacenter design for smaller Geos"
[Enter feedback here]
Hi,

My customer - is in the process of setting up Multi-Geo. They would like to confirm that their Exhange High availability configuration outlined within this document will still be relevant for smaller regions. One in particualr is Germany. Can we update the document with the the number of datacenter locations for the Germany Geo? Similar to how we have outlined India, Aus

[2020-09-16 15:58] msbemba commented on #2811
@yogkumgit There are no changes required in the document and the issue can be closed.

[2020-09-16 16:24] QuickBASIC opened #2865 "Add-in deployment now under Settings > Integrated apps > Add-ins"
Documentation should be updated with correct navigation for Admin Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62dfa25-e420-38e4-ff47-05cca62d14ec
* Version Independent ID: 5ea03ce0-38b9-e005-a430-e98442e2ec83
* Content: [Deploy add-ins in the admin center - Microsoft 365 admin](https://docs.microsoft.com/en

[2020-09-16 16:53] chrisda commented on #2860
@DeanGross, the authoritative source for feature announcements and/or schedules is the Microsoft 365 Roadmap and any related Message Center posts in the admin center.

According to the roadmap, it's coming:

<https://www.microsoft.com/microsoft-365/roadmap?filters=&searchterms=config%2Canalyzer>

Thanks for the feedback.

Closing

[2020-09-16 16:53] #2860 closed

[2020-09-16 17:18] markjjo commented on #2853
@desmondgc Thanks for the heads up about this gap and the suggested fix. Will look into adding info about this and about. As per the Set-Mailbox cmdlet help topic, you could also use the -ExcludeFromOrgHolds parameter if you have the GUID for the retention policy applied to the inactive mailbox.

Note that as per our guidance in the [Overview of inactive mailboxes](https://docs.microsoft.com/micro

[2020-09-16 17:18] #2853 closed

[2020-09-16 18:01] LeonardPeris commented on #2738
Hey @msbemba.

I have a Microsoft 365 Business tenant. It has Microsoft 365 Business, Basic, Standard & Premium (all three) licenses active. I signed up / purchased for the service directly from microsoft.com

You can have a look at my support tickets with Microsoft 365 Business Admin Support 21615222‎ & 21677763‎.

I agree with @Mister-Edward, this document MUST reflect the scenarios in which bil

[2020-09-16 18:18] nayar34 opened #2868 "As of April 1 there now is a mini add-on sku called Microsoft 365 E5 eDiscovery and Audit"
[Enter feedback here]
With the Microsoft 365 E5 eDiscovery and Audit sku you can increase audit retention from 90 days to 365 days.
So you no longer need the full E5 Compliance license if you just want this functionality.
What is not clear though is what is the license requirements for adding just the Microsoft 365 E5 eDiscovery and Audit sku.
I have seen info where it can be added to any M365 sku

[2020-09-16 18:50] msbemba commented on #2738
@LeonardPeris and @Mister-Edward  Thank you for your feedback. I'll work with the author/engineering team and update you shortly.

Thanks
Sri

[2020-09-16 19:26] markjjo commented on #2868
@nayar34 Thanks for heads up. I will add the E5 eDiscovery and Audit add-on to this topic and a link to M365 licensing info.

As for the qualifying licensing info, you can find that here in the Online Services Product Terms site: https://www.microsoft.com/licensing/terms/productoffering/Microsoft365/CSP#FromSA

In short, here is qualifying licensing info:

License | License Prerequisites
-- | --
M

[2020-09-16 19:26] #2868 closed

[2020-09-16 19:59] softwarecraft opened #2870 "Correct page "last updated" to reflect recent commits"
[Enter feedback here]
Page shows last updated "07/08/2019" but commit history shows 20 commits since Jan 1, 2020. Please update the metadata to correctly show that the page is recently updated. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a69504d-a89f-5545-3f8f-0573c928d67f
* Version Independent ID: 2f42eaa3-

[2020-09-16 20:17] softwarecraft commented on #2870
This matters cos content on stale dated pages has less credibility, so folks might discount the content on this page

[2020-09-16 20:22] softwarecraft opened #2871 "Link to "learn more about roles and permissions" may not be suitable"
[Enter feedback here]
Immediately below a list of roles required to config this capability, this page says "(To learn more about roles and permissions, see Permissions in the Office 365 Security & Compliance Center.)" However, the link https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/protect-against-threats makes no mention of Information Barriers or any of the roles lis

[2020-09-16 22:18] msbemba commented on #2833
@cvanelli-ducks That is strange. I checked on another M365 Tenant and see the convert to a shared mailbox option under more actions. I'd recommend you contact support via the need help option on the admin center to troubleshoot this issue as this looks like a bug on the tenant.

@yogkumgit There are no changes required on the document. This issue can be closed.

Thanks
Sri

[2020-09-16 22:23] msbemba commented on #2769
@timkittelberger-sits Thank you for your feedback. You are correct as this required only 3.1SDK. If that doesn't work I'd recommend you contact our support team via the need help button on the admin center.

In case you would like to make some modifications to the document post troubleshooting, let us know.

@yogkumgit There are no changes required in the document and the issue can be closed.

Tha

[2020-09-16 23:43] cvanelli-ducks commented on #2833
This ticket cannot be closed. I have a ticket open with support, and we will see what they say.

[2020-09-16 23:56] cvanelli-ducks commented on #2833
So I opened a ticket as you suggested (#‎21910303‎) from the 'need help' option in the portal. Sawan was the technician. He said that your documentation is wrong. It used to be there but the portal has changed and that option is no longer available under more actions. He also checked his tenant and another, and it was NOT available.
So when can we expect the documentation to be corrected?

[2020-09-17 05:34] msbemba commented on #2833
@cvanelli-ducks Thank you for the quick response. I'll check with the Author and/or engineering team to understand this behavior and update you as well as the document if required.

Thanks
Sri

[2020-09-17 06:26] msbemba commented on #2827
@JohanssonMarkus Thank you for your feedback. When you click on it does it allow you to create a team in spite of disabling group creation?

Thanks
Sri

[2020-09-17 06:42] msbemba commented on #2810
@wbach82 Thank you for your feedback. The name of the SKU that is missing in the M365 E5 developer is Microsoft Endpoint DLP.

![image](https://user-images.githubusercontent.com/45987684/93429504-e6fd2780-f8de-11ea-981a-1d8c47243e86.png)

Hope this helps!

@yogkumgit There are no changes required in the document. Please close the issue.

Thanks
Sri

[2020-09-17 06:49] yogkumgit commented on #2811
@msbemba Thank you very much for the contribution and sharing this explanation. @tabularjon Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 06:49] #2811 closed

[2020-09-17 06:52] msbemba commented on #2821
@DeanGross Thank you for your feedback. I'm working with the author to get the content updated.

Thanks
Sri

[2020-09-17 06:54] yogkumgit commented on #2808
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Staja Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 06:54] #2808 closed

[2020-09-17 06:55] msbemba commented on #2786
@yogkumgit There are no changes required as such in the document as per testing the email address works. Please close the issue.

Thanks
Sri

[2020-09-17 06:59] yogkumgit commented on #2776
@msbemba Thank you very much for the contribution and updating the documentation with PR. @samuelleung83 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 06:59] #2776 closed

[2020-09-17 07:03] yogkumgit commented on #2734
@msbemba Thank you very much for the contribution and updating the documentation with PR. @LeonardPeris Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 07:03] #2734 closed

[2020-09-17 07:05] yogkumgit commented on #2720
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RyanSmith-00 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 07:05] #2720 closed

[2020-09-17 07:07] yogkumgit commented on #2642
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PowerShellPat-MYOB Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 07:07] #2642 closed

[2020-09-17 07:10] yogkumgit commented on #2769
@msbemba Thank you very much for the contribution and sharing this explanation. @timkittelberger-sits Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-17 07:11] #2769 closed

[2020-09-17 07:14] yogkumgit commented on #2825
@twigbranch We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some tim

[2020-09-17 08:12] twigbranch commented on #2825
To download the export tool in Office 365 for exporting PST files, ClickOnce is required - but Edge for Mac doesn't have that option!

[2020-09-17 09:59] JustineNicole2020 opened #2876 "News"
[Enter feedback here]

Get-HostedConnectionFilterPolicy -Identity Default
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3094559e-4d03-8f6d-a620-a3f61ec33184
* Version Independent ID: d352d9b3-3d96-402b-c20e-df677b3e9d60
* Content: [Configure the default connection filter policy - Office 365](https://docs.microsoft.com/

[2020-09-17 10:01] JustineNicole2020 opened #2877 "grants"
Get-HostedConnectionFilterPolicy -Identity Default

[2020-09-17 12:20] JohanssonMarkus commented on #2827
No it's not possible to create M365 group. But it's very confusing for our users to believe they can. But we have disabled it tenant wide.

[2020-09-17 12:53] yogkumgit commented on #2877
@JustineNicole2020 Please indicate which document you are referring to and what changes you expect in that document. Thanks

[2020-09-17 14:18] joergrenn opened #2880 "More information needed about the MSCommerce Module"
I am missing information about the MSCommerce Powershell module:
How can I use the module with delegated admin permissions (DAP)?
Is there a more in depth documentation of the module available listing the commands and their parameters?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5082f7ed-ad40-04c1-5c6c-59e67b253257

[2020-09-17 15:46] JoeDavies-MSFT commented on #2859
@RayJDM The article has been updated to reflect the new expiration date of December 4, 2020. Thanks for letting us know.

[2020-09-17 15:46] #2859 closed

[2020-09-17 16:28] msbemba commented on #2783
@sysadmin-scs One of our SME's will be providing a comprehensive update to the article shortly as he feels the edit is not 100% accurate.

[2020-09-17 17:02] balivo opened #2882 "Broken link for Blueprint"
Broken link: https://docs.microsoft.com/en-us/azure/governance/blueprints/samples/hipaa-hitrust/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b545aa0d-ba68-3113-413b-0c0b176b08bd
* Version Independent ID: bb2ce8e1-7f40-e5ed-60c4-f8bb0912661d
* Content: [Health Insurance Portability and Accountability (HIPAA) & HITECH

[2020-09-17 18:05] msbemba commented on #2767
@stuart2155 Thank you for your feedback. I have another Pull Request for the same document. So I have added this fix as well to the PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2802

Thanks
Sri

[2020-09-17 18:48] msbemba commented on #2827
@JohanssonMarkus Thank you for the feedback. I tested it and it is by design that it shows up Create or join a Team, but when they click on it the next page only has the option to Join. There is nothing much we can do with the documentation, however, this is already been added to the UserVoice section and our Engineering team is working on it to fix this.

LInk to user voice:-
https://microsofttea

[2020-09-17 19:06] softwarecraft commented on #2871
The correct link is probably this page, https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center

[2020-09-17 19:13] softwarecraft commented on #2871
In addition to the link correction, please also review the text of this section, https://docs.microsoft.com/en-us/microsoft-365/compliance/information-barriers#required-licenses-and-permissions as this page is not consistent with the link. This page omits _Compliance Data Admin_ role (AAD role or role group as it is called on the link) along with two other roles, and this page confusingly equates

[2020-09-17 21:06] jhonbike opened #2888 "There is no step to configure the Connector"
Without a Connector, the configured "Internal Relay"domain could not send emails.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 738692b6-47ec-2a49-e576-bb6ff0cd3471
* Version Independent ID: c9d7a0ad-2db4-dda1-6021-831e5bb38098
* Content: [Pilot Microsoft 365 from my custom domain - Microsoft 365 admin](https://docs.m

[2020-09-17 22:09] #2810 closed

[2020-09-18 04:43] arunkumar4003 opened #2890 "Article says, GetBestRoute returns local interface (what is mean by local interface, is it physical adapter or virtual adapter created by VPN?)"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61b783ee-9449-56db-3abd-f17dcf6b5d54
* Version Independent ID: d2146ff5-4248-12ec-a873-c951220aaa14
* Content: [Implementing VPN split tunneling for Office 365 - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/micro

[2020-09-18 06:35] yogkumgit commented on #2786
@msbemba Thank you very much for the contribution and sharing this explanation. @mrapoc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-18 06:36] #2786 closed

[2020-09-18 06:39] yogkumgit commented on #2827
@msbemba Thank you very much for the contribution and sharing this explanation. @JohanssonMarkus Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-18 06:39] #2827 closed

[2020-09-18 08:45] sebhe opened #2891 "Shared mailboxes?"
Is the report-mesasge-add-in supported with the usage of shared mailboxes?

If not, how can users report suspicious emails that they received in a shared mailbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445892a6-5948-33e4-ce60-72670829d8ef
* Version Independent ID: a7407a6f-6563-9a4b-4a95-7ed908ab322b
* Content:

[2020-09-18 10:01] samfo70 opened #2893 "Microsoft"

[2020-09-18 11:54] yogkumgit commented on #2893
@samfo70 As there is not reference of Document and no description. We proceed to close this issue. Please feel free to open a new issue with reference to the document you have feedback or see any improvement.

[2020-09-18 11:54] #2893 closed

[2020-09-18 12:16] abhitalks opened #2894 "Auto-forwarding methods needs more detail"
The section describing auto-forwarding methods: mail flow rules, Inbox rules, and SMTP forwarding need a little more detail on what are these methods and especially what is "SMTP forwarding" and where should administrators look for the user defined rules.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5bb1b82-5bde-ce6

[2020-09-18 13:13] yogkumgit commented on #2226
@lomayor Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:18] #736 closed

[2020-09-18 13:23] yogkumgit commented on #2597
@chrisda  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:25] yogkumgit commented on #2393
@chrisda  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:26] yogkumgit commented on #2426
@chrisda  Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:26] yogkumgit commented on #2391
@chrisda  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:28] yogkumgit commented on #2729
@chrisda Thank you very much for updating the documentation. @ii-batman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-18 13:29] #2729 closed

[2020-09-18 13:30] yogkumgit commented on #2730
@chrisda Thank you very much for sharing this explanation. @mattspierce Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-18 13:30] #2730 closed

[2020-09-18 13:33] yogkumgit commented on #2545
@KCCross  Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:34] yogkumgit commented on #2593
@robmazz  Do we get the answer, Kindly help us in resolving this issue. Thanks.

[2020-09-18 13:35] yogkumgit commented on #2604
@pebaum  Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:36] yogkumgit commented on #2684
@chrisda  Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:39] yogkumgit commented on #2705
@ChristopherTulip and @jaimeo  Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:45] yogkumgit commented on #2756
@BrendaCarter  In the light of new information shared by @DeanGross can you answer and help us in resolving this issue. Thanks.

[2020-09-18 13:45] yogkumgit commented on #2754
@markjjo  Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:49] yogkumgit commented on #1757
@cmcatee-MSFT  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:50] yogkumgit commented on #1220
@MSFTTracyP  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:54] yogkumgit commented on #2067
@levinec  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:55] yogkumgit commented on #1984
@pebaum  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-18 13:56] yogkumgit commented on #1940
@chrisda Thank you very much for sharing this explanation. @arourke Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-18 13:56] #1940 closed

[2020-09-18 14:14] williamlooney opened #2895 "Graph Notification IP address list is incomplete"
[Enter feedback here]
A MSFT partner has reported that the Graph Notification IP address list on this page is incomplete. Specifically, they report getting Notifications for changes on the CallRecord resource from the following IP addresses that are not listed on this page:

- 51.104.159.213
- 51.138.90.7
- 51.138.90.52

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-09-18 14:24] #2570 closed

[2020-09-18 15:52] NoahsMyBro opened #2897 "Need more Exchange Online X-Headers documented on the page"
I often am tasked with examining emails to understand the hows & whys of a message's delivery. There are many X-Microsoft or X-MS-Exchange headers that are undocumented.

Example: "x-ms-oob-tlc-oobclassifiers" OLM:_____

I'm _guessing_ oob = Out of band? OLM = ? And the numeric values stamped to OLM - ?

My job will be made easier if you can document more of these headers.

Thanks.

[Enter feedbac

[2020-09-18 16:49] chrisda commented on #2597
Checking

[2020-09-18 16:53] chrisda commented on #2393
Checking

[2020-09-18 17:02] chrisda commented on #2897
@NoahsMyBro, I hear you. But, as described in the topic:

Trust me, if documenting other header fields and values could be useful to customers and could help reduce support calls, we would do it.

[2020-09-18 17:31] msbemba commented on #2891
@sebhe Thank you for your feedback. The add-in is available via the web version of outlook  The report-message add-in is not available for shared/delegate mailboxes when accessed via outlook. This has been added to the user voice section - https://office365.uservoice.com/forums/289138-office-365-security-compliance/suggestions/36313066-report-message-additional-mailbox which is addressed by the en

[2020-09-18 17:42] msbemba commented on #2882
@balivo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2898

Thanks
Sri

[2020-09-18 17:51] msbemba commented on #2876
@JustineNicole2020 Thank you for your feedback. I was able to test the cmdlet and verify the settings. Could you please elaborate on what changes you need on this document?

Thanks
Sri

[2020-09-18 17:52] shredwerd009 opened #2899 "Automation"
Please consider an unattended scripted approach with powershell, so that those who wish to automate the process can try that out. Otherwise good article, i'll be trying to use it to craft my own powershell script for this task.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Versio

[2020-09-18 17:58] msbemba commented on #2865
@QuickBASIC Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2900

Thanks
Sri

[2020-09-18 18:24] ingepepe opened #2901 "Feature deprecated?"
Exchange Admin center shows this alert:

As per the original notice announced on July 31, 2017, the In-Place eDiscovery & Hold functionality in the Exchange Admin Center is being retired.
During this process, for a better customer experience, we encourage your organization to start using the eDiscovery search and hold features in the Microsoft 365 Compliance Center. Learn more
Here are the key mil

[2020-09-18 18:27] msbemba commented on #2856
@jhonbike Thank you for the feedback. We have modified the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2902

Thanks
Sri

[2020-09-18 18:35] msbemba commented on #2852
@mchibams Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2903

The content has now been covered under the Azure active directory section (Office and M365 apps with modern auth enabled ).

Thanks
Sri

[2020-09-18 19:07] msbemba commented on #2850
@stephendt Thank you for your feedback. We have modified the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2904

Thanks
Sri

[2020-09-19 06:47] plamber opened #2909 "Naming inconsitency when talking about Microsoft 365 Groups"
Hello,
I noticed that this page is using the terms "Microsoft 365 Groups", "Office Groups", "Office 365 Groups" interchangeably. I am wondering if it wouldn't be better to always use the official term "Microsoft 365 Groups" instead?

If this is fine for you I can go and perform the changes and make a pull request.

br,
Patrick

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-20 18:33] shashishailaj commented on #2607
@msbemba So from what you have mentioned , it seems until the password is updated for the object the user will continue to follow the org-wide settings (all users.) Because when the user's password is changed/updated , the pwdLastSet attribute is changed and the never expire policy only takes affect after the password attribute(which also updates the pwdLastSet) for the user object is changed. Is

[2020-09-21 03:33] cnewcomer90 opened #2910 "WordPress.com not WordPress"
Hi, "WordPress' refers to the open-source WordPress project, not WordPress.com. When referring to "WordPress" as a domain registrar, the correct name should be "WordPress.com". You can see https://wpisnotwp.com/ for more details.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0012093-49ca-c2f6-a3f3-4e4252f

[2020-09-21 07:32] ad0m opened #2911 "Users with +50GB Mailbox before license change"
General Feedback - this page is good for understanding the upgrade path, however, one key element I think it should include is the O365 E3 Mailbox being at 100GB and the M365 BP Mailbox being at 50GB - When a user is migrated from O365 to M365 and have a mailbox larger then the 50GB limit - What should happen?

In our case for a client we've implemented Exchange Online Archiving and set retention

[2020-09-21 11:04] GenerAhl opened #2912 "Kerberos support"
Why are you calling out "Important: This procedure is only applicable to OAuth and NTLM. **Kerberos is not supported**."?

Clearly Kerberos is working alongside NTLM for AAD-joined devices: https://docs.microsoft.com/en-us/azure/active-directory/devices/azuread-join-sso

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00

[2020-09-21 11:09] Rkhan-ms commented on #2863
Hi,

Any update on this request?

KInd Regards,

Ray

[2020-09-21 14:11] philippkahr opened #2913 "[ATP SafeLinks] Explain the URL rewritte schemata"
[Enter feedback here]

I think that this page lacks the information of a detailed description on the rewritten URL. E.g. [University Knowledgebase](https://www.queensu.ca/its/microsoft-office-365/security-features/advanced-threat-protection/atp-safe-links) explain all the parts of the links. We got a lot of customer feedback asking `why is my mail showing up in this link`. Additionally, I would li

[2020-09-21 14:48] yogkumgit commented on #2845
@JoeDavies-MSFT  Kindly answer and help us in resolving this issue. Thanks.

[2020-09-21 14:49] yogkumgit commented on #2854
@MikePlumleyMSFT Kindly answer and help us in resolving this issue. Thanks.

[2020-09-21 14:52] MikePlumleyMSFT commented on #2854
@AdwoodMicrosoft can you help?

[2020-09-21 14:52] yogkumgit commented on #2870
@chrfox Kindly answer and help us in resolving this issue. Thanks.

[2020-09-21 14:54] yogkumgit commented on #2871
@chrfox Kindly answer and help us in resolving this issue. Thanks.

[2020-09-21 14:56] yogkumgit commented on #2890
@kelleyvice-msft Kindly answer and help us in resolving this issue. Thanks.

[2020-09-21 15:47] kelleyvice-msft commented on #2890
Hello @arunkumar4003,

My understanding is that the GetBestRoute function (not a method, I will correct this in the topic) only examines the routing table and therefore cannot distinguish between physical and virtual adapters. More information on GetBestRoute: https://docs.microsoft.com/en-us/windows/win32/api/iphlpapi/nf-iphlpapi-getbestroute

Does this adequately address your question?

[2020-09-21 21:26] JoeDavies-MSFT commented on #2845
@khilker15 I have forwarded your request to the team that manages these endpoints for consideration in a future update. Thanks for letting us know.

[2020-09-21 21:26] #2845 closed

[2020-09-21 21:31] JoeDavies-MSFT commented on #2895
@williamlooney Taking this discussion internal to Microsoft. Thanks for letting us know.

[2020-09-21 21:31] #2895 closed

[2020-09-21 21:41] dstrome opened #2914 "test issue"
test

[2020-09-21 21:42] dstrome commented on #2914
bob@contoso.com

[2020-09-21 21:43] dstrome commented on #2914
fred@contoso.com

[2020-09-22 00:02] chrisda commented on #2894
@abhitalks, apparently, this is the forwarding that admins can configure on mailboxes as described in [Configure email forwarding for a mailbox](https://docs.microsoft.com/Exchange/recipients-in-exchange-online/manage-user-mailboxes/configure-email-forwarding). I've updated the topic accordingly.

Thanks for the feedback.

Closing.

[2020-09-22 00:02] #2894 closed

[2020-09-22 04:20] techangelsau opened #2917 "Update to include OverrideAdminDomain property"
Hi everyone,
Can you please add the following information for connecting to a CsOnlineSession. One of the common issues is that internal and external DNS is not always used simultaneously, and cannot resolve to the UPN of a user.
Please add the steps to use the "OverrideAdminDomain" option, as this was able to resolve an issue for me, and I would like to share it with anyone using the document. :)

[2020-09-22 08:12] yogkumgit commented on #2850
@msbemba Thank you very much for the contribution and updating the documentation with PR. @stephendt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-22 08:12] #2850 closed

[2020-09-22 08:32] yuliuleo opened #2918 "Add a line "Local Toll Free" under the number 000 800 440 2038"
Hi Team,

I would like to pass a feedback regarding the link below.
https://docs.microsoft.com/en-in/microsoft-365/admin/support/india?view=o365-worldwide#feedback

Can you please add a line "Local Toll Free" under the number 000 800 440 2038 to clearly tell the customer that this is the toll free number in India?
This is an internal request from Microsoft CPR team.
Thank you,
Leo
---
#### Documen

[2020-09-22 10:58] msbemba commented on #2880
@joergrenn Thank you for your feedback. Currently, it is not possible for someone with DAP to access the Commerce module for a tenant. However, Partners who have delegated administration privileges can see self-service purchases in the Microsoft 365 admin center, just like an admin.

There is no in-depth document about the module, However, this document covers all commands that are available in th

[2020-09-22 11:19] msbemba commented on #2843
@paulypoteat Thank you for your feedback. Per the transport rule, you are using the template "OME Configuration" with Encrypt only, The template"Ome Encryption" by default has OTP Enabled Set to True so it will force OME portal use and not allow decryption in outlook.

![image](https://user-images.githubusercontent.com/45987684/93875848-65006a80-fcf3-11ea-9a8a-9f668741b419.png)

Hope this helps!

[2020-09-22 11:54] msbemba commented on #2857
@malidgi Thank you for your feedback. We have replaced the images on the document with updated ones. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2920

Thanks
Sri

[2020-09-22 12:36] jonathanrsantos1 opened #2921 "Azure AD Organizational relationships"
The name of the option Organizational relationships was changed to External Identities.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb311ed9-a649-8f67-51ea-3789ad914b00
* Version Independent ID: 165a9d7e-25e6-d5e5-d960-acaa675e4400
* Content: [Collaborate with guests in a site](https://docs.microsoft.com/en-us/micro

[2020-09-22 13:14] msbemba commented on #2888
@jhonbike THank you for your feedback. We need a connector from o365 to the email server. I have updated the document accordingly and the same can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2922

Thanks
Sri

[2020-09-22 13:21] msbemba commented on #2863
@Rkhan-ms Thank you for your feedback.  Afaik Multi geo options are not available for Germany. I'm checking with the author/Product group to confirm.

Thanks
Sri

[2020-09-22 13:48] msbemba commented on #2863
@robmazz Could you please help let us know if the Exchange High availability configuration outlined within this document is still relevant for smaller regions in particular in Germany?

Thanks
Sri

[2020-09-22 15:17] jcmgsec opened #2924 "NERC CIP-013"
I would like Microsoft to consider updating this NERC document to include the relevant and necessary information a customer needs to comply with CIP-013 as it pertains to Supply Chain.

Requirements can be found on nerc's website, https://www.nerc.com/_layouts/15/PrintStandard.aspx?standardnumber=CIP-013-1&title=Cyber%20Security%20-%20Supply%20Chain%20Risk%20Management&jurisdiction=United%20States

[2020-09-22 18:54] levinec commented on #2067
This should be resolved. Closing now.

[2020-09-22 18:54] #2067 closed

[2020-09-22 19:03] msbemba commented on #2921
@jonathanrsantos1 Thank you for your feedback. We have made changes to the document via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2929

Thanks
Sri

[2020-09-22 19:07] msbemba commented on #2918
@yuliuleo THank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2930

Thanks
Sri

[2020-09-22 19:07] dharcrow commented on #2827
Just a quick question and this is due to my very basic PowerShell knowledge. When I copied and pasted the PowerShell command code to specify a security group to not be able to create groups, I initially made a mistake. On the first line: $GroupName = "<SecurityGroupName>" I accidentally included the brackets <>. My group name was "cannotaddgroups" but I put <"cannotaddgroups">. As a result it seem

[2020-09-22 19:15] msbemba commented on #2917
@techangelsau Thank you for your feedback. The parameter overrideadmindomain is used only when the administrator has permissions to manage more than one tenant. The Parameter is explained in detail on the New-CsOnlineSession document ( https://docs.microsoft.com/en-us/powershell/module/skype/new-csonlinesession?view=skype-ps). This document is used by admins to connect to SFB and most of them use

[2020-09-22 19:17] msbemba commented on #2913
@philippkahr Thank you for your feedback. I'll test this and make necessary changes to the document.

Thanks
Sri

[2020-09-22 19:25] msbemba commented on #2912
@GenerAhl Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2931. Once the author approves the document will be updated.

Thanks
Sri

[2020-09-22 19:31] NeighborGeek opened #2932 ""How to get to the Groups report" section does not describe the current UI of usage reports page."
The instructions for how to get to the Groups report do not match what I see.  There is no "Select a report" drop down on that page.  Instead, I see several summary cards showing reports for different services, and I can click a View More button under each one to dig deeper.  None of those reports appear to focus on Office 365 Groups though.

The descriptions and images on the [reports overview](

[2020-09-22 19:35] msbemba commented on #2911
@ad0m Thank you for your feedback. That is a good catch and important information. In these situations, Microsoft recommends you to switch to an Exchange online plan 2 for those users who are exceeding the 50GB storage limit. I have made changes to the document to reflect this via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2933

Thanks
Sri

[2020-09-22 19:39] msbemba commented on #2910
@cnewcomer90 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2934

Thanks
Sri

[2020-09-22 19:48] msbemba commented on #2909
@plamber Thank you for your feedback. Office 365 groups are now called Microsoft 365 groups.  We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2935

Thanks
Sri

[2020-09-22 19:58] msbemba commented on #2607
That is correct @shashishailaj .

[2020-09-22 20:28] ClearSkyyes opened #2936 "Missing Message Type"
The Message Type in M365 Message Center now has 4 types, but this document only lists 3.  The Data Privacy type is missing.  What is a Data Privacy message?  Can an example be included?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48710a5-bfd4-dbbd-dc97-741feccd00af
* Version Independent ID: 5540a0cf-7de7-3082-59d2-

[2020-09-22 20:33] msbemba commented on #2827
@dharcrow That is correct. The brackets should not be added. Since you ran it with an incorrect group, the value of GroupCreationAllowedGroupId would have been empty, which means it blocks the entire organization as the EnableGroupcreation Value is set to False. So it is important to run (Get-AzureADDirectorySetting -Id $settingsObjectID).Values after the script to find out if the below two are st

[2020-09-22 20:56] msbemba commented on #2899
@shredwerd009  Thank you for your feedback. That is a nice idea and I'm a big fan of automation and scripts, however, Microsoft docs objective is to provide details to admins and users on how some of these M365 features work. We generally do not add scripts to documents as they are risky if not used correctly. Especially in a sensitive topic like this. Hope this helps!

Please continue to leave yo

[2020-09-22 22:01] dharcrow commented on #2827
Outstanding! Thank you very much.

[2020-09-23 04:32] yogkumgit commented on #2918
@msbemba Thank you very much for the contribution and updating the documentation with PR. @yuliuleo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-23 04:32] #2918 closed

[2020-09-23 10:38] #2767 closed

[2020-09-23 13:10] msbemba commented on #2783
@yogkumgit  Since the SME is going to provide a comprehensive update. Please go ahead and close this issue.

Thanks
Sri

[2020-09-23 13:39] dharcrow commented on #2827
I was wondering if you could help me with one detail. It appears that in this code I am creating a group that can only create groups and the rest of the organization cannot. I am hoping to do the opposite. I am a tech coordinator for a K-12 school and all students and staff are using Teams. We are having trouble with the younger kids in elementary creating Teams that can sometimes be a little excl

[2020-09-23 13:49] Bartolomeus-649 opened #2939 "Which Microsoft licensing agreement is in effectfor a subscription/tenant?"
Please include instruction for how to find out which Microsoft licensing agreement is used for a specific tenant or subscription.

On the page [Microsoft licensing agreements](https://partner.microsoft.com/en-US/licensing/licensing-agreements) there's a list of different agreements under which Microsoft cloud services can be bought.

Where the portal does it show the agreement which currently is i

[2020-09-23 15:37] srobin2 opened #2940 "Microsoft 365 E3 Exchange Features"
It says that for "Organization subscription: To access Core eDiscovery in the Microsoft 365 compliance center or the Office 365 Security & Compliance Center and use the hold and export features, your organization must have a Microsoft 365 E3 or Office 365 E3 subscription or higher".

However, the Microsoft Product compare, https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE4Dz8M, says tha

[2020-09-23 15:46] DeanGross opened #2941 "Integration with PIM"
[Enter feedback here]

Please put some information about the fact that these roles are not currently available in Azure AD PIM.
Also please work with the PIM team to get them added.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb98e0ff-d34c-75bc-0ade-7dc70fc7f4bd
* Version Independent ID: 5172471f-e514-bcde-16e0-d8d80

[2020-09-23 20:03] eric92315 opened #2942 "Deletion policies and the need to enable an archive mailbox"
Please see my suggestion to the Note on the page to add "or deletion".  Because I only wanted to implement a deletion policy without any archive polices, it was not clear if I needed to enable an archive mailbox, so I opened a ticket (21713052) with Premier support on it.  They said that enabling archive mailboxes was required even for deletion policies.

 Note

You can enable archive mailboxes an

[2020-09-23 20:58] joebeitler opened #2943 "Page is incomplete."
Incomplete page.  Video is dated.  Does not show current menu structures of the portals.

All settings for my org are checked and verified.  I still can't add guests to a Team.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147fb47a-99b2-f8ef-9ca6-35696d49c3fb
* Version Independent ID: b2f1b521-f

[2020-09-23 21:00] markjjo commented on #2942
@eric92315 Thanks for following up about this. I will incorporate your suggested fix. Update should be published by tomorrow or so.

[2020-09-23 21:00] #2942 closed

[2020-09-23 23:03] GaneshPrabuBaburaj commented on #2382
OMG! Still this one s not approved and showing wrong data in the article!😐

[2020-09-23 23:27] kingfr0z opened #2945 "wow very fascinating"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd9ad252-50c2-e9d6-9e1a-ab5efde15e60
* Version Independent ID: 7d82a046-e1e2-015f-cb09-27798701b131
* Content: [Overview of the Contoso Corporation - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/contoso-overview?

[2020-09-24 02:41] tokitamo-ms opened #2948 "Documents contain incorrect update dates"
The documentation says "Last updated: MM/DD/YYYY" but may include further updates if verified using RSS or changes web methods.
Incorrect dates may prevent customers from noticing the update.
Please always update the date to the most appropriate one.

![image](https://user-images.githubusercontent.com/54471197/94094417-66987280-fe5a-11ea-8f82-acb16cca1f12.png)

[Enter feedback here]

---
#### Docu

[2020-09-24 10:46] Tularis1 opened #2949 "This page is out of date."
There is no Settings > Add-ins page

The Office 365 Interface has been updated...

And I can't find where to deploy addins now...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62dfa25-e420-38e4-ff47-05cca62d14ec
* Version Independent ID: 5ea03ce0-38b9-e005-a430-e98442e2ec83
* Content: [Deploy add-ins in the admin cen

[2020-09-24 10:49] #2949 closed

[2020-09-24 10:54] msbemba commented on #2913
@philippkahr Thank you for your feedback. I have made changes to the document to explain a bit more on when the URL is rewritten and what happens when this is forward or replied. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2950

Meanwhile, Once ATP Safe Links has rewritten a URL, if the message is forwarded or replied to, the URL will remain rewritten. Addit

[2020-09-24 10:59] msbemba commented on #2382
@MikePlumleyMSFT  Can we document the soft limit as 7000 as discussed with the SME?

[2020-09-24 11:01] msbemba commented on #2296
@KCCross @brdesai Could you Please help me to check with PG to see if this requirement is accurate?

Thanks
Sri

[2020-09-24 11:03] msbemba commented on #2446
@robmazz The certificates available for reference in document https://docs.microsoft.com/en-us/microsoft-365/compliance/offering-ens-spain?view=o365-worldwide . The Certificates available via https://aka.ms/AzureNationalSecurityFrameworkENSCertificate and https://aka.ms/Office365NationalSecurityFrameworkENSCertificate are expired effective April 2020.

Please share the URL for the updated certific

[2020-09-24 11:07] msbemba commented on #2677
@MSFTTracyP After enabling auditing as an Information Management Policy, Could you please help us to find the audit reports as this is different from the unified audit log? I have checked in the security and compliance center (Reports) but it isn’t found there.

Thanks
Sri

[2020-09-24 11:09] msbemba commented on #2693
@yogkumgit This issue can be closed as the PR is now merged successfully.

Thanks
Sri

[2020-09-24 11:13] msbemba commented on #2703
@DeanGross  Sorry about the time taken. We have added the July updates now.

@yogkumgit  This took longer than expected. The author has updated the document with July updates. Please proceed with closing the issue.

Thanks
Sri

[2020-09-24 11:13] GaneshPrabuBaburaj commented on #2382
Hi @msbemba , Can you explain on the word soft limit. Because as per the ticket and other article , MS team mentioned there is no limit.

[2020-09-24 11:17] msbemba commented on #2738
@cmcatee-MSFT I have tested this myself that we could not create a billing profile. Both the Customers have contacted Microsoft support– who claim this is only available if there is an azure subscription tied to the tenant. I could not find more information about this online or on other Microsoft documents. If you could take this up to PG and get more information that will be helpful in modifying

[2020-09-24 11:20] msbemba commented on #2762
@kelleyvice-msft The IP’s Associated with Power Apps US Government service URLs are not updated. We do not see the IPs that we are  getting back from Pings to these URLs fit on the lists for Worldwide. The URL that needs update  :- https://endpoints.office.com/endpoints/worldwide?clientrequestid=b10c5ed1-bad1-445f-b386-b919946339a7

Thanks
Sri

[2020-09-24 11:23] msbemba commented on #2778
@Loftys Thank you for your feedback. I'll check with the author and update the broken link.

Thanks
Sri

[2020-09-24 11:23] msbemba commented on #2778
@MikePlumleyMSFT Need help with a correct AKA.ms link for Microsoft GDPR Data Discovery Toolkit at https://aka.ms/gdprpartners as it is broken. Could we please get the update aka.ms or the original link so that this document can be updated?

Thanks
Sri

[2020-09-24 11:26] msbemba commented on #2787
@KCCross We need help with updating another repo. key_store_tester.ps1 is missing in https://github.com/Azure-Samples/DoubleKeyEncryptionService/

This PS1 file is required to validate the deployment and key store settings. We need help from you to get this updated on the other repo https://github.com/Azure-Samples/DoubleKeyEncryptionService/

Thanks
Sri

[2020-09-24 11:27] msbemba commented on #2791
@MSFTTracyP The document states that if you disable DKIM signing after enabling it, after a period of time, Microsoft 365 will automatically apply the default policy for your domain. However, it doesn’t state what that time is. I disabled DKIM signing last Friday and it has still not applied default policy for my test domain. Could we get this information (the exact amount of time it takes for M36

[2020-09-24 11:31] msbemba commented on #2821
@MikePlumleyMSFT The document talks about considerations for group-connected services and what happens to them when a Team is archived. Could we please get information on life cycle process of Whiteboard and other applications when a TEAM is archived? Also any way we can backup, Export or duplicate these content before archiving?

From my research the data resides for recovery within the expiratio

[2020-09-24 11:35] CRutter12 opened #2951 "Double mention at the start of the document"
The article opens with "This article applies to both Microsoft 365 Enterprise and Microsoft 365 Enterprise."
That's a little much ;)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b05a56d-f714-2d99-747e-b3150f581f38
* Version Independent ID: e8924d3f-20e7-6ce2-2279-cec010e7d3f3
* Content: [Prepare for directory synchr

[2020-09-24 11:36] msbemba commented on #2833
@cvanelli-ducks Thank you for your feedback. We have made the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2952

Thanks
Sri

[2020-09-24 11:40] msbemba commented on #1965
@MikePlumleyMSFT We would like to get some references on what special characters are supported in a group name vs group email addresses so that the document can be updated.

Thanks
Sri

[2020-09-24 12:12] TheUn1que opened #2953 "SetupCrossTenantRelationshipForTargetTenant script"
While trying to run the SetupCrossTenantRelationshipForTargetTenant script I'm receiving the error for step 11 (Create an organization relationship with resource tenant authorizing migration), and I believe that -New-OrganizationRelationship & -New-MigrationEndpoint are not yet updated to have MailboxMoveCapability & RemoteTenant parameters.

Log:

A parameter cannot be found that matches paramete

[2020-09-24 12:40] MikePlumleyMSFT commented on #2778
@BrendaCarter do you know if the GDPR toolkit is still available?

[2020-09-24 12:57] stdanro opened #2954 "Subnet Mask"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP address ranges - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-add

[2020-09-24 13:26] #2954 closed

[2020-09-24 13:26] stdanro commented on #2954
Corrected

[2020-09-24 14:30] andrePKI opened #2955 "How to get the Source (Source of Authority) attribute programmatically?"
I would like to get this attribute in my Powershell scripts for groups and accounts. It is shown in the portal as "Cloud", "Azure Active Directory" or "Windows server AD" so I suspect it must be retrieveable...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a9b681e-0845-4440-3ae6-96bdaae14804
* Version Independent ID:

[2020-09-24 14:52] SilviaEid opened #2956 "Translation Error"
In the German translation of this page it says that M365 Business Standard does not work for Shared Mailboxes, which is incorrect:

Abonnementanforderungen: Um ein freigegebenes Postfach zu erstellen, müssen Sie einen Microsoft 365 for Business-Plan abonnieren, der e-Mails enthält (Exchange Online Dienst). Das Microsoft 365 apps for Business-Abonnement enthält keine e-Mails; **Microsoft 365 Busine

[2020-09-24 15:04] kelleyvice-msft commented on #2762
Looking into this.

[2020-09-24 15:24] #2783 closed

[2020-09-24 15:28] yogkumgit commented on #2693
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rdekramer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-24 15:28] #2693 closed

[2020-09-24 15:38] yogkumgit commented on #2296
@KCCross Please reply to this query. This issue is pending for more that 2 months now. Thanks.

[2020-09-24 15:44] yogkumgit commented on #2677
@MSFTTracyP Please reply to this query. Thanks.

[2020-09-24 15:46] yogkumgit commented on #2703
@msbemba Thank you very much for the contribution and sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-24 15:46] #2703 closed

[2020-09-24 15:50] yogkumgit commented on #2778
@BrendaCarter Please reply to this query. Thanks.

[2020-09-24 15:52] yogkumgit commented on #2738
@cmcatee-MSFT Please reply to this query. Thanks.

[2020-09-24 15:57] yogkumgit commented on #2787
@KCCross Please reply to our query. Thanks.

[2020-09-24 15:59] yogkumgit commented on #2791
@MSFTTracyP Please reply to this query. Thanks.

[2020-09-24 16:00] yogkumgit commented on #2821
@MikePlumleyMSFT Please reply to this query. Thanks.

[2020-09-24 17:43] JoeDavies-MSFT commented on #2951
@CRutter12 This correction (This article applies to both Microsoft 365 Enterprise and Office 365 Enterprise) will be published today. Thanks for letting us know.

[2020-09-24 17:43] #2951 closed

[2020-09-24 17:54] JoeDavies-MSFT commented on #2948
@tokitamo-ms Date of the latest updates for these endpoint articles will be published today based on the change log subscription link. Thanks for letting us know.

[2020-09-24 17:54] #2948 closed

[2020-09-24 17:57] JoeDavies-MSFT commented on #2945
@kingfr0z Thanks so much for your comment! Let us know how we can improve this content going forward.

[2020-09-24 17:57] #2945 closed

[2020-09-24 18:20] Mister-Edward commented on #2738
Microsoft Customer Support told me this, more recently:  "Because of the upgrade from old admin portal to new admin portal, there are still some issues that our backend team haven't handled well. I’ve escalated this hot issue to our team manager to pay more attention to" and "For your request about creating a billing profile , it’s because of our system design, I have escalated this hot issue to o

[2020-09-24 18:24] georgiahuggins commented on #2953
Hello @yogkumgit. Could you please send these details and your tenant names to crosstenantmigrationpreview@service.microsoft.com? Thank you.

[2020-09-24 18:26] JoeDavies-MSFT commented on #2953
@TheUn1que (For Georgia) Could you please send these details and your tenant names to crosstenantmigrationpreview@service.microsoft.com? Thank you.

[2020-09-24 18:26] #2953 closed

[2020-09-24 18:39] msbemba commented on #2738
Thank you @Mister-Edward for the update.

[2020-09-24 18:42] msbemba commented on #2827
@dharcrow Thank you for the question. While this is more of a support question, I'll still try to answer to the best of my knowledge. However, the support team can provide the best possible resolution for this.

* Nest all groups that you would like to allow to this main security group which is allowed to create m365 groups. Note that this works only if all of the groups are mail enable security g

[2020-09-24 20:04] TinaMcN commented on #2956
@SilviaEid thank you very much for reporting this issue.  It seems that the machine translation mistranslated the sentence.  We will update the English text and run the machine translation and hopefully that will fix the issue.

[2020-09-24 20:47] NoahsMyBro opened #2958 "Document the default value for the BCL threshold on the default Anti-spam policy."
In the brief table describing the different BCL levels, should include an asterisk that indicates the threshold set in the default, Out-Of-The-Box Anti-Spam Policy. Or at least document the default threshold somewhere on the page.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58067ff3-737e-441e-1812-a50bdb97d

[2020-09-24 20:49] Dakineintx opened #2959 "Could not locate OneDrive"
I am stuck here. I have access to the site and can browse out to the OneDrive.

Getting the URL for each user's OneDrive for Business site.
	You cannot call a method on a null-valued expression.
	At E:\eDiscovery\CreateCaseUsersEmailOneDrive\Step_2.ps1:110 char:1
	+ $strAuthCookie = $spCreds.GetAuthenticationCookie($AdminUrl)
	+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	    + C

[2020-09-24 21:07] markjjo commented on #2940
@srobin2 Thanks for the query. There are lots of problems/errors in the product compare doc that you link to. You might submit feedback about this to https://office365.uservoice.com/forums/289138-office-365-security-compliance?category_id=139404

For core eDiscovery, the licensing requirements listed here:  https://docs.microsoft.com/en-us/microsoft-365/compliance/get-started-core-ediscovery?view=

[2020-09-24 21:07] #2940 closed

[2020-09-24 21:17] srobin2 commented on #2940
Ok, will do. Thank you.

[2020-09-24 21:24] msbemba commented on #2932
@NeighborGeek Thank you for your feedback.

Select **View more** under **Active users - Microsoft 365 Services****, then Select a report** drop-down, select **Office 365** \> **Groups activity**.

We have made changes to the document to reflect the correct steps to access the group activity report. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2960

Thanks
Sri

[2020-09-24 21:29] markjjo commented on #2940
@srobin2 Also, in the doc you linked to, some other errors:

- E3 supports archive mailboxes (specifically, users needs an EXO Plan 2 license or a EXO Archiving add-on license)
- E3 supports basic audit
- E3 supports content search

[2020-09-24 21:36] msbemba commented on #2936
@ClearSkyyes Thank you for your feedback. Data privacy label is not a different message type instead it is an option for the admins to choose what type of information they want to look in the admin center. For example, In an organization, there could be a global admin, an exchange admin, a team admin, and a data privacy admin. The global admin most likely will want to see any and all alerts but th

[2020-09-24 21:47] msbemba commented on #2939
@Bartolomeus-649 Thank you for your feedback. This document talks about the subscription so we don't have information about different types of agreements here. Microsoft licensing agreement is used by partners (CSP program). If you are looking for agreements for  Government, Education, or commercial tenants - It can be found at https://portal.office.com/commerce/mosa.aspx

If you are looking for O

[2020-09-24 22:14] markjjo commented on #2754
@bubhat As per our internal discussion with the eDiscovery PM, the OCR processing behavior is this:

- When a custodian is added to a case, the Advanced indexing process will perform the OCR processing. That means a collection search against custodians will return hits against extracted text from an image.

- If an image file from additional data source that was searched in a collection search is

[2020-09-24 22:14] #2754 closed

[2020-09-24 23:37] qiufasheng opened #2963 "Duplication in URL endpoints specification"
Hi, Dear Office team,

I found there are a lot of overlapping in the URL specification. For example in id 37, below endpoints are listed. Isn't *.sharepointonline.com covering all the rest already? Any reason to list them separately?

*.sharepointonline.com,cdn.sharepointonline.com,privatecdn.sharepointonline.com,publiccdn.sharepointonline.com,spoprod-a.akamaihd.net,static.sharepointonline.com

[E

[2020-09-24 23:51] MSFTTracyP commented on #1096
Though this is taking a very long time, I'm writing to say I'm aware of it and looking into this.

[2020-09-24 23:54] MSFTTracyP commented on #1220
@yogkumgit Hi Yogesh. I've elevated this issue more than once and am looking at a means to be more effective in this effort. Thanks for staying on it.

[2020-09-25 00:51] tokitamo-ms commented on #2948
@JoeDavies-MSFT Thank you for your quick response.

[2020-09-25 02:44] RKD993 opened #2966 "Is there a way to measure the specific Office Templates (Word, Excel, PPT, etc) which a user uses (touches, activates)"
Need to be able to find out how users are using Templates (dotx, dotm, etc). Surely this should be possible through the analytics. We need to audit the use of such templates in large government organizations. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de44679b-998b-3de8-292b-d2993af9bad9
* Version Independe

[2020-09-25 06:48] Appie1701 opened #2967 "A small typo"
Just a small typo thing, but the purists might notice :-) It is OneDrive for Business and not One drive.

Kind regards,

Albert

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c2bb05c-4f7c-58cf-6b72-22af2b0377b1
* Version Independent ID: 184b8cb5-327a-41c5-6e61-1cae40965994
* Content: [Use sensitivity labels as conditi

[2020-09-25 12:35] JohanssonMarkus opened #2968 "More ;365 payload to be added"
Hey,
There are payload which is not in the list e.g Booking, Shifts, Todo etc.
Can you please add all payloads to the page on not only the major once?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61c6fa7b-7e9e-21a5-40da-adbd35040ec1
* Version Independent ID: 530df3b2-2048-8351-2f09-59e604aedf5b
* Content: [Microsoft

[2020-09-25 13:28] yogkumgit commented on #2936
@msbemba Thank you very much for the contribution and sharing this explanation. @ClearSkyyes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 13:28] #2936 closed

[2020-09-25 13:30] yogkumgit commented on #2939
@msbemba Thank you very much for the contribution and sharing this explanation. @Bartolomeus-649 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 13:30] #2939 closed

[2020-09-25 13:39] yogkumgit commented on #2917
@msbemba Thank you very much for the contribution and sharing this explanation. @techangelsau Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 13:39] #2917 closed

[2020-09-25 13:50] yogkumgit commented on #2899
@msbemba Thank you very much for the contribution and sharing this explanation. @shredwerd009 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 13:50] #2899 closed

[2020-09-25 13:55] yogkumgit commented on #2891
@msbemba Thank you very much for the contribution and sharing this explanation. @sebhe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 13:55] #2891 closed

[2020-09-25 14:02] yogkumgit commented on #2880
@msbemba Thank you very much for the contribution and sharing this explanation. @joergrenn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 14:02] #2880 closed

[2020-09-25 14:05] yogkumgit commented on #2876
@msbemba Thank you very much for the contribution and digging deep into it.  @JustineNicole2020 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this

[2020-09-25 14:05] #2876 closed

[2020-09-25 14:08] yogkumgit commented on #2863
@robmazz Please reply to this query. Thanks.

[2020-09-25 14:09] yogkumgit commented on #2843
@msbemba Thank you very much for the contribution and sharing this explanation. @paulypoteat Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-25 14:09] #2843 closed

[2020-09-25 14:21] Bartolomeus-649 commented on #2939
@yogkumgit , @msbemba Not helpful at all. It seems like you didn't even read the issue.

[2020-09-25 14:45] cuthbertnibbles opened #2969 "Guest users in Microsoft 365 admin center Typo"
Once you have added a **uer** in the Azure AD portal, that user will also be listed on the Guest users page in the Microsoft 365 admin center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1015a9d3-f0bb-dad5-7210-e3dd9b62881c
* Version Independent ID: 5c517c9b-cd05-2794-2f5d-c89c4d72b4a4
* Content: [Guest users in the

[2020-09-25 17:59] DeanGross opened #2973 "Preview information"
[Enter feedback here]

Please add documentation about the a preview version of Attack simulator that is now available at https://security.microsoft.com/attacksimulator?viewid=overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fbdcbd5-7bd2-6b55-b72c-cbedfdea776c
* Version Independent ID: 1e6198f8-6ef1-6227-c9e8-f3

[2020-09-25 18:00] DeanGross commented on #2703
while that is helpful, it is now the end of September, what about August?

[2020-09-25 19:42] markjjo commented on #2354
@yogkumgit @12Knocksinna Topic has been updated to address this issue.

[2020-09-25 19:42] #2354 closed

[2020-09-25 19:56] DeanGross opened #2974 "Action Types"
[Enter feedback here]

When I look at the new Compliance Manager filters, I see new action types for : Technical, Procedural, Documentation, Operational, Contractual, Management and Privacy. I don't see any discussion about these types and their recommended usage. Please update the documentation to provide us some guidance on how MS envisions their use. The categories seem to overlap and its not c

[2020-09-25 20:09] ClearSkyyes commented on #2936
This is now listed as a filter, so I assumed it was being split out as a new message type.  Am I understanding correctly that Data Privacy messages will actually be one of the primary types (Plan for Change, Stay Informed, Prevent/Fix Issue) and this other option available in the filter will just be an additional field that shows elsewhere in that message?

[2020-09-25 20:12] ClearSkyyes opened #2975 "Clarification on New Filters of Message Center Message Types"
Original question (updated/clarified question at the bottom):  The Message Type in M365 Message Center now has 4 types, but this document only lists 3. The Data Privacy type is missing. What is a Data Privacy message? Can an example be included?

msbemba commented 23 hours ago
@ClearSkyyes Thank you for your feedback. Data privacy label is not a different message type instead it is an option for t

[2020-09-25 20:18] SeCossio opened #2976 "Licensing Requirements and availabilty in sovereign clouds"
[Enter feedback here]

Would like to see the licensing required to apply compliance boundaries and also the roadmap for availability in GCC, GCCH and DoD (if not there yet)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ffb84a4-0c98-3fc2-8963-4c809efaa149
* Version Independent ID: 305dd7b2-382e-a0da-40b5-1457e6b625bd

[2020-09-25 21:53] markjjo commented on #2976
@SeCossio Thanks for the inquiry. As per our offline thread, users (whose data might be searched by eDiscovery managers in a compliance boundary scenario) have to be assigned an EXO license and and an SPO license (for OneDrive provisioning). Also, there user's mailbox must be 10 MB or larger, otherwise the user is not processed when syncing the compliance attribute to their OneDrive account. I'll

[2020-09-25 21:53] #2976 closed

[2020-09-25 22:23] msbemba commented on #2703
@brendonb Could you also please add august updates to the document?

[2020-09-25 22:39] msbemba commented on #2939
@Bartolomeus-649  Sorry about that. I meant there is no place in the portal you can view the license agreement. Instead, it can be found at https://portal.office.com/commerce/mosa.aspx

if you are referring to the partner agreement, It is not found on the portal but provided to you by the partner.

Thanks
Sri

[2020-09-25 22:42] Bartolomeus-649 commented on #2939
I don't want to view the agreement, I want to find out which agreement is in effect for a specific tenant.

[2020-09-25 22:51] msbemba commented on #2939
It is not possible to find out which agreement is in effect for a tenant. A tenant can have multiple subscriptions like M365, Azure, and Dynamics.  Every subscription is an agreement with Microsoft to use one or more Microsoft cloud platforms or services, You can find more information about this here - https://docs.microsoft.com/en-us/microsoft-365/enterprise/subscriptions-licenses-accounts-and-te

[2020-09-25 22:57] msbemba commented on #2936
@ClearSkyyes That is correct. The categories remain the same 1) Plan for Change 2) Stay informed 3)Prevent/Fix Issue. Data privacy is more service-related and the issues arising out of it will fall into one of the categories.

Thanks
Sri

[2020-09-25 23:14] msbemba commented on #2967
@Appie1701 Thank you for your feedback. We have fixed this via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2981

Thanks
Sri

[2020-09-25 23:20] msbemba commented on #2943
@joebeitler Thank you for your feedback. The steps on the documents are accurate, however, the video is currently being fixed by the author @MikePlumleyMSFT . If you still have an issue adding guests to a team, I'd encourage you to contact the Support team via the need help option on the admin center.

Thanks
Sri

[2020-09-25 23:21] msbemba commented on #2959
@Dakineintx Thank you for your feedback. Could you please provide the document that you would like to modify or have questions with?

Thanks
Sri

[2020-09-25 23:24] cmcatee-MSFT commented on #2738
@yogkumgit Still investigating. Waiting on product team response.

[2020-09-25 23:25] msbemba commented on #2966
@RKD993 Thank you for your feedback. I'll be checking this in the backend and will update you shortly.

Thanks
Sri

[2020-09-25 23:37] msbemba commented on #2968
@JohanssonMarkus Thank you for your feedback. These services use Exchange and teams to store data.

1)  Microsoft To do Data is stored as tasks in your Exchange Online mailbox, which also hosts data from other Exchange modules such as emails, events, contacts, and/or notes.

2) All customer content is stored in the Exchange Online mailbox that hosts the organization's Bookings.

3) Microsoft Shift

[2020-09-25 23:52] msbemba commented on #2924
@jcmgsec Thank you for your feedback. We have added the Direct URL to the document under the resources section. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2983.

Once the author @robmazz  approves it will be updated.

Thanks
Sri

[2020-09-26 03:21] msbemba commented on #2941
@DeanGross Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2984

We have also Created User voice for the same so that these roles can be added to PIM  https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/41487934-insider-risk-management-role-in-pim

Thanks
Sri

[2020-09-26 17:14] twigbranch commented on #2825
Could you reopen this please?

[2020-09-26 23:30] bradhawkins85 opened #2986 "Wrong Tech Support Hours"
The web page says tech support is open 24x7 however when I call I get a message the office is closed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91381a76-fc2d-c5c2-90f0-60eb7e21c5de
* Version Independent ID: 1f5231d0-9008-e858-b446-124a3801d68b
* Content: [Support information for Australia - Microsoft 365 admin](ht

[2020-09-27 14:52] flowl opened #2988 "Pages not clear / DKIM broken in Exchange Admin"
I am trying to [setup DKIM keys in Exchange 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide).

The section `Steps you need to do to manually set up DKIM` is incomplete and not working at all.

1. Publish two CNAME records for your custom domain in DNS

I have done that: https://answers.microsoft.com/en-us/msof

[2020-09-27 15:42] flowl commented on #2988
I got it all figured out after a dozen of exceptions and unexpected problems.

I list some:

1. You cannot put your own keys, created on your own machine, into Exchange via web interface. This route I expect it to be done but I was completely wrong. A security rule of thumb is: Do not trust keys you have not generated yourself. Microsoft is breaking this security rule.

2. Keys have to be created

[2020-09-27 16:18] ChrystalSolutions opened #2989 "Incorrect Name servers?"
Shouldn't Name Servers 3 and 4 be:
ns3.bdm.microsoftonline.com
ns4.bdm.microsoftonline.com

Current Name Servers 2, 3 and 4 are all:
ns2.bdm.microsoftonline.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c52d59a-7466-a5a8-7031-e4ea7b782f57
* Version Independent ID: e02a33bc-12c6-4192-cf3f-bcea567085c3
* Content: [

[2020-09-28 08:35] jermwormza opened #2990 "Error running Migration scripts"
[Enter feedback here]
When Running either script the following error is displayed, is there a prerequisite that was missed as neither the New-OrganizationRelationship or the Set-OrganizationRelationship commands appear to have this parameter. If I edit and replace with MailboxMoveDirection then a similar error relating to the OAuthApplicationId parameter is shown on the Resource side.

A parameter

[2020-09-28 12:37] yogkumgit commented on #2921
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jonathanrsantos1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-28 12:37] #2921 closed

[2020-09-28 12:39] ClearSkyyes commented on #2936
Thank you for the clarification!

[2020-09-28 12:39] yogkumgit commented on #2909
@msbemba Thank you very much for the contribution and updating the documentation with PR. @plamber Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-28 12:39] #2909 closed

[2020-09-28 12:44] yogkumgit commented on #2913
@msbemba Thank you very much for the contribution and updating the documentation with PR. @philippkahr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-28 12:44] #2913 closed

[2020-09-28 12:54] yogkumgit commented on #2975
@ClearSkyyes Thanks. closing with  #2936 reference.

[2020-09-28 12:54] #2975 closed

[2020-09-28 12:59] yogkumgit commented on #2943
@msbemba Thank you very much for the contribution and sharing this explanation. @joebeitler Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-28 12:59] #2943 closed

[2020-09-28 13:24] dahifi opened #2991 "Broken next step links for multifactor authentication page."
[Set up multi-factor authentication](https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication?view=o365-worldwide)

Three of the links listed under next steps are broken:

How to register for their additional verification method
How to deal with situations like a new smart phone
Troubleshoot MFA sign-ins

[2020-09-28 14:18] brenle opened #2992 "Restrictions table modification"
The table under "Compare restrictions for what actions are allowed or blocked" should have a column for Exchange.  While the notation indicates Exchange follows the same as "record-locked" column, there are certain things that are specific to SharePoint/OneDrive that don't translate to Exchange, such as "container admin".  Having a separate column for Exchange would be more explicit and help clari

[2020-09-28 14:39] cabtilx opened #2993 "SMTP also included"
Hi. This document references clients connecting to Exchange services but implies OWA/MAPI connections. Can you confirm that SMTP connections must also support TLS1.2 from October 15th?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f7e4139-a562-6b81-6584-277efc4f6103
* Version Independent ID: e812b33a-f183-8b6a-bab0-4

[2020-09-28 15:54] cfizz34 opened #2994 "I want to search for specific content items in the body of the email for which that I am looking for"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e83b77e5-e3ec-6a5f-1f09-e232e2dda483
* Version Independent ID: 0b263c72-95a2-d111-20a7-68857f288369
* Content: [Keyword queries and search conditions for Content Search - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/complia

[2020-09-28 15:54] cfizz34 opened #2995 "Please allow content search to find YAMMER only specific related items"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e83b77e5-e3ec-6a5f-1f09-e232e2dda483
* Version Independent ID: 0b263c72-95a2-d111-20a7-68857f288369
* Content: [Keyword queries and search conditions for Content Search - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/complia

[2020-09-28 16:16] pebaum commented on #2234
the article as written is correct

[2020-09-28 16:16] #2234 closed

[2020-09-28 17:07] markjjo commented on #2995
@cfizz34 Please see: https://docs.microsoft.com/en-us/microsoft-365/compliance/content-search?view=o365-worldwide#searching-yammer-groups

We'll look into adding similar content about searching Yammer in the keywords and queries topic.

[2020-09-28 17:07] #2995 closed

[2020-09-28 17:10] markjjo commented on #2994
@cfizz34 There is not a "body" search property. You can use keywords in the keyword box to return messages that contain that keyword in the body.

[2020-09-28 17:10] #2994 closed

[2020-09-28 17:27] cfizz34 commented on #2994
how do i do that with a content search?

[2020-09-28 17:38] markjjo commented on #2994
@cfizz34 See: https://docs.microsoft.com/en-us/microsoft-365/compliance/content-search?view=o365-worldwide#create-a-search

![image](https://user-images.githubusercontent.com/36746813/94466681-b2a72800-0176-11eb-9793-cac1859c2a2c.png)

[2020-09-28 17:49] cfizz34 commented on #2994
how do i do it via powershell like I do these?   ContentMatchQuery                     : (c:c)'(subject:"info") and (from:domain.com) and
                                        (sent>=01/26/2020)'

[2020-09-28 18:47] cabailey commented on #2992
Thanks for your feedback! Although updated recently for regulatory records, this table has been published since July and at that time, the consensus was that adding another column for Exchange that had essentially duplicate information or not applicable didn't add much value and made it harder to see the differences.  I'll continue to monitor and update if we get similar feedback from customers.

[2020-09-28 18:47] #2992 closed

[2020-09-29 01:35] scottsa-msft opened #3003 "Service admin is the incorrect name"
The Service Admin role has been renamed and is now Service Support Admin role as detailed here https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#service-support-administrator

Please update this document and any others that may have the wrong name.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-09-29 10:02] JohanssonMarkus commented on #2968
Ok make sence, will you upate the website with the same?
/Markus

[2020-09-29 10:20] msbemba commented on #2966
@Sirkkuw I had tested this in my tenant and looks like there is no place to get information about templates (Dotx, dotc, etc..) activated or used by users. Is there a way to find that out via M365 usage Analytics?

CC: @yogkumgit

Thanks
Sri

[2020-09-29 10:21] msbemba commented on #2963
@qiufasheng Thank you for your feedback. We will check with the author for more information and let you know.

Thanks
Sri

[2020-09-29 10:24] msbemba commented on #2963
@JoeDavies-MSFT I was not able to edit the IP or the URL's, Probably because this is a highly structured document. Could you please update the Overlapping URL's like *.sharepointonline.com,cdn.sharepointonline.com,privatecdn.sharepointonline.com,publiccdn.sharepointonline.com,spoprod-a.akamaihd.net,static.sharepointonline.com as there is *.sharepointonline.com covering all

CC: @yogkumgit

Thanks

[2020-09-29 10:33] msbemba commented on #2968
@JohanssonMarkus The document has been updated via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3009

Thanks
Sri

[2020-09-29 10:43] msbemba commented on #2901
@ingepepe Thank you for your feedback. I'm working with the author and will update you shortly.

Thanks
Sri

[2020-09-29 11:52] yogkumgit commented on #2784
@msbemba Thank you very much for the contribution and updating the documentation with PR. @greganth1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 11:52] #2784 closed

[2020-09-29 11:55] yogkumgit commented on #2910
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cnewcomer90 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 11:55] #2910 closed

[2020-09-29 11:56] yogkumgit commented on #2888
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jhonbike Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 11:56] #2888 closed

[2020-09-29 11:58] yogkumgit commented on #2856
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jhonbike
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 11:58] #2856 closed

[2020-09-29 12:00] yogkumgit commented on #2809
@msbemba Thank you very much for the contribution and updating the documentation with PR. @paweber8 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 12:00] #2809 closed

[2020-09-29 12:10] yogkumgit commented on #2708
@msbemba Thank you very much for the contribution and updating the documentation with PR. @marcbeacom Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 12:10] #2708 closed

[2020-09-29 12:15] yogkumgit commented on #2912
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GenerAhl Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 12:15] #2912 closed

[2020-09-29 12:17] yogkumgit commented on #2911
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ad0m Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 12:17] #2911 closed

[2020-09-29 12:46] dazinator opened #3010 "Sharepoint settings are under Policies --> Sharing"
Document states:

It should read

It confused me for a second because I couldn't see "Sharing" in the left navigation menu and had to route around for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147fb47a-99b2-f8ef-9ca6-35696d49c3fb
* Version Independent ID: b2f1b521-f231-48c2-b61f-f71bf9248d1c
* Content: [Collab

[2020-09-29 12:46] richard-artes opened #3011 "Please give minimum version of Powershell needed to run this script"
Please give minimum version of Powershell needed to run this script. I had a Server 2012R2 with Powershell 5.0.10586 but it didn't work with that (JSon error) until I upgraded to Powershell version  5.1.177 so I suspect there is a version in between somewhere that is minimum version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-09-29 12:53] yogkumgit commented on #2932
@msbemba Thank you very much for the contribution and updating the documentation with PR. @NeighborGeek Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-29 12:53] #2932 closed

[2020-09-29 13:27] henascim opened #3012 "How is the "oldest rule" calculated?"
Under the tittle "Only one retention label at a time", when it is mentioned that "If there are multiple rules that assign an auto-apply label and content meets the conditions of multiple rules, the retention label for the **oldest** rule is assigned.", how exactly is the oldest rule calculated? Is it by the creation date? Or is it by the "last modified" date?
The document could be a bit clearer in

[2020-09-29 13:51] msbemba commented on #3010
@dazinator Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3013

Thanks
Sri

[2020-09-29 13:55] msbemba commented on #3003
@scottsa-msft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3014

Thanks
Sri

[2020-09-29 14:03] msbemba commented on #2969
@cuthbertnibbles Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3015
Thanks
Sri

[2020-09-29 14:49] JoeDavies-MSFT commented on #2963
@qiufasheng I have forwarded your request to the product team that manages the list of endpoints for their consideration in a future update. Thanks for letting us know.

[2020-09-29 14:49] #2963 closed

[2020-09-29 16:07] StereoRocker opened #3017 "Broken link"
[Enter feedback here]
The link "How to deal with situations like a new smart phone" under Next Steps is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1e6c9a-9644-6d86-3962-d36bf1efd656
* Version Independent ID: 96142d6c-71de-6ea9-0361-dbec82647b15
* Content: [Set up multi-factor authentication for users - Mi

[2020-09-29 16:36] ceaton001 opened #3018 "Format of partner CSV"
[Enter feedback here]
Is the order of the fields in the CSV correct?
Document states "....or the OEM name, serial number, and model (in that column order)". All other references I've seen have the order Device serial number,,,Manufacturer name,Device model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd1cbbf-99b1-f

[2020-09-29 16:44] ii-batman opened #3019 "How to rollback DKIM"
[Enter feedback here]
I understand from that document how to enable DKIM on a custom domain (contoso.eu.com for example)
and there is also a section on how to [disable DKIM](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#disabling-the-dkim-signing-policy-for-a-custom-domain) - but that same section says:
_"Disabli

[2020-09-29 19:25] cabailey commented on #3012
@henascim  "Oldest" is by creation date, not modified date.  I'll clarify this in the docs, thanks for your question!

[2020-09-29 19:25] #3012 closed

[2020-09-29 19:27] cabailey commented on #2855
@bloodytourists  At the tenant level.  I'll look to clarify this in the docs, so thanks for your question.

[2020-09-29 19:27] #2855 closed

[2020-09-29 19:33] WorkShay commented on #2993
Are you referring to SMTPS? SMTP is at the application layer. TLS is the transportation layer. So if SMTP is being secured and transported using TLS (aka SMTPS) then it needs to support TLS 1.2 from Oct 15.

From: cabtilx <notifications@github.com>
Sent: Monday, September 28, 2020 7:40 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Shayna Mehta <Shayna.Mehta@mi

[2020-09-29 20:30] josuvil opened #3022 "Clarity on DLP Permissions"
The "Permissions for DLP Reports" section discusses three roles. But it is unclear to me if either one or all three are required. I'm assuming that any one of the three roles will allow you to view DLP reports, correct? Or are all three required? Also, I wonder if you can add which Azure AD Roles can be used to view DLP Reports. For example, you have Azure AD Compliance Admins, Compliance Data Adm

[2020-09-29 22:26] chvukosw commented on #2974
Hello - engineering is looking into filtering types that were impacted in the most recent deployment. We'll get back to you soon with an update, thanks.

[2020-09-29 22:42] chrisda commented on #2958
@NoahsMyBro, OK. Fixed.

Thanks for the feedback.

Closing.

[2020-09-29 22:42] #2958 closed

[2020-09-29 22:49] msbemba commented on #3011
@MikePlumleyMSFT Hello Mike, I was able to test this only with newer versions 5.1XX and it works. According to the PowerShell gallery, the minimum requirement to install AzureADPreview module is PowerShell 3.0  -https://www.powershellgallery.com/packages/AzureADPreview/2.0.2.117

Do you know if this was changed so that I can update the document with the minimum requirements?

Thanks
Sri

[2020-09-29 23:01] msbemba commented on #2991
@Sirkkuw  We have three links in the document which are broken and all are pointing to support.microsoft.com articles. It looks like these documents are broken and we don't have an equivalent document on docs.microsoft.com. Could you please tell us if these links can be removed or is this a temporary issue with some of these support.microsoft.com links?

Three links in question are:

1) How to reg

[2020-09-29 23:14] msbemba commented on #2990
@jermwormza Thank you for your feedback. I tested this and see all parameters that the script uses for set-organizationrelationship are available currently. I found that the document https://docs.microsoft.com/en-us/powershell/module/exchange/set-organizationrelationship?view=exchange-ps is not up to date with all new parameters, But the parameters like mailboxmovecapability and mailboxmovepublish

[2020-09-29 23:16] msbemba commented on #2989
@ChrystalSolutions Thank you for your feedback. We see the Name servers are updated correctly to

First nameserver | ns1.bdm.microsoftonline.com
Second nameserver | ns2.bdm.microsoftonline.com
Third nameserver | ns3.bdm.microsoftonline.com
Fourth nameserver | ns4.bdm.microsoftonline.com

@yogkumgit  There are no changes required in this document and the issue can be closed.

Thanks
Sri

[2020-09-29 23:21] #2989 closed

[2020-09-30 00:22] NoahsMyBro commented on #2958
Fantastic, thanks!

On Tue, Sep 29, 2020 at 6:42 PM Chris Davis <notifications@github.com>
wrote:

[2020-09-30 05:06] jermwormza commented on #2990
Hi Sri,

Thanks for your response, If I had not tested it so many times in the last
2 days I would think I was going mad, but just now when I was trying to
recreate the issue in order to obtain screenshots it is working and the
New-OrganizationRelationshipand the New-MigrationEndpoint now appear to
have the new parameters available.

Any idea what might have happened? Perhaps a delayed rollout or

[2020-09-30 05:20] jermwormza commented on #2990
Hi again,

looks like I spoke too soon, the parameters are on my target tenant
powermite.onmicrosoft.com but not on my resource tenant
bearingsintl.onmicrosoft.com

This is the error I'm getting
[image: Screenshot 2020-09-30 at 07.14.06.png]

Jeremy Pointer
jermwormza@gmail.com

On Wed, 30 Sep 2020 at 07:06, Jeremy Pointer <jermwormza@gmail.com> wrote:

[2020-09-30 08:49] noraisk opened #3026 "Spear Phishing (Credentials Harvest) sites detected by browsers"
I am reporting built-in browser detection about phishing sites from your provided listing at "Attack Simulator in ATP".
1) Please remove detectable ones from the listing or replace with new ones
2) Please consider development where customer can add its own bought domain for such use case.

1. Attackers on portal.hardwarecheck.net may trick you into doing something dangerous like installing softwar

[2020-09-30 11:37] yogkumgit commented on #2857
@msbemba Thank you very much for the contribution and collaborating with author. @malidgi as author has closed the PR, we proceed closing this issue. Changes will be reflected soo, Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-30 11:37] #2857 closed

[2020-09-30 11:39] yogkumgit commented on #2882
@msbemba Thank you very much for the contribution and updating the documentation with PR. @balivo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-30 11:39] #2882 closed

[2020-09-30 11:41] yogkumgit commented on #2777
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ianalderman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-30 11:41] #2777 closed

[2020-09-30 12:30] LaiClaudio commented on #2722
So sorry but I get a few problems with the computer and I didn't have any time to replay.
I just try to understand my self how to spend time and learn all this work that you guys do.
is very hard for me because I'm Italian and is all in English.

[2020-09-30 12:49] msbemba commented on #2722
@LaiClaudio That is totally understandable. We are more than happy to help you in case you think the document needs modification. If you have any technical queries on how this works. I'd say the best way to handle that would be to contact technical support via the Need help option on the admin center. The technical support has multiple language options.

Thanks
Sri

[2020-09-30 12:54] brucelaing opened #3028 "URL incorrect"
The URL for Email issues for priority accounts, returns a 404 page error.

https://docs.microsoft.com/en-us/Exchange/mail-flow-best-practices/mail-flow-insights/mfi-email-issues-for-priority-accounts

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fe9020-6803-bee8-7fcc-fae3971e6feb
* Version Ind

[2020-09-30 13:03] MikePlumleyMSFT commented on #3011
@msbemba the PowerShell gallery is correct place to document PowerShell versions required for its modules.

[2020-09-30 15:53] ecomsetters opened #3029 "Bookings connect to Facebook"
[Enter feedback here]
I was sent to this page from Microsoft Bookings by clicking the Connect button where the option to Connect Microsoft Bookings to Facebook is but, this article is not showing how to do this anyway...

I've tried check other sites and I can see a previous version of Bookings really was integrated with Facebook but apparently not anymore... is that right?

---
#### Document deta

[2020-09-30 16:14] kerbos opened #3030 "SSPR Options have been updated"
In step 2, the option to set/update additional phone/email has moved from **Settings & Privacy** to the **Security Info** section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecf0dbf6-b2f8-5370-fd04-f7a13073835a
* Version Independent ID: 8b58ecef-f957-4360-08a5-80d6fe8886e3
* Content: [Update your admin phone number

[2020-09-30 16:16] Sirkkuw commented on #2991
@yogkumgit please take out for now - I am following up with the team as to why these are not redirected.

[2020-09-30 16:28] msbemba commented on #2991
@Sirkkuw We have removed the links via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3031

@dahifi Thank you for your feedback. We have found these links to be broken and removed from the document. Once these links are restored, The Author will be updating the document as well.

Thanks
Sri

[2020-09-30 17:36] joemccla opened #3032 "Auto-apply labels and precedence"
[Enter feedback here]
The rules here: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention?view=o365-worldwide#the-principles-of-retention-or-what-takes-precedence

Should mention that auto-apply labels still take precidence over broad location specific retention policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-09-30 18:48] cabailey commented on #3032
Hi @joemccla - are you referring to this?

"If a retention policy includes a specific location, such as a specific user's mailbox or OneDrive account, that retention policy takes precedence over another retention policy that applies to all users' mailboxes or OneDrive accounts but doesn't specifically include that user's mailbox."

Or do you mean all auto-apply polices that use labels take precede

[2020-09-30 19:19] CCDanC opened #3035 "Broken Link"
The "How to register for their additional verification method" link at the end of the article is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1e6c9a-9644-6d86-3962-d36bf1efd656
* Version Independent ID: 96142d6c-71de-6ea9-0361-dbec82647b15
* Content: [Set up multi-factor authentication for users - Microsoft

[2020-09-30 19:39] msbemba commented on #3011
Is there any contact to make these changes on the PowerShell Gallery or get a confirmation if the existing minimum requirement (PowerShell 3.0) ?

From: Mike Plumley <notifications@github.com>
Sent: Wednesday, September 30, 2020 6:34 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Sriraman M S <msbemba@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-09-30 19:59] msbemba commented on #2990
@jermwormza Thank you for your feedback. The Preview version is available on all tenants and the tenant administrators in both source and target tenants can move mailboxes between the tenants. This could more of a support-related since you don't see it only on one tenant. I'd recommend you to contact Support via the need help option in the M365 admin center to see if this can be fixed from the bac

[2020-09-30 21:30] Noah-de-Wit opened #3036 "broken link"
The link on "Email issues for priority accounts" is broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 134a0b6c-728a-d952-2f1c-a6fd868db10c
* Version Independent ID: 640bb6ef-2003-c604-9d25-380b774cbbc0
* Content: [Manage and monitor priority accounts - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft

[2020-10-01 04:44] jermwormza commented on #2990
Hi Sri,

The authors of the preparation scripts have also responded (text in yellow
block) on the following thread:
https://github.com/microsoft/cross-tenant/issues/10.
This  seems to confirm my suspicion that it is indeed a case of the build
version on the tenants which I have since confirmed (are/were) different, I
haven't checked again this morning yet.

[image: image.png]
Regards

Jeremy Point

[2020-10-01 05:00] jasonseatosky opened #3038 "Data Move No Longer Allowed"
For MSP's who are using delegated admin there was no notification of a data move deadline. The deadline to migrate data to the Canadian data centre has now passed. We have multiple government clients who NEED their data migrated to the Canadian servers and M365 support is not willing to assist us.

How can we put in a request to move the clients data? Who can assist us with this request? I'm grasp

[2020-10-01 08:56] yogkumgit commented on #3010
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dazinator Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-01 08:56] #3010 closed

[2020-10-01 09:01] yogkumgit commented on #2967
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Appie1701 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-01 09:01] #2967 closed

[2020-10-01 09:06] aldoug opened #3039 "Wording clarification"
[10:05 AM] Alisdair Douglas
    25 seconds between receipt and delivery on the detailed trace,  This kind of says it but really badly worded

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/atp-safe-attachments?view=o365-worldwide#dynamic-delivery-in-safe-attachments-policies

There are scenarios **where Safe Attachments is unable to scan messages:**

Messages in public

[2020-10-01 10:25] yogkumgit commented on #2901
@JoeDavies-MSFT Please advise us to resolve this issue. Thanks.

[2020-10-01 10:50] #2242 closed

[2020-10-01 10:56] yogkumgit commented on #2941
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-01 10:56] #2941 closed

[2020-10-01 11:02] yogkumgit commented on #2959
@msbemba Thank you very much for the contribution and digging deep into it.  @Dakineintx We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documen

[2020-10-01 11:03] #2959 closed

[2020-10-01 11:05] msbemba commented on #2990
@jermwormza Thank you for the update. Looks like this will be fixed in the next build in the coming weeks. Once again thank you for this valuable Feedback.

@yogkumgit  There are no changes required on the document as this is a build issue confirmed by PG and they are fixing it. Please close this issue.

Thanks
Sri

[2020-10-01 12:14] dkotars opened #3040 "Consider updating documentation to reflect limitations on adding domains to protect"
When adding domains to protect, the GUI indicates that you cannot add more than 20 domains, and PowerShell seems to limit this to 50 domains.  It may be worth adding this to this documentation for awareness.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70ea08aa-4520-8f48-93e2-0ce74cd43298
* Version Independent ID: 7b

[2020-10-01 14:39] bt101 opened #3041 "Microsoft 365 Apps Usage Report - Web Column (formerly Active on Web) is always No"
It's unclear where one can report an issue with the actual Office 365 Admin Portal Usage Reports but I am hoping this will get the attention of the appropriate team.

Since late June 2020, potentially linked to when the activity values were changed from True/False to Yes/No, the Web column (formerly Is Active on Web) is always "No" for every user for every Office 365 Tenant regardless of their act

[2020-10-01 15:52] cvanelli-ducks commented on #2833
How long does it take before this change is reflected in the page?

[2020-10-01 16:12] chrisda commented on #3039
@aldoug, the original statement from the now removed Dynamic Delivery only topic said this:

So I took that to mean more about Safe Attachments in its entirety and less about Dynamic Delivery specifically.

But you're saying that's incorrect?

[2020-10-01 16:19] zwiddoss opened #3043 "How to sync into my Azure SQL Server"
Is there a way to sync the email activity data from the 365 admin portal to a table in sql server without having to upload a flat file?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be45e626-ed67-3f48-1a80-5d69f938638b
* Version Independent ID: de7bbfaa-17fb-01eb-fd74-a854d615dc23
* Content: [Mi

[2020-10-01 16:24] chrisda commented on #3040
@dkotars, done. Thanks for the feedback.

Closing

[2020-10-01 16:24] #3040 closed

[2020-10-01 16:28] sinnamingrrl opened #3044 "Limit?"
Is there a limit to how many priority accounts can be monitored. Please call this out in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 134a0b6c-728a-d952-2f1c-a6fd868db10c
* Version Independent ID: 640bb6ef-2003-c604-9d25-380b774cbbc0
* Content: [Manage and monitor priority accounts - Microsoft 365 admin](ht

[2020-10-01 17:05] aldoug commented on #3039
I would say it’s the other way round, safe Attachments will work in those scenario’s, only dynamic delivery wont. If they disable dynamic delivery the scan would complete before delivery and the following would be unaffected (im not sure on expectations with public folders)

•  Messages that are routed out of and then back into a user's mailbox using custom rules.
•  Messages that are moved (autom

[2020-10-01 17:37] chrisda commented on #3039
@aldoug, I reworded and refactored that section to only apply to Dynamic Delivery.

Thanks for the feedback.

Closing

[2020-10-01 17:37] #3039 closed

[2020-10-01 17:43] GregDSmith opened #3046 "Endpoints need to be updated for Forms"
[Enter feedback here]
The endpoints need to be updated for "Skype for Business Online and Microsoft Teams" and "Microsoft 365 Common and Office Online". When a user tries to access a "Form from within the Teams windows client they also need access to "forms.office.com". id 75 makes no mention of this URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-10-01 17:55] Sirkkuw commented on #2991
Can you replace the three with this one for now:
https://support.microsoft.com/en-us/help/4577374/what-is-multifactor-authentication

From: Sriraman M S <notifications@github.com>
Sent: Tuesday, September 29, 2020 4:01 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Sirkku Willie <sirkkuw@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microso

[2020-10-01 17:58] #2349 closed

[2020-10-01 19:15] usvjosh opened #3049 "Question on mobile devices"
Will the command to turn focused inbox off (Set-OrganizationConfig -FocusedInboxOn $false) affect mobile devices? We would like to notify our end users of the change we are about to make but it appears that this setting does not work for mobile devices. I'd just like to know if it should or not. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-10-01 20:30] msbemba commented on #2991
@Sirkkuw  I have added the URL as per your suggestion.

Thanks
Sri

[2020-10-01 21:15] msbemba commented on #2382
@GaneshPrabuBaburaj We have got a confirmation from the Product group and Engineering team that the limit is 7000. A user can be a member of 7000 Groups. Author @MikePlumleyMSFT  has merged the PR and the document should be live in the next 24 hours.

Thanks
Sri

[2020-10-01 21:16] msbemba commented on #2833
@cvanelli-ducks Once the PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2952 is merged it takes 24 to 48 hours for the changes to reflect in the live document.

Thanks
Sri

[2020-10-01 21:31] cvanelli-ducks commented on #2833
It's been a week. So, let me ask the right question. When will the PR##2952 be merged?

[2020-10-01 21:34] msbemba commented on #2986
@bradhawkins85 Thank you for your feedback. I'll check with the Author to see if we can verify with the concerned team before we can make this change.

Thanks
Sri

[2020-10-01 21:36] msbemba commented on #2986
@cmcatee-MSFT I tested it at 4 PM EST i.e. 6 AM AEST and it did not work. It worked later at 9:30 AM AEST. Could you please help us in identifying the correct timings so that the document can be updated accordingly.

Thanks
Sri

[2020-10-01 21:43] msbemba commented on #2988
@flowl Thank you for your feedback. Sorry that you had to go through a lot before getting this solved. But to answer a few questions and reiterate things that you mentioned above

To Enable DKIM for a Custom domain

1)Add the DNS Entry.
2)Enable DKIM Via EAC or Powershell.
3)Test to Confirm DKIM signing is configured properly for Microsoft 365.

Hope this helps!

Thanks
Sri

[2020-10-01 21:46] cmcatee-MSFT commented on #2986
@msbemba I've escalated this internally to have it investigated.

[2020-10-01 21:46] msbemba commented on #2993
@yogkumgit There are no changes in this document. This can be closed as this is answered.

Thanks
Sri

[2020-10-01 21:54] msbemba commented on #2833
@cmcatee-MSFT Could you please help us merge #https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2952 ?

Thanks
Sri

[2020-10-01 22:09] cmcatee-MSFT commented on #2986
@bradhawkins85  or @msbemba We need a bit more information to know where the call is routing to. Would you please tell me which number you dialed, what options you selected in the call menu, and what time you tried to call?

[2020-10-01 22:31] bradhawkins85 commented on #2986
I have replied via email, thank you.

[2020-10-02 08:17] aldoug commented on #3039
Nice one Chris, thanks

Alisdair Douglas
Support Escal Eng
Eq-Uk Gtsc Bizapps Server Customer Services and Support
Office: +44 (118) 9095190
aldoug@microsoft.com<mailto:aldoug@microsoft.com>
Working hours: Monday – Friday 08:00 - 16:30
[Microsoft Logo]
Backup | Jeroen Dronkers (jedronke@microsoft.com<mailto:jedronke@microsoft.com>)
Team Manager | Frances Early (francese@microsoft.com<mailto:france

[2020-10-02 09:53] write4joy opened #3053 "Product name and broken link"
[Enter feedback here]
Hi.

In the article you write Windows Defender ATP, which is a 2 generation old name. Since september 22nd the correct name is Microsoft Defender for Endpoints.

Under the Feedback heading the link to "EU Model Clauses FAQ for Dynamics 365 and Office 365" leads to a page stating that the content is not available.

Thanks,

Predrag

---
#### Document details

⚠ *Do not edit th

[2020-10-02 10:23] GaneshPrabuBaburaj commented on #2382
Hi @msbemba , Thanks for the explanation. Since we suggest 7000 groups as soft limit, If the user want to be part of more than 7000 groups (SharePoint), Can the SharePoint admin increase the limit? If there is no option to increase the limit by admin, will the user face some difficulty in SharePoint if it exceed the soft limit ?

[2020-10-02 12:21] yogkumgit commented on #2990
@msbemba Thank you very much for the contribution and sharing this explanation. @jermwormza Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-02 12:21] #2990 closed

[2020-10-02 12:26] yogkumgit commented on #2833
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cvanelli-ducks Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-02 12:26] #2833 closed

[2020-10-02 12:38] yogkumgit commented on #2993
@msbemba Thank you very much for the contribution and sharing this explanation. @cabtilx Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-02 12:38] #2993 closed

[2020-10-02 13:59] cvanelli-ducks commented on #2833
It IS helpful for me. Thank you for such an open way to correct the documentation!

Thanks
Chris

[2020-10-02 16:07] srchauhan29 opened #3056 "clarification require for option "Automatic""
[Enter feedback here]
Hello,

While Automatic forwarding is set to "Automatic" and I do not have any ETR rule or Remote Domain defined to block, in that case forwarding is working from mailbox rule or any other method. While below line in the article says that the system will block automatic external forwarding.

Can you please test the scenario and confirm my findings? If it is correct then kindl

[2020-10-02 18:24] msbemba commented on #3053
@write4joy  Thank you for your feedback. We have corrected the Name in the document (PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3057) and will work with the author to get the updated link.

Thanks
Sri

[2020-10-02 18:26] msbemba commented on #3053
@robmazz The reference  Link to "EU Model Clauses FAQ for Dynamics 365 and Office 365" seems to be broken. I do not have another Microsoft document to replace it. Is it ok to remove the broken link or would you be able to get this fixed with the concerned team?

Thanks
Sri

[2020-10-02 18:31] msbemba commented on #3049
@usvjosh You are correct. This command turns it Off at the Mailbox level in exchange online. So the users no matter what the client or device they are using it inherits the setting from the server so it should not show up on mobile devices as well.

Hope this helps!

Thanks
Sri

[2020-10-02 18:40] msbemba commented on #3044
@sinnamingrrl Thank you for your feedback. Apparently, You can actively monitor only up to 250 accounts. We have added this to the document under https://docs.microsoft.com/en-us/microsoft-365/admin/setup/priority-accounts?view=o365-worldwide#monitor-your-priority-accounts

Hope this helps!

@yogkumgit There are no changes required in the document. We can close this issue

Thanks
Sri

[2020-10-02 19:17] msbemba commented on #3017
@StereoRocker Thank you for your feedback. We are working with the author to see if the link can be replaced or removed.
I will update the document shortly.

Thanks
Sri

[2020-10-02 19:20] msbemba commented on #3019
@ii-batman THank you for your feedback. It is correct that Microsoft will automatically apply the default policy for your domain after disabling the signing policy. if you do not want that to happen, You are correct on the steps-- Disable  DKIM and delete the DNS records( both the Cname records) from the public DNS.

Hope this Helps!

@yogkumgit  No changes are required on the document and this ca

[2020-10-02 19:22] msbemba commented on #3026
@noraisk Thank you for your feedback. Could you please provide us with the document that you are referring to?

[2020-10-02 19:40] noraisk commented on #3026
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/attack-simulator

and those urls needs to be fixed or cleaned up in real attack simulator as well.

[2020-10-02 20:15] msbemba commented on #3030
@kerbos Thank you for the feedback. The settings are under **My account** \> **Settings and Privacy*-->In the **Privacy** Tab under  **Contact Preferences** section, select **Contact preferences for admins only**. I have made the changes Via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3058

The settings under Security info is to add an additional verification method for a password

[2020-10-02 20:16] msbemba commented on #3035
@CCDanC Thank you for your feedback. We are fixing this support document in the backend and will let you know once that is complete.

Thanks
Sri

[2020-10-02 20:29] msbemba commented on #2382
@GaneshPrabuBaburaj There is no option for the SharePoint admin to increase this limit. When you go beyond 7000 it can place stress on SharePoint and users/admins could face some difficultly accessing.

We are sorry about the delay in getting this documented. We had to verify a few facts and do testing before this went live. We really appreciate your feedback, Keep providing such feedbacks.

@yogk

[2020-10-02 20:49] msbemba commented on #3038
@jasonseatosky Thank you for your feedback. Yes, I see the deadline was June 30, 2020. Ideally, it needs to be done via the M365 support as we don't have much access to this. However, I will check with the author to see if there is a possibility to make this happen. I shall update you shortly.

Thanks
Sri

[2020-10-02 20:57] msbemba commented on #3041
@bt101 Thank you for your feedback. I'm assuming this is more related to the document https://docs.microsoft.com/en-us/microsoft-365/admin/activity-reports/microsoft365-apps-usage?view=o365-worldwide . I'll test the report and make changes to the document if need be.

Thanks
Sri

[2020-10-02 21:00] msbemba commented on #3036
@Noah-de-Wit Thank you for your feedback. The reference document has been modified hence it leads to a broken link

 The hyperlink has been removed from the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3060 to void confusion and this will be updated once there is a relevant document ready.

Thanks
Sri

[2020-10-02 21:05] msbemba commented on #3046
@GregDSmith Thank you for your feedback. Looks like the URL is missing from the list. I'll work with the author and get this updated.

[2020-10-02 21:07] msbemba commented on #3046
@dmwmsft We need help in adding the URL Forms.office.com to ID 75 as Teams client needs access to it. Could you please help us in adding the URL?

Thanks
Sri

[2020-10-02 21:13] dmwmsft commented on #3046
I am not sure what you are referring to?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sriraman M S <notifications@github.com>
Sent: Friday, October 2, 2020 2:08:04 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Dean Wierman <Dean.Wierman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/micros

[2020-10-02 21:22] msbemba commented on #3046
Sorry I meant to add @JoeDavies-MSFT  to this.

[2020-10-02 21:36] msbemba commented on #3018
@ceaton001 Thank you for your feedback. We have corrected the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3061

Thanks
Sri

[2020-10-02 23:27] Rob-ab opened #3062 "Problem with EFT Account Number in Indonesia"
There is a problem with the EFT account number in Indonesia. When I want to pay for my subscription via mobile banking, it tells me that the Citibank Account Number is not available ("tidak tersedia"). Can you fix this problem please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8aa8e333-0044-00fd-43c9-3fb3503ce8fc
*

[2020-10-02 23:57] GaneshPrabuBaburaj commented on #2382
Hi @msbemba , Appreciate your response! Thanks!

[2020-10-03 09:13] teamneroblanco opened #3063 "Hybrid url domain missing"
The hybrid wizard has changed its location to https://shcwreleaseprod.blob.core.windows.net which isn’t in the list for number 9

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5de1e69c-aee8-2cd4-3f69-5288253d9b2a
* Version Independent ID: 3bcee52a-c7be-6ce3-05a9-2409ec30661c
* Content: [Additional endpoints not include

[2020-10-03 16:49] larryrst opened #3064 "missing key data o forwarding shared mailbox"
The most common act of terminating an employee is the need to have future mail go to another employee.  This article is good, but does not detail how best to do that.  I believe that that process should be after changing the password or blocking the user: convert the user to a shared mailbox; 2) turn forwarding on for the shared mailbox, and chose to not leave a copy (optional); 3) remove license

[2020-10-03 17:12] DragosC21 opened #3065 "Planning to add the ability to run Get cmdlets under a reader role for the MSCommerce PS module?"
see title

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5082f7ed-ad40-04c1-5c6c-59e67b253257
* Version Independent ID: 3d8b109d-285c-952f-2fa4-9fa244c2a3f9
* Content: [Use AllowSelfServicePurchase for the MSCommerce PowerShell module](https://docs.microsoft.com/en-us/microsoft-365/commerce/subscriptions/allowselfservi

[2020-10-03 17:53] GiantCrocodile opened #3066 "AI Builder credits relation in SharePoint Syntex unclear"
Hello,

it's unclear to me how and when AI Builder credits are consumed and thus it's unclear for me what the SharePoint Syntex plan includes and when additional fees/costs occur due to AI Builder credits consumption.

Please explain this better as the relevance of the current paragraph about AI Builder credits is unclear from reading the article.

Thank you!

Best Regards,

---
#### Document Deta

[2020-10-03 18:09] juntakata opened #3067 "*.msappproxy.net is removed from #56"
Since 2020-08-28, *.msappproxy.net is removed from #56 in Office 365 IP address and port range page. Why did you remove this URL from the list?

Azure AD Connect uses this *msappproxy.net when it rolls over the Kerberos key for the Seamless SSO feature. Azure AD Connect access *.msappproxy.net when [Update-AzureADSSOForest command is executed](https://docs.microsoft.com/en-us/azure/active-director

[2020-10-04 18:29] GiantCrocodile opened #3068 "Data move for a customer in Germany"
Hello,

according to the article a customer from Germany should be able to have a data move from European Union to Germany from 1st of October 2020 on. I checked the tenant's organization profile and there's no option to request the data move.

Did the start date for the data move request get delayed?

Is there some other requirement that needs to be fulfilled but isn't mentioned in the article? T

[2020-10-04 18:41] andybergen commented on #3068
Delayed slightly. Customers will receive a notification in Message Center when it is enabled.

________________________________
From: Clemens Prill <notifications@github.com>
Sent: Sunday, October 4, 2020 11:29:56 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Andy Bergen <andyber@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/micr

[2020-10-04 18:44] GiantCrocodile commented on #3068
@andybergen Thank you for this excellent response time! This is something a lot of customers, including me, look for and thus this is awaited for a long time. Great to hear. If I should close this issue as no article update is needed, just let me know.

[2020-10-04 19:24] ii-batman commented on #3019
@msbemba  @yogkumgit
Before you close can you expand more on the "My domain MS Default Policy"?
What is the policy set as and how can I find out more about what is my Domain Default Policy?
Thanks for the assistance.

[2020-10-04 19:28] andybergen commented on #3068
Article update TBD, if required I will take care of it by end of day Tues. thanks.

________________________________
From: Clemens Prill <notifications@github.com>
Sent: Sunday, October 4, 2020 11:44:19 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Andy Bergen <andyber@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-3

[2020-10-04 19:47] Scribliotech opened #3069 "Page wrong: Junk Reporting doesn't install on current versions of Outlook"
When trying to install the Junk Reporting Add-in for Office, it responds with a window titled, "Microsoft Junk E-mail Reporting Add-in". The text in the window reads, "The installation is unable to proceed due to missing dependencies. Please verify you have all the pre-requisites installed on your machine."

I assume this is because it doesn't work with Outlook after Outlook 2016, and Microsoft/Of

[2020-10-05 06:38] Mr-K07 opened #3071 "MS article needs revision"
The steps described in the article do not work. When going to https://outlook.office.com/people/group/deleted , there is no deleted Microsoft 365 group despite the fact that I was an owner of the group when I deleted it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d49db57-a705-20aa-e98d-5b3d6bbbf9fd
* Version Indep

[2020-10-05 08:42] kaidoloor opened #3072 "Page lacks crucial info"
This page: https://docs.microsoft.com/en-us/microsoft-365/admin/support/estonia?view=o365-worldwide lacks information on how to add organisations to my account. Lets say I start a new business. I want to have a new OneDrive for business for that. How to achieve having a new organisation?

br,
Kaido

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-10-05 09:39] flowl commented on #2988
Thank you Sri for your reply, tbh, having it setup once, it works like a charm.

This is the most confusing part:

DKIM keys can't be generated through EAC.

The correct way is:

1. Create keypair using PowerShell
2. Add CNAME DNS entry (no TXT required)
3. Enable DKIM in EAC
4. Test and confirm signing

[2020-10-05 12:11] msbemba commented on #3026
@noraisk Thank you for your feedback. I'll test and update the document if need be.

Thanks
Sri

[2020-10-05 12:16] yogkumgit commented on #3053
@robmazz Please help us with your answer. Thanks.

[2020-10-05 12:17] yogkumgit commented on #3049
@msbemba Thank you very much for the contribution and sharing this explanation. @usvjosh Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-05 12:17] #3049 closed

[2020-10-05 12:18] msbemba commented on #3019
@ii-batman Thank you for your feedback.  Default policy means Microsoft 365 automatically creates a 1024-bit DKIM public key for your default domain and the associated private key which we store internally in our datacenter, It is not available to users/admins via Powershell or EAC. However, you can view them in the header information.

If you do not enable DKIM or disable DKIM (and delete the DNS

[2020-10-05 12:24] yogkumgit commented on #3044
@msbemba Thank you very much for the contribution and sharing this explanation. @sinnamingrrl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-05 12:24] #3044 closed

[2020-10-05 12:27] yogkumgit commented on #3019
@msbemba Thank you very much for the contribution and sharing this explanation. @ii-batman Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-05 12:27] #3019 closed

[2020-10-05 12:27] ii-batman commented on #3019
@msbemba
Thank you for your quick reply.
To finallise this is my understanding

- If no DKIM is enabled then the Default Policy applies to contoso365.onmicrosoft.com only and **not to my custom domains**
- If I enable DKIM for my custom domain (contoso.eu.com) I will need the selector keys and public DNS records
- If I want to disable DKIM for my custom domain (contoso.eu.com) then all I need to t

[2020-10-05 12:28] msbemba commented on #3043
@zwiddoss Thank you for your feedback. The Email activity data is only available on the reports page in  M365 admin center. There are ways to connect or call the M365 Messaging system via logic apps that are used in Azure Sentinel. More information can be found in the blog -https://techcommunity.microsoft.com/t5/azure-sentinel/office-365-email-activity-and-data-exfiltration-detection/ba-p/1169652

[2020-10-05 12:31] msbemba commented on #3019
@ii-batman That is correct.  If you enable DKIM yourself, the domain will be the same as the domain in the From: address, If you don't, it will not align and instead will use your organization's initial domain.

Thanks
Sri

[2020-10-05 12:35] yogkumgit commented on #2382
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GaneshPrabuBaburaj Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-05 12:35] #2382 closed

[2020-10-05 12:43] yogkumgit commented on #3046
@JoeDavies-MSFT please answer and help us. Thanks.

[2020-10-05 16:48] JoeDavies-MSFT commented on #3046
@GregDSmith The forms.office.com FQDN is covered by the *.office.com FQDN in table entry 147. Thanks for your question.

[2020-10-05 16:48] #3046 closed

[2020-10-05 16:49] kwekuako commented on #3049
Just adding a caveat that the Powershell command does not block individual users from enabling Focused Inbox (on Mobile or any other endpoint) so while Focused Inbox should be off by default (when a user opens up the client), users can still enable it on Mobile, OWA, Desktop. Hope that helps as well.

[2020-10-05 16:52] JoeDavies-MSFT commented on #3063
@teamneroblanco The shcwreleaseprod.blob.core.windows.net FQDN is covered by the *.blob.core.windows.net FQDN in row 67 of the https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide article. Thanks for you question.

[2020-10-05 16:52] #3063 closed

[2020-10-05 16:53] msbemba commented on #3049
@kwekuako  Thank you for that additional information.

[2020-10-05 16:59] msbemba commented on #3046
Thank you @JoeDavies-MSFT .

[2020-10-05 17:23] JoeDavies-MSFT commented on #2988
@flowl Can you add your conclusion above as an issue to the https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide article? The author will investigate and update its content appropriately.

Also, does the https://docs.microsoft.com/en-us/microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-p

[2020-10-05 17:56] usvjosh commented on #3049
I'm not seeing the expected behavior of focused inbox being disabled for mobile devices. It works fine for us with the full Outlook application on Windows though. I may engage with Microsoft support to troubleshoot this further. We are using Intune to manage this setting on our mobile devices as well. So there could be a conflict in the configuration there.

Thank you @msbemba  and @kwekuako for t

[2020-10-05 17:58] msbemba commented on #3049
@usvjosh Thank you for the update. In case there are changes need to the document please do let us know.

[2020-10-05 18:33] JoeDavies-MSFT commented on #2955
@andrePKI The updates to the article for your request are now published in the "View account synchronization status" section. Thanks to @msbemba for adding this new content. Thanks for your request and the opportunity to improve this article.

[2020-10-05 18:33] #2955 closed

[2020-10-05 19:48] DeanGross opened #3075 "old information-financial services blog"
[Enter feedback here]
The financial services blog that is referenced on this page has not been updated in 2 years. Was that blog moved to another location or abandonded?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99ca331a-1909-1e88-0864-ba584551c0bf
* Version Independent ID: 9748f59e-903b-c3d8-043f-11a939cba24d
* C

[2020-10-05 20:38] flowl commented on #2988
Hello @JoeDavies-MSFT,

I couldn't get things to work on OSX and on Windows there is one dependency I had to install:

[2020-10-05 21:14] flowl opened #3076 "Steps you need to do to manually set up DKIM"
Steps you need to do to manually set up DKIM

1. [Publish two CNAME records for your custom domain in DNS](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#Publish2CNAME)

2. [Enable DKIM signing for your custom domain](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-

[2020-10-05 21:49] JoeDavies-MSFT commented on #2901
@ingepepe Please see this current version of the content of the article you reference above: https://docs.microsoft.com/en-us/Exchange/recipients-in-exchange-online/manage-user-mailboxes/recover-deleted-messages

We intend to delete the older version of the article and redirect its URL to the current version. Please let us know if the more current version of the article addresses your issue. Thank

[2020-10-06 03:35] yogkumgit commented on #3043
@msbemba Thank you very much for the contribution and sharing this explanation. @zwiddoss Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-06 03:35] #3043 closed

[2020-10-06 04:13] SvenBell opened #3077 "Outdated content not compatible with MFA"
Invoke-CompatibilityCheck poweshell command doesn't seem to work with MFA which majority of tenant have to use. Could this page and/or powershell be updated please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ace7ce-d26f-68d0-2206-525acc513322
* Version Independent ID: 19e8d325-8074-2878-b864-cf0802e23cb0
* Conten

[2020-10-06 04:17] SvenBell opened #3078 "Outdated page contents, missing Add-ins"
Outdated page contents don't match match current version of O365 Admin Centre. Add-ins page is missing and Report message add-in has recently disapeared from Outlook having been deployed previously. How does one add/re-add with current version of O365 Admin Centre?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ace7c

[2020-10-06 04:41] yogkumgit commented on #2956
@TinaMcN Please update if the issue is fixed. Thanks.

[2020-10-06 04:43] yogkumgit commented on #2877
same as #2876 , closing.

[2020-10-06 04:43] #2877 closed

[2020-10-06 12:47] noraisk commented on #3026
Another detail: attack tool sent phished emails are getting to default O365 junk.

[2020-10-06 14:25] s3kumar6 opened #3079 "Dear Team, I would like to know that if Microsoft is still firm with the dates. And what will happen to the clients who have not updated themselves to the TLS 1.2. Thanks Sudhakar"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec089a7-8f7b-d4d9-a763-e8abd73fb2c9
* Version Independent ID: 41ba8999-f0ea-5847-afad-8620dd83492a
* Content: [TLS 1.0 and 1.1 deprecation for Office 365 - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/tls-1.0-an

[2020-10-06 15:21] JoeDavies-MSFT commented on #3067
@juntakata The *.msappproxy.net endpoint is described here: https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso-quick-start#step-1-check-the-prerequisites and is only needed when you enable SSO. It is not required for user sign-ins, therefore it is not in the main list of endpoints. Thanks for your question.

[2020-10-06 16:42] DeanGross opened #3080 "Old demo"
The left side navigation contains a link to "Watch an extended overview of customizing DLP" that points to https://go.microsoft.com/fwlink/?linkid=852306 which is 3 years old. Can this be updated to something more current?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9616c17-a6cb-3b45-dbc6-07b4932bf7c7
* Version Ind

[2020-10-06 17:01] cabailey commented on #3080
Not sure exactly where in the TOC this is but the issue is not with this page, so assigning to @chrfox

[2020-10-06 17:22] chrisda commented on #3069
@Scribliotech, several months ago, I was able to successfully install the add-in on my own Windows 10 PC with Outlook 2019 (that's where I got the screenshots). Just now, I uninstalled and reinstalled the add-in without error. According to the topic, the important (only?) prerequisite is the .NET Framework 2.0 (which you enable in Turn Windows features on or off in Control Panel in Windows 10). I

[2020-10-06 17:42] cmcatee-MSFT commented on #3072
@kaidoloor The page you referenced is only intended to provide support contact information for Estonia. For adding a new organization, you'd have to look at the overall admin content [here](https://docs.microsoft.com/microsoft-365/admin/setup/).

If you bought your subscription directly from the Microsoft web site, you can't add a new organization to your account. You need to set up a new account

[2020-10-06 18:00] cmcatee-MSFT commented on #2986
@msbemba Can you please try the call again and then send the call information to me directly?

CFN/TFN/Customer dialing number
ANI(Caller's number)
Date of call
Time of call with time zone
Outgoing/incoming call
The options you selected that resulted in hearing the message "office is closed"
Call ID/interaction ID (if available)

[2020-10-06 18:16] msbemba commented on #2986
@cmcatee-MSFT

CFN/TFN/Customer dialing number : +61 02 8223 9959 and 1800 197 503
ANI(Caller's number) + 91 9972711773
Date of call : 06 October 2020
Time of call with time zone 11:45 PM IST
Outgoing/incoming call :Outgoing call
The options you selected that resulted in hearing the message "office is closed" : Selected 1 For o365 Business Selected 1 again for Technical support-- > It says Please

[2020-10-06 18:23] msbemba commented on #3017
@StereoRocker Thank you for your feedback. We discussed with the author and this link is no longer available so we have removed it from the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3031

Thanks
Sri

[2020-10-06 18:25] msbemba commented on #3035
@CCDanC Thank you for your feedback. We worked with the author in the backend and fixed this document. The link to register for additional verification is active now.

@yogkumgit We can proceed with closing this case.

Thanks
Sri

[2020-10-06 18:31] msbemba commented on #3041
@bt101 Thank you for your feedback. I tested this on multiple tenants and found the same issue. Since this is a product bug and nothing needs to be changed on the document, I'd recommend you to contact support and pass the feedback.  You can open a support ticket from the need help section on the M365  admin center.

@yogkumgit This seems to be a product bug as per testing and no changes required

[2020-10-06 19:08] msbemba commented on #3026
@noraisk  This is more of a feature request/Product bug than a document change. Especially the ones that you have reported like the emails going to the junk folder while trying to simulate. There are two ways to get this to the attention of the product group

1)Feedback option in the admin center - Sends the feedback directly to the concerned team, however, the fix is not immediate.
2)Need Help op

[2020-10-06 19:20] bledMS82 opened #3082 "Opt out option not available"
Turn off Microsoft Threat Protection
To stop using Microsoft Threat Protection, go to Settings > Microsoft Threat Protection > Opt-in / Opt-out in the Microsoft 365 security center. Unselect Turn on Microsoft Threat Protection and apply the changes.

Is not available check on 3 tenants :

![image](https://user-images.githubusercontent.com/64666203/95249807-de618800-07de-11eb-9d73-df1220a3b8cd.png)

[2020-10-06 19:20] cmcatee-MSFT commented on #2986
@msbemba Please send the info to me directly at cmcatee@microsoft.com

[2020-10-06 19:22] Katerine459 opened #3083 "Conflicting info in "in-scope cloud services" section"
Among the in-cloud services, are the following two listings:
- Microsoft Professional Services: Premier and On Premises for Azure, Dynamics 365, Intune, and for medium business and enterprise customers of Microsoft 365 for business
- Office 365, Office 365 U.S. Government, and Office 365 U.S. Government Defense

Wasn't Office 365 renamed to Microsoft 365? In which case... is Office 365 for small b

[2020-10-06 19:26] noraisk commented on #3026
Current documentation doesn't say that the simulator output might get caught by it's own built-in spam filter. The simulator is supposed to bypass all spam detection rules to educate employees. There are not so many people who work with their junk folder as normal inbox.

So it has to be bug otherwise the product is useless.

I can share it via feedback or official support request in the future. A

[2020-10-06 19:36] msbemba commented on #3026
@noraisk I completely understand your situation. This product is supposed to send the email to the inbox and not junk, so this either a misconfiguration or a product bug.

@chrisda Can we remove the detectable URL-s below? Let me know so that I can create a PR accordingly.

portal.hardwarecheck.net
portal.prizegiveaway.net
portal.prizesforall.com
portal.salarytoolint.net

Detected by:

Chromium -

[2020-10-06 20:23] TinaMcN commented on #2956
@SilviaEid @yogkumgit the issues appears to be fixed now.

The English text was updated to:
 Subscription requirements: To create a shared mailbox, you need to subscribe to a Microsoft 365 for business plan that includes email (the Exchange Online service). The Microsoft 365 Apps for business subscription doesn't include email. Microsoft 365 Business Standard does include email.

And the German te

[2020-10-06 21:46] chvukosw commented on #2974
Hi there - the only action types are operational, documentation, and technical, as listed in the documentation. If you are seeing other filter types, you may need to accept the latest versioning updates for improvement actions - thanks.

[2020-10-06 21:46] #2974 closed

[2020-10-07 01:15] kangdu opened #3084 "Pin To Launcher missing in current M365 tenant?"
Hi there, we discovered the Pin to Launcher is not available on most of the tenant we manage.  Is this feature still valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9488caf7-b791-3002-8749-7fdc4b2ec8b3
* Version Independent ID: 08e61eb0-7bcd-f449-46ef-17e209138a8e
* Content: [Add custom tiles to the app launcher

[2020-10-07 04:22] arunkumar4003 opened #3085 "Configuration under "Configuring and securing Teams media traffic" section"
[Enter feedback here]
Hello Team,

The article says,
In certain scenarios, often unrelated to Teams client configuration, media traffic still traverses the VPN tunnel even with the correct routes in place. If you encounter this scenario then using a firewall rule to block the Teams IP subnets or ports from using the VPN should suffice.
With Pulse Secure VPN and correct routes are in place we are s

[2020-10-07 06:38] SilviaEid commented on #2956
@TinaMcN thanks for letting me know. Yes, this is now correct in German and French as well:

Conditions requises en matière d’abonnement : Pour créer une boîte aux lettres partagée, vous devez vous abonner à un forfait Microsoft 365 pour les entreprises qui inclut le courrier électronique (le service Exchange Online). L’abonnement aux applications pour les entreprises Microsoft 365 n’inclut pas le

[2020-10-07 06:38] #2956 closed

[2020-10-07 08:25] LeeMin-Z opened #3086 "This capability is not yet supported for macOS or iOS"
Under part
Sharing encrypted documents with external users
“This capability is not yet supported for macOS or iOS.”

Specific functions and features are now supported on IOS and MAC OS. Refer Support for sensitivity label capabilities in apps https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-office-apps?view=o365-worldwide#support-for-sensitivity-label-capabilities-in-ap

[2020-10-07 11:42] yogkumgit commented on #2968
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JohanssonMarkus
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-07 11:42] #2968 closed

[2020-10-07 11:53] yogkumgit commented on #3035
@msbemba Thank you very much for the contribution and sharing this explanation. @CCDanC Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-07 11:53] #3035 closed

[2020-10-07 11:55] DeanGross commented on #3080
It is in the Sensitive Information section of the TOC

[2020-10-07 11:55] yogkumgit commented on #3041
@msbemba Thank you very much for the contribution and sharing this explanation. @bt101 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-07 11:55] #3041 closed

[2020-10-07 11:58] yogkumgit commented on #3026
@chrisda Please reply to this query. Thanks

[2020-10-07 14:35] DeanGross commented on #2974
@chvukosw I have accepted all of the updates that I have seen but I'm still seeing the action types that are not listed in the documentation. Should I open a support ticket?

[2020-10-07 15:00] AlexCesarini opened #3088 "userPrincipalName and allowed characters"
When using characters like **ì** or **ò** in the upn
ex: userì@domain.com I get an error during the sync

ExtraErrorDetails:
[{"Key":"ObjectId","Value":["xyz"]},{"Key":"InvalidAttributeName","Value":["userPrincipalName"]}]

Characters with accent are not listed as invalid in the document under
**userPrincipalName** section.

userPrincipalName valid characters should be only

- A – Z
- a - z
- 0 –

[2020-10-07 16:07] msbemba commented on #2825
@twigbranch Sorry about the delay. Could you please provide us the document which talks about this scenario? If you are looking to report a bug or need support you may have to contact our support team via the need help section on the admin center. If you would like to provide feedback about our docs, this is the right place, but we would like to know which document you are referring to.

Thanks
Sr

[2020-10-07 17:14] teamneroblanco commented on #3063
[cid:image001.png@01D69CD5.AD07E070]

Row 67 says Security and Compliance Center eDiscovery export.  That’s hardly suggesting HCW is it?

From: Joe Davies <notifications@github.com>
Sent: 05 October 2020 17:53
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Team <Team@neroblanco.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-

[2020-10-07 18:05] softwarecraft opened #3090 "Rename "Service Admin" to "Service Support Admin" per "Administrator role permissions in Azure Active Directory""
[Enter feedback here]
This page refers to the "Service Admin" role, however this role was renamed to "Service Support Admin" per https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#service-support-administrator. Suggest to rename it here to align to this terminology.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-10-07 18:54] Michael-Ashe opened #3091 "Checking health status requires signin"
[Enter feedback here]
Currently, our organization is experiencing outages. I'm unable to sign in at all, and the directions on this page tell you to sign in and go to the admin pages. I'm an admin, but can't get to this. I get that you're probably trying to personalize the info, but some generic info that's available outside of being signed in, would be useful. We're tying to figure out what and h

[2020-10-07 19:26] DaniHalfin commented on #3026
Hi @noraisk ,
URLs detectable by non-Microsoft browsers can be manually allowed through configurations in the respective browsers.
For any Microsoft browser, these URLs should be allowed, and if you're seeing them detected, please open a support ticket so that we can investigate the issue.
Additionally, for mail going to junk directly, this is again something we would not expect to happen, so woul

[2020-10-07 19:31] noraisk commented on #3026
Are you talking seriously right now? If you simulate an attack for educational purpose you don't make public campaign in your organization about it even in IT. The less people know it the better.

[2020-10-07 19:50] DaniHalfin commented on #3026
Hi again @noraisk ,
For the URLs, we make them well known ahead of time so that they can be allowed, ahead of time, for any future campaigns.
Detection mechanisms are likely to block such URLs due to their nature and that is a good thing. If we could avoid detection, so could attackers.
I hope this provides some clarity.

[2020-10-07 20:32] dzirnhelt opened #3092 "No email to confirm delist from blocklist."
I followed the instructions to apply for being delisted from the blocklist.  We bought a dedicated IP from SendGrid 2 weeks ago.  Now we're seeing only hotmail/outlook emails bounce as blocked.  The IP we send from (SendGrid) is different from the IP we receive email at, which is a pop we setup so we can receive replies to the emails we send out.  I've tried twice to get the confirmation email and

[2020-10-07 20:43] JoeDavies-MSFT commented on #2988
@flowl Thanks. Please add your conclusion above as an issue to the https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide article? The author will investigate and update its content appropriately. Thanks for letting us know.

[2020-10-07 20:43] #2988 closed

[2020-10-08 04:16] yogkumgit commented on #2897
@chrisda Thank you very much for sharing this explanation. @NoahsMyBro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-10-08 04:16] #2897 closed

[2020-10-08 09:31] pbinksma opened #3094 "Please add retention details on SharePoint Lists and OneNote Notebooks"
There is some confusion on business side about the way retention policies and retention labels work with SharePoint Online Lists and OneNote Notebooks.

I suggest that you add a statement to the chapter "Applying a default retention label to all content in a SharePoint library, folder, or document set" where you explicitly explain that SharePoint Lists basically behave the same like a Document Lib

[2020-10-08 11:15] msbemba commented on #3090
@softwarecraft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3095

Thanks
Sri

[2020-10-08 11:22] msbemba commented on #3088
@AlexCesarini Thank you for your feedback. We have added the allowed characters to the document via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3096

Thanks
Sri

[2020-10-08 11:24] msbemba commented on #3086
@LeeMin-Z Thank you for your feedback. Could you please provide us with the document which states it is not yet supported for macos or ios?

Thanks
Sri