[2020-11-12 16:03] msbemba commented on #3374
@uhoefner Thank you for your feedback. I have made changes to the document and is under review. Once this is approved by the author the changes will be live in 24-48 hours.

The PR can be tracked via#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3441

Thanks
Sri

[2020-11-12 16:05] msbemba commented on #3394
@prontohostau Thank you for your feedback. This is still valid and Microsoft support staff can help provision or de-provision the service and related resources on your tenant. For assistance, select Need help? in the Microsoft 365 security center or the admin center. When contacting support, mention Microsoft 365 Defender.

Hope this helps!
Thanks
Sri

[2020-11-12 16:08] msbemba commented on #3396
@lethinh0510 Thank you for your feedback. I was able to test and it worked both on the API and Browser. I would recommend you to contact the support team via the need help section on your Microsoft 365 Admin center. Also, In case if there are changes that can be made to the documents please do let us know.

@yogkumgit The feature is working correctly by design. However, We have requested the user

[2020-11-12 16:18] msbemba commented on #3397
@GLComputing Thank you for your feedback. The Server document is not up to date, so the link has been removed via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3442.

The document has detailed steps to change your primary domain from your non routable domain.

Hope this helps!

Thanks
Sri

[2020-11-12 16:33] msbemba commented on #3399
@arnauvc Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3443. Once the author approves, these changes will be live in 24 to 48 hours.

Thanks
Sri

[2020-11-12 16:56] msbemba commented on #3408
@TANSHUAI1993 Thank you for your feedback. I don't see a document linked to this question. However, I can answer this for you.

OAuth Can be enabled for Exchange on-premise as well. Only Hybrid Modern auth requires AD to connect and user replication/sync. I'm not able to find a relevant Microsoft document about enabling Oauth on Exchange on-prem servers. But you can enable Oauth and also get techn

[2020-11-12 17:56] Gassela opened #3444 "Commonly used Microsoft 365 admin center roles"
This page is not aligned with roles listed in M365 Admin portal.
I refer to page you got clicking on **Manage Roles** option within **Active Users** page.
here you can click on Show all by category section and you see another more complete list grouped by focus area as Collaboration, Identity, Device, etc....

Wouldn't it be appropriate to align this important DOCS page with the contents and logic

[2020-11-12 17:59] denisebmsft commented on #3415
@cshailaja, what @yogkumgit means is, to which article(s) does your question apply? This information will help us route the issue to the correct writer/team.

[2020-11-12 18:00] #3408 closed

[2020-11-12 18:02] #3372 closed

[2020-11-12 18:08] BaconWithThat opened #3445 "Add info about %%BlockedMessageInfo%% token."
[Enter feedback here]
Add info about the token %%BlockedMessageInfo%% for the email notifications section of this document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505aba8-2455-5390-b34b-6bb0865b14db
* Version Independent ID: 401701a8-86fd-8570-8084-33622f34bb91
* Content: [Send email notifications and show pol

[2020-11-12 18:52] virtualcomputerguy opened #3446 "Issues with AMD Ryzen systems and Lab build?"
Is there an issue building the lab on AMD Ryzen systems? I am able to build and run other Hyper v systems but this lab does not work. If you start a VM it immediately turns off.
Here is the error - 'HYD-DC1' was reset because an unrecoverable error occurred on a virtual processor that caused a triple fault. If the problem persists, contact Product Support. (Virtual machine ID 1D3D5073-ACCB-4A7E-B4

[2020-11-12 20:23] Attreyu opened #3448 "Embedded term "Domain Connect" opens a spam website"
"Domain Connect" redirects to a spam website - I won't copy paste it here for security reasons.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0012093-49ca-c2f6-a3f3-4e4252fca609
* Version Independent ID: 22784dda-ff03-971b-4d6e-5b0152f62942
* Content: [Add a domain to Microsoft 365 - Microsoft 365 admin](https://docs

[2020-11-12 22:29] saeedtalpur opened #3449 "Changeing Default Domain name in MS 365"
If I change the default domain name from olddomain.com to newdomain.com will all my organization's email address also change to new domain name?

Thanks

[2020-11-13 03:32] lethinh0510 commented on #3396
Thank you for your comment.
First time I apply scan virus it working well, but since 1st November it NOT work.
I upload same file.

[2020-11-13 05:59] msbemba commented on #3396
@lethinh0510 That is interesting. I'd still recommend you to report the bug on the tenant to Microsoft support via Need help section.

1)If this is a bug or a issue on your tenant - it will be fixed in the backend.
2)if this is a bug on M365, it can be routed to the correct team via support.

Thanks
Sri

[2020-11-13 07:32] yogkumgit commented on #3349
@msbemba Thank you very much for the contribution and sharing this explanation. @sabarivasanN Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-13 07:32] #3349 closed

[2020-11-13 07:46] lightupdifire opened #3450 "Use PowerShell to apply a sensitivity label to multiple sites"
Hello,
About PowerShell, for step 5, should it be:

$sites | ForEach-Object {Set-SPOTenant $_.url -SensitivityLabel $Id}
Or:
$sites | ForEach-Object {Set-SPOSite $_.url -SensitivityLabel $Id}
?

According to the Set-SPOTenant:
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/set-spotenant?view=sharepoint-ps
There is no support for "-SensitivityLabel"

---
#### Document Details

[2020-11-13 07:57] yogkumgit commented on #3394
@msbemba  Thank you very much for the contribution and sharing this explanation. @prontohostau Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation updat

[2020-11-13 08:00] #3394 closed

[2020-11-13 08:12] yogkumgit commented on #3396
@msbemba  Thank you very much for the contribution and sharing this explanation. @lethinh0510 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update

[2020-11-13 08:12] #3396 closed

[2020-11-13 08:13] walidelmorsy opened #3451 "Potential updates required."
For the below note:

"**_By default, the exclusive settings in Defender for Office 365 are not configured or turned on, even in the default policy. To take advantage of these features, you need to enable and configure them in the default anti-phishing policy, or create and configure custom anti-phishing policies_**"

I believe that "**Mailbox Intelligence**" feature is enabled by default as docume

[2020-11-13 08:16] yogkumgit commented on #3397
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GLComputing Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-13 08:16] #3397 closed

[2020-11-13 08:19] walidelmorsy opened #3452 "Potential Update required"
For the below section, the "**Default**" setting column is missing?. Suggest adding it to keep consistency with all other sections:

**Spoof settings in anti-phishing policies in Microsoft Defender for Office 365**
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp?view=o365-worldwide#spoof-settings-in-anti-phishing-policies-i

[2020-11-13 10:52] raneem634 opened #3453 "Email sent out using legacy OME emails doesn't get branding applied using OME V1"
[Enter feedback here]

Branding is only for OMEv2. OMEv1 does not support custom branding. It is by design. There was documentation error and we need to update it as soon as possible. Legacy OME does not support branding for the notification mail.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 820a7382-167a-e81f-bc8f-a5

[2020-11-13 16:49] jaimeo commented on #2705
@ChristopherTulip

[2020-11-13 17:57] denisebmsft commented on #3449
Hello @saeedtalpur, and thank you for your question. Can you please tell us to which article(s) this applies? This information will help us route the issue to the correct writer/team. Thanks!

[2020-11-13 18:32] #3378 closed

[2020-11-13 19:05] cabailey commented on #3450
@lightupdifire  The command on this page has been confirmed as correct by engineering, and I've flagged the missing parameter on the PowerShell documentation.  If you run the command and it doesn't work, please open a Support ticket. You might also want to open a GitHub Issue on the PowerShell page to be informed when it's updated.

[2020-11-13 19:05] #3450 closed

[2020-11-13 19:15] cabailey commented on #3377
@Raj-MCITP Thanks for your question!  I've actually got a revision in the works for [this section](https://docs.microsoft.com/en-us/microsoft-365/compliance/retention?view=o365-worldwide#only-one-retention-label-at-a-time) to help clarify when/if a label can be removed or changed that covers all scenarios.  But in the meantime, I can confirm that after a retention label is applied by an auto-label

[2020-11-13 19:15] #3377 closed

[2020-11-14 00:01] CarissaB117 opened #3456 "Missing standards?"
Assessment templates was shared during a training today and ISO 15489 is in the Compliance Center but not in this list. Can you update the list to be an accurate representation of what is in the system?

What role do I need to see the list of templates?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-11-14 13:44] spuninst commented on #3321
Awesome thank you.

On Wed, Nov 11, 2020, 1:05 AM Joe Davies <notifications@github.com> wrote:

[2020-11-14 15:28] DeanGross opened #3457 "Updated model schedule"
Can you provide some estimate about when the updated security model can be expected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91837ba8-f6f2-3c52-2d89-c8f4c4bce09c
* Version Independent ID: eb3c1fd8-9143-0dc1-77e7-e664ccaefc33
* Content: [Microsoft cloud architecture models - enterprise resource planning](https://

[2020-11-14 16:55] GRJ78 opened #3458 "Instructions and description for running target tenant script are not accurate"
The instructions do not seem to be accurate. You mention that the vault will be created automatically but this is not the case.
The script asks for application id and key vault url. According to your description, these are supposed to be created automatically.

Could you update your description?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-11-15 18:51] cabailey commented on #3415
I suspect might be referring to this scenario for sensitivity labels: [Apply a sensitivity label to content automatically](https://docs.microsoft.com/microsoft-365/compliance/apply-sensitivity-label-automatically)

@cshailaja:  If that's the case, it's worth remembering that Outlook on the web uses built-in labeling, so the detection and application of a sensitivity label can be slightly different

[2020-11-16 04:54] yogkumgit commented on #3412
@msbemba Thank you very much for the contribution and updating the documentation with PR. @FlorentReynal Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 04:54] #3412 closed

[2020-11-16 04:58] yogkumgit commented on #3384
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dgordonb Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 04:58] #3384 closed

[2020-11-16 05:06] yogkumgit commented on #3252
@msbemba Thank you very much for the contribution and updating the documentation with PR. @QuickBASIC Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:06] #3252 closed

[2020-11-16 05:09] yogkumgit commented on #3213
@msbemba Thank you very much for the contribution and updating the documentation with PR. @r-milne Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:09] #3213 closed

[2020-11-16 05:12] yogkumgit commented on #3121
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bakerm00 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:12] #3121 closed

[2020-11-16 05:17] yogkumgit commented on #3393
@msbemba Thank you very much for the contribution and sharing this explanation. @dennis131 Hope the comment added by Robert in PR is helpful. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:17] #3393 closed

[2020-11-16 05:22] yogkumgit commented on #3300
@msbemba Thank you very much for the contribution and updating the documentation with PR. @widget31too Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:22] #3300 closed

[2020-11-16 05:27] yogkumgit commented on #3227
@msbemba Thank you very much for the contribution and sharing this explanation. @dpardpar please check comment by Robert in PR. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:27] #3227 closed

[2020-11-16 05:30] yogkumgit commented on #3202
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Amudhan-GitHub Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:30] #3202 closed

[2020-11-16 05:33] yogkumgit commented on #3125
@msbemba Thank you very much for the contribution and sharing this explanation. @UrmasO check the comment added by Robert in PR. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:33] #3125 closed

[2020-11-16 05:36] yogkumgit commented on #3053
@msbemba Thank you very much for the contribution and updating the documentation with PR. @write4joy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:36] #3053 closed

[2020-11-16 05:43] yogkumgit commented on #3258
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jebeckham Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 05:43] #3258 closed

[2020-11-16 07:40] yogkumgit commented on #3391
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-16 07:58] yogkumgit commented on #3383
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dgordonb Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 07:58] #3383 closed

[2020-11-16 08:08] yogkumgit commented on #3137
@robmazz Any reply from localization team. Please update. Thanks

[2020-11-16 08:13] yogkumgit commented on #3018
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ceaton001 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-16 08:13] #3018 closed

[2020-11-16 08:17] yogkumgit commented on #2821
@MikePlumleyMSFT Gentle reminder, Please reply to this query. Thanks.

[2020-11-16 08:18] yogkumgit commented on #2778
@BrendaCarter Gentle reminder Please reply to this query. Thanks.

[2020-11-16 09:08] henrywang08 opened #3460 "Incorrect statement of "Microsoft Intune" column in feature area "Conditional access based on device compliance""
[Enter feedback here]

The statement of "Microsoft Intune" column in feature area "Conditional access based on device compliance" is incorrect. The statement should be "Yes", since Intune has the capability to support "Conditional access based on device compliance".

Feature area | Feature highlights | Basic Mobility and Security | Microsoft Intune
-- | -- | -- | --

Conditional access based on de

[2020-11-16 11:22] thomyg opened #3462 ""To set up SharePoint Syntex" is different in my tenant"
Point 2 "In the Files and content section, select Automate content understanding." at https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/set-up-content-understanding#to-set-up-sharepoint-syntex looks different in my tenant. There is no "Files and Content" section but this:

![image](https://user-images.githubusercontent.com/10920072/99246815-3344e500-2806-11eb-8f56-0120b16f19cf.pn

[2020-11-16 14:09] yogkumgit commented on #3462
@MikePlumleyMSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-16 14:10] yogkumgit commented on #3457
@samanro  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-16 14:11] yogkumgit commented on #3456
@chvukosw  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-16 14:12] yogkumgit commented on #3446
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-16 14:13] yogkumgit commented on #3445
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-16 14:14] yogkumgit commented on #3420
@robmazz  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-16 16:55] samanro commented on #3457
@JoeDavies-MSFT reports that he's shooting for the end of January for an updated model.

[2020-11-16 17:07] msmbaldwin commented on #3221
@yogkumgit Sorry, can you clarify what you mean by "not listed under any required category"?

d-trust **is** listed in the "What's Changing" section ("D-TRUST Root Class 3 CA 2 2009").

[2020-11-16 17:24] msbemba commented on #3342
@dfife Thank you for your feedback. I was able to test this in two instances and it works without any issues. What is the error message that you receive? Depending on the error you may have to contact the support team to identify the root cause and fix the issue.

Thanks
Sri

[2020-11-16 17:34] msbemba commented on #3398
@GLComputing Thank you for your feedback. We have added that to the description via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3465

Thanks
Sri

[2020-11-16 18:00] msbemba commented on #3417
@davidsrhans Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3467. Once the author approves the changes will be live in 48 hours.

Thanks
Sri

[2020-11-16 18:03] msbemba commented on #3427
@CPapas Thank you for your feedback. The Blueprint document is available at https://docs.microsoft.com/en-us/azure/governance/blueprints/samples/hipaa-hitrust-9-2 and the same has been fixed in the document as well.

Hope this helps!

@yogkumgit There are no changes required to this document and the issue can be closed.

Thanks
Sri

[2020-11-16 18:06] msbemba commented on #3437
@Pixa1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3468

Thanks
Sri

[2020-11-16 18:10] msbemba commented on #3444
@Gassela Thank you for your feedback. You are correct,  the list only comprises commonly used admin roles. We have added a link to the document which has detailed information, including the cmdlets associated with a role, see Administrator role permissions in Azure Active Directory. - https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#available-roles

Hope this hel

[2020-11-16 18:18] msbemba commented on #3448
@Attreyu Thank you for your feedback. I have removed the link to the third party site. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3469

Thanks
Sri

[2020-11-16 18:22] msbemba commented on #3449
@saeedtalpur Thank you for your feedback. I don't see a document linked to this question. But I think I understand the context.

The impact of changing the default domain is only for new users that will be added to the tenant. When you add new users, their email addresses and usernames will use this new domain. If a user has multiple email addresses, the default domain is used as their reply-to ad

[2020-11-16 18:32] msbemba commented on #3451
@walidelmorsy Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3471

Thanks
Sri

[2020-11-16 18:42] msbemba commented on #3452
@walidelmorsy Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3472

Thanks
Sri

[2020-11-16 18:44] #3448 closed

[2020-11-16 19:13] greg4168 opened #3473 "Please provide bulk update steps"
The article describes using Powershell to add entries to a mailbox safe senders list but does not describe doing that across the entire organization.  If a safe sender is to be added, is there a single setting or would we need to loop the same command for every mailbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b

[2020-11-16 20:45] msbemba commented on #3453
@raneem634 Thank you for your feedback. We have added a line stating that this feature is available in the new OMEV2. this can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3474

Thanks
Sri

[2020-11-16 20:50] msbemba commented on #3460
@henrywang08 Thank you for the feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3475

Thanks
Sri

[2020-11-16 20:54] msbemba commented on #3332
@johanfreelancer9 I have the image source in the media file., Could you please help me to click and make it open in a new tab so customers can enlarge it?

[2020-11-16 20:59] msbemba commented on #3407
@eblackbird Thank you for your feedback.

For 1) It talks about recipient type, So are you able to upgrade DL's that have nested groups in them?
2)I'm testing this and will update the article accordingly.
3)This feature is set to False by default. Can you check get-UnifiedGroup <groupname> |Select UnifiedGroupWelcomeMessageEnabled and check if it is set to False or True ? This setting can be chang

[2020-11-16 21:33] chvukosw commented on #3456
Hello, you are correct, ISO 15489 was a recently-added template in Compliance Manager. The templates list page in the documentation (https://docs.microsoft.com/microsoft-365/compliance/compliance-manager-templates-list) will be updated by the end of today. Users holding any role are able to access all templates, both the included templates and premium templates, from the assessment templates page

[2020-11-16 21:33] #3456 closed

[2020-11-16 22:15] chrisda commented on #3473
@greg4168, Set-MailboxJunkEmailConfiguration is a one-at-a-time cmdlet, so it would be a loop. You can use either Get-Content and a static list of mailboxes or some type of filter (Get-Mailbox -Filter "Department -eq 'Finance'").

I'm not sure if want to add those instructions to the topic.

[2020-11-16 22:17] greg4168 commented on #3473
Hi Chris -

Thanks for responding.  I'm struggling with it because to set a single safe
senders update for all users could take a week if done mailbox-by-mailbox
so was hoping there was something like a tenant safe senders list or
something like that.

Thanks again

On Mon, Nov 16, 2020 at 5:15 PM Chris Davis <notifications@github.com>
wrote:

[2020-11-16 23:00] chrisda commented on #3473
Well, let's look at intent. If you need to safe list the same messages for a bunch of senders in your organization, then something else is going on. The individual safe senders list is really for individual exceptions, meaning many people in your org might get this message, but the majority of them are OK with the spam filter verdict; only a few noisy individuals insist that these messages are goo

[2020-11-16 23:00] DeanGross opened #3477 "Request for Links"
Please add links to the appropriate Insider Risk Management documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d142783e-21ff-8680-45c6-2b77158d89d9
* Version Independent ID: db8175c4-8acd-d8b5-4da7-afbb4a519ecb
* Content: [Key compliance and security considerations for US banking and capital markets](https://

[2020-11-16 23:15] bryhall commented on #3332
I can confirm that it is now clickable and links to the full size image.  Thank you!

[2020-11-16 23:15] #3332 closed

[2020-11-16 23:16] DeanGross opened #3478 "Nothing about using AIP Scanner"
I would expect this document to mention AIP Scanner as a tool to learn about sensitive information types in on-premises data stores. Is there a reason that it is not mentioned?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63b6844d-dbb1-e9b8-8ce5-35090ce1d89e
* Version Independent ID: 5bbe339f-be21-49d3-6c0b-0c3394aeda

[2020-11-16 23:47] wickid187 opened #3479 "Manually specify emails to ZAP?"
If an email is reported to an admin that it is malicious or contains phishing/spoofed content, is there a way for us to go into our portal and manually kick off ZAP to find the emails that have been inboxed for various mailboxes in the organization and have them ZAP'ed quickly?

I know when doing analysis in the protection.office.com portal, the tools are there to find Similar Emails, and if we ar

[2020-11-17 05:19] yogkumgit commented on #3457
@samanro Thank you very much for sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 05:19] #3457 closed

[2020-11-17 05:23] yogkumgit commented on #3221
@tajaber hope this explains else please clarify more about your query as asked by Baldwin.

[2020-11-17 05:35] yogkumgit commented on #3427
@msbemba Thank you very much for the contribution and sharing this explanation. @CPapas Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 05:35] #3427 closed

[2020-11-17 05:43] yogkumgit commented on #3437
@msbemba Thank you very much for the contribution and sharing this explanation. @Pixa1 Please check comment in PR Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 05:43] #3437 closed

[2020-11-17 05:45] yogkumgit commented on #3444
@msbemba Thank you very much for the contribution and sharing this explanation. @Gassela Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 05:45] #3444 closed

[2020-11-17 05:49] yogkumgit commented on #3449
@msbemba Thank you very much for the contribution and sharing this explanation. @saeedtalpur Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 05:49] #3449 closed

[2020-11-17 05:52] yogkumgit commented on #3451
@msbemba Thank you very much for the contribution and updating the documentation with PR. @walidelmorsy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 05:52] #3451 closed

[2020-11-17 06:18] yogkumgit commented on #3368
@msbemba Thank you very much for the contribution and updating the documentation with PR. @naps1saps Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 06:18] #3368 closed

[2020-11-17 06:22] yogkumgit commented on #3249
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SOM-Scott Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 06:22] #3249 closed

[2020-11-17 06:25] yogkumgit commented on #3112
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cachave Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 06:25] #3112 closed

[2020-11-17 06:28] yogkumgit commented on #3142
@msbemba Thank you very much for the contribution and updating the documentation with PR. @markburland Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-17 06:28] #3142 closed

[2020-11-17 06:32] yogkumgit commented on #3036
The topic has been updated and the link is going to the correct location.

[2020-11-17 06:32] #3036 closed

[2020-11-17 06:38] yogkumgit commented on #3333
@kwekuako  fixed and updated by adding a note in the topic calling out what the message header value text is. closing.

[2020-11-17 06:38] #3333 closed

[2020-11-17 13:25] Rkhan-ms commented on #2863
HI Both @robmazz and @yogkumgit - Can you provide an update on this please?

[2020-11-17 14:01] rtrigueiro opened #3482 "EOP w"
From this article is not clear what features will work on a scenario with EOP for on-premises mailboxes.

Mailbox Intelligence it is clear that it will not work as described: "Mailbox intelligence: Enables or disables artificial intelligence (AI) that determines user email patterns with their frequent contacts. This setting helps the AI distinguish between legitimate and spoofed email from those c

[2020-11-17 16:03] msbemba commented on #3416
@MGamil-MSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3484

Thanks
Sri

[2020-11-17 17:24] chrisda commented on #3482
@rtrigueiro, to be clear the impersonation protection settings in anti-phishing policies are only available in Microsoft Defender for Office 365 (formerly Office 365 Advanced Threat Protection).

It's safe to presume that unless we call it out as not being available, then it's available. The nature of how mailbox intelligence works definitely requires cloud mailboxes. The other features you mentio

[2020-11-17 17:33] msbemba commented on #3458
@GRJ78 Thank you for your feedback.

The PS cmdlet is as follows

C:\Users\Admin\scripts\T2TMovesV2> .\SetupCrossTenantRelationshipForTargetTenant.ps1 -ResourceTenantDomain contoso.onmicrosoft.com -ResourceTenantAdminEmail admin@contoso.onmicrosoft.com -TargetTenantDomain fabrikam.onmicrosoft.com -ResourceTenantId ksagjid39-ede2-4d2c-98ae-874709325b00 -SubscriptionId e4ssd05d-a327-49ss-849a-sd0932

[2020-11-17 17:35] msbemba commented on #3332
Thank you for the confirmation @bryhall

[2020-11-17 17:46] bigdpnc opened #3486 "Permission to delete policies is being pushed out right now"
We opened a case with Microsoft when we found that after creating policies in the communication compliance tool we were not able to delete the policies.  It was original setup to where only the creator of the policy was able to delete the policy.  And this particiulary gave us an issue because the account it logged was different then my upn being captured when I logon to the compliance center.  So

[2020-11-17 18:11] itishnitsa opened #3487 "How long do files stay in quarantine?"
For seciton: Microsoft Defender for Office 365 Only: Use the Security & Compliance Center to manage quarantined files

Please add information on how long the files identified as malicious by ATP for SharePoint, OneDrive, and Microsoft Teams remain in Quarantine. That information is included for emails in quarantine, but not for files. What happens when files expire from quarantine?

Thanks.
[Enter

[2020-11-17 18:12] itishnitsa opened #3488 "Please add clarity on who this policy applies to"
Please add clarification: If enabled, ATP for SharePoint, OneDrive, and Teams applies to.....
all sites in the tenant? Are there any license enforcement? Are there any license implications when only a portion of users have A5 or A5 security license assigned to them.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-11-17 18:50] canoas opened #3490 "email forwarding was somehow disabled on September 2020"
email forwarding was somehow disabled on September 2020. this document is incomplete now as we need to do more changes in ECP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5885a586-76b8-83ae-161b-6c9c8793b42d
* Version Independent ID: 681fe343-6272-a75a-ed00-dc7ef4355e67
* Content: [Configure email forwarding - Micros

[2020-11-17 18:57] canoas commented on #3490
https://docs.microsoft.com/en-us/answers/questions/126453/office-365-outlook-email-issue.html?childToView=128806#comment-128806

[2020-11-17 19:15] carlosmiguelsns commented on #3490
There may be a case that sometimes this option is not enough.
For the issue about "can't save the "on" state for allowing forwarding to an external address.", it may be related to the server itself. You need to **create a new outbound policy** to fix the issue - it took affect right away.

[2020-11-17 22:44] chrisda commented on #3488
@itishnitsa, ATP for SharePoint, OneDrive, and Teams applies to all users with Microsoft Defender for Office 365 (formerly known as Office 365 Advanced Threat Protection) licenses (as part of x5 (x=E,, etc.) or as an add-on subscription).

So yeah, if some of your users have the required licenses and some don't, then there could be issues.

[2020-11-17 22:45] chrisda commented on #3487
@itishnitsa, I'm checking, but in the absence of other information, I would presume 30 days just like email.

[2020-11-18 08:00] nmball opened #3492 "DKIM Key Rotation Temporarily Disabled Date"
Hi,

The document has a caution stating the auto rotation of keys will be disabled until August 2020 (This has now passed).   It isn't clear if this is still the case, could the document be updated to reflect when auto rotation will be enabled or have the caution removed to show that they are now autorotated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-11-18 08:23] yogkumgit commented on #3458
@msbemba Thank you very much for the contribution and sharing this explanation. @GRJ78 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-18 08:23] #3458 closed

[2020-11-18 09:38] yogkumgit commented on #3342
@msbemba Thank you very much for the contribution and sharing this explanation. @dfife Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-18 09:38] #3342 closed

[2020-11-18 09:41] yogkumgit commented on #3407
@msbemba Thank you very much for the contribution and sharing this explanation. @eblackbird Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-18 09:41] #3407 closed

[2020-11-18 09:45] yogkumgit commented on #3398
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GLComputing Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-18 09:45] #3398 closed

[2020-11-18 09:51] yogkumgit commented on #3452
@msbemba Thank you very much for the contribution and updating the documentation with PR. @walidelmorsy Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-18 09:51] #3452 closed

[2020-11-18 10:41] alexandreweiss opened #3493 "Update of workload routing through Azure Peering Services"
Hi team,

I would suggest that we update the doc to also tell customers that a workload can be routed (or not)through our new [Azure Peering Services](https://docs.microsoft.com/en-us/azure/peering-service/about) offer as we are also receiving M365 IPs from the 8075 by this path.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-11-18 13:29] bakerm00 opened #3494 "Update to faciliate Information Protect Compatibility"
this document in 3 years old and needs to be updated to reflect Microsoft Information Protection

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7da662e1-5ae5-7760-1321-26cd2bab997a
* Version Independent ID: 60319761-1406-6c06-1620-e1a484468879
* Content: [SharePoint-Compatible PDF readers that support Microsoft Informa

[2020-11-18 13:45] brenle opened #3495 "Broken md link"
In the section "Onboarding devices into device management", last paragraph, the link is broken:

Follow the [With devices onboarded into Microsoft Defender for Endpoint procedure](endpoint-dlp-getting-started.md#with-devices-onboarded-into-microsoft-defender-for- endpoint)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2020-11-18 14:50] kevincallanan opened #3496 "Invalid Link"
The Linked text "Removing duplicate and unwanted proxy addresses in Exchange." points to an MS article that cannot be loaded and redirects to the main MS Support search site.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b05a56d-f714-2d99-747e-b3150f581f38
* Version Independent ID: e8924d3f-20e7-6ce2-2279-cec010e7d3f

[2020-11-18 16:38] chrisda commented on #3487
@itishnitsa, I'm glad I asked. It's currently 15 days, just like malware. I updated the topic.

Thanks for the feedback.

Closing

[2020-11-18 16:38] #3487 closed

[2020-11-18 18:01] itishnitsa commented on #3487
HI Chris,

Thanks for following up on that. What happends to the file after 15 days? Does it get deleted? Does it stay in locked state indefinetly? If it doesn’t get deleted, and we leave download option available, I assume the user can still download it?

Thanks,
Tanya

From: Chris Davis <notifications@github.com>
Date: Wednesday, November 18, 2020 at 11:38 AM
To: MicrosoftDocs/microsoft-365-docs

[2020-11-18 18:32] owner7005 opened #3498 "Owner7005w"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e92d6d38-7da4-341d-7462-b9d6336aad13
* Version Independent ID: 0dd10346-a372-a383-b178-6f3f26301922
* Content: [Set up Microsoft 365 Apps for business - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/setup/setup-apps-for-bus

[2020-11-18 18:32] owner7005 opened #3499 "Owner7005w@github.com"

[2020-11-18 18:33] owner7005 commented on #3499
I’m back thx y’all missed it out

[2020-11-18 19:08] JeremyTBradshaw opened #3500 "Disk space requirements on this page are 150GB, are 300GB in actual setup guide"
From the 2004 lab setup guide:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office deployment lab kit - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/modern

[2020-11-18 20:21] #3499 closed

[2020-11-18 20:27] robmazz commented on #3137
@msbemba - localization team does not support one-off publishing. Even if the German version was customized, it would be overwritten by any other merged changed to the topic. Closing as by design.

[2020-11-18 20:27] #3137 closed

[2020-11-18 20:28] robmazz commented on #2924
@jcmgsec  - changed was merged in September

[2020-11-18 20:28] #2924 closed

[2020-11-18 20:35] Jimnar opened #3501 "Confirming accuracy of role required to enable device management"
Can you confirm this statement below is correct?

If it is correct, where are these roles assigned? Azure AD, O365 SCC?

To enable device management, the account you use must be a member of any one of these roles:

Global admin
Security admin
Compliance admin

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0ac0e1-6f08

[2020-11-18 20:38] robmazz commented on #2446
@Alex-Catalin  - thanks for the feedback. The Certificate PDFs on the Service Trust Portal (https://servicetrust.microsoft.com/ViewPage/MSComplianceGuide?command=Download&downloadType=Document&downloadId=4e52ba52-d780-4fe2-a0ec-1cefe39af3ad&docTab=4ce99610-c9c0-11e7-8c2c-f908a777fa4d_ENS_Audit_Reports_and_Certificates) have been updated (on 7/20/20) and the certificates are good through 7/30/22. T

[2020-11-18 20:38] #2446 closed

[2020-11-18 20:47] robmazz commented on #2863
@Rkhan-ms  - thanks for the feedback. Checking with internal contact.

[2020-11-18 21:00] robmazz commented on #3075
@DeanGross - thanks for the feedback. The blog appears abandoned, please use the parent discussion space (https://techcommunity.microsoft.com/t5/financial-services/ct-p/FinancialServices). I'll update the topic, thanks!

[2020-11-18 21:00] #3075 closed

[2020-11-18 21:08] robmazz commented on #3225
@ahamin01 - thanks for the feedback, confirming new link with GDPR contacts.

[2020-11-18 21:17] robmazz commented on #3420
@jbize - thanks for the feedback. This topic is currently under review and in the process of being updated, this section will be changed. Please check back in a few weeks for the most current information. Thanks!

[2020-11-18 21:17] #3420 closed

[2020-11-18 21:34] CyberJR opened #3502 "Typo on page"
The item highlighted in this screenshot should read "Microsoft 365 Compliance"  not Security

![image](https://user-images.githubusercontent.com/74684762/99590831-bdc24b80-29a2-11eb-8253-97b37091911f.png)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5c4fd73b-9632-b0c1-45cb-825f2f1a03dd
* Versio

[2020-11-19 12:11] yogkumgit commented on #3417
@msbemba Thank you very much for the contribution and sharing this explanation. @davidsrhans Hope the comment added in PR  is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-19 12:11] #3417 closed

[2020-11-19 12:45] Raharney opened #3504 "comment to password length"
[I found this point confusing: "Maintain an 8-character minimum length requirement (longer isn't necessarily better)".
I was always of the opinion "longer is better".  Am I wrong?
Or are you making a different point?]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523758d0-17ea-7061-d9ce-8f5a31a76b4c
* Version Independ

[2020-11-19 14:15] MrsGMark2 opened #3505 "Testing sensitive info types"
https://docs.microsoft.com/en-us/microsoft-365/compliance/create-a-custom-sensitive-information-type?view=o365-worldwide#test-custom-sensitive-information-types-in-the-security--compliance-center

The above document suggests there should be a way to test manually created sensitive information types, however the option to do this isn't actually there. I've looked in the Compliance portal and the op

[2020-11-19 17:17] xaven15 opened #3507 "Cross Tenant Migration"
I have followed to Documentation several times exactly as it says.  Everything verifies.  However I keep receiving the following error no matter what I do:

Error: MigrationPermanentException: Your organization does not authorize 'pull' or Inbound moves from the remote organization. Contact your administrator to confirm organization relationships are configured correctly. --> Your organization doe

[2020-11-19 22:29] Molx32 opened #3512 "[Missing update] "Impersonation" has moved to "Spoof" in the interface"
Hello,
I'm currently following the procedures described in this page, and I just noticed a detail (altough it does not alter comprehension) : in [this](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/configure-atp-anti-phishing-policies?view=o365-worldwide#use-the-security--compliance-center-to-modify-anti-phishing-policies-in-microsoft-defender-for-office-365) paragrap

[2020-11-19 22:35] Molx32 commented on #3512
Woops, seems I made a mistake, I didn't look at the right interface.
Sorry for that!

[2020-11-19 22:35] #3512 closed

[2020-11-20 06:44] msbemba commented on #3502
@CyberJR Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3516.

Thanks
Sri

[2020-11-20 06:53] msbemba commented on #3496
@kevincallanan Thank you for your feedback. Looks like the document does not exist anymore. I have removed the broken link till we get the original document fixed. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3517

Thanks
Sri

[2020-11-20 07:04] msbemba commented on #3495
@brenle Thank you for your feedback. It was linking back to the same document. I have removed the reference link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3518

Thanks
Sri

[2020-11-20 09:56] subodhpatil opened #3520 "Exact path of data location card is wrong"
[Enter feedback here]
 The statement

To confirm where customer data is stored for existing Office 365 services, please view tenant specific data location information in your Office 365 Admin Center in Settings | Organization profile | Data location card.

Should be changed to

To confirm where customer data is stored for existing Office 365 services, please view tenant specific data location info

[2020-11-20 14:24] nataliarozycka opened #3521 "double information"
In "Breakdown of messages by type in Microsoft Teams" section there is duplicate info in point 3. Visualization .

![image](https://user-images.githubusercontent.com/74779149/99810327-dcac1380-2b43-11eb-887c-95e10a4fa135.png)
Second section should be changed to:

People sending channel messages: The colored portion and the fraction represent the use of channel messages within people sending messag

[2020-11-20 15:22] tajaber commented on #3221
@msmbaldwin  I mean it is not added in the following doc https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide#microsoft-365-common-and-office-online

[2020-11-20 21:31] JoeDavies-MSFT commented on #2829
@Larryngolog Sorry for the extended delay. Please see https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls?view=o365-worldwide for information on how to handle hybrid traffic. Thanks for your question.

[2020-11-20 21:31] #2829 closed

[2020-11-20 21:32] JoeDavies-MSFT commented on #3350
@sigurd-de I have passed your suggestion to the product teams who maintain these endpoint lists for their consideration in a future update. Thanks for your suggestion.

[2020-11-20 21:32] #3350 closed

[2020-11-20 21:33] JoeDavies-MSFT commented on #3273
@toskr Sorry for the extended delay. I have forwarded your request to the team that maintains that information for their consideration in a future update. Thanks for letting us know.

[2020-11-20 21:33] #3273 closed

[2020-11-20 21:43] JoeDavies-MSFT commented on #3391
@lachlanmd I have forwarded this issue to the product team that owns the list that includes row ID 59 for their consideration in a future update. Thanks for letting us know.

[2020-11-20 21:43] #3391 closed

[2020-11-20 21:49] JoeDavies-MSFT commented on #3493
@alexandreweiss I have forwarded your suggestion to the product team owners who own the networking story for Office 365 for their consideration. Thanks for letting us know.

[2020-11-20 21:49] #3493 closed

[2020-11-20 21:54] JoeDavies-MSFT commented on #3500
@JeremyTBradshaw I have asked the owner of the Windows and Office deployment lab kit download to comment on this issue. Thanks for letting us know.

[2020-11-20 21:55] JoeDavies-MSFT commented on #3446
@virtualcomputerguy I have asked the owner of the Windows and Office deployment lab kit download to comment on this issue. Thanks for letting us know.

[2020-11-20 23:00] joehanna opened #3526 "Feedback for this Product link incorrect"
This page is for the Microsoft 365 admin mobile app. When I click the feedback "For this Product" button at the bottom, I am redirected to a Windows 10 feedback page instead of one for the Microsoft 365 Admin Mobile App.

[2020-11-20 23:05] alexandreweiss commented on #3493
Thanks Joe! Have a nice WE.

Sent from my mobile

________________________________
From: Joe Davies <notifications@github.com>
Sent: Friday, November 20, 2020 10:49:21 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Alexandre Weiss <Alexandre.Weiss@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Update of work

[2020-11-21 00:33] chrisda commented on #3487
Looking into it.

[2020-11-21 01:11] dmwmsft commented on #3520
Thanks Subodh, I submitted the change.

Dean

From: Subodh Patil <notifications@github.com>
Sent: Friday, November 20, 2020 1:57 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Dean Wierman <Dean.Wierman@microsoft.com>; Mention <mention@noreply.github.com>
Subject: [MicrosoftDocs/microsoft-365-docs] Exact path of data location card is wrong (#3520)

[Enter feedb

[2020-11-21 02:06] BrendaCarter commented on #2778
@robmazz do you know where the GDPR toolkit is or if it still exists?

[2020-11-21 02:09] BrendaCarter commented on #2756
Hi @DeanGross, given the investments into Compliance Manager, do you think updating these action plans provides additional help? Or are these resources redundant?

[2020-11-23 02:24] virtualcomputerguy commented on #3446
Great. It would be good to have an answer!

Thanks,
Matt Sample

On Fri, Nov 20, 2020, 2:55 PM Joe Davies <notifications@github.com> wrote:

[2020-11-23 04:03] yogkumgit commented on #3526
@joehanna Please specify which document you are referring to. Thanks.

[2020-11-23 04:23] yogkumgit commented on #3495
@msbemba Thank you very much for the contribution and updating the documentation with PR. @brenle Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-23 04:23] #3495 closed

[2020-11-23 04:27] yogkumgit commented on #3496
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kevincallanan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-23 04:27] #3496 closed

[2020-11-23 04:38] yogkumgit commented on #3520
@dmwmsft Thank you very much for sharing this. @subodhpatil Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-23 04:38] #3520 closed

[2020-11-23 04:39] yogkumgit commented on #3301
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gemmadev Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-23 04:39] #3301 closed

[2020-11-23 04:47] joehanna commented on #3526
Docs page URL: https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-mobile-app?view=o365-worldwide

"This Product" button at the bottom in the "Sub and view feedback for" section links to the Windows 10 feedback page:
https://support.microsoft.com/help/4021566/windows-10-send-feedback-to-microsoft-with-feedback-hub-app

[2020-11-23 08:46] Larryngolog commented on #2829
Hello, I know the article you have mentioned. The issue is that the mentioned article does not include the IPs used for the inbound traffic. For example for EX free-busy it states only "Exchange Hybrid co-existence functions such as Free/Busy sharing. | Customer on-premises Exchange server | Inbound server traffic".

The need is following - regulated customers need to harden their environments and

[2020-11-23 13:13] gs-spec opened #3529 "Missing apostrophe"
Example of enabling privileged access via PowerShell (Step 2) is missing an apostrophe before "sys2@fabrikamorg.onmicrosoft.com')"

Current line:
`Enable-ElevatedAccessControl -AdminGroup 'pamapprovers@fabrikam.onmicrosoft.com' -SystemAccounts @('sys1@fabrikamorg.onmicrosoft.com', sys2@fabrikamorg.onmicrosoft.com')`

Should be:
`Enable-ElevatedAccessControl -AdminGroup 'pamapprovers@fabrikam.onmic

[2020-11-23 13:16] msbemba commented on #3479
@wickid187 Thank you for your email. There is no automatic way to Zap them as of now.  The best possible way to do this currently is to Search and purge them via content search - https://docs.microsoft.com/en-us/microsoft-365/compliance/search-for-and-delete-messages-in-your-organization?view=o365-worldwide

Hope this helps!

Thanks
Sri

[2020-11-23 13:29] msbemba commented on #3490
@canoas Thank you for your feedback. We have added a note to the document about Controlling the auto-forwarding feature via the outbound spam policy. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3530

Thanks
Sri

[2020-11-23 13:32] msbemba commented on #3492
Typically Microsoft automatically rotates your DKIM keys. I'll confirm with the author and update this accordingly.

[2020-11-23 13:33] msbemba commented on #3492
@MSFTTracyP I see that Typically Microsoft automatically rotates your DKIM keys once in 48 hours. The caution seems to be invalid in the document. Shall we proceed with removing the date mentioned for auto rotation? Or is this still valid?

CC: @yogkumgit
Thanks
Sri

[2020-11-23 13:34] msbemba commented on #3498
@owner7005 Thank you for your feedback. Could you please elaborate more on the question/feedback about this document. Please note that this document refers to M365 Apps for business(Office Suite)

Thanks
Sri

[2020-11-23 13:39] msbemba commented on #3500
@JeremyTBradshaw Thank you for your feedback. While 150 GB of free disk space is required, 300 GB is recommended as per the prerequisite. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3531

CC: @JoeDavies-MSFT

Thanks
Sri

[2020-11-23 13:52] msbemba commented on #3501
@Jimnar Thank you for your feedback. The Security admin and compliance admin roles are assigned via the O365 Security and compliance center.

I have added the reference link to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3532
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/permissions-in-the-security-and-compliance-center?view=o365-world

[2020-11-23 16:53] trcoley opened #3534 "documentation which employs acronyms/jargon must define terms"
We arrived at this page from an Office 365 notification with the following title:
"Secure by Default - Honoring EOP/ATP detonation verdicts"

Nowhere in that article was EOP defined.
Nowhere in that article was ATP defined.

After two layers of linking, we arrived at this page where EOP is defined, and ATP can only be inferred.

Please teach new documentation writers to define acronyms and jargon

[2020-11-23 17:14] robmazz commented on #2778
@BrendaCarter and @MikePlumleyMSFT - not aware of any current toolkit. Since most of the references relate to the Azure Information Protection scanner, maybe just link to the the AIP overview topic? https://docs.microsoft.com/azure/information-protection/deploy-aip-scanner

[2020-11-23 17:21] edisoss opened #3536 "Problem with support"
I'm very unhappy about this support because I been calling all weak and they say technician will call back but now calls me back

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eda2bd9d-db22-2b5c-4195-7aeb8e28f2d5
* Version Independent ID: 375d5f30-19de-0e2f-63df-dfbbff863b44
* Content: [Support information for Latvia -

[2020-11-23 17:51] mevenega opened #3537 "Update alternate email"
The steps to update alternate email are not accurate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78b552c1-5a38-2a58-5ef9-3f9f3a324de6
* Version Independent ID: ffd9e488-bb85-365b-0a99-92525189341c
* Content: [Change your organization's address, technical contact, and more - Microsoft 365 admin](https://docs.microso

[2020-11-23 18:41] xaven15 commented on #3458
ScrA parameter cannot be found that matches parameter name 'MailboxMoveCapability'.
    + CategoryInfo          : InvalidArgument: (:) [New-OrganizationRelationship], ParameterBindingException
    + FullyQualifiedErrorId : NamedParameterNotFound,New-OrganizationRelationship
    + PSComputerName        : outlook.office365.comipt no longer works on the following:

So I've been plugging away on this

[2020-11-23 23:59] D-Jeffrey opened #3541 "Page link and questions on Teams vs Skype"
1) The first link does not work
https://support.office.microsoft.com/article/Gather-the-information-you-need-to-create-Office-365-DNS-records-77f90d4a-dc7f-4f09-8972-c1b03ea85a67

2) The Callout for Skype indicates they Skype records are required, but there is nothing within each records that references Teams.  Does that mean that the Skype DNS records are not used if a customer is in Teams Only M

[2020-11-24 03:05] Code2Life opened #3544 "Does "fapiao" means invoice ?"
[Enter feedback here]
Seems like typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7b9f169-db90-943e-afb4-aa90be48acbd
* Version Independent ID: 2336b9a6-8d5f-dc27-2d4d-b42a2df6cdbf
* Content: [View your bill or get a Fapiao in Office 365 operated by 21Vianet - Microsoft 365 admin](https://docs.microsoft.com/en-us/

[2020-11-24 12:33] michaelvgibson commented on #3134
Sorry for the late reply.  Thanks for the feedback.  It appears that documentation is starting to roll out on how to accomplish this with Outlook on the Web.  It appears that on chromium based browsers that you need to enable an extension.
 https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/configure-s-mime-settings-for-outlook-web-app?view=o365-worldwide

Thanks so much f

[2020-11-24 17:15] msbemba commented on #3544
@Code2Life Thank you for your feedback. A fapiao is a legal receipt that serves as proof of purchase for goods and services. So this is more like an invoice.

Hope this helps!

@yogkumgit There are no changes required in the document. Please close the issue.

Thanks
Sri

[2020-11-24 17:23] msbemba commented on #3294
@SabRom  The particular topic is for the autopilot experience within Microsoft 365 Business Premium admin center. The options are still available.

Hope this helps!

@yogkumgit Please close the issue as there are no changes required.

Thanks
Sri

[2020-11-24 17:37] msbemba commented on #3536
@edisoss Thank you for your feedback Sorry about the issue that you have. We are the documentation team and do not have access to the supporting system(ticketing queue). I'd recommend you opening a ticket via the Need help section on the M365 admin center.

Hope this helps!

@yogkumgit There are no changes in the document. We can close the issue.

Thanks
Sri

[2020-11-24 17:52] edisoss commented on #3536
And how can i do it if i canot login in admin

[2020-11-25 06:32] yogkumgit commented on #3294
@msbemba Thank you very much for the contribution and sharing this explanation. @SabRom Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-25 06:32] #3294 closed

[2020-11-25 06:43] yogkumgit commented on #3544
@msbemba Thank you very much for the contribution and sharing this explanation. @Code2Life Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-25 06:43] #3544 closed

[2020-11-25 07:26] yogkumgit commented on #3502
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CyberJR Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-25 07:26] #3502 closed

[2020-11-25 07:30] yogkumgit commented on #3536
@msbemba Thank you very much for the contribution and sharing this explanation. @edisoss Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-25 08:54] grzegorz-silarski commented on #3268
Thank you @msbemba @yogkumgit. I'm happy that I could help here.

[2020-11-25 09:15] Andrew-Griggs opened #3552 "Incomplete Powershell Commands"
The article doesn't specify that you need to import the AzureADPreview module once you have installed it.  Might be confusing for some people who install it but then get an error when they run the script.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac

[2020-11-25 09:54] JoffVerby opened #3553 "Missing 's' in header"
Morning! Look like there's an 's' missing at the end of the heading "Learn about other admin role"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d6f9a72-eac8-f9c7-6dc4-85c0b6ef95cd
* Version Independent ID: 453e6941-933f-a499-f745-031594b84dab
* Content: [About the Exchange Online admin role - Microsoft 365 admin](ht

[2020-11-25 09:57] donnyatmsft opened #3554 "License requirements for shared mailboxes"
In the list you should include also Microsoft Defender for Office 365 if customers wants to protect the shared mailbox with this advanced protection, right? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd8b6d7d-1a95-d263-595e-78649069275f
* Version Independent ID: bacc64b9-916b-bb3d-a885-46fe5d096826
* Content

[2020-11-25 10:22] donnyatmsft opened #3555 "Prerequisites"
Hi prerequisites for Activity and Content Explorer should include also the following two licenses:

- Microsoft 365 E5 Compliance
- Microsoft 365 E5/A5 Info Protection & Governance

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 334e743d-c929-c74a-c996-2b8e0b68a46b
* Version Independent ID: 91c4563c-72c1-4655-72f7-d467b

[2020-11-25 10:33] Alex-Catalin opened #3556 "Expiration time for alert activity list"
We don't seem to have this documented anywhere. When an alert is triggered, we will also make available a list of messages that matched the alert, list that can be viewed by the customer when selecting the alert in the Alerts dashboard. After 7 days, instead of being able to access the messages that matched the alert, we see "The activities for this alert have expired".

Please confirm with the En

[2020-11-25 13:10] JohanssonMarkus opened #3557 "Restore a team from the Teams app"
From this page
https://docs.microsoft.com/en-us/microsoftteams/archive-or-delete-a-team#restore-a-deleted-team
I'm linked to this page where instruction is saying M365 group should be restored from Outlook. That is Catch22 as all teams are hidden from the Outlook client it's not possible. Please update with instruction on how to restore a deleted team from the Teams application

---
#### Document

[2020-11-25 15:50] loveall27 opened #3558 "Instructions are not up-to-date - mailbox usage page"
[Enter feedback here]

 Instructions on this page are not up to date, there is no drop-down menu to access exchange/usage
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e612a4e4-d051-27a7-e54a-bb1ac3fe0849
* Version Independent ID: 653be32f-e4e8-8a72-98b3-a629238ecbd5
* Content: [Microsoft 365 Reports in the admin cente

[2020-11-25 16:05] RipRapRob opened #3559 "Ambiguity in wording, and bug when setting passwords to never expire"
In the documentation on https://docs.microsoft.com/en-us/microsoft-365/admin/manage/set-password-expiration-policy?view=o365-worldwide

`If you don't want users to have to change passwords, select the checkbox next to Set user passwords to expire after a number of days.`

Surely this should be DESELECT the checkbox`?

I've DEselected the checkbox, but new users I created days after deselecting the

[2020-11-25 16:30] nikki-c opened #3560 "Query of PowerShell step in section How to enable sensitivity labels for containers and synchronize labels"
In the section 'How to enable sensitivity labels for containers and synchronize labels' it mentions that the sensitivity labels need to be synced with Azure AD and to run the following command Execute-AzureAdLabelSync

When you go view the for Execute-AzureAdLabelSync https://docs.microsoft.com/en-us/powershell/module/exchange/execute-azureadlabelsync?view=exchange-ps

it states
'This cmdlet is re

[2020-11-25 17:26] mohanse opened #3561 "Size limit for encrypted messages is not correct in documentations"
[Enter feedback here]
As per this- https://docs.microsoft.com/en-us/office365/servicedescriptions/exchange-online-service-description/exchange-online-limits#message-limits-across-standalone-options

Size limit for encrypted messages(new OME) for Exchange Online plan 2 is 150 MB.

But as per this - https://docs.microsoft.com/en-us/office365/servicedescriptions/exchange-online-service-description/ex

[2020-11-25 18:09] markjjo commented on #3556
@Alex-Catalin Please go ahead and update the article with this change and submit a pull request. Thanks.

[2020-11-25 18:09] #3556 closed

[2020-11-25 18:30] cabailey commented on #3560
@nikki-c : My recollection is that running this cmdlet is definitely needed if you had sensitivity labels before September 2019, but we also identified other scenarios that might require running this cmdlet, so as a safeguard against possible issues we included it as a one-time command everybody should run.  Checking with engineering whether this is still the case.

[2020-11-25 18:39] AustinBoak opened #3562 "This article has not been updated with the new naming scheme for Microsoft Business Basic/Standard/Premium"
This article has not been updated with the new naming scheme for Microsoft Business Basic/Standard/Premium. Bookings should be shown as available for Business Standard and Business Premium.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7484dd4-5d94-dd6c-0dbe-551c852677c1
* Version Independent ID: 257d60e2-9313-e08b-d

[2020-11-25 19:33] nikki-c commented on #3560
If you need to run the  Execute-AzureAdLabelSync  in all situations can the PowerShell cmdlet page Execute-AzureAdLabelSync https://docs.microsoft.com/en-us/powershell/module/exchange/execute-azureadlabelsync?view=exchange-ps be updated to remove 'This cmdlet is required if you were using sensitivity labels before September 2019.'

From: Carol Bailey <notifications@github.com>
Sent: 25 November 20

[2020-11-26 07:22] madduci opened #3563 "Add link to personal Productivity Score"
On the page it's stated that a Microsoft 365 Admin can review Productivty Scores, but there's no mention to user's own Personal Productivity Score link. It should be added, since it's a personal information that **can always be reviewed** from each owner of a Microsoft 365 account.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-11-26 09:23] msbemba commented on #3521
@nataliarozycka Thank you for the feedback. We have fixed the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3564

Thanks
Sri

[2020-11-26 09:36] yogkumgit commented on #3541
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-26 09:37] msbemba commented on #3478
@DeanGross Thank you for your feedback. I have added a note to the document with a reference link to Find what sensitive information you have in files stored on-premises.
This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3565

Thanks
Sri

[2020-11-26 09:37] yogkumgit commented on #3505
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-26 09:38] msbemba commented on #3479
@yogkumgit This is more of a technical query not related to a document. The issue can be closed.

Thanks
Sri

[2020-11-26 09:38] yogkumgit commented on #3494
@robmazz  Please add your comment and help us in resolving this issue. Thanks.

[2020-11-26 09:47] yogkumgit commented on #3479
@msbemba Thank you very much for the contribution and sharing this explanation. @wickid187 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-26 09:47] #3479 closed

[2020-11-26 09:48] PhilGude opened #3567 "Inform what is the futur mechanism that replaces In-Place Hold"
Dear Team,

I was reading the good article "Data resiliency in M365" interested to understand how the continuity offered by the platform mitigate the risks of data loss and disaster recovery.

Then continued in the page  "Exchange Online Data Resiliency" to see in detail how this is implemented in Exchange I found the point "Store logical corruption" particularly appealing. It is mentioned  "The I

[2020-11-26 09:48] msbemba commented on #3537
@mevenega Thank you for your feedback. We have modified the steps to edit the alternate email address. The same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3566

Thanks
Sri

[2020-11-26 09:53] msbemba commented on #3529
@gs-spec Thank you for feedback. We have made the changes to the example on the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3568

Thanks
Sri

[2020-11-26 09:59] msbemba commented on #3504
@Raharney Thank you for your feedback.  Longer is definitely better, but eight to twelve characters can be adequate that uses mixed case and numbers instead of a longer and easy to guess password.

Hope this helps!

Thanks
Sri

[2020-11-26 10:00] msbemba commented on #3507
@xaven15 Thank you for your feedback. Could you please provide us the document that was followed for cross tenant migration?

Thanks
Sri

[2020-11-26 10:02] msbemba commented on #3526
@pebaum The Feedback link on this page -  https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-mobile-app?view=o365-worldwide is redirecting to Feedback on windows 10 instead of the Admin app. Could you help us fix this link in the backend?

Thanks
Sri

[2020-11-26 10:08] yogkumgit commented on #3504
@msbemba Thank you very much for the contribution and sharing this explanation. @Raharney Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-26 10:08] #3504 closed

[2020-11-26 10:11] msbemba commented on #3553
@JoffVerby Thank you for your feedback. We have fixed the missing "s" via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3569

Thanks
Sri

[2020-11-26 13:03] msbemba commented on #3554
@donnyatmsft Thank you for your feedback. We have added this information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3571

Thanks
Sri

[2020-11-26 13:08] msbemba commented on #3555
@donnyatmsft Thank you for your feedback. We have added these two licenses to the prerequisites. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3572

Thanks
Sri

[2020-11-26 13:26] msbemba commented on #3558
@loveall27 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3573

Thanks
Sri

[2020-11-26 16:07] DiavoloRosso opened #3574 "Old material"
Old video with very very old platform.
Usefull with new login page and offic.com experience

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0557523-00aa-de0f-5904-36ade8ac0d0d
* Version Independent ID: 6730d75d-fa65-b8df-5922-3b887c31cd4a
* Content: [Get started with Microsoft 365 for business - Microsoft 365 admin](ht

[2020-11-26 16:08] Jimnar commented on #3501
Thanks for the update. Also, do you mean Security **Administrator** and Compliance **Administrator** as opposed to Security **Admin** and Compliance **Admin**?

[2020-11-26 16:26] gemmadev opened #3575 "Possible to add details on how to change languages settings in Admin mobile app ?"
Hi there,

Suggestion to add steps on how to change  language settings in Admin Mobile app
Non English users may  not be aware on how to change language settings.

Thinking maybe of adding it to this section on the page ?

What languages are supported by the app?
The app supports all 39 languages that the web-based Microsoft 365 admin center supports.

thx
Gemma

---
#### Document Details

⚠ *Do n

[2020-11-26 16:43] msbemba commented on #3029
@ecomsetters we’re no longer supporting Bookings connection to Facebook. We are working with the PM to file a bug to get the button removed.

@yogkumgit There are no changes required in the document and the issue can be closed.

CC: @kwekuako

Thanks
Sri

[2020-11-26 17:03] msbemba commented on #3501
@Jimnar That is correct.

[2020-11-26 20:02] edisoss commented on #3536
Can you maybe give me headquarters email or phone number where I can tell my issue?

[2020-11-27 01:06] AJRus opened #3578 "Out of date"
Basic auth on exchange online has been depreciated, this script is out of date.  get-compliancecase is not a valid cmdlet with the powershell module exchangeonlinemanagement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b759021-39d7-0383-2f50-b5b813217f97
* Version Independent ID: 5f5dfeab-1160-3994-2cb8-1ca7c67e3ff2

[2020-11-27 05:30] yogkumgit commented on #3029
@msbemba Thank you very much for the contribution and sharing this explanation. @ecomsetters Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-27 05:30] #3029 closed

[2020-11-27 08:26] msbemba commented on #3552
@Andrew-Griggs Thank you for your feedback. After installing the AzureADPreview module, the script calls for a connection to AzureAD so it is not required to import the module as such. I was able to install and connect in a test machine without having to import it.

Hope this helps!

Thanks
Sri

[2020-11-27 08:30] msbemba commented on #3557
@JohanssonMarkus Thank you for your feedback. The document is updated with two tabs about restoring a group. 1)Restore from outlook 2) Restore from the Admin center. There is no specific way to restore a team from MS Teams directly.

The third method is to restore from the Azure Active Directory, Please refer to https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-restor

[2020-11-27 08:36] msbemba commented on #3559
@RipRapRob Thank you for your feedback. I'm testing this scenario currently and will let you know. Meanwhile, you can use the cmdlet Set-AzureADUser -ObjectId <user ID> -PasswordPolicies DisablePasswordExpiration for the affected user to disable password expiration.

Thanks
Sri

[2020-11-27 08:45] msbemba commented on #3562
@AustinBoak Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3579

Thanks
Sri

[2020-11-27 08:46] msbemba commented on #3563
@madduci Thank you for your feedback. Are you referring to the productivity insights that the customers can view on Workplace Analytics?

Thanks
Sri

[2020-11-27 08:49] msbemba commented on #3561
@mohanse Thank you for the feedback. We have made changes to the document to reflect the new size limit of 150 MB. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3580

Thanks
Sri

[2020-11-27 09:12] madduci commented on #3563
@msbemba thank you for replying. Yes: as a not Microsoft 365 Administrator, but just as a standard Microsoft 365 in an Organization, how can be possible to access those Productivity Insights? There's no mention to it in the documentation.

Thanks

[2020-11-27 10:07] pbox opened #3581 "Powershell issue"
There's an issue in the powershell code under "To view the list of all user accounts in your organization that have been assigned any of your licensing plans (licensed users), run the following command:"

The wrong code starts with :

however $licensed should be initialized with $false

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-11-27 10:37] RipRapRob commented on #3559
Thank you @msbemba 😊

I've already changed it for the users we've created after we (thought we) disabled the 'password expires' setting, but it would be nice that we didn't have to do it manually each time we add a user.

[2020-11-27 10:47] JohanssonMarkus commented on #3557
I see, but then please take into consideration to have this built into the Teams client. Nothing else make sense right?

[2020-11-27 15:13] deuxpointzero opened #3582 "Is deleting a account a valid option to delete a Bookings Calendar"
Hello,

Do I have to delete the user so that it deletes the calendar. Am i reading correctly these instructions ? There should be a warning before doing that you are deleting an account and not just the calendar ? Am I right ?

The rest of the solution state to execute powershell commands to delete the calendar which is ok.
But the first solution seems to be a bit too strong to just delete a calen

[2020-11-28 11:21] yukahey opened #3583 "Usernames reset to default in o365 when removing non-default domain."
We have a hybrid setup for 5 years in o365 with 4 other domains within the tenant. All usernames upon setup had .onmicrosoft and we didn't want to confuse our many non-technical user base with that username, so we changed usernames to the Active Directory username + @ourdomain. We recently deleted one of the non-default domains and all usernames instantly changed back to the original username with

[2020-11-28 17:39] DeanGross opened #3584 "What permissions are needed to view the Defender for Office 365 reports"
The Global Reader role is not listed in this section,, is that an oversight? I would expect that role to be able to be able to view these reports.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e62b98-5f0c-8fc3-8163-c028fa5a6445
* Version Independent ID: b8262fa8-ff97-db0a-b2b5-4dd624fb057b
* Content: [View reports f

[2020-11-29 03:57] yogkumgit commented on #3552
@msbemba Thank you very much for the contribution and sharing this explanation. @Andrew-Griggs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 03:57] #3552 closed

[2020-11-29 05:01] yogkumgit commented on #3498
@msbemba Thank you very much for the contribution and digging deep into it.  @owner7005 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this document

[2020-11-29 05:01] #3498 closed

[2020-11-29 05:04] yogkumgit commented on #3507
@msbemba Thank you very much for the contribution and digging deep into it.  @xaven15 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentat

[2020-11-29 05:04] #3507 closed

[2020-11-29 05:11] yogkumgit commented on #2756
@DeanGross Please share your comment. Thanks.

[2020-11-29 05:13] yogkumgit commented on #3335
@chrisda Thank you very much for sharing this explanation. @MarcLaf If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 05:13] #3335 closed

[2020-11-29 05:16] yogkumgit commented on #3415
@cabailey Thank you very much for sharing this explanation. @cshailaja Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 05:16] #3415 closed

[2020-11-29 05:51] #3375 closed

[2020-11-29 07:32] msbemba commented on #3536
@edisoss Thank you for your feedback. We can help you in modifying the document if there is incorrect information and I have verified that the support number is correct. Unfortunately, we don't have a way to create support tickets. If you are the only admin and you have forgotten your password, then you need to get in touch with the support team on either 1-877-696-7786 or the Latvia number at 800

[2020-11-29 07:41] yogkumgit commented on #3482
@chrisda Thank you very much for sharing this explanation. @rtrigueiro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 07:41] #3482 closed

[2020-11-29 07:42] msbemba commented on #3559
@RipRapRob Thank you for your feedback. I have made changes to the document stating that we need to uncheck the option to not let the password expire. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3585

Meanwhile, If the option is deselected and you still have a password policy forced, I'd recommend you contact support to fix the bug on your tenant. Let me kno

[2020-11-29 07:43] yogkumgit commented on #3488
@chrisda Thank you very much for sharing this explanation. @itishnitsa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 07:43] #3488 closed

[2020-11-29 07:44] msbemba commented on #3557
@JohanssonMarkus I hear you. We have a few other users as well who have requested for this change and we have requested for a design change via Uservoice- https://microsoftteams.uservoice.com/forums/555103-public/suggestions/39789685-i-want-to-restore-a-team-from-the-teams-app

You can vote for this design change and will be notified once this is approved and live. Meanwhile, the document will als

[2020-11-29 07:48] msbemba commented on #3563
@madduci Thank you. The document pertains more towards how admins can Interpret the Productivity Score. The productivity insights is  a part of workplace analytics and documentation can be found her -https://docs.microsoft.com/en-us/workplace-analytics/myanalytics/use/dashboard-2

Thanks
Sri

[2020-11-29 07:50] yogkumgit commented on #1189
@MaratMussabekov Thank you very much for the contribution and sharing this explanation. @Larryngolog Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-11-29 07:50] #1189 closed

[2020-11-29 07:52] msbemba commented on #3534
@trcoley Thank you for your feedback. Sorry about the confusion. Microsoft Defender for Office 365 is the new name for Office 365 Advanced Threat Protection. We have now added a note on the document to explicitly mention this change.

Thanks
Sri

[2020-11-29 14:30] yogkumgit commented on #2796
@cabailey Please add your comment and help us in resolving this issue. Thanks.

[2020-11-29 14:54] yogkumgit commented on #3221
@JoeDavies-MSFT Please add your comment and help us in resolving this issue. Thanks.

[2020-11-29 15:01] yogkumgit commented on #2705
@ChristopherTulip  Gentle reminder, Kindly answer and help us in resolving this issue. Thanks.

[2020-11-30 04:54] RKD993 opened #3588 "Message Center - Can Messages be downloaded?"
We would like to be able to download Message Center messages into a SharePoint List for the use of documentation team members and trainers. Obviously it would be ideal if one could filter before exporting the messages but that isn't essential.  In a perfect world one could connect to Message Center and import them straight into SharePoint.

Thanks
Russell

---
#### Document Details

⚠ *Do not edit

[2020-11-30 05:22] madduci commented on #3563
@msbemba thank you for your reply and feedback. I guess it would be still relevant to add at the end of the page the link to the productivity insights you've pasted here, so to have a cross-reference.
Thanks

[2020-11-30 08:05] msbemba commented on #3563
@madduci  Thank you for the feedback. I have added a note at the end of the page via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3589

Once the author approves the PR you will see the changes live on the document.

Thanks
Sri

[2020-11-30 11:33] ArttuArstila opened #3590 "The instructions about changing the mailbox type in a hybrid environment are outdated"
The instructions about changing the mailbox type in a hybrid environment are outdated. Please include this change:
https://support.microsoft.com/en-us/help/4133605/cmdlets-to-create-modify-remote-shared-mailbox-in-on-premises-exchange

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b3fbbe-fde3-fd52-f9cd-d8fca56a1494
*

[2020-11-30 16:29] MikePadge opened #3591 "Endless DNS Circles"
[Enter feedback here]
I feel like I'm some sort of catch22 hell.  I was linked to this document via https://docs.microsoft.com/en-us/microsoft-365/admin/dns/create-dns-records-for-azure-dns-zones?view=o365-worldwide#add-an-mx-record-so-email-for-your-domain-will-come-to-microsoft

Because I can't find my domain key to setup DNS records in Azure... It looks like all of the MS documentation for sett

[2020-11-30 16:34] #3591 closed

[2020-11-30 19:43] dmwmsft commented on #3274
We do not publish the data location for Personal OneDrive.

[2020-11-30 20:09] jhambach opened #3592 "Bookings Address Field Issue"
When using a bookings public page, the address field doesn't display properly on the Outlook Calendar event page. If you manually create the booking it works fine, but if the booking is done from the booking page the address doesn't get added properly and shows up as "Other"

[2020-11-30 20:23] Jimnar commented on #3501
@msbemba can I confirm you will be adding the "istrator" to the end of Admin to improve the accuracy of the instructions?

[2020-11-30 20:32] MikePlumleyMSFT commented on #3462
"Files and content" is replacing "Organizational knowledge." The update should be live soon.

[2020-11-30 20:33] MikePlumleyMSFT commented on #3066
@seansquires, anything more you can add?

[2020-11-30 20:41] #2723 closed

[2020-11-30 20:50] Jimnar opened #3594 "What permissions are required to list the onboarded devices in M365 Compliance > Settings > Devices onboarding > Devices?"
Members of the Compliance Administrator or Security Administrator role group in O365 SCC are not able to view the onboarded devices list. Must one be a Global Administrator? Can we add any clarification to the documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0ac0e1-6f08-2f8b-10c7-a967e53886f8
* Version I

[2020-11-30 20:57] markjjo commented on #3578
@AJRus To use modern auth in the script, you can replace these lines:

# Get user credentials &amp; Connect to Office 365 SCC, SPO
$credentials = Get-Credential -Message "Specify your credentials to connect to the Security & Compliance Center and SharePoint Online"
$s = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri "https://ps.compliance.protection.outlook.com/powershell-livei

[2020-11-30 20:57] #3578 closed

[2020-11-30 21:01] markjjo commented on #3578
sorry, previous post include git formatting. should be (github escape characters added)

replace this:

\# Get user credentials &amp; Connect to Office 365 SCC, SPO
$credentials = Get-Credential -Message "Specify your credentials to connect to the Security & Compliance Center and SharePoint Online"
$s = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri "https://ps.compliance.prote

[2020-11-30 21:26] denisebmsft commented on #3592
Hello @jhambach. To which article(s) does your feedback apply? This information will help us route the issue to the correct writer/team. Thanks!!

[2020-11-30 21:47] lucafabbri365 opened #3596 "Microsoft Defender for Office 365 Plan 1 and Plan 2"
Hello,
currently **Microsoft Defender for Office 365 Plan 1 and Plan 2** are available on Microsoft 356 admin portal as available (purchasable) add-ons of **Microsoft 365 Business Standard** plan; however looking at this Microsoft Docs page, **Microsoft 365 Defender for Office 365** seems to be available for Office 365 Enterprise E1, E2, E4 (not for Microsoft 365 Business Standard). So, what I mis

[2020-11-30 23:11] SingingTech opened #3597 "Add information for when adding a secondary domain"
[When adding a secondary domain for a tenant within GCC high, it is my understanding that the MX records are the same BUT you need to add it into  azure AD and verify the domain first before creating users and/or aliases under that domain. Could we include this information in the article somewhere?  ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-12-01 01:56] glen-ritchie opened #3599 "Incorrect usage instructions"
These instructions in this page are incorrect and do not work.

If you follow these instructions, there is no "Active users drop-down list" to select anything from,

To view the mailbox usage you must instead:

1. Click "View More" under **"Email Activity"**
2. Click "Email Activity" drop down and select "Exchange - Mailbox usage"

---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-12-01 09:08] InspireCloudTech commented on #3066
@MikePlumleyMSFT I may be wrong, but following my comment back in October i went back and reviewed other content and the sessions from Ignite and now understand the below:

My understanding is that the $5PM is to provide the Document Understanding Model, which effectively means you use .docx files and they need to have the same layout to allow the understanding model to pull the metadata. However

[2020-12-01 10:38] limp15000 opened #3602 "Wrong sub menu"
[Enter feedback here]
The custom dns page should not be under the productivity score. "Monitor user productivity with Productivity score "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f2e4e45-6ad7-eb79-aecb-0d7a89b06a03
* Version Independent ID: 1059223e-5759-b130-41ac-5ea98cb5367e
* Content: [Add DNS records to con

[2020-12-01 11:34] yogkumgit commented on #3130
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jennifer-eilers Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 11:34] #3130 closed

[2020-12-01 11:37] yogkumgit commented on #3169
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dawholl Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 11:37] #3169 closed

[2020-12-01 11:42] yogkumgit commented on #3274
@dmwmsft Thank you very much for sharing this explanation. @tanmoy1338 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 11:42] #3274 closed

[2020-12-01 11:46] yogkumgit commented on #3462
@MikePlumleyMSFT Thank you very much for sharing this explanation. @thomyg Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 11:54] yogkumgit commented on #3553
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JoffVerby Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 11:54] #3553 closed

[2020-12-01 11:57] yogkumgit commented on #3521
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nataliarozycka Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-01 11:57] #3521 closed

[2020-12-01 12:57] msbemba commented on #3501
@Jimnar  The roles in Azure AD and O365 Admin center show up as admin instead of an administrator. That is the reason why the documents say so. Hope this helps!

![image](https://user-images.githubusercontent.com/45987684/100743790-ce42df00-3402-11eb-912d-863e22cb437f.png)

Thanks
Sri

[2020-12-01 13:57] ihloff opened #3603 "Classic Settings Page is deprecated"
This article states following:
"4. In the left pane, choose settings, and then choose classic settings page."
As the Classic Settings Page is deprecated and no longer available this needs to be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29df28b-0065-a059-f22d-3433c1dd65a0
* Version Independent ID: 83b4447

[2020-12-01 14:29] Matthew-Kent opened #3604 "Typo"
Foe example, you could run the following Windows PowerShell

Should read

For example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2be15ac4-2297-90eb-57f0-2c3eebfbdd91
* Version Independent ID: 959cf2d6-b6cd-59b9-21e4-dc31e8fba0b9
* Content: [Prepare a non-routable domain for directory synchronization - Microsoft 365

[2020-12-01 14:52] KjetilEVRY opened #3605 "Wrong information for group delegation"
The second image of a diagram showing roles and role groups is misleading. You cannot assign AzureAD groups to a role group, only individual user accounts.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b34b5c8-b67e-72f2-0eba-d98b760f1d16
* Version Independent ID: adcd41fb-ffd1-f6d0-96ad-0036c0a677a7
* Content: [Permi

[2020-12-01 19:20] dzazzo-msft commented on #3597
Discussed this offline with @SingingTech - I'm not sure this is an appropriate edit.  I agree that there's some orders of operations work that needs to happen here (you need to add the domain to the tenant before you can use it to accept email), but the process of adding and verifying the domain (with the ms= MX or TXT record) is external to this guidance and isn't part of the Office-specific DNS

[2020-12-01 20:23] Franckiboy15 opened #3609 "Error in documentation about Mailbox Usage"
In Step 2, "Select View More under Active users - Microsoft 365 Services."  the option is not in this panel anymore but in the Email activity section.

In step 3, the drop down list name is Email activity and not active user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e612a4e4-d051-27a7-e54a-bb1ac3fe0849
* Version I

[2020-12-01 21:07] HarrisburgUSysAdmin opened #3610 "Mail Flow Rules + Outbound Spam Filter"
What if you have both configured to block auto-forwarding? Will the user get the mail flow rule kickback or the kickback from the outbound spam rule?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43299e41-87fe-d6f1-20f7-83791d8ef90b
* Version Independent ID: e5e69845-7040-f5b7-b922-e2d2fd9a7d5e

[2020-12-01 22:18] chrisda commented on #3605
@KjetilEVRY, confirmed, but surprising. I updated the second image to only show users.

Thanks for the feedback.

Closing

[2020-12-01 22:18] #3605 closed

[2020-12-02 00:07] JeremyTBradshaw commented on #3500
Closing since it's address in @msbemba 's PR.  Thanks!

[2020-12-02 00:07] #3500 closed

[2020-12-02 00:20] JoeDavies-MSFT commented on #3604
@Matthew-Kent Article updated thanks to @TeeVenDick. Thanks for letting us know.

[2020-12-02 00:20] #3604 closed

[2020-12-02 06:42] yogkumgit commented on #3557
@JohanssonMarkus  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-12-02 06:43] #3557 closed

[2020-12-02 06:48] yogkumgit commented on #3473
@chrisda Thank you very much for sharing this explanation. @greg4168 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-02 06:48] #3473 closed

[2020-12-02 10:18] Radiergummi commented on #1521
@get-itips currently, the article says verbatim:

These steps lead to the dkim page in the old Exchange admin center, which shows the following banner:

The table also provides no controls at all, so naturally one reads the banner and follows through to the Security and Compliance Center link, which leads to [protection.office.com/dkimv2](https://protection.office.com/dkimv2).

Infuriatingly, thou

[2020-12-02 13:51] menewol opened #3612 "missing endpoints"
Please update the list of endpoints appropriately to reflect the endpoints used by Microsoft Streams (particularly within MS Teams, e.g. as new Card/Tab within a channel)
If this is not the right place to find the used endpoints for a MS service (particularly MS Streams), would you please be so kind to point me in the right direction?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-12-02 14:18] Navesai opened #3613 "Please update the information on how to proceed after the request deadline is over."
Not mentioned - What to do after 30th June,2020 ?

How Can I raise a request for GoLocal for South Africa tenant now ?

Can you please update the information on how to proceed after the  request deadline is over ?

[2020-12-02 14:48] trudolf-msft opened #3614 "Manage staff - Bookable yes/no"
How to change bookable attribute under Manage staff?
Please add this question to FAQ.

According to answer of Arun Satyarth <Arun.Satyarth@microsoft.com>:
When the staff was added, he would have received an email for accepting or rejecting the request. They can open the same email and select "Reject" . This will make him non bookable. We currently do not have a way to toggle this from inside the a

[2020-12-02 17:23] cabailey commented on #2796
Not sure I understand this comment, assigning to @fredericlapierre who authored the original article

[2020-12-02 17:34] cabailey commented on #2796
Not seeing Fred's GitHub account available to assign - adding back @yogkumgit.  Fred is a Microsoft employee, so we can take this up with him internally, but he told him he saw no discrepancies in the article.

[2020-12-02 18:25] cmcatee-MSFT commented on #3536
@edisoss I'm sorry you're having so much trouble contacting support for your country. Would you please provide me with the following information so that I can have our internal support team check for issues with the number? Please send this information directly to me at cmcatee@microsoft.com (do not post it here):

- Caller's telephone number
- Support # called
- Date of call
- Time of call with t

[2020-12-02 18:33] MSFTTracyP commented on #3492
Ah! The advice was that customers could choose to follow Rotate-DkimSigningConfig until auto-rotation was 'enabled again by August 2020'. I'd advise always using Get-DkimSigningConfig to verify your own keys. That part of the document will be corrected (especially since the limit no longer applies) as soon as workload permits, but there is definitely no need for a customer to wait for that correct

[2020-12-02 18:54] MSFTTracyP commented on #3076
@Flowl are you using a DKIM key from some other source that you generate and include in DNS as a TXT file? If you are, yes, you'll need to create and rotate the key pairs yourself and maintain DNS for these. However, outside of that instance, Microsoft handles the DKIM key and its rotations on the backend, so that all that's required is for customers to create the CNAME entries that forward DKIM r

[2020-12-02 21:51] msbemba commented on #3567
@PhilGude Thank you for the feedback. This is a very important point that you bring in, I have added an important note to the document about the same and can be tracked via PR#https://github.com/MicrosoftDocs/Compliance/pull/5

You can view more information about this on Retirement of legacy eDiscovery tools and how
 this is handled now https://docs.microsoft.com/microsoft-365/compliance/legacy-ed

[2020-12-03 07:16] yogkumgit commented on #3537
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mevenega Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-03 07:16] #3537 closed

[2020-12-03 07:21] yogkumgit commented on #3529
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gs-spec Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-03 07:21] #3529 closed

[2020-12-03 07:27] yogkumgit commented on #3385
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dgordonb Closing the issue as per the comment in PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-03 07:27] #3385 closed

[2020-12-03 07:32] yogkumgit commented on #3490
@msbemba Thank you very much for the contribution and updating the documentation with PR. @canoas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-03 07:32] #3490 closed

[2020-12-03 07:34] yogkumgit commented on #3247
@msbemba Thank you very much for the contribution and updating the documentation with PR. @useyourblinker Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-03 07:34] #3247 closed

[2020-12-03 07:37] yogkumgit commented on #3562
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AustinBoak Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-03 07:37] #3562 closed

[2020-12-03 07:50] yogkumgit commented on #3460
@msbemba Thank you very much for the contribution and updating the documentation with PR. @henrywang08 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-03 07:50] #3460 closed

[2020-12-03 08:39] msbemba commented on #3581
@pbox Thank you for your feedback. Per the document, you would make the below changes in the cmdlets

To view the list of all user accounts in your organization that have NOT been assigned any of your licensing plans (unlicensed users), you use $licensed=$False

To view the list of all user accounts in your organization that have been assigned any of your licensing plans (licensed users), you use

[2020-12-03 08:51] msbemba commented on #3582
@deuxpointzero Thank you for your feedback. You are correct, There are only two options to delete a booking calendar (Admin GUI to delete the account and the PS method). The  GUI option is strong and we got to delete the entire mailbox /user account. There has been a design request(user voice) to delete the calendar alone at the user/admin level (GUI) -https://outlook.uservoice.com/forums/314907-m

[2020-12-03 08:58] msbemba commented on #3583
@yukahey Thank you for the feedback.  When you remove a domain, Office 365 user accounts will revert back to .onmicrosoft.com address as the Primary SMTP/UserprincipalName. I have added this as a Note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3619

Thanks
Sri

[2020-12-03 09:44] pbox commented on #3581
I understand what your saying, but the point of that code is to "To view the list of all user accounts in your organization that have been assigned any of your licensing plans (licensed users)" but it does not work because **it show every user (licensed and unlicensed)** because nothing ever sets $licensed to $false.

**pseudo code bellow**

for each user in azure {
   licensed = true
   if at lea

[2020-12-03 09:44] Crimsonfox89 opened #3620 "X-MS-Exchange-Organization-Network-Message-Id not available in quarantines messages"
Under the "Submit a questionable email to Microsoft" heading, it states to use the "X-MS-Exchange-Organization-Network-Message-Id". This value does not seem to appear in the header of a message that has been quarantined (https://protection.office.com/quarantine). In that case the **X-MS-Office365-Filtering-Correlation-Id** value is identical and can be used instead.

It would be useful to note thi

[2020-12-03 10:23] msbemba commented on #3581
Thank you. I will test the code and update the document if required.

Thanks,

Sri

From: pbox <notifications@github.com>
Sent: Thursday, December 3, 2020 3:15 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Sriraman M S <msbemba@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Powershell issue (#3581)

I understan

[2020-12-03 10:57] msbemba commented on #3590
@ArttuArstila Thank you for the feedback. These cmdlets can be only used Starting in Cumulative Update 21 for Exchange Server 2013 and Cumulative Update 10 for Exchange Server 2016. I have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3621

Thanks
Sri

[2020-12-03 10:58] msbemba commented on #3592
@jhambach Thank you for your feedback. Are you referring to this document - https://docs.microsoft.com/en-us/microsoft-365/bookings/create-a-manual-booking?view=o365-worldwide?

Thanks
Sri

[2020-12-03 11:07] msbemba commented on #3596
@lucafabbri365 Thank you for your feedback. We have updated the document with defender availability. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3622

Thanks
Sri

[2020-12-03 11:13] msbemba commented on #3602
@limp15000 Thank you for the feedback. I will work internally with the author to get this sorted.

Thanks
Sri

[2020-12-03 11:15] msbemba commented on #3602
@Sirkkuw We notice that the document - Microsoft Productivity score (https://docs.microsoft.com/en-us/microsoft-365/admin/productivity/productivity-score?view=o365-worldwide) has an incorrect submenu linking to this Custom DNS Page (https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider?view=o365-worldwide)

Could you please help i

[2020-12-03 11:21] msbemba commented on #3603
@ihloff Thank you for your feedback. This setting is still available if you click on the Go to the classic setting page at the bottom

![image](https://user-images.githubusercontent.com/45987684/101008349-b183e400-3587-11eb-99fe-cafed76a2ba3.png)

Hope this helps!

Thanks
Sri

[2020-12-03 13:34] pakondra opened #3623 "Remove "Get-OutlookAnywhere | FL server,*url*" - this is not correct"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae987bba-faf5-916d-c3b1-74f547ff8d90
* Version Independent ID: 9f5a7979-af5a-8fbf-45f0-287bb9fa4772
* Content: [How to configure Exchange Server on-premises to use Hybrid Modern Authentication - Microsoft 365 Enterprise](https://docs.microsoft.com/en-

[2020-12-03 13:36] pakondra commented on #3623
In this section: https://docs.microsoft.com/en-us/microsoft-365/enterprise/configure-exchange-server-for-hybrid-modern-authentication?view=o365-worldwide#add-on-premises-web-service-urls-as-spns-in-azure-ad

Please remove "Get-OutlookAnywhere | FL server,*url*" as it is not applicable.

[2020-12-03 14:45] JBurdGitsIT opened #3624 "Threat management > Policy > Tenant Allow/Block Lists Doesn't Exists"
Step 1 includes the words "go to Threat management > Policy > Tenant Allow/Block Lists."

The Allow/Block Lists option no longer exists; therefore, the document's usefulness is greatly diminished.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c

[2020-12-03 14:59] mevenega commented on #3537
Thank you all!

Melina Venegas
SR TECHNICAL ADVISOR | Microsoft 365 Data Protection
mevenega@microsoft.com<mailto:mevenega@microsoft.com>
[Microsoft]

[cid:image002.png@01D6C952.8EF80B10]
How secure is your Office 365 organization? Go to Microsoft 365 Security Documentation<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fmicrosoft-365%2Fsecurity%2F&da

[2020-12-03 15:16] jschnei5 opened #3625 "SharePoint Syntex error during training of a model"
Hello,
I received an error while setting up SharePoint Syntex that has not yet been described here. Maybe it is due to the configuration of the system. If so, please include it in the manual. Unfortunately, I have not found a solution yet or received a solution from your support.
The error occurs when you want to train a model. It is displayed, no text is recognized in the documents.

**Error**: A

[2020-12-03 15:19] MutantCarrot opened #3626 "$AllowGroupCreation = "False" should be $AllowGroupCreation = $false"
as per title.  otherwise you get:

Message: The value '' for property 'EnableGroupCreation' does not match the expected type 'System.Boolean'.

[2020-12-03 16:14] DeanGross opened #3627 "Out of date instructions"
The link to run a search points to protection.office.com, since this is getting phased out, a better link would be to https://compliance.microsoft.com/auditlogsearch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent ID: fa4bca98-3975-23dd-dfac-f23049c71d01
* Conte

[2020-12-03 16:35] DeanGross opened #3628 "Missing Operations"
When I look in an exported file, I see Operations that are not listed as audited events, specifically for the Exchange workload

New-AuthenticationPolicy
Set-OrganizationConfig
Set-AuthenticationPolicy
Set-HostedContentFilterPolicy
New-ReportSubmissionPolicy
 are in my file but are not described in the documentation. Please update the documentation to ensure that it accurately describes all of the

[2020-12-03 17:08] chrisda commented on #3620
@Crimsonfox89, I updated the topic as you described. In the future, you too can make changes like this without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2020-12-03 17:08] #3620 closed

[2020-12-03 17:15] chrisda commented on #3624
@JBurdGitsIT, as described at the top of the topic:

Are you saying the Tenant Allow/Block list was available to you in the past but now it's gone?

[2020-12-03 18:00] msbemba commented on #3599
@glen-ritchie  We are in the process of updating the navigation path since it changed. I will let you know once this is updated and the document is live.

Thanks
Sri

[2020-12-03 18:01] msbemba commented on #3609
@Franckiboy15 We are in the process of updating the navigation path since it changed. I will let you know once this is updated and the document is live.

Thanks
Sri

[2020-12-03 18:01] msbemba commented on #3609
reference PR #https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3573

[2020-12-03 18:53] markjjo commented on #3627
@DeanGross Thanks for feedback. Eventually, audit log search in SCC will be redirected to MCC.

[2020-12-03 18:53] #3627 closed

[2020-12-03 18:58] markjjo commented on #3628
@DeanGross It's not really feasible to document all Exchange admin audit operations in the context of auditing. This topic addresses this by citing the Exchange admin audit log and that these operations correspond to cmdlets in EXO, which are documented in cmdlet reference topics. Please see: https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?

[2020-12-03 18:58] #3628 closed

[2020-12-03 19:31] markjjo commented on #3627
Also, I assume you have seen this banner as well, with the link to the MCC audit log search tool:

![image](https://user-images.githubusercontent.com/36746813/101078399-f6ddec80-355a-11eb-8810-2eebde05b8f2.png)

[2020-12-03 19:56] gluebags opened #3632 "Azure Free Trial subscription has 3 day deletion limitation"
Reads 'contact support if unable to delete immediately'

The Delete subscription option isn't available until three days after you cancel a 'Free Trial' Azure subscription.

Experiences with support suggest that this 3 day limit cannot be bypassed for Free Trials.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8adb403b-

[2020-12-03 20:17] DeanGross commented on #3627
Yes, that is what inspired my comment, The docs send me to that page, which then redirects me to the new site. It would be nice to skip that middle step.

[2020-12-03 20:34] DeanGross commented on #3628
Thanks, i totally missed that explanation

[2020-12-03 22:01] chrisda commented on #3487
@itishnitsa, this is the response I got:

After 15days, the files are purged out of the database. neither an end user nor Admin will have access to it any longer.

[2020-12-04 00:55] chrisda commented on #3626
@MutantCarrot, the topic in question is <https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups>. I fixed it.

In the future, you too can make updates like this directly without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2020-12-04 00:55] #3626 closed

[2020-12-04 01:30] chrisda commented on #3584
@DeanGross, simple oversight. I tested and added Global Reader.

Thanks for the feedback.

Closing

[2020-12-04 01:30] #3584 closed

[2020-12-04 04:52] yogkumgit commented on #3574
@twernermsft Please update and add a comment to resolve this issue. Thanks

[2020-12-04 05:16] yogkumgit commented on #3558
@msbemba Thank you very much for the contribution and updating the documentation with PR. @loveall27 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-04 05:17] #3558 closed

[2020-12-04 05:32] yogkumgit commented on #3582
@deuxpointzero  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-12-04 05:32] #3582 closed

[2020-12-04 05:55] yogkumgit commented on #3592
@msbemba Thank you very much for the contribution and sharing this explanation. @jhambach Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-04 05:55] #3592 closed

[2020-12-04 06:10] yogkumgit commented on #3599
@msbemba Thank you very much for the contribution and updating the documentation with PR. @glen-ritchie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-04 06:10] #3599 closed

[2020-12-04 06:14] yogkumgit commented on #3609
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Franckiboy15 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-04 06:14] #3609 closed

[2020-12-04 06:20] yogkumgit commented on #3356
@msbemba Thank you very much for the contribution and updating the documentation with PR. @softwarecraft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-04 06:20] #3356 closed

[2020-12-04 08:39] svajda opened #3634 "Instead of *url*, filter for *hostname* to get the relevant URLs from Get-OutlookAnywhere"
In the "Add on-premises web service URLs as SPNs in Azure AD" section, the cmdlet sample to gather all the URLs that we need to add in AAD shows this:

Get-OutlookAnywhere | FL server,*url*

Filtering for *url* is fine for the Get-*VirtualDirectory cmdlets, however, for Get-OutlookAnywhere, we should use a syntax like this to get the relevant URLs:

Get-OutlookAnywhere | FL server, *HostName*

---

[2020-12-04 11:32] bhakuparkharsohtun opened #3635 "I follow the instruction however I don't see the custom record "Under DNS settings, select Custom Records, and then choose New custom record.""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c52d59a-7466-a5a8-7031-e4ea7b782f57
* Version Independent ID: e02a33bc-12c6-4192-cf3f-bcea567085c3
* Content: [Change nameservers to set up Microsoft 365 with any domain registrar - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/

[2020-12-04 13:40] rsun0525 opened #3636 "Incorrect"
Our Data Privacy team complained that all of our users outside of the US were receiving the Cortana Daily Briefing.  Based on your information in this link, it said only users in the US geo should get it.  We opened up a ticket under Premier Support, and they said according to this URL https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Rolling%20out&searchterms=57204, the feature is bei

[2020-12-04 15:59] cornwallcare opened #3637 "This doesn't work for me"
Whenever I run this script I get this error please help:

At C:\WINDOWS\system32\groupcreation.ps1:23 char:43
+ $settingsCopy["GroupCreationAllowedGroupId"] = $GroupName
+                                           ~~~~~~~~~~~~~~~
The string is missing the terminator: ".
At C:\WINDOWS\system32\groupcreation.ps1:2 char:29
+ $AllowGroupCreation = $False"
+                             ~
Unexpected tok

[2020-12-04 16:07] JGDickerson opened #3638 "In seek of confirmation of changes to CC and/or Subscription"
Thank you for updating this page with more detailed instructions - super helpful.  Two Q's for you!

- Is there a confirmation in the Admin Portal to be confident that changes to payments occurred and my account is not suspended?
- Is an email sent to confirm the changes to make me even more confident?
-
Cheers
JGD

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-12-04 17:50] DefenseStormCorp opened #3639 "Missing Link?"
I am not seeing a link to the "Readiness assessment tool" anywhere on the page (or in a search engine for that matter). Could a link be added for us to download the tool?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2edbbcfe-6534-59d7-0607-c3de3ff3ccf2
* Version Independent ID: ed5a4eab-c164-5cb7-51c1-3e9eab7d1dd3
*

[2020-12-04 17:54] jaimeo commented on #3639
You don't download the tool--it's available to you online as you go through the onboarding process.

[2020-12-04 18:00] #3639 closed

[2020-12-04 18:34] cmcatee-MSFT commented on #3638
@JGDickerson There should be a confirmation that your change to a payment method was made, but it's not guaranteed that your account automatically goes back to active after that change is made. It depends on where you're at in the suspension of your account. If it's within the first 30 day grace period, it will be picked up & recharged. If it's after that period, your account will stay suspended u

[2020-12-04 19:09] chrisda commented on #3610
@HarrisburgUSysAdmin, I'm told that transport rules will hit first.

[2020-12-04 19:49] russrimm opened #3641 "Building add-ons link is 404."
The link https://docs.microsoft.com/en-us/office/dev/add-ins/overview/office-add-ins-fundamentals is a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62dfa25-e420-38e4-ff47-05cca62d14ec
* Version Independent ID: 5ea03ce0-38b9-e005-a430-e98442e2ec83
* Content: [Deploy add-ins in the admin center - Microsoft 365 ad

[2020-12-04 20:21] bruceburge opened #3642 "A Disclaimer is Not an organization wide signature"
This is in accurate, the article this is in, is "Create organization-wide signatures and disclaimers" then the article makes the assertion they are the same thing, when clearly everyone has a different expectation of a signature than a static lump of text insert at the end of all messages every time.

This article, is basically attempting to side step the issue that  "organization-wide signatures

[2020-12-04 21:39] chrisda commented on #644
Possible solutions are being discussed in internal email, and the correct people have been notified.

Closing

[2020-12-04 21:39] #644 closed

[2020-12-04 21:44] chrisda commented on #2393
@nlepagnez, I think the current topic accurately describes the license requirements. If you disagree, feel free to reopen.

[2020-12-04 21:44] #2393 closed

[2020-12-04 21:46] chrisda commented on #2426
The relevant parties who can answer these questions have been notified multiple times, and updates have been done to this topic.

Closing

[2020-12-04 21:46] #2426 closed

[2020-12-04 21:56] chrisda commented on #2684
Checking

[2020-12-04 21:58] chrisda commented on #2861
Lack of Global Reader was an omission that has since been fixe.

Thanks for the feedback.

Closing

[2020-12-04 21:58] #2861 closed

[2020-12-04 22:45] chrisda commented on #3128
I should have read more closely. No additional configuration required. Basically, there are different Safe Attachments technologies going on that can be enabled/ disabled independently of each other:

- ATP (Safe Attachments) for SharePoint, OneDrive, and Microsoft Teams
- Safe Attachments policies (attachments in email messages)

The following reports will contain information about Safe Attachmen

[2020-12-05 00:38] TinaMcN commented on #3118
@GiantCrocodile as you have previously provided excellent feedback on the German Docs content I wanted to let you know that we are starting a pilot project to enable community Editing (PR's) and Feedback (Issues) on the German Microsoft Teams content https://docs.microsoft.com/de-de/microsoftteams/teams-overview.   We have a German linguist on standby to review any suggestions during December and

[2020-12-05 02:03] virtualcomputerguy commented on #3446
Any update yet?

On Sun, Nov 22, 2020 at 7:24 PM Matt Sample <jmsample@gmail.com> wrote:

--
Thanks,

Matt Sample

[2020-12-05 02:22] HarrisburgUSysAdmin commented on #3610
Ok, we are having a significant issue with the outbound spam filter and working with Microsoft.  They can't figure out why our emails are coming back with the NDR when our outbound spam policy clearly is set to allow external forwarding.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chris Davis <notifications@github.com>
Sent: Friday, December 4, 2020 2:09

[2020-12-05 02:35] HarrisburgUSysAdmin opened #3644 "Outbound Spam Filter External Forwarding"
Both our default and custom outbound spam policies are set to allow external email forwarding. The setting is set to ON. No question.

However we are getting the NDR only when an email is sent from an external sender but to an internal mailboxes that is forwarding external.

Example: Gmail user Bob emails internal mailbox named HELP that has a exchange external mailbox forwarding rule set. The mai

[2020-12-05 12:18] msbemba commented on #3575
@gemmadev Thank you for your feedback. We have added the steps to the FAQ section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3646

Thanks
Sri

[2020-12-05 12:25] msbemba commented on #3588
@RKD993 Thank you for your feedback. I checked and found no direct way to download message center messages. You can post this as a feature request on our UserVoice platform(https://office365.uservoice.com/forums/273493-office-365-admin/category/94710-message-center) so that the product team can consider this.

Having said that you can also sync the messages to the planner if that helps, https://te

[2020-12-05 12:40] msbemba commented on #3594
@Jimnar Thank you for your feedback. I was able to test this feature on a new account and it works with a Security/compliance admin role.

![image](https://user-images.githubusercontent.com/45987684/101243285-132d8500-3725-11eb-83da-0a53425eb634.png)

What is the error message you receive when you access the devices list?

Thanks
Sri

[2020-12-05 12:42] msbemba commented on #3610
@HarrisburgUSysAdmin Thank you for your feedback. I was able to test this and I see the NDR from the mail flow rule.Let us know how the Support Personnel fixes this and based on the outcome, we can modify the document if needed.

Thanks
Sri

[2020-12-05 12:49] msbemba commented on #3581
@pbox Thank you again for your valuable feedback. You are correct! The code needs to be modified and I have done that via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3647

The document will be modified once the author approves the Pull request.

Thanks
Sri

[2020-12-05 16:30] HarrisburgUSysAdmin commented on #3610
@chrisda and @msbemba - I'm unable to test this because we are having issues with our outbound spam filter.  We have 2 polices the default policy and the HU Outbound Spam Policy. Both have auto forwarding set to ON. We still get the NDR. Our support tech is unable to figure this one out.

[Case #:23164797]

[2020-12-05 22:53] HarrisburgUSysAdmin commented on #3610
I think I may know why this is not working for us. Our "default" outbound spam filter is not viewable via the GUI.  A user on reddit tipped me off about this saying how he manages some 10 tenants and all have the default outbound spam filter viewable in the GUI. We do not.  This is only accessible via PowerShell.

[2020-12-05 23:35] HarrisburgUSysAdmin commented on #2729
We do not have a default outbound spam filter in our tenant.  How can this be restored?
![SS](https://user-images.githubusercontent.com/52167303/101267616-9b615980-3728-11eb-93c2-ce1b0cb256f9.PNG)

[2020-12-06 10:07] lertoo commented on #3635
Has MS removed this feature? I cannot see my custom DNS records for my Azure VM I entered before.

[2020-12-06 14:40] HarrisburgUSysAdmin opened #3648 "Remote Server returned '550 5.7.520 Access denied, Your organization does not allow external forwarding. Please contact your administrator for further assistance. AS(7555)'"
No matter what we set. This policy does not work for us. We think this is a MS bug.

Remote Server returned '550 5.7.520 Access denied, Your organization does not allow external forwarding. Please contact your administrator for further assistance. AS(7555)'

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-12-06 18:28] flowl commented on #3076
@MSFTTracyP I'm not using any self generated key...

This problem is at least 4 years old:

https://www.cgoosen.com/2019/01/exchange-online-no-dkim-keys-saved-for-this-domain/
https://www.oxcrag.net/2018/08/31/fixing-no-dkim-keys-saved-for-this-domain-in-eop-and-office365/
https://www.krneki.net/Blog/post/no-dkim-keys-saved-for-this-domain
https://www.reddit.com/r/Office365/comments/hxhl6k/no_dkim

[2020-12-06 21:39] gkens opened #3649 "Apparrent Conflict"
In the  excerpt below,  I see guidance that conditional access policies both do & do not apply to external users.

**Conditional Access policies only apply to guest access** in Teams because there is a corresponding Azure AD B2B account.

See Policy recommendations for securing Teams chats, groups, and files for more information about securing identity and device access policies for Teams.

**Requ

[2020-12-07 04:34] yogkumgit commented on #3588
@RKD993  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-12-07 04:34] #3588 closed

[2020-12-07 04:46] yogkumgit commented on #3603
@msbemba Thank you very much for the contribution and sharing this explanation. @ihloff Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-07 04:46] #3603 closed

[2020-12-07 05:27] yogkumgit commented on #3212
@jonwbstr Thank you for reporting this feedback here. This list is focused on content issues and I want to make sure your immediate product issue does not get lost in this list. It is a feature request and escalate to the appropriate product team. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-07 07:48] yogkumgit commented on #3625
@MikePlumleyMSFT  Please add your comment and help us in resolving this issue. Thanks.

[2020-12-07 08:26] msbemba commented on #3492
Thank you @MSFTTracyP . @nmball The caution has been removed from the document.

@yogkumgit The document is updated and the issue is good to be closed.

Thanks
Sri

[2020-12-07 08:29] msbemba commented on #3610
@HarrisburgUSysAdmin That is definitely a bug.The outbound spam policy should be viewable on the GUI to make changes. Unfortunately, we do not have access to support tickets to view the current status. Did you get this escalated for them to fix? Let us know the outcome. There are no changes required in the document but will wait for you to confirm before we close this issue.

Thanks
Sri

[2020-12-07 08:34] msbemba commented on #3597
@SingingTech Thank you for the feedback.

@dzazzo-msft  I have added a reference link at the bottom which talks about adding a new domain to an existing tenant. If you think it is a suitable edit, please approve. Reference PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3650

Thanks
Sri

[2020-12-07 12:51] msbemba commented on #3641
@russrimm Thank you for your feedback. We have made changes to the broken link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3651

Thanks
Sri

[2020-12-07 13:05] msbemba commented on #3637
@cornwallcare Thank you for the feedback. Are you referring to the document  https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups?view=o365-worldwide?

If yes, then you need to Replace <SecurityGroupName> with the name of the security group that you created. For example:

$GroupName = "Group Creators"

Hope this help!

Thanks
Sri

[2020-12-07 13:30] rohitpc363 opened #3652 "BD"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91837ba8-f6f2-3c52-2d89-c8f4c4bce09c
* Version Independent ID: eb3c1fd8-9143-0dc1-77e7-e664ccaefc33
* Content: [Microsoft cloud architecture models - enterprise resource planning](https://docs.microsoft.com/en-us/microsoft-365/solutions/cloud-architec

[2020-12-07 14:49] DeanGross opened #3653 "Out of data info"
There were many new changes in the compliance center in November. please update this page. It is very challenging to keep up with the changes and when the what's new pages are not maintained it is even more difficult.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89486ebd-f4fa-9d07-ee93-d04fd8d41027
* Version Independ

[2020-12-07 15:32] tjclark2 opened #3654 "Quotation missing in code"
Step 2: Run PowerShell commands - need a beginning quotation in the $AllowGroupCreation = "$False" line before False.

[2020-12-07 16:10] JoeDavies-MSFT commented on #3446
@virtualcomputerguy From the owner of the lab and kit: "We successfully tested using a Ryzen 3700X system. Please reinstall the lab using the steps in the set up guide." Hope this helps.

[2020-12-07 16:20] virtualcomputerguy commented on #3446
I did.. no luck. Trying some new disks with the new lab. I has a dynamic
disk and that could be the issue.

Thanks,
Matt Sample

On Mon, Dec 7, 2020, 9:10 AM Joe Davies <notifications@github.com> wrote:

[2020-12-07 16:24] virtualcomputerguy commented on #3446
Also forgot to mention. I am able to build and run other server and
workstation VMs. But anything built from this kit does not even start.

Thanks,
Matt Sample

On Mon, Dec 7, 2020, 9:20 AM Matt Sample <jmsample@gmail.com> wrote:

[2020-12-07 20:24] denisebmsft commented on #3654
Hello @tjclark2. Thanks for the feedback! Can you please tell us to which article this applies?

[2020-12-07 20:26] denisebmsft commented on #3652
Hello @rohitpc363. Did you have a question or comment for us?

[2020-12-07 20:30] tjclark2 commented on #3654
Hey Denise!

Sorry – here is the article I mentioned:

Manage who can create Microsoft 365 Groups | Microsoft Docs<https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups?view=o365-worldwide>

Respectfully…

Thomas J. Clark
Consultant | Microsoft Federal
954.375.3649  | thomas.clark@microsoft.com<mailto:thomas.clark@microsoft.com>
[MSFT_logo_Print_small]

From: Denise Va

[2020-12-07 21:14] dzazzo-msft commented on #3597
Ordinarily, I'd say yes, but on this one - no, this will add more confusion. Domain management is not currently available within the Office 365 Admin portals for GCC High and DOD. Hopefully will change soon, but not yet.

[2020-12-07 21:44] msbemba commented on #3597
@dzazzo-msft Thank you for the update. I'll close the PR.

@yogkumgit This issue can be closed as there are no changes required to the document.

Thanks
Sri

[2020-12-07 23:51] virtualcomputerguy commented on #3446
Samething again with the new lab.

[image: image.png]

On Mon, Dec 7, 2020 at 9:23 AM Matt Sample <jmsample@gmail.com> wrote:

--
Thanks,

Matt Sample

[2020-12-08 01:29] chrisda commented on #3648
@HarrisburgUSysAdmin, you should open a support case. Nothing we can do from a documentation perspective (yet).

[2020-12-08 01:32] chrisda commented on #3648
Closing as duplicate of #3644

[2020-12-08 01:32] #3648 closed

[2020-12-08 01:33] chrisda commented on #3644
@HarrisburgUSysAdmin, are you saying you have an open support case that is still pending? Unclear at this point what a documentation update can do to help this; a support case is likely the only way to go.

[2020-12-08 01:34] chrisda commented on #3610
I'm tempted to close #3644 as a dupe of this issue.

[2020-12-08 01:35] chrisda commented on #3644
Closing this as dupe of #3610

[2020-12-08 01:35] #3644 closed

[2020-12-08 01:44] chrisda commented on #3534
@trcoley, I totally agree. Currently, I can find no references to advanced threat protection or ATP within the topic. I made sure the one reference to Microsoft Defender for Office 365 was linked. I also made sure that a link exists for Exchange Online Protection (EOP).

Thanks for the feedback.

Clsoing

[2020-12-08 01:44] #3534 closed

[2020-12-08 01:51] chrisda commented on #3082
Merged #3082 to remove opt-out section as described.

Closing

[2020-12-08 01:51] #3082 closed

[2020-12-08 02:43] TinaMcN commented on #2956
@SilviaEid as you have previously provided excellent feedback on the German Docs content I wanted to let you know that we are starting a pilot project to enable community Editing (PR's) and Feedback (Issues) on the German Microsoft Teams content https://docs.microsoft.com/de-de/microsoftteams/teams-overview. We have a German linguist on standby to review any suggestions during December and January

[2020-12-08 08:09] yogkumgit commented on #3492
@msbemba Thank you very much for the contribution and sharing this explanation. @nmball Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-08 08:09] #3492 closed

[2020-12-08 08:22] yogkumgit commented on #3610
@msbemba  Thank you very much for the contribution and sharing this explanation. @HarrisburgUSysAdmin
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentatio

[2020-12-08 08:22] #3610 closed

[2020-12-08 08:27] yogkumgit commented on #3597
@msbemba Thank you very much for the contribution and sharing this explanation. @SingingTech Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-08 08:27] #3597 closed

[2020-12-08 08:41] yogkumgit commented on #3637
@msbemba Thank you very much for the contribution and sharing this explanation. @cornwallcare Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-08 08:41] #3637 closed

[2020-12-08 08:44] yogkumgit commented on #3581
@msbemba Thank you very much for the contribution and updating the documentation with PR. @pbox Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-08 08:44] #3581 closed

[2020-12-08 09:53] yogkumgit commented on #3625
@jschnei5 Considering the nature of the issue, we advise, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2020-12-08 09:53] #3625 closed

[2020-12-08 10:34] bloodytourists opened #3659 "Coming soon"
Could you provide more details on the Coming Soon details. The section has not changed in a long time so was wondering exactly what is coming soon and when we will be able to preview. I have spoken to some folk in Microsoft who do not seem to know what this is referring to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-12-08 11:32] wobblewobble opened #3660 "The Spoof intelligence now has four reports and the content does not reflect this"
On the portal https://protection.office.com/searchandinvestigation/dashboard
The Spoof intelligence now has four reports.
![spoofed_domains](https://user-images.githubusercontent.com/1448864/101478704-fffaff00-3948-11eb-82ae-b608a9634322.png)

Likely Spoofed Domains over the past 7 days with suspicious and non suspicious.
Impersonations over the past 7 days with Domains impersonated and Users impe

[2020-12-08 14:40] #3462 closed

[2020-12-08 16:56] bledMS82 opened #3662 "Requirements are misleading"
Defender realtime protection in passive mode should be listed as a requirement per this note here :

If you are using Microsoft Endpoint DLP, Microsoft Defender Antivirus real-time protection is enabled, even when Microsoft Defender Antivirus is running in passive mode. Microsoft Defender Antivirus won't conflict with third-party antivirus solutions installed on the endpoint. Endpoint DLP depends

[2020-12-08 17:23] virtualcomputerguy commented on #3446
I give up.
 I have rebuilt my Lab computer still unable to get the server computers to
start. The servers just start then immediately turn to stopping.
I can build other Server VM's that work just fine, install apps, active
directory etc. The lab just does not work properly on my system. Hoping
that a hydration kit will work so that I don't have to spend all the time
setting it up.

I used the lab

[2020-12-08 17:32] chrisda commented on #3660
@wobblewobble, I updated the topic with a new screenshot and information based on current reality for the Spoof intelligence insight.

Technically, spoof intelligence and impersonation protection are different technologies. That impersonations insight is new, but is separate from spoof intelligence, so I'm not going to include it.

Thanks for the feedback.

Closing

[2020-12-08 17:32] #3660 closed

[2020-12-08 17:32] GiantCrocodile commented on #3118
@TinaMcN Thank you for the information. The 404 issue is gone now and I just tried it!

[2020-12-08 18:39] MikePlumleyMSFT commented on #2778
@yogkumgit let's update the link as robmazz suggests.

[2020-12-08 19:11] chrisda commented on #3659
@bloodytourists, in checking the current interface in both the Security center and the Compliance center, nothing has changed (other than the Global Reader role now being available):

- You still can't manage roles directly in the Security center or Compliance center (you still link off to manage role membership in Azure AD).
- You still can't customize roles by adding or removing permissions.
- Y

[2020-12-08 20:24] TinaMcN commented on #3118
@GiantCrocodile thank you so much, this is really helpful.  The German linguist and I are figuring out the process on our end and hope to review your suggestion in the next couple of days.

[2020-12-08 21:08] lmurthy-git opened #3663 "What LinkedIN data specifically is archived? - Messages, articles, connections, company follows etc? Please elaborate"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a5a96542-6e0f-d441-13db-6e47439c0583
* Version Independent ID: 524ca3e3-3e80-4693-206e-01a9533292f8
* Content: [Set up a connector to archive LinkedIn data - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/archive-l

[2020-12-08 21:20] ficus opened #3664 "Not impressed"
Broke all our email forwarding now I am here reading this garbage instead of doing something else. Grrr

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43299e41-87fe-d6f1-20f7-83791d8ef90b
* Version Independent ID: e5e69845-7040-f5b7-b922-e2d2fd9a7d5e
* Content: [Configuring and controlling external email forwarding, Au

[2020-12-08 21:48] ficus opened #3665 "Destructive changes"
Broke all our email forwarding now I am here reading this garbage instead of doing something else. Grrr

Set it to allow forwarding. Went back in to set the forwarder on account and the save button is still disabled.

What really pisses me off, besides the whole change and having to read docs produced by Microsoft,  I don't know what forwarders were set for all these mailboxes and have no way to r

[2020-12-08 21:49] #3664 closed

[2020-12-08 22:37] ficus commented on #3665
Turns out docs are just wrong/stale... Its not through admin > exchange > mailboxes... email forwarding there just seems broken, no way to click save. Instead had to go through admin > users > active users and set it there. Still kn way to see what the email forwarders were set to before this change broke them. Having to comb through old correspondence to see if I can figure that out,

[2020-12-08 23:13] virtualcomputerguy commented on #3446
So I spun back up my old lab - Opteron processor with 64GB of Memory - no
luck. VM's all build but no servers work.

I will try it again and just let them sit for several hours I guess.

On Tue, Dec 8, 2020 at 10:23 AM Matt Sample <jmsample@gmail.com> wrote:

--
Thanks,

Matt Sample

[2020-12-08 23:58] mgseawright opened #3670 "html format for dlp policy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505aba8-2455-5390-b34b-6bb0865b14db
* Version Independent ID: 401701a8-86fd-8570-8084-33622f34bb91
* Content: [Send email notifications and show policy tips for DLP policies - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/c

[2020-12-09 10:46] msbemba commented on #2778
Thank you @MikePlumleyMSFT . I have updated the link via PR#https://github.com/MicrosoftDocs/Compliance/pull/6

Thanks
Sri

[2020-12-09 13:05] andrePKI opened #3673 "Exact definition of the functions and built-in keyword lists?"
Before we report an potential issue, we would like to determine if it is in the MS default definitions/keyword lists.
But we can't see the real implementation ("source code" if you will) of the functions and keyword lists.
We only see this page and two pages with definitions (we can't give feedback on BTW):
[![image](https://user-images.githubusercontent.com/23510294/101627479-b41a8980-3a1e-11eb-8

[2020-12-09 15:56] colbyMS opened #3674 "Download of Hybrid Configuration Wizard not included in list of Additional Endpoints"
Tried to download HCW from a restricted server that had the flows configured.  Link to HCW is aka.ms/hybridwizard.  Following endpoints failed:

- aka.ms
- https://shcwreleaseprod.blob.core.windows.net/shcw/Microsoft.Online.CSE.Hybrid.Client.application

This may just be a 1 time connection; however, each time the HCW runs, it will attempt that URL to get updates.

---
#### Document Details

⚠ *Do

[2020-12-09 20:03] markjjo commented on #3663
@lmurthy-git Only parent posts, posted by the organization to the company page are imported. No comments on the posts or posts made by external users or other items are imported/archived.

[2020-12-09 20:03] #3663 closed

[2020-12-09 22:41] ayprof opened #3677 "External forward blocking stated behavior is inconsistent"
Docs says that:
"When automatic forwarding is disabled, the recipient will receive a non-delivery report (also known as an NDR or bounce message) if external senders send email to a mailbox that has forwarding in place. If the email is sent by an internal sender, the sender will get the NDR."

However, it's only true that the internal sender will get an NDR if the method of forwarding is via SMTP

[2020-12-09 23:37] ClaytonIT opened #3679 "Spelling error"
![image](https://user-images.githubusercontent.com/41170428/101701483-01155480-3a4d-11eb-9f5f-2bb22c3ade37.png)

[Noticed the missing L in the word only// Search text ="web-ony"
Site Address: https://docs.microsoft.com/en-us/microsoft-365/solutions/create-secure-guest-sharing-environment?view=o365-worldwide
Thanks for all the great knowledge in a wonderfully fun database :-D ]

---
#### Document D

[2020-12-09 23:52] chrisda commented on #3677
@ayprof, for feature suggestions like this, you're better off going to <https://office365.uservoice.com/>.

[2020-12-10 02:31] cabailey commented on #3560
@yogkumgit  I haven't had confirmation that the other scenarios are no longer relevant but I will continue to ask. In the meantime, I recommend we close this.  The cmdlet description for Execute-AzureAdLabelSync is accurate because it says when you definitely need to run it, and this was the original purpose of the cmdlet.  In our instructions on this page, we tell customers to run it for that rea

[2020-12-10 08:39] Crimsonfox89 opened #3681 "Duplicate related topic link"
The two following links in the related topic section end up at the same location

[Managing Office 365 endpoints](https://docs.microsoft.com/en-us/microsoft-365/enterprise/managing-office-365-endpoints?view=o365-worldwide)

[Troubleshooting Office 365 connectivity](https://support.office.com/article/d4088321-1c89-4b96-9c99-54c75cae2e6d.aspx)

I suggest changing the second to the following link as

[2020-12-10 08:39] Crimsonfox89 opened #3682 "Duplicate related topic link"
The two following links in the related topic section end up at the same location

[Managing Office 365 endpoints](https://docs.microsoft.com/en-us/microsoft-365/enterprise/managing-office-365-endpoints?view=o365-worldwide)

[Troubleshooting Office 365 connectivity](https://support.office.com/article/d4088321-1c89-4b96-9c99-54c75cae2e6d.aspx)

I suggest changing the second to the following link as

[2020-12-10 11:03] yogkumgit commented on #2778
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Loftys Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-10 11:03] #2778 closed

[2020-12-10 11:15] yogkumgit commented on #3560
@cabailey Thank you very much for sharing this explanation. @nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-10 11:15] #3560 closed

[2020-12-10 14:52] paulsilverstein opened #3684 "Missing guidance on how to"
Regarding this: An organization's administrator can opt in for location to be included in the network measurements used by this feature

How? Where? There should be guidance on how an org admin can opt in.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d34c651f-db16-2fd8-502e-582b97e6140b
* Version Independent ID: 20c2

[2020-12-10 14:58] ayprof commented on #3677
That's fine, but the case of senders not getting an NDR if the method of forwarding to an external domain via an inbox rule is still valid.

[2020-12-10 15:12] ayprof commented on #3677
Also, it does seem like a bug or a design flaw since the email HAS been delivered to the mailbox—only the copy has not been delivered.  In that case, if the box to Keep the email has been checked, I would expect the recipient to get an NDR if the forwarded email is blocked; if the box is not checked, for the sender to get an NDR.

[2020-12-10 15:18] HarrisburgUSysAdmin opened #3685 "Training Reminders"
How often are users reminded of training assigned to them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1d7b1d53-4fd3-9bde-7c58-223525236f93
* Version Independent ID: 4700cbec-8554-6bc1-fe99-8d077e37b6bb
* Content: [Gain insights through Attack simulation training - Office 365](https://docs.microsoft.com/en-us/micros

[2020-12-10 17:28] ivaydesign opened #3686 "Missing Support Line for Bulgaria"
Hello,

I have bought a license key for Microsoft Office Pro-2016. For more than 30 days, I'm trying to add the license to the product
but won't work. The supplier cannot resolve the issue. Same time I'm trying to resolve the issue by activating it via phone, but the phones given for Bulgaria Region even in this page are not responding. They forwarding the call to the server, which cannot be a pla

[2020-12-10 19:50] chrisda commented on #3677
@ayprof, I updated the original statement as you described:

When automatic forwarding is disabled, the recipient will receive a non-delivery report (also known as an NDR or bounce message) if external senders send email to a mailbox that has forwarding in place. If the message is sent by an internal sender **and** the forwarding method is [mailbox forwarding](https://docs.microsoft.com/exchange/r

[2020-12-10 20:03] msbemba commented on #3612
@menewol Thank you for your feedback. I have added MS Stream's endpoints to the resources section of the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3687

Thanks
Sri

[2020-12-10 20:06] msbemba commented on #3614
@trudolf-msft Thank you for the feedback. We have added this to the FAW section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3688

Thanks
Sri

[2020-12-10 20:10] msbemba commented on #3632
@gluebags Thank you for the feedback. You are correct about the restriction on Azure Free trial Subscription, We have added the restriction to the note section of the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3689

Thanks
Sri

[2020-12-10 20:14] msbemba commented on #3623
@pakondra Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3690

You are correct  "Get-OutlookAnywhere | FL server,url" is Incorrect, but you need to use Get-OutlookAnywhere | FL server, HostName to get the relevant URLs:

Thanks
Sri

[2020-12-10 20:14] msbemba commented on #3634
@svajda Thank for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3690

Thanks
Sri

[2020-12-10 20:30] msbemba commented on #3635
@bhakuparkharsohtun Thank you for your feedback. You will see the option only when you have Microsoft NS records are added.  If that is the case could you please provide us a Screenshot? Also, the option is changed to manage DNS instead of DNS Settings. This change can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3691

Thanks
Sri

[2020-12-10 20:32] msbemba commented on #3636
@rsun0525 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3692

Thanks
Sri

[2020-12-10 20:37] msbemba commented on #3642
@bruceburge Thank you for your feedback. We have added the limitations under https://docs.microsoft.com/en-us/microsoft-365/admin/setup/create-signatures-and-disclaimers?view=o365-worldwide#limitations-of-organization-wide-signatures

Which states the following

You can't do the following when managing email signatures in Microsoft 365:

Insert the signature directly under the latest email reply o

[2020-12-10 20:39] msbemba commented on #3679
@ClaytonIT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3693

Thanks
Sri

[2020-12-10 20:44] ayprof commented on #3677
Thanks Chris, will do.

[2020-12-10 21:46] PJNield opened #3695 "Permissions for PowerShell"
The document needs to indicate the Exchange Permissions ("Transport Hygiene") needed to access the PowerShell cmdlets to managed quarantined messages, and which role in Exchange has that included ("Hygiene Management").

The Quarantine role in Security and Compliance only provides access through Security and Complianc.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-12-10 22:44] bruceburge commented on #3642
I saw that, but calling a disclaimer a signature isn't accurate.

The stipulations you add make that clear, where this clearly becomes a
problem is when you have multiple people in org, in an email thread.

So thanks for your reply, but telling me how a cat isn't a dog, and saying
that if the ways they are different don't exist, then you can call it a cat
a dog isn't helpful.

On Thu, Dec 10, 2020

[2020-12-10 23:41] chrisda commented on #3695
@PJNield, OK, done.

Thanks for the feedback.

Closing

[2020-12-10 23:41] #3695 closed

[2020-12-11 03:19] lertoo commented on #3635
I can see the “Custom records” now - it wasn't there when I checked.

[2020-12-11 06:55] tlourey opened #3699 "Transparent PNG's in Dark Mode"
Some of the PNG's on this page have transparent backgrounds but are items on the diagram are coloured assuming a white background.

This one has a white background and is good: https://docs.microsoft.com/en-us/microsoft-365/media/fc87b8fd-a191-47a7-9704-1e445599813a.png?view=o365-worldwide
This one has a transparent background and is not good: https://docs.microsoft.com/en-us/microsoft-365/media/4

[2020-12-11 17:35] sganta opened #3700 "No Extra File Storage option"
I am trying to see how I can add additional storage to my Microsoft 365 account.  I followed the instructions on this page. However, I did not find "Office 365 Extra File Storage" under add-ons or other categories.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent

[2020-12-11 19:34] MSFTEfeedback opened #3701 "Update IPv6 support in M365 documentation with latest information"
This page is more than 2 years old, so likely needs to be updated to reflect changes in how M365 supports IPv6. Customers are asking for detail, but don't trust a 2 year old document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41916ef7-635a-80f9-914a-207040a3829e
* Version Independent ID: 1f372ebc-774b-a1f5-5e43-73

[2020-12-13 08:42] gb5757870 opened #3704 ""Turn on the Unified Audit Log moved to admin centre called "Security""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c17d605-af9d-3020-cde8-d808c918a24c
* Version Independent ID: 78e876f7-ea14-2f92-35d4-4e75f92e6166
* Content: [Increase threat protection - Microsoft 365 for Campaigns](https://docs.microsoft.com/en-us/microsoft-365/campaigns/m365-campaigns-increase-

[2020-12-13 08:42] gb5757870 opened #3705 ""Turn on the Unified Audit Log" moved to admin centre called "Security""
"Turn on the Unified Audit Log" is moved to admin centre called "Security"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c17d605-af9d-3020-cde8-d808c918a24c
* Version Independent ID: 78e876f7-ea14-2f92-35d4-4e75f92e6166
* Content: [Increase threat protection - Microsoft 365 for Campaigns](https://docs.microsoft.com/e

[2020-12-13 08:45] gb5757870 opened #3706 ""Disable or manage calendar sharing" moved"
"Disable or manage calendar sharing" moved to Settings -> Org Settings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c17d605-af9d-3020-cde8-d808c918a24c
* Version Independent ID: 78e876f7-ea14-2f92-35d4-4e75f92e6166
* Content: [Increase threat protection - Microsoft 365 for Campaigns](https://docs.microsoft.com/en-us

[2020-12-14 05:30] yogkumgit commented on #3028
@msbemba Thank you very much for the contribution and updating the documentation with PR. @brucelaing Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-14 05:30] #3028 closed

[2020-12-14 06:13] yogkumgit commented on #3662
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2020-12-14 06:14] yogkumgit commented on #3673
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2020-12-14 06:24] yogkumgit commented on #3705
#3704 duplicate, closing

[2020-12-14 06:24] #3705 closed

[2020-12-14 09:38] Wh00T opened #3707 "Additional roles grant access to activity explorer"
The doc states:

But also these roles grant access:
- Global reader
- Security reader
- Reports reader

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e0ac0e1-6f08-2f8b-10c7-a967e53886f8
* Version Independent ID: f510237f-0ec9-d266-3ec6-0ad6b49e2522
* Content: [Get started with Microsoft 365 Endpoint data loss preventi

[2020-12-14 10:38] msbemba commented on #3649
@gkens Thank you for your feedback. The new Policy does require MFA always for guest and external users. I have made changes to the document accordingly. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3708

Thanks
Sri

[2020-12-14 10:41] msbemba commented on #3654
@tjclark2 Thank you for the feedback. Since $false is a boolean value. we don't need a quotation. I tested the same and it works. Let me know if you receive any specific error when you run without a quotation or as it is in the document.

Thanks
Sri

[2020-12-14 10:48] msbemba commented on #3665
@ficus Thank you for your feedback.
Unfortunately, there is no direct method to restore forwarders that were set earlier. As you mentioned the workaround would be to check mail flow (for old correspondence) and identify the emailaddress.

Both options (M365 admin center and Exchange admin center) does the same thing. I was able to save after making changes through EAC.

Thanks
Sri

[2020-12-14 10:52] msbemba commented on #3670
@mgseawright Thank you for your feedback.  You can use HTML to include images, formatting, and other branding in the notification. However, custom text for policy tips does not accept HTML

Hope this helps!

Thanks
Sri

[2020-12-14 10:55] msbemba commented on #3681
@Crimsonfox89 Thank you for your feedback. We have made changes to the related topics section in the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3709

Thanks
Sri

[2020-12-14 11:00] msbemba commented on #3700
@sganta Thank you for your feedback. I'm able to see the Extra file storage option. There are a few pre requisites to be met before you could add this add-on. Could you please provide more information about your existing licenses?

Thanks
Sri

[2020-12-14 11:04] msbemba commented on #3706
@gb5757870 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3711

Thanks
Sri

[2020-12-14 11:09] msbemba commented on #3704
@gb5757870 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3712

Thanks
Sri

[2020-12-14 11:13] msbemba commented on #3686
@ivaydesign Thank you for your feedback. In order to check this with the internal support team about call routing, Could you please provide us the below details?

CC: @cmcatee-MSFT

CFN/TFN/Customer dialing number :
ANI(Caller's number)
Date of call:-
Time of call with time zone
Outgoing/incoming call :
The options you selected in the IVR:- :
Call ID/interaction ID (if available):-

Thanks
Sri

[2020-12-14 11:17] msbemba commented on #3674
@Colbyms Thank you for your feedback. I'll check internally with the author and add this information to the document.

@JoeDavies-MSFT Need your help in adding a Hybrid configuration wizard as a new Purpose and add the destination? I don't have access to editing these rows in the document.

Thanks
Sri

[2020-12-14 12:56] rafaelborter opened #3713 "EnableAntiSpoofEnforcement - EOP default anti-phishing policy settings"
Hi,

I can no longer set the EnableAntispoofEnforcement parameter on multiple O365 tenants.
**MS Docs**: https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp?view=o365-worldwide#eop-default-anti-phishing-policy-settings
**Security feature name**: EnableAntispoofEnforcement

PowerShell (default policy):
PS C:\> Get-AntiPhishPolic

[2020-12-14 15:58] ScottBeeson opened #3715 "Missing "Select a Report" dropdown?"
I do not see the "Select a report" dropdown as mentioned on this page.  The admin page I am on is https://admin.microsoft.com/Adminportal/Home?#/reportsUsage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e70e9c6c-8b88-9be4-5ce7-90338685ce95
* Version Independent ID: 755db873-a694-b50c-9478-eeb979dcf4cc
* Content: [Mic

[2020-12-14 16:32] testad opened #3716 "Add details about limitations for mailbox recover/restore if auto-expanding archive is active"
According to[ this article and headline](https://docs.microsoft.com/en-us/microsoft-365/compliance/inactive-mailboxes-in-office-365?view=o365-worldwide#inactive-mailboxes-and-auto-expanding-archives), restore and recover is not possible for inactive mailboxes with an auto-expanding archive. I suggest to add information about this under the headline "Before you enable auto-expanding archiving".

Ma

[2020-12-14 16:44] rstraker opened #3717 "Is this Feature available in the GCC Moderate environment?"
Need clarification on whether this capability is available in the GCC Moderate environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f80e220-5525-c0db-39b7-1e3dd9b18f51
* Version Independent ID: 4d24fad7-028e-4f72-f28f-9f8d982cab1e
* Content: [Set up attorney-client privilege detection in Advanced eDiscovery - M

[2020-12-14 17:57] tjclark2 commented on #3654
Hey Sri!

I went to the site and it looks good now. When I reported the problem there was a quotation mark at the end of $False. When we tested it, it didn't work unless we added the matching quotation mark in the beginning. Removing both works as well. Thank you!

Respectfully...

Thomas J. Clark
Consultant | Microsoft Federal
954.375.3649  | thomas.clark@microsoft.com<mailto:thomas.clark@microso

[2020-12-14 18:06] cmcatee-MSFT commented on #3686
@ivaydesign Please do not post that information here. Please send it directly to me: cmcatee@microsoft.com

[2020-12-14 18:08] cmcatee-MSFT commented on #3686
@msbemba would you please email me?

[2020-12-14 18:46] brucemurchie opened #3718 "eDiscovery Output"
Hi,

Reference the output of the content after running eDiscovery to generate a PST file from O365.

Poor explanation of the tools that are required and the process to generate an output.

Biggest issue is where is the PST file?????

I get local download of Export Summary, manifest, Results and trace. None of which I am interested in.

Where the hell is the PST?

[Enter feedback here]

---
#### Do

[2020-12-14 19:09] hbwheat opened #3720 "Not exactly accurate "Default" policy for Safe Links"
Hello,

While researching these PowerShell items I do not think this is entirely accurate description, and can mislead someone into not going to the correct place to edit the default Safe Links policy for the entire Organization. Organization wide default policy does configure Safe Links.

There is a "Default" via the "AtpPolicyForO365" covering the entire organization. However, you cannot query t

[2020-12-14 19:26] markjjo commented on #3718
@brucemurchie Depending on how you choose to export items to the PST, PST files would be exported to a folder that is a peer of the other exported items that you mentioned above. The name of this is "Exchange" (or maybe something different based on the PST export option you selected. Based on your explanation, it sounds like you might have exported the Export report and not the actual search resul

[2020-12-14 19:26] #3718 closed

[2020-12-14 19:29] markjjo commented on #3717
@rstraker  My understanding is that Advanced eDiscovery has been rolled out to GCC government cloud. Attorney-client privilege  detection would be included.

[2020-12-14 19:29] #3717 closed

[2020-12-14 19:33] rstraker commented on #3717
The option does not show in my GCC Tenant.  I do have Advanced eDiscovery just not the Attorney-client privilege setting.

Bob

From: Mark Johnson - MSFT <notifications@github.com>
Sent: Monday, December 14, 2020 2:30 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Bob Straker <Bob.Straker@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Micros

[2020-12-14 19:41] markjjo commented on #3717
@rstraker Can you send a screenshot of the Advanced eDiscovery landing page and state how you are accessing Advanced eDiscovery? I guess it's possible that you are using Advanced eDiscovery v1 (classic) in which case you wouldn't have access. Attorney-client privilege is available only in v2. If you are using v2 and it's not there I would suggest you open a ticket with MS Support. Here's a little

[2020-12-14 19:49] rstraker commented on #3717
Ok, below is the Advanced eDiscovery landing page, then the case page where I’m clicking on the Configure Global Analytic
Settings and the option is not there

[cid:image001.png@01D6D228.526083B0]

[cid:image002.png@01D6D228.526083B0]

[cid:image003.png@01D6D228.5BC63710]

From: Mark Johnson - MSFT <notifications@github.com>
Sent: Monday, December 14, 2020 2:42 PM
To: MicrosoftDocs/microsoft-365-d

[2020-12-14 20:03] GMZephyr opened #3721 "Report Message submissions aren't actually shown in the admin center"
Hi

Based on this article, submissions made by the Report Message Outlook add-in should be shown in the Admin Center, but they are not.  I am not sure where this issue originates.  Submissions that are done directly in the Admin Center do show up.

![image](https://user-images.githubusercontent.com/76010707/102129459-9aa58300-3e0c-11eb-8f23-7507f09e0ecc.png)
![image](https://user-images.githubuser

[2020-12-14 20:09] Jimnar commented on #3501
@msemba, it does help. Why these roles show up in Azure AD with "admin" and O365 as "administrator" is a mystery to me.

[2020-12-14 20:14] markjjo commented on #3717
@rstraker Thanks for adding screenshots, but I can't see them. But no problem, because it sounds like you have v2 because the "Configure Global Analytic Settings" option is displayed. I just took a look at the documentation (sorry, I should have done this before) and under "Step 1: Turn on attorney-client privilege detection" it states:

"A person who is an eDiscovery Administrator in your organiz

[2020-12-14 20:14] Jimnar commented on #3594
I can confirm the role I have configured as a compliance admin CAN see the onboarded devices. I'll close the issue.

[2020-12-14 20:14] #3594 closed

[2020-12-14 20:17] brucemurchie commented on #3718
Mark,

Thank you for the prompt reply and clarification.

Yes that has resolved the issue,

Regards

Bruce

Bruce Murchie
Xenium Solutions Limited
Mobile Application Solution Providers
G-Cloud Supplier CCS Framework
+44 7802227837 UK
+61 449275520 Australia
www.xeniumsolutions.com<http://www.xeniumsolutions.com/>

From: Mark Johnson - MSFT <notifications@github.com>
Sent: 14 December 2020 19:27
To

[2020-12-14 20:18] rstraker commented on #3717
Yes, I am the eDiscovery Administrator and eDiscovery Manager.

Bob

From: Mark Johnson - MSFT <notifications@github.com>
Sent: Monday, December 14, 2020 3:15 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Bob Straker <Bob.Straker@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Is this Feature available in th

[2020-12-14 20:33] chrisda commented on #3720
@hbwheat, I hear you. The situation is very confusing with Safe Links, and I did a bunch of work recently to clarify.

The statement that "there is no default Safe Links policy" is accurate, regardless of what the UI in the EAC, and (to a lesser extent) the Security & Compliance Center say. I think the SCC does a better job by hiding the Safe Links settings that aren't configured in Safe Links pol

[2020-12-14 22:08] hbwheat commented on #3720
@chrisda ,
Thank you for the response and clarification! I completely missed the note there as I was searching for "Default" on Safe Links page. In that, I was searching for the word "Default" and why it was listed in the UI but clearly stated there were no defaults and not knowing where else to look.

I like the wording change from "Policies" to "Settings" there as that's clearer of where I neede

[2020-12-14 22:08] #3720 closed

[2020-12-15 11:11] yogkumgit commented on #3654
@msbemba Thank you very much for the contribution and sharing this explanation. @tjclark2 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-15 11:11] #3654 closed

[2020-12-15 11:27] yogkumgit commented on #3679
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ClaytonIT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-15 11:27] #3679 closed

[2020-12-15 11:54] flowl commented on #3076
@yogkumgit @msbemba @MSFTTracyP

I'm implying there is an annoying bug in the Office 365 platform.

[2020-12-15 12:08] yogkumgit commented on #3684
@kelleyvice-msft Please add your comment and help us in resolving this issue. Thanks.

[2020-12-15 12:10] yogkumgit commented on #3699
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2020-12-15 12:14] yogkumgit commented on #3701
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2020-12-15 13:25] ericburger-nl opened #3724 "Created 10 years'retention policy with/without add-on license"
The FAQ says both "Any audit log data covered by a 10-year audit log retention policy that you create after general availability will be retained for 10 years." AND  "When the 10-year audit log retention add-on license is available in early 2021, you will need to purchase add-on licenses for users who's audit data is being retained by an existing 10-year audit retention policy." When creating a 10

[2020-12-15 13:49] get-itips commented on #1879
Article has been updated to specify the definition of site owner.
@yogkumgit you can close this now.

[2020-12-15 13:55] #1879 closed

[2020-12-15 13:59] msbemba commented on #3501
@Jimnar It shows up as Admin in O365 as well. The above Snip is from O365.

@yogkumgit There are no changes required in this document. The issue can be closed.

[2020-12-15 14:35] trudolf-msft opened #3725 "Add regkey AlwaysUseMSOAuthForAutoDiscover"
HKEY_CURRENT_USER\Software\Microsoft\Exchange AlwaysUseMSOAuthForAutoDiscover 0x1
https://docs.microsoft.com/en-us/outlook/troubleshoot/authentication/outlook-prompt-password-modern-authentication-enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac88f29-99a5-317d-2686-cc9534194a19
* Version Independent ID: 753c4

[2020-12-15 14:49] lfzn2 opened #3726 "MS Bookings: SMS for Maximum Number of Attendees > 1 Not working"
I am able to send and receive SMS without issue when the maximum number of attendees is set to 1 under Services.

However, when you set the maximum number of attendees to more than 1, then the text messages do not seem to go out.  I can not find any other way to modify this, but it seems consistent and reproducible on my system.   Is this feature in development?

[2020-12-15 15:15] AlexV-P opened #3727 "No need to contact support when closing subscriptions with 25+ users"
The documentation instructs users with subscriptions of over 25 users to contact support to cancel. On multiple occasions, the support team has been unaware of this advice and instructed me to simply reduce the number of subscriptions to below 25, then cancel online.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a91e3

[2020-12-15 15:28] kzbierski opened #3728 "Docs are not clear that just editing the Team description or Avatar would trigger naming policy."
Docs states that "It gets applied when a user creates a group and when group name or alias is edited for an existing group.". But it also is applied for existing teams when in Edit Team feature if the description/avatar are changed. That too triggers the Naming Policy as well. Even just clicking "Update" and not changing anything triggers it as well. That should be clearly defined not just "when g

[2020-12-15 15:33] ACarlockAKA opened #3729 "Read email in another user's mailbox should be called Full access"
The "Read email in another user's mailbox" section should make it clear that this grants the "Full Access" mailbox permission.  and that "Full Access" grants Read and Modify permissions in the mailbox but not Send as or Send on behalf of. There's another GitHub comment about this from years ago that got off track because of how Full access works.  I would have commented there, but it's closed.
[En

[2020-12-15 18:16] markjjo commented on #3724
@ericburger-nl We made 10-yr audit log retention available before we rolled out the required licensing. When the licensing becomes available, customers will need to purchase it to remain in licensing compliance. In other words, audit records will be retained for 10 yrs regardless of whether user has appropriate add-on license. If you don't acquire the add-on license when they become available, you

[2020-12-15 18:16] #3724 closed

[2020-12-15 18:38] carlyrevier opened #3733 "Incorrect location for PS settings"
In the bottom section, "Capability to opt out of people experiences," the instructions say to go to Settings > Org Settings > Reports. However, this is incorrect. This setting has been moved to Settings > Org Settings > Productivity Score.

Also, including information on how to turn off Productivity Score all together (including Endpoint Analytics) would be helpful. I can imagine a scenario where

[2020-12-15 18:55] dgordonb opened #3734 "OCM is retired."
OCM was retired July 1, 2020.  Please remove this reference in this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 655829e4-741a-dc96-35f9-2f3df4de2633
* Version Independent ID: f1c9dc75-d781-322c-1d74-8e0f39fafd1e
* Content: [Migrate to Microsoft 365 Business from Office 365 E3 - Microsoft 365 Business](https

[2020-12-15 19:37] Jimnar commented on #3501
@msbemba, sorry for mixing up the place where "admin" and "administrator" are used. I mean to say Azure AD uses "administrator" and O65/M365 uses "admin". Take care.

[2020-12-15 23:00] #3670 closed

[2020-12-16 07:48] myfope opened #3739 "9.25 is missing"
I've a message where I have 9.25 as the reason (see screenshot). This article only list until 9.24 and I'm not able to identify the issue why the message was sent to the quarantine.

![image](https://user-images.githubusercontent.com/23408264/102319618-787e4300-3f7b-11eb-8d94-9985f04f656a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-12-16 08:51] FrankPlawetzki opened #3740 "Clarify that settings from the Anti-Spam policy are still honored"
We should clarify that action taken on any message is determined by the setting configured in the antispam policy. Secure by default will not change that and messages with the high confidence phish action will just take effect as it normally would; although, we do recommend that tenants move to the quarantine experience.

[2020-12-16 09:12] msbemba commented on #3416
@yogkumgit Author has updated the document. We can proceed with closure.

Thanks
Sri

[2020-12-16 09:16] msbemba commented on #3561
@yogkumgit We have got a confirmation from @KCCross that this limit is changed to 25 MB by the product group recently. This has been updated in this document accordingly.  This issue can be closed.

Thanks
Sri

[2020-12-16 09:17] yogkumgit commented on #3726
@lfzn2 Please mention which document we are referring to. Thanks

[2020-12-16 09:21] yogkumgit commented on #3740
@FrankPlawetzki Please mention which document you are referring to. Thanks

[2020-12-16 09:24] msbemba commented on #3501
@Jimnar Thank you for the clarity.  Admin is the acronym for Administrator, there is no difference as such in the roles when you assign it from O365 or AAD.

Hope this helps!
Thanks
Sri

[2020-12-16 09:31] yogkumgit commented on #3649
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gkens Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-16 09:31] #3649 closed

[2020-12-16 09:34] FrankPlawetzki commented on #3740
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/secure-by-default?view=o365-worldwide

[2020-12-16 09:38] yogkumgit commented on #3583
@msbemba Thank you very much for the contribution and updating the documentation with PR. @yukahey Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-16 09:38] #3583 closed

[2020-12-16 09:42] FrankPlawetzki commented on #3740
For clarification:
Although the documentation includes the sentence: "Email identified as high confidence phishing will be handled according to the anti-spam policy action." in my opinion it is not clear, that the anti-spam policy settings will still be honored and e.g. customers can still send high confidence phish to the junk mail folder instead of quarantine, although this is not recommended by

[2020-12-16 09:45] yogkumgit commented on #3635
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bhakuparkharsohtun Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-16 09:45] #3635 closed

[2020-12-16 09:51] yogkumgit commented on #3299
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-16 09:51] #3299 closed

[2020-12-16 09:55] #3416 closed

[2020-12-16 09:57] yogkumgit commented on #3563
@msbemba Thank you very much for the contribution and updating the documentation with PR. @madduci Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-16 09:57] #3563 closed

[2020-12-16 10:04] yogkumgit commented on #3309
@msbemba Thank you very much for the contribution and updating the documentation with PR. @itguysocal Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-16 10:04] #3309 closed

[2020-12-16 10:11] #3561 closed

[2020-12-16 11:59] TheITguy666 opened #3743 "Update Teams Guest Access screenshot"
The Teams Guest access page has a new layout.
Instead of the enable/disable guest access button, it's now a drop-down box

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 147fb47a-99b2-f8ef-9ca6-35696d49c3fb
* Version Independent ID: b2f1b521-f231-48c2-b61f-f71bf9248d1c
* Content: [Collaborate with guests in a team](http

[2020-12-16 13:56] erictechtips opened #3744 "Need to add https://unpkg.com to required URLs for Microsoft Teams"
In order for the praise feature to work in Teams, Microsoft Teams has to reach out to endpoints such as https://unpkg.com/@microsoft/teams-js@1.3.6/dist/MicrosoftTeams.min.js   If this URL is not added to the list of required URLs in Teams, the praise feature in Microsoft Teams will not work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-12-16 15:55] chrisda commented on #3685
@HarrisburgUSysAdmin, I'm told that users are reminded once a week but only after the training is overdue (still not completed past due date).

[2020-12-16 18:16] Sirkkuw commented on #3602
Ah yes. I will remove this. Cut and paste error...

[2020-12-16 18:46] TomasHurtz opened #3745 "update info about Cloudflare Orange cloud setting"
YOU HAVE THIS:  Select the DNS Traffic icon (orange cloud) to bypass the Cloudflare servers.

IT SHOULD SAY THIS (to avoid confusion)
Select the DNS ONLY icon (change orange cloud to grey) to bypass the Cloudflare servers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6107c99-df0b-8a33-f291-086ea6fd5034
* Version Ind

[2020-12-16 19:01] nitzdaniel opened #3746 "Identity Protection alerts are missing in Microsoft 365 Defender even if the integration with MCAS has been enabled"
Identity Protection can be integrated with MCAS to import those alerts into the MCAS solution. MCAS is a security provider and can synchronize alerts to Microsoft 365 Defender, except alerts delivered from the Identity Protection module into MCAS.
It should be added as additional information that those alerts are not synchronized and need to be checked in MCAS separately.
BTW: Is there an ETA for

[2020-12-16 19:36] chrishill206 opened #3747 "Outlook 2013 Won't Authenticate Microsoft 365 Account, Missing Reg Keys"
Outlook 2013, Windows, M365 Business Basic.
I have reviewed this note but I do not have these registry keys.
https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/enable-modern-authentication?view=o365-worldwide

Any recommendations?

[2020-12-16 22:09] chrfox commented on #2871
links updated, thanks

[2020-12-16 22:09] #2871 closed

[2020-12-16 22:18] chrfox commented on #3022
investigating

[2020-12-16 23:05] chrfox commented on #3218
Hi @andrewrsww
Thanks for your comment.  You should contact Microsoft support services to resolve your issue.

[2020-12-16 23:05] #3218 closed

[2020-12-16 23:17] chrfox commented on #3505
Hi @MrsGMark2
That feature is still there.  I am unable to reproduce your experience. You should contact Microsoft Support Services to resolve your issue.

[2020-12-16 23:17] #3505 closed

[2020-12-16 23:22] chrfox commented on #3662
Hi @bledMS82
Defender AV is not required for Endpoint DLP.

[2020-12-16 23:22] #3662 closed

[2020-12-16 23:26] chrfox commented on #3673
HI @andrePKI
The keywords in the topic and the XML code are the authoritative source. I suggest you contact Microsoft Support Services to help resolve your issue

[2020-12-16 23:26] #3673 closed

[2020-12-17 01:30] r-milne opened #3749 "Security Note"
Should we be condoning the use of Basic authentication?  Not a good security practice.

$UserCredential = Get-Credential
$Session = New-PSSession -ConfigurationName Microsoft.Exchange -ConnectionUri https://ps.outlook.com/powershell-liveid -Credential $UserCredential -Authentication Basic -AllowRedirection
Import-PSSession $Session -DisableNameChecking

---
#### Document Details

⚠ *Do not edit th

[2020-12-17 02:04] markjjo commented on #3749
@r-milne Topic will be updated; will remove the connection instructions and point to topic on connecting to powershell using modern auth.

[2020-12-17 02:04] #3749 closed

[2020-12-17 11:53] pawp81 opened #3752 "Update documention on effects of disabling spoof intelligence"
Disabling spoof intelligence only disables implicit spoof protection. So DMARC=fail action=reject/quarantine would NOT be affected. It would be good to update the article to clarify it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0b8f651-9d8e-a34b-8dde-2b6a9448f875
* Version Independent ID: 20e96426-627d-9973-8303-

[2020-12-17 13:07] #3501 closed

[2020-12-17 13:17] yogkumgit commented on #3706
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gb5757870 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:17] #3706 closed

[2020-12-17 13:20] yogkumgit commented on #3704
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gb5757870 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:20] #3704 closed

[2020-12-17 13:23] yogkumgit commented on #3590
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ArttuArstila Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:23] #3590 closed

[2020-12-17 13:28] yogkumgit commented on #3399
Closing as per the comment in PR #3443

[2020-12-17 13:28] #3399 closed

[2020-12-17 13:31] yogkumgit commented on #3555
@msbemba Thank you very much for the contribution and updating the documentation with PR. @donnyatmsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:31] #3555 closed

[2020-12-17 13:47] yogkumgit commented on #3700
@msbemba Thank you very much for the contribution and sharing this explanation. @sganta Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:47] #3700 closed

[2020-12-17 13:49] yogkumgit commented on #3682
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Crimsonfox89 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:49] #3682 closed

[2020-12-17 13:52] yogkumgit commented on #3681
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Crimsonfox89 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:52] #3681 closed

[2020-12-17 13:55] yogkumgit commented on #3665
@msbemba Thank you very much for the contribution and sharing this explanation. @ficus Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 13:55] #3665 closed

[2020-12-17 14:02] yogkumgit commented on #3641
@msbemba Thank you very much for the contribution and updating the documentation with PR. @russrimm Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 14:02] #3641 closed

[2020-12-17 14:09] yogkumgit commented on #3554
@msbemba Thank you very much for the contribution and updating the documentation with PR. @donnyatmsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 14:09] #3554 closed

[2020-12-17 14:19] yogkumgit commented on #3453
@msbemba Thank you very much for the contribution and updating the documentation with PR. @raneem634 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-17 14:20] #3453 closed

[2020-12-17 18:01] chrisda commented on #3752
@pawp81, OK. Done.

Thanks for the feedback.

Closing

[2020-12-17 18:01] #3752 closed

[2020-12-17 21:15] msbemba commented on #3726
@lfzn2 Thank you for your feedback. Are you referring to https://docs.microsoft.com/en-us/microsoft-365/bookings/define-service-offerings?view=o365-worldwide ?

Thanks
Sri