[2021-12-01 02:03] cabailey commented on #7015
I'm not sure I understand the question but we have a section specific to what happens when the group is deleted (which includes group expiration): https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-settings?view=o365-worldwide#what-happens-if-a-microsoft-365-group-is-deleted-after-a-policy-is-applied

[2021-12-01 02:16] cabailey commented on #7014
After investigating, shadow mailboxes aren't supported for retention, even though they might be included in an org-wide policy.  I've updated the text on this to clarify.  Shadow mailboxes can be supported by eDiscovery, which is why we documented where copies of guest messages are stored.

[2021-12-01 03:25] cabailey commented on #7025
@Ian-Hawk-Hawkins Yes, apparently this is correct - and new to me, today confirmed with engineering.  Today (and this might change in the future) when a list item is labeled but excluded from search, it will be retained but not deleted.  An odd variation, now added to this section where we list support statements: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-sharepo

[2021-12-01 05:45] yogkumgit commented on #6998
@Dansimp Please help us resolving this issue. Thanks

[2021-12-01 05:58] yogkumgit commented on #7012
@chuckedmonson Please help us in resolving this issue. Thanks

[2021-12-01 06:01] yogkumgit commented on #7005
@denisebmsft Please help us in resolving this issue. Thanks

[2021-12-01 11:42] msbemba commented on #6995
@RichAcevedo1 Thank you for your feedback. This feature is still under preview and we are not exactly sure how the future of this would be (PowerShell or eac). I'd recommend you post questions directly on our feedback site( https://feedbackportal.microsoft.com) to get the latest updates and roadmaps about this feature.

Hope this helps!
Thanks
Sri

[2021-12-01 11:49] msbemba commented on #6997
@HavardOveras Thank you for your feedback. Information barriers are available in M365 A5 for students and faculty. Since there is no explicit mention of faculty, it can be considered as available on both.

Hope this helps!

Thanks
Sri

[2021-12-01 11:55] msbemba commented on #7026
@richardbranson Thank you for your feedback. Since Microsoft Teams is integrated with Exchange and SharePoint these changes will need to be made as mentioned in the document. I understand your concern about making these changes in multiple places, I'd recommend you leave feedback to our product group via the main feedback portal -https://feedbackportal.microsoft.com

Thanks
Sri

[2021-12-01 11:58] msbemba commented on #7019
@CallumCrowley Thank you for your feedback. For the product group or owners to make these changes, this feedback needs to be directed to them. I recommend you submit this feedback directly on our feedback portal -https://feedbackportal.microsoft.com so that you will get a response directly from the team and also get updates on when this feature is changed.

Hope this helps!

Tanks
Sri

[2021-12-01 12:06] msbemba commented on #7017
@ChristopheLux Thank you for your feedback. The feature is available in Exchange online, we have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7035

To return all DEPs in your organization, run the Get-DataEncryptionPolicy cmdlet without any parameters.

Thanks
Sri

[2021-12-01 12:16] msbemba commented on #7020
@tnordin Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7036

The Edit custom tile option is available when you select Custom app launcher tiles-->Click on the three dots next to the tile that you want to edit.

![image](https://user-images.githubusercontent.com/45987684/144232915-c72c0fc6-334e-43a0-aedc-5da8f452f74

[2021-12-01 12:27] msbemba commented on #6992
@dborchers-gc Thank you for your feedback. I checked this in the SAP help portal and found that this is the Partner ID for the support partner.

![image](https://user-images.githubusercontent.com/45987684/144234275-822f0048-695d-4808-be43-b481552694e0.png)

https://help.sap.com/viewer/bcf28adaf97342979c4afa49a1ec89c7/2111/en-US/08b46fc196ca4bfa93285e281257a490.html

Thanks
Sri

[2021-12-01 12:30] msbemba commented on #6994
@smedin4 Thank you for your feedback. We have added M365 Business premium to the license part via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7037

Mac  os is also covered and this has been updated in the document.

Thanks
Sri

[2021-12-01 13:08] technonath opened #7038 "Activity Explorer does not show sensitivity label changes for office apps"
Your documentation states:-
Sensitivity label activities and Retention labeling activities from Office native applications, Azure Information Protection add-in, SharePoint Online, Exchange Online (sensitivity labels only)

But in my testing only updates done through sharepoint and the web apps show up, not if you edit them with the office apps - however if I check the Unified event log in powershe

[2021-12-01 14:21] HarrisburgUSysAdmin opened #7040 "Notify users from within the portal"
Does anyone have an example message sent to the user when an admin marks this as "phishing" and "no threat found"? What email address does the email come from?

The reported message will be marked as a false positive or a false negative. An email notification be sent automatically from within the portal to the user who reported the message.

https://docs.microsoft.com/en-us/microsoft-365/security/

[2021-12-01 20:41] chuckedmonson commented on #7012
@LeoGoGarcia -- Will investigate and get back to you about the inquiry. Thank you.

[2021-12-02 01:14] michaelomm opened #7047 "More info required"
Need to include a note or a link to syncing interval information...perhaps https://support.microsoft.com/en-us/office/calendar-sharing-in-microsoft-365-b576ecc3-0945-4d75-85f1-5efafb8a37b4?ui=en-us&rs=en-us&ad=us
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3bda19-af86-20e8-92c4-ccb0caee7cd2
*

[2021-12-02 02:18] hudish opened #7048 "Remove the last line in this article"
The last line "For more information, see Create safe sender lists in EOP." links to this very same article and is redundant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900a9d1-897d-f7e9-6c58-a510edf56a9b
* Version Independent ID: bc59ac94-233b-e558-4455-a4c7166d4023
* Content: [Create safe sender lists - Office 36

[2021-12-02 07:10] yogkumgit commented on #6995
@msbemba Thank you very much for the contribution and sharing this explanation. @RichAcevedo1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 07:11] #6995 closed

[2021-12-02 07:16] yogkumgit commented on #6997
@msbemba Thank you very much for the contribution and sharing this explanation. @HavardOveras Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 07:17] #6997 closed

[2021-12-02 07:18] yogkumgit commented on #7026
@msbemba Thank you very much for the contribution and sharing this explanation. @richardbranson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 07:19] #7026 closed

[2021-12-02 07:21] yogkumgit commented on #7019
@msbemba

[2021-12-02 07:26] yogkumgit commented on #6992
@msbemba Thank you very much for the contribution and sharing this explanation. @dborchers-gc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 07:27] #6992 closed

[2021-12-02 07:33] yogkumgit commented on #6962
@msbemba Thank you very much for the contribution and updating the documentation with PR. @deejerydoo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 07:34] #6962 closed

[2021-12-02 07:44] yogkumgit commented on #6990
@msbemba

[2021-12-02 08:01] yogkumgit commented on #7014
@nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 08:02] #7014 closed

[2021-12-02 08:03] yogkumgit commented on #7015
@nikki-c Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 08:03] #7015 closed

[2021-12-02 08:04] yogkumgit commented on #7025
@Ian-Hawk-Hawkins Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 08:04] #7025 closed

[2021-12-02 08:07] yogkumgit commented on #7023
@WayneEwington Please reply. Thanks

[2021-12-02 08:08] yogkumgit commented on #6953
@cj8686 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 08:08] #6953 closed

[2021-12-02 08:11] yogkumgit commented on #6873
@lightsabregl We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 08:11] #6873 closed

[2021-12-02 08:14] yogkumgit commented on #6851
@mjcaparas Please reply. Thanks

[2021-12-02 08:17] yogkumgit commented on #6470
@harshdamaniahd We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2021-12-02 08:17] #6470 closed

[2021-12-02 08:20] yogkumgit commented on #6348
@MikePlumleyMSFT and @arun-msft-zz second reminder. Thanks

[2021-12-02 08:21] yogkumgit commented on #6117
@scotvidican Please reply. Thanks

[2021-12-02 08:22] yogkumgit commented on #5588
@MikePlumleyMSFT Please reply. Thanks

[2021-12-02 08:25] yogkumgit commented on #6188
@jitterbox Author confirmed that he has added in the backlog. Document will be updated accordingly. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 08:26] #6188 closed

[2021-12-02 08:28] yogkumgit commented on #5747
@grzegorzwierzbicki Author confirmed that he has added it in the backlog. Document will be updated accordingly. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-02 08:28] #5747 closed

[2021-12-02 08:37] yogkumgit commented on #4052
@Karl-Bridge-Microsoft Forwarded to Cortana team. Thanks for the feedback. Closing.

[2021-12-02 08:40] yogkumgit commented on #4876
@Balamurugan-dot Forwarded to Cortana team. They will address. Thanks for your feedback. Closing.

[2021-12-02 08:40] #4876 closed

[2021-12-02 09:38] ChristopheLux commented on #7017
Thanks @msbemba
If there is only for the moment the standard MMK DEP in place the command will return nothing?

Best Regards
Chris

[2021-12-02 10:29] RyanG314 opened #7049 "PowerShell ease of use"
Regarding the published documentation stating:
$Mailboxes = Get-Mailbox -ResultSize Unlimited -Filter {RecipientTypeDetails -eq "UserMailbox"}
these parameters fail at the point of filter.
I've found that: $Mailboxes = Get-Mailbox "mailbox@domain.com" -ResultSize Unlimited
sets $Mailboxes correctly so you are able to run:
$Mailboxes.identity | Start-ManagedFolderAssistant
and enact changes to rete

[2021-12-02 14:23] CAT-hs commented on #6851
Another update: we did upgrade MECM to 2107 and now 2012r2 systems appear to be managed without issue, so the above mentioned documentation clarification might be the only update required, pending response from knowledgeable parties.

[2021-12-02 15:59] KareemAve opened #7050 "Can't Use Information Barrier Policies"
Information barrier policies in our tenant cannot be applied. The error message "our request failed to complete. Please retry. Error Details:

 Microsoft.Exchange.Management.Tasks.AsymmetricPoliciesException, IB Policies defined on segment% 2281f7b21a-4eb6-4b83-81d4-62eea8c464d0% 22 and% 22b355de1a-9a7a- appears here. 407f-b61e-76cd4f654765% 22 are not symmetric. Please ensure that the policies ar

[2021-12-02 16:05] JMTrupp opened #7051 "Warning Needed"
For https://docs.microsoft.com/en-us/microsoft-365/compliance/create-and-manage-inactive-mailboxes?view=o365-worldwide

Removing a Exchange license from a user account does not override any retention policies or holds in place on the mailbox. However, it places the mailbox in a tombstone state, rather than an inactive state. The content cannot be accessed by eDiscovery Tools or Content Searches un

[2021-12-02 16:34] kelleyvice-msft commented on #6117
I will bring this to the attention of the CDN PM and figure out what needs to be updated. Thank you!

[2021-12-02 16:42] WayneEwington commented on #7023
This question is related to Exchange Online (and not SharePoint Online) and should really be directed @briandaymsft as previously stated.

[2021-12-02 16:50] briandaymsft commented on #7023
This is a challenging area, and more documentation would likely do little to provide clarity.

Resource/Room mailboxes are required to have a MG license to be compliant as far as licensing goes. However, the licensing system will not allow the customer to assign these mailboxes a MG license as they usually do not have the necessary pre-req license assigned to them which blocks the assignment. To d

[2021-12-02 16:51] chrisda commented on #7048
@hudish, fixed. In the future, you too can make fixes like this without opening an Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2021-12-02 16:51] #7048 closed

[2021-12-02 17:14] markjjo commented on #7049
@RyanG314 Thanks for feedback. I can't repro your issue.  I ran the command and it loads the variable with all user mailboxes in the org. But it looks like in your situation you found a workaround. Obviously, goal is to get a list of all mailboxes so that you can run the MFA against the list.

[2021-12-02 17:14] #7049 closed

[2021-12-02 17:28] AveryBaker opened #7053 "Steps for Configuring Simulation Mode are Incomplete"
To have an AutoSenstivityLabelPolicy in simulation mode start running the simulation you must first run this cmdlet:
**set-autosensitivitylabelpolicy -identity MyPolicy -startsimulation $true**

This step is not included in the document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6564bdaa-d66b-42ba-85bd-7c8f9989093

[2021-12-02 19:37] denisebmsft commented on #7005
@yogkumgit I have reached out to the product team. Will post an update here soon.

[2021-12-02 19:46] denisebmsft commented on #6966
@yogkumgit wrote the PM about this issue.

[2021-12-02 20:31] denisebmsft commented on #5163
My colleague is still working on this. He is waiting on some needed information.

[2021-12-02 21:03] cabailey commented on #7053
@AveryBaker  If you are following the instructions on this page (use the UI to create auto-labeling policies), you should not have to run this PowerShell cmdlet.  Were you told otherwise?

[2021-12-02 22:18] denisebmsft commented on #5501
Greetings @digitalzomb @yogkumgit

The article has been updated and the changes will be live later today (around 4 p.m. Pacific Time). Thank you again for the helpful feedback!

[2021-12-02 22:18] #5501 closed

[2021-12-02 22:23] denisebmsft commented on #4518
It looks like my colleague has addressed this issue with the article https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules?view=o365-worldwide, and in this section: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction?view=o365-worldwide#attack-surface-reduction-features-across-windows-versions

Please

[2021-12-02 22:23] #4518 closed

[2021-12-02 23:20] vianeyhm opened #7058 "Clarifying how Safe links works"
Hello team;

Based on this documentation, it is not clear if Safe Links uses a sandbox to evaluate the URLs received thru email, in an Office document or Teams chat, I may assume that yes based on the fact that any time the user clicks a URL, Microsoft open it and analyze it (in real-time) but not really sure if it works like that, could be good to clarify it in this documentation based on the fac

[2021-12-03 08:12] yogkumgit commented on #6599
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sringler Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-03 08:12] #6599 closed

[2021-12-03 08:27] yogkumgit commented on #7023
@shivtorov Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-03 08:27] #7023 closed

[2021-12-03 08:31] yogkumgit commented on #7020
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tnordin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-03 08:32] #7020 closed

[2021-12-03 09:17] yogkumgit commented on #6542
@pebaum Gentle reminder. Thanks

[2021-12-03 09:22] yogkumgit commented on #6692
@THANAWIWAT We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-12-03 09:22] #6692 closed

[2021-12-03 10:54] fajr365 opened #7060 "IE Report Internal or External users"
Looking for more detailed information on the IE usage report. Like the number of users that are on network access vs Off network access. This would help identify if the users IE usage was from a corp device or personal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f954abb9-d978-b70d-c136-623a76317ddc
* Version Indepe

[2021-12-03 13:54] nkeibler81 commented on #7031
We are having this exact same issue

[2021-12-03 16:13] lccctemp opened #7061 "Policy Location Not Listed for "Configure Controlled Folder Access" Setting"
The document does not list the policy location for "Configure Controlled folder access, set to Enabled, Audit Mode". The policy location is \Windows Components\Microsoft Defender Antivirus\Microsoft Defender Exploit Guard\Controlled Folder Access".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523651c3-a318-2369-6892-

[2021-12-03 16:28] anwarmahmood1 opened #7062 "log name is incorrect - is "Microsoft-Windows-Windows Defender/Operational" [notice the space between Windows Defender]"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c453008-4ccc-186c-b6da-64536d62c89c
* Version Independent ID: a00180f1-4f69-956f-cd92-77b7bf21fc16
* Content: [Evaluate network protection](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/evaluate-network-protection?view=o36

[2021-12-03 16:29] mschambach opened #7063 "Add IdenTrust Commercial Root CA 1"
Can you please include the "IdenTrust Commercial Root CA 1" on this webpage. We are in Mozilla's CCADB Microsoft approved CA:
https://ccadb-public.secure.force.com/microsoft/IncludedCACertificateReportForMSFT
My contact details are:
Marco Schambach
Program Manager
IdenTrust
5225 Wiley Post Way,
Salt Lake City, UT 84116-4915
+1-801-384-3553 (Office)
+1-954-608-1344 (Mobile)
mschambach@identrust.com

[2021-12-03 16:49] kelleyvice-msft commented on #7063
@neymars, thanks for bringing this to my attention. I will bring this to the PKI team and get back to you.

[2021-12-03 17:08] chuckedmonson commented on #7012
@LeoGoGarcia -- You need to have edit permissions to update the "Pinned People" section. The best approach is to enable editing for everyone so you can truly crowdsource. If that's not an option, contact the last editor, and they can remove. Thank you for your feedback, and we are working on improving this experience.

[2021-12-03 17:08] #7012 closed

[2021-12-03 17:28] bcihak commented on #6751
Hello,

Any update on an ETA?

Thanks!

[2021-12-03 18:16] ValZapod commented on #4722
It is very simple to do. Jusg disable kernel mode driver and that is all.

[2021-12-03 18:53] rafaelcastrocouto commented on #4722
@ValZapod can you help me? how can I disable it?

[2021-12-03 18:56] ValZapod commented on #4722
Reboot in safe mode and then do this https://superuser.com/a/947898/1033761

Works in windows 11.

[2021-12-03 19:01] rafaelcastrocouto commented on #4722
Thanks for the fast reply but there was no gpedit.msc in my windows. I downloaded and got gpedit to work but it does NOT show 'Windows Defender' inside 'Windows Components' group.
Is there a way to fix this or should I try the CLI ?

[2021-12-03 19:04] ValZapod commented on #4722
You cannot use gpedit.
In safe mode:
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services.
Look for services starting with "wd" that have "Windows Defender" in the Description value. A possibly incomplete list is: wdboot, wdfilter, wdnisdrv, wdnissvc, windefend.
Change the Start value for each service to 0x4 (hex 4, decimal 4).
Reboot to normal mode.

[2021-12-03 19:29] rafaelcastrocouto commented on #4722
Did that, now windows won't boot anymore. Great now I gotta format my drive 🙎‍♂️

[2021-12-03 19:31] ValZapod commented on #4722
I know how to do it without windows and yet do not know how to restore bootloader? Are you trolling?

[2021-12-03 19:37] rafaelcastrocouto commented on #4722
sorry, not trolling at all. just losing my patience with a problem that didn't existed til the latest updates that enforced this antivirus.
I'm not an expert (specially in boot stuff) so this is kind of a headache for sure.
I have no idea how and where to access and undo windows reg data. Any help is welcome at this point.

[2021-12-03 19:43] ValZapod commented on #4722
Does it bluescreen on boot? On what stage? Because it must boot.

[2021-12-03 19:45] ValZapod commented on #4722
You should have also set to 4 the Sence service there. Totaly forgot.

[2021-12-03 19:47] rafaelcastrocouto commented on #4722
it does boot but windows keeps failing and restarting even in safe/prompt mode

[2021-12-03 19:52] lccctemp opened #7066 "Enabling Bi-Directional (Full-on) Access Changes to Disabled (by design)"
Under "Monitor all files in Real time protection", we are instructed to set "Configure monitoring for incoming and outgoing file and program activity" to "Enabled" with the option "bi-directional (full-on access)" but when we do, GPM Editor shows the policy state as "Disabled".

After researching this further, I found this Q&A which states that this is by design. The setting is just badly worded a

[2021-12-03 19:52] ValZapod commented on #4722
Try to reboot holding shift it will allow you to go to EUFI recovery where you will have access to command prompt and then just use a command to set Start of Sense to 4 too.

[2021-12-03 20:03] rafaelcastrocouto commented on #4722
Finnally I was able to open the prompt ... can you help me with the command to change that value?

[2021-12-03 20:11] ValZapod commented on #4722
reg add "HKLM\System\CurrentControlSet\Services\Sense" /v "Start" /t REG_DWORD /d "4" /f

[2021-12-03 20:17] lccctemp opened #7067 "Microsoft Defender Antivirus > Signature Updates Path Not Found"
In the "Check for signature update" section, the screen shot shows a setting called "Specify the interval to check for definition updates" within the path "**Windows** Defender Antivirus > **Signature** Updates", but this path does not exist.

Is this supposed to be "Specify the interval at which to check for **security intelligence** updates" within the path "Computer Configuration > Policies > A

[2021-12-03 20:29] rafaelcastrocouto commented on #4722
That didn't work. The new added reg is there but it's still rebooting. I tryed to undo the previous modifications but on the prompt reg query seems like all those services were deleted from the registry

[2021-12-03 20:31] ValZapod commented on #4722
They are just not visable to normal user, only to system.

[2021-12-03 20:43] rafaelcastrocouto commented on #4722
thx for your help. i'm guessing i cant sudo in windows 😅

[2021-12-03 21:00] denisebmsft commented on #7005
Thank you @vTa47 for raising this issue. And thank you @yogkumgit for your help. I have updated the content, and the revisions will be live later today. Updates include a link to script scanning information (https://docs.microsoft.com/en-us/windows/client-management/mdm/policy-csp-defender) and the latest Group Policy Reference Spreadsheets. (Win 10: https://www.microsoft.com/download/details.aspx

[2021-12-03 21:00] #7005 closed

[2021-12-03 21:02] #6974 closed

[2021-12-03 21:02] #6967 closed

[2021-12-03 21:02] #6970 closed

[2021-12-03 21:03] #6972 closed

[2021-12-03 21:03] #6973 closed

[2021-12-03 21:03] #6971 closed

[2021-12-03 21:05] denisebmsft commented on #6858
Andy updated this on Nov 16. Issue resolved.

[2021-12-03 21:05] #6858 closed

[2021-12-03 21:08] DanyHebert opened #7069 "Clarify if Get-Addin is available for GCC customers"
Hello,

We would like to clarify if the Get-Addin option is available for GCC customers. According to MS support, this is not and organizations must be using Centralized Deployment. However there is no clear mention of this on any public facing MS documentation.

Would it be possible to confirm this information and clarify the documentation if required? Thank you!

---
#### Document Details

⚠ *Do

[2021-12-04 10:43] rafaelcastrocouto commented on #4722
I've just factory reset the PC  ... no programs, nothing. And windows defender is disabled.

STILL the antimalware is the number one in the memory list

![Untitled](https://user-images.githubusercontent.com/422159/144706567-e970cd5c-c588-4686-9388-c9f9a5a0a270.png)

[2021-12-04 10:58] ValZapod commented on #4722
Did you turn off real time protection? Ehat about UAC? Without it you will not be able to do anything. You can also try this (disable inheritence hack on whole WinDefend app). Again, here the first hack with disabling kernel mode drivers worked perfectly yesterday. Why does it start rebooting in your case I have no idea. I also have secureboot on all the time and stuff. So very strange.

This will

[2021-12-04 11:46] rafaelcastrocouto commented on #4722
I'm on windows 10 home edition ... that won't work.

[2021-12-04 11:55] ValZapod commented on #4722
What?

[2021-12-04 16:31] msbemba commented on #7018
@gaborvar Thank you for your feedback. The Links that you reported to be problematic are fixed in the backend and I'm able to access this now.

If this is just a locale issue, You can access the  Online Services Privacy and Security Terms, here https://www.microsoft.com/licensing/terms/product/PrivacyandSecurityTerms/all

Thanks
Sri

[2021-12-04 16:38] msbemba commented on #7022
@dmennis Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7082

Once the author approves the PR, the changes will be live.

Thanks
Sri

[2021-12-04 16:43] msbemba commented on #6999
@Surajbudhani1994 Thank you for your feedback. I tested this as well and the change in password policy does not change the default suggestion. If you think a design change is required that can suggest based on password policies, I'd recommend you provide feedback to our Product group via the portal-  https://feedbackportal.microsoft.com

Thanks
Sri

[2021-12-04 18:51] msbemba commented on #6845
@virtualcomputerguy The kit has been updated. Lab expires on February 16, 2022. A new version will be published prior to expiration.

@yogkumgit  This issue can be closed.

Thanks
Sri

[2021-12-04 19:14] virtualcomputerguy commented on #6845
Awesome 👍

Thanks,
Matt Sample
________________________________
From: Sriraman M S ***@***.***>
Sent: Saturday, December 4, 2021 11:51:43 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: virtualcomputerguy ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] New version yet? (Issue #6845)

@virtualcomputerguy<https://github.com/virtualcomputerguy> The kit has

[2021-12-05 00:34] rafaelcastrocouto commented on #4722
For all of those that have the same struggle here's how I solved:

1st: Install "Update for Windows 10 x64 based Systems (KB4480730)" - this seems to be required and will make a lot of things work as they shoud in the other tutorials

2nd: Install "Defender Control" - https://www.sordum.org/9480/defender-control-v2-0/ - since I was tired of playing around with the registry with no success I tried

[2021-12-05 15:54] ananalek opened #7084 "''''"
[ป้อนคำติชมที่นี่]

---
#### รายละเอียดเอกสาร

⚠ *อย่าแก้ไขส่วนนี้ กำหนดให้ต้องจัดทำ docs.microsoft.com ➟ การเชื่อมโยงปัญหา GitHub*

* ID: 4eabafd4-aa2e-d159-dad1-47a0e7d15b02
* Version Independent ID: 4a9e22e9-eafb-bac6-851a-b1544dbf0b9b
* Content: [Upgrade Windows 10 Home to Windows 10 Pro](https://docs.microsoft.com/th-th/microsoft-365/business-video/upgrade?view=o365-worldwide)
* Content Sourc

[2021-12-05 15:55] ananalek commented on #7084
ID: 4eabafd4-aa2e-d159-dad1-47a0e7d15b02
รุ่นอิสระ ID: 4a9e22e9-eafb-bac6-851a-b1544dbf0b9b
เนื้อหา: อัปเกรด Windows 10 Home เป็น Windows 10 Pro
ที่มาของเนื้อหา: microsoft-365/business-video/upgrade.md
บริการ: o365-administration
GitHub เข้าสู่ระบบ: @cmcatee-MSFT
Microsoft นามแฝง: cmcatee

[2021-12-06 02:32] kahosoka opened #7087 "Request to add onboard cautions using local script"
[Enter feedback here]
Hi Team,

There are parts of Microsoft Defender for Endpoint that I feel are missing in explaining how to handle local scripts.
Therefore, I would like to correct the contents that are currently written in Docs.

・Additional Request Contents
1.Could you explain in detail why onboard using local scripts is limited to a maximum of 10?

Comments to be amended:
I would like you t

[2021-12-06 04:41] yogkumgit commented on #7084
@ananalek What is your feedback to improve the documentation.

[2021-12-06 05:09] yogkumgit commented on #6845
@msbemba Thank you very much for the contribution and sharing this explanation. @virtualcomputerguy  If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 05:09] #6845 closed

[2021-12-06 05:15] yogkumgit commented on #7024
@msbemba Thank you very much for the contribution and sharing this explanation. @kishan729g Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 05:15] #7024 closed

[2021-12-06 05:21] yogkumgit commented on #7018
@msbemba Thank you very much for the contribution and sharing this explanation. @gaborvar Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 05:25] yogkumgit commented on #6999
@msbemba Thank you very much for the contribution and sharing this explanation. @Surajbudhani1994 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 05:25] #6999 closed

[2021-12-06 05:32] yogkumgit commented on #7004
@msbemba

[2021-12-06 05:36] BondiChris commented on #5695
Any response on this issue? I am still getting messages from Office365 domains that fail SPF origin checks.

[2021-12-06 05:39] yogkumgit commented on #7053
@AveryBaker Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-06 05:40] #7053 closed

[2021-12-06 05:53] yogkumgit commented on #6849
@btbennett Gentle reminder

[2021-12-06 06:55] msbemba commented on #7062
@anwarmahmood1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7090

Thanks
Sri

[2021-12-06 07:20] yogkumgit commented on #7028
@Dansimp Please help us resolving this issue. Thanks

[2021-12-06 07:57] gaborvar commented on #7018
Thank you for the update.
@msbemba in your comment you are referring to the valid and OST link: https://www.microsoft.com/licensing/terms/product/PrivacyandSecurityTerms/all
However in the article I still see a redirected link https://go.microsoft.com/fwlink/p/?linkid=864390 that points to https://www.microsoft.com/licensing/docs in two places. This is incorrect. You also see an error message sayi

[2021-12-06 14:19] myfope opened #7092 "Update licensing information"
Hi,

could someone update the article to reflect the correct licensing statement about DKE?
As listed here [https://docs.microsoft.com/en-us/microsoft-365/compliance/double-key-encryption?view=o365-worldwide#system-and-licensing-requirements-for-dke](url) it tells us "Microsoft 365 E5" is required. But this is not exactly true, as e.g. E5 Compliance is also fine to use with DKE regarding this arti

[2021-12-06 14:20] dkotars opened #7093 "Link in Related content is incorrect"
Under related content link to "Reports in the Security & Compliance Center (article)" goes to https://docs.microsoft.com/en-us/microsoft-365/admin/activity-reports/activity-reports?view=o365-worldwide (Microsoft 365 Reports in the admin center)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d43b01f-5c1e-515a-900a-7aab

[2021-12-06 15:41] import-au opened #7094 "RBAC for Threat Analytics"
What permissions or roles are required to view Threat Analytic reports?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1834aed2-8822-5a3b-c5c5-ac70b86fa277
* Version Independent ID: 525f0820-aedb-8822-8518-27a5f983f68d
* Content: [Track and respond to emerging threats with Microsoft Defender for Endpoint threat analyti

[2021-12-06 16:53] jerryabo opened #7095 "Defender macOS Custom Profile, e.g. Onboarding, does not specify Deployment Channel"
macOS Custom Profiles in Intune now require specifying the deployment channel, e.g. device or user. Docs do not specify the required/supported channel for this in the UX or instructions and require updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd66a255-36e5-29dc-7610-d50ef8bca3f3
* Version Independent ID: 17

[2021-12-06 17:48] DulceMontemayor commented on #6847
Hi all,

Apologies for the delay as our SMEs and PMs were busy. Here's the reply in a nutshell:

"Currently, TVM only checks for vulnerable installed applications and doesn’t map CVEs into open ports – i.e. If a CVE can be exploited over the network, we can only say if the machine is vulnerable but cannot infer if it’s in risk due to the port being open."

Thanks!
Dulce

[2021-12-06 17:55] npatellumeta commented on #6847
No problem at all. Thanks for your response. I do understand how it can become challenging to map CVEs into open ports for application vulnerabilities. But how about network vulnerabilities? Does TVM not support network vulnerabilities?

[2021-12-06 21:09] msbemba commented on #7031
@lemondave Thank you for your feedback. This is more of a support request and needs to be handled by our Support team. Please open a support ticket via the need help section on the admin center.

Thanks
Sri

[2021-12-06 21:14] msbemba commented on #7034
@nikki-c Thank you for your feedback. I have added the document to related topics via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7097

Thanks
Sri

[2021-12-06 21:19] lemondave commented on #7031
I already have. They seem stumped. As there are two of us reporting the
issue, it would be nice to have a troubleshooting section added.

On Mon, Dec 6, 2021, 4:09 PM Sriraman M S ***@***.***> wrote:

[2021-12-06 21:20] msbemba commented on #7047
@michaelomm Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7098

Thanks
Sri

[2021-12-06 21:22] msbemba commented on #7050
@KareemAve Thank you for your feedback. Since this is a support request, I recommend you contact Microsoft support via the need help section on the M365 admin center.

Thanks
Sri

[2021-12-06 21:26] msbemba commented on #7051
@JMTrupp Thank you for your feedback. I have added an important note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7099

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-06 21:29] msbemba commented on #7031
@lemondave Thank you for the response. I can confirm that the steps are accurate, so I'd have them report this as a bug to the product group or escalate within the team to provide a resolution. After the support team resolves, if there are changes that you had to make, please let us know so that can be documented.

Hope this helps!

Thanks
Sri

[2021-12-06 21:31] msbemba commented on #7060
@fajr365 Thank you for your feedback. That is a good idea and I'd recommend you to post it on our product feedback portal where the product group can look into it and provide you an update when they implement the idea.

Hope this helps!

Thanks
Sri

[2021-12-06 21:35] msbemba commented on #7061
@lccctemp Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7100

Thanks
Sri

[2021-12-06 21:46] msbemba commented on #7066
@lccctemp Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7101

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-06 21:56] msbemba commented on #7069
@DanyHebert Thank you for your feedback. This document pertains to Centralized deployment and it is available on all M365 tenants. Whereas for Get-addins we are not sure if this is available on GCC tenants. I recommend you leave feedback
 here - https://feedbackportal.microsoft.com. The feedback is routed to the appropriate team who can confirm and update you accordingly.

Hope this helps!

Thanks

[2021-12-06 22:02] msbemba commented on #7087
@kahosoka Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7102

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-06 22:09] msbemba commented on #7019
@CallumCrowley I have added this to our documentation via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7103

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-06 22:24] msbemba commented on #7004
@Smithenstein Thank you for your feedback. For Vidoe changes, I have routed this to the author. The steps on the page have been updated via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7104

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-06 22:41] KCCross commented on #6531
Looking for the right internal owner for this.

[2021-12-06 22:42] KCCross commented on #6487
Cmdlet instruction updated. Thx for the feedback!

[2021-12-06 22:42] #6487 closed

[2021-12-06 22:44] KCCross commented on #4453
This issue has been forwarded over to the dynamics team for resolution.

[2021-12-06 23:25] KCCross commented on #4572
This is under review.

[2021-12-06 23:28] KCCross commented on #4754
@msbemba can you please take a look and see where we're at with this one? I've merged the PR. Please continue to test. Closing this comment in the meantime.

[2021-12-06 23:28] #4754 closed

[2021-12-06 23:42] KCCross commented on #6353
Thank you for bringing this to my attention. I'm working with the owner of the relevant articles to clarify the steps you need to take.

[2021-12-06 23:51] KCCross commented on #6353
The note in the Azure article states "The content in this article is provided to support customers with extended support only. All current Azure Information Protection classic client customers must migrate to the Microsoft Information Protection unified labeling platform and upgrade to the unified labeling client. Learn more in our migration blog." However, the powershell equivalents are supported

[2021-12-07 04:15] peyman opened #7107 "Regarding the permission requirements"
The article mentions that you must have "manage security settings" permissions to create labs. This does not match any of the azure admin permissions. I am not if it's a mistake or if I am not looking in the right place for permission sets. Could you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 302ee7

[2021-12-07 08:39] andrePKI opened #7108 "What permission for e.g. Audit tab?"
I would like to see a reverse list: what permissions are required to see the several menu entries and associated blades.
E.g. what permission/role do I need to see the Audit menu item and blade?
(Yes, I know I can find it [here](https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#before-you-search-the-audit-log), but that is

[2021-12-07 10:41] yogkumgit commented on #7062
@msbemba Thank you very much for the contribution and updating the documentation with PR. @anwarmahmood1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 10:43] yogkumgit commented on #7018
@msbemba please review.

[2021-12-07 10:53] yogkumgit commented on #6847
@DulceMontemayor , please answer,

[2021-12-07 10:56] yogkumgit commented on #7031
@msbemba Thank you very much for the contribution and sharing this explanation. @lemondave Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 10:57] #7031 closed

[2021-12-07 11:05] yogkumgit commented on #7050
@msbemba  Thank you very much for the contribution and sharing this explanation. @KareemAve
Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2021-12-07 11:05] #7050 closed

[2021-12-07 11:11] yogkumgit commented on #7060
@fajr365  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-12-07 11:11] #7060 closed

[2021-12-07 11:20] yogkumgit commented on #7017
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ChristopheLux Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 11:20] #7017 closed

[2021-12-07 11:23] yogkumgit commented on #7069
@DanyHebert  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-12-07 11:23] #7069 closed

[2021-12-07 11:30] CallumCrowley commented on #7019
@msbemba is there any information regarding which view will be set as the default? For example, if 5 different content types are pushed to a library which corresponding view would be set as the default view?

[2021-12-07 11:44] yogkumgit commented on #6433
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mohanse Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 11:44] #6433 closed

[2021-12-07 11:48] yogkumgit commented on #5717
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SeanTGeoghegan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 11:48] #5717 closed

[2021-12-07 12:00] yogkumgit commented on #5217
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ccwb-102 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 12:12] yogkumgit commented on #4453
@KCCross Can we assign this to the dynamics team member here in Github, it will help us in tracking. Thanks

[2021-12-07 12:18] yogkumgit commented on #6353
@W0GER Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 12:18] #6353 closed

[2021-12-07 12:57] msbemba commented on #7019
@CallumCrowley  I had the same question and posted this to the author and PG. I'll provide you with an update as soon as I receive one.

Thanks
Sri

[2021-12-07 13:01] msbemba commented on #7018
@gaborvar Thank you for your feedback. I see the correct link in the article as well

![image](https://user-images.githubusercontent.com/45987684/145033834-5747786d-7001-4c5c-b9c3-2ce84edadc4f.png)

Could you please point me to the links which are redirecting or incorrect?

Thanks
Sri

[2021-12-07 14:19] gaborvar commented on #7018
The link in your screenshot is correct. It points to the page that replaced the OST.
However, under the first item in the FAQ there are two other occurrences of links that used to point to the OST which are now broken:
"In the Microsoft Online Services Terms, Microsoft makes contractual commitments regarding customer data/your data. We refer to core customer data as the customer data that is commi

[2021-12-07 16:28] Mlavieri opened #7112 "Type in step 2.2 for connect-azaccount"
Typo in PowerShell for step 2.2. Reads 'Connect-azacount' - needs to be Connect-azaccount' with 2 c's

https://docs.microsoft.com/en-us/microsoft-365/admin/services-in-china/parity-between-azure-information-protection?view=o365-21vianet#step-2-add-the-microsoft-information-protection-sync-service-service-principal
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-12-07 16:30] Matthewchalkwood opened #7113 "Reading this manual and don't know how notice templates are applied to users"
have been going through this manual for insider risk management notice templates and I don't understand how the notice templates are applied to people.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 669b588b-868b-742e-0ceb-dbbd3cadee92
* Version Independent ID: 44df5253-a1b9-0d1e-c3a5-f5b2699003c9
* Content: [Insider r

[2021-12-07 16:41] karimzaki opened #7114 "Does enabling modern authentication create a policy in exchange"
Details aren’t clear
When enabling modern authentication is it creating policy for exchange online? How many hours to be applied.
Why users are prompted for adding user and password and what impact on auto discovery

[2021-12-07 16:45] karimzaki opened #7115 "Details missing about autodiscover behavior"
[What will happen to exchange online authentication policy will it be enabled]
What will happened to outlook autodiscover it asks for user and password

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be1e6c9a-9644-6d86-3962-d36bf1efd656
* Version Independent ID: 96142d6c-71de-6ea9-0361-dbec82647b15
* Content: [Set up mu

[2021-12-07 16:48] v-nathanc opened #7116 "Bring back bank account list for EFT payments"
Hi team,

There used to be a link under "Where do I send my check or EFT payment?" that customers could use to find out which Microsoft bank account to send their EFT to. This was incredibly helpful for customers who have switched to invoice pay and can't wait for a new invoice to be generated. It was also useful for customers who are looking to pay a written off balance and typically pay by card.

[2021-12-07 17:30] mdlister opened #7118 "Documentation incorrect?"
The statement:

This section is missing the United Kingdom?
after requesting data to be moved to the UK, email contents would reside in the UK datacenters would that also apply to EOP?

https://docs.microsoft.com/microsoft-365/enterprise/request-your-data-move

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8878304-7f4

[2021-12-07 17:46] CallumCrowley commented on #7019
Thanks @msbemba, the more information regarding the automatically created views the better. Some end users would prefer them not be created at all so understanding their purpose may help.

[2021-12-07 18:16] eproclkpp opened #7119 "Microsoft"

[2021-12-07 19:37] #7112 closed

[2021-12-07 19:40] denisebmsft commented on #7114
Hello @karimzaki. Can you please tell us to which article(s) your feedback applies? This information will help us route the issue to the correct writer/team.

[2021-12-07 19:42] #7119 closed

[2021-12-07 20:04] SanguptaMSFT opened #7121 "Need Document update"
We need documents to have information from below google article or should atleast point to this article:

https://firebase.google.com/docs/cloud-messaging/concept-options#messaging-ports-and-your-firewall

This is based on internal engineering escalation. please reach out to me for more details about the escalation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-12-07 20:42] KCCross commented on #4453
No, the doc lives with me. I addressed this issue from the private repo after consult with the Dynamics writing team.

[2021-12-07 20:42] #4453 closed

[2021-12-07 23:18] DuncanClay opened #7123 "Services and URLs list is incomplete"
I allowed the listed URLs through our firewall, but Defender/MAPS could not connect to the cloud service.
"%ProgramFiles%\Windows Defender\MpCmdRun.exe" -ValidateMapsConnection failed with hr = 0x800705B4

Based on the output of the MDE Client Analyzer, I needed to add the following URLs (will vary by region):

EDRCloud CnC
winatp-gw-weu.microsoft.com
winatp-gw-neu.microsoft.com

EDRCloud Cyber
eu

[2021-12-08 01:21] BikerAdmin opened #7125 "FQDN Not Allowed"
This article states that you can use an FQDN in the "Files and folders to exclude from Attack Surface Reduction rules," and you cannot.  When trying to add FQDN in the SCCM console, I get an error.  It will only accept paths with drive letters, which is proving to be problematic in our environment, as we use DFS and file servers.  I can add our H:\ drives to the list, but for admin accounts that d

[2021-12-08 02:29] albertv-devpro opened #7126 "review this page"
[Enter feedback here]
This rule for implementation is found in exchange admin center under advanced threat.
please can you update the method on how to implement this, it took me time to figure this out.

best regards,
v.albert

[2021-12-08 05:40] yogkumgit commented on #7126
@albertv-devpro Please indicate which page you are referring to. Thanks

[2021-12-08 05:45] yogkumgit commented on #7019
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CallumCrowley Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-08 05:49] yogkumgit commented on #7034
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-08 05:49] #7034 closed

[2021-12-08 05:51] yogkumgit commented on #7018
@msbemba

[2021-12-08 06:00] yogkumgit commented on #6950
@msbemba Thank you very much for the contribution and updating the documentation with PR. @zbraiterman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-08 06:00] #6950 closed

[2021-12-08 08:33] msbemba commented on #7093
@dkotars Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7127

Thanks
Sri

[2021-12-08 09:00] msbemba commented on #7018
@gaborvar Thank you for the response. I have fixed those two links as well via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7128

Thanks
Sri

[2021-12-08 09:18] ChristianJBergstrom opened #7129 "Get-DlpCompliancePolicy add -DistributionDetail"
[I've just been using this and the screenshot nr 2 here https://docs.microsoft.com/en-us/microsoft-365/compliance/create-test-tune-dlp-policy?view=o365-worldwide#turn-on-a-dlp-policy needs to be updated.

This line will not present the correct DistributionStatus: Get-DlpCompliancePolicy "policy" | select distributionstatus

But when adding -DistributionDetail it will

Get-DlpCompliancePolicy "poli

[2021-12-08 11:17] CallumCrowley commented on #7019
@yogkumgit this is still an issue unfortunately. The update does not include any information on which view gets set to the default view when multiple views are automatically created in a library. @msbemba has mentioned this in the comments.

Please reopen this issue since the documentation does not provide enough clarity on the automatically created views in general.

[2021-12-08 11:17] alistairl opened #7131 "Heading in image is hard to see in dark themed browser"
The heading for the image https://docs.microsoft.com/en-us/microsoft-365/media/edmclassification.png?view=o365-worldwide is included in the image, meaning that it almost disappears in a dark theme browser (E.g. Edge Chromium) as the transparent background changes with the theme but the heading remains as black.

Suggest the heading is moved to the page content so it adapts with browser theming.

-

[2021-12-08 12:09] kennethvs opened #7132 "Please mention that onboarding can be automatically done when MDE is deployed"
[Enter feedback here]
If MDE is already configured, you have the option to "Turn on device onboarding" - and then the custom OMA URI is not needed, and probably this is nevery needed since we now have the "Microsoft Defender for Endpoint" configuration profile.

/Kenneth

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f

[2021-12-08 16:04] neymars commented on #7063
You may want to take the same approach taken on this webpage:
https://docs.microsoft.com/en-us/microsoftteams/direct-routing-plan#public-trusted-certificate-for-the-sbc
`Direct Routing SIP interface will only trust certificates that are signed by Certificate Authorities (CAs) that are part of the Microsoft Trusted Root Certificate Program. Make sure that your SBC certificate is signed by a CA that

[2021-12-08 17:52] fixx-er opened #7133 "New-OMEConfiguration should inform others"
[Enter feedback here]
New-OMEConfiguration -Identity "Custom branding template" does not indicate in any known documentation that an E5 subscriptions is needed.  All other commands work in this document, but New-OMEConfiguration does not.
thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b04de3d3-6a94-29f8-3a3d-

[2021-12-08 18:00] JohnAWasco opened #7134 "For a section called "Manage email and calendars" .. *where are the calendars?*"
[Enter feedback here]

Literally the title of the section is "Manage email and calendars" but .. there's *NADA* *BUPKIS* *ZILCH* *ZIP* *ZERO* about managing calendars here.

This is .. disappointing .. as I have a user on temporary leave and need to reassign their calendars .. not "convert to office365" (already did that) or "assign another user access to their mailbox" (because managing calendars

[2021-12-08 18:55] chrisda commented on #7118
@mdlister, checking.

[2021-12-09 06:05] yogkumgit commented on #7121
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2021-12-09 06:06] yogkumgit commented on #7123
@denisebmsft Please help us in resolving this issue. Thanks

[2021-12-09 06:08] yogkumgit commented on #7125
@jweston-1 Please help us in resolving this issue. Thanks

[2021-12-09 06:18] yogkumgit commented on #7019
@msbemba Please review

[2021-12-09 11:28] obhayes opened #7137 "How Applied Column"
Could you include some extra information please for the  "How Applied" column is populated / possible values in the data classification screen. I have seen several different values here that range from "None, default, recommend, auto" It would seem that if you use the unified labelling client (right click in windows explorer->classify and protect) it seems to use the value of "None", which I think

[2021-12-09 15:43] jweston-1 commented on #7125
I must engage the product team for this issue. It might be a little while before they can respond.

[2021-12-09 16:39] kelleyvice-msft commented on #7121
I'll discuss this with the endpoints PM.

[2021-12-09 16:49] kelleyvice-msft commented on #4091
After investigation, I found that the current Microsoft 365 CDN does not in fact support executables. You can, if you like, configure a custom Azure CDN to accomplish this; see https://docs.microsoft.com/en-us/azure/cdn/ for details. I am revising our content to correct this mistake and clarify the supported file types and limitations. I apologize for the confusion, and I hope this adequately reso

[2021-12-09 16:49] #4091 closed

[2021-12-09 16:54] kelleyvice-msft commented on #6117
I've discussed this with the PM, and you are entirely correct. I will revise the diagrams and other guidance to reflect this. Thanks, @kefujino!
Kelley

[2021-12-09 16:54] #6117 closed

[2021-12-09 16:57] kelleyvice-msft commented on #7063
@neymars, thanks for reaching out. I'm discussing this with PKI stakeholders. I'll reply to this issue when I have more information to share.

[2021-12-09 18:12] JohnGGeo opened #7140 "SIP Gateway adds UDP ports"
Additional UDP ports have been added as part of the Teams SIP Gateway.
https://docs.microsoft.com/en-us/microsoftteams/sip-gateway-configure
Now mentions 49,152-53,247 vs in this document  it only starts at 50,000
This is also obvious in more than just SIP gateways as we are seeing it in some calls.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-12-09 19:51] SanguptaMSFT commented on #7121
@kelleyvice-msft there is an internal discussion thread going on with Engineering. let me know if you want me to add.

[2021-12-09 20:14] SanguptaMSFT commented on #7121
done. Thanks,

[2021-12-09 21:58] brettsec opened #7143 "Content Search via Msg IDs"
It would be helpful to conduct a Content Search for specific Msg IDs.

Workflow starts with an audit log search. The unique data point provided in an Audit Log is the message ID. To my knowledge, I can't use Message ID directly to search for messages within content search and / or eDiscovery.

[2021-12-09 23:47] denisebmsft commented on #4968
Hi @yogkumgit. The correct writer to help with this is @KCCross

[2021-12-10 06:49] msbemba commented on #7019
@yogkumgit  I have emailed the author and will provide an update once I have more information.

Thanks
Sri

[2021-12-10 07:53] zaicnupagadi opened #7145 "Seems antiphish policies do not work when applied to groups."
Hi,

I've created am antiphish policy that is applied to some users and groups, the problem if users that are in the groups, they do not have for instance the "first contact safety tip", when they are added individually - all is good, so seems that there might be a problem with applying policies on people in groups. Could you please test this thing out at your end?

Kind regards,
Paweł Jarosz

---

[2021-12-10 08:03] RichardvanNuland opened #7147 "Win10/11 Multi-Session Support - Clarification required"
Please clarify in this article the support for Windows 10/11 multi-session.

As mentioned in the below article Win10/11 multi-session should be considered a separate OS edition, so it should be made clear what scenario's are and aren't support for multi-session.

https://docs.microsoft.com/en-us/mem/intune/fundamentals/azure-virtual-desktop-multi-session

[Enter feedback here]

---
#### Document D

[2021-12-10 09:29] msbemba commented on #7116
@v-nathanc Thank you for your feedback. This was recently removed by the author, I'm checking for the exact reasons behind that and will update you shortly.

Thanks
Sri

[2021-12-10 09:37] msbemba commented on #7092
@myfope Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7148

Thanks
Sri

[2021-12-10 09:49] msbemba commented on #7094
@import-au Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7094

Thanks
Sri

[2021-12-10 10:29] yogkumgit commented on #7143
@brettsec Please indicate, which document you are referring to. Thanks

[2021-12-10 10:33] yogkumgit commented on #7019
@MikePlumleyMSFT Email sent on 10 Dec with query.

[2021-12-10 10:34] yogkumgit commented on #7116
@cmcatee-MSFT email sent on 10 Dec with query.

[2021-12-10 10:56] Wazza22 commented on #7031
Morning - I am experiencing the same issue for myself and 2 other colleagues. I have raised the query with support too who are unable to find an answer. I have M365E5 licences. We experience the same issue when using Outlook client and Outlook Web.

[2021-12-10 15:25] jorge-at123 opened #7152 "DLP Alerts retention"
This document and probably others (or a FAQ page) should have information about how long DLP alerts remain available in the Portal.
This type of information is often asked by customers.

I could not find this information anywhere and needed to open a support case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4e9f547

[2021-12-10 16:04] Dansimp commented on #5739
@dreadn0ught you are absolutely right. I am revising the into paragraph now. Thank you for your contributions.

[2021-12-10 16:05] Dansimp commented on #5739
@yogkumgit this fix will be live later today.

[2021-12-10 16:06] dreadn0ught commented on #5739
You guys are heroes! Thanks for fixing this :)

[2021-12-10 16:09] JohnGGeo commented on #7140
I guess I want to add on that it'd be nice to see these ports accross additional documentation such as https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls?view=o365-worldwide
as the ports are mentioned in direct routing, https://docs.microsoft.com/en-us/MicrosoftTeams/direct-routing-plan#port-range-applicable-to-all-environments we're also seeing a

[2021-12-10 16:20] Dansimp commented on #3746
This is a docs feedback issues, and we can't support product bugs or roadmap items. I will note that Defender for Identity are integrating into Microsoft 365 Defender, so identity-based alerts should be showing up in the portal now, provided you have the appropriate product license. Thank you.

[2021-12-10 16:20] #3746 closed

[2021-12-10 17:31] v-nathanc commented on #7116
Thanks Sri. I look forward to hearing from you.

[2021-12-11 00:06] #5938 closed

[2021-12-11 00:07] #6192 closed

[2021-12-11 00:07] #6464 closed

[2021-12-11 00:09] #6507 closed

[2021-12-11 00:12] #7131 closed

[2021-12-11 21:39] absheh opened #7157 "Add the Getfile timeout details"
[Enter feedback here]
To add the details for Getfile command timeout, as the Getfile also have the same timeout of 30 minutes and while the command is running it is considered as a inactive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81b2a4c2-e698-dda0-9919-80ca2d05b358
* Version Independent ID: 19b5f609-fcaa-cb5b-9

[2021-12-13 00:38] nmistry77 opened #7159 "Preservation Hold One drive sites."
[Enter feedback here]
How do you identify a one drive sites on preservation hold?
OR
What is the attribute which uniquely identifies one drive sites with preservation hold?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36b54827-f642-4c77-7cfe-64e8c2a1d1d9
* Version Independent ID: 67dffecf-4da7-864d-5c10-9b55740f32cd

[2021-12-13 01:18] cabailey commented on #7159
I’m not aware of a site attribute you could use and as this page states, the Preservation Hold library isn’t created until needed.  However, you can use Policy lookup (https://docs.microsoft.com/en-us/microsoft-365/compliance/retention#policy-lookup) to confirm whether a OneDrive site has a retention policy assigned to it, and then check the policy configuration.  If the retention actions include

[2021-12-13 05:03] yogkumgit commented on #5739
@dreadn0ught Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-13 05:03] #5739 closed

[2021-12-13 05:07] yogkumgit commented on #6841
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ShawnHag Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-13 05:37] yogkumgit commented on #7084
@ananalek We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2021-12-13 05:37] #7084 closed

[2021-12-13 05:39] yogkumgit commented on #7114
@karimzaki We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-12-13 05:39] #7114 closed

[2021-12-13 05:41] yogkumgit commented on #7126
@albertv-devpro We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2021-12-13 05:41] #7126 closed

[2021-12-13 05:45] yogkumgit commented on #7159
@nmistry77 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-13 05:45] #7159 closed

[2021-12-13 06:01] #7062 closed

[2021-12-13 06:39] nmistry77 commented on #7159
No it did not provide me information I was looking for.

[2021-12-13 07:22] msbemba commented on #7116
@v-nathanc I have got confirmation from the author that those details which were removed are no longer relevant.
They should consult their invoice for payment information. If they are a credit card customer who needs to make a one-time payment via check or EFT, then they must contact billing support.

Hope this helps!

Thanks
Sri

[2021-12-13 15:46] cabailey commented on #7159
@nmistry77  Can you describe what business problem are you trying to solve?

[2021-12-13 19:43] matttheba opened #7161 "Licensing cost is not shown"
Despite this being the licensing page, I cannot find pricing anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 998f446c-aacf-4d7c-fdc0-fc5c5073d20e
* Version Independent ID: 587f92c0-7f44-6ebf-1fac-403b84722969
* Content: [Licensing for SharePoint Syntex](https://docs.microsoft.com/en-us/microsoft-365/contentund

[2021-12-14 02:18] nmistry77 commented on #7159
Working on T2T migration and customer has requested to migrate PHL OD4B data as well. MS should provide a simple p$ command to find all one drive sites which are enabled for preservation hold just like inactive mailboxes in exchange. workaround for OD4B is tedious when you have duplicates etc.

[2021-12-14 05:13] yogkumgit commented on #7116
@msbemba Thank you very much for the contribution and sharing this explanation. @v-nathanc Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-14 05:13] #7116 closed

[2021-12-14 05:30] msbemba commented on #7107
@peyman  Thank you for your feedback. Under permission options in https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/user-roles?view=o365-worldwide#permission-options you have
Manage portal system settings - Configure storage settings, SIEM and threat intel API settings (applies globally), advanced settings, automated file uploads, roles, and device groups

You can login to

[2021-12-14 05:31] yogkumgit commented on #7093
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dkotars Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-14 05:31] #7093 closed

[2021-12-14 05:40] msbemba commented on #7113
@Matthewchalkwood Thank you for your feedback. This document pertains to the Creation of notice templates (To notify the sender of a violation, you can set up a template to be used to provide an approved and crafted message to the user).

Once you see alerts in the dashboard, you can take the below actions

Actions explained:

Resolve: if the item is not questionable or non-compliant, you would re

[2021-12-14 05:44] msbemba commented on #7115
@karimzaki Thank you for your feedback. Is your question more on how to enable Modern auth?. If yes, We have that coming in the next document in the list -https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/enable-modern-authentication?view=o365-worldwide

Hope this helps!

Thanks
Sri

[2021-12-14 06:38] msbemba commented on #7040
@HarrisburgUSysAdmin Thank you for your feedback. I'm currently testing this and will update the document once I have more information.

Thanks
Sri

[2021-12-14 06:39] msbemba commented on #7038
@technonath Thank you for your feedback. I'm currently testing this to see if this is a bug in your tenant or by design.  I'll update you shortly.

Thanks
Sri

[2021-12-14 06:41] msbemba commented on #6990
@jotheman0303 Thank you for your feedback. I'm currently collecting more information on the ADMX files and will update the document shortly.

Thanks
Sri

[2021-12-14 06:44] msbemba commented on #7067
@lccctemp Thank you for your feedback. Yes, You are correct. It is Security Intelligence Updates instead of Signature Updates. I'll get the document updated.

Thanks
Sri

[2021-12-14 06:48] msbemba commented on #7019
@CallumCrowley We have recieved the below update from the author/PG. I'll update the document accordingly.

When content types are pushed to the hub, we do create a new view for the content type and set it as the default view in the libraries it is pushed to. If there are multiple content types pushed to the same library, then the latest one (based on the order of the user’s action of pushing thos

[2021-12-14 07:52] technonath commented on #7038
Thank you, just to be clear it was when editing the office documents from
the same sharepoint location that has been synchronized with onedrive.

On Tue, 14 Dec 2021, 06:39 Sriraman M S, ***@***.***> wrote:

[2021-12-14 09:40] MarekHalfar opened #7166 "Group Owners to add Guests - setting misbehaving or wrong description"
Hi, this group setting

does not behave as described when set to "Off":
![image](https://user-images.githubusercontent.com/61430916/145972152-2944ade8-7539-4b9f-9657-769e0973bab5.png)

In my tests the Group/Team owner cannot add ANY guest, even if such already exist in directory.

Is it wrong in the Doc or can some other setting have an effect on this? For example I have set

in Group.Unified AAD

[2021-12-14 13:55] Frankrebel opened #7169 "Page is talking about Android instead of iOS?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdb4c0c7-8f4d-df66-500d-f2d16e2fd85c
* Version Independent ID: 0031c46e-529e-f029-3509-ddf1174a220f
* Content: [Deploy Microsoft Defender for Endpoint on iOS features](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/ios-insta

[2021-12-14 14:48] Nicholas-Steel opened #7170 "Can't restore quarantined "Threat" files in Microsoft Defender Antivirus"
You can not restore a file from Quarantine if the file is treated as a "Threat". Restoration is only possible for Lesser issues like Unwanted Programs. Effectively once Windows Defender quarantines something as a Threat you lose the ability to restore the file and permanently lose access to the file... even if both you & Windows Defender know the file is not a threat to the health of you and your

[2021-12-14 15:13] Nicholas-Steel commented on #7170
Turns out I just needed to type the following in to an elevated Command Prompt window to resolve my issue. This does not resolve my concern that it's needlessly difficult to restore some types of threats instead of being equally easy regardless of threat type.

"%ProgramFiles%\Windows Defender\MpCmdRun.exe" -restore -all

[2021-12-14 15:36] chadwanderson opened #7171 "PowerShell Command missing value"
[Enter feedback here]
Your command examples for Disabling Sharing is missing the value "disable" at the end.

set-SPOSite https://dreampak.sharepoint.com -DisableCompanyWideSharingLinks disabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30458b2e-e1e3-842c-f817-53ed9fa9e05c
* Version Independent ID: 162dbe0c-8d15-8

[2021-12-14 15:37] zaicnupagadi commented on #7145
Actually it has issues for us even when person is added individually - I have applied policy to myself as well to one employee -  I got the additional disclaimer while he didn't. I got a case at MS opened as well - you can find more details there (with example emails):
‎[Case #:28795396] - Seems antiphish policies do not work when applied to groups
And today a second one when I've found out it has

[2021-12-14 16:22] SanguptaMSFT commented on #7121
@kelleyvice-msft any updates ?

[2021-12-14 16:48] npherson commented on #6531
Any luck finding an owner? I had 2 different internal escalation threads that have failed to get an answer. While we get that there are LOTs of encryption points in connecting to exchange and whatnot, my customer is specifically looking at the FIPS number for the encryption for the message itself that we are referring to by that column.

[2021-12-14 18:19] msbemba commented on #7040
@HarrisburgUSysAdmin I was able to get a response from submissions@messaging.microsoft.com. It looks something like this

![image](https://user-images.githubusercontent.com/45987684/146056774-cab45e40-0dcf-4026-aad3-2e0ea4ac2e5f.png)

If your users are not notified, I'd request you to contact support via the need help option in the admin center.

Thanks
Sri

[2021-12-14 19:09] linx-collin opened #7174 "I see the Anti-Malware in the Policies section"
Hi,

The document on this page says "In the Microsoft 365 Defender portal, go to Email & collaboration > Policies & rules > Threat policies > Anti-malware in the **Rules** section.", but when I look down the page I see an "Anti-malware" in the Policies section. Is this the actual "Anti-malware" the instructions are referring to or should I see another in the Rules section?

Thanks
Collin

---
####

[2021-12-14 20:17] ConradAT opened #7175 "Advisor Content is out of date"
The section at the top that talks about signing up as an advisor is out of date. Currently only CSPs can get Delegated Admin Privileges on customer tenants.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18e861ca-29ad-feea-ff80-3750bce4005f
* Version Independent ID: 9dd4e1a3-aca7-bea2-d050-cfd02aa04a54
* Content: [Dele

[2021-12-14 21:03] MicahFalde opened #7176 "Prerequisites"
It would be nice if there were prerequisite roles in this blog. i.e.
"In order to do this you must have one of the following roles:
Security Reader
Security Admin
Global Admin"

And whatever other roles are applicable.

It would also be nice to know if Defender RBAC roles affect this as well.  Do people who have been given read access to TVM in the portal have the ability to query Advanced Hunting

[2021-12-14 21:24] chrisda commented on #7174
@linx-collin, Anti-malware Policies is under Policies, not Rules. It was a simple copy/paste error that actually affected a bunch of other policy types in that topic, so I fixed them all.

Thanks for the feedback.

Closing

[2021-12-14 21:24] #7174 closed

[2021-12-14 22:29] peyman commented on #7107
Thanks Sri, makes sense. Thanks for clarifying.

[2021-12-14 22:29] #7107 closed

[2021-12-14 22:47] mjcaparas commented on #6295
Updating the topic to include this scenario.

[2021-12-14 22:47] #6295 closed

[2021-12-14 23:41] cabailey commented on #7159
@nmistry77  OK, so you don't need to know if a site has a retention policy applied, but if it has a Preservation Hold library - might not be the same thing!  Since this is more a SharePoint question than retention question, I'm making a few inquiries with SharePoint folks & will update here if I can find an answer that helps you.

[2021-12-15 02:02] nmistry77 commented on #7159
Thank you so much!

[2021-12-15 05:04] yogkumgit commented on #7176
@MicahFalde Please indicate which document you are referring to for this feedback. Thanks

[2021-12-15 05:14] yogkumgit commented on #7047
@msbemba Thank you very much for the contribution and updating the documentation with PR. @michaelomm Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-15 05:14] #7047 closed

[2021-12-15 06:22] bashramath opened #7179 "Broken link"
[Enter feedback here]The link pointing to "Start using your Office Add-in" seems to be broken.
The link pointing to "Start using your Office Add-in" seems to be broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61e46dd-c1ff-dfec-5e0e-9f2e7251a5c1
* Version Independent ID: 49f69fa9-33e8-373f-a7f9-26b828510fda
* Co

[2021-12-15 13:05] msbemba commented on #7095
@jerryabo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7180

Thanks
Sri

[2021-12-15 13:10] lightupdifire opened #7181 "Requirements for managing tamper protection in Intune"
Hello,

Please update this section, it is written:

<<Your organization uses Intune to manage devices. (Intune licenses are required; **Intune is included in Microsoft 365 E5**.)>>

But Intune is included in **Microsoft 365 E3** as well and I think in some others too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f31e

[2021-12-15 13:14] msbemba commented on #7067
@lccctemp Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7182

Thanks
Sri

[2021-12-15 13:41] rafi4242 opened #7183 "auto-claim"
Only global admins can access the auto-claim page and view reports. even licenses admin can't view this.

Also, auto-claim gives licenses even when accessing a sharepoint site, without ever using Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57d3c7ec-df48-1f82-8b07-283b5238fda4
* Version Independent ID: 89a7165

[2021-12-15 14:19] nb-ofs opened #7184 "MDATP or WDATP"
The instructions are inconsistent - https://security.microsoft.com/preferences2/onboarding says C:\test-WDATP-test
however
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/run-detection-test?view=o365-worldwide#verify-microsoft-defender-for-endpoint-onboarding-of-a-device-using-a-powershell-detection-test says C:\test-MDATP-test

which one is right? MDATP or WDATP

---
###

[2021-12-15 15:38] jotheman0303 opened #7185 "Missing a bit on checking settings"
There is a step "Select the Virus & threat protection tile (or the shield icon on the left menu bar) and then the Virus & threat protection settings label:" to validate whether Cloud-delivered protection and Automatic sample submission is on. You need to click "Manage Settings" to see those options, might want to add that.

In addition it can be very unclear for people managing via GPO that the MA

[2021-12-15 16:47] bsfinkel opened #7187 "Why Was Defender Scan Terminated?"
I received a Defender EventID 1002 during a full scan. All this documentation tells me is that the scan was terminated before it completed. I was not at the computer when the scan terminated, so I was not the one who terminated the scan. I want more information as to why the full Defender scan was terminated. This is Windows 10 professional 21H2 64-bit. Thanks.

In my previous (closed) posting on

[2021-12-15 18:33] jaredburnett opened #7189 "SafeSenders List for Automatically Downloading Images in ODA"
Hey Team,

It is physically impossible to automatically download images in Outlook Desktop by adding an email to SafeSenders via Mail Transport Rule. Would it be possible to get this article updated to state that it is only possible via PS? I can provide sources offline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c

[2021-12-15 22:13] chrfox commented on #6875
sending to engineering for script QA check

[2021-12-15 23:50] angelazhangmsft opened #7191 "Add exclusions for Microsoft Defender Antivirus in the Windows Security app steps outdated"
The steps at https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-security-center-antivirus?view=o365-worldwide#add-exclusions-for-microsoft-defender-antivirus-in-the-windows-security-app need to be fixed. (#3 should be Under Virus & threat protection settings, select Manage settings.

![image](https://user-images.githubusercontent.com/69016571/146282423-27c

[2021-12-16 00:05] chrfox commented on #6707
queried PG

[2021-12-16 00:40] chrfox commented on #5663
content updated

[2021-12-16 00:40] #5663 closed

[2021-12-16 02:00] richardkarras opened #7193 "The Office 365 Exchange Online API is depreciated and not visible. Please add updated instructions, or an approved workaround if the API is not available for step 15."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61c960c-f5c3-76f7-ac18-dfeaf30230e4
* Version Independent ID: 3dc607b2-869e-976f-80da-d73cfb1210e5
* Content: [Cross-tenant mailbox migration - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/cross-tenant-mailbox-m

[2021-12-16 03:57] jerryabo opened #7194 "Thanks, I think we want to also work in/breadcrumb the What's New guidance/details here as well please @msbemba https://docs.microsoft.com/en-us/mem/intune/fundamentals/whats-new#new-deployment-channel-setting-for-custom-device-configuration-profiles-on-macos-devices"
Thanks, I think we want to also work in/breadcrumb the What's New guidance/details here as well please @msbemba https://docs.microsoft.com/en-us/mem/intune/fundamentals/whats-new#new-deployment-channel-setting-for-custom-device-configuration-profiles-on-macos-devices

_Originally posted by @jerryabo in https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7180#issuecomment-994954542_

[2021-12-16 05:09] yogkumgit commented on #7143
@bratsche We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2021-12-16 05:09] #7143 closed

[2021-12-16 17:59] chrfox commented on #6707
confirmed with the PG that what is documented is correct.

[2021-12-16 17:59] #6707 closed

[2021-12-17 01:10] msbemba commented on #7134
@JohnAWasco Thank you for your feedback. When you assign full access to another user on a mailbox, it grants access to all folders in the mailbox (including calendar)

Mailbox permissions are used to grant access to an entire mailbox. Every folder within the mailbox, whether it be the Inbox, Calendar, or Contacts, allows the same level of access, when mailbox permissions are used. The access grant

[2021-12-17 01:17] msbemba commented on #7147
@RichardvanNuland Thank you for your feedback. I have made changes via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7200

Once the Author approves, the changes will be live.

Thanks
Sri

[2021-12-17 01:29] msbemba commented on #7161
@matttheba Thank you for your feedback. The license cost is not shown on the pages, instead, I have added the license overlink link to the document which provides more information about the cost based on the locale and/or currency.

This change can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7201

Thanks
Sri

[2021-12-17 01:35] msbemba commented on #7166
@MarekHalfar Thank you for your feedback. I'll test this and update the document if need be.

[2021-12-17 01:38] msbemba commented on #7169
@Frankrebel Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7202

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-17 01:41] msbemba commented on #7170
@Nicholas-Steel Thank you for your feedback. You are correct, there is no GUI button to solve this currently. I recommend you leave the feedback directly to the Product team via https://feedbackportal.microsoft.com so you can get updates or information on when this will be available.

Hope this helps!
Thanks
Sri

[2021-12-17 01:44] msbemba commented on #7171
@chadwanderson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7203

Thanks
Sri

[2021-12-17 01:46] msbemba commented on #7179
@bashramath Thank you for your feedback. The link is not a locale link (https://support.microsoft.com/office/82e665c4-6700-4b56-a3f3-ef5441996862) and it is working currently. If you are having problems with accessing the link from the document you can use the direct link posted above.

Thanks
Sri

[2021-12-17 01:50] msbemba commented on #7181
@lightupdifire Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7204

Thanks
Sri

[2021-12-17 01:53] msbemba commented on #7183
@rafi4242 Thank you for your feedback. I'm currently testing this feature for changes and will update the document if need be.

Thanks
Sri

[2021-12-17 01:59] msbemba commented on #7184
@nb-ofs Thank you for your feedback.  Originally launched as Windows Defender ATP, this Endpoint Detection and Response (EDR) product was renamed in 2019 as Microsoft Defender ATP. At Ignite 2020, we launched the Microsoft Defender for Cloud XDR suite and this EDR component was renamed Microsoft Defender for Endpoint.

The command at  https://security.microsoft.com/preferences2/onboarding needs to

[2021-12-17 02:02] msbemba commented on #7187
@bsfinkel Thank you for your feedback. To investigate and resolve your issue, we recommend you contact the support team so a dedicated engineer can work with you to identify and resolve the problem.

If you are Microsoft 365 Customer you get a tenant and the administrators have access to open a support ticket. If You are not a Microsoft 365 Customer, you can see the option https://support.microsof

[2021-12-17 02:06] msbemba commented on #7191
@angelazhangmsft Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7205

Thanks
Sri

[2021-12-17 02:11] msbemba commented on #7193
@richardkarras Thank you for your feedback. I tested the steps provided in the document and can locate the Exchange online API

![image](https://user-images.githubusercontent.com/45987684/146477341-cc28a349-6eab-4ae9-90a6-a95e5e691b54.png)

If you are still not able to view the API. I'd recommend you contact Microsoft support via the need help option in the admin center.

Thanks
Sri

[2021-12-17 02:21] msbemba commented on #7194
@jerryabo Thank you for your feedback. I had another PR open for the Same document and have committed changes to the same PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7180

Thanks
Sri

[2021-12-17 03:44] richardkarras commented on #7193
Thanks Sri.  I wasn't able to find it, but I now believe the issue is that
I hadn't provisioned the fresh Tenant with any Exchange Online licenses
before attempting to build the migration app.  Hopefully all goes well
after that.

Happy holidays,
Richard

On Thu., Dec. 16, 2021, 20:11 Sriraman M S, ***@***.***>
wrote:

[2021-12-17 11:17] yogkumgit commented on #7019
@msbemba Thank you very much for the contribution and updating the documentation with PR. @CallumCrowley Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-17 11:17] #7019 closed

[2021-12-17 11:26] yogkumgit commented on #7137
@chrfox Please help us in resolving this issue. Thanks

[2021-12-17 11:28] yogkumgit commented on #7140
@kelleyvice-msft Please help us in resolving this issue. Thanks.

[2021-12-17 11:32] yogkumgit commented on #7185
@denisebmsft Please help us in resolving this issue. Thanks

[2021-12-17 12:31] yogkumgit commented on #7152
@msbemba

[2021-12-17 12:33] yogkumgit commented on #7157
@msbemba

[2021-12-17 14:53] HarrisburgUSysAdmin opened #7210 "At the end of the retention period "do nothihg""
Question about the lack of documentation.
When configuring a retention policy you can set, [At the end of the retention period "Do Nothing"]. Isn't this the same thing as "retain items forever"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c49609d-3a62-b9be-24bf-f8fa6948d390
* Version Independent ID: df547c86-fbc7-4

[2021-12-18 00:42] cabailey commented on #7210
@HarrisburgUSysAdmin  No, it's actually the opposite. Retain forever means take steps to ensure the item is never permanently deleted (will always be returned in eDiscovery searches).  Whereas "do nothing" at the end of the retention period means no longer take steps to ensure the item isn't permanently deleted - in other words, the item can now be deleted by a user or system-initiated action & th

[2021-12-18 04:30] RAJU2529 commented on #7185
@denisebmsft . I will look into this issue and I will made adjustments to this article

[2021-12-18 04:37] RAJU2529 commented on #7179
@yogkumgit .  According to me, bracket should be removed, so that link will link for all users.
Without removing brackets , link is working fine

[2021-12-19 00:43] msbemba commented on #7129
@ChristianJBergstrom Thank you for your feedback. Both the cmdlets work the same way. Distribution status is available even when you run get-dlpcompliancepolicy

![image](https://user-images.githubusercontent.com/45987684/146659401-68286350-903f-4983-94e6-96a21ceb3b77.png)

Hope this helps!

Thanks
Sri

[2021-12-19 00:49] msbemba commented on #7132
@kennethvs Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7214

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-19 00:56] msbemba commented on #7133
@fixx-er Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7215

Thanks
Sri

[2021-12-19 01:00] msbemba commented on #7157
@absheh Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7216

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-19 01:09] msbemba commented on #7166
@MarekHalfar Thank you for your feedback. I have made the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7217

Thank you again for the feedback.

Thanks
Sri

[2021-12-19 01:16] msbemba commented on #7183
@rafi4242 Thank you for your feedback. You are correct, Only a Global admin is able to create or modify the policy. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7218

Regarding SharePoint, I do not see a roadmap item but will make changes once I receive confirmation.

Thanks
Sri

[2021-12-19 07:01] ChristianJBergstrom commented on #7129
@msbemba Perhaps I wasn't clear enough. It might look as they work the same and return the same value but that's not the case. I have policies which has been enabled with status "success" for a long time, but when using the former they are still showing status "pending". The actual DistributionStatus is only presented when adding -Distributiondetail.

Ex.
![image](https://user-images.githubusercon

[2021-12-19 18:38] bsfinkel commented on #7187
I prefer accessing any support group; via e-mail or the web, where I can clearly state my problem and then have the technical staff route my concern to the appropriate support personnel.  I went to the "contact us" URL and opened a chat session.  The first technician realized that I needed someone more advanced, so I was transferred to ... someone in Billing and Accounting.  I was then transferred

[2021-12-20 00:16] Lovygoogle commented on #6960
احاول إرجاع بعض الخدمات

[2021-12-20 04:18] yogkumgit commented on #7191
@msbemba Thank you very much for the contribution and updating the documentation with PR. @angelazhangmsft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 04:18] #7191 closed

[2021-12-20 04:21] yogkumgit commented on #7181
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lightupdifire Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 04:21] #7181 closed

[2021-12-20 04:23] yogkumgit commented on #7147
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RichardvanNuland Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 04:29] yogkumgit commented on #7179
@msbemba Please comment

[2021-12-20 04:32] yogkumgit commented on #7129
@msbemba

[2021-12-20 04:54] yogkumgit commented on #7152
@chrfox Please help us resolving this issue. Thanks. Email sent with details : 12-19-2021

[2021-12-20 04:59] yogkumgit commented on #7038
@chrfox Please help us in resolving this issue. Thanks/ Email sent with details: 12-19-2021

[2021-12-20 05:06] yogkumgit commented on #7184
@mjcaparas Please help us in resolving this issue. Thanks. Email sent with details : 20-12-2021

[2021-12-20 05:11] yogkumgit commented on #6990
@mjcaparas Please help us in resolving this issue. Thanks. Email sent with details : 20-12-2021

[2021-12-20 05:33] yogkumgit commented on #7134
@msbemba Thank you very much for the contribution and sharing this explanation. @JohnAWasco Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 05:33] #7134 closed

[2021-12-20 05:37] yogkumgit commented on #7170
@Nicholas-Steel  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-12-20 05:37] #7170 closed

[2021-12-20 05:43] #7187 closed

[2021-12-20 05:47] CyberTech859 opened #7220 "False Microsoft Invoice for Windows Defender Order"
I received a phishing email pretending to be from Microsoft. The email was intended to be an order confirmation / invoice for purchase of Microsoft Defender.

The recipient name is incorrect and does not match the email address. The email was sent from a @gmail.com account which Microsoft would never do.

A text file has been added for your review.

Thank you.
[Order Confirmation.txt](https://gith

[2021-12-20 05:47] yogkumgit commented on #7193
@msbemba Thank you very much for the contribution and sharing this explanation. @richardkarras Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 05:47] #7193 closed

[2021-12-20 05:49] yogkumgit commented on #7108
@msbemba Thank you very much for the contribution and sharing this explanation. @andrePKI Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 05:50] #7108 closed

[2021-12-20 05:52] yogkumgit commented on #7113
@msbemba Thank you very much for the contribution and sharing this explanation. @Matthewchalkwood Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 05:52] #7113 closed

[2021-12-20 05:54] yogkumgit commented on #7115
@msbemba Thank you very much for the contribution and sharing this explanation. @karimzaki Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 05:54] #7115 closed

[2021-12-20 05:57] yogkumgit commented on #7040
@msbemba Thank you very much for the contribution and sharing this explanation. @HarrisburgUSysAdmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-20 05:57] #7040 closed

[2021-12-20 06:00] RAJU2529 commented on #7220
@CyberTech859, Just now I séen txt document, email is definitely phishing mail, suspicious mail,

Don't response to that mail,  don't call to indicated customer care number.

[2021-12-20 06:25] msbemba commented on #7129
@ChristianJBergstrom Thank you for your feedback. Good Catch and I was able to repro the situation.

![image](https://user-images.githubusercontent.com/45987684/146720144-4cb34966-2e66-4885-acab-e5f27f705292.png)

I have created a PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7221 to reflect these changes.

[2021-12-20 07:02] RichardvanNuland commented on #7147
Hi,

Apologies, but I don't believe this update addresses the issue fully.

For example microsoft-365-docs/prevent-changes-to-security-settings-with-tamper-protection.md at public * MicrosoftDocs/microsoft-365-docs (github.com)<https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/security/defender-endpoint/prevent-changes-to-security-settings-with-tamper-protection.md#requ

[2021-12-20 09:05] ThijsLecomte opened #7222 "Dead link"
[Enter feedback here]
Link to  monthly rollup is dead

https://docs.microsoft.com/en-us/troubleshoot/windows-client/deployment/standard-terminology-software-updates.md#monthly-rollup

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77c40dd-e4d2-90f5-d70a-b0ee4b430136
* Version Independent ID: f0ec110b-7938-5e22-d39e-6de

[2021-12-20 13:37] HarrisburgUSysAdmin commented on #7040
@msbemba - Thank you very much.

[2021-12-20 14:19] mmangiante opened #7224 "Lack of word"
In the "Permission" section there is this period: "To access the Microsoft 365 Defender portal, users must one of the following", I think the correct version would be "To access the Microsoft 365 Defender portal, users must have one of the following".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05016400-436b-a954-38

[2021-12-20 14:37] Balamurugan-dot opened #7225 "Exchange online Retention policies and labels isn't yet moved to M365 Compliance center"
Our customer is seeing the below features as "Older" features in Exchange online MRM.

“An archive policy for archive mailboxes to automatically move emails from a user’s primary mailbox to their archive mailbox after a specified period of time. Eg: EAC uses a default retention tag to move all emails from primary mailbox to archive after 2yrs. The same ability when using retention tags within EAC

[2021-12-20 14:41] danchristmas opened #7226 "Impersonation settings in anti-phishing policies in Microsoft Defender for Office 365"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365?view=o365-worldwide#impersonation-settings-in-anti-phishing-policies-in-microsoft-defender-for-office-365

This article is misleading.

Is suggests for the **Standard** and **Strict** **Preset Security Policy** a list of users can be set for _TargetedUsersToProtect_
But the **Pres

[2021-12-20 14:44] curiousbwoy opened #7227 "Offboarding Issue using local script"
[Enter feedback here]
There is no enough supporting documents & steps available for offboarding information.
Also the checklist to verify whether the offboarding was successful or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f044e756-d5d8-5db6-edbb-f042b1b22b3c
* Version Independent ID: 5d016fa2-3407-e757-1595-1

[2021-12-20 16:46] vijaytdh opened #7229 "Configuration steps seem incomplete"
It is not particularly clear all the steps involved in setting this up, the documentation is slightly confusing:

* The documentation here briefly mentions an Azure AD App registration https://docs.microsoft.com/en-us/microsoft-365/security/defender/streaming-api-event-hub?view=o365-worldwide and permission - maybe this should link to this page which has more information https://docs.microsoft.com

[2021-12-20 17:09] telstar-dev opened #7230 "Confusing help"
[Enter feedback here]

This is not helpful. What does this even mean? That you don't know what your system will do in this case?

"If user enabled Focused Inbox at some point in the past:

Clutter settings will never appear

Otherwise,

Clutter settings will appear"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 122fb2

[2021-12-20 17:14] CarnegieJ opened #7231 "Addtional step to clarify how to reach subscription details page"
[Enter feedback here]

Please update Step 2 "On the Products tab, in the Software section, select the software that you want to download."

Suggestion:

Step 2: On the Products tab, click the download target hyperlinked product name to navigate to the subscription details page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-12-20 17:45] vboyev-MSFT opened #7232 "Where do these LABELS get set?"
The MDE portal mentions you need to create an MDMManaged Device Tag in MDE portal. This documentation does not reflect that - as an MDE device tag "MDEManaged" would allow the customer to select which devices get AAD Registered. This article reads as if the device automatically gets AAD registered and then a "LABEL" (MEM/AAD uses LABELS, MDE uses TAGS).

Confusing and clear as mud.

Please clarify

[2021-12-20 18:33] vboyev-MSFT commented on #7232
To be clear - Intune Group - would be Dynamic and the query would be either
(device.managementType -contains "MDEJoined") this would be the group we could target MEM automatic onboarding to - I suppose
or (device.managementType -contains "MDEManaged") - apply policy to.

So it looks as if -
1. Device appears as Can Be Onboarded in MDE portal
2. Tag device with MDE-Managed in MDE portal Device Tags

[2021-12-20 18:52] cabailey commented on #7225
@Balamurugan-dot  I'm not sure I understand the issue - the documentation lists MRM as an older technology than retention with M365 Compliance but states:

" ..if you use the following MRM features, be aware that they aren't currently supported by Microsoft 365 retention policies:

An archive policy for archive mailboxes to automatically move emails from a user's primary mailbox to their archive m

[2021-12-20 20:04] wperry1 opened #7233 "Clarification of Set-AuthServer DomainName value"
In the Set-AuthServer cmdlet below, is the Tenant Domain the mail domain, AD domain, xxx.onmicrosoft.com domain? It is also a multi-value field. Does it need more than one of the above?

Set-AuthServer -Identity "EvoSTS - {GUID}" -DomainName "Tenant Domain" -IsDefaultAuthorizationEndpoint $true

Thank you in advance for clarifying.

WP

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-12-20 20:40] StuBeck32 opened #7234 "Need example to disable self service of all products, and error on example"
I believe it would be very helpful to have an example on this page where one can disable self service for all product types.

I also ran the example script to disable products with a certain name like others, and I received the following error:

PS C:\WINDOWS\system32> $product = Get-MSCommerceProductPolicies -PolicyId AllowSelfServicePurchase | where {$_.ProductName -match 'Power Automate'}
PS C:

[2021-12-20 21:05] efrene commented on #6985
Corrected links.

[2021-12-20 21:35] itguysocal opened #7235 "Comparison Table Conflicts with Blog Announcement"
The blog announcement stated that Defender for Business was included in the Business Premium SKU
"Included as part of Microsoft 365 Business Premium, our comprehensive security and productivity solution that brings together Microsoft Teams and Office 365 with the essential security tools for small- and medium-sized businesses"
https://techcommunity.microsoft.com/t5/small-and-medium-business-blog/i

[2021-12-21 04:57] yogkumgit commented on #7147
@msbemba

[2021-12-21 04:59] yogkumgit commented on #6985
@MattITMan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-21 05:00] #6985 closed

[2021-12-21 08:25] roojs opened #7237 "Information is not correct"
Tried all of this - and still getting reject messages from multiple 365 hosted domains

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 390d461b-7fce-d4ac-1c90-97b7b81dc0c2
* Version Independent ID: 9f8c7285-627f-13c6-1c7a-88fa7e14ed86
* Content: [Remove yourself from the blocked senders list - Office 365](https://docs.m

[2021-12-21 09:08] JLangthaler opened #7238 "Documentation on Defender for Endpoint does not mention "Process Memory Indicators""
While Indicators are [well documented](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/manage-indicators?view=o365-worldwide), there is no mention whatsoever on Process Memory Indicators in the documentation. Since this feature is available in the M365 Defender Portal, there should be documentation.
![image](https://user-images.githubusercontent.com/22906534/146902835-9b0

[2021-12-21 09:11] patrickboeck commented on #7238
of course, more information needed how to deal with it

[2021-12-21 09:17] graser93 commented on #7238
would be also interesting for me!
please provide some documentation

[2021-12-21 10:39] MHCLV opened #7239 "There's A New Exchange Admin Center - Update Docs To Match"
This article is next to useless because this function has been removed from the old EAC and the document does not mention the new EAC, let alone how to actually get the tasks done.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f19511c-5a0f-9d5f-0779-79a9ad99938f
* Version Independent ID: 3b5130

[2021-12-21 11:43] Jmartinez589 opened #7240 "Attack Simulator trial question"
[There is this note:

Attack simulation training offers a subset of capabilities to E3 customers as a trial. The trial offering contains the ability to use a Credential Harvest payload and the ability to select 'ISA Phishing' or 'Mass Market Phishing' training experiences. No other capabilities are part of the E3 trial offering.

To this article, https://docs.microsoft.com/en-us/microsoft-365/secu

[2021-12-21 13:09] Amatziab opened #7241 "SIEM integration no longer available"
[Enter feedback here]
Hi,
This option is no longer available in the admin center.
![image](https://user-images.githubusercontent.com/48100745/146935332-f057094e-6415-495f-a266-9ece4f3279f0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e36bbd71-ef7b-e08f-d565-d2b1e8b9deed
* Version Independent ID: 60fad392-2d82-84

[2021-12-21 13:20] MattITMan commented on #6985
Yes. Thanks for fixing it. It is nice to see a company that will actually fix errors like this. Especially when it is information that I need. I hope you have a great day.

Matthew Tisdel

________________________________
From: Yogesh Kumar ***@***.***>
Sent: Tuesday, December 21, 2021 12:00 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: MattITMan ***@***.***>; Mention ***@***.***>
Subje

[2021-12-21 15:04] msbemba commented on #7224
@mmangiante Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7242

Thanks
Sri

[2021-12-21 15:17] michaelblumenthal opened #7243 "Don't overstate permissions needed"
The page currently says:
"To use the MSCommerce PowerShell module, you need:
- A Windows 10 device
- PowerShell 5 or below. Currently, PowerShell 6.x/7.x isn't supported with this module.
- Administrator permission for the device
- Global or Billing Admin role for your tenant"

However, you do NOT need Administrator permission for your device.  If you run the Install-Module cmdlet with the paramet

[2021-12-21 15:41] msbemba commented on #7231
@CarnegieJ Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7244

Thanks
Sri

[2021-12-21 18:07] efrene commented on #6985
@MattITMan Thanks for the kind note, and sorry for the delay in fixing this. Have a great day!

[2021-12-21 18:58] markjjo commented on #7239
@MHCLV This article has step-by-step instructions to enable archive mailbox in the M365 compliance center. Alternatively, you can enable archive mailboxes in the M365 admin center, the old EAC, the new EAC, and Exchange Online PowerShell. Regardless of which admin tool you use, the archive mailbox will be enabled. In the new EAC, go to Recipients > Mailboxes. Select a user. In the flyout page, und

[2021-12-21 18:58] #7239 closed

[2021-12-21 19:18] anwarmahmood1 opened #7245 "what happens when expirationTime passes?"
Is the indicator automatically deleted?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03d3a25-4ee0-0c3a-4fde-c6f9ef7a3773
* Version Independent ID: b08640a7-7e66-2653-bf3f-727fbb90709d
* Content: [Manage indicators](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/indic

[2021-12-21 19:20] anwarmahmood1 opened #7246 "IP address indicators have 'expirationTime'; https://security.microsoft.com/ shows date only, but API shows time down to millisecond. Does whatever happen at expiration time occur at the millisecond, or at the day?"
Is the indicator automatically deleted?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f03d3a25-4ee0-0c3a-4fde-c6f9ef7a3773
* Version Independent ID: b08640a7-7e66-2653-bf3f-727fbb90709d
* Content: [Manage indicators](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/indic

[2021-12-21 19:34] anwarmahmood1 commented on #7246
yes they are; at the second.

please add this to the documentation.

[2021-12-21 19:34] anwarmahmood1 commented on #7245
tested: the indicator is deleted.

please add this to the documentation

[2021-12-22 06:38] msbemba commented on #7147
@RichardvanNuland I have made some additional changes via PRhttps://github.com/MicrosoftDocs/microsoft-365-docs/pull/7248

Once the author verifies and approves, the changes will be live.

Thanks
Sri

[2021-12-22 06:43] msbemba commented on #7220
@CyberTech859 Thank you for your feedback. Use the Submissions portal to submit suspected spam, phish, URLs, and files to Microsoft https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/admin-submission?view=o365-worldwide

In cases when you are unsure about the authenticity, we recommend you to contact Microsoft support via the need help link on the admin center so a support

[2021-12-22 09:20] Balamurugan-dot commented on #7225
Thank you for you response Cabailey,

Customer basically requested us to correct the wording **‘Older features’** because it’s a mistake on the current article that needs to be corrected now. Once we bring these features into M365 compliance center, we can then use the term ‘old’.

Thanks!

[2021-12-22 09:20] Balamurugan-dot commented on #7225
Thank you for you response Cabailey,

Customer basically requested us to correct the wording ‘Older features’ because it’s a mistake on the current article that needs to be corrected now. Once we bring these features into M365 compliance center, we can then use the term ‘old’.

Thanks!

[2021-12-22 09:26] yogkumgit commented on #7224
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mmangiante Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-22 09:26] #7224 closed

[2021-12-22 15:41] kumaarrahul opened #7249 "Article needs update to remove Search by ID List feature"
Hi Team,

The article needs an update. The Search by ID list has been deprecated.

(Updated) Microsoft 365 Compliance Center Core eDiscovery - Search by ID list retirement
MC291088 · Published Oct 13, 2021 · Last updated Oct 13, 2021

Message Summary
Updated October 13, 2021: We have updated this message with additional details for clarity.

We will be retiring the option to Search by ID list, as

[2021-12-22 16:39] miss-tech opened #7250 "Missing operations from 'Audited Activities' section"
I have found that there are quite a few operations which are not included in the 'Audited Activities' section. In particular the Azure AD Application section is missing the following entries and descriptions for operations:

Consent to application.
Update service principal.
Add service principal credentials.
Add app role assignment grant to user.
Add owner to application.
Update application.
Updat

[2021-12-22 17:04] cabailey commented on #7225
@Balamurugan-dot   Thank you for your clarification from your customer.  MRM is an older solution for retaining and deleting emails than Microsoft 365 retention policies and retention labels. That's not an inaccurate comparative statement. The word "older" doesn't mean it's deprecated or unsupported, however - at least, not yet. We intentionally used the word "older" to signal to customers that no

[2021-12-22 17:14] alesteravo opened #7251 "Unexplained asterisks on products"
Under the section "View a list of self-service purchase products and their status" where the products are listed, the Project and Visio products have asterisks beside them. These aren't explained either in that section or at the bottom of the page. They should either be removed to avoid confusion, or a footnote should be added to explain what the asterisks are intended to denote.

---
#### Documen

[2021-12-23 05:51] msbemba commented on #7240
@Jmartinez589 Thank you for your feedback. All E3 customers will retain access to a trial version of the product which will include a smaller subset of capabilities (Credential Harvest payload and the ability to select 'ISA Phishing' or 'Mass Market Phishing' training experiences).

If you are still facing issues with access, We recommend you to contact Microsoft support via the need help link on

[2021-12-23 05:53] msbemba commented on #7237
@roojs Thank you for your feedback. It may take up to 24 hours or results can vary widely before restrictions are removed. If the issue still persists, I'd recommend you to contact Microsoft support via the need help link on the admin center.

Thanks
Sri

[2021-12-23 06:13] msbemba commented on #7241
@Amatziab Thank you for your feedback. We have added an important note that the feature is not supported effectively immediately. The document will be taken down or modified closer to the date. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7252

Thanks
Sri

[2021-12-23 06:20] msbemba commented on #7243
@michaelblumenthal Thank you for your feedback. It works on Windows 10 or later (no minimum build needed). We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7253

Thanks
Sri

[2021-12-23 06:23] msbemba commented on #7245
@anwarmahmood1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7254

Thanks
Sri

[2021-12-23 06:31] msbemba commented on #7246
@anwarmahmood1 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7254

Once the author approves the changes will be live.

Thanks
Sri

[2021-12-23 06:47] msbemba commented on #7226
@danchristmas Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7255

Once the author approves, the changes will be live.

Thanks
Sri

[2021-12-23 06:49] msbemba commented on #7230
@telstar-dev  Thank you for your feedback. If a user has enabled  Focused inbox even once in the past, the clutter settings will never appear. If they have not enabled it both clutter as well Focused inbox options will appear.

Hope this helps!

Thanks
Sri

[2021-12-23 06:57] msbemba commented on #7233
@wperry1 Thank you for your feedback. The Tenant domain is xxx.onmicrosoft.com for this document and it is a multivalued property as you can add multiple domains (in case if an exchange is in hybrid with multiple tenants).

Hope this helps!

Thanks
Sri

[2021-12-23 07:05] msbemba commented on #7234
@StuBeck32 Thank you for your feedback. The documents usually do not contain scripts and they need to be customized by the customer based on requirements.

In your case, I think the reason it fails is that there are multiple products. So I'd use for each to resolve it.

![image](https://user-images.githubusercontent.com/45987684/147201861-81590103-a6ac-4eb6-81a0-9777c970de98.png)

If this still do

[2021-12-23 07:14] msbemba commented on #7235
@itguysocal Thank you for your feedback. This article compares security features and capabilities in Defender for Business to Microsoft 365 Business Premium while Defender for Business is in preview. When Defender for Business becomes generally available, it will be included in Microsoft 365 Business Premium (which should have been mentioned in the blog).

Since we don't have access to the blog an

[2021-12-23 10:26] Balamurugan-dot commented on #7225
@cabailey - Thank you very much for the detailed explanation. One last ask.

Customer also mentioned about the below ability which is not achievable through M365 compliance center:

The same ability when using retention tags within EAC to manage individual mailbox folders (Not referring to Personal Tags)
		Eg Retention Tag: Delete mail from “Deleted Items” folder after 30 days or from “Junk Email”

[2021-12-23 12:30] yogkumgit commented on #7227
@mjcaparas Please help us in resolving this issue. Thanks

[2021-12-23 12:33] yogkumgit commented on #7229
@mjcaparas Please help us in resolving this issue. Thanks

[2021-12-23 12:35] yogkumgit commented on #7232
@mjcaparas Please help us in resolving this issue. Thanks

[2021-12-23 12:38] yogkumgit commented on #7238
@mjcaparas Please help us in resolving this issue. Thanks

[2021-12-23 14:14] StuBeck32 commented on #7234
Why can't this be added to the main document detailing how to disable this?

[2021-12-23 14:22] yvesrosius opened #7256 "Incorrect or incomplete documentation about pre-requisites for creating new import jobs."
Incorrect or incomplete documentation about pre-requisites for creating new import jobs.

Article states under **Before you import PST files** that a global administrator can create import jobs. This is not the case. A role still needs to be applied.

https://docs.microsoft.com/en-us/microsoft-365/compliance/use-network-upload-to-import-pst-files?view=o365-worldwide#before-you-import-pst-files

--

[2021-12-23 15:28] msbemba commented on #7234
@StuBeck32 Thank you for your feedback If there are multiple values for the product, you can run the command individually for each value as shown in the following example and that is what we recommend. Scripts are for advanced users and we do not know the number of values for product till they run it. Customer's can script every single cmdlet for custom requirements, but we refrain from adding cus

[2021-12-23 15:34] StuBeck32 commented on #7234
To clarify, the script in the original document does not work, which is what I reported on. You've given me a perfectly good script that does, but you can't add it to the document.

I'm not positive why the script given in the original document can not be resolved to one that does work, or why you can't add the one you sent earlier today to the main document. There are going to be many users who w

[2021-12-23 15:39] msbemba commented on #7234
@StuBeck32  The script in the document is for one product.  We have added a line now to  the document  stating if there are multiple  values for the product, You can run the command individually (this should clear the ambiguity)

![image](https://user-images.githubusercontent.com/45987684/147262082-e2d3f873-010f-4044-ac19-c773d3c55382.png)

Thanks
Sri

[2021-12-23 15:41] StuBeck32 commented on #7234
The example script which does not work is still there. It is under Example script to disable AllowSelfServicePurchase

[2021-12-23 15:44] msbemba commented on #7234
@StuBeck32 Thank you. I have made changes to that script to match a particular product instead of just power automate. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7257

Thanks
Sri

[2021-12-23 15:46] StuBeck32 commented on #7234
Thank you.

[2021-12-23 17:16] shekhar-jha opened #7258 "Add mail-enabled dynamic distribution group to page"
Would it be appropriate to add mail-enabled dynamic distribution groups to this page for completeness?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a37b2d3-f63b-a719-565b-a46f2b1f2e96
* Version Independent ID: e267656e-4bda-f03b-4d9c-d5149ec0a227
* Content: [Compare groups - Microsoft 365 admin](https://docs.microso

[2021-12-23 19:12] cabailey commented on #7225
@Balamurugan-dot   You are asking about the second bullet, the ability for an administrator to apply a policy for a specific folder rather than the whole mailbox?  I haven't heard whether there are plans for Microsoft 365 retention to support this in either the compliance center or PowerShell, and there could be a less compelling argument to do so if there are alternatives to achieve the same resu

[2021-12-23 22:25] imrananwar opened #7260 "Need More Details On Setting Up Cross Tenant Access For Teams Shared Channels"
Need More Details On Setting Up Cross Tenant Access For Teams Shared Channels

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 20f0db07-fbeb-7a8e-aa94-297b5f808216
* Version Independent ID: 0fec134e-c8a3-50ec-7094-31ca70cb42ba
* Content: [Microsoft 365 inter-tenant collaboration - Microsoft 365 Enterprise](https://docs.m

[2021-12-24 09:44] Balamurugan-dot commented on #7225
@cabailey - Makes sense, Thank you very much for your outputs. Really appreciate your time and let us know this outcomes. Merry Christmas and Happy New Year 2022!

[2021-12-24 14:32] MGamil-MSFT opened #7262 "This note need rephrase"
Password expiration notifications are no longer supported in the **Microsoft 365 admin center or any Office apps.**

When reading this note for the first time it mentioned Microsoft O365 Admin center which means that notifications are stopped for users with admin roles only that have access to O365 Admin portal and the rest of users will continue receieve notifications normally which is not correc

[2021-12-24 16:26] cabailey commented on #7225
@Balamurugan-dot   Seasons greetings to you, as well!  Closing this issue.

[2021-12-24 16:26] #7225 closed

[2021-12-27 05:53] yogkumgit commented on #7262
@MGamil-MSFT Please indicate which document you are referring to. Thanks

[2021-12-27 06:38] MGamil-MSFT commented on #7262
https://docs.microsoft.com/en-us/microsoft-365/admin/manage/set-password-expiration-policy?view=o365-worldwide
The above document under (Set password expiration policy)

[2021-12-27 07:18] Nicholas-Steel commented on #7170
Interesting, so when I went back to the folder containing the file and Windows Defender again picked it up and removed the file to quarantine but... this time I was given access to the 3 Actions and was able to Allow (restore) it via the Windows Defender UI (which presumably also adds an exception for it). So that's nice.

Unsure if this is just this particular infection that can be Allowed or if

[2021-12-27 14:05] bruceburge opened #7263 "Content out of date in multiple places,"
Content out of date in multiple places, the UI has significantly changed and many of the suggested paths are not accurate to the new menu.  Please review these paths and correct them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf5c5df-c3ab-8448-aef0-af05977db9b9
* Version Independent ID: adade895-f42b-1029-9948-5d

[2021-12-27 19:14] rconiv opened #7264 "Security & Compliance Center PowerShell Question"
Can a link be added to an article that shows how to load the Security and Compliance Center PowerShell?

Microsoft 365 retention policies
Run the following command in Security & Compliance Center PowerShell

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4119f918-a0b2-4bdc-535e-11d2c476f675
* Version Independent ID: 152

[2021-12-28 10:15] CharLind87 opened #7268 "Required license?"
Does the migration require M365 Business Premium licenses as the lowest license plan or is this just the chosen license for the guide?

[2021-12-28 15:00] ErNestB3 opened #7269 "Audit log verification"
This article is out of date regarding audit log verification. When will the update be? How can I verify the logs in the new Audit log center? https://compliance.microsoft.com/auditlogsearch

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4f52aa5-3876-1854-0fcc-279d694cb45d
* Version Independent ID: bfa3001d-e71a-705c-3

[2021-12-28 15:53] andreaseliasnts opened #7270 "german translation contains incorrect/misleading information"
Hello,

in the german version, in the table <what happens to existing encryption when a sensitivity label is applied to that content>, the english text "New label encryption is applied" is currently translated as "Es wird keine neue Verschlüsselung mit Bezeichnung angewendet". The meaning is really the opposite of the english text, please change to something like "Neue Verschlüsselung wird angewen

[2021-12-28 16:08] kotras opened #7271 "Miss leading RH versions supported"
The RH versions are not clear. Need or only to have RH 6.7 and higher, has we have for major versions. But if the purpose is to mention minor versions it should have also RH 8 and higher and RH9 and higher, since all are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 944b7b97-efbf-e83d-9330-a825d901819d
* Ve

[2021-12-28 18:50] denisebmsft commented on #7268
Hello @CharLind87. Can you tell us to which article(s) your feedback applies? This information will help us route the issue to the correct writer/team. Thank you!

[2021-12-28 20:03] markjjo commented on #7264
@rconiv Thanks for feedback. I added a link to help topic on connecting to SCC PowerShell in this retention policies section: https://docs.microsoft.com/en-us/microsoft-365/compliance/identify-a-hold-on-an-exchange-online-mailbox?view=o365-worldwide#microsoft-365-retention-policies

[2021-12-28 20:03] #7264 closed

[2021-12-28 20:13] markjjo commented on #7269
@ErNestB3 Thanks for feedback. We're working to update the article. In the mean time, you can run an audit log search and search for all activities, as per the current guidance. Then you can export those search results to a csv file, and then open in Excel. Here's how to export: https://docs.microsoft.com/en-us/microsoft-365/compliance/export-view-audit-log-records?view=o365-worldwide

Then you ca

[2021-12-28 20:13] #7269 closed

[2021-12-28 20:18] CharLind87 commented on #7268
Hi,
Sorry it's referring to this page: Switch from Google Workspace to Microsoft 365 for business | Microsoft Docs<https://docs.microsoft.com/en-us/microsoft-365/business-video/moveto-microsoft-365/move-from-google-workspace-overview?view=o365-worldwide>

From: Denise Vangel-MSFT ***@***.***>
Sent: den 28 december 2021 19:51
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Charlotte Lindberg

[2021-12-28 20:21] markjjo commented on #7256
@yvesrosius Thanks for feedback. The first bullet in the "Before you begin" section states that you need to be assigned the Mailbox Import Export role in Exchange Online. You also need to be assigned the Mail Recipients role in Exchange Online as well.

https://docs.microsoft.com/en-us/microsoft-365/compliance/use-network-upload-to-import-pst-files?view=o365-worldwide#before-you-import-pst-files

[2021-12-28 20:21] #7256 closed

[2021-12-28 20:49] markjjo commented on #7249
@kumaarrahul Thanks for heads up. The "Recommended Content" list at the bottom of this topic is auto-generated. I will retire/remove the search ID topic that it linked to and that should remove it from the list.

[2021-12-28 20:49] #7249 closed

[2021-12-28 22:38] dataCollegechurch opened #7272 "Recommended vs Configured Feature Values"
In comment column for this value: "Redirect attachment with detected attachments : Enable redirect". It indicates this "Note: This setting is not configured in the Standard, Strict, or Built-in protection preset security policies. The Standard and Strict values indicate our recommended values"

As noted in previous feedback this applies to the value "Enable users to protect (impersonated user prot

[2021-12-29 06:58] yogkumgit commented on #7270
@TinaMcN Please help us in resolving this issue. Thanks

[2021-12-29 07:22] yogkumgit commented on #7220
@msbemba Thank you very much for the contribution and sharing this explanation. @CyberTech859 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-29 07:22] #7220 closed

[2021-12-29 07:26] yogkumgit commented on #7230
@msbemba Thank you very much for the contribution and sharing this explanation. @telstar-dev Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-29 07:26] #7230 closed

[2021-12-29 07:27] yvesrosius commented on #7256
@markjjo Thanks for having a look at it.

Yes, this information is correct. However, the article states you don't need them if you are a global admin in the tenant.

[code]

[2021-12-29 07:28] yogkumgit commented on #7233
@msbemba Thank you very much for the contribution and sharing this explanation. @wperry1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-29 07:28] #7233 closed

[2021-12-29 07:30] yogkumgit commented on #7235
@msbemba Thank you very much for the contribution and sharing this explanation. @itguysocal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-29 07:30] #7235 closed

[2021-12-29 07:32] yogkumgit commented on #7237
@msbemba Thank you very much for the contribution and sharing this explanation. @roojs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-29 07:32] #7237 closed

[2021-12-29 07:34] yogkumgit commented on #7240
@msbemba Thank you very much for the contribution and sharing this explanation. @Jmartinez589 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-29 07:34] #7240 closed

[2021-12-29 08:43] RAJU2529 commented on #7251
Today I will try to add explanation

[2021-12-29 13:16] ErNestB3 commented on #7269
@markjjo Thanks for your comment. Viewing the log audit in a csv file is difficult. One day file is 85MB. Export of all activity results to csv file from 90 days is impossible to review. Is there another option for auditing this activity?

[2021-12-29 13:42] RAJU2529 commented on #7251
@yogkumgit, Please look in this PR #7273.

[2021-12-29 17:14] Dburke225 opened #7274 "What if email is deleted?"
Can you explain why sometimes we are unable to preview or download an email. Whenever I'm investigating I find emails that say they were deleted from the server. How am I supposed to review these?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2a332c-34ed-49fd-519a-4df38e9f4f60
* Version Independent ID: 19968ae0-b43e

[2021-12-29 17:38] FMofDeath opened #7275 "Grammar error"
In the 'Before you begin' section, the "an" in the following sentence needs to be replaced with an "a".

"You must be an global admin or password administrator to perform these steps."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f52c6916-7e79-9a9c-b7a6-47041ddb81e3
* Version Independent ID: 43c9b873-d354-d814-3065-1

[2021-12-29 18:23] markjjo commented on #7256
@yvesrosius I'll try to make this clearer. The permissions requirement is:

Mailbox Import Export role + Mail Recipients role

OR

Mailbox Import Export role + Global admin

A global admin is assigned the Mail Recipient role because this role is assigned to the Organization Management role group in EXO and global admins, by default, are members of the Organization Management role group in EXO.

[2021-12-29 18:24] markjjo commented on #7256
That is, I will try to make this clearer in the "Before you begin" section in article.

[2021-12-29 18:41] markjjo commented on #7269
@ErNestB3 You can try using the **Search-UnifiedAuditLog** cmdlet in Exchange Online PowerShell.

https://docs.microsoft.com/en-us/powershell/module/exchange/search-unifiedauditlog

Use the Operations parameter and specify Set-AccessToCustomerDataRequest. Something like:

Search-UnifiedAuditLog -StartDate xxx -EndDate xxx -Operations Set-AccessToCustomerDataRequest

You could also include -RecordT

[2021-12-29 19:16] denisebmsft commented on #7275
There's also a link issue in the "Before you begin" section.

[2021-12-29 20:12] airmnichols opened #7277 "Exporting RMS protected messages is no longer supported"
This documentation states that exporting RMS protected messages is supported and messages will be decrypted as a part of the export process, however it appears that is not the case.

I was unable to export RMS protected (Encrypted) messages, support stated that this is not supported.
RMS protected messages are not discoverable in eDiscovery, therefore they can't be exported.

Reference Office 365

[2021-12-29 21:31] esmithcl opened #7278 "Add Corelight NDR to Network security section"
I suggest adding 'Corelight Open NDR' to the 'Network security' section for completeness as the integration is already mentioned elsewhere in the MDE documentation: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/corelight-integration?view=o365-worldwide

The Corelight logo is available here: https://corelight.com/hs-fs/hubfs/raw_assets/public/Corelight_May2021/images/log

[2021-12-30 00:40] wperry1 commented on #7233
Thank you for the clarification.

[2021-12-30 07:38] yvesrosius commented on #7256
Thank you Mark! That makes sense :-)

[2021-12-30 12:13] armattt opened #7280 "Setting doesn't exist"
Settings vaguely described in section 'Allow everyone to see the Sent email (the replies)' do not exist.

See available settings in screenshot.
![Screen Shot 2021-12-30 at 10 06 36 pm](https://user-images.githubusercontent.com/96871731/147750970-0d69eb41-9a49-4ac5-857d-a22fb1367c9a.jpg)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-12-31 13:06] Dlcowjd7252 opened #7283 "Set-CsOAuthConfiguration -Identity global -Realm "contoso.com""
- [ ] Set-CsOAuthConfiguration -Identity global -Realm
#- - - [_**@![image](https://user-images.githubusercontent.com/81820055/147824916-05bc7fa5-2dfe-458b-b100-6f394a1024d0.jpeg)**_]()~~~~"contoso.com"```

[code]

[2021-12-31 13:07] Dlcowjd7252 opened #7284 "Set-CsOAuthConfiguration -Identity global -Realm "contoso.com""

[2022-01-01 11:43] yogkumgit commented on #7284
duplicate 7283, closing

[2022-01-01 11:43] #7284 closed

[2022-01-01 17:54] PaulTippit opened #7287 "Edit billing frequency is greyed out"
[Enter feedback here]
 Edit billing frequency is greyed out

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 49d66f21-cff3-bb96-df38-6f67d95eb6cf
* Version Independent ID: 00256bad-f01c-02a6-9554-a0be1ce933ea
* Content: [Change your billing frequency](https://docs.microsoft.com/en-us/microsoft-365/commerce/billing-and-pa

[2022-01-01 20:48] vedranmiletic commented on #5695
+1

[2022-01-02 00:14] Mghannaj opened #7288 "Error cause to blank page issue in Import Job Office 365 Compliance Admin Portal"
Hay Fellas,

Greetings. I just wanted to drag your attention to an issue when I use Import job wizard this "https://compliance.microsoft.com/informationgovernance?viewid=import" specifically.
I go through to step one naming the import job. Then the method of uploading the PST using Network or Ship a drive.

When I proceed after step2 I reach blank page like the below figure. I tried all kind of br

[2022-01-02 13:03] nikki-c opened #7289 "Incorrect text and links - The Microsoft 365 Service Communications API has now been moved to Microsoft Graph"
In the section Track your message center tasks in Planner the text and the link in the following sentence is incorrect because the Microsoft 365 Service Communications API Overview has been replaced by Microsoft Graph

If you'd like to program an alternative way to get real-time service health information and Message Center communications, please reference Microsoft 365 Service Communications API

[2022-01-03 04:04] roojs commented on #7237
"contact Microsoft support" - it's likely when this happens you may not be a Microsoft customer, and will not be able to contact MS Support.

We are lucky that I have a relationship with someone who was a customer and they reported it, but there is a serious issue that there is no way to solve undeliverable messages at present (no support actually seems to exist)

BTW - even when we did report to

[2022-01-03 06:02] mjcaparas commented on #7184
I believe the documentation is accurate - C:\test-MDATP-test.

I reach out to the PM team wrt to the UI change required.

[2022-01-03 06:02] #7184 closed

[2022-01-03 08:06] msbemba commented on #7283
@Dlcowjd7252 Thank you for your feedback. The command Set-CsOAuthConfiguration -Identity global -Realm "contoso.com" modifies the global collection of OAuth configuration settings. The Realm property is set to "contoso.com".

The cmd is correct. If you think there is an issue with the cmdlet let us know.

Thanks
Sri

[2022-01-03 08:19] msbemba commented on #7287
@PaulTippit Thank you for your feedback. I was able to test in multiple tenants and the option to edit billing frequency is not grayed out.

![image](https://user-images.githubusercontent.com/45987684/147910464-3e016402-2716-42eb-82f6-bcdcda4867cc.png)

If this is still an issue, I'd recommend you contact Microsoft support via the need help section on the M365 admin center.

Thanks
Sri

[2022-01-03 08:23] msbemba commented on #7288
@Mghannaj Thank you for your feedback. I was able to test this in our lab and it works as expected.

![image](https://user-images.githubusercontent.com/45987684/147910929-96d49625-0b6f-4676-9ebd-75c42bac0590.png)

This could be a permission issue on your end. To create import jobs, you must be assigned the Mailbox Import Export role in Exchange Online. After this role is assigned, it might take up

[2022-01-03 08:27] Mghannaj commented on #7288
The same account working fine on different machine. I know the issue is only related to my machine. Can you direct me where to troubleshoot this issue?

Thank you

[2022-01-03 08:30] msbemba commented on #7289
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7290

Thanks
Sri

[2022-01-03 08:32] msbemba commented on #7288
@Mghannaj You can contact Microsoft support for troubleshooting this issue. Please use the need help icon on your M365 Admin center to work with a Microsoft support engineer.

Hope this helps!

Thanks
Sri

[2022-01-03 08:46] msbemba commented on #7280
@armattt Thank you for your feedback. I was able to test this in our lab and it works as described.

![image](https://user-images.githubusercontent.com/45987684/147912512-2bfcbf0c-d6ec-4415-828d-4dc1c6dde2fd.png)

Looks like you might be in the Exchange admin center instead of the M365 admin center(https://admin.microsoft.com/)

Hope this helps!

Thanks
Sri

[2022-01-03 08:50] msbemba commented on #7274
@Dburke225 Thank you for your feedback. Threat Explorer gives your security operations team the details they need to investigate suspicious emails.  If you receive error on certain messages, We recommend you to contact Microsoft support via the need help section on the admin center,  so they can investigate and resolve it.

Hope this helps!
Thanks
Sri

[2022-01-03 08:54] msbemba commented on #7271
@kotras Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7291

Thanks
Sri

[2022-01-03 09:07] msbemba commented on #7268
@CharLind87 Thank you for your feedback. This document pertains to switching from Google Workspace to Microsoft 365 for business. out of the three flavors available in M365 for business, only M365 Business premium has all the options like Security, Office install, etc. So I'd say for this guide the minimum requirement is M365 Business premium.

We also have another document - https://docs.microsof

[2022-01-03 09:16] msbemba commented on #7262
@MGamil-MSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7292

Thanks
Sri

[2022-01-03 09:23] msbemba commented on #7258
@shekhar-jha Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7293

Once the author approves, the document will be live.

Thanks
Sri

[2022-01-03 10:32] SegersIan opened #7294 "Markdown Link/URL malformed"
There is some malformed Markdown on top of the page:
[code]
In the "Before you begin" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d322ca91-2125-7486-887f-7c313f2fbcf9
* Version Independent ID: a139620d-3330-a687-709a-35bb270101e4
* Content: [Set the password expiration policy for your organization - Microso

[2022-01-03 14:30] SabRom opened #7296 "EOP quarantine notification french translation issue"
Hello,

Two feedback that I'm not sure where to put :

1- the link  "Feedback > This product" on https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-spam-notifications-to-release-and-report-quarantined-messages?view=o365-worldwide#feedback does not work anymore

2- French translation for EOP quarantine notification are awful, as shown here : https://imgur.com/a/cKd2cD9

[2022-01-03 15:07] chasman157 opened #7297 "Stale Content in Setup Guide"
Content is outdated - ICON/Images outdated - Features missing

[2022-01-03 18:12] LauraWi commented on #5695
@kelleyvice-msft Can you investigate? Thanks!

[2022-01-03 18:55] chrisda commented on #7296
@SabRom, you are correct in that product feedback is basically not available.

For the translation problem, your best way forward is to open a support ticket.

[2022-01-03 19:02] denisebmsft commented on #7297
Hello @chasman157. Can you please tell us to which article your feedback applies?

[2022-01-03 19:22] cabailey commented on #7159
@nmistry77  Not forgotten - but delays with people taking time out for the holidays.  There isn't a single query that you can use, but I do have a suggested solution to share:

1. Use a script to get a list of OneDrive URLs for your tenant: https://docs.microsoft.com/en-us/onedrive/list-onedrive-urls#use-powershell-to-create-a-list-of-all-the-onedrive-urls-in-your-organization

2.  Use the output

[2022-01-03 19:23] jmmowrer opened #7298 "Need guidance for Defender for Endpoint customers to turn on Endpoint DLP"
Under Settings>Device onboarding>Devices in the compliance portal, there is a "Turn on Windows device monitoring" button that enables the Endpoint DLP functionality.  For customers who start out with Defender for Endpoint and want use Endpoint DLP, it's not mentioned in this page that this master switch needs to be turned on.  Can you please add a screenshot and bullet that indicates this option m

[2022-01-03 19:25] chasman157 commented on #7297
So sorry, I thought the form gathered that with the "This site" question.

Here is the outdated site.  I do have direct knowledge and relationships with the Wizard CxE FastTrack Team if you need further information.

Setup guides for Microsoft 365 and Office 365 services - Microsoft 365 Enterprise | Microsoft Docs<https://docs.microsoft.com/en-us/microsoft-365/enterprise/setup-guides-for-microsoft

[2022-01-03 19:27] TinaMcN commented on #7270
@andreaseliasnts thanks for reporting the issue, I'm working to get it fixed in the German article.

[2022-01-03 20:06] JimDaly opened #7299 "Page isn't in the TOC"
This orphan page isn't attached to any table of contents.
It would help if it could be grouped with other related content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f283e6d-8054-3abf-becf-65037e9c70b7
* Version Independent ID: e8dfaaad-a731-bd2e-7c7b-c5d0b80462de
* Content: [Microsoft 365 encryption chains - Micr

[2022-01-03 20:30] breakerzoe1832 opened #7300 "Microsoft Myanmar"
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f283e6d-8054-3abf-becf-65037e9c70b7
* Version Independent ID: e8dfaaad-a731-bd2e-7c7b-c5d0b80462de
* Content: [Microsoft 365 encryption chains - Microsoft 365 Compliance](https://docs.microsoft.com/en-gb/microsoft-365/compliance/encryption-office-365

[2022-01-03 22:03] usvjosh opened #7301 "Expected Behavior After Policy Days"
Hello,

What is the expected behavior of the exchange in place holds action item 2 after the retention policy expires? Are you able to HARD delete a item (mailbox or email) after that timeframe?

The section i'm referring to is this:
"Understanding the format of the InPlaceHolds value for retention policies"

Action #2:
2 - Indicates that the retention policy is configured to hold items. The polic

[2022-01-03 22:12] chrisda commented on #7263
@bruceburge, the only thing that I could find that was out-of-date was the very first step for getting to quarantine policies in 5 locations It said this:

It should say this:

I fixed all 5 instances. That was all that I could find wrong.

[2022-01-04 06:55] zaicnupagadi commented on #7145
Got reply from support, but for me it is really odd:
_"Regarding the rule which you created to apply Anti Phish policy, The rule is an "AND" rule, meaning that the recipient has to be listed AND has to be a member of the group, both at the same time, for this rule to work. Just being a member of the group isn't sufficient.  This rule logic is correct, and according to the current design of our pro

[2022-01-04 07:32] yogkumgit commented on #7260
@kelleyvice-msft Please help us in resolving the issue. Thanks

[2022-01-04 07:35] yogkumgit commented on #7272
@MSFTTracyP Please help us in resolving this issue. Thanks

[2022-01-04 07:36] yogkumgit commented on #7278
@mjcaparas Please help us in resolving this issue. Thanks

[2022-01-04 08:02] yogkumgit commented on #7258
@msbemba Thank you very much for the contribution and updating the documentation with PR. @shekhar-jha Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 08:02] #7258 closed

[2022-01-04 08:15] yogkumgit commented on #7161
@msbemba Thank you very much for the contribution and updating the documentation with PR. @matttheba Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 08:15] #7161 closed

[2022-01-04 08:19] yogkumgit commented on #7171
@msbemba Thank you very much for the contribution and updating the documentation with PR. @chadwanderson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 08:19] #7171 closed

[2022-01-04 08:22] yogkumgit commented on #7166
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MarekHalfar Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 08:22] #7166 closed

[2022-01-04 08:32] yogkumgit commented on #7226
@msbemba Thank you very much for the contribution and updating the documentation with PR. @danchristmas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 08:32] #7226 closed

[2022-01-04 08:42] yogkumgit commented on #7263
@bruceburge Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 08:42] #7263 closed

[2022-01-04 09:55] gcaringal opened #7304 "Broken link paths"
I was reading this doc and I noticed a broken link. I wanted to just edit and submit a PR but I noticed the same error exists in multiple docs.

What I noticed was that commit f05f78dddc527b096d56f6ce0e7f989dab4c3db1 does not fix link paths.

I believe the initial intention was to replace the old link text with "Overview of the Microsoft 365 admin center" instead. However, the suggested fix was in

[2022-01-04 09:59] gcaringal commented on #7294
I submitted the same issue #7304 before seeing this one, sorry. As I wrote in my issue, however, this error exists on several pages.

[2022-01-04 09:59] gcaringal commented on #7304
Similar to #7294

[2022-01-04 11:06] zaicnupagadi commented on #7145
Ok I've just read carefully the documentation. There is AND indeed -> https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-anti-phishing-policies?view=o365-worldwide, I am just wondering how come _"Just being a member of the group isn't sufficient"_ is true, will test that.

[2022-01-04 11:06] #7145 closed

[2022-01-04 15:30] lemondave commented on #7031
Support came back with steps that contradict the steps in this document.  They asked us to verify the ReportJunkEmailEnabled setting in our OwaMailboxPolicy and set it to True.  The steps in the documentation call for changing this setting to False.  Once I flipped this setting back to True, the problem went away.

From Support:
To continue troubleshooting this issue, please connect to Exchange On

[2022-01-04 15:31] lemondave commented on #7031
Feels odd that this was closed before waiting to hear the outcome of my open support ticket.

[2022-01-04 17:35] jmmowrer opened #7305 "generateAlert parameter is missing from the list"
generateAlert enum is missing in the list.  It's mentioned under the action parameter as being required for audit but it's not in the list.

Probably can just be copied from the "all methods and properties" link:
generateAlert	Enum	True if alert generation is required, False if this indicator should not generate an alert.

text from here:
https://docs.microsoft.com/en-us/microsoft-365/security/def

[2022-01-04 20:39] rmrosen opened #7307 "Tamper Protection included in P1?"
Top of page only has link to P2, which implies it is not included with P1.  Tamper Protection appears to be part of P1 under Next Gen Protection.

https://microsoft.sharepoint.com/teams/windef/atp/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2Fwindef%2Fatp%2FShared%20Documents%2FLicensing%2FMicrosoft%20Defender%20for%20Endpoint%20P1%20resources%2FMicrosoft%20Defender%20for%20Endpoint%20P1%20

[2022-01-04 21:13] markjjo commented on #7301
@usvjosh Here's info about retention policy behavior for Exchange: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies-exchange. It describes what happens to items (based on whether they were deleted or not) after the retention period expires.

Also, ability to hard-delete items would assume that no other type of hold (or no other retention policy) is applied to the user m

[2022-01-04 21:13] #7301 closed

[2022-01-04 22:06] FreedomChris opened #7310 "Incorrect information on page."
Hello,

This page states "eDiscovery Administrator: Can perform all case management tasks that an eDiscovery Manager can do."

This is not correct.  an eDiscovery Administrator cannot manage cases without the eDiscovery Manager entitlement.  Both are required for the eDiscovery Administrator to manage cases, data sources, collections, etc.

---
#### Document Details

⚠ *Do not edit this section. I

[2022-01-04 22:21] jonwbstr opened #7311 "More on Activities and Record Types"
I am creating an audit log retention policy. During the creation three questions came up:
1) what is AeD?
2) what activities are included for each record type?
3) will this increase the searchable date range for AzureAD user sign-in logs?

I found [this](https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#microsoft-365-servi

[2022-01-04 23:36] markjjo commented on #7310
@FreedomChris Thanks for feedback. Technically, the statement is correct. An eDiscovery Admin is assigned all the management roles that are assigned to the eDiscovery Manager, **at least when you add a user as an eDiscovery Manager using the Permissions page in the M365 compliance center UI.** When you use the UI, two underlying Powershell cmdlets are invoked: Add-RoleGroupMember (to add the user

[2022-01-04 23:37] markjjo commented on #7310
@FreedomChris Sorry one correction from above:

at least when you add a user as an **eDiscovery Admin** using the Permissions page in the M365 compliance center UI.

[2022-01-05 00:13] chrfox commented on #7038
Hi @technonath , thanks for your comment. I have sent an inquiry to the product team. I'll update the content if necessary.  In the meantime, I suggest that you open a Support ticket.

[2022-01-05 00:13] #7038 closed

[2022-01-05 00:24] chrfox commented on #7152
Hi @jorge-at123
Thanks for your comment, I'll get the information and update the content as appropriate.

[2022-01-05 00:24] #7152 closed

[2022-01-05 01:06] mjcaparas commented on #7278
Yes will work on this.

[2022-01-05 04:45] sambellbraze opened #7313 "How do I build reputation when you send my email to SPAM from Day 1?"
You explain on this support page that "IP addresses not previously used to send email typically don't have any reputation built up in our systems. As a result, emails from new IPs are more likely to experience delivery issues. Once the IP has built a reputation for not sending spam, EOP will typically allow for a better email delivery experience."

Yet, if I have a brand new IP address, how can I

[2022-01-05 08:19] o-l-a-v opened #7314 ""Security Reader" is not sufficient to see MDE device inventory"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/prepare-deployment

Nor [Security Reader](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#security-reader) or [Security Operator](https://docs.microsoft.com/en-us/azure/active-directory/roles/permissions-reference#security-operator) is sufficient for viewing device inventory in Microsoft D

[2022-01-05 08:27] SanguptaMSFT commented on #7121
@kelleyvice-msft can you confirm the latest status ? @yogkumgit this is still pending.

[2022-01-05 08:43] povlhp opened #7315 "References mentioned to stuff, no info on where to find it."
You write:
In cases in which blocks aren't self resolved in a timely manner, customers can - at their own risk - make use of either the self-service mechanism or an Indicator of Compromise (IOC)-based "allow list" capability to unblock the files themselves.

But you do not refer how to do this up front. We have multiple apps that I would exempt based on SHA1 - which I possible could do if I had an

[2022-01-05 09:51] carias78 opened #7317 "The video is not updated with Sharepoint Admin webpage"
![Invite External Users](https://user-images.githubusercontent.com/42930419/148197372-8e022367-763c-4a10-b04e-79ef3d25e05c.png)

[2022-01-05 14:10] yogkumgit commented on #7317
@carias78 Which document you are referring to. Please indicate. Thanks

[2022-01-05 14:27] AndrewBryson opened #7318 "The RSS feed URL in the 'Tip' section is root-relative instead of absolute"
The RSS feed URL in the 'Tip' section is root-relative instead of absolute, it's not clear what domain should be used.  Please clarify what URL should be used by providing an absolute URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f744fca0-6584-f0e9-2bbb-7894d151498e
* Version Independent ID: eb540bda-8fe0-dce3-da

[2022-01-05 14:30] yogkumgit commented on #7289
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-05 14:33] yogkumgit commented on #7275
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @FMofDeath Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-05 14:35] yogkumgit commented on #7179
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @bashramath Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-05 14:38] #7179 closed

[2022-01-05 14:40] amanmcse opened #7319 "Device group is not shown"
![image](https://user-images.githubusercontent.com/33834131/148235677-1a7fe1b6-1a1c-4396-af18-4290d4d913fd.png)

I have the device added to a device group but it doesn't show the device group name under either the Alerts queue or the Alerts tab under the file page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 628f662

[2022-01-05 14:49] yogkumgit commented on #7319
@amanmcse Please indicate which document you are referring to. Thanks

[2022-01-05 14:53] amanmcse commented on #7319
@yogkumgit Added the Doc details to the footer in the question.

[2022-01-05 14:56] yogkumgit commented on #7300
@breakerzoe1832 What is your feedback. Thanks

[2022-01-05 15:17] AndrewBryson opened #7320 "Word "antivirus" is missing?"
I think the word "antivirus" is missing from this sentence:

Actual:
"Microsoft Defender for Endpoint on Linux offers preventative (AV)"

Expected:
"Microsoft Defender for Endpoint on Linux offers preventative **antivirus** (AV)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e914c02a-e905-fc32-439c-feb1fafa09b8
* Vers

[2022-01-05 16:54] chrisda commented on #7313
@sambellbraze, you have SPF, DKIM, and DMARC DNS records configured for your domain? That might help.

[2022-01-05 17:33] kelleyvice-msft commented on #7121
@SanguptaMSFT I'm just back from vacation and getting caught up. I'll get back to you his afternoon after I look through the thread again.

[2022-01-05 18:33] sambellbraze commented on #7313
Hey @chrisda,

Thanks for the reply - do you mean that if I setup SPF, DKIM and DMARC DNS records this helps MS know I am a more trustworthy sender from Day 0 for my IP warming?

I work with a lot of customers who IP warm through a brand new IP, and we see that the vast majority of emails go to the SPAM folder straight away for MS. We set them up with a SPF and DKIM record. And then it's up to the

[2022-01-05 20:10] nkeibler81 commented on #7031
Thanks @lemondave - this worked for me too. Punished for following the documentation, why am I not surprised?

[2022-01-06 07:16] mjcaparas commented on #6697
Still pending PG response.

[2022-01-06 08:06] Tad1011 opened #7322 "Why does Dynamics 365 for Financials and Dynamics 365 for Operations include in Available self-service programs?"
Dynamics 365 for Financials and Dynamics 365 for Operations hasn't self-service sign-up feature. But, this docs mentions Dynamics 365 for Financials and Dynamics 365 for Operations, and it looks like self-service sign-up can be used with those services. Please let me know reason why this docs mentions Dynamics 365 for Financials and Dynamics 365 for Operations.
https://docs.microsoft.com/en-us/mic

[2022-01-06 13:00] aravindmunna opened #7323 "Does the documentation needed an update ?"
Heading says  "Use network upload to import your organization's PST files to Microsoft 365"

https://docs.microsoft.com/en-us/microsoft-365/compliance/importing-pst-files-to-office-365?view=o365-worldwide

However, the content still displays Office 365. Just checking to see if the documents need to be updated or if it is acceptable to use Office 365 instead of Microsoft 365.
---
#### Document Deta

[2022-01-06 14:28] yogkumgit commented on #6923
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Nosferatu-Dk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 14:31] yogkumgit commented on #6948
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dan-snelson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 14:32] #6948 closed

[2022-01-06 14:37] #6923 closed

[2022-01-06 14:39] #6949 closed

[2022-01-06 14:45] yogkumgit commented on #6943
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bledMS82 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 14:45] #6943 closed

[2022-01-06 14:48] yogkumgit commented on #6976
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SquirrelAssassin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 14:52] yogkumgit commented on #6994
@msbemba Thank you very much for the contribution and updating the documentation with PR. @smedin4 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 14:53] #6994 closed

[2022-01-06 14:56] yogkumgit commented on #7061
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lccctemp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 14:57] #7061 closed

[2022-01-06 14:59] yogkumgit commented on #7066
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lccctemp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:00] #7066 closed

[2022-01-06 15:02] yogkumgit commented on #7087
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kahosoka Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:03] #7087 closed

[2022-01-06 15:05] yogkumgit commented on #7067
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lccctemp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:06] #7067 closed

[2022-01-06 15:08] yogkumgit commented on #7157
@msbemba Thank you very much for the contribution and updating the documentation with PR. @absheh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:09] #7157 closed

[2022-01-06 15:11] yogkumgit commented on #7222
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @ThijsLecomte Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:12] #7222 closed

[2022-01-06 15:14] yogkumgit commented on #7241
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Amatziab Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:14] #7241 closed

[2022-01-06 15:15] lccctemp commented on #7067
Hi Yogesh,

I see that you closed this ticket but as of today, this document has not
been updated to show Security Intelligence Updates instead of Signature
Updates. Was this closed because perhaps it's in a queue to be updated?

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-endpoints-gp?view=o365-worldwide

-------------------------------------------------
Sa

[2022-01-06 15:16] yogkumgit commented on #7246
@msbemba Thank you very much for the contribution and updating the documentation with PR. @anwarmahmood1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:16] #7246 closed

[2022-01-06 15:22] yogkumgit commented on #7245
@msbemba Thank you very much for the contribution and updating the documentation with PR. @anwarmahmood1 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:22] #7245 closed

[2022-01-06 15:25] yogkumgit commented on #7271
@kotras Reported to PG. Thanks for the feedback.

[2022-01-06 15:25] #7271 closed

[2022-01-06 15:38] yogkumgit commented on #7268
@msbemba Thank you very much for the contribution and sharing this explanation. @CharLind87 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:38] #7268 closed

[2022-01-06 15:40] yogkumgit commented on #7274
@msbemba  Thank you very much for the contribution and sharing this explanation. @Dburke225 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-01-06 15:40] #7274 closed

[2022-01-06 15:42] yogkumgit commented on #7280
@msbemba Thank you very much for the contribution and sharing this explanation. @armattt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:43] #7280 closed

[2022-01-06 15:44] yogkumgit commented on #7283
@msbemba Thank you very much for the contribution and sharing this explanation. @Dlcowjd7252 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:44] #7283 closed

[2022-01-06 15:45] yogkumgit commented on #7287
@msbemba Thank you very much for the contribution and sharing this explanation. @PaulTippit Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-06 15:46] #7287 closed

[2022-01-06 15:47] yogkumgit commented on #7277
@msbemba

[2022-01-06 17:28] msbemba commented on #7294
@SegersIan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7324

Thanks
Sri

[2022-01-06 18:00] RAJU2529 commented on #7323
@yogkumgit Created PR #7325 for this issue #7323

[2022-01-06 18:27] markjjo commented on #7323
@aravindmunna Thanks for the feedback. We will update the documentation.

[2022-01-06 18:27] #7323 closed

[2022-01-06 19:25] msbemba commented on #7318
@AndrewBryson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7326

The RSS feed will be `https://docs.microsoft.com/api/search/rss?search=%22In+the+navigation+pane%2C+select+Settings+%3E+Advanced+features+%3E+Preview+features.%22&locale=en-us&facet=`

Thanks
Sri

[2022-01-06 19:32] msbemba commented on #7307
@rmrosen Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7328

Once the author approves, the  changes will be live.

Thanks
Sri

[2022-01-06 19:34] msbemba commented on #7305
@jmmowrer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7329

Thanks
Sri

[2022-01-06 19:36] msbemba commented on #7277
@mikenri Thank you for your feedback. I'm currently testing and will work with the author to check if things have changed.

Thanks
Sri

[2022-01-06 19:51] markjjo commented on #7277
@mikenri Is your issue related to AIP Client encrypted documents on a local computer that were then uploaded to SharePoint Online or OneDrive? (I am unable to access the support case that you referenced). If so, then yes, engineering confirmed AIP Client encrypted docs are not supported for eDiscovery decryption.  Only docs encrypted by the SPO/OD service (via sensitivity labels) are supported. We

[2022-01-06 20:11] mikenri commented on #7277
The situation was my organization acquired another organization that was already an Office 365 customer.
The acquired organization had encrypted some E-mail using Office 365 Message Encryption.
We migrated all the non-encrypted mail to new mailboxes in our tenant.

Our goal was to export a decrypted copy of the encrypted E-mail messages for future reference if needed.

My understanding is that Off

[2022-01-06 20:30] markjjo commented on #7277
@mikenri Thanks for response and sending the search query you're using. The documentation does state that OME encrypted items aren't supported. Not sure if that is relevant to your case or not. Curious if the export includes an Errors.csv or UnindexedItems.csv report provides any info about docs not exported? Also, is there a link to your support case that you can send me? That would be helpful wh

[2022-01-06 21:43] mikenri commented on #7277
@markjjo

The documentation states that OME encrypted emails with custom branding aren't supported.
But in this case, custom branding was not applied.

The export doesn't include an errors.csv or unindexeditems.csv
All it has is an Export Summary CSV and a trace.txt file.

Link to support case:

https://admin.microsoft.com/#/support/request?requestId=5ea6746c-4463-442c-83a0-fbd7aed47f3d

[2022-01-06 22:14] markjjo commented on #7277
Thanks @mikenri. Will look into this and follow up on this github issue.

[2022-01-07 02:43] anthonynz opened #7331 "Turn on Safe List recommendations"
Hi folks,

Can we please have some guidance or reference to best practice on the default Connection filter policy setting "Turn on safe list".

It has been made clear that this is a list managed by Microsoft, but what is not clear if it is recommended to have it enabled or disabled.

I have checked the information at the Anti-spam protection docs page, and it says the same thing - just that it's m

[2022-01-07 04:25] Saraquin opened #7332 "MDE for Server - more details on how to license required"
Hi,

The second note bubble on the page pertaining to Licensing servers and the minimum requirements does not clearly define what that provides. i.e. does it allow the purchase of a server license or are they then included as part of the required licenses. if the former, details on the process to purchase would be useful.
![image](https://user-images.githubusercontent.com/1393504/148491467-41bcf7a

[2022-01-07 09:52] WolfgangSauer opened #7333 "Zero touch (preview) does not deploy the MDE app"
[Enter feedback here]
Docs say "Defender for Endpoint is automatically installed without the need for the user to open the app" which leads to the interpretation, that an explicit app deployment profile is not necessary. But an MDE app deployment profile is necessary. The following  activation after installation is silent as documented.

---
#### Document Details

⚠ *Do not edit this section. It i

[2022-01-07 15:25] Gregor-Weertman opened #7334 ""sc query" only returns running services"
"When Microsoft Defender Antivirus is running, the STATE value displays RUNNING."

the command "sc query" only returns running services
You need "sc query state= all" to view the non running too

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff9a2869-614c-e077-8d71-351448810897
* Version Independent ID: 09369dc3-f8d1-9

[2022-01-07 16:24] cablechewer opened #7335 "Note needs to be more specific"
[Enter feedback here]
The article contains this note:
" Note

You must add at least one content location to the hold. Otherwise, the eDiscovery hold statistics will show that no items are on hold."

This needs to be reworded to match the behaviour of the Hold wizard on the web.
The wizard will allow you to select SPO sites.  Many customer who have worked with retention will mistakenly believe this

[2022-01-07 17:47] chrisda commented on #7331
@anthonynz, the main reason that connection filtering settings are not described in [Recommended settings for EOP and Microsoft Defender for Office 365 security](https://docs.microsoft.com/microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365) is the connection filtering policy is not one of the policies that's included in the Standard or Strict [preset security pol

[2022-01-07 20:53] anthonynz commented on #7331
Thanks Chris,  I appreciate this very helpful response.

I  miss the days of white papers that would have this level of explanations.

________________________________
From: Chris Davis ***@***.***>
Sent: Saturday, January 8, 2022 6:47:27 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Anthony Ross ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Turn on

[2022-01-07 23:57] lccctemp opened #7338 "MAPS - Send Safe Samples or Send All Samples - Which is Correct?"
Under "Other recommended configuration settings > Update endpoint configuration protection > Policy location: \Windows Components\Microsoft Defender Antivirus\MAPS > Send file samples when further analysis is required", the suggestion states to enable it and set it to "send safe samples".

However, lower on the page, under "Setup Defender AV policies > Configure Cloud Deliver Protection and send s

[2022-01-08 04:14] yogkumgit commented on #7299
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-01-08 04:16] yogkumgit commented on #7300
@breakerzoe1832 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2022-01-08 04:16] #7300 closed

[2022-01-08 04:19] yogkumgit commented on #7310
@FreedomChris Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-08 04:19] #7310 closed

[2022-01-08 04:22] yogkumgit commented on #7311
@markjjo Please help us in resolving this issue. Thanks

[2022-01-08 04:26] yogkumgit commented on #7315
@jweston-1 Please help us in resolving this issue. Thanks

[2022-01-08 04:28] yogkumgit commented on #7317
@carias78 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time t

[2022-01-08 04:28] #7317 closed

[2022-01-09 05:26] yogkumgit commented on #7210
@HarrisburgUSysAdmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-09 05:26] #7210 closed

[2022-01-09 05:38] yogkumgit commented on #6678
@jmgriffee Please reply and resolve this issue. Thanks

[2022-01-09 05:40] yogkumgit commented on #5063
@cjtancortex Please answer the query and resolve this issue. Thanks

[2022-01-09 06:19] yogkumgit commented on #5348
@msbemba Gentle reminder

[2022-01-09 06:24] yogkumgit commented on #2854
@ninacchen As suggested by @nickjrobinson , please help us in resolving this issue. Thanks

[2022-01-09 06:26] yogkumgit commented on #6348
@arun-msft-zz Please help. Thanks

[2022-01-09 06:39] yogkumgit commented on #7331
@anthonynz If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-09 06:39] #7331 closed

[2022-01-09 06:43] yogkumgit commented on #7296
@SabRom Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with

[2022-01-09 06:43] #7296 closed

[2022-01-09 06:45] #6427 closed

[2022-01-09 06:55] yogkumgit commented on #6452
@kelleyvice-msft Gentle reminder

[2022-01-09 07:03] yogkumgit commented on #5075
@msbemba Thank you very much for the contribution and sharing this explanation. @Nyffe-Noob Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-09 07:03] #5075 closed

[2022-01-09 12:24] msbemba commented on #5348
@WayneEwington I could not find any set of rules for M365 tenants. Would you be able to provide the details so it can be added to the document?

Thanks
Sri

[2022-01-09 12:42] msbemba commented on #7262
@MGamil-MSFT Author has confirmed that the notifications aren’t just on Office web apps. They don’t appear in any Office apps. Also, our updated terminology for the portal is the M365 admin center.

CC: @kwekuako

Thanks
Sri

[2022-01-09 13:32] MGamil-MSFT commented on #7262
Many thanks for the explanation!
last question .. if O365 Password expiry notifications no longer appears in O365 portal, why the below option still exist in the global organization settings? "Days before a user is notified about expiration"

![image](https://user-images.githubusercontent.com/39204008/148684302-961d8d88-caa9-4cfc-8946-a0a14801259b.png)

[2022-01-10 01:04] DulceMontemayor commented on #6847
Following up again with SMEs @yogkumgit . Sinead will be responding soon as the SMEs respond. For any TVM-related questions, moving forward, please tag and email  Sinead O'Sullivan (Sinead.OSullivan@microsoft.com) who works with TVM SMEs and stakeholders on documentation. Thank you!

[2022-01-10 01:53] josephgruber opened #7339 "Secure your Windows 10 Computer is out of date"
This page is out of date. Specifically the Secure your Windows 10 computer section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c4e2120-1795-40bd-9f36-238273c9d5c4
* Version Independent ID: 88e4584e-c545-b74d-44bd-5fc966637513
* Content: [Secure Windows 10 computers - Microsoft 365 admin](https://docs.microsoft.com/

[2022-01-10 04:01] yogkumgit commented on #7288
@msbemba  Thank you very much for the contribution and sharing this explanation. @Mghannaj Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see

[2022-01-10 04:01] #7288 closed

[2022-01-10 04:04] yogkumgit commented on #7297
@chasman157 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2022-01-10 04:06] yogkumgit commented on #7297
@msbemba Please resolve.

[2022-01-10 04:08] yogkumgit commented on #7298
@msbemba

[2022-01-10 04:09] yogkumgit commented on #7319
@msbemba

[2022-01-10 13:19] chasman157 commented on #7297
I did reply:  See attached

Chuck VanDeweel
1+(469) 713-7393

From: Yogesh Kumar ***@***.***>
Sent: Sunday, January 9, 2022 10:05 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Chuck VanDeweel (Insight Global, Inc) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Stale Content in Setup Guide (Issue #7297)

@chasman157<https://nam06.safelinks.protection.o

[2022-01-10 14:08] siosulli commented on #6847
hi @yogkumgit, we received an update from the PM and he has confirmed that yes we do support the detection of network vulnerabilities on Devices (e.g. Windows/Linux/Mac/Mobile) and on network devices (e.g. Router, Switches, FireWall, etc.).

if you need anything else, let me know.

cc: @DulceMontemayor

[2022-01-10 14:34] npatellumeta commented on #6847
Thanks for your response. So what's the API end point to retrieve network vulnerabilities (containing port and protocol) and where in the documentation can i find it?

[2022-01-10 15:15] fabiotelesMS opened #7341 "Update Request - Requirements for managing tamper protection in Intune"
Hello,

Checking the documentation on enabling Tamper Protection on Intune, on the FAQ it states clearly that we need to have MDE enrollment to configure it using Intune at:

_I have the Windows E3 enrollment. Can I use configuring tamper protection in Intune?
Currently, configuring tamper protection in Intune is only available for customers who have Microsoft Defender for Endpoint._

I thin it wo

[2022-01-10 15:18] ok2play opened #7342 "Is this documentation correct?"
I am using Microsoft Endpoint Manager to try and configure a process exclusion and per this documentation:https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/configure-process-opened-file-exclusions-microsoft-defender-antivirus?view=o365-worldwide

I should be able to use a path wildcard and the example given: "c:\test\sample\*"

What I want is: "%ProgramFiles%\Cisco\AMP\*\sf

[2022-01-10 16:35] WayneEwington commented on #5348
Unfortunately, I don't know of any specific documentation. However, those rules are owned by the AAD team, so probably best to contact them.

[2022-01-10 16:40] MatthewWhiteMoJ opened #7343 "Intune User interface config is not present"
Reading the updated docs page I can see that you can allow/deny hardware classes however i cannot see an option to define the level of control that can be made by the OMA-URI settings. is this a limitation of Intune or the feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b7a5c17-1358-990b-968d-432a3aab2e17
* Ve

[2022-01-10 17:10] aquiros17 opened #7344 "Security Alerts not generating security incidents on Microsoft 365 Defender"
Hi,

We have multiple customers with alert policies configured in their tenants. Some of this alerts (for example "Email reported by user as malware or phish") generates an incident on Microsoft 365 Defender but there are some alerts policies (for example "Elevation of Exchange admin privilege") that is generating an alert but not an associated incident on Microsoft 365 Defender.

This is a very b

[2022-01-10 17:14] craigreilly opened #7345 "Applicable Products"
Both the Report Message add-in and the Report Phishing add-in work with most Microsoft 365 subscriptions and the following products:

Outlook on the web
Outlook 2013 SP1 or later
Outlook 2016 for Mac
Outlook included with Microsoft 365 apps for Enterprise
Outlook app for iOS and Android

I am told by support that this will NOT work with Outlook 2016 for Mac or Windows - unless it is a subscription

[2022-01-10 18:19] chrisda commented on #7313
@sambellbraze, I'm sorry, but I have nothing else to suggest. At this point, it's probably best if you open a support case to ask the question. If you learn anything that can go into the existing article to help others, please report back here.

[2022-01-10 18:21] lkchild opened #7347 "Mixing up JSON and CSV"
Hi,

It's ambiguous calling a JSON file a CSV file.  You should explain why the incorrect naming, or just stick with calling JSON JSON, and CSV CSV unless this is converting a CSV to JSON (which might be a nice opton)

Thanks!
---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96e6e3c8-bc3b-900b-ff9a-fd56b33afab7
* Version

[2022-01-10 18:24] chrisda commented on #7175
@ConradAT, I fixed the offending section a few weeks ago:

<https://github.com/MicrosoftDocs/microsoft-365-docs/commit/13a98eee8f1b196c9bf9fa598c9e16b19157f0b5#diff-ca284f2338ddb52b32b1cad74ea8c9cdc058717d26778abf86b990ba39bcfb44>

Thanks for the feedback.

Closing

[2022-01-10 18:24] #7175 closed

[2022-01-10 18:32] chrisda commented on #5946
@HarrisburgUSysAdmin, we typically don't update the documentation for bugs until we find out what the end goal is: if they're going to fix the bug, that would then render any updates incorrect, which would then need to be fixed.

It's been quite a while. Has the bug been fixed? Are the notifications behaving correctly now?

[2022-01-10 18:32] DulceMontemayor commented on #6847
We have this section in the documentation, does this help: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/network-devices?view=o365-worldwide

[2022-01-10 18:38] chrisda commented on #7058
@vianeyhm, both Safe Links and Safe Attachments use a hypervisor/sandbox environment to detonate the links/attachments to see what happens.

So what's the question?

[2022-01-10 18:48] denisebmsft commented on #7344
Hello @aquiros17. It sounds like your feedback is more product related than documentation related. Is that correct?

[2022-01-10 18:50] HarrisburgUSysAdmin commented on #5946
This was fixed for Microsoft and listed as a bug.

[2022-01-10 18:58] chrisda commented on #5946
@HarrisburgUSysAdmin, sorry, so does this mean the problem still exists for you? Or have you noticed an improvement?

I'm asking because it's been 4+ months, and I thought you might have noticed if the problem no longer exists.

[2022-01-10 19:05] HarrisburgUSysAdmin commented on #5946
The issue was resolved.  We no longer have the issue.

[2022-01-10 19:16] chrisda commented on #5946
Excellent!

Thanks for the feedback.

Closing.

[2022-01-10 19:16] #5946 closed

[2022-01-10 19:26] chrisda commented on #5362
Fixed.

<https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/12149>

Closing

[2022-01-10 19:26] #5362 closed

[2022-01-10 19:33] markjjo commented on #7347
@lkchild Thanks for the feedback. The use of CSV is step 5 in this article is a copy and paste error. I will fix this so we're just calling JSON JSON.

[2022-01-10 19:33] #7347 closed

[2022-01-10 20:02] ninacchen commented on #2854
Advanced eDiscovery (AeD) search automatically fans out across all locations. For EXO, all data centers will be searched when using AeD so you don't need to do any configuration - PDL or not. Closing this thread now. If you there is any other questions please raise a support issue as doc github is not the best place to asking questions regarding the production. Thanks!