[2020-02-26 17:16] GiantCrocodile commented on #1252
Thank you for your reply @msbemba! So Customer Lockbox won't help with delegated administrators. Is there something else to limit/to approve actions of delegated administrators beside seeing their past activity in the audit log?

[2020-02-26 17:33] msbemba commented on #1268
@AveryBaker Thank you for your feedback. We have made the changes to the doc via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1300

Thanks
Sri

[2020-02-26 17:44] msbemba commented on #1233
@fhvasco Thank you for feedback. The retention policy is applied as soon as the mailbox is assigned that policy, In case of a new mailbox, it takes immediate effect.  The retention policy can be assigned even for shared mailboxes,  If the mailbox already exists and you change the retention policy then you can use a PS cmd mentioned in the document. (https://docs.microsoft.com/en-us/powershell/modu

[2020-02-26 18:26] MurtazK opened #1301 "Additional Records"
Are these records available or documented? 5-7-16-17-34-39-43-46-48-51-57-58-59-60-61-63-65-67

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58d18ff7-80de-a4d1-41a3-3601f09d3442
* Version Independent ID: dc3327c1-5c78-53ee-6ecb-18b274ddcdbd
* Content: [Detailed properties in the Office 365 audit log - Microsoft 365 Co

[2020-02-26 18:42] markjjo commented on #1301
@MurtazK Are you actually getting audit records with these RecordType enum values? If so, please respond with which ones are generating audit records. Or are you just asking because these enum values aren't listed?

The short answer is some of these enum values are for features that haven't release or for activity that isn't being ingested into the unified audit log.

Also, if you're an Microsoft

[2020-02-26 18:44] pmcgrath66 opened #1302 "Notifications"
Is there a way to have a notification automatically sent to people when a Data Investigation is created? This is something we want automated and for it only to be changed by a Global Admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c09539c9-e275-d939-4142-22778724fa31
* Version Independent ID: f11a5861-65ed-ecb8-5

[2020-02-26 19:50] Padavid opened #1303 "E5 required for default retention label to a document library, folder or document sets?"
We don't seem to call out in this article that E5 is a requirement for this but it is called out here - https://docs.microsoft.com/en-us/microsoft-365/compliance/labels?view=o365-worldwide#applying-a-default-retention-label-to-all-content-in-a-sharepoint-library-folder-or-document-set

Apply a default retention label to a document library, folder, or document set in SharePoint, so that all documen

[2020-02-26 21:03] jason-collab opened #1304 "Teams Admin"
The steps noted work.  However, I notice that as a Teams Administrator, I can no longer create a team from the Teams desktop client?  It only allows me to join a team.  So, how would I "Create a team from an existing team"?  Can't do it in Teams Admin center or M365 Admin center.  I can only create new groups/teams from scratch there.

https://support.office.com/en-us/article/create-a-team-from-an

[2020-02-26 21:36] ddamian67 opened #1305 "Retention Tag - Deletion"
Once a retention tag is set up to delete email 10 years and older, Does the policy removes the existing email that 10 years old or the policy applies from the time it gets implemented, meaning from this point forward the policy will apply not to the exciting emails?
I hope i am clear on my question, any feedback will be greatly appreciated.

Regards,

Daniel.

[2020-02-26 22:48] cabailey commented on #1303
@Padavid  Hi, can you clarify what you mean by "this" when you say "a requirement for this"?  The article is about retention labels but you can use them in different ways.  Applying a retention label as a default label for SharePoint is one way, and this requires E5 as documented.

[2020-02-26 23:51] Padavid commented on #1303
Sorry.

I am referring to this statement:
“Apply a default retention label to a document library, folder, or document set in SharePoint, so that all documents that arrive in that location inherit the default retention label.”

This should be called out that this is a E5 feature similar to how we call out that auto labeling is E5.

In this link https://docs.microsoft.com/en-us/microsoft-365/complia

[2020-02-26 23:56] markjjo commented on #1302
@pmcgrath66 You can create a custom alert policy for the CaseAdded activity and configure notifications to be sent when the policy triggers an alert. For example, you can run the following command in Security & Compliance Center PowerShell:

New-ProtectionAlert -Name "User creates a compliance case" -Category Others -NotifyUser admin@contoso.onmicrosoft.com,sarad@contoso.onmicrosoft.com -ThreatTyp

[2020-02-26 23:56] #1302 closed

[2020-02-27 02:33] mypil commented on #1305
@ddamian67 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-02-27 03:01] cabailey commented on #1303
@Padavid So the request is to word the licensing requirement for the default label in terms of user assignment, rather than the subscription required at the tenant level?  We're working with marketing to review and refine these statements, so your feedback is appreciated.

[2020-02-27 03:17] cabailey commented on #1278
@prashant1380 Closing after confirming nothing to update in the docs.  If you find out further information after filing the support ticket, you can still update this thread.

[2020-02-27 03:17] #1278 closed

[2020-02-27 04:52] dlawrences opened #1306 "Update Custom Domain Records via API"
Hi

Do you know if these custom records are available for updates through the Microsoft Graph API? I have been able to find only some potentially similar GET methods:
- List serviceConfigurationRecords
- List verificationDnsRecords

Additionally, do you know if Microsoft has any solution for Dynamic DNS situations?

Thanks

---
#### Detalii document

⚠ *Nu editați această secțiune. Este necesară p

[2020-02-27 09:49] thewrabbit opened #1307 "Applicable EDU license plans?"
Only E5 or E3 plus the E5 compliance add in are mentioned.  What are the licensing requirements in EDU - are they equivalent?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb98e0ff-d34c-75bc-0ade-7dc70fc7f4bd
* Version Independent ID: 5172471f-e514-bcde-16e0-d8d8090a892a
* Content: [Get started with insider risk manag

[2020-02-27 12:27] mfnaqvi opened #1308 "Quiz & Certificate"
At the end of course if there will be a quiz and certificate that will be great for CPEs etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e88d48ed-b84b-3571-6c6e-e12ed8811c11
* Version Independent ID: a1aefdd8-25ed-f181-a167-c5d5f7a4efa3
* Content: [Chief Information Security Officer (CISO) Workshop, Module 1: Micro

[2020-02-27 12:32] adavisgann opened #1309 "Dead link"
Link in See also section for Detect and Remediate Outlook Rules and Custom Forms Injections Attacks in Office 365 returns 404 - Page not found

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68b20762-e3ee-6aa6-7460-5bc7214fd00e
* Version Independent ID: 641814b7-9c30-2119-e5f9-7983118e102f
* Content: [Responding to a Co

[2020-02-27 12:38] pmcgrath66 commented on #1302
We will try this. Thank you.

Patrick McGrath
SharePoint Administrator
[Open Dealer Exchange]
31440 Northwestern Hwy.  |  Suite 250  |  Farmington Hills, MI 48334
Office: 313.349.0052  |  Cell: 734.644.4635  |  Fax: 313.749.0990
pmcgrath@opendealerexchange.com<mailto:pmcgrath@opendealerexchange.com>
www.opendealerexchange.com
Follow Us: LinkedIn<http://www.linkedin.com/company/open-dealer-exchange

[2020-02-27 13:57] ceaton001 opened #1311 "CSV file format"
The link to the sample partner CSV file includes a fourth field - the hardware hash, but the text suggests this is not required in the partner version.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ffd1cbbf-99b1-f6ca-94ee-8f30015339f9
* Version Independent ID: c4d8538b-f436-7e3d-0372-0aae84955e01
* Content: [Steps for

[2020-02-27 14:58] msbemba commented on #1274
@Mlavieri Thank you for your feedback. We have made changes to the doc via PR #https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1312

Thanks
Sri

[2020-02-27 15:17] msbemba commented on #1264
@Alex-Catalin  Thank you for your feedback. We have added the prerequisites to this document via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1313

Meanwhile, we have added the Content Explorer List viewer and Content Explorer Content viewer permissions to the document and necessary admin roles.

Thanks
Sri

[2020-02-27 15:32] msbemba commented on #1263
@Alex-Catalin  Thank you for the feedback, We have added the prerequisites to the document via PR #https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1314

Thanks
Sri

[2020-02-27 15:34] wfm2003 opened #1315 "Step 10: Unable to create a new policy targeted to all recipients in your domain"
I have Microsoft Business. When I attempt to add a new policy targeted to all recipients, the system does not allow a new policy. It only allows edits to the default policy. Is this a corporate licence problem or a configuration issue with ATP Safe Links?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea79921a-7f83-58f

[2020-02-27 15:36] wfm2003 opened #1316 "Step 9: Protect against malicious attachments"
The table in step nine recommends redirecting the email to a mailbox setup for quarantine. I do not want the attachment going to the general admin account. Does Microsoft have a recommendation for setting up a separate email account specifically for redirected quarantine? How is this account different from the default quarantine location?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-02-27 15:38] wfm2003 opened #1317 "Step 9: Protect against malicious attachments"
The table in step nine recommends redirecting the email to a mailbox setup for quarantine. I do not want the attachment going to the general admin account. Does Microsoft recommend setting up a separate email account specifically for redirected quarantine? How should it be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-27 15:38] wfm2003 opened #1318 "Step 9: Protect against malicious attachments"
The table in step nine recommends redirecting the email to a mailbox setup for quarantine. I do not want the attachment going to the general admin account. Does Microsoft recommend setting up a separate email account specifically for redirected quarantine? How should it be done?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-02-27 16:37] jaimeo commented on #1311
@jwmurraycmu could you double-check the sample files?

[2020-02-27 17:06] ddamian67 commented on #1305
@mypil - it is related to the link below:
https://docs.microsoft.com/en-us/microsoft-365/compliance/set-up-an-archive-and-deletion-policy-for-mailboxes?view=o365-worldwide

[2020-02-27 17:47] markjjo commented on #1305
@ddamani8 The retention duration is based on when an email message is created (i.e. when it's sent or received). So the policy will apply to existing messages. Please see:

https://docs.microsoft.com/en-us/Exchange/security-and-compliance/messaging-records-management/retention-age

[2020-02-27 17:47] #1305 closed

[2020-02-27 18:16] zerodrool opened #1320 "correcting info"
#1319
submitted pull request to correct info in article
DI=SN
DI=SO
these descriptions need to be swapped.
can provide link to technet article with example of HRDP showing SO, as well.

[2020-02-27 18:22] cabailey commented on #1257
@bloodytourists This article is now republished without the Azure AD instructions, and instead, link off to the Aure AD documentation where they have updated the syntax.

[2020-02-27 18:24] cabailey commented on #1088
@bybytaren - both articles are republished now for this clarification.

[2020-02-27 18:25] n1x0d commented on #1078
So it is recommended to set those options to off for the obscure reason that they are being incorporated some place else. This leaves more questions than answers.

Why should we turn them off exactly? What happens we I don't turn them off?
What has been incorporated somewhere else exactly? All features? Some of them? If we turn them off now, will we lose something? If not.. why?

Kindly give us so

[2020-02-27 19:44] bybytaren commented on #1088
Thank you for the care and attending to my need for clarification :)
Kind regards,
Eric

On Thu, 27 Feb 2020 at 19:24, Carol Bailey <notifications@github.com> wrote:

[2020-02-27 21:13] danmyhre opened #1323 "MemberOf"
In my testing, I had to use the proxyAddress of the group in order to get the segment to work.

I used
New-OrganizationSegment -Name "SegmentA" -UserGroupFilter "MemberOf -eq 'BlueGroup@contoso.com'"
instead of:
New-OrganizationSegment -Name "SegmentA" -UserGroupFilter "MemberOf -eq 'BlueGroup'"

Using just the group name produced the following error:

Could not run the command New-ExoInformationB

[2020-02-27 22:14] EricaToelle opened #1324 "How to Configure Reviewers for Esclation"
In the Escalate section, it says, "Escalate: ...you can choose who else in your organization should review the message. Choose from a list of configured reviewers..." Can you please add information to this article on how to configure the list of reviewers for this action? Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-02-28 01:13] mypil commented on #1315
@wfm2003 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so we

[2020-02-28 01:13] #1315 closed

[2020-02-28 01:16] mypil commented on #1317
Closing this as a Duplicate to issue #1316

[2020-02-28 01:16] #1317 closed

[2020-02-28 01:16] mypil commented on #1318
Closing this as a Duplicate to issue #1316

[2020-02-28 01:16] #1318 closed

[2020-02-28 13:19] ddamian67 commented on #1305
Thank you.

[2020-02-28 14:37] nelli-d opened #1325 "Block Sender Functionality"
As configured, users receive a daily Quarantine notification email with the "Block Sender" option for each quarantined email.  Using the Outlook 2016 client, if a user selects "Block Sender", the user's browser pops up with a message: “Spam message sender was blocked in quarantine.”  (Yes “quarantine”).

I can find no evidence that the sender is blocked in "Quarantine" but it does add the sender t

[2020-02-28 16:00] matopablo opened #1327 "Not available in ZAF (South Africa)"
Can we please update the doc to make the same statement for SouthAfrica than Germany and Switzterland? Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7b7a25a-4cf8-1b51-0c40-6afa334ca537
* Version Independent ID: 0033b96f-ee7b-0e9f-5287-4a5371ce3734
* Content: [FAQ about importing PST files to Office 365 - Micro

[2020-02-28 17:05] jaimeo commented on #1311
@jwmurraycmu

[2020-02-28 17:46] Aysan-kore opened #1329 "Reporting an issue"
This script works as expected but partially, As a global admin and one of the users in the security group, I can`t create Teams in MS Teams app. The button to create the Team exist but when I click in it, the only option is "Add to existing Group", this option is not available for people who are not part of the security group.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-02-28 19:52] millh0use opened #1331 "Broken Link"
The link for "Read WCAG reports for all our products and services." is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0368ee0-d8ae-cae1-c4a8-40c1e755b920
* Version Independent ID: 3ad2d527-8a1c-55c1-a40b-6b3876b468df
* Content: [Web Content Accessibility Guidelines - Microsoft Compliance](https://docs.microsof

[2020-02-28 22:28] martincoetzer commented on #1275
Thank you for this feedback. We are constantly looking at improving this content and will certainly consider your suggestions in our next round. A Zero Trust approach is important and this article can form part of an organization's bigger Zero Trust strategy. Check out our Zero Trust center for more information: https://www.microsoft.com/en-us/security/business/zero-trust

[2020-02-28 22:28] martincoetzer commented on #1275
#please-close

[2020-02-28 22:35] #1275 closed

[2020-02-29 03:30] mypil commented on #1291
@ckssaas - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit [xxxx].

Thank you for your contribution to make the docs better! Much appreciated!

https://github.com/MicrosoftDocs/microsoft-365-docs/commit/7487707a82d1f6619a7e57752c142f6fc7267fd1

[2020-02-29 03:30] #1291 closed

[2020-02-29 03:43] mypil commented on #1320
@zerodrool - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/539ac671aad7555a84ad8d27e30026de0d964273.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-02-29 03:43] #1320 closed

[2020-02-29 19:23] Mike-Crowley commented on #1306
Office 365's DNS hosting service is for small businesses. If you want API access to DNS, you should look at Azure DNS or other enterprise DNS services.

[2020-03-01 10:52] dlawrences commented on #1306
Alright, thanks!

[2020-03-01 10:52] #1306 closed

[2020-03-01 11:14] 12Knocksinna opened #1333 "Teams compliance records"
Conversations are not stored in EXO folders. The items held in the Team Chat folder are compliance records - they are imperfect copies of conversations and only exist in EXO to allow searches to be performed against their content.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae0d608-5520-a99d-808e-c2cb475f015c
* Ver

[2020-03-01 11:37] valandilis opened #1334 "Lab Kit broken"
Hello all,

Thanks for doing this.

This one has a few issues for me.
Yes, the file downloads fine, tried a second time just in case.
But the lab builds partially, no clients are created, but their vhdx are exported in the root folder.
The odd one, I created the client's folders manually and the installation was successful.

Another issue now is that the ADUC and GPMC are extremely slow to respond

[2020-03-01 12:15] mypil commented on #1334
@valandilis - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-01 12:26] valandilis commented on #1334
My bad, I just saw the page has an add feedback here tab:

https://docs.microsoft.com/en-us/microsoft-365/enterprise/modern-desktop-deployment-and-management-lab?view=o365-worldwide#feedback

[2020-03-01 13:48] mypil commented on #1308
@mfnaqvi - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a similar request that you can

[2020-03-01 13:48] #1308 closed

[2020-03-01 14:59] mypil commented on #1334
@valandilis - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so

[2020-03-01 14:59] #1334 closed

[2020-03-01 15:01] mypil commented on #1150
@Yorkwu1 - Can you please respond to the query of joinimran?

Thank you.

[2020-03-01 15:02] mypil commented on #1186
@Tosue   - Can you please respond to the query of joinimran?

Thank you.

[2020-03-01 15:04] mypil commented on #1222
@terrogin   - Can you please respond to the query of joinimran?

Thank you.

[2020-03-01 15:07] mypil commented on #1233
@fhvasco - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-01 15:07] #1233 closed

[2020-03-01 15:19] mypil commented on #1304
@jason-collab - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution

[2020-03-01 15:19] #1304 closed

[2020-03-01 15:20] mypil commented on #1329
@Aysan-kore - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so

[2020-03-01 15:20] #1329 closed

[2020-03-01 21:00] msbemba commented on #1252
@GiantCrocodile There is no option to approve or decline the actions. However, the best you can do is to assign the roles/ There are two security groups, Admin Agents and Helpdesk Agents, more information can be found below.

https://docs.microsoft.com/en-us/partner-center/customers_revoke_admin_privileges#delegated-admin-privileges-in-azure-ad

[2020-03-01 21:10] Tosue commented on #1186
Sorry I see attacks are covered, but there is no information on the results of attacks, reports, post-attack tasks, and user experience

[2020-03-01 21:18] PeteHaigh-MSFT opened #1335 "Broken links"
Hi team - a number of the download links are broken - file links below the images. The ones above the poster images are OK :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9377794-433d-4522-0b01-e9182283019a
* Version Independent ID: 9d9134d2-adaf-64df-ab10-780d9e5ca1b1
* Content: [Microsoft 365 for enterprise overvi

[2020-03-01 22:11] caiodaruizcorrea-avanade opened #1336 "Australia Bank Account Number Type incomplete"
It seems that the "Australia Bank Account Number" type hasn't been fully setup with its keywords.
It might have been copied from other countries such as the US details (usa account) which is not relevant.
It would be great to have the Australian keywords such as Bank Account Number, Bank Account, Account Number, Savings Account, BSB, and so on.

---
#### Document Details

⚠ *Do not edit this secti

[2020-03-02 07:32] michevnew opened #1337 "Audit events RecordType"
Folks, the events I'm seeing in the audit log have a RecordType of "Discovery", not "DataGovernance" as suggested above. In addition, multiple events with the "AeD" RecordType are generated when working with policy matches, so you might want to include those as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ea14

[2020-03-02 10:09] turnma opened #1338 "Clarification needed on Teams data"
The article states that only Exchange/SharePoint/ODfB are in scope.  But it also says that Lockbox is used when "customer content" is accessed, and the definition of customer content in the article includes items such as "Skype for Business presentation file body" and "Instant messages (IM) or voice conversations", both of which sound more like SfB/Teams data.  Some Teams data is presumably protec

[2020-03-02 14:09] xivizi opened #1339 "Does the static IP have to be unique?"
Does the 'static IP' as referred to in the section 'Update DNS records in the Microsoft 365 admin center' have to be a unique static IP?

I already have a static IP address but it has 5 separate websites (different domains) on this static IP address each with their own separate SSL cert.

Would this current static IP be OK or do I have to get another static IP specific to the public domain?

Clari

[2020-03-02 15:02] xivizi commented on #1339
... just to clarify, each of the existing 5 domains on the static IP address has its own cPanel account.  Thank you

[2020-03-02 15:08] GiantCrocodile commented on #1252
I will check this out in the next days and come back to you to confirm this did help or to ask for further details. Thank you!

[2020-03-02 16:01] robmazz commented on #1331
@millh0use - thanks for the feedback, updating the topic with the correct link (https://cloudblogs.microsoft.com/industry-blog/government/2018/09/11/accessibility-conformance-reports/).

[2020-03-02 16:01] #1331 closed

[2020-03-02 16:52] eschrader opened #1340 "Guest users"
Users in a tenant require the security addons or E5, but what about guest users in the tenant? Is there a 1 to 5 license ratio or what retention time if any are advanced compliance features available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 518cc4fa-16a4-9793-530f-fcc371273a2d
* Version Independent ID: f07fb0ad-

[2020-03-02 16:56] cabailey commented on #1021
Right - the initial response was based on the two main options in SharePoint Online site creation - communication site and Team site backed by an Office O365 group. But you can create two more types: Team site without an Office 365 group, and classic (legacy) site. These count as non-group sites as well.

[2020-03-02 17:48] chrisda commented on #1186
Massive updates were made to this topic. They're under review now.

[2020-03-02 18:25] Robright opened #1342 "Incorrect Content"
The following highlight is incorrect: "If a person isn't a member of one of these eDiscovery-related role groups, or isn't a member of a role group that's assigned the Reviewer role, you can't add them as a member of an eDiscovery case."

You can add users to cases who don't have these permissions, but they just won't see the eDiscovery menu-option in the Security & Compliance center. You can assi

[2020-03-02 18:34] Robright opened #1343 "Incorrect content"
The following is incorrect: "As previous explained, only users who are members of the Reviewer or eDiscovery Manager role groups can be added as members of the case. "

You can add members to the cases without them having these permissions; they just won't be able to see the eDiscovery menu option when they go to the Security & Compliance center.

---
#### Document Details

⚠ *Do not edit this sec

[2020-03-02 21:43] raaghavvv opened #1345 "Incorrect value was updated"
There was DI=SN set to the "message was routed through the HRDP". This is my first time i've noticed incorrect Microsoft Article. I had submit a request to the support to change it to DI=SO as my research says it should be DI=SO

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b58f8e2c-428a-4d8e-e8b7-a0342a0038db
* Versi

[2020-03-02 22:27] giterdn opened #1346 "What subscription do you have to have?"
Please indicate what subscription minimum is required for this feature (e.g. Office 365 E1, Microsoft 365 E3, etc.)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd283c0e-1421-d45d-83de-db7210a43936
* Version Independent ID: 33f52f1e-86e1-8b07-5420-4549597f3d63
* Content: [Communication compliance - Microsoft 365 Comp

[2020-03-02 22:53] chrisda commented on #1345
@raaghavvv, are you saying the topic as currently written is correct or incorrect?

[2020-03-02 22:56] chrisda commented on #1309
@adavisgann, fixed. Thanks for the feedback.

Closing

[2020-03-02 22:56] #1309 closed

[2020-03-03 03:00] mypil commented on #1254
@GiantCrocodile - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/5c3d54d2a4712fd777e9e1e7e313fb60cc22e6b9.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-03 03:00] #1254 closed

[2020-03-03 04:06] johnm-office opened #1348 "'Unlicensed users with Exchange mailboxes or archives' filter not working"
All unlicensed users with mailbox showing in the exchange admin center are not displayed when we select this specific filter in O365 admin center &gt; Active users. Is this a know issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c070b6fc-af4d-3f7e-42d6-86bf0f450a9b
* Version Independent ID: 3545ea9f-7ae1-e5ab-94ed

[2020-03-03 05:39] MaratMussabekov commented on #1282
Hello @JasonSherry ,

"Upgrade distribution lists to Office 365 Groups in Outlook" doesn't mean "Upgrade distribution lists to Office 365 Groups **using** Outlook" it means
Upgrade objects called "**distribution lists**" to objects called "**Office 365 Groups in Outlook**"

So basically you are using Exchange Admin Center to transform **distribution lists** to **Office 365 Groups in Outlook**

It

[2020-03-03 06:22] raaghavvv commented on #1345
It’s correct now, it’s updated on Friday. Prior to that it was incorrectly updated, I had to open a ticket with Microsoft to correct it.

[2020-03-03 07:12] musiq787 opened #1350 "Licensing"
Hi Team, this article specifies required licenses as Microsoft 365 E5 or Office 365 E3 with Advanced Compliance Add-On. Can you please confirm if this product is also available as part of the Office 365 E5 license? Organisations may not need to upgrade to Microsoft 365 E5 because they don't need additional Windows 10 or EMS features.

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-03-03 07:17] Jayesh040 opened #1351 "SOC 2 implementation cost in Azure."
Can anyone please help me with SOC 2 implementation cost in Azure, Also the pre-requisites and how can we implement the SOC 2 compliance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c26ea6-a3a4-0ad3-57db-f6b713738e2b
* Version Independent ID: 4856d3b2-bdec-a8c8-0a3b-3e2d89f117f1
* Content: [Service Organization Co

[2020-03-03 13:52] lmarianko commented on #1264
Does this work in GCC tenants?  I don't see the permission you mention nor the content explorer view.  Tx.

[2020-03-03 14:11] feetsdr opened #1352 "Which is right?"
This page

https://www.microsoft.com/en-us/microsoft-365/blog/2014/11/12/office-2013-updated-authentication-enabling-multi-factor-authentication-saml-identity-providers/

makes it sound like the registry entries mentioned above shouldn't be needed because:

Later this month (back in 2014) we will release an update to the Office 2013 Windows client applications that enables new authentication flows

[2020-03-03 14:12] feetsdr commented on #1352
Oh, and in setting up this comment, I had to create a github account.  I'd have thought since github is owned by microsoft it would take my microsoft account?  That wasn't the case.

[2020-03-03 16:03] #980 closed

[2020-03-03 16:08] Mike-Crowley commented on #689
I agree, this article should state that this feature is limited to ATP, if true. Which, according to this other article, it is: https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/protect-against-threats?view=o365-worldwide#requirements

[2020-03-03 16:19] Beschorr opened #1353 "Subscription Requirements?"
It would be useful to have info on the page that indicates which subscription levels can use this feature (or a link to a page that explains that).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd695b47-a713-a904-9f2e-9c6c3e27bb18
* Version Independent ID: 60198f81-59f6-5ad2-53ea-a4d352125026
* Content: [Overview of t

[2020-03-03 16:36] Robright opened #1354 "Misspell"
"Over time, the list of custodians and their data sources may increase or decreasse"; decrease is misspelled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d9a53db-59c2-5fdf-107b-a396acea8099
* Version Independent ID: 3d8adbaf-c351-1948-6a67-b54223cabde7
* Content: [Work with custodians in Advanced eDiscovery - Micro

[2020-03-03 17:00] markjjo commented on #1354
@Robright Thanks for heads up. For typos, you can also fix these and then submit a pull request.

[2020-03-03 17:00] #1354 closed

[2020-03-03 17:01] cabailey commented on #1125
@Houti  Confirmed.  The docs currently describe the paths for retain and then delete (probably the most common, and the most complex).  For completeness, they need updating for retain-only, and delete-only.  This doc update is now in progress and I'll update this issue when it's published.

[2020-03-03 18:02] Sirkkuw commented on #1287
@tmguinn  I still see the AutoPIilot steps within Microsoft 365 Business as they are described in the document. I think that the Intune docs have maybe changed?

[2020-03-03 18:02] #1287 closed

[2020-03-03 18:03] Sirkkuw commented on #1282
@MikePlumleyMSFT this feels like your documentation area.

[2020-03-03 18:38] markjjo commented on #1353
@Beschorr Please see: https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licensing-guidance#advanced-ediscovery

Will look into adding a link to this service description in overview topic.

[2020-03-03 18:38] #1353 closed

[2020-03-03 18:40] Sirkkuw commented on #1316
You can set up any email to receive the mail. Note that the account will have to have a license for the email account you use.

[2020-03-03 18:40] #1316 closed

[2020-03-03 18:43] markjjo commented on #1340
@eschrader  Please see: https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licensing-guidance#advanced-ediscovery

Adding users as custodians to an AeD requires that users are licensed appropriately.

[2020-03-03 18:43] #1340 closed

[2020-03-03 20:36] markjjo commented on #1342
@Robright Thanks for the heads up. Article has been updated.

[2020-03-03 20:36] #1342 closed

[2020-03-03 20:36] markjjo commented on #1343
@Robright Thanks for the heads up. Article has been updated.

[2020-03-03 20:36] #1343 closed

[2020-03-03 20:37] chrfox commented on #1323
@danmyhre
- Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

[2020-03-03 20:37] #1323 closed

[2020-03-03 20:38] markjjo commented on #1333
@12Knocksinna Thanks for the feedback. Article has been updated in attempt to address your feedback.

[2020-03-03 20:38] #1333 closed

[2020-03-03 20:40] Robright commented on #1354
Thanks Mark! I didn’t know I could do it myself. 😊 Thanks for the heads-up…

Thanks,

Rob

[cid:image001.jpg@01D5F171.FCD084A0]

Rob Bright

Sr Premier Field Engineer (SharePoint)
Mobile:   513-312-6260
rob.bright@microsoft.com<mailto:rob.bright@microsoft.com>

If you have feedback of any kind, please email my manager, Tammy Calvin<mailto:tammyc@microsoft.com>

From: Mark Johnson - MSFT <notificat

[2020-03-03 21:10] chrfox commented on #1224
HI @DeanGross
Both types of classifiers refers to built-in and trainable, fixed, sorry for the confusion

[2020-03-03 21:10] #1224 closed

[2020-03-03 22:22] DragonSpeedTheB opened #1355 "Date Governance should be Data Governance"
Twice in this document:

Go to the Date governance &gt; Retention page in the Security & Compliance Center

This should be:

Go to the *Data* governance &gt; Retention page in the Security & Compliance Center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac0819e-2ed8-d57f-35f5-cfa5210210a9
* Version Independent ID: 6

[2020-03-03 22:34] Robright commented on #1354
Hey Mark, quick question: Do you have a link on submitting these via a pull request?

Thanks,

Rob

[cid:image001.jpg@01D5F182.038D6BE0]

Rob Bright

Sr Premier Field Engineer (SharePoint)
Mobile:   513-312-6260
rob.bright@microsoft.com<mailto:rob.bright@microsoft.com>

If you have feedback of any kind, please email my manager, Tammy Calvin<mailto:tammyc@microsoft.com>

From: Mark Johnson - MSFT <

[2020-03-03 22:46] markjjo commented on #1355
@DragonSpeedTheB Thanks for the heads up. Not only was "data" misspelled but this node in the SCC is now called "Information governance". Updated topic should be live later today or by tomorrow.

[2020-03-03 22:46] #1355 closed

[2020-03-04 00:56] tsullyman opened #1356 "Commands Missing"
"Get-AzureADDirectorySetting : The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet"

Getting this, fixed by uninstalling azuread and installing azureadpreview but this is not clear enough in the doco.

[2020-03-04 01:22] jwmurraycmu commented on #1311
@jaimeo , heya - confirmed! Sorry for the delay, but this is a good change to make. The system is smart enough to ignore the hash field in this situation, but it's still confusing. I suggest eliminating the extra field from the partner content.

[2020-03-04 03:42] msbemba commented on #1264
@lmarianko Commercial Office 365 tenants should see this preview functionality, but there's no news when it might be available for GCC tenants.

Thanks
Sri

[2020-03-04 07:57] catshout opened #1357 "Avoid (globally) spam classification when a recipient of an e-mail sends be back an answer"
Dear all,

we started using Office365 Business in our company. I send an e-mail to an external recipient. This recipient sends me a reply. Despite I've sent the e-mail before the reply is being flagged as SPAM and moved into my Junk folder.

Is there a global setting, that recipients of e-mails are automatically whitelisted to avoid that every user must whitelist every recipient manually?

Many th

[2020-03-04 10:24] mikumeda opened #1358 "No need Exchange hybrid delpoyment for searching"
It says that you can use Teams chat application if you have Exchange hybrid deployment in this Docs.
But as a fact, the written requirements and limitaions doesn't say you need to have Exchange hybrid deployment, and I say that you do not need such an environment, you just only need a dir sync environment for the search.
The picture in "How it works" and the writing may leed that you need a hybrid

[2020-03-04 16:06] denisebmsft commented on #1356
Hello @tsullyman, can you tell us to which article this feedback applies? That will help us route this issue to the correct writer. Thank you!

[2020-03-04 16:09] terrogin commented on #1222
Yes, would you like the entire email chain here, or is there somewhere better I can send it?

[2020-03-04 16:41] kellybos opened #1359 "New Compromised User report details missing"
In MC203355 there is notice about a new Compromised Users Report that is not documented on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51e62b98-5f0c-8fc3-8163-c028fa5a6445
* Version Independent ID: b8262fa8-ff97-db0a-b2b5-4dd624fb057b
* Content: [View reports for Office 365 Advanced Threat Protection, mal

[2020-03-04 16:52] markjjo commented on #1358
@mikumeda Thanks for feedback. We'll see if we can update topic about DirSync. One of the points this article is trying to make is that you can use cloud-based eDiscovery tools to search for Teams-related content even though a user might not have a cloud-based mailbox (in which Teams contents is associated with and can be returned in search results when searching mailboxes). An Exchange hybrid dep

[2020-03-04 16:52] #1358 closed

[2020-03-04 16:56] kellybos commented on #1359
Disregard. Information about this report is now available here with a link from the SCC - https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/view-email-security-reports?view=o365-worldwide#compromised-users-report-new.

[2020-03-04 17:16] agoldenlife opened #1360 "Still incorrect steps."
Already had an issue for this #1076.  So I will create a new one and reiterate to get it fixed as the old one is closed.

Section, "What does an illicit consent grant attack look like in Office 365?"
Sub section, "Steps for finding signs of this attack"

**Step 4 is not correct.**

- First you must click a "Filter Results" button.
- Next you must put something into one of the columns
    - Column

[2020-03-04 23:08] kellybos opened #1361 "Please include more information about Compromised User report"
Can you share further details on the guidelines for restricting or considering users compromised?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 69178933-1820-f17d-5efd-0ba9d55c3654
* Version Independent ID: a6766bb0-e49f-f0fe-0d81-67383e22a854
* Content: [View email security reports in the Security & Compliance Center

[2020-03-04 23:50] mypil commented on #1357
@catshout - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-05 00:07] mypil commented on #1359
@kellybos - Thank you for submitting feedback.

From your last comment, it appears that you found the resolution of your issue so I will go ahead and close this issue.

Please feel free to open a new issue if you find any documentation error or if there is a specific area of the docs that we can improve on and we will be glad to help fix it. Thank you.

[2020-03-05 00:07] #1359 closed

[2020-03-05 00:28] markjjo commented on #1358
@mikumeda Based on our offline conversation, I will investigate updating this topic to address non-hybrid deployments, and then update the topic accordingly. I will follow up on this GitHub issue if/when topic is updated.

[2020-03-05 04:58] joinimran commented on #1222
@terrogin - Can you please share the entire email chain that will surely help to extract the required information.

[2020-03-05 06:32] catshout commented on #1357
@mypil I'm referring to https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/configure-your-spam-filter-policies?view=o365-worldwide

[2020-03-05 06:47] takeakitake opened #1362 "Is M365B included Intune full license?"
Hello,

There are written in this page like this.
---
Does Microsoft 365 Business include the full capabilities of Microsoft Intune?
Yes, Microsoft 365 Business subscribers are licensed to use full Intune capabilities for iOS, Android, MacOS, and other cross-platform device management. Features not available in the simplified management console in Microsoft 365 Business, like third-party app manag

[2020-03-05 11:30] stuartschifter-AMA opened #1363 "This page has not been updated in over 2 years and the Notification email structure is not correct"
This page has not been updated in over 2 years and the Notification email structure no longer matches production

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98aa8fb0-57c8-f677-6543-2162cece3f4c
* Version Independent ID: cc5328d9-91c1-4f68-ef03-abafe1eb9ac4
* Content: [Sample notification when a sender is blocked sen

[2020-03-05 13:12] fuytters opened #1364 "Privacy statement"
Hello, I was wondering if you have a privacy statement around the process of end-user submitting emails to your platform using the Report Message Add-in for Microsoft Outlook? What is actually submitted and how is it processed? Thanks in advance for clarifying.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b12c078-ec

[2020-03-05 14:05] BrunoDrljanovcan opened #1365 "Missing audit activities"
Not all existing audit activities are listed.

e.g. **Exchange admin audit log** type does not have any activity listed.
Also activities from **Security and Compliance** center that exist like RemoveRetentionComplianceRule, NewSupervisoryReviewRule etc.

There are for sure more that exist but are not listed as well. It would be nice to have all existing audit activities listed here in one place.

[2020-03-05 15:44] ceaton001 opened #1366 "Listing future retirement date"
"Devices that are out of compliance" section states that device future retirement date is list on the MMD portal. I can't see that anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2c9bf7d-827d-5c9c-9753-ab3613eeb952
* Version Independent ID: 889b6ae7-3283-0597-569d-ac178ff2289d
* Content: [Microsoft Managed De

[2020-03-05 15:47] ceaton001 opened #1367 "Reduced Admin Portal functionality"
"Devices that are out of compliance" section states that Admin Portal functionality will be reduced until new devices are deployed. Does that mean functionality is reduced ONLY for the out of compliance devices and not Current devices?
What does reduced functionality mean in practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-05 15:59] robmazz commented on #1337
@michevnew - thanks for the feedback. This is a good point and we've updated the PS examples in the Auditing section (https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-feature-reference) to reflect different record type queries. Thanks again!

[2020-03-05 15:59] #1337 closed

[2020-03-05 16:04] robmazz commented on #1346
@giterdn - thanks for the feedback, the subscription requirements are outlined in the Before You Begin section on the Getting Started topic here (https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-configure).

[2020-03-05 16:04] #1346 closed

[2020-03-05 16:19] jaimeo commented on #1366
I'll engage some SMEs for you on the question of the Portal, but in the meantime, the Device list topic (https://docs.microsoft.com/en-us/microsoft-365/managed-desktop/service-description/device-list?view=o365-worldwide) is always a reliable source for the retirement dates.

[2020-03-05 16:30] jaimeo commented on #1366
@jwmurraycmu can you investigate and advise on this report that the MMD portal (I assume aka.ms/mmdportal) should be showing a device retirement date list but isn't?

[2020-03-05 16:32] jaimeo commented on #1367
@jwmurraycmu another question you might be able to help us clarify?

[2020-03-05 18:17] fselkirk commented on #1303
I am also looking at this and see:
•	The boxed note states that _each user who edits items with automatically applied labels_ needs an E5 license.
•	The section on automatically applied labels implies that only _the administrator who creates and applies the policy to automatically apply labels_ needs an E5 license.
•	The parenthetical in the section on default labels implies that _the user who con

[2020-03-05 20:50] deividfoggi opened #1372 "Make licensing statement clearer for auditing operation "MailItemsAccessed""
I think the statement below could be clearer about licensing requirements. It should be something more explicity such as "Office 365 E5 and Microsoft 365 E5". I have customers who made confusion thinking something like "it is valid for all Office 365 license SKUs and Microsoft 365 E5".

"Messages were read or accessed in mailbox. Audit records for this activity are triggered in one of two ways: wh

[2020-03-05 20:51] chrisward2020 opened #1373 "A little perplexed"
Hi, I'm trying to work out if I can use "Office 365 Home" to receive my email (by redirecting from my current provider).  This document seems to confirm that I can but I got very confused and worried by the warning box at the end: "If you are not using an Exchange license, you cannot use the domain to send or receive emails from the Office 365 tenant.".
I do not understand what this means. Specifi

[2020-03-05 21:00] cobdev commented on #689
Hello Everyone,

I'm trying to evaluate the virus scan status of list items using the "VirusStatus" column.  I'm using PowerShell in combination with the Microsoft.SharePoint.Client.  I can get a result for each file's "VirusStatus" attribute, but I can't make heads or tails of the data.

For example, I have two files in the target Document library that I'm pulling down.  When looking at the data

[2020-03-05 21:29] ddamian67 commented on #1305
Thank you for the information it was very helpful. I set up the Retention policy and applied it to a test mailbox with existing e-mails older than 10 years, forced the "Managed Folder Assistant" and the policy worked.

[2020-03-05 22:13] dugatlin opened #1374 "HP EliteBook 1040 and IR camera"
The HP EliteBook 1040 always come with both the IR camera and fingerprint reader.
So, please remove reference to the IR camera from the HP EliteBook 1040.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 17190dc0-d62a-586f-d938-6666196c0092
* Version Independent ID: 0facfcae-f033-e4dd-a860-42ebd229b2d0
* Content: [Micros

[2020-03-05 22:25] markjjo commented on #1372
@deividfoggi Thanks for the feedback. Good suggestion. I will incorporate. Also, since you are internal Microsoft, please following these steps in this topic to associate your GitHub and corp account so you will be identified as a Micorosoft submitter when you open GitHub issues and PRs. Thanks.

[2020-03-05 22:49] markjjo commented on #1372
@deividfoggi Here is link to GitHub topic: https://review.docs.microsoft.com/en-us/office-authoring-guide/contribute-get-started-setup-github-ro?branch=master

Changes to auditing topics should be live by end of day.

[2020-03-05 23:09] kellybos opened #1375 "Get/Remove-BlockedSenderAddress"
There are no pages for the Get/Remove-BlockedSenderAddress that provide details about cmdlets. There are pages for other cmdlets that outline the parameters and limitations.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c17e50d-aa8f-bd30-66af-ef4d63f02402
* Version Independent ID: 92cbda3f-c3a9-ed20-2038-7e966f491934

[2020-03-06 01:16] jwmurraycmu commented on #1366
@jaimeo, we actually display the device's age on the MMD portal. This is is because devices each have individually separate retirement dates which is 3 years after it's initially registered. On the device list page we show the retirement date for the model across the ecosystem, meaning no new devices of that model will be allowed to be registered after that date.

All of that said, ceaton001 is co

[2020-03-06 01:25] jwmurraycmu commented on #1367
@jaimeo , we should remove this section I think. The portal functionality it references is not released, and thus the answer to ceaton001's question is "TBD".

[2020-03-06 01:50] cabailey commented on #1303
Thank you for your feedback. After careful consideration, all licensing statements have been removed from this article and your feedback has been passed along so that they can be incorporated into one of the following articles that are dedicated to licensing:

https://docs.microsoft.com/en-us/office365/servicedescriptions/office-365-platform-service-description/office-365-securitycompliance-center

[2020-03-06 01:50] #1303 closed

[2020-03-06 08:09] pengbobobo1987 opened #1376 "test1"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9377794-433d-4522-0b01-e9182283019a
* Version Independent ID: 9d9134d2-adaf-64df-ab10-780d9e5ca1b1
* Content: [Microsoft 365 for enterprise overview - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-o

[2020-03-06 12:28] MHamilton-Ryder opened #1377 "Step 6: Stop auto-forwarding for email"
The suggested name for the exchange rule is misleading. The rule as suggested will prevent auto forwarding to ALL domains (including internal users) not just external domains. It will also block any user rules which forward emails to other internal users. Adding another condition to the rule where the "recipient is outside the organisation" should make the rule function as described.

---
#### Doc

[2020-03-06 12:46] PrasadKasireddy commented on #1376
@pengbobobo1987  - it is not clear your query, please update the full details.

[2020-03-06 14:20] Padavid commented on #1303
@Carol Bailey it would be useful to have links to those two article in the document so people know to look at them for licensing question.

Also as feedback it very unclear in those two articles if I need E5 to do default labeling of libraries. Before it seemed clear and now it seems very unclear. Personally I liked it in the article as it was very clear but not consistent.

From: Carol Bailey <no

[2020-03-06 14:39] cabailey commented on #1303
@Padavid  Yes, I'll add them when these details are incorporated into those articles, but at the moment they do not so it wouldn't be very helpful.  In the meantime, people can get the links from this thread and do feel empowered to add feedback onto those pages for the changes you would like to see.  Licensing is owned by a different team, so when questions/feedback get reported from this page, I

[2020-03-06 16:15] jaimeo commented on #1367
OK @jwmurraycmu you can remove the section yourself, or let's chat offline about what exact change you're suggesting.

[2020-03-06 16:41] chvukosw commented on #1274
PR merged, thank you.

[2020-03-06 16:41] #1274 closed

[2020-03-06 17:16] jaimeo commented on #1374
@rekhanr - up to you if you feel this editorial suggestion is needed.

[2020-03-06 22:18] chrfox commented on #1268
Hi @AveryBaker
Thanks for your comment, it has been addressed in the document and published

[2020-03-06 22:18] #1268 closed

[2020-03-06 22:20] #1264 closed

[2020-03-06 22:20] #1263 closed

[2020-03-06 22:24] chrfox commented on #1222
HI @terrogin
If you can, and it doesn't violate any of your orgs privacy rules or laws, please update this thread with the relevant context, problem and resolution of your support issue.

[2020-03-06 22:25] chrfox commented on #1219
@terrogin
issue addressed in content and published

[2020-03-06 22:25] #1219 closed

[2020-03-06 22:28] chrfox commented on #1336
Hi @caiodaruizcorrea-avanade
Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Office 365/Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a

[2020-03-06 22:28] #1336 closed

[2020-03-06 23:26] terrogin commented on #1222
I will, yes, but need a little time to clear identifying information. As a side note, I've performed additional testing that appears to confirm support's response on the matter.

Sent from Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Chris Fox MSFT <notifications@github.com>
Sent: Friday, March 6, 2020 2:24:53 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft

[2020-03-07 00:09] markjjo commented on #1301
Closing

[2020-03-07 00:09] #1301 closed

[2020-03-07 00:11] markjjo commented on #1327
Closing as per internal discussion that we only document were PST import is available.

[2020-03-07 00:11] #1327 closed

[2020-03-07 00:19] markjjo commented on #1365
@BrunoDrljanovcan Thanks for the feedback. In both of these cases that you cite (Exchange admin and Security&ComplianceCenter), these activities result from running PowerShell cmdlets, which are too numerous to include in this topic. In both cases, these activities are already documented in that the cmdlet is documented at https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchan

[2020-03-07 00:19] #1365 closed

[2020-03-07 01:39] RyanBlakeIT opened #1382 "Order of priority incorrect"
It should be Security and Compliance Center then the Exchange Transport Rules as that's what "Microsoft" (v-) even told me after responding to a ticket I created.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5821435a-93ce-3ba9-312d-fb61a9dae127
* Version Independent ID: aaf49dab-bbdc-4c84-f9ef-a768da673279
* Content:

[2020-03-07 04:47] EricaToelle opened #1383 "The Default SharePoint members group has edit access"
Hi - small thing, but in the section "Locking and unlocking a record" you say "...any user in the default Members group (the Contribute permission level) can unlock a record or lock an unlocked record."

The default SharePoint members group actually has the edit permission level, not the contribute level, which are two completely different things. Can you please update it? Thanks!

---
#### Docume

[2020-03-07 08:29] sing-ideas opened #1384 "Doc needs to clarify whether Tenant ID, Directory ID, Power Apps Tenant are one and the same?"
Doc needs to clarify whether the tenant sub-domain created at the time of signup
&lt;Name&gt;.OnMicrosoftOnline.com
is mapped to Tenant ID, Directory ID, Power Apps Tenant are one and the same?

https://docs.microsoft.com/en-us/onedrive/find-your-office-365-tenant-id

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 46a11

[2020-03-07 11:59] BrunoDrljanovcan commented on #1365
I understand, thank you for quick response.

[2020-03-07 19:29] mancerayder opened #1385 "Missing files in ZPAQ?"
Hi, I've tried to unpack ZPAQ from the Windows and Office Deployment Lab Kit file twice in different locations, making sure the folder the files extracted to does not contain spaces. It seems like the Client VMs are missing files, so the CLIENT VMs are not created, only the Server ones. Please see example errors.

PSHostUserInterface.ERROR: Failed to create a new virtual machine.

'HYD-CLIENT1' fa

[2020-03-07 20:31] EricaToelle opened #1386 "Update preservation hold library information"
Hi - in the section "How long until disposed content is permanently deleted" it says "Content in the Preservation Hold library will be permanently deleted within 7 days of disposition." This has changed recently and the information should be updated. Content from the preservation hold library is now moved to the second stage recycle bin and kept for 93 days.

Here are the details about the current

[2020-03-07 20:38] cabailey commented on #1386
@EricaToelle  Yes, thank you - this content is in the process of being updated and includes this correction.

[2020-03-07 20:39] itguysocal opened #1387 "MailItemsAccessed should have an asterisk since it is now default"
In the section "Logon types and mailbox actions" the MailItemsAccessed does not have an asterisk but it should because it is now enabled by default as long as the DefaultAuditSet is applied. I tested this in my tenant and confirmed it is enabled by default for all three logon types (Owner, Delegate and Admin)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2020-03-08 00:26] mypil commented on #1385
@mancerayder - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-08 00:30] mancerayder commented on #1385
Hi @mypil , I'm referring to this:
(https://docs.microsoft.com/en-us/microsoft-365/enterprise/modern-desktop-deployment-and-management-lab?view=o365-worldwide)

[2020-03-08 12:05] mypil commented on #1376
@pengbobobo1987 - Can you please share what specific issue you have with this doc? Or are you having some technical issues which requires technical support?

If you have some issues with this doc, we would really appreciate if you are able to help by providing more details as to what should be edited and/or included. Thank you!

[2020-03-08 12:14] mypil commented on #1325
@nelli-d - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com/forums/289138-office-365-security-compliance)**.
You might find oth

[2020-03-08 12:14] #1325 closed

[2020-03-08 13:22] lovethakker02 opened #1388 "Issues with updating manager value"
We have set up 2 additional alias  for some of our business users by following [this](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/admin/email/add-another-email-alias-for-a-user.md) link. This created separate User profile which is not mentioned in documentation.

But the real issue is the manager field used in the user profile is not syncing now. The manager user

[2020-03-09 06:49] sing-ideas opened #1390 "Is it correct to understand Many Domains Emails are received in 1 O365 Login?"
Doc need to clarify the understanding is correct or not. If I can add up to 900 domains to a single O365 Subscription, does that mean if I have 10 website domains for 10 brands of products/services under a same single legal business entity, I can send email from one O365 login with different From Email Address with unique email ID for each brand. All I have to do is update the same Mx Record in DN

[2020-03-09 11:23] bakerm00 opened #1391 "Missing Definition of "Sensitivity Label Reader""
its a default under Security Reader

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b34b5c8-b67e-72f2-0eba-d98b760f1d16
* Version Independent ID: adcd41fb-ffd1-f6d0-96ad-0036c0a677a7
* Content: [Permissions in the Office 365 Security & Compliance Center - Office 365](https://docs.microsoft.com/en-us/microsoft-365/secur

[2020-03-09 11:52] bruun365 opened #1392 "Double With"
in combination **with with** other indicators

[2020-03-09 16:40] denisebmsft commented on #1392
Hello @bruun365, to which article(s) does your feedback apply? This will help us route it to the correct team/writer. Thanks!

[2020-03-09 19:29] chrisda commented on #1391
@bakerm00, OK. Done. Thanks for the feedback. Closing.

[2020-03-09 19:29] #1391 closed

[2020-03-09 20:41] terrogin commented on #1222
Here is the conversation. I've removed the ticket # and other information:

-------------------------------------------------------------------------------------
Support Personnel (Microsoft)
	Monday, October 21, 2019 5:12 PM GMT
	The expectation for reporting is that you do need at least one action configured or there's no need for reporting.  The behavior you have with the custom SI and TEAMS is

[2020-03-09 20:45] terrogin commented on #1222
Here is the email chain. I've removed the ticket number and other identifying information. The email chain is a follow-up to a phone conversation where we noticed that default information types were not triggering DLP alerts while custom information types were. Each policy was configured without an action.

-------------------------------------------------------------------------------------
Suppo

[2020-03-09 22:47] arafa-ettemlali commented on #977
hey can you explain this to me please
X-Message-Delivery: Vj0xLjE7dXM9MDtsPTA7YT0xO0Q9MjtHRD0yO1NDTD02
V=1.1;us=0;l=0;a=1;D=2;GD=2;SCL=6

[2020-03-10 00:18] mypil commented on #1150
@Yorkwu1 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-03-10 00:18] #1150 closed

[2020-03-10 02:52] knssub commented on #1208
Can you pls open this, this request is closed without verification

[2020-03-10 12:43] danone1985 opened #1393 "Azure app for : Admin consent for information barriers in Microsoft Teams"
the powershell script or explanations are incomplete. Which type of app/ permissions need to be created, affected to the app ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2baec804-4a76-95ac-3595-985629448fd9
* Version Independent ID: c0a5fb9d-93be-b448-5bf2-4c3bdd787b8e
* Content: [Define information barrier policie

[2020-03-10 15:28] pradell1957 opened #1394 "Still can't get EDM to work in our Tenant"
I followed the step by step documentation in this article and still cannot get EDM to work. In fact I am getting watson errors in powershell and I even have one of my EDM DLP stuck in deleting state in the O365 Security Compliance center for over a month. Lastly I logged tickets to Microsoft under Unified Support and even the engineer was receiving watson errors and was unsuccessful in getting a t

[2020-03-10 15:34] dumblerod opened #1395 "Missing Settings"
Most of these settings are not available in either the preview mode or legacy console.  This page needs to be updated with either new location or settings.  These settings are referenced in the Launchpad app from partner site as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f617ab69-df14-137d-05c6-87eb0e7dd491
*

[2020-03-10 17:03] cmcapellan opened #1396 "Please clarify adding Mail Contacts to Office 365 Groups"
On the user docs (support.office.com) article "Adding guests to Office 365 Groups" there is an FAQ:

Can I add external mail contacts to groups?
Yes, you can. External mail contacts are contacts listed in your organization's's global address list. An example of this type of contact is a vendor company who regularly provides services to your organization.

(https://support.office.com/en-us/article/

[2020-03-10 19:26] jmbainbridge opened #1397 "On prem?"
We have a mixture of on-prem accounts and cloud. If I enable this for all users but do not pay for Azure AD Premium .. what happens to the on-prem users?
Are they able to reset their passwords? Which would make no sense as no write back to AD would occur.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad408574-36cc-9b9

[2020-03-10 21:03] chvukosw commented on #1383
Thank you - we have made a the clarification today, which will publish soon.

[2020-03-10 21:03] #1383 closed

[2020-03-10 22:46] cabailey commented on #1021
Now clarified with this section: https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies?view=o365-worldwide#sharepoint-locations

[2020-03-10 23:17] O365DevHero opened #1401 "Custom app launcher tiles is not visible in the Organization Profile tab now"
Custom app launcher tiles is not available and only custom Themes are available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9488caf7-b791-3002-8749-7fdc4b2ec8b3
* Version Independent ID: 08e61eb0-7bcd-f449-46ef-17e209138a8e
* Content: [Add custom tiles to the app launcher - Microsoft 365 admin](https://docs.microsof

[2020-03-10 23:59] mypil commented on #1345
@raaghavvv - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/0341d95.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-11 00:00] #1345 closed

[2020-03-11 00:01] mypil commented on #1356
@tsullyman - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-03-11 00:01] #1356 closed

[2020-03-11 00:03] mypil commented on #1357
@catshout - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so w

[2020-03-11 00:03] #1357 closed

[2020-03-11 00:05] mypil commented on #1388
@lovethakker02 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution

[2020-03-11 00:05] #1388 closed

[2020-03-11 00:08] mypil commented on #1376
@pengbobobo1987 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-03-11 00:08] #1376 closed

[2020-03-11 00:26] mypil commented on #1252
@GiantCrocodile - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-11 00:26] #1252 closed

[2020-03-11 01:42] mypil commented on #1227
@partlycloudyGE - Thank you for submitting feedback.

Please see this https://github.com/MicrosoftDocs/microsoft-365-docs/issues/486#issuecomment-540828898 from one of the authors - "Any headers not documented here are internal and used exclusively by the Microsoft anti-spam team for diagnostic purposes."

[2020-03-11 01:42] #1227 closed

[2020-03-11 01:53] mypil commented on #1067
@freakynl @Lewis2z @TekBear @oost1971 @securityvoid @jasonpfraser @851597064 @freedompower - Thank you for engaging with the community here for the docs.

Please see this https://github.com/MicrosoftDocs/microsoft-365-docs/issues/486#issuecomment-540828898 from one of the authors - "Any headers not documented here are internal and used exclusively by the Microsoft anti-spam team for diagnostic pur

[2020-03-11 01:53] #1067 closed

[2020-03-11 08:00] chaitanyasandeep commented on #880
Do you have any target date for this features to be available instead of Public Preview?

[2020-03-11 09:04] labanex opened #1402 "Azure AD Basic EDU licenses"
"The following people don't need Azure AD Premium or Azure AD Basic EDU licenses assigned to them:"
A lot of people may not know what this is "Azure AD Basic EDU licenses". A link to https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/license-users-groups would be helpful. It took me awhile to find the article that explains Azure AD Basic EDU Licenses and how you have to do it in

[2020-03-11 13:19] DEberhardt opened #1403 "Refresh needed"
Teams admin is now called "Teams Service Administrator"
Privileged role admin is now called "Privileged Authentication Administrator"

would be good to have role combination examples to highlight potential dependencies (i.E. Teams Admin role + User Admin to provision Users for Teams, etc.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-03-11 14:17] Jvasil commented on #1021
Looks good! Thanks for your help on getting this clarified in our documentation!

Joe Vasil
Sr. Premier Field Engineer
Office 365 - SharePoint Online
US PFE - East Region
Office: +1 (980) 776-7488
jvasil@microsoft.com<mailto:jvasil@microsoft.com>
[MSFT_logo]

From: Carol Bailey <notifications@github.com>
Sent: Tuesday, March 10, 2020 6:46 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs

[2020-03-11 14:40] GiantCrocodile opened #1405 "update ToC"
The Table of Content (ToC) does still state twice 'What is EOP?' while the article is titled as 'What is Exchange Online Protection (EOP)'. The ToC should be updated so it's clear what it is about without opening the article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14130f97-cb6e-999d-c2c8-47ef1d7bfff8
* Version

[2020-03-11 14:41] aikensam opened #1406 "Is CNAME msoid still required?"
It has been removed from other documents but still exists here and https://docs.microsoft.com/en-us/microsoft-365/admin/dns/create-dns-records-at-web-com?view=o365-worldwide.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6107c99-df0b-8a33-f291-086ea6fd5034
* Version Independent ID: 0ba87689-7a57-c3f8-af4b-3267c81b933

[2020-03-11 14:53] kelemvor33 opened #1408 "Block guest users from a specific group - Can I do the opposite?"
Howdy,
We are looking to not allow guest access to any of our Teams except for a specific one we designate as the External Collaboration team.  Is there a way to make Guest access blocked by default and then only enable it for one team and to also have it blocked by default on all future created teams?
Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-03-11 16:45] jaimeo commented on #1367
This is fixed.

[2020-03-11 16:45] #1367 closed

[2020-03-11 16:45] LauraWi commented on #880
The Microsoft 365 roadmap is our authoritative source for coming features. We try to avoid forecasting release dates within documentation because engineering schedules can change. https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=Microsoft%20Information%20Protection

[2020-03-11 16:46] jaimeo commented on #1366
This is fixed.

[2020-03-11 16:46] #1366 closed

[2020-03-11 17:22] jaimeo commented on #1374
@rekhanr can you make this edit?

[2020-03-11 17:22] lovethakker02 commented on #1388
It seems that the primary domain only gets the changes. We have asked our client to generate the ticket for same. If we get any update from them, we will surely post here.

[2020-03-11 20:08] markjjo commented on #1392
@mypil fixed. See https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/2507. I did a global search in repo to find this error.

[2020-03-11 20:08] #1392 closed

[2020-03-11 21:08] mypil commented on #1392
@markjjo - Thanks for your help to resolve this issue.

@bruun365 - Thank you for submitting feedback. Issue has been fixed.

[2020-03-11 21:53] manknewl opened #1411 "Add Private Browsing shortcut for Edge as a browser"
There are instructions for Internet Explorer, but not for Edge, which are the same as Chrome: CTRL + SHIFT + N

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13b1b7b8-5414-2242-6b27-32ce18651ba9
* Version Independent ID: 47052c23-01a6-7ec2-f634-d95137c3dc63
* Content: [Use your free Azure Active Directory subscription

[2020-03-11 22:02] markjjo commented on #1411
@manknewl Thanks for pointing this out. I just tested, and keystrokes are the same as IE: CTRL + SHIFT + P. I will update document accordingly.

CTRL + SHIFT + N in edge opens a new (non-In Private) window.

[2020-03-11 22:02] #1411 closed

[2020-03-11 22:42] manknewl commented on #1411
I use the beta version of edge, and CTRL + SHIFT + N (maybe it’s something else on my configuration but CTRL + SHIFT + P opened my printer.

[2020-03-11 22:54] markjjo commented on #1411
@manknewl Thanks for following up/clarifying. I do see the CTRL + SHIFT + N to open inprivate session in beta version of edge.

[2020-03-11 23:13] zlDev commented on #1101
2 months later this problem still exists.

[2020-03-11 23:22] zlDev opened #1412 "Settings menu is missing"
Hi

I don't have the Settings menu in the "Microsoft 365 security" centre. If I navigate to https://security.microsoft.com/settings the page is empty. See image below

Thanks

![image](https://user-images.githubusercontent.com/8972968/76473068-4ee22b00-63ef-11ea-9fdb-fd8466802458.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2020-03-11 23:56] zlDev commented on #1101
@chrisbues were you able to resolve this issue?

[2020-03-12 00:00] zlDev opened #1413 "Advanced hunting is missing a reference."
Please add the reference page for the Advanced hunting page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac42403c-4226-bec2-986d-2e8a67e7c66d
* Version Independent ID: e8e0b323-ee46-f8e7-fe99-cbee91697213
* Content: [What's new in Microsoft Threat Protection - Microsoft 365 security](https://docs.microsoft.com/en-us

[2020-03-12 00:05] zlDev opened #1414 "Incidents, Action center, or Hunting are missing from the menu"
According to the documentation

_"Before you turn on the service, the Microsoft 365 security center (security.microsoft.com) shows the Microsoft Threat protection welcome page when you select Incidents, Action center, or Hunting from the navigation pane. These navigation options are not shown if you are not eligible to use Microsoft Threat Protection."_

Please advise how does one become eligible

[2020-03-12 01:45] cspencerna opened #1415 "Typo"
The how to of this section contains a typo: Optional: Azure Multi-Factor Authentication is enabled for your users, e.g. step 3 "Sign in to the Office 36 portal with the test user account."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50af9cec-786a-6026-0bcb-ed27be02a57b
* Version Independent ID: 7fa62474-154e-a5dc-cf

[2020-03-12 05:54] campbellkerr opened #1416 "Typo/words missing"
Under the heading "Content in OneDrive accounts and SharePoint sites", between steps 2 and 3, it reads like this "The Recycle Bin is not
ed and therefore searches do not find content there. This means that an eDiscovery hold can't locate any content in the Recycle Bin to hold it."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-03-12 08:23] krilbe opened #1417 "Broken links"
These links give 404:
    Collaborate with guests in a site
    Collaborate with guests in a team

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f5592e2-3fee-9034-5b33-2d1687d60ba2
* Version Independent ID: 5b8dee58-e383-9a26-570a-47f5c81121cb
* Content: [Manage guest access in Office 365 Groups - Microsoft 365 admin]

[2020-03-12 10:51] Staeger opened #1419 "Broken URL"
In "Onboarding" section, please update the URL to downloadable Excel workbook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbb8b28d-6716-802d-8c63-5a62e18561a5
* Version Independent ID: 98744567-905b-2a55-4dc3-2374a2705581
* Content: [Microsoft 365 for enterprise foundation infrastructure for non-enterprises - Micro

[2020-03-12 13:58] cabailey commented on #1416
@campbellkerr  Thanks for flagging this - I'll fix it.  Should be "The Recycle Bin is not used and therefore...."

[2020-03-12 14:06] DeanGross opened #1421 "Licensing Requirements"
There is nothing on this page about the type of license that must be assigned to users in each role. Please update the page to include this info, i.e., do people assigned to a Compliance Manager role, need O365 E1, E3, or  E5, can guests that don't have licenses be assigned a role?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-03-12 14:17] ConsistentTheory commented on #1101
Havint the same problem. I'm GA and I have Enterprise Mobility + Security E5.
![image](https://user-images.githubusercontent.com/26940111/76530782-8515be00-6474-11ea-828e-1d3e522683b3.png)
This is my menu and Settings is missing, if I go directly to the link the page is blank.

[2020-03-12 17:32] markjjo commented on #1419
@staeger Thanks for the heads up. We've recently changed the directory structure in this GitHub repo, which broke this link. You can download spreadsheet at: https://github.com/MicrosoftDocs/microsoft-365-docs/raw/public/microsoft-365/media/deploy-foundation-infrastructure-non-enterprises/Group-License-Mgmt-PowerShell.xlsx

We'll update the topic.

[2020-03-12 17:32] #1419 closed

[2020-03-12 17:57] andywahr opened #1422 "US Azure is now rated FedRAMP High in all regions"
Please updated based on this:  https://azure.microsoft.com/en-us/blog/all-us-azure-regions-now-approved-for-fedramp-high-impact-level/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 659dd7bc-2bbb-097c-44c1-730f2e3c6988
* Version Independent ID: 9f8d678e-8069-6997-505d-dd21333e1902
* Content: [Federal Risk and Authoriza

[2020-03-12 19:02] MikePlumleyMSFT commented on #1417
@krilbe thanks for catching this. Links should be fixed now.

[2020-03-12 19:39] MikePlumleyMSFT commented on #1248
@kkazala thanks for catching that - yes, in this case a team site with no group is a better way to go. I've submitted a PR to update the procedure. Should be on the live site in the next day or so.

[2020-03-12 20:01] mairaw opened #1423 "Article not hooked up to the TOC"
By design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9690810c-2cc9-973f-6c0e-7a8f6c424fc2
* Version Independent ID: ace39850-2ef2-d182-bd7e-da300d5be639
* Content: [Create DNS records for Azure DNS zones - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/dns/create-dns-records-for-azure-dn

[2020-03-12 23:08] mypil commented on #1415
@cspencerna - Thank you for pointing this out.

PR #1425 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-03-13 12:18] KrisDeb-OptiIT opened #1426 "Is it available in the UK now?"
I am an Insider, I have E5 and I can't see it. Tech support told me that it's only for US tenants, is that correct? Thanks - Kris.

[2020-03-13 14:31] chvukosw commented on #1421
Thank you for your input, we will be making updates to this page soon.

[2020-03-13 14:31] #1421 closed

[2020-03-13 18:14] mjcaparas commented on #1412
Hi zlDev,

This is likely due to a licensing or permissions issue.

Please refer to: https://docs.microsoft.com/en-us/microsoft-365/security/mtp/mtp-enable?view=o365-worldwide#check-license-eligibility-and-required-permissions

Thanks

[2020-03-13 18:17] mjcaparas commented on #1413
Hi zlDev,
Thank you for your feedback. This page was intended to highlight capabilities that have just gone GA.

We have links to Advanced hunting from this page and serves as the entry point for all the AH goodies.

Thanks

[2020-03-13 18:17] #1413 closed

[2020-03-13 19:34] robmazz commented on #1324
@EricaToelle - thanks for the feedback. When you use the policy wizard as outlined in the Configure communication compliance in Microsoft 365 (https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-configure) topic (Step 4), you select reviewers available for selection later in the escalation workflow for each alert. I'll clarify in the topic that this is where these co

[2020-03-13 19:34] #1324 closed

[2020-03-13 19:53] robmazz commented on #1350
@musiq787 - thanks for feedback. We've actually just clarified and updated this in the topic, the new addition addresses your feedback.

"Before you get started with communication compliance, you should confirm your Microsoft 365 subscription. Users included in communication compliance policies must have a Microsoft 365 E5 Compliance license, an Office 365 Enterprise E3 license with the Advanced C

[2020-03-13 19:53] #1350 closed

[2020-03-13 20:08] norrben opened #1428 "need script utilizing modern MFA connection"
please give an example of the same script utilizing accounts with MFA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b759021-39d7-0383-2f50-b5b813217f97
* Version Independent ID: 5f5dfeab-1160-3994-2cb8-1ca7c67e3ff2
* Content: [Use a script to add users to a hold in an eDiscovery case in the Security & Compliance Cent

[2020-03-13 20:15] #1415 closed

[2020-03-13 20:44] zlDev commented on #1412
I'm a GlobalAdmin and I've got Microsoft 365 E5 **Developer** (Visual Studio Professional subscription) and Microsoft Defender ATP licenses assigned to me. The developer license is not listed, but I assume it is an oversight.

[2020-03-13 20:57] cabailey commented on #1416
Fixed now, closing.

[2020-03-13 20:57] #1416 closed

[2020-03-13 21:05] denisebmsft commented on #1426
Hello @KrisDeb-OptiIT. Can you please tell us to which article your question applies? This will help us route your issue to the correct writer/team. Thank you!

[2020-03-13 21:44] markjjo commented on #1428
@norrben Thanks for the inquiry. No, it's not possible to use a script to logon when MFA in enabled/required.  With MFA you need to provide that second authentication factor as you logon.

Here's a couple of GitHub issues where this issue is discussed:
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4483
https://github.com/MicrosoftDocs/office-docs-powershell/issues/4371

I understa

[2020-03-13 21:44] #1428 closed

[2020-03-14 00:21] chrisda commented on #1186
Updated topic is live.

Closing

[2020-03-14 00:21] #1186 closed

[2020-03-14 00:23] chrisda commented on #497
Topic updated on 3/12/20. Apparently, the endpoint doesn't matter, as long as _the endpoint_ accepts the username and password in Basic Auth. Other machinations on the back end don't matter.

[2020-03-14 17:43] mypil commented on #1098
@paulbellacera - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/c730d15a21926028692c0604ac352106a8c2887e.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-14 17:43] #1098 closed

[2020-03-14 21:28] mypil commented on #1270
@edfishermsft - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/f5f93baac010a3261dc4aea307dd0a526eebc0ca.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-14 21:28] #1270 closed

[2020-03-14 21:57] mypil commented on #738
@KCCross - Do you have any updates on this?

Thank you.

[2020-03-14 22:44] SanjoyanM commented on #738
What is the ask here?

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Joyce Y. <notifications@github.com>
Sent: Saturday, March 14, 2020 2:57:28 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Sanjoyan Mustafi <sanjoyan.mustafi@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-do

[2020-03-15 13:01] 3novsan opened #1429 "Clarity on "Forever" and "Time Period with no Deletion""
This Article doesn't provide clarity on difference if option is selected to Retain items Forever Vs. Option to select a time period(e.g. 7 Years) but no deletion after that specific period. Would there be any difference if Unlimited Archive is enabled for the mailbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30d0

[2020-03-15 20:24] cabailey commented on #1429
@3novsan   Yes, it's recently come to my notice that this article assumes a policy of retain and then delete, and doesn't explain the other paths of retain-only, and delete-only. I'm working on addressing that gap, with engagement from engineering.

[2020-03-15 21:10] mypil commented on #1412
@zlDev - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author mjcaparas so we will close this issue. If you continue to experience technical problems, the best way forward is for you to open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP

[2020-03-15 21:10] #1412 closed

[2020-03-15 21:22] mypil commented on #1248
@kkazala - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/e4151a6ea6.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-15 21:22] #1248 closed

[2020-03-15 21:26] mypil commented on #738
@DeanGross - Thank you for submitting feedback.

A note was added to resolve your issue based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/8507d71371f879081087359ed391f3d6c62ca1d7.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-15 21:26] #738 closed

[2020-03-16 06:27] msbemba commented on #1352
@feetsdr Thank you for the feedback. You can refer to Getting the update part on the document which talks about the update back in 2014. By default the new ADAL based authentication stack is disabled. The new authentication features must be enabled on each client machine and also for the Office 365 tenant that you are connecting to.

Thanks
Sri

[2020-03-16 06:44] msbemba commented on #1339
@xivizi Thank you for your feedback. As the document suggests you will need to make these changes only Office 365 manages your DNS records, to route traffic to an existing public website hosted outside of Office 365,  If o365 manages your DNS records then static IP would work(even if it has multiple websites on the same IP).

 If you manage your DNS records directly on the Cpanel you don't have to

[2020-03-16 09:05] 3novsan opened #1430 "Step 5- Start-ManagedFolderAssistant"
Created a new MRM Policy, Applied to a mailbox, Ran Start-ManagedFolderAssistant against that specific mailbox.
But When enabling Archive mailbox it shows same warning of Default MRM Policy "If you enable this person's archive mailbox, items in their mailbox that are older than two years will be moved to the new archive. Are you sure you want to enable this archive mailbox?" Results are same in mu

[2020-03-16 11:50] westerdaled opened #1431 "The documentation can be simplified"
The steps 1) & 2)  outlined in https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-teams-groups-sites?view=o365-worldwide#enable-this-preview-and-synchronize-labels
Maybe replaced by
Connect-ExchangeOnline -UserPrincipalName your.namel@yourdomain.onmicrosoft.com -ConnectionUri 'https://ps.compliance.protection.outlook.com/powershell-liveid/'  -ExchangeEnvironmentName O365D

[2020-03-16 13:22] xivizi commented on #1339
@msbemba - Thank you for the clarification and yes, you have answered and resolved my question perfectly - very much appreciated.

Please close this thread.

[2020-03-16 14:51] jellybeard opened #1432 "US Driver's License XML missing entity ID"
US driver's license entry doesn't have the entity ID in the XML, which makes it impossible to target a scan for that specific type. Please update the documentation.

[2020-03-16 15:44] rs-seccompsme opened #1433 "Update Azure App Registration link"
Please consider updating the link in Step 1 to the new Azure App Registration process.  https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-register-app

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6b68cfa-058a-8536-fb6a-b54e8fffa626
* Version Independent ID: dbcba365-2858-8cff-4f30-8a8a0068ac

[2020-03-16 17:00] cmcatee-MSFT commented on #1397
@Sirkkuw can you help answer this?

[2020-03-16 18:19] markjjo commented on #1430
@3novsan Thanks for raising the issue. First, you might want to consider contacting MS Support about this issue if you are concerned. Second, you might consider testing your new policy to see if it really moves items older than 2 years to the archive mailbox. I assume that your new policy either doesn't move items to the archive or the retention duration is different than the default MRM policy.

[2020-03-16 18:19] #1430 closed

[2020-03-16 18:42] handattu opened #1434 "Correction to Register-AzProviderFeature command example in the article"
The instruction - "Set-AzContext -SubscriptionId &lt;SubscriptionId&gt;
Register-AzProviderFeature -FeatureName mandatoryRetentionPeriodEnabled -ProviderNamespace Microsoft.KeyVault" is incorrect. This should not be against Microsoft.KeyVault namespace, instead against Microsoft.Resources. So the command should be - "Set-AzContext -SubscriptionId &lt;SubscriptionId&gt;
Register-AzProviderFeature -

[2020-03-16 19:08] markjjo commented on #1433
@rs-seccompsme Thanks for feedback. Will look into this. Have you verified that new Azure App registration process works for setting up an HR connector or any other third-party data connector?

[2020-03-16 19:08] #1433 closed

[2020-03-16 19:15] rs-seccompsme commented on #1433
Yes.  I have completed the steps and the new process works. I have documented it for my internal Compliance Fast Track incubation team.  The issue with the old one is most tenants will not have the legacy Azure portal experience that is referenced and the steps will not follow.

[2020-03-16 19:44] markjjo commented on #1433
Thanks @rs-seccompsme. I was added to an internal email thread about this same issue that refered to an HR connector doc you created. I'll update this topic. As I assume you are internal MSFT, so you can ping me directly next time you have a suggested update. Thanks again.

[2020-03-16 21:02] sysadmin-scs opened #1435 "Trusted Senders"
"Microsoft subscribes to third-party sources of trusted senders."

Can we get visibility on the trusted senders and third parties so we know if this is applicable to our tenant?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3094559e-4d03-8f6d-a620-a3f61ec33184
* Version Independent ID: d352d9b3-3d96-402b-c20e-df677b3e

[2020-03-16 22:32] mypil commented on #1432
@jellybeard - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-16 23:42] mypil commented on #1202
@aldoug @4rtorias @chrisbues - Thank you for engaging with the community here for the docs.

From our understanding, the issue you raised has been answered by the author MSFTTracyP so we will close this issue.

If you have some suggestions on how to make Microsoft 365 better, it would be great if you could add your voice in **[UserVoice](https://office365.uservoice.com/forums/289138-office-365-sec

[2020-03-16 23:42] #1202 closed

[2020-03-17 02:08] jellybeard commented on #1432
https://docs.microsoft.com/en-us/microsoft-365/compliance/what-the-sensitive-information-types-look-for?view=o365-worldwide#us-drivers-license-number

[2020-03-17 07:52] jhlosin opened #1437 "azcopy cmd not working"
it seems azcopy has been updated and the cmd in this doc does not seem to work. I had to use azcopy.exe cp "source" "destination" --recursive

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c86b2796-06fa-dfa7-bc0b-1a5760a396a0
* Version Independent ID: f9bfdc36-9c52-697f-f608-6e327d7c3c09
* Content: [Use network upload

[2020-03-17 08:16] jhlosin commented on #1437
ok. it seems there are two azcopy. one from the doc link works but one I downloaded was different version. closing this.

[2020-03-17 08:16] #1437 closed

[2020-03-17 08:50] msbemba commented on #1348
@johnm-office Thank you for your feedback. I was able to repro the issue, I'll keep you updated.

Thanks
Sri

[2020-03-17 13:07] zlDev commented on #1414
Ok, so the problem was with me using Microsoft 365 E5 Developer license. I have access to another tenant and this no longer an issue.

[2020-03-17 13:07] zlDev commented on #1412
Ok, so the problem was with me using Microsoft 365 E5 Developer license. I have access to another tenant and this no longer an issue.

[2020-03-17 13:08] zlDev commented on #1412
Please explicitly mention that this type of license is not suitable for Security features testing. It is only for software development purposes.

[2020-03-17 14:08] narismadz opened #1438 "Do we need "-Scope CurrentUser" on Set-ExecutionPolicy RemoteSigned"
I got this error when run the 1st PS code to connect Security & Compliance Center

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d40ac52-6f02-b0f3-0c45-9f359473703b
* Version Independent ID: 108355a9-05a3-4d17-c417-c4d5664a4506
* Content: [Use sensitivity labels with Microsoft Teams, Office 365 groups, and SharePoint

[2020-03-17 15:55] Allaen commented on #1408
As far as I know you can't. You'll have to disable guest access for all O365 group individually after creation.

[2020-03-17 16:08] cabailey commented on #1438
@narismadz  What error message are you seeing?  Does it make a difference if you run the PowerShell session as an administrator?  For full instructions about connecting to Security & Compliance Center PowerShell, see https://docs.microsoft.com/en-us/powershell/exchange/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell?view=exchange-ps

[2020-03-17 16:24] cabailey commented on #1431
@westerdaled Hi Daniel, thanks for posting your feedback.  We are always looking for ways to make the documentation simpler.  Step 1 covers connecting to Azure AD and setting the EnableMIPLabels parameter, and step 2 connects to Office 365 Security & Compliance Center PowerShell, with example commands how to do that plus a link to the official reference for full instructions, "Connect to Office 36

[2020-03-17 16:24] #1431 closed

[2020-03-17 19:45] Sirkkuw commented on #1397
Nothing happens to the on-prem users if you keep the domain controller separate from the cloud identity. IF you set up hybrid, then the identity is controlled locally (your on prem domain) and you would have to use Azure Ad premium only if you wanted password write-back from Azure Ad if you changed things there. FOr more info, see https://docs.microsoft.com/en-us/Office365/Enterprise/set-up-direct

[2020-03-17 23:47] stleun opened #1441 "Expired Status"
Please add that in expired status (in-grace), Admins will not be able to assign any unassigned users.
e.g Office 365 Business Premium (expired) 90/100 assigned, 10 users will not be able to be assigned anymore until subscription reactivation.

v-stleun@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5e656

[2020-03-18 03:50] narismadz commented on #1438
Previously, I got "Restricted" policy on CurrentUser scope so run that command may failed since I need to set policy "RemoteSigned" to CurrentUser scope first

My error is "Set-ExecutionPolicy : Windows PowerShell updated your execution policy successfully, but the setting is overridden by a policy defined at a more specific scope.  Due to the override, your shell will retain its current effective

[2020-03-18 11:17] westerdaled commented on #1431
@cabailey

"Connect to Office 365 Security & Compliance Center PowerShell" (https://docs.microsoft.com/en-us/powershell/exchange/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell?view=exchange-ps). , I believe works fine if you are not using MFA.  My approach works fine with when MFA is enabled .

[2020-03-18 11:53] Trundlore commented on #1401
confirmed, the locations stated here do not seem to exist anymore. is this still possible?
given the current climate we are looking to put a tile to link users to the (awful address for) windows virtual desktop launcher

[2020-03-18 14:17] 3novsan opened #1442 "Retention Policy and Deletion of Objects"
Can you please add some clarity on Objects (e.g. Mailbox, Site) deletion possibility when retention Policy is applied on to those objects, Such as
1. According to this article If a user is included in an active retention policy that retains Teams data, then deleting a mailbox of such a user is not allowed since the storage of the data needs to be retained.
But we were able to delete multiple mailb

[2020-03-18 14:19] cabailey commented on #1442
@3novsan Yes, I will ask about this & report back.

[2020-03-18 14:23] 3novsan commented on #1442
3. Does this statements apply to Teams Chat and Channel messages Retention Policy as well? So if we apply a retention Policy to a Teams Would we be able to delete Teams without excluding that Teams from Retention Policy. In our testing we were able to delete a Team which was under a Retention Policy.

[2020-03-18 14:29] 3novsan opened #1443 "List of Alerts Available in E3 and E5"
Can we have a link to an article with list of all the Alerts covered under E3 and alerts covered under E5. e.g. "Deleted Site" Alert activity is only available in E5 but not in E3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2879ba-e58e-cd47-f488-10d153c31418
* Version Independent ID: 391a2c05-d63d-e84e-7c7d-80c3b

[2020-03-18 14:43] cabailey commented on #1431
@westerdaled  There's a link for alternative instructions in that article if you're using MFA, which is why the original article says "For example" before the commands for step 2.  If you prefer using the EXO v2 module connection method, that's fine but it doesn't replace setting the Azure AD parameter in step 1, it does require extra steps to download and install this module if you haven't alread

[2020-03-18 17:42] kwekuako commented on #1403
Updated the Teams service admin name. Confirming the Privileged auth admin change.

[2020-03-18 18:29] cmcatee-MSFT commented on #1397
@jmbainbridge did that answer your question?

[2020-03-18 19:48] markjjo commented on #1443
@3novsan Thanks for the question, though I'm uncertain what are you asking. If you're talking about the documenting the license requirement for  "Activity that the alert is tracking" (when you create a custom alert policy), the list is too large and dynamic. The activities available to your organization to create an alert policy will be listed in the dropdown list. We do include general guidelines

[2020-03-18 19:48] #1443 closed

[2020-03-18 20:16] DGG-IT commented on #1142
I don't think this is sufficiently answered. Can you clarify?  If I have a record *.contoso.com/* will https://contoso.com/a/ be re-written? https://contoso.com does not seem to match the *.domain.com pattern.

If *.contoso.com/* does NOT match https://contoso.com/a/ then the documentation should be updated to remove the word "domain" from 'Allows recipients to visit a domain, subdomains, and path

[2020-03-18 20:18] DGG-IT commented on #1142
The comment tool also seems to interpret asterisks (*) as markdown for italics.

I don't think this is sufficiently answered. Can you clarify? If I have a record (star).contoso.com/(star) will https://contoso.com/a/ be re-written? https://contoso.com does not seem to match the *.domain.com pattern.

If (star).contoso.com/(star) does NOT match https://contoso.com/a/ then the documentation should be

[2020-03-18 20:19] chrfox commented on #1394
@pradell1957 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

[2020-03-18 20:19] #1394 closed

[2020-03-18 20:26] chrfox commented on #1382
Hi @RyanBlakeIT
I am guessing that your comment is referring to this paragraph. Is that correct?  Please respond on this thread.

"If you've created DLP policies in the Exchange admin center, those policies will continue to work side by side with any policies for email that you create in the Security & Compliance Center. But note that rules created in the Exchange admin center take precedence. All

[2020-03-18 20:30] chrfox commented on #1393
Hi @danone1985
There are multiple PowerShell scripts with accompanying explanations in this topic.  Can you tell me which one you are having trouble with?

[2020-03-18 21:57] chrfox commented on #1222
note added to topic and published

[2020-03-18 21:57] #1222 closed

[2020-03-19 01:11] dbaars commented on #1401
Same here, we also don't see "custom app launcher tiles" - what gives?

[2020-03-19 08:16] Maartenf2 opened #1447 "Preview not working"
Hi,

I tested the following scenario's with their results:

- Create encrypted doc in Word Webapp, from SHP and open it again afterwards in Webapp -> OK
- Create encrypted doc in Word Client, saved locally, copied to SHP, open in Webapp afterwards -> OK
- Create encrypted doc in Word Client, save it to SHP, open in Webapp afterwards ->
"Sorry, Word can't open this document in a browser because it'

[2020-03-19 14:31] cabailey commented on #1447
@Maartenf2 Please contact Microsoft Support (https://docs.microsoft.com/en-us/microsoft-365/admin/contact-support-for-business-products?view=o365-worldwide&tabs=online), and be prepared to supply your tenant details and your label configuration.

[2020-03-19 14:31] #1447 closed

[2020-03-19 16:58] fredparadis commented on #1401
Seems like only some Tenants don't have the option anymore.

Looking at 3 different Tenants, one created in January got the option.

One created last year doesn't have the option and same thing with a brand new Tenant from last week, no "Custom app launcher tiles" section anymore in "Organisation Profile".

[2020-03-19 20:16] mypil commented on #1432
@jellybeard - Thank you for pointing this out.

PR #1448 has been created by nihendle to fix this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-03-19 23:00] #1432 closed

[2020-03-20 14:17] RomanNG opened #1453 "OneNote is missing"
In the list of resources provided for an Office 365, OneNote Notebook is not mentionned.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 809bcea7-ebd6-58bc-9ff0-e764a459016d
* Version Independent ID: f86ecf79-7095-772a-980e-356a995061c5
* Content: [Overview of Office 365 Groups for administrators - Microsoft 365 admin](

[2020-03-20 14:43] stuartschifter-AMA opened #1454 "Missing documentation for MS Roadmap Featured ID: 60407 which is rolling out in production."
Missing documentation for MS Roadmap Featured ID: 60407 which is rolling out in production.

Specifically we need the settings here:
Navigate to "Security & Compliance\Threat Management\Policy\User Submissions\"
Setting = "Set up a reporting mailbox"
Setting = "Customize confirmation message"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-03-20 15:41] lomayor commented on #1414
Thanks for checking and apologies for the slow responses. Please refer to this document for eligibility. Note that A5 was a recent addition and that there might be changes to the licensing requirements. For any concerns, don't hesitate to use Need Help on the portal to reach Support.

https://docs.microsoft.com/en-us/microsoft-365/security/mtp/prerequisites?view=o365-worldwide#licensing-requiremen

[2020-03-20 15:41] #1414 closed

[2020-03-20 16:38] Sirkkuw commented on #1395
@dumblerod I checked the android setting in the Devices > Policies pane in the Microsoft 365 Business admin center and the match with one exception, that I will fix today.  Is it possible that you are looking at Endpoint protection, or some other settings?

![image](https://user-images.githubusercontent.com/31521796/77185276-6031d400-6a8e-11ea-939a-361d7b29ae78.png)

[2020-03-20 16:38] #1395 closed

[2020-03-20 16:50] rsoakford commented on #774
I agree with @dyerseve that this would be a helpful addition - duly suggested at https://office365.uservoice.com/forums/600781-microsoft-invoicing/suggestions/39983071-update-mscommerceproductpolicy-to-include-customer

[2020-03-20 21:28] msbemba commented on #1289
@ckssaas Thank you for the feedback. we have created a PR https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1455 to update the document. Meanwhile, we cannot have safe links enabled without having the URL rewritten.

Thanks
Sri

[2020-03-20 22:59] onefellsloop opened #1456 "Spelling error in tip"
Just before the section "Applying a retention label automatically based on condition" there is a tip that has SharePoint spelled wrong. I do it all the time too.
&gt; Tip
&gt; See Manage the lifecycle of SharePoint documents with retention labels for a detailed scenario about using managed properties in SharePont to auto-apply retention labels and implement event-driven retention.

---
#### Docume

[2020-03-21 00:13] marcjho opened #1457 "broken link"
The link labelled "Download the Azure Security and Compliance Blueprint - NIST CSF Risk Assessment Checklist" does not work.  I would really like to see this checklist.  Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95ff34d4-4202-156e-20ba-d3f9b3c3131d
* Version Independent ID: debb8e35-ca89-6a31-2c73-7529a769

[2020-03-21 01:18] mypil commented on #1456
@onefellsloop - Thank you for pointing this out.

PR #1458 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-03-21 08:48] nchokoev opened #1459 "Domains under 'Setup'."
1. In the admin center, go to the Settings > Domains page.
should be
1. In the admin center, go to the Setup > Domains page.

at least that's in my case...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f087dd43-183d-08bb-37d7-d893bede6efb
* Version Independent ID: be429837-0300-3de8-6c7d-2da2fabc2c17
* Content: [Updat

[2020-03-21 10:04] bakerm00 opened #1460 "don't use "feedback on this product" its windows feedback hub"
the data goes no where.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ebdb9f0-76a5-eebc-4cd7-95f5407ed029
* Version Independent ID: 05abf201-e31c-08c0-a7fc-8fd46202e8b0
* Content: [Microsoft 365 usage analytics - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/usage-analytics

[2020-03-21 16:14] mypil commented on #1352
@feetsdr - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-21 16:14] #1352 closed

[2020-03-21 22:51] cmanhoff opened #1462 "Need instructions for devices that need be re-registered or needs an update from the Home edition."
This document  ignores devices that have Windows Home but need to be updated to Windows Business or Enterprise.  Are we supposed to buy an upgrade from Home to Pro so we can then turn around and upgrade from Pro to Businerss?

Also ignored is that the user has the device registered under a personal Microsoft and it needs to be reregistered to hiw work account email.

---
#### Document Details

⚠ *

[2020-03-22 01:15] #1456 closed

[2020-03-22 15:06] mypil commented on #1397
@jmbainbridge - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by Sirkkuw so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-22 15:06] #1397 closed

[2020-03-22 17:08] mypil commented on #1339
@xivizi - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-22 17:08] #1339 closed

[2020-03-23 01:47] Rykimaruh opened #1463 "Is there a specific syntax the regex for custom DLPs use?"
I tried using:

`\@.*\.com|.+[\@].+[\.com]`

and when I go try to test the sensitive info type with a document containing xyz@domain.com

nothing happens...it doesn't detect the email in a sample file

[2020-03-23 03:36] Ronsss opened #1465 "What about Access to existing User / Employee files"
This article talks explicitly about former user/employees. What about accessing existing user/employee onedrive files and email?
Please add a note/tip to this article to explicitly clarify situation for existing users/employees. If there is a significantly different process (other than granting Admin access), please create a new page with the info.

---
#### Document Details

⚠ *Do not edit this s

[2020-03-23 10:53] no-test commented on #592
Why was the IP blocked?

Is microsoft incapable of answering the question? sending an email saying an ip was blocked WITHOUT giving a reason: seriously?

ANY other blacklisting service would NEVER block ip without giving a reason, there you go that microsoft for you.

Half a year and the posters question is STILL unanswered.

[2020-03-23 14:54] Robright opened #1466 "Default groups aren't editable"
**Current documentation states:** "You can edit or delete the existing role groups, but we don't recommend this. Instead of editing a default role group, you can copy it, modify it, and then save it with a different name." However, these default groups haven't been editable for some time. Suggest these two sentences are removed from the document.

[Enter feedback here]

---
#### Document Details

[2020-03-23 16:42] kwekuako commented on #1403
Privileged auth admin is a separate role from the privileged role admin. It's documented here: https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles. Thanks.

[2020-03-23 16:42] #1403 closed

[2020-03-23 16:59] #1385 closed

[2020-03-23 17:52] Robright opened #1468 "Updated Disposition Review location"
Disposition is now located under Records Management, not Data Governance. :)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d552f987-1606-01f7-d600-5887968ae60c
* Version Independent ID: 8c5f88de-93e7-862e-0550-fb9ac012be35
* Content: [Overview of disposition reviews - Microsoft 365 Compliance](h

[2020-03-23 18:04] prontohostau opened #1469 "Options to report junk, phishing"
After running the powershell Set-OwaMailboxPolicy -Identity "OwaMailboxPolicy-Default" -ReportJunkEmailEnabled $false
The options are still there. Even the powershell output shows that Report Junk Email Enabled is false.

Can you confirm that this option will not be removed by running the powershell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-03-23 20:20] lkuhn65 opened #1474 "Add Office client app usage stats to Microsoft 365 Usage Analytics"
Please add Office client app usage stats (Word, Excel, PowerPoint, OneNote, Outlook) to Microsoft 365 Usage Analytics so that customers can track the usage of individual client apps on Windows, Mac, iOS, Android.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65732911-21e9-0902-51fa-0d3ae0caaa7a
* Version Independent I

[2020-03-23 20:35] mypil commented on #1463
@Rykimaruh - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-23 22:01] petegriggs commented on #1401
Same here - unable to see it.

[2020-03-23 22:57] mypil commented on #1289
@ckssaas - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/a5846d0b29a63c28501b022046006a26eb015eb4.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-23 22:57] #1289 closed

[2020-03-24 03:31] Disorganise opened #1475 "Broken hyperlink to Security in Office 365 White Paper"
The hyperlink to Security in Office 365 White Paper leads to an error 'no longer available'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e658c5-df2f-4ef7-7308-bac311aba657
* Version Independent ID: 594382c1-63cc-aa6b-b363-c81fc412a432
* Content: [Data Encryption in OneDrive for Business and SharePoint Online - Micr

[2020-03-24 03:58] Disorganise opened #1476 "Are OneDrive and Sharepoint storage 'the same'"
Am I correct in understanding both use the same blob store and encryption techniques?
Are they effectively different UI's;  OneDrive providing the 'file explorer' view, whilst sharepoint provides the website/collaboration view (and adds more features such as check out).
I've mapped drives (drive letters) to sharepoint (webdav I guess) - would I use onedrive as an alternative to that?

---
#### Doc

[2020-03-24 07:38] Sureshd868 commented on #1462
Let's first start with the assumption that you're considering this upgrade for a Commercial entity.

If they have a Windows 7/8/8.1 Home licensed devices, they should be able to upgrade it to Windows 10 Home at no cost (right now) using the free upgrade to Win 10.

Unfortunately, this document clearly states that you need at least Win 10 Pro as the pre-requisite to upgrade to Win 10 Biz. According

[2020-03-24 08:53] iryanjan18 opened #1477 "Update the Steps"
Missing Step 3.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e935bd03-8b2a-2271-b886-5643f5c7ea51
* Version Independent ID: 82a7b468-c1b6-ac74-3600-e96f274bbe89
* Content: [Manage who can create Office 365 Groups - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/manage-creation

[2020-03-24 11:41] zlDev opened #1478 "Safe Link settings for "time-of-click protection" and "logging of click verdicts by ATP Safe Links""
Please advise on the exact Safe Link settings for "time-of-click protection" and "logging of click verdicts by ATP Safe Links" to avoid confusion. I went through the Safe Links settings and that's not the naming conventions used in there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c67966fc-41a2-d368-3ec9-e74768984a

[2020-03-24 15:56] andy-guillen opened #1479 "Update reason codes"
Please update reason codes to include the following:
6xx 	Means the message failed implicit email authentication, and the sending domain is one of your organization's accepted domains (this is part of self-to-self, or intra-org, spoofing).

From the following Microsoft's article:
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/anti-spoofing-protection?view=o365-worldwid

[2020-03-24 20:34] bradrush opened #1480 "Mai instead of Mail"
In the article there is a letter l missing from the word mail

Outlook Blocked Senders (the Blocked Senders list that's stored in each mailbox)

Blocked sender lists or blocked domain lists (anti-spam policies)

Mai flow rules   &lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;

The IP Block List (connection filtering)

---
#### Document Details

⚠ *Do not edit this section. It

[2020-03-24 22:20] chrisda commented on #1480
@bradrush, fixed, but in the future you can too (no need to open an Issue first). The instructions here are more slanted to PowerShell topics, but the general idea applies to any topic in any repo: <https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/README.md>.

Thanks for the feedback.

[2020-03-24 22:20] #1480 closed

[2020-03-24 22:54] AveryBaker opened #1483 "There is a 100kb limit on keyword dictionaries, not 100,000 terms."
When you create keyword dictionaries the size limitation is 100kb, not 100,000 terms.
At 1 byte per character the limitation is closer to 100,000 characters.

PowerShell Error Screenshot:
![image](https://user-images.githubusercontent.com/43822956/77484290-221f1200-6df8-11ea-8aab-147e3d113f96.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-03-25 00:29] mypil commented on #1426
@KrisDeb-OptiIT - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-03-25 00:29] #1426 closed

[2020-03-25 11:59] zlDev opened #1485 "User-reported view"
Hi

The user-reported view (https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/automated-investigation-response-office?view=o365-worldwide#example-a-security-administrator-triggers-an-investigation-from-threat-explorer) is no longer available. Please update with correct instruction on how to trigger investigation for user-reported emails.

Thanks

Dmitri

---
#### Document

[2020-03-25 12:42] bakerm00 opened #1486 "what scc roles are required to use submissions?"
please outline it clearly;;

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162f11ad-8add-952e-fd64-488e8e3f3b14
* Version Independent ID: addf14d5-f1c1-662d-9844-6888df0349bd
* Content: [Admin submissions in Office 365, O365 submissions, Office 365 spam problem, O365 false negative, submit phish in office 365, submit e

[2020-03-25 13:26] VLG17 commented on #1338
@turnma For Teams all "customer content" is saved in either Azure (Cosmos DB, Blob Storage, etc) or Office 365 (SharePoint, Exchange) according to [this article](https://docs.microsoft.com/en-us/microsoftteams/location-of-data-in-teams#location-of-teams-data-at-rest)

I assume it's the same for Skype for Business, although i cannot find a similar article.

It's think it's also worth mentioning tha

[2020-03-25 14:23] cabailey commented on #1438
@narismadz  After looking into this, I think the right answer is to run the PowerShell session with "Run as administrator", which is needed to change a previously set value for Set-ExecutionPolicy and also listed in https://docs.microsoft.com/en-us/powershell/exchange/office-365-scc/connect-to-scc-powershell/connect-to-scc-powershell?view=exchange-ps  I'll change the documentation to include this

[2020-03-25 18:46] mzwetkow opened #1488 "Fix incorrect hyperlinks"
1. Hyperlink for Office 365 GxP Guidelines should be updated to point to the most recent version of the document which can be found here: https://resources.techcommunity.microsoft.com/wp-content/uploads/2019/05/Microsoft-Office-365-GxP-Guidelines.pdf

2. Montrium hyperlink should be updated to point to: https://www.montrium.com/
---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-03-25 21:06] damblas opened #1489 "Adding hundreds of new users - is there a way to automatically send the provisional passwords to their personal emails?"
I am one of the administrators of the Office 365 package in my association, which has almost 2000 members. I must add all the members as new users to Office 365. Hence, I have created a CSV file following the provided guidelines. However, I do not find a way to automatically send the created new provisional passwords to the personal email of each of the new users. Is there a way to do so? I could

[2020-03-25 21:07] Rkendall75 opened #1490 "When will updated labs be available"
I don't want to download a lab that is about to expire.....

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office Deployment Lab Kit - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/mi

[2020-03-25 21:21] Ebenezerpaul opened #1491 "Unable to connect to Power BI Desktop"
I tried to connect the Usage Analytics using both the PBIT and Reporting API(ODATA), but both results in error.
Able to connect to the Power BI service, but unable to download the PBIX file.
Please check if there is anything wrong with the "Microsoft 365 Usage Analytics.pbit" from Microsoft download centre, since I needed it to create a custom report in Power BI

---
#### Document Details

⚠ *Do n

[2020-03-25 21:39] mypil commented on #1282
@JasonSherry  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by MaratMussabekov so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-25 21:39] #1282 closed

[2020-03-25 21:42] JGruszczyk commented on #1490
Hi - we are pushing a new lab kit that will be available by end of month. Thanks!

[2020-03-25 21:42] #1490 closed

[2020-03-25 21:45] denisebmsft commented on #1485
@zlDev thank you so much for submitting this feedback. And you are correct - what was formerly referred to as the "User-reported" view in Explorer is now called the "Submissions" view. The option to trigger an investigation is on the Actions menu, which is activated when you select one or more items on the Email tab. I have updated the article accordingly, and the changes should be live before 5 p

[2020-03-25 21:45] #1485 closed

[2020-03-25 22:45] cmcatee-MSFT commented on #1441
@stleun Thanks for the comment. The article has been updated.

[2020-03-25 22:45] #1441 closed

[2020-03-25 23:45] mypil commented on #1393
@danone1985 - We would like to follow up. Can you please respond to the query of chrfox?

Thank you.

[2020-03-26 09:41] stefandoh opened #1493 "No available add-on to purchase"
Followed the article for an enterprise customer (EA in place) with about 10k seats.
Although there are lots of eligible plans there is no "Office 365 Extra File Storage" add-on or other service listed in the admin center.

Tried both - the new admin center and the old one.
Tried also to follow the link from SharePoint admin center and getting redirected to a blank admin portal page.

Kindly ask fo

[2020-03-26 12:39] bakerm00 opened #1494 "Sensitivity Label Reader permission that is in Security Reader role doesn't work"
Sensitivity Label Reader permission doesn't work -  it only gives a view of Security Information Types

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 35afb875-bb47-fc7d-7e95-36cbde2b671b
* Version Independent ID: 3a2ad411-cae1-efa2-f089-97ed2df52fb4
* Content: [View label usage with label analytics - Microsoft 365 Comp

[2020-03-26 14:23] zlDev opened #1495 "User-reported"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/threat-explorer?view=o365-worldwide#review-email-messages-reported-by-users

The user-reported view is no longer available from the menu. I believe it has been moved to the "Review" section under "Threat management"

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-03-26 15:02] cabailey commented on #1494
@bakerm00  I don't see the Sensitivity Label Reader role listed as supported on this page for label analytics?  Per my Yammer response to your post (https://www.yammer.com/askipteam/threads/608267557003264) this role is currently supported for the PowerShell labeling cmdlets only.  When it is supported in the Microsoft 365 compliance center, we'll update the documentation.

[2020-03-26 15:47] swhite-strath opened #1496 "Word Online Safe Links in the browser"
This document indicates that safe links works within office online documents. If i click a blocked link in a word online document it does not display a warning page where as if i use my desktop client it does. I have had a ticket open with Microsoft for weeks and am going round in circles trying to get an answer for this. Ticket #:18625079

---
#### Document Details

⚠ *Do not edit this section. I

[2020-03-26 15:55] swhite-strath commented on #1496
[Safe Links Online (Not Working.zip](https://github.com/MicrosoftDocs/microsoft-365-docs/files/4388251/Safe.Links.Online.Not.Working.zip)

[2020-03-26 16:44] JoeDavies-MSFT commented on #1335
These have been fixed. Thanks for letting us know.

[2020-03-26 16:44] #1335 closed

[2020-03-26 17:46] cmcatee-MSFT commented on #1493
@stefandoh Is your plan one of the ones listed in the "Is my plan eligible" section?

[2020-03-26 18:17] stefandoh commented on #1493
Indeed, I am using myself E5. Also E3, E1, F1 available in O365 worldwide.

Holen Sie sich Outlook für Android<https://aka.ms/ghei36>

________________________________
From: Cern McAtee <notifications@github.com>
Sent: Thursday, March 26, 2020 6:47:07 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: stefandoh <stefan.dohnal@outlook.com>; Mention <mention@noreply.

[2020-03-26 19:45] lgkron opened #1498 "Backing up a users email"
I believe by default when you open a users email in your email account in Outlook it will download 1 year.  I think this article explains how to ensure that all email downloads locally before saving a back up PST:  https://support.office.com/en-us/article/turn-on-cached-exchange-mode-7885af08-9a60-4ec3-850a-e221c1ed0c1c.
I just know that in my first attempt I was missing some email and changing ca

[2020-03-26 20:52] misprogrammer opened #1499 "Problem with installing Export App on Microsoft Edge Chromium"
I had trouble and found that I needed to change a registry key in order to download and work: HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework\Security\TrustManager\PromptingLevel
LocalIntranet to Enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b7e8e46-96fd-2679-908f-65862428d018
* Version Independent ID: b4

[2020-03-27 00:34] ITMHelps opened #1500 "Examples are always great, Step 1 needs one badly"
A sample command in Step 1 would go miles to making this article useful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 464a4f5f-8740-79aa-3647-a9b5e351656c
* Version Independent ID: a51103db-92b2-d225-d493-81d624e6fc6b
* Content: [Search for and delete email messages in your Office 365 organization - Microsoft 365 Com

[2020-03-27 01:01] cabailey commented on #1438
The page is updated now - closing.

[2020-03-27 01:01] #1438 closed

[2020-03-27 14:42] kelemvor33 commented on #1408
Can that be done through the GUI or can it only be done through Powershell?

[2020-03-27 17:34] Allaen commented on #1408
To the best of my knowledge only via Powershell like in the example in this article.

[2020-03-27 18:46] nathanturnock opened #1503 "Cloudflare Domain Registrar"
The following statement in this page is false, Cloudflare does offer Registrar services.

"Cloudflare does not offer domain registration services."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6107c99-df0b-8a33-f291-086ea6fd5034
* Version Independent ID: 0ba87689-7a57-c3f8-af4b-3267c81b933d
* Content: [Create DNS re

[2020-03-27 18:55] cmcatee-MSFT commented on #1493
@stefandoh Would you please send me your tenant ID directly to my email: cmcatee@microsoft.com (do not post it here) Thanks!

[2020-03-27 18:59] msbemba commented on #1348
@johnm-office We got an update from the author that this doesn't show shared mailboxes which arent licensed Instead There are definitely scenarios under which this can be a Thing; we identified the following situations where we can have mailboxes in such state:

The mailbox has been recently migrated to O365 but the license was not assigned
The mailbox has been created using the new-mailbox CMDlet

[2020-03-27 20:55] cchambers-cap opened #1504 "Email message options"
With the changes to the email quarantine nightly email, I'm not certain if the 'release' button in email reports the message to Microsoft or not (there is no report option anymore). Can you clarify if people can use the release button in email to send feedback to Microsoft or if they have to go into the portal to review and release to have the option to provide feedback?

---
#### Document Details

[2020-03-27 22:43] chrisda commented on #1504
@cchambers-cap, you are correct. The **Release** button does just that with no reporting. For reporting, you need to click **Review** to go into the Quarantine portal in the Security & Compliance Center where users can release and report their messages.

[2020-03-27 22:54] mypil commented on #1338
@turnma - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-27 22:54] #1338 closed

[2020-03-28 10:21] challengelogic opened #1508 "typo found"
"356" - Alerts – Have greater visibility into all the alerts across your Microsoft 356 environment,

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5d8f70e-8492-f634-413b-8c5b71383eba
* Version Independent ID: d63bbba4-ee59-81eb-a1ec-de343ac01599
* Content: [Overview of the Microsoft 365 security center - Microsoft 365

[2020-03-28 11:31] mypil commented on #1508
@challengelogic - Thank you for pointing this out.

PR #1509 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-03-28 18:13] qewade0701 opened #1510 "Modern Desktop Lab Kit fails to extract and complete"
The lab kit fails to fully extract and complete the automated setup. Despite reachinng 100% only a sample of theVM's were created. The setup wizard is displaying a constant error. See screenshots for more info.
![VMs created](https://user-images.githubusercontent.com/62809155/77830290-8e01c300-70f5-11ea-8c63-a43dad3b1e43.PNG)
![Cannot validate error](https://user-images.githubusercontent.com/62809

[2020-03-28 18:24] qewade0701 opened #1511 "Modern Desktop Lab Kit fails to extract and complete"
The lab kit fails to fully extract and complete the automated setup. Despite reaching 100% only a sample of the VM's were created. The setup wizard is displaying the following constant error as it retries.
"Cannot validate argument on parameter 'ParameterComplete'. The 129 argument is greater than the maximum allowed range of 100. Supply an argument that is less than or equal to 100 and then try t

[2020-03-28 19:51] mypil commented on #1510
Closing this issue as it is a duplicate to #1511.

[2020-03-28 19:51] #1510 closed

[2020-03-28 20:40] mypil commented on #1393
@danone1985 - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-03-28 20:40] #1393 closed

[2020-03-28 20:42] mypil commented on #1382
@RyanBlakeIT - We would like to follow up. Can you please respond to the query of chrfox?

Thank you.

[2020-03-28 20:47] mypil commented on #1463
@Rykimaruh - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-03-28 20:47] #1463 closed

[2020-03-28 21:01] mypil commented on #1286
@Petri-X - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.  **[UserVoice](https://office365.uservoice.com/forums/289138-of

[2020-03-28 21:01] #1286 closed

[2020-03-28 21:44] mypil commented on #1362
@takeakitake - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-03-28 21:49] mypil commented on #1373
@chrisward2020 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution

[2020-03-28 21:49] #1373 closed

[2020-03-28 22:01] mypil commented on #1386
@EricaToelle - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by the author cabailey so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-28 22:01] #1386 closed

[2020-03-28 22:13] mypil commented on #1417
@krilbe - Thank you for submitting this feedback.

From our understanding, the issue has been resolved.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-28 22:13] #1417 closed

[2020-03-28 22:21] mypil commented on #1423
@mairaw - Thank you for submitting feedback.

I will get this issue over to the Microsoft 365 writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-03-28 22:21] mypil commented on #1423
@pebaum - Can you please share your insights on this issue.

Thank you.

cc: @kenwith

[2020-03-28 22:28] mypil commented on #1435
@sysadmin-scs - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com/forums/289138-office-365-security-compliance)**.
You might fin

[2020-03-28 22:28] #1435 closed

[2020-03-28 22:34] mypil commented on #1311
@jaimeo @jwmurraycmu - Is this issue already resolved? Please confirm.

Thank you.

[2020-03-29 00:00] dsnorton opened #1512 "Needs link to admin controls"
This page needs to link on how to check if these are enabled and instructions on how to enable it or disable as needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10769542-cd9f-30a1-be29-2a37627149fb
* Version Independent ID: a99e4d71-62da-563d-a1b2-97d8d0bc358c
* Content: [Using self-service sign up in your organi

[2020-03-29 01:25] GiantCrocodile opened #1513 "German version outdated + table broken"
Hello,

the German version is older than the English version of this article. Additionally the table at the end of the article is broken in the German version. Please update this. Thank you!

Best Regards,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea79921a-7f83-58f1-c0a4-6eb0efce0d26
* Version Independent ID: b601

[2020-03-29 13:03] lightupdifire opened #1514 "Please add question and answer in FAQ"
Hello,
Please add question about "duplicates".
As example "What is happening with duplicates?"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f9f87e-6f96-9663-114a-f6bd74a7a7f4
* Version Independent ID: b3ba56e3-0c78-f286-1c01-12375bf00f62
* Content: [Overview of importing your organization's PST files to Office 365

[2020-03-29 14:22] luconsta opened #1515 "Global Admin cannot create New Team"
It seems that after following the steps in this article, a Global Admin could no more create Teams from scratch, must create first a Group in Admin console. This is happening even if that Global Admin is also the Owner of the "Group Creators" group - the only option he's able to use is "Add to an existing Group". When the Global Admin, as owner of that group is added as a Member too, will have the

[2020-03-29 14:24] challengelogic opened #1516 "Suggested improvement"
Where it reads "Fill in your organization name (example: contosotoycompany), the two-character country code for your location, a common account password, and then run the following commands from the PowerShell prompt:" it should probably just say Country Code needs to be US... I attempted to put UK and the script didn't work.

---
#### Document details

⚠ *Do not edit this section. It is required

[2020-03-29 15:34] mypil commented on #1348
@johnm-office - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/3e2bb6fffeed1bec4231f589d25e3e822492709e.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-29 15:34] #1348 closed

[2020-03-29 20:43] challengelogic opened #1520 "Navigation suggestion"
On the new SharePoint admin center tab, click Access control - should be On the new SharePoint admin center tab, click Policies, then Access control.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1209ea6-15c8-1bb5-9837-608db57688b9
* Version Independent ID: b02e1c55-5398-9a38-ba79-037f2b2a49f3
* Content: [Increased M

[2020-03-29 21:19] mikaelf opened #1521 "Enabling DKIM without Windows PowerShell"
There are no instructions for how to enabling DKIM for Office 365 without Windows PowerShell. How can I enable DKIM using another OS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 249c059f-c3ce-a382-b99e-795a0c1f646a
* Version Independent ID: 5656c114-ae16-6194-cd9f-353b33f4a1e1
* Content: [Use DKIM for email in your

[2020-03-29 21:41] msbemba commented on #1469
@prontohostau Thank you for your feedback. The options to report Junk and Phishing will be always available.  In your situation after disabling the report to junk option, users can still mark messages as junk, phishing, and not junk, but the user can't report them to Microsoft.

This is added in the section https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/report-junk-ema

[2020-03-29 21:42] msbemba commented on #1401
@O365DevHero  Thank you for your feedback. We are checking this with the author and Product group. I will keep you updated and make changes if necessary.

Thanks
Sri

[2020-03-29 21:49] msbemba commented on #1387
@itguysocal  Thank you for your feedback. We have the Asterisks added to the option now, Let us know if there are any other changes required on this document.

![image](https://user-images.githubusercontent.com/45987684/77861860-3ff3d900-7235-11ea-9069-fb077597298a.png)

Thanks
Sri

[2020-03-29 21:52] msbemba commented on #1375
@kellybos Thank you for your feedback. We have added the reference to the cmdlets in the below section

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/removing-user-from-restricted-users-portal-after-spam?view=o365-worldwide#use-exchange-online-powershell-to-view-and-remove-users-from-the-restricted-users-list

Remove-BlockedSenderAddress - https://docs.microsoft.com/p

[2020-03-29 21:53] msbemba commented on #1363
@stuartschifter-AMA Thank you for your feedback. please let us know which part of the document you think needs an update as it has been updated recently.

Thanks
Sri

[2020-03-29 21:55] msbemba commented on #1361
@kellybos  Thank you for your feedback. This document pertains to activity reports. If you need details about responding to a compromised account below document will be handy. Let us know.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/responding-to-a-compromised-email-account?view=o365-worldwide

Thanks
Sri

[2020-03-29 23:19] msbemba commented on #1465
@Ronsss  Thank you for your feedback we have added a note on the document via PR # https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1522 to mention that the steps remain the same for existing users as well.

Thanks
Sri

[2020-03-29 23:20] msbemba commented on #1498
@lgkron Thank you for your feedback. We have added a note on the document to reference the default mail available offline and how to increase it. This is updated via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1522

Thanks
Sri

[2020-03-30 08:48] lightupdifire opened #1523 "Publish two CNAME records for your custom domain in DNS"
Hello,

About "For example, if you have an initial domain of cohovineyardandwinery.onmicrosoft.com, and two custom domains cohovineyard.com and cohowinery.com, you would need to set up two CNAME records for each additional domain, for a total of four CNAME records."

Can you please explain more?
Where to set it? For which domain? How this setup is in your view? What exactly do you mean by "set up

[2020-03-30 09:50] roderick-cloudlife commented on #552
@Samschan-ms when will the disclaimer option be added to set a custom privacy policy?

[2020-03-30 11:36] Petri-X commented on #1286
So far the UserVoice has been very poor idea. E.g. here is one issue is crazy bug in Teams:
[Start calendar week on monday (or allow setting)](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/32067667-start-calendar-week-on-monday-or-allow-setting)

It has been open 2017. And Microsoft seems to had not even single eye to it.

So I have give up with User Voice.

[2020-03-30 13:00] bkeski opened #1524 "Business licenses"
How long are the audit records retained for Business Essentials, Premium, Microsoft 365 Business?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent ID: fa4bca98-3975-23dd-dfac-f23049c71d01
* Content: [Search the audit log in the Security & Compliance Center - Micr

[2020-03-30 16:19] #1311 closed

[2020-03-30 16:31] markjjo commented on #1524
@bkeski 90 days. Only Office 365 E5 or Microsoft 365 E5 subscriptions/licenses/add-ons provide 1-yr retention.

[2020-03-30 16:31] #1524 closed

[2020-03-30 17:23] #1508 closed

[2020-03-30 18:10] markjjo commented on #1514
@lightupdifire Thanks for the question. I will add a FAQ.

To answer the question, by default, the import service checks for duplication of items and doesn't copy the data from the PST file into the mailbox or archive if a matching item exists in the **target folder** in target mailbox or target archive. If you re-import the same PST into a different TargetRootFolder (that you specify in the PST i

[2020-03-30 18:10] #1514 closed

[2020-03-30 20:18] JoeDavies-MSFT commented on #1516
@challengelogic The ISO 3166 standard Alpha 2 country code for the United Kingdom is "GB". See https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes for the list. Thanks for the feedback.

[2020-03-30 20:18] #1516 closed

[2020-03-30 20:43] chrisda commented on #1387
Closing

[2020-03-30 20:43] #1387 closed

[2020-03-30 21:28] BayJayRakes opened #1525 "MFA"
Could this script be modified to work with admin accounts that use MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5315da9-9aa3-c091-04fd-1b3dd42b975c
* Version Independent ID: 13f78819-03d0-adf2-2cf8-33b924469d96
* Content: [Use Content Search to search the mailbox and OneDrive for Business site for a list of use

[2020-03-30 21:33] chrisda commented on #1466
@Robright, I agree. I removed those two sentences.

Thanks for the feedback.

Closing

[2020-03-30 21:33] #1466 closed

[2020-03-30 21:36] markjjo commented on #1525
@BayJayRakes Thanks for the inquiry. No, it's not possible to use a script to logon when MFA is enabled/required. Please see github issue #1428

[2020-03-30 21:36] #1525 closed

[2020-03-30 21:38] chrisda commented on #1486
@bakerm00, topic updated.

Thanks for the feedback,

Closing

[2020-03-30 21:38] #1486 closed

[2020-03-30 21:47] chrisda commented on #847
@kjulson, I updated the topic and added a note about 12 hours.

Thanks for the feedback.

Closing

[2020-03-30 21:47] #847 closed

[2020-03-30 21:49] chrisda commented on #974
@ckey1, topic updated.

Thanks for the feedback.

Closing

[2020-03-30 21:49] #974 closed

[2020-03-30 21:54] chrisda commented on #1078
I've heavily updated the topic to mathc current UI. As described, any announcements will occur outside of this topic (likely in a Message Center and/or blog post).

If the settings are currently working for you now, I would see no reason to change them, but be prepared for the day when they will disappear from ASF settings. The guidance seems to be more for new customers who never configured anti-

[2020-03-30 21:54] #1078 closed

[2020-03-30 21:58] chrisda commented on #1363
@stuartschifter-AMA, you're right. I un-published the topic.

Thanks for the feedback.

Closing

[2020-03-30 21:58] #1363 closed

[2020-03-30 22:11] chrisda commented on #1364
@fuytters, the privacy policy link is available on the **Select add-in** page (step 4 in the [Get and enable the Report Message add-in for your organization](https://docs.microsoft.com/microsoft-365/security/office-365-security/enable-the-report-message-add-in?view=o365-worldwide#get-and-enable-the-report-message-add-in-for-your-organization) section.  I'll include it here:

<https://privacy.micro

[2020-03-30 22:11] #1364 closed

[2020-03-30 22:14] chrisda commented on #1375
Topic was updated.

Closing

[2020-03-30 22:14] #1375 closed

[2020-03-30 22:19] chrisda commented on #1405
@giant, I only see one reference in the TOC file, and in search results for "What is EOP?

![image](https://user-images.githubusercontent.com/33166947/77967310-b88c8100-7299-11ea-98bc-a012d9bc0e29.png)

I guess we must have fixed it?

Thanks for the feedback.

Closing

[2020-03-30 22:19] #1405 closed

[2020-03-30 23:13] JoeDavies-MSFT commented on #1520
@challengelogic The article has been updated. Thanks for letting us know.

[2020-03-30 23:13] #1520 closed

[2020-03-31 01:35] mypil commented on #1504
@cchambers-cap - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by chrisda  so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-03-31 01:35] #1504 closed

[2020-03-31 04:34] omerahm commented on #1515
Ok, I am facing the same issue the script has blocked everyone in the tenant to create teams including myself (global admin). This is not right, there must be a step to undo it.

[2020-03-31 09:06] GiantCrocodile commented on #1405
@chrisda I see the same behavior but if you check that one article the ToC entry doesn't match the article's title. So this should be updated too.

[2020-03-31 10:03] luconsta commented on #1515
Hello @omerahm ,
How to "undo it" is documented already: set **$GroupName to** "" and **$AllowGroupCreation** to "**True**" and rerun the script.

It just seems that the **Global Administrator** must be also **member** in the **$GroupName** even if is the owner of that group because was creating it, and in my case this will solve the problem.

My problem was that the documentation was misleading w

[2020-03-31 10:12] omerahm commented on #1515
Hi @luconsta,
Thanks for replying yes I had done it already.
By this, I have realised that it is not working on the GroupName but the entire tenant.  Moreover, when I corrected the issue I tired
$GroupName = "Groups Creation Denial"
$AllowGroupCreation = "True"
And the funny thing is before running the script I had deleted the group (20+ minutes ago) and there was no error, which Indicates the scr

[2020-03-31 13:04] DeanGross opened #1526 "Nice Start - but incomplete"
While this is helpful, it does not provide any guidance about tasks that should be performed to implement the numerous compliance tools in O365. It would be more helpful if it included some steps about insider risk, e-Discovery, compliance scorecard etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f2650327-5996-2155

[2020-03-31 13:51] akvadlamani opened #1527 "Graph API support for Quarantine"
Is there Graph API to support quarantine operations (list/release/others)? It has been pretty difficult to find the information. Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7325da5e-3116-025e-7ae8-f8dc837897bf
* Version Independent ID: 313221de-4f12-3b21-4a1c-0bdd3d3cb1d2
* Content: [Manage quarantined messag

[2020-03-31 15:33] NickDorak opened #1528 "Can users specify expiry?"
Is the expiry only available by PowerShell or does it respect message options chosen by user?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b5f55d9b-ad37-ff15-45c2-69287ff07b98
* Version Independent ID: d5a29d2f-8696-a089-93ae-42a12f656e3b
* Content: [Set an expiration date for email encrypted by Office 365 Advanced M

[2020-03-31 16:35] chrisda commented on #1527
Standard PowerShell support, which you can likely tie into programmatically:

- [Delete-QuarantineMessage](https://docs.microsoft.com/powershell/module/exchange/antispam-antimalware/delete-quarantinemessage)
- [Export-QuarantineMessage](https://docs.microsoft.com/powershell/module/exchange/antispam-antimalware/export-quarantinemessage)
- [Get-QuarantineMessage](https://docs.microsoft.com/powershel

[2020-03-31 17:37] cmcatee-MSFT commented on #1512
@dsnorton I've added a link to the article that tells how to do this.

[2020-03-31 17:37] #1512 closed

[2020-03-31 17:53] DeanGross opened #1530 "What's new information"
Please provide a what's new change log so that can easily learn when new services and activities are added to the log. For example, Microsoft Teams Healthcare activities was added, but I did not know this and I cannot tell when it happened.
Also, there should be messages posted in the O365 Message Center when these changes occur.

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-03-31 18:04] MarkInPA13 opened #1531 "Only Works for Some Users"
The scripts appears to work for some of my users but other users still have the ability to create groups within the Teams app.  I reran the script and it definitely displays EnableGroupCreation = False on the last line.  I am unsure why it only partially works in my environment.

[2020-03-31 18:05] MarkInPA13 opened #1532 "Only Works for Some Users"
The scripts appears to work for some of my users but other users still have the ability to create groups within the Teams app.  I reran the script and it definitely displays EnableGroupCreation = False on the last line.  I am unsure why it only partially works in my environment.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-31 18:51] JGruszczyk commented on #1511
Hi - it appears the host machine either has too little CPU or storage, probably storage. I've verified this works on fine on our end, however we’ll add a ‘troubleshooting’ section to the next version of the guide to help with this. Thanks!

[2020-03-31 18:51] #1511 closed

[2020-03-31 20:39] mypil commented on #1531
Closing this issue as it is a duplicate to issue #1532

[2020-03-31 20:39] #1531 closed

[2020-03-31 20:48] chrisda commented on #1469
@prontohostau, I've been looking into this.  Apparently, disabling junk email reporting does not affect the Junk/Not junk actions you see in the Outlook on the web ribbon or when you right-click on a message. They're always present, because that same selection also moves messages into or out of the Junk Email folder. Disabling junk email reporting removes that intermediate dialog that asks you if

[2020-03-31 20:48] #1469 closed

[2020-03-31 21:32] msbemba commented on #1474
@lkuhn65 Thank you for your feedback. At the moment there is no data available on the admin portal to track usage of applications. This is more of a design change and I will check with the @mypil  and let you know what can be done.

Thanks
Sri

[2020-03-31 23:35] msbemba commented on #1479
@andy-guillen Thank you for the feedback. We have updated the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/1534

Thanks
Sri

[2020-04-01 02:45] akvadlamani commented on #1527
Thank you Chris. It would have nice to have the support in Graph API itself rather than to start learning Powershell now. Is it on the roadmap anytime soon?

[2020-04-01 02:58] cabailey commented on #1125
Page now updated for retain-only and delete-only retention policies, for both SharePoint and Exchange.

[2020-04-01 02:58] #1125 closed

[2020-04-01 03:00] cabailey commented on #1429
Page now updated for retain-only and delete-only retention policies, for both SharePoint and Exchange.

[2020-04-01 03:00] #1429 closed

[2020-04-01 11:21] michalrok opened #1535 "AzureADPreview now uses different object property names"
Same script but updated to new property names, and now matching security group by exact match not substring:
[code]

[2020-04-01 15:16] amitpawar74 opened #1536 "What about M365 A3/A5 SKU for Education ?"
The article only mentions Enterprise SKUs of M365. Lots of schools would love to use this policy with their academic licensing.

[2020-04-01 16:38] noopman opened #1537 "What PS Cmdlets should we use"
This page does not give any indication how to install the PS Cmdlets that we need to run the commands. I would of course have the correct version of things.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f52c6916-7e79-9a9c-b7a6-47041ddb81e3
* Version Independent ID: 43c9b873-d354-d814-3065-1e8832361b86
* Content: [Set

[2020-04-01 16:38] Sirkkuw commented on #1513
@GiantCrocodile the table is fixed - and  I am flagging loc re the German version.

[2020-04-01 16:38] #1513 closed

[2020-04-01 16:43] Sirkkuw commented on #1489
@damblas I am not aware if there is a way - I will look into this

[2020-04-01 16:48] Sirkkuw commented on #1491
@Ebenezerpaul you need to have the Power BI Pro version in order to use this.Is that the problem?

[2020-04-01 16:59] TinaMcN commented on #1513
@GiantCrocodile thanks for reporting this.  I'm looking into why the German file is not updated. The same thing is true for the other languages too.

[2020-04-01 18:31] markjjo commented on #1530
@DeanGross Any substantial new additions to auditing activities are cited in this topic: https://docs.microsoft.com/en-us/microsoft-365/compliance/recently-updated-topics-mcc?view=o365-worldwide (btw, these healthcare activities were added in Oct. 2019). For MC posts, please give product feedback with this suggestion.

[2020-04-01 18:31] #1530 closed

[2020-04-01 19:44] FrankMcGovern opened #1539 "Block Clarification"
It would be beneficial to have on the documentation if "Actively block the email or file sharing from taking place" being enabled in the DLP policy means that encrypted emails or files would also be blocked. If so, how is Microsoft seeing the encrypted contents?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce36344d-6

[2020-04-01 20:16] cloudcrazie opened #1541 "This script doesn't create the WIN10 vm. Standard_A2_v2 is not available in specified location"

[2020-04-01 20:37] chrisda commented on #1527
I was only aware of using Graph API for reporting.

[2020-04-01 20:37] #1527 closed

[2020-04-01 20:51] denisebmsft commented on #1454
Hello @stuartschifter-AMA and thank you for the feedback. I found the item you mentioned [here](https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=O365%2CRolling%20out#owRoadmapMainContent) (https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=O365%2CRolling%20out#owRoadmapMainContent); however, that feature isn't specific to Office 365 Advanced Threat Protection (which is the

[2020-04-01 21:24] Sirkkuw commented on #1489
OK - this is not currently possible. It has been a feature request, however.

[2020-04-01 21:24] #1489 closed

[2020-04-01 21:30] damblas commented on #1489
Ok, many thanks for your answer. Finally I manged to do so using the mail merge Personalization tool in Outlook, which allows you to send mass email using a csv list.

[2020-04-01 21:31] mypil commented on #1535
@michalrok - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-04-01 21:31] mypil commented on #1536
@amitpawar74 - May we know which Microsoft document link you used in reference to this issue?
Please share it with us so we can investigate further. Thank you.

[2020-04-01 21:46] GlennMillerNZ opened #1542 "What PIM Role to perform action??"
Can you please advise and update this article to advise what Privileged Identity roles we need to perform this action?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d49db57-a705-20aa-e98d-5b3d6bbbf9fd
* Version Independent ID: 5a056f2c-03c9-7a34-3196-8bfb1039f6a5
* Content: [Restore a deleted Office 365 group - Micro

[2020-04-01 23:17] AndySanchezVM opened #1544 "Does ATP require Office 365 Business apps or ProPlus? or can it work with Office 365 Home apps?"
My customer has Office 365 Business Essentials + ATP, they use Office 365 Home apps because they already purchased them before moving full cloud.  Does ATP require Office 365 Business or ProPlus? or can it work with Office 365 Home apps?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f4d9231-3dae-4719-7728-c212b6f72fe

[2020-04-01 23:35] mypil commented on #1541
@cloudcrazie - Can you please share what specific issue you have and may we know which Microsoft document link you used in reference to this issue?

Please share it with us so we can investigate further. Thank you.

[2020-04-02 00:00] Krytical13 opened #1545 "To learn more about which resources are created for each group, visit Learn about Office 365 Groups."
Under 'Technical Architecture'
[The linked article](https://support.office.com/article/learn-about-office-365-groups-b565caa1-5c40-40ef-9915-60fdb2d97fa2) does not make clear: Which resources are created for each group.

The linked article has some description for Yammer/Outlook, mentions teams, but for some reason in much less detail, and no mention of Power BI.

There should be a definitive list

[2020-04-02 01:09] amitpawar74 commented on #1536
This is in reference to https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-case-study?view=o365-worldwide

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Joyce Y. <notifications@github.com>
Sent: Thursday, April 2, 2020 5:31:29 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.g

[2020-04-02 05:56] michalrok commented on #1535
https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/manage-creation-of-groups?view=o365-worldwide

[2020-04-02 12:14] VLG17 commented on #1377
@MHamilton-Ryder Thank you for providing this feedback. I have created a PR to add the missing condition.

[2020-04-02 12:14] cloudcrazie commented on #1541
I am getting error message saying Win 10 standard A2v2 is not available in West US.

[cid:278f4659-02af-4d2c-981f-4f4e880a6119]
________________________________
From: Joyce Y. <notifications@github.com>
Sent: Wednesday, April 1, 2020 7:35 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: cloudcrazie <cloudcrazy.us@outlook.com>; Mention <mention@noreply.github.com>

[2020-04-02 13:25] pjrcdf opened #1548 "Typo in table"
In the last entry 2nd column (effect) for "Apply the above selection if malware scanning for attachments times out or error occurs, there is a typo. it reads

"Applies the action configured for unasfe attachments to the attachments that cannot be scanned (due to time out or error)"

and should read

"Applies the action configured for unsafe attachments to the attachments that cannot be scanned (du

[2020-04-02 14:23] Robright opened #1549 "Vague wording"
"The Recycle Bin is not used and therefore searches do not find content there. This means that an eDiscovery hold can't locate any content in the Recycle Bin to hold it."

I'd suggest this should read something like: "The Recycle Bin is not indexed and therefore unavailable for searching. Thus, an eDiscovery search can't find any Recycle Bin content on which to place a hold."

[Enter feedback here

[2020-04-02 14:26] DevJonBirkett opened #1550 "Word must appears twice"
Priority/impact: Minor
**Section**
https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-configure?view=o365-worldwide#before-you-begin

The word "must" appears in the sentence following the list of licenses.
Eg.
"Users included in communication compliance policies must must be assigned one of the licenses above."

[2020-04-02 15:01] jreinhardtiv4 opened #1551 "Intra-Org Spoofing - Could be Classified as SPM and SPOOF?"
Is it accurate in the table in the section "Understanding changes in how spoofed emails are treated" that intra-org spoofing is always classified as SPM? I've been doing testing, and I've had the service classify such spoofing as both SPM and SPOOF. In the case of SPM, the compauth reason code was one of the 4xx codes reflecting. It seems this might need some more precision.

Overall, the complexi

[2020-04-02 15:04] cyrilleB opened #1552 "Step missing"
Probably a typo, but it goes from Step 2 to Step 4

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e935bd03-8b2a-2271-b886-5643f5c7ea51
* Version Independent ID: 82a7b468-c1b6-ac74-3600-e96f274bbe89
* Content: [Manage who can create Office 365 Groups - Microsoft 365 admin](https://docs.microsoft.com/en-gb/microsoft-365/

[2020-04-02 15:51] philkloose opened #1553 "Bypass Spam Filtering Rule Working -- Messages Still Ending Up In Quarantine"
I've implemented the mail flow rule as described in this article and I still have messages that end up in the user's hosted quarantine.  I know the rule is working because I can see the custom X-Header and the SCL=-1 in a message trace, but then something further along the pipeline seems to be making the determination that it is indeed spam and applies an SCL=6 (or greater).  I was under the impre

[2020-04-02 16:21] zx3-at commented on #1401
If you hold down the Windows key + Ctrl + right-shift and type in "Satya Nadella" on the keyboard, then immediately click the right mouse button, whilst hovering over the app menu, then this features does not return. It's gone guys....they've nuked it. Wish we knew why they did that :-(

[2020-04-02 16:24] petegriggs commented on #1401
It is still there guys. I raised a support ticket - the admin has to have a license assigned for Outlook - I licensed created my tile and then revoked license.

[2020-04-02 16:30] philkloose commented on #1553
I know this isn't tech support, and I've already contacted them, but I'm expecting to have something of significance to add to this article by the time I finish troubleshooting this issue.  It seems that "Modify the message properties > set the spam confidence level (SCL) > Bypass spam filtering" action is simply adding another "SCL=" value and there is already an "scl=" value there.  Is that the

[2020-04-02 16:54] chrfox commented on #1382
closing this no response for 15 days

[2020-04-02 16:54] #1382 closed

[2020-04-02 16:55] ceejey01 opened #1554 "Search if a document library have been synced to a PC"
In audit logs, several files were deleted by sharepoint/system. No retention/deletion policy. How can I check if the particular document library was ever synced to a PC. I believe this will help in investigating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent I

[2020-04-02 16:59] VLG17 commented on #1384
@sing-ideas Tenant ID and Directory ID is the same thing when talking about Azure.

I could not find any reference to Power Apps in the articles you mentioned, so i don't know the context, but a Power Apps tenant would be the Azure AD tenant on top of which you are buildng your Power Apps platform.

[2020-04-02 17:00] chrfox commented on #1483
Hi @AveryBaker
Thanks for your comment, I'll check on this and update the content as appropriate

[2020-04-02 17:05] denisebmsft commented on #1454
Hello again! Our product team is still working on rolling out this feature and the roadmap will be updated accordingly. We probably won't include this in the ATP article because the feature is not specific to ATP. Thanks again for your feedback!!

[2020-04-02 17:05] #1454 closed

[2020-04-02 17:12] stuartschifter-AMA commented on #1454
CONFIDENTIAL & RESTRICTED

Hi Denise,
The new ability to create a custom mailbox for submissions is directly related to ATP Anti-Phishing and also EOP Spam submissions.
This gets confusing as part of what was messaging security keeps moving to the Security & Compliance portal.
Regards, Stu

From: Denise Vangel-MSFT <notifications@github.com>
Sent: Thursday, April 2, 2020 1:05 PM
To: MicrosoftDocs/

[2020-04-02 17:15] markjjo commented on #1554
@ceejey01 Please see these sync-related auditing activities: https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#synchronization-activities

You might also try to using the "File, folder, or site" box in the audit log search UI with the name/URL of the document library or a document in that library.

Otherwise, you can consi

[2020-04-02 17:15] #1554 closed

[2020-04-02 17:29] cabailey commented on #1494
@bakerm00  I haven't seen a reply here or on the Yammer post.  I don't see a problem with the documentation so I'll close this GitHub Issue but if you still have questions about this new role, I recommend you follow up on your Yammer post.

[2020-04-02 17:29] #1494 closed

[2020-04-02 17:32] cabailey commented on #1549
@Robright  Thanks for your feedback!  Investigating.

[2020-04-02 17:43] VLG17 commented on #1390
@sing-ideas Yes, you could have 10 domains added to one O365 subscription, which would correspond to 10 brands of product/services, each with their own E-Mail domain:

user1@domain1.com
user2@domain2.com
.......
user10@domain10.com

From a licencing perspective, you still need to have valid Exchange Online licenses (or a Plan that contains them) for these users. It does not matter how they are spl

[2020-04-02 18:31] VLG17 commented on #1396
@cmcapellan Have you tried leveraging the "**Add-UnifiedGroupLinks**" cmdlet described in [this article](https://www.petri.com/external-access-office-365-groups) by a Microsoft MVP?

[2020-04-02 21:49] mypil commented on #1550
@DevJonBirkett - Thank you for pointing this out.

PR #1555 has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-04-02 22:24] mypil commented on #1548
@pjrcdf - Thank you for pointing this out.

PR #1556  has been created to fix and close this issue once the PR is merged.

Thank you and we appreciate your contribution to make the docs better!

[2020-04-02 23:30] GeorgeChiuTheHartford opened #1560 "Architect"
It is not clear with either(1) E3 that customer lockbox feature is not available or (2) with customer lockbox feature available with E5 but the "require approval" switch is off that Microsoft support can access customer data without customer knowledge or not.  Please clarify

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-04-03 00:22] sheriltx opened #1561 "Password"
I need my Password reset because I tried 3 times.  This crazy but I cant get any number to accept my call.

I am desperate

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d29992b-3923-dee5-80ce-d2f6d742a22d
* Version Independent ID: 69b84bff-490f-7e75-51fd-b1f0e77dc247
* Content: [Assign admin roles the Microsoft 365 a

[2020-04-03 00:23] msbemba commented on #1401
@O365DevHero  Thank you for your feedback. We added a note to the document about what to do when you don't see the custom tile

 "If you don't see the custom tile created in the previous steps, make sure you have an Exchange Online mailbox assigned to you and you've signed into your mailbox at least once. These steps are required for custom tiles in Office 365."

Hope this helps!

Thanks
Sri

[2020-04-03 03:36] RyanBlakeIT commented on #1382
My apologies on the delay, I forgot that I used my personal e-mail account to submit this.  In any case, @chrfox was correct with his statement.

[2020-04-03 04:32] rgsteele opened #1562 "Error in "Move from baseline policies to security defaults" instructions"
In step 2 of the instructions in the "Move from baseline policies to security defaults" section, it says: "Next to Sign-in and security, under Make sign-in more secure, select View." However, there is no "Make sign-in more secure" section. I had to navigate to Azure Active Directory &gt; Security &gt; Conditional Access to turn off the Baseline policy.

---
#### Document Details

⚠ *Do not edit th

[2020-04-03 05:14] rgsteele commented on #1562
Update: I also had to disable the policies at the link mentioned in this comment on another GitHub issue: https://github.com/MicrosoftDocs/azure-docs/issues/43961#issuecomment-575595868

[2020-04-03 09:40] pjrcdf commented on #948
I think having an additional note to illustrate the the highest priority is 0 would be useful.

For a newcomer to the technology the idea that the highest priority is actually the lowest value is a little counter intuitive and confusing.

[2020-04-03 11:27] ChrisAtMAF opened #1563 "Unable to use Microsoft 365 Admin app to manage tenant"
Hi,

I have two Microsoft 365 tenants that I manage. I am able to log into the Microsoft 365 app for one of these perfectly well using version 3.62.0 of the app and iOS 13.4.

However I have never been able to log into the second tenant successfully. I enter my username, am prompted for my password, then the app 'hangs' with a white screen and the small 'flower' circle going round and round foreve

[2020-04-03 11:51] pjrcdf opened #1564 "Spoof security features no longer available"
In the table for Spoof security feature name there are 2 values noted that are only available via PowerShell.

EnableSuspiciousSafetyTip
TreatSoftPassAsAuthenticated

These parameters are no longer listed in the documentation for the set-antiphishpolicy or new-antiphishpolicy cmdlets and appear to have been deprecated.

Can you please update either this documentation or the documentation for those

[2020-04-03 16:49] VLG17 commented on #1406
@aikensam it's relevant only for [Office 365 operated by 21Vianet](https://docs.microsoft.com/en-us/microsoft-365/admin/services-in-china/purpose-of-cname?view=o365-21vianet).

I'll add a note about that.

[2020-04-03 17:24] Jared-Harrington-Gibbs commented on #1476
Hope that helps!

as per: [O365 encryption for skype, onedrive, sharepoint, and exchange](https://docs.microsoft.com/en-us/microsoft-365/compliance/office-365-encryption-for-skype-onedrive-sharepoint-and-exchange?view=o365-worldwide)
Several workloads in Office 365 store data in SharePoint Online, including Microsoft Teams, which stores all files in SharePoint Online, and OneDrive for Business, wh

[2020-04-03 20:00] ionab10 opened #1572 "Operation for user changed password"
According to these documents, "Change user password" indicates that an "Administrator changed the password for a user." How would we find audit logs for a user changing their own password?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent ID: fa4bca98-3975-23dd-df

[2020-04-03 21:07] mccollek commented on #1493
Same issue but we have GCC E3 plans

[2020-04-03 21:31] cmcatee-MSFT commented on #1493
@mccollek Did you purchase through a CSP?

[2020-04-03 21:38] markjjo commented on #1572
@ionab10 Thanks for the question. It looks like the documentation is incorrect. I just tested and the "Changed user password" action will be triggered when a user resets their own password (assuming that users can reset their own passwords, which is configurable in Azure AD). You can also look at the auditing reports in Azure AD to see when a user resets their own password. Here's more info about

[2020-04-03 21:38] #1572 closed

[2020-04-03 21:42] chrfox commented on #1483
Hi @AveryBaker
Thanks for pointing this out, the document has been corrected to reflect 100KB worth of items.

[2020-04-03 21:42] #1483 closed

[2020-04-03 21:52] mccollek commented on #1493
We did; that was it.

On Fri, Apr 3, 2020 at 5:31 PM Cern McAtee <notifications@github.com> wrote:

--
Karl McCollester
1122 Lady St #1050
Columbia, SC 29201
www.udhaa.com
803-250-1301
PGP Public Key
<https://keys.mailvelope.com/pks/lookup?op=get&search=0xD56377DBEABAC39E>
Need to meet?: https://calendly.com/mckarl

[2020-04-03 22:15] cmcatee-MSFT commented on #1493
Traditional add-ons, of which Extra File Storage is one, aren't available if you purchases through a CSP or VL.

[2020-04-03 22:15] #1493 closed

[2020-04-03 23:46] mypil commented on #1541
@cloudcrazie - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution s

[2020-04-03 23:46] #1541 closed

[2020-04-04 00:54] mypil commented on #1362
@takeakitake - We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

If there is a specific area of the docs that we can improve on, please feel free to open a new issue by clicking on the Feedback section on the specific Microsoft doc which is found at the bottom of the page. Thank you.

[2020-04-04 00:54] #1362 closed

[2020-04-04 12:37] mypil commented on #1460
@bakerm00 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a similar request that you can

[2020-04-04 12:37] #1460 closed

[2020-04-04 16:00] mypil commented on #1459
@nchokoev - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/dc3a6dbb393b68828addf13012ddc3763109d6ef.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-04 16:00] #1459 closed

[2020-04-04 23:50] mypil commented on #1474
@lkuhn65 - Thank you for engaging with the community here for the docs.

I know the product teams are always looking for user feedback and feature requests on how to make Office 365/Microsoft 365 better. They keep a close tab on user feedback and it would be awesome if you could add your voice in **[UserVoice](https://office365.uservoice.com)**.
You might find others have made a similar request th

[2020-04-04 23:50] #1474 closed

[2020-04-05 01:00] mypil commented on #1465
@Ronsss - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/05b02d5195146cd93a441bbf637c50596f649039.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 01:00] #1465 closed

[2020-04-05 01:01] mypil commented on #1498
@lgkron  - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/05b02d5195146cd93a441bbf637c50596f649039.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 01:01] #1498 closed

[2020-04-05 14:02] mypil commented on #1384
@sing-ideas - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 14:02] #1384 closed

[2020-04-05 14:22] mypil commented on #1396
@cmcapellan - Can you please respond to the query of VLG17?

Thank you.

[2020-04-05 14:29] mypil commented on #1390
@sing-ideas  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by VLG17 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 14:29] #1390 closed

[2020-04-05 16:21] mypil commented on #1536
@amitpawar74 - Thank you for this inquiry.

I will get this issue over to the Microsoft 365 writing team for investigation.

Thank you for reporting and making the docs better. Much appreciated.

I made a note to request the team to update this when the work is complete.

[2020-04-05 16:21] mypil commented on #1536
@robmazz - Can you please share your insights on this issue?

Thank you.

cc: @kenwith

[2020-04-05 16:22] amitpawar74 commented on #1536
Adding my work email.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Joyce Y.<mailto:notifications@github.com>
Sent: Monday, April 6, 2020 12:22 AM
To: MicrosoftDocs/microsoft-365-docs<mailto:microsoft-365-docs@noreply.github.com>
Cc: amitpawar74<mailto:amitpawar@live.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-d

[2020-04-05 16:49] mypil commented on #1408
@kelemvor33 - Thank you for submitting feedback.

I think the best way forward is if you can open a **[service ticket](https://docs.microsoft.com/office365/admin/contact-support-for-business-products)** in your tenant so this can get resolved ASAP. Based on outcome, let us know if it is something that can be called out in the docs.

If you don't mind please keep us posted here on the resolution so

[2020-04-05 16:49] #1408 closed

[2020-04-05 17:42] mypil commented on #1361
@kellybos  - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by msbemba so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 17:42] #1361 closed

[2020-04-05 17:46] mypil commented on #1401
@O365DevHero @Trundlore @dbaars @fredparadis @petegriggs - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/132ad9d879db9d.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 17:46] #1401 closed

[2020-04-05 17:59] mypil commented on #1462
@cmanhoff - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by Sureshd868 so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 17:59] #1462 closed

[2020-04-05 18:12] mypil commented on #1476
@Disorganise - Thank you for submitting feedback.

From our understanding, the issue you raised has been answered by Jared-Harrington-Gibbs so we will close this issue.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-05 18:12] #1476 closed

[2020-04-05 18:27] GiantCrocodile commented on #1513
@TinaMcN Hi! Would be great if you can share your insights here. Thank you!

[2020-04-06 04:33] pkiula opened #1575 "How about forwarding all mail at a server level?"
It should be possible to forward all mail from this server to a new server.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5885a586-76b8-83ae-161b-6c9c8793b42d
* Version Independent ID: 681fe343-6272-a75a-ed00-dc7ef4355e67
* Content: [Configure email forwarding in Office 365 - Microsoft 365 admin](https://docs.microsof

[2020-04-06 15:53] TinaMcN commented on #1513
@GiantCrocodile the German article has now been updated and the table is fixed.  https://docs.microsoft.com/de-de/microsoft-365/admin/security-and-compliance/secure-your-business-data  Hope it looks ok for you now.

[2020-04-06 17:07] GiantCrocodile commented on #1513
@TinaMcN Thank you! It looks better now. I noticed another issue: When you click on the avatar of the Github user who edited that page (on the right of the estimated time to read the article) it leads to a 404 file not found error on GitHub. Seems like the GitHub link is wrong in the German articles.

[2020-04-06 23:13] NIxonden1 opened #1577 "Confused"
I have no idea what all this means - I am no techie!! All I want to do is use Office Business 365 Premium to see my outlook on my devices and to have access to docs as I travel. It should be simple

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 758b21fa-24c1-8c68-259f-daac0caf35ae
* Version Independent ID: bce80397-ee0

[2020-04-06 23:35] chrisda commented on #600
@arourke, bit of a late response, but it's my understanding that individual senders in a user's Safe Senders list are honored, but domain entries are not (at least from an anti-spam perspective). Could that be part of the issue?

[2020-04-07 00:33] TinaMcN commented on #1513
@GiantCrocodile wow, that is a good bug you found.  I see it repro's on multiple articles and multiple languages.  I will do some investigation to try to fix it soon.

[2020-04-07 06:14] kennethvs opened #1578 "Impersonation behaviour when protected domains/users list is empty"
If in the default Anti-Phishing policy you configure the "Action &gt; Domain impersonation" and set it to Quarantine the message, bu t leave the list under "Protect specific domains, include custom domains" empty, what is the expected behaviour? I would expect nothing, but have some hints that if the list is empty *all* non-owned domains are effected, resulting in all email send on behalf of... (f

[2020-04-07 11:13] pjrcdf opened #1579 "Typo"
Page currently reads

"Phase 2 is now progress with the following playbooks in public preview, providing recommendations for actions and aiding security administrators in investigating issues:"

Should read

"Phase 2 is now in progress with the following playbooks in public preview, providing recommendations for actions and aiding security administrators in investigating issues:"

---
#### Documen

[2020-04-07 12:26] SabRom opened #1580 "France Driver's License Number"
Hello,

The France Driver's License Number section seems to be mixed with the previous section (Finland passport number)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c16b548-1fc9-2765-3e8a-7559be41fd9d
* Version Independent ID: 7fe5f4ba-e53d-d86d-4ab9-64e872e33069
* Content: [What the sensitive information types loo

[2020-04-07 15:02] kjwilso commented on #804
The re-install did the trick for me as well. Thanks!

[2020-04-07 15:20] felgar73 opened #1582 "Requirements for non-O365 recipients"
Can you provide more details on what is required from external, non-O365 recipients (Google, Exch on-prem, etc.) to decrypt or access the OME portal and request the OTP? Is there a specific URL or URLs that are needed to be allowed via firewall such as, "*outlook.office365.com/Encryption/"?
-Thnx

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-04-07 15:38] umair-iscs commented on #1515
Hi, I am facing the same as it is applying for whole tenant, any possibility to apply only specific group, it is not checking security group I have revert back then only I am able to create a group or team.
How to enable the restriction for specific users/group, if anyone has done these please share your feedback.

[2020-04-07 15:49] omerahm commented on #1515
@umair-iscs couldn't find any solution to it yet. But try something create a user with Group Admin Role. Then run the script if the group admin can create groups then I hope this will resolve your issue. Since I have a huge tenant doing it will be a mess.

[2020-04-07 15:58] denisebmsft commented on #1579
@pjrcdf thank you so much for catching that. My apologies. It's fixed, and you should see the change render live in a couple of hours.

[2020-04-07 15:58] #1579 closed

[2020-04-07 16:15] #1550 closed

[2020-04-07 16:28] robmazz commented on #1536
@amitpawar74 - thanks for the feedback, we've recently updated this topic and the "Get Started with communication compliance" topics with new licensing guidance. Here's a link (https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-case-study?view=o365-worldwide#licensing) to the section you've referenced in this issue.

[2020-04-07 16:28] #1536 closed

[2020-04-07 16:56] robmazz commented on #1488
@mzwetkow - thanks for the feedback, the link for the updated whitepaper has been added. The link for Montrium was already correct. Thanks!

[2020-04-07 16:56] #1488 closed

[2020-04-07 16:58] robmazz commented on #1307
@thewrabbit - thanks for the feedback. Yes, the A5 and A3 (EDU) subscriptions are supported and I've updated the license guidance in the topic (https://docs.microsoft.com/en-us/microsoft-365/compliance/insider-risk-management-configure?view=o365-worldwide#before-you-begin). Thanks again!

[2020-04-07 16:58] #1307 closed

[2020-04-07 17:00] robmazz commented on #1457
@marcjho - thanks for the feedback, the link has been updated in the topic. Thanks!

[2020-04-07 17:00] #1457 closed

[2020-04-07 17:05] robmazz commented on #1351
@Jayesh040 - thanks for your feedback and I apologize for the long delay with an answer. I'm trying to see if there is other guidance that I can point you to instead of just pointing to Microsoft Support. Thanks for your patience!

[2020-04-07 17:09] robmazz commented on #1422
@andywahr - thanks for the feedback! We've opened a work item to update this topic to sync with Azure blog, it should be publishing in a few weeks. Please check back on the topic for the new changes. Thanks!

[2020-04-07 17:09] #1422 closed

[2020-04-07 17:48] umair-iscs commented on #1515
I have fixed it by running this

$Setting = Get-AzureADDirectorySetting -Id (Get-AzureADDirectorySetting | where -Property DisplayName -Value "Group.Unified" -EQ).id
$Setting["EnableGroupCreation"] = $False
$Setting["GroupCreationAllowedGroupId"] = (Get-AzureADGroup -SearchString "Allowed Security Group Name").objectid
Set-AzureADDirectorySetting -Id (Get-AzureADDirectorySetting | where -Property

[2020-04-07 19:11] PiKappZ746 opened #1583 "O365CompatibilityChecker & MFA?"
Are there any plans to update the O365CompatibilityChecker to support MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66ace7ce-d26f-68d0-2206-525acc513322
* Version Independent ID: 19e8d325-8074-2878-b864-cf0802e23cb0
* Content: [Determine if Centralized Deployment of add-ins works for your organization - Microsoft

[2020-04-07 19:46] magicmike73 commented on #1462
We have exactly the scenario Sureshd868 has described: "Customers in Australia, Canada, Iceland, Japan, New Zealand, Norway, Switzerland, USA, or any country in the European Union may license the Windows 10 Home to Pro Upgrade for Microsoft 365 Business in any quantity up to the number of its Microsoft 365 Business subscriptions."

We have bought the SKU but the activation key does not work. Can I

[2020-04-07 21:22] Sureshd868 commented on #1462
Try https://www.microsoft.com/Licensing/servicecenter/Help/Contact.aspx to see if you can get support to activate the key.

[2020-04-07 22:48] mypil commented on #1377
@MHamilton-Ryder - Thank you for submitting feedback.

From our understanding, the issue has been resolved based on this merged commit https://github.com/MicrosoftDocs/microsoft-365-docs/commit/be5125bd215bee40b87b33cb85f76fde2ea10081.

Thank you for your contribution to make the docs better! Much appreciated!

[2020-04-07 22:48] #1377 closed

[2020-04-07 22:48] markjjo commented on #1499
@misprogrammer Sound like you were able to troubleshoot this issue and was able to install the eDiscovery export tool. If possible, can you reply with what the trouble was and how you determined the registry fix? Can you send repro instructions or an error message? From engineering, is sounds like you reset the trust prompt behavior back to it's default setting, as per: https://docs.microsoft.com/

[2020-04-07 22:48] #1499 closed

[2020-04-08 05:17] takeakitake commented on #1362
This article
https://docs.microsoft.com/en-us/microsoft-365/business/support/microsoft-365-business-faqs?view=o365-worldwide

Thank you

[2020-04-08 07:05] michevnew opened #1584 "Removing license"
Can you please explicitly mention in the article what exactly happens when you remove a license, and also clearly state what is a *supported* configuration? For example, if a user has 100GB worth of files in their OneDrive and you choose to convert it to shared mailbox, with only removing the license and not deleting the user account. What will happen to the files, will ODFB still be accessible, c

[2020-04-08 07:06] michevnew opened #1585 "Clarify "inactivate""
In the following text:

"If you set up email forwarding, you cannot remove the license. Doing so will stop the email forwarding and inactivate the mailbox."

Can you please clarify what is the meaning of "inactivate" and/or rephrase it. If you are referring to the "inactive mailbox" functionality, make sure to explicitly mention that the mailbox needs to be on hold first.

---
#### Document Detail

[2020-04-08 13:46] challengelogic opened #1586 "Confused about the new policy - 'Applied to settings'"
From 'Edit your policy', and under 'Policy setting' there is an opportunity to set 'Applied to' as a user and / or Domain.
However if you click 'Edit' next to Impersonation there is an option to again 'Add users to protect' and 'Add domains to protect' - isn't this the same as I've already supplied under 'Policy setting'?

---
#### Document details

⚠ *Do not edit this section. It is required for

[2020-04-08 15:58] cabailey commented on #1468
@Robright :  Thanks for your feedback!  Yes, this page is due an update throughout for the Microsoft 365 compliance center.  On my list : )

[2020-04-08 16:55] Sirkkuw commented on #1562
@rgsteele  - you are correct. this has been changed. I will update the doc.

[2020-04-08 19:23] denisebmsft commented on #1478
Hello @zlDev and thank you for the feedback. I updated the Safe Links article (and changes will be live this afternoon) but am not clear on what is needed for the Threat Explorer article. Did you run into issues more with Threat Explorer, or more with ATP Safe Links?