[2022-05-20 21:14] #7519 closed

[2022-05-20 21:18] kelleyvice-msft commented on #8235
These domains are still active, but in order to successfully ping them, you must prepend the name of your tenant, and you must have configured your tenant with SharePoint Online. -Kelley

[2022-05-20 21:19] kelleyvice-msft commented on #8324
Thanks for reaching out. I have requested clarification from the engineering team and will reply back to this issue when I have more information. -Kelley

[2022-05-20 21:20] #7896 closed

[2022-05-20 21:23] kelleyvice-msft commented on #8373
Thanks for reaching out. For information on how to get notified when there are updates to the Office 365 endpoints web service, see https://docs.microsoft.com/microsoft-365/enterprise/managing-office-365-endpoints#change-management-for-office-365-ip-addresses-and-urls. There are multiple methods listed. -Kelley

[2022-05-20 21:25] kelleyvice-msft commented on #8469
Thanks for reaching out. I will talk to the engineering team about getting this information added to the article. Thanks! -Kelley

[2022-05-20 21:28] kelleyvice-msft commented on #8528
Thanks for reaching out. I'll look into this and correct the script and documentation as required. -Kelley

[2022-05-20 21:30] denisebmsft commented on #8375
Hello @pjrcdf and @yogkumgit. Thank you for the feedback. Microsoft Defender Antivirus exclusions are respected in EDR in block mode, but not across other protection capabilities in Defender for Endpoint (such as attack surface reduction rules and controlled folder access). I have updated the article and the changes should be live later today. Thank you for helping us improve our documentation.

h

[2022-05-20 21:30] #8375 closed

[2022-05-20 21:38] denisebmsft commented on #8650
Thank you @tfunatani for posting this issue. And thank you @RAJU2529 for your notes here. I have opened a work item to get the docs updated (ADO 6070481). Will update this issue as soon as I know more about doc status.

[2022-05-20 21:44] denisebmsft commented on #8529
Hello @ahmedbadawy80. Thank you for posting your question here. In general, we recommend scheduling quick scans as opposed to full scans, because full scans can involve a lot of time and system resources. However, as you have mentioned, not everyone agrees with one single approach. Each organization is different, and it's difficult to say for sure which scan type is best for your organization. The

[2022-05-20 21:44] #8529 closed

[2022-05-20 23:21] o-l-a-v commented on #8235
@kelleyvice-msft

I'm replacing <tenant> with my tenant initial domain (before .onmicrosoft.com), of course.

One of the mentioned domains can't be pinged, so please don't close this.

[2022-05-20 23:49] denisebmsft commented on #8184
Hello @mattsmacblog. Thank you so much for posting your question here. I can see how that section was confusing, and I have updated the article accordingly. If you're using Intune to manage tamper protection, you can make changes, such as applying tamper protection to some or all devices, or defining exclusions using Intune. What you can't do is switch back and forth between managing tamper protec

[2022-05-20 23:49] #8184 closed

[2022-05-21 04:40] #8568 closed

[2022-05-21 05:14] yogkumgit commented on #8095
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @GitWesDone Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-21 05:14] #8095 closed

[2022-05-21 05:19] yogkumgit commented on #8520
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Mike-Crowley Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-21 05:19] #8520 closed

[2022-05-22 00:19] andrewpEntag commented on #1078
Hi @chrisda, I was just wondering if this is still the recommended action in 2022? I don't see any notes now indicating that these will be depreciated and there is now no explicit guidance to turn them off (or on for that matter).

Thanks,
Andrew

[2022-05-22 04:16] #8521 closed

[2022-05-22 04:20] yogkumgit commented on #8532
@tiburd Please help us in resolving this issue. Thanks

[2022-05-22 04:53] yogkumgit commented on #8606
@ivassallo19  We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some ti

[2022-05-22 05:00] yogkumgit commented on #8659
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @mrmcpowned Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-22 05:00] #8659 closed

[2022-05-22 05:01] yogkumgit commented on #8663
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @tran-master Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-22 05:01] #8663 closed

[2022-05-22 13:35] msbemba commented on #8593
@SirdiJ Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8685

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-22 13:58] msbemba commented on #8646
@ituff Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8686

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-22 14:06] msbemba commented on #8652
@LethalRabbit Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8687

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-22 14:42] msbemba commented on #8657
@TheLegacyKiwi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8688

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-22 14:45] msbemba commented on #8664
@AndrewBlumhardt Thank you for your feedback. All the requirements mentioned in this document is added under system requirements. So this is the minimum requirement for the server to install Microsoft Defender for Endpoint on Linux.

Hope this helps!

Thanks
Sri

[2022-05-22 14:52] msbemba commented on #8669
@vboyev-MSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8689

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-22 14:56] msbemba commented on #8680
@bryannso Thank you for your feedback. The document has been updated with the extra step to Click on the labels section.

Hope this helps!

Thanks
Sri

[2022-05-22 17:34] denisebmsft commented on #8334
Thank you @sujitnaray @yogkumgit I have updated the screenshot in the article. You will see the updates render live sometime tomorrow (May 23).  Thank you for helping us improve our documentation!

[2022-05-22 17:34] #8334 closed

[2022-05-22 17:35] denisebmsft commented on #8402
Greetings @Runs-info @yogkumgit. Our product team is working on this issue. I don't know when it will be resolved but it should be soon.

[2022-05-22 18:49] amcamillo opened #8690 "Summary table should also list support for Windows 2012 R2"
[Enter feedback here]

The Summary table should also list support for Windows 2012 R2 in Passive mode with other non-microsoft AV solutions.

This is based on the fact that A little after the summary table, another chart lists 2016 and 2012R2 as supported with 3rd party AV so long as MDE is manually disabled.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-05-22 23:03] ivassallo19 commented on #8606
"but we haven't had any response from you" ... when did you ask for a response? and to what?

If this should be raised somewhere else, kindly inform me of the correct team to raise this with.

[2022-05-23 02:09] schmurky commented on #8665
Hello, did you try this: You can join this table with the [DeviceTvmSecureConfigurationAssessmentKB](https://docs.microsoft.com/microsoft-365/security/defender/advanced-hunting-devicetvmsecureconfigurationassessmentkb) table using ConfigurationId so you can, for example, view the text description of the configuration from the ConfigurationDescription column of the DeviceTvmSecureConfigurationAsses

[2022-05-23 09:58] OlgKis commented on #8004
Thanks a lot for the update @Stealth7777
It's good to know this is now supported!

[2022-05-23 10:04] cdowling1971 commented on #8649
Thanks for reporting this problem @larsser, I have logged an internal case/ticket, and we will continue to follow up internally to make this fix.
FYI @denisebmsft @TinaMcN

[2022-05-23 11:59] pjrcdf opened #8692 "Server Core support?"
Hi,

Under supported Windows version this page lists

Windows server

Windows Server 2008 R2 SP1 ([Requires ESU for support](https://docs.microsoft.com/en-us/windows-server/get-started/extended-security-updates-deploy))
Windows Server 2012 R2
Windows Server 2016
Windows Server, version 1803 or later
Windows Server 2019
Windows Server 2022

There is no mention of support for core edition installs o

[2022-05-23 13:11] janvonr commented on #8504
Hey everyone, are there any updates on this?

[2022-05-23 13:24] rmcgarry commented on #8531
Upon further investigation, I discovered that my assumption of how cron works was incorrect  My changes will not work as I suggested it would.  (If the date (1-31) is not a wildcard, then the day of the week (0-6) becomes  a logical "OR".)

https://crontab.guru/cron-bug.html

My apologies, I would like to close this request.

[2022-05-23 13:24] #8531 closed

[2022-05-23 16:27] soyalejolopez opened #8695 "Viva Suite URLs/IPs"
Hi team, can we get list of URLs/IPs used by the Viva Suite (all Viva modules) ? Thanks.

[2022-05-23 16:33] chrisda commented on #1078
@andrewpEntag, you are correct. I toned down the language in the topic some time ago. Standard and Strict preset security policies don't turn any of the ASF settings on, and the note that's always been in the topic is still accurate:

About as strongly worded as I'm prepared to go today is: "our recommended value for these settings is off".

[2022-05-23 17:19] AlanRimer opened #8697 "Use these commands to add a user account by its user principal name (UPN) to the current owners of a security group."
The script

$userUPN="<UPN of the user account to add>" $groupName="<display name of the group>" Add-AzureADGroupOwner -ObjectId (Get-AzureADGroup | Where { $_.DisplayName -eq $groupName }).ObjectId -RefObject

does not work and throws out an error directly below.
All other work fine.

Add-AzureADGroupOwner : Cannot bind argument to parameter 'RefObjectId' because it is null.
At line:1 char:116
+

[2022-05-23 18:16] Daiannec opened #8698 "Content is different"
There is a difference in content between the page in English and Portuguese.

https://docs.microsoft.com/pt-br/microsoft-365/admin/setup/domains-faq?view=o365-worldwide

https://docs.microsoft.com/en-us/microsoft-365/admin/setup/domains-faq?view=o365-worldwide

![URL pt](https://user-images.githubusercontent.com/104602080/169881714-28d4bb04-1459-466e-9cbc-d3992420313c.png)
![URL us](https://user-i

[2022-05-23 19:21] invictus-ir opened #8699 "Frequently Asked Questions - Accessing audit logs"
Under Frequently Asked Questions the following is described:

Are there other ways to get auditing logs other than using the security and compliance portal or the Office 365 Management Activity API?

No. These are the only two ways to get data from the auditing service.

I think there is three ways to access 1) Powershell 2)API 3) GUI/Portal

---
#### Document Details

⚠ *Do not edit this section.

[2022-05-23 20:17] cabailey commented on #8680
Yes, the Overview that made selecting the Labels tab necessary rolled out gradually to tenants - not everybody got this immediately.  I think we can close this issue?

[2022-05-23 20:50] bryannso commented on #8680
I’m OK with this being closed.   Thank you.

From: Carol Bailey ***@***.***>
Sent: Monday, May 23, 2022 4:18 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Bryan Fulkersin ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Step 1.5 (Issue #8680)

NOTICE: This message was sent by someone outside of Netsource One. If the sender claims to be a Netsource One e

[2022-05-24 00:09] UniversalDevGit commented on #7231
On Step 2: could On the Products tab, in the Software section, select the software that you want to download, actually be changed to Step 2: On the Products tab, click the download target hyperlinked product name to navigate to the subscription details page?   If you click on the check box, there is no options that come up, so the check box seems kind of pointless, you have to click on the product

[2022-05-24 00:13] rconiv commented on #7231
On Step 2: could On the Products tab, in the Software section, select the software that you want to download, actually be changed to Step 2: On the Products tab, click the download target hyperlinked product name to navigate to the subscription details page?   If you click on the check box, there is no options that come up, so the check box seems kind of pointless, you have to click on the product

[2022-05-24 03:44] yogkumgit commented on #8656
@cabailey Kindly comment. Thanks

[2022-05-24 03:45] yogkumgit commented on #8654
@mjcaparas Please help us in resolving this issue. Thanks

[2022-05-24 03:47] yogkumgit commented on #8639
@kelleyvice-msft Please help us in resolving this issue. thanks

[2022-05-24 03:49] yogkumgit commented on #8605
@mjcaparas Please help us in resolving this issue. Thanks

[2022-05-24 03:52] yogkumgit commented on #8593
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SirdiJ Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 03:53] #8593 closed

[2022-05-24 03:54] yogkumgit commented on #8646
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ituff Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 03:55] #8646 closed

[2022-05-24 03:59] yogkumgit commented on #8664
@msbemba Thank you very much for the contribution and sharing this explanation. @AndrewBlumhardt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 04:00] #8664 closed

[2022-05-24 04:02] yogkumgit commented on #8680
@bryannso If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 04:03] #8680 closed

[2022-05-24 04:09] msbemba commented on #8488
@MichaelRyan87 I'm not able to reproduce the issue. I'd recommend you contact Microsoft via the need help section on the admin center so that a support technician can assist you in fixing or filing a bug.

Hope this helps!

Thanks
Sri

[2022-05-24 04:11] MichaelRyan87 commented on #8488
Thanks, Sri, I'll do that.

[2022-05-24 04:11] #8488 closed

[2022-05-24 04:13] yogkumgit commented on #8606
@ivassallo19 Apologies. Please indicate the which document you are referring to for this feedback. Thanks

[2022-05-24 04:14] msbemba commented on #8472
@TBSJordanNash Thank you for your feedback. I get what you are saying, however the reason we have specific commands and process is to understand how they are being used.

Thank you again for your feedback.

@yogkumgit  This can be closed.

Thanks
Sri

[2022-05-24 04:20] ivassallo19 commented on #8606
The command being used is Get-AzureADSubscribedSku.
The article is:
https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadsubscribedsku?view=azureadps-2.0
However the problem isn't with the article or the command, but the SKU data being returned from Microsoft's side.

[2022-05-24 04:38] yogkumgit commented on #8515
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @MSFTEfeedback Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 04:38] #8515 closed

[2022-05-24 04:49] yogkumgit commented on #7231
@msbemba

[2022-05-24 05:59] msbemba commented on #8630
@amanmcse Thank you for your feedback. This sounds more like a bug as the results are inconsistent. This need to be reported to the product group so that they can fix the bug. I'm not sure if you have an internal channel to report it, if not you can report it via a ticket and escalate it to the product group.

Hope this helps!

Thanks
Sri

[2022-05-24 06:03] yogkumgit commented on #8472
@msbemba Thank you very much for the contribution and sharing this explanation. @TBSJordanNash Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-24 06:03] #8472 closed

[2022-05-24 06:08] msbemba commented on #8636
@MWPatterson2000 Thank you for your feedback. I was able to reproduce the issue. Isenabled and isdefault are no longer available. Could you please point me to the document with this information I'll be happy to modify it.

Thanks
Sri

[2022-05-24 06:09] yogkumgit commented on #8606
@ivassallo19 Thank you very much for the reply. Here, we are limited to documentation fixes and improvements only. Considering the nature of the issue please open a service ticket in your tenant and follow with them for the resolution. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open

[2022-05-24 06:10] #8606 closed

[2022-05-24 06:12] msbemba commented on #8637
@shanecribbs Thank you for your feedback. The evaluation lab is available as per the document. The issue you are facing might be related to permissions. I'd recommend you contact Microsoft support via the need help icon on the admin center, so that one of our support engineers will be able to assist you.

![image](https://user-images.githubusercontent.com/45987684/169961199-8799115a-5f36-496a-86ae

[2022-05-24 06:15] #8630 closed

[2022-05-24 06:17] msbemba commented on #8638
@boivinx7 and @DMoenks  for the feedback. We have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8701

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-24 06:17] yogkumgit commented on #8637
@msbemba Thank you very much for the contribution and sharing this explanation. @shanecribbs Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-05-24 06:17] #8637 closed

[2022-05-24 06:23] msbemba commented on #8681
@kelemvor33 Thank you for your feedback. One needs to click on the ellipse to be able to view the option. I have updated the information via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8702

![image](https://user-images.githubusercontent.com/45987684/169962758-3221afb9-c18c-4f31-a2a3-33796adeb9b4.png)

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-24 06:30] msbemba commented on #7231
@rconiv Thank you for your feedback. We have made changes to the existing PR. Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-24 06:35] msbemba commented on #8477
@PremMS-MDE Thank you for your feedback. I have confirmed with the author that this table is for supported OS and platforms. It only includes not supported information when at least 1 platform is supported.

As soon as this support is available the product team will update the author and the document will be updated.

Hope this helps!

@yogkumgit  There are no changes required in this document.

T

[2022-05-24 07:20] rodneymhungu opened #8703 "Screenshots in article"
[Enter feedback here]
To whom it may concern, are the screenshots in this article referring to the right admin portal? As far as I understand there should be screenshots indicating how to set up Teams DLP in the Microsoft Purview compliance portal.

Regards,
Rodney

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebaab3f

[2022-05-24 13:25] ChristianW-GKGAB opened #8705 "maybe put a link to the api explorer into the page for the api explorer"
maybe put a link to the api explorer into the page for the api explorer, that would make life way easier, I simply cannot find the link for the api explorer and it isn't on this page either, so where is it

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6115adaf-b9e9-3af1-f9c4-c512aa90322e
* Version Independent ID: ad2e

[2022-05-24 15:18] jamvandermeer opened #8706 "Wrong information"
(For viewing security incidents across customer tenants)	Yes	No	No

This should be Yes Yes Yes

![image](https://user-images.githubusercontent.com/16414620/170071794-3ed2c6b1-c7e3-49bd-abe1-a677f337db7b.png)

[2022-05-24 17:28] denisebmsft commented on #8706
Hello again @jamvandermeer! I have updated the article, and you will see the changes render live a little later this morning. Thank you for helping me improve the documentation!

[2022-05-24 17:28] #8706 closed

[2022-05-24 18:40] DeanGross opened #8709 "Incorrect Instructions"
The instructions tell us to go to Email & collaboration > Attack simulation training > End-user notifications, but there is not an End-User Notification page tab on the Attack Simulation training page. Please update the instructions to describe where this feature has been moved to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-05-24 20:31] kelleyvice-msft commented on #8639
Thanks for reaching out. The endpoints data in this article is autogenerated by the Office 365 endpoints web service and cannot be manually edited. I will inform the appropriate engineering team of this issue and request that they go through the process of updating this endpoint in the web service. Once they complete this process, the endpoints should be included in future updates. -Kelley

[2022-05-24 20:53] ntayade85 opened #8712 "Query regarding Office365 traffic monitoring."
If the Office 365 traffic is being monitored , is there a way to differentiate between personal vs the business/enterprise specific network traffic?
Any hints in the URLs/IPs definitions?

Thank you.
Nilesh

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78f903b4-8b86-70f6-8495-e8a9905ceb03
* Version Independent ID: 57f

[2022-05-24 21:03] mjcaparas commented on #8605
It is documented here: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/security-config-management?view=o365-worldwide

[2022-05-24 21:03] #8605 closed

[2022-05-24 21:05] mjcaparas commented on #8489
Please contact support.

[2022-05-24 21:05] #8489 closed

[2022-05-24 21:08] mjcaparas commented on #8364
This has been added row 76 & 77 in the MDE URLs tab

[2022-05-24 21:08] #8364 closed

[2022-05-24 21:56] kelleyvice-msft commented on #8697
Thanks for reaching out. I will test this and see if I can identify the source of the problem.

[2022-05-24 21:58] kelleyvice-msft commented on #8235
@o-l-a-v, which domain doesn't respond to pings? And what happens when you try to navigate to it in a browser?

[2022-05-24 22:28] GeeJay-Tech opened #8714 "Incorrect download for the Windows 10 lab guide"
I attempted to download the Win 10 lab guide but I ended up with two copies of the lab itself. Can this be amended please.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office 365 deployment lab

[2022-05-24 23:12] kelleyvice-msft commented on #8337
The content platform engineering team is looking into this now. I'll update and close this ticket when there is a resolution.

[2022-05-24 23:16] chrisda commented on #8709
Yeah, I see a banner on the page that mentions the issue:

![image](https://user-images.githubusercontent.com/33166947/170123754-fa6898c3-d71e-4abe-b5db-1dec3b24f6fb.png)

I updated the affected topics where stuff moved around (see the referenced pull request).

Thanks for the feedback.

Closing

[2022-05-24 23:16] #8709 closed

[2022-05-25 00:09] JessicaLuma opened #8715 "Microsoft Admin Access"
Hi, I'm trying to contact the Microsoft Support Eng - Data Protection eng team to give me admin access to our company business account. The previous admins are no longer with the company and we have a multitude of licenses that fall under our business subscription.

[2022-05-25 00:18] ma261065 opened #8716 "7 days or 14 days?"
At the top of the document is states: "The search results data is deleted from the Azure Storage location two weeks after it's created."

Further down it states: "If the results of a search are older than 7 days and you submit an export report job, an error message is displayed..."

These statements seem to be contradictory. If they are talking about different things, then this should be made clea

[2022-05-25 01:15] tfunatani commented on #8650
@RAJU2529-san,
Thank you very much for your support!

@denisebmsft-san,
Are there any updates?

[2022-05-25 03:52] schmurky commented on #8332
I am not very familiar with the API aspect of AH, but within AH, the roles required to view data are set out in [this page](https://docs.microsoft.com/microsoft-365/security/defender/custom-roles)

[2022-05-25 04:11] mikequ-taggysoft commented on #8605
@mjcaparas The doc you posted discusses applying policies to devices via MDE  *after* a device is onboarded into MDE.

My question here is specifically about the onboarding mechanism itself.

Traditionally we had to onboard a device into MDE via one of the following methods such as Intune policy or local script etc as documented here https://docs.microsoft.com/en-us/microsoft-365/security/defender

[2022-05-25 04:48] yogkumgit commented on #8715
@JessicaLuma Thank you for your message.  Considering the nature of the issue , please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.

[2022-05-25 04:48] #8715 closed

[2022-05-25 04:53] yogkumgit commented on #8681
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kelemvor33 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 04:53] #8681 closed

[2022-05-25 05:02] #8477 closed

[2022-05-25 05:51] yogkumgit commented on #8546
@msbemba

[2022-05-25 05:51] yogkumgit commented on #8562
@msbemba Thank you very much for the contribution and updating the documentation with PR. @morrow233 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:52] #8562 closed

[2022-05-25 05:54] yogkumgit commented on #8592
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PremMS-MDE Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:54] #8592 closed

[2022-05-25 05:55] yogkumgit commented on #8505
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jackson-yang-microsoft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:56] #8505 closed

[2022-05-25 05:58] yogkumgit commented on #8669
@msbemba Thank you very much for the contribution and updating the documentation with PR. @vboyev-MSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 05:58] #8669 closed

[2022-05-25 06:00] yogkumgit commented on #8639
@nickp85 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 06:00] #8639 closed

[2022-05-25 06:05] yogkumgit commented on #8657
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TheLegacyKiwi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-25 06:06] #8657 closed

[2022-05-25 08:43] Bollagm opened #8717 "Used Standard for M365 Secure Score"
On which standard is the Secure Score based upon? Is it possible to customize the secure score with CIS Benchmark, NIST and other like it is possible within the Purview Compliance Portal --> Compliance Manager (Assessment and Templates)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a57c0a2-0a6c-4499-f31e-18016d00654

[2022-05-25 10:48] undixgalore commented on #7565
I can confirm that using the script mentioned in o-l-a-v's post worked on a troublesome Windows Server 2016. I placed md4ws.msi and WindowsDefenderATPOnboardingScript.cmd in the same folder as Install.ps1, and successfully ran the following in an admin-PowerShell window:

`[Net.ServicePointManager]::SecurityProtocol = [Net.ServicePointManager]::SecurityProtocol -bor [Net.SecurityProtocolType]::Tls

[2022-05-25 11:53] MikePlumleyMSFT commented on #8534
@BrianMcNeese closing this issue as we have an internal thread on this subject.

[2022-05-25 11:53] #8534 closed

[2022-05-25 17:19] cabailey commented on #8656
Investigating with engineering - I'm not aware of any notification. @sparkitect, can you clarify why you're asking - for example, you think you're at or near this limit?

[2022-05-25 18:01] kelleyvice-msft commented on #4242
I've identified contacts and requested support to resolve these questions. I'll update the issue as soon as I have any new information.

[2022-05-25 19:17] kelleyvice-msft commented on #5382
Closing this issue, as my understanding is that the problem has been corrected in later endpoints web service updates.

[2022-05-25 19:17] #5382 closed

[2022-05-25 19:46] sparkitect commented on #8656
We simply have a customer that is worried they _might_ reach that limit someday and are wanting to know what will actually happen as the limit is neared/reached.

They are also unwilling to incur the costs of us setting up an environment to test it ourselves...

[2022-05-25 21:53] anthonynz opened #8720 "ARC trusted intermediaries"
re: Microsoft Defender for Office 365 (MDO) [https://www.microsoft.com/en-nz/microsoft-365/roadmap?featureid=85684](https://www.microsoft.com/en-nz/microsoft-365/roadmap?featureid=85684)

I was redirected to this article from the Roadmap for Customisable ARC configuration, which went GA in April 2022.

The article has not been updated to reflect the new functionality (as of 26 May 2022).

Can some

[2022-05-26 02:42] cabailey commented on #8502
@aingber   This has been open a long time - not forgotten but engineering hasn't had time to look into this properly. It is not confirmed as by design so closing this GitHub Issue and I've filed a separate item for further investigation.  Thank you for your patience.

[2022-05-26 02:42] #8502 closed

[2022-05-26 08:24] ncdlloyd opened #8723 "Update WVD references to AVD"
Update WVD references to AVD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb9a6dfb-2853-20fc-bd6c-2f636945b328
* Version Independent ID: 60586381-2d76-32bc-8e44-342ee36ada1c
* Content: [Onboard Windows multi-session devices in Azure Virtual Desktop](https://docs.microsoft.com/en-us/microsoft-365/security/defender-en

[2022-05-26 09:58] riohedfield opened #8724 "Report Message or the Report Phishing add-ins for shared mailboxes in EXO."
Hello,

I'm reaching out for some specifications and details about how it's supposed to work between Report Message or the Report Phishing add-ins and shared mailboxes, please help me with this one and if possible to update the article as well so it's becomes clearer for the public:

The article is explicitly mentioning: "Both add-ins are not available for shared mailboxes."

- As per my testing I

[2022-05-26 12:39] ChristianJBergstrom opened #8725 "Sensitivity label information is not correct"
[Hello! This is a request to update the current information about sensitivity labels for direct connect users. The information here https://docs.microsoft.com/en-us/microsoft-365/solutions/plan-external-collaboration?view=o365-worldwide#sensitivity-labels says that an external user cannot open a protected document. They can, as long as the label has configured permissions for the direct connect us

[2022-05-26 12:52] GeorgeAAbraham1 opened #8726 "Risky user log entry from 2018 won't clear..."
Occasionally we clear our risky users log.. We still have this one entry from 2018 that won't delete when trying to dismiss it.. it gives an error to try again in a few minutes.. I think it might be an exception that's not handled for a user that no longer exist...  I scanned old google reports and found an identical case.. the poster eventually.. said the feature developer remedied the bug and wa

[2022-05-26 13:03] msbemba commented on #8506
@yogkumgit  The PR is already approved.

[2022-05-26 13:05] DeanGross opened #8727 "Investigation state options - Unsupported alert type"
Please provide a comprehensive set of the values that we should expect to see in the Investigation state column for alerts. I am seeing an "Unsupported alert type" and I don't know what this signifies nor what I should do
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a541e506-e227-1fda-e6db-7e8441098753
* Version Indep

[2022-05-26 14:37] msbemba commented on #8549
@JMCA2 Thank you for your feedback. I was able to reach a tech support representative after 7 PM as well. Looks like the tech support information was incorrect.

Hope this helps!

Thanks
SRi

[2022-05-26 14:43] msbemba commented on #8575
@elenazvarici Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8728

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-26 14:50] pjrcdf opened #8729 "Controlled Folder Access - Support OS'es - Needs updating"
Hi,

According to this document

https://docs.microsoft.com/en-gb/microsoft-365/security/defender-endpoint/configure-server-endpoints?view=o365-worldwide#new-windows-server-2012-r2-and-2016-functionality-in-the-modern-unified-solution

Windows Server 2012R2 and Server 2016 now support Controlled Folder Access when onboarded to MDE using the unified solution which is now GA.

This page doesnt refle

[2022-05-26 16:00] cabailey commented on #8656
@sparkitect  Thanks for the extra info - understood.  OK, I have an update from engineering:  I'm told that this 16M is based on storage limitations.  It's not exactly 16M but at this point most customers will likely hit the limit very soon. What happens is new items don't get added to the disposition queue. However, nothing is lost and when storage becomes available, they automatically go into th

[2022-05-26 16:00] #8656 closed

[2022-05-26 16:31] stscholz914 opened #8730 "Confusing feature comparisions"
Under the section "Advantages of Microsoft Purview Message Encryption over legacy OME" it states, "Admins can customize branding, and create multiple branding templates." But under section "Microsoft Purview Advanced Message Encryption capabilities" that Multiple branding templates is a feature of advanced. This is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-05-26 17:01] mikequ-taggysoft commented on #8605
So it looks like what I encountered was a newer "Microsoft Defender for Business" product that's included with Microsoft 365 Business Premium. The "automatic onboarding" is a unique offering under this sku, documented here:

https://docs.microsoft.com/en-us/microsoft-365/security/defender-business/mdb-use-wizard?view=o365-worldwide

The confusing part was, even though our tenant does have some Bus

[2022-05-26 17:05] jrohrich opened #8731 "How to get to the page?"
This article describes the security operations dashboard but there are no instructions on how to access dashboard in question. I believe this dashboard references the old Defender for endpoint security center which now redirects me to the M365 Defender portal, where this dashboard does not exist

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-05-26 21:27] ViliusS opened #8732 "missing information regarding "Send As" permissions and "Show in global address list" parameter"
This page and probably [this one](https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/give-mailbox-permissions-to-another-user?view=o365-worldwide) is missing information on how "Send As" and "Send on Behalf" permissions work exactly.

You should add a big warning that these permissions *do not work* in *Outlook Desktop client* with "Show in global address list" parameter on the mailbox

[2022-05-26 21:33] markembry opened #8733 "Incorrect/Missing information"
This page is incorrect or missing information.
The section for 'Buy the extra storage add-on'.

3.  There is no 'Next' on the products page even after selecting one of my subscriptions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-aced-e2f3-f52d-

[2022-05-27 05:27] sally-chenn opened #8734 "Change request on mde-urls-commercial.xlsx"
[Enter feedback here]
https://download.microsoft.com/download/6/b/f/6bfff670-47c3-4e45-b01b-64a2610eaefa/mde-urls-commercial.xlsx
Below two urls should be added as "Required" when selecting the OS as Linux:
www.microsoft.com/pkiops/*
www.microsoft.com/pki/*
Below urls should be changed from “Optional” to “Required” for Linux:
go.microsoft.com
definitionupdates.microsoft.com

---
#### Document Deta

[2022-05-27 06:35] yogkumgit commented on #8638
@msbemba Thank you very much for the contribution and updating the documentation with PR. @boivinx7 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-27 06:35] #8638 closed

[2022-05-27 06:58] msbemba commented on #8223
@ShawnBaer Thank you for your feedback. This sounds like a bug on the tenant. I'd recommend you contact Microsoft support via the need help section so that a tech support engineer can work with you to fix this issue as it should be available if there is at least one SharePoint Syntex license in the tenant.

Hope this helps!

Thanks
Sri

[2022-05-27 07:02] msbemba commented on #8579
@PhilippEisenmann Thank you for your feedback. This looks like a bug. If the machine tags are empty, it should replace all tags with the tags in the request body. I'd recommend you contact Microsoft support via the need help section on the admin center, so that a support engineer can work with you and fix the bug on the tenant.

Hope this helps!

Thanks
Sri

[2022-05-27 07:17] #8549 closed

[2022-05-27 07:18] msbemba commented on #8588
@Kazzan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8735

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-27 07:23] msbemba commented on #8499
@danmyhre Thank you for your feedback. I tested and there are no special permissions required. Once user gets access to bookings (https://docs.microsoft.com/en-us/microsoft-365/bookings/get-access?view=o365-worldwide) they will be able to create a calendar and define the service offerings.

Hope this helps!

Thanks
Sri

[2022-05-27 09:04] OzmeisterO opened #8736 "Bookings FAQ's doesn't mention if online payments can be taken"
[Enter feedback here]
The Microsoft Bookings FAQ page is really helpful, but it doesn't mention anything about linking Bookings to online payments.  I've read a few articles suggesting this used to be an option, but isn't any more - could this be clarified in the FAQ's please (i.e. whether there's anything built-in, or if it can be linked to 3rd-part payment solutions).  Thanks.

---
#### Document

[2022-05-27 10:01] webstaff opened #8737 "Prerequisite item, must be admin in tenant."
Tried to do this from my partner account as is the prefered method for accountability so we can track users.
Calendar options not available under org settings.

Logged in as tenant global admin and option for calendar available.

Sad that once again partners cannot do there job properly with the accounts and tools we have been give.

So if you could add that info to the doc that would be great.

-

[2022-05-27 11:18] yogkumgit commented on #8223
@msbemba Thank you very much for the contribution and sharing this explanation. @ShawnBaer Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-05-27 11:18] #8223 closed

[2022-05-27 11:20] yogkumgit commented on #8579
@msbemba Thank you very much for the contribution and sharing this explanation. @PhilippEisenmann Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share

[2022-05-27 11:20] #8579 closed

[2022-05-27 11:24] yogkumgit commented on #8499
@msbemba Thank you very much for the contribution and sharing this explanation. @danmyhre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-27 11:24] #8499 closed

[2022-05-27 11:46] yogkumgit commented on #8332
@msbemba

[2022-05-27 11:47] yogkumgit commented on #8422
@MikePlumleyMSFT Gentle reminder

[2022-05-27 11:48] yogkumgit commented on #8413
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Wittkie Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-27 11:48] #8413 closed

[2022-05-27 11:51] yogkumgit commented on #8583
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AndersMaletzki Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-27 11:51] #8583 closed

[2022-05-27 11:56] yogkumgit commented on #8541
@Dansimp Please help. Email sent.

[2022-05-27 11:59] yogkumgit commented on #8481
@chrfox Please help. Email sent. thanks

[2022-05-27 12:17] msbemba commented on #8625
@Korbyn72 Thank you for your feedback. You are right, I have added a note stating that the parameter defines which applications other than Entourage, Mac Outlook, and Outlook can access EWS.

We have also mentioned in the document that Bookings in Outlook is on by default for users with the subscription.

Thanks
Sri

[2022-05-27 12:20] msbemba commented on #8684
@SeanTGeoghegan Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8740

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-27 12:51] cmateiescu opened #8741 "Multiple regions in same security filter"
Hi there,

The document mentions: "Only one "Region" security filter per user is supported, so all the regions need to be inside the same security filter."

But trying to set multiple regions in the same security filter via powershell fails with error
"The region you specified is invalid, valid values are NAM, APC, EUR, AUS, CAN, JPN, GBR, IND, LAM, FRA, DEU, CHE, ARE,
ZAF, KOR, NOR, BRA."

An exa

[2022-05-27 15:32] yogkumgit commented on #8530
@msbemba Thank you very much for the contribution and updating the documentation with PR. @D4m4 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-27 15:32] #8530 closed

[2022-05-27 16:33] secshoggoth opened #8744 "Microsoft 365 Business Standard missing from licensing?"
The licensing requirements section lists out all M365 licenses that have access to Audit Standard and Premium. However, Microsoft 365 Standard is missing from the list, even though Basic and Premium are listed. Does that mean it does not have access to Audit (Standard) or is it missing from the list?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-05-27 18:44] danmyhre commented on #8499
@msbemba You were probably setup as the admin of the bookings mailbox though. I am saying it would be good to have a matrix of what each staff role can and can't do.  And if there is the ability to create custom roles.

[2022-05-28 11:52] msbemba commented on #8698
@Daiannec Thank you for your feedback. You don't have to be sorry. We are here to fix the inappropriate content. Could you please point out the exact place where there is a content mismatch? The domains Faq document has recently been updated.

Thanks
Sri

[2022-05-28 12:00] msbemba commented on #8717
@Bollagm Thank you for your feedback. As mentioned in the document Microsoft Secure Score is a numerical summary of your security posture based on system configurations, user behavior, and other security-related measurements. It isn't an absolute measurement of how likely your system or data will be breached. Rather, it represents the extent to which you have adopted security controls in your Micr

[2022-05-28 12:04] msbemba commented on #8723
@ncdlloyd Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8747

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-29 12:40] GeeJay-Tech opened #8749 "Windows 10 download guide is unavailable"
Hi team,

Pleae can you fix the download for the Win 10 lab guide because it is the same as the Win 10 lab environment. I need to guide to be able to go through the lab.

Hope you can fix it soon.

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848

[2022-05-30 01:36] jackson-yang-microsoft commented on #8505
This works perfectly! Thanks for updating!!

[2022-05-30 03:22] glennschmidt opened #8751 "Contradictory information"
This page appears to contain two contradictory statements:

Surely buying a service from the Purchase Services page is a "self-service purchase"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9acd5a2f-9048-c5d2-0455-69f80f5e469e
* Version Independent ID: a832f7d9-57be-0742-7eca-7a47b34f85ec
* Content: [Understand bill

[2022-05-30 07:06] rpnoll1977 commented on #8373
Thanks you for your reply. Sorry i was asking for change notifications for the page mentioned in my initial post. The page is about addresses __not__ covered by your web service and RSS.

If necessary, i can give you more details on why this is an issue to our operations and delaying our migration to O365.

[2022-05-30 08:22] yogkumgit commented on #8684
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SeanTGeoghegan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-30 08:22] #8684 closed

[2022-05-30 11:34] msbemba commented on #8741
@cmateiescu  Thank you for your feedback. You are right. I could not add multiple regions as well. Only one region is supported. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8752
If it's necessary for an eDiscovery Manager to search across multiple regions, another user account will need to be created for the eDiscovery Manager which specifies the alt

[2022-05-30 11:40] msbemba commented on #8737
@webstaff Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8753

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-30 11:44] zippy72 opened #8754 "The "last activity date" seems incorrect"
Hello,

Looking at the details for this report, it says that the "last activity date" column refers to "refers to the last time the user performed a read or send email activity". However when running the report, I'm seeing activity dates within the past month, but with no emails either sent or read.

Is there possibly another activity that can update this column that is not documented here?

Thank

[2022-05-30 11:47] msbemba commented on #8736
@OzmeisterO Thank you for your feedback. I have added the information to the FAQ section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8755

There are no built-in or third-party options available as of now. If you would like to see one, I'd recommend you provide feedback directly to our Dev team via the main feedback portal - [Bookings · Community (microsoft.com)](https://feedbac

[2022-05-30 12:56] msbemba commented on #8731
@jrohrich Thank you for your feedback. The Dashboards have been retired and there have been changes recently. You can view the changes and their details on https://docs.microsoft.com/en-us/microsoft-365/security/defender/microsoft-365-security-center-mde?view=o365-worldwide

I'll work with the author to retire this article.

Thanks
Sri

[2022-05-30 12:59] msbemba commented on #8730
@stscholz914 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8757

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-30 13:13] msbemba commented on #8726
@GeorgeAAbraham1 Thank you for your feedback. This sounds more like a bug and our support team can fix this from the backend. I'd recommend you create a support ticket via the need help section on the admin center.

Hope this helps!

Thanks
Sri

[2022-05-30 13:17] msbemba commented on #8725
@ChristianJBergstrom Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8759

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-30 13:18] TedHartDavis commented on #8576
@RAJU2529 the issue does not in any way claim that Edge is not supported, but instead that the materials imply Chrome to be the only supported browser.

[2022-05-30 13:29] msbemba commented on #8720
@anthonynz Thank you for your feedback. The Details have now been updated in the document.

You can also view -https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-arc-exceptions-to-mark-trusted-arc-senders?view=o365-worldwide for more information.

Hope this helps!

Thanks
Sri

[2022-05-30 13:33] msbemba commented on #8716
@ma261065 Thank you for your feedback

For more than 7 days (query start date is more than 7 days)   you need to run a report job and it talks about how to re run.

The search results data collected is deleted from the Azure Storage location two weeks after it's created.

Hope this clarifies.

Thanks
Sri

[2022-05-30 13:36] msbemba commented on #8714
@GeeJay-Tech Thank you for your feedback. I will verify this and update the document if need be.

Thanks
Sri

[2022-05-30 13:48] msbemba commented on #8705
@ChristianW-GKGAB Thank you for your feedback. I have added the information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8760

You can access API explorer via https://security.microsoft.com/interoperability/api-explorer

Once the author approves,  the changes will be live.

Thanks
Sri

[2022-05-30 13:54] msbemba commented on #8699
@invictus-ir Thank you for your feedback. You are correct.  We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8761

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-30 14:05] msbemba commented on #8690
@amcamillo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8762

Once the author approves, the changes will be live.

Thanks
Sri

[2022-05-30 15:29] hudish opened #8763 "Very Minor Graphic Change: IP Addresses"
The graphic is great and helps explain trusted ARC seals, thank you!
Could we change IP addresses to contain [.] - not [:] ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36f9293f-c337-7af6-e994-336531d62f35
* Version Independent ID: 36f9293f-c337-7af6-e994-336531d62f35
* Content: [Use Trusted ARC senders for legitima

[2022-05-30 21:58] OzmeisterO commented on #8736
Thanks for the confirmation Sri - much appreciated.

Oz Oscroft
Tel. 07765 668 224
________________________________
From: Sriraman M S ***@***.***>
Sent: 30 May 2022 12:47
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: OzmeisterO ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Bookings FAQ's doesn't mention if online payments can be taken (Issue #8736)

@O

[2022-05-31 06:42] yogkumgit commented on #8636
@msbemba Thank you very much for the contribution and digging deep into it.  @MWPatterson2000 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this do

[2022-05-31 06:45] yogkumgit commented on #8466
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-05-31 06:48] yogkumgit commented on #8628
@msbemba

[2022-05-31 06:48] yogkumgit commented on #8631
@msbemba

[2022-05-31 07:00] mmoioli opened #8765 "Add the supportability for LTSC"
As far as I know, Microsoft Defender for Enpoint Plan 1 is supporting also Windows 10 Long Term Servicing Channel (LTSC) and Enterprise IoT.

In this article, only a generic statement is made that the product is supporting "Windows 10, version 1709, or later"

But because the LTSC/IoT version are "special" version and that not all the software and services are supporting them, I suggest to add a s

[2022-05-31 07:30] yogkumgit commented on #8727
@Dansimp Please help us in resolving this issue. Thanks

[2022-05-31 07:33] yogkumgit commented on #8703
@chrfox Please help us in resolving this issue. Thanks

[2022-05-31 07:35] yogkumgit commented on #8695
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-05-31 07:37] yogkumgit commented on #8692
@mjcaparas Please help us in resolving this issue. Thanks

[2022-05-31 07:53] yogkumgit commented on #8717
@msbemba Thank you very much for the contribution and sharing this explanation. @Bollagm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-31 07:53] #8717 closed

[2022-05-31 08:03] yogkumgit commented on #8731
@msbemba Thank you very much for the contribution and sharing this explanation. @jrohrich Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-31 08:03] #8731 closed

[2022-05-31 08:09] yogkumgit commented on #8726
@msbemba Thank you very much for the contribution and sharing this explanation. @GeorgeAAbraham1 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share

[2022-05-31 08:09] #8726 closed

[2022-05-31 08:14] yogkumgit commented on #8720
@msbemba Thank you very much for the contribution and sharing this explanation. @anthonynz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-05-31 08:47] GeorgeAAbraham1 commented on #8726
Excellent friendly non service...

This ticket was raised as suggested before.. the technicians wanted to run fiddler on my PC and they are just not happy with whatever I send them.

There is a complete lack of direct conversation and relating to the issue that is not really that complicated to explain even to a developer.

George Abraham
Systems Engineer
Group Information and Communications Techn

[2022-05-31 09:09] GeorgeAAbraham1 commented on #8726
I'll try the feedback feature on the Azure page... maybe someone will get to it.

George Abraham
Systems Engineer
Group Information and Communications Technology
Fidelity Services Group

My Helpdesk - Your first port-of-call for IT Service.
https://my-helpdesk.fidelitysecurity.co.za

Direct:          +27-11-697-7531

***@***.***

104D Mimosa Rd, Helderkruin, Roodepoort

Facebook<https://www.facebo

[2022-05-31 10:53] PremMS-MDE commented on #8665
Hi @schmurky, I tried joining the tables and I am getting SCID's for the one's which is already detected. Customer is looking for something like - all the SCID's and their details.

[2022-05-31 11:15] MWPatterson2000 commented on #8636
Here is the document, I was away with limited to no internet access for the past 8 days
https://docs.microsoft.com/en-us/powershell/module/exchange/get-safelinkspolicy?view=exchange-ps

[2022-05-31 13:16] ShawnHag opened #8766 "Priority of Safe Links & Safe attachment policies"
I was wondering how few policies for a same user will take effect.

In the section about the priority of policies, it stated that policies are processed in priority order.
I have also checked the following link which was given in the description
https://docs.microsoft.com/microsoft-365/security/office-365-security/how-policies-and-protections-are-combined
(but wasn't quiet sure which category Safe

[2022-05-31 13:59] Kazzan opened #8767 "Resolution of conflicts"
Hi, the article states "When there are conflict types for the same media, the system will apply the first one in the policy."

So, is it correct that XML file is parsed and the first catch for medium is done, such policy is enforced? So not full processing and the stricter will apply? Can you please make this note visible in the "Why policy does not work" section? Thanks.

---
#### Document Detail

[2022-05-31 16:25] kelleyvice-msft commented on #8235
@o-l-a-v, I've confirmed that these domains are pingable for several other tenants. I'm not sure why they don't exist in your tenant, but I will talk to engineering about adding a note to the article to call out that they might not be used in a given tenant. Thanks for reaching out! -Kelley

[2022-05-31 16:25] #8235 closed

[2022-05-31 16:25] kelleyvice-msft commented on #8712
Looking into this.

[2022-05-31 16:35] plylechapman opened #8768 "Steps for finding local script incorrect"
Since the change to the security.microsoft.com portal, the steps for finding and downloading the Local Script are inaccurate.

In fact, I still can't find it at all.  Please advise.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f044e756-d5d8-5db6-edbb-f042b1b22b3c
* Version Independent ID: 5d016fa2-3407-e757-1595-1187

[2022-05-31 16:47] MartaRosaGomes opened #8769 "Link Self Service Purchase Articles"
[Hi team,

Can you please add a link for this article https://docs.microsoft.com/en-US/microsoft-365/commerce/licenses/manage-license-requests?WT.mc_id=365AdminCSH_inproduct&view=o365-worldwide to the main article about Self Service Purchase FAQs https://docs.microsoft.com/en-us/microsoft-365/commerce/subscriptions/self-service-purchase-faq?view=o365-worldwide ]

Thanks
Marta

---
#### Document De

[2022-05-31 17:02] chrisda commented on #8766
@ShawnHag, I'm looking for updates to the 'order of protection' table in that other topic per [this issue](https://github.com/MicrosoftDocs/microsoft-365-docs/issues/8514).

The thing to remember is: a given protection policy (spam, phishing, Safe Links, Safe Attachments, etc.) is only applied to a message ONCE, and which policy is applied depends on the priority. There is NEVER multi-processing o

[2022-05-31 17:07] chrisda commented on #8766
The big clarification I should add for my previous statements is: when the same recipient is defined in multiple policies (i.e., multiple policies of the same type apply to the same recipient). The message is evaluated for every recipient in the policy, but policy processing stops after the first policy hit, which is a good reason not to assign people to multiple policies of the same type.

[2022-05-31 18:15] kelleyvice-msft commented on #8466
Looking into this.

[2022-05-31 18:19] kelleyvice-msft commented on #8695
Thanks for reaching out. I'll investigate why Viva endpoints have not been added to the web service. It seems like they should be. -Kelley

[2022-05-31 18:22] soyalejolopez commented on #8695
Great, thank you Kelley 👍
________________________________
From: Kelley Vice ***@***.***>
Sent: Tuesday, May 31, 2022 1:19 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Alejandro Lopez ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Viva Suite URLs/IPs (Issue #8695)

Thanks for reaching out. I'll investigate why Viva endpoints have not been added to the

[2022-05-31 19:32] tiburd commented on #2705
The article has been moved or removed. Closing issue.

[2022-05-31 19:32] tiburd commented on #2705
@yogkumgit

[2022-05-31 20:20] tiburd commented on #2791
Because this issue was submitted almost two years ago, and there are no comments from the submitter or the author, we will close this issue.

FYI: @yogkumgit

[2022-05-31 20:20] #2791 closed

[2022-05-31 22:14] kelleyvice-msft commented on #8373
@rpnoll1977, I've reopened the issue. I'd be interested to get more information about why this is a blocking issue. There are ongoing initiatives to make the web service more inclusive, which may solve this problem at some future time, but if there are customers who can't migrate because of this issue, the engineering team will want to know and understand why. -Kelley

[2022-05-31 22:26] rushifaldu opened #8770 "Requested changes by RF"
9. Under Select training content preference, leave the default "Microsoft training experience (Recommended" or select "Redirect to a custom URL" if you want to use the custom URL. If you don't want to assign any training, then select "No training".
9a. You can either let Microsoft assign training courses by selecting "Assign training for me" or you can select specific modules by selecting "Select

[2022-05-31 23:16] tiburd commented on #2821
Closing this issue due to age and inactivity.

FYI: @yogkumgit

[2022-05-31 23:17] tiburd commented on #5588
Closing this issue due to age and inactivity.

FYI: @yogkumgit

[2022-05-31 23:17] #5588 closed

[2022-05-31 23:20] tiburd commented on #7140
@kelleyvice-msft
Thank you for sharing the information.
Closing this issue.

FYI: @yogkumgit

[2022-05-31 23:20] #7140 closed

[2022-05-31 23:22] tiburd commented on #4373
@kelleyvice-msft
Thank you for sharing the information.
Closing this issue.

FYI: @yogkumgit

[2022-05-31 23:22] #4373 closed

[2022-06-01 01:13] ShawnHag commented on #8766
@chrisda
Hello!

Thank you so much for the clarification.
My understanding is very clear now.

I now understand that only one policy (when theres few policies for one type like Safe attachments ) will take in effect to an e-mail. But theres a possibility that a different type of policy ( other than Safe attachments in this case) could effect the e-mail after.

Once again, thank you!

[2022-06-01 01:30] jlaundry opened #8771 "aka.ms/ioavtest link is dead"
Currently, https://aka.ms/ioavtest returns a 403 `Access Denied: You don't have permission to access "http://aka.ms/ioavtest" on this server.` error.

This doesn't seem to be an issue with the origin, because the response is coming from the aka.ms server itself.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4a1575e3-b

[2022-06-01 05:28] jlabustro opened #8772 "Sandbox subscription cancelled"
once the sandbox subscription was cancelled, can users still access the environment created in LCS? Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a91e3ae5-842c-fb3d-8c27-d8001122aee8
* Version Independent ID: ddccec72-7088-4207-60cb-986a35becb67
* Content: [Cancel your business subscription](https://docs.mic

[2022-06-01 10:57] msharshkum opened #8774 "Missing Search admin and Search editor roles"
This page is missing details about Search Administrator and Search Editor roles.

https://docs.microsoft.com/en-US/azure/active-directory/roles/permissions-reference?WT.mc_id=365AdminCSH#search-administrator

https://docs.microsoft.com/en-US/azure/active-directory/roles/permissions-reference?WT.mc_id=365AdminCSH#search-editor

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-06-01 11:26] yogkumgit commented on #8588
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Kazzan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-01 11:26] #8588 closed

[2022-06-01 11:28] #8725 closed

[2022-06-01 11:29] yogkumgit commented on #8699
@msbemba Thank you very much for the contribution and updating the documentation with PR. @invictus-ir Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-01 11:32] yogkumgit commented on #8741
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cmateiescu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-01 11:32] #8741 closed

[2022-06-01 12:01] yogkumgit commented on #8734
@msbemba

[2022-06-01 12:01] yogkumgit commented on #8733
@msbemba

[2022-06-01 12:19] yogkumgit commented on #8539
@msbemba

[2022-06-01 12:50] msbemba commented on #8539
@yogkumgit The PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8674 is waiting for author approval and merge

[2022-06-01 15:08] 12Knocksinna opened #8776 "Exchange Online Mailboxes Do Not Store Teams Content"
[Enter feedback here]

The references made to Teams content being stored in Exchange Online mailboxes are incorrect. This fallacy has been abroad for a while, but it's just plain wrong. The TeamsMessagesData folder in Exchange Online mailboxes holds compliance records created by the substrate for chats and channel messages. These are mail items used by eDiiscovery and other services like Communica

[2022-06-01 15:55] j3atuhan opened #8777 "ASR rule exclusions possible incorrect information"
All ASR rules are using "Path" field for exclusions. Even on Defender for Endpoint console the exclusions recommendations are provided according to "Path" field. But on this documentation for LSASS rule exclusion is done by "Process Name" field. There is ambiguity and inconsistency. If LSASS rule is different than other ASR rules in terms of exclusions why it is chosen as example?

---
#### Docume

[2022-06-01 16:36] jimvernon opened #8778 "Licensing info out of date"
Today, or sometime between this week and last week, the licensing for Bookings changed. The link on the bookings site takes you to the Bookings documentation, but there's no info about what actually changed. All I know is that I can't get into Bookings with a G1 license like I could previously, and nothing in the documentation specified what license I'd actually need to make Bookings work again.

[2022-06-01 18:53] MSFTTracyP commented on #8770
@yogkumgit Closing this one. Thank you for your hard work!

[2022-06-01 20:02] thomasjsweet opened #8781 "Please consider adding a link as to where to find the license skus"
[Enter feedback here]
Please consider adding a link as to where to find the license skus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ceafefe-9e15-d2ae-6a8a-fbf9544aaacd
* Version Independent ID: 25104855-03e3-32e9-4728-caf6c8ce62bc
* Content: [Create Microsoft 365 user accounts with PowerShell - Microsoft 365 Enter

[2022-06-01 20:10] thomasjsweet commented on #8781
This may be it the link to consider adding.
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/licensing-service-plan-reference

[2022-06-01 20:55] tiburd commented on #3132
The images in the article have been updated and can be expanded.
Closing this issue.

FYI: @yogkumgit

[2022-06-01 20:55] #3132 closed

[2022-06-01 23:59] makdaddy8888 opened #8782 "How to share the calendar externally"
Its not clear how to actually share the calendar externally.

I have followed this document and we have this feature enabled.

Whats not clear is how to get a link to share externally
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3bda19-af86-20e8-92c4-ccb0caee7cd2
* Version Independent ID: cc93

[2022-06-02 04:06] phduf opened #8783 "Need additional information on the"
There is no date in "what's new" page for each release. in other words they can't tell when the update was made

No mention whether there is a engine, signature, av included in the update.

When new function is release or change in engine requiring additional dependancies/packages it's not captured

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-06-02 04:25] tamiyatxt1 opened #8784 "problem in CSV sample"
[Enter feedback here]
https://docs.microsoft.com/en-us/microsoft-365/compliance/import-hr-data?view=o365-worldwide#configuring-a-single-csv-file-for-multiple-hr-data-types

There is a sample CSV here.
The number of comma in the header line and following lines are different.
This causes "internal server error" on uploading CSV file.
If administrators create CSV file by referring this page, admins w

[2022-06-02 06:31] msbemba commented on #8631
@sysadmininator Thank you for your feedback. I'm currently checking with the author and provide an update shortly.

Thanks
Sri

[2022-06-02 06:31] msbemba commented on #8628
@Turbo974  Thank you for your feedback. I'm currently checking with the author and provide an update shortly.

Thanks
Sri

[2022-06-02 06:41] msbemba commented on #8636
@MWPatterson2000 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/office-docs-powershell/pull/9501

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-02 06:48] msbemba commented on #8732
@ViliusS Thank you for your feedback. We have added a note on both the documents via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8785 and PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8786

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-02 06:49] msbemba commented on #8733
@markembry Thank you for your feedback. I was able to test and see the next button. I'd recommend you contact the support team via the need help option on the admin center so that they can help fix this issue.

Hope this helps!

Thanks
Sri

[2022-06-02 06:54] msbemba commented on #8734
@sally-chenn Thank you for your feedback. I was not able to edit the file and will work with the author to get this updated.

Thanks
Sri

[2022-06-02 12:35] yogkumgit commented on #8729
@msbemba Thank you very much for the contribution and updating the documentation with PR. @pjrcdf Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-02 12:35] #8729 closed

[2022-06-02 12:55] yogkumgit commented on #8733
@msbemba Thank you very much for the contribution and sharing this explanation. @markembry Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the ou

[2022-06-02 12:55] #8733 closed

[2022-06-02 13:08] yogkumgit commented on #8766
@ShawnHag If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-02 13:08] #8766 closed

[2022-06-02 14:41] foss4ever opened #8788 "Exclude process or process binary - which is more secure?"
Which is better from a security standpoint:
Excluding a process or the process binary?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d6bcf39-9a8c-7fa3-803a-508e7b74cc9b
* Version Independent ID: 9fd6d652-df16-7f4b-d253-6aee2362f836
* Content: [Configure and validate exclusions for Microsoft Defender for Endpoint on L

[2022-06-02 16:45] msbemba commented on #8744
@secshoggoth Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8789

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-02 16:53] msbemba commented on #8765
@mmoioli Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8790

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-02 17:12] msbemba commented on #8781
@thomasjsweet Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8792

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-02 19:16] BlakeMsft opened #8793 "GPOs don't exist"
The GPO's noted in this docs page do not exist.  Neither GPMC (checked 2019 DC) nor Windows 11 (local gpedit).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f65bc58-aab1-16bb-4a4b-30a21491ca99
* Version Independent ID: ee076a7a-4abb-6664-3c78-735ffaf3fd54
* Content: [Create a custom gradual rollout process for Micros

[2022-06-02 19:30] rpnoll1977 commented on #8373
You can see microsoft support case 30008818 for the backgrounds why we need to watch that page.

[2022-06-02 20:36] RogueObsidian opened #8794 "External User Retention information needs to be updated"
[Enter feedback here]
This article has conflicting information regarding Teams chats and messages deletion by a retention policy.

"In this scenario where the Azure chat service receives a delete command because of a retention policy, the corresponding message in the Teams client app is deleted for all users in the conversation. Some of these users might be from another organization, have a retent

[2022-06-02 22:25] CAT-hs opened #8796 "log file path"
In troubleshooting articles like this, I think it would be best to include the default path to log file locations when referencing a log file that should be used in this process, or a link to another article that describes the purpose and default locations for the log file when available. Many people don't know the locations of such log files when searching out troubleshooting steps, if they did t

[2022-06-03 07:30] msbemba commented on #8768
@plylechapman Thank you for your feedback. I was able to test this in multiple tenants and the steps are accurate.

![image](https://user-images.githubusercontent.com/45987684/171808362-d7e31b76-17e6-43c1-bc6a-83d0958e4086.png)

If you continue to have an issue locating the script, it could be due to lack of permissions or a bug in the tenant. I'd recommend you to contact Microsoft via the need he

[2022-06-03 07:36] msbemba commented on #8772
@jlabustro Thank you for your feedback. This is more of a Dynamics 365 question and is answered here -https://docs.microsoft.com/en-us/dynamics365/fin-ops-core/fin-ops/get-started/subscription-overview

If you don't deallocate and delete the existing environments before you suspend the subscriptions, the environments will remain in a Deployed state. However, if you try to access the full details o

[2022-06-03 07:42] msbemba commented on #8774
@msharshkum Thank you for your feedback. This document pertains to a set of admin roles that you can assign to users in your organization using the M365 admin center.

As mentioned in the document M365 admin center, it lets you manage Azure AD roles and Microsoft Intune roles. However, these roles are a subset of the roles available in the Azure AD portal and the Intune admin center.

We have adde

[2022-06-03 09:05] hitem opened #8800 "Feedback: Information about the plans and where they are included"
Feedback:

Hello,
Great products and information. But when it comes to licensing its a jungle!
Wouldn't it be possible to get a list of what licenses Plan1 vs Plan 2 are included in ?

Example:
If i have Microsoft 365 E3 and buy Mobility+Security E5 = It includes Plan2
If i have Microsoft 365 E5 or Microsoft 365 E5 Security = It includes Plan2
X license include Plan 1
X license include Plan 1 + Pl

[2022-06-03 10:33] msbemba commented on #8778
@jimvernon Thank you for your feedback. I have tested and Microsoft bookings are not available for the G1 License. We have added the license requirement to the Before you begin section of the document

Microsoft Bookings is available in the following subscriptions:

Office 365 A3, A5, E1, E3, E5, F1, F3
Microsoft 365 A3, A5, E1, E3, E5, F1, F3,
Microsoft 365 Business Basic, Business Standard, Busi

[2022-06-03 10:41] msbemba commented on #8782
@makdaddy8888 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8801

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-03 11:05] msbemba commented on #8784
@tamiyatxt1 Thank you for your feedback. I was able to upload the file with the same Example. Also, I was able to validate the data in a CSV.

This is how the example looks when validated

![image](https://user-images.githubusercontent.com/45987684/171842150-5bc6050b-6c12-4978-a3f6-8f7fdac6ff21.png)

Note that the extra commas mean that the filed/text box is empty.

If you continue to have trouble

[2022-06-03 11:10] msbemba commented on #8751
@glennschmidt Thank you for your feedback. I've talked to the product team and have confirmed the following:

Billing profiles are only available if you bought your subscription directly through Microsoft Sales. They aren't available for customers who bought their subscription through the product's website or on the Purchase services page in the Microsoft 365 admin center.

We have updated the doc

[2022-06-03 11:15] msbemba commented on #8754
@zippy72 Thank you for your feedback. I'll test this and update the document if need be.

Thanks
Sri

[2022-06-03 12:07] yogkumgit commented on #8767
@Dansimp Please help us in resolving this issue. Thanks

[2022-06-03 12:10] yogkumgit commented on #8776
@v-tophillips Please help us in resolving this issue. Thanks

[2022-06-03 12:12] yogkumgit commented on #8783
@Dansimp Please help us in resolving this issue. Thanks

[2022-06-03 12:16] yogkumgit commented on #8744
@msbemba Thank you very much for the contribution and updating the documentation with PR. @secshoggoth Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-03 12:17] #8744 closed

[2022-06-03 12:19] yogkumgit commented on #8765
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mmoioli Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-03 12:19] #8765 closed

[2022-06-03 13:03] plylechapman commented on #8768
Correct; you can close.  Sorry for the confusion.

The issue is that the newly integrated portal has "Endpoints" on the main screen as well as under Settings.

[2022-06-03 17:47] v-tophillips commented on #8776
I have verified this with the product team and a fix is in the works, most likely to be published live next week.

[2022-06-03 17:47] #8776 closed

[2022-06-03 18:23] cabailey commented on #8794
@RogueObsidian  The information on this page is accurate and technically detailed for admins.  The other page is for end users and it's trying to simplify an explanation of why messages might disappear ("expire") from the Teams app as a result of another user's retention policy.  It doesn't even need to be from another org, but that seems to be where the most confusion comes in.  Even though the m

[2022-06-03 20:10] RAJU2529 commented on #8796
@CAT-hs  i wil update tomorrow , I found that log file.

[2022-06-04 02:29] RAJU2529 commented on #8793
@yogkumgit , i updated   WindowsDefender.adml  and  WindowsDefender.admx  in windows 11 , but

**Select gradual Microsoft Defender daily security intelligence updates rollout channel** and  **Disable gradual rollout of Microsoft Defender updates** both are  not available in gpo

but  Set-MpPreference -DisableGradualRelease is available in PowerShell

but Set-MpPreference -SignaturesUpdatesChannel

[2022-06-05 03:47] gb5757870 opened #8809 "Typo for heading"
The first heading under "Recommended content" has a typo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58067ff3-737e-441e-1812-a50bdb97d832
* Version Independent ID: fa3aba35-e8d9-cff6-13c2-1c892c3f2cc4
* Content: [Bulk complaint level values - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office

[2022-06-06 01:17] Yang---XU opened #8811 "Request to explain the retention behavior in Deletions folder."
Issue /Problem Description:
Customer has configured retention policy to move emails in recoverable items folder to archive in 14 days.
Per analysis, emails in Deletions folder will retain based on RetainDeletedItemsFor parameter and move to other folders in dumpster and then to archive mailbox. 1

Customer is requesting to have the behavior explained in public document.

Business Impact:
Admin con

[2022-06-06 05:02] #8768 closed

[2022-06-06 05:17] yogkumgit commented on #8794
@RogueObsidian Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-06 05:17] #8794 closed

[2022-06-06 09:58] bozenektoja opened #8812 "Please add Exchange Online Plan 2/SharePoint Plan 2 under requirements for eDiscovery Core"
Hello,

Please add Exchange Online Plan 2/SharePoint Plan 2 under requirements for eDiscovery Core - licenseQ confirmed it is enough. E3 can be confusing because customers don't necessarily have to have full E3, EXO Plan 2 is sufficient for core eDiscovery to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 562b6b1

[2022-06-06 10:00] bozenektoja opened #8813 "why organization licensing is listed as required along with per-user licensing for standard ediscovery"
[Enter feedback here]
Licensing for eDiscovery (Standard) requires the appropriate organization subscription and per-user licensing.
In this article [Get started with eDiscovery (Standard) cases in Microsoft Purview - Microsoft Purview (compliance) | Microsoft Docs](https://docs.microsoft.com/en-us/microsoft-365/compliance/get-started-core-ediscovery?view=o365-worldwide#step-1-verify-and-assign-ap

[2022-06-06 14:31] stryqx opened #8814 "Decommissioning Exchange should come with a warning"
Step 8 should have the Note block from the following Section added to it, to remind system administrators that removing Exchange entirely is generally a bad move.
https://docs.microsoft.com/en-us/exchange/mailbox-migration/perform-a-staged-migration/perform-a-staged-migration#complete-post-migration-tasks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-06-06 16:39] chrisda commented on #8809
OK. I think I fixed it. The 'title:' attribute in the topic metadata was using `&apos;` instead of ' ' ' for some reason, so I fixed it.

[2022-06-06 17:37] TimD1999 opened #8817 "Concerning change - do not retire legacy exchange PowerShell commands"
The retirement of Search-mailbox cmdlet is a concerning change. We use this frequently in conjunction with -deletecontent to search for and delete phishing mails that have landed in inboxes. The removal of this function without an apparent replacement to delete the content found opens our and other organizations to dangerous phishing mails that need to be removed as quickly as possible.

If I have

[2022-06-06 18:24] RatulaC commented on #8012
There is a note added to the Manage your blocks in the Tenant Allow/Block List article:
<img width="432" alt="image" src="https://user-images.githubusercontent.com/81324214/172222518-b7199c57-09fc-4595-b0db-dae8af33c222.png">

[2022-06-06 18:24] #8012 closed

[2022-06-07 01:19] #8796 closed

[2022-06-07 01:33] yogkumgit commented on #8809
@gb5757870 . Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 01:34] #8809 closed

[2022-06-07 04:00] over2under3 opened #8819 "SmarkScreen link for testing Network Protection doesn't get blocked"
[Enter feedback here]
I went through the steps to enabled Network Protection and the link (https://smartscreentestratings2.net/) used to confirm Network Protections is functioning correctly is not blocked. This link is blocked with SmartScreen but not network proection

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2c4

[2022-06-07 06:43] maccaoz opened #8820 "Incorrect information in section "Create system configuration profiles""
[Enter feedback here]
In this section it states:

Onboarding package | downloaded from the compliance portal Onboarding package, file name DeviceComplianceOnboarding.xml

This is incorrect.   Clicking the onboarding package from the compliance portal results in a file named DeviceComplianceOnboardingPackage.zip being downloaded to the PC, containing a single file named DeviceComplianceOnboardingMa

[2022-06-07 06:53] maccaoz commented on #8820
Additional issues here.   The steps for this section do not match the Wizard in Endpoint Manager and do not allow the successful completion of the configuration profile.

[2022-06-07 09:15] Sanjeev017 opened #8822 "Teams subnet 13.107.192.0/18"
Hi Team,

On a case, the customer informed us that their firmware updates are failing for Teams devices/phones.
They checked on the FW which was blocking the requests to 13.107.192.0/18, this range isn't mentioned in our doc-
https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide#skype-for-business-online-and-microsoft-teams

whitelisting the subne

[2022-06-07 10:43] aldoug opened #8824 "Some descriptions still required"
Feels like we could do with some clarification around the remaining detection technology in section "In the View data by Email > Phish and Chart breakdown by Detection Technology view, the following information is shown in the chart:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e7112fd-cc48-c218-6e7f-1b8f76644aaa
*

[2022-06-07 11:15] yogkumgit commented on #8716
@msbemba Thank you very much for the contribution and sharing this explanation. @ma261065 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 11:15] #8716 closed

[2022-06-07 11:27] yogkumgit commented on #8714
@cdmm12 Please help us in resolving this issue.

[2022-06-07 11:29] yogkumgit commented on #8631
@cdmm12 Please help us in resolving this issue.

[2022-06-07 11:36] yogkumgit commented on #8734
@mjcaparas Please help us in resolving this issue. Email sent. Thanks.

[2022-06-07 11:37] yogkumgit commented on #8784
@msbemba Thank you very much for the contribution and sharing this explanation. @tamiyatxt1 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 11:38] #8784 closed

[2022-06-07 11:39] #8778 closed

[2022-06-07 11:40] yogkumgit commented on #8774
@msbemba Thank you very much for the contribution and sharing this explanation. @msharshkum Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 11:40] #8774 closed

[2022-06-07 11:42] yogkumgit commented on #8772
@msbemba Thank you very much for the contribution and sharing this explanation. @jlabustro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-07 11:42] #8772 closed

[2022-06-07 12:38] jacksondcampbell opened #8825 "Need Clarification on M365 Admin Roles and Blocked One Drive Files"
[Hello team, I am with MDA and we need some help with this page. We get a lot of questions about this issue where a file is marked as malicious and why someone cannot unmark it.
https://support.microsoft.com/en-us/topic/what-to-do-when-a-malicious-file-is-found-in-sharepoint-online-onedrive-or-microsoft-teams-01e902ad-a903-4e0f-b093-1e1ac0c37ad2?ui=en-us&rs=en-us&ad=us

The page I linked above lea

[2022-06-07 16:36] msharshkum commented on #8774
Thanks Yogesh and Sriraman!

Thanks,
Harshit

PS: My work hours may not be the same as your work hours. Please do not feel obligated to respond outside of your work hours.

From: Yogesh Kumar ***@***.***>
Date: Tuesday, June 7, 2022 at 4:40 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Harshit Kumar ***@***.***>, Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Missi

[2022-06-07 16:37] PaulBendall opened #8826 "Missing explanation - Endpoint Security Policy"
Under the section [Endpoint Security Policy](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/enable-attack-surface-reduction?view=o365-worldwide#endpoint-security-policy) the title is followed by two asterisks. The page doesn't provide an explanation for the asterisks.

It, therefore, isn't clear if the preferred, or current best practice, is to deploy ASR via Intune Devi

[2022-06-07 17:10] kelleyvice-msft commented on #8814
Thanks for reaching out. Resolved in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/14513.

[2022-06-07 17:10] #8814 closed

[2022-06-07 19:35] fredspeece3 opened #8828 "Missing AsrVulnerableSignedDriver AH data"
I assume AsrVulnerableSignedDriverAudited and Blocked should go with
56a863a9-875e-4185-98a7-b882c64b5ce5	Block abuse of exploited vulnerable signed drivers
Weird its missed and not seeing that in a google search anywhere, but I see it in my MS Defender portal AH logs.

[2022-06-07 19:55] fmalric opened #8829 "Win 10 lab guides link is wrong (it is not the guide)."
The "Win 10 lab guides" link in this page is wrong (it is not the guide).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21195f1c-0f99-502b-c6e7-a87d35237a81
* Version Independent ID: 1848a7e1-4919-8e28-27ea-cfdbef125609
* Content: [Windows and Office 365 deployment lab kit - Microsoft 365 Enterprise](https://docs.micr

[2022-06-07 20:23] chrisda commented on #8824
@aldoug, I got everything from this topic:

 <https://docs.microsoft.com/office/office-365-management-api/office-365-management-activity-api-schema#detection-technologies>

Thanks for the feedback.

Closing

[2022-06-07 20:23] #8824 closed

[2022-06-07 21:27] mjcaparas commented on #8734
[www.microsoft.com/pkiops/](http://www.microsoft.com/pkiops/)*
[www.microsoft.com/pki/](http://www.microsoft.com/pki/)*

are now updated to be required. Will need to check with the other two.

[2022-06-07 22:49] hudish opened #8830 "Change of ARC text"
With the introduction of [Trusted ARC Sealers](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-arc-exceptions-to-mark-trusted-arc-senders?view=o365-worldwide), suggesting to revise this statement and remove the text that ARC is not customer-configured.

"ARC is not customer configured, but builds on DMARC to work with forwarding in mailing lists, while recording an

[2022-06-07 23:04] mpalumbo7 opened #8831 "Isolate device for Windows Server 2012 R2"
This page seems to indicates that Windows 2012 R2 is supported, but I do not believe this to be the case

![image](https://user-images.githubusercontent.com/20686457/172497257-3f1009a7-ef9a-41dc-b764-ae4b4c524681.png)

The following is a screenshot from a device with the following OS:

![image](https://user-images.githubusercontent.com/20686457/172497289-431361f1-d0e1-44d0-8d89-1881cb09cf46.png)

[2022-06-08 02:14] wege4rt34 opened #8832 "Incorrect Step 6 Information"
Step 6 and beyond needs to be updated for the changes that have been made when creating a search. For example, you can now select "Locations On Hold" but there's no definition article elaborating on what it means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edf6054e-d069-a63c-8b7a-7dbbe98f0748
* Version Independent

[2022-06-08 07:50] rfellmann opened #8833 "'Authenticated telemetry' missing"
The MDE advanced feature 'Authenticated telemetry' is missing completely in the documentation.

![image](https://user-images.githubusercontent.com/17169344/172561965-daaa3154-85bd-486b-abfd-ca9bbb0504df.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3c074f5-bd58-6b72-d891-3d9fe0118767
* Version Independent ID: 2e

[2022-06-08 14:13] snowshed opened #8837 "Visibility issue"
It appears that MS does not put Visual Accessibility very high on their priorities.   Page is hard to read due to the"dark" theme.  As is the the white text on green submit button on tis page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7e0a301-df45-adc1-14f6-3c9a31661d66
* Version Independent ID: 5e970966-d442-201

[2022-06-08 14:23] WilliamZobac opened #8838 "400 error produced when attempting to use the API offbaording without putting in a comment in the request body."
Under the Example of the Offboard via API i recommend adding a note that the JSON Comment is required in the request body otherwise you will get a 400 error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 05007b38-2a58-d34a-6afb-838e2ddd380e
* Version Independent ID: d0e699b6-abe7-e8f6-a093-ecec52559dec
* Content: [Off

[2022-06-08 15:44] hudish opened #8839 "Fix broken link to Microsoft Security blog"
Microsoft security blog link goes to Windows blog. Please link to https://www.microsoft.com/security/blog/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70a146b0-2b14-817e-a6c0-fe1b94f6d169
* Version Independent ID: 70a146b0-2b14-817e-a6c0-fe1b94f6d169
* Content: [Phishing trends and techniques](https://docs.microsoft

[2022-06-08 15:49] RAJU2529 commented on #8819
@yogkumgit , i tried on google chrome 32bit browser, i  received the following.

![Screenshot 2022-06-08 211844](https://user-images.githubusercontent.com/3296790/172661026-a1c9ea6a-16ed-4fce-bdcf-39091b89195f.jpg)

[2022-06-09 00:08] denisebmsft commented on #8839
Thank you so much for letting us know about this issue. I've fixed the link and you'll see the fix rendering live on the site tomorrow.

[2022-06-09 01:12] koike-a opened #8843 "Omission in table data?"
[Enter feedback here]
section: Endpoint activities you can monitor and take action on
In the following table, are "Create Item" and "Rename Item" supported or not on Mac OS?

<html>
<body>

Activity | Description | Windows 10 1809 and later/ Windows 11 | macOS Catalina 10.15 | Auditable/restrictable
-- | -- | -- | -- | --
-- | -- | -- | -- | --
create an item | Detects when a user creates an item

[2022-06-09 05:23] ragecc opened #8844 "Some information doubled or on wrong domain."
Has information that looks like it belongs on microsoft.de. Also .de is missing from the onmicrosoft domain in the last section about not being able to remove it.

Here are the sections:
Why do I have an "onmicrosoft.com" domain?
Why do I have an "onmicrosoft.de" domain?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4

[2022-06-09 09:12] tanves opened #8847 "Are response actions not available on Windows Server 2012 R2 and Windows Server 2016 where Defender for Endpoint is now enabled"
There is an Important note on the document which states as below:

"Important

These response actions are only available for devices on Windows 10, version 1703 or later, Windows 11, Windows Server 2019, and Windows Server 2022."

With the Defender for Endpoint product now generally available for Windows Server 2012 R2 and Windows Server 2016, will response actions not work on these servers where

[2022-06-09 09:19] yogkumgit commented on #8822
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-06-09 09:20] yogkumgit commented on #8820
@chrfox Please help us in resolving this issue. Thanks

[2022-06-09 10:30] yogkumgit commented on #8532
@alialhammad1992 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some

[2022-06-09 10:30] #8532 closed

[2022-06-09 11:07] msbemba commented on #8826
@PaulBendall  Thank you for your feedback. We have removed the asterisks as it was creating ambiguity in the recommended approach. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8848

To be clear all the options are available and help enable attack surface reduction rules.  So you can choose whichever works for you, either ASR via Intune Device Configuration Pr

[2022-06-09 11:13] msbemba commented on #8830
@hudish Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8849

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-09 11:16] msbemba commented on #8831
@mpalumbo7 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8850

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-09 11:21] msbemba commented on #8833
@rfellmann Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8851

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-09 11:38] msbemba commented on #8844
@ragecc Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8853

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-09 11:43] msbemba commented on #8847
@tanves Thank you for your feedback. Looks like the response action is not available in 2012 R2 and 2016.

Tested with the OS and get the below

![image](https://user-images.githubusercontent.com/45987684/172838674-7796ea75-b99c-43c3-8960-cf39a292b7b9.png)

We will update once it is made available.

Hope this helps!

Thanks
Sri

[2022-06-09 11:49] msbemba commented on #8788
@foss4ever Thank you for your feedback. Exclusion of process is better as it excludes the process and all files opened by it.

Hope this helps!

Thanks
Sri

[2022-06-09 12:00] msbemba commented on #8811
@Yang---XU Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8854

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-09 12:03] msbemba commented on #8812
@bozenektoja Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8855

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-09 12:07] msbemba commented on #8817
@TimD1999 Thank you for your feedback. I was able to perform New-ComplianceSearchAction -Purge command in Security & Compliance PowerShell to delete the message. You can use the below document to use the search and purge feature which replaced the existing search-mailbox cmdlet

https://docs.microsoft.com/en-us/microsoft-365/compliance/search-for-and-delete-messages-in-your-organization?view=o365-

[2022-06-09 12:08] msbemba commented on #8819
@over2under3 Thank you for your feedback. I was able to replicate the issue aswell. But this is not by design and needs to be reported to Microsoft support via the need help section in the admin center so that the engineer can raise a product bug and fix this in the backend.

Hope this helps!

Thanks
Sri

[2022-06-09 12:12] msbemba commented on #8771
@jlaundry Thank you for your feedback. You are right, I'm unable to access this from multiple sources. I'll work with the author and update the aka.ms link.

Thanks
Sri

[2022-06-09 13:16] fredspeece3 commented on #8828
Ah sorry I missed that this issue/comment wasn't directly tied to the page I came from.
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference?view=o365-worldwide#per-rule-descriptions

[2022-06-09 15:49] ChaosFreak opened #8857 "Doesn't answer the question "How do I allow external forwarding""
This article provides lots of background information, but doesn't answer the question "Where do I go in the Admin console to allow a user to forward externally?" It doesn't even link to this information.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43299e41-87fe-d6f1-20f7-83791d8ef90b
* Version Independent ID: e5e698

[2022-06-09 16:15] kelleyvice-msft commented on #8822
Thanks for reaching out. I’ll look into this and reply back. -Kelley

[2022-06-09 17:08] efrene commented on #8844
Hi Srinam,
I can follow up on the changes today. I will remove the duplicate section titled "Why do I have an "onmicrosoft.de" domain?"
Thanks,
Efren

From: Sriraman M S ***@***.***>
Sent: Thursday, June 9, 2022 4:39 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Efren Edwards ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Some information doubled or o

[2022-06-09 17:49] chrisda commented on #8319
Update PR approved.

Closing

[2022-06-09 17:49] #8319 closed

[2022-06-09 17:50] over2under3 commented on #8819
Did you implement this using GPO or Intune? I used GPO and still can't get this to work using Edge.

[2022-06-09 19:14] fixx-er opened #8862 "country code wrong?"
for Mexico is it not supposed to be **52** 4738 6567 and not 55 for the number
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bf838db-2d83-3e38-d983-eacd9115c49f
* Version Independent ID: 4b1bf198-0fd6-8931-154d-69f5ba0fd7e5
* Content: [Support information for Mexico - Microsoft 365 admin](https:

[2022-06-09 20:10] HoodedRobin commented on #8625
Will Personal Bookings be enabled by default for organizations that currently have EWS disabled?

[2022-06-09 20:34] SeanTGeoghegan opened #8866 "Limitations of Sensitivity Labels & Configuration"
Documentation for Limitations of Sensitivity Labels is found in a separate document - https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files?view=o365-worldwide

Currently it lists out multiple limitations of SPO/OneDrive, but we'd like to have this in a consolidated location for the overall Sensitivity Label configuration/setup docs.

---
#### Docum

[2022-06-09 20:45] cabailey commented on #8866
@SeanTGeoghegan   Thank you for your feedback. We currently have no plans to do this but keep limitations specific to the scenario. Customers have a choice whether to enable each labeling scenario, and need to know in context any limitations rather than send them to another page each time.

[2022-06-09 20:45] #8866 closed

[2022-06-09 20:56] spikedfuel opened #8873 "GCC Support for SMS?"
[Enter feedback here]

Will you be adding GCC support for SMS reminders?
![gccsms](https://user-images.githubusercontent.com/41805678/172942870-0287dc52-8d39-4c57-a1f8-94fdf65cbead.JPG)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08f1236b-050e-d7b5-ea59-3de650155607
* Version Independent ID: fc058c80-e7c4-1a26-cbc3-

[2022-06-09 21:54] chrisda commented on #5697
Topic has moved to <https://docs.microsoft.com/microsoft-365/security/defender-vulnerability-management/tvm-software-inventory>.

[2022-06-09 23:12] cohortswitchback opened #8874 "This phone number is barely usable: 1 800 865 9408"
This phone number is barely usable: 1 800 865 9408
It is a purely computerized answering service, but the AI and voice recognition is legacy and the system can barely understand audible commands and doesn't allow button options as a fall back. This system should be retired or forwarded to [, or instructions should be given to call,] **1 855-270-0615** (the business sales line) and follow the promp

[2022-06-10 02:55] Rykimaruh opened #8876 "Defender Store App URL not opening in the Google Play application, instead it open in browser."
For the Defender Store App URL: [https://play.google.com/store/apps/details?id=com.microsoft.scmx](https://play.google.com/store/apps/details?id=com.microsoft.scmx)

This will open a browser to the google play store where I can try to install Defender, however, when I tap on Install and go through the due process of attempting to install the application (authenticating with my Gmail and choosing t

[2022-06-10 04:46] DMoenks commented on #8857
The article links to [Configure outbound spam filtering in EOP](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/configure-the-outbound-spam-policy?view=o365-worldwide) at the end of the initial section. The linked article explains the necessary steps for both the Defender portal and Exchange Online PowerShell module.

[2022-06-10 07:58] yogkumgit commented on #8828
@msbemba

[2022-06-10 08:12] yogkumgit commented on #8826
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PaulBendall Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 08:15] yogkumgit commented on #8831
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mpalumbo7 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 08:15] #8831 closed

[2022-06-10 08:33] #8847 closed

[2022-06-10 08:35] yogkumgit commented on #8788
@msbemba Thank you very much for the contribution and sharing this explanation. @foss4ever Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 08:35] #8788 closed

[2022-06-10 08:41] yogkumgit commented on #8817
@msbemba Thank you very much for the contribution and sharing this explanation. @TimD1999 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 08:41] #8817 closed

[2022-06-10 08:43] yogkumgit commented on #8819
@msbemba Thank you very much for the contribution and sharing this explanation. @over2under3 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-06-10 08:43] #8819 closed

[2022-06-10 08:45] yogkumgit commented on #8771
@denisebmsft Please help us in resolving this issue. Email sent. Thanks

[2022-06-10 08:49] yogkumgit commented on #8839
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @hudish Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 08:49] #8839 closed

[2022-06-10 08:51] yogkumgit commented on #8782
@msbemba Thank you very much for the contribution and updating the documentation with PR. @makdaddy8888 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 08:51] #8782 closed

[2022-06-10 08:55] RAJU2529 commented on #8862
@yogkumgit . I conformed country code is 52 for Mexico in Google search

[2022-06-10 08:56] yogkumgit commented on #8047
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ronssssss Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:02] yogkumgit commented on #8152
@msbemba Thank you very much for the contribution and updating the documentation with PR. @akomakom Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:02] #8152 closed

[2022-06-10 09:04] yogkumgit commented on #8340
@msbemba Thank you very much for the contribution and updating the documentation with PR. @allenhsiaoMS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:08] yogkumgit commented on #8652
@msbemba Thank you very much for the contribution and updating the documentation with PR. @LethalRabbit Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:08] #8652 closed

[2022-06-10 09:10] yogkumgit commented on #8723
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ncdlloyd Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:10] #8723 closed

[2022-06-10 09:12] RAJU2529 commented on #8876
@Rykimaruh .Just now I installed Microsoft defender through Google Play Store from india County.

[2022-06-10 09:16] yogkumgit commented on #8625
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Korbyn72 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:16] #8625 closed

[2022-06-10 09:20] yogkumgit commented on #7466
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lkchild Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:20] #7466 closed

[2022-06-10 09:23] yogkumgit commented on #7649
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lelduayen Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:23] #7649 closed

[2022-06-10 09:28] yogkumgit commented on #5697
@adonm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:28] #5697 closed

[2022-06-10 09:32] yogkumgit commented on #8736
@msbemba Thank you very much for the contribution and updating the documentation with PR. @OzmeisterO Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:32] #8736 closed

[2022-06-10 09:33] yogkumgit commented on #8737
@msbemba Thank you very much for the contribution and updating the documentation with PR. @webstaff Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:33] #8737 closed

[2022-06-10 09:35] yogkumgit commented on #8563
@msbemba Thank you very much for the contribution and updating the documentation with PR. @OleksiiH Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:35] #8563 closed

[2022-06-10 09:37] yogkumgit commented on #8450
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Daiannec Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:37] #8450 closed

[2022-06-10 09:38] yogkumgit commented on #8769
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MartaRosaGomes Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:38] #8769 closed

[2022-06-10 09:40] yogkumgit commented on #8117
@msbemba Thank you very much for the contribution and updating the documentation with PR. @forester123 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:40] #8117 closed

[2022-06-10 09:40] kathleenlgo opened #8878 "Duplicate content"
There are duplicate bullet points in the "Pre-trained classifiers" section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8c01c82c-a7f4-b3bb-226e-8e527d12268d
* Version Independent ID: 832c60f6-4bff-3ba6-d014-6925ac18772e
* Content: [Learn about trainable classifiers - Microsoft Purview (compliance)](https://docs.micro

[2022-06-10 09:42] yogkumgit commented on #7878
@msbemba Thank you very much for the contribution and updating the documentation with PR. @fvanrijt Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:42] #7878 closed

[2022-06-10 09:45] yogkumgit commented on #8123
@msbemba Thank you very much for the contribution and updating the documentation with PR. @edmiidz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:45] #8123 closed

[2022-06-10 09:48] yogkumgit commented on #7707
@msbemba Thank you very much for the contribution and updating the documentation with PR. @yasirmdar Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:48] #7707 closed

[2022-06-10 09:49] yogkumgit commented on #7234
@msbemba Thank you very much for the contribution and updating the documentation with PR. @StuBeck32 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:49] #7234 closed

[2022-06-10 09:51] yogkumgit commented on #6600
@msbemba Thank you very much for the contribution and updating the documentation with PR. @joshfolcik Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-10 09:51] #6600 closed

[2022-06-10 12:34] jgriff500 opened #8879 "Warn mode removes audit unless user blocks"
[Enter feedback here]
It should be noted that "warn" mode removes audit events, unless the user selects to block the action -- then a block event is logged.    A better action for the product would be to have an option to audit when user unblocks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96cedf2c-e6fa-bbfb-61f0-a

[2022-06-10 12:58] SeanTGeoghegan commented on #8866
@cabailey Thank you for the update! In that case, could the section - https://docs.microsoft.com/en-us/microsoft-365/compliance/create-sensitivity-labels?view=o365-worldwide#additional-label-settings-with-security--compliance-powershell - have further clarification that LocaleSettings is specific to Office Applications, as the "Example configuration" section below it alludes to? Or have the "Offic

[2022-06-10 15:13] jweston-1 commented on #8879
I have forwarded the customer's comments to the product team for review and consideration.

[2022-06-10 16:49] alrdwa commented on #7585
Great

[2022-06-10 17:05] 0xThiebaut commented on #8279
@yogkumgit any update? Thanks!

[2022-06-10 17:16] ChaosFreak commented on #8857
Yes, but the referenced article is also only a generic discussion of spam rules in general, and not specific to the question of "How to allow external forwarding."
What you really need is something like this:
[https://docs.helpscout.com/article/1424-enable-external-forwarding-in-microsoft-365](https://docs.helpscout.com/article/1424-enable-external-forwarding-in-microsoft-365)
It's a perfect, step

[2022-06-10 17:21] cabailey commented on #8866
@SeanTGeoghegan  I will look into this a bit more but to my knowledge, these language settings weren't designed for Office applications, desktop or otherwise, but a valid label configuration available to all platforms and all labeling scenarios. Then, it's up to each labeling scenario to support it or not.  If it doesn't and you have a good business justification why it's needed, file a DCR so the

[2022-06-10 21:13] ScottBeeson opened #8882 "Specified menu/screens not found"
This article directs me to two items that do not exist on security.microsoft.com

1. "Automatically Resolve Alerts" setting
It says to go to Settings, Endpoints, Advanced Features and turn on "Automated Investigation" and "Automatically resolve alerts" The first toggle exists but the second does not.
2. Set up device groups
It directs me to Settings then Permissions then Device Groups. First of al

[2022-06-10 21:15] ScottBeeson commented on #8653
What permission? I am a global admin and a security admin. I have added myself to about a dozen other roles too, but I still do not see this option.

[2022-06-11 03:29] sgfurgi commented on #8324
I was able to finish a migration and I can answer some of the question and others I will do wild guesses
1- The destination mail user is automatically converted to mailbox after migration. In my case the mail user was a synced one, but it was converted anyway, and the one in the Onprem environment I am still thinking if I disable the mail user and enable a remote mailbox. Don´t know if that proces

[2022-06-11 03:41] sgfurgi opened #8885 "Common folders changed in the migration"
I have 2 tenants in spanish. In one I have a mailbox with the common folders in spanish ("Bandeja de Entrada" instead "Inbox", etc). Was able to migrate the mailbox, but the batch migration created the target mailbox in english, so it created the common folders in that language, but copied the content of the other folders to new folders in that language. So now, I have for example "Inbox" empty an

[2022-06-11 05:14] cybernerd2014 commented on #8653
Permission tied to licensing. Does not appear until endpoint defender plans.

[2022-06-11 22:52] nikki-c opened #8886 "The images shown in the solution catalog are out of date"
The images shown for the solution catalog are out of date.
For Information protection & governance. Information governance is now data lifecycle management
![image](https://user-images.githubusercontent.com/69439002/173207302-9dcd9503-7a9d-45df-96b8-20965249d51a.png)

Insider risk includes Information barriers
![image](https://user-images.githubusercontent.com/69439002/173207335-a4aee8bd-b43c-4739

[2022-06-12 09:48] #8844 closed

[2022-06-12 18:26] amhiggins1962 opened #8888 "cross tenant migration using the Microsoft Preview failing on test"
I am trying to do a cross tenant migration using the Microsoft Preview features and I am testing the setup by running the command Cross Tenant mailbox migrations as follows:
Test-MigrationServerAvailability -Endpoint " ORZCrossTenantMigrationRelationship]”
And I am seeing the error:
The migration endpoint 'ORZCrossTenantMigrationRelationship]' couldn't be found. Reason: The migration endpoint
'ORZ

[2022-06-12 23:01] GRCAINC opened #8889 "Founder and Executive Director Nonprofit"

[2022-06-13 04:20] forester123 commented on #8117
@msbemba @yogkumgit  thanks lot for the update. Appreciate :)

[2022-06-13 04:54] amcamillo opened #8890 "Confusing chart comparing "Vuln mgmt" options. A venn diagram or an image would make this clearer."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4383e31-f80e-65de-3a90-9bb53b6845d2
* Version Independent ID: d4383e31-f80e-65de-3a90-9bb53b6845d2
* Content: [Compare Microsoft Defender Vulnerability Management offerings](https://docs.microsoft.com/en-us/microsoft-365/security/defender-vulnerabili

[2022-06-13 06:21] #8889 closed

[2022-06-13 06:51] yogkumgit commented on #7378
@msbemba Thank you very much for the contribution and updating the documentation with PR. @JamesMasonRC Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-13 06:52] #7378 closed

[2022-06-13 06:54] yogkumgit commented on #8546
@msbemba Thank you very much for the contribution and updating the documentation with PR. @import-au Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-13 06:54] #8546 closed

[2022-06-13 06:56] yogkumgit commented on #8020
@msbemba Thank you very much for the contribution and updating the documentation with PR. @trudolf-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-13 06:56] #8020 closed

[2022-06-13 07:00] yogkumgit commented on #8575
@msbemba Thank you very much for the contribution and updating the documentation with PR. @elenazvarici Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-13 07:00] #8575 closed

[2022-06-13 07:04] yogkumgit commented on #8812
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bozenektoja Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-13 07:04] #8812 closed

[2022-06-13 07:10] yogkumgit commented on #8890
@siosulli please do not remove me from assignee list, it will help me in tracking. Thanks

[2022-06-13 07:12] siosulli commented on #8890
@yogkumgit no problem! apologies!

[2022-06-13 07:15] binUmmer opened #8893 "Inconsistency in the points"
[Enter feedback here]
There are two points in the article which is supposed to be different, but in fact its same statement.

**If there's a value for the ExternalDirectoryObjectId property, the mailbox retention period has expired**, and you can recover the inactive mailbox by running the New-Mailbox -InactiveMailbox command.
**If there's a value for the ExternalDirectoryObjectId property, the so

[2022-06-13 07:26] bozenektoja commented on #8812
thank you!

Best regards/Pozdrawiam,
Bozena Hutyra
________________________________
Od: Yogesh Kumar ***@***.***>
Wysłane: poniedziałek, 13 czerwca 2022 09:04
Do: MicrosoftDocs/microsoft-365-docs ***@***.***>
DW: bozenektoja ***@***.***>; Mention ***@***.***>
Temat: Re: [MicrosoftDocs/microsoft-365-docs] Please add Exchange Online Plan 2/SharePoint Plan 2 under requirements for eDiscovery Core (Is

[2022-06-13 08:27] msbemba commented on #8862
@fixx-er Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8894

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-13 08:30] msbemba commented on #8873
@spikedfuel Thank you for your feedback. This needs to be routed to the product team to be able to answer the question. You can leave feedback on our Bookings feedback portal - [Bookings · Community (microsoft.com)](https://feedbackportal.microsoft.com/feedback/forum/e9c7c7d1-011c-ec11-b6e7-0022481f8472) and one of our Dev/Prodcut team member will be able to provide you the details.

Hope this hel

[2022-06-13 08:36] msbemba commented on #8878
@kathleenlgo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8895

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-13 08:51] msbemba commented on #8893
@binUmmer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8896

Once the author approves, the changes will be live.

The mailboxes with ExternalDirectoryObjectId values belong to Azure AD accounts deleted within the last 30 days and can be recovered by restoring the user account.

The mailbox without ExternalDirector

[2022-06-13 08:57] msbemba commented on #8857
@ChaosFreak Thank you for your feedback. The article before this (as mentioned by @DMoenks ) talks about how to configure outbound spam policies and it talks in detail not just about forwarding but other features as well. Adding this information to https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/external-email-forwarding?view=o365-worldwide will mean that it is duplicat

[2022-06-13 09:03] msbemba commented on #8828
@fredspeece3 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8897

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-13 09:11] msbemba commented on #8825
@jacksondcampbell Thank you for your feedback. These alerts would show up in  Microsoft 365 Defender The below document has details on what permission one would need to take action on the alert. https://docs.microsoft.com/en-us/microsoft-365/security/defender/investigate-alerts?view=o365-worldwide

Note that the https://support.microsoft.com/en-us/topic/what-to-do-when-a-malicious-file-is-found-in

[2022-06-13 09:13] msbemba commented on #8813
@bozenektoja Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8898

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-13 09:16] msbemba commented on #8754
@zippy72 Thank you for your feedback. I have tested it in a dev tenant and it works as described in the document. The  last activity date is matching the date user either sent or read an email.

If this continues to happen to your tenant, I'd recommend you raise a support ticket via the need help section on the admin center to work with a support engineer and file a bug with the Product group.

Ho

[2022-06-13 10:57] rfellmann opened #8899 ""Click Customize columns to show a maximum of seven columns""
"Click Customize columns to show a maximum of seven columns"
The limit no longer applies. All columns can be showed at the same time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 162f11ad-8add-952e-fd64-488e8e3f3b14
* Version Independent ID: addf14d5-f1c1-662d-9844-6888df0349bd
* Content: [Manage submissions - Office

[2022-06-13 12:58] eliebermangwm opened #8900 "Documentation is outdated"
All of the documentation refers to an old version of Twitter's interface that no longer is available. Setting this up requires alot of guessing about proper inputs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c3c91b46-f547-f01a-b44b-2f0da184eed8
* Version Independent ID: e4d3f56c-0349-55f5-8c50-17b2b4b3dbf8
* Conten

[2022-06-13 19:42] MaxXyzzy opened #8903 "Links to Win10 Lab files are incorrect"
"Win 10 lab environment" currently links to the below, which is an older version of the lab:
https://download.microsoft.com/download/3/3/a/33a3c7d7-b393-4f78-9b90-2d5eb7fd98e8/Win10_21H1_lab.zip

"Win 10 lab guides" links to the newer lab environment, not the guides/docs:
https://download.microsoft.com/download/2/9/9/29952cdb-b98d-4f9b-9d6e-9fb49644b0a0/Win10_21H1_Lab_05.12.zip

---
#### Document

[2022-06-13 20:29] jamesrschoppe opened #8904 "The list of required permissions section - AND or OR?"
"You need to be assigned permissions in Exchange Online before you can do the procedures in this article:

To add and remove values from the Tenant Allow/Block List, you need to be a member of
- Organization Management or Security Administrator role group (Security admin role)
- Security Operator role group (Tenant AllowBlockList Manager).
For read-only access to the Tenant Allow/Block List, you n

[2022-06-13 20:59] chrisda commented on #8904
@jamesrschoppe, I agree, it's confusing as written. I cleaned it up to say:

- You need to be assigned permissions in **Exchange Online** before you can do the procedures in this article:
  - To add and remove entries from the Tenant Allow/Block List, you need to be a member of one of the following role groups:
    - **Organization Management** (the **Security admin** role).
    - **Security Admin

[2022-06-13 20:59] #8904 closed

[2022-06-13 23:17] jamesrschoppe commented on #8904
Thanks!!!

On Mon, Jun 13, 2022 at 3:59 PM Chris Davis ***@***.***>
wrote:

[2022-06-14 04:53] ishepherd opened #8905 "Audit option does not exist"
I don't have this option. Here are the options I see

![image](https://user-images.githubusercontent.com/3198421/173495808-d0fc2d89-0586-491c-a488-327ff1ee180d.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent ID: fa4bca98-3975-23dd-dfac-f23049c71d01
* Conten

[2022-06-14 07:40] yogkumgit commented on #8888
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-06-14 07:46] cnschindler opened #8907 "Please mention which offcie 365 services do not support TLS 1.3..."
You mention that "some" services support TLS 1.3. It would be great to have greater detail on that. Which services support TLS 1.3?

Cheers
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14a729bb-ad0e-27bf-b119-beb99f1df9f4
* Version Independent ID: bc005f28-aa37-f52d-c328-ff547c1eb7b3
* Content:

[2022-06-14 08:09] yogkumgit commented on #8862
@msbemba It seems me a duplicate PR. Please keep one of them and delete the other.

[2022-06-14 08:12] yogkumgit commented on #8873
@spikedfuel Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-06-14 08:12] #8873 closed

[2022-06-14 08:14] #8876 closed

[2022-06-14 08:26] yogkumgit commented on #8825
@msbemba Thank you very much for the contribution and sharing this explanation. @jacksondcampbell Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-14 08:26] #8825 closed

[2022-06-14 08:34] yogkumgit commented on #8754
@msbemba Thank you very much for the contribution and sharing this explanation. @zippy72 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-14 08:34] #8754 closed

[2022-06-14 08:52] yogkumgit commented on #7636
@msbemba

[2022-06-14 09:01] yogkumgit commented on #8481
@chrfox Gentle reminder.

[2022-06-14 09:05] bozenektoja commented on #8813
hello,

apologize, i dont see that as completed - organization licensing with minimnum e3 is still listed alongside per-user subscription:
[cid:4b02e855-c54b-4fae-ae12-d5b81787a4dd]

Best regards/Pozdrawiam,
Bozena Hutyra
________________________________
Od: Yogesh Kumar ***@***.***>
Wysłane: wtorek, 14 czerwca 2022 10:28
Do: MicrosoftDocs/microsoft-365-docs ***@***.***>
DW: bozenektoja ***@***.**

[2022-06-14 09:15] yogkumgit commented on #8732
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ViliusS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-14 09:16] #8732 closed

[2022-06-14 09:19] yogkumgit commented on #8256
@msbemba

[2022-06-14 09:23] yogkumgit commented on #7679
@kwekuako says it is queue and will have answer by August.

[2022-06-14 11:50] deepthainf opened #8910 "How can we disable auto expanding archive?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c231a9b-07c0-b2a6-2292-17e760432ecf
* Version Independent ID: b2fbf9bf-44fb-74a3-ec31-c02263b7d755
* Content: [Enable auto-expanding archiving - Microsoft Purview (compliance)](https://docs.microsoft.com/en-us/microsoft-365/compliance/enable-autoexpa

[2022-06-14 11:51] deepthainf opened #8911 "How can we disable auto expanding archive?"
I am trying to understand how to disable auto expanding archive. I  do not want to disable the archive just want to convert it to a normal archive, so that I can use Cross premises mailbox migration tool for migration.

Any comment is appreciated.
TIA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c231a9b-07c0-b2a6-22

[2022-06-14 11:52] #8910 closed

[2022-06-14 12:58] bozenektoja commented on #8813
yes thank you, but it still says that organizational licenisng with E3 is needed besider the er user licensing.
it says "Licensing for eDiscovery (Standard) requires the appropriate organization subscription and per-user licensing."
so the company would need not only e1 with eop plan 2 and spo plan 2 but also some e3 in the organization. it clearly says "organization subscription AND per-user lice

[2022-06-14 13:20] msbemba commented on #8813
@bozenektoja The per-user licensing is not updated as the PR is not merged. But yes, the document will be corrected once the PR is merged.

[2022-06-14 14:02] WELLBOREIS opened #8913 "Intune Azure Roles Do Not Exist"
The Microsoft Intune Roles below do not exist in Azure AD:
1) "Application manager": May possibly be called "Application administrator" now?
2) "Help desk operator": May possible be called "Helpdesk administrator" now?
3) "Intune role administrator": May possibly be called "Intune administrator" now?
4) "Policy and profile manager": Can't find any role that fits this description.
5) "Read only ope

[2022-06-14 14:15] robarismail97 commented on #8012
When adding senders to the block list, will they get 9 SCL score or less?

[2022-06-14 14:17] robertpp opened #8914 "No mention of exap.um.outlook.com used for Cloud Voice Mail"
The document makes no reference to exap.um.outlook.com endpoint, used in the configuration of [Cloud Voice Mail](https://docs.microsoft.com/en-us/skypeforbusiness/hybrid/configure-cloud-voicemail). The endpoint is referenced in [Other endpoints not included in the Office 365 IP Address and URL Web service](https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-

[2022-06-14 15:27] cabailey commented on #8911
@deepthainf  Unfortunately, this isn't supported.  From this section on the page: https://docs.microsoft.com/en-us/microsoft-365/compliance/enable-autoexpanding-archiving?view=o365-worldwide#before-you-enable-auto-expanding-archiving:

After you turn on auto-expanding archiving for your organization or for a specific user, it can't be turned off.

[2022-06-14 15:27] #8911 closed

[2022-06-14 15:54] msbemba commented on #8813
PR is Pull request. I have made the changes via PR and once the author approves, the changes will be live.

[2022-06-14 16:01] bozenektoja commented on #8813
awesome thank you for explanation!

Best regards/Pozdrawiam,
Bozena Hutyra
________________________________
Od: Sriraman M S ***@***.***>
Wysłane: wtorek, 14 czerwca 2022 17:54
Do: MicrosoftDocs/microsoft-365-docs ***@***.***>
DW: bozenektoja ***@***.***>; Mention ***@***.***>
Temat: Re: [MicrosoftDocs/microsoft-365-docs] why organization licensing is listed as required along with per-user licensi

[2022-06-14 17:52] denisebmsft commented on #8771
Hello @jlaundry @yogkumgit @msbemba. I have an update from the product team. Try using [https://aka.ms/ioavtest1](https://aka.ms/ioavtest1). I have updated the article with this new link and the updates should be live later today (at around 4 p.m. Pacific Time).

Thank you for letting us know about this issue. Apologies for the delay and the inconvenience.

[2022-06-14 17:54] jweston-1 commented on #8879
I have submitted the customer's comments and suggestions to the product team for review and consideration. I will act on their recommendation once received.

[2022-06-14 17:57] kelleyvice-msft commented on #8888
@amhiggins1962, thanks for reaching out. This isn't strictly a content issue, and issues with PowerShell modules are outside the scope of content feedback. Having said that, I will update the content to point to the [Test-MigrationServerAvailability documentation](https://docs.microsoft.com/powershell/module/exchange/test-migrationserveravailability?view=exchange-ps) rather than explicitly suggest

[2022-06-14 17:59] kelleyvice-msft commented on #8888
I also meant to add that you should try one of the other switches in the [Test-MigrationServerAvailability documentation](https://docs.microsoft.com/powershell/module/exchange/test-migrationserveravailability?view=exchange-ps) as a workaround to your specific problem. -Kelley

[2022-06-14 18:41] denisebmsft commented on #8837
Hello @snowshed and thank you so much for the feedback. I'll pass this along to our team who manages GitHub for our group. As this doesn't seem to be a specific issue with the article about Microsoft Defender Antivirus, I am going to close it for now. Does the page render better for you if you don't use the dark theme? Thanks again for your feedback.

[2022-06-14 18:41] #8837 closed

[2022-06-14 19:02] #8402 closed

[2022-06-14 21:37] amhiggins1962 commented on #8888
Hi Kelly,
  Thanks for responding – I ended up getting support directly from someone at Microsoft who explained my error, in this case… the problem was that I was using the name of the migration endpoint rather than the associated appname, which is what should be used……
Thanks for your help and I hope this can be posted to help others who might make the same error as I did…
Regards,

Andy Higgins

[2022-06-14 22:09] Nath9119 opened #8919 "Wrong Link"
[Enter feedback here]

The "Win 10 lab guides" doesn't link to the guides (Win11 lab guides links to https://download.microsoft.com/download/9/d/9/9d9e278e-a1ea-4704-85e1-cb24f3806f45/Win11_Lab_Guides_05.09.zip)

The URL for "Win 10 lab guides" is https://download.microsoft.com/download/2/9/9/29952cdb-b98d-4f9b-9d6e-9fb49644b0a0/Win10_21H1_Lab_05.12.zip

The above URL seems to be missing "_Guides_

[2022-06-15 08:03] pax8-jfoye opened #8920 "MacOS now supports Endpoint DLP"
In the following section, DLP is shown as not supported.
`The following capabilities are not currently supported on macOS endpoints:

* Data loss prevention
* Security Management for Microsoft Defender for Endpoint`

However, the DLP onboarding page shows MacOS as available/GA: https://docs.microsoft.com/en-us/microsoft-365/compliance/endpoint-dlp-getting-started?view=o365-worldwide

---
#### Docu

[2022-06-15 08:43] shanen5 opened #8921 "Phishing spam"
Some website said to report it here when the "convenient" email addresses bounced. But because this looks like a semi-public place I'm going to remove the PII part. Drop me a line if anyone cares-but MS never cared about anything good.

<html><body>
<div role="region" tabindex="-1" aria-label="Message body" class="fEEQb BeMje TiApU allowTextSelection"><div><div>
<div dir="ltr">
<div style="color:

[2022-06-15 10:14] RomanNG opened #8922 "Need additional explanations on the Recipient Filters Conditions"
After working with Microsoft Premier support for an issue we had, we think that the documentation for all policy types (Anti-spam, Anti-malware, etc.), requires some clarification details about how the recipient filters conditions are working.
The "You can only use a condition or exception once" and the "the different conditions or exceptions use AND logic" should be rewritten to something more pr

[2022-06-15 10:40] yogkumgit commented on #7636
@msbemba Thank you very much for the contribution and sharing this explanation. @VinodSP1980 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-15 10:40] #7636 closed

[2022-06-15 10:42] #8826 closed

[2022-06-15 10:44] yogkumgit commented on #8636
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MWPatterson2000 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-15 10:44] #8636 closed

[2022-06-15 11:06] yogkumgit commented on #8828
@msbemba Thank you very much for the contribution and updating the documentation with PR. @fredspeece3 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-15 11:07] #8828 closed

[2022-06-15 11:11] #8888 closed

[2022-06-15 11:15] yogkumgit commented on #8893
@msbemba Thank you very much for the contribution and updating the documentation with PR. @binUmmer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-15 11:15] #8893 closed

[2022-06-15 12:43] mvelbaum opened #8924 "Typo in Step 3"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dmarc-to-validate-email?view=o365-worldwide#step-3-set-up-dkim-for-your-custom-domain

I believe this should say **5321.MailFrom** instead of **5322.From address**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7861a800-7643-dca5-1046-232a

[2022-06-15 14:57] cronq opened #8926 ""continuously collects behavioral cyber telemetry" -- but not always"
After working with Microsoft support when we saw a large number of gaps in event data in MDE, an MDE engineer said this is working as designed. From the support ticket "MDE is not intended to be an auditing/logging solution that records every operation or activity that happens on a given machine...Our sensor has an internal throttling/capping mechanism, so the high rate of repeat identical events

[2022-06-15 15:58] MithunRathinam opened #8927 "Please add the below NOTE in the technet"
**Note:** Malware release is not possible for end users from quarantine regardless of whether a user release action was configured in the quarantine policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db041b73-f7c9-db6c-070b-a7c974de640c
* Version Independent ID: dffb7045-3ba8-a014-d1be-462ca1d609b5
* Content: [Conf

[2022-06-15 16:01] AntoniaBlume opened #8928 "Forgot to replace bracketed text with link?"
In this section: https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-center-overview?view=o365-worldwide#admin-center-features-and-settings
There is the following bracketed text that looks like it should be a link:
"Learn more about admin tasks in [admin help](Overview of the Microsoft 365 admin center](admin-center-overview.md)."

Although actually, that looks like a circula

[2022-06-15 16:59] sparkitect opened #8930 "Discussion: Exported columns vs. Import columns"
Why not make the columns of the Exported file plan .csv the same as the columns used for Import?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4465ca1-9ee2-e551-aff2-9fc8e4a5eae3
* Version Independent ID: 2cbc9375-d055-edf8-0f89-b5794f7aa7a7
* Content: [Use file plan to manage retention labels - Microsoft Purview (co

[2022-06-15 17:08] MithunRathinam opened #8931 "Please add below NOTE in the TechNet"
**Note:** Malware and High confidence phishing releases is not possible for end users from quarantine regardless of whether a user release action was configured in the quarantine policy"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: faf5c5df-c3ab-8448-aef0-af05977db9b9
* Version Independent ID: adade895-f42b-1029-9948

[2022-06-15 17:12] cabailey commented on #8930
@sparkitect  Hi Jim - this is a good question but not one that can be answered by GitHub Issues for the documentation.  If you have a business case for aligning the formats, raise this as a design change request with your Microsoft support channels, or use the "This product" button on the page's Feedback section.

[2022-06-15 17:12] #8930 closed

[2022-06-15 17:49] chrisda commented on #8927
Checking.

[2022-06-15 18:50] mcasaz opened #8933 "Syntex models Supported file types"
the table on [this page](https://docs.microsoft.com/en-gb/microsoft-365/contentunderstanding/difference-between-document-understanding-and-form-processing-model) states that "supported files types" for Document Understanding model are only PDF, Office, email but on [this doc page](https://docs.microsoft.com/en-gb/microsoft-365/contentunderstanding/document-understanding-overview) the list is much

[2022-06-15 19:46] kelleyvice-msft commented on #6622
The content engineering team has been made aware of the problem and is working on a solution. The blank pages are actually generated when there is a contentless node or YAML file in the TOC, so while there are blanks, no content is missing from the PDFs themselves. Closing this issue as it is an engineering issue, not content related. -Kelley

[2022-06-15 19:46] #6622 closed

[2022-06-15 19:46] kelleyvice-msft commented on #8337
The content engineering team has been made aware of the problem and is working on a solution. The blank pages are actually generated when there is a contentless node or YAML file in the TOC, so while there are blanks, no content is missing from the PDFs themselves. Closing this issue as it is an engineering issue, not content related. -Kelley

[2022-06-15 19:46] #8337 closed

[2022-06-15 20:29] chrisda commented on #8922
@RomanNG, OK. There were 11 topics total that talked about recipient conditions/exceptions to policies, and I added the following text in all of them:

Thanks for the feedback.

Closing

[2022-06-15 20:29] #8922 closed

[2022-06-15 20:38] kelleyvice-msft commented on #7121
I am publishing an update today to the article https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls?view=o365-worldwide that resolves this issue for both Android and Apple mobile devices. See the new row 25 of the endpoints table. PR: https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/14652. -Kelley

[2022-06-15 20:38] #7121 closed

[2022-06-15 21:54] TheDeuceYouSay opened #8935 "Incorrect instruction"
Under Use Group Policy to schedule protection updates -

item 4, states:

Expand the tree to Windows components > Microsoft Defender Antivirus > Signature Intelligence Updates and configure the following settings:

This is incorrect.  Correct tree path is:

Windows components > Windows Defender Antivirus > Signature Updates

Item 4b should be Specify the interval to check for **definition** update

[2022-06-15 22:24] JayWCotton opened #8936 "XSD XML Validator for DLP Custom Rule creation seems to be incorrect"
Hello all,

I believe the xsd at the bottom of this page is incorrect.  Could you review, it comes back as invalid when I check it in a validator.

https://docs.microsoft.com/en-us/microsoft-365/compliance/create-a-custom-sensitive-information-type-in-scc-powershell?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2022-06-15 22:49] sparkitect commented on #8502
It appears to be the same (64 char limit) for the CitationName column as well.

[2022-06-15 23:01] cabailey commented on #8502
@sparkitect  Thanks for this feedback.  I've asked for all fields to be checked and confirm whether length restrictions are by design or a regression to be fixed.

[2022-06-15 23:34] sparkitect commented on #8502
## Current Documentation
![image](https://user-images.githubusercontent.com/9206808/173958802-4437eafb-b079-4819-b51d-5f4df968eabe.png)

## Currently _Correct_ Documentation
![image](https://user-images.githubusercontent.com/9206808/173959128-427ee76b-2e0c-4c3c-9e52-01abc509be6a.png)

@cabailey I could submit a Pull Request with the documentation updated to match the current reality, as tested, as

[2022-06-16 00:01] cabailey commented on #8502
@sparkitect Please don't create a PR for this.  We document "by design" and not bugs, and as I've already explained, the engineering team hasn't confirmed whether this is a bug or by design and want to test all fields, not document exceptions piecemeal.  Thank you for your patience.

[2022-06-16 00:48] ropow commented on #8885
@sgfurgi What customer was this? I had another report of this happening, then found out that was not the case. I have a bug currently open for this that I was going to close out, but if it's a different customer then I will keep it open and we'll get a fix in.

[2022-06-16 00:51] chrisda commented on #8927
OK. Done.

Thanks for the feedback.

Closing

[2022-06-16 00:51] #8927 closed

[2022-06-16 00:52] ropow commented on #8324
When will be destination MailUser be converted to destination Mailbox ? Is it automatic by "completing" migration batch or, manual step for conversion is needed?

1 & 2. When you complete the migration the mailuser is converted to a mailbox in the target tenant. At the same time in the source tenant, the mailbox is converted to a mailuser.

3. This can be done while the user is still a mailuser, b

[2022-06-16 02:01] sparkitect commented on #8502
@cabailey Ok, I will follow your lead.

As a Microsoft customer, I have no porblem looking for (or creating) Issues if things don't seem to work 'as documented'.

_However_, as a consultant, I've seen customers lose confidence in the software, and themselves, when things don't work out.
Many of them assume that the documentation describes what _**IS**_ rather than what **_should be_**.
As a result

[2022-06-16 02:05] sparkitect commented on #8502
BTW, I realize this is out of your control and I truly appreciate you, your work, and the conversation :-)

[2022-06-16 05:06] yogkumgit commented on #8813
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bozenektoja Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-16 05:06] #8813 closed

[2022-06-16 07:42] JanicVerboon opened #8939 "Defender for iOS doesn't support User Enrollment"
Dear Team,

I just spent about 1 1/2 months with the Defender support team to clarify that Defender for iOS isn't supported currently when using iOS User Enrollment.

Therefore, I kindly ask you to highlight this in the documentation under the prerequisites.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28f5c122-c802-

[2022-06-16 07:55] msbemba commented on #8905
@ishepherd Thank you for your feedback. I was able to locate the audit log option under solutions. If you still have a problem, I'd recommend you check your access/permissions or contact Microsoft support via the need help so that they can fix if it is a bug on this tenant.

Hope this helps!

Thanks
Sri

[2022-06-16 08:29] msbemba commented on #8919
@Nath9119 The windows 10 Lab guide link is https://download.microsoft.com/download/8/5/e/85e007b0-1f3e-460c-bd0a-5a8c6ec490b5/Win10_21H2_guides.zip and the same has been updated in the document

Hope this helps!

Thanks
Sri

[2022-06-16 08:32] msbemba commented on #8903
@MaxXyzzy Thank you for your feedback. The guides for the new lab are available here -https://download.microsoft.com/download/8/5/e/85e007b0-1f3e-460c-bd0a-5a8c6ec490b5/Win10_21H2_guides.zip

The same has been updated in the document.

Hope this helps!

Thanks
Sri

[2022-06-16 08:42] msbemba commented on #8885
@sgfurgi Thank you for your feedback. I could not replicate this in a test environment. (not Spanish though). So, This sounds more like a bug and needs to be escalated to Microsoft support. You can open a support ticket via the need help section on the admin center so that an engineer can collect information to file a bug.

Hope this helps!

Thanks
Sri

[2022-06-16 08:51] msbemba commented on #8714
@GeeJay-Tech Thank you for your feedback. The windows 10 Lab guide link is https://download.microsoft.com/download/8/5/e/85e007b0-1f3e-460c-bd0a-5a8c6ec490b5/Win10_21H2_guides.zip and the same has been updated in the document

Hope this helps!

Thanks
Sri

[2022-06-16 08:56] siosulli commented on #8890
@yogkumgit @amcamillo

Thank you for your feedback!

I have added a task to the backlog for this. I will look at updating this table in line with an upcoming release.

[2022-06-16 08:56] #8890 closed

[2022-06-16 09:46] ishepherd commented on #8905
Hi @msbemba

I've been told by colleagues that I don't have enough permissions on this tenant.

I was confused because I get alert emails advising me to do an audit log search. But I get the emails just by membership of a distribution list.

Nothing to see here 😄 thanks for your reply.

[2022-06-16 09:46] #8905 closed

[2022-06-16 12:01] sgfurgi commented on #8885
Closing this up, sorry guys. I was confident on the customer that he made a good job creating the source mailboxes for test migration and in the last mailbox I checked the source mailbox and seems that had the common folders in english and the other folders in spanish because the customer copied those in that way (don´t ask why). I lost a lot of time of trial and error and then found that. Felt re

[2022-06-16 15:31] pjrcdf opened #8943 "Typo in Image"
The first image on the page has a spelling mistake in it - the blue heading text at the end of the arrow is spelt "Microsot 365 Defender Portal" and should read "Microsoft 365 Defender Portal"

I have highlighted in yellow my screenshot below

<img width="459" alt="image" src="https://user-images.githubusercontent.com/59968025/174106309-96b462dd-ba8f-4d63-95e0-4a35e27f8c7e.png">

---
#### Document

[2022-06-16 15:35] dcurwin commented on #8943
Thank you for your comment. We'll investigate and get back to you.

[2022-06-16 15:48] dcurwin commented on #8943
Thanks again for your suggestion. The image will be updated.

[2022-06-16 15:48] #8943 closed

[2022-06-16 15:52] JLambEJG opened #8944 "Scenario 2 unworkable with 3rd party email gateway/security."
Update the documentation to indicate that "Scenario 2" is only available if the domain's MX records are pointing to Exchange Online. If the organization is leveraging a 3rd party email gateway, scenario 2 will not work. Please see support Case #:30772915.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54783558-94f0-24a

[2022-06-16 16:19] MithunRathinam commented on #8927
Thanks Chris ..

Thanks & Regards,
Mithun Rathinam
Support Escalation Engineer , Beta Engineer
***@***.******@***.***>
Working Hours: M-F 08:00AM - 05:00PM (EDT)
[Microsoft Logo]

From: Chris Davis ***@***.***>
Sent: Thursday, June 16, 2022 9:48 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Mithun Rathinam ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs]

[2022-06-16 17:04] #8479 closed

[2022-06-16 19:18] hkusulja commented on #8324
ok, can you please add those information / behavior on docs page.

[2022-06-16 20:52] kelleyvice-msft commented on #8324
Working on that right now.

[2022-06-17 00:36] cabailey commented on #8502
@sparkitect Yes, I understand that point of view and if something doesn't work as documented, please do report it by following your standard support channels. People who have access to the code and have troubleshooting tools will be able to confirm whether it's a misconfiguration or not.  It's also easier to prioritize reported issues when we have customer support incidents whereas GitHub Issues a

[2022-06-17 10:19] yogkumgit commented on #8921
@tiburd

[2022-06-17 10:22] yogkumgit commented on #8900
@v-tophillips Please help us in resolving this issue. Thanks

[2022-06-17 10:28] yogkumgit commented on #8777
@Dansimp Please help us in resolving this issue. Thanks

[2022-06-17 10:54] #8919 closed

[2022-06-17 10:55] yogkumgit commented on #8903
@msbemba Thank you very much for the contribution and sharing this explanation. @MaxXyzzy Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-17 10:55] #8903 closed

[2022-06-17 11:00] yogkumgit commented on #8714
@msbemba Thank you very much for the contribution and sharing this explanation. @GeeJay-Tech Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-17 11:00] #8714 closed

[2022-06-17 11:01] yogkumgit commented on #8749
As per #8714 Closing

[2022-06-17 11:01] #8749 closed

[2022-06-17 11:02] yogkumgit commented on #8829
As per https://github.com/MicrosoftDocs/microsoft-365-docs/issues/8714 Closing

[2022-06-17 11:03] #8829 closed

[2022-06-17 11:03] yogkumgit commented on #8631
As per https://github.com/MicrosoftDocs/microsoft-365-docs/issues/8714 Closing

[2022-06-17 11:03] #8631 closed

[2022-06-17 11:04] yogkumgit commented on #8628
As per https://github.com/MicrosoftDocs/microsoft-365-docs/issues/8714 Closing

[2022-06-17 11:04] #8628 closed

[2022-06-17 17:39] Air-Git opened #8948 "Contradictory"
The article seems to have a contradictory minimum password length. It recommends a 14 character minimum, and then it says that requiring more than 10 can be counter-productive, and recommends 8 minimum!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523758d0-17ea-7061-d9ce-8f5a31a76b4c
* Version Independent ID: 545fd95

[2022-06-17 19:06] denisebmsft commented on #7342
@ok2play thank you so much for opening this issue, and thank you @yogkumgit for your help.

I have been looking into this issue and I have a suggestion. It's important to note that process exclusions don't actually apply to the processes themselves. Instead, what happens is, process exclusions mean that files that are opened by the processes listed as exclusions are not scanned. If you want to exc

[2022-06-17 19:06] #7342 closed

[2022-06-17 19:09] denisebmsft commented on #6966
@jweston-1 has this work item in the queue.

[2022-06-17 22:28] kelleyvice-msft commented on #8324
I'm awaiting technical feedback before publishing revisions, which will hopefully happen early next week.

[2022-06-18 08:30] shanen5 commented on #8921
They are still coming and they are still passing as false negatives, notwithstanding previous corrections. But I'm betting there is no one at Microsoft who cares or cares less. Certainly I haven't detected any request for more information along with a secure channel to transmit the information.

Now I'm wondering if it's related to a phishing attack on the Apple side. If so, the scammers have a pr

[2022-06-20 06:17] msbemba commented on #8843
@koike-a Thank you for your feedback. macOS Catalina 10.15 detects when a user creates or renames an item. This has been updated in the document.

Hope this helps!

Thanks
Sri

[2022-06-20 07:30] msbemba commented on #8886
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8956

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-20 07:37] msbemba commented on #8874
@cohortswitchback Thank you for your feedback. I was able to connect to a tech support by dailing1 800 865 9408. Note that 1 855-270-0615 is a sales line and not just for tech support. If you still have any specific issues with 1 800 865 9408, let us know.

Hope this helps!

Thanks
Sri

[2022-06-20 09:07] msbemba commented on #8724
@riohedfield Thank you for your feedback. I was able to test all the methods and you are right, we are able to mark it is Junk and Phishing when opened as another mailbox and these are security options that will update your internal anti-spam policy Only.

The Report Message and Report Phishing add-ins for Outlook and Outlook on the web are used to report false positives (good email marked as bad)

[2022-06-20 09:37] riohedfield commented on #8724
Hi @msbemba,

Thank you so much for your detailed answer; on the other hand when you say:
" if you report a message as junk using the security options, You are updating just the internal policy"

By internal policy you mean the MailboxJunkEmailConfiguration of the shared mailbox right ?

Also I've tested again using the Security Options then Mark as Junk/ Mark as not Junk:

![image](https://user-i

[2022-06-20 14:02] PayneCeeva opened #8957 "Documentation is wrong"
Too many details to go over. Just redo the page and let me know when it's correct. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4271558-62a9-db3c-078c-13b5e5fe99da
* Version Independent ID: 813d7002-20a2-b1be-2771-975a0b1cfd48
* Content: [Use network upload to import PST files - Microsoft Purview (compliance

[2022-06-20 16:51] ruicovelo opened #8958 "URI for the package repo for RHEL/Centos/Oracle 7.2-7.9 & Amazon Linux 2 not showing"
The URI for the package repo for RHEL/Centos/Oracle 7.2-7.9 & Amazon Linux 2 not showing. It shows

</azure/cognitive-services/speech-service/how-to-configure-rhel-centos-7>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bab0b894-0199-7515-b060-a6724e2c9b9e
* Version Independent ID: 988ff83c-c4b5-d2f3-023e-2d8dd191b7ae

[2022-06-20 18:12] oliviadudley commented on #7976
Hello,
Just for clarification, the update does not indicate that text placeholders are not allowable in tables. Please reopen.

[2022-06-20 18:53] kelleyvice-msft commented on #8324
Updated in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/14696.

[2022-06-20 18:53] #8324 closed

[2022-06-20 18:56] kelleyvice-msft commented on #8888
Updated in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/14696.

[2022-06-20 18:56] AdamJParker opened #8960 "Requirements for network protection, Windows 10 Education?"
Wanted to see if this was a documentation error or if Education version of Windows 10 does not support Network Protection? I was under the impression that all Enterprise Security Features were also available in Edu SKU, but Microsoft Support referenced this article that Education version is not supported.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-06-20 20:07] chuckedmonson commented on #7976
@oliviadudley -- Thank you for the follow up. It says that tables aren't supported (thereby placeholders in tables are not supported. Do you think that needs to be clearer? Thank you.

[2022-06-20 20:15] MithunRathinam opened #8963 "Please add below note/Pointers in the Technet with the redirection link attached"
- Under the sections:

  - ""Block the following URLs" list for Safe Links"
  - "Configure the "Block the following URLs" list in the Microsoft 365 Defender portal"

  "You can now manage block entries in the Tenant Allow/Block List. (https://docs.microsoft.com/microsoft-365/security/office-365-security/tenant-allow-block-list)

  The Global Settings Block List will be turned off in the coming mon

[2022-06-20 20:15] MithunRathinam opened #8964 "Please add below note/Pointers in the Technet with the redirection link attached"
1) Under the section "Configure the "Block the following URLs" list in the Microsoft 365 Defender portal"

"You can now manage block entries in the Tenant Allow/Block List. (https://docs.microsoft.com/microsoft-365/security/office-365-security/tenant-allow-block-list)
The Global Settings Block List will be turned off in the coming months".

Note: Organizations will no longer have the ability to ad

[2022-06-20 20:19] MithunRathinam commented on #8931
Thanks, I can see the below requested note in TechNet.. closing this one.

![image](https://user-images.githubusercontent.com/107569257/174672701-3faf74d6-b3d8-42b6-8902-13811398f0e0.png)

[2022-06-20 20:19] #8931 closed

[2022-06-20 20:33] MithunRathinam opened #8965 "Please add the below as "NOTE" under the section "Do not rewrite the following URLs" lists in Safe Links policies""
Add below NOTE under section "Do not rewrite the following URLs" lists in Safe Links policies"

NOTE : The intended purpose of "DoNotRewrite" is to give tenants the ability to skip the wrapping of URLs. So, With the deployment of the Tenant Allow Block List, it is expected that all tenant allows (ex Detonation and Verdicts) shall be managed there. Ref: https://docs.microsoft.com/en-us/microsoft-36

[2022-06-20 21:54] JayWCotton commented on #8936
Hello Yogesh, Any update on this from the owner?

[2022-06-20 22:15] robmazz commented on #8886
@nikki-c  - Thanks for the feedback, the changes are pending. The topic should be updated and published in the next few days.

[2022-06-20 22:15] #8886 closed

[2022-06-21 03:43] adamfowlerit opened #8967 "Define which admin center"
"In the admin center, go to the Health > Product feedback > NPS survey insights."

It would be good to define which admin center, e.g. Microsoft 365 admin center'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc81f41c-573b-fa50-f2a2-e6a929127e20
* Version Independent ID: b02ba4fe-163e-b8fb-db67-750f15de2af3
* Content:

[2022-06-21 06:39] andrePKI opened #8968 "Azure Arc?"
What are the installation steps when machine is connected via Azure Arc? I believe there is no need to download and install anything from the MDE portal. Please clarify in this doc and refer to corresponding page...

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b77c40dd-e4d2-90f5-d70a-b0ee4b430136
* Version Independen

[2022-06-21 08:10] RAJU2529 commented on #8928
@yogkumgit . Close this  issue #8928 . Issue is solved

[2022-06-21 13:44] andrePKI opened #8971 "Server OSes?"
Under requirements, only Windows 10 is mentioned, no server OSes. Where is the  Server OS documentation? (And what about Windows 11?)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65f58c48-23a1-29e6-4358-7733b12668c8
* Version Independent ID: 27f7f229-ae73-3cd0-287f-8592aaa3928b
* Content: [Set up and configure Micros

[2022-06-21 17:01] chrisda commented on #8964
Closing as duplicate of #8963

[2022-06-21 17:01] #8964 closed

[2022-06-21 17:06] #8965 closed

[2022-06-21 17:14] j3atuhan commented on #8777
For details you can check Microsoft Premier Support Case #:30697267

[2022-06-21 17:14] MithunRathinam commented on #8963
Thanks Chris for addressing all the 3 in this case..
One small correction .Under the section "Do not rewrite the following URLs" lists in Safe Links policies", we need to add below

NOTE : The intended purpose of "DoNotRewrite" is to give tenants the ability to skip the wrapping of URLs. So, With the deployment of the Tenant Allow Block List, it is expected that all tenant allows (ex Detonation an

[2022-06-21 17:42] #8963 closed

[2022-06-22 02:25] kinshasha opened #8972 "Request for linked Channel9 content to be reinstated/re-linked"
Hi ER team.

Re the following section of the linked docs page:

The link to the series on Channel9 seems to have broken and can no longer be located. Can this be reviewed and updated please as this was a useful training asset.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e54e547-0ef6-6a9c-5c50-61c76efe3a10
* Version

[2022-06-22 04:08] yogkumgit commented on #8928
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @AntoniaBlume Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-22 04:08] #8928 closed

[2022-06-22 04:20] yogkumgit commented on #8857
@msbemba Thank you very much for the contribution and sharing this explanation. @ChaosFreak Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-22 04:20] #8857 closed

[2022-06-22 04:22] yogkumgit commented on #8874
@msbemba Thank you very much for the contribution and sharing this explanation. @cohortswitchback Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-22 04:23] #8874 closed

[2022-06-22 04:24] yogkumgit commented on #8882
@msbemba

[2022-06-22 04:25] yogkumgit commented on #8907
@msbemba

[2022-06-22 04:26] yogkumgit commented on #8913
@msbemba Thank you very much for the contribution and sharing this explanation. @WELLBOREIS Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-22 04:26] #8913 closed

[2022-06-22 04:28] yogkumgit commented on #8800
@msbemba

[2022-06-22 04:28] yogkumgit commented on #8832
@msbemba

[2022-06-22 04:29] yogkumgit commented on #8506
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MasterBlaster4 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-22 04:30] #8506 closed

[2022-06-22 08:18] Nosferatu-Dk opened #8975 "Missing \DataCollection folder from the exclusion list"
[This folder runs scripts also; they should be added I believe....
Thinking this folder is missing from the exclusion list "C:\ProgramData\Microsoft\Windows Defender Advanced Threat Protection\DataCollection"]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42db2345-0d5c-45f3-6c24-d84a12775fb7
* Version Independent ID:

[2022-06-22 15:47] alexometis opened #8977 "Step 5, Part 2: "Data lifecycle management" is now "Information governance""
In Step 5 "Create a PST Import job", Part 2 says:

But this is now found in a different area so should read:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4271558-62a9-db3c-078c-13b5e5fe99da
* Version Independent ID: 813d7002-20a2-b1be-2771-975a0b1cfd48
* Content: [Use network upload to import PST files - Microsoft P

[2022-06-22 15:50] CHITOM04 opened #8978 "Set-SharingPolicy is not correct"
The command is Set-SharingPolicy "Default Sharing Policy" -Domains @{Add="Anonymous:CalendarSharingFreeBusyReviewer"}.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Version Independent ID: 7bad8864-5f08-90ae-a6d1-a23e58fc1843
* Content: [Bookings with me](https://docs.microsoft.c

[2022-06-22 16:48] denisebmsft commented on #8650
Hello @tfunatani @RAJU2529 @yogkumgit. Thank you @tfunatani for posting this issue here. We have updated the article, and you will see the changes rendering live a little later today (around 10:45 AM Pacific Time). I appreciate your feedback! Thank you for helping us improve our documentation!

[2022-06-22 16:48] #8650 closed

[2022-06-22 17:29] tiburd commented on #8921
@shanen5

We appreciate your feedback and have routed your concerns to the appropriate team(s) to review.

We're the product documentation team and don’t have insights into the actual mail accounts or spam mails being sent, so we don’t have much to share about this specific issue. However, we will make sure the appropriate team(s) are informed.

This is not a documentation-specific issue, so we're

[2022-06-23 04:57] msbemba commented on #8924
@mvelbaum Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8984

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:04] msbemba commented on #8935
@TheDeuceYouSay Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8985

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:09] msbemba commented on #8939
@JanicVerboon Thank you for your feeback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8986

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:16] msbemba commented on #8944
@JLambEJG Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8988

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:19] msbemba commented on #8948
@Air-Git Thank you for your feedback. We have made changes to the document to reflect the minimum character limit as 8. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8989

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:24] msbemba commented on #8958
@ruicovelo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8990

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:30] msbemba commented on #8960
@AdamJParker Thank you for your feedback. Currently, Network protection requires Windows 10 or 11 (Pro or Enterprise). Having said that you can leave feedback to our Dev/product team via the main feedback portal - https://feedbackportal.microsoft.com/ so that they can provide an update on whether this is in the roadmap or if there are plans to include it in the EDU SKU.

Hope this helps!

Thanks
S

[2022-06-23 05:34] msbemba commented on #8967
@adamfowlerit Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8991

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:50] msbemba commented on #8975
@Nosferatu-Dk Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8992

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 05:56] msbemba commented on #8978
@CHITOM04 Thank you for your feedback. We have made changes to the command via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8993

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-23 13:11] PiotrWadolowski opened #8994 "Fix release notes for March-2022"
For March-2022 update there is "No known issues" but there is March-2022*UPDATE* that points our that there is known issue with first one.

"Customers who applied the March 2022 Microsoft Defender engine update (1.1.19100.5) might have encountered high resource utilization (CPU and/or memory). Microsoft has released an update (1.1.19200.5) that resolves the bugs introduced in the earlier version.

[2022-06-23 14:17] PehDeh opened #8996 "Do you have informations about this EventID 54?"
EventID 54
Source Microsoft-Windows-SENSE/Operational
Global (per-pattern) state changed. State: **0x1**, pattern: **0x9**
Global (per-pattern) state changed. State: **0x0**, pattern: **0x9**

Do you have informations about this EventID 54?
Kind Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adae9e5b-5f3d-3bb9-

[2022-06-23 17:04] denisebmsft commented on #8994
Hello @PiotrWadolowski and thank you for the feedback. I have updated the article, and you'll see the changes live a little later today (around 11 a.m. Pacific Time). Thank you for the suggestion!

[2022-06-23 17:04] #8994 closed

[2022-06-23 17:21] denisebmsft commented on #8971
Hello @andrePKI and thank you so much for your feedback! I have updated the content to include the following information:

The standalone versions of Defender for Endpoint Plan 1 and Plan 2 do not include server licenses. To onboard servers, you will need Defender for Servers Plan 1 or Plan 2 as part of the [Defender for Cloud offering](https://docs.microsoft.com/azure/defender-for-cloud/defender-

[2022-06-23 17:21] #8971 closed

[2022-06-23 18:07] VincentXu2021 opened #9002 "Get-Mailbox does not work for Teams mailbox"
In Microsoft Teams, each team will have a mailbox in the format of "TeamName@fulldomain". I am unable to run Get-Mailbox command against the team mailbox. It says object is not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac0819e-2ed8-d57f-35f5-cfa5210210a9
* Version Independent ID: 61bf03a8-091b-9a33-a7eb-a4

[2022-06-24 08:01] shanen5 commented on #8921
NAK

    On Thursday, June 23, 2022 at 02:29:40 AM GMT+9, Tina Burden ***@***.***> wrote:

@shanen5

We appreciate your feedback and have routed your concerns to the appropriate team(s) to review.

We're the product documentation team and don’t have insights into the actual mail accounts or spam mails being sent, so we don’t have much to share about this specific issue. However, we will make sure

[2022-06-24 08:29] OzmeisterO opened #9011 "Contacting attendees before / after a booking"
Hi.  I often need to contact attendees before and/or after an appointment in Bookings.  I can't find a way to do this without manually copying and pasting all the email addresses from the calendar appointment.  Could you add how best to do this in the FAQ's page as a "Contact all attendees" button should be basic functionality.  Thanks.
[Enter feedback here]

---
#### Document Details

⚠ *Do not e

[2022-06-24 15:10] yogkumgit commented on #8968
@mjcaparas Please help us in resolving this issue. Thanks

[2022-06-24 15:21] yogkumgit commented on #8935
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TheDeuceYouSay Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-06-24 15:21] #8935 closed

[2022-06-24 15:27] #8944 closed

[2022-06-24 15:38] yogkumgit commented on #8960
@AdamJParker Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-06-24 15:38] #8960 closed

[2022-06-24 15:43] #8975 closed

[2022-06-24 15:47] yogkumgit commented on #8926
@msbemba

[2022-06-24 15:48] yogkumgit commented on #8933
@msbemba

[2022-06-24 15:49] yogkumgit commented on #8936
@msbemba

[2022-06-24 15:52] yogkumgit commented on #8977
@msbemba

[2022-06-24 16:27] PayneCeeva commented on #8957
Hi Yogesh,
You may as well close the ticket if you need you clientele to write your documentation for you. I found the correct answers through a mixture of trial-and-error and going over various blogs and troubleshooting forums. At this point I use Microsoft documentation as a starting point and move on to more competent sources as the need arises.
Thanks,

***@***.***
George Payne
Technical Suppo

[2022-06-24 18:19] BMORT17 opened #9013 "Page missing directions when Edit service address is not clickable"
This tutorial page does not provide instructions for the user (e.g. me) how to enable the "Edit service usage address" text. See attached screenshot. I don't know how or why I can't edit this. NOTE: I am a Global Admin, or at least I believe I am.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50536931-a7c8-620a-aae0-9

[2022-06-24 18:28] VincentXu2021 opened #9014 "The statement doesn't match my test result."
It states: In order to create a case, the user must be in "eDiscovery Manager" role GROUP. However, this doesn't match my test result. When the user is NOT in "eDiscovery Manager" role GROUP, he can also create compliance case via Graph API

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 327f05ec-cc23-3241-eb82-12d89ea0

[2022-06-24 19:34] stevensarginson opened #9015 "REST API Auth for event based retention"
Document details the use of basic auth for REST API. Mentions "complianceuser" and "compliancepassword" with no insight into where these fields are set. Are we using azure AD? What permissions need to be assigned? What about MFA?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ad33cc1-dc5f-d9f9-ee8e-b103839945ef
* Vers

[2022-06-24 20:44] tiburd commented on #4054
We’ve passed on this suggestion to the documentation team.

Closing this issue.

cc: @yogkumgit @msbemba

[2022-06-24 20:44] #4054 closed

[2022-06-24 20:59] MartinVokurek opened #9016 "Broken "DeployMMA.cmd" script example"
The example onboarding script does not work. It has incorrectly wrapped lines and an extra ')' at the end.

Proposed change:
[code]

https://github.com/MicrosoftDocs/microsoft-365-docs/blob/ddf98f84d65428d440d1e3fabfad2e0c693c08c9/microsoft-365/security/defender-endpoint/onboard-downlevel.md?plain=1#L212-L229

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2022-06-24 21:01] ToddMaxey opened #9017 "Need reference for TLS 1.3 for WinHTTP registry setting"
The article needs to be updated as to include the WinHTTP value for TLS 1.3

Ref.

SSL2   0x00000008
SSL3   0x00000020
TLS1   0x00000080
TLS1.1 0x00000200
TLS1.2 0x00000800
TLS1.3 0x00002000

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec089a7-8f7b-d4d9-a763-e8abd73fb2c9
* Version Independent ID: 41ba8999-f0ea-5847-

[2022-06-24 21:45] rclaytgit opened #9018 "Teams Phone, IP Addresses, and Endpoints"
We are testing Policy CCX 600 deskphones with dedicated Teams configurations.  One issue we've run into is that the login process fails unless we allow IP addresses associated with teams.events.data.microsoft.com and mobile.pipe.aria.microsoft.com through our corporate firewall.  Those endpoints are not included in the list of Office 365 U.S. Government GCC High endpoints.

The IP addresses for th

[2022-06-25 07:56] justinjbird opened #9020 "Vague instructions on how to delete a bookings calendar"
Specifically this;

This is vague explanation of what is required. What users? Are we to assume that a bookings calendar is represented as a specific user in admin.microsoft? If so, how do we know what it is called? Assumed that this is the case, it could be more explicit explaining this...

...or something to that affect. How does a calendar assign itself if a user already exists with the same na

[2022-06-25 08:04] PehDeh opened #9021 "Use-Agent in net.WebRequest missing"
Line 2481 in MDEClientAnalyzer.ps1
$WebRequestAV = [net.WebRequest]::Create("https://www.microsoft.com/security/encyclopedia/adlpackages.aspx?action=info")
Can you add a User-Agent, else it could lead to  beeing blocked by microsoft.com when no user-agent is present and the volume is higher.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-06-25 10:10] thomasjsweet opened #9022 "spelling error"
[Enter feedback here]

You may consider replacing  "provie" with the traditional spelling "provide"   : )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b17ce75e-79ba-0acd-066c-a0120a29d65d
* Version Independent ID: 14673b1c-8489-0abc-90a0-42f35d516424
* Content: [Configure the delivery of third-party phishing simulati

[2022-06-25 11:24] Francesco219 opened #9023 "Flo"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e2ac78-e08b-d7c8-5eec-baf9e9c13b62
* Version Independent ID: 66014f69-00c9-0e9b-fe0a-d0e10f2ca5eb
* Content: [About registration numbers and under-review notifications](https://docs.microsoft.com/en-us/microsoft-365/commerce/about-registration-numbe

[2022-06-25 11:24] Francesco219 commented on #9023
Flo

[2022-06-25 15:12] Kazzan opened #9024 "Storage Permissions tasks is missing from guide"
Hi, seems that the description for tasks to grant app permissions for storage is missing from guide now. Only the image after "The app configuration policy for Defender for Endpoint autogranting the storage permission is now assigned to the selected user group.", but above does not talk about need to create this policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2022-06-25 15:23] Kazzan opened #9025 "Clarify modes support for Android Enterprise"
Hi, each warning windows have different terms for Android Enterprise modes. Even the https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/microsoft-defender-endpoint-android?view=o365-worldwide mentioned different ones. Capabilities itself have descriptions to be supported only for some modes, but overall seems good. Also, the terms in Intune console are updated with new Googl

[2022-06-25 21:28] itguysocal opened #9026 "syntax error"
This sentence is incorrect: "If you have already installed the preview version, run Install-Module AzureADPreview to make sure it's the latest version of this module."

Instead it should be update-module

#ATCP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID:

[2022-06-25 21:44] itguysocal commented on #9026
I created a pull request here: https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9027
- so this comment can be closed.

[2022-06-25 21:44] #9026 closed

[2022-06-26 10:50] Lemmingh opened #9028 "Self-reference in `exploit-protection`"
<https://github.com/MicrosoftDocs/microsoft-365-docs/blob/7064aa1af0c38309e4366ab652d8041d88c4ba2f/microsoft-365/security/defender-endpoint/exploit-protection.md#L138>

The first link in the "**See also**" section points to this article itself.

Could you remove the confusing link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-06-26 20:20] gonz-kelv opened #9029 "Missing closing brackets or wrong character used"
In the Section, What label policies can do, the explanation seems to miss the closing bracket or wrong character was used.

![image](https://user-images.githubusercontent.com/8866096/175832383-0c4437d7-34f8-40ce-8890-93b2815075a6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb0c964d-2d1b-601a-c8a2-14378fc24fb8
*

[2022-06-26 22:54] cabailey commented on #9029
@gonz-kelv Thanks for flagging - yes, missing ending parenthesis. Easy to do in Markdown after a link but now fixed & lined up to publish tomorrow.

[2022-06-26 22:54] #9029 closed

[2022-06-27 10:37] msbemba commented on #8926
@cronq Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9030

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-27 10:45] msbemba commented on #8933
@mcasaz Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/9031

Once the author approves, the changes will be live.

Thanks
Sri

[2022-06-27 11:58] msbemba commented on #8907
@cnschindler Thank you for your feedback. I'm currently checking with the author/PG and will update the document once I have more information.

Thanks
Sri

[2022-06-27 12:14] alexometis commented on #8977
That's so weird - I also see that there now... I'm sure it wasn't there the other day!

[2022-06-27 12:17] msbemba commented on #8977
Thank you for the confirmation. Usually, the author updates before a change happen in GUI.

We will proceed with Closing this issue for now.

Thanks
Sri

[2022-06-27 15:13] yogkumgit commented on #8924
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mvelbaum Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-06-27 15:13] #8924 closed

[2022-06-27 22:44] nikki-c opened #9036 "Microsoft 365 Groups now support nested membership"
An update is needed to the Microsoft 365 Group section as Microsoft 365 Groups now support nested membership. Reference Message center change MC394932 .

Therefore the current sentence is incorrect

    _'Microsoft 365 Groups don't support nesting with other Microsoft 365 Groups or with distribution or security groups.
    [Enter feedback here]'_

Message center change MC394932 Create "Nested" Gro

[2022-06-28 12:33] yogkumgit commented on #8907
@KCCross Please help us in resolving this issue. Email sent. Thanks

[2022-06-28 12:41] a-gbusuioc opened #9039 "Defender passive mode"
Hello,

In this article it is mentioned that "You can set Microsoft Defender Antivirus to passive mode using PowerShell, Group Policy, or a registry key" on Windows Server 2012R2, 2016 and 2019.
The policy mentioned for changing the Defender state to Passive mode is "Turn Off Microsoft Defender Antivirus" which enforces a running or disabled state based on the option choosed, but never a Passive m

[2022-06-28 12:43] yogkumgit commented on #8936
@msbemba Gentle reminder

[2022-06-28 12:44] yogkumgit commented on #8977
@msbemba Thank you very much for the contribution and sharing this explanation. @alexometis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.