[2020-07-30 01:15] #2498 closed

[2020-07-30 02:17] slrattan opened #2499 "Education"
Is this available for Education? ie M365 A3/A5?

[2020-07-30 06:09] yogkumgit commented on #2499
@slrattan The issue does not include the details or reference of the document to be modified. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 06:09] #2499 closed

[2020-07-30 06:14] yogkumgit commented on #2160
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @Strick1969 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 06:14] #2160 closed

[2020-07-30 06:19] yogkumgit commented on #2164
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @trajano Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 06:19] #2164 closed

[2020-07-30 06:25] yogkumgit commented on #2411
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @PatrickBraam Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 06:25] #2411 closed

[2020-07-30 06:29] yogkumgit commented on #2424
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @patrichard Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 06:29] #2424 closed

[2020-07-30 07:40] yogkumgit commented on #2436
@chrfox Please merge this PR. Thanks.

[2020-07-30 07:48] joyd86 opened #2500 "Feature not working"
Please confirm if the feature mentioned in the document relates the Featured ID: 63831 which is still in development or not.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43299e41-87fe-d6f1-20f7-83791d8ef90b
* Version Independent ID: e5e69845-7040-f5b7-b922-e2d2fd9a7d5e
* Content: [Configuring and controlling external

[2020-07-30 07:53] Moodjbow opened #2501 "Please clarify behaviour of safe links for email messages"
Dear Microsoft,

The tenor of your article supposes that the entire organization policy (Step 2) defines the baseline security, and the specific email policies (Step 3) define exceptions, i.e. relaxed rules.
But the "Default" policy explicitly states under "Settings that apply to content except email", that the below settings (use safe links in O 365 applications; do not track; do not let user cli

[2020-07-30 15:01] yogkumgit commented on #2374
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @mevenega Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 15:01] #2374 closed

[2020-07-30 15:05] yogkumgit commented on #2406
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 15:05] #2406 closed

[2020-07-30 15:14] harp365 opened #2503 "App Permission Consent PowerShell snippet may need revising"
I think the following is not taking into consideration the newly Azure AD module and cmdlets. I ended up changing:

Login-AzAccount
$appId="bcf62038-e005-436d-b970-2a472f8c1982"
$sp=Get-AzADServicePrincipal -ServicePrincipalName $appId
if ($sp -eq $null) { New-AzADServicePrincipal -ApplicationId $appId }
Start-Process  "https://login.microsoftonline.com/common/adminconsent?client_id=$appId"

to be

[2020-07-30 15:29] yogkumgit commented on #2418
@msbemba  Thank you very much for the contribution and digging deep into it.  @imanboukly We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docume

[2020-07-30 15:40] yogkumgit commented on #2169
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @hwkwicre Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-30 15:40] #2169 closed

[2020-07-30 15:49] yogkumgit commented on #2463
@msbemba  Thank you very much for the contribution and digging deep into it.  @Dongiftedgh We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docum

[2020-07-30 15:49] #2463 closed

[2020-07-30 16:12] imanboukly commented on #2418
Hi, The article was [Teams dependent services architecture ]

[2020-07-30 16:13] imanboukly commented on #2418
The URL is https://docs.microsoft.com/en-us/microsoft-365/enterprise/teams-access-policies?view=o365-worldwide

[2020-07-30 16:14] imanboukly commented on #2418
Hi, Please dont close the case the link was https://docs.microsoft.com/en-us/microsoft-365/enterprise/teams-access-policies?view=o365-worldwide

[2020-07-30 16:55] msbemba commented on #2418
@imanboukly I'm looking into this and will update you shortly.

[2020-07-30 17:52] msbemba commented on #2445
@edwardclau  Hope the confusion is cleared now. @yogkumgit  There is no requirement for the document to modified, So this can be closed for now.

Thanks
Sri

[2020-07-30 18:39] #2445 closed

[2020-07-30 19:37] msbemba commented on #2479
@andypituch  Thank you for your feedback. We have added an example to this document via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2509 and also added an example to Register-SPODataEncryptionPolicy the via PR#https://github.com/MicrosoftDocs/office-docs-powershell/pull/6252

Thanks
Sri

[2020-07-30 19:43] msbemba commented on #2466
@jseerden Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2510

Thanks
Sri

[2020-07-30 19:51] msbemba commented on #2446
@Alex-Catalin Thank you for your feedback. We are checking this with the author and will update you shortly.

Thanks
Sri

[2020-07-30 20:00] msbemba commented on #2435
@dbetlow Thank you for your feedback. We have added a section to  Setup Call forwarding to people in your organization via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2511

Thanks
Sri

[2020-07-30 21:27] msbemba commented on #2165
@anyITsolution Thank you for your feedback. The article has been Rebranded/Debranded due to the recent changes and it is set correctly now. In case you need any explicit changes, continue to provide us feedback on this page.

@yogkumgit  This can be closed as there is no changes needed in the document.

Thanks
Sri

[2020-07-30 21:38] msbemba commented on #1923
@lkuhn65 Thank you for your feedback. Microsoft productivity score is still in preview mode and Please share your thoughts about Productivity Score and your ideas about how to improve it. Use the Feedback sections within the product and/or reach out to the Productivity Score team at ProductivityScorePreview@service.microsoft.com.

@yogkumgit We can close this as the document is still under preview

[2020-07-30 21:44] Sirkkuw commented on #2098
@msbemba  - the PG advice is to NOT to use the per person MFA. This will go away.

[2020-07-30 21:44] msbemba commented on #2242
@tenmilez Thank you for your feedback. We can only add shared mailboxes on outlook with Ios or android. I have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2512

Thanks
Sri

[2020-07-30 21:51] msbemba commented on #2243
@npherson Thank you for your feedback. This is a Generic topic on M365 compliance so we have not explicitly mentioned about any particular application. But  We have added to the link to related topics via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2513

Thanks
Sri

[2020-07-30 21:53] msbemba commented on #2098
Thank you@Sirkkuw . @ranabanerjee15 Thank you for your feedback. This feature of Per person is going to go away and the Product group advise is not to use this feature.

@yogkumgit This can be closed as there is no changes required in the document.

Thanks
Sri

[2020-07-30 22:00] msbemba commented on #1842
@Sirkkuw Thank you for getting us that information from PG.

@bartbilliet I have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2514

Thanks
Sri

[2020-07-30 22:12] msbemba commented on #2478
@yogkumgit We can proceed with closure as @cmcatee-MSFT has merged the PR

[2020-07-30 22:12] bartbilliet commented on #1842
Thanks @Sirkkuw @msbemba appreciate! :)

[2020-07-30 22:14] msbemba commented on #2464
@yogkumgit We can proceed with closure as the PR has been successfully merged by @chrisda

[2020-07-30 23:54] imanboukly commented on #2418
Thank you

[2020-07-31 07:16] lightupdifire commented on #2294
@cabailey

After checking with Sanjoyan, I see that Conditional Access is mandatory to have for an Unmanaged device access scenario with SharePoint labeling. And if the previous configuration was already done for Unmanaged device access, then in order to apply SharePoint labeling it requires a strategy change.

So what happens now with our tenants is that we already used an Unmanaged device access

[2020-07-31 08:55] jseerden opened #2516 "MFA doc improvements"
Steps described in https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/secure-your-business-data?view=o365-worldwide#1-set-up-multi-factor-authentication describe enabling ["legacy per person MFA"](https://docs.microsoft.com/en-us/microsoft-365/admin/security-and-compliance/set-up-multi-factor-authentication?view=o365-worldwide#turn-off-legacy-per-person-mfa)

MFA for indi

[2020-07-31 11:57] yogkumgit commented on #1853
This document is removed, no replacement yet, so closing it.

[2020-07-31 11:57] #1853 closed

[2020-07-31 12:56] yogkumgit commented on #2165
@msbemba  Thank you very much for the contribution and sharing this explanation. @anyITsolution Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-31 12:56] #2165 closed

[2020-07-31 13:01] yogkumgit commented on #2098
@msbemba  Thank you very much for the contribution and sharing this explanation. @ranabanerjee15 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-31 13:01] #2098 closed

[2020-07-31 13:05] yogkumgit commented on #2242
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @tenmilez Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-31 13:14] yogkumgit commented on #2478
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @jwojan Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-31 13:14] #2478 closed

[2020-07-31 13:17] yogkumgit commented on #2464
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @qaehtesh Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-07-31 13:17] #2464 closed

[2020-07-31 15:39] cabailey commented on #2294
@lightupdifire  Yes, it works as documented, no changes needed on this page.

UserVoice and not GitHub Issues is the right place to request product design changes, even if you hear from PMs that they are planning to make changes.  They have lots of changes on a backlog that they continually triage, and having votes on UserVoice helps to bump the priority.  Is this your post? https://office365.user

[2020-07-31 20:43] msbemba commented on #2409
@ramuvr Thank you for your feedback. We tested this on our test environment and the script works without any issues. So there is no changes required in the document. I would request you to contact Microsoft from the need help section on your admin portal to take this forward.

If you find anything that needs to change int he document, Please let us know.

@yogkumgit  This can be closed as the docu

[2020-07-31 20:54] msbemba commented on #2364
@jose-camacaro Thank you for your feedback. We tested this in the lab and looks like the feature is working as expected. Having said that there are a few reasons why users are not able to view the yellow banner 1) The Office Version is not 2004 (12730.x) or above 2) They are not assigned Microsoft 365 E5 or Microsoft 365 E5 Security license. If both the above criteria match, I would recommend you

[2020-07-31 21:04] msbemba commented on #2247
@cfizz34 Thank you for your feedback. By default, Administrators do not have access to All onedrive accounts. Having said that if you as an admin need access to all onedrive accounts, you will have to make the below changes

1)Login to your SharePoint Online Admin Center

2)Click on User Profiles from the left navigation

3)Click on My Site Settings >> Setup My Sites >> Under "My Site Secondary Ad

[2020-07-31 21:20] msbemba commented on #1661
@vaskotoo Thank you for your feedback.

1)Intentional activity means the user opens an office app on purpose or deliberately. There could be users who opened a file earlier and left as is.

2)The data in each report usually covers up to the last 24 to 48 hours. If there is a discrepancy in the report, I'd recommend you contact support via need help option in the admin center to troubleshoot.

Hope

[2020-07-31 21:39] msbemba commented on #2029
@michevnew Thank you for your feedback. We have corrected the link for enforcing password history in Azure AD, Added steps to update password polices (only update is possible as of now), and removed the Mobile wipe statement mentioned in the document. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2520

Thanks
Sri

[2020-07-31 22:17] bigttys0 opened #2521 "FoxIt PDF Reader link not home *kinda*"
FoxIt PDF Reader link not home *kinda*.  When I say kinda, I mean the link to download is there but what's linked on MS is not the direct link.
Here's the direct link - https://www.foxitsoftware.com/downloads/#Foxit-PhantomPDF-Business/

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7da662e1-5ae5-7760-1321-26cd2bab997a

[2020-08-01 01:06] msbemba commented on #2418
@imanboukly Thank you for your feedback. We have edited the Media file via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2523

Thanks
Sri

[2020-08-02 00:50] EricaToelle opened #2524 "Broken link in Excel sheet"
The downloadable Excel workbook (in the green box) that generates the information barriers PowerShell has a broken documentation link for "Attributes for information barrier policies".

Thanks for the spreadsheet - it's very helpful!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2baec804-4a76-95ac-3595-985629448fd9
*

[2020-08-03 04:18] yogkumgit commented on #2409
@msbemba  Thank you very much for the contribution and sharing this explanation. @ramuvr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-03 04:18] #2409 closed

[2020-08-03 04:26] yogkumgit commented on #2364
@msbemba  Thank you very much for the contribution and sharing this explanation. @jose-camacaro Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-03 04:26] #2364 closed

[2020-08-03 04:28] yogkumgit commented on #2247
@msbemba  Thank you very much for the contribution and sharing this explanation. @cfizz34 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-03 04:28] #2247 closed

[2020-08-03 04:29] yogkumgit commented on #1661
@msbemba  Thank you very much for the contribution and sharing this explanation. @vaskotoo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-03 04:29] #1661 closed

[2020-08-03 05:21] yogkumgit commented on #1923
@msbemba  Thank you very much for the contribution and sharing this explanation. @lkuhn65 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-03 05:21] #1923 closed

[2020-08-03 05:50] mdcaddic opened #2525 "Invalid link"
Last link on the page (https://portal.azure.com/#blade/Microsoft_Intune_DeviceSettings/ExtensionLandingBlade/overview) no longer exists

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c87804d7-c76b-509d-eaa0-18b91b0563bd
* Version Independent ID: 7dc288f3-939a-590b-fe8b-31a266795fa3
* Content: [Microsoft security portal

[2020-08-03 06:52] lightupdifire commented on #2294
Hello Carol,
Yes, this is my post.

On Fri, Jul 31, 2020 at 5:39 PM Carol Bailey <notifications@github.com>
wrote:

[2020-08-03 15:18] get-itips commented on #2308
Hello, we will proceed closing this one as the information that lead to the creation of the issue is not present anymore in the article.

[2020-08-03 16:09] msbemba commented on #2525
@mdcaddic Thank you for your feedback. We have made changes to the document to fix the broken link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2526

Thanks
Sri

[2020-08-03 16:10] #2293 closed

[2020-08-03 16:16] msbemba commented on #2521
@bigttys0 Thank you for your feedback. We have made changes to the document by fixing the broken links. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2527

Thanks
Sri

[2020-08-03 16:19] msbemba commented on #2503
@harp365 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2528

Thanks
Sri

[2020-08-03 16:27] msbemba commented on #2500
@joyd86 Thank you for your feedback. I tested this feature and this is still in the development stage and will be rolled out in a phased manner. We have added a note on the document "Disabling automatic forwarding to external addresses in Office 365 is being rolled out in phases with details communicated via Message Center posts."

Hopefully, you can start using this feature once it is rolled out

[2020-08-03 16:47] msbemba commented on #2487
@tfurstms Thank you for your feedback. We have added a word Delete to the title via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2529 . Once the author approves the same will be published.

Thanks
Sri

[2020-08-03 17:25] get-itips commented on #2309
Hello @maramraghavendra
I could not reproduce on a newly created demo tenant. Let's see if we can get more information from @twernermsft
Thanks

[2020-08-03 18:11] #2304 closed

[2020-08-03 19:30] msbemba commented on #2484
@Sokarpi Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2484

Thanks
Sri

[2020-08-03 19:49] msbemba commented on #2516
@jseerden Thank you for your feedback. We have made changes to the wordings (Legacy Per person MFA) via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2531

Thanks
Sri

[2020-08-03 20:11] msbemba commented on #2524
@EricaToelle Thank you for your feedback. We have created fix this excel file and waiting for it to go live once the author approves. Related PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2532

Thanks
Sri

[2020-08-03 21:49] msbemba commented on #2486
@DeanGross Thank you for your feedback. I have added a section to the document "What is New?" so that we can track the changes or additional going forward. I'm submitted the PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2533 for approval and once it is approved you will see the document updated.

Thanks
Sri

[2020-08-04 04:21] Alex-Catalin opened #2535 "Clarify the Submission ID value"
In the paragraph https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/admin-submission?view=o365-worldwide#view-admin-submissions, we have the notion of Submission ID, which is a selectable criteria for admins to search user submissions.

From where is the Submission ID taken exactly? Where does this value come from?

---
#### Document Details

⚠ *Do not edit this section. I

[2020-08-04 05:27] yogkumgit commented on #2308
@get-itips  Thank you very much for the contribution and sharing this explanation. @NiteshSharma2K19 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:27] #2308 closed

[2020-08-04 05:30] yogkumgit commented on #2408
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @dustygooden Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:30] #2408 closed

[2020-08-04 05:42] yogkumgit commented on #2500
@msbemba  Thank you very much for the contribution and sharing this explanation. @joyd86 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:42] #2500 closed

[2020-08-04 05:50] yogkumgit commented on #2487
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @tfurstms Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:50] #2487 closed

[2020-08-04 05:56] yogkumgit commented on #2163
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @NRClay Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 05:57] #2163 closed

[2020-08-04 06:01] yogkumgit commented on #2469
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @GitRomney Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:01] #2469 closed

[2020-08-04 06:08] yogkumgit commented on #2444
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @mcantin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:08] #2444 closed

[2020-08-04 06:11] yogkumgit commented on #2466
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @jseerden Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:11] #2466 closed

[2020-08-04 06:19] julesb2018 opened #2537 "What permission do you need to view the policy details ? Security Reader does not seem to be enough."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce36344d-67bf-68cb-5004-9ac6f27ebf51
* Version Independent ID: 89a7d7e7-c643-eb06-d844-b97b80633b68
* Content: [Create, test, and tune a DLP policy - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/create-test-tune-

[2020-08-04 06:20] julesb2018 opened #2538 "What permission do you need to view the DLP policy details ? Security Reader does not seem to be enough."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce36344d-67bf-68cb-5004-9ac6f27ebf51
* Version Independent ID: 89a7d7e7-c643-eb06-d844-b97b80633b68
* Content: [Create, test, and tune a DLP policy - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/create-test-tune-

[2020-08-04 06:21] yogkumgit commented on #2309
@twernermsft please help us with your comments to resolve it. Please also let us know if the document update is required or not.

[2020-08-04 06:25] yogkumgit commented on #2395
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @aszalacinski Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:25] #2395 closed

[2020-08-04 06:28] yogkumgit commented on #2318
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sfilinto Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:28] #2318 closed

[2020-08-04 06:45] yogkumgit commented on #2203
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @ii-batman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:46] #2203 closed

[2020-08-04 06:48] yogkumgit commented on #2200
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @JuanZQ Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:48] #2200 closed

[2020-08-04 06:50] yogkumgit commented on #2435
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @dbetlow Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:50] #2435 closed

[2020-08-04 06:53] yogkumgit commented on #2029
@msbemba hank you very much for the contribution and updating the documentation with PR. @michevnew Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:53] #2029 closed

[2020-08-04 06:58] yogkumgit commented on #1842
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @bartbilliet Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 06:58] #1842 closed

[2020-08-04 07:07] yogkumgit commented on #2467
@ Thank you very much for the contribution and updating the documentation with PR. @sebhe Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 07:07] #2467 closed

[2020-08-04 07:11] yogkumgit commented on #1193
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @Jont-K Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 07:11] #1193 closed

[2020-08-04 07:15] yogkumgit commented on #2199
@chrisda  Thank you very much for sharing this explanation. @MrsKay007 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-04 07:15] #2199 closed

[2020-08-04 07:18] yogkumgit commented on #2221
@chrisda  Thank you very much for digging deep into it.  @bartvermeersch We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that

[2020-08-04 07:18] #2221 closed

[2020-08-04 07:24] yogkumgit commented on #2468
@markjjo  Thank you very much for digging deep into it.  @chloegilbert We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that v

[2020-08-04 07:24] #2468 closed

[2020-08-04 15:36] Chad-Campus opened #2539 "Password History"
Says
Prevent last password from being used again
If you want to prevent your users from recycling old passwords, you can do so in Azure AD. See Enforce password history.

But that link takes you to a page on how to do it in On-Prem AD not Azure AD.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d322ca91-2125-7486-887f-

[2020-08-04 21:59] msbemba commented on #2501
@Moodjbow Thank you for your feedback. The steps mentioned in step 3 can be used for all employees if you want a custom policy as the default policy has fewer options w.r.t email. I have created a PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2542 which will be reviewed by the author and approved if they are found True.

Thanks
Sri

[2020-08-04 22:07] haoewqopi opened #2543 "Upload the Larger Graphic/Image - It's Too Small to Read"
Please upload a larger version of the graphic on this page. When I click on it, it won't expand...text is too tiny to read as-is. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18267b13-4890-4196-16e8-e183ece73d70
* Version Independent ID: 64887e62-4187-cb6e-fbb3-ff7e12a18841
* Content: [Secure email recommende

[2020-08-04 23:26] DXL88 opened #2544 "Get-AzureADDirectorySetting"
Hi,

The command "(Get-AzureADDirectorySetting -Id $settingsObjectID).Values" appears not correct, because cmdlet Get-AzureADDirectorySetting doesn't have -Id option, it has -ObjectId instead.

Regards
David

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e935bd03-8b2a-2271-b886-5643f5c7ea51
* Version Independent ID: 82

[2020-08-05 12:24] Larryngolog opened #2545 "Network settings for Azure Key Vault."
When Azure Key Vault is created you need to select from which network locations it will be available:

1. Public networks
2. Public networks (selected IP)
3. Private networks

Which setting should be used for Customer Key? Can private network be used in such case? If not and we want to avoid  allowing access from all IPs what IPs need to be added to allow Office 365 access the Key Vault?

---
####

[2020-08-05 15:27] Jimnar opened #2546 "Permissions for disposition"
[Enter feedback here]

The article says to create create a new role group called Disposition Reviewers, with one role from Exchange Online and one role from the Security & Compliance Center. Where should the role group be created? I'm assuming the Security & Compliance center, but it isn't clear. Is it possible to include a role from one admin center in the role group of another admin center?

Any

[2020-08-05 16:14] yogkumgit commented on #2484
@markjjo Please merge this PR. Thanks

[2020-08-05 16:39] chrisda commented on #2535
@Alex-Catalin, apparently, Submission ID is a GUID value that's assigned to every submission. I added this description in a couple of places in the topic.

Thanks for the feedback.

Closing

[2020-08-05 16:39] #2535 closed

[2020-08-05 17:01] fylo5 opened #2547 "fylo microsoft 356"
[اكتب ملاحظاتك هنا]

---
#### تفاصيل المستند

⚠ *تجنب تحرير هذا القسم. مطلوب لـ docs.microsoft.com ➟ ربط مشكلة GitHub.*

* ID: 709fda6f-3a7d-92aa-e7ad-afb09cd47cda
* Version Independent ID: 991f7ce4-e3a8-e044-c3c5-82de3b8837d3
* Content: [Admin center overview - Microsoft 365 admin](https://docs.microsoft.com/ar-sa/microsoft-365/admin/admin-overview/admin-overview?view=o365-worldwide#who-has-admin

[2020-08-05 17:23] FranNev opened #2548 "Unclear wording in the "Start retention when an event occurs" page"
Hi,

I'd like to have some explanation about the sentence: "Product Lifetime is the event type; a specific product reaching end of life is an event. **When an event of that event type occurs**—in this case, when a product reaches its end of life—**you create an event** that specifies:"

Could the wording "When an event of that event type occurs" be simplified to "When this type of event occurs" or

[2020-08-05 18:18] cabailey commented on #2548
@FranNev This is quirky wording when you read it, I know - but it reflects the technical implementation when you configure a retention label for event-based retention.  It always feels backward to me, that you create the event type first for the label, and then create an event afterwards for that event type.  But that's the way it's implemented, which is why your proposed wording wouldn't be accur

[2020-08-05 18:18] #2548 closed

[2020-08-05 18:23] FranNev commented on #2548
@cabailey Thank you so much for this explanation! This is way much understandable for me. Much appreciated. Have a nice day.

[2020-08-05 18:36] abhinandanmadaan opened #2549 "No "INFO" or "SYNC" button under Connected to Azure AD option"
While joining my organisation's Azure AD, after login I try to click on the "**_Connected to ___ Azure AD_**" to find the **_"info"_** button, but turns out there is just one button of "**_Disconnect_**" there. There is no INFO button nor any SYNC option.
Using windows 10 pro 6 bit

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-08-05 18:45] shs-hathawayrob opened #2550 "Group Restored Not Seeing SharePoint Contents Restored"
I restored the group. But the SharePoint site content is not restore.  The site is under active SharePoint sites.  But the URL doesn't work.  Clicking on the site has greyed out metadata.
I removed the group last night.  I restored a few minutes.  Maybe it takes more time for the site and files to be restored.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-08-05 18:52] dhilgarth opened #2551 "Can't promote tile to App Launcher"
I am unable to pin the custom tile launcher.

The description under "Promote the tile to App Launcher" seems to be incorrect, because I don't get the option "Pin to launcher" when I click the ellipsis. I tried both from the office 365 main page as well as from the admin portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-05 19:07] cabailey commented on #2546
@Jimnar  Yes, you can create this role group in the Security & Compliance Center.  It's not always possible to include a role from one admin center in the role group of another admin center. However, in this specific case, View-only Audit Logs from EAC can be assigned to a user as part of the Disposition Reviewers role group created in the Security & Compliance Center.

The engineering team is loo

[2020-08-05 19:07] #2546 closed

[2020-08-06 06:40] yogkumgit commented on #2547
@fylo5 Please write your comment in English.

[2020-08-06 12:24] yogkumgit commented on #2537
Closing as it is duplicate of #2538

[2020-08-06 12:24] #2537 closed

[2020-08-06 12:31] yogkumgit commented on #1879
@kaarins Awaiting your response. Please revert. Thanks

[2020-08-06 12:47] yogkumgit commented on #2359
@chrisda  Thank you very much for sharing this explanation. @JeroenDronkers Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-06 12:47] #2359 closed

[2020-08-06 12:53] yogkumgit commented on #2127
Exactly the same as #2117 , Closing it here.Thanks

[2020-08-06 12:53] #2127 closed

[2020-08-06 17:09] msbemba commented on #2551
@dhilgarth Thank you for your feedback. I tested with an administrator account and the pin to launcher works. Remember that the account used for this activity needs to have an exchange online mailbox.

We have a note in the document which talks about this:-

If you don't see the custom tile created in the previous steps, make sure you have an Exchange Online mailbox assigned to you and you've sign

[2020-08-06 17:10] msbemba commented on #2550
@shs-hathawayrob Thank you for your feedback. In some cases, it may take as long as 24 hours for the group and all of its data to be restored.

We have added a similar note to the document.

As such, there is no changes required in the document and this can be closed @yogkumgit

Thanks
Sri

[2020-08-06 17:13] dhilgarth commented on #2551
I am the admin of the whole organization and I have an exchange online mailbox.
I do see the custom tile but I don't see that option. On no tile.
Obviou6, the documentation is lacking something, otherwise I could identify the location I am supposed to see this option.
Can you please post a screenshot here?

[2020-08-06 17:17] msbemba commented on #2544
@DXL88 Thank you for your feedback. We tested it and the cmdlet seems to be right.
![image](https://user-images.githubusercontent.com/45987684/89561811-ad90c100-d836-11ea-98fd-88259e07ad8b.png)

For more information on how to use this command, Please see - https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaddirectorysetting?view=azureadps-2.0-preview

Hope this Helps!

@yogkumgit

[2020-08-06 17:22] msbemba commented on #2543
@haoewqopi Thank you for your feedback. I checked and found that the Graphic on the page is at the best size possible due to the fact that it has multiple tabular columns to show. Breaking that in two images doesn't help so I'd recommend You open the image on a new tab to Zoom in and the quality of the graphic will not be impacted. Hope this helps!

@yogkumgit The graphic is at the best size possi

[2020-08-06 17:32] msbemba commented on #2539
@Chad-Campus Thank you for your feedback. We have modified the document to add Azure Ad information. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2552

Thanks
Sri

[2020-08-06 17:33] ssccaavvookk opened #2553 "Service domain support and logic/syntax details"
Can details be added to service domains similar to the file path section to detail what's supported regarding wildcards, subdomains, directories and combinations thereof? E.g. `*.gov, drive.google.com, contosos.sharepoint.com/sites/allowed, *.sharepoint.com, contoso.sharepoint.com/sites/hr/*`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-08-06 17:34] haoewqopi commented on #2543
Thanks - it would be easier for your readers to do it the way a similar graphic was done on the page below, however:

https://docs.microsoft.com/en-us/microsoft-365/enterprise/identity-access-policies?view=o365-worldwide

From: Sriraman M S <notifications@github.com>
Sent: Thursday, August 6, 2020 12:23 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: McCurdy, Co

[2020-08-06 17:42] msbemba commented on #2538
@julesb2018 Thank you for your feedback. The permission to view the DLP policy is available only for tenant Admin. However, it can be managed using a compliance management role. I have added instructions on how to manage permissions to the document and can be tracked via# PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2554

Thanks
Sri

[2020-08-06 17:48] msbemba commented on #2549
@abhinandanmadaan Thank you for your feedback. I tested this on a new machine and it does show Info and sync button.

![image](https://user-images.githubusercontent.com/45987684/89564558-d1ee9c80-d83a-11ea-8eb4-2f682ed49ef4.png)

![image](https://user-images.githubusercontent.com/45987684/89564602-e16de580-d83a-11ea-801e-50b88c462cf6.png)

This could be more related to your environment and i would

[2020-08-06 17:57] msbemba commented on #2543
@haoewqopi Thank you for your feedback. I have added a link to open image in a larger size as shown in the other document. Hope this helps!

This can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2556

Thanks
Sri

[2020-08-06 18:02] msbemba commented on #2551
@dhilgarth Please do post what you see on the Admin center. I tested it and it works as seen below

![image](https://user-images.githubusercontent.com/45987684/89566079-22ff9000-d83d-11ea-96f6-f12bf04c40b0.png)

[2020-08-06 19:14] GaneshPrabuBaburaj commented on #2382
@msbemba , Is that approved ? Hope it is more than 2 weeks.

[2020-08-06 21:51] msbemba commented on #2376
@yogkumgit This can be closed. The description now has the required admin roles needed to make changes.

"Only a global administrator, Exchange administrator, Groups administrator, or user administrator can make these changes"

Thanks
Sri

[2020-08-07 02:14] MediumBrownToast opened #2558 "Wildcard SPF Record for subdomains that dont send mail?"
Hi,

I noticed that this article and none of the other SPF articles in the MS KB contain a suggestion for adding a wildcard SPF TXT record. Isn't it best practice to add a record like below to prevent spoofing of subdomains? The articles talk about SPF TXT records for a "domain" but it might be more helpful to explicitly state something like "an SPF TXT record should be created for each subdomain

[2020-08-07 03:37] MaratMussabekov commented on #1939
Hello @elpinto007 ,
could you please clarify which kind of sharing you tried to set?
Thank you

[2020-08-07 04:59] mempoweredau opened #2559 "Lab Guides 2004?"
Just downloaded lab kit 2004. The Evaluation center mentions the following under description;

The lab kit consists of two self-extracting zip files: the lab environment and the lab guides.

I've ran the setup.exe and all VMs are setup etc. There are only 3 files in the downloaded zip
Setup.exe
zpaq.exe
DeploymentLabKit.zpaq

Checked the folder and there are snapshots, virtual disks and virtual ma

[2020-08-07 05:08] yogkumgit commented on #2550
@msbemba  Thank you very much for the contribution and sharing this explanation. @shs-hathawayrob Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-07 05:09] #2550 closed

[2020-08-07 05:12] yogkumgit commented on #2544
@msbemba  Thank you very much for the contribution and sharing this explanation. @DXL88 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-07 05:13] #2544 closed

[2020-08-07 05:23] yogkumgit commented on #2549
@msbemba  Thank you very much for the contribution and sharing this explanation. @abhinandanmadaan Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-07 05:23] #2549 closed

[2020-08-07 05:28] yogkumgit commented on #2376
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @JDMEXOPRO
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-07 05:29] #2376 closed

[2020-08-07 05:43] yogkumgit commented on #2547
@fylo5 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to o

[2020-08-07 05:43] #2547 closed

[2020-08-07 06:14] DXL88 commented on #2544
Hi Sriraman,

Can you run "Get-AzureADDirectorySetting -Id $settingsObjectID"?

The issue I raised is not about cmdlet Get-AzureADDirectorySetting, it's about the -Id option which is not available (at least not available under tap completion)

From what I can see "Get-AzureADDirectorySetting -Id $settingsObjectID" is not working.

Regards
David
________________________________
From: Sriraman M S <

[2020-08-07 06:26] DXL88 commented on #2544
Hi guys,

I raised the issue when I saw it, but you just closed it without paying attention to the issue.

Disappointed to say the least.

David

Get Outlook for Android<https://aka.ms/ghei36>

[2020-08-07 10:56] abhinandanmadaan commented on #2549
![Issue](https://user-images.githubusercontent.com/36622007/89639118-a3b89d80-d8ca-11ea-9056-d3d8dbb3383c.png)
You can refer to this screenshot.

[2020-08-07 13:27] msbemba commented on #2544
@DXL88 I'm sorry about that. The cmdlet works without any issues. You can see the same from the below screenshot.

![image](https://user-images.githubusercontent.com/45987684/89650244-c43f2280-d8df-11ea-8c89-c91e3f2c6844.png)

If you are trying to run "Get-AzureADDirectorySetting -Id $settingsObjectID" without assigning value to $settingsobjectid it will not work. So use the script as-is.

Hope th

[2020-08-07 13:31] msbemba commented on #2549
@abhinandanmadaan This is strange as it should show up the info button. This is more an issue on your Azure tenant and there are no changes required in the document. I'd recommend you contact M365 support via the need help option in the admin center to sort this out.

![image](https://user-images.githubusercontent.com/45987684/89650619-5810ee80-d8e0-11ea-9e9a-faebed1371e5.png)

If there are any ot

[2020-08-07 13:48] groves226 commented on #2296
so I don't see the update in the document itself.. is the update still pending?
________________________________
From: Sriraman M S <notifications@github.com>
Sent: Monday, July 27, 2020 4:38 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: groves226 <groves226@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Requ

[2020-08-07 13:51] msbemba commented on #2296
@groves226 That is correct. The Document has been edited but waiting for authors' approval to get published. We will let you know once that happens.

CC: @yogkumgit
Thanks
Sri

[2020-08-07 15:49] andysalvadors opened #2560 "ccpa"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eac49698-fb03-c04b-e420-c7e54f8daa06
* Version Independent ID: b0202a29-7010-7689-0600-438b3da8bc2e
* Content: [California Consumer Privacy Act (CCPA) FAQ - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/ccpa-faq?v

[2020-08-07 16:44] JBHorne opened #2561 "Microsoft 365 Groups can now be used as Security Groups?"
Some sort of change was made recently in which new groups created as Microsoft 365 groups are also flagged as Security Groups. Any of our previous Office 365 groups are not. There is no indication on AAD that these new groups are also security groups, but it is clear if you download the Group CSV from AAD, or attempt to assign an app to a Microsoft 365 group. Previously, this was not possible and

[2020-08-07 17:55] sparkitect opened #2562 "Searchable Properties are now available?"
Unless it is still only in preview / target release, the functionality mentioned in the following sentence is now available:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef663fdc-1776-3c73-7743-332796c284e6
* Version Independent ID: ceb29788-39be-8c30-b92a-7a22243ebe83
* Content: [Create and configure retention polic

[2020-08-07 18:30] sparkitect opened #2563 "Query cannot make use of an Alias for "searchable properties""
In the section "Auto-apply labels to content with keywords or searchable properties" it (perhaps) should be noted that the _Alias_ for a Managed Property cannot be used in the query; it must be the **actual name** of the Managed Property (e.g. RefinableString01).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a4716f6-

[2020-08-07 19:07] DXL88 commented on #2544
Hi Sri,

The issue I see is that the cmdlet does not accept -Id as an option.

Regards

David

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sriraman M S <notifications@github.com>
Sent: Saturday, August 8, 2020 1:27:23 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: DXL88 <davidxinli@hotmail.com>; Mention <mention@norepl

[2020-08-07 19:14] denisebmsft commented on #2559
Hello @mempoweredau and thank you for posting your question. Can you please tell us to which article your feedback applies? This information will help us route the issue to the correct writer/team.

[2020-08-07 19:15] denisebmsft commented on #2558
Hello @MediumBrownToast. Thank you for posting your question. Can you please tell us to which article(s) your feedback applies? This information will help us route the issue to the correct writer/team. Thanks!

[2020-08-07 21:37] jess8bit opened #2564 "Creating Mailboxes on a new domain prior to change MX seems contradictory"
Hello,
not really an issue, more like a clarification or rephrasing?
About this:
`Make sure you've created mailboxes in Microsoft 365 for everyone who has email on your domain BEFORE you change the MX record.`
Here's my process:
step 1: Say I

1. have 1 user : emperor@palpatine.onmicrosoft.com
2. step 2: Now I add my new domain darkside.com
3. step 3: Now I

 can change the primary address to empe

[2020-08-07 21:47] kastman opened #2566 "Old link / missing content for "pilot Microsoft 365""
The link to FAQ with the text "You can take steps to pilot Microsoft 365 with just a few email addresses instead." doesn't actually have that relevant content. Has it been moved?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1394eba-4e78-2fd6-84f3-4ee64aedab51
* Version Independent ID: 0ba9ff8c-20a8-58a9-dce7-a3bb062

[2020-08-07 22:11] msbemba commented on #2544
@DXL88 Thank you for the response, David. The cmdlet does accept -id as a parameter.

![image](https://user-images.githubusercontent.com/45987684/89692107-697de900-d928-11ea-821e-64ab8adbb195.png)

![image](https://user-images.githubusercontent.com/45987684/89692125-77cc0500-d928-11ea-9c86-8a2982050719.png)

If the above script does not work for you and you think there are changes needed in the do

[2020-08-07 23:25] mempoweredau commented on #2559
Hi,

This is from the following article;

https://docs.microsoft.com/en-us/microsoft-365/enterprise/modern-desktop-deployment-and-management-lab?view=o365-worldwide

Thanks

Luke

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Denise Vangel-MSFT <notifications@github.com>
Sent: Saturday, August 8, 2020 5:14:39 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-36

[2020-08-08 01:28] mastood opened #2568 "Prerequisite section has wrong licensing"
This section on licensing/prerequisite section is wrong.  The following text needs to be updated with the correct licensing:

Every account that accesses and uses data classification must have a license assigned to it from one of these subscriptions:
Microsoft 365 (E5)
Office 365 (E5)
Advanced Compliance (E5) add-on
Advanced Threat Intelligence (E5) add-on

---
#### Document Details

⚠ *Do not edi

[2020-08-08 15:19] ilyapozharsky opened #2569 "ADD LINK text with no link."
Under this link. https://docs.microsoft.com/en-us/microsoft-365/compliance/insider-risk-management-policies?view=o365-worldwide#data-leaks-by-priority-users-preview

the first paragraph ends with "ADD LINK"  looks to be a mistake.

![image](https://user-images.githubusercontent.com/67023198/89713920-f8125a80-d968-11ea-9926-35b4705d1e30.png)

---
#### Document Details

⚠ *Do not edit this section.

[2020-08-08 16:00] ACarlockAKA opened #2570 "Section about exceptions"
I think you should add a section about exceptions.  There are times when you need to manually remove addresses, and that should be mentioned in this document.  After attempting these steps, I'm receiving this error message:

"The automatic remove process cannot be scheduled right now. This occurs if you are a partner managing a different account (currently not a supported scenario), the detected d

[2020-08-09 13:18] yogkumgit commented on #1939
@MaratMussabekov  Thank you very much for the contribution.  @elpinto007 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that

[2020-08-09 13:18] #1939 closed

[2020-08-09 13:23] yogkumgit commented on #2382
@MikePlumleyMSFT Do we have any response from PM. Please help. Thanks

[2020-08-09 13:39] yogkumgit commented on #2539
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @Chad-Campus Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-09 13:39] #2539 closed

[2020-08-09 17:31] EricaToelle opened #2571 "Content search can find Yammer content"
You can now use content search for Yammer content if Yammer is running in native mode. It might be good to add this information to the section "Using the Content Search eDiscovery tool to respond to DSRs". Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 632c11fa-8975-afd4-a050-7ff42ca3eb33
* Version Independe

[2020-08-10 03:11] MediumBrownToast commented on #2558
Hi @denisebmsft, thank you for your response. I have updated the original post with additional information and links to documents that may be relevant.

Thanks

[2020-08-10 03:22] Michael-Sampson opened #2572 "Direct message ancestors only?"
[Enter feedback here]
In the diagram of Thread1, if message2 matched the keyword and date range query, and this was added into a review set with conversation retrieval enabled, would message3 and message4 also be added to the review set, or only message1 (the direct ancestor)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-08-10 04:20] msbemba commented on #2210
@ragnarokas Thank you for your feedback. We have modified the document with the correct settings and the same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2573

Thanks
Sri

[2020-08-10 04:29] msbemba commented on #2218
@CalvinQuark Thank you for your feedback. If the option did not get presented then there could be an issue with the configuration. The document is up to date and no modifications needed as of now. You can contact M365 support via the need help option in Admin portal and get immediate support.

 I'd say there are other options to connect to your work or school by following the below

On Your info p

[2020-08-10 04:39] msbemba commented on #2237
@jawboston Thank you for your feedback. We have made changes to the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2574

Thanks
Sri

[2020-08-10 04:46] msbemba commented on #2238
@jgrisham Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2575. Once the author approves the same you will see the Note live.

Thanks
Sri

[2020-08-10 04:53] msbemba commented on #2560
@andysalvadors The FAQ seems to be up to date and in fact, we recently updated the document in March. Could you please clarify what exactly is missing or needs modification in the document?

Thanks
Sri

[2020-08-10 05:02] msbemba commented on #2562
@sparkitect Thank you for your feedback. The searchable properties are now available and we have updated the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2576

Thanks
Sri

[2020-08-10 05:17] msbemba commented on #2564
@jess8bit Thank you for your feedback. Are you referring to the document - https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/find-and-fix-issues?view=o365-worldwide ?

Make sure you've created mailboxes in Microsoft 365 for everyone who has email on your domain BEFORE you change the MX record means that after you verify your domain, change the primary address for all users

[2020-08-10 05:26] msbemba commented on #2569
@ilyapozharsky Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2577

Thanks
Sri

[2020-08-10 09:54] iaasazure opened #2578 "Phish clarification"
t is not clear what types of phish messages users can see and what they can do with them.

"Admins can also enable end-user spam notifications in anti-spam policies. Users can release quarantined spam messages but not quarantined phishing messages directly from these notifications. For more information, see End-user spam notifications in EOP.

Messages that were quarantined for high confidence phi

[2020-08-10 13:48] yogkumgit commented on #2218
@msbemba  Thank you very much for the contribution and sharing this explanation. @CalvinQuark Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-10 13:48] #2218 closed

[2020-08-10 15:09] yogkumgit commented on #2072
@markjjo Please help us and answer this issue. Thanks

[2020-08-10 15:12] yogkumgit commented on #2226
@lomayor  Please help us and answer this issue. Thanks

[2020-08-10 15:15] markjjo commented on #2072
Topic updated with info about eDiscovery hold on site documents. https://docs.microsoft.com/en-us/microsoft-365/compliance/create-ediscovery-holds?view=o365-worldwide#query-based-holds-placed-on-site-documents

[2020-08-10 15:15] #2072 closed

[2020-08-10 15:17] yogkumgit commented on #2316
@cabailey Please help us and answer this issue. Thanks  

[2020-08-10 15:20] yogkumgit commented on #2380
@markjjo Please help us and answer this issue. Thanks  

[2020-08-10 15:21] yogkumgit commented on #2426
@chrisda Please help us and answer this issue. Thanks  

[2020-08-10 15:22] yogkumgit commented on #2545
@KCCross Please help us and answer this issue. Thanks  

[2020-08-10 15:55] msbemba commented on #2559
@mempoweredau Thank you for your feedback. We checked the link again - https://www.microsoft.com/en-us/evalcenter/evaluate-lab-kit and found the lab guides.

![image](https://user-images.githubusercontent.com/45987684/89802874-b68fd400-db4f-11ea-9fe1-6e7510f7bfb6.png)

![image](https://user-images.githubusercontent.com/45987684/89802936-cb6c6780-db4f-11ea-9d42-51d6c0daccce.png)

@yogkumgit As such

[2020-08-10 16:04] msbemba commented on #2563
@sparkitect Thank you for your feedback. I have added a line to the document about this and can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2582

Thanks
Sri

[2020-08-10 16:08] markjjo commented on #2572
@Michael-Sampson The entire conversation thread will be added to the review set. So if if you add the search results to a conversation review set, all messages from the thread are added when one of those messages matches your search query. And you'll be able to view (and export) the threaded conversation and individual messages in the conversation.

Also, I believe that we use an 8-hour bookending

[2020-08-10 16:08] #2572 closed

[2020-08-10 16:09] msbemba commented on #2566
@kastman Thank you for your feedback. We have fixed this via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2583

Thanks
Sri

[2020-08-10 16:09] markjjo commented on #2572
@Michael-Sampson Also meant to add that I will look into adding the 8-hour bookending info to the documentation.

[2020-08-10 16:45] jaimeo commented on #2237
Per Microsoft Managed Desktop SME, the changes in 2574 are incorrect. Following up with them.

[2020-08-10 16:51] msbemba commented on #2570
@ACarlockAKA Thank you for your feedback. There are no exceptions as such, however if you receive any error during the removal process you can follow the link -https://docs.microsoft.com/en-us/office365/troubleshoot/administration/error-remove-domain-from-office-365 or contact Support. We have added this link to the document via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2584

Th

[2020-08-10 17:10] chrisda commented on #2578
@iaasazure, the 'review' vs. 'preview' thing is rather subtle. The intent was to say 'admins can do things to these messages' 'users can see the messages'.

I clarified the statements in the topics based on what you said.

Thanks for the feedback.

Closing

[2020-08-10 17:10] #2578 closed

[2020-08-10 18:37] dhilgarth commented on #2551
Please check https://cloud.sovarto.com/f/85e5739d22c7495181ba. It's a video that shows how I create the custom tile and how I am trying to pin it to the launcher

[2020-08-10 19:03] msbemba commented on #2551
@dhilgarth Thank you for your feedback and the effort in posting the video. I followed the document and was able to create a custom tile and pin it to the launcher, so there is no changes required in the document as of now. We are from the documentation team and unfortunately cannot troubleshoot. This issue relates more to your tenant and. I'd recommend you contact Microsoft 365 technical support

[2020-08-10 19:05] dhilgarth commented on #2551
@msbemba So from the video you saw that I did the right steps as intended by the documentation? If so, I agree, the documentation needs no change.

[2020-08-10 19:20] msbemba commented on #2551
@dhilgarth This could be a bug just on your tenant which can be fixed in the backend. As far as the document is concerned the steps work on multiple 365 tenants that I tested. As I said I'd recommend you contact Microsoft 365 technical support via the need help option in the admin center to troubleshoot and let us know.

Thanks
Sri

[2020-08-10 19:59] msbemba commented on #2568
@mastood Thank you for your feedback. For specific rights by license, see the detailed Microsoft 365 Compliance Licensing Comparison. (PDF - https://opdhsblobprod04.blob.core.windows.net/contents/e0993bf6e82e4fa8ac18b48839521869/2ce5e803079c3427c011efbce08b900a?sv=2018-03-28&sr=b&si=ReadPolicy&sig=KAG1lGSeWNpMVjfNAkfb1pKjGDpk8kuCyiMNPbZE%2BpA%3D&st=2020-08-10T19%3A40%3A49Z&se=2020-08-11T19%3A50%3A

[2020-08-10 20:20] Jens-Lorenz opened #2586 "Typo in available templates section"
In the section available templates under Global it lists "ISO 27001:2019" but it should be "ISO 27701:2019"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a406f24f-e0c1-9143-9130-ce0459a66235
* Version Independent ID: e040197a-12cc-281a-d75d-16395b24c46f
* Content: [Microsoft Compliance Score (preview) templates - Micr

[2020-08-10 20:37] chvukosw commented on #2586
Thank you - this will be corrected before the end of today.

[2020-08-10 20:37] #2586 closed

[2020-08-10 20:38] jess8bit commented on #2564
Oh!! Thank you so much for that precision.

As a matter of fact I had never realized it was actually possible to change the primary address as soon as right after the Verification step and before changing the MX record to point to 365!!

I thought you had to go through the whole Add your domain process to be able to change the primary address.

Also, does that mean I can simply have the domain Ver

[2020-08-10 20:46] msbemba commented on #2558
@MediumBrownToast Thank you so much for the feedback. We have updated all three documents via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2587 , PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2588, and PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2589

Thanks
Sri

[2020-08-10 22:16] msbemba commented on #2564
@jess8bit That is correct! You can verify the domain, Put the process on hold and/or migrate user accounts and Cutover MX at a later date.

Hope this helps!

@yogkumgit Question has been clarified and no changes required on the document. Please close the issue.

Thanks
Sri

[2020-08-10 22:17] chrfox commented on #2436
I am not aware of any language restrictions.  I have queried engineering and will update this topic as necessary

[2020-08-10 22:17] #2436 closed

[2020-08-10 22:31] SLeuthold commented on #2436
@chrfox thank you. I'll watch this thread. I see it is marked as closed, is that intentional?

[2020-08-10 22:32] jess8bit commented on #2564
Thanks for the quick reply, appreciate it!

Sorry if it was out of scope,

Have a great day,
J

From: Sriraman M S <notifications@github.com>
Sent: Monday, August 10, 2020 3:17 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: jess8bit <jess8bit@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Creating Mailboxes on

[2020-08-11 00:05] cabailey commented on #2316
@AndrewJolly & @yogkumgit You can leave this with me.  It's wording I inherited and I'm checking with engineering.  It seems "site collection" isn't the correct term to use with SharePoint but what I'm not sure about is whether the limit of 10 sites per policy means 10 site locations (where one SharePoint site can include subsites, if migrated from on-premises for example) or literally 10 sites ev

[2020-08-11 04:17] Michael-Sampson opened #2591 "Emptying SubstrateHolds folder?"
[Enter feedback here]
The section "Content paths for delete-only retention policy" includes this line: "If a user deletes the message from there [the SubstrateHolds folder] or empties the SubstrateHolds folder, the item is permanently deleted." What enforcement do you have to prevent this from happening under the other scenarios, please?

---
#### Document Details

⚠ *Do not edit this section. It

[2020-08-11 06:15] yogkumgit commented on #2559
@msbemba Thank you very much for the contribution and sharing this explanation. @mempoweredau Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 06:15] #2559 closed

[2020-08-11 08:26] yogkumgit commented on #2525
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @mdcaddic Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 08:26] #2525 closed

[2020-08-11 08:30] yogkumgit commented on #2312
@MaratMussabekov Thank you very much for the contribution and updating the documentation with PR. @SergGu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 08:30] #2312 closed

[2020-08-11 08:39] yogkumgit commented on #2551
@msbemba Thank you very much for the contribution and sharing this explanation. @dhilgarth Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 08:39] #2551 closed

[2020-08-11 08:49] yogkumgit commented on #2558
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MediumBrownToast Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 08:49] #2558 closed

[2020-08-11 08:53] yogkumgit commented on #2430
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @thecathcart Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 08:53] #2430 closed

[2020-08-11 08:56] yogkumgit commented on #2543
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @haoewqopi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 08:56] #2543 closed

[2020-08-11 09:01] yogkumgit commented on #2564
@msbemba Thank you very much for the contribution and sharing this explanation. @jess8bit Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 09:01] #2564 closed

[2020-08-11 09:13] yogkumgit commented on #2503
@msbemba Thank you very much for the contribution and updating the documentation with PR. @harp365 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 09:13] #2503 closed

[2020-08-11 09:33] yogkumgit commented on #2176
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @nogeekleftbehind Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-11 09:33] #2176 closed

[2020-08-11 09:57] 383apps opened #2593 "Needs to be updated"
Hi,
This page is out of date following the 16.07.20 ruling by the EUJC to say that the EU-US Privacy Shield is now invalid as the US does not secure their data significantly enough. How is Microsoft ensuring the data they transfer from EU to US is protected?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bf67c4b7-2382-

[2020-08-11 15:41] robmazz commented on #2569
@ilyapozharsky - thanks for your feedback, these changes were fixed in a separate update PR.

[2020-08-11 15:41] #2569 closed

[2020-08-11 17:27] Eric2XU opened #2594 "Factually incorrect"
the following phrase:

"These features are currently available in the English (United States) market for users with mailboxes in the US geo"

Its not true. It has NOTHING to do with Mailbox location. It is set based on "Usage Location" which is 'Location' under 'Licenses and Apps' in the O365 Admin UI OR can be found by using this command: Get-MsolUser -UserPrincipalName "User@domain.com" | fl Usa

[2020-08-11 20:33] cabailey commented on #2563
Yes, this clarifying detail is confirmed by engineering, I'll merge the PR.

[2020-08-11 20:33] #2563 closed

[2020-08-11 20:35] cabailey commented on #2562
Yes, confirmed by engineering.  I'll merge the PR.

[2020-08-11 20:35] #2562 closed

[2020-08-11 20:56] chrfox commented on #2471
its build 1809  and up, not sure 10.0.17134.1 is correct, this change was not merged into the documentation

[2020-08-11 20:56] #2471 closed

[2020-08-11 20:58] chrfox commented on #2486
@DeanGross - This topic is a highly structured reference topic, use it like a dictionary. A What's new section would required double listing or linking and doesn't fit with the topic.  This change was not merged into the topic.

[2020-08-11 20:58] #2486 closed

[2020-08-11 21:03] chrfox commented on #2538
updated

[2020-08-11 21:03] #2538 closed

[2020-08-11 21:04] chrfox commented on #2553
HI @ssccaavvookk  -
Thanks for your comment, service domains do not accept wildcards.

[2020-08-11 21:05] #2553 closed

[2020-08-11 21:09] chrfox commented on #2568
HI @mastood -  confirming licensing requirements with engineering and will update the topic as appropriate.

[2020-08-11 21:09] #2568 closed

[2020-08-11 21:28] msbemba commented on #2471
@DeanGross  The information has been updated in the Getting started document - https://docs.microsoft.com/en-us/microsoft-365/compliance/endpoint-dlp-getting-started?view=o365-worldwide

Hope this helps!

@yogkumgit  We can close this issue.

Thanks
Sri

[2020-08-12 00:02] julesb2018 commented on #2538
Thanks for the update - do you know when this will be published ?  Still seems to be older version - https://docs.microsoft.com/en-us/microsoft-365/compliance/create-test-tune-dlp-policy?view=o365-worldwide

[2020-08-12 04:22] Jimnar commented on #2546
@cabailey, thank you so much for the clarification. I think just making it a bit more clear in Docs would be a beautiful thing. Maybe take the text from your post and put it into the artilce:

It's not always possible to include a role from one admin center in the role group of another admin center. However, in this specific case, View-only Audit Logs from EAC can be assigned to a user as part of

[2020-08-12 10:25] ArttuArstila opened #2597 "Quarantine reason for anti-phishing?"
Various quarantine reasons are listed in the article. However they all seem to apply to EOP quarantine possibilities. What if O365 ATP Anti-Phishing Policy is configured with quarantine action, what is shown as the quarantine reason for those messages?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f14e1cc7-d9ef-c137-e

[2020-08-12 10:53] win2000b opened #2598 "Step 5"
Step 5 needs elaborating.

**Now you're ready to actually delete items in the Recoverable Items folder by using the New-ComplianceSearch and New-ComplianceSearchAction cmdlets in the Security & Compliance Center.**

You link to an article on the new commands. However this link does not detail how to use the new commands to only delete items in the recoverable items. I have been unable to find out

[2020-08-12 14:29] w0ut0 opened #2599 "No 'VIA' in the Outlook web app when the (spoofed) address is an office 365 group."
We have executed a phishing test in our company. The sender spoofed the sending email as IT@contoso.com.
At our company, we have an office 365 group called 'IT' (IT@contoso.com).

The signs to check for a spoofed message are described [here](https://support.microsoft.com/en-us/office/identify-suspicious-messages-in-outlook-com-and-outlook-on-the-web-3d44102b-6ce3-4f7c-a359-b623bec82206?ui=en-us&rs

[2020-08-12 16:33] EricaToelle opened #2601 "Microsoft 365 Groups Language is Misleading"
In the section "Configuration information for Microsoft 365 groups" it says "A retention policy applied to a Microsoft 365 group includes both the group mailbox and site. A retention policy applied to a Microsoft 365 group protects the resources created by a Microsoft 365 group, which **includes Microsoft Teams**."

The Microsoft 365 group location does not manage Teams Conversations, so this lang

[2020-08-12 17:13] cj8686 opened #2602 "Clarify policy processing"
Please clarify how policy processing works when there are multiple policies that apply to the same users/groups. Are they additive or will the first policy that matches (in order of priority) apply and only that policy?

One scenario to explain this might be if a customer needs to protect more than the max of 60 users per policy, they might create a second policy to capture the additional users. A

[2020-08-12 17:20] HarrisburgUSysAdmin commented on #2117
Case #:20330978 with Microsoft is still open.  Seems like a bug they may be trying to fix.

[2020-08-12 18:01] chrisda commented on #2602
@cj8686, according to [Order and precedence of email protection] (https://docs.microsoft.com/microsoft-365/security/office-365-security/how-policies-and-protections-are-combined), only the settings of first matched policy are applied. Policy processing stops after the first policy, so the settings aren't additive.

[2020-08-12 19:20] cabailey commented on #2546
@Jimnar  I'm pleased my clarification helped but I'm hesitant to put "It's not always possible to include a role from one admin center in the role group of another admin center" into this documentation.  That statement is true today but might not always be true, and I might not be informed of such a change.  Instead, I would rather keep this documentation focused on what to do, and the instruction

[2020-08-12 20:56] aszalacinski opened #2604 "This page is out of date with how Bluehost is currently setup now."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58d9b2b9-5fbf-0ecd-13f4-0de1613ca854
* Version Independent ID: ccfb9be8-b68a-e7a6-ddd6-18244005a090
* Content: [Create DNS records at Bluehost for Microsoft - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/dns/create-dns-rec

[2020-08-12 21:44] markjjo commented on #2598
@win2000b Thanks for question. Please see this github issue that offers a solution to do this: https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2434

The key is to use the script [in this topic](https://docs.microsoft.com/microsoft-365/compliance/use-content-search-for-targeted-collections?view=o365-worldwide) to get the folder id of the Recoverable items folder and then use that propert

[2020-08-12 21:44] #2598 closed

[2020-08-12 22:52] cabailey commented on #2316
@AndrewJolly  Now reworded as "Maximum of 10 auto-labeling policies per tenant, each targeting up to 10 sites (SharePoint or OneDrive)"  Hopefully that is clearer.  I'm told very few customers have subsites for SharePoint Online, but if they do and the top-level site is specified, it's the top-level site only that gets counted (while the subsites are still scanned). You will know when you have rea

[2020-08-12 22:52] #2316 closed

[2020-08-12 23:31] cabailey commented on #2591
@Michael-Sampson  Yes, this wording isn't quite right - leave it with me.  A standard user doesn't have access to the (hidden) SubstrateHolds folder, which is where the content in place data is stored.  So this sentence simply shouldn't be there.

[2020-08-12 23:31] #2591 closed

[2020-08-13 02:29] Michael-Sampson commented on #2591
Thanks, Carol. Sounded a bit weird when I read it.

[2020-08-13 04:24] Nick-Shortal opened #2605 "Can you specify more than one password with the password spray attack?"
[Enter feedback here]

With the password Spray attack is it possible to have more that one password supplied and if so how are these to be seperated?

Single spacing does not appear to work.  Nor does there appear to be an option to upload a list of common passwords to run as part of this simulation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2020-08-13 05:57] s0041464 opened #2606 "Microsoft 365 group expiration policy - retention policies"
I am trying to figure out how to restore a Microsoft 365 Group once it has reached 30 day expiry and a retention policy kicks in.
What is the retention container and how is it found?

"How expiry works with retention policies
If you have setup retention policy in Security and Compliance center for groups, expiration policy works seamlessly with retention policy. When a group expires, the group's c

[2020-08-13 13:35] Weychris opened #2607 "Warning at bottom needs to be worded"
Warning:

Passwords set to -PasswordPolicies DisablePasswordExpiration still age based on the pwdLastSet attribute. If you set the user passwords to never expire and then 90+ days go by, the passwords expire. Based on the pwdLastSet attribute, if you change the expiration to -PasswordPolicies None, all passwords that have a pwdLastSet older than 90 days require the user to change them the next tim

[2020-08-13 13:48] msbemba commented on #2237
@jaimeo let us know what you find from the SME's, I can update the licensing section accordingly.

Thanks
Sri

[2020-08-13 14:08] yogkumgit commented on #2501
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Moodjbow
Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-13 14:08] #2501 closed

[2020-08-13 15:45] jaimeo commented on #2237
Article was updated in https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2596

[2020-08-13 15:56] msbemba commented on #2237
Thank you @jaimeo. @jawboston The licensing section in the article is updated.

@yogkumgit We can proceed with closing this case as the document has been updated.

Thanks
Sri

[2020-08-13 16:17] chrisda commented on #2605
@Nick-Shortal, per the topic, for a password spray attack, you can only specify one password, but you can specify multiple accounts. If you want to try multiple passwords, use the Brute force (dictionary) attack:

[2020-08-13 19:07] msbemba commented on #2571
@EricaToelle Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2609

Thanks
Sri

[2020-08-13 19:10] msbemba commented on #2605
@Nick-Shortal Thank you for your feedback. As per the design and document you can only specify one password for multiple accounts if you are using a password spray attack.

Hope this helps!

@yogkumgit Please proceed with closing the issue as there is no changes needed in the document.

Thanks
Sri

[2020-08-13 19:26] msbemba commented on #2601
@EricaToelle Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2610. Once this is approved by the author this will be merged to the live document.

Thanks
Sri

[2020-08-13 20:10] msbemba commented on #2599
@w0ut0 Thank you for your feedback. This is not the expected behavior. I tested it and it does not look like this and shows the original email address in brackets both in outlook and OWA.

 I'd recommend you contact the support team via the Need help button on the admin center and report/troubleshoot this as there could be a bug. After troubleshooting, if you feel there is a modification needed in

[2020-08-13 21:24] elenaost opened #2611 "Image notation format in compliance/whats-new.md breaks localized images on live site"
The image notation in the following format breaks appearing of images on live pages in machine translated content. In some languages quotes get added to alt-text translations to support language grammar:
https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/compliance/whats-new.md:
:::image type="content" source="../media/mcc-records-management-page.png" alt-text="Records m

[2020-08-13 23:31] msbemba commented on #2597
@ArttuArstila Thank you for your feedback. It remains the same, as there are always 5 quarantine reasons regardless if it is ATP or EOP quarantining the message, they are

Policy

Bulk

Phish

Malware

Spam

High Confidence Phish

Hope this helps!

@yogkumgit No changes required in the document and this can be closed.

Thanks
Sri

[2020-08-14 05:02] ArttuArstila commented on #2597
Thanks for the reply! What are the exact reasons that are used by ATP? That is not documented anywhere.

[2020-08-14 08:41] kennethvs opened #2612 "Automatic Forwarding"
I noticed the new option "Automatic Forwarding" in the outbound spam filter policy.

Tried several settings, but none are effective - is this working yet? Also the explanation of what the "Automatic - System-controlled" (default) setting does, doesn't really make sense.

In the documentation now:  "Default setting that allows the system to control automatic forwarding with automatic forwarding dis

[2020-08-14 13:38] aldoug opened #2613 "Update request - Third Party Phishing Test Supportability"
Could we update the doc to advise that the DoNotRewrite list is the only supported method to be used when carrying out third party phishing tests with customers protected by O365 ATP / Safe Links policies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac84f75-b6d9-9495-873a-8f87b90b8034
* Version Independent ID: 1836

[2020-08-14 13:49] cj8686 commented on #2602
Thanks for coming back. That article you linked to appears to contain the info i was looking for. Since the original article discusses the priority of custom policies, it should either mention the 'combining' behaviour or reference to the other article, as without this context it is difficult to understand the policy behaviour.

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-se

[2020-08-14 15:00] yogkumgit commented on #2237
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @jawboston Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-14 15:00] #2237 closed

[2020-08-14 15:26] yogkumgit commented on #2605
@chrisda  Thank you very much for sharing this explanation. @Nick-Shortal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-14 15:26] #2605 closed

[2020-08-14 17:47] chrisda commented on #2602
@cj8686, OK. Done.

Thanks for the feedback.

Closing

[2020-08-14 17:47] #2602 closed

[2020-08-14 17:55] chrisda commented on #2613
@aldoug, done.

Thanks for the feedback.

Closing.

[2020-08-14 17:55] #2613 closed

[2020-08-14 19:51] msbemba commented on #2597
@ArttuArstila Thank you for your feedback. It is not mentioned because ATP and EOP use the same quarantine folder and the quarantine reasons remain the same except for the Transport rule which kicks in before ATP.

Thanks
Sri

[2020-08-14 21:16] msbemba commented on #2606
@s0041464 Thank you for your feedback. If you are looking for a way to restore an M365 group after its 30 day expiry period then it is not possible, however, you can use the discovery/content search to find the data associated with the group till its retention period (per policy set in the company).

Basically the principles of retention policy are that retention wins over deletion and in your cas

[2020-08-14 21:26] msbemba commented on #2594
@Eric2XU Thank you for your feedback. Sorry for what you had to go through in the past 5 weeks to get this information. I have added a link to find out the usage location via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2616

Thanks
Sri

[2020-08-14 21:51] bubbletroubles opened #2618 "Connect-MSCommerce - no option for passing authentication credentials"
In the cmdlet Connect-MSCommerce, the only valid parameters I can see are
- ClientId
- RedirectUri
- Resource

There is no parameter to pass credentials for sign in via scripts. This is important as we need to ensure this can be configured via automatic scripts.

How can the Connect-MSCommerce cmd be used via a script with no interactive log on? Sample script below fails

[code]

Script output is

[2020-08-14 22:54] msellar-inst opened #2619 "Orca report dosent reflect pre-set policies"
When running an ORCA report (https://www.powershellgallery.com/packages/ORCA/1.9.11) pre and post applying the Strict EOP/ATP pre-set policies (https://security.microsoft.com/presetSecurityPolicies) there is no change in the ORCA report. It is unclear whether the recommend settings have been applied or not?
(https://docs.microsoft.com/en-nz/microsoft-365/security/office-365-security/recommended-se

[2020-08-14 23:25] cabailey commented on #2601
@EricaToelle Clarified to now say "A retention policy applied to a Microsoft 365 group includes the group mailbox and teams site, if a teams site was selected at the time the group was created or later added to the group. Files stored in the teams site are covered with this location, but not Teams chats or Teams channel messages that have their own retention policy locations."

[2020-08-14 23:25] #2601 closed

[2020-08-15 00:34] chrisda commented on #2612
@kennethvs, per Message Center post MC218984 and <https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=63831>, this feature is coming in September. The settings are currently available, but aren't enforced.

I'm in the process of updating the topic accordingly. I, too, would like to know the difference between **Off** and **Automatic**. My guess is that **Automatic** allows a

[2020-08-15 00:34] #2612 closed

[2020-08-15 00:39] chrisda commented on #2599
@w0ut0, definitely open a a support case, which will get the attention of the product team. I'm told that it's supposed to work in OWA.

[2020-08-15 05:08] andypunt commented on #2619
The Preset Security Policies and the ORCA report are somewhat different tools. The Preset Security Policies are pre-canned policies that already meet the recommendations so those policies should never show up in ORCA or Config Analyzer (upcoming feature release that will essentially be ORCA in the service). ORCA on the other hand analyzes all of the policies that are found and will return recommen

[2020-08-15 16:48] magonzalezm opened #2621 "There is no step 3."
There is no step 3, between 2 and 4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac69-134d-0198-fcb9-e19d1ed44d4b
* Content: [Manage who can create Microsoft 365 Groups](https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-group

[2020-08-16 00:45] msellar-inst commented on #2619
My requirement is to know that settings are set or to be able to show a client an (ORCA) report showing this.
The MS steps for proving settings are difficult: https://docs.microsoft.com/en-nz/microsoft-365/security/office-365-security/preset-security-policies?view=o365-worldwide#how-do-you-know-these-procedures-worked

Once Preset policies are applied, they seem to only mostly show in Orca, for ex

[2020-08-16 11:03] Bertug opened #2622 "Outdated Content"
Pictures are blurry. Content is outdated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89aaa2af-ba47-4e6f-60f3-1b0b95df35f9
* Version Independent ID: 8495bb4c-045a-5085-64d9-1b9ae788cfdb
* Content: [Views in Threat Explorer and real-time detections - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security

[2020-08-16 15:30] pmeuser opened #2623 "Additional CA policy required to enforce restrictions for unmanaged devices?"
I have followed the guide to run through some tests in my lab, but any restriction settings (block, web only) to access from unmanaged devices was ignored.

Is it possible, that an additional step is required to create a cond. acc. policy  with session control to "use app enforced restrictions" for SharePoint online?

Thanks a lot for clarifying and eventually extending the documentation.

Peter

[2020-08-16 17:35] SjoerdV opened #2624 "No Disconnect cmdlet"
I would appreciate a Disconnect cmdlet, so gracefully unloading the module and removing it completely from a system when finished running commands in the same sessions is possible. The thought of having this module on my or any other system longer than necessary makes me nervous.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-17 03:19] s0041464 commented on #2606
Thank you this is what I suspected (the use of eDiscovery) however I was confused by the use of the term “retention container”.

[2020-08-17 05:27] ArttuArstila commented on #2597
I understand what you are saying, but mapping ATP actions to quarantine reasons in documentation would be extremely helpful. For example "ATP user impersonation with quarantine action results in phish reason in quarantine" etc. This is now missing.

[2020-08-17 13:42] yogkumgit commented on #2606
@msbemba Thank you very much for the contribution and sharing this explanation. @s0041464 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-17 13:42] #2606 closed

[2020-08-17 13:54] yogkumgit commented on #2599
@msbemba  Thank you very much for the contribution and sharing this explanation. @w0ut0 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is req

[2020-08-17 13:54] #2599 closed

[2020-08-17 14:00] ZainIbnShamsher opened #2625 "Content missing from the Document."
Hello There,

I am working on an Express Route issue and was referred to the article: https://docs.microsoft.com/en-gb/microsoft-365/enterprise/routing-with-expressroute?view=o365-worldwide

When I went to the article's Selective Routing with Express Route section, I found the option I was looking for:
_PAC files/URLs - directing Office 365 destined network traffic for specific FQDNs to route on a

[2020-08-17 14:40] mol opened #2626 "Add Mailbird to the list of clients that supports Modern Authentication"
On the page is listed a range of clients/services that supports Modern Authentication.

[Mailbird](https://www.getmailbird.com/) is one such email client and we would love to be added to the list if at all possible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9b91bd7f-7001-8c42-1861-9a62cccbf001
* Version Independen

[2020-08-17 15:33] arunkumar4003 opened #2627 "what are the certain scenarios when we see traffic on vpn adapter even if split tunnel is configured for deny the office365 data?"
[Enter feedback here]
https://docs.microsoft.com/en-us/microsoft-365/enterprise/microsoft-365-vpn-implement-split-tunnel?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61b783ee-9449-56db-3abd-f17dcf6b5d54
* Version Independent ID: d2146ff5-4248-12ec-a873-c951220aaa14
* Content: [Implementing VPN spl

[2020-08-17 16:43] cmcatee-MSFT commented on #2624
@SjoerdV Thanks for the feedback! I have forwarded your comments to the product team for consideration.

[2020-08-17 16:43] #2624 closed

[2020-08-17 17:04] andypunt commented on #2619
I am not able to access your screenshots. Either way, it ay be better to get a case opened with Support to go through these questions. Thanks.

[2020-08-17 18:14] GaneshPrabuBaburaj commented on #2382
Hi @yogkumgit  @MikePlumleyMSFT , Its almost a month, still the article is not updated. Have raised the suggestion just to ensure no one Should mislead by the incorrect information. But still for some reason this is not approved yet! Please check and close this issue. Let me know if you need any information from my side. Thanks!

[2020-08-17 18:30] akklaw opened #2629 "How to enable the S/MIME on a computer without joining domain or Azure AD?"
[Enter feedback here]
I am trying to get a computer working with S/MIME on Chrome and Edge, but my computer is not joining any domain.  What should I do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e4e106b4-4d03-6027-39ed-711e3949aef8
* Version Independent ID: ff0ca4b3-2583-51dc-24ce-ac4cfaa12eb0
* Content: [Configu

[2020-08-17 18:48] ds6 commented on #799
@michaelcurnutt Is there any plan for this any time soon? I have a unified single shell for all 365 realms whereby I pass credentials to each service, and having to log in more than once is at least mildly annoying.

[2020-08-17 20:11] JoeDavies-MSFT commented on #2626
@mol This page lists Microsoft-provided clients and cloud services that support Modern Authentication. It is not intended to list clients and cloud services for other software providers. Sorry.

[2020-08-17 20:11] #2626 closed

[2020-08-17 20:38] JoeDavies-MSFT commented on #2625
@ZainIbnShamsher This has been fixed. Sorry about the inconvenience. Thanks so much for letting us know.

[2020-08-17 20:38] #2625 closed

[2020-08-17 20:42] JoeDavies-MSFT commented on #2621
@magonzalezm This is in the publishing pipeline to be updated and published today. Thanks so much for letting us know.

[2020-08-17 20:42] #2621 closed

[2020-08-17 21:11] msellar-inst commented on #2619
I checked my links in Private browsing windows in FF and Edge and they opened? if clicking link doesnt work, perhaps cut n paste URL?

[2020-08-17 21:30] andypunt commented on #2619
The Preset Security Policies does not cover Outbound spam policy in its current iteration. Otherwise, the Safe Attachments setting should be on. If you do not see that, you will need to open a service ticket from the portal to get it looked at. This forum is to discuss documentation questions. Thanks.

[2020-08-18 02:48] cabailey commented on #2623
@pmeuser For the unmanaged devices option, we have on this page: "For unmanaged devices (https://docs.microsoft.com/en-us/sharepoint/control-access-from-unmanaged-devices), allow full access, web only access, or block access completely. If you have configured this setting at the tenant level or for a specific site, the setting you specify here will be applied only if it's more restrictive."

If yo

[2020-08-18 02:48] #2623 closed

[2020-08-18 08:39] LaPhi opened #2638 "eDiscovery - Export Content Search results - Skipped Items"
_**Skipped Items** When you export search results from SharePoint and OneDrive for Business sites, the export will usually include a skipped items report (SkippedItems.csv). The items cited in this report are typically items that won't be downloaded, such as a folder or a document set. Not exporting these types of items is by design. For other items that were skipped, the 'Error Type' and 'Error D

[2020-08-18 09:43] soriyath commented on #592
I can confirm that Office 365 added my IP address to their Deny list for no reasons at all (it works perfectly with other mail providers).
I can also confirm that on August 18 they still send bad emails that don't pass basic spam filters.

excerpt from my logs:
[code]

You see the line stating "microsoft.com fail": the Delist tool is sending email that can't pass the spam filters...

[2020-08-18 14:59] yogkumgit commented on #2594
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @Eric2XU Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 14:59] #2594 closed

[2020-08-18 15:21] yogkumgit commented on #2521
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @bigttys0 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:21] #2521 closed

[2020-08-18 15:25] yogkumgit commented on #2190
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @andypituch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:25] #2190 closed

[2020-08-18 15:28] yogkumgit commented on #2110
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @hobbsenigma Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:28] #2110 closed

[2020-08-18 15:30] yogkumgit commented on #2483
@msbemba Thank you very much for the contribution and updating the documentation with PR. @egdeeptha Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:31] #2483 closed

[2020-08-18 15:35] yogkumgit commented on #2369
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MPenny-nCipher Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:35] #2369 closed

[2020-08-18 15:37] yogkumgit commented on #2428
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @LFAdmin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:37] #2428 closed

[2020-08-18 15:42] yogkumgit commented on #1434
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @handattu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:42] #1434 closed

[2020-08-18 15:54] yogkumgit commented on #1259
@msbemba Thank you very much for the contribution and updating the documentation with PR. @andypituch Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:54] #1259 closed

[2020-08-18 15:56] yogkumgit commented on #2243
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @npherson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-18 15:56] #2243 closed

[2020-08-18 22:33] markjjo commented on #2638
@LaPhi Can you please add a little more detail about what you're looking for and how it's related to skipped items? What details are you looking for? What exactly are the questions about this that you're receiving from Lawyers/Auditors? Is there an expectation that an empty folder from a doc library should be exported?

[2020-08-18 22:35] markjjo commented on #2638
@laphi Also, since your are internal Microsoft, you can send email directly to me about this issue.

[2020-08-18 22:57] PowerShellPat-MYOB opened #2642 "Insert notes for hyperlinks not working"
When navigating to hyperlinks in important sections, the pages are not found:

![image](https://user-images.githubusercontent.com/61482500/90573555-0b8bb400-e1fa-11ea-9fbc-afd6fb7c4cdf.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2a332c-34ed-49fd-519a-4df38e9f4f60
* Version Independent ID: 19968ae0-b43e-d02d-f

[2020-08-19 03:56] gregbnz opened #2643 "Change default action for "Anti-ransomware rule: warn users" from Notify to Prepend a Disclaimer"
Setting the "Notify" action for the transport rule "Anti-ransomware rule: warn users" results in double-up emails that confuse recipients and do not provide a clear message about the action required.

Instead, I would recommend this is changed to "Prepend a Disclaimer" so that the warning is stamped onto the original email message, making it clear what content the warning applies to, and providing

[2020-08-19 09:43] Ronsss opened #2644 "Add notes on moving OneNote files"
Add information about moving OneNote files.  One person noted that the OneNote importer app did not work for them in a business account
https://answers.microsoft.com/en-us/msoffice/forum/all/migrating-one-note-from-a-private-microsoft/53444b35-1519-45c2-ac3d-facbdd314ded

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b

[2020-08-19 10:39] stephent122 opened #2645 "Finding the products one user has licensed with Powershell"
As an administrator I would like to find out what products a user has licensed not what products are available on the tenant.

A code example to do that would be welcome particularly since matching short codes to products is a opaque process with what appears to be unnecessary complexity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-08-19 12:34] yogkumgit commented on #2210
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @ragnarokas Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-19 12:34] #2210 closed

[2020-08-19 12:38] yogkumgit commented on #2238
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @jgrisham Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-19 12:38] #2238 closed

[2020-08-19 12:41] yogkumgit commented on #2566
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @kastman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-19 12:41] #2566 closed

[2020-08-19 12:51] yogkumgit commented on #2604
@pebaum Please reply and help us in resolving this issue. Thanks.

[2020-08-19 12:59] yogkumgit commented on #1998
@KCCross  Please help us and answer this issue. Thanks

[2020-08-19 13:03] yogkumgit commented on #2319
@dariomws  Thank you very much for your initiative. @laughingman42  We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2020-08-19 13:03] #2319 closed

[2020-08-19 13:18] yogkumgit commented on #2560
@msbemba Thank you very much for the contribution.  @andysalvadors We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valua

[2020-08-19 13:18] #2560 closed

[2020-08-19 13:42] msbemba commented on #2597
@ArttuArstila I'm checking this with Author and will update you shortly.

[2020-08-19 14:29] yogkumgit commented on #1879
@kaarins This is a gentle reminder, please help us by adding the required information. Thanks

[2020-08-19 16:46] DeanGross opened #2648 "Permissions for Compliance Center"
[Enter feedback here]

This pages is focused on the old Security and Compliance center at protection.microsoft.com. Please provide a similar page that is focused on the Compliance center at compliance.microsoft.com
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99e7332f-6c1d-19cf-dc71-4cebaa93c1cc
* Version Independent

[2020-08-20 04:27] PeteHaigh-MSFT opened #2653 "Please remove obsolete SEEmail document/link"
[Enter feedback here]
This doc is old and inaccurate - please delete the line:

**Office 365: SEEMail Integration and Reference Architecture (additional Microsoft NZ guidance on cloud service adoption)**

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50e44739-0adf-8948-9527-c8d8b3bddf03
* Version Independent ID: eb4ab4

[2020-08-20 04:54] crshovrd41 opened #2654 "Confusing and contradictory statements"
Hi,

This paragraph contains contradictory statements:
"**_Users can't open encrypted files using Office on the web_**. When sensitivity labels for Office files in SharePoint and OneDrive are enabled, **_users can use Office on the web to open encrypted files_**, with some limitations that include encryption that has been applied with an on-premises key (known as "hold your own key", or HYOK), dou

[2020-08-20 04:59] bitn-rc commented on #1899
Thanks @mypil it did answer it, however, I did have an update question to this that @MaratMussabekov may be able to answer.

So in a scenario where a Windows 7/8 user has Busines Premium and we want to get them to Windows 10, is the correct process for us to install Windows 10 Pro using the Microsoft provided ISO and then we login to Windows with the users 365 account? Or do we just enter the old

[2020-08-20 06:07] MaratMussabekov commented on #1899
Hello @bitn-rc ,
Second option would work as well. There is no requirement to login using M365 account
Thank you

[2020-08-20 06:56] w0ut0 commented on #2599
Thank you all for your feedback @msbemba @chrisda @yogkumgit, I opened the support case (office 365 support #21395898).

The support agent escalated the issue and got back to me with the message that OWA is not designed to show the 'via' address on spoofed emails??

`Hello Wout,

Thank you for your time and patience with us.

As informed, OWA will not show up the information as showing in the Outl

[2020-08-20 08:29] w0ut0 commented on #2599
Update, the documentation I supplied, only applies to Outlook on the web Outlook.com Outlook on the web for Exchange Server 2016. Not to office 365 OWA.

The functionality is not supported, I created a uservoice suggestion:
https://office365.uservoice.com/forums/289138-office-365-security-compliance/suggestions/41192461-show-the-via-option-for-spoofed-email-adresses

There is already an existing s

[2020-08-20 13:06] msbemba commented on #2645
@stephent122 Thank you for your feedback. This document is more specific to Microsoft 365 licenses and services available in the tenant. For powershell cmdlets on checking this for individual accounts, Please Visit https://docs.microsoft.com/en-us/microsoft-365/enterprise/view-account-license-and-service-details-with-microsoft-365-powershell?view=o365-worldwide

You can use these commands to list

[2020-08-20 13:48] msbemba commented on #2642
@PowerShellPat-MYOB THank you for your feedback. We have made changes to the document by fixing the links via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2655

Thanks
Sri

[2020-08-20 13:55] msbemba commented on #2629
@akklaw Thank you for your feedback. Please note that it is a prerequisite to have a domain-joined machine to be able to use S/MIME on chrome and/or Edge.

Considerations for new Microsoft Edge (Chromium-based) -
https://docs.microsoft.com/microsoft-365/security/office-365-security/configure-s-mime-settings-for-outlook-web-app?view=o365-worldwide#considerations-for-new-microsoft-edge-chromium-base

[2020-08-20 14:48] msbemba commented on #2611
@elenaost Thank you for your feedback. We have made changes to the document image notation via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2656

Thanks
Sri

[2020-08-20 15:06] tfurstms opened #2657 "Date on File Protection Solutions in Office 365 PDF"
Hello - The PDF for the "File Protection Solutions in Office 365" has a 2017 year in the footer of the document. The content in the PDF appears to be current but people have asked if this is a current/latest revision of the document. Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cc5a37de-78a2-8e22-835f-24ad

[2020-08-20 15:11] tfurstms opened #2658 "PDF for Identity and device protection for Office 365 and File Protection Solutions in Office 365"
Hello - Looking to confirm that the PDFs on this page for "Identity and device protection for Office 365 " for the "File Protection Solutions in Office 365" are the latest versions.

- "Identity and device protection for Office 365" has 2018 year in the footer of the document.
- "File Protection Solutions in Office 365" has 2017 year in the footer of the document.

The content in both PDFs appear

[2020-08-20 15:12] tfurstms commented on #2657
Opened a separate issue to cover 2 similar issues. Closing this one - Thanks!

[2020-08-20 15:12] #2657 closed

[2020-08-20 15:42] tfurstms opened #2659 "Adding Endpoint DLP to this page"
Hello - This page is a great overview of what is possible. As of 8/20/2020, Endpoint DLP is in preview but it would be great to see it called out on this page. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 675e8944-c870-cf62-b324-e3a2876c8e27
* Version Independent ID: 40f60c6b-0258-f0f0-3294-609e78ae8a4e
* Con

[2020-08-20 16:27] cabailey commented on #2654
@crshovrd41 The quoted text isn't a standalone paragraph.  The full context from this list is: "If your organization hasn't enabled sensitivity labels for Office files in SharePoint and OneDrive: ...Users can't open encrypted files using Office on the web."  Followed by, "When sensitivity labels for Office files in SharePoint and OneDrive are enabled, users can use Office on the web to open encryp

[2020-08-20 16:27] #2654 closed

[2020-08-20 16:44] msbemba commented on #2653
@PeteHaigh-MSFT Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2660 and Once the author approves and merges the PR the document will be modified.

Thanks
Sri

[2020-08-20 16:48] markjjo commented on #2380
@SeCossio Thanks for feedback. Good point. The reason that deleting items in SP and OD really isn't discussed is because the New-ComplianceSearchAction -Purge command only deletes mailbox items. I'll look into adding something about SP and OD and link to the GDPR topic that I mention below.

Until then, we do document this process in the context of deleting data in response to a GDPR data subject

[2020-08-20 16:48] #2380 closed

[2020-08-20 18:28] richpi opened #2661 "Deadish link"
Azure PCI DSS 3.2.1 Responsibility Matrix link fails (links to technet page)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 38b95bd5-5663-90ab-f902-bab7887e4489
* Version Independent ID: 28d8c81c-5e29-b300-5b23-137e9692940e
* Content: [Payment Card Industry (PCI) Data Security Standard (DSS) - Mi

[2020-08-20 18:38] chrisda commented on #2177
@Rainmaker52, topic updated as you described.

Thanks for the feedback.

Closing

[2020-08-20 18:38] #2177 closed

[2020-08-20 19:01] abdielnino opened #2662 "*.outlook.office.com is listed on ER Yes and ER No"
Please verify the end point: *.outlook.office.com, it is really under ER or not?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP address ranges - Microsoft 365 Enterprise](https://docs.m

[2020-08-20 19:09] Kateyanne commented on #2109
Per Chris Davis: Go ahead and close with the comment: We’ve asked the Teams writers to note this issue in their content.

[2020-08-20 19:10] Kateyanne commented on #2117
Per Chris Davis: Although the guys aren’t answering directly, I spoke with them in passing about it several weeks ago, and they said the topic is correct as written.

[2020-08-20 20:53] bitn-rc commented on #1899
Awesome thanks @MaratMussabekov for confirming.

[2020-08-21 08:40] yogkumgit commented on #2645
@msbemba Thank you very much for the contribution and sharing this explanation. @stephent122 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-21 08:40] #2645 closed

[2020-08-21 08:45] yogkumgit commented on #2629
@msbemba  Thank you very much for the contribution and sharing this explanation. @akklaw Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-21 08:45] #2629 closed

[2020-08-21 08:57] yogkumgit commented on #2418
@msbemba Thank you very much for the contribution and updating the documentation with PR. @imanboukly Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-21 08:57] #2418 closed

[2020-08-21 09:15] Sizzl opened #2667 "M365 Endpoint DLP license clarification"
Ref SKU/subscriptions licensing: Could we please qualify whether the Endpoint DLP item granted within Compliance / Information Protection and Governance SKUs would be in addition to a SKU that grants Defender ATP in the first place?

Naturally this doesn't need qualification with the M365 A5/E5 bundle, but Defender ATP isn't present in the Compliance / IPG SKUs, and with the exception of reference

[2020-08-21 20:16] djtrustgod opened #2671 "Specify Stream in Mult-Geo 365 capabilites"
Stream is not listed in the Microsoft 365 Multi-Geo capabilities.  Stream either does or does not have Multi-Geo capabilities.  Please indicate this in the Multi-Geo documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b890c9af-0bab-84c6-8b9d-1ee93cb4683f
* Version Independent ID: 98fddfad-754b-ef65-7f5f-5f8bd

[2020-08-23 06:41] emwes opened #2672 "Hi! The 365 Usage Analytics is good! But the docs is not correct I think?"
The description of the underlying dataset - accessible as an Odata resource at 'https://reports.office.com/pbi/v1.0/<tenantid> - is wrong:
It lists 11 data tables, it's only 10 today?  The table below is not in the dataset anymore, is it?

Tenant Office Licenses
------------------------
Contains data about number of Microsoft Office   subscriptions assigned to users
--
Contains end-of-month state

[2020-08-24 00:07] dofzin opened #2673 "Unclear what happens to user data when new subscription has same or more services"
While it's reasonable that user data will be deleted when a subscription ends, this article is not at all clear about what happens when the subscription expiration is due to moving from one subscription tier to another when the new tier provides the user with the same (or more) services. For example, if a user is switched from Microsoft 365 Business Basic to Microsoft 365 Business Standard (or fro

[2020-08-24 12:54] yogkumgit commented on #2653
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PeteHaigh-MSFT Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-24 12:54] #2653 closed

[2020-08-24 13:00] yogkumgit commented on #2607
@msbemba Thank you very much for the contribution and sharing this explanation. @Weychris Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-24 13:00] #2607 closed

[2020-08-24 16:01] RowanAdvisors opened #2675 "Office 2013 Modern Auth Failing"
I've setup the registry values as indicated in the article, but Modern Auth is failing back to basic auth.  The modern auth dialog pops up, but after entering an email address to login the basic authentication window pops up.  No error is displayed and fiddler doesn't report any http errors.

This is happening for both a standard release and targeted release tenant.

---
#### Document Details

⚠ *

[2020-08-24 20:23] msbemba commented on #2648
@DeanGross  While the PR was merged. The Author thinks t  we likely need a new and separate page for granting permissions to the Security Center and also the Compliance Center, and we can cross-link between them all. That way, when the Security & Compliance Center ultimately goes away, we can just eliminate the topic without any impact on the Security Center or Compliance Center topics. You will s

[2020-08-24 21:42] denisebmsft commented on #2093
Hello @NikhilMhatre09 and @yogkumgit. I have been in conversation with our product team and they assure me that the current documentation (such as this article https://docs.microsoft.com/en-us/office/office-365-management-api/office-365-management-activity-api-schema) is up to date. If you continue to have trouble with this, please open a service ticket and let me know. Thanks!

[2020-08-24 21:42] #2093 closed

[2020-08-24 22:36] jmuehlenbein opened #2677 "From where can one access the audit reports?"
I've tested enabling auditing as an Information Management Policy but cannot figure out where to access the resulting audit reports. Can you please clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b270c9f7-c829-a6ac-0390-59d43d87a2e8
* Version Independent ID: 8a03f50c-78c4-75cf-7117-b27fbda09d3f
* Content: [Crea

[2020-08-25 02:44] anthonychung14 opened #2678 "Opening app links (not http/https) on a mobile device"
We've implemented a user flow that takes the user from their email client into their mobile app.

Tapping the link within the email opens a browser window that then attempts to open a location such as `app://`

While `app://` might be registered on the device, we've noticed ATP blocking this request from ever completing.

This [part of the docs](https://docs.microsoft.com/en-us/microsoft-365/secur

[2020-08-25 03:55] brettr-TSF opened #2679 "Microsoft why do I need to signup to yet another site, login, etc with your Sharepoint help? Anyway, at long last a clear set of instructions. Just stop users having to access a million sites to get information please."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cb311ed9-a649-8f67-51ea-3789ad914b00
* Version Independent ID: 165a9d7e-25e6-d5e5-d960-acaa675e4400
* Content: [Collaborate with guests in a site](https://docs.microsoft.com/en-us/microsoft-365/solutions/collaborate-in-site?view=o365-worldwide)
* Cont

[2020-08-25 13:01] DeanGross commented on #2648
Thanks, I agree, the permissions for these centers are very complicated and anything that can be done to simplify the instructions will be greatly appreciated.  It would be very helpful if there was consistent use of security trimming, sometimes we can attempt to do something only to find out when we get to the Save step that we don't have the right role assigned and the messages do not always cle

[2020-08-25 13:19] yogkumgit commented on #2648
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-25 13:19] #2648 closed

[2020-08-25 14:41] busyb0x commented on #630
Hi @SeaDude Did you get any response to this from Microsoft?

Appreciate your response. Thanks

[2020-08-25 16:18] markjjo commented on #630
@busyb0x FYI that NT Authority\System is a system account and often performs admin tasks on behalf of your org to maintain your cloud-based tenant. System accounts are briefly documented: "[UserID field: The user who performed the action (specified in the Operation property) that resulted in the record being logged. Audit records for activity performed by system accounts (such as SHAREPOINT\system

[2020-08-25 16:28] msbemba commented on #2679
@brettr-TSF Thank you for your feedback. Can you elaborate on which part of this document that you need information or modification to be done?

Thanks
Sri

[2020-08-25 16:32] msbemba commented on #2678
@anthonychung14 Thank you for your feedback. Can you provide more details on which document that you referring to?

In general, I would suggest disabling scanning URLs or allow URLs to pass through that come from a particular domain.

Thanks
Sri

[2020-08-25 16:40] msbemba commented on #2677
@jmuehlenbein Thank you for your feedback. We have the Audit logs reports covered in other documents like the below as this one pertains to only Creating  and applying information management policies

Auditing reports -   https://docs.microsoft.com/en-us/microsoft-365/compliance/reports-in-security-and-compliance?view=o365-worldwide#auditing-reports

Search the audit log in the Security & Complian

[2020-08-25 16:40] GitRomney opened #2681 "Easier way to resolve the problem listed in troubleshooting section"
The solution to the problem noted on this page points to Configuration Manager documents and is super complicated. Isn't really relevant for most admins. Instead, running the following three commands is a much easier way to resolve the error by upgrading to TLS 1.2:

PS C:\> [Net.SecurityProtocolType]

PS C:\> [System.Net.ServicePointManager]::SecurityProtocol

PS C:\> [System.Net.ServicePointMana

[2020-08-25 16:43] msbemba commented on #2675
@RowanAdvisors Thank you for your feedback. I tested it on an Office 2013 standard release and I was able to get the modern auth Pop-up. Hope you have the below registry key set to 1
HKCU\SOFTWARE\Microsoft\Office\15.0\Common\Identity\EnableADAL

If the registry key is set correctly, I'd recommend you contact Microsoft support Via the need help option in the M365 Admin center.

@yogkumgit There ar

[2020-08-25 17:16] msbemba commented on #2673
@dofzin Thank you for your feedback. We have made changes to the document by adding a note. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2682

Thanks
Sri

[2020-08-25 17:39] anlorint opened #2683 "Microsoft 365 Apps usage report - data does not cover up to the last 24 to 48 hours"
Dear Team,

The official article below states the following: "The data in each report usually covers up to the last 24 to 48 hours."
However, based on what we've noticed in the past weeks, the Microsoft 365 Apps usage report gets updated only once per week, on Tuesdays.
For example, today it shows the _data as of: Tuesday, August 18, 2020 (UTC)_
I would like to understand if there is an issue with

[2020-08-25 17:42] TimAbmgf opened #2684 "Limitation should be explained"
When I add 2 domains, the 1st = https://domain.com. While adding the 2nd domain http://domain.com.
The 1st entry is removed and replaced with the non S version of the URL.
also vice versus; if I add the non S 1st and then the HTTPS sencond, the non S disappears being replaced with the S version.

I see on this site the example of **asterics**.contoso.com/**asterics**
if this is the intent to cover

[2020-08-25 17:44] robmazz commented on #2661
@richpi - thanks for the feedback. Link updated to Azure Blueprint for PCI-DSS 3.2.1 (https://docs.microsoft.com/azure/governance/blueprints/samples/pci-dss-3.2.1/).

[2020-08-25 17:44] #2661 closed

[2020-08-25 17:47] robmazz commented on #2571
@EricaToelle - thanks for the feedback, will confirm through GDPR CELA process and incorporate as appropriate.

[2020-08-25 17:47] #2571 closed

[2020-08-25 17:51] TimAbmgf commented on #1588
![image](https://user-images.githubusercontent.com/39526641/91209607-d92dfb00-e6c0-11ea-8f6a-e1aadc6f1a6b.png)
hopefully the screenshot I tried to post shows the 3 items I mentioned

[2020-08-25 17:52] TimAbmgf commented on #1588
this screenshot shows being in the retention tags section

![image](https://user-images.githubusercontent.com/39526641/91209719-0084c800-e6c1-11ea-869c-a5e559c71c46.png)

[2020-08-25 17:52] TimAbmgf commented on #1588
I know this item was closed (probably due to my late reply); please see my screenshots.

[2020-08-25 18:00] robmazz commented on #2593
@383apps - thanks for the feedback, I'm checking with our legal review folks for an answer on the EU-US Privacy Shield Framework. I hope to have an answer in a week or two (holidays for a lot of the reviewers in August).

[2020-08-25 18:00] markjjo commented on #1588
@TimAbmgf Not sure I recall what your question was but as per previous post, you have to create the retention tag using EXO powershell, as described here: https://docs.microsoft.com/en-us/microsoft-365/compliance/increase-the-recoverable-quota-for-mailboxes-on-hold?view=o365-worldwide#step-1-create-a-custom-retention-tag-for-the-recoverable-items-folder

Then you can add the retention tag to the E

[2020-08-25 18:34] msbemba commented on #2659
@tfurstms Thank you for your feedback. We have added M365 Endpoint DLP to this page via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2685 Once this is approved by the author you will see the changed on the document.

Thanks
Sri

[2020-08-25 18:37] jmuehlenbein commented on #2677
I think this is still not clear as it’s implied that enabling auditing in the Information Policy provides data which is different from that provided in the Unified Audit Logs (which is already provided by default). If it’s the same audit data, why does this “option” exist?

From: Sriraman M S <notifications@github.com>
Sent: Tuesday, August 25, 2020 9:41 AM
To: MicrosoftDocs/microsoft-365-docs <mi

[2020-08-25 19:11] M88X opened #2686 "Password Policies Parameter"
When setting the password to expire for a specific user, what are some of the parameters that we can use except -PasswordPolicies None? Can we set number of days for example 90 or 100 etc?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f52c6916-7e79-9a9c-b7a6-47041ddb81e3
* Version Independent ID: 43c9b873-d354-d814-30

[2020-08-25 21:39] socialsoft opened #2687 "Is there a way to do this with the Azure Active Directory PowerShell for Graph module"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e0c0537-bbc1-02c8-7ae2-78646b2a2e98
* Version Independent ID: a9becd2e-5989-da88-8b6c-0e51476a21c7
* Content: [Disable access to Microsoft 365 services with PowerShell - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/disable-access-to-s

[2020-08-25 22:49] brettr-TSF commented on #2679
Hi Sri

Very happy with the actual instructions provide.  For once the screen shots match what I see on my screen and the presentation is simple and straight forward avoiding “Microsoft terms”.   This is much appreciated.  The issue is we have SharePoint but find we have to create an account in GitHub to make comments.  Sadly, the account name can not be and email address and demands yet another p

[2020-08-25 22:58] denisebmsft commented on #1940
Didn't forget about this issue. Stay tuned.

[2020-08-26 02:40] the-epoch opened #2689 "Can't get past Step 1."
Step 1 ("1. In the admin center, go to the Settings > Org Settings.") seems inaccurate.
Where is "Settings" in the Admin center? And where is Org Settings?  This is a Global Admin user logged in and have no idea where to find this.
The Settings cog (top right corner) just has the following option:
-  Themes
-  Language and Timezone
-  Password > change your password
-  Contact Preferences
-  Suppo

[2020-08-26 10:16] jadesolis opened #2692 "Exchange Administrator required to access Custom Mailbox."
Article assumes that the _administrator_ has an "Exchange Administrator" role assigned via the O365 Admin Center.
Administrators that do not necessarily have "Exchange Administrator" roles - like a "Security Administrator" (they are administrators too), defined solely in the Office 365 Security & Compliance Center, still sees the User Submissions page, but no "Custom Mailbox" tab.
![image](https:/

[2020-08-26 11:49] rdekramer opened #2693 "IPv6 support Teams"
MS Teams supports IPv6 however we do not state this in our docs. Could this page be updated? Thanks

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41916ef7-635a-80f9-914a-207040a3829e
* Version Independent ID: 1f372ebc-774b-a1f5-5e43-73b42f74b198
* Content: [IPv6 support in Office 365 services -

[2020-08-26 12:21] anthonychung14 commented on #2678
I am referring to [Safe Link Policies](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-atp-safe-links-policies?view=o365-worldwide#policies-that-apply-to-specific-email-recipients).

How do these policies interact with non-`http` urls? schemes such as `app://` instead of `http://` are commonly implemented in mobile application environments.

If we can allow a par

[2020-08-26 16:19] mishmishilicous opened #2694 "KQL syntax for auto applied retention label"
Trying to come up with the best filter for auto retention to be set with.
What will be the best way to auto apply retention on a SharePoint site to not include non end user working data? files in site assets or style library etc.

I'm trying to just target documents, any files within working libraries and list items which may include attachments.
(ContentType:'Document' OR ContentType:'Item') AND

[2020-08-26 17:05] yogkumgit commented on #2659
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tfurstms Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-26 17:05] #2659 closed

[2020-08-26 17:49] rhite-vp opened #2695 "Update to reflect new Recoverable Items option"
The Exchange Team announced a [new recoverable items procedure](https://techcommunity.microsoft.com/t5/exchange-team-blog/a-new-recoverableitems-experience-comes-to-exchange-online/ba-p/1505353) in July 2020.
Thanks!
Ron

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce9d3d55-537e-52f4-72f6-c0879a1b595a
* Version Indep

[2020-08-26 19:34] jebalert opened #2697 "Stipulation unclear"
"To analyze a user's data using Advanced eDiscovery, the user (the custodian of the data) must be assigned an Office 365 E5 license. Alternatively, users with an Office 365 E1 or E3 license can be assigned an Advanced eDiscovery standalone license. Administrators and compliance officers who are assigned to cases and use Advanced eDiscovery to analyze data don't need an E5 license."

Does this mean

[2020-08-26 22:45] markjjo commented on #2697
@jebalert First, I would suggest that you look at the licensing requirements for Advanced eDiscovery 2.0, which you can find here: https://docs.microsoft.com/en-us/microsoft-365/compliance/get-started-with-advanced-ediscovery?view=o365-worldwide#step-1-verify-and-assign-appropriate-licenses

Here is some additional info about AeD licensing: https://docs.microsoft.com/en-us/office365/servicedescrip

[2020-08-26 22:45] #2697 closed

[2020-08-27 02:43] Code2Life opened #2702 "The ip ranges are NOT the latest, please keep the docs synced, thanks!"
[Enter feedback here]

https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide
I didn't found the IP: **13.85.192.123** in the document above, but this IP is come from Graph Notification Validation Request!

it caused **plenty of** "Subscription validation request timed out" error in Graph SDK from our service.

I don't know if there are any other I

[2020-08-27 09:14] msbemba commented on #2671
@djtrustgod Thank you for your feedback. We have Added the information as M365 Video portal - https://docs.microsoft.com/en-us/microsoft-365/enterprise/administering-a-multi-geo-environment?view=o365-worldwide#video-portal

In a multi-geo tenant, the O365 Video Portal is served only from default geo and all users will be redirected to that central portal url. Hence, the Remote Media Service (RMS)

[2020-08-27 10:27] msbemba commented on #2658
@tfurstms Thank you for your feedback. The document is up to date and needs no changes. For the dates in the PDF, I have sent an email cloudadopt@microsoft.com for that to be modified whenever possible. for any feedback about the PDF documentation, you can also email cloudadopt@microsoft.com.

Hope this helps!

@yogkumgit There is no changes required to the parent document, I have emailed the conc

[2020-08-27 10:41] msbemba commented on #2679
@brettr-TSF Thank you for the detailed explanation. Microsoft Documents are handled Via Github and it is necessary for the users to have a GitHub account to add/modify/merge items to the document. For security reasons,, you cannot use your M365 password and have to create another one. I'm glad that you have one now so you can provide feedback for us to improve the documentation.

Hope this helps!

[2020-08-27 13:30] DeanGross opened #2703 "Missing July Updates"
[Enter feedback here]
The page shows that it was updated near the end of August, but there is nothing shown for July. Please add the what's new information for July

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 89486ebd-f4fa-9d07-ee93-d04fd8d41027
* Version Independent ID: 667019d9-aac6-f466-1605-651a800fc212
* Conten

[2020-08-27 13:38] DeanGross opened #2704 "Missing Cards"
[Enter feedback here]
The documentation shows that many cards can be added to the home page, In my tenant, i only have the ability to add 2 cards to the home page, Is my tenant broken? do I need to open a support ticket.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed7ade2-b6c8-83db-2d20-e87ee7a3cb5d
* Version Indep

[2020-08-27 13:39] yogkumgit commented on #2679
@msbemba Thank you very much for the contribution and sharing this explanation. @brettr-TSF Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-27 13:39] #2679 closed

[2020-08-27 13:47] yogkumgit commented on #2662
@JoeDavies-MSFT Please help us in resolving this issue. Thanks.

[2020-08-27 14:39] soupman98 opened #2705 "Additional detail on rights required to administer MMD Config settings"
[Enter feedback here]
This document should specifically call out the rights and role membership need to read and / or write the MMD configuration settings. A link back to the MMD rights document is not quite sufficient IMO. Specifically, modifying Trusted Sites requires Intune Admin.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2020-08-27 15:30] chrisda commented on #2692
@jadesolis,I added Exchange Administrator to the permissions call-out.

Thanks for the feedback.

Closing

[2020-08-27 15:30] #2692 closed

[2020-08-27 20:37] marcbeacom opened #2708 "Third and fourth name servers need to be updated"
Should the third and fourth NS be:
ns3.bdm.microsoftonline.com
ns4.bdm.microsoftonline.com

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c52d59a-7466-a5a8-7031-e4ea7b782f57
* Version Independent ID: e02a33bc-12c6-4192-cf3f-bcea567085c3
* Content: [Change nameservers to set up Microsoft 365 with

[2020-08-27 20:59] robert5150 opened #2709 "Bypass Clutter/Other Inbox - Transport Rule"
On this page:

New-TransportRule -Name <name_of_the_rule> -From "Payroll Department" -SetHeaderName "X-MS-Exchange-Organization-BypassFocusedInbox" -SetHeaderValue "true"

The above command is recommended to bypass the clutter/other folder, however the command says to create a transport rule:

-SetHeaderName "X-MS-Exchange-Organization-**BypassFocusedInbox**" -SetHeaderValue **"true"**

I dont und

[2020-08-27 21:20] msbemba commented on #2672
@emwes Thank you for your feedback. I don't see the option as well. I have modified the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2710 Once the author approves the document will be updated.

Thanks
Sri

[2020-08-27 21:34] msbemba commented on #2667
@Sizzl Thank you for your feedback. I'm currently checking with the Author, will update you shortly.

Thanks
Sri

[2020-08-27 21:40] msbemba commented on #2677
@jmuehlenbein I'm currently checking with the author and will update you shortly.

Thanks
Sri

[2020-08-27 21:54] msbemba commented on #2678
@anthonychung14 Thank you for your feedback. Safe links work on HTTP URLs. If you add Https//ourcompany.com to do not rewrite list it should open app:// from a browser's redirect as it is excluded from  ATP Safe Links scanning.

Hope this helps!

Thanks
Sri

[2020-08-27 22:09] msbemba commented on #2693
@rdekramer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2711

Thanks
Sri

[2020-08-27 22:14] msbemba commented on #2689
@the-epoch Thank you for your feedback. The settings menu in admin center is available in the left navigation pane

![image](https://user-images.githubusercontent.com/45987684/91500240-baa64a80-e8e0-11ea-8923-97d2f6f2aea9.png)

Hope this helps!

@yogkumgit There are no changes needed to the document, this issue can be closed.

Thanks
Sri

[2020-08-27 22:21] msbemba commented on #2687
@socialsoft Thank you for your feedback. Unfortunately, it is not available in AAD Powershell for graph. However, you can Disable access to Microsoft 365 services while assigning user licenses using AAD Powershell for graph Module - Please see https://docs.microsoft.com/en-us/microsoft-365/enterprise/disable-access-to-services-while-assigning-user-licenses?view=o365-worldwide

Hope this helps!

Th

[2020-08-27 22:22] msbemba commented on #2687
@yogkumgit There are no changes required in the document. Have answered Justin's question and the issue can be closed.

Thanks
Sri

[2020-08-27 22:32] msbemba commented on #2686
@M88X Thank you for your feedback. The other parameters that we can use for -PasswordPolicies are

* DisablePasswordExpiration
* DisableStrongPassword (Allows weaker passwords than the default policy to be specified)

 However, for a password to expire in a certain number of days you need to use the Set-MsolPasswordPolicy cmdlet which updates the password policy of a specified domain or tenant.

E

[2020-08-27 22:41] msbemba commented on #2296
@groves226 The invoice requirement is for Azure Subscriptions that are used to create Azure Key Vaults for the Customer Key setup. Can you share the specific error that you received while using Non invoiced account?

Thanks
Sri

[2020-08-27 22:46] JoeDavies-MSFT commented on #2702
@Code2Life Not all of the IP addresses are listed. See this blog post for an explanation: https://techcommunity.microsoft.com/t5/office-365-networking/why-are-some-office-365-network-endpoints-provided-as-urls-only/m-p/310490#M97
Hope this helps.

[2020-08-27 22:46] #2702 closed

[2020-08-28 02:22] anthonychung14 commented on #2678
@msbemba thank you for the clarification. this was immensely helpful

[2020-08-28 05:34] chrislehr opened #2713 "Get-HybridMailFlowDatacenterIps disagrees vehemently."
[Enter feedback here]
Guys, check this out....  the article has like 6 ranges, and this shows 30.
![image](https://user-images.githubusercontent.com/10875667/91525043-76518500-e8b5-11ea-81f3-498f39d4a5ae.png)

And one subnet range is off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba626

[2020-08-28 06:39] jadesolis commented on #2692
The following statement still does not appear accurate:
- Th option of Organization Management **OR** Hygiene Management in Exchange Online still doesn't grant access to the "Custom Mailbox" tab.

In the absence an Exchange Online Administrator role, Organization Management **AND** Hygiene Management are **_both_** required in Exchange Online.

The Organization Management (role group) is actually

[2020-08-28 08:51] serran0 opened #2714 "Add more information regarding "Purging the recoverable items folder" at Step 5."
No helpful information on how to perform a New-ComplianceSearch with targeting only the Recoverable Items folder exist in the links provided at Step 5.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac0819e-2ed8-d57f-35f5-cfa5210210a9
* Version Independent ID: 61bf03a8-091b-9a33-a7eb-a4a25e8452f3
* Content: [Delete it

[2020-08-28 12:24] yogkumgit commented on #2673
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dofzin Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-28 12:24] #2673 closed

[2020-08-28 12:51] yogkumgit commented on #2678
@msbemba Thank you very much for the contribution and sharing this explanation. @anthonychung14 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-28 12:51] #2678 closed

[2020-08-28 13:06] yogkumgit commented on #2524
@msbemba Thank you very much for the contribution and updating the documentation with PR. @EricaToelle Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-28 13:06] #2524 closed

[2020-08-28 13:34] yogkumgit commented on #2658
@msbemba Thank you very much for the contribution and sharing this explanation. @tfurstms Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-28 13:34] #2658 closed

[2020-08-28 13:38] yogkumgit commented on #2671
@msbemba Thank you very much for the contribution and sharing this explanation. @djtrustgod Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-28 13:38] #2671 closed

[2020-08-28 13:40] yogkumgit commented on #2675
@msbemba Thank you very much for the contribution and sharing this explanation. @RowanAdvisors Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-08-28 13:40] #2675 closed

[2020-08-28 13:49] yogkumgit commented on #2694
@cabailey Please help us in resolving this issue. Thanks.

[2020-08-28 14:40] groves226 commented on #2296
Ok, so you don't get a direct error. It isn't like you try to click something or execute one of the PS commands and it tells you 'no'.

During the early stages when you email the two teams (SPO and EXO) and provide your tenant information, you will be informed that you need an invoiced account to do the Customer Key(CK) process.

What sucks is that since this information isn't provided upfront, in

[2020-08-28 15:42] Hikmer opened #2715 "The Power BI Template DOES work in GCC"
Please change the copy "Microsoft 365 usage analytics is not yet available for Microsoft 365 US Government Community." to reflect that the download PBI template does work in GCC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ebdb9f0-76a5-eebc-4cd7-95f5407ed029
* Version Independent ID: 05abf201-e31c-08c0-a7fc-8fd4620

[2020-08-28 16:54] markjjo commented on #2714
@serran0 Please see this github issue for a solution to scope the compliance search (and subsequently the purge action) to items in the Recoverable Items folder: https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2598 We're working to update this article with this info.

[2020-08-28 16:54] #2714 closed

[2020-08-28 17:00] Matt-Mueller-MSFT opened #2716 "Endpoint list needs updating or Maybe separate page for GCC"
The GCC Power Platform Endpoints/URLs are not included in this document, even though it states it is for Worldwide and GCC.  Maybe since GCC uses different URLs for the Power Platform it should be on a separate page from https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide&source=docs#feedback.

Or other option is to add the GCC PowerPlatform URL

[2020-08-28 18:10] chrisda commented on #2692
@jadesolis, I hear you, but we've found it easier to list the role groups (which, confusingly, are called 'roles' in Azure AD), because that's where you actually add/remove members. Sometimes, we'll say, "Access is controlled by the <blah> role, which is typically assigned to the <a>, <b>, and <c> role groups..." which I could potentially do in this case.

Membership in both the Organization Manag

[2020-08-28 18:27] msbemba commented on #2683
@anlorint Thank you for your feedback. I have modified the document to reflect the correct number which is the past 7 days. The same can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2717

[2020-08-28 18:43] msbemba commented on #2681
@GitRomney Thank you for your feedback. We have added the syntax to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2718 . Once it is approved you will find the update in the live document.

Thanks
Sri

[2020-08-28 18:51] msbemba commented on #2695
@rhite-vp Thank you for your feedback.
If you want to use this new functionality you need to use the new (and in preview) admin center - https://admin.exchange.microsoft.com/#/mailboxes

Once this is available to all tenants (out of preview) the document will be updated.

CC: @JoeDavies-MSFT

Thanks
Sri

[2020-08-28 18:53] rhite-vp commented on #2695
Good point. Thanks!

[2020-08-28 18:55] msbemba commented on #2695
@yogkumgit No changes required at the moment and the issue can be closed.

[2020-08-28 20:05] helloitsliam opened #2719 "Spelling Mistake"
Nothing major but the line "Classifies data for you, using one of the built-in classifiers or train a classier with your own content" needs to modified. The phrase "train a classier" should be "train a classifier".

Thanks

Liam

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9616c17-a6cb-3b45-dbc6-07b4932bf7c7
* Versi

[2020-08-28 20:29] RyanSmith-00 opened #2720 "broken link"
[Enter feedback here]

Jump to the remediation article here. link is broken
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2a332c-34ed-49fd-519a-4df38e9f4f60
* Version Independent ID: 19968ae0-b43e-d02d-fee3-14da766c7832
* Content: [Investigate malicious email that was delivered in Office 365, Find and investigate mal

[2020-08-28 22:55] cabailey commented on #2719
Hi Liam  Thanks for flagging this typo - don't know how we all missed it before!  Fixed now.

[2020-08-28 22:55] #2719 closed

[2020-08-29 02:36] helloitsliam commented on #2719
Perfect. No worries at all.

Liam

On Aug 28, 2020, at 6:55 PM, Carol Bailey <notifications@github.com> wrote:

﻿

Closed #2719<https://eur06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FMicrosoftDocs%2Fmicrosoft-365-docs%2Fissues%2F2719&data=02%7C01%7C%7Cdb565248d8ff42cc815508d84ba57de6%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637342521429934613&sdata=Ua9nFQ9Zvruf1PgvSM1ES

[2020-08-31 00:51] jadesolis commented on #2692
"Membership in both the Organization Management AND Hygiene Management role groups in ExO should not be required." - Apparently this does not hold true, hence the feedback.

[2020-08-31 10:00] LaiClaudio opened #2722 "Administration"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 709fda6f-3a7d-92aa-e7ad-afb09cd47cda
* Version Independent ID: 991f7ce4-e3a8-e044-c3c5-82de3b8837d3
* Content: [Admin center overview - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-overview?view=o365-w

[2020-08-31 14:44] yogkumgit commented on #2695
@msbemba Thank you very much for the contribution and sharing this explanation. @rhite-vp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2020-08-31 14:44] #2695 closed

[2020-08-31 15:01] cabailey commented on #2694
@mishmishilicous  Checking, but by default, system files won't be retained so I don't think you need to worry about the query excluding these.  Is there a reason why you're using an auto-apply label here rather than a retention policy for the site, or apply the label as a default label if you want to apply the same retention settings to all documents in the site?

[2020-08-31 16:31] chrisda commented on #2692
@jadesolis, let me put it another way: have you done any role group customization that would account for those three roles from Transport Hygiene not being assigned to Organization Management?

[2020-08-31 19:37] mishmishilicous commented on #2694
@cabailey, I'm using an auto applied label for newly added content to ensure initial retention is set.
Later on content is labeled by end users with other provisioned labels thru the UI later in the life cycle.
When I open the site assets library I can see the label shows up on system files which makes sense since the content type is a match ("Document"). I've created the label and associated it i

[2020-08-31 20:07] rcalafato opened #2723 "Typo - Accessibility is misspelled"
"Accessibility" is misspelled as "acessibility"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3fe9020-6803-bee8-7fcc-fae3971e6feb
* Version Independent ID: 480b994c-7d3f-d234-8847-e415360c6bf7
* Content: [What's new in the Microsoft 365 admin center? - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-3

[2020-08-31 22:29] khilker15 opened #2725 "apis.live.net EOL?"
Line item 53 apis.live.net appears to be end of life, per https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/migrating-from-live-sdk?view=odsp-graph-online

Is this still a requirement for M365?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent

[2020-09-01 03:59] jadesolis commented on #2692
@chrisda No, and immaterial. 'Organization Management' is no the issue here.
As it stands, 'Hygiene Management' in itself doesn't give you access to the 'Custom Mailbox tab.'

[2020-09-01 09:17] dennish78 opened #2726 "Security Center OR Compliance Center?"
The article mentions the Security & Compliance Center as a single admin center.
We have 2 admin centers: the Security Center and the Compliance Center. Which of the 2 does the article refer to? Please amend article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5bb1b82-5bde-ce65-ca17-9e982b030a5c
* Version Independen

[2020-09-01 13:12] sebhe opened #2728 "Is data stored / uploaded to the customer tenant of MDATP?"
The section about "how Microsoft handles data" does not provide a lot of details. Could you e.g. tell us if the files that are uploaded technically uploaded to our own instance/tenant of MDATP? If it is not uploaded to our tenant, does Safe Docs respect the region option that was chosen in MDATP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-09-01 13:20] yogkumgit commented on #2686
@msbemba Thank you very much for the contribution and sharing this explanation. @M88X Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-01 13:20] #2686 closed

[2020-09-01 13:25] yogkumgit commented on #2687
@msbemba Thank you very much for the contribution and sharing this explanation. @socialsoft Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-01 13:25] #2687 closed

[2020-09-01 13:27] yogkumgit commented on #2689
@msbemba Thank you very much for the contribution and sharing this explanation. @the-epoch Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-01 13:27] #2689 closed

[2020-09-01 14:32] ii-batman opened #2729 "How to restrict sending to max 20 x recipients outbound for user mailboxes and allow more for systems sending out."
[Enter feedback here]
![Q1](https://user-images.githubusercontent.com/60931858/91863918-8b3c6880-ec67-11ea-94a7-7e6db1992ffa.PNG)
I need to restrict the number of recipients for outbound email to 20 per message for 99% of my user mailboxes.

However I have systems that send using a SMTP server that connects to the on-prem Exchange server, these systems won't have a mailbox (anon senders)

How shou

[2020-09-01 14:40] mattspierce opened #2730 "What is a Tag.."
[Enter feedback here]

When creating an outbound spam filter the applies to dialog allows for a domain, user, or member of.  The value request a Tag.  Could you better define what a tag is?  This is assumed to be a group but a security group doesn't work.   What type of group is needed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2020-09-01 14:57] DeanGross opened #2731 "More details about Secure Score info"
[Enter feedback here]
Please provide  specific information about what licenses are need for each control to get automatic updates from Secure score. for the Configure External Sharing action,  I  am seeing "Your organization's O365 subscription doesn't support continuous Secure Score update for this action" and I don't know why we are getting this. The documentation does not provide enough informa

[2020-09-01 15:58] chrisda commented on #2692
@jadesolis, I'll refer to my question a couple of posts ago: If the statement about permissions is still incorrect, what would you like it to say?

[2020-09-01 16:16] chrisda commented on #2726
@dennish78, actually, for the purposes of this discussion, there are three admin centers from oldest to newest:

Security & Compliance Center <https://protection.office.com>

Compliance Center <https://compliance.microsoft.com>

Security Center <https://security.microsoft.com>

All three are equally alive and well. New features are still being added to the Security & Compliance Center.

At some po

[2020-09-01 16:59] chrisda commented on #2730
@mattspierce, I see what you're saying.

![image](https://user-images.githubusercontent.com/33166947/91883115-d3906200-ec38-11ea-96fe-251deefd53e1.png)

I'm guessing the 'Add a tag' text is an effort be generic and use one text string for all conditions, instead of separate strings for "Add a sender domain", "Add a sender", and "Add a group".

This is explained in the topic in Step 7 for creating

[2020-09-01 17:10] chrisda commented on #2729
@ii-batman, I don't understand this statement:

How does that relate to **outbound** mail flow from the cloud, which is what outbound spam policies cover?

[2020-09-01 17:39] ii-batman commented on #2729
Hi Chris, sorry for not being clear.

We have hybrid exchange setup - so system on-prem send email via the on-prem exchange servers which route out via 0365.
These systems don't have a mailbox - they just send via the on-prem servers.

I hope this helps - let me know.

[2020-09-01 17:44] chrisda commented on #2729
@ii-batman, I don't think that type of mail would be affected by outbound spam policies. You should be OK to configure the default outbound spam policy with the values you want for users.

[2020-09-01 17:46] markjjo commented on #2714
@serran0 FYI that we've updated Step 5 in this topic. Added info about using targeted collection script to obtain folderid of recoverable items subfolder and then use that value to scope the search to the recoverable items folder. Hope this helps.

[2020-09-01 17:47] ii-batman commented on #2729
OK thanks Chris.
Now my main question... how to configure that policy if I only want to allow 20 x recipients per email sent out?

[2020-09-01 19:07] LeonardPeris opened #2734 "What does EOP stand for?"
In the docs, the abbreviation **EOP** is used in many places. Unfortunately it doesn't appear the doc discloses what it stands for.

First appears on line 204.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7861a800-7643-dca5-1046-232a51d6e61e
* Version Independent ID: d78fc416-516b-15ab-4719-068f7d13ecca
* Content: [U

[2020-09-01 19:08] chrisda commented on #2729
@ii-batman, outbound spam filter policies are limited to the limits that you see, and max number of recipients isn't one of them.

It looks like you'll need to use the _RecipientLimits_ parameter on the Set-Mailbox cmdlet or (as of very recently) _MaxRecipientEnvelopeLimit_ parameter on the Set-TransportConfig cmdlet. This is described in the following blog posts: <https://techcommunity.microsoft.

[2020-09-02 00:56] jadesolis commented on #2692
@chrisda I will refer to my response a couple of posts back:
In the absence an Exchange Online Administrator role, Organization Management AND Hygiene Management are both required in Exchange Online.

[2020-09-02 07:41] carloreggiani opened #2737 ""Microsoft account as the Authentication method > Sign in" not available!"
I'm trying to configure PowerBI App " Microsoft 365 usage analytics" following the document, but in my Authentication method there is not "Microsoft account" option!

Here the option to choose:

- Anonymous
- Basic
- Key
- OAuth2

Trying OAuth2 it is not working.

Carlo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 65

[2020-09-02 09:43] dennish78 commented on #2726
Hi Chris,
Good to know that, thanks.
It's weird then that the SCC is no longer a link in the list of Admin
Centers. We have a choice of SC and CC. Guess I'll add the SCC to my
bookmarks and patiently await its deprecation.
Perhaps you could add a link to this (Classic? Legacy?) Center in the doc
to help other admins who also no longer have a direct link from the Admin
Center.

[2020-09-02 10:18] LeonardPeris opened #2738 "Are Billing Profiles only available in certain circumstances?"
I see no option to add or modify a billing profile on my tenant. No default billing profile is present either.
After contacting Microsoft Support, I was advised that Billing Profiles are available only to users who have purchased their licenses or subscriptions from Microsoft Approved Resellers or from Microsoft Partners.

The current documentation doesn't mention this adequately in the documentat

[2020-09-02 14:22] msbemba commented on #2728
@sebhe Thank you for your feedback. You can find more details about how MDARP handles data, here - https://docs.microsoft.com/en-us/windows/security/threat-protection/microsoft-defender-atp/data-storage-privacy

To answer your question

Customer data collected by the service may be stored in: (a) the geo-location of the tenant as identified during provisioning or, (b) if Microsoft Defender ATP use

[2020-09-02 14:28] msbemba commented on #2726
@dennish78 Thank you for the feedback. I have added the LInk to security and compliance center to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2739

Thanks
Sri

[2020-09-02 16:05] msbemba commented on #2722
@LaiClaudio Thank you for your feedback. Could you please provide more information on what modification or questions you have on this document?

Thanks
Sri

[2020-09-02 16:52] mastood opened #2741 "Link seems to be missing"
In the following paragraph it seems we are missing a link after the word see.

Enable retrieval for modern attachment - use this control to include modern attachments or linked files in the collection for further review; read more about the new searchable field names that are available to group this content, see [document metadata fields in advanced ediscovery]

---
#### Document Details

⚠ *Do no

[2020-09-02 17:08] markjjo commented on #2741
@mastood Thanks for the heads up. This link should point to this article: https://docs.microsoft.com/en-us/microsoft-365/compliance/document-metadata-fields-in-advanced-ediscovery?view=o365-worldwide

I will fix the missing link.

[2020-09-02 17:08] #2741 closed

[2020-09-02 18:05] sdickson02 opened #2742 "CM1 fails to generate"
Hello, I've tried downloading and installing the new Lab Deployment Kit (2004) multiple times, and always get the same problem. CM1 seems to unpack, but it does not correctly register in Hyper-V. I don't get any errors during the installation, but CM1 is not available in Hyper-V after the install completes. I'm trying to use the Lab Deployment Kit specifically to test SCCM packages, so CM1 is crit

[2020-09-02 18:34] chvukosw commented on #2731
Hello, thanks for your feedback. That is an error that Secure Score will give when it's monitoring a service that a tenant doesn't have access to. I'll work with the engineering team to provide more clarity in the documentation, which will be updated later this month.

[2020-09-02 18:34] #2731 closed

[2020-09-02 20:09] msbemba commented on #2720
@RyanSmith-00 Thank you for your feedback. We have fixed the Comment and link on the Note to remediation article. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/2720

Thanks
Sri

[2020-09-02 20:15] msbemba commented on #2715
@Hikmer Thank you for your feedback. I have made the changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2743 and the author will verify and approve it. Post which the DOcument will be updated.

Thanks
Sri

[2020-09-02 20:33] groves226 opened #2744 "SharePoint Encryption Policy - PS Command Change"
The PS command example shown has "- Identity" in it.. this switch is no longer used for this command

Page URL and PS command below... **_bold text_** is switch that can be removed

https://docs.microsoft.com/en-us/microsoft-365/compliance/customer-key-set-up?view=o365-worldwide#create-a-data-encryption-policy-dep-for-each-sharepoint-online-and-onedrive-for-business-geo

Register-SPODataEncryption

[2020-09-02 21:04] msbemba commented on #2709
@robert5150  Thank you for the feedback. I had a similar doubt when I read this document first, however Focused Inbox is a feature that automatically evaluates incoming emails and directs them to two views: "Focused" and "Others". To make sure that emails are always delivered to the user's "Focused" inbox, you must create a transport rule to bypass the evaluation. The PowerShell cmdlet to do that

[2020-09-02 21:06] msbemba commented on #2708
@marcbeacom Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2747

Thanks
Sri

[2020-09-02 21:13] msbemba commented on #2704
@DeanGross Thank you for your feedback. I was able to test this and can add all the cards to the home page

![image](https://user-images.githubusercontent.com/45987684/92037091-e2892880-ed8e-11ea-9a4e-821e56ec009c.png)

![image](https://user-images.githubusercontent.com/45987684/92037192-0d737c80-ed8f-11ea-9165-541477afcf05.png)

So this looks like an issue on your tenant and you may have to open

[2020-09-02 22:27] msbemba commented on #2725
@khilker15 Thank you for your feedback. We will work with the Author and let you know once the changes are complete.

Thanks
Sri

[2020-09-02 22:28] msbemba commented on #2703
@DeanGross Thank you for your feedback. I'm working with the author to get this updated as soon as possible.

Thanks
Sri

[2020-09-03 09:51] jeffangama opened #2750 "does this apply to education tenant too ?"
when i follow those step, i can't limit class creation, allowed users cant view the class option anymore
ive raised a microsoft ticket for that
thank you

[2020-09-03 12:14] GuyPartridge opened #2751 "Security Administrator Permisisons in AAD"
Hi, it says here for the Security Administrator role group "However, it will be a member of the Security Administrators role in Azure Active Directory and will inherit the capabilities of that role".
Checking this, it is not the case. If I add a user to the role group they do not get added as a member of the Security Administrators role in AAD. If I log on as the user I do not have rights to do th

[2020-09-03 13:29] scsiwuzzy opened #2752 "How would a customer leverage this?"
While this is good to hear, how would I, the customer, leverage this in support of an Enterprise environment?  We support 80k+ users across 12 US states, the Philippines, India, Canada and the UK.  QOS/QOL is very difficult for an IT person in Texas to know what is happening with regards to performance and quality for users hundreds or thousands of miles away.
[Enter feedback here]

---
#### Docum

[2020-09-03 13:32] yogkumgit commented on #2750
@jeffangama Please indicate which document your are referring to. Thanks

[2020-09-03 13:56] yogkumgit commented on #2709
@msbemba Thank you very much for the contribution and sharing this explanation. @robert5150 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.e in future also.

[2020-09-03 13:56] #2709 closed

[2020-09-03 14:05] yogkumgit commented on #2704
@msbemba  Thank you very much for the contribution and sharing this explanation. @DeanGross Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.

[2020-09-03 14:05] #2704 closed

[2020-09-03 14:19] yogkumgit commented on #2705
@jaimeo Please help us in resolving this issue. Thanks

[2020-09-03 14:24] yogkumgit commented on #2713
@JoeDavies-MSFT Please help us in resolving this issue as it is a Highly Structured document. Thanks

[2020-09-03 14:24] yogkumgit commented on #2716
@JoeDavies-MSFT Please help us in resolving this issue as it is a Highly Structured document. Thanks

[2020-09-03 14:28] yogkumgit commented on #2684
@chrisda Please help us in resolving this issue. Thanks

[2020-09-03 14:45] MartinSGill opened #2753 "Receiving DKIM signed messages docs are lacking technical detail"
There is no real technical information here on why a DKIM message would be rejected (signature verification failed).

For example we send an email with a DKIM signature including signed headers `Date`, `From`, `Message-ID`, `Subject`, `To` and we get a message `dkim=fail (signature did not verify)` . We send an identical message with headers  `From`, `Subject`, `To`  and receive `dkim=pass (signat

[2020-09-03 15:05] JoeDavies-MSFT commented on #2716
@Matt-Mueller-MSFT Starting an internal email thread to discuss this issue. Thanks for letting us know.

[2020-09-03 15:05] #2716 closed

[2020-09-03 15:09] JoeDavies-MSFT commented on #2713
@chrislehr From https://docs.microsoft.com/en-us/powershell/module/exchange/get-hybridmailflowdatacenterips, "This cmdlet has been deprecated and is no longer used." The addresses listed on https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide are the definitive list. Thanks for letting us know.

[2020-09-03 15:09] #2713 closed

[2020-09-03 16:23] jaimeo commented on #2705
@ChristopherTulip this is in your workitem list for this sprint, right?

[2020-09-03 17:11] bubhat opened #2754 "When does OCR extract text from images in Advanced edisocvery?"
[Enter feedback here]
The article says "When you add custodians and non-custodian data sources to a case on the Sources tab, all partially indexed items (like image files) from Microsoft 365 are processed to make them fully searchable. " Another article [here ](https://docs.microsoft.com/en-us/microsoft-365/compliance/configure-search-and-analytics-settings-in-advanced-ediscovery?view=o365-worldwi

[2020-09-03 18:02] ckssaas opened #2755 "Instructions and UI do not align; very common with Security and Compliance centers"
The section "How to create an eDiscovery hold" does not align with what is experience in the UI at the address https://compliance.microsoft.com/

This is very common with any of the Security and Compliance or Security or Compliance admin centers. Microsoft 365 team seems to change things in those interfaces so often that no one can keep up. Update suggested.

Thanks as always!

---
#### Document D

[2020-09-03 18:16] chrisda commented on #2751
@GuyPartridge, you're right. I think most of the information is there, but I think there's some miswording that's confusing.

Here are the required statements:

- By default, the Security Administrator role group in the SCC might appear to have no members.
- The Security Administrator role from Azure AD is assigned to this role group in the SCC.
- The role group in the SCC inherits the capabilitie

[2020-09-03 18:16] #2751 closed

[2020-09-03 19:35] DeanGross opened #2756 "Update needed?"
[Enter feedback here]

Microsoft has made many changes to their compliance tools over the past few years. Is there anything in this guidance that needs to be updated?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f47362e-5ac2-badf-9a90-f9f7831e5767
* Version Independent ID: 2c5b4b0a-29ca-6d6c-121c-5d7a81d6ca7e
* Cont

[2020-09-03 19:36] msbemba commented on #2672
@emwes Thank you for the feedback. We received an update from the author and PG that all (11) data tables are available. In case it doesn't show up on your tenant, please contact Support via the need help option in the M365 admin center.

@yogkumgit The author has confirmed that PG recently updated the document and there are 11 data tables. So this issue can be closed.

Thanks
Sri

[2020-09-04 00:11] chrisda commented on #2692
@jadesolis, I did my own testing. I used a Global Admin to take these actions:

- I specified a reporting mailbox at <https://protection.office.com/userSubmissionsReportMessage>. If you don't do this step, no one, including Global Admins, sees the Custom mailbox tab at <https://protection.office.com/reportsubmission>.

- I added an ordinary user to the Organization Management role group in the Exc

[2020-09-04 04:59] sn131678 opened #2757 "Date password expiry begins"
Does it begin from the date a password change policy was enabled? Or does it begin from the date the users password was last modified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523758d0-17ea-7061-d9ce-8f5a31a76b4c
* Version Independent ID: 545fd950-8ef0-837b-8839-8aa21da0c6eb
* Content: [Password policy recommenda

[2020-09-04 05:08] msellar-inst commented on #2619
Just on your most recent comment,  you correctly say pre-sets don't cover outbound policy.
However in the portal it says this:

_"Preset security policies
A preset security policy is compilation of settings for all security policies: anti-spam, **outbound spam filter,** anti-malware, anti-phishing, ATP Safe Links, and ATP Safe Attachments."_

https://security.microsoft.com/presetSecurityPolicies

[2020-09-04 05:19] andypunt commented on #2619
You are correct. We will update the portal. Thanks!

[2020-09-04 09:57] ianjmiller64 opened #2758 "Deprecate or Disable? Timeline after 15th Oct?"
This doesn't describe the timeline or process for disabling TLS1.0/1.1 for commercial customers after 15th October 2020 - only that deprecation  **begins** 15th October.

Also, while it states for GCC High or DoD clients TLS1.0/1.1 become unsupported, it doesn't explain what the consequences of 'deprecation' are for commercial clients.

- other support pages say TLS1.2 becomes 'mandatory', but the

[2020-09-04 10:50] Divya-RP opened #2759 "Update the content"
[Enter feedback here]
Kindly add a reference/note under IMAP/exchange online: if using 3rd party application, recommended to download the Root CA and the Intermediate CA bundle on the application system. Referencing the certificate providers used by O365: https://docs.microsoft.com/en-us/microsoft-365/compliance/encryption-office-365-certificate-chains?view=o365-worldwide

---
#### Document Detail

[2020-09-04 10:59] tbrowningcds opened #2760 "May-June report results"
The May/Jun report from AV Test gave Defender a 6 out of 6:

https://www.av-test.org/en/antivirus/business-windows-client/windows-10/june-2020/microsoft-windows-defender-antivirus-4.18-202513/

You might want to update this page with that result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0665c47f-53f5-bd90-bb22-c9

[2020-09-04 14:26] yogkumgit commented on #2726
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dennish78 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-04 14:26] #2726 closed

[2020-09-04 14:39] yogkumgit commented on #2516
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jseerden Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-04 14:40] #2516 closed

[2020-09-04 14:43] yogkumgit commented on #2643
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gregbnz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-04 14:43] #2643 closed

[2020-09-04 14:47] yogkumgit commented on #2672
@msbemba Thank you very much for the contribution and sharing this explanation. @emwes Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-04 14:47] #2672 closed

[2020-09-04 14:53] yogkumgit commented on #2683
@msbemba Thank you very much for the contribution and updating the documentation with PR. @anlorint Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-04 14:53] #2683 closed

[2020-09-04 14:58] yogkumgit commented on #2715
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Hikmer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-04 16:23] ragnarheil opened #2761 "broken Link (404 error)"
[Enter feedback here]
broken Link (404 error) for https://docs.microsoft.com/en-us/powershell/azuread/v2/azureactivedirectory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55574af9-0105-dcd1-7eb0-77513df4e54f
* Version Independent ID: 5fe2849b-d39a-4d75-a5ce-e8f577c9a161
* Content: [Connect to Microsoft 365 with Power

[2020-09-04 17:43] Matt-Mueller-MSFT opened #2762 "The"
[The link for worldwide on this page does not include GCC specific endpoints like the PowerApps and the Power Automate Endpoints, there is not a separate link for GCC.
The URLs for these can be found at the below link. My customer is looking for the associated IPs to allow in their strict networking restrictions. Does not see the IPs I am getting back from Pings to these URLs fit on the lists for

[2020-09-04 18:12] levinec commented on #2760
This will be updated later today. Thank you!

[2020-09-04 18:12] #2760 closed

[2020-09-04 20:02] msbemba commented on #2151
@forester123 Thank you for your feedback. We have modified the document based on the feedback received from PG/Author. This can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2763

Global Admin is the recommended role with complete access to add-in management lifecycle. All other Admin roles have a limited access to add-in deployment lifecycle.
Roles like Exchange Admi

[2020-09-06 23:30] Rodrigo30Horas opened #2766 "Please, insert information about Teams Admin Center and Planning feature, instead of suggesting Skype calculator"
Dear all,

As my title already said, please, remove the info for Skype calculator, and promote the Planning features and rich capabilities inside the Teams Admin Center portal. It is a amazing feature to predict how much bandwidth Teams will consume, and it is totally integrated to 365 best practices.

Thanks!
Rodrigo A. Dias (FTC)
---
#### Document Details

⚠ *Do not edit this section. It is requ

[2020-09-07 01:01] stuart2155 opened #2767 "For Item 7, "Microsoft Account" should be changed to "OAuth2""
Hi,
On Item 7 for this page:

_7. On the next screen, select Microsoft account as the Authentication method > Sign in. If you choose any other authentication method, the connection to the template app will fail._

I think this is incorrect or outdated: "Microsoft Account" was not an option. User should select "OAuth2"

Options were "Anonymous, Basic, OAuth2"

OAuth2 worked for me and authenticated

[2020-09-07 05:52] dtbullock opened #2768 "Does Office Message Encryption provide confidentiality against an attacker able to intercept clear-text mail?"
Answer: No, it doensn't.  The attacker can simply follow the link in the first email, and get the OTP from the second email.

Followup question: does this make OME essentially useless?
Answer: yet it does.

Followup question: what could Microsoft actually do to protect email confidentiality?
Answer: send the OTP via a separate channel/factor, stupid!

Followup question: why does some guy on the in

[2020-09-07 12:24] timkittelberger-sits opened #2769 "ASP Version"
It was not possible to find any compatible framework version
The framework 'Microsoft.AspNetCore.App', version '2.1.1' was not found.
  - The following frameworks were found:
      3.1.7 at [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]

You can resolve the problem by installing the specified framework and/or SDK.

The specified framework can be found at:
  - https://aka.ms/dotnet-core-

[2020-09-07 12:38] yogkumgit commented on #2151
@msbemba Thank you very much for the contribution and updating the documentation with PR. @forester123 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-07 17:41] msbemba commented on #2734
@LeonardPeris Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2770

Thanks
Sri

[2020-09-07 18:17] msbemba commented on #2738
@LeonardPeris Thank you for your feedback. I have added the Information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2771. Once this is approved by the author you will see the changes in the document.

Thanks
Sri

[2020-09-07 18:28] denisebmsft commented on #2742
Hello @sdickson02. Sorry you are running into an issue. Can you please tell us to which article(s) this issue applies? It will help us route the questions correctly.

[2020-09-07 18:34] msbemba commented on #2742
@sdickson02 Thank you for your feedback. I think you are referring to https://docs.microsoft.com/en-us/microsoft-365/enterprise/modern-desktop-deployment-and-management-lab?view=o365-worldwide

I'll download and deploy this today and let you know if there are any changes required in the documentation. Meanwhile, If this is not the correct document, let us know which one you are referring to.

Than

[2020-09-07 18:40] sdickson02 commented on #2742
@denisebmsft @msbemba Yes that is the correct article, thank you! Apologies for not including it in my original post.

[2020-09-07 18:48] msbemba commented on #2744
@groves226 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/2772

Thanks
Sri

[2020-09-07 18:50] Bertug opened #2773 "Global Settings"
The feature is now under Global Settings.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b24a80e-c6fd-97e9-b251-b2cbe8509ba6
* Version Independent ID: 58029e4e-c992-c4c4-ee68-9cc70cbc67be
* Content: [Turn on Office 365 ATP - SharePoint, OneDrive, & Teams - Office 365](https://docs.microsoft.com/en-us/microsoft-365/secu

[2020-09-07 18:54] msbemba commented on #2755
@ckssaas Thank you for your feedback. I was able to follow the instructions and the UI is aligned. Could you please verify if you have the matching Licenses and Permissions?

You can check - https://docs.microsoft.com/en-us/microsoft-365/compliance/get-started-core-ediscovery?view=o365-worldwide for more information.

Thanks
Sri

[2020-09-07 19:02] msbemba commented on #2757
@sn131678 Thank you for your feedback. It does not begin from the date when the password change policy was enabled. the password still ages based on the pwdLastSet attribute.

More information can be found at -https://docs.microsoft.com/en-us/azure/active-directory/authentication/concept-sspr-policy

Hope this helps!

@yogkumgit There are no changes needed in the document. Please proceed with clos

[2020-09-07 21:19] msbemba commented on #2561
@JBHorne Thank you for your feedback. I found the same behavior and worked with the PG/Author and found that this is a feature gap they are tracking separately(to be resolved/updated soon) – However, M365 groups can be used as security groups, but it’s not recommended.

@yogkumgit Above is the update we received from PG. This can be closed as they are tracking this feature gap separately.

Thanks

[2020-09-07 22:19] abulooz opened #2775 "Content incorrect"
On the page it says "In the admin center, select Users > Active users." but in my "admin center -> users" all I see is "All Users (preview) and there is no "User templates" option anywhere on the page :(

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a03342-9a4b-cf1d-9a3b-7bdee0fe6b09
* Version Independent ID: 260c83

[2020-09-07 23:19] samuelleung83 opened #2776 "Does not give enough/any instruction on how to delete."
Although there is a title of "Find and delete suspicious email that was delivered", the article doesn't go into any detail about Deleting/Actioning the suspicious emails after they have been identified as threats.

Although it is simple enough without explanation, it would be good if each of the Actions were described in the article. As well as how to get back to the "Action Log" once an action ha

[2020-09-08 09:23] yogkumgit commented on #2757
@msbemba Thank you very much for the contribution and sharing this explanation. @sn131678 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-08 09:23] #2757 closed

[2020-09-08 09:29] yogkumgit commented on #2561
@msbemba Thank you very much for the contribution and sharing this explanation. @JBHorne Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-09-08 09:30] #2561 closed

[2020-09-08 11:29] msbemba commented on #2753
@MartinSGill Thank you for your feedback. DKIM supports all the headers you had mentioned like Date, From, Message-ID, Subject, and To. I would recommend you contact our support team via the need help option on the admin center to get this fixed /escalated to the product group if it is a BUG or an issue with your tenant. Post interaction with support if you think there is a change required on the

[2020-09-08 13:29] yogkumgit commented on #2754
@markjjo  Please reply and help us in resolving this issue. Thanks.

[2020-09-08 13:30] yogkumgit commented on #2756
@BrendaCarter  Please reply and help us in resolving this issue. Thanks.

[2020-09-08 13:54] ianalderman opened #2777 "Link to TechNet Gallery"
Hey Team, some of the links here refer to the resource here https://gallery.technet.microsoft.com/Azure-Responses-to-CSA-46034a11.  This has a banner saying it will be retired.  Should this page be updated (and hopefully the excellent content on the Gallery moved to a new home)?

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2020-09-08 13:57] MartinSGill commented on #2753
Thanks @msbemba you are correct, we figured that it was a combination of things that led us to the wrong conclusion. Apologies.

[2020-09-08 13:57] #2753 closed

[2020-09-08 14:44] ckssaas commented on #2755
Hi Sri,

Since eDiscovery search & export was available in the Security & Compliance center, and since this page doesn't mention licensing requirements, I moved forward with the instructions as if there weren't any licensing requirements. I suggest adding a "requirements" section/link at the top of the page.

This would not have been as confusing if there weren't multiple eDiscovery tools and comp

[2020-09-08 15:22] Loftys opened #2778 "Bad aka.ms URL"
"Microsoft GDPR Data Discovery Toolkit at https://aka.ms/gdprpartners."
The URL takes you to MS homepage and not anything relating to the GDPR Data Discovery Toolkit.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55211697-1a2f-bf38-8f77-5c9bd1e74fa6
* Version Independent ID: 5b549922-54b0-2216-10fb-60ea51d6fc55
* Cont

[2020-09-08 15:25] Canis-Lupis opened #2779 "What about retention policies in Information Governance--Retention?"
These instructions are very different than the retention policies that can be setup in Security & Compliance/Information Governance/Retention.  Do retention polices setup in EAC as described here override those set up in Information Governance/Retention? Or the other way around?  Even the Retention Policies tab in EAC states, "You can now create a single retention policy in the Office 365 Security

[2020-09-08 15:25] #2761 closed

[2020-09-08 16:37] haneef95 opened #2780 "How to get the version of office installed on each device / activation?"
Hi,

This doc goes into the details of how to get a list of activations, but, it doesn't have details on how to get more info for each activation.

Could this be added please?

https://docs.microsoft.com/en-us/microsoft-365/admin/activity-reports/microsoft-office-activations?view=o365-worldwide

Thanks,

[2020-09-08 17:09] chrisda commented on #1940
@arourke, do you think it's the sender's email address/domain that's triggering the alert? If so, the usual suspects are available for safe listing as described in [Create safe sender lists in EOP](https://docs.microsoft.com/microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365).

If you think the URLs themselves are triggering the alerts, there's a new feature that all

[2020-09-08 17:27] pebaum commented on #1423
yes this is intentional.

[2020-09-08 17:27] #1423 closed

[2020-09-08 17:33] pebaum commented on #2604
looking into it.

[2020-09-08 17:34] BrendaCarter commented on #2756
Hi Dean, thank you for checking in! I am looking to see if we can resource an update to these. Have these action plans been valuable? How have you used these?

[2020-09-08 18:05] msbemba commented on #2570
@yogkumgit The Link to contact support has been added to the document in case there are issues removing the domain. Please close the issue.

Thanks
Sri

[2020-09-08 19:54] Arkthos opened #2782 "Permissions"
[Enter feedback here]
The page doesn't mention pre reqs on this implementation, as part of the entitlement management reqs you need P2 in the tenant but this is not mentioned here, also creating an access packahge requires to have Global admin or user admin roles in the directory but I cannot see mention of what permission I need to create the extranet.

The article should be more explicite on wha

[2020-09-08 20:34] sysadmin-scs opened #2783 "License requirements"
Article states AAD P2 is required, and that it's available in Enterprise Mobility + Security E3, which is incorrect.

![image](https://user-images.githubusercontent.com/62264844/92524921-e84c9700-f1f0-11ea-8648-485e5fec9b6a.png)

I'd also like to confirm that Microsoft Defender Advanced Threat Protection is indeed a prerequisite. It seems that you should be able to run Microsoft Managed Desktop wi

[2020-09-08 20:46] jaimeo commented on #2783
@dannoakes can you advise?

[2020-09-08 21:40] greganth1 opened #2784 "Client for which this does not currently work"
There should be a section in the document or the FAQ to cover supported clients. The split-tunnel configuration covered works for desktop clients but does not work for Teams running in a browser.  Browsers where supported use WebRTC and the media stack call setup logic is different from that of the desktop client.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It i

[2020-09-08 23:06] Enigma102083 opened #2785 "Basic Authentication is still used"
The GetFolderSearchParameters.ps1 script still uses Basic Auth and can't connect to Office 365 anymore.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 136c161f-13b8-fb62-01de-53b1219b5290
* Version Independent ID: f1843c14-29da-d831-c7ce-9e3f624a01ed
* Content: [Use Content Search for targeted collections - Microsoft 3