[2021-02-03 16:44] ingepepe commented on #4046
I like it!

________________________________
From: Carol Bailey <notifications@github.com>
Sent: February 3, 2021 09:27 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Pepe <ingepepe@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Retention Policies vs. Retention Labels with Label Policies (#4046)

Updated the t

[2021-02-03 17:06] cabailey commented on #4046
Great - in that case, I'll close this issue.  Thanks for your feedback!

[2021-02-03 17:06] #4046 closed

[2021-02-03 17:09] vivitribal opened #4057 "Wrong command"
It should be set-organizationconfig not set-organization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 749a8389-eda6-3059-b713-5d0b3755fe9c
* Version Independent ID: 53000b70-b561-ec33-0b94-f0c26650548b
* Content: [Use a QR code to sign-in to the Outlook mobile apps - Microsoft 365 admin](https://docs.microsoft.com/en

[2021-02-03 19:07] cmcatee-MSFT commented on #3686
@msbemba I received the call info from @ivaydesign and have forwarded it internally for investigation. Thanks!

[2021-02-03 19:54] TamlinStryk commented on #4056
To follow up on this I believe I've discovered a potential solution to the root cause of this issue.

If the DAX that is used to create the calendar is replaced with the following:

Calendar = CALENDAR(DATE((YEAR(NOW())-2),1,1),DATE((YEAR(NOW())+2),1,1))

It should create a floating calendar that updates as time moves forward.

Unfortunately I am still stuck as attempting to modify or delete the c

[2021-02-03 20:35] martinrobson opened #4058 "Ori Epstein"
[Enter feedback here]

Are they related to Jeffry Epstein?

Maybe change his name eh
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bec871b-790f-6826-b8f8-d1b7830c49ab
* Version Independent ID: 460db4e8-7f93-60a3-4889-f2d8f08fc75f
* Content: [Configure junk email settings on Exchange Online mailboxes - Office 365](http

[2021-02-03 22:01] Mark-Cates commented on #3766
"If you have been designated partner of record (Associated Partner) for a Microsoft cloud org"

Unfortunately, there seems to be more to it than that so I plan on submitting a support request. We are definitly listed as "authorized to work with your organization"

But the switch option still doesn't show up.

thanks

[2021-02-03 22:09] chrisda commented on #4058
I'll take that under advisement.

Closing

[2021-02-03 22:09] #4058 closed

[2021-02-04 02:36] virtualcomputerguy commented on #3446
As I stated originally I have ran this on multiple systems.
Ran it again.. Deleting everything follow eveyr step of the instructions. Finally got all machines to build. The servers do not start so the workstations won't provision. Same issue I had originally.
But at least everything built again.
Was really hoping to get this built it takes so long to set up manually.
I have other workstations buil

[2021-02-04 13:31] anPalmei opened #4063 "Able to SideLoad addins after Store is disabled"
Hi,

Currently if the Office Store is disabled users can still sideload addins. This happens online and on desktop app.

Can you please review issue #3121 where the note "Preventing users from accessing the office store will also prevent them from Sideloading Office Add-ins for testing." was added.

[2021-02-04 15:27] yogkumgit commented on #4009
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rpsenski Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 15:27] #4009 closed

[2021-02-04 15:29] yogkumgit commented on #3941
@msbemba Thank you very much for the contribution and updating the documentation with PR. @o-l-a-v Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 15:29] #3941 closed

[2021-02-04 15:35] yogkumgit commented on #3686
@msbemba Thank you very much for the contribution and sharing this explanation. @ivaydesign Hope it helped. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-04 15:35] #3686 closed

[2021-02-04 21:17] jimmylindo commented on #1447
@Maartenf2 did you find any solution on this issue? I am experience exact the same.

[2021-02-05 13:07] yogkumgit commented on #2756
@BrendaCarter Thank you very much for digging deep into it.  @DeanGross We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that

[2021-02-05 13:07] #2756 closed

[2021-02-05 13:20] yogkumgit commented on #3949
@CMS009 Please share your comment if you have any?

[2021-02-05 13:24] yogkumgit commented on #4031
@chrisda  Thank you very much for sharing this explanation. @Pascal-KOTTE Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will

[2021-02-05 13:24] #4031 closed

[2021-02-05 13:40] yogkumgit commented on #4029
@StuEwen Thank you very much for  updating the documentation with PR #4060 . @webash Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-05 13:40] #4029 closed

[2021-02-05 13:42] yogkumgit commented on #3999
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2021-02-05 14:26] yogkumgit commented on #3950
@cabailey Thank you very much for sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-05 14:26] #3950 closed

[2021-02-05 14:31] msbemba commented on #4005
@DeanGross Thank you for your feedback. I have added the required permissions to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4073

Accounts assigned the following Azure Active Directory (AD) roles can Turn On  Microsoft 365 Defender Preview features

- Global administrator
- Security administrator
- Security Operator
- Global Reader

Thanks
Sri

[2021-02-05 14:44] msbemba commented on #4020
@Jmartinez589 Thank you for your feedback.

To run PowerShell scripts, create a service account with a strong password and don't enable the account for two-step verification.

After Azure AD Multi-Factor Authentication is enabled on a user's account, app passwords can be used with most non-browser clients like Outlook and Microsoft Skype for Business. However, administrative actions can't be perfo

[2021-02-05 14:55] msbemba commented on #4026
@pmdci Thank you for your feedback.

1) In step-by-step-instructions-for-the-target-tenant-admin (step 3) we have discussed about connecting to Exchange online. - https://docs.microsoft.com/en-us/microsoft-365/enterprise/cross-tenant-mailbox-migration?view=o365-worldwide#step-by-step-instructions-for-the-target-tenant-admin
2) The scripts show fabrikam as the source and Contoso as a target.  Could

[2021-02-05 15:02] msbemba commented on #4028
@matuhinal Thank you for your feedback. We have added the phrase to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4074

Thanks
Sri

[2021-02-05 16:30] msbemba commented on #4024
@mcox13579 Thank you for your feedback. the screenshot is correct, but the navigation has changed as assign more option is not available anymore.

After you click on manage licenses-->Apps--> Shows apps for Sharepoint syntex. I have updated the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4075

Note that Sharepoint syntex is an addon that needs to be purchas

[2021-02-05 16:39] markjjo commented on #4020
@Jmartinez589 Thanks @msbemba for the information. Here is more info about App passwords: https://docs.microsoft.com/en-us/powershell/exchange/app-only-auth-powershell-v2

Also, I will update the script in this topic to use modern auth to connect to SharePoint Management Shell. And close both PS session when script is complete.

[2021-02-05 16:39] #4020 closed

[2021-02-05 19:01] rpowelson opened #4077 "Anti-Spam IP Delist Portal is down"
After trying to delist my IP, I get the following message from the sender.office.com site:

Step 1: Our messaging service has experienced a temporary issue, please resubmit your information below.

This happens every time after submitting.

[2021-02-05 20:06] KCCross commented on #3494
sure.

[2021-02-05 20:11] KCCross commented on #3869
See the PR. Closing this issue.

[2021-02-05 20:11] #3869 closed

[2021-02-05 21:54] JoeDavies-MSFT commented on #3446
@cdmm12 Colin, can you help this customer? Thanks

[2021-02-06 15:03] michaelcizmar opened #4080 "Licensing Information Is Incorrect"
I believe the license information is incorrect.  The Apps that you can assign via the License are:

- Graph Connectors Search with Index
- Topic Experiences

There does not seem to be a "Viva Topics license" anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6989b324-615d-47d2-fadb-5664c4dfeb13
* Version Independ

[2021-02-06 19:47] DeanGross commented on #4005
Thanks, but are you sure that Global Reader can do this, that does not seem appropriate

[2021-02-08 00:19] nikki-c opened #4083 "Meetings and external users"
The rules supplied in the section Meetings and external users for guest users and external users joining from another Microsoft 365 tenant also apply to Teams chats and calls

All Teams chats and calls are stored as compliance records in the Guest users shadow mailbox

Federated users in a call or chat would retain the compliance records in their own tenant

---
#### Document Details

⚠ *Do not ed

[2021-02-08 01:23] ralish opened #4084 "Default mailbox audit configuration appears out-of-date"
The mailbox actions which are listed as audited by default for each of the three roles (Admin, Delegate, Owner) appear to be out-of-date with what's currently the case on Exchange Online.

For all three roles:
- The _MailItemsAccessed_ and _Send_ actions are documented as being audited by default but are not contained in the set of audited actions on a mailbox
- The _ApplyRecord_ action is include

[2021-02-08 05:22] yogkumgit commented on #4077
@rpowelson Please indicate which document you are referring to for your feedback or update. Thanks.

[2021-02-08 05:31] yogkumgit commented on #4026
@msbemba Thank you very much for the contribution and sharing this explanation. @pmdci Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-08 07:18] vigneshvdm opened #4085 "SharePoint Syntex - Managed Metadata entity extractor not populating values from Synonyms"
I have created an extractor and added few labels

When the labels match the exact terms, the managed metadata column is getting populated. But when the label is defined as a synonym for a term in term store management, the column is not getting populated with the respective term.

For instance, I have a term called Metal which has Iron, Silver defined as synonyms. When the document has the word Si

[2021-02-08 07:20] vigneshvdm opened #4086 "SharePoint Syntex - Managed Metadata entity extractor not populating values from Synonyms"
I have created an extractor and added few labels

When the labels match the exact terms, the managed metadata column is getting populated. But when the label is defined as a synonym for a term in term store management, the column is not getting populated with the respective term.

For instance, I have a term called Metallurgy which has electrolyte, electrolysis defined as synonyms. When the docume

[2021-02-08 10:17] dbona75 opened #4087 "Please remove the contradiction"
[Enter feedback here]

Hello :

the document has a contradiction :

At the beginning it says " You can also allow access to on-premises resources like line of business (LOB) apps, file shares, and printers.".

At the end it says " Users won't be able to authenticate to applications that depend on Active Directory authentication"
(that is false, AADJ computers are able to obtain Kerberos TGS from d

[2021-02-08 11:26] lightupdifire opened #4088 "QR code sign-in for Azure Authenticator/My Sign-ins | Passwordless"
Hello,

The QR code could be a good option for a Passwordless, as for "first time sign-in" option.
Any ideas were to look to check how QR code sign-in can be implemented in Azure Authenticator setup or in access to My-Signs/MFA-setup page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 749a8389-eda6-3059-b713-5d0b3755f

[2021-02-08 12:58] yogkumgit commented on #4086
Duplicate #4085 Closing

[2021-02-08 12:58] #4086 closed

[2021-02-08 13:51] yogkumgit commented on #4024
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mcox13579 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-08 13:51] #4024 closed

[2021-02-08 14:06] richard-artes opened #4089 "Reports > Usage page: hyperlink does not work"
Reports > Usage page

The hyperlink on Usage does not go anywhere. I think it needs updating.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9262b85d-883b-2b04-07ee-d4120dc7669f
* Version Independent ID: 7244aa48-52b4-1bc3-7c94-f87061869e41
* Content: [Microsoft 365 Reports in the admin center - Microsoft Office activa

[2021-02-08 14:35] 2bad2furious opened #4090 "The phone line does not appear to be operated"
I have contacted this phone line multiple times during the last few days from multiple phones at during times but always between 9AM - 6PM.  All I hear is something like "The line is experiencing large amount of poeple calling in." and "You can connect with our technician faster by creating a new ticket in the office administration panel".

---
#### Document details

⚠ *Do not edit this section. I

[2021-02-08 14:39] ekdegerman opened #4091 "Using the Office 365 CDN for downloads?"
In the section "Determine which static assets you want to host on the CDN", one of the examples listed as suitable for the Office 365 CDN is "Large files like executables and installation files". The section also says "Larger files such as installation executables can be downloaded from the CDN, delivering a positive performance impact and subsequent reduction of the load on your SharePoint Online

[2021-02-08 19:17] cmcatee-MSFT commented on #4090
@2bad2furious I'm sorry to hear you're having trouble contacting support. Would you please send the following information directly to me (do not post your response here), at cmcatee@microsoft.com

- The # you tried to call from
- The support # you called
- Date of the call
- Time of the call, with time zone
- IVR options selected, if any
- Call results (description of the caller experience after c

[2021-02-08 22:51] scottyv opened #4094 "Typo: Should be G3, not G5"
There is typo on this page:
Microsoft 365 G5 subscription (paid or trial version)
Microsoft 365 G5 subscription + the Microsoft 365 G5 Compliance add-on
Microsoft 365 G5 subscription + the Microsoft 365 G5 Insider Risk Management add-on

The last two lines should says: G3 and not G5.

Scott
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-02-08 22:54] robmazz commented on #4094
@scottyv  - yes, thanks! I will correct now and republish.

[2021-02-08 22:54] #4094 closed

[2021-02-08 23:26] MikePlumleyMSFT commented on #4080
@yogkumgit note that I've updated this via an internal PR.

[2021-02-09 01:15] markjjo commented on #4084
@ralish Thanks for the feedback. ApplyRecord has been added to the default set for all logon types. I will update the documentation, so thanks for the heads up.

MailItemsAccessed and Send are E5 mailbox audit actions (also called ["crucial events" in Advanced Audit](https://docs.microsoft.com/en-us/microsoft-365/compliance/advanced-audit?view=o365-worldwide#access-to-crucial-events-for-investigat

[2021-02-09 01:15] #4084 closed

[2021-02-09 02:11] hwkwicre opened #4095 "Incorrect links"
For more information about these cmdlets, see Set-SPOTenantCdnPolicy and Get-SPOTenantCdnPolicies.

These 2 links don't seem to be the correct links.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8cfe2b0-c14d-1083-7c88-a91e58593cfa
* Version Independent ID: 2d15076c-0dcd-6bd6-e0fb-f8ac5ffd0091
* Content: [Use Office

[2021-02-09 03:43] TamlinStryk commented on #4056
I've found a work around to get this template working again, if you remove the "TotalIssueWarningQuota(KB/MB/GB/TB)" and "StorageUsed(KB/MB/GB/TB)" columns in the TenantMailboxUsage table you can then edit the calendar expression to extend the calendar.

I would suggest replacing it with something like:

Calendar = CALENDAR(DATE((YEAR(NOW())-2),1,1),DATE((YEAR(NOW())+2),1,1))

in order to prevent

[2021-02-09 05:18] msbemba commented on #4005
@DeanGross Thank you. I have updated the PR accordingly.

[2021-02-09 05:21] msbemba commented on #3986
@hrfmjp Thank you for your feedback. I have tested and it is not valid for the group.unified.guest. There is no license requirement as such to make these changes.

Hope this helps!

[2021-02-09 05:29] msbemba commented on #3972
@denishol Thank you for your feedback. I have updated the document to include Office 365 E3* and
 Enterprise Mobility + Security E3.

This can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4096

Thanks
Sri

[2021-02-09 05:32] msbemba commented on #3766
@Mark-Cates Thank you for the update. Please go ahead with your plan and submit a support request. Do let us know if there are any changes required in the document.

Thanks
Sri

[2021-02-09 07:25] #3972 closed

[2021-02-09 09:16] leenana365888 opened #4098 "Preview of encrypted emails"
The statement below implies that we will not be able to preview protected email messages:
![image](https://user-images.githubusercontent.com/76983722/107341743-54159180-6afa-11eb-947e-8fb18b38c440.png)

However in my tenant, I am able to preview them as the eDiscovery Manager.. emails that are protected by OME and those that are protected by sensitivity labels.

May I ask for your confirmation ple

[2021-02-09 09:40] mitsubishop opened #4099 "Moving from M365 E3 to Business Premium - Office apps"
In this article it suggests the following when upgrading from M365 Business Premium to M365 E3.

"Your Microsoft 365 Apps for business client installed on your devices will automatically begin to use the features of Microsoft 365 Apps for enterprise. After migration, you can now use:"

Does this also work the opposite way round? Does moving from Office Apps for Enterprise to Office Apps for Busine

[2021-02-09 10:26] yogkumgit commented on #4028
@msbemba Thank you very much for the contribution and updating the documentation with PR. @matuhinal Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-09 10:26] #4028 closed

[2021-02-09 10:36] yogkumgit commented on #3986
@msbemba Thank you very much for the contribution and sharing this explanation. @hrfmjp Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-09 10:36] #3986 closed

[2021-02-09 14:13] msbemba commented on #4089
@richard-artes Thank you for the feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4100

Thanks
Sri

[2021-02-09 14:35] msbemba commented on #4088
@lightupdifire Thanks again for your feedback. I checked and found Currently we only have the option to use QR code to add a School/work account o the authenticator but there is no option to implement a QR code sign-in in the Azure Authenticator setup or in access to My-Signs/MFA-setup page.

We will have a new document created when the feature becomes available.

Thanks
Sri

[2021-02-09 14:40] Bob-Fx opened #4101 "Bad links on page https://docs.microsoft.com/en-us/microsoft-365/admin/email/configure-a-shared-mailbox?view=o365-worldwide"
[Shared mailboxes link opens page with error > Something went wrong and we couldn't get the page to display.
Error code: ‎c9eb3027-29b8-41fc-9566-61fd419821ca‎]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 198eb002-1d99-5a13-05d4-34d1cbb8d9d9
* Version Independent ID: 6218b3c9-f0a2-ed0e-ef0a-c99c3c280030
* Content: [

[2021-02-09 14:41] msbemba commented on #4087
@dbona75 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4102

Thanks
Sri

[2021-02-09 15:03] msbemba commented on #4083
@nikki-c Thank you for your feedback. We have added this information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4103

Thanks
Sri

[2021-02-09 15:18] msbemba commented on #4057
@vivitribal Thank you for your feedback. The document is updated with set-oraganizationconfig. I have reviewed and the rest of the details look good. We will be closing this Issue as there are no changes required in the document.

CC: @yogkumgit

Thanks
Sri

[2021-02-09 15:32] bholzmmc opened #4104 "Limitations on Users and Groups"
This page needs a reference to the number of users and/or groups that can be included in a label policy.  It should also clarify whether nested groups can be used - e.g. members of a group reference in the label policy can be groups as well as users.  Any limit or constraint should be added e.g.  number of levels of nesting (depth), number of nested groups,  number of groups a user is a member of,

[2021-02-09 16:40] DeanGross opened #4105 "missing guides"
There used to many TLGs, now this page only has a link to one, what happened to the others?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 078ede0e-a27c-1aeb-bf64-7a0da4839dbd
* Version Independent ID: d17b3b15-5e9e-ec9c-d1f0-921dec05a89b
* Content: [Test Lab Guides for solutions and scenarios](https://docs.microsoft.c

[2021-02-09 17:12] msbemba commented on #4054
@yutoy1439 Thank you for your feedback. I'm checking with the author and will update you shortly.

Thanks
Sri

[2021-02-09 17:20] msbemba commented on #4063
@anPalmei Thank you for your feedback. This was not the case earlier in 2020 so I'll test and update the document if need be.

Thanks
Sri

[2021-02-09 17:25] msbemba commented on #4007
@ChrisOnSecurity Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4107

Thanks
Sri

[2021-02-09 17:26] msbemba commented on #4003
@DeanGross Thank you for your feedback. I Shall consolidate and update the document accordingly.

Thanks
Sri

[2021-02-09 17:32] JoeDavies-MSFT commented on #4003
@DeanGross Hi Dean. I have asked the writer of the Azure AD article to correct their reference to the IDFix content back to this article. IDFix is a deprecated tool. After the fix, the single source of AD DS domain preparation will be this article.

[2021-02-09 17:35] JoeDavies-MSFT commented on #4105
@DeanGross Hi Dean. I have added a link in this article to the larger set of Microsoft 365 Test Lab Guides at https://docs.microsoft.com/en-us/microsoft-365/enterprise/m365-enterprise-test-lab-guides?view=o365-worldwide. The update should publish today. Thanks for letting us know.

[2021-02-09 17:35] #4105 closed

[2021-02-09 22:23] JoeDavies-MSFT commented on #4099
@mitsubishop Moving back to Microsoft 365 Business would not require a re-installation. Thanks for your question.

[2021-02-09 22:23] #4099 closed

[2021-02-09 22:32] ComputerHabit opened #4115 "Better Description of the Roles to be Copied is needed."
The article makes mention of creating new roles for eDiscovery Manager and Investigator, naming them after the fictitious companies.   It does not clarify if you are to make a copy of the existing eDiscovery Managers role and call it Investigator or if you are to copy the Investigator Role.  This role has additional permissions the Managers role does not.

Also if the instruction is to copy the eD

[2021-02-09 23:06] cabailey commented on #4104
@bholzmmc If there were limits on the number of users and groups that could be included in a label policy, yes, this is where we would document that. However, there are no technical limits for either of these.  A while ago, I believe there was a problem with nested groups but that wasn't by design - it was a bug that's now fixed.

I'm told label policies don't have technical limitations on the num

[2021-02-09 23:16] rsgmodelworks opened #4116 "issue with microsoft feedback"
requiring a github login for feedback on help pages is unhelpful.  the old system was better.  wanting me to  identify myself would be one thing but requiring a login is intrusive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 073882cd-36d0-b95a-77b2-aadd06fa34a5
* Version Independent ID: 463f2f77-3fb0-8078-5b49-87874

[2021-02-09 23:18] rsgmodelworks opened #4117 "not the page microsoft hands out"
as of yesterday 2/8/2021 this is not the page microsoft hands out when you talk to support.  It would be good if thee things were consistent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 073882cd-36d0-b95a-77b2-aadd06fa34a5
* Version Independent ID: 463f2f77-3fb0-8078-5b49-878747f2842b
* Content: [Responding to a Com

[2021-02-09 23:20] rsgmodelworks opened #4118 "issue using github for feedback"
when you click the github link for feedback it drops you into github making it difficult to get back to the page you were looking at.  Giving feedback should split off to a separate page, not act as a roach motel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 073882cd-36d0-b95a-77b2-aadd06fa34a5
* Version Independent

[2021-02-09 23:30] denisebmsft commented on #4118
Hello @rsgmodelworks. Thank you for posting your feedback here. We will pass it to our GitHub team. As this isn't a specific documentation issue, I am going to close this issue for now. However, please know that your feedback will be shared with the correct team.

[2021-02-09 23:30] #4118 closed

[2021-02-09 23:31] denisebmsft commented on #4117
Hello @rsgmodelworks. Thank you for the feedback! Can you tell us which page you were pointed to when talking to support? It will help us resolve the issue.

[2021-02-09 23:34] denisebmsft commented on #4116
Hello @rsgmodelworks. Thank you for posting this! There are two ways to submit feedback: (1) Open an issue (as you have done here); and (2) Use the "Is this page helpful?" rating mechanism. As soon as you choose Yes or No, you can submit your feedback. Verbatims from #2 come in anonymously.... that is, you shouldn't have to sign in to leave a comment that way.

[2021-02-09 23:34] #4116 closed

[2021-02-09 23:53] markjjo commented on #4115
@ComputerHabit I assume that you are referring to [this guidance](https://docs.microsoft.com/en-us/microsoft-365/compliance/set-up-compliance-boundaries?view=o365-worldwide#step-3-create-a-role-group-for-each-agency) from the article able compliance boundaries: "We recommend that you create a role group by copying the built-in eDiscovery Managers group, adding the appropriate members, and removing

[2021-02-10 00:10] cabailey commented on #4083
@nikki-c  I've been asked to reject the PR because it was felt that this information belonged in the existing section about meetings and external users. Since we have the information about where this information is stored for external users, what it is exactly you think is missing or needs modifying?  Is it to make the reference to where messages are stored for meetings also include chat messages?

[2021-02-10 00:52] yoshimin-msft opened #4119 ""SharePoint Information Rights Management (IRM) and sensitivity labels" section"
Hi
In this section "SharePoint Information Rights Management (IRM) and sensitivity labels", there is a statement about he behavior
 when we can use both protection solutions together as follows:

"If you label a file using Office on the web, any encryption settings from the label are enforced. For these files, coauthoring, eDiscovery, DLP, and search are supported."

However, it seems like we can'

[2021-02-10 07:34] lightupdifire commented on #4088
@msbemba
Thanks, Sri! This QR code is like replacing username-password sign-in behavior, is it something that can be generated by ourselves, or only MS can do this for a moment?

[2021-02-10 11:34] yogkumgit commented on #4119
@yoshimin-msft Please indicate which document you are referring to and have feedback about. Thanks

[2021-02-10 12:04] yogkumgit commented on #4087
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dbona75 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-10 12:04] #4087 closed

[2021-02-10 12:24] yogkumgit commented on #4007
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ChrisOnSecurity Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-10 12:24] #4007 closed

[2021-02-10 13:38] imcdnzl opened #4123 "Add info to paragraph around reducing licenses."
In the section "What if I don't see the Buy licenses or Remove licenses buttons?"

I would modify this paragraph:
See Add licenses to a subscription paid for using a product key.

to:
See Add licenses to a subscription paid for using a product key. When you add an extra product key, this will also allow you to reduce the existing license count if you wish.

The reason for this change is that it's

[2021-02-10 13:38] imcdnzl commented on #4123
In case it's not clear this is for page https://docs.microsoft.com/en-gb/microsoft-365/commerce/licenses/buy-licenses?view=o365-worldwide#what-if-i-dont-see-the-buy-licenses-or-remove-licenses-buttons

[2021-02-10 14:17] ComputerHabit commented on #4115
Yes, it's just as an example it leaves a few questions out there.  I had to come to some conclusions on the matter that a tiny bit of clarification might have saved time.  As mentioned I had to review the permissions involved to determine that what I first understood wasn't what was meant.  Then come to a conclusion the additional group was just a way to show you could limit permissions if desired

[2021-02-10 15:06] msbemba commented on #4088
@lightupdifire I might have got confused. QR code is available now for Authenticator setup(adding account) but not for Azure or m365 portal login as of now. Do you mean you found  MS already using this feature to replace username and password?

Thanks
Sri

[2021-02-10 15:48] abdkha opened #4124 "Teams chat history in Cloud mailboxes"
[Enter feedback here]
Why do we have to use this option when searching for IM between users in the tenant when all our mailboxes are cloud-based, however we are in hybrid mode still. Can you please update section to state this clearly or link to another article that specifies to this situation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-02-10 16:17] Eternal-student opened #4125 "Information about the importance of the email address"
It might be worth explicitly saying whether the email address used to verify the delisting is important.  ie. as an MSP I'm not sure if using my own company email address will work or whether I need to use my customers email address and domain (or in fact the printer's email address which is what I'm trying to sort out) to delist the IP address.
Many thanks,
Eternal-student

---
#### Document deta

[2021-02-10 17:18] bholzmmc commented on #4104
Thank you Carol; I had a note from last year regarding the 200 entry limit in classic AIP and it was stated the same is true in UL (ref view it on GitHub<https://github.com/MicrosoftDocs/Azure-RMSDocs/issues/1189#issuecomment-644088534>).   I could not find any reference relating to the response  “scoped policy limit applies for unified labeling. I'll adjust the page so it is more clear in the nex

[2021-02-10 17:40] DJHConsult opened #4126 "How to use DKIM"
Reference your webpage https://docs.microsoft.com/en-gb/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide.  I have been in contact with the o365sup@microsoft.com case reference: 23884876.

The recommended host settings for DKIM CNAME Configuration entries for all entries in for custom domains are listed in this page as;

Host name:            select

[2021-02-10 18:47] meganbM365 opened #4127 "Question about Topic Discovery"
How long should it take the AI to discover and start suggesting Topics?

For reference: We set everything up on Feb 5 and have 0 suggested topics five days later. Perhaps this indicates a problem, but the documentation gives no indication of when we should consider troubleshooting...

[2021-02-10 19:57] denisebmsft commented on #4127
Hello @meganbM365! Can you please tell us to which article(s) your question applies? This will help us route this issue to the correct writer/team.

[2021-02-10 21:20] stephenc01 opened #4128 "Conflicting Documentation"
These example on how to enable archive on this page contradict the page below.

**You should not use the ArchiveStatus property value to check the status of the archive**
https://docs.microsoft.com/en-us/office365/troubleshoot/archive-mailboxes/archivestatus-set-none

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f195

[2021-02-10 21:35] anomalousdigitalemissions opened #4129 "Link to Reports > Usage not working"
Under the "Enable the template app" section, the "Usage" link is out of date.

Current link is https://go.microsoft.com/fwlink/p/?linkid=2074756, which redirects to https://admin.microsoft.com/Adminportal/Home?#reportsUsage, but returns error code: ‎ee24da56-82e7-47e1-8a37-475a4202d436‎.

The correct redirection link is probably https://admin.microsoft.com/#/reportsUsage.

---
#### Document Detail

[2021-02-10 21:49] GrantErickson opened #4130 "The Words 'a long time ago' are not helpful for knowing when to turn on Modern Auth."
We struggled with this for many hours. It would be good to know how many years ago this is. For example, new wording could be:
If your tenant was set up prior to January 1st, 2017, it is likely that you will need to turn on Modern Authentication in order to get features like Multi-Factor Authentication (MFA) to work in Windows clients like Outlook. To turn on Modern Authentication, follow these st

[2021-02-10 22:03] SeaGT opened #4131 "DLP policy override options"
You state:
  Blocks access, sends a notification, and allows override

But you don't expand on the override option.  What happens if a user wants to override, what is the process?  One of the options under Override is allowing a business justification - what exactly does that mean? I haven't found an explanation (or example) in your documentation.

---
#### Document Details

⚠ *Do not edit this se

[2021-02-10 22:56] markjjo commented on #4115
@ComputerHabit Thank you for your time and clarification. I went ahead and added a little more detail in the Contoso scenario that tries to clarify. For example, I added that role groups can also be used to control what tasks members can perform (defined by the roles assigned to the role group). I also added to the scenario that investigators should not be able to place holds or export content fro

[2021-02-10 22:56] #4115 closed

[2021-02-10 23:01] ComputerHabit commented on #4115
Great.  Thank you.

________________________________
From: Mark Johnson - MSFT <notifications@github.com>
Sent: Wednesday, February 10, 2021 4:56:39 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: David L Jenkins <david@computerhabit.net>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Better Description of the Roles to be C

[2021-02-10 23:14] markjjo commented on #4124
@abdkha Thanks for feedback, but not sure I understand or what you want stated more clearly. If you don't have on-premises users  who use Teams or who are not synched to AAD in your cloud organization, then you can leave the checkbox un-selected as it's not applicable. If users who use Teams only have a cloud-based mailbox in Exchange Online, then this checkbox won't have any affect.

Note that th

[2021-02-10 23:33] markjjo commented on #4128
@stephenc01 Thanks for the heads up about this and the link to the troubleshooting topic.

I will update the cmdlet examples in this topic to filter on ArchiveGuid (as mentioned in the troubleshooting topic), instead of ArchiveStatus. For example:

Get-Mailbox -Filter {ArchiveGuid -eq "00000000-0000-0000-0000-000000000000" -AND RecipientTypeDetails -eq "UserMailbox"}

and

Get-Mailbox -Filter {Arc

[2021-02-10 23:33] #4128 closed

[2021-02-10 23:38] meganbM365 commented on #4127
https://docs.microsoft.com/en-us/microsoft-365/knowledge/topic-experiences-discovery
"979c48e9-93d6-1e8e-4d17-8f47a1313219"

[2021-02-10 23:56] brkdncr opened #4132 "powershell example is incorrect"
the powershell command is looking for "Company Administrator" which doesn't exist.  It should be "Global Administrator"

Get-AzureADDirectoryRole | where { $_.DisplayName -eq "Company Administrator" } | Get-AzureADDirectoryRoleMember | Ft DisplayName

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a37f7f-cdbf-b609-978

[2021-02-11 01:11] PeeyushSri opened #4133 "Priority and Rules"
Article needs to provide a clarity on Priority and Rules

Can Priority 0 Have Rule1, Rule2, Rule 3 ...

If not then we need to be clear that

Priority o Rule 1
Priority 1 Rule 2
----
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ac1028-da5c-2f6b-a8ef-ae21b0b4b858
* Version Independent ID: 22cdc

[2021-02-11 01:24] HarrisburgUSysAdmin opened #4134 "Reporting a Microsoft Attack Simulator Phishing Campaign"
What message will the user get when they report a simulated phishing campaign sent from the Microsoft Attack Simulator?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445892a6-5948-33e4-ce60-72670829d8ef
* Version Independent ID: a7407a6f-6563-9a4b-4a95-7ed908ab322b
* Content: [Enable the Report Message add-in - Office

[2021-02-11 01:26] HarrisburgUSysAdmin opened #4135 "User reports phishing campaign."
Does the user get a "congratulations" message if they report a phishing campaign email sent by IT?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fbdcbd5-7bd2-6b55-b72c-cbedfdea776c
* Version Independent ID: 1e6198f8-6ef1-6227-c9e8-f31944a5d1db
* Content: [Attack Simulator in Microsoft Defender for Office 365 - Office

[2021-02-11 01:52] yoshimin-msft commented on #4119
Hi
Thanks for checking my request.

Here is the link that includes the statement that I would like to make sure of.
https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files?view=o365-worldwide#sharepoint-information-rights-management-irm-and-sensitivity-labels

From my test, with Office on the web, I can always open the documents on the IRM enabled lib

[2021-02-11 03:34] vigneshvdm commented on #4085
Do we have any update on this issue? Synonyms are used extensively used by the business and Syntex might not be the right product for automatically tagging documents if Syntex doesn't have the ability to recognize synonyms and add the relevant term

[2021-02-11 08:22] lightupdifire commented on #4088
@msbemba
No, I didn't find anything, I'm just re-reading all docs and look for a solution for "first-time sign-in with Passwordless",
I see a new option become available in Azure tenant called "Temporary access pass", but seems no doc for it as well.
Thanks for all effort, I hope new docs will come soon, so we can close this comment.

[2021-02-11 08:22] #4088 closed

[2021-02-11 09:44] anPalmei commented on #4063
@msbemba Hi, Thanks. Please keep me updated.

[2021-02-11 09:45] ijrzhong opened #4136 "Change the organization name in org settings does not change the company name in Sold-To Address I have tested only change the letter case causes the problem."
Change the organization name in org settings does not change the company name, which is greyed indicating it cannot be changed, in Sold-To Address.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 50536931-a7c8-620a-aae0-9c4baec51f74
* Version Independent ID: 27ce5737-2b34-cb55-07b0-c8450c0e5d62
* C

[2021-02-11 12:21] yogkumgit commented on #4049
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2021-02-11 12:23] yogkumgit commented on #4077
@rpowelson We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-02-11 12:23] #4077 closed

[2021-02-11 12:26] yogkumgit commented on #4057
@msbemba Thank you very much for the contribution and sharing this explanation. @vivitribal Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-11 12:27] #4057 closed

[2021-02-11 12:32] yogkumgit commented on #4080
@michaelcizmar document is updated through internal PR. Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-11 12:32] #4080 closed

[2021-02-11 12:45] yogkumgit commented on #3446
@cdmm12  Kindly answer and help us in resolving this issue. Thanks.

[2021-02-11 14:38] virtualcomputerguy commented on #3446
I went to download the new lab kit today but it is still the old kit. I
will just build a new one using the hydration kit. While this used to be a
good option something is not working correctly and the lack of support on
it is a bit frustrating. I have tried it on several machines with no
success.

Thanks,
Matt Sample
On Jan 29, 2021, 1:12 PM -0700, Joe Davies <notifications@github.com>,
wrote:

T

[2021-02-11 14:44] virtualcomputerguy commented on #3446
Maybe the issue will be fixed when the new lab comes out, but that appears to be late. But I have no more time to invest in a product with no support. I will go back and build out a new test system on my lab domain and use it.

[2021-02-11 15:24] abdkha commented on #4124
Hi Mark, thanks for the reply. So my situation is like this:
1. Users homed in On-Prem AD and identities synced to AAD.
2. Exchange hybrid will all mailboxes in Cloud (hybrid just because identities are to stay on-prem)
3. SfB 2015 On-Prem with Teams enabled

When we do a content search without this parameter checked, we get 0 Teams IM Chat history results for a particular user. But results appear

[2021-02-11 15:54] kelleyvice-msft commented on #4049
I'm looking into this with the web service PM.

[2021-02-11 16:01] kelleyvice-msft commented on #2627
@arunkumar4003 - sorry it took so long to get back to you on this issue. If this is still an open question, can you provide a little more context?

[2021-02-11 16:33] efrene commented on #4085
Sorry for the delay in getting back to you, @vigneshvdm.  @seansquires, can you help on this?

[2021-02-11 22:24] c016smith commented on #4088
Microsoft is actually deploying QR code to Sign-in via Outlook for Android and iOS.

Microsoft 365 Roadmap feature IDs and link below:
https://www.microsoft.com/en-us/microsoft-365/roadmap?featureid=69147
https://www.microsoft.com/en-us/microsoft-365/roadmap?featureid=69148

This is an essential user experience for the future of passwordless sign-in.   I am looking for this option to be included i

[2021-02-11 23:05] markjjo commented on #4124
@abdkha Thanks for the additional details. I was misunderstanding your issue but I think I get it now: Your on-premises users haver regular cloud-based mailboxes in Exchange Online, so why isn't Teams content returned when searching those mailboxes without using the parameter. I'm not sure why this is the case. I will ping the engineering team to see if I can get an answer. Maybe it's because they

[2021-02-11 23:16] markjjo commented on #4124
@abdkha One more question: Are the on-premises users assigned EXO licenses?

[2021-02-12 00:22] chrisda commented on #4135
@HarrisburgUSysAdmin, I'm told that currently, the user who reports the test phishing message does not receive a "congratulations" message.

[2021-02-12 01:58] cabailey commented on #4104
Looking into this statement from the AIP side - it's not clear to me from the documented statement whether this limit was enforced or just a support statement but policies for AIP labels are on a different platform to sensitivity labels that you see in the Microsoft 365 compliance center. I can see how the phrase "unified labeling" might be ambiguous in this context.  After you activate unified la

[2021-02-12 02:01] meganbM365 commented on #4127
Found answer 👉 [here ](https://techcommunity.microsoft.com/t5/microsoft-viva-blog/introducing-microsoft-viva-topics/bc-p/2116438/highlight/true#M54)👈

(em added)

[2021-02-12 03:17] danmyhre opened #4144 "Limit available geos"
Please add details on how to limit which geos may be used within an organization

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fd213abb-c697-3da5-4055-c1cb0e8bf93e
* Version Independent ID: cf0968f3-3b1a-7884-00d0-dd9654cb3bd2
* Content: [Administering Exchange Online mailboxes in a multi-geo environment - Microsoft 3

[2021-02-12 05:42] arunkumar4003 commented on #2627
The issue related to this topic went on hold. So we are not actively working on it.

[2021-02-12 05:42] #2627 closed

[2021-02-12 05:42] arunkumar4003 commented on #2627
Closing the topic for now.

[2021-02-12 09:26] buildbod opened #4146 "Creating a new topic"
It would help people following the guidance if a step is added before "1. In the Name this topic section".

The step would be:

1. Create a new Topic Page

Select the option to create a new Topic Page from the ribbon on the Manage Topics page

![image](https://user-images.githubusercontent.com/13903544/107750553-1a1fd780-6d14-11eb-944f-8bc7c29660df.png)

2. In the Name this topic section ....

---

[2021-02-12 13:15] #4104 closed

[2021-02-12 13:17] bholzmmc commented on #4104
Thanks Cabailey.

[2021-02-12 13:45] yogkumgit commented on #3727
@msbemba Thank you very much for the contribution and updating the documentation with PR. @AlexV-P Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-12 13:45] #3727 closed

[2021-02-12 17:53] seansquires commented on #4085
Hi @vigneshvdm - your expectation is correct; sorry to hear that you've run into this issue. I confirmed that there was an authentication regression preventing the full taxonomy match (incl. synonyms) from occurring. This has since been resolved. Can you please confirm that you are still experiencing the issue? Thanks!

[2021-02-12 19:57] vigneshvdm commented on #4085
Hello @seansquires, thank you for looking into this.

I just tried adding a label that is defined as a synonym and Syntex is having some issues in recognizing that.
When I add the label, it gives me an error "The content labeled does not match with the current column/extractor data type."
And the documents that has this label, are not getting tagged with relevant term.

[2021-02-12 20:22] msbemba commented on #4095
@hwkwicre Thank you for your feedback. I don't see a hyperlink for the two cmdlets on this document ( https://docs.microsoft.com/en-us/microsoft-365/enterprise/use-microsoft-365-cdn-with-spo?view=o365-worldwide#set-up-and-configure-the-office-365-cdn-by-using-the-sharepoint-online-management-shell)

Let me know if we need to modify a different document.

Thanks
Sri

[2021-02-12 20:28] msbemba commented on #4101
@Bob-Fx Thank you for your feedback. I have checked the document and all links that point to shared mailboxes are live and not broken. You will need to be an admin to sign in to the shared mailboxes page.  Try on an Edge(in private browsing) and let me know if you still have an issue.

Thanks
Sri

[2021-02-12 20:30] msbemba commented on #4117
@rsgmodelworks Thank you for your feedback. I reviewed the entire document and this should indeed be the right page for an admin to look at when such a situation arises. Are you saying the support team at Microsoft is not providing this link or not following the steps mentioned in this document?

Thanks
Sri

[2021-02-12 20:34] msbemba commented on #4123
@imcdnzl Thank you for your feedback. We have added the statement to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4148 . Once the author approves, the changes will be live in the next 48 hours.

Thanks
Sri

[2021-02-12 20:38] msbemba commented on #4125
@Eternal-student Thank you for your feedback.  Ensure that you use the email address to which the error message was sent to remove the account from the blocked sender's list. This has been added to the document.

Hope this helps!

Thanks
Sri

[2021-02-12 21:17] webash commented on #4029
This is great! thanks all!

[2021-02-12 21:24] Bob-Fx commented on #4101
I just tried the links and they are now working correctly (using Chrome).
Not sure what was broken the other day.

Thanks for the followup!

Regards,

Bob Fenske
Network Systems Manager

From: Sriraman M S <notifications@github.com>
Sent: Friday, February 12, 2021 3:29 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Bob Fenske <bob.fenske@dataaccess.com>; Mentio

[2021-02-13 09:09] coooly opened #4149 "Link to Microsoft Online Services Sign-in Assistant is broken."
Link to Microsoft Online Services Sign-in Assistant is broken. I guess should be https://www.microsoft.com/en-us/Download/details.aspx?id=28177.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55574af9-0105-dcd1-7eb0-77513df4e54f
* Version Independent ID: 5fe2849b-d39a-4d75-a5ce-e8f577c9a161
* Content: [Connect to Micro

[2021-02-13 10:40] pmdci commented on #4026
Come on lads... Do I need to do everything?

Here is its:

It says "Source tenant domain, such as fabrikam.onmicrosoft.com”.

[cid:image001.png@01D701F4.2327FC30]

Then at "The script will pause and ask you to accept or consent to the Exchange [...]" it says "SetupCrossTenantRelationshipForTargetTenant.ps1 -ResourceTenantDomain contoso.onmicrosoft.com".

[cid:image002.png@01D701F4.3C33BA70]

Sent

[2021-02-13 13:07] ramuvr opened #4150 "Unable to run Get-CaseHoldPolicy"
Imported ExchangeOnlineManagement & connected to Exchange as Organization Management role user

Import-Module ExchangeOnlineManagement
Connect-ExchangeOnline -UserPrincipalName user@domain.com

But running Step 2 to identiy the mailboxes with inplacehold, I get

Get-CaseHoldPolicy : The term 'Get-CaseHoldPolicy' is not recognized as the name of a cmdlet, function, script file, or operable program.

[2021-02-13 13:34] ramuvr commented on #4150
Sorry, had to connect to Security & Compliance Center PowerShell "Connect-IPPSSession -UserPrincipalName" sepertately. It would have been good to mention that in the article.

[2021-02-13 13:34] #4150 closed

[2021-02-13 17:20] DeanGross opened #4151 "Request for examples"
The discussion about customizing emails is interesting, but it would be more helpful if it included some actual examples. Would it be possible to add an example demonstrating the use of HTML and the tokens, Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505aba8-2455-5390-b34b-6bb0865b14db
* Version Independent I

[2021-02-14 15:48] WeirdCircumstances opened #4153 "Assigning a License via Cloud Shell and bash"
Is there a way to accomplish the same management with the Azure Cloud shell and bash?
Create an user and after assigning a license (Office A1 for students) mangaging groups etc works flawlassly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 073b885d-191e-8c00-fa59-ad83ba79ec10
* Version Independent ID: 4bd5799d-9baf-9

[2021-02-14 17:16] ichkoj commented on #4047
So you must buy FIRST some of your products in order to see the price ... how do you plan
________________________________
From: Cern McAtee <notifications@github.com>
Sent: Tuesday, February 2, 2021 8:13 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: ichkoj <ichkoj@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-doc

[2021-02-15 06:14] yogkumgit commented on #4101
@msbemba Thank you very much for the contribution and sharing this explanation. @Bob-Fx Glad that problem resolved. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-15 06:14] #4101 closed

[2021-02-15 07:17] msbemba commented on #4055
@deeksha-microsoft Thank you for your feedback. I'm trying to get the default values so they can be documented. I shall update you once the PR is ready.

[2021-02-15 07:20] msbemba commented on #4129
@anomalousdigitalemissions thank you for your feedback. I'm able to access the links without any issues,.could you please check on in-private browsing and see if it works?

Thanks
Sri

[2021-02-15 07:30] msbemba commented on #4130
@GrantErickson Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4155

Thanks
Sri

[2021-02-15 07:36] aniketjambhale opened #4156 "O365 message trace REST URL's"
Hello,

I would like to know about REST URL's to fetch O365 message trace.

Old REST URL's are still in use ?

https://docs.microsoft.com/en-us/previous-versions/office/developer/o365-enterprise-developers/jj984328(v=office.15)

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b58f8e2c-428a-4d8e-e8b7-a0342a0038db

[2021-02-15 07:37] msbemba commented on #4132
@brkdncr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4157

Thanks
Sri

[2021-02-15 08:03] msbemba commented on #4136
@ijrzhong Thank you for your feedback. I tested this and found that changing the Organization name in org settings in fact changes the company name in sold to address.

Could you please screenshots of what you see in the organization?

Thanks
Sri

[2021-02-15 08:15] ijrzhong commented on #4136
I mean only changing letters cases of company name in org settings does not reflect the change in sold to address.

[2021-02-15 15:43] msbemba commented on #4126
@DJHConsult Thank you for your feedback. This paragraph that you pointed talks about adding DKIM/DNS records to the custom domains. So each custom domain will have these DKIM values and they will be unique and not on the same page.

Hope this helps!

Thanks
Sri

[2021-02-15 16:04] sara-barbosa opened #4159 "Admin Role Required"
Could you please add a note, or clarify of which admin role is required to access / manage the Centralized Deployment Page (Integrated Apps)?

**Suggestion:**
The Integrated Apps is a new feature that is supposed to be visible for Global administrator only, while for others the old experience still exist.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2021-02-15 16:21] msbemba commented on #4098
@leenana365888 Thank you for your feedback. The statement clarifies that you can preview the decrypted file(attachment) when previewing them as the eDiscovery manager, but to view the entire message content you need to export the data.

Hope this helps!

Thanks
Sri

[2021-02-15 17:14] msbemba commented on #4133
@PeeyushSri Thank you for your feedback. The statement says "When you create rules in a policy, each rule is assigned a priority in the order in which it's created — meaning, the rule created first has first priority, the rule created second has second priority, and so on."

It means the rule created first has priority 0 and second has priority 1

Priority o Rule 1
Priority 1 Rule 2

Hope this hel

[2021-02-15 17:43] msbemba commented on #4063
@anPalmei Thank you for the feedback. I tested it does not work only when trying to Sideload Office Add-ins for testing from a network share (https://docs.microsoft.com/en-us/office/dev/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins). I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4160

Thanks
Sri

[2021-02-15 17:49] msbemba commented on #4131
@SeaGT Thank you for your feedback. If the policy tips are configured to allow override, You will see the  Show Details option on the email > Override > enter a business justification or report a false positive > Override. The screenshots and details are added to the document - https://docs.microsoft.com/en-US/microsoft-365/compliance/use-notifications-and-policy-tips?view=o365-worldwide#policy-ti

[2021-02-15 17:57] msbemba commented on #4135
@HarrisburgUSysAdmin Thank you for your feedback. I have tested and Microsoft does not send any congratulations mail after the user reports a phishing campaign. However, if they click on the phishing link you can have a custom landing page with your message.

Hope this helps!

Thanks
Sri

[2021-02-15 18:32] msbemba commented on #4003
@yogkumgit  There are no changes in the document as of now and the other document (Azure AD article) will be fixed by another writer and this one can be closed.

Thanks
Sri

[2021-02-15 18:49] msbemba commented on #4026
@pmdci Thank you for your feedback. I don't see the screenshots, unfortunately. But when you run the script (SetupCrossTenantRelationshipForTargetTenant.ps1) - There are some parameters and values that you need to mention (required) and one of them is -ResourceTenantDomain.

Hope this helps!

Thanks
Sri

[2021-02-15 18:56] pmdci commented on #4026
I added the text besides the screenshot as well.Everyone in my organisation sees the inconsistency. Fix it, don't fix it. I am done giving you guys feedback. On 15 Feb 2021 18:49, Sriraman M S <notifications@github.com> wrote:
@pmdci Thank you for your feedback. I don't see the screenshots, unfortunately. But when you run the script (SetupCrossTenantRelationshipForTargetTenant.ps1) - There are som

[2021-02-15 19:15] pmdci commented on #4026
You do understand I am NOT asking you for help and all I am doing is pointing an inconsistency on your documentation, that everyone) here at my end) sees but you? On 15 Feb 2021 18:56, Pedro Mac Dowell da Costa Innecco <pinnecco@outlook.com> wrote:I added the text besides the screenshot as well.Everyone in my organisation sees the inconsistency. Fix it, don't fix it. I am done giving you guys feed

[2021-02-15 20:51] anomalousdigitalemissions commented on #4129
@msbemba - Sri, thanks for verifying. My computer must have been having a bad day. Link is working perfectly. Thanks.

[2021-02-15 20:51] #4129 closed

[2021-02-15 23:52] Bievens opened #4161 "Printing is not supported on Office on the Web for protected files"
Appears printing is not supported on Office on the Web for protected files, is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e0836a95-d3b7-3c43-d56b-5fb4ceeb4765
* Version Independent ID: 8a0d366b-5ff7-22de-7aba-6adbe0ea94ea
* Content: [Manage sensitivity labels in Office apps - Microsoft 365 Compliance]

[2021-02-16 00:17] Bartolomeus-649 opened #4162 "Forward in OWA?"
And where exactly does the forwarding feature in OWA fit into all of this?

![image](https://user-images.githubusercontent.com/7513795/108003838-3eb9cf00-6ff4-11eb-8314-f622a9fab330.png)

**Please document the procedure of finding out where all settings are which, in one way or another, affect mail forwarding.**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-02-16 07:59] sebhe opened #4163 "Display the organization branding on notification and warning pages"
Our Safe Links policy now shows a new option: "Display the organization branding on notification and warning pages". I don't find this yet in the documentation. How and where can we configure the organization branding?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8112b7a9-8f21-18b3-03da-f8c02b05f239
* Version Indepen

[2021-02-16 09:17] rajavelks opened #4164 "Can this in-place archive maintain my original folder structure?"
[Enter feedback here]

Can this in-place archive maintain my original folder structure?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f19511c-5a0f-9d5f-0779-79a9ad99938f
* Version Independent ID: 3b513017-641c-38ae-3938-03a9ee3a6923
* Content: [Enable archive mailboxes in the Security & Compliance Center - Microsoft 3

[2021-02-16 10:16] toomasmottus opened #4165 "Template file Date table needs updating"
Analytics template file referred in this part of text
(You can download the Power BI template file from the Microsoft download center from the Download center. After you have downloaded the Power BI template file follow these steps to get started),
has date table only until 2020-12-31. Usage Details do not show values, as there is no period 2021-01.

Updating Date table throws up a number of USERE

[2021-02-16 10:57] rezwansarker opened #4166 "VITSL"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 709fda6f-3a7d-92aa-e7ad-afb09cd47cda
* Version Independent ID: 991f7ce4-e3a8-e044-c3c5-82de3b8837d3
* Content: [Admin center overview - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-overview?view=o365-w

[2021-02-16 12:17] yogkumgit commented on #4003
@msbemba Thank you very much for the contribution and sharing this explanation. @DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-16 12:17] #4003 closed

[2021-02-16 16:27] msbemba commented on #4166
@rezwansarker Thank you for your feedback. Could you please brief us on what changes are required or if you have any questions on this document?

Thanks
Sri

[2021-02-16 16:50] davecober opened #4167 "RSS invalid"
When I put the RSS feed into my feed reader, it never updates. Inoreader shows a last update time of August 2020, other rss readers show it as invalid or expired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac42403c-4226-bec2-986d-2e8a67e7c66d
* Version Independent ID: e8e0b323-ee46-f8e7-fe99-cbee91697213
* Content:

[2021-02-16 17:06] LaumanK opened #4168 "Dead link: Use Centralized Deployment PowerShell"
**Dead link:**  _Use Centralized Deployment PowerShell cmdlets to manage add-ins_ @ https://docs.microsoft.com/en-us/office365/enterprise/use-the-centralized-deployment-powershell-cmdlets-to-manage-add-ins

**Replace with:**  https://docs.microsoft.com/en-us/microsoft-365/enterprise/use-the-centralized-deployment-powershell-cmdlets-to-manage-add-ins?view=o365-worldwide

---
#### Document Details

[2021-02-16 18:31] vigneshvdm commented on #4085
Hello @seansquires

Do we have an ETA for this?

We are evaluating Syntex to replace BA insight's Autoclassifier in SharePoint online. Recognizing synonyms and adding relevant term is a critical component for us to achieve this. Please advice.

Regards,
Vicky

[2021-02-16 18:59] msbemba commented on #4149
@coooly Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4169

Thanks
Sri

[2021-02-16 19:11] msbemba commented on #4156
@aniketjambhale Thank you for your feedback. Many of the REST-based and related cmdlets were deprecated in January 2018. However, for Message trace and details the old REST URI's are still in use as I have seen a lot of 3rd party applications/software collects message trace logs from the Message Trace REST API.

Hope this helps!

Thanks
Sri

[2021-02-16 20:47] michaelblumenthal opened #4170 "How is the Industry identified that is used for the peer benchmark?"
The document explains peer benchmarks as follows:

How is an organization's industry identified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 411cc9ec-3de2-9aaf-00b8-d923d2b02f37
* Version Independent ID: c1a0daec-33a1-eb34-db3d-0b12b78a8aaf
* Content: [Microsoft Productivity Score - Microsoft 365 admin](https://docs

[2021-02-16 21:20] cablechewer opened #4171 "Note about permission requirement needs to be more specific"
The article states that you need to be a member of the Security Administrator (SA) role in order to access the anti-spam settings.  It does not specify that you must use the Security Administrator role within Exchange.  I have had a couple customers try to use the SA role listed under the permissions of protection.office.com.  This role does not give you access to the underlying Exchange PowerShel

[2021-02-16 23:45] cabailey commented on #4161
Investigating

[2021-02-17 00:13] seansquires commented on #4085
Hello @vigneshvdm - can you clarify what you mean when you say you are adding a synonym label? Is this in the training interface or in the library where a trained model has been applied? If you are in the model training experience you won't see synonym matches there; that only occurs when the file is uploaded and the model is processing the file.

[2021-02-17 05:28] yogkumgit commented on #4005
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-17 05:28] #4005 closed

[2021-02-17 05:35] yogkumgit commented on #3832
@msbemba Thank you very much for the contribution and updating the documentation with PR. @leenana365888 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-17 05:35] #3832 closed

[2021-02-17 05:40] yogkumgit commented on #3816
@msbemba Thank you very much for the contribution and updating the documentation with PR. @bderiso Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-17 05:40] #3816 closed

[2021-02-17 05:46] yogkumgit commented on #4149
@msbemba Thank you very much for the contribution and updating the documentation with PR. @coooly Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-17 05:46] #4149 closed

[2021-02-17 05:49] yogkumgit commented on #4132
@msbemba Thank you very much for the contribution and updating the documentation with PR. @brkdncr Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-17 05:49] #4132 closed

[2021-02-17 07:37] yogkumgit commented on #4091
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2021-02-17 07:41] yogkumgit commented on #4127
@meganbM365 Thank you very much for sharing this explanation. If you see a documentation update is required, please feel free to open an issue for the same. As question is resolved, we proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-17 07:41] #4127 closed

[2021-02-17 08:05] yogkumgit commented on #4119
@cabailey Please add your comment and help us in resolving this issue. Thanks.

[2021-02-17 08:09] yogkumgit commented on #4056
@Sirkkuw  Please add your comment and help us in resolving this issue. Thanks.

[2021-02-17 08:15] yogkumgit commented on #4056
@scotvidican

[2021-02-17 08:17] yogkumgit commented on #4033
@scotvidican Please add your comment and help us in resolving this issue. Thanks.

[2021-02-17 10:02] pmdci commented on #4026
Here is the screenshot of the inconsistency in IMGUR: https://imgur.com/a/LcNgc4V
[https://i.imgur.com/ajl5F4O.png?fb]<https://imgur.com/a/LcNgc4V>
imgur.com<https://imgur.com/a/LcNgc4V>
Imgur: The magic of the Internet
imgur.com

________________________________
From: Pedro Mac Dowell da Costa Innecco on behalf of Pedro Mac Dowell da Costa Innecco <guybrush_yyz@yahoo.com>
Sent: 13 February 2021 1

[2021-02-17 10:46] yogkumgit commented on #4151
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2021-02-17 12:40] rajatbhasin opened #4176 "Password expiry notification in the lower right corner"
The article talks about a user getting a password expiry notification at the lower right corner of the screen.
**Step 7 here** - https://docs.microsoft.com/en-us/microsoft-365/admin/manage/set-password-expiration-policy?redirectSourcePath=%252fen-us%252farticle%252fset-the-password-expiration-policy-for-your-organization-0f54736f-eb22-414c-8273-498a0918678f&view=o365-worldwide#set-password-expirat

[2021-02-17 13:47] Linas08 opened #4177 "Disabling TLS 1.0 and 1.1 for Microsoft 365"
does not hint at how to do this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ec089a7-8f7b-d4d9-a763-e8abd73fb2c9
* Version Independent ID: 41ba8999-f0ea-5847-afad-8620dd83492a
* Content: [Disabling TLS 1.0 and 1.1 for Microsoft 365 - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/complianc

[2021-02-17 14:58] rhampton1 opened #4178 "Adding a role group as a member on an Advanced eDiscovery case."
The following error occurs when adding a role group as a member to an Advanced eDiscovery case. It appears to say that the role group eDiscoveryManagers must be a member of a role group with the Case Management or Review roles.

![image](https://user-images.githubusercontent.com/64498847/108221665-0acece80-7106-11eb-882e-18db7f0ca76b.png)

---
#### Document Details

⚠ *Do not edit this section. It

[2021-02-17 15:18] JeroenDronkers opened #4179 "Safe Documents feature can be enabled without having licenses"
The Safe Documents feature can be enabled even though there are no ‘Microsoft 365 E5’ or ‘Microsoft 365 E5 Security’ licenses available in the tenant. When enabling this feature without having the licenses, the feature will not work.
It is (softly spoken) not a very good idea to offer this feature while licenses are not available in the tenant.
Customers are enabling this feature and are frustrate

[2021-02-17 16:04] chrisda commented on #4179
@JeroenDronkers, I suggest that you open a support case about this. We already call out the licensing requirements in the topic, which is about all we can do from a documentation perspective

[2021-02-17 16:24] JeroenDronkers commented on #4179
Hello Chris,

Unfortunately I cannot raise support cases as Microsoft Support engineer.
We receive these cases from our customers…
I’ll see what I can do.

Thanks,

Kind regards

--
Jeroen Dronkers
Support Escal Eng
Eq-Uk Gtsc Bizapps Server
Customer Services and Support
Office: +44 (118) 9095507
jedronke@microsoft.com<mailto:jedronke@microsoft.com>

[abc]
﻿
Team Manager | Frances Early (francese@

[2021-02-17 18:06] vigneshvdm commented on #4085
Hello @seansquires  ,

Let me explain with an example. Assume I have a term called Metals and it has 2 synonyms Iron, Silver defined in the term store.

When the document has the word Metals, the managed metadata column gets tagged with Metals, but when the documents have words like Iron or Silver which are synonyms of Metals, the column is not getting populated. Hope that clarifies

Regards,
Vick

[2021-02-17 19:02] cabailey commented on #4161
@Bievens   Now confirmed.  I hadn't realized printing wasn't supported for encrypted documents in Office for the web.  Now added to the list of limitations, here: https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitivity-labels-sharepoint-onedrive-files?view=o365-worldwide#limitations

It seemed a strange limitation to me until I learned that in the background, to support a printable f

[2021-02-17 19:02] #4161 closed

[2021-02-17 19:44] vigneshvdm commented on #4085
Hello @seansquires ,

From what I observed, a phrase is mandatory for Syntex to recognize the labels.

For instance, if the labels Iron/Silver are always followed/preceded by some phrase, we can add that to explanations and Syntex will recognize the labels. But if we don't have such common phrases, Syntex is not be able to recognize the labels.

In our case, we have more than 100,000 documents, we

[2021-02-17 21:10] cabailey commented on #4119
@yoshimin-msft  If labeled and enabled documents open as expected in libraries that aren't configured for SharePoint IRM, please open a support ticket for investigation.

[2021-02-17 21:56] msbemba commented on #4159
@sara-barbosa Thank you for your feedback. We have added information about this in the requirements document -  https://docs.microsoft.com/en-us/microsoft-365/admin/manage/centralized-deployment-of-add-ins?view=o365-worldwide

A Global admin can assign an add-in directly to a user, to multiple users via a group, or to everyone in the organization.

Hope this helps!

Thanks
Sri

[2021-02-17 22:00] msbemba commented on #4164
@rajavelks Thank you for your feedback. The in-place archive feature once enabled in O365 will have the exact folder structure as the primary mailbox. It provides users with additional mailbox storage space. After you turn on archive mailboxes, users can access and store messages in their archive mailboxes by using Microsoft Outlook and Outlook on the web (formerly known as Outlook Web App) and it

[2021-02-17 22:09] msbemba commented on #4153
@WeirdCircumstances Thank you for your feedback. As of now, this feature of assigning licenses using ACS and/or bash is not available. While there is a way to connect to Exchange Online via ACS by using the cmd connect-exopssession and  manage EXO workloads like creating and managing groups etc, there is no way to assign the licenses yet. Once it is available, there will be a new document related

[2021-02-17 22:19] msbemba commented on #4146
@buildbod Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4184

Thanks
Sri

[2021-02-17 22:24] msbemba commented on #4144
@danmyhre Thank you for your feedback. This is a part of the planning phase and you can configure any of the available locations to be satellite locations where you can host OneDrive and SharePoint sites, and Exchange mailboxes. As you plan for multi-geo, make a list of the locations that you want to add to your Microsoft 365 tenant. We recommend starting with one or two satellite locations and th

[2021-02-17 22:28] msbemba commented on #4026
@pmdci Thank you for the feedback. I now found multiple instances where the target and the source are incorrect. I will update the document and let you know. Sorry again for the confusion as I was only looking at the downloaded script.

Thanks
Sri

[2021-02-17 22:33] Kaypyosh commented on #4119
@cabailey thanks.

If IRM setting is disabled, I can apply labels. That's normal behavior without IRM setting. However the statement is described about the case when the IRM setting is enabled. "**using both protection solutions together**" means the sensitivity label and the IRM configuration are both enabled, doesn't it?

----
However, you can **use both protection solutions together** and the b

[2021-02-17 22:41] yoshimin-msft commented on #4119
@cabailey thanks

If the IRM setting is disabled, I can apply labels. That's normal behavior without IRM setting.

However, the statement is described about the case when the IRM setting is enabled. "**using both protection solutions together**" means the sensitivity label and the IRM configuration are both enabled, doesn't it?

----
However, you can **use both protection solutions together** and

[2021-02-17 23:00] cabailey commented on #4119
Yes, the expected behavior is you can use both together as documented  Please follow up with Support - they can always contact me internally.

[2021-02-17 23:00] #4119 closed

[2021-02-17 23:18] DeanGross opened #4186 "Request for more details"
I don't see any prerequisite information about the required location of mailboxes, i.e, will these features work for people who have their mailbox in Exchange Server? Please provide some information about hybrid exchange environments.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e396c36f-1f7f-a92a-f425-a08b3aaf44e3
*

[2021-02-17 23:20] danmyhre commented on #4144
That is the part that needs documentation - adding them to the tenant. With ODfB/SPO, the admin can control this through the SPO admin center, but what about on the EXO side?

This article also isn't clear and it references "a company in v1", which no one will understand what that means.
https://docs.microsoft.com/en-us/powershell/module/msonline/set-msolcompanyalloweddatalocation?view=azureadps-1

[2021-02-17 23:43] SKjerland commented on #4056
@yogkumgit - Sirkkuw is no longer at Microsoft and we haven't reassigned her articles yet. Scot asked me to help with this. The issue isn't with the article itself--it's with the Power BI template file that resides in the Download center. I have no knowledge of this Power BI template file and I have no idea who owns it. I'm going to have to do some investigating to figure out who can fix this. Ple

[2021-02-18 00:38] pmdci commented on #4026
That is because you didn't read my original post. On 17 Feb 2021 22:28, Sriraman M S <notifications@github.com> wrote:
@pmdci Thank you for the feedback. I now found multiple instances where the target and the source are incorrect. I will update the document and let you know. Sorry again for the confusion as I was only looking at the downloaded script.
Thanks
Sri

—You are receiving this because y

[2021-02-18 12:37] yogkumgit commented on #4026
@msbemba Please let me know when you update this.

[2021-02-18 13:06] yogkumgit commented on #3733
@msbemba Thank you very much for the contribution and updating the documentation with PR. @carlyrevier Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:06] #3733 closed

[2021-02-18 13:14] regnertomas opened #4188 "Stream / Live Events IPs missing"
This list does not include all IP addresses listed on this site:
https://docs.microsoft.com/en-us/stream/network-overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP address ranges -

[2021-02-18 13:41] yogkumgit commented on #4083
@nikki-c Hope explanation shared by cabailey is helpful for you. He asked you a few clarifications also but we haven't had any response from you so we are going to close this issue.  If you see a documentation update is required, please feel free to reopen the issue. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:41] #4083 closed

[2021-02-18 13:44] yogkumgit commented on #4095
@msbemba Thank you very much for the contribution and sharing this explanation. @hwkwicre Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:44] #4095 closed

[2021-02-18 13:46] yogkumgit commented on #4098
@msbemba Thank you very much for the contribution and sharing this explanation. @leenana365888 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:46] #4098 closed

[2021-02-18 13:48] yogkumgit commented on #4117
@msbemba Thank you very much for the contribution and sharing this explanation. @rsgmodelworks Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:48] #4117 closed

[2021-02-18 13:50] yogkumgit commented on #4125
@msbemba Thank you very much for the contribution and sharing this explanation. @Eternal-student Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:51] #4125 closed

[2021-02-18 13:52] yogkumgit commented on #4131
@msbemba Thank you very much for the contribution and sharing this explanation. @SeaGT Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:52] #4131 closed

[2021-02-18 13:54] yogkumgit commented on #4133
@msbemba Thank you very much for the contribution and sharing this explanation. @PeeyushSri Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:55] #4133 closed

[2021-02-18 13:57] yogkumgit commented on #4135
@msbemba Thank you very much for the contribution and sharing this explanation. @HarrisburgUSysAdmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-18 13:57] #4135 closed

[2021-02-18 15:15] ivanmaria opened #4189 "Microsoft Graph Change Notifications Failing"
Intermittently facing issue such as not receiving webhook notification or sometimes webhook subscription is not working i.e. getting subscription request timed out error.

In our setup, we have blocked all inbound traffic and whitelisted only those IPs that are mentioned in the following page:
https://docs.microsoft.com/en-us/microsoft-365/enterprise/additional-office365-ip-addresses-and-urls?view

[2021-02-18 16:10] SeaGT commented on #4131
Yogesh, why I agree the information is in the docs, you should have a link to that explanation of the exception in the document where you discuss policy creation and where the exception option is 1st mentioned.  Your author assumes that people reading the doc will see that there is no explanation of the exception, but will continue reading through the document in case there is one. 

I went to the

[2021-02-18 16:31] DeanGross opened #4190 "Prerequisites"
Please add a Prerequisites section to identify the fact that this only works with Exchange Online mailboxes and can't be used with Exchange Server mailboxes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fbdcbd5-7bd2-6b55-b72c-cbedfdea776c
* Version Independent ID: 1e6198f8-6ef1-6227-c9e8-f31944a5d1db
* Content: [Att

[2021-02-18 18:24] markjjo commented on #4178
@rhampton1 Thanks for question. I assume that you are trying to add the role group to the AeD case. If so, you have to be a member of that same role group that you are trying to add to the case. You also need to be assigned the Case Management role to add members to an AeD case, but you have to be a member of the role group you are trying to add to the case. There is more info about using role gro

[2021-02-18 18:24] #4178 closed

[2021-02-18 18:54] kwekuako commented on #3791
Updated and merged.

[2021-02-18 18:54] #3791 closed

[2021-02-18 19:30] Mike-Crowley opened #4191 "Unclear data formatting"
Issues:

- In the "modify" section, some of the descriptive text is erroneously in the code block
- The instructions are incomplete for saving the text file
- Windows 10's Notepad does not offer "Unicode" as a save as option. Choices are: ANSI, UTF-16 LE, UTF-16 BE, UTF-8, UTF-8 with BOM
- Article states we should save as UTF-16, but does not specify LE or BE, which is a required choice in notepad

[2021-02-18 20:32] jmmowrer opened #4192 "Recommend allowing in proxies"
Worked with a customer where Palo Alto actually blocked our mock phishing sites as phishing so can we add a blurb to the Note section where we recommend allowing in browsers to also allow in proxies?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59c87455-77af-093a-6fb6-286049aad15a
* Version Independent ID: b2690e98-7

[2021-02-18 21:24] Quartermaster-007 opened #4193 "Missing info regarding M365 Business Basic"
It looks like info is missing to clarify that Business Basic does not get the functionality of Office Scripts. The wording suggests that any M365 or O365 Business or Enterprise subscription would work. However, after testing this myself, I could only access the feature with a Business Standard license and not with a Business Basic license.

---
#### Document Details

⚠ *Do not edit this section. I

[2021-02-19 00:58] chrisda commented on #4192
@jmmowrer, new content is coming that talks about this. Feel free to close this issue when you see it.

[2021-02-19 01:12] chrisda commented on #4190
@DeanGross, OK done. Note that it will take a while for the update to publish live.

Thanks for the feedback.

Closing.

[2021-02-19 01:12] #4190 closed

[2021-02-19 01:42] chrisda commented on #4171
@cablechewer, fixed in this topic and in other affected topics. Note that it will take a while for the updates to publish.

Thanks for the feedback.

Closing

[2021-02-19 01:42] #4171 closed

[2021-02-19 01:49] chrisda commented on #4144
@danmyhre, I received and answer and I added the following statement to the topic:

Is this sufficient? If so, please close the issue at your convenience.

[2021-02-19 02:40] SKjerland commented on #4056
@TamlinStryk - The Power BI team just uploaded an updated version of the template file to the Download center to fix this issue. Thanks for bringing it to our attention.

[2021-02-19 02:40] #4056 closed

[2021-02-19 02:49] danmyhre commented on #4144
What about being able to set which ones are allowed? I have confirmed new geos for EXO can be added by simply adding that string into the PDL in AD for the user.

And does this even do anything anymore?
https://docs.microsoft.com/en-us/powershell/module/msonline/set-msolcompanyalloweddatalocation?view=azureadps-1.0

Thanks!

[2021-02-19 07:08] seansquires commented on #4085
Yes, in your example with Metals and synonyms Iron & Silver, if you train the model to identify that entity at runtime (when a file is uploaded to a library with that trained model applied) it will save to the MMS column field the preferred label if it matches on the label or it's synonyms. So if it extracts Metal from file 1, it writes Metal. If it extracts Iron - a synonym of Metal from file 2,

[2021-02-19 09:13] yogkumgit commented on #4146
@msbemba Thank you very much for the contribution and updating the documentation with PR. @buildbod Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-19 09:14] #4146 closed

[2021-02-19 09:22] yogkumgit commented on #3908
@msbemba Thank you very much for the contribution and updating the documentation with PR. @giterdn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-19 09:23] #3908 closed

[2021-02-19 10:31] sara-barbosa commented on #4159
@msbemba thanks for your message.

From my point of view, that's not enough, this is still causing confusion, as the previous add-ins page was available to Global Admin and EXO Admin, now the centralized deployment - Integrated Apps Page is still only for Global Admins, we should make it clear for customer. That is the reason behind of my suggestion:

'The Integrated Apps is a new feature that is

[2021-02-19 12:24] msbemba commented on #4159
@sara-barbosa Thank you for the feedback. I have added a note to the document about the requirement. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4194

Thanks
Sri

[2021-02-19 12:32] msbemba commented on #4131
@SeaGT Thank you for your feedback. I have added the DLP conditions and Exceptions Document(link) to the more information section of this article. Hope this helps!

This change can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4195

Thanks
Sri

[2021-02-19 16:08] msbemba commented on #4134
@HarrisburgUSysAdmin When reporting it through the report message add-in, they will not be receiving any message as such and the mail will be moved to the junk/deleted folder. The selected messages will be sent to Microsoft for analysis. To confirm that the messages have been submitted, open your Sent Items folder to view the submitted messages.

As an admin, you can Gain insights through Attack s

[2021-02-19 16:10] msbemba commented on #4162
@Bartolomeus-649 Thank you for your feedback. The forwarding that a user sets up in Owa is more like inbox rules and Admin does not have an option to remove it from the admin center. You can use outbound spam filter policies to also control such automatic forwarding to external recipients.

Hope this answers your questions.

Thanks
Sri

[2021-02-19 17:33] vigneshvdm commented on #4085
Thank you @seansquires

In one of my extractors, I tagged the label "Iron" and it was able to predict the label "Iron" in the training as well, the accuracy was 90%+

But when I upload the same document that I used in Training to the actual document library where the model is applied, it is not adding the value to the managed metadata column. Since it is identifying the label Iron in the Training,

[2021-02-19 19:07] nikkelly opened #4197 "Add the new "Integrate a third-party cloud app with ‎Azure AD‎" Wizard to documentation"
[Enter feedback here]
**Name:** Integrate a third-party cloud app with ‎Azure AD
**Description:** Improve the user experience and provide an additional layer of security by integrating your third-party app with ‎Azure Active Directory‎ (‎Azure AD‎). With this end-to-end experience you can do most of the configuration directly from this wizard. Where appropriate, we'll redirect you to the correspon

[2021-02-20 02:40] panovattack opened #4201 "Please add docs for 'Device Discovery'"
Device Discovery is now configurable via settings, but there is no supporting docs.

[2021-02-21 17:31] Ben-m-s opened #4202 "Add guests to a Microsoft 365 dynamic group"
Please consider adding a note on the "Add guests to a Microsoft 365 group from the admin center" section indicating that the groups which membership is managed through rules (dynamic groups) on AAD, the option "View all and manage members" is not available.

AAD membership rules support Guest users, which is another way to add external members to groups. Especially important if you create dynamic

[2021-02-21 18:17] msbemba commented on #4163
@sebhe Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4203.

The option is available under Threat management > Policy > ATP Safe Links-->Edit Policy-->Settings

![image](https://user-images.githubusercontent.com/45987684/108634325-1d972980-749f-11eb-83c1-d8b1a67c14e4.png)

Thanks
Sri

[2021-02-21 19:00] msbemba commented on #4165
@toomasmottus I don't see an Analytics template on this page. Are you referring to the M365 usage analytics document?

Thanks
Sri

[2021-02-21 19:15] msbemba commented on #4144
@danmyhre  The set-msolcompanyalloweddatalocations adds additional goes for the service, This value must match one of the currently supported data locations by the service type. This is done on a tenant level, however, if you are looking for a user-level configuration then the PDL value set by the Admin in AD is honored for Onedrive and EXO.

Thanks
Sri

[2021-02-21 19:24] msbemba commented on #4026
@pmdci  and @yogkumgit  Fabrikam and Contoso were interchanged in a few places. According to most parts of the document source is Contoso and Target is Fabrikam. So we have made sure that It is consistent throughout the document. I have requested the author to review the same and once he reviews and approves the  PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4204 the document will be

[2021-02-22 00:00] danmyhre commented on #4144
Hi - thanks, but this contradicts what @chrisda mentioned above. I think this highlights the importance of the docs to be updated to bring some clarity to this. I am also still curious on admins being specifically able to limit which geos can be used for Exchange. People who have delegated rights to manage users should not be able to deploy data to a new country simply by updating the PDL on a use

[2021-02-22 02:58] LukeChung opened #4205 "how to assign Office365 licenses to all users on a machine"
We have a machine used for remote desktop that any user can connect to. They all have their corporate Office365 account, but when they first log into the remote desktop server, Office isn't activated for them. Is there a way to do that so everyone doesn't have to manually do it? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2021-02-22 05:00] glr0221 opened #4206 "Clarification on Message Submission Format"
Hello Microsoft,

Good day to all of you.

This inquiry is about this document : https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/user-submission?view=o365-worldwide

I would like to clarify some details regarding the submission format you described in the document. You have the following writeup :

[code]

1. **Network Message ID** - there are two message-ID-related ema

[2021-02-22 06:35] sebhe commented on #4163
okay, I see. But my question was more related to the actual branding itself. Where do I configure the organization branding that is applied to the warning pages? Where do I configure the logo (?) that is displayed?

[2021-02-22 07:38] msbemba commented on #3836
@yogkumgit There are no changes required in this document and the issue can be closed.

Thanks
Sri

[2021-02-22 07:45] msbemba commented on #3961
@r-milne Thank you for your feedback. We are working with the author to verify and make necessary changes to the document.

Thanks
Sri

[2021-02-22 07:48] msbemba commented on #3997
@maxst33l Thank you for your feedback. We are working with the author to fix the broken link and the document will be updated shortly.

Thanks
Sri

[2021-02-22 07:49] msbemba commented on #4004
@DeanGross Thank you for the feedback. I shall work with the author and get the details updated.

Thanks
Sri

[2021-02-22 07:51] msbemba commented on #4052
@Karl-Bridge-Microsoft Thank you for your feedback. I'm working with the concerned team and the author to get this sorted. Will update you once this is complete.

Thanks
Sri

[2021-02-22 07:54] msbemba commented on #4126
@yogkumgit There are no changes required in the document and the issue can be closed.

Thanks
Sri

[2021-02-22 08:56] leenana365888 opened #4207 "More details on how retention works / behaves for M365 groups"
In relation to retention for M365 groups, it would be great if this page explains:

- What happens to the group object in AAD?
- What happens to content in the associated Planner, Stream group, Yammer group, etc.?
- Is the retention for the backend SharePoint site and the group mailbox considered together or separately?  For example, if there is a retention policy of 1 year and the last email rece

[2021-02-22 09:08] yogkumgit commented on #3836
@msbemba Thank you very much for the contribution and sharing this explanation. @StuBeck32 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-22 09:08] #3836 closed

[2021-02-22 09:22] toomasmottus commented on #4165
Yes, the document referred to here: https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/admin/usage-analytics/usage-analytics.md

Usage Activity page is empty because it uses date table that ends at 2020-12-31.

The version of that report that is available through Power BI App gallery works fine.

The problem is with the Microsoft Download Center version of template (PBIT

[2021-02-22 09:29] yogkumgit commented on #4126
@msbemba Thank you very much for the contribution and sharing this explanation. @DJHConsult Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-22 09:30] #4126 closed

[2021-02-22 09:34] yogkumgit commented on #4166
@msbemba Thank you very much for the contribution and digging deep into it.  @rezwansarker We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.

Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this docu

[2021-02-22 09:34] #4166 closed

[2021-02-22 13:25] DeanGross opened #4208 "Purpose of page"
While I like the idea of release notes, I don't see this being provided for other services very often. The what's new pages with dates showing when items are released seems to work very well and I would recommend using that approach for this type of information. In fact, it would be great if all of the Compliance Solutions had their own What's New page to us keep up with the changes.

---
#### Doc

[2021-02-22 14:54] msbemba commented on #4136
@ijrzhong Thank you for the feedback. Change in Case does not change in the address in Sold to address as it is not case sensitive. If you would like to see it in a different case, the workaround would be to change it to something else and revert back to what you need.

Hope this helps!

Thanks
Sri

[2021-02-22 15:12] virtualcomputerguy commented on #3446
Wanted to give you guys an update. The lab never did work on my ADM Ryzen 7 1800x system or my AMD Opteron system. SO I headed of to micro center to test my theory. I bought a brand new i7 10th Gen processor , ASUS MB, 2 M2 drives and 32GB of Memory.
Was able to use the same process as I tried on my AMD machines and this time it worked no problem. Lab is up in 15 minutes just like it worked in the

[2021-02-22 15:28] msbemba commented on #4163
@sebhe Thank you for your feedback. The next page (Notification) has the option to add custom notification text

![image](https://user-images.githubusercontent.com/45987684/108725607-91dbd680-754c-11eb-8829-5f76a92af0af.png)

The custom branding will appear above this warning as a banner and a small logo for your company. The branding is picked up from your organization branding setup on m365. - I

[2021-02-22 15:37] sebhe commented on #4163
ah great, thanks! That was the information I was looking for.
maybe it does make sense to link this article in this article?

[2021-02-22 16:03] johnB007 opened #4211 "When I run the DeviceTvmSecureConfigurationAssessment it only returns WIN 10 OS and none of my Server 2016/2019. Can you update?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4fe829d-1049-f4fc-5238-792d86f33126
* Version Independent ID: c52c503e-3fd2-9324-8fd2-ad05b91b1930
* Content: [DeviceTvmSecureConfigurationAssessment table in the advanced hunting schema - Microsoft 365 security](https://docs.microsoft.com/en-us/micr

[2021-02-22 16:06] msbemba commented on #4168
@LaumanK Thank you for your feedback. We have fixed this via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4212

Thanks
Sri

[2021-02-22 16:08] msbemba commented on #3997
@BrendaCarter We have fixed this broken link via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4209 as per your suggestion.

Thanks
Sri

[2021-02-22 16:47] chrfox commented on #4208
Hi @DeanGross
Thanks for bringing this up.

Chris

[2021-02-22 16:47] #4208 closed

[2021-02-22 16:58] cabailey commented on #4207
@leenana365888  Thanks for your questions - I know that retention when you select the Microsoft 365 Groups location can be a bit confusing because it covers email and files.  The group is the container just like a SharePoint site is a container or a mailbox is a container, so retention setting will never delete the group itself.  For emails that are associated with the group, see "How retention wo

[2021-02-22 18:52] robgarrett opened #4214 "CDN is available in GCC/GCCH"
[Enter feedback here]
Tested both getting and setting public/private CDN in GCC and GCC-H tenants and it works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 584f6602-a1c2-c853-8da5-cb3636a6942d
* Version Independent ID: b94cfe21-d86c-d36a-8791-c5e4d7f8dbd7
* Content: [Office 365 Content Delivery Network (CDN) Quickst

[2021-02-22 19:13] mjcaparas commented on #4004
Feb 2021 reflects the latest changes.

[2021-02-22 19:13] #4004 closed

[2021-02-22 19:17] mjcaparas commented on #3834
In general, the Preview features topic gets updated with preview items, then when features move to GA, they are added to this topic.

Currently, this page is updated with GA features released in Feb 2021.
The preview page also reflects current capabilities that have recently been added to preview.

[2021-02-22 19:17] #3834 closed

[2021-02-22 20:34] msbemba commented on #4205
@LukeChung Thank you for your feedback. What licenses are the users assigned? As long as they have M365 apps for the enterprise they will have the Shared computer activation. MOre details can be found here - https://docs.microsoft.com/en-us/deployoffice/overview-shared-computer-activation#how-to-enable-shared-computer-activation-for-microsoft-365-apps

[2021-02-22 22:27] markjjo commented on #4124
Hi @abdkha I wasn't able to find anything about your situation. The expected behavior is that if a user's primary mailbox is a cloud-mailbox in EXO, then Teams chat connect would be stored in that mailbox. Maybe there is something specific to your environment/deployment (e.g. a previous migration of on-premises mailboxes to the cloud?) that results in the behavior of having to select the "IncludeU

[2021-02-22 22:27] #4124 closed

[2021-02-22 22:30] abdkha commented on #4124
Hi Mark,

I appreciate you getting back to me with some insight and next steps. You are correct – this must be investigated further to find the root cause. Perhaps it’s our hybrid setup where something may be amiss..
Anyhow thank you for your time 😊

Regards,
Abdul

From: Mark Johnson - MSFT <notifications@github.com>
Sent: Monday, February 22, 2021 5:28 PM
To: MicrosoftDocs/microsoft-365-docs <mi

[2021-02-22 22:30] LukeChung commented on #4205
We have Office 365 E3, but when a user with that license logs into the Remote Desktop machine and launches an Office program for the first time, Office isn’t activated.

I’m wondering if we don’t have Office 365 accounts and our network Active Directory integrated together. Is there something that needs to be done to connect the two?

Not everyone we assign Office accounts should be able to log in

[2021-02-23 06:06] CarolWangMS opened #4218 "Office 365 Global admins unable to create groups in Teams and Outlook"
Hi Experts,

I have recently did a test about this document:
https://docs.microsoft.com/en-us/microsoft-365/solutions/manage-creation-of-groups?view=o365-worldwide

As I can see from my test, the Office 365 Global admins who was not in the group can create groups via Planner,SPO and admin center. However, they will have trouble when trying to create groups via Teams or Outlook.

Could you please c

[2021-02-23 07:14] msbemba commented on #4202
@Ben-m-s Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4219

Thanks
Sri

[2021-02-23 07:15] msbemba commented on #4201
@panovattack  Thank you for your feedback. Are you referring to the device discovery in windows 10 or endpoint manager?

Thanks
Sri

[2021-02-23 07:23] msbemba commented on #4197
@nikkelly Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4220

Thanks
Sri

[2021-02-23 07:25] msbemba commented on #4193
@Quartermaster-007 Thank you for your feedback. We have added the information to "Before you begin" section of the document

Ensure users in your organization have a valid license for a Microsoft 365 or Office 365 commercial or EDU plan that includes access to Office desktop apps, such as one of the following plans:

Microsoft 365 Business Standard
Microsoft 365 Apps for business
Microsoft 365 App

[2021-02-23 07:33] msbemba commented on #4177
@Linas08 Thank you for your feedback. The below document provides guidance to help make sure that your clients are using TLS 1.2 or a later version and to disable TLS 1.0 and 1.1. -https://docs.microsoft.com/en-us/microsoft-365/compliance/prepare-tls-1.2-in-office-365?view=o365-worldwide#references

I have also added this information to the document via PR#https://github.com/MicrosoftDocs/microsof

[2021-02-23 08:46] Pher0ah opened #4223 "Microsoft 365 Groups (missing information)"
[Enter feedback here]
Please note that M365 Groups also create a Stream and Planner for each group; this doesn't seem to be mentioned here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a37b2d3-f63b-a719-565b-a46f2b1f2e96
* Version Independent ID: e267656e-4bda-f03b-4d9c-d5149ec0a227
* Content: [Compare groups - Micr

[2021-02-23 08:52] Larryngolog opened #4224 "It should say "user account is deleted" not "mailbox is deleted""
Hi!

Looks like there is a mistake in 2 places in document - "mailbox is deleted" should be changed to "User account is deleted":
- in paragraph "Inactive mailboxes and Microsoft 365 retention policies" it says "It has to be configured to retain content or retain and then delete content. If a retention policy is configured to only delete content, a mailbox that the policy is applied to won't becom

[2021-02-23 12:37] msbemba commented on #4205
@LukeChung The installation needs to be done differently here when shared activation is involved. More information can be found here - https://docs.microsoft.com/en-us/deployoffice/overview-shared-computer-activation

I'd recommend you create a support ticket via the need help section on the admin center and work with a support engineer to get this installed the correct way.

Hope this helps!

Tha

[2021-02-23 13:36] EricHindrichsen opened #4225 "Mention Azure AD user logins being logged in the Audited activities section of the article"
Hi,

I had checked all entries in the "Audited activities" section of this article before turning on the audit log in our tenant and I was quite confused when "User logged in" and "User logged out" showed up in there, since they were never mentioned in that section of the article. Adding further to the confusion was the fact that these events are shown in the log as part of the "Workplace Analytic

[2021-02-23 14:27] panovattack commented on #4201
In new M365 Security Center --> Setttings --> Device Discovery

[2021-02-23 20:10] hbteibet opened #4230 "Update versions information for Outlook client"
The information on the docs site and in the M365 admin center, "Deploy a new add-in" > "Choose from the Store" pages contradicts. At the link below, it shows that the "Report Phishing" button is only compatible with Outlook 2016 for Mac, but the Store shows "Outlook 2016 or later on Mac".

https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/enable-the-report-phish-add-in?vi

[2021-02-23 20:31] Encodian opened #4231 "E3 vs E5 - Programmatically applying a retention label"
Hi,

Whilst the documentation clearly outlines the available automation options (Specific conditions, trainable classifiers and events) for applying retention labels, and the M365 Compliance Licensing Comparison guide details which of these options are available for the Microsoft 365 E3 and Microsoft 365 E5 licence types.

However, we can't find documentation or guidance confirming whether utilisi

[2021-02-23 20:45] djxspike opened #4232 "Clarification on the Set-OrganizationConfig -AutoExpandingArchive command"
"If you run the `Set-OrganizationConfig -AutoExpandingArchive` command to enable auto-expanding archiving for your organization, you don't have to run the `Enable-Mailbox -AutoExpandingArchive` on individual mailboxes. Running the `Set-OrganizationConfig` cmdlet to enable auto-expanding archiving for your organization doesn't change the AutoExpandingArchiveEnabled property on user mailboxes to Tru

[2021-02-23 20:48] jshimota01 opened #4233 "Not a sufficient answer."
This is not the information that was here previously.  Removing tools for troubleshooting and putting sales pages is crap.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27cfde59-3218-db66-b5a9-73c4268f65fb
* Version Independent ID: 50628765-ec46-37a0-ad4d-55816cb78379
* Content: [Upgrade your Office 2010 to Microsoft

[2021-02-23 20:51] cabailey commented on #4231
Hi Encodian  We link to "Microsoft 365 licensing guidance for security & compliance" (https://aka.ms/ComplianceSD) at the top of this page because licensing is owned by another team, so we can't give you authoritative answers to these types of questions.  That would be the right page to submit your question so it's seen by people who can answer it.  Alternatively, you can ask your Microsoft accoun

[2021-02-23 20:51] #4231 closed

[2021-02-23 22:25] Breid125 opened #4235 "Missing important information about interaction of the Add-in with Shared Mailboxes"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/enable-the-report-message-add-in?view=o365-worldwide#what-do-you-need-to-know-before-you-begin

The Report Phishing and Report Message add-in function is not available when accessing a Shared Mailbox within Outlook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2021-02-23 22:27] Breid125 commented on #4235
Frankly, it should be. Shared Mailboxes are generally the delivery point of publicly posted email addresses and tend to be subject
 to increased malicious mail flow....but until such time as THAT issue is resolved, the documentation should be clear about this limitation.

[2021-02-23 22:31] markjjo commented on #4232
@djxspike This is trying to say that if you run Set-OrganizationConfig -AutoExpandingArchive $True, then doing that doesn't change the value of the AutoExpandingArchive property on a mailbox to "True". So, if Get-OrganizationConfig | FL AutoExpadingArchive returns a value of True, auto expanding archiving is enabled for all mailboxes in the org, regardless of what the value for the AutoExpandingAr

[2021-02-23 22:31] #4232 closed

[2021-02-23 22:53] DeanGross opened #4236 "Clarification of licensing requirements"
The text states that an org needs the P2 license, but its not clear if each user that is subject to simulated attack needs this license. Please clarify if this is a requirement

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fbdcbd5-7bd2-6b55-b72c-cbedfdea776c
* Version Independent ID: 1e6198f8-6ef1-6227-c9e8-f31944a5d

[2021-02-24 01:23] Linas08 commented on #4177
Sorry no help I don’t know what a TLS dependency could be?

From: Sriraman M S <notifications@github.com>
Sent: Tuesday, February 23, 2021 1:34:17 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Linas08 <linasatlas@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Disabling TLS 1.0 and 1.1 for Microsoft 365 (#4177

[2021-02-24 02:04] SvenBell opened #4238 "Missing information about required licensing"
Hi, This page is missing vital information to use the Import PST method... This is a premium feature which requires at least _Exchange Online Plan 2_ or _Exchange Online Archiving_ license.
If not licensed enough, the role _Mailbox Import Export_ is not listed to be able to assign it to _Organisation Management_ role.
Could you please add this detail asap.
Many Thanks

---
#### Document Details

⚠

[2021-02-24 02:06] SvenBell commented on #4238
![image](https://user-images.githubusercontent.com/52518943/108934430-a62cea00-7698-11eb-9e33-ce007e917a7d.png)

[2021-02-24 03:11] SvenBell commented on #4238
**Mail Import Export** role not showing in list of roles to add or remove.

[2021-02-24 07:50] yogkumgit commented on #3997
@msbemba Thank you very much for the contribution and updating the documentation with PR. @maxst33l Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 07:50] #3997 closed

[2021-02-24 07:54] yogkumgit commented on #4159
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sara-barbosa Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 07:54] #4159 closed

[2021-02-24 08:33] sara-barbosa commented on #4159
@yogkumgit @msbemba thanks to you. May I ask you to provide the link where that note was added, please?
I was checking this link https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide#deploy-an-office-add-in-using-the-admin-center - did not find the updated note.

[2021-02-24 10:28] yogkumgit commented on #4164
@msbemba Thank you very much for the contribution and sharing this explanation. @rajavelks Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 10:28] #4164 closed

[2021-02-24 10:30] yogkumgit commented on #4162
@msbemba Thank you very much for the contribution and sharing this explanation. @Bartolomeus-649 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 10:30] #4162 closed

[2021-02-24 10:32] yogkumgit commented on #4156
@msbemba Thank you very much for the contribution and sharing this explanation. @aniketjambhale Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 10:32] #4156 closed

[2021-02-24 10:34] yogkumgit commented on #4153
@msbemba Thank you very much for the contribution and sharing this explanation. @WeirdCircumstances Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 10:34] #4153 closed

[2021-02-24 10:53] yogkumgit commented on #4192
@jmmowrer Hope this information is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 10:53] #4192 closed

[2021-02-24 10:55] yogkumgit commented on #4191
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2021-02-24 10:57] yogkumgit commented on #4207
@cabailey Thank you very much for sharing this explanation. @leenana365888 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 10:57] #4207 closed

[2021-02-24 11:00] yogkumgit commented on #4205
@msbemba  Thank you very much for the contribution and sharing this explanation. @LukeChung Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-02-24 11:00] #4205 closed

[2021-02-24 11:03] yogkumgit commented on #4193
@msbemba Thank you very much for the contribution and sharing this explanation. @Quartermaster-007 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 11:03] #4193 closed

[2021-02-24 11:07] yogkumgit commented on #4134
@msbemba Thank you very much for the contribution and sharing this explanation. @HarrisburgUSysAdmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 11:07] #4134 closed

[2021-02-24 11:13] yogkumgit commented on #4136
@msbemba Thank you very much for the contribution and sharing this explanation. @ijrzhong Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-24 11:13] #4136 closed

[2021-02-24 14:20] gfard opened #4240 "Issue with the tenantAllowBlockList Link"
Is the link describe in the document applicable anymore? https://protection.office.com/tenantAllowBlockList

[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows and blocks

[2021-02-24 16:21] LukeChung commented on #4205
Thanks. We installed Office 365 using the instructions provided in that other page but it doesn’t handle the licensing for all users.

Each user still needs to manually sign into their Office 365 account when they remote to the machine the first time. This wasn’t the case with Office 2010 where we could install a Remote Desktop Office license.

So the problem remains.

Luke

From: Yogesh Kumar <no

[2021-02-24 16:52] BrianMcNeese opened #4242 "Clarity For: External DNS records required for Skype for Business Online"
Can we verify what DNS records are actually needed for Microsoft Teams (and why)? There's also a note in there that says the records are needed especially in hybrid scenario...I think this is false because in hybrid we typically leave DNS pointed to the on-prem SfB deployment until all users have been migrated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2021-02-24 17:09] msbemba commented on #4205
@LukeChung Thank you for the response. I'd still recommend you contact Microsoft on this as this is not the expected behavior and if this is a bug, they can get it escalated internally. Let us know how it goes.

Thanks
Sri

[2021-02-24 17:16] LukeChung commented on #4205
Yea, we’ve done that. Looks like every user has to manually enter their Office 365 login the first time they remote to a VM that has Office 365 installed for it in shared mode. With hundreds of users and multiple remote desktop hosts, that’s too much of a mess.

The workaround that should be mentioned is that this isn’t an issue with Office 2010 using a remote desktop Office license. That’s what w

[2021-02-24 17:24] chrisda commented on #4240
@gfard, yes. The feature is currently in some level of Preview. Are you saying you had access to it and it went away, or you never had access to it and you can't access it?

[2021-02-24 18:04] LukeAllinson-NS opened #4243 "Organisation-wide Security & Compliance Retention Policies"
Helllo,

Can I ask if the documentation could be updated to include a note about changing the organisation-wide Security & Compliance Retention policies applied to inactive mailboxes.
The documentation does state (albeit on a different page) that you cannot change the retention policy that an inactive mailbox is assigned to; this makes sense for policies where mailboxes are explicitly included as

[2021-02-24 18:25] gfard commented on #4240
Dear Chris

Thank you for your reply.

I had never access to it. Just read about it in MS Docs and tried it access
it. I have the roles mentioned in the matrix and the licenses needed (e5)
Perhaps some screenshots would be useful.

Thank you for your time in advance.

Georgios

Sent by George Fardellas at Gmail dot com

On Wed, Feb 24, 2021, 19:24 Chris Davis <notifications@github.com> wrote:

[2021-02-24 19:16] markjjo commented on #4238
@SvenBell Thanks for feedback. As far as I know, there isn't a licensing requirement for RBAC roles in Exchange Online. In your screenshot above, you might try clicking "Add" under "Roles" and then add the Mailbox Import Export role to the Organization Management role group. As per the doc, this role isn't assigned to Org Management by default.  The list of roles that are displayed in your screens

[2021-02-24 19:16] #4238 closed

[2021-02-24 20:14] LukeAllinson-NS opened #4246 "Deleting inactive mailboxes with org-wide retention policies applied"
Hello,

This is partially related to another issue I have logged (https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4243) where we are managing inactive mailboxes and Security & Compliance policies which apply to all mailboxes.

This article (https://docs.microsoft.com/en-us/microsoft-365/compliance/delete-an-inactive-mailbox?view=o365-worldwide) provides instructions for deleting an inac

[2021-02-24 20:44] markjjo commented on #4246
@LukeAllinson-NS Thanks for feedback. You might try this cmdlet in EXO PowerShell:

 Set-Mailbox -ExcludeFromOrgHolds <hold GUID without prefix or suffix>

which is documented here: https://docs.microsoft.com/en-us/microsoft-365/compliance/identify-a-hold-on-an-exchange-online-mailbox?view=o365-worldwide&preserve-view=true#next-steps

also see https://docs.microsoft.com/en-us/powershell/module/exc

[2021-02-25 02:08] sumitvalecha opened #4247 "So If we have setup 10 yrs. Audit Logs retention policy then can we access, search or do eDiscovery on Audit logs from the UI and PowerShell up to 10 yrs. back? or do we have contact Microsoft as not sure UI will support access to logs upto 10 yrs back as it is not mention clearly on the documentation page"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent ID: fa4bca98-3975-23dd-dfac-f23049c71d01
* Content: [Search the audit log in the Security & Compliance Center - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/complia

[2021-02-25 09:47] LukeAllinson-NS commented on #4246
Thanks so much for the quick response Mark.

I will review the links you sent and let you know how I get on.

Kind Regards
Luke

Luke Allinson
Microsoft 365 Architect
Microsoft Business Group
D:    +44 20 8132 4416
✉
Luke.Allinson@newsignature.com
🌐   https://mbg.cognizant.com
Cognizant
Microsoft Business Group
#NS1001
From: Mark Johnson - MSFT <notifications@github.com>
Sent: 24 February 2021 20:

[2021-02-25 10:48] webash opened #4249 "PowerShell instructions refer to old and non-MFA friendly connection method"
Please update the PowerShell section of this article to link to more up-to-date guidance about how to use Exchange Online PowerShell, rather than include the outdated use of PsSession which doesn't support Modern Authentication.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa612c0e-c089-8b3e-8e2e-dd12b6fc382c
* Versi

[2021-02-25 14:05] nikki-c opened #4250 "In place holds have been retired"
In the holds for mailboxes you are mention an option is In place holds for mailboxes. This functionality has been retired.
I am cross referencing to the following page for more information
 On Microsoft Docs page  https://docs.microsoft.com/en-us/exchange/security-and-compliance/in-place-and-litigation-holds is says this
As we continue to invest in different ways to preserve mailbox content, we're

[2021-02-25 15:43] rezwansarker opened #4252 "Android Developer Platform"

[2021-02-25 15:44] rezwansarker commented on #4252
Go Google My Way

[2021-02-25 17:03] jgdolph opened #4253 "The powershell script you list errors out."
[The powershell script you list in the document to identify all Bookings associated mailboxes is Get-Mailbox -RecipientTypeDetails SchedulingMailbox -ResultSize:Unlimited | Get-MailboxPermission |Select-Object Identity,User,AccessRights | Where-Object {($\_.user -like '\*@\*')} and it errors out because you have \ in three places you shouldn't.  Correct syntax should be:
Get-Mailbox -RecipientType

[2021-02-25 17:22] sara-barbosa commented on #4159
@msbemba sorry to bother you again. Could you please point me to the updated noted? is in this page right? https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide#deploy-an-office-add-in-using-the-admin-center

[2021-02-25 17:46] terrogin opened #4254 ""Document size equals or is greater than" - unit of measure"
For the condition "Document size equals or is greater than" there's no unit of measure included, and the Security and Compliance console doesn't specify when adding the condition to a rule, either.

Is this measured in bytes?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28be949f-8589-8f7c-8e08-

[2021-02-25 17:50] hilari0n opened #4255 "How to access a specific tenant directly (URL)"
The document describes how to switch a tenant. It does not specify, how can you access a specific tenant directly, e.g. if there's a URL I can use to access a specific tenant without having to access the default one and switch to the target one.
This sounds like a minor inconvenience, but becomes a real issue, if access to admin center on my default tenant is blocked - then I have no way to get to

[2021-02-25 18:09] msbemba commented on #4159
@sara-barbosa  Looks like the Merged PR is not live yet. I'll check with the author and update you.

[2021-02-25 18:10] markjjo commented on #4247
@sumitvalecha Audit log retention periods are not retro-active. For 10-yr  audit retention policy, the retention period would be initiated/start after the policy is created/applied. For example, if you created a 10-yr audit retention policy on Mar. 1, 2021, any in-scope audited activity performed **after** Mar. 1, 2021 would be retained 10 yrs in the future (for example, in 2023, you could search

[2021-02-25 18:11] msbemba commented on #4159
@kwekuako I see the merge is complete, However, the data is not live on the document. Would you be able to check this?

Thanks
Sri

[2021-02-25 18:17] markjjo commented on #4250
@nikki-c Good point. In-Place Holds are still listed in this topic because it's possible that an existing In-Place Holds may still be applied to mailboxes (especially inactive mailboxes) and they can be removed. So this topic explains how to identify them. I could add a note to the topic stating this. Is that your recommendation/ask?

[2021-02-25 18:22] msbemba commented on #4205
@LukeChung I agree that you have a sign in for the first time, but I'm surprised that the support did not give you other options about Azure Active Directory Seamless Single Sign-On or ADFS for that matter. - You can check the below document-

https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-sso

Let me know if this helps

Thanks
Sri

[2021-02-25 18:28] msbemba commented on #4177
@Linas08 The document talks about how to prepare for the change depending on the applications - https://docs.microsoft.com/en-us/microsoft-365/compliance/prepare-tls-1.2-in-office-365?view=o365-worldwide#references

If you are using o365 as standalone and do not have any third-party applications or an SMTP relay. you do not have to worry. Meanwhile, you could also contact the support team using th

[2021-02-25 18:29] markjjo commented on #4224
@Larryngolog Thanks for the feedback. Good points. I will update the documentation as per your suggestions.

[2021-02-25 18:29] #4224 closed

[2021-02-25 18:49] #4197 closed

[2021-02-25 19:06] scorp508 commented on #4144
There are no plans to limit geos in EXO at this time. The only reason this is possible with SPO/ODB is due to a different architecture which requires a per-geo URL to be specified while EXO uses a global single namespace for client access.

The only service which relies on CompanyAllowedDataLocation is SPO/ODB due to their architecture requirements, and their admin UI will automatically populate t

[2021-02-25 19:45] nikki-c commented on #4250
I would make it clearer as it is misleading at the moment. And maybe reference the the link I added.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mark Johnson - MSFT <notifications@github.com>
Sent: Thursday, February 25, 2021 6:17:46 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Nikki Chapple (Group) <nikki.chapple@global

[2021-02-25 19:53] markjjo commented on #4250
@nikki-c Will do. Thanks.

[2021-02-25 19:53] #4250 closed

[2021-02-25 20:37] Beschorr opened #4256 "Navigation improvements?"
The article is really good but it's not obvious how to do the things the article tells you about. You can sort of find the things it mentions in the left nav, but might be good to hyperlink from text in this article to the content that explains more in depth about the thing being talked about (Like MFA or Safe Links). Some of the things in the article (like DLP) don't appear by the exact same name

[2021-02-25 20:59] chrfox commented on #4254
from the New-DLPComplianceRule cmdlet

The DocumentSizeOver parameter specifies a condition for the DLP rule that looks for messages where any attachment is greater than the specified size.

When you enter a value, qualify the value with one of the following units:

- B (bytes)
- KB (kilobytes)
- MB (megabytes)
- GB (gigabytes)
- TB (terabytes)

[2021-02-25 20:59] #4254 closed

[2021-02-25 22:11] Splish70 opened #4258 "Missing CNAME record in step by step guide for 123.Reg"
Hi,

When following the great instructions i found the section around adding CNAME lines to be confusing as it denotes there are 6 CNAME records to add but only gives 5 of them!

It may be there are only 5 lines to add and the text needs to be corrected or the missing 6th needs to be added to the instructions.

Kind regards and if i've missed something be kind...its my first post!

Splish70

---
#

[2021-02-25 22:35] deividfoggi opened #4259 "Filter to get all mailboxes with disabled archive is not accurate"
Consider the following section:

Enable archive mailboxes

Run the following command to enable the archive mailbox for all users in your organization (whose archive mailbox is currently not enabled).

Get-Mailbox -Filter {ArchiveGuid -Eq "00000000-0000-0000-0000-000000000000" -AND RecipientTypeDetails -Eq "UserMailbox"} | Enable-Mailbox -Archive

The command above will not get any user that had ar

[2021-02-25 22:54] markjjo commented on #4259
@deividfoggi This cmdlet syntax was recently updated to filter on ArchiveGuid property base on github issue #4128 opened by another customer. We made this change because of the issue about AchiveStatus = None documented here: https://docs.microsoft.com/en-us/office365/troubleshoot/archive-mailboxes/archivestatus-set-none

So there seems to be issues with both of these properties. Do you know if th

[2021-02-25 23:11] deividfoggi commented on #4259
Looks like ArchiveDatabaseGuid wasn't cleared out as well. Archive mailbox for this user is disabled, but both guids are there with status none. Looking forward to see the engineering answer. If needed, you guys can contact me internally. Thanks!

![image](https://user-images.githubusercontent.com/39340082/109231461-69024e00-77a5-11eb-9e5a-11110b10c467.png)

[2021-02-25 23:37] trenables opened #4261 "Stream"
Where or how does Stream align with 365 groups?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 809bcea7-ebd6-58bc-9ff0-e764a459016d
* Version Independent ID: f86ecf79-7095-772a-980e-356a995061c5
* Content: [Overview of Microsoft 365 Groups for administrators - Microsoft 365 admin](https://docs.microsoft.com/en-us/micro

[2021-02-26 03:58] yogkumgit commented on #4252
@rezwansarker What is your feedback and which document you are referring to. Please mention.

[2021-02-26 04:17] yogkumgit commented on #4202
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Ben-m-s Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-26 04:17] #4202 closed

[2021-02-26 06:50] Kazzan opened #4263 "Warning for Yammer Native Mode"
Hi, to section where you mentioned the activities automatically renew Microsoft 365 Group, you should add warning that "All Company" group converted in Yammer Native Mode to Microsoft 365 Group does not support such, and Yammer activities does not count. At least to time, when Yammer address this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-26 07:36] msbemba commented on #4186
@DeanGross Thank you for your feedback. I have added information about mailbox requirements via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4264. Once the author approves the PR will be merged.

Thanks
Sri

[2021-02-26 07:40] msbemba commented on #4188
@regnertomas Thank you for your feedback. I'm currently working on this with the author and will update you shortly.

Thanks
Sri

[2021-02-26 07:49] msbemba commented on #4189
@ivanmaria Thank you for your feedback. We are currently checking these details with Author and PG and will update you shortly.

Thanks
Sri

[2021-02-26 08:05] msbemba commented on #4170
@michaelblumenthal Thank you for your feedback. I'm currently working with the author/PG to get this information, I'll update you shortly.

Thanks
Sri

[2021-02-26 08:17] msbemba commented on #4163
@sebhe Thank you. I have added information about customize branding via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4203

Thanks
Sri

[2021-02-26 08:26] msbemba commented on #3969
@dkotars Thank you for the feedback. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4265. Once the author validates and approves the document will be updated.

Thanks
Sri

[2021-02-26 08:29] msbemba commented on #4201
@panovattack  Thank you for the details. I shall verify the list and document and update you shortly.

Thanks
Sri

[2021-02-26 08:34] msbemba commented on #4165
@toomasmottus Thank you for your feedback. I'm currently working with the author and PG to fix this in the backend. We will update you shortly.

Thanks
Sri

[2021-02-26 13:05] msbemba commented on #4144
Thank you for the clarification @scorp508

[2021-02-26 16:40] paul-rich opened #4266 "Link in this page is broken"
The link on this page, https://csrc.nist.gov/groups/STM/cmvp/documents/140-1/1401vend.htm, does not work. When clicking it the resulting page is a server 500 error. Please correct this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 817fbe87-a720-b940-e27b-3e98b20e68e3
* Version Independent ID: f998f64e-e05a-0ce1-85cd-

[2021-02-26 19:07] jamesamayes opened #4269 "Code sample for upgrade single DL has extra character"
The code example to upgrade a single DL seems to have an extra character at the end.

Upgrade-DistributionGroup -DlIdentities \<Dl SMTP address\>`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cb1e873-a684-ba18-21b4-33c2c4cf5aeb
* Version Independent ID: badad26e-0e5e-ab12-f3ae-b6cab759e7b8
* Content: [Upgrade distri

[2021-02-26 20:00] jwojan opened #4270 "Can we include Content Explorer Indexing rate?"
It would be good to provide some detail on how long interrogation of data for sensitive info types takes and how often this inspection happens. None of the documentation tells me how long I would have to wait to see a reasonable report on a large block of data that is uploaded to Sharepoint Online or the services that depend on it.

---
#### Document Details

⚠ *Do not edit this section. It is req

[2021-02-26 20:43] #3969 closed

[2021-02-26 20:47] chrfox commented on #4151
HI @DeanGross

Thanks for the suggestion. I'll keep it in mind as the content is reworked.

[2021-02-26 20:47] #4151 closed

[2021-02-26 21:19] chrfox commented on #4191
HI @Mike-Crowley

The formatting issues have been fixed and the others are being researched and will be corrected as appropriate.

[2021-02-26 21:19] #4191 closed

[2021-02-27 01:17] Beschorr opened #4272 "Small page title mismatch"
Small thing but the page title says "Insider risk solution" and probably should say "...solutions" (plural) to be consistent with the article title or have "overview" appended.
![image](https://user-images.githubusercontent.com/43045782/109370694-4d0ab500-7856-11eb-8fe6-bed71bd316c6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-02-27 17:19] rgsteele opened #4273 "teamsdevicemgmtsvcprod.blob.core.windows.net missing from Teams section"
As reported [here](https://techcommunity.microsoft.com/t5/microsoft-teams/device-management-in-teams-urls-and-ip-address-ranges/m-p/1489484) and verified by me, Teams Phones download their firmware updates from this URL, which is missing from the "Skype for Business Online and Microsoft Teams" section of the document:

    https://teamsdevicemgmtsvcprod.blob.core.windows.net

Tagging @kruthikaponn

[2021-02-27 23:20] msbemba commented on #4201
@panovattack Thank you for the information. I do not see device discovery yet. Are you referring to the detection test available under device management(in endpoints) ?
![Uploading image.png…]()

Thanks
Sri

[2021-02-27 23:34] msbemba commented on #4206
@glr0221 Thank you for the feedback.

Network Message ID - Use the  X-MS-Exchange-Organization-Network-Message-Id

Sender IP - It is 'X-Originating-IP' email-header

Email Address - Supports only  the from address (You cannot provide First name and last name) instead it can be firstname.lastname@domain.com if that the email that the message is sent from.

Subject - The email subject is always unde

[2021-02-28 03:23] panovattack commented on #4201
Image Attached.
![DeviceDiscovery](https://user-images.githubusercontent.com/17179159/109406855-f24e8780-7941-11eb-8b02-b03cbeb75c17.PNG)

[2021-02-28 17:27] danmyhre commented on #4144
Thanks @scorp508 - this is good to know. May want to add something to this section about that:

https://docs.microsoft.com/en-us/microsoft-365/enterprise/administering-exchange-online-multi-geo?view=o365-worldwide#view-the-available-geo-locations-that-are-configured-in-your-exchange-online-organization

[2021-02-28 20:54] SwiftOnSecurity opened #4275 "Licensing for ZAP to work."
I realize that reflecting ever-changing Microsoft licensing requirements in documentation is hard, but I feel this page should **make clear what licensing level is required for ZAP to work.**

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fb415a2-fc7c-5b9a-96de-f01be631bf07
* Version Independent ID: c5d4ab

[2021-03-01 07:11] ivanmaria commented on #4189
Hi @msbemba, awaiting for the update.

[2021-03-01 10:08] glr0221 commented on #4206
Thank you very much @msbemba sri. You answers are well-appreciated.

To clarify:

1. What if the subject is something like this :  "We have ) and ( signs in the subject."
There is no need to escape the sample subject string stated above right? Even if I have parenthesis in the subject.

2. The EML part is awesome to know. Now I have some peace of mind as to the integrity and quality of data I am s

[2021-03-01 12:19] yogkumgit commented on #4206
@msbemba Thank you very much for the contribution and sharing this explanation. @glr0221 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-01 12:19] #4206 closed

[2021-03-01 12:25] yogkumgit commented on #4188
@kelleyvice-msft  Please update this and help us in resolving this issue. Thanks.

[2021-03-01 12:38] yogkumgit commented on #4189
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-01 15:10] plecavalier opened #4277 "DKIM CNAME or TXT record type."
In my experience (mostly Google related) DKIM requires TXT record types not CNAME. Even in the O365 admin portal in the domain DNS settings section the page refers to creating TXT record types yet this docs refers to CNAME. Which is it? And how can you publish the public key for DKIM using strictly CNAME if it is to be a CNAME record type?

[2021-03-01 15:15] yogkumgit commented on #4277
@plecavalier Please mention, which document you are referring to. Thanks

[2021-03-01 15:49] markquinnuk opened #4278 "How about the other way round? and no coments"
What about if you want to allow everyone except users that are in a certain group? Surely this is the more logical approach. Keep things as default and have a group that disallows M365 groups to be created.

The script has no comments and I am finding it very difficult to follow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-03-01 16:16] plecavalier commented on #4277
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#Publish2CNAME

[2021-03-01 19:13] nikki-c opened #4282 "Soft delete period for the SharePoint site"
Can you confirm what the soft delete period of the SharePoint site associated with the Team is? This page says soft delete for everything in the group is 30 days.

However on the SharePoint microsoft doc pages it states the SharePoint site is soft deleted for 93 days https://docs.microsoft.com/en-us/sharepoint/delete-site-collection

---
#### Document Details

⚠ *Do not edit this section. It is re

[2021-03-01 19:30] markjjo commented on #4225
@EricHindrichsen Thanks for the feedback. These are good suggestions. This is confusing. Adding to this is that record type for user logged in and out events are AzureActiveDirectoryStsLogon (enum value = 15). I will update the article as per your suggestions.

[2021-03-01 21:05] CherokeeBoose opened #4283 "Bracket in text."
Hello! Thanks for the info on this page. I just wanted to share a minor typo with a stray bracket as noted below between following and policy:

"You can select from the following[policy templates to quickly get started with insider risk management:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6b230596-3cff-a5b9-e9b6

[2021-03-01 21:26] steve-novanex opened #4284 "Misleading Document Title"
Thank you for this information; I was hoping to be able to allow external members (contacts) of a distribution list group to be able to send email on behalf of the group, but apparently that isn't allowed.  Given that limitation, the title and first paragraph could be improved by using the term "users" instead of "members" because not all "members" can be set up that way.

[Enter feedback here]

-

[2021-03-02 04:04] yogkumgit commented on #4242
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-02 04:15] yogkumgit commented on #4270
@chrfox Please add your comment and help us in resolving this issue. Thanks.

[2021-03-02 04:20] yogkumgit commented on #4211
@lomayor  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-02 06:54] paul-rich opened #4286 "Use of Microsoft DLP in Windows Server versions"
If an organization is using Virtualization of Windows (virtual desktop, such as with Citrix) and the choice is made to use Windows Server 2016, the reader of this article wants to know of the DLP capabilities shown as available in Windows 10 would also be available in Windows Server 2016.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-03-02 07:59] erik365online opened #4288 "Clarification on Azure AD registered device removal and impacts"
One of our customers is preparing to get migrated from Microsoft Cloud Deutschland. Our technical Microsoft contact for this recommended to start removing Azure AD registred devices soon, because it can take some time to get this done.
Therefore, I'm in using the section "Azure AD Registered (Company owned)" to get started. The customer has only Azure AD registred devices because no computer objec

[2021-03-02 08:23] hyoshioka0128 opened #4289 "Typo "** Azure Active Directory**" (ja-jp)"
Typo "** Azure Active Directory**" (ja-jp)

ja-jp: "https://docs.microsoft.com/ja-jp/microsoft-365/compliance/use-your-free-azure-ad-subscription-in-office-365?view=o365-worldwide"
![use-your-free-azure-ad-subscription-in-office-365_j](https://user-images.githubusercontent.com/40815708/109619171-ccacc280-7b7b-11eb-81e7-2e730472fe6a.png)

en-us: "https://docs.microsoft.com/en-us/microsoft-365/compl

[2021-03-02 08:48] msbemba commented on #4272
@Beschorr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4291

Thanks
Sri

[2021-03-02 08:49] msbemba commented on #4269
@jamesamayes Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4290

Thanks
Sri

[2021-03-02 08:53] msbemba commented on #4253
@jgdolph Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4292

Thanks
Sri

[2021-03-02 08:56] msbemba commented on #4258
@Splish70 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4293

Thanks
Sri

[2021-03-02 09:01] msbemba commented on #4261
@trenables Thank you for your feedback. We have added information about Stream and also added a related article to the document on how to organize groups and channels in MS stream.This can be tracked via PRhttps://github.com/MicrosoftDocs/microsoft-365-docs/pull/4294

Thanks
Sri

[2021-03-02 10:14] adamfowlerit opened #4295 "Optional Step 3 needs updating"
The Microsoft Azure Storage Explorer tool doesn't have the option listed in the doco, you now have to choose Blob Container > Shared Access Signature

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4271558-62a9-db3c-078c-13b5e5fe99da
* Version Independent ID: 813d7002-20a2-b1be-2771-975a0b1cfd48
* Content: [Use network

[2021-03-02 11:01] flowl commented on #3076
@yogkumgit Ticket shouldn't be closed as support confirmed my suggestions.

[2021-03-02 11:44] tomek-wday opened #4296 "Clarification about Group users limit"
[Enter feedback here]

Hello
I found in the documentation the upper limit of how many users can be part of group.
Implicitly it passes the message 'there is no limit'
But according to community post :
[https://techcommunity.microsoft.com/t5/microsoft-365-groups/office-group-membership-limitation/m-p/170207](url)
There is undocumented limit 2500 users per group.
Can you please document it?

It's re

[2021-03-02 13:00] msbemba commented on #3076
@flowl Thank you for your feedback. Any design change request would have to go through the user voice ->product group.We have a similar request on user voice portal -https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/42523222-enable-dkim-key-creation-in-admin-center . You can Vote for this Idea and get notified when this feature becomes available.

Thanks
Sri

[2021-03-02 13:23] msbemba commented on #4235
@Breid125 Thank you for your feedback. If the shared mailbox is auto mapped, you may not be able to view the add-in on outlook.
A multitude of features are only available when the mailbox is added as an additional account, there's nothing specific to the report message add-in here.

Hope this helps!

Thanks
Sri

[2021-03-02 13:28] msbemba commented on #4233
@jshimota01 Thank you for your feedback Since Microsoft does not provide Bug fixes or technical support for Office 2010 it is advisable to upgrade the Office suite. Is there any in particular that you would like to see in this document?

Note that We still have Support and recovery assistant (SARA) available for troubleshooting technical issues on Office 2010.

Hope this helps!

Thanks
Sri

[2021-03-02 13:33] msbemba commented on #4230
@hbteibet Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4297

Thanks
Sri

[2021-03-02 13:52] msbemba commented on #4218
@CarolWangMS Thank you for your feedback. I test this as well and you are right The steps in this article won't prevent members of certain roles from creating Groups. Office 365 Global admins can create Groups via any means, such as the Microsoft 365 admin center, Planner, Teams, Exchange, and SharePoint Online. The same has been mentioned in the document as well for clarity.

Hope this helps!

Th

[2021-03-02 14:21] CarolWangMS commented on #4218
Hi @msbemba Thank you for your reply. My friend and I has tested, but we both have the same issue.
May I confirm again that After you set up the configuration as the document, an O365 global admin **who is not in the security group** can still create groups via Teams and OWA?
We have tested that users and admins in the group works as expected. but global admin who is not in the group looks differe

[2021-03-02 14:28] msbemba commented on #4218
@CarolWangMS Thank you. I May have misunderstood the initial request. I'm not able to create via teams, web app and outlook. But can do it through the  Planner, SPO, and Admin center. I will update the document accordingly.

Thanks
Sri

[2021-03-02 14:32] CarolWangMS commented on #4218
Hi @msbemba  Thank you so much for verifying this. Now we share the same results.

[2021-03-02 14:41] msbemba commented on #4249
@webash Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4298

Thanks
Sri

[2021-03-02 16:09] Breid125 commented on #4235
So not providing the warning that the Report buttons will not work for a mailbox added in that manner is an acceptable omission of information? Consider that “group mailboxes” like info@ purchasing@ etc are among the most frequently targeted for attack, and that an org looking to protect itself buy using these adding leave themselves a hole in defence. Consider the cost of having customer contact

[2021-03-02 16:20] flowl commented on #3076
@msbemba
1. "This site is currently not active" and requirings creating yet another user account. 100% not gonna do that.

You don't respect the effort I put in this, improving your software. I am doing free quality assurance for you, gathering information from the past 4 years, verifying the issue, talking to different MS people, doing your homework. What are you doing in return?

Please just fix

[2021-03-02 16:28] msbemba commented on #3076
@flowl The document now contains steps to enable DKIM via Powershell -https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#to-enable-dkim-signing-for-your-custom-domain-by-using-powershell

I had referred you to UserVoice since you wanted a design change.

Thanks
Sri

[2021-03-02 16:32] flowl commented on #3076
@msbemba

"Once you have published the CNAME records in DNS, you are ready to enable DKIM signing through Microsoft 365. You can do this either through the Microsoft 365 admin center or by using PowerShell."

This is still wrong.

YOU NEED POWERSHELL + WINDOWS COMPUTER!

[2021-03-02 16:33] flowl commented on #3076
Microsoft should pay me for participating here, having to fight MS employes who don't understand their own product.

[2021-03-02 16:48] msbemba commented on #4235
@Breid125 Thank you for the feedback. It makes sense to add that information. So I Have added the limitation to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4299

Thanks
Sri

[2021-03-02 18:46] markjjo commented on #4289
@TinaMcN This looks like a loc issue in the ja-jp version, it is not in the en-us version. This is being caused by a space between the double asterix and "Azure". Removing this space in the ja-jp version should fix this.

![image](https://user-images.githubusercontent.com/36746813/109698573-65275080-7b44-11eb-975c-95b31f981427.png)

[2021-03-02 19:54] TinaMcN commented on #4289
@hyoshioka0128 thanks for reporting it. @marjkjo thanks for the extra info. I passed on to the localization vendors to fix it.

[2021-03-02 19:56] Pher0ah commented on #4223
Hi Sri, I am afraid the practical test shows differently. Also the MS700
coursework says it does, so please test and let me know.

kind regards,

Hany

On Wed, 3 Mar 2021, 00:49 Sriraman M S, <notifications@github.com> wrote:

[2021-03-02 20:00] #4289 closed

[2021-03-02 21:27] drewjames1234 opened #4307 "Microsoft test answer not in alignment with given page"
Please see question below (on administrator past exam).  The suggested correct answer is D.  I can't find any indication of the phrase Network Monitor.  This page is supposed to be the closest relevant document.

Could Microsoft synchronise information with what people are likely to be tested on?

Your company has a Microsoft 365 subscription.
When making voice calls from Microsoft Teams, users re

[2021-03-02 23:05] siosulli commented on #4235
Thanks @Breid125
I've made an update to the what-do-you-need-to-know-before-you-begin section to include some text around
the Report Message add-in not working on Shared Mailbox within Outlook.

[2021-03-02 23:52] flowl commented on #3076
This discussion feels unrewarding.

[2021-03-03 00:09] Breid125 commented on #4235
Thank you.

Same text should be applied to:
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/enable-the-report-phish-add-in?view=o365-worldwide

As they’re effectively the same add-in but with different UI process for submission.

If/when this get’s fixed, I’ll come back and let you know.  =)

-Brendan

From: siosulli <notifications@github.com>
Sent: March 2, 2021 3:06 P

[2021-03-03 07:00] andrewhellyer opened #4311 "Invoices sent to incorrect recipient"
I have a customer who is being sent invoices to an email address not configured to receive them, and is not assigned any of the roles which would receive them. I am unable to see any billing profile or billing account details, the pages show nothing. It seems there is something else, but is not covered under this help page.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-03-03 10:55] yogkumgit commented on #4253
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jgdolph Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 10:55] #4253 closed

[2021-03-03 10:59] sebhe opened #4312 "missing support of shared mailboxes"
Microsoft Support just confirmed that the usage of the report message add-in is not working / supported for shared / team mailboxes.

Can you add such a note to this article?

I would assume the same applies to the report phishing add-in

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445892a6-5948-33e4-ce60-72670829d8e

[2021-03-03 11:00] yogkumgit commented on #4261
@msbemba Thank you very much for the contribution and updating the documentation with PR. @trenables Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:00] #4261 closed

[2021-03-03 11:05] siosulli commented on #4312
Hi @sebhe and update on this was actually made yesterday to reflect this and should be available shortly!

[2021-03-03 11:06] yogkumgit commented on #4235
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Breid125 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-03 11:06] #4235 closed

[2021-03-03 11:09] sebhe commented on #4312
Ha, that is funny coincidence. Maybe this was due to my support ticket :-)
looking forward to the updated version

[2021-03-03 14:48] DeanGross opened #4316 "Expected Behavior - Hybrid Exchange Organization"
Please provide some information about what we should expect when some people in a chat have their mailboxes in Exchange Server and some have them in Exchange Online. How do the DLP policies affect the messages in this scenario?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebaab3f7-d1d4-c649-efe8-f24913da4f3e
* Versio

[2021-03-03 14:58] ivanmaria commented on #4189
Hi @kelleyvice-msft, I am waiting to hear from you. Thanks

[2021-03-03 16:15] andrasg opened #4317 "Missing information in inbound autodiscover rule requirements"
The "Additional endpoints not included in the Office 365 IP Address and URL Web service" page lists in row 10 the following information:

![image](https://user-images.githubusercontent.com/10730249/109833179-55416680-7c41-11eb-999d-a79076d8eed9.png)

In my view the wildcard DNS names cannot be utilized to filter inbound traffic on an on-premise infrastructure.

Without exact DNS names it does not

[2021-03-03 16:26] TinaMcN commented on #4289
@hyoshioka0128 the issue is now fixed, thanks again for letting us know about it.

[2021-03-03 16:32] msbemba commented on #4189
@ivanmaria It usually takes a few days to verify and confirm this information with the product group. We have informed the author and you will receive an update once it is made available to us.

Thanks
Sri

[2021-03-03 18:18] pckts opened #4318 "Possible typo"
[Enter feedback here]
Possible typo found in section:
"Enabling an archive mailbox for every user in the organization. This gives users **addition** mailbox storage, and is required so that a retention policy can move items to the archive mailbox"

I suspect this was meant to be "additional" rather than "addition"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2021-03-04 01:11] huzzeytech opened #4321 "Clarity on how this sign-in experience is triggered in Outlook"
Is there a way for a user to request the QR logon form within Outlook? The language here suggests the user may or may not see the option to download Outlook for mobile and in turn be given a QR code. Additional clarity would be great! Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 749a8389-eda6-3059-b713-5d0

[2021-03-04 01:24] david-ps opened #4322 "Link 404: Use Centralized Deployment PowerShell cmdlets to manage add-ins"
Link Broken

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61e46dd-c1ff-dfec-5e0e-9f2e7251a5c1
* Version Independent ID: 49f69fa9-33e8-373f-a7f9-26b828510fda
* Content: [Manage add-ins in the admin center - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-addins-in-the-admin-cent

[2021-03-04 11:52] sara-barbosa commented on #4159
Hi @kwekuako, hope you are doing well.
I still don't see the changes in this page: https://docs.microsoft.com/en-us/microsoft-365/admin/manage/manage-deployment-of-add-ins?view=o365-worldwide#deploy-an-office-add-in-using-the-admin-center

[2021-03-04 13:32] msbemba commented on #4159
@sara-barbosa Sorry about the delay. there are some issues with Github publishing at the moment. It should be merged and published once the fix is in.

Thanks
Sri

[2021-03-04 14:26] PhilipHaglund opened #4323 "Rename a custom Anti-Phishing Policy"
You can't rename a custom Anti-Phishing Policy.
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/set-up-anti-phishing-policies?view=o365-worldwide#policy-settings

![image](https://user-images.githubusercontent.com/14297750/109978154-df4f0500-7cfd-11eb-9326-06feace239df.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-03-04 15:40] msbemba commented on #4277
@plecavalier  It will be a CNAME pointing to the key in your provider's DNS like the case with Microsoft 365. You publish a public key to your domain's DNS records that receiving servers can then use to decode the signature and with m365 it is strictly using CNAME

Host name:            selector1._domainkey
Points to address or value:    selector1-<domainGUID>._domainkey.<initialDomain>
TTL:

[2021-03-04 15:42] msbemba commented on #4283
@CherokeeBoose Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4324

Thanks
Sri

[2021-03-04 15:45] plecavalier commented on #4277
You say: You publish a public key to your domain's DNS records

How do you publish a key in CNAME? It must be TXT but nowhere in the docs
does it mention to create a TXT RR for the public key. That's why I'm so
confused. I went ahead and created one anyway and it is working now.

Thanks, Phil

On Thu, Mar 4, 2021 at 10:41 AM Sriraman M S <notifications@github.com>
wrote:

[2021-03-04 15:55] rogermicrosoft opened #4325 "Misspelling of cmdlet New-TenantAllowBlockListItem in a few places"
Hi!
At a couple of places the cmdlet "New-TenantAllowBlockListItems" is spelled without the s in the end New-TenantAllowBlockListItem :-)!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows and

[2021-03-04 17:04] LukeAllinson-NS opened #4326 "Clearer language about Retention Policy "delete" actions with respect to Exchange Online"
Hello; another one from me I'm afraid.

In relation to the "Principles of Retention" (from this page https://docs.microsoft.com/en-us/microsoft-365/compliance/retention?view=o365-worldwide), can I ask if it is possible to make some of the language clearer to better explain the behaviour of Retention Policy "delete" actions? Particularly when concerned with Exchange messages. I ask this as I've bee

[2021-03-04 17:08] Josverl opened #4327 "eDiscovery data location is mentioned without explanation"
On the page there is a table explicitly listing 'eDiscovery data locations'
but the page does not explain what this is , notr refer to an explanation.

I suggest to add a link to a page such as the below , where this is explained :

https://docs.microsoft.com/en-us/microsoft-365/enterprise/multi-geo-ediscovery-configuration?view=o365-worldwide#:~:text=Table%201%20%20%20%20Geo%20location%20,%20Euro

[2021-03-04 17:21] chrisda commented on #4325
@rogermicrosoft, fixed. In the future, you too can make changes like this directly in the topic (no need to open a GitHub Issue first). For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Also note, that typo came from the examples in the [New-TenantAllowBlockListItems](https://docs.microsoft.com/powershell/module/exchange/new-tenantallowblocklistite

[2021-03-04 17:21] #4325 closed

[2021-03-04 17:50] chrisda commented on #4323
@PhilipHaglund, nice catch.

When you create anti-phishing policies in the Security & Compliance Center (SCC), an anti-phish policy and an anti-phish rule with the same name values are created. And you're correct that you can't rename an existing anti-phishing policy in the SCC (the Name property is grayed out).

But, if you use the [Set-AntiPhishRule](https://docs.microsoft.com/powershell/module/

[2021-03-04 17:50] #4323 closed

[2021-03-04 19:54] SeanTGeoghegan opened #4329 "Confirm Audit Logging Behavior"
Could you please confirm the meaning of "Although mailbox audit logging on by default is enabled for all organizations, only users with E5 licenses will return mailbox audit log events in audit log searches in the Security & Compliance Center or via the Office 365 Management Activity API by default." under "More Information"

It reads as if the UAL is not going to receive any mailbox audit informa

[2021-03-04 20:54] jwojan opened #4330 "Missing Drive-By URL under Select a Social Engineering Technique"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c312fd69-72cd-bc86-4fe1-993b60b97bc6
* Version Independent ID: b7887ba6-4775-39f0-e368-68f140ce233d
* Content: [Simulate a phishing attack with Microsoft Defender for Office 365 - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/off

[2021-03-04 20:57] chrisda commented on #4329
@SeanTGeoghegan, if 'audit logging on by default' is on for the whole organization, but your organization (for example) has a mixture of E3 and E5 licenses, then only those users with E5 licenses automatically appear in audit log searches. That is the main point of the text you quoted.

For E5 users in organizations where 'audit logging on by default' is turned on, the individual AuditLogEnabled p

[2021-03-04 21:29] Beschorr opened #4331 "Typo in the page title"
The article title is correct, but the page title has a typo. "Join a Team as **s** guest".

Adding @pebaum as Sirkku still seems to be the listed alias.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ace0390-915a-9b19-83cb-19d4aaffbb02
* Version Independent ID: d8d29213-a347-922a-c1d4-9db0e4d2704d
* Content: [Join a t

[2021-03-04 22:30] mjcaparas commented on #4167
Thank you for your feedback. We've recently rebranded and that affected the URL.

Will update the feed to: https://docs.microsoft.com/api/search/rss?search=%22Lists+the+new+features+and+functionality+in+Microsoft+365+defender%22&locale=en-us&facet=

[2021-03-04 22:30] #4167 closed

[2021-03-04 23:30] foyinb opened #4333 "GroupLists"
[Can this article be updated to include the specific admin roles that can create 500k groups? It just says admin. Does this mean anyone with a write admin role in O365? Many Thanks]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 809bcea7-ebd6-58bc-9ff0-e764a459016d
* Version Independent ID: f86ecf79-7095-772a-980e-356a

[2021-03-05 04:05] msbemba commented on #4296
@tomek-wday Thank you for your feedback. In fact, the number of users per group as per Teams limitation is 25000. I'll confirm with the author and make changes accordingly.

Thanks
Sri

[2021-03-05 04:11] msbemba commented on #4311
@andrewhellyer Thank you for your feedback. Only Billing administrators receive invoices related to the tenant. If there is some else receiving the invoice, I'd start checking the alternate email address as mentioned in the section(https://docs.microsoft.com/en-us/microsoft-365/commerce/billing-and-payments/change-your-billing-addresses?view=o365-worldwide#change-the-alternate-email-address-your-b

[2021-03-05 04:11] jason-ra opened #4335 "Is the reference to missing Azure AD logs in Nov 2020 still relevant?"
Can the reference to missing logs from Oct-Nov 2020 be removed from this page now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3494b782-92ad-e365-3398-bd2d760d10c6
* Version Independent ID: fa4bca98-3975-23dd-dfac-f23049c71d01
* Content: [Search the audit log in the Security & Compliance Center - Microsoft 365 Compl

[2021-03-05 04:12] msbemba commented on #4318
@pckts Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4336

Thanks
Sri

[2021-03-05 04:15] msbemba commented on #4322
@david-ps Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4337

Thanks
Sri

[2021-03-05 04:35] msbemba commented on #4321
@huzzeytech Thank you for your feedback. QR logon form does not show within outlook. However, Outlook on the web and Outlook desktop will show the education reminder to users who aren't using Outlook for iOS and Android to check their company email and calendar events from their phone. If users choose to send themselves an SMS text message to download the app on their mobile device, a QR code will

[2021-03-05 04:40] msbemba commented on #4275
@SwiftOnSecurity Thank you for your feedback. There are no licensing requirements for ZAP to work. I have added the information on the FAQ section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4338

Thanks
Sri

[2021-03-05 04:47] msbemba commented on #4273
@rgsteele Thank you for your feedback. I'm currently working with the author to get the document updated.

Thanks
Sri

[2021-03-05 04:54] msbemba commented on #4255
@hilari0n Thank you for your feedback. I understand the inconvenience mentioned on the issue, however, Azure AD issues security tokens for the permitted tenant and if you are locked out of the default tenant then access to other tenants is also not possible using this method. Unfortunately, there is no direct URLs to Specific tenants available at the moment. You could request a design  change from

[2021-03-05 05:01] msbemba commented on #4214
@robgarrett Thank you for your feedback, Rob. I'm working with the author to verify and will update the document accordingly.

Thanks
Sri

[2021-03-05 05:10] msbemba commented on #4263
@Kazzan Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4339. Once the author approves, the changes will be live.

Thanks
Sri

[2021-03-05 05:14] msbemba commented on #4266
@paul-rich Thank you for your feedback. We are currently working with the other to fix the broken link. I will update the document shortly.

Thanks
Sri

[2021-03-05 05:19] msbemba commented on #4282
@nikki-c Thank you for your feedback. Microsoft 365 group-connected team sites are in a soft deleted state only for 30 days unlike other SharePoint sites.

Hope this helps!
Thanks
Sri

[2021-03-05 05:26] msbemba commented on #4284
@steve-novanex Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4340

Thanks
Sri

[2021-03-05 05:30] msbemba commented on #4295
@adamfowlerit Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4341

Thanks
Sri

[2021-03-05 05:46] msbemba commented on #3076
@flowl accept my apologies for the delay. I have added another line stating  "If you are configuring DKIM for the first time and see the error 'No DKIM keys saved for this domain.' you need to use Windows PowerShell to enable Dkim Signing as explained in the next step.
"

This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4342

You guys make our documents look bett

[2021-03-05 07:55] rogermicrosoft commented on #4325
Hi Chris, ok thanks for letting me know, I will read the instructions :-)!

[2021-03-05 09:18] hkusulja opened #4344 "Migrate tenant-to-tenant without on-prem Windows Server Active Directory and Azure AD Sync"
We've attempted the procedure and found that it's impossible to perform without using Azure AD Sync on the target tenant. Namely, the source e-mail needs to be stamped on the destination MailUser's proxyAddress in order for the migration to proceed, however the system removes it automatically. Only by using AD Sync to sync the MailUser object from an on-prem AD can the attribute be protected from

[2021-03-05 09:58] RomanNG opened #4346 "Need Geo and data location details"
[How can we know for the Asia-Pacific geo location where data are really stored ? As an example: a central tenant in Europe, require multi-geo feature for Thailand (using APC code). This link "https://docs.microsoft.com/en-us/microsoft-365/enterprise/o365-data-locations?view=o365-worldwide#data-center-geographies" says that "Locations where customer data may be stored" are "Hong Kong, Japan, Malay

[2021-03-05 10:14] nikki-c commented on #4282
It may be worth mentioning that on the Microsoft Docs page. I have been asked this question several times rom clients. It would be good to be able to point them to a specific Microsoft Docs page.

Nikki Chapple
Organisational Change Manager
United Kingdom | Cloud Communications
NTT

T:
+442080800656
M:
+447500766185

NTT Cloud Communications UK Ltd. is an entity of NTT Ltd.

[cid:image001.jpg@01D7

[2021-03-05 11:56] hilari0n commented on #4255
I'm not sure I understand. Azure AD issues tokens for the tenant the application is requesting for or for auto-detected (default) tenant if the application does not indicate one (the "common" pseudo-tenant).
If by this you mean, that this is how Microsoft 365 admin page works, then that's clear. If you are saying, that it's not technically possible to work with a tenant if I don't have access for

[2021-03-05 12:19] yogkumgit commented on #4275
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SwiftOnSecurity Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-05 12:19] #4275 closed

[2021-03-05 13:30] siosulli commented on #4312
Closing this now as this following is now in the article:

The Report Message add-in is not available for shared mailboxes or mailboxes in on-premises Exchange organizations.

[2021-03-05 13:30] #4312 closed

[2021-03-05 13:40] yogkumgit commented on #4286
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-05 13:41] yogkumgit commented on #4288
@andybergen  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-05 13:42] yogkumgit commented on #4307
@MikePlumleyMSFT  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-05 13:43] yogkumgit commented on #4316
@chrfox  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-05 13:43] yogkumgit commented on #4317
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-05 13:44] MikePlumleyMSFT commented on #4307
@yogkumgit the issue does not appear to be related to this article.

[2021-03-05 16:36] chrisda commented on #4330
@jwojan, added.

Thanks for the feedback.

Closing

[2021-03-05 16:36] #4330 closed

[2021-03-05 16:56] jmsmtn opened #4348 "Minor Typo"
Typo in command:

```Get-EXOMailbox -RecipientTypeDetails Scheduling```

Should be:

```Get-EXOMailbox -RecipientTypeDetails SchedulingMailbox```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa612c0e-c089-8b3e-8e2e-dd12b6fc382c
* Version Independent ID: fa014ea6-7aa2-b2bd-d913-165c3241675f
* Content: [Delete a bookin

[2021-03-05 19:02] jwojan commented on #4330
Nothing appears to have been done. The page is still missing Drive-By URL as an option, so the material is still incomplete/incorrect.

[2021-03-05 19:28] jwojan opened #4351 "Missing Drive-By URL under Select a Social Engineering Technique section"
@jwojan, added.
I am not sure why this issue was closed before actually updating/correcting the materials in issue 4430, but I would like this to remain open until the public documentation actually reflects the capabilities in the tool.

Thanks for the feedback.

Closing

_Originally posted by @chrisda in https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4330#issuecomment-791535310_

[2021-03-05 19:59] chrisda commented on #4330
Give it a bit. I made the change; it's only a matter of time before the updates are published.

[2021-03-05 20:10] jasontenpenny opened #4352 "Incorrect Permissions information"
Unless y'all have made changes in the last couple of years, Global Admins do not have the necessary permissions to create PST imports. I accessed the page from my global admin account, and it said I needed the Mailbox Import Export role. I had to go add that separately, even though I was a global admin. This means that I had to wait longer than I intended to to begin my import, because the permiss

[2021-03-05 21:08] FMCUSystemAdmins opened #4356 "Have a question that I didn't see in the FAQ"
I didn't see any mention of what happens on the firewall when an endpoint is removed from the web service. When an endpoint is removed from the web service, do any existing rules that were created before-hand get removed from the firewall?

In other words, is the removal of firewall rules based off of the web service just as dynamic as creation of them?

---
#### Document Details

⚠ *Do not edit t

[2021-03-05 22:08] itishnitsa opened #4358 "Entry syntax not working as documented in tests"
Hi,
The document states:

contoso.com | Allows access to https://contoso.com but not subdomains or paths.
-- | --

https://contoso.com/a | Allows access to https://contoso.com/a, but not subpaths like https://contoso.com/a/b
-- | --

When I tested using either contoso.com and https://contoso.com/, in both instances the links with path(s) (https:/contoso.com/page1/page2) and subdomains (https://pat

[2021-03-06 01:04] SKjerland commented on #4165
@guochen2010 - Can you please look into this issue? It sounds like there's a problem with the Power BI template in the Download Center. I know you recently updated this file to address this related issue: https://github.com/MicrosoftDocs/microsoft-365-docs/issues/4056. I'm not sure what's going on. Thanks!

[2021-03-06 02:42] guochen2010 commented on #4165
I've verified the link in the doc https://docs.microsoft.com/en-us/microsoft-365/admin/usage-analytics/customize-reports?view=o365-worldwide#use-the-microsoft-365-usage-analytics-template and the template file works fine for me. I can get data for Feb.

[2021-03-06 05:59] toomasmottus commented on #4165
Yes, Calendar table range has been updated to 2025.

[image: image.png]

We will encounter the same problem again in January 2026. :)

All fine for now!

Kontakt guochen2010 (<notifications@github.com>) kirjutas kuupäeval L, 6.
märts 2021 kell 04:42:

[2021-03-06 12:11] AndreasNilssonSWE opened #4359 "Permission to update password expiration policy"
Who has the permission to update password expiration policy?
"_You must be a global admin or password admin to perform these steps._"
"_Only global admins can perform these steps._"
What is it that the password admin can do? Or is this a typo? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d322ca91-2125-7486-88

[2021-03-07 03:09] yogkumgit commented on #4130
@msbemba Thank you very much for the contribution and updating the documentation with PR. @GrantErickson Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-07 03:09] #4130 closed

[2021-03-07 03:16] yogkumgit commented on #4165
@SKjerland Thank you very much for sharing this explanation. @toomasmottus We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-03-07 03:16] #4165 closed

[2021-03-07 12:50] msbemba commented on #4282
@nikki-c Thank you for your feedback. The document now contains "After 30 days, the group and its associated contents are permanently deleted and cannot be restored."

Hope this helps!

Thanks
Sri

[2021-03-08 05:38] Alex-Catalin opened #4362 "Apparently there is a need to add a dot at the end of certain operations such as "Add member to role""
I just had a bug raised with our Engineering team that for a customer, protection alerts are not working when an admin adds another user as a member in an admin role.

My customer created the alert by using the operation "Add member to role" and the alert never triggered. Engineering advised me in this bug https://o365exchange.visualstudio.com/IP%20Engineering/_workitems/edit/1988929, that the cor

[2021-03-08 09:39] flowl commented on #3076
Thank you @msbemba

[2021-03-08 10:11] StephanGa opened #4364 "User Management Administrator - not available"
The role "User Management Administrator" is not available in Azure AD.
The role "User Administrator" which should be able to create groups cannot create groups from Yammer as stated.
The group creation is restricted in our tenant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Ver

[2021-03-08 11:07] leenana365888 opened #4365 "Document May Need Updating"
Hi, this page was last modified in 2016.  I noticed that it is no longer aligned with the current UI in https://compliance.microsoft.com/contentsearch.  Perhaps the document can be reviewed?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2366188c-80ba-dbf5-3feb-56424f3a183e
* Version Independent ID: ef53e022-a

[2021-03-08 15:17] Tomtom10000 opened #4367 "URL of "Terms Of use" are not included in the URL Referential"
The url "https://tokenprovider.termsofuse.identitygovernance.azure.com" is not included in the repository:
https://docs.microsoft.com/fr-fr/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide
We use this repository to open the flow for all proxies in our company, if not in the repository, users will not access it and therefore it will not be able to access O365 because they can

[2021-03-08 16:11] msbemba commented on #4331
@Beschorr Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4368

Thanks
Sri

[2021-03-08 16:15] msbemba commented on #4348
@jmsmtn Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4369

Thanks
Sri

[2021-03-08 17:01] chrisda commented on #4351
@jwojan, you can always reopen a closed issue if you like; no need to open another one.

And, I confirmed the changes published, so I'm closing this.

Thanks for the feedback.

[2021-03-08 17:01] #4351 closed

[2021-03-08 17:58] OskarNet opened #4371 "Document content is outdated"
Document content is outdated.
The menu items and links are not as described.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ae8bb5b-f369-5898-eabf-61b179666333
* Version Independent ID: 24d27dd6-c2cb-2025-e0b8-c292dd275965
* Content: [Move users to a different subscription](https://docs.microsoft.com/en-us/microsoft-3

[2021-03-08 18:33] Ofer-Gal opened #4372 "https://protection.office.com/ does not have "Alerts" under "Home" on the left"
Alert policy settings says to go to https://protection.office.com and then select Alerts > Alert policies.
When I go there, I don't see "Alerts"
I was looking for a way to stop the 'Show Sharing' alerts that I started getting too much of.

Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2879ba-e58e-cd47-f488

[2021-03-08 19:06] PM735 opened #4373 "Ambigous requirements for mailbox migration/Hybrid servers"
The line 6 in the table is supposed to address requirements for inbound traffic during mailbox migration or Hybrid coexistence.

Here are the issues:

**1. Missing SMTP traffic**

Mailbox migration requires inbound SMTP traffic to on-premise servers
No mention in the line 6 and in table on what source IPs are to be authorized for inbound SMTP traffic to Hybrid servers on-premise.
Please indicate w

[2021-03-08 19:58] markjjo commented on #4372
@Ofer-Gal Not sure what you mean by "Alert policies settings says to go to...". As per the topic "To view alerts, go to https://protection.office.com and then select Alerts > View alerts." The direct URL is https://protection.office.com/viewalerts. Alerts triggered by alert policies are displayed on the View alerts page. Note that you also need to be member of certain role groups to view alerts tr

[2021-03-08 21:03] markjjo commented on #4362
@Alex-Catalin I assume your customer is using PowerShell to create the alert policy. Azure activities (user, group, role, directory, application) contain a period in the operation. So the period much be included when specifying these operation name in parameter values for PowerShell command. I will update the search audit log topic, add the period to the operation names, and include this note:

 N

[2021-03-08 21:03] #4362 closed

[2021-03-08 21:12] markjjo commented on #4335
@jason-ra Yes, we will remove the note. Thanks for the heads up.

[2021-03-08 21:12] #4335 closed

[2021-03-08 21:33] markjjo commented on #4352
@jasontenpenny Apologies for the inconvenience of having to wait for the synchronization of the new role assignment before you could create a PST Import job. As you note the the Mailbox Import Export role is not assigned by default to global admin. And to my knowledge it has never been assigned to the Organization Management role group in EXO, which means it isn't assigned to global admin. This ha

[2021-03-08 21:33] #4352 closed

[2021-03-08 21:36] JoeDavies-MSFT commented on #4344
(from Georgia Huggins) Hello Hrvoje,

Only the source’s X500 email addresses need to be stamped on the target MailUser’s proxyAddresses.

Please let me know if we can answer any other questions.

[2021-03-08 21:49] cmcatee-MSFT commented on #4090
The licensing issue was resolved. However, support could find nothing wrong with the # for the Czech Republic. @2bad2furious, if the recording states that call volumes are high, please allow more time for a support agent to be available to take your call. If your issue doesn't require an answer immediately, then creating a ticket in the help pane of the admin center is a better way to go.

[2021-03-08 21:49] #4090 closed

[2021-03-08 22:18] Ofer-Gal commented on #4372
Thanks. I asked my admin for explanation. but my remark is about the documentation.
I say that if I need to be in a certain role to see a link, it should state that in the documentation.
Otherwise it looks like bad documentation that leads you nowhere.

[2021-03-08 22:32] ekdegerman commented on #4091
@kelleyvice-msft @yogkumgit Any update on this one?

[2021-03-08 22:47] #4318 closed

[2021-03-08 23:01] drdenson opened #4377 "Documentation updates for GCCH/DOD limitations as they apply"
Hi Team - though a support escalation it was determined that this process (map an AAD attribute to a compliance Filter attribute) isn't supported in DoD sovereign clouds (IL5), with no indication of when such a feature will be available.  I'm unsure as to whether this is applicable for GCCH clouds (IL4), though SCC engineering should be able to provide such details.  Should we consider providing g

[2021-03-09 00:46] jreyes4949 opened #4378 "Powershell command to view spam policies created in Protection.office.com"
In protection.office.com under threat management we've created a custom outbound anti-spam policy. Is there a powershell command to "get" and "set" properties for these policies created in the portal? If i run  Get-HostedConnectionFilterPolicy in exchange online module that does not return the four default anti-spam policies + our 1 custom policy that we see in the protection.office.com portal.

[2021-03-09 05:11] septst opened #4379 "Link broken for Architecture approaches for Microsoft cloud tenant-to-tenant migrations"
Hello,

After removing tenant-to-tenant file from downloads folder, the link in [Microsoft cloud for enterprise architects illustrations](https://docs.microsoft.com/en-us/microsoft-365/solutions/cloud-architecture-models?view=o365-worldwide ) to the same seems broken. Is there a new document to be linked?

[2021-03-09 05:21] Alex-Catalin commented on #4362
Yes Mark, that's correct, they are using Powershell because the interface no longer gives you the possibility to create alerts with certain operations. This is because we are deprecating activity alerts which were initially being used for operations such as the one "Add member to role".

Alexandru Cazacu
Sr. Support Escalation Engineer
Exchange Online
M365 EMEA Customer Service & Support
alexandru

[2021-03-09 07:38] msbemba commented on #4327
@Josverl Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4380

Thanks
Sri

[2021-03-09 07:54] msbemba commented on #4359
@AndreasNilssonSWE Thank you for your feedback. I have tested and only global admins can perform these steps. The document has also been updated to reflect the same. The changes can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4381

Thanks
Sri

[2021-03-09 12:37] bakerm00 opened #4384 "there is no "test" function in the information type in compliance centre"
"In the Compliance Center, go to Data classification > Sensitive info types and choose the sensitive information type from the list to open the details pane and choose Test."
there is no test function in the compliance centre - only copy, edit, delete and close

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dcb7953e-52

[2021-03-09 13:23] DeanGross opened #4385 "Confusing dates"
The page shows that it was last updated in January, but there is information about new features in Feb/March. This inconsistency is confusing and doesn't make sense. Is the page date wrong, or the section heading?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cccec9e6-5bc6-bad8-a174-0f08716f365d
* Version Independent

[2021-03-09 14:06] yogkumgit commented on #4379
@septst please indicate which document you are referring to. Thanks

[2021-03-09 14:09] BhargaviAnnadevara-MSFT opened #4386 "URL are not included in the O365 referential #71786"
_Originally posted by @Tomtom10000 in https://github.com/MicrosoftDocs/azure-docs/issues/71786#issue-824606359_

The url "https://tokenprovider.termsofuse.identitygovernance.azure.com"  is not included in the repository:
https://docs.microsoft.com/fr-fr/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide
We use this repository to open the flow for all proxies in our company, if

[2021-03-09 14:15] yogkumgit commented on #4356
@kelleyvice-msft  Please add your comment and help us in resolving this issue. Thanks.

[2021-03-09 14:18] yogkumgit commented on #4326
@cabailey Please add your comment and help us in resolving this issue. Thanks.

[2021-03-09 14:21] septst commented on #4379
In [Microsoft cloud for enterprise architects illustrations](https://docs.microsoft.com/en-us/microsoft-365/solutions/cloud-architecture-models?view=o365-worldwide), please check the PDF link under the penultimate section [Architecture approaches for Microsoft cloud tenant-to-tenant migrations](Architecture approaches for Microsoft cloud tenant-to-tenant migrations).

[2021-03-09 15:43] desmondgc opened #4387 "Failed to retrieve product policy with PolicyId 'AllowSelfServicePurchase'"
Commands involving `Get-MSCommerceProductPolicies` don't seem to work. (This is not the TLS issue hinted at the bottom of the page.)

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5082f7ed-ad40-04c1-5c6c-59e67b253257
* Version Independent ID: 3d8b109d-285c-952f-2fa4-9fa244c2a3f9
* Content: [Use AllowSelfService