[2022-02-10 19:32] denisebmsft commented on #7185
Hello, all! It looks like this issue has been resolved with the recent content updates. Thank you again @jotheman0303 for your feedback, and thanks to those who contributed to the fixes!

[2022-02-10 19:32] #7185 closed

[2022-02-10 21:31] ruben03mx opened #7669 "No change in the CmdletParameters"
I know that UAL is enabled and I reassure that it was on by running the command `Get-AdminAuditLogConfig | FL UnifiedAuditLogIngestionEnabled` and receiving the output `UnifiedAuditLogIngestionEnabled : True`.
However I wanted to identify since when it was turned on and using the command `Search-AdminAuditLog -Cmdlets Set-AdminAuditLogConfig -Parameters UnifiedAuditLogIngestionEnabled`, I get `Cmd

[2022-02-10 23:18] #7278 closed

[2022-02-11 00:08] PAF7722 opened #7671 "Review your role"
When I clicked the link to "review my role" (looks like I don't have permissions to look at my billings and change the billing address) I came to this page, and it didn't say a word about roles or security needed to do a certain function.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b461bf0-1269-d4d5-cf95-a774d1046b

[2022-02-11 00:11] PAF7722 commented on #7671
I have Global Administrator access.

[2022-02-11 00:22] markjjo commented on #7669
@ruben03mx Thanks for question. I would suggest you open a ticket with MS Support and they can investigate. Not sure why your experience is different from the documentation.

Not sure this will help, but you could try running Get-AdminAuditLogConfig | FL *UnifiedAuditLog*, which displays the first opt-in date. I believe this date might correspond when unified audit logging was first enabled.

[2022-02-11 00:22] #7669 closed

[2022-02-11 02:27] CraigGladman opened #7672 "Enroll new devices - please update"
Hi guys,

Couple of things - group name "Modern Workplace Devices--Shared Device Mode" is incorrect. Should be "Modern Workplace Devices - Shared Device Mode". Would also be good if you can include more specific information to explain how someone adds a record to this group (eg, need to add the autopilot device record to the group Intune - Groups)

---
#### Document Details

⚠ *Do not edit this se

[2022-02-11 06:52] yogkumgit commented on #7384
@msbemba Thank you very much for the contribution and sharing this explanation. @0xThiebaut Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also

[2022-02-11 07:01] yogkumgit commented on #7502
@msbemba Thank you very much for the contribution and updating the documentation with PR. @polks71 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-11 07:04] yogkumgit commented on #6703
@StuBeck32 closing as per author's feedback. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-11 07:04] #6703 closed

[2022-02-11 07:06] yogkumgit commented on #7251
@RAJU2529 Thank you very much for the contribution and updating the documentation with PR. @alesteravo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-11 07:07] #7251 closed

[2022-02-11 09:07] chiners68 opened #7673 "Edge is only supported on AVD Windows 10 multisession"
Hi,  Can you add to this limitation section that Edge can only be used on AVD Windows 10 multisession session hosts, as they are listed as OS configuration: Member Server. As its running windows 10 this will not be obvious to IT admins who may run into the same issues I had were inspection for other browsers doesn't work.

Only Microsoft Edge is supported if your device's OS configuration is Serve

[2022-02-11 09:11] chiners68 opened #7674 "Edge only web filtering for windows 10 multisession"
Can you add in a limitation for defender for Endpoint on Windows 10 multisession. I have found network protection for blocking on 3rd party browsers doesn't work as actually the AVD session hosts are listed as OS Configuration: member server which only supprots Edge for web filtering.

Only Microsoft Edge is supported if your device's OS configuration is Server (cmd > Systeminfo > OS Configuration

[2022-02-11 10:14] JeroenOortwijn opened #7675 "Steps out of sync with linked pages"
The steps in the [Solution: Remove a former employee](https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee#solution-remove-a-former-employee) section are out of sync with the steps in the individual pages:

| [Solution: Remove a former employee](https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee#solution-remove-a-former-employee)

[2022-02-11 12:36] yogkumgit commented on #7539
@teomonda Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-11 12:36] #7539 closed

[2022-02-11 12:37] yogkumgit commented on #7523
@techlogik Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-11 12:37] #7523 closed

[2022-02-11 12:40] #7058 closed

[2022-02-11 14:11] yogkumgit commented on #7129
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ChristianJBergstrom Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-11 14:11] #7129 closed

[2022-02-11 14:13] yogkumgit commented on #7176
@MicahFalde We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2022-02-11 14:14] #7176 closed

[2022-02-11 14:25] msbemba commented on #7657
@mvanvli1 Thank you for your feedback. We have RSS feeds that are usually available for such types of documents which are periodically updated. Just like https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/whats-new-in-microsoft-defender-endpoint?view=o365-worldwide

I'll work with the author to see if we can create a similar RSS feed to get notified when this page is updated

[2022-02-11 14:25] yogkumgit commented on #7462
@robertofan closing as per the author's input. Thanks

[2022-02-11 14:26] #7462 closed

[2022-02-11 14:31] msbemba commented on #7660
@Nguyen281 Thank you for your feedback. Unfortunately,   It is only available with Microsoft 365 E5 or Microsoft Defender for Office 365 Plan 2,

Hope this helps!

Thanks
Sri

[2022-02-11 15:03] msbemba commented on #7675
@JeroenOortwijn Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7676. The individual pages are in the correct order.

Thanks
Sri

[2022-02-11 15:09] msbemba commented on #7407
@yogkumgit I received the feedback from the author stating the TA view between Microsoft Defender for Endpoint (MDE) and Microsoft 365 Defender (M365) is different. Hence the difference even in the mitigation tabs that a customer looking at the MDE portal will see compared to what a customer looking at the M365D portal will see.

Hope this helps!

Thanks
Sri

[2022-02-11 16:19] rconiv commented on #7658
As you will notice on the first line of what I sent you, I installed AzureADPreview.

I ran the install again, and it thought for a bit, and then gave me the prompt, so is up to date.

Did you run the the script on PowerShell 5 or PS7?   Was there anything else that needed to be run, after installing the preview, and before running the script, to install any other modules, because the link to how

[2022-02-11 16:59] msbemba commented on #7658
@rconiv Thank you for the response. Could you please try Import-Module AzureADPreview -UseWindowsPowerShell and see if the Connect-AzureAD works?

Thanks
Sri

[2022-02-11 17:30] rconiv commented on #7658
I get this when trying to install it.  I uninstalled and reinstalled the AzureADPreview.

![image](https://user-images.githubusercontent.com/72881999/153639820-03ea5a7c-9b7f-44b5-b35b-442dc40780ee.png)

[2022-02-11 17:34] JoeDavies-MSFT commented on #7632
These issues are being discussed internally at Microsoft. Thanks for letting us know.

[2022-02-11 17:34] #7632 closed

[2022-02-11 18:37] robinpoulose1 opened #7677 "Portal is changed again - asking for Alert Category"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84e63e43-1556-04aa-7771-59e47a4931b0
* Version Independent ID: cf9673ed-2dee-eb23-826d-3a5ba2c9d89a
* Content: [Create activity alerts - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/create-activity-alerts?view=o3

[2022-02-11 18:38] robinpoulose1 commented on #7677
![image](https://user-images.githubusercontent.com/17806101/153649979-eb8936f3-b444-4bae-b373-23e7c7c7ac7f.png)
attached is the screenshot
While creating New Alert it is asking for Category. Which Category to select for Sign in Activity ?

[2022-02-11 18:45] robinpoulose1 opened #7678 "where is Sign in activity alert which category to look at ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2879ba-e58e-cd47-f488-10d153c31418
* Version Independent ID: 391a2c05-d63d-e84e-7c7d-80c3b3518419
* Content: [Microsoft 365 alert policies - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/alert-policies?view=o365

[2022-02-11 19:03] tiaraquan commented on #7672
Thank you @CraigGladman for bringing this to our attention. I'm working with a PM to take a look at the documentation.

[2022-02-11 19:10] alinefmr opened #7679 "Not a comprehensive scenario"
Would love to see more information on other related content residing in theM365 platform, such as Microsoft Teams, Power Platform, Microsoft Forms and Planner. That would make this documentation more comprehensive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Version Independent

[2022-02-11 19:22] jweston-1 commented on #7646
Resolve as "won't fix"
This is an example URL, is labeled as "Example URL" and is provided to illustrate syntax. We do not provide URLs to microsoft-owned test systems.

[2022-02-11 19:22] #7646 closed

[2022-02-11 19:52] BwaddellProtectedTrust opened #7680 "Missing OneDrive info"
Article is missing how to access another employee's OneDrive yet the title says it will show you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ca63bae-95f1-3248-ed6e-1bfbe0d7e9ff
* Version Independent ID: a56fc5c1-7ffd-0829-b5a4-9297ce2873ac
* Content: [Step 4 - Forward a former employee's email to another employee o

[2022-02-11 21:32] markjjo commented on #7677
@robinpoulose1 Thanks for question. First of all, apologies because activity alerts have been deprecated. The UI in your screenshot is the wizard to create an [alert policy](https://docs.microsoft.com/microsoft-365/compliance/alert-policies), which is different than an activity alert (and why the UI is different that the UI in the documentation). You won't be able to create alert policy for "sign

[2022-02-12 11:06] jgriff500 opened #7684 "Block abuse of exploited vulnerable signed drivers"
You can configure this rule using [MEM OMA-URI](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/enable-attack-surface-reduction?view=o365-worldwide#mem). See MEM OMA-URI for configuring custom rules.

This is not accurate.  If you turn on this ASR rule by using MEM OMA-URI it breaks your existing ASR policy under endpoint protection.  Several on Reddit have experienced th

[2022-02-13 04:53] yogkumgit commented on #7660
@msbemba Thank you very much for the contribution and sharing this explanation. @Nguyen281 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-13 05:00] yogkumgit commented on #7521
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gvnshtn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-13 05:01] #7521 closed

[2022-02-13 05:02] yogkumgit commented on #7605
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tfunatani Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-13 05:02] #7605 closed

[2022-02-13 05:13] yogkumgit commented on #6802
closing as per authors' feedback. Thanks

[2022-02-13 05:13] #6802 closed

[2022-02-13 05:13] yogkumgit commented on #6803
closing as per authors' feedback. Thanks

[2022-02-13 05:15] yogkumgit commented on #7051
closing as per authors' feedback. Thanks

[2022-02-13 13:59] porterkim opened #7686 "Admin Consent needed twice during setup"
When enabling Microsoft OneDrive LTI in Canvas, I had to click the Admin Consent button at the beginning of the setup per the instructions on this page.  Only a few permissions were listed to grant access to.  After completing the setup and testing in Canvas, I received an error when clicking on the Microsoft OneDrive link of a course.  Error: "You do not have sufficient permissions. Your school a

[2022-02-13 15:26] AhmedEmam91 opened #7687 ""View all and manage members" Not available in some groups"
we face issues as the "View all and manage members" is not available and don't appear in some groups for the user who managed this group

[2022-02-13 22:04] HandyAndyOnGitHub opened #7688 "Session token expiration for Teams "Common Area Phone" licensed hardphones"
Would you please add information for session token expiration for Teams "Common Area Phone" licensed hardphones.  These are hardphones that are installed in shared areas (lunch rooms, meeting rooms, reception areas, work areas with multiple users) that need to be always available and NEVER sign out.  Current session token restrictions appear to sign-out these devices every 365 days which is far fr

[2022-02-13 23:16] nakamae1983 opened #7689 "The ja-jp page has a translation error.The label (ラベル) is correct, not the policy (ポリシー) ."
[Enter feedback here]
The ja-jp page has a translation error.
https://docs.microsoft.com/ja-jp/microsoft-365/compliance/retention-flowchart?view=o365-worldwide

The label (ラベル) is correct, not the policy (ポリシー) .

![image](https://user-images.githubusercontent.com/65495605/153779478-27cb3a39-9c16-4195-9864-cebb0af77799.png)

![image](https://user-images.githubusercontent.com/65495605/153779547-084

[2022-02-14 00:14] msbemba commented on #7644
@dkotars Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7690.

Once the author approves, the document will be live.

Thanks
Sri

[2022-02-14 00:23] msbemba commented on #7652
@dkotars Thank you for your feedback. I was able to repro as well. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7691

Once the author reviews and approves, the document will be live.

Thanks
Sri

[2022-02-14 00:32] msbemba commented on #7661
@lightupdifire Thank you for your feedback. You are correct, Defender for plan 1 is a part of M365 E3, However, to get the capabilities of M365 Defender (Microsoft defender for endpoint+Microsoft Defender for O365 + Microsoft Defender for identity + Microsoft defender for Cloud apps ) one would need Microsoft 365 E3 with the Microsoft 365 E5 Security add-on or Microsoft 365 E3 with the Enterprise

[2022-02-14 00:41] msbemba commented on #7662
@edrandall Thank you for your feedback. I have added a question to FAQ's about Family and personal offerings, this can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7692

You can find more information here - https://support.microsoft.com/en-us/office/get-a-personalized-email-address-in-microsoft-365-75416a58-b225-4c02-8c07-8979403b427b

Once the author approves, the ch

[2022-02-14 00:52] msbemba commented on #7664
@ssmiller60 Thank you for your feedback. I have added a statement in the document stating that if the mailbox is to be preserved for compliance or legal reason it must be assigned an Exchange Online Plan 2 license (or an Exchange Online Plan 1 license with an Exchange Online Archiving add-on license) so that a hold can be applied to the mailbox before it's deleted. After the user account is delete

[2022-02-14 00:57] msbemba commented on #7666
@jmmowrer Thank you for your feedback. I have made changes via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7694

I'm waiting for the author to review and approve.

Thanks
Sri

[2022-02-14 02:00] ssmiller60 commented on #7664
Thanks Sri that's better than what was there before, but why is removing
the license even mentioned for the process, there is no reason to do it at
all?

Sam

On Sun, Feb 13, 2022, 7:52 PM Sriraman M S ***@***.***> wrote:

[2022-02-14 02:00] Realkdrummer opened #7695 "Windows and Office 365 deployment lab kit assistance"
Hello,
I just extracted the Windows and Office 365 deployment lab kit in a Hyper-V environment.  I was able to log into the DC, the Config Manager and the GW1 VM machines. I cannot however log into any of the client VMs (1-4).  Should I be able to log into these VM's once  I have distributed memory to all of them? What am I missing?  I followed the set instructions but am still not able to log int

[2022-02-14 05:02] nnrvt opened #7697 "Trial was pending."
Hi,

My apology.. problem solved.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d08fef08-2fa6-79c4-4adf-e1e194a33a0d
* Version Independent ID: 6c962f09-1e5d-bcac-c58f-ecaf58bc9774
* Content: [Evaluate Microsoft Defender for Office 365 - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-sec

[2022-02-14 05:08] #7697 closed

[2022-02-14 06:56] robinpoulose1 commented on #7677
After doing multiple search and through third party website it pointed to the activity alert article
https://docs.microsoft.com/en-us/microsoft-365/compliance/create-activity-alerts?view=o365-worldwide

I did find the Activity Alert is Security portal. These two portal are same or different.
https://security.microsoft.com/managealerts

[2022-02-14 07:44] lightupdifire commented on #7661
@msbemba
I have another question maybe explaining more: https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7414
But I don't think support can help a lot, I read a lot of Defender 365 documents and I can't find a good explanation of how to do the good compliant on-boarding if:
1. We used Azure Defender Full coverage for servers, which some time ago enables us https://securitycenter.microsof

[2022-02-14 10:39] JonesMikael opened #7698 "Update documentation to reflect "New version""
Please update this article to instead describe the "new version" of threat tracker (https://security.microsoft.com/threattrackerv2). Especially describe the "Trending campaigns" how this differ from the Campaigns one (https://security.microsoft.com/campaigns).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b58981cc-c65

[2022-02-14 11:03] joergrenn opened #7699 "How to remove licenses or not extend all?"
Could you add information to this page how to remove licenses paid for using a product key?
Say I have purchased two product keys with 100 licenses each, 200 in total. They are valid for one year.
After a year I purchase only one product key for 100 licenses and want to extend only 100 licenses.
When I just select extent, the 200 licenses get extended for half a year with a key for 100 licenses.
B

[2022-02-14 12:04] GyanwatiProject opened #7700 "We Nepalese also need a phone support to solve our problem related to MS Product."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 00cb5342-0ced-ff9b-6fe4-9027decae429
* Version Independent ID: 3ff474de-a07d-bd6c-3621-96674a40b9ec
* Content: [Support information for Nepal - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/support/nepal?view=o365-worldwide

[2022-02-14 13:16] msbemba commented on #7629
@jgscherber Thank you for your feedback. I have got a confirmation that the video is the same even though there are two versions.

Thanks
Sri

[2022-02-14 13:18] msbemba commented on #7661
@lightupdifire Thank you for your response. It is better for the author or PG to answer #https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7414 as it is for a combination of licenses. We have requested the author/PG to handle that request.

Hope this helps!

Thanks
Sri

[2022-02-14 13:20] msbemba commented on #7664
@ssmiller60 Thank you for the response. I think the removal of licenses is required if the organization wants to convert it to a shared mailbox (Step 3) and release the license for re-use.

Hope this helps!

Thanks
Sri

[2022-02-14 13:46] msbemba commented on #7658
@rconiv Thank you for the response. I was able to test in Powershell 7 and get an error. From what I see, The Azure AD module is supported on the following Windows operating systems with the default version of Microsoft .NET Framework and Windows PowerShell:

Windows 10
Windows 8.1 Pro
Windows 8.1 Enterprise
Windows 7 SP1
Windows Server 2016 TP5
Windows Server 2012 R2
Windows Server 2008 R2 SP1

S

[2022-02-14 13:55] yogkumgit commented on #7687
@AhmedEmam91 Please indicate which document you are referring to and what is your feedback. Thanks

[2022-02-14 13:57] yogkumgit commented on #7695
@Realkdrummer Please indicate which document you are referring to and what is your feedback to improve it. Thanks

[2022-02-14 14:17] yogkumgit commented on #7689
@TinaMcN Please help us in resolving this issue. Thanks

[2022-02-14 14:22] #7407 closed

[2022-02-14 14:56] yogkumgit commented on #7629
@msbemba Thank you very much for the contribution and sharing this explanation. @jgscherber Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-14 14:56] #7629 closed

[2022-02-14 15:18] yogkumgit commented on #7657
@Dansimp Please help us in resolving this issue. Email sent with a query. Thanks

[2022-02-14 16:10] Philbbailey opened #7701 "Please update"
There's Skype for Business data in this article and no mention of Teams.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6193dd68-287d-92d0-6c30-60afd6056d6b
* Version Independent ID: 158c97ef-4787-c4ad-3b92-7aff01feb6ba
* Content: [Network planning and performance tuning for Microsoft 365 - Microsoft 365 Enterprise](ht

[2022-02-14 16:30] ceaton001 opened #7702 "Some settings are no longer applicable"
"Settings categories" section lists Browser Start pages and Enterprise mode site list, but these do NOT apply to Edge Chromium, just legacy Edge. [MMD switched to Edge Chromium].
Suggest add a note to this effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8e5e9bd-4de7-92eb-3eca-b0b5164c8374
* Version Independent

[2022-02-14 16:33] ceaton001 opened #7703 "Some settings are no longer applicable"
This page lists settings for Browser Start pages and Enterprise mode site list, but these do NOT apply to Edge Chromium, just legacy Edge. [MMD switched to Edge Chromium]. Similarly, the Browser Policy CSP does not apply to Edge Chromium.
Suggest add a note to this effect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-02-14 16:42] TinaMcN commented on #7689
@nakamae1983 thanks for reporting the issue.  I asked the localization vendors to fix the text in the image.

[2022-02-14 17:12] jweston-1 commented on #5163
Fixed, but will add additional details when provided by the product team.
See: https://docs.microsoft.com/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference?view=o365-worldwide#per-rule-alert-and-notification-details

[2022-02-14 17:12] #5163 closed

[2022-02-14 17:33] jweston-1 commented on #6319
In progress

[2022-02-14 17:42] jweston-1 commented on #6319
Fixed. See: https://docs.microsoft.com/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference?view=o365-worldwide#supported-configuration-management-systems

[2022-02-14 17:42] #6319 closed

[2022-02-14 18:08] Realkdrummer commented on #7695
Hello,
I used the Lab Set Up Guide, and Lab Guide provided by Microsoft on the same page that the Lab Kit is downloaded from.  I could be asking for assistance from the wrong source. If so, who can I reach out to in order to get help setting up the lab kit properly? Documents are attached.

Thank you,

[Lab Kit_21H1_set up guide_v3.docx](https://github.com/MicrosoftDocs/microsoft-365-docs/files/80

[2022-02-14 19:27] tomppah opened #7704 "Dead link (Verizon CDN)"
For Azure CDN from Verizon (Edgecast) you can find an exhaustive list using [https://docs.microsoft.com/rest/api/cdn/edge-nodes/list](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/rest/api/cdn/edge-nodes/list) (click Try It ) - you will need to look specifically for the Premium_Verizon section. Note that this API shows all Edgecast IPs (origin and Anycast). Currently there isn't

[2022-02-14 22:26] dmmanderson opened #7706 "Cannot see Preferences in Message Centre"
[Enter feedback here]My Message Centre does not display Preferences as described.  How do I get this to show.

Mine shows  Add to Favorites      Archive     Mark as Read     Share
![Screenshot 2022-02-14 142539](https://user-images.githubusercontent.com/47195606/153956911-67ecf1c7-8ed3-4b6d-b3a8-c03491417559.png)

---
#### Document details

⚠ *Do not edit this section. It is required for docs.micr

[2022-02-14 23:17] kelleyvice-msft commented on #7704
Confirmed. I'm in the process of making significant revisions to this article and have corrected the link. Thank you.

[2022-02-14 23:17] #7704 closed

[2022-02-14 23:53] nakamae1983 commented on #7689
@TinaMcN I have confirmed the fix. Thank you for your support.

[2022-02-15 00:03] yasirmdar opened #7707 "Is it Microsoft 365 F1 or Microsoft 365 F3 which is eligible for O365 Extra File Storage?"
Is it Microsoft 365 F1 or Microsoft 365 F3 which is eligible for O365 Extra File Storage? The page lists M365 F1 but not M365 F3 which is a bit strange. Can we please fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-aced-e2f3-f52d-034e14fe1

[2022-02-15 01:19] markjjo commented on #7678
Hi @robinpoulose1, as per my response in the other issue that you opened, you will have to create an alert policy using powershell. For the -Operations parameter, use the value "UserLoggedIn".

To create an activity alert (which I mentioned in the other issue are being deprecated), you can search for "User logged in", which is located under "Workplace Analytics activities".

![image](https://user-

[2022-02-15 01:19] #7678 closed

[2022-02-15 08:32] msbemba commented on #6413
@sullcromenterprise The table containing this information has been changed, moving those columns (Server 2012 and Server 2016) into a separate table, per the product team.

@yogkumgit  This can be closed.

Thanks
Sri

[2022-02-15 08:34] msbemba commented on #7658
@rconiv Thank you for the response. Could you please try the below steps in Powershell 5.0

Install-module Azureadpreview
Import-Module Azureadpreview
Connect-AzureAD

Thanks
Sri

[2022-02-15 08:36] msbemba commented on #7664
@ssmiller60 The license cannot be removed from Step 3 as steps 4 & 5 need the license intact. While the scope is smaller, I can confirm these are the correct steps in order to remove a former employee.

CC: @kwekuako

Thanks
Sri

[2022-02-15 08:50] msbemba commented on #7700
@GyanwatiProject Thank you for your feedback. We currently do not have a phone support option available and are working on getting one. Once there is a number available, the document will be updated.

Also note that when you request for online support via the need help icon on the admin center, the technician will be able to call you and troubleshoot.

Hope that helps!
Thanks
Sri

[2022-02-15 08:52] EdmondZhangJian opened #7709 "Is this a doc bug? Content search is not available for M365 business basic or sharepoint plan 2"
[Enter feedback here]
Check the available plan for Content search, M365 business basic is not inculded.

----
Content search
Microsoft 365 E1 subscription
Microsoft 365 G1 subscription
Microsoft 365 F1 or F3 subscription, or F5 Security add-on
Microsoft 365 Business Premium subscription
Office 365 Education A1 subscription
Office 365 E1 subscription
---

However, per to doc below, retention policy

[2022-02-15 12:31] ssmiller60 commented on #7664
Thanks! Seems like even more reasons to not mention license removal.
Looking forward to your response.

Sam

On Tue, Feb 15, 2022, 3:36 AM Sriraman M S ***@***.***> wrote:

[2022-02-15 12:38] yogkumgit commented on #7652
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dkotars Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-15 12:40] hnakamoto opened #7710 "NBSP is inserted in the URL list of [mde-urls-commercial.xlsx], please fix it."
[Enter feedback here]
In the [mde-urls-commercial.xlsx] file, the text in the [E15] cell is [login.windows.net], and two "Unicode (U+00A0) NBSP" are inserted after ".net".
The proxy setting is based on the information in this sheet, and it cannot be processed properly because of the NBSP, so please fix it.
Also, please make sure that the same problem does not occur in the future.

Also, the follow

[2022-02-15 12:40] #7652 closed

[2022-02-15 12:57] yogkumgit commented on #7662
@msbemba Thank you very much for the contribution and updating the documentation with PR. @edrandall Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-15 12:57] #7662 closed

[2022-02-15 13:06] yogkumgit commented on #7644
@msbemba Thank you very much for the contribution and updating the documentation with PR. @dkotars Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-15 13:06] #7644 closed

[2022-02-15 13:17] yogkumgit commented on #7695
@Realkdrummer Thank you very much for visiting here.  Here, we are limited to documentation fixes and improvements only. Please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-15 13:17] #7695 closed

[2022-02-15 13:19] yogkumgit commented on #7666
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-15 13:19] #7666 closed

[2022-02-15 13:42] msbemba commented on #7664
@ssmiller60  Thank you for the response. The idea behind converting these shared mailboxes is also to ensure that there are no licenses assigned to them and the license can instead be reused with a new hire. While I agree with you that not all organizations will use this approach, this is a feature available in Microsoft 365 so that they don't have to pay for a terminated employee's mailbox.

Hope

[2022-02-15 16:38] itishnitsa opened #7712 "Permissions for the Mail tab"
What permissions are required to view items under the Mail tab? We have tried Exchange Recipient Administrator + Help Desk Administrator, but our admins receive "You don't have permissions to view this information" error. What is the least privileged role to enable users to view user mail settings in O365 Admin Center?

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-02-15 16:48] rconiv commented on #7658
It did what the instructions say it should do this time.  Azureadpreview must be pretty big, it took it a minute or so to install.

![image](https://user-images.githubusercontent.com/72881999/154108830-4b29dae8-8667-451f-8f5d-622497068f13.png)

[2022-02-15 17:36] ahlaverty opened #7714 "Left nav linked to wrong sections"
The left nav isn't clicking to the right section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34c90550-34c3-c6de-81d4-6d85a8bc3f90
* Version Independent ID: 151fb754-7bea-f489-5115-e3551db0f303
* Content: [Step 5 - Give another employee access to OneDrive and Outlook data - Microsoft 365 admin](https://docs.microsof

[2022-02-15 18:17] meiliumeiliu opened #7715 "Can find permission under Microsoft Graph API"
I can't find the following permission
incident.ReadWrite.All,
incident.Read.All
Alert.ReadWrite.All
Alert.Read.All

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1d4287b-0207-5c4f-ae5b-9b0fc33d36a9
* Version Independent ID: 53fdc584-5530-cf5e-fb2c-75591bb082bf
* Content: [Access the Microsoft Defender for Endpoint API

[2022-02-15 19:34] Lou240 opened #7717 "M365 Reporting and "total" - is it licensed, or assigned or enabled?"
It should be more clear on this report is the "Total Accounts" is Licensed or Assigned/Enabled

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be6f5c5f-874c-05a7-e633-bd46613d908e
* Version Independent ID: e0578fe4-2b3f-7659-052f-7a2cd0910b38
* Content: [Microsoft 365 Reports in the admin center - OneDrive for Business

[2022-02-15 21:34] grifft709 opened #7720 "Incorrect Path"
[Enter feedback here]
Step 3 link points to the wrong location

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2bdb60-b559-ddf3-0eec-be4943fc94fd
* Version Independent ID: 5b176c0f-6c35-a187-2ccb-53a23e154978
* Content: [Step 3 - Wipe and block a former employee's mobile device - Microsoft 365 admin](https://docs.micr

[2022-02-16 06:26] netbootdisk commented on #7393
The UI on my tenant is not showing "Endpoint > Search"

But there's now a search box at the top of the window. Enter the URL in question & select "Search as URL". Then on the right-side panel; select "Open url address page".

The category will then display on the page that loads.

[2022-02-16 09:24] jaegerschnitzel opened #7721 "Block abuse of exploited vulnerable signed drivers and Microsoft Endpoint Manager (MEM)"
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-reference?view=o365-worldwide#block-abuse-of-exploited-vulnerable-signed-drivers includes a link where it refers to [this website](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/enable-attack-surface-reduction?view=o365-worldwide#mem) and explains how to
enable the "B

[2022-02-16 10:50] yogkumgit commented on #7688
@MSFTTracyP Please help us in resolving this issue. Thanks

[2022-02-16 10:52] yogkumgit commented on #7699
@cmcatee-MSFT Pease help us in resolving this issue. Thanks

[2022-02-16 11:18] yogkumgit commented on #7664
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ssmiller60 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-16 11:18] #7664 closed

[2022-02-16 13:46] msbemba commented on #7707
@yasirmdar Thank you for your feedback. F3 also has the extra file storage option, I have added details to the document and it can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7725

Thanks
Sri

[2022-02-16 14:00] fdesignworks commented on #7709
Click the "Microsoft 365 Small and Medium-sized Businesses" item in the left menu of "Microsoft 365 and Office 365 service descriptions" to see the files that can be downloaded as PDF files.

Microsoft 365 and Office 365 service descriptions
https://docs.microsoft.com/en-us/office365/servicedescriptions/office-365-service-descriptions-technet-library

Microsoft 365 Small and Medium-sized Businesse

[2022-02-16 14:03] msbemba commented on #7720
@grifft709 Thank you for your feedback. We are making this change in the backend and will update you once it is complete.

Thanks
Sri

[2022-02-16 14:17] ruicovelo opened #7726 "Custom scan is a quickscan?"
This page says "A custom scan is a quick scan that runs on the files and folders you specify". However, a quick scan is quick because it looks into particular path that aren't usually crowded with data. So a customscan should be described as a full scan (or simple a scan) that runs on the files and folders specified. Those folder can contain a lot of files and data. Calling it a quick scan is conf

[2022-02-16 17:07] chrisda commented on #7648
@MikeAtETI, I don't think outbound spam filter policies are affected by quarantine policies. Outbound spam is about message rates and total number of messages, regardless of content, so the messages aren't quarantined.

[2022-02-16 17:39] jweston-1 commented on #7315
in progress

[2022-02-16 22:51] yasirmdar commented on #7707
Thanks Sri - will this be updated on the MS Docs website soon?

[Logo Microsoft GIF]
Yasir Dar (he/him)
Commercial Executive
RetailCPG | Banking&FS | SMC - Corporate
Phone: +61 2 9859 3323
Email/LinkedIn: ***@***.******@***.***> | LinkedIn<https://www.linkedin.com/in/yasirdar/>
[Teams logo]Message me on ***@***.***>
This and subsequent emails on the same topic are for discussion and information pu

[2022-02-17 05:40] kahosoka opened #7729 "Request for revision of support requirements for MDE on Linux"
[Enter feedback here]
Hello Team,

Could you please modify and update the supporting requirements for MDE on Linux?

1. CentOS Stream is included in the supported OS.
2. A statement confirming that CentOS 6.x and 8 are not supported.
3. EOS OS does not support MDE on Linux.

Best Regards,
Kazuya

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-02-17 06:21] mckadmin opened #7730 "MS Export Bug"
PLEASE FIX YOUR BROKEN EXPORT.

I HAVEE DONE THIS MANY TIMES ON DIFFERENT ACCOUNTS -> YOUR SITE STOPS SENDING DATA.

IT IS LATE AT NIGHT AND NO ONE IS LOGGED ON.  OUR BANDWIDTH USAGE WENT FROM 60MBITS PER SECOND TO 120 MBS/SECOND -> BECAUSE i INCREASED THE BANDWIDTH LIMIT TO DECREASE DOWNLOAD TIME.

THEN IT WENT FROM 120 MB/S TO 180 MB/S BECAUSE I INCREASED THE BANDWIDTH LIMIT.
THEN IT WENT FROM 1

[2022-02-17 07:18] yogkumgit commented on #7684
@jgriff500  Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised as here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-02-17 07:18] #7684 closed

[2022-02-17 07:26] yogkumgit commented on #7701
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-02-17 07:29] yogkumgit commented on #7710
@mjcaparas Please help us in resolving this issue. Thanks

[2022-02-17 07:40] yogkumgit commented on #7648
@MikeAtETI Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-17 07:44] #7648 closed

[2022-02-17 09:04] yogkumgit commented on #7558
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ghexp Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-17 09:04] #7558 closed

[2022-02-17 09:05] yogkumgit commented on #7565
@msbemba Thank you very much for the contribution and updating the documentation with PR. @arethk Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-17 09:06] #7565 closed

[2022-02-17 09:07] yogkumgit commented on #7575
@msbemba Thank you very much for the contribution and updating the documentation with PR. @uowdaniel Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-17 09:08] #7575 closed

[2022-02-17 09:32] TomonoriAbe opened #7732 "Need sample message that will be displayed to IE11 user."
[Enter feedback here]
In this page, there's option to notify IE11 users to update their browsers to Edge. However, Admin cannot imagine what message/notification will be displayed or delivered to IE11 user. The admin will use these sample to decide they will enable this feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-17 11:08] msbemba commented on #7707
@yasirmdar That is correct. We are waiting for the author to approve and merge the PR. It will be live once it is approved.

Thanks
Sri

[2022-02-17 11:39] fxlite commented on #7455
@chhaya-sharma9 any update on this? Does this need passing to someone else?

[2022-02-17 12:32] lightupdifire opened #7733 "Default audit log retention policy"
Hello,

About the **Note**:

"The default audit log retention policy only applies to audit records for activity performed by users who are assigned an Office 365 or Microsoft 365 E5 license or have a Microsoft 365 E5 Compliance or E5 eDiscovery and Audit add-on license. If you have non-E5 users or guest users in your organization, their corresponding audit records are retained for 90 days."

Not r

[2022-02-17 13:14] lightupdifire opened #7734 "Forever retention - User deletion"
Hello,

Would be good to explain what will happen with the following scenario:

1. User enabled for retention (Exchange, Teams, OneDrive) with the condition to keep data forever
2. User deleted from organization

Can we access user data? Or all will be gone as soon as the user is removed?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-02-17 13:38] DeanGross opened #7735 "effect in other systems"
Please provide some information about how these tags can be leveraged in other systems, specifically Microsoft Sentinel and Azure AD Conditional Access policies

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 299b59ef-e964-9f80-c48d-8d8014427a08
* Version Independent ID: 9122e30d-beb6-318c-610e-e879fd583a15
* Content: [

[2022-02-17 13:57] DeanGross opened #7736 "wording correction"
Step 2 states - click Create Simulation, it should state Create automation (this is what is shown in the UI)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6be692e7-40f2-87ae-56b6-680a32f1024f
* Version Independent ID: 6be692e7-40f2-87ae-56b6-680a32f1024f
* Content: [Simulation automations for Attack simulation trainin

[2022-02-17 16:54] wcneumann219 opened #7739 "Encrypt and Do Not Forward enabled in both OME and MIP"
How about adding an explanation about how to use OME Do Not Forward and Encrypt along with Sensitivity Labels that include encryption and do not forward rights. OME has to be used if one wants an external recipient to read the encrypted contents because an email Sensitivity Label with encryption can only be read by users that have an Azure AD account.

I believe it's a little tricky to get this wo

[2022-02-17 17:35] chrisda commented on #7736
@DeanGross, fixed.

In the future, you too can make updates like this yourself. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing.

[2022-02-17 17:35] #7736 closed

[2022-02-17 18:41] markjjo commented on #7733
@lightupdifire Thanks for question. I think the confusion may be in how we state this: "...the user who generates the audit log (by performing an audited activity)." What we mean is that to retain an audit record for 1 yr, the user who performs an activity that triggers an audit record to be created must be licensed with E5. For example, to save audit records for Exchange mailbox activities or SP

[2022-02-17 18:41] #7733 closed

[2022-02-17 18:44] markjjo commented on #7730
@mckadmin Please open a ticket with MS Support so they can investigate.

[2022-02-17 18:44] #7730 closed

[2022-02-17 19:22] HarrisburgUSysAdmin opened #7744 "Block access of files on unmanaged devices takes precedence over the external sharing control in SharePoint"
Can you confirm that "block access of files on unmanaged devices" takes precedence over the external sharing control in SharePoint? I can find this documentation in zero locations.

![image](https://user-images.githubusercontent.com/52167303/154555035-ed31cb5a-aa14-496d-abf1-2b5494c47863.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-02-17 19:46] chrisda commented on #7118
@mdlister, likely not the answer that you're looking for, but we've decided to dial down the specificity. I was hoping there was some other resource that I could link off to, but there apparently isn't. Frankly, the existing information wasn't terribly helpful. It would be important if you're located in region/country A, but your data is stored/processed in region/country B, but that doesn't seem

[2022-02-17 19:46] #7118 closed

[2022-02-17 21:32] BlakeMsft opened #7745 "test"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53a61a50-f7f2-f09a-a008-759c3afba97b
* Version Independent ID: 872c0e23-c626-3e22-efea-d4ef4ad7f32b
* Content: [Advanced Hunting API](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/run-advanced-query-api?view=o365-worldwide)

[2022-02-17 21:59] oilerhead opened #7746 "Duplicate entry"
In this section:https://docs.microsoft.com/en-us/microsoft-365/compliance/sensitive-information-type-learn-about?view=o365-worldwide#sensitive-information-types-are-used-in

Insider Risk Management is listed twice

![image](https://user-images.githubusercontent.com/15676809/154577942-a59297a3-64fd-4fb6-aab9-8f53c31c0693.png)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-02-18 05:45] #7745 closed

[2022-02-18 06:51] kohanaz opened #7747 "Please add the release date of the mdatp App version"
[Enter feedback here]
Hopefully the release date of the App version will also be included.
For the MDAV platform version, the release date is listed, so MDE on macOS should also be listed.
[Reason]
To know when it was possible to upgrade.
When a bug-fixed version is released, It is possible to track when the version has been upgraded and to track the application status of the user environment.

--

[2022-02-18 07:02] yogkumgit commented on #7121
@kelleyvice-msft Please update. Thanks

[2022-02-18 07:03] yogkumgit commented on #7063
@kelleyvice-msft Please update. Thanks

[2022-02-18 07:06] yogkumgit commented on #6920
@MSFTTracyP Please update. Thanks

[2022-02-18 07:16] yogkumgit commented on #6531
@KCCross Please update. Thanks

[2022-02-18 07:16] lightupdifire commented on #7734
@cabailey
Thanks, we don't use retention labels, we use retention policy, which applies to Legal department users, now recently one user left who was undercover "retain forever" and the account was deleted, so I try to look in all those MS docs to find out can I get user data back or not... and because I couldn't find such combination explained, opened this case, maybe some update/add needed to ex

[2022-02-18 07:38] yogkumgit commented on #5671
@efrene Please update. Thanks

[2022-02-18 08:01] yogkumgit commented on #7465
@msbemba Thank you very much for the contribution and updating the documentation with PR. @michaeljonathanparish Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-18 08:01] #7465 closed

[2022-02-18 08:21] radimek commented on #5730
@LordBoBCUP thanks for comment, but after 8 months this compatibility still exist. We are not able to run scriupt for user creation under PS 7.2

This command return null:
**_$LicensedUser.AssignedLicenses.SkuId_**

When this bug will be fixed? Exist any workaround how to assign licence under PS7. When I try to assign license directly a have the this message: **_Error: "Cannot convert the "class A

[2022-02-18 12:08] msbemba commented on #7720
@grifft709 Thank you for your feedback. The changes have been made in the backend and the document is updated now.

@yogkumgit  This can be closed.

Thanks
Sri

[2022-02-18 12:08] msbemba commented on #7714
@ahlaverty  Thank you for your feedback. The changes have been made in the backend and the document is updated now.

@yogkumgit  This can be closed.

Thanks
Sri

[2022-02-18 12:18] ChristianJBergstrom opened #7748 "Correct info about when a wrapper is received"
[Hello, just read this _"Recipients of encrypted messages who receive encrypted or rights-protected mail sent to their Outlook.com, Gmail, and Yahoo accounts receive a wrapper mail that directs them to the OME Portal where they can easily authenticate using a Microsoft account, Gmail, or Yahoo credentials"._ and Outlook.com shouldn't be there. The experience is seamless with a Microsoft account as

[2022-02-18 14:53] robarismail97 opened #7749 "Microsoft Defender for office 365 Power Automate"
Hello,

Is it possible to create a flow (or with some other solution) to automatically send email notification to recipients that Mdfo365 has created an alert on. So the recipient can get an email that they have clicked on an malicious url in a email.

Name of the alert: "A potentially malicious URL click was detected"

Br,
Robar

[2022-02-18 15:50] JeroenOortwijn commented on #7675
Thanks, looking good now.

I just noticed that the steps in the [image](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/9f0e84835121ce6228fdc69182c24be7ad1cb20e/microsoft-365/media/delete-user-account.png) also need changing.
Do I need to open a separate issue for that?

[2022-02-18 16:40] Canis-Lupis opened #7753 "Missing instructions on how to delete a review set."
[Enter feedback here]
Cannot find this info anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8100182-f644-9e72-1d7c-db04160b7dc3
* Version Independent ID: fac80152-095a-3b46-d1ff-80eb3139b529
* Content: [Manage review sets in Advanced eDiscovery - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/micr

[2022-02-18 17:20] markjjo commented on #7753
@Canis-Lupis Thanks for question. You can't delete a review set. You have to delete the Advanced eDiscovery case the review set is located in. This is referenced in the article on deleting cases (in the context of a data spillage scenario): https://docs.microsoft.com/en-us/microsoft-365/compliance/close-or-delete-case?view=o365-worldwide#delete-a-case

I can add a note in this topic that you logge

[2022-02-18 17:20] #7753 closed

[2022-02-18 17:56] kelleyvice-msft commented on #7701
Added link to Teams network planning article in [PR #12760](https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/12760)

[2022-02-18 17:56] #7701 closed

[2022-02-18 20:33] bholzmmc opened #7755 "Downloaded PDF incomplete"
The downloadable PDF is incomplete.  It generates a 506 page document but pages after 224 are all blank.
This is in the midst of the Workload solutions and scenarios -> Administration and migration -> Tenant management -> Step 2. Optimal Networking   section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5603021e-457e

[2022-02-18 20:58] RichardGallo-MS opened #7756 "Additional Note recommended for Supervised Devices Without User Affinity"
Hi there!

Working with a customer recently, we learned that zero-touch cannot be configured on iOS devices that are enrolled without user affinity. I think it would be super helpful if we could make a note of that, so a customer doesn't spend a lot of time troubleshooting a scenario that isn't supported yet.

Thanks so much!!

-Rich Gallo, Customer Engineer

---
#### Document Details

⚠ *Do not e

[2022-02-19 00:55] #7189 closed

[2022-02-19 00:58] chrisda commented on #7538
@teomonda, are you saying that we mention functionality in the article that isn't there? If not, I'm having a hard time wrapping my head around talking about features that are not available.

Please advise.

[2022-02-19 09:46] andrewwoo0902 commented on #7381
malaysia also having the same problem

[2022-02-20 01:25] Helix-DB3 opened #7760 "404\Not Found"
[Invalid(404)](https://github.com/sessions/verified-device)
#
![Screenshot_20220218-060944](https://user-images.githubusercontent.com/96703991/154824728-20a37a5c-e930-4a7e-95c7-67e7392e693e.png)

 #7759

[2022-02-20 11:55] yogkumgit commented on #7749
@robarismail97 Please indicate which document you are referring to. Thanks

[2022-02-20 12:00] #7720 closed

[2022-02-20 12:01] #7714 closed

[2022-02-20 12:04] yogkumgit commented on #7675
@JeroenOortwijn Yes, please do. Closing this one. Thanks

[2022-02-20 12:04] #7675 closed

[2022-02-20 12:10] yogkumgit commented on #7735
@DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-20 12:10] #7735 closed

[2022-02-20 12:32] robarismail97 commented on #7749
Thank you for the comment. The document I'm refering to is this:  https://docs.microsoft.com/sv-se/microsoft-365/security/defender-endpoint/api-microsoft-flow?view=o365-worldwide

[2022-02-21 02:37] 6liv6vil6 opened #7761 "admin@GeoffreModcoreModcoServices.onmicrosoft.com"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce65739-6428-fc57-012c-a6741a051c6b
* Version Independent ID: 3341ac81-3e21-4e71-e4f7-3eff41db05b8
* Content: [About the Microsoft 365 Admin mobile app - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-m

[2022-02-21 02:37] 6liv6vil6 commented on #7761
admin@GeoffreModcoreModcoServices.onmicrosoft.com

[2022-02-21 02:38] #7761 closed

[2022-02-21 03:52] kefujino opened #7762 "Translation issue for Japanease article"
Hello community,

I found a translation error in the reference to the impact of the M365 licenses removal for OneDrive for Business.
In the current description, the location  in the sentence the of "Microsoft 365 admin center" and "OneDrive for Business" are reversed.

Could you please revise the explanation as it is very important information regarding the retention of customer data?

https://doc

[2022-02-21 05:41] yogkumgit commented on #7762
@TinaMcN Please help us in resolving this issue. Thanks

[2022-02-21 06:42] SCJDigital opened #7764 "Order of operations is wrong - delete user should not be first"
[Enter feedback here]
As the title says - following the order of events on the page is literally not possible as deleting the used prevents most of the following steps from working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e366b9c-0d35-83c6-f509-1774dd351504
* Version Independent ID: 702f2dc1-46f8-508a-68bc-b5d0

[2022-02-21 07:22] RAJU2529 commented on #7746
@oilerhead   Today evening I will fix this issue.

[2022-02-21 07:52] jaegerschnitzel opened #7765 "ASR exclusions - maximum of 6 wildcards per entry"
Over a month ago we opened a support ticket that some of our ASR exclusions do not work.
We found out, that this is a limitation of the product and exclusions only allow a maximum of 6 wildcards per entry.

The support engineer told us that the documentation will be adjusted but unfortunately this was not done yet.
Please add this useful information to your docs.

---
#### Document Details

⚠ *Do

[2022-02-21 08:54] JeroenOortwijn opened #7766 "Update image to reflect changes in steps"
This is a follow-up on issue #7675.

In PR #7676, the steps on this page got reordered.
The [image](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/9f0e84835121ce6228fdc69182c24be7ad1cb20e/microsoft-365/media/delete-user-account.png) on this page needs to be updated to reflect this new order of steps.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2022-02-21 10:33] andrewwoo0902 opened #7767 "egacy sharepoint admin center no longer available"
[Enter feedback here]
Legacy sharepoint admin center no longer available

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b29df28b-0065-a059-f22d-3433c1dd65a0
* Version Independent ID: 83b44475-2a39-5747-fc3c-2a92d0d958f2
* Content: [Set up Information Rights Management (IRM) in SharePoint admin center - Microsoft 365 Co

[2022-02-21 11:07] LegalDrokz opened #7771 "Typo in 'Administrative portal' concept description"
At the 'Administrative portal' Concept section, the Description says:

In addition to the Microsoft 365 Defender portal, the Defender for Identity portal _cab_ be used to monitor and respond to suspicious activity.

I assume that 'cab' here needs to be 'can'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e343a8b-3083-

[2022-02-21 11:49] msbemba commented on #7746
@oilerhead Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7772

Thanks
Sri

[2022-02-21 12:02] RAJU2529 commented on #7771
@JoeDavies-MSFT,   please merge this #7773, if it is correct.

[2022-02-21 12:20] msbemba commented on #7721
@jaegerschnitzel Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7774

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-21 12:25] msbemba commented on #7717
@Lou240 Thank you for your feedback. I have tested and it is the total licensed users in the tenant for that particular service. For making changes to the report, I'd recommend you leave feedback directly on the Main feedback portal - https://feedbackportal.microsoft.com/

Hope this helps!
Thanks
Sri

[2022-02-21 12:34] msbemba commented on #7715
@meiliumeiliu Thank you for your feedback. I was not able to locate the below as well

incident.ReadWrite.All,
incident.Read.All
Alert.ReadWrite.All
Alert.Read.All

I'll work with the author and get back to you.

Thanks
Sri

[2022-02-21 12:41] msbemba commented on #7712
@itishnitsa Thank you for your feedback. If you are looking for an Admin role, then Exchange admin will be needed in order to make changes to user email settings.

Also, you can use role groups and role assignment policies as well -https://docs.microsoft.com/en-us/exchange/permissions-exo/permissions-exo#role-groups

Thanks
Sri

[2022-02-21 12:46] msbemba commented on #7706
@dmmanderson Thank you for your feedback. I'm able to view the preferences option in the Message center

![image](https://user-images.githubusercontent.com/45987684/154957620-fce53120-eccd-42ae-8b0e-91723f0fdc91.png)

If this is still an issue, I'd recommend you contact Microsoft support via the need help section on the admin center.

Hope this helps!

Thanks
Sri

[2022-02-21 12:56] msbemba commented on #7673
@chiners68 Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7775

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-21 13:12] msbemba commented on #7674
@chiners68 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7776

Thanks
Sri

[2022-02-21 13:16] msbemba commented on #7680
@BwaddellProtectedTrust The Page has been updated now.

@yogkumgit  We can close the issue.

Thanks
Sri

[2022-02-21 15:03] nikki-c opened #7778 "The improvement actions screens are different from image shownt"
In the secure score Improvement action tab I see a different view when I open up a specific improvement action. See screenshots.

Has the interface been updated?

![image](https://user-images.githubusercontent.com/69439002/154979555-327b091b-9774-4f3e-b6c0-131759d86ccc.png)

![image](https://user-images.githubusercontent.com/69439002/154980033-8cbd7aab-a5c2-4583-99fb-674a3a69e3d0.png)

Apart from

[2022-02-21 16:45] jweston-1 commented on #7721
Approved. Please merge

From: Sriraman M S ***@***.***>
Sent: Monday, February 21, 2022 4:21 AM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Brit Weston (Aquent LLC) ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Block abuse of exploited vulnerable signed drivers and Microsoft Endpoint Manager (MEM) (Issue #7721)

@jaegerschnitzel<https://nam06.safelink

[2022-02-21 17:35] msbemba commented on #7749
@robarismail97 Thank you for your feedback. Yes, It is possible using flow, however, this is handled by the support team. You can contact Microsoft support via the need help section on the M365 admin center and a support engineer will be able to assist you with this.

Thanks
Sri

[2022-02-22 01:04] cablechewer opened #7779 "What happens if you tag content after creating the event?"
[Enter feedback here]
I have had several customers create an event, and then continue tagging items after the event was created.  They expect the policy will act on those documents just like it did on the ones that were present at the time of the event's creation.  AFAIK this isn't how it acts.  A new event has to be created to trigger retention on the documents that were tagged after the event.
F

[2022-02-22 09:45] yogkumgit commented on #7771
@LegalDrokz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-22 09:45] #7771 closed

[2022-02-22 09:49] yogkumgit commented on #7729
@Dansimp Please help us in resolving this issue. Thanks

[2022-02-22 09:51] yogkumgit commented on #7739
@KCCross Please help us in resolving this issue. Thanks

[2022-02-22 09:52] yogkumgit commented on #7744
@cabailey Please help us in resolving this issue. Thanks

[2022-02-22 09:54] yogkumgit commented on #7747
@Dansimp Please help us resolving this issue. Thanks

[2022-02-22 09:56] yogkumgit commented on #7755
@samanro Please help us in resolving this issue. Thanks

[2022-02-22 10:08] yogkumgit commented on #7721
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jaegerschnitzel Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-22 10:09] #7721 closed

[2022-02-22 10:11] yogkumgit commented on #7717
@Lou240 Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised as here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-02-22 10:12] #7717 closed

[2022-02-22 10:14] yogkumgit commented on #7712
@msbemba Thank you very much for the contribution and sharing this explanation. @itishnitsa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-22 10:14] #7712 closed

[2022-02-22 10:16] yogkumgit commented on #7706
@msbemba Thank you very much for the contribution and sharing this explanation. @dmmanderson Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-02-22 10:16] #7706 closed

[2022-02-22 10:18] yogkumgit commented on #7673
@msbemba Thank you very much for the contribution and updating the documentation with PR. @chiners68 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-22 10:19] #7673 closed

[2022-02-22 10:20] #7674 closed

[2022-02-22 10:22] #7680 closed

[2022-02-22 10:24] yogkumgit commented on #7749
@msbemba Thank you very much for the contribution and sharing this explanation. @robarismail97 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share th

[2022-02-22 10:24] #7749 closed

[2022-02-22 10:52] yogkumgit commented on #7700
@msbemba Thank you very much for the contribution and sharing this explanation. @GyanwatiProject Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-22 10:52] #7700 closed

[2022-02-22 11:24] msbemba commented on #7709
@EdmondZhangJian  We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7782

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-22 11:31] msbemba commented on #7756
@RichardGallo-MS Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7783

Once the author approves, changes will be live.

Thanks
Sri

[2022-02-22 11:36] msbemba commented on #7748
@ChristianJBergstrom Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7784

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-22 11:58] msbemba commented on #7726
@ruicovelo Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7786

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-22 13:08] Abhishek-Sharan opened #7787 "KQL query mentioned in this page is not working"
Hi Team - I tried to execute the given KQL query but it's not working. Error as follows:

**Error message**
'where' operator: Failed to resolve table or column expression named 'AlertInfo'
**How to resolve**
Fix semantic errors in your query

Please check.

Regards
Abhishek Sharan

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-02-22 16:00] samanro commented on #7755
@dstrome , do you know if this issue would be with the platform? How do we troubleshoot PDF downloads from the library?

[2022-02-22 16:47] Adamance opened #7790 "Settings not available in new Exchange Admin center"
The steps detailed on this page have become outdated since the rollout of the new Exchange admin center, as group email delegation settings are still only available in the Classic Exchange Admin Center.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b725ac58-0fa5-9f7d-84fa-a8541477fe0e
* Version Independent ID: f2acd0d

[2022-02-22 19:57] dstrome commented on #7755
@traya1 - please take a look at what's going on with the PDF generation for this docset.

[2022-02-22 19:59] traya1 commented on #7755
Can do

[2022-02-22 23:02] rconiv commented on #7658
Not sure what was done, but the script doesn't fail out now.

[2022-02-22 23:02] #7658 closed

[2022-02-23 05:03] TinaMcN commented on #7762
@kefujino thank you very much for reporting this issue.  It's seems to be a bug with the machine translation.   I sent the article to be translated by a human which will take 2-3 days.

[2022-02-23 05:27] Realkdrummer opened #7793 "I cannot open the MECM Management Console"
I cannot open the MECM Management Console

Hello,

I recently downloaded and set up (supposedly) the Windows and Office 365 deployment lab kit.  I can open and log into the CMI Virtual Machine.  As the MECM server, I tried to open the Management Console with no luck. According to the setup instructions, the MECM server's FQDN is CM1.corp.contoso.com. When the console does not open, I am prompted f

[2022-02-23 05:30] msbemba commented on #7686
@porterkim Thank you for your feedback. I have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7794

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-23 05:43] msbemba commented on #7698
@JonesMikael Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7795

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-23 05:46] msbemba commented on #7732
@TomonoriAbe Thank you for your feedback. I was able to test it and below is the notification

The Internet Explorer 11 desktop application will be retired and go out of support on June 15, 2022 (for a list of what's in scope, [see the FAQ](https://aka.ms/IEModeFAQ)). The same IE11 apps and sites you use today can open in Microsoft Edge with Internet Explorer mode. [Learn more here](https://aka.ms

[2022-02-23 06:23] msbemba commented on #7457
@yogkumgit The PR is merged and the issue can be closed.

Thanks
Sri

[2022-02-23 06:27] msbemba commented on #7661
@yogkumgit https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7661 can be closed.

https://github.com/MicrosoftDocs/microsoft-365-docs/issues/7414 is assigned to the Author.

Thanks
Sri

[2022-02-23 06:56] yogkumgit commented on #7756
@msbemba Thank you very much for the contribution and updating the documentation with PR. @RichardGallo-MS Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 06:56] #7756 closed

[2022-02-23 07:01] yogkumgit commented on #7726
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ruicovelo Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:03] #7726 closed

[2022-02-23 07:10] yogkumgit commented on #7448
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tommylux Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:11] #7448 closed

[2022-02-23 07:12] yogkumgit commented on #7459
@msbemba Thank you very much for the contribution and updating the documentation with PR. @sinnermark Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:12] #7459 closed

[2022-02-23 07:13] yogkumgit commented on #7567
@msbemba Thank you very much for the contribution and updating the documentation with PR. @tommylux Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:13] #7567 closed

[2022-02-23 07:15] yogkumgit commented on #5866
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jrhi Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:15] #5866 closed

[2022-02-23 07:19] yogkumgit commented on #7746
@msbemba Thank you very much for the contribution and updating the documentation with PR. @oilerhead Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:19] #7746 closed

[2022-02-23 07:28] yogkumgit commented on #7732
@msbemba Thank you very much for the contribution and sharing this explanation. @TomonoriAbe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:29] #7732 closed

[2022-02-23 07:31] yogkumgit commented on #7457
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Amplify101 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-23 07:32] #7457 closed

[2022-02-23 07:33] #7661 closed

[2022-02-23 07:43] yogkumgit commented on #7715
@mjcaparas Please help us in resolving this issue. Email sent. Thanks

[2022-02-23 07:46] yogkumgit commented on #7679
@kwekuako Please help us in resolving this issue. Thanks

[2022-02-23 07:52] yogkumgit commented on #6190
@chrfox

[2022-02-23 07:53] #7428 closed

[2022-02-23 08:28] teomonda commented on #7538
I agree it does not make complete sense reading it that way. :)

From the usability perspective, I was comparing these recommendations to what we have in the Defender for endpoint recommendations, meaning being able to set an exception / accepted risk. Both me and the customers I was working with were looking for an option to "dismiss" a recommendation which does not seem to be there and I was aft

[2022-02-23 09:39] chhaya-sharma9 commented on #7455
Ack on the question. Checking the current behavior, will respond back.

[2022-02-23 10:12] ErnieBot opened #7797 "Change references to old portal (securitycenter.windows.com) to new portal security.microsoft.com"
[Enter feedback here]
Dear,

It appears that the following documentation is still refencing the old portal URL (securitycenter.windows.com) would it be possible to adapt it to the new portal URL (security.microsoft.com)?

This appears to be already referenced correctly on the [documentation page directly above](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/grant-mssp-ac

[2022-02-23 13:23] o-l-a-v commented on #7565
Sharing this as it might help others.

I got same error, 15, saying the service does not exist.

I though running the ```WindowsDefenderATPLocalOnboardingScript.cmd``` file from a directory where also ```md4ws.msi``` was located, but that's not sufficient. The CMD does not install ```md4ws.msi```, nor does it handle dependencies like the two KBs needed (KB2999226, KB3080149).

Then found this scri

[2022-02-23 15:42] plonguk opened #7798 "Azure Premium licenses"
From my experience of administering Microsoft 365 tenancies, I feel the following section is incorrect:
"Conditional Access is available for customers who have purchased Azure AD Premium P1, or licenses that include this, such as Microsoft 365 Business Premium, and Microsoft 365 E3."

Nearly all of my customers use E3 licenses and do not have Conditional access available.

Kind Regards
Paul

---
#

[2022-02-23 18:17] traya1 commented on #7755
Hi @[bholzmmc](https://github.com/bholzmmc),

Can you try accessing the downloadable PDF on your end again? I ran a manual PDF generation and I now see no issues with the PDF, on my end, but what to confirm if the issue is resolved on your end.

I'm still looking into what may have caused the issue in the first place.

Thanks!

[2022-02-23 18:21] iSazonov opened #7800 "https://demo.wd.microsoft.com/ - This site will be decommissioned on 03/15/2022"
The link warn "This site will be decommissioned on 03/15/2022". Please update docs with new link.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14fb0d02-ceff-61d8-3041-13df9513769a
* Version Independent ID: 7c98a316-de58-520a-a6ad-06ddaf0d71b3
* Content: [Protect important folders from ransomware from encrypting your

[2022-02-23 19:11] chrisda commented on #7538
@teomonda, interesting connection. I would recommend that you encourage the customers to open a support case about this. The argument that you can dismiss recommendations in other products in the Microsoft Defender is compelling.

Thanks for the feedback.

Closing

[2022-02-23 19:11] #7538 closed

[2022-02-23 20:22] bholzmmc commented on #7755
Looks fine now.

You can close the Issue.

Brian

From: Thomas Raya ***@***.***>
Sent: Wednesday, February 23, 2022 1:18 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Holzman, Brian ***@***.***>; Author ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Downloaded PDF incomplete (Issue #7755)

Hi @bholzmmc<https://github.com/bholzmmc>,

Can you try accessing the downloadable P

[2022-02-23 23:57] kelleyvice-msft commented on #7063
I'm working on a larger update of multiple certificates and will include this one. No firm ETA at this time.

[2022-02-24 00:48] dcaddick opened #7806 ""Report Phishing" - how does the process work in my Tenant?"
This is all fine - and ultimately the User press's the button the Report Phishing is sent - to Microsoft?

What about what happens in my Tenant?
- Confirmation to the User that this was submitted
- There is an expectation that this could/should be confirmed or checked either automatically (AI/ML) or via SecOps
- User is informed of outcome either way
- The assumption for Positive is the flow would

[2022-02-24 09:48] sebhurleyhte opened #7808 "Please allow export/query of Exposure Score over Time"
Related Feature: https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/microsoft-365/security/defender-endpoint/tvm-exposure-score.md

Can we have the feature to download the "Exposure Score over time" data - either directly or via KQL? This is a useful report for demonstrating at a high level the impact being made as new vulnerabilities appear.

![Screenshot 2022-02-24 093621](https://u

[2022-02-24 11:18] aravindmunna commented on #7323
Thank you

[2022-02-24 11:22] #7755 closed

[2022-02-24 15:47] MatteoC5 opened #7810 "Review attack surface reduction events in Windows Event Viewer"
In the section "Review attack surface reduction events in Windows Event Viewer" controlled folder access is mentioned few times,
am I wrong or could it be that we are referring to the ASR rules?

Thank you

[2022-02-24 16:11] James-Noble opened #7811 "Instructions to install January 2017 SCEP update can't be followed"
In the section:
Install the [January 2017 anti-malware platform update for Endpoint Protection clients](https://support.microsoft.com/help/3209361/january-2017-anti-malware-platform-update-for-endpoint-protection-clie)

That page doesn't give a KB or any download link, it just says to get it from Microsoft Update.  I've searched Microsoft update for "January 2017", "SCEP", "Endpoint protection", "

[2022-02-24 17:26] rykerabel opened #7812 "missing Group Policy to turn off passive mode, need Defender to be active enterprise wide"
Please confirm how to remove ForceDefenderPassiveMode using group policy.
We need Defender active and it is stuck in passive mode.
This is a huge security vulnerability.

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 881d2840-25a7-0f80-c62c-9240680314e2
* Version Independent ID: 881d2840-25a7-0f80-c62c-9240

[2022-02-24 17:30] rykerabel opened #7813 "Nowhere does any documentation explain the correct method of setting Defender to ACTIVE mode."
Nowhere does any documentation explain the correct method of setting Defender to ACTIVE mode.
This is a HUGE security vulnerability.
(don't say "delete the registry key" because we have over 30,000 computers that have this key and again, there is no Group Policy for this setting or at least no documentation lists one)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2022-02-24 20:06] neymars commented on #7063
Thank you!!!

Marco Schambach
Program Manager

IdenTrust
***@***.*** ***@***.***>

 <http://www.identrust.com/> www.IdenTrust.com

 <http://www.hidglobal.com/> www.hidglobal.com

From: Kelley Vice ***@***.***>
Sent: Wednesday, February 23, 2022 6:58 PM
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Marco Schambach ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [MicrosoftDocs/mic

[2022-02-24 23:19] chrisda commented on #7595
@DSDrewry, I received no indication that the recommended order of safe list options should be changed.

The topic currently mentions in 4 different places that malware and high confidence spam messages are no longer skipped. It was suggested that I add a link to the [Secure by default in Office 365](https://docs.microsoft.com/microsoft-365/security/office-365-security/secure-by-default), which I d

[2022-02-24 23:38] DSDrewry commented on #7595
The specific page in question is:
Create safe sender lists - Office 365 | Microsoft Docs<https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365?view=o365-worldwide>

This page mentions the specific item:
The available safe sender lists are described in the following list in order from most recommended to least recommended:

Mail flow rule

[2022-02-25 00:54] chrisda commented on #7595
@DSDrewry, how recent was that Ignite information? Secure by Default was implemented within the last year (and it could have been a rolling release) so that nothing bypasses high confidence phishing and malware anymore. I thought that anti-malware could not be bypassed under any circumstances, but I won't swear up and down to that.

I'll ask about swapping connection filtering with anti-spam filte

[2022-02-25 07:23] msbemba commented on #7793
@Realkdrummer Thank you for your feedback. This request needs to be handled by our Microsoft support engineers who can work with you over phone/email. You can create a ticket using the need help section on the M365 admin center and one of the support engineers will work with you.

Hope this helps!

Thanks
Sri

[2022-02-25 07:31] msbemba commented on #7767
@andrewwoo0902 Thank you for your feedback. I can confirm that the legacy SharePoint admin center is no longer available. The fw link(https://go.microsoft.com/fwlink/?linkid=2185219) on the article for the SharePoint admin center has been updated to reflect the new SharePoint admin center.

Thanks
Sri

[2022-02-25 07:35] msbemba commented on #7765
@jaegerschnitzel Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7818

Once the author approves, the changes will be live.

Thanks
Sri

[2022-02-25 07:39] msbemba commented on #7764
@SCJDigital Thank you for your feedback. You are correct, deleting the user is in fact the last step.

Step 1 - Prevent a former employee from logging in and block access to Microsoft 365 services
Step 2 - Save the contents of a former employee's mailbox
Step 3 - Wipe and block a former employee's mobile device
Step 4 - Forward a former employee's email to another employee or convert it to a share

[2022-02-25 11:29] dendave opened #7819 "eDiscovery support for .whiteboard files?"
[Enter feedback here]
Hi,
soon MS whiteboard files will be stored on OneDrive for Business.
Based on [this article](https://support.microsoft.com/en-us/office/microsoft-whiteboard-on-onedrive-for-business-opt-in-4cc65aa7-812a-4c7c-a50f-991274106286) Whiteboard files will get extensions .whiteboard.
Will Advanced eDiscovery also support .whiteboard files?

---
#### Document Details

⚠ *Do not edit

[2022-02-25 11:31] yogkumgit commented on #7779
@cabailey Please help us in resolving this issue. Thanks

[2022-02-25 11:32] yogkumgit commented on #7787
@Dansimp Please help us in resolving this issue. Thanks

[2022-02-25 13:12] DeanGross opened #7820 "Shared Channel Guidance Request"
Please add some guidance about how we should include the new Shared Channels in Teams in this tiered model.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4734515e-5940-7ddd-48ac-807a1515d7f5
* Version Independent ID: 22873fc9-27f2-35b2-7441-044a7e00372c
* Content: [Configure Teams with three tiers of file sharing secu

[2022-02-25 13:43] MikePlumleyMSFT commented on #7820
@DeanGross, shared channels documentation updates will be published when shared channels is released for public preview.

[2022-02-25 17:27] TinaMcN commented on #7762
@kefujino the article has now been human translated.   Can you please confirm if the translation is ok now?
![image](https://user-images.githubusercontent.com/53281468/155760093-7e65d1d9-1e4a-4f2a-856c-43719140174f.png)

[2022-02-25 17:38] cimares opened #7822 "Sub-bullets under Actions/implementationType should be indented"
The sub-bullets of Operational, Technical and Documentation should be indented to show that they are values under the column implementationType. As it reads currently, they show as additional column headers.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1fcab7e-6aec-21d1-707e-08bec1ec5412
* Version Independent ID: b5

[2022-02-25 18:06] cimares opened #7823 "The sample file itself fails validation with "Action template not inserted correctly""
After unsuccessfully writing my own template based on this article, I decided to change the certification field to ensure no clash, and then upload the Sample file as is.

A pop-up appears status "Action template not inserted correctly" with the following diagnostic information availabe: Diagnostic information: {Version:17.00.8006.006,Environment:WEUPROD,DeploymentId:a9d3e4c565b24eaba08f153fd4a0a9

[2022-02-25 20:21] markjjo commented on #7819
@dendave Initially Advanced eDiscovery won't support .whiteboard files but will support them sometime in the future. When that happens, there should be a roadmap item announcing that support.

[2022-02-25 20:21] #7819 closed

[2022-02-25 20:40] SKjerland commented on #7560
@FrankGlez - I can't find this link anywhere. It may have been removed by someone else. I'm going to close this issue, but if I somehow missed the link and the problem still exists, please re-open the issue and provide additional information to help us locate the link. Thanks!

[2022-02-25 20:40] #7560 closed

[2022-02-25 21:54] chiners68 opened #7824 "Declare the time it takes for change in categories to reflect on clients"
this page does not indicate how long it will take for a change in categories to appear on a cliemt device. I have had to wait getting on for 2 hours which is ridiculous. Can you indicate how this can be speeded up? can you detail exactly how long it takes?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbaaa90e-6975-ee

[2022-02-26 00:12] Realkdrummer commented on #7793
The Windows and Office 365 deployment lab kit is free. Are you saying that
I have to download M365 or Office 2021 in order to get into the M365 Admin
center if I have questions about the free lab? If I do that, after 30 days,
I will be charged.  I already have a Microsoft account that I use to get
into the Azure portal to work on VMs to learn MECM.  I am already paying
for that.

I need clarity on

[2022-02-26 04:39] MS-Mudman opened #7826 "Online support not working"
[Enter feedback here]

Microsoft has really gotten terrible over the years, cannot even got proper support.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Version Independent ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Content: [Get support - Microsoft 365 admin](https://docs.micros

[2022-02-26 06:57] #7609 closed

[2022-02-26 08:47] msbemba commented on #7793
@Realkdrummer Thank you for the response. There are multiple options to contact support.

1)  https://support.microsoft.com/oas - using a Microsoft account that you use.
2) Portal.azure.com - Create a ticket from the support section
3) M365 admin center (for this you need an account in M365)

We handle the documentation edits, for any product support or technical queries it needs to be handled by

[2022-02-27 01:14] pjbisset opened #7828 "Double up on text"
[Enter feedback here]
4th paragraph down from the top under "Applies to" has doubled up text.

"Admins in organizations with Microsoft Defender for Office 365 can also manage files that were **quarantined by quarantined by** ..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f14e1cc7-d9ef-c137-eb9d-802d13892ca8
* Vers

[2022-02-27 19:05] irideostriches opened #7829 "Missing closing parenthesis"
In the list of operators, 'like' and 'not like' both are missing the closing parenthesis for '(String Comparison)'

https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-settings?view=o365-worldwide#:~:text=like%20(string%20comparison,notlike%20(string%20comparison

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-27 23:05] cabailey commented on #7779
@cablechewer  Yes, you're quite right & this is stated in this article: "After creating an event, the retention settings take effect for the content that's already labeled and indexed. If the retention label is added to new content after the event is created, you must create a new event with the same details."

No need to create a new note for something that's already covered in this article, clos

[2022-02-27 23:05] #7779 closed

[2022-02-28 02:25] aikoitoms opened #7830 "Please add comment how ADAL EOS on Jun. 30 2022 affects on Office 2013 in which MSAL is not supported"
[Enter feedback here]
Please add comment how  ADAL EOS on Jun. 30 2022 affects on Office 2013 in which MSAL is not supported.  I've received an question from customer if Modern Authentication cannot be used in Office 2013 after ADAL EOS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7cd3a343-4140-e63d-5197-06cafdab463

[2022-02-28 02:28] aikoitoms opened #7831 "Please add comment how ADAL EOS on Jun. 30 2022 affects on Office 2013 in which MSAL is not supported"
[Enter feedback here]
Please add comment how ADAL EOS on Jun. 30 2022 affects on Office 2013 in which MSAL is not supported. I've received an question from customer if Modern Authentication cannot be used in Office 2013 after ADAL EOS.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aac88f29-99a5-317d-2686-cc9534194a19
*

[2022-02-28 02:39] ShawnHag opened #7832 "Built-in protection policy targeted users"
Hello, I have a question about the Built-in protection policy.

In the docs, it says that by default, the Built-in protection policy will be applied to all receipents.
Will the policy be applied for users without a MDO license as well?

For example, lets say a company with 10,000 users buys only 500 MDO licenses for a POC
In this case, will the built-in protection policy be applied to all 10,000 u

[2022-02-28 05:11] SpitFire-666 opened #7833 ""Add Exclusions" section could be improved"
Hi, I was expecting the doc to show me how to add exclusions, it seems to only show how to tell _what would happen_ if the current detection was added as an exclusion.

In reality, you have to go to MEM admin center, Endpoint security, select your ASR Rules, Edit configuration, scroll to the bottom and add the path(s) there.

Perhaps the article could point us in the right direction in future? che

[2022-02-28 10:02] yogkumgit commented on #7820
@DeanGross Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-28 10:02] #7820 closed

[2022-02-28 10:05] #7831 closed

[2022-02-28 10:25] yogkumgit commented on #7793
@msbemba Thank you very much for the contribution and sharing this explanation. @Realkdrummer Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-02-28 10:25] #7793 closed

[2022-02-28 10:28] yogkumgit commented on #7765
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jaegerschnitzel Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-28 12:31] JeremyTBradshaw commented on #5755
@markjjo I'm finding that this search and purge process is not working as described.  Just like @DarkMatterFlow stated, the purge doesn't seem to be doing anything.  But regarding your response that I've quoted, I see both points you made are contradicted in this Docs article.  First, what you say about mailboxes on any type of hold.  That is not how it is written on this page.  Instead:

Next, wh

[2022-02-28 14:11] msbemba commented on #7828
@pjbisset Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7835

Thanks
Sri

[2022-02-28 14:13] msbemba commented on #7829
@irideostriches Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7836

Thanks
Sri

[2022-02-28 14:35] klishb opened #7837 "No Preferences on Message Center"
Docs refer to Preferences at the top of the Message Center, but there is no Preferences to select on the page.  Possibly referring to old Message Center functionality.

https://docs.microsoft.com/en-US/microsoft-365/admin/manage/message-center?WT.mc_id=365AdminCSH_inproduct&view=o365-worldwide#preferences

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2022-02-28 14:40] ruairidhlc opened #7838 "Proposed changes moving to production"
I am starting to see the proposed changes in tenants I manage, such as 'Create Safe Links policies for email messages'.  Can this page be updated to reflect when the rollout will be finalised, and any new changes you are planning?  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 655194ea-3741-4039-ad60-cdf633fce

[2022-02-28 17:21] rodpayne opened #7840 "Information Barriers on Microsoft 365 A3"
Information Barriers is listed under apps and services for the Microsoft 365 A3 licenses on page https://admin.microsoft.com/Adminportal/Home#/licensedetailpage/18250162-5d87-4436-a834-d795c15c80f3.  The documentation page says that it would require the Compliance add-on or the Risk Management add-on, so the documentation seems to be incorrect or out of date.

---
#### Document Details

⚠ *Do not

[2022-02-28 18:38] chrisda commented on #7828
@pjbisset, thanks for the feedback. In the future, you, too can make changes like this directly. No need to open an issue first. For instructions, see:

 <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>

[2022-02-28 18:38] #7828 closed

[2022-02-28 19:34] chrisda commented on #7832
@ShawnHag, I believe MDO licensing is a requirement. I'm not sure if it's a code/technical requirement, or an 'honor system' kind of requirement. I'm pretty sure that users don't get MDO protection of any kind unless they're assigned an MDO/E5 license, so I doubt that Built-in protection is any different.

[2022-02-28 20:19] jaganpt opened #7845 "OneDrive for business litigation hold - after license revoked"
Hi Team,

What happens to existing litigation hold on OneDrive if license is revoked?
How to manage litigation hold after license is revoked?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 115cfe0b-c8b5-193d-19da-a6f9c03fdfc0
* Version Independent ID: 4a90cb9e-ce2a-a3f6-4b67-32f45c975323
* Content: [Manage holds in Adv

[2022-02-28 22:30] vazome opened #7846 "Wrong variable in Use the Azure Active Directory PowerShell for Graph module"
The documentation mentions two variables `License` and `license`. Which leads to zero-result after execution.
It must be only `License` or `license` in all cases
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d22d23da-eb81-b2e5-9655-748f77b25f80
* Version Independent ID: d8b557bc-d9c4-a58e-5ece-c4c6ffbadad0
* Co

[2022-03-01 05:53] avnermiz opened #7852 "Support Article gives steps for classic admin exchange site but links to new one"
These steps are for the classic admin exchange, but the link is to the new admin exchange.  Plus, there doesn't appear to be a way to set this up in the new admin exchange.  If there is, please update steps accordingly.  Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b725ac58-0fa5-9f7d-84fa-a8541477fe0e
* Ve

[2022-03-01 10:37] deepthainf opened #7853 "Can this be used in prodcution"
Hi Team,

I've tested this myslef and works great. My question is can I used this native migration method for a migration that I am planning on doing next month. Its a large company merge which involves moving 1500+_ mailboxes. A comment is appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c61c960c-f5c3-76f7-

[2022-03-01 10:59] swhite-strath opened #7854 "Allow URLs?"
I only have the option to Block URLs in the GUI is this normal? In the documentation it appears that you can block and allow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows and blocks in th

[2022-03-01 11:01] yogkumgit commented on #5755
@markjjo Kindly reply. Thanks

[2022-03-01 11:07] yogkumgit commented on #7806
@Dansimp Please help us in resolving this issue. Thanks

[2022-03-01 11:10] yogkumgit commented on #7811
@mjcaparas Please help us in resolving this issue. Thanks

[2022-03-01 11:14] yogkumgit commented on #7812
https://github.com/MicrosoftDocs/windows-itpro-docs/issues/7929
@denisebmsft Please help us. Thanks

[2022-03-01 11:16] yogkumgit commented on #7813
Duplicate #7812 Closing

[2022-03-01 11:16] #7813 closed

[2022-03-01 11:19] yogkumgit commented on #7830
@MSFTTracyP Please help us in resolving this issue. Thanks

[2022-03-01 11:23] yogkumgit commented on #7829
closing as per author's input. Thanks

[2022-03-01 11:23] #7829 closed

[2022-03-01 11:27] yogkumgit commented on #7832
@ShawnHag Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-01 11:28] #7832 closed

[2022-03-01 11:33] yogkumgit commented on #7764
@msbemba Thank you very much for the contribution and sharing this explanation. @SCJDigital if you have any feedback or recommendation please feel free to reopen this issue . We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-01 11:35] yogkumgit commented on #7767
@msbemba Thank you very much for the contribution and sharing this explanation. @andrewwoo0902 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-01 11:35] #7767 closed

[2022-03-01 11:43] yogkumgit commented on #7609
@msbemba Thank you very much for the contribution and updating the documentation with PR. @thommck Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-01 14:44] TomoharuMisawa opened #7855 "日本語の翻訳について分類器という単語が分類子として翻訳されている"
[Enter feedback here]

分類器という単語がdocsでは分類子とされています。
機能名なので統一したほうが良いです。

https://compliance.microsoft.com/supervisoryreview?viewid=Policies
![image](https://user-images.githubusercontent.com/41832013/156189587-e2e94730-4418-49cf-b7e4-803d030c97cb.png)

https://docs.microsoft.com/ja-jp/microsoft-365/compliance/communication-compliance-policies?view=o365-worldwide#classifiers
![image](https://user-imag

[2022-03-01 17:22] jmmowrer opened #7856 "Need mention of platform updates"
Can we please add a note in this article to ensure the latest defender platform update is installed before turning to Audit or Block?

Link to platform update:
https://support.microsoft.com/en-us/topic/update-for-microsoft-defender-antimalware-platform-92e21611-8cf1-8e0e-56d6-561a07d144cc

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-03-01 18:03] adamlavery opened #7857 "Reopen issue on lack of documentation on X-Microsoft-Antispam-Mailbox-Delivery"
See this archived issue that was never addressed: https://github.com/MicrosoftDocs/OfficeDocs-o365seccomp/issues/442

Three years later we still can get no useful information on the decisions Microsoft email filters make about **our** emails. I get that dealing with spam and malware is difficult nowadays but this cannot be at the expense of failing to deliver normal, everyday emails. Even whitelis

[2022-03-01 19:08] mastood opened #7860 "Bad link"
The link in the see also section to the guidance on Onboarding Windows 10 machines returns a 404 error.  The link should point here:

Windows 10 and 11 - https://docs.microsoft.com/en-us/microsoft-365/compliance/device-onboarding-overview?view=o365-worldwide

macOS(Preview) - https://docs.microsoft.com/en-us/microsoft-365/compliance/device-onboarding-macos-overview?view=o365-worldwide

---
#### Do

[2022-03-01 22:04] mattsmacblog commented on #7544
I contacted support and there is no such feature, yet...  Perhaps you could update the page to say there is no such feature and the only solution is to login as that user and remove the post.

[2022-03-01 22:13] davidleeolmstead opened #7862 "Additional URLs needed for Microsoft Managed Teams Rooms Program (MMRP) Agent Software"
Good job having this page be the Authoritative Source for the network resources needed to make MS Teams perform well.
We need to ADD the additional URLs that the Managed Teams Room Program Agent software needs to do its job.
Those URLs are documented here:
https://docs.microsoft.com/en-us/microsoftteams/rooms/security#network-security
f you're using the Microsoft Teams Rooms managed services compo

[2022-03-01 22:44] RatulaC commented on #7854
Yes, you can only block from the TABL policy screen and create allows from the Submission flyout panel.

So, as per the document, you can do both block and allow but from different places: https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/manage-tenant-allows?view=o365-worldwide.

[2022-03-01 22:48] Derek-Anderson opened #7864 "Why is Microsoft suggesting Godaddy ??? Its a very bad company."
Why is Microsoft supporting Godaddy?  I'm looking to move my business from Workspaces to O365wteams but this is very alarming.  Godaddy is a predatory company.  Don't get me wrong, they are big but many of their products are designed to take advantage of the little people or don't work at all.

For example, I've paid for Godaddy service (and #1 in line to buy) a domain if/when it expires and is no

[2022-03-02 00:40] SCJDigital commented on #7764
Hi, thanks for the recommended order of events @msbemba.

@yogkumgit the page https://docs.microsoft.com/en-us/microsoft-365/admin/add-users/remove-former-employee?view=o365-worldwide still has the original misleading event sequence issue: Step 1 & 2, a video and the "Before You Begin" all suggest "Delete a User" before operations that will no longer be possible after deleting a user, so I would n

[2022-03-02 00:57] ShawnHag commented on #7832
Thank you for reply!
Sorry for the late response.. I was away for few days.

I will try this out and see if it gets applied for non-license users..

[2022-03-02 03:22] hfukumotoms opened #7872 ""PR #12838 Update Launch details" is not reflected"
I submitted "PR #12838 Update Launch details".
But this Pull Request is not reflected.
Why is PR not reflected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c312fd69-72cd-bc86-4fe1-993b60b97bc6
* Version Independent ID: b7887ba6-4775-39f0-e368-68f140ce233d
* Content: [Simulate a phishing attack with Attack simulation

[2022-03-02 04:28] RAJU2529 commented on #7860
@mastood, thanks for the report and giving the correct link, i added a correct link in this article.
@chrfox , Please merge #7873 if it is correct.

[2022-03-02 05:29] msbemba commented on #7764
@SCJDigital This document is an overview and talks about things you could do before you delete a user (video).

"When an employee leaves the company, you'll need to remove them from Microsoft 365 for business. Before doing so, you should block them from accessing company files, preserve the documents they created, and perform several other admin tasks associated with removing a user."

The steps a

[2022-03-02 06:11] msbemba commented on #7764
@SCJDigital Thank you for your response. I have moved the delete user section to the bottom of the screen (after the steps) so that it reduces ambiguity.
This change can be tracked via PR# https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7874

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-02 06:40] msbemba commented on #7826
@MS-Mudman Thank you for your feedback. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket at [Microsoft Support for business](https://support.serviceshub.microsoft.com/supportforbusiness).

Hope this helps!

[2022-03-02 06:40] msbemba commented on #7823
@cimares Thank you for your feedback. The best way to get your issue resolved is to contact Microsoft Support. If you’re a Microsoft 365 or Office 365 admin, use the information that’s provided at [Get support](https://docs.microsoft.com/en-us/microsoft-365/business-video/get-help-support?view=o365-worldwide). Otherwise, you can create a support ticket at [Microsoft Support for business](https://s

[2022-03-02 06:42] msbemba commented on #7824
@chiners68 Thank you for your feedback. We have added information to the document to state that **The policy refresh might take up to 2 hours to apply to your selected devices.**. Unfortunately this cannot be speeded up for now.

Hope this helps!

Thanks
Sri

[2022-03-02 06:47] msbemba commented on #7822
@cimares Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7875

Thanks
Sri

[2022-03-02 06:49] msbemba commented on #7808
@sebhurleyhte Thank you for your feedback. Since you are requesting a new feature, I'd recommend you provide this feedback directly on our Main feedback portal - https://feedbackportal.microsoft.com/, So that someone will be able to contact you to take this forward.

Thanks
Sri

[2022-03-02 06:53] msbemba commented on #7800
@iSazonov Thank you for your feedback. You are correct, This site to download the evaluation package will be decommissioned on 03/15/2022. There is no replacement link available as of now. For feedback, please email [mdedemositefeedback@microsoft.com](mailto:mdedemositefeedback@microsoft.com) We will update the document once it is made available.

Hope this helps!

Thanks
Sri

[2022-03-02 06:56] msbemba commented on #7798
@plonguk Thank you for your feedback. M365 E3 does have a Conditional Access policy feature. However, Office 365 E3 does not.

If you are still not able to use the Conditional access policy on M365 E3 users, I'd recommend you contact Microsoft support to resolve this issue.

Thanks
Sri

[2022-03-02 06:57] msbemba commented on #7797
@ErnieBot Thank you for your feedback. All references to securitycenter.windows.com are replaced with security.microsoft.com.

Hope this helps!

Thanks
Sri

[2022-03-02 08:18] timkmsft opened #7876 "What is the roadmap for the modern unified solution in Microsoft Defender for Cloud?"
I am currently working with a customer who would like the features and benefits of what the modern unified solution offers in Microsoft Defender for Cloud - what is the roadmap currently to have alerting etc working as needed. There was a special note attached which read:

For Windows Server 2012 R2 and 2016 running the modern unified solution preview, integration with Microsoft Defender for Cloud

[2022-03-02 10:42] jaganpt commented on #7845
Hi Team,
Any update on this?
Thanks in advance!

[2022-03-02 12:21] yogkumgit commented on #7855
@TomoharuMisawa Please let us know your feedback in English. Thanks

[2022-03-02 12:30] yogkumgit commented on #6900
@msbemba Thank you very much for the contribution and updating the documentation with PR. @robmacf Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 12:31] #6900 closed

[2022-03-02 12:35] yogkumgit commented on #7601
@msbemba Thank you very much for the contribution and updating the documentation with PR. @stanalek Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 12:36] #7601 closed

[2022-03-02 12:41] yogkumgit commented on #7854
@swhite-strath Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 12:41] #7854 closed

[2022-03-02 12:51] yogkumgit commented on #7826
@msbemba Thank you very much for the contribution and updating the documentation with PR. @MS-Mudman Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 12:51] #7826 closed

[2022-03-02 12:53] yogkumgit commented on #7823
@msbemba Thank you very much for the contribution and sharing this explanation. @cimares Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outc

[2022-03-02 12:53] #7823 closed

[2022-03-02 12:54] yogkumgit commented on #7824
@msbemba Thank you very much for the contribution and sharing this explanation. @chiners68 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 12:54] #7824 closed

[2022-03-02 12:58] yogkumgit commented on #7808
@sebhurleyhte Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised as here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-02 12:58] #7808 closed

[2022-03-02 12:59] yogkumgit commented on #7800
@msbemba Thank you very much for the contribution and sharing this explanation. @iSazonov Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 12:59] #7800 closed

[2022-03-02 13:01] yogkumgit commented on #7798
@msbemba Thank you very much for the contribution and sharing this explanation. @plonguk Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 13:01] #7798 closed

[2022-03-02 13:04] yogkumgit commented on #7797
@msbemba Thank you very much for the contribution and sharing this explanation. @ErnieBot Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-02 13:04] #7797 closed

[2022-03-02 13:15] davidfordaus opened #7877 "Documentation is out of date relative to the https://security.microsoft.com/ site."
Documentation is out of date relative to the https://security.microsoft.com/ site.

This link on the page : https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-install-manually?view=o365-worldwide#download-the-onboarding-package

Indicates to do the following
1. Settings > Endpoints > Device management > Onboarding.

This is no longer accurate.  I'm still trying to find

[2022-03-02 14:59] fvanrijt opened #7878 "Windows Mobile Reference can be removed as Windows Mobile is no longer a supported platform"
There a quite some references towards "Windows Mobile" in the basic mobility and security documents. As Windows Mobile is no longer supported It might be good to reflect the documentation with that.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a33db0b-45cf-2903-3c71-f68d56f520ea
* Version Independent ID: fd9e9be2-14

[2022-03-02 15:11] DazMR2 opened #7879 "Add URLs and IPs for Microsoft Teams Rooms Premium"
This page shows most of the URLs and IP addresses for Teams but is missing the URLs and IP addresses for Teams Room Premium. Can we add a section, or a hyperlink to the address ranges for Teams Room Premium, as shown here?
https://docs.microsoft.com/en-us/microsoftteams/rooms/monitor-software-installation-guide#urls-required-for-communication

[Enter feedback here]

---
#### Document Details

⚠ *D

[2022-03-02 15:53] TomoharuMisawa commented on #7855
The names are not unified.
at ja-jp Page.
Bunruishi in docs.
but, Bunruiki in compliance Center.

[2022-03-02 17:11] MasterBlaster4 opened #7884 "Requirement for the 2021 unified agent is not explicit for windows server 2012 and 2016 devices"
[Enter feedback here]
The requirements for windows server 2012 and 2016 devices are not explicit regarding the need for the new unified agent.
Live Response does not work if the onboarded devices connect to MDE through MMA, so it should appear as requirement that the 2021 unified agent is required to establish a session (it's only referred when the necessary KB is clicked on)
cheers,

---
#### Doc

[2022-03-02 17:27] chrisda commented on #7872
@hfukumotoms, that PR number is too high; current pull requests in this repo are in the 7880 range.

Did you follow the instructions [here](https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md) and click the green button 3 times?

[2022-03-02 17:52] tillasx opened #7886 "Troubleshooting links?"
Test-IRMConfiguration provides no advice nor links to advice on what to do if your testing results are **not similar** to the successful results displayed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8fe08d5e-4870-331e-b5f2-92848b5211b0
* Version Independent ID: 60ed3095-a42c-1bcb-f2fa-8325cfcd03f6
* Content: [Set u

[2022-03-02 18:16] markjjo commented on #7845
@jaganpt  Here's some info about OneDrive retention and deletion.

https://docs.microsoft.com/en-us/microsoft-365/admin/manage/remove-licenses-from-users?view=o365-worldwide#what-happens-to-a-users-data-when-you-remove-their-license

https://docs.microsoft.com/en-us/onedrive/retention-and-deletion. In this topic, there is the following note.

Retention policies always take precedence to the standa

[2022-03-02 18:16] #7845 closed

[2022-03-02 19:26] rmuhammad4 opened #7891 "Teams Logical Architecture"
Is this architecture still current as of today?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddbbbdfb-c916-be79-2a91-5576d58a30e1
* Version Independent ID: 793f2f73-6fbc-04e5-fa8a-54908d74d860
* Content: [Microsoft 365 productivity illustrations](https://docs.microsoft.com/en-us/microsoft-365/solutions/productivity-i

[2022-03-02 19:27] tiaraquan commented on #7703
@ceaton001 Thank you for your feedback. I am working with the team to address the issue.

[2022-03-02 19:28] samanro commented on #7891
@BrendaCarter for detailed response, but yes, this page has our current guidance. Do you have a specific illustration you have questions on?

[2022-03-02 20:07] rmuhammad4 commented on #7891
Thank you for the quick response. I just wanted to confirm before I deliver a workshop.

[2022-03-02 20:07] #7891 closed

[2022-03-02 21:57] phishlabs opened #7895 "Error when trying to execute the Get-AzureADUser cmd"
When i try to execute the command to export a list of all users whose password are set to never expire, i get an error saying that the -All parameter cannot be found. The exact error states:

"Get-AzureADUser : A parameter cannot be found that matches parameter name 'All'."

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-03-03 00:08] DontNeedNoGit opened #7896 "Wrong info?"
**Article problems:**
I ran the advanced hunt query in this article and it returned many results of System account running system processes (form System32 or SysWow64 or C:\Windows\Temp or C:\ProgramData folders) on path \Device\Harddisk0\DR0 being blocked??
svchost.exe -k netsvcs -p ** wuauserv is in the list.

Why are those being blocked?? That isn't the core folders listed in the article.

And

[2022-03-03 00:41] BrendaCarter commented on #7891
Optionally you can now have your videos saved to SharePoint, but the illustration is accurate for the current defaults.
https://docs.microsoft.com/en-us/stream/streamnew/new-stream#stream-classic-vs-stream-on-sharepoint

[2022-03-03 00:42] BrendaCarter commented on #7891
What kind of workshop are you presenting?

[2022-03-03 02:55] hfukumotoms commented on #7872
Thanks! I recreate #7897 (same change).

[2022-03-03 04:33] futzle opened #7899 "Limitations on paying by invoice not actually enumerated"
"Have a subscription cost that exceeds a certain amount (this amount varies by service location)"

It would be helpful if there were a link here showing what the amount is for my location, because I can't otherwise find it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 82583c48-08e6-9acb-657b-ce1fe44e76a5
* Version In

[2022-03-03 10:06] MacKender opened #7900 "Is there still a requirement for running the commands from the AzureADPreview module?"
The doc states that
"If you haven't installed any version of the Azure AD PowerShell module before, see [Installing the Azure AD Module](https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?preserve-view=true&view=azureadps-2.0-preview) and follow the instructions to install the public preview release.

If you have the 2.0 general availability version of the Azure AD Pow

[2022-03-03 11:49] yogkumgit commented on #7822
@msbemba Thank you very much for the contribution and updating the documentation with PR. @cimares Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-03 11:49] #7822 closed

[2022-03-03 11:52] yogkumgit commented on #7855
@TinaMcN Please help us in resolving this issue. Thanks

[2022-03-03 11:53] yogkumgit commented on #7764
@msbemba Thank you very much for the contribution and updating the documentation with PR. @SCJDigital Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-03 11:54] #7764 closed

[2022-03-03 11:55] yogkumgit commented on #7689
@nakamae1983 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-03 11:57] yogkumgit commented on #7872
@hfukumotoms Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-03 11:58] #7872 closed

[2022-03-03 12:20] yogkumgit commented on #7687
@AhmedEmam91 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some tim

[2022-03-03 12:20] #7687 closed

[2022-03-03 12:55] yogkumgit commented on #7810
@msbemba

[2022-03-03 12:56] yogkumgit commented on #7790
@msbemba

[2022-03-03 12:57] yogkumgit commented on #7778
@msbemba

[2022-03-03 12:57] yogkumgit commented on #7766
@msbemba

[2022-03-03 12:58] yogkumgit commented on #7833
@msbemba

[2022-03-03 16:38] jacobcalvert commented on #5695
Looks like 2a01:111:f400:7e8b::/64 is also missing, started getting issues two days ago with various addresses in this range. Very frustrating to pay for a service and only to have your mail get marked spam or blackholed....

[2022-03-03 17:29] fixx-er opened #7903 "page needs better graphics to explain"
[Enter feedback here]
The images shown only show the right side of the menu.  This will not help most people.  It did not me.  It should have the current image of a menu as attached.  1)Opening up the "3-lines" menu item.  2) looking down the left side. 3) selecting the "words" "Health"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2022-03-03 17:39] TinaMcN commented on #7855
@TomoharuMisawa thank you for sharing the feedback.  Can you specify which translation you think is correct and which is incorrect?
In the Docs article ([Japanese ](https://docs.microsoft.com/ja-jp/microsoft-365/compliance/communication-compliance-policies?view=o365-worldwide#classifiers)+ [English](https://docs.microsoft.com/en-us/microsoft-365/compliance/communication-compliance-policies?view=o3

[2022-03-03 18:42] kelleyvice-msft commented on #5695
My apologies for the delayed response. I will read through all this and figure out how to escalate appropriately, and reply back to this issue.

[2022-03-03 21:56] mjcaparas commented on #7715
When you go through the app creation steps, that's where you encounter the permission settings. https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/exposed-apis-create-app-webapp?view=o365-worldwide

Please contact support for further assistance.

[2022-03-03 21:56] #7715 closed

[2022-03-03 21:58] mjcaparas commented on #7710
Yes, the owner of the file has been informed. Should be fixed soon.

[2022-03-03 21:58] #7710 closed

[2022-03-04 02:14] cabailey commented on #7744
According to the PM, these two settings are unrelated and different layers of protection. If a user is blocked by conditional access because of an unmanaged device, other site policies won't be relevant (can't access the site).  But the same user could switch to another device that is managed, the conditional access policy check is successful and then the sharing externally policy kicks in.

[2022-03-04 06:16] TinaMcN commented on #7689
@nakamae1983 thank you for checking the image and providing the detailed feedback.  I passed on your notes to the translators to fix it.

[2022-03-04 07:48] balaji-blg opened #7909 "License Change Audit is not working"
In User administration activities . it has "**Change user license.**"  action but whenever I change a license to an user in **Azure AD portal** or using **graph api** . I couldn't able to find that audit.  only "**Update user**" audit is there. is that audit action still in use ? or how to generate this action ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2022-03-04 08:54] jaganpt opened #7910 "How to restrict use of a retention label to specific groups/users?"
**How to restrict the use of a specific retention label to a specific groups/users?**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d4465ca1-9ee2-e551-aff2-9fc8e4a5eae3
* Version Independent ID: 2cbc9375-d055-edf8-0f89-b5794f7aa7a7
* Content: [Use file plan to manage retention labels throughout the content lifecycle -

[2022-03-04 09:29] yogkumgit commented on #7860
@mastood Thank you very much for the contribution and updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-04 09:29] #7860 closed

[2022-03-04 10:45] annemaarie opened #7912 "Misleading Description"
Hi Team,

please have a look at the docs under the picture of the MDE attach - Point two is misleading with regard to the picture, giving the impression, that the Server might be managed within MEM and not just receiving the securtity confirgurations. Maybe we could more clearly describe how that AAD trust is enabled and created.

Many thanks! Had lots of discussions and confusion about this with

[2022-03-04 11:36] DeanGross opened #7913 "No New Info"
Other security teams have published info about their changes in January and February. I am pretty sure that there have been some changes to this product also, Please update this information
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac42403c-4226-bec2-986d-2e8a67e7c66d
* Version Independent ID: e8e0b323-ee46-f8e7-fe

[2022-03-04 11:49] msbemba commented on #7853
@deepthainf Thank you for your feedback. Of course, you can use the native migration method for the large-scale tenant-to-tenant migrations. Note that the Microsoft support team will be available 24/7 in case you have issues in the migration process.

Hope this helps!

Thanks
Sri

[2022-03-04 12:00] msbemba commented on #7864
@Derek-Anderson Thank you for your feedback. You can provide the feedback on our Main feedback portal: https://feedbackportal.microsoft.com/

This channel is only for updating the documents and we do not have the exact answer to your query.

Hope this helps!

Thanks
Sri

[2022-03-04 12:04] msbemba commented on #7876
@timkmsft Thank you for your feedback. I donot see this in the roadmap yet -https://www.microsoft.com/en-in/microsoft-365/roadmap?filters=&searchterms=Microsoft%2Cdefender%2Cfor%2Ccloud

You can raise this question in our main feedback portal - https://feedbackportal.microsoft.com/ to get answer specific to this feature from the dev /production team.

Hope this helps!

Thanks
Sri

[2022-03-04 13:08] HarrisburgUSysAdmin commented on #7744
So there is no way for our Human Resources team to share files or folders from their own Teams site since we are using the block access (conditional access / device policy)?

This just doesn't sound right.

Yes, we want to restrict access at the top level by restricting access to managed devices but there are many cases where HR needs to share out files with terminated employees or consultants.

W

[2022-03-04 14:34] DeanGross opened #7915 "Instructions to delete a group"
The page states that Groups cannot be manually deleted, but does not state how they can be deleted. Please provide additional instructions for accomplishing this task
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95a73489-d481-4b81-b45e-3ec475740b38
* Version Independent ID: 40f31f99-a8be-1801-8855-cd185d40176e
* Conte

[2022-03-04 17:17] weDeNorth opened #7918 "Windows 10 and Office 365 deployment lab kit missing HYD-APP1"
The most recent package of Windows 10 and Office 365 deployment lab kit is missing HYD-APP1 vm.  Is this on purpose?  Thanks

[2022-03-04 18:21] denisebmsft commented on #7918
Hello @weDeNorth. Can you please tell us to which article your feedback applies? This information will help us route the issue to the correct writer/team.

Thanks!

[2022-03-04 18:38] weDeNorth commented on #7918
@denisebmsft  thanks for the prompt response.  The windows 10 and office 365 deployment tool kit "description" states that the lab kit has Microsoft BitLocker Administration and Monitoring which according to the lab guide is contained in HYD-APP1  (https://www.microsoft.com/en-us/evalcenter/evaluate-lab-kit#evaluation_4723) but the recent upload of the lab kit has no such VM.  Hope this answers yo

[2022-03-04 18:54] TadaoMachida opened #7919 "eDiscovery Content Search on Business Basic and Standard"
According to the document https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWR6bM, eDiscovery Content Search is available on Business Basic and Standard subscriptions. But in this document, these subscriptions are not listed in 'eDiscovery subscription comparison/Content search' section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2022-03-04 20:21] mjcaparas commented on #7550
Please contact support for assistance.

[2022-03-04 20:21] #7550 closed

[2022-03-04 20:23] mjcaparas commented on #7355
Please contact support for assistance.

[2022-03-04 20:23] #7355 closed

[2022-03-04 20:24] mjcaparas commented on #7238
Will suggest to team.

[2022-03-04 20:24] #7238 closed

[2022-03-04 20:26] mjcaparas commented on #7232
Yes I believe that's outlined steps are right.

[2022-03-04 20:26] #7232 closed

[2022-03-04 20:31] mjcaparas commented on #7227
The running of the script is the actual offboarding. The result is that the device will no longer appear in the device inventory.

[2022-03-04 20:31] #7227 closed

[2022-03-04 20:47] mjcaparas commented on #6697
Table reflects correct status - Disabled, not updated, unknown.

[2022-03-04 20:47] #6697 closed

[2022-03-05 06:39] yogkumgit commented on #7853
@msbemba Thank you very much for the contribution and sharing this explanation. @deepthainf Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-05 06:39] #7853 closed

[2022-03-05 06:45] yogkumgit commented on #7896
@denisebmsft Please help us in resolving this issue. Thanks

[2022-03-05 06:47] yogkumgit commented on #7879
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-03-05 06:49] yogkumgit commented on #7862
@kelleyvice-msft Please help us in resolving this issue. Thanks

[2022-03-05 06:51] yogkumgit commented on #7838
@Dansimp Please help us in resolving this issue. Thanks

[2022-03-05 06:58] yogkumgit commented on #7864
@Derek-Anderson Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-05 06:59] #7864 closed

[2022-03-05 07:00] yogkumgit commented on #7876
@timkmsft Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-03-05 07:00] #7876 closed

[2022-03-05 07:23] yogkumgit commented on #6870
@msbemba Thank you very much for the contribution and updating the documentation with PR. @henricstromgren Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-05 07:25] #6870 closed

[2022-03-05 17:44] r-milne opened #7921 "Clarify statement for on-premises mailboxes"
Can we clarify the statement about support for on-premises.

The way the article reads right is that on-prem mailboxes in hybrid work and are supported.  Only purely on-premises Exchange orgs (no hybrid) are supported.

Can we change this to say something like on-premises mailboxes are not supported?  That way there is less ambiguity.

---
#### Document Details

⚠ *Do not edit this section. It is

[2022-03-05 20:19] cabailey commented on #7744
Since the PM has confirmed these settings work independently, no doc updates are needed & I'll close this GitHub Issue for the documentation.  If using this combination of settings doesn't work for your specific business requirements (you need to allow access to unmanaged devices), then don't use them. As you know, these settings are not unique to sensitivity labels but simply make them easier to

[2022-03-05 20:19] #7744 closed

[2022-03-05 20:37] cabailey commented on #7910
@jaganpt  File plan is all about retention labels - and you can't configure this with labels. Depending on the workload, you might be able to do this when you configure the policy that applies the labels. For example, the Exchange email and OneDrive locations let you specify individual users, but not the SharePoint location (where you specify sites instead).

Specifically, take a look at adaptive

[2022-03-06 00:14] VinceI opened #7922 "GoDaddy Hosted Microsoft 365 ---You cannot access https://admin.microsoft.com to obtain DNS records"
[Enter feedback here]
If you have GoDaddy hosted Microsoft 365 you cannot access the admin center at [https://admin.microsoft.com]. to obtain the DNS records that are required by the procedure in the tutorial/guide so you cannot obtain the values that must be entered in Microsoft hosted Microsoft 365.

(https://go.microsoft.com/fwlink/p/?linkid=2024339)

---
#### Document Details

⚠ *Do not edit t

[2022-03-06 00:57] msbemba commented on #7837
@klishb Thank you for your feedback. I'm able to locate the Preferences option on multiple tenants

![image](https://user-images.githubusercontent.com/45987684/156904718-2ecf6503-75a3-4d08-855a-b10d3955bcc9.png)

If this is still an issue, I'd recommend opening a ticket with support via the need help option on the admin center.

Thanks
Sri

[2022-03-06 01:02] msbemba commented on #7840
@rodpayne Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7923

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-06 02:09] msbemba commented on #7846
@vazome Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7924

Thanks
Sri

[2022-03-06 02:15] msbemba commented on #7856
@jmmowrer Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7925

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-06 02:19] msbemba commented on #7877
@davidfordaus Thank you for your feedback. I was able to download the onboarding package from security.microsoft.com

The navigation instructions are also correct in the document

![image](https://user-images.githubusercontent.com/45987684/156906382-b0525948-a4ca-4cfc-9ce0-5bb9f288ead8.png)

Hope this helps!

Thanks
Sri

[2022-03-06 02:22] msbemba commented on #7878
@fvanrijt Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7926

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-06 02:27] msbemba commented on #7884
@MasterBlaster4 Thank you for your feedback. Before you can initiate a session on a device running Windows Server 2012 R2 or Windows Server 2016, it is required to have Microsoft Defender for Endpoint update for EDR Sensor. I think it is mentioned as a requirement as the section talks about requirements based on the platform.

Let us know if there is any specific change you would like to make in t

[2022-03-06 02:30] msbemba commented on #7895
@phishlabs Thank you fr your feedback. I was able to test the command and you need to execute the -All parameter along with $true. The cmdlets in the document also reflect the same

![image](https://user-images.githubusercontent.com/45987684/156906612-0d78fcf9-ea7e-490a-a2b9-3face4371208.png)

Hope this helps!

Thanks
Sri

[2022-03-06 02:33] msbemba commented on #7899
@futzle Thank you for the feedback. The Amount varies by location and is changes frequently. I'd recommend you contact the Biling support team via the need help section on the admin center. That way you will be able to get information about your tenant and region in specific.

Hope this helps!

Thanks
Sri

[2022-03-06 02:36] msbemba commented on #7900
@MacKender Thank you for your feedback. Yes, from testing and conversation with the product group there is still a requirement for Azure AD preview to be installed(latest version recommended) to change the group-level guest access setting.

Hope this helps!

Thanks
Sri

[2022-03-06 02:39] msbemba commented on #7810
@MatteoC5 Thank you for your feedback. I hope you are referring to https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction?view=o365-worldwide. If yes, all are related to controlled folder access.

Hope this helps!

Thanks
Sri

[2022-03-06 04:04] msbemba commented on #7852
@avnermiz Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7927

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-06 04:05] msbemba commented on #7790
@Adamance Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7927

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-06 04:11] msbemba commented on #7833
@SpitFire-666 Thank you for your feedback. The exclusion is a part of the implement ASR rules document.

You can exclude files and folders, by group policy,  via PowerShell, and also using MDM CSPs to exclude files and folders.

https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-implement?view=o365-worldwide#customize-attack-surface-

[2022-03-06 04:26] msbemba commented on #7886
@tillasx Thank you for your feedback. We have added a troubleshooting step to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7928

I'll verify with the author and once it is approved, the changes will be live.

Thanks
Sri

[2022-03-06 04:40] msbemba commented on #7766
@JeroenOortwijn Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7929

Thanks
Sri

[2022-03-06 04:51] msbemba commented on #7778
@nikki-c Thank you for your feedback. I have made changes to the screenshot and document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7930

Thanks
Sri

[2022-03-06 10:52] NAWABDERA1 opened #7931 "nawabdera.com"
nawabdera.Wordpress.com

[2022-03-07 03:46] #7931 closed

[2022-03-07 03:51] yogkumgit commented on #7910
@jaganpt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 03:51] #7910 closed

[2022-03-07 03:54] yogkumgit commented on #7837
@msbemba Thank you very much for the contribution and sharing this explanation. @klishb Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 03:54] #7837 closed

[2022-03-07 04:11] yogkumgit commented on #7877
@msbemba Thank you very much for the contribution and sharing this explanation. @davidfordaus Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 04:12] #7877 closed

[2022-03-07 04:14] yogkumgit commented on #7884
@msbemba Thank you very much for the contribution and sharing this explanation. @MasterBlaster4 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 04:14] #7884 closed

[2022-03-07 04:15] yogkumgit commented on #7895
@msbemba Thank you very much for the contribution and sharing this explanation. @phishlabs Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 04:15] #7895 closed

[2022-03-07 04:17] yogkumgit commented on #7899
@msbemba Thank you very much for the contribution and sharing this explanation. @futzle Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outco

[2022-03-07 04:18] yogkumgit commented on #7900
@msbemba Thank you very much for the contribution and sharing this explanation. @MacKender Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 04:18] #7900 closed

[2022-03-07 04:19] yogkumgit commented on #7810
@msbemba Thank you very much for the contribution and sharing this explanation. @MatteoC5 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 04:20] #7810 closed

[2022-03-07 04:23] yogkumgit commented on #7833
@msbemba Thank you very much for the contribution and sharing this explanation. @SpitFire-666 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-07 04:23] #7833 closed

[2022-03-07 06:52] cakriwut opened #7933 "Can not find Schedule Report"
Hi team,

I can not find **Create Schedule** in the main Report page. Could it be the information is already obsolete?

![image](https://user-images.githubusercontent.com/307755/156982314-3426f467-ca35-496f-a48e-8bd26a5d7282.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e7112fd-cc48-c218-6e7f-1b8f76644aaa
* Vers

[2022-03-07 08:00] davidfordaus commented on #7877
Clicking this link:
https://docs.microsoft.com/en-us/microsoft-365/security/defender/microsoft-365-defender?view=o365-worldwide
With this description:
![image](https://user-images.githubusercontent.com/602815/156990057-58b7079b-7ea2-4872-8e4e-7a67dbb4e47c.png)

And link: https://go.microsoft.com/fwlink/p/?linkid=2077139

Leads to (when logged-in):
https://security.microsoft.com/homepage

Clicking

[2022-03-07 16:44] 0fflineDocs opened #7935 "File indicator elgibility for Defender for Endpoint Plan 1"
[Enter feedback here]
This page is a bit misleading. At the top it states "Applies to MDE Plan 2" but to use a file indiciator is valid for P1 aswell as per this article, correct? https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/defender-endpoint-plan-1?view=o365-worldwide#manual-response-actions

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2022-03-07 16:47] 0fflineDocs opened #7936 "Manage indicators (File) elgible for Defender for Endpoint P1 and P2 - Clarification needed"
[Enter feedback here]
Clarification needed about licensing. This article states that the following actions are applied to MDE P2.
However, Indiciator for file for example is a setting valid for MDE P1 aswell?
This article at least states that: https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/defender-endpoint-plan-1?view=o365-worldwide#manual-response-actions

---
#### Doc

[2022-03-07 18:19] Bethotf opened #7938 "MICROSOFT SWIFTKEY"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ce65739-6428-fc57-012c-a6741a051c6b
* Version Independent ID: 3341ac81-3e21-4e71-e4f7-3eff41db05b8
* Content: [About the Microsoft 365 Admin mobile app - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/admin-overview/admin-m

[2022-03-07 18:24] chrisda commented on #7933
@cakriwut, I see what's going on. The phrase "On the main report page" is supposed to me the main page for the specific report that you're reading about, not the main **Reports** page in the Microsoft 365 Defender portal.

I changed everywhere to clarify.

Thanks for the feedback.

Closing.

[2022-03-07 18:24] #7933 closed

[2022-03-07 20:55] cmcatee-MSFT commented on #6729
I've removed the table, and added a link to the OECD's site where they include a comprehensive list of [TAX ID information](https://www.oecd.org/tax/automatic-exchange/crs-implementation-and-assistance/tax-identification-numbers/).

[2022-03-07 20:57] cmcatee-MSFT commented on #6037
I've removed the table and added a link to the OECD's site where they include a comprehensive list of [TAX ID information](https://www.oecd.org/tax/automatic-exchange/crs-implementation-and-assistance/tax-identification-numbers/).

[2022-03-07 20:57] #6037 closed

[2022-03-07 22:14] jwgarrett opened #7940 "Communication Library missing"
It looks like the communications library has moved. Please update with the new location as it isn't on this page anymore. https://compliance.microsoft.com/advancedediscovery/globalsettings?viewid=Overview

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 13eb60d7-e3a2-5ee3-10e4-2ff609e1a635
* Version Independent ID: 13eb6

[2022-03-07 22:33] markjjo commented on #7940
@jwgarrett Thanks for message. The page hasn't been moved. My guess is that communication templates haven't been rolled out to your tenant yet. Accord to the M365 road map, this feature is still being rolled out: https://www.microsoft.com/en-us/microsoft-365/roadmap?filters=&searchterms=88813. And this according to the message center post: "Rollout will begin in late February and is expected to be

[2022-03-07 22:33] #7940 closed

[2022-03-08 09:39] razvan-b opened #7941 "Password minimum lentgh should be 14"
Hello,

The minimum password length should be 14 and not 8. We have the recommendation here:  https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh994560(v=ws.11)#best-practices

Also a password who is 8 characters will be compromised quite fast as per the following study: https://digg.com/technology/link/how-long-it-takes-to-get-password-hacked-1IvDF

[2022-03-08 11:39] ValgardurGudjonsson opened #7942 "Denied access"
I was referred to this page after a long 'chat' a few weeks ago, but I am denied access to continue to follow up..
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Version Independent ID: 1ed50e50-a3c1-1f3b-1ea5-40beec8ab6cd
* Content: [Get support - Microsoft

[2022-03-08 11:51] msbemba commented on #6190
@Wh00T Thank you for your response. We have updated the document - https://docs.microsoft.com/en-ca/microsoft-365/compliance/data-classification-activity-explorer?view=o365-worldwide with details on roles required to access activity explorer.

Hope this helps!

Thanks
Sri

[2022-03-08 11:58] grex86 opened #7943 "A1 A3 licenses"
Required Licenses:
Office 365 E5/A5/A3/A1 subscription (paid or trial version) <-- Are OfficeA3 or A1 licenses (without addons) elegible? it sounds strange...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a69504d-a89f-5545-3f8f-0573c928d67f
* Version Independent ID: 2f42eaa3-a159-31de-a9d5-19762d34bc5a
* Content: [Le

[2022-03-08 20:54] awfki opened #7950 "Feedback on the diagram under 2. VPN Forced Tunnel with a small number of trusted exceptions"
That diagram is not useful.  We're talking split tunnel so either the traffic goes out the user's internet or it rides the tunnel to the Corp site and goes out the internet there.  That diagram doesn't make it clear, at all, which traffic is doing which.  Oh... I figured it out.  Yeah, it's a crappy diagram.  To fix it put the user in a little box with a connection to the internet. Show tunneled t

[2022-03-09 00:31] edsonsmith opened #7951 "404 link on this page"
Hi.  When I click on the link "Evaluate Attack Reduction Surface", I get a 404.

I am, however, presented with a helpful "could not find -- may you meant this other thing type page" at https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/attack-surface-reduction-rules-deployment-phase-2?view=o365-worldwide

---
#### Document Details

⚠ *Do not edit this section. It is required

[2022-03-09 00:51] kohanaz commented on #7747
Is this request being reviewed? Thank you.

[2022-03-09 01:10] MinoruHattori opened #7954 "Request to fix Restore file from quarantine command"
[Enter feedback here]
Would you please modify the command to "%ProgramFiles% instead of "ProgramFiles%" ?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48adda3-8f2e-b13d-fbd7-b556d295bf85
* Version Independent ID: 46daacb8-1def-6af5-ccf1-61505bcedad4
* Content: [Address false positives/negatives in Microsoft Defender

[2022-03-09 01:32] TinaMcN commented on #7689
Hi @nakamae1983 the art has been updated.  Can you please confirm if it looks ok now?
![image](https://user-images.githubusercontent.com/53281468/157354790-343c8171-1283-45b2-8a3c-c0c45e9c8d88.png)

[2022-03-09 01:55] dogborne opened #7955 "What happens if an external domain does not have an SPF record and I have configured SPF Hard Fail"
Hello,

Microsoft mentions that other email providers might block emails from domains without SPF records (If the custom domain does not have an SPF TXT record, some receiving servers may reject the message outright. This is because the receiving server cannot validate that the message comes from an authorized messaging server)

But none of the articles mention what Microsoft logic follows. i.e do

[2022-03-09 03:42] yogkumgit commented on #6190
@msbemba Thank you very much for the contribution and sharing this explanation. @Wh00T Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-09 03:42] #6190 closed

[2022-03-09 12:30] msbofficails opened #7959 "www.microsoft365.com/setupbusiness"
Microsoft 365 is the set of all Office apps with some additional features. Go to [www.microsoft365.com/setupbusiness](https://microsof365setup.com) to get all the MS office 365 apps on your devices like Windows, Mac, and smartphones. Sign in to Microsoft account or enter the credentials of other Microsoft service accounts such as Outlook.com, OneDrive, Xbox Live, or Skype. Download the Office 365

[2022-03-09 12:32] msbofficails commented on #7959
Resolving the IMAP error -0X800CCC0E in MS Outlook
Check the Internet Connection. ...
Check the settings for the Email Account in Outlook. ...
Delete email messages if they look suspicious. ...
Check the antivirus application & disable it. ...
Check firewall configurations. ...
Start Outlook in Safe Mode.

[2022-03-09 13:36] vitorbencini commented on #7806
Hi there, I think this is a great question for me too. My SecOps teams have setup an automation to generate a reply to the sending user, however this should be as @dcaddick explained and would be really useful.

[2022-03-09 14:22] accuracysoftware opened #7960 "Missing information"
Thank you for documenting the retention and deletion limits.

There is an information that I would like to know about, and I believe it has to be in this document:

This request is related to any Privacy or regulatory request,
When do the records are effectively deleted from the system after the disposition is approved?
Does the disposition deletes the records from everywhere including backups?

T

[2022-03-09 15:53] chkockle opened #7961 "Payload indicators only available if email content added"
When configuring the training landing page in a simulation with the option "Create your own landing page" it is necessary to add the Dynamic tag
"Insert email content" before the "Payload Indicators" checkbox can be activated (it is greyed out otherwise).
Documentation is only stating that depending on the selection of the "select technique" wizard page this option is available, but not that the D

[2022-03-09 16:47] #7959 closed

[2022-03-09 19:36] Matt-Littleton opened #7964 "Portal URLs for GCCH/DoD require update"
Portal URLs for GCCH and DoD should be updated FROM https://securitycenter.microsoft.us TO https://security.microsoft.us

Old securitycenter.microsoft.us portal URL now returns an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c97d4493-75b1-312c-83b0-ad8fe72f7c0c
* Version Independent ID: af86fff7-4158-6e20-683a

[2022-03-09 19:38] chrisda commented on #7961
@chkockle, confirmed and fixed.

Thanks for the feedback.

Closing

[2022-03-09 19:38] #7961 closed

[2022-03-09 21:47] nakamae1983 commented on #7689
@TinaMcN

Thanks for the fix.
It’s OK🙆‍♂️
Thank you all for your cooperation.

[2022-03-09 22:10] TinaMcN commented on #7689
@nakamae1983 thank you very much for confirming it's ok now and thanks again for sharing the feedback.

[2022-03-09 23:25] szafrankk commented on #1949
I've exactly got the same issue and I'm using the same CPU.

[2022-03-10 02:02] StevenHosking-Msft opened #7966 "Differing Support Path to what is documented"
we state in the Password Manager, "Enable saving passwords to the password manager" setting can be completed by service engineering, but it ends up in our exceptions team which has a different timeline expectations.

https://docs.microsoft.com/en-us/microsoft-365/managed-desktop/get-started/edge-browser-app?view=o365-worldwide#password-manager

[2022-03-10 02:42] #7689 closed

[2022-03-10 03:01] kristofftan opened #7967 "It is very hard to understand what is 'Groups creation domain' under article's subdirectory"
It is very hard to understand what is 'Groups creation domain' as below article's subdirectory, even though it translate to Chinese, it still become very hard to understanding.

https://docs.microsoft.com/en-us/microsoft-365/solutions/choose-domain-to-create-groups?view=o365-worldwide

![image](https://user-images.githubusercontent.com/48010214/157579788-01f3be53-0513-4021-9ee0-c84f3a69c597.png)

[2022-03-10 11:51] smedin4 opened #7969 "Explicit mention to Defender for Business in this page"
This page https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/respond-machine-alerts doesn't mention MDB product in the "Applies to" section.

However, manual response actions like isolate device seem to be available in MDB according to this other article:
https://docs.microsoft.com/en-us/microsoft-365/security/defender-business/compare-mdb-m365-plans?view=o365-worldwide#comp

[2022-03-10 14:56] DeanGross opened #7971 "What about Power BI"
Please add some guidance for sharing from Power BI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f912ee6-5ce4-faa8-4d8a-fe96fddce1fa
* Version Independent ID: bb203434-4ae7-0a3a-e1cb-070b3c8b47ca
* Content: [Collaborating with people outside your organization](https://docs.microsoft.com/en-us/microsoft-365/solutions/

[2022-03-10 14:59] potatoqualitee opened #7972 ""Still need help" is outdated"
This is no longer accurate. There's no Microsoft Support to select.

[code]

![image](https://user-images.githubusercontent.com/8278033/157689057-7a6022f6-0eda-4013-a452-4762a3e77872.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d48adda3-8f2e-b13d-fbd7-b556d295bf85
* Version Independent ID: 46daacb8-1def-6af5-ccf

[2022-03-10 15:05] DeanGross opened #7973 "Confusing guidance - please clarify"
The sensitivity label row in  the 3 tiers table shows None, but the text below states that a label is recommended. This is a little bit confusing. I think that it would be better to put the recommendation in the table for people that may not read all of the supporting text

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-03-10 15:09] UberMeatShield opened #7974 "Microsoft Defender - Linux Proxy setting field has unexpected or bad behavior."

[2022-03-10 15:12] UberMeatShield opened #7975 "Microsoft Defender - Linux Proxy setting field has unexpected or bad behavior."
There is some very odd behavior in the linux defender clients around the proxy settings.   If you use an empty proxy string it will substitute in some strange hard coded microsoft proxy.   canonicalizer.ucsuri.tcs:80

That is broken for basically all users and doesn't even resolve anymore.   The documents should probably reflect that an empty proxy config (which in almost all of linux as "No Proxy

[2022-03-10 15:51] oliviadudley opened #7976 "Creating modern template from Word doc exceptions"
As a Syntax user, I want to create a modern template with placeholders in tables so that I can use already existing Word templates and not spend time creating new ones.

Under **Create a modern template** section, at the end of number 5, please add (or a note to this effect):

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-03-10 16:03] wadstromtech opened #7977 "Incorrect API permission specified"
Hi,

The required API permissions specified (AdvancedHunting.Read.All) is incorrect , the correct permission is called AdvancedQuery.Read.All.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea8d6114-48d6-9157-0cbe-2b33440c7eb3
* Version Independent ID: 2aa1b7a5-0d0f-1a1d-2091-28360fef0363
* Content: [Microsoft 365 Defe

[2022-03-10 16:13] kristofftan opened #7978 "There is help link broken under Meeting policy at TAC (VideoFiltersMode)"
There is link broken under Meeting policy --> VideoFiltersMode

Broken link is : https://docs.microsoft.com/zh-CN/microsoftteams/meeting-policies-audio-video?WT.mc_id=TeamsAdminCenterCSH

![image](https://user-images.githubusercontent.com/48010214/157705836-fb9814d1-cb28-4448-b766-37a256e20cf4.png)

[2022-03-10 17:54] denisebmsft commented on #7974
Hello @UberMeatShield. Can you please tell us to which article your feedback applies? This information will help us route the issue to the correct writer/team.

[2022-03-10 17:55] denisebmsft commented on #7975
Hello @UberMeatShield. Can you please tell us to which article your feedback applies? This information will help us route the issue correctly. Thank you!

[2022-03-10 19:07] mastood opened #7979 "Advanced eDiscovery limits in Step 4 seem off"
In step 4 we have the following text:

**If a custodian or end user is assigned an Office 365 E5 license, you can examine up to 10,000 search results at once using Advanced eDiscovery. If there are more than 10,000 email messages to review, you can divide the search query by date range and review each result individually as search results are sorted by date.**

I don't believe this is a valid limi

[2022-03-10 19:17] potatoqualitee commented on #7972
Thank you. Don't know if it's within scope of this page but ultimately, the link I was looking for was found here: https://www.microsoft.com/en-us/wdsi/filesubmission/

[2022-03-10 19:26] UberMeatShield commented on #7975
https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/linux-preferences?view=o365-worldwide

Under the Sample profile section you will find that "cloudeService" block.
"proxy": "<EXAMPLE DO NOT USE> http://proxy.server:port/"

You DO need to use a proxy for many networks.  But some of our hosts had transparent proxies.   A note that if you define "proxy": "" will cause very odd

[2022-03-10 19:34] markjjo commented on #7979
@mastood Thanks for the heads up. I think you are correct; this may have been a previous limit for review set items in Advanced eDiscovery. Looks like new limit is 3M items. I will update this topic. Thanks again.

[2022-03-10 19:34] #7979 closed

[2022-03-10 19:38] denisebmsft commented on #7972
Oh thank you for that! @potatoqualitee

[2022-03-10 20:09] szafrankk commented on #1949
If anyone, ever, will come across the issue again try increasing minimum RAM on these devices ;)

[2022-03-10 21:18] sinnamingrrl opened #7980 "PS Cmdlet incorrect"
Get-QuarantinedMessage -RecipientAddress officeparty@contoso.com

Remove the D from "Quarantine"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6962b118-bc67-caa7-ebad-830792611a67
* Version Independent ID: 43956aab-5f2a-de67-c252-65e8fdb9c39e
* Content: [View and release quarantined messages from shared mailboxes - Of

[2022-03-10 21:22] elcov commented on #6851
@mkjoung I'm experiencing a similar issue with our deployment and that led me here, but we're still on 2103. The first "note" in this link [https://docs.microsoft.com/en-us/mem/configmgr/protect/deploy-use/defender-advanced-threat-protection](url) mentions "Configuration Manager 2107 _with the update rollup_" so maybe install that too if you haven't already. Good luck

[2022-03-10 21:35] chrisda commented on #7980
@sinnamingrrl, fixed. In the future, you too can make fixes like this directly without opening a GitHub issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2022-03-10 21:35] #7980 closed

[2022-03-10 22:02] mastood commented on #7979
So not sure if the text in the article actually refers to a review set.  In a data spill scenario I would probably not want to copy the data to a review set as that will expand my spill.  I think the text I highlighted refers to the Preview capabilities after running a search/colllection.  AeD used to have its own experience here, now AeD/Core/Content Search all share the same experience I believe

[2022-03-10 22:04] chuckedmonson commented on #7976
Thank you for the feedback. We are looking into it and will let you know.

[2022-03-10 23:32] cabailey commented on #7960
@accuracysoftware  Hi, you'll find the answer of 7 days in the documentation for disposition: https://docs.microsoft.com/en-us/microsoft-365/compliance/disposition

Approve disposal:
... The item is marked as eligible for permanent deletion, which then happens within 7 days.

Timelines are documented in context of the configuration, rather than a limit, such as the maximum number of items supporte

[2022-03-11 13:53] Xentraxx opened #7984 "Where are attachements encrypted through OME stored and how can the data be deleted?"
Hello everyone,

according to https://docs.microsoft.com/en-us/microsoft-365/compliance/ome-faq?view=o365-worldwide#how-long-do-i-have-access-to-the-mail-in-the-ome-portal-
an through OME encrypted message and its attachement is accessible (stored) indefinitely in the OME Portal, if the receiving mail client does not support OME decryption.
I am missing where this information is being stored in th

[2022-03-11 14:21] rsparnaaij opened #7985 "Outlook requirements incomplete"
In the Outlook requirements section, it only refers to Outlook 2016/2019 and doesn't mention Outlook as part of an Office 365/Microsoft 365 subscription at all.

As far as I know, it works with all M365 Business, Enterprise and Education licenses but not with the Home or Personal licenses. So even when you are connecting to a mailbox with an E5 license assigned, the Home user will not see the Auto

[2022-03-12 23:27] poortom1004 opened #7991 "Descriptions are lacking and/or inaccurate"
The feedback below refers to the table listed in [Device Properties](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/device-control-removable-storage-protection?view=o365-worldwide#device-properties) section of this page.

It would be helpful if you specified where to find the property information for an attached device, for example in Device Manager. You're leaving it up

[2022-03-13 03:18] yogkumgit commented on #7852
@msbemba Thank you very much for the contribution and updating the documentation with PR. @avnermiz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-13 03:18] #7852 closed

[2022-03-13 03:21] yogkumgit commented on #7790
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Adamance Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-13 03:21] #7790 closed

[2022-03-13 03:24] yogkumgit commented on #7856
@msbemba Thank you very much for the contribution and updating the documentation with PR. @jmmowrer Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-13 03:25] #7856 closed

[2022-03-13 03:52] yogkumgit commented on #7918
@greg-lindsay Please help us in resolving this issue. Thanks

[2022-03-13 03:58] yogkumgit commented on #7913
@mjcaparas Please help us in resolving this issue. Thanks

[2022-03-13 04:00] yogkumgit commented on #7912
@mjcaparas Please help us in resolving this issue. Thanks

[2022-03-13 12:05] avnermiz commented on #7852
Happy to help.  Thanks for updating so quickly!

[2022-03-13 13:12] nikki-c opened #7992 "F5 licences also have access to the Content Explorer"
You do not mention that F5 licences have access to Content Explorer. According to the Security and Compliance licencing see link) F5 licences do have access

https://docs.microsoft.com/en-us/office365/servicedescriptions/microsoft-365-service-descriptions/microsoft-365-tenantlevel-services-licensing-guidance/microsoft-365-security-compliance-licensing-guidance#information-protection-data-classific

[2022-03-13 15:12] msbemba commented on #7942
@ValgardurGudjonsson Thank you for your feedback. The page describes different ways to contact support. https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-support?view=o365-worldwide

The best way to reach your support team for queries would be directly from your M365 Admin center. You can click on the need help Icon on the bottom of the page and you will be able to see a widget with op

[2022-03-13 15:15] msbemba commented on #7938
@Bethotf Thank you for your feedback.  Microsoft SwiftKey is the intelligent keyboard that learns your writing style, so you can type faster, It is available on google play - https://play.google.com/store/apps/details?id=com.touchtype.swiftkey&hl=en_IN&gl=US

As this is not related to Microsoft 365, We could not update details about this on this particular document. If you have further queries abo

[2022-03-13 15:18] msbemba commented on #7922
@VinceI  Thank you for your feedback. You are correct, the option mentioned on this page is to perform steps via M365 purchased directly with Microsoft. For any issues on your Go daddy tenant, Support is provided by Go daddy. Here are the options to contact them - https://in.godaddy.com/help/microsoft-365-from-godaddy-1000005

You will need to provide details for the domain and they help add the d

[2022-03-13 15:21] msbemba commented on #7909
@balaji-blg Thank you for your feedback. The "Change user license" is still available. I'd recommend you contact support and understand the reason it does not show up on your tenant. After you contact support via the need help section on the admin center, If you feel there are any specific activity/operation that needs to be changed, let us know.

Hope this helps!

Thanks
Sri

[2022-03-13 15:29] msbemba commented on #7903
@fixx-er Thank you for your feedback. I have made changes to the document to add wordings in order to describe that the health option is in the navigation pane. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7993

Once the author approves, the document will be live.

Thanks
Sri

[2022-03-13 15:33] msbemba commented on #7919
@TadaoMachida Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7994

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-13 15:40] VinceI commented on #7922
Hi,

We are migrating from GoDaddy to Microsoft direct subscriptions/licenses.

GoDaddy processed the outbound (GoDaddy to Microsoft)  migration on 8 March 2022.

They indicated I had 7 days from 8 March 2022 to purchase the appropriate licenses from Microsoft and assign them to my users.

I have purchased all the required licenses from Microsoft directly and assigned them to my users.

Every user

[2022-03-13 16:07] ValgardurGudjonsson commented on #7942
thank you for your e-mail but as I explained my issue is more complicated.

Bestu kveðjur / Best wishes
Valgarður Guðjónsson

From: Sriraman M S ***@***.***>
Sent: sunnudagur, 13. mars 2022 15:12
To: MicrosoftDocs/microsoft-365-docs ***@***.***>
Cc: Valgarður Guðjónsson ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Denied access (Issue #7942)

@ValgardurGudjons

[2022-03-13 16:21] msbemba commented on #7942
@ValgardurGudjonsson Thank you for the quick response. This section of the document is to provide feedback about the content in the document if there are any changes required. I'd request you contact support for any issue related to accessing M365 services.

Hope this helps!

Thanks
Sir

[2022-03-13 16:27] msbemba commented on #7921
@r-milne Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7995

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-13 16:51] msbemba commented on #7935
@0fflineDocs Thank you for your feedback. This document pertains to multiple indicators supported by Microsoft Defender for Endpoint Plan 2. However, I noticed that create an indicator for files-  https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/indicator-file?view=o365-worldwide Did not include p[lan 1. I have made changes to the document via PR#https://github.com/Microso

[2022-03-13 16:55] msbemba commented on #7936
@0fflineDocs Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7997

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-13 16:59] msbemba commented on #7941
@razvan-b Thank you for your feedback. Maintain an 8-character minimum length requirement (longer isn’t necessarily better). Longer password requirements (greater than about 10 characters) can result in choosing predictable words or characters in a password. These are the updated minimum requirements for M365.

The document-  https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/window

[2022-03-13 17:04] msbemba commented on #7943
@grex86 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/7998

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-13 18:32] msbemba commented on #7922
@VinceI Thank you for the response. I'm glad that you got it sorted. I was not aware of the migration piece, but you are right, that is when the tenant is moved from a go daddy-attached account to a direct Microsoft tenant. After which all these options mentioned on thisis page should be possible.

Thanks
Sri

[2022-03-13 23:48] ramponnuram opened #7999 "the sign in commands with MFA - they prompt for credentials 5 times (for each connect-...)"
the sign in commands with MFA - they prompt for credentials 5 times (for each connect-...)

Example : My powershell script pulls data from AzureAD and Msolservice
If it has connect-azuread & connect-msolservice, I am being prompt to key in my credentials twice and MFA authentication twice.
any way to reduce that to 1 time credential entry and 1 time MFA authentication ?

---
#### Document Details

[2022-03-14 04:59] janeilagan opened #8000 "Landing page logo size"
Would be good to indicate logo size for the Landing Page
Logo size should be 210 x 70 pixels if you don't want the logo to be distorted.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c312fd69-72cd-bc86-4fe1-993b60b97bc6
* Version Independent ID: b7887ba6-4775-39f0-e368-68f140ce233d
* Content: [S

[2022-03-14 09:59] ancmarti opened #8002 "Errors in documentation on the permissions section"
[The document states that any of the following roles are required in order to be able to enable device management:
To enable device management, the account you use must be a member of any one of these roles:
Global admin
Security admin
Compliance admin
In fact, if you are not a Global Admin, you can't even see the option to Turn on Device Monitoring:
![image](https://user-images.githubusercontent.

[2022-03-14 10:33] ancmarti commented on #8002
Closing for now as I've tested with 5 more users that have only Compliance Administrator role and they are able to see Device Monitoring. Need to understand why some can't see it when they are Compliance Administrators and some can

[2022-03-14 10:33] #8002 closed

[2022-03-14 11:21] kschang61 opened #8003 "Missing "\" between Users and <username> folders"
Missing "\\" between Users and \<username\> folders for C:\\Users\<username\>\\AppData\\Local\\Microsoft\\MCCA

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ffc6641-5a0f-3b5b-49c4-50ee9c205f80
* Version Independent ID: 1a8feee1-b328-fbb9-6962-920e890f3ab7
* Content: [Microsoft Compliance Configuration Analyzer for Co

[2022-03-14 12:36] OlgKis opened #8004 "Sensitivity labels for containers with Office CDN is poorly documented"
The article states "Sensitivity labels for containers aren't supported with Office 365 Content Delivery Networks (CDNs)." But it doesn't explain how it will actually work in practice, if company uses CDN and want to start using sensitivity labels as well. What will happen if a label is applied to a site with CDN origin? Will the behavior differ for private and public origins? What will happen if t

[2022-03-14 13:25] yogkumgit commented on #7942
@msbemba Thank you very much for the contribution and sharing this explanation. @ValgardurGudjonsson Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can sh

[2022-03-14 13:27] yogkumgit commented on #7938
@msbemba Thank you very much for the contribution and sharing this explanation. @Bethotf Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-14 13:27] #7938 closed

[2022-03-14 13:29] yogkumgit commented on #7922
@msbemba Thank you very much for the contribution and sharing this explanation. @VinceI Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-14 13:30] #7922 closed

[2022-03-14 13:32] yogkumgit commented on #7909
@msbemba Thank you very much for the contribution and sharing this explanation. @balaji-blg Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-03-14 13:32] #7909 closed

[2022-03-14 13:53] yogkumgit commented on #7941
@msbemba Thank you very much for the contribution and sharing this explanation. @razvan-b Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-14 15:39] kelleyvice-msft commented on #7862
@davidleeolmstead, thanks for reaching out. The list of IP addresses and URLs for Office 365 services is managed by a web service, and changes must be submitted with the Office 365 Endpoints portal at https://endpoints.office.net.

For instructions on how to submit a change and manage the IP addresses and URLs for your service, see the user guide at http://aka.ms/endpointshelp.

If you have any pe

[2022-03-14 15:39] #7862 closed

[2022-03-14 16:17] chrisda commented on #8000
@janeilagan, fixed.

Thanks for the feedback.

Closing

[2022-03-14 16:36] chrisda commented on #7921
PR merged so closing this issue.

Thanks for the feedback.

[2022-03-14 16:36] #7921 closed

[2022-03-14 16:51] DeanGross opened #8005 "Lack of Updates"
Nothing has been added in over 6 months, given the rapid pace of change in M365, I find this unusual. Is this actually true or have some updates been missed?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 91a000fe-4f18-dae2-ae48-1ce63336e238
* Version Independent ID: 8e6afd9c-0d67-718a-e93b-b7e57f9b5b38
* Content: [What

[2022-03-14 19:19] tiaraquan commented on #7703
Added a note to this page to address this issue. It is included in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/13130

[2022-03-14 19:19] #7703 closed

[2022-03-14 19:20] tiaraquan commented on #7702
Added a note to this page to address this issue. It is included in https://github.com/MicrosoftDocs/microsoft-365-docs-pr/pull/13130

[2022-03-14 19:20] #7702 closed

[2022-03-14 19:37] stevenjudd opened #8006 "Typo in image"
There is a typo in the [Fundamental parts of a sensitive information type image](https://docs.microsoft.com/en-us/microsoft-365/media/dc68e38e-dfa1-45b8-b204-89c8ba121f96.png?view=o365-worldwide). "Pattern" is missing an "n" in the top left text.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8f1edffc-5d5e-8ed8-a7d1-74

[2022-03-14 20:45] SultanRayes opened #8008 "These Endpoints are no accurate"
[Enter feedback here]
I have Exchange Hybrid setup, I have check the endpoints mentioned in line #9 "Used to configure [Exchange Hybrid], using the [Exchange Hybrid Configuration Wizard])"

I have found some endpoints are not exists such as asl.configure.office.com; tds.configure.office.com..
I have tested it in the lab , I found many endpoints are not mentioned in this article.

This is a show st

[2022-03-14 20:54] brentil opened #8009 "PowerShell script enhancement in VDI documentation"
As written the last line of the PowerShell script could error if $vdmpath is not on the C: drive.  The command assumes it is the C: as part of the cmd command to change to that drive letter.  A better solution is to us the native cd /d command instead.  The /d command changes both drive and directory instead of the basic directory only.  The command I suggest below will work no matter what drive i

[2022-03-14 21:06] kelleyvice-msft commented on #8008
Thanks for reaching out, @SultanRayes. I'll look into the issue with the teo URLs you mentioned. Can you give me an example or two of URLs you are seeing that are not included in the web service or Other Endpoints page?

Thanks,
Kelley

[2022-03-14 21:10] SultanRayes commented on #8008
HI Kelley,

Here you are ,However, I'm not sure weather all these are relevant 🙂
A example.org
A ipv4only.arpa
A r3.o.lencr.org
A a1887.dscq.akamai.net
AAAA a1887.dscq.akamai.net
A d2nxq2uap88usk.cloudfront.net
AAAA d2nxq2uap88usk.cloudfront.net
A techcommunity.microsoft.com
A www.microsoft.com
A outlook.office365.com
A e13678.dscb.akamaiedge.net
A e8318.dsca.akamaiedge.net
A AMS-efz.ms-acdc.offic

[2022-03-14 21:14] SultanRayes commented on #8008
IP addresses ...
Also I'm not sure if all of these are relevant 🙂
104.110.191.177
104.123.44.60
104.18.25.243
104.74.234.231
13.107.6.156
142.250.179.202
152.199.23.37
168.63.129.16
169.254.169.254
172.217.168.206
20.190.159.136
20.190.160.25
20.190.160.4
20.190.160.75
20.190.160.8
20.54.37.73
20.93.58.141
216.58.208.99
23.2.175.10
34.107.221.82
34.117.237.239
34.120.208.123
34.210.132.84
34.98.75

[2022-03-14 22:46] cabailey commented on #8004
@OlgKis  Not supported statements means don't use, or use at your own risk - you can't expect the official documentation to include details on what happens if something isn't supported. One of the reasons is we have to support what we document & we don't continue to test what isn't supported.

However, in this case, I can share that CDNs don't honor the switch from Azure AD group classifications t

[2022-03-14 23:59] chuckedmonson commented on #7976
Updated content accordingly. Thank you for your suggestion.

[2022-03-14 23:59] #7976 closed

[2022-03-15 01:12] jadesolis opened #8010 "Prevent Message deletion in groups?"
"Message deletion: Unfortunately, you can't prevent people from deleting **messages** in a shared mailbox. The only way around this is to create a Microsoft 365 group instead of a shared mailbox"
Can we have a cross-reference  citing this?

[2022-03-15 03:06] kefujino commented on #7762
@TinaMcN Thank you for your follow-up. Current traslation is very nice!
Could you close this ticket? thank you so match.

[2022-03-15 03:45] TinaMcN commented on #7762
@kefujino thank you for confirming the translation is ok now 👍 @yogkumgit can you please close the issue, I don't have access.

[2022-03-15 05:16] yogkumgit commented on #8010
@jadesolis Please indicate the name of the document, your feedback applies to. Thanks

[2022-03-15 05:19] yogkumgit commented on #7903
@msbemba Thank you very much for the contribution and updating the documentation with PR. @fixx-er Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-15 05:20] #7903 closed

[2022-03-15 05:25] jadesolis commented on #8010
I am the one requesting for for the document. The article is mentioning a Microsoft 365 group feature but no citation is provided

[2022-03-15 05:26] yogkumgit commented on #7919
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TadaoMachida Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-15 05:27] #7919 closed

[2022-03-15 05:34] #7762 closed

[2022-03-15 05:34] #7974 closed

[2022-03-15 06:20] #7275 closed

[2022-03-15 06:30] #7482 closed

[2022-03-15 06:34] yogkumgit commented on #7563
@cabailey Awaiting your kind response. Thanks

[2022-03-15 06:37] yogkumgit commented on #7672
@tiaraquan Awaiting your kind response. Thanks

[2022-03-15 07:33] robarismail97 opened #8012 "High Confidence Spam"
Hi!

I have discovered that the action you have on the "high confidence spam" in anti spam policy is the action for the blacklist you have in Defender for Office365. Am I correct? Why is this not presented anywhere?

Br,
Robar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 372a5793-33b9-b7a4-d965-aa4237470b17
* Version

[2022-03-15 08:42] badsector-82 opened #8014 "Possible typo"
Hello guys,
In the section "3. Create new or edit your existing organization relationship object to your source tenant." the script starts with
[code]
But the DomainNames parameter specifies the SMTP domains of the external organization, not the tenantID.

I see it's the same with the next script "3. Create new or edit your existing organization relationship object to your target (destination) ten

[2022-03-15 09:53] fxlite commented on #7455
Any update on the current behaviour?

[2022-03-15 10:45] ValgardurGudjonsson commented on #7942
Thank you for your reply.

As I have tried to explain, repeatedly, this option does not work - I have repeatedly contacted support, followed every suggestion, tried the same thing over and over - I still get an infinite loop of sign in requests or "We're sorry".. error message.

Is it not possible to have someone take a serious look at my issue?

Bestu kveðjur / Best wishes
Valgarður Guðjónsson

F

[2022-03-15 10:54] Borgquite opened #8015 "Update Alert Policies information for Defender for Business"
Please can this page be updated with information on which alert policies are supported under the new Defender for Business?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9f2879ba-e58e-cd47-f488-10d153c31418
* Version Independent ID: 391a2c05-d63d-e84e-7c7d-80c3b3518419
* Content: [Microsoft 365 alert policies - Micros

[2022-03-15 10:58] msbemba commented on #7942
@ValgardurGudjonsson Sorry about that. The team at support can help you with access issues. This channel is strictly for documentation changes and we do not handle support scenarios.

Thanks
Sri

[2022-03-15 15:00] itishnitsa opened #8016 "What is the limit for adding trusted senders and domains?"
How many entries can we add to trusted senders and domains? Out domain has a name of a city in it, so domain impersonation triggers on hundreds of legitimate senders that have the city name in their email or display name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70ea08aa-4520-8f48-93e2-0ce74cd43298
* Version Inde

[2022-03-15 15:34] badsector-82 opened #8017 "Missing argument"
Hello,

I have an argument in my header that is not specified in the article : "SFS:;"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e47e11dd-53ab-5f62-ac6c-59dbc00eed0d
* Version Independent ID: 362ad038-3b64-f342-2f8e-111635c4337d
* Content: [Anti-spam message headers - Office 365](https://docs.microsoft.com/en-us/m

[2022-03-15 15:56] cabailey commented on #7563
Yes - not forgotten!  Support for the Teams admin center was confirmed by engineering & updated on the page. The anomaly for the Azure AD portal was the reason for the delay & still under discussion with engineering.  The expected design is that an admin would be able to see all the labels, but the Azure AD documentation does say "The current signed-in user must be within the scope of the sensitiv

[2022-03-15 15:58] tiaraquan commented on #7672
@yogkumgit @CraigGladman Apologies, but I am waiting for verification from the team. Will provide an update as soon as I have one.

[2022-03-15 16:32] chrisda commented on #8017
@badsector-82, note this existing comment from the article:

The important ones that you need to know should already be documented.

[2022-03-15 16:42] craig-martin opened #8019 "Is Microsoft 365 Unified Logging Extensible?"
Wondering if custom logs can be added to M365 logging.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9653a7b1-0227-95d1-6357-b54361d63321
* Version Independent ID: f33fce66-1688-01be-cf76-3a538730c5f9
* Content: [Microsoft 365 auditing solutions - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-36

[2022-03-15 16:50] chrisda commented on #8016
@itishnitsa, from the conceptual companion to that procedural article you referenced:

 <https://docs.microsoft.com/icrosoft-365/security/office-365-security/set-up-anti-phishing-policies>

But, I would contend that you don't want to eliminate impersonation protection because of issues with your domain name. In fact, you're sure that your domain name is causing the false positive hits as impersona

[2022-03-15 17:21] trudolf-msft opened #8020 "Note: Add-in is greyed out for shared/group or delegate mailbox"
Please add a note that Add-in is greyed out for shared/group or delegate mailbox!

See:
https://o365exchange.visualstudio.com/IP%20Engineering/_workitems/edit/2607388
https://techcommunity.microsoft.com/t5/exchange/report-message-add-in-and-shared-mailboxes/m-p/1688407

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445

[2022-03-15 17:34] msbemba commented on #7915
@DeanGross Thank you for your feedback. At this time, groups cannot be deleted but can be reused. I have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/8021

Once the author approves, the changes will be live.

Thanks
Sri

[2022-03-15 17:36] chrisda commented on #8016
From that same topic:

<https://docs.microsoft.com/icrosoft-365/security/office-365-security/set-up-anti-phishing-policies>

- **Add trusted senders and domains**:  ... The maximum limit for these lists is 1024 entries.

My same last comment about not eliminating impersonation protection applies.

[2022-03-15 17:54] cabailey commented on #7563
Doc update live now, so closing this issue.  But I will continue to look into this & revise as needed.

[2022-03-15 17:54] #7563 closed

[2022-03-15 19:10] antonov314 opened #8022 "This page need a Information update"
The section "Set up your device groups, device collections, and organizational units" does not compli anymore.

"
1. Go to the Microsoft 365 Defender portal (https://security.microsoft.com/).

2. In the navigation pane on the left, choose Settings > Endpoints > Permissions > Device groups.

3. Choose + Add device group.
"
This part of the page doesn't work anymore there is no settings --> Endpoint

[2022-03-15 20:07] saraporter opened #8023 "Where is EOP?"
Hello Microsoft,
I realize you are very excited about all your product re-branding and UI changes, however the least you could do would be to provide documentation so admins can access the functions they need to access- clearly it's too much for you to maintain links in any of the places they used to be, but even your documentation doesn't tell us how to get there. Your article points to the new m

[2022-03-15 20:34] chrisda commented on #8023
@saraporter, when you say "Where is EOP?", what exactly do you mean?

The Microsoft 365 Defender portal at <https://security.microsoft.com> is where to go to manage EOP features.

While it's still around, you can also manage EOP in the Security & Compliance Center <https://protection.office.com>.

I took a look at the classic Exchange admin center at <https://outlook.office365.com/ecp>. All of the

[2022-03-15 21:27] gbms311 opened #8024 "AST Payload automation - instructions refer to Simulation Automation"
This page is for 'PAYLOAD AUTOMATION'. the instructions in point 2 talk to 'Simulation Automations'

"2. On the Payload automations tab, select Create simulation icon. Create simulation."

This, *and the screen image/picture* ...  needs to be changed to "2. On the Payload automations tab, select Create AUTOMATION icon. Create AUTOMATION."

---
#### Document Details

⚠ *Do not edit this section. It

[2022-03-15 21:50] saraporter commented on #8023
Hello Chris,
I want to be able to see something in Defender that says EOP, and then under EOP, it can have all the policies and such.  You tell us to go to the M365 defender portal, but nothing in there references EOP directly.  So at the very least, I want the documentation to tell me how to get to those EOP features.   Instead the links on the EOP documentation tell me about more EOP features- t