[2020-12-17 21:25] msbemba commented on #3602
@Sirkkuw Thank you for the update.

@yogkumgit This can be closed as the sub menu has been removed.

Thanks
Sri

[2020-12-17 21:28] msbemba commented on #3642
@bruceburge To set an org-wide signature you use the disclaimer feature in the transport rule. That is why it is mentioned that way.  As said in the TIP"Organization-wide signatures are called "disclaimers," regardless of what they include. For example, they can just be a signature, or also include your address, legal disclaimer, or other information you want."

CC: @twernermsft

Thanks
Sri

[2020-12-17 21:35] bruceburge commented on #3642
... Yeah, the guy before you literally said they same thing, that doesn't
make it a signature.

I don't feel like this is really going anywhere, so feel free to close
this.

On Thu, Dec 17, 2020, 15:29 Sriraman M S <notifications@github.com> wrote:

[2020-12-17 22:40] 000111al opened #3753 "Folders Not Clearing, even when all steps are followed"
[Enter feedback here]
During step 5, it is mentioned that you should be able to clear the /Purges, /SubstrateHolds, and /DiscoveryHolds folders, however, when you run the New-ComplianceSearchAction on searches tied to these folders, the files don't actually get removed from the folders. The commands look like they run correctly, but no items are removed.

Best
Alex

---
#### Document Details

⚠ *D

[2020-12-18 01:02] markjjo commented on #3753
@000111al You have to make sure that all holds/retention policies are removed from the mailbox, include those explicitly assigned and those that are part of an org-wide or service-wide policy. This includes any retention policy for Teams messages. Step 3 lists the different hold types, including delay hold. If necessary, would suggest you open a support ticket with MS Support for assistance.

[2020-12-18 01:02] #3753 closed

[2020-12-18 02:31] mcox13579 opened #3755 "First table in "Microsoft SharePoint Syntex adoption: Get started" page confusing, misleading, wrong?"
Trying to get an understanding of how Microsoft Syntex can be applied in business intranet and content management and this page is vague, confusing and seems like something got cut/copied/pasted wrong with that first table.
[Enter feedback here]
![image](https://user-images.githubusercontent.com/12144220/102566840-2a5d6280-4095-11eb-928c-5ae1687e5d05.png)

---
#### Document Details

⚠ *Do not edit

[2020-12-18 07:03] yogkumgit commented on #3602
@msbemba Thank you very much for the contribution and sharing this explanation. @limp15000 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-18 07:03] #3602 closed

[2020-12-18 07:07] yogkumgit commented on #3642
@bruceburge Thank you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-18 07:07] #3642 closed

[2020-12-18 07:13] jvedmls opened #3756 "Common approaches and negative impacts"
The section regarding Some common approaches and their negative impacts should be better organized or defined as its own section - it is easy to mistake the common approaches as recommended policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 523758d0-17ea-7061-d9ce-8f5a31a76b4c
* Version Independent ID: 545fd950-8

[2020-12-18 08:46] fklx opened #3757 "Availability Key"
The page is referencing the "Availability Key" page - which doesn't contain any information if and how CMK encryption at the tenant level is also affected by the Availability Key. Would be great to clarify.

Thank you FKALECK@microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18803bfa-118a-09ee-947b-abf1ee996

[2020-12-18 10:22] MikeParker365 opened #3758 "Where is data stored in a multi-geo scenario?"
The FAQ "Where is the cloud-based storage for on-premises users located?" says that Cloud-based storage is provisioned in the same datacenter as your organization. What does this mean in the context of multi-geo? Is the PDL for the user honoured, or are all Cloud-based storage mailboxes stored in the central tenant location?

---
#### Document details

⚠ *Do not edit this section. It is required f

[2020-12-18 10:54] DEberhardt opened #3759 "Examples missing for MFA with New-CsOnlineSession (Module MicrosoftTeams)"
Hello,

apologies for the mess on this issue, I have since figured out most of what I need, however one element is still remaining:

`New-CsOnlineSession` cannot be called with the -Credential parameter if MFA is to be used.
Calling the command without Parameters helps and allows use for MFA, however it does not allow to pre-fill the Username anymore, I am trying to get this re-evaluated with http

[2020-12-18 11:21] MareleRechinAlb opened #3760 "Microsoft 365 for Enterprise Overview.pdf ends scripting at page 78 of 1018"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1248ba04-fd9a-c009-9821-94c7b7aec88b
* Version Independent ID: eec20193-ee91-0f70-2d62-a8aa99e6e84a
* Content: [URLs and IP address ranges for Office 365 operated by 21Vianet - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/e

[2020-12-18 13:41] msbemba commented on #3713
@rafaelborter Thank you for your feedback. I was not able to use the parameter as well, I shall check with the product group/author and update the document accordingly.

@MSFTTracyP We are not able to use the parameter -EnableAntispoofEnforcement. I don't see any updates around removing this feature. Could you please help us verify if this parameter is available? I shall update the document accord

[2020-12-18 14:04] msbemba commented on #3715
@ScottBeeson Thank you for your feedback. There have been some changes recently and we will update the document accordingly.

@kwekuako The Email apps report is not available anymore under usage. Do you know if the product team is working on this or is this document is not relevant anymore?

Thanks
Sri

[2020-12-18 14:11] msbemba commented on #3725
@trudolf-msft Thank you for the feedback. You are correct, we need to create or enable AlwaysUseMSOAuthForAutoDiscover in some scenarios. I have added this to the related article section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3761

Thanks
Sri

[2020-12-18 14:49] msbemba commented on #3727
@AlexV-P Thank you for your feedback. You can reduce the number of licenses to below 25 and cancel the licenses, however, there are other retainers, security and technical reasons like Implications of data purge for all customers are why we would want customers to contact support. Support will explain the implications of canceling a subscription before asking you to reduce the count to less than 2

[2020-12-18 14:58] msbemba commented on #3729
@ACarlockAKA Thank you for your feedback. I have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3762. Once the author Approves the PR, it takes 24-48 hours for the changes to reflect.

Thanks
Sri

[2020-12-18 17:01] Ads-Khan opened #3763 "Symmetrical requirement for single policy that allows two Segments?"
I am trying to deploy Information Barriers in our dev environment.

Below is an example policy definition:

[code]

Trying to start an application instance states I must have a symmetrical policy but I have not defined any blocked segments?

[2020-12-18 17:24] hugo-costa opened #3764 "Spoof Intelligence - Anti-Phishing (Not Spam) - Information missing?"
Hi,

This article mentions about managing spoof intelligence in spam but not in Anti-Phishing.

I notice that when following the steps to see the spoof intelligence list in Anti-Span and reviewing the list from the dashboard:
https://protection.office.com/spoofintelligence

The lists of domains are see here are completely different to the list in which can be viewed by the in the anti-spam policy

[2020-12-18 17:44] BryanAdvisicon opened #3765 "Failed script"
This script fails because it cannot find  The term 'Get-AzureADDirectorySetting' is not recognized as the name of a cmdlet,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 445c0a2e-1a22-d90f-0c73-0edf34f2b99a
* Version Independent ID: d534ac69-134d-0198-fcb9-e19d1ed44d4b
* Content: [Manage who can create Microsoft 365 G

[2020-12-18 18:02] samanro commented on #3755
Thanks for letting me know. I've removed the stray extra cell in the right and changed to "structured" documents. Pushing out the fix today.

[2020-12-18 18:49] Mark-Cates opened #3766 "Requirements"
What are the requirements for using Tenant switcher?  We have a customer setup with our partner information in their 365 subscription, but we do not see the Tenant switcher option on our admin side.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7b378de4-ca71-a16b-6669-369e3e3ff9d4
* Version Independent ID: 1a1a6ec6-8c

[2020-12-18 22:00] msbemba commented on #3632
@gluebags We have got an update from the author that If you have a free trial subscription, you don't have to wait 30 days for the subscription to automatically delete. You can delete your subscription three days after you cancel it. The Delete subscription option isn't available until three days after you cancel your subscription.

Wait three days after the date you canceled the subscription.
Sel

[2020-12-18 22:15] JoeDavies-MSFT commented on #3674
This is being discussed within Microsoft.

[2020-12-18 22:15] #3674 closed

[2020-12-18 22:18] #3612 closed

[2020-12-18 22:27] JoeDavies-MSFT commented on #3221
@tajaber Sorry about the extended delay. I have forwarded this request to the product team that maintains the list of endpoints for their consideration in a future update. Thanks for letting us know.

[2020-12-18 22:27] #3221 closed

[2020-12-19 11:22] DEberhardt commented on #3759
To drive the point home, here is the result running the following lines:

[code]

Result:
[code]

[2020-12-19 11:47] DEberhardt commented on #3759
My current working Script is `Connect-Me -UserName $Username` (Module: TeamsFunctions) which does the following:

[code]

Connect-SkypeOnline does work with v6 and v7 of the SkypeOnlineConnector (v6 used the `-Credential` parameter available now), whereas v7 has also `-UserName` available...) but assuming the functionality of the newest Connector would be made available in the MicrosoftTeams Modul

[2020-12-19 14:28] AlexV-P commented on #3727
Would it be worth updating the documentation to include these implications and explain that the next step is to reduce the license count?

[2020-12-19 21:09] ACarlockAKA opened #3769 "Conflicting information about On-Premises resource authentication"
The first paragraph states "You can also allow access to on-premises resources like line of business (LOB) apps, file shares, and printers. To allow access, use Azure AD Connect to synchronize your on-premises Active Directory with Azure Active Directory."  But then the last section states "Users won't be able to authenticate to applications that depend on Active Directory authentication. Evaluate

[2020-12-20 00:42] SignorelliDenis commented on #3713
@rafaelborter EnableAntispoofEnforcement has been renamed to EnableSpoofIntelligence

[2020-12-21 08:16] rafaelborter commented on #3713
@SignorelliDenis
Great, I was now able to adjust the settings successfully.

@msbemba
Can you please update the [documentation](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/recommended-settings-for-eop-and-office365-atp?view=o365-worldwide#eop-default-anti-phishing-policy-settings)? Thank you very much.

[2020-12-21 08:56] yogkumgit commented on #3755
@samanro Thank you very much for updating the documentation. @mcox13579 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-21 08:56] #3755 closed

[2020-12-21 09:00] yogkumgit commented on #3632
@msbemba Thank you very much for the contribution. @gluebags Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-21 09:00] #3632 closed

[2020-12-21 09:27] yogkumgit commented on #3127
@msbemba

[2020-12-21 09:54] yogkumgit commented on #3536
@cmcatee-MSFT Thank you very much for your help. @edisoss If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-21 09:54] #3536 closed

[2020-12-21 10:56] paulomorgado opened #3770 "Missing protocol information"
Some customers require also protocol information (HTTP, SMTP, IMAP, etc.).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content: [Office 365 URLs and IP address ranges - Microsoft 365 Enterprise](https://docs.microso

[2020-12-21 13:41] gurubn opened #3771 "Possibility to customize M365 Group expiration policy Email content and logo"
Microsoft-365-groups-expiration-policy is fantastic feature . Is it possible to customize the email which is sent part of expiration ?. We have a need to add additional information inside email which is sent. Also possibility to add logo would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 979f0a6e-be32-af1

[2020-12-21 16:56] takawazo opened #3772 "Support for list item view event"
M365 doesn't support list item view events in SharePoint currently, but I found it actually shows list item view event (ListItemViewed) which shows the access record to the specific list item.  (Only modern UI)
Does it support list item view events and this document hasn't been updated yet ? or is it in preview (or rolling out) stage ?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-12-21 21:12] msbemba commented on #3127
@Sirkkuw  Could you please check and let us know if this bug needs to be reported to the product group?

[2020-12-21 21:19] msbemba commented on #3733
@carlyhublou Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3774

Thanks
Sri

[2020-12-21 21:21] msbemba commented on #3734
@dgordonb Thank you for your feedback. We have updated the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/issues/3734

Thanks
Sri

[2020-12-22 09:20] msbemba commented on #3713
@MSFTTracyP I don't see any official announcement about the name change. Could you please confirm if EnableAntispoofEnforcemen has been renamed to EnableSpoofIntelligence? I can update the document accordingly once you confirm.

Thanks
Sri

[2020-12-22 09:34] msbemba commented on #3743
@TheITguy666 Thank you for your feedback. We have made changes to the Screenshot via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3776

Thanks
Sri

[2020-12-22 09:40] msbemba commented on #3745
@TomasHurtz Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3777

Thanks
Sri

[2020-12-22 09:42] msbemba commented on #3747
@chrishill206 Thank you for your feedback. I tested this on a New machine with outlook 2013 and these registry keys do not exist. However, you can add the Key EnableADAL under HKCU\SOFTWARE\Microsoft\Office\15.0\Common\Identity\

Hope this helps!

Thanks
Sri

[2020-12-22 09:46] msbemba commented on #3765
@BryanAdvisicon Thank you for your feedback. I tested this script and I was able to run this cmdlet successfully. Could you please confirm if you connected to AzureAD using Connect-AzureAD before you run this cmdlet?

Thanks
Sri

[2020-12-22 09:52] msbemba commented on #3766
@Mark-Cates Thank you for your feedback. The requirements are that If you have been designated partner of record (Associated Partner) for a Microsoft cloud org, you will see a new double-arrow switcher icon in the upper left-hand corner of the Microsoft 365 admin center next to the org’s name. If you meet the requirement, I'd recommend you to raise a support request with the partner team to ensure

[2020-12-22 10:04] msbemba commented on #3744
@erictechtips Thank you for your feedback. I'll check with the author to confirm if this information can be added to the document.

Thanks
Sri

[2020-12-22 10:05] msbemba commented on #3744
@JoeDavies-MSFT I was able to test this feature on a new device without having to whitelist https://unpkg.com/@microsoft/teams-js@1.3.6/dist/MicrosoftTeams.min.js.

Let me know if this information is accurate so that we can add this to URLs.

Thanks
Sri

[2020-12-22 12:43] GRJ78 opened #3778 "Cannot perform migration due to missing endpoint in the source tenant"
Hi there,

I have followed the process described in the documentation and was successful. Even the verification attempts with the PowerShell returned the correct results just like depicted in the documentation.
Nonetheless, I cannot perform the migration because the endpoint is created just in the source tenant.
Basically, I am using the new Exchange Admin Center in the source tenant to perform th

[2020-12-22 13:02] yogkumgit commented on #3729
@msbemba Thank you very much for the contribution and updating the documentation with PR. @ACarlockAKA Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-22 13:02] #3729 closed

[2020-12-22 13:12] yogkumgit commented on #3713
@MSFTTracyP Please reply our query. Thanks.

[2020-12-22 13:19] yogkumgit commented on #3747
@msbemba Thank you very much for the contribution and sharing this explanation. @chrishill206 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-22 13:19] #3747 closed

[2020-12-22 13:29] yogkumgit commented on #3225
@robmazz Gentle reminder

[2020-12-22 14:40] GRJ78 opened #3779 "No endpoint created in the source tenant"
Hi there,

I have followed the process of preparing he tenants as described in the documentation.
I have even verified the results as mentioned using PowerShell.
Everything seems to be correct.
Still I am not able to perform any migration as it asks for an endpoint.
I am trying to perform the migration using the new Exchange Admin Center.
In the documentation is stated that the endpoint is created

[2020-12-22 15:09] andydedeckker opened #3780 "the no-junk e-mailaddress is wrong on this page"
The no-junk e-mailaddress for the false positives should be not_junk@office365.microsoft.com instead of false_positive@messaging.microsoft.com

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88f35e41-4289-a328-cea0-a71f4862c424
* Version Independent ID: c60b5e14-0a43-d9cb-9d98-65cd82910be5
* Content: [Use mail flow rule

[2020-12-23 00:02] AlfredoLarracuente opened #3783 "Unable to set the ExchangeGUID if Exchange Hybrid env is not present"
IMHO, the procedure as written in the article must specify that an Exchange Hybrid environment is necessary as there's no way to pre-stage a mailbox in cloud only environment with a specific ExchangeGUID matching the source mailbox or change it afterwards. If I'm missing something, or if there's a way to accomplish this, please advise. Look forward to the final release of this much needed solution

[2020-12-23 10:03] LudwigWurmannstaetter opened #3785 "Pay attention on upper-/lower-case"
When one is doing the Validation on the DKE Service, thoroughly pay attention you are using the the right case on the Key Name. In the appsettings.json you create a Name for your Key. This name will be used when doing the Validation step, either by browsing to your DKE Server - **https://Your-Server/Your-Key-Name** or by using the Script **key_store_tester.ps1 https://Your-Server/Your-Key-Name**.

[2020-12-23 12:37] msbemba commented on #3746
@nitzdaniel Thank you for your feedback. I tested this and was able to reproduce the scenario. I'll check with the author/PG to see if we have this in the roadmap.

@lomayor The alerts generated by identity protection are not found in Microsoft defender. Instead, it shows up only in Microsoft cloud app Security. Is this by design, if yes I can update the document accordingly. Also, Could we check

[2020-12-23 12:45] msbemba commented on #3721
@GMZephyr Thank you for your feedback.

If you've deployed the Report Message add-in, or people use the built-in reporting in Outlook on the web, you can see what users are reporting on the User submissions tab.

In the Security & Compliance Center, go to Threat management > Submissions.

Select the User submissions tab, and then click New submission.

However, If there is a Custom policy to not r

[2020-12-23 12:57] shrikantdatke opened #3787 "How to Identify in Audit Logs if the emails are deleted by User or by Retention Policy"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a1c2e44-357c-8096-5bdf-40e205778ded
* Version Independent ID: 19c7b5d9-1e0c-501b-7b70-df5aab48b36e
* Content: [Learn about retention for Exchange - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-365/compliance/retention-policies

[2020-12-23 12:57] msbemba commented on #3707
@Wh00T Thank you for your feedback. I tested with the other three roles and was able to view details in activity explorer. I have modified the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3786

Thanks
Sri

[2020-12-23 13:00] msbemba commented on #3727
@AlexV-P Thank you for your feedback. I have added that information to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3788

Thanks
Sri

[2020-12-23 13:00] shrikantdatke commented on #3787
Hi Team,

I have created an Email Deletion Policy from Compliance Portal to Delete Emails that are 1 day Old.

The policy is active and emails are deleted and sent to the "Recoverable Items" folder.

Now I am querying the Audit logs to find out all emails deleted by the policy and not by the individual user, how can I identify the same ?

[2020-12-23 15:01] yogkumgit commented on #3746
@lomayor Kindly answer this query. Thanks.

[2020-12-23 15:27] clfilipe opened #3790 "Typo for this doc: https://docs.microsoft.com/en-us/microsoft-365/admin/manage/assign-licenses-to-users?view=o365-worldwide#assign-a-license-to-a-guest-user"
_"to learn about **guess** users"_. It is not "guess" but "guest" users.

![image](https://user-images.githubusercontent.com/44497350/103012312-51071780-4533-11eb-8c72-85ea98ab6c50.png)

Please correct this typo. Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e42a261b-afb1-e8d4-e61d-c9d30cb71a00
* Version Indep

[2020-12-23 17:03] AdamNSTA opened #3791 "Conditional Access location needs updated"
[Enter feedback here]

The Conditional Access page is now under the Security blade.

Azure Active Directory > Security > Conditional Access

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 965d1d2f-81dd-8057-5a13-4f75cfe0c1f7
* Version Independent ID: 7bd2fc7a-93dd-9081-6d98-3e28fdebe342
* Content: [Set up conditional ac

[2020-12-23 18:26] chwakims opened #3792 "*.pods.officeapps.live.com is required endpoint for Microsoft Teams"
[Enter feedback here]
It seems that Microsoft Teams need to access *.pods.officeapps.live.com for sharing PPT content in meeting, but the endpoint is not listed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66bd8666-3566-a901-b25b-eb6baba6264a
* Version Independent ID: e9f6310f-2207-8c81-d31a-3d5a80beb26b
* Content:

[2020-12-23 19:56] Raees29 opened #3793 "Need organize excel sheet for permission"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5b34b5c8-b67e-72f2-0eba-d98b760f1d16
* Version Independent ID: adcd41fb-ffd1-f6d0-96ad-0036c0a677a7
* Content: [Permissions - Security & Compliance Center - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/permis

[2020-12-23 20:15] AdamNSTA commented on #3791
https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3794

[2020-12-23 20:29] jlgill opened #3795 "Inaccurate product description"
I have a user with Microsoft 365 Apps for Business License and Exchange Online Plan 1 and they are able to utilize OME.  According to the product description I need to either have 'Office 365 Message Encryption is offered as part of Office 365 Enterprise E3 and E5, Microsoft Enterprise E3 and E5, Microsoft 365 Business Premium, Office 365 A1, A3, and A5, and Office 365 Government G3 and G5' or add

[2020-12-23 20:37] markjjo commented on #3787
@shrikantdatke I'm not 100% sure that email deleted by a deletion policy generate audit records, but I would suggest that you search for [SoftDelete and HardDelete mailbox activities](https://docs.microsoft.com/en-us/microsoft-365/compliance/search-the-audit-log-in-security-and-compliance?view=o365-worldwide#exchange-mailbox-activities) (leaving the user field blank to return all records in the da

[2020-12-23 20:37] #3787 closed

[2020-12-23 20:43] markjjo commented on #3772
@takawazo It might be that we need to added this event to the documentation. Can you email me a ListItemViewed audit record to my corp account (including the RecordType enum value) and the search you ran to return it and I will try to follow up with the SPO engineering team.

[2020-12-23 20:43] #3772 closed

[2020-12-24 08:31] mehmetergulcuozu opened #3796 "This page is updated after 04/29/2020 but this value is not changing it is confusing"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5de1e69c-aee8-2cd4-3f69-5288253d9b2a
* Version Independent ID: 3bcee52a-c7be-6ce3-05a9-2409ec30661c
* Content: [Additional endpoints not included in the Office 365 IP Address and URL Web service - Microsoft 365 Enterprise](https://docs.microsoft.com/e

[2020-12-24 13:13] yogkumgit commented on #3766
@msbemba Thank you very much for the contribution and sharing this explanation. @Mark-Cates Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-24 13:13] #3766 closed

[2020-12-24 13:26] msbemba commented on #3790
@clfilipe Thank you for the feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3797

Thanks
Sri

[2020-12-24 13:32] msbemba commented on #3785
@LudwigWurmannstaetter Thank you for your feedback. We have added a note to the section mentioning the importance. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3798

Thanks
Sri

[2020-12-24 13:35] msbemba commented on #3783
@AlfredoLarracuente Thank you for your feedback. For any mailbox moving from a source organization, you must provision a MailUser object in the Target organization: The ExchangeGUID needs to be set on the new mail user object in the target tenant. You can use Set-MailUser -identity abcd@contoso.com -Exchangeguid ***

Hope this helps!

Thanks
Sri

[2020-12-24 13:39] msbemba commented on #3780
@andydedeckker Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3799

Thanks
Sri

[2020-12-24 13:45] msbemba commented on #3779
@GRJ78 Thank you for your feedback. The source tenant does not need an endpoint. however, it needs to have an Organizationrelationship setup.

Use the PS cmdlets in both source and target to check if the organization relationships in both source and target tenants and migration endpoint in the target were created successfully.

https://docs.microsoft.com/en-us/microsoft-365/enterprise/cross-tenant

[2020-12-24 13:49] msbemba commented on #3778
@GRJ78 Thank you for your feedback. The endpoint is supposed to be created only in the target as this is a pull move. You can use the PS cmdlet Get-MigrationEndpoint Idenityoftheendpoint | fl Identity, RemoteTenant, ApplicationId, AppSecretKeyVaultUrl to check.

I'd recommend contacting Support via the Need help section on the admin center to assist you in creating the correct endpoints and organi

[2020-12-24 13:51] msbemba commented on #3771
@gurubn Thank you for your feedback. While I don't think this is possible, I'll test this and provide you an update.

Thanks
Sri

[2020-12-24 14:07] msbemba commented on #3770
@paulomorgado Thank you for your feedback. We have added a link to a related document at the bottom of this page for reference. PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3800

Thanks
Sri

[2020-12-24 15:35] GRJ78 commented on #3778
Hi Sri,

Thanks for that information. The organizational relationships are in place as is the endpoint in the target tenant. What I was doing wrong is that I was trying to initiate the migration from the admin portal of the source tenant. I tried to do the same from the target tenant and it is working.
Nonetheless, I will have to contact support since the migration batch got stuck at "syncing" sta

[2020-12-24 16:24] msbemba commented on #3778
@GRJ78 Thank you for the update. Sometimes the syncing state could also be due to throttling, so support can help increase the limit.

@yogkumgit There are no changes required in this document and the issue can be closed.

Thanks
Sri

[2020-12-24 18:33] haydanbarry opened #3801 "Portal Links Change"
This guide describes using the Security & Compliance Audit Log to identify 'Consent To Application' activities. I couldn't find this activity in the S&C or in the Compliance audit logs. However, I was able to find this activity in the Azure Audit Log.
Please update this guide to indicate that the Azure Audit Log is the place to go to find this activity.
Thanks

---
#### Document Details

⚠ *Do not

[2020-12-25 12:35] yogkumgit commented on #3778
@msbemba Thank you very much for the contribution and sharing this explanation. @GRJ78 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-25 12:35] #3778 closed

[2020-12-25 14:06] DEberhardt commented on #3759
Workaround / proposed Example:

Skype & Teams put together in reverse order. This enables Single-Sign-on for Skype, however, if connected to multiple tenants, a Popup is still shown by New-CsOnlineSession because a Username cannot be passed to the command

[code]

[2020-12-26 09:51] msbemba commented on #3769
@ACarlockAKA Thank you for your feedback. Apps and resources that depend on Active Directory machine authentication don't work because Azure AD joined devices don't have a computer object in AD.I have updated the document accordingly via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3802

[2020-12-26 09:57] msbemba commented on #3764
@hugo-costa Thank you for your feedback. You are correct! The Spoofintelligence insight in Microsoft defender  is different and more details about it can be found here - https://docs.microsoft.com/microsoft-365/security/office-365-security/walkthrough-spoof-intelligence-insight?view=o365-worldwide

Hope this helps!

@yogkumgit There are no changes required in this document and the issue can be clo

[2020-12-26 10:06] msbemba commented on #3740
@FrankPlawetzki Thank you for your feedback. You are correct,  We have added that part in the document -- Anti-spam policies are still honored as secure by default is not a full takeover of your available options for high confidence phishing messages in anti-spam policies. Although we recommend Quarantine, the other actions that have always been available are still available (Move to Junk Email fo

[2020-12-26 11:35] msbemba commented on #3756
@jvedmls Thank you for your feedback. I reviewed the document and found that the section "Some common approaches and their negative impacts" is followed by "Successful Patterns" in which we have stated "In contrast, here are some recommendations in encouraging password diversity" So I don't think users would get confused between these two.

Hope this helps!

CC: @kwekuako
@yogkumgit There are no c

[2020-12-26 11:36] msbemba commented on #3758
@MikeParker365 Thank you for your feedback. I'm sure the PDL is honored. However,  I'm working with the author about this and will update you shortly.

Thanks
Sri

[2020-12-26 11:40] msbemba commented on #3758
Greetings @markjjo

The document states that Cloud-based storage is provisioned in the same datacenter as your organization.  I could not find any reference materials related to the Data stored in a multi-geo scenario. Afaik, the PDL for individual users is honoured in a multi-geo scenario. Could you please confirm this so that I can add more information to the document?

Thanks
Sri

[2020-12-26 11:46] msbemba commented on #3728
@kzbierski Thank you for your feedback. We have made changes to the document and the same can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3803

Thanks
Sri

[2020-12-26 11:51] msbemba commented on #3726
@lfzn2 This sounds more like a bug to me as there are no restrictions to be able to send and receive SMS. I'd recommend you contact the support team via the need help section on the m365 admin center.

Thanks
Sri

[2020-12-26 19:29] paulomorgado commented on #3770
I'm sorry, @msbemba, but there must be more than SMTP, POP and IMAP protocols in there.

This is the list I compiled from [IANA](https://www.iana.org/assignments/service-names-port-numbers):

Port Number|Transport Protocol|Service Name|Description
-:|--|--|--
25|tcp|smtp|Simple Mail Transfer
80|tcp|http|World Wide Web HTTP
80|tcp|www|World Wide Web HTTP
80|tcp|www-http|World Wide Web HTTP
143|tcp|

[2020-12-27 21:53] msbemba commented on #3770
@JoeDavies-MSFT These are some common protocols with descriptions and port numbers. Let me know if this can be added to the document.

Thanks
Sri

[2020-12-27 22:19] msbemba commented on #3771
@gurubn Thank you for your feedback. This is currently not possible and we have a UserVoice open for this -https://office365.uservoice.com/forums/286611-microsoft-365-groups/suggestions/20487847-customize-group-expiration-email and the product group is already looking at a few options to see how we can solve this problem.

@yogkumgit There are no changes in the document. This issue can be closed.

[2020-12-27 23:19] paulomorgado commented on #3770
Like I said, some customers require that information because they also filter protocols.

[2020-12-28 07:19] ClientAdmin opened #3804 "User and device sync for subscription activation"
Hi all,
I'm trying to get a special information and cannot find it anywhere. Do the user object and the device object have to be synced to the same Azure AD (tenant) to be able to use subscription activation? For example lets take the user named Peter and a device named W10TestDevice. The device is Azure AD joined to tenant A. The user Peter is synced to Azure AD of tenant B. Can subscription acti

[2020-12-28 09:38] yogkumgit commented on #3764
@msbemba Thank you very much for the contribution and sharing this explanation. @hugo-costa Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-28 09:38] #3764 closed

[2020-12-28 09:41] yogkumgit commented on #3740
@msbemba Thank you very much for the contribution and sharing this explanation. @FrankPlawetzki Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-28 09:42] #3740 closed

[2020-12-28 09:44] yogkumgit commented on #3756
@msbemba Thank you very much for the contribution and sharing this explanation. @jvedmls Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-28 09:44] #3756 closed

[2020-12-28 09:49] yogkumgit commented on #3758
@markjjo

[2020-12-28 09:57] yogkumgit commented on #3726
@kwekuako Please add your comment and close this issue.

[2020-12-28 10:01] yogkumgit commented on #3770
@JoeDavies-MSFT Please guide us. Thanks

[2020-12-28 10:02] yogkumgit commented on #3771
@msbemba Thank you very much for the contribution and sharing this explanation. @gurubn Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-28 10:02] #3771 closed

[2020-12-28 10:11] yogkumgit commented on #3760
@JoeDavies-MSFT Please guide and help us in closing this. Thanks.

[2020-12-28 10:14] yogkumgit commented on #3763
@chrfox Can you please help us here with comment. Thanks

[2020-12-28 10:19] yogkumgit commented on #3757
@KCCross Please help in resolving this issue. Thanks.

[2020-12-28 10:27] yogkumgit commented on #3783
@msbemba Thank you very much for the contribution and sharing this explanation. @AlfredoLarracuente Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-28 10:28] #3783 closed

[2020-12-28 10:29] yogkumgit commented on #3779
@msbemba Thank you very much for the contribution and sharing this explanation. @GRJ78 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-28 10:29] #3779 closed

[2020-12-28 10:33] yogkumgit commented on #3765
@msbemba Thank you very much for the contribution and sharing this explanation. @BryanAdvisicon Hope this comment is helpful for you, we appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue. If you see a documentation update is required, please feel free to reopen this issue. Thanks for taking out some

[2020-12-28 10:33] #3765 closed

[2020-12-28 10:36] yogkumgit commented on #3721
@msbemba Thank you very much for the contribution and sharing this explanation. @GMZephyr Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-28 10:36] #3721 closed

[2020-12-28 10:45] avEggHead opened #3805 "Very small grammar issue"
There are two 'that's in a row in the first paragraph.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7a02dd4-7f59-96d5-2586-3331c43ead5f
* Version Independent ID: 02324641-66cb-34e1-afc7-915e368b50f1
* Content: [Microsoft 365 for enterprise for the Contoso Corporation - Microsoft 365 Enterprise](https://docs.microsof

[2020-12-28 11:53] SilviaEid commented on #2956
Hi Tina,

Thank you for the email. I can have a look at the German translations. Do you want me to check any of the documents under the link specifically, or all of them (as far as I can)?

Best regards,

Silvia Eid
LicenseQ Team - German

From: Tina McNaboe [mailto:notifications@github.com]
Sent: Tuesday, December 8, 2020 3:44 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.gi

[2020-12-28 12:21] SilviaEid commented on #2956
Hi Tina,

I would also like to know if you need the feedback to be provided via the feedback link on the website, or by another method?

Best regards,

Silvia

From: Silvia Eid (Arvato Direct Services)
Sent: Monday, December 28, 2020 12:54 PM
To: MicrosoftDocs/microsoft-365-docs <reply@reply.github.com>; MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Mention <mention@

[2020-12-28 21:23] Canis-Lupis opened #3806 "TLS Confusion"
Hello. I'm a bit confused on if TLS is used to encrypt email by default in Exchange or not.  In the second section, it states "In the service, encryption is used in Microsoft 365 by default; you don't have to configure anything. For example, Microsoft 365 uses Transport Layer Security (TLS) to encrypt the connection, or session, between two servers."  If this is true, then why would we need OME, I

[2020-12-28 22:31] KCCross commented on #2545
Yes, Brijesh is the person to ask for this information. Brijesh, please review this issue and make recommendations for updates.

[2020-12-28 22:45] KCCross commented on #3343
Added

[2020-12-28 22:45] #3343 closed

[2020-12-28 22:48] KCCross commented on #3757
Feedback noted as part of public preview. We have much more story to tell about how the new coverage is woven into the existing Customer Key story. Thank you for taking the time to send this.

[2020-12-28 22:48] #3757 closed

[2020-12-29 00:45] KCCross commented on #2545
Adding kelley vice for network discussion

[2020-12-29 00:47] brdesai commented on #2545
AKV access to EXO and SPO is granted by the customer by configuring Access Policy on AKV. The customer grants explicit access to EXO or SPO ServicePrincipal to perform get/wrap/unwrap operations.

Key Vault Auth options are described here: https://docs.microsoft.com/en-us/azure/key-vault/general/secure-your-key-vault#key-vault-authentication-options. Customer Key uses the application-only method f

[2020-12-29 01:02] TinaMcN commented on #2956
Hi @SilviaEid it would be great to get your feedback on the German translations on any of the Microsoft Teams articles https://docs.microsoft.com/de-de/microsoftteams/teams-overview.
Ideally it would be very helpful it you can try editing the files (using the Bearbeiten option).   This option is only available on the articles which are human translated.  Once you submit a suggestion this way, Volk

[2020-12-29 06:47] yogkumgit commented on #3790
@msbemba Thank you very much for the contribution and sharing this explanation. @clfilipe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 06:47] #3790 closed

[2020-12-29 06:52] yogkumgit commented on #3293
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mitanabe Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2020-12-29 06:52] #3293 closed

[2020-12-29 13:32] SilviaEid commented on #2956
Hi Tina,

Thank you for the information. I tried both options today, and I have one question about the editing of the human translated articles: Is it sufficient to click "Propose Changes", or is it necessary to use "Create pull request"?

Best regards,

Silvia

From: Tina McNaboe [mailto:notifications@github.com]
Sent: Tuesday, December 29, 2020 2:03 AM
To: MicrosoftDocs/microsoft-365-docs <micro

[2020-12-29 18:27] TinaMcN commented on #2956
@SilviaEid thank you so much, I see you created a number of detailed Issues - I'll take a close look at them next week when I'm back from vacation.    For the editing it is necessary to click "Create pull request" so that we can see them.
Best wishes,
Tina

[2020-12-29 19:38] bhaslip opened #3808 "Verified publisher for cross tenant applications"
We are running into an issue where Microsoft now requires publisher verification for cross tenant applications. This is especially detrimental for consumers of application that are not a part of the Microsoft Partner Network. This leaves them no way to consent to the application in the source tenant. Any work arounds that you are aware of?

[2020-12-29 23:23] fixx-er opened #3810 "OneDrive and SharePoint sharing is affected with another solution"
[Enter feedback here]
I went through the steps and the share choices were still grayed out.  I am check the following tomorrow, but I think this page should include the below reference.  It would save people a lot of time and trouble.  One person said if we cant fix this he will get fired.  I think he was half serious, but still.

https://docs.microsoft.com/en-us/sharepoint/troubleshoot/administra

[2020-12-30 09:39] Michal-Witwicki opened #3812 "URL missing"
URL for AD Azure Connect is missing from the website: https://docs.microsoft.com/pl-pl/azure/active-directory/hybrid/tshoot-connect-connectivity#troubleshoot-connectivity-issues-in-the-installation-wizard

* .www.d-trust.net
* .root-c3-ca2-2009.ocsp.d-trust.net
* .oneocsp.microsoft.com

URLs on the website https://docs.microsoft.com/pl-pl/azure/active-directory/hybrid/tshoot-connect-connectivity#t

[2020-12-30 10:13] gitdevmod opened #3813 "office-365-worldwide-endpoints Missing IP Range for smtp.office365.com"
smtp.office365.com seems not up to date:
52.98, 52.97, 40.100 are not listed and maybe more
Thanks

Serveur :   dns.google
Address:  8.8.8.8

Réponse ne faisant pas autorité :
Nom :    LHR-efz.ms-acdc.office.com
Addresses:  2603:1026:c06:22::2
          2603:1026:c06:2e::2
          2603:1026:c06:1419::2
          2603:1026:c06:1d::2
          52.98.145.66
          52.97.211.242
          52.97.1

[2020-12-30 13:02] yogkumgit commented on #3808
@bhaslip please indicate, which document you are referring to. Thanks.

[2020-12-30 15:47] amondelloSP commented on #3755
HI @yogkumgit  I find this VERY confusing:

Uses AI Builder credits - 1M credits = 2000 pages; Consumption is about 2000 invoices=2 units.

The first part of the sentence says to me that ingesting 2,000 document pages uses up 1 million credits.
The second part is a mystery - what do "Units" have to do with pages or credits?

Can you please clarify? Thank you!

[2020-12-31 09:52] carry2web opened #3815 "SharePoint's own internals combined and minified?"
What about the javascripts and CSS of SharePoint internal webparts - are those combined and minified?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eea369bc-1eca-8279-fd5d-8615d4b8c4f0
* Version Independent ID: 9891ab3e-82dc-4823-34b3-9c893471d24f
* Content: [Minification and bundling in SharePoint Online - Microsoft

[2020-12-31 21:08] bderiso opened #3816 "How to Add Users later"
How can we properly "add users" later? After the wizard is finished, it's not obvious how to replicate that access,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db2dbb29-38c4-afe4-bc0d-3bbc195f6288
* Version Independent ID: bcfee113-ecfe-e358-974e-6f9cd76b8d35
* Content: [Create a shared mailbox - Microsoft 365 admin

[2021-01-01 04:01] thedxt opened #3817 "Microsoft Azure Datacenter IP Ranges link"
Microsoft Azure Datacenter IP Ranges link goes to the deprecated one that was deprecated June 30, 2020.

The correct links should be

Public: https://www.microsoft.com/en-us/download/details.aspx?id=56519
US Gov: http://www.microsoft.com/en-us/download/details.aspx?id=57063
Germany: http://www.microsoft.com/en-us/download/details.aspx?id=57064
China: http://www.microsoft.com/en-us/download/details

[2021-01-02 13:30] robinpoulose1 opened #3820 "On the Permissions tab, you can assign roles to users to pay invoices. | there is no permission tab | share screenshot"
[Enter feedback here]

On the Permissions tab, you can assign roles to users to pay invoices. | there is no permission tab | share screenshot
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9acd5a2f-9048-c5d2-0455-69f80f5e469e
* Version Independent ID: a832f7d9-57be-0742-7eca-7a47b34f85ec
* Content: [Understand billing p

[2021-01-02 13:31] robinpoulose1 commented on #3820
As per the sentence " On the Permissions tab, you can assign roles to users to pay invoices. "   there is no such permission tab to change the role.
Please share the screenshot of the permission tab

[2021-01-03 12:41] sigurddev commented on #1521
I don't think there is another way anymore. It used to be there in the past then suddenly Powershell was needed. That worked, but then a new url was needed to run the scripts, which worked too, but now both does not work anymore on my Windows 10 and neither on my Linux with PowerShell for Linux installed. How can a self-employed person that wants to use a normal security feature set up Office 365

[2021-01-04 07:47] icelava opened #3821 "Role access"
I was given temporary Global Administrator role so I could, on top of other things, access the various security centers. Since many pages stated Security Administrator is enough, I assigned that role permanently. But now that my Global admin role has expired, I've lost the Incidents and Action center sections; does that mean Security Administrator is not enough?

---
#### Document Details

⚠ *Do n

[2021-01-04 08:31] icelava opened #3822 "Getting Microsoft Defender for Identity data"
The link https://docs.microsoft.com/en-us/cloud-app-security/aatp-integration is 404.

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a7f625c-f3ef-882d-231f-6fef18e14137
* Version Independent ID: 3f335d54-6d65-d49a-e517-2c3a9a95e44d
* Content: [Turn on Microsoft 365 Defender in the Microsoft 365 security center - Micro

[2021-01-04 09:28] icelava commented on #3821
Nvm looks like the lost of those feature sets are very likely related to the expiry of our M365 E5 trial; couldn't tell when exactly the expiry date was and what schedule all these services sync themselves with, since I was the one who conducted the E5 trial process.

[2021-01-04 09:28] #3821 closed

[2021-01-04 12:05] gfard opened #3825 "Text content inconsistency"
in the content it is mentioned that:
"The message is marked and treated as spoof, because spoofing has a higher priority (4) than user impersonation (8)."
The mistake is in the 8th priority of UIMP.

However from the main table we see that the User Impersonation is in the (5) 5th Priority and not in the 8th.

Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-01-04 14:19] yogkumgit commented on #3808
@bhaslip We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2021-01-04 14:19] #3808 closed

[2021-01-04 14:49] Inbalsas opened #3826 "Add the Security portal URL to the article"
[Enter feedback here]
In "Required permissions to access items in content explore" section [https://docs.microsoft.com/en-us/microsoft-365/compliance/data-classification-content-explorer?view=o365-worldwide#required-permissions-to-access-items-in-content-explorer]
Please add the Security Portal URL: https://protection.office.com/permissions
In order to grant Content Explorer List viewer or Content

[2021-01-04 16:03] PatrickMessierGoC opened #3827 ""unsubscribe.bulkmailer.com" example is both listed as correct and incorrect"
In the section https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/troubleshooting-mail-sent-to-office-365?view=o365-worldwide#ensure-that-email-message-content-is-transparent-and-traceable

The "unsubscribe.bulkmailer.com" example is both listed as correct and incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-04 16:19] GMZephyr commented on #3721
Hi,
The submission policy is correct (Report To Microsoft) - this appears to be a bug, and I have created a support ticket.  Thanks for the help!

[2021-01-04 17:35] kwekuako commented on #3726
Not a content issue. Following up with product support.

[2021-01-04 17:35] #3726 closed

[2021-01-04 17:48] Sirkkuw commented on #3715
@msbemba Looking into this. Will let you know. Definitely looks like the UI has been updated.

[2021-01-04 18:31] chrisda commented on #3780
PR #3799 merged. Thanks for the feedback.

Closing

[2021-01-04 18:31] #3780 closed

[2021-01-04 22:11] StuBeck32 opened #3830 "Error after copying links to consent URI"
I receive the following error after accepting the links in both the source and destination tenants, and then pressing enter on the powershell.

Send-AdminConsentUri : Could not retrieve a token for invitation manager api call
At C:\Scripts\Migration\SetupCrossTenantRelationshipForTargetTenant.ps1:217 char:9
+         Send-AdminConsentUri $TargetTenantDomain $ResourceTenantDomai ...
+         ~~~~~

[2021-01-04 22:30] chrisda commented on #3825
@gfard, confirmed. A very knowledgeable party updated the table to match current reality, but we forgot to check the rest of the content for the implications of the table update. I fixed the incorrect text.

In the future, you too can make corrections like this without opening an Issue. Check out <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

[2021-01-04 22:30] #3825 closed

[2021-01-04 22:42] chrisda commented on #3827
@PatrickMessierGoC, I think I see what's going on (although it took me a minute):

The 'correct' redirects/links are correct because they all use the same domain (bulkmailer.com). The 'incorrect' redirect/links are incorrect because they all use different domains. The fact that bulkmailer.com appears under 'incorrect' isn't so important; what's important is bulkmailer.com is different than excite.

[2021-01-04 22:42] #3827 closed

[2021-01-04 23:51] chrisda commented on #3793
@Raees29, we keep the information in regular content so it can be localized into other languages.

Apparently, one of the issues that makes copy/paste from the topic into Excel is the carriage return between each value in the third column of the tables. That carriage return is important for clarity on the page. Without them, each entry runs together and it's hard to see the distinct values.

[2021-01-05 00:35] chrisda commented on #3822
@icelava, confirmed. Apparently, the correct link is (now)  <https://docs.microsoft.com/cloud-app-security/mdi-integration>. I updated the link in this topic and three other affected topics.

Thanks for the feedback.

Closing

[2021-01-05 00:35] #3822 closed

[2021-01-05 00:47] chrisda commented on #3713
@msbemba, @yogkumgit, I confirmed in a PROD (no flighting) E5 tenant that  _EnableAntispoofEnforcement_ is gone, and _EnableSpoofIntelligence_ exists. The cmdlet reference topics have been updated in the PowerShell repo per the earlier referenced 7001 pull request.

So, I updated the references in this topic, and in two other topics in the repo.

Thanks for the feedback.

Closing

[2021-01-05 00:47] #3713 closed

[2021-01-05 00:49] chrisda commented on #3685
Question answered. Closing

[2021-01-05 00:49] #3685 closed

[2021-01-05 00:49] chrisda commented on #3677
Closing

[2021-01-05 00:49] #3677 closed

[2021-01-05 00:50] chrisda commented on #3659
I inspected and updated the topic 3+ weeks ago. Closing

[2021-01-05 00:50] #3659 closed

[2021-01-05 00:51] chrisda commented on #3624
Closing

[2021-01-05 00:51] #3624 closed

[2021-01-05 00:56] chrisda commented on #3282
@vpatton777, I don't think we can go into much detail without revealing methods that might help attackers. It's likely a combination of file type, files of similar name/type/fingerprint that were reported as malware by others in the service, frequency/rate of similar files uploaded throughout the service, etc.

The important point is: not all uploaded files are automatically scanned.

[2021-01-05 00:57] chrisda commented on #3128
Closing

[2021-01-05 00:57] #3128 closed

[2021-01-05 01:03] nikki-c opened #3831 "Incorrect url in section Track your message center tasks in Planner"
In the section Track your message center tasks in Planner

The link  Track your message center tasks in Planner. point to url https://docs.microsoft.comoffice365/planner/track-message-center-tasks-planner. This url is incorrect and showing an error.
The correct url is https://docs.microsoft.com/en-us/office365/planner/track-message-center-tasks-planner

---
#### Document Details

⚠ *Do not edit th

[2021-01-05 03:28] leenana365888 opened #3832 "Virus Protection or Malware Protection"
This article talks about the built-in virus protection in SPO.  Is it just virus protection or overall malware protection (as mentioned in this article: https://docs.microsoft.com/en-us/compliance/assurance/assurance-malware-and-ransomware-protection). Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9cd0ac5-204

[2021-01-05 09:44] msbemba commented on #3806
@Canis-Lupis Thank you for your feedback.

We recommend using TLS in situations where you want to set up a secure channel of correspondence between Microsoft and your on-premises organization or another organization, such as a partner. Exchange Online always attempts to use TLS first to secure your email but cannot always do this if the other party does not offer TLS security.

 For Exchange Onlin

[2021-01-05 10:23] yogkumgit commented on #3830
@StuBeck32 Please indicate which document you are referring to. Thanks.

[2021-01-05 10:28] yogkumgit commented on #3805
@avEggHead  Thank you very much for the contribution and updating the documentation with PR. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 10:28] #3805 closed

[2021-01-05 10:30] yogkumgit commented on #3743
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TheITguy666 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 10:30] #3743 closed

[2021-01-05 10:36] yogkumgit commented on #3559
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @RipRapRob Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 10:36] #3559 closed

[2021-01-05 10:39] yogkumgit commented on #3614
@msbemba Thank you very much for the contribution and updating the documentation with PR. @trudolf-msft Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 10:39] #3614 closed

[2021-01-05 10:42] yogkumgit commented on #3636
@msbemba Thank you very much for the contribution and updating the documentation with PR. @rsun0525 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 10:42] #3636 closed

[2021-01-05 10:56] yogkumgit commented on #3793
@chrisda  Thank you very much for sharing this explanation. @Raees29 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 10:56] #3793 closed

[2021-01-05 11:02] Lerritier opened #3833 "MFA Authentication : error (?) in exemple and posible amelioration"
Hello,

Two remarks for this article :
1) In all the exemples for the MFA authentication, in the section of code concerning Skype for Business Online you use the argument UserName in the CmdLet New-CsOnlineSession, This argument is not existing for the CmdLet out of MicrosoftTeams module.
2) In the exemple for "basic" authentication, you show a way to connect to all services by saving the credenti

[2021-01-05 11:12] yogkumgit commented on #3282
@chrisda Thank you very much for sharing this explanation. @vpatton777 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-05 11:12] #3282 closed

[2021-01-05 11:32] StuBeck32 commented on #3830
The first script.

Stuart
________________________________
From: Yogesh Kumar <notifications@github.com>
Sent: Tuesday, January 5, 2021 5:23:45 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: StuBeck32 <stuartbecktell@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Error after copying links to consent URI (#3830

[2021-01-05 12:07] yogkumgit commented on #3813
@gitdevmod Please indicate which document you are referring to. Thanks

[2021-01-05 13:03] DeanGross opened #3834 "Please update"
I have seen many announcements about changes during the past few months but they are not listed here. Please update this What's New page

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac42403c-4226-bec2-986d-2e8a67e7c66d
* Version Independent ID: e8e0b323-ee46-f8e7-fe99-cbee91697213
* Content: [What's new in Microsoft

[2021-01-05 13:09] bertrandpons opened #3835 "DMARC reports"
Hello,

You mention "the reports generated through DMARC will provide the numbers and sources of messages that pass these checks, and those that don't. You can easily see how much of your legitimate traffic is or isn't covered by them, and troubleshoot any problems."

Could you please indicate where we can see those reports?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It i

[2021-01-05 14:45] StuBeck32 commented on #3830
Never mind, selecting "This page" caused an error, I'll just create a new issue.

[2021-01-05 14:45] #3830 closed

[2021-01-05 14:49] StuBeck32 opened #3836 "Error after copying links to consent URI"
I receive the following error after accepting the links in both the source and destination tenants in the SetupCrossTenantRelationsForTargetTenant script and then pressing enter on the powershell.

Send-AdminConsentUri : Could not retrieve a token for invitation manager api call
At C:\Scripts\Migration\SetupCrossTenantRelationshipForTargetTenant.ps1:217 char:9

It appears to be failing to send the

[2021-01-05 16:05] msbemba commented on #3806
The connection is private (or secure) because symmetric cryptography is used to encrypt the data transmitted. The email is not encrypted but just the connection.

[2021-01-05 19:48] deividfoggi opened #3840 "Improve explanation of retention policy specific inclusion/exclusion limits"
Consider the following section: A policy with specific inclusions or exclusions

The statement says that every time we use specific locations we cannot exceed 1000 mailboxes per inclusion/exclusion. I noticed that it doesn't make clear that you can workaround by using groups and also that there is a possibility of to create multiple retention policies to satisfy the need to apply the same retentio

[2021-01-05 20:35] scyto opened #3843 "Missing scenario from how to reactivate M365 subscription instructions"
This document doesn't cover the scenario where the 'reactivate subscription' is greyed out.

This seems to occur if the subscription was a MAPS based subscription and is flagged as  commercial direct.
I am currently on a support call and even they do not know what i should do.

The partner center in UI guidance also doesn't cover this scenario - it says to use the extend button (which doesn't exis

[2021-01-05 21:26] scyto opened #3846 "please clarify if data is or isn't deleted with overlapping subscription"
I have two subscriptions like this (actually i have many like this, but lets use this as an example:
![image](https://user-images.githubusercontent.com/11369180/103700608-92e38500-4f59-11eb-8783-8d9cdf224472.png)

This came about because it is a commercial offer meaning subscription cannot be extended once it is expired.
So one has to activate a new subscription (the UI doesn't let one do anything

[2021-01-05 21:58] samanro commented on #3755
Hi - thanks again for your feedback. I have updated again, and included a link to the AI Builder explanations of credits and units. Hope that helps.

[2021-01-06 08:01] ekiswd opened #3849 "Availability should be highlighted at the start of this page"
It should be made clear that IMPORT of PST overall is only available in certain regions.

The context on this page makes it sound that the import service is available to all 365 subscribers when it is not. Not all 365 tenants have this privilege.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29f9f87e-6f96-9663-114a-f6

[2021-01-06 08:41] gitdevmod commented on #3813
https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide

[2021-01-06 08:57] mcmeeking opened #3850 "IP range for SPF examples is wrong"
IP range given for Exchange states that `ip4:23.103.224.0/19 ip4:206.191.224.0/19 ip4:40.103.0.0/16 include:spf.protection.outlook.com` covers Exchange Online emails, but emails are regularly sent from hosts outside that range.

Latest example of this for me was 40.107.14.44 and 40.107.13.74.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-06 09:30] msbemba commented on #3817
@thedxt Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3851

Thanks
Sri

[2021-01-06 09:35] msbemba commented on #3816
@bderiso Thank you for your feedback. We have made changes to the document and added more information about adding users via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3852.

Thanks
Sri

[2021-01-06 09:43] msbemba commented on #3810
@fixx-er Thank you for your feedback. The limited-access user permission lockdown mode affects Sharepoint online and one drive. I have also added this document as a reference article so that it helps users. This can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3853

Thanks
Sri

[2021-01-06 10:14] msbemba commented on #3820
@robinpoulose1 Thank you for your feedback. I shall work with the Author and Product group and provide you an update and modify the document if need be.

[2021-01-06 10:17] msbemba commented on #3820
@cmcatee-MSFT Could you please confirm if the permission tab was removed from the billing profiles? Unfortunately, I do not have a test tenant with the billing profiles feature as this is only available if you bought your subscription directly through Microsoft Sales.

Thanks
Sri

[2021-01-06 10:33] msbemba commented on #3804
@ClientAdmin Thank you for your feedback., Per design, the user and the device that he is trying to sign in for subscription activation must be synchronized with the same Azure AD.

Hope this helps!

Thanks
Sri

[2021-01-06 10:41] robinpoulose1 commented on #3820
But the document don't say specific to sales,  It still written as Microsoft ( which can be online purchase or partners ). User / customer are getting confused due to inadequate information.  Billing profile is there for all tenant but create new profile is not  there.
Link for billing profile :
https://admin.microsoft.com/Adminportal/Home?source=applauncher#/billoverview/billing-profiles

Please

[2021-01-06 10:42] robinpoulose1 commented on #3820
The last feedback submitted was for same issue and still the document is not updated.

[2021-01-06 10:51] msbemba commented on #3801
@haydanbarry Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3854

Thanks
Sri

[2021-01-06 10:59] msbemba commented on #3795
@jlgill Thank you for your feedback. This could be a bug on the customer's tenant as you need to have Azure Information Protection Plan 1 to be able to use the new OME features.

More details about subscriptions you need to use the new OME capabilities

https://docs.microsoft.com/en-us/microsoft-365/compliance/ome-faq?view=o365-worldwide#what-subscriptions-do-i-need-to-use-the-new-ome-capabilities

[2021-01-06 11:02] msbemba commented on #3792
@chwakims Thank you for the feedback. I'll work with the author to get this portion updated.

[2021-01-06 11:04] msbemba commented on #3792
@JoeDavies-MSFT We see *.online.office.com, *broadcast.officeapps.live.com, *excel.officeapps.live.com, *onenote.officeapps.live.com, *powerpoint.officeapps.live.com, *rtc.officeapps.live.com, *shared.officeapps.live.com, *view.officeapps.live.com, *visio.officeapps.live.com, *word-edit.officeapps.live.com. However,  *.pods.officeapps.live.com is missing from the endpoint list and it is required f

[2021-01-06 11:10] msbemba commented on #3796
@mehmetergulcuozu Thank you for your feedback. I have made some changes to the related docs on the page now via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3855. Once it is merged the Date will reflect correctly on the document.

Thanks
Sri

[2021-01-06 12:24] yogkumgit commented on #3806
@msbemba Thank you very much for the contribution and sharing this explanation. @Canis-Lupis Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-06 12:24] #3806 closed

[2021-01-06 12:51] thedxt commented on #3817
@msbemba oh sorry I wasn't sure how to link them I created PR##3818 for this already

[2021-01-06 12:56] hazemembaby opened #3856 "Add DG Upgrade to O365 Group Script to docs article"
[Enter feedback here]
Could we add the below steps automating each factor considered as a blocker for distribution group to office 365 group upgrade process clarified on the article(in addition to other factors ex.duplicate alias) to assist admins on that topic and our support engineers to detect group upgrade blockers in a fast & easy way, the script will log steps taken and an HTML status report

[2021-01-06 13:09] msbemba commented on #3817
Nice. I'll close the other PR to avoid confusion.

[2021-01-06 13:41] thedxt commented on #3817
thanks

[2021-01-06 15:38] s4parke opened #3857 "Describe permissions scheme for saved/shared queries"
It would be helpful to include a section describing what built-in roles & role groups allow users to (a) save and (b) share saved threat hunting queries.

For example, it is not clear whether the *Security Reader* role provides (a & b), just (a), or neither capability.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1b

[2021-01-06 16:47] StuBeck32 commented on #3836
The issue was that I was connecting to Azure AD before running the script. This caused the e-mail to not send for some reason. Annoyingly, the e-mail not sending should not be a cause for the script to bomb out, as the link given before this failure includes what is in the e-mail. Thus the link in the e-mail is redudent. Recommend the error be changed to "e-mail not sent, please give second link a

[2021-01-06 17:55] markjjo commented on #3849
@ekiswd The [FAQ section](https://docs.microsoft.com/en-us/microsoft-365/compliance/importing-pst-files-to-office-365?view=o365-worldwide#using-network-upload-to-import-pst-files) in the same article lists the regions that support PST Import.

[2021-01-06 17:55] #3849 closed

[2021-01-06 20:51] Radiergummi commented on #1521
@get-itips @MSFTTracyP @mypil I finally took the time to sort this out with MS365 support, which gave me the following answer (emphasis mine):

I see this as confirmation that the documentation is definitely outdated, wrong, and misleading. The only reason I care about this is because the whole thing _really_ got on my nerves and wasted lots of time, so could you _please_ get this sorted to spare

[2021-01-07 08:22] msbemba commented on #3850
@mcmeeking Thank you for your feedback. The Ip range mentioned is for Exchange online Dedicated customers only. For Normal Exchange online(Multitenant) all you need to use is include:spf.protection.outlook.com. This is common for all customers.

Hope this helps!

Thanks
Sri

[2021-01-07 08:26] msbemba commented on #3849
@markjjo Do you think this should be highlighted at the start of the page ?

Thanks
Sri

[2021-01-07 13:21] Larryngolog commented on #2545
Hi @brdesai just to clarify how I understand your answer - does it mean that the network location settings are not impacting how EXO and SPO access to AKV is granted and it will work regardless of which setting for AKV network location is being used?

[2021-01-07 14:18] mcmeeking commented on #3850
Thanks, that doesn't include the range that emails are regularly sent from though. Emails sent from 40.107.0.0/16 fail SPF if the record is only set to include:spf.protection.outlook.com

[2021-01-07 16:12] msbemba commented on #3831
@nikki-c Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3862

Thanks
Sri

[2021-01-07 16:34] msbemba commented on #3826
@Inbalsas Thank you for you feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3863

Thanks
Sri

[2021-01-07 17:31] JamesEdmonds89 opened #3865 "Advise way to make this a one click solution"
It would be great if the docs could advise a way to store this set of commands into a script that could be imported and run, from a fresh powershell window.
This would make accessing all of these services much easier, as it could be a one liner!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6adeef66-5e54-ba2f-37ac-c18

[2021-01-07 18:03] SquirrelAssassin opened #3866 "you forgot the root permission"
What permissions do you need to view the permissions tab in the first place?  We need to assign a service account to programmatically assign permissions to groups.  When we even ask another tech to take a look at them, they dont see the tab, they are already exchange admins / security administrators .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-01-07 18:04] markjjo commented on #3849
@msemba No, as per my comment. Sri, please contact me internally for inquires like this.

[2021-01-07 21:46] PaulEdlund opened #3869 "This page still references Skype for Business"
[Enter feedback here]
It seems like this page should have information for Teams instead of Skype for Business.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f2f2581-292d-a72b-0683-897eaac0adb0
* Version Independent ID: d10014a1-164d-1aea-635f-8c63da26b44c
* Content: [Service Encryption - Microsoft 365 Compliance](htt

[2021-01-07 22:16] mikewaretena opened #3870 "Inconsistent experience when environment is locked for group creation for Global Admins"
The phrase:

"The steps in this article won't prevent members of certain roles from creating Groups. Office 365 Global admins can create Groups via any means, such as the Microsoft 365 admin center, Planner, Teams, Exchange, and SharePoint Online. Other roles can create Groups via limited means, listed below."

gives me the impression that a Global admin will be able to go to the Teams client and

[2021-01-07 23:02] chrisda commented on #3866
@SquirrelAssassin, it's the Role Management role in the Security & Compliance Center that gives access to the Permissions tab. By default, that role is only assigned to the Organization Management role group. Members of this role group or the Global Administrators role in Azure AD are likely the only ones who can see the Permissions tab.

Your other option is to create a new role group, assign onl

[2021-01-07 23:23] paulbaber opened #3871 "Typo on this page "you to spam""
On this page, https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/create-safe-sender-lists-in-office-365?view=o365-worldwide, the text "that you to spam filtering" should probably be "that you make to spam filtering".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c900a9d1-897d-f7e9-6c58-a510edf

[2021-01-07 23:56] chrisda commented on #3871
@paulbaber, done. In the future, you too can make fixes like this directly without opening an Issue first. Fir instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2021-01-07 23:56] #3871 closed

[2021-01-08 00:15] ShadowSamauri opened #3872 "Office365 FQDN and IP Address Clarification"
Hi,

Thanks for providing all this information. I can clearly see that a lot of effort has been invested in putting this together and keeping it accurate.

Forgive me if I’ve missed/overlooked what I was looking for, however I think the Office365 URL and IP Address document would benefit from a statement clarifying how to interpret the document when both FQDNs/wildcard domain names and IP addresse

[2021-01-08 00:23] #3872 closed

[2021-01-08 00:26] ShadowSamauri opened #3873 "Office365 IP Address and URL query"
Hi,

Thanks for providing all this information. I can clearly see that a lot of effort has been invested in putting this together and keeping it accurate.

Forgive me if I’ve missed/overlooked what I was looking for, however I think the Office365 URL and IP Address document would benefit from a statement clarifying how to interpret the document when both FQDNs/wildcard domain names and IP addresse

[2021-01-08 00:30] ShadowSamauri commented on #3872
Closed as new issue created and linked to document

[2021-01-08 02:02] brdesai commented on #2545
EXO and SPO Customer Key should function independent of the AKV network settings as long as the services are granted explicit permission to perform get/wrap/unwrap operations using AKV as called out in the documentation.

[2021-01-08 05:35] SquirrelAssassin commented on #3866
This is perfect thanks!

[2021-01-08 05:35] #3866 closed

[2021-01-08 08:27] msbemba commented on #3849
Thank you @markjjo  I'll do that.

[2021-01-08 08:30] msbemba commented on #3850
@mcmeeking Ideally it should not fail SPF as long as it is sent from the exchange online mailbox. There is no such IP address that needs to be added to your SPF record while using M365 services. I'd recommend you to contact the support team via the Need help option on the admin center to identify and troubleshoot this issue.

If you still think there are modifications needed on this document, let

[2021-01-08 08:38] mcmeeking commented on #3850
I agree, that's why I raised this initially. I'll raise a ticket and get back to you.

[2021-01-08 08:47] msbemba commented on #3832
@leenana365888 Thank you for your feedback. The Built-in Virus protection is available in SPO, Onedirve, and Teams. However,  Microsoft 365 includes protection mechanisms to prevent malware from being introduced into Microsoft 365 as a service. Anti-malware software provides both preventive and detective control over malicious software. Where in the built-in anti-virus capabilities are a way to he

[2021-01-08 08:48] msbemba commented on #3834
@DeanGross Thank you for the feedback. I will work with the Author to get this updated.

[2021-01-08 08:49] msbemba commented on #3834
@mjcaparas Could you please provide details about updates and new features on Microsoft 365 Defender for the past 3-4 months so that I can update the document?

Thanks
Sri

[2021-01-08 08:50] msbemba commented on #3836
@StuBeck32 Thank you for your feedback. I'm testing this currently and will update accordingly.

Thanks
Sri

[2021-01-08 08:58] msbemba commented on #3840
@deividfoggi Thank you for your feedback. I have added information about the workaround. Once the author approves it will be live within the next 24-48 hours. The change can be tracked via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3876

Thanks
Sri

[2021-01-08 09:02] msbemba commented on #3835
@bertrandpons Thank you for your feedback. In order to receive DMARC aggregate reports an organization needs to create a DMARC record and publish it into the DNS. If you already have the record published, check for the record that contains an RUA tag (tag: rua=mailto:example@somedomain.com). This email address will be the endpoint for the DMARC reporting organization to send the DMARC aggregate re

[2021-01-08 09:13] msbemba commented on #3846
@scyto Thank you for your feedback. When you change plans/subscriptions within the 30day period and the plan has the same data-related services, or to a higher version, it ensures  that users don't lose data related to those services during the switch. This document pertains to closing the accounts/tenant so you don't see this information. More information about Subscription status can be found at

[2021-01-08 09:30] grzegorzwierzbicki opened #3877 "wildcards and non-default ports"
Hi
What about wildcards and non-default ports ?
Lets say I need to exclude contoso.com:444 - including all subdomains and paths
Will `*.contoso.com/*` work for this ??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8112b7a9-8f21-18b3-03da-f8c02b05f239
* Version Independent ID: a441f1d1-5844-ecb9-ba44-95b94714e4e8
* Con

[2021-01-08 09:48] leenana365888 commented on #3832
Thanks Sri!  Does this mean that the built-in protection available for docs in SPO, OneDrive, and Teams will only check for virus and not malware in general?  Many thanks!

[2021-01-08 13:54] msbemba commented on #3843
@scyto Thank you for your feedback. Global or billing admins can reactivate the subscription in the admin center if the subscription is in disabled status. As mentioned in the document, If you don't see Reactivate as an available action, call Support to reactivate your subscription as they can reactivate it in the backend. There could other issues and only support can help you in this case.

Let u

[2021-01-08 14:02] msbemba commented on #3856
@Sirkkuw I tested this module and it works as mentioned. Is it okay to add steps to this document as this module is available in the PowerShell gallery?

Link to the module- https://www.powershellgallery.com/packages/O365Troubleshooters/2.0.0.13

CC: @yogkumgit

Thanks
Sri

[2021-01-08 14:07] msbemba commented on #3813
@JoeDavies-MSFT Is there a way I can add the missing IPs to the addresses list for SMTP.office365.com? I remember you had once told me that this section is only accessed by PG and it is highly restricted content to modify.

Below are some of the IP's But there could be more that are missing, so if you can check with PG that would be great

52.98.145.66
52.97.211.242
52.97.133.226
40.100.175.146

T

[2021-01-08 14:16] yogkumgit commented on #3810
@msbemba Thank you very much for the contribution and updating the documentation with PR. @fixx-er Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-08 14:16] #3810 closed

[2021-01-08 14:34] yogkumgit commented on #3796
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mehmetergulcuozu Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-08 14:34] #3796 closed

[2021-01-08 14:54] yogkumgit commented on #2545
@brdesai Thank you very much for sharing this explanation. @Larryngolog Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-08 14:54] #2545 closed

[2021-01-08 14:57] Larryngolog commented on #2545
Thanks a lot, yes now all is clear.

[2021-01-08 16:16] r-milne opened #3879 "Update Exchange Version Reference"
Hi folks,

Can we update this bit with a reference to current Exchange.  It implies that I may be able to offboard to Exchange 2013 for example.

 Exchange organization. Auto-expanding archiving isn't supported for on-premises mailboxes in Exchange Server 2010.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a7c1600-c3

[2021-01-08 17:58] markjjo commented on #3879
@r-milne Will do, thanks for feedback. To be clear, auto-expanding archiving isn't supported for on-premises mailboxes for any version of Exchange Server.

[2021-01-08 17:58] #3879 closed

[2021-01-08 18:00] r-milne commented on #3879
Exactly- that is what should be explicitly stated.

From: Mark Johnson - MSFT <notifications@github.com>
Sent: January 8, 2021 12:59 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Rhoderick Milne (CE) <rmilne@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Update Exchange Version Reference (#3879)

@r-milne<h

[2021-01-08 18:53] slw07g opened #3881 "Can an admin block/hide an individual add-in from the Store?"
Can the docs explicitly mention whether it is possible at this time to block specific individual add-ins from being installed (as opposed to disallowing all add-ins).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d61e46dd-c1ff-dfec-5e0e-9f2e7251a5c1
* Version Independent ID: 49f69fa9-33e8-373f-a7f9-26b828510fda
* Cont

[2021-01-09 04:44] yogkumgit commented on #3831
@msbemba Thank you very much for the contribution and updating the documentation with PR. @nikki-c Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-09 04:44] #3831 closed

[2021-01-09 06:47] yogkumgit commented on #3795
@msbemba Thank you very much for the contribution and sharing this explanation. @jlgill Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-09 06:47] #3795 closed

[2021-01-09 11:34] sigurddev commented on #1521
I used this script on two domains and someone else did one with the same script. REPLACE the words in CAPITAL :)

[code]
When you get an error, you could use this command:
`Set-ExecutionPolicy RemoteSigned`
and run again.

To check the DKIM status
`Get-DkimSigningConfig -Identity DOMAINNAME`

Replace the DKIM keys with a new one:
`Rotate-DkimSigningConfig -Identity DOMAINNAME`

[2021-01-10 19:54] pbevis opened #3885 "Log retention for external users."
If would be useful the article could explicitly state the behaviour for external (guest) users. I assume from reading the article that they require a license but its not obvious. Could the article be updated to clarify?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e52e1877-191e-5dbe-b805-e755c736b985
* Version Indepe

[2021-01-11 08:03] msbemba commented on #3813
@gitdevmod Thank you for your feedback. I'm working with the author to get this updated.

[2021-01-11 08:09] msbemba commented on #3856
@hazemembaby Thank you for your feedback. While it works correctly. I don't think we can add information about the Module to this document. However, I shall check with the author and get back to you.

Thanks
Sri

[2021-01-11 09:19] JensStolle opened #3887 "Feed back about "important" Section"
You have a notice saying "The steps below assume that no other Outlook Web App (OWA) mailbox policies have been created in your organization." marked as important in the page. It would be great if it was explained why this is important. While the information on how to create and apply the Mailbox Policies are clear I am afraid to cause problems doing so because of this section. Can you please expl

[2021-01-11 10:20] Karlheinzrettig opened #3888 "Missing 2021 data"
In the MS Usage analytics I miss the 2021 data.
Can you leave a comment what could be the reason?
edback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ebdb9f0-76a5-eebc-4cd7-95f5407ed029
* Version Independent ID: 05abf201-e31c-08c0-a7fc-8fd46202e8b0
* Content: [Microsoft 365 usage analytics - Microsoft 365 admi

[2021-01-11 12:30] deeksha-microsoft opened #3889 "License requirement is taking too much page area"
Licensing requirement is taking too much page area which causes a lot of unnecessary scroll to get to the required section.
There could probably be a separate page for license requirement for all the solutions
![image](https://user-images.githubusercontent.com/58860268/104182899-27a52180-5437-11eb-8bdd-f98dc873af59.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-01-11 13:21] yogkumgit commented on #3815
@kelleyvice-msft Please add your comment and help us in resolving this issue. Thanks.

[2021-01-11 13:22] yogkumgit commented on #3812
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2021-01-11 13:27] yogkumgit commented on #3850
@msbemba  Thank you very much for the contribution and sharing this explanation. @mcmeeking Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-01-11 13:27] #3850 closed

[2021-01-11 13:33] yogkumgit commented on #3846
@msbemba Thank you very much for the contribution and sharing this explanation. @scyto Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-11 13:33] #3846 closed

[2021-01-11 13:37] yogkumgit commented on #3843
@msbemba  Thank you very much for the contribution and sharing this explanation. @scyto Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is req

[2021-01-11 13:37] #3843 closed

[2021-01-11 13:43] yogkumgit commented on #3835
@msbemba Thank you very much for the contribution and sharing this explanation. @bertrandpons Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-11 13:43] #3835 closed

[2021-01-11 16:00] yogkumgit commented on #3759
@JoeDavies-MSFT  Please add your comment and guide us in resolving this issue. Thanks.

[2021-01-11 17:26] JoeDavies-MSFT commented on #3812
@Michal-Witwicki The Office 365 URLs and IP address ranges - Microsoft 365 Enterprise article is for Microsoft 365 for enterprise endpoints and does not include Azure-specific endpoints. Thanks for letting us know.

[2021-01-11 17:26] #3812 closed

[2021-01-11 17:35] JoeDavies-MSFT commented on #3760
@MareleRechinAlb I have forwarded this issue to the team inside Microsoft responsible for the PDF creation function for their investigation. Thanks for letting us know.

[2021-01-11 17:35] #3760 closed

[2021-01-11 17:54] JoeDavies-MSFT commented on #3446
@virtualcomputerguy Sorry for the delay. I have asked the kit owner to take over this issue and provide assistance.

[2021-01-11 17:56] aka-cardz opened #3890 "Delegated administration for Microsoft Partners"
The role assignments under "Delegated administration for Microsoft Partners" no longer exist.

They've been moved to the partner portal.
https://partner.microsoft.com/en-us/dashboard/account/v3/usermanagement#users
Also, the role names are different. They are "Admin agent" and "Helpdesk agent".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-11 18:36] robmazz commented on #3889
@deeksha-microsoft - yes, agreed and worked on reformatting to list view instead of table. Should be live soon. Thanks!

[2021-01-11 18:36] #3889 closed

[2021-01-11 18:53] carry2web commented on #3815
When you look at the browser extension SharePoint Page Performance networks details.  In was suprised of the many requests made. Hence my question

[2021-01-11 19:19] JoeDavies-MSFT commented on #3813
@gitdevmod 52.98 and 52.97 are covered by the 52.96.0.0/14 range and 40.100 is covered by the 40.96.0.0/13 range.

[2021-01-11 19:19] #3813 closed

[2021-01-11 19:25] thedxt commented on #3817
Issue was solved with PR #3818 Merge

[2021-01-11 19:25] #3817 closed

[2021-01-11 19:37] JoeDavies-MSFT commented on #3744
@erictechtips I have submitted this request to the product team that manages these endpoints for their consideration in a future update. Thanks so much for letting us know.

[2021-01-11 19:37] #3744 closed

[2021-01-11 19:41] JoeDavies-MSFT commented on #3792
@chwakims I have forwarded this request to the product teams that maintain these lists for their consideration in a future update. Thanks so much for letting us know.

[2021-01-11 19:41] #3792 closed

[2021-01-11 23:09] jamilhaddadin opened #3893 "Cannot find content center site in my sharepoint admin center templates"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 03c7584f-82d8-8351-3634-a9f9eb06ab61
* Version Independent ID: d2367a72-2839-782f-4ef8-f8cb058098cf
* Content: [Create a content center in Microsoft SharePoint Syntex](https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/create-a-conten

[2021-01-11 23:36] markjjo commented on #3758
@MikeParker365 @msbemba You are both correct that cloud-based storage for on-premises users honors the PDL, **regardless of the geo-configuration**. In other words, if multi-geo or not, data is stored in PDL. I'm sure you both know this (I didn't) but the PreferredDataLocation (PDL) attribute in AAD is forward-synced to EXO/cloud as MailboxRegion.

@msbemba If you want to update the article and co

[2021-01-11 23:36] #3758 closed

[2021-01-12 00:37] jonwbstr opened #3895 "Can support expand the archive manually?"
According to the FAQ linked on this page, it doesn't seem like M365 support had the tools to manually expand the archive in 2018, and ingesting more than 100GB using a 3rd party tool was not supported at that time. See below for your convenience

**Can I ingest more than 100GB into the archive via a third party tool?**
This is quite a tricky one for us. We don’t officially support bulk ingestion o

[2021-01-12 04:01] jonwbstr commented on #3716
Yikes! thanks for sharing. Agreed, it would be very useful for this page to reference that article.

[2021-01-12 04:08] jonwbstr commented on #3895
I opened Case (23632685) and received the following response:

Also, the related blog talks about the autoexpanding happening when Managed Folder Attendant runs, so theoretically we could queue MFA and maybe get it to expand every ~7-14 days?

I'm not sure if admins can set the quota to 130GB or if that's restricted to MS support...

[2021-01-12 13:27] clintoj opened #3897 "No Calendar to select in list"
I only see Cortana under C in the services list and if I Search all settings I still can't find a calendar setting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b3bda19-af86-20e8-92c4-ccb0caee7cd2
* Version Independent ID: cc93f793-d8bf-e508-d1c1-ddada942623d
* Content: [Share calendars with external users - Microsof

[2021-01-12 19:24] Canis-Lupis opened #3898 "Unclear as to what is being accessed"
Step 4 states, "Email messages that were accessed are identified by their internet message Id." However, there isn't an internet message ID in the audit records.  There is an ItemInternetMessageID; is that the same thing?  If so, should it be blank? The audit we ran came back with non-synced, but MailAccessType:Bind records and not throttled results.  However, I see no internet messageIDs and Item

[2021-01-13 00:19] danfairscan opened #3899 "No love for Australia?"
Why is Australia left out?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cd9ad252-50c2-e9d6-9e1a-ab5efde15e60
* Version Independent ID: 7d82a046-e1e2-015f-cb09-27798701b131
* Content: [Overview of Contoso Corporation - Microsoft 365 Enterprise](https://docs.microsoft.com/en-us/microsoft-365/enterprise/contoso-overview

[2021-01-13 07:57] yogkumgit commented on #3840
@msbemba Thank you very much for the contribution and sharing this explanation. @deividfoggi Hope the comment added by Author is helpful for you.  We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-13 07:57] #3840 closed

[2021-01-13 08:06] yogkumgit commented on #3873
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2021-01-13 08:07] yogkumgit commented on #3893
@efrene  Please add your comment and help us in resolving this issue. Thanks.

[2021-01-13 09:00] msbemba commented on #3832
@leenana365888 That is correct. The built-in anti-virus capabilities are a way to help contain viruses. They aren't intended as a single point of defense against malware for your environment.

Thanks
Sri

[2021-01-13 15:46] msbemba commented on #3869
@PaulEdlund Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3901

Thanks
Sri

[2021-01-13 15:52] msbemba commented on #3870
@mikewaretena Thank you for your feedback. If the entire organization is locked for group creation, Admins in the roles listed below will retain the access to create groups and teams. This has been added to the document as well.

Exchange Administrator: Exchange Admin center, Azure AD
Partner Tier 1 Support: Microsoft 365 Admin center, Exchange Admin center, Azure AD
Partner Tier 2 Support: Micros

[2021-01-13 15:56] msbemba commented on #3877
@grzegorzwierzbicki Thank you for your feedback. I'm assuming you are referring to Block the following URLs. If so, Yes, *.contoso.com/* allows people to visit subdomains and paths in the specified domain.

Hope this helps!

Thanks
Sri

[2021-01-13 16:34] msbemba commented on #3881
@slw07g Thank you for your feedback I have researched and tested. Looks like there is no current mechanism, to hide or block individual add-ins by admin. Having said that you can request such features directly from the developers via https://officespdev.uservoice.com/ .

Hope this helps!

Thanks
Sri

[2021-01-13 16:44] msbemba commented on #3885
@pbevis Thank you for your feedback. All users including guests/external who are not assigned an Office 365 or Microsoft 365 E5 license or have a Microsoft 365 E5 Compliance or E5 eDiscovery licenses, their corresponding audit records are retained for 90 days. I have added this to the note via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3902

Thanks
Sri

[2021-01-13 16:49] msbemba commented on #3887
@JensStolle Thank you for your feedback.  A mailbox can only have one Outlook on the web mailbox policy applied to it. So That is why this is important. We have heard issues from customers stating that they created a new policy and applied but their old custom policy stopped working.

For more information on outlook on the web mailbox policies, you can visit - https://docs.microsoft.com/en-us/exch

[2021-01-13 17:01] msbemba commented on #3888
@Karlheinzrettig Thank you for your feedback. I tested in a couple of tenants and I was able to see 2021 data.

![image](https://user-images.githubusercontent.com/45987684/104483951-b4461000-55ee-11eb-8a1b-a4228eb2bdd4.png)

Also, check if the Data updated date shows a date in 2021, If not you can refresh the data set from the workspace.

![image](https://user-images.githubusercontent.com/45987684

[2021-01-13 17:06] msbemba commented on #3890
@aka-cardz Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3903

Thanks
Sri

[2021-01-13 17:08] efrene commented on #3893
Sorry for the delay in replying back to you.  First, can I ask you if you are able to access your default content center site that was created during setup? You can find this by going to your Microsoft 365 Admin Center, selecting Setup, going to the Files and content section, and then selecting the Manage button in "Automate content understanding".

[2021-01-13 17:23] msbemba commented on #3895
@jonwbstr Thank you for your feedback. There are no tools available to ingest more than 100GB of data. The 130Gb quota is generally not available for admin and/or support. However, the case might have been escalated to the Product group and the increase could have happened, So we do not want to explicitly mention that Microsoft support can increase the quota.

In general, It can take up to 30 days

[2021-01-13 17:25] msbemba commented on #3865
@JamesEdmonds89 Thank you for your feedback. Ideally, the copy button next to the PowerShell script can be used to copy the entire block and run it via Powershell.

You can Also open a PowerShell ISE window and paste the block and save it as a script if need be.

Hope this helps!

Thanks
Sri

[2021-01-13 17:36] msbemba commented on #3857
@s4parke Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3904 . Once the author validates and approves, you will be able to view the changes in the live document.

Thanks
Sri

[2021-01-13 17:46] msbemba commented on #3836
@StuBeck32 Thank you for your feedback. I tested the script on two test tenants and it seems to work as described in the document. However, I see your recommendation about the errors and that makes sense to continue with the script without bombing out. Please note that this is still in preview and once this goes live you will see a better mechanism of handling errors.

As mentioned, in the documen

[2021-01-13 17:56] msbemba commented on #3833
@Lerritier Thank you for your feedback.

1-  We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3905

2-  It is currently not possible to save the credentials if the account is enabled MFA. However, you can use an App password instead. App passwords allow replacing your regular account password and will enable an app to bypass multi-factor authenti

[2021-01-13 18:03] msbemba commented on #3758
@markjjo Thank you so much for confirming. I have added this scenario to the FAQ section via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3906

Thanks
Sri

[2021-01-13 18:12] markjjo commented on #3895
Closing issue. Also note that the MFA processes EXO mailboxes at least once every 7 days.

[2021-01-13 18:12] #3895 closed

[2021-01-13 18:31] markjjo commented on #3898
@Canis-Lupis In examples of MailItemsAccessed audit records, I see "Items" and "InternetMessageId" properties in the AuditData JSON object. No instances of ItemInternetMessageID. Possible that these are for mailbox items that are not email messages. Would suggest you open a ticket with MS Support.

As for the screeshot at bottom of page. I can't do anything about its size or your ability to zoom.

[2021-01-13 18:31] #3898 closed

[2021-01-13 18:42] markjjo commented on #3898
You might also check to see if the audit record identifies the folder where these items are located?

[2021-01-13 19:57] StuBeck32 commented on #3836
Just to clarify, the first script issue was when you are already connected to AzureAD through powershell, it doesn't run the rest of the script. Did you test that?

I'd also recommend putting instructions for cloud only users.
________________________________
From: Sriraman M S <notifications@github.com>
Sent: Wednesday, January 13, 2021 12:46 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365

[2021-01-13 19:58] rickjewell-msft opened #3907 "Add additional URL for SPO/ODFB"
[Enter feedback here]
Hello,
Can you please add the following URL to the SPO /ODFB section for GCCHigh, or the requests will time out to oneDrive.
*.officeapps.live.com

Thank you,
Rick Jewell
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0043b9f3-d91c-569f-1efc-720e4162c5e7
* Version Independent ID: 0289deef-82e4-5f56

[2021-01-13 20:05] giterdn opened #3908 "Define admin"
[Enter feedback here]

Please state which admin role can act as an admin.  It just says Admins can do this & that.  I have Office Admin and Global Reader roles, but I do not have the Global Admin role.  My admin roles do not let me manage Office add-ins.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e62dfa25-e420-38e4-

[2021-01-13 20:33] JLambEJG opened #3909 "Item missing, we are eligible as-per the article."
The article states that if the item is missing, then we are not eligible. However, in the eligibility section, it lists O365 E3, which is our primary license. We should be eligible, but the item is not available in our M365 admin UI for purchase.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3

[2021-01-13 20:39] Canis-Lupis commented on #3898
Yes, I can see the folders where the items were located and it looks like a list of the items accessed but the list isn't in English nor by InternetMessageID so I have no idea what they refer to.

________________________________
From: Mark Johnson - MSFT <notifications@github.com>
Sent: Wednesday, January 13, 2021 12:43 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.co

[2021-01-13 20:45] Sagamare opened #3910 "Commands given in the article needs correction"
Connect-AzureAD
$appId="bcf62038-e005-436d-b970-2a472f8c1982"
$sp=Get-**AzADServicePrincipal** -ServicePrincipalName $appId
if ($sp -eq $null) { New-AzADServicePrincipal -ApplicationId $appId }
Start-Process  "https://login.microsoftonline.com/common/adminconsent?client_id=$appId"

In above command ($sp=Get-AzADServicePrincipal -ServicePrincipalName $appId), it should be replaced with $sp=**Get-Az

[2021-01-13 20:48] #3910 closed

[2021-01-13 20:49] Sagamare commented on #3910
Please ignore

[2021-01-13 21:43] DeanGross opened #3911 "INconsistent Info"
The page states that Planner is not supported, however when I try to change the settings on one of my Plans, I can assign a sensitivity label. Please investigate and update the instructions as appropriate.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d40ac52-6f02-b0f3-0c45-9f359473703b
* Version Independent ID: 1083

[2021-01-13 22:01] cabailey commented on #3911
Will do, Dean - thanks for flagging

[2021-01-14 01:13] mikewaretena commented on #3870
Thank you for the quick reply, this is helpful!

Cheers,

Miguel

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Sriraman M S<mailto:notifications@github.com>
Sent: January 13, 2021 7:52 AM
To: MicrosoftDocs/microsoft-365-docs<mailto:microsoft-365-docs@noreply.github.com>
Cc: Miguel A. Tena<mailto:mikeware_tena@msn.com>; Mention<mailto:mention@noreply.github.c

[2021-01-14 06:49] yogkumgit commented on #3870
@msbemba Thank you very much for the contribution and sharing this explanation. @mikewaretena Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-14 06:50] #3870 closed

[2021-01-14 07:06] yogkumgit commented on #3893
@jamilhaddadin

[2021-01-14 07:17] yogkumgit commented on #3833
@msbemba Thank you very much for the contribution and updating the documentation with PR. @Lerritier Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-14 07:17] #3833 closed

[2021-01-14 11:52] mevaibhav83 opened #3912 "'Customize the email subject' topic missing"
[Enter feedback here]

'Customize the email subject' topic is missing so no idea how to customize, what are those variables to use to make subject email customization dynamic like 'customize the email text' topic where dynamic variables can be use.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0505aba8-2455-5390-b34b-

[2021-01-14 16:32] msbemba commented on #3836
@StuBeck32 I did not. As I  Create a Remote PowerShell connection to the source/Target tenant with your Exchange Administrator permissions.

[2021-01-14 16:51] Sweggle opened #3913 "Doesn't say whether it analyses the default policy?!"
The page doesn't say whether it analyses the 'default' Office365 AntiPhishing Policy, as i have a feeling like it doesn't?

I have configured the default policy with lots of good settings, but the configuration analyser still says these settings aren't set.

They have been set for a long time (months).

Therefore do i assume that this needs to say that the default policy isn't assessed?

---
####

[2021-01-14 17:07] jonwbstr opened #3914 "Addon license requirement?"
Where do we find out what licenses is add-on "Microsoft 365 E5 Compliance" and "E5 eDiscovery Audit" are available for?

There are two statements that refer to these add-on licenses:

and

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e52e1877-191e-5dbe-b805-e755c736b985
* Version Independent ID: 69df5ed6-a86f-06d7-115

[2021-01-14 18:05] markjjo commented on #3914
@jonwbstr I believe you can find the the add-on licenses that are available to your organization on the Billing ==> Purchase services page in the M365 admin center.

You can find more about what features are included in these add-ons in this download: https://www.microsoft.com/download/details.aspx?id=102427

We link to that download from this [service description](https://docs.microsoft.com/en-us

[2021-01-14 18:05] #3914 closed

[2021-01-14 18:35] chrisda commented on #3913
@Sweggle, I'm told that the Configuration Analyzer should analyze the default policy. Since it obviously isn't for you, you should open a support case.

[2021-01-14 19:27] cabailey commented on #3911
@DeanGross  It seems support has just started to roll out for Planner but not expected to complete for a few weeks. So what I've done is moved Planner from the "unsupported" list to "supported" and added the rolling out disclaimer for customers who don't yet see this option. Reviewed the other unsupported items and these remain accurate at this time.

Now the page is updated, closing this issue.

[2021-01-14 19:27] #3911 closed

[2021-01-14 19:32] jonwbstr opened #3915 "Follow up to #3914 because someone closed it"
In ticket #3914 I asked what license the add-on license is available for. The responder didn't answer the question and closed the ticket.

The tangled web of license add-on dependencies is almost as bad as the spiderweb of deciding what features are available in what product.

When talking about an add-on license, you are saying that the add-on license is available for the following Base licenses.

[2021-01-14 22:08] pbevis commented on #3885
Thanks for clarifying Sri.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sriraman M S <notifications@github.com>
Sent: Wednesday, January 13, 2021 4:45:01 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Paul Bevis <pbevis@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Log re

[2021-01-14 22:23] markjjo commented on #3885
Closing issue

[2021-01-14 22:23] #3885 closed

[2021-01-14 22:35] jonwbstr commented on #3915
I've been talking to account manager, they shared a slide deck with some useful stuff that also included confidential information.
They also directed me to the partner center to download the cloud reseller offer matrix
partner.microsoft.com > CSP > Sell > Pricing and offers > Cloud Reseller offer matrix

The matrix is not user friendly. Ended up using a powerbi dashboard to unpivot the dependancie

[2021-01-14 22:41] jonwbstr commented on #3915
The catalog says the eDiscovery and Audit license is NON-SPECIFIC so I don't believe it has a dependency. Suggesting the matrix is right, and doc incorrectly says it is an addon when it is not.

[2021-01-14 22:55] alathrop opened #3916 "Can't connect Bookings to Facebook"
I'd like to get specific instructions for connecting my Bookings account to Facebook.

This [page](https://www.microsoft.com/en-us/microsoft-365/blog/2016/10/19/connect-microsoft-bookings-to-your-facebook-page-and-grow-your-business/) has a [link](https://docs.microsoft.com/en-us/microsoft-365/bookings/bookings-overview?redirectSourcePath=%252fen-us%252farticle%252fConnect-Microsoft-Bookings-to-yo

[2021-01-14 23:19] alathrop opened #3917 "Trouble connecting Bookings to Facebook"
I was directed to this page for instructions to connect Bookings to my Facebook account. It does not have instructions and I cannot find them anywhere else.

Can you provide instructions to connect Bookings to Facebook?

Thanks,
Andy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adb53eb7-85a1-6aa0-dfd1-e2b54586008a
*

[2021-01-14 23:51] alathrop opened #3918 "Can't connect Bookings page to Facebook"
I landed on this page from a link that said it provides instructions for linking my Bookings page to Facebook - but there are no instructions here and I can't find them anywhere else. When I click on the "Connect" button in Bookings it also takes me to this page.

Can you provide instructions for connecting Bookings to Facebook?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2021-01-15 13:57] yogkumgit commented on #3890
@msbemba Thank you very much for the contribution and updating the documentation with PR. @aka-cardz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-15 13:57] #3890 closed

[2021-01-15 17:04] efrene commented on #3893
@jamilhaddadin - Just checking back with you on this. Are you still having issues with this?  If you are, please provide me more information on the issue.  Thanks

[2021-01-15 21:58] JoeDavies-MSFT commented on #3770
@paulomorgado   We can add a link to https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml at the bottom of the article. We cannot add protocol names to each of the TCP or UDP port numbers in each of the tables.

[2021-01-15 23:11] sinnamingrrl opened #3924 "Does Tenant Level Encryption for exchange online encrypt shared mailboxes and public folder mailboxes as well as standard user mailboxes?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18803bfa-118a-09ee-947b-abf1ee996b7a
* Version Independent ID: 87179b6d-d917-1aa9-259a-6f2de072c049
* Content: [Customer Key for Microsoft 365 at the tenant level (public preview) - Microsoft 365 Compliance](https://docs.microsoft.com/en-us/microsoft-

[2021-01-16 00:00] msbemba commented on #3770
Thank you @JoeDavies-MSFT . I have added it to the related topics via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3925

Thanks
Sri

[2021-01-16 00:31] ianwright1984 commented on #3403
The facts informing the comments here are correct, however, the conclusions are incorrect due to a missing piece of information.  Technically, yes, you can cover more than 60 users in different policies, but those would not all apply to different recipients.  Policy A can have one set of 60 users to cover for user impersonation protection, and Policy B can have another set of 60 users, but the rec

[2021-01-16 16:33] sksumner opened #3927 "Flow to Power Automate and Power BI reference please"
[Enter feedback here]

Please can we update to refer to Power Automate and not Flow on this page

Additionally there is no mention of Power BI which would seem logical to mention here. Even if its just a link to this page would be useful https://docs.microsoft.com/en-us/power-bi/admin/service-admin-premium-multi-geo

#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2021-01-17 13:52] yogkumgit commented on #3770
@msbemba Thank you very much for the contribution and updating the documentation with PR. @paulomorgado Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-17 13:52] #3770 closed

[2021-01-17 17:02] mcox13579 opened #3932 "Bad English Grammar, technical inaccuracies on Set up SharePoint Syntex page"
The Set up SharePoint Syntex page has multiple sentences with bad English grammar, technical inaccuracies and also an out-of-date screen shot.
![image](https://user-images.githubusercontent.com/12144220/104850125-19755c00-58a2-11eb-96a2-8836bf5e17e8.png)

The Screen shot of the "Configure form processing" page is out of date.
The incorrect screen shot is highlighted below:

![image](https://user-i

[2021-01-18 10:13] arranl148 opened #3933 "MDE Settings or Defender for Endpoint Settings"
A minor one:
Step "3 In the upper right corner of the screen, choose Defender for Endpoint Settings."

Would be clearer if it said either "Microsoft Defender for Endpoint Settings" or "Defender for Endpoint Settings (MDE Settings)"

Thx
A
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58031ac6-a7d

[2021-01-18 11:59] yogkumgit commented on #3613
@Navesai We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time to

[2021-01-18 11:59] #3613 closed

[2021-01-18 13:45] yogkumgit commented on #2069
@msbemba Thank you very much for the contribution and updating the documentation with PR. @klawrawkz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 13:45] #2069 closed

[2021-01-18 13:49] yogkumgit commented on #2737
@msbemba Thank you very much for the contribution and updating the documentation with PR. @carloreggiani Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 13:49] #2737 closed

[2021-01-18 14:18] yogkumgit commented on #2796
@andytuke-jisc However there is no discrepancy in the article still Carol will take this up internally. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 14:18] #2796 closed

[2021-01-18 14:20] yogkumgit commented on #2865
@msbemba Thank you very much for the contribution and updating the documentation with PR. @QuickBASIC Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 14:20] #2865 closed

[2021-01-18 14:23] #3251 closed

[2021-01-18 14:25] yogkumgit commented on #3296
@matuhinal We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-01-18 14:25] #3296 closed

[2021-01-18 14:32] yogkumgit commented on #3567
@msbemba Thank you very much for the contribution and updating the documentation with PR. @PhilGude Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 14:32] #3567 closed

[2021-01-18 14:37] yogkumgit commented on #3652
@rohitpc363 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some time

[2021-01-18 14:37] #3652 closed

[2021-01-18 14:44] yogkumgit commented on #3728
@msbemba Thank you very much for the contribution and updating the documentation with PR. @kzbierski Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 14:44] #3728 closed

[2021-01-18 14:56] yogkumgit commented on #3888
@msbemba  Thank you very much for the contribution and sharing this explanation. @Karlheinzrettig Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation upd

[2021-01-18 14:56] #3888 closed

[2021-01-18 15:02] yogkumgit commented on #3887
@msbemba Thank you very much for the contribution and sharing this explanation. @JensStolle Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 15:02] #3887 closed

[2021-01-18 15:06] yogkumgit commented on #3881
@slw07g  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-01-18 15:06] #3881 closed

[2021-01-18 15:09] yogkumgit commented on #3877
@msbemba Thank you very much for the contribution and sharing this explanation. @grzegorzwierzbicki Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 15:10] #3877 closed

[2021-01-18 15:14] yogkumgit commented on #3865
@msbemba Thank you very much for the contribution and sharing this explanation. @JamesEdmonds89 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 15:14] #3865 closed

[2021-01-18 15:17] yogkumgit commented on #3804
@msbemba Thank you very much for the contribution and sharing this explanation. @ClientAdmin Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-18 15:17] #3804 closed

[2021-01-18 17:57] DeanGross opened #3937 "add more content and links to page"
This page seems to be incomplete, there is not any meaningful content or links to the guidance. Please add links to the relevant content

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7bbc51a-dd6a-0f40-9897-61a0f487f72b
* Version Independent ID: 4ca5edf8-26df-8ae9-b572-0cfeea5477f0
* Content: [Microsoft 365 industry-s

[2021-01-18 18:45] JamesEdmonds89 commented on #3865
Hi, sorry just for clarity, what I mean was for the script itself to be written in a way that users can just run the script with a single command or click to connect all services at the same time.

Thanks.

[2021-01-19 12:24] Chamu734 commented on #739
Is there any document to read logs of Export-MailboxDiagnosticLogs -Identity -ComponentName SubstrateHoldTracking

[2021-01-19 15:13] sinnamingrrl opened #3939 "Tenant Level Customer Key Encryption"
[Enter feedback here]
Please confirm if encryption is applied to public folder mailboxes and shared mailboxes in Exchange online as well.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 18803bfa-118a-09ee-947b-abf1ee996b7a
* Version Independent ID: 87179b6d-d917-1aa9-259a-6f2de072c049
* Content: [Customer Key for Microso

[2021-01-19 15:15] joergrenn opened #3940 "What about full access for a mailbox"
Hello,

in the OME FAQ I am missing a statements for the following questions:
- Can users with "full access" permission to a user mailbox (not a shared mailbox) view OME encrypted messages?
- Can users with "send as" permissions send encrypted emails for a user mailbox or a shared mailbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-01-19 15:27] o-l-a-v opened #3941 ""Windows Product ID" can be blanc?"
According to documentation one need following three columns in a CSV:

![image](https://user-images.githubusercontent.com/6450056/105054920-d4545400-5a72-11eb-828b-a9ec56f47b5a.png)

It says nothing about any of the columns being null/ empty.

Looking at the references PowerShell script/ module, ```Get-WindowsAutoPilotInfo``` from [PowerShellGallery](https://www.powershellgallery.com/packages/Get-

[2021-01-19 17:26] msbemba commented on #3933
@arranl148 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3942

Thanks
Sri

[2021-01-19 17:29] msbemba commented on #3897
@clintoj Thank you for your feedback. I tested this on a couple of tenants and The steps seem to be correct and we can see the calendar option under the services. Could you please provide a screenshot of what you see under services?

![image](https://user-images.githubusercontent.com/45987684/105070844-e00f3d00-5aa9-11eb-8cae-db99e70f8a18.png)

Thanks
Sri

[2021-01-19 17:31] msbemba commented on #3899
@danfairscan Thank you for your feedback. There are a couple, One in Sydney and the other in Melbourne. The same has been added to the document.

Hope this helps!

@yogkumgit The Issue can be closed.

Thanks
Sri

[2021-01-19 17:53] samanro commented on #3937
Hi - thanks for the reminder. Meant to retire this and redirect to the solutions index file since it's not needed.

[2021-01-19 18:19] markjjo commented on #739
@Chamu734 Unfortunately, no. I would assume that the SubstrateHoldTracking component is related to and would display information about "cloud-based content (generated by non-Outlook apps such as Microsoft Teams, Microsoft Forms, and Microsoft Yammer) that's stored in a user's mailbox. Cloud data generated by a Microsoft app is typically stored in a hidden folder in a user's mailbox."

[2021-01-19 22:16] chrisda commented on #3403
@ianwright1984, I hear you, and I understand what you're saying. I attempted an update. Feel free to make changes.

[2021-01-19 22:17] emwes opened #3946 "Paragraph in wrong place?"
**Get started with content explorer >
    Prerequisites >
         Permissions >**
          _In order to get access to the content explorer tab, an account must be assigned membership in
          any one of these roles or role groups.

          [A DLP policy can help protect sensitive information, which is defined as a sensitive information type.
           Microsoft 365 includes definitions fo

[2021-01-19 22:34] msbemba commented on #3908
@giterdn Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3947

Thanks
Sri

[2021-01-19 22:35] msbemba commented on #3909
@JLambEJG Thank you for your feedback. I Shall test it with an E3 license and update the document if needed.

Thanks
Sri

[2021-01-19 22:38] msbemba commented on #3924
@sinnamingrrl Thank you for your feedback. You are correct, Tenant level Encryption for Exchange online encrypts the entire service. It means Service encryption ensures that content at rest is encrypted at the service layer. Your data is always encrypted at rest in the Microsoft 365 service with BitLocker and DKM (All Exchange Online content including e-mail body content, calendar entries, and the

[2021-01-19 22:45] msbemba commented on #3927
@sksumner Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3948

Thanks
Sri

[2021-01-19 22:50] msbemba commented on #3865
@JamesEdmonds89 Thank you for your feedback. Ideally, users could use documents like - https://docs.microsoft.com/en-us/powershell/scripting/windows-powershell/ise/how-to-write-and-run-scripts-in-the-windows-powershell-ise?view=powershell-7.1 to understand how to save cmds to a script and execute them. I'm afraid we may not be able to add such instructions to this document.

Thanks
Sri

[2021-01-19 23:28] CMS009 opened #3949 "Disabling EWS connectivity to mailbox breaks free/busy calendar and Report Message Add-In Customization"
Disabling EWS connectivity to mailbox breaks checking other users free/busy calendars.   The free/busy calendar issue appears to be random failures between users.  For example User A can't see User B, but can see User C and D.  User B can't see User D, but can see User A and C.

https://support.microsoft.com/en-us/help/3028900/outlook-or-lync-connections-fail-when-the-ews-protocol-is-disabled-in

[2021-01-20 00:09] markjjo commented on #3716
@testad Article updated. Added bulleted item to "Before you begin" section about inactive mailbox limitations.

[2021-01-20 00:09] #3716 closed

[2021-01-20 00:29] efrene commented on #3893
@jamilhaddadin - Have not heard back, so will close this assuming this is no longer an issue. Please let me know if this is not the case. Thanks.

[2021-01-20 00:29] #3893 closed

[2021-01-20 11:29] yogkumgit commented on #3575
@msbemba Thank you very much for the contribution and updating the documentation with PR. @gemmadev Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-20 11:29] #3575 closed

[2021-01-20 14:42] DeanGross opened #3950 "Request for additional info"
Please provide links to information about how to use Sensitivity Labels for each of the Supported Apps, I can't find anything about how to do this with Stream or Forms,

It's not clear what is meant by the "the following apps support sensitivity labels" could you please elaborate on what this means.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2021-01-20 15:25] woter1832 opened #3951 "When to unassign old license, not clear."
In [step 4](https://docs.microsoft.com/en-gb/microsoft-365/commerce/subscriptions/change-plans-manually?view=o365-worldwide#step-4-reassign-licenses), It doesn't say when I should unassign the old license.

Is the switch just metadata on the backend or is there actual data migration meaning the user needs both licenses applied for a period of time?

e.g. Upgrading a user from Exchange Online to O3

[2021-01-20 19:00] msbemba commented on #3916
@alathrop Thank you for your feedback. I checked with the author and confirmed that we’re no longer supporting Bookings connection to Facebook. We are working with the PM to file a bug to get the button removed.

@yogkumgit There are no changes required in the document and the issue can be closed.

CC: @kwekuako

Thanks
Sri

[2021-01-20 20:47] msbemba commented on #3907
@rickjewell-msft Thank you for your feedback. I'm internally working with the author to make these changes to the document. We will update you soon.

Thanks
Sri

[2021-01-20 20:51] msbemba commented on #3909
@JLambEJG Thank you for your feedback. I can see the Office 365 Extra File Storage option for the O365 E3 subscription. Is this subscription direct with Microsoft or through a partner? I'd suggest you contact Support via the need help section on the admin center and let us know if the document still needs any modifications.

Thanks
Sri

[2021-01-20 21:29] ferringer opened #3954 "Spelling error in Principles of Retention precedence graphic"
The graphic depicting the order of precedence for evaluating the principles of retention has a spelling error. In the second item, "retention" is misspelled as "retenton".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c49609d-3a62-b9be-24bf-f8fa6948d390
* Version Independent ID: df547c86-fbc7-4f87-e893-49d07b045373
*

[2021-01-20 21:30] chrisda commented on #3949
@CMS009, I'm told the add-in apparently uses REST, but will fall back to EWS if REST isn't available. I'm seeking clarification, and I will likely update the topic based on what I'm told.

[2021-01-20 21:38] cabailey commented on #3954
Don't know how we all missed this!  Will get it fixed, thanks for flagging it.

[2021-01-20 22:44] cabailey commented on #3950
The full statement is "support sensitivity labels configured for sites and group settings" - which is subtly different from supporting all settings in sensitivity labels.   All the listed apps and services use Microsoft 365 Groups, which means that they can benefit from using sensitivity labels as part of their configuration.

When you create groups in the apps and services listed as supported, yo

[2021-01-20 23:21] kwekuako commented on #3916
@alathrop thanks for the feedback. We updated the page with a banner stating that connecting to Facebook is no longer supported. The button should be removed from the Bookings app shortly. Thanks.

[2021-01-20 23:21] #3916 closed

[2021-01-20 23:22] kwekuako commented on #3917
@alathrop  thanks for the feedback. We updated the page with a banner stating that connecting to Facebook is no longer supported. The button should be removed from the Bookings app shortly. Thanks.

[2021-01-20 23:22] #3917 closed

[2021-01-21 00:56] tb-mtg opened #3956 "How to i update Mailbox Usage Report"
How can manually force the "Last updated" date to update for the "Mailbox usage" in Microsoft 365 Reports in the admin center?

https://admin.microsoft.com/?source=applauncher#/reportsUsage/MailboxUsage

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e612a4e4-d051-27a7-e54a-bb1ac3fe0849
* Version Independent ID: 653be32

[2021-01-21 12:59] yogkumgit commented on #3937
@ Thank you very much for sharing this explanation. @DeanGross Hope this comment is helpful for you. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-21 13:08] yogkumgit commented on #3918
Duplicate #3917

[2021-01-21 13:08] #3918 closed

[2021-01-21 13:27] DeanGross commented on #3950
Thanks for the explanation that is helpful, but I think that we still need some additional text to elaborate on exactly what happens to the content created by the supported apps when a sensitivity label is applied to a container. For example, how does the Control Sharing from labeled SharePoint sites setting affect Forms and videos in Stream? how does the Access from unmanaged devices affect these

[2021-01-21 15:26] Pulendar opened #3957 "What Happens when user is unlicensed from Power BI, what happens to My workspace saved reports :"
[We have tried internally and confirmed it with Power BI Free license revoking process. It worked for Power BI too. We could see “My Workspace”(Personal Workspace) reports back into the place.
You can add Power BI Product in the below blog. But not sure about the **retention period apply** as same as other MS products.
]

---
#### Document Details

⚠ *Do not edit this section. It is required for d

[2021-01-21 16:32] MrOCanada opened #3958 "Commands don't seem to act on multiple pages"
The Quarantine, when pulling from powershell is separated into multiple pages.
Using the get-QuarantineMessage it seems to only look in the first page.  In a large environment there is no way to easily get every page and release?  This needs to be designed for large environments too.  Even the Quarantine GUI has no search filters for columns.  i.e in the Released column only so result of "no" .

-

[2021-01-21 17:28] chrisda commented on #3958
@MrOCanada, with the [Get-QuarantineMessage](https://docs.microsoft.com/powershell/module/exchange/get-quarantinemessage) cmdlet, can you use the PageSize parameter to increase the number of values per page (max 1000), and the then the Page parameter to see how many pages there are?

[2021-01-21 18:03] MrOCanada commented on #3958
Thanks Chrisda,
I wrote the following to get page per page the hits and release them.  Perhaps an example like this on the page to help people handle mass quarantines.  The Quarantine GUI could really use a filter feature for the columns though.  To sort by Released (Yes or No) would go a long way for those with an environment sized where that GUI is good enough.
My tenant is 40,000+ mailboxes wit

[2021-01-21 18:27] chrisda commented on #3958
@MrOCanada, thanks for the code. For feature requests, please open an issue at <https://office365.uservoice.com/>.

[2021-01-21 18:48] msbemba commented on #3932
@mcox13579 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3960

Thanks
Sri

[2021-01-21 18:53] msbemba commented on #3912
@mevaibhav83 Thank you for your feedback. Currently, we do not have an option to customize the subject. However, this design change has been requested via UserVoice- https://office365.uservoice.com/forums/928576-microsoft-information-protection-mip/suggestions/33556768-allow-customization-for-sender-and-subject-for-cus and you can upvote this design change to be notified when this change goes live

[2021-01-21 19:28] cabailey commented on #3954
Fixed now, closing.

[2021-01-21 19:28] #3954 closed

[2021-01-21 19:53] r-milne opened #3961 "Missing Exchange Free/Busy Flow"
Hi folks,

we have this in the article:

7 | Exchange Hybrid co-existence functions such as Free/Busy sharing. | Customer on-premises Exchange server | Inbound server traffic

That is only service -> on-premises.

There really should also be a separate  line which states the on-premises Exchange servers required outbound TCP 443 to the tenant so that an on-premises mailbox can view the calendar fo

[2021-01-21 22:25] psykokwak4 opened #3962 "Script name specified wrong"
Please fix replace the below wrong script name from `SetupCrossTenantRelationshipForTargetResource.ps1` to `SetupCrossTenantRelationshipForResourceTenant.ps1`.
![image](https://user-images.githubusercontent.com/6261280/105419883-44d6ae80-5bf4-11eb-9f84-46d22a3d7746.png)

Hoping it will get through faster throw issues created against doc team.

---
#### Document Details

⚠ *Do not edit this section

[2021-01-21 23:10] #3899 closed

[2021-01-21 23:28] MyTestingAccountThatIUse opened #3964 "Please update to reflect correct time to remove restrictions"
The last few users I have removed from "Restricted users" have taken over 24 hours to have all restrictions removed.

Please update the tooltip to reflect the maximum time taken to have restrictions removed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c17e50d-aa8f-bd30-66af-ef4d63f02402
* Version Independent ID: 92

[2021-01-21 23:48] adamgourd opened #3965 "Expand to Microsoft 365 scope to include migration of Windows 10"
Great article. It would be helpful to expand the discussion from Office 365 to Microsoft 365 and cover tenant-to-tenant migration for Windows 10 PCs (especially those that are only Azure AD-joined) and Intune.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 78fbba03-39f0-9d11-12b0-b57830942db8
* Version Independent ID:

[2021-01-22 11:59] yogkumgit commented on #3745
@msbemba Thank you very much for the contribution and updating the documentation with PR. @TomasHurtz Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-22 11:59] #3745 closed

[2021-01-22 12:07] yogkumgit commented on #3933
@msbemba Thank you very much for the contribution and updating the documentation with PR. @arranl148 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-22 12:07] #3933 closed

[2021-01-22 12:15] yogkumgit commented on #3897
@msbemba Thank you very much for the contribution and sharing this explanation. @clintoj Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-22 12:15] #3897 closed

[2021-01-22 12:18] yogkumgit commented on #3909
@msbemba  Thank you very much for the contribution and sharing this explanation. @JLambEJG Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is

[2021-01-22 12:18] #3909 closed

[2021-01-22 12:23] yogkumgit commented on #3924
@msbemba Thank you very much for the contribution and sharing this explanation. @sinnamingrrl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-22 12:23] #3924 closed

[2021-01-22 13:23] CClayton000 opened #3968 "Key missing policy? Alert if any alerts are modified!"
I tried looking in the O365 Security & Compliance Alert Policy area, but cannot find the option.  Is there any way to know and be alerted if someone changes an existing Alert Policy?
I know IT and those with access to this area should be well vetted, but the rogue administrator is the main point for some of these existing rules.  What is stopping that rogue administrator from changing the alert po

[2021-01-22 13:50] dkotars opened #3969 "Clarity that Exceptions are considered conditions."
Article states that:

Outlook 2013 and later supports showing policy tips for only some conditions
Currently, Outlook 2013 and later supports showing policy tips only for these conditions:

Content contains
Content is shared
Note that all of these conditions work in Outlook, where they will match content and enforce protective actions on content. But showing policy tips to users is not yet support

[2021-01-22 18:22] EgorEmeliyanov opened #3970 ""Review and edit settings for the Report Phishing add-in""
The section "Review and edit settings for the Report Phishing add-in" can be improved in two ways:

1) The current link to "Services and add-ins" is outdated -- it takes user to the "Org settings" page. Instead, it should be /Settings/Addins ("Add ins" or "Integrated apps" in newer releases). If user follows the link he's never find "Report phishing" in that list.

2) More importantly, in this sec

[2021-01-22 19:01] MSFTTracyP commented on #1096
This has taken a long time, but documentation is beginning to appear such as https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/office-365-evaluation?view=o365-worldwide. Please keep an eye on future developments re. evaluating / trying out the product!

[2021-01-22 19:01] #1096 closed

[2021-01-22 19:34] MSFTTracyP commented on #3076
@Flowl, You need to head to Support to report this issue and also hand them this thread so that they can contact me when the cause is found. This is not a Support channel. While writers can and will do what they can to help you, they cannot usually test or repro your issues and work with you to resolve them. Finally, please take a look at https://docs.microsoft.com/en-us/microsoft-365/security/off

[2021-01-22 19:39] MSFTTracyP commented on #3132
@hetzbh Thanks for your feedback on this. I'll look into scheduling a change to this article, time and workload permitting. My apologies for delays.

[2021-01-22 20:27] markjjo commented on #3968
@CClayton000 You might consider providing this product feedback here: https://office365.uservoice.com/forums/289138-office-365-security-compliance

Also, you might look into creating a custom alert policy using the [New-ProtectionAlert](https://docs.microsoft.com/en-us/powershell/module/exchange/new-protectionalert?view=exchange-ps) cmdlet in SCC PowerShell. Not sure if this will work or not, but

[2021-01-22 20:27] #3968 closed

[2021-01-22 22:27] chrisda commented on #3964
@MyTestingAccountThatIUse, tool tip change = code change. Your best bet for results is to open a support case and/or file a suggestion at <https://office365.uservoice.com/>.

In the topic (which I can fix), the current mention of time says:

So I should change this to say:

[2021-01-22 22:34] chrisda commented on #3949
@CMS009, additional follow-up:

## Exchange Server requirements:

- Exchange Online
- Exchange Server 2016 or 2019

## Outlook client requirements:

- **Windows**: M365 subscription, or Outlook 2019 one-time purchase.
- **Mac**: M365 subscription, or Outlook 2016 or later one-time purchase.
- Outlook for iOS and Android
- Outlook on the web (OWA)
If both the client AND server-side requirements are

[2021-01-23 13:38] flowl commented on #3076
You are working for Microsoft, not me.
You can forward the problem way better than I could do.
I am not the one who is going to beg Microsoft to fix their issues while the ones beeing paid don't care about their product.

You software is broken, you need to fix it, not me. I'm the customer, I paid for the product.
If you pay me, I could try to forward the issue.

[2021-01-24 11:22] denishol opened #3972 "Insider Risk Management with Office 365 E3 License?"
Hi,
we want to use the Customer Lockbox with our **Office 365 E3** license. As stated in the article using **Office 365 E3** and Microsoft 365 E5 Insider Risk Management add-on is not possible. Is that right?

Do I really have to buy **Microsoft 365 E3** in stead of **Office 365 E3** to make use Customer Lockbox?
Just to be clear, I'm not talking about the other features of Microsoft 365 E5 Inside

[2021-01-25 05:46] yogkumgit commented on #3076
@MSFTTracyP  Thank you very much for sharing this explanation. @flowl Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will cer

[2021-01-25 05:46] #3076 closed

[2021-01-25 09:19] flowl commented on #3076
@MSFTTracyP @yogkumgit

It took you almost 4 month to tell me you won't fix the problems with broken DKIM nor are you able to forward the issue to the appropriate department. They can reproduce the steps on their own, I don't have any domains left which aren't yet configured in Exchange.
Why do you think I'm gonna do work for Microsoft with this low level service and, opposed to you, not beeing pa

[2021-01-25 16:16] DeanGross opened #3977 "Required Permissions - Security Operator"
How come Security Operator is not listed in the roles to start an AIR process? is this an oversight?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0e66cb3d-b771-af2b-860f-5355b2178db0
* Version Independent ID: 7ce9307c-ca00-cb47-6978-b9b09c139978
* Content: [Automated investigation and response in Microsoft Defender fo

[2021-01-25 19:19] mswain5278 opened #3981 "User Permissions does not state that only licensed users in O365 can access Shared mailboxes."
Under the section User permissions: it states the following

"You need to give users permissions (membership) to use the shared mailbox. Only people inside your organization can use a shared mailbox."

Recommend it state " Only licensed users inside your organization can use a shared mailbox."
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2021-01-25 19:36] chrisda commented on #3212
Reopening as active bugs were filed on this.

[2021-01-25 20:37] ross-brasseaux opened #3982 "Information regarding creation of new Billing Profiles is inaccurate."
The documentation describes Billing Profiles as a useful way to customize granular billing environments, such as departments within your company. It also states that you can add Billing Profiles from the provided link, which (at least for me) routes me to my Microsoft admin dashboard (which is not where you can add billing profiles). I also examined each page under the "Billing" navigation menu, b

[2021-01-26 02:18] hrfmjp opened #3986 "Is Azure AD Premium license required to modify "group.unified.guest" settings?"
I don't see any mention of required licenses in this article, do I need Azure AD Premium to modify "AllowToAddGuests" of "group.unified.guest"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e00be85-c1bd-bfd9-e09b-78fea811f864
* Version Independent ID: bdfb2aad-6aa8-76a8-46cf-1603f8255df4
* Content: [Prevent guests fr

[2021-01-26 02:21] msbemba commented on #3939
@sinnamingrrl Thank you for your feedback. Yes, Encryption is applied to all contents in Exchange Online including the Public folders, Shared mailboxes, e-mail body content, calendar entries, and the content within email attachments.

Hope this helps!

Thanks
Sri

[2021-01-26 02:40] msbemba commented on #3940
@joergrenn Thank you for your feedback.

1) For full access to a user mailbox -Users can open encrypted messages as long as they are given direct access and automapping is turned ON. We don't support if the access to granted via an email enabled security group.

2) When someone sends an email message that matches an encryption mail flow rule, the message is encrypted before it's sent.

I have adde

[2021-01-26 02:43] msbemba commented on #3946
@emwes Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3988

Thanks
Sri

[2021-01-26 02:49] msbemba commented on #3951
@woter1832 Thank you for your feedback. We have made changes on Step 4.3 via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3989

Meanwhile, When you select Replace existing product license assignment, It removes all existing licenses and assigns the new license. The switch metadata is on the backend and there is no requirement to keep both licenses active (In fact it cannot be as the

[2021-01-26 02:55] msbemba commented on #3956
@tb-mtg Thank you for your feedback. Unfortunately, there is no manual way to force update the Usage report. It usually takes 24-48 hours for this data to be available.

Hope this helps!

Thanks
Sri

[2021-01-26 03:21] msbemba commented on #3962
@psykokwak4 Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3990

Thanks
Sri

[2021-01-26 03:24] msbemba commented on #3964
Thank you @chrisda . I have updated the Document to reflect the changes PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/3991

Thanks
Sri

[2021-01-26 07:41] iovex opened #3993 "can not verify safe document feature based on official document"
https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/safe-docs?view=o365-worldwide

1. SafeDocsDemo.docx
2. SafeDocsDemo.pptx
3. SafeDocsDemo.xlsx

can not verify feature of safe documents due to three test files above dont work ,
need to  use the test files in eicar website to instead.
https://www.eicar.org/?page_id=3950

please update the document in time

[2021-01-26 09:27] davidsrhans opened #3994 "Link to Explanation Types points to wrong page"
Hi, the link to Explanation Types does not have the correct hyperlink behind it.

Currently it is pointing to the Form Processing Overview page https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/form-processing-overview

Instead of https://docs.microsoft.com/en-us/microsoft-365/contentunderstanding/explanation-types-overview

---
#### Document details

⚠ *Do not edit this section.

[2021-01-26 11:48] NeilMcC-1 commented on #1842
I appreciate this issue is marked as closed but I'd like to re-iterate the usefulness of having a breakdown and understanding of what contributes to the HasOtherAction metric. We're a large EDU tenant and student use of Teams jumps roughly 3:1 when including HasOtherAction over existing HasTeamsActivity. In particular, we're trying to identify where Teams is being used at a depth that indicates ed

[2021-01-26 12:55] yogkumgit commented on #3932
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mcox13579 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-26 12:55] #3932 closed

[2021-01-26 14:11] yogkumgit commented on #3912
@mevaibhav83  Thank you very much for your kind feedback. Considering your valuable feedback, as advised please vote for this User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-01-26 14:11] #3912 closed

[2021-01-26 15:17] rpremuz opened #3996 "better explain "Apply the above selection if malware scanning for attachments times out or error occurs" option"
In **Use the Security & Compliance Center to create Safe Attachments policies** step 4 includes the following statement:

* **Apply the above selection if malware scanning for attachments times out or error occurs**: The action specified by **Safe Attachments unknown malware response** is taken on messages even when Safe Attachments scanning can't complete. Always select this option if you select

[2021-01-26 15:17] yogkumgit commented on #3638
@cmcatee-MSFT  Thank you very much for  sharing this explanation. @JGDickerson Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-26 15:18] #3638 closed

[2021-01-26 15:32] JGDickerson commented on #3638
Appreciate the collaboration!  Thank you

JULES

From: Yogesh Kumar <notifications@github.com>
Sent: Tuesday, January 26, 2021 7:18 AM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Jules Dickerson <Julie.Dickerson@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] In seek of confirmation of changes to CC and/or Su

[2021-01-26 15:57] maxst33l opened #3997 "url link broken"
leads to 404:
Configure Privileged Access Workstations (PAWs) for admin activity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b680bb5-de3b-ee83-3764-91695bab77ed
* Version Independent ID: 9c770adf-a66e-ed32-25aa-ffbc46eaef82
* Content: [Microsoft 365 security roadmap - Top priorities - Office 365](https://docs.micr

[2021-01-26 17:26] chrisda commented on #3964
PR approved.

Closing

[2021-01-26 17:26] #3964 closed

[2021-01-26 17:37] chrisda commented on #3996
@rpremuz, done.

Thanks for the feedback.

Closing

[2021-01-26 17:37] #3996 closed

[2021-01-26 21:48] tb-mtg commented on #3956
Thanks @msbemba, but It would be nice to be able to force an updated report anytime after getting some users to clean out their mailbox.

[2021-01-26 22:10] npherson opened #3999 "FAQ says split tunnel doesn't work with browser - still correct?"
I had a customer say that after implementing split tunneling for Teams media that they could finally do Teams Meetings via a browser, but this article says that split tunneling **shouldn't** work for browser clients. Is that entry still correct, or have we made changes in the browser client to make split tunneling work?

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2021-01-26 23:15] cabailey commented on #3950
To clarify, the settings that you can configure in a sensitivity label and then apply to a group or site are not new settings.  They are existing settings for Microsoft 365 groups or SharePoint sites that a sensitivity label bundles together as a single policy. When you publish the label, these settings can then more easily be applied when groups are created in these apps. Planner, Forms, and Stre

[2021-01-27 01:31] cmcatee-MSFT commented on #3820
We are making updates to this article, but there are interdependencies with several other articles that are also undergoing updates, so they will all be republished at the same time.

[2021-01-27 03:19] msbemba commented on #3956
Thank you for the feedback. @tb-mtg This would be a design change request.  I'd recommend you open a new user voice request( Typically all design changes go through the user voice portal) -https://office365.uservoice.com/forums/273493-office-365-admin

Hope this helps!

Thanks
Sri

[2021-01-27 04:07] tb-mtg commented on #3956
User Voice has been raised:

https://office365.uservoice.com/forums/273493-office-365-admin/suggestions/42550636-manual-update-of-mailbox-usage-report?category_id=127975

[2021-01-27 08:29] lightupdifire opened #4002 "Shared mailbox direct logon"
Hello,
Still not clear, is it possible to use Shared mailbox for direct logon only to Exchange Online services, as for example for scanner, can we set up some shared: scanner@domain.com, reset a password via Azure/Admin and add it into scanner settings (same for some web apps, like a ticketing system). I know it is working if we would be doing this and this document informs when to use license for

[2021-01-27 09:10] joergrenn commented on #3940
@msbemba Thank you for providing this information. This makes things clearer.
I am interested in preventing access to encrypted mails to anyone (with full access or delegated) except the one owner of the mailbox. When you say it is "supported", do you know if there is a way to safely prevent access?
I mean based on you answer I could not directly assign users but via a security group. But I assume

[2021-01-27 10:39] yogkumgit commented on #3956
@tb-mtg Thank you very much for your kind feedback and raising User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-01-27 10:39] #3956 closed

[2021-01-27 10:47] yogkumgit commented on #3478
@msbemba Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-27 10:47] #3478 closed

[2021-01-27 10:50] yogkumgit commented on #3477
@msbemba thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-27 10:50] #3477 closed

[2021-01-27 10:58] yogkumgit commented on #3596
@msbemba  Thank you very much for the contribution and sharing this explanation. @lucafabbri365 author confirmed that table in question is removed hence We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-27 10:58] #3596 closed

[2021-01-27 11:04] yogkumgit commented on #3820
@cmcatee-MSFT Thank you very much for sharing this information. @robinpoulose1 Hope this information is helpful, request you please have patience and keep checking. As author confirmed it will be published. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-27 11:04] #3820 closed

[2021-01-27 11:10] yogkumgit commented on #3951
@msbemba Thank you very much for the contribution and updating the documentation with PR. @woter1832 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-27 11:10] #3951 closed

[2021-01-27 11:13] yogkumgit commented on #3962
@msbemba Thank you very much for the contribution and updating the documentation with PR. @psykokwak4 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-27 11:13] #3962 closed

[2021-01-27 11:16] yogkumgit commented on #3939
@msbemba Thank you very much for the contribution and sharing this explanation. @sinnamingrrl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-27 11:16] #3939 closed

[2021-01-27 11:23] yogkumgit commented on #3965
@JoeDavies-MSFT  Please add your comment and help us in resolving this issue. Thanks.

[2021-01-27 11:25] yogkumgit commented on #3913
@chrisda  Thank you very much for sharing this explanation. @Sweggle Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed here to close it.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will cert

[2021-01-27 11:25] #3913 closed

[2021-01-27 11:30] yogkumgit commented on #3958
@MrOCanada Thank you very much for your kind feedback. Considering your valuable feedback, as advised please log this issue as a User Voice. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2021-01-27 11:30] #3958 closed

[2021-01-27 11:58] flowl commented on #3076
@MSFTTracyP @yogkumgit

I contacted support like you suggested.
It's very hard to communicate with them.
I got a reply that says: "Only Microsoft articles are considered source of information" I think Mr. or Mrs. Ola did not visit this GitHub issue. Further He or she says: "There is no bug, you need to use PowerShell". Which means the docs and the Exchange Admin contain wrong information.

I hope

[2021-01-27 14:53] siosulli commented on #3970
I have fixed this links in the [Enable the Report Phish add-in - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/enable-the-report-phish-add-in?view=o365-worldwide) article and it should be available shortly.

Users submissions is already referenced in the what-do-you-need-to-know-before-you-begin section and the view-and-review-reported-messages sections.

[2021-01-27 14:53] #3970 closed

[2021-01-27 15:20] DeanGross opened #4003 "Consolidate similar instructions"
Please do something to consolidate/cross-reference the instructions on this page and those on https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-install-prerequisites#prepare-your-on-premises-data and on https://microsoft.github.io/idfix/

They are similar but different, its confusing to have 3 different sets of instructions about how to prepare for syncing

---
#### Doc

[2021-01-27 15:47] JoeDavies-MSFT commented on #3965
@adamgourd Based on your request, I am now investigating the tenant-to-tenant migration steps for Windows 10 where the devices have a Microsoft 365-based subscription activation and license. I will update the poster and article when I have all the details. As for Intune, the current poster mentions it, but I am working on adding more detail. Thanks for your suggestion as it led to these new effort

[2021-01-27 15:47] #3965 closed

[2021-01-27 16:11] DeanGross opened #4004 "Please update"
I'm pretty sure that there are some new features since September but they are not listed. please update this page to help make it easier for us keep up with the changes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ac42403c-4226-bec2-986d-2e8a67e7c66d
* Version Independent ID: e8e0b323-ee46-f8e7-fe99-cbee91697213
* Co

[2021-01-27 16:13] DeanGross opened #4005 "Unable to enable preview features"
WHen I look at the settings page, I don't see an option to enable preview features. What admin role is required? please update this page to state this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9d5414b-78ef-79a6-7cd3-5f67ee2ae6f9
* Version Independent ID: 617f3b58-2cc2-2413-7a00-eb0ba912a3e8
* Content: [Preview f

[2021-01-27 22:41] chrisda commented on #3958
@MrOCanada, I added your script information to the topic.

[2021-01-28 09:31] msbemba commented on #3686
@cmcatee-MSFT Sorry I missed this. I don't have access to call this number, It is not connecting from India. @ivaydesign Were you able to send the details to cmcatee@microsoft.com ?

Thanks
Sri

[2021-01-28 09:58] ChrisOnSecurity opened #4007 ""Block URL (time-of-click)" - Details"
Details about "Block URL (time-of-click)" are not provided in the table.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 433c88d2-30bd-1e6c-eeb9-1d16b203d4f1
* Version Independent ID: 858e20e0-1e2f-2bae-ed28-da4e1de34c44
* Content: [Remediation actions following automated investigation in Microsoft Defender for Office 36

[2021-01-28 12:21] flowl commented on #3076
@MSFTTracyP @yogkumgit

I reached back at the support and they told me:

Steps you need to do to enable DKIM:

1. Publish DNS
2. CREATE KEYPAIR THROUGH POWERSHELL
3. Enable DKIM

So like I said 4 months before already, your documentation is wrong.

Please fix your documentation. without creating the keypair via powershell, there is no way to use DKIM.
There is no "you can chosoe. from enabling DKI

[2021-01-28 14:01] flowl commented on #3076
The docs have gotten better when you added the "Important" note about "No DKIM keys saved for this domain" on https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/use-dkim-to-validate-outbound-email?view=o365-worldwide#to-enable-dkim-signing-for-your-custom-domain-by-using-powershell

It seems "Publishing DNS" and "Creating keypair" is the same step but they should be differ

[2021-01-28 14:20] msbemba commented on #4002
@lightupdifire Thank you for your feedback. A shared mailbox is not intended for direct sign-in via outlook, ticketing tool, or a device like a scanner by its associated user account. You should always block sign-in for the shared mailbox account and keep it blocked. It is not designed for that and If you would like to use it with a password assigning the license is the correct way.

Hope this hel

[2021-01-28 14:29] msbemba commented on #3994
@davidsrhans Thank you for your feedback. We have made changes to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4008

Thanks
Sri

[2021-01-28 14:33] msbemba commented on #3993
@iovex Thank you for your feedback. I don't think we can refer to the Eicar website as EICAR cannot be held responsible when these files when users download/tests them. I will work with the author and update accordingly.

Thanks
Sri

[2021-01-28 14:36] rpsenski opened #4009 "Small typo"
![image](https://user-images.githubusercontent.com/18269794/106153088-03ce2500-6133-11eb-89fa-59adab578a16.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81ee4664-d4a2-025d-6ec6-1f87b0c5864c
* Version Independent ID: 7d3c0489-b5bd-502e-91f5-297231ef430a
* Content: [Microsoft Productivity Score - Communication - Mi

[2021-01-28 14:39] msbemba commented on #3982
@ross-brasseaux THank you for your feedback. Billing profiles feature as this is only available if you bought your subscription directly through Microsoft Sales. Having said that, We discussed this with the @cmcatee-MSFT (Author) and received confirmation that they are making updates to this article, but there are interdependencies with several other articles that are also undergoing updates, so t

[2021-01-28 14:59] msbemba commented on #3981
@mswain5278 Thank you for your feedback. We have added a note to the document via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4010

Thanks
Sri

[2021-01-28 15:05] msbemba commented on #3977
@DeanGross Thank you for your feedback. We have added the role to the list via PR#https://github.com/MicrosoftDocs/microsoft-365-docs/pull/4011

Thanks
Sri

[2021-01-28 15:08] Hacked505 opened #4012 "Revoke Linking Unauthorized Vendor"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 94b60171-271c-fb93-88bf-0cd9db014541
* Version Independent ID: e9cd207e-0d4c-e268-dd3a-701e1e2df658
* Content: [Manage your allows and blocks in the Tenant Allow/Block List - Office 365](https://docs.microsoft.com/en-us/microsoft-365/security/office-3

[2021-01-28 15:08] msbemba commented on #3972
@denishol Thank you for your feedback. You are correct, To use customer lockbox you need to have Microsoft 365 E3 subscription + the Microsoft 365 E5 Compliance add-on and it does not work with Office 365 E3.

Hope this helps!

@yogkumgit There are no changes required in the document and the issue can be closed.

Thanks
Sri

[2021-01-28 15:14] msbemba commented on #3969
@dkotars Thank you for your feedback.  In DLP policies, Conditions define what to include and Exceptions define what to exclude. You can find more information about that on DLP policy conditions, exceptions, and actions document (preview)https://docs.microsoft.com/en-us/microsoft-365/compliance/dlp-conditions-and-exceptions?view=o365-worldwide

Hope this helps!

Thanks
Sri

[2021-01-28 15:24] msbemba commented on #3941
@o-l-a-v Thank you for your feedback.

1) You are correct, This script uses WMI to retrieve properties needed for a customer to register a device with Windows Autopilot. Note that it is normal for the resulting CSV file to not collect a Windows Product ID (PKID) value since this is not required to register a device. Only the serial number and hardware hash will be populated.

I have added this as

[2021-01-28 15:26] o-l-a-v commented on #3941
Thanks. Please also add to the documentation that PKID being NULL in the output CSV is totally fine.

[2021-01-28 15:28] msbemba commented on #3957
@Pulendar Thank you for your feedback. I see the My workspace item still on the dashboard after removing the license for a user. I will confirm with the author/PG about the retention policy and update the document accordingly.

Thanks
Sri

[2021-01-28 15:58] msbemba commented on #3941
@o-l-a-v Thank you. That is added to the note as well.

[2021-01-28 16:00] msbemba commented on #3940
@joergrenn That is correct. Users with delegated/full access can still access the encrypted mailboxes.

There is a similar user voice request( Design change) - https://office365.uservoice.com/forums/928576-microsoft-information-protection-mip/suggestions/33578686-prevent-fullaccess-delegated-users-to-read-protect and you can upvote this idea and get notified when this change is made available.

Ho

[2021-01-28 16:37] flowl commented on #3076
@MSFTTracyP @yogkumgit

After a phone call with the support things have been solved way easier than by textual communication.

The status quo is, while it was possible in the past to activate DKIM for a custom domain via web interface, it has been disabled during the past year. For the initial setup of a custom domain, **Power Shell is required.**

This is how DKIM for a custom domain is setup:

1

[2021-01-28 16:55] msbemba commented on #3986
@hrfmjp Thank you for your feedback. There is no requirement as such and I was able to test it successfully without AAD P1/2 licenses.

Hope this helps!

@yogkumgit There are no changes required on this document. Please close this issue.

Thanks
Sri

[2021-01-28 17:07] hrfmjp commented on #3986
@msbemba Thank you for your reply. I can found additional information in another article.
https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-settings-cmdlets#template-settings

The Table of "Template settings" section say that AAD P1 required to modify "AllowToAddGuests" property.
Is this description valid for "group.unified.guest" settings?

[2021-01-28 17:43] msbemba commented on #3986
@hrfmjp It does not look like it is valid for "group.unified.guest" settings. I can confirm that this works without AAD P1.

Thanks
Sri

[2021-01-28 17:59] dkotars commented on #3969
No it doesn't. The article I am mentioning states:

**Outlook 2013 and later supports showing policy tips for only some conditions
Currently, Outlook 2013 and later supports showing policy tips only for these conditions:

Content contains
Content is shared
Note that all of these conditions work in Outlook, where they will match content and enforce protective actions on content. But showing policy

[2021-01-28 18:31] msbemba commented on #3969
@dkotars Thank you for the explanation. I shall test this on outlook 2013 and update the document if required.

Thanks
Sri

[2021-01-29 01:47] guido-niku opened #4017 "wrong link"
https://docs.microsoft.com/en-us/microsoft-365/admin/create-groups/office-365-groups

wrong at at "You can administer your groups from the Microsoft 365 admin center or by using PowerShell." it directs to a 404 due to a typo.

correct link https://docs.microsoft.com/en-us/microsoft-365/enterprise/manage-microsoft-365-groups-with-powershell

[2021-01-29 01:51] #4017 closed

[2021-01-29 03:12] chrfox commented on #3763
Please contact Microsoft Technical support

[2021-01-29 03:12] #3763 closed

[2021-01-29 08:10] lightupdifire commented on #4002
@msbemba
Thanks, Sri! Strange that it is not well explained in this document and most advanced IT knows that it is working just fine even without a license... and the sentence "it is not designed" doesn't really say it is not allowed to use this way :) so a little bit confused, especially knowing some setups based on Microsoft docs, where in the Windows Servers 2019 we must follow steps from Windo

[2021-01-29 09:39] Jmartinez589 opened #4020 "Great sample script - Is there one that works for an MFA enabled admin account?"
Many of the sample scripts are great, but many times admins now have MFA enabled and that changes this process completely. These scripts now do not run correctly. Is there an effort to help bring some of these samples to a more secure process (with an MFA enabled account)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-01-29 12:17] yogkumgit commented on #3977
@msbemba  Thank you very much for the contribution and updating the documentation with PR. @DeanGross Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-01-29 12:17] #3977 closed

[2021-01-29 16:54] robmazz commented on #3494
@KCCross  - this is actually your topic, can you take a look?

[2021-01-29 16:56] robmazz commented on #3486
@bigdpnc  - thanks for the feedback, this update will be included in the documentation soon. It is in progress with other feature improvements. Thanks!

[2021-01-29 16:56] #3486 closed

[2021-01-29 16:59] robmazz commented on #3246
@sayanghosh123 - thanks for this feedback, will certainly add if applicable. @msbemba - AUS CELA is reviewing, will add when approved (pending other changes).

[2021-01-29 16:59] #3246 closed

[2021-01-29 17:12] robmazz commented on #3653
@DeanGross - thanks for the feedback, page has been updated for NOV/DEC 2020

[2021-01-29 17:12] #3653 closed

[2021-01-29 17:18] robmazz commented on #3261
@DeanGross - thanks for the feedback, the topic has been updated through DEC 2020

[2021-01-29 17:18] #3261 closed

[2021-01-29 20:12] JoeDavies-MSFT commented on #3446
The kit owner suggests the following:

Another common issue with installation is checking to ensure all memory requirements are met, along with other pre-reqs. Check and confirm:
•	150 GB of free disk space (300 GB recommended)
•	High-throughput disk subsystem
•	16 GB of available memory (32 GB recommended)

Also, check that all clean up and reinstallation steps are covered per the "Lab Kit_20H2_s

[2021-01-29 23:48] mcox13579 opened #4024 "Incorrect screen shot, steps to assign licenses incorrect or obsolete on "Set up SharePoint Syntex" page"
The "Assign licenses" section of the "Set up SharePoint Syntex" page contains an incorrect/obsolete screen shot and the steps documented are incorrect or obsolete.
The "Assign licenses" section specifies step #3 is to "Select **Assign more**."  When I select "Manage product licenses," the right-side panel is displayed as shown below.

![image](https://user-images.githubusercontent.com/12144220/106

[2021-01-31 16:47] pmdci opened #4026 "incomplete documentation and inconsistencies"
Script fails saying that you must connect to Exchange online first. Nowhere in the documentation it explains how to do this. It also says that all it needs is the PowerShell modules for Azure AD, nothing about Exchange.

I do have Exchange Module and I could do the connection before running the script. But then the problem is that it is not clear whether I should connect to source or the target Ex

[2021-01-31 18:52] nitzdaniel commented on #3746
Hi, do we have an update on this? @yogkumgit

[2021-01-31 23:18] yahookevin opened #4027 "A way to apply sensitive labels to M365 groups"
Hi Team,
This is more of a technical query with PNP PowerShell. Please redirect me to the concerned team if this is not the right place.
Is there a way to apply sensitive label to Office 365 group via PowerShell?
I've automated the process of creating SP team sites and want to apply Sensitive labels via PowerShell to the M365 group that gets created.
Many thanks,
Kevin

---
#### Document Details

[2021-02-01 04:50] yogkumgit commented on #3940
@msbemba Thank you very much for the contribution and updating the documentation with PR. @joergrenn Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-01 04:50] #3940 closed

[2021-02-01 04:53] yogkumgit commented on #3785
@msbemba Thank you very much for the contribution and updating the documentation with PR. @LudwigWurmannstaetter Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-01 04:54] #3785 closed

[2021-02-01 05:12] matuhinal opened #4028 "To get started, turn on your location opt-in setting to automatically collect data from devices using Windows Location Services, go to your Locations list to add or upload location data, or have someone run the Microsoft 365 network connectivity test from your office locations."
https://admin.microsoft.com/adminportal/home?#/networkperformance
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9e748ed-63fe-0d00-6b60-c1a778797afa
* Version Independent ID: 3cd66c90-ed09-7c28-7dbb-0a11769f8033
* Content: [Network connectivity in the Microsoft 365 Admin Center (preview) - Micros

[2021-02-01 05:19] yogkumgit commented on #3981
@msbemba Thank you very much for the contribution and updating the documentation with PR. @mswain5278 Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-01 05:20] #3981 closed

[2021-02-01 09:25] webash opened #4029 "Page does not make it clear where custom MMD roles can be assigned"
In many cases, it is preferable to add roles to existing AAD groups. To do so is not clarified in this page. It refers to the 'custom MMD roles' but not where they can be assigned.

According to a support ticket (222597197) this is supposed to be done from the _Modern Workplace Customer APIs_ entry in Enterprise Applications. EDIT: Actually that's not present in our tenant... so I'm not sure what

[2021-02-01 14:59] Pascal-KOTTE opened #4031 "deactivated and not available for Password attack campaigns in the new security console - you reduce features???"
Password attack campaigns
deactivated and not available in the new security console - you reduce features???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fbdcbd5-7bd2-6b55-b72c-cbedfdea776c
* Version Independent ID: 1e6198f8-6ef1-6227-c9e8-f31944a5d1db
* Content: [Attack Simulator in Microsoft Defender for Office 36

[2021-02-01 16:26] jaimeo commented on #4029
@StuEwen , tried to assign this to you, but I guess you don't have the right perms. In any case, can you make edits to clarify the article or otherwise help this person?

[2021-02-01 18:26] chrisda commented on #4031
@Pascal-KOTTE, I suggest that you open a support case and/or an issue at <https://office365.uservoice.com/>.

[2021-02-01 19:39] npherson opened #4033 "Instructions do not work for GCC customers"
Please update this article to call out the steps that do not work in GCC, and provide instructions for how GCC users can leverage the PBIX file and then publish to Power BI Online service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ebdb9f0-76a5-eebc-4cd7-95f5407ed029
* Version Independent ID: 05abf201-e31c-08c0-a7

[2021-02-01 21:11] #3022 closed

[2021-02-01 21:17] #3707 closed

[2021-02-01 21:18] #3826 closed

[2021-02-01 21:18] #3946 closed

[2021-02-01 22:34] msbemba commented on #4002
@lightupdifire Every shared mailbox has a corresponding user account. Notice how you weren't asked to provide a password when you created the shared mailbox? The account has a password, but it's system-generated (unknown). You aren't supposed to use the account to log in to the shared mailbox. More details can be found here - https://docs.microsoft.com/en-us/microsoft-365/admin/email/create-a-shar

[2021-02-01 22:37] msbemba commented on #3686
@ivaydesign I'm currently working with the author to see if we can get this information. Meanwhile, would you be able to share the below information with cmcatee@microsoft.com ?

CFN/TFN/Customer dialing number :
ANI(Caller's number)
Date of call:-
Time of call with time zone
Outgoing/incoming call :
The options you selected in the IVR:- :
Call ID/interaction ID (if available):-

Thanks
Sri

[2021-02-01 22:46] msbemba commented on #3323
@scottyv We have got a confirmation that the users don't need to have licenses for Customer key (individually) and DEP is assigned on a Site level.

Hope this helps!

Thanks
Sri

[2021-02-01 22:47] cabailey commented on #4027
Since M365 groups are an Azure AD feature, I think you could ask your question on the following page to get to the right people: https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/groups-assign-sensitivity-labels  In Next steps I see they have a link to "Manage groups using PowerShell commands" but it doesn't include this information.

However, I asked internally & was pointe

[2021-02-01 22:47] msbemba commented on #4012
@Hacked505 Thank you for your feedback. Could you please provide more information on the changes you need on the document? Is this a design change request?

Thanks
Sri

[2021-02-02 03:12] yahookevin commented on #4027
Thanks @cabailey for your response.
The shared Links help, but I didn't find the way to assign a sensitive label to the group. Using assignedLabels, I can Get the values but not Post or update a group.

[2021-02-02 03:12] #4027 closed

[2021-02-02 07:42] denishol commented on #3972
Thanks for your anwer, @msbemba

Then this info must be wrong: https://www.microsoft.com/en-gb/microsoft-365/business/e5-compliance

Could you please confirm, which of the websites is wrong?

Thank you for your help!

[2021-02-02 10:45] TNwestpointtg opened #4039 "Mistake in the technology"
What do you need to know before you begin section mentions safe links rather than safe attachments, the permissions etc are correct it just references the wrong solution being configured.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0be929ba-8bef-b75c-0475-041bb6ec441a
* Version Independent ID: 358f9e1a-1900-7c8c-814

[2021-02-02 11:20] pgassmann commented on #1521
@mypil Can you reopen this issue and find a solution?

Setting up DKIM should be a simple process verified by the custom domain setup like spf and other dns entries. https://admin.microsoft.com/Adminportal/Home?#/Domains

[2021-02-02 11:49] msbemba commented on #3972
I will test this combination and update you accordingly.

Thanks
Sri
On Tue, 2/02/2021 at 13:13 denishol <notifications@github.com> wrote:

--

-----------------------------------------

Sriraman Srinivasan

If Plan "A" Doesnt work there are 25 other letters:) Stay Cool !

[2021-02-02 12:42] yogkumgit commented on #3323
@msbemba Thank you very much for the contribution and sharing this explanation. @scottyv Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-02 12:42] #3323 closed

[2021-02-02 19:05] chrisda commented on #4039
@TNwestpointtg , looks to be a copy/paste error. I fixed it. In the future, you can too; no need to open a GitHub Issue first. For instructions, see <https://github.com/MicrosoftDocs/microsoft-365-docs/blob/public/README.md>.

Thanks for the feedback.

Closing

[2021-02-02 19:05] #4039 closed

[2021-02-02 19:07] hazemembaby commented on #3856
Hello @msbemba do you have any feedback after checking with the author ?

Thanks
Hazem

[2021-02-02 19:23] ingepepe opened #4046 "Retention Policies vs. Retention Labels with Label Policies"
Under the section: Retention policies and retention labels

I suggest to change:
You can use both retention policies and retention labels with label policies to assign your retention settings to content.

With:
You can configure the retention settings to be applied to you content using either of the following options:
- Retention Policies
- Retention Labels with Label Policies

Reason:
It's way cl

[2021-02-02 19:37] ichkoj opened #4047 "Why you're not posting price for adding additional SharePoint storage?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b31aa550-3d84-95b8-6a74-b3e7ad1cbfe9
* Version Independent ID: 795391d3-aced-e2f3-f52d-034e14fe1aee
* Content: [Add storage space for your subscription](https://docs.microsoft.com/en-us/microsoft-365/commerce/add-storage-space?view=o365-worldwide)
* C

[2021-02-02 20:13] cmcatee-MSFT commented on #4047
@ichkoj  We don't include pricing for any add-ons in our articles, because prices will vary based on locale and currency. The best way to find out how much any given add-on will cost is to look on the [Purchase services](https://go.microsoft.com/fwlink/p/?linkid=868433) page.

[2021-02-02 20:13] #4047 closed

[2021-02-02 20:18] ingepepe commented on #4046
Oh wow, I didn't see that one coming! lol
Thanks for letting me know. I'll look into it.

________________________________
From: Carol Bailey <notifications@github.com>
Sent: February 2, 2021 01:17 PM
To: MicrosoftDocs/microsoft-365-docs <microsoft-365-docs@noreply.github.com>
Cc: Pepe <ingepepe@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/microsoft-365-docs] Rete

[2021-02-02 20:42] MFisherIT opened #4049 "Alterities to the URL pattern of "*cdn.onenote.net""
When reviewing the list of URLs from the Office 365 IP Address and URL web service I found that an address under the common ([Microsoft 365 Common and Office Online](https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide#microsoft-365-common-and-office-online)) service area of **"\*cdn.onenote.com" (ID:51)** did not conform to the regular expressio

[2021-02-03 00:02] Karl-Bridge-Microsoft opened #4052 "Topic is orphaned. Not in TOC."
Is a redirect required?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fad4b3d3-b509-c6c6-e842-b53c68100c4e
* Version Independent ID: ec63705a-7ce3-abf6-5f4f-fe5bc95bc9b8
* Content: [Cortana in Microsoft 365 - Microsoft 365 admin](https://docs.microsoft.com/en-us/microsoft-365/admin/misc/cortana-integration?view=o365-w

[2021-02-03 07:27] lightupdifire commented on #4002
@msbemba
In the last 5 years, for about 1000 users, I have integrated all services from Microsoft 365 E3 license, but before that, I have migrated Exchange 2016 on-premise to Exchange Online, AD DS to AD Connect + AD FS, File Servers to SharePoint Online, SCCM to Intune, user MFA to Conditional Access MFA, data protection to DLP and AIP, on-premise legacy tools to RDS and WVD, so I have noticed A

[2021-02-03 10:04] yutoy1439 opened #4054 "Notification emails do not notify all incidents and status update."
Please include a note in the following text.

========
To sign up for email notifications of new incidents that affect your tenant and status changes for an active incident, select Preferences > Email , click Send me service heath notifications in email , and then specify:

Up to two email addresses.
Whether you want notifications for incidents or advisories
The services for which you want notific

[2021-02-03 11:40] yogkumgit commented on #4002
@msbemba Thank you very much for the contribution and updating the documentation with PR. @lightupdifire Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-03 11:40] #4002 closed

[2021-02-03 11:48] yogkumgit commented on #3994
@msbemba Thank you very much for the contribution and updating the documentation with PR. @davidsrhans Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-03 11:48] #3994 closed

[2021-02-03 12:00] yogkumgit commented on #3982
@msbemba Thank you very much for the contribution and sharing this explanation. @ross-brasseaux Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-02-03 12:00] #3982 closed

[2021-02-03 12:16] yogkumgit commented on #4012
@msbemba Thank you very much for the contribution and digging deep into it.  @Hacked505 We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this document

[2021-02-03 12:16] #4012 closed

[2021-02-03 12:19] yogkumgit commented on #4029
@StuEwen Please add your comment and help us in resolving this issue. Thanks

[2021-02-03 13:27] deeksha-microsoft opened #4055 "Missing detail of Microsoft default settings"
The documentation says " If you prefer, you can also choose to keep the default event threshold levels recommended by Microsoft", but does not give any info about what these defaults are? Please add description/sidenote or link to this info.
https://docs.microsoft.com/en-us/microsoft-365/compliance/insider-risk-management-settings?view=o365-worldwide#indicator-level-settings-preview

---
#### Docu

[2021-02-03 16:00] JoeDavies-MSFT commented on #3759
@DEberhardt I have updated the article with your suggestions and the results of additional testing. Thanks so much for your time and effort to help improve this content.

[2021-02-03 16:00] #3759 closed

[2021-02-03 16:00] TamlinStryk opened #4056 "Broken Template Report"
Hello, it appears that the provided template report has a calendar set to end on 12/31/2020, now that we've moved past that date some visuals of the report are broken.  When trying to extend the date of the calendar I get an error that it's causing "A circular dependency" to be created in the TenantMailboxUsage table.  Has anyone found a solution to this issue?

---
#### Document Details

⚠ *Do no

[2021-02-03 16:24] jaimeo commented on #4029
I believe Stuart made an edit to this article in response to this already.... @StuEwen ?

[2021-02-03 16:27] cabailey commented on #4046
Updated the text to "To assign your retention settings to content, use **retention policies** and **retention labels with label policies**. You can use just one of these methods, or combine them."

Hopefully that makes it clearer.  I opted for bolding the two methods rather than put them in a bullet list that at first glance might look like you have choose one or the other.